interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-11-30T16:09:49Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_sd000001?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001","name":"cli_test_keyvault_sd000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-11-30T16:09:49Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"6ff0a69b-8c04-4618-873e-4a1ee85e5296","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":[],"skuId":"34715a50-7d92-426f-99e9-f815e0ae1de5"},{"disabledPlans":[],"skuId":"26a18e8f-4d14-46f8-835a-ed3ba424a961"},{"disabledPlans":[],"skuId":"412ce1a7-a499-41b3-8eb6-b38f2bbc5c3f"},{"disabledPlans":["4828c8ec-dc2e-4779-b502-87ac9ce28ab7","3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":["e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"09015f9f-377f-4538-bbb5-f75ceb09358a"},{"disabledPlans":[],"skuId":"488ba24a-39a9-4473-8ee5-19291e71b002"},{"disabledPlans":[],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":["0b03f40b-c404-40c3-8651-2aceb74365fa","b650d915-9886-424b-a08d-633cede56f57","e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72","fe71d6c3-a2ea-4499-9778-da042bf08063","fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"],"skuId":"ea126fc5-a19e-42e2-a731-da9d437bffcf"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"}],"assignedPlans":[{"assignedTimestamp":"2018-10-11T19:34:59Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"fe71d6c3-a2ea-4499-9778-da042bf08063"},{"assignedTimestamp":"2018-10-11T19:34:59Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"assignedTimestamp":"2018-10-11T19:34:59Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"5dbe027f-2339-4123-9542-606e4d348a72"},{"assignedTimestamp":"2018-10-11T19:34:59Z","capabilityStatus":"Enabled","service":"MicrosoftOffice","servicePlanId":"fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"}[...]
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "objectId": "6ff0a69b-8c04-4618-873e-4a1ee85e5296", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002","name":"cli-test-keyvault-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"6ff0a69b-8c04-4618-873e-4a1ee85e5296","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://cli-test-keyvault-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azkv-pytest/providers/Microsoft.KeyVault/vaults/pytest-shared-vault","name":"pytest-shared-vault","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002","name":"cli-test-keyvault-000002","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{[...]
[...]
- request:
    body: 'b''{"location": "eastus2", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "objectId": "6ff0a69b-8c04-4618-873e-4a1ee85e5296", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover", "purge"], "secrets": ["get", "list", "set", "delete", "backup", "rest[...]
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-keyvault-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-keyvault-000002.vault.azure.net/secrets/secret1/96360302ff0d4e0685df834aa7199438","attributes":{"enabled":true,"created":1543594202,"updated":1543594202,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cli-test-keyvault-000002.vault.azure.net/keys/key1/create?api-version=2016-10-01
  response:
    body: {string: '{"key":{"kid":"https://cli-test-keyvault-000002.vault.azure.net/keys/key1/80eb6b653df24ef4919acf9523e78c71","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"twy9zqchElsiqArY8yG2P20h7TGMnmTetOt71AVRV13Km_j6kX2GKkt39aXPzioDFb5HBudIWMJ0QbzrzvdxXS89s2EG9ODHdhfAnRMLJc0retADH0MnsUW1EsHKw3yA3zqPyth6L2glEfArDMKLlHelIJZZNCl0lp26n3M5jRQDSjNS5jx79oUn0dJTWlgzTGdtVVhKi8OT39ysHOmj9mHrVJmgvmshf1xFE7djFKJNrshpZJqjcvXRELJCrN8NX2qZFPq-PO_3KYuhsouIT3HGpyhJzor-tYCvb0BA_PYOLgzmc3MpSl_KO13mfS3mU1fe7-N4Z5afqM2UhG0gdQ","e":"AQAB"},"attributes":{"enabled":true,"created":1543594204,"updated":1543594204,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"value": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCrmjt2RBHTAnYd\nk9a7dx/MMD+xcHi/vOspL37YIDGFlC+fu7wdbG6iPeVFnq2DJ8xRRmSRGZmG4IbX\nEc21s/9YbONeZIxa9iRsFJtDMENDcePgIMCjjpg3oMopsZIHGvMiW28LnxG6oUrz\n/W50k3S0e3OCoq6n6PftIllhnFQJRezwMiDzTxr/8pIhaNj+g4niwD+hA+H8jSkf\nfOpUYt4RwhYJ5d0e2+uGKRRBT4VxbyFTl731OwuZqLXkXgr9WMCN6CvTreH/IAjH\nZDsvqOoy6vHa7nNmECYOePnyaNEiJ2w28w4iwCstgdQ4EZZNJPhyGr3d7kYCWrvN\nXGtOeHXzAgMBAAECggEAFmFhIUWIxZUWmTjvfTebcA[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-test-keyvault-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"recoveryId":"https://cli-test-keyvault-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1543594209,"scheduledPurgeDate":1551370209,"id":"https://cli-test-keyvault-000002.vault.azure.net/secrets/secret1/96360302ff0d4e0685df834aa7199438","attributes":{"enabled":true,"created":1543594202,"updated":1543594202,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-test-keyvault-000002.vault.azure.net/keys/key1?api-version=2016-10-01
  response:
    body: {string: '{"recoveryId":"https://cli-test-keyvault-000002.vault.azure.net/deletedkeys/key1","deletedDate":1543594212,"scheduledPurgeDate":1551370212,"key":{"kid":"https://cli-test-keyvault-000002.vault.azure.net/keys/key1/80eb6b653df24ef4919acf9523e78c71","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"twy9zqchElsiqArY8yG2P20h7TGMnmTetOt71AVRV13Km_j6kX2GKkt39aXPzioDFb5HBudIWMJ0QbzrzvdxXS89s2EG9ODHdhfAnRMLJc0retADH0MnsUW1EsHKw3yA3zqPyth6L2glEfArDMKLlHelIJZZNCl0lp26n3M5jRQDSjNS5jx79oUn0dJTWlgzTGdtVVhKi8OT39ysHOmj9mHrVJmgvmshf1xFE7djFKJNrshpZJqjcvXRELJCrN8NX2qZFPq-PO_3KYuhsouIT3HGpyhJzor-tYCvb0BA_PYOLgzmc3MpSl_KO13mfS3mU1fe7-N4Z5afqM2UhG0gdQ","e":"AQAB"},"attributes":{"enabled":true,"created":1543594204,"updated":1543594204,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/cert1?api-version=2016-10-01
  response:
    body: {string: '{"recoveryId":"https://cli-test-keyvault-000002.vault.azure.net/deletedcertificates/cert1","deletedDate":1543594213,"scheduledPurgeDate":1551370213,"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/cert1/44bd40b61d754311bfed5ca8659b4c66","kid":"https://cli-test-keyvault-000002.vault.azure.net/keys/cert1/44bd40b61d754311bfed5ca8659b4c66","sid":"https://cli-test-keyvault-000002.vault.azure.net/secrets/cert1/44bd40b61d754311bfed5ca8659b4c66","x5t":"o_Tvxq71lBKivAE4ZCW3NUqAA3o","cer":"MIIE8TCCA9mgAwIBAgITVgBf0TyogQlh5yI9sAAAAF/RPDANBgkqhkiG9w0BAQsFADAVMRMwEQYDVQQDEwpNU0lUIENBIFoyMB4XDTE4MDYxOTAxMTYxN1oXDTE5MDYxOTAxMTYxN1owGTEXMBUGA1UEAxMOa2V5dmF1bHQtdGVzdHMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCrmjt2RBHTAnYdk9a7dx/MMD+xcHi/vOspL37YIDGFlC+fu7wdbG6iPeVFnq2DJ8xRRmSRGZmG4IbXEc21s/9YbONeZIxa9iRsFJtDMENDcePgIMCjjpg3oMopsZIHGvMiW28LnxG6oUrz/W50k3S0e3OCoq6n6PftIllhnFQJRezwMiDzTxr/8pIhaNj+g4niwD+hA+H8jSkffOpUYt4RwhYJ5d0e2+uGKRRBT4VxbyFTl731OwuZqLXkXgr9WMCN6CvTreH/IAjHZDsvqOoy6vH[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cli-test-keyvault-000002.vault.azure.net/deletedsecrets/secret1/recover?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/secrets/secret1/96360302ff0d4e0685df834aa7199438","attributes":{"enabled":true,"created":1543594202,"updated":1543594202,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cli-test-keyvault-000002.vault.azure.net/deletedkeys/key1/recover?api-version=2016-10-01
  response:
    body: {string: '{"key":{"kid":"https://cli-test-keyvault-000002.vault.azure.net/keys/key1/80eb6b653df24ef4919acf9523e78c71","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"twy9zqchElsiqArY8yG2P20h7TGMnmTetOt71AVRV13Km_j6kX2GKkt39aXPzioDFb5HBudIWMJ0QbzrzvdxXS89s2EG9ODHdhfAnRMLJc0retADH0MnsUW1EsHKw3yA3zqPyth6L2glEfArDMKLlHelIJZZNCl0lp26n3M5jRQDSjNS5jx79oUn0dJTWlgzTGdtVVhKi8OT39ysHOmj9mHrVJmgvmshf1xFE7djFKJNrshpZJqjcvXRELJCrN8NX2qZFPq-PO_3KYuhsouIT3HGpyhJzor-tYCvb0BA_PYOLgzmc3MpSl_KO13mfS3mU1fe7-N4Z5afqM2UhG0gdQ","e":"AQAB"},"attributes":{"enabled":true,"created":1543594204,"updated":1543594204,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cli-test-keyvault-000002.vault.azure.net/deletedcertificates/cert1/recover?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/cert1/44bd40b61d754311bfed5ca8659b4c66","kid":"https://cli-test-keyvault-000002.vault.azure.net/keys/cert1/44bd40b61d754311bfed5ca8659b4c66","sid":"https://cli-test-keyvault-[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-test-keyvault-000002.vault.azure.net/deletedsecrets/secret2?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-test-keyvault-000002.vault.azure.net/deletedkeys/key2?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-test-keyvault-000002.vault.azure.net/deletedcertificates/cert2?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-keyvault-000002","name":"cli-test-keyvault-000002","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002","location":"eastus2","tags":{},"deletionDate":"2018-11-30T16:10:41Z","scheduledPurgeDate":"2019-02-28T16:10:41Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-keyvault-v2wn3n","name":"cli-test-keyvault-v2wn3n","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sdgmmd2ynqk72kliagfb2aqkzobvscitnqo46iqijwg22nhtptf6kniim/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-v2wn3n","location":"eastus2","tags":{},"deletionDate":"2018-11-29T00:09:59Z","scheduledPurgeDate":"2019-02-27T00:09:59Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/cli-keyvault-rgreqrtikan","name":"cli-keyvault-rgreqrtikan","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmt33lmd5u4544loqeb2qp55o4t3yt53fgtrxkxcn4v5efzgkupqpar2/providers/Microsoft.KeyVault/vaults/cli-keyvault-rgreqrtikan","location":"westus","tags":{},"deletionDate":"2018-11-29T01:07:42Z","scheduledPurgeDate":"2019-02-27T01:07:42Z","purgeProtectionEnabled":true}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2016-10-01&%24skiptoken=3ZDRboIwAEX%2fpVn2NKQFdWhiFmPLorMl1BajbwgVsQqGojKM%2fz62z9jbvcnJvcl5gEI19TIvtAHjByDTlZArB4zBoa4vZmzb57iIM3VWRd2L22ulekl5ts11Z5Iqv9R5WRh7mHoKjRLHcuMhtPoe2lue2u0shLw0cSF8TwapfanKW56qytg0T6rSlPu696W%2bo%2fh6qu1UnVSt0r9iPuJLbt06shufOBANLQQtiF5fjO4eS62KidTRmkcLwSX3BYnkSo6CpTzJPZ4jKjIU4AxRvLlTHN67PGBt6nHNCNPzO8dZn4tpw7DvM%2bnPQrHp%2bHDAj7oJxAGHMARvYE1%2bRfwDD5C1pGXtpqGCulQwj7aLT3rUbiCmTiAJYoQgjrXD9XbG5byleEvYsfMoKXg%2bfwA%3d"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-original-request-ids: ['', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "createMode": "recover"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-0[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-keyvault-000002?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-keyvault-000002","name":"cli-test-keyvault-000002","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_sd000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002","location":"eastus2","tags":{},"deletionDate":"2018-11-30T16:10:47Z","scheduledPurgeDate":"2019-02-28T16:10:47Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/deletedVaults/cli-test-keyvault-000002/purge?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNjc5MTkxMDU1MjAzNTA3MnxDNjBDMDk4NjZCMTQ0RDNFODA5QjJFRjlGOTYyQTYyRQ?api-version=2016-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNjc5MTkxMDU1MjAzNTA3MnxDNjBDMDk4NjZCMTQ0RDNFODA5QjJFRjlGOTYyQTYyRQ?api-version=2016-10-01
  response:
    body: {string: '{"createdDateTime":"2018-11-30 16:10:54Z","status":"NotStarted"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNjc5MTkxMDU1MjAzNTA3MnxDNjBDMDk4NjZCMTQ0RDNFODA5QjJFRjlGOTYyQTYyRQ?api-version=2016-10-01']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus2/operationResults/VVR8MDYzNjc5MTkxMDU1MjAzNTA3MnxDNjBDMDk4NjZCMTQ0RDNFODA5QjJFRjlGOTYyQTYyRQ?api-version=2016-10-01
  response:
    body: {string: '{"createdDateTime":"2018-11-30 16:10:54Z","lastActionDateTime":"2018-11-30
        16:11:08Z","status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_sd000001?api-version=2018-02-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGS0VZVkFVTFQ6NUZTREY0S0tZT09ZN1NYUVY0SVRSQlJWWXw3Q0M4Q0U4ODI3QjM3M0MwLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-02-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
