interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-07-12T13:11:14Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"containers": [{"name":
      "clicontainer000002", "properties": {"image": "nginx", "ports": [{"protocol":
      "TCP", "port": 80}], "resources": {"requests": {"memoryInGB": 1.5, "cpu": 1.0}}}}],
      "restartPolicy": "Always", "ipAddress": {"ports": [{"protocol": "TCP", "port":
      80}], "type": "Private"}, "osType": "Linux", "networkProfile": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkProfiles/nprofile000005"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body:
      string: '{"error":{"code":"NetworkProfileNotFound","message":"Network profile
        ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkProfiles/nprofile000005''
        is not found for container group ''clicontainer000002''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests-pt1h:
      - '298'
      x-ms-ratelimit-remaining-subscription-resource-requests-pt5m:
      - '98'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 400
      message: Bad Request
version: 1
