interactions:
- request:
    body: '{"properties": {"containers": [{"name": "clicgp000002", "properties": {"image":
      "alpine:latest", "ports": [{"protocol": "TCP", "port": 80}], "environmentVariables":
      [{"name": "KEY1", "value": "VALUE1"}, {"name": "KEY2", "value": "FOO=BAR="}],
      "resources": {"requests": {"memoryInGB": 1.0, "cpu": 1.0}}, "securityContext":
      {"privileged": true, "allowPrivilegeEscalation": true, "capabilities": {}},
      "configMap": {"keyValuePairs": {}}}}], "restartPolicy": "Never", "ipAddress":
      {"ports": [{"protocol": "TCP", "port": 80}], "type": "Public", "autoGeneratedDomainNameLabelScope":
      "Unsecure"}, "osType": "Linux", "sku": "Confidential", "confidentialComputeProperties":
      {"ccePolicy": "eyJhbGxvd19hbGwiOiB0cnVlLCAiY29udGFpbmVycyI6IHsibGVuZ3RoIjogMCwgImVsZW1lbnRzIjogbnVsbH19"}},
      "location": "northeurope", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroupProfiles/clicgp000002?api-version=2024-05-01-preview
  response:
    body:
      string: '{"error":{"code":"SecurityContextNotSupported","message":"Some SecurityContext
        properties in container ''clicgp000002'' is not supported. Only the \"Privileged\"
        flag is supported."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2997'
      x-ms-ratelimit-remaining-subscription-writes:
      - '197'
    status:
      code: 400
      message: Bad Request
version: 1
