interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"date": "2019-03-06T17:38:50Z",
      "product": "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"date":"2019-03-06T17:38:50Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"osType": "Linux",
      "restartPolicy": "Always", "containers": [{"name": "clicontainer000002", "properties":
      {"image": "nginx:latest", "resources": {"requests": {"cpu": 1.0, "memoryInGB":
      1.5}}}}]}, "tags": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body: {string: !!python/unicode '{"properties":{"provisioningState":"Pending","containers":[{"name":"clicontainer000002","properties":{"image":"nginx:latest","ports":[],"environmentVariables":[],"resources":{"requests":{"memoryInGB":1.5,"cpu":1.0}}}}],"restartPolicy":"Always","osType":"Linux","instanceView":{"events":[],"state":"Pending"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/34b97431-7973-432c-87a0-92c172c96a70?api-version=2018-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests-pt1h: ['294']
      x-ms-ratelimit-remaining-subscription-resource-requests-pt5m: ['98']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/34b97431-7973-432c-87a0-92c172c96a70?api-version=2018-06-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","status":"Succeeded","startTime":"2019-03-06T17:38:54.9731875Z","properties":{"events":[{"count":1,"firstTimestamp":"2019-03-06T17:39:12Z","lastTimestamp":"2019-03-06T17:39:12Z","name":"Pulling","message":"pulling
        image \"nginx:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2019-03-06T17:39:17Z","lastTimestamp":"2019-03-06T17:39:17Z","name":"Pulled","message":"Successfully
        pulled image \"nginx:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2019-03-06T17:39:20Z","lastTimestamp":"2019-03-06T17:39:20Z","name":"Created","message":"Created
        container","type":"Normal"},{"count":1,"firstTimestamp":"2019-03-06T17:39:21Z","lastTimestamp":"2019-03-06T17:39:21Z","name":"Started","message":"Started
        container","type":"Normal"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body: {string: !!python/unicode '{"properties":{"provisioningState":"Succeeded","containers":[{"name":"clicontainer000002","properties":{"image":"nginx:latest","ports":[],"environmentVariables":[],"instanceView":{"restartCount":0,"currentState":{"state":"Running","startTime":"2019-03-06T17:39:21Z","detailStatus":""},"events":[{"count":1,"firstTimestamp":"2019-03-06T17:39:12Z","lastTimestamp":"2019-03-06T17:39:12Z","name":"Pulling","message":"pulling
        image \"nginx:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2019-03-06T17:39:17Z","lastTimestamp":"2019-03-06T17:39:17Z","name":"Pulled","message":"Successfully
        pulled image \"nginx:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2019-03-06T17:39:20Z","lastTimestamp":"2019-03-06T17:39:20Z","name":"Created","message":"Created
        container","type":"Normal"},{"count":1,"firstTimestamp":"2019-03-06T17:39:21Z","lastTimestamp":"2019-03-06T17:39:21Z","name":"Started","message":"Started
        container","type":"Normal"}]},"resources":{"requests":{"memoryInGB":1.5,"cpu":1.0}}}}],"restartPolicy":"Always","osType":"Linux","instanceView":{"events":[],"state":"Running"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body: {string: !!python/unicode '{"properties":{"provisioningState":"Succeeded","containers":[{"name":"clicontainer000002","properties":{"image":"nginx:latest","ports":[],"environmentVariables":[],"instanceView":[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-05-10
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdBQjU3WVI1NFlWTlMyM0k1TVZEMzdVUUMySkczWDNMTTdVVHxCRTA2ODU4NEYwOEY0MjRFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-05-10']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
