interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-21T11:13:26Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliaciidentity000005?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliaciidentity000005","name":"cliaciidentity000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"80ffca72-ba05-474a-99a1-45df799cf374","clientId":"f781f2d8-a59d-4b10-a269-7ecc325dd404","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliaciidentity000005/credentials?tid=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a&oid=80ffca72-ba05-474a-99a1-45df799cf374&aid=f781f2d8-a59d-4b10-a269-7ecc325dd404"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliaciidentity000005
      x-ms-ratelimit-remaining-subscription-writes:
      - '1176'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "tags": {}, "identity": {"type": "SystemAssigned"},
      "properties": {"containers": [{"name": "clicontainer000002", "properties": {"image":
      "alpine:latest", "ports": [{"protocol": "TCP", "port": 80}], "resources": {"requests":
      {"memoryInGB": 1.5, "cpu": 1.0}}}}], "restartPolicy": "Always", "ipAddress":
      {"ports": [{"protocol": "TCP", "port": 80}], "type": "Public"}, "osType": "Linux"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Pending","containers":[{"name":"clicontainer000002","properties":{"image":"alpine:latest","ports":[{"protocol":"TCP","port":80}],"environmentVariables":[],"resources":{"requests":{"memoryInGB":1.5,"cpu":1.0}}}}],"restartPolicy":"Always","ipAddress":{"ports":[{"protocol":"TCP","port":80}],"ip":"13.83.71.254","type":"Public"},"osType":"Linux","instanceView":{"events":[],"state":"Pending"}},"identity":{"principalId":"f5e6d15c-fab1-406e-899e-9c77514476ed","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/c662afd5-84cd-4d36-be27-56a386ff19ae?api-version=2018-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests-pt1h:
      - '299'
      x-ms-ratelimit-remaining-subscription-resource-requests-pt5m:
      - '99'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1119'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/c662afd5-84cd-4d36-be27-56a386ff19ae?api-version=2018-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","status":"Succeeded","startTime":"2019-10-21T11:13:48.6267576Z","properties":{"events":[{"count":2,"firstTimestamp":"2019-10-21T11:13:53Z","lastTimestamp":"2019-10-21T11:13:57Z","name":"Pulling","message":"pulling
        image \"alpine:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2019-10-21T11:13:55Z","lastTimestamp":"2019-10-21T11:13:55Z","name":"Pulled","message":"Successfully
        pulled image \"alpine:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2019-10-21T11:13:55Z","lastTimestamp":"2019-10-21T11:13:55Z","name":"Created","message":"Created
        container","type":"Normal"},{"count":1,"firstTimestamp":"2019-10-21T11:13:57Z","lastTimestamp":"2019-10-21T11:13:57Z","name":"Started","message":"Started
        container","type":"Normal"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","containers":[{"name":"clicontainer000002","properties":{"image":"alpine:latest","ports":[{"protocol":"TCP","port":80}],"environmentVariables":[],"instanceView":{"restartCount":2,"currentState":{"state":"Terminated","startTime":"2019-10-21T11:14:15Z","exitCode":0,"finishTime":"2019-10-21T11:14:15Z","detailStatus":"Completed"},"previousState":{"state":"Terminated","startTime":"2019-10-21T11:13:59Z","exitCode":0,"finishTime":"2019-10-21T11:13:59Z","detailStatus":"Completed"},"events":[{"count":3,"firstTimestamp":"2019-10-21T11:13:53Z","lastTimestamp":"2019-10-21T11:14:13Z","name":"Pulling","message":"pulling
        image \"alpine:latest\"","type":"Normal"},{"count":3,"firstTimestamp":"2019-10-21T11:13:55Z","lastTimestamp":"2019-10-21T11:14:14Z","name":"Pulled","message":"Successfully
        pulled image \"alpine:latest\"","type":"No[...]
[...]
- request:
    body: 'b''{"location": "westus", "tags": {}, "identity": {"type": "UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliaciidentity000005":
      {}}}, "properties": {"containers": [{"name": "clicontainer000003", "properties":
      {"image": "alpine:latest", "ports": [{"protocol": "TCP", "port": 80}], "resources":
      {"requests": {"memoryInGB": 1.5, "cpu": 1.0}}}}], "restartPolicy": "Always",
      "ipAddress": {"ports": [{"protocol": "TCP", "port": 80}], "type":[...]
[...]
