interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-09-24T22:56:22Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"containers": [{"name":
      "clicontainer000002", "properties": {"image": "alpine:latest", "command": ["/bin/sh",
      "-c", "echo hello; sleep 15; done"], "ports": [{"protocol": "TCP", "port": 80}],
      "resources": {"requests": {"memoryInGB": 1.0, "cpu": 1.0}}}}], "restartPolicy":
      "Never", "ipAddress": {"ports": [{"protocol": "TCP", "port": 80}], "type": "Public"},
      "osType": "Linux"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2021-07-01
  response:
    body:
      string: '{"properties":{"sku":"Standard","provisioningState":"Pending","containers":[{"name":"clicontainer000002","properties":{"image":"alpine:latest","command":["/bin/sh","-c","echo
        hello; sleep 15; done"],"ports":[{"protocol":"TCP","port":80}],"environmentVariables":[],"resources":{"requests":{"memoryInGB":1.0,"cpu":1.0}}}}],"initContainers":[],"restartPolicy":"Never","ipAddress":{"ports":[{"protocol":"TCP","port":80}],"type":"Public"},"osType":"Linux","instanceView":{"events":[],"state":"Pending"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/6f5b703f-a410-490a-9591-8a47fac3d399?api-version=2018-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests-pt1h:
      - '468'
      x-ms-ratelimit-remaining-subscription-resource-requests-pt5m:
      - '199'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/6f5b703f-a410-490a-9591-8a47fac3d399?api-version=2018-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","status":"Pending","startTime":"2021-09-24T22:56:26.6482453Z","properties":{"events":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/6f5b703f-a410-490a-9591-8a47fac3d399?api-version=2018-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","status":"Succeeded","startTime":"2021-09-24T22:56:26.6482453Z","properties":{"events":[{"count":1,"firstTimestamp":"2021-09-24T22:56:44Z","lastTimestamp":"2021-09-24T22:56:44Z","name":"Pulling","message":"pulling
        image \"alpine@sha256:69704ef328d05a9f806b6b8502915e6a0a4faa4d72018dc42343f511490daf8a\"","type":"Normal"},{"count":1,"firstTimestamp":"2021-09-24T22:57:09Z","lastTimestamp":"2021-09-24T22:57:09Z","name":"Pulled","message":"Successfully
        pulled image \"alpine@sha256:69704ef328d05a9f806b6b8502915e6a0a4faa4d72018dc42343f511490daf8a\"","type":"Normal"},{"count":1,"firstTimestamp":"2021-09-24T22:58:00Z","lastTimestamp":"2021-09-24T22:58:00Z","name":"Started","message":"Started
        container","type":"Normal"},{"count":1,"firstTimestamp":"2021-09-24T22:58:03Z","lastTimestamp":"2021-09-24T22:58:03Z","name":"Killing","message":"Killing
        container with id e3a0924a578047010b6f61d038ec9b323054422f19d5a13fb2db24213c01a201.","type":"Normal"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2021-07-01
  response:
    body:
      string: '{"properties":{"sku":"Standard","provisioningState":"Succeeded","containers":[{"name":"clicontainer000002","properties":{"image":"alpine:latest","command":["/bin/sh","-c","echo
        hello; sleep 15; done"],"ports":[{"protocol":"TCP","port":80}],"environmentVariables":[],"instanceView":{"restartCount":0,"currentState":{"state":"Terminated","startTime":"2021-09-24T22:58:00.085Z","exitCode":2,"finishTime":"2021-09-24T22:58:03.311Z","detailStatus":"Error"},"events":[{"count":1,"firstTimestamp":"2021-09-24T22:56:44Z","lastTimestamp":"2021-09-24T22:56:44Z","name":"Pulling","message":"pulling
        image \"alpine@sha256:69704ef328d05a9f806b6b8502915e6a0a4faa4d72018dc42343f511490daf8a\"","type":"Normal"},{"count":1,"firstTimestamp":"2021-09-24T22:57:09Z","lastTimestamp":"2021-09-24T22:57:09Z","name":"Pulled","message":"Successfully
        pulled image \"alpine@sha256:69704ef328d05a9f806b6b8502915e6a0a4faa4d72018dc42343f511490daf8a\"","type":"Normal"},{"count":1,"firstTimestamp":"2021-09-24T22:58:00Z","lastTimestamp":"2021-09-24T22:58:00Z","name":"Started","message":"Started
        container","type":"Normal"},{"count":1,"firstTimestamp":"2021-09-24T22:58:03Z","lastTimestamp":"2021-09-24T22:58:03Z","name":"Killing","message":"Killing
        container with id e3a0924a578047010b6f61d038ec9b323054422f19d5a13fb2db24213c01a201.","type":"Normal"}]},"resources":{"requests":{"memoryInGB":1.0,"cpu":1.0}}}}],"initContainers":[],"restartPolicy":"Never","ipAddress":{"ports":[{"protocol":"TCP","port":80}],"ip":"52.160.111.1","type":"Public"},"osType":"Linux","instanceView":{"events":[],"state":"Failed"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"command": "ls", "terminalSize": {"rows": 24, "cols": 80}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002/containers/clicontainer000002/exec?api-version=2021-07-01
  response:
    body:
      string: '{"webSocketUri":"wss://sbz6eoi8nhnxpsq.westus.atlas.cloudapp.azure.com:19390/execstream/sessionId/3020d41e-4ffe-4e12-81a8-6e6fad94f7df?api-version=1.0&rows=24&cols=80","password":"[_-!>}Yn?0=ck#;#$/vb$d)RW[[EOM]]"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
