interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_container_group_profile_create","date":"2024-10-29T15:09:38Z","module":"container"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"containers": [{"name": "clicgp000002", "properties": {"image":
      "alpine:latest", "command": ["/bin/sh", "-c", "while true; do echo hello; sleep
      20; done"], "ports": [{"protocol": "TCP", "port": 8000}, {"protocol": "TCP",
      "port": 8001}], "environmentVariables": [{"name": "KEY1", "value": "VALUE1"},
      {"name": "KEY2", "value": "FOO=BAR="}], "resources": {"requests": {"memoryInGB":
      1.0, "cpu": 1.0}}, "volumeMounts": [{"name": "secrets", "mountPath": "/s"}],
      "configMap": {"keyValuePairs": {}}}}], "restartPolicy": "Never", "ipAddress":
      {"ports": [{"protocol": "TCP", "port": 8000}, {"protocol": "TCP", "port": 8001}],
      "type": "Public", "autoGeneratedDomainNameLabelScope": "Unsecure"}, "osType":
      "Linux", "volumes": [{"name": "secrets", "secret": {"secret1": "c3VwZXJhd2Vzb21lc2VjcmV0",
      "secret2": "bm90aGluZyB0byBzZWU="}}]}, "location": "westus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroupProfiles/clicgp000002?api-version=2024-05-01-preview
  response:
    body:
      string: '{"properties":{"containers":[{"name":"clicgp000002","properties":{"image":"alpine:latest","command":["/bin/sh","-c","while
        true; do echo hello; sleep 20; done"],"ports":[{"protocol":"TCP","port":8000},{"protocol":"TCP","port":8001}],"environmentVariables":[{"name":"KEY1","value":"VALUE1"},{"name":"KEY2","value":"FOO=BAR="}],"configMap":{"keyValuePairs":{}},"resources":{"requests":{"memoryInGB":1.0,"cpu":1.0}},"volumeMounts":[{"name":"secrets","mountPath":"/s"}]}}],"restartPolicy":"Never","ipAddress":{"ports":[{"protocol":"TCP","port":8000},{"protocol":"TCP","port":8001}],"type":"Public","autoGeneratedDomainNameLabelScope":"Unsecure"},"osType":"Linux","volumes":[{"name":"secrets","secret":{}}],"revision":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroupProfiles/clicgp000002","name":"clicgp000002","type":"Microsoft.ContainerInstance/containerGroupProfiles","location":"westus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroupProfiles/clicgp000002?api-version=2024-05-01-preview
  response:
    body:
      string: '{"properties":{"containers":[{"name":"clicgp000002","properties":{"image":"alpine:latest","command":["/bin/sh","-c","while
        true; do echo hello; sleep 20; done"],"ports":[{"pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroupProfiles/clicgp000002/revisions/1?api-version=2024-05-01-preview
  response:
    body:
      string: '{"properties":{"containers":[{"name":"clicgp000002","properties":{"image":"alpine:latest","command":["/bin/sh","-c","while
        true; do echo hello; sleep 20; done"],"[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroupProfiles/clicgp000002?api-version=2024-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
