interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2203634'
      ocp-aad-diagnostics-server-name:
      - ON3EEhW/20kp2jdRuzcrIB6ISFqSfwR4xZWK1GBfKTM=
      ocp-aad-session-key:
      - nWzex4smEdFUWxdhUqSJEEQPxxXvJch3YtzeS7d7M_ClUG0uH1WUbdsJSvjiHuACWkMxfergTH71S9AM3MxHLxWzzQ27uXJHoIQigBfdB_WTbZ4gyZpiQAN1S8CGGqdKCoghB-Q7P_kNSL62OxwgDi04cjg-Pe8t3EHQER3Tl28.qNL2IYrpuwI_KLXYmSfgBxCvfj8VxfIvEKDkhTeiILw
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2284470'
      ocp-aad-diagnostics-server-name:
      - kBih7fSyN4KBVbbQbefvyTLr/UFDpjbEhYoFfqqwsMs=
      ocp-aad-session-key:
      - 1k7K5IczLlMuco8RMK-P2CMU1zTl-1LRnIYZJXqgPRAGxBoKo5HC9cBipjZQHPwQU94bkOVvC3-S8NSIdvphZ9xwvPvks9-Bw63lgTkpZ6UHQRB4H3OrsXNIxxwByDqvj3pQcVxR06rTTl1-cpLTStd31W-6-1wsuVgUMCdxaE4.r_MJrmszPlOYM33Inxr1CnXNe4HNSJsOx-Hq1bKgV_U
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://cli-app-000001",
      "passwordCredentials": [{"startDate": "2020-09-15T03:17:56.165419Z", "endDate":
      "2021-09-15T03:17:56.165419Z", "keyId": "4c2a6ada-1196-498e-aa38-823c2821fe96",
      "value": "ReplacedSPPassword123*", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "cli-app-000001", "identifierUris": ["http://cli-app-000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "b960c60f-6750-44d4-bdb2-33db48f248b0", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "7411fe26-47b0-46ce-8c5b-02e94a0add1e",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-app-000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://cli-app-000001", "identifierUris": ["http://cli-app-000001"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/b960c60f-6750-44d4-bdb2-33db48f248b0/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/b960c60f-6750-44d4-bdb2-33db48f248b0/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-app-000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-app-000001", "id": "a5fbfde8-2ba5-44f7-a810-26391733138b",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-app-000001 on your behalf.", "userConsentDisplayName": "Access
        cli-app-000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "//5yAGIAYQBjAA==", "endDate": "2021-09-15T03:17:56.165419Z",
        "keyId": "4c2a6ada-1196-498e-aa38-823c2821fe96", "startDate": "2020-09-15T03:17:56.165419Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "AzureSDKTeam.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5462843'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/b960c60f-6750-44d4-bdb2-33db48f248b0/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - sywj8B5d0uAw4J6mf9JESEq21GxatVWlQa3kTZETvlw=
      ocp-aad-session-key:
      - wO3M1dPfEv42GBIoYXhe4hWUID-rdz2ameUOiioSMU0my_0UVdd85Ci8fpqczJDhJ_OD1FBtDt_Mxw7rYyFba95H73wM4kjXC4ogGF84SCn-DxSZNg8LULBreqfmXH3h_B8nsjilDaa7rRJVOY-lPtjiOkQut-m335afVkEbrYg.926NtvLpFggRrsVT7gv_jV2pK9PQlF0_FfRMCOoKrEs
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "7411fe26-47b0-46ce-8c5b-02e94a0add1e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"6e62d92a-5a71-4c29-af9b-b7cc975f1263","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"7411fe26-47b0-46ce-8c5b-02e94a0add1e","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"a5fbfde8-2ba5-44f7-a810-26391733138b","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["7411fe26-47b0-46ce-8c5b-02e94a0add1e","http://cli-app-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3578983'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/6e62d92a-5a71-4c29-af9b-b7cc975f1263/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - VFgy0BpcGPJkcBnVK1akG2UpmtcFmc5BCxVLJZmLtYM=
      ocp-aad-session-key:
      - L4TYgrcX26EGVBhZhM_-eJUrQwpzsrkNwaWkfEPORN8CHutq6lYWdgDk4tRQQxA4lIXdW8ZyyQE7E8bC7V-LmxE6jhe0y9bGdKF9F8bl1ifMJOVm5AtDk8ew4c-t7FwTUPKDGs5gF0oe9S7gb5WJtDvn_NdwbkwJaINDjhnyJfk.3rQaV2Jk1kdSqoZRVPjvmDVFUtYWUTEmCYjBL07_I2A
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%277411fe26-47b0-46ce-8c5b-02e94a0add1e%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2219339'
      ocp-aad-diagnostics-server-name:
      - QLi1KG93IaDPqsnsaNkQfgqnRRMqXMRFxcc/nwwwahk=
      ocp-aad-session-key:
      - hW4L_dUzUu4hoGlks2sjR_vQWSZrNbYcWofk6DauOMaKM5VBd-3o0gaGcLPnCLbsFf9bbz3SzeKz6iFPE0lNo3uk8es_-1IIYmgH6-ts_WPmBt0RR7TQZrzYU5bNt-OJcQ88xh-2_AgESN1YIIabAhahKmzjwvnQ9sKC1rl_T3E.ZtOtost27Xz-TKo9CB4-_TQH94ZF91PFUEjUx1JYxFE
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%277411fe26-47b0-46ce-8c5b-02e94a0add1e%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"b960c60f-6750-44d4-bdb2-33db4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/b960c60f-6750-44d4-bdb2-33db48f248b0?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"b960c60f-6750-44d4-bdb2-33db48f248b0","deletionTimestamp"[...]
- request:
    body: '{"requiredResourceAccess": [{"resourceAccess": [{"id": "a42657d6-7f20-40e3-b6f0-cee03008a62a",
      "type": "Scope"}, {"id": "311a71cc-e848-46a1-bdf8-97ff7156d8e6", "type": "Scope"}],
      "resourceAppId": "00000002-0000-0000-c000-000000000000"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/b960c60f-6750-44d4-bdb2-33db48f248b0?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '4523452'
      ocp-aad-diagnostics-server-name:
      - 6sefrbwjEnLiuPVqSE8CNdgE3jZeyuKw+YvzR5MjvEY=
      ocp-aad-session-key:
      - 30GAygWpkp_23eZx7eJUj5FFV2rlh5DnG_yAK6OSGo5-E1tnWYVxSorJGk9NkDnw4xUVroYc6jj6OrtOlt13Jeh5YICwo_eJLRjBMRFKz1L0aVjsBpBYkOxdYapYOdZo_AGLFlfLJqQ8ASNbGqfV5YDrfcP07NqtGHzikyZjetU.V_olQwLWRr3wQOqAE2P5ZuX1Yl4p39NWsfa1n0d1X1Y
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%277411fe26-47b0-46ce-8c5b-02e94a0add1e%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2700000003-0000-0000-c000-000000000000%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"a3efc889-f1b7-4532-9e01-91e32d1039f4","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Microsoft
        Graph","appId":"00000003-0000-0000-c000-000000000000","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read your organization''s conditional access policies, without
        a signed-in user.","displayName":"Read your organization''s conditional access
        policies","id":"37730810-e9ba-4e46-b07e-8ca78d182097","isEnabled":true,"value":"Policy.Read.ConditionalAccess"},{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read, create, edit, and delete all the short notes without a signed-in
        user.","displayName":"Read, create, edit, and[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?$filter=clientId%20eq%20%276e62d92a-5a71-4c29-af9b-b7cc975f1263%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2990025'
      ocp-aad-diagnostics-server-name:
      - 0ZbuF/yYBA1CXgEt1RbGoyPTKRzrWs3Qz6WDALDz5eY=
      ocp-aad-session-key:
      - p64VeKMt-oqlRBPUmeB-RvBtC2hb8a7kEJZaZV5jeXBhzcDtfeRSH1OoYkIubZOqcadqnnwJgOgKW1lV2LtJblK5yL2DZ_cTXXVmDJTMOyjsvuRsecW5hJjkICoYarmbyWvc0e7hD64hbZB2mJ0aKPXbHd3fv08bF8ygrJpIm14.NUsBA-7PidbqQSGBokKaa6aNcYa4CDDTvEQW2VtMpRQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
[...]
