interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/example%40example.com?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"6d97229a-391f-473a-893f-f0608b592d7b","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2020-08-19T08:27:34Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"rolelivetest","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"rolelivetest","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2020-08-19T08:31:27Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/6d97229a-391f-473a-893f-f0608b592d7b/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"example@example.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2472252'
      ocp-aad-diagnostics-server-name:
      - BNuiUVgqyqWL8WXz7aIwZ6ptHtld0fHfXcy/OdZBqHQ=
      ocp-aad-session-key:
      - bpoop0ZoldJB9zJr6sMDHtyLAOQc-00NdL2-TgsHU2hOtrTCvEx2zZ5y3mxeZfoG1WZIZpRVAsYUXB84YkQ611ICYcl0sy6dgTF-VGDRKIeOONynKXWk1n7Y63L1E239qqG5WDa4VAoVPyuiXCDw-afcnpJINm0bFWaq3PUk4xc.yrYTkW2gdXfONK-Oy3K6hVmq8CnG177Fif4hepA96wk
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fsp000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2157879'
      ocp-aad-diagnostics-server-name:
      - mLFv5iEcu0ZFLhgcUh+01kFjJRXqF0zQox5e53xuxjc=
      ocp-aad-session-key:
      - 9rwsVTPqTHSEnhf7oJBu0bPO6Ksp2OpJ3iaulmRkWvlX76zgSGKc1awpzMTYoqJkuyWO5Tkxnc05gS7TqYfMs5bX1-kkPe06f-R58QZklpCSKzjjosZJWRJ2g-JeJr-GhAzRtzjYdQWTMv7NOK9yQXVPdDTBEvFb-Tz9ga-FMbw.tOY9agNkc1aEKJLzdtbs3RXofkAsYbWGkyvhR_-RFFg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27sp000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3178015'
      ocp-aad-diagnostics-server-name:
      - iuFONCDuOWoJ730FHlBCSiE3tw5MP6Gp0oI38Zgl2ys=
      ocp-aad-session-key:
      - 7m5DJ6A80yuuE5I3l31r8gDiod2i-5bdBpAX8FrlceTfkGqWJKsnqUZKjZecXcTf8Y6cFHi5nRxOJW6_Iv28FtOTQ8e8XgOor3gCQJp7uoOCbXWUANxtuzcB5ZH1lYDlaZWp51UvfoZeUF61ubpIpK6RGWhu4u8o272emjZrrcw._IttY-IBUXSJmSkODZvlAyChIRX3u2mWRfvSZHFwSfs
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://sp000001", "passwordCredentials":
      [{"startDate": "2020-08-21T06:26:19.489537Z", "endDate": "2021-08-21T06:26:19.489537Z",
      "keyId": "c685856f-515c-42c3-947c-ccffbe358463", "value": "ReplacedSPPassword123*",
      "customKeyIdentifier": "//5yAGIAYQBjAA=="}], "displayName": "sp000001", "identifierUris":
      ["http://sp000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "e07f9864-2b76-4d5f-b020-e30a26a00605", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "492b24e8-9439-4351-809f-23201f1cdd6d",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "sp000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://sp000001", "identifierUris": ["http://sp000001"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/e07f9864-2b76-4d5f-b020-e30a26a00605/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/e07f9864-2b76-4d5f-b020-e30a26a00605/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access sp000001 on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access sp000001", "id": "3709e78d-b448-4bdd-98f4-062d0fdc6fa8",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access sp000001 on your behalf.", "userConsentDisplayName": "Access sp000001",
        "value": "user_impersonation"}], "oauth2RequirePostResponse": false, "optionalClaims":
        null, "orgRestrictions": [], "parentalControlSettings": {"countriesBlockedForMinors":
        [], "legalAgeGroupRule": "Allow"}, "passwordCredentials": [{"customKeyIdentifier":
        "//5yAGIAYQBjAA==", "endDate": "2021-08-21T06:26:19.489537Z", "keyId": "c685856f-515c-42c3-947c-ccffbe358463",
        "startDate": "2020-08-21T06:26:19.489537Z", "value": "ReplacedSPPassword123*"}],
        "publicClient": null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "recordConsentConditions":
        null, "replyUrls": [], "requiredResourceAccess": [], "samlMetadataUrl": null,
        "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6483956'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/e07f9864-2b76-4d5f-b020-e30a26a00605/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - h7edYItBOqmzKP3Y74JmNom0QZ38AnpuhODxgGcAWl8=
      ocp-aad-session-key:
      - XTAyKqrj1Xs4zOIqQMzrw54H_YZI5XrbTRZviCmxw5mH9VTPF85GIs7Csdb-9zFvgJobpoYgD5tj5RpE_lyuRwZwVmMRW7l4BgM46GOvcJHQz2STUUQ8XnL83VNZeNB4uBw3juwDyfKJ-LnP7_bQptgRlHkuHnaXN3fvZ51ZD90.8H16k_fI7ok40sV8tdJi7mB87At3oCPAvEy-vfalr80
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "492b24e8-9439-4351-809f-23201f1cdd6d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"89e3dc63-aee6-4546-80f4-e08e960a766c","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"sp000001","appId":"492b24e8-9439-4351-809f-23201f1cdd6d","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"sp000001","errorUrl":null,"homepage":"https://sp000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access sp000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        sp000001","id":"3709e78d-b448-4bdd-98f4-062d0fdc6fa8","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access sp000001 on your behalf.","userConsentDisplayName":"Access
        sp000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["492b24e8-9439-4351-809f-23201f1cdd6d","http://sp000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6848148'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/89e3dc63-aee6-4546-80f4-e08e960a766c/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - fO/EiltdykLf6ynyxPET2H/0CBP5qhulGQns5iUgByI=
      ocp-aad-session-key:
      - AUwZBJ423pt_uJEDGqlU1zreQv4riO6x9-j-04Bkc_MLhGFam_qQ1Y4mgylRj5XcKpPebRWhU33RO1omAr8jba0tKUhtXH2daQc20ndv8Bo-v_jkPsAmto5u-SfL5wDCk9FbUYalp1v2nEMjrKOMEI-xmCBV18M6yGoQsuQy3tw.XTWr3EeCtwGXy-0T-M6Sa40zBzjOlShK5RGGsExv57A
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27492b24e8-9439-4351-809f-23201f1cdd6d%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2144860'
      ocp-aad-diagnostics-server-name:
      - 111y7HzMkoF7ETvCpr8Oy05nl+w+YtkaVR6AK6LH4Ao=
      ocp-aad-session-key:
      - lccgSF0uGnJ-JvDduTzU_ZcGeAjOAOcXy_ySNaSYpCgu8Z8xzCV9ntcw_WpVdQnPWhAhlWCe7W4TEiY591UNN-hVHoVmrLYXQW6g04zlTntEndqztc6Iw8L6YZwZp4dotrCGfrcSK-n-uCVdze6HauoKvYjBoPngRlTtJyTf5is.ifIa-OYOP66aASMihxQa4bhC8RDwNaCA6n5Kb4kpqrg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27492b24e8-9439-4351-809f-23201f1cdd6d%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"e07f9864-2b76-4d5f-b020-e30a2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/e07f9864-2b76-4d5f-b020-e30a26a00605/owners?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2315508'
      ocp-aad-diagnostics-server-name:
      - QtBJJ5E9Bvso6Zzt9WgRZ3ByUgjPy3/59XCAA/+7Wg4=
      ocp-aad-session-key:
      - YyUFMm3e2h6M61ocj16jiMBFsOk5DenawOt7YqA2FLH9F-mn7OqGbjJ5c1JWhYgRMhC-cOfxmw468kE-K3g0qz82yThcUFdfpWeaadNjLV2vPYJKLM22M1gQuHw1EQvRHUSkcv_jHZhGCnyEXwJdGazbbbb3DPjT3dIQ3DkDnf4.3RgVfqpSztb7P85p7Z9cWzV14CCsT7tQFB8Lbt8cuMo
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"url": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/6d97229a-391f-473a-893f-f0608b592d7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/e07f9864-2b76-4d5f-b020-e30a26a00605/$links/owners?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '4992391'
      ocp-aad-diagnostics-server-name:
      - ZtjrL6855/1nWsQgXw4059xGL7CEBjwxyLJieTbtGTs=
      ocp-aad-session-key:
      - IMpE0oeD4bU5fzCxdvVm98PNSggcoRO_bYrxwDH0-45mGFSwuUjAbpHnSQ7S5LMb3nNLBgVzrvz1253EwnAxlYFH4qKorimnW-i2JJAVpNuXr4zEgNtTsW8BNmrHvgYsgWCJuJR6XBHjZqzjCK_IOCEt5YRmMc85jZfu1d9LKZk.sZ9S5EAZxPRPdvcyHRb-G50_LSdE7c-cXAYfBBrdW1Y
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/e07f9864-2b76-4d5f-b020-e30a26a00605/$links/owners/6d97229a-391f-473a-893f-f0608b592d7b?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3090331'
      ocp-aad-diagnostics-server-name:
      - QE46OP7QH9b9YEig+PQuzvbDRWQ4hRBhkwALGVrMwDo=
      ocp-aad-session-key:
      - yWbJNbFKGgydx9gwFU_sJlxKE8T6fJJxzQFW2wNVB-wIPpb-Aql0z8lFiKt52XaKcI7M__xmhamITyAsORfz3lkiHPfjW_HUj5XA9Pbax-bNcd2mi16QtOqBUvgHNAJndlylmdJG8IqIRgJVDQIVUTPzXj-CGhP8fzvc8mXXrUY.baGwJWO_nM0wMUzW43HmEpE2S6IAIVHHH_5W8hIAqLM
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27492b24e8-9439-4351-809f-23201f1cdd6d%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/89e3dc63-aee6-4546-80f4-e08e960a766c?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"89e3dc63-aee6-4546-80f4-e08e960a766c","del[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%2789e3dc63-aee6-4546-80f4-e08e960a766c%27&api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/e07f9864-2b76-4d5f-b020-e30a26a00605?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3984868'
      ocp-aad-diagnostics-server-name:
      - s8b3SINXiq4yUQ7D+hkzg34bDluxs7CTY+E2hkr8Adc=
      ocp-aad-session-key:
      - Qtm61F83mo8tmhcRj-go17ts4YTyprkP6O_l2Esmxtyj9G5Tgdc-3aQJ-esS9tzK6BTdrhNgi7t2c4d9OVBmxIVOLrgiXNz_Rusy_ZRq5p-VHr6JhqSgjCqNu_TFmsOj-pBhtks0bZV9ViHG3AtTFVapal49Yx6x_oz8EDryKWc.PlyPrnP4CusX0XzGt0ozQcVc_LmCgK7x7BYXwk0aLRM
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
