interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-native-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '761238'
      ocp-aad-diagnostics-server-name:
      - JDqfE0DjS2tGdaiNOTO9MjQHP2bVm0zL0m8xNzHjOvk=
      ocp-aad-session-key:
      - lv12ymnAA231pycny7bUVxB2y_7I2KuelsE1NQUNHqwRA03qQWzEBxQZApVTkj5VZhuKLtNG94iMLVek3jYr_PUODeNpBLglAT1aUexkNNMZFod03-MieOfL_U33HAyD.quls6NNLe5TlWqRS2uPlHdsaXC4O2LV80DUoa3ztV84
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "requiredResourceAccess": [{"resourceAccess":
      [{"id": "5778995a-e1bf-45b8-affa-663a9f3f4d04", "type": "Scope"}], "resourceAppId":
      "00000002-0000-0000-c000-000000000000"}], "displayName": "cli-native-000001",
      "identifierUris": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "96f7b50b-b3a6-4870-a79a-dd811f8a4749", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "d39fdca8-cc76-4313-97d9-61d82df631c9",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-native-000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": [], "informationalUrls": {"termsOfService":
        null, "support": null, "privacy": null, "marketing": null}, "isDeviceOnlyAuthSupported":
        null, "keyCredentials": [], "knownClientApplications": [], "logoutUrl": null,
        "logo@odata.mediaEditLink": "directoryObjects/96f7b50b-b3a6-4870-a79a-dd811f8a4749/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/96f7b50b-b3a6-4870-a79a-dd811f8a4749/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-native-000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-native-000001", "id": "128c1624-dea8-44d7-b0e1-77e06d8fc259",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-native-000001 on your behalf.", "userConsentDisplayName": "Access
        cli-native-000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [], "publicClient": null, "publisherDomain": "phsignor.onmicrosoft.com",
        "recordConsentConditions": null, "replyUrls": [], "requiredResourceAccess":
        [{"resourceAppId": "00000002-0000-0000-c000-000000000000", "resourceAccess":
        [{"id": "5778995a-e1bf-45b8-affa-663a9f3f4d04", "type": "Scope"}]}], "samlMetadataUrl":
        null, "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3385729'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/96f7b50b-b3a6-4870-a79a-dd811f8a4749/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - 2W5HDaIWgek0DwG/EcA8AePTyS/nAbnqTiT+3S72f8g=
      ocp-aad-session-key:
      - E5ZAq1Ev3WW6ISLrWcYyY0VBzzOO28aNNoNB98RkgkbYmN0crV3quBEOWmef0UogeAm4HrDJPp7eZ1pjrQD5yPh6Y7Bl-cmno7iu3pN15ldVmMaaVVRM54JDrxHDHbiXrDw4hPXRNfGW_shQRuuFXK78ZAa3ZH75674PsP7Dljtj_B1bTJL47pNjHGKKSqfEW9v8UbdN8HKVAN85C5Gu_g.H3XWlmXJOqDyKqPAolptjnZIZs8AKk2NZoaTwdI4kPw
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"publicClient": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/96f7b50b-b3a6-4870-a79a-dd811f8a4749?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '1465045'
      ocp-aad-diagnostics-server-name:
      - gUgxSdYCq4wlc3TCVMPXTjUoGFVVgHhxWQ1bGvTX5vc=
      ocp-aad-session-key:
      - 0Dd76jK9IkrQuiYL4xCrPKpdJfWzOUYrdAUqZr32xoudrSZ5dgKIAJFrLskeZXs8p9A8GAhV5JaV6Pw0Ep09xijPtz5njV5GZlOKyYsAbx7eB60-rvf3pqMIMQb0Ok0dS2_ONVFphx5d9rR-5pGRiu3O6pHLQaMdmXMRgIkyElRg00Gm1yJgOGRRa73wjVrU00Sv2aYP1OdcMu6CD84Y7w.WKwapmwbWFpqLvq8G21Mw6WRMOPtCP2Qx-rSivH6oR0
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27d39fdca8-cc76-4313-97d9-61d82df631c9%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '381812'
      ocp-aad-diagnostics-server-name:
      - vJwp33qD7UhJNtK3ynAVdrkGLUWPSnHpcAXGJSy0ANw=
      ocp-aad-session-key:
      - I56e2gziThV-1_6vZjKyhoXLh_ytiZVdP4fhzU0mOHJxiQlAKxaGOcNxs4h3uZfcQh7-KnxT496Dynagh8hfYdlVhNHa0Jydn_XkrD14B3XpX9nzMhlZznfJbp56j77rQ7z6EBe5r7U-yTqseJsoUgJxQ_JFFlWD_i_4s-8UD56ku8BGpeAp3_dHitSfU6DCGzr6iAyw5MtRNCQp1OmvQg.Qjeht8pk4K84GyArS3wCiSlPnkNw2785aaGuKPbYbBs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27d39fdca8-cc76-4313-97d9-61d82df631c9%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"96f7b50b-b3a6-4870-a79a-dd811[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/96f7b50b-b3a6-4870-a79a-dd811f8a4749?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '1288869'
      ocp-aad-diagnostics-server-name:
      - FyisRTdanYeFgxkZYPR/DtbJVFOdx7eEqsAteCE10ow=
      ocp-aad-session-key:
      - uLc4_tAbzg54NDyRLa_77zAds0zmi2cIfIR94kgQSWsGAAi239UPM0b67WyO82_SCARHEjfb2286QJUk_tbJ2e3IRu4ZU_nc_Z2OMEWfGUBNZixknhhSCBNpfDKJfOa8_6MTQhCqMQ6INONTw8_-y48HMBd0-73IoyVz7IbY7x2O1VwNAJVZKYc153SQ9UXs27RcVll1G8AGhP5s3nOEdA.PKD8tOGTzMJdGHa0LmMf_rPSBr-GT1AfkoqxJSl_sc4
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
