interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclisp-test-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2327279'
      ocp-aad-diagnostics-server-name:
      - 3zCXtmn1swhKoQrHm0puOnmVT0BlNpULTMcWZuz6e50=
      ocp-aad-session-key:
      - S9_YRLL7s8mjEXQ4ec2NnMnMQFKQknIqmdMONQMnn0f3sLrwwif2-_scvpks52JgxqP70v-1skS1TBVPD4Ssba6zMogE3wo5MjgCaWGWMI5OBovrithTZBHhDlJ6_BULbiK8wyKfGm-6TGKF1IsFdA.06uhw3udajc7lLk_qV05tKgrLKD-XIu1oE_2L4SFP9A
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clisp-test-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2320694'
      ocp-aad-diagnostics-server-name:
      - 0Tx2hAAAj452VzreBCaDWXGZxqKH2vtS4n1JGBmeb2k=
      ocp-aad-session-key:
      - WEzbuernjRcaALoUTvZqLAtsa_vB_MWPNa-6iKzfnsg98brNeB_yWI9Z_rXKIwQmxQBWSIqSQUu9C7hi1sffiU6S09ssdLDcjglXholHr7ENsTCff-q3iuY4JrTBnGeTHzx4ywzQwiwQOrSLdlAxQg.CgaR-yCBoXrtxyt7F6dahH7UYB9YX2SqQRx4okpDkPQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://clisp-test-000001",
      "passwordCredentials": [{"startDate": "2019-09-27T07:30:09.768164Z", "endDate":
      "2020-09-27T07:30:09.768164Z", "keyId": "8b16e1d1-e4a8-4b86-8400-c8a6814ded53",
      "value": "ReplacedSPPassword123*", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "clisp-test-000001", "identifierUris": ["http://clisp-test-000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "d0dd5d9a-9842-4269-af4d-57c1a8cadd58", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "e040e2f6-6242-481d-ad0a-7ee331decd9e",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "clisp-test-000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://clisp-test-000001", "identifierUris": ["http://clisp-test-000001"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/d0dd5d9a-9842-4269-af4d-57c1a8cadd58/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/d0dd5d9a-9842-4269-af4d-57c1a8cadd58/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access clisp-test-000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access clisp-test-000001", "id": "669c4761-e41d-41f9-9728-0b988ea9a78b",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access clisp-test-000001 on your behalf.", "userConsentDisplayName": "Access
        clisp-test-000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "//5yAGIAYQBjAA==", "endDate": "2020-09-27T07:30:09.768164Z",
        "keyId": "8b16e1d1-e4a8-4b86-8400-c8a6814ded53", "startDate": "2019-09-27T07:30:09.768164Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "AzureSDKTeam.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6982704'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/d0dd5d9a-9842-4269-af4d-57c1a8cadd58/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - 0Tx2hAAAj452VzreBCaDWXGZxqKH2vtS4n1JGBmeb2k=
      ocp-aad-session-key:
      - omKLCy5ctGdwGSaMFtYuud4isho2AkWtNqKXmnprM93WntcFhtLNgxNFO5PYlmsBrlx-bGyBrBYrDUlNlBgaoZZDP38iagdmFb43Y4Hj91VoTdSDWFk4yoHbUg6ZNJCIEPTuuEuOeMO9uQq_A85NEQ.zmW9bQVJgo9s8xN9nNNytcyZUllvCiiQT0DxjQ-3fEs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "e040e2f6-6242-481d-ad0a-7ee331decd9e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"a3665fb9-80a6-4a74-b000-56e4cb7c7e60","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clisp-test-000001","appId":"e040e2f6-6242-481d-ad0a-7ee331decd9e","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clisp-test-000001","errorUrl":null,"homepage":"https://clisp-test-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clisp-test-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clisp-test-000001","id":"669c4761-e41d-41f9-9728-0b988ea9a78b","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clisp-test-000001 on your behalf.","userConsentDisplayName":"Access
        clisp-test-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["e040e2f6-6242-481d-ad0a-7ee331decd9e","http://clisp-test-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5747647'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/a3665fb9-80a6-4a74-b000-56e4cb7c7e60/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - xguPw8Z/ZczT5yPbDDvGkQM2Upn8A70k96nygYpoTFs=
      ocp-aad-session-key:
      - PY3n27qSRyfZvBOwnxZCUAzhCaXOJDJjjvzcUY6iNHFqXCRXV_4YxveGUre_5ejEXvkTG1pNIyzJ6PXocT6Vlrf6k6rqTF7vJ0cMEGT93tvtVyDbaZ6lEIVrV7a04Nw5jzirfxaAPn5pL-cx1snjGQ.iQym5w82XuDJWD50ALpjFUGSOaHu3au3cu2vnxNR-2s
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclisp-test-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"d0dd5d9a-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/d0dd5d9a-9842-4269-af4d-57c1a8cadd58?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"d0dd5d9a-9842-4269-af4d-57c1a8cadd58","deletionTimestamp"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"01c2af35-b72b-4358-abe0-dbe014336d6f","deletionTimestamp":null,"acceptMappedClaims":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me/ownedObjects?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"05766856-eb5f-4b6b-a871-fe90dd71e8c8","deletionTimestamp":null,"acceptMappedClaims":null,"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fclisp-test-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/a3665fb9-80a6-4a74-b000-56e4cb7c7e60?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"a3665fb9-80a6-4a74-b000-56e4cb7c7e60","del[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclisp-test-000001%27%29%20or%20displayName%20eq%20%27http%3A%2F%2Fclisp-test-000001%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.Dire[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27e040e2f6-6242-481d-ad0a-7ee331decd9e%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2346178'
      ocp-aad-diagnostics-server-name:
      - +ZQCeST5sqkh8PfRlmTpQsH/+32BWqALmUNV8T7ZW80=
      ocp-aad-session-key:
      - Rd9B4xmEo_HnrmstolbxYgtnJZstIESl4tyD3RhcPoHCPFgLUeevXkfJoP0TMKbOkMgF1hm5WiMtxMKoaWE4D98MXEiXETmMLaw-iOf5YqpFmI2DsHbB9pbdPEKIV2brpC94pwCNlU2A3PPBEr2CPA.ZGAhr0GQuuSo2jIZ9y-g20tic5j3nhE-s5Z5WcyorVs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27e040e2f6-6242-481d-ad0a-7ee331decd9e%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"d0dd5d9a-9842-4269-af4d-57c1a[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27a3665fb9-80a6-4a74-b000-56e4cb7c7e60%27&api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","odata.nextLink":"directoryObjects/$/Microsoft.DirectoryServices.ServicePrincipal?$filter=&$skiptoken=X''4453707402000100000035536572766963655072696E636970616C5F34343966386561322D626132322D343234322D616234652D35373437313837633566613935536572766963655072696E636970616C5F34343966386561322D626132322D343234322D616234652D3537343731383763356661390000000000000000000000''","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"002c575d-17e8-45a1-bce4-1dc1df80e40a","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":["/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/javacsmrg88792/providers/Microsoft.Compute/virtualMachineScaleSets/vmss91391","isExplicit=False"],"appDisplayName":null,"appId":"3cde915d-9601-4aa2-a70d-e59140f1da3b","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"vmss91391","errorUrl":null,"homepage":null,"informationalUrls":null,"keyCredentials":[{"customKeyIdentifier":null,"endDate":"2018-05-03T06:22:00Z","keyId":"8575bd4c-c426-45df-83fe-1111e7b99612","startDate":"2018-02-02T06:22:00Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["https://identity.azure.net/eDZshlU1CSb7Ss6qiOxBuLsCbWc+/cEnigOHZn/vWJQ=","3cde915d-9601-4aa2-a70d-e59140f1da3b"],"servicePrincipalType":"Managed[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/$/Microsoft.DirectoryServices.ServicePrincipal?api-version=1.6&$filter=&$skiptoken=X'4453707402000100000035536572766963655072696E636970616C5F34343966386561322D626132322D343234322D616234652D35373437313837633566613935536572766963655072696E636970616C5F34343966386561322D626132322D343234322D616234652D3537343731383763356661390000000000000000000000'
  response:[...]
[...]
