interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"b5ed59e8-f00d-4396-af62-8297e36d8b52","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-12-03T09:04:15Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Xiaojian
        Xu","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"xiaojxu@microsoft.com","mailNickname":"xiaojxu_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["xiaojxu@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:xiaojxu@microsoft.com"],"refreshTokensValidFromDateTime":"2019-12-03T09:04:15Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/b5ed59e8-f00d-4396-af62-8297e36d8b52/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"xiaojxu_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-12-03T09:04:52Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2376960'
      ocp-aad-diagnostics-server-name:
      - j2+dACro0vDkoGBeKfKdYm4jsXdhUShIqhH4z8XoJgc=
      ocp-aad-session-key:
      - g5o8DaSEkWEcdfHh5c2f8SVuat-XVB_qcQRlxiun5EY8pqXyf-Iy5HMhXVt9q4fSeGGqC1NcodRqP584xsZAZZt0RfDUAosb7zDCK9SqcmKMcIvHai6X2_lO2DxziQtvwCx786c_FauEC_F_idPPOzGfWViieXSVgPhRCbnt1No.pFqdh0T-ME581Cvy18MAC-3JOR3DwyFct1yrrACKTqE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"accountEnabled": true, "displayName": "deleteme1", "passwordProfile":
      {"password": "Test1234!!", "forceChangePasswordNextLogin": false}, "userPrincipalName":
      "deleteme1@AzureSDKTeam.onmicrosoft.com", "mailNickname": "deleteme1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"7770c908-1b26-4b75-9593-819d3d264481","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLi[...]
- request:
    body: '{"accountEnabled": false, "displayName": "deleteme1_new", "mailNickname":
      "deleteme11"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/deleteme1%40AzureSDKTeam.onmicrosoft.com?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '5204969'
      ocp-aad-diagnostics-server-name:
      - AscZYHsQ8u0JvtqinizkQA/qY/LnqKUVJTwRL3s3mKc=
      ocp-aad-session-key:
      - 6HrYqDKPAKxEoj9QiYvLEPsOGVjmd2yDhCpF71utrdCIEOzoJDTP5WB2VTm9aXd1koV0tpXEA8bw4TJZ-BD0_XwLOzQHTkZn-pK6kO2LZx8ej-lY4x55BKVCJdYs7mq3Ih1B-fBocxfnmQ9qhtUJNmGPv-qSKMGF9jiGSRsEKNs.0y15-sp-S1QsMBUN96Xs67z1dAk6_zeCPa6XaVpkaEE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=displayName%20eq%20%27deleteme_g%27%20and%20mailNickname%20eq%20%27deleteme_g%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2304364'
      ocp-aad-diagnostics-server-name:
      - LYzAcq7V3eLxMoJD8VBflwEorAlQCAHjPijhfeZyV1w=
      ocp-aad-session-key:
      - VGMfSr9iz-RjXOKjVqKgylijfwVS4DLmsi0NRBNcXM_A2c8ejNVZP9cuyQW4Ox4iipuzrxn1DolczGOqf5Gu4I9ybvuTzVZ2BRd9TmQOff_TovGqposbuvu9rHKthyHdvGCvsCDajEdAFmcQQSq2YEiM6qEh-rSdPhTkn9mn9yY.SL1Dl0car6AWq0tLOdo0Rrr0C_WkLHdfHozA7wyRagg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "deleteme_g", "mailEnabled": false, "mailNickname": "deleteme_g",
      "securityEnabled": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5172764'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a/Microsoft.DirectoryServices.Group
      ocp-aad-diagnostics-server-name:
      - wa7XLTE+/p7laYRXAZUltYgvhndklofPlRXpYDhC3dg=
      ocp-aad-session-key:
      - lXR6MgEyyPe6Gu-Id3YPer4aTawX-PFcBFlveJAjXunbSTGpeklwjcyuGtzxzrsRYav1wACKrIqrUZd322Rh90kibIEMDn9jEzAYn_MHWTXgKeAHtlBRu9vppZ_SsSwWTSMotVYNoU9KBTkRpOh_oq-BdaUlMasilgTqaGi2hhM.OzyyGgDrp7AR7r7T5vwh6zb472GEiUxJjNjSvPtx0uc
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=displayName%20eq%20%27deleteme_g%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2361878'
      ocp-aad-diagnostics-server-name:
      - gmfqmaPUxvPqjYJpnZm4Wljd5CNb3WczeYMjtyBYYbU=
      ocp-aad-session-key:
      - FR09yWfu2jnNbJiFmGdB8mTxnYLWvaTteA_ScsI_AfPlF8t5ofD4aZnwi-D_ab3pTYpfmzIZrwQD0f3NU8E5jjbATFExqHOlX0sEZpyrEWksPUkZuaddAoaw0rw62vH4sG0xKohltWnnSt57baP3racqfCNSh4qevPAYf-RzmP4.OZPObIKiPPqA9027kYeiaxqMBA5oap_Oy212fpdxJ_A
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"url": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/7770c908-1b26-4b75-9593-819d3d264481"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a/$links/members?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '5221618'
      ocp-aad-diagnostics-server-name:
      - v9yI3GNQqNXz0aoNCJywTDYIqIKG+Dlb/txFx1mcpdc=
      ocp-aad-session-key:
      - di9Zg5CeogtzUm-DCXiK0Ed59uiO3dQF-hJisbK4z87tHLxeTLg4cR7O-gRESrlX3-uXpcQf0ejwzFi7O2v1w7AKJqsjS-BI7avteUSHw8hvxcAmLLUCVErJOeCLlcq8w8l4VfbXmbMflabEl4thDlky_K-RoxP6TTafkH_cDKc.xqDGUCrbpym-C203WnklVoC5bVcFVlJ2T9aMrWCWwmQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"securityEnabledOnly": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/7770c908-1b26-4b75-9593-819d3d264481/getMemberGroups?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Edm.String)","value":["be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a"]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4423660'
      ocp-aad-diagnostics-server-name:
      - n9EoHNORiYgBMsgALSud/hDyl4oSD9YeWVgLLFS/oSM=
      ocp-aad-session-key:
      - dPKKhH6CqG9NZcZylZoKzMdw5v9ShJVmUd5igvHVcDWPNdVISTsu3JJfxXhOo_IJITKZKqhmFMnyDnP8pL0ByZfHnTrB0gwmrVIh7PakZrO07VERXknKtsvVA-UbjpIwyNnGczHpVCVVfGi9a4z9bV4zZHvZnKMJUJl3gKhx9_A.GuXcLD7fl5dWw8mQsElyPkrrL1kn6S11Kv35Phep20w
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"objectIds": ["be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4344066'
      ocp-aad-diagnostics-server-name:
      - miVWlhPuPjKPbhHQ4jEvGwWr/ABV++oVFsNM82t0vZ0=
      ocp-aad-session-key:
      - PX41H2YeWaNR0dkfb64g9QQ8OKI5HXJqzXmBgUzyjUh0qIU3ueg-pWy1L8lsAoPE1NW0jq2qxGEuAFb7gbyWgoHktoDCaC3GtBBgwkGfKrsALop0XBnLqGlc27RBaRKmSVrO_3QRdlur81omCguPxXsOLJYItiScmdfxzrmwplI.dyT_9Srnl8IVNbRXsc0JFP5ht8rIPXJlma16vbfjERc
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2334339'
      ocp-aad-diagnostics-server-name:
      - agv2eMadMpLGgW+68s4JLifpIm+PlNl9e+bHuGVEJ3Q=
      ocp-aad-session-key:
      - ic1NzMwYOGEBgGR8VxjiFB9vW1IsFae2DyCNI5S0ZVWylHiPN0hOkuVl2Nsx_b6NcHSiF03AwlXwCGvBg5C-QmqaJQ-xq2if9tkWB0ZisdF-Z3iDH2x7IuSBiv0rHpU05zMxDKmDU1hZCPUA-1QII41TZTxdtLGEsBA4UtBiDHU.JxsaDFMiRCNHU0jfjLjM1uPIrQg06Fi6I8zzwmvgubk
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=startswith%28displayName%2C%27deleteme_g%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2307984'
      ocp-aad-diagnostics-server-name:
      - iBLPAV+mEu1yabKxR7hiHLRXeq9pAO/IjS9ArC3QLLk=
      ocp-aad-session-key:
      - B_1-t6VOGkG_0mHTbbtvTWK1fc1Yn3I3Wi3cqItl8vJ0P1-kxHliwieQriC56MpQbtXBlMSpbDxmVCZ-EOy-XiU-b5Q64qPPZ2jO2SVnRVnZmSWs5AXQ0CnoeSSvK7IFD0O7t8fGo6ELr5_iILv1FtPcb_LXMnyeu7CIGSFXqFs.110Nqeb-56f5XVjyp1wkd9CkX0Z_DG3UI2xb2-ifKmY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"securityEnabledOnly": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a/getMemberGroups?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Edm.String)","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4586441'
      ocp-aad-diagnostics-server-name:
      - wa7XLTE+/p7laYRXAZUltYgvhndklofPlRXpYDhC3dg=
      ocp-aad-session-key:
      - TCk7rJeHhOVYzQaiffSI1IYPpQ6GSuDumdonfgQNsDabYNfbAOPiO-uzsHav7np3x-XxMU2JWCAYrgK5_TKIRG7gdCfXtpb980m9JhWI3PumHTy_IgxIp99e9YUEoERMVjUYL6u0wNLh5R2G3YENizgfnhsAoeNcEbyJZaYuMCM.O27a9uuiJj6Bfmlf0Q_FcHsJ5R3dhU5c6dOvEWZHqws
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"groupId": "be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a", "memberId": "7770c908-1b26-4b75-9593-819d3d264481"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/isMemberOf?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Edm.Boolean","value":true}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4313604'
      ocp-aad-diagnostics-server-name:
      - PTZeP97pOQ1ZcQHCl2YJGTzTvdtzkOZrcLpxIKDizGY=
      ocp-aad-session-key:
      - CKtEa0fwqG4HM_B-PVC31pb1ckWfYGeZrSdd0-PdO9slf86RXmaIzh_PSwq9j7fjbQgTNifsCQAs4_0CECBvkczBl_TWlDLK3a6HVhpO0j3Zcvq7fpcfAaSpG0WRJ51gqwK29qxqFGQIpd1mxUEGGDiT5NNlI69HQC_P14U67ow.pG8JeezJ0nbesn9-uccxOSnKf4XxFfO9BG5-D37H1SM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a/members?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"7770c908-1b26-4b75-9593-819d3d264481","deletionTimestamp":null,"accountEnabled":false,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2020-03-04T14:42:27Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"deleteme1_new","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"deleteme11","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":{"password":null,"forceChangePasswordNextLogin":true,"enforceChangePasswordPolicy":false},"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2020-03-04T14:42:32Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/7770c908-1b26-4b75-9593-819d3d264481/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/be2ef9cf-fb67-47f1-8a9c-3586f9bb2c7a/$links/members/7770c908-1b26-4b75-9593-819d3d264481?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3609963'
      ocp-aad-diagnostics-server-name:
      - a2IvgnFhp0V1rHNtSspnziA7fb53giIMAHNWWiZxpVI=
      ocp-aad-session-key:
      - NICOObmW-niFkkyGfb5JtkdoodFkePrJBq5e-eoL5q7gkLIH_Yv1HrvgfwPEOuCRmIpvIk4N4wTta2mGURQk-AWCMVod5WLLuYFuZytrPHt1DmGD1GxUcWmpaJSQQQGDXgtcYSFG8KSf88ZZdB6m88bWA9mm-mZBa8c7TkIyEkY.zy63-X8r5LINyRS3KKyNKJ-6FKpwqflVMC1gsjyUKKU
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"0988334f-a6fb-4161-b30b-e378a289078b","deletionTimestamp":null,"description":null,"dirSyncEnabled":nul[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/7770c908-1b26-4b75-9593-819d3d264481?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '13430839'
      ocp-aad-diagnostics-server-name:
      - U3lEHEd4HwaNf+3fkcmhg9lpCZU+hn4xjWqA7IRjolM=
      ocp-aad-session-key:
      - F3S_ZHGGhQHjcIeoKBGgP6-BfchVy2uRjl5QM7Jfjn2nH35CgorM786kmsx3naKlaz_vldbdce_fTOm_i6-QB_hS95X6FtbLe7hFLQSB1vd2LeYF1ypE0vIt0m5Pab_xmbmoUI8wUj_upEeSe4vJRxNU93-5fRzafh1CKAtAsTU.sqFizXAnyyvVY6BhlH2PBueLnogfF1GWgTRIJkvtMuE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=startswith%28displayName%2C%27deleteme_g%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2289685'
      ocp-aad-diagnostics-server-name:
      - DUXzRS+Itr90qja1VygW3OB9sjdPMvk7R1Ep9L6ky3Q=
      ocp-aad-session-key:
      - Xr3kFoGEafACSj5NAzF5X9S4XLRKWbbo91yNs4qH5nrMqYODr6BeuRwavfCBJ42rr4qUhrMiDSlhxTUh3a_GB90HpeL1c4nXpKNSIFxUJeWqOrNzAhtFryANbFIo1QnHK07tP7i_pTuUfLko7eF0CHzJraeasXlIR1CE_TOQpAw.Sgp5igo3wUmVBwMKyvKNHO_p-hDWaAWItUQ4k6WJxPM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
version: 1
