interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-native-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '579717'
      ocp-aad-diagnostics-server-name:
      - 6nXKrctRtSptRoHzozTVMUA02WQGzIDDAMhbiPlyMGM=
      ocp-aad-session-key:
      - zH_p6aIcXZB8srUG-2Xs5wARxff2TrzNoZbAjNbrRo8w_ueTkjBxcoDxumUUK5ZonSSn20Yc7XOvKJ-h-YQDWUI9WDNJCvMRzfRrHNtzjH6HEGgDtOU7TPht4z2WIDgNNb83lNggv0fS0Ix0jCe4sQ.-ZKDmgwoDOlj2L_7x6hF7BCP9F-PBdoaNp1OgzxixOc
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "requiredResourceAccess": [{"resourceAccess":
      [{"id": "5778995a-e1bf-45b8-affa-663a9f3f4d04", "type": "Scope"}], "resourceAppId":
      "00000002-0000-0000-c000-000000000000"}], "displayName": "cli-native-000001",
      "identifierUris": []}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"23e4222f-a43d-4c37-a47d-a07c265affa4","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"a49f4d06-393e-4507-8d37-32017c18a3d4","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"cli-native-000001","errorUrl":null,"groupMembershipClaims":null,"homepage":null,"identifierUris":[],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/23e4222f-a43d-4c37-a47d-a07c265affa4/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/23e4222f-a43d-4c37-a47d-a07c265affa4/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-native-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-native-000001","id":"1b15f5d2-1fac-4f6f-9553-996510ae85db","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-native-000001 on your behalf.","userConsentDisplayName":"Access
        cli-native-000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[{"resourceAppId":"00000002-0000-0000-c000-000000000000","resourceAccess":[{"id":"5778995a-e1bf-45b8-affa-663a9f3f4d04","type":"Scope"}]}],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3485830'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/23e4222f-a43d-4c37-a47d-a07c265affa4/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - PWJF5MXsNJeXfk2GpX0VavQ33Q7BBlAFQ1PBOgmVl+Y=
      ocp-aad-session-key:
      - Jn2LYXf-_ToL6ZUjOjT3yVBfYGCIzsFjq6zpJMWx0rNgva3OapJ9HViF32H0-3LtW5f6FMx0u7t8cOM3PL5LBu8JTUvvsyL7xyCp5CIHIjn1AfhZDsb50CamMsVVIOGfnyYbaD9aRIVXDLu0GiiAyQ.yrfwbEydYR1T9_3UoFmgN12XTuUyKocPzrTwMqqXTb8
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"publicClient": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/23e4222f-a43d-4c37-a47d-a07c265affa4?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '1538460'
      ocp-aad-diagnostics-server-name:
      - Y5fnsaXih/izETO5cgkZ+YM4xOA2rFM9Za4eUALb424=
      ocp-aad-session-key:
      - XcaVM_3rLNwjw1GdeJJJu7IchG_chjtlHFe76ep3CaJLSC7sqVO21iyGajpGxrVy5O78Z1_z7u2Lb93Vm9uB_UV_mnVVdwEAWjLJLDBxmAH_HYXJxUACgrJWvCq2cx3QTUcV4TKQ0V11cs0kHulqtg.ni35MLT178VzZhYO-8rm7VcyEr0nI8f3Mb6bNKZYrt0
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27a49f4d06-393e-4507-8d37-32017c18a3d4%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '712231'
      ocp-aad-diagnostics-server-name:
      - qS43F4iLBOJT6RGkkYs1XEqkZVQTuWFJkKZZm/yzJso=
      ocp-aad-session-key:
      - IZoLG1Nl-mq7tW6l4Ss8M10JLjIKr78H05vZS0kWOFVzxJ9pCVSCU2I82m3f-hwim7T9Nl4v5ohqYr6SlPQCD8piVlk2n-o07IDAXw6z8iRfJfc6b4AP3Opn4ts0h1hNQx5kNW8DWnBDuC_mlIQT_A.HeXEnHdSU9JswV_dXgQ38vtdRM23w8i5Tg4rId1LiyE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27a49f4d06-393e-4507-8d37-32017c18a3d4%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"23e4222f-a43d-4c37-a47d-a07c2[...]
[...]
