interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith%28displayName%2C%27azure-cli-test000001%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF00008131"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "azure-cli-test000001", "identifierUris": ["api://azure-cli-test000001"],
      "keyCredentials": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "ffc622a8-6eb1-47bf-90ff-e9fc6b4b8cd1", "deletedDateTime": null, "appId":
        "4eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2022-08-08T07:56:40.8135681Z", "displayName": "azure-cli-test000001",
        "description": null, "groupMembershipClaims": null, "identifierUris": ["api://azure-cli-test000001"],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": null, "notes":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "serviceManagementReference":
        null, "signInAudience": "AzureADandPersonalMicrosoftAccount", "tags": [],
        "tokenEncryptionKeyId": null, "samlMetadataUrl": null, "defaultRedirectUri":
        null, "certification": null, "optionalClaims": null, "addIns": [], "api":
        {"acceptMappedClaims": null, "knownClientApplications": [], "requestedAccessTokenVersion":
        2, "oauth2PermissionScopes": [], "preAuthorizedApplications": []}, "appRoles":
        [], "info": {"logoUrl": null, "marketingUrl": null, "privacyStatementUrl":
        null, "supportUrl": null, "termsOfServiceUrl": null}, "keyCredentials": [],
        "parentalControlSettings": {"countriesBlockedForMinors": [], "legalAgeGroupRule":
        "Allow"}, "passwordCredentials": [], "publicClient": {"redirectUris": []},
        "requiredResourceAccess": [], "verifiedPublisher": {"displayName": null, "verifiedPublisherId":
        null, "addedDateTime": null}, "web": {"homePageUrl": null, "logoutUrl": null,
        "redirectUris": [], "implicitGrantSettings": {"enableAccessTokenIssuance":
        false, "enableIdTokenIssuance": false}}, "spa": {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/ffc622a8-6eb1-47bf-90ff-e9fc6b4b8cd1/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF00008132"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20%274eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"ffc622a8-6eb1-47bf-90ff-e9fc6b4b8cd1","deletedDateTime":null,"appId":"4eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2022-08-[...]
- request:
    body: '{"appId": "4eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da", "accountEnabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/servicePrincipals
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals/$entity","id":"4aa34488-231e-4559-920b-85d71007197e","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"azure-cli-test000001","appDescription":null,"appId":"4eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da","applicationTemplateId":null,"appOwnerOrganizationId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"createdDateTime":"2022-08-08T07:56:44Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"azure-cli-test000001","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["4eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da","api://azure-cli-test000001"],"servicePrincipalType":"Application","signInAudience":"AzureADandPersonalMicrosoftAccount","tags":[],"tokenEncryptionKeyId":null,"samlSingleSignOnSettings":null,"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null},"addIns":[],"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/4aa34488-231e-4559-920b-85d71007197e/Microsoft.DirectoryServices.ServicePrincipal
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF00001A31"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%274eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"4aa34488-231e-4559-920b-85d71007197e","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"azure-cli-test000001","appDescr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals/4aa34488-231e-4559-920b-85d71007197e
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals/$entity","id":"4aa34488-231e-4559-920b-85d71007197e","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"azure-cli-test000001","appDescription":null,"appId":"4eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da","a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27api%3A%2F%2Fazure-cli-test000001%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"4aa34488-231e-4559-920b-85d71007197e","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"azure-cli-test000001","appDescripti[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/applications/ffc622a8-6eb1-47bf-90ff-e9fc6b4b8cd1
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF00007865"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals/4eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''4eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2022-08-08T07:57:01","request-id":"0c8dca85-74ba-47b1-846a-1f74d1664292","client-request-id":"0c8dca85-74ba-47b1-846a-1f74d1664292"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF000093E9"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/4eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''4eab39e1-a5cb-4c31-aa3a-8dfd1ae0d5da''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2022-08-08T07:57:03","request-id":"ca77e63c-4d69-46eb-8965-1b1d1fa7713b","client-request-id":"ca77e63c-4d69-46eb-8965-1b1d1fa7713b"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF00007868"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
version: 1
