interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=displayName%20eq%20%27cli-graph000001%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2249085'
      ocp-aad-diagnostics-server-name:
      - ZvKFvXUvv++0MFmrY9IvixMIdvdt0Ace7yfm2mdXcbI=
      ocp-aad-session-key:
      - oDD6aBmLXd8q34yo-YZnwJpxdhP8zO75yTaXcqL1TiGDQzQLY30uTFPbQUu8AQrKgwAAf1_O76goEdy8R_1DT88bCU7XEQdSYWDlW41f-ih6pwvJmHn6JuyQ1zjMNDCWFw1buF2H8z5rOQlhGrte1N4lkzlXYgIwhdcx3RlP5Xo.-ho8cAEBO2RWk4bdTJwMVhD_P_ghymZVUy4QWPfk2uc
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-graph000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2438926'
      ocp-aad-diagnostics-server-name:
      - S/2H3xvEguqP7gyN4E2AjZGPTwibkgKVKGe13M2DrHM=
      ocp-aad-session-key:
      - nBRiKHoa113DbWzgYfrrWnFyCd14w_iVCcHM6VHtcloDst7ccquoBVc1c0oB-KRsEMLdpFJnq9Dxd7jmYIb5KXatRv2Z_poZ5BewCMPr3O8_OOkE3ZpU5THbypwrxGQAtODdtZCqYKB_UjWlyaMqEU1hanTwSuFnMLgofQPbqpQ.Ba1jsMpGGBf8bawIjKQFOzdL0xtB795R62b5Mbsb_0Y
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "passwordCredentials": [{"startDate":
      "2021-10-08T06:57:28.456933Z", "endDate": "2022-10-08T06:57:28.456933Z", "keyId":
      "88888888-0000-0000-0000-000000000001", "value": "ReplacedSPPassword123*", "customKeyIdentifier":
      "//5yAGIAYQBjAA=="}], "displayName": "cli-graph000001", "identifierUris": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "4900bf0d-3b25-415f-a3f3-26396428a131", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "22d04e4a-ad54-4149-963a-9b1ea07114bb",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-graph000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": [], "informationalUrls": {"termsOfService":
        null, "support": null, "privacy": null, "marketing": null}, "isDeviceOnlyAuthSupported":
        null, "keyCredentials": [], "knownClientApplications": [], "logoutUrl": null,
        "logo@odata.mediaEditLink": "directoryObjects/4900bf0d-3b25-415f-a3f3-26396428a131/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/4900bf0d-3b25-415f-a3f3-26396428a131/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-graph000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-graph000001", "id": "50f2209e-cbe5-4ed1-bc93-0c36278d232a",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-graph000001 on your behalf.", "userConsentDisplayName": "Access
        cli-graph000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "//5yAGIAYQBjAA==", "endDate": "2022-10-08T06:57:28.456933Z",
        "keyId": "88888888-0000-0000-0000-000000000001", "startDate": "2021-10-08T06:57:28.456933Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "AzureSDKTeam.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4053671'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/4900bf0d-3b25-415f-a3f3-26396428a131/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - QahaVHBFSXzxuvevHSsn9HXEXAZg+1x9YWCyDPvF3zg=
      ocp-aad-session-key:
      - j6rNechelVkOsyGngIc5EbafPHhjVXJfRau8IzmfE8XXcEWsiblYoE3JEM3DEmmPxCgRSX0tUnr6HyOyw01I0-appeAPdFWNA0nCukgIs769b2ndryTZXllfnTfHmqhBOcRNODgI_cdiwXtxmPm44MfJIFRXNMQ1dxiSCzUALT4.RrhwDy6Be0e6Pikd17Vu2YlwM7kvVEGzP0_6i_7m-tw
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "22d04e4a-ad54-4149-963a-9b1ea07114bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"4d58b02c-69b2-4c3c-bfea-ce91e98d8a48","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-graph000001","appId":"22d04e4a-ad54-4149-963a-9b1ea07114bb","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-graph000001","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-graph000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-graph000001","id":"50f2209e-cbe5-4ed1-bc93-0c36278d232a","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-graph000001 on your behalf.","userConsentDisplayName":"Access
        cli-graph000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["22d04e4a-ad54-4149-963a-9b1ea07114bb"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3365600'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/4d58b02c-69b2-4c3c-bfea-ce91e98d8a48/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - YqwiHiVXTZlL4NXf9/b/ARkjzl+r4SktW3Zys459/ro=
      ocp-aad-session-key:
      - 8zWSVtqDD8tyba7DfnGYCqC1M8j6c3vNW8rM_7ArWtZbDmef1B01zJiVpbtjnVXSWsOz8rvn7ssVG4T3Gu_h-ZaqZUHzI1yGFpZ2yRSbvwDBvx-FWn0xJihO7J2goI4CLZJRhqaPGTtyFcBa9zRW7WA0_QB3PRNwO6WGSf96fzU.Zm2LJZHyYzxr0a6tmiW0fbov9UBjOOviq0mG6v_WgxI
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Reader%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Reader","type":"BuiltInRole","description":"View
        all resources, but does not allow you to make any changes.","assignableScopes":["/"],"permissions":[{"actions":["*/read"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2020-08-14T20:16:04.3791205Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","type":"Microsoft.Authorization/roleDefinitions","name":"acdd72a7-3385-48ef-bd42-f606fba81ae7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7",
      "principalId": "4d58b02c-69b2-4c3c-bfea-ce91e98d8a48", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"4d58b02c-69b2-4c3c-bfea-ce91e98d8a48","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","condition":null,"conditionVersion":null,"createdOn":"2021-10-08T06:57:30.8805411Z","updatedOn":"2021-10-08T06:57:31.2399918Z","createdBy":null,"updatedBy":"0d504196-1423-4569-9a6e-15149656f0ee","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000002"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2722d04e4a-ad54-4149-963a-9b1ea07114bb%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%2722d04e4a-ad54-4149-963a-9b1ea07114bb%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"4900bf0d-3b25-415f-a3f3-26396[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0d504196-1423-45[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview
  response:
    body:
      string: "{\"value\":[{\"properties\":{\"roleName\":\"73a8d45b-8fbc-4ef0-840d-b9b3a7460112\",\"type\":\"CustomRole\",\"description\":\"Can
        monitor compute, network and storage, and restart virtual machines\",\"assignableScopes\":[\"/subscri[...]
- request:
    body: '{"objectIds": ["4d58b02c-69b2-4c3c-bfea-ce91e98d8a48"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"4d58b02c-69b2-4c3c-bfea-c[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/4d58b02c-69b2-4c3c-bfea-ce91e98d8a48?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"4d58b02c-69b2-4c3c-bfea-ce91e98d8a48","del[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%274d58b02c-69b2-4c3c-bfea-ce91e98d8a48%27&api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"4d58b02c-69b2-4c3c-bfea-ce91e98d8a48","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","condition":null,"conditionVersion":null,"createdOn":"2021-10-08T06:57:32.3180314Z","updatedOn":"2021-10-08T06:57:32.3180314Z","createdBy":"0d504196-1423-4569-9a6e-15149656f0ee","updatedBy":"0d504196-1423-4569-9a6e-15149656f0ee","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000002"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
