interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_password000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '917883'
      ocp-aad-diagnostics-server-name:
      - wt5b4Yj+1pkH8dWMzRyTs/0Cv3+1ztZzzEsTjMQDoXk=
      ocp-aad-session-key:
      - A4D3Fuh4lEbXilJHNFtisP4LN0Gt7ZZa7YK2OhDxWJj161QGSk78JvYJ13HdTWlYi9rEAydPBFvbZoMUKGt0uS5UNm5koZjT9hLtxJj0dmJdl4I_eLU0umXBmedem702.Ai9eGWC6SJA-piQ7xXx89R_9qyhPsdpwcwdXS_HNWNg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli_create_rbac_sp_with_password000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '341800'
      ocp-aad-diagnostics-server-name:
      - jofFi2H74g9+0KeSzSiwqdBOE1tu1pkdN/pLFmk4uxw=
      ocp-aad-session-key:
      - q8FRrnLm8zW5ozBaq34PqdGeLgcI6COjiIb9K_bngPhANyG6OfxUoXSs-3C3usekjahlo3fyI3LzQl2gM0LdzbbCxMkIz5Lh6CgqJj3lIKTkIv2mbm0SswawAV02y_Cn.F63XCw1BdChFS-dExwLBbHXpq_S_7S-4vCFjGRyTTxY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "https://cli_create_rbac_sp_with_password000001",
      "passwordCredentials": [{"startDate": "2020-05-08T06:17:24.657539Z", "endDate":
      "2021-05-08T06:17:24.657539Z", "keyId": "88888888-0000-0000-0000-000000000001",
      "value": "ReplacedSPPassword123*", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "cli_create_rbac_sp_with_password000001", "identifierUris": ["http://cli_create_rbac_sp_with_password000001"]}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "1d37c31b-bf3a-44a0-909c-b6a0b75a5408", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "e6360b19-2322-4952-8de5-d6f7b8d29f8b",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli_create_rbac_sp_with_password000001", "errorUrl":
        null, "groupMembershipClaims": null, "homepage": "https://cli_create_rbac_sp_with_password000001",
        "identifierUris": ["http://cli_create_rbac_sp_with_password000001"], "informationalUrls":
        {"termsOfService": null, "support": null, "privacy": null, "marketing": null},
        "isDeviceOnlyAuthSupported": null, "keyCredentials": [], "knownClientApplications":
        [], "logoutUrl": null, "logo@odata.mediaEditLink": "directoryObjects/1d37c31b-bf3a-44a0-909c-b6a0b75a5408/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/1d37c31b-bf3a-44a0-909c-b6a0b75a5408/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli_create_rbac_sp_with_password000001 on
        behalf of the signed-in user.", "adminConsentDisplayName": "Access cli_create_rbac_sp_with_password000001",
        "id": "594daee0-5ad5-417a-8ca1-19e89e225e30", "isEnabled": true, "type": "User",
        "userConsentDescription": "Allow the application to access cli_create_rbac_sp_with_password000001
        on your behalf.", "userConsentDisplayName": "Access cli_create_rbac_sp_with_password000001",
        "value": "user_impersonation"}], "oauth2RequirePostResponse": false, "optionalClaims":
        null, "orgRestrictions": [], "parentalControlSettings": {"countriesBlockedForMinors":
        [], "legalAgeGroupRule": "Allow"}, "passwordCredentials": [{"customKeyIdentifier":
        "//5yAGIAYQBjAA==", "endDate": "2021-05-08T06:17:24.657539Z", "keyId": "88888888-0000-0000-0000-000000000001",
        "startDate": "2020-05-08T06:17:24.657539Z", "value": "ReplacedSPPassword123*"}],
        "publicClient": null, "publisherDomain": "microsoft.onmicrosoft.com", "recordConsentConditions":
        null, "replyUrls": [], "requiredResourceAccess": [], "samlMetadataUrl": null,
        "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '14630816'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/1d37c31b-bf3a-44a0-909c-b6a0b75a5408/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - tWDIIdSCGARBB5OYDfQKsqACCwNKfN2rxs61RHwiK+E=
      ocp-aad-session-key:
      - kKrJP3eQSGw30FmKw1_moMpYbXmbdT1eilzcYA-3gsWwHD6DjeeW4elDEzyH_uuqNtHNlYuYG1r14XjJzAuaQ_TIM3qKcRW7xmrEAYb9TlKqGwmjWrXu2rlOQkBp4neavztdDky1XQjEJKpeC0jg-dTkW7Gt83KgGpJIk-nLTGo.FBzuHeUx0RXvolDAPvVVIlZsuAHOU867qw6s5rHyBKY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "e6360b19-2322-4952-8de5-d6f7b8d29f8b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"be363b11-2dca-427f-962c-f68609297d8e","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli_create_rbac_sp_with_password000001","appId":"e6360b19-2322-4952-8de5-d6f7b8d29f8b","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli_create_rbac_sp_with_password000001","errorUrl":null,"homepage":"https://cli_create_rbac_sp_with_password000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli_create_rbac_sp_with_password000001 on behalf
        of the signed-in user.","adminConsentDisplayName":"Access cli_create_rbac_sp_with_password000001","id":"594daee0-5ad5-417a-8ca1-19e89e225e30","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli_create_rbac_sp_with_password000001 on your behalf.","userConsentDisplayName":"Access
        cli_create_rbac_sp_with_password000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["e6360b19-2322-4952-8de5-d6f7b8d29f8b","http://cli_create_rbac_sp_with_password000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '10113729'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/be363b11-2dca-427f-962c-f68609297d8e/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - X0K4jJU1IRfrF5H/oup5mzBX1aFJPEOewdNt4Um2keA=
      ocp-aad-session-key:
      - 9VLKg7oEZySsORrlEUnxsqDqCZ7ueO32Fy53PGCvUvucJnBzM_vPeSiDjop_Z4FQK6-9w_e4Z1BeGZwGs6BXVOUwPbjTKlv7vCdDhMla-21U6EXyIU3CEA9-D3FWz9wHEDA-4ne1aPzeVYsdbKauZZTCUpx3sRTt_MommCc6MbI.Zt_S8UaT69hQKn7xNESD0fpiEs_ruRZXBrytZbWzdC8
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2019-02-05T21:24:38.4580610Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "be363b11-2dca-427f-962c-f68609297d8e"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002?api-version=2018-09-01-preview
  response:
    body:
      string: '{"error":{"code":"PrincipalNotFound","message":"Principal be363b112dca427f962cf68609297d8e
        does not exist in the directory 72f988bf-86f1-41af-91ab-2d7cd011db47."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "be363b11-2dca-427f-962c-f68609297d8e"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000003?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"be363b11-2dca-427f-962c-f68609297d8e","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2020-05-08T06:17:36.7405363Z","updatedOn":"2020-05-08T06:17:36.7405363Z","createdBy":null,"updatedBy":"3e9e7831-1780-4a27-ad55-d8abd93c9556"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000003","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_with_password000001/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2019-02-05T21:24:38.4580610Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "be363b11-2dca-427f-962c-f68609297d8e"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_with_password000001/provi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_password000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectTyp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7","principalId":"68ba2750-4e54-48[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview
  response:
    body:
      string: "{\"value\":[{\"properties\":{\"roleName\":\"Avere Cluster Create\",\"type\":\"CustomRole\",\"description\":\"Avere
        cluster create role used by the Avere controller to create a vFXT cluster.\",\"assignableScopes\":[\"/\"],\"permiss[...]
- request:
    body: '{"objectIds": ["be363b11-2dca-427f-962c-f68609297d8e"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"be363b11-2dca-427f-962c-f[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_with_password000001/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp_with_password000001/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview
  response:
    body:
      string: "{\"value\":[{\"properties\":{\"roleName\":\"Avere Cluster Create\",\"type\":\"CustomRole\",\"description\":\"Avere
        cluster create role used by the Avere controller to create a [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp_with_password000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application",[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/1d37c31b-bf3a-44a0-909c-b6a0b75a5408?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '9915326'
      ocp-aad-diagnostics-server-name:
      - 9J2kqSfQFChQGTqgUTLaYafjNcy05J9iPyG5EVtU9lE=
      ocp-aad-session-key:
      - 3nZ2QtJRDMU5JiIxa1D7TZ42aLSupXwd6jnZ7vceU7jQD7PCNIRp4plMnqRGXl8v7h9iW0D1ZUynUXnUG6fOIjAYhSsBD2bRBGpsIWxos8mL3WzWIFOjHys4BkU_9lFiJcZhqUgMiW3BSvuaIhTxSzRc9Rg8ODSmGIIBCbMhfgs.unImhMNE1n5hmJRgH1hrL3xoJDre5h1vmOUtRxfSsZ8
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
