interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/example%40example.com?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"e7e158d3-7cdc-47cd-8825-5859d7ab2b55","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2016-01-21T22:10:16Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"admin3","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"admin3","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"admin3","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["yugangw@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2019-06-17T19:45:49Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"sdk","telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/e7e158d3-7cdc-47cd-8825-5859d7ab2b55/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"example@example.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '544988'
      ocp-aad-diagnostics-server-name:
      - +Hn5o028tX60qRbexrbZTHdK0iF10fFEmTWd+2I+zlY=
      ocp-aad-session-key:
      - 3ldFRW4IjDoG6yFXDYmtVD3URGQNlSI_g4woI2qpzR5syxvpxHvQswiSRpnh-s7JQwqy57YDhx4ypnfAdaD7OBOpJygdZDuJtkQYGli-CaP4Q2QSV4Rxe0RricCE2MNqQQNcGx0HAsMWeciJ22o1tA.zIr1AouFJmfmQ_d25roK3R4z2X14_AktDNupk0Gpfec
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fsp000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '564210'
      ocp-aad-diagnostics-server-name:
      - IdrrKLKQnFuJgNhhiCiMzXayMOWQynJhHLog8HXXGCE=
      ocp-aad-session-key:
      - -B_8QJcCcRqYfa6E73vf8wB_JcnaxcmtJKdIjJQAhB1pZjwwtf2-lgyd3A1eA4MzSe325D1pKSCQWuaNOK3M9SVykM1-zFmTOMC0H4pfs6JmQ927cbkOzYPPYmfD4fnOOIaKlXHS5lDxdm0vBjBC7Q._i5YbsV2Y_bmvS8rDlYq4DUEDdE9sRvs68eVPno1xao
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27sp000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '480997'
      ocp-aad-diagnostics-server-name:
      - +i/Z4hAbtnUv8GUTjtLUQH8z9Wzcl8K6N3Y4i1a4li4=
      ocp-aad-session-key:
      - zXT2AbLm0nnvmGAJo4CytQPDAaRnwgoC675u65S--T7xtXQmbH0XUSTc36XKmXHLmznsws_NPh6kryqec0a691VsnellHImwSLbcU3WHNlTyWO1b6t0YChbrDFq1LEFS0JeXx5u5uz373kQeVMYRCQ.wIPI25bX-FBJFdpudmYAUKxOLK2mnNHfz-UUb0iFAv4
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "https://sp000001", "passwordCredentials":
      [{"startDate": "2019-06-26T17:40:24.706011Z", "endDate": "2020-06-26T17:40:24.706011Z",
      "keyId": "aad9a387-669a-4a84-be4c-9263b071fa58", "value": "7515b839-0151-4ebc-90d0-64f0c6654f96",
      "customKeyIdentifier": "//5yAGIAYQBjAA=="}], "displayName": "sp000001", "identifierUris":
      ["http://sp000001"]}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"010ca3fd-f7bb-4db0-bdc7-ca648cf0c2aa","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"5892370d-d44e-4195-b96a-b4e286d5bd65","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"sp000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://sp000001","identifierUris":["http://sp000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/010ca3fd-f7bb-4db0-bdc7-ca648cf0c2aa/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/010ca3fd-f7bb-4db0-bdc7-ca648cf0c2aa/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access sp000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        sp000001","id":"6cd4dfd6-c315-4dc0-a380-0b40e17cc4a0","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access sp000001 on your behalf.","userConsentDisplayName":"Access
        sp000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-06-26T17:40:24.706011Z","keyId":"aad9a387-669a-4a84-be4c-9263b071fa58","startDate":"2019-06-26T17:40:24.706011Z","value":null}],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2905515'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/010ca3fd-f7bb-4db0-bdc7-ca648cf0c2aa/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - HEPAm0tyongGpYycSw509UTFJ4dZAtir7lD0xyk+LYQ=
      ocp-aad-session-key:
      - LumlC28oriusMUPoDQaJO_KEN7_eG4QPWEzU9C5N_RMW2UPkV5ELSbynObVQGpjJ6--PaUgyYGSMtDV4TEIZUjPDFGR4HzHLKVbJTLZ12JAoutMEeUlgucQWA6uBThtgsX7IzgsmCCga1706FOtMbw.95_nT_x3RFCyIvgj34kaAB2lXBb-9Uy-iAeK-l81RBg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "5892370d-d44e-4195-b96a-b4e286d5bd65"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"ec60896b-4ff2-47ea-a7db-b44d82f0fa98","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"sp000001","appId":"5892370d-d44e-4195-b96a-b4e286d5bd65","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"sp000001","errorUrl":null,"homepage":"https://sp000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access sp000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        sp000001","id":"6cd4dfd6-c315-4dc0-a380-0b40e17cc4a0","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access sp000001 on your behalf.","userConsentDisplayName":"Access
        sp000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["5892370d-d44e-4195-b96a-b4e286d5bd65","http://sp000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1681887'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/ec60896b-4ff2-47ea-a7db-b44d82f0fa98/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - XC37a6rlJsCeGLMfJenTNZI4+ije7D/luiwxI9jCogI=
      ocp-aad-session-key:
      - PQFZg8tSvdUo-BT9i4PlrlqR6D9msofPm-o3rG1yPbiiLo61e92MhBtxjNaxcnNjclb0UlHXcKID9R0g9RqPoetsW66bZ7bjjkfahELta8bhyNMFTBSdgAP5PzaEh_fagPGmcjuG8aOJ500EAm_DNw.ezFBg0XlRrZ9bpJ9VhK7p8K9_YLaSw4TyxbA-h8OvIg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%275892370d-d44e-4195-b96a-b4e286d5bd65%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '519476'
      ocp-aad-diagnostics-server-name:
      - uCCQbpgVHNC8rue1lL9wVVx/oAWeG8jNKc51+E8x6H4=
      ocp-aad-session-key:
      - J4rNAfypBpd-S3pfBjsR4IjiZPv4WUVmowGuDZ86dwmsC3Ylc5gJzwrgK7gw6PXWEa2UFidbVzImwq9-OV4sD-xroxqyuHw5S4UcaS3Zva5S76GyBJTevVQ-V_b_ZfrfNSl-Dt6QDXpHUwZdY4ywkw.qWV7uv7Ed9jyEBARODg1VKTkhiiGFqRai1SOOFlFe4U
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%275892370d-d44e-4195-b96a-b4e286d5bd65%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"010ca3fd-f7bb-4db0-bdc7-ca648[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/010ca3fd-f7bb-4db0-bdc7-ca648cf0c2aa/owners?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '963061'
      ocp-aad-diagnostics-server-name:
      - eHUy9xL/t2YPMeNAb8K3eJdZ70TbtfpQN57mnPQmQKs=
      ocp-aad-session-key:
      - 1iIdBJk6_ViXbu94ypiNj92T-tsXxpdxtIgzIrTzDORq7kywptLvdMeKue7cOC3JgcKJpvO5AxFu_OBSQwAnQRtnH-van14Vj2aJE7souFuEPzRLlOvRV_CRuJLTsZPfndMRwOKpmfjM3G9sRGJMlg.5_EFCvS5gXW2x9g6sPWnN88dIXe_aqfKcmt4DaSuG1w
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"url": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/e7e158d3-7cdc-47cd-8825-5859d7ab2b55"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/010ca3fd-f7bb-4db0-bdc7-ca648cf0c2aa/$links/owners?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '1605937'
      ocp-aad-diagnostics-server-name:
      - ohcYABmqp+jn/aEb/sdEEw2xLJO30rLgM0J/8tIjvMU=
      ocp-aad-session-key:
      - UOYtmHKDYXtfaFGuiOcMdDZLyf8f3F8G5aYqX48KIMeU_GATut-HZriw4kVQu1zKOKYGBevG862vxHDL8pitc_OYjOKW3ccw-sPfN-KPAW3LgSIQDZj2XW29GA3ojrpDJrfyaAJ7tN8nuUH_1te3IA.OWT2ipn4uZOQqPJx9jFA4_KjSupMC0JqWdl1GFDuBBs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/010ca3fd-f7bb-4db0-bdc7-ca648cf0c2aa/$links/owners/e7e158d3-7cdc-47cd-8825-5859d7ab2b55?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '1297963'
      ocp-aad-diagnostics-server-name:
      - WuWPPeV7dv5/89XBwAEVlawMeyvMAtJ8EugXI+UUkGg=
      ocp-aad-session-key:
      - -ioe4zNpqiZdgpcaDD72czDwZ8CuDX0V7en4crp9nKYyCs5vgg8B-LCTdY4jczEcF0dmaCTmiwaq7Ga3Logr3TAs46GyWtXkSpoDKy_ItA33e-OPorCHKl91qYqGcDNbCj6MNprzofaKeTFK9LsLxA.0YPJZdxr0QWPyW7mu1TvBv3n2IfStheHRQgY4T75PkM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%275892370d-d44e-4195-b96a-b4e286d5bd65%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/ec60896b-4ff2-47ea-a7db-b44d82f0fa98?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"ec60896b-4ff2-47ea-a7db-b44d82f0fa98","del[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27ec60896b-4ff2-47ea-a7db-b44d82f0fa98%27&api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/010ca3fd-f7bb-4db0-bdc7-ca648cf0c2aa?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '2075141'
      ocp-aad-diagnostics-server-name:
      - 8H0gUjWr4fk41OTZqfQo7OpuKx/oP1MIjGDf8k8LuDA=
      ocp-aad-session-key:
      - DBNewF60kKR0KWIV0A1E_VVk4reztRlutiTIZiRbCKPr7CbtQRUprY83_NyTv9tv0buN56WbU2I5HgIfzGVjrZrRDQ9VjCTkU9VtEvTZ-dXvWIu9Z4m_djB3KAMqcOU3fg_QG_NXByy_CP6-ResgoQ.AfRZE91Bng2zGUm9XUmyd4LB5WBSimBYv4T28Zao7CI
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
