interactions:
- request:
    body: '{"accountEnabled": true, "displayName": "deleteme1", "passwordProfile":
      {"password": "Test1234!!", "forceChangePasswordNextLogin": false}, "userPrincipalName":
      "deleteme1@example.com", "mailNickname": "deleteme1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"72aa0a26-29de-4625-8463-f637fe152fd8","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-31T05:50:21Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"deleteme1","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"deleteme1","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2019-10-31T05:50:21.3061661Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/72aa0a26-29de-4625-8463-f637fe152fd8/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"deleteme1@example.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6226522'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/72aa0a26-29de-4625-8463-f637fe152fd8/Microsoft.DirectoryServices.User
      ocp-aad-diagnostics-server-name:
      - TnpRtjwbCiWYbM7nUCPbBjalJlFc7pOi9D8+fKg1dOY=
      ocp-aad-session-key:
      - 0z0Wixk1jsLv-YEg2aOuYnBbjv2GEuhs_rm403Twjxg7OplD29BR3FvlVlL-yLGkBgjXQhKKWGTUEv3i6YskAKq1D6V7PY42qNnOUOdNWP5s1pr1xyHwErPqgGBcUPOqyJnfZDf3WB3fp7lTGz2k-XLG-3zsJ2ItUPC9ctgDWxk.YOt_LioAXucSH0dVefDz9sxXpEWTAPuYe8-gRi0bItA
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": false, "displayName": "deleteme1_new", "mailNickname":
      "deleteme11"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/deleteme1%40example.com?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '5418208'
      ocp-aad-diagnostics-server-name:
      - HYZ3kkTrBJhR5d/BC2iTMlzzEpIXxvJ2XRuwkbaPiz0=
      ocp-aad-session-key:
      - aoYkfg1Zno8Gg7kkBUrgZs5pUjH1TeDX233OXQoOpVeKP_27weX5BpcY3BQPvtXOAue1S6lMwr4EcsZaCp7c7q8yEirNxDl5XfJOw73Pige3PmXJia-5T3QBSFXERvPx70WCuI1M4m2mqy6JbunUvBs826Iu3R8MDeUnrnhvemc.XPJnss3icZdNKYQoTDyHkytQw4QzFZFtlNkIniu9Lsw
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=displayName%20eq%20%27deleteme_g%27%20and%20mailNickname%20eq%20%27deleteme_g%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2312024'
      ocp-aad-diagnostics-server-name:
      - UmKZplC7QR9gc5Bj0uCCSHnYW+SyuZTqMuzNl/Z9xsA=
      ocp-aad-session-key:
      - sYi5EYqIdXFzKnpO4o8Em-Zx4V8jn1_gF3572HNrk86PwA7YqkhIIM7Weq18cT9g5s8wEDZLicqzVLPtaj12FIQIZPvD6Z9t3iD1f1HXCx8N-EuIzD-r6txixu3IG1U6R9Kc7ojsKtdqIpNolEXjaM1-5eG8HFET3NGVxTtQBCg.uwOtHD5gyYO-4MufWD_EuxHNGVqIMO5hGSnkyKdz9tY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "deleteme_g", "mailEnabled": false, "mailNickname": "deleteme_g",
      "securityEnabled": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"ec2d2514-e5aa-4ab2-8488-14998b1b3e77","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5146591'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/ec2d2514-e5aa-4ab2-8488-14998b1b3e77/Microsoft.DirectoryServices.Group
      ocp-aad-diagnostics-server-name:
      - R5KTxq6mSpHoJRC35xyPPFGED3sshmrO5FtQ/0AOD6I=
      ocp-aad-session-key:
      - QERZn6T7Ag-zcfO2gaHc4pz8zzvMG0WY5-IYb-gR4djyxDGPSDCpMce2eQ2cXes5V_WupoGqKyX5Ug7aH6h1RnHpZ5PQKh-dh4TttWg1lZMLZHSqE6COeZ0FKjSFoKJvGQEav4WcFj8T-7lMVAARoVKqolEPbkSQvbJZydyCmvI.I-t1mml9H1Kavi1U7S6dGwri-7AVs7MGSdgVT-bzF-g
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=startswith%28displayName%2C%27deleteme_g%27%29%20or%20displayName%20eq%20%27deleteme_g%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"ec2d2514-e5aa[...]
- request:
    body: '{"url": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/72aa0a26-29de-4625-8463-f637fe152fd8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/ec2d2514-e5aa-4ab2-8488-14998b1b3e77/$links/members?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '5240696'
      ocp-aad-diagnostics-server-name:
      - xvWJHMWAHzosjXNMZ9eWLFLy/hDOFxHPaxgG2NiJKnA=
      ocp-aad-session-key:
      - y1Qt7j7W5gGV0ahjmI5QlRP7hI2UYrLEHw_lNa8ViesaWyvEngIekwPoexnx5oty30AsXJqRXbn0Wa5FOlC03cJR1bQC5NMez-CzBPnfdcO_oOPb3u-Z7telpCbreDKTq8ExufKWc7DeK5ds3PhYRQaysqGErtuoNz_jZHXqGnI.TQ2EdniZyMFw6w57thj8VVkztIdOk5kpTBTs0kteY6o
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"securityEnabledOnly": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/72aa0a26-29de-4625-8463-f637fe152fd8/getMemberGroups?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Edm.String)","value":["ec2d2514-e5aa-4ab2-8488-14998b1b3e77"]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4376697'
      ocp-aad-diagnostics-server-name:
      - 9WXYjtljUni6R4x3ceMCi6jN8lbj4nyUqEgooMOCvq8=
      ocp-aad-session-key:
      - oTeTK7_PeKPc9pd1RZA7ZDNDf9pbZaT572zaZeUa_BkeONuJ-HkQjm4U8agHa0UdiylVy3Pl91Es71zRZgnTe1gIneVZNrM_SlpToQdpRAabJY7Yuw5LXdIWbl0Q-dbBRu7nchCbr4QtgYu6TqYo7xuutinDDkOSGrZ9208yjc4.Y9zf4zt-DxK3G-62Jq2p1odD-o_kZcmbGL0_J_TU-8M
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"objectIds": ["ec2d2514-e5aa-4ab2-8488-14998b1b3e77"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"ec2d2514-e5aa-4ab2-8488-14998b1b3e77","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4327988'
      ocp-aad-diagnostics-server-name:
      - KuI5dWrN/8PhCEgeMZJvxaMvh+SYEqFwIaXyWKsa+6g=
      ocp-aad-session-key:
      - mRnixw5jzkQbYElPL8c_nJI5OnrOPvp-lvBxsSE6v9z-BAvWCJHbvyEDkDgj5RL2ktsmqNbbXv8pZ7To1iRcppF6gWTloMFqaJcW2xhThQ0drR0YWnUdkKL9Oh3dW9J4xd2xVTDhCWNLIyQph8RD8h3RFY-DSMkwnGf9qSnB1Ag.8LuuNYpwz02Mi8KcuZLqLVP2FFSPmId3DBgWPZXp_ss
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/ec2d2514-e5aa-4ab2-8488-14998b1b3e77?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"ec2d2514-e5aa-4ab2-8488-14998b1b3e77","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2353186'
      ocp-aad-diagnostics-server-name:
      - gVYeWZfSX9mkzriipUjAD9i6IZAJ5eI2PiGNN2hB0oU=
      ocp-aad-session-key:
      - xuQY-NR0wewEKKZBUdd6VXdDgO8QwcV7-kEo7-2xhV36KzE0vHuOJPwLa17yj3qw9MeBOYU3oJa_V0p-wrxzd69q6venkdtw41KSN4ougp-sXUTSLbjU_X26nF1ews6XjWntCrqUzTz1mXW4s9TTcidGSS3_FNdbCVimcbNy_pM.YXqAQnpFevnuPcTKQBTfGtXKBpwXHoDWEIVcaaxZWpA
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=startswith%28displayName%2C%27deleteme_g%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"ec2d2514-e5aa-4ab2-8488-14998b1b3e77","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2350243'
      ocp-aad-diagnostics-server-name:
      - xukW/YUz8ZjCN5OuyB75Ot+MQq2Au8EttZedWyKRLIM=
      ocp-aad-session-key:
      - LK94MeIUzKFJgPMH5_B5lPwOSWQK-tVxeLp4TRDBSEcVniXGYLQ7GrEryRZjQKSofgPh_RXqVH4nyog-4gKAyT4SNvQTH_vfffw1dpBNWTvWSdu7buz9vcpqL0vZTUFKSNae6hyBI3Q_CBz9g8USzbYRiYAy02cuna_3n4M4ej0.18EcfP3Nl68wxg8qp8UDSulMmpAtDuQXdV_b_aad-FY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"securityEnabledOnly": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/ec2d2514-e5aa-4ab2-8488-14998b1b3e77/getMemberGroups?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Edm.String)","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4364263'
      ocp-aad-diagnostics-server-name:
      - AscZYHsQ8u0JvtqinizkQA/qY/LnqKUVJTwRL3s3mKc=
      ocp-aad-session-key:
      - 2pQv5ULdc6betploficKL65-5vW-10ith8Tkn7OqQ882n7vGBtJlZdjS_DBXUwNhvwuojQnD_GJlAULnNjk2aPLGDJ97FYlMqsejydxU3K_7JjYqPNj5ntAswBAKKnQIEJn4RyFHsmm-5XVLyORYgCxGFnIMd-FcrL-tX5PFsTE.ov6XXgLmPI6PLS1q7VfWv15Dm5sPGbYynrkuaXEMqXw
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"groupId": "ec2d2514-e5aa-4ab2-8488-14998b1b3e77", "memberId": "72aa0a26-29de-4625-8463-f637fe152fd8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/isMemberOf?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Edm.Boolean","value":true}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5486031'
      ocp-aad-diagnostics-server-name:
      - NSWIiCK/5GEjwQ7/80e5hxAEcp4h2yQEdpGnPSUr9Z4=
      ocp-aad-session-key:
      - -tfP6ldOpglOWBU69nLYTnAbbu1qGG3GWP3u94MjaoLSi8JIr_AeNipmvxnIc3IBFXQL8FNn1czNlosHCQTcSDawyk89pA9kPWeItLypsuDpChWBNB7O2sHbfyxjeeUVy7YCIEJzjCnUQ5_gNq4cEAbzwRfinFmE_3BKTtIbQB4.XTurayxJNvkuT0KxtYSNX1j-5IojEUkjIR5ZW4iCm2o
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/ec2d2514-e5aa-4ab2-8488-14998b1b3e77/members?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"72aa0a26-29de-4625-8463-f637fe152fd8","deletionTimestamp":null,"accountEnabled":false,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-31T05:50:21Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"deleteme1_new","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"deleteme11","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":{"password":null,"forceChangePasswordNextLogin":true,"enforceChangePasswordPolicy":false},"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2019-10-31T05:50:25Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/72aa0a26-29de-4625-8463-f637fe152fd8/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/ec2d2514-e5aa-4ab2-8488-14998b1b3e77/$links/members/72aa0a26-29de-4625-8463-f637fe152fd8?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3293114'
      ocp-aad-diagnostics-server-name:
      - hhJdfLW66JLi2nEcbTnUgI+AxnSecUxb4zj7RAMm+V0=
      ocp-aad-session-key:
      - mC2_t7Q-Wz_JSATfPOetjwNnEUSzj9jDZ3s17keNwR9iKoOYm1gS1Y54tqMJjtxsGCEWVpetG7yqLLINdlmFIe75Tc8eyVgt8KAgVWBBBGE8LKlhURtb0AEsiPIL5OU4MYE3DMsInGngD7dgTj6N6XHhvcnU7A5g0OkueLGG1oc.VZwUh9haHTBJ7zDgNOFXyIk2NMIRrxSdqHH6kCwaMSY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"0988334f-a6fb-4161-b30b-e378a289078b","deletionTimestamp":null,"description":null,"dirSyncEnabled":nul[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/72aa0a26-29de-4625-8463-f637fe152fd8?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3233860'
      ocp-aad-diagnostics-server-name:
      - jphhDmesxggnR4JDVOaxZJhguw3eF2KiF5nEb1zQrhM=
      ocp-aad-session-key:
      - WU83Lfw4o2vXm6_AAULpqLnZ2Dm3uDKDkYD079eviP1Em_xLpz04tPX6A94KnzfpMzevaEUQQI4AABGUw8DkvwP4oe8AzoC4u7GaXdrEr-5y-nVf8otRoBHhdlBwRbRXdMVTpNUc9ANg939OQeUhEstvg58dNweLPqYKLVrKJgM.mPc9qselcf2G_Rikb62eu9cU9n9Q-pnbuUS7SPaEP5U
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=startswith%28displayName%2C%27deleteme_g%27%29%20or%20displayName%20eq%20%27deleteme_g%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2321938'
      ocp-aad-diagnostics-server-name:
      - IOdsJAPdYTZmB3b4UqQoOs/4ZToSLpTLa0+RwWjnlQc=
      ocp-aad-session-key:
      - tsRQ8Wx5YR1dyR71I3QrID1g4k8dau3haHLmPCTHcR9hsAohmka4-WDLRw2ih5QGRmA546tsDsY5phxjwL4VO4AIAjW8CHML3BgdxJQUJncxlblrYobfweThfy001IaGA6ABwkARmY5TqfJt4Yaqa_gisjH86fUrSMvKmJy1xfs.LX095r0Pv7Dq0bHhUgktXk38sDio6XEqchkZ2PyyjOg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
version: 1
