interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=displayName%20eq%20%27cli-app-000001%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2274614'
      ocp-aad-diagnostics-server-name:
      - N4+GZCeuBICqA9yHJI6fyz45bb70LiBRrNRRpMhbuPY=
      ocp-aad-session-key:
      - llFqRec4-l1_p4VuDvgPuxJgokzToL6GSbOWpfuN8tBlNIqGCU6HyT5M-0PjlIfgd9jy9Yqi7gsqlSmPWrDjZr3MF_WGEDPkX0GW7UkoTrfWzOejFf5B6BEAozbJRl7M118bI2IRS7UAkiQA-14ni4cI6NazP-gxMdPaubxI3aU.rom8-IuxfpO8DWl79tY4ORT1bHNj6OHIFtp_PuMglqY
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2210204'
      ocp-aad-diagnostics-server-name:
      - 4lgCcCOrlUAsz4Iumwl0La0eeTeKcZTYTCPwSenZFYE=
      ocp-aad-session-key:
      - rEPxLS4ppoTfw3W5hrgPVUR61X4l99OxqHmSLMWX2H7u6ENKFYer2kC7FVaPVtwsEWGxpjpfZwyVHzMZPmPGpQrsfs1ekyIyK5GChc5rtwb7km_nw5ymu7k5_E-FczSLbMSmwE5PvVrJ7SRVI00v159rI5LqG4-e0wlzReeyXbE.WIwW8UOGgDBLCGmt5UbSoPD-tIMoPssrQpDforbFcig
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://cli-app-000001",
      "passwordCredentials": [{"startDate": "2021-05-31T08:10:15.429778Z", "endDate":
      "2022-05-31T08:10:15.429778Z", "keyId": "40871054-15fa-48b1-b169-bfe5d3f37854",
      "value": "ReplacedSPPassword123*", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "cli-app-000001", "identifierUris": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "21bcc8d9-8d5e-4836-99ca-3254ece40438", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "066d25bf-13d9-4e34-b031-a24f1f196f8a",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-app-000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://cli-app-000001", "identifierUris": [], "informationalUrls":
        {"termsOfService": null, "support": null, "privacy": null, "marketing": null},
        "isDeviceOnlyAuthSupported": null, "keyCredentials": [], "knownClientApplications":
        [], "logoutUrl": null, "logo@odata.mediaEditLink": "directoryObjects/21bcc8d9-8d5e-4836-99ca-3254ece40438/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/21bcc8d9-8d5e-4836-99ca-3254ece40438/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-app-000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-app-000001", "id": "41091fcc-0694-4760-98ed-b92cde155fdf",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-app-000001 on your behalf.", "userConsentDisplayName": "Access
        cli-app-000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "//5yAGIAYQBjAA==", "endDate": "2022-05-31T08:10:15.429778Z",
        "keyId": "40871054-15fa-48b1-b169-bfe5d3f37854", "startDate": "2021-05-31T08:10:15.429778Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "AzureSDKTeam.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5332483'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/21bcc8d9-8d5e-4836-99ca-3254ece40438/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - snE16cN4eyDIVo9MKKZa6yMizl5Z/u/WnSe/mnkk5Dg=
      ocp-aad-session-key:
      - ZmNPDjKaSPb37BVk30of0LSd6nxiQBV21YfAJVlKssHNjrfhCm7ivW3E6BhhJi1S9pj5JnVhGLr73A6kfmgnB-zqC-g1XSAPEWBh7OPirin1wE3zl2s8hFeyMQq1i5CuRakRQeEV_T5PWuvKqBKDugf360THYXx8VHkgQ8w7gMo.fyslMlrYNAtVFwrAjoz2RZd17QMpuAB8CyOoPxZMWFk
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "066d25bf-13d9-4e34-b031-a24f1f196f8a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"d0381b9e-47b5-4ea5-94c9-46fdbc045612","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"066d25bf-13d9-4e34-b031-a24f1f196f8a","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"41091fcc-0694-4760-98ed-b92cde155fdf","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["066d25bf-13d9-4e34-b031-a24f1f196f8a"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3389221'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/d0381b9e-47b5-4ea5-94c9-46fdbc045612/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - BJ6EjUkGFAewfCpnuVGv+Y27DGyrSOZoZNc39OVg5dM=
      ocp-aad-session-key:
      - _QnQ8dBdpSWRyyNJLGsR6kKT3O0aXGBNTyVObhN53tC2SOoWvXOBY0FTWpPqW-0SWKAcInIXnStBDG1FzUZEGaZMGgTW9Ts1-I_gtTFTYfko3kOCepP2VAD449mmC4DVzOjqtkLEtjd1dvyhvatRkxBlAwiQtxLlSxucHmYMlDQ.-g1DcQEHYkrSbLpJx_daX9QkizIYvBE5rzpGaaY_rIE
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27066d25bf-13d9-4e34-b031-a24f1f196f8a%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2188725'
      ocp-aad-diagnostics-server-name:
      - EHkIvnR5MSveMqKsMj2EI8tC8kwbOVxbpJj6g2PneJI=
      ocp-aad-session-key:
      - HP3FdZxEt5pKbDpUJEjn93_udeanb-CtOqNaa5xHMJEoGmCwkz_hvNR9JXdL0jwBuYtoEgVZinOUuHPBDoAi1PYtAka6lSr2YzjemWi6IJW3v7XbliJw0PiMpobjoFvwiPMI5hDCt5p9hkbDru4OZosqrKy0XiRZXHffqAZ_khg.Ujom7zllOGO98t29xqp2cZ7ebu4JezoVdOUbzrprbxQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27066d25bf-13d9-4e34-b031-a24f1f196f8a%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"21bcc8d9-8d5e-4836-99ca-3254e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/21bcc8d9-8d5e-4836-99ca-3254ece40438?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"21bcc8d9-8d5e-4836-99ca-3254ece40438","deletionTimestamp"[...]
- request:
    body: '{"requiredResourceAccess": [{"resourceAccess": [{"id": "a42657d6-7f20-40e3-b6f0-cee03008a62a",
      "type": "Scope"}, {"id": "311a71cc-e848-46a1-bdf8-97ff7156d8e6", "type": "Scope"}],
      "resourceAppId": "00000002-0000-0000-c000-000000000000"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/21bcc8d9-8d5e-4836-99ca-3254ece40438?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '5236037'
      ocp-aad-diagnostics-server-name:
      - EHkIvnR5MSveMqKsMj2EI8tC8kwbOVxbpJj6g2PneJI=
      ocp-aad-session-key:
      - XLqaa_VETT0mI46nDTjq0NH8Wz-wHF3SLAjRhOQxJyhM0ehiV3d7dBKathwpBz33lDQw7myKBX-01LAoxop0osHHXu09eB9L1TIB44H1FN_p2KD3tIL-imoXOU7OhJ3WWEQYCG47MOQkQ_5EgQWyAD6K5t9afDWCXvZb3z62mlQ.2As3HuAuaAy50QrXi8QCv82cT8cYyIUv_DdGvnozONA
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27066d25bf-13d9-4e34-b031-a24f1f196f8a%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?$filter=clientId%20eq%20%27d0381b9e-47b5-4ea5-94c9-46fdbc045612%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2218282'
      ocp-aad-diagnostics-server-name:
      - v6mh2qS6M4TEfm4mzbIsQZOcXCbqiOZTBx5Tu6Htcdg=
      ocp-aad-session-key:
      - A9i6oPHmeCfNBNTPMoRt8OuKKWNKs_NKwM6mOZaqYqgfCivQMVKrZeYrW1wlQwcmybiDMSOLNlwpJYBUVSGTIPq0Za9LYx7vUOrNCSp0rsfYK_-YRuJeaMBW3IX0amO5d-TwPrnuL9Pfyd8Q4pFgKrDi8onFmGwvkmVzZzkG9Vs.VGPgoVMhufk-49aKYY50EYIftqEdW9UjLO4-nfPC8fQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2700000003-0000-0000-c000-000000000000%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"a3efc889-f1b7-4532-9e01-91e32d1039f4","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Microsoft
        Graph","appId":"00000003-0000-0000-c000-000000000000","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read and write all Windows update deployment settings for the organization
        without a signed-in user.","displayName":"Read and write all Windows update
        deployment settings","id":"7dd1be58-6e76-4401-bf8d-31d1e8180d5b","isEnabled":true,"value":"WindowsUpdates.ReadWrite.All"},{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read and write external connections without a signed-in user. The
        app can only read and write ext[...]
[...]
