interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith%28displayName%2C%27azure-cli-test000001%27%29
  response:
    body:
      string: '{"error":{"code":"Authorization_RequestDenied","message":"Insufficient
        privileges to complete the operation.","innerError":{"date":"2025-02-20T10:52:28","request-id":"592b4119-18a8-40bb-8d47-cf1c4fae49d8","client-request-id":"592b4119-18a8-40bb-8d47-cf1c4fae49d8"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00007C44"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 403
      message: Forbidden
version: 1
