interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-test-sp000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2281229'
      ocp-aad-diagnostics-server-name:
      - xrnPLznA23meHhZzFa2Edu396zvIR7uuLIlswwA4JEA=
      ocp-aad-session-key:
      - CCAl0LqjgsD9jaeefpGDLkg0zJAUs3o2Xvb5yrA6GpdSokO5VHwEQ1zGQifCfdwwgKZbrznAtAZ0iD4dut7AolqYNxLaKon9Cj5Pe0u9Gzl0N02KEHZ7yvil8NgxmCIRR4-G_Ie8iipYfEx9lQHVI4bzEtGQs8HR5zaKiC1W9A0.BlIESXmlp9I9VzmySVPGCiVSwf-li3XowJ7FKK8OYhA
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-test-sp000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2325720'
      ocp-aad-diagnostics-server-name:
      - 0Z3ABi/XReZOLKUjrJIzgwPcvAf9LiEj5Lkoseraze4=
      ocp-aad-session-key:
      - aeXIDLfq-csV59vVOuyLW891ihkD2YKD5Br1eVZurAI58zxp9FGg0hl8lTVnVXlzbIR1QYrjLcqVj9s4a4AL41WWlgTc8gtLpQj0BtychBBLF_69QzEfLeWe3WXT7CVwBoXnZVQbD7GNYjvFD4zhwad9oGxBHidv7zRbGR9ofLs.Rt5g3mz2sKXJkCBxlE3FHTGR3ABIYi4KQe9pA8_jqpg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://cli-test-sp000001",
      "passwordCredentials": [{"startDate": "2020-05-25T06:42:21.01945Z", "endDate":
      "2021-05-25T06:42:21.01945Z", "keyId": "8a05aa4e-8547-4b37-a4af-5217f341f428",
      "value": "ReplacedSPPassword123*", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "cli-test-sp000001", "identifierUris": ["http://cli-test-sp000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "265168a3-ec3c-4ef4-ae4a-8c9f0ac6f24d", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "ab336b10-20b0-49e9-b628-c3c4bbb12bd8",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-test-sp000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://cli-test-sp000001", "identifierUris": ["http://cli-test-sp000001"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/265168a3-ec3c-4ef4-ae4a-8c9f0ac6f24d/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/265168a3-ec3c-4ef4-ae4a-8c9f0ac6f24d/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-test-sp000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-test-sp000001", "id": "33144e58-3648-4d1e-84e7-41d4680c9dd8",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-test-sp000001 on your behalf.", "userConsentDisplayName": "Access
        cli-test-sp000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "//5yAGIAYQBjAA==", "endDate": "2021-05-25T06:42:21.01945Z",
        "keyId": "8a05aa4e-8547-4b37-a4af-5217f341f428", "startDate": "2020-05-25T06:42:21.01945Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "AzureSDKTeam.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '7740303'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/265168a3-ec3c-4ef4-ae4a-8c9f0ac6f24d/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - Y82BpKRlUgewplPNRiSw11Z6vGZl7aBO/qroOg5zal8=
      ocp-aad-session-key:
      - 8vUiNKSM-gsGHmXyh3rqzGjYltAWRPqUfzLWf3uL0v4RurFmBnLKrBUI6-pKkEALPCYK_uKr2DR_ICKyT9IET5LKll1XBM2Tkh2zgcKAtcsQYVpDkeEVOD1gzWPVCL84F2Uc1DW4b4Ym8pAgpFYtrx5OJvo2wF2p9Klze3ifYhs.Neiux5txtrEU1PH0TCKt77OzD-EImu8geWhh8YU0goM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "ab336b10-20b0-49e9-b628-c3c4bbb12bd8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"8afee511-06b9-4cf6-bf2c-76bbf7869080","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-test-sp000001","appId":"ab336b10-20b0-49e9-b628-c3c4bbb12bd8","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-test-sp000001","errorUrl":null,"homepage":"https://cli-test-sp000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-test-sp000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-test-sp000001","id":"33144e58-3648-4d1e-84e7-41d4680c9dd8","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-test-sp000001 on your behalf.","userConsentDisplayName":"Access
        cli-test-sp000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["ab336b10-20b0-49e9-b628-c3c4bbb12bd8","http://cli-test-sp000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6500541'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/8afee511-06b9-4cf6-bf2c-76bbf7869080/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - U3IC+sCFhBjLwIKsstDT61MAKpvqb3TpiKBkoYGjBrs=
      ocp-aad-session-key:
      - LUm2JnmUCy45WCG1bGTDfYyigdp17VoeoKCB8P-Gch6eE89BDCNIcYFUbbd_wfkoOWY1yXyJeH3R14OzU1htCOFyzwD-n3eS01UsXUUyN6Begu_0hieHg5Bu1HfFofijvqLekbhMGTKJJOgBobOzYhnm-88pdVy1H-4rbe59RVQ.xk150OGLBwUeANIRhcLtSGROV5TlxXVrSOgEiq9H6s4
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli-test-sp000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"265168a3-[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/265168a3-ec3c-4ef4-ae4a-8c9f0ac6f24d?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '4989303'
      ocp-aad-diagnostics-server-name:
      - Pic1F65Epb09dO+KPYO5B5p6FEUjmCGfdDxaTmD237o=
      ocp-aad-session-key:
      - xx5TyhxVK7RzknNdiolqQsxFbH5xCzyn9QP65u0W1-h4YCnLGT8R6xzUCL3baydcj2tihsFwm-9x4wYJNwQ-hWbcnLpo1m9DDiw_C798-8t_-l90Nv5g8b0ZybzqgJ9IJvAbnVwK3_0wwZcqoHsjmzEfpjsLrK78hhzM8XXWdCQ.GZHQ3ZZ4L70tLGLB9ixUp_ReMIzT6rnyOSEWOqu-gSs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%2700316cfd-7609-473b-91f6-2fe57b4bc17f%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2314622'
      ocp-aad-diagnostics-server-name:
      - OgfG7WC7tzPCVPXHvx5QHJ8wUxxQFeG6xBG8mNHxz10=
      ocp-aad-session-key:
      - PzqOP8IbLRXBi2vYAyPpuiV8CrO_ylxX3hlt8yC51EO3BPPIHkPYcRZ2OwZJ1BzUv6RxdFqxPeTnK1VHKLhRVfp8dNiEGhjQIVXKx_o8Y9MKb1xFEVu7yoi-BfrAxAXoOU65hEYGHS7tEhIlcGn-Gx7PU2bY_LYFNnn_RKmntqA.wTIXRx5F5tnyLXxyce4Mu3oCVa51Ip_u5Y781v42Jmk
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%2700316cfd-7609-473b-91f6-2fe57b4bc17f%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"eccb48b1-8432-48dc-a4e8-01684[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/8f86bb49-8984-4fbd-8477-238bcb4c973f?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '78529746'
      ocp-aad-diagnostics-server-name:
      - wL7zcXvhIXIAGeynkORCtbz/3bweluE/NT+Ij6AZJG0=
      ocp-aad-session-key:
      - qGPCZejIhplxXfHfeeZHwOcTgT3tMhPFlwK0ZJYTNiY7kUr59sj1jZXKY9LZ5i9bOWZaE5ITUT1ZvRGR2-jSvClhQ9TKmMGtcF5Xp_Y_daJcDnjzHiX3KGbci2Xair9uH9kW9QAJMr1XNS9PkXURAh0CW9HbkuzhNrCfKnEslgU.fKLE39NMpmMiVoz3qX86CIlgmR_2UegkodbQxKtNuvo
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
