interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups?$filter=displayName%20eq%20%27testgroup000001%27%20and%20mailNickname%20eq%20%27deleteme11%27
  response:
    body:
      string: '{"error":{"code":"Authorization_RequestDenied","message":"Insufficient
        privileges to complete the operation.","innerError":{"date":"2025-02-20T10:52:32","request-id":"01fc55f3-3061-498d-a38b-7aaae157628f","client-request-id":"01fc55f3-3061-498d-a38b-7aaae157628f"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00007C42"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups?$filter=displayName%20eq%20%27testgroup000001%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF000031FB"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/groups?$filter=startswith%28displayName%2C%27testgroup000001%27%29
  response:
    body:
      string: '{"error":{"code":"Authorization_RequestDenied","message":"Insufficient
        privileges to complete the operation.","innerError":{"date":"2025-02-20T10:52:34","request-id":"5e211e1c-8e35-42f9-a4bb-2b8a3879ce9b","client-request-id":"5e211e1c-8e35-42f9-a4bb-2b8a3879ce9b"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCC"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 403
      message: Forbidden
version: 1
