interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1378974'
      ocp-aad-diagnostics-server-name:
      - hNk3ByyWscnuxYhZyzeWzuQ6OybBANIyKPA1wrgpm8w=
      ocp-aad-session-key:
      - 82WUUfMXHLJ4rZBZKfeVhbjyLr6PAQmg8tK0H1umGMyHpVruvrAwQvyyFpUW5beu_CHnOHvASPIic8MhfHwRaCB4h8Pd0CtjtMA03Bj9-lgAfGsjPluM1bjeUVzbulzpndCdkGDQ0BrB2tv9LRgnyooU3c_Tanub7QmhJJas48w.hBWEo_c0BrweU01HNE9aphc-KDS7Cw0sxZMke2F1F3I
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '712411'
      ocp-aad-diagnostics-server-name:
      - G8JvYFzct3q1p3NVMLyRCsGHGx4PhB3HoNLiz6oTNsI=
      ocp-aad-session-key:
      - PPeF7A3FyNzQsqhfrBwDfsgkgxdI9drzEUIe_bOzBEqC9axakkf-9_m0-ZpcRPXYMtg73p2IytiUkUAmrXnsxlbfjzdeaah_9JVdHVI-gvuH38Xo1EIkln20DlmAJAVsTP0AvlCChTsoVKffru92IyNygMYwqg_--J1gb2PW2ME.wA-ePoqcn6G9fHI5ckytOIDWagNxHp_SUJ6OmTBWyZM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://cli-app-000001",
      "passwordCredentials": [{"startDate": "2020-05-18T15:19:17.113882Z", "endDate":
      "2021-05-18T15:19:17.113882Z", "keyId": "64f00fe9-2770-4bec-88e8-6ddb92336db5",
      "value": "ReplacedSPPassword123*", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "cli-app-000001", "identifierUris": ["http://cli-app-000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "f85e4947-f9ed-48d9-9d60-8278db4fad11", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "dc2e2d9f-7ad8-43f7-bc11-409a881a5d55",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-app-000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://cli-app-000001", "identifierUris": ["http://cli-app-000001"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/f85e4947-f9ed-48d9-9d60-8278db4fad11/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/f85e4947-f9ed-48d9-9d60-8278db4fad11/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-app-000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-app-000001", "id": "3bc7535e-7d44-425b-a2a3-4da8a9a52205",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-app-000001 on your behalf.", "userConsentDisplayName": "Access
        cli-app-000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "//5yAGIAYQBjAA==", "endDate": "2021-05-18T15:19:17.113882Z",
        "keyId": "64f00fe9-2770-4bec-88e8-6ddb92336db5", "startDate": "2020-05-18T15:19:17.113882Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "phsignor.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2747631'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/f85e4947-f9ed-48d9-9d60-8278db4fad11/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - /6dqyOs+CdfuzS2I8fazPkE+KR4yBaupLZ4G5qHdjMs=
      ocp-aad-session-key:
      - difelREAVNQSbm8x8iAIzrISGraugW6QR77BkxdCxf_kYGEPfjVaZDc9bMk8M5tMk3I-8x-XBROUKVgpe9vKYvaeARxSMQK0EuLpT1yHK5akXaWuUPc-6QC8i7p75al08Xd_BAX_NhecS0jl_WfOwlAqRZH8fERHrYOLkewJcNM.3HBxxD8p0WI5jkWtgPtJGIJ39b25ygRKsmRl4xdHyDo
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "dc2e2d9f-7ad8-43f7-bc11-409a881a5d55"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"11ab3481-bd4b-4e94-bbda-f1177aee39e8","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"dc2e2d9f-7ad8-43f7-bc11-409a881a5d55","applicationTemplateId":null,"appOwnerTenantId":"1c411c5e-78cc-4e89-af5e-169408a540b8","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"3bc7535e-7d44-425b-a2a3-4da8a9a52205","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"PHSIGNOR","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["dc2e2d9f-7ad8-43f7-bc11-409a881a5d55","http://cli-app-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1877157'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/11ab3481-bd4b-4e94-bbda-f1177aee39e8/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - OVWdKJpEaDVjKez2/zHG7VUEvTFK1ivsTh03KZzgw4c=
      ocp-aad-session-key:
      - 03Ou1gRHA5YI3QFNzpzQfmFm2V1KTNApaedAsfShNsV1jStTnkzfFDacpDGslfGMSo9JBIenZtdr1yMs4DCHi5RJfsb4t5kHUegIkd2N9fWuIwhz8Wvxi_oxtb5yHTgiKcP8PGVGOt6N_Dnh318uHh1ieOCmy3LfHB_6_8vV7JM.3iSb4tJ6y77Jci1wcW5IjMF-Ujud7jHIwy3AzgBq2rc
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2700000002-0000-0000-c000-000000000000%27%29%20or%20objectId%20eq%20%2700000002-0000-0000-c000-000000000000%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"84052623-1b84-4385-be42-84d00f4b2f60","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Windows
        Azure Active Directory","appId":"00000002-0000-0000-c000-000000000000","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read all your organization''s policies without a signed-in user.
        ","displayName":"Read your organization''s policies","id":"6c2d1b1d-a490-4178-ba6b-7efceda9129b","isEnabled":true,"value":"Policy.Read.All"},{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read data in your company or school directory, such as users, groups,
        and apps.","displayName":"Read directory data","id":"5778995a-e1bf-45b8-affa-663a9f3f4d04","isEnabled"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27dc2e2d9f-7ad8-43f7-bc11-409a881a5d55%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '669590'
      ocp-aad-diagnostics-server-name:
      - esAucS9vPK0ryGFZPXYJponvsdUb75DwEpwVsd/FWqM=
      ocp-aad-session-key:
      - 5R7xaddNpygmKCwKjyHh4QFmG2RRa_PRtUoghR_Vi6UG0eqxd6zweScfitlqa7Oc3pnb31zxvlUBL6h5EGbsDjoU74AYrkyf2Ql22fj8WAbaMx55_Mm47WUOv3k_ZTUlMatce6NG4MQ2JZ_DUVAY_7lYn5qZSMUzyDEUtckgSgQ.K_BU29o-CcAsNc1MbPEZ0QMryr5m-DgyeH8wfmu9wAY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27dc2e2d9f-7ad8-43f7-bc11-409a881a5d55%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"f85e4947-f9ed-48d9-9d60-8278d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/f85e4947-f9ed-48d9-9d60-8278db4fad11?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"f85e4947-f9ed-48d9-9d60-8278db4fad11","deletionTimestamp"[...]
- request:
    body: '{"requiredResourceAccess": [{"resourceAccess": [{"id": "311a71cc-e848-46a1-bdf8-97ff7156d8e6",
      "type": "Scope"}], "resourceAppId": "00000002-0000-0000-c000-000000000000"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/f85e4947-f9ed-48d9-9d60-8278db4fad11?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '2841994'
      ocp-aad-diagnostics-server-name:
      - UODcls+z0bsuUjKK0llV10vJBeHpmOXwzkcSG97vW6k=
      ocp-aad-session-key:
      - LPrrsjeqfBdVG3X-_nuBIhyGGbeDE20YF_qCjfwWvnzWX5Jt9R7119OqIda1zYprNlwELh7_JZ6H6RD8d749Dk45wJBZPqaxkh8oFqCM9E8dZdLsYL0PlGBrFR5LbqXGCYQMbX2orNIFFwtF8rsbQG6t2_fcWExUuyQy1RJy1gg.wnvBKGbOcWAImmNQF4kzzgGJ3pb5X3OeOXPyownIrME
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%27dc2e2d9f-7ad8-43f7-bc11-409a881a5d55%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"11ab3481-bd4b-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?$filter=consentType%20eq%20%27AllPrincipals%27%20and%20clientId%20eq%20%2711ab3481-bd4b-4e94-bbda-f1177aee39e8%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '878078'
      ocp-aad-diagnostics-server-name:
      - 1NLGSpbQa/sgyX5Koc4Pfki9rdzL63nmFXc/kk253lk=
      ocp-aad-session-key:
      - Yk9MHC66WU-iZ3Ctfg3oKaR-rvSp4h6E4VA-snGWGn4tJEJlpO027i05TQqw2fMiG0j_IJ4JnkAlVfRQwnDZX7FK-Ccb4EhI_GJmjz45qs6owfgTn54-0d-BO3dMDK9qZjeS82m0FUGSx3BZ4S7RlTeTRZsCOF89n9IpCIQcWr8.glCx97tJ3b7rP1W8DX16h2RQX9TzslcjZTjkybsk8bU
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?$filter=clientId%20eq%20%2711ab3481-bd4b-4e94-bbda-f1177aee39e8%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '679729'
      ocp-aad-diagnostics-server-name:
      - En02IzHiDddaVv0gqvmHGDQngIi3r2n3Xc1Dj45i1yc=
      ocp-aad-session-key:
      - 0BkuDruiL72iRZWyxPetf52gYymJuTnN2KXh2TjBhu6s4QqrM_E9MeNmHn0igN2cuAKYhQP8RzQZl36cLb_vjiENx1f-bBztLCuDGCFymES0K3BsqoGH1OszhyfYJWbcR1NvDq1qH1XYhuCEjW6u4ROGO628GgaogdHDhcVqUDc.yd1Omru0ZTeMUnOzcumMOVeMG-kfgivkWAze6drCExI
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"odata.type": "Microsoft.DirectoryServices.OAuth2PermissionGrant", "clientId":
      "11ab3481-bd4b-4e94-bbda-f1177aee39e8", "consentType": "AllPrincipals", "resourceId":
      "84052623-1b84-4385-be42-84d00f4b2f60", "scope": "User.Read", "startTime": "2020-05-18T15:19:29.382055",
      "expiryTime": "2021-05-18T15:19:29.382055"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants/@Element","clientId":"11ab3481-bd4b-4e94-bbda-f1177aee39e8","consentType":"AllPrincipals","expiryTime":"2021-05-18T15:19:29.382055","objectId":"gTSrEUu9lE672vEXeu456CMmBYSEG4VDvkKE0A9LL2A","principalId":null,"resourceId":"84052623-1b84-4385-be42-84d00f4b2f60","scope":"User.Read","startTime":"2020-05-18T15:19:29.382055"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1499624'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants/gTSrEUu9lE672vEXeu456CMmBYSEG4VDvkKE0A9LL2A
      ocp-aad-diagnostics-server-name:
      - Wh0o0gveC6HaoDl4+Yog3QltWOPCT4+g0D7gQPTPso4=
      ocp-aad-session-key:
      - sROtdsW6oXVEDOO79h1Z-CZX6z5hkZHobTKKFx1z_cxBdwVib1WqgiFOdcuXkX2NGKqHKnL66T0LRTrq1PoSbbBNMv29aHfICFcFYJjyBZxzhiWoiZu810DuV_UdT4xxJe85QFoVT0ZUIGL4FD41OAt5TDDu3kafBPoQ9BR0L0A.U_BvDXVQb_VqLI9qf44SJoq1bNtpK2QWYq_TerOQIWE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/f85e4947-f9ed-48d9-9d60-8278db4fad11?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '2644236'
      ocp-aad-diagnostics-server-name:
      - ZrQaulbbh99HAr+k06RtIWSCA1uXgQdAIw/I1NrrO5I=
      ocp-aad-session-key:
      - 89dBiAZMRogIDmXjm6SittyX94YU-z3UrAWFh2mRmmmc5v1wmUcdqk4dG-ppI_HEeP1_cAwtLLvaD-VfX5BQXN-4c8BCAP_JqY1uZxq_k2jphy_IFCaa5-i4dO87Oh-gchiXJVPDAFTwqwKRWW1cqsBK8Z4ONw5gfjJ2LVu0PjY.kgHYaqkfcT-_iW495vQFS_X2Dhp0tbqz380umzXIiDA
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
