interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27app000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '496976'
      ocp-aad-diagnostics-server-name:
      - Rfijphx7ecKN3DhXco+oic4mwfgJcbBApkH8ISsM3TI=
      ocp-aad-session-key:
      - zQ9v7O9MoS0Iy9Q9xx6h2J-sd5ItGqvwBEY-Bfjlg-9KoYa8yhU56IbvpVyGTNnQoapSnEZjRoauLqtvHfHQvcDfgzyVTaBadIJeGlhuF8FFglTpM8meu2nJpGqYb2V88fQ9pMFDg4-Icve2CwdL_g.PXMOI9J0UH7Sd1cOU2ggTMswQ25VQsTx4XIdivELK-w
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": true, "displayName": "app000001", "identifierUris":
      []}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"97d46bbe-4dcf-42e6-a602-312b39da6833","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"d5ec21d7-197b-41d7-8c86-b9084d310c62","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":true,"displayName":"app000001","errorUrl":null,"groupMembershipClaims":null,"homepage":null,"identifierUris":[],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/97d46bbe-4dcf-42e6-a602-312b39da6833/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/97d46bbe-4dcf-42e6-a602-312b39da6833/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access app000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        app000001","id":"4581bb96-f6ef-4d7c-8e5f-7d1343b0ce94","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access app000001 on your behalf.","userConsentDisplayName":"Access
        app000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMultipleOrgs","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3642785'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/97d46bbe-4dcf-42e6-a602-312b39da6833/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - sKHAZBgGw8ZD+gPJGLEoUnxY5pfwvBzhG5jUW8+JW0w=
      ocp-aad-session-key:
      - Gv0WrQ_crYsQvY7DmNUMEcTEQKeQGAwN6jFrdedSTzt8TeKVXoTHzKoZ39Xks0Iz5cLyIPYM6fu5Qu8bsuocfhHDQEMIxnhA6N6Kt-4co7BMYd3KMNuOWsI6zosraGZ7jrnO4nNFztIW-Zf31iNucA.RGVOCdy2GvOvF30EfYRyOtC0lhhtB-cMF65ZOabz2sI
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27d5ec21d7-197b-41d7-8c86-b9084d310c62%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '516122'
      ocp-aad-diagnostics-server-name:
      - 368Ee4wMDA+pKLHJOto3imsvSCQfolrdyq4lpctl9qk=
      ocp-aad-session-key:
      - D_rleIIOFs1BrhnVpZaEOuQRqAnqSYgblCHTha9Ps8bW75ybs1sj-AhGOoDL3SAlDLS6kqOO4EANsB9AXvCxVdWIWxmB60vMaHTUG2LbbpAqv6gL2otGTMKEENTjX7t_CUTu4fa0AXPC4hCRILrUTw.yeX_y51lDLJD3uxd5FB46Upjx6Y1Slxt7Ll5t6Si-yM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27d5ec21d7-197b-41d7-8c86-b9084d310c62%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"97d46bbe-4dcf-42e6-a602-312b3[...]
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "app000001"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/97d46bbe-4dcf-42e6-a602-312b39da6833?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '1457454'
      ocp-aad-diagnostics-server-name:
      - R24SEsKL6l8WwGja0LsRtb5gfSEzPaANsccbqgL6qjQ=
      ocp-aad-session-key:
      - b6CVPKnYRPEoAaxz8C-F1TxOz0_iY7dfMpwENPRNVYaM6RrgCxqRwvDxwSpyCuh_KONshJ4KsQZLHx2Ka6zQ6bVCTlAtOoaVpgGLisiVKgPOTsmC_tleblDF3vQa2R0Wi3HmNfYcFOxSNQhqiuwqFw.6HHruCsOimmotE-njdy-qLuHVouQc5eQYkH-ugH24QY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/97d46bbe-4dcf-42e6-a602-312b39da6833?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '1664267'
      ocp-aad-diagnostics-server-name:
      - LkOmeJl5kSD4mhI5V+rssBPRlrNTS/FC/O8Z/auNI9s=
      ocp-aad-session-key:
      - UjkmGGApn-3ReCr06ziJVNwizcl546NWvyXDgRvOSf15qPyGt3wJS5V0vCc_wjzF3Xux1NAT4YzV3OfDP610Dony3LTy9E69YG7b4Qm24w0euyNC1NtRlf7OZkjtD0NUImDKCP0GRIobaSzNL_hxgA.53EtTbv7Acs1gIG3gnGrYTLFfdJEym-xxM3eNK8vj1Y
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
