interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-web-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2383640'
      ocp-aad-diagnostics-server-name:
      - RfOnWier2qhPqdGkvthh0LDmYhpneMfUlv3Lmkx4y30=
      ocp-aad-session-key:
      - 0eplOnWxUuvFkeKoUFL1LhfS0dUoseBqRwfd7BA14CjhMTi_hL6kqozkX1xPx6WM4Cg3lRErvodjJcEKKGCIi3KMSg2jsrMYQzuA3oy--d4dMn5wf4CJkk66crkhX4w_2oTuVqmwBlNREEashyK2MFXrDuuL1qEqCIdJ82PX57c.gFtQZY5KUYCFyXC0-QippHxvtRYAJntFwf82pUUeSlo
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": true, "displayName": "cli-web-000001", "identifierUris":
      []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "648fb0cd-28dd-42ff-9879-15bedc487e0c", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "90f824f1-fa34-4387-9d99-68f86faebb13",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        true, "displayName": "cli-web-000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": [], "informationalUrls": {"termsOfService":
        null, "support": null, "privacy": null, "marketing": null}, "isDeviceOnlyAuthSupported":
        null, "keyCredentials": [], "knownClientApplications": [], "logoutUrl": null,
        "logo@odata.mediaEditLink": "directoryObjects/648fb0cd-28dd-42ff-9879-15bedc487e0c/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/648fb0cd-28dd-42ff-9879-15bedc487e0c/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-web-000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-web-000001", "id": "d4f8126e-0c49-4508-8ee8-fd43a2f23ea9",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-web-000001 on your behalf.", "userConsentDisplayName": "Access
        cli-web-000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [], "publicClient": null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com",
        "recordConsentConditions": null, "replyUrls": [], "requiredResourceAccess":
        [], "samlMetadataUrl": null, "signInAudience": "AzureADMultipleOrgs", "tokenEncryptionKeyId":
        null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '17147509'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/648fb0cd-28dd-42ff-9879-15bedc487e0c/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - NSWIiCK/5GEjwQ7/80e5hxAEcp4h2yQEdpGnPSUr9Z4=
      ocp-aad-session-key:
      - QdKXafQeZdRV_nXjA5eFdkkqFihipN1TEnJdyFVDy6X-f-BxhYOqRUuPLOcqxtKsy1kCQ4ENC8OLDc-eMG_U9iyX8v2yQcmlo4KdjWoQwz73laV1HUOui4qSluFwPKfns1YUlvAuOZxfrapnylY0W15SxKUa0CmCmPi4HJuaNW8.0dmcbWXSMEQWF3eaSiDWiZu1JmLo8_E-JbC6vT8lsG4
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
version: 1
