interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=displayName%20eq%20%27show_group_1%27%20and%20mailNickname%20eq%20%27show_group_1%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3931648'
      ocp-aad-diagnostics-server-name:
      - 7/al7S0Qh57bz+89nP+mnwDwdim1hKdV5Sukqtc2xmA=
      ocp-aad-session-key:
      - a8FSvr_A9GmdDTgUh4NtL0osUUVINvr0D7wgBDxR8AZ_MrfVxUOizDjiDsAV3PeHIilQH4Pmg3ZKSh6AEgScXKqxCoVPr9ltbvC8I95dALSqCRXmahD2hqQ5TiAv5TrnAVbmjV3W8HYicprq0S713VLO9AkLYUtGXXH0QBDXjVs.7ST2GxIq40CgEiXWfkTB-BhwpJqlBz4Kiw7wvT2sTyY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "show_group_1", "mailEnabled": false, "mailNickname": "show_group_1",
      "securityEnabled": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"0b775aa2-bda9-4f55-b16a-d2c74b5edde4","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"show_group_1","lastDirSyncTime":null,"mail":null,"mailNickname":"show_group_1","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5453819'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/0b775aa2-bda9-4f55-b16a-d2c74b5edde4/Microsoft.DirectoryServices.Group
      ocp-aad-diagnostics-server-name:
      - BoymsOIHYhC2MMynPFwfbh3Zcc5hQ254oHjnaQqr2fU=
      ocp-aad-session-key:
      - KGSI23Op2up-F1t7_OlyMMGX6MfY2qTwQOunNqsuebP-15HLHzhh5lLt2Q116ZvmUsXsU8KlVp1OoaI71LnzSCSQPwVzl6vPXdlrId9ETIkSpUGTZH7GMYTub51WPNPlugtP5pFb5QSAqVcHsj497wfiNcs0YCqcttvy-D-2zg8.ejNN4v6bmrZ3OZ5xE8rHeV3LgkNoSi9fKfQ2ZZaR5_I
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=displayName%20eq%20%27show_prefix_group%27%20and%20mailNickname%20eq%20%27show_prefix_group%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2249846'
      ocp-aad-diagnostics-server-name:
      - Syia7gVce5NaJcT6QVyHs2Ggr5eCohXfAgEI9K6nQAU=
      ocp-aad-session-key:
      - H37rJKPb6SqQqM_JaZoLHJLkPY6Y_BO4DqrB-qW0Z1huf8CdVGNZm4hx2hZsenIs66Dij-vz7Z8SgzC4fmS2eGz3cHp1oqow0d_WwvVa2vyaOkdFK-oD0iVoTfI_7O_lNtDNntJTZDGlTgo8_HS0OlBrVu7G16QopYED8qPoxYg._NXoq8iCsUUoPQcfe2fI9c3Tu6MRHEQHR7r5ub1yNRk
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=displayName%20eq%20%27show_group_1%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"0b775aa2-bda9-4f55-b16a-d2c74b5edde4","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"show_group_1","lastDirSyncTime":null,"mail":null,"mailNickname":"show_group_1","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2524311'
      ocp-aad-diagnostics-server-name:
      - U3lEHEd4HwaNf+3fkcmhg9lpCZU+hn4xjWqA7IRjolM=
      ocp-aad-session-key:
      - tRCOr_P80MltwRS_wA4HpLajJfVPcFaKcJMu2f94Oqh6ecnx5e2R13Eq1hZ0bH1id43hdpqrvxspeDY4OJrfXbAE-M8B-NJk-VDDqO187db6gbwMmpYah0hzFxRfv77qi_FTgnSVN4u8RNEBL43JowinYoE6Ja52tTit2a1cd_c.BUbAKs8j7Y_M1e1mPfC_xOvoWDY55itlf6o1AsxMq00
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/0b775aa2-bda9-4f55-b16a-d2c74b5edde4?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"0b775aa2-bda9-4f55-b16a-d2c74b5edde4","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"show_group_1","lastDirSyncTime":null,"mail":null,"mailNickname":"show_group_1","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2482312'
      ocp-aad-diagnostics-server-name:
      - li6UiAAsB1ecwovfM0b+UIom+gI6neO5KJfrhijnvQM=
      ocp-aad-session-key:
      - bj4b9Rkn1gUhDZIAhWCklCgDIMU5WBKJrnJU3CaI9g6T7ZT_ikRI0KR0w1r0jMMe07bUk-fzzoBrNeoX9GoT221CpAEuie8OxaeM4uhODQwd66nJx4zvP--UHiCDRhtMUFcyESVO9m5qDx0ztONUHvb4f80_w10co0Xkp1oDByg.lRiS4fY8alRHWJSWIXAoZnl0lqeHR4-WUwqTMLbNhQ0
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=displayName%20eq%20%27show_prefix%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2262101'
      ocp-aad-diagnostics-server-name:
      - 1xKkKNXlZH9/UfFZHBaUKUlYOYWLeRVZUJpmsmgJSbc=
      ocp-aad-session-key:
      - sinZzBEW0WozYd_5E5XM36FjFbi6grfaOCeHaJZvZzFi8Vkc5Z_aSYdDzqREAeF1a8Z3Ugsq5zD9_rx3mPSDxIp7Mxqs2U-VDjkZMXUI6-uSLrCdnz8HetWyx18lp279SbOklAMcitPX5LthKQfWrj9r_1YJaTROnNvJYLLAhT8.T5JtiXXIsU8Vf-F4Pp_4OWKvrL3ZA4yH3f4KicIu5fc
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=startswith%28displayName%2C%27show_prefix%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"782f694f-aee8-4586-850f-bfd00c1516f9","deletionTimestamp":null,"description":null,"dirSyncEnabled":null,"displayName":"show_prefix_group","lastDirSyncTime":null,"mail":null,"mailNickname":"show_prefix_group","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2367334'
      ocp-aad-diagnostics-server-name:
      - n9EoHNORiYgBMsgALSud/hDyl4oSD9YeWVgLLFS/oSM=
      ocp-aad-session-key:
      - QSIxJB1Y7DPhhmkVeQVsz1c5OSPMGZkuCgo_1E3IcYrwJ_dUdoZ-4KwRvWwvTBbWPP2N7kaSebENO38X75EjvgJ62WlxVShph5pdjv8OGrEt0yT2RkPS8rfn_vhSJ9I-SK53s6CGE0FWbiXhjvP-ieT2mMbD5k353b11efLsBGE.5vTsYZSP08HCDiE83fnUPHg8rEIL-GpkEPjmU-JWL3Q
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/782f694f-aee8-4586-850f-bfd00c1516f9?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3384746'
      ocp-aad-diagnostics-server-name:
      - D8da6Z00zv5l3pI9cGPVo16n7vtqzRfrbwcETYmDmuo=
      ocp-aad-session-key:
      - danRxwd-t4ufe9NwYv3BRDLoGdey0tG5EzPJIgiuh7PUy563Z2Sl4SyIjyaKeGZD8pI8sw5JtzIgB3yQuBkdIZHrR8gxTI_zw1Ixj20kPnpyUUMrk7CiVwXkaKc4MDVDD4ITlI7oUaiZOijv9BT97C3IhAnhf3fGAP9izcbfmXQ.PJNRyKG99BPD0vYx2_iQC82S6cPd3BH1wzJwMxREjI4
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
