interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2371856'
      ocp-aad-diagnostics-server-name:
      - e7zASv5JOtPGMzZXR596fgxiotGCIOfj57Zs8jMyWW0=
      ocp-aad-session-key:
      - PuJ2DM-rdDM7_JXBUluwGPS02JAmyyR4BvcTCKJ7TKX6qxLVwIN6otqxEc6a9MCzkfnQiKpSibI7N0G_fIHluiS8Rvv4g4fGdHg5OB_LDzPQDZJz97kjPz18b5cEUGpOn5ty-XbmpqzKQuv9Pgwb-OlAn5PgA11L5StZWDuiYDk.NgGjVR9FY-rS1_Z_TnMbgyyAkonLQokPqvLkIO4Y5Lo
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "optionalClaims": {"idToken": [{"name":
      "auth_time", "essential": false}], "accessToken": [{"name": "email", "essential":
      false}]}, "displayName": "cli-app-000001", "identifierUris": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "6d9d2ae4-89a0-4836-83f1-55d439decb74", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "3229f40e-cb38-4350-8c7e-27687360ccea",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-app-000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": [], "informationalUrls": {"termsOfService":
        null, "support": null, "privacy": null, "marketing": null}, "isDeviceOnlyAuthSupported":
        null, "keyCredentials": [], "knownClientApplications": [], "logoutUrl": null,
        "logo@odata.mediaEditLink": "directoryObjects/6d9d2ae4-89a0-4836-83f1-55d439decb74/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/6d9d2ae4-89a0-4836-83f1-55d439decb74/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-app-000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-app-000001", "id": "be9b7918-221d-4674-ac73-d56cf3fbb0a2",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-app-000001 on your behalf.", "userConsentDisplayName": "Access
        cli-app-000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": {"idToken": [{"name": "auth_time", "source": null,
        "essential": false, "additionalProperties": []}], "accessToken": [{"name":
        "email", "source": null, "essential": false, "additionalProperties": []}],
        "saml2Token": []}, "orgRestrictions": [], "parentalControlSettings": {"countriesBlockedForMinors":
        [], "legalAgeGroupRule": "Allow"}, "passwordCredentials": [], "publicClient":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "recordConsentConditions":
        null, "replyUrls": [], "requiredResourceAccess": [], "samlMetadataUrl": null,
        "signInAudience": "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6583291'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/6d9d2ae4-89a0-4836-83f1-55d439decb74/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - MrEJDUZRILy7UvHTrw8Ntoislp98Lh4ff1PoH5FAQpQ=
      ocp-aad-session-key:
      - Zz0bztWy--EHZ44JB5K2YgMM4m7_wPC9uKVmr9RMkupGgft9_LOFSBNeZjnmGBRmR0dclfxHAc8AuORSXv56IdUENELbMRSZ6UkDbX44ipior3d2YlMjtnAC7yTBFSv3sF6K3TT50J2mDHAtg6Yn2Bf4ejBQEP4gF0Wmm1EqJUU.0koawi0Qk691J-85hbcKRubb5F9WdEsZWlIMgyMlQvM
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27f619b38e-7b90-4b97-bf6e-2fdd94e892b3%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3398371'
      ocp-aad-diagnostics-server-name:
      - NAD+2/o3LjyrhIqIm5JlkwHB2nKjL0M6wdGgd+eQ688=
      ocp-aad-session-key:
      - KRvhnTTi7OY8Oj6Cd5ALqfpC9UgvOKqqvCtI__e5efd8Z8IbdaBRAIGk6XGJNKgdD1y4hcjM6ZKfaAl5yAxSyzJsnkdgNSihAXR1ZtIxPsaa3fpbIJCxRReHigpDFUxKnyvdM20NJUnm9V9QcoXe1hE524bT61hpFH-avy5-YMs.E0_gQqmG3-PmOVHQK8nYAbE_EEV_-pZeT4UFEA-FGgE
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27f619b38e-7b90-4b97-bf6e-2fdd94e892b3%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"4f8f1df5-9c20-4134-8d91-1f2d1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/4f8f1df5-9c20-4134-8d91-1f2d11ae7f6c?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"4f8f1df5-9c20-4134-8d91-1f2d11ae7f6c","deletionTimestamp"[...]
[...]
