interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2307393'
      ocp-aad-diagnostics-server-name:
      - iNQLRKPaViSNJPZgwTkFBErZ9++/HsuTPOY6L+sp4p4=
      ocp-aad-session-key:
      - BrugRvoDhniKvka5zUdRY1Zjv1ipFO6OrqVYZ43D-tJsgKnaRQioNgfz79mGKBZjDKhlhyGXhCJoda1AZoabNXfHOIF72WmBuvd3V8pMsbsbDaAvD2kTTxmbg3p4Hfnb.mal3YHuEjUcoEwpFI4hbUL6ASwpumObfkgVtYTvMbIU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2348624'
      ocp-aad-diagnostics-server-name:
      - aP7R6MA20cup8msdSP2y3ghSXzLVVH210DgvMbRfVHU=
      ocp-aad-session-key:
      - BXmrqwAeAPyodJvLoK5unWxILNE-Lgw0L-2hi0QEPULJAbw10k5HvDql3CK5qGec3bLGCEP3rNruoqEHZsTU4OMur3z5rxQVuo5xdOylZyI9XCNm6r-IN_X_bvtoQrRC.LW2vlwgoO-vG9l8Val4WMNwPLngduvx2-2FB8Gj3TDA
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://cli-app-000001",
      "passwordCredentials": [{"startDate": "2020-09-14T06:46:31.861012Z", "endDate":
      "2021-09-14T06:46:31.861012Z", "keyId": "7e1bfbd0-cde5-489a-9d13-445ad0af90c1",
      "value": "ReplacedSPPassword123*", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "cli-app-000001", "identifierUris": ["http://cli-app-000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "6b0675c5-7237-4e4f-b6e2-5a7f8fbfecef", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "6a641f36-6a54-4d56-b4f1-0ab0525b2138",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-app-000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://cli-app-000001", "identifierUris": ["http://cli-app-000001"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/6b0675c5-7237-4e4f-b6e2-5a7f8fbfecef/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/6b0675c5-7237-4e4f-b6e2-5a7f8fbfecef/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-app-000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-app-000001", "id": "3a56465d-5bbc-4f28-bf23-7598d35370a3",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-app-000001 on your behalf.", "userConsentDisplayName": "Access
        cli-app-000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "//5yAGIAYQBjAA==", "endDate": "2021-09-14T06:46:31.861012Z",
        "keyId": "7e1bfbd0-cde5-489a-9d13-445ad0af90c1", "startDate": "2020-09-14T06:46:31.861012Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "AzureSDKTeam.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5995616'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/6b0675c5-7237-4e4f-b6e2-5a7f8fbfecef/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - D8da6Z00zv5l3pI9cGPVo16n7vtqzRfrbwcETYmDmuo=
      ocp-aad-session-key:
      - UdveCBy-LIVwEdlpckpGhlMkyd6dWLuJlhA1t3uSOkGjSoIkKInOLWEm022IxGOIY4QVLMPU7sQqci2q3f6HLN3rA1UpXZYR8fy_nLGQ9c8CXNQ8w-ljz5fQ8mqj34BFbxSrZwuT-ZWelBELvdSScbm_bGNODIgZpduwdw_kAac.UT_NpZeC-4_qG6Zbulqh-wzsRGd_XWVxSWwJmhybPJU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "6a641f36-6a54-4d56-b4f1-0ab0525b2138"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"5e2c4420-afa2-4da0-a5b2-cf66982dcd59","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"6a641f36-6a54-4d56-b4f1-0ab0525b2138","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"3a56465d-5bbc-4f28-bf23-7598d35370a3","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["6a641f36-6a54-4d56-b4f1-0ab0525b2138","http://cli-app-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3589886'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/5e2c4420-afa2-4da0-a5b2-cf66982dcd59/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - u84kEvNmBHxW4/vtHqUleUYQGGbAjaquR19gMFnyQJs=
      ocp-aad-session-key:
      - i5Mq5BEufMHdSkiQWcvcoF5CZHIpYN4tdrnHanaHCvjXGCP-bkcpUebFGAYn-ejj4KAgDyuenr-59Kn7di6D1yWXEFNXbwC8J300Gh4xOWAmK6RWNwy0hjC4KwEtYgNJ_T2qUd0S5REHpmPwbYc43jeF4RzsTQSGTqme2ZfJYHM.JhsVZnMWhINddvRt2Xji9M9znosSNuphK8jNzeugmbg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%276a641f36-6a54-4d56-b4f1-0ab0525b2138%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4497266'
      ocp-aad-diagnostics-server-name:
      - cQ8uB4IS1LgZ4Oy2RjJLTdo0AEOIgVfVV0c2RuOHYvQ=
      ocp-aad-session-key:
      - 5_RztGMCrPKfibHBN8n1vVOAGEFXBkCB0fedEUObvF8GrQKa8mLQ9Sx_vnfaGg5UFEsCMMVekPPPJwfRQMpmbRsW-Az-7o6nbBKdw2rfI8PQO4cgrJBdFj0GK9ZmCyqKaJ30xL9PrdyZfhQY0cO90dQg-Q0kLCv4fldDschYkws.sEibe8zzH_52s-Cjrg_egMTTxXDWWU96dzRkTFcbGcg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%276a641f36-6a54-4d56-b4f1-0ab0525b2138%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"6b0675c5-7237-4e4f-b6e2-5a7f8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/6b0675c5-7237-4e4f-b6e2-5a7f8fbfecef?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"6b0675c5-7237-4e4f-b6e2-5a7f8fbfecef","deletionTimestamp"[...]
- request:
    body: '{"requiredResourceAccess": [{"resourceAccess": [{"id": "a42657d6-7f20-40e3-b6f0-cee03008a62a",
      "type": "Scope"}, {"id": "311a71cc-e848-46a1-bdf8-97ff7156d8e6", "type": "Scope"}],
      "resourceAppId": "00000002-0000-0000-c000-000000000000"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/6b0675c5-7237-4e4f-b6e2-5a7f8fbfecef?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '4484865'
      ocp-aad-diagnostics-server-name:
      - 3rF5dNvuHO6o1tAJ9yOBRpCQjpIX3MtrAUMmsK1IkuE=
      ocp-aad-session-key:
      - VmeJkNOFIx1nTQOvtpvW-Kupd-cwKoR234xhMnB7ecvgL4j6M6jgepp6i13xpFhD2vu4gbq_F2jzA_Hg4OBAj5Cz4mvyD4ZIL49dsCs-hyMuu62mNqWUjQbrjK1Muar2uF6SsuwGE_dACDMs3sLpX_pDSj6SnDtHx3jubkSh-7I.JWwFIUXiSIB0ExRs7VP689pY-GL287u31lgDq1b7fEs
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%276a641f36-6a54-4d56-b4f1-0ab0525b2138%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2700000003-0000-0000-c000-000000000000%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"a3efc889-f1b7-4532-9e01-91e32d1039f4","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Microsoft
        Graph","appId":"00000003-0000-0000-c000-000000000000","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read your organization''s conditional access policies, without
        a signed-in user.","displayName":"Read your organization''s conditional access
        policies","id":"37730810-e9ba-4e46-b07e-8ca78d182097","isEnabled":true,"value":"Policy.Read.ConditionalAccess"},{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read, create, edit, and delete all the short notes without a signed-in
        user.","displayName":"Read, create, edit, and[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?$filter=clientId%20eq%20%275e2c4420-afa2-4da0-a5b2-cf66982dcd59%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2296820'
      ocp-aad-diagnostics-server-name:
      - kNJiTinKlNryl3Gf8FO1oKWzfVwgYSuwCnwKwzCocw0=
      ocp-aad-session-key:
      - HBn-KMWIv2MRHV2AOpoU4uZxa4PUL7E9U0e9b42aW9dNFKsDm0q0IrS2DgWhLO97448gVaRTrdmWAb9_yD7ZrrvyptJKcXlJvqK5kc5ngDB5KHiLi4wscfecpP7XqYkIgx7Uq3ZyY9l4tRHTFzV4b79h42a5_y9-js7tzyBIljE.E246VCPHYbR6-b7Pbdnl7VKi_bDnqWfL7hs7W6cDbU0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/6b0675c5-7237-4e4f-b6e2-5a7f8fbfecef?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '4539615'
      ocp-aad-diagnostics-server-name:
      - kNJiTinKlNryl3Gf8FO1oKWzfVwgYSuwCnwKwzCocw0=
      ocp-aad-session-key:
      - nf4MWvSWhk3RUZALoRoxbbBKmzaDMjK0W7Ikxhg4YekQisxWroCxitFGy9iIngQIxMya-MtFt4xQz51xQAA9gAGH59drPHTLXof6P8wZNqazqFC4DccgBlVlJ89pspu7swYrh59CAnl8thRADdjS3-6lErJy1GfXwVhEK8CeDwg.JVWCpwRhtDM6TbOrmCVQ5VDxEEObZ5sXn204atgQ9gs
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
