interactions:
- request:
    body: '{"accountEnabled": true, "displayName": "deleteme1", "passwordProfile":
      {"password": "Test1234!!", "forceChangePasswordNextLogin": false}, "userPrincipalName":
      "deleteme1@example.com", "mailNickname": "deleteme1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"0c0d56b6-cc82-4969-8f7b-493c0e151d75","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2020-08-05T09:36:23Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"deleteme1","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"deleteme1","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2020-08-05T09:36:23.5584977Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/0c0d56b6-cc82-4969-8f7b-493c0e151d75/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"deleteme1@example.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6713189'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/0c0d56b6-cc82-4969-8f7b-493c0e151d75/Microsoft.DirectoryServices.User
      ocp-aad-diagnostics-server-name:
      - 36LDubY7nJC/vY3gTMr8VE1Q2g2ARMYGQXXSKBzluxE=
      ocp-aad-session-key:
      - YAgEPMshpIdwMrj8oaKDMNr_4ASbiQf3H5_jvbp1pbOZy_ESEM2wzwlKGDTadb1-yZfJUOss9u47AKJdEUQm9ibKutkXOrBD24rCrrB2jPq0QqVqBnIuMoLH7CjvU35jlGJfmc-oS3XCIqOvn8AVACbjwyob3YXUWUL-QA2mMD0.lfBjUxLPOr2bRHOuVzQKxTU9XmQVnbgCK_xbKDqZiTA
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": false, "displayName": "deleteme1_new", "mailNickname":
      "deleteme11"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/deleteme1%40example.com?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '5672053'
      ocp-aad-diagnostics-server-name:
      - Podp68ik3n5KAHE8KiAPatLWIoKKcMWL56HJ/iBbvR0=
      ocp-aad-session-key:
      - enrLmDR6gvvpsTWwrJ95Ubtw4Ahbx1ae1NN2Ejrz9QUy0elo36g2Q-GLSkIahO32xvS-97B9Ip8rvHcL0vNlRURgSKaMW9e6PCpnO2YDDpoUkI5xINCxpVUKiaDoBXFlysd2l8ZddWNxD_CIjoBQwxqDgIqTUiz341x7DI38-ec.VawIIw0FjknUd59nyI7i9pEobOYQIMLkv-YvCUzrM4w
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=displayName%20eq%20%27deleteme_g%27%20and%20mailNickname%20eq%20%27deleteme_g%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2411515'
      ocp-aad-diagnostics-server-name:
      - QyUYQSZ8AVNnKcHAsqrnSstFWuxh8zjH1SxEOVKmmsk=
      ocp-aad-session-key:
      - OSqiUXpTToJkx5daNw3QWC2RecYFmZkUoSjvRVZnoOIWp0yqrcinEu9WogncUNibT3TXjrGOi5qE2VZZAOQ8CnRMjZtEuAT9CtSLS1XOh6quYlQPdjNS8rpnVXyECWXEPELuaY82foa4ocfdpnJWFNKTRCel_rSpUPVOFHD19U8.UT7yWaC9Bc6g2Dypoyhbwyi678V6orq9WTqEzTAQgT4
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "deleteme_g", "displayName": "deleteme_g", "mailEnabled":
      false, "mailNickname": "deleteme_g", "securityEnabled": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"e4238422-2920-4437-991d-2097edb1ac61","deletionTimestamp":null,"description":"deleteme_g","dirSyncEnabled":null,"displayName":"deleteme_g","lastDirSyncTime":null,"mail":null,"mailNickname":"deleteme_g","mailEnabled":false,"onPremisesDomainName":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"provisioningErrors":[],"proxyAddresses":[],"securityEnabled":true}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '6985955'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/e4238422-2920-4437-991d-2097edb1ac61/Microsoft.DirectoryServices.Group
      ocp-aad-diagnostics-server-name:
      - LYzAcq7V3eLxMoJD8VBflwEorAlQCAHjPijhfeZyV1w=
      ocp-aad-session-key:
      - WPBnvMtsrOJpRJbYU2wS734wDkz0Xmw5c7CjKJSlssQ1ANZVhveOOKoy9AZURR1yR-9MyN1z3PfRU4UvS_IRStlrNecDew-rL0JEGyHEIEEw5SKxO58YhNNH156PMHd6wzdAkihsWBGn7q3zw-kQtc3R32IzjJWKr0YPRCmq6Rk.FlSRTnFJMVE2qibuHE41PM6bCTcWz6gUzrN2Th-qNzY
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=displayName%20eq%20%27deleteme_g%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"e4238422-2920-4437-991d-2097edb1ac61","deletionTimestamp":null,"des[...]
- request:
    body: '{"url": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/0c0d56b6-cc82-4969-8f7b-493c0e151d75"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/e4238422-2920-4437-991d-2097edb1ac61/$links/members?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '5492466'
      ocp-aad-diagnostics-server-name:
      - 7568EnW9GTxA04TYWo6l23IQ5AR8DMR0g3NLEKJchIc=
      ocp-aad-session-key:
      - K9MaOFX_3l6seS2f_m5SDsHTOr8GajA8hLlAhivWDmrGtc0xSxhD1mpxbYpS1AYlq1cc823RDLbhK8M4LP9PJ_rZHhkQzqapySlXks7N8RGdR-uY9kuSuD7Qopu9UmURyZSZ0cASqEp7eX-YkqEZid-ziT-wETr1ZwHp-xEZ0YM.cw0f-n44sopSUnKr7lfVHWRXvYMjSXVXZ-gTvQPmOzQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"securityEnabledOnly": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/0c0d56b6-cc82-4969-8f7b-493c0e151d75/getMemberGroups?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Edm.String)","value":["e4238422-2920-4437-991d-2097edb1ac61"]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4432796'
      ocp-aad-diagnostics-server-name:
      - zvWoFjuE2ehmMVgbV3Cg2Jr+3wQYeCjyzG9gzD1iIS8=
      ocp-aad-session-key:
      - u-amYIRC6PeuRsd4F84fFdFkalCIPIyw-DyLdn2BZCyRW5bO_SISO_4qpxXkFqoPagG-k8BNYtOl7quBcgDfNF6tRcUy8vhbzpL11Jpdgzivulw1A5IDL28gxVTwtiyDjyHI3-xmQJc8eWYKQR9FHJue5FRLG_L2qrdW0Kf2IXk.7JhfrboqBvgqSdxZpbjEhvmrP9EZf1P-1KYlURklYCI
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"objectIds": ["e4238422-2920-4437-991d-2097edb1ac61"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"e4238422-2920-4437-991d-2097edb1ac61","deletion[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/e4238422-2920-4437-991d-2097edb1ac61?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"e4238422-2920-4437-991d-2097edb1ac61","deletionTimestamp":null,"description[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=startswith%28displayName%2C%27deleteme_g%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"e4238422-2920-4437-991d-2097edb1ac61","deletionTimestamp[...]
[...]
- request:
    body: '{"securityEnabledOnly": false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/e4238422-2920-4437-991d-2097edb1ac61/getMemberGroups?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Edm.String)","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4128334'
      ocp-aad-diagnostics-server-name:
      - w4viU0SAUaGwPZCk7ugfs1wrda74oS3d1e7RSlJYkpk=
      ocp-aad-session-key:
      - Bbrzd8abyNQBMmpwX-EZm4JwWQ99BIVMnEvNA1-anGs7BJKznhrSWGlcMMuJBYHafH5sbkH4Vo9f3wnO8iWGLRiOddvbeRMN4YSAk6mgJ9E0isu5UZdR9VbhxTD4TibRElbPna5V6JvB0qDhaKXvxaS61J7merYSbFsrOw8uKRQ.mUY-paFnQ4ybUaY62ep3KDcpSdCH__eIHi6wkeI9Cnw
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"groupId": "e4238422-2920-4437-991d-2097edb1ac61", "memberId": "0c0d56b6-cc82-4969-8f7b-493c0e151d75"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/isMemberOf?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Edm.Boolean","value":true}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '4333267'
      ocp-aad-diagnostics-server-name:
      - hYcM8xGo3UDnolVC93y3QsXQUHmcq33QIFHDssXymn4=
      ocp-aad-session-key:
      - jsoQmuOyXOHB8p7aF1l-ro70Nu2jg5EnZScvNQjNARkkDA56TSI6CkGKfGiBbUbt9kPlj_NUr01k1lyCSOT-_TGA1BhddDYV8U9_TbiYP_m0qpbyGyoNok9hYwYSPmuwrkdWzNRxv5paPalyujjt1Y1kAfcgk3Pr9D35OkobHIU.MolT5G9XQCF2oHWXCePpZFgk_V_roK9mgnlhILy_vS0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '4'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/e4238422-2920-4437-991d-2097edb1ac61/members?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"0c0d56b6-cc82-4969-8f7b-493c0e151d75","deletionTimestamp":null,"accountEnabled":false,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2020-08-05T09:36:23Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"deleteme1_new","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"deleteme11","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":{"password":null,"forceChangePasswordNextLogin":true,"enforceChangePasswordPolicy":false},"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2020-08-05T09:36:27Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/0c0d56b6-cc82-4969-8f7b-493c0e151d75/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups/e4238422-2920-4437-991d-2097edb1ac61/$links/members/0c0d56b6-cc82-4969-8f7b-493c0e151d75?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3362999'
      ocp-aad-diagnostics-server-name:
      - OdGMxGQXjcsEi1Ni8TYUlnct7L7Q1SWuomHGX99xfas=
      ocp-aad-session-key:
      - ZWytYvOssDrnD_x4AOAjFkMAYCnJJnQrbUWr6MW7bEUmric6n90Q27KOv7q23ISS9434i_h2oPdu1q6XEkuIX4QOOtXTY6hkDPKQ6ABdQ9TmcwkmFEsslTJEcCPnQQO0_rFppSut6N89LCrUkOU_LyTgU5MgAuWh3pbJL3pmA4w.uETBv5a-uLBazLoUKBvMvgw2JhQXo0r7UggsnN1VfOQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Group","objectType":"Group","objectId":"03dc86f3-86dc-4282-af17-988a0bb03258","deletionTimestamp":null,"description":null,"dirSyncEnabled":nul[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/0c0d56b6-cc82-4969-8f7b-493c0e151d75?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3086169'
      ocp-aad-diagnostics-server-name:
      - xukW/YUz8ZjCN5OuyB75Ot+MQq2Au8EttZedWyKRLIM=
      ocp-aad-session-key:
      - e4gA6u6N680Addd5oYIx05_uU1UrAvARx9Sg5XVuqq8WfBjy42eacowEH0CEDcpP28LxlgWr4AePAXykMXs6KTqJvE3lAVZDlfo08g7bysJ3uGFTEcTTCJw48NgWEyp-euaFOu0-vw7mT7FmLA2BCeado-AQ_Mh_NdffzvwzJ3w.Ptl19UsOYH6Pj1ckvP7EiEYTFgcIK1OG4G0h3oQ5_rY
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/groups?$filter=startswith%28displayName%2C%27deleteme_g%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2882805'
      ocp-aad-diagnostics-server-name:
      - jAY6tweZL71h4Zs/fSXIbbKUblkE4vI7Xhf6+Ag18Ok=
      ocp-aad-session-key:
      - qd6V-NkDwI_VGJiH-ufb1bkmFdC-ZaO08TWKJmh1tah1c_YwhfCbaTcwVEWJY5x1lb6Gm0qATquotWlIYBvJMn6-nYZi8bv4eaPJsfZwkdWoEUszZ3Kzkt9VGlid_IRH9XqpyH56fBa6w2xYIMLTMg0xF6bMShuV9G3awEW9pxY.pkqxDNFdK7CW0Djx5sR2XyFXwuLGnxtDSJBdC82xkNA
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
version: 1
