interactions:
- request:
    body: '{"location": "global", "sku": {"name": "Standard_AzureFrontDoor"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002","type":"Microsoft.Cdn/profiles","name":"profile000002","location":"Global","kind":"frontdoor","tags":{},"sku":{"name":"Standard_AzureFrontDoor"},"properties":{"frontDoorId":"0c9cd45f-cc2a-4344-a166-3099611768c5","resourceState":"Creating","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/d7437b60-583b-4b8e-9318-d8e68c7b5809?api-version=2020-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '23'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/d7437b60-583b-4b8e-9318-d8e68c7b5809?api-version=2020-09-01
  response:
    body:
      string: '{"status":"InProgress","error":{"code":"None","message":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/rulesets/ruleset000003","type":"Microsoft.Cdn/profiles/rulesets","name":"ruleset000003","properties":{"provisioningState":"Succeeded","deploymentStatus":"NotStarted"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003/rules?api-version=2020-09-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"order": 1, "conditions": [{"name": "RemoteAddress", "parameters":
      {"@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters",
      "operator": "GeoMatch", "matchValues": ["TH"]}}], "actions": [{"name": "CacheExpiration",
      "parameters": {"@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters",
      "cacheBehavior": "BypassCache", "cacheType": "All"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003/rules/r1?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/rulesets/ruleset000003/rules/r1","type":"Microsoft.Cdn/profiles/rulesets/rules","name":"r1","properties":{"order":1,"conditions":[{"name":"RemoteAddress","parameters":{"operator":"GeoMatch","negateCondition":false,"matchValues":["TH"],"transforms":[],"@odata.type":"#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters"}}],"actions":[{"name":"CacheExpiration","parameters":{"cacheBehavior":"BypassCache","cacheType":"All","cacheDuration":null,"@odata.type":"#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters"}}],"matchProcessingBehavior":null,"provisioningState":"Succeeded","deploymentStatus":"NotStarted"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"order": 2, "conditions": [{"name": "RequestScheme", "parameters":
      {"@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestSchemeConditionParameters",
      "operator": "Equal", "matchValues": ["HTTP"]}}], "actions": [{"name": "UrlRedirect",
      "parameters": {"@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlRedirectActionParameters",
      "redirectType": "Moved", "destinationProtocol": "Https"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003/rules/r2?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/rulesets/ruleset000003/rules/r2","type":"Microsoft.Cdn/profiles/rulesets/rules","name":"r2","properties":{"order":2,"conditions":[{"name":"RequestScheme","parameters":{"matchValues":["HTTP"],"operator":"Equal","negateCondition":false,"transforms":[],"@odata.type":"#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestSchemeConditionParameters"}}],"actions":[{"name":"UrlRedirect","parameters":{"redirectType":"Moved","destinationProtocol":"Https","customQueryString":null,"customPath":null,"customHostname":null,"customFragment":null,"@odata.type":"#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlRedirectActionParameters"}}],"matchProcessingBehavior":null,"provisioningState":"Succeeded","deploymentStatus":"NotStarted"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"order": 1, "conditions": [{"name": "RemoteAddress", "parameters":
      {"@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters",
      "operator": "GeoMatch", "negateCondition": false, "matchValues": ["TH"], "transforms":
      []}}, {"name": "RemoteAddress", "parameters": {"@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters",
      "operator": "GeoMatch", "negateCondition": false, "matchValues": ["TH", "US"],
      "transforms": []}}], "actions": [{"name": "CacheExpiration", "parameters": {"@odata.type":
      "#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters", "cacheBehavior":
      "BypassCache", "cacheType": "All"}}, {"name": "UrlRewrite", "parameters": {"@odata.type":
      "#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlRewriteActionParameters", "sourcePattern":
      "/abc", "destination": "/def"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003/rules/r1?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/rulesets/ruleset000003/rules/r1","type":"Microsoft.Cdn/profiles/rulesets/rules","name":"r1","properties":{"order":1,"conditions":[{"name":"RemoteAddress","parameters":{"operator":"GeoMatch","negateCondition":false,"matchValues":["TH"],"transforms":[],"@odata.type":"#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters"}},{"name":"RemoteAddress","parameters":{"operator":"GeoMatch","negateCondition":false,"matchValues":["TH","US"],"transforms":[],"@odata.type":"#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters"}}],"actions":[{"name":"CacheExpiration","parameters":{"cacheBehavior":"BypassCache","cacheType":"All","cacheDuration":null,"@odata.type":"#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters"}},{"name":"UrlRewrite","parameters":{"sourcePattern":"/abc","destination":"/def","preserveUnmatchedPath":null,"@odata.type":"#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlRewriteActionParameters"}}],"matchProcessingBehavior":null,"provisioningState":"Succeeded","deploymentStatus":"NotStarted"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '97'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003?api-version=2020-09-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14995'
    status:
      code: 200
      message: OK
version: 1
