interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Cdn/edgenodes?api-version=2020-04-15
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Cdn/edgenodes/Standard_Verizon","type":"Microsoft.Cdn/edgenodes","name":"Standard_Verizon","properties":{"ipAddressGroups":[{"deliveryRegion":"All","ipv4Addresses":[{"baseIpAddress":"5.104.64.0","prefixLength":21},{"baseIpAddress":"46.22.64.0","prefixLength":20},{"baseIpAddress":"61.221.181.64","prefixLength":26},{"baseIpAddress":"68.232.32.0","prefixLength":20},{"baseIpAddress":"72.21.80.0","prefixLength":20},{"baseIpAddress":"88.194.45.128","prefixLength":26},{"baseIpAddress":"93.184.208.0","prefixLength":20},{"baseIpAddress":"101.226.203.0","prefixLength":24},{"baseIpAddress":"108.161.240.0","prefixLength":20},{"baseIpAddress":"110.232.176.0","prefixLength":22},{"baseIpAddress":"117.18.232.0","pref[...]
