interactions:
- request:
    body: '{"location": "global", "sku": {"name": "Standard_AzureFrontDoor"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002","type":"Microsoft.Cdn/profiles","name":"profile000002","location":"Global","kind":"frontdoor","tags":{},"sku":{"name":"Standard_AzureFrontDoor"},"properties":{"originResponseTimeoutSeconds":30,"frontDoorId":"ec5b1ecf-f747-43d7-b80f-0edec3e982f5","extendedProperties":{},"resourceState":"Creating","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/0402a1fc-ad14-4dd5-8317-996d33d26db2?api-version=2023-05-01&t=638372574447832738&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/0402a1fc-ad14-4dd5-8317-996d33d26db2?api-version=2023-05-01&t=638372574447832738&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002","type":"Microsoft.Cdn/profiles","name":"profile000002","location":"Global","kind":"frontdoor","tags":{},"sku":{"name":"Standard_AzureFrontDoor"},"properties":{"originResponseTimeoutSeconds":30,"frontDoorId":"ec5b1ecf-f747-43d7-b80f-0edec3e982f5","extendedProperties":{},"resourceState":"Active","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/rulesets/ruleset000003","type":"Microsoft.Cdn/profiles/rulesets","name":"ruleset000003","properties":{"provisioningState":"Succeeded","deploymentStatus":"NotStarted"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003/rules?api-version=2023-05-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"actions": [{"name": "RouteConfigurationOverride", "parameters":
      {"cacheConfiguration": {"cacheBehavior": "HonorOrigin", "isCompressionEnabled":
      "Disabled", "queryParameters": "", "queryStringCachingBehavior": "UseQueryString"},
      "typeName": "DeliveryRuleRouteConfigurationOverrideActionParameters"}}], "conditions":
      [{"name": "RemoteAddress", "parameters": {"matchValues": ["TH", "CN"], "negateCondition":
      true, "operator": "GeoMatch1", "typeName": "DeliveryRuleRemoteAddressConditionParameters"}}],
      "matchProcessingBehavior": "Continue", "order": 0}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003/rules/rule000004?api-version=2023-05-01
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"BadRequest\",\n    \"message\":\
        \ \"Property 'Rule.Conditions[0].Parameters.Operator' cannot be set to 'GeoMatch1'.\
        \ Acceptable values are: Any, IPMatch, GeoMatch\"\n  }\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"properties": {"actions": [{"name": "RouteConfigurationOverride", "parameters":
      {"cacheConfiguration": {"cacheBehavior": "HonorOrigin", "isCompressionEnabled":
      "Disabled", "queryParameters": "", "queryStringCachingBehavior": "UseQueryString"},
      "typeName": "DeliveryRuleRouteConfigurationOverrideActionParameters"}}], "conditions":
      [{"name": "QueryString", "parameters": {"matchValues": ["abc"], "negateCondition":
      false, "operator": "Contains1", "transforms": ["Lowercase", "UrlDecode"], "typeName":
      "DeliveryRuleQueryStringConditionParameters"}}], "matchProcessingBehavior":
      "Continue", "order": 2}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003/rules/rule000006?api-version=2023-05-01
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"BadRequest\",\n    \"message\":\
        \ \"Property 'Rule.Conditions[0].Parameters.Operator' cannot be set to 'Contains1'.\
        \ Acceptable values are: Any, Equal, Contains, BeginsWith, EndsWith, LessThan,\
        \ LessThanOrEqual, GreaterThan, GreaterThanOrEqual, RegEx\"\n  }\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"properties": {"actions": [{"name": "RouteConfigurationOverride", "parameters":
      {"cacheConfiguration": {"cacheBehavior": "HonorOrigin", "isCompressionEnabled":
      "Disabled", "queryParameters": "", "queryStringCachingBehavior": "UseQueryString"},
      "typeName": "DeliveryRuleRouteConfigurationOverrideActionParameters"}}], "conditions":
      [{"name": "PostArgs", "parameters": {"matchValues": ["abc[0-9]+"], "negateCondition":
      false, "operator": "RegEx1", "selector": "Arg1", "transforms": ["Lowercase"],
      "typeName": "DeliveryRulePostArgsConditionParameters"}}], "matchProcessingBehavior":
      "Continue", "order": 3}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003/rules/rule000007?api-version=2023-05-01
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"BadRequest\",\n    \"message\":\
        \ \"Property 'Rule.Conditions[0].Parameters.Operator' cannot be set to 'RegEx1'.\
        \ Acceptable values are: Any, Equal, Contains, BeginsWith, EndsWith, LessThan,\
        \ LessThanOrEqual, GreaterThan, GreaterThanOrEqual, RegEx\"\n  }\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '98'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"properties": {"actions": [{"name": "RouteConfigurationOverride", "parameters":
      {"cacheConfiguration": {"cacheBehavior": "HonorOrigin", "isCompressionEnabled":
      "Disabled", "queryParameters": "", "queryStringCachingBehavior": "UseQueryString"},
      "typeName": "DeliveryRuleRouteConfigurationOverrideActionParameters"}}], "conditions":
      [{"name": "HttpVersion", "parameters": {"matchValues": ["1.0", "1.1"], "negateCondition":
      true, "operator": "Equal1", "typeName": "DeliveryRuleHttpVersionConditionParameters"}}],
      "matchProcessingBehavior": "Continue", "order": 11}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003/rules/rule000015?api-version=2023-05-01
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"InternalServerError\",\n    \"message\"\
        : \"The server encountered an internal error. Please try again later.\"\n\
        \  }\n}"
    headers:
      content-type:
      - application/json
      x-ms-failure-cause:
      - service
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile000002/ruleSets/ruleset000003?api-version=2023-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
