interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-11-13T23:31:05Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard_Akamai"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Akamai-profile?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"name\":\"Standard-Akamai-profile\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Akamai-profile\"\
        ,\"type\":\"Microsoft.Cdn/profiles\",\"tags\":{\r\n    \r\n  },\"location\"\
        :\"WestUs\",\"sku\":{\r\n    \"name\":\"Standard_Akamai\"\r\n  },\"properties\"\
        :{\r\n    \"provisioningState\":\"Creating\",\"resourceState\":\"Creating\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/7970b1e3-5050-4951-8cfe-4dd823542089?api-version=2020-04-15
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/7970b1e3-5050-4951-8cfe-4dd823542089?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"status\":\"Succeeded\",\"error\":{\r\n    \"code\":\"None\"\
        ,\"message\":null\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"isCompressionEnabled": false, "isHttpAllowed":
      true, "isHttpsAllowed": true, "origins": [{"name": "origin-0", "properties":
      {"hostName": "www.contoso.com", "httpPort": 80, "httpsPort": 443}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Akamai-profile/endpoints/endpoint000002?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"name\":\"endpoint000002\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Akamai-profile/endpoints/endpoint000002\"\
        ,\"type\":\"Microsoft.Cdn/profiles/endpoints\",\"tags\":{\r\n    \r\n  },\"\
        location\":\"WestUs\",\"properties\":{\r\n    \"hostName\":\"endpoint000002.azureedge.net\"\
        ,\"originHostHeader\":null,\"provisioningState\":\"Creating\",\"resourceState\"\
        :\"Creating\",\"isHttpAllowed\":true,\"isHttpsAllowed\":true,\"queryStringCachingBehavior\"\
        :\"IgnoreQueryString\",\"originPath\":null,\"origins\":[\r\n      {\r\n  \
        \      \"name\":\"origin-0\",\"properties\":{\r\n          \"hostName\":\"\
        www.contoso.com\",\"httpPort\":80,\"httpsPort\":443,\"originHostHeader\":null,\"\
        priority\":null,\"weight\":null,\"enabled\":true,\"privateLinkResourceId\"\
        :null,\"privateLinkLocation\":null,\"privateLinkAlias\":null,\"privateEndpointStatus\"\
        :null,\"privateLinkApprovalMessage\":null\r\n        }\r\n      }\r\n    ],\"\
        originGroups\":[\r\n      \r\n    ],\"defaultOriginGroup\":null,\"customDomains\"\
        :[\r\n      \r\n    ],\"contentTypesToCompress\":[\r\n      \r\n    ],\"isCompressionEnabled\"\
        :false,\"optimizationType\":null,\"probePath\":null,\"geoFilters\":[\r\n \
        \     \r\n    ],\"deliveryPolicy\":null,\"webApplicationFirewallPolicyLink\"\
        :null,\"urlSigningKeys\":[\r\n      \r\n    ]\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/b0c72038-3faf-4d35-bd74-3e07b80a17c4?api-version=2020-04-15
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Standard_Verizon"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Verizon-profile?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"name\":\"Standard-Verizon-profile\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Verizon-profile\"\
        ,\"type\":\"Microsoft.Cdn/profiles\",\"tags\":{\r\n    \r\n  },\"location\"\
        :\"WestUs\",\"sku\":{\r\n    \"name\":\"Standard_Verizon\"\r\n  },\"properties\"\
        :{\r\n    \"provisioningState\":\"Creating\",\"resourceState\":\"Creating\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/59addc67-207b-45db-8505-daa8c9bc1b94?api-version=2020-04-15
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"isCompressionEnabled": false, "isHttpAllowed":
      true, "isHttpsAllowed": true, "origins": [{"name": "origin-0", "properties":
      {"hostName": "www.contoso.com", "httpPort": 80, "httpsPort": 443}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cd[...]
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Premium_Verizon"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Premium-Verizon-profile?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"name\":\"Premium-Verizon-profile\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Premium-Verizon-profile\"\
        ,\"type\":\"Microsoft.Cdn/profiles\",\"tags\":{\r\n    \r\n  },\"location\"\
        :\"WestUs\",\"sku\":{\r\n    \"name\":\"Premium_Verizon\"\r\n  },\"properties\"\
        :{\r\n    \"provisioningState\":\"Creating\",\"resourceState\":\"Creating\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/da8e4962-66ce-4bd8-a420-977ebb4fc8e9?api-version=2020-04-15
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"isCompressionEnabled": false, "isHttpAllowed":
      true, "isHttpsAllowed": true, "origins": [{"name": "origin-0", "properties":
      {"hostName": "www.contoso.com", "httpPort": 80, "httpsPort": 443}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cd[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Premium-Verizon-profile/endpoints/endpoint000004?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"name\":\"endpoint000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Premium-Verizon-profile/endpoints/endpoint000004\"\
        ,\"type\":\"Microsoft.Cdn/profiles/endpoints\",\"tags\":{\r\n    \r\n  },\"\
        location\":\"WestUs\",\"properties\":{\r\n    \"hostName\":\"endpoint000004.azureedge.net\"\
        ,\"originHostHeader\":null,\"provisioningState\":\"Succeeded\",\"resourceState\"\
        :\"Running\",\"isHttpAllowed\":true,\"isHttpsAllowed\":true,\"queryStringCachingBehavior\"\
        :\"NotSet\",\"originPath\":null,\"origins\":[\r\n      {\r\n        \"name\"\
        :\"origin-0\",\"properties\":{\r\n          \"hostName\":\"www.contoso.com\"\
        ,\"httpPort\":80,\"httpsPort\":443,\"originHostHeader\":null,\"priority\"\
        :null,\"weight\":null,\"enabled\":true,\"privateLinkResourceId\":null,\"privateLinkLocation\"\
        :null,\"privateLinkAlias\":null,\"privateEndpointStatus\":null,\"privateLinkApprovalMessage\"\
        :null\r\n        }\r\n      }\r\n    ],\"originGroups\":[\r\n      \r\n  \
        \  ],\"defaultOriginGroup\":null,\"customDomains\":[\r\n      \r\n    ],\"\
        contentTypesToCompress\":[\r\n      \r\n    ],\"isCompressionEnabled\":false,\"\
        optimizationType\":null,\"probePath\":null,\"geoFilters\":[\r\n      \r\n\
        \    ],\"deliveryPolicy\":null,\"webApplicationFirewallPolicyLink\":null,\"\
        urlSigningKeys\":[\r\n      \r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
version: 1
