interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-29T22:20:45Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard_Akamai"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"name\":\"profile123\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123\"\
        ,\"type\":\"Microsoft.Cdn/profiles\",\"tags\":{\r\n    \r\n  },\"location\"\
        :\"WestUs\",\"sku\":{\r\n    \"name\":\"Standard_Akamai\"\r\n  },\"properties\"\
        :{\r\n    \"provisioningState\":\"Creating\",\"resourceState\":\"Creating\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/4e3d18cf-b48e-49f8-8d58-84e2fa925502?api-version=2020-04-15
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/4e3d18cf-b48e-49f8-8d58-84e2fa925502?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"status\":\"Succeeded\",\"error\":{\r\n    \"code\":\"None\"\
        ,\"message\":null\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"isCompressionEnabled": false, "isHttpAllowed":
      true, "isHttpsAllowed": true, "origins": [{"name": "origin-0", "properties":
      {"hostName": "www.example.com", "httpPort": 80, "httpsPort": 443}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/endpoint000002?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"name\":\"endpoint000002\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/endpoint000002\"\
        ,\"type\":\"Microsoft.Cdn/profiles/endpoints\",\"tags\":{\r\n    \r\n  },\"\
        location\":\"WestUs\",\"properties\":{\r\n    \"hostName\":\"endpoint000002.azureedge.net\"\
        ,\"originHostHeader\":null,\"provisioningState\":\"Creating\",\"resourceState\"\
        :\"Creating\",\"isHttpAllowed\":true,\"isHttpsAllowed\":true,\"queryStringCachingBehavior\"\
        :\"IgnoreQueryString\",\"originPath\":null,\"origins\":[\r\n      {\r\n  \
        \      \"name\":\"origin-0\",\"properties\":{\r\n          \"hostName\":\"\
        www.example.com\",\"httpPort\":80,\"httpsPort\":443,\"originHostHeader\":null,\"\
        priority\":null,\"weight\":null,\"enabled\":true,\"privateLinkResourceId\"\
        :null,\"privateLinkLocation\":null,\"privateLinkAlias\":null,\"privateEndpointStatus\"\
        :null,\"privateLinkApprovalMessage\":null\r\n        }\r\n      }\r\n    ],\"\
        originGroups\":[\r\n      \r\n    ],\"defaultOriginGroup\":null,\"customDomains\"\
        :[\r\n      \r\n    ],\"contentTypesToCompress\":[\r\n      \r\n    ],\"isCompressionEnabled\"\
        :false,\"optimizationType\":null,\"probePath\":null,\"geoFilters\":[\r\n \
        \     \r\n    ],\"deliveryPolicy\":null,\"webApplicationFirewallPolicyLink\"\
        :null,\"urlSigningKeys\":[\r\n      \r\n    ]\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/6788f070-f2c9-4151-9cf5-8516a58772ce?api-version=2020-04-15
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/endpoint000002/origins/origin-0?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"name\":\"origin-0\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/endpoint000002/origins/origin-0\"\
        ,\"type\":\"Microsoft.Cdn/profiles/endpoints/origins\",\"properties\":{\r\n\
        \    \"provisioningState\":\"Succeeded\",\"resourceState\":\"Active\",\"hostName\"\
        :\"www.example.com\",\"httpPort\":80,\"httpsPort\":443,\"enabled\":true,\"\
        priority\":null,\"weight\":null,\"originHostHeader\":null,\"privateLinkResourceId\"\
        :null,\"privateLinkLocation\":null,\"privateLinkAlias\":null,\"privateEndpointStatus\"\
        :null,\"privateLinkApprovalMessage\":null\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/endpoint000002/origins?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"origin-0\",\"id\":\"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/endpoint000002/origins/origin-0\"\
        ,\"type\":\"Microsoft.Cdn/profiles/endpoints/origins\",\"properties\":{\r\n\
        \        \"provisioningState\":\"Succeeded\",\"resourceState\":\"Active\"\
        ,\"hostName\":\"www.example.com\",\"httpPort\":80,\"httpsPort\":443,\"enabled\"\
        :true,\"priority\":null,\"weight\":null,\"originHostHeader\":null,\"privateLinkResourceId\"\
        :null,\"privateLinkLocation\":null,\"privateLinkAlias\":null,\"privateEndpointStatus\"\
        :null,\"privateLinkApprovalMessage\":null\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"httpPort": 8080, "httpsPort": 8443, "enabled": true, "privateLinkResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/moeidrg/providers/Microsoft.Network/privateLinkServices/pls-east",
      "privateLinkLocation": "EastUS", "privateLinkApprovalMessage": "Please approve
      the request"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profil[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/endpoint000002/origins/origin-0?api-version=2020-04-15
  response:
    body:
      string: "{\r\n  \"name\":\"origin-0\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/endpoint000002/origins/origin-0\"\
        ,\"type\":\"Microsoft.Cdn/profiles/endpoints/origins\",\"properties\":{\r\n\
        \    \"provisioningState\":\"Succeeded\",\"resourceState\":\"Active\",\"hostName\"\
        :\"www.example.com\",\"httpPort\":8080,\"httpsPort\":8443,\"enabled\":true,\"\
        priority\":null,\"weight\":null,\"originHostHeader\":null,\"privateLinkResourceId\"\
        :\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/moeidrg/providers/Microsoft.Network/privateLinkServices/pls-east\"\
        ,\"privateLinkLocation\":\"EastUS\",\"privateLinkAlias\":null,\"privateEndpointStatus\"\
        :null,\"privateLinkApprovalMessage\":\"Please approve the request\"\r\n  }\r\
        \n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
version: 1
