interactions:
- request:
    body: '{"location": "global", "sku": {"name": "Standard_AzureFrontDoor"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123","type":"Microsoft.Cdn/profiles","name":"profile123","location":"Global","kind":"frontdoor","tags":{},"sku":{"name":"Standard_AzureFrontDoor"},"properties":{"frontDoorId":"594955b3-e94e-4e1f-b4ce-79dc3f512ef1","resourceState":"Creating","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/ab061baf-e2a8-45a7-8467-e0e3ff86fe29?api-version=2020-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '22'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/ab061baf-e2a8-45a7-8467-e0e3ff86fe29?api-version=2020-09-01
  response:
    body:
      string: '{"status":"InProgress","error":{"code":"None","message":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "global", "properties": {"originResponseTimeoutSeconds": 100,
      "enabledState": "Enabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/afdEndpoints/endpoint000002?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/afdEndpoints/endpoint000002","type":"Microsoft.Cdn/profiles/afdendpoints","name":"endpoint000002","location":"Global","tags":{},"properties":{"hostName":"endpoint000002.z01.azurefd.net","originResponseTimeoutSeconds":100,"enabledState":"Enabled","provisioningState":"Creating","deploymentStatus":"NotStarted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/5293f5ac-880d-4925-84db-aaca7a90f5ee?api-version=2020-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '98'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"contentPaths": ["/index.html", "/javascript/*"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/afdEndpoints/endpoint000002/purge?api-version=2020-09-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/a51b6aa9-5ddf-4f5a-88d4-f4c51cf7ba66?api-version=2020-09-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/a51b6aa9-5ddf-4f5a-88d4-f4c51cf7ba66/profileresults/profile123/afdendpointresults/endpoint000002?api-version=2020-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"contentPaths": ["/index.html", "/javascript/*"], "domains": ["endpoint000002.z01.azurefd.net"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/afdEndpoints/endpoint000002/purge?api-version=2020-09-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/8a51520d-330a-471f-a67f-e79a43415dbc?api-version=2020-09-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/8a51520d-330a-471f-a67f-e79a43415dbc/profileresults/profile123/afdendpointresults/endpoint000002?api-version=2020-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/8a51520d-330a-471f-a67f-e79a43415dbc?api-version=2020-09-01
  response:
    body:
      string: '{"status":"Succeeded","error":{"code":"None","message":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
