interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints?api-version=2019-06-15-preview
  response:
    body:
      string: '{"error":{"code":"ParentResourceNotFound","message":"Can not perform
        requested operation on nested resource. Parent resource ''profile123'' not
        found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-02-11T18:29:44Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard_Akamai"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123?api-version=2019-06-15-preview
  response:
    body:
      string: "{\r\n  \"name\":\"profile123\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123\"\
        ,\"type\":\"Microsoft.Cdn/profiles\",\"tags\":{\r\n    \r\n  },\"location\"\
        :\"WestUs\",\"sku\":{\r\n    \"name\":\"Standard_Akamai\"\r\n  },\"properties\"\
        :{\r\n    \"provisioningState\":\"Creating\",\"resourceState\":\"Creating\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/57db2d14-852f-4db9-9f7f-115c2f292946?api-version=2019-06-15-preview
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/57db2d14-852f-4db9-9f7f-115c2f292946?api-version=2019-06-15-preview
  response:
    body:
      string: "{\r\n  \"status\":\"InProgress\",\"error\":{\r\n    \"code\":\"None\"\
        ,\"message\":null\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"isCompressionEnabled": false, "isHttpAllowed":
      true, "isHttpsAllowed": true, "origins": [{"name": "origin-0", "properties":
      {"hostName": "www.example.com", "httpPort": 80, "httpsPort": 443}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/cdn-cli-test?api-version=2019-06-15-preview
  response:
    body:
      string: "{\r\n  \"name\":\"cdn-cli-test\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/cdn-cli-test\"\
        ,\"type\":\"Microsoft.Cdn/profiles/endpoints\",\"tags\":{\r\n    \r\n  },\"\
        location\":\"WestUs\",\"properties\":{\r\n    \"hostName\":\"cdn-cli-test.azureedge.net\"\
        ,\"originHostHeader\":null,\"provisioningState\":\"Creating\",\"resourceState\"\
        :\"Creating\",\"isHttpAllowed\":true,\"isHttpsAllowed\":true,\"queryStringCachingBehavior\"\
        :\"IgnoreQueryString\",\"originPath\":null,\"origins\":[\r\n      {\r\n  \
        \      \"name\":\"origin-0\",\"properties\":{\r\n          \"hostName\":\"\
        www.example.com\",\"httpPort\":80,\"httpsPort\":443\r\n        }\r\n     \
        \ }\r\n    ],\"customDomains\":[\r\n      \r\n    ],\"contentTypesToCompress\"\
        :[\r\n      \r\n    ],\"isCompressionEnabled\":false,\"optimizationType\"\
        :null,\"probePath\":null,\"geoFilters\":[\r\n      \r\n    ],\"deliveryPolicy\"\
        :null,\"webApplicationFirewallPolicyLink\":null\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/1e1080e3-4685-46ac-83d9-e53659298795?api-version=2019-06-15-preview
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/cdn-cli-test/customDomains?api-version=2019-06-15-preview
  response:
    body:
      string: "{\r\n  \"value\":[\r\n    \r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"hostName": "customdomain000002.cdn-cli-test.azfdtest.xyz"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/cdn-cli-test/customDomains/customdomain000002?api-version=2019-06-15-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"BadRequest\",\r\n    \"message\"\
        : \"We couldn't find a DNS record for custom domain that points to endpoint.\
        \ To map a domain to this endpoint, create a CNAME record with your DNS provider\
        \ for custom domain that points to endpoint.\"\r\n  }\r\n}"
    headers:
      content-language:
      - en-US
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"properties": {"hostName": "customdomain000002.cdn-cli-test-dogfood.azfdtest.xyz"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/profile123/endpoints/cdn-cli-test/customDomains/customdomain000002?api-version=2019-06-15-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"BadRequest\",\r\n    \"message\"\
        : \"We couldn't find a DNS record for custom domain that points to endpoint.\
        \ To map a domain to this endpoint, create a CNAME record with your DNS provider\
        \ for custom domain that points to endpoint.\"\r\n  }\r\n}"
    headers:
      content-language:
      - en-US
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
