interactions:
- request:
    body: '{"properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-sql-cosmos2/sqlDatabases/coreDB",
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app2/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-28T07:22:09.0264244Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2021-10-28T07:22:09.0264244Z"}, "properties": {"targetId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-sql-cosmos2/sqlDatabases/coreDB",
        "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
        "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/aa25f515-b633-40cf-af4d-932e2b1dccc3*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"36067038-0000-0500-0000-617a4fa20000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/aa25f515-b633-40cf-af4d-932e2b1dccc3*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/aa25f515-b633-40cf-af4d-932e2b1dccc3*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B",
        "name": "aa25f515-b633-40cf-af4d-932e2b1dccc3*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Accepted", "startTime": "2021-10-28T07:22:09.4265551Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0500a106-0000-0500-0000-617a4fa10000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/aa25f515-b633-40cf-af4d-932e2b1dccc3*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/aa25f515-b633-40cf-af4d-932e2b1dccc3*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B",
        "name": "aa25f515-b633-40cf-af4d-932e2b1dccc3*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-28T07:22:09.4265551Z", "endTime":
        "2021-10-28T07:23:33.8937337Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0500bf06-0000-0500-0000-617a4ff50000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app2/providers/Microsoft.ServiceLinker/linkers?api-version=2021-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-28T07:22:09.0264244Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifiedByType": "Application", "lastModifiedAt": "2021-10-28T07:23:33.6311356Z"},
        "properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-sql-cosmos2/sqlDatabases/coreDB",
        "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
        "provisioningState": "Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app2/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2021-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_COSMOS_LISTCONNECTIONSTRINGURL",
        "value": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-sql-cosmos2/listConnectionStrings?api-version=2021-04-15"},
        {"name": "AZURE_COSMOS_RESOURCEENDPOINT", "value": "https://servicelinker-sql-cosmos2.documents.azure.com:443/"},
        {"name": "AZURE_COSMOS_SCOPE", "value": "https://management.azure.com/.default"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app2/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2021-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c613118e-7534-4782-901f-3272f8d11e54*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c613118e-7534-4782-901f-3272f8d11e54*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B?api-version=2021-11-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c613118e-7534-4782-901f-3272f8d11e54*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c613118e-7534-4782-901f-3272f8d11e54*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B",
        "name": "c613118e-7534-4782-901f-3272f8d11e54*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-28T07:23:52.8081817Z", "endTime":
        "2021-10-28T07:23:56.3578168Z", "properties": {"message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity permission is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2021-10-28T07:23:54.5780187Z\",\"ReportEndTimeUtc\":\"2021-10-28T07:23:56.1748674Z\",\"SourceId\":null,\"TargetId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-sql-cosmos2/sqlDatabases/coreDB\",\"AuthType\":0}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0500cd06-0000-0500-0000-617a500c0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/3327bb64-2bbb-4b20-9b60-6d36b0fd64ec*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/3327bb64-2bbb-4b20-9b60-6d36b0fd64ec*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B",
        "name": "3327bb64-2bbb-4b20-9b60-6d36b0fd64ec*BA25B0D6EE62FBB9D2A3A4E29FECB2BE42C56D49DFF2E4E74EACF5F337F92B1B",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-28T07:24:31.4382644Z", "endTime":
        "2021-10-28T07:24:34.3248204Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"11003bc5-0000-0100-0000-617a50320000"'
    status:
      code: 200
      message: OK
version: 1
