interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest",
        "name": "clitest", "type": "Microsoft.Resources/resourceGroups", "location":
        "eastus", "properties": {"provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "B1", "tier": "BASIC", "capacity":
      1}, "properties": {"perSiteScaling": false, "isXenon": false, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/serverfarms/testplan?api-version=2023-01-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/serverfarms/testplan",
        "name": "testplan", "type": "Microsoft.Web/serverfarms", "kind": "app", "location":
        "eastus", "properties": {"serverFarmId": 13815, "name": "testplan", "sku":
        {"name": "B1", "tier": "Basic", "size": "B1", "family": "B", "capacity": 1},
        "workerSize": "Default", "workerSizeId": 0, "workerTierName": null, "numberOfWorkers":
        1, "currentWorkerSize": "Default", "currentWorkerSizeId": 0, "currentNumberOfWorkers":
        1, "status": "Ready", "webSpace": "clitest-EastUSwebspace", "subscription":
        "937bc588-a144-4083-8612-5f9ffbbddb14", "adminSiteName": null, "hostingEnvironment":
        null, "hostingEnvironmentProfile": null, "maximumNumberOfWorkers": 3, "planName":
        "VirtualDedicatedPlan", "adminRuntimeSiteName": null, "computeMode": "Dedicated",
        "siteMode": null, "geoRegion": "East US", "perSiteScaling": false, "elasticScaleEnabled":
        false, "maximumElasticWorkerCount": 1, "numberOfSites": 2, "hostingEnvironmentId":
        null, "isSpot": false, "spotExpirationTime": null, "freeOfferExpirationTime":
        null, "tags": null, "kind": "app", "resourceGroup": "clitest", "reserved":
        false, "isXenon": false, "hyperV": false, "mdmId": "waws-prod-blu-369_13815",
        "targetWorkerCount": 0, "targetWorkerSizeId": 0, "provisioningState": "Succeeded",
        "webSiteId": null, "existingServerFarmIds": null, "kubeEnvironmentProfile":
        null, "zoneRedundant": false, "migrateToVMSS": null, "vnetConnectionsUsed":
        0, "vnetConnectionsMax": 2, "createdTime": "0001-01-01T00:00:00"}, "sku":
        {"name": "B1", "tier": "Basic", "size": "B1", "family": "B", "capacity": 1}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "servicelinker-clitest-app", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2023-01-01
  response:
    body:
      string: '{"nameAvailable": false, "reason": "AlreadyExists", "message": "Hostname
        ''servicelinker-clitest-app'' already exists. Please select a different name."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/sites?api-version=2023-01-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CupertinoAppGroupWestUS/providers/Microsoft.Web/sites/cupertinodev",
        "name": "cupertinodev", "type": "Microsoft.Web/sites", "kind": "app", "location":
        "West US", "properties": {"name": "cupertinodev", "state": "Running", "hostNames":
        ["cupertinodev.azurewebsites.net"], "webSpace": "CupertinoAppGroupWestUS-WestUSwebspace",
        "selfLink": "https://waws-prod-bay-141.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/CupertinoAppGroupWestUS-WestUSwebspace/sites/cupertinodev",
        "repositorySiteName": "cupertinodev", "owner": null, "usageState": "Normal",
        "enabled": true, "adminEnabled": true, "siteScopedCertificatesEnabled": false,
        "afdEnabled": false, "enabledHostNames": ["cupertinodev.azurewebsites.net",
        "cupertinodev.scm.azurewebsites.net"], "siteProperties": {"metadata": null,
        "properties": [{"name": "LinuxFxVersion", "value": "HIDDEN"}, {"name": "WindowsFxVersion",
        "value": null}], "appSettings": null}, "availabilityState": "Normal", "sslCertificates":
        null, "csrs": [], "cers": null, "siteMode": null, "hostNameSslStates": [{"name":
        "cupertinodev.azurewebsites.net", "sslState": "Disabled", "ipBasedSslResult":
        null, "virtualIP": null, "virtualIPv6": null, "thumbprint": null, "certificateResourceId":
        null, "toUpdate": null, "toUpdateIpBasedSsl": null, "ipBasedSslState": "NotConfigured",
        "hostType": "Standard"}, {"name": "cupertinodev.scm.azurewebsites.net", "sslState":
        "Disabled", "ipBasedSslResult": null, "virtualIP": null, "virtualIPv6": null,
        "thumbprint": null, "certificateResourceId": null, "toUpdate": null, "toUpdateIpBasedSsl":
        null, "ipBasedSslState": "NotConfigured", "hostType": "Repository"}], "computeMode":
        null, "serverFarm": null, "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CupertinoAppGroupWestUS/providers/Microsoft.Web/serverfarms/cupertinodev",
        "reserved": false, "isXenon": false, "hyperV": false, "lastModifiedTimeUtc":
        "2024-08-02T15:12:18.2166667", "storageRecoveryDefaultState": "Running", "contentAvailabilityState":
        "Normal", "runtimeAvailabilityState": "Normal", "secretsCollection": [], "dnsConfiguration":
        {"dnsLegacySortOrder": true}, "vnetRouteAllEnabled": false, "containerAllocationSubnet":
        null, "useContainerLocalhostBindings": null, "vnetImagePullEnabled": false,
        "vnetContentShareEnabled": false, "outboundVnetRouting": {"allTraffic": false,
        "applicationTraffic": false, "contentShareTraffic": false, "imagePullTraffic":
        false}, "siteConfig": {"numberOfWorkers": 1, "defaultDocuments": null, "netFrameworkVersion":
        null, "phpVersion": null, "pythonVersion": null, "nodeVersion": null, "powerShellVersion":
        null, "linuxFxVersion": "", "windowsFxVersion": null, "windowsConfiguredStacks":
        null, "requestTracingEnabled": null, "remoteDebuggingEnabled": null, "remoteDebuggingVersion":
        null, "httpLoggingEnabled": null, "azureMonitorLogCategories": null, "acrUseManagedIdentityCreds":
        false, "acrUserManagedIdentityID": null, "logsDirectorySizeLimit": null, "detailedErrorLoggingEnabled":
        null, "publishingUsername": null, "publishingPassword": null, "appSettings":
        null, "metadata": null, "connectionStrings": null, "machineKey": null, "handlerMappings":
        null, "documentRoot": null, "scmType": null, "use32BitWorkerProcess": null,
        "webSocketsEnabled": null, "alwaysOn": true, "javaVersion": null, "javaContainer":
        null, "javaContainerVersion": null, "appCommandLine": null, "managedPipelineMode":
        null, "virtualApplications": null, "winAuthAdminState": null, "winAuthTenantState":
        null, "customAppPoolIdentityAdminState": null, "customAppPoolIdentityTenantState":
        null, "runtimeADUser": null, "runtimeADUserPassword": null, "loadBalancing":
        null, "routingRules": null, "experiments": null, "limits": null, "autoHealEnabled":
        null, "autoHealRules": null, "tracingOptions": null, "vnetName": null, "vnetRouteAllEnabled":
        null, "vnetPrivatePortsCount": null, "publicNetworkAccess": null, "cors":
        null, "push": null, "apiDefinition": null, "apiManagementConfig": null, "autoSwapSlotName":
        null, "localMySqlEnabled": null, "managedServiceIdentityId": null, "xManagedServiceIdentityId":
        null, "keyVaultReferenceIdentity": null, "ipSecurityRestrictions": null, "ipSecurityRestrictionsDefaultAction":
        null, "scmIpSecurityRestrictions": null, "scmIpSecurityRestrictionsDefaultAction":
        null, "scmIpSecurityRestrictionsUseMain": null, "http20Enabled": false, "minTlsVersion":
        null, "minTlsCipherSuite": null, "scmMinTlsCipherSuite": null, "supportedTlsCipherSuites":
        null, "scmSupportedTlsCipherSuites": null, "scmMinTlsVersion": null, "ftpsState":
        null, "preWarmedInstanceCount": null, "functionAppScaleLimit": 0, "elasticWebAppScaleLimit":
        null, "healthCheckPath": null, "fileChangeAuditEnabled": null, "functionsRuntimeScaleMonitoringEnabled":
        null, "websiteTimeZone": null, "minimumElasticInstanceCount": 0, "azureStorageAccounts":
        null, "http20ProxyFlag": null, "sitePort": null, "antivirusScanEnabled": null,
        "storageType": null, "sitePrivateLinkHostEnabled": null, "clusteringEnabled":
        false}, "functionAppConfig": null, "daprConfig": null, "deploymentId": "cupertinodev",
        "slotName": null, "trafficManagerHostNames": null, "sku": "Standard", "scmSiteAlsoStopped":
        false, "targetSwapSlot": null, "hostingEnvironment": null, "hostingEnvironmentProfile":
        null, "clientAffinityEnabled": true, "clientAffinityProxyEnabled": false,
        "blockPathTraversal": false, "clientCertEnabled": false, "clientCertMode":
        "Required", "clientCertExclusionPaths": null, "hostNamesDisabled": false,
        "ipMode": "IPv4", "domainVerificationIdentifiers": null, "customDomainVerificationId":
        "17E6855E79705C77E7F5863F99948C247926EC1E47FCDA072FC8D3577BE49F24", "kind":
        "app", "managedEnvironmentId": null, "workloadProfileName": null, "resourceConfig":
        null, "inboundIpAddress": "40.112.243.8", "possibleInboundIpAddresses": "40.112.243.8",
        "ftpUsername": "cupertinodev\\$cupertinodev", "ftpsHostName": "ftps://waws-prod-bay-141.ftp.azurewebsites.windows.net/site/wwwroot",
        "outboundIpAddresses": "52.160.87.144,52.160.81.29,40.83.173.84,52.160.87.145,40.112.243.8",
        "possibleOutboundIpAddresses": "52.160.87.144,52.160.81.29,40.83.173.84,52.160.87.145,52.160.69.205,40.118.207.199,52.160.67.221,52.160.67.220,52.160.67.45,104.42.34.73,104.42.149.48,104.42.248.175,104.42.251.128,104.42.253.173,104.42.255.215,40.112.134.225,40.112.131.24,40.112.131.88,40.112.131.133,40.112.131.155,40.112.131.173,40.112.243.8",
        "containerSize": 0, "dailyMemoryTimeQuota": 0, "suspendedTill": null, "siteDisabledReason":
        0, "functionExecutionUnitsCache": null, "maxNumberOfWorkers": null, "homeStamp":
        "waws-prod-bay-141", "cloningInfo": null, "hostingEnvironmentId": null, "tags":
        null, "resourceGroup": "CupertinoAppGroupWestUS", "defaultHostName": "cupertinodev.azurewebsites.net",
        "slotSwapStatus": null, "httpsOnly": true, "endToEndEncryptionEnabled": false,
        "functionsRuntimeAdminIsolationEnabled": false, "redundancyMode": "None",
        "inProgressOperationId": null, "geoDistributions": null, "privateEndpointConnections":
        null, "publicNetworkAccess": null, "buildVersion": null, "targetBuildVersion":
        null, "migrationState": null, "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs",
        "inFlightFeatures": null, "storageAccountRequired": false, "virtualNetworkSubnetId":
        null, "keyVaultReferenceIdentity": "SystemAssigned", "autoGeneratedDomainNameLabelScope":
        null, "defaultHostNameScope": "Global", "privateLinkIdentifiers": null, "sshEnabled":
        null}, "identity": {"type": "SystemAssigned", "tenantId" :"00000000-0000-0000-0000-000000000000",
        "principalId" :"00000000-0000-0000-0000-000000000000"}}, {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-dotnet-func",
        "name": "servicelinker-sql-cosmos-dotnet-func", "type": "Microsoft.Web/sites",
        "kind": "functionapp", "location": "Southeast Asia", "tags": {"usage": "servicelinker-test",
        "owner": "chejian"}, "properties": {"name": "servicelinker-sql-cosmos-dotnet-func",
        "state": "Running", "hostNames": ["servicelinker-sql-cosmos-dotnet-func.azurewebsites.net"],
        "webSpace": "servicelinker-test-win-group-SoutheastAsiawebspace", "selfLink":
        "https://waws-prod-sg1-053.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/servicelinker-test-win-group-SoutheastAsiawebspace/sites/servicelink[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/sites/servicelinker-clitest-app/config/appsettings/list?api-version=2023-01-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/sites/servicelinker-clitest-app/config/appsettings",
        "name": "appsettings", "type": "Microsoft.Web/sites/config", "location": "East
        US", "properties": {"WEBSITE_NODE_DEFAULT_VERSION": "~14", "AZURE_KEYVAULT_SCOPE":
        "https://management.azure.com/.default", "AZURE_KEYVAULT_RESOURCEENDPOINT":
        "https://vault-laBZh.vault.azure.net/", "AZURE_STORAGEBLOB_RESOURCEENDPOINT":
        "https://storagetestwc.z24.blob.storage.azure.net/", "AZURE_STORAGEBLOB_TESTMESSAGE_RESOURCEENDPOINT":
        "https://scconnectortest.z46.blob.storage.azure.net/"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "East US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/serverfarms/testplan",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "HIDDEN"},
      {"name": "AZURE_KEYVAULT_SCOPE", "value": "HIDDEN"}, {"name": "AZURE_KEYVAULT_RESOURCEENDPOINT",
      "v[...]
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/sites/servicelinker-clitest-app/publishxml?api-version=2023-01-01
  response:
    body:
      string: <publishData><publishProfile profileName="servicelinker-clitest-app
        - Web Deploy" publishMethod="MSDeploy" publishUrl="servicelinker-clitest-app.scm.azurewebsites.net:443"
        msdeploySite="servicelinker-clitest-app" userName="REDACTED" userPWD="REDACTED"
        destinationAppUrl="http://servicelinker-clitest-app.azurewebsites.net" SQLServerDBConnectionString="REDACTED"
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="servicelinker-clitest-app
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-blu-369.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="http://servicelinker-clitest-app.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases
        /></publishProfile><publishProfile profileName="servicelinker-clitest-app
        - Zip Deploy" publishMethod="ZipDeploy" publishUrl="servicelinker-clitest-app.scm.azurewebsites.net:443"
        userName="REDACTED" userPWD="REDACTED" destinationAppUrl="http://servicelinker-clitest-app.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases
        /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/sites/servicelinker-clitest-app/config/web?api-version=2023-01-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/sites/servicelinker-clitest-app/config/web",
        "name": "servicelinker-clitest-app", "type": "[...]
[...]
- request:
    body: '{"name": "accounthkmoy", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2023-05-01
  response:
    body:
      string: '{"nameAvailable": true}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "eastus",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Storage/storageAccounts/accounthkmoy?api-version=2023-05-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/2097b94b-f784-47b7-aa3d-1e6598f5e1ce?monitor=true&api-version=2023-05-01&t=638610298952756724&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/2097b94b-f784-47b7-aa3d-1e6598f5e1ce?monitor=true&api-version=2023-05-01&t=638610298952756724&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/2097b94b-f784-47b7-aa3d-1e6598f5e1ce?monitor=true&api-version=2023-05-01&t=638610298963097617&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMTUyNDA[...]
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Storage/storageAccounts/accounthkmoy/blobServices/default"},
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "dotnet",
      "secretStore": {}, "publicNetworkSolution": {}, "configurationInfo": {"configurationStore":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/sites/servicelinker-clitest-app/providers/Microsoft.ServiceLinker/linkers/testconn_storageblob?api-version=2024-07-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/sites/servicelinker-clitest-app/providers/Microsoft.ServiceLinker/linkers/testconn_storageblob",
        "name": "testconn_storageblob", "type": "microsoft.servicelinker/linkers",
        "systemData": {"createdBy": "xiaofanzhou@microsoft.com", "createdByType":
        "User", "createdAt": "2024-09-04T06:58:36.0736737Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2024-09-04T06:58:36.0736737Z"},
        "properties": {"provisioningState": "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Storage/storageAccounts/accounthkmoy/blobServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"roles":
        null, "userName": null, "authType": "systemAssignedIdentity", "deleteOrUpdateBehavior":
        null, "authMode": null}, "vNetSolution": null, "clientType": "dotnet", "secretStore":
        {"keyVaultId": null, "keyVaultSecretName": null}, "scope": null, "publicNetworkSolution":
        {"firewallRules": null, "deleteOrUpdateBehavior": null, "action": null}, "configurationInfo":
        {"customizedKeys": null, "configurationStore": {"appConfigurationId": null},
        "additionalConfigurations": null, "additionalConnectionStringProperties":
        null, "deleteOrUpdateBehavior": null, "action": null, "daprProperties": null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/4b942729-fc01-4344-9bb6-d3ee10a31572*87AEC7742E84A3BC9AA208FA6476BC03AE42E1BD6491444AA1A08502A5452B53?api-version=2021-01-01-privatepreview&t=638610299169487974&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/4b942729-fc01-4344-9bb6-d3ee10a31572*87AEC7742E84A3BC9AA208FA6476BC03AE42E1BD6491444AA1A08502A5452B53?api-version=2021-01-01-privatepreview&t=638610299169487974&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/sites/servicelinker-clitest-app/providers/Microsoft.ServiceLinker/linkers/testconn_storageblob/listConfigurations?api-version=2024-07-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_STORAGEBLOB_TESTCONN_STORAGEBLOB_RESOURCEENDPOINT",
        "value": "HIDDEN", "configType": "Default", "keyVaultReferenceIdentity": null,
        "description": ""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - e9d15b1a-791f-4c96-b90c-61f0eeb8e3b2
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2023-05-01
  response:
    body:
      string: '{"value": [{"sku": {"name": "Standard_RAGRS", "tier": "Standard"},
        "kind": "StorageV2", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Storage/storageAccounts/accounthkmoy",
        "name": "accounthkmoy", "type": "Microsoft.Storage/storageAccounts", "location":
        "eastus", "tags": {}, "properties": {"keyCreationTime": {"key1": "2024-09-04T06:58:11.9717148Z",
        "key2": "2024-09-04T06:58:11.9717148Z"}, "allowCrossTenantReplication": false,
        "privateEndpointConnections": [], "minimumTlsVersion": "TLS1_0", "allowBlobPublicAccess":
        false, "networkAcls": {"ipv6Rules": [], "bypass": "AzureServices", "virtualNetworkRules":
        [], "ipRules": [], "defaultAction": "Allow"}, "supportsHttpsTrafficOnly":
        true, "encryption": {"services": {"file": {"keyType": "Account", "enabled":
        true, "lastEnabledTime": "2024-09-04T06:58:11.9717148Z"}, "blob": {"keyType":
        "Account", "enabled": true, "lastEnabledTime": "2024-09-04T06:58:11.9717148Z"}},
        "keySource": "Microsoft.Storage"}, "accessTier": "Hot", "provisioningState":
        "Succeeded", "creationTime": "2024-09-04T06:58:11.8154655Z", "primaryEndpoints":
        {"dfs": "https://accounthkmoy.z12.dfs.storage.azure.net/", "web": "https://accounthkmoy.z12.web.storage.azure.net/",
        "blob": "https://accounthkmoy.z12.blob.storage.azure.net/", "queue": "https://accounthkmoy.z12.queue.storage.azure.net/",
        "table": "https://accounthkmoy.z12.table.storage.azure.net/", "file": "https://accounthkmoy.z12.file.storage.azure.net/"},
        "primaryLocation": "eastus", "statusOfPrimary": "available", "secondaryLocation":
        "westus", "statusOfSecondary": "available", "secondaryEndpoints": {"dfs":
        "https://accounthkmoy-secondary.z12.dfs.storage.azure.net/", "web": "https://accounthkmoy-secondary.z12.web.storage.azure.net/",
        "blob": "https://accounthkmoy-secondary.z12.blob.storage.azure.net/", "queue":
        "https://accounthkmoy-secondary.z12.queue.storage.azure.net/", "table": "https://accounthkmoy-secondary.z12.table.storage.azure.net/"}}},
        {"sku": {"name": "Standard_RAGRS", "tier": "Standard"}, "kind": "StorageV2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ev2-storage/providers/Microsoft.Storage/storageAccounts/cupertino",
        "name": "cupertino", "type": "Microsoft.Storage/storageAccounts", "location":
        "eastus", "tags": {}, "properties": {"defaultToOAuthAuthentication": false,
        "publicNetworkAccess": "Enabled", "keyCreationTime": {"key1": null, "key2":
        null}, "privateEndpointConnections": [], "minimumTlsVersion": "TLS1_2", "allowBlobPublicAccess":
        false, "allowSharedKeyAccess": false, "networkAcls": {"ipv6Rules": [], "resourceAccessRules":
        [{"tenantId" :"00000000-0000-0000-0000-000000000000", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],
        "bypass": "AzureServices", "virtualNetworkRules": [], "ipRules": [{"value":
        "52.161.69.146", "action": "Allow"}, {"value": "52.161.81.241", "action":
        "Allow"}, {"value": "13.78.147.140", "action": "Allow"}, {"value": "52.161.73.73",
        "action": "Allow"}, {"value": "13.78.198.88", "action": "Allow"}, {"value":
        "52.161.78.140", "action": "Allo[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.Web/sites/servicelinker-clitest-app/providers/Microsoft.ServiceLinker/linkers/testconn_storageblob/listConfigurations?api-version=2024-07-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_STORAGEBLOB_TESTCONN_STORAGEBLOB_RESOURCEENDPOINT",
        "value": "HIDDEN", "configType": "Default", "keyVaultReferenceIdentity": null,
        "description": ""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 81eff762-95a8-4e2e-8728-2c3ccfcccf62
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
