interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/configurationNames?api-version=2022-11-01-preview&$filter=TargetService%20eq%20%27Microsoft.AppConfiguration%2FconfigurationStores%27%20and%20ClientType%20eq%20%27dotnet%27
  response:
    body:
      string: '{"value": [{"properties": {"targetService": "MICROSOFT.APPCONFIGURATION/CONFIGURATIONSTORES",
        "clientType": "dotnet", "authType": "systemAssignedIdentity", "names": [{"value":
        "AZURE_APPCONFIGURATION_ENDPOINT", "description": "App Configuration endpoint"},
        {"value": "AZURE_APPCONFIGURATION_SCOPE", "description": "scope for getting
        token"}]}}, {"properties": {"targetService": "MICROSOFT.APPCONFIGURATION/CONFIGURATIONSTORES",
        "clientType": "dotnet", "authType": "userAssignedIdentity", "names": [{"value":
        "AZURE_APPCONFIGURATION_ENDPOINT", "description": "App Configuration endpoint"},
        {"value": "AZURE_APPCONFIGURATION_CLIENTID", "description": "User Identity
        client id"}, [...]
