interactions:
- request:
    body: '{"properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage2/fileServices/default",
      "authInfo": {"authType": "secret"}, "clientType": "python"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app2/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-28T06:35:19.6634461Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2021-10-28T06:35:19.6634461Z"}, "properties": {"targetId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage2/fileServices/default",
        "authInfo": {"name": null, "secret": null, "authType": "secret"}, "clientType":
        "python", "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/aef0d00f-4a66-448f-87a0-c4846fdb1901*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"32062191-0000-0500-0000-617a44a80000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/aef0d00f-4a66-448f-87a0-c4846fdb1901*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/aef0d00f-4a66-448f-87a0-c4846fdb1901*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC",
        "name": "aef0d00f-4a66-448f-87a0-c4846fdb1901*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-28T06:35:20.336667Z", "endTime":
        "2021-10-28T06:35:23.9565691Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05004e04-0000-0500-0000-617a44ab0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app2/providers/Microsoft.ServiceLinker/linkers?api-version=2021-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-28T06:35:19.6634461Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifiedByType": "Application", "lastModifiedAt": "2021-10-28T06:35:23.657391Z"},
        "properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage2/fileServices/default",
        "authInfo": {"authType": "secret"}, "clientType": "python", "provisioningState":
        "Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app2/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2021-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_STORAGEFILE_CONNECTIONSTRING",
        "value": "hidden"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app2/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2021-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/f1e06a20-02e4-4cbd-b772-ceb486bb886a*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/f1e06a20-02e4-4cbd-b772-ceb486bb886a*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC?api-version=2021-11-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/f1e06a20-02e4-4cbd-b772-ceb486bb886a*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/f1e06a20-02e4-4cbd-b772-ceb486bb886a*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC",
        "name": "f1e06a20-02e4-4cbd-b772-ceb486bb886a*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-28T06:36:02.2823499Z", "endTime":
        "2021-10-28T06:36:04.9972858Z", "properties": {"message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2021-10-28T06:36:04.1107091Z\",\"ReportEndTimeUtc\":\"2021-10-28T06:36:04.8486513Z\",\"SourceId\":null,\"TargetId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage2/fileServices/default\",\"AuthType\":4}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05006504-0000-0500-0000-617a44d50000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/7afe42f3-f45e-4e30-9844-763c5b0d4ae2*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/7afe42f3-f45e-4e30-9844-763c5b0d4ae2*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC",
        "name": "7afe42f3-f45e-4e30-9844-763c5b0d4ae2*DA1BF67440F9299B6A73F6A0592494566620E4C10E91CE0069D1DB66140B39FC",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-28T06:36:41.1112735Z", "endTime":
        "2021-10-28T06:36:43.972967Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05007104-0000-0500-0000-617a44fb0000"'
    status:
      code: 200
      message: OK
version: 1
