interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage?api-version=2023-05-01
  response:
    body:
      string: '{"sku": {"name": "Standard_RAGRS", "tier": "Standard"}, "kind": "StorageV2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage",
        "name": "servicelinkerstorage", "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2euap", "tags": {}, "properties": {"publicNetworkAccess":
        "Enabled", "keyCreationTime": {"key1": "2023-12-25T10:16:56.2194426Z", "key2":
        "2023-12-25T10:17:58.9388116Z"}, "allowCrossTenantReplication": false, "privateEndpointConnections":
        [], "minimumTlsVersion": "TLS1_2", "allowBlobPublicAccess": false, "allowSharedKeyAccess":
        true, "networkAcls": {"ipv6Rules": [], "resourceAccessRules": [{"tenantId":
        "00000000-0000-0000-0000-000000000000", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],
        "bypass": "AzureServices", "virtualNetworkRules": [], "ipRules": [{"value":
        "20.47.213.67", "action": "Allow"}, {"value": "20.47.213.73", "action": "Allow"},
        {"value": "20.47.213.100", "action": "Allow"}, {"value": "52.253.224.215",
        "action": "Allow"}, {"value": "52.253.228.169", "action": "Allow"}, {"value":
        "52.253.228.194", "action": "Allow"}, {"value": "52.253.229.6", "action":
        "Allow"}, {"value": "52.253.229.9", "action": "Allow"}, {"value": "52.253.229.86",
        "action": "Allow"}, {"value": "52.253.229.112", "action": "Allow"}, {"value":
        "52.253[...]
[...]
- request:
    body: '{"properties": {"networkAcls": {"bypass": "AzureServices", "resourceAccessRules":
      [{"tenantId": "00000000-0000-0000-0000-000000000000", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],
      "virtualNetworkRules": [], "ipRules": [], "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage?api-version=2023-05-01
  response:
    body:
      string: '{"sku": {"name": "Standard_RAGRS", "tier": "Standard"}, "kind": "StorageV2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage",
        "name": "servicelinkerstorage", "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2euap", "tags": {}, "properties": {"publicNetworkAccess":
        "Enabled", "keyCreationTime": {"key1": "2023-12-25T10:16:56.2194426Z", "key2":
        "2023-12-25T10:17:58.9388116Z"}, "allowCrossTenantReplication": false, "privateEndpointConnections":
        [], "minimumTlsVersion": "TLS1_2", "allowBlobPublicAccess": false, "allowSharedKeyAccess":
        true, "networkAcls": {"ipv6Rules": [], "resourceAccessRules": [{"tenantId":
        "00000000-0000-0000-0000-000000000000", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],
        "bypass": "AzureServices", "virtualNetworkRules": [], "ipRules": [], "defaultAction":
        "Deny"}, "supportsHttpsTrafficOnly": true, "encryption": {"services": {"file":
        {"keyType": "Account", "enabled": true, "lastEnabledTime": "2021-03-26T05:45:28.8731649Z"},
        "blob": {"keyType": "Account", "enabled": true, "lastEnabledTime": "2021-03-26T05:45:28.8731649Z"}},
        "keySource": "Microsoft.Storage"}, "accessTier": "Hot", "provisioningState":
        "Succeeded", "creationTime": "2021-03-26T05:45:28.8082090Z", "primaryEndpoints":
        {"dfs": "https://servicelinkerstorage.dfs.core.windows.net/", "web": "https://servicelinkerstorage.z3.web.core.windows.net/",
        "blob": "https://servicelinkerstorage.blob.core.windows.net/", "queue": "https://servicelinkerstorage.queue.core.windows.net/",
        "table": "https://servicelinkerstorage.table.core.windows.net/", "file": "https://servicelinkerstorage.file.core.windows.net/"},
        "primaryLocation": "eastus2euap", "statusOfPrimary": "available", "secondaryLocation":
        "centraluseuap", "statusOfSecondary": "available", "secondaryEndpoints": {"dfs":
        "https://servicelinkerstorage-secondary.dfs.core.windows.net/", "web": "https://servicelinkerstorage-secondary.z3.web.core.windows.net/",
        "blob": "https://servicelinkerstorage-secondary.blob.core.windows.net/", "queue":
        "https://servicelinkerstorage-secondary.queue.core.windows.net/", "table":
        "https://servicelinkerstorage-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/blobServices/default"},
      "authInfo": {"authType": "secret"}, "clientType": "dotnet", "secretStore": {},
      "publicNetworkSolution": {}, "configurationInfo": {"action": "optOut", "configurationStore":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2024-07-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "xiaofanzhou@microsoft.com", "createdByType": "User", "createdAt":
        "2024-09-05T06:06:02.7765286Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2024-09-05T06:06:02.7765286Z"},
        "properties": {"provisioningState": "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/blobServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"name":
        null, "secretInfo": null, "authType": "secret", "authMode": null}, "vNetSolution":
        null, "clientType": "dotnet", "secretStore": {"keyVaultId": null, "keyVaultSecretName":
        null}, "scope": null, "publicNetworkSolution": {"firewallRules": null, "deleteOrUpdateBehavior":
        null, "action": null}, "configurationInfo": {"customizedKeys": null, "configurationStore":
        {"appConfigurationId": null}, "additionalConfigurations": null, "additionalConnectionStringProperties":
        null, "deleteOrUpdateBehavior": null, "action": "optOut", "daprProperties":
        null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d0647acc-473c-481e-9a9d-cf122971cffc*FE7F78E8B9CFFDB9E710A6821DFC983C3CC929A45BC45B6216A1A9AB91FECA7C?api-version=2021-01-01-privatepreview&t=638611131631515300&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d0647acc-473c-481e-9a9d-cf122971cffc*FE7F78E8B9CFFDB9E710A6821DFC983C3CC929A45BC45B6216A1A9AB91FECA7C?api-version=2021-01-01-privatepreview&t=638611131631515300&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2024-07-01-preview
  response:
    body:
      string: '{"configurations": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a3d09f2c-b047-45cb-80cd-57177d9517cf
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers?api-version=2024-07-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app?api-version=2023-01-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app",
        "name": "servicelinker-storageblob-app", "type": "Microsoft.Web/sites", "kind":
        "app,linux,container", "location": "East US", "properties": {"name": "servicelinker-storageblob-app",
        "state": "Running", "hostNames": ["servicelinker-storageblob-app.azurewebsites.net"],
        "webSpace": "servicelinker-test-linux-group-EastUSwebspace-Linux", "selfLink":
        "https://waws-prod-blu-227.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/servicelinker-test-linux-group-EastUSwebspace-Linux/sites/servicelinker-storageblob-app",
        "repositorySiteName": "servicelinker-storageblob-app", "owner": null, "usageState":
        "Normal", "enabled": true, "adminEnabled": true, "siteScopedCertificatesEnabled":
        false, "afdEnabled": false, "enabledHostNames": ["servicelinker-storageblob-app.azurewebsites.net",
        "servicelinker-storageblob-app.scm.azurewebsites.net"], "siteProperties":
        {"metadata": null, "properties": [{"name": "LinuxFxVersion", "value": "HIDDEN"},
        {"name": "WindowsFxVersion", "value": null}], "appSettings": null}, "availabilityState":
        "Normal", "sslCertificates": null, "csrs": [], "cers": null, "siteMode": null,
        "hostNameSslStates": [{"name": "servicelinker-storageblob-app.azurewebsites.net",
        "sslState": "Disabled", "ipBasedSslResult": null, "virtualIP": null, "virtualIPv6":
        null, "thumbprint": null, "certificateResourceId": null, "toUpdate": null,
        "toUpdateIpBasedSsl": null, "ipBasedSslState": "NotConfigured", "hostType":
        "Standard"}, {"name": "servicelinker-storageblob-app.scm.azurewebsites.net",
        "sslState": "Disabled", "ipBasedSslResult": null, "virtualIP": null, "virtualIPv6":
        null, "thumbprint": null, "certificateResourceId": null, "toUpdate": null,
        "toUpdateIpBasedSsl": null, "ipBasedSslState": "NotConfigured", "hostType":
        "Repository"}], "computeMode": null, "serverFarm": null, "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/serverfarms/servicelinker-win-plan",
        "reserved": true, "isXenon": false, "hyperV": false, "lastModifiedTimeUtc":
        "2024-09-05T05:54:11.9266667", "storageRecoveryDefaultState": "Running", "contentAvailabilityState":
        "Normal", "runtimeAvailabilityState": "Normal", "dnsConfiguration": {}, "vnetRouteAllEnabled":
        true, "containerAllocationSubnet": null, "useContainerLocalhostBindings":
        null, "vnetImagePullEnabled": false, "vnetContentShareEnabled": false, "outboundVnetRouting":
        null, "siteConfig": {"numberOfWorkers": 1, "defaultDocuments": null, "netFrameworkVersion":
        null, "phpVersion": null, "pythonVersion": null, "nodeVersion": null, "powerShellVersion":
        null, "linuxFxVersion": "DOCKER|mcr.microsoft.com/appsvc/staticsite:latest",
        "windowsFxVersion": null, "windowsConfiguredStacks": null, "requestTracingEnabled":
        null, "remoteDebuggingEnabled": null, "remoteDebuggingVersion": null, "httpLoggingEnabled":
        null, "azureMonitorLogCategories": null, "acrUseManagedIdentityCreds": false,
        "acrUserManagedIdentityID": null, "logsDirectorySizeLimit": null, "detailedErrorLoggingEnabled":
        null, "publishingUsername": null, "publishingPassword": null, "appSettings":
        null, "metadata": null, "connectionStrings": null, "machineKey": null, "handlerMappings":
        null, "documentRoot": null, "scmType": null, "use32BitWorkerProcess": null,
        "webSocketsEnabled": null, "alwaysOn": true, "javaVersion": null, "javaContainer":
        null, "javaContainerVersion": null, "appCommandLine": null, "managedPipelineMode":
        null, "virtualApplications": null, "winAuthAdminState": null, "winAuthTenantState":
        null, "customAppPoolIdentityAdminState": null, "customAppPoolIdentityTenantState":
        null, "runtimeADUser": null, "runtimeADUserPassword": null, "loadBalancing":
        null, "routingRules": null, "experiments": null, "limits": null, "autoHealEnabled":
        null, "autoHealRules": null, "tracingOptions": null, "vnetName": null, "vnetRouteAllEnabled":
        null, "vnetPrivatePortsCount": null, "publicNetworkAccess": null, "cors":
        null, "push": null, "apiDefinition": null, "apiManagementConfig": null, "autoSwapSlotName":
        null, "localMySqlEnabled": null, "managedServiceIdentityId": null, "xManagedServiceIdentityId":
        null, "keyVaultReferenceIdentity": null, "ipSecurityRestrictions": null, "ipSecurityRestrictionsDefaultAction":
        null, "scmIpSecurityRestrictions": null, "scmIpSecurityRestrictionsDefaultAction":
        null, "scmIpSecurityRestrictionsUseMain": null, "http20Enabled": false, "minTlsVersion":
        null, "minTlsCipherSuite": null, "scmMinTlsCipherSuite": null, "supportedTlsCipherSuites":
        null, "scmSupportedTlsCipherSuites": null, "scmMinTlsVersion": null, "ftpsState":
        null, "preWarmedInstanceCount": null, "functionAppScaleLimit": 0, "elasticWebAppScaleLimit":
        null, "healthCheckPath": null, "fileChangeAuditEnabled": null, "functionsRuntimeScaleMonitoringEnabled":
        null, "websiteTimeZone": null, "minimumElasticInstanceCount": 0, "azureStorageAccounts":
        null, "http20ProxyFlag": null, "sitePort": null, "antivirusScanEnabled": null,
        "storageType": null, "sitePrivateLinkHostEnabled": null, "clusteringEnabled":
        false}, "functionAppConfig": null, "daprConfig": null, "deploymentId": "servicelinker-storageblob-app",
        "slotName": null, "trafficManagerHostNames": null, "sku": "Standard", "scmSiteAlsoStopped":
        false, "targetSwapSlot": null, "hostingEnvironment": null, "hostingEnvironmentProfile":
        null, "clientAffinityEnabled": false, "clientAffinityProxyEnabled": false,
        "blockPathTraversal": false, "clientCertEnabled": false, "clientCertMode":
        "Required", "clientCertExclusionPaths": null, "hostNamesDisabled": false,
        "ipMode": "IPv4", "domainVerificationIdentifiers": null, "customDomainVerificationId":
        "17E6855E79705C77E7F5863F99948C247926EC1E47FCDA072FC8D3577BE49F24", "kind":
        "app,linux,container", "managedEnvironmentId": null, "workloadProfileName":
        null, "resourceConfig": null, "inboundIpAddress": "20.49.104.19", "possibleInboundIpAddresses":
        "20.49.104.19", "ftpUsername": "servicelinker-storageblob-app\\$servicelinker-storageblob-app",
        "ftpsHostName": "ftps://waws-prod-blu-227.ftp.azurewebsites.windows.net/site/wwwroot",
        "outboundIpAddresses": "52.151.208.5,52.151.208.29,52.151.208.49,52.151.208.74,52.151.208.76,52.151.208.108,20.49.104.19",
        "possibleOutboundIpAddresses": "52.151.208.5,52.151.208.29,52.151.208.49,52.151.208.74,52.151.208.76,52.151.208.108,52.151.208.127,52.151.208.144,52.151.208.152,52.151.208.154,52.151.208.217,52.151.209.28,52.146.71.136,52.151.209.37,52.151.209.38,52.151.209.74,52.151.209.91,52.151.209.97,52.150.53.90,52.150.53.103,52.150.53.113,52.150.53.182,52.150.54.84,52.142.22.235,20.49.104.19",
        "containerSize": 0, "dailyMemoryTimeQuota": 0, "suspendedTill": null, "siteDisabledReason":
        0, "functionExecutionUnitsCache": null, "maxNumberOfWorkers": null, "homeStamp":
        "waws-prod-blu-227", "cloningInfo": null, "hostingEnvironmentId": null, "tags":
        null, "resourceGroup": "servicelinker-test-linux-group", "defaultHostName":
        "servicelinker-storageblob-app.azurewebsites.net", "slotSwapStatus": null,
        "httpsOnly": false, "endToEndEncryptionEnabled": false, "functionsRuntimeAdminIsolationEnabled":
        false, "redundancyMode": "None", "inProgressOperationId": null, "geoDistributions":
        null, "privateEndpointConnections": [], "publicNetworkAccess": null, "buildVersion":
        null, "targetBuildVersion": null, "migrationState": null, "eligibleLogCategories":
        "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs",
        "inFlightFeatures": ["SiteContainers"], "storageAccountRequired": false, "virtualNetworkSubnetId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Network/virtualNetworks/servicelinker-vnet/subnets/webapp",
        "keyVaultReferenceIdentity": "SystemAssigned", "autoGeneratedDomainNameLabelScope":
        null, "defaultHostNameScope": "Global", "privateLinkIdentifiers": null, "sshEnabled":
        null}, "identity": {"type": "SystemAssigned", "tenantId": "00000000-0000-0000-0000-000000000000",
        "principalId": "00000000-0000-0000-0000-000000000000"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DAFF58081E696B"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/config/web?api-version=2023-01-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/config/web",
[...]
[...]
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/publishxml?api-version=2023-01-01
  response:
    body:
      string: <publishData><publishProfile profileName="servicelinker-storageblob-app
        - Web Deploy" publishMethod="MSDeploy" publishUrl="servicelinker-storageblob-app.scm.azurewebsites.net:443"
        msdeploySite="servicelinker-storageblob-app" userName="REDACTED" userPWD="REDACTED"
        destinationAppUrl="http://servicelinker-storageblob-app.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="some app setting
        value" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com"
        webSystem="WebSites"><databases><add name="AZURE_MYSQL_SSLMODE" connectionString="some
        app setting value" providerName="MySql.Data.MySqlClient" type="MySql" /></databases></publishProfile><publishProfile
        profileName="servicelinker-storageblob-app - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-blu-227.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="http://servicelinker-storageblob-app.azurewebsites.net"
        SQLServerDBConn[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2024-07-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/719e04ee-2639-49e9-8986-79a7f115abfc*FE7F78E8B9CFFDB9E710A6821DFC983C3CC929A45BC45B6216A1A9AB91FECA7C?api-version=2021-01-01-privatepreview&t=638611132155402075&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/blobServices/default"},
      "authInfo": {"authType": "secret", "secretInfo": {"secretType": "rawValue"}},
      "clientType": "python", "secretStore": {}, "publicNetworkSolution": {}, "configurationInfo":
      {"action": "optOut", "configurationStore": {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-versio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/dfe3d507-1f98-4689-a63b-246d68e9e2ad*FE7F78E8B9CFFDB9E710A6821DFC983C3CC929A45BC45B6216A1A9AB91FECA7C?api-version=2021-01-01-privatepreview&t=638611132532561245&c=MIIINDCCBxygAwIBAgITOgNuc3KBpHCkZvMa4AAEA25zcjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/01e51ef7-dc29-434a-933e-3a3d9ecceb71*FE7F78E8B9CFFDB9E710A6821DFC983C3CC929A45BC45B6216A1A9AB91FECA7C?api-version=2021-01-01-privatepreview&t=638611133054104926&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
