interactions:
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-table-cosmos/tables/MyItem"},
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
      "secretStore": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "xiaofanzhou@microsoft.com", "createdByType": "User", "createdAt":
        "2022-12-15T05:37:03.0848906Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-12-15T05:37:03.0848906Z"},
        "properties": {"provisioningState": "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-table-cosmos/tables/MyItem",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"roles":
        null, "userName": null, "authType": "systemAssignedIdentity", "deleteOrUpdateBehavior":
        "Default"}, "vNetSolution": null, "clientType": "python", "secretStore": {"keyVaultId":
        null, "keyVaultSecretName": null}, "scope": null, "publicNetworkSolution":
        null, "configurationInfo": null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e58a1828-4506-42bd-bb24-3ddffc837b54*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"48008493-0000-0100-0000-639ab2810000"'
      mise-correlation-id:
      - 19cd3ee5-64cc-4d6f-a569-fee8370d349f
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e58a1828-4506-42bd-bb24-3ddffc837b54*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e58a1828-4506-42bd-bb24-3ddffc837b54*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "name": "e58a1828-4506-42bd-bb24-3ddffc837b54*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Accepted", "startTime": "2022-12-15T05:37:04.7455661Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"13009fe4-0000-0100-0000-639ab2800000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e58a1828-4506-42bd-bb24-3ddffc837b54*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e58a1828-4506-42bd-bb24-3ddffc837b54*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "name": "e58a1828-4506-42bd-bb24-3ddffc837b54*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-15T05:37:04.7455661Z", "endTime":
        "2022-12-15T05:47:43.6283262Z", "properties": {"Message": null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"13005deb-0000-0100-0000-639ab4ff0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers?api-version=2022-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "xiaofanzhou@microsoft.com", "createdByType": "User", "createdAt":
        "2022-12-15T05:37:03.0848906Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-12-15T05:37:03.0848906Z"},
        "properties": {"publicNetworkSolution": null, "configurationInfo": null, "provisioningState":
        "Succeeded", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-table-cosmos/tables/MyItem",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"roles":
        null, "userName": null, "authType": "systemAssignedIdentity", "deleteOrUpdateBehavior":
        "Default"}, "clientType": "python", "scope": null, "vNetSolution": null, "secretStore":
        {"keyVaultId": null, "keyVaultSecretName": null}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - aec5e63b-2fff-478a-bdb3-ee393cc9c6f3
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2022-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_COSMOS_LISTCONNECTIONSTRINGURL",
        "value": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-table-cosmos/listConnectionStrings?api-version=2021-04-15"},
        {"name": "AZURE_COSMOS_RESOURCEENDPOINT", "value": "https://servicelinker-table-cosmos.documents.azure.com:443/"},
        {"name": "AZURE_COSMOS_SCOPE", "value": "https://management.azure.com/.default"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 87bbc246-c57f-4b38-be7b-196e85b8bcce
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2022-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/83ac207d-27c0-4e65-aed1-a3ec578e7e64*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/83ac207d-27c0-4e65-aed1-a3ec578e7e64*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-01-01-privatepreview
      mise-correlation-id:
      - 711e2e80-cd3f-4f75-bfbb-4ff8d76fcc66
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/83ac207d-27c0-4e65-aed1-a3ec578e7e64*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/83ac207d-27c0-4e65-aed1-a3ec578e7e64*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "name": "83ac207d-27c0-4e65-aed1-a3ec578e7e64*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-15T05:49:10.3492661Z", "endTime":
        "2022-12-15T05:49:24.0583777Z", "properties": {"Message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity permission is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2022-12-15T05:49:14.2588068Z\",\"ReportEndTimeUtc\":\"2022-12-15T05:49:22.8814687Z\",\"SourceId\":null,\"TargetId\":null,\"AuthType\":0}",
        "linkerName": "testconn", "isConnectionAvailable": true, "validationDetail":
        [{"name": "The target existence is validated", "description": null, "result":
        "success"}, {"name": "The target service firewall is validated", "description":
        null, "result": "success"}, {"name": "The configured values is validated",
        "description": null, "result": "success"}, {"name": "The identity existence
        is validated", "description": null, "result": "success"}, {"name": "The identity
        permission is validated", "description": null, "result": "success"}], "reportStartTimeUtc":
        "2022-12-15T05:49:14.2588068Z", "reportEndTimeUtc": "2022-12-15T05:49:22.8814687Z",
        "sourceId": null, "targetId": null, "authType": "systemAssignedIdentity"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"13004aec-0000-0100-0000-639ab5640000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/6cc303c6-af67-49c8-9ffd-cafd7e8da375*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/6cc303c6-af67-49c8-9ffd-cafd7e8da375*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "name": "6cc303c6-af67-49c8-9ffd-cafd7e8da375*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-15T05:49:52.6943283Z", "endTime":
        "2022-12-15T05:49:59.1552555Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"13009bec-0000-0100-0000-639ab5870000"'
    status:
      code: 200
      message: OK
version: 1
