interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/servicelinker-springcloud-identity?api-version=2023-01-31
  response:
    body:
      string: '{"location": "eastus", "tags": {}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-test-linux-group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/servicelinker-springcloud-identity",
        "name": "servicelinker-springcloud-identity", "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "properties": {"tenantId" :"00000000-0000-0000-0000-000000000000", "principalId"
        :"00000000-0000-0000-0000-000000000000", "clientId" :"00000000-0000-0000-0000-000000000000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ServiceBus/namespaces/servicelinkertestservicebus"},
      "authInfo": {"authType": "userAssignedIdentity", "clientId":"00000000-0000-0000-0000-000000000000",
      "subscriptionId":"00000000-0000-0000-0000-000000000000"}, "clientType": "java",
      "secretStore": {}, "configurationInfo": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/servicebus/deployments/mock-deployment/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/servicebus/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "wchi@microsoft.com", "createdByType": "User", "createdAt":
        "2023-05-04T03:58:06.3633892Z", "lastModifiedBy": "wchi@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2023-05-04T03:58:06.3633892Z"}, "properties": {"provisioningState":
        "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ServiceBus/namespaces/servicelinkertestservicebus",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"subscriptionId"
        :"00000000-0000-0000-0000-000000000000", "clientId" :"00000000-0000-0000-0000-000000000000",
        "roles": null, "userName": null, "authType": "userAssignedIdentity", "deleteOrUpdateBehavior":
        null}, "vNetSolution": null, "clientType": "java", "secretStore": {"keyVaultId":
        null, "keyVaultSecretName": null}, "scope": null, "publicNetworkSolution":
        null, "configurationInfo": {"customizedKeys": null, "additionalConfigurations":
        null, "deleteOrUpdateBehavior": null, "action": null, "daprProperties": null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/a7556f93-7ee6-44e8-8708-29eac3db2b20*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6500461b-0000-0100-0000-64532d4f0000"'
      mise-correlation-id:
      - b01dd881-0041-4305-b72a-3d0c34a8a913
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/a7556f93-7ee6-44e8-8708-29eac3db2b20*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/a7556f93-7ee6-44e8-8708-29eac3db2b20*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02",
        "name": "a7556f93-7ee6-44e8-8708-29eac3db2b20*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/servicebus/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Accepted", "startTime": "2023-05-04T03:58:07.5233145Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1700fc47-0000-0100-0000-64532d4f0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/a7556f93-7ee6-44e8-8708-29eac3db2b20*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/a7556f93-7ee6-44e8-8708-29eac3db2b20*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02",
        "name": "a7556f93-7ee6-44e8-8708-29eac3db2b20*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/servicebus/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2023-05-04T03:58:07.5233145Z", "endTime":
        "2023-05-04T03:58:30.8538948Z", "properties": {"Message": null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"17000848-0000-0100-0000-64532d660000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/servicebus/deployments/mock-deployment/providers/Microsoft.ServiceLinker/linkers?api-version=2022-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/servicebus/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "wchi@microsoft.com", "createdByType": "User", "createdAt":
        "2023-05-04T03:58:06.3633892Z", "lastModifiedBy": "wchi@microso[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/servicebus/deployments/mock-deployment/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2022-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_SERVICEBUS_FULLYQUALIFIEDNAMESPACE",
        "value": "servicelinkertestservicebus.servicebus.windows.net"}, {"name": "AZURE_SERVICEBUS_CLIENTID",
        "value": "HIDDEN"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 3ae0563d-b8fc-476c-b5ef-8c72bcd49c81
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/servicebus/deployments/mock-deployment/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2022-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/79d98406-8182-4871-96d3-e9aabecb40c4*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/79d98406-8182-4871-96d3-e9aabecb40c4*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02?api-version=2021-01-01-privatepreview
      mise-correlation-id:
      - 3e736bce-0d6f-4d55-bf8d-a29f0f0188a2
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/79d98406-8182-4871-96d3-e9aabecb40c4*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/79d98406-8182-4871-96d3-e9aabecb40c4*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02",
        "name": "79d98406-8182-4871-96d3-e9aabecb40c4*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/servicebus/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2023-05-04T03:58:58.3349101Z", "endTime":
        "2023-05-04T03:59:04.0762974Z", "properties": {"Message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"Target
        resource existence validated.\",\"Description\":null,\"Result\":0},{\"Name\":\"Target
        service firewall validated.\",\"Description\":null,\"Result\":0},{\"Name\":\"Configured
        connection information validated.\",\"Description\":null,\"Result\":0},{\"Name\":\"Managed
        Identity existence validated.\",\"Description\":null,\"Result\":0},{\"Name\":\"Managed
        Identity permissions validated.\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2023-05-04T03:58:59.6173073Z\",\"ReportEndTimeUtc\":\"2023-05-04T03:59:03.0111155Z\",\"SourceId\":null,\"TargetId\":null,\"AuthType\":1}",
        "linkerName": "testconn", "isConnectionAvailable": true, "validationDetail":
        [{"name": "Target resource existence validated.", "description": null, "result":
        "success"}, {"name": "Target service firewall validated.", "description":
        null, "result": "success"}, {"name": "Configured connection information validated.",
        "description": null, "result": "success"}, {"name": "Managed Identity existence
        validated.", "description": null, "result": "success"}, {"name": "Managed
        Identity permissions validated.", "description": null, "result": "success"}],
        "reportStartTimeUtc": "2023-05-04T03:58:59.6173073Z", "reportEndTimeUtc":
        "2023-05-04T03:59:03.0111155Z", "sourceId": null, "targetId": null, "authType":
        "userAssignedIdentity"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"17002548-0000-0100-0000-64532d880000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/2e3a2de4-5610-49ea-a887-b7000fd2bbfa*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/2e3a2de4-5610-49ea-a887-b7000fd2bbfa*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02",
        "name": "2e3a2de4-5610-49ea-a887-b7000fd2bbfa*0DDB8CCDF5826DE73D26CD0DE03B41FD708C0416D7245DCBFFA6EDCCD2487B02",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/servicebus/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2023-05-04T03:59:39.248989Z", "endTime":
        "2023-05-04T03:59:43.3400953Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"17003748-0000-0100-0000-64532daf0000"'
    status:
      code: 200
      message: OK
version: 1
