interactions:
- request:
    body: '{"properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-table-cosmos/tables/MyItem",
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-cupertino-test-token:
      - hidden
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-12T06:49:09.2814914Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2021-10-12T06:49:09.2814914Z"}, "properties": {"targetId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-table-cosmos/tables/MyItem",
        "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
        "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/458f083d-52fa-4252-be66-a82537a79bf3*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e804a593-0000-0100-0000-61652fe60000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/458f083d-52fa-4252-be66-a82537a79bf3*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/458f083d-52fa-4252-be66-a82537a79bf3*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "name": "458f083d-52fa-4252-be66-a82537a79bf3*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Accepted", "startTime": "2021-10-12T06:49:09.5127146Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7002492a-0000-0100-0000-61652fe50000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/458f083d-52fa-4252-be66-a82537a79bf3*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/458f083d-52fa-4252-be66-a82537a79bf3*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "name": "458f083d-52fa-4252-be66-a82537a79bf3*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-12T06:49:09.5127146Z", "endTime":
        "2021-10-12T06:58:35.982796Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7002fa30-0000-0100-0000-6165321b0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers?api-version=2021-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-12T06:49:09.2814914Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifiedByType": "Application", "lastModifiedAt": "2021-10-12T06:58:35.8721747Z"},
        "properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-table-cosmos/tables/MyItem",
        "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
        "provisioningState": "Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2021-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_COSMOS_LISTCONNECTIONSTRINGURL",
        "value": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-table-cosmos/listConnectionStrings?api-version=2021-04-15"},
        {"name": "AZURE_COSMOS_RESOURCEENDPOINT", "value": "https://servicelinker-table-cosmos.documents.azure.com:443/"},
        {"name": "AZURE_COSMOS_SCOPE", "value": "https://management.azure.com/.default"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2021-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/26965731-2371-4d18-8c03-478c6e8936ac*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/26965731-2371-4d18-8c03-478c6e8936ac*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-11-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/771fda73-23de-4384-b57a-760f872d990c*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/771fda73-23de-4384-b57a-760f872d990c*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "name": "771fda73-23de-4384-b57a-760f872d990c*6877EFDD81F9BBE567A690EB100C775A8F24F042F6CF380A598FADC2BEB68348",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-table-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-12T06:59:35.1166968Z", "endTime":
        "2021-10-12T06:59:38.7722438Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7002d631-0000-0100-0000-6165325a0000"'
    status:
      code: 200
      message: OK
version: 1
