interactions:
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/blobServices/default"},
      "authInfo": {"authType": "secret"}, "clientType": "python", "secretStore": {},
      "scope": "default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ContainerService/managedClusters/servicelinker-storage-cluster/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ContainerService/managedClusters/servicelinker-storage-cluster/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2022-04-27T05:24:34.8597989Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2022-04-27T05:24:34.8597989Z"}, "properties": {"provisioningState":
        "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/blobServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"name":
        null, "secretInfo": null, "authType": "secret"}, "vNetSolution": null, "clientType":
        "python", "secretStore": {"keyVaultId": null}, "scope": "default"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/94793c67-cd6d-4148-8a08-fcee3e7cee45*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6a00d953-0000-0100-0000-6268d3930000"'
      mise-correlation-id:
      - 6c14aa5b-4059-4269-a1d9-6028ae7cafbe
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/94793c67-cd6d-4148-8a08-fcee3e7cee45*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/94793c67-cd6d-4148-8a08-fcee3e7cee45*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD",
        "name": "94793c67-cd6d-4148-8a08-fcee3e7cee45*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ContainerService/managedClusters/servicelinker-storage-cluster/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Accepted", "startTime": "2022-04-27T05:24:35.0465436Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1400ae00-0000-0100-0000-6268d3930000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/94793c67-cd6d-4148-8a08-fcee3e7cee45*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/94793c67-cd6d-4148-8a08-fcee3e7cee45*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD",
        "name": "94793c67-cd6d-4148-8a08-fcee3e7cee45*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ContainerService/managedClusters/servicelinker-storage-cluster/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:24:35.0465436Z", "endTime":
        "2022-04-27T05:25:13.6551141Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14001f01-0000-0100-0000-6268d3b90000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ContainerService/managedClusters/servicelinker-storage-cluster/providers/Microsoft.ServiceLinker/linkers?api-version=2022-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ContainerService/managedClusters/servicelinker-storage-cluster/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "properties":
        {"provisioningState": "Succeeded", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/blobServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"name":
        null, "secretInfo": null, "authType": "secret"}, "clientType": "python", "scope":
        "default", "vNetSolution": null, "secretStore": {"keyVaultId": null}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - c575af6e-400c-4742-8590-16f83e08cf25
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ContainerService/managedClusters/servicelinker-storage-cluster/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2022-05-01
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_STORAGEBLOB_CONNECTIONSTRING",
        "value": ""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 5b5173c8-7b38-4847-b96a-4acbf75bac89
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ContainerService/managedClusters/servicelinker-storage-cluster/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2022-05-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8e765537-5490-43f0-be3e-003470674de7*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8e765537-5490-43f0-be3e-003470674de7*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD?api-version=2022-05-01
      mise-correlation-id:
      - 8f73942b-0f77-459e-aeac-ae6c17604c6d
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8e765537-5490-43f0-be3e-003470674de7*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8e765537-5490-43f0-be3e-003470674de7*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD",
        "name": "8e765537-5490-43f0-be3e-003470674de7*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ContainerService/managedClusters/servicelinker-storage-cluster/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:27:22.6830139Z", "endTime":
        "2022-04-27T05:27:25.3894116Z", "properties": {"message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2022-04-27T05:27:23.8777866Z\",\"ReportEndTimeUtc\":\"2022-04-27T05:27:25.3334854Z\",\"SourceId\":null,\"TargetId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/blobServices/default\",\"AuthType\":4}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14008302-0000-0100-0000-6268d43d0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8effa8c6-09b5-420e-8e34-ef353be1aa48*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8effa8c6-09b5-420e-8e34-ef353be1aa48*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD",
        "name": "8effa8c6-09b5-420e-8e34-ef353be1aa48*5974609F7ED1BDF781A2F75217D729740DE76501BC1E9C8E66DB60658BA3EFBD",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ContainerService/managedClusters/servicelinker-storage-cluster/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:27:59.4643488Z", "endTime":
        "2022-04-27T05:29:11.766598Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"16000d15-0000-0400-0000-6268d4a70000"'
    status:
      code: 200
      message: OK
version: 1
