interactions:
- request:
    body: '{"properties": {"targetId": "xxx.eastus.azure.confluent.cloud:9092", "authInfo":
      {"authType": "secret", "name": "Name", "secret": "Secret"}, "clientType": "python"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-cupertino-test-token:
      - hidden
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-21T09:21:45.7373542Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifiedByType": "Application", "lastModifiedAt": "2021-10-21T09:21:50.9338538Z"},
        "properties": {"provisioningState": "Accepted", "targetId": "xxx.eastus.azure.confluent.cloud:9092",
        "authInfo": {"name": "Name", "authType": "secret"}, "clientType": "python"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/74fde7e7-9376-4d09-86eb-70d02200d43d*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6a058ccb-0000-0100-0000-617136160000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/74fde7e7-9376-4d09-86eb-70d02200d43d*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/74fde7e7-9376-4d09-86eb-70d02200d43d*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C",
        "name": "74fde7e7-9376-4d09-86eb-70d02200d43d*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-21T09:42:45.8142651Z", "endTime":
        "2021-10-21T09:42:49.4057812Z", "properties": {"message": ""}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5c00eb01-0000-0100-0000-617136190000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"targetId": "https://xxx.eastus.azure.confluent.cloud",
      "authInfo": {"authType": "secret", "name": "Name", "secret": "Secret"}, "clientType":
      "python"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-cupertino-test-token:
      - hidden
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/serviceli[...]
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-app/providers/Microsoft.ServiceLinker/linkers?api-version=2021-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-21T09:21:45.7373542Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifie[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2021-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "CONFLUENTCLOUD_KAFKA_BOOTSTRAPSERVER",
        "value": "xxx.eastus.azure.confluent.cloud:9092"}, {"name": "CONFLUENTCLOUD_KAFKA_SASLCONFIG",
        "value": "hidden"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2021-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/3e8c9c78-d750-4a1f-bc2d-25c8779e4b12*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/3e8c9c78-d750-4a1f-bc2d-25c8779e4b12*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C?api-version=2021-11-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/3e8c9c78-d750-4a1f-bc2d-25c8779e4b12*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/3e8c9c78-d750-4a1f-bc2d-25c8779e4b12*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C",
        "name": "3e8c9c78-d750-4a1f-bc2d-25c8779e4b12*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-21T09:44:02.4982359Z", "endTime":
        "2021-10-21T09:44:04.7362236Z", "properties": {"message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2021-10-21T09:44:04.1447225Z\",\"ReportEndTimeUtc\":\"2021-10-21T09:44:04.6970511Z\",\"SourceId\":null,\"TargetId\":\"xxx.eastus.azure.confluent.cloud:9092\",\"AuthType\":4}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5c00df04-0000-0100-0000-617136640000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/1b84fb1b-0aab-46cd-a774-68ec4be22e3d*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/1b84fb1b-0aab-46cd-a774-68ec4be22e3d*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C",
        "name": "1b84fb1b-0aab-46cd-a774-68ec4be22e3d*9887C5AAC7B00E59759F8101142E918AF02389009398EC03D6BE5D72A5C93A8C",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-21T09:44:41.6750757Z", "endTime":
        "2021-10-21T09:44:44.8045322Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5c006006-0000-0100-0000-6171368c0000"'
    status:
      code: 200
      message: OK
version: 1
