interactions:
- request:
    body: '{"properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-cassandra-cosmos/cassandraKeyspaces/coredb",
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-cupertino-test-token:
      - hidden
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-cassandra-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-cassandra-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-12T06:38:11.4849133Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2021-10-12T06:38:11.4849133Z"}, "properties": {"targetId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-cassandra-cosmos/cassandraKeyspaces/coredb",
        "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
        "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/50bf0610-4764-406b-93df-b330dec54cff*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e8046389-0000-0100-0000-61652d540000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/50bf0610-4764-406b-93df-b330dec54cff*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/50bf0610-4764-406b-93df-b330dec54cff*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57",
        "name": "50bf0610-4764-406b-93df-b330dec54cff*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-cassandra-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Accepted", "startTime": "2021-10-12T06:38:12.5506361Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7002f523-0000-0100-0000-61652d540000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/50bf0610-4764-406b-93df-b330dec54cff*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/50bf0610-4764-406b-93df-b330dec54cff*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57",
        "name": "50bf0610-4764-406b-93df-b330dec54cff*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-cassandra-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-12T06:38:12.5506361Z", "endTime":
        "2021-10-12T06:47:39.399293Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"70029f29-0000-0100-0000-61652f8b0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-cassandra-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers?api-version=2021-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-cassandra-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-12T06:38:11.4849133Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifiedByType": "Application", "lastModifiedAt": "2021-10-12T06:47:39.0183271Z"},
        "properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-cassandra-cosmos/cassandraKeyspaces/coredb",
        "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
        "provisioningState": "Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-cassandra-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2021-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_COSMOS_LISTKEYURL", "value": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-cassandra-cosmos/listKeys?api-version=2021-04-15"},
        {"name": "AZURE_COSMOS_USERNAME", "value": "servicelinker-cassandra-cosmos"},
        {"name": "AZURE_COSMOS_CONTACTPOINT", "value": "servicelinker-cassandra-cosmos.cassandra.cosmos.azure.com"},
        {"name": "AZURE_COSMOS_PORT", "value": "10350"}, {"name": "AZURE_COSMOS_KEYSPACE",
        "value": "coredb"}, {"name": "AZURE_COSMOS_RESOURCEENDPOINT", "value": "https://servicelinker-cassandra-cosmos.documents.azure.com:443/"},
        {"name": "AZURE_COSMOS_SCOPE", "value": "https://management.azure.com/.default"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-cassandra-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2021-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8da3064f-0900-454c-882e-e9681fc37c48*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8da3064f-0900-454c-882e-e9681fc37c48*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57?api-version=2021-11-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/4e7b4a51-b9e4-404d-814e-c735c613785e*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/4e7b4a51-b9e4-404d-814e-c735c613785e*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57",
        "name": "4e7b4a51-b9e4-404d-814e-c735c613785e*B7BC348CBB261FE8C2C0EEDF509ECAC895F41B4A2CD6A939CF043242D9E39F57",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-cassandra-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-12T06:48:36.8600344Z", "endTime":
        "2021-10-12T06:48:39.2318077Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"70020a2a-0000-0100-0000-61652fc70000"'
    status:
      code: 200
      message: OK
version: 1
