interactions:
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-sql-cosmos/sqlDatabases/coreDB"},
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
      "secretStore": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2022-04-27T05:22:42.2736441Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2022-04-27T05:22:42.2736441Z"}, "properties": {"provisioningState":
        "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-sql-cosmos/sqlDatabases/coreDB",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"authType":
        "systemAssignedIdentity"}, "vNetSolution": null, "clientType": "python", "secretStore":
        {"keyVaultId": null}, "scope": null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/0285a084-95d1-4f9f-8d37-f94d2ab89928*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3805cbe5-0000-0200-0000-6268d3230000"'
      mise-correlation-id:
      - 34802d81-251c-4c0a-8b4d-007bb9485707
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/0285a084-95d1-4f9f-8d37-f94d2ab89928*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/0285a084-95d1-4f9f-8d37-f94d2ab89928*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7",
        "name": "0285a084-95d1-4f9f-8d37-f94d2ab89928*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:22:43.2012469Z", "endTime":
        "2022-04-27T05:22:54.1048659Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"13008fff-0000-0100-0000-6268d32e0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers?api-version=2022-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "properties":
        {"provisioningState": "Succeeded", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-sql-cosmos/sqlDatabases/coreDB",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"authType":
        "systemAssignedIdentity"}, "clientType": "python", "scope": null, "vNetSolution":
        null, "secretStore": {"keyVaultId": null}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - fb683707-9def-4a3d-825a-8592d062ce2d
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2022-05-01
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_COSMOS_LISTCONNECTIONSTRINGURL",
        "value": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-sql-cosmos/listConnectionStrings?api-version=2021-04-15"},
        {"name": "AZURE_COSMOS_RESOURCEENDPOINT", "value": "https://servicelinker-sql-cosmos.documents.azure.com:443/"},
        {"name": "AZURE_COSMOS_SCOPE", "value": "https://management.azure.com/.default"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - eaf2fb06-8d07-4d8f-9287-cf08e9ac2302
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2022-05-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d4781a27-9044-4f4e-83a6-b2eaa053e313*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d4781a27-9044-4f4e-83a6-b2eaa053e313*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7?api-version=2022-05-01
      mise-correlation-id:
      - 48bd8829-9f66-4ac7-8881-2810b0cc49f7
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d4781a27-9044-4f4e-83a6-b2eaa053e313*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d4781a27-9044-4f4e-83a6-b2eaa053e313*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7",
        "name": "d4781a27-9044-4f4e-83a6-b2eaa053e313*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:24:00.4601635Z", "endTime":
        "2022-04-27T05:24:03.6846994Z", "properties": {"message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity permission is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2022-04-27T05:24:01.9203624Z\",\"ReportEndTimeUtc\":\"2022-04-27T05:24:03.6097422Z\",\"SourceId\":null,\"TargetId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-sql-cosmos/sqlDatabases/coreDB\",\"AuthType\":0}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"150062fa-0000-0400-0000-6268d3730000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c66816a4-9d68-4183-8806-3c36ccc0f91b*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c66816a4-9d68-4183-8806-3c36ccc0f91b*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7",
        "name": "c66816a4-9d68-4183-8806-3c36ccc0f91b*67882B587145687DE39822762D7A191F996D965E85BC6EDE42F81A8DEE419EA7",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-sql-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:24:36.7796758Z", "endTime":
        "2022-04-27T05:24:39.7603825Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"150025fc-0000-0400-0000-6268d3970000"'
    status:
      code: 200
      message: OK
version: 1
