interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group?api-version=2021-04-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-cli-test-group",
        "name": "servicelinker-cli-test-group", "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus", "tags": {}, "properties": {"provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/queueServices/default"},
      "authInfo": {"authType": "secret"}, "clientType": "python", "publicNetworkSolution":
      {"firewallRules": {"callerClientIP": "true"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn24?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn24",
        "name": "testconn24", "type": "microsoft.servicelinker/locations/connectors",
        "systemData": {"createdBy": "xiaofanzhou@microsoft.com", "createdByType":
        "User", "createdAt": "2022-12-14T06:32:07.1646363Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-12-14T06:32:07.1646363Z"},
        "properties": {"publicNetworkSolution": {"firewallRules": {"ipRanges": null,
        "callerClientIP": "true"}, "deleteOrUpdateBehavior": "Default", "action":
        "enable"}, "configurationInfo": null, "provisioningState": "Accepted", "targetService":
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/queueServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"name":
        null, "secretInfo": null, "authType": "secret"}, "clientType": "python", "scope":
        null, "vNetSolution": null, "secretStore": null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/1e286e75-ac1e-4c0c-b858-612f4e0247e0*553E86A5476D25B8016BA7247AB6793D0A6EC6189DB38AADC5C4DF47DF2AE023?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5c00cd0b-0000-0100-0000-63996de80000"'
      mise-correlation-id:
      - d63d4df5-5299-4525-9047-338f2e5fd398
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/1e286e75-ac1e-4c0c-b858-612f4e0247e0*553E86A5476D25B8016BA7247AB6793D0A6EC6189DB38AADC5C4DF47DF2AE023?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/1e286e75-ac1e-4c0c-b858-612f4e0247e0*553E86A5476D25B8016BA7247AB6793D0A6EC6189DB38AADC5C4DF47DF2AE023",
        "name": "1e286e75-ac1e-4c0c-b858-612f4e0247e0*553E86A5476D25B8016BA7247AB6793D0A6EC6189DB38AADC5C4DF47DF2AE023",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn24",
        "status": "Succeeded", "startTime": "2022-12-14T06:32:08.1834844Z", "endTime":
        "2022-12-14T06:32:13.9154741Z", "properties": {"Message": null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0f00aecb-0000-0100-0000-63996ded0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors?api-version=2022-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn24",
        "name": "testconn24", "type": "microsoft.servicelinker/locations/connectors",
        "systemData": {"createdBy": "xiaofanzhou@microsoft.com", "createdByType":
        "User", "createdAt": "2022-12-14T06:32:07.1646363Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-12-14T06:32:07.1646363Z"},
        "properties": {"publicNetworkSolution": {"firewallRules": {"callerClientIP":
        "true"}, "deleteOrUpdateBehavior": "Default", "action": "enable"}, "provisioningState":
        "Succeeded", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/queueServices/default",
        "type": "AzureResource"}, "authInfo": {"authType": "secret"}, "clientType":
        "python"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn24/generateConfigurations?api-version=2022-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_STORAGEQUEUE_CONNECTIONSTRING",
        "value": "hidden"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a61e0867-3680-4d4c-9f1a-d0a440cd768d
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn24/validate?api-version=2022-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ccf1dddc-e9c1-48ec-b791-1ee0d38d3b3c*553E86A5476D25B8016BA7247AB6793D0A6EC6189DB38AADC5C4DF47DF2AE023?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ccf1dddc-e9c1-48ec-b791-1ee0d38d3b3c*553E86A5476D25B8016BA7247AB6793D0A6EC6189DB38AADC5C4DF47DF2AE023?api-version=2021-01-01-privatepreview
      mise-correlation-id:
      - b6f57070-d15a-4bc7-8e21-d9ac4c9a519c
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ccf1dddc-e9c1-48ec-b791-1ee0d38d3b3c*553E86A5476D25B8016BA7247AB6793D0A6EC6189DB38AADC5C4DF47DF2AE023?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ccf1dddc-e9c1-48ec-b791-1ee0d38d3b3c*553E86A5476D25B8016BA7247AB6793D0A6EC6189DB38AADC5C4DF47DF2AE023",
        "name": "ccf1dddc-e9c1-48ec-b791-1ee0d38d3b3c*553E86A5476D25B8016BA7247AB6793D0A6EC6189DB38AADC5C4DF47DF2AE023",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn24",
        "status": "Succeeded", "startTime": "2022-12-14T06:33:32.6460154Z", "endTime":
        "2022-12-14T06:33:35.8004953Z", "properties": {"Message": "{\"ConnectionName\":\"testconn24\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2022-12-14T06:33:34.1935072Z\",\"ReportEndTimeUtc\":\"2022-12-14T06:33:34.5325666Z\",\"SourceId\":null,\"TargetId\":null,\"AuthType\":4}",
        "linkerName": "testconn24", "isConnectionAvailable": true, "validationDetail":
        [{"name": "The target existence is validated", "description": null, "result":
        "success"}, {"name": "The target service firewall is validated", "description":
        null, "result": "success"}], "reportStartTimeUtc": "2022-12-14T06:33:34.1935072Z",
        "reportEndTimeUtc": "2022-12-14T06:33:34.5325666Z", "sourceId": null, "targetId":
        null, "authType": "secret"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0f00c5cc-0000-0100-0000-63996e3f0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn24?api-version=2022-11-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
