interactions:
- request:
    body: '{"properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ServiceBus/namespaces/servicelinkertestservicebus2",
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-servicebus-app2/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-servicebus-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-11-25T05:56:43.819155Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifiedByType": "Application", "lastModifiedAt": "2022-01-25T03:25:41.1854717Z"},
        "properties": {"provisioningState": "Accepted", "targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ServiceBus/namespaces/servicelinkertestservicebus2",
        "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/04eafeda-11c9-4272-838b-7398683a056e*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5f00902e-0000-0100-0000-61ef6e8d0000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/04eafeda-11c9-4272-838b-7398683a056e*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/04eafeda-11c9-4272-838b-7398683a056e*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98",
        "name": "04eafeda-11c9-4272-838b-7398683a056e*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-servicebus-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-01-25T03:29:17.1248424Z", "endTime":
        "2022-01-25T03:29:29.4096587Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"870029a3-0000-0200-0000-61ef6e990000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-servicebus-app2/providers/Microsoft.ServiceLinker/linkers?api-version=2021-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-servicebus-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-11-25T05:56:43.819155Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifiedByType": "Application", "lastModifiedAt": "2022-01-25T03:29:29.318233Z"},
        "properties": {"provisioningState": "Succeeded", "targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ServiceBus/namespaces/servicelinkertestservicebus2",
        "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-servicebus-app2/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2021-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_SERVICEBUS_FULLYQUALIFIEDNAMESPACE",
        "value": "servicelinkertestservicebus2.servicebus.windows.net"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-servicebus-app2/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2021-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e6f4143b-29b1-4814-adfb-a66d38ce2eb4*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e6f4143b-29b1-4814-adfb-a66d38ce2eb4*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98?api-version=2021-11-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e6f4143b-29b1-4814-adfb-a66d38ce2eb4*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e6f4143b-29b1-4814-adfb-a66d38ce2eb4*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98",
        "name": "e6f4143b-29b1-4814-adfb-a66d38ce2eb4*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-servicebus-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-01-25T03:29:57.7225832Z", "endTime":
        "2022-01-25T03:30:03.5071669Z", "properties": {"message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity permission is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2022-01-25T03:29:59.3218319Z\",\"ReportEndTimeUtc\":\"2022-01-25T03:30:03.4196532Z\",\"SourceId\":null,\"TargetId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ServiceBus/namespaces/servicelinkertestservicebus2\",\"AuthType\":0}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"87005aa3-0000-0200-0000-61ef6ebb0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b353f3ed-a581-4477-a686-73103ba5e488*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b353f3ed-a581-4477-a686-73103ba5e488*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98",
        "name": "b353f3ed-a581-4477-a686-73103ba5e488*22FED40B93724621938905CD8BF77AB55C57AE105DEE181B2E7C211BFD938A98",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-servicebus-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-01-25T03:30:37.443236Z", "endTime":
        "2022-01-25T03:30:41.4310487Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"87008fa3-0000-0200-0000-61ef6ee10000"'
    status:
      code: 200
      message: OK
version: 1
