interactions:
- request:
    body: '{"properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerteststorage/tableServices/default",
      "authInfo": {"authType": "secret"}, "clientType": "python"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-cupertino-test-token:
      - hidden
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagetable-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagetable-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-12T06:55:37.183399Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2021-10-12T06:55:37.183399Z"}, "properties": {"targetId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerteststorage/tableServices/default",
        "authInfo": {"name": null, "secret": null, "authType": "secret"}, "clientType":
        "python", "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/0b0c60be-b8b1-4763-b3cb-871ed68e1158*96B32957CBC08BEE9A5D10BC723B023B8CE6E67BB72432CD1D7C5C5A9FA0DDCB?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e804399b-0000-0100-0000-616531690000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/0b0c60be-b8b1-4763-b3cb-871ed68e1158*96B32957CBC08BEE9A5D10BC723B023B8CE6E67BB72432CD1D7C5C5A9FA0DDCB?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/0b0c60be-b8b1-4763-b3cb-871ed68e1158*96B32957CBC08BEE9A5D10BC723B023B8CE6E67BB72432CD1D7C5C5A9FA0DDCB",
        "name": "0b0c60be-b8b1-4763-b3cb-871ed68e1158*96B32957CBC08BEE9A5D10BC723B023B8CE6E67BB72432CD1D7C5C5A9FA0DDCB",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagetable-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-12T06:55:37.4657261Z", "endTime":
        "2021-10-12T06:55:41.0287642Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7002fe2e-0000-0100-0000-6165316d0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagetable-app/providers/Microsoft.ServiceLinker/linkers?api-version=2021-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagetable-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-12T06:55:37.183399Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifiedByType": "Application", "lastModifiedAt": "2021-10-12T06:55:40.9445859Z"},
        "properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerteststorage/tableServices/default",
        "authInfo": {"authType": "secret"}, "clientType": "python", "provisioningState":
        "Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagetable-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2021-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_STORAGETABLE_CONNECTIONSTRING",
        "value": "hidden"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagetable-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2021-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b2ff58a7-72e6-4102-a392-e7d12aed0445*96B32957CBC08BEE9A5D10BC723B023B8CE6E67BB72432CD1D7C5C5A9FA0DDCB?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b2ff58a7-72e6-4102-a392-e7d12aed0445*96B32957CBC08BEE9A5D10BC723B023B8CE6E67BB72432CD1D7C5C5A9FA0DDCB?api-version=2021-11-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/35e28832-0a61-460b-8233-6665113028e4*96B32957CBC08BEE9A5D10BC723B023B8CE6E67BB72432CD1D7C5C5A9FA0DDCB?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/35e28832-0a61-460b-8233-6665113028e4*96B32957CBC08BEE9A5D10BC723B023B8CE6E67BB72432CD1D7C5C5A9FA0DDCB",
        "name": "35e28832-0a61-460b-8233-6665113028e4*96B32957CBC08BEE9A5D10BC723B023B8CE6E67BB72432CD1D7C5C5A9FA0DDCB",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagetable-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-12T06:56:51.2229739Z", "endTime":
        "2021-10-12T06:56:53.9835899Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7002e62f-0000-0100-0000-616531b50000"'
    status:
      code: 200
      message: OK
version: 1
