interactions:
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.KeyVault/vaults/servicelinker-test-kv"},
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
      "secretStore": {}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-serviceconnector-user-token:
      - hidden
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-keyvault-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-keyvault-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "xiaofanzhou@microsoft.com", "createdByType": "User", "createdAt":
        "2022-12-14T09:07:58.1586633Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-12-14T09:07:58.1586633Z"},
        "properties": {"provisioningState": "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.KeyVault/vaults/servicelinker-test-kv",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"roles":
        null, "userName": null, "authType": "systemAssignedIdentity", "deleteOrUpdateBehavior":
        "Default"}, "vNetSolution": null, "clientType": "python", "secretStore": {"keyVaultId":
        null, "keyVaultSecretName": null}, "scope": null, "publicNetworkSolution":
        null, "configurationInfo": null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b69f31cd-7971-40fd-ba7b-0894f0001251*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3500c86a-0000-0100-0000-6399926f0000"'
      mise-correlation-id:
      - 2279e9b6-6bef-47ff-bcdb-992045f40360
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b69f31cd-7971-40fd-ba7b-0894f0001251*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b69f31cd-7971-40fd-ba7b-0894f0001251*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C",
        "name": "b69f31cd-7971-40fd-ba7b-0894f0001251*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-keyvault-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-14T09:07:59.3474103Z", "endTime":
        "2022-12-14T09:08:08.1960455Z", "properties": {"Message": null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1000c977-0000-0100-0000-639992780000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-keyvault-app/providers/Microsoft.ServiceLinker/linkers?api-version=2022-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-keyvault-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "xiaofanzhou@microsoft.com", "createdByType": "User", "createdAt":
        "2022-12-14T09:07:58.1586633Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-12-14T09:07:58.1586633Z"},
        "properties": {"publicNetworkSolution": null, "configurationInfo": null, "provisioningState":
        "Succeeded", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.KeyVault/vaults/servicelinker-test-kv",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"roles":
        null, "userName": null, "authType": "systemAssignedIdentity", "deleteOrUpdateBehavior":
        "Default"}, "clientType": "python", "scope": null, "vNetSolution": null, "secretStore":
        {"keyVaultId": null, "keyVaultSecretName": null}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 33b25091-6d6d-4868-9a45-96b7a2db03fe
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-keyvault-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2022-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_KEYVAULT_RESOURCEENDPOINT", "value":
        "https://servicelinker-test-kv.vault.azure.net/"}, {"name": "AZURE_KEYVAULT_SCOPE",
        "value": "https://management.azure.com/.default"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 352b1ff4-abd5-43ae-be40-3fb3be141709
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-keyvault-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2022-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ad2583fd-9221-4424-ba86-717225ed405d*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ad2583fd-9221-4424-ba86-717225ed405d*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C?api-version=2021-01-01-privatepreview
      mise-correlation-id:
      - f1dd7137-1daa-4c34-b877-028e537c3256
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ad2583fd-9221-4424-ba86-717225ed405d*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ad2583fd-9221-4424-ba86-717225ed405d*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C",
        "name": "ad2583fd-9221-4424-ba86-717225ed405d*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-keyvault-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-14T09:09:23.4191401Z", "endTime":
        "2022-12-14T09:09:27.9129078Z", "properties": {"Message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity permission is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2022-12-14T09:09:24.7117733Z\",\"ReportEndTimeUtc\":\"2022-12-14T09:09:26.7354354Z\",\"SourceId\":null,\"TargetId\":null,\"AuthType\":0}",
        "linkerName": "testconn", "isConnectionAvailable": true, "validationDetail":
        [{"name": "The target existence is validated", "description": null, "result":
        "success"}, {"name": "The target service firewall is validated", "description":
        null, "result": "success"}, {"name": "The configured values is validated",
        "description": null, "result": "success"}, {"name": "The identity existence
        is validated", "description": null, "result": "success"}, {"name": "The identity
        permission is validated", "description": null, "result": "success"}], "reportStartTimeUtc":
        "2022-12-14T09:09:24.7117733Z", "reportEndTimeUtc": "2022-12-14T09:09:26.7354354Z",
        "sourceId": null, "targetId": null, "authType": "systemAssignedIdentity"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1000f679-0000-0100-0000-639992c70000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c7021d5a-77f8-4e39-8b35-57b3097467e3*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c7021d5a-77f8-4e39-8b35-57b3097467e3*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C",
        "name": "c7021d5a-77f8-4e39-8b35-57b3097467e3*60F434B9B52FDE4AE460045D54A849E11CDAFA6576C40A0ADFED8D0D7286220C",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-keyvault-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-14T09:10:06.6198751Z", "endTime":
        "2022-12-14T09:10:23.5698418Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"10005f7b-0000-0100-0000-639992ff0000"'
    status:
      code: 200
      message: OK
version: 1
