interactions:
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-gremlin-cosmos/gremlinDatabases/coreDB/graphs/MyItem"},
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
      "secretStore": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2022-04-27T05:20:50.3526593Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2022-04-27T05:20:50.3526593Z"}, "properties": {"provisioningState":
        "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-gremlin-cosmos/gremlinDatabases/coreDB/graphs/MyItem",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"authType":
        "systemAssignedIdentity"}, "vNetSolution": null, "clientType": "python", "secretStore":
        {"keyVaultId": null}, "scope": null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c6ec83c4-8922-4076-a326-f6f1c79e6cf0*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6a003b4f-0000-0100-0000-6268d2b20000"'
      mise-correlation-id:
      - 7c13ba8c-302a-477f-8a19-a3ab651e2e2f
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c6ec83c4-8922-4076-a326-f6f1c79e6cf0*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c6ec83c4-8922-4076-a326-f6f1c79e6cf0*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "name": "c6ec83c4-8922-4076-a326-f6f1c79e6cf0*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:20:50.5338365Z", "endTime":
        "2022-04-27T05:21:02.3682106Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"130052fe-0000-0100-0000-6268d2be0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers?api-version=2022-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "properties":
        {"provisioningState": "Succeeded", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-gremlin-cosmos/gremlinDatabases/coreDB/graphs/MyItem",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"authType":
        "systemAssignedIdentity"}, "clientType": "python", "scope": null, "vNetSolution":
        null, "secretStore": {"keyVaultId": null}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 3d132561-1b58-48a5-ac64-6fbb6744be00
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2022-05-01
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_COSMOS_LISTKEYURL", "value": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-gremlin-cosmos/listKeys?api-version=2021-04-15"},
        {"name": "AZURE_COSMOS_HOSTNAME", "value": "servicelinker-gremlin-cosmos.gremlin.cosmos.azure.com"},
        {"name": "AZURE_COSMOS_PORT", "value": "443"}, {"name": "AZURE_COSMOS_USERNAME",
        "value": "/dbs/coreDB/colls/MyItem"}, {"name": "AZURE_COSMOS_RESOURCEENDPOINT",
        "value": "https://servicelinker-gremlin-cosmos.documents.azure.com:443/"},
        {"name": "AZURE_COSMOS_SCOPE", "value": "https://management.azure.com/.default"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 5d28f72d-48cf-4435-9c66-dcd3144b79c2
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2022-05-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d3d5b63f-7b64-47ca-b688-d2efaf4104b0*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d3d5b63f-7b64-47ca-b688-d2efaf4104b0*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2022-05-01
      mise-correlation-id:
      - 17bf50d0-4b76-4c97-b6ec-59ce2f79dbcf
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d3d5b63f-7b64-47ca-b688-d2efaf4104b0*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d3d5b63f-7b64-47ca-b688-d2efaf4104b0*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "name": "d3d5b63f-7b64-47ca-b688-d2efaf4104b0*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:22:03.9288049Z", "endTime":
        "2022-04-27T05:22:07.4020487Z", "properties": {"message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity permission is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2022-04-27T05:22:05.439826Z\",\"ReportEndTimeUtc\":\"2022-04-27T05:22:07.3112516Z\",\"SourceId\":null,\"TargetId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-gremlin-cosmos/gremlinDatabases/coreDB/graphs/MyItem\",\"AuthType\":0}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"13000dff-0000-0100-0000-6268d2ff0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b3c9fd1b-2623-45d2-ab98-5545f8497130*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b3c9fd1b-2623-45d2-ab98-5545f8497130*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "name": "b3c9fd1b-2623-45d2-ab98-5545f8497130*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:22:39.2779186Z", "endTime":
        "2022-04-27T05:22:42.945424Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"13006fff-0000-0100-0000-6268d3220000"'
    status:
      code: 200
      message: OK
version: 1
