interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/wctest/providers/Microsoft.Storage/storageAccounts/storagetestwc?api-version=2023-01-01
  response:
    body:
      string: '{"sku": {"name": "Standard_LRS", "tier": "Standard"}, "kind": "StorageV2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/wctest/providers/Microsoft.Storage/storageAccounts/storagetestwc",
        "name": "storagetestwc", "type": "Microsoft.Storage/storageAccounts", "location":
        "eastus", "tags": {}, "properties": {"dnsEndpointType": "Standard", "defaultToOAuthAuthentication":
        false, "publicNetworkAccess": "Enabled", "keyCreationTime": {"key1": "2023-12-26T02:39:45.2696095Z",
        "key2": "2023-12-26T02:39:45.2696095Z"}, "allowCrossTenantReplication": false,
        "privateEndpointConnections": [], "minimumTlsVersion": "TLS1_2", "allowBlobPublicAccess":
        false, "allowSharedKeyAccess": true, "networkAcls": {"ipv6Rules": [], "resourceAccessRules":
        [], "bypass": "None", "virtualNetworkRules": [], "ipRules": [], "defaultAction":
        "Deny"}, "supportsHttpsTrafficOnly": true, "encryption": {"requireInfrastructureEncryption":
        false, "services": {"file": {"keyType": "Account", "enabled": true, "lastEnabledTime":
        "2023-12-26T02:39:45.5196118Z"}, "table": {"keyType": "Account", "enabled":
        true, "lastEnabledTime": "2023-12-26T02:39:45.5196118Z"}, "queue": {"keyType":
        "Account", "enabled": true, "lastEnabledTime": "2023-12-26T02:39:45.5196118Z"},
        "blob": {"keyType": "Account", "enabled": true, "lastEnabledTime": "2023-12-26T02:39:45.5196118Z"}},
        "keySource": "Microsoft.Storage"}, "accessTier": "Hot", "provisioningState":
        "Succeeded", "creationTime": "2023-12-26T02:39:45.0977315Z", "primaryEndpoints":
        {"dfs": "https://storagetestwc.z24.dfs.storage.azure.net/", "web": "https://storagetestwc.z24.web.storage.azure.net/",
        "blob": "https://storagetestwc.z24.blob.storage.azure.net/", "queue": "https://storagetestwc.z24.queue.storage.azure.net/",
        "table": "https://storagetestwc.z24.table.storage.azure.net/", "file": "https://storagetestwc.z24.file.storage.azure.net/"},
        "primaryLocation": "eastus", "statusOfPrimary": "available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"networkAcls": {"bypass": "None", "resourceAccessRules":
      [], "virtualNetworkRules": [], "ipRules": [], "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/wctest/providers/Microsoft.Storage/storageAccounts/storagetestwc?api-version=2023-01-01
  response:
    body:
      string: '{"sku": {"name": "Standard_LRS", "tier": "Standard"}, "kind": "StorageV2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/wctest/providers/Microsoft.Storage/storageAccounts/storagetestwc",
   [...]
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/wctest/providers/Microsoft.Storage/storageAccounts/storagetestwc/blobServices/default"},
      "authInfo": {"authType": "secret"}, "clientType": "dotnet", "secretStore": {},
      "publicNetworkSolution": {"action": "optOut"}, "configurationInfo": {"action":
      "optOut"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2023-04-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "wchi@microsoft.com", "createdByType": "User", "createdAt":
        "2024-01-04T04:22:43.5808821Z", "lastModifiedBy": "wchi@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2024-01-04T04:22:43.5808821Z"}, "properties": {"provisioningState":
        "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/wctest/providers/Microsoft.Storage/storageAccounts/storagetestwc/blobServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"name":
        null, "secretInfo": null, "authType": "secret"}, "vNetSolution": null, "clientType":
        "dotnet", "secretStore": {"keyVaultId": null, "keyVaultSecretName": null},
        "scope": null, "publicNetworkSolution": {"firewallRules": null, "deleteOrUpdateBehavior":
        null, "action": "optOut"}, "configurationInfo": {"customizedKeys": null, "configurationStore":
        null, "additionalConfigurations": null, "additionalConnectionStringProperties":
        null, "deleteOrUpdateBehavior": null, "action": "optOut", "daprProperties":
        null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/6e06e1f6-609b-4b8b-aadb-cbe8fc899ed5*FE7F78E8B9CFFDB9E710A6821DFC983C3CC929A45BC45B6216A1A9AB91FECA7C?api-version=2021-01-01-privatepreview&t=638399389649871470&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2Mj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/6e06e1f6-609b-4b8b-aadb-cbe8fc899ed5*FE7F78E8B9CFFDB9E710A6821DFC983C3CC929A45BC45B6216A1A9AB91FECA7C?api-version=2021-01-01-privatepreview&t=638399389649871470&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers?api-version=2023-04-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "wchi@microsoft.com", "createdByType": "User", "createdAt":
        "2024-01-04T04:22:43.5808821Z", "lastModifiedBy": "wchi@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2024-01-04T04:22:43.5808821Z"}, "properties": {"publicNetworkSolution":
        {"firewallRules": null, "deleteOrUpdateBehavior": null, "action": "optOut"},
        "configurationInfo": {"customizedKeys": null, "configurationStore": null,
        "additionalConfigurations": null, "additionalConnectionStringProperties":
        null, "deleteOrUpdateBehavior": null, "action": "optOut", "daprProperties":
        null}, "provisioningState": "Succeeded", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/wctest/providers/Microsoft.Storage/storageAccounts/storagetestwc/blobServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"name":
        null, "secretInfo": {"secretType": "rawValue"}, "authType": "secret"}, "clientType":
        "dotnet", "scope": null, "vNetSolution": null, "secretStore": {"keyVaultId":
        null, "keyVaultSecretName": null}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a2305eda-7bff-478b-a116-1785188d0ef6
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2023-04-01-preview
  response:
    body:
      string: '{"configurations": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a322b48f-37f4-4869-be55-2bf19b7f4161
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/4503c5fd-d866-4815-b321-3958072aa964*FE7F78E8B9CFFDB9E710A6821DFC983C3CC929A45BC45B6216A1A9AB91FECA7C?api-version=2021-01-01-privatepreview&t=638399390100055113&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b1fdb042-89a7-4533-9b30-894350f2b6d9*FE7F78E8B9CFFDB9E710A6821DFC983C3CC929A45BC45B6216A1A9AB91FECA7C?api-version=2021-01-01-privatepreview&t=638399390580992766&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
