interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstoragee?api-version=2025-08-01
  response:
    body:
      string: '{"sku": {"name": "Standard_LRS", "tier": "Standard"}, "kind": "StorageV2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstoragee",
        "name": "servicelinkerstoragee", "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus", "tags": {}, "properties": {"allowCrossTenantDelegationSas":
        false, "keyCreationTime": {"key1": "2026-05-15T19:46:21.5120142Z", "key2":
        "2026-05-15T19:46:21.5120142Z"}, "allowCrossTenantReplication": false, "privateEndpointConnections":
        [], "minimumTlsVersion": "TLS1_2", "allowBlobPublicAccess": false, "networkAcls":
        {"ipv6Rules": [], "bypass": "AzureServices", "virtualNetworkRules": [], "ipRules":
        [{"value": "4.157.109.129", "action": "Allow"}, {"value": "4.157.109.150",
        "action": "Allow"}, {"value": "40.76.160.46", "action": "Allow"}, {"value":
        "40.76.160.115", "action": "Allow"}, {"value": "40.76.160.197", "action":
        "Allow"}, {"value": "40.76.161.219", "action": "Allow"}, {"value": "20.72.170.60",
        "action": "Allow"}, {"value": "20.72.170.232", "action": "Allow"}, {"value":
        "20.72.170.237", "action": "Allow"}, {"value": "20.72.171.92", "action": "Allow"},
        {"value": "20.72.171.[...]
[...]
- request:
    body: '{"properties": {"networkAcls": {"ipv6Rules": [], "bypass": "AzureServices",
      "virtualNetworkRules": [], "ipRules": [], "defaultAction": "Deny"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstoragee?api-version=2025-08-01
  response:
    body:
      string: '{"sku": {"name": "Standard_LRS", "tier": "Standard"}, "kind": "StorageV2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstoragee",
        "name": "servicelinkerstoragee", "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus", "tags": {}, "properties": {"allowCrossTenantDelegationSas":
        false, "keyCreationTime": {"key1": "2026-05-15T19:46:21.5120142Z", "key2":
        "2026-05-15T19:46:21.5120142Z"}, "allowCrossTenantReplication": false, "privateEndpointConnections":
        [], "minimumTlsVersion": "TLS1_2", "allowBlobPublicAccess": false, "networkAcls":
        {"ipv6Rules": [], "bypass": "AzureServices", "virtualNetworkRules": [], "ipRules":
        [], "defaultAction": "Deny"}, "supportsHttpsTrafficOnly": true, "encryption":
        {"services": {"file": {"keyType": "Account", "enabled": true, "lastEnabledTime":
        "2026-05-15T19:46:21.5222110Z"}, "blob": {"keyType": "Account", "enabled":
        true, "lastEnabledTime": "2026-05-15T19:46:21.5222110Z"}}, "keySource": "Microsoft.Storage"},
        "accessTier": "Hot", "provisioningState": "Succeeded", "creationTime": "2026-05-15T19:46:21.1007871Z",
        "primaryEndpoints": {"dfs": "https://servicelinkerstoragee.dfs.core.windows.net/",
        "web": "https://servicelinkerstoragee.z13.web.core.windows.net/", "blob":
        "https://servicelinkerstoragee.blob.core.windows.net/", "queue": "https://servicelinkerstoragee.queue.core.windows.net/",
        "table": "https://servicelinkerstoragee.table.core.windows.net/", "file":
        "https://servicelinkerstoragee.file.core.windows.net/"}, "primaryLocation":
        "eastus", "statusOfPrimary": "available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstoragee/blobServices/default"},
      "authInfo": {"authType": "secret"}, "clientType": "dotnet", "secretStore": {},
      "publicNetworkSolution": {"action": "optOut"}, "configurationInfo": {"configurationStore":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app-2/providers/Microsoft.ServiceLinker/linkers/testconn_publicnetwork?api-version=2024-07-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app-2/providers/Microsoft.ServiceLinker/linkers/testconn_publicnetwork",
        "name": "testconn_publicnetwork", "type": "microsoft.servicelinker/linkers",
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-05-22T16:42:07.1130837Z", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-05-22T16:58:31.097286Z"}, "properties": {"provisioningState":
        "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstoragee/blobServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"name":
        null, "secretInfo": null, "authType": "secret", "authMode": null}, "vNetSolution":
        null, "clientType": "dotnet", "secretStore": {"keyVaultId": null, "keyVaultSecretName":
        null}, "scope": "default", "publicNetworkSolution": {"firewallRules": null,
        "deleteOrUpdateBehavior": null, "action": "optOut"}, "configurationInfo":
        {"customizedKeys": null, "configurationStore": {"appConfigurationId": null},
        "additionalConfigurations": null, "additionalConnectionStringProperties":
        null, "deleteOrUpdateBehavior": null, "action": null, "daprProperties": null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c6eb8128-39fe-4a2f-ac4d-fe0a3ac7b8bb*F4F9280A12444B38FD7E3AFE4B34FB7849AB546AFC2EB9743DCB78426457821E?api-version=2021-01-01-privatepreview&t=639150659115660499&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQxMDA4MTUzOVoXDTI2MTAwNTE0MTUzOVowQDE-MDwGA1UEAx[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/c6eb8128-39fe-4a2f-ac4d-fe0a3ac7b8bb*F4F9280A12444B38FD7E3AFE4B34FB7849AB546AFC2EB9743DCB78426457821E?api-version=2021-01-01-privatepreview&t=639150659115660499&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBF[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app-2/providers/Microsoft.ServiceLinker/linkers/testconn_publicnetwork/listConfigurations?api-version=2024-07-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_STORAGEBLOB_CONNECTIONSTRING",
        "value": "HIDDEN", "configType": "Default", "keyVaultReferenceIdentity": null,
        "description": ""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 5525da31-a79b-4476-898a-e5e6d0178226
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app-2/providers/Microsoft.ServiceLinker/linkers/testconn_publicnetwork/validateLinker?api-version=2024-07-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/9f847f63-3257-4ba5-a024-fd84dbefa22a*F4F9280A12444B38FD7E3AFE4B34FB7849AB546AFC2EB9743DCB78426457821E?api-version=2021-01-01-privatepreview&t=639150659526246461&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBF[...]
[...]
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstoragee/blobServices/default"},
      "authInfo": {"authType": "secret", "secretInfo": {"secretType": "rawValue"}},
      "clientType": "python", "secretStore": {}, "scope": "default", "publicNetworkSolution":
      {"action": "optOut"}, "configurationInfo": {"configurationStore": {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storageblob-app-2/providers/Microsoft.ServiceLinker/linkers[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/a7e20ce9-5e1d-4b95-9b34-d310fe9aaf17*F4F9280A12444B38FD7E3AFE4B34FB7849AB546AFC2EB9743DCB78426457821E?api-version=2021-01-01-privatepreview&t=639150659866756996&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBF[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/96306577-4b8b-40c4-9125-15632c2db81b*F4F9280A12444B38FD7E3AFE4B34FB7849AB546AFC2EB9743DCB78426457821E?api-version=2021-01-01-privatepreview&t=639150660265317406&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBF[...]
[...]
