interactions:
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/fileServices/default"},
      "authInfo": {"authType": "secret"}, "clientType": "python", "secretStore": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2022-04-27T05:30:53.845085Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2022-04-27T05:30:53.845085Z"}, "properties": {"provisioningState":
        "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/fileServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"name":
        null, "secretInfo": null, "authType": "secret"}, "vNetSolution": null, "clientType":
        "python", "secretStore": {"keyVaultId": null}, "scope": null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/1e6567cd-1b9f-4c6e-99b2-67c8a2cf21bb*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0200c39c-0000-0400-0000-6268d50e0000"'
      mise-correlation-id:
      - 652713b7-332e-4d9a-b8a8-93da0e3f7b01
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/1e6567cd-1b9f-4c6e-99b2-67c8a2cf21bb*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/1e6567cd-1b9f-4c6e-99b2-67c8a2cf21bb*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD",
        "name": "1e6567cd-1b9f-4c6e-99b2-67c8a2cf21bb*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:30:54.1064088Z", "endTime":
        "2022-04-27T05:30:58.0291734Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"16008e20-0000-0400-0000-6268d5120000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app/providers/Microsoft.ServiceLinker/linkers?api-version=2022-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "properties":
        {"provisioningState": "Succeeded", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/fileServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"name":
        null, "secretInfo": null, "authType": "secret"}, "clientType": "python", "scope":
        null, "vNetSolution": null, "secretStore": {"keyVaultId": null}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - be075722-571c-4c44-9251-fe11ba6f8ae4
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2022-05-01
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_STORAGEFILE_CONNECTIONSTRING",
        "value": "hidden"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - b5ae0f5b-cd7b-4bb9-b699-95d8dce6959c
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2022-05-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/0fd5d465-7c98-48d5-b4c4-aecb4457bdfa*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/0fd5d465-7c98-48d5-b4c4-aecb4457bdfa*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD?api-version=2022-05-01
      mise-correlation-id:
      - 23b9cd40-3c36-44b3-8284-90645f84a4c5
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/0fd5d465-7c98-48d5-b4c4-aecb4457bdfa*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/0fd5d465-7c98-48d5-b4c4-aecb4457bdfa*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD",
        "name": "0fd5d465-7c98-48d5-b4c4-aecb4457bdfa*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:32:10.0284614Z", "endTime":
        "2022-04-27T05:32:12.2919874Z", "properties": {"message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2022-04-27T05:32:11.1980473Z\",\"ReportEndTimeUtc\":\"2022-04-27T05:32:12.2031208Z\",\"SourceId\":null,\"TargetId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage/fileServices/default\",\"AuthType\":4}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14004205-0000-0100-0000-6268d55c0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d4f17947-da00-47bc-8430-f50d3509e538*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD?api-version=2022-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d4f17947-da00-47bc-8430-f50d3509e538*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD",
        "name": "d4f17947-da00-47bc-8430-f50d3509e538*6A9399CF54C9173E30F813AA6F4A9D7E47D2E02BD607A3360D0AAE13260362AD",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagefile-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-04-27T05:32:47.5781859Z", "endTime":
        "2022-04-27T05:32:51.101694Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14009d05-0000-0100-0000-6268d5830000"'
    status:
      code: 200
      message: OK
version: 1
