interactions:
- request:
    body: '{"properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage2/queueServices/default",
      "authInfo": {"authType": "secret"}, "clientType": "python"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagequeue-app2/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagequeue-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-28T06:35:19.8300281Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2021-10-28T06:35:19.8300281Z"}, "properties": {"targetId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage2/queueServices/default",
        "authInfo": {"name": null, "secret": null, "authType": "secret"}, "clientType":
        "python", "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/698365c2-3658-40d8-bf15-f21539db22dc*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"32063791-0000-0500-0000-617a44a90000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/698365c2-3658-40d8-bf15-f21539db22dc*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/698365c2-3658-40d8-bf15-f21539db22dc*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB",
        "name": "698365c2-3658-40d8-bf15-f21539db22dc*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagequeue-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-28T06:35:20.5063802Z", "endTime":
        "2021-10-28T06:35:25.1833877Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05005004-0000-0500-0000-617a44ad0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagequeue-app2/providers/Microsoft.ServiceLinker/linkers?api-version=2021-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagequeue-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-28T06:35:19.8300281Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifiedByType": "Application", "lastModifiedAt": "2021-10-28T06:35:24.9089673Z"},
        "properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage2/queueServices/default",
        "authInfo": {"authType": "secret"}, "clientType": "python", "provisioningState":
        "Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagequeue-app2/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2021-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_STORAGEQUEUE_CONNECTIONSTRING",
        "value": "hidden"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagequeue-app2/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2021-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d96e8b06-86f7-4118-8c5e-64622514d1fc*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d96e8b06-86f7-4118-8c5e-64622514d1fc*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB?api-version=2021-11-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d96e8b06-86f7-4118-8c5e-64622514d1fc*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d96e8b06-86f7-4118-8c5e-64622514d1fc*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB",
        "name": "d96e8b06-86f7-4118-8c5e-64622514d1fc*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagequeue-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-28T06:36:03.0408406Z", "endTime":
        "2021-10-28T06:36:05.5050014Z", "properties": {"message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2021-10-28T06:36:04.7277088Z\",\"ReportEndTimeUtc\":\"2021-10-28T06:36:05.3987286Z\",\"SourceId\":null,\"TargetId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerstorage2/queueServices/default\",\"AuthType\":4}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05006604-0000-0500-0000-617a44d50000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/bb77e4c4-f862-493e-9426-a8087a9399de*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/bb77e4c4-f862-493e-9426-a8087a9399de*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB",
        "name": "bb77e4c4-f862-493e-9426-a8087a9399de*3B1B87E66A06390EF75EDF339B170EBA7C07130E9ACACCCB87C77C3EF42F8BBB",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-storagequeue-app2/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-28T06:36:42.0235363Z", "endTime":
        "2021-10-28T06:36:45.068318Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05007304-0000-0500-0000-617a44fd0000"'
    status:
      code: 200
      message: OK
version: 1
