interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/servicelinker-springcloud-identity?api-version=2023-01-31
  response:
    body:
      string: '{"location": "eastus", "tags": {}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-test-linux-group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/servicelinker-springcloud-identity",
        "name": "servicelinker-springcloud-identity", "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "properties": {"tenantId" :"00000000-0000-0000-0000-000000000000", "principalId"
        :"00000000-0000-0000-0000-000000000000", "clientId" :"00000000-0000-0000-0000-000000000000"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerteststorage/queueServices/default"},
      "authInfo": {"authType": "userAssignedIdentity", "clientId":"00000000-0000-0000-0000-000000000000",
      "subscriptionId":"00000000-0000-0000-0000-000000000000"}, "clientType": "java",
      "secretStore": {}, "configurationInfo": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/storagequeue/deployments/mock-deployment/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/storagequeue/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "wchi@microsoft.com", "createdByType": "User", "createdAt":
        "2023-05-04T03:58:04.003261Z", "lastModifiedBy": "wchi@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2023-05-04T03:58:04.003261Z"}, "properties": {"provisioningState":
        "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Storage/storageAccounts/servicelinkerteststorage/queueServices/default",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"subscriptionId"
        :"00000000-0000-0000-0000-000000000000", "clientId" :"00000000-0000-0000-0000-000000000000",
        "roles": null, "userName": null, "authType": "userAssignedIdentity", "deleteOrUpdateBehavior":
        null}, "vNetSolution": null, "clientType": "java", "secretStore": {"keyVaultId":
        null, "keyVaultSecretName": null}, "scope": null, "publicNetworkSolution":
        null, "configurationInfo": {"customizedKeys": null, "additionalConfigurations":
        null, "deleteOrUpdateBehavior": null, "action": null, "daprProperties": null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b17c9c10-9aed-40f5-a94b-a2937f8b493c*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"65003c1b-0000-0100-0000-64532d4e0000"'
      mise-correlation-id:
      - 1a3a815e-7178-4f4c-87f3-322e6b7a4ffc
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b17c9c10-9aed-40f5-a94b-a2937f8b493c*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b17c9c10-9aed-40f5-a94b-a2937f8b493c*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1",
        "name": "b17c9c10-9aed-40f5-a94b-a2937f8b493c*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/storagequeue/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Accepted", "startTime": "2023-05-04T03:58:06.4154068Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1700f947-0000-0100-0000-64532d4e0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b17c9c10-9aed-40f5-a94b-a2937f8b493c*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/b17c9c10-9aed-40f5-a94b-a2937f8b493c*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1",
        "name": "b17c9c10-9aed-40f5-a94b-a2937f8b493c*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/storagequeue/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2023-05-04T03:58:06.4154068Z", "endTime":
        "2023-05-04T03:58:16.8836431Z", "properties": {"Message": null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"17000148-0000-0100-0000-64532d580000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/storagequeue/deployments/mock-deployment/providers/Microsoft.ServiceLinker/linkers?api-version=2022-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/storagequeue/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "wchi@microsoft.com", "createdByType": "User", "createdAt":
        "2023-05-04T03:58:04.003261Z", "lastModifiedBy": "wchi@micros[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/storagequeue/deployments/mock-deployment/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2022-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_STORAGEQUEUE_RESOURCEENDPOINT",
        "value": "https://servicelinkerteststorage.queue.core.windows.net/"}, {"name":
        "AZURE_STORAGEQUEUE_CLIENTID", "value": "HIDDEN"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2dc457cf-10ac-4395-b0eb-049d3f78f7b7
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/storagequeue/deployments/mock-deployment/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2022-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/91537bf5-127d-4ff2-91a5-b76f0f796be7*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/91537bf5-127d-4ff2-91a5-b76f0f796be7*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1?api-version=2021-01-01-privatepreview
      mise-correlation-id:
      - ea9b9155-fb75-4544-be23-98a0bc64d678
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/91537bf5-127d-4ff2-91a5-b76f0f796be7*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/91537bf5-127d-4ff2-91a5-b76f0f796be7*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1",
        "name": "91537bf5-127d-4ff2-91a5-b76f0f796be7*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/storagequeue/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2023-05-04T03:58:51.9517997Z", "endTime":
        "2023-05-04T03:58:56.7799217Z", "properties": {"Message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"Target
        resource existence validated.\",\"Description\":null,\"Result\":0},{\"Name\":\"Target
        service firewall validated.\",\"Description\":null,\"Result\":0},{\"Name\":\"Configured
        connection information validated.\",\"Description\":null,\"Result\":0},{\"Name\":\"Managed
        Identity existence validated.\",\"Description\":null,\"Result\":0},{\"Name\":\"Managed
        Identity permissions validated.\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2023-05-04T03:58:53.1988022Z\",\"ReportEndTimeUtc\":\"2023-05-04T03:58:55.7105251Z\",\"SourceId\":null,\"TargetId\":null,\"AuthType\":1}",
        "linkerName": "testconn", "isConnectionAvailable": true, "validationDetail":
        [{"name": "Target resource existence validated.", "description": null, "result":
        "success"}, {"name": "Target service firewall validated.", "description":
        null, "result": "success"}, {"name": "Configured connection information validated.",
        "description": null, "result": "success"}, {"name": "Managed Identity existence
        validated.", "description": null, "result": "success"}, {"name": "Managed
        Identity permissions validated.", "description": null, "result": "success"}],
        "reportStartTimeUtc": "2023-05-04T03:58:53.1988022Z", "reportEndTimeUtc":
        "2023-05-04T03:58:55.7105251Z", "sourceId": null, "targetId": null, "authType":
        "userAssignedIdentity"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"17002048-0000-0100-0000-64532d800000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/506db0a7-bd6a-47f3-9c41-1080bf005a04*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/506db0a7-bd6a-47f3-9c41-1080bf005a04*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1",
        "name": "506db0a7-bd6a-47f3-9c41-1080bf005a04*3E199E1CD7D8A5BC77598EEF0BBD45F29532884076D60AE45D3BCD02C0BFCFC1",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/storagequeue/deployments/default/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2023-05-04T03:59:38.2205883Z", "endTime":
        "2023-05-04T03:59:42.7898494Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"17003648-0000-0100-0000-64532dae0000"'
    status:
      code: 200
      message: OK
version: 1
