interactions:
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-ref-app/providers/Microsoft.ServiceLinker/linkers?api-version=2024-07-01-preview
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - ad58ddf6-7dd2-4206-ae9d-b4760c06fdcb
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-ref-app?api-version=2020-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-ref-app",
        "name": "servicelinker-kafka-ref-app", "type": "Microsoft.Web/sites", "kind":
        "app,linux,container", "location": "East US", "tags": {"usage": "servicelinker-test",
        "owner": "chejian"}, "properties": {"name": "servicelinker-kafka-ref-app",
        "state": "Running", "hostNames": ["servicelinker-kafka-ref-app.azurewebsites.net"],
        "webSpace": "servicelinker-test-linux-group-EastUSwebspace-Linux", "selfLink":
        "https://waws-prod-blu-227.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/servicelinker-test-linux-group-EastUSwebspace-Linux/sites/servicelinker-kafka-ref-app",
        "repositorySiteName": "servicelinker-kafka-ref-app", "owner": null, "usageState":
        "Normal", "enabled": true, "adminEnabled": true, "siteScopedCertificatesEnabled":
        false, "afdEnabled": false, "enabledHostNames": ["servicelinker-kafka-ref-app.azurewebsites.net",
        "servicelinker-kafka-ref-app.scm.azurewebsites.net"], "siteProperties": {"metadata":
        null, "properties": [{"name": "LinuxFxVersion", "value": "HIDDEN"}, {"name":
        "WindowsFxVersion", "value": null}], "appSettings": null}, "availabilityState":
        "Normal", "sslCertificates": null, "csrs": [], "cers": null, "siteMode": null,
        "hostNameSslStates": [{"name": "servicelinker-kafka-ref-app.azurewebsites.net",
        "sslState": "Disabled", "ipBasedSslResult": null, "virtualIP": null, "virtualIPv6":
        null, "thumbprint": null, "certificateResourceId": null, "toUpdate": null,
        "toUpdateIpBasedSsl": null, "ipBasedSslState": "NotConfigured", "hostType":
        "Standard"}, {"name": "servicelinker-kafka-ref-app.scm.azurewebsites.net",
        "sslState": "Disabled", "ipBasedSslResult": null, "virtualIP": null, "virtualIPv6":
        null, "thumbprint": null, "certificateResourceId": null, "toUpdate": null,
        "toUpdateIpBasedSsl": null, "ipBasedSslState": "NotConfigured", "hostType":
        "Repository"}], "computeMode": null, "serverFarm": null, "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/serverfarms/servicelinker-win-plan",
        "reserved": true, "isXenon": false, "hyperV": false, "lastModifiedTimeUtc":
        "2024-08-29T08:29:30.3833333", "storageRecoveryDefaultState": "Running", "contentAvailabilityState":
        "Normal", "runtimeAvailabilityState": "Normal", "dnsConfiguration": {}, "vnetRouteAllEnabled":
        false, "containerAllocationSubnet": null, "useContainerLocalhostBindings":
        null, "vnetImagePullEnabled": false, "vnetContentShareEnabled": false, "outboundVnetRouting":
        null, "siteConfig": {"numberOfWorkers": 1, "defaultDocuments": null, "netFrameworkVersion":
        null, "phpVersion": null, "pythonVersion": null, "nodeVersion": null, "powerShellVersion":
        null, "linuxFxVersion": "DOCKER|cupertinotest.azurecr.io/ip:1.0", "windowsFxVersion":
        null, "windowsConfiguredStacks": null, "requestTracingEnabled": null, "remoteDebuggingEnabled":
        null, "remoteDebuggingVersion": null, "httpLoggingEnabled": null, "azureMonitorLogCategories":
        null, "acrUseManagedIdentityCreds": false, "acrUserManagedIdentityID": null,
        "logsDirectorySizeLimit": null, "detailedErrorLoggingEnabled": null, "publishingUsername":
        null, "publishingPassword": null, "appSettings": null, "metadata": null, "connectionStrings":
        null, "machineKey": null, "handlerMappings": null, "documentRoot": null, "scmType":
        null, "use32BitWorkerProcess": null, "webSocketsEnabled": null, "alwaysOn":
        true, "javaVersion": null, "javaContainer": null, "javaContainerVersion":
        null, "appCommandLine": null, "managedPipelineMode": null, "virtualApplications":
        null, "winAuthAdminState": null, "winAuthTenantState": null, "customAppPoolIdentityAdminState":
        null, "customAppPoolIdentityTenantState": null, "runtimeADUser": null, "runtimeADUserPassword":
        null, "loadBalancing": null, "routingRules": null, "experiments": null, "limits":
        null, "autoHealEnabled": null, "autoHealRules": null, "tracingOptions": null,
        "vnetName": null, "vnetRouteAllEnabled": null, "vnetPrivatePortsCount": null,
        "publicNetworkAccess": null, "cors": null, "push": null, "apiDefinition":
        null, "apiManagementConfig": null, "autoSwapSlotName": null, "localMySqlEnabled":
        null, "managedServiceIdentityId": null, "xManagedServiceIdentityId": null,
        "keyVaultReferenceIdentity": null, "ipSecurityRestrictions": null, "ipSecurityRestrictionsDefaultAction":
        null, "scmIpSecurityRestrictions": null, "scmIpSecurityRestrictionsDefaultAction":
        null, "scmIpSecurityRestrictionsUseMain": null, "http20Enabled": false, "minTlsVersion":
        null, "minTlsCipherSuite": null, "scmMinTlsCipherSuite": null, "supportedTlsCipherSuites":
        null, "scmSupportedTlsCipherSuites": null, "scmMinTlsVersion": null, "ftpsState":
        null, "preWarmedInstanceCount": null, "functionAppScaleLimit": 0, "elasticWebAppScaleLimit":
        null, "healthCheckPath": null, "fileChangeAuditEnabled": null, "functionsRuntimeScaleMonitoringEnabled":
        null, "websiteTimeZone": null, "minimumElasticInstanceCount": 0, "azureStorageAccounts":
        null, "http20ProxyFlag": null, "sitePort": null, "antivirusScanEnabled": null,
        "storageType": null, "sitePrivateLinkHostEnabled": null, "clusteringEnabled":
        false}, "functionAppConfig": null, "daprConfig": null, "deploymentId": "servicelinker-kafka-ref-app",
        "slotName": null, "trafficManagerHostNames": null, "sku": "Standard", "scmSiteAlsoStopped":
        false, "targetSwapSlot": null, "hostingEnvironment": null, "hostingEnvironmentProfile":
        null, "clientAffinityEnabled": false, "clientAffinityProxyEnabled": false,
        "blockPathTraversal": false, "clientCertEnabled": false, "clientCertMode":
        "Required", "clientCertExclusionPaths": null, "hostNamesDisabled": false,
        "ipMode": "IPv4", "domainVerificationIdentifiers": null, "customDomainVerificationId":
        "17E6855E79705C77E7F5863F99948C247926EC1E47FCDA072FC8D3577BE49F24", "kind":
        "app,linux,container", "managedEnvironmentId": null, "workloadProfileName":
        null, "resourceConfig": null, "inboundIpAddress": "20.49.104.19", "possibleInboundIpAddresses":
        "20.49.104.19", "ftpUsername": "servicelinker-kafka-ref-app\\$servicelinker-kafka-ref-app",
        "ftpsHostName": "ftps://waws-prod-blu-227.ftp.azurewebsites.windows.net/site/wwwroot",
        "outboundIpAddresses": "52.151.208.5,52.151.208.29,52.151.208.49,52.151.208.74,52.151.208.76,52.151.208.108,20.49.104.19",
        "possibleOutboundIpAddresses": "52.151.208.5,52.151.208.29,52.151.208.49,52.151.208.74,52.151.208.76,52.151.208.108,52.151.208.127,52.151.208.144,52.151.208.152,52.151.208.154,52.151.208.217,52.151.209.28,52.146.71.136,52.151.209.37,52.151.209.38,52.151.209.74,52.151.209.91,52.151.209.97,52.150.53.90,52.150.53.103,52.150.53.113,52.150.53.182,52.150.54.84,52.142.22.235,20.49.104.19",
        "containerSize": 0, "dailyMemoryTimeQuota": 0, "suspendedTill": null, "siteDisabledReason":
        0, "functionExecutionUnitsCache": null, "maxNumberOfWorkers": null, "homeStamp":
        "waws-prod-blu-227", "cloningInfo": null, "hostingEnvironmentId": null, "tags":
        {"usage": "servicelinker-test", "owner": "chejian"}, "resourceGroup": "servicelinker-test-linux-group",
        "defaultHostName": "servicelinker-kafka-ref-app.azurewebsites.net", "slotSwapStatus":
        null, "httpsOnly": false, "endToEndEncryptionEnabled": false, "functionsRuntimeAdminIsolationEnabled":
        false, "redundancyMode": "None", "inProgressOperationId": null, "geoDistributions":
        null, "privateEndpointConnections": [], "publicNetworkAccess": null, "buildVersion":
        null, "targetBuildVersion": null, "migrationState": null, "eligibleLogCategories":
        "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs",
        "inFlightFeatures": ["SiteContainers"], "storageAccountRequired": false, "virtualNetworkSubnetId":
        null, "keyVaultReferenceIdentity": "SystemAssigned", "autoGeneratedDomainNameLabelScope":
        null, "defaultHostNameScope": "Global", "privateLinkIdentifiers": null, "sshEnabled":
        null}, "identity": {"type": "SystemAssigned", "tenantId": "00000000-0000-0000-0000-000000000000",
        "principalId": "00000000-0000-0000-0000-000000000000"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DAF9ED9175CEF5"'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.KeyVault/vaults/servicelinker-kv-ref"},
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "dotnet"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-serviceconnector-user-token:
      - hidden
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-ref-app/providers/Microsoft.ServiceLinker/linkers/keyvault_GUfxP?api-version=2024-07-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-ref-app/providers/Microsoft.ServiceLinker/linkers/keyvault_GUfxP",
        "name": "keyvault_GUfxP", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "xiaofanzhou@microsoft.com", "createdByType": "User", "createdAt":
        "2024-09-04T06:59:26.5028443Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2024-09-04T06:59:26.5028443Z"},
        "properties": {"provisioningState": "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.KeyVault/vaults/servicelinker-kv-ref",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"roles":
        null, "userName": null, "authType": "systemAssignedIdentity", "deleteOrUpdateBehavior":
        null, "authMode": null}, "vNetSolution": null, "clientType": "dotnet", "secretStore":
        null, "scope": null, "publicNetworkSolution": null, "configurationInfo": null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/285aeafe-1c7f-4d0c-ab9c-6d173a34a1c9*DBFC0F9EE63206A7DE2196F7D2804825B0D017B4BC0C8A1B10252988809400A0?api-version=2021-01-01-privatepreview&t=638610299675184574&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTUyNDA3WhcNMjUwNjIyMT[...]
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/285aeafe-1c7f-4d0c-ab9c-6d173a34a1c9*DBFC0F9EE63206A7DE2196F7D2804825B0D017B4BC0C8A1B10252988809400A0?api-version=2021-01-01-privatepreview&t=638610299675184574&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEM[...]
[...]
- request:
    body: '{"properties": {"targetService": {"type": "ConfluentBootstrapServer", "endpoint":
      "xxx.eastus.azure.confluent.cloud:9092"}, "authInfo": {"authType": "secret",
      "name": "Name", "secretInfo": {"secretType": "rawValue", "value": "HIDDEN"}},
      "clientType": "python", "secretStore": {"keyVaultId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.KeyVault/vaults/servicelinker-kv-ref"},
      "publicNetworkSolution": {}, "configurationInfo": {"configurationStore": {}}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-serviceconnector-user-token:
      - hidden
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-ref-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2024-07-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-0000[...]
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/2346b560-3ced-4475-adab-e2bc61308975*17A8D02A6981FBF0FAD6665634562817645CA4C9C1E6612DEB9C863AA159F252?api-version=2021-01-01-privatepreview&t=638610300018774660&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEM[...]
[...]
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-ref-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2024-07-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-ref-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "xiaofanzhou@microsoft.com", "createdByType": "User", "createdAt":
        "2024-09-04T07:00:01.4399647Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2024-09-04T07:00:01.4399647Z"},
        "properties": {"publicNetworkSolution": {"firewallRules": null, "deleteOrUpdateBehavior":
        null, "action": null}, "configurationInfo": {"customizedKeys": null, "configurationStore":
        {"appConfigurationId": null}, "additionalConfigurations": null, "additionalConnectionStringProperties":
        null, "deleteOrUpdateBehavior": null, "action": null, "daprProperties": null},
        "provisioningState": "Succeeded", "targetService": {"endpoint": "xxx.eastus.azure.confluent.cloud:9092",
        "type": "ConfluentBootstrapServer"}, "authInfo": {"name": "Name", "secretInfo":
        {"secretType": "rawValue"}, "authType": "secret", "authMode": null}, "clientType":
        "python", "scope": null, "vNetSolution": null, "secretStore": {"keyVaultId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.KeyVault/vaults/servicelinker-kv-ref",
        "keyVaultSecretName": null}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14007ffc-0000-0100-0000-66d805880000"'
      mise-correlation-id:
      - bd1968a8-2969-4a13-b9f3-714a930e4db9
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetService": {"type": "ConfluentSchemaRegistry", "endpoint":
      "https://xxx.eastus.azure.confluent.cloud"}, "authInfo": {"authType": "secret",
      "name": "Name", "secretInfo": {"secretType": "rawValue", "value": "HIDDEN"}},
      "clientType": "python", "secretStore": {"keyVaultId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.KeyVault/vaults/servicelinker-kv-ref"},
      "c[...]
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8fac2a1f-b52a-4ddd-94d7-0c350797b85d*800A3CD6FB5107C266B0675A3A2384F10FDD61763B09D9C3193AE3A8C9053EB8?api-version=2021-01-01-privatepreview&t=638610300366130299&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEM[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-ref-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2024-07-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "CONFLUENTCLOUD_KAFKA_BOOTSTRAPSERVER",
        "value": "HIDDEN", "configType": "Default", "keyVaultReferenceIdentity": null,
        "description": ""}, {"name": "CONFLUENTCLOUD_KAFKA_SASLUSERNAME", "value":
        "HIDDEN", "configType": "Default", "keyVaultReferenceIdentity": null, "description":
        ""}, {"name": "CONFLUENTCLOUD_KAFKA_SASLPASSWORD", "value": "HIDDEN", "configType":
        "KeyVaultSecret", "keyVaultReferenceIdentity": null, "description": "Key vault
        secret."}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - a3421003-1a0b-474a-ab7c-ca1f9fb92688
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-kafka-ref-app/providers/Microsoft.ServiceLinker/linkers/testconn_schema/listConfigurations?api-version=2024-07-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "CONFLUENTCLOUD_SCHEMAREGISTRY_URL", "value":
        "HIDDEN", "configType": "Default", "keyVaultReferenceIdentity": null, "description":
        ""}, {"name": "CONFLUENTCLOUD_SCHEMAREGISTRY_USERINFO", "value": "HIDDEN",
        "configType": "KeyVaultSecret", "keyVaultReferenceIdentity": null, "description":
        "Key vault secret."}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2b941d11-0838-4a91-b596-bd60c6acb3b0
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/acd1b894-f4e6-47fc-ae22-179405e67219*17A8D02A6981FBF0FAD6665634562817645CA4C9C1E6612DEB9C863AA159F252?api-version=2021-01-01-privatepreview&t=638610300956303185&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/9c176a3a-e53c-4500-9db9-edcdfc19f016*DBFC0F9EE63206A7DE2196F7D2804825B0D017B4BC0C8A1B10252988809400A0?api-version=2021-01-01-privatepreview&t=638610301395402876&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/5c28c8ad-03ad-4ec3-92a7-5ec32dc51b5f*17A8D02A6981FBF0FAD6665634562817645CA4C9C1E6612DEB9C863AA159F252?api-version=2021-01-01-privatepreview&t=638610301732192812&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/7622ace5-333a-40ef-b6ed-2eb4500566f3*800A3CD6FB5107C266B0675A3A2384F10FDD61763B09D9C3193AE3A8C9053EB8?api-version=2021-01-01-privatepreview&t=638610302068573136&c=MIIHhzCCBm-gAwIBAgITHgTSAvXh1GCKrw08WQAABNIC9TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
[...]
