interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/sites/TonyFabricTest?api-version=2023-01-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/sites/TonyFabricTest",
        "name": "TonyFabricTest", "type": "Microsoft.Web/sites", "kind": "app", "location":
        "Canada Central", "properties": {"name": "TonyFabricTest", "state": "Running",
        "hostNames": ["tonyfabrictest-ecg3abbahqerfva3.canadacentral-01.azurewebsites.net"],
        "webSpace": "rg-Test-CanadaCentralwebspace", "selfLink": "https://waws-prod-yt1-087.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/rg-Test-CanadaCentralwebspace/sites/TonyFabricTest",
        "repositorySiteName": "TonyFabricTest", "owner": null, "usageState": "Normal",
        "enabled": true, "adminEnabled": true, "siteScopedCertificatesEnabled": false,
        "afdEnabled": false, "enabledHostNames": ["tonyfabrictest-ecg3abbahqerfva3.canadacentral-01.azurewebsites.net",
        "tonyfabrictest-ecg3abbahqerfva3.scm.canadacentral-01.azurewebsites.net"],
        "siteProperties": {"metadata": null, "properties": [{"name": "LinuxFxVersion",
        "value": "HIDDEN"}, {"name": "WindowsFxVersion", "value": null}], "appSettings":
        null}, "availabilityState": "Normal", "sslCertificates": null, "csrs": [],
        "cers": null, "siteMode": null, "hostNameSslStates": [{"name": "tonyfabrictest-ecg3abbahqerfva3.canadacentral-01.azurewebsites.net",
        "sslState": "Disabled", "ipBasedSslResult": null, "virtualIP": null, "virtualIPv6":
        null, "thumbprint": null, "certificateResourceId": null, "toUpdate": null,
        "toUpdateIpBasedSsl": null, "ipBasedSslState": "NotConfigured", "hostType":
        "Standard"}, {"name": "tonyfabrictest-ecg3abbahqerfva3.scm.canadacentral-01.azurewebsites.net",
        "sslState": "Disabled", "ipBasedSslResult": null, "virtualIP": null, "virtualIPv6":
        null, "thumbprint": null, "certificateResourceId": null, "toUpdate": null,
        "toUpdateIpBasedSsl": null, "ipBasedSslState": "NotConfigured", "hostType":
        "Repository"}], "computeMode": null, "serverFarm": null, "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/serverfarms/ASP-rgTest-992c",
        "reserved": false, "isXenon": false, "hyperV": false, "lastModifiedTimeUtc":
        "2025-02-24T09:14:18.06", "storageRecoveryDefaultState": "Running", "contentAvailabilityState":
        "Normal", "runtimeAvailabilityState": "Normal", "dnsConfiguration": {}, "vnetRouteAllEnabled":
        false, "containerAllocationSubnet": null, "useContainerLocalhostBindings":
        null, "vnetImagePullEnabled": false, "vnetContentShareEnabled": false, "outboundVnetRouting":
        null, "siteConfig": {"numberOfWorkers": 1, "defaultDocuments": null, "netFrameworkVersion":
        null, "phpVersion": null, "pythonVersion": null, "nodeVersion": null, "powerShellVersion":
        null, "linuxFxVersion": "", "windowsFxVersion": null, "windowsConfiguredStacks":
        null, "requestTracingEnabled": null, "remoteDebuggingEnabled": null, "remoteDebuggingVersion":
        null, "httpLoggingEnabled": null, "azureMonitorLogCategories": null, "acrUseManagedIdentityCreds":
        false, "acrUserManagedIdentityID": null, "logsDirectorySizeLimit": null, "detailedErrorLoggingEnabled":
        null, "publishingUsername": null, "publishingPassword": null, "appSettings":
        null, "metadata": null, "connectionStrings": null, "machineKey": null, "handlerMappings":
        null, "documentRoot": null, "scmType": null, "use32BitWorkerProcess": null,
        "webSocketsEnabled": null, "alwaysOn": true, "javaVersion": null, "javaContainer":
        null, "javaContainerVersion": null, "appCommandLine": null, "managedPipelineMode":
        null, "virtualApplications": null, "winAuthAdminState": null, "winAuthTenantState":
        null, "customAppPoolIdentityAdminState": null, "customAppPoolIdentityTenantState":
        null, "runtimeADUser": null, "runtimeADUserPassword": null, "loadBalancing":
        null, "routingRules": null, "experiments": null, "limits": null, "autoHealEnabled":
        null, "autoHealRules": null, "tracingOptions": null, "vnetName": null, "vnetRouteAllEnabled":
        null, "vnetPrivatePortsCount": null, "publicNetworkAccess": null, "cors":
        null, "push": null, "apiDefinition": null, "apiManagementConfig": null, "autoSwapSlotName":
        null, "localMySqlEnabled": null, "managedServiceIdentityId": null, "xManagedServiceIdentityId":
        null, "keyVaultReferenceIdentity": null, "ipSecurityRestrictions": null, "ipSecurityRestrictionsDefaultAction":
        null, "scmIpSecurityRestrictions": null, "scmIpSecurityRestrictionsDefaultAction":
        null, "scmIpSecurityRestrictionsUseMain": null, "http20Enabled": false, "minTlsVersion":
        null, "minTlsCipherSuite": null, "scmMinTlsCipherSuite": null, "supportedTlsCipherSuites":
        null, "scmSupportedTlsCipherSuites": null, "scmMinTlsVersion": null, "ftpsState":
        null, "preWarmedInstanceCount": null, "functionAppScaleLimit": 0, "elasticWebAppScaleLimit":
        null, "healthCheckPath": null, "fileChangeAuditEnabled": null, "functionsRuntimeScaleMonitoringEnabled":
        null, "websiteTimeZone": null, "minimumElasticInstanceCount": 1, "azureStorageAccounts":
        null, "http20ProxyFlag": null, "sitePort": null, "antivirusScanEnabled": null,
        "storageType": null, "sitePrivateLinkHostEnabled": null, "clusteringEnabled":
        false}, "functionAppConfig": null, "daprConfig": null, "deploymentId": "TonyFabricTest",
        "slotName": null, "trafficManagerHostNames": null, "sku": "Standard", "scmSiteAlsoStopped":
        false, "targetSwapSlot": null, "hostingEnvironment": null, "hostingEnvironmentProfile":
        null, "clientAffinityEnabled": true, "clientAffinityProxyEnabled": false,
        "blockPathTraversal": false, "clientCertEnabled": false, "clientCertMode":
        "Required", "clientCertExclusionPaths": null, "hostNamesDisabled": false,
        "ipMode": "IPv4", "vnetBackupRestoreEnabled": false, "domainVerificationIdentifiers":
        null, "customDomainVerificationId": "17E6855E79705C77E7F5863F99948C247926EC1E47FCDA072FC8D3577BE49F24",
        "kind": "app", "managedEnvironmentId": null, "workloadProfileName": null,
        "resourceConfig": null, "inboundIpAddress": "20.48.204.9", "possibleInboundIpAddresses":
        "20.48.204.9", "ftpUsername": "TonyFabricTest\\$TonyFabricTest", "ftpsHostName":
        "ftps://waws-prod-yt1-087.ftp.azurewebsites.windows.net/site/wwwroot", "outboundIpAddresses":
        "20.175.222.167,20.175.223.13,20.175.223.52,20.175.223.60,20.175.223.86,20.175.223.90,20.175.185.161,20.175.185.170,20.175.185.200,20.175.185.202,20.175.185.219,20.175.185.226,20.175.186.248,20.175.185.235,20.175.185.236,20.175.185.239,20.175.185.250,20.175.185.253,20.175.186.36,20.48.204.9",
        "possibleOutboundIpAddresses": "20.175.222.167,20.175.223.13,20.175.223.52,20.175.223.60,20.175.223.86,20.175.223.90,20.175.185.161,20.175.185.170,20.175.185.200,20.175.185.202,20.175.185.219,20.175.185.226,20.175.186.248,20.175.185.235,20.175.185.236,20.175.185.239,20.175.185.250,20.175.185.253,20.175.186.36,4.172.39.183,20.175.223.193,20.175.223.223,20.175.223.41,20.175.223.43,20.175.223.238,20.175.223.239,20.175.184.24,20.175.184.75,20.175.184.171,20.175.185.92,20.175.185.94,20.175.185.121,20.175.185.126,20.175.185.142,20.175.185.151,4.172.39.226,20.175.185.157,20.175.186.44,20.175.186.57,20.175.186.67,20.175.186.198,20.175.186.233,20.175.186.240,20.48.204.9",
        "containerSize": 0, "dailyMemoryTimeQuota": 0, "suspendedTill": null, "siteDisabledReason":
        0, "functionExecutionUnitsCache": null, "maxNumberOfWorkers": null, "homeStamp":
        "waws-prod-yt1-087", "cloningInfo": null, "hostingEnvironmentId": null, "tags":
        null, "resourceGroup": "rg-Test", "defaultHostName": "tonyfabrictest-ecg3abbahqerfva3.canadacentral-01.azurewebsites.net",
        "slotSwapStatus": null, "httpsOnly": true, "endToEndEncryptionEnabled": false,
        "functionsRuntimeAdminIsolationEnabled": false, "redundancyMode": "None",
        "inProgressOperationId": null, "geoDistributions": null, "privateEndpointConnections":
        [], "publicNetworkAccess": "Enabled", "buildVersion": null, "targetBuildVersion":
        null, "migrationState": null, "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs",
        "inFlightFeatures": ["SiteContainers"], "storageAccountRequired": false, "virtualNetworkSubnetId":
        null, "keyVaultReferenceIdentity": "SystemAssigned", "autoGeneratedDomainNameLabelScope":
        "TenantReuse", "defaultHostNameScope": "TenantReuse", "privateLinkIdentifiers":
        null, "sshEnabled": null}, "identity": {"type": "SystemAssigned", "tenantId":
        "00000000-0000-0000-0000-000000000000", "principalId": "00000000-0000-0000-0000-000000000000"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DB869C7B61F8C0"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "app", "location": "Canada Central", "identity": {"type": "None"},
      "properties": {"enabled": true, "hostNameSslStates": [{"name": "tonyfabrictest-ecg3abbahqerfva3.canadacentral-01.azurewebsites.net",
      "sslState": "Disabled", "hostType": "Standard"}, {"name": "tonyfabrictest-ecg3abbahqerfva3.scm.canadacentral-01.azurewebsites.net",
      "sslState": "Disabled", "hostType": "Repository"}], "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/serverfarms/ASP-rgTest-992c",
      "reserved": false, "isXenon": false, "hyperV": false, "vnetRouteAllEnabled":
      false, "vnetImagePullEnabled": false, "vnetContentShareEnabled": false, "siteConfig":
      {"numberOfWorkers": 1, "linuxFxVersion": "", "acrUseManagedIdentityCreds": false,
      "alwaysOn": true, "http20Enabled": false, "functionAppScaleLimit": 0, "minimumElasticInstanceCount":
      1}, "scmSiteAlsoStopped": false, "clientAffinityEnabled": true, "clientCertEnabled":
      false, "clientCertMode": "Required", "hostNamesDisabled": false, "customDomainVerificationId":
      "17E6855E79705C77E7F5863F99948C247926EC1E47FCDA072FC8D3577BE49F24", "containerSize":
      0, "dailyMemoryTimeQuota": 0, "httpsOnly": true, "redundancyMode": "None", "publicNetworkAccess":
      "Enabled", "storageAccountRequired": false, "keyVaultReferenceIdentity": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/sites/TonyFabricTest?api-version=2023-01-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/sites/TonyFabricTest",
        "name": "TonyFabricTest", "type": "Microsoft.Web/sites", "kind": "app", "location":
        "Canada Cen[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6fb24b6c-6d5e-4533-91e7-1cc745b8b0f4/SqlDatabases/92f30990-7ba7-426c-a98d-c7a7565b81d2
  response:
    body:
      string: '{"id": "92f30990-7ba7-426c-a98d-c7a7565b81d2", "type": "SQLDatabase",
        "displayName": "TonyFabric", "description": "", "workspaceId": "6fb24b6c-6d5e-4533-91e7-1cc745b8b0f4",
        "properties": {"$type": "SqlDbNativePublicExtendedProperties", "connectionInfo":
        "Data Source=x6eps4xrq2xudenlfv6naeo3i4-nrf3e326nuzulephdtdulofq6q.msit-database.fabric.microsoft.com,1433;Initial
        Catalog=TonyFabric-92f30990-7ba7-426c-a98d-c7a7565b81d2;Multiple Active Result
        Sets=False;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False",
        "databaseName": "TonyFabric-92f30990-7ba7-426c-a98d-c7a7565b81d2", "serverFqdn":
        "x6eps4xrq2xudenlfv6naeo3i4-nrf3e326nuzulephdtdulofq6q.msit-database.fabric.microsoft.com,1433"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      home-cluster-uri:
      - https://df-msit-scus-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      requestid:
      - 293426d3-9f01-4e2a-9993-5ae490c6f85a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users/$entity",
        "businessPhones": [], "displayName": "Tony Chen (DevDiv)", "givenName": "Tony",
        "jobTitle": "Software Engineer II", "mail": "chentony@microsoft.com", "mobilePhone":
        null, "officeLocation": "SHA-ZIZHU-BLD1/4930", "preferredLanguage": null,
        "surname": "Chen (DevDiv)", "userPrincipalName": "chentony@microsoft.com",
        "id": "9cd23515-21c0-46bc-9334-451234c79db8"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF0001DB60"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"targetService": {"type": "FabricPlatform", "endpoint":
      "https://api.fabric.microsoft.com/v1/workspaces/6fb24b6c-6d5e-4533-91e7-1cc745b8b0f4/SqlDatabases/92f30990-7ba7-426c-a98d-c7a7565b81d2"},
      "authInfo": {"userName": "TonyFabricTest", "authType": "systemAssignedIdentity"},
      "clientType": "dotnet", "secretStore": {}, "publicNetworkSolution": {"action":
      "optOut"}, "configurationInfo": {"additionalConnectionStringProperties": {"Server":
      "x6eps4xrq2xudenlfv6naeo3i4-nrf3e326nuzulephdtdulofq6q.msit-database.fabric.microsoft.com,1433",
      "Database": "TonyFabric-92f30990-7ba7-426c-a98d-c7a7565b81d2"}, "configurationStore":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/sites/TonyFabricTest/providers/Microsoft.ServiceLinker/linkers/testfabricconn?api-version=2024-07-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/sites/TonyFabricTest/providers/Microsoft.ServiceLinker/linkers/testfabricconn",
        "name": "testfabricconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "chentony@microsoft.com", "createdByType": "User", "createdAt":
        "2025-02-24T09:15:11.9199369Z", "lastModifiedBy": "chentony@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2025-02-24T09:15:11.9199369Z"},
        "properties": {"provisioningState": "Accepted", "targetService": {"endpoint":
        "https://api.fabric.microsoft.com/v1/workspaces/6fb24b6c-6d5e-4533-91e7-1cc745b8b0f4/SqlDatabases/92f30990-7ba7-426c-a98d-c7a7565b81d2",
        "type": "FabricPlatform"}, "authInfo": {"roles": null, "userName": "TonyFabricTest",
        "authType": "systemAssignedIdentity", "deleteOrUpdateBehavior": null, "authMode":
        null}, "vNetSolution": null, "clientType": "dotnet", "secretStore": {"keyVaultId":
        null, "keyVaultSecretName": null}, "scope": null, "publicNetworkSolution":
        {"firewallRules": null, "deleteOrUpdateBehavior": null, "action": "optOut"},
        "configurationInfo": {"customizedKeys": null, "configurationStore": {"appConfigurationId":
        null}, "additionalConfigurations": null, "additionalConnectionStringProperties":
        {"Server": "x6eps4xrq2xudenlfv6naeo3i4-nrf3e326nuzulephdtdulofq6q.msit-database.fabric.microsoft.com,1433",
        "Database": "TonyFabric-92f30990-7ba7-426c-a98d-c7a7565b81d2"}, "deleteOrUpdateBehavior":
        null, "action": null, "daprProperties": null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/CANADACENTRAL/operationStatuses/d8c77bb3-9213-4a58-b22f-ecd3c3099630*CE8E39B3E88C6171E5D0742E3F97D7D24C8E9A67683AB3E37CEA7B86D6E9F8CD?api-version=2021-01-01-privatepreview&t=638759853128730714&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/CANADACENTRAL/operationStatuses/d8c77bb3-9213-4a58-b22f-ecd3c3099630*CE8E39B3E88C6171E5D0742E3F97D7D24C8E9A67683AB3E37CEA7B86D6E9F8CD?api-version=2021-01-01-privatepreview&t=638759853128730714&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBG[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/sites/TonyFabricTest/providers/Microsoft.ServiceLinker/linkers/testfabricconn/listConfigurations?api-version=2024-07-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "FABRIC_SQL_CONNECTIONSTRING", "value":
        "HIDDEN", "configType": "Default", "keyVaultReferenceIdentity": null, "description":
        ""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - da4f7197-bd2b-4cd7-8991-709cae2ac47a
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/sites/TonyFabricTest/providers/Microsoft.ServiceLinker/linkers?api-version=2024-07-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/sites/TonyFabricTest/providers/Microsoft.ServiceLinker/linke[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/CANADACENTRAL/operationStatuses/1226332e-5276-4080-97f0-1e20cba3391a*CE8E39B3E88C6171E5D0742E3F97D7D24C8E9A67683AB3E37CEA7B86D6E9F8CD?api-version=2021-01-01-privatepreview&t=638759853716178733&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBG[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-Test/providers/Microsoft.Web/sites/TonyFabricTest/providers/Microsoft.ServiceLinker/linkers/testfabricconn/validateLinker?api-version=2024-07-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Mi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/CANADACENTRAL/operationStatuses/47fa6ecd-5182-4f40-bab6-a6097b71ccaf*CE8E39B3E88C6171E5D0742E3F97D7D24C8E9A67683AB3E37CEA7B86D6E9F8CD?api-version=2021-01-01-privatepreview&t=638759854181110023&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBG[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/CANADACENTRAL/operationStatuses/ebeb8f7f-4ddc-423e-9b21-90a647d85409*CE8E39B3E88C6171E5D0742E3F97D7D24C8E9A67683AB3E37CEA7B86D6E9F8CD?api-version=2021-01-01-privatepreview&t=638759854612131912&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBG[...]
[...]
