interactions:
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.SignalRService/SignalR/servicelinker-signalr"},
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "dotnet",
      "secretStore": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-signalr-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-signalr-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "xiaofanzhou@microsoft.com", "createdByType": "User", "createdAt":
        "2022-12-14T09:45:56.2623154Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-12-14T09:45:56.2623154Z"},
        "properties": {"provisioningState": "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.SignalRService/SignalR/servicelinker-signalr",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"roles":
        null, "userName": null, "authType": "systemAssignedIdentity", "deleteOrUpdateBehavior":
        "Default"}, "vNetSolution": null, "clientType": "dotnet", "secretStore": {"keyVaultId":
        null, "keyVaultSecretName": null}, "scope": null, "publicNetworkSolution":
        null, "configurationInfo": null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ef2c8961-61f7-4b86-a971-7285407f5164*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"36004012-0000-0100-0000-63999b550000"'
      mise-correlation-id:
      - bf957b4f-fe38-459c-a933-5c68392ca6d1
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ef2c8961-61f7-4b86-a971-7285407f5164*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ef2c8961-61f7-4b86-a971-7285407f5164*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32",
        "name": "ef2c8961-61f7-4b86-a971-7285407f5164*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-signalr-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Accepted", "startTime": "2022-12-14T09:45:57.4486465Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"100064b1-0000-0100-0000-63999b550000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ef2c8961-61f7-4b86-a971-7285407f5164*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/ef2c8961-61f7-4b86-a971-7285407f5164*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32",
        "name": "ef2c8961-61f7-4b86-a971-7285407f5164*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-signalr-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-14T09:45:57.4486465Z", "endTime":
        "2022-12-14T09:47:04.743494Z", "properties": {"Message": null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1000e4b2-0000-0100-0000-63999b980000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-signalr-app/providers/Microsoft.ServiceLinker/linkers?api-version=2022-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-signalr-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "xiaofanzhou@microsoft.com", "createdByType": "User", "createdAt":
        "2022-12-14T09:45:56.2623154Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-12-14T09:45:56.2623154Z"},
        "properties": {"publicNetworkSolution": null, "configurationInfo": null, "provisioningState":
        "Succeeded", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.SignalRService/SignalR/servicelinker-signalr",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"roles":
        null, "userName": null, "authType": "systemAssignedIdentity", "deleteOrUpdateBehavior":
        "Default"}, "clientType": "dotnet", "scope": null, "vNetSolution": null, "secretStore":
        {"keyVaultId": null, "keyVaultSecretName": null}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 5d7950ab-b23a-4c45-ba2d-3e2c743621fc
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-signalr-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2022-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_SIGNALR_CONNECTIONSTRING", "value":
        "Endpoint=https://servicelinker-signalr.service.signalr.net;AuthType=aad;Version=1.0;"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 73e02f4c-61b9-4089-8ec0-e8c681a0b269
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-signalr-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2022-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/27df3b73-43cb-460b-9a7a-c905c4c0609c*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/27df3b73-43cb-460b-9a7a-c905c4c0609c*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32?api-version=2021-01-01-privatepreview
      mise-correlation-id:
      - 94c8cc53-5826-447a-95df-660620b96998
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/27df3b73-43cb-460b-9a7a-c905c4c0609c*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/27df3b73-43cb-460b-9a7a-c905c4c0609c*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32",
        "name": "27df3b73-43cb-460b-9a7a-c905c4c0609c*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-signalr-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-14T09:48:27.4275238Z", "endTime":
        "2022-12-14T09:48:31.4059918Z", "properties": {"Message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target''s network ACL is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity permission is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2022-12-14T09:48:28.8168946Z\",\"ReportEndTimeUtc\":\"2022-12-14T09:48:30.231511Z\",\"SourceId\":null,\"TargetId\":null,\"AuthType\":0}",
        "linkerName": "testconn", "isConnectionAvailable": true, "validationDetail":
        [{"name": "The target existence is validated", "description": null, "result":
        "success"}, {"name": "The target''s network ACL is validated", "description":
        null, "result": "success"}, {"name": "The configured values is validated",
        "description": null, "result": "success"}, {"name": "The identity existence
        is validated", "description": null, "result": "success"}, {"name": "The identity
        permission is validated", "description": null, "result": "success"}], "reportStartTimeUtc":
        "2022-12-14T09:48:28.8168946Z", "reportEndTimeUtc": "2022-12-14T09:48:30.231511Z",
        "sourceId": null, "targetId": null, "authType": "systemAssignedIdentity"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1000a6b4-0000-0100-0000-63999bef0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/027c5706-4e74-4592-b945-80ae8fd5c1f0*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/027c5706-4e74-4592-b945-80ae8fd5c1f0*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32",
        "name": "027c5706-4e74-4592-b945-80ae8fd5c1f0*D5398420B7E862B5975DBC51E01840934BEFD08D732B01D3694E026D03311B32",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-signalr-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-14T09:49:07.5341833Z", "endTime":
        "2022-12-14T09:49:14.2344171Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"100096b5-0000-0100-0000-63999c1a0000"'
    status:
      code: 200
      message: OK
version: 1
