interactions:
- request:
    body: '{"properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-gremlin-cosmos/gremlinDatabases/coreDB/graphs/MyItem",
      "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-cupertino-test-token:
      - hidden
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-12T06:38:11.398942Z", "lastModifiedBy": "honc@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2021-10-12T06:38:11.398942Z"}, "properties": {"targetId":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-gremlin-cosmos/gremlinDatabases/coreDB/graphs/MyItem",
        "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
        "provisioningState": "Accepted"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/7253ae05-480e-4e74-8ef9-24fb1fe53a81*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e8045d89-0000-0100-0000-61652d540000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/7253ae05-480e-4e74-8ef9-24fb1fe53a81*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/7253ae05-480e-4e74-8ef9-24fb1fe53a81*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "name": "7253ae05-480e-4e74-8ef9-24fb1fe53a81*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Accepted", "startTime": "2021-10-12T06:38:11.8564913Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7002f323-0000-0100-0000-61652d530000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/7253ae05-480e-4e74-8ef9-24fb1fe53a81*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/7253ae05-480e-4e74-8ef9-24fb1fe53a81*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "name": "7253ae05-480e-4e74-8ef9-24fb1fe53a81*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-12T06:38:11.8564913Z", "endTime":
        "2021-10-12T06:47:46.9765902Z", "properties": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7002ab29-0000-0100-0000-61652f920000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers?api-version=2021-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "honc@microsoft.com", "createdByType": "User", "createdAt":
        "2021-10-12T06:38:11.398942Z", "lastModifiedBy": "c4288165-6698-45ba-98a5-48ea7791fed3",
        "lastModifiedByType": "Application", "lastModifiedAt": "2021-10-12T06:47:46.9025919Z"},
        "properties": {"targetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-gremlin-cosmos/gremlinDatabases/coreDB/graphs/MyItem",
        "authInfo": {"authType": "systemAssignedIdentity"}, "clientType": "python",
        "provisioningState": "Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2021-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_COSMOS_LISTKEYURL", "value": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.DocumentDB/databaseAccounts/servicelinker-gremlin-cosmos/listKeys?api-version=2021-04-15"},
        {"name": "AZURE_COSMOS_HOSTNAME", "value": "servicelinker-gremlin-cosmos.gremlin.cosmos.azure.com"},
        {"name": "AZURE_COSMOS_PORT", "value": "443"}, {"name": "AZURE_COSMOS_USERNAME",
        "value": "/dbs/coreDB/colls/MyItem"}, {"name": "AZURE_COSMOS_RESOURCEENDPOINT",
        "value": "https://servicelinker-gremlin-cosmos.documents.azure.com:443/"},
        {"name": "AZURE_COSMOS_SCOPE", "value": "https://management.azure.com/.default"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2021-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d2b758fd-f49b-4512-bd4e-a8a82197ddb8*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2021-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/d2b758fd-f49b-4512-bd4e-a8a82197ddb8*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2021-11-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-cupertino-test-token:
      - hidden
    method: GET
    uri: https://management.azure.com/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8d9b95a9-e938-40d9-8e78-eb9c80a70706*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id": "/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/8d9b95a9-e938-40d9-8e78-eb9c80a70706*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "name": "8d9b95a9-e938-40d9-8e78-eb9c80a70706*174826E4E1C00FA0EECF8C4256C5D9CA1B852269A7BDC14D8E593675AAE9A9B5",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-win-group/providers/Microsoft.Web/sites/servicelinker-gremlin-cosmos-asp-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2021-10-12T06:48:36.2302092Z", "endTime":
        "2021-10-12T06:48:38.61346Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7002092a-0000-0100-0000-61652fc60000"'
    status:
      code: 200
      message: OK
version: 1
