interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cupertino-kv-test.vault.azure.net/secrets/TestDbPassword/?api-version=7.4
  response:
    body:
      string: '{"value": "microsoft123!", "id": "https://cupertino-kv-test.vault.azure.net/secrets/TestDbPassword/e6c944984acc4f7dab51acf30b3d19cc",
        "attributes": {"enabled": true, "created": 1607518360, "updated": 1607518360,
        "recoveryLevel": "Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.DBforPostgreSQL/flexibleServers/servicelinker-flexiblepostgresql/databases/test"},
      "authInfo": {"authType": "secret", "name": "servicelinker", "secretInfo": {"secretType":
      "rawValue", "value": "microsoft123!"}}, "clientType": "python", "secretStore":
      {}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-serviceconnector-user-token:
      - hidden
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-flexiblepostgresql-app/providers/Microsoft.ServiceLinker/linkers/testconn?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-flexiblepostgresql-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "name": "testconn", "type": "microsoft.servicelinker/linkers", "systemData":
        {"createdBy": "xiaofanzhou@microsoft.com", "createdByType": "User", "createdAt":
        "2022-12-14T09:33:50.5279015Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2022-12-14T09:33:50.5279015Z"},
        "properties": {"provisioningState": "Accepted", "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.DBforPostgreSQL/flexibleServers/servicelinker-flexiblepostgresql/databases/test",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"name":
        "servicelinker", "secretInfo": {"secretType": "rawValue"}, "authType": "secret"},
        "vNetSolution": null, "clientType": "python", "secretStore": {"keyVaultId":
        null, "keyVaultSecretName": null}, "scope": null, "publicNetworkSolution":
        null, "configurationInfo": null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/5045039e-279f-4aef-a4b2-57ebd864869f*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"350060e0-0000-0100-0000-639998800000"'
      mise-correlation-id:
      - 3bea9fc5-598f-4ce5-9de3-235709ccf3a2
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/5045039e-279f-4aef-a4b2-57ebd864869f*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/5045039e-279f-4aef-a4b2-57ebd864869f*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191",
        "name": "5045039e-279f-4aef-a4b2-57ebd864869f*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-flexiblepostgresql-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-14T09:33:51.6908242Z", "endTime":
        "2022-12-14T09:34:00.0088445Z", "properties": {"Message": null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1000d39f-0000-0100-0000-639998880000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-flexiblepostgresql-app/providers/Microsoft.ServiceLinker/linkers?api-version=2022-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Micros[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-flexiblepostgresql-app/providers/Microsoft.ServiceLinker/linkers/testconn/listConfigurations?api-version=2022-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "AZURE_POSTGRESQL_CONNECTIONSTRING", "value":
        "hidden"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - d5d5b4f0-a7c8-4345-bd9f-d482c59d314e
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-flexiblepostgresql-app/providers/Microsoft.ServiceLinker/linkers/testconn/validateLinker?api-version=2022-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/9d43019f-edda-4460-9033-66cb966e0e05*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/9d43019f-edda-4460-9033-66cb966e0e05*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191?api-version=2021-01-01-privatepreview
      mise-correlation-id:
      - 43a16db3-e70b-46b7-a414-be8223c8e22d
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-serviceconnector-user-token:
      - hidden
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/9d43019f-edda-4460-9033-66cb966e0e05*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/9d43019f-edda-4460-9033-66cb966e0e05*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191",
        "name": "9d43019f-edda-4460-9033-66cb966e0e05*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-flexiblepostgresql-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-14T09:35:23.3138249Z", "endTime":
        "2022-12-14T09:35:28.112264Z", "properties": {"Message": "{\"ConnectionName\":\"testconn\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target service firewall is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        configured values (except username/password) is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2022-12-14T09:35:24.691517Z\",\"ReportEndTimeUtc\":\"2022-12-14T09:35:26.9470756Z\",\"SourceId\":null,\"TargetId\":null,\"AuthType\":4}",
        "linkerName": "testconn", "isConnectionAvailable": true, "validationDetail":
        [{"name": "The target existence is validated", "description": null, "result":
        "success"}, {"name": "The target service firewall is validated", "description":
        null, "result": "success"}, {"name": "The configured values (except username/password)
        is validated", "description": null, "result": "success"}], "reportStartTimeUtc":
        "2022-12-14T09:35:24.691517Z", "reportEndTimeUtc": "2022-12-14T09:35:26.9470756Z",
        "sourceId": null, "targetId": null, "authType": "secret"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"100037a2-0000-0100-0000-639998e00000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/156328c4-1caf-4769-8454-b9ebe266f3f1*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/156328c4-1caf-4769-8454-b9ebe266f3f1*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191",
        "name": "156328c4-1caf-4769-8454-b9ebe266f3f1*A0495454659B4E7B3BC89A0D5A1CF6354FF0652AF10C310B2B8CA761EB1E2191",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-flexiblepostgresql-app/providers/Microsoft.ServiceLinker/linkers/testconn",
        "status": "Succeeded", "startTime": "2022-12-14T09:36:05.7420772Z", "endTime":
        "2022-12-14T09:36:10.7308775Z", "properties": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"10002ca3-0000-0100-0000-6399990a0000"'
    status:
      code: 200
      message: OK
version: 1
