interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group?api-version=2021-04-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-cli-test-group",
        "name": "servicelinker-cli-test-group", "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus", "tags": {}, "properties": {"provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetService": {"type": "AzureResource", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppConfiguration/configurationStores/servicelinker-app-configuration"},
      "authInfo": {"authType": "userAccount", "principalId": "b0a9d3c6-3387-4067-9f03-39808e7291ff"},
      "clientType": "python", "publicNetworkSolution": {"firewallRules": {"callerClientIP":
      "true"}}, "configurationInfo": {"customizedKeys": {"AZURE_APPCONFIGURATION_ENDPOINT":
      "test_endpoint"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn1?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn1",
        "name": "testconn1", "type": "microsoft.servicelinker/locations/connectors",
        "systemData": {"createdBy": "xiaofanzhou@microsoft.com", "createdByType":
        "User", "createdAt": "2023-02-20T06:33:05.183072Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-02-20T06:58:13.6101449Z"},
        "properties": {"publicNetworkSolution": {"firewallRules": {"ipRanges": null,
        "callerClientIP": "true"}, "deleteOrUpdateBehavior": null, "action": null},
        "configurationInfo": {"customizedKeys": {"AZURE_APPCONFIGURATION_ENDPOINT":
        "test_endpoint"}, "additionalConfigurations": null, "deleteOrUpdateBehavior":
        null, "action": null, "daprProperties": null}, "provisioningState": "Accepted",
        "targetService": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppConfiguration/configurationStores/servicelinker-app-configuration",
        "resourceProperties": null, "type": "AzureResource"}, "authInfo": {"principalId":
        "b0a9d3c6-3387-4067-9f03-39808e7291ff", "roles": null, "userName": null, "authType":
        "userAccount", "deleteOrUpdateBehavior": null}, "clientType": "python", "scope":
        null, "vNetSolution": null, "secretStore": null}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/fc2bb7b3-e7d9-45ad-a3f6-e13eaa05684e*A4E2AFA9E4376F9B823E70EF044F2BAB0A7A3585E34C30D8E4D15DB50BBEA35E?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5200dc88-0000-0100-0000-63f31a070000"'
      mise-correlation-id:
      - 1baf680d-5263-4a89-b333-d7bf447a850c
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/fc2bb7b3-e7d9-45ad-a3f6-e13eaa05684e*A4E2AFA9E4376F9B823E70EF044F2BAB0A7A3585E34C30D8E4D15DB50BBEA35E?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/fc2bb7b3-e7d9-45ad-a3f6-e13eaa05684e*A4E2AFA9E4376F9B823E70EF044F2BAB0A7A3585E34C30D8E4D15DB50BBEA35E",
        "name": "fc2bb7b3-e7d9-45ad-a3f6-e13eaa05684e*A4E2AFA9E4376F9B823E70EF044F2BAB0A7A3585E34C30D8E4D15DB50BBEA35E",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn1",
        "status": "Succeeded", "startTime": "2023-02-20T06:58:14.7054766Z", "endTime":
        "2023-02-20T06:58:18.7818806Z", "properties": {"Message": ""}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"06019dc3-0000-0100-0000-63f31a0a0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors?api-version=2022-11-01-preview
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn1",
        "name": "testconn1", "type": "microsoft.servicelinker/locations/connectors",
        "systemData": {"createdBy": "xiaofanzhou@microsoft.com", "createdByType":
        "User", "createdAt": "2023-02-20T06:33:05.183072Z", "lastModifiedBy": "xiaofanzhou@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-02-20T06:58:13.6101449Z"},
        "properties": {"publicNetworkSolution": {"firewallRules": {"callerClientIP":
        "true"}}, "configurationInfo": {"customizedKeys": {"AZURE_APPCONFIGURATION_ENDPOINT":
        "test_endpoint"}}, "provisioningState": "Succeeded", "targetService": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppConfiguration/configurationStores/servicelinker-app-configuration",
        "type": "AzureResource"}, "authInfo": {"principalId": "b0a9d3c6-3387-4067-9f03-39808e7291ff",
        "authType": "userAccount"}, "clientType": "python"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn1/generateConfigurations?api-version=2022-11-01-preview
  response:
    body:
      string: '{"configurations": [{"name": "test_endpoint", "value": "https://servicelinker-app-configuration.azconfig.io"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - e3cf3c69-0fe0-467a-8aa0-306d59cc5d79
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn1/validate?api-version=2022-11-01-preview
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e62d5f97-fdda-415c-b0cc-8ac5b954a3bf*A4E2AFA9E4376F9B823E70EF044F2BAB0A7A3585E34C30D8E4D15DB50BBEA35E?api-version=2021-01-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e62d5f97-fdda-415c-b0cc-8ac5b954a3bf*A4E2AFA9E4376F9B823E70EF044F2BAB0A7A3585E34C30D8E4D15DB50BBEA35E?api-version=2021-01-01-privatepreview
      mise-correlation-id:
      - 03f46723-7c9a-42b1-a712-180869748de1
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e62d5f97-fdda-415c-b0cc-8ac5b954a3bf*A4E2AFA9E4376F9B823E70EF044F2BAB0A7A3585E34C30D8E4D15DB50BBEA35E?api-version=2021-01-01-privatepreview
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/e62d5f97-fdda-415c-b0cc-8ac5b954a3bf*A4E2AFA9E4376F9B823E70EF044F2BAB0A7A3585E34C30D8E4D15DB50BBEA35E",
        "name": "e62d5f97-fdda-415c-b0cc-8ac5b954a3bf*A4E2AFA9E4376F9B823E70EF044F2BAB0A7A3585E34C30D8E4D15DB50BBEA35E",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn1",
        "status": "Succeeded", "startTime": "2023-02-20T06:59:33.1760817Z", "endTime":
        "2023-02-20T06:59:36.0503949Z", "properties": {"Message": "{\"ConnectionName\":\"testconn1\",\"IsConnectionAvailable\":true,\"ValidationDetail\":[{\"Name\":\"The
        target existence is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        target''s network access is validated\",\"Description\":null,\"Result\":0},{\"Name\":\"The
        identity permission is validated\",\"Description\":null,\"Result\":0}],\"ReportStartTimeUtc\":\"2023-02-20T06:59:34.4308083Z\",\"ReportEndTimeUtc\":\"2023-02-20T06:59:34.9188947Z\",\"SourceId\":null,\"TargetId\":null,\"AuthType\":6}",
        "linkerName": "testconn1", "isConnectionAvailable": true, "validationDetail":
        [{"name": "The target existence is validated", "description": null, "result":
        "success"}, {"name": "The target''s network access is validated", "description":
        null, "result": "success"}, {"name": "The identity permission is validated",
        "description": null, "result": "success"}], "reportStartTimeUtc": "2023-02-20T06:59:34.4308083Z",
        "reportEndTimeUtc": "2023-02-20T06:59:34.9188947Z", "sourceId": null, "targetId":
        null, "authType": "userAccount"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"060156c6-0000-0100-0000-63f31a580000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/servicelinker-cli-test-group/providers/Microsoft.ServiceLinker/locations/eastus/connectors/testconn1?api-version=2022-11-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
