{
  "swagger": "2.0",
  "info": {
    "title": "NicCreationClient",
    "version": "2015-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}": {
      "put": {
        "tags": [
          "Nic"
        ],
        "operationId": "Nic_CreateOrUpdate",
        "description": "Create or update a virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the deployment.",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "x-ms-client-flatten": true,
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment_Nic"
            },
            "description": "Additional parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Deployment_Nic": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentProperties_Nic",
          "description": "Gets or sets the deployment properties.",
          "x-ms-client-flatten": true
        }
      },
      "description": "Deployment operation parameters."
    },
    "DeploymentProperties_Nic": {
      "properties": {
        "templateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "Gets or sets the URI referencing the template. Use only one of Template or TemplateLink.",
          "x-ms-client-flatten": true
        },
        "parameters": {
          "$ref": "#/definitions/NicParameters",
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink.",
          "x-ms-client-flatten": true
        },
        "mode": {
          "type": "string",
          "description": "Gets or sets the deployment mode.",
          "enum": [
            "Incremental"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        }
      },
      "required": [
        "templateLink",
        "parameters",
        "mode"
      ],
      "description": "Deployment properties."
    },
    "TemplateLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI referencing the template.",
          "enum": [
            "https://azuresdkci.blob.core.windows.net/templatehost/CreateNic_2016-06-15/azuredeploy.json"
          ]
        },
        "contentVersion": {
          "type": "string",
          "description": "If included it must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the template."
    },
    "NicParameters": {
      "properties": {
        "enableIpForwarding": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_enableIpForwarding",
          "x-ms-client-flatten": true
        },
        "loadBalancerBackendAddressPoolIds": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_loadBalancerBackendAddressPoolIds",
          "x-ms-client-flatten": true
        },
        "loadBalancerInboundNatRuleIds": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_loadBalancerInboundNatRuleIds",
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_location",
          "x-ms-client-flatten": true
        },
        "networkInterfaceName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_networkInterfaceName",
          "x-ms-client-flatten": true
        },
        "networkSecurityGroupName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_networkSecurityGroupName",
          "x-ms-client-flatten": true
        },
        "networkSecurityGroupType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_networkSecurityGroupType",
          "x-ms-client-flatten": true
        },
        "privateIpAddress": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_privateIpAddress",
          "x-ms-client-flatten": true
        },
        "privateIpAddressAllocation": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_privateIpAddressAllocation",
          "x-ms-client-flatten": true
        },
        "publicIpAddressName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_publicIpAddressName",
          "x-ms-client-flatten": true
        },
        "publicIpAddressType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_publicIpAddressType",
          "x-ms-client-flatten": true
        },
        "subnetName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_subnetName",
          "x-ms-client-flatten": true
        },
        "virtualNetworkName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_virtualNetworkName",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "networkInterfaceName",
        "enableIpForwarding",
        "virtualNetworkName",
        "subnetName"
      ]
    },
    "DeploymentParameter_enableIpForwarding": {
      "properties": {
        "value": {
          "type": "boolean",
          "description": "Enable IP forwarding.",
          "x-ms-client-name": "enableIpForwarding",
          "default": "False"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentParameter_loadBalancerBackendAddressPoolIds": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "Space separated list of load balancer backend address pool IDs.",
          "x-ms-client-name": "loadBalancerBackendAddressPoolIds"
        }
      }
    },
    "DeploymentParameter_loadBalancerInboundNatRuleIds": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "Space separated list of load balancer inbound NAT rule IDs.",
          "x-ms-client-name": "loadBalancerInboundNatRuleIds"
        }
      }
    },
    "DeploymentParameter_location": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Location for NIC resource.",
          "x-ms-client-name": "location"
        }
      }
    },
    "DeploymentParameter_networkInterfaceName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Name of the new NIC.",
          "x-ms-client-name": "networkInterfaceName"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentParameter_networkSecurityGroupName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Network security group to associate with the NIC.",
          "x-ms-client-name": "networkSecurityGroupName"
        }
      }
    },
    "DeploymentParameter_networkSecurityGroupType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Identifies whether to use an existing NSG.",
          "x-ms-client-name": "networkSecurityGroupType",
          "enum": [
            "none",
            "existing"
          ],
          "default": "none"
        }
      }
    },
    "DeploymentParameter_privateIpAddress": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Static private IP address to associate with the NIC.",
          "x-ms-client-name": "privateIpAddress"
        }
      }
    },
    "DeploymentParameter_privateIpAddressAllocation": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Private IP address allocation method.",
          "x-ms-client-name": "privateIpAddressAllocation",
          "enum": [
            "dynamic",
            "static"
          ],
          "default": "dynamic"
        }
      }
    },
    "DeploymentParameter_publicIpAddressName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Name of an existing public IP address to associate with the NIC.",
          "x-ms-client-name": "publicIpAddressName"
        }
      }
    },
    "DeploymentParameter_publicIpAddressType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Specify whether to associate an existing public IP address with the NIC.",
          "x-ms-client-name": "publicIpAddressType",
          "enum": [
            "none",
            "existing"
          ],
          "default": "none"
        }
      }
    },
    "DeploymentParameter_subnetName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Subnet to associate with the NIC.",
          "x-ms-client-name": "subnetName"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentParameter_virtualNetworkName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Virtual network to associate with the NIC.",
          "x-ms-client-name": "virtualNetworkName"
        }
      },
      "required": [
        "value"
      ]
    },
    "ParametersLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI referencing the template."
        },
        "contentVersion": {
          "type": "string",
          "description": "If included it must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the deployment paramaters."
    },
    "ProviderResourceType": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the resource type."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the collection of locations where this resource type can be created in."
        },
        "apiVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the api version."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the properties."
        }
      },
      "description": "Resource type managed by the resource provider."
    },
    "Provider": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the provider id."
        },
        "namespace": {
          "type": "string",
          "description": "Gets or sets the namespace of the provider."
        },
        "registrationState": {
          "type": "string",
          "description": "Gets or sets the registration state of the provider."
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderResourceType"
          },
          "description": "Gets or sets the collection of provider resource types."
        }
      },
      "description": "Resource provider information."
    },
    "BasicDependency": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "Dependency": {
      "properties": {
        "dependsOn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BasicDependency"
          },
          "description": "Gets the list of dependencies."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "DeploymentPropertiesExtended": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the state of the provisioning."
        },
        "correlationId": {
          "type": "string",
          "description": "Gets or sets the correlation ID of the deployment."
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the timestamp of the template deployment."
        },
        "outputs": {
          "type": "object",
          "description": "Gets or sets key/value pairs that represent deploymentoutput."
        },
        "providers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Provider"
          },
          "description": "Gets the list of resource providers needed for the deployment."
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dependency"
          },
          "description": "Gets the list of deployment dependencies."
        },
        "template": {
          "type": "object",
          "description": "Gets or sets the template content. Use only one of Template or TemplateLink."
        },
        "TemplateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "Gets or sets the URI referencing the template. Use only one of Template or TemplateLink."
        },
        "parameters": {
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink."
        },
        "parametersLink": {
          "$ref": "#/definitions/ParametersLink",
          "description": "Gets or sets the URI referencing the parameters. Use only one of Parameters or ParametersLink."
        },
        "mode": {
          "type": "string",
          "description": "Gets or sets the deployment mode.",
          "enum": [
            "Incremental",
            "Complete"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        }
      },
      "description": "Deployment properties with additional details."
    },
    "DeploymentExtended": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the deployment."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the deployment."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentPropertiesExtended",
          "description": "Gets or sets deployment properties."
        }
      },
      "required": [
        "name"
      ],
      "description": "Deployment information."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}