interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_hybridconnectionE2E","date":"2025-07-14T23:24:55Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "sku": {"name": "S1", "tier": "STANDARD", "capacity":
      1}, "properties": {"perSiteScaling": false, "isXenon": false, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003","name":"hcplan000003","type":"Microsoft.Web/serverfarms","kind":"app","location":"westeurope","properties":{"serverFarmId":94519,"name":"hcplan000003","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestEuropewebspace","subscription":"50821c37-1271-4210-8e1f-568acc6ecc66","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        Europe","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-am2-109_94519","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":3,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2025-07-14T23:25:04.1333333","asyncScalingEnabled":false},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DBF516879D17EB"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "hcwebapp000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2024-11-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        9 (STS)","value":"dotnet9","minorVersions":[{"displayText":".NET 9 (STS)","value":"9","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v9.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.x"},"endOfLifeDate":"2026-05-12T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|9.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.x"},"supportedFeatures":{"disableSsh":true},"endOfLifeDate":"2026-05-12T00:00:00Z"}}}]},{"displayText":".NET
        8 (LTS)","value":"dotnet8","minorVersions":[{"displayText":".NET 8 (LTS)","value":"8","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v8.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.x"},"endOfLifeDate":"2026-11-10T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|8.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.x"},"supportedFeatures":{"disableSsh":true},"endOfLifeDate":"2026-11-10T00:00:00Z"}}}]},{"displayText":".NET
        7 (STS)","value":"dotnet7","minorVersions":[{"displayText":".NET 7 (STS)","value":"7","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v7.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.x"},"endOfLifeDate":"2024-05-14T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|7.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.x"},"supportedFeatures":{"disableSsh":true},"endO[...]
- request:
    body: '{"location": "West Europe", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "~20"}],
      "alwaysOn": true, "localMySqlEnabled": false, "http20Enabled": true, "http20ProxyFlag":
      0}, "scmSiteAlsoStopped": false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002","name":"hcwebapp000002","type":"Microsoft.Web/sites","kind":"app","location":"West
        Europe","properties":{"name":"hcwebapp000002","state":"Running","hostNames":["hcwebapp000002.azurewebsites.net"],"webSpace":"clitest.rg000001-WestEuropewebspace","selfLink":"https://waws-prod-am2-109.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestEuropewebspace/sites/hcwebapp000002","repositorySiteName":"hcwebapp000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["hcwebapp000002.azurewebsites.net","hcwebapp000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"hcwebapp000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"hcwebapp000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003","reserved":false,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2025-07-14T23:25:14.04","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false},"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"hcwebapp000002","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"C4C02A18828506F81C8FA754DCC380496D4C309F80135C91EE4748B49E9BCDD1","kind":"app","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"13.95.150.128","possibleInboundIpAddresses":"13.95.150.128,13.69.68.86","inboundIpv6Address":"2603:1020:206:6::59","possibleInboundIpv6Addresses":"2603:1020:206:6::59","ftpUsername":"hcwebapp000002\\$hcwebapp000002","ftpsHostName":"ftps://waws-prod-am2-109.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"13.93.87.3,13.93.84.184,13.93.84.120,13.93.87.247,13.95.150.128","possibleOutboundIpAddresses":"13.93.87.3,13.93.84.184,13.93.84.120,13.93.87.247,132.164.24.93,40.74.59.195,40.74.60.207,168.63.124.211,40.74.60.73,40.74.61.39,20.4.96.158,20.4.96.198,20.4.97.33,20.4.97.49,20.4.97.74,20.4.97.105,98.64.192.143,98.64.192.172,98.64.193.129,98.64.194.73,98.64.192.18,98.64.192.36,13.95.150.128","outboundIpv6Addresses":"2603:1020:203:10::376,2603:1020:203:17::3b4,2603:1020:203:e::3b8,2603:1020:203:5::3a1,2603:1020:206:6::59,2603:10e1:100:2::d5f:9680","possibleOutboundIpv6Addresses":"2603:1020:203:10::376,2603:1020:203:17::3b4,2603:1020:203:e::3b8,2603:1020:203:5::3a1,2603:1020:203:b::3b9,2603:1020:203:14::7fb,2603:1020:203:c::3dd,2603:1020:203:18::39c,2603:1020:203:b::3bb,2603:1020:203:3::612,2603:1020:203:19::397,2603:1020:203:13::3af,2603:1020:203:3::613,2603:1020:203:5::3a3,2603:1020:203:c::3e2,2603:1020:203:19::39a,2603:1020:203:b::3be,2603:1020:203:7::c8,2603:1020:203:c::3e4,2603:1020:203:a::3dc,2603:1020:203:a::3dd,2603:1020:206:6::59,2603:10e1:100:2::d5f:9680","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-am2-109","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"hcwebapp000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DBF5168D4ABF55"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '200'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/publishxml?api-version=2024-11-01
  response:
    body:
      string: <publishData><publishProfile profileName="hcwebapp000002 - Web Deploy"
        publishMethod="MSDeploy" publishUrl="hcwebapp000002.scm.azurewebsites.net:443"
        msdeploySite="hcwebapp000002" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="http://hcwebapp000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases
        /></publishProfile><publishProfile profi[...]
[...]
- request:
    body: '{"location": "westeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004?api-version=2017-04-01
  response:
    body:
      string: '{"error":{"code":"MissingSubscriptionRegistration","message":"The subscription
        is not registered to use namespace ''Microsoft.Relay''. See https://aka.ms/rps-not-found
        for how to register subscriptions.","details":[{"code":"MissingSubscriptionRegistration","target":"Microsoft.Relay","message":"The
        subscription is not registered to use namespace ''Microsoft.Relay''. See https://aka.ms/rps-not-found
        for how to register subscriptions."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay/register?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay","namespace":"Microsoft.Relay","authorizations":[{"applicationId":"91bb937c-29c2-4275-982f-9465f0caf03d","roleDefinitionId":"6ea9e989-a5f4-4187-8d11-c8db3dd04da1"},{"applicationId":"80369ed6-5f11-4dd9-bef3-692475845e77"}],"resourceTypes":[{"resourceType":"namespaces","locations":["Australia
        Central","Australia East","Australia Southeast","Brazil South","Canada Central","Canada
        East","Central India","Central US","Chile Central","East Asia","East US","East
        US 2","France Central","Germany West Central","Indonesia Central","Israel
        Central","Italy North","Japan East","Japan West","Jio India West","Korea Central","Korea
        South","Malaysia West","Mexico Central","New Zealand North","North Central
        US","North Europe","Norway East","Poland Central","Qatar Central","South Africa
        North","South Central US","Southeast Asia","South India","Spain Central","Sweden
        Central","Switzerland North","UAE North","UK South","UK West","West Central
        US","West Europe","West India","West US","West US 2","West US 3","Central
        US EUAP","East US 2 EUAP"],"apiVersions":["2024-01-01","2021-11-01","2018-01-01-preview","2017-04-01","2016-07-01"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"namespaces/authorizationrules","locations":["Australia
        Central","Australia East","Australia Southeast","Brazil South","Brazil Southeast","Canada
        Central","Canada East","Central India","Central US","Chile Central","East
        Asia","East US","East US 2","France Central","Germany West Central","Indonesia
        Central","Israel Central","Italy North","Japan East","Japan West","Jio India
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay","namespace":"Microsoft.Relay","authorizations":[{"applicationId":"91bb937c-29c2-4275-982f-9465f0caf03d","roleDefinitionId":"6ea9e989-a5f4-4187-8d11-c8db3dd04da1"},{"applicationId":"803[...]
[...]
- request:
    body: '{"location": "westeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004","name":"hcnamespace000004","type":"Microsoft.Relay/Namespaces","location":"westeurope","tags":{},"properties":{"metricId":"50821c37-1271-4210-8e1f-568acc6ecc66:hcnamespace000004","serviceBusEndpoint":"https://hcnamespace000004.servicebus.windows.net:443/","provisioningState":"Creating","status":"Creating","createdAt":"2025-07-14T23:26:54.5504158Z","updatedAt":"2025-07-14T23:26:54Z"},"sku":{"name":"Standard","tier":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.relay/locations/westeurope/namespaceOperationResults/921c6de6-94f2-4e85-b818-7e5aa8eba79f?isAsyncHeader=true&resourceName=hcnamespace000004&resourceType=namespace&api-version=2017-04-01&operationType=Active&t=638881324149519521&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.relay/locations/westeurope/namespaceOperationResults/921c6de6-94f2-4e85-b818-7e5aa8eba79f?isAsyncHeader=true&resourceName=hcnamespace000004&resourceType=namespace&api-version=2017-04-01&operationType=Active&t=638881324149519521&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004","name":"hcnamespace000004","type":"Microsoft.Relay/Namespaces","location":"westeurope","tags":{},"properties":{"metricId":"50821c37-1271-4210-8e1f-568acc6ecc66:hcnamespace000004","serviceBusEndpoint":"https://hcnamespace000004.servicebus.windows.net:443/","provisioningState":"Succeeded","status":"Active","createdAt":"2025-07-14T23:26:54.5504158Z","updatedAt":"2025-07-14T23:26:58Z"},"sku":{"name":"Standard","tier":"Standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 0cc6fd79-5f7f-43f1-9cb6-392a452f6af6
      x-ms-messaging-routing-id:
      - WESTEUROPE|WESTEUROPE|G8|2025-07-14T23:27:27
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"userMetadata": "[{\"key\":\"endpoint\",\"value\":\"vmsq1:80\"}]"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridconnections/hcname000005","name":"hcname000005","type":"Microsoft.Relay/namespaces/hybridconnections","location":"westeurope","properties":{"createdAt":"2025-07-14T23:27:30.0471238Z","updatedAt":"2025-07-14T23:27:30.0471238Z","listenerCount":0,"requiresClientAuthorization":true,"userMetadata":"[{\"key\":\"endpoint\",\"value\":\"vmsq1:80\"}]"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - d585b3fa-e75b-44c7-8587-4161d936debd
      x-ms-messaging-routing-id:
      - WESTEUROPE|WESTEUROPE|G9|2025-07-14T23:27:30
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay/namespaces?api-version=2017-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004","name":"hcnamespace000004","type":"Microsoft.Relay/Namespaces","location":"westeurope","tags":{},"properties":{"metricId":"50821c37-1271-4210-8e1f-568acc6ecc66:hcnamespace000004","serviceBusEndpoint":"https://hcnamespace000004.servicebus.windows.net:443/","provisioningState":"Succeeded","status":"Active","createdAt":"2025-07-14T23:26:54.5504158Z","updatedAt":"2025-07-14T23:26:58Z"},"sku":{"name":"Standard","tier":"Standard"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - b61d66d1-bbea-4ab9-b655-385bfaa757e0
      x-ms-messaging-routing-id:
      - WESTEUROPE|WESTEUROPE|G12|2025-07-14T23:27:31
      x-ms-original-request-ids:
      - ''
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules?api-version=2017-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 6baad88a-96c3-4136-857f-5482614615b6
      x-ms-messaging-routing-id:
      - WESTEUROPE|WESTEUROPE|G3|2025-07-14T23:27:34
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules/defaultSender?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules/defaultSender","name":"defaultSender","type":"Microsoft.Relay/namespaces/hybridconnections/authorizationrules","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 197baf1d-e3cc-44ed-bc5b-8f30899be086
      x-ms-messaging-routing-id:
      - WESTEUROPE|WESTEUROPE|G4|2025-07-14T23:27:35
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules/defaultSender/listKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://hcnamespace000004.servicebus.windows.net/;SharedAccessKeyName=defaultSender;SharedAccessKey=***;EntityPath=hcname000005","secondaryConnectionString":"Endpoint=sb://hcnamespace000004.servicebus.windows.net/;SharedAccessKeyName=defaultSender;SharedAccessKey=***;EntityPath=hcname000005","primaryKey":"***","secondaryKey":"***","keyName":"defaultSender"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - ee889a8f-a326-49f7-9631-deb3a5605f1b
      x-ms-messaging-routing-id:
      - WESTEUROPE|WESTEUROPE|G3|2025-07-14T23:27:37
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"serviceBusNamespace": "hcnamespace000004", "relayName":
      "hcname000005", "relayArmUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridconnections/hcname000005",
      "hostname": "vmsq1", "port": 80, "sendKeyName": "defaultSender", "sendKeyValue":
      "***", "serviceBusSuffix": ".servicebus.windows.net"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionNamespaces/hcnamespace000004/relays/hcname000005?api-version=2024-11-01
  response:
    body:
[...]
