interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2021-10-18T21:40:40Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "up-name-exists-plan000002", "type": "Microsoft.Web/serverfarms",
      "location": "eastus2", "properties": {"skuName": "S1", "needLinuxWorkers": true,
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/validate?api-version=2020-09-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "sku": {"name": "S1", "tier": "STANDARD", "capacity":
      1}, "properties": {"perSiteScaling": false, "reserved": true, "isXenon": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/serverfarms/up-name-exists-plan000002?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/serverfarms/up-name-exists-plan000002","name":"up-name-exists-plan000002","type":"Microsoft.Web/serverfarms","kind":"linux","location":"eastus2","properties":{"serverFarmId":12016,"name":"up-name-exists-plan000002","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest000001-EastUS2webspace-Linux","subscription":"e483435e-282d-4ac1-92b5-d6123f2aa360","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US 2","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"clitest000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bn1-073_12016","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D7C468D5FBA280"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "up-name-exists-app000003", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2021-01-15
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "East US 2", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/serverfarms/up-name-exists-plan000002",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "linuxFxVersion": "PYTHON|3.7", "appSettings": [], "alwaysOn": true,
      "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped": false,
      "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/sites/up-name-exists-app000003?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/sites/up-name-exists-app000003","name":"up-name-exists-app000003","type":"Microsoft.Web/sites","kind":"app,linux","location":"East
        US 2","properties":{"name":"up-name-exists-app000003","state":"Running","hostNames":["up-name-exists-app000003.azurewebsites.net"],"webSpace":"clitest000001-EastUS2webspace-Linux","selfLink":"https://waws-prod-bn1-073.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest000001-EastUS2webspace-Linux/sites/up-name-exists-app000003","repositorySiteName":"up-name-exists-app000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["up-name-exists-app000003.azurewebsites.net","up-name-exists-app000003.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"PYTHON|3.7"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"up-name-exists-app000003.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"up-name-exists-app000003.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/serverfarms/up-name-exists-plan000002","reserved":true,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2021-10-18T21:41:03.16","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"sitePort":null},"deploymentId":"up-name-exists-app000003","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"30E3673979DFB5673924412D39370809E608E2DE4E889BD01C7B80FC38A57EED","kind":"app,linux","inboundIpAddress":"20.49.97.0","possibleInboundIpAddresses":"20.49.97.0","ftpUsername":"up-name-exists-app000003\\$up-name-exists-app000003","ftpsHostName":"ftps://waws-prod-bn1-073.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"52.179.221.39,52.179.221.68,52.179.221.249,52.179.221.252,52.179.222.5,52.179.222.11,20.49.97.0","possibleOutboundIpAddresses":"52.179.221.39,52.179.221.68,52.179.221.249,52.179.221.252,52.179.222.5,52.179.222.11,52.179.222.18,52.179.222.22,52.179.222.29,52.179.222.35,52.179.222.133,52.179.222.134,52.138.105.158,52.138.106.182,52.138.106.227,52.138.106.247,52.138.107.49,52.138.107.161,20.44.80.47,40.70.231.121,40.70.225.30,40.70.228.69,52.167.16.215,52.167.17.107,20.49.97.0","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bn1-073","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest000001","defaultHostName":"up-name-exists-app000003.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs","storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D7C468D994C1CB"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/sites/up-name-exists-app000003/publishxml?api-version=2020-09-01
  response:
    body:
      string: <publishData><publishProfile profileName="up-name-exists-app000003 -
        Web Deploy" publishMethod="MSDeploy" publishUrl="up-name-exists-app000003.scm.azurewebsites.net:443"
        msdeploySite="up-name-exists-app000003" userName="$up-name-exists-app000003"
        userPWD="nkvzgxshCCbqYsQDXtkXLnE2iYtBk5oXdxTtGBWmmyk2YcZxkwhgykDnCTLG" destinationAppUrl="http://up-name-exists-app000003.azurewebsites.net"
        SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLin[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://up-name-exists-app000003.azurewebsites.net/
  response:
    body:
      string: '<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport"
        content="width=device-width, initial-scale=1.0"><meta http-equiv=X-UA-Compatible
        content="IE=edge"><title>Microsoft Azure App Service - Welcome</title> <link
        rel="SHORTCUT ICON" href="https://c.s-microsoft.com/favicon.ico?v2" type="image/x-icon"/><link
        rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/css/bootstrap.min.css"
        crossorigin="anonymous"><link rel="stylesheet" type="text/css" href="https://appservice.azureedge.net/css/linux-landing-page/v3/main.css"><script
        type="text/javascript">window.onload=function(){try{var a=window.location.hostname;if(a.includes(".azurewebsites.net")){a=a.replace(".azurewebsites.net",
        "")}var b=document.getElementById("depCenterLink");b.setAttribute("href",
        b.getAttribute("href") + "&sitename=" + a);}catch(d){}}</script></head><body><nav
        class="navbar navbar-light bg-light"><a class="navbar-brand " href="#"><div
        class="container pl-4 ml-5"> <img src="https://appservice.azureedge.net/images/linux-landing-page/v3/microsoft_azure_logo.png"
        width="270" height="108" alt=""> </div></a></nav><div class="container-fluid
        container-height mr-2"><div class="pt-10 pb-10 mt-10 mb-10 d-xxs-none d-xs-none
        d-sm-none d-md-none d-lg-block d-xl-block" style="height:20px; width:100%;
        clear:both;"></div><div class="row"><div class="row col-xs-12 col-sm-12 d-block
        d-lg-none d-xl-none d-md-block d-sm-block d-xs-block"><div class="text-center">
        <img src="https://appservice.azureedge.net/images/linux-landing-page/v3/python.svg">
        </div></div><div class="extra-pl-small-scr offset-xl-1 offset-lg-1 offset-md-2
        offset-sm-2 offset-xs-2 col-xl-5 col-lg-5 col-md-10 col-sm-11 col-xs-11 div-vertical-center"><div
        class="container-fluid"><div class="row"><h2>Hey, Python developers!</h2>
        </div><br><div class="row"><h4>Your app service is up and running.</h4> </div><div
        class="row"><h4>Time to take the next step and deploy your code.</h4> </div><div
        class="row info-mg-top"><p class=" pl-0 col-md-6 col-sm-12 info-mg-top">Have
        your code ready?<br>Use deployment center to get code published from your
        client or setup continuous deployment.<br><a id=''depCenterLink'' href="https://go.microsoft.com/fwlink/?linkid=2057852"><button
        class="btn btn-primary btn-mg-top" type="submit">Deployment Center</button></a></p><p
        class="pl-0 offset-md-1 col-md-5 col-sm-12 info-mg-top">Don''t have your code
        yet?<br>Follow our quickstart guide and you''ll have a full app ready in 5
        minutes or less.<br><button onclick="location.href=''https://go.microsoft.com/fwlink/?linkid=2057226''"
        class="btn btn-primary btn-mg-top" type="submit">Quickstart</button></p></div></div></div><div
        class="col-xl-5 col-lg-5 col-md-12 d-none d-lg-block"><div class="text-center">
        <img src="https://appservice.azureedge.net/images/linux-landing-page/v3/python.svg">
        </div></div><div class="col-xl-1 col-lg-1 col-md-1"></div></div></div><!--
        Bootstrap core JavaScript==================================================--><script
        src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js" crossorigin="anonymous"></script><script
        src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/bootstrap.min.js" crossorigin="anonymous"></script></body></html>

        '
    headers:
      content-disposition:
      - inline; filename=hostingstart.html
      content-type:
      - text/html; charset=utf-8
      last-modified:
      - Fri, 09 Jul 2021 05:59:58 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/sites?api-version=2021-01-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestykcwvcfvrxzdy52gm/providers/Microsoft.Web/sites/up-pythonappcmhqr24gwrdy","name":"up-pythonappcmhqr24gwrdy","type":"Microsoft.Web/sites","kind":"app,linux","location":"South
 [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/sites/up-name-exists-app000003/config/web?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/sites/up-name-exists-app000003/config/web","name":"up-name-exists-app000003","type":"Micr[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/sites/up-name-exists-app000003/config/publishingcredentials/list?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/sites/up-name-exists-app000003/publishingcredentials/$up-name-exists-app000003","name":"up-name-exists-app000003","type":"Microsoft.Web/sites/publishingcredentials","location":"East
        US 2","properties":{"name":null,"publishingUserName":"$up-name-exists-app000003","publishingPassword":"nkvzgxshCCbqYsQDXtkXLnE2iYtBk5oXdxTtGBWmmyk2YcZxkwhgykDnCTLG","publishingPasswordHash":null,"publishingPasswordHashSalt":null,"metadata":null,"isDeleted":false,"scmUri":"https://$up-name-exists-app000003:nkvzgxshCCbqYsQDXtkXLnE2iYtBk5oXdxTtGBWmmyk2YcZxkwhgykDnCTLG@up-name-exists-app000003.scm.azurewebsites.net"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!binary |
      UEsDBBQAAAAIABV1UlNBwXdOjwIAAJ8EAAAHAAAATElDRU5TRV1TzW7iMBC+V+o7jDi1UtS9780E
      U6xN4sgx7XIMiSFehRjZpqhvvzNJoGolJOTxfH8zDgBALjRktjFDMI8Pjw9YgdSdP709dhGemmfI
      beNdcIeIdX92vo7WDS/A+h7GpgDeBOM/TPtyIyiNP9kQsA9sgM54s/+Eo6+HaNoEDt4YcAdoutof
      TQLRQT18wtn4gAC3j7Ud7HCEGho0MjFie+yQi3xca28Q0UIdgmtsjaTQuuZyMkMczcHB9ibAU+wM
      LKoZsXgelVpT9xOlHYAabvdwtbFzl0hporcNESXY1PSXltzcrnt7srMMwacRTIxIfwkYiGwncHKt
      PdC/GVOeL/vehi6B1hL//hKxGKg4zj6hRL+ch2D62SDSWIw[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
    method: GET
    uri: https://up-name-exists-app000003.scm.azurewebsites.net/api/deployments/mock-deployment
  response:
    body:
      string: '{"id":"temp-e7df521d","status":0,"status_text":"Receiving changes.","author_email":"N/A","author":"N/A","deployer":"Push-Deployer","message":"Deploying
        from pushed zip file","progress":"Fetching changes.","received_time":"2021-10-18T21:42:14.3776809Z","start_time":"2021-10-18T21:42:14.3776809Z","end_time":null,"last_success_end_time":null,"complete":false,"active":false,"is_temp":true,"is_readonly":false,"url":null,"log_url":null,"site_name":"up-name-exists-app000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://up-name-exists-app000003.scm.azurewebsites.net:80/api/deployments/latest
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/sites?api-version=2020-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Web/sites/up-name-exists-app000003","name":"up-name-exists-app000003","type":"Microsoft.Web/sites","kind":"app,linux","[...]
[...]
