interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_ssl_import","date":"2023-05-16T02:29:40Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "sku": {"name": "B1", "tier": "BASIC", "capacity":
      1}, "properties": {"perSiteScaling": false, "isXenon": false, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000003?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000003","name":"ssl-test-plan000003","type":"Microsoft.Web/serverfarms","kind":"app","location":"westeurope","properties":{"serverFarmId":14112,"name":"ssl-test-plan000003","sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestEuropewebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        Europe","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-am2-687_14112","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false},"sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D9879E6526D58B"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "web-ssl-test000004", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2022-03-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2022-03-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        7 (STS)","value":"dotnet7","minorVersions":[{"displayText":".NET 7 (STS)","value":"7","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v7.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.x"}},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|7.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.x"}}}}]},{"displayText":".NET
        6","value":"dotnet6","minorVersions":[{"displayText":".NET 6 (LTS)","value":"6","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v6.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"6.0.x"}},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|6.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"6.0.x"}}}}]},{"displayText":".NET
        5","value":"dotnet5","minorVersions":[{"displayText":".NET 5","value":"5","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v5.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"5.0.x"},"endOfLifeDate":"2022-05-08T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|5.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"5.0.x"},"endOfLifeDate":"2022-05-08T00:00:00Z"}}}]},{"displayText":".NET
        Core 3","value":"dotnetcore3","minorVersions":[{"displayText":".NET Core 3.1
        (LTS)","value":"3.1","stackSettings":{"windowsRuntimeSettings":{"runtimeV[...]
- request:
    body: '{"location": "West Europe", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "~14"}],
      "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped": false,
      "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000004?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000004","name":"web-ssl-test000004","type":"Microsoft.Web/sites","kind":"app","location":"West
        Europe","properties":{"name":"web-ssl-test000004","state":"Running","hostNames":["web-ssl-test000004.azurewebsites.net"],"webSpace":"clitest.rg000001-WestEuropewebspace","selfLink":"https://waws-prod-am2-687.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestEuropewebspace/sites/web-ssl-test000004","repositorySiteName":"web-ssl-test000004","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["web-ssl-test000004.azurewebsites.net","web-ssl-test000004.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"web-ssl-test000004.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"web-ssl-test000004.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000003","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2023-05-16T02:30:50.8666667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null},"deploymentId":"web-ssl-test000004","slotName":null,"trafficManagerHostNames":null,"sku":"Basic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","kind":"app","managedEnvironmentId":null,"inboundIpAddress":"20.105.224.32","possibleInboundIpAddresses":"20.105.224.32","ftpUsername":"web-ssl-test000004\\$web-ssl-test000004","ftpsHostName":"ftps://waws-prod-am2-687.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"20.160.241.187,20.160.241.193,20.160.242.210,20.160.243.9,20.160.243.84,20.160.243.141,20.105.224.32","possibleOutboundIpAddresses":"20.160.241.187,20.160.241.193,20.160.242.210,20.160.243.9,20.160.243.84,20.160.243.141,20.160.243.201,20.160.243.211,20.160.243.218,20.160.244.130,20.160.244.132,20.160.244.135,20.160.244.155,20.160.244.170,20.160.244.178,20.160.244.184,20.160.244.193,20.160.244.211,20.160.244.228,20.160.244.235,20.160.245.21,20.160.245.32,20.160.245.49,20.160.245.73,20.160.245.103,20.160.245.116,20.160.245.145,20.160.245.149,20.160.245.150,20.160.245.180,20.105.224.32","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-am2-687","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"web-ssl-test000004.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","defaultHostNameScope":"Global","privateLinkIdentifiers":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D9879E6EBC728B"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000004/publishxml?api-version=2022-03-01
  response:
    body:
      string: <publishData><publishProfile profileName="web-ssl-test000004 - Web Deploy"
        publishMethod="MSDeploy" publishUrl="web-ssl-test000004.scm.azurewebsites.net:443"
        msdeploySite="web-ssl-test000004" userName="$web-ssl-test000004" userPWD="lqfvTqt1RjpeS1lDRDRLGFpkxKCy6gqmAHQ49WlsCvgJWvBYBG0XqNydaChd"
        destinationAppUrl="http://web-ssl-test000004.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="web-ssl-test000004
        - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-am2-687.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="web-ssl-test000004\$web-ssl-test000004" userPWD="lqfvTqt1RjpeS1lDRDRLGFpkxKCy6gqmAHQ49WlsCvgJWvBYBG0XqNydaChd"
        destinationAppUrl="http://web-ssl-test000004.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="web-ssl-test000004
        - Zip Deploy" publishMethod="ZipDeploy" publishUrl="web-ssl-test000004.scm.azurewebsites.net:443"
        userName="$web-ssl-test000004" userPWD="lqfvTqt1RjpeS1lDRDRLGFpkxKCy6gqmAHQ49WlsCvgJWvBYBG0XqNydaChd"
        destinationAppUrl="http://web-ssl-test000004.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27Microsoft.Azure.WebSites%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"559f925e-c126-4b02-a759-f0b2f5d999fe","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"Microsoft
        Azure App Service","appDescription":null,"appId":"abfa0a7c-a6b6-4736-8310-5855508787cd","applicationTemplateId":null,"appOwnerOrganizationId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"createdDateTime":null,"description":null,"disabledByMicrosoftStatus":null,"displayName":"Microsoft
        Azure App Service","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":["https://trywebsites.azurewebsites.net/","https://trywebsitesstaging.azurewebsites.net/","https://resources-staging.azure.com","https://resources.azure.com","https://deploy.azure.com","https://deploy-staging.azure.com","https://tryappservice.azure.com","https://tryappservice-staging.azure.com","https://functions.azure.com","https://functions-staging.azure.com","https://functions-next.azure.com","https://scratch.botframework.com/","https://ppe.botframework.com/","https://functions-release.azure.com","https://dev.botframework.com/"],"servicePrincipalNames":["abfa0a7c-a6b6-4736-8310-5855508787cd","Microsoft.Azure.WebSites","https://appservice.azure.com"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"oauth2PermissionScopes":[{"adminConsentDescription":"Allow
        the application to access all the APIs registered with App Service","adminConsentDisplayName":"Access
        APIs registered with App Service","id":"e0ea806b-d128-49dc-ac08-2bf18f7874d8","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access all the APIs registered with App Service","userConsentDisplayName":"Access
        APIs registered with App Service","value":"user_impersonation"}],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF0000812E"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000002?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000002","name":"kv-ssl-test000002","type":"Microsoft.KeyVault/vaults","location":"westeurope","tags":{},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2023-05-16T02:29:50.106Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-16T02:29:50.106Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://kv-ssl-test000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "559f925e[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://kv-ssl-test000002.vault.azure.net/certificates/test-cert/import?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2023-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hang-rg/providers/Microsoft.KeyVault/vaults/hangkey","name":"hangkey","type":"Microsoft.KeyVault/vaults","location":"koreasouth","tags":{"kk":"kk","zz":"kk","--kk":"zz"},"systemData":{"createdBy":"hanglei@microsoft.com","createdByType":"User","createdAt":"2022-06-08T03:59:20.137Z","lastModifiedBy":"hanglei@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-14T03:04:03.45Z"},"properties":{"sku":{"family":"A","name":"Standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[{"value":"1.2.2.2/32"},{"value":"1.2.2.3/32"},{"value":"1.2.2.4/32"}],"virtualNetworkRules":[]},"accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"fe87037c-4c23-46ac-9fcf-5ad3d7e5ba3e","permissions":{"keys":["Get","List","Update","Create","Import","Delete","Recover","Backup","Restore","GetRotationPolicy","SetRotationPolicy","Rotate","Purge"],"secrets":["Get","List","Set","Delete","Recover","Backup","Restore"],"certificates":["Get","List","Update","Create","Import","Delete","Recover","Backup","Restore","ManageContacts","ManageIssuers","GetIssuers","ListIssuers","SetIssuers","DeleteIssuers"],"storage":["all","purge"]}},{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"4442e275-7210-4a69-81e7-b7c0955882b5","permissions":{"storage":["purge","all"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://hangkey.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2023-02-01&%24skiptoken=1ZRhb6MgGMe%2fi7ncqzkR6%2b3aZLl0m9JsK704V5F3CFiNilatVZd996NZ9h16b0iAJ5D%2f78fDh6Hk2L%2fmquiM1Yfhrd%2fC9zdjZWR933Qry6qYYgdZSdXfsvnUylteV1Z3Sjre5k2f16qzQGKnvxZ3tmknKTAXQjCTSe6YPFnCO5iCpbsEVtPWQy5k21nbnLd1V6f97Yuc9uxU9tZwGbs%2frMnNQZfoU%2b8hgI4JoAnsnz%2b6Ql9VF1Ldx6Q5czhOdF6f8dMexuShZMj9%2fbV%2bhlz5Ew09GKuyNW6MyHsLvfdg99e73kRwbATaz%2bLR1amCkYd0wqEYqPJnNmN3WxWOnh%2bxgzOh%2fAFvshN%2fosfEaYoE%2beeY0IpXWSEQBZg8nIXCrd6fxabM%2beZhgUNcp6iHrwTPyaMNKMGAInqkkV9Q4gFN6cs5vGpExAlK7gRpDJdzEi1nip5T7pSzRtcTWBY0cgEjgUuc50vdwKt9TTce4FVzlKjQOPwCR0vF4N6Jo8zliCoRBiCeNepIFCnCHYv6UhKaiWgEr6FQEjV5Ej1%2fP6T%2fpC0owotkPkBBmu%2b2OOPKHuVTMFGYDVr4yy7Qznfv4eZqnTPkn%2bhkT9QZ6zhyL95c4%2fPGYG21PhxaeWC9FOHlT9AR1sHW%2bPwH"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 796ec215-0795-43bc-856e-cdbe6b316a63
      - e38752d6-0d13-44e5-9faa-03c4183edaf9
      - 0552a84d-226f-4c51-a282-3e99be47bc1e
      - bf5590e8-d703-41c2-aed6-ef9f080321c6
      - 75651f7b-f1d8-420e-aae4-dbd3cf82e1ba
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2023-02-01&$skiptoken=1ZRhb6MgGMe/i7ncqzkR6%2B3aZLl0m9JsK704V5F3CFiNilatVZd996NZ9h16b0iAJ5D/78fDh6Hk2L/mquiM1Yfhrd/C9zdjZWR933Qry6qYYgdZSdXfsvnUylteV1Z3Sjre5k2f16qzQGKnvxZ3tmknKTAXQjCTSe6YPFnCO5iCpbsEVtPWQy5k21nbnLd1V6f97Yuc9uxU9tZwGbs/rMnNQZfoU%2B8hgI4JoAnsnz%2B6Ql9VF1Ldx6Q5czhOdF6f8dMexuShZMj9/bV%2Bhlz5Ew[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2023-02-01&$skiptoken=1ZPdjpswEIXfBVW9WhZjQ3eJFFVJN4C2CduQH37uDDYJBBsXOwmw2ncvUdp32N7MxWg0o/PNOe8ap51alvwktcm7tphttruNNtGOSgk5MQyGOT5QRrl6xMO5pY95wwx5zmTelkKVDZcGyMzim/Vk6mZWAN0iBOuY5kjPMwc%2BwQI4tgMM0TaXktBWGqsybxvZFOrxJ%2B33%2BFwr43Kr8jsWpX4ZR8atUwgg0gHUgfn1izyNp5oT5dMkFtccdn06zK5vXjNkL26V%2BeHzvX9FmK37pA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2023-02-01&$skiptoken=1ZPbbptAEIbfBVW9CgaGkMSWrMppHVzXbBuMOezdsrscArsgDjYQ5d2Lm6rPkN7MxWg0o/%2Bb/39VJB%2B6Qy6LVlm9KtvN0TsdlZWSdV3drjRNEElSLrjsFmTqG76gldDaPm5pk9ddXslW02Mjubu9N1QjTnT1ljGiEk5NlcZLuIdEX1pLXaub6pwz3rSak9OmaqukW/zgo0/6stPO19p%2BIXWunueReesadDBVHVTd%2BPypLeZTVcHlOgrrC4VhxNPmgu1OOF46RMH%2B4b1/0WPh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2023-02-01&$skiptoken=1VNdj5swEPwvqOrTEWwT7ppIURU1CRENtCUJYL8Z2yQQDA4fCXC6/17Sa/D9WUfdlezmtmZV60QXbNLi0utzV%2B19XJ/OO61uXZuGlXPDUPSgp6EFEUzoUNbiQkrpVG3cc2qVDVpWdQGiGHyPH2BOowToE85pzoVzNRZPEMvKAEzawYMVZW3lIuqNtyUVWVdJs3ku%2BgD2uaNcXvU%2BitVqX4bV0bUBQLI1AHSAfz8qb6Mp8qLKBY4UneGup4MyztFuHMzfqOIf3nv3yFGQUpsS/GtU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CertificateRegistration/certificateOrders?api-version=2022-03-01
  response:
    body:
      string: '{"value":[],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals/a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2023-05-16T02:31:25","request-id":"91739145-eae6-4546-a680-aa662b3c4fd6","client-request-id":"91739145-eae6-4546-a680-aa662b3c4fd6"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"SI1PEPF0000CB75"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "West Europe", "properties": {"password": "", "keyVaultId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000002",
      "keyVaultSecretName": "test-cert", "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000003"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/certificates/test123?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/certificates/test123","name":"test123","type":"Microsoft.Web/certificates","location":"West
[...]
