interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001","name":"cli_test_webapp_deployment_source_configzip_runtimestatus000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_deployment_source_track_runtimestatus_buildfailed","date":"2026-04-30T15:00:44Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"perSiteScaling": false, "reserved":
      true}, "sku": {"capacity": 1, "name": "S1", "tier": "STANDARD"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003?api-version=2025-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003","name":"webapp-runtimestatus-plan000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"eastus","properties":{"serverFarmId":53780,"name":"webapp-runtimestatus-plan000003","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli_test_webapp_deployment_source_configzip_runtimestatus000001-EastUSwebspace-Linux","subscription":"7e574780-0f87-42e8-af8c-5e8cb7d3540a","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"cli_test_webapp_deployment_source_configzip_runtimestatus000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-blu-167_53780","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":1,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2026-04-30T15:00:56.1366667","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":""},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - 1DCD8B22635A360
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "webapp-runtimestatus-test000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2024-11-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        10 (LTS)","value":"dotnet10","minorVersions":[{"displayText":".NET 10 (LTS)","value":"10","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v10.0","remoteDebuggingSupported":false,"isHidden":false,"isPreview":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"10.x"},"appSettingsDictionary":{"ApplicationInsightsAgent_EXTENSION_VERSION":"~2"},"endOfLifeDate":"2028-12-01T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|10.0","remoteDebuggingSupported":false,"isHidden":false,"isPreview":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"10.x"},"supportedFeatures":{"disableSsh":true},"appSettingsDictionary":{"ApplicationInsightsAgent_EXTENSION_VERSION":"~3"},"endOfLifeDate":"2028-12-01T00:00:00Z"}}}]},{"displayText":".NET
        9 (STS)","value":"dotnet9","minorVersions":[{"displayText":".NET 9 (STS)","value":"9","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v9.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.x"},"appSettingsDictionary":{"[...]
- request:
    body: '{"location": "East US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "linuxFxVersion": "NODE|22-lts", "appSettings": [], "alwaysOn": true,
      "localMySqlEnabled": false, "http20Enabled": true, "http20ProxyFlag": 0}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002","name":"webapp-runtimestatus-test000002","type":"Microsoft.Web/sites","kind":"app,linux","location":"East
        US","properties":{"name":"webapp-runtimestatus-test000002","state":"Running","hostNames":["webapp-runtimestatus-test000002.azurewebsites.net"],"webSpace":"cli_test_webapp_deployment_source_configzip_runtimestatus000001-EastUSwebspace-Linux","selfLink":"https://waws-prod-blu-167.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli_test_webapp_deployment_source_configzip_runtimestatus000001-EastUSwebspace-Linux/sites/webapp-runtimestatus-test000002","repositorySiteName":"webapp-runtimestatus-test000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["webapp-runtimestatus-test000002.azurewebsites.net","webapp-runtimestatus-test000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"NODE|22-lts"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-runtimestatus-test000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-runtimestatus-test000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"hostNamePrivateStates":[],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003","reserved":true,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2026-04-30T15:01:01.4333333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false,"managedIdentityTraffic":false},"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"aiIntegration":null,"deploymentId":"webapp-runtimestatus-test000002","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"E95CD5D99DAA0B5F85B5E6657D0E930ABF30E16BEE16AA7416E1C006FBE2EFC4","kind":"app,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"40.71.11.143","possibleInboundIpAddresses":"40.71.11.143","inboundIpv6Address":"2603:1030:210:6::18","possibleInboundIpv6Addresses":"2603:1030:210:6::18","ftpUsername":"webapp-runtimestatus-test000002\\$webapp-runtimestatus-test000002","ftpsHostName":"ftps://waws-prod-blu-167.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"40.117.230.15,104.211.5.249,168.62.181.40,52.168.3.5,40.71.11.143","possibleOutboundIpAddresses":"40.117.230.15,104.211.5.249,168.62.181.40,52.168.3.5,168.62.51.220,13.92.179.222,52.168.2.55,13.92.181.253,168.62.180.253,20.246.210.180,20.246.210.210,20.246.210.219,20.246.210.222,20.246.211.30,20.246.211.74,20.237.37.126,20.237.38.111,20.237.38.253,20.237.39.18,20.121.152.169,20.237.39.142,40.71.11.143","outboundIpv6Addresses":"2603:1030:20c:f::c93,2603:1030:20e:1f::9a,2603:1030:20e:12::a1,2603:1030:20e:14::a6,2603:1030:210:6::18,2603:10e1:100:2::2847:b8f","possibleOutboundIpv6Addresses":"2603:1030:20c:f::c93,2603:1030:20e:1f::9a,2603:1030:20e:12::a1,2603:1030:20e:14::a6,2603:1030:20e:16::93,2603:1030:20e:11::b4,2603:1030:20c:f::c94,2603:1030:20e:22::b3,2603:1030:20e:18::115,2603:1030:20e:1d::93,2603:1030:20e:19::a1,2603:1030:20c:a::255,2603:1030:20e:8::190,2603:1030:20e:12::a2,2603:1030:20e:13::ac,2603:1030:20e:1f::9b,2603:1030:20e:e::ba,2603:1030:20c:f::c95,2603:1030:20e:f::93,2603:1030:20c:f::c96,2603:1030:20e:a::8c,2603:1030:210:6::18,2603:10e1:100:2::2847:b8f","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-blu-167","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli_test_webapp_deployment_source_configzip_runtimestatus000001","defaultHostName":"webapp-runtimestatus-test000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs,AppServiceAuditLogs,AppServiceIPSecAuditLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null,"maintenanceEnabled":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DCD8B2291E4460"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/publishxml?api-version=2024-11-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-runtimestatus-test000002
        - Web Deploy" publishMethod="MSDeploy" publishUrl="webapp-runtimestatus-test000002.scm.azurewebsites.net:443"
        msdeploySite="webapp-runtimestatus-test000002" userName="REDACTED" userPWD="REDACTED"
        destinationAppUrl="https://webapp-runtimestatus-test000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" web[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/basicPublishingCredentialsPolicies/scm?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/basicPublishingCredentialsPolicies/scm","name":"scm","type":"Microsoft.Web/sites/basicPublishingCredentialsPolicies","location":"East
        US","properties":{"allow":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      UEsDBBQAAAAAAPCaAldtuEEbLAAAACwAAAALAAAALmRlcGxveW1lbnRbY29uZmlnXQpTQ01fRE9f
      QlVJTERfRFVSSU5HX0RFUExPWU1FTlQ9dHJ1ZVBLAwQUAAAACADwmgJXT0ODRUsAAABQAAAAFQAA
      AC52c2NvZGUvc2V0dGluZ3MuanNvbqvm5VJQUEosKAhOLSrLTE7Vq8os8EzPyy9KDUgsKUktylOy
      UohWystPSY3PzU8pzUktrtbR19KqVdJRUNIrK04GSkAFYnm5anm5AFBLAwQUAAAACAAkn+VWRamG
      mNQBAAAyBAAABgAAAGFwcC5qc4VTTY+bMBC951fMzY7EQg7by0ZRT71X/QMrFybgFGx3bNitsvnv
      HYNJjRq1NzPvzZs3H0yKoCZUAb8QWYITEP4cNaEUXQjuCWP[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/deployments/mock-deployment
  response:
    body:
      string: '{"id":"7cbaa289-29ba-4f8c-953f-148ab9e18447","status":1,"status_text":"Building
        and Deploying ''7cbaa289-29ba-4f8c-953f-148ab9e18447''.","author_email":"N/A","author":"N/A","deployer":"Push-Deployer","message":"Created
        via a push deployment","progress":"PreDeployment: context.OutputPath /home/site/wwwroot","received_time":"2026-04-30T15:05:25.7159985Z","start_time":"2026-04-30T15:05:27.3338852Z","end_time":null,"last_success_end_time":null,"complete":false,"active":false,"is_temp":false,"is_readonly":true,"url":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/deployments/7cbaa289-29ba-4f8c-953f-148ab9e18447","log_url":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/deployments/7cbaa289-29ba-4f8c-953f-148ab9e18447/log","site_name":"webapp-runtimestatus-test000002","build_summary":{"errors":[],"warnings":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://webapp-runtimestatus-test000002.scm.azurewebsites.net:443/api/deployments/latest
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/7cbaa289-29ba-4f8c-953f-148ab9e18447?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/7cbaa289-29ba-4f8c-953f-148ab9e18447","name":"7cbaa289-29ba-4f8c-953f-148ab9e18447","type":"Microsoft.Web/sites/deploymentStatus","location":"East
        US","properties":{"deploymentId":"7cbaa289-29ba-4f8c-953f-148ab9e18447","status":"BuildInProgress","numberOfInstancesInProgress":0,"numberOfInstancesSuccessful":0,"numberOfInstancesFailed":0,"failedInstancesLogs":null,"errors":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DCD8B23494060B"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/7cbaa289-29ba-4f8c-953f-148ab9e18447?api-version=2024-11-01&t=639131583304146026&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/7cbaa289-29ba-4f8c-953f-148ab9e18447?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/7cbaa289-29ba-4f8c-953f-148ab9e18447","name":"7cbaa289-29ba-4f8c-953f-148ab9e18447","type":"Microsoft.Web/sites/deploymentStatus","location":"East
        US","properties":{"deploymentId":"7cbaa289-29ba-4f8c-953f-148ab9e18447","status":"BuildFailed","numberOfInstancesInProgress":0,"numberOfInstancesSuccessful":0,"numberOfInstancesFailed":0,"failedInstancesLogs":["https://webapp-runtimestatus-test000002.scm.azurewebsites.net/deployments/7cbaa289-29ba-4f8c-953f-148ab9e18447/log"],"errors":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DCD8B23494060B"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
