interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/webapp_hyperv_e2e000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001","name":"webapp_hyperv_e2e000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-24T02:22:49Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "webapp-hyperv-plan000003", "type": "Microsoft.Web/serverfarms",
      "location": "eastus", "properties": {"skuName": "PC2", "capacity": 1, "isXenon":
      true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/validate?api-version=2019-08-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1177'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"perSiteScaling": false, "isXenon":
      false, "hyperV": true}, "sku": {"name": "PC2", "tier": "PremiumContainer", "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/serverfarms/webapp-hyperv-plan000003?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/serverfarms/webapp-hyperv-plan000003","name":"webapp-hyperv-plan000003","type":"Microsoft.Web/serverfarms","kind":"windows","location":"East
        US","properties":{"serverFarmId":4940,"name":"webapp-hyperv-plan000003","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"webapp_hyperv_e2e000001-EastUSwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":20,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"windows","resourceGroup":"webapp_hyperv_e2e000001","reserved":false,"isXenon":true,"hyperV":true,"mdmId":"waws-prod-blu-105_4940","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null},"sku":{"name":"PC2","tier":"PremiumContainer","size":"PC2","family":"PC","capacity":1}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1183'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/serverfarms?api-version=2019-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/serverfarms/webapp-hyperv-plan000003","name":"webapp-hyperv-plan000003","type":"Microsoft.Web/serverfarms","kind":"windows","location":"East
        US","properties":{"serverFarmId":4940,"name":"webapp-hyperv-plan000003","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"webapp_hyperv_e2e000001-EastUSwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":20,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"windows","resourceGroup":"webapp_hyperv_e2e000001","reserved":false,"isXenon":true,"hyperV":true,"mdmId":"waws-prod-blu-105_4940","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null},"sku":{"name":"PC2","tier":"PremiumContainer","size":"PC2","family":"PC","capacity":1}}],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "webapp-hyperv-e2e000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2019-08-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "East US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/serverfarms/webapp-hyperv-plan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "windowsFxVersion": "DOCKER|microsoft/iis:nanoserver-sac2016", "appSettings":
      [{"name": "DOCKER_REGISTRY_SERVER_USERNAME"}, {"name": "DOCKER_REGISTRY_SERVER_PASSWORD"},
      {"name": "DOCKER_REGISTRY_SERVER_URL"}], "alwaysOn": true, "localMySqlEnabled":
      false, "http20Enabled": true}, "scmSiteAlsoStopped": false, "httpsOnly": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/sites/webapp-hyperv-e2e000002?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/sites/webapp-hyperv-e2e000002","name":"webapp-hyperv-e2e000002","type":"Microsoft.Web/sites","kind":"app,container,windows","location":"East
        US","properties":{"name":"webapp-hyperv-e2e000002","state":"Running","hostNames":["webapp-hyperv-e2e000002.azurewebsites.net"],"webSpace":"webapp_hyperv_e2e000001-EastUSwebspace","selfLink":"https://waws-prod-blu-105.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/webapp_hyperv_e2e000001-EastUSwebspace/sites/webapp-hyperv-e2e000002","repositorySiteName":"webapp-hyperv-e2e000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["webapp-hyperv-e2e000002.azurewebsites.net","webapp-hyperv-e2e000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":"DOCKER|microsoft/iis:nanoserver-sac2016"}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-hyperv-e2e000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-hyperv-e2e000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/serverfarms/webapp-hyperv-plan000003","reserved":false,"isXenon":true,"hyperV":true,"lastModifiedTimeUtc":"2020-07-24T02:23:12.7766667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":null,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":null,"windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":null,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":null,"minTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0},"deploymentId":"webapp-hyperv-e2e000002","trafficManagerHostNames":null,"sku":"PremiumContainer","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","kind":"app,container,windows","inboundIpAddress":"137.117.93.87","possibleInboundIpAddresses":"137.117.93.87","ftpUsername":"webapp-hyperv-e2e000002\\$webapp-hyperv-e2e000002","ftpsHostName":"ftps://waws-prod-blu-105.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"137.117.93.87,137.135.73.8,137.135.72.120,137.135.73.11","possibleOutboundIpAddresses":"137.117.93.87,137.135.73.8,137.135.72.120,137.135.73.11","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-blu-105","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"webapp_hyperv_e2e000001","defaultHostName":"webapp-hyperv-e2e000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D6616162AB7215"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/sites/webapp-hyperv-e2e000002/publishxml?api-version=2019-08-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-hyperv-e2e000002 -
        Web Deploy" publishMethod="MSDeploy" publishUrl="webapp-hyperv-e2e000002.scm.azurewebsites.net:443"
        msdeploySite="webapp-hyperv-e2e000002" userName="$webapp-hyperv-e2e000002"
        userPWD="cW4Ft3pktuQYms14ZxwxuCRoxs5h1iiSqwmXWi6hKiCmZNSomg5RqB33kpC9" destinationAppUrl="http://webapp-hyperv-e2e000002.azurewebsites.net"
        SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="ht[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/sites/webapp-hyperv-e2e000002/config/appsettings/list?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/sites/webapp-hyperv-e2e000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"East
        US","properties":{"DOCKER_REGISTRY_SERVER_USERNAME":"","DOCKER_REGISTRY_SERVER_PASSWORD":"","DOCKER_REGISTRY_SERVER_URL":""}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/sites/webapp-hyperv-e2e000002/config/slotConfigNames?api-version=2019-08-01
  response:
    body:
      string: '{"id":null,"name":"webapp-hyperv-e2e000002","type":"Microsoft.Web/sites","location":"East
        US","properties":{"connectionStringNames":null,"appSettingNames":null,"azureStorageConfigNames":null}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/sites/webapp-hyperv-e2e000002/config/web?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/sites/webapp-hyperv-e2e000002/config/web","name":"webapp-hyperv-e2e000[...]
- request:
    body: '{"properties": {"numberOfWorkers": 1, "defaultDocuments": ["Default.htm",
      "Default.html", "Default.asp", "index.htm", "index.html", "iisstart.htm", "default.aspx",
      "index.php", "hostingstart.html"], "netFrameworkVersion": "v4.0", "phpVersion":
      "", "pythonVersion": "", "nodeVersion": "", "powerShellVersion": "", "linuxFxVersion":
      "", "windowsFxVersion": "DOCKER|microsoft/iis:nanoserver-sac2016", "requestTracingEnabled":
      false, "remoteDebuggingEnabled": false, "httpLoggingEnabled": false, "logsDirectorySizeLimit":
      35, "detailedErrorLoggingEnabled": false, "publishingUsername": "$webapp-hyperv-e2e000002",
      "scmType": "None", "use32BitWorkerProcess": false, "webSocketsEnabled": false,
      "alwaysOn": true, "appCommandLine": "", "managedPipelineMode": "Integrated",
      "virtualApplications": [{"virtualPath": "/", "physicalPath": "site\\wwwroot",
      "preloadEnabled": true}], "loadBalancing": "LeastRequests", "experiments": {"rampUpRules":
      []}, "autoHealEnabled": false, "vnetName": "", "localMySqlEnabled": false, "ipSecurityRestrictions":
      [{"ipAddress": "Any", "action": "Allow", "priority": 1, "name": "Allow all",
      "description": "Allow all access"}], "scmIpSecurityRestrictions": [{"ipAddress":
      "Any", "action": "Allow", "priority": 1, "name": "Allow all", "description":
      "Allow all access"}], "scmIpSecurityRestrictionsUseMain": false, "http20Enabled":
      true, "minTlsVersion": "1.2", "ftpsState": "A[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/sites?api-version=2019-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_e2e000001/providers/Microsoft.Web/sites/webapp-hyperv-e2e000002","name":"webapp-hyperv-e2e000002","type":"Microsoft.Web/sites","k[...]
[...]
