interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"59f0a04a-b322-4310-adc9-39ac41e9631e","roleDefinitionId":"be29d5e9-f2ee-4c50-bf95-71cec72c205f"},{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Japan West","Australia
        Southeast","France South","Jio India West","Spain Central","Italy North","Poland
        Central","South India"],"apiVersions":["2025-02-02-preview","2025-01-01","2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2024-10-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerappmanagedenvironment000004?api-version=2025-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/containerappmanagedenvironment000004''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "southcentralus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": null,
      "logAnalyticsConfiguration": null}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerappmanagedenvironment000004?api-version=2025-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerappmanagedenvironment000004","name":"containerappmanagedenvironment000004","type":"Microsoft.App/managedEnvironments","location":"South
        Central US","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-02T14:03:44.4257154","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-02T14:03:44.4257154"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"purplebeach-9a952f61.southcentralus.azurecontainerapps.io","staticIp":"4.151.40.210","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"zoneRedundant":false,"kedaConfiguration":{"version":"2.16.1"},"daprConfiguration":{"version":"1.13.6-msft.2"},"eventStreamEndpoint":"https://southcentralus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/containerappmanagedenvironment000004/eventstream","customDomainConfiguration":{"customDomainVerificationId":"A30F88B2892200B69DBBE4A3E3C91893CCE4CCA962F6402141769B98AAAD5615","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/southcentralus/managedEnvironmentOperationStatuses/d42cb377-0a6b-471a-b71d-589d6e494f84?api-version=2025-01-01&azureAsyncOperation=true&t=638870618256288464&c=MIIHhzCCBm-gAwIBAgITfAd-Vd7NbNf6pu3--QAAB35V3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDE4MDkzMjM0WhcNMjUxMDE1MDkzMjM0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/southcentralus/managedEnvironmentOperationStatuses/d42cb377-0a6b-471a-b71d-589d6e494f84?api-version=2025-01-01&azureAsyncOperation=true&t=638870618256288464&c=MIIHhzCCBm-gAwIBAgITfAd-Vd7NbNf6pu3--QAAB35V3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhc[...]
[...]
- request:
    body: '{"location": "southcentralus", "sku": {"name": "S1", "tier": "STANDARD"},
      "properties": {"perSiteScaling": false, "reserved": true, "isXenon": false,
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/functionappplan000005?api-version=2024-04-01
  response:
    body:
      string: '{"Code":"Unauthorized","Message":"Operation cannot be completed without
        additional quota. See https://aka.ms/antquotahelp for instructions on requesting
        limit increases. \r\nAdditional details- Location:  \r\nCurrent Limit (Standard
        VMs): 0 \r\nCurrent Usage: 0\r\nAmount required for this deployment (Standard
        VMs): 0 \r\n(Minimum) New Limit that you should request to enable this deployment:
        0. \r\nNote that if you experience multiple scaling operations failing (in
        addition to this one) and need to accommodate the aggregate quota requirements
        of these operations, you will need to request a higher quota limit than the
        one currently displayed.","Target":null,"Details":[{"Message":"Operation cannot
        be completed without additional quota. See https://aka.ms/antquotahelp for
        instructions on requesting limit increases. \r\nAdditional details- Location:  \r\nCurrent
        Limit (Standard VMs): 0 \r\nCurrent Usage: 0\r\nAmount required for this deployment
        (Standard VMs): 0 \r\n(Minimum) New Limit that you should request to enable
        this deployment: 0. \r\nNote that if you experience multiple scaling operations
        failing (in addition to this one) and need to accommodate the aggregate quota
        requirements of these operations, you will need to request a higher quota
        limit than the one currently displayed."},{"Code":"Unauthorized"},{"ErrorEntity":{"ExtendedCode":"70002","MessageTemplate":"Operation
        cannot be completed without additional quota. See https://aka.ms/antquotahelp
        for instructions on requesting limit increases. \r\nAdditional details- Location:
        {0} \r\nCurrent Limit ({1}): {2} \r\nCurrent Usage: {3}\r\nAmount required
        for this deployment ({1}): {4} \r\n(Minimum) New Limit that you should request
        to enable this deployment: {5}. \r\nNote that if you experience multiple scaling
        operations failing (in addition to this one) and need to accommodate the aggregate
        quota requirements of these operations, you will need to request a higher
        quota limit than the one currently displayed.","Parameters":["","Standard
        VMs","0","0","0","0"],"Code":"Unauthorized","Message":"Operation cannot be
        completed without additional quota. See https://aka.ms/antquotahelp for instructions
        on requesting limit increases. \r\nAdditional details- Location:  \r\nCurrent
        Limit (Standard VMs): 0 \r\nCurrent Usage: 0\r\nAmount required for this deployment
        (Standard VMs): 0 \r\n(Minimum) New Limit that you should request to enable
        this deployment: 0. \r\nNote that if you experience multiple scaling operations
        failing (in addition to this one) and need to accommodate the aggregate quota
        requirements of these operations, you will need to request a higher quota
        limit than the one currently displayed."}}],"Innererror":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 401
      message: Unauthorized
version: 1
