interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001","name":"cli_test_webapp_deployment_source_configzip_runtimestatus000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_deployment_source_track_runtimestatus_runtimefailed","date":"2025-07-16T19:59:08Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "S1", "tier": "STANDARD", "capacity":
      1}, "properties": {"perSiteScaling": false, "reserved": true, "isXenon": false,
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003","name":"webapp-runtimestatus-plan000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"eastus","properties":{"serverFarmId":27150,"name":"webapp-runtimestatus-plan000003","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli_test_webapp_deployment_source_configzip_runtimestatus000001-EastUSwebspace-Linux","subscription":"50821c37-1271-4210-8e1f-568acc6ecc66","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"cli_test_webapp_deployment_source_configzip_runtimestatus000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-blu-577_27150","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":3,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2025-07-16T19:59:19.2233333","asyncScalingEnabled":false},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DBF68C1E37F680"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "webapp-runtimestatus-test000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2024-11-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        9 (STS)","value":"dotnet9","minorVersions":[{"displayText":".NET 9 (STS)","value":"9","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v9.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.x"},"endOfLifeDate":"2026-05-12T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|9.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.x"},"supportedFeatures":{"disableSsh":true},"endOfLifeDate":"2026-05-12T00:00:00Z"}}}]},{"displayText":".NET
        8 (LTS)","value":"dotnet8","minorVersions":[{"displayText":".NET 8 (LTS)","value":"8","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v8.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.x"},"endOfLifeDate":"2026-11-10T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|8.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.x"},"supportedFeatures":{"disableSsh":true},"endOfLifeDate":"2026-11-10T00:00:00Z"}}}]},{"displayText":".NET
        7 (STS)","value":"dotnet7","minorVersions":[{"displayText":".NET 7 (STS)","value":"7","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v7.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.x"},"endOfLifeDate":"2024-05-14T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|7.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.x"},"supportedFeatures":{"disableSsh":true},"endO[...]
- request:
    body: '{"location": "East US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "linuxFxVersion": "NODE|20-lts", "appSettings": [], "alwaysOn": true,
      "localMySqlEnabled": false, "http20Enabled": true, "http20ProxyFlag": 0}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002","name":"webapp-runtimestatus-test000002","type":"Microsoft.Web/sites","kind":"app,linux","location":"East
        US","properties":{"name":"webapp-runtimestatus-test000002","state":"Running","hostNames":["webapp-runtimestatus-test000002.azurewebsites.net"],"webSpace":"cli_test_webapp_deployment_source_configzip_runtimestatus000001-EastUSwebspace-Linux","selfLink":"https://waws-prod-blu-577.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli_test_webapp_deployment_source_configzip_runtimestatus000001-EastUSwebspace-Linux/sites/webapp-runtimestatus-test000002","repositorySiteName":"webapp-runtimestatus-test000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["webapp-runtimestatus-test000002.azurewebsites.net","webapp-runtimestatus-test000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"NODE|20-lts"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-runtimestatus-test000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-runtimestatus-test000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003","reserved":true,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2025-07-16T19:59:27.2466667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false},"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"webapp-runtimestatus-test000002","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"C4C02A18828506F81C8FA754DCC380496D4C309F80135C91EE4748B49E9BCDD1","kind":"app,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.119.16.58","possibleInboundIpAddresses":"20.119.16.58","inboundIpv6Address":"2603:1030:210:6::22","possibleInboundIpv6Addresses":"2603:1030:210:6::22","ftpUsername":"webapp-runtimestatus-test000002\\$webapp-runtimestatus-test000002","ftpsHostName":"ftps://waws-prod-blu-577.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"4.255.126.22,4.255.126.31,4.255.126.34,4.255.126.38,4.255.126.58,4.255.126.60,4.255.124.233,4.255.124.236,172.214.68.69,4.255.125.13,4.255.125.14,4.255.125.23,20.119.16.58","possibleOutboundIpAddresses":"4.255.126.22,4.255.126.31,4.255.126.34,4.255.126.38,4.255.126.58,4.255.126.60,4.255.124.233,4.255.124.236,172.214.68.69,4.255.125.13,4.255.125.14,4.255.125.23,4.255.125.72,4.255.125.84,4.255.125.92,4.255.125.94,4.255.125.111,4.255.125.113,4.255.125.190,4.255.125.192,4.255.125.195,4.255.125.205,4.255.125.240,4.255.126.4,4.255.126.100,4.255.126.115,4.255.126.122,4.255.126.184,4.255.126.228,4.255.127.7,20.119.16.58","outboundIpv6Addresses":"2603:1030:20e:d::9d,2603:1030:20e:24::84,2603:1030:20e:17::94,2603:1030:20e:21::95,2603:1030:20e:d::9e,2603:1030:20e:21::96,2603:1030:20e:6::130,2603:1030:20e:18::121,2603:1030:20e:7::12f,2603:1030:20e:1e::7f,2603:1030:20e:1f::a1,2603:1030:20e:19::a8,2603:1030:210:6::22,2603:10e1:100:2::1477:103a","possibleOutboundIpv6Addresses":"2603:1030:20e:d::9d,2603:1030:20e:24::84,2603:1030:20e:17::94,2603:1030:20e:21::95,2603:1030:20e:d::9e,2603:1030:20e:21::96,2603:1030:20e:6::130,2603:1030:20e:18::121,2603:1030:20e:7::12f,2603:1030:20e:1e::7f,2603:1030:20e:1f::a1,2603:1030:20e:19::a8,2603:1030:20e:18::122,2603:1030:20e:f::99,2603:1030:20e:a::8d,2603:1030:20e:18::123,2603:1030:20e:1b::b9,2603:1030:20c:f::c9e,2603:1030:20e:21::94,2603:1030:20e:1b::ba,2603:1030:20c:a::25d,2603:1030:20c:f::c9f,2603:1030:20e:1b::bb,2603:1030:20e:a::8e,2603:1030:20e:6::132,2603:1030:20e:d::9f,2603:1030:20e:1c::a6,2603:1030:20e:1a::98,2603:1030:20e:6::133,2603:1030:20e:1d::97,2603:1030:210:6::22,2603:10e1:100:2::1477:103a","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-blu-577","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli_test_webapp_deployment_source_configzip_runtimestatus000001","defaultHostName":"webapp-runtimestatus-test000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DBF68C22F50960"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/publishxml?api-version=2024-11-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-runtimestatus-test000002
        - Web Deploy" publishMethod="MSDeploy" publishUrl="webapp-runtimestatus-test000002.scm.azurewebsites.net:443"
        msdeploySite="webapp-runtimestatus-test000002" userName="REDACTED" userPWD="REDACTED"
        destinationAppUrl="http://webapp-runtimestatus-test000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" webS[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/basicPublishingCredentialsPolicies/scm?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/basicPublishingCredentialsPolicies/scm","name":"scm","type":"Microsoft.Web/sites/basicPublishingCredentialsPolicies","location":"East
        US","properties":{"allow":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/instances?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/instances/f83f3ee9d12286f77233e42da2051dc9f32cd9fc92bde9436ebe04cf374c5900","name":"f83f3ee9d12286f77233e42da2051dc9f32cd9fc92bde9436ebe04cf374c5900","type":"Microsoft.Web/sites/instances","location":"East
        US","properties":{"state":"UNKNOWN","name":"f83f3ee9d12286f77233e42da2051dc9f32cd9fc92bde9436ebe04cf374c5900","siteInstanceName":"f83f3ee9d12286f77233e42da2051dc9f32cd9fc92bde9436ebe04cf374c5900","statusUrl":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/AppServiceTunnel/Tunnel.ashx?GetStatus&GetStatusAPIVer=2&instance=f83f3ee9d12286f77233e42da2051dc9f32cd9fc92bde9436ebe04cf374c5900","detectorUrl":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/detectors","consoleUrl":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/webssh/host?instance=f83f3ee9d12286f77233e42da2051dc9f32cd9fc92bde9436ebe04cf374c5900","healthCheckUrl":null,"machineName":"lw1sdlwk0002UZ","containers":null,"physicalZone":"eastus-az3"}}],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DBF68C2E9E2A15"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!binary |
      UEsDBBQAAAAAAPCaAldtuEEbLAAAACwAAAALAAAALmRlcGxveW1lbnRbY29uZmlnXQpTQ01fRE9f
      QlVJTERfRFVSSU5HX0RFUExPWU1FTlQ9dHJ1ZVBLAwQUAAAACADwmgJXT0ODRUsAAABQAAAAFQAA
      AC52c2NvZGUvc2V0dGluZ3MuanNvbqvm5VJQUEosKAhOLSrLTE7Vq8os8EzPyy9KDUgsKUktylOy
      UohWystPSY3PzU8pzUktrtbR19KqVdJRUNIrK04GSkAFYnm5anm5AFBLAwQUAAAACAAkn+VWRamG
      mNQBAAAyBAAABgAAAGFwcC5qc4VTTY+bMBC951fMzY7EQg7by0ZRT71X/QMrFybgFGx3bNitsvnv
      HYNJjRq1NzPvzZs3H0yKoCZUAb8QWYITEP4cNaEUXQjuCWP[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/deployments/mock-deployment
  response:
    body:
      string: '{"id":"8f72b255-c237-4282-af72-d6105fe30287","status":4,"status_text":"","author_email":"N/A","author":"N/A","deployer":"Push-Deployer","message":"Created
        via a push deployment","progress":"","received_time":"2025-07-16T20:03:40.7326131Z","start_time":"2025-07-16T20:03:42.2702008Z","end_time":"2025-07-16T20:04:25.7939554Z","last_success_end_time":"2025-07-16T20:04:25.7939554Z","complete":true,"active":true,"is_temp":false,"is_readonly":true,"url":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/deployments/8f72b255-c237-4282-af72-d6105fe30287","log_url":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/deployments/8f72b255-c237-4282-af72-d6105fe30287/log","site_name":"webapp-runtimestatus-test000002","build_summary":{"errors":[],"warnings":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/8f72b255-c237-4282-af72-d6105fe30287?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/8f72b255-c237-4282-af72-d6105fe30287","name":"8f72b255-c237-4282-af72-d6105fe30287","type":"Microsoft.Web/sites/deploymentStatus","location":"East
        US","properties":{"deploymentId":"8f72b255-c237-4282-af72-d6105fe30287","status":"BuildSuccessful","numberOfInstancesInProgress":0,"numberOfInstancesSuccessful":0,"numberOfInstancesFailed":0,"failedInstancesLogs":null,"errors":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DBF68C2E9E2A15"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/8f72b255-c237-4282-af72-d6105fe30287?api-version=2024-11-01&t=638882931121132099&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE5MTQyMjI3WhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/8f72b255-c237-4282-af72-d6105fe30287?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/8f72b255-c237-4282-af72-d6105fe30287","name":"8f72b255-c237-4282-af72-d6105fe30287","type":"Microsoft.Web/sites/deploymentStatus","location":"East
        US","properties":{"deploymentId":"8f72b255-c237-4282-af72-d6105fe30287","status":"RuntimeFailed","numberOfInstancesInProgress":0,"numberOfInstancesSuccessful":0,"numberOfInstancesFailed":1,"failedInstancesLogs":["https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/logs/docker"],"errors":[{"extendedCode":"04915","messageTemplate":"Deployment
        for site ''{0}'' with DeploymentId ''{1}'' failed because the worker proccess
        failed to start within the allotted time.","code":"BadRequest","message":"Deployment
        for site ''webapp-runtimestatus-test000002'' with DeploymentId ''8f72b255-c237-4282-af72-d6105fe30287''
        failed because the worker proccess failed to start within the allotted time."}]}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DBF68C2E9E2A15"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
