interactions:
- request:
    body: '{"name": "funcstorage1000003", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2024-01-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "location": "francecentral",
      "properties": {"publicNetworkAccess": "Disabled", "encryption": {"services":
      {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/funcstorage1000003?api-version=2024-01-01
  response:
    body:
      string: '{"error":{"code":"RequestDisallowedByPolicy","target":"funcstorage1000003","message":"Resource
        ''funcstorage1000003'' was disallowed by policy. Policy identifiers: ''[{\"policyAssignment\":{\"name\":\"Storage
        account public access should be disallowed\",\"id\":\"/providers/Microsoft.Management/managementGroups/da7db9f6-3e52-d309-60d9-4ed9a359158d/providers/Microsoft.Authorization/policyAssignments/0ad758e105724c7195d4935e\"},\"policyDefinition\":{\"name\":\"Storage
        account public access should be disallowed\",\"id\":\"/providers/Microsoft.Authorization/policyDefinitions/4fa4b6c0-31ca-4c0d-b10d-24b96f62a751\",\"version\":\"3.1.1\"}}]''.","additionalInfo":[{"type":"PolicyViolation","info":{"evaluationDetails":{"evaluatedExpressions":[{"result":"True","expressionKind":"Field","expression":"type","path":"type","expressionValue":"Microsoft.Storage/storageAccounts","targetValue":"Microsoft.Storage/storageAccounts","operator":"Equals"},{"result":"False","expressionKind":"Field","expression":"id","path":"id","expressionValue":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/funcstorage1000003","targetValue":"/resourceGroups/aro-","operator":"Contains"},{"result":"False","expressionKind":"Field","expression":"Microsoft.Storage/storageAccounts/allowBlobPublicAccess","path":"properties.allowBlobPublicAccess","targetValue":"false","operator":"Equals"}]},"policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/4fa4b6c0-31ca-4c0d-b10d-24b96f62a751","policyDefinitionName":"4fa4b6c0-31ca-4c0d-b10d-24b96f62a751","policyDefinitionDisplayName":"Storage
        account public access should be disallowed","policyDefinitionVersion":"3.1.1","policyDefinitionEffect":"deny","policyAssignmentId":"/providers/Microsoft.Management/managementGroups/da7db9f6-3e52-d309-60d9-4ed9a359158d/providers/Microsoft.Authorization/policyAssignments/0ad758e105724c7195d4935e","policyAssignmentName":"0ad758e105724c7195d4935e","policyAssignmentDisplayName":"Storage
        account public access should be disallowed","policyAssignmentScope":"/providers/Microsoft.Management/managementGroups/da7db9f6-3e52-d309-60d9-4ed9a359158d","policyAssignmentParameters":{"effect":"deny"},"policyExemptionIds":[],"policyEnrollmentIds":[]}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 403
      message: Forbidden
version: 1
