interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"francecentral","tags":{"product":"azurecli","cause":"automation","test":"test_functionapp_remove_identity","date":"2023-11-29T16:08:51Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "francecentral"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1000005?api-version=2023-01-31
  response:
    body:
      string: '{"location":"francecentral","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1000005","name":"id1000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"fd1ae839-978c-4343-ba6e-57e84067741e","clientId":"c47faa7f-c046-4f2e-9300-7aaa80518728"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1000005
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "francecentral", "sku": {"name": "S1", "tier": "STANDARD"},
      "properties": {"perSiteScaling": false, "isXenon": false, "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/func-msi-plan000003?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/func-msi-plan000003","name":"func-msi-plan000003","type":"Microsoft.Web/serverfarms","kind":"app","location":"francecentral","properties":{"serverFarmId":10924,"name":"func-msi-plan000003","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-FranceCentralwebspace","subscription":"dbf67cc6-6c57-44b8-97fc-4356f0d555b3","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"France
        Central","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-par-029_10924","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2023-11-29T16:09:29.5933333"},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DA22DE6F639955"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/functionAppStacks?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/functionAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        Framework 4.8","value":"dotnetframework48","minorVersions":[{"displayText":".NET
        Framework 4.8","value":"4.8","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v4.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"4.8.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":true,"netFrameworkVersion":"v4.0"},"supportedFunctionsExtensionVersions":["~4"]}}}]},{"displayText":".NET
        8 Isolated","value":"dotnet8isolated","minorVersions":[{"displayText":".NET
        8 Isolated","value":"8 (LTS) Isolated","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v8.0","isHidden":false,"isEarlyAccess":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"netFrameworkVersion":"v8.0"},"supportedFunctionsExtensionVersions":["~4"],"endOfLifeDate":"2026-12-01T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNET-ISOLATED|8.0","isHidden":false,"isEarlyAccess":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"linuxFxVersion":"DOTNET-ISOLATED|8.0"},"supportedFunctionsExtensionVersions":["~4"],"endOfLifeDate":"2026-12-01T00:00:00Z"}}}]},{"displayText":".NET
        7 Isolated","value":"dotnet7isolated","minorVersions":[{"displayText":".NET
        7 Isolated","value":"7 (STS) Isolated","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v7.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"netFrameworkVersion":"v7.0"},"supportedFunctionsExtensionVersions":["~4"],"endOfLifeDate":"2024-05-14T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNET-ISOLATED|7.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"linuxFxVersion":"DOTNET-ISOLATED|7.0"},"supportedFunctionsExtensionVersions":["~4"],"endOfLifeDate":"2024-05-14T00:00:00Z"}}}]},{"displayText":".NET
        6","value":"dotnet6","minorVersions":[{"displayText":".NET 6 (LTS)","value":"6
        (LTS)","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v6.0","isDefault":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"6.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":true,"netFrameworkVersion":"v6.0"},"supportedFunctionsExtensionVersions":["~4"],"endOfLifeDate":"2024-11-12T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNET|6.0","isDefault":true,"remoteDebuggingSupported":false,"app[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2023-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2023-11-29T16:08:58.8061369Z","key2":"2023-11-29T16:08:58.8061369Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-11-29T16:08:58.9311396Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-11-29T16:08:58.9311396Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2023-11-29T16:08:58.7280180Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2023-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-11-29T16:08:58.8061369Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-11-29T16:08:58.8061369Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "functionapp", "location": "France Central", "properties": {"serverFarmId":
      "func-msi-plan000003", "reserved": false, "isXenon": false, "hyperV": false,
      "siteConfig": {"netFrameworkVersion": "v4.6", "appSettings": [{"name": "FUNCTIONS_WORKER_RUNTIME",
      "value": "dotnet"}, {"name": "FUNCTIONS_EXTENSION_VERSION", "value": "~4"},
      {"name": "AzureWebJobsStorage", "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey=="}],
      "use32BitWorkerProcess": true, "alwaysOn": true, "localMySqlEnabled": false,
      "http20Enabled": true}, "scmSiteAlsoStopped": false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/func-msi000004?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/func-msi000004","name":"func-msi000004","type":"Microsoft.Web/sites","kind":"functionapp","location":"France
        Central","properties":{"name":"func-msi000004","state":"Running","hostNames":["func-msi000004.azurewebsites.net"],"webSpace":"clitest.rg000001-FranceCentralwebspace","selfLink":"https://waws-prod-par-029.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-FranceCentralwebspace/sites/func-msi000004","repositorySiteName":"func-msi000004","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"afdEnabled":false,"enabledHostNames":["func-msi000004.azurewebsites.net","func-msi000004.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"func-msi000004.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"func-msi000004.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/func-msi-plan000003","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2023-11-29T16:09:38.17","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"elasticWebAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null},"daprConfig":null,"deploymentId":"func-msi000004","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"941EA3594EA040F2A7CF655746577E069DB7C02EA205BC8E6568B995AF723CE2","kind":"functionapp","managedEnvironmentId":null,"inboundIpAddress":"20.111.1.10","possibleInboundIpAddresses":"20.111.1.10","ftpUsername":"func-msi000004\\$func-msi000004","ftpsHostName":"ftps://waws-prod-par-029.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"20.74.18.162,20.74.20.155,20.74.21.45,20.74.22.128,20.74.22.195,20.74.88.118,20.111.1.10","possibleOutboundIpAddresses":"20.74.18.162,20.74.20.155,20.74.21.45,20.74.22.128,20.74.22.195,20.74.88.118,20.74.90.167,20.74.91.13,20.74.91.37,20.74.91.96,20.74.91.182,20.74.91.208,20.74.92.156,20.74.92.182,20.74.92.189,20.74.92.193,20.74.92.207,20.74.92.233,20.74.92.246,20.74.93.9,20.74.93.11,20.74.93.13,20.74.93.36,20.74.93.56,20.74.93.62,20.74.93.89,20.74.93.118,20.74.93.142,20.74.93.147,20.74.93.177,20.111.1.10","containerSize":1536,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-par-029","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"func-msi000004.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"FunctionAppLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","defaultHostNameScope":"Global","privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DA22DE746DFBE0"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/workspaces?api-version=2021-12-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"customerId":"435af4c8-e794-4bb7-9543-c913b5688024","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-01T18:19:14.55186Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-11-02T10:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-01T18:19:14.55186Z","modifiedDate":"2023-11-01T18:19:15.6762954Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-dbf67cc6-6c57-44b8-97fc-4356f0d555b3-EUS","name":"DefaultWorkspace-dbf67cc6-6c57-44b8-97fc-4356f0d555b3-EUS","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5800909d-0000-0100-0000-654296a30000\""},{"properties":{"customerId":"5f2665ec-ecd7-4f10-a53a-c33db6d1ee8c","prov[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://appinsights.azureedge.net/portal/regionMapping.json
  response:
    body:
      string: "{\n    \"regions\": {\n        \"centralus\": {\n            \"geo\":
        \"unitedstates\",\n            \"pairedRegions\": [\n                \"eastus2\",\n
        \               \"eastus\"\n            ],\n            \"laRegionCode\":
        \"CUS\"\n        },\n        \"eastus2\": {\n            \"geo\": \"unitedstates\",\n
        \           \"pairedRegions\": [\n                \"centralus\",\n                \"eastus\"\n
        \           ],\n            \"laRegionCode\": \"EUS2\"\n        },\n        \"eastus\":
        {\n            \"geo\": \"unitedstates\",\n            \"pairedRegions\":
        [\n                \"westus\"\n            ],\n            \"laRegionCode\":
        \"EUS\"\n        },\n        \"northcentralus\": {\n            \"geo\": \"unitedstates\",\n
        \           \"pairedRegions\": [\n                \"southcentralus\"\n            ],\n
        \           \"laRegionCode\": \"NCUS\"\n        },\n        \"southcentralus\":
        {\n            \"geo\": \"unitedstates\",\n            \"pairedRegions\":
        [\n                \"northcentralus\"\n            ],\n            \"laRegionCode\":
        \"SCUS\"\n        },\n        \"westus2\": {\n            \"geo\": \"unitedstates\",\n
        \           \"pairedRegions\": [\n                \"westcentralus\"\n            ],\n
        \           \"laRegionCode\": \"WUS2\"\n        },\n        \"westus3\": {\n
        \           \"geo\": \"unitedstates\",\n            \"pairedRegions\": [\n
        \               \"westus2\"\n            ],\n            \"laRegionCode\":
        \"USW3\"\n        },\n        \"westcentralus\": {\n            \"geo\": \"unitedstates\",\n
        \           \"pairedRegions\": [\n                \"westus2\"\n            ],\n
        \           \"laRegionCode\": \"WCUS\"\n        },\n        \"westus\": {\n
        \           \"geo\": \"unitedstates\",\n            \"pairedRegions\": [\n
        \               \"eastus\"\n            ],\n            \"laRegionCode\":
        \"WUS\"\n        },\n        \"canadacentral\": {\n            \"geo\": \"canada\",\n
        \           \"pairedRegions\": [\n                \"canadaeast\"\n            ],\n
        \           \"laRegionCode\": \"CCAN\"\n        },\n        \"canadaeast\":
        {\n            \"geo\": \"canada\",\n            \"pairedRegions\": [\n                \"canadacentral\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"brazilsouth\":
        {\n            \"geo\": \"brazil\",\n            \"pairedRegions\": [\n                \"southcentralus\"\n
        \           ],\n            \"laRegionCode\": \"CQ\"\n        },\n        \"eastasia\":
        {\n            \"geo\": \"asiapacific\",\n            \"pairedRegions\": [\n
        \               \"southeastasia\"\n            ],\n            \"laRegionCode\":
        \"EA\"\n        },\n        \"southeastasia\": {\n            \"geo\": \"asiapacific\",\n
        \           \"pairedRegions\": [\n                \"eastasia\"\n            ],\n
        \           \"laRegionCode\": \"SEA\"\n        },\n        \"australiacentral\":
        {\n            \"geo\": \"australia\",\n            \"pairedRegions\": [\n
        \               \"australiacentral2\",\n                \"australiaeast\"\n
        \           ],\n            \"laRegionCode\": \"CAU\"\n        },\n        \"australiacentral2\":
        {\n            \"geo\": \"australia\",\n            \"pairedRegions\": [\n
        \               \"australiacentral\",\n                \"australiaeast\"\n
        \           ],\n            \"laRegionCode\": \"CBR2\"\n        },\n        \"australiaeast\":
        {\n            \"geo\": \"australia\",\n            \"pairedRegions\": [\n
        \               \"australiasoutheast\"\n            ],\n            \"laRegionCode\":
        \"EAU\"\n        },\n        \"australiasoutheast\": {\n            \"geo\":
        \"australia\",\n            \"pairedRegions\": [\n                \"australiaeast\"\n
        \           ],\n            \"laRegionCode\": \"SEAU\"\n        },\n        \"chinaeast\":
        {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n                \"chinanorth\",\n
        \               \"chinaeast2\"\n            ],\n            \"laRegionCode\":
        \"\"\n        },\n        \"chinanorth\": {\n            \"geo\": \"china\",\n
        \           \"pairedRegions\": [\n                \"chinaeast\",\n                \"chinaeast2\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"chinaeast2\":
        {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n                \"chinanorth2\"\n
        \           ],\n            \"laRegionCode\": \"CNE2\"\n        },\n        \"chinanorth2\":
        {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n                \"chinaeast2\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"chinaeast3\":
        {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n                \"chinanorth3\"\n
        \           ],\n            \"laRegionCode\": \"CNE3\"\n        },\n        \"chinanorth3\":
        {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n                \"chinaeast3\"\n
        \           ],\n            \"laRegionCode\": \"CNN3\"\n        },\n        \"centralindia\":
        {\n            \"geo\": \"india\",\n            \"pairedRegions\": [\n                \"southindia\"\n
        \           ],\n            \"laRegionCode\": \"CID\"\n        },\n        \"southindia\":
        {\n            \"geo\": \"india\",\n            \"pairedRegions\": [\n                \"centralindia\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"westindia\":
        {\n            \"geo\": \"india\",\n            \"pairedRegions\": [\n                \"southindia\",\n
        \               \"centralindia\"\n            ],\n            \"laRegionCode\":
        \"\"\n        },\n        \"jioindiacentral\": {\n            \"geo\": \"india\",\n
        \           \"pairedRegions\": [],\n            \"laRegionCode\": \"JINC\"\n
        \       },\n        \"jioindiawest\": {\n            \"geo\": \"india\",\n
        \           \"pairedRegions\": [],\n            \"laRegionCode\": \"JINW\"\n
        \       },\n        \"japaneast\": {\n            \"geo\": \"japan\",\n            \"pairedRegions\":
        [\n                \"japanwest\"\n            ],\n            \"laRegionCode\":
        \"EJP\"\n        },\n        \"japanwest\": {\n            \"geo\": \"japan\",\n
        \           \"pairedRegions\": [\n                \"japaneast\"\n            ],\n
        \           \"laRegionCode\": \"OS\"\n        },\n        \"koreacentral\":
        {\n            \"geo\": \"korea\",\n            \"pairedRegions\": [\n                \"koreasouth\"\n
        \           ],\n            \"laRegionCode\": \"SE\"\n        },\n        \"koreasouth\":
        {\n            \"geo\": \"korea\",\n            \"pairedRegions\": [\n                \"koreacentral\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"northeurope\":
        {\n            \"geo\": \"europe\",\n            \"pairedRegions\": [\n                \"westeurope\"\n
        \           ],\n            \"laRegionCode\": \"NEU\"\n        },\n        \"westeurope\":
        {\n            \"geo\": \"europe\",\n            \"pairedRegions\": [\n                \"northeurope\"\n
        \           ],\n            \"laRegionCode\": \"WEU\"\n        },\n        \"francecentral\":
        {\n            \"geo\": \"france\",\n            \"pairedRegions\": [\n                \"francesouth\"\n
        \           ],\n            \"laRegionCode\": \"PAR\"\n        },\n        \"francesouth\":
        {\n            \"geo\": \"france\",\n            \"pairedRegions\": [\n                \"francecentral\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"uksouth\":
        {\n            \"geo\": \"unitedkingdom\",\n            \"pairedRegions\":
[...]
