interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"chinaeast","tags":{"product":"azurecli","cause":"automation","date":"2021-02-03T18:33:50Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "ssl-test-plan000002", "type": "Microsoft.Web/serverfarms", "location":
      "chinaeast", "properties": {"skuName": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/validate?api-version=2019-08-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "chinaeast", "properties": {"perSiteScaling": false, "isXenon":
      false}, "sku": {"name": "S1", "tier": "STANDARD", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002","name":"ssl-test-plan000002","type":"Microsoft.Web/serverfarms","kind":"app","location":"chinaeast","properties":{"serverFarmId":3723,"name":"ssl-test-plan000002","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-ChinaEastwebspace","subscription":"bdcb4ddc-bffa-41dc-bd10-a2b68c88664c","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"China
        East","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"cnws-prod-sha-005_3723","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"azBalancing":false},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D6FA5B230B8355"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "web-ssl-test000003", "type": "Site"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2019-08-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "China East", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "10.14.1"}],
      "alwaysOn": true, "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000003?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000003","name":"web-ssl-test000003","type":"Microsoft.Web/sites","kind":"app","location":"China
        East","properties":{"name":"web-ssl-test000003","state":"Running","hostNames":["web-ssl-test000003.chinacloudsites.cn"],"webSpace":"clitest.rg000001-ChinaEastwebspace","selfLink":"https://cnws-prod-sha-005.api.chinacloudsites.chinacloudapi.cn:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-ChinaEastwebspace/sites/web-ssl-test000003","repositorySiteName":"web-ssl-test000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["web-ssl-test000003.chinacloudsites.cn","web-ssl-test000003.scm.chinacloudsites.cn"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"web-ssl-test000003.chinacloudsites.cn","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"web-ssl-test000003.scm.chinacloudsites.cn","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2021-02-03T18:34:04.5666667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":null,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":null,"windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"azureStorageAccounts":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":null,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":null,"minTlsVersion":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0},"deploymentId":"web-ssl-test000003","trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"2224E27C982D3A9FAA78E4A1F37D31F432355670D236284B459C795253AD0F59","kind":"app","inboundIpAddress":"139.219.195.254","possibleInboundIpAddresses":"139.219.195.254","ftpUsername":"web-ssl-test000003\\$web-ssl-test000003","ftpsHostName":"ftps://cnws-prod-sha-005.ftp.chinacloudsites.chinacloudapi.cn/site/wwwroot","outboundIpAddresses":"139.219.187.126,139.219.191.183,139.219.186.24,139.219.188.127","possibleOutboundIpAddresses":"139.219.187.126,139.219.191.183,139.219.186.24,139.219.188.127","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"cnws-prod-sha-005","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"web-ssl-test000003.chinacloudsites.cn","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs","storageAccountRequired":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D6FA5B26A4A2A0"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000003/publishxml?api-version=2019-08-01
  response:
    body:
      string: <publishData><publishProfile profileName="web-ssl-test000003 - Web Deploy"
        publishMethod="MSDeploy" publishUrl="web-ssl-test000003.scm.chinacloudsites.cn:443"
        msdeploySite="web-ssl-test000003" userName="$web-ssl-test000003" userPWD="mh3cdZpFsEY2lmtDywTw1leS8rHktrCzlKfY71HfLivPkBhyuTDAwp5J2qlS"
        destinationAppUrl="http://web-ssl-test000003.chinacloudsites.cn" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://manage.windowsazure.cn"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="web-ssl-test000003
        - FTP" publishMethod="FTP" publishUrl="ftp://cnws-prod-sha-005.ftp.chinacloudsites.chinacloudapi.cn/site/wwwroot"
        ftpPassiveMode="True" userName="web-ssl-test000003\$web-ssl-test000003" userPWD="mh3cdZpFsEY2lmtDywTw1leS8rHktrCzlKfY71HfLivPkBhyuTDAwp5J2qlS"
        destinationAppUrl="http://web-ssl-test000003.chinacloudsites.cn" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://manage.windowsazure.cn"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="web-ssl-test000003
        - Zip Deploy" publishMethod="ZipDeploy" publishUrl="web-ssl-test000003.scm.chinacloudsites.cn:443"
        userName="$web-ssl-test000003" userPWD="mh3cdZpFsEY2lmtDywTw1leS8rHktrCzlKfY71HfLivPkBhyuTDAwp5J2qlS"
        destinationAppUrl="http://web-ssl-test000003.chinacloudsites.cn" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://manage.windowsazure.cn"
        webSystem="WebSites"><databases /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"906a2d4a-ae95-48b9-98ea-c104062f9cbc","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2017-08-14T02:58:36Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Test
        User","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"Test","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"testuser","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["chibicha@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2020-12-18T03:39:38Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"User","telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/906a2d4a-ae95-48b9-98ea-c104062f9cbc/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"testuser@antux.partner.onmschina.cn","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      ocp-aad-diagnostics-server-name:
      - h8/SB6u6h+I4TysdIgWqQjzvRRsMMDZFko7DoN4WLt4=
      ocp-aad-session-key:
      - OXjTLsLt5U3ea7ZvxmolBpj2KZe91wot6U2g8M5wVeQK5FvX0gxkev8FsEgcXj2ap8-TezhhelWYIX56yRhdd5DZ_59olbOwZX_RSv_kLLjhhOCzNSewz_HHCUmQHS6M.8KQxYx3Wnq9ML7WaQ8117tGTPJzrLxRZ4qoxW-va32g
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "chinaeast", "properties": {"tenantId": "4accb380-d535-44a9-ac75-dd164a6c7aa6",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "4accb380-d535-44a9-ac75-dd164a6c7aa6", "objectId": "906a2d4a-ae95-48b9-98ea-c104062f9cbc",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000004?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000004","name":"kv-ssl-test000004","type":"Microsoft.KeyVault/vaults","location":"chinaeast","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","accessPolicies":[{"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","objectId":"906a2d4a-ae95-48b9-98ea-c104062f9cbc","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://kv-ssl-test000004.vault.azure.cn","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27abfa0a7c-a6b6-4736-8310-5855508787cd%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"6ca3aac7-4287-4a4d-8068-3050c0b42389","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Microsoft
        Azure App Service","appId":"abfa0a7c-a6b6-4736-8310-5855508787cd","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Microsoft.Azure.WebSites","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access all the APIs registered with App Service","adminConsentDisplayName":"Access
        APIs registered with App Service","id":"e0ea806b-d128-49dc-ac08-2bf18f7874d8","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access all the APIs registered with App Service","userConsentDisplayName":"Access
        APIs registered with App Service","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["abfa0a7c-a6b6-4736-8310-5855508787cd"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      ocp-aad-diagnostics-server-name:
      - T5L7mnM7QrjZk/WMH2t8rsWEMh4equTkQ4nJO30iLaE=
      ocp-aad-session-key:
      - 6KSUG51bQdT7CfMrILfbv9_qPuaJ_btWcBofd8b7j0AEudoo6g0f1ibW5JlQkBRTzMEk3zdv9ws7rEUzarBf1lai2yDh1OS4b53VVQKiiM21Q77KfO7g0jNGJUffoFcb.B_K1BxEd8cIFLLBOD175ykYXEcwV8wwrswNcXqbfN8o
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "chinaeast", "tags": {}, "properties": {"tenantId": "4accb380-d535-44a9-ac75-dd164a6c7aa6",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "4accb380-d535-44a9-ac75-dd164a6c7aa6", "objectId": "906a2d4a-ae95-48b9-98ea-c104062f9cbc",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://kv-ssl-test000004.vault.azure.cn/certificates/test-cert/import?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6",
        resource="https://vault.azure.cn"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/durscake/providers/Microsoft.KeyVault/vaults/kvtest1","name":"kvtest1","type":"Microsoft.KeyVault/vaults","location":"chinanorth","tags":{},"properties":{"sku":{"family":"A","name":"Standard"},"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","accessPolicies":[{"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","objectId":"6ca3aac7-4287-4a4d-8068-3050c0b42389","permissions":{"keys":["Get"],"secrets":["Get"],"certificates":[]}},{"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","objectId":"906a2d4a-ae95-48b9-98ea-c104062f9cbc","permissions":{"keys":["Get","List","Update","Create","Import","Delete","Recover","Backup","Restore"],"secrets":["Get","List","Set","Delete","Recover","Backup","Restore"],"certificates":["Get","List","Update","Create","Import","Delete","Recover","Backup","Restore","ManageContacts","ManageIssuers","GetIssuers","ListIssuers","SetIssuers","DeleteIssuers"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableRbacAuthorization":false,"vaultUri":"https://kvtest1.vault.azure.cn/","provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PPratap/providers/Microsoft.KeyVault/vaults/WabacKV","name":"WabacKV","type":"Microsoft.KeyVault/vaults","location":"chinanorth","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","accessPolicies":[{"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","objectId":"906a2d4a-ae95-48b9[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6/servicePrincipals/906a2d4a-ae95-48b9-98ea-c104062f9cbc?api-version=1.6
  response:
    body:
      string: '{"odata.error":{"code":"Request_ResourceNotFound","message":{"lang":"en","value":"Resource
        ''906a2d4a-ae95-48b9-98ea-c104062f9cbc'' does not exist or one of its queried
        reference-property objects are not present."},"requestId":"dd172f9c-a976-4195-8bd0-1fd3114e4b6b","date":"2021-02-03T18:35:06"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      ocp-aad-diagnostics-server-name:
      - Gc+PRgm3VG1bZHU0pWAIELY7FnTWz1Vfl0r6eevn5S0=
      ocp-aad-session-key:
      - Cpy3felpq-bjOv5byw2I3yn3LipDAorpc9368lhNM_s2HQ8-a5rt6_ljPpV6-NjGb_eUGz9xRddHQ2kh45wHl80dbTgoO4HFWqKmVsqPOykNWiSrJcQTV52hwVwbbarX.OwhqPgy5bl5oRfNqw6AaeR1fWY6YzKF__AGfo4LGk34
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "China East", "properties": {"password": "", "keyVaultId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000004",
      "keyVaultSecretName": "test-cert", "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/certificates/clitest.rg000001-kv-ssl-test000004-test-cert?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/certificates/clitest.rg000001-kv-ssl-test000004-test-cert","name":"clitest.rg000001-kv-ssl-test000004-test-cert","type":"Microsoft.Web/certificates","location":"China
        East","properties":{"friendlyName":"","subjectName":"*.azurewebsites.net","hostNames":["*.azurewebsites.net"],"pfxBlob":null,"siteName":null,"selfLink":null,"issuer":"*.azurewebsites.net","issueDate":"2018-01-01T07:00:00+00:00","expirationDate":"2118-12-31T07:00:00+00:00","password":null,"thumbprint":"9E9735C45C792B03B3FFCCA614852B32EE71AD6B","valid":null,"toDelete":null,"cerBlob":null,"publicKeyHash":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"keyVaultId":"","keyVaultSecretName":"","webSpace":"clitest.rg000001-ChinaEastwebspace","serverFarmId":null,"tags":null,"resourceGroup":null}}'
    headers:
      content-type:
      - application/json
      warning:
      - 199 Some of the uploaded certificates are either self-signed or expired.,199
        Some of the uploaded certificates cannot be validated to a trusted CA
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/certificates/clitest.rg000001-kv-ssl-test000004-test-cert?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/certificates/clitest.rg000001-kv-ssl-test000004-test-cert","name":"clitest.rg000001-kv-ssl-test000004-test-cert","type":"Microsoft.Web/certificates","location":"China
        East","properties":{"friendlyName":"","subjectName":"*.azurewebsites.net","hostNames":["*.azurewebsites.net"],"pfxBlob":null,"siteName":null,"selfLink":null,"issuer":"*.azurewebsites.net","issueDate":"2018-01-01T07:00:00+00:00","expirationDate":"2118-12-31T07:00:00+00:00","password":null,"thumbprint":"9E9735C45C792B03B3FFCCA614852B32EE71AD6B","valid":null,"toDelete":null,"cerBlob":null,"publicKeyHash":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"keyVaultId":"","keyVaultSecretName":"","keyVaultSecretStatus":"Initialized","webSpace":"clitest.rg000001-ChinaEastwebspace","serverFarmId":null,"tags":null,"resourceGroup":"clitest.rg000001"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
