interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-05-28T19:56:17Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-28T19:56:17Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliTestApp/providers/Microsoft.Web/sites/cliTestApp/continuouswebjobs?api-version=2019-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliTestApp/providers/Microsoft.Web/sites/cliTestApp/continuouswebjobs/test-continuous","name":"cliTestApp/test-continuous","type":"Microsoft.Web/sites/continuouswebjobs","location":"West
        US","properties":{"status":"Running","detailed_status":"e7b519 - Running\r\n","log_url":"https://clitestapp.scm.azurewebsites.net/vfs/data/jobs/continuous/test-continuous/job_log.txt","name":"test-continuous","run_command":"log.cmd","url":"https://clitestapp.scm.azurewebsites.net/api/continuouswebjobs/test-continuous","extra_info_url":"https://clitestapp.scm.azurewebsites.net/azurejobs/#/jobs/continuous/test-continuous","type":"continuous","error":null,"using_sdk":false,"settings":{}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d6f53377"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliTestApp/providers/Microsoft.Web/sites/cliTestApp/continuouswebjobs/test-continuous/start?api-version=2019-08-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliTestApp/providers/Microsoft.Web/sites/cliTestApp/continuouswebjobs/test-continuous?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliTestApp/providers/Microsoft.Web/sites/cliTestApp/continuouswebjobs/test-continuous","name":"cliTestApp/test-continuous","type":"Microsoft.Web/sites/continuouswebjobs","location":"West
        US","properties":{"status":"Running","detailed_status":"e7b519 - Running\r\n","log_url":"https://clitestapp.scm.azurewebsites.net/vfs/data/jobs/continuous/test-continuous/job_log.txt","name":"test-continuous","run_command":"log.cmd","url":"https://clitestapp.scm.azurewebsites.net/api/continuouswebjobs/test-continuous","extra_info_url":"https://clitestapp.scm.azurewebsites.net/azurejobs/#/jobs/continuous/test-continuous","type":"continuous","error":null,"using_sdk":false,"settings":{}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliTestApp/providers/Microsoft.Web/sites/cliTestApp/continuouswebjobs/test-continuous/stop?api-version=2019-08-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdKS1laTkZLUFZUR1c1UVY3M1ZKWFRFRDM3QlpKUE5WMzZTWHw3OUEyRTg3NDg5MUU2OTM0LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2020-06-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
