interactions:
- request:
    body: '{"name": "testuniquedomainname1.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DomainRegistration/checkDomainAvailability?api-version=2022-03-01
  response:
    body:
      string: '{"error":{"code":"InvalidResourceType","message":"The resource type
        ''checkDomainAvailability'' could not be found in the namespace ''Microsoft.DomainRegistration''
        for api version ''2022-03-01''. The supported api-versions are ''2021-03-01,2021-02-01,2021-01-15,2021-01-01,2020-12-01,2020-10-01,2020-09-01,2020-06-01,2019-08-01,2018-02-01,2015-04-01,2015-02-01''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
