interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-08-16T21:08:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "hcplan000003", "type": "Microsoft.Web/serverfarms", "location":
      "westus", "properties": {"skuName": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/validate?api-version=2018-02-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"perSiteScaling": false, "isXenon":
      false}, "sku": {"name": "S1", "tier": "STANDARD", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003?api-version=2018-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003","name":"hcplan000003","type":"Microsoft.Web/serverfarms","kind":"app","location":"West
        US","properties":{"serverFarmId":15542,"name":"hcplan000003","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestUSwebspace","subscription":"85a6c256-e687-4281-9cca-84869cf6ef36","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":10,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bay-121_15542","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "West US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "10.14"}],
      "alwaysOn": true, "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped":
      false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002?api-version=2018-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002","name":"hcwebapp000002","type":"Microsoft.Web/sites","kind":"app","location":"West
        US","properties":{"name":"hcwebapp000002","state":"Running","hostNames":["hcwebapp000002.azurewebsites.net"],"webSpace":"clitest.rg000001-WestUSwebspace","selfLink":"https://waws-prod-bay-121.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestUSwebspace/sites/hcwebapp000002","repositorySiteName":"hcwebapp000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["hcwebapp000002.azurewebsites.net","hcwebapp000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"hcwebapp000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"hcwebapp000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2019-08-16T21:08:38.8966667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"hcwebapp000002","trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"app","inboundIpAddress":"13.93.141.10","possibleInboundIpAddresses":"13.93.141.10","outboundIpAddresses":"13.93.141.10,40.78.90.180,40.78.93.25,40.78.88.130,40.78.92.162","possibleOutboundIpAddresses":"13.93.141.10,40.78.90.180,40.78.93.25,40.78.88.130,40.78.92.162,40.78.92.123,40.78.92.141,40.78.85.102","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-121","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"hcwebapp000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D55476C6A04F8B"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/publishxml?api-version=2018-11-01
  response:
    body:
      string: <publishData><publishProfile profileName="hcwebapp000002 - Web Deploy"
        publishMethod="MSDeploy" publishUrl="hcwebapp000002.scm.azurewebsites.net:443"
        msdeploySite="hcwebapp000002" userName="$hcwebapp000002" userPWD="wHMhAnLnKrqd5hbNjD8P5v46PcflAlCtukkHeQJNeeaeghulM8Xgys3lcXQK"
        destinationAppUrl="http://hcwebapp000002.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="hcwebapp000002
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-121.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="hcwebapp000002\$hcwebapp000002" userPWD="wHMhAnLnKrqd5hbNjD8P5v46PcflAlCtukkHeQJNeeaeghulM8Xgys3lcXQK"
        destinationAppUrl="http://hcwebapp000002.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="hcwebapp000002
        - ReadOnly - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-121dr.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="hcwebapp000002\$hcwebapp000002" userPWD="wHMhAnLnKrqd5hbNjD8P5v46PcflAlCtukkHeQJNeeaeghulM8Xgys3lcXQK"
        destinationAppUrl="http://hcwebapp000002.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004?api-version=2017-04-01
  response:
    body:
      string: '{"error":{"code":"MissingSubscriptionRegistration","message":"The subscription
        is not registered to use namespace ''Microsoft.Relay''. See https://aka.ms/rps-not-found
        for how to register subscriptions.","details":[{"code":"MissingSubscriptionRegistration","target":"Microsoft.Relay","message":"The
        subscription is not registered to use namespace ''Microsoft.Relay''. See https://aka.ms/rps-not-found
        for how to register subscriptions."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay/register?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay","namespace":"Microsoft.Relay","authorization":{"applicationId":"80369ed6-5f11-4dd9-bef3-692475845e77"},"resourceTypes":[{"resourceType":"namespaces","locations":["Australia
        East","Australia Southeast","Central US","East US","East US 2","West US 2","West
        US","North Central US","South Central US","West Central US","East Asia","Southeast
        Asia","Brazil South","Japan East","Japan West","North Europe","West Europe","Central
        India","South India","West India","Canada Central","Canada East","UK West","UK
        South","Korea Central","Korea South","France Central","South Africa North","UAE
        North","Australia Central"],"apiVersions":["2017-04-01","2016-07-01"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"namespaces/authorizationrules","locations":[],"apiVersions":["2017-04-01","2016-07-01","2015-08-01","2014-09-01"]},{"resourceType":"namespaces/hybridconnections","locations":[],"apiVersions":["2017-04-01","2016-07-01","2015-08-01","2014-09-01"]},{"resourceType":"namespaces/hybridconnections/authorizationrules","locations":[],"apiVersions":["2017-04-01","2016-07-01","2015-08-01","2014-09-01"]},{"resourceType":"namespaces/wcfrelays","locations":[],"apiVersions":["2017-04-01","2016-07-01","2015-08-01","2014-09-01"]},{"resourceType":"namespaces/wcfrelays/authorizationrules","locations":[],"apiVersions":["2017-04-01","2016-07-01","2015-08-01","2014-09-01"]},{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2017-04-01","2016-07-01"]},{"resourceType":"operations","locations":[],"apiVersions":["2017-04-01","2016-07-01"]}],"registrationState":"Registering"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay","namespace":"Microsoft.Relay","authorization":{"applicationId":"80369ed6-5f11-4dd9-bef3-692475845e77"},"resourceTypes":[{"resourceType":"namespaces","locations":["Australia
        Eas[...]
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004","name":"hcnamespace000004","type":"Microsoft.Relay/Namespaces","location":"West
        US","tags":{},"properties":{"provisioningState":"Created","metricId":"85a6c256-e687-4281-9cca-84869cf6ef36:hcnamespace000004","createdAt":"2019-08-16T21:09:19.157Z","updatedAt":"2019-08-16T21:09:19.157Z","serviceBusEndpoint":"https://hcnamespace000004.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"userMetadata": "[{\"key\":\"endpoint\",\"value\":\"vmsq1:80\"}]"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005","name":"hcname000005","type":"Microsoft.Relay/Namespaces/HybridConnections","location":"West
        US","properties":{"createdAt":"2019-08-16T21:10:22.5038076Z","updatedAt":"2019-08-16T21:10:22.5038076Z","listenerCount":0,"requiresClientAuthorization":true,"userMetadata":"[{\"key\":\"endpoint\",\"value\":\"vmsq1:80\"}]"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay/namespaces?api-version=2017-04-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004","name":"hcnamespace000004","type":"Microsoft.Relay/Namespaces","location":"West
        US","tags":{},"properties":{"provisioningState":"Succeeded","metricId":"85a6c256-e687-4281-9cca-84869cf6ef36:hcnamespace000004","createdAt":"2019-08-16T21:09:19.157Z","updatedAt":"2019-08-16T21:10:05.397Z","serviceBusEndpoint":"https://hcnamespace000004.servicebus.windows.net:443/","status":"Active"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules?api-version=2017-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules/defaultSender?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules/defaultSender","name":"defaultSender","type":"Microsoft.Relay/Namespaces/HybridConnections/AuthorizationRules","location":"West
        US","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules/defaultSender/listKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://hcnamespace000004.servicebus.windows.net/;SharedAccessKeyName=defaultSender;SharedAccessKey=JL0rqL8xd6JQ7hFDrRAoV9+IAHWahG+Edtt+5nKsJSc=;EntityPath=hcname000005","secondaryConnectionString":"Endpoint=sb://hcnamespace000004.servicebus.windows.net/;SharedAccessKeyName=defaultSender;SharedAccessKey=l/AxUTCx7RcRpg80Cpo5eV3vuubwXdFTY2aAQHLgcIc=;EntityPath=hcname000005","primaryKey":"JL0rqL8xd6JQ7hFDrRAoV9+IAHWahG+Edtt+5nKsJSc=","secondaryKey":"l/AxUTCx7RcRpg80Cpo5eV3vuubwXdFTY2aAQHLgcIc=","keyName":"defaultSender"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"serviceBusNamespace": "hcnamespace000004", "relayName":
      "hcname000005", "relayArmUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005",
      "hostname": "vmsq1", "port": 80, "sendKeyName": "defaultSender", "sendKeyValue":
      "JL0rqL8xd6JQ7hFDrRAoV9+IAHWahG+Edtt+5nKsJSc=", "serviceBusSuffix": ".servicebus.windows.net"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionNamespaces/hcnamespace000004/relays/hcname000005?api-version=2018-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionNamespaces/hcnamespace000004/relays/hcname000005","name":"hcname000005","type":"Microsoft.Web/sites/hybridConnectionNamespaces/relays","location":"West
        US","properties":{"serviceBusNamespace":"hcnamespace000004","relayName":"hcname000005","relayArmUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005","hostname":"vmsq1","port":80,"sendKeyName":"defaultSender","sendKeyValue":"","serviceBusSuffix":".servicebus.windows.net"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionRelays?api-version=2018-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionNamespaces/hcnamespace000004/relays/hcname000005","name":"hcname000005","type":"Microsoft.Web/sites/hybridConnectionNamespaces/relays","location":"West
        US","properties":{"serviceBusNamespace":"hcnamespace000004","relayName":"hcname000005","relayArmUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005","hostname":"vmsq1","port":80,"sendKeyName":"defaultSender","sendKeyValue":"","serviceBusSuffix":".servicebus.windows.net"}}],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionNamespaces/hcnamespace000004/relays/hcname000005?api-version=2018-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionRelays?api-version=2018-11-01
  response:
    body:
      string: '{"value":[],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
