interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-03-31T07:28:02Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000004?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004","name":"clitest.rg000004","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-03-31T07:28:02Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Storage/storageAccounts/clitest000005?api-version=2018-07-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/0ad183f1-7de7-4a61-a511-efd80228204b?monitor=true&api-version=2018-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/0ad183f1-7de7-4a61-a511-efd80228204b?monitor=true&api-version=2018-07-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Storage/storageAccounts/clitest000005","name":"clitest000005","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-03-31T07:28:04.4718850Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-03-31T07:28:04.4718850Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-03-31T07:28:04.3468412Z","primaryEndpoints":{"blob":"https://clitest000005.blob.core.windows.net/","queue":"https://clitest000005.queue.core.windows.net/","table":"https://clitest000005.table.core.windows.net/","file":"https://clitest000005.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Storage/storageAccounts/clitest000005/listKeys?api-version=2018-07-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions?sku=Dynamic&api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/Central
        US","name":"Central US","type":"Microsoft.Web/geoRegions","properties":{"name":"Central
        US","description":null,"sortOrder":0,"displayName":"Central US"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/North
        Europe","name":"North Europe","type":"Microsoft.Web/geoRegions","properties":{"name":"North
        Europe","description":null,"sortOrder":1,"displayName":"North Europe"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/West
        Europe","name":"West Europe","type":"Microsoft.Web/geoRegions","properties":{"name":"West
        [...]
[...]
- request:
    body: 'b''b\''{"kind": "functionapp", "location": "westus", "properties": {"reserved":
      false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "FUNCTIONS_WORKER_RUNTIME", "value": "dotnet"},
      {"name": "FUNCTIONS_EXTENSION_VERSION", "value": "~2"}, {"name": "AzureWebJobsStorage",
      "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000005;AccountKey=veryFakedStorageAccountKey=="},
      {"name": "AzureWebJobsDashboard", "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000005;AccountKey=veryFakedStorageAccountKey=="},
      {"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "8.11.1"}, {"name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
      "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000005;AccountKey=veryFakedStorageAccountKey=="},
      {"name": "WEBSITE_CONTENTSHARE", "value": "functionapp-e2e000001"}], "localMySqlEnabled":
      false, "http20Enabled": true}, "scmSiteAlsoStopped": false}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/sites/functionapp-e2e000001?api-version=2018-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/sites/functionapp-e2e000001","name":"functionapp-e2e000001","type":"Microsoft.Web/sites","kind":"functionapp","location":"westus","properties":{"name":"functionapp-e2e000001","state":"Running","hostNames":["functionapp-e2e000001.azurewebsites.net"],"webSpace":"clitest.rg000004-WestUSwebspace","selfLink":"https://waws-prod-bay-065.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000004-WestUSwebspace/sites/functionapp-e2e000001","repositorySiteName":"functionapp-e2e000001","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["functionapp-e2e000001.azurewebsites.net","functionapp-e2e000001.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"functionapp-e2e000001.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"functionapp-e2e000001.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/serverfarms/WestUSPlan","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2019-03-31T07:28:29.743","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"functionapp-e2e000001","trafficManagerHostNames":null,"sku":"Dynamic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":false,"clientCertEnabled":false,"clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"functionapp","outboundIpAddresses":"40.83.179.31,40.83.181.84,40.83.183.190,40.83.183.1","possibleOutboundIpAddresses":"40.83.179.31,40.83.181.84,40.83.183.190,40.83.183.1","containerSize":1536,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-065","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000004","defaultHostName":"functionapp-e2e000001.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D4E79356DDC410"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/projects?stateFilter=all&$top=1&$skip=0
  response:
    body:
      string: '{"count":1,"value":[{"id":"eb413965-fced-4467-ba6c-bcd81c44604c","name":"test-project-e2evieqvril","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/eb413965-fced-4467-ba6c-bcd81c44604c","state":"wellFormed","revision":186,"visibility":"private","lastUpdateTime":"2019-03-31T04:41:03.617Z"}]}'
    headers:
      activityid:
      - c682cd29-880d-4360-959d-035c4f13b250
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-ms-continuationtoken:
      - '1'
      x-tfs-processid:
      - 07ab65bf-046c-4f36-ada8-5fd577d503be
      x-tfs-session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      x-vss-e2eid:
      - c682cd29-880d-4360-959d-035c4f13b250
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/process/processes
  response:
    body:
      string: '{"count":4,"value":[{"id":"6b724908-ef14-45cf-84f8-768b5384da45","description":"This
        template is for teams who follow the Scrum framework.","isDefault":false,"type":"system","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/process/processes/6b724908-ef14-45cf-84f8-768b5384da45","name":"Scrum"},{"id":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2","description":"This
        template is flexible for any process and great for teams getting started with
        Azure DevOps.","isDefault":true,"type":"system","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/process/processes/b8a3a935-7e91-48b8-a94c-606d37c3e9f2","name[...]
- request:
    body: 'b''{"name": "test-project-e2e000002", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/projects
  response:
    body:
      string: '{"id":"1b5ec504-6863-4144-9511-559f9436ebce","status":"notSet","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/operations/1b5ec504-6863-4144-9511-559f9436ebce"}'
    headers:
      activityid:
      - ef95ef76-10d9-4749-898f-46489d595dee
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-tfs-processid:
      - 403834b0-6b01-486a-a764-ab5b91e2ba4e
      x-tfs-session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      x-vss-e2eid:
      - ef95ef76-10d9-4749-898f-46489d595dee
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/operations/1b5ec504-6863-4144-9511-559f9436ebce
  response:
    body:
      string: '{"id":"1b5ec504-6863-4144-9511-559f9436ebce","status":"inProgress","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/operations/1b5ec504-6863-4144-9511-559f9436ebce","_links":{"self":{"href":"https://dev.azure.com/azure-functions-devops-build-test/_apis/operations/1b5ec504-6863-4144-9511-559f9436ebce"}}}'
    headers:
      activityid:
      - 2a45ba51-a465-46b2-a7f5-defcdd77f50e
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-tfs-processid:
      - 7d895fe0-da29-43ef-a72c-cbb750cb4596
      x-tfs-session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      x-vss-e2eid:
      - 2a45ba51-a465-46b2-a7f5-defcdd77f50e
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/test-project-e2e000002?includeCapabilities=true
  response:
    body:
      string: '{"id":"82c6a92d-ba5e-4881-a8dc-448a80c29abe","name":"test-project-e2e000002","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/82c6a92d-ba5e-4881-a8dc-448a80c29abe","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":274,"_links":{"self":{"href":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/82c6a92d-ba5e-4881-a8dc-448a80c29abe"},"collection":{"href":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projectCollections/edc48154-7838-4fc7-a763-cae67c2b9426"},"web":{"href":"https://dev.azure.com/azure-functions-devops-build-test/test-project-e2e000002"}},"visibility":"private","defaultTeam":{"id":"6b64b5b5-4952-44b8-be2e-28bc93ead3ba","name":"test-project-e2e000002
        Team","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/82c6a92d-ba5e-4881-a8dc-448a80c29abe/teams/6b64b5b5-4952-44b8-be2e-28bc93ead3ba"},"lastUpdateTime":"0001-01-01T00:00:00"}'
    headers:
      activityid:
      - 8ddeb9ca-8ee5-44ff-8ae2-dfd34700944c
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-tfs-processid:
      - cdfdc912-7634-4668-8082-c24391984f48
      x-tfs-session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      x-vss-e2eid:
      - 8ddeb9ca-8ee5-44ff-8ae2-dfd34700944c
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"name": "test-repository-e2e000003"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/azure-functions-devops-build-test/test-project-e2e000002/_apis/git/repositories
  response:
    body:
      string: '{"id":"bdcd63af-450d-4f76-b9d7-942ce51b4546","name":"test-repository-e2e000003","url":"https://dev.azure.com/azure-functions-devops-build-test/82c6a92d-ba5e-4881-a8dc-448a80c29abe/_apis/git/repositories/bdcd63af-450d-4f76-b9d7-942ce51b4546","project":{"id":"82c6a92d-ba5e-4881-a8dc-448a80c29abe","name":"test-project-e2e000002","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/82c6a92d-ba5e-4881-a8dc-448a80c29abe","state":"wellFormed","revision":274,"visibility":"private","lastUpdateTime":"2019-03-31T07:29:07.637Z"},"size":0,"remoteUrl":"https://azure-functions-devops-build-test@dev.azure.com/azure-functions-devops-build-test/test-project-e2e000002/_git/test-repository-e2e000003","sshUrl":"git@ssh.dev.azure.com:v3/azure-functions-devops-build-test/test-project-e2e000002/test-repository-e2e000003"}'
    headers:
      activityid:
      - 8ddeb9ea-8ee5-44ff-8ae2-dfd34700944c
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-tfs-processid:
      - cdfdc912-7634-4668-8082-c24391984f48
      x-tfs-session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      x-vss-e2eid:
      - 8ddeb9ea-8ee5-44ff-8ae2-dfd34700944c
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/sites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/sites/functionapp-e2e000001","name":"functionapp-e2e000001","type":"Microsoft.Web/sites","kind":"functionapp","location":"West
        US","p[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/82c6a92d-ba5e-4881-a8dc-448a80c29abe
  response:
    body:
      string: '{"id":"c6f50d23-b72d-49aa-84f8-8575e459135b","status":"notSet","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/operations/c6f50d23-b72d-49aa-84f8-8575e459135b"}'
    headers:
      activityid:
      - 8ddeb646-8ee5-44ff-8ae2-dfd34700944c
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-tfs-processid:
      - cdfdc912-7634-4668-8082-c24391984f48
      x-tfs-session:
      - 3df49a6a-d36b-4983-abad-93860fa365c3
      x-vss-e2eid:
      - 8ddeb646-8ee5-44ff-8ae2-dfd34700944c
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000004?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdIREJVWk5VRUZZNFhPMlVFQjI3R0xEVDM0T0NIRFBRNTZMUXxDQTJGNUM0NDg0Q0EwODc5LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
