interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_webapp_up_enriched000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001","name":"cli_test_webapp_up_enriched000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_up_enriched_errors_flag_accepted","date":"2026-06-11T16:54:48Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "properties": {"perSiteScaling": false, "reserved":
      true}, "sku": {"capacity": 1, "name": "B1", "tier": "BASIC"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/serverfarms/webapp-up-enr-plan000003?api-version=2025-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/serverfarms/webapp-up-enr-plan000003","name":"webapp-up-enr-plan000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"westus2","properties":{"serverFarmId":7634,"name":"webapp-up-enr-plan000003","sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli_test_webapp_up_enriched000001-WestUS2webspace-Linux","subscription":"50821c37-1271-4210-8e1f-568acc6ecc66","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        US 2","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":"2026-07-11T16:54:53.89","tags":null,"kind":"linux","resourceGroup":"cli_test_webapp_up_enriched000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-mwh-143_7634","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":1,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2026-06-11T16:54:56.3266667","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":""},"sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DCF9C308B39CC0"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "webapp-up-enr000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2025-05-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2025-05-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        10 (LTS)","value":"dotnet10","minorVersions":[{"displayText":".NET 10 (LTS)","value":"10","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v10.0","remoteDebuggingSupported":false,"isHidden":false,"isPreview":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"10.x"},"appSettingsDictionary":{"ApplicationInsightsAgent_EXTENSION_VERSION":"~2"},"isAvailableForManagedInstance":true,"endOfLifeDate":"2028-12-01T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|10.0","remoteDebuggingSupported":false,"isHidden":false,"isPreview":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"10.x"},"supportedFeatures":{"disableSsh":true},"appSettingsDictionary":{"ApplicationInsightsAgent_EXTENSION_VERSION":"~3"},"endOfLifeDate":"2028-12-01T00:00:00Z"}}}]},{"displayText":".NET
        9 (STS)","value":"dotnet9","minorVersions":[{"displayText":".NET 9 (STS)","value":"9","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v9.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.x"},"appSettingsDictionary":{"[...]
- request:
    body: '{"location": "West US 2", "properties": {"httpsOnly": false, "serverFarmId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/serverfarms/webapp-up-enr-plan000003",
      "siteConfig": {"appSettings": [], "linuxFxVersion": "PYTHON|3.11"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/sites/webapp-up-enr000002?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/sites/webapp-up-enr000002","name":"webapp-up-enr000002","type":"Microsoft.Web/sites","kind":"app,linux","location":"West
        US 2","properties":{"name":"webapp-up-enr000002","state":"Running","hostNames":["webapp-up-enr000002.azurewebsites.net"],"webSpace":"cli_test_webapp_up_enriched000001-WestUS2webspace-Linux","selfLink":"https://waws-prod-mwh-143.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli_test_webapp_up_enriched000001-WestUS2webspace-Linux/sites/webapp-up-enr000002","repositorySiteName":"webapp-up-enr000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["webapp-up-enr000002.azurewebsites.net","webapp-up-enr000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"PYTHON|3.11"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-up-enr000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-up-enr000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"hostNamePrivateStates":[],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/serverfarms/webapp-up-enr-plan000003","reserved":true,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2026-06-11T16:55:02.2533333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false,"managedIdentityTraffic":false},"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"aiIntegration":null,"deploymentId":"webapp-up-enr000002","slotName":null,"trafficManagerHostNames":null,"sku":"Basic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"C4C02A18828506F81C8FA754DCC380496D4C309F80135C91EE4748B49E9BCDD1","kind":"app,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.42.128.126,20.115.247.26","possibleInboundIpAddresses":"20.42.128.126,20.115.247.26","inboundIpv6Address":"2603:1030:c06:7::4e","possibleInboundIpv6Addresses":"2603:1030:c06:7::4e","ftpUsername":"webapp-up-enr000002\\$webapp-up-enr000002","ftpsHostName":"ftps://waws-prod-mwh-143.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"4.149.94.83,20.115.168.211,4.246.17.123,48.202.41.174,4.149.162.59,20.72.205.216,51.143.50.106,20.72.231.40,20.72.198.201,20.29.153.35,172.179.21.221,40.125.96.221,20.42.128.126,20.115.247.26","possibleOutboundIpAddresses":"4.149.94.83,20.115.168.211,4.246.17.123,48.202.41.174,4.149.162.59,20.72.205.216,51.143.50.106,20.72.231.40,20.72.198.201,20.29.153.35,172.179.21.221,40.125.96.221,20.120.131.215,4.149.160.107,20.252.102.81,48.202.73.99,20.120.236.198,172.179.111.205,48.200.42.86,48.192.15.251,48.204.36.63,48.192.15.254,20.120.201.183,20.236.47.210,4.242.78.70,48.200.48.81,48.204.36.95,4.149.182.102,4.149.95.73,20.69.119.168,20.42.128.126,20.115.247.26","outboundIpv6Addresses":"2603:1030:c04:6::1e5,2603:1030:c04:7::334,2603:1030:c04:e::258,2603:1030:c02:8::333,2603:1030:c04:7::339,2603:1030:c04:11::2c8,2603:1030:c04:14::296,2603:1030:c04:8::134,2603:1030:c04:14::2a8,2603:1030:c04:7::2f9,2603:1030:c04:27::50,2603:1030:c04:27::54,2603:1030:c06:7::4e,2603:10e1:100:2::142a:807e,2603:1030:c06:7::4f,2603:10e1:100:2::1473:f71a","possibleOutboundIpv6Addresses":"2603:1030:c04:6::1e5,2603:1030:c04:7::334,2603:1030:c04:e::258,2603:1030:c02:8::333,2603:1030:c04:7::339,2603:1030:c04:11::2c8,2603:1030:c04:14::296,2603:1030:c04:8::134,2603:1030:c04:14::2a8,2603:1030:c04:7::2f9,2603:1030:c04:27::50,2603:1030:c04:27::54,2603:1030:c04:8::1c2,2603:1030:c04:d::1f3,2603:1030:c04:27::55,2603:1030:c04:b::12b,2603:1030:c04:6::95,2603:1030:c04:f::54,2603:1030:c04:6::1dc,2603:1030:c04:8::234,2603:1030:c04:14::2be,2603:1030:c04:29::50,2603:1030:c04:11::2c4,2603:1030:c04:9::2ca,2603:1030:c02:9::20a,2603:1030:c04:6::205,2603:1030:c04:27::58,2603:1030:c04:7::33d,2603:1030:c04:8::260,2603:1030:c04:7::33f,2603:1030:c06:7::4e,2603:10e1:100:2::142a:807e,2603:1030:c06:7::4f,2603:10e1:100:2::1473:f71a","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-mwh-143","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli_test_webapp_up_enriched000001","defaultHostName":"webapp-up-enr000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs,AppServiceAuditLogs,AppServiceIPSecAuditLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null,"maintenanceEnabled":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DCF9C30C32CB6B"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/sites/webapp-up-enr000002/publishxml?api-version=2025-05-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-up-enr000002 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="webapp-up-enr000002.scm.azurewebsites.net:443"
        msdeploySite="webapp-up-enr000002" userName="REDACTED" userPWD="REDACTED"
        destinationAppUrl="https://webapp-up-enr000002.azurewebsites.net" SQLServerDBConnectionString="REDACTED"
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="webapp-up-enr000002
        - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-mwh-143.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="https://webapp-up-enr000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases
        /></publishProfile><publishProfile profileName="webapp-up-enr000002 - Zip
        Deploy" publishMethod="ZipDeploy" publishUrl="webapp-up-enr000002.scm.azurewebsites.net:443"
        userName="REDACTED" userPWD="REDACTED" destinationAppUrl="https://webapp-up-enr000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases
        /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/sites/webapp-up-enr000002/config/appsettings/list?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/sites/webapp-up-enr000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US 2","properties":{}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "West US 2", "properties": {"WEBSITE_RUN_FROM_PACKAGE": "https://fake.blob.core.windows.net/c/fake.zip"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/sites/webapp-up-enr000002/config/appsettings?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/sites/webapp-up-enr000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US 2","properties":{"WEBSITE_RUN_FROM_PACKAGE":"https://fake.blob.core.windows.net/c/fake.zip"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DCF9C317DEF960"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/sites?api-version=2025-05-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/amberwang-rg/providers/Microsoft.Web/sites/awparapp","name":"awparapp","type":"Microsoft.Web/sites","kind":"app,linux","location":"France
        Central","tags":{"hidden-link: /app-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/sites/webapp-up-enr000002/config/web?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_enriched000001/providers/Microsoft.Web/sites/webapp-up-enr000002/config/web","name":"webapp-u[...]
[...]
