interactions:
- request:
    body: '{"name": "helloworld", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2020-09-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"Hostname
        ''helloworld'' already exists. Please select a different name."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/sites?api-version=2020-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cleanupservice/providers/Microsoft.Web/sites/cln8885321b-50a0-4ab3-b37a-74d2c1d94655","name":"cln8885321b-50a0-4ab3-b37a-74d2c1d94655","type":"Microsoft.Web/sites","kind":"app","location":"South
        Central US","tags":{"hidden-related:/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cleanupservice/providers/Microsoft.Web/serverfarms/cln8885321b-50a0-4ab3-b37a-74d2c1d94655":"empty"},"properties":{"name":"cln8885321b-50a0-4ab3-b37a-74d2c1d94655","state":"Running","hostNames":["cln8885321b-50a0-4ab3-b37a-74d2c1d94655.azurewebsites.net"],"webSpace":"cleanupservice-SouthCentralUSwebspace","selfLink":"https://waws-prod-sn1-145.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cleanupservice-SouthCentralUSwebspace/sites/cln8885321b-50a0-4ab3-b37a-74d2c1d94655","repositorySiteName":"cln8885321b-50a0-4ab3-b37a-74d2c1d94655","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["cln8885321b-50a0-4ab3-b37a-74d2c1d94655.azurewebsites.net","cln8885321b-50a0-4ab3-b37a-74d2c1d94655.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":[],"csrs":[],"cers":null,"siteMode":"Limited","hostNameSslStates":[{"name":"cln8885321b-50a0-4ab3-b37a-74d2c1d94655.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"cln8885321b-50a0-4ab3-b37a-74d2c1d94655.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":"Dedicated","serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cleanupservice/providers/Microsoft.Web/serverfarms/cln8885321b-50a0-4ab3-b37a-74d2c1d94655","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2021-08-23T16:09:50.54","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"azureStorageAccounts":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":true,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":null,"scmIpSecurityRestrictions":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0},"deploymentId":"cln8885321b-50a0-4ab3-b37a-74d2c1d94655","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"333646C25EDA7C903C86F0F0D0193C412978B2E48FA0B4F1461D339FBBAE3EB7","kind":"app","inboundIpAddress":"13.84.189.137","possibleInboundIpAddresses":"13.84.189.137","ftpUsername":"cln8885321b-50a0-4ab3-b37a-74d2c1d94655\\$cln8885321b-50a0-4ab3-b37a-74d2c1d94655","ftpsHostName":"ftps://waws-prod-sn1-145.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"13.84.189.137,13.84.190.245,104.214.36.115,104.214.34.98,104.214.37.253","possibleOutboundIpAddresses":"13.84.189.137,13.84.190.245,104.214.36.115,104.214.34.98,104.214.37.253,40.124.46.55,13.65.202.40,13.65.195.121","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-sn1-145","cloningInfo":null,"hostingEnvironmentId":null,"tags":{"hidden-related:/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cleanupservice/providers/Microsoft.Web/serverfarms/cln8885321b-50a0-4ab3-b37a-74d2c1d94655":"empty"},"resourceGroup":"cleanupservice","defaultHostName":"cln8885321b-50a0-4ab3-b37a-74d2c1d94655.azurewebsites.net","slotSwapStatus":null,"keyVaultReferenceIdentity":"SystemAssigned","httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs","storageAccountRequired":false,"virtualNetworkSubnetId":null},"identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"8b756a2f-3064-46f7-bb47-2e45dd379501"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Web/sites/SilasStrawn-TestPythonApp","name":"SilasStrawn-TestPythonApp","type":"Microsoft.Web/sites","kind":"app,linux","location":"Central
        US","properties":{"name":"SilasStrawn-TestPythonApp","state":"Running","hostNames":["silasstrawn-testpythonapp.azurewebsites.net"],"webSpace":"test-CentralUSwebspace-Linux","selfLink":"https://waws-prod-dm1-213.a[...]
[...]
