interactions:
- request:
    body: '{"name": "invalid_name000002", "type": "Microsoft.Web/sites"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2019-08-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"Invalid","message":"Hostname must
        be less than 64 chars and must follow allowed character guidelines at http://tools.ietf.org/html/rfc952."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "invalid_name000002", "type": "Microsoft.Web/sites"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2019-08-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"Invalid","message":"Hostname must
        be less than 64 chars and must follow allowed character guidelines at http://tools.ietf.org/html/rfc952."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
