interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
>>>>>>> live test
        azure-mgmt-resource/6.0.0 Azure-SDK-For-Python AZURECLI/2.0.78
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-12-30T20:26:11Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-12-31T02:40:01Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> live test
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:26:14 GMT
=======
      - Tue, 31 Dec 2019 02:40:05 GMT
>>>>>>> live test
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "swiftsubnet000004"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
>>>>>>> live test
        azure-mgmt-network/7.0.0 Azure-SDK-For-Python AZURECLI/2.0.78
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000005?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"swiftname000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000005\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"79f98f63-b77e-485e-a72c-27415795f23e\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"50cf3bf9-75fb-4385-8541-80ede97bd3a3\",\r\n    \"addressSpace\":
=======
        \ \"etag\": \"W/\\\"b5ba0a19-110f-4b5f-918e-60b61169b475\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"1426d6a2-ef58-4434-8581-8f9d7244bb25\",\r\n    \"addressSpace\":
>>>>>>> live test
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"swiftsubnet000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000005/subnets/swiftsubnet000004\",\r\n
<<<<<<< HEAD
        \       \"etag\": \"W/\\\"79f98f63-b77e-485e-a72c-27415795f23e\\\"\",\r\n
=======
        \       \"etag\": \"W/\\\"b5ba0a19-110f-4b5f-918e-60b61169b475\\\"\",\r\n
>>>>>>> live test
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/bce31015-dc48-41f4-849f-dfceb74e1d63?api-version=2019-09-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5e2fd1c5-f4a2-434e-aa1d-0045f00c8fd8?api-version=2019-09-01
>>>>>>> live test
      cache-control:
      - no-cache
      content-length:
      - '1528'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:26:15 GMT
=======
      - Tue, 31 Dec 2019 02:40:11 GMT
>>>>>>> live test
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 4a89b813-7cc1-43b2-af16-1361cfe93858
=======
      - 1c48666c-5bc9-46ea-a7b9-d76ae09970f3
>>>>>>> live test
      x-ms-ratelimit-remaining-subscription-writes:
      - '1172'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-network/7.0.0 Azure-SDK-For-Python AZURECLI/2.0.78
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/bce31015-dc48-41f4-849f-dfceb74e1d63?api-version=2019-09-01
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-network/7.0.0 Azure-SDK-For-Python AZURECLI/2.0.78
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5e2fd1c5-f4a2-434e-aa1d-0045f00c8fd8?api-version=2019-09-01
>>>>>>> live test
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:26:19 GMT
=======
      - Tue, 31 Dec 2019 02:40:16 GMT
>>>>>>> live test
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 5322d706-5064-428d-b731-1061bd997e2d
=======
      - cc9e2aa3-a261-4bf6-8991-3526ce975108
>>>>>>> live test
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
>>>>>>> live test
        azure-mgmt-network/7.0.0 Azure-SDK-For-Python AZURECLI/2.0.78
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Micr[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000005/subnets/swiftsubnet000004",
      "properties": {"addressPrefix": "10.0.0.0/24", "serviceEndpoints": [{"service":
      "Microsoft.Storage"}], "delegations": [{"properties": {"serviceName": "Microsoft.Web/serverfarms"},
      "name": "0"}], "privateEndpointNetworkPolicies": "Enabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}, "name": "swiftsubnet000004"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
>>>>>>> live test
        azure-mgmt-network/7.0.0 Azure-S[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
>>>>>>> live test
        azure-mgmt-network/7.0.0 Azure-SDK-For-Python AZURECLI/2.0.78
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000005/subnets/swiftsubnet000004?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"swiftsubnet000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000005/subnets/swiftsubnet000004\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"1ecb1752-ae35-4918-a641-e75d80c49d0f\\\"\",\r\n  \"properties\":
=======
        \ \"etag\": \"W/\\\"687c179d-9ccf-43c4-bb4b-8d4850fdc4a6\\\"\",\r\n  \"properties\":
>>>>>>> live test
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
        \       \"service\": \"Microsoft.Storage\",\r\n        \"locations\": [\r\n
        \         \"westus\",\r\n          \"eastus\"\r\n        ]\r\n      }\r\n
        \   ],\r\n    \"delegations\": [\r\n      {\r\n        \"name\": \"0\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000005/subnets/swiftsubnet000004/delegations/0\",\r\n
<<<<<<< HEAD
        \       \"etag\": \"W/\\\"1ecb1752-ae35-4918-a641-e75d80c49d0f\\\"\",\r\n
=======
        \       \"etag\": \"W/\\\"687c179d-9ccf-43c4-bb4b-8d4850fdc4a6\\\"\",\r\n
>>>>>>> live test
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"serviceName\": \"Microsoft.Web/serverfarms\",\r\n          \"actions\":
        [\r\n            \"Microsoft.Network/virtualNetworks/subnets/action\"\r\n
        \         ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n
        \     }\r\n    ],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:26:23 GMT
      etag:
      - W/"1ecb1752-ae35-4918-a641-e75d80c49d0f"
=======
      - Tue, 31 Dec 2019 02:40:25 GMT
      etag:
      - W/"687c179d-9ccf-43c4-bb4b-8d4850fdc4a6"
>>>>>>> live test
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - e0f9611b-c9fc-4369-bd9a-3da68041071e
=======
      - 9da7f909-7a3c-49b1-b386-56b72d995f64
>>>>>>> live test
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "swiftplan000003", "type": "Microsoft.Web/serverfarms", "location":
      "westus", "properties": {"skuName": "P1V2", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.78
>>>>>>> live test
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/validate?api-version=2019-08-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:26:24 GMT
=======
      - Tue, 31 Dec 2019 02:40:27 GMT
>>>>>>> live test
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"perSiteScaling": false, "isXenon":
      false}, "sku": {"name": "P1V2", "tier": "PREMIUMV2", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.78
>>>>>>> live test
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/swiftplan000003?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/swiftplan000003","name":"swiftplan000003","type":"Microsoft.Web/serverfarms","kind":"app","location":"West
<<<<<<< HEAD
        US","properties":{"serverFarmId":21664,"name":"swiftplan000003","workerSize":"D1","workerSizeId":3,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"D1","currentWorkerSizeId":3,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestUSwebspace","subscription":"0a60a016-d28c-428c-b5a6-7435ec6f40e3","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":20,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bay-119_21664","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null},"sku":{"name":"P1v2","tier":"PremiumV2","size":"P1v2","family":"Pv2","capacity":1}}'
=======
        US","properties":{"serverFarmId":24837,"name":"swiftplan000003","workerSize":"D1","workerSizeId":3,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"D1","currentWorkerSizeId":3,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestUSwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":20,"planName":"VirtualDe[...]
[...]
- request:
    body: 'b''{"location": "West US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/swiftplan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "10.14"}],
      "alwaysOn": true, "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.78
>>>>>>> live test
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/swiftwebapp000002?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/swiftwebapp000002","name":"swiftwebapp000002","type":"Microsoft.Web/sites","kind":"app","location":"West
<<<<<<< HEAD
        US","properties":{"name":"swiftwebapp000002","state":"Running","hostNames":["swiftwebapp000002.azurewebsites.net"],"webSpace":"clitest.rg000001-WestUSwebspace","selfLink":"https://waws-prod-bay-119.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestUSwebspace/sites/swiftwebapp000002","repositorySiteName":"swiftwebapp000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["swiftwebapp000002.azurewebsites.net","swiftwebapp000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"swiftwebapp000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"swiftwebapp000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/swiftplan000003","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2019-12-30T20:26:34.3133333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"swiftwebapp000002","trafficManagerHostNames":null,"sku":"PremiumV2","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"7E22EBD4559F934019ECB3BD03C1E8CE3F851A52DE1D098FFA233510B8C2ADE5","kind":"app","inboundIpAddress":"104.40.11.192","possibleInboundIpAddresses":"104.40.11.192","outboundIpAddresses":"104.40.0.244,157.56.167.87,157.56.164.95","possibleOutboundIpAddresses":"104.40.11.192,157.56.167.77,157.56.167.122,157.56.164.75,104.40.14.12,104.40.0.244,157.56.167.87,157.56.164.95","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-119","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"swiftwebapp000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null}}'
=======
        US","properties":{"name":"swiftwebapp000002","state":"Running","hostNames":["swiftwebapp000002.azurewebsites.net"],"webSpace":"clitest.rg000001-WestUSwebspace","selfLink":"https://waws-prod-bay-115.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestUSwebspace/sites/swiftwebapp000002","repositorySiteName":"swiftwebapp000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNam[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.78
>>>>>>> live test
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/swiftwebapp000002/publishxml?api-version=2019-08-01
  response:
    body:
      string: <publishData><publishProfile profileName="swiftwebapp000002 - Web Deploy"
        publishMethod="MSDeploy" publishUrl="swiftwebapp000002.scm.azurewebsites.net:443"
<<<<<<< HEAD
        msdeploySite="swiftwebapp000002" userName="$swiftwebapp000002" userPWD="SBJpyqF4bkwbTwXTnxMJsMG7rqST8rAaaF73erbWkdPeEcssBnbWwpL73Wj1"
        destinationAppUrl="http://swiftwebapp000002.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="swiftwebapp000002
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-119.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="swiftwebapp000002\$swiftwebapp000002" userPWD="SBJpyqF4bkwbTwXTnxMJsMG7rqST8rAaaF73erbWkdPeEcssBnbWwpL73Wj1"
        destinationAppUrl="http://swiftwebapp000002.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" contr[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
>>>>>>> live test
        azure-mgmt-network/7.0.0 Azure-SDK-For-Python AZURECLI/2.0.78
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/virtualNetworks?api-version=2019-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"name":"newVnet-external3","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/allisonm-ase/providers/Microsoft.Network/virtualNetworks/newVnet-external3","etag":"W/\"ef1f59a9-7195-4de2-b8b8-d273ef4a0384\"","type":"Microsoft.Network/virtualNetworks","location":"westus","properties":{"provisioningState":"Succeeded","resourceGuid":"9dc8d4b9-165f-436d-be3d-5661b33beed0","addressSpace":{"addressPrefixes":["192.168.250.0/23"]},"subnets":[{"name":"subnet1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/allisonm-ase/providers/Microsoft.Network/virtualNetworks/newVnet-external3/subnets/subnet1","etag":"W/\"ef1f59a9-7195-4de2-b8b8-d273ef4a0384\"","properties":{"provisioningState":"Succeeded","addressPrefix":"192.168.250.0/24","networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/allisonm-ase/providers/Microsoft.Network/networkSecurityGroups/allisonm-external3-NSG"},"routeTable":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/allisonm-ase/providers/Microsoft.Network/routeTables/allisonm-external3-Route-Table"},"resourceNavigationLinks":[{"name":"MicrosoftWeb_HostingEnvironments_allisonm-internal2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/allisonm-ase/providers/Microsoft.Network/virtualNetworks/newVnet-external3/subnets/subnet1/resourceNavigationLinks/MicrosoftWeb_HostingEnvironments_allisonm-internal2","etag":"W/\"ef1f59a9-7195-4de2-b8b8-d273ef4a0384\"","type":"Microsoft.Network/virtualNetworks/subnets/resourceNavigationLinks","properties":{"provisioningState":"Succeeded","linkedResourceType":"Microsoft.Web/hostingEnvironments","link":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/allisonm-ase/providers/Microsoft.Web/hostingEnvironments/allisonm-internal2"}}],"delegations":[],"privateEndpointNetworkPolicies":"Enabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"},{"name":"subnet2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/allisonm-ase/providers/Microsoft.Network/virtualNetworks/newVnet-external3/subnets/subnet2","etag":"W/[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.78
>>>>>>> live test
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/swiftwebapp000002/networkConfig/virtualNetwork?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/swiftwebapp000002/config/virtualNetwork","name":"virtualNetwork","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"subnetResourceId":null,"swiftSupported":true}}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:26:52 GMT
      etag:
      - '"1D5BF4F6E0AFDB5"'
=======
      - Tue, 31 Dec 2019 02:41:12 GMT
      etag:
      - '"1D5BF83B4A38295"'
>>>>>>> live test
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.78
>>>>>>> live test
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/swiftwebapp000002/virtualNetworkConnections?api-version=2019-08-01
  response:
    body:
<<<<<<< HEAD
      string: '[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/swiftwebapp000002/virtualNetworkConnections/50cf3bf9-75fb-4385-8541-80ede97bd3a3_swiftsubnet000004","name":"50cf3bf9-75fb-4385-8541-80ede97bd3a3_swiftsubnet000004","type":"Microsoft.Web/sites/virtualNetworkConnections","location":"West
=======
      string: '[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/swiftwebapp000002/virtualNetworkConnections/1426d6a2-ef58-4434-8581-8f9d7244bb25_swiftsubnet000004","name":"1426d6a2-ef58-4434-8581-8f9d7244bb25_swiftsubnet000004","type":"Microsoft.Web/sites/virtualNetworkConnections","location":"West
>>>>>>> live test
        US","properties":{"vnetResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000005/subnets/swiftsubnet000004","certThumbprint":null,"certBlob":null,"routes":null,"resyncRequired":false,"dnsServers":null,"isSwift":true}}]'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:26:54 GMT
=======
      - Tue, 31 Dec 2019 02:41:19 GMT
>>>>>>> live test
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
[...]
