interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"japanwest","tags":{"product":"azurecli","cause":"automation","date":"2021-04-21T02:04:48Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "ssl-test-plan000002", "type": "Microsoft.Web/serverfarms", "location":
      "japanwest", "properties": {"skuName": "B1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/validate?api-version=2020-09-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "japanwest", "sku": {"name": "B1", "tier": "BASIC", "capacity":
      1}, "properties": {"perSiteScaling": false, "isXenon": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002","name":"ssl-test-plan000002","type":"Microsoft.Web/serverfarms","kind":"app","location":"japanwest","properties":{"serverFarmId":23581,"name":"ssl-test-plan000002","sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-JapanWestwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"Japan
        West","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-os1-013_23581","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"azBalancing":false},"sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D73652BD8BE880"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "web-ssl-test000003", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2020-09-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "Japan West", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "10.14.1"}],
      "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped": false,
      "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000003?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000003","name":"web-ssl-test000003","type":"Microsoft.Web/sites","kind":"app","location":"Japan
        West","properties":{"name":"web-ssl-test000003","state":"Running","hostNames":["web-ssl-test000003.azurewebsites.net"],"webSpace":"clitest.rg000001-JapanWestwebspace","selfLink":"https://waws-prod-os1-013.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-JapanWestwebspace/sites/web-ssl-test000003","repositorySiteName":"web-ssl-test000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["web-ssl-test000003.azurewebsites.net","web-ssl-test000003.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"web-ssl-test000003.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"web-ssl-test000003.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2021-04-21T02:05:14.8866667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":null,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":null,"windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"azureStorageAccounts":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":null,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":null,"minTlsVersion":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0},"deploymentId":"web-ssl-test000003","slotName":null,"trafficManagerHostNames":null,"sku":"Basic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","kind":"app","inboundIpAddress":"40.74.100.129","possibleInboundIpAddresses":"40.74.100.129","ftpUsername":"web-ssl-test000003\\$web-ssl-test000003","ftpsHostName":"ftps://waws-prod-os1-013.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"40.74.100.129,40.74.85.64,40.74.126.115,40.74.125.67,40.74.128.17","possibleOutboundIpAddresses":"40.74.100.129,40.74.85.64,40.74.126.115,40.74.125.67,40.74.128.17,40.74.127.201,40.74.128.130,23.100.108.106,40.74.128.122,40.74.128.53","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-os1-013","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"web-ssl-test000003.azurewebsites.net","slotSwapStatus":null,"keyVaultReferenceIdentity":"SystemAssigned","httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs","storageAccountRequired":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D73652C5616BF5"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000003/publishxml?api-version=2020-09-01
  response:
    body:
      string: <publishData><publishProfile profileName="web-ssl-test000003 - Web Deploy"
        publishMethod="MSDeploy" publishUrl="web-ssl-test000003.scm.azurewebsites.net:443"
        msdeploySite="web-ssl-test000003" userName="$web-ssl-test000003" userPWD="zZ4CSpo7Kvdfwrf6jJYtjXe5ncsYF1Q1W59i3htym0ztYc390f3RZMQQ38zY"
        destinationAppUrl="http://web-ssl-test000003.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="web-ssl-test000003
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-os1-013.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="web-ssl-test000003\$web-ssl-test000003" userPWD="zZ4CSpo7Kvdfwrf6jJYtjXe5ncsYF1Q1W59i3htym0ztYc390f3RZMQQ38zY"
        destinationAppUrl="http://web-ssl-test000003.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" c[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"f3ea48f6-a16e-4b37-8260-f69cf2200525","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2020-04-07T09:37:40Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Houk
        Chen","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"honc@microsoft.com","mailNickname":"honc_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["honc@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:honc@microsoft.com"],"refreshTokensValidFromDateTime":"2020-04-07T09:37:40Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/f3ea48f6-a16e-4b37-8260-f69cf2200525/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"honc_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2020-04-10T09:25:17Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2314077'
      ocp-aad-diagnostics-server-name:
      - 8WHJ0ccHpwZSOxFHlICmxzO2D7MM1Fe+d3c/zoum/r4=
      ocp-aad-session-key:
      - pZwDjng2vvxPtJVJhw0sDn9QLIqWastWeaQYAJh4ymUf45QZ8rX0C5jov1uM-_WfMUqR5YLmQZZf0QoWMJbPcb_c-GiU3HLKqlcBNcn7A5558nuaMeLcbPd6E8RpPkKt.nIbcXsiNafzWJ40MuBfP-o1oSWPsOodQGyNQHciQpOE
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "japanwest", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "f3ea48f6-a16e-4b37-8260-f69cf2200525",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000004?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000004","name":"kv-ssl-test000004","type":"Microsoft.KeyVault/vaults","location":"japanwest","tags":{},"systemData":{"createdBy":"honc@microsoft.com","createdByType":"User","createdAt":"1970-01-19T17:42:50.742Z","lastModifiedBy":"honc@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"1970-01-19T17:42:50.742Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"f3ea48f6-a16e-4b37-8260-f69cf2200525","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://kv-ssl-test000004.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27Microsoft.Azure.WebSites%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"559f925e-c126-4b02-a759-f0b2f5d999fe","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Microsoft
        Azure App Service","appId":"abfa0a7c-a6b6-4736-8310-5855508787cd","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Microsoft
        Azure App Service","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access all the APIs registered with App Service","adminConsentDisplayName":"Access
        APIs registered with App Service","id":"e0ea806b-d128-49dc-ac08-2bf18f7874d8","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access all the APIs registered with App Service","userConsentDisplayName":"Access
        APIs registered with App Service","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":["https://trywebsites.azurewebsites.net/","https://trywebsitesstaging.azurewebsites.net/","https://resources-staging.azure.com","https://resources.azure.com","https://deploy.azure.com","https://deploy-staging.azure.com","https://tryappservice.azure.com","https://tryappservice-staging.azure.com","https://functions.azure.com","https://functions-staging.azure.com","https://functions-next.azure.com","https://scratch.botframework.com/","https://ppe.botframework.com/","https://functions-release.azure.com","https://dev.botframework.com/"],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["abfa0a7c-a6b6-4736-8310-5855508787cd","Microsoft.Azure.WebSites","https://appservice.azure.com"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3325002'
      ocp-aad-diagnostics-server-name:
      - ZJX0a7uj5RuzEhaL44I+PqYR2BkRE5H/QOqMtQvXKkY=
      ocp-aad-session-key:
      - 8K61Gy5xlzoXa-M1RIz9cFqmX2HEgRSDE6dnxRqBAEBBCKjK4hbvrarQoTHr11WnA2-8ykyp9I2HLronmxugcLY-a_DUnMuyHPYsBynQ68uRoqgeTQSFnOXtrzaOwbEh.0cCdlsKb9elH9DCwg5UWrDVt7sSVjzBbAlQL05pWok0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "japanwest", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "f3ea48f6-a16e-4b37-8260-f69cf2200525",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://kv-ssl-test000004.vault.azure.net/certificates/test-cert/import?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2021-04-01-preview&%24skiptoken=3ZTRjqM2FIbfJap6tZkAGWaVkaJV0gAJu4YJGAy%2Bs7FnANtAA0mA1b57PW1vtvsE0xtLlo9tne%2F8%2F%2F990fBx%2BFY1ol88f184uxgm8eJ5UQ5D1z%2BvVoo05I0r3gwPZL5e%2BEPRqlV%2FpX1xqbqhapt%2BZVDz9enxs7k06auxfGSMLAkv1suCbqzP1quxsTfGqru0t4rxS78CVXFp%2B%2FZ1ePjKp5Rc5bC6va%2F9F9JVy5su0a9uLcMyl8bj0jCX3YXfKn7%2F%2Fbde6C9bwZttzC%2B3quB70nP2CarNFccjpmg0oFt%2BpQof42ZfJbM7Ya9zX87b7eLT4g8ngNHu20ftDjTlHTsMcRUdgkwSLv1LDgPEZTvTdVdFhn3N65PBlZ8jtalSx75gz4w4Soe46Soq7Ct2S8ylzM9KlhRFaySY4J57LY77MnY6K5%2BDmKPIwYd9AJrIzpUdAmFM9BgQmr3NWLCwsNw8UWMNTH9AdXAByNf17%2BflmFtmzxzzKakDwWZjo6nHYQKP%2Fzv0rp0nxRgk9hU1JUYemLBTCuaBOW2CCjQ7Ex%2F8kHlBxjwzBGqcETINYnYOUgOJndOYzz5iVpSFMCWR2c55yhAzxcSOklBUtjn048KVA9ajAXX69DP6kwVl6TEVJXEmQ6LOE4R%2BBLQE4gaTM%2FwbPXI%2Brpd%2FUbtoZ1j7IkBBTo%2ByStelmSdlW6RigpkUWr1tnrBaq%2FuaNrLWLhnw4XQHjp0hZRLQ7G29twvlP%2BGjXwHpr1EahcBypkTJMLJGI0d2TBGYQFZWsWPfNHLEUDREtVvFrnYbMlvidid9XxCZjLlR9nrEJ6Td%2BC9yf%2FeyC965f8wE%2FYW6PM06c0jh2AM5%2BphCYeGkRCB5nGAdBO%2BUdWYg7jkzOcqQq%2FMdIjPWwhyCg0%2BQx2youph66Z9xnQagljecMqIzJ9MGCKnEeio6KxxzANm%2BpondauoGEGMOdWadZ%2BeOZBnqKQ70EFWR0xpQ2T34T6I7ye7lQxInVN3%2F6dDDJ6RKka7f7jCNUiA20Qs0tosfP%2F4C
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2021-04-01-preview&%24skiptoken=3ZTJcqM4GMffxTU1p3YsiEmPU5WasmMMTVq4LRAyugmkBJAEhMULXf3uI3fNZfIGmYtO2r7ff%2fk5q8Vl%2bF7Wsp89%2fpy56yjG0exxVgxD2z8uFprV7E1oUQ93bBo7cZc3etGPWZ93ZTuUTd0vQGa9Piy%2fWnMrewXzJedszkR%2bP8%2bzlf3VfgUrZwUWbdecSi66fgHLvGv65nW4exHXhI1qWJxua%2f83a8v5yWwxtz7ZwLbmYDkH1rztxKkU5z%2f%2f6KV5spGifopEdypzsWG94F9ivRppdKEZuQCyDZ9z623C%2blJBK9Cpbcn9Tg2Zjyp0X1ypl69%2bHJ6eZl9mz24Yo%2fX3zzotrIszdTkRGm3Do2JQBSfqtxHbtUdc0yLaKYfiQnISurFuGZPOQ0xaknvwGsWhyvSlTauwgnaYYm2VxEN2KlEUYmuI9ECzpAWxLAj0kC%2b2QZXpvy6pzB2eNFOinQLK1KaS73N7Z87%2fpm2TYxtBGw25j%2fbJLmhT29mb%2f4y42lU4BitDPdrj2P%2bfoTcSdHQb7ARxp0NFq8gFV4PWg97unW4TmcVqSBVvGHa%2b4WrDIpe%2bxyoHgoRHVAdVApY2Ia2ElhqRLgoml2diJONeONLtRmXkzU6103PVXNm0KYRKz%2f9F%2f%2b1CEvSS6fAY1Ypl9WZMpwDkJPBzz6J8%2bo2euJ832x%2fdLuTSMu5%2f4Z4ZcUspU%2b07IcDh0hlJjSgEQZ%2fqtoJe8h5XG5nd0rENPW4HmNTJHnnoPrWQhGTnkypgiRWMRHGQeeiIdSFNV3RpFTTMS3zuB1JIB3xAfqYJihhBPjyiEtlFR93iBWqE45rTf90erH%2bswxv3z9moH6lDSXuiUAiB85BOmzLThzPFiAiSuLhCe%2bL1U3wzPnYGk3nK9GEi2nnmiTJUB5XFSWMoPed6h4lRBdlnmybcdI5zM2yYSQoosSahQ59vkxDqi2WoAygvaVy35WFyz0QVe%2bgFGB%2fbfeIa1SV6Cdem0X%2f9%2bgc%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - e4dc2a60-5f0b-47e7-89ef-32fc18f5f4da
      - ce5776ad-3ece-4e19-b3a0-b65cb2bf2de6
      - aa96c28a-a08c-4850-921c-d9d7e3a782e4
      - cc75e19e-edbb-44d6-8ed4-6ad54adcfc6e
      - 53dcaa37-f502-4d72-baaa-f4a9aace4ddf
      - 802fdeea-33a6-487e-b57c-f9e9526eb631
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2021-04-01-preview&%24skiptoken=3ZTJcqM4GMffxTU1p3YsiEmPU5WasmMMTVq4LRAyugmkBJAEhMULXf3uI3fNZfIGmYtO2r7ff%2Fk5q8Vl%2BF7Wsp89%2Fpy56yjG0exxVgxD2z8uFprV7E1oUQ93bBo7cZc3etGPWZ93ZTuUTd0vQGa9Piy%2FWnMrewXzJedszkR%2BP8%2Bzlf3VfgUrZwUWbdecSi66fgHLvGv65nW4exHXhI1qWJxua%2F83a8v5yWwxtz7ZwLbmYDkH1rztxKkU5z%2F%2F6KV5sp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2021-04-01-preview&%24skiptoken=3ZTRbqM4FIbfJVrt1aQBGjKTStUqaYGEDmZrwAbf2ZgWsE1IICEwmndfs3u1r9AbJCRzLL7%2FP9%2BvRVPc%2B59VI7rF06%2BFs4viJFo8Lcq%2Bb7un1UrRhn4Wqmj6BzpdL8VDflKr7sq6%2FFK1fXVqupXBzI%2FN%2Bru5NNmHsVxzTpe0yB%2BXOdta360PY2tvjVV7Od0qXly6VVDll1N3%2Bugf3ooR0avsV7f52f1F22p500f01GfLsMylsV4a5rK9FLeqGP78[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2021-04-01-preview&%24skiptoken=3ZXLcqM4GEbfxTU1q3ZbYOOepCo1FU%2B4hLRgLIQUaScQCVgSVgy%2B0dXvPnJ28wrZwEb8Up3v6OPXrG8u48%2BuV8Ps%2FtcsfCxwWczuZ%2B042uF%2BsTCiF%2B%2BNafrxu5iOh%2BZ7vTeL4VgN9aGzY7fvhwWovLf16oc396o3MF9JKeaiqZfzurrzf%2Fhv4C64Awt72J862RyGBezqw37Yv43fX5orEUc9Lk635%2FC3sN385Ja4qQ8%2B8L05WM2BN7eH5tQ1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2021-04-01-preview&%24skiptoken=3ZXdbqM4GIbvJVrt0aQBEjJKpWrVTPkpHcPUGDv4zAa3EINxgDSE0dz7Oqs5mb2Enliy5B%2F5%2FZ7v8c%2BFEtP4vVZyWNz%2FXHiPKcrSxf2iGkc93K9WLVPsXbRCjXdsPvfiruja1XDmQ9HXeqw7Nawsbr9tN1%2Ftpc3frOWmLNmSiWK9LPjO%2Beq8WTt3Z610333UpeiHFaiLvhu6t%2FHuRVwxOzfj6uM2Dv8wXS8%2FzBJz6oNjOfbS2iwte6l78VGLy99%2FDd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2021-04-01-preview&%24skiptoken=3ZXbbqM6AEX%2FJRqdp0kDNM6olapRO%2BUSOpiJARv8ZrBbB3PxCSQkjObfjxmdr%2BgLEsICae29F79XnbiOP4%2BdGlaPv1fuc5JmyepxJcdRD4%2BbTcs69iFa0Y13bD6fxF3Vt5vhXA7V6ajHY98NG6u033fbb%2FbaLt%2Bt9ZZztmaiul9X5YPzzXm3HsCDtdGn%2FnLk4jRsomN16of%2Bfbx7EzfMzs24uSzX4TvTx%2FXFHDFvfXIsx15b27Vlr%2FVJXI5i%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2021-04-01-preview&%24skiptoken=3ZTRbqM4FIbfJVrt1aQBUmeUStUqnQAJGTtbQ%2BzAncFuDcbgBJIQRvPu687sze4j9AYLCY6l7%2FvP%2F2PSiKH%2FXjaqmzz9mPirODnEk6eJ7HvTPc1mmjXsXWjR9A9svJzFQ9HqWXfJu%2BJcmr5sm27m5O7b4vGrO3XzN2f6yDmbMlHMp0W%2B9L56b84SLJ2ZObfXkotzN4NlcW679q1%2F2Ik7YZe6n10%2Fnt1fzJTTq%2F3ETn32HM%2BdOo9Tx52as7iW4vbn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CertificateRegistration/certificateOrders?api-version=2020-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zhoxing-test/providers/Microsoft.CertificateRegistration/certificateOrders/zhoxing-test","name":"zhoxing-test","type":"certificateOrders","location":"global","tags":{"dev":"test"},"properties":{"distinguishedName":"CN=azure.com","domainVerificationToken":"d9jelt9018o12sutmq9k4va7js","validityInYears":1,"keySize":2048,"productType":"StandardDomainValidatedSsl","autoRenew":true,"status":"Denied","csr":"-----BEGIN
        NEW CERTIFICATE REQUEST-----\r\nMIIEPDCCAyQCAQAwFDESMBAGA1UEAwwJYXp1cmUuY29tMIIBIjANBgkqhkiG9w0B\r\nAQEFAAOCAQ8AMIIBCgKCAQEAtNc/Zl/SbS70dDyvUDtTdJnnwLC1JYFvKJ8rV1y+\r\nuJuLnvSxIwioEu33BIn9AzQiPwA52ukb2QG6xvJA+iCfMEJgSc35/ORqx/iCFmNs\r\naBxaHhaTHjyFUUhLsSfIM21fV4dDS/iWcpByU+rxt+FtYO+N8dHAkze5iCMkdYCd\r\nUeqluFZoo4VgjVqPML0q46Oma3xcPmE7x+5FDh3EXB5nFLNq8pPkweJuvFswxG5t\r\ngnCmUHhRYQZitpZO/QLhH5z16Fl4mPL/vDenWbi65P3Hyd9806GU517lGcxa/st1\r\nQhufXobDBvEemAH0OYmYj0y0xhh6/Y56h6HIzpKz[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
