interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{"product":"azurecli","cause":"automation","date":"2023-02-03T18:19:12Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "sku": {"name": "S1", "tier": "STANDARD", "capacity":
      1}, "properties": {"perSiteScaling": false, "isXenon": false, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan-backup000002?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan-backup000002","name":"plan-backup000002","type":"Microsoft.Web/serverfarms","kind":"app","location":"westeurope","properties":{"serverFarmId":46574,"name":"plan-backup000002","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestEuropewebspace","subscription":"963196a9-83a5-4cc0-b36a-1c7780e43cb8","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        Europe","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-am2-481_46574","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D937FC0E628ECB"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "backup-webapp000003", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2022-03-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2022-03-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        7 (STS)","value":"dotnet7","minorVersions":[{"displayText":".NET 7 (STS)","value":"7","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v7.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.x"}},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|7.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.x"}}}}]},{"displayText":".NET
        6","value":"dotnet6","minorVersions":[{"displayText":".NET 6 (LTS)","value":"6","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v6.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"6.0.x"}},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|6.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"6.0.x"}}}}]},{"displayText":".NET
        5","value":"dotnet5","minorVersions":[{"displayText":".NET 5","value":"5","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v5.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"5.0.x"},"endOfLifeDate":"2022-05-08T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|5.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"5.0.x"},"endOfLifeDate":"2022-05-08T00:00:00Z"}}}]},{"displayText":".NET
        Core 3","value":"dotnetcore3","minorVersions":[{"displayText":".NET Core 3.1
        (LTS)","value":"3.1","stackSettings":{"windowsRuntimeSettings":{"runtimeV[...]
- request:
    body: '{"location": "West Europe", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan-backup000002",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "~14"}],
      "alwaysOn": true, "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003","name":"backup-webapp000003","type":"Microsoft.Web/sites","kind":"app","location":"West
        Europe","properties":{"name":"backup-webapp000003","state":"Running","hostNames":["backup-webapp000003.azurewebsites.net"],"webSpace":"clitest.rg000001-WestEuropewebspace","selfLink":"https://waws-prod-am2-481.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestEuropewebspace/sites/backup-webapp000003","repositorySiteName":"backup-webapp000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["backup-webapp000003.azurewebsites.net","backup-webapp000003.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"backup-webapp000003.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"backup-webapp000003.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan-backup000002","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2023-02-03T18:19:42.2366667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null},"deploymentId":"backup-webapp000003","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"23B7C041D4BEB113141735F4D917C0572DF52DF305AC67069150FD77EFBFBECA","kind":"app","inboundIpAddress":"20.50.2.77","possibleInboundIpAddresses":"20.50.2.77","ftpUsername":"backup-webapp000003\\$backup-webapp000003","ftpsHostName":"ftps://waws-prod-am2-481.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"20.93.254.115,20.93.254.70,20.93.254.90,20.103.200.66,20.93.255.209,20.103.201.89,20.50.2.77","possibleOutboundIpAddresses":"20.93.254.115,20.93.254.70,20.93.254.90,20.103.200.66,20.93.255.209,20.103.201.89,20.93.254.3,20.93.254.154,20.93.254.247,20.93.253.214,20.93.253.221,20.93.255.120,20.93.254.18,20.93.255.164,20.93.255.252,20.103.200.116,20.103.200.176,20.103.201.103,20.103.200.64,20.103.200.144,20.93.251.26,20.103.200.40,20.103.200.204,20.103.201.23,20.103.201.74,20.103.200.180,20.103.201.81,20.93.252.128,20.103.201.120,20.93.252.105,20.50.2.77","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-am2-481","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"backup-webapp000003.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs","storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","defaultHostNameScope":"Global","privateLinkIdentifiers":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D937FC168E0775"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/publishxml?api-version=2022-03-01
  response:
    body:
      string: <publishData><publishProfile profileName="backup-webapp000003 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="backup-webapp000003.scm.azurewebsites.net:443"
        msdeploySite="backup-webapp000003" userName="$backup-webapp000003" userPWD="x8imK6TTTbFcQnks4otFfhA8ZhlNJji68TAsjhhmXP1brbHnAQS7myzl2B9m"
        destinationAppUrl="http://backup-webapp000003.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="backup-webapp000003
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-am2-481.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="backup-webapp000003\$backup-webapp000003"
        userPWD="x8imK6TTTbFcQnks4otFfhA8ZhlNJji68TAsjhhmXP1brbHnAQS7myzl2B9m" destinationAppUrl="http://backup-webapp000003.azurewebsites.net"
        SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases
        /></publishProfile><publishProfile profileName="backup-webapp000003 - Zip
        Deploy" publishMethod="ZipDeploy" publishUrl="backup-webapp000003.scm.azurewebsites.net:443"
        userName="$backup-webapp000003" userPWD="x8imK6TTTbFcQnks4otFfhA8ZhlNJji68TAsjhhmXP1brbHnAQS7myzl2B9m"
        destinationAppUrl="http://backup-webapp000003.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/config/web?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/config/web","name":"backup-webapp000003","type":"Microsoft.Web[...]
- request:
    body: '{"location": "West Europe", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan-backup000002",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
   [...]
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "westeurope",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/backup000004?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westeurope/asyncoperations/63f6ea02-b4db-4d59-be1b-a47ae717b2cd?monitor=true&api-version=2022-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westeurope/asyncoperations/63f6ea02-b4db-4d59-be1b-a47ae717b2cd?monitor=true&api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westeurope/asyncoperations/63f6ea02-b4db-4d59-be1b-a47ae717b2cd?monitor=true&api-version=2022-09-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westeurope/asyncoperations/63f6ea02-b4db-4d59-be1b-a47ae717b2cd?monitor=true&api-version=2022-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/backup000004","name":"backup000004","type":"Microsoft.Storage/storageAccounts","location":"westeurope","tags":{},"properties":{"keyCreationTime":{"key1":"2023-02-03T18:20:46.7453237Z","key2":"2023-02-03T18:20:46.7453237Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-02-03T18:20:47.1515732Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-02-03T18:20:47.1515732Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2023-02-03T18:20:46.6046946Z","primaryEndpoints":{"dfs":"https://backup000004.dfs.core.windows.net/","web":"https://backup000004.z6.web.core.windows.net/","blob":"https://backup000004.blob.core.windows.net/","queue":"https://backup000004.queue.core.windows.net/","table":"https://backup000004.table.core.windows.net/","file":"https://backup000004.file.core.windows.net/"},"primaryLocation":"westeurope","statusOfPrimary":"available","secondaryLocation":"northeurope","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://backup000004-secondary.dfs.core.windows.net/","web":"https://backup000004-secondary.z6.web.core.windows.net/","blob":"https://backup000004-secondary.blob.core.windows.net/","queue":"https://backup000004-secondary.queue.core.windows.net/","table":"https://backup000004-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-EastAsiaStage/providers/Microsoft.Storage/storageAccounts/sqlvamfyt7ib5fhkga","name":"sql[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/backup000004/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-02-03T18:20:46.7453237Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-02-03T18:20:46.7453237Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Feb 2023 18:21:17 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://backup000004.blob.core.windows.net/backupcontainer000005?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB061371C2D1CC"'
      last-modified:
      - Fri, 03 Feb 2023 18:21:18 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"backupName": "backup-name000006", "storageAccountUrl":
      "https://backup000004.blob.core.windows.net/backupcontainer000005?se=2023-02-05T02%3A51Z&sp=rwdl&sv=2021-06-08&sr=c&sig=Dw9hbJjSjol%2Bwo07lVphlb/SBx205jkrnLVmJxhDxoA%3D"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/backup?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003","name":"backup-webapp000003","type":"Microsoft.Web/sites","location":"West
        Europe","properties":{"id":15358,"storageAccountUrl":"https://backup000004.blob.core.windows.net/backupcontainer000005?se=2023-02-05T02%3A51Z&sp=rwdl&sv=2021-06-08&sr=c&sig=Dw9hbJjSjol%2Bwo07lVphlb/SBx205jkrnLVmJxhDxoA%3D","blobName":"backup-name000006","name":"backup-name000006","backupName":"backup-name000006","status":"Created","sizeInBytes":0,"created":"2023-02-03T18:21:54.2421515Z","log":null,"databases":null,"scheduled":false,"correlationId":"54942e65-aa2a-4ee9-bd81-d77fe7244163","websiteSizeInBytes":null}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/backups?api-version=2022-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/backups/15358","name":"15358","type":"Microsoft.Web/sites/backups","location":"West
        Europe","properties":{"id":15358,"storageAccountUrl":"","blobName":"backup-name000006.zip","name":"backup-name000006","backupName":"backup-name000006","status":"InProgress","sizeInBytes":0,"created":"2023-02-03T18:21:54.2421515","log":null,"databases":null,"scheduled":false,"correlationId":"54942e65-aa2a-4ee9-bd81-d77fe7244163","websiteSizeInBytes":null}}],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/backups?api-version=2022-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/backups/15358","name":"15358","type":"Microsoft.Web/sites/backups","location":"West
        Europe","properties":{"id":15358,"storageAccountUrl":"","blobName":"backup-name000006.zip","name":"backup-name000006","backupName":"backup-name000006","status":"Succeeded","sizeInBytes":6199,"created":"2023-02-03T18:21:54.2421515","log":"","databases":null,"scheduled":false,"finishedTimeStamp":"2023-02-03T18:22:04.8242381","correlationId":"54942e65-aa2a-4ee9-bd81-d77fe7244163","websiteSizeInBytes":3700}}],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/backups/15358?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003","name":"backup-webapp000003","type":"Microsoft.Web/sites","location":"West
        Europe","properties":{"id":15358,"storageAccountUrl":"https://backup000004.blob.core.windows.net/backupcontainer000005?se=2023-02-05T02%3A51Z&sp=rwdl&sv=2021-06-08&sr=c&sig=Dw9hbJjSjol%2Bwo07lVphlb/SBx205jkrnLVmJxhDxoA%3D","blobName":"backup-name000006.zip","name":"backup-name000006","backupName":"backup-name000006","status":"DeleteInProgress","sizeInBytes":6199,"created":"2023-02-03T18:21:54.2421515","log":"","databases":null,"scheduled":false,"finishedTimeStamp":"2023-02-03T18:22:04.8242381","correlationId":"54942e65-aa2a-4ee9-bd81-d77fe7244163","websiteSizeInBytes":3700}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/slots/slot/backups?api-version=2022-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/slots/slot/backups/15359","name":"15359","type":"Microsoft.Web/sites/backups","location":"West
        Europe","properties":{"id":15359,"storageAccountUrl":"","blobName":"sbn-000007.zip","name":"sbn-000007","backupName":"sbn-000007","status":"InProgress","sizeInBytes":0,"created":"2023-02-03T18:23:02.496954","log":null,"databases":null,"scheduled":false,"correlationId":"57a7ff1f-b4d7-468a-8db5-49ddda639dd6","websiteSizeInBytes":null}}],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/slots/slot/backups/15359?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/slots/slot","name":"backup-webapp000003/slot","type":"Microsoft.Web/sites/slots","location":"West
        Europe","properties":{"id":15359,"storageAccountUrl":"https://backup000004.blob.core.windows.net/backupcontainer000005?se=2023-02-05T02%3A51Z&sp=rwdl&sv=2021-06-08&sr=c&sig=Dw9hbJjSjol%2Bwo07lVphlb/SBx205jkrnLVmJxhDxoA%3D","blobName":"sbn-000007.zip","name":"sbn-000007","backupName":"sbn-000007","status":"DeleteInProgress","sizeInBytes":5304,"created":"2023-02-03T18:23:02.496954","log":"","databases":null,"scheduled":false,"finishedTimeStamp":"2023-02-03T18:23:13.2195457","correlationId":"57a7ff1f-b4d7-468a-8db5-49ddda639dd6","websiteSizeInBytes":3269}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
[...]
