interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (macOS-26.4.1-arm64-arm-64bit-Mach-O)
=======
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (Windows-11-10.0.26100-SP0)
>>>>>>> 8d518d368b (update test recordings)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_webapp_deploy_runtimestatus000001?api-version=2024-11-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001","name":"cli_test_webapp_deploy_runtimestatus000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_track_runtimestatus_buildfailed","date":"2026-04-30T15:20:17Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001","name":"cli_test_webapp_deploy_runtimestatus000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_track_runtimestatus_buildfailed","date":"2026-05-08T15:57:42Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> 8d518d368b (update test recordings)
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Thu, 30 Apr 2026 15:20:17 GMT
=======
      - Fri, 08 May 2026 15:57:44 GMT
>>>>>>> 8d518d368b (update test recordings)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: 273E6234522B4ED5B0D8E40498DB0122 Ref B: BL2AA2010204035 Ref C: 2026-04-30T15:20:18Z'
=======
      - 'Ref A: 44F18BEA8BE149418198433CF15DBCD0 Ref B: SN4AA2022303045 Ref C: 2026-05-08T15:57:44Z'
>>>>>>> 8d518d368b (update test recordings)
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"perSiteScaling": false, "reserved":
      true}, "sku": {"capacity": 1, "name": "S1", "tier": "STANDARD"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (macOS-26.4.1-arm64-arm-64bit-Mach-O)
=======
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (Windows-11-10.0.26100-SP0)
>>>>>>> 8d518d368b (update test recordings)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003?api-version=2025-03-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003","name":"webapp-runtimestatus-plan000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"eastus","properties":{"serverFarmId":54105,"name":"webapp-runtimestatus-plan000003","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli_test_webapp_deploy_runtimestatus000001-EastUSwebspace-Linux","subscription":"7e574780-0f87-42e8-af8c-5e8cb7d3540a","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"cli_test_webapp_deploy_runtimestatus000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-blu-255_54105","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":3,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2026-04-30T15:20:30.6233333","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":""},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003","name":"webapp-runtimestatus-plan000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"eastus","properties":{"serverFarmId":29856,"name":"webapp-runtimestatus-plan000003","sku":{"name":"S1","ti[...]
[...]
- request:
    body: '{"name": "webapp-runtimestatus-test000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (macOS-26.4.1-arm64-arm-64bit-Mach-O)
=======
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (Windows-11-10.0.26100-SP0)
>>>>>>> 8d518d368b (update test recordings)
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2025-05-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Thu, 30 Apr 2026 15:20:34 GMT
=======
      - Fri, 08 May 2026 15:57:57 GMT
>>>>>>> 8d518d368b (update test recordings)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-operation-identifier:
<<<<<<< HEAD
      - tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47,objectId=b80ebfc1-10bb-46b8-b79c-28f81f61cd1d/eastus/a9913546-3789-46b7-a705-e3f35f4d56a4
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
      - 'Ref A: 00DEB08EA45D4747A0F3B074ACC7D427 Ref B: BL2AA2010205037 Ref C: 2026-04-30T15:20:34Z'
=======
      - tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47,objectId=f338340e-ef13-48e1-aa76-6cde16f7c55f/southcentralus/5df1582c-e2e4-4541-bd44-2b6d04e4d523
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
      - 'Ref A: 4B22C5BEE4EF4767A74DCE20CF1EBD60 Ref B: SN4AA2022305011 Ref C: 2026-05-08T15:57:58Z'
>>>>>>> 8d518d368b (update test recordings)
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (macOS-26.4.1-arm64-arm-64bit-Mach-O)
=======
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (Windows-11-10.0.26100-SP0)
>>>>>>> 8d518d368b (update test recordings)
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2025-05-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        10 (LTS)","value":"dotnet10","minorVersions":[{"displayText":".NET 10 (LTS)","value":"10","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v10.0","remoteDebuggingSupported":false,"isHidden":false,"isPreview":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"10.x"},"appSettingsDictionary":{"ApplicationInsightsAgent_EXTENSION_VERSION":"~2"},"endOfLifeDate":"2028-12-01T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|10.0","remoteDebuggingSupported":false,"isHidden":false,"isPreview":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"10.x"},"supportedFeatures":{"disableSsh":true},"appSettingsDictionary":{"ApplicationInsightsAgent_EXTENSION_VERSION":"~3"},"endOfLifeDate":"2028-12-01T00:00:00Z"}}}]},{"displayText":".NET
        9 (STS)","value":"dotnet9","minorVersions":[{"displayText":".NET 9 (STS)","value":"9","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v9.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.x"},"appSettingsDictionary":{"[...]
- request:
<<<<<<< HEAD
    body: '{"location": "East US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "linuxFxVersion": "NODE|22-lts", "appSettings": [], "alwaysOn": true,
      "localMySqlEnabled": false, "http20Enabled": true, "http20ProxyFlag": 0}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'
=======
    body: '{"location": "East US", "properties": {"httpsOnly": false, "siteConfig":
      {"appSettings": [], "alwaysOn": true, "linuxFxVersion": "NODE|22-lts"}, "serverFarmId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003"}}'
>>>>>>> 8d518d368b (update test recordings)
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (macOS-26.4.1-arm64-arm-64bit-Mach-O)
=======
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (Windows-11-10.0.26100-SP0)
>>>>>>> 8d518d368b (update test recordings)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002","name":"webapp-runtimestatus-test000002","type":"Microsoft.Web/sites","kind":"app,linux","location":"East
<<<<<<< HEAD
        US","properties":{"name":"webapp-runtimestatus-test000002","state":"Running","hostNames":["webapp-runtimestatus-test000002.azurewebsites.net"],"webSpace":"cli_test_webapp_deploy_runtimestatus000001-EastUSwebspace-Linux","selfLink":"https://waws-prod-blu-255.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli_test_webapp_deploy_runtimestatus000001-EastUSwebspace-Linux/sites/webapp-runtimestatus-test000002","repositorySiteName":"webapp-runtimestatus-test000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["webapp-runtimestatus-test000002.azurewebsites.net","webapp-runtimestatus-test000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"NODE|22-lts"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-runtimestatus-test000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-runtimestatus-test000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"hostNamePrivateStates":[],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003","reserved":true,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2026-04-30T15:20:36.9666667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false,"managedIdentityTraffic":false},"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"aiIntegration":null,"deploymentId":"webapp-runtimestatus-test000002","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"E95CD5D99DAA0B5F85B5E6657D0E930ABF30E16BEE16AA7416E1C006FBE2EFC4","kind":"app,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.49.104.37","possibleInboundIpAddresses":"20.49.104.37","inboundIpv6Address":"2603:1030:210:7::37","possibleInboundIpv6Addresses":"2603:1030:210:7::37","ftpUsername":"webapp-runtimestatus-test000002\\$webapp-runtimestatus-test000002","ftpsHostName":"ftps://waws-prod-blu-255.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"40.88.225.216,40.88.225.226,40.88.225.243,40.88.225.245,40.88.226.10,40.88.226.67,20.49.104.37","possibleOutboundIpAddresses":"40.88.225.216,40.88.225.226,40.88.225.243,40.88.225.245,40.88.226.10,40.88.226.67,40.88.226.82,40.88.226.99,40.88.226.132,40.88.226.159,40.88.226.171,40.88.227.39,40.88.227.123,40.88.228.125,40.88.229.62,40.88.229.108,40.88.229.181,40.88.229.194,20.62.243.159,20.62.244.109,20.62.244.175,20.62.243.168,20.62.245.75,20.62.245.236,20.49.104.37","outboundIpv6Addresses":"2603:1030:20e:5::156,2603:1030:20e:14::c9,2603:1030:20e:19::d1,2603:1030:20c:f::cbc,2603:1030:20e:b::d3,2603:1030:20e:10::da,2603:1030:210:7::37,2603:10e1:100:2::1431:6825","possibleOutboundIpv6Addresses":"2603:1030:20e:5::156,2603:1030:20e:14::c9,2603:1030:20e:19::d1,2603:1030:20c:f::cbc,2603:1030:20e:b::d3,2603:1030:20e:10::da,2603:1030:20e:d::ba,2603:1030:20e:8::1b5,2603:1030:20e:1f::be,2603:1030:20e:24::b6,2603:1030:20e:7::145,2603:1030:20e:b::d5,2603:1030:20e:7::147,2603:1030:20e:17::ab,2603:1030:20e:1e::a2,2603:1030:20e:13::cd,2603:1030:20e:1c::ca,2603:1030:20e:24::b8,2603:1030:20e:1d::b2,2603:1030:20e:10::db,2603:1030:20e:17::ac,2603:1030:20e:b::d7,2603:1030:20e:6::14d,2603:1030:20e:14::cc,2603:1030:210:7::37,2603:10e1:100:2::1431:6825","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-blu-255","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli_test_webapp_deploy_runtimestatus000001","defaultHostName":"webapp-runtimestatus-test000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs,AppServiceAuditLogs,AppServiceIPSecAuditLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null,"maintenanceEnabled":false}}'
=======
        US","properties":{"name":"webapp-runtimestatus-test000002","state":"Running","hostNames":["webapp-runtimestatus-test000002.azurewebsites.net"],"webSpace":"cli_test_webapp_deploy_runtimestatus000001-EastUSwebspace-Linux","selfLink":"https://waws-prod-blu-413.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli_test_webapp_deploy_runtimestatus000001-EastUSwebspace-Linux/sites/webapp-runtimestatus-test000002","repositorySiteName[...]
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (macOS-26.4.1-arm64-arm-64bit-Mach-O)
=======
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (Windows-11-10.0.26100-SP0)
>>>>>>> 8d518d368b (update test recordings)
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/publishxml?api-version=2025-05-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-runtimestatus-test000002
        - Web Deploy" publishMethod="MSDeploy" publishUrl="webapp-runtimestatus-test000002.scm.azurewebsites.net:443"
        msdeploySite="webapp-runtimestatus-test000002" userName="REDACTED" userPWD="REDACTED"
        destinationAppUrl="https://webapp-runtimestatus-test000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" web[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (macOS-26.4.1-arm64-arm-64bit-Mach-O)
=======
      - AZURECLI/2.86.0 azsdk-python-core/1.39.0 Python/3.14.2 (Windows-11-10.0.26100-SP0)
>>>>>>> 8d518d368b (update test recordings)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/basicPublishingCredentialsPolicies/scm?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/basicPublishingCredentialsPolicies/scm","name":"scm","type":"Microsoft.Web/sites/basicPublishingCredentialsPolicies","location":"East
        US","properties":{"allow":false}}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Thu, 30 Apr 2026 15:21:00 GMT
=======
      - Fri, 08 May 2026 15:58:28 GMT
>>>>>>> 8d518d368b (update test recordings)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-operation-identifier:
<<<<<<< HEAD
      - tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47,objectId=b80ebfc1-10bb-46b8-b79c-28f81f61cd1d/eastus/9bf2d67e-a02f-415a-b6c9-570e324af10f
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
      - 'Ref A: 83D7D1B4B4144ADB9E66AAF35D21A4BD Ref B: BL2AA2030101053 Ref C: 2026-04-30T15:21:00Z'
=======
      - tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47,objectId=f338340e-ef13-48e1-aa76-6cde16f7c55f/eastus/3439b29c-48a3-4cae-ac96-b7033737a265
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
      - 'Ref A: E3586FF156DD42DD893ADD1FB20B57D6 Ref B: SN4AA2022303037 Ref C: 2026-05-08T15:58:28Z'
>>>>>>> 8d518d368b (update test recordings)
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.14.2 (macOS-26.4.1-arm64-arm-64bit-Mach-O) AZURECLI/2.86.0
=======
      - python/3.14.2 (Windows-11-10.0.26100-SP0) AZURECLI/2.86.0
>>>>>>> 8d518d368b (update test recordings)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/instances?api-version=2025-05-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/instances/37f792b92f16d106c6dddc09a29a89cde2958cb3aa81e916a8674b4db86db14a","name":"37f792b92f16d106c6dddc09a29a89cde2958cb3aa81e916a8674b4db86db14a","type":"Microsoft.Web/sites/instances","location":"East
        US","properties":{"state":"UNKNOWN","name":"37f792b92f16d106c6dddc09a29a89cde2958cb3aa81e916a8674b4db86db14a","siteInstanceName":"37f792b92f16d106c6dddc09a29a89cde2958cb3aa81e916a8674b4db86db14a","statusUrl":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/AppServiceTunnel/Tunnel.ashx?GetStatus&GetStatusAPIVer=2&instance=37f792b92f16d106c6dddc09a29a89cde2958cb3aa81e916a8674b4db86db14a","detectorUrl":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/detectors","consoleUrl":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/webssh/host?instance=37f792b92f16d106c6dddc09a29a89cde2958cb3aa81e916a8674b4db86db14a","healthCheckUrl":null,"machineName":"lw0sdlwk000E00","containers":null,"physicalZone":"eastus-az3"}}],"nextLink":null,"id":null}'
=======
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deploy_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/instances/de1dbb4d5438dc4995f9905d44e51b1efad82ae42fe23cdcd01088b6868a6046","name":"de1dbb4d5438dc4995f9905d44e51b1efad82ae42fe23cdcd01088b6868a6046","type":"Microsoft.Web/sites/instances","location":"East
        US","properties":{"state":"UNKNOWN","name":"de1dbb4d5438dc4995f9905d44e51b1efad82ae42fe23cdcd01088b6868a6046","siteInstanceName":"de1dbb4d5438dc4995f9905d44e51b1efad82ae42fe23cdcd01088b6868a6046","statusUrl":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/AppServiceTunnel/Tunnel.ashx?GetStatus&GetStatusAPIVer=2&instance=de1dbb4d5438dc4995f9905d44e51b1efad82ae42fe23cdcd01088b6868a6046","detectorUrl":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/detectors","consoleUrl":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/webssh/host?instance=de1dbb4d5438dc4995f9905d44e51b1efad82ae42fe23cdcd01088b6868a6046","healthCheckUrl":null,"machineName":"lw0sdlwk000AUE","containers":null,"physicalZone":"eastus-az1"}}],"nextLink":null,"id":null}'
>>>>>>> 8d518d368b (update test recordings)
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Thu, 30 Apr 2026 15:21:00 GMT
      etag:
      - '"1DCD8B4F1BBC580"'
=======
      - Fri, 08 May 2026 15:58:29 GMT
      etag:
      - '"1DCDF037EDED160"'
>>>>>>> 8d518d368b (update test recordings)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-operation-identifier:
<<<<<<< HEAD
      - tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47,objectId=b80ebfc1-10bb-46b8-b79c-28f81f61cd1d/eastus/45010651-7f0e-4db4-80aa-a6af5d1833bf
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
      - 'Ref A: 76F9179CD753489686F267FF74AF7939 Ref B: BL2AA2010205051 Ref C: 2026-04-30T15:21:01Z'
=======
      - tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47,objectId=f338340e-ef13-48e1-aa76-6cde16f7c55f/eastus/4ab5fc3c-6b71-42b8-9cf3-b684cdd25bb4
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
      - 'Ref A: F3634A61C7B749FBA57075304AA403D9 Ref B: SN4AA2022304053 Ref C: 2026-05-08T15:58:30Z'
>>>>>>> 8d518d368b (update test recordings)
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - ARRAffinity=37f792b92f16d106c6dddc09a29a89cde2958cb3aa81e916a8674b4db86db14a;
        ARRAffinitySameSite=37f792b92f16d106c6dddc09a29a89cde2958cb3aa81e916a8674b4db86db14a
=======
      - ARRAffinity=de1dbb4d5438dc4995f9905d44e51b1efad82ae42fe23cdcd01088b6868a6046;
        ARRAffinitySameSite=de1dbb4d5438dc4995f9905d44e51b1efad82ae42fe23cdcd01088b6868a6046
>>>>>>> 8d518d368b (update test recordings)
      User-Agent:
      - AZURECLI/2.86.0
    method: GET
    uri: https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/deployments?warmup=true
  response:
    body:
      string: '[]'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Thu, 30 Apr 2026 15:22:44 GMT
      etag:
      - '"6a6d8fa3"'
=======
      - Fri, 08 May 2026 15:59:38 GMT
      etag:
      - '"ffffffff9904145e"'
>>>>>>> 8d518d368b (update test recordings)
      server:
      - Kestrel
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      UEsDBBQAAAAAAPCaAldtuEEbLAAAACwAAAALAAAALmRlcGxveW1lbnRbY29uZmlnXQpTQ01fRE9f
      QlVJTERfRFVSSU5HX0RFUExPWU1FTlQ9dHJ1ZVBLAwQUAAAACADwmgJXT0ODRUsAAABQAAAAFQAA
      AC52c2NvZGUvc2V0dGluZ3MuanNvbqvm5VJQUEosKAhOLSrLTE7Vq8os8EzPyy9KDUgsKUktylOy
      UohWystPSY3PzU8pzUktrtbR19KqVdJRUNIrK04GSkAFYnm5anm5AFBLAwQUAAAACAAkn+VWRamG
      mNQBAAAyBAAABgAAAGFwcC5qc4VTTY+bMBC951fMzY7EQg7by0ZRT71X/QMrFybgFGx3bNitsvnv
      HYNJjRq1NzPvzZs3H0yKoCZUAb8QWYITEP4cNaEUXQjuCWP[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
