interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001","name":"cli_test_webapp_deployment_source_configzip_runtimestatus000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_deployment_source_track_runtimestatus_runtimefailed","date":"2025-10-30T22:16:50Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"perSiteScaling": false, "reserved":
      true}, "sku": {"capacity": 1, "name": "S1", "tier": "STANDARD"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003?api-version=2025-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003","name":"webapp-runtimestatus-plan000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"eastus","properties":{"serverFarmId":50843,"name":"webapp-runtimestatus-plan000003","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli_test_webapp_deployment_source_configzip_runtimestatus000001-EastUSwebspace-Linux","subscription":"663546d4-b5c7-459b-8819-b65223614c9f","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"cli_test_webapp_deployment_source_configzip_runtimestatus000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-blu-271_50843","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":3,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2025-10-30T22:16:59.04","asyncScalingEnabled":false,"isCustomMode":null,"powerState":null,"eligibleLogCategories":null},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC49EAE93C72A0"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "webapp-runtimestatus-test000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2024-11-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        10 (LTS)","value":"dotnet10","minorVersions":[{"displayText":".NET 10 (LTS)
        (Preview)","value":"10","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v10.0","remoteDebuggingSupported":false,"isHidden":false,"isPreview":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"10.x"},"endOfLifeDate":"2028-12-01T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|10.0","remoteDebuggingSupported":false,"isHidden":false,"isPreview":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"10.x"},"supportedFeatures":{"disableSsh":true},"endOfLifeDate":"2028-12-01T00:00:00Z"}}}]},{"displayText":".NET
        9 (STS)","value":"dotnet9","minorVersions":[{"displayText":".NET 9 (STS)","value":"9","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v9.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.x"},"endOfLifeDate":"2026-05-12T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|9.0","rem[...]
- request:
    body: '{"location": "East US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "linuxFxVersion": "NODE|20-lts", "appSettings": [], "alwaysOn": true,
      "localMySqlEnabled": false, "http20Enabled": true, "http20ProxyFlag": 0}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002","name":"webapp-runtimestatus-test000002","type":"Microsoft.Web/sites","kind":"app,linux","location":"East
        US","properties":{"name":"webapp-runtimestatus-test000002","state":"Running","hostNames":["webapp-runtimestatus-test000002.azurewebsites.net"],"webSpace":"cli_test_webapp_deployment_source_configzip_runtimestatus000001-EastUSwebspace-Linux","selfLink":"https://waws-prod-blu-271.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli_test_webapp_deployment_source_configzip_runtimestatus000001-EastUSwebspace-Linux/sites/webapp-runtimestatus-test000002","repositorySiteName":"webapp-runtimestatus-test000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["webapp-runtimestatus-test000002.azurewebsites.net","webapp-runtimestatus-test000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"NODE|20-lts"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-runtimestatus-test000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-runtimestatus-test000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/serverfarms/webapp-runtimestatus-plan000003","reserved":true,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2025-10-30T22:17:04.96","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false,"managedIdentityTraffic":false},"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"webapp-runtimestatus-test000002","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"06A754DDDA9E82CEAB4064B1FFBB341F2D951D8E36BC157906AEE1799EE3B407","kind":"app,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.49.104.45","possibleInboundIpAddresses":"20.49.104.45","inboundIpv6Address":"2603:1030:210:9::3a","possibleInboundIpv6Addresses":"2603:1030:210:9::3a","ftpUsername":"webapp-runtimestatus-test000002\\$webapp-runtimestatus-test000002","ftpsHostName":"ftps://waws-prod-blu-271.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"52.149.251.92,52.224.130.206,52.224.130.246,52.224.131.7,52.224.131.76,52.224.131.129,20.49.104.45","possibleOutboundIpAddresses":"52.149.251.92,52.224.130.206,52.224.130.246,52.224.131.7,52.224.131.76,52.224.131.129,52.224.131.138,52.224.131.152,52.224.131.194,52.224.131.196,52.224.132.25,52.224.132.98,52.224.132.145,52.224.132.176,52.186.33.125,52.191.102.112,52.224.133.68,52.224.133.138,52.226.107.174,52.226.108.12,52.226.108.122,52.226.108.126,52.226.108.149,52.226.108.240,20.49.104.45","outboundIpv6Addresses":"2603:1030:20e:1b::cf,2603:1030:20e:24::bc,2603:1030:20e:e::e9,2603:1030:20e:23::cf,2603:1030:20e:6::155,2603:1030:20e:7::149,2603:1030:210:9::3a,2603:10e1:100:2::1431:682d","possibleOutboundIpv6Addresses":"2603:1030:20e:1b::cf,2603:1030:20e:24::bc,2603:1030:20e:e::e9,2603:1030:20e:23::cf,2603:1030:20e:6::155,2603:1030:20e:7::149,2603:1030:20e:a::a7,2603:1030:20e:d::c1,2603:1030:20e:11::d9,2603:1030:20e:7::14a,2603:1030:20e:18::13e,2603:1030:20e:1d::b6,2603:1030:20e:17::af,2603:1030:20e:7::14b,2603:1030:20e:10::e1,2603:1030:20e:19::da,2603:1030:20e:1e::a7,2603:1030:20c:a::345,2603:1030:20e:17::b0,2603:1030:20c:a::348,2603:1030:20e:c::c4,2603:1030:20e:12::c6,2603:1030:20e:1b::d0,2603:1030:20e:12::c7,2603:1030:210:9::3a,2603:10e1:100:2::1431:682d","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-blu-271","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli_test_webapp_deployment_source_configzip_runtimestatus000001","defaultHostName":"webapp-runtimestatus-test000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC49EAEC9E2135"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '800'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/publishxml?api-version=2024-11-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-runtimestatus-test000002
        - Web Deploy" publishMethod="MSDeploy" publishUrl="webapp-runtimestatus-test000002.scm.azurewebsites.net:443"
        msdeploySite="webapp-runtimestatus-test000002" userName="REDACTED" userPWD="REDACTED"
        destinationAppUrl="https://webapp-runtimestatus-test000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" web[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/basicPublishingCredentialsPolicies/scm?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/basicPublishingCredentialsPolicies/scm","name":"scm","type":"Microsoft.Web/sites/basicPublishingCredentialsPolicies","location":"East
        US","properties":{"allow":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      UEsDBBQAAAAAAPCaAldtuEEbLAAAACwAAAALAAAALmRlcGxveW1lbnRbY29uZmlnXQpTQ01fRE9f
      QlVJTERfRFVSSU5HX0RFUExPWU1FTlQ9dHJ1ZVBLAwQUAAAACADwmgJXT0ODRUsAAABQAAAAFQAA
      AC52c2NvZGUvc2V0dGluZ3MuanNvbqvm5VJQUEosKAhOLSrLTE7Vq8os8EzPyy9KDUgsKUktylOy
      UohWystPSY3PzU8pzUktrtbR19KqVdJRUNIrK04GSkAFYnm5anm5AFBLAwQUAAAACAAkn+VWRamG
      mNQBAAAyBAAABgAAAGFwcC5qc4VTTY+bMBC951fMzY7EQg7by0ZRT71X/QMrFybgFGx3bNitsvnv
      HYNJjRq1NzPvzZs3H0yKoCZUAb8QWYITEP4cNaEUXQjuCWP[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/deployments/mock-deployment
  response:
    body:
      string: '{"id":"01f81545-4f2b-4fd6-8c64-9e8b0a74ef08","status":0,"status_text":"","author_email":"N/A","author":"N/A","deployer":"Push-Deployer","message":"Created
        via a push deployment","progress":"Preparing deployment for commit id ''01f81545-4''.","received_time":"2025-10-30T22:19:38.3027037Z","start_time":"2025-10-30T22:19:38.3027037Z","end_time":null,"last_success_end_time":null,"complete":false,"active":false,"is_temp":false,"is_readonly":true,"url":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/deployments/01f81545-4f2b-4fd6-8c64-9e8b0a74ef08","log_url":"https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/deployments/01f81545-4f2b-4fd6-8c64-9e8b0a74ef08/log","site_name":"webapp-runtimestatus-test000002","build_summary":{"errors":[],"warnings":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://webapp-runtimestatus-test000002.scm.azurewebsites.net:443/api/deployments/latest
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/01f81545-4f2b-4fd6-8c64-9e8b0a74ef08?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/01f81545-4f2b-4fd6-8c64-9e8b0a74ef08","name":"01f81545-4f2b-4fd6-8c64-9e8b0a74ef08","type":"Microsoft.Web/sites/deploymentStatus","location":"East
        US","properties":{"deploymentId":"01f81545-4f2b-4fd6-8c64-9e8b0a74ef08","status":"BuildInProgress","numberOfInstancesInProgress":0,"numberOfInstancesSuccessful":0,"numberOfInstancesFailed":0,"failedInstancesLogs":null,"errors":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC49EAF860B055"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/01f81545-4f2b-4fd6-8c64-9e8b0a74ef08?api-version=2024-11-01&t=638974595826168630&c=MIIIpTCCBo2gAwIBAgITFgIgjekYlM3S-wf[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/01f81545-4f2b-4fd6-8c64-9e8b0a74ef08?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_deployment_source_configzip_runtimestatus000001/providers/Microsoft.Web/sites/webapp-runtimestatus-test000002/deploymentStatus/01f81545-4f2b-4fd6-8c64-9e8b0a74ef08","name":"01f81545-4f2b-4fd6-8c64-9e8b0a74ef08","type":"Microsoft.Web/sites/deploymentStatus","location":"East
        US","properties":{"deploymentId":"01f81545-4f2b-4fd6-8c64-9e8b0a74ef08","status":"RuntimeFailed","numberOfInstancesInProgress":0,"numberOfInstancesSuccessful":0,"numberOfInstancesFailed":1,"failedInstancesLogs":["https://webapp-runtimestatus-test000002.scm.azurewebsites.net/api/logs/docker"],"errors":[{"extendedCode":"04915","messageTemplate":"Deployment
        for site ''{0}'' with DeploymentId ''{1}'' failed because the worker proccess
        failed to start within the allotted time.","code":"BadRequest","message":"Deployment
        for site ''webapp-runtimestatus-test000002'' with DeploymentId ''01f81545-4f2b-4fd6-8c64-9e8b0a74ef08''
        failed because the worker proccess failed to start within the allotted time."}]}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC49EAF860B055"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
version: 1
