interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"francecentral","tags":{"product":"azurecli","cause":"automation","test":"test_functionapp_vnet_EP_sku_E2E","date":"2025-02-20T03:53:24Z","module":"appservice","DateCreated":"2025-02-20T03:53:29Z","Creator":"zhiyihuang@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "francecentral", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "swiftsubnet000005", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000006?api-version=2024-05-01
  response:
    body:
      string: '{"name":"swiftname000006","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000006","etag":"W/\"c8849660-75ca-477d-9405-ca9fdc80dc89\"","type":"Microsoft.Network/virtualNetworks","location":"francecentral","properties":{"provisioningState":"Updating","resourceGuid":"fd2d9ad1-c6e1-4923-af3f-e78b700528d2","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"privateEndpointVNetPolicies":"Disabled","subnets":[{"name":"swiftsubnet000005","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/swiftname000006/subnets/swiftsubnet000005","etag":"W/\"c8849660-75ca-477d-9405-ca9fdc80dc89\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/francecentral/operations/ada0593e-c394-4679-86de-9ac908912f59?api-version=2024-05-01&t=638756204454901186&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMTIzMzI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/francecentral/operations/ada0593e-c394-4679-86de-9ac908912f59?api-version=2024-05-01&t=638756204454901186&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMTIzMzI3WjBAMT4wPA[...]
[...]
- request:
    body: '{"location": "francecentral", "sku": {"name": "EP1", "tier": "ElasticPremium"},
      "properties": {"perSiteScaling": false, "isXenon": false, "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/swiftplan000004?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/swiftplan000004","name":"swiftplan000004","type":"Microsoft.Web/serverfarms","kind":"elastic","location":"francecentral","properties":{"serverFarmId":59256,"name":"swiftplan000004","sku":{"name":"EP1","tier":"ElasticPremium","size":"EP1","family":"EP","capacity":1},"workerSize":"D1","workerSizeId":3,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"D1","currentWorkerSizeId":3,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-FranceCentralwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"France
        Central","perSiteScaling":false,"elasticScaleEnabled":true,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"elastic","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-par-009_59256","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2025-02-20T03:54:23.7666667"},"sku":{"name":"EP1","tier":"ElasticPremium","size":"EP1","family":"EP","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DB834B2320CE60"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/functionAppStacks?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/functionAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        9 Isolated","value":"dotnet9isolated","minorVersions":[{"displayText":".NET
        9 Isolated","value":"9 (STS), isolated worker model","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v9.0","isDefault":false,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"netFrameworkVersion":"v9.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":false,"isDefault":false}],"endOfLifeDate":"2026-05-12T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNET-ISOLATED|9.0","isDefault":false,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"linuxFxVersion":"DOTNET-ISOLATED|9.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":false,"isDefault":false}],"endOfLifeDate":"2026-05-12T00:00:00Z"}}}]},{"displayText":".NET
        8 Isolated","value":"dotnet8isolated","minorVersions":[{"displayText":".NET
        8 Isolated","value":"8 (LTS), isolated worker model","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v8.0","isHidden":false,"isDefault":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"netFrameworkVersion":"v8.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2024-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-02-20T03:53:29.9134946Z","key2":"2025-02-20T03:53:29.9134946Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-02-20T03:53:31.8353801Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-02-20T03:53:31.8353801Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-02-20T03:53:29.7572774Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-02-20T03:53:29.9134946Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-02-20T03:53:29.9134946Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11993'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kind": "functionapp", "location": "France Central", "properties": {"serverFarmId":
      "swiftplan000004", "reserved": false, "isXenon": false, "hyperV": false, "siteConfig":
      {"netFrameworkVersion": "v8.0", "appSettings": [{"name": "FUNCTIONS_WORKER_RUNTIME",
      "value": "dotnet"}, {"name": "FUNCTIONS_INPROC_NET8_ENABLED", "value": "1"},
      {"name": "FUNCTIONS_EXTENSION_VERSION", "value": "~4"}, {"name": "AzureWebJobsStorage",
      "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey=="},
      {"name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING", "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey=="},
      {"name": "WEBSITE_CONTENTSHARE", "value": "swiftfunctionapp000003f688778e1153"}],
      "use32BitWorkerProcess": true, "localMySqlEnabled": false, "http20Enabled":
      true}, "scmSiteAlsoStopped": false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/swiftfunctionapp000003?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/swiftfunctionapp000003","name":"swiftfunctionapp000003","type":"Microsoft.Web/sites","kind":"functionapp","location":"France
        Central","properties":{"name":"swiftfunctionapp000003","state":"Running","hostNames":["swiftfunctionapp000003.azurewebsites.net"],"webSpace":"clitest.rg000001-FranceCentralwebspace","selfLink":"https://waws-prod-par-009.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-FranceCentralwebspace/sites/swiftfunctionapp000003","repositorySiteName":"swiftfunctionapp000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["swiftfunctionapp000003.azurewebsites.net","swiftfunctionapp000003.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"swiftfunctionapp000003.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"swiftfunctionapp000003.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/swiftplan000004","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2025-02-20T03:54:43.78","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false},"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"elasticWebAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"swiftfunctionapp000003","slotName":null,"trafficManagerHostNames":null,"sku":"ElasticPremium","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":false,"clientAffinityProxyEnabled":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","kind":"functionapp","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"40.79.130.130","possibleInboundIpAddresses":"40.79.130.130","ftpUsername":"swiftfunctionapp000003\\$swiftfunctionapp000003","ftpsHostName":"ftps://waws-prod-par-009.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"40.89.148.203,20.188.44.60,20.188.45.105,20.188.44.152,20.188.43.156,40.79.130.130","possibleOutboundIpAddresses":"40.89.166.214,40.89.172.87,20.188.45.116,40.89.133.143,40.89.148.203,20.188.44.60,20.188.45.105,20.188.44.152,20.188.43.156,51.138.221.60,51.138.221.139,51.138.221.210,51.138.221.243,51.138.221.253,51.138.222.38,51.138.222.89,51.138.222.102,51.138.222.239,51.138.223.33,51.138.223.64,51.138.223.81,40.79.130.130","containerSize":1536,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-par-009","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"swiftfunctionapp000003.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"FunctionAppLogs,AppServiceAuthenticationLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"defaultHostNameScope":"Global","privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DB834B2D84EBF5"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2022-12-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"type\":\"Region\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\":\"United
        States\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]},\"availabilityZoneMappings\":[{\"logicalZone\":\"1\",\"physicalZone\":\"eastus-az3\"},{\"logicalZone\":\"2\",\"physicalZone\":\"eastus-az1\"},{\"logicalZone\":\"3\",\"physicalZone\":\"eastus-az2\"}]},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southcentralus\",\"name\":\"southcentralus\",\"type\":\"Region\",\"displayName\":\"South
        Central US\",\"regionalDisplayName\":\"(US) South Central US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\":\"United
        States\",\"geographyGroup\":\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/workspaces?api-version=2021-12-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"customerId":"e4d89d72-8b03-4c54-bf98-d8765be482d9","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2025-02-19T08:09:37.5816549Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2025-02-20T00:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2025-02-19T08:09:37.5816549Z","modifiedDate":"2025-02-19T08:09:38.7887582Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgahi4mmwjpeq55eo2tv7yapdtnmq4oevgrqowloe246nvsxeoovcgndsn5hf5xtemk/providers/Microsoft.OperationalInsights/workspaces/laworkspace4oik","name":"laworkspace4oik","type":"Microsoft.OperationalInsights/workspaces","etag":"\"66027c43-0000-0100-0000-67b591c20000\""},{"properties":{"customerId":"b8d1ecef-b158-4ea4-8d7d-c7bcdfe8d5bf","provisioningState":"Succeeded","sku":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://appinsights.azureedge.net/portal/regionMapping.json
  response:
    body:
      string: "{\r\n  \"regions\": {\r\n    \"centralus\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"eastus2\",\r\n        \"eastus\"\r\n
        \     ],\r\n      \"laRegionCode\": \"CUS\"\r\n    },\r\n    \"eastus2\":
        {\r\n      \"geo\": \"unitedstates\",\r\n      \"pairedRegions\": [\r\n        \"centralus\",\r\n
        \       \"eastus\"\r\n      ],\r\n      \"laRegionCode\": \"EUS2\"\r\n    },\r\n
        \   \"eastus\": {\r\n      \"geo\": \"unitedstates\",\r\n      \"pairedRegions\":
        [\r\n        \"westus\"\r\n      ],\r\n      \"laRegionCode\": \"EUS\"\r\n
        \   },\r\n    \"northcentralus\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"southcentralus\"\r\n      ],\r\n      \"laRegionCode\":
        \"NCUS\"\r\n    },\r\n    \"southcentralus\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"northcentralus\"\r\n      ],\r\n      \"laRegionCode\":
        \"SCUS\"\r\n    },\r\n    \"westus2\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"westcentralus\"\r\n      ],\r\n      \"laRegionCode\":
        \"WUS2\"\r\n    },\r\n    \"westus3\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"westus2\"\r\n      ],\r\n      \"laRegionCode\":
        \"USW3\"\r\n    },\r\n    \"westcentralus\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"westus2\"\r\n      ],\r\n      \"laRegionCode\":
        \"WCUS\"\r\n    },\r\n    \"westus\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"eastus\"\r\n      ],\r\n      \"laRegionCode\":
        \"WUS\"\r\n    },\r\n    \"canadacentral\": {\r\n      \"geo\": \"canada\",\r\n
        \     \"pairedRegions\": [\r\n        \"canadaeast\"\r\n      ],\r\n      \"laRegionCode\":
        \"CCAN\"\r\n    },\r\n    \"canadaeast\": {\r\n      \"geo\": \"canada\",\r\n
        \     \"pairedRegions\": [\r\n        \"canadacentral\"\r\n      ],\r\n      \"laRegionCode\":
        \"\"\r\n    },\r\n    \"brazilsouth\": {\r\n      \"geo\": \"brazil\",\r\n
        \     \"pairedRegions\": [\r\n        \"southcentralus\"\r\n      ],\r\n      \"laRegionCode\":
        \"CQ\"\r\n    },\r\n    \"eastasia\": {\r\n      \"geo\": \"asiapacific\",\r\n
        \     \"pairedRegions\": [\r\n        \"southeastasia\"\r\n      ],\r\n      \"laRegionCode\":
        \"EA\"\r\n    },\r\n    \"southeastasia\": {\r\n      \"geo\": \"asiapacific\",\r\n
        \     \"pairedRegions\": [\r\n        \"eastasia\"\r\n      ],\r\n      \"laRegionCode\":
        \"SEA\"\r\n    },\r\n    \"australiacentral\": {\r\n      \"geo\": \"australia\",\r\n
        \     \"pairedRegions\": [\r\n        \"australiacentral2\",\r\n        \"australiaeast\"\r\n
        \     ],\r\n      \"laRegionCode\": \"CAU\"\r\n    },\r\n    \"australiacentral2\":
        {\r\n      \"geo\": \"australia\",\r\n      \"pairedRegions\": [\r\n        \"australiacentral\",\r\n
        \       \"australiaeast\"\r\n      ],\r\n      \"laRegionCode\": \"CBR2\"\r\n
        \   },\r\n    \"australiaeast\": {\r\n      \"geo\": \"australia\",\r\n      \"pairedRegions\":
        [\r\n        \"australiasoutheast\"\r\n      ],\r\n      \"laRegionCode\":
        \"EAU\"\r\n    },\r\n    \"australiasoutheast\": {\r\n      \"geo\": \"australia\",\r\n
        \     \"pairedRegions\": [\r\n        \"australiaeast\"\r\n      ],\r\n      \"laRegionCode\":
        \"SEAU\"\r\n    },\r\n    \"chinaeast\": {\r\n      \"geo\": \"china\",\r\n
        \     \"pairedRegions\": [\r\n        \"chinanorth\",\r\n        \"chinaeast2\"\r\n
        \     ],\r\n      \"laRegionCode\": \"\"\r\n    },\r\n    \"chinanorth\":
        {\r\n      \"geo\": \"china\",\r\n      \"pairedRegions\": [\r\n        \"chinaeast\",\r\n
        \       \"chinaeast2\"\r\n      ],\r\n      \"laRegionCode\": \"\"\r\n    },\r\n
        \   \"chinaeast2\": {\r\n      \"geo\": \"china\",\r\n      \"pairedRegions\":
        [\r\n        \"chinanorth2\"\r\n      ],\r\n      \"laRegionCode\": \"CNE2\"\r\n
        \   },\r\n    \"chinanorth2\": {\r\n      \"geo\": \"china\",\r\n      \"pairedRegions\":
        [\r\n        \"chinaeast2\"\r\n      ],\r\n      \"laRegionCode\": \"\"\r\n
        \   },\r\n    \"chinaeast3\": {\r\n      \"geo\": \"china\",\r\n      \"pairedRegions\":
        [\r\n        \"chinanorth3\"\r\n      ],\r\n      \"laRegionCode\": \"CNE3\"\r\n
        \   },\r\n    \"chinanorth3\": {\r\n      \"geo\": \"china\",\r\n      \"pairedRegions\":
        [\r\n        \"chinaeast3\"\r\n      ],\r\n      \"laRegionCode\": \"CNN3\"\r\n
        \   },\r\n    \"centralindia\": {\r\n      \"geo\": \"india\",\r\n      \"pairedRegions\":
        [\r\n        \"southindia\"\r\n      ],\r\n      \"laRegionCode\": \"CID\"\r\n
        \   },\r\n    \"southindia\": {\r\n      \"geo\": \"india\",\r\n      \"pairedRegions\":
        [\r\n        \"centralindia\"\r\n      ],\r\n      \"laRegionCode\": \"\"\r\n
        \   },\r\n    \"westindia\": {\r\n      \"geo\": \"india\",\r\n      \"pairedRegions\":
        [\r\n        \"southindia\",\r\n        \"centralindia\"\r\n      ],\r\n      \"laRegionCode\":
        \"\"\r\n    },\r\n    \"jioindiacentral\": {\r\n      \"geo\": \"india\",\r\n
        \     \"pairedRegions\": [],\r\n      \"laRegionCode\": \"JINC\"\r\n    },\r\n
        \   \"jioindiawest\": {\r\n      \"geo\": \"india\",\r\n      \"pairedRegions\":
        [],\r\n      \"laRegionCode\": \"JINW\"\r\n    },\r\n    \"japaneast\": {\r\n
        \     \"geo\": \"japan\",\r\n      \"pairedRegions\": [\r\n        \"japanwest\"\r\n
        \     ],\r\n      \"laRegionCode\": \"EJP\"\r\n    },\r\n    \"japanwest\":
        {\r\n      \"geo\": \"japan\",\r\n      \"pairedRegions\": [\r\n        \"japaneast\"\r\n
        \     ],\r\n      \"laRegionCode\": \"OS\"\r\n    },\r\n    \"koreacentral\":
        {\r\n      \"geo\": \"korea\",\r\n      \"pairedRegions\": [\r\n        \"koreasouth\"\r\n
        \     ],\r\n      \"laRegionCode\": \"SE\"\r\n    },\r\n    \"koreasouth\":
        {\r\n      \"geo\": \"korea\",\r\n      \"pairedRegions\": [\r\n        \"koreacentral\"\r\n
        \     ],\r\n      \"laRegionCode\": \"\"\r\n    },\r\n    \"northeurope\":
        {\r\n      \"geo\": \"europe\",\r\n      \"pairedRegions\": [\r\n        \"westeurope\"\r\n
        \     ],\r\n      \"laRegionCode\": \"NEU\"\r\n    },\r\n    \"westeurope\":
        {\r\n      \"geo\": \"europe\",\r\n      \"pairedRegions\": [\r\n        \"northeurope\"\r\n
        \     ],\r\n      \"laRegionCode\": \"WEU\"\r\n    },\r\n    \"francecentral\":
[...]
