interactions:
- request:
    body: '{"name": "app-linux000003", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2023-01-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        8 (LTS)","value":"dotnet8","minorVersions":[{"displayText":".NET 8 (LTS)","value":"8","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v8.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.x"}},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|8.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.x"},"supportedFeatures":{"disableSsh":true}}}}]},{"displayText":".NET
        7 (STS)","value":"dotnet7","minorVersions":[{"displayText":".NET 7 (STS)","value":"7","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v7.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.x"}},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|7.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"7.x"},"supportedFeatures":{"disableSsh":true}}}}]},{"displayText":".NET
        6","value":"dotnet6","minorVersions":[{"displayText":".NET 6 (LTS)","value":"6","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v6.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"6.0.x"}},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|6.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"6.0.x"},"supportedFeatures":{"disableSsh":true}}}}]},{"displayText":".NET
        5","value":"dotnet5","minorVersions":[{"displayText":".NET 5","value":"5","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v5.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"5.0.x"},"endOfLifeDate":"2022-05-08T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|5.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"5.0.x"},"endOfLifeDate":"2022-05-08T00:00:00Z"}}}]},{"displayText":".NET
        Core 3","value":"dotnetcore3","minorVersions":[{"displayText":".NET Core 3.1
        (LTS)","value":"3.1","stackSettings":{"windowsRuntimeSettings":{"runtimeV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions?sku=F1&linuxWorkersEnabled=true&api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/East
        US","name":"East US","type":"Microsoft.Web/geoRegions","properties":{"name":"East
        US","description":"East US","sortOrder":0,"displayName":"East US","orgDomain":"ZONEREDUNDANCY;PUBLIC;DREAMSPARK;MSFTPUBLIC;FUNCTIONS;DYNAMIC;LINUX;DSERIES;FAKEORG;LINUXDSERIES;XENON;SFCONTAINERS;LINUXDYNAMIC;LINUXFREE;ELASTICLINUX;ELASTICPREMIUM;XENON;XENONV3;WINDOWSV3;LINUXV3;WINDOWSMV3;LINUXMV3;WINDOWSP0V3;LINUXP0V3;XENONMV3;ZONEREDUNDANCY"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/North
        Europe","name":"North Europe","type":"Microsoft.Web/geoRegions","properties":{"name":"North
        Europe","description":"[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_webapp_up_runtimestatus000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/serverfarms?api-version=2023-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "F1", "tier": "FREE", "capacity":
      1}, "properties": {"perSiteScaling": false, "reserved": true, "isXenon": false,
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/serverfarms/sartsharma_asp_2028?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/serverfarms/sartsharma_asp_2028","name":"sartsharma_asp_2028","type":"Microsoft.Web/serverfarms","kind":"linux","location":"eastus","properties":{"serverFarmId":15406,"name":"sartsharma_asp_2028","sku":{"name":"U13","tier":"LinuxFree","size":"U13","family":"U","capacity":1},"workerSize":"NestedSmallLinux","workerSizeId":12,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"NestedSmallLinux","currentWorkerSizeId":12,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli_test_webapp_up_runtimestatus000001-EastUSwebspace-Linux","subscription":"03fd4e00-a8cb-4e4d-aaa8-032aef79d171","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"cli_test_webapp_up_runtimestatus000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-blu-479_15406","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2024-01-23T04:52:43.56"},"sku":{"name":"U13","tier":"LinuxFree","size":"U13","family":"U","capacity":1}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "East US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/serverfarms/sartsharma_asp_2028",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "linuxFxVersion": "NODE|20-lts", "appSettings": [{"name": "SCM_DO_BUILD_DURING_DEPLOYMENT",
      "value": "True"}], "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped":
      false, "httpsOnly": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003","name":"app-linux000003","type":"Microsoft.Web/sites","kind":"app,linux","location":"East
        US","properties":{"name":"app-linux000003","state":"Running","hostNames":["app-linux000003.azurewebsites.net"],"webSpace":"cli_test_webapp_up_runtimestatus000001-EastUSwebspace-Linux","selfLink":"https://waws-prod-blu-479.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli_test_webapp_up_runtimestatus000001-EastUSwebspace-Linux/sites/app-linux000003","repositorySiteName":"app-linux000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"afdEnabled":false,"enabledHostNames":["app-linux000003.azurewebsites.net","app-linux000003.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"NODE|20-lts"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"app-linux000003.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"app-linux000003.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/serverfarms/sartsharma_asp_2028","reserved":true,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2024-01-23T04:52:51.35","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null},"daprConfig":null,"deploymentId":"app-linux000003","slotName":null,"trafficManagerHostNames":null,"sku":"Free","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"10A1D2508FB3B50D299B042DA2A7B427259FCD81ABB8BCEAECA819D366463BD5","kind":"app,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.119.8.42","possibleInboundIpAddresses":"20.119.8.42","ftpUsername":"app-linux000003\\$app-linux000003","ftpsHostName":"ftps://waws-prod-blu-479.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"52.149.245.253,52.152.193.217,52.152.193.252,52.142.33.149,52.152.194.64,52.152.194.101,20.119.8.42","possibleOutboundIpAddresses":"52.149.245.253,52.152.193.217,52.152.193.252,52.142.33.149,52.152.194.64,52.152.194.101,52.152.194.123,52.152.194.245,52.152.195.213,52.152.196.8,52.152.196.16,52.152.196.36,52.152.196.84,52.152.193.0,52.152.196.89,52.152.196.169,52.152.196.240,52.152.196.246,52.152.197.195,52.152.197.224,52.152.198.7,52.152.198.24,52.152.198.26,52.152.193.174,20.119.8.42","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-blu-479","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli_test_webapp_up_runtimestatus000001","defaultHostName":"app-linux000003.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","defaultHostNameScope":"Global","privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DA4DB80544CB0B"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003/publishxml?api-version=2023-01-01
  response:
    body:
      string: <publishData><publishProfile profileName="app-linux000003 - Web Deploy"
        publishMethod="MSDeploy" publishUrl="app-linux000003.scm.azurewebsites.net:443"
        msdeploySite="app-linux000003" userName="$app-linux000003" userPWD="7mwCj0e5kJTgRphnuKH1ffSBvtdLf8xjenzriQgpy2Rotgmnej5xnSxWWsbH"
        destinationAppUrl="https://app-linux000003.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="app-linux000003
        - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-blu-479.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="app-linux000003\$app-linux000003" userPWD="7mwCj0e5kJTgRphnuKH1ffSBvtdLf8xjenzriQgpy2Rotgmnej5xnSxWWsbH"
        destinationAppUrl="https://app-linux000003.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="app-linux000003
        - Zip Deploy" publishMethod="ZipDeploy" publishUrl="app-linux000003.scm.azurewebsites.net:443"
        userName="$app-linux000003" userPWD="7mwCj0e5kJTgRphnuKH1ffSBvtdLf8xjenzriQgpy2Rotgmnej5xnSxWWsbH"
        destinationAppUrl="https://app-linux000003.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com"
        webSystem="WebSites"><databases /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"applicationLogs": {}, "httpLogs": {"fileSystem": {"retentionInMb":
      100, "retentionInDays": 3, "enabled": true}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003/config/logs?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003/config/logs","name":"logs","type":"Microsoft.Web/sites/config","location":"East
        US","properties":{"applicationLogs":{"fileSystem":{"level":"Off"},"azureTableStorage":{"level":"Off","sasUrl":null},"azureBlobStorage":{"level":"Off","sasUrl":null,"retentionInDays":null}},"httpLogs":{"fileSystem":{"retentionInMb":100,"retentionInDays":3,"enabled":true},"azureBlobStorage":{"sasUrl":null,"retentionInDays":3,"enabled":false}},"failedRequestsTracing":{"enabled":false},"detailedErrorMessages":{"enabled":false}}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DA4DB8126D6CD5"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003/basicPublishingCredentialsPolicies/scm?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003/basicPublishingCredentialsPolicies/scm","name":"scm","type":"Microsoft.Web/sites/basicPublishingCredentialsPolicies","location":"East
        US","properties":{"allow":false}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      UEsDBBQAAAAIAM1SN1htuEEbLgAAACwAAAALAAAALmRlcGxveW1lbnSLTs7PS8tMj+UKdvaNd/GP
      dwr19HGJdwkN8vRzj3dxDfDxj/R19QuxLSkqTQUAUEsDBBQAAAAIAM1SN1hFqYaY1AEAADIEAAAG
      AAAAYXBwLmpzhVNNj5swEL3nV8zNjsRCDtvLRlFPvVf9AysXJuAUbHds2K2y+e8dg0mNGrU3M+/N
      mzcfTIqgJlQBvxBZghMQ/hw1oRRdCO4JY9SL/XE3MRPfHaH3OSuFVoZTocvh+L1itbU/NH5V5HFT
      aIk/uRlYyb1t2y1tsNQqE/GZoE2D79/sGLassqIY89WMr2ojK/t/kGf8Lq2cY1bqTMZoVcGk8Q3Q
      tNogeAyj2zGt5JcUEfKimJsvL1Yb+fraaDJqwAISumeZTUL[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://app-linux000003.scm.azurewebsites.net/api/deployments/mock-deployment
  response:
    body:
      string: '{"id":"60025951-2872-49d0-a875-354c61ceef1d","status":0,"status_text":"","author_email":"N/A","author":"N/A","deployer":"Push-Deployer","message":"Created
        via a push deployment","progress":"Updating submodules.","received_time":"2024-01-23T04:53:36.3426464Z","start_time":"2024-01-23T04:53:36.3426464Z","end_time":null,"last_success_end_time":null,"complete":false,"active":false,"is_temp":false,"is_readonly":true,"url":null,"log_url":null,"site_name":"app-linux000003","build_summary":{"errors":[],"warnings":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://app-linux000003.scm.azurewebsites.net:443/api/deployments/latest
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003/deploymentStatus/60025951-2872-49d0-a875-354c61ceef1d?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003/deploymentStatus/60025951-2872-49d0-a875-354c61ceef1d","name":"60025951-2872-49d0-a875-354c61ceef1d","type":"Microsoft.Web/sites/deploymentStatus","location":"East
        US","properties":{"deploymentId":"60025951-2872-49d0-a875-354c61ceef1d","status":"BuildInProgress","numberOfInstancesInProgress":0,"numberOfInstancesSuccessful":0,"numberOfInstancesFailed":0,"failedInstancesLogs":[],"errors":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DA4DB8126D6CD5"'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003/deploymentStatus/60025951-2872-49d0-a875-354c61ceef1d?api-version=2023-01-01&t=638415824187218820&c=MIIHADCCBeigAwIBAgITHgOOZnSUesiIBulFwAAAA45mdDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003/deploymentStatus/60025951-2872-49d0-a875-354c61ceef1d?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_up_runtimestatus000001/providers/Microsoft.Web/sites/app-linux000003/deploymentStatus/60025951-2872-49d0-a875-354c61ceef1d","name":"60025951-2872-49d0-a875-354c61ceef1d","type":"Microsoft.Web/sites/deploymentStatus","location":"East
        US","properties":{"deploymentId":"60025951-2872-49d0-a875-354c61ceef1d","status":"RuntimeFailed","numberOfInstancesInProgress":0,"numberOfInstancesSuccessful":0,"numberOfInstancesFailed":1,"failedInstancesLogs":null,"errors":[{"extendedCode":"04915","messageTemplate":"Deployment
        for site ''{0}'' with DeploymentId ''{1}'' failed because the worker proccess
        failed to start within the allotted time.","code":"BadRequest","message":"Deployment
        for site ''app-linux000003'' with DeploymentId ''60025951-2872-49d0-a875-354c61ceef1d''
        failed because the worker proccess failed to start within the allotted time."}]}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DA4DB8126D6CD5"'
    status:
      code: 200
      message: OK
version: 1
