interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/webapp_linux_acr_use_identity000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001","name":"webapp_linux_acr_use_identity000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_linux_acr_use_identity","date":"2025-10-30T22:14:44Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"perSiteScaling": false, "reserved":
      true}, "sku": {"capacity": 1, "name": "B1", "tier": "BASIC"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/serverfarms/plan-linux000003?api-version=2025-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/serverfarms/plan-linux000003","name":"plan-linux000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"eastus2","properties":{"serverFarmId":14648,"name":"plan-linux000003","sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"webapp_linux_acr_use_identity000001-EastUS2webspace-Linux","subscription":"663546d4-b5c7-459b-8819-b65223614c9f","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US 2","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":"2025-11-29T22:14:46.2033333","tags":null,"kind":"linux","resourceGroup":"webapp_linux_acr_use_identity000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bn1-263_14648","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":3,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2025-10-30T22:14:49.4033333","asyncScalingEnabled":false,"isCustomMode":null,"powerState":null,"eligibleLogCategories":null},"sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC49EA9C09C5D5"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "webapp-linux000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2024-11-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        10 (LTS)","value":"dotnet10","minorVersions":[{"displayText":".NET 10 (LTS)
        (Preview)","value":"10","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v10.0","remoteDebuggingSupported":false,"isHidden":false,"isPreview":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"10.x"},"endOfLifeDate":"2028-12-01T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|10.0","remoteDebuggingSupported":false,"isHidden":false,"isPreview":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"10.x"},"supportedFeatures":{"disableSsh":true},"endOfLifeDate":"2028-12-01T00:00:00Z"}}}]},{"displayText":".NET
        9 (STS)","value":"dotnet9","minorVersions":[{"displayText":".NET 9 (STS)","value":"9","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v9.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true,"isDefaultOff":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.x"},"endOfLifeDate":"2026-05-12T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|9.0","rem[...]
- request:
    body: '{"location": "East US 2", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/serverfarms/plan-linux000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "linuxFxVersion": "NODE|20-lts", "acrUseManagedIdentityCreds": true,
      "appSettings": [], "localMySqlEnabled": false, "http20Enabled": true, "http20ProxyFlag":
      0}, "scmSiteAlsoStopped": false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002","name":"webapp-linux000002","type":"Microsoft.Web/sites","kind":"app,linux","location":"East
        US 2","properties":{"name":"webapp-linux000002","state":"Running","hostNames":["webapp-linux000002.azurewebsites.net"],"webSpace":"webapp_linux_acr_use_identity000001-EastUS2webspace-Linux","selfLink":"https://waws-prod-bn1-263.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/webapp_linux_acr_use_identity000001-EastUS2webspace-Linux/sites/webapp-linux000002","repositorySiteName":"webapp-linux000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["webapp-linux000002.azurewebsites.net","webapp-linux000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"NODE|20-lts"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-linux000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-linux000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/serverfarms/plan-linux000003","reserved":true,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2025-10-30T22:14:55.8933333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false,"managedIdentityTraffic":false},"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"webapp-linux000002","slotName":null,"trafficManagerHostNames":null,"sku":"Basic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"06A754DDDA9E82CEAB4064B1FFBB341F2D951D8E36BC157906AEE1799EE3B407","kind":"app,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.119.144.21","possibleInboundIpAddresses":"20.119.144.21","inboundIpv6Address":"2603:1030:40c:5::20","possibleInboundIpv6Addresses":"2603:1030:40c:5::20","ftpUsername":"webapp-linux000002\\$webapp-linux000002","ftpsHostName":"ftps://waws-prod-bn1-263.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"48.214.28.8,48.214.28.13,48.214.28.15,48.214.28.20,48.214.28.26,48.214.28.29,48.214.27.131,48.214.27.158,48.214.26.180,48.214.25.59,48.214.24.49,48.214.25.58,20.119.144.21","possibleOutboundIpAddresses":"48.214.28.8,48.214.28.13,48.214.28.15,48.214.28.20,48.214.28.26,48.214.28.29,48.214.27.131,48.214.27.158,48.214.26.180,48.214.25.59,48.214.24.49,48.214.25.58,48.214.27.92,48.214.27.194,48.214.27.216,48.214.27.226,48.214.27.243,48.214.27.249,48.214.27.253,48.214.27.255,48.214.25.84,48.214.28.0,48.214.28.4,48.214.28.6,48.214.28.38,48.214.28.40,48.214.28.43,48.214.28.47,48.214.28.51,48.214.28.58,20.119.144.21","outboundIpv6Addresses":"2603:1030:403:6::1ca,2603:1030:403:12::191,2603:1030:403:17::109,2603:1030:403:10::248,2603:1030:403:3::b1f,2603:1030:403:17::10a,2603:1030:403:7::70,2603:1030:403:14::13f,2603:1030:403:5::16d,2603:1030:403:16::100,2603:1030:403:12::180,2603:1030:403:16::13e,2603:1030:40c:5::20,2603:10e1:100:2::1477:9015","possibleOutboundIpv6Addresses":"2603:1030:403:6::1ca,2603:1030:403:12::191,2603:1030:403:17::109,2603:1030:403:10::248,2603:1030:403:3::b1f,2603:1030:403:17::10a,2603:1030:403:7::70,2603:1030:403:14::13f,2603:1030:403:5::16d,2603:1030:403:16::100,2603:1030:403:12::180,2603:1030:403:16::13e,2603:1030:403:15::35e,2603:1030:403:17::105,2603:1030:403:11::159,2603:1030:403:11::15a,2603:1030:403:3::2ae,2603:1030:403:3::af2,2603:1030:403:3::af9,2603:1030:403:5::16e,2603:1030:403:3::b09,2603:1030:403:5::16f,2603:1030:403:11::15b,2603:1030:403:16::13f,2603:1030:403:17::10b,2603:1030:403:3::b22,2603:1030:403:12::192,2603:1030:403:11::15c,2603:1030:403:7::73,2603:1030:403:10::24b,2603:1030:40c:5::20,2603:10e1:100:2::1477:9015","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bn1-263","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"webapp_linux_acr_use_identity000001","defaultHostName":"webapp-linux000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC49EA9FCB95CB"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"repoUrl": "https://github.com/yugangw-msft/azure-site-test.git",
      "branch": "master", "isManualIntegration": true, "isGitHubAction": false, "isMercurial":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/sourcecontrols/web?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/sourcecontrols/web","name":"webapp-linux000002","type":"Microsoft.Web/sites/sourcecontrols","location":"East
        US 2","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test.git","branch":"master","isManualIntegration":true,"isGitHubAction":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","gitHubActionConfiguration":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC49EAC40E03E0"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/sourcecontrols/web?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/sourcecontrols/web","name":"webapp-linux000002","type":"Microsoft.Web/sites/sourcecontrols","location":"East
        US 2","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test.git","branch":"master","isManualIntegration":true,"isGitHubAction":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","provisioningDetails":"2025-10-30T22:15:57.1000000
        Ensuring ScmType","gitHubActionConfiguration":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC49EAC40E03E0"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/sourcecontrols/web?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/sourcecontrols/web","name":"webapp-linux000002","type":"Microsoft.Web/sites/sourcecontrols","location":"East
        US 2","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test.git","branch":"master","isManualIntegration":true,"isGitHubAction":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","provisioningDetails":"2025-10-30T22:16:50.5620825
        https://webapp-linux000002.scm.azurewebsites.net:443/api/deployments/latest?deployer=GitHub&time=2025-10-30_22-16-39Z","gitHubActionConfiguration":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC49EAC40E03E0"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/publishxml?api-version=2024-11-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-linux000002 - Web Deploy"
        publishMethod="MSDeploy" publishUrl="webapp-linux000002.scm.azurewebsites.net:443"
        msdeploySite="webapp-linux000002" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="https://webapp-linux000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases
        /></publishProfile><pub[...]
[...]
- request:
    body: '{"kind": "app,linux", "location": "East US 2", "identity": {"type": "SystemAssigned"},
      "properties": {"enabled": true, "hostNameSslStates": [{"name": "webapp-linux000002.azurewebsites.net",
      "sslState": "Disabled", "hostType": "Standard"}, {"name": "webapp-linux000002.scm.azurewebsites.net",
      "sslState": "Disabled", "hostType": "Repository"}], "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/serverfarms/plan-linux000003",
      "reserved": tru[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/config/web?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/config/web","name":"webapp[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/config/appsettings/list?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-linux000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"East
        US 2","properties":{}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"numberOfWorkers": 1, "defaultDocuments": ["Default.htm",
      "Default.html", "Default.asp", "index.htm", "index.html", "iisstart.htm", "default.aspx",
      "index.php", "hostingstart.html"], "netFrameworkVersion": "v4.0", "phpVersion":
      "", "pythonVersion": "", "nodeVersion": "", "powerShellVersion": "", "linuxFxVersion":
      "NODE|20-lts", "requestTracingEnabled": false, "remoteDebuggingEnabled": false,
      "httpLoggingEnabled": false, "acrUseManagedIdentityCreds": true, "acrUserManagedIdentityID":
      "", "logsDirectorySizeLimit": 35, "detailedErrorLoggingEnabled": false, "publishingUsername":
      "REDACTED", "scmType": "ExternalGit", "use32BitWorkerProcess": true, "webSocketsEnabled":
      false, "alwaysOn": false, "appCommandLine": "", "managedPipelineMode": "Integrated",
      "virtualApplications": [{"virtualPath": "/", "physicalPath": "site\\wwwroot",
      "preloadEnabled": false}], "loadBalancing": "LeastRequests", "experiments":
      {"rampUpRules": []}, "autoHealEnabled": false, "vnetName": "", "vnetRouteAllEnabled":
      false, "vnetPrivatePortsCount": 0, "localMySqlEnabled": false, "managedServiceIdentityId":
      13817, "scmIpSecurityRestrictionsUseMain": false, "http20Enabled": true, "http20ProxyFlag":
      0, "minTlsVersion": "1.2", "scmMinTlsVersion": "1.2", "ftpsState": "FtpsOnly",
      "preWarmedInstanceCount": 0, "elasticWebAppScaleLimit": 0, "functionsRuntimeScaleMonitoringEnabled":
      false, "minimumElasticInstanceCount"[...]
[...]
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_linux_acr_use_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/app-linux000005?api-version=2023-01-31
  response:
    body:
      string: '{"location":"eastus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/webapp_linux_acr_use_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/app-linux000005","name":"app-linux000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"89abed9c-4adf-4c01-ad49-28fc0c1099f0","clientId":"5cb3ae71-8cc1-400d-88de-37fa4d152add"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/webapp_linux_acr_use_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/app-linux000005
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"kind": "app,linux", "location": "East US 2", "identity": {"type": "UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/webapp_linux_acr_use_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/app-linux000005":
      {}}}, "properties": {"enabled": true, "hostNameSslStates": [{"name": "webapp-linux000004.azurewebsites.net",
      "sslState": "Disabled", "hostType": "Standard"}, {"name": "webapp-linux000004.scm.azurewebsites.net",
      "sslState": "Disabled", "hostType": "Repository"}], "serverFarmId": "/subscriptions/0000[...]
[...]
