interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_webapp_sitecontainers000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001","name":"cli_test_webapp_sitecontainers000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_sitecontainers_create_update_show_delete","date":"2025-02-18T16:09:20Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "S1", "tier": "STANDARD", "capacity":
      1}, "properties": {"perSiteScaling": false, "reserved": true, "isXenon": false,
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/serverfarms/webapp-sitecontainers-plan000003?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/serverfarms/webapp-sitecontainers-plan000003","name":"webapp-sitecontainers-plan000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"eastus","properties":{"serverFarmId":39500,"name":"webapp-sitecontainers-plan000003","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli_test_webapp_sitecontainers000001-EastUSwebspace-Linux","subscription":"bef29afb-3c08-4894-ae64-43bdd8f3f447","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"East
        US","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"cli_test_webapp_sitecontainers000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-blu-137_39500","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2025-02-18T16:09:36.0566667"},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DB821F81B750F5"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "webapp-sitecontainers-test000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2023-12-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "East US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/serverfarms/webapp-sitecontainers-plan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "linuxFxVersion": "SITECONTAINERS", "appSettings": [], "alwaysOn": true,
      "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped": false,
      "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002","name":"webapp-sitecontainers-test000002","type":"Microsoft.Web/sites","kind":"app,linux","location":"East
        US","properties":{"name":"webapp-sitecontainers-test000002","state":"Running","hostNames":["webapp-sitecontainers-test000002.azurewebsites.net"],"webSpace":"cli_test_webapp_sitecontainers000001-EastUSwebspace-Linux","selfLink":"https://waws-prod-blu-137.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli_test_webapp_sitecontainers000001-EastUSwebspace-Linux/sites/webapp-sitecontainers-test000002","repositorySiteName":"webapp-sitecontainers-test000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["webapp-sitecontainers-test000002.azurewebsites.net","webapp-sitecontainers-test000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"SITECONTAINERS"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-sitecontainers-test000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-sitecontainers-test000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/serverfarms/webapp-sitecontainers-plan000003","reserved":true,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2025-02-18T16:09:45.1266667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false},"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"webapp-sitecontainers-test000002","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"D3BA5386ECE3EF692436FA80D86862EA4BBB849B79C16196E232335AC62906B7","kind":"app,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"40.79.154.193","possibleInboundIpAddresses":"40.79.154.193","ftpUsername":"webapp-sitecontainers-test000002\\$webapp-sitecontainers-test000002","ftpsHostName":"ftps://waws-prod-blu-137.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"23.96.127.92,104.211.33.153,104.211.36.86,23.96.126.142,40.79.154.193","possibleOutboundIpAddresses":"23.96.127.92,104.211.33.153,104.211.36.86,23.96.126.142,23.96.122.236,23.96.115.184,104.211.36.171,104.211.36.57,104.211.38.225,20.246.209.236,20.246.209.250,20.246.210.18,20.246.210.31,20.246.210.33,20.246.210.34,52.151.209.141,52.151.209.160,52.151.209.165,52.151.209.190,52.151.210.10,52.151.210.130,40.79.154.193","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-blu-137","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli_test_webapp_sitecontainers000001","defaultHostName":"webapp-sitecontainers-test000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"defaultHostNameScope":"Global","privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DB821F86D814AB"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/publishxml?api-version=2023-01-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-sitecontainers-test000002
        - Web Deploy" publishMethod="MSDeploy" publishUrl="webapp-sitecontainers-test000002.scm.azurewebsites.net:443"
        msdeploySite="webapp-sitecontainers-test000002" userName="REDACTED" userPWD="REDACTED"
        destinationAppUrl="http://webapp-sitecontainers-test000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" [...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/config/appsettings/list?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"East
        US","properties":{}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/config/slotConfigNames?api-version=2023-01-01
  response:
    body:
      string: '{"id":null,"name":"webapp-sitecontainers-test000002","type":"Microsoft.Web/sites","location":"East
        US","properties":{"connectionStringNames":null,"appSettingNames":null,"azureStorageConfigNames":null}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/sitecontainers?api-version=2023-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"image": "mcr.microsoft.com/appsvc/staticsite", "targetPort":
      "80", "isMain": true, "authType": "Anonymous"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/sitecontainers/frontend?api-version=2023-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/sitecontainers/frontend","name":"frontend","type":"Microsoft.Web/sites/sitecontainer","location":"East
        US","properties":{"image":"mcr.microsoft.com/appsvc/staticsite","targetPort":"80","isMain":true,"startUpCommand":null,"authType":"Anonymous","userName":null,"passwordSecret":null,"userManagedIdentityClientId":null,"type":null,"metadata":null,"createdTime":"2025-02-18T16:10:20.8166667","lastModifiedTime":"2025-02-18T16:10:20.8166667","volumeMounts":[],"environmentVariables":[],"inheritAppSettingsAndConnectionStrings":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DB821F9BDDDB0B"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/sitecontainers?api-version=2023-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/sitecontainers/frontend","name":"frontend","type":"Microsoft.Web/sites/sitecontainer","location":"East
        US","properties":{"image":"mcr.microsoft.com/appsvc/staticsite","targetPort":"80","isMain":true,"startUpCommand":null,"authType":"Anonymous","userName":null,"passwordSecret":null,"userManagedIdentityClientId":null,"type":null,"metadata":null,"createdTime":"2025-02-18T16:10:20.8166667","lastModifiedTime":"2025-02-18T16:10:20.8166667","volumeMounts":[],"environmentVariables":[],"inheritAppSettingsAndConnectionStrings":null}}],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/sitecontainers/nonexistingcontainer?api-version=2023-12-01
  response:
    body:
      string: '{"Code":"NotFound","Message":"Cannot find sitecontainer with name nonexistingcontainer.","Target":null,"Details":[{"Message":"Cannot
        find sitecontainer with name nonexistingcontainer."},{"Code":"NotFound"},{"ErrorEntity":{"ExtendedCode":"51004","MessageTemplate":"Cannot
        find {0} with name {1}.","Parameters":["sitecontainer","nonexistingcontainer"],"Code":"NotFound","Message":"Cannot
        find sitecontainer with name nonexistingcontainer."}}],"Innererror":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_webapp_sitecontainers000001/providers/Microsoft.Web/sites/webapp-sitecontainers-test000002/sitecontainers/frontend?api-version=2023-12-01
  response:
    body:
      string: '"NoContent"'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DB821FA2B30580"'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
