interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-12-30T20:26:11Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-11-13T11:19:58Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> Re-record test for app service
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:26:15 GMT
=======
      - Wed, 13 Nov 2019 11:20:05 GMT
>>>>>>> Re-record test for app service
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "hcplan000003", "type": "Microsoft.Web/serverfarms", "location":
      "westus", "properties": {"skuName": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.75
>>>>>>> Re-record test for app service
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/validate?api-version=2018-02-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:26:15 GMT
=======
      - Wed, 13 Nov 2019 11:20:06 GMT
>>>>>>> Re-record test for app service
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"perSiteScaling": false, "isXenon":
      false}, "sku": {"name": "S1", "tier": "STANDARD", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.75
>>>>>>> Re-record test for app service
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003?api-version=2018-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003","name":"hcplan000003","type":"Microsoft.Web/serverfarms","kind":"app","location":"West
<<<<<<< HEAD
        US","properties":{"serverFarmId":35402,"name":"hcplan000003","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestUSwebspace","subscription":"0a60a016-d28c-428c-b5a6-7435ec6f40e3","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":10,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bay-051_35402","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
=======
        US","properties":{"serverFarmId":22829,"name":"hcplan000003","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestUSwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":10,"planName":"Virt[...]
[...]
- request:
    body: 'b''{"location": "West US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "10.14"}],
<<<<<<< HEAD
      "alwaysOn": true, "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'''
=======
      "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped": false}}'''
>>>>>>> Re-record test for app service
    headers:
<<<<<<< HEAD
      - '558'
=======
      - '520'
>>>>>>> Re-record test for app service
      Content-Type:
      - application/json; charset=utf-8
      ParameterSetName:
      - -g -n --plan
      User-Agent:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.75
>>>>>>> Re-record test for app service
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002?api-version=2018-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002","name":"hcwebapp000002","type":"Microsoft.Web/sites","kind":"app","location":"West
<<<<<<< HEAD
        US","properties":{"name":"hcwebapp000002","state":"Running","hostNames":["hcwebapp000002.azurewebsites.net"],"webSpace":"clitest.rg000001-WestUSwebspace","selfLink":"https://waws-prod-bay-051.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestUSwebspace/sites/hcwebapp000002","repositorySiteName":"hcwebapp000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["hcwebapp000002.azurewebsites.net","hcwebapp000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"hcwebapp000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"hcwebapp000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/hcplan000003","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2019-12-30T20:26:25.437","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"hcwebapp000002","trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"28A59EA35AAF0BFA8BB4BF89217863EB90C8973A76E9C07EDBB20354E6919900","kind":"app","inboundIpAddress":"40.78.18.232","possibleInboundIpAddresses":"40.78.18.232","outboundIpAddresses":"40.78.17.157,40.78.21.191,40.78.22.38,40.78.21.180","possibleOutboundIpAddresses":"40.78.17.157,40.78.21.191,40.78.22.38,40.78.21.180","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-051","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"hcwebapp000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null}}'
=======
        US","properties":{"name":"hcwebapp000002","state":"Running","hostNames":["hcwebapp000002.azurewebsites.net"],"webSpace":"clitest.rg000001-WestUSwebspace","selfLink":"https://waws-prod-bay-073.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestUSwebspace/sites/hcwebapp000002","repositorySiteName":"hcwebapp000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["hcweba[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.75
>>>>>>> Re-record test for app service
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/publishxml?api-version=2018-02-01
  response:
    body:
      string: <publishData><publishProfile profileName="hcwebapp000002 - Web Deploy"
        publishMethod="MSDeploy" publishUrl="hcwebapp000002.scm.azurewebsites.net:443"
<<<<<<< HEAD
        msdeploySite="hcwebapp000002" userName="$hcwebapp000002" userPWD="Cs7HrshmZokxzb0nxAfhpdlCq3nX30T6Gt9DJh9whKlcpcYpaaFXXFg9rTWm"
        destinationAppUrl="http://hcwebapp000002.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="hcwebapp000002
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-051.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="hcwebapp000002\$hcwebapp000002" userPWD="Cs7HrshmZokxzb0nxAfhpdlCq3nX30T6Gt9DJh9whKlcpcYpaaFXXFg9rTWm"
        destinationAppUrl="http://hcwebapp000002.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink=[...]
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004","name":"hcnamespace000004","type":"Microsoft.Relay/Namespaces","location":"West
<<<<<<< HEAD
        US","tags":{},"properties":{"provisioningState":"Created","metricId":"0a60a016-d28c-428c-b5a6-7435ec6f40e3:hcnamespace000004","createdAt":"2019-12-30T20:26:44.457Z","updatedAt":"2019-12-30T20:26:44.457Z","serviceBusEndpoint":"https://hcnamespace000004.servicebus.windows.net:443/","status":"Activating"}}'
=======
        US","tags":{},"properties":{"provisioningState":"Created","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:hcnamespace000004","createdAt":"2019-11-13T11:20:44.08Z","updatedAt":"2019-11-13T11:20:44.08Z","serviceBusEndpoint":"https://hcnamespace000004.servicebus.windows.net:443/","status":"Activating"}}'
>>>>>>> Re-record test for app service
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:26:44 GMT
=======
      - Wed, 13 Nov 2019 11:20:44 GMT
>>>>>>> Re-record test for app service
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Service-Bus-Resource-Provider/SN1
      - Microsoft-HTTPAPI/2.0
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1197'
=======
      - '1184'
>>>>>>> Re-record test for app service
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"userMetadata": "[{\"key\":\"endpoint\",\"value\":\"vmsq1:80\"}]"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005","name":"hcname000005","type":"Microsoft.Relay/Namespaces/HybridConnections","location":"West
<<<<<<< HEAD
        US","properties":{"createdAt":"2019-12-30T20:27:48.0033426Z","updatedAt":"2019-12-30T20:27:48.0033426Z","listenerCount":0,"requiresClientAuthorization":true,"userMetadata":"[{\"key\":\"endpoint\",\"value\":\"vmsq1:80\"}]"}}'
=======
        US","properties":{"createdAt":"2019-11-13T11:21:51.0016942Z","updatedAt":"2019-11-13T11:21:51.0016942Z","listenerCount":0,"requiresClientAuthorization":true,"userMetadata":"[{\"key\":\"endpoint\",\"value\":\"vmsq1:80\"}]"}}'
>>>>>>> Re-record test for app service
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:27:47 GMT
=======
      - Wed, 13 Nov 2019 11:21:50 GMT
>>>>>>> Re-record test for app service
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Service-Bus-Resource-Provider/SN1
      - Microsoft-HTTPAPI/2.0
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1199'
=======
      - '1179'
>>>>>>> Re-record test for app service
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Relay/namespaces?api-version=2017-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/allisonm-prague/providers/Microsoft.Relay/namespaces/allis[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules?api-version=2017-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:27:48 GMT
=======
      - Wed, 13 Nov 2019 11:21:59 GMT
>>>>>>> Re-record test for app service
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Service-Bus-Resource-Provider/SN1
      - Microsoft-HTTPAPI/2.0
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules/defaultSender?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules/defaultSender","name":"defaultSender","type":"Microsoft.Relay/Namespaces/HybridConnections/AuthorizationRules","location":"West
        US","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:27:48 GMT
=======
      - Wed, 13 Nov 2019 11:22:00 GMT
>>>>>>> Re-record test for app service
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Service-Bus-Resource-Provider/SN1
      - Microsoft-HTTPAPI/2.0
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1174'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005/authorizationRules/defaultSender/listKeys?api-version=2017-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"primaryConnectionString":"Endpoint=sb://hcnamespace000004.servicebus.windows.net/;SharedAccessKeyName=defaultSender;SharedAccessKey=gjg3TCrxe52OpFzTyCZ7bxm99nCYc8P86nt3fLYqdvY=;EntityPath=hcname000005","secondaryConnectionString":"Endpoint=sb://hcnamespace000004.servicebus.windows.net/;SharedAccessKeyName=defaultSender;SharedAccessKey=zL9MjD3KnTjd5+AxxOgqvC49Kxf79F83rC69afOyJnI=;EntityPath=hcname000005","primaryKey":"gjg3TCrxe52OpFzTyCZ7bxm99nCYc8P86nt3fLYqdvY=","secondaryKey":"zL9MjD3KnTjd5+AxxOgqvC49Kxf79F83rC69afOyJnI=","keyName":"defaultSender"}'
=======
      string: '{"primaryConnectionString":"Endpoint=sb://hcnamespace000004.servicebus.windows.net/;SharedAccessKeyName=defaultSender;SharedAccessKey=IKAidFLegjJpJKfLfK1n9SIgtpUqOD4j7TjkuHjSvtA=;EntityPath=hcname000005","secondaryConnectionString":"Endpoint=sb://hcnamespace000004.servicebus.windows.net/;SharedAccessKeyName=defaultSender;SharedAccessKey=NQkNzq82SR7wNOhrLVtIWH3586JKV5veGYS+aVPpJXk=;EntityPath=hcname000005","primaryKey":"IKAidFLegjJpJKfLfK1n9SIgtpUqOD4j7TjkuHjSvtA=","secondaryKey":"NQkNzq82SR7wNOhrLVtIWH3586JKV5veGYS+aVPpJXk=","keyName":"defaultSender"}'
>>>>>>> Re-record test for app service
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:27:49 GMT
=======
      - Wed, 13 Nov 2019 11:22:00 GMT
>>>>>>> Re-record test for app service
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Service-Bus-Resource-Provider/SN1
      - Microsoft-HTTPAPI/2.0
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1198'
=======
      - '1190'
>>>>>>> Re-record test for app service
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"serviceBusNamespace": "hcnamespace000004", "relayName":
      "hcname000005", "relayArmUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005",
      "hostname": "vmsq1", "port": 80, "sendKeyName": "defaultSender", "sendKeyValue":
<<<<<<< HEAD
      "gjg3TCrxe52OpFzTyCZ7bxm99nCYc8P86nt3fLYqdvY=", "serviceBusSuffix": ".servicebus.windows.net"}}'''
=======
      "IKAidFLegjJpJKfLfK1n9SIgtpUqOD4j7TjkuHjSvtA=", "serviceBusSuffix": ".servicebus.windows.net"}}'''
>>>>>>> Re-record test for app service
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azu[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.75
>>>>>>> Re-record test for app service
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionRelays?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionNamespaces/hcnamespace000004/relays/hcname000005","name":"hcname000005","type":"Microsoft.Web/sites/hybridConnectionNamespaces/relays","location":"West
        US","properties":{"serviceBusNamespace":"hcnamespace000004","relayName":"hcname000005","relayArmUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Relay/namespaces/hcnamespace000004/hybridConnections/hcname000005","hostname":"vmsq1","port":80,"sendKeyName":"defaultSender","sendKeyValue":"","serviceBusSuffix":".servicebus.windows.net"}}],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:27:52 GMT
=======
      - Wed, 13 Nov 2019 11:22:07 GMT
>>>>>>> Re-record test for app service
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.75
>>>>>>> Re-record test for app service
      accept-language:
      - en-US
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionNamespaces/hcnamespace000004/relays/hcname000005?api-version=2018-02-01
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:27:54 GMT
=======
      - Wed, 13 Nov 2019 11:22:11 GMT
>>>>>>> Re-record test for app service
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14993'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.0 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.42.0 Azure-SDK-For-Python AZURECLI/2.0.78
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-web/0.44.0 Azure-SDK-For-Python AZURECLI/2.0.75
>>>>>>> Re-record test for app service
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/hcwebapp000002/hybridConnectionRelays?api-version=2018-02-01
  response:
    body:
      string: '{"value":[],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 30 Dec 2019 20:27:55 GMT
=======
      - Wed, 13 Nov 2019 11:22:15 GMT
>>>>>>> Re-record test for app service
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
version: 1
