interactions:
- request:
    body: '{"location": "australiaeast", "properties": {"perSiteScaling": false, "reserved":
      true}, "sku": {"capacity": 1, "name": "P0V3", "tier": "PREMIUM0V3"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/serverfarms/webapp-plan000003?api-version=2025-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/serverfarms/webapp-plan000003","name":"webapp-plan000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"australiaeast","properties":{"serverFarmId":45533,"name":"webapp-plan000003","sku":{"name":"P0v3","tier":"Premium0V3","size":"P0v3","family":"Pv3","capacity":1},"workerSize":"XSmallV3","workerSizeId":18,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"XSmallV3","currentWorkerSizeId":18,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli_test000001-AustraliaEastwebspace-Linux","subscription":"e160ca65-836f-4be6-8ef5-e6234b90de87","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"Australia
        East","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"cli_test000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-sy3-037_45533","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":1,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2026-05-08T15:53:48.75","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":""},"sku":{"name":"P0v3","tier":"Premium0V3","size":"P0v3","family":"Pv3","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - 1DCDF02DC7A3F40
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "webapp-container000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2025-05-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "Australia East", "properties": {"httpsOnly": false, "siteConfig":
      {"appSettings": [{"name": "WEBSITES_ENABLE_APP_SERVICE_STORAGE", "value": "false"}],
      "alwaysOn": true, "linuxFxVersion": "DOCKER|nginx"}, "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/serverfarms/webapp-plan000003"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/sites/webapp-container000002?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/sites/webapp-container000002","name":"webapp-container000002","type":"Microsoft.Web/sites","kind":"app,linux,container","location":"Australia
        East","properties":{"name":"webapp-container000002","state":"Running","hostNames":["webapp-container000002.azurewebsites.net"],"webSpace":"cli_test000001-AustraliaEastwebspace-Linux","selfLink":"https://waws-prod-sy3-037.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli_test000001-AustraliaEastwebspace-Linux/sites/webapp-container000002","repositorySiteName":"webapp-container000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["webapp-container000002.azurewebsites.net","webapp-container000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"DOCKER|nginx"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-container000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-container000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"hostNamePrivateStates":[],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/serverfarms/webapp-plan000003","reserved":true,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2026-05-08T15:53:58.0166667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false,"managedIdentityTraffic":false},"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"aiIntegration":null,"deploymentId":"webapp-container000002","slotName":null,"trafficManagerHostNames":null,"sku":"Premium0V3","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"E2D9FCDA6056D515F7F3C22EF62001309FEEED0A7371E8A79E5F9F09170F160C","kind":"app,linux,container","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"13.70.72.33","possibleInboundIpAddresses":"13.70.72.33","inboundIpv6Address":"2603:1010:6:3::12","possibleInboundIpv6Addresses":"2603:1010:6:3::12","ftpUsername":"webapp-container000002\\$webapp-container000002","ftpsHostName":"ftps://waws-prod-sy3-037.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"20.248.223.10,20.248.223.12,20.248.223.25,20.92.64.202,20.92.64.213,20.92.64.222,13.70.72.33","possibleOutboundIpAddresses":"23.101.215.225,52.187.193.154,104.210.68.197,13.72.248.173,40.126.249.211,40.126.248.13,40.126.247.252,104.210.78.43,104.210.82.46,20.248.223.10,20.248.223.12,20.248.223.25,20.92.64.202,20.92.64.213,20.92.64.222,20.92.64.246,20.92.65.152,20.92.66.4,20.92.66.228,20.92.67.3,20.92.68.49,13.70.72.33","outboundIpv6Addresses":"2603:1010:3:e::47,2603:1010:3:8::103,2603:1010:3:15::6a,2603:1010:3:c::2d,2603:1010:3:7::9c,2603:1010:3:15::6b,2603:1010:6:3::12,2603:10e1:100:2::d46:4821","possibleOutboundIpv6Addresses":"2603:1010:3:b::52,2603:1010:3:13::44,2603:1010:3:7::7c,2603:1010:3:7::81,2603:1010:3:14::76,2603:1010:3:e::43,2603:1010:3:c::2c,2603:1010:3:f::34,2603:1010:3:14::77,2603:1010:3:e::47,2603:1010:3:8::103,2603:1010:3:15::6a,2603:1010:3:c::2d,2603:1010:3:7::9c,2603:1010:3:15::6b,2603:1010:3:a::24,2603:1010:3:13::45,2603:1010:3:f::52,2603:1010:3:13::66,2603:1010:3:15::6c,2603:1010:3:7::b1,2603:1010:6:3::12,2603:10e1:100:2::d46:4821","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-sy3-037","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli_test000001","defaultHostName":"webapp-container000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServicePlatformLogs,ScanLogs,AppServiceAntivirusScanAuditLogs,AppServiceAuthenticationLogs,AppServiceFileAuditLogs,AppServiceAuditLogs,AppServiceIPSecAuditLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null,"maintenanceEnabled":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DCDF02E1D1F175"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/sites/webapp-container000002/publishxml?api-version=2025-05-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-container000002 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="webapp-container000002.scm.azurewebsites.net:443"
        msdeploySite="webapp-container000002" userName="REDACTED" userPWD="REDACTED"
        destinationAppUrl="https://webapp-container000002.azurewebsites.net" SQLServerDBConnectionString="REDACTED"
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="webapp-container000002
        - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-sy3-037.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="https://webapp-container000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" webSystem="WebSites">[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/sites/webapp-container000002/config/appsettings/list?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/sites/webapp-container000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"Australia
        East","properties":{"WEBSITES_ENABLE_APP_SERVICE_STORAGE":"false"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/sites/webapp-container000002/config/slotConfigNames?api-version=2025-05-01
  response:
    body:
      string: '{"id":null,"name":"webapp-container000002","type":"Microsoft.Web/sites","location":"Australia
        East","properties":{"connectionStringNames":null,"appSettingNames":null,"azureStorageConfigNames":null}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/sites/webapp-container000002/config/web?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/sites/webapp-container000002/config/web","name":"webapp-container000002","type":"Microsof[...]
[...]
- request:
    body: '{"location": "Australia East", "properties": {"WEBSITES_ENABLE_APP_SERVICE_STORAGE":
      "false"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/sites/webapp-container000002/config/appsettings?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.Web/sites/webapp-container000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"Australia
        East","properties":{"WEBSITES_ENABLE_APP_SERVICE_STORAGE":"false"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DCDF02EEDA05EB"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "Australia East", "properties": {"numberOfWorkers": 1, "defaultDocuments":
      ["Default.htm", "Default.html", "Default.asp", "index.htm", "index.html", "iisstart.htm",
      "default.aspx", "index.php", "hostingstart.html"], "netFrameworkVersion": "v4.0",
      "phpVersion": "", "pythonVersion": "", "nodeVersion": "", "powerShellVersion":
      "", "linuxFxVersion": "DOCKER|nginx", "windowsFxVersion": null, "sandboxType":
      null, "windowsConfiguredStacks": [], "requestTracingEnabled": false, "remoteDebuggingEnabled":
      false, "remoteDebuggingVersion": null, "httpLoggingEnabled": false, "azureMonitorLogCategories":
      null, "acrUseManagedIdentityCreds": false, "acrUserManagedIdentityID": null,
      "logsDirectorySizeLimit": 35, "detailedErrorLoggingEnabled": false, "publishingUsername":
      "REDACTED", "publishingPassword": null, "appSettings": null, "metadata": null,
      "connectionStrings": null, "handlerMappings": null, "documentRoot": null, "scmType":
      "None", "use32BitWorkerProcess": true, "webSocketsEnabled": false, "alwaysOn":
      true, "javaVersion": null, "javaContainer": null, "javaContainerVersion": null,
      "appCommandLine": "", "managedPipelineMode": "Integrated", "virtualApplications":
      [{"virtualPath": "/", "physicalPath": "site\\wwwroot", "preloadEnabled": true,
      "virtualDirectories": null}], "winAuthAdminState": null, "winAuthTenantState":
      null, "customAppPoolIdentityAdminState": false, "customAppPoolIdentityTenantState":
      false, "runtimeADUser": null, "runtimeADUserPassword": null, "loadBalancing":
      "LeastRequests", "routingRules": [], "experiments": {"rampUpRules": []}, "limits":
      null, "autoHealEnabled": false, "autoHealRules": null, "tracingOptions": null,
      "vnetName": "", "vnetRouteAllEnabled": false, "vnetPrivatePortsCount": 0, "publicNetworkAccess":
      null, "siteAuthEnabled": false, "siteAuthSettings": {"enabled": null, "unauthenticatedClientAction":
      null, "tokenStoreEnabled": null, "allowedExternalRedirectUrls": null, "defaultProvider":
      null, "clientId": null, "clientSecret": null, "clientSecretSettingName": null,
      "clientSecretCertificateThumbprint": null, "issuer": null, "allowedAudiences":
      null, "additionalLoginParams": null, "isAadAutoProvisioned": false, "aadClaimsAuthorization":
      null, "googleClientId": null, "googleClientSecret": null, "googleClientSecretSettingName":
      null, "googleOAuthScopes": null, "facebookAppId": null, "facebookAppSecret":
      null, "facebookAppSecretSettingName": null, "facebookOAuthScopes": null, "gitHubClientId":
      null, "gitHubClientSecret": null, "gitHubClientSecretSettingName": null, "gitHubOAuthScopes":
      null, "twitterConsumerKey": null, "twitterConsumerSecret": null, "twitterConsumerSecretSettingName":
      null, "microsoftAccountClientId": null, "microsoftAccountClientSecret": null,
      "microsoftAccountClientSecretSettingName": null, "microsoftAccountOAuthScopes":
      null, "configVersion": null}, "cors": null, "push": null, "apiDefinition": null,
      "apiManagementConfig": null, "autoSwapSlotName": null, "localMySqlEnabled":
      false, "managedServiceIdentityId": null, "xManagedServiceIdentityId": null,
      "keyVaultReferenceIdentity": null, "ipSecurityRestrictionsDefaultAction": null,
      "scmIpSecurityRestrictionsDefaultAction": null, "scmIpSecurityRestrictionsUseMain":
      false, "http20Enabled": false, "minTlsVersion": "1.2", "minTlsCipherSuite":
      null, "scmMin[...]
[...]
