interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-03-31T04:47:05Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000004?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004","name":"clitest.rg000004","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-03-31T04:47:05Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Storage/storageAccounts/clitest000005?api-version=2018-07-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/7c65828b-0a53-496b-8597-89ea8323ccf6?monitor=true&api-version=2018-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/7c65828b-0a53-496b-8597-89ea8323ccf6?monitor=true&api-version=2018-07-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Storage/storageAccounts/clitest000005","name":"clitest000005","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-03-31T04:47:07.3529851Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-03-31T04:47:07.3529851Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-03-31T04:47:07.2592143Z","primaryEndpoints":{"blob":"https://clitest000005.blob.core.windows.net/","queue":"https://clitest000005.queue.core.windows.net/","table":"https://clitest000005.table.core.windows.net/","file":"https://clitest000005.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Storage/storageAccounts/clitest000005/listKeys?api-version=2018-07-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions?sku=Dynamic&api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/Central
        US","name":"Central US","type":"Microsoft.Web/geoRegions","properties":{"name":"Central
        US","description":null,"sortOrder":0,"displayName":"Central US"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/North
        Europe","name":"North Europe","type":"Microsoft.Web/geoRegions","properties":{"name":"North
        Europe","description":null,"sortOrder":1,"displayName":"North Europe"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/West
        Europe","name":"West Europe","type":"Microsoft.Web/geoRegions","properties":{"name":"West
        [...]
[...]
- request:
    body: 'b''b\''{"kind": "functionapp", "location": "westus", "properties": {"reserved":
      false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "FUNCTIONS_WORKER_RUNTIME", "value": "node"},
      {"name": "FUNCTIONS_EXTENSION_VERSION", "value": "~2"}, {"name": "AzureWebJobsStorage",
      "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000005;AccountKey=veryFakedStorageAccountKey=="},
      {"name": "AzureWebJobsDashboard", "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000005;AccountKey=veryFakedStorageAccountKey=="},
      {"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "8.11.1"}, {"name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
      "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000005;AccountKey=veryFakedStorageAccountKey=="},
      {"name": "WEBSITE_CONTENTSHARE", "value": "functionapp-e2e000001"}], "localMySqlEnabled":
      false, "http20Enabled": true}, "scmSiteAlsoStopped": false}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/sites/functionapp-e2e000001?api-version=2018-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/sites/functionapp-e2e000001","name":"functionapp-e2e000001","type":"Microsoft.Web/sites","kind":"functionapp","location":"westus","properties":{"name":"functionapp-e2e000001","state":"Running","hostNames":["functionapp-e2e000001.azurewebsites.net"],"webSpace":"clitest.rg000004-WestUSwebspace","selfLink":"https://waws-prod-bay-069.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000004-WestUSwebspace/sites/functionapp-e2e000001","repositorySiteName":"functionapp-e2e000001","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["functionapp-e2e000001.azurewebsites.net","functionapp-e2e000001.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"functionapp-e2e000001.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"functionapp-e2e000001.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/serverfarms/WestUSPlan","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2019-03-31T04:47:33.92","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"functionapp-e2e000001","trafficManagerHostNames":null,"sku":"Dynamic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":false,"clientCertEnabled":false,"clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"functionapp","outboundIpAddresses":"13.93.224.99,13.93.229.16,13.93.230.177,13.93.226.129","possibleOutboundIpAddresses":"13.93.224.99,13.93.229.16,13.93.230.177,13.93.226.129","containerSize":1536,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-069","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000004","defaultHostName":"functionapp-e2e000001.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D4E77CDB759EEB"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '[{"area": "AzureDevopsCli", "feature": "devops", "properties": {"Command":
      "project create", "Args": [], "ShellType": "cmd"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/CustomerIntelligence/Events
  response:
    body:
      string: ''
    headers:
      activityid:
      - c6f660f8-880d-4360-959d-035c4f13b250
      x-tfs-processid:
      - 07ab65bf-046c-4f36-ada8-5fd577d503be
      x-tfs-session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      x-vss-e2eid:
      - c6f660f8-880d-4360-959d-035c4f13b250
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 204
      message: No Content
- request:
    body: 'b''{"name": "test-project-e2e000002", "visibility": "private", "capabilities":
      {"versioncontrol": {"sourceControlType": "git"}, "processTemplate": {"templateTypeId":
      "b8a3a935-7e91-48b8-a94c-606d37c3e9f2"}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/projects
  response:
    body:
      string: '{"id":"f444aa08-bad5-42dd-a785-2da1623ef129","status":"notSet","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/operations/f444aa08-bad5-42dd-a785-2da1623ef129"}'
    headers:
      activityid:
      - 8daa32a4-8ee5-44ff-8ae2-dfd34700944c
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-tfs-processid:
      - cdfdc912-7634-4668-8082-c24391984f48
      x-tfs-session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      x-vss-e2eid:
      - 8daa32a4-8ee5-44ff-8ae2-dfd34700944c
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/operations/f444aa08-bad5-42dd-a785-2da1623ef129
  response:
    body:
      string: '{"id":"f444aa08-bad5-42dd-a785-2da1623ef129","status":"inProgress","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/operations/f444aa08-bad5-42dd-a785-2da1623ef129","_links":{"self":{"href":"https://dev.azure.com/azure-functions-devops-build-test/_apis/operations/f444aa08-bad5-42dd-a785-2da1623ef129"}}}'
    headers:
      activityid:
      - c6f660be-880d-4360-959d-035c4f13b250
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-tfs-processid:
      - 07ab65bf-046c-4f36-ada8-5fd577d503be
      x-tfs-session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      x-vss-e2eid:
      - c6f660be-880d-4360-959d-035c4f13b250
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: GET
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/test-project-e2e000002?includeCapabilities=true
  response:
    body:
      string: '{"id":"e9c0b310-8959-453c-9292-1791f1bb00a1","name":"test-project-e2e000002","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/e9c0b310-8959-453c-9292-1791f1bb00a1","state":"wellFormed","capabilities":{"processTemplate":{"templateName":"Basic","templateTypeId":"b8a3a935-7e91-48b8-a94c-606d37c3e9f2"},"versioncontrol":{"sourceControlType":"Git","gitEnabled":"True","tfvcEnabled":"False"}},"revision":212,"_links":{"self":{"href":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/e9c0b310-8959-453c-9292-1791f1bb00a1"},"collection":{"href":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projectCollections/edc48154-7838-4fc7-a763-cae67c2b9426"},"web":{"href":"https://dev.azure.com/azure-functions-devops-build-test/test-project-e2e000002"}},"visibility":"private","defaultTeam":{"id":"93329fed-32b7-4239-b66f-36f670654355","name":"test-project-e2e000002
        Team","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/e9c0b310-8959-453c-9292-1791f1bb00a1/teams/93329fed-32b7-4239-b66f-36f670654355"},"lastUpdateTime":"0001-01-01T00:00:00"}'
    headers:
      activityid:
      - efe1899c-10d9-4749-898f-46489d595dee
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-tfs-processid:
      - 403834b0-6b01-486a-a764-ab5b91e2ba4e
      x-tfs-session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      x-vss-e2eid:
      - efe1899c-10d9-4749-898f-46489d595dee
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"name": "test-repository-e2e000003"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: POST
    uri: https://dev.azure.com/azure-functions-devops-build-test/test-project-e2e000002/_apis/git/repositories
  response:
    body:
      string: '{"id":"ff8b6aa6-7f2f-4ecb-93ec-7aa72fec4009","name":"test-repository-e2e000003","url":"https://dev.azure.com/azure-functions-devops-build-test/e9c0b310-8959-453c-9292-1791f1bb00a1/_apis/git/repositories/ff8b6aa6-7f2f-4ecb-93ec-7aa72fec4009","project":{"id":"e9c0b310-8959-453c-9292-1791f1bb00a1","name":"test-project-e2e000002","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/e9c0b310-8959-453c-9292-1791f1bb00a1","state":"wellFormed","revision":212,"visibility":"private","lastUpdateTime":"2019-03-31T04:48:14.703Z"},"size":0,"remoteUrl":"https://azure-functions-devops-build-test@dev.azure.com/azure-functions-devops-build-test/test-project-e2e000002/_git/test-repository-e2e000003","sshUrl":"git@ssh.dev.azure.com:v3/azure-functions-devops-build-test/test-project-e2e000002/test-repository-e2e000003"}'
    headers:
      activityid:
      - 8daa312f-8ee5-44ff-8ae2-dfd34700944c
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-tfs-processid:
      - cdfdc912-7634-4668-8082-c24391984f48
      x-tfs-session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      x-vss-e2eid:
      - 8daa312f-8ee5-44ff-8ae2-dfd34700944c
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/sites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/sites/functionapp-e2e000001","name":"functionapp-e2e000001","type":"Microsoft.Web/sites","kind":"functionapp","location":"West
        US","p[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/sites/functionapp-e2e000001/publishxml?api-version=2018-02-01
  response:
    body:
      string: <publishData><publishProfile profileName="functionapp-e2e000001 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="functionapp-e2e000001.scm.azurewebsites.net:443"
        msdeploySite="functionapp-e2e000001" userName="$functionapp-e2e000001" userPWD="mNwhXsoPisXdijttKJvCRK8WlSnuNymX2pY7lGMxMccERFgr1scrTP9MBYrK"
        destinationAppUrl="http://functionapp-e2e000001.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="functionapp-e2e000001
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-069.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="functionapp-e2e000001\$functionapp-e2e000001"
        userPWD="mNwhXsoPisXdijttKJvCRK8WlSnuNymX2pY7lGMxMccERFgr1scrTP9MBYrK" destinationAppUrl="http://functionapp-e2e000001.azurewebsites.net"
        SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases
        /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/sites/functionapp-e2e000001/config/appsettings/list?api-version=2018-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/sites/functionapp-e2e000001/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"FUNCTIONS_WORKER_RUNTIME":"node","FUNCTIONS_EXTENSION_VERSION":"~2","AzureWebJobsStorage":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000005;AccountKey=veryFakedStorageAccountKey==","AzureWebJobsDashboard":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000005;AccountKey=veryFakedStorageAccountKey==","WEBSITE_NODE_DEFAULT_VERSION":"8.11.1","WEBSITE_CONTENTAZUREFILECONNECTIONSTRING":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000005;AccountKey=veryFakedStorageAccountKey==","WEBSITE_CONTENTSHARE":"functionapp-e2e000001"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000004/providers/Microsoft.Web/sites/functionapp-e2e000001/config/slotConfigNames?api-version=2018-02-01
  response:
    body:
      string: '{"id":null,"name":"functionapp-e2e000001","type":"Microsoft.Web/sites","location":"West
        US","properties":{"connectionStringNames":null,"appSettingNames":null,"azureStorageConfigNames":null}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-TFS-FedAuthRedirect:
      - Suppress
      X-TFS-Session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      X-VSS-ForceMsaPassThrough:
      - 'true'
    method: DELETE
    uri: https://dev.azure.com/azure-functions-devops-build-test/_apis/projects/e9c0b310-8959-453c-9292-1791f1bb00a1
  response:
    body:
      string: '{"id":"161980b5-cdc3-4524-a76d-53d357912db9","status":"notSet","url":"https://dev.azure.com/azure-functions-devops-build-test/_apis/operations/161980b5-cdc3-4524-a76d-53d357912db9"}'
    headers:
      activityid:
      - 8da9cedb-8ee5-44ff-8ae2-dfd34700944c
      content-type:
      - application/json; charset=utf-8; api-version=4.0
      x-tfs-processid:
      - cdfdc912-7634-4668-8082-c24391984f48
      x-tfs-session:
      - f14e4cec-50ab-42fd-a4b3-e39d56928dda
      x-vss-e2eid:
      - 8da9cedb-8ee5-44ff-8ae2-dfd34700944c
      x-vss-userdata:
      - 15d4d940-81f3-61c0-ba05-ffd09ea5f859:hazeng@microsoft.com
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000004?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdWWkZTQ0czWFRBSFhXNUNHVktGQUlRVVBVWkZNRkdDWTdaUnxENTNCRUY5MEFFODg0RTMyLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
