interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"brazilsouth","tags":{"product":"azurecli","cause":"automation","test":"test_acr_deployment_function_app","date":"2024-04-26T17:56:44Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "brazilsouth", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/functionappacrtest000004?api-version=2023-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/functionappacrtest000004","name":"functionappacrtest000004","location":"brazilsouth","tags":{},"systemData":{"createdBy":"kamperiadis@microsoft.com","createdByType":"User","createdAt":"2024-04-26T17:57:11.2311698+00:00","lastModifiedBy":"kamperiadis@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-04-26T17:57:11.2311698+00:00"},"properties":{"loginServer":"functionappacrtest000004.azurecr.io","creationDate":"2024-04-26T17:57:11.2311698Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2024-04-26T17:57:24.0173239+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2024-04-26T17:57:24.0173608+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled"}}'
    headers:
      api-supported-versions:
      - 2023-11-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/functionappacrtest000004/operationStatuses/registries-67972841-03f6-11ef-9edf-4c034fbe5de2?api-version=2023-11-01-preview&t=638497510444188736&c=MIIHHjCCBgagAwIBAgITOgKYXReW2dAHAh_AzAAEAphdFzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMjAxMTYzMjI4WhcNMjUwMTI2MTYzMjI4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/functionappacrtest000004/operationStatuses/registries-67972841-03f6-11ef-9edf-4c034fbe5de2?api-version=2023-11-01-preview&t=638497510444188736&c=MIIHHjCCBgagAwIBAgITOgKYXReW2dAHAh_AzAAEAphdFzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFg[...]
[...]
- request:
    body: '{"location": "brazilsouth", "sku": {"name": "S1", "tier": "STANDARD", "capacity":
      1}, "properties": {"perSiteScaling": false, "reserved": true, "isXenon": false,
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/acrtestplanfunction000003?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/acrtestplanfunction000003","name":"acrtestplanfunction000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"brazilsouth","properties":{"serverFarmId":11781,"name":"acrtestplanfunction000003","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-BrazilSouthwebspace-Linux","subscription":"dbf67cc6-6c57-44b8-97fc-4356f0d555b3","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"Brazil
        South","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"clitest.rg000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-cq1-049_11781","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2024-04-26T17:57:29.87"},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DA98033532DAA0"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/functionAppStacks?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/functionAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        8 Isolated","value":"dotnet8isolated","minorVersions":[{"displayText":".NET
        8 Isolated","value":"8 (LTS), isolated worker model","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v8.0","isHidden":false,"isDefault":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"netFrameworkVersion":"v8.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":false,"isDefault":true}],"endOfLifeDate":"2026-11-10T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNET-ISOLATED|8.0","isHidden":false,"isDefault":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"linuxFxVersion":"DOTNET-ISOLATED|8.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":false,"isDefault":true}],"endOfLifeDate":"2026-11-10T00:00:00Z"}}}]},{"displayText":".NET
        7 Isolated","value":"dotnet7isolated","minorVersions":[{"displayText":".NET
        7 Isolated","value":"7 (STS), isolated worker model","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v7.0","remoteDebuggingSupported":false,"appInsightsSettings":{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestacrdeploy000002?api-version=2023-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestacrdeploy000002","name":"clitestacrdeploy000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2024-04-26T17:56:49.9056908Z","key2":"2024-04-26T17:56:49.9056908Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-04-26T17:56:50.0619032Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-04-26T17:56:50.0619032Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2024-04-26T17:56:49.7963395Z","primaryEndpoints":{"blob":"https://clitestacrdeploy000002.blob.core.windows.net/","queue":"https://clitestacrdeploy000002.queue.core.windows.net/","table":"https://clitestacrdeploy000002.table.core.windows.net/","file":"https://clitestacrdeploy000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestacrdeploy000002/listKeys?api-version=2023-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2024-04-26T17:56:49.9056908Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2024-04-26T17:56:49.9056908Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "functionapp,linux", "location": "Brazil South", "properties":
      {"serverFarmId": "acrtestplanfunction000003", "reserved": true, "isXenon": false,
      "hyperV": false, "siteConfig": {"netFrameworkVersion": "v4.6", "linuxFxVersion":
      "Node|20", "appSettings": [{"name": "MACHINEKEY_DecryptionKey", "value": "C469227B088AF6BA942B20B3E3EA9FD1BB7D508A7DAF2E4E0878FD3ED6A26E57"},
      {"name": "WEBSITES_ENABLE_APP_SERVICE_STORAGE", "value": "true"}, {"name": "FUNCTIONS_WORKER_RUNTIME",
      "value": "node"}, {"name": "FUNCTIONS_EXTENSION_VERSION", "value": "~4"}, {"name":
      "AzureWebJobsStorage", "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitestacrdeploy000002;AccountKey=veryFakedStorageAccountKey=="}],
      "use32BitWorkerProcess": false, "alwaysOn": true, "localMySqlEnabled": false,
      "http20Enabled": true}, "scmSiteAlsoStopped": false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/functionappacrtest000004?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/functionappacrtest000004","name":"functionappacrtest000004","type":"Microsoft.Web/sites","kind":"functionapp,linux","location":"Brazil
        South","properties":{"name":"functionappacrtest000004","state":"Running","hostNames":["functionappacrtest000004.azurewebsites.net"],"webSpace":"clitest.rg000001-BrazilSouthwebspace-Linux","selfLink":"https://waws-prod-cq1-049.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-BrazilSouthwebspace-Linux/sites/functionappacrtest000004","repositorySiteName":"functionappacrtest000004","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"afdEnabled":false,"enabledHostNames":["functionappacrtest000004.azurewebsites.net","functionappacrtest000004.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"Node|20"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"functionappacrtest000004.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"functionappacrtest000004.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/acrtestplanfunction000003","reserved":true,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2024-04-26T17:57:39.2266667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"elasticWebAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"functionappacrtest000004","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"941EA3594EA040F2A7CF655746577E069DB7C02EA205BC8E6568B995AF723CE2","kind":"functionapp,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.206.176.5","possibleInboundIpAddresses":"20.206.176.5","ftpUsername":"functionappacrtest000004\\$functionappacrtest000004","ftpsHostName":"ftps://waws-prod-cq1-049.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"191.235.41.23,191.235.42.102,191.235.43.227,191.235.44.10,191.235.44.21,191.235.44.195,20.206.225.71,191.235.57.182,191.235.60.212,20.226.162.193,20.226.162.236,20.226.163.21,20.206.176.5","possibleOutboundIpAddresses":"191.235.41.23,191.235.42.102,191.235.43.227,191.235.44.10,191.235.44.21,191.235.44.195,20.206.225.71,191.235.57.182,191.235.60.212,20.226.162.193,20.226.162.236,20.226.163.21,20.226.163.71,20.226.163.144,20.226.163.231,20.226.164.12,20.226.164.22,20.226.165.196,20.226.165.221,20.226.165.232,20.226.166.183,20.226.167.46,20.226.163.69,20.226.167.66,191.235.41.23,191.235.42.102,191.235.43.227,191.235.44.10,191.235.44.21,191.235.44.195,20.226.167.68,20.226.167.129,20.226.167.172,20.226.167.223,20.226.167.244,20.226.167.247,20.206.176.5","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-cq1-049","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"functionappacrtest000004.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"FunctionAppLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"defaultHostNameScope":"Global","privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DA98033ABF7280"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2019-11-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus2\",\"name\":\"eastus2\",\"displayName\":\"East
        US 2\",\"regionalDisplayName\":\"(US) East US 2\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geographyGroup\":\"US\",\"longitude\":\"-78.3889\",\"latitude\":\"36.6681\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/workspaces?api-version=2021-12-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"customerId":"435af4c8-e794-4bb7-9543-c913b5688024","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-01T18:19:14.55186Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-11-02T10:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-01T18:19:14.55186Z","modifiedDate":"2023-11-01T18:19:15.6762954Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-dbf67cc6-6c57-44b8-97fc-4356f0d555b3-EUS","name":"DefaultWorkspace-dbf67cc6-6c57-44b8-97fc-4356f0d555b3-EUS","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5800909d-0000-0100-0000-654296a30000\""},{"properties":{"customerId":"5f2665ec-ecd7-4f10-a53a-c33db6d1ee8c","prov[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://appinsights.azureedge.net/portal/regionMapping.json
  response:
    body:
      string: "{\n    \"regions\": {\n        \"centralus\": {\n            \"geo\":
        \"unitedstates\",\n            \"pairedRegions\": [\n                \"eastus2\",\n
        \               \"eastus\"\n            ],\n            \"laRegionCode\":
        \"CUS\"\n        },\n        \"eastus2\": {\n            \"geo\": \"unitedstates\",\n
        \           \"pairedRegions\": [\n                \"centralus\",\n                \"eastus\"\n
        \           ],\n            \"laRegionCode\": \"EUS2\"\n        },\n        \"eastus\":
        {\n            \"geo\": \"unitedstates\",\n            \"pairedRegions\":
        [\n                \"westus\"\n            ],\n            \"laRegionCode\":
        \"EUS\"\n        },\n        \"northcentralus\": {\n            \"geo\": \"unitedstates\",\n
        \           \"pairedRegions\": [\n                \"southcentralus\"\n            ],\n
        \           \"laRegionCode\": \"NCUS\"\n        },\n        \"southcentralus\":
        {\n            \"geo\": \"unitedstates\",\n            \"pairedRegions\":
        [\n                \"northcentralus\"\n            ],\n            \"laRegionCode\":
        \"SCUS\"\n        },\n        \"westus2\": {\n            \"geo\": \"unitedstates\",\n
        \           \"pairedRegions\": [\n                \"westcentralus\"\n            ],\n
        \           \"laRegionCode\": \"WUS2\"\n        },\n        \"westus3\": {\n
        \           \"geo\": \"unitedstates\",\n            \"pairedRegions\": [\n
        \               \"westus2\"\n            ],\n            \"laRegionCode\":
        \"USW3\"\n        },\n        \"westcentralus\": {\n            \"geo\": \"unitedstates\",\n
        \           \"pairedRegions\": [\n                \"westus2\"\n            ],\n
        \           \"laRegionCode\": \"WCUS\"\n        },\n        \"westus\": {\n
        \           \"geo\": \"unitedstates\",\n            \"pairedRegions\": [\n
        \               \"eastus\"\n            ],\n            \"laRegionCode\":
        \"WUS\"\n        },\n        \"canadacentral\": {\n            \"geo\": \"canada\",\n
        \           \"pairedRegions\": [\n                \"canadaeast\"\n            ],\n
        \           \"laRegionCode\": \"CCAN\"\n        },\n        \"canadaeast\":
        {\n            \"geo\": \"canada\",\n            \"pairedRegions\": [\n                \"canadacentral\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"brazilsouth\":
        {\n            \"geo\": \"brazil\",\n            \"pairedRegions\": [\n                \"southcentralus\"\n
        \           ],\n            \"laRegionCode\": \"CQ\"\n        },\n        \"eastasia\":
        {\n            \"geo\": \"asiapacific\",\n            \"pairedRegions\": [\n
        \               \"southeastasia\"\n            ],\n            \"laRegionCode\":
        \"EA\"\n        },\n        \"southeastasia\": {\n            \"geo\": \"asiapacific\",\n
        \           \"pairedRegions\": [\n                \"eastasia\"\n            ],\n
        \           \"laRegionCode\": \"SEA\"\n        },\n        \"australiacentral\":
        {\n            \"geo\": \"australia\",\n            \"pairedRegions\": [\n
        \               \"australiacentral2\",\n                \"australiaeast\"\n
        \           ],\n            \"laRegionCode\": \"CAU\"\n        },\n        \"australiacentral2\":
        {\n            \"geo\": \"australia\",\n            \"pairedRegions\": [\n
        \               \"australiacentral\",\n                \"australiaeast\"\n
        \           ],\n            \"laRegionCode\": \"CBR2\"\n        },\n        \"australiaeast\":
        {\n            \"geo\": \"australia\",\n            \"pairedRegions\": [\n
        \               \"australiasoutheast\"\n            ],\n            \"laRegionCode\":
        \"EAU\"\n        },\n        \"australiasoutheast\": {\n            \"geo\":
        \"australia\",\n            \"pairedRegions\": [\n                \"australiaeast\"\n
        \           ],\n            \"laRegionCode\": \"SEAU\"\n        },\n        \"chinaeast\":
        {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n                \"chinanorth\",\n
        \               \"chinaeast2\"\n            ],\n            \"laRegionCode\":
        \"\"\n        },\n        \"chinanorth\": {\n            \"geo\": \"china\",\n
        \           \"pairedRegions\": [\n                \"chinaeast\",\n                \"chinaeast2\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"chinaeast2\":
        {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n                \"chinanorth2\"\n
        \           ],\n            \"laRegionCode\": \"CNE2\"\n        },\n        \"chinanorth2\":
        {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n                \"chinaeast2\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"chinaeast3\":
        {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n                \"chinanorth3\"\n
        \           ],\n            \"laRegionCode\": \"CNE3\"\n        },\n        \"chinanorth3\":
        {\n            \"geo\": \"china\",\n            \"pairedRegions\": [\n                \"chinaeast3\"\n
        \           ],\n            \"laRegionCode\": \"CNN3\"\n        },\n        \"centralindia\":
        {\n            \"geo\": \"india\",\n            \"pairedRegions\": [\n                \"southindia\"\n
        \           ],\n            \"laRegionCode\": \"CID\"\n        },\n        \"southindia\":
        {\n            \"geo\": \"india\",\n            \"pairedRegions\": [\n                \"centralindia\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"westindia\":
        {\n            \"geo\": \"india\",\n            \"pairedRegions\": [\n                \"southindia\",\n
        \               \"centralindia\"\n            ],\n            \"laRegionCode\":
        \"\"\n        },\n        \"jioindiacentral\": {\n            \"geo\": \"india\",\n
        \           \"pairedRegions\": [],\n            \"laRegionCode\": \"JINC\"\n
        \       },\n        \"jioindiawest\": {\n            \"geo\": \"india\",\n
        \           \"pairedRegions\": [],\n            \"laRegionCode\": \"JINW\"\n
        \       },\n        \"japaneast\": {\n            \"geo\": \"japan\",\n            \"pairedRegions\":
        [\n                \"japanwest\"\n            ],\n            \"laRegionCode\":
        \"EJP\"\n        },\n        \"japanwest\": {\n            \"geo\": \"japan\",\n
        \           \"pairedRegions\": [\n                \"japaneast\"\n            ],\n
        \           \"laRegionCode\": \"OS\"\n        },\n        \"koreacentral\":
        {\n            \"geo\": \"korea\",\n            \"pairedRegions\": [\n                \"koreasouth\"\n
        \           ],\n            \"laRegionCode\": \"SE\"\n        },\n        \"koreasouth\":
        {\n            \"geo\": \"korea\",\n            \"pairedRegions\": [\n                \"koreacentral\"\n
        \           ],\n            \"laRegionCode\": \"\"\n        },\n        \"northeurope\":
[...]
