interactions:
- request:
    body: '{"name": "helloworld", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2020-09-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"Hostname
        ''helloworld'' already exists. Please select a different name."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/sites?api-version=2020-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sisirap-RG/providers/Microsoft.Web/sites/sisirap-test-app-multicontainer","name":"sisirap-test-app-multicontainer","type":"Microsoft.Web/sites","kind":"app,linux,container","location":"East
        US","properties":{"name":"sisirap-test-app-multicontainer","state":"Running","hostNames":["sisiraptestdomains.com","foo.sisiraptestdomains.com","sisirap-test-app-multicontainer.azurewebsites.net"],"webSpace":"sisirap-RG-EastUSwebspace","selfLink":"https://waws-prod-blu-191.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/sisirap-RG-EastUSwebspace/sites/sisirap-test-app-multicontainer","repositorySiteName":"sisirap-test-app-multicontainer","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["foo.sisiraptestdomains.com","sisiraptestdomains.com","sisirap-test-app-multicontainer.azurewebsites.net","sisirap-test-app-multicontainer.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"COMPOSE|dmVyc2lvbjogJzMnCnNlcnZpY2VzOgogIHdlYjoKICAgIGltYWdlOiAicGF0bGUvcHl0aG9uX2FwcDoxLjAiCiAgICBwb3J0czoKICAgICAtICI1MDAwOjUwMDAiCiAgcmVkaXM6CiAgICBpbWFnZTogInJlZGlzOmFscGluZSIK"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":[],"csrs":[],"cers":null,"siteMode":"Limited","hostNameSslStates":[{"name":"foo.sisiraptestdomains.com","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"sisirap-test-app-multicontainer.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"sisiraptestdomains.com","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"sisirap-test-app-multicontainer.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":"Dedicated","serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sisirap-RG/providers/Microsoft.Web/serverfarms/sisirap-test-multicontainet","reserved":true,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2021-03-14T17:25:16.1133333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":null,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":null,"windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"azureStorageAccounts":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":null,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":null,"scmIpSecurityRestrictions":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":null,"minTlsVersion":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0},"deploymentId":"sisirap-test-app-multicontainer","slotName":null,"trafficManagerHostNames":null,"sku":"Basic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"30E3673979DFB5673924412D39370809E608E2DE4E889BD01C7B80FC38A57EED","kind":"app,linux,container","inboundIpAddress":"20.49.104.3","possibleInboundIpAddresses":"20.49.104.3","ftpUsername":"sisirap-test-app-multicontainer\\$sisirap-test-app-multicontainer","ftpsHostName":"ftps://waws-prod-blu-191.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"52.188.143.242,40.71.235.172,40.71.236.147,40.71.236.232,40.71.238.92,52.142.34.225,20.49.104.3","possibleOutboundIpAddresses":"52.188.143.242,40.71.235.172,40.71.236.147,40.71.236.232,40.71.238.92,52.142.34.225,52.149.246.34,52.179.115.42,52.179.118.77,52.191.94.124,52.224.89.255,52.224.92.113,52.226.52.76,52.226.52.105,52.226.52.106,52.226.53.47,52.226.53.100,52.226.54.47,20.49.104.3","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-blu-191","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"sisirap-RG","defaultHostName":"sisirap-test-app-multicontainer.azurewebsites.net","slotSwapStatus":null,"keyVaultReferenceIdentity":"SystemAssigned","httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs","storageAccountRequired":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgnrv4x6izhip6zys5xkce45dl7p3ilq5jnquy3o56hhuhidn7ldu5d4fdtp7np7tfo/providers/Microsoft.Web/sites/sisirap-multi-container","name":"sisirap-multi-container","type":"Microsoft.Web/sites","kind":"app,linux,container","location":"East
        US 2","properties":{"name":"sisirap-multi-container","state":"Running","hostNames":["sisirap-multi-container.azurewebsites.net"],"webSpace":"clitest.rgnrv4x6izhip6zys5xkce[...]
[...]
