interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"chinaeast","tags":{"product":"azurecli","cause":"automation","date":"2021-01-29T22:18:59Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "ssl-test-plan000002", "type": "Microsoft.Web/serverfarms", "location":
      "chinaeast", "properties": {"skuName": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/validate?api-version=2019-08-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "chinaeast", "properties": {"perSiteScaling": false, "isXenon":
      false}, "sku": {"name": "S1", "tier": "STANDARD", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002","name":"ssl-test-plan000002","type":"Microsoft.Web/serverfarms","kind":"app","location":"chinaeast","properties":{"serverFarmId":17207,"name":"ssl-test-plan000002","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-ChinaEastwebspace","subscription":"bdcb4ddc-bffa-41dc-bd10-a2b68c88664c","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"China
        East","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"cnws-prod-sha-001_17207","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"azBalancing":false},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D6F68CC30F6A30"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "web-ssl-test000003", "type": "Site"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2019-08-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "China East", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "10.14.1"}],
      "alwaysOn": true, "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000003?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000003","name":"web-ssl-test000003","type":"Microsoft.Web/sites","kind":"app","location":"China
        East","properties":{"name":"web-ssl-test000003","state":"Running","hostNames":["web-ssl-test000003.chinacloudsites.cn"],"webSpace":"clitest.rg000001-ChinaEastwebspace","selfLink":"https://cnws-prod-sha-001.api.chinacloudsites.chinacloudapi.cn:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-ChinaEastwebspace/sites/web-ssl-test000003","repositorySiteName":"web-ssl-test000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["web-ssl-test000003.chinacloudsites.cn","web-ssl-test000003.scm.chinacloudsites.cn"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"web-ssl-test000003.chinacloudsites.cn","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"web-ssl-test000003.scm.chinacloudsites.cn","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2021-01-29T22:19:12.71","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":null,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":null,"windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"azureStorageAccounts":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":null,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":null,"minTlsVersion":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0},"deploymentId":"web-ssl-test000003","trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"2224E27C982D3A9FAA78E4A1F37D31F432355670D236284B459C795253AD0F59","kind":"app","inboundIpAddress":"42.159.132.179","possibleInboundIpAddresses":"42.159.132.179","ftpUsername":"web-ssl-test000003\\$web-ssl-test000003","ftpsHostName":"ftps://cnws-prod-sha-001.ftp.chinacloudsites.chinacloudapi.cn/site/wwwroot","outboundIpAddresses":"42.159.135.109,42.159.135.174,42.159.135.208,42.159.133.172","possibleOutboundIpAddresses":"42.159.135.109,42.159.135.174,42.159.135.208,42.159.133.172","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"cnws-prod-sha-001","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"web-ssl-test000003.chinacloudsites.cn","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs","storageAccountRequired":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D6F68CC617A120"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/web-ssl-test000003/publishxml?api-version=2019-08-01
  response:
    body:
      string: <publishData><publishProfile profileName="web-ssl-test000003 - Web Deploy"
        publishMethod="MSDeploy" publishUrl="web-ssl-test000003.scm.chinacloudsites.cn:443"
        msdeploySite="web-ssl-test000003" userName="$web-ssl-test000003" userPWD="ht4G90i4M1vKtNYEybFYfEXucTDTnonklqZj7MZqmJeBRQ12Wfi3pCd0CMt8"
        destinationAppUrl="http://web-ssl-test000003.chinacloudsites.cn" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://manage.windowsazure.cn"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="web-ssl-test000003
        - FTP" publishMethod="FTP" publishUrl="ftp://cnws-prod-sha-001.ftp.chinacloudsites.chinacloudapi.cn/site/wwwroot"
        ftpPassiveMode="True" userName="web-ssl-test000003\$web-ssl-test000003" userPWD="ht4G90i4M1vKtNYEybFYfEXucTDTnonklqZj7MZqmJeBRQ12Wfi3pCd0CMt8"
        destinationAppUrl="http://web-ssl-test000003.chinacloudsites.cn" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://manage.windowsazure.cn"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="web-ssl-test000003
        - Zip Deploy" publishMethod="ZipDeploy" publishUrl="web-ssl-test000003.scm.chinacloudsites.cn:443"
        userName="$web-ssl-test000003" userPWD="ht4G90i4M1vKtNYEybFYfEXucTDTnonklqZj7MZqmJeBRQ12Wfi3pCd0CMt8"
        destinationAppUrl="http://web-ssl-test000003.chinacloudsites.cn" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://manage.windowsazure.cn"
        webSystem="WebSites"><databases /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"906a2d4a-ae95-48b9-98ea-c104062f9cbc","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2017-08-14T02:58:36Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Test
        User","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"Test","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"testuser","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["chibicha@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2020-12-18T03:39:38Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"User","telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/906a2d4a-ae95-48b9-98ea-c104062f9cbc/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"testuser@antux.partner.onmschina.cn","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      ocp-aad-diagnostics-server-name:
      - hNdYudmT19btGnsI/F9c0Zk/kQMZNTQ/DIP8Yd0RU+M=
      ocp-aad-session-key:
      - iGK6qaxrdt6JIYhK5XOZUPimpAPsZxmIPltGf5yfB2z2C96QXgDH3EJUxbkvwGcKcQOLsHTDDzJh26yvhYe5LJa6xliQ4E9e2jROTXuvuQP8xwKe4T4c_TqGY5mHBcvo.eZJlJ4jCM9HbCnetTRKHq5lM8rvGNOZ6SBi8edYBNGk
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "chinaeast", "properties": {"tenantId": "4accb380-d535-44a9-ac75-dd164a6c7aa6",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "4accb380-d535-44a9-ac75-dd164a6c7aa6", "objectId": "906a2d4a-ae95-48b9-98ea-c104062f9cbc",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000004?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000004","name":"kv-ssl-test000004","type":"Microsoft.KeyVault/vaults","location":"chinaeast","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","accessPolicies":[{"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","objectId":"906a2d4a-ae95-48b9-98ea-c104062f9cbc","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://kv-ssl-test000004.vault.azure.cn","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1183'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27abfa0a7c-a6b6-4736-8310-5855508787cd%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"6ca3aac7-4287-4a4d-8068-3050c0b42389","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Microsoft
        Azure App Service","appId":"abfa0a7c-a6b6-4736-8310-5855508787cd","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"Microsoft.Azure.WebSites","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access all the APIs registered with App Service","adminConsentDisplayName":"Access
        APIs registered with App Service","id":"e0ea806b-d128-49dc-ac08-2bf18f7874d8","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access all the APIs registered with App Service","userConsentDisplayName":"Access
        APIs registered with App Service","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["abfa0a7c-a6b6-4736-8310-5855508787cd"],"servicePrincipalType":"Application","signInAudience":"AzureADMultipleOrgs","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      ocp-aad-diagnostics-server-name:
      - zBKI/qjeWeRFuqjUkXsMGXMu6geDlsPePesieuKp99g=
      ocp-aad-session-key:
      - FlTRD0SRDOa1S9MJpJGvLL2veejlnrtjsPeOnLo34rDdPJZ4hbwK5OUVMJYjR1JlNY_Vc5syUyp8rq2WBQ83rHv4TDtjJI7pVqzvSsGo5BAeTcGYiNM8pm3C90qSpYEt.1jHryTNKEuIDmg0VxzqMy3OVIEWv2fC6TVeF_qRDc0Q
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "chinaeast", "tags": {}, "properties": {"tenantId": "4accb380-d535-44a9-ac75-dd164a6c7aa6",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "4accb380-d535-44a9-ac75-dd164a6c7aa6", "objectId": "906a2d4a-ae95-48b9-98ea-c104062f9cbc",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://kv-ssl-test000004.vault.azure.cn/certificates/test-cert/import?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6",
        resource="https://vault.azure.cn"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/durscake/providers/Microsoft.KeyVault/vaults/kvtest1","name":"kvtest1","type":"Microsoft.KeyVault/vaults","location":"chinanorth","tags":{},"properties":{"sku":{"family":"A","name":"Standard"},"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","accessPolicies":[{"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","objectId":"6ca3aac7-4287-4a4d-8068-3050c0b42389","permissions":{"keys":["Get"],"secrets":["Get"],"certificates":[]}},{"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","objectId":"906a2d4a-ae95-48b9-98ea-c104062f9cbc","permissions":{"keys":["Get","List","Update","Create","Import","Delete","Recover","Backup","Restore"],"secrets":["Get","List","Set","Delete","Recover","Backup","Restore"],"certificates":["Get","List","Update","Create","Import","Delete","Recover","Backup","Restore","ManageContacts","ManageIssuers","GetIssuers","ListIssuers","SetIssuers","DeleteIssuers"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableRbacAuthorization":false,"vaultUri":"https://kvtest1.vault.azure.cn/","provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PPratap/providers/Microsoft.KeyVault/vaults/WabacKV","name":"WabacKV","type":"Microsoft.KeyVault/vaults","location":"chinanorth","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","accessPolicies":[{"tenantId":"4accb380-d535-44a9-ac75-dd164a6c7aa6","objectId":"906a2d4a-ae95-48b9[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.chinacloudapi.cn/4accb380-d535-44a9-ac75-dd164a6c7aa6/servicePrincipals/906a2d4a-ae95-48b9-98ea-c104062f9cbc?api-version=1.6
  response:
    body:
      string: '{"odata.error":{"code":"Request_ResourceNotFound","message":{"lang":"en","value":"Resource
        ''906a2d4a-ae95-48b9-98ea-c104062f9cbc'' does not exist or one of its queried
        reference-property objects are not present."},"requestId":"5ac767f1-7e12-4bf5-9d1f-20f20b045ea8","date":"2021-01-29T22:20:14"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      ocp-aad-diagnostics-server-name:
      - Qo9U2vT5EFYenP/ONaaQ6MZagHlZMzKKBRuzMbBmv2s=
      ocp-aad-session-key:
      - JFh-c3RqFlRIroRCoZ05DPy_p05jcu0GtjA6r4VTxZE2xPzlBT0dpZIuDoWQxbTVSnf5v2vKJFiSv8xCNp75escsyDGlUtlIEw0ccGEwKDc8jinVXJwhARr_6cNMnPtI.wJW8T07M5d-uFAxdCkngX7S3zRLEok--uxkRrOgiDbs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "China East", "properties": {"password": "", "keyVaultId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/kv-ssl-test000004",
      "keyVaultSecretName": "test-cert", "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/ssl-test-plan000002"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/certificates/clitest.rg000001-kv-ssl-test000004-test-cert?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/certificates/clitest.rg000001-kv-ssl-test000004-test-cert","name":"clitest.rg000001-kv-ssl-test000004-test-cert","type":"Microsoft.Web/certificates","location":"China
        East","properties":{"friendlyName":"","subjectName":"*.azurewebsites.net","hostNames":["*.azurewebsites.net"],"pfxBlob":null,"siteName":null,"selfLink":null,"issuer":"*.azurewebsites.net","issueDate":"2018-01-01T07:00:00+00:00","expirationDate":"2118-12-31T07:00:00+00:00","password":null,"thumbprint":"9E9735C45C792B03B3FFCCA614852B32EE71AD6B","valid":null,"toDelete":null,"cerBlob":null,"publicKeyHash":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"keyVaultId":"","keyVaultSecretName":"","webSpace":"clitest.rg000001-ChinaEastwebspace","serverFarmId":null,"tags":null,"resourceGroup":null}}'
    headers:
      content-type:
      - application/json
      warning:
      - 199 Some of the uploaded certificates are either self-signed or expired.,199
        Some of the uploaded certificates cannot be validated to a trusted CA
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.chinacloudapi.cn/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/certificates/clitest.rg000001-kv-ssl-test000004-test-cert?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/certificates/clitest.rg000001-kv-ssl-test000004-test-cert","name":"clitest.rg000001-kv-ssl-test000004-test-cert","type":"Microsoft.Web/certificates","location":"China
        East","properties":{"friendlyName":"","subjectName":"*.azurewebsites.net","hostNames":["*.azurewebsites.net"],"pfxBlob":null,"siteName":null,"selfLink":null,"issuer":"*.azurewebsites.net","issueDate":"2018-01-01T07:00:00+00:00","expirationDate":"2118-12-31T07:00:00+00:00","password":null,"thumbprint":"9E9735C45C792B03B3FFCCA614852B32EE71AD6B","valid":null,"toDelete":null,"cerBlob":null,"publicKeyHash":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"keyVaultId":"","keyVaultSecretName":"","keyVaultSecretStatus":"Initialized","webSpace":"clitest.rg000001-ChinaEastwebspace","serverFarmId":null,"tags":null,"resourceGroup":"clitest.rg000001"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
