interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"japanwest","tags":{"product":"azurecli","cause":"automation","date":"2022-03-01T17:07:11Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "japanwest", "sku": {"name": "S1", "tier": "STANDARD", "capacity":
      1}, "properties": {"perSiteScaling": false, "isXenon": false, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan-backup000002?api-version=2021-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan-backup000002","name":"plan-backup000002","type":"Microsoft.Web/serverfarms","kind":"app","location":"japanwest","properties":{"serverFarmId":34435,"name":"plan-backup000002","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-JapanWestwebspace","subscription":"9b345226-dedc-4977-baeb-ea15d01b863d","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"Japan
        West","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-os1-013_34435","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D82D8ED30FD8AB"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "backup-webapp000003", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2021-03-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/webAppStacks?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/webAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        6","value":"dotnet6","minorVersions":[{"displayText":".NET 6 (LTS)","value":"6","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v6.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"6.0.x"}},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|6.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"6.0.x"}}}}]},{"displayText":".NET
        5","value":"dotnet5","minorVersions":[{"displayText":".NET 5","value":"5","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v5.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"5.0.x"}},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|5.0","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"5.0.x"}}}}]},{"displayText":".NET
        Core 3","value":"dotnetcore3","minorVersions":[{"displayText":".NET Core 3.1
        (LTS)","value":"3.1","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"3.1","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"3.1.301"}},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|3.1","remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"3.1.301"}}}},{"displayText":".NET
        Core 3.0","value":"3.0","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"3.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"3.0.103"},"endOfLifeDate":"2020-04-03T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNETCORE|3.0","isDeprecated":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":false},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"3.0.103"},"endOfLifeDate":"2020-04-03T00:00:00Z"}}}]},{"displayText":".NET
        Core 2","value":"dotnetcore2","minorVersions":[{"displayText":".NET Core 2.2","value":"2.2","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"2.2","isDeprecated":tr[...]
- request:
    body: '{"location": "Japan West", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan-backup000002",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "12.13.0"}],
      "alwaysOn": true, "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped":
      false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003?api-version=2021-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003","name":"backup-webapp000003","type":"Microsoft.Web/sites","kind":"app","location":"Japan
        West","properties":{"name":"backup-webapp000003","state":"Running","hostNames":["backup-webapp000003.azurewebsites.net"],"webSpace":"clitest.rg000001-JapanWestwebspace","selfLink":"https://waws-prod-os1-013.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-JapanWestwebspace/sites/backup-webapp000003","repositorySiteName":"backup-webapp000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["backup-webapp000003.azurewebsites.net","backup-webapp000003.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"backup-webapp000003.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"backup-webapp000003.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan-backup000002","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2022-03-01T17:07:36.28","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":1,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null},"deploymentId":"backup-webapp000003","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"99A6464610F70E526E50B6B7BECF7E0698398F28CB03C7A235D70FDF654D411E","kind":"app","inboundIpAddress":"40.74.100.129","possibleInboundIpAddresses":"40.74.100.129","ftpUsername":"backup-webapp000003\\$backup-webapp000003","ftpsHostName":"ftps://waws-prod-os1-013.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"40.74.100.129,40.74.85.64,40.74.126.115,40.74.125.67,40.74.128.17","possibleOutboundIpAddresses":"40.74.100.129,40.74.85.64,40.74.126.115,40.74.125.67,40.74.128.17,40.74.127.201,40.74.128.130,23.100.108.106,40.74.128.122,40.74.128.53","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-os1-013","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"backup-webapp000003.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs","storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D82D8ED9C1EAC0"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/publishxml?api-version=2021-03-01
  response:
    body:
      string: <publishData><publishProfile profileName="backup-webapp000003 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="backup-webapp000003.scm.azurewebsites.net:443"
        msdeploySite="backup-webapp000003" userName="$backup-webapp000003" userPWD="4rBbzk5CbnSAksGlaie0zBMlC5T2WJn5kKv5wKAESu6A41Fzdn2eAsCzd8gN"
        destinationAppUrl="http://backup-webapp000003.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="backup-webapp000003
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-os1-013.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="backup-webapp000003\$backup-webapp000003"
        userPWD="4rBbzk5CbnSAksGlaie0zBMlC5T2WJn5kKv5wKAESu6A41Fzdn2eAsCzd8gN" destinationAppUrl="http://backup-webapp000003.azurewebsites.net"
        SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink=[...]
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "japanwest",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/backup000004?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/japanwest/asyncoperations/8cc77996-e34f-4679-8559-4f7552ecad30?monitor=true&api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/japanwest/asyncoperations/8cc77996-e34f-4679-8559-4f7552ecad30?monitor=true&api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/japanwest/asyncoperations/8cc77996-e34f-4679-8559-4f7552ecad30?monitor=true&api-version=2021-06-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/japanwest/asyncoperations/8cc77996-e34f-4679-8559-4f7552ecad30?monitor=true&api-version=2021-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/backup000004","name":"backup000004","type":"Microsoft.Storage/storageAccounts","location":"japanwest","tags":{},"properties":{"keyCreationTime":{"key1":"2022-03-01T17:08:03.9576872Z","key2":"2022-03-01T17:08:03.9576872Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-03-01T17:08:03.9732998Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-03-01T17:08:03.9732998Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2022-03-01T17:08:03.8795300Z","primaryEndpoints":{"dfs":"https://backup000004.dfs.core.windows.net/","web":"https://backup000004.z31.web.core.windows.net/","blob":"https://backup000004.blob.core.windows.net/","queue":"https://backup000004.queue.core.windows.net/","table":"https://backup000004.table.core.windows.net/","file":"https://backup000004.file.core.windows.net/"},"primaryLocation":"japanwest","statusOfPrimary":"available","secondaryLocation":"japaneast","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://backup000004-secondary.dfs.core.windows.net/","web":"https://backup000004-secondary.z31.web.core.windows.net/","blob":"https://backup000004-secondary.blob.core.windows.net/","queue":"https://backup000004-secondary.queue.core.windows.net/","table":"https://backup000004-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2021-08-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg7v2uy3ck7knjnqex3iwtaudv26skxl3mq6xzoroot57yafrvulnzwnx7x3uqfukmk/providers/Microsoft.Storage[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/backup000004/listKeys?api-version=2021-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-03-01T17:08:03.9576872Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-03-01T17:08:03.9576872Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Mar 2022 17:08:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://backup000004.blob.core.windows.net/backupcontainer000005?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9FBA61C347579"'
      last-modified:
      - Tue, 01 Mar 2022 17:08:30 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"backupName": "backup-name000006", "storageAccountUrl":
      "https://backup000004.blob.core.windows.net/backupcontainer000005?<azure.cli.testsdk.base.ExecutionResult
      object at 0x0000020B422F2340>"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/backup?api-version=2021-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003","name":"backup-webapp000003","type":"Microsoft.Web/sites","location":"Japan
        West","properties":{"id":137115,"storageAccountUrl":"https://backup000004.blob.core.windows.net/backupcontainer000005?<azure.cli.testsdk.base.ExecutionResult
        object at 0x0000020B422F2340>","blobName":"backup-name000006","name":"backup-name000006","backupName":"backup-name000006","status":"Created","sizeInBytes":0,"created":"2022-03-01T17:08:33.3040122Z","log":null,"databases":null,"scheduled":false,"correlationId":"5095ff1b-3f28-4fd4-83e5-705abda89134","websiteSizeInBytes":null}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/backups?api-version=2021-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/backup-webapp000003/backups/137115","name":"137115","type":"Microsoft.Web/sites/backups","location":"Japan
        West","properties":{"id":137115,"storageAccountUrl":"https://backup000004.blob.core.windows.net/backupcontainer000005?<azure.cli.testsdk.base.ExecutionResult
        object at 0x0000020B422F2340>","blobName":"backup-name000006.zip","name":"backup-name000006","backupName":"backup-name000006","status":"InProgress","sizeInBytes":0,"created":"2022-03-01T17:08:33.3040122","log":null,"databases":null,"scheduled":false,"correlationId":"5095ff1b-3f28-4fd4-83e5-705abda89134","websiteSizeInBytes":null}}],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
