interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/webapp_hyperv_acr_use_identity000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001","name":"webapp_hyperv_acr_use_identity000001","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{"product":"azurecli","cause":"automation","test":"test_webapp_hyperv_acr_use_identity","date":"2025-11-21T22:37:08Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "sku": {"name": "P1V3", "tier": "PREMIUMV3",
      "capacity": 1}, "properties": {"perSiteScaling": false, "isXenon": false, "hyperV":
      true, "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/serverfarms/plan-hyperv000003?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/serverfarms/plan-hyperv000003","name":"plan-hyperv000003","type":"Microsoft.Web/serverfarms","kind":"windows","location":"westeurope","properties":{"serverFarmId":71273,"name":"plan-hyperv000003","sku":{"name":"P1v3","tier":"PremiumV3","size":"P1v3","family":"Pv3","capacity":1},"workerSize":"SmallV3","workerSizeId":6,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"SmallV3","currentWorkerSizeId":6,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"webapp_hyperv_acr_use_identity000001-WestEuropewebspace-Xenon","subscription":"6a07d018-378c-4224-968b-468f214b3c16","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        Europe","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"windows","resourceGroup":"webapp_hyperv_acr_use_identity000001","reserved":false,"isXenon":true,"hyperV":true,"mdmId":"waws-prod-am2-745_71273","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":1,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2025-11-21T22:37:20.95","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":""},"sku":{"name":"P1v3","tier":"PremiumV3","size":"P1v3","family":"Pv3","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC5B376854754B"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "webapp-hyperv000002", "type": "Site"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/checknameavailability?api-version=2024-11-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"","message":""}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "West Europe", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/serverfarms/plan-hyperv000003",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "windowsFxVersion": "DOCKER|mcr.microsoft.com/azure-app-service/windows/parkingpage:latest",
      "acrUseManagedIdentityCreds": true, "appSettings": [{"name": "DOCKER_REGISTRY_SERVER_USERNAME"},
      {"name": "DOCKER_REGISTRY_SERVER_PASSWORD"}, {"name": "DOCKER_REGISTRY_SERVER_URL",
      "value": "https://mcr.microsoft.com"}], "alwaysOn": true, "localMySqlEnabled":
      false, "http20Enabled": true, "http20ProxyFlag": 0}, "scmSiteAlsoStopped": false,
      "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-hyperv000002?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-hyperv000002","name":"webapp-hyperv000002","type":"Microsoft.Web/sites","kind":"app,container,windows","location":"West
        Europe","properties":{"name":"webapp-hyperv000002","state":"Running","hostNames":["webapp-hyperv000002.azurewebsites.net"],"webSpace":"webapp_hyperv_acr_use_identity000001-WestEuropewebspace-Xenon","selfLink":"https://waws-prod-am2-745.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/webapp_hyperv_acr_use_identity000001-WestEuropewebspace-Xenon/sites/webapp-hyperv000002","repositorySiteName":"webapp-hyperv000002","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["webapp-hyperv000002.azurewebsites.net","webapp-hyperv000002.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":"DOCKER|mcr.microsoft.com/azure-app-service/windows/parkingpage:latest"}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webapp-hyperv000002.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webapp-hyperv000002.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/serverfarms/plan-hyperv000003","reserved":false,"isXenon":true,"hyperV":true,"sandboxType":null,"lastModifiedTimeUtc":"2025-11-21T22:37:29.72","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false,"managedIdentityTraffic":false},"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"webapp-hyperv000002","slotName":null,"trafficManagerHostNames":null,"sku":"PremiumV3","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"5E4E3AEE53588E1D67F27995A56FA6BD51ECEE05CA955E5B6453BFB739220A16","kind":"app,container,windows","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.105.224.38","possibleInboundIpAddresses":"20.105.224.38","inboundIpv6Address":"2603:1020:206:8::62","possibleInboundIpv6Addresses":"2603:1020:206:8::62","ftpUsername":"webapp-hyperv000002\\$webapp-hyperv000002","ftpsHostName":"ftps://waws-prod-am2-745.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"20.238.195.139,20.238.195.170,20.238.195.186,20.238.196.26,20.238.196.112,20.238.196.145,20.105.224.38","possibleOutboundIpAddresses":"20.31.27.41,20.31.27.245,20.31.28.97,20.31.29.188,20.31.31.5,20.31.31.140,20.238.196.195,20.238.197.115,20.238.197.210,20.238.197.252,20.238.198.48,20.238.198.79,20.238.198.111,20.238.198.131,20.238.198.168,20.238.199.117,20.238.199.184,4.175.208.7,50.85.144.21,20.31.31.195,20.238.192.172,20.238.192.235,20.238.193.53,20.238.193.97,20.238.193.137,20.238.194.41,20.238.194.154,20.238.194.196,20.238.194.231,20.238.195.25,20.238.195.118,20.238.195.139,20.238.195.170,20.238.195.186,20.238.196.26,20.238.196.112,20.238.196.145,4.175.208.35,4.175.208.96,20.238.196.134,4.175.208.120,4.175.208.140,4.175.209.51,20.105.224.38","outboundIpv6Addresses":"2603:1020:203:f::441,2603:1020:203:10::3e9,2603:1020:203:1a::411,2603:1020:203:1e::3c0,2603:1020:203:18::41a,2603:1020:203:5::41b,2603:1020:206:8::62,2603:10e1:100:2::1469:e026","possibleOutboundIpv6Addresses":"2603:1020:203:11::3f8,2603:1020:203:1a::402,2603:1020:203:a::444,2603:1020:203:f::43e,2603:1020:203:5::413,2603:1020:203:18::410,2603:1020:203:17::439,2603:1020:203:16::418,2603:1020:203:12::427,2603:1020:203:10::3ed,2603:1020:203:17::43b,2603:1020:203:8::427,2603:1020:203:e::43c,2603:1020:203:12::42b,2603:1020:203:13::42a,2603:1020:203:16::41c,2603:1020:203:a::44e,2603:1020:203:20::3e9,2603:1020:203:12::41e,2603:1020:203:c::466,2603:1020:203:b::447,2603:1020:203:9::41c,2603:1020:203:12::41f,2603:1020:203:1e::3bb,2603:1020:203:12::420,2603:1020:203:c::469,2603:1020:203:15::416,2603:1020:203:6::448,2603:1020:203:18::417,2603:1020:203:3::64d,2603:1020:203:f::441,2603:1020:203:10::3e9,2603:1020:203:1a::411,2603:1020:203:1e::3c0,2603:1020:203:18::41a,2603:1020:203:5::41b,2603:1020:203:16::41d,2603:1020:203:1e::3c5,2603:1020:203:f::44a,2603:1020:203:15::420,2603:1020:203:8::42e,2603:1020:203:b::454,2603:1020:206:8::62,2603:10e1:100:2::1469:e026","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-am2-745","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"webapp_hyperv_acr_use_identity000001","defaultHostName":"webapp-hyperv000002.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceFileAuditLogs,AppServiceAntivirusScanAuditLogs,AppServiceAuthenticationLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC5B376BB00960"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '800'
    status:
      code: 200
      message: OK
- request:
    body: '{"format": "WebDeploy"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-hyperv000002/publishxml?api-version=2024-11-01
  response:
    body:
      string: <publishData><publishProfile profileName="webapp-hyperv000002 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="webapp-hyperv000002.scm.azurewebsites.net:443"
        msdeploySite="webapp-hyperv000002" userName="REDACTED" userPWD="REDACTED"
        destinationAppUrl="https://webapp-hyperv000002.azurewebsites.net" SQLServerDBConnectionString="REDACTED"
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="webapp-hyperv000002
        - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-am2-745.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="https://webapp-hyperv000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases
        /></publishProfile><publishProfile profileName="webapp-hyperv000002 - Zip
        Deploy" publishMethod="ZipDeploy" publishUrl="webapp-hyperv000002.scm.azurewebsites.net:443"
        userName="REDACTED" userPWD="REDACTED" destinationAppUrl="https://webapp-hyperv000002.azurewebsites.net"
        SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases
        /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-hyperv000002/config/appsettings/list?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-hyperv000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        Europe","properties":{"DOCKER_REGISTRY_SERVER_USERNAME":"","DOCKER_REGISTRY_SERVER_PASSWORD":"","DOCKER_REGISTRY_SERVER_URL":"https://mcr.microsoft.com"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"DOCKER_REGISTRY_SERVER_USERNAME": "", "DOCKER_REGISTRY_SERVER_PASSWORD":
      "", "DOCKER_REGISTRY_SERVER_URL": "https://mcr.microsoft.com"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-hyperv000002/config/appsettings?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-hyperv000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        Europe","properties":{"DOCKER_REGISTRY_SERVER_USERNAME":"","DOCKER_REGISTRY_SERVER_PASSWORD":"","DOCKER_REGISTRY_SERVER_URL":"https://mcr.microsoft.com"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DC5B37780DBA0B"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-hyperv000002/config/slotConfigNames?api-version=2024-11-01
  response:
    body:
      string: '{"id":null,"name":"webapp-hyperv000002","type":"Microsoft.Web/sites","location":"West
        Europe","properties":{"connectionStringNames":null,"appSettingNames":null,"azureStorageConfigNames":null}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-hyperv000002/config/web?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/sites/webapp-hyperv000002/config/web","name":"we[...]
[...]
- request:
    body: '{"properties": {"numberOfWorkers": 1, "defaultDocuments": ["Default.htm",
      "Default.html", "Default.asp", "index.htm", "index.html", "iisstart.htm", "default.aspx",
      "index.php", "hostingstart.html"], "netFrameworkVersion": "v4.0", "phpVersion":
      "", "pythonVersion": "", "nodeVersion": "", "powerShellVersion": "", "linuxFxVersion":
      "", "windowsFxVersion": "DOCKER|mcr.microsoft.com/azure-app-service/windows/parkingpage:latest",
      "requestTracingEnabled": false, "remoteDebuggingEnabled": false, "httpLoggingEnabled":
      false, "acrUseManagedIdentityCreds": true, "logsDirectorySizeLimit": 35, "detailedErrorLoggingEnabled":
      false, "publishingUsername": "REDACTED", "scmType": "None", "use32BitWorkerProcess":
      true, "webSocketsEnabled": false, "alwaysOn": true, "appCommandLine": "", "managedPipelineMode":
      "Integrated", "virtualApplications": [{"virtualPath": "/", "physicalPath": "site\\wwwroot",
      "preloadEnabled": true}], "loadBalancing": "LeastRequests", "experiments": {"rampUpRules":
      []}, "autoHealEnabled": false, "vnetName": "", "vnetRouteAllEnabled": false,
      "vnetPrivatePortsCount": 0, "localMySqlEnabled": false, "scmIpSecurityRestrictionsUseMain":
      false, "http20Enabled": true, "http20ProxyFlag": 0, "minTlsVersion": "1.2",
      "scmMinTlsVersion": "1.2", "ftpsState": "FtpsOnly", "preWarmedInstanceCount":
      0, "elasticWebAppScaleLimit": 0, "functionsRuntimeScaleMonitoringEnabled": false,
      "minimumElasticInstanceCount": 0, "azureStorageAccounts": [...]
[...]
- request:
    body: '{"kind": "app,container,windows", "location": "West Europe", "identity":
      {"type": "SystemAssigned"}, "properties": {"enabled": true, "hostNameSslStates":
      [{"name": "webapp-hyperv000002.azurewebsites.net", "sslState": "Disabled", "hostType":
      "Standard"}, {"name": "webapp-hyperv000002.scm.azurewebsites.net", "sslState":
      "Disabled", "hostType": "Repository"}], "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.Web/serverfarms/plan-hyperv000003",
      "rese[...]
[...]
- request:
    body: '{"location": "westeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/app-hyperv000005?api-version=2024-11-30
  response:
    body:
      string: '{"location":"westeurope","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/app-hyperv000005","name":"app-hyperv000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"15dabaeb-cfe9-4005-971e-5872c1bb87b2","clientId":"bde64459-a669-4c05-894e-33a8cf6623ad"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/app-hyperv000005
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"kind": "app,container,windows", "location": "West Europe", "identity":
      {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/webapp_hyperv_acr_use_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/app-hyperv000005":
      {}}}, "properties": {"enabled": true, "hostNameSslStates": [{"name": "webapp-hyperv000004.azurewebsites.net",
      "sslState": "Disabled", "hostType": "Standard"}, {"name": "webapp-hyperv000004.scm.azurewebsites.net",
      "sslState": "Disabled", "hostType": "Repository"}], "serverFarmId": "/subscriptions/[...]
[...]
