interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"brazilsouth","tags":{"product":"azurecli","cause":"automation","test":"test_acr_create_function_app","date":"2025-01-02T16:44:33Z","module":"appservice"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "brazilsouth", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/functionappacrtest000004?api-version=2023-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/functionappacrtest000004","name":"functionappacrtest000004","location":"brazilsouth","tags":{},"systemData":{"createdBy":"kamperiadis@microsoft.com","createdByType":"User","createdAt":"2025-01-02T16:45:02.8373739+00:00","lastModifiedBy":"kamperiadis@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-01-02T16:45:02.8373739+00:00"},"properties":{"loginServer":"functionappacrtest000004.azurecr.io","creationDate":"2025-01-02T16:45:02.8373739Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2025-01-02T16:45:12.583802+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2025-01-02T16:45:12.5838545+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled"}}'
    headers:
      api-supported-versions:
      - 2023-11-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/functionappacrtest000004/operationStatuses/registries-e7aae2b9-c928-11ef-b82f-4c034fbe5de2?api-version=2023-11-01-preview&t=638714331129781855&c=MIIHhzCCBm-gAwIBAgITHgVslgx4cCrrdPlP5AAABWyWDDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTIyMTE0NjE4WhcNMjUwMzIxMTE0NjE4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/functionappacrtest000004/operationStatuses/registries-e7aae2b9-c928-11ef-b82f-4c034fbe5de2?api-version=2023-11-01-preview&t=638714331129781855&c=MIIHhzCCBm-gAwIBAgITHgVslgx4cCrrdPlP5AAABWyWDDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFg[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/functionappacrtest000004/listCredentials?api-version=2023-11-01-preview
  response:
    body:
      string: '{"username":"functionappacrtest000004","passwords":[{"name":"password","value":"***"},{"name":"password2","value":"***"}]}'
    headers:
      api-supported-versions:
      - 2023-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "brazilsouth", "sku": {"name": "S1", "tier": "STANDARD"},
      "properties": {"perSiteScaling": false, "reserved": true, "isXenon": false,
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/acrtestplanfunction000003?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/acrtestplanfunction000003","name":"acrtestplanfunction000003","type":"Microsoft.Web/serverfarms","kind":"linux","location":"brazilsouth","properties":{"serverFarmId":18351,"name":"acrtestplanfunction000003","sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1},"workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-BrazilSouthwebspace-Linux","subscription":"dbf67cc6-6c57-44b8-97fc-4356f0d555b3","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"Brazil
        South","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"linux","resourceGroup":"clitest.rg000001","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-cq1-021_18351","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2025-01-02T16:45:23.2733333"},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DB5D35B81CB2E0"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/functionAppStacks?api-version=2023-01-01
  response:
    body:
      string: '{"value":[{"id":null,"name":"dotnet","type":"Microsoft.Web/functionAppStacks?stackOsType=All","properties":{"displayText":".NET","value":"dotnet","preferredOs":"windows","majorVersions":[{"displayText":".NET
        9 Isolated","value":"dotnet9isolated","minorVersions":[{"displayText":".NET
        9 Isolated","value":"9 (STS), isolated worker model","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v9.0","isDefault":false,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"netFrameworkVersion":"v9.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":false,"isDefault":false}],"endOfLifeDate":"2026-05-12T00:00:00Z"},"linuxRuntimeSettings":{"runtimeVersion":"DOTNET-ISOLATED|9.0","isDefault":false,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"9.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"linuxFxVersion":"DOTNET-ISOLATED|9.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":false,"isDefault":false}],"endOfLifeDate":"2026-05-12T00:00:00Z"}}}]},{"displayText":".NET
        8 Isolated","value":"dotnet8isolated","minorVersions":[{"displayText":".NET
        8 Isolated","value":"8 (LTS), isolated worker model","stackSettings":{"windowsRuntimeSettings":{"runtimeVersion":"v8.0","isHidden":false,"isDefault":true,"remoteDebuggingSupported":false,"appInsightsSettings":{"isSupported":true},"gitHubActionSettings":{"isSupported":true,"supportedVersion":"8.0.x"},"appSettingsDictionary":{"FUNCTIONS_WORKER_RUNTIME":"dotnet-isolated","WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED":"1"},"siteConfigPropertiesDictionary":{"use32BitWorkerProcess":false,"netFrameworkVersion":"v8.0"},"supportedFunctionsExtensionVersions":["~4"],"supportedFunctionsExtensionVersionsInfo":[{"version":"~4","isDeprecated":f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestacr000002?api-version=2023-05-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestacr000002","name":"clitestacr000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-01-02T16:44:38.9899019Z","key2":"2025-01-02T16:44:38.9899019Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-01-02T16:44:39.0836085Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-01-02T16:44:39.0836085Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-01-02T16:44:38.8492699Z","primaryEndpoints":{"blob":"https://clitestacr000002.blob.core.windows.net/","queue":"https://clitestacr000002.queue.core.windows.net/","table":"https://clitestacr000002.table.core.windows.net/","file":"https://clitestacr000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitestacr000002/listKeys?api-version=2023-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-01-02T16:44:38.9899019Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-01-02T16:44:38.9899019Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"kind": "functionapp,linux,container", "location": "Brazil South", "properties":
      {"serverFarmId": "acrtestplanfunction000003", "reserved": true, "isXenon": false,
      "hyperV": false, "siteConfig": {"netFrameworkVersion": "v4.6", "linuxFxVersion":
      "Node|20", "appSettings": [{"name": "MACHINEKEY_DecryptionKey", "value": "4843969BBD4FE3981F74B6E7B52EA95C33240C7AA544466F3C095DAE1376CFB8"},
      {"name": "DOCKER_CUSTOM_IMAGE_NAME", "value": "functionappacrtest000004.azurecr.io/image-name:latest"},
      {"name": "FUNCTION_APP_EDIT_MODE", "value": "readOnly"}, {"name": "WEBSITES_ENABLE_APP_SERVICE_STORAGE",
      "value": "false"}, {"name": "FUNCTIONS_EXTENSION_VERSION", "value": "~4"}, {"name":
      "AzureWebJobsStorage", "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitestacr000002;AccountKey=veryFakedStorageAccountKey=="}],
      "use32BitWorkerProcess": false, "alwaysOn": true, "localMySqlEnabled": false,
      "http20Enabled": true}, "scmSiteAlsoStopped": false, "httpsOnly": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/functionappacrtest000004?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/functionappacrtest000004","name":"functionappacrtest000004","type":"Microsoft.Web/sites","kind":"functionapp,linux","location":"Brazil
        South","properties":{"name":"functionappacrtest000004","state":"Running","hostNames":["functionappacrtest000004.azurewebsites.net"],"webSpace":"clitest.rg000001-BrazilSouthwebspace-Linux","selfLink":"https://waws-prod-cq1-021.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-BrazilSouthwebspace-Linux/sites/functionappacrtest000004","repositorySiteName":"functionappacrtest000004","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["functionappacrtest000004.azurewebsites.net","functionappacrtest000004.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":"Node|20"},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"functionappacrtest000004.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"functionappacrtest000004.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/acrtestplanfunction000003","reserved":true,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2025-01-02T16:45:34.89","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false},"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow
        all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"elasticWebAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"functionappacrtest000004","slotName":null,"trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":false,"clientAffinityProxyEnabled":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"941EA3594EA040F2A7CF655746577E069DB7C02EA205BC8E6568B995AF723CE2","kind":"functionapp,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"191.233.203.33","possibleInboundIpAddresses":"191.233.203.33","ftpUsername":"functionappacrtest000004\\$functionappacrtest000004","ftpsHostName":"ftps://waws-prod-cq1-021.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"191.232.237.67,191.232.232.81,191.232.193.240,191.232.238.181,191.233.203.33","possibleOutboundIpAddresses":"191.232.237.67,191.232.232.81,191.232.193.240,191.232.238.181,191.232.195.211,191.232.199.56,191.234.189.236,191.232.195.246,191.232.198.180,191.232.67.101,191.232.66.95,191.232.68.93,191.232.69.43,191.232.69.105,191.232.70.57,20.226.185.17,20.226.185.167,20.226.185.169,20.226.185.181,191.232.64.19,20.226.185.189,191.233.203.33","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-cq1-021","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"functionappacrtest000004.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"FunctionAppLogs,AppServiceAuthenticationLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"defaultHostNameScope":"Global","privateLinkIdentifiers":null,"sshEnabled":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1DB5D35BEE09240"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2022-12-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"type\":\"Region\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\":\"United
        States\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]},\"availabilityZoneMappings\":[{\"logicalZone\":\"1\",\"physicalZone\":\"eastus-az3\"},{\"logicalZone\":\"2\",\"physicalZone\":\"eastus-az1\"},{\"logicalZone\":\"3\",\"physicalZone\":\"eastus-az2\"}]},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southcentralus\",\"name\":\"southcentralus\",\"type\":\"Region\",\"displayName\":\"South
        Central US\",\"regionalDisplayName\":\"(US) South Central US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\":\"United
        States\",\"geographyGroup\":\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/workspaces?api-version=2021-12-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"customerId":"435af4c8-e794-4bb7-9543-c913b5688024","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-11-01T18:19:14.55186Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-07-27T10:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-11-01T18:19:14.55186Z","modifiedDate":"2024-07-26T22:22:56.5815673Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-dbf67cc6-6c57-44b8-97fc-4356f0d555b3-EUS","name":"DefaultWorkspace-dbf67cc6-6c57-44b8-97fc-4356f0d555b3-EUS","type":"Microsoft.OperationalInsights/workspaces","etag":"\"78035626-0000-0100-0000-66a421c00000\""},{"properties":{"customerId":"0a2967f2-3822-4a40-8a51-07b8316c5441","prov[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://appinsights.azureedge.net/portal/regionMapping.json
  response:
    body:
      string: "{\r\n  \"regions\": {\r\n    \"centralus\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"eastus2\",\r\n        \"eastus\"\r\n
        \     ],\r\n      \"laRegionCode\": \"CUS\"\r\n    },\r\n    \"eastus2\":
        {\r\n      \"geo\": \"unitedstates\",\r\n      \"pairedRegions\": [\r\n        \"centralus\",\r\n
        \       \"eastus\"\r\n      ],\r\n      \"laRegionCode\": \"EUS2\"\r\n    },\r\n
        \   \"eastus\": {\r\n      \"geo\": \"unitedstates\",\r\n      \"pairedRegions\":
        [\r\n        \"westus\"\r\n      ],\r\n      \"laRegionCode\": \"EUS\"\r\n
        \   },\r\n    \"northcentralus\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"southcentralus\"\r\n      ],\r\n      \"laRegionCode\":
        \"NCUS\"\r\n    },\r\n    \"southcentralus\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"northcentralus\"\r\n      ],\r\n      \"laRegionCode\":
        \"SCUS\"\r\n    },\r\n    \"westus2\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"westcentralus\"\r\n      ],\r\n      \"laRegionCode\":
        \"WUS2\"\r\n    },\r\n    \"westus3\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"westus2\"\r\n      ],\r\n      \"laRegionCode\":
        \"USW3\"\r\n    },\r\n    \"westcentralus\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"westus2\"\r\n      ],\r\n      \"laRegionCode\":
        \"WCUS\"\r\n    },\r\n    \"westus\": {\r\n      \"geo\": \"unitedstates\",\r\n
        \     \"pairedRegions\": [\r\n        \"eastus\"\r\n      ],\r\n      \"laRegionCode\":
        \"WUS\"\r\n    },\r\n    \"canadacentral\": {\r\n      \"geo\": \"canada\",\r\n
        \     \"pairedRegions\": [\r\n        \"canadaeast\"\r\n      ],\r\n      \"laRegionCode\":
        \"CCAN\"\r\n    },\r\n    \"canadaeast\": {\r\n      \"geo\": \"canada\",\r\n
        \     \"pairedRegions\": [\r\n        \"canadacentral\"\r\n      ],\r\n      \"laRegionCode\":
        \"\"\r\n    },\r\n    \"brazilsouth\": {\r\n      \"geo\": \"brazil\",\r\n
        \     \"pairedRegions\": [\r\n        \"southcentralus\"\r\n      ],\r\n      \"laRegionCode\":
        \"CQ\"\r\n    },\r\n    \"eastasia\": {\r\n      \"geo\": \"asiapacific\",\r\n
        \     \"pairedRegions\": [\r\n        \"southeastasia\"\r\n      ],\r\n      \"laRegionCode\":
        \"EA\"\r\n    },\r\n    \"southeastasia\": {\r\n      \"geo\": \"asiapacific\",\r\n
        \     \"pairedRegions\": [\r\n        \"eastasia\"\r\n      ],\r\n      \"laRegionCode\":
        \"SEA\"\r\n    },\r\n    \"australiacentral\": {\r\n      \"geo\": \"australia\",\r\n
        \     \"pairedRegions\": [\r\n        \"australiacentral2\",\r\n        \"australiaeast\"\r\n
        \     ],\r\n      \"laRegionCode\": \"CAU\"\r\n    },\r\n    \"australiacentral2\":
        {\r\n      \"geo\": \"australia\",\r\n      \"pairedRegions\": [\r\n        \"australiacentral\",\r\n
        \       \"australiaeast\"\r\n      ],\r\n      \"laRegionCode\": \"CBR2\"\r\n
        \   },\r\n    \"australiaeast\": {\r\n      \"geo\": \"australia\",\r\n      \"pairedRegions\":
        [\r\n        \"australiasoutheast\"\r\n      ],\r\n      \"laRegionCode\":
        \"EAU\"\r\n    },\r\n    \"australiasoutheast\": {\r\n      \"geo\": \"australia\",\r\n
        \     \"pairedRegions\": [\r\n        \"australiaeast\"\r\n      ],\r\n      \"laRegionCode\":
        \"SEAU\"\r\n    },\r\n    \"chinaeast\": {\r\n      \"geo\": \"china\",\r\n
        \     \"pairedRegions\": [\r\n        \"chinanorth\",\r\n        \"chinaeast2\"\r\n
        \     ],\r\n      \"laRegionCode\": \"\"\r\n    },\r\n    \"chinanorth\":
        {\r\n      \"geo\": \"china\",\r\n      \"pairedRegions\": [\r\n        \"chinaeast\",\r\n
        \       \"chinaeast2\"\r\n      ],\r\n      \"laRegionCode\": \"\"\r\n    },\r\n
        \   \"chinaeast2\": {\r\n      \"geo\": \"china\",\r\n      \"pairedRegions\":
        [\r\n        \"chinanorth2\"\r\n      ],\r\n      \"laRegionCode\": \"CNE2\"\r\n
        \   },\r\n    \"chinanorth2\": {\r\n      \"geo\": \"china\",\r\n      \"pairedRegions\":
        [\r\n        \"chinaeast2\"\r\n      ],\r\n      \"laRegionCode\": \"\"\r\n
        \   },\r\n    \"chinaeast3\": {\r\n      \"geo\": \"china\",\r\n      \"pairedRegions\":
        [\r\n        \"chinanorth3\"\r\n      ],\r\n      \"laRegionCode\": \"CNE3\"\r\n
        \   },\r\n    \"chinanorth3\": {\r\n      \"geo\": \"china\",\r\n      \"pairedRegions\":
        [\r\n        \"chinaeast3\"\r\n      ],\r\n      \"laRegionCode\": \"CNN3\"\r\n
        \   },\r\n    \"centralindia\": {\r\n      \"geo\": \"india\",\r\n      \"pairedRegions\":
        [\r\n        \"southindia\"\r\n      ],\r\n      \"laRegionCode\": \"CID\"\r\n
        \   },\r\n    \"southindia\": {\r\n      \"geo\": \"india\",\r\n      \"pairedRegions\":
        [\r\n        \"centralindia\"\r\n      ],\r\n      \"laRegionCode\": \"\"\r\n
        \   },\r\n    \"westindia\": {\r\n      \"geo\": \"india\",\r\n      \"pairedRegions\":
        [\r\n        \"southindia\",\r\n        \"centralindia\"\r\n      ],\r\n      \"laRegionCode\":
        \"\"\r\n    },\r\n    \"jioindiacentral\": {\r\n      \"geo\": \"india\",\r\n
        \     \"pairedRegions\": [],\r\n      \"laRegionCode\": \"JINC\"\r\n    },\r\n
        \   \"jioindiawest\": {\r\n      \"geo\": \"india\",\r\n      \"pairedRegions\":
        [],\r\n      \"laRegionCode\": \"JINW\"\r\n    },\r\n    \"japaneast\": {\r\n
[...]
