interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-01-02T20:46:21Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001?api-version=2020-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001","name":"clitestosa000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-01-02T20:46:21Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "clitest000002", "identifierUris":
      ["http://clitest000002"], "passwordCredentials": [{"startDate": "2019-01-02T20:46:25.089578Z",
      "endDate": "2020-01-02T20:46:25.089578Z", "keyId": "0a90d64b-7a94-4053-bc0b-7b01cb280149",
      "value": "clitest000002"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/microsoft.com/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/microsoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"e4e3576c-a0ef-4240-9970-e246aab81242","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"66f84b67-9557-4be7-8810-717e2ac1bf76","appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","errorUrl":null,"groupMembershipClaims":null,"homepage":null,"identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"7501bdae-4c3a-4983-9ac2-f523b897267f","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2020-01-02T20:46:25.089578Z","keyId":"0a90d64b-7a94-4053-bc0b-7b01cb280149","startDate":"2019-01-02T20:46:25.089578Z","value":null}],"publicClient":null,"publisherDomain":"microsoft.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['6690361']
      location: ['https://graph.windows.net/microsoft.com/directoryObjects/e4e3576c-a0ef-4240-9970-e246aab81242/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [ZGctOnyfW5EEj2P4FT/DeF6uqs1fuYspSwIc6iT+dHQ=]
      ocp-aad-session-key: [nNdbEq-6vDDHNZSfdEecfPn6SOW6wJwLV959LAZmOuEiIcgJbyDoc60Psel8jALEdxYFuGK_v52vub8Gl9zjZxC9k4C2vrEGv1GI8pzLP6GBUPKLa2P-BtxygEmz80AZkse4AsZH2hMIOIgJAYQAS7mfpFECw-UBh9-pW5s61Q3F-p1sJtsrdQbGwuFaMaIv1-bJPaJrLawVynJeSfEFRQ.b-2oAG7Ma57Yld4ETjRZH7c-XNBt-2mxx0h8z7Dq-OU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003?api-version=2018-09-30-preview
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003''
        under resource group ''clitestosa000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: 'b''b\''{"location": "eastus", "tags": {"scenario_test": ""}, "properties":
      {"openShiftVersion": "v3.11", "fqdn": "clitestosa000003.eastus.cloudapp.azure.com",
      "networkProfile": {"vnetCidr": "10.0.0.0/8"}, "routerProfiles": [{"name": "default"}],
      "masterPoolProfile": {"name": "master", "count": 3, "vmSize": "Standard_D4s_v3",
      "subnetCidr": "10.0.0.0/24", "osType": "Linux"}, "agentPoolProfiles": [{"name":
      "compute", "count": 1, "vmSize": "Standard_D4s_v3", "subnetCidr": "10.0.0.0/24",
      "osType": "Linux", "role": "compute"}, {"name": "infra", "count": 2, "vmSize":
      "Standard_D4s_v3", "subnetCidr": "10.0.0.0/24", "osType": "Linux", "role": "infra"}],
      "authProfile": {"identityProviders": [{"name": "Azure AD", "provider": {"kind":
      "AADIdentityProvider", "clientId": "66f84b67-9557-4be7-8810-717e2ac1bf76", "secret":
      "clitest000002", "tenantId": "microsoft.com"}}]}}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003?api-version=2018-09-30-preview
  response:
    body: {string: "{\n  \"properties\": {\n   \"provisioningState\": \"Creating\"\
        ,\n   \"openShiftVersion\": \"v3.11\",\n   \"fqdn\": [...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003?api-version=2018-09-30-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/a3c86676-82b5-4dcb-97fb-633290d6e1b7?api-version=2018-10-31']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operationresults/a3c86676-82b5-4dcb-97fb-633290d6e1b7?api-version=2018-10-31']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/a3c86676-82b5-4dcb-97fb-633290d6e1b7?api-version=2018-10-31
  response:
    body: {string: "{\n  \"name\": \"7666c8a3-b582-cb4d-97fb-633290d6e1b7\",\n  \"\
        status\": \"InProgress\",\n  \"startTime\": \"2019-01-02T21:00:58.2608842Z\"\
        \n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/a3c86676-82b5-4dcb-97fb-633290d6e1b7?api-version=2018-10-31
  response:
    body: {string: "{\n  \"name\": \"7666c8a3-b582-cb4d-97fb-633290d6e1b7\",\n  \"\
        status\": \"Succeeded\",\n  \"startTime\": \"2019-01-02T21:00:58.2608842Z\"\
        ,\n  \"endTime\": \"2019-01-02T21:20:33.9012681Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/microsoft.com/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%2766f84b67-9557-4be7-8810-717e2ac1bf76%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/microsoft.com/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['753305']
      ocp-aad-diagnostics-server-name: [9bvhc047LNGmGgjWm0bXQeffYRLPXWeRhbOjqc7zrJY=]
      ocp-aad-session-key: [24Jf7C0waBzb7CGQWfw_yzaTqWr9cnQkG0TsijtPtYFuv8jLnGwj7-QBYWpPl8HGUmjgagF_6DTqmlEtKJZEjc8J-mH4gf-xyIkW27AHY655QW4TWPSM2kyNzbLniBzMSl4L9HxiZkkhec3UlDCXFgV852cxEyUwfL-Q-8AYy-hm9do2Ppa7tPvN8NW2hPvCU9961s5n8eR1Viorj7CPZg.ityvnwmTzrnOpGxrrKzl7L4MGR6mGjlNnMt5N8B1mL8]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/microsoft.com/applications?$filter=appId%20eq%20%2766f84b67-9557-4be7-8810-717e2ac1bf76%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/microsoft.com/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"e4e3576c-a0ef-4240-9970-e246aab81242","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"66f84b67-9557-4be7-8810-717e2ac1bf76","appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","errorUrl":null,"groupMembershipClaims":null,"homepage":null,"identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/e4e3576c-a0ef-4240-9970-e246aab81242/Microsoft.DirectoryServices.Application/logo","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/e4e3576c-a0ef-4240-9970-e246aab81242/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"7501bdae-4c3a-4983-9ac2-f523b897267f","isEnabled":true,"type":"User","userConsentDescripti[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/microsoft.com/applications/e4e3576c-a0ef-4240-9970-e246aab81242?api-version=1.6
  response:
    body: {string: ''}
    headers:
      duration: ['2263058']
      ocp-aad-diagnostics-server-name: [gQeu+Y754+3kDu4QA7RgjkMWWhp/YZ9C1X+en6ttdVI=]
      ocp-aad-session-key: [3geyV0asz_aryWmYv42clUiyYKNj1d9KXPm9x3B1y-puksa2qnW_SpOFG2-StH4SkoFQVB0I-GP6pDJ13oLhS8E3fYo9r7B2nmbO8dWYAWu4EyChERkoMunKT-uTfC2CXWTlsATNtc-Ogt1LBM7cStQcxLMG_trw-Ome2PO1rlRbi1k75yDvSwjPA-lzTocYvHwEVVaZuffpdjCw2Sw_hA.iFghYxhOH59iMccxY0SWLSrrE0ACz1e6tF8jAcF9LE4]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001?api-version=2020-10-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUT1NBVTdLV1dIMy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2020-10-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
