interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-01-15T09:03:42Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-01-15T09:03:42Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "D13_v2", "tier": "Standard"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002?api-version=2018-09-07-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002","name":"test000002","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"West
        US","sku":{"name":"D13_v2","tier":"Standard"},"properties":{"state":"Creating","queryUri":null,"dataIngestionUri":null,"trustedExternalTenants":null,"virtualNetworkConfiguration":null,"provisioningState":"Creating"}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
          US/operationResults/4e9b1d51-6850-4517-84f1-987de8e9c204?api-version=2018-09-07-preview']
      content-type: [application/json; charset=utf-8]
      etag: ['""']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/4e9b1d51-6850-4517-84f1-987de8e9c204?api-version=2018-09-07-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationresults/4e9b1d51-6850-4517-84f1-987de8e9c204","name":"4e9b1d51-6850-4517-84f1-987de8e9c204","status":"Running","startTime":"2019-01-15T09:03:50.1852642Z","endTime":"2019-01-15T09:03:50.1852642Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreate","RootActivityId":"fd38cbd3-9e98-4c67-9874-922b728e3f57","provisioningState":"Running"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['297']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002?api-version=2018-09-07-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002","name":"test000002","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"West
        US","sku":{"name":"D13_v2","tier":"Standard","capacity":2},"tags":{},"properties":{"state":"Running","queryUri":"https://test000002.westus.kusto.windows.net","dataIngestionUri":"https://ingest-test000002.westus.kusto.windows.net","trustedExternalTenants":[],"virtualNetworkConfiguration":null,"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['""']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['299']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "West US", "properties": {"softDeletePeriodInDays": 10, "hotCachePeriodInDays":
      5}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003?api-version=2018-09-07-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002/Databases/testdb000003","name":"test000002/testdb000003","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"\"","location":"West
        US","properties":{"softDeletePeriodInDays":10,"hotCachePeriodInDays":5,"provisioningState":"Creating"}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
          US/operationResults/d3854f18-5cd8-43ea-96e1-b6c6a9354acf?api-version=2018-09-07-preview']
      content-type: [application/json; charset=utf-8]
      etag: ['""']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002/databases/testdb000003?api-version=2018-09-07-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002/Databases/testdb000003","name":"test000002/testdb000003","type":"Microsoft.Kusto/Clusters/Databases","etag":"\"v4.0\"","location":"West
        US","tags":{},"properties":{"softDeletePeriodInDays":10,"hotCachePeriodInDays":5,"statistics":{"size":0.0},"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"v4.0"']
      x-ms-ratelimit-remaining-subscription-resource-requests: ['299']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdDWU1ZTzNGNUkzR0dPUDVNWVgyS05CR0hGWVBSTk1WRjdOTnxBNTk1QTNEMTlBRUE3MzM3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
