interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1?api-version=2017-03-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1\"\
        ,\r\n  \"etag\": \"W/\\\"7970ce33-d6f0-4827-8577-c243c9e5fa7e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"0ca5fd75-5cd3-4ecb-aecb-268496ac0187\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"7970ce33-d6f0-4827-8577-c243c9e5fa7e\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/publicIPAddresses/publicip1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"\
        ,\r\n        \"etag\": \"W/\\\"7970ce33-d6f0-4827-8577-c243c9e5fa7e\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"7970ce33-d6f0-4827-8577-c243c9e5fa7e"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1",
      "etag": "W/\"7970ce33-d6f0-4827-8577-c243c9e5fa7e\"", "location": "westus",
      "properties": {"inboundNatRules": [], "resourceGuid": "0ca5fd75-5cd3-4ecb-aecb-268496ac0187",
      "frontendIPConfigurations": [{"etag": "W/\"7970ce33-d6f0-4827-8577-c243c9e5fa7e\"",
      "properties": {"privateIPAllocationMethod": "Dynamic", "provisioningState":
      "Succeeded", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/publicIPAddresses/publicip1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"},
      {"properties": {"privateIPAllocationMethod": "dynamic", "publicIPAddress": {"id":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/publicIPAddresses/publicip2"}},
      "name": "ipconfig1"}], "outboundNatRules": [], "loadBalancingRules": [], "inboundNatPools":
      [], "backendAddressPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "etag": "W/\"7970ce33-d6f0-4827-8577-c243c9e5fa7e\"", "name": "lb1bepool", "properties":
      {"provisioningState": "Succeeded"}}], "provisioningState": "Succeeded", "probes":
      []}, "tags": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://manag[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/326c328d-a1af-4711-9f14-16e5165daa45?api-version=2017-03-01
  response:
    body: {string: !!python/unicode "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb2?api-version=2017-03-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"lb2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb2\"\
        ,\r\n  \"etag\": \"W/\\\"da7a8b8c-d902-41e0-9e63-b809d37557d2\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"c7bda57d-976b-49a7-bad6-7117dec543e9\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb2/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"da7a8b8c-d902-41e0-9e63-b809d37557d2\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"lb2bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_ip_config/providers/Microsoft.Network/loadBalancers/lb2/backendAddressPools/lb2bepool\"\
        ,\r\n        \"etag\": \"W/\\\"da7a8b8c-d902-41e0-9e63-b809d37557d2\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"da7a8b8c-d902-41e0-9e63-b809d37557d2"]
    status: {code: 200, message: OK}
[...]
