interactions:
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateVnet_2016-12-9/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"subnetName": {"value": "vrfsubnet"},
      "virtualNetworkPrefix": {"value": "10.0.0.0/16"}, "virtualNetworkName": {"value":
      "vrfvnet"}, "createSubnet": {"value": true}, "subnetPrefix": {"value": "10.0.0.0/24"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/azurecli1483479634.5355737","name":"azurecli1483479634.5355737","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateVnet_2016-12-9/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"createSubnet":{"type":"Bool","value":true},"dnsServers":{"type":"Array","value":[]},"location":{"type":"String","value":"westus"},"subnetName":{"type":"String","value":"vrfsubnet"},"subnetPrefix":{"type":"String","value":"10.0.0.0/24"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":"vrfvnet"},"virtualNetworkPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-01-03T21:40:36.0105859Z","duration":"PT0.6463215S","correlationId":"a8be27ad-d901-4068-bdf0-b83622e4b8a9","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/azurecli1483479634.5355737/operationStatuses/08587181272501133942?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587181272501133942?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/azurecli1483479634.5355737","name":"azurecli1483479634.5355737","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateVnet_2016-12-9/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"createSubnet":{"type":"Bool","value":true},"dnsServers":{"type":"Array","value":[]},"location":{"type":"String","value":"westus"},"subnetName":{"type":"String","value":"vrfsubnet"},"subnetPrefix":{"type":"String","value":"10.0.0.0/24"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":"vrfvnet"},"virtualNetworkPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-01-03T21:40:50.946496Z","duration":"PT15.5822316S","correlationId":"a8be27ad-d901-4068-bdf0-b83622e4b8a9","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]}]}],"dependencies":[],"outputs":{"newVNet":{"type":"Object","value":{"provisioningState":"Succeeded","resourceGuid":"738aaf36-7fbd-41f8-98c0-e8f0fed44d71","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"dhcpOptions":{"dnsServers":[]},"subnets":[{"name":"vrfsubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/virtualNetworks/vrfvnet/subnets/vrfsubnet","etag":"W/\"1ebabcc7-6a01-48dc-9c03-025d5c56729c\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24"}}]}}},"outputResources":[{"id":"Microsoft.Network/virtualNetworks/vrfvnet"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27scaleset_create_existing_options_rg2%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"publicIpAddressAllocation": {"value":
      "dynamic"}, "_artifactsLocation": {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},
      "loadBalancerName": {"value": "vrflb"}, "frontendIpName": {"value": "LoadBalancerFrontEnd"},
      "subnetAddressPrefix": {"value": "10.0.0.0/24"}, "publicIpAddressType": {"value":
      "new"}, "subnetType": {"value": "none"}, "dnsNameType": {"value": "none"}, "backendPoolName":
      {"value": "mybepool"}, "privateIpAddressAllocation": {"value": "dynamic"}, "vnetAddressPrefix":
      {"value": "10.0.0.0/16"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/azurecli1483479667.9512042","name":"azurecli1483479667.9512042","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},"backendPoolName":{"type":"String","value":"mybepool"},"dnsNameType":{"type":"String","value":"none"},"frontendIpName":{"type":"String","value":"LoadBalancerFrontEnd"},"loadBalancerName":{"type":"String","value":"vrflb"},"location":{"type":"String","value":"westus"},"privateIpAddress":{"type":"String","value":""},"privateIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddress":{"type":"String","value":"PublicIPvrflb"},"publicIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddressType":{"type":"String","value":"new"},"publicIpDnsName":{"type":"String","value":""},"subnet":{"type":"String","value":""},"subnetAddressPrefix":{"type":"String","value":"10.0.0.0/24"},"subnetType":{"type":"String","value":"none"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":""},"vnetAddressPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-01-03T21:41:09.9465008Z","duration":"PT0.5892727S","correlationId":"e2ceaa68-306a-4b5e-b46b-e3797da349ac","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/IPvrflb","resourceType":"Microsoft.Resources/deployments","resourceName":"IPvrflb"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/Subnetvrflb","resourceType":"Microsoft.Resources/deployments","resourceName":"Subnetvrflb"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/loadBalancers/vrflb","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vrflb"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/azurecli1483479667.9512042/operationStatuses/08587181272161204734?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: !!python/unicode "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        metadata\":{\n        \"description\":\"This list of aliases is used by Azure\
        \ XPLAT CLI, Azure Powershell, and Azure Portal as shorthands for commonly\
        \ used VM images. If you change this file, please verify that this doesn't\
        \ break VMSS creation from Portal :).\"\n      },\n      \"type\":\"object\"\
        ,\n      \"value\":{\n\n        \"Linux\":{\n          \"CentOS\":{\n    \
        \        \"publisher\":\"OpenLogic\",\n            \"offer\":\"CentOS\",\n\
        \            \"sku\":\"7.2\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\",\n \
        \           \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n     \
        \       \"version\":\"latest\"\n          },\n          \"Debian\":{\n   \
        \         \"publisher\":\"credativ\",\n            \"offer\":\"Debian\",\n\
        \            \"sku\":\"8\",\n            \"version\":\"latest\"\n        \
        \  },\n          \"openSUSE\":{\n            \"publisher\":\"SUSE\",\n   \
        \         \"offer\":\"openSUSE\",\n            \"sku\":\"13.2\",\n       \
        \     \"version\":\"latest\"\n          },\n          \"RHEL\":{\n       \
        \     \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n       \
        \     \"sku\":\"7.2\",\n            \"version\":\"latest\"\n          },\n\
        \          \"SLES\":{\n            \"publisher\":\"SUSE\",\n            \"\
        offer\":\"SLES\",\n            \"sku\":\"12-SP1\",\n            \"version\"\
        :\"latest\"\n          },\n          \"UbuntuLTS\":{\n            \"publisher\"\
        :\"Canonical\",\n            \"offer\":\"UbuntuServer\",\n            \"sku\"\
        :\"14.04.4-LTS\",\n            \"version\":\"latest\"\n          }\n     \
        \   },\n\n        \"Windows\":{\n          \"Win2012R2Datacenter\":{\n   \
        \         \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\"\
        :\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n       \
        \     \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"db78eb36618a060181b32ac2de91b1733f382e01"']
      source-age: ['0']
      x-fastly-request-id: [595e2175210a6e5272e310c6da128eb10b9d9bb4]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2016-06-01
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastasia","name":"eastasia","displayName":"East
        Asia","longitude":"114.188","latitude":"22.267"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southeastasia","name":"southeastasia","displayName":"Southeast
        Asia","longitude":"103.833","latitude":"1.283"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/centralus","name":"centralus","displayName":"Central
        US","longitude":"-93.6208","latitude":"41.5908"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus","name":"eastus","displayName":"East
        US[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27scaleset_create_existing_options_rg2%27%20and%20name%20eq%20%27vrflb%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FloadBalancers%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/loadBalancers/vrflb","name":"vrflb","type":"Microsoft.Network/loadBalancers","location":"westus","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27scaleset_create_existing_options_rg2%27%20and%20name%20eq%20%27vrfvnet%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/virtualNetworks/vrfvnet","name":"vrfvnet","type":"Microsoft.Network/virtualNetworks","location":"westus","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateVmss_2016-09-20/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"osSKU": {"value": "7.2"}, "publicIpAddressAllocation":
      {"value": "dynamic"}, "instanceCount": {"value": 2}, "authenticationType": {"value":
      "ssh"}, "osDiskType": {"value": "provided"}, "storageType": {"value": "Standard_LRS"},
      "dnsNameType": {"value": "none"}, "subnetIpAddressPrefix": {"value": "10.0.0.0/24"},
      "upgradePolicyMode": {"value": "manual"}, "adminUsername": {"value": "trpresco"},
      "loadBalancerBackendPoolName": {"value": "mybepool"}, "vmSku": {"value": "Standard_A3"},
      "natBackendPort": {"value": 22}, "_artifactsLocation": {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreateVmss_2016-09-20"},
      "osType": {"value": "Custom"}, "sshKeyValue": {"value": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}, "virtualNetworkType": {"value": "existingId"}, "osVersion":
      {"value": "latest"}, "customOsDiskType": {"value": "windows"}, "loadBalancer":
      {"value": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/loadBalancers/vrflb"},
      "virtualNetworkIpAddressPrefix": {"value": "10.0.0.0/16"}, "name": {"value":
      "vrfvmss"}, "loadBalancerNatPoolName": {"value": "mynatpool"}, "storageCaching":
      {"value": "ReadOnly"}, "storageContainerName": {"value": "vrfcontainer"}, "loadBalancerType":
      {"value": "existingId"}, "osOffer": {"value": "CentOS"}, "location": {"value":
      "westus"}, "subnetName": {"value": "vrfsubnet"}, "virtualNetwork": {"value":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/virtualNetworks/vrfvnet"},
      "osDiskName": {"value": "vrfosdisk"}, "osPublisher": {"value": "OpenLogic"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Resources/deployments/azurecli1483479702.9946847","name":"azurecli1483479702.9946847","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateVmss_2016-09-20/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreateVmss_2016-09-20"},"adminPassword":{"type":"SecureString"},"adminUsername":{"type":"String","value":"trpresco"},"authenticationType":{"type":"String","value":"ssh"},"customOsDiskType":{"type":"String","value":"windows"},"customOsDiskUri":{"type":"String","value":""},"dnsNameForPublicIP":{"type":"String","value":""},"dnsNameType":{"type":"String","value":"none"},"instanceCount":{"type":"Int","value":2},"loadBalancer":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/loadBalancers/vrflb"},"loadBalancerBackendPoolName":{"type":"String","value":"mybepool"},"loadBalancerNatPoolName":{"type":"String","value":"mynatpool"},"loadBalancerType":{"type":"String","value":"existingId"},"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"vrfvmss"},"natBackendPort":{"type":"Int","value":22},"osDiskName":{"type":"String","value":"vrfosdisk"},"osDiskType":{"type":"String","value":"provided"},"osOffer":{"type":"String","value":"CentOS"},"osPublisher":{"type":"String","value":"OpenLogic"},"osSKU":{"type":"String","value":"7.2"},"osType":{"type":"String","value":"Custom"},"osVersion":{"type":"String","value":"latest"},"overprovision":{"type":"Bool","value":true},"publicIpAddress":{"type":"String","value":"vrfvmssPublicIP"},"publicIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddressType":{"type":"String","value":"new"},"sshDestKeyPath":{"type":"String","value":"/home/trpresco/.ssh/authorized_keys"},"sshKeyValue":{"type":"String","value":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBx[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Compute/virtualMachineScaleSets/vrfvmss?api-version=2016-03-30
  response:
    body: {string: !!python/unicode "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A3\"\
        ,\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\n\
        \    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"\
        computerNamePrefix\": \"vrfvmsszf\",\r\n        \"adminUsername\": \"trpresco\"\
        ,\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : true,\r\n          \"ssh\": {\r\n            \"publicKeys\": [\r\n     \
        \         {\r\n                \"path\": \"/home/trpresco/.ssh/authorized_keys\"\
        ,\r\n                \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\r\n              }\r\n            ]\r\n          }\r\
        \n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"vhdContainers\": [\r\n       \
        \     \"https://sndp23y75j4gevrfvmsszfsa.blob.core.windows.net/vrfcontainer\"\
        ,\r\n            \"https://uhfbubr6c6kiavrfvmsszfsa.blob.core.windows.net/vrfcontainer\"\
        ,\r\n            \"https://dvbcx2lgegnokvrfvmsszfsa.blob.core.windows.net/vrfcontainer\"\
        ,\r\n            \"https://uskyyw4o5l3cyvrfvmsszfsa.blob.core.windows.net/vrfcontainer\"\
        ,\r\n            \"https://3tcd4tf2jmhnwvrfvmsszfsa.blob.core.windows.net/vrfcontainer\"\
        \r\n          ],\r\n          \"name\": \"vrfosdisk\",\r\n          \"createOption\"\
        : \"FromImage\",\r\n          \"caching\": \"ReadOnly\"\r\n        },\r\n\
        \        \"imageReference\": {\r\n          \"publisher\": \"OpenLogic\",\r\
        \n          \"offer\": \"CentOS\",\r\n          \"sku\": \"7.2\",\r\n    \
        \      \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\"\
        : {\"networkInterfaceConfigurations\":[{\"name\":\"vrfvmsszfnic\",\"properties\"\
        :{\"primary\":true,\"ipConfigurations\":[{\"name\":\"vrfvmsszfipconfig\",\"\
        properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/virtualNetworks/vrfvnet/subnets/vrfsubnet\"\
        },\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/loadBalancers/vrflb/backendAddressPools/mybepool\"\
        }]}}]}}]}\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        overprovision\": true,\r\n    \"uniqueId\": \"49dc5def-019b-49cb-ac6a-569607167fc0\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Compute/virtualMachineScaleSets/vrfvmss\"\
        ,\r\n  \"name\": \"vrfvmss\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/loadBalancers/vrflb?api-version=2016-09-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"vrflb\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/loadBalancers/vrflb\"\
        ,\r\n  \"etag\": \"W/\\\"4ec9794c-1342-4f58-bfcc-afd13d556312\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"3c592b23-6581-4a02-ae30-a306da45ac49\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/loadBalancers/vrflb/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"4ec9794c-1342-4f58-bfcc-afd13d556312\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/publicIPAddresses/PublicIPvrflb\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"mybepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Network/loadBalancers/vrflb/backendAddressPools/mybepool\"\
        ,\r\n        \"etag\": \"W/\\\"4ec9794c-1342-4f58-bfcc-afd13d556312\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"backendIPConfigurations\": [\r\n            {\r\n       \
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Compute/virtualMachineScaleSets/vrfvmss/virtualMachines/0/networkInterfaces/vrfvmsszfnic/ipConfigurations/vrfvmsszfipconfig\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Compute/virtualMachineScaleSets/vrfvmss/virtualMachines/1/networkInterfaces/vrfvmsszfnic/ipConfigurations/vrfvmsszfipconfig\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Compute/virtualMachineScaleSets/vrfvmss/virtualMachines/2/networkInterfaces/vrfvmsszfnic/ipConfigurations/vrfvmsszfipconfig\"\
        \r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scaleset_create_existing_options_rg2/providers/Microsoft.Compute/virtualMachineScaleSets/vrfvmss/virtualMachines/3/networkInterfaces/vrfvmsszfnic/ipConfigurations/vrfvmsszfipconfig\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\"\
        : [],\r\n    \"outboundNatRules\": [],\r\n    \"inboundNatPools\": []\r\n\
        \  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4ec9794c-1342-4f58-bfcc-afd13d556312"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
[...]
