interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/publicIPAddresses?api-version=2016-09-01
  response:
    body: {string: '{"value":[{"name":"PublicIPvrflb","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_options_hqs8_/providers/Microsoft.Network/publicIPAddresses/PublicIPvrflb","etag":"W/\"a8cd2e8e-dcce-4dae-bce4-1b453a38ecff\"","type":"Microsoft.Network/publicIPAddresses","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"9fefd544-bebf-4cad-a06a-ff89e3b22e1f","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_existing_options_hqs8_/providers/Microsoft.Network/loadBalancers/vrflb/frontendIPConfigurations/LoadBalancerFrontEnd"}}},{"name":"basica01PublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/debekoe-a4/providers/Microsoft.Network/publicIPAddresses/basica01PublicIP","etag":"W/\"f8ae08f7-c944-489c-ab3c-707c4cfc2953\"","type":"Microsoft.Network/publicIPAddresses","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"3bd4e2d0-b853-41ea-9025-da9cd2c86b85","ipAddress":"104.40.2.165","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/debekoe-a4/providers/Microsoft.Network/networkInterfaces/basica01VMNic/ipConfigurations/ipconfigbasica01"}}},{"name":"basica0PublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/debekoe-a4/providers/Microsoft.Network/publicIPAddresses/basica0PublicIP","etag":"W/\"6016d[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2016-09-01
  response:
    body: {string: '{"value":[{"name":"basica01VMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/debekoe-a4/providers/Microsoft.Network/networkInterfaces/basica01VMNic","etag":"W/\"703df84e-5116-4e13-a909-f96175112b63\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"70dc51d3-a1df-451f-8c96-1db875e8853a","ipConfigurations":[{"name":"ipconfigbasica01","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/debekoe-a4/providers/Microsoft.Network/networkInterfaces/basica01VMNic/ipConfigurations/ipconfigbasica01","etag":"W/\"703df84e-5116-4e13-a909-f96175112b63\"","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.5","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/debekoe-a4/providers/Microsoft.Network/publicIPAddresses/basica01PublicIP"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/debekoe-a4/providers/Microsoft.Network/virtualNetworks/basica0VNET/subnets/basica0Subnet"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"pfp4lc1vfohelkea43gpafi04f.dx.internal.cloudapp.net"},"macAddress":"00-0D-3A-35-5F-C3","enableAcceleratedNetworking":false,"enableIPForwarding":false,"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/debekoe-a4/providers/Microsoft.Network/networkSecurityGroups/basica01NSG"},"primary":true,"virtualMachine":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/debekoe-a4/providers/Microsoft.Compute/virtualMachines/basica01"}},"type":"Microsoft.Network/networkInterfaces"},{"name":"basica0VMNic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/debekoe-a4/providers/Microsoft.Network/networkInterfaces/basica0VMNic","etag":"W/\"281f8b3d-4d71-4af5-9739-6bff86f2a4a1\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"88[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Storage/storageAccounts?api-version=2016-12-01
  response:
    body: {string: '{"value":[]}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/virtualNetworks?api-version=2016-09-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"outputs": {}, "contentVersion": "1.0.0.0",
      "variables": {}, "parameters": {}, "resources": [{"apiVersion": "2015-06-15",
      "tags": {}, "dependsOn": [], "properties": {"accountType": "Standard_LRS"},
      "name": "vhdstoragee1lbv0p1i35ga6", "type": "Microsoft.Storage/storageAccounts",
      "location": "westus"}, {"apiVersion": "2015-06-15", "location": "westus", "dependsOn":
      [], "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "vm-with-public-ipSubnet"}]},
      "name": "vm-with-public-ipVNET", "type": "Microsoft.Network/virtualNetworks",
      "tags": {}}, {"apiVersion": "2015-06-15", "tags": {}, "dependsOn": [], "properties":
      {"securityRules": [{"properties": {"destinationAddressPrefix": "*", "sourceAddressPrefix":
      "*", "access": "Allow", "sourcePortRange": "*", "priority": 1000, "direction":
      "Inbound", "protocol": "Tcp", "destinationPortRange": "22"}, "name": "default-allow-ssh"}]},
      "name": "vm-with-public-ipNSG", "type": "Microsoft.Network/networkSecurityGroups",
      "location": "westus"}, {"apiVersion": "2015-06-15", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "dynamic"}, "name": "vm-with-public-ipPublicIP",
      "type": "Microsoft.Network/publicIPAddresses", "location": "westus"}, {"apiVersion":
      "2015-06-15", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm-with-public[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587157833077547967?api-version=2016-09-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_list_ip/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Resources/deployments/vm_deploy_PN9bTWwEwGqO67Ncl6oPUQPHYGW16IBC","name":"vm_deploy_PN9bTWwEwGqO67Ncl6oPUQPHYGW16IBC","properties":{"parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-01-31T00:48:08.6352519Z","duration":"PT1M50.912383S","correlationId":"fcd93fb7-bae7-436b-ab9a-aff8bcfd7a10","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/virtualNetworks/vm-with-public-ipVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-with-public-ipVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkSecurityGroups/vm-with-public-ipNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-with-public-ipNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/publicIpAddresses/vm-with-public-ipPublicIP","resourceType":"Microsoft.Network/publicIpAddr[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip?$expand=instanceView&api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"24c8c03a-2403-4bff-bc49-eb31959c83c6\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1\"\r\n\
        \    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n  \
        \      \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"14.04.4-LTS\",\r\n        \"version\": \"latest\"\r\
        \n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n  \
        \      \"name\": \"osdisk_Dkiq4YEBoY\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n\
        \          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/disks/osdisk_Dkiq4YEBoY\"\
        \r\n        }\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"vm-with-public-ip\",\r\n      \"adminUsername\"\
        : \"ubuntu\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"WALinuxAgent-2.0.16\"\
        ,\r\n        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"GuestAgent is running and accepting\
        \ new configurations.\",\r\n            \"time\": \"2017-01-31T00:48:06+00:00\"\
        \r\n          }\r\n        ],\r\n        \"extensionHandlers\": []\r\n   \
        \   },\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2017-01-31T00:48:05.7895104+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip\"\
        ,\r\n  \"name\": \"vm-with-public-ip\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"name\": \"vm-with-public-ipVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"name\": \"vm-with-public-ipPublicIP\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/publicIPAddresses/vm-with-public-ipPublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"651c1cb6-62af-48b2-95db-55ce110cf869\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"4a741d05-1f17-4c99-9de0-1a6bf01d56c2\"\
        ,\r\n    \"ipAddress\": \"104.42.119.33\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic/ipConfigurations/ipconfigvm-with-public-ip\"\
        \r\n    }\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"651c1cb6-62af-48b2-95db-55ce110cf869"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n  \
        \      \"vmId\": \"24c8c03a-2403-4bff-bc49-eb31959c83c6\",\r\n        \"hardwareProfile\"\
        : {\r\n          \"vmSize\": \"Standard_DS1\"\r\n        },\r\n        \"\
        storageProfile\": {\r\n          \"imageReference\": {\r\n            \"publisher\"\
        : \"Canonical\",\r\n            \"offer\": \"UbuntuServer\",\r\n         \
        \   \"sku\": \"14.04.4-LTS\",\r\n            \"version\": \"latest\"\r\n \
        \         },\r\n          \"osDisk\": {\r\n            \"osType\": \"Linux\"\
        ,\r\n            \"name\": \"osdisk_Dkiq4YEBoY\",\r\n            \"createOption\"\
        : \"FromImage\",\r\n            \"caching\": \"ReadWrite\",\r\n          \
        \  \"managedDisk\": {\r\n              \"storageAccountType\": \"Standard_LRS\"\
        ,\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/disks/osdisk_Dkiq4YEBoY\"\
        \r\n            }\r\n          },\r\n          \"dataDisks\": []\r\n     \
        \   },\r\n        \"osProfile\": {\r\n          \"computerName\": \"vm-with-public-ip\"\
        ,\r\n          \"adminUsername\": \"ubuntu\",\r\n          \"linuxConfiguration\"\
        : {\r\n            \"disablePasswordAuthentication\": false\r\n          },\r\
        \n          \"secrets\": []\r\n        },\r\n        \"networkProfile\": {\"\
        networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Network/networkInterfaces/vm-with-public-ipVMNic\"\
        }]},\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n     \
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n      \"location\":\
        \ \"westus\",\r\n      \"tags\": {},\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip\"\
        ,\r\n      \"name\": \"vm-with-public-ip\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_list_ip/providers/Microsoft.Compute/virtualMachines/vm-with-public-ip/vmSizes?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_A0\"\
        ,\r\n      \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 20480,\r\n      \"memoryInMB\": 768,\r\n\
        \      \"maxDataDiskCount\": 1\r\n    },\r\n    {\r\n      \"name\": \"Standard_A1\"\
        ,\r\n      \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 71680,\r\n      \"memoryInMB\": 1792,\r\n\
        \      \"maxDataDiskCount\": 2\r\n    },\r\n    {\r\n      \"name\": \"Standard_A2\"\
        ,\r\n      \"numberOfCores\": 2,\r\n      \"osDiskSizeInMB\": 1047552,\r\n\
        \      \"resourceDiskSizeInMB\": 138240,\r\n      \"memoryInMB\": 3584,\r\n\
        \  [...]
[...]
