interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_ip?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip","name":"cli_test_vm_custom_ip","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        metadata\":{\n        \"description\":\"This list of aliases is used by Azure\
        \ XPLAT CLI, Azure Powershell, and Azure Portal as shorthands for commonly\
        \ used VM images. If you change this file, please verify that this doesn't\
        \ break VMSS creation from Portal :).\"\n      },\n      \"type\":\"object\"\
        ,\n      \"value\":{\n\n        \"Linux\":{\n          \"CentOS\":{\n    \
        \        \"publisher\":\"OpenLogic\",\n            \"offer\":\"CentOS\",\n\
        \            \"sku\":\"7.2\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\",\n \
        \           \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n     \
        \       \"version\":\"latest\"\n          },\n          \"Debian\":{\n   \
        \         \"publisher\":\"credativ\",\n            \"offer\":\"Debian\",\n\
        \            \"sku\":\"8\",\n            \"version\":\"latest\"\n        \
        \  },\n          \"openSUSE\":{\n            \"publisher\":\"SUSE\",\n   \
        \         \"offer\":\"openSUSE\",\n            \"sku\":\"13.2\",\n       \
        \     \"version\":\"latest\"\n          },\n          \"RHEL\":{\n       \
        \     \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n       \
        \     \"sku\":\"7.2\",\n            \"version\":\"latest\"\n          },\n\
        \          \"SLES\":{\n            \"publisher\":\"SUSE\",\n            \"\
        offer\":\"SLES\",\n            \"sku\":\"12-SP1\",\n            \"version\"\
        :\"latest\"\n          },\n          \"UbuntuLTS\":{\n            \"publisher\"\
        :\"Canonical\",\n            \"offer\":\"UbuntuServer\",\n            \"sku\"\
        :\"14.04.4-LTS\",\n            \"version\":\"latest\"\n          }\n     \
        \   },\n\n        \"Windows\":{\n          \"Win2012R2Datacenter\":{\n   \
        \         \"publisher\":\"MicrosoftWindowsServer\",\n            \"offer\"\
        :\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n       \
        \     \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"db78eb36618a060181b32ac2de91b1733f382e01"']
      Source-Age: ['31']
      X-Fastly-Request-ID: [273298926c6e46bf9a9f2a4689df9321f94d17ad]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Storage/storageAccounts?api-version=2016-12-01
  response:
    body: {string: '{"value":[]}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/virtualNetworks?api-version=2016-09-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"parameters": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "contentVersion": "1.0.0.0", "resources": [{"name": "vhdstoragedmvij5g7eof5np",
      "dependsOn": [], "location": "westus", "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2015-06-15", "properties": {"accountType": "Premium_LRS"}, "tags":
      {}}, {"name": "vrfvmzVNET", "dependsOn": [], "location": "westus", "type": "Microsoft.Network/virtualNetworks",
      "apiVersion": "2015-06-15", "properties": {"subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "vrfvmzSubnet"}], "addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}, "tags": {}}, {"name": "vrfvmzNSG", "dependsOn": [], "location":
      "westus", "type": "Microsoft.Network/networkSecurityGroups", "apiVersion": "2015-06-15",
      "properties": {"securityRules": [{"properties": {"destinationPortRange": "22",
      "priority": 1000, "access": "Allow", "protocol": "Tcp", "sourceAddressPrefix":
      "*", "sourcePortRange": "*", "direction": "Inbound", "destinationAddressPrefix":
      "*"}, "name": "default-allow-ssh"}]}, "tags": {}}, {"name": "vrfvmzPublicIP",
      "dependsOn": [], "location": "westus", "type": "Microsoft.Network/publicIPAddresses",
      "apiVersion": "2015-06-15", "properties": {"publicIPAllocationMethod": "static",
      "dnsSettings": {"domainNameLabel": "vrfmyvm00110011z"}}, "tags": {}}, {"name":
      "vrfvmzVMNic", "dependsOn": ["Microsoft.Network/virtualNetworks/vrfvmzVNET",
      "Microsoft.Network/networkSecurityGroups/vrfvmzNSG", "Microsoft.Network/publicIpAddresses/vrfvmzPublicIP"],
      "location": "westus", "type": "Microsoft.Network/networkInterfaces", "apiVersion":
      "2015-06-15", "properties": {"networkSecurityGroup": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/networkSecurityGroups/vrfvmzNSG"},
      "ipConfigurations": [{"properties": {"privateIPAddress": "10.0.0.5", "privateIPAllocationMethod":
      "Static", "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/virtualNetworks/vrfvmzVNET/subnets/vrfvmzSubnet"},
      "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/publicIPAddresses/vrfvmzPublicIP"}},
      "name": "ipconfigvrfvmz"}]}, "tags": {}}, {"name": "vrfvmz", "dependsOn": ["Microsoft.Storage/storageAccounts/vhdstoragedmvij5g7eof5np",
      "Microsoft.Network/networkInterfaces/vrfvmzVMNic"], "location": "westus", "type":
      "Microsoft.Compute/virtualMachines", "apiVersion": "2015-06-15", "properties":
      {"osProfile": {"linuxConfiguration": {"disablePasswordAuthentication": true,
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n", "path": "/home/trpresco/.ssh/authorized_keys"}]}}, "computerName":
      "vrfvmz", "adminUsername": "trpresco"}, "networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic"}]},
      "hardwareProfile": {"vmSize": "Standard_DS1"}, "storageProfile": {"osDisk":
      {"vhd": {"uri": "https://vhdstoragedmvij5g7eof5np.blob.core.windows.net/vhds/osdisk_sC6nEifyqx.vhd"},
      "caching": "ReadWrite", "name": "osdisk_sC6nEifyqx", "createOption": "fromImage"},
      "imageReference": {"version": "latest", "offer": "openSUSE", "sku": "13.2",
      "publisher": "SUSE"}}}, "tags": {}}], "outputs": {}}, "parameters": {}, "mode":
      "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_ip/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Resources/deployments/vm_deploy_HtatpdrbnjuNJCtIjqVGCg16TYcsP8S0","name":"vm_deploy_HtatpdrbnjuNJCtIjqVGCg16TYcsP8S0","properties":{"parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-01-25T23:19:17.9500844Z","duration":"PT0.1816618S","correlationId":"cc3cd3ca-ab4c-4952-bc08-6b6e75fc13e4","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/virtualNetworks/vrfvmzVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vrfvmzVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/networkSecurityGroups/vrfvmzNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vrfvmzNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/publicIpAddresses/vrfvmzPublicIP","resourceType":"Microsoft.Network/publicIpAddresses","resourceName":"vrfvmzPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vrfvmzVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Storage/storageAccounts/vhdstoragedmvij5g7eof5np","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"vhdstoragedmvij5g7eof5np"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vrfvmzVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Compute/virtualMachines/vrfvmz","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vrfvmz"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_vm_custom_ip/providers/Microsoft.Resources/deployments/vm_deploy_HtatpdrbnjuNJCtIjqVGCg16TYcsP8S0/operationStatuses/08587162205277092451?api-version=2016-09-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_ip/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587162205277092451?api-version=2016-09-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_ip/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Resources/deployments/vm_deploy_Htat[...]
- request:
    body: '{"properties": {"template": {"parameters": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "contentVersion": "1.0.0.0", "resources": [], "outputs": {"macAddress":
      {"type": "string", "value": "[reference(resourceId(''Microsoft.Network/networkInterfaces'',
      ''vrfvmzVMNic''),providers(''Microsoft.Network'', ''networkInterfaces'').apiVersions[0]).macAddress]"},
      "publicIpAddress": {"type": "string", "value": "[reference(resourceId(''Microsoft.Network/publicIPAddresses'',
      ''vrfvmzPublicIP''),providers(''Microsoft.Network'', ''publicIPAddresses'').apiVersions[0]).ipAddress]"},
      "privateIpAddress": {"type": "string", "value": "[reference(resourceId(''Microsoft.Network/networkInterfaces'',
      ''vrfvmzVMNic''),providers(''Microsoft.Network'', ''networkInterfaces'').apiVersions[0]).ipConfigurations[0].properties.privateIPAddress]"},
      "fqdn": {"type": "string", "value": "[reference(resourceId(''Microsoft.Network/publicIpAddresses'',
      ''vrfvmzPublicIP''),providers(''Microsoft.Network'', ''publicIpAddresses'').apiVersions[0]).dnsSettings.fqdn]"},
      "id": {"type": "string", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachines'',
      ''vrfvmz''),providers(''Microsoft.Compute'', ''virtualMachines'').apiVersions[0]).vmId]"}}},
      "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type: [appl[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_ip/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Resources/deployments/vm_vrfvmz_output_RMpWwdAV","name":"vm_vrfvmz_output_RMpWwdAV","properties":{"parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-01-25T23:24:40.6540853Z","duration":"PT6.9445826S","correlationId":"147dc4c9-5536-410d-9c29-30263a85a5ac","providers":[],"dependencies":[],"outputs":{"macAddress":{"type":"String","value":"00-0D-3A-36-31-0E"},"publicIpAddress":{"type":"String","value":"104.42.54.230"},"privateIpAddress":{"type":"String","value":"10.0.0.5"},"fqdn":{"type":"String","value":"vrfmyvm00110011z.westus.cloudapp.azure.com"},"id":{"type":"String","value":"1b4c3287-5e30-4433-aa9b-00d0c2f97b35"}},"outputResources":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/publicIPAddresses/vrfvmzPublicIP?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"name\": \"vrfvmzPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/publicIPAddresses/vrfvmzPublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"44354189-8794-4625-b7f6-c5947db819ff\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"60faeeb9-a535-4877-8dc2-ae24a58521fe\"\
        ,\r\n    \"ipAddress\": \"104.42.54.230\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"vrfmyvm00110011z\"\
        ,\r\n      \"fqdn\": \"vrfmyvm00110011z.westus.cloudapp.azure.com\"\r\n  \
        \  },\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic/ipConfigurations/ipconfigvrfvmz\"\
        \r\n    }\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"44354189-8794-4625-b7f6-c5947db819ff"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Microsoft.Network/networkInterfaces/vrfvmzVMNic?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"name\": \"vrfvmzVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_ip/providers/Micr[...]
