interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Compute/virtualMachines/myvm?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"7e2c2849-d17b-4d13-b276-29ceecaf637a\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1\"\r\n\
        \    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n  \
        \      \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"14.04.4-LTS\",\r\n        \"version\": \"latest\"\r\
        \n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n  \
        \      \"name\": \"osdisk_65aQEusGTP\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"vhd\": {\r\n          \"uri\": \"https://vhdstoraged8ds5kbx09m7hs.blob.core.windows.net/vhds/osdisk_65aQEusGTP.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"myvm\",\r\n      \"adminUsername\": \"trpresco\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Network/networkInterfaces/myvmVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Compute/virtualMachines/myvm\"\
        ,\r\n  \"name\": \"myvm\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2016-12-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangw/providers/Microsoft.Storage/storageAccounts/00ngkjvhv4ur55magntpri0","kind":"Storage","location":"westus","name":"00ngkjvhv4ur55magntpri0","properties":{"creationTime":"2017-01-20T21:55:23.4208075Z","primaryEndpoints":{"blob":"https://00ngkjvhv4ur55magntpri0.blob.core.windows.net/","file":"https://00ngkjvhv4ur55magntpri0.file.core.windows.net/","queue":"https://00ngkjvhv4ur55magntpri0.queue.core.windows.net/","table":"https://00ngkjvhv4ur55magntpri0.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangw/providers/Microsoft.Storage/storageAccounts/60ngkjvhv4ur55magntpri1","kind":"Storage","location":"westus","name":"60ngkjvhv4ur55magntpri1","properties":{"creationTime":"2017-01-20T21:55:23.6508271Z","primaryEndpoints":{"blob":"https://60ngkjvhv4ur55magntpri1.blob.core.windows.net/","file":"https://60ngkjvhv4ur55magntpri1.file.core.windows.net/","queue":"https://60ngkjv[...]
- request:
    body: '{"tags": {}, "location": "westus", "properties": {"networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Network/networkInterfaces/myvmVMNic"}]},
      "osProfile": {"secrets": [], "linuxConfiguration": {"disablePasswordAuthentication":
      false}, "computerName": "myvm", "adminUsername": "trpresco"}, "diagnosticsProfile":
      {"bootDiagnostics": {"enabled": true, "storageUri": "https://ae94nvfl1k1.blob.core.windows.net/"}},
      "hardwareProfile": {"vmSize": "Standard_DS1"}, "storageProfile": {"dataDisks":
      [], "osDisk": {"vhd": {"uri": "https://vhdstoraged8ds5kbx09m7hs.blob.core.windows.net/vhds/osdisk_65aQEusGTP.vhd"},
      "caching": "ReadWrite", "name": "osdisk_65aQEusGTP", "osType": "Linux", "createOption":
      "fromImage"}, "imageReference": {"publisher": "Canonical", "sku": "14.04.4-LTS",
      "offer": "UbuntuServer", "version": "latest"}}}}'
    hea[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/85a575cb-3c6d-40d4-94bd-c39149215d16?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-01-25T23:22:36.5408723+00:00\",\r\
        \n  \"endTime\": \"2017-01-25T23:23:07.0820059+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"85a575cb-3c6d-40d4-94bd-c39149215d16\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"tags": {}, "location": "westus", "properties": {"networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_diagnostics/providers/Microsoft.Network/networkInterfaces/myvmVMNic"}]},
      "osProfile": {"secrets": [], "linuxConfiguration": {"disablePasswordAuthentication":
      false}, "computerName": "myvm", "adminUsername": "trpresco"}, "diagnosticsProfile":
      {"bootDiagnostics": {"enabled": fa[...]
[...]
