interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines?api-version=2016-03-30
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage","namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["East
        US","East US 2","East US 2 (Stage)","West US","West Europe","East Asia","Southeast
        Asia","Japan East","Japan West","North Central US","South Central US","Central
        US","North Europe","Brazil South","Australia East","Australia Southeast","South
        India","Central India","West India","Canada East","Canada Central","West US
        2","West Central US","UK South","UK West"],"apiVersions":["2016-12-01","2016-05-01","2016-01-01","2015-06-15","2015-05-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"operations","locations":[],"apiVersions":["2016-12-01","2016-05-01","2016-01-01","2015-06-15","2015-05-01-preview"]},{"resourceType":"storageAccounts/listAccountSas","locations":[],"apiVersions":["2016-12-01","2016-05-01"]},{"resourceType":"usages","locations":[],"apiVersions":["2016-12-01","2016-05-01","2016-01-01","2015-06-15","2015-05-01-preview"]},{"resourceType":"checkNameAvailability","locations":[],"[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_state_mod/providers/Microsoft.Storage/storageAccounts/ab394fvkdj34?api-version=2016-12-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Storage/storageAccounts/ab394fvkdj34''
        under resource group ''cli_test_vm_state_mod'' was not found."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorization":{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},"resourceTypes":[{"resourceType":"virtualNetworks","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","Canada Central","Canada East","West Central US","West US 2","UK West","UK
        South"],"apiVersions":["2016-1[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkSecurityGroups/mynsg?api-version=2016-10-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/networkSecurityGroups/mynsg''
        under resource group ''cli_test_vm_state_mod'' was not found."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_state_mod/providers/Microsoft.Network/publicIPAddresses/mypubip?api-version=2016-10-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/publicIPAddresses/mypubip''
        under resource group ''cli_test_vm_state_mod'' was not found."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"properties": {"accountType": "Premium_LRS"}, "tags": {"secondtag":
      "2", "firsttag": "1", "thirdtag": ""}, "dependsOn": [], "name": "ab394fvkdj34",
      "location": "eastus", "type": "Microsoft.Storage/storageAccounts", "apiVersion":
      "2015-06-15"}, {"properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "vm-state-modSubnet"}]},
      "tags": {"secondtag": "2", "firsttag": "1", "thirdtag": ""}, "dependsOn": [],
      "name": "myvnet", "location": "eastus", "type": "Microsoft.Network/virtualNetworks",
      "apiVersion": "2015-06-15"}, {"properties": {"securityRules": [{"properties":
      {"protocol": "Tcp", "priority": 1000, "sourcePortRange": "*", "direction": "Inbound",
      "access": "Allow", "destinationPortRange": "22", "destinationAddressPrefix":
      "*", "sourceAddressPrefix": "*"}, "name": "default-allow-ssh"}]}, "tags": {"secondtag":
      "2", "firsttag": "1", "thirdtag": ""}, "dependsOn": [], "name": "mynsg", "location":
      "eastus", "type": "Microsoft.Network/networkSecurityGroups", "apiVersion": "2015-06-15"},
      {"properties": {"publicIPAllocationMethod": "dynamic"}, "tags": {"secondtag":
      "2", "firsttag": "1", "thirdtag": ""}, "dependsOn": [], "apiVersion": "2015-06-15",
      "location": "eastus", "type": "Microsoft.Network/publicIPAddresses", "name":
      "mypubip"}, {"properties": {"networkSecurityGroup": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkSecurityGroups/mynsg"},
      "ipConfigurations": [{"properties": {"privateIPAllocationMethod": "Dynamic",
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/virtualNetworks/myvnet/subnets/vm-state-modSubnet"},
      "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/publicIPAddresses/mypubip"}},
      "name": "ipconfigvm-state-mod"}]}, "tags": {"secondtag": "2", "firsttag": "1",
      "thirdtag": ""}, "dependsOn": ["Microsoft.Network/virtualNetworks/myvnet", "Microsoft.Network/networkSecurityGroups/mynsg",
      "Microsoft.Network/publicIpAddresses/mypubip"], "apiVersion": "2015-06-15",
      "location": "eastus", "type": "Microsoft.Network/networkInterfaces", "name":
      "vm-state-modVMNic"}, {"properties": {"hardwareProfile": {"vmSize": "Standard_DS1"},
      "osProfile": {"adminUsername": "ubuntu", "computerName": "vm-state-mod", "adminPassword":
      "testPassword0"}, "storageProfile": {"imageReference": {"version": "latest",
      "offer": "UbuntuServer", "sku": "14.04.4-LTS", "publisher": "Canonical"}, "osDisk":
      {"createOption": "fromImage", "caching": "ReadWrite", "vhd": {"uri": "https://ab394fvkdj34.blob.core.windows.net/vhds/osdisk_PZWx8ziS3N.vhd"},
      "name": "osdisk_PZWx8ziS3N"}}, "networkProfile": {"networkInterfaces": [{"id":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkInterfaces/vm-state-modVMNic"}]}},
      "tags": {"secondtag": "2", "firsttag": "1", "thirdtag": ""}, "dependsOn": ["Microsoft.Storage/storageAccounts/ab394fvkdj34",
      "Microsoft.Network/networkInterfaces/vm-state-modVMNic"], "apiVersion": "2015-06-15",
      "location": "eastus", "type": "Microsoft.Compute/virtualMachines", "name": "vm-state-mod"}],
      "variables": {}, "outputs": {}, "contentVersion": "1.0.0.0", "parameters": {}},
      "mode": "Incremental", "parameters": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_state_mod/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Resources/deployments/vm_deploy_dtJJtcV21icNPFgsFbU4XcksjZJl35Oj","name":"vm_deploy_dtJJtcV21icNPFgsFbU4XcksjZJl35Oj","properties":{"parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-01-25T23:18:43.8045265Z","duration":"PT1.576197S","correlationId":"08d24b77-0676-4acd-9ff0-183e4d877dc6","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["eastus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["eastus"]},{"resourceType":"networkSecurityGroups","locations":["eastus"]},{"resourceType":"publicIPAddresses","locations":["eastus"]},{"resourceType":"networkInterfaces","locations":["eastus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/virtualNetworks/myvnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"myvnet"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkSecurityGroups/mynsg","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"mynsg"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/publicIpAddresses/mypubip","resourceType":"Microsoft.Network/publicIpAddresses","resourceName":"mypubip"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkInterfaces/vm-state-modVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-state-modVMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Storage/storageAccounts/ab394fvkdj34","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"ab394fvkdj34"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkInterfaces/vm-state-modVMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm-state-modVMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines/vm-state-mod","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm-state-mod"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_vm_state_mod/providers/Microsoft.Resources/deployments/vm_deploy_dtJJtcV21icNPFgsFbU4XcksjZJl35Oj/operationStatuses/08587162205632493437?api-version=2016-09-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_state_mod/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587162205632493437?api-version=2016-09-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_state_mod/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Resources/deployments/vm_deploy_dtJJ[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [], "variables": {}, "outputs": {"privateIpAddress": {"value":
      "[reference(resourceId(''Microsoft.Network/networkInterfaces'', ''vm-state-modVMNic''),providers(''Microsoft.Network'',
      ''networkInterfaces'').apiVersions[0]).ipConfigurations[0].properties.privateIPAddress]",
      "type": "string"}, "publicIpAddress": {"value": "[reference(resourceId(''Microsoft.Network/publicIPAddresses'',
      ''mypubip''),providers(''Microsoft.Network'', ''publicIPAddresses'').apiVersions[0]).ipAddress]",
      "type": "string"}, "id": {"value": "[reference(resourceId(''Microsoft.Compute/virtualMachines'',
      ''vm-state-mod''),providers(''Microsoft.Compute'', ''virtualMachines'').apiVersions[0]).vmId]",
      "type": "string"}, "macAddress": {"value": "[reference(resourceId(''Microsoft.Network/networkInterfaces'',
      ''vm-state-modVMNic''),providers(''Microsoft.Network'', ''networkInterfaces'').apiVersions[0]).macAddress]",
      "type": "string"}}, "contentVersion": "1.0.0.0", "parameters": {}}, "mode":
      "Incremental", "parameters": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_state_mod/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Resources/deployments/vm_vm-state-mod_output_0bML8NgV","name":"vm_vm-state-mod_output_0bML8NgV","properties":{"parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2017-01-25T23:25:39.6504398Z","duration":"PT6.4801362S","correlationId":"92f3b09c-21be-49e3-8104-c0345ac14051","providers":[],"dependencies":[],"outputs":{"privateIpAddress":{"type":"String","value":"10.0.0.4"},"publicIpAddress":{"type":"String","value":"40.117.192.181"},"id":{"type":"String","value":"7cdeac3b-10c9-4003-b167-c83184df736b"},"macAddress":{"type":"String","value":"00-0D-3A-15-FF-DA"}},"outputResources":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n  \
        \      \"vmId\": \"7cdeac3b-10c9-4003-b167-c83184df736b\",\r\n        \"hardwareProfile\"\
        : {\r\n          \"vmSize\": \"Standard_DS1\"\r\n        },\r\n        \"\
        storageProfile\": {\r\n          \"imageReference\": {\r\n            \"publisher\"\
        : \"Canonical\",\r\n            \"offer\": \"UbuntuServer\",\r\n         \
        \   \"sku\": \"14.04.4-LTS\",\r\n            \"version\": \"latest\"\r\n \
        \         },\r\n          \"osDisk\": {\r\n            \"osType\": \"Linux\"\
        ,\r\n            \"name\": \"osdisk_PZWx8ziS3N\",\r\n            \"createOption\"\
        : \"FromImage\",\r\n            \"vhd\": {\r\n              \"uri\": \"https://ab394fvkdj34.blob.core.windows.net/vhds/osdisk_PZWx8ziS3N.vhd\"\
        \r\n            },\r\n            \"caching\": \"ReadWrite\"\r\n         \
        \ },\r\n          \"dataDisks\": []\r\n        },\r\n        \"osProfile\"\
        : {\r\n          \"computerName\": \"vm-state-mod\",\r\n          \"adminUsername\"\
        : \"ubuntu\",\r\n          \"linuxConfiguration\": {\r\n            \"disablePasswordAuthentication\"\
        : false\r\n          },\r\n          \"secrets\": []\r\n        },\r\n   \
        \     \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkInterfaces/vm-state-modVMNic\"\
        }]},\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n     \
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n      \"location\":\
        \ \"eastus\",\r\n      \"tags\": {\r\n        \"secondtag\": \"2\",\r\n  \
        \      \"firsttag\": \"1\",\r\n        \"thirdtag\": \"\"\r\n      },\r\n\
        \      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines/vm-state-mod\"\
        ,\r\n      \"name\": \"vm-state-mod\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines/vm-state-mod?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"7cdeac3b-10c9-4003-b167-c83184df736b\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1\"\r\n\
        \    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n  \
        \      \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"14.04.4-LTS\",\r\n        \"version\": \"latest\"\r\
        \n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n  \
        \      \"name\": \"osdisk_PZWx8ziS3N\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"vhd\": {\r\n          \"uri\": \"https://ab394fvkdj34.blob.core.windows.net/vhds/osdisk_PZWx8ziS3N.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"vm-state-mod\",\r\n      \"adminUsername\": \"ubuntu\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkInterfaces/vm-state-modVMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\",\r\n  \"\
        tags\": {\r\n    \"secondtag\": \"2\",\r\n    \"firsttag\": \"1\",\r\n   \
        \ \"thirdtag\": \"\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines/vm-state-mod\"\
        ,\r\n  \"name\": \"vm-state-mod\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines/vm-state-mod?api-version=2016-03-30&$expand=instanceView
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"7cdeac3b-10c9-4003-b167-c83184df736b\"\
        ,\r\n    \"hardwareProfile\": {\r\n     [...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"settings": {}, "publisher": "Microsoft.OSTCExtensions",
      "protectedSettings": {"username": "foouser1", "password": "Foo12345"}, "type":
      "VMAccessForLinux", "typeHandlerVersion": "1.4"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines/vm-state-mod/extensions/enablevmaccess?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.OSTCExtensions\"\
        ,\r\n    \"type\": \"VMAccessForLinux\",\r\n    \"typeHandlerVersion\": \"\
        1.4\",\r\n    \"autoUpgradeMinorVersion\": false,\r\n    \"settings\": {},\r\
        \n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines/extensions\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines/vm-state-mod/extensions/enablevmaccess\"\
        ,\r\n  \"name\": \"enablevmaccess\"\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/f9970da3-c578-452b-a5b3-dd6c04f18a4f?api-version=2016-03-30']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/f9970da3-c578-452b-a5b3-dd6c04f18a4f?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-01-25T23:26:08.7732257+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"f9970da3-c578-452b-a5b3-dd6c04f18a4f\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/f9970da3-c578-452b-a5b3-dd6c04f18a4f?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-01-25T23:26:08.7732257+00:00\",\r\
        \n  \"endTime\": \"2017-01-25T23:27:22.0071238+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"f9970da3-c578-452b-a5b3-dd6c04f18a4f\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "eastus", "properties": {"settings": {}, "publisher": "Microsoft.OSTCExtensions",
      "protectedSettings": {"remove_user": "foouser1"}, "type": "VMAccessForLinux",
      "typeHandlerVersion": "1.4"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines/vm-state-mod/extensions/enablevmaccess?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.OSTCExtensions\"\
        ,\r\n    \"type\": \"VMAccessForLinux\",\r\n    \"typeHandlerVersion\": \"\
        1.4\",\r\n    \"autoUpgradeMinorVersion\": false,\r\n    \"settings\": {},\r\
        \n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines/extensions\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Compute/virtualMachines/vm-state-mod/extensions/enablevmaccess\"\
        ,\r\n  \"name\": \"enablevmaccess\"\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/a160b3fc-0d53-4538-967c-8abccc7f44ac?api-version=2016-03-30']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkSecurityGroups/mynsg?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"name\": \"mynsg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkSecurityGroups/mynsg\"\
        ,\r\n  \"etag\": \"W/\\\"5707b304-8a58-48f5-bc30-271c49e391ed\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"tags\": {\r\n    \"secondtag\": \"2\",\r\n    \"firsttag\"\
        : \"1\",\r\n    \"thirdtag\": \"\"\r\n  },\r\n  \"properties\": {\r\n    \"\
        provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"0272ba1a-f980-4568-842e-440335d4a2f9\"\
        ,\r\n    \"securityRules\": [\r\n      {\r\n        \"name\": \"default-allow-ssh\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkSecurityGroups/mynsg/securityRules/default-allow-ssh\"\
        ,\r\n        \"etag\": \"W/\\\"5707b304-8a58-48f5-bc30-271c49e391ed\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"\
        *\",\r\n          \"destinationPortRange\": \"22\",\r\n          \"sourceAddressPrefix\"\
        : \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"\
        access\": \"Allow\",\r\n          \"priority\": 1000,\r\n          \"direction\"\
        : \"Inbound\"\r\n        }\r\n      }\r\n    ],\r\n    \"defaultSecurityRules\"\
        : [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/networkSecurityGroups/mynsg/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"5707b304-8a58-48f5-bc30-271c49e391ed\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\"\
        ,\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\"\
        ,\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n\
        \          \"direction\": \"Inbound\"\r\n        }\r\n      },\r\n      {\r\
        \[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/publicIPAddresses/mypubip?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"name\": \"mypubip\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_state_mod/providers/Microsoft.Network/publicIPAddresses/mypubip\"\
        ,\r\n  \"etag\": \"W/\\\"61626c11-1a21-4ff7-87b3-052d26d092b8\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        eastus\",\r\n  \"tags\": {\r\n    \"secondtag\": \"2\",\r\n    \"firsttag\"\
        : \"1\",\r\n    \"thirdtag\": \"\"\r\n  },\r\n  \"properties\": {\r\n    \"\
        provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"2d9bf0a3-22db-4499-ab0d-22cfd879fb43\"\
        ,\r\n    \"ipAddress\": \"40.117.192.181\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
[...]
