interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"dataPlaneProxy":
      {}, "disableLocalAuth": true, "createMode": "Default", "softDeleteRetentionInDays":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretest000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-08-25T11:23:49.7742868+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretest000002",
        "name": "featuretest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.L6ZLco0pPZivWUSK8x4Az74JIc28uabNB8vsZ2o-N8w?api-version=2025-08-01-preview&t=639232538298258522&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRaFw0yNzAyMDkwNjQwMTRaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2Nlcn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.L6ZLco0pPZivWUSK8x4Az74JIc28uabNB8vsZ2o-N8w?api-version=2025-08-01-preview&t=639232538298258522&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretest000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-08-25T11:23:49+00:00", "endpoint": "https://featuretest000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-08-25T11:23:49+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-08-25T11:23:49+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretest000002",
        "name": "featuretest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d401fc76-0000-0100-0000-6a8d7b460000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMDk=;sn=90718209
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:29 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "tags": {}, "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMDk=
    method: PUT
    uri: https://featuretest000002.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag":"hnRNUARMksifDQBXyqQzSuaQEldBIe3BTCt-mjoC_G8","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-25T11:24:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hnRNUARMksifDQBXyqQzSuaQEldBIe3BTCt-mjoC_G8"'
      last-modified:
      - Tue, 25 Aug 2026 11:24:30 GMT
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMTA=;sn=90718210
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:30 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "value": "{\"id\":
      \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
      \"conditions\": {\"client_filters\": [], \"requirement_type\": \"Any\"}}", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "tags": {}, "locked":
      false, "etag": "hnRNUARMksifDQBXyqQzSuaQEldBIe3BTCt-mjoC_G8"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"hnRNUARMksifDQBXyqQzSuaQEldBIe3BTCt-mjoC_G8"'
      Sync-Token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMTA=
    method: PUT
    uri: https://featuretest000002.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag":"IqqdBBJyJEg5h8M4AFHxKB4Zuc0OI_bWw8CDs3pIbIQ","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"conditions\": {\"client_filters\": [], \"requirement_type\": \"Any\"}}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-25T11:24:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"IqqdBBJyJEg5h8M4AFHxKB4Zuc0OI_bWw8CDs3pIbIQ"'
      last-modified:
      - Tue, 25 Aug 2026 11:24:31 GMT
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMTE=;sn=90718211
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:31 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2F%2A&label=%00
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMTc=;sn=90718217
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:38 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2F%2A&label=%2A
  response:
    body:
      string: '{"etag":"QqDxpRXmwW3bs1UcPRsMNYnSXhHm8nEj-lhsoMbLi4w","items":[{"etag":"pVy_aSQ7mW2z-Tvgjnt6_6joBPzQRYRTRyc5GUhxFsE","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"descr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?api-version=2026-05-01-preview
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMTc=;sn=90718217
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:40 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?api-version=2026-05-01-preview
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMjA=;sn=90718220
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:42 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?api-version=2026-05-01-preview
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMjE=;sn=90718221
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:44 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2FBeta%2A&label=%2A
  response:
    body:
      string: '{"etag":"da3jSMgJv1DBAC3lkgAl2XNiU375_vJ0eDtlDXd4XaQ","items":[{"etag":"pVy_aSQ7mW2z-Tvgjnt6_6joBPzQRYRTRyc5GUhxFsE","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2FBeta%2A&label=%00
  response:
    body:
      string: '{"etag":"PodXHi_ufRuECC-4OnrVmYt3ynfLtvV68SqQ6qYsp6k","items":[{"etag":"3v4ra5bgjEfTzZTeBmUudXom-SyFmOe6yc9i4T0Rklo","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-25T11:24:41+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"PodXHi_ufRuECC-4OnrVmYt3ynfLtvV68SqQ6qYsp6k"'
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMjY=;sn=90718226
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:47 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2FBeta%2Aion&label=%2A
  response:
    body:
      string: '{"type":"https://azconfig.io/errors/invalid-argument","title":"Invalid
        request parameter ''key''","name":"key","detail":"key(27): Invalid character","pos":27,"status":400}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:47 GMT
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2F%2ABeta&label=%2A
  response:
    body:
      string: '{"type":"https://azconfig.io/errors/invalid-argument","title":"Invalid
        request parameter ''key''","name":"key","detail":"key(23): Invalid character","pos":23,"status":400}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:48 GMT
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2FBeta%2A%2A&label=%2A
  response:
    body:
      string: '{"type":"https://azconfig.io/errors/invalid-argument","title":"Invalid
        request parameter ''key''","name":"key","detail":"key(27): Invalid character","pos":27,"status":400}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:49 GMT
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv/.appconfig.featureflag%2FFeatureWithTags?api-version=2026-05-01-preview&label=labelWithTags
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMjY=;sn=90718226
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:50 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/FeatureWithTags", "label": "labelWithTags",
      "value": "{\"id\": \"FeatureWithTags\", \"description\": \"\", \"enabled\":
      false, \"conditions\": {\"client_filters\": []}}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "tags": {"tag1": "value1", "tag2": "value2", "tag3": "value3", "tag4": "value4",
      "tag5": "value5"}, "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMjY=
    method: PUT
    uri: https://featuretest000002.azconfig.io/kv/.appconfig.featureflag%2FFeatureWithTags?api-version=2026-05-01-preview&label=labelWithTags
  response:
    body:
      string: '{"etag":"VBmtNdRHnq9Ca7-s2EVLJU7RjvX50vUm2dANt0o22ZQ","key":".appconfig.featureflag/FeatureWithTags","label":"labelWithTags","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"FeatureWithTags\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","description":null,"tags":{"tag1":"value1","tag2":"value2","tag3":"value3","tag4":"value4","tag5":"value5"},"locked":false,"last_modified":"2026-08-25T11:24:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VBmtNdRHnq9Ca7-s2EVLJU7RjvX50vUm2dANt0o22ZQ"'
      last-modified:
      - Tue, 25 Aug 2026 11:24:50 GMT
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMjc=;sn=90718227
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:50 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2FFeatureWithTags&label=%2A&tags=tag1%3Dvalue1&tags=tag2%3Dvalue2&tags=tag3%3Dvalue3&tags=tag4%3Dvalue4&tags=tag5%3Dvalue5
  response:
    body:
      string: '{"etag":"iav348jkovwsdXxOcL0C9WnZfngcUQay2OCEQmZIQ2M","items":[{"etag":"VBmtNdRHnq9Ca7-s2EVLJU7RjvX50vUm2dANt0o22ZQ","key":".appconfig.featureflag/FeatureWithTags","label":"labelWithTags","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"FeatureWithTags\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","description":null,"tags":{"tag1":"value1","tag2":"value2","tag3":"value3","tag4":"value4","tag5":"value5"},"locked":false,"last_modified":"2026-08-25T11:24:50+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"iav348jkovwsdXxOcL0C9WnZfngcUQay2OCEQmZIQ2M"'
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMjc=;sn=90718227
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:51 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv/.appconfig.featureflag%2FFeatureWithTags?api-version=2026-05-01-preview&label=labelWithTag1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMjc=;sn=90718227
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:52 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2FFeatureWithTags&label=%2A&tags=tag1%3Dvalue1
  response:
    body:
      string: '{"etag":"rf4WWV__DzBoWgiySn-67xTVa5yLTl7FNWCjjWjLB64","items":[{"etag":"so0y6Dt1l7jmbEt2FZ1hwx2h0ikRzEzBuZOBW7kfao4","key":".appconfig.featureflag/FeatureWithTags","label":"labelWithTag1","content_type":"application/vnd.microsoft.appconfig.ff+json;chars[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv/.appconfig.featureflag%2FFeatureWithTags?api-version=2026-05-01-preview&label=labelWithEmptyTagValue
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMjk=;sn=90718229
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:54 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2FFeatureWithTags&label=%2A&tags=tag1%3D
  response:
    body:
      string: '{"etag":"RoQStDjLQ7VPdKfdNvOgesTkAflwlp3d8XgWwKTFDZM","items":[{"etag":"ofEVOUxYOCX4KSZqfiEhwYYsQrkCUJlyDj10QYDWsiE","key":".appconfig.featureflag/FeatureWithTags","label":"labelWithEmptyTagValue","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"FeatureWithTags\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","description":null,"tags":{"tag1":""},"locked":false,"last_modified":"2026-08-25T11:24:55+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"RoQStDjLQ7VPdKfdNvOgesTkAflwlp3d8XgWwKTFDZM"'
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMzA=;sn=90718230
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:56 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2FFeatureWithTags&label=%2A
  response:
    body:
      string: '{"etag":"7wYtjh5K78DQP39akXJ_HHzPKk0E8CBS5uE-Lf60fos","items":[{"etag":"ofEVOUxYOCX4KSZqfiEhwYYsQrkCUJlyDj10QYDWsiE","key":".appconfig.featureflag/FeatureWithTags","label":"labelWithEmptyTagValue","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2FFeatureWithTags&label=labelWithEmptyTagValue&tags=tag1%3D
  response:
    body:
      string: '{"etag":"RoQStDjLQ7VPdKfdNvOgesTkAflwlp3d8XgWwKTFDZM","items":[{"etag":"ofEVOUxYOCX4KSZqfiEhwYYsQrkCUJlyDj10QYDWsiE","key":".appconfig.featureflag/FeatureWithTags","label":"labelWithEmptyTagValue","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"FeatureWithTags\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","description":null,"tags":{"tag1":""},"locked":false,"last_modified":"2026-08-25T11:24:55+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"RoQStDjLQ7VPdKfdNvOgesTkAflwlp3d8XgWwKTFDZM"'
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMzI=;sn=90718232
      x-ms-date:
      - Tue, 25 Aug 2026 11:24:59 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretest000002.azconfig.io/kv?api-version=2026-05-01-preview&key=.appconfig.featureflag%2FBeta&label=v2
  response:
    body:
      string: '{"etag":"JNeDlkOqCstifmDrktPO3UP0ZE71X_OhM31pOpo5z3g","items":[{"etag":"OHnHIfNj9DA-gai9vUBxEKCRqdO51Qwkht2-9uiqLCY","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"conditions\": {\"client_filters\": []}}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-25T11:24:36+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"JNeDlkOqCstifmDrktPO3UP0ZE71X_OhM31pOpo5z3g"'
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMzU=;sn=90718235
      x-ms-date:
      - Tue, 25 Aug 2026 11:25:01 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"3_BDKkhcFTX__kFb-16BKdjK1FyQsyjEjPdoKGjTBRg"'
      Sync-Token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMzc=
    method: PUT
    uri: https://featuretest000002.azconfig.io/locks/.appconfig.featureflag%2FThisBetaVersion?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag":"RMidq8DwZE3X4eJgUfcpCrj5bYrYE2Pl-2mIbm_rUcE","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","description":null,"tags":{},"locked":true,"last_modified":"2026-08-25T11:25:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RMidq8DwZE3X4eJgUfcpCrj5bYrYE2Pl-2mIbm_rUcE"'
      last-modified:
      - Tue, 25 Aug 2026 11:25:03 GMT
      sync-token:
      - zAJw6V16=MTM6MTkjOTA3MTgyMzg=;sn=90718238
      x-ms-date:
      - Tue, 25 Aug 2026 11:25:03 GMT
    status:
      code: 200
      message: OK
[...]
