interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-06-08T17:35:42.5517326+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002","name":"NamingConventionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5bBAz4-1eEB8UoNY1TQNfge7FIHUZNhq36cuF6Gm3Ic?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5bBAz4-1eEB8UoNY1TQNfge7FIHUZNhq36cuF6Gm3Ic?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5bBAz4-1eEB8UoNY1TQNfge7FIHUZNhq36cuF6Gm3Ic","name":"5bBAz4-1eEB8UoNY1TQNfge7FIHUZNhq36cuF6Gm3Ic","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5bBAz4-1eEB8UoNY1TQNfge7FIHUZNhq36cuF6Gm3Ic?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-06-08T17:35:43+00:00","endpoint":"https://namingconventiontestrj3e.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-06-08T17:35:43+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-08T17:35:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/namingconventiontestrj3e","name":"NamingConventionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9c00c963-0000-0100-0000-62a0ddef0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtaSaQjqEhVZUHqZaOBZQQIfXNcQyYP45lO4S26nefbRhLP8LdYxQlytHv3HOP8xYIdjYzLvY6GL8FqzhfTuJ0meFZkQfjYGuM1OMwPBJBNuzIhOmR10axHq2PoW5KTRWXhtdCh6NRNSRl%2FxsasapCXxmjqKTsOxpGdDAoR8OyvBuFUtUnXjGlw9%2BcqlrXa9PDUk5qseabRhH3qpB2r3JTK6YfiOToZJ%2Bz9%2B%2BjfhSh%2FhD1B58%2F6T2Xy3rPxL1m6sQpQ4ZsUEsbHXwJ%2FgMlFyEOCzQe5%2BbcGKaNdgAtjBjD1IBOghnEvKEch7jI5osY2GxsG8Jb1lgM%2BbxY%2FnQscJ5gYCo6E64ZsWJwkbuoSrATBFcMI45MOs8sGYju6nAR%2F0wGO33dGtE2fdHH%2FIqAucwNvguvyBrsskWAKWjtt3sELTfbujHyYJX8yPBzMvNRBoxHZ1RK5TsKTvEUX2cFrhhKqOVylZGkU8i7hXJhtcDckbfG5Qb%2BMcPpJAbvrbVy3nrCC5zC3vM76Yrwr3kWwx%2F4vYfiOwvsRe8PjOJyzspXyfI5zmY4nXplsPJ4x18apIWLAGszvx3xY5ZMMEQtBy6IPfgjpwa9EpfIT8ncbxbXY2CR0baGtURwUXFyxXMpY3ewdEilidgcONLkKA8MDSyVTheDl867vzazZcxlc76Kp7Hdmf4PGCw2Nym67VSxIo8LvICl5OYyxeTBB4Al47xV5BE8Ne4%2FGCFV8P7%2BBw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 37b2912b-6a70-488c-831a-92363f5e6ebb
      - 4f2c0482-5596-4256-b72e-28d6def26bdc
      - 9d3c96ef-aa2d-4f3e-82c7-88eb337e0060
      - e729be72-a26d-4130-9099-13dc783b4d87
      - 1a35fda5-d795-4d9d-955a-fddef7510621
      - 5ce7775a-54c5-4e1a-9881-dc733d6ffd9b
      - dc1b52d2-bb9c-42b6-a042-de46895d024c
      - 8be2406a-377d-4934-a139-caac8c93d84c
      - 34732db6-dd23-4c62-a691-9ec315260507
      - bab9abfe-99cc-41c5-96c0-28b22446153f
      - 5b2b6e8f-1bd8-4d0f-b52d-bcd3a0ce2431
      - 09e0af49-11e2-435c-a5de-4dc11ccf5b0a
      - e302c33e-01e9-464a-92a4-afdb3433e8f5
      - 6b3f5357-80c4-4a6f-bc36-75183672e8a5
      - c67d357d-0683-4146-9412-1e57e55ef519
      - f133616f-b51e-465a-be7a-1afd86126a8a
      - 64d4e7d9-1c89-4846-9d2a-207715cc3931
      - fe2f05cf-d306-4691-b67c-c2e88bc663ff
      - 28b1d095-aa81-4e0d-a0a8-07e71a25cc94
      - b69c28e6-841b-485c-a982-dd5d7616cae2
      - 6a4602cc-01ed-46df-b522-e79e8cd1fe2c
      - 70cda6d2-dcfc-4ec3-b913-824c9f135e6f
      - 97616b73-840b-4e04-a6c4-25df826345c0
      - 2783cf62-8463-4691-b769-cf8de3c27217
      - 3b1de8aa-570f-4e90-bf8f-e5162737b5f3
      - 958c8eb7-b915-4187-8f4c-c7ff210755cf
      - 3e6538df-d1ff-4e13-bdb1-fa1510145f01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"cgzg-l0-s0:iTgJYcUSeahUbl408Ft7","name":"Primary","value":"5JFstN0eJN01/bVNANk6m7M++KTXRpYqTEkKDkwz58Q=","connectionString":"Endpoint=https://namingconventiontestrj3e.azconfig.io;Id=cgzg-l0-s0:iTgJYcUSeahUbl408Ft7;Secret=5JFstN0eJN01/bVNANk6m7M++KTXRpYqTEkKDkwz58Q=","lastModified":"2022-06-08T17:35:42+00:00","readOnly":false},{"id":"j+TF-l0-s0:mmX5yR/oRAe22lDANWOw","name":"Secondary","value":"JmOLYWkcyTJzzWE6nCZ5KipUl/uEQgJ+rTKhaiohj1A=","connectionString":"Endpoint=https://namingconventiontestrj3e.azconfig.io;Id=j+TF-l0-s0:mmX5yR/oRAe22lDANWOw;Secret=JmOLYWkcyTJzzWE6nCZ5KipUl/uEQgJ+rTKhaiohj1A=","lastModified":"2022-06-08T17:35:42+00:00","readOnly":false},{"id":"CUj9-l0-s0:aiQr2lpxsH7LzGlycKvM","name":"Primary
        Read Only","value":"HrU9GmXCgmUf7lNTeuebZbwKgm5k7XjUnBzFdplw/aU=","connectionString":"Endpoint=https://namingconventiontestrj3e.azconfig.io;Id=CUj9-l0-s0:aiQr2lpxsH7LzGlycKvM;Secret=HrU9GmXCgmUf7lNTeuebZbwKgm5k7XjUnBzFdplw/aU=","lastModified":"2022-06-08T17:35:42+00:00","readOnly":true},{"id":"UoSA-l0-s0:RB5gfzs+lOW+cDS5bEfA","name":"Secondary
        Read Only","value":"ufkICR+kfjnDQK6fdk/DE8pv4KW7I6fxt8Ygqf0ydWI=","connectionString":"Endpoint=https://namingconventiontestrj3e.azconfig.io;Id=UoSA-l0-s0:RB5gfzs+lOW+cDS5bEfA;Secret=ufkICR+kfjnDQK6fdk/DE8pv4KW7I6fxt8Ygqf0ydWI=","lastModified":"2022-06-08T17:35:42+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "NamingConventionTest", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - VSffS36d1yZrU0VE0K0JB85BAfWtgzcSKReH3XQQcKM=
      x-ms-date:
      - Jun, 08 2022 17:35:56 GMT
    method: PUT
    uri: https://namingconventiontestrj3e.azconfig.io/kv/Color?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"h2SyrldCzpYdS7wh5udzeb1pB1O","key":"Color","label":"NamingConventionTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2022-06-08T17:35:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"h2SyrldCzpYdS7wh5udzeb1pB1O"'
      last-modified:
      - Wed, 08 Jun 2022 17:35:57 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDE5NDMyMA==;sn=14194320
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Region", "label": "NamingConventionTest", "value": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNDE5NDMyMA==
      x-ms-content-sha256:
      - d5TuuQY1+uOeZsImyUtbAguTYwPriNoBgqLVZgmcRso=
      x-ms-date:
      - Jun, 08 2022 17:35:56 GMT
    method: PUT
    uri: https://namingconventiontestrj3e.azconfig.io/kv/Region?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"a8g5h8CAdQ3BaDlsd8pLGm9j0hQ","key":"Region","label":"NamingConventionTest","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2022-06-08T17:35:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"a8g5h8CAdQ3BaDlsd8pLGm9j0hQ"'
      last-modified:
      - Wed, 08 Jun 2022 17:35:57 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDE5NDMyMQ==;sn=14194321
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNDE5NDMyMQ==
      x-ms-content-sha256:
      - LlJkZdiUPnv6AG4PyAVQ8nH84c9fsUS598ZH84M/fd4=
      x-ms-date:
      - Jun, 08 2022 17:35:56 GMT
    method: PUT
    uri: https://namingconventiontestrj3e.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"yVpA6Hcjm8d1FX5jDFwkuTDZIcf","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-08T17:35:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yVpA6Hcjm8d1FX5jDFwkuTDZIcf"'
      last-modified:
      - Wed, 08 Jun 2022 17:35:57 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDE5NDMyMw==;sn=14194323
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNDE5NDMyMw==
      x-ms-content-sha256:
      - InFMUc4jWZGxDF2tsAtzKRsFRRZ0dCYlG2koYVNgoQg=
      x-ms-date:
      - Jun, 08 2022 17:35:56 GMT
    method: PUT
    uri: https://namingconventiontestrj3e.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"LgxMOHrVPpm4ffokcysC5oeCrgL","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": \"\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2022-06-08T17:35:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"LgxMOHrVPpm4ffokcysC5oeCrgL"'
      last-modified:
      - Wed, 08 Jun 2022 17:35:57 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDE5NDMyNA==;sn=14194324
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNDE5NDMyNA==
      x-ms-content-sha256:
      - 2G4MoMP9JRN0R01czMDumf4AGMDfhMFXxOZkZuPXMj8=
      x-ms-date:
      - Jun, 08 2022 17:35:56 GMT
    method: PUT
    uri: https://namingconventiontestrj3e.azco[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 08 2022 17:35:59 GMT
    method: GET
    uri: https://namingconventiontestrj3e.azconfig.io/kv?label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"yVpA6Hcjm8d1FX5jDFwkuTDZIcf","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-08T17:35:57+00:00"},{"etag":"LgxMOHrVPpm4ffokcysC5oeCrgL","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 08 2022 17:36:02 GMT
    method: GET
    uri: https://namingconventiontestrj3e.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"yVpA6Hcjm8d1FX5jDFwkuTDZIcf","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/v[...]
[...]
