interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"createMode":
      "Default", "softDeleteRetentionInDays": 1, "dataPlaneProxy": {}, "disableLocalAuth":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapreflist000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-07-15T17:45:10.7592629+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapreflist000002",
        "name": "snapreflist000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.PneCXOqoRBeN1Gu_wj7ggfnZLfYc7kW_MnZOI6WdoeE?api-version=2025-08-01-preview&t=639197343108500421&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.PneCXOqoRBeN1Gu_wj7ggfnZLfYc7kW_MnZOI6WdoeE?api-version=2025-08-01-preview&t=639197343108500421&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoX[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapreflist000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-07-15T17:45:10+00:00", "endpoint": "https://snapreflist000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-07-15T17:45:10+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-07-15T17:45:10+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapreflist000002",
        "name": "snapreflist000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"99015be7-0000-0100-0000-6a57c7280000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkwOA==;sn=20673908
      x-ms-date:
      - Wed, 15 Jul 2026 17:45:49 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "value": "red", "content_type": ""}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=OToxOSMyMDY3MzkwOA==
    method: PUT
    uri: https://snapreflist000002.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"kYyDjfBVqxcc0SFKbmYR_mmPt0fMDS2gH6Ac-koNxz4","key":"Color","label":null,"content_type":"","value":"red","tags":{},"locked":false,"last_modified":"2026-07-15T17:45:49+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kYyDjfBVqxcc0SFKbmYR_mmPt0fMDS2gH6Ac-koNxz4"'
      last-modified:
      - Wed, 15 Jul 2026 17:45:49 GMT
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkwOQ==;sn=20673909
      x-ms-date:
      - Wed, 15 Jul 2026 17:45:49 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/Size?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkwOQ==;sn=20673909
      x-ms-date:
      - Wed, 15 Jul 2026 17:45:50 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"filters": [{"key": "*"}], "retention_period": 86400}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://snapreflist000002.azconfig.io/snapshots/production-config-v1?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"n3o6zcxtLyl_0TFCqpad7a6NFxc2L8gqhcwvS0MjZWA","name":"production-config-v1","status":"provisioning","filters":[{"key":"*","label":null,"tags":[]}],"composition_type":"key","created":"2026-07-15T17:45:52.2970294+00:00","size":0,"items_count":0,"tags":{},"retention_period":86400}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"n3o6zcxtLyl_0TFCqpad7a6NFxc2L8gqhcwvS0MjZWA"'
      last-modified:
      - Wed, 15 Jul 2026 17:45:52 GMT
      link:
      - </kv?snapshot=production-config-v1&api-version=2023-11-01>; rel="items"
      operation-location:
      - https://snapreflist000002.azconfig.io/operations?snapshot=production-config-v1&api-version=2023-11-01
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkxMQ==;sn=20673911
      x-ms-date:
      - Wed, 15 Jul 2026 17:45:52 GMT
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=OToxOSMyMDY3MzkxMQ==
    method: GET
    uri: https://snapreflist000002.azconfig.io/operations?api-version=2023-11-01&snapshot=production-config-v1
  response:
    body:
      string: '{"id": "s7aN403YDY86i5PqJccpaKUEn6Pmxf7Wa3QXrCbx2JA", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkxMQ==;sn=20673911
      x-ms-date:
      - Wed, 15 Jul 2026 17:45:53 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/ProductionConfigRef?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkxNA==;sn=20673914
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:16 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "ProductionConfigRef", "value": "{\"snapshot_name\": \"production-config-v1\"}",
      "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\";
      charset=utf-8"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=OToxOSMyMDY3MzkxNA==
    method: PUT
    uri: https://snapreflist000002.azconfig.io/kv/ProductionConfigRef?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"tlYBF7XOaasTiBf6x9FDnnFROZBNs6jP4gNIsGPv5os","key":"ProductionConfigRef","label":null,"content_type":"application/json;
        profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8","value":"{\"snapshot_name\":
        \"production-config-v1\"}","tags":{},"locked":false,"last_modified":"2026-07-15T17:46:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tlYBF7XOaasTiBf6x9FDnnFROZBNs6jP4gNIsGPv5os"'
      last-modified:
      - Wed, 15 Jul 2026 17:46:16 GMT
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkxNQ==;sn=20673915
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:16 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2023-11-01&key=ProductionConfigRef&label=%2A
  response:
    body:
      string: '{"etag":"o9M4D2KZNiVR6TqOv0ZrklayTN4l6mFVUBB7OXsYl1o","items":[{"etag":"tlYBF7XOaasTiBf6x9FDnnFROZBNs6jP4gNIsGPv5os","key":"ProductionConfigRef","label":null,"content_type":"application/json;
        profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8","value":"{\"snapshot_name\":
        \"production-config-v1\"}","tags":{},"locked":false,"last_modified":"2026-07-15T17:46:16+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"o9M4D2KZNiVR6TqOv0ZrklayTN4l6mFVUBB7OXsYl1o"'
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkxNQ==;sn=20673915
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:17 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=OToxOSMyMDY3MzkxNQ==
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2023-11-01&snapshot=production-config-v1
  response:
    body:
      string: '{"etag":"TRTrFpnWxS9jr5IhXicLZIWHeihAUbGCC2GzTnzk2uE","items":[{"etag":"kYyDjfBVqxcc0SFKbmYR_mmPt0fMDS2gH6Ac-koNxz4","key":"Color","label":null,"content_type":"","value":"red","tags":{},"locked":false,"last_modified":"2026-07-15T17:45:49+00:00"},{"etag":"_9qT7y5bRN8EIxhJdCdkitVYfrYJt2jOEXmCrhWNBz0","key":"Size","label":null,"content_type":"","value":"large","tags":{},"locked":false,"last_modified":"2026-07-15T17:45:51+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"TRTrFpnWxS9jr5IhXicLZIWHeihAUbGCC2GzTnzk2uE"'
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkxNQ==;sn=20673915
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:19 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/Shape?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkxNQ==;sn=20673915
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:20 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2023-11-01&key=%2A&label=%2A
  response:
    body:
      string: '{"etag":"qYZKKxEsG3XO-FLWwtdENML_0OBHVs7bYDRojTa-q5w","items":[{"etag":"kYyDjfBVqxcc0SFKbmYR_mmPt0fMDS2gH6Ac-koNxz4","key":"Color","label":null,"content_type":"","value":"red","tags":{},"locked":false,"last_modified":"2026-07-15T17:45:49+00:00"},{"etag":"tlYBF7XOaasTiBf6x9FDnnFROZBNs6jP4gNIsGPv5os","key":"ProductionConfigRef","label":null,"content_type":"application/json;
        profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8","value":"{\"snapshot_name\":
        \"production-config-v1\"}","tags":{},"locked":false,"last_modified":"2026-07-15T17:46:16+00:00"},{"etag":"vyOCn_kXMORu4wjNZX_77unHB2iGDTX27z0G-E7pZaM","key":"Shape","label":null,"content_type":"","value":"circle","tags":{},"locked":false,"last_modified":"2026-07-15T17:46:20+00:00"},{"etag":"_9qT7y5bRN8EIxhJdCdkitVYfrYJt2jOEXmCrhWNBz0","key":"Size","label":null,"content_type":"","value":"large","tags":{},"locked":false,"last_modified":"2026-07-15T17:45:51+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"qYZKKxEsG3XO-FLWwtdENML_0OBHVs7bYDRojTa-q5w"'
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkxNg==;sn=20673916
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:21 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "value": "green", "content_type": "", "tags": {}, "locked":
      false, "etag": "kYyDjfBVqxcc0SFKbmYR_mmPt0fMDS2gH6Ac-koNxz4"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"kYyDjfBVqxcc0SFKbmYR_mmPt0fMDS2gH6Ac-koNxz4"'
      Sync-Token:
      - zAJw6V16=OToxOSMyMDY3MzkxNg==
    method: PUT
    uri: https://snapreflist000002.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"GffSPlzUzRZuuigCciGfmVnryuKvxE8568ooT84xBJY","key":"Color","label":null,"content_type":"","value":"green","tags":{},"locked":false,"last_modified":"2026-07-15T17:46:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GffSPlzUzRZuuigCciGfmVnryuKvxE8568ooT84xBJY"'
      last-modified:
      - Wed, 15 Jul 2026 17:46:23 GMT
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkxNw==;sn=20673917
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:23 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/ProductionConfigRefAlias?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkyMA==;sn=20673920
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:25 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/Color?api-version=2023-11-01&label=staging
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkyNQ==;sn=20673925
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:29 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"filters": [{"key": "Color", "label": "staging"}], "retention_period":
      86400}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://snapreflist000002.azconfig.io/snapshots/staging-override-v1?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"_0gICVWBUokesATGggsKde8sokJx-tZm1o2OrZcq_IA","name":"staging-override-v1","status":"provisioning","filters":[{"key":"Color","label":"staging","tags":[]}],"composition_type":"key","created":"2026-07-15T17:46:30.9480844+00:00","size":0,"items_count":0,"tags":{},"retention_period":86400}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"_0gICVWBUokesATGggsKde8sokJx-tZm1o2OrZcq_IA"'
      last-modified:
      - Wed, 15 Jul 2026 17:46:30 GMT
      link:
      - </kv?snapshot=staging-override-v1&api-version=2023-11-01>; rel="items"
      operation-location:
      - https://snapreflist000002.azconfig.io/operations?snapshot=staging-override-v1&api-version=2023-11-01
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkyNw==;sn=20673927
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:30 GMT
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=OToxOSMyMDY3MzkyNw==
    method: GET
    uri: https://snapreflist000002.azconfig.io/operations?api-version=2023-11-01&snapshot=staging-override-v1
  response:
    body:
      string: '{"id": "Rs4X24xMIGDTIai430__q3So9xLKMw6J59MGDO66ik0", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkyNw==;sn=20673927
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:31 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/StagingOverrideRef?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkyOA==;sn=20673928
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:43 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=OToxOSMyMDY3MzkyOQ==
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2023-11-01&snapshot=staging-override-v1
  response:
    body:
      string: '{"etag":"qehi4wnspZ9YLgGqOJnTBMZPE6bYJHJZsBywylI64Ko","items":[{"etag":"yntg1jQKPYy4ShtPYZV5-uuz2OBsi-B1MWp6ch2_OgE","key":"Color","label":"staging","content_type":"","value":"blue","tags":{},"locked":false,"last_modified":"2026-07-15T17:46:30+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"qehi4wnspZ9YLgGqOJnTBMZPE6bYJHJZsBywylI64Ko"'
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkyOQ==;sn=20673929
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:47 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/ArchivedConfigRef?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkyOQ==;sn=20673929
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:48 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=OToxOSMyMDY3MzkzMA==
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2023-11-01&snapshot=nonexistent-snapshot
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkzMA==;sn=20673930
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:50 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=OToxOSMyMDY3MzkzMA==
    method: GET
    uri: https://snapreflist000002.azconfig.io/snapshots/nonexistent-snapshot?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkzMA==;sn=20673930
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:51 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=OToxOSMyMDY3MzkzMA==
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2023-11-01&snapshot=staging-override-v1
  response:
    body:
      string: '{"etag":"qehi4wnspZ9YLgGqOJnTBMZPE6bYJHJZsBywylI64Ko","items":[{"etag":"yntg1jQKPYy4ShtPYZV5-uuz2OBsi-B1MWp6ch2_OgE","key":"Color","label":"staging","content_type":"","value":"blue","tags":{},"locked":false,"last_modified":"2026-07-15T17:46:30+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"qehi4wnspZ9YLgGqOJnTBMZPE6bYJHJZsBywylI64Ko"'
      sync-token:
      - zAJw6V16=OToxOSMyMDY3MzkzMg==;sn=20673932
      x-ms-date:
      - Wed, 15 Jul 2026 17:46:54 GMT
    status:
      code: 200
      message: OK
version: 1
