interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "fc787e56-62c0-4e93-a0c7-030f54d108d9",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Creating", "creationDate": "2024-12-03T12:02:28.7228204+00:00", "endpoint":
        null, "encryption": null, "privateEndpointConnections": null, "disableLocalAuth":
        null, "softDeleteRetentionInDays": null, "enablePurgeProtection": null, "dataPlaneProxy":
        null}, "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002",
        "name": "MgmtTest000002", "tags": {"key": "value"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6MUejsPO8NfRnf_lPeqG-X7jp_ynZcg4GYWPDQnjU3c?api-version=2024-05-01&t=638688241502344172&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6MUejsPO8NfRnf_lPeqG-X7jp_ynZcg4GYWPDQnjU3c?api-version=2024-05-01&t=638688241502344172&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "fc787e56-62c0-4e93-a0c7-030f54d108d9",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Succeeded", "creationDate": "2024-12-03T12:02:28+00:00", "endpoint": "https://mgmttestwh3ztawqzxo3mkne.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-03T12:02:28+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-12-03T12:02:28+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestwh3ztawqzxo3mkne",
        "name": "MgmtTest000002", "tags": {"key": "value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9d07e7f8-0000-0100-0000-674ef3580000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "identity": {"type": "SystemAssigned", "principalId":
        "fc787e56-62c0-4e93-a0c7-030f54d108d9", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"},
        "properties": {"provisioningState": "Succeeded", "creationDate": "2024-12-03T12:02:28+00:00",
        "endpoint": "https://mgmttestwh3ztawqzxo3mkne.azconfig.io", "encryption":
        {"keyVaultProperties": null}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 1, "enablePurgeProtection": false, "dataPlaneProxy":
        {"authenticationMode": "Local", "privateLinkDelegation": "Disabled"}}, "sku":
        {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-03T12:02:28+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-12-03T12:02:28+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestwh3ztawqzxo3mkne",
        "name": "MgmtTest000002", "tags": {"key": "value"}}], "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestwh3ztawqzxo3mkne"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/clitest.rg4rxat3saracecqccqlrtkzqk3pnqt5mmagyfpeiwnabxhnr3o3smql67k3i5alpco/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestwh3ztawqzxo3mkne>;
        rel="next"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestwh3ztawqzxo3mkne
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Premium"}, "tags": {"Env": "Prod"}, "properties": {"dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "Syste[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.KeyVault/vaults/cmk-test-keyvault000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users/$entity",
        "businessPhones": [], "displayName": "Christine WANJAU", "givenName": "Christine",
        "jobTitle": "SOFTWARE ENGINEER", "mail": "cwanjau@microsoft.com", "mobilePhone":
        null, "officeLocation": "NAIROBI-WAIYAKI WAY/Mobile", "preferredLanguage":
        null, "surname": "WANJAU", "userPrincipalName": "cwanjau@microsoft.com", "id":
        "43ddb22f-baef-4d3f-9e56-3a89871b9b59"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Europe","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"AM1PEPF00041D13"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "43ddb22f-baef-4d3f-9e56-3a89871b9b59",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enableRbacAuthorization": false, "enablePurgeProtection": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003",
        "name": "cmk-test-keyvault000003", "type": "Microsoft.KeyVault/vaults", "location":
        "eastus", "tags": {}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-03T12:03:29.147Z", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-12-03T12:03:29.147Z"},
        "properties": {"sku": {"family": "A", "name": "standard"}, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "accessPolicies": [{"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
        "43ddb22f-baef-4d3f-9e56-3a89871b9b59", "permissions": {"keys": ["all"], "secrets":
        ["all"], "certificates": ["all"], "storage": ["all"]}}], "enabledForDeployment":
        false, "enableSoftDelete": true, "softDeleteRetentionInDays": 7, "enableRbacAuthorization":
        false, "enablePurgeProtection": true, "vaultUri": "https://cmk-test-keyvault000003.vault.azure.net",
        "provisioningState": "RegisteringDns", "publicNetworkAccess": "Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error": {"code": "Unauthorized", "message": "AKV10000: Request is
        missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key": {"kid": "https://cmk-test-keyvault000003.vault.azure.net/keys/key/e81501488cf945469ab0775e45cad44e",
        "kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey",
        "unwrapKey"], "n": "7GyZ0Jc1LFk3ir2GeQ4EKkHbq7LAFHlcomNAU8JeuXQeo5ne5Zb6jzmCnYlsX6PwdWCCi9GjvKonOaYX-x9na9cju7rF3kyJOkNRFvfiqQryenV6Qqkf6z5RQNgTxUo_Tzm-jeRl-cupM-8Tgy9Lovx45332d6TQF73xO_uVqCdtsoX2TWuvlJ1bTiZ1zrMr1dZLQelKYqtJJf0OiB1kYp4xc2AugIizah8X_qV6z6Y3ParFnXG3-FxPlGEqsBbTSQFJ9ifqIMNPT10fTj9Z4NO9sB0IZv4kgcS-O9kqTNURP2xfQuqQMus4FHywBHXsVb7u2pszRjfHRQHT7PMpsQ",
        "e": "AQAB"}, "attributes": {"enabled": true, "created": 1733227443, "updated":
        1733227443, "recoveryLevel": "CustomizedRecoverable", "recoverableDays": 7,
        "exportable": false, "hsmPlatform": "0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01
  response:
    body:
      string: '{"value": [], "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.KeyVault%2fvaults%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault/vaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01&$skiptoken=rZRNj9owEIb/C2cOIR%2BXlXpg62waxNgKNbj2LWJTEieGFRhBUvW/dwLsZ5OtFPWExOHJO8%2BM31%2BjbXa282JbHkZ3v0ZZerDHg5sd06fR3SirZ0f1I3e4eKhTd1XHeldQnXiymWklwAIpA/rdcZRelHNeuowsrTJxw6LElzqsKZ868db5MhqPTtkF3AOVbuhTTXNF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault/vaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01&$skiptoken=rdFBb4IwGMbx78KZA1a4mOxgJnMY%2BhK2sq69EWyAIrhAjVCz7z5Uli0ZXMiuPfx4eP8XoxKt8vOqaIzVxTiLRp0aZKwM0e1O/D2zCH3qYvTWefKYA4ID6NRmOlFcsgXklsXIvvBJJrlcK6ZfCqBex4nbMuR2XmU9GOaATpiMuAikpzHBCssE8UfLgjJ0fPokAXkKk0JD[...]
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "43ddb22f-baef-4d3f-9e56-3a89871b9b59",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "fc787e56-62c[...]
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyIdentifier":
      "https://cmk-test-keyvault000003.vault.azure.net/keys/key/"}}, "dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "fc787e56-62c0-4e93-a0c7-030f54d108d9",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Succeeded", "creationDate": "2024-12-03T12:02:28+00:00", "endpoint": "https://mgmttestwh3ztawqzxo3mkne.azconfig.io",
        "encryption": {"keyVaultProperties": {"keyIdentifier": "https://cmk-test-keyvault000003.vault.azure.net/keys/key/",
        "identityClientId": null}}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 1, "enablePurgeProtection": false, "dataPlaneProxy":
        {"authenticationMode": "Local", "privateLinkDelegation": "Disabled"}}, "sku":
        {"name": "premium"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-03T12:02:28+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-12-03T12:04:10.6656566+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestwh3ztawqzxo3mkne",
        "name": "MgmtTest000002", "tags": {"Env": "Prod"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9d070ff9-0000-0100-0000-674ef3ba0000"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"dataPlaneProxy": {"privateLinkDelegation": "Enabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"error": {"code": "InvalidProperty", "message": "The property ''privateLinkDelegationMode''
        is not valid. Data plane proxy authentication mode must be set to Pass-through
        to enable private link delegation.", "additionalInfo": [{"type": "ActivityId",
        "info": {"activityId": "6f0ec234-8f38-48d7-8a5f-11c0df21e75e"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Premium"}, "properties": {"softDeleteRetentionInDays": 1, "enablePurgeProtection":
      false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppCon[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9wJlN7vZVsdfH4UBmXJfUrPOn7YYd7rxur39AJJR58k?api-version=2024-05-01&t=638688242775425943&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTestPremiumSku000004/replicas/MgmtTestReplica000005?api-version=2024-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/KgGA3YQFed36GGTKoXm4ECIkmQlc7NHNRaQ-AoO_3ZI?api-version=2024-05-01&t=638688243134887400&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestpremiumsku7nwqta
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrvTttIFMXfJVrtpzGBUBYVqapmwd1mgYTaibLl28SZBIdk7PXYDaTad997x/bgpLzA%2BdhWVD6c%2B39%2BP3tGv5R3qXm2vaufvVkYT67D0SSSd9O4d9V7KsvcXvX7W2XUSm%2B1KU/Uvir0SZJt%2B7aa26RI8zLNjO1fXi4u1Pz0j%2BBSLxbBB62TYJ7oj8HFIDk7m19ezOfnl/28yH6kC13Y/n2aFJnNluWJzPPrzCzTVVUo/q/6SfdPcZkV2n5We[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y9LTsMwEIbvYiFWdZyEhohIFYoQO7Ih5QBje%2BpaIbY141TQirsTyoYrsPyf0ncRAT/yiw8Ti%2B4invtx/zaKThxzTtwpNUMAhzOGXMB5ISxMnBUvmg35lH0MrNrWNqDLe9mitXKLaKQ2%2BCCb2lSVbhut71qVKJ68RWI1eEOR4yEXfUpPMRy8Wwh%2BrpT5q8YcCfkRkpendbfmu7qst7JsZFnd3vDk0z5OGHbno/9cILx7CE5m5FyLr40AmnvnCB1ktNfiStW/DmJzJR6AJqTV%2BiXu/jnvNw%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 09b84e36-a133-4ae1-8f06-cc4c0fac83b8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTestPremiumSku000004/replicas?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestpremiumsku7nwqta/replicas/MgmtTestReplica000005",
        "name": "MgmtTestReplica000005", "type": "Microsoft.AppConfiguration/configurationStores/replicas",
        "location": "westus", "properties": {"endpoint": "https://mgmttestpremiumsku7nwqta-mgmttestreplica6he2rydi3.azconfig.io",
        "provisioningState": "Succeeded"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-03T12:05:20+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-12-03T12:05:20+00:00"}}],
        "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/twqi3c1Lp5bBFwJk85bSuEHTGC_MQU1txuzBYUn9n0s?api-version=2024-05-01&t=638688243770521286&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/BHZ3oTsEo_H7_4Bw5QxgNDUW8aQu9a3dMnAQSd3oLWA?api-version=2024-05-01&t=638688243923853220&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestpremiumskun4zvvx
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppCo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/uoD9z3cHSfD-a6YYSFrMHm0WrS7rfWfj7PRUMx368pU?api-version=2024-05-01&t=638688244561776603&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/aadtest37z4tdda",
        "name": "AadTest37z4tdda", "type": "Microsoft.AppConfiguration/deletedConfigurationStores",
        "properties": {"configurationStoreId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg3glduxr2bnogfb5hbwf6aturjsqnm6zyxtjby3j6sa2b7appxreo6w7pypdt2pjvz/providers/Microsoft.AppConfiguration/configurationStores/aadtest37z4tdda",
        "location": "eastus", "deletionDate": "2024-12-03T08:49:48+00:00", "scheduledPurgeDate":
        "2024-12-04T09:21:23+00:00", "tags": {}, "purgeProtectionEnabled": false}},
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/auroratest",
        "name": "AuroraTest", "type": "Microsoft.AppConfiguration/deletedConfigurationStores",
[...]
