interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-03-29T19:03:06.0810881+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002","name":"StrictImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1fy50pKYM1p6y8Irhat3BOP7ID9s-2zF_92AZ2RurS4?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1fy50pKYM1p6y8Irhat3BOP7ID9s-2zF_92AZ2RurS4?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1fy50pKYM1p6y8Irhat3BOP7ID9s-2zF_92AZ2RurS4","name":"1fy50pKYM1p6y8Irhat3BOP7ID9s-2zF_92AZ2RurS4","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1fy50pKYM1p6y8Irhat3BOP7ID9s-2zF_92AZ2RurS4?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-29T19:03:06+00:00","endpoint":"https://strictimporttestar7bcwdu.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-03-29T19:03:06+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T19:03:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/strictimporttestar7bcwdu","name":"StrictImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"61005b77-0000-0100-0000-64248b6b0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-15T18:19:24+00:00","endpoint":"https://minigassou-vnetlocalwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus/privateEndpointConnections/PrivateLinkServicelocalWestCentralUS","name":"PrivateLinkServicelocalWestCentralUS","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MINIGASSOU-IntegrationRGlocalWestCentralUS/providers/Microsoft.Network/privateEndpoints/PrivateEndpointlocalWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","createdByType":"Application","createdAt":"2023-03-15T18:19:24+00:00","lastModifiedBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","lastModifiedByType":"Application","lastModifiedAt":"2023-03-15T18:20:04+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus","name":"MINIGASSOU-VNETlocalWCUS","tags":{"donotdelete":""}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1VnbbtpAEP0Xq%2BpTNg6kKWqkqNqCo9IQk9og1LyN14uzAdaud41Jovx7Zxfq%2BqE/MBIvCIF8dC5zZngLtDzYmdIbE1y/BasoXYyjeJHw2TINroMnaytzHYY70FDIndT2HF6bWp6LcheaJjOiVpVVpTbhaJRfQXbxmY1knrNPUgqWCfmFXQ3FYJCNrrLschRWdblXuaxNeK9EXZpybc95VY1LvVZFU4P7qVD036W2rKX5CpVie/wefn4zvBhesgt8DT5%2BMBtVLcqN1Dd70KKAV7bX0m5LAdtWNCY4C4jCMbLeKyGZhYIdgThuqJFyaA6NlcYaxyKSEXGaGLyqmPSCcjxEy2T%2BENEyiH2qS2u3SheejSHSkc6Xi%2B%2BOE55OOS00fX8YCQiGL1OXW1PuANEFI6FBMPE8QWYIqqzPi5YOyvLOy4wWI6IF/QwNq1xq%2BecnOkd8%2BqpCo%2B038gXBHCN4SIuOvqowhV12HcchMRwtPrtP31bZp7Kx1RaRfEv443RG0CR9VrLaly0e8wk/WYWuxAQI5OUEYxpPKA9HofTJ9fSGfFcdneFvEx6PI/LaWtdOWz/4A49pF5VnPxvv5klE3/AbT4ovXUTnfD%2BL9XFh9BOF3ybTMffIaOXxM24qgKs/cyHAXsGlWG9S0vNOBwhHpW%2BVq2gSYaL5awtRbkzrwixdTRePUTLj8cS1MqpYtu0AwfzkC57QZsU75rfvMD4DCDaYzixGaZ8AyAzGGJZLwsYX4HyPWbzivwgbRZctwujOLSevENvEOoFBI/61S4JLWAdkfdzA/l7voyV/oJXEBnbKQL4GvLr4gyuq7HStoAfGXb4B8v8YhRYpnbzQJ8H7WQD1jhdFLQuwMvf/vCAentwH738A
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 9524c125-ea36-400a-80b7-282b932957cf
      - 71f8d86e-58e6-4c19-8b5e-1594cf1dfba3
      - 93a1536b-273e-408a-aa97-78d6e1a954eb
      - 24f95149-bc93-4a22-892a-43a7d4bc5591
      - 85b1958e-df8a-41a2-a657-ac340cb84107
      - 46b4f54c-13b5-4b99-9715-a8bd772f8b89
      - a467897a-7320-4c81-b23a-b0e94af24ced
      - 8cfc636a-9efe-4409-b6af-9c9ada421b5c
      - df5957ca-b1f2-4801-bedd-860db8f851fa
      - 806d1fdd-4741-4354-87d9-8e9f06b5d293
      - 819e7ccc-7db5-48ee-8b0d-f6b05c22de42
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"/lAK-l0-s0:3tBZhjp5jIh+lX3ZrdXO","name":"Primary","value":"n71NfIIgG7Lhfu1QRWwxuD7QkfalIIcDVkT+7rZb2mE=","connectionString":"Endpoint=https://strictimporttestar7bcwdu.azconfig.io;Id=/lAK-l0-s0:3tBZhjp5jIh+lX3ZrdXO;Secret=n71NfIIgG7Lhfu1QRWwxuD7QkfalIIcDVkT+7rZb2mE=","lastModified":"2023-03-29T19:03:06+00:00","readOnly":false},{"id":"RDpo-l0-s0:gDfWhq059CdfxC3YQ2TC","name":"Secondary","value":"B2mxeeDNzDplNkcWetgm897mU1cJwZNWO903rc50yA8=","connectionString":"Endpoint=https://strictimporttestar7bcwdu.azconfig.io;Id=RDpo-l0-s0:gDfWhq059CdfxC3YQ2TC;Secret=B2mxeeDNzDplNkcWetgm897mU1cJwZNWO903rc50yA8=","lastModified":"2023-03-29T19:03:06+00:00","readOnly":false},{"id":"trYK-l0-s0:2r/iLB7VMMA8kub8R9Hs","name":"Primary
        Read Only","value":"HPkn5wZ0sN6pP3Bgj43pgYcojRT1awPb/oSB3y0PnB0=","connectionString":"Endpoint=https://strictimporttestar7bcwdu.azconfig.io;Id=trYK-l0-s0:2r/iLB7VMMA8kub8R9Hs;Secret=HPkn5wZ0sN6pP3Bgj43pgYcojRT1awPb/oSB3y0PnB0=","lastModified":"2023-03-29T19:03:06+00:00","readOnly":true},{"id":"NBqE-l0-s0:mCRcuvoTu1FfC9/8iXQ5","name":"Secondary
        Read Only","value":"EWLpOolzxBoFoJAOWmupTSIkCYBK3NW/Q6+lRpuEMEo=","connectionString":"Endpoint=https://strictimporttestar7bcwdu.azconfig.io;Id=NBqE-l0-s0:mCRcuvoTu1FfC9/8iXQ5;Secret=EWLpOolzxBoFoJAOWmupTSIkCYBK3NW/Q6+lRpuEMEo=","lastModified":"2023-03-29T19:03:06+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 29 2023 19:03:23 GMT
    method: GET
    uri: https://strictimporttestar7bcwdu.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMzNTU5NTg0OA==;sn=35595848
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNTU5NTg0OA==
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Mar, 29 2023 19:03:23 GMT
    method: PUT
    uri: https://strictimporttestar7bcwdu.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"Az2KxwLRkcGRt2LkrMTBXO-iNgrcazmgOwpSCJmZYmI","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-03-29T19:03:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Az2KxwLRkcGRt2LkrMTBXO-iNgrcazmgOwpSCJmZYmI"'
      last-modified:
      - Wed, 29 Mar 2023 19:03:23 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNTU5NTg0OQ==;sn=35595849
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNTU5NTg0OQ==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Mar, 29 2023 19:03:24 GMT
    method: PUT
    uri: https://strictimporttestar7bcwdu.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"Az5zLH9ASaannBtgSQRNINUBexi7FWPkBeWScbMTfyA","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-03-29T19:03:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Az5zLH9ASaannBtgSQRNINUBexi7FWPkBeWScbMTfyA"'
      last-modified:
      - Wed, 29 Mar 2023 19:03:24 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNTU5NTg1MA==;sn=35595850
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNTU5NTg1MA==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Mar, 29 2023 19:03:24 GMT
    method: PUT
    uri: https://strictimporttestar7bcwdu.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"cFh62By1gYznbB4l-ZIgKEAjlWLjglGdJlPtkvq_r8A","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2023-03-29T19:03:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"cFh62By1gYznbB4l-ZIgKEAjlWLjglGdJlPtkvq_r8A"'
      last-modified:
      - Wed, 29 Mar 2023 19:03:24 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNTU5NTg1MQ==;sn=35595851
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNTU5NTg1MQ==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Mar, 29 2023 19:03:24 GMT
    method: PUT
    uri: https://strictimporttestar7bcwdu.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"HefwFyDu4Ko2tsKfjACxmaC10DpwHITxGwLhz5jPklA","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2023-03-29T19:03:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HefwFyDu4Ko2tsKfjACxmaC10DpwHITxGwLhz5jPklA"'
      last-modified:
      - Wed, 29 Mar 2023 19:03:24 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNTU5NTg1Mg==;sn=35595852
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNTU5NTg1Mg==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Mar, 29 2023 19:03:24 GMT
    method: PUT
    uri: https://strictimporttestar7bcwdu.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"wkmrjiy0Udrs8z8SA4L7KohJ55bEIa81XSP244Or-hA","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-03-29T19:03:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wkmrjiy0Udrs8z8SA4L7KohJ55bEIa81XSP244Or-hA"'
      last-modified:
      - Wed, 29 Mar 2023 19:03:24 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNTU5NTg1Mw==;sn=35595853
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNTU5NTg1Mw==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Mar, 29 2023 19:03:24 GMT
    method: PUT
    uri: https://strictimporttestar7bcwdu.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"SC1WrGWmESWrPJ1xj9-A1IATcN4oqukouBak5ZxeyNY","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-03-29T19:03:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"SC1WrGWmESWrPJ1xj9-A1IATcN4oqukouBak5ZxeyNY"'
      last-modified:
      - Wed, 29 Mar 2023 19:03:24 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNTU5NTg1NA==;sn=35595854
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNTU5NTg1NA==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Mar, 29 2023 19:03:24 GMT
    method: PUT
    uri: https://strictimporttestar7bcwdu.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"1W75ptNvbXSIWWnh2Q85YzpmLYz73_0GzDiwORh9qT0","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-03-29T19:03:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1W75ptNvbXSIWWnh2Q85YzpmLYz73_0GzDiwORh9qT0"'
      last-modified:
      - Wed, 29 Mar 2023 19:03:24 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNTU5NTg1NQ==;sn=35595855
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNTU5NTg1NQ==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Mar, 29 2023 19:03:24 GMT
    method: PUT
    uri: https://strictimporttestar7bcwdu.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"HJUjDdI6YWxymipzS9doUEsmlXrjrRQHrwTOn2Z2I4w","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2023-03-29T19:03:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HJUjDdI6YWxymipzS9doUEsmlXrjrRQHrwTOn2Z2I4w"'
      last-modified:
      - Wed, 29 Mar 2023 19:03:24 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNTU5NTg1Ng==;sn=35595856
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNTU5NTg1Ng==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Mar, 29 2023 19:03:24 GMT
    method: PUT
    uri: https://strictimporttestar7bcwdu.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"X0xEFoo669rWCPBbKRwevli2tmQaPAqU2i2VVZ4X0nU","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2023-03-29T19:03:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"X0xEFoo669rWCPBbKRwevli2tmQaPAqU2i2VVZ4X0nU"'
      last-modified:
      - Wed, 29 Mar 2023 19:03:24 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNTU5NTg1Nw==;sn=35595857
    status:
      code: 200
      message: OK
[...]
