interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-08-02T22:54:22.9512366+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/_J3cWx06NCxbf3l-tGGrksrnNdTVDoOwihpj1XVVcXs?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/_J3cWx06NCxbf3l-tGGrksrnNdTVDoOwihpj1XVVcXs?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/_J3cWx06NCxbf3l-tGGrksrnNdTVDoOwihpj1XVVcXs","name":"_J3cWx06NCxbf3l-tGGrksrnNdTVDoOwihpj1XVVcXs","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/_J3cWx06NCxbf3l-tGGrksrnNdTVDoOwihpj1XVVcXs?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-08-02T22:54:23+00:00","endpoint":"https://kvsetimporttestw2ek4qeuh.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2022-08-02T22:54:23+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-02T22:54:23+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttestw2ek4qeuh","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"02002d03-0000-0100-0000-62e9ab1f0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3ZjRbtowFIbfJZp2NRNIy9CQqsmDVEvHAkqIkHrnOAYMwbZim9BWfffZgVH2CGeXEUrEp%2B%2Bc%2Fxz7LRDsZGZc7HUwfgtWcb6cxOkyw7MiD8bB1hilx2F4IIJs2IEJ0yOvtmE9Kg%2BhtqWmDVeGS6HD0agakrL%2FFY1YVaF7xigqKfuGhhEdDMrRsCzvRqFq5JFXrNHhb04bqeXa9LBSEynWfGMb4j8V0tun3MiG6e9EcXR077nfH6J%2BFKH%2BE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TYxBCsIwEAD%2FEsTbNm21BgsiRbzpqfqAJN1qKE1CNinF4t%2FVm8dhmFmYxTlejB2I1Qs7N%2B3t3rKaPWP0VHM%2BSisfOKKNmXylgJl2I6ekSAfjo3GWuBBdJVW%2BA4FdB1tEDUrjHqpSF4USlVIbwX1wk%2BkwEL8aHRy5PmaN9ydne%2FNIQf5WXP9TG11AOkpvYPp2X38o87KEvIK8WK9oMP7mBrSHOc0JJosRMBF7vz8%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 1236f26c-ee55-440b-9a80-0031045185a4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"XmuO-l0-s0:6p0ttmO15AiBOlp50Un8","name":"Primary","value":"blz2QShDsDgV9EXxHDVI264fWQ7rEyo1x2/6i3nNiBI=","connectionString":"Endpoint=https://kvsetimporttestw2ek4qeuh.azconfig.io;Id=XmuO-l0-s0:6p0ttmO15AiBOlp50Un8;Secret=blz2QShDsDgV9EXxHDVI264fWQ7rEyo1x2/6i3nNiBI=","lastModified":"2022-08-02T22:54:22+00:00","readOnly":false},{"id":"jmgU-l0-s0:dboTZU5B11+XW7NHOQgW","name":"Secondary","value":"KUrCy9CePmO1sG/T+7Ydl7kBbTdRcKWY9QV8ppADpfA=","connectionString":"Endpoint=https://kvsetimporttestw2ek4qeuh.azconfig.io;Id=jmgU-l0-s0:dboTZU5B11+XW7NHOQgW;Secret=KUrCy9CePmO1sG/T+7Ydl7kBbTdRcKWY9QV8ppADpfA=","lastModified":"2022-08-02T22:54:22+00:00","readOnly":false},{"id":"hVpz-l0-s0:BLIVwqq90Z/2fyxZN+K6","name":"Primary
        Read Only","value":"ZSyTqSKKeed0JAg0f9owSu/oP0achvKsQ/EckLfxny0=","connectionString":"Endpoint=https://kvsetimporttestw2ek4qeuh.azconfig.io;Id=hVpz-l0-s0:BLIVwqq90Z/2fyxZN+K6;Secret=ZSyTqSKKeed0JAg0f9owSu/oP0achvKsQ/EckLfxny0=","lastModified":"2022-08-02T22:54:22+00:00","readOnly":true},{"id":"gw8Y-l0-s0:LeWinlGxdPmE36Qcgovk","name":"Secondary
        Read Only","value":"+SG1tiiPSzCc1kWN8lo9SoYe3Y8bajpqmdVjGjIWDrY=","connectionString":"Endpoint=https://kvsetimporttestw2ek4qeuh.azconfig.io;Id=gw8Y-l0-s0:LeWinlGxdPmE36Qcgovk;Secret=+SG1tiiPSzCc1kWN8lo9SoYe3Y8bajpqmdVjGjIWDrY=","lastModified":"2022-08-02T22:54:22+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Aug, 02 2022 22:54:36 GMT
    method: PUT
    uri: https://kvsetimporttestw2ek4qeuh.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"p2N8_S0dGpfs0-5VCQyWCwBFkl5svMgQzdVg1ED-diM","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-08-02T22:54:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"p2N8_S0dGpfs0-5VCQyWCwBFkl5svMgQzdVg1ED-diM"'
      last-modified:
      - Tue, 02 Aug 2022 22:54:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNzM3NTI5Mg==;sn=17375292
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNzM3NTI5Mg==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Aug, 02 2022 22:54:37 GMT
    method: PUT
    uri: https://kvsetimporttestw2ek4qeuh.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"3kcd7yLewLkctgGoBjuVPNBg88nqnNAAoqYVrRGc8Ik","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-08-02T22:54:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3kcd7yLewLkctgGoBjuVPNBg88nqnNAAoqYVrRGc8Ik"'
      last-modified:
      - Tue, 02 Aug 2022 22:54:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNzM3NTI5Mw==;sn=17375293
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNzM3NTI5Mw==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Aug, 02 2022 22:54:37 GMT
    method: PUT
    uri: https://kvsetimporttestw2ek4qeuh.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"kjlFUrED-ZMQOuALOokoEk3Xsmz_6hXI2zwqdto-nR0","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2022-08-02T22:54:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kjlFUrED-ZMQOuALOokoEk3Xsmz_6hXI2zwqdto-nR0"'
      last-modified:
      - Tue, 02 Aug 2022 22:54:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNzM3NTI5NA==;sn=17375294
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNzM3NTI5NA==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Aug, 02 2022 22:54:37 GMT
    method: PUT
    uri: https://kvsetimporttestw2ek4qeuh.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"0iZhFP455LYfnFTHHzus7X46w-brteocOlcY7Eq-Q9k","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2022-08-02T22:54:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0iZhFP455LYfnFTHHzus7X46w-brteocOlcY7Eq-Q9k"'
      last-modified:
      - Tue, 02 Aug 2022 22:54:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNzM3NTI5NQ==;sn=17375295
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNzM3NTI5NQ==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Aug, 02 2022 22:54:37 GMT
    method: PUT
    uri: https://kvsetimporttestw2ek4qeuh.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"Q4P0ttzqHrCij82SUhryF4Xmplwue-OFaHr95-gXBJY","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-08-02T22:54:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Q4P0ttzqHrCij82SUhryF4Xmplwue-OFaHr95-gXBJY"'
      last-modified:
      - Tue, 02 Aug 2022 22:54:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNzM3NTI5Ng==;sn=17375296
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNzM3NTI5Ng==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Aug, 02 2022 22:54:37 GMT
    method: PUT
    uri: https://kvsetimporttestw2ek4qeuh.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"lrkL_Ewx_uP8Y_AttB9N-MWk2VUU3ev15bpKheXl9mU","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-08-02T22:54:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lrkL_Ewx_uP8Y_AttB9N-MWk2VUU3ev15bpKheXl9mU"'
      last-modified:
      - Tue, 02 Aug 2022 22:54:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNzM3NTI5Nw==;sn=17375297
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNzM3NTI5Nw==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Aug, 02 2022 22:54:37 GMT
    method: PUT
    uri: https://kvsetimporttestw2ek4qeuh.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"Qy4saTkvQEasDyDfnhZwbXbXnyIyD9HihGItjA6CFZw","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-08-02T22:54:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Qy4saTkvQEasDyDfnhZwbXbXnyIyD9HihGItjA6CFZw"'
      last-modified:
      - Tue, 02 Aug 2022 22:54:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNzM3NTI5OA==;sn=17375298
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNzM3NTI5OA==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Aug, 02 2022 22:54:37 GMT
    method: PUT
    uri: https://kvsetimporttestw2ek4qeuh.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"UkQ02US0NFGaoyNWp3CSy0DQ4zw37oSqQTnTwmM0tyo","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2022-08-02T22:54:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"UkQ02US0NFGaoyNWp3CSy0DQ4zw37oSqQTnTwmM0tyo"'
      last-modified:
      - Tue, 02 Aug 2022 22:54:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNzM3NTI5OQ==;sn=17375299
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNzM3NTI5OQ==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Aug, 02 2022 22:54:37 GMT
    method: PUT
    uri: https://kvsetimporttestw2ek4qeuh.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"n0uzuHx8px-zt3HQx4ChokScSZ8znp3hdrFHgM_H8So","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2022-08-02T22:54:38+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"n0uzuHx8px-zt3HQx4ChokScSZ8znp3hdrFHgM_H8So"'
      last-modified:
      - Tue, 02 Aug 2022 22:54:38 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNzM3NTMwMA==;sn=17375300
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhdb9owFIb%2FSzTtaiaQjqEiVZMHqZaOBZQQIfXOcQyYD8fyBylU%2Fe%2BzA2uzn3B2GaFEPHrOec%2BxXwPBXsyMi70Oxq%2FBKs6XkzhdZnhW5ME42Boj9TgMj0SQDTsyYXrkYhXr0foYaltqqrg0vBY6HI2qISn739CIVRX6yhhFJWX3aBjRwaAcDcvybhRKVZ94xZQOf3Oqal2vTQ9LOanFmm%2BsIv5TIe0%2B5aZWTH8nkqOTe8%2F9%2FhD1o[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 02 2022 22:54:41 GMT
    method: GET
    uri: https://kvsetimporttestw2ek4qeuh.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"p2N8_S0dGpfs0-5VCQyWCwBFkl5svMgQzdVg1ED-diM","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-08-02T22:54:37+00:00"},{"etag":"3kcd7yLewLkctgGoBjuV[...]
[...]
