interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-12-03T01:29:46.1706108+00:00","endpoint":"https://FeatureTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0cb5bd81-6c64-778a-f145-aedf85816037?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0cb5bd81-6c64-778a-f145-aedf85816037?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0cb5bd81-6c64-778a-f145-aedf85816037","name":"0cb5bd81-6c64-778a-f145-aedf85816037","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0cb5bd81-6c64-778a-f145-aedf85816037?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-12-03T01:29:53+00:00","endpoint":"https://featuretestdn5hicjcki7p6.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretestdn5hicjcki7p6","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"85000761-0000-0100-0000-5de5ba900000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"MV9U-l0-s0:BhoIuuYOUnTUrs+d/one","name":"Primary","value":"aBJks9lvp7zgM7xIaC404qRJKnDBtS6gvzIZaYNjK+c=","connectionString":"Endpoint=https://featuretestdn5hicjcki7p6.azconfig.io;Id=MV9U-l0-s0:BhoIuuYOUnTUrs+d/one;Secret=aBJks9lvp7zgM7xIaC404qRJKnDBtS6gvzIZaYNjK+c=","lastModified":"2019-12-03T01:29:51+00:00","readOnly":false},{"id":"+nO9-l0-s0:ciH44LhALgZlYphQoo1v","name":"Secondary","value":"RKqw+OSILhD66RUB8GI5bv2T5Sy6VF+PLg9RuUoqpnI=","connectionString":"Endpoint=https://featuretestdn5hicjcki7p6.azconfig.io;Id=+nO9-l0-s0:ciH44LhALgZlYphQoo1v;Secret=RKqw+OSILhD66RUB8GI5bv2T5Sy6VF+PLg9RuUoqpnI=","lastModified":"2019-12-03T01:29:51+00:00","readOnly":false},{"id":"xGno-l0-s0:INfmd++gL6jOi8SIGdQH","name":"Primary
        Read Only","value":"qxw5EVLje1b1UH0t9oFx5JDprPAmAnBOsh/PhlJxy48=","connectionString":"Endpoint=https://featuretestdn5hicjcki7p6.azconfig.io;Id=xGno-l0-s0:INfmd++gL6jOi8SIGdQH;Secret=qxw5EVLje1b1UH0t9oFx5JDprPAmAnBOsh/PhlJxy48=","lastModified":"2019-12-03T01:29:51+00:00","readOnly":true},{"id":"Z6ha-l0-s0:YaYDqFRSPatbyDY8RGjs","name":"Secondary
        Read Only","value":"x+xi6PGc+iVqYl0+A3TlqNL1QRrtDiXplw+Lxohaoik=","connectionString":"Endpoint=https://featuretestdn5hicjcki7p6.azconfig.io;Id=Z6ha-l0-s0:YaYDqFRSPatbyDY8RGjs;Secret=x+xi6PGc+iVqYl0+A3TlqNL1QRrtDiXplw+Lxohaoik=","lastModified":"2019-12-03T01:29:51+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 03 2019 01:30:03 GMT
    method: GET
    uri: https://featuretestdn5hicjcki7p6.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - ZBbQzjiWSA6Bcvu0IiEanYfqopxyCiYHLYi19RFZuKk=
      x-ms-date:
      - Dec, 03 2019 01:30:04 GMT
    method: PUT
    uri: https://featuretestdn5hicjcki7p6.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"vtDKBKtspAbUZJCRqsNRurqifOk","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2019-12-03T01:30:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vtDKBKtspAbUZJCRqsNRurqifOk"'
      last-modified:
      - Tue, 03 Dec 2019 01:30:04 GMT
      sync-token:
      - zAJw6V16=MzotMSM2OTM4NTY=;sn=693856
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"Beta Testing Feature Flag\",
      \"enabled\": false, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"vtDKBKtspAbUZJCRqsNRurqifOk"'
      x-ms-content-sha256:
      - DoIfgrWElRzzmIWw9BbbTAuyoYjaPPSUGC5wCuMtXGM=
      x-ms-date:
      - Dec, 03 2019 01:30:05 GMT
    method: PUT
    uri: https://featuretestdn5hicjcki7p6.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"TeyxzNMq1fHw6ToFh47Ysy9B3Sb","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-12-03T01:30:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TeyxzNMq1fHw6ToFh47Ysy9B3Sb"'
      last-modified:
      - Tue, 03 Dec 2019 01:30:06 GMT
      sync-token:
      - zAJw6V16=MzotMSM2OTM4NjA=;sn=693860
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 03 2019 01:30:14 GMT
    method: GET
    uri: https://featuretestdn5hicjcki7p6.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 03 2019 01:30:15 GMT
    method: GET
    uri: https://featuretestdn5hicjcki7p6.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"TeyxzNMq1fHw6ToFh47Ysy9B3Sb","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-12-03T01:30:06+00:00"},{"etag":"9inS68xu3ShTeN6eknBar6ylgAJ","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-12-03T01:30:09+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM2OTM4Njc=;sn=693867
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 03 2019 01:30:17 GMT
    method: GET
    uri: https://featuretestdn5hicjcki7p6.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=*&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"TeyxzNMq1fHw6ToFh47Ysy9B3Sb","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-12-03T01:30:06+00:00"},{"etag":"9inS68xu3ShTeN6eknBar6ylgAJ","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-12-03T01:30:09+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM2OTM4Njc=;sn=693867
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 03 2019 01:30:18 GMT
    method: GET
    uri: https://featuretestdn5hicjcki7p6.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"BetaPrefix\", \"description\": null, \"enabled\": false,
      \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - fGWgAfyQJOUbfN3TGweT5UR0KyOQdYpna4KIF03N7FY=
      x-ms-date:
      - Dec, 03 2019 01:30:18 GMT
    method: PUT
    uri: https://featuretestdn5hicjcki7p6.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"cqAvBtZALVqIpcIr7YxaIwuHUeo","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-12-03T01:30:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"cqAvBtZALVqIpcIr7YxaIwuHUeo"'
      last-modified:
      - Tue, 03 Dec 2019 01:30:19 GMT
      sync-token:
      - zAJw6V16=MzotMSM2OTM4Njk=;sn=693869
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 03 2019 01:30:20 GMT
    method: GET
    uri: https://featuretestdn5hicjcki7p6.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"SuffixBeta\", \"description\": null, \"enabled\": false,
      \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - dpFNLissPTDP7bRr0vn2iyehFue4yzJR6nnF8DawIFg=
      x-ms-date:
      - Dec, 03 2019 01:30:20 GMT
    method: PUT
    uri: https://featuretestdn5hicjcki7p6.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"i6D49wHUEf8BD0n6t5ORLSwJVz6","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-12-03T01:30:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"i6D49wHUEf8BD0n6t5ORLSwJVz6"'
      last-modified:
      - Tue, 03 Dec 2019 01:30:21 GMT
      sync-token:
      - zAJw6V16=MzotMSM2OTM4NzE=;sn=693871
    status:
      code: 200
      message: OK
[...]
