interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2024-12-17T07:53:24.5853669+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002",
        "name": "KVSetImportTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OiJcoHh_iRFOKiMcdMMEwwJU8WSjsavmswowf5jL_Vg?api-version=2024-05-01&t=638700188048263749&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OiJcoHh_iRFOKiMcdMMEwwJU8WSjsavmswowf5jL_Vg?api-version=2024-05-01&t=638700188048263749&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2024-12-17T07:53:24+00:00", "endpoint": "https://kvsetimporttestclm5llbzo.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-17T07:53:24+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-12-17T07:53:24+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttestclm5llbzo",
        "name": "KVSetImportTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d00069ad-0000-0100-0000-67612df60000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvsetimporttestclm5llbzo.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-12-17T07:53:24+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvsetimporttestclm5llbzo.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-12-17T07:53:24+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvsetimporttestclm5llbzo.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-12-17T07:53:24+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvsetimporttestclm5llbzo.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-12-17T07:53:24+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:09.672085 GMT
    method: GET
    uri: https://kvsetimporttestclm5llbzo.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MzoxOSM2NjM3MjUyNw==;sn=66372527
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM3MjUyNw==
      x-ms-content-sha256:
      - vooIQS2Lc83p3cZJS7Qp5TL+wPNgfiHeUrZC71Varzs=
      x-ms-date:
      - Dec, 17 2024 07:54:10.015415 GMT
    method: PUT
    uri: https://kvsetimporttestclm5llbzo.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"6UdW69fQWjrKhoC_qNRuLy-tfXPZrzu0PjlRumKV4_g","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6UdW69fQWjrKhoC_qNRuLy-tfXPZrzu0PjlRumKV4_g"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:10 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM3MjUyOA==;sn=66372528
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"bool-feature\", \"description\": \"It is a boolean feature\",
      \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\":
      null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM3MjUyOA==
      x-ms-content-sha256:
      - UhxU[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM3MjUyOQ==
      x-ms-content-sha256:
      - Z9vdOmW9IIdhx2BgTvHER4NiDLOkF6QL50jtUUXyuos=
      x-ms-date:
      - Dec, 17 2024 07:54:10.234568 GMT
    method: PUT
    uri: https://kvsetimporttestclm5llbzo.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=2023-11-01
  response:
    body:
      stri[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM3MjUzMA==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Dec, 17 2024 07:54:10.343746 GMT
    method: PUT
    uri: https://kvsetimporttestclm5llbzo.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"jCTXoX5W-iFlBcAA0aDq7AOGSZeCIr-l4yoy_2tZ0iM","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2024-12-17T07:54:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"jCTXoX5W-iFlBcAA0aDq7AOGSZeCIr-l4yoy_2tZ0iM"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:10 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM3MjUzMQ==;sn=66372531
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM3MjUzMQ==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Dec, 17 2024 07:54:10.460046 GMT
    method: PUT
    uri: https://kvsetimporttestclm5llbzo.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"H5XhC9xfnWbvZFYyGfqCzeBLuxDWoQliOe_EBGp-bGQ","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-12-17T07:54:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"H5XhC9xfnWbvZFYyGfqCzeBLuxDWoQliOe_EBGp-bGQ"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:10 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM3MjUzMg==;sn=66372532
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM3MjUzMg==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Dec, 17 2024 07:54:10.570751 GMT
    method: PUT
    uri: https://kvsetimporttestclm5llbzo.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"UdHq1QDuTMhqtFo-E1DaHY5a6kUr_WGUlAA1-Q35GxM","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-12-17T07:54:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"UdHq1QDuTMhqtFo-E1DaHY5a6kUr_WGUlAA1-Q35GxM"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:10 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM3MjUzMw==;sn=66372533
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM3MjUzMw==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Dec, 17 2024 07:54:10.681848 GMT
    method: PUT
    uri: https://kvsetimporttestclm5llbzo.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"-xVoBwiKybNHG8z2eO8q8sfaYjVwbxtHlFVjN4YBwC8","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-12-17T07:54:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"-xVoBwiKybNHG8z2eO8q8sfaYjVwbxtHlFVjN4YBwC8"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:10 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM3MjUzNA==;sn=66372534
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM3MjUzNA==
      x-ms-content-sha256:
      - KG6foKmNh5fImJNssBeIcpD6vIlOFOyqNrEtrNcI1x4=
      x-ms-date:
      - Dec, 17 2024 07:54:10.793566 GMT
    method: PUT
    uri: https://kvsetimporttestclm5llbzo.azconfig.io/kv/pratik-top-secret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"UzLYwZ5V5oKvQeMc3jllUfAGsP5z8TbBYx-FGXlen_8","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"UzLYwZ5V5oKvQeMc3jllUfAGsP5z8TbBYx-FGXlen_8"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:10 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM3MjUzNQ==;sn=66372535
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM3MjUzNQ==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Dec, 17 2024 07:54:10.903875 GMT
    method: PUT
    uri: https://kvsetimporttestclm5llbzo.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"CJA7nzLW8sA6uyZD-zN-ed0ja5GSQ0foLuv3Ajx9SLI","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2024-12-17T07:54:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CJA7nzLW8sA6uyZD-zN-ed0ja5GSQ0foLuv3Ajx9SLI"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:10 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM3MjUzNg==;sn=66372536
    status:
      code: 200
      message: OK
[...]
