interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-05-06T21:24:30.3752664+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":{"name":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6c683879-a960-5480-e27b-acade51cfe78?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6c683879-a960-5480-e27b-acade51cfe78?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6c683879-a960-5480-e27b-acade51cfe78","name":"6c683879-a960-5480-e27b-acade51cfe78","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6c683879-a960-5480-e27b-acade51cfe78?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-05-06T21:24:33+00:00","endpoint":"https://source6idnvm2k52yuryhdz4.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/source6idnvm2k52yuryhdz4","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"03009976-0000-0100-0000-60945e900000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[]},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-03-25T04:52:09+00:00","endpoint":"https://ernestt-test3.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ernestt-test/providers/Microsoft.AppConfiguration/configurationStores/ernestt-test3","name":"ernestt-test3","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-04-30T18:46:40+00:00","endpoint":"https://recao430.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/recao/providers/Microsoft.AppConfiguration/configurationStores/recao430/privateEndpointConnections/recaoprivateendpoint.204b901d-c719-4004-82e8-e997f17b9ad4","name":"recaoprivateendpoint.204b901d-c719-4004-82e8-e997f17b9ad4","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/recao/providers/Microsoft.Network/privateEndpoints/recaoprivateendpoint"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}]},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/recao/providers/Microsoft.AppConfiguration/configurationStores/recao430","name":"recao430","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"4SB2-l0-s0:+P0yEXB4gM5XiHzZawRM","name":"Primary","value":"mgAQvxLcIIi1wr5BL6LlTswu2P8CFwlEPj6JYVQZCb8=","connectionString":"Endpoint=https://source6idnvm2k52yuryhdz4.azconfig.io;Id=4SB2-l0-s0:+P0yEXB4gM5XiHzZawRM;Secret=mgAQvxLcIIi1wr5BL6LlTswu2P8CFwlEPj6JYVQZCb8=","lastModified":"2021-05-06T21:24:30+00:00","readOnly":false},{"id":"0nQT-l0-s0:jYPpLHAlC9iA9Jn58/be","name":"Secondary","value":"khoDlGDHlgINTLDWt++AigS+B4VXa6HrFNauxrOMH+U=","connectionString":"Endpoint=https://source6idnvm2k52yuryhdz4.azconfig.io;Id=0nQT-l0-s0:jYPpLHAlC9iA9Jn58/be;Secret=khoDlGDHlgINTLDWt++AigS+B4VXa6HrFNauxrOMH+U=","lastModified":"2021-05-06T21:24:30+00:00","readOnly":false},{"id":"2X26-l0-s0:kDuyEU/HzcQp7TN9JLZR","name":"Primary
        Read Only","value":"2br/MAiXUT8BlieRmhxCuBlugmnyT5jjW3uJj574yiU=","connectionString":"Endpoint=https://source6idnvm2k52yuryhdz4.azconfig.io;Id=2X26-l0-s0:kDuyEU/HzcQp7TN9JLZR;Secret=2br/MAiXUT8BlieRmhxCuBlugmnyT5jjW3uJj574yiU=","lastModified":"2021-05-06T21:24:30+00:00","readOnly":true},{"id":"ZeNS-l0-s0:MocEYi0JlK+Aouba1cux","name":"Secondary
        Read Only","value":"53NaTMi8Y/fNazHyTmAcfY3MIzn+qWllwYUqwdkxuFQ=","connectionString":"Endpoint=https://source6idnvm2k52yuryhdz4.azconfig.io;Id=ZeNS-l0-s0:MocEYi0JlK+Aouba1cux;Secret=53NaTMi8Y/fNazHyTmAcfY3MIzn+qWllwYUqwdkxuFQ=","lastModified":"2021-05-06T21:24:30+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-05-06T21:25:04.5448805+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":{"name":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003","name":"Destination000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c8258cea-2884-da6a-1e73-dfc4f1210381?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"zUaZ-l0-s0:Z6rC+W+/OcgMYyqliKO/","name":"Primary","value":"nsVPEtK6Zczo1+6KIMCmiYoxWsdNVZdSnKVaM9rsPyw=","connectionString":"Endpoint=https://destinationmwz2dyqbu[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:37 GMT
    method: GET
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - May, 06 2021 21:25:37 GMT
    method: PUT
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"mzk3jzcb6jnjHXephODo9y8yH12","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:38+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mzk3jzcb6jnjHXephODo9y8yH12"'
      last-modified:
      - Thu, 06 May 2021 21:25:38 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzU1;sn=5401755
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - May, 06 2021 21:25:42 GMT
    method: PUT
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"entae81IvDg6BLNgVhAf5ESBIl9","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"entae81IvDg6BLNgVhAf5ESBIl9"'
      last-modified:
      - Thu, 06 May 2021 21:25:42 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzY1;sn=5401765
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - May, 06 2021 21:25:42 GMT
    method: PUT
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"Nhh7eH8yP9j6QLmQkmAK0xziakR","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Nhh7eH8yP9j6QLmQkmAK0xziakR"'
      last-modified:
      - Thu, 06 May 2021 21:25:43 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzY2;sn=5401766
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:44 GMT
    method: GET
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - d1lyg6a+9mnBVyP0ORwLzt/rsyGm0ESqcmS4R9loiVI=
      x-ms-date:
      - May, 06 2021 21:25:45 GMT
    method: PUT
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"st10KuTsaaV0wig0hpzzVAv4Slo","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"st10KuTsaaV0wig0hpzzVAv4Slo"'
      last-modified:
      - Thu, 06 May 2021 21:25:45 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzY5;sn=5401769
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:45 GMT
    method: GET
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:45 GMT
    method: GET
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"st10KuTsaaV0wig0hpzzVAv4Slo","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:45+00:00"},{"etag":"CPixGo7v0GXTxUZTtJL8mBkmbJF","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+js[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM1NDAxNzcw
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:46 GMT
    method: GET
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"st10KuTsaaV0wig0hpzzVAv4Slo","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:45+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzcw;sn=5401770
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/json", "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - BQQ1gp4Y1tNofWlDIrl2nQAUENI/IgK/dzCjjxGKUD8=
      x-ms-date:
      - May, 06 2021 21:25:46 GMT
    method: PUT
    uri: https://destinationmwz2dyqbu62od.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: '{"etag":"mvOnJGTViTrqwYMv57zSH7ULvE4","key":"HostSecrets","label":null,"content_type":"application/json","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mvOnJGTViTrqwYMv57zSH7ULvE4"'
      last-modified:
      - Thu, 06 May 2021 21:25:46 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzcx;sn=5401771
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NDAxNzcx
      x-ms-content-sha256:
      - ssERcN/l30qL3zGxsEuQXd8SMRck/hPK9o4FH0rGF6Q=
      x-ms-date:
      - May, 06 2021 21:25:46 GMT
    method: PUT
    uri: https://destinationmwz2dyqbu62od.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"smQLbB8re5U1boQ3iYGN9DK06iE","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"smQLbB8re5U1boQ3iYGN9DK06iE"'
      last-modified:
      - Thu, 06 May 2021 21:25:47 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzcy;sn=5401772
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NDAxNzg1
      x-ms-content-sha256:
      - d1lyg6a+9mnBVyP0ORwLzt/rsyGm0ESqcmS4R9loiVI=
      x-ms-date:
      - May, 06 2021 21:25:47 GMT
    method: PUT
    uri: https://destinationmwz2dyqbu62od.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"RHtxWiU5C6eHwMUfwR2XDbjyHPH","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:48+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RHtxWiU5C6eHwMUfwR2XDbjyHPH"'
      last-modified:
      - Thu, 06 May 2021 21:25:48 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzg2;sn=5401786
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:48 GMT
    method: GET
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"st10KuTsaaV0wig0hpzzVAv4Slo","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:45+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzg2;sn=5401786
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:48 GMT
    method: GET
    uri: https://destinationmwz2dyqbu62od.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"RHtxWiU5C6eHwMUfwR2XDbjyHPH","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"i[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:48 GMT
    method: GET
    uri: https://destinationmwz2dyqbu62od.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"RHtxWiU5C6eHwMUfwR2XDbjyHPH","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:48+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzg2;sn=5401786
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:49 GMT
    method: GET
    uri: https://destinationmwz2dyqbu62od.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"RHtxWiU5C6eHwMUfwR2XDbjyHPH","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
- request:
    body: null
    headers:
      If-Match:
      - '"RHtxWiU5C6eHwMUfwR2XDbjyHPH"'
      Sync-Token:
      - zAJw6V16=NDoxOSM1NDAxNzg2
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:49 GMT
    method: DELETE
    uri: https://destinationmwz2dyqbu62od.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"RHtxWiU5C6eHwMUfwR2XDbjyHPH","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:48+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RHtxWiU5C6eHwMUfwR2XDbjyHPH"'
      last-modified:
      - Thu, 06 May 2021 21:25:48 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzg3;sn=5401787
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:25:54 GMT
    method: GET
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"st10KuTsaaV0wig0hpzzVAv4Slo","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
[...]
- request:
    body: '{"key": "Array", "content_type": "application/json", "value": "[\"StringBoolValue\",
      \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - Zi8aaIF8dKSMjbUqEeK3OxywatmQee6zWX+zKd2w3/I=
      x-ms-date:
      - May, 06 2021 21:25:58 GMT
    method: PUT
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv/Array?api-version=1.0
  response:
    body:
      string: '{"etag":"O2lzwE1awSvJepvhWgX7uWiJFtp","key":"Array","label":null,"content_type":"application/json","value":"[\"StringBoolValue\",
        \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"O2lzwE1awSvJepvhWgX7uWiJFtp"'
      last-modified:
      - Thu, 06 May 2021 21:25:59 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxODUx;sn=5401851
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyHybridList", "content_type": "application/json",
      "value": "[1000, true, \"AppConfig string value\", [\"NestedArray\", 12, false,
      null], {\"ObjectSetting\": {\"Logging\": {\"LogLevel\": \"Information\", \"Default\":
      \"Debug\"}}}]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NDAxODUx
      x-ms-content-sha256:
      - /VcnuUjWi67XSfj41owPM1TEqVKKosXnlVKtym7qLXE=
      x-ms-date:
      - May, 06 2021 21:25:58 GMT
    method: PUT
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv/ComplexSettings%3AMyHybridList?api-version=1.0
  response:
    body:
      string: '{"etag":"wwqVLKjZEQDxQWlXo1H6FsXx1IR","key":"ComplexSettings:MyHybridList","label":null,"content_type":"application/json","value":"[1000,
        true, \"AppConfig string value\", [\"NestedArray\", 12, false, null], {\"ObjectSetting\":
        {\"Logging\": {\"LogLevel\": \"Information\", \"Default\": \"Debug\"}}}]","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wwqVLKjZEQDxQWlXo1H6FsXx1IR"'
      last-modified:
      - Thu, 06 May 2021 21:25:59 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxODUy;sn=5401852
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyListOfHybridLists", "content_type": "application/json",
      "value": "[[\"NestedArray4\", 34], [\"NestedArray5\", true, null], [\"NestedArray6\",
      {\"MyNullValue\": null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\":
      \"Value1\", \"Name2\": \"Value2\"}}}}]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NDAxODUy
      x-ms-content-sha256:
      - waQP+q+AwyPi/xF1iyJ1blSf1MV6qg+7yBm1kO8sEAY=
      x-ms-date:
      - May, 06 2021 21:25:58 GMT
    method: PUT
    uri: https://source6idnvm2k52yuryhdz4.azconfig.io/kv/ComplexSettings%3AMyListOfHybridLists?api-version=1.0
  response:
    body:
      string: '{"etag":"pD55cDWGS0Gr08gjJhUpJVj7sh5","key":"ComplexSettings:MyListOfHybridLists","label":null,"content_type":"application/json","value":"[[\"NestedArray4\",
        34], [\"NestedArray5\", true, null], [\"NestedArray6\", {\"MyNullValue\":
        null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\": \"Value1\", \"Name2\":
        \"Value2\"}}}}]]","tags":{},"locked":false,"last_modified":"2021-05-06T21:25:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pD55cDWGS0Gr08gjJhUpJVj7sh5"'
      last-modified:
      - Thu, 06 May 2021 21:25:59 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxODUz;sn=5401853
    status:
      code: 200
      message: OK
- request:
[...]
