interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-05-15T01:01:23.5102668+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c09e7e4a-b852-aac0-84b5-ff5fab2cc998?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c09e7e4a-b852-aac0-84b5-ff5fab2cc998?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c09e7e4a-b852-aac0-84b5-ff5fab2cc998","name":"c09e7e4a-b852-aac0-84b5-ff5fab2cc998","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c09e7e4a-b852-aac0-84b5-ff5fab2cc998?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-05-15T01:01:26+00:00","endpoint":"https://kvtestfkglcmzwhrkxayu5zs.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"shuawan@microsoft.com","createdByType":"User","createdAt":"2021-05-15T01:01:26+00:00","lastModifiedBy":"shuawan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-05-15T01:01:26+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestfkglcmzwhrkxayu5zs","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5305c384-0000-0100-0000-609f1d650000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"2hVu-l0-s0:k9KRNRGPkQ1Xvp2kWzfu","name":"Primary","value":"0lNSF6/EqUUHHMhDECjPP+mLX6aKdVBJ3QYG3b3JAGc=","connectionString":"Endpoint=https://kvtestfkglcmzwhrkxayu5zs.azconfig.io;Id=2hVu-l0-s0:k9KRNRGPkQ1Xvp2kWzfu;Secret=0lNSF6/EqUUHHMhDECjPP+mLX6aKdVBJ3QYG3b3JAGc=","lastModified":"2021-05-15T01:01:23+00:00","readOnly":false},{"id":"VBbT-l0-s0:fZgV1e7HJErd2gO1cugw","name":"Secondary","value":"1qKVXaa9RD2qWIYvzBsLKwwY3HbCjaA/CjGIMucYt34=","connectionString":"Endpoint=https://kvtestfkglcmzwhrkxayu5zs.azconfig.io;Id=VBbT-l0-s0:fZgV1e7HJErd2gO1cugw;Secret=1qKVXaa9RD2qWIYvzBsLKwwY3HbCjaA/CjGIMucYt34=","lastModified":"2021-05-15T01:01:23+00:00","readOnly":false},{"id":"kMr1-l0-s0:kZzTKr0fqA8HPg3jd5/l","name":"Primary
        Read Only","value":"YAC8dAOgBhyLER3GhqFBzhoq8/jPC3FisfGPRL5tb1w=","connectionString":"Endpoint=https://kvtestfkglcmzwhrkxayu5zs.azconfig.io;Id=kMr1-l0-s0:kZzTKr0fqA8HPg3jd5/l;Secret=YAC8dAOgBhyLER3GhqFBzhoq8/jPC3FisfGPRL5tb1w=","lastModified":"2021-05-15T01:01:23+00:00","readOnly":true},{"id":"OzVY-l0-s0:M0ErFCFF43p8pwEEM9xl","name":"Secondary
        Read Only","value":"6UbT5prKdXsIy6adxOCwF/Ums2JP2QJzXnLMZwntSow=","connectionString":"Endpoint=https://kvtestfkglcmzwhrkxayu5zs.azconfig.io;Id=OzVY-l0-s0:M0ErFCFF43p8pwEEM9xl;Secret=6UbT5prKdXsIy6adxOCwF/Ums2JP2QJzXnLMZwntSow=","lastModified":"2021-05-15T01:01:23+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:01:56 GMT
    method: GET
    uri: https://kvtestfkglcmzwhrkxayu5zs.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - MwzGxk1LYxnY/sTg97MuL3lyqOFhfLtQAeKOeXHcXj4=
      x-ms-date:
      - May, 15 2021 01:01:57 GMT
    method: PUT
    uri: https://kvtestfkglcmzwhrkxayu5zs.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"bXcj0Jk7ejvJhZfB0RLRDwGFQCF","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2021-05-15T01:01:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bXcj0Jk7ejvJhZfB0RLRDwGFQCF"'
      last-modified:
      - Sat, 15 May 2021 01:01:57 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1MDk2MjM2;sn=5096236
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"bXcj0Jk7ejvJhZfB0RLRDwGFQCF"'
      Sync-Token:
      - zAJw6V16=MzoxOSM1MDk2MjM4
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - May, 15 2021 01:02:19 GMT
    method: PUT
    uri: https://kvtestfkglcmzwhrkxayu5zs.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"Q2NeUuaqKeJn1bKztzdvkQ9ZX43","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Q2NeUuaqKeJn1bKztzdvkQ9ZX43"'
      last-modified:
      - Sat, 15 May 2021 01:02:19 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1MDk2MjM5;sn=5096239
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:02:41 GMT
    method: GET
    uri: https://kvtestfkglcmzwhrkxayu5zs.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
