interactions:
- request:
    body: '{"sku": {"name": "Free"}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-11-11T20:51:45.8398199+00:00","endpoint":"https://CredentialTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/496f95b0-2876-8575-7321-97c1d1264026?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/496f95b0-2876-8575-7321-97c1d1264026?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/496f95b0-2876-8575-7321-97c1d1264026","name":"496f95b0-2876-8575-7321-97c1d1264026","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/496f95b0-2876-8575-7321-97c1d1264026?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-11-11T20:51:47+00:00","endpoint":"https://credentialtestr34t5eo6yh.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtestr34t5eo6yh","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"be0060ce-0000-0100-0000-5dc9c9e30000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"Qbtr-l0-s0:XjYpeGnfFzVOpLSn/Wxa","name":"Primary","value":"L2orXTUGr9hWn22DkBeo+uz+C8v6NTkh21wlXy5AWvQ=","connectionString":"Endpoint=https://credentialtestr34t5eo6yh.azconfig.io;Id=Qbtr-l0-s0:XjYpeGnfFzVOpLSn/Wxa;Secret=L2orXTUGr9hWn22DkBeo+uz+C8v6NTkh21wlXy5AWvQ=","lastModified":"2019-11-11T20:51:46+00:00","readOnly":false},{"id":"nUiR-l0-s0:JUuH9EWV6liOhp7c0oxS","name":"Secondary","value":"75iHXyMqswRzBY8yFdZUjZyiaVR59O+xzWFKbpYwhQc=","connectionString":"Endpoint=https://credentialtestr34t5eo6yh.azconfig.io;Id=nUiR-l0-s0:JUuH9EWV6liOhp7c0oxS;Secret=75iHXyMqswRzBY8yFdZUjZyiaVR59O+xzWFKbpYwhQc=","lastModified":"2019-11-11T20:51:46+00:00","readOnly":false},{"id":"LTwP-l0-s0:IbJ4V/G5cHr1zqnuQcLQ","name":"Primary
        Read Only","value":"z6z8KPz9Ss00Rt0SU0bbmywAlEIb7cokEhu3CwWvq+0=","connectionString":"Endpoint=https://credentialtestr34t5eo6yh.azconfig.io;Id=LTwP-l0-s0:IbJ4V/G5cHr1zqnuQcLQ;Secret=z6z8KPz9Ss00Rt0SU0bbmywAlEIb7cokEhu3CwWvq+0=","lastModified":"2019-11-11T20:51:46+00:00","readOnly":true},{"id":"Cr0g-l0-s0:S/O/ngnrIXYflO3FPC7y","name":"Secondary
        Read Only","value":"QaJDpiqvyYWt8ZQWPaX611fOUDNooHQMECvqkezo+6M=","connectionString":"Endpoint=https://credentialtestr34t5eo6yh.azconfig.io;Id=Cr0g-l0-s0:S/O/ngnrIXYflO3FPC7y;Secret=QaJDpiqvyYWt8ZQWPaX611fOUDNooHQMECvqkezo+6M=","lastModified":"2019-11-11T20:51:46+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "Qbtr-l0-s0:XjYpeGnfFzVOpLSn/Wxa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/RegenerateKey?api-version=2019-10-01
  response:
    body:
      string: '{"id":"l8s7-l0-s0:bPAWO7ymdX8TUGsi4sOT","name":"Primary","value":"760HyfG+uMD+dlf/rvD8kTVVSCUdULaQAGpD4Ze/Qyw=","connectionString":"Endpoint=https://credentialtestr34t5eo6yh.azconfig.io;Id=l8s7-l0-s0:bPAWO7ymdX8TUGsi4sOT;Secret=760HyfG+uMD+dlf/rvD8kTVVSCUdULaQAGpD4Ze/Qyw=","lastModified":"2019-11-11T20:52:05+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
