interactions:
- request:
    body: '{"location": "francecentral", "sku": {"name": "Standard"}, "properties":
      {"softDeleteRetentionInDays": 1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "francecentral", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-03-19T23:56:37.1255683+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002",
        "name": "SnapshotStore000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/francecentral/operationsStatus/ewsbXj968ZN-prv1JM7twvhqE7E8yZqnonfMYbTPgLw?api-version=2024-05-01&t=638780253972781629&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/francecentral/operationsStatus/ewsbXj968ZN-prv1JM7twvhqE7E8yZqnonfMYbTPgLw?api-version=2024-05-01&t=638780253972781629&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "francecentral", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-03-19T23:56:37+00:00", "endpoint": "https://snapshotstoremshahygz7sz.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2025-03-19T23:56:37+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2025-03-19T23:56:37+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapshotstoremshahygz7sz",
        "name": "SnapshotStore000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4c01e8f9-0000-0e00-0000-67db59b80000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZtdTyM3FIb/y6jqFUP4LFqkVeXCbDddSOgkUbooN87ECUMyH2vPbCCI/16f44kzASr19r1BsAikZ1%2Bf42P74SXI1VN1k%2BZLE1y%2BBONoMLyKesNY3IwGwWXwUFWluex0MpnLhcpUXh3KTa3VYVJkHVNPTaLTskqL3HQuLmbncnr0W3ihZrPwTKkknCbqU3h%2BkhwfTy/Op9PTi06pi5/pTGnTuU0TXZhiXh2Ksrwq8nm6qLWkX9VJ2l8NqkIr87ss0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=3ZDNSsRAEITfZRBPTiaJicHAIkEEDwbBXW%2B5zE9vHGNmhp5OEEPe3fgD7jN4rKrugq8W5uCdHqwbIqsXdtfsD897VrMXohBrIUbpZA8jOErkx4SQaD%2BKOKmo0Qay3kVRVaaUKr3iFRjDCwDNlYZrXuY6y1RVKnVZiYB%2BtgYwitZq9NEfKWlCuPXuaPsJ5VeV0KdqTx4h3shg%2Bbz9bfkuT/OCpyVPs/OzONhw8AO4XSS0muwYPBJBpNdi8PMcJFsv/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZDNSsQwFIXfJYgr07SdqcXCIEUEFxbBjrtu8nMnhtok3KRDsfTdjT%2Bgr%2BDynHPPhe%2BsxMISH40dA2lWct/2x5eeNOQ1Rh8axiZuuYYJbMz4%2B4yQSTexMIsg0fhonA2srlXFRX5Na1CK7gEkFRJuaFXKohB1JcSuZh7d2SjAwDoj0QV3ilnr/Z2zJ6Nn5J%2BvmPyr%2BugQwi33hp5TL%2BWHMi/3NK9oXlxehNH4oxvBHpZ5mWlQdEe2q1%2BaJ/vg3lRiSibHqdUaQfMI6quUCNvnjnzfdxxHwGStw88AA2mGfznBQDayfQA%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 83c52705-e358-4859-859e-781536a96e4a
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://snapshotstoremshahygz7sz.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-03-19T23:56:37+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://snapshotstoremshahygz7sz.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-03-19T23:56:37+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://snapshotstoremshahygz7sz.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-03-19T23:56:37+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://snapshotstoremshahygz7sz.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-03-19T23:56:37+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 23:57:32.391727 GMT
    method: GET
    uri: https://snapshotstoremshahygz7sz.azconfig.io/kv/TestKey1?label=dev&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwMQ==;sn=20942701
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "TestKey1", "label": "dev", "content_type": "", "value": "TestValue1"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NjoxNSMyMDk0MjcwMQ==
      x-ms-content-sha256:
      - xwSBbs/Ufbqlge/grOzRCsrTfWpxwhwq3cZh/F1MJ6M=
      x-ms-date:
      - Mar, 19 2025 23:57:32.945457 GMT
    method: PUT
    uri: https://snapshotstoremshahygz7sz.azconfig.io/kv/TestKey1?label=dev&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"UrEC4XJqgth3A2P0fvOot7umimtVTWwDP7g_6VK4ft4","key":"TestKey1","label":"dev","content_type":"","value":"TestValue1","tags":{},"locked":false,"last_modified":"2025-03-19T23:57:33+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"UrEC4XJqgth3A2P0fvOot7umimtVTWwDP7g_6VK4ft4"'
      last-modified:
      - Wed, 19 Mar 2025 23:57:33 GMT
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwMg==;sn=20942702
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 23:57:33.864459 GMT
    method: GET
    uri: https://snapshotstoremshahygz7sz.azconfig.io/kv/LastTestKey?label=dev&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwMw==;sn=20942703
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"filters": [{"key": "Test*", "label": "dev"}], "composition_type": "key_label",
      "retention_period": 3600, "tags": {"tag1": "value1"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - QOJrSlIW1Ic6HknwF2BNpkjRIbayUP+dU2YD6yiAyAc=
      x-ms-date:
      - Mar, 19 2025 23:57:34.612579 GMT
    method: PUT
    uri: https://snapshotstoremshahygz7sz.azconfig.io/snapshots/TestSnapshot?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"vP9yph-4I56A2a-SVoMqv0aB0TjuXGzJOMS5BzLRQfk","name":"TestSnapshot","status":"provisioning","filters":[{"key":"Test*","label":"dev","tags":[]}],"composition_type":"key_label","created":"2025-03-19T23:57:35.0913476+00:00","size":0,"items_count":0,"tags":{"tag1":"value1"},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"vP9yph-4I56A2a-SVoMqv0aB0TjuXGzJOMS5BzLRQfk"'
      last-modified:
      - Wed, 19 Mar 2025 23:57:35 GMT
      link:
      - </kv?snapshot=TestSnapshot&api-version=2023-11-01>; rel="items"
      operation-location:
      - https://snapshotstoremshahygz7sz.azconfig.io/operations?snapshot=TestSnapshot&api-version=2023-11-01
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwNQ==;sn=20942705
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjoxNSMyMDk0MjcwNQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 23:57:35.180138 GMT
    method: GET
    uri: https://snapshotstoremshahygz7sz.azconfig.io/operations?snapshot=TestSnapshot&api-version=2023-11-01
  response:
    body:
      string: '{"id": "q7wYTFRvCMHmch6lzgTPUbdvwE7RPkM4ouZIUKU6i6I", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwNQ==;sn=20942705
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 23:57:55.941498 GMT
    method: GET
    uri: https://snapshotstoremshahygz7sz.azconfig.io/snapshots/TestSnapshot?api-version=2023-11-01&$Select=name,status,items_count,filters
  response:
    body:
      string: '{"name":"TestSnapshot","status":"ready","filters":[{"key":"Test*","label":"dev","tags":[]}],"items_count":2}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"vP9yph-4I56A2a-SVoMqv0aB0TjuXGzJOMS5BzLRQfk"'
      last-modified:
      - Wed, 19 Mar 2025 23:57:48 GMT
      link:
      - </kv?snapshot=TestSnapshot&api-version=2023-11-01>; rel="items"
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwNg==;sn=20942706
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 23:57:56.514732 GMT
    method: GET
    uri: https://snapshotstoremshahygz7sz.azconfig.io/snapshots?name=TestSnapshot&api-version=2023-11-01&$Select=name,status,items_count,filters
  response:
    body:
      string: '{"items":[{"name":"TestSnapshot","status":"ready","filters":[{"key":"Test*","label":"dev","tags":[]}],"items_count":2}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwNg==;sn=20942706
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "archived"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 3J5BDwMV5Yf6HjPNbDRsIz+Ri27tLPhbbGuV+1E6YfM=
      x-ms-date:
      - Mar, 19 2025 23:57:57.129264 GMT
    method: PATCH
    uri: https://snapshotstoremshahygz7sz.azconfig.io/snapshots/TestSnapshot?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"eCrHhEaPKcn6bhozIXbJFBDfkGWY5ONxK0FSUBasT_Y","name":"TestSnapshot","status":"archived","filters":[{"key":"Test*","label":"dev","tags":[]}],"composition_type":"key_label","created":"2025-03-19T23:57:35+00:00","expires":"2025-03-20T00:57:57.6979296+00:00","size":1000,"items_count":2,"tags":{"tag1":"value1"},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"eCrHhEaPKcn6bhozIXbJFBDfkGWY5ONxK0FSUBasT_Y"'
      last-modified:
      - Wed, 19 Mar 2025 23:57:48 GMT
      link:
      - </kv?snapshot=TestSnapshot&api-version=2023-11-01>; rel="items"
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwNw==;sn=20942707
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 23:57:57.789813 GMT
    method: GET
    uri: https://snapshotstoremshahygz7sz.azconfig.io/snapshots?name=%2A&api-version=2023-11-01&$Select=&status=ready
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwNw==;sn=20942707
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 23:57:58.811130 GMT
    method: GET
    uri: https://snapshotstoremshahygz7sz.azconfig.io/snapshots?name=%2A&api-version=2023-11-01&$Select=&status=archived
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwOA==;sn=20942708
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 23:57:59.972557 GMT
    method: GET
    uri: https://snapshotstoremshahygz7sz.azconfig.io/kv?api-version=2023-11-01&$Select=&snapshot=TestSnapshot
  response:
    body:
      string: '{"etag":"jsHWNNZkEqIfVARDDTLR-72YeSNniIHgidIU9uoHHcw","items":[{"etag":"UrEC4XJqgth3A2P0fvOot7umimtVTWwDP7g_6VK4ft4","key":"TestKey1","label":"dev","content_type":"","value":"TestValue1","tags":{},"locked":false,"last_modified":"2025-03-19T23:57:33+00:00"},{"etag":"mi8YiELa2eljH7M_MByIBysQg0mio2B9xefet555PXA","key":"TestKey2","label":"dev","content_type":"","value":"TestValue2","tags":{},"locked":false,"last_modified":"2025-03-19T23:57:33+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"jsHWNNZkEqIfVARDDTLR-72YeSNniIHgidIU9uoHHcw"'
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwOA==;sn=20942708
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 23:58:00.533331 GMT
    method: GET
    uri: https://snapshotstoremshahygz7sz.azconfig.io/kv?api-version=2023-11-01&$Select=&snapshot=non_existent_snapshot
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwOA==;sn=20942708
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjoxNSMyMDk0MjcwOA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 23:58:02.241039 GMT
    method: GET
    uri: https://snapshotstoremshahygz7sz.azconfig.io/snapshots/non_existent_snapshot?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NjoxNSMyMDk0MjcwOA==;sn=20942708
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/francecentral/operationsStatus/zHxEMIS1znd5RelRRrsuVHWjMOb3XgW_DjAITScq1N4?api-version=2024-05-01&t=638780254838379883&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUw[...]
[...]
