interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-03-08T18:16:35.8019223+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2c099369-7c6c-4dac-80d8-20ff752726ad?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2c099369-7c6c-4dac-80d8-20ff752726ad?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2c099369-7c6c-4dac-80d8-20ff752726ad","name":"2c099369-7c6c-4dac-80d8-20ff752726ad","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2c099369-7c6c-4dac-80d8-20ff752726ad?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-03-08T18:16:36+00:00","endpoint":"https://kvsetimporttest7g7gknqbx.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-08T18:16:36+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-08T18:16:37+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttest7g7gknqbx","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6b0063c6-0000-0100-0000-62279d840000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview&%24skiptoken=3ZjdjpswFITfBVW9qkNgm0aNtKrchKq0KYkgKNLeGXOSOD%2FGsk3YdrXvXtuJtvQRzCVCIH2aOXPGfgk4POsl4ycVzF6CbVJs5km2yfGyLIJZcNBaqFkYXggne7gA1yPyp5Uwos0lVG2lqGRCs4arcDqtJ6Qaf0JTqGv0EYCiisJnNIlpFFXTSVU9TEMhmyurQarwF6OyUc1Oj7AQ84bv2L6VxP4qpP2nQjcS1BciGLqa78z7x3gcRygao3GEhIQrg%2B79O3ViYtOcgD8qkFdGAWmyRx1tVfAhGBDRDcjK5Ks%2Bz%2B1zq0FpZYU14iTYbxZ05aAROKNZXZIyX60TT2fn0BLWQWtkKVbl5rvVBhcp9pSmlwQKiIHCZWGjLcUWzH8oIFapbJUbpXx2XU8n%2Fs98w0htu4aUSW30f97FnrrPBoQNu9gY77aFPCXpDIOTpGP60LRanA3R1xw%2FpUsXfZ7q0xulSrrugzO8wPdZ8h%2BKEmp0uuOk2WIIu4kybpj83rVvjc4Gw7ccZ%2FNkMJ7bSeu5H3iNs2H0hqOwxfvnKk%2BGEwwnJ5LrQsMoDu4Ay2%2FnvWKbbp6SfImzhSP0M8eP7HeLFLdRYecpXbn8ti3CTx5lylBHOOM1I3eoWyV68JNHSEX4%2FsyQIhdxBhQZlXqNyN%2FsO54ZJ%2BYWCZlKZJOv2CaLxGwod8%2Flp1ZvSKrrFaKySEq89pNIMIbsFDnbWa%2BVRewvjb3lIqQOXl%2F%2FAg%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - a9aefff9-bc9c-48b9-952c-ff5a3d9479ec
      - e9f9da2c-d844-4b38-bc15-b841a6d3daa9
      - e16cb2a0-a8d8-484c-b680-841da7227ffb
      - 120a6e56-22fb-4146-90f1-8dfa9e03795c
      - 8bd3d995-346b-45fc-b011-dad862540e00
      - 0bdb9692-988b-46bf-bca9-3ac19900ec4f
      - 3d8a90a4-e450-4c61-82f4-21801c998e30
      - 5bb8cd0b-0f45-421f-b18e-6292a4a863e9
      - 3c132c96-9e72-428c-8139-c916d1394419
      - eea187c0-9d5c-47b3-9584-d4dde5239f17
      - 08fc05b9-fe88-4431-94e6-1c25bcb0392c
      - 366acce7-e9fe-4af0-a5a8-f9162222268d
      - 3e84c2d3-88e3-4406-ae5d-27efb0bba561
      - e3537277-d80b-4ca9-a692-21d3f00cc5b7
      - fd9c891b-61dd-4dd4-984f-7d0290d4f637
      - 3771f5e9-8872-4ade-a55a-bafe46151663
      - 2f46a595-d8e9-4f0f-998b-acfe10f72697
      - 6e4cb760-ebd1-4ac7-ac2c-fd5e4773b903
      - f0335247-177c-481e-ab42-f7865099ad02
      - d09ffc3f-0bea-4b79-9221-f56e83c79fb1
      - 2f52a479-69f1-427c-9eaa-87f75ff3e79e
      - df91a99e-2eee-4f91-880e-3f2cf435ac98
      - 66deae1f-9f55-46d1-9efc-cc40c6b89346
      - b948f837-e7ce-4064-b787-ca4fab2bb4b2
      - 830b8b64-5c2e-4353-b650-0559ef724ac8
      - 4da0ba3d-9901-4c75-a31b-d7b573c1c416
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"MJhb-l0-s0:jGrSFceLFzJuvx71yJtt","name":"Primary","value":"YQxLL1QyRNhrdYuvn6uG06uIzxGephj8LCI30S7kumo=","connectionString":"Endpoint=https://kvsetimporttest7g7gknqbx.azconfig.io;Id=MJhb-l0-s0:jGrSFceLFzJuvx71yJtt;Secret=YQxLL1QyRNhrdYuvn6uG06uIzxGephj8LCI30S7kumo=","lastModified":"2022-03-08T18:16:35+00:00","readOnly":false},{"id":"zbl5-l0-s0:HhleZTF4fwzfWtIWvSAE","name":"Secondary","value":"AD0RbKrll+9onRoAxxd3oB8rSVanXUltBmAA5w4mOLI=","connectionString":"Endpoint=https://kvsetimporttest7g7gknqbx.azconfig.io;Id=zbl5-l0-s0:HhleZTF4fwzfWtIWvSAE;Secret=AD0RbKrll+9onRoAxxd3oB8rSVanXUltBmAA5w4mOLI=","lastModified":"2022-03-08T18:16:35+00:00","readOnly":false},{"id":"Jq4L-l0-s0:wSCJ8nNnHPQkQT+paSDJ","name":"Primary
        Read Only","value":"PjnbgTCTKwvngqBlN4EV2qmJeqzfLDX/LdT0H9x1xCw=","connectionString":"Endpoint=https://kvsetimporttest7g7gknqbx.azconfig.io;Id=Jq4L-l0-s0:wSCJ8nNnHPQkQT+paSDJ;Secret=PjnbgTCTKwvngqBlN4EV2qmJeqzfLDX/LdT0H9x1xCw=","lastModified":"2022-03-08T18:16:35+00:00","readOnly":true},{"id":"T3Wc-l0-s0:CVkz+4KbHnNnf6cMCgwl","name":"Secondary
        Read Only","value":"KfqdgAoVIBmxGGjNzG+PWypLPL6d76EUzpyomoMXnfM=","connectionString":"Endpoint=https://kvsetimporttest7g7gknqbx.azconfig.io;Id=T3Wc-l0-s0:CVkz+4KbHnNnf6cMCgwl;Secret=KfqdgAoVIBmxGGjNzG+PWypLPL6d76EUzpyomoMXnfM=","lastModified":"2022-03-08T18:16:35+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Mar, 08 2022 18:16:49 GMT
    method: PUT
    uri: https://kvsetimporttest7g7gknqbx.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"dHBMDItZUYO9hPKGHo3lP8tSGkJ","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-03-08T18:16:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"dHBMDItZUYO9hPKGHo3lP8tSGkJ"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:50 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTk1ODQ0;sn=3195844
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTk1ODQ0
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Mar, 08 2022 18:16:49 GMT
    method: PUT
    uri: https://kvsetimporttest7g7gknqbx.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"TWEQQW41ZO7WNQl3lJnAaGUExSm","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-03-08T18:16:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TWEQQW41ZO7WNQl3lJnAaGUExSm"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:50 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTk1ODQ1;sn=3195845
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTk1ODQ1
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Mar, 08 2022 18:16:49 GMT
    method: PUT
    uri: https://kvsetimporttest7g7gknqbx.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"gmbV8WhTi7OyKNl1Edi6JAxNkJ0","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2022-03-08T18:16:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"gmbV8WhTi7OyKNl1Edi6JAxNkJ0"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:50 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTk1ODQ2;sn=3195846
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTk1ODQ2
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Mar, 08 2022 18:16:49 GMT
    method: PUT
    uri: https://kvsetimporttest7g7gknqbx.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"CIxCPmKaEPkw0fgNPRnCocGqJWP","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2022-03-08T18:16:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CIxCPmKaEPkw0fgNPRnCocGqJWP"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:50 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTk1ODQ3;sn=3195847
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTk1ODQ3
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Mar, 08 2022 18:16:50 GMT
    method: PUT
    uri: https://kvsetimporttest7g7gknqbx.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"SNePEFtqHwiobE4JgAco3X3HSMG","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-03-08T18:16:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"SNePEFtqHwiobE4JgAco3X3HSMG"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:50 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTk1ODQ4;sn=3195848
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTk1ODQ4
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Mar, 08 2022 18:16:50 GMT
    method: PUT
    uri: https://kvsetimporttest7g7gknqbx.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"7Jchuknm179pK3Tm0dSzsKdGtsR","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-03-08T18:16:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7Jchuknm179pK3Tm0dSzsKdGtsR"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:50 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTk1ODQ5;sn=3195849
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTk1ODQ5
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Mar, 08 2022 18:16:50 GMT
    method: PUT
    uri: https://kvsetimporttest7g7gknqbx.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"2jTU37SF4zp0hvCW02YXAJE8NNb","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-03-08T18:16:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2jTU37SF4zp0hvCW02YXAJE8NNb"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:50 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTk1ODUw;sn=3195850
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTk1ODUw
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Mar, 08 2022 18:16:50 GMT
    method: PUT
    uri: https://kvsetimporttest7g7gknqbx.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"g69FNTvjNiVIuRPdC3wf3NyYW9l","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2022-03-08T18:16:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"g69FNTvjNiVIuRPdC3wf3NyYW9l"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:50 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTk1ODUx;sn=3195851
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTk1ODUx
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Mar, 08 2022 18:16:50 GMT
    method: PUT
    uri: https://kvsetimporttest7g7gknqbx.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"HnSlmDSw24kIsDGey86BBJwXQBO","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2022-03-08T18:16:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HnSlmDSw24kIsDGey86BBJwXQBO"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:50 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTk1ODUy;sn=3195852
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 08 2022 18:16:53 GMT
    method: GET
    uri: https://kvsetimporttest7g7gknqbx.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"dHBMDItZUYO9hPKGHo3lP8tSGkJ","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-03-08T18:16:50+00:00"},{"etag":"TWEQQW41ZO7WNQl3lJnAaGUExSm","key":"[...]
[...]
