interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"95502961-7f96-4f05-80f8-4cfa44a33b47","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Creating","creationDate":"2024-10-30T20:52:40.193898+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null,"dataPlaneProxy":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002","name":"MgmtTest000002","tags":{"key":"value"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0kLniqr4zq-ud4QX-R4svzeaREOyANVWdFrcQReAs64?api-version=2024-05-01&t=638659183604547508&c=MIIHpTCCBo2gAwIBAgITfwQsaz94bbkQtzgVvwAEBCxrPzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQxMDAzMDkwOTUzWhcNMjUwNDAxMDkwOTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0kLniqr4zq-ud4QX-R4svzeaREOyANVWdFrcQReAs64?api-version=2024-05-01&t=638659183604547508&c=MIIHpTCCBo2gAwIBAgITfwQsaz94bbkQtzgVvwAEBCxrPzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQxMDAzMDkwOTUzWhcNMjUwNDAxMDk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"95502961-7f96-4f05-80f8-4cfa44a33b47","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2024-10-30T20:52:40+00:00","endpoint":"https://mgmttestjc3mldgxu6zohion.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false,"dataPlaneProxy":{"authenticationMode":"Local","privateLinkDelegation":"Disabled"}},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2024-10-30T20:52:40+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-30T20:52:40+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestjc3mldgxu6zohion","name":"MgmtTest000002","tags":{"key":"value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b8006251-0000-0100-0000-67229c9b0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "identity": {"type": "SystemAssigned", "principalId":
        "95502961-7f96-4f05-80f8-4cfa44a33b47", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"},
        "properties": {"provisioningState": "Succeeded", "creationDate": "2024-10-30T20:52:40+00:00",
        "endpoint": "https://mgmttestjc3mldgxu6zohion.azconfig.io", "encryption":
        {"keyVaultProperties": null}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 1, "enablePurgeProtection": false, "dataPlaneProxy":
        {"authenticationMode": "Local", "privateLinkDelegation": "Disabled"}}, "sku":
        {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-10-30T20:52:40+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-10-30T20:52:40+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestjc3mldgxu6zohion",
        "name": "MgmtTest000002", "tags": {"key": "value"}}], "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestjc3mldgxu6zohion"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/clitest.rgh3pu5iyvrkkcbbwdrogyd55ctmvkiqt4sqk7em4fo6beegz5hmll6u6obk6dy7ajx/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestjc3mldgxu6zohion>;
        rel="next"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestjc3mldgxu6zohion
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Premium"}, "tags": {"Env": "Prod"}, "properties": {"dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cmk-test-keyvault000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+1
        (425) 4213985"],"displayName":"Albert Ofori","givenName":"Albert","jobTitle":"SOFTWARE
        ENGINEER","mail":"albertofori@microsoft.com","mobilePhone":null,"officeLocation":"18/2450FL","preferredLanguage":null,"surname":"Ofori","userPrincipalName":"albertofori@microsoft.com","id":"35296b93-33f5-48e5-b41e-3e29f64921e6"}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"005","RoleInstance":"MWH0EPF0009A7D2"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enableRbacAuthorization": false, "enablePurgeProtection": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003","name":"cmk-test-keyvault000003","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2024-10-30T20:53:27.787Z","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-30T20:53:27.787Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"35296b93-33f5-48e5-b41e-3e29f64921e6","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":false,"enablePurgeProtection":true,"vaultUri":"https://cmk-test-keyvault000003.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cmk-test-keyvault000003.vault.azure.net/keys/key/351a9f2f118844eca0ccfa9a93184607","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1X8PQT1rjj4ZYIC5iriLBIgXRIRKpkz8v9XIts_2fR5Gmb_3BGbhTPnL-AQRNZ8t78_uW13KAhROivVNgHKobIM_OlKZ0UKuRdMDWhO8cfxCeBFJ-yflvMdDhnwswu-bc7aotXV-zwu-PBBE4PsUnr_0T17z9yUw8Ve3OrHadphnj8o_7g-JHcVJkcqKtdEYy-mePY9vloaOTr8QxCtNfRAbBX8JNKDbmFZcoM88oJak6HpC70b70_60JJrJnNEkZUA-HSwsHPPAEEDAYHU7PdNyELLWWJaHhjqR7ZnhnCMKu3A7NbKBZrrk0HQ5ikoPADv0SRfapWNVw4EW_LgGiQ","e":"AQAB"},"attributes":{"enabled":true,"created":1730321640,"updated":1730321640,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01
  response:
    body:
      string: '{"value": [], "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.KeyVault%2fvaults%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault/vaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01&$skiptoken=rZPBjpswEIbfhTMHAs1lpR62xaFEGSO2pq59Q1kaYmxSEUcsrPruHRLaRi20Eup1hD5%2B/zPfq1MXL3Z3rKuz8/DqtMXZXs6%2B8%2BAU3fYiP5ce45su9z91sTodISI%2BZWIlTGyTKPbgvedBqM2Oxx3lGc6IR33wIYSWqiyIa%2B%2Bt4zr7orZNri/4h2ksf6qAgZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault/vaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01&$skiptoken=rc89D4IwEIDh/9KZoRBdTFyMoBiLaQRquzXSBAqFBGqkJf538Ssuuhi3yw3P3TuAWvR6W9RlB2YDOItOn8YJCLM5sUMOYxIY7qUmlE2B4sQgGSikEk3t0bI9hNTzp1sSTlBMNZVMMYINk5WMLLZhDefAAYJ3mncF/6JGEttouVBI3oQspwWEuxU2o3rTNSK4ZypxEUmriPjuXb0477939bqpsvH75xLxthTteO0RM/tXivMK%2BSj%2BlnEF
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003",
        "name": "cmk-test-keyvault000003", "type": "Microsoft.KeyVault/vaults", "location":
        "eastus", "tags": {}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "95502961-7f9[...]
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyIdentifier":
      "https://cmk-test-keyvault000003.vault.azure.net/keys/key/"}}, "dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"95502961-7f96-4f05-80f8-4cfa44a33b47","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2024-10-30T20:52:40+00:00","endpoint":"https://mgmttestjc3mldgxu6zohion.azconfig.io","encryption":{"keyVaultProperties":{"keyIdentifier":"https://cmk-test-keyvault000003.vault.azure.net/keys/key/","identityClientId":null}},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false,"dataPlaneProxy":{"authenticationMode":"Local","privateLinkDelegation":"Disabled"}},"sku":{"name":"premium"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2024-10-30T20:52:40+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-30T20:54:03.7830709+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestjc3mldgxu6zohion","name":"MgmtTest000002","tags":{"Env":"Prod"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b8001458-0000-0100-0000-67229ceb0000"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"dataPlaneProxy": {"privateLinkDelegation": "Enabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"error":{"code":"InvalidProperty","message":"The property ''privateLinkDelegationMode''
        is not valid. Data plane proxy authentication mode must be set to Pass-through
        to enable private link delegation.","additionalInfo":[{"type":"ActivityId","info":{"activityId":"4b85ca96-d5fa-44d2-a320-5bfe37c635d2"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Premium"}, "properties": {"softDeleteRetentionInDays": 1, "enablePurgeProtection":
      false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppCon[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7Hdh4_LRzYycSjjsz-gQSMaRyCjFg5YeFNsiA0H_V3M?api-version=2024-05-01&t=638659184547340615&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTestPremiumSku000004/replicas/MgmtTestReplica000005?api-version=2024-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5B5AhlgoPcXVIkKD8Gyswa3B3vqKAiPg-eMNBo_2Zu8?api-version=2024-05-01&t=638659184981005364&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestpremiumskutqdqj5
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrtTuNGGIXvJar6a4ZAWIqKtKpmwdt1gYTaidLl38QZgkP80Rk7hqx675137AwOsBdwfgIK8sl5v/38GOTqubpJ8yczuPgxmAfx9DIYTyNxM4sHF4PHqirNxXCYyVyuVKby6kjuaq2OkiIbmnphEp2WVVrkZnh%2BvjyTi%2BPf%2BLlaLvknpRK%2BSNTv/GyUnJwszs8Wi9PzYamLbbpU2gxv00QXpniojkRZXhb5Q7qqtaR/NUz6P8VVoZX5Q5Yp39rP2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - bbd10a10-4001-456e-b9a0-f7a78d22cdaf
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTestPremiumSku000004/replicas?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestpremiumskutqdqj5/replicas/MgmtTestReplica000005",
        "name": "MgmtTestReplica000005", "type": "Microsoft.AppConfiguration/configurationStores/replicas",
        "location": "westus", "properties": {"endpoint": "https://mgmttestpremiumskutqdqj5-mgmttestreplica6njmwbefz.azconfig.io",
        "provisioningState": "Succeeded"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-10-30T20:55:02+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-10-30T20:55:02+00:00"}}], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/-VREqwI5QF_dxxYAaKjcJ4AuJkpyZWRAeCXHYVExUY8?api-version=2024-05-01&t=638659185560182967&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/25acLAvVqXzA8uOPmjOhVct9w17ru4ai4QuwZA4jkVE?api-version=2024-05-01&t=638659185644450731&c=MIIHpTCCBo2gAwIBAgITfwQsaz94bbkQtzgVvwAEBCxrPzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQxMDAzMDkwOTUzWhcNMjUwNDAxMDk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestpremiumsku5fwypj
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppCo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/21MwMN1ubc5u1N1zmxK4OlnAhDKuTq67Os1sZQPdTUA?api-version=2024-05-01&t=638659186162131540&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/deletedConfigurationStores/appc-3qkqavckk36fs",
        "name": "appc-3qkqavckk36fs", "type": "Microsoft.AppConfiguration/deletedConfigurationStores",
        "properties": {"configurationStoreId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/juniwang-rg-azd-test/providers/Microsoft.AppConfiguration/configurationStores/appc-3qkqavckk36fs",
        "location": "westus", "deletionDate": "2024-10-29T09:59:29+00:00", "scheduledPurgeDate":
        "2024-11-06T01:51:24+00:00", "tags": {"azd-env-name": "test"}, "purgeProtectionEnabled":
        false}}, {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/credentialtesty3l22kyxtd",
        "name": "CredentialTesty3l22kyxtd", "type": "Microsoft.AppConfiguration/deletedConfigurationStores",
[...]
