interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2024-12-18T09:33:53.5394526+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002",
        "name": "KVSetImportTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/HI-ePTef3sM9Ftou6taGIow0xFaaYV73gEO9YHnk5I0?api-version=2024-05-01&t=638701112337990580&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/HI-ePTef3sM9Ftou6taGIow0xFaaYV73gEO9YHnk5I0?api-version=2024-05-01&t=638701112337990580&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2024-12-18T09:33:53+00:00", "endpoint": "https://kvsetimporttestjaeroqi7k.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-18T09:33:53+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-12-18T09:33:53+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttestjaeroqi7k",
        "name": "KVSetImportTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d800df03-0000-0100-0000-676297040000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2022-10-05T17:47:19+00:00", "endpoint": "https://storagemetrictest.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZVdi5tAFIb/i5ReeaLOJjEbWIosgZbddEuM9HoyHu1g/GA%2BUunS/96jkU0ChW0v59JxHObhPb7Pq9dgb55lU2lv/ep936T7x83X/S55zlJv7f0wptPrIKh5w0ussTEz/ssqnIm2DrQ9aKFkZ2Tb6ECwOEQUMawYMpjnxQLuV3gAvMsjPp8XMeMs6FR7kjkqHWylUK1uCzNLuu6xbQpZWsWHowJx/ZSaVqH%2BxDsJJ/qO3j%2BwkM0hXEAYffygK9nt2wq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y9LTsMwEIbvYiFWdZyaVGkjVShC7MiGlANMnImxUj8041SIirsTyoYrsPyf0ncVAT/yiwszi%2BYqntv%2B9NaLRrznnLhRykMAix5DLuBzISxM9IqXgQ25lF0MrIyuS0RTy71GLatx2snDHgeJD%2BMWqmqqNWiVKF7ciMSqc4YixykXbUpPMUzOLgQ/V8r8VX2OhPwIycnLulvzoy51JcudLLf3dzy7dIozhiMPvjpHA2cEzguLr40A8q21hBYyjrfWitS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=3ZDBboMwDIbfJZp2qklIQXRI1YSm3cZldA/gBsMiShIloUKr9u5L2WXPsItl/b/S/5uzNAa37SZAqtv7LXpTh8dq9lnjC7UnM9ocKSZTMzwa/GUKTvzsJyD8tpFbU3gSlaCSFVwkCSh6IcSng50Btr3ORbFUEmU3Hl71T35wFutvA12iFnj3Is1gx4Xj/corv5OXbSewjM6DdfkS/ujFLIAUYLIHx/CpN3JTmSO6wrDYtTFKrxshTDEJaRjCeIA%2BxxAiLstdWXOvncM/dyMo6cRI/VbSPq4eW/ZbqPRop/IJ%2BmXRv2PWfwA
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 199b6490-15d4-49a1-a976-ca5d4c7b0e39
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvsetimporttestjaeroqi7k.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-12-18T09:33:53+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvsetimporttestjaeroqi7k.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-12-18T09:33:53+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvsetimporttestjaeroqi7k.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-12-18T09:33:53+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvsetimporttestjaeroqi7k.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-12-18T09:33:53+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 18 2024 09:34:38.726591 GMT
    method: GET
    uri: https://kvsetimporttestjaeroqi7k.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MzoxOSM2NjQyMjI2MA==;sn=66422260
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjQyMjI2MA==
      x-ms-content-sha256:
      - vooIQS2Lc83p3cZJS7Qp5TL+wPNgfiHeUrZC71Varzs=
      x-ms-date:
      - Dec, 18 2024 09:34:40.114753 GMT
    method: PUT
    uri: https://kvsetimporttestjaeroqi7k.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"SxRe2_ez3krK5xGp6aeLBhmaXm_8TfTlrVF-hO49Z2Q","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-12-18T09:34:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"SxRe2_ez3krK5xGp6aeLBhmaXm_8TfTlrVF-hO49Z2Q"'
      last-modified:
      - Wed, 18 Dec 2024 09:34:40 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjQyMjI2MQ==;sn=66422261
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"bool-feature\", \"description\": \"It is a boolean feature\",
      \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\":
      null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjQyMjI2MQ==
      x-ms-content-sha256:
      - UhxU[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjQyMjI2Mg==
      x-ms-content-sha256:
      - Z9vdOmW9IIdhx2BgTvHER4NiDLOkF6QL50jtUUXyuos=
      x-ms-date:
      - Dec, 18 2024 09:34:40.349454 GMT
    method: PUT
    uri: https://kvsetimporttestjaeroqi7k.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=2023-11-01
  response:
    body:
      stri[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjQyMjI2Mw==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Dec, 18 2024 09:34:40.462962 GMT
    method: PUT
    uri: https://kvsetimporttestjaeroqi7k.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"PejR7K__1kK5OZCecoRb3mOsGFqxI73TgjFaOeLoGWc","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2024-12-18T09:34:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PejR7K__1kK5OZCecoRb3mOsGFqxI73TgjFaOeLoGWc"'
      last-modified:
      - Wed, 18 Dec 2024 09:34:40 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjQyMjI2NA==;sn=66422264
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjQyMjI2NA==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Dec, 18 2024 09:34:40.566386 GMT
    method: PUT
    uri: https://kvsetimporttestjaeroqi7k.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"q7QXtLZKKppuw42MET046S7EMeG_vrrP-FXVlRDtOfA","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-12-18T09:34:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"q7QXtLZKKppuw42MET046S7EMeG_vrrP-FXVlRDtOfA"'
      last-modified:
      - Wed, 18 Dec 2024 09:34:40 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjQyMjI2NQ==;sn=66422265
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjQyMjI2NQ==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Dec, 18 2024 09:34:40.691476 GMT
    method: PUT
    uri: https://kvsetimporttestjaeroqi7k.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"wdnaA-QBOWNV93Y4MOSH-7qVCQ3p3GJ3LppVWZydiSI","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-12-18T09:34:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wdnaA-QBOWNV93Y4MOSH-7qVCQ3p3GJ3LppVWZydiSI"'
      last-modified:
      - Wed, 18 Dec 2024 09:34:40 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjQyMjI2Ng==;sn=66422266
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjQyMjI2Ng==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Dec, 18 2024 09:34:40.802451 GMT
    method: PUT
    uri: https://kvsetimporttestjaeroqi7k.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"H7RxxXP8CxK3g8EoB8GLiFSFkhXIWXblLKtlO-f6hkA","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-12-18T09:34:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"H7RxxXP8CxK3g8EoB8GLiFSFkhXIWXblLKtlO-f6hkA"'
      last-modified:
      - Wed, 18 Dec 2024 09:34:40 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjQyMjI2Nw==;sn=66422267
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjQyMjI2Nw==
      x-ms-content-sha256:
      - KG6foKmNh5fImJNssBeIcpD6vIlOFOyqNrEtrNcI1x4=
      x-ms-date:
      - Dec, 18 2024 09:34:40.912461 GMT
    method: PUT
    uri: https://kvsetimporttestjaeroqi7k.azconfig.io/kv/pratik-top-secret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"GlLZ7rxmHf6npTpNOwQaS2DzlaMrrQPuurnnxuPYfJ8","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2024-12-18T09:34:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GlLZ7rxmHf6npTpNOwQaS2DzlaMrrQPuurnnxuPYfJ8"'
      last-modified:
      - Wed, 18 Dec 2024 09:34:40 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjQyMjI2OA==;sn=66422268
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjQyMjI2OA==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Dec, 18 2024 09:34:41.026827 GMT
    method: PUT
    uri: https://kvsetimporttestjaeroqi7k.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"gWJpEiXUgE8jXZ9EvhO3YB2edTScvO0KxCQYzuAQYpY","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2024-12-18T09:34:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"gWJpEiXUgE8jXZ9EvhO3YB2edTScvO0KxCQYzuAQYpY"'
      last-modified:
      - Wed, 18 Dec 2024 09:34:41 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjQyMjI2OQ==;sn=66422269
    status:
      code: 200
      message: OK
[...]
