interactions:
- request:
    body: '{"location": "francecentral", "sku": {"name": "Standard"}, "properties":
      {"createMode": "Default", "softDeleteRetentionInDays": 1, "dataPlaneProxy":
      {}, "disableLocalAuth": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapshotfilters000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "francecentral", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-09-01T09:00:18.4222967+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapshotfilters000002",
        "name": "snapshotfilters000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/francecentral/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.Ng38bhTwP1QhQsyfczvZPjNVVUVTBv-4b5XYBx8eW5E?api-version=2025-08-01-preview&t=639238500185136723&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRaFw0yNzAyMDkwNjQwMTRaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbml[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/francecentral/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.Ng38bhTwP1QhQsyfczvZPjNVVUVTBv-4b5XYBx8eW5E?api-version=2025-08-01-preview&t=639238500185136723&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapshotfilters000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "francecentral", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-09-01T09:00:18+00:00", "endpoint": "https://snapshotfilters000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-09-01T09:00:18+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-09-01T09:00:18+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapshotfilters000002",
        "name": "snapshotfilters000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d301fa8e-0000-0e00-0000-6a9694230000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapshotfilters000002.azconfig.io/kv/KeyWithTags1?api-version=2026-05-01-preview&label=labelWithTags
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDYyNw==;sn=24730627
      x-ms-date:
      - Tue, 01 Sep 2026 09:00:57 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "KeyWithTags1", "label": "labelWithTags", "value": "", "content_type":
      "", "tags": {"tag1": "value1", "tag2": "value2", "tag3": "value3", "tag4": "value4",
      "tag5": "value5"}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NzoxNSMyNDczMDYyNw==
    method: PUT
    uri: https://snapshotfilters000002.azconfig.io/kv/KeyWithTags1?api-version=2026-05-01-preview&label=labelWithTags
  response:
    body:
      string: '{"etag":"2gBiXj5DnHsFOT_Gy5X0l5IRtVYPGtRphLvr7JD0Tpg","key":"KeyWithTags1","label":"labelWithTags","content_type":"","value":"","description":null,"tags":{"tag1":"value1","tag2":"value2","tag3":"value3","tag4":"value4","tag5":"value5"},"locked":false,"last_modified":"2026-09-01T09:00:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2gBiXj5DnHsFOT_Gy5X0l5IRtVYPGtRphLvr7JD0Tpg"'
      last-modified:
      - Tue, 01 Sep 2026 09:00:57 GMT
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDYyOA==;sn=24730628
      x-ms-date:
      - Tue, 01 Sep 2026 09:00:57 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"filters": [{"key": "KeyWithTags*", "label": "labelWithTags", "tags":
      ["tag1=value1", "tag2=value2", "tag3=value3", "tag4=value4", "tag5=value5"]}],
      "composition_type": "key_label", "retention_period": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://snapshotfilters000002.azconfig.io/snapshots/TestSnapshotWith5Tags?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag":"3C4NxTTAhOM0kolG-KpHkGRYcwYlvAzGcHd-NQ-V2Eo","name":"TestSnapshotWith5Tags","description":null,"status":"provisioning","filters":[{"key":"KeyWithTags*","label":"labelWithTags","tags":["tag1=value1","tag2=value2","tag3=value3","tag4=value4","tag5=value5"]}],"composition_type":"key_label","created":"2026-09-01T09:00:58.7544393+00:00","size":0,"items_count":0,"tags":{},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"3C4NxTTAhOM0kolG-KpHkGRYcwYlvAzGcHd-NQ-V2Eo"'
      last-modified:
      - Tue, 01 Sep 2026 09:00:58 GMT
      link:
      - </kv?snapshot=TestSnapshotWith5Tags&api-version=2026-05-01-preview>; rel="items"
      operation-location:
      - https://snapshotfilters000002.azconfig.io/operations?snapshot=TestSnapshotWith5Tags&api-version=2026-05-01-preview
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDYyOQ==;sn=24730629
      x-ms-date:
      - Tue, 01 Sep 2026 09:00:58 GMT
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NzoxNSMyNDczMDYyOQ==
    method: GET
    uri: https://snapshotfilters000002.azconfig.io/operations?api-version=2026-05-01-preview&snapshot=TestSnapshotWith5Tags
  response:
    body:
      string: '{"id": "0NqVh6pO7aVl9LNq0gqP4ZK5mVK-67N5cv6vTIxNIfM", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDYzMA==;sn=24730630
      x-ms-date:
      - Tue, 01 Sep 2026 09:00:59 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filters": [{"key": "KeyWithTags*", "label": "labelWithTags", "tags":
      ["tag1=value1"]}], "composition_type": "key_label", "retention_period": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://snapshotfilters000002.azconfig.io/snapshots/TestSnapshotWith1Tag?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag":"HBmBwu7o14zWsILpMrz5CmjjH55NG8jYrqhwaMHMeRw","name":"TestSnapshotWith1Tag","description":null,"status":"provisioning","filters":[{"key":"KeyWithTags*","label":"labelWithTags","tags":["tag1=value1"]}],"composition_type":"key_label","created":"2026-09-01T09:01:23.9568321+00:00","size":0,"items_count":0,"tags":{},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"HBmBwu7o14zWsILpMrz5CmjjH55NG8jYrqhwaMHMeRw"'
      last-modified:
      - Tue, 01 Sep 2026 09:01:23 GMT
      link:
      - </kv?snapshot=TestSnapshotWith1Tag&api-version=2026-05-01-preview>; rel="items"
      operation-location:
      - https://snapshotfilters000002.azconfig.io/operations?snapshot=TestSnapshotWith1Tag&api-version=2026-05-01-preview
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDY4NQ==;sn=24730685
      x-ms-date:
      - Tue, 01 Sep 2026 09:01:23 GMT
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NzoxNSMyNDczMDY4NQ==
    method: GET
    uri: https://snapshotfilters000002.azconfig.io/operations?api-version=2026-05-01-preview&snapshot=TestSnapshotWith1Tag
  response:
    body:
      string: '{"id": "mtxbOeJkvNutbC0PHTuF0Q7JfEqRJ5332EO7U4mZxZQ", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDY4NQ==;sn=24730685
      x-ms-date:
      - Tue, 01 Sep 2026 09:01:24 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filters": [{"key": "KeyWithTags*", "label": "labelWithTags", "tags":
      ["tag1="]}], "composition_type": "key_label", "retention_period": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://snapshotfilters000002.azconfig.io/snapshots/TestSnapshotWithEmptyTagValue?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag":"8HiI_zhk20BBH7tYmQsYI_QHXmLbU2P4ZhClabJVTMM","name":"TestSnapshotWithEmptyTagValue","description":null,"status":"provisioning","filters":[{"key":"KeyWithTags*","label":"labelWithTags","tags":["tag1="]}],"composition_type":"key_label","created":"2026-09-01T09:01:38.2375265+00:00","size":0,"items_count":0,"tags":{},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"8HiI_zhk20BBH7tYmQsYI_QHXmLbU2P4ZhClabJVTMM"'
      last-modified:
      - Tue, 01 Sep 2026 09:01:38 GMT
      link:
      - </kv?snapshot=TestSnapshotWithEmptyTagValue&api-version=2026-05-01-preview>;
        rel="items"
      operation-location:
      - https://snapshotfilters000002.azconfig.io/operations?snapshot=TestSnapshotWithEmptyTagValue&api-version=2026-05-01-preview
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDczMA==;sn=24730730
      x-ms-date:
      - Tue, 01 Sep 2026 09:01:38 GMT
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NzoxNSMyNDczMDczMA==
    method: GET
    uri: https://snapshotfilters000002.azconfig.io/operations?api-version=2026-05-01-preview&snapshot=TestSnapshotWithEmptyTagValue
  response:
    body:
      string: '{"id": "FH4gsBinX9hQt_pn8HOojLMzKRf51S3GdNK2yDYq0bM", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDczMA==;sn=24730730
      x-ms-date:
      - Tue, 01 Sep 2026 09:01:38 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filters": [{"key": "KeyWithTags*", "label": "labelWithTags"}], "composition_type":
      "key_label", "retention_period": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://snapshotfilters000002.azconfig.io/snapshots/TestSnapshotWithAllKVs?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag":"kz7r0CSHeCMRlHHy4o_lctJVPxVCBSs14p5ioQaks6U","name":"TestSnapshotWithAllKVs","description":null,"status":"provisioning","filters":[{"key":"KeyWithTags*","label":"labelWithTags","tags":[]}],"composition_type":"key_label","created":"2026-09-01T09:02:12.2073737+00:00","size":0,"items_count":0,"tags":{},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"kz7r0CSHeCMRlHHy4o_lctJVPxVCBSs14p5ioQaks6U"'
      last-modified:
      - Tue, 01 Sep 2026 09:02:12 GMT
      link:
      - </kv?snapshot=TestSnapshotWithAllKVs&api-version=2026-05-01-preview>; rel="items"
      operation-location:
      - https://snapshotfilters000002.azconfig.io/operations?snapshot=TestSnapshotWithAllKVs&api-version=2026-05-01-preview
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDc3NA==;sn=24730774
      x-ms-date:
      - Tue, 01 Sep 2026 09:02:12 GMT
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NzoxNSMyNDczMDc3NA==
    method: GET
    uri: https://snapshotfilters000002.azconfig.io/operations?api-version=2026-05-01-preview&snapshot=TestSnapshotWithAllKVs
  response:
    body:
      string: '{"id": "jUH1kKY3iP_6Ky1JUR8vcTLergFOcEcLj3KJ0CI_JFU", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDc3NA==;sn=24730774
      x-ms-date:
      - Tue, 01 Sep 2026 09:02:12 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapshotfilters000002.azconfig.io/kv/TestKey1?api-version=2026-05-01-preview&label=dev
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDc3OQ==;sn=24730779
      x-ms-date:
      - Tue, 01 Sep 2026 09:02:35 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapshotfilters000002.azconfig.io/kv/LastTestKey?api-version=2026-05-01-preview&label=dev
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDgwOA==;sn=24730808
      x-ms-date:
      - Tue, 01 Sep 2026 09:02:37 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"filters": [{"key": "Test*", "label": "dev"}], "composition_type": "key_label",
      "retention_period": 3600, "tags": {"tag1": "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://snapshotfilters000002.azconfig.io/snapshots/TestSnapshotWithPrefix?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag":"PsmCTWkKSbS-OsRH0brnlSjMRreynfL7t1-ZK-jQn0c","name":"TestSnapshotWithPrefix","description":null,"status":"provisioning","filters":[{"key":"Test*","label":"dev","tags":[]}],"composition_type":"key_label","created":"2026-09-01T09:02:39.3329739+00:00","size":0,"items_count":0,"tags":{"tag1":"value1"},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"PsmCTWkKSbS-OsRH0brnlSjMRreynfL7t1-ZK-jQn0c"'
      last-modified:
      - Tue, 01 Sep 2026 09:02:39 GMT
      link:
      - </kv?snapshot=TestSnapshotWithPrefix&api-version=2026-05-01-preview>; rel="items"
      operation-location:
      - https://snapshotfilters000002.azconfig.io/operations?snapshot=TestSnapshotWithPrefix&api-version=2026-05-01-preview
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDgyNQ==;sn=24730825
      x-ms-date:
      - Tue, 01 Sep 2026 09:02:39 GMT
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NzoxNSMyNDczMDgyNQ==
    method: GET
    uri: https://snapshotfilters000002.azconfig.io/operations?api-version=2026-05-01-preview&snapshot=TestSnapshotWithPrefix
  response:
    body:
      string: '{"id": "Ku5w9yRA5o_wE_gLcsc9zaRruYJUx_Zhiu4awoKu-ZM", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDgyNQ==;sn=24730825
      x-ms-date:
      - Tue, 01 Sep 2026 09:02:39 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NzoxNSMyNDczMDgyNg==
    method: GET
    uri: https://snapshotfilters000002.azconfig.io/snapshots/TestSnapshotWithPrefix?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag":"PsmCTWkKSbS-OsRH0brnlSjMRreynfL7t1-ZK-jQn0c","name":"TestSnapshotWithPrefix","description":null,"status":"ready","filters":[{"key":"Test*","label":"dev","tags":[]}],"composition_type":"key_label","created":"2026-09-01T09:02:39+00:00","size":1000,"items_count":2,"tags":{"tag1":"value1"},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"PsmCTWkKSbS-OsRH0brnlSjMRreynfL7t1-ZK-jQn0c"'
      last-modified:
      - Tue, 01 Sep 2026 09:02:42 GMT
      link:
      - </kv?snapshot=TestSnapshotWithPrefix&api-version=2026-05-01-preview>; rel="items"
      sync-token:
      - zAJw6V16=NzoxNSMyNDczMDgyNg==;sn=24730826
      x-ms-date:
      - Tue, 01 Sep 2026 09:02:51 GMT
    status:
      code: 200
      message: OK
version: 1
