interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-03-08T18:16:37.2689066+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002","name":"KVRevisionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0088491a-45be-4180-8c12-6d04f23089c7?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0088491a-45be-4180-8c12-6d04f23089c7?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0088491a-45be-4180-8c12-6d04f23089c7","name":"0088491a-45be-4180-8c12-6d04f23089c7","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0088491a-45be-4180-8c12-6d04f23089c7?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-03-08T18:16:37+00:00","endpoint":"https://kvrevisiontestn3b6lu2pdh.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-08T18:16:37+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-08T18:16:38+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvrevisiontestn3b6lu2pdh","name":"KVRevisionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9e0037bb-0000-0100-0000-62279d850000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview&%24skiptoken=3ZjdjpswFITfBVW9qkNgm0aNtKrchKq0KYkgKNLeGXOSOD%2FGsk3YdrXvXtuJtvQRzCVCIH2aOXPGfgk4POsl4ycVzF6CbVJs5km2yfGyLIJZcNBaqFkYXggne7gA1yPyp5Uwos0lVG2lqGRCs4arcDqtJ6Qaf0JTqGv0EYCiisJnNIlpFFXTSVU9TEMhmyurQarwF6OyUc1Oj7AQ84bv2L6VxP4qpP2nQjcS1BciGLqa78z7x3gcRygao3GEhIQrg%2B79O3ViYtOcgD8qkFdGAWmyRx1tVfAhGBDRDcjK5Ks%2Bz%2B1zq0FpZYU14iTYbxZ05aAROKNZXZIyX60TT2fn0BLWQWtkKVbl5rvVBhcp9pSmlwQKiIHCZWGjLcUWzH8oIFapbJUbpXx2XU8n%2Fs98w0htu4aUSW30f97FnrrPBoQNu9gY77aFPCXpDIOTpGP60LRanA3R1xw%2FpUsXfZ7q0xulSrrugzO8wPdZ8h%2BKEmp0uuOk2WIIu4kybpj83rVvjc4Gw7ccZ%2FNkMJ7bSeu5H3iNs2H0hqOwxfvnKk%2BGEwwnJ5LrQsMoDu4Ay2%2FnvWKbbp6SfImzhSP0M8eP7HeLFLdRYecpXbn8ti3CTx5lylBHOOM1I3eoWyV68JNHSEX4%2FsyQIhdxBhQZlXqNyN%2FsO54ZJ%2BYWCZlKZJOv2CaLxGwod8%2Flp1ZvSKrrFaKySEq89pNIMIbsFDnbWa%2BVRewvjb3lIqQOXl%2F%2FAg%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ece72817-2250-47d5-a1fd-e46aa2e32080
      - 8ab1a757-5fc7-490c-a539-eb9f1f1a03c8
      - 08da42ee-dfad-4924-b8eb-dbaf7a910ef9
      - a3b38ed2-db91-46f8-8f81-31f7d0a597cb
      - 0275f56c-e2e6-4c43-8629-0758d2a3e47e
      - bf8d9ba8-cbe3-4e3c-8ccf-8d81f1fe6cec
      - a05cec4b-2139-4b53-a602-1f6e66219cf9
      - 6daf414d-ce50-4e88-97e4-5cd3a98497a7
      - f63dfafa-c158-481f-89f0-40557da01fd2
      - b3bacc7d-d3de-45cb-a625-91fd28e8b9e4
      - dcf8fab2-3508-4c76-9e31-2de0e6aee115
      - f075dae2-1861-4915-9eae-adb9bce1cb8f
      - 9ff3c4de-c2dc-4575-aaa5-08c8aa22614c
      - 505677a2-b9ed-4bb6-af29-d3da8c7d03fe
      - e52a58f7-2906-43fb-a121-e298c4125b29
      - 9c2aa380-021b-45bc-b033-b3e935d32702
      - f20f2c45-24ce-44d5-b434-a3c3c897bdff
      - e1ac9c8d-f357-47e4-9362-e681613d5d52
      - cf51be1b-6633-4869-8653-1484e2dc620d
      - 9902d7c3-2074-44cc-a231-18bd3ea9481c
      - 1cd2d431-bf4b-4410-88dd-f12dd552fb4e
      - 1c558d80-3db0-4422-99eb-d34274831e90
      - ff677d77-19e5-43b6-922f-a649a7342727
      - d2bfe832-737c-4de6-b9b1-b5feed1fd032
      - 488fb5e6-e487-483a-b492-d2b14031dae1
      - a240543f-3f4a-4760-8b31-29d07a8c0e7f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"m3b+-l0-s0:TWLzS57/OeV7AnDtzJpL","name":"Primary","value":"jjKI9x64U93K37TfFYdaaF33DeAMJh7IUIDmt6QGjeM=","connectionString":"Endpoint=https://kvrevisiontestn3b6lu2pdh.azconfig.io;Id=m3b+-l0-s0:TWLzS57/OeV7AnDtzJpL;Secret=jjKI9x64U93K37TfFYdaaF33DeAMJh7IUIDmt6QGjeM=","lastModified":"2022-03-08T18:16:37+00:00","readOnly":false},{"id":"Pq4S-l0-s0:HcLnUhNPLhEg9o5vbx4c","name":"Secondary","value":"7E5/v3E3Vko3meHKUGFvxE1czPcmMNZ/wTedLX09H7Y=","connectionString":"Endpoint=https://kvrevisiontestn3b6lu2pdh.azconfig.io;Id=Pq4S-l0-s0:HcLnUhNPLhEg9o5vbx4c;Secret=7E5/v3E3Vko3meHKUGFvxE1czPcmMNZ/wTedLX09H7Y=","lastModified":"2022-03-08T18:16:37+00:00","readOnly":false},{"id":"eQPu-l0-s0:WcxTBN10ERitstnxgush","name":"Primary
        Read Only","value":"5dfOoeb0RWUY5kCUoQEj6Au+BPFF5GjiHGHqJgF2i/k=","connectionString":"Endpoint=https://kvrevisiontestn3b6lu2pdh.azconfig.io;Id=eQPu-l0-s0:WcxTBN10ERitstnxgush;Secret=5dfOoeb0RWUY5kCUoQEj6Au+BPFF5GjiHGHqJgF2i/k=","lastModified":"2022-03-08T18:16:37+00:00","readOnly":true},{"id":"4rUu-l0-s0:2fA9ALHwk0KsFltm9Utl","name":"Secondary
        Read Only","value":"5c+XgSdgcuXf/cUdVivHCAx6861oB9CpmV0k5EEUmh4=","connectionString":"Endpoint=https://kvrevisiontestn3b6lu2pdh.azconfig.io;Id=4rUu-l0-s0:2fA9ALHwk0KsFltm9Utl;Secret=5c+XgSdgcuXf/cUdVivHCAx6861oB9CpmV0k5EEUmh4=","lastModified":"2022-03-08T18:16:37+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 08 2022 18:16:50 GMT
    method: GET
    uri: https://kvrevisiontestn3b6lu2pdh.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Mar, 08 2022 18:16:50 GMT
    method: PUT
    uri: https://kvrevisiontestn3b6lu2pdh.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"9YeKVS9HkKYLH74mvLKZPrLnczn","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2022-03-08T18:16:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9YeKVS9HkKYLH74mvLKZPrLnczn"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:51 GMT
      sync-token:
      - zAJw6V16=NToxOSMxMDk0MDI2NA==;sn=10940264
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"9YeKVS9HkKYLH74mvLKZPrLnczn"'
      Sync-Token:
      - zAJw6V16=NToxOSMxMDk0MDI2NA==
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Mar, 08 2022 18:16:53 GMT
    method: PUT
    uri: https://kvrevisiontestn3b6lu2pdh.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"CW8mTniZVsoNFYDINPix0przFnT","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2022-03-08T18:16:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CW8mTniZVsoNFYDINPix0przFnT"'
      last-modified:
      - Tue, 08 Mar 2022 18:16:54 GMT
      sync-token:
      - zAJw6V16=NToxOSMxMDk0MDI2NQ==;sn=10940265
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 08 2022 18:16:55 GMT
    method: GET
    uri: https://kvrevisiontestn3b6lu2pdh.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 08 2022 18:16:58 GMT
    method: GET
    uri: https://kvrevisiontestn3b6lu2pdh.azconfig.io/revisions?key=Color&label=%2A&api-version=1.0&$Select=content_type,etag,label,last_modified,value
  response:
    body:
      string: '{"items":[{"etag":"OZ1WOu7Gq2KYIz05cHvPVhjxSaj","label":"newlabel","content_type":"text","value":"Green","last_modified":"2022-03-08T18:16:56+00:00"},{"etag":"CW8mTniZVsoNFYDINPix0przFnT","label":"v1.0.0","content_type":"text","value":"Green","last_modified":"2022-03-08T18:16:54+00:00"},{"etag":"9YeKVS9HkKYLH74mvLKZPrLnczn","label":"v1.0.0","content_type":"","value":"","last_modified":"2022-03-08T18:16:51+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMxMDk0MDI2Ng==;sn=10940266
    status:
      code: 200
      message: OK
version: 1
