interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-11-18T11:26:21.584302+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002","name":"StrictImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/y3EBa2b956MEaOebmQDKxvKYVf9aLDJwIsGrpR4UeuY?api-version=2023-03-01&t=638675259818551334&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/y3EBa2b956MEaOebmQDKxvKYVf9aLDJwIsGrpR4UeuY?api-version=2023-03-01&t=638675259818551334&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-11-18T11:26:21+00:00","endpoint":"https://strictimporttest3xsccodc.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"cwanjau@microsoft.com","createdByType":"User","createdAt":"2024-11-18T11:26:21+00:00","lastModifiedBy":"cwanjau@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-11-18T11:26:21+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/strictimporttest3xsccodc","name":"StrictImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"92015bf0-0000-0100-0000-673b24600000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest","name":"garywangtest","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},"privateLinkServiceConnectionState":{"status":"Pending","description":"ms","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-28T11:10:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Zrvbts2FMXfxRj2iYoTZ1mwAMXAJerqNbEz2YbXfKNlxpFjUxop1YmLvfvupSRGdvICB%2BiXtkih03P/8/ejZ/RLeZuZZ9e7%2BtGbx5PpdTyaJvJ2Nuld9Z7KsnBX/f5WGbXSW23KE7WvrD5J823fVQuX2qwos9y4/uXl8kItTn%2BNLvVyGf2idRotUv1bdDFIz84WlxeLxfllv7D592yprevfZanNXf5YnsiiuM7NY7aqrOJ/qp92fzcpc6vd76rIou/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Y9LasMwGITvIkpXkeVHXRFDKCZkV2/q9AB6/FGFsSR%2BScE09O5V002vUJjNzDAD34042NKrdUskw42cxvn8PpOBfKQU4sDYKpwwsIJLlfjMCJXyK4tZRoU2JOtdZJzrXsj6mXLQmj4BKCoV7GnfqqaRvJey4yygv1oNGNlkFfroL6kaQzh6d7Emo/i5Yuqvm5NHiC8iWHotu9If2rrtaF3UPD7ExYazX8AdtrxlGjXtyNeOCFxHYxCMSKDvfYEZ3yayu4NOAhfAEv2CDv8T8xs%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 54bdb6cf-3257-46da-b80c-4477c9821f92
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"1Z7k","name":"Primary","value":"ELc46MC8mZLreSU1mM8sYLscos5ZSUdH9xCrksI0iqwTZNpuO8rSJQQJ99AKACYeBjFAArohAAACAZAC2RKj","connectionString":"Endpoint=https://strictimporttest3xsccodc.azconfig.io;Id=1Z7k;Secret=ELc46MC8mZLreSU1mM8sYLscos5ZSUdH9xCrksI0iqwTZNpuO8rSJQQJ99AKACYeBjFAArohAAACAZAC2RKj","lastModified":"2024-11-18T11:26:21+00:00","readOnly":false},{"id":"VCyb","name":"Secondary","value":"2E9O8u0lOegW5LjLiBT2p6fTgpLv7XcHKQrhVlcBPHpjD22g9hyeJQQJ99AKACYeBjFAArohAAACAZAC252U","connectionString":"Endpoint=https://strictimporttest3xsccodc.azconfig.io;Id=VCyb;Secret=2E9O8u0lOegW5LjLiBT2p6fTgpLv7XcHKQrhVlcBPHpjD22g9hyeJQQJ99AKACYeBjFAArohAAACAZAC252U","lastModified":"2024-11-18T11:26:21+00:00","readOnly":false},{"id":"HPtX","name":"Primary
        Read Only","value":"BnLHQnqoTIUfP86cikYNNXfgph4guKHt7U1O78dTgz3CMKvJxEMBJQQJ99AKACYeBjFAArohAAABAZAC3DjQ","connectionString":"Endpoint=https://strictimporttest3xsccodc.azconfig.io;Id=HPtX;Secret=BnLHQnqoTIUfP86cikYNNXfgph4guKHt7U1O78dTgz3CMKvJxEMBJQQJ99AKACYeBjFAArohAAABAZAC3DjQ","lastModified":"2024-11-18T11:26:21+00:00","readOnly":true},{"id":"DiuW","name":"Secondary
        Read Only","value":"5kGgWFG3k4iIho0u9aCtB3G9i6H22XM5IH4MEAXbDr4urSMX2c3FJQQJ99AKACYeBjFAArohAAABAZACAfKC","connectionString":"Endpoint=https://strictimporttest3xsccodc.azconfig.io;Id=DiuW;Secret=5kGgWFG3k4iIho0u9aCtB3G9i6H22XM5IH4MEAXbDr4urSMX2c3FJQQJ99AKACYeBjFAArohAAABAZACAfKC","lastModified":"2024-11-18T11:26:21+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2024 11:27:10 GMT
    method: GET
    uri: https://strictimporttest3xsccodc.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM3NTM1Mzg0NA==;sn=75353844
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM1Mzg0NA==
      x-ms-content-sha256:
      - vooIQS2Lc83p3cZJS7Qp5TL+wPNgfiHeUrZC71Varzs=
      x-ms-date:
      - Nov, 18 2024 11:27:10 GMT
    method: PUT
    uri: https://strictimporttest3xsccodc.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"tLEYb-uZvkk3Ct60YKQfaTckpmdIYEc1Kktduqv6N9U","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-11-18T11:27:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tLEYb-uZvkk3Ct60YKQfaTckpmdIYEc1Kktduqv6N9U"'
      last-modified:
      - Mon, 18 Nov 2024 11:27:10 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM1Mzg0NQ==;sn=75353845
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"bool-feature\", \"description\": \"It is a boolean feature\",
      \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\":
      null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM1Mzg0NQ==
      x-ms-content-sha25[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM1Mzg0Ng==
      x-ms-content-sha256:
      - Z9vdOmW9IIdhx2BgTvHER4NiDLOkF6QL50jtUUXyuos=
      x-ms-date:
      - Nov, 18 2024 11:27:10 GMT
    method: PUT
    uri: https://strictimporttest3xsccodc.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      str[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM1Mzg0Nw==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Nov, 18 2024 11:27:11 GMT
    method: PUT
    uri: https://strictimporttest3xsccodc.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"fylDifflFELgj2DiZH_5H5IJAi1WXTEmbu3XqOdvx-I","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2024-11-18T11:27:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"fylDifflFELgj2DiZH_5H5IJAi1WXTEmbu3XqOdvx-I"'
      last-modified:
      - Mon, 18 Nov 2024 11:27:11 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM1Mzg0OA==;sn=75353848
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM1Mzg0OA==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Nov, 18 2024 11:27:11 GMT
    method: PUT
    uri: https://strictimporttest3xsccodc.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"NKJJYq5bE1rQ-sgIC7GGPggkCa_-73_NqjG_KYF_Ytk","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-11-18T11:27:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NKJJYq5bE1rQ-sgIC7GGPggkCa_-73_NqjG_KYF_Ytk"'
      last-modified:
      - Mon, 18 Nov 2024 11:27:11 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM1Mzg0OQ==;sn=75353849
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM1Mzg0OQ==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Nov, 18 2024 11:27:11 GMT
    method: PUT
    uri: https://strictimporttest3xsccodc.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"H8uP3uCWfgiXMAUT3EgR4cEi47EsIg4-L8Ba2DPMj1I","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-11-18T11:27:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"H8uP3uCWfgiXMAUT3EgR4cEi47EsIg4-L8Ba2DPMj1I"'
      last-modified:
      - Mon, 18 Nov 2024 11:27:11 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM1Mzg1MA==;sn=75353850
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM1Mzg1MA==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Nov, 18 2024 11:27:11 GMT
    method: PUT
    uri: https://strictimporttest3xsccodc.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"0RpQjF6qTD-PnNQ0kIAEIBR2ORzepmsUCJjHNNQs1Es","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-11-18T11:27:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0RpQjF6qTD-PnNQ0kIAEIBR2ORzepmsUCJjHNNQs1Es"'
      last-modified:
      - Mon, 18 Nov 2024 11:27:11 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM1Mzg1MQ==;sn=75353851
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM1Mzg1MQ==
      x-ms-content-sha256:
      - KG6foKmNh5fImJNssBeIcpD6vIlOFOyqNrEtrNcI1x4=
      x-ms-date:
      - Nov, 18 2024 11:27:11 GMT
    method: PUT
    uri: https://strictimporttest3xsccodc.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"8FHrlpUr2dlZaoauZrCFbB8FMJ0wp5pE2RN0BS0zAQw","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2024-11-18T11:27:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8FHrlpUr2dlZaoauZrCFbB8FMJ0wp5pE2RN0BS0zAQw"'
      last-modified:
      - Mon, 18 Nov 2024 11:27:11 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM1Mzg1Mg==;sn=75353852
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM1Mzg1Mg==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Nov, 18 2024 11:27:11 GMT
    method: PUT
    uri: https://strictimporttest3xsccodc.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"6Eiuy6RtZwOMzOPWs47WEsVpAKptrbkIDgWdogSkUP4","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2024-11-18T11:27:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6Eiuy6RtZwOMzOPWs47WEsVpAKptrbkIDgWdogSkUP4"'
      last-modified:
      - Mon, 18 Nov 2024 11:27:11 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM1Mzg1Mw==;sn=75353853
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZrvTuNGFMXfJar6aUwglKIiraopeLspkFAnUbp8mzgTcEjG7oy9gaz67r13bA9Olhc4El8ABflw7n/vveMfi3vMvPielffe/N4Mr2OR9NE3s0mvavec1kW7qrf3yqjnvRWm/JE7SurT9J823fVwqU2K8osN65/ebm8UIvTX6NLvVxGv2idRotU/xZdDNKzs8XlxWJxftkvbP4tW2rr%2BvdZanOXr8oTWRTXuVllT5VV/Kf6afe7SZlb7X5XRRZ9o8/R7z8N[...]
[...]
