interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"dataPlaneProxy":
      {}, "createMode": "Default", "softDeleteRetentionInDays": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2025-06-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-03-03T17:20:13.7622556+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "managedOnBehalfOfConfiguration":
        null, "azureFrontDoor": null}, "sku": {"name": "Standard"}, "systemData":
        null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002",
        "name": "FeatureNamespaceTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.oSxBVaV32FKvfx4a_--cUNJm7M-IJMI9OJiy6WXcJds?api-version=2025-06-01-preview&t=639081552139154665&c=MIIHhzCCBm-gAwIBAgITHgf_SDN0U0Mca1SI0QAAB_9IMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjYwMjE5MDYyODQwWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.oSxBVaV32FKvfx4a_--cUNJm7M-IJMI9OJiy6WXcJds?api-version=2025-06-01-preview&t=639081552139154665&c=MIIHhzCCBm-gAwIBAgITHgf_SDN0U0Mca1SI0QAAB_9IMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2025-06-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-03-03T17:20:13+00:00", "endpoint": "https://featurenamespacetestc66a.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "managedOnBehalfOfConfiguration": null, "azureFrontDoor": {"resourceId":
        null}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "test@example.com",
        "createdByType": "User", "createdAt": "2026-03-03T17:20:13+00:00", "lastModifiedBy":
        "test@example.com", "lastModifiedByType": "User", "lastModifiedAt": "2026-03-03T17:20:13+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurenamespacetestc66a",
        "name": "FeatureNamespaceTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1900988f-0000-0100-0000-69a7184e0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview&$skiptoken=3ZrdTyM3FMX/l6jqEyZ8LEVFWlUuzHazCwnNh%2BgiXpyJExwynqlnhvAh/vfeez1xHMg%2B9PHmERCgX459fHx9XltWP1WXxj6UrbPX1k0yGJ4n3WFfXo4GrbPWfVUV5Vm7nSmrZjrTttpXL7XT%2B2metct6XKbOFJXJbdk%2BPZ2cqPHBb%2BJUTybik9apGKf6d3FylB4ejk9PxuPj03bh8kcz0a5sX5nU5WU%2BrfZlUZzndmpmtVP4p9pp/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview&$skiptoken=3ZDNTsMwEITfxUKccJympBGRKhQhJA5USLTccnHsrWvc2NbaNZSo7475kcozcNzZ2VnNNxEL7/FRWxNIO5H7br15WZOW7GL0oWVs5JYrGMHGgn8cEArhRhYOQxCofdTOBtY0suZDuaANSEmvAQQdBNzQuhKz2dDUwzBvmEeXtAQMbKUFuuC2sei8v3N2q9UB%2BVcUE3%2BndXQI4ZZ7TVO%2By/tlVVY1zY/KGfUIScPb5UUw2m%2BcAbs0KUDUo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview&$skiptoken=3ZDdSsQwEIXfJYhXpmmrNVhYpIjghUWw611v0mS2hm6T7CTtqqXvbvyB9Rm8nDNnzvCdhRh4C4/aDJ6UC7mvmu1LQ0ryGoLzJWOjMKKHEUxIxMeEkEg7Mj91XqJ2QVvjGeeqEF16TTkoRa8AJO0k3NAil1nW8aLrLjlzaGetAD2rtUTr7S4klXN31ux0P6H4imLy79QEi%2BBvhdN0jndxv8nTvKDxUZpRhzBrOJ6f%2BUG7rR3AbLydUALM8l1Of[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview&$skiptoken=3ZBBS8QwEIX/SxBPpmmrtVhYpIjgwSLY9dbLNJnNhm6TkKSrtvS/G13B/Q0e582bN3xvIRo/wrPSgyfVQh7rdvvWkorsQ7C%2BYmwEDRJH1CGBeXKYcDMyP/WeO2WDMtqzshQF9OktLVEIeoPIac/xjhY5z7K%2BLPr%2BumTWmaMS6DxrFHfGm11IamsfjN4pOTn4jmL8fGqDcejvwSp6jHdxv8nTvKDxUZpR6/Co8P3ywg/Kbs2AejPv1ecE%2BqBASwrzKYwG9IGsV3%2BYL/rJHESEjSK4sZbSoYSA4iclotevDTn5G3ADuigt3W8zHam6/9VNR1ayfgE%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - feeceaa3-84cd-4c47-a08a-b6e2426db955
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002/listKeys?api-version=2025-06-01-preview
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://featurenamespacetestc66a.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2026-03-03T17:20:13+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://featurenamespacetestc66a.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2026-03-03T17:20:13+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://featurenamespacetestc66a.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2026-03-03T17:20:13+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://featurenamespacetestc66a.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2026-03-03T17:20:13+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2026 17:21:15.257568 GMT
    method: GET
    uri: https://featurenamespacetestc66a.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?api-version=2023-11-01&label=v1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMxODgxODU4NQ==;sn=18818585
      x-ms-date:
      - Tue, 03 Mar 2026 17:21:16 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=OToxOSMxODgxODU4NQ==
      x-ms-content-sha256:
      - r4s0J4lEmjgUoGT3XJwCaehpz+VoUyxLHoCnSFGOHzI=
      x-ms-date:
      - Mar, 03 2026 17:21:16.043653 GMT
    method: PUT
    uri: https://featurenamespacetestc66a.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?api-version=2023-11-01&label=v1
  response:
    body:
      string: '{"etag":"ZAcbVseU7TGl3rBwXIE2f4AmetOowv6NFuzQoH-f-BM","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2026-03-03T17:21:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZAcbVseU7TGl3rBwXIE2f4AmetOowv6NFuzQoH-f-BM"'
      last-modified:
      - Tue, 03 Mar 2026 17:21:16 GMT
      sync-token:
      - zAJw6V16=OToxOSMxODgxODU4Ng==;sn=18818586
      x-ms-date:
      - Tue, 03 Mar 2026 17:21:16 GMT
    status:
      code: 200
      message: OK
[...]
