interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-01-08T02:22:47.1861011+00:00","endpoint":"https://NamingConventionTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002","name":"NamingConventionTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0d0a75e8-fe06-2fef-66a4-fe9b818441f3?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0d0a75e8-fe06-2fef-66a4-fe9b818441f3?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0d0a75e8-fe06-2fef-66a4-fe9b818441f3","name":"0d0a75e8-fe06-2fef-66a4-fe9b818441f3","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0d0a75e8-fe06-2fef-66a4-fe9b818441f3?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-01-08T02:22:48+00:00","endpoint":"https://namingconventiontestn64k.azconfig.io"},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/namingconventiontestn64k","name":"NamingConventionTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f8007b25-0000-0100-0000-5e153cf70000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/OUY-l0-s0:P4GzW6IRBbZKN7HX5K6f","name":"Primary","value":"2/jEUu9W6ieDD5/J5YpNpk9/rBRTUnOJm3k2861i3xo=","connectionString":"Endpoint=https://namingconventiontestn64k.azconfig.io;Id=/OUY-l0-s0:P4GzW6IRBbZKN7HX5K6f;Secret=2/jEUu9W6ieDD5/J5YpNpk9/rBRTUnOJm3k2861i3xo=","lastModified":"2020-01-08T02:22:47+00:00","readOnly":false},{"id":"CyI2-l0-s0:PK3X3mXPBuLOpwDmnJbF","name":"Secondary","value":"EAZsJeJyxJBQF9XAXyGVkCstHhrNtOVsWbCsxDurAfE=","connectionString":"Endpoint=https://namingconventiontestn64k.azconfig.io;Id=CyI2-l0-s0:PK3X3mXPBuLOpwDmnJbF;Secret=EAZsJeJyxJBQF9XAXyGVkCstHhrNtOVsWbCsxDurAfE=","lastModified":"2020-01-08T02:22:47+00:00","readOnly":false},{"id":"ELns-l0-s0:dSwlUKK+QZaJvpqHNnSr","name":"Primary
        Read Only","value":"HWjImodeKEOhlO3Oe3eeChW+wiuFZ16lFY2dTk24Blw=","connectionString":"Endpoint=https://namingconventiontestn64k.azconfig.io;Id=ELns-l0-s0:dSwlUKK+QZaJvpqHNnSr;Secret=HWjImodeKEOhlO3Oe3eeChW+wiuFZ16lFY2dTk24Blw=","lastModified":"2020-01-08T02:22:47+00:00","readOnly":true},{"id":"AOO4-l0-s0:lckjCXHDLGy+ACCmzNad","name":"Secondary
        Read Only","value":"OSn7RZ4jBUmOt1/o5uzxkyuQt7C6SmALTLE0fi/DdJY=","connectionString":"Endpoint=https://namingconventiontestn64k.azconfig.io;Id=AOO4-l0-s0:lckjCXHDLGy+ACCmzNad;Secret=OSn7RZ4jBUmOt1/o5uzxkyuQt7C6SmALTLE0fi/DdJY=","lastModified":"2020-01-08T02:22:47+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "Red", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PSSV+dXJHtWfZZ3+J2RnKkn/UlgoC0hujlJNR+zUJgs=
      x-ms-date:
      - Jan, 08 2020 02:23:19 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/Color?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"DzbckRyLa4lzWdacVeT1JF9n6wP","key":"Color","label":"NamingConventionTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-01-08T02:23:20+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DzbckRyLa4lzWdacVeT1JF9n6wP"'
      last-modified:
      - Wed, 08 Jan 2020 02:23:20 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM2ODg=;sn=943688
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "West US", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - H2xR0rwlr6jxe56bPUxlWA7bbre+if/wg7bWdRGaiTw=
      x-ms-date:
      - Jan, 08 2020 02:23:20 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/Region?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"8X048dL7wxvNI9qBluF27fl3cdR","key":"Region","label":"NamingConventionTest","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-01-08T02:23:20+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8X048dL7wxvNI9qBluF27fl3cdR"'
      last-modified:
      - Wed, 08 Jan 2020 02:23:20 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM2ODk=;sn=943689
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "{\"description\": null, \"enabled\": true, \"id\": \"Timestamp\",
      \"conditions\": {\"client_filters\": [{\"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\",
      \"EndTime\": \"2019-09-01T00:00:00Z\"}, \"name\": \"Local Tests\"}, {\"parameters\":
      {\"StartTime\": \"2019-09-02T00:00:00Z\", \"EndTime\": \"2019-11-01T00:00:00Z\"},
      \"name\": \"Production Tests\"}]}}", "tags": null, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - Be2QVfGAKIQPMzwVAeL88PoG3jd1c1LAc6wDXjpPhxA=
      x-ms-date:
      - Jan, 08 2020 [...]
- request:
    body: '{"value": "{\"description\": null, \"enabled\": true, \"id\": \"Percentage\",
      \"conditions\": {\"client_filters\": []}}", "tags": null, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - p5BDtOI8z9h4kHWyQoWP/KHPxN0LiqyEA+zSz1S+J74=
      x-ms-date:
      - Jan, 08 2020 02:23:20 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"FDrSdNfaThpqFgXUTjL3vZKM27Y","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"description\":
        null, \"enabled\": true, \"id\": \"Percentage\", \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-01-08T02:23:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FDrSdNfaThpqFgXUTjL3vZKM27Y"'
      last-modified:
      - Wed, 08 Jan 2020 02:23:21 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM2OTE=;sn=943691
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "{\"description\": null, \"enabled\": false, \"id\": \"Beta\",
      \"conditions\": {\"client_filters\": []}}", "tags": null, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RmGNzoxoI+AvNTwdjfNMEHLP7Y5hBJVnIzJp7knxxX8=
      x-ms-date:
      - Jan, 08 2020 02:23:20 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"6lDlMZ4w8z3G4UXdRCqqZn32mtL","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"description\":
        null, \"enabled\": false, \"id\": \"Beta\", \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-01-08T02:23:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6lDlMZ4w8z3G4UXdRCqqZn32mtL"'
      last-modified:
      - Wed, 08 Jan 2020 02:23:21 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM2OTI=;sn=943692
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 02:23:41 GMT
    method: GET
    uri: https://namingconventiontestn64k.azconfig.io/kv?key=*&label=NamingConventionTest&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"6lDlMZ4w8z3G4UXdRCqqZn32mtL","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"description\":
        null, \"enabled\": false, \"id\": \"Beta\", \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-01-08T02:23:21+00:00"},{"etag":"FDrSdNfaThpqFgXUTjL3vZKM27Y","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 02:24:02 GMT
    method: GET
    uri: https://namingconventiontestn64k.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"6lDlMZ4w8z3G4UXdRCqqZn32mtL","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"appli[...]
[...]
- request:
    body: '{"value": "Red", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PSSV+dXJHtWfZZ3+J2RnKkn/UlgoC0hujlJNR+zUJgs=
      x-ms-date:
      - Jan, 08 2020 02:24:26 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/Color?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"2Q0ka71ryPMV3YQY9GmTB6A1uBG","key":"Color","label":"YamlTests","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-01-08T02:24:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2Q0ka71ryPMV3YQY9GmTB6A1uBG"'
      last-modified:
      - Wed, 08 Jan 2020 02:24:27 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM2OTg=;sn=943698
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "West US", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - H2xR0rwlr6jxe56bPUxlWA7bbre+if/wg7bWdRGaiTw=
      x-ms-date:
      - Jan, 08 2020 02:24:26 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/Region?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"I3sNRBfUtC351YXqMLQrGXmnUWD","key":"Region","label":"YamlTests","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-01-08T02:24:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"I3sNRBfUtC351YXqMLQrGXmnUWD"'
      last-modified:
      - Wed, 08 Jan 2020 02:24:27 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM2OTk=;sn=943699
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "{\"description\": null, \"enabled\": true, \"id\": \"Timestamp\",
      \"conditions\": {\"client_filters\": [{\"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\",
      \"EndTime\": \"2019-09-01T00:00:00Z\"}, \"name\": \"Local Tests\"}, {\"parameters\":
      {\"StartTime\": \"2019-09-02T00:00:00Z\", \"EndTime\": \"2019-11-01T00:00:00Z\"},
      \"name\": \"Production Tests\"}]}}", "tags": null, "content_type": "application/vnd.microsoft.appconfig.ff+json;c[...]
- request:
    body: '{"value": "{\"description\": null, \"enabled\": false, \"id\": \"Beta\",
      \"conditions\": {\"client_filters\": []}}", "tags": null, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RmGNzoxoI+AvNTwdjfNMEHLP7Y5hBJVnIzJp7knxxX8=
      x-ms-date:
      - Jan, 08 2020 02:24:26 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"CtElXB3NGB8Y3mymKCrrLHyK6ik","key":".appconfig.featureflag/Beta","label":"YamlTests","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"description\":
        null, \"enabled\": false, \"id\": \"Beta\", \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-01-08T02:24:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CtElXB3NGB8Y3mymKCrrLHyK6ik"'
      last-modified:
      - Wed, 08 Jan 2020 02:24:27 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM3MDE=;sn=943701
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 02:24:48 GMT
    method: GET
    uri: https://namingconventiontestn64k.azconfig.io/kv?key=*&label=YamlTests&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"CtElXB3NGB8Y3mymKCrrLHyK6ik","key":".appconfig.featureflag/Beta","label":"YamlTests","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=ut[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 02:25:09 GMT
    method: GET
    uri: https://namingconventiontestn64k.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=YamlTests&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"CtElXB3NGB8Y3mymKCrrLHyK6ik","key":".appconfig.featureflag/Beta","label":"YamlTests","content_type":"application/vnd.microsoft.a[...]
[...]
- request:
    body: '{"value": "Red", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PSSV+dXJHtWfZZ3+J2RnKkn/UlgoC0hujlJNR+zUJgs=
      x-ms-date:
      - Jan, 08 2020 02:25:30 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/Color?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"0BUyXOLCNCY4OkZNjbfNsdBGaOI","key":"Color","label":"PropertiesTests","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-01-08T02:25:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0BUyXOLCNCY4OkZNjbfNsdBGaOI"'
      last-modified:
      - Wed, 08 Jan 2020 02:25:31 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM3MDI=;sn=943702
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - GIGCzRSH5WL1hUgTcqpMnssR9mdjISByNjIoQc0gtmY=
      x-ms-date:
      - Jan, 08 2020 02:25:31 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B3%5D.Parameters.EmptyValue?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"pMix5Qoohr7uLbZsAyU6iET6dw3","key":"feature-management.FeatureSample.enabled-for[3].Parameters.EmptyValue","label":"PropertiesTests","content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-01-08T02:25:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pMix5Qoohr7uLbZsAyU6iET6dw3"'
      last-modified:
      - Wed, 08 Jan 2020 02:25:31 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM3MDM=;sn=943703
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "Filter@3", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - Hus5drV3ND17uQUCIlRaQaaG6cQ7hxMsyNA84EQxU/w=
      x-ms-date:
      - Jan, 08 2020 02:25:31 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B2%5D.Name?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"dAnrrCObESTdQ4JioIOFRqoGkOb","key":"feature-management.FeatureSample.enabled-for[2].Name","label":"PropertiesTests","content_type":null,"value":"Filter@3","tags":{},"locked":false,"last_modified":"2020-01-08T02:25:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"dAnrrCObESTdQ4JioIOFRqoGkOb"'
      last-modified:
      - Wed, 08 Jan 2020 02:25:32 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM3MDQ=;sn=943704
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "West US", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - H2xR0rwlr6jxe56bPUxlWA7bbre+if/wg7bWdRGaiTw=
      x-ms-date:
      - Jan, 08 2020 02:25:31 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/Region?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"woEPPF7mkYMl3vBiPvEHMkVVDyc","key":"Region","label":"PropertiesTests","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-01-08T02:25:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"woEPPF7mkYMl3vBiPvEHMkVVDyc"'
      last-modified:
      - Wed, 08 Jan 2020 02:25:32 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM3MDU=;sn=943705
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "true", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1xnk77V6YFIjhDb6BdPaq4oRVjrH39MqvCfUklYNDzo=
      x-ms-date:
      - Jan, 08 2020 02:25:31 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/feature-management.TrueFeature?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"Dcp7ksM6nKYSeVep5LcbxJpGWod","key":"feature-management.TrueFeature","label":"PropertiesTests","content_type":null,"value":"true","tags":{},"locked":false,"last_modified":"2020-01-08T02:25:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Dcp7ksM6nKYSeVep5LcbxJpGWod"'
      last-modified:
      - Wed, 08 Jan 2020 02:25:32 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM3MDc=;sn=943707
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "false", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1Jk2JloXmAV8SDBI22cBgky26s436Qb4w7kWPICuIEA=
      x-ms-date:
      - Jan, 08 2020 02:25:32 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/feature-management.FalseFeature?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"tq2vKBwo5M3iRisETRcOTUSDpmr","key":"feature-management.FalseFeature","label":"PropertiesTests","content_type":null,"value":"false","tags":{},"locked":false,"last_modified":"2020-01-08T02:25:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tq2vKBwo5M3iRisETRcOTUSDpmr"'
      last-modified:
      - Wed, 08 Jan 2020 02:25:32 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM3MDk=;sn=943709
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "?", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - eO9vZgWKqrSe95SmKPTZCQozsA2qCO1WL1vjKk2z3Qc=
      x-ms-date:
      - Jan, 08 2020 02:25:32 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B3%5D.Parameters.dotInFilter.Param?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"bS821yTCWhWvL4W0Jap5mgHfliW","key":"feature-management.FeatureSample.enabled-for[3].Parameters.dotInFilter.Param","label":"PropertiesTests","content_type":null,"value":"?","tags":{},"locked":false,"last_modified":"2020-01-08T02:25:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bS821yTCWhWvL4W0Jap5mgHfliW"'
      last-modified:
      - Wed, 08 Jan 2020 02:25:32 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM3MTA=;sn=943710
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "value1", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - qk6FIASbkJDtxBEHmUCtwU4eWALmoM9IsfRNGpVo5m8=
      x-ms-date:
      - Jan, 08 2020 02:25:32 GMT
    method: PUT
    uri: https://namingconventiontestn64k.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B0%5D.Parameters.paramforfilter1?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"wbU2ZRToxSh7KsVcILoLo6Z47NB","key":"feature-management.FeatureSample.enabled-for[0].Parameters.paramforfilter1","label":"PropertiesTests","content_type":null,"value":"value1","tags":{},"locked":false,"last_modified":"2020-01-08T02:25:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wbU2ZRToxSh7KsVcILoLo6Z47NB"'
      last-modified:
      - Wed, 08 Jan 2020 02:25:32 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDM3MTE=;sn=943711
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 02:25:53 GMT
    method: GET
    uri: https://namingconventiontestn64k.azconfig.io/kv?key=*&label=PropertiesTests&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"0BUyXOLCNCY4OkZNjbfNsdBGaOI","key":"Color","label":"PropertiesTests","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020[...]
