interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-02-24T01:17:11.7154185+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Zr9pejDndB3WHlJ2zkwKJDYgo23Knygk5Mqo5s348A0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Zr9pejDndB3WHlJ2zkwKJDYgo23Knygk5Mqo5s348A0?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Zr9pejDndB3WHlJ2zkwKJDYgo23Knygk5Mqo5s348A0","name":"Zr9pejDndB3WHlJ2zkwKJDYgo23Knygk5Mqo5s348A0","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Zr9pejDndB3WHlJ2zkwKJDYgo23Knygk5Mqo5s348A0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-02-24T01:17:12+00:00","endpoint":"https://kvsetimporttesth6tpwddme.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-02-24T01:17:12+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T01:17:12+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttesth6tpwddme","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6b02dd2c-0000-0100-0000-63f810180000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NDqiYPXC0bDSx%2FhNQ3xzHBBZzMdghq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5ulkHsdzF6DDcmLOUmLDC%2FLPJgFO2M6PQvDI5W04UcuzYi%2B9IqPWHsMdV9ppkRnRCt1OJ3WE1qNv6Apr2v0mXOGKsa%2FoknMoqiaTqrq0zTsVHsSNVc6fBRMtbrdmhHuunkrt6LpFXWfCtntU25axfU32gl0su%2FZ3%2B%2FjcRyj8QSNo48f9F50Rbvn8l5zdRKMI0MbNLBeB3fBf0ByAXGyQNPj3J97w7XRTkArBsEwGdBJcoO4HyinAymz1ZrA8obZqdaYg5CNVyO2cuSrsvjhNMF5gmHR3Dpdc2phcJm7yEqwA4ILw2lvYdJVZpUBOGW3ukjuUPyQwU5hVyfapjD6N8diwFPWaxcAl04BxjHY%2F%2B6FGITZtb3pDpbke4afkqWfNbiqVMpvLDjFC%2FzuGLgwjDKryztGki4gNwwT0rLAbMrr%2FuUM%2F5DhdE7Az9ZWudn6idc4hd32z51bi3%2BtMgLf8Hsvit9cYNe9Pz7Ky6nLNwp%2ByJI59mSw8vjZrvvUHp2RCwH0Ql2K3TQlPO9cgWxVOufkG7IgNtH8bQVQbfTgwizfJMUTyZY4XbitDCrLYYgszG9c4Ay2Kt4xf%2FwO4zMA4AZzNYsW0ieAVeaazKTEa1hDpjijLYqiaGI5XHSVeQyPwl2JUVoHb3cBVUfcNIo31PDaX2BaQXD2GLz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - f7abe585-3ed4-4f70-be40-2c9aef943d37
      - db0c0b34-39d1-41ec-8b9d-0d69d50bf83f
      - a0789eb6-b499-42b7-8aa0-11c93eee5fb4
      - b1456d71-b7bf-4978-8cdc-2abfc2cf4828
      - faf08033-49cc-4d71-bca1-d701205fd4fa
      - e1b232bb-60fe-4eb4-90e6-bce77930419b
      - 69e554ea-372c-47c6-b7f6-381bd71bf842
      - e25b0cfe-5864-4119-bc71-11810d7c306e
      - eedb8f50-d092-4a0e-9aca-9d19fedffda6
      - e4864249-0f6b-46ff-b2cf-ecf6abb3785e
      - 48f9944c-fff0-4829-8e25-49e01e025b23
      - 4acacef7-303b-41d8-bcb5-caf74202d3cb
      - df537a7b-f09b-4ab1-9ba5-cf85fb3f53ef
      - 6261de7e-15a9-438e-a0dc-55070922054c
      - 5816c914-5309-4e76-a2fa-f0701059c6a5
      - c9d1795f-5a8b-47a9-983b-41644f7bb337
      - e4e33a40-d292-4911-a113-5005f34537ec
      - d980b2f0-650b-41d9-81ff-36008919b542
      - 543da48a-400f-4919-a8ab-0007e6c1ed66
      - 4af9d7ad-da25-4ca5-b6c4-752fd2c8930e
      - 800632f9-092d-4773-a735-00da228c7902
      - 92ad0bfe-4f5b-428f-b3b5-5b750aac7d17
      - 16b89479-de31-442d-97bb-f7bb9897e688
      - 93a75080-ca6c-479a-9c7c-e1c2d00e05e8
      - 5404fc3f-bf0b-4a14-87a0-2469700911e0
      - 17f1ba80-2548-4401-baec-12a8d5953444
      - e8923f40-971f-4c62-b9e3-b816272327b6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"4GJ6-l0-s0:Kq78Re8IWtFXQyOCgb9y","name":"Primary","value":"Ax4Mbt17UyQ6f59L+Y4Cd91CaFsgKQIGpiT5y2IwikY=","connectionString":"Endpoint=https://kvsetimporttesth6tpwddme.azconfig.io;Id=4GJ6-l0-s0:Kq78Re8IWtFXQyOCgb9y;Secret=Ax4Mbt17UyQ6f59L+Y4Cd91CaFsgKQIGpiT5y2IwikY=","lastModified":"2023-02-24T01:17:11+00:00","readOnly":false},{"id":"P2Ej-l0-s0:sMZYl3M0e68sItJ8QYya","name":"Secondary","value":"dAMKGU25fOOgPXQanRH/ijCu0NfiPg4cU0S/uzl2gYw=","connectionString":"Endpoint=https://kvsetimporttesth6tpwddme.azconfig.io;Id=P2Ej-l0-s0:sMZYl3M0e68sItJ8QYya;Secret=dAMKGU25fOOgPXQanRH/ijCu0NfiPg4cU0S/uzl2gYw=","lastModified":"2023-02-24T01:17:11+00:00","readOnly":false},{"id":"5gqB-l0-s0:OQxRJhdGyMhw0ZNc2Oav","name":"Primary
        Read Only","value":"g9kEuR3klnGqpT9kwZJwRRETIruyz7SWHlI+6OD6s3Y=","connectionString":"Endpoint=https://kvsetimporttesth6tpwddme.azconfig.io;Id=5gqB-l0-s0:OQxRJhdGyMhw0ZNc2Oav;Secret=g9kEuR3klnGqpT9kwZJwRRETIruyz7SWHlI+6OD6s3Y=","lastModified":"2023-02-24T01:17:11+00:00","readOnly":true},{"id":"oqtu-l0-s0:P5Jo4Jmbb/aMWel1g3Jo","name":"Secondary
        Read Only","value":"6EsDZ7w89hRvY9KzoQAOWGAGsseV92tKe0p26aawa+g=","connectionString":"Endpoint=https://kvsetimporttesth6tpwddme.azconfig.io;Id=oqtu-l0-s0:P5Jo4Jmbb/aMWel1g3Jo;Secret=6EsDZ7w89hRvY9KzoQAOWGAGsseV92tKe0p26aawa+g=","lastModified":"2023-02-24T01:17:11+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:24 GMT
    method: GET
    uri: https://kvsetimporttesth6tpwddme.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTgxMg==;sn=35771812
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTgxMg==
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Feb, 24 2023 01:17:25 GMT
    method: PUT
    uri: https://kvsetimporttesth6tpwddme.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"BUquKY76_TJxpVvYDpDHQCLZLdxnHVyxcUtmbcpUH4s","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BUquKY76_TJxpVvYDpDHQCLZLdxnHVyxcUtmbcpUH4s"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:26 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTgxMw==;sn=35771813
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTgxMw==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Feb, 24 2023 01:17:25 GMT
    method: PUT
    uri: https://kvsetimporttesth6tpwddme.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"wYR8BLgERyI1OUJeY5i6rXHcmKf88jAwudXOI_yBNUg","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wYR8BLgERyI1OUJeY5i6rXHcmKf88jAwudXOI_yBNUg"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:26 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTgxNA==;sn=35771814
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTgxNA==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Feb, 24 2023 01:17:25 GMT
    method: PUT
    uri: https://kvsetimporttesth6tpwddme.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"Zx-luS8ITYfa2bNPLt2ABA2AAUbnEbR_-v3aZ8Es04c","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Zx-luS8ITYfa2bNPLt2ABA2AAUbnEbR_-v3aZ8Es04c"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:26 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTgxNQ==;sn=35771815
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTgxNQ==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Feb, 24 2023 01:17:25 GMT
    method: PUT
    uri: https://kvsetimporttesth6tpwddme.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"U6op4wnmRvqMK40dc1F4PKTf15S2K_grsHnozGaH7PY","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2023-02-24T01:17:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"U6op4wnmRvqMK40dc1F4PKTf15S2K_grsHnozGaH7PY"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:26 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTgxNg==;sn=35771816
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTgxNg==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Feb, 24 2023 01:17:25 GMT
    method: PUT
    uri: https://kvsetimporttesth6tpwddme.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"hHaZj72sCfumQpdi-uAfQwpQutgGFlk1jeTgtsPwA9w","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-02-24T01:17:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hHaZj72sCfumQpdi-uAfQwpQutgGFlk1jeTgtsPwA9w"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:26 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTgxNw==;sn=35771817
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTgxNw==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Feb, 24 2023 01:17:25 GMT
    method: PUT
    uri: https://kvsetimporttesth6tpwddme.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"yub5QMLHSeMVd4mJVHfOn1mJGwQhyvPWCwFhHHVHPm8","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-02-24T01:17:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yub5QMLHSeMVd4mJVHfOn1mJGwQhyvPWCwFhHHVHPm8"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:26 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTgxOA==;sn=35771818
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTgxOA==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Feb, 24 2023 01:17:25 GMT
    method: PUT
    uri: https://kvsetimporttesth6tpwddme.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"VlzAVCoD2Y0HUofx_mNe3hPimAVngvHL4u556S5Z4OA","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-02-24T01:17:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VlzAVCoD2Y0HUofx_mNe3hPimAVngvHL4u556S5Z4OA"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:27 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTgxOQ==;sn=35771819
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTgxOQ==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Feb, 24 2023 01:17:25 GMT
    method: PUT
    uri: https://kvsetimporttesth6tpwddme.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"hvJZHXEr7OdytdlLeKjsrnxD2_UQZXISN0muMBGfubc","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hvJZHXEr7OdytdlLeKjsrnxD2_UQZXISN0muMBGfubc"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:27 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTgyMA==;sn=35771820
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTgyMA==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Feb, 24 2023 01:17:26 GMT
    method: PUT
    uri: https://kvsetimporttesth6tpwddme.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"qdPv7GzHg44F6nZZrB8MRg-frupakRgbBxdmHuURDao","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2023-02-24T01:17:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qdPv7GzHg44F6nZZrB8MRg-frupakRgbBxdmHuURDao"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:27 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTgyMQ==;sn=35771821
    status:
      code: 200
      message: OK
[...]
