interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-08-26T05:49:12.2577737+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002","name":"AadTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/D7GHdMo7fJOr7i9q1zHT5Q9fGG0JA3buwd8gbjbW_kQ?api-version=2023-03-01&t=638602481524995192&c=MIIHhzCCBm-gAwIBAgITfAURLZ3typdTL74CVwAABREtnTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjI3MTU1MDE3WhcNMjUwNjIyMTU1MDE3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/D7GHdMo7fJOr7i9q1zHT5Q9fGG0JA3buwd8gbjbW_kQ?api-version=2023-03-01&t=638602481524995192&c=MIIHhzCCBm-gAwIBAgITfAURLZ3typdTL74CVwAABREtnTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjI3MTU1MDE3WhcNMjUwNjIyMTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-08-26T05:49:12+00:00","endpoint":"https://aadtesto334lamy.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"cwanjau@microsoft.com","createdByType":"User","createdAt":"2024-08-26T05:49:12+00:00","lastModifiedBy":"cwanjau@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-26T05:49:12+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtesto334lamy","name":"AadTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5a0025fe-0000-0100-0000-66cc175a0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest","name":"garywangtest","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},"privateLinkServiceConnectionState":{"status":"Pending","description":"ms","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-28T11:10:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZrvTuNGFMXfJar6aUwglKIiraopeLteIKF2Irr7beIMwSGxzYxNgFXfvfeO7YkD7AMciS%2BAguZw7t%2BZ349Brp%2Brqyx/sIOzH4PbMJmeh%2BNpLK9myeBscF9VpT0bDjcqV0u90Xl1oF5row/SYjO09dymJiurrMjt8PR0caLmh78Hp3qxCH7TOg3mqf4jOBmlR0fz05P5/Ph0WJriKVtoY4fXWWoKW9xVB7Isz4v8LlvWRvGfGqb975KqMNr%2Bqco[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3Y/bSsQwEIbfJYhXm6btWsMWFininb2x6wPkMBtDyYFJWlcX391Yb3wGYWCY/%2Bcb%2BK7EwyU/Wz8n0l/J0zCdXifSk7ecY%2BoZc8ILAw58rsTnglCp4FhaZFJoY7bBJ8a57oSs7ykHrekdgKJSwYF2rWoayTsp95xFDKvVgImNVmFI4ZyrIcbH4M/WLCh%2BXjH195pyQEgPIlq6Fq70x7Zu97Qu09zepNnGU5jBHz%2BWd6DWxYCZwmVbIkaaAFergHztiEA3GINgRAa9QcVweBnJbrMfBc6AJfq17/%2BR%2Bzc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 14bb7a87-195c-40b9-b936-dbdd6d899a79
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"tLTS","name":"Primary","value":"90mEkjLhbsyDyFzW5gG0zfYRCGnG6CNxcpKuAJgCwUtBiAJ22UEeJQQJ99AHACYeBjFAArohAAACAZAC1fij","connectionString":"Endpoint=https://aadtesto334lamy.azconfig.io;Id=tLTS;Secret=90mEkjLhbsyDyFzW5gG0zfYRCGnG6CNxcpKuAJgCwUtBiAJ22UEeJQQJ99AHACYeBjFAArohAAACAZAC1fij","lastModified":"2024-08-26T05:49:12+00:00","readOnly":false},{"id":"sj+S","name":"Secondary","value":"35PFV03gkXAV7x4uC8atFejhQVPxokBFtXcP27Nia241xQdNxZCmJQQJ99AHACYeBjFAArohAAACAZACcrEJ","connectionString":"Endpoint=https://aadtesto334lamy.azconfig.io;Id=sj+S;Secret=35PFV03gkXAV7x4uC8atFejhQVPxokBFtXcP27Nia241xQdNxZCmJQQJ99AHACYeBjFAArohAAACAZACcrEJ","lastModified":"2024-08-26T05:49:12+00:00","readOnly":false},{"id":"rGUi","name":"Primary
        Read Only","value":"4nglIc9tcFPcBiaJaL2XHHiIVFnGmTK78EFRezsXvBOhlwILLjxNJQQJ99AHACYeBjFAArohAAABAZACAVkZ","connectionString":"Endpoint=https://aadtesto334lamy.azconfig.io;Id=rGUi;Secret=4nglIc9tcFPcBiaJaL2XHHiIVFnGmTK78EFRezsXvBOhlwILLjxNJQQJ99AHACYeBjFAArohAAABAZACAVkZ","lastModified":"2024-08-26T05:49:12+00:00","readOnly":true},{"id":"vUWZ","name":"Secondary
        Read Only","value":"3973nHaoIrKuPe76c6wY5teoxBjfMCLS8OsgdJRPFQd7BakwrS1xJQQJ99AHACYeBjFAArohAAABAZACz3kg","connectionString":"Endpoint=https://aadtesto334lamy.azconfig.io;Id=vUWZ;Secret=3973nHaoIrKuPe76c6wY5teoxBjfMCLS8OsgdJRPFQd7BakwrS1xJQQJ99AHACYeBjFAArohAAABAZACz3kg","lastModified":"2024-08-26T05:49:12+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:58 GMT
    method: GET
    uri: https://aadtesto334lamy.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MTY1OA==;sn=67361658
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MTY1OA==
      x-ms-content-sha256:
      - nt5aMZQ20VbmQ/d+gpP3HsGr+Z1pPF2YO5YAw0yHcuE=
      x-ms-date:
      - Aug, 26 2024 05:49:58 GMT
    method: PUT
    uri: https://aadtesto334lamy.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"6i3OjiWy7CWF-e5qvbMoROMI0EbmbuNJUxsTJb31mnA","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6i3OjiWy7CWF-e5qvbMoROMI0EbmbuNJUxsTJb31mnA"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:58 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MTY1OQ==;sn=67361659
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:58 GMT
    method: GET
    uri: https://aadtesto334lamy.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MTY1OQ==;sn=67361659
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MTY1OQ==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Aug, 26 2024 05:49:59 GMT
    method: PUT
    uri: https://aadtesto334lamy.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"356X7nd4LTovg6-S5K_cBNxEGeRug4TrleRm7Ztbsf0","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"356X7nd4LTovg6-S5K_cBNxEGeRug4TrleRm7Ztbsf0"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:59 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MTY2MA==;sn=67361660
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users?$filter=userPrincipalName%20eq%20%27cwanjau%40microsoft.com%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users","value":[{"businessPhones":[],"displayName":"Christine
        WANJAU","givenName":"Christine","jobTitle":"SOFTWARE ENGINEER","mail":"cwanjau@microsoft.com","mobilePhone":null,"officeLocation":"NAIROBI-WAIYAKI
        WAY/Mobile","preferredLanguage":null,"surname":"WANJAU","userPrincipalName":"cwanjau@microsoft.com","id":"43ddb22f-baef-4d3f-9e56-3a89871b9b59"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Europe","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"AM1PEPF0003BA69"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtesto334lamy/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"App Configuration Data Reader","type":"BuiltInRole","description":"Allows
        read access to App Configuration data.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.AppConfiguration/configurationStores/*/read"],"notDataActions":[]}],"createdOn":"2019-10-25T18:45:33.7975332Z","updatedOn":"2021-11-11T20:14:11.5885341Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","type":"Microsoft.Authorization/roleDefinitions","name":"516239f1-63e1-4d78-a4de-a74fb236a071"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071",
      "principalId": "43ddb22f-baef-4d3f-9e56-3a89871b9b59", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtesto334lamy/providers/Microsoft.Authorization/roleAssignments/5b7e0048-b1ad-4fba-b144-55f86bd409e5?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","principalId":"43ddb22f-baef-4d3f-9e56-3a89871b9b59","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtesto334lamy","condition":null,"conditionVersion":null,"createdOn":"2024-08-26T05:50:04.6612956Z","updatedOn":"2024-08-26T05:50:05.4703100Z","createdBy":null,"updatedBy":"43ddb22f-baef-4d3f-9e56-3a89871b9b59","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtesto334lamy/providers/Microsoft.Authorization/roleAssignments/5b7e0048-b1ad-4fba-b144-55f86bd409e5","type":"Microsoft.Authorization/roleAssignments","name":"5b7e0048-b1ad-4fba-b144-55f86bd409e5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZrtT%2BNGEMb/l6jqp10CoRQd0qnagq%2BXO0ionYjefVs7S3BebHfXJsCp/3tn1i9xgPb7I/EFUNA%2BPDOzM7O/H4PMPJXXabZ2g4sfg7sgml0Gk1morufR4GLwUJaFuxgOtzrTS7M1WXmkXyprjpJ8O3RV7BKbFmWaZ254fr440/Hxr/LcLBbyF2MSGSfmgzwbJScn8flZHJ%2BeDwubP6YLY93wJk1s7vL78kgVxWWe3afLymr%2BU8Ok/11U5ta433S[...]
[...]
- request:
    body: '{"key": "Color", "content_type": "", "value": "Blue", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"6i3OjiWy7CWF-e5qvbMoROMI0EbmbuNJUxsTJb31mnA"'
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MjE2Nw==
    method: PUT
    uri: https://aadtesto334lamy.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtesto334lamy.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"356X7nd4LTovg6-S5K_cBNxEGeRug4TrleRm7Ztbsf0","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:59+00:00"},{"etag":"6i3OjiWy7CWF-e5qvbMoROMI0EbmbuNJUxsTJb31mnA","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:58+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MjE2Nw==;sn=67362167
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtesto334lamy.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"356X7nd4LTovg6-S5K_cBNxEGeRug4TrleRm7Ztbsf0","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:59+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MjE2Nw==;sn=67362167
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtesto334lamy/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Owner%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"App Configuration Data Owner","type":"BuiltInRole","description":"Allows
        full access to App Configuration data.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.AppConfiguration/configurationStores/*/read","Microsoft.AppConfiguration/configurationStores/*/write","Microsoft.AppConfiguration/configurationStores/*/delete","Microsoft.AppConfiguration/configurationStores/*/action"],"notDataActions":[]}],"createdOn":"2019-10-25T18:41:40.1185063Z","updatedOn":"2023-02-06T16:01:22.3871138Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b","type":"Microsoft.Authorization/roleDefinitions","name":"5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtesto334lamy.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MjY1OA==;sn=67362658
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtesto334lamy.azconfig.io/kv?key=%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"356X7nd4LTovg6-S5K_cBNxEGeRug4TrleRm7Ztbsf0","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:59+00:00"},{"etag":"zj_lMyvz9Pz8a17VCm1Ni1FZ8bymXWSWfQhCoqjDKXc","key":"Color","label":null,"content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2024-08-26T06:20:28+00:00"},{"etag":"hujlIllNfXPMPOWnGihlD_kSNCuDQD2QvCYIdi2X8SE","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2024-08-26T06:20:29+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MjY1OQ==;sn=67362659
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MjY1OQ==
    method: GET
    uri: https://aadtesto334lamy.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"356X7nd4LTovg6-S5K_cBNxEGeRug4TrleRm7Ztbsf0","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:59+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MjY1OQ==;sn=67362659
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MjY1OQ==
    method: PUT
    uri: https://aadtesto334lamy.azconfig.io/kv/Language?api-version=1.0
  response:
    body:
      string: '{"etag":"mWxRr3M16yrE6H4zfZ4egeFlkjndRYmp4H3TrjdMR04","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2024-08-26T06:20:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mWxRr3M16yrE6H4zfZ4egeFlkjndRYmp4H3TrjdMR04"'
      last-modified:
      - Mon, 26 Aug 2024 06:20:29 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MjY2MA==;sn=67362660
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "font-size", "value": "34"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MjY2MA==
    method: PUT
    uri: https://aadtesto334lamy.azconfig.io/kv/font-size?api-version=1.0
  response:
    body:
      string: '{"etag":"e0mNl5xUpKIDxZZnp5EJVZ59aT1LYTD0uPdt1MV-LO0","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2024-08-26T06:20:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"e0mNl5xUpKIDxZZnp5EJVZ59aT1LYTD0uPdt1MV-LO0"'
      last-modified:
      - Mon, 26 Aug 2024 06:20:29 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MjY2MQ==;sn=67362661
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MjY2MQ==
    method: PUT
    uri: https://aadtesto334lamy.azconfig.io/kv/.appconfig.featureflag%2FPercentage?api-version=1.0
  response:
    body:
      string: '{"etag":"XH296S8gag9FSwy1vuIJFLBwFBd_OxZp6Z0vyFgNx6g","key":".appconfig.featureflag/Percentage","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": \"\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2024-08-26T06:20:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XH296S8gag9FSwy1vuIJFLBwFBd_OxZp6Z0vyFgNx6g"'
      last-modified:
      - Mon, 26 Aug 2024 06:20:30 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MjY2Mg==;sn=67362662
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MjY2Mg==
    method: PUT
    uri: https://aadtesto334lamy.azconfig.io/kv/.appconfig.featureflag%2FTimestamp?api-version=1.0
  response:
    body:
      string: '{"etag":"_aRv6BfX__KS1QTyKb4M7X-jjFjoHvbgWCl_JT5qgHc","key":".appconfig.featureflag/Timestamp","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Timestamp\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        [{\"name\": \"Local Tests\", \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\",
        \"EndTime\": \"2019-09-01T00:00:00Z\"}}, {\"name\": \"Production Tests\",
        \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\", \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}","tags":{},"locked":false,"last_modified":"2024-08-26T06:20:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"_aRv6BfX__KS1QTyKb4M7X-jjFjoHvbgWCl_JT5qgHc"'
      last-modified:
      - Mon, 26 Aug 2024 06:20:30 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MjY2Mw==;sn=67362663
    status:
      code: 200
      message: OK
[...]
