interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-07-11T05:40:59.3905694+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002","name":"StrictImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9JbuMJe8sgZ3IqvB5eXC7rc6JV2xF46yM_X9igbNoa8?api-version=2023-03-01&t=638562732598093772&c=MIIHpTCCBo2gAwIBAgITfwOB0omLwWLvjCInwwAEA4HSiTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI5MDUzNjI0WhcNMjUwNjI0MDUzNjI0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9JbuMJe8sgZ3IqvB5eXC7rc6JV2xF46yM_X9igbNoa8?api-version=2023-03-01&t=638562732598093772&c=MIIHpTCCBo2gAwIBAgITfwOB0omLwWLvjCInwwAEA4HSiTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI5MDUzNjI0WhcNMjUwNjI0MDU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-07-11T05:41:00+00:00","endpoint":"https://strictimporttestmskl6z3t.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"cwanjau@microsoft.com","createdByType":"User","createdAt":"2024-07-11T05:41:00+00:00","lastModifiedBy":"cwanjau@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-07-11T05:41:01+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/strictimporttestmskl6z3t","name":"StrictImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c2015d44-0000-0100-0000-668f706d0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest","name":"garywangtest","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},"privateLinkServiceConnectionState":{"status":"Pending","description":"ms","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-28T11:10:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Zpbb9tGEEb/i1D0adeypapCDATFVmYaIrq4pAgleVtSK5mSeOkuacoO%2Bt87s7yEsvzQ1wH8YhsydDw7387w6McgVediHqdHM7j/Mdg4/nrmLNeemAf%2B4H7wVBS5uR8OE5nKvUpUWtzI11KrmyhLhqYMTaTjvIiz1Ayn0%2B1Ehre/86nabvlvSkU8jNQHPhlFd3fhdBKG4%2Bkw19lzvFXaDBdxpDOT7YobkeezLN3F%2B1JL/FPDqP%2BdX2RamT9kH[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3Y/bSsQwEIbfJYhXm6btWsMWFininb2x6wPkMBtDyYFJWlcX391Yb3wGYWCY/%2Bcb%2BK7EwyU/Wz8n0l/J0zCdXifSk7ecY%2BoZc8ILAw58rsTnglCp4FhaZFJoY7bBJ8a57oSs7ykHrekdgKJSwYF2rWoayTsp95xFDKvVgImNVmFI4ZyrIcbH4M/WLCh%2BXjH195pyQEgPIlq6Fq70x7Zu97Qu09zepNnGU5jBHz%2BWd6DWxYCZwmVbIkaaAFergHztiEA3GINgRAa9QcVweBnJbrMfBc6AJfq17/%2BR%2Bzc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - cd831dd8-c0ec-4c90-b5b2-2c86c9a38202
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"efSE","name":"Primary","value":"C8H2w1x2QUj8oOehxOGlvnWk7AWRnC3BKoNdgKgryhd2CDtCfh9pJQQJ99AGACYeBjFAArohAAACAZACBFP8","connectionString":"Endpoint=https://strictimporttestmskl6z3t.azconfig.io;Id=efSE;Secret=C8H2w1x2QUj8oOehxOGlvnWk7AWRnC3BKoNdgKgryhd2CDtCfh9pJQQJ99AGACYeBjFAArohAAACAZACBFP8","lastModified":"2024-07-11T05:40:59+00:00","readOnly":false},{"id":"q8rQ","name":"Secondary","value":"4mxnT3E9LF12qe4moPTxxzxdyR6zoFugUPSVv9zkpxKFOAi6T6wvJQQJ99AGACYeBjFAArohAAACAZACw6D4","connectionString":"Endpoint=https://strictimporttestmskl6z3t.azconfig.io;Id=q8rQ;Secret=4mxnT3E9LF12qe4moPTxxzxdyR6zoFugUPSVv9zkpxKFOAi6T6wvJQQJ99AGACYeBjFAArohAAACAZACw6D4","lastModified":"2024-07-11T05:40:59+00:00","readOnly":false},{"id":"Gh3M","name":"Primary
        Read Only","value":"RiWaUzhk57QPjZYWIFwKbu7TcBpB01jVWJt7GMIdzOTQPJhFvfbGJQQJ99AGACYeBjFAArohAAABAZACD3rr","connectionString":"Endpoint=https://strictimporttestmskl6z3t.azconfig.io;Id=Gh3M;Secret=RiWaUzhk57QPjZYWIFwKbu7TcBpB01jVWJt7GMIdzOTQPJhFvfbGJQQJ99AGACYeBjFAArohAAABAZACD3rr","lastModified":"2024-07-11T05:40:59+00:00","readOnly":true},{"id":"8eeu","name":"Secondary
        Read Only","value":"CsQEK2OseV5jQkpuTlANpfnLsRuYgXc7K7teuOsnKTlPspYdLpjvJQQJ99AGACYeBjFAArohAAABAZACQXsr","connectionString":"Endpoint=https://strictimporttestmskl6z3t.azconfig.io;Id=8eeu;Secret=CsQEK2OseV5jQkpuTlANpfnLsRuYgXc7K7teuOsnKTlPspYdLpjvJQQJ99AGACYeBjFAArohAAABAZACQXsr","lastModified":"2024-07-11T05:40:59+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:42:07 GMT
    method: GET
    uri: https://strictimporttestmskl6z3t.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM2NjE0NTcyMQ==;sn=66145721
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM2NjE0NTcyMQ==
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Jul, 11 2024 05:42:08 GMT
    method: PUT
    uri: https://strictimporttestmskl6z3t.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"qCOiMuR8WwOe8LysnAf64yC-KsKD33hA9WU9QrUs_Pg","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-07-11T05:42:09+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qCOiMuR8WwOe8LysnAf64yC-KsKD33hA9WU9QrUs_Pg"'
      last-modified:
      - Thu, 11 Jul 2024 05:42:09 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NjE0NTcyMg==;sn=66145722
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM2NjE0NTcyMg==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Jul, 11 2024 05:42:09 GMT
    method: PUT
    uri: https://strictimporttestmskl6z3t.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"MouvR0uENEKGBDRrZVLcgUzgoYFkV6Hv-6oA5NduK50","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-07-11T05:42:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"MouvR0uENEKGBDRrZVLcgUzgoYFkV6Hv-6oA5NduK50"'
      last-modified:
      - Thu, 11 Jul 2024 05:42:10 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NjE0NTcyMw==;sn=66145723
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM2NjE0NTcyMw==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Jul, 11 2024 05:42:09 GMT
    method: PUT
    uri: https://strictimporttestmskl6z3t.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"iTFC3iz1PybyziNltKhFXxuuTt5LV13d3qnljnIwar0","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2024-07-11T05:42:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"iTFC3iz1PybyziNltKhFXxuuTt5LV13d3qnljnIwar0"'
      last-modified:
      - Thu, 11 Jul 2024 05:42:10 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NjE0NTcyNA==;sn=66145724
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM2NjE0NTcyNA==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Jul, 11 2024 05:42:09 GMT
    method: PUT
    uri: https://strictimporttestmskl6z3t.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"1OIAoS-WV2qbc7OiXOZ2Mf0WOZUPvvC9rqebiyl0cDw","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2024-07-11T05:42:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1OIAoS-WV2qbc7OiXOZ2Mf0WOZUPvvC9rqebiyl0cDw"'
      last-modified:
      - Thu, 11 Jul 2024 05:42:10 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NjE0NTcyNQ==;sn=66145725
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM2NjE0NTcyNQ==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Jul, 11 2024 05:42:09 GMT
    method: PUT
    uri: https://strictimporttestmskl6z3t.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"EnfGQhMRjnbkPrtoWhIKK-qoFI1qIFErbqwtpHjT7zs","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-07-11T05:42:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"EnfGQhMRjnbkPrtoWhIKK-qoFI1qIFErbqwtpHjT7zs"'
      last-modified:
      - Thu, 11 Jul 2024 05:42:11 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NjE0NTcyNg==;sn=66145726
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM2NjE0NTcyNg==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Jul, 11 2024 05:42:10 GMT
    method: PUT
    uri: https://strictimporttestmskl6z3t.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"RRRHMc2boXLTA_AdznmD7L7etkJD5W-5r6CZSENWH_w","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-07-11T05:42:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RRRHMc2boXLTA_AdznmD7L7etkJD5W-5r6CZSENWH_w"'
      last-modified:
      - Thu, 11 Jul 2024 05:42:11 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NjE0NTcyNw==;sn=66145727
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM2NjE0NTcyNw==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Jul, 11 2024 05:42:10 GMT
    method: PUT
    uri: https://strictimporttestmskl6z3t.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"Fr7mrISUHbklEuHIlyR-dHOZJnnZ5nhm9kF-t9doMzg","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-07-11T05:42:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Fr7mrISUHbklEuHIlyR-dHOZJnnZ5nhm9kF-t9doMzg"'
      last-modified:
      - Thu, 11 Jul 2024 05:42:11 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NjE0NTcyOA==;sn=66145728
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM2NjE0NTcyOA==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Jul, 11 2024 05:42:10 GMT
    method: PUT
    uri: https://strictimporttestmskl6z3t.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"zKyxYayJbOtV40BBTtrv4u47LiRakft4u7bz7jLT0mM","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2024-07-11T05:42:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zKyxYayJbOtV40BBTtrv4u47LiRakft4u7bz7jLT0mM"'
      last-modified:
      - Thu, 11 Jul 2024 05:42:12 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NjE0NTczMA==;sn=66145730
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM2NjE0NTczMA==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Jul, 11 2024 05:42:11 GMT
    method: PUT
    uri: https://strictimporttestmskl6z3t.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"-OM0_LvzcwviKS-ppISOpxTDpuWX8iDh4Cf5GEcbfdk","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2024-07-11T05:42:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"-OM0_LvzcwviKS-ppISOpxTDpuWX8iDh4Cf5GEcbfdk"'
      last-modified:
      - Thu, 11 Jul 2024 05:42:12 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NjE0NTczMQ==;sn=66145731
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Zpdb9pIFIb/C6r2aiYk0BRtpKqaEre1ykfWxmLbu8EMxIA/dsaOgWr/%2B54z/qgJudjbI%2BUmiYh4cua8c44ffvUSdcwnUbI3vYdfvaXjL8bObOGJSeD3HnrPeZ6Zh34/loncqlgl%2BY08F1rdhGncN8XKhDrK8ihNTH80Wt/L1e0HPlLrNX%2BvVMhXofqT3w/Cu7vV6H61Go76mU5forXSpj%2BNQp2adJPfiCwbp8km2hZa4p/qh93v/DzVynySWcR[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Zpbb%2BM2EEb/i1H0iYwTu6mxARYF62i7wvqSShbc3TdKpr2yrUtJKUqy6H/vDCWxcpKHvg4QBEgCBz4ZzscZnfwY5eqpWqT5yYzufoy2XriZe6tNIBZROLobfa%2Bq0tyNx5nM5UFlKq%2Bu5Eut1VVSZGNTxybRaVmlRW7Gs9nuVsbXv/KZ2u34L0olPE7UB347SW5u4tltHE9n41IXj%2BlOaTNepokuTLGvrkRZzot8nx5qLfFXjZPhV2FVaGV%2Bk2X[...]
[...]
