interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-10-18T21:17:49.9796709+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/abcad380-4fae-c28c-001a-d2143e7127fc?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/abcad380-4fae-c28c-001a-d2143e7127fc?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/abcad380-4fae-c28c-001a-d2143e7127fc","name":"abcad380-4fae-c28c-001a-d2143e7127fc","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/abcad380-4fae-c28c-001a-d2143e7127fc?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-10-18T21:18:01+00:00","endpoint":"https://kvsetimporttestqchsotzye.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2021-10-18T21:18:01+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-18T21:18:01+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttestqchsotzye","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6200e789-0000-0100-0000-616de4890000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-10-18T21:18:01+00:00","endpoint":"https://kvsetimporttestqchsotzye.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2021-10-18T21:18:01+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-18T21:18:01+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttestqchsotzye","name":"KVSetImportTest000002","tags":{}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview&$skipToken=kvsetimporttestqchsotzye"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/b1fdfbbb-f2ed-45c2-a4a6-b0d08fff63cd/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview&$skipToken=kvsetimporttestqchsotzye>;
        rel="next"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"5cFt-l0-s0:/srUO4U6svVby8tWEsJ9","name":"Primary","value":"KCe9FdAXGCce5C9NlQ1h1BiMMWKYO7lw4RbhOrp3bvo=","connectionString":"Endpoint=https://kvsetimporttestqchsotzye.azconfig.io;Id=5cFt-l0-s0:/srUO4U6svVby8tWEsJ9;Secret=KCe9FdAXGCce5C9NlQ1h1BiMMWKYO7lw4RbhOrp3bvo=","lastModified":"2021-10-18T21:17:49+00:00","readOnly":false},{"id":"BiT1-l0-s0:jyuYw/RqWoNX5+HjwitP","name":"Secondary","value":"5X02kCfKvjAW6M8BM0zn5JVSB9wTo/a7mH/XIfnfOww=","connectionString":"Endpoint=https://kvsetimporttestqchsotzye.azconfig.io;Id=BiT1-l0-s0:jyuYw/RqWoNX5+HjwitP;Secret=5X02kCfKvjAW6M8BM0zn5JVSB9wTo/a7mH/XIfnfOww=","lastModified":"2021-10-18T21:17:49+00:00","readOnly":false},{"id":"3DrL-l0-s0:tluon7+HFGmzQCpznb+c","name":"Primary
        Read Only","value":"DrXYBgWEVYEI+bPsptHlPlEIqNMGdArTrew6d9XUOdk=","connectionString":"Endpoint=https://kvsetimporttestqchsotzye.azconfig.io;Id=3DrL-l0-s0:tluon7+HFGmzQCpznb+c;Secret=DrXYBgWEVYEI+bPsptHlPlEIqNMGdArTrew6d9XUOdk=","lastModified":"2021-10-18T21:17:49+00:00","readOnly":true},{"id":"z48Q-l0-s0:P5gzWHbbaGa660IaqwRC","name":"Secondary
        Read Only","value":"m9NGYxWK0VrtOEX2scLNEDkOvKMvTIXogIRDz04UrMs=","connectionString":"Endpoint=https://kvsetimporttestqchsotzye.azconfig.io;Id=z48Q-l0-s0:P5gzWHbbaGa660IaqwRC;Secret=m9NGYxWK0VrtOEX2scLNEDkOvKMvTIXogIRDz04UrMs=","lastModified":"2021-10-18T21:17:49+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Oct, 18 2021 21:18:12 GMT
    method: PUT
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"ZcDT93ZmQnMGbfkgrAnu45ZrZi5","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2021-10-18T21:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZcDT93ZmQnMGbfkgrAnu45ZrZi5"'
      last-modified:
      - Mon, 18 Oct 2021 21:18:13 GMT
      sync-token:
      - zAJw6V16=ODoxOSMxNzkyMDM3;sn=1792037
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMxNzkyMDM3
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Oct, 18 2021 21:18:12 GMT
    method: PUT
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"sGjWm8Rn1loQMa86w7N4fjcIkVk","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2021-10-18T21:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sGjWm8Rn1loQMa86w7N4fjcIkVk"'
      last-modified:
      - Mon, 18 Oct 2021 21:18:13 GMT
      sync-token:
      - zAJw6V16=ODoxOSMxNzkyMDM4;sn=1792038
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMxNzkyMDM4
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Oct, 18 2021 21:18:12 GMT
    method: PUT
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"SOyleZ35PFzcMKCADDLPusLjB5f","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2021-10-18T21:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"SOyleZ35PFzcMKCADDLPusLjB5f"'
      last-modified:
      - Mon, 18 Oct 2021 21:18:13 GMT
      sync-token:
      - zAJw6V16=ODoxOSMxNzkyMDM5;sn=1792039
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMxNzkyMDM5
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Oct, 18 2021 21:18:12 GMT
    method: PUT
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"VJNZ119YxQFCXFKEgVADMVF3iZt","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2021-10-18T21:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VJNZ119YxQFCXFKEgVADMVF3iZt"'
      last-modified:
      - Mon, 18 Oct 2021 21:18:13 GMT
      sync-token:
      - zAJw6V16=ODoxOSMxNzkyMDQw;sn=1792040
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMxNzkyMDQw
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Oct, 18 2021 21:18:13 GMT
    method: PUT
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"U3uAdIFaeC5BQA38SgfBnIOw5pJ","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2021-10-18T21:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"U3uAdIFaeC5BQA38SgfBnIOw5pJ"'
      last-modified:
      - Mon, 18 Oct 2021 21:18:13 GMT
      sync-token:
      - zAJw6V16=ODoxOSMxNzkyMDQx;sn=1792041
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMxNzkyMDQx
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Oct, 18 2021 21:18:13 GMT
    method: PUT
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"Cad94zaRaMWwewVmShFxQMhOfDY","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2021-10-18T21:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Cad94zaRaMWwewVmShFxQMhOfDY"'
      last-modified:
      - Mon, 18 Oct 2021 21:18:13 GMT
      sync-token:
      - zAJw6V16=ODoxOSMxNzkyMDQy;sn=1792042
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMxNzkyMDQy
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Oct, 18 2021 21:18:13 GMT
    method: PUT
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"icbDuhgoKRI3gTngpYZAXZoLJFV","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2021-10-18T21:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"icbDuhgoKRI3gTngpYZAXZoLJFV"'
      last-modified:
      - Mon, 18 Oct 2021 21:18:13 GMT
      sync-token:
      - zAJw6V16=ODoxOSMxNzkyMDQz;sn=1792043
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMxNzkyMDQz
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Oct, 18 2021 21:18:13 GMT
    method: PUT
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"9mwtwd3oG0uXcRDeZBcmi2UlTn7","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2021-10-18T21:18:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9mwtwd3oG0uXcRDeZBcmi2UlTn7"'
      last-modified:
      - Mon, 18 Oct 2021 21:18:13 GMT
      sync-token:
      - zAJw6V16=ODoxOSMxNzkyMDQ0;sn=1792044
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMxNzkyMDQ0
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Oct, 18 2021 21:18:13 GMT
    method: PUT
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"sy7dyH0aGkzOVHm8doKP6ogee7q","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2021-10-18T21:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sy7dyH0aGkzOVHm8doKP6ogee7q"'
      last-modified:
      - Mon, 18 Oct 2021 21:18:14 GMT
      sync-token:
      - zAJw6V16=ODoxOSMxNzkyMDQ1;sn=1792045
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 18 2021 21:18:14 GMT
    method: GET
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"ZcDT93ZmQnMGbfkgrAnu45ZrZi5","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2021-10-18T21:18:13+00:00"},{"etag":"sGjWm8Rn1loQMa86w7N4fjcIkVk","key":"[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 18 2021 21:18:16 GMT
    method: GET
    uri: https://kvsetimporttestqchsotzye.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"ZcDT93ZmQnMGbfkgrAnu45ZrZi5","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appc[...]
[...]
