interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-10-15T00:21:25.3599786+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6c1d9efc-6a94-54dd-7356-e49b0276bbbe?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6c1d9efc-6a94-54dd-7356-e49b0276bbbe?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6c1d9efc-6a94-54dd-7356-e49b0276bbbe","name":"6c1d9efc-6a94-54dd-7356-e49b0276bbbe","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6c1d9efc-6a94-54dd-7356-e49b0276bbbe?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-10-15T00:21:26+00:00","endpoint":"https://importtestl6ix2qngksghak.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtestl6ix2qngksghak","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4800ac1a-0000-0100-0000-5da511060000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"ZYZP-l0-s0:Og/yV5ChimBAW5cMKziS","name":"Primary","value":"tr02HQOA32C1BX3cSAnZpvOI08jZ9Lu+mNeCOiJlBvo=","connectionString":"Endpoint=https://importtestl6ix2qngksghak.azconfig.io;Id=ZYZP-l0-s0:Og/yV5ChimBAW5cMKziS;Secret=tr02HQOA32C1BX3cSAnZpvOI08jZ9Lu+mNeCOiJlBvo=","lastModified":"2019-10-15T00:21:25+00:00","readOnly":false},{"id":"BR9r-l0-s0:dVP5BtzHnUaYq7IL8Sw4","name":"Secondary","value":"fE4zkSXJpWATMsDzDF2pbwLy9bdKFIwKw47g4TQ2vnQ=","connectionString":"Endpoint=https://importtestl6ix2qngksghak.azconfig.io;Id=BR9r-l0-s0:dVP5BtzHnUaYq7IL8Sw4;Secret=fE4zkSXJpWATMsDzDF2pbwLy9bdKFIwKw47g4TQ2vnQ=","lastModified":"2019-10-15T00:21:25+00:00","readOnly":false},{"id":"zePN-l0-s0:FR5I6EBzQdRknOqb9Hec","name":"Primary
        Read Only","value":"Q0rYidO8ZudO3WJ/hP+3zKHlWe1VD196kfwN4tdPmD4=","connectionString":"Endpoint=https://importtestl6ix2qngksghak.azconfig.io;Id=zePN-l0-s0:FR5I6EBzQdRknOqb9Hec;Secret=Q0rYidO8ZudO3WJ/hP+3zKHlWe1VD196kfwN4tdPmD4=","lastModified":"2019-10-15T00:21:25+00:00","readOnly":true},{"id":"rVZL-l0-s0:6I7Gq6PIKWv9QFFjqWUc","name":"Secondary
        Read Only","value":"oLN6ijaePDxMVxUgX38EAU5vCZMrDjEerITPtngIqlY=","connectionString":"Endpoint=https://importtestl6ix2qngksghak.azconfig.io;Id=rVZL-l0-s0:6I7Gq6PIKWv9QFFjqWUc;Secret=oLN6ijaePDxMVxUgX38EAU5vCZMrDjEerITPtngIqlY=","lastModified":"2019-10-15T00:21:25+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Oct, 15 2019 00:21:38 GMT
    method: PUT
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv/BackgroundColor?label=
  response:
    body:
      string: '{"etag":"njSWszO9h81luAhCXXwRAFexSx2","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"njSWszO9h81luAhCXXwRAFexSx2"'
      last-modified:
      - Tue, 15 Oct 2019 00:21:39 GMT
      sync-token:
      - zAJw6V16=NDotMSM2NTIyMzM=;sn=652233
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Oct, 15 2019 00:21:38 GMT
    method: PUT
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv/Language?label=
  response:
    body:
      string: '{"etag":"vTsESXT8N5s50LV9Gm7Ew0R2wrl","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vTsESXT8N5s50LV9Gm7Ew0R2wrl"'
      last-modified:
      - Tue, 15 Oct 2019 00:21:39 GMT
      sync-token:
      - zAJw6V16=NDotMSM2NTIyMzQ=;sn=652234
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Oct, 15 2019 00:21:38 GMT
    method: PUT
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv/Langugage?label=
  response:
    body:
      string: '{"etag":"gDKWvnCDUr0V7LcVHDxvQsEd2w9","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"gDKWvnCDUr0V7LcVHDxvQsEd2w9"'
      last-modified:
      - Tue, 15 Oct 2019 00:21:39 GMT
      sync-token:
      - zAJw6V16=NDotMSM2NTIyMzU=;sn=652235
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Oct, 15 2019 00:21:38 GMT
    method: PUT
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=
  response:
    body:
      string: '{"etag":"rHHcEDCEUupimxT2UB5715wZhci","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"rHHcEDCEUupimxT2UB5715wZhci"'
      last-modified:
      - Tue, 15 Oct 2019 00:21:39 GMT
      sync-token:
      - zAJw6V16=NDotMSM2NTIyMzY=;sn=652236
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Oct, 15 2019 00:21:39 GMT
    method: PUT
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=
  response:
    body:
      string: '{"etag":"l7KRwrQk3a5XDT9Uw1WFLWNX9Ba","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"l7KRwrQk3a5XDT9Uw1WFLWNX9Ba"'
      last-modified:
      - Tue, 15 Oct 2019 00:21:39 GMT
      sync-token:
      - zAJw6V16=NDotMSM2NTIyMzc=;sn=652237
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Oct, 15 2019 00:21:39 GMT
    method: PUT
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv/abc?label=
  response:
    body:
      string: '{"etag":"CkMp2FZu5MfNHHYD55XZBFxu3OH","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CkMp2FZu5MfNHHYD55XZBFxu3OH"'
      last-modified:
      - Tue, 15 Oct 2019 00:21:39 GMT
      sync-token:
      - zAJw6V16=NDotMSM2NTIyNDA=;sn=652240
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Oct, 15 2019 00:21:39 GMT
    method: PUT
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv/appabc?label=
  response:
    body:
      string: '{"etag":"JkHsLLNinCmGsV42fkaMXdbyS8H","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JkHsLLNinCmGsV42fkaMXdbyS8H"'
      last-modified:
      - Tue, 15 Oct 2019 00:21:40 GMT
      sync-token:
      - zAJw6V16=NDotMSM2NTIyNDE=;sn=652241
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Oct, 15 2019 00:21:39 GMT
    method: PUT
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv/background-color?label=
  response:
    body:
      string: '{"etag":"QSO9m36FtKSimJiFOUEtPJmETUj","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"QSO9m36FtKSimJiFOUEtPJmETUj"'
      last-modified:
      - Tue, 15 Oct 2019 00:21:40 GMT
      sync-token:
      - zAJw6V16=NDotMSM2NTIyNDI=;sn=652242
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Oct, 15 2019 00:21:39 GMT
    method: PUT
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv/font-size?label=
  response:
    body:
      string: '{"etag":"VDOZRzw4lOplYZpX9crUYmSjEtq","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VDOZRzw4lOplYZpX9crUYmSjEtq"'
      last-modified:
      - Tue, 15 Oct 2019 00:21:40 GMT
      sync-token:
      - zAJw6V16=NDotMSM2NTIyNDM=;sn=652243
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Oct, 15 2019 00:21:39 GMT
    method: PUT
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv/language?label=
  response:
    body:
      string: '{"etag":"BoCHd1OXoGS1acAO1rWDBD47Nl5","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BoCHd1OXoGS1acAO1rWDBD47Nl5"'
      last-modified:
      - Tue, 15 Oct 2019 00:21:40 GMT
      sync-token:
      - zAJw6V16=NDotMSM2NTIyNDQ=;sn=652244
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 15 2019 00:21:46 GMT
    method: GET
    uri: https://importtestl6ix2qngksghak.azconfig.io/kv?key=*&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"njSWszO9h81luAhCXXwRAFexSx2","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:39+00:00"},{"etag":"vTsESXT8N5s50LV9Gm7Ew0R2wrl","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-10-15T00:21:39+00:00"},{"etag":"gDKWvnCDUr0V7LcVHDxvQsEd2w9","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
