interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-07-21T05:26:59.9588807+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3aVWOABBs39oJRDYf8PTMHHMXQswNcaI8cQjzNVrIsI?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3aVWOABBs39oJRDYf8PTMHHMXQswNcaI8cQjzNVrIsI?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3aVWOABBs39oJRDYf8PTMHHMXQswNcaI8cQjzNVrIsI","name":"3aVWOABBs39oJRDYf8PTMHHMXQswNcaI8cQjzNVrIsI","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3aVWOABBs39oJRDYf8PTMHHMXQswNcaI8cQjzNVrIsI?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T05:27:00+00:00","endpoint":"https://sourcezb7o4jhac6ukcnxu7k.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T05:27:00+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T05:27:00+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcezb7o4jhac6ukcnxu7k","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c703073d-0000-0100-0000-64ba17240000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 0034f3ed-42de-4753-9da2-aa1e788a8c85
      - 246bcc4e-32bc-47cc-9427-1e0abfef3c69
      - fd201c4d-6356-40e6-9b75-f3f1155a397e
      - 1ab915ad-afd2-44c4-9833-b3819ff4b19d
      - 60ede764-5723-4e46-9de4-d2975e0aa085
      - f37d6c97-ce4b-44b7-99f1-e5e3fe0f32b9
      - 12d5eb4a-6ce9-4b10-ad75-592b7974c35f
      - 9dc15e6a-d45e-4e96-80ac-65a3d60b487b
      - 86415473-0685-4ab0-acce-5953ad8cc12d
      - 4564db3b-d59a-45dc-aaf0-d093e54f983d
      - 71b3514c-e46a-4b2f-b62e-00b682e16601
      - 78f04a0b-c0e8-4a2f-96d6-f3e71e7bfdda
      - aafc000a-4744-4ea8-b386-08f8189a4117
      - 5052a7f0-e7bf-4eb8-99b3-9fce48320608
      - 18606450-cdc5-4a75-be05-e4cea75889ec
      - fb0ef5ef-6cde-442e-b726-9a0b68d0a763
      - 44ebc5b3-f442-4e6b-89f7-3a842487d9c2
      - 57fe99e5-111d-4b88-9e88-d4057da204ee
      - 3456713b-d364-40d2-bec4-3fe48e48fec8
      - a536a281-a0ea-499d-8edc-42f2632c2130
      - 5853c9e5-7823-45d8-89d3-af87703e2704
      - cf764de0-77e9-455b-8acb-c077f6c20579
      - d3ebc87d-9f78-48aa-9dc2-2b4536355208
      - e1841724-b907-4308-b1f1-53d161a45015
      - c70ab983-dd1c-48a0-9467-e992a965f38c
      - e53829b6-55bc-49a9-b051-cce3f91db7ef
      - a9ab683d-0b9e-4ce1-b42c-f09deb88ebf5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"duZP","name":"Primary","value":"GVl5ThBGDKO19qJVQMNqNI8TOQwgQrch3rrUlhX/nVY=","connectionString":"Endpoint=https://sourcezb7o4jhac6ukcnxu7k.azconfig.io;Id=duZP;Secret=GVl5ThBGDKO19qJVQMNqNI8TOQwgQrch3rrUlhX/nVY=","lastModified":"2023-07-21T05:26:59+00:00","readOnly":false},{"id":"i9dn","name":"Secondary","value":"2RkmLx6h2SgACYl06gL1j4CE5Nxv/lpPyUAZRe02vqY=","connectionString":"Endpoint=https://sourcezb7o4jhac6ukcnxu7k.azconfig.io;Id=i9dn;Secret=2RkmLx6h2SgACYl06gL1j4CE5Nxv/lpPyUAZRe02vqY=","lastModified":"2023-07-21T05:26:59+00:00","readOnly":false},{"id":"T+PX","name":"Primary
        Read Only","value":"LpOIw/kX2qs9VzZjrT8F1b4+1O09ZYVDkvFHW5G4Rz4=","connectionString":"Endpoint=https://sourcezb7o4jhac6ukcnxu7k.azconfig.io;Id=T+PX;Secret=LpOIw/kX2qs9VzZjrT8F1b4+1O09ZYVDkvFHW5G4Rz4=","lastModified":"2023-07-21T05:26:59+00:00","readOnly":true},{"id":"Q+iB","name":"Secondary
        Read Only","value":"mxHp00FbDXTS1RLrPEIht1ibIW6CYb+tGrdltt7D+y4=","connectionString":"Endpoint=https://sourcezb7o4jhac6ukcnxu7k.azconfig.io;Id=Q+iB;Secret=mxHp00FbDXTS1RLrPEIht1ibIW6CYb+tGrdltt7D+y4=","lastModified":"2023-07-21T05:26:59+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/G0wzn4xxeCXE3I-5lZ7DhdagoTbxLlLIwoPN7mAOjgU?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/G0wzn4xxeCXE3I-5lZ7DhdagoTbxLlLIwoPN7mAOjgU","name":"G0wzn4xxeCXE3I-5lZ7DhdagoTbxLlLIwoPN7mAOjgU","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/G0wzn4xxeCXE3I-5lZ7DhdagoTbxLlLIwoPN7mAOjgU?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"sALP","name":"Primary","value":"EgOsxykjc/tAvaX8+ali+j6QCeIvrgHqOpxjhDaaTQs=","connectionString":"Endpoint=https://destinationfqj7qqnlzr6b3.azconfig.io;Id=sALP;Se[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:31 GMT
    method: GET
    uri: https://sourcezb7o4jhac6ukcnxu7k.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM0OTgwNzM5MQ==;sn=49807391
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - sourcezb7o4jhac6ukcnxu7k
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM0OTgwNzM5MQ==
      x-ms-content-sha256:
      - opxXzk3c6Pv5xJQRGK2KYQWFiTofPo7eDjsA5Z7RZjU=
      x-ms-date:
      - Jul, 21 2023 05:28:32 GMT
    method: PUT
    uri: https://sourcezb7o4jhac6ukcnxu7k.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"zPDL7nbde8EZzacv3014J-HxIaPFgjaoWGY4XKgLtnQ","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zPDL7nbde8EZzacv3014J-HxIaPFgjaoWGY4XKgLtnQ"'
      last-modified:
      - Fri, 21 Jul 2023 05:28:32 GMT
      sync-token:
      - zAJw6V16=NToxOSM0OTgwNzM5Mg==;sn=49807392
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - sourcezb7o4jhac6ukcnxu7k
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:32 GMT
    method: GET
    uri: https://sourcezb7o4jhac6ukcnxu7k.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM0OTgwNzM5Mw==;sn=49807393
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - sourcezb7o4jhac6ukcnxu7k
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM0OTgwNzM5Mw==
      x-ms-content-sha256:
      - Jyo6toZCmzkwCknljrzQ7W0Lkn83wslohOIHO3C97Gk=
      x-ms-date:
      - Jul, 21 2023 05:28:33 GMT
    method: PUT
    uri: https://sourcezb7o4jhac6ukcnxu7k.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"XCvxuXud9wXMY2gQS770so2E8FZqfS9OrRx8g3xPZhg","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:33+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XCvxuXud9wXMY2gQS770so2E8FZqfS9OrRx8g3xPZhg"'
      last-modified:
      - Fri, 21 Jul 2023 05:28:33 GMT
      sync-token:
      - zAJw6V16=NToxOSM0OTgwNzM5NA==;sn=49807394
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - sourcezb7o4jhac6ukcnxu7k
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:33 GMT
    method: GET
    uri: https://sourcezb7o4jhac6ukcnxu7k.azconfig.io/kv?label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"XCvxuXud9wXMY2gQS770so2E8FZqfS9OrRx8g3xPZhg","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:33+00:00"},{"etag":"PbCbApairnxLMjjbnSUPu7bwlyYxEYw-2TIfYVW07CM","key":".appconfig.featureflag/Beta","label":"v2","content_type":"ap[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NToxOSM0OTgwNzM5NQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:34 GMT
    method: GET
    uri: https://sourcezb7o4jhac6ukcnxu7k.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"XCvxuXud9wXMY2gQS770so2E8FZqfS9OrRx8g3xPZhg","key":".appconfig.featureflag/Be[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:34 GMT
    method: GET
    uri: https://destinationfqj7qqnlzr6b3.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=DestLabel&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyOTI4MDk3MQ==;sn=29280971
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - destinationfqj7qqnlzr6b3
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "DestLabel", "content_type": "", "value": "Red",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTI4MDk3MQ==
      x-ms-content-sha256:
      - 2RifyTNi+T6A5AH5TmDiNNKMte7N2PehYKcAxZJhJk4=
      x-ms-date:
      - Jul, 21 2023 05:28:34 GMT
    method: PUT
    uri: https://destinationfqj7qqnlzr6b3.azconfig.io/kv/Color?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"HC6HzlxV6YXLOFjgr7HVAjTWxd83BvfyFGgP7i4LPfg","key":"Color","label":"DestLabel","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HC6HzlxV6YXLOFjgr7HVAjTWxd83BvfyFGgP7i4LPfg"'
      last-modified:
      - Fri, 21 Jul 2023 05:28:35 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyOTI4MDk3Mw==;sn=29280973
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - destinationfqj7qqnlzr6b3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "DestLabel", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTI4MDk3NQ==
      x-ms-content-sha256:
      - HiEZa2QZS/oYhoFaYiYkHOXoZ5bAk[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:35 GMT
    method: GET
    uri: https://destinationfqj7qqnlzr6b3.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"irTHfNA-cfO02ykEiDXR4XPEikhH5XpnwGVZQ4BsUpQ","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:35+00:00"},{"etag":"YnlZBXfJxJUQKDNiMxgHgRcAjrdMBJCcf8zk08lEdmU","key":"Color","label":"DestLabel","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:35+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyOTI4MDk4MQ==;sn=29280981
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - destinationfqj7qqnlzr6b3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"irTHfNA-cfO02ykEiDXR4XPEikhH5XpnwGVZQ4BsUpQ"'
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTI4MDk4MQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:35 GMT
    method: DELETE
    uri: https://destinationfqj7qqnlzr6b3.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"irTHfNA-cfO02ykEiDXR4XPEikhH5XpnwGVZQ4BsUpQ","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"irTHfNA-cfO02ykEiDXR4XPEikhH5XpnwGVZQ4BsUpQ"'
      last-modified:
      - Fri, 21 Jul 2023 05:28:35 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyOTI4MDk4Mw==;sn=29280983
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - destinationfqj7qqnlzr6b3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:36 GMT
    method: GET
    uri: https://destinationfqj7qqnlzr6b3.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyOTI4MDk5MQ==;sn=29280991
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - destinationfqj7qqnlzr6b3
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTI4MDk5MQ==
      x-ms-content-sha256:
      - CRjkupMzN0VvyeEKjxhIlytZ//XfrJzOnrxlHwf36Y4=
      x-ms-date:
      - Jul, 21 2023 05:28:36 GMT
    method: PUT
    uri: https://destinationfqj7qqnlzr6b3.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"5TSwhQt4mJwHWbB83YjwvQveqnSD80WVVLDdvPeK8gc","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5TSwhQt4mJwHWbB83YjwvQveqnSD80WVVLDdvPeK8gc"'
      last-modified:
      - Fri, 21 Jul 2023 05:28:37 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyOTI4MDk5Mw==;sn=29280993
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - destinationfqj7qqnlzr6b3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTI4MDk5NA==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-d[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:38 GMT
    method: GET
    uri: https://destinationfqj7qqnlzr6b3.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyOTI4MTAxNQ==;sn=29281015
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - destinationfqj7qqnlzr6b3
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTI4MTAxNQ==
      x-ms-content-sha256:
      - U9u5Jwxj4fjm6nWf68K+R4h5BMr1MQY2a3z5sJm/IFs=
      x-ms-date:
      - Jul, 21 2023 05:28:38 GMT
    method: PUT
    uri: https://destinationfqj7qqnlzr6b3.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"VgI_wMRRd4uQfBWX6qI47M2k0aJ9j2mcH6_RVV4hn_g","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VgI_wMRRd4uQfBWX6qI47M2k0aJ9j2mcH6_RVV4hn_g"'
      last-modified:
      - Fri, 21 Jul 2023 05:28:39 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyOTI4MTAxNw==;sn=29281017
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - destinationfqj7qqnlzr6b3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTI4MTAxOQ==
      x-ms-content-sha256:
      - Jyo6toZCmzkwCknljrzQ7W0Lkn83wslohOIHO3C97G[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:40 GMT
    method: GET
    uri: https://sourcezb7o4jhac6ukcnxu7k.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"XCvxuXud9wXMY2gQS770so2E8FZqfS9OrRx8g3xPZhg","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appcon[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:41 GMT
    method: GET
    uri: https://destinationfqj7qqnlzr6b3.azconfig.io/kv?key=%2A&label=DestLabel&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyOTI4MTA0Mg==;sn=29281042
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - destinationfqj7qqnlzr6b3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:41 GMT
    method: GET
    uri: https://destinationfqj7qqnlzr6b3.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyOTI4MTA0NQ==;sn=29281045
      x-ms-resource-group:
      - clitest.rg6ner6xvshovtmyighifxo5wgbo7mwhcumkyr4uwyt2dmivcrfutyeh2zl5wu4aj5j
      x-ms-subscription-id:
[...]
