interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-01-17T07:59:57.3729376+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002",
        "name": "KVRevisionTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7sLjXcgGOc3ezBb5x6864FmEKrJ7mtMm6s0kqwEA9_8?api-version=2024-05-01&t=638726975976110448&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7sLjXcgGOc3ezBb5x6864FmEKrJ7mtMm6s0kqwEA9_8?api-version=2024-05-01&t=638726975976110448&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-01-17T07:59:57+00:00", "endpoint": "https://kvrevisiontestkm6jinerf7.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2025-01-17T07:59:57+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2025-01-17T07:59:57+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvrevisiontestkm6jinerf7",
        "name": "KVRevisionTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e5002b5c-0000-0100-0000-678a0e000000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrvTuNGFMXfJar6aUwgLEWLtKqm4O2mCwm1E6XLt4kzAYfEdmfsDWTVd%2B%2B9Y3uws7zA%2BQgoyCfn/vfvxyDTL%2BVtmj3bwdWPwSKMZ9fhZBbJ23k8uBo8lWVhr4bDncrUo97prDxRh8rokyTfDW21tIlJizLNMzu8vFxdqOXpb8GlXq2CD1onwTLRH4OLUXJ2try8WC7PL4eFyb%2BnK23s8C5NTG7zdXkii%2BI6z9bpY2UU/6th0v0pLnOj7e%2B[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 0034998d-860c-45d3-977a-d2b08a855526
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvrevisiontestkm6jinerf7.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-01-17T07:59:57+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvrevisiontestkm6jinerf7.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-01-17T07:59:57+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvrevisiontestkm6jinerf7.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-01-17T07:59:57+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvrevisiontestkm6jinerf7.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-01-17T07:59:57+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 17 2025 08:00:48.246363 GMT
    method: GET
    uri: https://kvrevisiontestkm6jinerf7.azconfig.io/kv/Color?label=v1.0.0&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM3MzM1MzUyMw==;sn=73353523
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM3MzM1MzUyMw==
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Jan, 17 2025 08:00:48.582146 GMT
    method: PUT
    uri: https://kvrevisiontestkm6jinerf7.azconfig.io/kv/Color?label=v1.0.0&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"LpntGrunDYQ96tNLwdSvzWlfuEdoDwivZR5bUio8_fY","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2025-01-17T08:00:48+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"LpntGrunDYQ96tNLwdSvzWlfuEdoDwivZR5bUio8_fY"'
      last-modified:
      - Fri, 17 Jan 2025 08:00:48 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MzM1MzUyNA==;sn=73353524
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}, "locked": false, "etag": "LpntGrunDYQ96tNLwdSvzWlfuEdoDwivZR5bUio8_fY"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"LpntGrunDYQ96tNLwdSvzWlfuEdoDwivZR5bUio8_fY"'
      Sync-Token:
      - zAJw6V16=NToxOSM3MzM1MzUzMQ==
      x-ms-content-sha256:
      - l3/hnQ2qpXkqI/a6QnNHa2VUycYPpJCMH0JDQaugJo8=
      x-ms-date:
      - Jan, 17 2025 08:00:54.776511 GMT
    method: PUT
    uri: https://kvrevisiontestkm6jinerf7.azconfig.io/kv/Color?label=v1.0.0&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"v32x8RRbM3rpfmUL-QH8GENVRaDDVrNDGalAKFkhzkY","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2025-01-17T08:00:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"v32x8RRbM3rpfmUL-QH8GENVRaDDVrNDGalAKFkhzkY"'
      last-modified:
      - Fri, 17 Jan 2025 08:00:54 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MzM1MzUzMg==;sn=73353532
    status:
      code: 200
      message: OK
[...]
