interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-10-02T05:24:38.9305052+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003","name":"KVTest000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oGD_4Xq0Uaokear5ZOaYc0d05IZnaFYvAEE5LHxsR0Y?api-version=2023-03-01&t=638634434790225496&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oGD_4Xq0Uaokear5ZOaYc0d05IZnaFYvAEE5LHxsR0Y?api-version=2023-03-01&t=638634434790225496&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-10-02T05:24:38+00:00","endpoint":"https://kvtest7jywwazyweuvf2it4u.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2024-10-02T05:24:38+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-02T05:24:38+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtest7jywwazyweuvf2it4u","name":"KVTest000003","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2504b29e-0000-0100-0000-66fcd9190000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"value": "testValue", "id": "https://clitest000002.vault.azure.net/secrets/testSecret/c1c6e7636db64056ade07d013240ce83",
        "attributes": {"enabled": true, "created": 1727846723, "updated": 1727846723,
        "recoveryLevel": "CustomizedRecoverable+Purgeable", "recoverableDays": 7},
        "tags": {"file-encoding": "utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false}, "sku": {"name": "standard"}, "systemData":
        {"createdBy": "mubatra@microsoft.com", "createdByType": "User", "createdAt":
        "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Mi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZrtTuNGGIXvJar6a0wgWRYt0qqagrfrQhJqJ0qXfxNnknU%2BbHfGJsCq9955x/YwydILOBJ/AAX5cN5vPz96uXyu7rN8q3vXP3rzMJnehONpzO9nSe%2B6972qSn3d7%2B9FLtZyL/PqTLzWSp6lxb6v64VOVVZWWZHr/tXV8lIszj8GV3K5DD5ImQaLVH4KLgfpxcXi6nKxGF71S1U8ZUupdH%2BUparQxao642V5U%2BSrbF0rQX%2Bqn/rfJVWhpP5Nl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Y9LasMwGITvIkpXkeVHXRFDKCZkV2/q9AB6/FGFsSR%2BScE09O5V002vUJjNzDAD34042NKrdUskw42cxvn8PpOBfKQU4sDYKpwwsIJLlfjMCJXyK4tZRoU2JOtdZJzrXsj6mXLQmj4BKCoV7GnfqqaRvJey4yygv1oNGNlkFfroL6kaQzh6d7Emo/i5Yuqvm5NHiC8iWHotu9If2rrtaF3UPD7ExYazX8AdtrxlGjXtyNeOCFxHYxCMSKDvfYEZ3yayu4NOAhfAEv2CDv8T8xs%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 9f4e20d9-9f8c-4056-ae64-adced1c4c7f4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvtest7jywwazyweuvf2it4u.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-10-02T05:24:38+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvtest7jywwazyweuvf2it4u.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-10-02T05:24:38+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvtest7jywwazyweuvf2it4u.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-10-02T05:24:38+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvtest7jywwazyweuvf2it4u.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-10-02T05:24:38+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 02 2024 05:25:27.768788 GMT
    method: GET
    uri: https://kvtest7jywwazyweuvf2it4u.azconfig.io/kv/testSecret?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=ODoxOSM5NDUxNDM1;sn=9451435
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://clitest000002.vault.azure.net/secrets/testSecret/c1c6e7636db64056ade07d013240ce83\"}"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=ODoxOSM5NDUxNDM1
      x-ms-content-sha256:
      - BkGpO+1CWK1Op0MH0rSrmU7MNByLPhrgA0Fq9F5W7cM=
      x-ms-date:
      - Oct, 02 2024 05:25:28.148175 GMT
    method: PUT
    uri: https://kvtest7jywwazyweuvf2it4u.azconfig.io/kv/testSecret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"TZTmTE-A_2Z3bVGAAyEdpYhhUd6M1EC-ghr6D7T1sfQ","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://clitestbne2kf6fz5jf4fs3h.vault.azure.net/secrets/testSecret/c1c6e7636db64056ade07d013240ce83\"}","tags":{},"locked":false,"last_modified":"2024-10-02T05:25:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TZTmTE-A_2Z3bVGAAyEdpYhhUd6M1EC-ghr6D7T1sfQ"'
      last-modified:
      - Wed, 02 Oct 2024 05:25:29 GMT
      sync-token:
      - zAJw6V16=ODoxOSM5NDUxNDM2;sn=9451436
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZrfTuNGGMXfJap6NSaQLEVFWlVT8HbdhYTaidLlbuIMWYdk7M7YBFj13Tvf2B4mWfoAR%2BIGUJAP5/vv3/eBks/1TaEezeDy%2B2ARZ7OreDJL%2Bc08G1wOvtV1ZS6Hw51QYi13UtUn4rXR8iQvd0PTLE2ui6ouSmWGFxerc7E8/SW6kKtV9EHKPFrm8tfofJSfnS0vzpfL8cWw0uVTsZLaDG%2BLXJemfKhPeFVdleqhWDda0J8a5uF3WV1qaX4TVRE92[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 02 2024 05:25:33.788776 GMT
    method: GET
    uri: https://kvtest7jywwazyweuvf2it4u.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"R9L8sossfOWYrqcw0FCxtL8VtIVhrFLMEqE9Tpc6U9I","items":[{"etag":"TZTmTE-A_2Z3bVGAAyEdpYhhUd6M1EC-ghr6D7T1sfQ","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://clitestbne2kf6fz5jf4fs3h.vault.azure.net/secrets/testSecret/c1c6e7636db64056ade07d013240ce83\"}","tags":{},"locked":false,"last_modified":"2024-10-02T05:25:29+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"R9L8sossfOWYrqcw0FCxtL8VtIVhrFLMEqE9Tpc6U9I"'
      sync-token:
      - zAJw6V16=ODoxOSM5NDUxNDM2;sn=9451436
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000002.vault.azure.net/secrets/testSecret/c1c6e7636db64056ade07d013240ce83?api-version=7.4
  response:
    body:
      string: '{"value": "testValue", "id": "https://clitest000002.vault.azure.net/secrets/testSecret/c1c6e7636db64056ade07d013240ce83",
        "attributes": {"enabled": true, "created": 1727846723, "updated": 1727846723,
        "recoveryLevel": "CustomizedRecoverable+Purgeable", "recoverableDays": 7},
        "tags": {"file-encoding": "utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
