interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "dc7b4299-05ee-43fe-9f24-0bfd4939f98b",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Creating", "creationDate": "2024-11-16T03:13:12.5389566+00:00", "endpoint":
        null, "encryption": null, "privateEndpointConnections": null, "disableLocalAuth":
        null, "softDeleteRetentionInDays": null, "enablePurgeProtection": null, "dataPlaneProxy":
        null}, "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002",
        "name": "MgmtTest000002", "tags": {"key": "value"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1g_CKrLO0LxLNodfmlgaxDXX46tG1YjWfffttPvVjOw?api-version=2024-05-01&t=638673235927727296&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1g_CKrLO0LxLNodfmlgaxDXX46tG1YjWfffttPvVjOw?api-version=2024-05-01&t=638673235927727296&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "dc7b4299-05ee-43fe-9f24-0bfd4939f98b",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Succeeded", "creationDate": "2024-11-16T03:13:12+00:00", "endpoint": "https://mgmttest5qlhgqqpyt5eod5u.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-16T03:13:12+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-11-16T03:13:12+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttest5qlhgqqpyt5eod5u",
        "name": "MgmtTest000002", "tags": {"key": "value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2906bdc7-0000-0100-0000-67380dca0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "identity": {"type": "SystemAssigned", "principalId":
        "dc7b4299-05ee-43fe-9f24-0bfd4939f98b", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"},
        "properties": {"provisioningState": "Succeeded", "creationDate": "2024-11-16T03:13:12+00:00",
        "endpoint": "https://mgmttest5qlhgqqpyt5eod5u.azconfig.io", "encryption":
        {"keyVaultProperties": null}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 1, "enablePurgeProtection": false, "dataPlaneProxy":
        {"authenticationMode": "Local", "privateLinkDelegation": "Disabled"}}, "sku":
        {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-16T03:13:12+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-11-16T03:13:12+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttest5qlhgqqpyt5eod5u",
        "name": "MgmtTest000002", "tags": {"key": "value"}}], "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttest5qlhgqqpyt5eod5u"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/clitest.rgxtkfztj4wrnkiqi4djb7nnjncqu5ayqvrac2zk76iloz6inwxmnw4ogpf454cga2o/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttest5qlhgqqpyt5eod5u>;
        rel="next"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttest5qlhgqqpyt5eod5u
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Premium"}, "tags": {"Env": "Prod"}, "properties": {"dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "Syste[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.KeyVault/vaults/cmk-test-keyvault000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users/$entity",
        "businessPhones": ["+1 (425) 4213985"], "displayName": "Albert Ofori", "givenName":
        "Albert", "jobTitle": "SOFTWARE ENGINEER", "mail": "albertofori@microsoft.com",
        "mobilePhone": null, "officeLocation": "18/2450FL", "preferredLanguage": null,
        "surname": "Ofori", "userPrincipalName": "albertofori@microsoft.com", "id":
        "35296b93-33f5-48e5-b41e-3e29f64921e6"}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"000","RoleInstance":"CO1PEPF000000E8"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enableRbacAuthorization": false, "enablePurgeProtection": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003",
        "name": "cmk-test-keyvault000003", "type": "Microsoft.KeyVault/vaults", "location":
        "eastus", "tags": {}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-16T03:14:00.23Z", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-11-16T03:14:00.23Z"}, "properties": {"sku": {"family": "A", "name":
        "standard"}, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "accessPolicies":
        [{"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
        "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
        "storage": ["all"]}}], "enabledForDeployment": false, "enableSoftDelete":
        true, "softDeleteRetentionInDays": 7, "enableRbacAuthorization": false, "enablePurgeProtection":
        true, "vaultUri": "https://cmk-test-keyvault000003.vault.azure.net", "provisioningState":
        "RegisteringDns", "publicNetworkAccess": "Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error": {"code": "Unauthorized", "message": "AKV10000: Request is
        missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key": {"kid": "https://cmk-test-keyvault000003.vault.azure.net/keys/key/6cff43ceb69e402391dcb604bdb48684",
        "kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey",
        "unwrapKey"], "n": "13U2au0P0MQvZk5LV4vSfedjBqANnbRwKrGL2LQBGebZw85QXaB00FNHytgCBc2ilrtE-GG7gPXyEFzqHZMcAxMPBfIVhxHxtwNEZG572qpxeVH0ryXBXFICZuMthF53IwjRvUtEBUUH_PXGxc6OLrIYRJl8PT47LY7j98g-3PcoYVSPSe8L7YmU5yUumO1JWgQQUD25dIXLokv9i13fFlTa7yCZA5cXIp0AFsB2eTQ_KtrnS0IX2Es3Knpio9CQPSFKGM9ALRi1khrdBjwVogHuDUmMm_HWS6LXP23aD2JkY-o3NauaCbmtJPlf1Un_Ih-WdBdaurC8ZEc3o394kQ",
        "e": "AQAB"}, "attributes": {"enabled": true, "created": 1731726873, "updated":
        1731726873, "recoveryLevel": "CustomizedRecoverable", "recoverableDays": 7,
        "exportable": false, "hsmPlatform": "0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01
  response:
    body:
      string: '{"value": [], "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.KeyVault%2fvaults%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault/vaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01&$skiptoken=rZTBbtpAEIbfhTMHs8AlUg9JTVwjZlbQNdvdm0Vc1msbIlgEdtV37xisJE3tRrUqXywfPv/7zez/Y7BLLm6R7rLj4O7HIImP7nRkySl%2BHtwNknJ%2B0t%2BMJ%2BRjGbN1Gdp9igLGSswtBEsH/kOmUs8DkZuFDJkWG6fFPOWBNsrOLlzcV%2BHO%2BzQYDs7JFdwFrR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault/vaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01&$skiptoken=rdA9b4MwEIDh/%2BKZwZBOkTqgQqgRZ6uSGxdvSLHANh8VGAWI%2Bt9L21RZkiXKdrrhvdNzQq2aXKZbO6DtCR3V4MZ1QmpOR/lRYS52cxHsZ2I6DTyeclPXsISOJe8%2Be8GYirTKBMEsCh0VcGQRbBgvJ%2BAHS1r8jDykisEVgy5uVBlPTb6EM01iB0mMc41xzt/8TK[...]
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "dc7b4299-05e[...]
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyIdentifier":
      "https://cmk-test-keyvault000003.vault.azure.net/keys/key/"}}, "dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "dc7b4299-05ee-43fe-9f24-0bfd4939f98b",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Succeeded", "creationDate": "2024-11-16T03:13:12+00:00", "endpoint": "https://mgmttest5qlhgqqpyt5eod5u.azconfig.io",
        "encryption": {"keyVaultProperties": {"keyIdentifier": "https://cmk-test-keyvault000003.vault.azure.net/keys/key/",
        "identityClientId": null}}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 1, "enablePurgeProtection": false, "dataPlaneProxy":
        {"authenticationMode": "Local", "privateLinkDelegation": "Disabled"}}, "sku":
        {"name": "premium"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-16T03:13:12+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-11-16T03:14:55.581758+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttest5qlhgqqpyt5eod5u",
        "name": "MgmtTest000002", "tags": {"Env": "Prod"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2906f0c7-0000-0100-0000-67380e2f0000"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"dataPlaneProxy": {"privateLinkDelegation": "Enabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"error": {"code": "InvalidProperty", "message": "The property ''privateLinkDelegationMode''
        is not valid. Data plane proxy authentication mode must be set to Pass-through
        to enable private link delegation.", "additionalInfo": [{"type": "ActivityId",
        "info": {"activityId": "6dcd3577-82a4-40e8-ab43-158c5f02dd43"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Premium"}, "properties": {"softDeleteRetentionInDays": 1, "enablePurgeProtection":
      false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppCon[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/KHvMCYKblOxsoeQCbip10TbYcjJs4BwZ7WrK1L-dLXQ?api-version=2024-05-01&t=638673237067742306&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTestPremiumSku000004/replicas/MgmtTestReplica000005?api-version=2024-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ybYAfiH6jNGnKeH3F62sfDP5ydrcShmtIB4qa41oFhY?api-version=2024-05-01&t=638673237501592365&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestpremiumskuwutokt
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrfUttGGMXfxdPp1S4GE8qUmUxnC0rjAjaV7HHD3UpejGxrpWolDM703bvfSlpkhz7AuUwyZHQ43/9fR9o9VrdpXpjBlffB4sgml0Hk1ko7ubR4GrwXFWFuRoOM6nlSmVKVydyX5fqJMmzoaljk5RpUaW5NsPLy%2BWFjE9/4ZdqueSflEp4nKhf%2BcUoOTuLLy/i%2BPxyWJT5S7pUpRnep0mZm/ypOhFFcZ3rp3RVl5L%2Bq2HS/1NU5aUyv8ki5S/25%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 5c8c65a6-ffb3-40ad-a813-97c6926eef76
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTestPremiumSku000004/replicas?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestpremiumskuwutokt/replicas/MgmtTestReplica000005",
        "name": "MgmtTestReplica000005", "type": "Microsoft.AppConfiguration/configurationStores/replicas",
        "location": "westus", "properties": {"endpoint": "https://mgmttestpremiumskuwutokt-mgmttestreplicalkor36eps.azconfig.io",
        "provisioningState": "Succeeded"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-16T03:15:55+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-11-16T03:15:55+00:00"}}], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/pIL2YC7YV9tYnMQH1I5kXzKZRoPFVgEkdShAfa1NDyY?api-version=2024-05-01&t=638673238187509136&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/gqCkQdscg3mBXG4qVvjodDdgF_lmUGEOdXbiWLKfwc0?api-version=2024-05-01&t=638673238267102900&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestpremiumskuaseprs
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppCo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/RISeRrsu8s88GsC5Be43M9JRrNvZYTFMUpzj3BGXMFM?api-version=2024-05-01&t=638673238770648948&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/aadtest2tsrfqeq",
        "name": "AadTest2tsrfqeq", "type": "Microsoft.AppConfiguration/deletedConfigurationStores",
        "properties": {"configurationStoreId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgciaovxvv3qjdjkr4xuv6aunwkby4tmvt5tcyqlufuzygwuowobpmjeupxd4d6rjot/providers/Microsoft.AppConfiguration/configurationStores/aadtest2tsrfqeq",
        "location": "eastus", "deletionDate": "2024-11-15T13:28:17+00:00", "scheduledPurgeDate":
        "2024-11-16T13:59:44+00:00", "tags": {}, "purgeProtectionEnabled": false}},
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/aadtest425t5brl",
        "name": "AadTest425t5brl", "type": "Microsoft.AppConfiguration/deletedConfigurationStores",
[...]
