interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-09-08T16:56:28.9526474+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/znmgnI1JqNGLEIZPhF9RalwdI1fhadFwQ1_ANYx__nU?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/znmgnI1JqNGLEIZPhF9RalwdI1fhadFwQ1_ANYx__nU?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/znmgnI1JqNGLEIZPhF9RalwdI1fhadFwQ1_ANYx__nU","name":"znmgnI1JqNGLEIZPhF9RalwdI1fhadFwQ1_ANYx__nU","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/znmgnI1JqNGLEIZPhF9RalwdI1fhadFwQ1_ANYx__nU?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-09-08T16:56:29+00:00","endpoint":"https://source3mk5fcuwppkjcnk3cp.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2022-09-08T16:56:29+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-08T16:56:29+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/source3mk5fcuwppkjcnk3cp","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1700aea0-0000-0100-0000-631a1ebd0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb5swFMW%2FC5r2VJckbRatUjV5CdXoUtJBULS%2BGWOo88cw24SsVb%2F7rt0uzT7C3SOKiPjpnHPPtZ8DJQ52LtXGBFfPwSrKltMoWaZ0nmfBVfBobWuuwnDHFKvFTih7zp46Lc55swtNVxiuZWtlo0w4mZRjVgw%2BkYkoS3IpBCcFF5%2FJeMSHw2IyLoqLSdjqZi9LoU14J7luTFPZc9q200ZVsu40c38V8tOnzDZamC%2BslWQP78Hv16PBaEQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLTsMwFET%2FxUKs6jgJBKuRKhRV7OiGlA%2Fw49ZYkR%2FyvYmAqv%2BOYcVyNHNGM1cW4ZNefVyQjVf2Ms3n95mN7IMo4yhEUFE5CBCpUd9rgcakIHDVaIrP5FNEIaUdlG6fuARr%2BSOA4drAng%2B96TotB60fpMglbd5CQXHypiRMF2qmnI8pXrxbi%2FqtEua%2FmikVwGeVPd8qV%2F1D3%2FY9bwfedvd3uPh8TgvEQ1TBR1fZra6sMQIk%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLasMwFET%2FRYSuKst26ooYQjGlu2YTpx%2Bgx40qjCVxr2RMQv69blddDnPmwNxZgDV%2F%2BjAR6%2B%2FsYxgvXyPr2XfOiXohZhWUgxlCrtStIFQmzoKKJoM%2BZR8DCSltp3T9yiVYy18ADNcGDrxrTdNo2Wm9lyJhXLwFJHHyBiPFa66GlN5juHpXUP2qhPmfxhwR6E0lz5dtt%2FXHtm5bXne8bp52NPl0iROE41rWwpcAmUMh9nhmCufBOQSnMtg%2FZjs0nE%2Fs8QM%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - dae46ec7-2426-4f84-8884-9164cbdda5e9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"M/0m-l0-s0:6AYUysez+/gC+P7uVw5L","name":"Primary","value":"6D0WpP82MWXq7XT0UTzGtk4DoAadCiYshD2jI6RjsWA=","connectionString":"Endpoint=https://source3mk5fcuwppkjcnk3cp.azconfig.io;Id=M/0m-l0-s0:6AYUysez+/gC+P7uVw5L;Secret=6D0WpP82MWXq7XT0UTzGtk4DoAadCiYshD2jI6RjsWA=","lastModified":"2022-09-08T16:56:28+00:00","readOnly":false},{"id":"YWPw-l0-s0:+3s2auKXvnea7aTvfnsT","name":"Secondary","value":"vVOE/TKCawBv4+BIoacvbTnnA2CNZvvLXOVhGjlSVRc=","connectionString":"Endpoint=https://source3mk5fcuwppkjcnk3cp.azconfig.io;Id=YWPw-l0-s0:+3s2auKXvnea7aTvfnsT;Secret=vVOE/TKCawBv4+BIoacvbTnnA2CNZvvLXOVhGjlSVRc=","lastModified":"2022-09-08T16:56:28+00:00","readOnly":false},{"id":"DCMT-l0-s0:1olO5HKiMYdL/+1Tbe49","name":"Primary
        Read Only","value":"WCTRU/QAjjxkS14R3suWjyGTTijIRZ2EzI7DWK5RNBU=","connectionString":"Endpoint=https://source3mk5fcuwppkjcnk3cp.azconfig.io;Id=DCMT-l0-s0:1olO5HKiMYdL/+1Tbe49;Secret=WCTRU/QAjjxkS14R3suWjyGTTijIRZ2EzI7DWK5RNBU=","lastModified":"2022-09-08T16:56:28+00:00","readOnly":true},{"id":"oP3O-l0-s0:2Rh96IeqrtwDDnSQKGET","name":"Secondary
        Read Only","value":"6l+if5GL4zdyklX77gVC0+QoR/NsnIwrSGXeoIYY6dk=","connectionString":"Endpoint=https://source3mk5fcuwppkjcnk3cp.azconfig.io;Id=oP3O-l0-s0:2Rh96IeqrtwDDnSQKGET;Secret=6l+if5GL4zdyklX77gVC0+QoR/NsnIwrSGXeoIYY6dk=","lastModified":"2022-09-08T16:56:28+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/03he-4ohXPfHPxOrwpISsd_MNef8Drf17QyGerU4LQk?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/03he-4ohXPfHPxOrwpISsd_MNef8Drf17QyGerU4LQk","name":"03he-4ohXPfHPxOrwpISsd_MNef8Drf17QyGerU4LQk","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/03he-4ohXPfHPxOrwpISsd_MNef8Drf17QyGerU4LQk?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqW6AjqFWqiYPUi0dDV0CQuub45jgAo5rO6R%2F1O%2B%2Ba7ej7CPcPUYoKD%2Bdc%2B659kukxKObSrWx0cVLtEyK%2BTjJ5jmdLoroIlo7p%2B1FHO%2BYYrXYCeVO2XNrxClvdrFtS8uN1E42ysajUTVkZe8rGYmqIl%2BE4KTk4pwMB7zfL0fDsjwbxdo0e1kJY%2BMbyU1jm5U7pVqPG7WSdWuY%2F6uYHz8VrjHCfmNakj2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLasMwFET%2FRZSuIst264oYQjGhu2ZTpx%2Bgx40qjB7oXpuSkH%2Bv2lWXw8wZZm4swje9%2B7ggG2%2FsbZrPnzMb2RdRxlGIoKJyECBSo65rgcakIHDVaIrP5FNEIaUdlG5fuARr%2BTOA4drAng%2B96TotB62fpMglbd5CQXHypiRMF2qmnI8pXrxbi%2FqtEua%2FmikVwFeVPd8qV%2F1D3%2FY9bwfedo8PuPh8TgvEQ1TBR1fZra6sMQI[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"22Jp-l0-s0:MBjZAxDn33dRWcxwOLHx","name":"Primary","value":"eEx7RzSisJc7udvRLvZkCPJwmwWNICxbc4lPKGQe2Jw=","connectionString":"Endpoint=https://destinationgwkuvnnmc[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2022 16:57:01 GMT
    method: GET
    uri: https://source3mk5fcuwppkjcnk3cp.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - opxXzk3c6Pv5xJQRGK2KYQWFiTofPo7eDjsA5Z7RZjU=
      x-ms-date:
      - Sep, 08 2022 16:57:01 GMT
    method: PUT
    uri: https://source3mk5fcuwppkjcnk3cp.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"S96uVEwW7bBYZKU1bQ4v13ULtqhQeQAd1l2pCftAX7I","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2022-09-08T16:56:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"S96uVEwW7bBYZKU1bQ4v13ULtqhQeQAd1l2pCftAX7I"'
      last-modified:
      - Thu, 08 Sep 2022 16:56:59 GMT
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTEwNw==;sn=22699107
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2022 16:57:02 GMT
    method: GET
    uri: https://source3mk5fcuwppkjcnk3cp.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Jyo6toZCmzkwCknljrzQ7W0Lkn83wslohOIHO3C97Gk=
      x-ms-date:
      - Sep, 08 2022 16:57:02 GMT
    method: PUT
    uri: https://source3mk5fcuwppkjcnk3cp.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"H3N5P4ZWjggjtYapzGzu5fFhpvsc_UBJHa2rgdQGkaY","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"H3N5P4ZWjggjtYapzGzu5fFhpvsc_UBJHa2rgdQGkaY"'
      last-modified:
      - Thu, 08 Sep 2022 16:57:00 GMT
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTEwOQ==;sn=22699109
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2022 16:57:02 GMT
    method: GET
    uri: https://source3mk5fcuwppkjcnk3cp.azconfig.io/kv?label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"H3N5P4ZWjggjtYapzGzu5fFhpvsc_UBJHa2rgdQGkaY","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:00+00:00"},{"etag":"CFUYD3S0jdE3oB-ixPETZa9uxvFIxCo5INekhcOMnBM","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:00+00:00"},{"etag":"S96uVEwW7bBYZKU1bQ4v13ULtqhQeQAd1l2pCftAX7I","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2022-09-08T16:56:59+00:00"},{"etag":"bB8Lcp7hI4MZsw2rFPMJbQhVEXs_DzTzzduwOvgy5cc","key":"Color","label":"v2","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:00+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTExMA==;sn=22699110
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NToxOSMyMjY5OTExMA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2022 16:57:03 GMT
    method: GET
    uri: https://source3mk5fcuwppkjcnk3cp.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"H3N5P4ZWjggjtYapzGzu5fFhpvsc_UBJHa2rgdQGkaY","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:00+00:00"},{"etag":"CFUYD3S0jdE3oB-ixPETZa9uxvFIxCo5INekhcOMnBM","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:00+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTExMA==;sn=22699110
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "DestLabel", "content_type": "", "value": "Red",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - 2RifyTNi+T6A5AH5TmDiNNKMte7N2PehYKcAxZJhJk4=
      x-ms-date:
      - Sep, 08 2022 16:57:03 GMT
    method: PUT
    uri: https://destinationgwkuvnnmciw3o.azconfig.io/kv/Color?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"VrkkEvuxCZbBTPA5YsAaoqgQxw13jgjWfbG6j7z8-as","key":"Color","label":"DestLabel","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VrkkEvuxCZbBTPA5YsAaoqgQxw13jgjWfbG6j7z8-as"'
      last-modified:
      - Thu, 08 Sep 2022 16:57:01 GMT
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTExMQ==;sn=22699111
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "DestLabel", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMyMjY5OTExMg==
      x-ms-content-sha256:
      - HiEZa2QZS/oYhoFaYiYkHOXoZ5bAkTPdKLalp1k+FsQ=
      x-ms-date:
      - Sep, 08 2022 16:57:03 GMT
    method: PUT
    uri: https://destinationgwkuvnnmciw3o.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"PV0y1BN4DdAc1axn9EDLLa97Vl0CnTWEeeGipNPy0j8","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PV0y1BN4DdAc1axn9EDLLa97Vl0CnTWEeeGipNPy0j8"'
      last-modified:
      - Thu, 08 Sep 2022 16:57:01 GMT
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTExNA==;sn=22699114
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2022 16:57:03 GMT
    method: GET
    uri: https://destinationgwkuvnnmciw3o.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"1-CnP06DC3Tk0ZNwR4thq9Ehz_BFzkmdjXonYuh4weE","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:01+00:00"},{"etag":"jsCku6yCgRVlGRUr5BIf7FFRjsHJVLlp6y6PHJ_AgVY","key":"Color","label":"DestLabel","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:01+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTExNg==;sn=22699116
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"1-CnP06DC3Tk0ZNwR4thq9Ehz_BFzkmdjXonYuh4weE"'
      Sync-Token:
      - zAJw6V16=NToxOSMyMjY5OTExNg==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2022 16:57:04 GMT
    method: DELETE
    uri: https://destinationgwkuvnnmciw3o.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"1-CnP06DC3Tk0ZNwR4thq9Ehz_BFzkmdjXonYuh4weE","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1-CnP06DC3Tk0ZNwR4thq9Ehz_BFzkmdjXonYuh4weE"'
      last-modified:
      - Thu, 08 Sep 2022 16:57:01 GMT
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTExNw==;sn=22699117
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - CRjkupMzN0VvyeEKjxhIlytZ//XfrJzOnrxlHwf36Y4=
      x-ms-date:
      - Sep, 08 2022 16:57:04 GMT
    method: PUT
    uri: https://destinationgwkuvnnmciw3o.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"h_sSkBiczXG-xM9QpdyQXq8Isgbr-IutuQ4d4i-w_Tc","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"h_sSkBiczXG-xM9QpdyQXq8Isgbr-IutuQ4d4i-w_Tc"'
      last-modified:
      - Thu, 08 Sep 2022 16:57:02 GMT
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTEyMw==;sn=22699123
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMyMjY5OTEyNA==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Sep, 08 2022 16:57:04 GMT
    method: PUT
    uri: https://destinationgwkuvnnmciw3o.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"EbZM6xb9dlmomxMfH_JLsyDLqDFHRDiJIYli0ZRxuvo","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"EbZM6xb9dlmomxMfH_JLsyDLqDFHRDiJIYli0ZRxuvo"'
      last-modified:
      - Thu, 08 Sep 2022 16:57:03 GMT
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTEyNg==;sn=22699126
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - U9u5Jwxj4fjm6nWf68K+R4h5BMr1MQY2a3z5sJm/IFs=
      x-ms-date:
      - Sep, 08 2022 16:57:06 GMT
    method: PUT
    uri: https://destinationgwkuvnnmciw3o.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"1pdF3Nvz0mlfSo0GDJhxC61RmK4KgMEV08PFNYHsQTs","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1pdF3Nvz0mlfSo0GDJhxC61RmK4KgMEV08PFNYHsQTs"'
      last-modified:
      - Thu, 08 Sep 2022 16:57:04 GMT
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTEzNQ==;sn=22699135
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSMyMjY5OTEzNg==
      x-ms-content-sha256:
      - Jyo6toZCmzkwCknljrzQ7W0Lkn83wslohOIHO3C97Gk=
      x-ms-date:
      - Sep, 08 2022 16:57:06 GMT
    method: PUT
    uri: https://destinationgwkuvnnmciw3o.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"88v_1PwtUG5Pq6S4JRRo6LZdnZZmqHvPuGGdXkTRArk","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"88v_1PwtUG5Pq6S4JRRo6LZdnZZmqHvPuGGdXkTRArk"'
      last-modified:
      - Thu, 08 Sep 2022 16:57:04 GMT
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTEzNw==;sn=22699137
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2022 16:57:07 GMT
    method: GET
    uri: https://source3mk5fcuwppkjcnk3cp.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"H3N5P4ZWjggjtYapzGzu5fFhpvsc_UBJHa2rgdQGkaY","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:00+00:00"},{"etag":"CFUYD3S0jdE3oB-ixPETZa9uxvFIxCo5INekhcOMnBM","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-09-08T16:57:00+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMyMjY5OTE1OA==;sn=22699158
    status:
      code: 200
      message: OK
[...]
