interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-04-18T05:44:55.3271641+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/dXu095uYi7_ftK15UQLJu-_VKtUFos4h2mZEOfcoaxI?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/dXu095uYi7_ftK15UQLJu-_VKtUFos4h2mZEOfcoaxI?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/dXu095uYi7_ftK15UQLJu-_VKtUFos4h2mZEOfcoaxI","name":"dXu095uYi7_ftK15UQLJu-_VKtUFos4h2mZEOfcoaxI","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/dXu095uYi7_ftK15UQLJu-_VKtUFos4h2mZEOfcoaxI?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-04-18T05:44:56+00:00","endpoint":"https://kvsetimporttestrbephkctw.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-04-18T05:44:56+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-18T05:44:56+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttestrbephkctw","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5201d2c2-0000-0100-0000-643e2e580000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-15T18:19:24+00:00","endpoint":"https://minigassou-vnetlocalwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus/privateEndpointConnections/PrivateLinkServicelocalWestCentralUS","name":"PrivateLinkServicelocalWestCentralUS","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MINIGASSOU-IntegrationRGlocalWestCentralUS/providers/Microsoft.Network/privateEndpoints/PrivateEndpointlocalWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","createdByType":"Application","createdAt":"2023-03-15T18:19:24+00:00","lastModifiedBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","lastModifiedByType":"Application","lastModifiedAt":"2023-03-15T18:20:04+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus","name":"MINIGASSOU-VNETlocalWCUS","tags":{"donotdelete":""}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1VndbtowFH6XaNpV3RS6DrVSNXmQaqw0sIQIrXcnjkldwMlih6BWffcdmy5j0l7gSNwgBOLT93fOyWug5cHOlN6Y4OY1WEXpchzFy4TPsjS4CZ6src1NGO5AQyl3UttzeGkbeS6qXWja3IhG1VZV2oSjUXEF%2BcVnNpJFwT5JKVgu5DW7GorBIB9d5fnlKKybaq8K2ZjwQYmmMtXanvO6Hld6rcq2AfdToTh9l9qqkeYL1Irt8Xv4%2Be3wYnjJLvA1%2BPjBbFS9rDZS3%2B5BixJe2F5Lu60EbDvRmuAsIArHyGavhGQWSnYE4rihRsqhPbRWGmsci0hGxGli8Kpi0gvK8RBlyXwR0TKIfWoqa7dKl56NIdKRzrPlN8cJT6ecFppTfxgJCIZnqcutKXeA6IKR0CKYeJ4gMwRVdsqLlg5Kdu9lRosR0YF%2BhpbVLrX8/6fdI65GDPYI%2BzeJh7RYORUXhrGLsGMrEsPR4X/3RHTKPlWtrbeI5GvCH6czgl45ZSVv/MzFYz7h746hKzEBAnl5hzGNJ5Q7UiiNWGh2fT9BOsPfJTweR%2BS1tW6ctr7zBY9pzyvPviLv50lE3/AbT4qfvWjXvV8b9XFv9I3C75LpmHtktPL4GRcWwAsAcyHAXsCl2ElT0vNODwir0g%2BXq2gSYaL5owtRbkznwixdTZePUTLj8cRNZVSxbLsBgvnBlzyhzYp3zC8/w/gMIDjB9GYxSvsEQGYWc6cw2tTUWz9Z%2BjGZcIQJcAmGrbLiPwlbXlcdwujvR%2B/SIrZT9laBVvydkwmukz2Q9XGX/PM4Isr4glanGNgpA8Ua8IzkL8ioMuf2LB3SA%2BNO%2BQDFf4xCi5ReXuiT4O0sgGbHy7KRJVhZ%2BEdJiIcnD8Hbbw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 5fe4d79d-0e72-4cf1-8328-c9ddb054ab92
      - e0fea755-d62a-42d2-b6f0-b060b9beb65a
      - 93b80d89-0bf7-433f-b00a-6edc1e23b99d
      - 1c8e010b-ab5b-481e-a01a-deea69e1d3d4
      - 6844addf-895d-41af-a37d-6764be8def1c
      - 427694e4-d8c9-4324-b482-6a8314424dd9
      - 07672426-2db8-4ae8-bd11-a6c48ccc1566
      - 8af232c1-751c-4718-9b91-a918691dfba4
      - 25b329f2-5457-4659-8f39-e9c9fe43d0ae
      - cf5eef1f-d56b-4fc6-88d1-03f5f35a21ba
      - 99dc05fe-8972-4712-aa35-aec3d83c97df
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"iqR4-l0-s0:fIdA3rv3/GlIl3z9Rd/l","name":"Primary","value":"ItDubWtDMEfKKMRqkVAnn7Cl7mLDLwnJBRb5XGhbRRc=","connectionString":"Endpoint=https://kvsetimporttestrbephkctw.azconfig.io;Id=iqR4-l0-s0:fIdA3rv3/GlIl3z9Rd/l;Secret=ItDubWtDMEfKKMRqkVAnn7Cl7mLDLwnJBRb5XGhbRRc=","lastModified":"2023-04-18T05:44:55+00:00","readOnly":false},{"id":"o5o8-l0-s0:9rB4fpACelaTd9XEpQe0","name":"Secondary","value":"8m8NRq4HHLndLj91YMU3ZJO4uuuj7a46eLGHlGGV/fg=","connectionString":"Endpoint=https://kvsetimporttestrbephkctw.azconfig.io;Id=o5o8-l0-s0:9rB4fpACelaTd9XEpQe0;Secret=8m8NRq4HHLndLj91YMU3ZJO4uuuj7a46eLGHlGGV/fg=","lastModified":"2023-04-18T05:44:55+00:00","readOnly":false},{"id":"KRWL-l0-s0:CAAYngS7C0pl6lY1jqmH","name":"Primary
        Read Only","value":"R/zzdhH90jmmEfNGJv/22nyJOxD3iePov2a1DHHaBfg=","connectionString":"Endpoint=https://kvsetimporttestrbephkctw.azconfig.io;Id=KRWL-l0-s0:CAAYngS7C0pl6lY1jqmH;Secret=R/zzdhH90jmmEfNGJv/22nyJOxD3iePov2a1DHHaBfg=","lastModified":"2023-04-18T05:44:55+00:00","readOnly":true},{"id":"82r4-l0-s0:Sp/v4z9vM4WveIcMkLCD","name":"Secondary
        Read Only","value":"TclU0C7W0R/pyg4EoPAe7w06OZOw9x4kvNrQ1/uF5bw=","connectionString":"Endpoint=https://kvsetimporttestrbephkctw.azconfig.io;Id=82r4-l0-s0:Sp/v4z9vM4WveIcMkLCD;Secret=TclU0C7W0R/pyg4EoPAe7w06OZOw9x4kvNrQ1/uF5bw=","lastModified":"2023-04-18T05:44:55+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:45:14 GMT
    method: GET
    uri: https://kvsetimporttestrbephkctw.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzM2Nw==;sn=36477367
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzM2Nw==
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Apr, 18 2023 05:45:14 GMT
    method: PUT
    uri: https://kvsetimporttestrbephkctw.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"HeKEYi4271GumPgTNS3TcMyiX9Sh0vu9HLmZrMcmPHE","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:45:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HeKEYi4271GumPgTNS3TcMyiX9Sh0vu9HLmZrMcmPHE"'
      last-modified:
      - Tue, 18 Apr 2023 05:45:14 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzM2OA==;sn=36477368
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzM2OA==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Apr, 18 2023 05:45:14 GMT
    method: PUT
    uri: https://kvsetimporttestrbephkctw.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"kM8Vb_MqdpsqbI0wq9SNMij5zpA2r8LkvzaOKj2j7MY","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:45:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kM8Vb_MqdpsqbI0wq9SNMij5zpA2r8LkvzaOKj2j7MY"'
      last-modified:
      - Tue, 18 Apr 2023 05:45:14 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzM2OQ==;sn=36477369
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzM2OQ==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Apr, 18 2023 05:45:14 GMT
    method: PUT
    uri: https://kvsetimporttestrbephkctw.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"_IUWCM9HDeDxUQdb_-KXixYHOxguRe-M9o-5W03MGvw","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:45:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"_IUWCM9HDeDxUQdb_-KXixYHOxguRe-M9o-5W03MGvw"'
      last-modified:
      - Tue, 18 Apr 2023 05:45:15 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3MA==;sn=36477370
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3MA==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Apr, 18 2023 05:45:15 GMT
    method: PUT
    uri: https://kvsetimporttestrbephkctw.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"fzbhKVhN2q7VhH-MjUlGlO7xKKm4InKwy1JM_ZZlnA4","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2023-04-18T05:45:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"fzbhKVhN2q7VhH-MjUlGlO7xKKm4InKwy1JM_ZZlnA4"'
      last-modified:
      - Tue, 18 Apr 2023 05:45:15 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3MQ==;sn=36477371
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3MQ==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Apr, 18 2023 05:45:15 GMT
    method: PUT
    uri: https://kvsetimporttestrbephkctw.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"sYxDEPR640DWemMNbmHkFnBKO7syfzOnPOUuZX5olq8","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-04-18T05:45:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sYxDEPR640DWemMNbmHkFnBKO7syfzOnPOUuZX5olq8"'
      last-modified:
      - Tue, 18 Apr 2023 05:45:15 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3Mg==;sn=36477372
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3Mg==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Apr, 18 2023 05:45:15 GMT
    method: PUT
    uri: https://kvsetimporttestrbephkctw.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"z42vux_lSDPo4ig5ujG7essPYlfkzFJHsbsQZR7OP_I","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-04-18T05:45:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"z42vux_lSDPo4ig5ujG7essPYlfkzFJHsbsQZR7OP_I"'
      last-modified:
      - Tue, 18 Apr 2023 05:45:15 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3Mw==;sn=36477373
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3Mw==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Apr, 18 2023 05:45:15 GMT
    method: PUT
    uri: https://kvsetimporttestrbephkctw.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"cSjvhvsq2ZfuRC9l3LeE4LxJjkKkz3G-wN1c527W3Bg","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-04-18T05:45:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"cSjvhvsq2ZfuRC9l3LeE4LxJjkKkz3G-wN1c527W3Bg"'
      last-modified:
      - Tue, 18 Apr 2023 05:45:15 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3NA==;sn=36477374
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3NA==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Apr, 18 2023 05:45:15 GMT
    method: PUT
    uri: https://kvsetimporttestrbephkctw.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"JRTLU8zVddfXwUY7ZbDejmk1K-4pFufGFKnI-p7K2QA","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2023-04-18T05:45:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JRTLU8zVddfXwUY7ZbDejmk1K-4pFufGFKnI-p7K2QA"'
      last-modified:
      - Tue, 18 Apr 2023 05:45:15 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3NQ==;sn=36477375
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3NQ==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Apr, 18 2023 05:45:15 GMT
    method: PUT
    uri: https://kvsetimporttestrbephkctw.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"B9bJv0wSZviiJsXwG2_7Rx1QlRGnY0V7geZCq0KhC8Q","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2023-04-18T05:45:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"B9bJv0wSZviiJsXwG2_7Rx1QlRGnY0V7geZCq0KhC8Q"'
      last-modified:
      - Tue, 18 Apr 2023 05:45:15 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzM3Ng==;sn=36477376
    status:
      code: 200
      message: OK
[...]
