interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-01-13T05:18:37.3569903+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002","name":"StrictImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0yXy0YUXICDwSZlu68JhZwBA4eNRKKCcFdzhgKX-3DE?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0yXy0YUXICDwSZlu68JhZwBA4eNRKKCcFdzhgKX-3DE?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0yXy0YUXICDwSZlu68JhZwBA4eNRKKCcFdzhgKX-3DE","name":"0yXy0YUXICDwSZlu68JhZwBA4eNRKKCcFdzhgKX-3DE","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0yXy0YUXICDwSZlu68JhZwBA4eNRKKCcFdzhgKX-3DE?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-01-13T05:18:37+00:00","endpoint":"https://strictimporttestwcd2jtoq.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-01-13T05:18:37+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-13T05:18:38+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/strictimporttestwcd2jtoq","name":"StrictImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"330068dd-0000-0100-0000-63c0e9ae0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NFqiYPUo2NBpY%2FQuubYy7BBZzMdkjVqt99tqkQ%2Bwh3jxFKxE%2Fn3HOu%2FRpIeDYLIfc6mLwG6yQvpklaZHRR5sEk2BnT6kkYHplkNRxBmgF76RQMeHMMdVdprkRrRCN1OB5vRqwafiFj2GzIZwBOKg63ZBTzKKrGo6r6NA5b1ZzEBpQOHwRXjW62ZkDbdtrIrag7xdynQn79lJtGgf7KWkFO9j37%2B108jGMyHJFh9PGD3ou2aPYg7zSok%2BBADKtJzzsd3AT%2FAckZxMmCTY%2Fn7rkzoI12AloxEoqTgZwkGALeUE6HpMyWqwTXbJidaow5CFl7NWIrR74si%2B9OE5rPKS6a60nXwCwMLXMXWXPqgPDCAOssTLrMrDIIXXatiwSH4k2GO4VdnWibwuTfHIsRu6zTLgDOnYKMo7f%2F3QvRC7NrOtMeLMm3jD7OF95reFWplN9YaEpn9H1i8MJwxq0u7xjzdIa5YbiQlgVnU172Lzfw9xlNpwl6b22V89YPuqIp7rZ%2Fat1a%2FHOZJfgHfu9F8ZsL7rr3x0d5PnVZnDX9jc9kbuq5AmZge2h6dtjDsQVlveYrkt5n8yn1UuEqmCd7fmH2LoA4PvLCXCxfVT8%2BnS5AtvtdFOTrZJbYiPbXL0i10b1L53w9Lx6TbEHTmVszsbIc%2BsjC%2FKIFzXCr4ifmj1%2FKfAYgXMkuw6KF9AlglblUTVLSFS6TKeCsIVEUjSyHi64yj%2FFRuDs%2BxjbB203A1JHWtYLa1s7G38haQWj2ELz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 88713220-072d-4c75-a29f-e2670c781ca7
      - 4b669270-8666-4950-9ce5-0c74ed17b447
      - 9975dc5b-b832-40e0-93ed-1d6add05f661
      - 5f0d81d2-4555-4025-8347-9996b6605f18
      - 932373c6-66a7-4779-b8c9-e0f782c0f6e7
      - bfadd1fa-bef8-4006-89ec-73cda3b82cc2
      - 19170851-36b1-4752-a8b0-de911345cab8
      - 26ae29a7-f13b-434d-9b7c-6eecd0f9e8d3
      - 6ae8e715-4635-47a9-8d8a-06f5fae04dc9
      - c7f2362b-e828-4f66-9f40-60d820afc586
      - 271a3df7-39d7-45b2-9a98-ff7218783c17
      - 5cbc3909-f1f6-4d3b-975a-04d646156d15
      - 829f0219-c443-482c-aaf2-9971ea99d5b5
      - 73b5e247-cc06-43bb-a218-0c018132432d
      - 089a6e4a-3cd6-400a-a8e2-fdf401c309e4
      - 06544024-1c93-4517-a387-1c6d271a4c7b
      - 0e91a40d-44c6-4fe9-ae63-ded918b871af
      - 666e53ef-9f88-46e3-bd72-b81b4b72065c
      - 79333493-0f64-4a80-90bd-428c6cfdf842
      - 111cb217-4066-4b28-8929-1b6611aee172
      - 68e7fd04-591b-4600-b254-9bc8b03239f1
      - 7127b32c-1138-4d22-b929-b502bb42026e
      - 30f4ac5d-e8b3-4425-98b9-0b8acb0b348f
      - e0f93d80-b6ce-4f66-9b45-279e64781857
      - 508a6176-b2b4-4930-b296-32ff1275ff18
      - 4fa9f83d-fb33-41a1-92cc-e6224fdc2c71
      - 7f8561b5-9a76-43f1-a4be-feaa517dd5d5
      - ac2c82ea-9782-4a2e-b341-e3f2ef5f40a4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"ZDtL-l0-s0:WsyRCASZBwRItRRjVi2y","name":"Primary","value":"klejENQpo/BLy+vt2xOoFM6XnCkWIZxWYVhXBQajUCE=","connectionString":"Endpoint=https://strictimporttestwcd2jtoq.azconfig.io;Id=ZDtL-l0-s0:WsyRCASZBwRItRRjVi2y;Secret=klejENQpo/BLy+vt2xOoFM6XnCkWIZxWYVhXBQajUCE=","lastModified":"2023-01-13T05:18:37+00:00","readOnly":false},{"id":"YKlV-l0-s0:xW1a9wjkVXB5xDhodvcM","name":"Secondary","value":"VuJTTwgsiT9fm1LszqZCDM75SWqNXnGyWZrXxt7MyV4=","connectionString":"Endpoint=https://strictimporttestwcd2jtoq.azconfig.io;Id=YKlV-l0-s0:xW1a9wjkVXB5xDhodvcM;Secret=VuJTTwgsiT9fm1LszqZCDM75SWqNXnGyWZrXxt7MyV4=","lastModified":"2023-01-13T05:18:37+00:00","readOnly":false},{"id":"ewyY-l0-s0:85/Q6mFkeIkE4oVHr33d","name":"Primary
        Read Only","value":"p34TTWd923w6LjLSq/Vrx6tMtBe3NDxAak4+qX5eROM=","connectionString":"Endpoint=https://strictimporttestwcd2jtoq.azconfig.io;Id=ewyY-l0-s0:85/Q6mFkeIkE4oVHr33d;Secret=p34TTWd923w6LjLSq/Vrx6tMtBe3NDxAak4+qX5eROM=","lastModified":"2023-01-13T05:18:37+00:00","readOnly":true},{"id":"Z0cx-l0-s0:ByGpRZhjlsshK4kX25WK","name":"Secondary
        Read Only","value":"Ac+ECA6sI96YWw2ioz+PkyLfn0SVVxczkljNqCk1x9g=","connectionString":"Endpoint=https://strictimporttestwcd2jtoq.azconfig.io;Id=Z0cx-l0-s0:ByGpRZhjlsshK4kX25WK;Secret=Ac+ECA6sI96YWw2ioz+PkyLfn0SVVxczkljNqCk1x9g=","lastModified":"2023-01-13T05:18:37+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Jan, 13 2023 05:18:50 GMT
    method: PUT
    uri: https://strictimporttestwcd2jtoq.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"aW22RlUCKdq_mJkyRAbeJyhWVVFCcBBsqZkjeTSR4YY","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-01-13T05:18:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"aW22RlUCKdq_mJkyRAbeJyhWVVFCcBBsqZkjeTSR4YY"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:51 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzMTUyNzM0OQ==;sn=31527349
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzMTUyNzM0OQ==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Jan, 13 2023 05:18:51 GMT
    method: PUT
    uri: https://strictimporttestwcd2jtoq.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"N34dGz7jVQiC7er0koRYnyAIwZJtnV1Nc9k9xB07m54","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-01-13T05:18:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"N34dGz7jVQiC7er0koRYnyAIwZJtnV1Nc9k9xB07m54"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:51 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzMTUyNzM1MA==;sn=31527350
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzMTUyNzM1MA==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Jan, 13 2023 05:18:51 GMT
    method: PUT
    uri: https://strictimporttestwcd2jtoq.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"-hRGMvBy0qx1aX_ISlcmsHaTdzH4X96A2W-r2rTqM5E","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2023-01-13T05:18:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"-hRGMvBy0qx1aX_ISlcmsHaTdzH4X96A2W-r2rTqM5E"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:51 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzMTUyNzM1MQ==;sn=31527351
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzMTUyNzM1MQ==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Jan, 13 2023 05:18:51 GMT
    method: PUT
    uri: https://strictimporttestwcd2jtoq.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"KeAeKwGy_jfW91y3lzZzur1DqBbg_5pMdmUvDs7f3RQ","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2023-01-13T05:18:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"KeAeKwGy_jfW91y3lzZzur1DqBbg_5pMdmUvDs7f3RQ"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:51 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzMTUyNzM1Mg==;sn=31527352
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzMTUyNzM1Mg==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Jan, 13 2023 05:18:51 GMT
    method: PUT
    uri: https://strictimporttestwcd2jtoq.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"Az8HOas3J12jb_Az33n9oX8EZKeK-otPTk1uu-pGBsA","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-01-13T05:18:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Az8HOas3J12jb_Az33n9oX8EZKeK-otPTk1uu-pGBsA"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:51 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzMTUyNzM1Mw==;sn=31527353
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzMTUyNzM1Mw==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Jan, 13 2023 05:18:51 GMT
    method: PUT
    uri: https://strictimporttestwcd2jtoq.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"57n1jHybfTK-VljFDcrLd2CwXPyvOGHIXfZxWFshMvw","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-01-13T05:18:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"57n1jHybfTK-VljFDcrLd2CwXPyvOGHIXfZxWFshMvw"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:51 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzMTUyNzM1NA==;sn=31527354
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzMTUyNzM1NA==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Jan, 13 2023 05:18:51 GMT
    method: PUT
    uri: https://strictimporttestwcd2jtoq.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"uuD1VlnPshue-h20ov92l3pjwMU4GYvcZeJ5Uw2wii8","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-01-13T05:18:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"uuD1VlnPshue-h20ov92l3pjwMU4GYvcZeJ5Uw2wii8"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:51 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzMTUyNzM1NQ==;sn=31527355
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzMTUyNzM1NQ==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Jan, 13 2023 05:18:51 GMT
    method: PUT
    uri: https://strictimporttestwcd2jtoq.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"9pEI80xa2z62CQXe-2eUMaxCSueKinzhGxXar_bcWCQ","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2023-01-13T05:18:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9pEI80xa2z62CQXe-2eUMaxCSueKinzhGxXar_bcWCQ"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:51 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzMTUyNzM1Ng==;sn=31527356
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzMTUyNzM1Ng==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Jan, 13 2023 05:18:51 GMT
    method: PUT
    uri: https://strictimporttestwcd2jtoq.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"0Eaut2dG-47bbCJQG10i6pjjAsepMI5FbYyBsJvrcsk","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2023-01-13T05:18:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0Eaut2dG-47bbCJQG10i6pjjAsepMI5FbYyBsJvrcsk"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:51 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzMTUyNzM1Nw==;sn=31527357
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 13 2023 05:18:54 GMT
    method: GET
    uri: https://strictimporttestwcd2jtoq.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"aW22RlUCKdq_mJkyRAbeJyhWVVFCcBBsqZkjeTSR4YY","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-01-13T05:18:51+00:00"},{"etag":"N34dGz7jVQiC7er0koRY[...]
[...]
