interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-07-18T20:30:43.5474914+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/w-hHYzVzWJkVYcr4ziaOh9bGOpcLeXZXUqFDWexsowM?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/w-hHYzVzWJkVYcr4ziaOh9bGOpcLeXZXUqFDWexsowM?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/w-hHYzVzWJkVYcr4ziaOh9bGOpcLeXZXUqFDWexsowM","name":"w-hHYzVzWJkVYcr4ziaOh9bGOpcLeXZXUqFDWexsowM","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/w-hHYzVzWJkVYcr4ziaOh9bGOpcLeXZXUqFDWexsowM?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-18T20:30:44+00:00","endpoint":"https://kvtestxglynwpiun3xy2nmeb.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-18T20:30:44+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-18T20:30:44+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestxglynwpiun3xy2nmeb","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"46064e87-0000-0100-0000-64b6f6740000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 2ea4dd42-4896-4ad1-a1d4-061f2c47a7cf
      - 6c9e08f4-f035-4646-8e8b-48cc4230bdc7
      - bd82f46d-ae22-4824-9bd1-eb4890809d56
      - 1d54e374-4b3d-44a8-8543-5105750ab3fb
      - 371372f3-8684-4477-b422-3cef277364fc
      - 0e1f231a-4d31-44a9-9bf2-15ce79f114ce
      - 0053e32c-d7ed-4931-8499-c8a52967d741
      - 6c6a5dac-399e-4fb5-b2dc-4a54fbf10a81
      - f0d52ccf-4392-48cb-b724-bba25e386d15
      - 4e5d81b6-988b-4223-b3b3-40406b648f9b
      - 5dcda0be-0201-487b-ad13-e2e7c7febd19
      - c726a57c-a3df-474d-a020-0e4ad0ea38a3
      - 1185b568-f40a-4472-91e8-1fb7e0acde4f
      - 63d07d14-3ca7-4202-a555-e4cf7723c38a
      - 88885312-8bd1-4d1f-bd1d-516e386e87d5
      - 0f05b051-6210-447e-b164-4f891ca60543
      - 2451beeb-1a92-447b-a7d3-8989ea0e05e7
      - 16dd46f6-8fed-468c-b729-f0d7fa93310e
      - a810a1b4-6587-49c6-8404-36cd708db6a2
      - 22317b57-9197-4bf9-9138-7026742b50ce
      - 84828533-d652-455e-b5b3-6b8b475b6076
      - 834953fa-3bde-4a22-a1bc-cbb4027ed220
      - 222cf495-8c3e-47a4-899d-1a51eaee25ab
      - 7a1ec303-1173-4da8-9050-990413635c8c
      - 59376d96-a0cf-4b6e-93b5-c01687f141e6
      - 4be9ed48-18ae-48b7-9c59-98d4bc829671
      - 554c32c4-99b4-4c2f-9b78-f810ebff35d8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"4fg6","name":"Primary","value":"Sd8nXa4rG47pUZAM62TG3xqCs+BLYGhmMu3kHoWyYFA=","connectionString":"Endpoint=https://kvtestxglynwpiun3xy2nmeb.azconfig.io;Id=4fg6;Secret=Sd8nXa4rG47pUZAM62TG3xqCs+BLYGhmMu3kHoWyYFA=","lastModified":"2023-07-18T20:30:43+00:00","readOnly":false},{"id":"NoSU","name":"Secondary","value":"8sXHJlhwLH1BUzmCfRDwGh5mbXlv4gmMMI/tRjE+1b4=","connectionString":"Endpoint=https://kvtestxglynwpiun3xy2nmeb.azconfig.io;Id=NoSU;Secret=8sXHJlhwLH1BUzmCfRDwGh5mbXlv4gmMMI/tRjE+1b4=","lastModified":"2023-07-18T20:30:43+00:00","readOnly":false},{"id":"Pi8S","name":"Primary
        Read Only","value":"4zqpXHoPVGRw13IGB7qDrUUzDtX0UnJiefh+ZYRge20=","connectionString":"Endpoint=https://kvtestxglynwpiun3xy2nmeb.azconfig.io;Id=Pi8S;Secret=4zqpXHoPVGRw13IGB7qDrUUzDtX0UnJiefh+ZYRge20=","lastModified":"2023-07-18T20:30:43+00:00","readOnly":true},{"id":"cz0B","name":"Secondary
        Read Only","value":"K8mU4eEKt7WOqQzMHDjgUL5rfu3evy1ux2a0/b+Ez7E=","connectionString":"Endpoint=https://kvtestxglynwpiun3xy2nmeb.azconfig.io;Id=cz0B;Secret=K8mU4eEKt7WOqQzMHDjgUL5rfu3evy1ux2a0/b+Ez7E=","lastModified":"2023-07-18T20:30:43+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 18 2023 20:31:27 GMT
    method: GET
    uri: https://kvtestxglynwpiun3xy2nmeb.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM0MTcyMDU1MQ==;sn=41720551
      x-ms-resource-group:
      - clitest.rglmcr5ubefmd4lleupq4xfbpojtxe4gao2pill5nheax3ossgi4o3ktwrafq64ak6i
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvtestxglynwpiun3xy2nmeb
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM0MTcyMDU1MQ==
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Jul, 18 2023 20:31:28 GMT
    method: PUT
    uri: https://kvtestxglynwpiun3xy2nmeb.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"M9FHWLGzZs_Tf_LD5MuMxkG_a0yKABnUeROMbsqAAcw","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2023-07-18T20:31:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"M9FHWLGzZs_Tf_LD5MuMxkG_a0yKABnUeROMbsqAAcw"'
      last-modified:
      - Tue, 18 Jul 2023 20:31:28 GMT
      sync-token:
      - zAJw6V16=NDoxOSM0MTcyMDU1Mg==;sn=41720552
      x-ms-resource-group:
      - clitest.rglmcr5ubefmd4lleupq4xfbpojtxe4gao2pill5nheax3ossgi4o3ktwrafq64ak6i
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvtestxglynwpiun3xy2nmeb
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"M9FHWLGzZs_Tf_LD5MuMxkG_a0yKABnUeROMbsqAAcw"'
      Sync-Token:
      - zAJw6V16=NDoxOSM0MTcyMDU1Mg==
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Jul, 18 2023 20:31:31 GMT
    method: PUT
    uri: https://kvtestxglynwpiun3xy2nmeb.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"Y5m0coc0e-NV8jgkIGT309cPotTE3LSX1WAizmsLTT8","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-07-18T20:31:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Y5m0coc0e-NV8jgkIGT309cPotTE3LSX1WAizmsLTT8"'
      last-modified:
      - Tue, 18 Jul 2023 20:31:31 GMT
      sync-token:
      - zAJw6V16=NDoxOSM0MTcyMDU1Mw==;sn=41720553
      x-ms-resource-group:
      - clitest.rglmcr5ubefmd4lleupq4xfbpojtxe4gao2pill5nheax3ossgi4o3ktwrafq64ak6i
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvtestxglynwpiun3xy2nmeb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 18 2023 20:31:34 GMT
    method: GET
    uri: https://kvtestxglynwpiun3xy2nmeb.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM0MTcyMDU1NA==;sn=41720554
      x-ms-resource-group:
      - clitest.rglmcr5ubefmd4lleupq4xfbpojtxe4gao2pill5nheax3ossgi4o3ktwrafq64ak6i
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvtestxglynwpiun3xy2nmeb
    status:
      code: 404
      message: Not Found
[...]
