interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-07-21T05:21:51.7961124+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002","name":"KVRevisionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/uZ03_DcaEq5pR7XRCsOevbwpOfq4w1hFFIG5CQ0r8Ms?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/uZ03_DcaEq5pR7XRCsOevbwpOfq4w1hFFIG5CQ0r8Ms?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/uZ03_DcaEq5pR7XRCsOevbwpOfq4w1hFFIG5CQ0r8Ms","name":"uZ03_DcaEq5pR7XRCsOevbwpOfq4w1hFFIG5CQ0r8Ms","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/uZ03_DcaEq5pR7XRCsOevbwpOfq4w1hFFIG5CQ0r8Ms?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T05:21:52+00:00","endpoint":"https://kvrevisiontestnb7aajwkgs.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T05:21:52+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T05:21:53+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvrevisiontestnb7aajwkgs","name":"KVRevisionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"bc069285-0000-0100-0000-64ba15f10000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 82bac84c-435e-4cd1-85d0-3adebf196f7f
      - 3e3de15e-063a-446c-9759-1c652b6d4f1a
      - 0a310d31-2afe-4266-9770-fd559c29c8bd
      - 7951173f-82c7-4cd1-b17b-73e93dc29503
      - ecec3ae8-b37a-4194-ab43-8694993dd263
      - ea4fd7c2-d9bf-4494-8a32-d585466618c6
      - 9b1a7bb0-8255-4849-a812-bfa5398b935c
      - 3871dd72-ead5-4c46-bc0e-125b3e84ab41
      - 98361a1b-67dc-480e-aa9b-86c66eb1fc21
      - 6c7e0e7a-1ca5-467b-ba0c-b331e311a84f
      - d4260042-3b4a-4179-844f-0d5dfa2d33b3
      - c59508ba-8d62-4a4b-b754-c714afe37376
      - 140aacb9-c1cf-4da1-b9ee-b2f766fc5e84
      - e807f2a3-7a34-4ac8-a5be-805f78ebdb18
      - fcdcb6e5-1063-4dd4-a6e6-4dc954b31f21
      - efac2f43-932e-48b6-a430-766877d1ff47
      - 5cabd58f-af42-4d2b-96ea-9f57a5639d9a
      - e5f269a1-1952-40b0-86ab-d9290ad8c628
      - cc786d55-2d6e-4103-9eed-78c5fa4ea22b
      - a236b38a-bffe-43c0-ba4f-ebaa72b23593
      - 7eea093f-b281-4a66-8f21-4a9529d73dea
      - 8e1b1cd8-c526-4162-a16b-6ab7095efd93
      - c8340c9c-1769-4e08-9948-a56736df423d
      - b6debd07-799c-4805-86b0-db8085862d24
      - 9761ad0d-1427-45bc-9feb-f8a2e00498e8
      - a57033f6-e72d-4b24-828b-0d1b37234282
      - 08c38d42-f2e5-4a13-b0ed-f798553aa350
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"DB5K","name":"Primary","value":"8XE2mslUFs3y4avBTEbPGzslC1MqhHRIKQWKq0m+7LQ=","connectionString":"Endpoint=https://kvrevisiontestnb7aajwkgs.azconfig.io;Id=DB5K;Secret=8XE2mslUFs3y4avBTEbPGzslC1MqhHRIKQWKq0m+7LQ=","lastModified":"2023-07-21T05:21:51+00:00","readOnly":false},{"id":"AptB","name":"Secondary","value":"2GGzRsncrG5xEWe6l15/XrG06/pfj9tAYEfN20pqbfM=","connectionString":"Endpoint=https://kvrevisiontestnb7aajwkgs.azconfig.io;Id=AptB;Secret=2GGzRsncrG5xEWe6l15/XrG06/pfj9tAYEfN20pqbfM=","lastModified":"2023-07-21T05:21:51+00:00","readOnly":false},{"id":"Qsw6","name":"Primary
        Read Only","value":"YgpZyOcuVPQfpSkIZDXtVlk0MQpmXpTOfkwiQ7o+QDY=","connectionString":"Endpoint=https://kvrevisiontestnb7aajwkgs.azconfig.io;Id=Qsw6;Secret=YgpZyOcuVPQfpSkIZDXtVlk0MQpmXpTOfkwiQ7o+QDY=","lastModified":"2023-07-21T05:21:51+00:00","readOnly":true},{"id":"QgSL","name":"Secondary
        Read Only","value":"Qwob5jggy7xTr4aSJbikhAhWJYa+Pu2PZFWdll+qQ80=","connectionString":"Endpoint=https://kvrevisiontestnb7aajwkgs.azconfig.io;Id=QgSL;Secret=Qwob5jggy7xTr4aSJbikhAhWJYa+Pu2PZFWdll+qQ80=","lastModified":"2023-07-21T05:21:51+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:22:39 GMT
    method: GET
    uri: https://kvrevisiontestnb7aajwkgs.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM0MTkwNTU1Mg==;sn=41905552
      x-ms-resource-group:
      - clitest.rghfyfb7fwiazr33b45vz5jmccatl4ivbreg3wcpe23xxkionsnlcjtmwlzmiebf3zr
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvrevisiontestnb7aajwkgs
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM0MTkwNTU1Mg==
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Jul, 21 2023 05:22:39 GMT
    method: PUT
    uri: https://kvrevisiontestnb7aajwkgs.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"9kYUBkx9uwriA6xTejV5f6ZXTzE7tZHU5KXHMcQzUuA","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2023-07-21T05:22:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9kYUBkx9uwriA6xTejV5f6ZXTzE7tZHU5KXHMcQzUuA"'
      last-modified:
      - Fri, 21 Jul 2023 05:22:40 GMT
      sync-token:
      - zAJw6V16=NDoxOSM0MTkwNTU1Mw==;sn=41905553
      x-ms-resource-group:
      - clitest.rghfyfb7fwiazr33b45vz5jmccatl4ivbreg3wcpe23xxkionsnlcjtmwlzmiebf3zr
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvrevisiontestnb7aajwkgs
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"9kYUBkx9uwriA6xTejV5f6ZXTzE7tZHU5KXHMcQzUuA"'
      Sync-Token:
      - zAJw6V16=NDoxOSM0MTkwNTU1NA==
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Jul, 21 2023 05:22:43 GMT
    method: PUT
    uri: https://kvrevisiontestnb7aajwkgs.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"UrrIUk4IG60Y36IsNZ7z56zoftaCLM40oh3LyRKscZE","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-07-21T05:22:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"UrrIUk4IG60Y36IsNZ7z56zoftaCLM40oh3LyRKscZE"'
      last-modified:
      - Fri, 21 Jul 2023 05:22:43 GMT
      sync-token:
      - zAJw6V16=NDoxOSM0MTkwNTU1NQ==;sn=41905555
      x-ms-resource-group:
      - clitest.rghfyfb7fwiazr33b45vz5jmccatl4ivbreg3wcpe23xxkionsnlcjtmwlzmiebf3zr
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvrevisiontestnb7aajwkgs
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:22:46 GMT
    method: GET
    uri: https://kvrevisiontestnb7aajwkgs.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM0MTkwNTU1Nw==;sn=41905557
      x-ms-resource-group:
      - clitest.rghfyfb7fwiazr33b45vz5jmccatl4ivbreg3wcpe23xxkionsnlcjtmwlzmiebf3zr
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvrevisiontestnb7aajwkgs
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:22:49 GMT
    method: GET
    uri: https://kvrevisiontestnb7aajwkgs.azconfig.io/revisions?key=Color&label=%2A&api-version=1.0&$Select=content_type,etag,label,last_modified,value
  response:
    body:
      string: '{"items":[{"etag":"wrPANEp6ZdhNgmv4i77UwfWEnyRv3TkM6wlmQ14B1a0","label":"newlabel","content_type":"text","value":"Green","last_modified":"2023-07-21T05:22:47+00:00"},{"etag":"UrrIUk4IG60Y36IsNZ7z56zoftaCLM40oh3LyRKscZE","label":"v1.0.0","content_type":"text","value":"Green","last_modified":"2023-07-21T05:22:43+00:00"},{"etag":"9kYUBkx9uwriA6xTejV5f6ZXTzE7tZHU5KXHMcQzUuA","label":"v1.0.0","content_type":"","value":"","last_modified":"2023-07-21T05:22:40+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM0MTkwNTU1OA==;sn=41905558
      x-ms-resource-group:
      - clitest.rghfyfb7fwiazr33b45vz5jmccatl4ivbreg3wcpe23xxkionsnlcjtmwlzmiebf3zr
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvrevisiontestnb7aajwkgs
    status:
      code: 200
      message: OK
version: 1
