interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true, "softDeleteRetentionInDays": 1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-03-29T19:03:05.4788271+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002","name":"DisableLocalAuth000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/bHyB05xLTvwnWQtQOSjDBnI59zmbaU_uoqSxRSFH_VQ?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/bHyB05xLTvwnWQtQOSjDBnI59zmbaU_uoqSxRSFH_VQ?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/bHyB05xLTvwnWQtQOSjDBnI59zmbaU_uoqSxRSFH_VQ","name":"bHyB05xLTvwnWQtQOSjDBnI59zmbaU_uoqSxRSFH_VQ","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/bHyB05xLTvwnWQtQOSjDBnI59zmbaU_uoqSxRSFH_VQ?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-29T19:03:06+00:00","endpoint":"https://disablelocalauthhokedl5y.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":true,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-03-29T19:03:06+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T19:03:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/disablelocalauthhokedl5y","name":"DisableLocalAuth000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"53033ace-0000-0100-0000-64248b6b0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-15T18:19:24+00:00","endpoint":"https://minigassou-vnetlocalwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus/privateEndpointConnections/PrivateLinkServicelocalWestCentralUS","name":"PrivateLinkServicelocalWestCentralUS","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MINIGASSOU-IntegrationRGlocalWestCentralUS/providers/Microsoft.Network/privateEndpoints/PrivateEndpointlocalWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","createdByType":"Application","createdAt":"2023-03-15T18:19:24+00:00","lastModifiedBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","lastModifiedByType":"Application","lastModifiedAt":"2023-03-15T18:20:04+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus","name":"MINIGASSOU-VNETlocalWCUS","tags":{"donotdelete":""}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1VnbbtpAEP0Xq%2BpTNg6kKWqkqNqCo9IQk9og1LyN14uzAdaud41Jovx7Zxfq%2BqE/MBIvCIF8dC5zZngLtDzYmdIbE1y/BasoXYyjeJHw2TINroMnaytzHYY70FDIndT2HF6bWp6LcheaJjOiVpVVpTbhaJRfQXbxmY1knrNPUgqWCfmFXQ3FYJCNrrLschRWdblXuaxNeK9EXZpybc95VY1LvVZFU4P7qVD036W2rKX5CpVie/wefn4zvBhesgt8DT5%2BMBtVLcqN1Dd70KKAV7bX0m5LAdtWNCY4C4jCMbLeKyGZhYIdgThuqJFyaA6NlcYaxyKSEXGaGLyqmPSCcjxEy2T%2BENEyiH2qS2u3SheejSHSkc6Xi%2B%2BOE55OOS00fX8YCQiGL1OXW1PuANEFI6FBMPE8QWYIqqzPi5YOyvLOy4wWI6IF/QwNq1xq%2BecnOkd8%2BqpCo%2B038gXBHCN4SIuOvqowhV12HcchMRwtPrtP31bZp7Kx1RaRfEv443RG0CR9VrLaly0e8wk/WYWuxAQI5OUEYxpPKA9HofTJ9fSGfFcdneFvEx6PI/LaWtdOWz/4A49pF5VnPxvv5klE3/AbT4ovXUTnfD%2BL9XFh9BOF3ybTMffIaOXxM24qgKs/cyHAXsGlWG9S0vNOBwhHpW%2BVq2gSYaL5awtRbkzrwixdTRePUTLj8cS1MqpYtu0AwfzkC57QZsU75rfvMD4DCDaYzixGaZ8AyAzGGJZLwsYX4HyPWbzivwgbRZctwujOLSevENvEOoFBI/61S4JLWAdkfdzA/l7voyV/oJXEBnbKQL4GvLr4gyuq7HStoAfGXb4B8v8YhRYpnbzQJ8H7WQD1jhdFLQuwMvf/vCAentwH738A
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 696f48aa-c0d5-4cc8-b29b-7fb8417d9c85
      - 616533dd-045a-464c-87a3-df46a57fa894
      - 7b7bcc55-9d41-452d-bed2-c4e021de1c17
      - 3c52a81d-d501-4c5f-bc03-2694b8d0d576
      - 24cf524f-b6bb-460b-a6ac-b5e3618d4148
      - 893dd10d-f7ee-49b9-9fe3-c7aacb96b11c
      - 640a8616-76a1-4cc5-833e-d6a7a8a81de6
      - bbc2ac3b-d9bb-4f99-a8f4-ce9e5041ec44
      - 9ff66a15-fda3-4a25-85a5-ca13abbb4d60
      - c6b4c5a5-3f5e-4c08-bb72-53171fd63287
      - c194006c-f235-4180-92a4-8d0ad28afdd5
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"E2Lg-l0-s0:pdebIbImShf0YE8HfqBz","name":"Primary","value":"4FPw1KV4cI8KnctrwcVXHn5wVo5pLjcyJlprfTzeesI=","connectionString":"Endpoint=https://disablelocalauthhokedl5y.azconfig.io;Id=E2Lg-l0-s0:pdebIbImShf0YE8HfqBz;Secret=4FPw1KV4cI8KnctrwcVXHn5wVo5pLjcyJlprfTzeesI=","lastModified":"2023-03-29T19:03:21+00:00","readOnly":false},{"id":"cWi8-l0-s0:WIwn+4wmud/gigrc8H46","name":"Secondary","value":"PXQwWKCMseNwWhoRJl7wlTP53FSZuCC2YBb3r3k0eu4=","connectionString":"Endpoint=https://disablelocalauthhokedl5y.azconfig.io;Id=cWi8-l0-s0:WIwn+4wmud/gigrc8H46;Secret=PXQwWKCMseNwWhoRJl7wlTP53FSZuCC2YBb3r3k0eu4=","lastModified":"2023-03-29T19:03:21+00:00","readOnly":false},{"id":"H6cN-l0-s0:BY5j2DnBr0FFOcp0VZnc","name":"Primary
        Read Only","value":"tqV/dIvwc31sbuRhx7N6qXiRNjJJ0IxxbnRFg3eIx10=","connectionString":"Endpoint=https://disablelocalauthhokedl5y.azconfig.io;Id=H6cN-l0-s0:BY5j2DnBr0FFOcp0VZnc;Secret=tqV/dIvwc31sbuRhx7N6qXiRNjJJ0IxxbnRFg3eIx10=","lastModified":"2023-03-29T19:03:21+00:00","readOnly":true},{"id":"9WLC-l0-s0:JZ1YXYELZlyScJdUfKNP","name":"Secondary
        Read Only","value":"Ai4vqspD5u3R3YWRcXAhUat0P4oouSXLOwldq8wx7Zk=","connectionString":"Endpoint=https://disablelocalauthhokedl5y.azconfig.io;Id=9WLC-l0-s0:JZ1YXYELZlyScJdUfKNP;Secret=Ai4vqspD5u3R3YWRcXAhUat0P4oouSXLOwldq8wx7Zk=","lastModified":"2023-03-29T19:03:21+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 29 2023 19:03:25 GMT
    method: GET
    uri: https://disablelocalauthhokedl5y.azconfig.io/kv/test?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSMzOTQ2MjE1Nw==;sn=39462157
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "test", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSMzOTQ2MjE1Nw==
      x-ms-content-sha256:
      - K/ZgeCKNEgOHURLXqNNghR5xxLAPIMWOIak1mRufo6o=
      x-ms-date:
      - Mar, 29 2023 19:03:25 GMT
    method: PUT
    uri: https://disablelocalauthhokedl5y.azconfig.io/kv/test?api-version=1.0
  response:
    body:
      string: '{"etag":"lRy8mdMTS-bMpuZ_VNtdAfDZ1tt1Bao3BIbRf6ObmC0","key":"test","label":null,"content_type":"","value":"","tags":{},"locked":false,"last_modified":"2023-03-29T19:03:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lRy8mdMTS-bMpuZ_VNtdAfDZ1tt1Bao3BIbRf6ObmC0"'
      last-modified:
      - Wed, 29 Mar 2023 19:03:25 GMT
      sync-token:
      - zAJw6V16=NToxOSMzOTQ2MjE1OA==;sn=39462158
    status:
      code: 200
      message: OK
version: 1
