interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-07-17T17:59:50.0860851+00:00","endpoint":"https://CredentialTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/feacb42d-dc86-4dbf-e68f-59e223e4c5d6?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/feacb42d-dc86-4dbf-e68f-59e223e4c5d6?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/feacb42d-dc86-4dbf-e68f-59e223e4c5d6","name":"feacb42d-dc86-4dbf-e68f-59e223e4c5d6","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/feacb42d-dc86-4dbf-e68f-59e223e4c5d6?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-07-17T17:59:51+00:00","endpoint":"https://credentialtestyiyofgnpmt.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtestyiyofgnpmt","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"58003696-0000-0100-0000-5d2f62160000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-07-08T20:34:55+00:00","endpoint":"https://bariscag_appconfig.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bariscagappconfig_rg/providers/Microsoft.AppConfiguration/configurationStores/bariscag_appconfig","name":"bariscag_appconfig","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prope[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"0-l0-s0:pRl3+cjNuEbx5uVkA+Mp","name":"Primary","value":"Y5PNW8z0AQkSomo9072i0ccXoXBObh+YUkM59ijgQO0=","connectionString":"Endpoint=https://credentialtestyiyofgnpmt.azconfig.io;Id=0-l0-s0:pRl3+cjNuEbx5uVkA+Mp;Secret=Y5PNW8z0AQkSomo9072i0ccXoXBObh+YUkM59ijgQO0=","lastModified":"2019-07-17T17:59:50+00:00","readOnly":false},{"id":"1-l0-s0:jVGOaDwF3JhrunWnR4r7","name":"Secondary","value":"w5GemHUIs7Du68CzRBOwxjQds+dONZTCCAE0Cb2PRdI=","connectionString":"Endpoint=https://credentialtestyiyofgnpmt.azconfig.io;Id=1-l0-s0:jVGOaDwF3JhrunWnR4r7;Secret=w5GemHUIs7Du68CzRBOwxjQds+dONZTCCAE0Cb2PRdI=","lastModified":"2019-07-17T17:59:50+00:00","readOnly":false},{"id":"2-l0-s0:T0vMThTNZ2vuPGLvuXrC","name":"Primary
        Read Only","value":"aeaBPpVdrxF//7aV8u7wYyWv/fYbsgKhZZrIkbAXlvI=","connectionString":"Endpoint=https://credentialtestyiyofgnpmt.azconfig.io;Id=2-l0-s0:T0vMThTNZ2vuPGLvuXrC;Secret=aeaBPpVdrxF//7aV8u7wYyWv/fYbsgKhZZrIkbAXlvI=","lastModified":"2019-07-17T17:59:50+00:00","readOnly":true},{"id":"3-l0-s0:BwiHxV1uZq3qS+Ian/D1","name":"Secondary
        Read Only","value":"VOAbh4S+iNGrgLhnBdpA5nGu9TmXtcs8OPIzTAtO3oQ=","connectionString":"Endpoint=https://credentialtestyiyofgnpmt.azconfig.io;Id=3-l0-s0:BwiHxV1uZq3qS+Ian/D1;Secret=VOAbh4S+iNGrgLhnBdpA5nGu9TmXtcs8OPIzTAtO3oQ=","lastModified":"2019-07-17T17:59:50+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "0-l0-s0:pRl3+cjNuEbx5uVkA+Mp"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/RegenerateKey?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"0-l0-s0:pRl3+cjNuEbx5uVkA+Mp","name":"Primary","value":"MRp8cB3BDq5o1WGKVjA5KYlldn/Pa06My4WqoWP/eu0=","connectionString":"Endpoint=https://credentialtestyiyofgnpmt.azconfig.io;Id=0-l0-s0:pRl3+cjNuEbx5uVkA+Mp;Secret=MRp8cB3BDq5o1WGKVjA5KYlldn/Pa06My4WqoWP/eu0=","lastModified":"2019-07-17T18:00:03+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
