interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-02-12T00:59:31.0003092+00:00","endpoint":null,"encryption":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/31779470-1d7e-8002-5221-7007791e872f?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/31779470-1d7e-8002-5221-7007791e872f?api-version=2019-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/31779470-1d7e-8002-5221-7007791e872f","name":"31779470-1d7e-8002-5221-7007791e872f","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/31779470-1d7e-8002-5221-7007791e872f?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-12T00:59:31+00:00","endpoint":"https://sourcer635nvcn4iasmt66fl.azconfig.io","encryption":{"keyVaultProperties":null}},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcer635nvcn4iasmt66fl","name":"Source000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9001a4b1-0000-0100-0000-5e434df30000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-01-30T21:03:13+00:00","endpoint":"https://ernestt-cuseuap.azconfig.io","encryption":{"keyVaultProperties":null}},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ernestt-test2/providers/Microsoft.AppConfiguration/configurationStores/ernestt-cuseuap","name":"ernestt-cuseuap","location":"centraluseuap","tags":{}},{"type":"Microso[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/ListKeys?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"x9pa-l0-s0:ZjL6V9Ef09kBlsAw3kMJ","name":"Primary","value":"St0ngb1HHrViNrZMgBm0nyrWBitxMNlxrwvqPd0BvJQ=","connectionString":"Endpoint=https://sourcer635nvcn4iasmt66fl.azconfig.io;Id=x9pa-l0-s0:ZjL6V9Ef09kBlsAw3kMJ;Secret=St0ngb1HHrViNrZMgBm0nyrWBitxMNlxrwvqPd0BvJQ=","lastModified":"2020-02-12T00:59:31+00:00","readOnly":false},{"id":"NcS0-l0-s0:cw4hs2hvHYP08U1bx1Jz","name":"Secondary","value":"QoUc1FHQ4rkWDiUVVMFf6fAL4No+SCR18hEr5I0UbZo=","connectionString":"Endpoint=https://sourcer635nvcn4iasmt66fl.azconfig.io;Id=NcS0-l0-s0:cw4hs2hvHYP08U1bx1Jz;Secret=QoUc1FHQ4rkWDiUVVMFf6fAL4No+SCR18hEr5I0UbZo=","lastModified":"2020-02-12T00:59:31+00:00","readOnly":false},{"id":"j17g-l0-s0:0biyUl+55kQ3SXegShLm","name":"Primary
        Read Only","value":"Aw3G4BrCsEcG/wqMszpH6/EwVKkfi7FC9f5wu+y1VlA=","connectionString":"Endpoint=https://sourcer635nvcn4iasmt66fl.azconfig.io;Id=j17g-l0-s0:0biyUl+55kQ3SXegShLm;Secret=Aw3G4BrCsEcG/wqMszpH6/EwVKkfi7FC9f5wu+y1VlA=","lastModified":"2020-02-12T00:59:31+00:00","readOnly":true},{"id":"54Ru-l0-s0:lFYQ/4sJikVhrxB+j6uT","name":"Secondary
        Read Only","value":"KccAPfZ395wRQSXNNGeYzVRLDAfc6fM8ZMYgk9oCLMs=","connectionString":"Endpoint=https://sourcer635nvcn4iasmt66fl.azconfig.io;Id=54Ru-l0-s0:lFYQ/4sJikVhrxB+j6uT;Secret=KccAPfZ395wRQSXNNGeYzVRLDAfc6fM8ZMYgk9oCLMs=","lastModified":"2020-02-12T00:59:31+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-02-12T00:59:50.2301012+00:00","endpoint":null,"encryption":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003","name":"Destination000003","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ae1203ef-0b82-7e1d-150a-ae3ccfa09d16?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/ListKeys?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"RupP-l0-s0:pSeHxs9/NR/OeiPXJLfP","name":"Primary","value":"cZw6ijeO1ZG8EJz1uPdHQDq/OxyzdI+w6wTkpsbVl4I=","connectionString":"Endpoint=https://destination5[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:03 GMT
    method: GET
    uri: https://sourcer635nvcn4iasmt66fl.azconfig.io/kv/Color?label=v1&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": null, "content_type": null, "value": "Red"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - ZD+GzrRHo6zdBzMubsz5rAV3k7PZKfQD0HTgN7+RIvQ=
      x-ms-date:
      - Feb, 12 2020 01:00:03 GMT
    method: PUT
    uri: https://sourcer635nvcn4iasmt66fl.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"a1iOYTb80jcjF3QAzDVaCi9dWeH","key":"Color","label":"v1","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"a1iOYTb80jcjF3QAzDVaCi9dWeH"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:04 GMT
      sync-token:
      - zAJw6V16=MzotMSM5NzQwNTc=;sn=974057
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:04 GMT
    method: GET
    uri: https://sourcer635nvcn4iasmt66fl.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": {}, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"conditions\": {\"client_filters\": []}, \"enabled\": false, \"id\":
      \"Beta\", \"description\": null}"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - CaE/fcg49wh+ExXD1CKcr6IVKV1iDNu7nN/uyNbPXrQ=
      x-ms-date:
      - Feb, 12 2020 01:00:05 GMT
    method: PUT
    uri: https://sourcer635nvcn4iasmt66fl.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"sxKf67Q3mC2ft93gRh0mUUgEXAU","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sxKf67Q3mC2ft93gRh0mUUgEXAU"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:05 GMT
      sync-token:
      - zAJw6V16=MzotMSM5NzQwNTk=;sn=974059
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:06 GMT
    method: GET
    uri: https://sourcer635nvcn4iasmt66fl.azconfig.io/kv?key=*&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"sxKf67Q3mC2ft93gRh0mUUgEXAU","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:05+00:00"},{"etag":"52qwURfSXBOGZ9jP83cPdPwwmXg","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:06+00:00"},{"etag":"a1iOYTb80jcjF3QAzDVaCi9dWeH","key":"Color","label":"v1","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:04+00:00"},{"etag":"dzRyYbr33e64xUOD5etFahVS8je","key":"Color","label":"v2","content_type":null,"value":"Blue","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:04+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM5NzQwNjE=;sn=974061
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:06 GMT
    method: GET
    uri: https://sourcer635nvcn4iasmt66fl.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"sxKf67Q3mC2ft93gRh0mUUgEXAU","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:05+00:00"},{"etag":"52qwURfSXBOGZ9jP83cPdPwwmXg","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:06+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM5NzQwNjE=;sn=974061
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {}, "content_type": null, "value": "Red"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - xvG5j9XTXUXNlN6CB9BdALGjv3qGZuV0E5URt/TTwyk=
      x-ms-date:
      - Feb, 12 2020 01:00:06 GMT
    method: PUT
    uri: https://destination5umtvd5j7z3af.azconfig.io/kv/Color?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"6Kl9hNQmZetwZWQV2HKESuYLYRa","key":"Color","label":"DestLabel","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6Kl9hNQmZetwZWQV2HKESuYLYRa"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:07 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTI2;sn=1076926
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"conditions\": {\"client_filters\": []}, \"enabled\": false, \"id\":
      \"Beta\", \"description\": null}"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - CaE/fcg49wh+ExXD1CKcr6IVKV1iDNu7nN/uyNbPXrQ=
      x-ms-date:
      - Feb, 12 2020 01:00:07 GMT
    method: PUT
    uri: https://destination5umtvd5j7z3af.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"tSzJrDdthYtkREixAWY9WKrEzSE","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tSzJrDdthYtkREixAWY9WKrEzSE"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:08 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTMw;sn=1076930
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:07 GMT
    method: GET
    uri: https://destination5umtvd5j7z3af.azconfig.io/kv?key=%2A&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"CqOQavlzEa3pFZnkoAyxoCR1Dv5","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:08+00:00"},{"etag":"LEq8lvMyCanvd0w49lJVR3M2SX9","key":"Color","label":"DestLabel","content_type":null,"value":"Blue","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:07+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTMx;sn=1076931
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"CqOQavlzEa3pFZnkoAyxoCR1Dv5"'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:08 GMT
    method: DELETE
    uri: https://destination5umtvd5j7z3af.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"CqOQavlzEa3pFZnkoAyxoCR1Dv5","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CqOQavlzEa3pFZnkoAyxoCR1Dv5"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:08 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTMy;sn=1076932
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "content_type": null, "value": "Red"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - xvG5j9XTXUXNlN6CB9BdALGjv3qGZuV0E5URt/TTwyk=
      x-ms-date:
      - Feb, 12 2020 01:00:09 GMT
    method: PUT
    uri: https://destination5umtvd5j7z3af.azconfig.io/kv/Color?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"omanLWDMafOJCJcdOrDoM0fn1ON","key":"Color","label":null,"content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"omanLWDMafOJCJcdOrDoM0fn1ON"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:10 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTM0;sn=1076934
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"conditions\": {\"client_filters\": []}, \"enabled\": false, \"id\":
      \"Beta\", \"description\": null}"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - CaE/fcg49wh+ExXD1CKcr6IVKV1iDNu7nN/uyNbPXrQ=
      x-ms-date:
      - Feb, 12 2020 01:00:10 GMT
    method: PUT
    uri: https://destination5umtvd5j7z3af.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"l98yAYncQ9ratiLsuC2J92aMsPu","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"l98yAYncQ9ratiLsuC2J92aMsPu"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:10 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTM2;sn=1076936
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "content_type": null, "value": "Red"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - xvG5j9XTXUXNlN6CB9BdALGjv3qGZuV0E5URt/TTwyk=
      x-ms-date:
      - Feb, 12 2020 01:00:12 GMT
    method: PUT
    uri: https://destination5umtvd5j7z3af.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"hTCNvItxsXB5YqXBkEuyl730Jd4","key":"Color","label":"v1","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hTCNvItxsXB5YqXBkEuyl730Jd4"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:13 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTQw;sn=1076940
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"conditions\": {\"client_filters\": []}, \"enabled\": false, \"id\":
      \"Beta\", \"description\": null}"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - CaE/fcg49wh+ExXD1CKcr6IVKV1iDNu7nN/uyNbPXrQ=
      x-ms-date:
      - Feb, 12 2020 01:00:12 GMT
    method: PUT
    uri: https://destination5umtvd5j7z3af.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"XqFzEEKTVJbNfChqK4e8IMpbwjK","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XqFzEEKTVJbNfChqK4e8IMpbwjK"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:13 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTQy;sn=1076942
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"rs0zf6yuKmzdC2EJEMTczHt501q"'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:23 GMT
    method: DELETE
    uri: https://destination5umtvd5j7z3af.azconfig.io/kv/Color?label=v2&api-version=1.0
  response:
    body:
      string: '{"etag":"rs0zf6yuKmzdC2EJEMTczHt501q","key":"Color","label":"v2","content_type":null,"value":"Blue","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"rs0zf6yuKmzdC2EJEMTczHt501q"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:22 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTY5;sn=1076969
    status:
      code: 200
      message: OK
version: 1
