interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-07-21T23:15:27.557354+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002","name":"FeatureNamespaceTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/VetnMTU-R13VFHA9wUs_vEZhgrTFFDvcDjc1tmCZAbI?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/VetnMTU-R13VFHA9wUs_vEZhgrTFFDvcDjc1tmCZAbI?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/VetnMTU-R13VFHA9wUs_vEZhgrTFFDvcDjc1tmCZAbI","name":"VetnMTU-R13VFHA9wUs_vEZhgrTFFDvcDjc1tmCZAbI","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/VetnMTU-R13VFHA9wUs_vEZhgrTFFDvcDjc1tmCZAbI?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T23:15:28+00:00","endpoint":"https://featurenamespacetestlmya.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T23:15:28+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T23:15:29+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurenamespacetestlmya","name":"FeatureNamespaceTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e206c477-0000-0100-0000-64bb11910000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 37b4e2d0-61b4-4558-8e8d-5b1ccec9f84a
      - 9937eccb-f9aa-44fc-aa5a-fcfa0054aae7
      - 16c69c85-6be7-4fec-8a8c-f641da9a4186
      - 09686e40-868a-4cbb-af24-97697559b939
      - 5b3e045c-0ca2-4a20-bc1e-c66e817f8246
      - 0e43f9af-9894-4365-9a5f-ef32512dbf09
      - c71cd0f5-7a6e-487b-8bd1-1cbf7a3bf45e
      - 141fad60-dffe-4ef2-a8aa-3dd46fe7edb3
      - 9b30a170-f20e-4006-b38e-1573067240ab
      - 55895b3a-fc2d-404d-8d1a-525865c99dc8
      - e8302e4a-df46-4354-a974-5fc665560c2c
      - ac18da1f-c58b-4f19-a916-662ea93c905a
      - a6f7313f-e079-431d-8dd5-1d872aeeb214
      - d59d6643-dff8-45c9-8fac-4d64c5fa5669
      - ac7cf47b-0af7-4718-a06c-8ed6397e48ea
      - c1741d45-4b92-4fae-8552-bb161b70b89b
      - c49c4fcd-f374-4965-a05d-5187cb8c1f33
      - b97fae83-daa0-455e-afc6-4d37822760db
      - ee452d9f-c60a-4376-a2c9-ae7351e0bdc3
      - d93cf391-692b-4a6a-a926-a7df2528ff52
      - bca6c162-6631-475a-801b-8e9a76d25b77
      - 64f23e70-5ab0-4a5e-849b-55b6dc1e2117
      - c755a344-f423-4426-b250-1bd1cd584fef
      - 9e2554d9-7e22-438f-b519-c96732c48d9a
      - 7cf76d32-7bb4-42ea-b019-8f6c81bbec81
      - b101bf48-2054-446c-a93c-8880f9923b44
      - ad6635c2-ed6e-4cd2-bb80-55baf0dc872b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"CFv3","name":"Primary","value":"aTDvrBaqS/HjTUiF79Uo6BhSZ9FSB1P7ZTwyoVJVzUc=","connectionString":"Endpoint=https://featurenamespacetestlmya.azconfig.io;Id=CFv3;Secret=aTDvrBaqS/HjTUiF79Uo6BhSZ9FSB1P7ZTwyoVJVzUc=","lastModified":"2023-07-21T23:15:27+00:00","readOnly":false},{"id":"sUj4","name":"Secondary","value":"6M8QIgXSYYRo7aGKwhaLUVclIzoOu2/zxK006rUj+2A=","connectionString":"Endpoint=https://featurenamespacetestlmya.azconfig.io;Id=sUj4;Secret=6M8QIgXSYYRo7aGKwhaLUVclIzoOu2/zxK006rUj+2A=","lastModified":"2023-07-21T23:15:27+00:00","readOnly":false},{"id":"xKUp","name":"Primary
        Read Only","value":"DNWuBEcaQh9jHJvT2v2EDZYqVWfB6I/LX91007/C4XM=","connectionString":"Endpoint=https://featurenamespacetestlmya.azconfig.io;Id=xKUp;Secret=DNWuBEcaQh9jHJvT2v2EDZYqVWfB6I/LX91007/C4XM=","lastModified":"2023-07-21T23:15:27+00:00","readOnly":true},{"id":"KkoG","name":"Secondary
        Read Only","value":"dW0huRHYjdy/+Jj05QhaLj4+iVabNggWQmzu0ArkHrI=","connectionString":"Endpoint=https://featurenamespacetestlmya.azconfig.io;Id=KkoG;Secret=dW0huRHYjdy/+Jj05QhaLj4+iVabNggWQmzu0ArkHrI=","lastModified":"2023-07-21T23:15:27+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 23:16:11 GMT
    method: GET
    uri: https://featurenamespacetestlmya.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=ODoxOSM1MDg3NDA3;sn=5087407
      x-ms-resource-group:
      - clitest.rg3pbvsyls5mgae72xrfvxr7ahexikauu6tujfijjmlgcg2jbrftax2extdo5nlmau6
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - featurenamespacetestlmya
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=ODoxOSM1MDg3NDA3
      x-ms-content-sha256:
      - TEvHMnQHVg0zuhG/KTLva5wbEs56XbnCKHzUotx7T2Q=
      x-ms-date:
      - Jul, 21 2023 23:16:11 GMT
    method: PUT
    uri: https://featurenamespacetestlmya.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"0IUFdunUrm0Hocz0yJKfyAEPMRIEVfV_YetEsUCj4ZQ","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-21T23:16:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0IUFdunUrm0Hocz0yJKfyAEPMRIEVfV_YetEsUCj4ZQ"'
      last-modified:
      - Fri, 21 Jul 2023 23:16:11 GMT
      sync-token:
      - zAJw6V16=ODoxOSM1MDg3NDA4;sn=5087408
      x-ms-resource-group:
      - clitest.rg3pbvsyls5mgae72xrfvxr7ahexikauu6tujfijjmlgcg2jbrftax2extdo5nlmau6
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - featurenamespacetestlmya
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"0IUFdunUrm0Hocz0yJKfyAEPMRIEVfV_YetEsUCj4ZQ"'
      Sync-Token:
      - zAJw6V16=ODoxOSM1MDg3NDA4
      x-ms-content-sha256:
      - DLfyh/Ru5G+ypt1henik3km8h0nZPlRtLA0RgDfVOyU=
      x-ms-date:
      - Jul, 21 2023 23:16:13 GMT
    method: PUT
    uri: https://featurenamespacetestlmya.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"qMc_QV2QMuM0pyOBjvYHN-wA0Li7EUnVGfKVj7zVA2c","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-21T23:16:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qMc_QV2QMuM0pyOBjvYHN-wA0Li7EUnVGfKVj7zVA2c"'
      last-modified:
      - Fri, 21 Jul 2023 23:16:13 GMT
      sync-token:
      - zAJw6V16=ODoxOSM1MDg3NDA5;sn=5087409
      x-ms-resource-group:
      - clitest.rg3pbvsyls5mgae72xrfvxr7ahexikauu6tujfijjmlgcg2jbrftax2extdo5nlmau6
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - featurenamespacetestlmya
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 23:16:15 GMT
    method: GET
    uri: https://featurenamespacetestlmya.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3AGlobalFeature?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=ODoxOSM1MDg3NDEw;sn=5087410
      x-ms-resource-group:
      - clitest.rg3pbvsyls5mgae72xrfvxr7ahexikauu6tujfijjmlgcg2jbrftax2extdo5nlmau6
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - featurenamespacetestlmya
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 23:16:18 GMT
    method: GET
    uri: https://featurenamespacetestlmya.azconfig.io/kv?key=.appconfig.featureflag%2FMyApp%3A%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"qMc_QV2QMuM0pyOBjvYHN-wA0Li7EUnVGfKVj7zVA2c","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-21T23:16:13+00:00"},{"etag":"c8LvXfUnddNRPKecckBjhb5ZeW6LkYo-w0mFPdZUwdw","key":".appconfig.featureflag/MyApp:GlobalFeature","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"GlobalFeature\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2023-07-21T23:16:16+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxOSM1MDg3NDEx;sn=5087411
      x-ms-resource-group:
      - clitest.rg3pbvsyls5mgae72xrfvxr7ahexikauu6tujfijjmlgcg2jbrftax2extdo5nlmau6
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - featurenamespacetestlmya
    status:
      code: 200
      message: OK
version: 1
