interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true, "softDeleteRetentionInDays": 1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-04-18T05:43:56.4770344+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002","name":"DisableLocalAuth000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GNE7NlsoHMOUXxj-YjSDzeEUeJ7GtDoqrOyQHkRz3DU?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GNE7NlsoHMOUXxj-YjSDzeEUeJ7GtDoqrOyQHkRz3DU?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GNE7NlsoHMOUXxj-YjSDzeEUeJ7GtDoqrOyQHkRz3DU","name":"GNE7NlsoHMOUXxj-YjSDzeEUeJ7GtDoqrOyQHkRz3DU","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GNE7NlsoHMOUXxj-YjSDzeEUeJ7GtDoqrOyQHkRz3DU?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-04-18T05:43:58+00:00","endpoint":"https://disablelocalauthfqfnedy5.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":true,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-04-18T05:43:58+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-18T05:43:58+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/disablelocalauthfqfnedy5","name":"DisableLocalAuth000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5201839a-0000-0100-0000-643e2e1e0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-15T18:19:24+00:00","endpoint":"https://minigassou-vnetlocalwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus/privateEndpointConnections/PrivateLinkServicelocalWestCentralUS","name":"PrivateLinkServicelocalWestCentralUS","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MINIGASSOU-IntegrationRGlocalWestCentralUS/providers/Microsoft.Network/privateEndpoints/PrivateEndpointlocalWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","createdByType":"Application","createdAt":"2023-03-15T18:19:24+00:00","lastModifiedBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","lastModifiedByType":"Application","lastModifiedAt":"2023-03-15T18:20:04+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus","name":"MINIGASSOU-VNETlocalWCUS","tags":{"donotdelete":""}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1VndbtowFH6XaNpV3RS6DrVSNXmQaqw0sIQIrXcnjkldwMlih6BWffcdmy5j0l7gSNwgBOLT93fOyWug5cHOlN6Y4OY1WEXpchzFy4TPsjS4CZ6src1NGO5AQyl3UttzeGkbeS6qXWja3IhG1VZV2oSjUXEF%2BcVnNpJFwT5JKVgu5DW7GorBIB9d5fnlKKybaq8K2ZjwQYmmMtXanvO6Hld6rcq2AfdToTh9l9qqkeYL1Irt8Xv4%2Be3wYnjJLvA1%2BPjBbFS9rDZS3%2B5BixJe2F5Lu60EbDvRmuAsIArHyGavhGQWSnYE4rihRsqhPbRWGmsci0hGxGli8Kpi0gvK8RBlyXwR0TKIfWoqa7dKl56NIdKRzrPlN8cJT6ecFppTfxgJCIZnqcutKXeA6IKR0CKYeJ4gMwRVdsqLlg5Kdu9lRosR0YF%2BhpbVLrX8/6fdI65GDPYI%2BzeJh7RYORUXhrGLsGMrEsPR4X/3RHTKPlWtrbeI5GvCH6czgl45ZSVv/MzFYz7h746hKzEBAnl5hzGNJ5Q7UiiNWGh2fT9BOsPfJTweR%2BS1tW6ctr7zBY9pzyvPviLv50lE3/AbT4qfvWjXvV8b9XFv9I3C75LpmHtktPL4GRcWwAsAcyHAXsCl2ElT0vNODwir0g%2BXq2gSYaL5owtRbkznwixdTZePUTLj8cRNZVSxbLsBgvnBlzyhzYp3zC8/w/gMIDjB9GYxSvsEQGYWc6cw2tTUWz9Z%2BjGZcIQJcAmGrbLiPwlbXlcdwujvR%2B/SIrZT9laBVvydkwmukz2Q9XGX/PM4Isr4glanGNgpA8Ua8IzkL8ioMuf2LB3SA%2BNO%2BQDFf4xCi5ReXuiT4O0sgGbHy7KRJVhZ%2BEdJiIcnD8Hbbw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 4f615951-4115-410c-ba21-0cf0c1b232e6
      - 4adfe59b-bf40-4283-a6c7-b46ae97e3fbf
      - 3d83dc00-bca2-4eb2-88fd-739fc0e97b4b
      - 7de19a0d-02d9-460f-b620-04250b311667
      - 328cec68-5bc0-4803-bd15-b010b9aae64d
      - 3e647bdc-52d0-4551-a435-0dd8e844c3a7
      - 5a3ab727-450f-4d58-b49d-53077d04d9b8
      - fa7bf6d2-11fd-4cbc-89da-9c5a71a2ddb9
      - dbdf3edf-60a1-4f9a-8bd7-bb3bdc958d1b
      - 75a15d3b-9137-412e-8cfe-ceab891bba67
      - 4a46c7ee-5f0a-44df-bbf2-888cfbb8d857
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"4nc3-l0-s0:9jr0YTIywnQwgbBEdwWm","name":"Primary","value":"jpT8meLiXv1MxY4mjxhfLgXXCSghkqOXSL5nUpdGGLo=","connectionString":"Endpoint=https://disablelocalauthfqfnedy5.azconfig.io;Id=4nc3-l0-s0:9jr0YTIywnQwgbBEdwWm;Secret=jpT8meLiXv1MxY4mjxhfLgXXCSghkqOXSL5nUpdGGLo=","lastModified":"2023-04-18T05:44:22+00:00","readOnly":false},{"id":"PZX1-l0-s0:ATsMaUZqZofeBbvCf8gy","name":"Secondary","value":"mmrkn6WTaLCrhKldvUc2YncfCYwpMYOeJSJIXjqEOZs=","connectionString":"Endpoint=https://disablelocalauthfqfnedy5.azconfig.io;Id=PZX1-l0-s0:ATsMaUZqZofeBbvCf8gy;Secret=mmrkn6WTaLCrhKldvUc2YncfCYwpMYOeJSJIXjqEOZs=","lastModified":"2023-04-18T05:44:22+00:00","readOnly":false},{"id":"71d8-l0-s0:S6GWaSl1nUjoKw/dFEZP","name":"Primary
        Read Only","value":"UJ0OB0vOXk8+7mkUuhH3jtImvPJDlrJXcky6PXKNh/c=","connectionString":"Endpoint=https://disablelocalauthfqfnedy5.azconfig.io;Id=71d8-l0-s0:S6GWaSl1nUjoKw/dFEZP;Secret=UJ0OB0vOXk8+7mkUuhH3jtImvPJDlrJXcky6PXKNh/c=","lastModified":"2023-04-18T05:44:22+00:00","readOnly":true},{"id":"a6Tb-l0-s0:V8emoKxrR3tRu28HbyM/","name":"Secondary
        Read Only","value":"+8L35Ce6VjMed84s8GoAH8LrtVYzhFPy8GFJ4ZrrMb0=","connectionString":"Endpoint=https://disablelocalauthfqfnedy5.azconfig.io;Id=a6Tb-l0-s0:V8emoKxrR3tRu28HbyM/;Secret=+8L35Ce6VjMed84s8GoAH8LrtVYzhFPy8GFJ4ZrrMb0=","lastModified":"2023-04-18T05:44:22+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:44:29 GMT
    method: GET
    uri: https://disablelocalauthfqfnedy5.azconfig.io/kv/test?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTM4MA==;sn=23151380
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "test", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSMyMzE1MTM4MA==
      x-ms-content-sha256:
      - K/ZgeCKNEgOHURLXqNNghR5xxLAPIMWOIak1mRufo6o=
      x-ms-date:
      - Apr, 18 2023 05:44:29 GMT
    method: PUT
    uri: https://disablelocalauthfqfnedy5.azconfig.io/kv/test?api-version=1.0
  response:
    body:
      string: '{"etag":"OeJZQz505FNVxRiJr3VuBLp5JsXxNDs5uq0KQNaeNi8","key":"test","label":null,"content_type":"","value":"","tags":{},"locked":false,"last_modified":"2023-04-18T05:44:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OeJZQz505FNVxRiJr3VuBLp5JsXxNDs5uq0KQNaeNi8"'
      last-modified:
      - Tue, 18 Apr 2023 05:44:30 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTM4MQ==;sn=23151381
    status:
      code: 200
      message: OK
version: 1
