interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-03-19T22:04:40.6528468+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002",
        "name": "StrictImportTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oGnAv0f7kFrAADWKD2EMF7FyvnwEvQUvDzmtP22_NLU?api-version=2024-05-01&t=638780186807448987&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oGnAv0f7kFrAADWKD2EMF7FyvnwEvQUvDzmtP22_NLU?api-version=2024-05-01&t=638780186807448987&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-03-19T22:04:40+00:00", "endpoint": "https://strictimporttestvrxah7al.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2025-03-19T22:04:40+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2025-03-19T22:04:40+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/strictimporttestvrxah7al",
        "name": "StrictImportTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"130097dc-0000-0100-0000-67db3f7a0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZtdT%2BM4FIb/S7TaK0L5XLRIo5UXMjtdoGXTVt1BvXFStwSaj7WTKRTx39fnODUpMD/gvUEwCKRnXp/jY/vhJSjUU32dFY8mOH8JptFofBENxrG4noyC8%2BC%2Britz3uvlspBLlaui3pebRqv9tMx7pklMqrOqzsrC9M7O5qcyOfgtPFPzeXiiVBomqfo9PD1KDw%2BTs9MkOT7rVbr8kc2VNr2bLNWlKRf1vqiqi7JYZMtGS/pVvbT71agutTJ/yCoLf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=3ZDNTsMwEITfxUKccJ3fRkSqUISQOFAh0XLLxT/b1KSx3bXTQKK%2BOwEqwTNwnJndkb6ZiIH38KRN60k5kYdqs33dkJLsQ3C%2BZKzjhjfQgQkLPvYIC2k75nvhJWoXtDWeFYXKuYiWtAClaAYgqZBwS/NExrEociHSgjm0J60APVtridbbXVhUzt1bs9NNj/yrism/ahMsgr/jTtPT/DfnqyRKMhrlNIqvr3yr3da2YFbe9ihh2KejOg7HN0w%2B5HDgada[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZDNSsQwFIXfJYgr07SdqcXCIEUEFxbBjrtu8nMnhtok3KRDsfTdjT%2Bgr%2BDynHPPhe%2BsxMISH40dA2lWct/2x5eeNOQ1Rh8axiZuuYYJbMz4%2B4yQSTexMIsg0fhonA2srlXFRX5Na1CK7gEkFRJuaFXKohB1JcSuZh7d2SjAwDoj0QV3ilnr/Z2zJ6Nn5J%2BvmPyr%2BugQwi33hp5TL%2BWHMi/3NK9oXlxehNH4oxvBHpZ5mWlQdEe2q1%2BaJ/vg3lRiSibHqdUaQfMI6quUCNvnjnzfdxxHwGStw88AA2mGfznBQDayfQA%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 1a3826c4-3514-442d-81e2-95348beef397
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://strictimporttestvrxah7al.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-03-19T22:04:40+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://strictimporttestvrxah7al.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-03-19T22:04:40+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://strictimporttestvrxah7al.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-03-19T22:04:40+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://strictimporttestvrxah7al.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-03-19T22:04:40+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 22:05:29.671064 GMT
    method: GET
    uri: https://strictimporttestvrxah7al.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjODY5MzgwMTU=;sn=86938015
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjODY5MzgwMTU=
      x-ms-content-sha256:
      - vooIQS2Lc83p3cZJS7Qp5TL+wPNgfiHeUrZC71Varzs=
      x-ms-date:
      - Mar, 19 2025 22:05:29.969494 GMT
    method: PUT
    uri: https://strictimporttestvrxah7al.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"3fDKgXIrCblCWTQrwGiwdyKoXA5VQWpEKi0Z_SE41sE","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2025-03-19T22:05:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3fDKgXIrCblCWTQrwGiwdyKoXA5VQWpEKi0Z_SE41sE"'
      last-modified:
      - Wed, 19 Mar 2025 22:05:29 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjODY5MzgwMTY=;sn=86938016
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"bool-feature\", \"description\": \"It is a boolean feature\",
      \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\":
      null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjODY5MzgwMTY=
      x-ms-content-sha256:
      - UhxU[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjODY5MzgwMTc=
      x-ms-content-sha256:
      - Z9vdOmW9IIdhx2BgTvHER4NiDLOkF6QL50jtUUXyuos=
      x-ms-date:
      - Mar, 19 2025 22:05:30.142533 GMT
    method: PUT
    uri: https://strictimporttestvrxah7al.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=2023-11-01
  response:
    body:
      stri[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjODY5MzgwMTg=
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Mar, 19 2025 22:05:30.229381 GMT
    method: PUT
    uri: https://strictimporttestvrxah7al.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"qA1IQVODtbslMu6wqlOFLotgUC1YR7QhR8G57rx7ZBE","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2025-03-19T22:05:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qA1IQVODtbslMu6wqlOFLotgUC1YR7QhR8G57rx7ZBE"'
      last-modified:
      - Wed, 19 Mar 2025 22:05:30 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjM=;sn=86938023
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjM=
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Mar, 19 2025 22:05:30.314585 GMT
    method: PUT
    uri: https://strictimporttestvrxah7al.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"d5hrECHdwCIpuRmKnhGHp0I0oD-vxHYRbXrcJpF5VDc","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-03-19T22:05:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"d5hrECHdwCIpuRmKnhGHp0I0oD-vxHYRbXrcJpF5VDc"'
      last-modified:
      - Wed, 19 Mar 2025 22:05:30 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjQ=;sn=86938024
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjQ=
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Mar, 19 2025 22:05:30.406116 GMT
    method: PUT
    uri: https://strictimporttestvrxah7al.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"SANvzcA38BeCzXbntflpL2aa_Jbfv1I7k-_ZfCpHxZQ","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-03-19T22:05:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"SANvzcA38BeCzXbntflpL2aa_Jbfv1I7k-_ZfCpHxZQ"'
      last-modified:
      - Wed, 19 Mar 2025 22:05:30 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjU=;sn=86938025
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjU=
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Mar, 19 2025 22:05:30.494676 GMT
    method: PUT
    uri: https://strictimporttestvrxah7al.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"CvkWt5C_2RXrYwhUw8L_ckNWwpdMhtp7tGxRZuwMbGk","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-03-19T22:05:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CvkWt5C_2RXrYwhUw8L_ckNWwpdMhtp7tGxRZuwMbGk"'
      last-modified:
      - Wed, 19 Mar 2025 22:05:30 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjY=;sn=86938026
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjY=
      x-ms-content-sha256:
      - KG6foKmNh5fImJNssBeIcpD6vIlOFOyqNrEtrNcI1x4=
      x-ms-date:
      - Mar, 19 2025 22:05:30.582144 GMT
    method: PUT
    uri: https://strictimporttestvrxah7al.azconfig.io/kv/pratik-top-secret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"eX2aux4_CvXrDmFSAtAMhVifewXziI9oc90ZS7Kp39U","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2025-03-19T22:05:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eX2aux4_CvXrDmFSAtAMhVifewXziI9oc90ZS7Kp39U"'
      last-modified:
      - Wed, 19 Mar 2025 22:05:30 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjc=;sn=86938027
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjc=
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Mar, 19 2025 22:05:30.670838 GMT
    method: PUT
    uri: https://strictimporttestvrxah7al.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"1_3TeAu5kpMVi4QWFFV2pFTx61AozFLvyMbXu-pHiWQ","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2025-03-19T22:05:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1_3TeAu5kpMVi4QWFFV2pFTx61AozFLvyMbXu-pHiWQ"'
      last-modified:
      - Wed, 19 Mar 2025 22:05:30 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjODY5MzgwMjg=;sn=86938028
    status:
      code: 200
      message: OK
[...]
