interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2021-01-14T00:49:51.913912+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":{"name":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2695f684-2790-47f8-3815-7a7c8564a6b8?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2695f684-2790-47f8-3815-7a7c8564a6b8?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2695f684-2790-47f8-3815-7a7c8564a6b8","name":"2695f684-2790-47f8-3815-7a7c8564a6b8","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2695f684-2790-47f8-3815-7a7c8564a6b8?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2021-01-14T00:49:58+00:00","endpoint":"https://kvtest3terwmep2mwhpszegk.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtest3terwmep2mwhpszegk","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2c09b730-0000-0100-0000-5fff95350000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01
  response:
    body:
      string: "{\"value\":[{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2019-08-05T21:07:46+00:00\",\"endpoint\":\"https://appconfigteststorex1.azconfig.io\",\"encryption\":{\"keyVaultProperties\":null},\"privateEndpointConnections\":[]},\"sku\":{\"name\":\"standard\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1\",\"name\":\"AppConfigTestStoreX1\",\"location\":\"westcentralus\",\"tags\":{}},{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2020-03-25T04:52:09+00:00\",\"endpoint\":\"https://ernestt-test3.azconfig.io\",\"encryption\":{\"keyVaultProperties\":null},\"privateEndpointConnections\":null},\"sku\":{\"name\":\"standard\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ernestt-test/providers/Microsoft.AppConfiguration/configurationStores/ernestt-test3\",\"name\":\"ernestt-test3\",\"location\":\"westcentralus\",\"tags\":{}},{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"identity\":{\"type\":\"None\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2019-06-13T17:35:52+00:00\",\"endpoint\":\"https://mametcal-app-config.azconfig.io\",\"encryption\":{\"keyVaultProperties\":null},\"privateEndpointConnections\":null},\"sku\":{\"name\":\"free\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config\",\"name\":\"mametcal-app-config\",\"location\":\"westcentralus\",\"tags\":{}},{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2020-04-30T18:46:40+00:00\",\"endpoint\":\"https://recao430.azconfig.io\",\"encryption\":{\"keyVaultProperties\":null},\"privateEndpointConnections\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/recao/providers/Microsoft.AppConfiguration/configurationStores/recao430/privateEndpointConnections/recaoprivateendpoint.204b901d-c719-4004-82e8-e997f17b9ad4\",\"name\":\"recaoprivateendpoint.204b901d-c719-4004-82e8-e997f17b9ad4\",\"type\":\"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections\",\"properties\":{\"provisioningState\":\"Succeeded\",\"privateEndpoint\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/recao/providers/Microsoft.Network/privateEndpoints/recaoprivateendpoint\"},\"privateLinkServiceConnectionState\":{\"status\":\"Approved\",\"description\":\"Auto-Approved\",\"actionsRequired\":\"None\"}}}]},\"sku\":{\"name\":\"standard\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/recao/providers/Microsoft.AppConfiguration/configurationStores/recao430\",\"name\":\"recao430\",\"location\":\"westcentralus\",\"tags\":{}},{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2020-02-19T23:30:38+00:00\",\"endpoint\":\"https://runnerwcus.azconfig.io\",\"encryption\":{\"keyVaultProp[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"Uqby-l0-s0:w+EINyk5COUmGg606QWd","name":"Primary","value":"L+Q4DGdSN3MnCoyErq2Jw1xmwHOQu80Y8mWMzq6tDFc=","connectionString":"Endpoint=https://kvtest3terwmep2mwhpszegk.azconfig.io;Id=Uqby-l0-s0:w+EINyk5COUmGg606QWd;Secret=L+Q4DGdSN3MnCoyErq2Jw1xmwHOQu80Y8mWMzq6tDFc=","lastModified":"2021-01-14T00:49:51+00:00","readOnly":false},{"id":"lQqI-l0-s0:U3Ny3w0XljsNNnEPi22v","name":"Secondary","value":"E0L6F6avgLjmlB4V8ABRr2NSDnwd9dLpYcp0OZ2MSpM=","connectionString":"Endpoint=https://kvtest3terwmep2mwhpszegk.azconfig.io;Id=lQqI-l0-s0:U3Ny3w0XljsNNnEPi22v;Secret=E0L6F6avgLjmlB4V8ABRr2NSDnwd9dLpYcp0OZ2MSpM=","lastModified":"2021-01-14T00:49:51+00:00","readOnly":false},{"id":"MfQW-l0-s0:amLA54hKi2i1+X1RXv4u","name":"Primary
        Read Only","value":"LWuawvj8TMi1DUviGO0yKLZkOZHukjoPTEftKdSo9+U=","connectionString":"Endpoint=https://kvtest3terwmep2mwhpszegk.azconfig.io;Id=MfQW-l0-s0:amLA54hKi2i1+X1RXv4u;Secret=LWuawvj8TMi1DUviGO0yKLZkOZHukjoPTEftKdSo9+U=","lastModified":"2021-01-14T00:49:51+00:00","readOnly":true},{"id":"aojO-l0-s0:3aSriWdKoJkymNSR861H","name":"Secondary
        Read Only","value":"mejj5dJxkqp7duiN/yHGUYzupRb0GPWyB6afbywemus=","connectionString":"Endpoint=https://kvtest3terwmep2mwhpszegk.azconfig.io;Id=aojO-l0-s0:3aSriWdKoJkymNSR861H;Secret=mejj5dJxkqp7duiN/yHGUYzupRb0GPWyB6afbywemus=","lastModified":"2021-01-14T00:49:51+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 14 2021 00:50:10 GMT
    method: GET
    uri: https://kvtest3terwmep2mwhpszegk.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
      x-ms-tenant-name:
      - kvtest3terwmep2mwhpszegk
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - MwzGxk1LYxnY/sTg97MuL3lyqOFhfLtQAeKOeXHcXj4=
      x-ms-date:
      - Jan, 14 2021 00:50:10 GMT
    method: PUT
    uri: https://kvtest3terwmep2mwhpszegk.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"zJ33uJ4i3TBl8ea2Op61o7nM0Gv","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2021-01-14T00:50:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zJ33uJ4i3TBl8ea2Op61o7nM0Gv"'
      last-modified:
      - Thu, 14 Jan 2021 00:50:11 GMT
      sync-token:
      - zAJw6V16=Nzo1IzE2MTE5MDE=;sn=1611901
      x-ms-tenant-name:
      - kvtest3terwmep2mwhpszegk
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"zJ33uJ4i3TBl8ea2Op61o7nM0Gv"'
      Sync-Token:
      - zAJw6V16=Nzo1IzE2MTE5MDE=
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Jan, 14 2021 00:50:18 GMT
    method: PUT
    uri: https://kvtest3terwmep2mwhpszegk.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"KVBy54gwTQAQgf24OM6snxfjpuJ","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2021-01-14T00:50:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"KVBy54gwTQAQgf24OM6snxfjpuJ"'
      last-modified:
      - Thu, 14 Jan 2021 00:50:19 GMT
      sync-token:
      - zAJw6V16=Nzo1IzE2MTE5MDI=;sn=1611902
      x-ms-tenant-name:
      - kvtest3terwmep2mwhpszegk
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 14 2021 00:50:25 GMT
    method: GET
    uri: https://kvtest3terwmep2mwhpszegk.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
      x-ms-tenant-name:
      - kvtest3terwmep2mwhpszegk
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 14 2021 00:50:39 GMT
    method: GET
    uri: https://kvtest3terwmep2mwhpszegk.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"Hwv8DrRRNqzxSbAkgmn29CQA3az","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2021-01-14T00:50:26+00:00"},{"etag":"KVBy54gwTQAQgf24OM6snxfjpuJ","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2021-01-14T00:50:19+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Nzo1IzE2MTE5MDM=;sn=1611903
      x-ms-tenant-name:
      - kvtest3terwmep2mwhpszegk
    status:
      code: 200
      message: OK
[...]
