interactions:
- request:
    body: null
    headers:
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - win32
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.2
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2Ff686d426-8d16-42db-81b7-ab578e110ccd%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/f686d426-8d16-42db-81b7-ab578e110ccd/.well-known/openid-configuration"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Free"}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-11-11T18:55:48.3159626+00:00","endpoint":"https://FeatureFilterTest000002.azconfig-test.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0988095d-74c4-5507-e9d1-c5f28b601221?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0988095d-74c4-5507-e9d1-c5f28b601221?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0988095d-74c4-5507-e9d1-c5f28b601221","name":"0988095d-74c4-5507-e9d1-c5f28b601221","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0988095d-74c4-5507-e9d1-c5f28b601221?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-11-11T18:55:50+00:00","endpoint":"https://featurefiltertesto42nx2c.azconfig-test.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertesto42nx2c","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5d00018c-0000-0100-0000-5dc9aeb60000"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-02-13T19:32:45+00:00","endpoint":"https://appcfg0.azconfig-test.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigrunnerrg1/providers/Microsoft.AppConfiguration/configurationStores/appcfg0","name":"AppCfg0","location":"westus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provis[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"p4mj-l0-s0:WhmD32dPb/rXstn8s3zB","name":"Primary","value":"gNaf0bFwNJ4Hc3cqQR52Xi6Dj7Q1cwKSmVmtu8qq4Q8=","connectionString":"Endpoint=https://featurefiltertesto42nx2c.azconfig-test.io;Id=p4mj-l0-s0:WhmD32dPb/rXstn8s3zB;Secret=gNaf0bFwNJ4Hc3cqQR52Xi6Dj7Q1cwKSmVmtu8qq4Q8=","lastModified":"2019-11-11T18:55:49+00:00","readOnly":false},{"id":"5FV1-l0-s0:v80B5G+cWfO63BbjSs42","name":"Secondary","value":"D7FiKWv7EVR29yzlSknAtvHFlYtB1drtMWRViUWYZMo=","connectionString":"Endpoint=https://featurefiltertesto42nx2c.azconfig-test.io;Id=5FV1-l0-s0:v80B5G+cWfO63BbjSs42;Secret=D7FiKWv7EVR29yzlSknAtvHFlYtB1drtMWRViUWYZMo=","lastModified":"2019-11-11T18:55:49+00:00","readOnly":false},{"id":"hTu4-l0-s0:nNKe7gqqFxESywzN8E1f","name":"Primary
        Read Only","value":"xoqV0NBX32LK8tsxG8PczrreJhl+ciqbgoN8ggdBSxM=","connectionString":"Endpoint=https://featurefiltertesto42nx2c.azconfig-test.io;Id=hTu4-l0-s0:nNKe7gqqFxESywzN8E1f;Secret=xoqV0NBX32LK8tsxG8PczrreJhl+ciqbgoN8ggdBSxM=","lastModified":"2019-11-11T18:55:49+00:00","readOnly":true},{"id":"DnDH-l0-s0:98ZRerSmhsL0+bUDieCc","name":"Secondary
        Read Only","value":"94onU+UZCeKrVXLFDmATFWqq3ARlzrTFIrF2CTaZMPA=","connectionString":"Endpoint=https://featurefiltertesto42nx2c.azconfig-test.io;Id=DnDH-l0-s0:98ZRerSmhsL0+bUDieCc;Secret=94onU+UZCeKrVXLFDmATFWqq3ARlzrTFIrF2CTaZMPA=","lastModified":"2019-11-11T18:55:49+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 11 2019 18:56:08 GMT
    method: GET
    uri: https://featurefiltertesto42nx2c.azconfig-test.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": {}, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
      []}, \"id\": \"Color\"}"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - PdWPN4TzFv+AlYnNDg68jpyWZAPXXn/fB8b88mT40lQ=
      x-ms-date:
      - Nov, 11 2019 18:56:08 GMT
    method: PUT
    uri: https://featurefiltertesto42nx2c.azconfig-test.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"isqhVq0WARvQZEMJRDLUFkvbFTF","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"description\":
        null, \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"id\":
        \"Color\"}","tags":{},"locked":false,"last_modified":"2019-11-11T18:56:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"isqhVq0WARvQZEMJRDLUFkvbFTF"'
      last-modified:
      - Mon, 11 Nov 2019 18:56:07 GMT
      sync-token:
      - zAJw6V16=MjM6LTEjMjMxMzcz;sn=231373
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"enabled\": false, \"conditions\": {\"client_filters\": [{\"parameters\":
      {\"Name3\": \"\", \"Name1\": [\"Value1\", \"Value1.1\"], \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\",
      \"Name2\": \"Value2\"}, \"name\": \"FirstFilter\"}]}, \"id\": \"Color\", \"description\":
      null}"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"isqhVq0WARvQZEMJRDLUFkvbFTF"'
      x-ms-content-sha256:
      - +nnoVr+w/XadHqXI5qWExfsVaqBlwmI+YRxGgjKu2rA=
      x-ms-date:
      - Nov, 11 2019 18:56:12 GMT
    method: PUT
    uri: https://featurefiltertesto42nx2c.azconfig-test.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"sunitPlYYYxiCw3IwHgt4WqCwFs","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"enabled\":
        false, \"conditions\": {\"client_filters\": [{\"parameters\": {\"Name3\":
        \"\", \"Name1\": [\"Value1\", \"Value1.1\"], \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\",
        \"Name2\": \"Value2\"}, \"name\": \"FirstFilter\"}]}, \"id\": \"Color\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2019-11-11T18:56:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sunitPlYYYxiCw3IwHgt4WqCwFs"'
      last-modified:
      - Mon, 11 Nov 2019 18:56:11 GMT
      sync-token:
      - zAJw6V16=MjM6LTEjMjMxMzc0;sn=231374
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"enabled\": false, \"conditions\": {\"client_filters\": [{\"parameters\":
      {\"Name3\": \"\", \"Name1\": [\"Value1\", \"Value1.1\"], \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\",
      \"Name2\": \"Value2\"}, \"name\": \"FirstFilter\"}, {\"parameters\": {\"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\":
      \"ParamNameIsJsonString\", \"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\"}, \"name\":
      \"SecondFilter\"}]}, \"id\": \"Color\", \"description\": null}"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"sunitPlYYYxiCw3IwHgt4WqCwFs"'
      x-ms-content-sha256:
      - lbFCRSIdKLaP4y38LY/SMeFOcQhDzXy8B/+sttM7WxY=
      x-ms-date:
      - Nov, 11 2019 18:56:15 GMT
    method: PUT
    uri: https://featurefiltertesto42nx2c.azconfig-test.io/kv/.appconfig.featureflag%2FCo[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 11 2019 18:56:48 GMT
    method: GET
    uri: https://featurefiltertesto42nx2c.azconfig-test.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=&api-version=1.0
  response:
    body:
      string: '{"etag":"kT7EqGqppR7U9iwFAxcnEaSFruu","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"enabled\":
        true, \"conditions\": {\"client_filters\": []}, \"id\": \"Color\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2019-11-11T18:56:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kT7EqGqppR7U9iwFAxcnEaSFruu"'
      last-modified:
      - Mon, 11 Nov 2019 18:56:42 GMT
      sync-token:
      - zAJw6V16=MjM6LTEjMjMxMzc5;sn=231379
    status:
      code: 200
      message: OK
version: 1
