interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-07-03T00:37:25.8218742+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002","name":"NamingConventionTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0bce75ba-b8e7-2c8d-f28e-57c9757bce52?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0bce75ba-b8e7-2c8d-f28e-57c9757bce52?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0bce75ba-b8e7-2c8d-f28e-57c9757bce52","name":"0bce75ba-b8e7-2c8d-f28e-57c9757bce52","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0bce75ba-b8e7-2c8d-f28e-57c9757bce52?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-07-03T00:37:27+00:00","endpoint":"https://namingconventiontestpxon.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/namingconventiontestpxon","name":"NamingConventionTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8b011806-0000-0100-0000-5efe7dc60000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1/privateEndpointConnections/xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7","name":"xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MININT-APPE4B4-IntegrationRGProdWUS/providers/Microsoft.Network/privateEndpoints/xuxuxuxu"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}]},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-03-25T04:52:09+00:00","endpoint":"https://ernestt-test3.azconfig.io","encryption":{"keyVaultProperties[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"xxLC-l0-s0:CknyIxkdb9kdVtXKIWvc","name":"Primary","value":"uCY54ES8Ox1froQ/Q6VJPZefCgimzjf0SVyXCtWkjlY=","connectionString":"Endpoint=https://namingconventiontestpxon.azconfig.io;Id=xxLC-l0-s0:CknyIxkdb9kdVtXKIWvc;Secret=uCY54ES8Ox1froQ/Q6VJPZefCgimzjf0SVyXCtWkjlY=","lastModified":"2020-07-03T00:37:25+00:00","readOnly":false},{"id":"wceW-l0-s0:1KD2AgnYYKwb803uaWs8","name":"Secondary","value":"uZost0EvQ/ZHy4GtoLP4xnUGP9PRNaj0CQfJXEcPyrU=","connectionString":"Endpoint=https://namingconventiontestpxon.azconfig.io;Id=wceW-l0-s0:1KD2AgnYYKwb803uaWs8;Secret=uZost0EvQ/ZHy4GtoLP4xnUGP9PRNaj0CQfJXEcPyrU=","lastModified":"2020-07-03T00:37:25+00:00","readOnly":false},{"id":"UJWz-l0-s0:rJql3ShcCKSAeFAcBsfi","name":"Primary
        Read Only","value":"/bzqn1uM+WTrdPUuRynkDJjdudAWocu1afJnfXwy1eM=","connectionString":"Endpoint=https://namingconventiontestpxon.azconfig.io;Id=UJWz-l0-s0:rJql3ShcCKSAeFAcBsfi;Secret=/bzqn1uM+WTrdPUuRynkDJjdudAWocu1afJnfXwy1eM=","lastModified":"2020-07-03T00:37:25+00:00","readOnly":true},{"id":"S2bS-l0-s0:tilqZWI0jHAbI9/BvZvP","name":"Secondary
        Read Only","value":"7LWrPnDpxUTYkqy8gIyd8PHP39FJq8zdaC+hjV8+wNU=","connectionString":"Endpoint=https://namingconventiontestpxon.azconfig.io;Id=S2bS-l0-s0:tilqZWI0jHAbI9/BvZvP;Secret=7LWrPnDpxUTYkqy8gIyd8PHP39FJq8zdaC+hjV8+wNU=","lastModified":"2020-07-03T00:37:25+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Jul, 03 2020 00:37:44 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/Color?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"5rbK14pm2dtlDMAaS6HiqD1RlPi","key":"Color","label":"NamingConventionTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-07-03T00:37:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5rbK14pm2dtlDMAaS6HiqD1RlPi"'
      last-modified:
      - Fri, 03 Jul 2020 00:37:45 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDg4OSM3PS0x;sn=674889
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Jul, 03 2020 00:37:44 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/Region?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"E6sNTSPvTtA2PnvVSpimTkYzDAk","key":"Region","label":"NamingConventionTest","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-07-03T00:37:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"E6sNTSPvTtA2PnvVSpimTkYzDAk"'
      last-modified:
      - Fri, 03 Jul 2020 00:37:45 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDg5MCM3PS0x;sn=674890
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - smMe5jbDoK81kykMdQf+ABS9IQyP84wxhjeykK9Pqt4=
      x-ms-date:
      - Jul, 03 2020 00:37:44 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"agd8h344oCB22HrEfxUKxLqdUUa","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-03T00:37:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"agd8h344oCB22HrEfxUKxLqdUUa"'
      last-modified:
      - Fri, 03 Jul 2020 00:37:45 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDg5MSM3PS0x;sn=674891
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - WBgv2yHAQusEJjAEfNxX3Z+pzUptTv2n3pjwT9EM+UM=
      x-ms-date:
      - Jul, 03 2020 00:37:44 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"KhxYPhP8CXlwu5Fncq94gGO2z43","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": null, \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2020-07-03T00:37:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"KhxYPhP8CXlwu5Fncq94gGO2z43"'
      last-modified:
      - Fri, 03 Jul 2020 00:37:45 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDg5MiM3PS0x;sn=674892
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - U/vcuIdXDVYjNR0o/cDmtKc+G8Kri6T6CtIaHnMo9Kg=
      x-ms-date:
      - Jul, 03 2020 00:37:44 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/.appconfig.feature[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 03 2020 00:37:51 GMT
    method: GET
    uri: https://namingconventiontestpxon.azconfig.io/kv?key=*&label=NamingConventionTest&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"agd8h344oCB22HrEfxUKxLqdUUa","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-03T00:37:45+00:00"},{"etag":"KhxYPhP8CXlwu5Fncq94gGO2z43","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 03 2020 00:37:58 GMT
    method: GET
    uri: https://namingconventiontestpxon.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"agd8h344oCB22HrEfxUKxLqdUUa","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"appli[...]
[...]
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Jul, 03 2020 00:38:05 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/Color?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"DcDP5RoTsxWgRyxhIc92sImBsPD","key":"Color","label":"YamlTests","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DcDP5RoTsxWgRyxhIc92sImBsPD"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:06 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDg5NCM3PS0x;sn=674894
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Jul, 03 2020 00:38:06 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/Region?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"Tt6a6SuP9yijMQhqAOhBA7ahTnM","key":"Region","label":"YamlTests","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Tt6a6SuP9yijMQhqAOhBA7ahTnM"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:06 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDg5NSM3PS0x;sn=674895
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - smMe5jbDoK81kykMdQf+ABS9IQyP84wxhjeykK9Pqt4=
      x-ms-date:
      - Jul, 03 2020 00:38:06 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"i2QzPNy5CJe4zFzHnqqkOmJXLMh","key":".appconfig.featureflag/Beta","label":"YamlTests","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"i2QzPNy5CJe4zFzHnqqkOmJXLMh"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:06 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDg5NiM3PS0x;sn=674896
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 03 2020 00:38:13 GMT
    method: GET
    uri: https://namingconventiontestpxon.azconfig.io/kv?key=*&label=YamlTests&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"i2QzPNy5CJe4zFzHnqqkOmJXLMh","key":".appconfig.featureflag/Beta","label":"YamlTests","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=ut[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 03 2020 00:38:20 GMT
    method: GET
    uri: https://namingconventiontestpxon.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=YamlTests&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"i2QzPNy5CJe4zFzHnqqkOmJXLMh","key":".appconfig.featureflag/Beta","label":"YamlTests","content_type":"application/vnd.microsoft.a[...]
[...]
- request:
    body: '{"content_type": null, "value": "Filter1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - thloMp2IoMdEEDDP84Xorp7LJBUpUyxn/1w+3FaxO8Y=
      x-ms-date:
      - Jul, 03 2020 00:38:27 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B0%5D.Name?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"e4J9WCe0bWaiwm9mxK6f9JvkHi2","key":"feature-management.FeatureSample.enabled-for[0].Name","label":"PropertiesTests","content_type":null,"value":"Filter1","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"e4J9WCe0bWaiwm9mxK6f9JvkHi2"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:28 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDg5OCM3PS0x;sn=674898
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "value1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - XHZTz7bj2sN+js9kaXkxNxzXAE9PqPrhhRL4lxduQ4k=
      x-ms-date:
      - Jul, 03 2020 00:38:27 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B0%5D.Parameters.paramforfilter1?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"D6L2kF06oubkSwm7IQm95Jqlo6I","key":"feature-management.FeatureSample.enabled-for[0].Parameters.paramforfilter1","label":"PropertiesTests","content_type":null,"value":"value1","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"D6L2kF06oubkSwm7IQm95Jqlo6I"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:28 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDg5OSM3PS0x;sn=674899
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Jul, 03 2020 00:38:28 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B3%5D.Parameters.EmptyValue?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"hWFKgODDwCsSTubIJytSJCtqwiE","key":"feature-management.FeatureSample.enabled-for[3].Parameters.EmptyValue","label":"PropertiesTests","content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hWFKgODDwCsSTubIJytSJCtqwiE"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:28 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDkwMyM3PS0x;sn=674903
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "?", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - Ph9s4aLU1rox2qtepJd6AHIg9XZ+yjomjctvVgxzxi8=
      x-ms-date:
      - Jul, 03 2020 00:38:28 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B3%5D.Parameters.dotInFilter.Param?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"NhDpbXQ3WzbHdu5gCOl2t1nRk4b","key":"feature-management.FeatureSample.enabled-for[3].Parameters.dotInFilter.Param","label":"PropertiesTests","content_type":null,"value":"?","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NhDpbXQ3WzbHdu5gCOl2t1nRk4b"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:29 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDkwNCM3PS0x;sn=674904
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "true", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6l7DmqTZ3I62+ladIzga7Fe0h2+UWgHVhLUCVw24pWw=
      x-ms-date:
      - Jul, 03 2020 00:38:28 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/feature-management.TrueFeature?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"t4ULXnF14ophBMRIeoa5BH2agbl","key":"feature-management.TrueFeature","label":"PropertiesTests","content_type":null,"value":"true","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"t4ULXnF14ophBMRIeoa5BH2agbl"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:29 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDkwNSM3PS0x;sn=674905
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "false", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - xECQjJOeKbLwW2hxOfVTPS59sEo2oXRY7V8bgDqNkAE=
      x-ms-date:
      - Jul, 03 2020 00:38:28 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/feature-management.FalseFeature?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"GxcuFsDgObJ0kwEtJJa5pPHPeTf","key":"feature-management.FalseFeature","label":"PropertiesTests","content_type":null,"value":"false","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GxcuFsDgObJ0kwEtJJa5pPHPeTf"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:29 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDkwNiM3PS0x;sn=674906
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Jul, 03 2020 00:38:28 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/Color?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"9MmLtv5w9IME3gJiTFJXS3Wl9lL","key":"Color","label":"PropertiesTests","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9MmLtv5w9IME3gJiTFJXS3Wl9lL"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:29 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDkwNyM3PS0x;sn=674907
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Jul, 03 2020 00:38:28 GMT
    method: PUT
    uri: https://namingconventiontestpxon.azconfig.io/kv/Region?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"qDpOmfVdDKpCLsMQ8tiZSfkQiZo","key":"Region","label":"PropertiesTests","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-07-03T00:38:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qDpOmfVdDKpCLsMQ8tiZSfkQiZo"'
      last-modified:
      - Fri, 03 Jul 2020 00:38:29 GMT
      sync-token:
      - zAJw6V16=OTo0IzY3NDkwOCM3PS0x;sn=674908
    status:
      code: 200
      message: OK
[...]
