interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-12-12T18:59:57.7231975+00:00","endpoint":"https://KVTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9f092197-8563-26c3-e283-1bde24e747ce?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9f092197-8563-26c3-e283-1bde24e747ce?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9f092197-8563-26c3-e283-1bde24e747ce","name":"9f092197-8563-26c3-e283-1bde24e747ce","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9f092197-8563-26c3-e283-1bde24e747ce?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-12-12T18:59:59+00:00","endpoint":"https://kvtestyilr23st3i4dvlcwxs.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestyilr23st3i4dvlcwxs","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5d001b72-0000-0100-0000-5df28e2f0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"WoVw-l0-s0:WxAdtdE+c0jTVuO/B/BR","name":"Primary","value":"BJKoUxij2pVTxHv1cOr9Vvji/HFUBKVWw208G0gQ7SY=","connectionString":"Endpoint=https://kvtestyilr23st3i4dvlcwxs.azconfig.io;Id=WoVw-l0-s0:WxAdtdE+c0jTVuO/B/BR;Secret=BJKoUxij2pVTxHv1cOr9Vvji/HFUBKVWw208G0gQ7SY=","lastModified":"2019-12-12T18:59:58+00:00","readOnly":false},{"id":"zS/X-l0-s0:7L9Ae5udCvQ5LgLSoqmg","name":"Secondary","value":"if4YjawExQFRdHwn3F+vL1xCr6AVbmMrVhN8nqe8pzo=","connectionString":"Endpoint=https://kvtestyilr23st3i4dvlcwxs.azconfig.io;Id=zS/X-l0-s0:7L9Ae5udCvQ5LgLSoqmg;Secret=if4YjawExQFRdHwn3F+vL1xCr6AVbmMrVhN8nqe8pzo=","lastModified":"2019-12-12T18:59:58+00:00","readOnly":false},{"id":"FPUF-l0-s0:EymCuFg/dhK09pCRprL9","name":"Primary
        Read Only","value":"M8K6/qg0tS6zTo7vhajvi5p47ae8BhMPbNktuE3d7vw=","connectionString":"Endpoint=https://kvtestyilr23st3i4dvlcwxs.azconfig.io;Id=FPUF-l0-s0:EymCuFg/dhK09pCRprL9;Secret=M8K6/qg0tS6zTo7vhajvi5p47ae8BhMPbNktuE3d7vw=","lastModified":"2019-12-12T18:59:58+00:00","readOnly":true},{"id":"M0+7-l0-s0:63vANqr9TvmKi2Q06peJ","name":"Secondary
        Read Only","value":"p238C7o2OT/v8vydU9tb58y8XWC1DQviPuyXG/qi+3o=","connectionString":"Endpoint=https://kvtestyilr23st3i4dvlcwxs.azconfig.io;Id=M0+7-l0-s0:63vANqr9TvmKi2Q06peJ;Secret=p238C7o2OT/v8vydU9tb58y8XWC1DQviPuyXG/qi+3o=","lastModified":"2019-12-12T18:59:58+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:15 GMT
    method: GET
    uri: https://kvtestyilr23st3i4dvlcwxs.azconfig.io/kv/Color?label=v1.0.0&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - yZlwX3fgUtcVK+aqB5JbkB+YnuorZ8XpcuBG5xu2FHw=
      x-ms-date:
      - Dec, 12 2019 19:00:16 GMT
    method: PUT
    uri: https://kvtestyilr23st3i4dvlcwxs.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"1fqYZw3RXKm68TnAsETIoYJYHcQ","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1fqYZw3RXKm68TnAsETIoYJYHcQ"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:16 GMT
      sync-token:
      - zAJw6V16=NTotMSM4NDY3NzU=;sn=846775
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "text", "value": "Green", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"1fqYZw3RXKm68TnAsETIoYJYHcQ"'
      x-ms-content-sha256:
      - DsaPqt/ALwfjVRXkDKNPeRKKVC4wUGzvRH61CVrpT6o=
      x-ms-date:
      - Dec, 12 2019 19:00:22 GMT
    method: PUT
    uri: https://kvtestyilr23st3i4dvlcwxs.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"F49YST0n0zK9S86ocmretUXxtJX","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"F49YST0n0zK9S86ocmretUXxtJX"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:22 GMT
      sync-token:
      - zAJw6V16=NTotMSM4NDY3NzY=;sn=846776
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:23 GMT
    method: GET
    uri: https://kvtestyilr23st3i4dvlcwxs.azconfig.io/kv/Color?label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Green", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - WiZBXGG/De7UJCUWU2UUmKALtp5LjZS45s8U26H2gn4=
      x-ms-date:
      - Dec, 12 2019 19:00:24 GMT
    method: PUT
    uri: https://kvtestyilr23st3i4dvlcwxs.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: '{"etag":"FXlWuAJv1fRScs6e9JOUPKvfRwS","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FXlWuAJv1fRScs6e9JOUPKvfRwS"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:24 GMT
      sync-token:
      - zAJw6V16=NTotMSM4NDY3Nzc=;sn=846777
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:27 GMT
    method: GET
    uri: https://kvtestyilr23st3i4dvlcwxs.azconfig.io/kv?key=*&label=*&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"FXlWuAJv1fRScs6e9JOUPKvfRwS","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:24+00:00"},{"etag":"F49YST0n0zK9S86ocmretUXxtJX","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:22+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM4NDY3Nzc=;sn=846777
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:28 GMT
    method: GET
    uri: https://kvtestyilr23st3i4dvlcwxs.azconfig.io/revisions?key=Color&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"FXlWuAJv1fRScs6e9JOUPKvfRwS","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:24+00:00"},{"etag":"F49YST0n0zK9S86ocmretUXxtJX","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:22+00:00"},{"etag":"1fqYZw3RXKm68TnAsETIoYJYHcQ","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:16+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM4NDY3Nzc=;sn=846777
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:30 GMT
    method: GET
    uri: https://kvtestyilr23st3i4dvlcwxs.azconfig.io/kv?key=Color&label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"FXlWuAJv1fRScs6e9JOUPKvfRwS","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:24+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM4NDY3Nzc=;sn=846777
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Accept-Datetime:
      - '2019-12-12T19:00:24Z'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:36 GMT
    method: GET
    uri: https://kvtestyilr23st3i4dvlcwxs.azconfig.io/kv?key=Color&label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"FXlWuAJv1fRScs6e9JOUPKvfRwS","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:24+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      link:
      - </kv?key=Color&label=newlabel&fields=&api-version=1.0>; rel="original"
      memento-datetime:
      - Thu, 12 Dec 2019 19:00:24 GMT
      sync-token:
      - zAJw6V16=NTotMSM4NDY3Nzk=;sn=846779
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:37 GMT
    method: GET
    uri: https://kvtestyilr23st3i4dvlcwxs.azconfig.io/kv?key=Color&label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"B4bH7bG5yhS43kaJmxNJCPhl0r2","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:36+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSM4NDY3ODA=;sn=846780
    status:
      code: 200
      message: OK
version: 1
