interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true, "dataPlaneProxy": {}, "createMode": "Default", "softDeleteRetentionInDays":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapreflist000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-08-24T11:10:18.9770888+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapreflist000002",
        "name": "snapreflist000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.k362f2oOIrodZ4MLumJDPBxjqVF-aDWbLPeIZou0i8M?api-version=2025-08-01-preview&t=639231666190351279&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRaFw0yNzAyMDkwNjQwMTRaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2Nlcn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.k362f2oOIrodZ4MLumJDPBxjqVF-aDWbLPeIZou0i8M?api-version=2025-08-01-preview&t=639231666190351279&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapreflist000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-08-24T11:10:18+00:00", "endpoint": "https://snapreflist000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-08-24T11:10:18+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-08-24T11:10:18+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapreflist000002",
        "name": "snapreflist000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9501c1b6-0000-0100-0000-6a8c269b0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/Color?api-version=2026-04-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMjE=;sn=82071021
      x-ms-date:
      - Mon, 24 Aug 2026 11:10:58 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "value": "red", "content_type": ""}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTU6MTkjODIwNzEwMjE=
    method: PUT
    uri: https://snapreflist000002.azconfig.io/kv/Color?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"Dc13C1ix8a8-mCtxsQxkVYqJhqdjRol6GvlPqghw8GU","key":"Color","label":null,"content_type":"","value":"red","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:10:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Dc13C1ix8a8-mCtxsQxkVYqJhqdjRol6GvlPqghw8GU"'
      last-modified:
      - Mon, 24 Aug 2026 11:10:58 GMT
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMjI=;sn=82071022
      x-ms-date:
      - Mon, 24 Aug 2026 11:10:58 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/Size?api-version=2026-04-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMjI=;sn=82071022
      x-ms-date:
      - Mon, 24 Aug 2026 11:10:59 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"filters": [{"key": "*"}], "retention_period": 86400}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://snapreflist000002.azconfig.io/snapshots/production-config-v1?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"-m162eLAXUsY7grHxWBAjbP4PL0_rpstvbwj_QWJy6s","name":"production-config-v1","description":null,"status":"provisioning","filters":[{"key":"*","label":null,"tags":[]}],"composition_type":"key","created":"2026-08-24T11:11:01.1960332+00:00","size":0,"items_count":0,"tags":{},"retention_period":86400}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"-m162eLAXUsY7grHxWBAjbP4PL0_rpstvbwj_QWJy6s"'
      last-modified:
      - Mon, 24 Aug 2026 11:11:01 GMT
      link:
      - </kv?snapshot=production-config-v1&api-version=2026-04-01>; rel="items"
      operation-location:
      - https://snapreflist000002.azconfig.io/operations?snapshot=production-config-v1&api-version=2026-04-01
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMjQ=;sn=82071024
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:01 GMT
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTU6MTkjODIwNzEwMjQ=
    method: GET
    uri: https://snapreflist000002.azconfig.io/operations?api-version=2026-04-01&snapshot=production-config-v1
  response:
    body:
      string: '{"id": "s7aN403YDY86i5PqJccpaKUEn6Pmxf7Wa3QXrCbx2JA", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMjQ=;sn=82071024
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:01 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/ProductionConfigRef?api-version=2026-04-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMzU=;sn=82071035
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:14 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "ProductionConfigRef", "value": "{\"snapshot_name\": \"production-config-v1\"}",
      "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\";
      charset=utf-8"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTU6MTkjODIwNzEwMzU=
    method: PUT
    uri: https://snapreflist000002.azconfig.io/kv/ProductionConfigRef?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"3otEzAuQmmn1BZh4sUDQ1xZWi1JMZgkdqppfQAs1adA","key":"ProductionConfigRef","label":null,"content_type":"application/json;
        profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8","value":"{\"snapshot_name\":
        \"production-config-v1\"}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:11:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3otEzAuQmmn1BZh4sUDQ1xZWi1JMZgkdqppfQAs1adA"'
      last-modified:
      - Mon, 24 Aug 2026 11:11:14 GMT
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMzY=;sn=82071036
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:14 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=ProductionConfigRef&label=%2A
  response:
    body:
      string: '{"etag":"r8VincHsS1aLZ_t0jVcBU9YmeKlO6G8AZlndPpNmW3c","items":[{"etag":"3otEzAuQmmn1BZh4sUDQ1xZWi1JMZgkdqppfQAs1adA","key":"ProductionConfigRef","label":null,"content_type":"application/json;
        profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8","value":"{\"snapshot_name\":
        \"production-config-v1\"}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:11:14+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"r8VincHsS1aLZ_t0jVcBU9YmeKlO6G8AZlndPpNmW3c"'
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMzY=;sn=82071036
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:15 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTU6MTkjODIwNzEwMzY=
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2026-04-01&snapshot=production-config-v1
  response:
    body:
      string: '{"etag":"-HOCJKegvx5OAftgAepe1R6qAj7ONY2Ii-g1_QzlElo","items":[{"etag":"Dc13C1ix8a8-mCtxsQxkVYqJhqdjRol6GvlPqghw8GU","key":"Color","label":null,"content_type":"","value":"red","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:10:58+00:00"},{"etag":"cFxdjq3Ckw_EfIqwNRGQjwtvmcHMkLAgPt4Kp0rVJVo","key":"Size","label":null,"content_type":"","value":"large","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:11:00+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"-HOCJKegvx5OAftgAepe1R6qAj7ONY2Ii-g1_QzlElo"'
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMzY=;sn=82071036
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:17 GMT
      x-ms-item-count:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/Shape?api-version=2026-04-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMzY=;sn=82071036
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:17 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=%2A&label=%2A
  response:
    body:
      string: '{"etag":"H0srsL4c1-uDD8EHGI0YGahI0vvfQih-w742BJrgoLs","items":[{"etag":"Dc13C1ix8a8-mCtxsQxkVYqJhqdjRol6GvlPqghw8GU","key":"Color","label":null,"content_type":"","value":"red","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:10:58+00:00"},{"etag":"3otEzAuQmmn1BZh4sUDQ1xZWi1JMZgkd[...]
[...]
- request:
    body: '{"key": "Color", "value": "green", "content_type": "", "tags": {}, "locked":
      false, "etag": "Dc13C1ix8a8-mCtxsQxkVYqJhqdjRol6GvlPqghw8GU"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"Dc13C1ix8a8-mCtxsQxkVYqJhqdjRol6GvlPqghw8GU"'
      Sync-Token:
      - zAJw6V16=MTU6MTkjODIwNzEwMzc=
    method: PUT
    uri: https://snapreflist000002.azconfig.io/kv/Color?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"wUJ6U68EmpZDHtlHtJMDqrUX45tU4P_HYV-9Rqd1yKU","key":"Color","label":null,"content_type":"","value":"green","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:11:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wUJ6U68EmpZDHtlHtJMDqrUX45tU4P_HYV-9Rqd1yKU"'
      last-modified:
      - Mon, 24 Aug 2026 11:11:21 GMT
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMzg=;sn=82071038
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:21 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/ProductionConfigRefAlias?api-version=2026-04-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwMzk=;sn=82071039
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:23 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/Color?api-version=2026-04-01&label=staging
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDA=;sn=82071040
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:27 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"filters": [{"key": "Color", "label": "staging"}], "retention_period":
      86400}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://snapreflist000002.azconfig.io/snapshots/staging-override-v1?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"uHgFzwa3NK5mqq8vR6IO9Zg3-kihJS7sPg0HS75vIL0","name":"staging-override-v1","description":null,"status":"provisioning","filters":[{"key":"Color","label":"staging","tags":[]}],"composition_type":"key","created":"2026-08-24T11:11:28.8274272+00:00","size":0,"items_count":0,"tags":{},"retention_period":86400}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"uHgFzwa3NK5mqq8vR6IO9Zg3-kihJS7sPg0HS75vIL0"'
      last-modified:
      - Mon, 24 Aug 2026 11:11:28 GMT
      link:
      - </kv?snapshot=staging-override-v1&api-version=2026-04-01>; rel="items"
      operation-location:
      - https://snapreflist000002.azconfig.io/operations?snapshot=staging-override-v1&api-version=2026-04-01
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDI=;sn=82071042
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:28 GMT
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDI=
    method: GET
    uri: https://snapreflist000002.azconfig.io/operations?api-version=2026-04-01&snapshot=staging-override-v1
  response:
    body:
      string: '{"id": "Rs4X24xMIGDTIai430__q3So9xLKMw6J59MGDO66ik0", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDI=;sn=82071042
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:29 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/StagingOverrideRef?api-version=2026-04-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDM=;sn=82071043
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:52 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDQ=
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2026-04-01&snapshot=staging-override-v1
  response:
    body:
      string: '{"etag":"O1qFr2gF5e5KNjskSo1t6iPf2l_XXCgtZwWaSk25ctg","items":[{"etag":"96pvnxq3HDgIS6W4QlqkbFE2P-IgRfw_4gz-kSezCqo","key":"Color","label":"staging","content_type":"","value":"blue","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:11:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"O1qFr2gF5e5KNjskSo1t6iPf2l_XXCgtZwWaSk25ctg"'
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDQ=;sn=82071044
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:56 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv/ArchivedConfigRef?api-version=2026-04-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDQ=;sn=82071044
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:57 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDU=
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2026-04-01&snapshot=nonexistent-snapshot
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDU=;sn=82071045
      x-ms-date:
      - Mon, 24 Aug 2026 11:11:59 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDU=
    method: GET
    uri: https://snapreflist000002.azconfig.io/snapshots/nonexistent-snapshot?api-version=2026-04-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDU=;sn=82071045
      x-ms-date:
      - Mon, 24 Aug 2026 11:12:00 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDU=
    method: GET
    uri: https://snapreflist000002.azconfig.io/kv?%24select=&api-version=2026-04-01&snapshot=staging-override-v1
  response:
    body:
      string: '{"etag":"O1qFr2gF5e5KNjskSo1t6iPf2l_XXCgtZwWaSk25ctg","items":[{"etag":"96pvnxq3HDgIS6W4QlqkbFE2P-IgRfw_4gz-kSezCqo","key":"Color","label":"staging","content_type":"","value":"blue","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:11:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"O1qFr2gF5e5KNjskSo1t6iPf2l_XXCgtZwWaSk25ctg"'
      sync-token:
      - zAJw6V16=MTU6MTkjODIwNzEwNDU=;sn=82071045
      x-ms-date:
      - Mon, 24 Aug 2026 11:12:02 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
version: 1
