interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-07-17T17:29:13.910825+00:00","endpoint":"https://CredentialTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/081cc40a-a1a5-18e1-bd8f-1abdd6b81291?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/081cc40a-a1a5-18e1-bd8f-1abdd6b81291?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/081cc40a-a1a5-18e1-bd8f-1abdd6b81291","name":"081cc40a-a1a5-18e1-bd8f-1abdd6b81291","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/081cc40a-a1a5-18e1-bd8f-1abdd6b81291?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-07-17T17:29:15+00:00","endpoint":"https://credentialtestgqtpah6fj5.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtestgqtpah6fj5","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5800b791-0000-0100-0000-5d2f5aeb0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-07-08T20:34:55+00:00","endpoint":"https://bariscag_appconfig.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bariscagappconfig_rg/providers/Microsoft.AppConfiguration/configurationStores/bariscag_appconfig","name":"bariscag_appconfig","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prope[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"0-l0-s0:LFR/evZ8X3kbmNv74zML","name":"Primary","value":"Ykmxx5XXEVou7MY/8Odh2r59inGbAr8We2A7dHZhQN4=","connectionString":"Endpoint=https://credentialtestgqtpah6fj5.azconfig.io;Id=0-l0-s0:LFR/evZ8X3kbmNv74zML;Secret=Ykmxx5XXEVou7MY/8Odh2r59inGbAr8We2A7dHZhQN4=","lastModified":"2019-07-17T17:29:13+00:00","readOnly":false},{"id":"1-l0-s0:ZTtBGPqEFXMccV3q1+D6","name":"Secondary","value":"v4o7IaHD/J8jlYAA6IrTJtL4izHIM6H2wT1bNiUqE40=","connectionString":"Endpoint=https://credentialtestgqtpah6fj5.azconfig.io;Id=1-l0-s0:ZTtBGPqEFXMccV3q1+D6;Secret=v4o7IaHD/J8jlYAA6IrTJtL4izHIM6H2wT1bNiUqE40=","lastModified":"2019-07-17T17:29:13+00:00","readOnly":false},{"id":"2-l0-s0:MrTATv7JUcqUNE+ocQgz","name":"Primary
        Read Only","value":"/p7zR20Dn971mr7hl/8aJFXFQ7JltmAd2z3Ml+uk1bw=","connectionString":"Endpoint=https://credentialtestgqtpah6fj5.azconfig.io;Id=2-l0-s0:MrTATv7JUcqUNE+ocQgz;Secret=/p7zR20Dn971mr7hl/8aJFXFQ7JltmAd2z3Ml+uk1bw=","lastModified":"2019-07-17T17:29:13+00:00","readOnly":true},{"id":"3-l0-s0:rq1Cc5QATmGVjSD50jjF","name":"Secondary
        Read Only","value":"+WpLIp5t+LahpulUwdFg54pJTQzl1Ss++XLH2P41GFU=","connectionString":"Endpoint=https://credentialtestgqtpah6fj5.azconfig.io;Id=3-l0-s0:rq1Cc5QATmGVjSD50jjF;Secret=+WpLIp5t+LahpulUwdFg54pJTQzl1Ss++XLH2P41GFU=","lastModified":"2019-07-17T17:29:13+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "0-l0-s0:LFR/evZ8X3kbmNv74zML"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/RegenerateKey?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"0-l0-s0:LFR/evZ8X3kbmNv74zML","name":"Primary","value":"QYyitbyjHXUdK/TMBEYEYhe/YY+qu2q0JJ3OAA+D/IA=","connectionString":"Endpoint=https://credentialtestgqtpah6fj5.azconfig.io;Id=0-l0-s0:LFR/evZ8X3kbmNv74zML;Secret=QYyitbyjHXUdK/TMBEYEYhe/YY+qu2q0JJ3OAA+D/IA=","lastModified":"2019-07-17T17:29:28+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
