interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-05-15T01:05:24.5056809+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/670ac996-7318-af26-b418-51b13359199a?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/670ac996-7318-af26-b418-51b13359199a?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/670ac996-7318-af26-b418-51b13359199a","name":"670ac996-7318-af26-b418-51b13359199a","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/670ac996-7318-af26-b418-51b13359199a?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-05-15T01:05:26+00:00","endpoint":"https://sourcesuswtaixk7ph5zz4j5.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"shuawan@microsoft.com","createdByType":"User","createdAt":"2021-05-15T01:05:26+00:00","lastModifiedBy":"shuawan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-05-15T01:05:26+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcesuswtaixk7ph5zz4j5","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"54050a91-0000-0100-0000-609f1e550000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"1UH5-l0-s0:nm85ejPU0fouq70MyUXp","name":"Primary","value":"2cbCAm1fRAWTnQjuc8ZkVobQRgXrt66ndCB/KePR16A=","connectionString":"Endpoint=https://sourcesuswtaixk7ph5zz4j5.azconfig.io;Id=1UH5-l0-s0:nm85ejPU0fouq70MyUXp;Secret=2cbCAm1fRAWTnQjuc8ZkVobQRgXrt66ndCB/KePR16A=","lastModified":"2021-05-15T01:05:24+00:00","readOnly":false},{"id":"AHiM-l0-s0:FRwKRE7ylgqxRX/y8fOb","name":"Secondary","value":"nbwYgYffpnH1x7oCxr+YPGtIfJA35/YInD0/sguN2wI=","connectionString":"Endpoint=https://sourcesuswtaixk7ph5zz4j5.azconfig.io;Id=AHiM-l0-s0:FRwKRE7ylgqxRX/y8fOb;Secret=nbwYgYffpnH1x7oCxr+YPGtIfJA35/YInD0/sguN2wI=","lastModified":"2021-05-15T01:05:24+00:00","readOnly":false},{"id":"PbBn-l0-s0:jajlVlpWZX7wZLjsp0XD","name":"Primary
        Read Only","value":"M5HMAbvhffwMZ0hzEoc7eiOnXSyBW+mTAp39XJAjx0s=","connectionString":"Endpoint=https://sourcesuswtaixk7ph5zz4j5.azconfig.io;Id=PbBn-l0-s0:jajlVlpWZX7wZLjsp0XD;Secret=M5HMAbvhffwMZ0hzEoc7eiOnXSyBW+mTAp39XJAjx0s=","lastModified":"2021-05-15T01:05:24+00:00","readOnly":true},{"id":"X/66-l0-s0:74ugmueJYrYwgxxswN4F","name":"Secondary
        Read Only","value":"ZssJ6hWIATUc4qTikAHchme6BJZQa3hrSnN34umJJSg=","connectionString":"Endpoint=https://sourcesuswtaixk7ph5zz4j5.azconfig.io;Id=X/66-l0-s0:74ugmueJYrYwgxxswN4F;Secret=ZssJ6hWIATUc4qTikAHchme6BJZQa3hrSnN34umJJSg=","lastModified":"2021-05-15T01:05:24+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-05-15T01:05:58.8893068+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003","name":"Destination000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/d13f06e6-718a-39c1-6543-eb0de2b43a11?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"UpMg-l0-s0:zaVH0e5btKTLxdYW6dso","name":"Primary","value":"8LmFfXG/TIhVNz7Q184461lFKs7zL680yyQ4+v5lZI0=","connectionString":"Endpoint=https://destinationo[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:31 GMT
    method: GET
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - May, 15 2021 01:06:32 GMT
    method: PUT
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"jbNwDr6bAdYelhdegVd2rqfQfwG","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"jbNwDr6bAdYelhdegVd2rqfQfwG"'
      last-modified:
      - Sat, 15 May 2021 01:06:32 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTUw;sn=5522950
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - May, 15 2021 01:06:37 GMT
    method: PUT
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"eDDYRbiJD7JAqU3kIGSzpSyj546","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eDDYRbiJD7JAqU3kIGSzpSyj546"'
      last-modified:
      - Sat, 15 May 2021 01:06:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTYw;sn=5522960
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - May, 15 2021 01:06:37 GMT
    method: PUT
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"D83Smq4E0PLcnFebtCcDrElp4H2","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:38+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"D83Smq4E0PLcnFebtCcDrElp4H2"'
      last-modified:
      - Sat, 15 May 2021 01:06:38 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTYx;sn=5522961
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:39 GMT
    method: GET
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - d1lyg6a+9mnBVyP0ORwLzt/rsyGm0ESqcmS4R9loiVI=
      x-ms-date:
      - May, 15 2021 01:06:40 GMT
    method: PUT
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"SXcHUr0y91TnPmKWWMt8RqVOtoM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"SXcHUr0y91TnPmKWWMt8RqVOtoM"'
      last-modified:
      - Sat, 15 May 2021 01:06:40 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTY0;sn=5522964
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:40 GMT
    method: GET
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:40 GMT
    method: GET
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"SXcHUr0y91TnPmKWWMt8RqVOtoM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:40+00:00"},{"etag":"GS2VwKf4rss76wSHJ9QDtddMhOg","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+js[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM1NTIyOTY1
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:41 GMT
    method: GET
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"SXcHUr0y91TnPmKWWMt8RqVOtoM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:40+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTY1;sn=5522965
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/json", "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - BQQ1gp4Y1tNofWlDIrl2nQAUENI/IgK/dzCjjxGKUD8=
      x-ms-date:
      - May, 15 2021 01:06:41 GMT
    method: PUT
    uri: https://destinationov5oknrlxeibs.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: '{"etag":"bgFoptcSbagN3nvF8wx5nZzqdAH","key":"HostSecrets","label":null,"content_type":"application/json","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bgFoptcSbagN3nvF8wx5nZzqdAH"'
      last-modified:
      - Sat, 15 May 2021 01:06:42 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTY2;sn=5522966
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NTIyOTY2
      x-ms-content-sha256:
      - ssERcN/l30qL3zGxsEuQXd8SMRck/hPK9o4FH0rGF6Q=
      x-ms-date:
      - May, 15 2021 01:06:41 GMT
    method: PUT
    uri: https://destinationov5oknrlxeibs.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"AKaKXcv6FBIQKDoM3y84lPDFMgQ","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"AKaKXcv6FBIQKDoM3y84lPDFMgQ"'
      last-modified:
      - Sat, 15 May 2021 01:06:42 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTY3;sn=5522967
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NTIyOTgw
      x-ms-content-sha256:
      - d1lyg6a+9mnBVyP0ORwLzt/rsyGm0ESqcmS4R9loiVI=
      x-ms-date:
      - May, 15 2021 01:06:43 GMT
    method: PUT
    uri: https://destinationov5oknrlxeibs.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"c4Iba0JQcOZ0fQ2XiHPAnf8IOQg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"c4Iba0JQcOZ0fQ2XiHPAnf8IOQg"'
      last-modified:
      - Sat, 15 May 2021 01:06:43 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTgx;sn=5522981
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:43 GMT
    method: GET
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"SXcHUr0y91TnPmKWWMt8RqVOtoM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:40+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTgx;sn=5522981
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:44 GMT
    method: GET
    uri: https://destinationov5oknrlxeibs.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"c4Iba0JQcOZ0fQ2XiHPAnf8IOQg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"i[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:44 GMT
    method: GET
    uri: https://destinationov5oknrlxeibs.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"c4Iba0JQcOZ0fQ2XiHPAnf8IOQg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:43+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTgx;sn=5522981
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:44 GMT
    method: GET
    uri: https://destinationov5oknrlxeibs.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"c4Iba0JQcOZ0fQ2XiHPAnf8IOQg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
- request:
    body: null
    headers:
      If-Match:
      - '"c4Iba0JQcOZ0fQ2XiHPAnf8IOQg"'
      Sync-Token:
      - zAJw6V16=NDoxOSM1NTIyOTgx
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:45 GMT
    method: DELETE
    uri: https://destinationov5oknrlxeibs.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"c4Iba0JQcOZ0fQ2XiHPAnf8IOQg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"c4Iba0JQcOZ0fQ2XiHPAnf8IOQg"'
      last-modified:
      - Sat, 15 May 2021 01:06:43 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTgy;sn=5522982
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:06:50 GMT
    method: GET
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"SXcHUr0y91TnPmKWWMt8RqVOtoM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
[...]
- request:
    body: '{"key": "Array", "content_type": "application/json", "value": "[\"StringBoolValue\",
      \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - Zi8aaIF8dKSMjbUqEeK3OxywatmQee6zWX+zKd2w3/I=
      x-ms-date:
      - May, 15 2021 01:06:55 GMT
    method: PUT
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/Array?api-version=1.0
  response:
    body:
      string: '{"etag":"2CgmeE8Y1A8ckFY5khmkjFJIz8g","key":"Array","label":null,"content_type":"application/json","value":"[\"StringBoolValue\",
        \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2CgmeE8Y1A8ckFY5khmkjFJIz8g"'
      last-modified:
      - Sat, 15 May 2021 01:06:56 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIzMDQ2;sn=5523046
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyHybridList", "content_type": "application/json",
      "value": "[1000, true, \"AppConfig string value\", [\"NestedArray\", 12, false,
      null], {\"ObjectSetting\": {\"Logging\": {\"LogLevel\": \"Information\", \"Default\":
      \"Debug\"}}}]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NTIzMDQ2
      x-ms-content-sha256:
      - /VcnuUjWi67XSfj41owPM1TEqVKKosXnlVKtym7qLXE=
      x-ms-date:
      - May, 15 2021 01:06:55 GMT
    method: PUT
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/ComplexSettings%3AMyHybridList?api-version=1.0
  response:
    body:
      string: '{"etag":"QRrZRBEDn3jDM437PO83eXwNn32","key":"ComplexSettings:MyHybridList","label":null,"content_type":"application/json","value":"[1000,
        true, \"AppConfig string value\", [\"NestedArray\", 12, false, null], {\"ObjectSetting\":
        {\"Logging\": {\"LogLevel\": \"Information\", \"Default\": \"Debug\"}}}]","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"QRrZRBEDn3jDM437PO83eXwNn32"'
      last-modified:
      - Sat, 15 May 2021 01:06:56 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIzMDQ3;sn=5523047
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyListOfHybridLists", "content_type": "application/json",
      "value": "[[\"NestedArray4\", 34], [\"NestedArray5\", true, null], [\"NestedArray6\",
      {\"MyNullValue\": null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\":
      \"Value1\", \"Name2\": \"Value2\"}}}}]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NTIzMDQ3
      x-ms-content-sha256:
      - waQP+q+AwyPi/xF1iyJ1blSf1MV6qg+7yBm1kO8sEAY=
      x-ms-date:
      - May, 15 2021 01:06:55 GMT
    method: PUT
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/ComplexSettings%3AMyListOfHybridLists?api-version=1.0
  response:
    body:
      string: '{"etag":"ECsbKN0KEKBi1RwQ20moY0ETfH1","key":"ComplexSettings:MyListOfHybridLists","label":null,"content_type":"application/json","value":"[[\"NestedArray4\",
        34], [\"NestedArray5\", true, null], [\"NestedArray6\", {\"MyNullValue\":
        null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\": \"Value1\", \"Name2\":
        \"Value2\"}}}}]]","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ECsbKN0KEKBi1RwQ20moY0ETfH1"'
      last-modified:
      - Sat, 15 May 2021 01:06:56 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIzMDQ4;sn=5523048
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyListOfStringLists", "content_type": "application/json",
      "value": "[[\"NestedArray1\", \"12\", \"false\", \"null\"], [\"NestedArray2\",
      \"text\"], [\"NestedArray3\"]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NTIzMDQ4
      x-ms-content-sha256:
      - cvmvrPaYLaFjYcuyGuomGCj5ekm4uDDkc2emv4H1fLo=
      x-ms-date:
      - May, 15 2021 01:06:55 GMT
    method: PUT
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/ComplexSettings%3AMyListOfStringLists?api-version=1.0
  response:
    body:
      string: '{"etag":"oyFEY0KnOXiHHhWgELSiBKbeoLR","key":"ComplexSettings:MyListOfStringLists","label":null,"content_type":"application/json","value":"[[\"NestedArray1\",
        \"12\", \"false\", \"null\"], [\"NestedArray2\", \"text\"], [\"NestedArray3\"]]","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oyFEY0KnOXiHHhWgELSiBKbeoLR"'
      last-modified:
      - Sat, 15 May 2021 01:06:56 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIzMDQ5;sn=5523049
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyNestedObjects:Object1", "content_type": "application/json",
      "value": "\"Value1\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NTIzMDQ5
      x-ms-content-sha256:
      - MoNhzL0EuCe5z7az7o9146/s6kSVeyRONCLKrtAl+q0=
      x-ms-date:
      - May, 15 2021 01:06:55 GMT
    method: PUT
    uri: https://sourcesuswtaixk7ph5zz4j5.azconfig.io/kv/ComplexSettings%3AMyNestedObjects%3AObject1?api-version=1.0
  response:
    body:
      string: '{"etag":"ticu872U9oekfGq9wMmbiLwbEQ4","key":"ComplexSettings:MyNestedObjects:Object1","label":null,"content_type":"application/json","value":"\"Value1\"","tags":{},"locked":false,"last_modified":"2021-05-15T01:06:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ticu872U9oekfGq9wMmbiLwbEQ4"'
      last-modified:
[...]
