interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-10-09T20:52:21.7070276+00:00","endpoint":"https://FeatureFilterTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/8123b567-503a-45be-2064-f98549267d7f?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/8123b567-503a-45be-2064-f98549267d7f?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/8123b567-503a-45be-2064-f98549267d7f","name":"8123b567-503a-45be-2064-f98549267d7f","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/8123b567-503a-45be-2064-f98549267d7f?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-10-09T20:52:23+00:00","endpoint":"https://featurefiltertestonpfysp.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertestonpfysp","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5600e703-0000-0100-0000-5d9e48860000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"AV2L-l0-s0:MAOJDzSrUwV+aaC3n9i2","name":"Primary","value":"HQMKOzH8lDaAbWNr2f1VETRPA5iAXNUQecyCjG3LMvQ=","connectionString":"Endpoint=https://featurefiltertestonpfysp.azconfig.io;Id=AV2L-l0-s0:MAOJDzSrUwV+aaC3n9i2;Secret=HQMKOzH8lDaAbWNr2f1VETRPA5iAXNUQecyCjG3LMvQ=","lastModified":"2019-10-09T20:52:21+00:00","readOnly":false},{"id":"6z76-l0-s0:DIUooYbZTPN54Rt6XOav","name":"Secondary","value":"6I7NP0M8yYz9PmpZs5dfDvX08asNSMwdS2i8ChZRlrc=","connectionString":"Endpoint=https://featurefiltertestonpfysp.azconfig.io;Id=6z76-l0-s0:DIUooYbZTPN54Rt6XOav;Secret=6I7NP0M8yYz9PmpZs5dfDvX08asNSMwdS2i8ChZRlrc=","lastModified":"2019-10-09T20:52:21+00:00","readOnly":false},{"id":"MmoV-l0-s0:uuqonce15l+MYO33RZ5g","name":"Primary
        Read Only","value":"LQ1JtqeRaywFfMZn2aWdAJFB6VzJHixrqkA1EpI5W7I=","connectionString":"Endpoint=https://featurefiltertestonpfysp.azconfig.io;Id=MmoV-l0-s0:uuqonce15l+MYO33RZ5g;Secret=LQ1JtqeRaywFfMZn2aWdAJFB6VzJHixrqkA1EpI5W7I=","lastModified":"2019-10-09T20:52:21+00:00","readOnly":true},{"id":"OZCq-l0-s0:p5JXc+hSDOgl6rMUsj8l","name":"Secondary
        Read Only","value":"l9WYQ/Bt7kzjqId9KrpBZkRPb756Yh2T0syNB+025kw=","connectionString":"Endpoint=https://featurefiltertestonpfysp.azconfig.io;Id=OZCq-l0-s0:p5JXc+hSDOgl6rMUsj8l;Secret=l9WYQ/Bt7kzjqId9KrpBZkRPb756Yh2T0syNB+025kw=","lastModified":"2019-10-09T20:52:21+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 09 2019 20:52:34 GMT
    method: GET
    uri: https://featurefiltertestonpfysp.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - rmaEbXCnxZg/Y916PgS5BygdBObCH7K8idm75ZURhf0=
      x-ms-date:
      - Oct, 09 2019 20:52:35 GMT
    method: PUT
    uri: https://featurefiltertestonpfysp.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"etag":"hrMYm2oH7UW4UM3lLfFo5RVxVFK","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-09T20:52:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hrMYm2oH7UW4UM3lLfFo5RVxVFK"'
      last-modified:
      - Wed, 09 Oct 2019 20:52:35 GMT
      sync-token:
      - zAJw6V16=NTotMSM2MDQ1MjY=;sn=604526
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\",
      \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"hrMYm2oH7UW4UM3lLfFo5RVxVFK"'
      x-ms-content-sha256:
      - ebSeH8Qnmf23k8iA5hEN6YDsTipxsrlwgc1rUwxMC2M=
      x-ms-date:
      - Oct, 09 2019 20:52:37 GMT
    method: PUT
    uri: https://featurefiltertestonpfysp.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"etag":"m7K6NRLeXX2WQ7TJcyLfFdOmxmp","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\", \"parameters\":
        {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\", \"Name3\":
        \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}","tags":{},"locked":false,"last_modified":"2019-10-09T20:52:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"m7K6NRLeXX2WQ7TJcyLfFdOmxmp"'
      last-modified:
      - Wed, 09 Oct 2019 20:52:37 GMT
      sync-token:
      - zAJw6V16=NTotMSM2MDQ1Mjc=;sn=604527
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"label\":
      \"Standard\", \"conditions\": {\"client_filters\": [{\"name\": \"FirstFilter\",
      \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}, {\"name\": \"SecondFilter\",
      \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\", \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\":
      \"ParamNameIsJsonString\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"m7K6NRLeXX2WQ7TJcyLfFdOmxmp"'
      x-ms-content-sha256:
      - 9sSresrIM9UAcxs7Qb1EwlAJD7klmRr8DjilVYbVW5Q=
      x-ms-date:
      - Oct, 09 2019 20:52:43 GMT
    method: PUT
    uri: https://featurefiltertestonpfysp.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard
  response:
    body:
      string: '{"et[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 09 2019 20:53:12 GMT
    method: GET
    uri: https://featurefiltertestonpfysp.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=
  response:
    body:
      string: '{"etag":"WToMMzPMxxMCwKHgqLiUwUoSQcR","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": true, \"label\": \"Standard\",
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-09T20:53:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WToMMzPMxxMCwKHgqLiUwUoSQcR"'
      last-modified:
      - Wed, 09 Oct 2019 20:53:10 GMT
      sync-token:
      - zAJw6V16=NTotMSM2MDQ1MzI=;sn=604532
    status:
      code: 200
      message: OK
version: 1
