interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-03-04T23:07:19.8970665+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9f5c7744-332a-432d-a1d6-9874e035481c?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9f5c7744-332a-432d-a1d6-9874e035481c?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9f5c7744-332a-432d-a1d6-9874e035481c","name":"9f5c7744-332a-432d-a1d6-9874e035481c","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9f5c7744-332a-432d-a1d6-9874e035481c?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-03-04T23:07:20+00:00","endpoint":"https://featurefiltertest6jyladc.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-04T23:07:20+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-04T23:07:21+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertest6jyladc","name":"FeatureFilterTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8500f469-0000-0100-0000-62229ba80000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview&%24skiptoken=3ZjRjtowFET%2FJar6VBOSLUVFWlUuuGpaGlBChLRvjnMBw%2BJYtkNoV%2FvvtQPapp%2FgPEZRIh3N3LljvwQCrmbJxUkHs5dgS%2FLNnKSbDC%2BLPJgFB2OknoXhmQq6hzMIM6J%2FGgUjVp9D3ZSaKS4Nr4UOp9NqQsvxJzSFqkIfARgqGXxGk5hFUTmdlOXDNJSqvvAKlA5%2FcaZqXe%2FMCEs5r8WO7xtF3a9C1n%2FKTa1Af6GSo4v9zr5%2FjMdxhKIxGkdIKrhwaN%2B%2F0ycuN%2FUJxKMGdeEMkKF71LJGBx%2BCARHdgJxMvupzba6NAW20E9aKQ7DfLOgiwCDojOZ0IUW2WhNPZ%2BfQUN5CY2XJV8Xmu9MG5wn2lKaXBBqohcJF7qItwQ7MfyigTql0lVmlfHZdTyfxz3zDSG23hrRNbfR%2F3sWeus8FhAu72BrvtoU8JWktQydJy82hbox8tkRfM%2FyULLvo81Sf3iiVqus%2BOMULfJ8l%2F6EYZVanO06SLoawmxgXlsnvXfvW6FwwfMtwOieD8dxOOc%2F9wGucDqM3HKUr3j9XGRlOMJw6kbouNIzi0B1gxe28l2%2BTzRPJljhddIR%2B5viR%2F26QFi4q3Dwlqy6%2FXYvwk0fbMtRSwUXF6R3qVokePOXh6I7R60H%2BJt7xmQtq746QLUIu7%2FItWRC7l7rbLT8VekPSba8GFTkp8NpPIslvpkORVch5rchjf2nc3RalVfD6%2Bhc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 386545ec-8cdb-4a63-9940-f8b247c73907
      - 39f7ee4e-b8d7-45e2-917f-ec1cc000d931
      - e7fccbc4-fdb2-43a6-a17d-d8b545b7ba33
      - 26259045-c1a8-42ec-8bea-3220a39eeebf
      - d14ca472-3de5-4049-8e70-478f1c1a2c4e
      - ab0acad2-c752-4f7d-b6f8-d29e41e3c1d2
      - b70d14cf-ec78-4217-a3b0-74aaf965f62e
      - bf5f0349-e833-40f6-9d56-d14d03344248
      - dc66a393-265b-4d01-bdd1-1b8c5d59e9c5
      - a78de03a-378d-48e9-bd22-9bc2a267f3e4
      - 29cf0034-5fbb-4e5e-b2cf-4c782cad1729
      - d4ed9056-3972-4f5a-aeaa-65f3db398d7a
      - 94f72815-44f7-4f44-98b0-92e9e6c5cde9
      - 1c91323c-1761-482a-adad-5117bb19cb3c
      - dc818083-3ce6-44db-b095-dfd9786cfa2e
      - 6385e447-7d5c-49f9-a2e5-9f0eddf06cac
      - 6d633133-85e6-47ca-9e5c-34df68309502
      - d3590747-873c-4ac2-bb97-dda52c0adbc6
      - f3d6c08f-b619-481e-8f77-16e6953a9b7e
      - aca82ec3-515e-4e92-b24b-e9ab2e46b154
      - f01f75aa-2688-4490-8978-a94adab0a803
      - ebdb6957-24d3-46f6-b8b1-25663cbee3d6
      - 7bcc6634-44f6-4701-8164-c17a447b4b80
      - e2039df9-8568-4b38-9c09-cb572fc1974f
      - cc04ad58-81d2-4c22-a839-98cffe7dcd97
      - 93d20f62-a890-41e5-9676-51ff4e6944e6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"9qZ0-l0-s0:m326tSHbah/iZ8cfn2yj","name":"Primary","value":"B8KhkXsAoxgditSUW+fCHTljrqL6s76/AUASzbJU+nM=","connectionString":"Endpoint=https://featurefiltertest6jyladc.azconfig.io;Id=9qZ0-l0-s0:m326tSHbah/iZ8cfn2yj;Secret=B8KhkXsAoxgditSUW+fCHTljrqL6s76/AUASzbJU+nM=","lastModified":"2022-03-04T23:07:19+00:00","readOnly":false},{"id":"PNDR-l0-s0:/6RRo/3oE2kw9NRMiDrC","name":"Secondary","value":"OaE1pyg9WRs8jIzUJPV1XetHFRUE5g3DWhKh+ONrPyk=","connectionString":"Endpoint=https://featurefiltertest6jyladc.azconfig.io;Id=PNDR-l0-s0:/6RRo/3oE2kw9NRMiDrC;Secret=OaE1pyg9WRs8jIzUJPV1XetHFRUE5g3DWhKh+ONrPyk=","lastModified":"2022-03-04T23:07:19+00:00","readOnly":false},{"id":"7zhD-l0-s0:uoPngiWdbGq7VRuvayJZ","name":"Primary
        Read Only","value":"qu4roxDQMkcIqomGYjtLvBB1f3fDcx2xfJSOWx5o3uQ=","connectionString":"Endpoint=https://featurefiltertest6jyladc.azconfig.io;Id=7zhD-l0-s0:uoPngiWdbGq7VRuvayJZ;Secret=qu4roxDQMkcIqomGYjtLvBB1f3fDcx2xfJSOWx5o3uQ=","lastModified":"2022-03-04T23:07:19+00:00","readOnly":true},{"id":"NtQC-l0-s0:9RadoxU8d06r8ZVH4Xo+","name":"Secondary
        Read Only","value":"qfbfQokIZonqs3DKCfgHPOUBX2yqpPM3O6IZNXBwlbE=","connectionString":"Endpoint=https://featurefiltertest6jyladc.azconfig.io;Id=NtQC-l0-s0:9RadoxU8d06r8ZVH4Xo+;Secret=qfbfQokIZonqs3DKCfgHPOUBX2yqpPM3O6IZNXBwlbE=","lastModified":"2022-03-04T23:07:19+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 04 2022 23:07:33 GMT
    method: GET
    uri: https://featurefiltertest6jyladc.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 9/HUy3oLuI5NMYqluvZVhx9uupGiADRubS+4HiFhVTE=
      x-ms-date:
      - Mar, 04 2022 23:07:33 GMT
    method: PUT
    uri: https://featurefiltertest6jyladc.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"HniWuHj5a7GaUZddT7oU1nQmsgw","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-04T23:07:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HniWuHj5a7GaUZddT7oU1nQmsgw"'
      last-modified:
      - Fri, 04 Mar 2022 23:07:34 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc4MjYxNQ==;sn=10782615
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"HniWuHj5a7GaUZddT7oU1nQmsgw"'
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc4MjYxNQ==
      x-ms-content-sha256:
      - b2kyK+oH9Z9GGQToYf9CE/YXeF8NbL2YLAwwYzVYjP0=
      x-ms-date:
      - Mar, 04 2022 23:07:36 GMT
    method: PUT
    uri: https://featurefiltertest6jyladc.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"5SxDA0zW3TUTF6ENfGbAQr4Yh5w","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
        \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}","tags":{},"locked":false,"last_modified":"2022-03-04T23:07:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5SxDA0zW3TUTF6ENfGbAQr4Yh5w"'
      last-modified:
      - Fri, 04 Mar 2022 23:07:36 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc4MjYxNg==;sn=10782616
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}, {\"name\":
      \"SecondFilter\", \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\",
      \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\": \"ParamNameIsJsonString\"}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"5SxDA0zW3TUTF6ENfGbAQr4Yh5w"'
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc4MjYxNg==
      x-ms-content-sha256:
      - yReqWOYOGsHQtpV8hT7X5uEkw1LA0u4zzUXo81j3IeY=
      x-ms-date:
      - Mar, 04 2022 23:07:39 GMT
    method: PUT
    uri: https://featurefiltertest6jyladc.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standar[...]
[...]
