interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-06-08T23:50:27.9160126+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002","name":"KVRevisionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/vgBYMNWNE4zl4qKd-aJwSPBBCnNAzj7Jr6feVUjAGaI?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/vgBYMNWNE4zl4qKd-aJwSPBBCnNAzj7Jr6feVUjAGaI?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/vgBYMNWNE4zl4qKd-aJwSPBBCnNAzj7Jr6feVUjAGaI","name":"vgBYMNWNE4zl4qKd-aJwSPBBCnNAzj7Jr6feVUjAGaI","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/vgBYMNWNE4zl4qKd-aJwSPBBCnNAzj7Jr6feVUjAGaI?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-06-08T23:50:28+00:00","endpoint":"https://kvrevisiontest2kclr22bhr.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-06-08T23:50:28+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-08T23:50:29+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvrevisiontest2kclr22bhr","name":"KVRevisionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9d007933-0000-0100-0000-62a135c50000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtaSaQjqEhVZUHqZaOBZQQIfXNcQyYP45lO4S26nefbRhLP8LdYxQlytHv3HOP8xYIdjYzLvY6GL8FqzhfTuJ0meFZkQfjYGuM1OMwPBJBNuzIhOmR10axHq2PoW5KTRWXhtdCh6NRNSRl%2FxsasapCXxmjqKTsOxpGdDAoR8OyvBuFUtUnXjGlw9%2BcqlrXa9PDUk5qseabRhH3qpB2r3JTK6YfiOToZJ%2Bz9%2B%2BjfhSh%2FhD1B58%2F6T2Xy3rPxL1m6sQpQ4ZsUEsbHXwJ%2FgMlFyEOCzQe5%2BbcGKaNdgAtjBjD1IBOghnEvKEch7jI5osY2GxsG8Jb1lgM%2BbxY%2FnQscJ5gYCo6E64ZsWJwkbuoSrATBFcMI45MOs8sGYju6nAR%2F0wGO33dGtE2fdHH%2FIqAucwNvguvyBrsskWAKWjtt3sELTfbujHyYJX8yPBzMvNRBoxHZ1RK5TsKTvEUX2cFrhhKqOVylZGkU8i7hXJhtcDckbfG5Qb%2BMcPpJAbvrbVy3nrCC5zC3vM76Yrwr3kWwx%2F4vYfiOwvsRe8PjOJyzspXyfI5zmY4nXplsPJ4x18apIWLAGszvx3xY5ZMMEQtBy6IPfgjpwa9EpfIT8ncbxbXY2CR0baGtURwUXFyxXMpY3ewdEilidgcONLkKA8MDSyVTheDl867vzazZcxlc76Kp7Hdmf4PGCw2Nym67VSxIo8LvICl5OYyxeTBB4Al47xV5BE8Ne4%2FGCFV8P7%2BBw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - d286bf60-d07d-4d7f-869f-1e4c25cb6e21
      - 84e914f9-a88f-4c2f-b029-55690fae9066
      - 6c5c9fc9-cbef-4954-a5ac-972678b4701c
      - 177e770c-c372-44e2-8c07-1ecb985ff0f4
      - 31298cb4-5e44-40c9-96c8-4651700ef029
      - 87770873-d6e1-4f13-85d7-0d4683d77b94
      - 85eb8cd8-d90e-416d-b255-53c6f39981c5
      - 81e375cc-785f-4f80-be09-60b241dca965
      - f4ebc796-29a7-4909-beb4-d5765e4b4196
      - d152feaa-d762-4fce-8180-68a1df58c675
      - ee5447cd-27b5-4c43-b431-57cdd6c98683
      - cf3bcf26-c74e-4143-b1e6-a14af2435832
      - 0bba733a-538f-4c8c-9d62-7084df4da3cf
      - fe47e9a6-114c-4148-9bb8-9bdf6e670bdf
      - 8359a99b-9299-495c-900a-ae1ffc65d77e
      - 685b5ba8-bc1b-49ab-bcd3-98ee8e7408d9
      - 6212f013-24ff-4afd-8ea6-0b2a745af162
      - 05042ab0-491d-4f45-8cfb-b6ca007be01a
      - 425e5500-56b4-474a-8a64-d0ee72caa862
      - 917e9dcf-3080-4bb0-9196-9fe7320ce6f5
      - c70c8b33-ab12-474a-a211-c439e48f9662
      - 87f70e49-3b1c-4e1c-95a4-4bb0cdf8497f
      - 59adb186-a2ec-482d-a7cc-0e1894c79558
      - c9094987-4bd4-4f86-81ec-235f13bcfb4b
      - ca77ab53-f7bb-4dcf-929a-ed0ae912edd9
      - fe0dd94f-eeae-4eb4-b652-79629737d647
      - d801ed7f-4588-408b-85e7-9482175040dd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"kvUi-l0-s0:3xzjroPo79BwyCn0DoMt","name":"Primary","value":"0w76NAdnx/segnma8kzJYxdR00BtDpF7clm4jmn7wLE=","connectionString":"Endpoint=https://kvrevisiontest2kclr22bhr.azconfig.io;Id=kvUi-l0-s0:3xzjroPo79BwyCn0DoMt;Secret=0w76NAdnx/segnma8kzJYxdR00BtDpF7clm4jmn7wLE=","lastModified":"2022-06-08T23:50:27+00:00","readOnly":false},{"id":"rb+U-l0-s0:NjQfRak2dJctWfBTu5cb","name":"Secondary","value":"07oIovwsmg0ZNuOxoGqZZnRYIEdmoaPl1EFsvqTUQ48=","connectionString":"Endpoint=https://kvrevisiontest2kclr22bhr.azconfig.io;Id=rb+U-l0-s0:NjQfRak2dJctWfBTu5cb;Secret=07oIovwsmg0ZNuOxoGqZZnRYIEdmoaPl1EFsvqTUQ48=","lastModified":"2022-06-08T23:50:27+00:00","readOnly":false},{"id":"T/lH-l0-s0:goqz8pB1M309o7HRxkxv","name":"Primary
        Read Only","value":"VNCk491EzfVJONUFywkIyYPzEq0SVF62oDYLa+RS5ts=","connectionString":"Endpoint=https://kvrevisiontest2kclr22bhr.azconfig.io;Id=T/lH-l0-s0:goqz8pB1M309o7HRxkxv;Secret=VNCk491EzfVJONUFywkIyYPzEq0SVF62oDYLa+RS5ts=","lastModified":"2022-06-08T23:50:27+00:00","readOnly":true},{"id":"t704-l0-s0:o/MAJ3Ob0Z4PGXkrdctE","name":"Secondary
        Read Only","value":"C548680mu7W2vAeqXcGmLK8f4s/H2RAWvoWkGbdyQYI=","connectionString":"Endpoint=https://kvrevisiontest2kclr22bhr.azconfig.io;Id=t704-l0-s0:o/MAJ3Ob0Z4PGXkrdctE;Secret=C548680mu7W2vAeqXcGmLK8f4s/H2RAWvoWkGbdyQYI=","lastModified":"2022-06-08T23:50:27+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 08 2022 23:50:43 GMT
    method: GET
    uri: https://kvrevisiontest2kclr22bhr.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Jun, 08 2022 23:50:43 GMT
    method: PUT
    uri: https://kvrevisiontest2kclr22bhr.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"4YHr3a9PX1SqqcLzRq1pCv2DcqZ","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2022-06-08T23:50:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"4YHr3a9PX1SqqcLzRq1pCv2DcqZ"'
      last-modified:
      - Wed, 08 Jun 2022 23:50:44 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDIwOTA0OQ==;sn=14209049
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"4YHr3a9PX1SqqcLzRq1pCv2DcqZ"'
      Sync-Token:
      - zAJw6V16=NDoxOSMxNDIwOTA1MA==
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Jun, 08 2022 23:50:45 GMT
    method: PUT
    uri: https://kvrevisiontest2kclr22bhr.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"5djzSWljjsmeTYm4EjRImBVKcZN","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2022-06-08T23:50:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5djzSWljjsmeTYm4EjRImBVKcZN"'
      last-modified:
      - Wed, 08 Jun 2022 23:50:46 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDIwOTA1MQ==;sn=14209051
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 08 2022 23:50:48 GMT
    method: GET
    uri: https://kvrevisiontest2kclr22bhr.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 08 2022 23:50:51 GMT
    method: GET
    uri: https://kvrevisiontest2kclr22bhr.azconfig.io/revisions?key=Color&label=%2A&api-version=1.0&$Select=content_type,etag,label,last_modified,value
  response:
    body:
      string: '{"items":[{"etag":"2hsYJU2c7ZHhX8EzTwbAS5cm502","label":"newlabel","content_type":"text","value":"Green","last_modified":"2022-06-08T23:50:49+00:00"},{"etag":"5djzSWljjsmeTYm4EjRImBVKcZN","label":"v1.0.0","content_type":"text","value":"Green","last_modified":"2022-06-08T23:50:46+00:00"},{"etag":"4YHr3a9PX1SqqcLzRq1pCv2DcqZ","label":"v1.0.0","content_type":"","value":"","last_modified":"2022-06-08T23:50:44+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMxNDIwOTA1NQ==;sn=14209055
    status:
      code: 200
      message: OK
version: 1
