interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-09-30T18:45:04.3830569+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/hiYM3ipJs8HFCIy2Wv7vxru1zT17nmgZixpKHrII2OI?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/hiYM3ipJs8HFCIy2Wv7vxru1zT17nmgZixpKHrII2OI?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/hiYM3ipJs8HFCIy2Wv7vxru1zT17nmgZixpKHrII2OI","name":"hiYM3ipJs8HFCIy2Wv7vxru1zT17nmgZixpKHrII2OI","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/hiYM3ipJs8HFCIy2Wv7vxru1zT17nmgZixpKHrII2OI?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-09-30T18:45:04+00:00","endpoint":"https://sourcetsapr4j2ctwv4tjzre.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2022-09-30T18:45:04+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-09-30T18:45:05+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcetsapr4j2ctwv4tjzre","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2f0016f0-0000-0100-0000-633739310000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3ZjdTtswFMffJZp2hUlb6KohoclrgxZWUpa0qsad45wG09bJbIcwEO%2B%2BY8Oge4Szy6hKlZ%2F%2BH%2BfYT5GGBzdXemujs6donRTLaZItcz5fFdFZdOtca8%2FieC%2B0qGEP2h2Lx87AsWz2se1KK41qnWq0jSeTaizKwSc2gapipwCSlRI%2Bs%2FFIDoflZFyWJ5O4Nc29qsDY%2BEpJ09hm4455204bvVF1Z4T%2Fq1gePhWuMWC%2FiFaxe3w[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLTsMwFET%2FxUKscJwYXKuRKhRV7OiGlA%2Fw49Z109jG14lKq%2F47gRXL0Zw50txIgEt592FA0t7IW9fvP3vSkmMpCVvGRhWUgxFCqdR1ylCZODKcNJrsU%2FExIJPSCqXrFZVgLX0BMFQbWFPBTdNoKbR%2BlizlOHsLGdnOmxwxHkrVpbSN4eDdlNWvipn%2FqS8xA76q5Om87JZ%2Bw2vOaS1o3Tw%2B4ODTPg4QNsNcAMvZnb7weI3cWSVO8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLasMwFET%2FRZSuIst2qpgaQjGhu2ZTpx%2Bgx42iGD24ktzgkH%2Bv21WXw5w5MHfi4ZY%2FrJ8S6e%2FkfRhPXyPpySXnmHrGnPDCgAOfK7EUhEoFx1KRSaGN2QafWNdpLmS9ox1oTV8AFJUKXilvVdPIjku57VjEMFsNmNjRKgwpnHM1xHgI%2FmxNQfGrYup%2FGnNASG8iWjqvu7Xft3Xb0prTunl%2BSpONpzCB36dQUMG8BeX4Iq%2FFX7%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLasMwFET%2FRYSuKst26ooYQjGlu2YTpx%2Bgx40qjCVxr2RMQv69blddDnPmwNxZgDV%2F%2BjAR6%2B%2FsYxgvXyPr2XfOiXohZhWUgxlCrtStIFQmzoKKJoM%2BZR8DCSltp3T9yiVYy18ADNcGDrxrTdNo2Wm9lyJhXLwFJHHyBiPFa66GlN5juHpXUP2qhPmfxhwR6E0lz5dtt%2FXHtm5bXne8bp52NPl0iROE41rWwpcAmUMh9nhmCufBOQSnMtg%2FZjs0nE%2Fs8QM%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 69bf32d2-cb44-4c1a-a223-7ed5bc7c434b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"0chi-l0-s0:dt0blH8qPpwHeen0xR+L","name":"Primary","value":"liMRXc8PLgDxGQdE3ENUe/k6zUMg8PczIEKEPrt4JHA=","connectionString":"Endpoint=https://sourcetsapr4j2ctwv4tjzre.azconfig.io;Id=0chi-l0-s0:dt0blH8qPpwHeen0xR+L;Secret=liMRXc8PLgDxGQdE3ENUe/k6zUMg8PczIEKEPrt4JHA=","lastModified":"2022-09-30T18:45:04+00:00","readOnly":false},{"id":"5I57-l0-s0:tgtygy6qs4Wu4I4Kc/sp","name":"Secondary","value":"qQmEG5ydDbtWGUfQm2imhT8OVh03RM0og7ZE1Y+n6J0=","connectionString":"Endpoint=https://sourcetsapr4j2ctwv4tjzre.azconfig.io;Id=5I57-l0-s0:tgtygy6qs4Wu4I4Kc/sp;Secret=qQmEG5ydDbtWGUfQm2imhT8OVh03RM0og7ZE1Y+n6J0=","lastModified":"2022-09-30T18:45:04+00:00","readOnly":false},{"id":"ACUM-l0-s0:QwT4/3RtYujTYOd0vlTM","name":"Primary
        Read Only","value":"iZq0Ph2emM/j7P2E9DFVTQtgPrvuqeCMjPVzd7kLB2c=","connectionString":"Endpoint=https://sourcetsapr4j2ctwv4tjzre.azconfig.io;Id=ACUM-l0-s0:QwT4/3RtYujTYOd0vlTM;Secret=iZq0Ph2emM/j7P2E9DFVTQtgPrvuqeCMjPVzd7kLB2c=","lastModified":"2022-09-30T18:45:04+00:00","readOnly":true},{"id":"f40c-l0-s0:DrV4h7wZv2BH/krOTRVw","name":"Secondary
        Read Only","value":"CwA8FizaQncBwTOm86DVQwcruK3eKAAGvF837xfrTp0=","connectionString":"Endpoint=https://sourcetsapr4j2ctwv4tjzre.azconfig.io;Id=f40c-l0-s0:DrV4h7wZv2BH/krOTRVw;Secret=CwA8FizaQncBwTOm86DVQwcruK3eKAAGvF837xfrTp0=","lastModified":"2022-09-30T18:45:04+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/FQv11Uwfp91G7_LArLXB9odg-1EPwgm00P731ryLibY?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/FQv11Uwfp91G7_LArLXB9odg-1EPwgm00P731ryLibY","name":"FQv11Uwfp91G7_LArLXB9odg-1EPwgm00P731ryLibY","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/FQv11Uwfp91G7_LArLXB9odg-1EPwgm00P731ryLibY?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3ZjdbtowFMffJZp2VTdAx9AqVZMHqZaOhi4BofXOcQ7BBZzMTkg%2F1HffsWEte4SzywgF5af%2Fxzn2S6DhsZkqvbHB5UuwjLL5OErmKZ8usuAyWDdNbS%2FDcCe0KGEHujkXz62Bc1ntQtvmVhpVN6rSNhyNiqHIe5%2FZCIqCfQKQLJfwhQ0Hst%2FPR8M8vxiFtan2qgBjw1slTWWrVXPO63pc6ZUqWyPcX4Xy9ClrKgP2q6gV2%2BN7%2BPvVoDcYs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLTsMwFET%2FxUKscJykda1GqlCE2NENKR%2Fgx61jJbEt%2BzoCqv47gRXL0Zw50tyIh098c37KpLuR1364fAykIyNizB1ji%2FTSwgIeK%2FldElQ6LCwXlXVyEV3wmQlhuFT1gQowhu4BNFUajpS3ummU4ErtBIsprM5AyuzsdAo5XLHqY3wJ%2FupsSfJXxfT%2FNGBIkJ9ldHTddlt%2Fauu2pTWndfP4kCcXL2ECf5pWhIyzGnH3Jcts01zGP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLTsMwFET%2FxUKscJyEBotIFYqq7uiGlA%2Fw48a1QnwtX7sFqv47gRXL0Zw50lxZgM%2F86sNMrL%2By%2FTAe30fWs1POkXohFhWUgwVCrtR3SVAZXAQVTSb5mD0GElLaTun6iUuwlm8ADNcGnnnXmqbRstP6UYqY8OwtJBIHbxISTrkaYtxhmLwrSf2qhPmfxowJ6EVFz8%2Frbu23bd22vO543dzf0ezjEWcIW8KSDJSI9pI%2FvnA6XazaqIz[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"CCXX-l0-s0:cka9gpOlPtdGz68VapbZ","name":"Primary","value":"l1Z/nIYvaxLNuSx5aICfxeh/7+bk9oG3G+38aTR/uCk=","connectionString":"Endpoint=https://destination5jwlwsac7[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 30 2022 18:45:34 GMT
    method: GET
    uri: https://sourcetsapr4j2ctwv4tjzre.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Sep, 30 2022 18:45:34 GMT
    method: PUT
    uri: https://sourcetsapr4j2ctwv4tjzre.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"h_3szX2xejrdH2RXiggAo-x9LSQFr6UUMnze88YSFGY","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2022-09-30T18:45:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"h_3szX2xejrdH2RXiggAo-x9LSQFr6UUMnze88YSFGY"'
      last-modified:
      - Fri, 30 Sep 2022 18:45:34 GMT
      sync-token:
      - zAJw6V16=NToxOSMyNDU5MjQxNg==;sn=24592416
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Sep, 30 2022 18:45:38 GMT
    method: PUT
    uri: https://sourcetsapr4j2ctwv4tjzre.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"lAkh1G-DcbEtt_QuBpdsWj0mVOrOPHB8zB9AfUhhQjI","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2022-09-30T18:45:38+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lAkh1G-DcbEtt_QuBpdsWj0mVOrOPHB8zB9AfUhhQjI"'
      last-modified:
      - Fri, 30 Sep 2022 18:45:38 GMT
      sync-token:
      - zAJw6V16=NToxOSMyNDU5MjQ1MQ==;sn=24592451
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Sep, 30 2022 18:45:38 GMT
    method: PUT
    uri: https://sourcetsapr4j2ctwv4tjzre.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"MI74LYzEM6YWxsjpDw1rMQK7_kRWCiif1ivGhBKMaP0","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2022-09-30T18:45:38+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"MI74LYzEM6YWxsjpDw1rMQK7_kRWCiif1ivGhBKMaP0"'
      last-modified:
      - Fri, 30 Sep 2022 18:45:38 GMT
      sync-token:
      - zAJw6V16=NToxOSMyNDU5MjQ1Ng==;sn=24592456
    status:
      code: 200
      message: OK
[...]
