interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-02-12T22:05:16.1210583+00:00","endpoint":null,"encryption":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c7b0fc34-c69a-b48d-4084-0d68b79fec3e?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c7b0fc34-c69a-b48d-4084-0d68b79fec3e?api-version=2019-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c7b0fc34-c69a-b48d-4084-0d68b79fec3e","name":"c7b0fc34-c69a-b48d-4084-0d68b79fec3e","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c7b0fc34-c69a-b48d-4084-0d68b79fec3e?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-12T22:05:17+00:00","endpoint":"https://importtest5voeu3e4m5yyia.azconfig.io","encryption":{"keyVaultProperties":null}},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtest5voeu3e4m5yyia","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ec01e804-0000-0100-0000-5e44769c0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null}},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","identity":{"type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiyu/providers/Microsoft.ManagedIdentity/userAssignedIdentities/jiyu-user-identity-1":{"principalId":"2985a219-e087-4fa9-8cd8-3b5bdeeae764","clientId":"9bf2b96d-fda0-456a-b0d7-f741e22c575f"}},"principalId":"8fde2946-855f-4233-aeea-31498d22011a","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-12-09T21:10:48+00:00","endpoint":"https://jiyujiyu.azconfig.io","encryption":{"keyVaultProperties":{"keyIdentifier":"https://jiyu-keyvault.vault.azure.net/keys/key2","identityClientId":"322ba696-906d-4576-8188-6c1d166c196c"}}},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiyu-test/providers/Microsoft.AppConfiguration/configurationStores/jiyujiyu","name":"jiyujiyu","location":"westcentralus","tags":{"test":"test"}},{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null}},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","location":"westcentralus","tags":{}},{[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"AXJY-l0-s0:erz51nvxpJaIM6Va2SU6","name":"Primary","value":"phBzb+R0LCpqVxR+WtZKJJHhRzyoLVWWDtrUBmFhvBU=","connectionString":"Endpoint=https://importtest5voeu3e4m5yyia.azconfig.io;Id=AXJY-l0-s0:erz51nvxpJaIM6Va2SU6;Secret=phBzb+R0LCpqVxR+WtZKJJHhRzyoLVWWDtrUBmFhvBU=","lastModified":"2020-02-12T22:05:16+00:00","readOnly":false},{"id":"PfiH-l0-s0:+HMbASWrV8ZwgnsvOlx3","name":"Secondary","value":"TORqj0mV685NrelrJfx39N9VYQ/60C/711chdE3wMP0=","connectionString":"Endpoint=https://importtest5voeu3e4m5yyia.azconfig.io;Id=PfiH-l0-s0:+HMbASWrV8ZwgnsvOlx3;Secret=TORqj0mV685NrelrJfx39N9VYQ/60C/711chdE3wMP0=","lastModified":"2020-02-12T22:05:16+00:00","readOnly":false},{"id":"RabT-l0-s0:bH47pTjVtEsvrOoUJlLY","name":"Primary
        Read Only","value":"u5eEbw2ZgRbUXatQW1XQE2QJ/6v/250gtdXiHkvtM1M=","connectionString":"Endpoint=https://importtest5voeu3e4m5yyia.azconfig.io;Id=RabT-l0-s0:bH47pTjVtEsvrOoUJlLY;Secret=u5eEbw2ZgRbUXatQW1XQE2QJ/6v/250gtdXiHkvtM1M=","lastModified":"2020-02-12T22:05:16+00:00","readOnly":true},{"id":"mWV6-l0-s0:n+6ZIEbILdaTXj2mvpAX","name":"Secondary
        Read Only","value":"x5kWuy9sazrGyAqrT73PA6vgS7acKPsoPEB9QBc9E5w=","connectionString":"Endpoint=https://importtest5voeu3e4m5yyia.azconfig.io;Id=mWV6-l0-s0:n+6ZIEbILdaTXj2mvpAX;Secret=x5kWuy9sazrGyAqrT73PA6vgS7acKPsoPEB9QBc9E5w=","lastModified":"2020-02-12T22:05:16+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "tags": null, "value": "spanish"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - Y3WuXR12K7b+36OeIwaojYRprCHLelOLie6lmG6Oln8=
      x-ms-date:
      - Feb, 12 2020 22:05:34 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"WKUM4iATUh2rFIW7lNzxzH0HGPJ","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WKUM4iATUh2rFIW7lNzxzH0HGPJ"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:35 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNDY=;sn=540246
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "tags": null, "value": "spanish"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - Y3WuXR12K7b+36OeIwaojYRprCHLelOLie6lmG6Oln8=
      x-ms-date:
      - Feb, 12 2020 22:05:35 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/Language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"jX3jSQZN8SO3vGY3CpWGEYKjXCx","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"jX3jSQZN8SO3vGY3CpWGEYKjXCx"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:35 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNDc=;sn=540247
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "tags": null, "value": "ship2"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - nBBX2qkoSA4WEJjgWbz1rvX1aZAXtAXR3N3UpkpRMyw=
      x-ms-date:
      - Feb, 12 2020 22:05:35 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F1?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"kNc74T1nJ1Ky7KqyjkLGHquH5ZX","key":"Settings:BackgroundColor/ship/1","label":null,"content_type":null,"value":"ship2","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kNc74T1nJ1Ky7KqyjkLGHquH5ZX"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:35 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNDg=;sn=540248
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "tags": null, "value": "red"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - cpH3FHfAlSO+YXadPzTIyL7SJVIGXNAJqY9wvAs074Y=
      x-ms-date:
      - Feb, 12 2020 22:05:35 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/BackgroundColor?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"wqGBVLpym416CmnAVKAH4aC2QuF","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wqGBVLpym416CmnAVKAH4aC2QuF"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:35 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNDk=;sn=540249
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "tags": null, "value": "black"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - rM5xWAXphJP9k2+FNe5ecI7KQYjFlH+c13Hd9Oie1g0=
      x-ms-date:
      - Feb, 12 2020 22:05:35 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/background-color?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"WPteI7BoCHBOWI2HTkVxsJpCxAZ","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WPteI7BoCHBOWI2HTkVxsJpCxAZ"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:35 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNTA=;sn=540250
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "tags": null, "value": "English"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - ZFr7T9O1Bpc+qKgu69cXVCeoGdyq/YouorPWdLmbFhc=
      x-ms-date:
      - Feb, 12 2020 22:05:35 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/Langugage?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"NlNoUDv2W9Xo8b0a5kL6V9PDoZh","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NlNoUDv2W9Xo8b0a5kL6V9PDoZh"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:36 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNTI=;sn=540252
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "tags": null, "value": "Acura"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - ToUd9AKmhWcenVE2/+ztUpGx2WJ/W89rP8DfjrAUINA=
      x-ms-date:
      - Feb, 12 2020 22:05:35 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"vSq78XjMJfHaezsUmupyYrxDLeZ","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vSq78XjMJfHaezsUmupyYrxDLeZ"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:36 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNTM=;sn=540253
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "tags": null, "value": ""}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - fw/mUiowDKMXCIhCsnTCXHRNBauBzT3KD8xPpYreZks=
      x-ms-date:
      - Feb, 12 2020 22:05:35 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/appabc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"XlqGoBhSRITYDt413PjuzChAR7z","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XlqGoBhSRITYDt413PjuzChAR7z"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:36 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNTQ=;sn=540254
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "tags": null, "value": ""}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - fw/mUiowDKMXCIhCsnTCXHRNBauBzT3KD8xPpYreZks=
      x-ms-date:
      - Feb, 12 2020 22:05:36 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/abc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"PzyUelQRiZpT3HZO64BtjcNh0T4","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PzyUelQRiZpT3HZO64BtjcNh0T4"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:36 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNTY=;sn=540256
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "tags": null, "value": "34"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dv08oEie1/p8ZNOi8mvCH+XlhOoTmd5b08traTEvv3o=
      x-ms-date:
      - Feb, 12 2020 22:05:36 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/font-size?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"a2rG85gxWDC6XfZpFTmZ8ffu2Lg","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"a2rG85gxWDC6XfZpFTmZ8ffu2Lg"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:36 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNTc=;sn=540257
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 22:05:37 GMT
    method: GET
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"wqGBVLpym416CmnAVKAH4aC2QuF","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:35+00:00"},{"etag":"jX3jSQZN8SO3vGY3CpWGEYKjXCx","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:35+00:00"},{"etag":"NlNoUDv2W9Xo8b0a5kL6V9PDoZh","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 22:05:39 GMT
    method: GET
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "tags": null, "value": "Red"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - i2wSBywfiN/Y8iOEWqHjORhl9lT1DCv2+DyE1gHYdi0=
      x-ms-date:
      - Feb, 12 2020 22:05:40 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/Color?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"O2XjfzCEqQXibgVe7PlpYyCSk6S","key":"Color","label":"KeyValuesWithFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"O2XjfzCEqQXibgVe7PlpYyCSk6S"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:41 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNTg=;sn=540258
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "tags": null, "value": "West US"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - uvxKRjeqBwXkkdpex+9IyzExGedKkgQdtuI5Pox9q7Q=
      x-ms-date:
      - Feb, 12 2020 22:05:41 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/Region?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"J2J55LOSPl7KryFvMgTOQCp4sEx","key":"Region","label":"KeyValuesWithFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"J2J55LOSPl7KryFvMgTOQCp4sEx"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:41 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNTk=;sn=540259
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "tags": null, "value": "{\"description\": null, \"id\": \"Percentage\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 9J3nHdqPul7bhhX1IrHqqxOLG12kVUVkGNkfTFzWY4Q=
      x-ms-date:
      - Feb, 12 2020 22:05:41 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"MZki3l9AUtOxOsjGNhCcuhXdd9T","key":".appconfig.featureflag/Percentage","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"description\":
        null, \"id\": \"Percentage\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"MZki3l9AUtOxOsjGNhCcuhXdd9T"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:42 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNjA=;sn=540260
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "tags": null, "value": "{\"description\": null, \"id\": \"Beta\", \"enabled\":
      false, \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - OBljNfBKzW+2SITBg/IGLwxe2E/pLOURosh2UC+40fs=
      x-ms-date:
      - Feb, 12 2020 22:05:41 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"s2YcXoy9N1AG4wzN4spBLXFSNcl","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"description\":
        null, \"id\": \"Beta\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"s2YcXoy9N1AG4wzN4spBLXFSNcl"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:42 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNjE=;sn=540261
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "tags": null, "value": "{\"description\": null, \"id\": \"Timestamp\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - i9LNfK6h0dZmjc0x/J08/boXYMywa647x2shmRSa+WQ=
      x-ms-date:
      - Feb, 12 2020 22:05:41 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/.appconfig.featureflag%2FTimesta[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 22:05:42 GMT
    method: GET
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv?key=*&label=KeyValuesWithFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"s2YcXoy9N1AG4wzN4spBLXFSNcl","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appc[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 22:05:44 GMT
    method: GET
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=KeyValuesWithFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"s2YcXoy9N1AG4wzN4spBLXFSNcl","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"app[...]
[...]
- request:
    body: '{"content_type": null, "tags": null, "value": "Red"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - i2wSBywfiN/Y8iOEWqHjORhl9lT1DCv2+DyE1gHYdi0=
      x-ms-date:
      - Feb, 12 2020 22:05:47 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/Color?label=SkipFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"D5bV2VKTltnx1k2CrrGshR3U7c7","key":"Color","label":"SkipFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:48+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"D5bV2VKTltnx1k2CrrGshR3U7c7"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:48 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNjM=;sn=540263
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "tags": null, "value": "West US"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - uvxKRjeqBwXkkdpex+9IyzExGedKkgQdtuI5Pox9q7Q=
      x-ms-date:
      - Feb, 12 2020 22:05:47 GMT
    method: PUT
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv/Region?label=SkipFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"Mb5lF3bEYyLT6sFMRHCpddxSmoF","key":"Region","label":"SkipFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:48+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Mb5lF3bEYyLT6sFMRHCpddxSmoF"'
      last-modified:
      - Wed, 12 Feb 2020 22:05:48 GMT
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNjQ=;sn=540264
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 22:05:48 GMT
    method: GET
    uri: https://importtest5voeu3e4m5yyia.azconfig.io/kv?key=*&label=SkipFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"D5bV2VKTltnx1k2CrrGshR3U7c7","key":"Color","label":"SkipFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:48+00:00"},{"etag":"Mb5lF3bEYyLT6sFMRHCpddxSmoF","key":"Region","label":"SkipFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-02-12T22:05:48+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OTotMSM1NDAyNjQ=;sn=540264
    status:
      code: 200
      message: OK
[...]
