interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"7dab2de0-28e4-42c8-b72f-d4b8e5056a29","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"properties":{"provisioningState":"Creating","creationDate":"2023-03-21T02:52:38.9820109+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002","name":"MgmtTest000002","tags":{"key":"value"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GjQ0Wbrcq_mDBm6OuObHN65ZEo7jtCUtMPWcKuiNHTY?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GjQ0Wbrcq_mDBm6OuObHN65ZEo7jtCUtMPWcKuiNHTY?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GjQ0Wbrcq_mDBm6OuObHN65ZEo7jtCUtMPWcKuiNHTY","name":"GjQ0Wbrcq_mDBm6OuObHN65ZEo7jtCUtMPWcKuiNHTY","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GjQ0Wbrcq_mDBm6OuObHN65ZEo7jtCUtMPWcKuiNHTY?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"7dab2de0-28e4-42c8-b72f-d4b8e5056a29","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"properties":{"provisioningState":"Succeeded","creationDate":"2023-03-21T02:52:39+00:00","endpoint":"https://mgmttestowgt2n3qg5bbmgii.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-03-21T02:52:39+00:00","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-21T02:52:40+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestowgt2n3qg5bbmgii","name":"MgmtTest000002","tags":{"key":"value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2700e90a-0000-0100-0000-64191bf80000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"7dab2de0-28e4-42c8-b72f-d4b8e5056a29","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"properties":{"provisioningState":"Succeeded","creationDate":"2023-03-21T02:52:39+00:00","endpoint":"https://mgmttestowgt2n3qg5bbmgii.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-03-21T02:52:39+00:00","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-21T02:52:40+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestowgt2n3qg5bbmgii","name":"MgmtTest000002","tags":{"key":"value"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&$skipToken=mgmttestowgt2n3qg5bbmgii"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/clitest.rgheg7v2rxbd74jp2a5krtpdr27pujlbi6pgloz7lmhakarlkuw6xqshapjagrgrfhz/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&$skipToken=mgmttestowgt2n3qg5bbmgii>;
        rel="next"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&$skipToken=mgmttestowgt2n3qg5bbmgii
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Standard"}, "tags": {"Env": "Prod"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"7dab2de0-28e4-42c8-b72f-d4b8e505[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cmk-test-keyvault000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"azureclilivetest","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"azureclilivetest@azuresdkteam.onmicrosoft.com","id":"6b30bdc6-696a-46fb-82d7-739c2fb147b7"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US","Slice":"E","Ring":"5","ScaleUnit":"004","RoleInstance":"BL02EPF0000FC35"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enablePurgeProtection": true, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003","name":"cmk-test-keyvault000003","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-03-21T02:52:53.21Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-21T02:52:53.21Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://cmk-test-keyvault000003.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cmk-test-keyvault000003.vault.azure.net/keys/key/d43fd3a3c0704b08be7c13ebe3c2b733","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"pFp9MMzeDqW9_ZlUwLAqZC3wEMSIYuGCkbKew5KwB95hteoahxxJAXDpgw0tftCE4a33mfUZfDb9Ym0ItnE9uhEZCGjCAyxQD7b_Gnn5OgHSLxo5Hvh3i-mBhVySzvy2KSI4cHTY2-jCzVXXGWgMlItRSD1AXVXnmdOvQB8u2Cho6g6Ls8-X8lnT7vpEojjO2ASNiXvqPmfGYzOgGm6IACblWe_STCL0DZpwQ0HnyBQA8MCxHWxvjySwh1Lgy5_p4EM6Cl8XWAm_v4gruUpSfaRIfopK2sehysGFi4JSFuMSlZBAO7NrlviIy763fC7zFuaOdvIZhSQFTFdvuW3ZHQ","e":"AQAB"},"attributes":{"enabled":true,"created":1679367205,"updated":1679367205,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzurePowerShellLiveTest/providers/Microsoft.KeyVault/vaults/LiveTestKeyVault","name":"LiveTestKeyVault","type":"Microsoft.KeyVault/vaults","[...]
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "7dab2de0-28e[...]
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyIdentifier":
      "https://cmk-test-keyvault000003.vault.azure.net/keys/key/"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"7dab2de0-28e4-42c8-b72f-d4b8e5056a29","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"properties":{"provisioningState":"Succeeded","creationDate":"2023-03-21T02:52:39+00:00","endpoint":"https://mgmttestowgt2n3qg5bbmgii.azconfig.io","encryption":{"keyVaultProperties":{"keyIdentifier":"https://cmk-test-keyvault000003.vault.azure.net/keys/key/","identityClientId":null}},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-03-21T02:52:39+00:00","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-21T02:53:26+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestowgt2n3qg5bbmgii","name":"MgmtTest000002","tags":{"Env":"Prod"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2700370c-0000-0100-0000-64191c260000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/D-ihMAYOwMi2cKQ3e2NwCEUopsluAERo3Ba3uDslCAU?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/D-ihMAYOwMi2cKQ3e2NwCEUopsluAERo3Ba3uDslCAU","name":"D-ihMAYOwMi2cKQ3e2NwCEUopsluAERo3Ba3uDslCAU","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/D-ihMAYOwMi2cKQ3e2NwCEUopsluAERo3Ba3uDslCAU?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/deletedConfigurationStores/clitestappconfig","name":"clitestappconfig","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgmeebngiatwkk3ecynffcd2iy5h5h3it5hxgn6gcysoxuucv53ptdhfyuxbjxqx7x6/providers/Microsoft.AppConfiguration/configurationStores/clitestappconfig","location":"westus","deletionDate":"2023-03-17T07:06:15+00:00","scheduledPurgeDate":"2023-03-24T07:06:15+00:00","tags":{},"purgeProtectionEnabled":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/mgmttestdele7557ssg5gttj","name":"MgmtTestdel000004","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestdele7557ssg5gttj","location":"eastus","deletionDa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2022-05-01&%24skiptoken=1ZFNbsIwFITvYlVd4dgxpCiRUBVV7GDTUHVtOy%2FGCv7BfqFVEXdvYNcjdDuaGembuRIP37izfsykuZLPbXf46EhDjogxN4w56aUBBx4L%2BTMlKHRwLE8q62Qj2uAz46ocXlbrkpZq4HTV95JK0EuqVS3WYuB1VXMWU7jYHlJme6tTyGHAoo3xLfjBminJexXr4QQI%2FR%2Bxw5Agv8po6WWOz7aN4EJQXlFePj%2Fl0cZDGMFv9MkiZJQx6kcpWZBt%2B29pnHF4xwlfBoVfnk2llDPWktuCyORaYxIYOY%2F1gJ8Pa9%2F35PYL
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - f3c88557-c82a-4c01-a781-34bb7f6a9ef4
      - dabf5657-804b-46b9-8f58-03d824f20c5e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/MgmtTestdel000004?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/mgmttestdele7557ssg5gttj","name":"MgmtTestdel000004","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestdele7557ssg5gttj","location":"eastus","deletionDate":"2023-03-21T02:53:45+00:00","scheduledPurgeDate":"2023-03-22T02:53:45+00:00","tags":{"key":"value"},"purgeProtectionEnabled":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"22001538-0000-0100-0000-64191c390000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xitLyHZMqr7YmMjT2R9FUlazEtSfyckLmcgJPNxHRm0?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xitLyHZMqr7YmMjT2R9FUlazEtSfyckLmcgJPNxHRm0","name":"xitLyHZMqr7YmMjT2R9FUlazEtSfyckLmcgJPNxHRm0","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xitLyHZMqr7YmMjT2R9FUlazEtSfyckLmcgJPNxHRm0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-21T02:53:34+00:00","endpoint":"https://mgmttestdele7557ssg5gttj.azconfig.io","encr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&$skipToken=mgmttestdele7557ssg5gttj
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/MgmtTestdel000004/purge?api-version=2022-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2022-05-01&%24skiptoken=1ZFNbsIwFITvYlVd4dgxpCiRUBVV7GDTUHVtOy%2FGCv7BfqFVEXdvYNcjdDuaGembuRIP37izfsykuZLPbXf46EhDjogxN4w56aUBBx4L%2BTMlKHRwLE8q62Qj2uAz46ocXlbrkpZq4HTV95JK0EuqVS3WYuB1VXMWU7jYHlJme6tTyGHAoo3xLfjBminJexXr4QQI%2FR%2Bxw5Agv8po6WWOz7aN4EJQXlFePj%2Fl0cZDGMFv9MkiZJQx6kcpWZBt%2B29pnHF4xwlfBoVfnk2llDPWktuCyORaYxIYOY%2F1gJ8Pa9%2F35PYL
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - cde41ac1-e9ea-4b83-a61c-fab4ea5516e1
      - c994a306-8549-400d-bada-b861990fd729
    status:
      code: 200
      message: OK
version: 1
