interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-06-30T08:23:44.770499+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null}, "sku": {"name": "Standard"}, "systemData":
        null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002",
        "name": "KVSetImportTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/eZ9IQJEQc9fi9RY4fokIW6qeRcmdWC9tpu8u2GuKgeg?api-version=2024-06-01&t=638868686250011131&c=MIIHpTCCBo2gAwIBAgITfwV1hryhjutNBgX8OgAEBXWGvDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDIwMTgwNDEyWhcNMjUxMDE3MTgwNDEyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/eZ9IQJEQc9fi9RY4fokIW6qeRcmdWC9tpu8u2GuKgeg?api-version=2024-06-01&t=638868686250011131&c=MIIHpTCCBo2gAwIBAgITfwV1hryhjutNBgX8OgAEBXWGvDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDIwMTgwNDEyWhcNMjUxMDE3MTg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-06-30T08:23:44+00:00", "endpoint": "https://kvsetimporttestrdoqx6wvv.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2025-06-30T08:23:44+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2025-06-30T08:23:44+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttestrdoqx6wvv",
        "name": "KVSetImportTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d300de25-0000-0100-0000-686249930000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2022-10-05T17:47:19+00:00", "endpoint": "https://storagemetrictest.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=1dVdi5tAFAbg/zKUXmWijuYTliJLoGU33RKV3ngzOx6tGD%2BYGdPQkP/e4yTrbkrL0su5kmgSfHjPnPdEGjjqx7KpFFmfyPdNFN9vvsa78DGJyJr80LpTa8epecMLqKHRU/6rlzAVbe2o/lkJWXa6bBvlCLZwAcSCLhkwGmT5jK6W8EzBzzweBPmCceZ0sj2UGUjlbEshW9Xmehp23X3b5GXRSz78lSPefop0K0F94l1JD/g7fH7HXBZQd05d7%2BMHVZVd3FbQ3Cn8onlHLUuhQWkyMRzbHIcGNNu3gu9/9goNmzCKbTPUSrmM%2BUYBRhEm0TBUX8KBY9dgCRxAI%2BE9YB7JQ/SUxJ/tMtTt4WLoK4XHx6fuirI5pcyjs4B6PrrGhK7n3y4gHHA3FbLMXjdVt%2BfNS3ACgQ9POxw%2Bi7Or5DW7OfVWmB0bLsEKaePK3iThN7uCO/bHnubmfAmMUPJ9r6DnHU4poy7ueQ%2BlPp151F1Sb4bYy0Jk9lHlkY67BLciG5jkPCFc1mFRSCi4hsyUGUYY7rZoHcp5y2UFEm%2Bd0tt%2BTsk6tbqhUzK5kJLINstNSxvHZSxtc/zR1EYyNsFAsg00njBsa6O59rVtjvca%2BzapawHYhnyvtQ3ytbdt440Z/qO5De%2Bmu20T/md7G/Cb/raN%2B7cGT8mZnH8D
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "identity": {"type": "UserAssigned", "userAssignedIdentities":
        {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobal/providers/Microsoft.ManagedIdentity/userAssignedIdentities/RunnerIdentity":
        {"principalId": "19c65602-5380-4274-9a6a-e82d49b9bedf", "clientId": "5db6003a-7e09-48bd-932d-25dcc81c4688"}}},
        "properties": {"provisioningState": "Succeeded", "creationDate": "2023-03-01T21:22:34+00:00",
        "endpoint": "https://mss0225localeus2023-03-01--21-22-26.azconfig.io", "encryption":
        {"keyVaultProperties": null}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=1ZDdSsQwFITfJYhXpunGatfCIkUELyyCXe96czY9raFtEk7SIpa%2Bu/EH9BW8nJkzB75ZmcG38KjN4FmxsvuyPr7UrGCvIThfCDGBgR4nNCGB95kwUXYSfj55RdoFbY0XSuYposr5XqLkWdtd8Zs9njhetjvIsi6XIIUju%2BgWyYtKK7LediEpnbuzptP9TPD5Sqi/qg6W0N%2BC03yJvZgfZCoznl7zdHd%2B5gftjnZAc1gMhtEqGHH2bLv4BXoyD3ZsI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3VBBasMwEPyLKD11LVmxG9cQiimFHhoKTXrzRZHXrnAsCUkOpsZ/r5IWmjf0suzOzA7MzETjFF6V7j0pZ/Jc7fYfO1KSzxCsLykdhBYdDqhDIr5Gh4k0A/XjwUunbFBGeyr5miHKNRQcOWRNm8NDgQfAVZOKLGvXXHBqnTmpBp2nWyWd8aYNSWXtk9Gt6kYnzlZUXl%2B7YBz6R2EVnOJf5Dec8QzYPbD09sb3yu5Nj3ozTdCOWh6NFMfLQOHD6KOYAytglQIwBiw/b3lKlru/yG/6xRybGDyCwg1V1znsRMDm4hxrqN635Ee/Fa5HF6G5/m2pJmX9f3uqyUKWbw%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 132823a1-3ff8-42bd-b2c5-fd635cedc9ec
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvsetimporttestrdoqx6wvv.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-06-30T08:23:44+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvsetimporttestrdoqx6wvv.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-06-30T08:23:44+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvsetimporttestrdoqx6wvv.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-06-30T08:23:44+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvsetimporttestrdoqx6wvv.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-06-30T08:23:44+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:24.986672 GMT
    method: GET
    uri: https://kvsetimporttestrdoqx6wvv.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTY6MTkjMTIyNTMxOTU=;sn=12253195
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTY6MTkjMTIyNTMxOTU=
      x-ms-content-sha256:
      - vooIQS2Lc83p3cZJS7Qp5TL+wPNgfiHeUrZC71Varzs=
      x-ms-date:
      - Jun, 30 2025 08:24:25.326158 GMT
    method: PUT
    uri: https://kvsetimporttestrdoqx6wvv.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"KjRNW0R0HmWj5Nb2FOCd-nBAkkJubjiUPvmO7shMa_I","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"KjRNW0R0HmWj5Nb2FOCd-nBAkkJubjiUPvmO7shMa_I"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:25 GMT
      sync-token:
      - zAJw6V16=MTY6MTkjMTIyNTMxOTY=;sn=12253196
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"bool-feature\", \"description\": \"It is a boolean feature\",
      \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\":
      null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTY6MTkjMTIyNTMxOTY=
      x-ms-content-sha256:
      - UhxU[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTY6MTkjMTIyNTMxOTc=
      x-ms-content-sha256:
      - Z9vdOmW9IIdhx2BgTvHER4NiDLOkF6QL50jtUUXyuos=
      x-ms-date:
      - Jun, 30 2025 08:24:25.969209 GMT
    method: PUT
    uri: https://kvsetimporttestrdoqx6wvv.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=2023-11-01
  response:
    body:
      stri[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTY6MTkjMTIyNTMxOTg=
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Jun, 30 2025 08:24:26.271797 GMT
    method: PUT
    uri: https://kvsetimporttestrdoqx6wvv.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"l_U4ru8pe85yf_Ev_unpWZDImJaby2NzA-WNSMpLafU","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2025-06-30T08:24:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"l_U4ru8pe85yf_Ev_unpWZDImJaby2NzA-WNSMpLafU"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:26 GMT
      sync-token:
      - zAJw6V16=MTY6MTkjMTIyNTMxOTk=;sn=12253199
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTY6MTkjMTIyNTMxOTk=
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Jun, 30 2025 08:24:26.575843 GMT
    method: PUT
    uri: https://kvsetimporttestrdoqx6wvv.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"mHIk5ms8B56nWmtnX561rju4ZGOm6Wem-Uxt6bptdCE","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-06-30T08:24:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mHIk5ms8B56nWmtnX561rju4ZGOm6Wem-Uxt6bptdCE"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:26 GMT
      sync-token:
      - zAJw6V16=MTY6MTkjMTIyNTMyMDA=;sn=12253200
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTY6MTkjMTIyNTMyMDA=
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Jun, 30 2025 08:24:26.886005 GMT
    method: PUT
    uri: https://kvsetimporttestrdoqx6wvv.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"8vSG8luiDWLjWmmpoTf0zqkaDzNj6eIF6sMrUgzduFs","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-06-30T08:24:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8vSG8luiDWLjWmmpoTf0zqkaDzNj6eIF6sMrUgzduFs"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:27 GMT
      sync-token:
      - zAJw6V16=MTY6MTkjMTIyNTMyMDE=;sn=12253201
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTY6MTkjMTIyNTMyMDE=
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Jun, 30 2025 08:24:27.204084 GMT
    method: PUT
    uri: https://kvsetimporttestrdoqx6wvv.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"oehks7PgwZ33hTEj_0bbLRnuISyjefjbZoIkNxATajk","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-06-30T08:24:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oehks7PgwZ33hTEj_0bbLRnuISyjefjbZoIkNxATajk"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:27 GMT
      sync-token:
      - zAJw6V16=MTY6MTkjMTIyNTMyMDI=;sn=12253202
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTY6MTkjMTIyNTMyMDI=
      x-ms-content-sha256:
      - KG6foKmNh5fImJNssBeIcpD6vIlOFOyqNrEtrNcI1x4=
      x-ms-date:
      - Jun, 30 2025 08:24:27.516916 GMT
    method: PUT
    uri: https://kvsetimporttestrdoqx6wvv.azconfig.io/kv/pratik-top-secret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"nlLnw2h2_ZUWdQARQ8Av2kEeo4qK_DApiWfAd9D3cuY","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"nlLnw2h2_ZUWdQARQ8Av2kEeo4qK_DApiWfAd9D3cuY"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:27 GMT
      sync-token:
      - zAJw6V16=MTY6MTkjMTIyNTMyMDM=;sn=12253203
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTY6MTkjMTIyNTMyMDM=
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Jun, 30 2025 08:24:27.835275 GMT
    method: PUT
    uri: https://kvsetimporttestrdoqx6wvv.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"JWg9mknj9NtahiSOvY8MmyhvdAQGzOrx98-mC2Cd3bM","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2025-06-30T08:24:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JWg9mknj9NtahiSOvY8MmyhvdAQGzOrx98-mC2Cd3bM"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:28 GMT
      sync-token:
      - zAJw6V16=MTY6MTkjMTIyNTMyMDQ=;sn=12253204
    status:
      code: 200
      message: OK
[...]
