interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-10-30T21:04:35.9913286+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null,"dataPlaneProxy":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002","name":"AadTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/fgGf1gcOlzbTaJAuW0--yiOUZ0qB7_RQbcLaoQK13GE?api-version=2024-05-01&t=638659190760787789&c=MIIHpTCCBo2gAwIBAgITfwQsaz94bbkQtzgVvwAEBCxrPzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQxMDAzMDkwOTUzWhcNMjUwNDAxMDkwOTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/fgGf1gcOlzbTaJAuW0--yiOUZ0qB7_RQbcLaoQK13GE?api-version=2024-05-01&t=638659190760787789&c=MIIHpTCCBo2gAwIBAgITfwQsaz94bbkQtzgVvwAEBCxrPzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQxMDAzMDkwOTUzWhcNMjUwNDAxMDk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-10-30T21:04:35+00:00","endpoint":"https://aadtestailkki6b.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false,"dataPlaneProxy":{"authenticationMode":"Local","privateLinkDelegation":"Disabled"}},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2024-10-30T21:04:35+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-30T21:04:35+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestailkki6b","name":"AadTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b800ce8a-0000-0100-0000-67229f650000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrvTuNGFMXfJVr105hAWIqKtKpmwdtNgYTasdLl28QZUofEdmdsAln13Xvv2B4c4AXOR0BBPjn3v38/B7l%2Brm6y/NEOLn4O5mE8uwwns0jeJPHgYvBPVZX2Yjjcqlyt9Fbn1ZHa10YfpcV2aOuFTU1WVlmR2%2BH5%2BfJMLY5/Dc71chl81joNFqn%2BLTgbpScni/OzxeL0fFia4ilbamOHt1lqCls8VEeyLC%2BL/CFb1Ubxvxqm/Z/iqjDa/q7KLHi[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://aadtestailkki6b.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-10-30T21:04:35+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://aadtestailkki6b.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-10-30T21:04:35+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://aadtestailkki6b.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-10-30T21:04:35+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://aadtestailkki6b.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-10-30T21:04:35+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 21:05:12.109013 GMT
    method: GET
    uri: https://aadtestailkki6b.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTMzMA==;sn=11141330
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=OToxOSMxMTE0MTMzMA==
      x-ms-content-sha256:
      - nt5aMZQ20VbmQ/d+gpP3HsGr+Z1pPF2YO5YAw0yHcuE=
      x-ms-date:
      - Oct, 30 2024 21:05:12.415306 GMT
    method: PUT
    uri: https://aadtestailkki6b.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"qy8NG09OTo_aYAPjOc9L3NtXmqFu4pc_P61ChP2Z1IA","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-10-30T21:05:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qy8NG09OTo_aYAPjOc9L3NtXmqFu4pc_P61ChP2Z1IA"'
      last-modified:
      - Wed, 30 Oct 2024 21:05:12 GMT
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTMzMQ==;sn=11141331
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 21:05:12.513560 GMT
    method: GET
    uri: https://aadtestailkki6b.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTMzMg==;sn=11141332
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}, "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=OToxOSMxMTE0MTMzMg==
      x-ms-content-sha256:
      - qUbAHdy41dQGn2LBJ0FwXErvzXZfPdfL7J69coP3jg4=
      x-ms-date:
      - Oct, 30 2024 21:05:12.762826 GMT
    method: PUT
    uri: https://aadtestailkki6b.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"1SkAUr7Zbai2y-GMNd9vV5UlCYHe1tbu4ZI_Yhfm6No","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-10-30T21:05:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1SkAUr7Zbai2y-GMNd9vV5UlCYHe1tbu4ZI_Yhfm6No"'
      last-modified:
      - Wed, 30 Oct 2024 21:05:12 GMT
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTMzMw==;sn=11141333
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users?$filter=userPrincipalName%20eq%20%27albertofori%40microsoft.com%27
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users",
        "value": [{"businessPhones": ["+1 (425) 4213985"], "displayName": "Albert
        Ofori", "givenName": "Albert", "jobTitle": "SOFTWARE ENGINEER", "mail": "albertofori@microsoft.com",
        "mobilePhone": null, "officeLocation": "18/2450FL", "preferredLanguage": null,
        "surname": "Ofori", "userPrincipalName": "albertofori@microsoft.com", "id":
        "35296b93-33f5-48e5-b41e-3e29f64921e6"}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"000","RoleInstance":"CO1PEPF00005D4E"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestailkki6b/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value": [{"properties": {"roleName": "App Configuration Data Reader",
        "type": "BuiltInRole", "description": "Allows read access to App Configuration
        data.", "assignableScopes": ["/"], "permissions": [{"actions": [], "notActions":
        [], "dataActions": ["Microsoft.AppConfiguration/configurationStores/*/read"],
        "notDataActions": []}], "createdOn": "2019-10-25T18:45:33.7975332Z", "updatedOn":
        "2021-11-11T20:14:11.5885341Z", "createdBy": null, "updatedBy": null}, "id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071",
        "type": "Microsoft.Authorization/roleDefinitions", "name": "516239f1-63e1-4d78-a4de-a74fb236a071"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071",
      "principalId": "35296b93-33f5-48e5-b41e-3e29f64921e6", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestailkki6b/providers/Microsoft.Authorization/roleAssignments/694ba1f0-5272-4774-9a86-e1d41cd97f0c?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","principalId":"35296b93-33f5-48e5-b41e-3e29f64921e6","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestailkki6b","condition":null,"conditionVersion":null,"createdOn":"2024-10-30T21:05:15.6490182Z","updatedOn":"2024-10-30T21:05:16.1390212Z","createdBy":null,"updatedBy":"35296b93-33f5-48e5-b41e-3e29f64921e6","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestailkki6b/providers/Microsoft.Authorization/roleAssignments/694ba1f0-5272-4774-9a86-e1d41cd97f0c","type":"Microsoft.Authorization/roleAssignments","name":"694ba1f0-5272-4774-9a86-e1d41cd97f0c"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"key": "Color", "content_type": "", "value": "Blue", "tags": {}, "locked":
      false, "etag": "qy8NG09OTo_aYAPjOc9L3NtXmqFu4pc_P61ChP2Z1IA"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"qy8NG09OTo_aYAPjOc9L3NtXmqFu4pc_P61ChP2Z1IA"'
      Sync-Token:
      - zAJw6V16=OToxOSMxMTE0MTM2MQ==
    method: PUT
    uri: https://aadtestailkki6b.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestailkki6b.azconfig.io/kv?label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"AHisny0sqtVng27jJ06nVxChLjsHN-_xBHS8KRMu-us","items":[{"etag":"1SkAUr7Zbai2y-GMNd9vV5UlCYHe1tbu4ZI_Yhfm6No","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-10-30T21:05:12+00:00"},{"etag":"qy8NG09OTo_aYAPjOc9L3NtXmqFu4pc_P61ChP2Z1IA","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-10-30T21:05:12+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"AHisny0sqtVng27jJ06nVxChLjsHN-_xBHS8KRMu-us"'
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTM2MQ==;sn=11141361
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestailkki6b.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"OQqMPh-TNYMW_VqSp0uMMgyBIwTRLCgGsVjuMY-Q3C8","items":[{"etag":"1SkAUr7Zbai2y-GMNd9vV5UlCYHe1tbu4ZI_Yhfm6No","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-10-30T21:05:12+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"OQqMPh-TNYMW_VqSp0uMMgyBIwTRLCgGsVjuMY-Q3C8"'
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTM2MQ==;sn=11141361
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestailkki6b/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Owner%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value": [{"properties": {"roleName": "App Configuration Data Owner[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestailkki6b.azconfig.io/kv/HostSecrets?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTQxMQ==;sn=11141411
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestailkki6b.azconfig.io/kv?key=%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"x3rDRNjJ-bOZ8wKihX1Svu6UPNG4XKmtjtkOTgeWTko","items":[{"etag":"1SkAUr7Zbai2y-GMNd9vV5UlCYHe1tbu4ZI_Yhfm6No","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-10-30T21:05:12+00:00"},{"etag":"eSogU-EDq5Yz9LzaGQzsFwH5cfLPcF-h76x-IkJhOI8","key":"Color","label":null,"content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2024-10-30T21:35:33+00:00"},{"etag":"W3DK9bixcXeyj3ZXKft8VT2kFbqVtPdUSGJPtGEqeBM","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2024-10-30T21:35:33+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"x3rDRNjJ-bOZ8wKihX1Svu6UPNG4XKmtjtkOTgeWTko"'
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTQxMg==;sn=11141412
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=OToxOSMxMTE0MTQxMg==
    method: GET
    uri: https://aadtestailkki6b.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"OQqMPh-TNYMW_VqSp0uMMgyBIwTRLCgGsVjuMY-Q3C8","items":[{"etag":"1SkAUr7Zbai2y-GMNd9vV5UlCYHe1tbu4ZI_Yhfm6No","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-10-30T21:05:12+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"OQqMPh-TNYMW_VqSp0uMMgyBIwTRLCgGsVjuMY-Q3C8"'
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTQxMg==;sn=11141412
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=OToxOSMxMTE0MTQxMg==
    method: PUT
    uri: https://aadtestailkki6b.azconfig.io/kv/Language?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"iNrP0muNwCkg0aRjTTLSEKFsBUVrGjjOR7NWi8avGbg","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2024-10-30T21:35:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"iNrP0muNwCkg0aRjTTLSEKFsBUVrGjjOR7NWi8avGbg"'
      last-modified:
      - Wed, 30 Oct 2024 21:35:34 GMT
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTQxMw==;sn=11141413
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "font-size", "value": "34", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=OToxOSMxMTE0MTQxMw==
    method: PUT
    uri: https://aadtestailkki6b.azconfig.io/kv/font-size?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"NV_4pVRRDvxckpqTCoNwrH0X9G3egtLP6282tYKJtaM","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2024-10-30T21:35:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NV_4pVRRDvxckpqTCoNwrH0X9G3egtLP6282tYKJtaM"'
      last-modified:
      - Wed, 30 Oct 2024 21:35:34 GMT
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTQxNA==;sn=11141414
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "locked":
      false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=OToxOSMxMTE0MTQxNA==
    method: PUT
    uri: https://aadtestailkki6b.azconfig.io/kv/.appconfig.featureflag%2FPercentage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"zot7ncRp3YPYUae_zlGp3cXIzfOJ8PcUwAorHydPSLA","key":".appconfig.featureflag/Percentage","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": \"\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-10-30T21:35:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zot7ncRp3YPYUae_zlGp3cXIzfOJ8PcUwAorHydPSLA"'
      last-modified:
      - Wed, 30 Oct 2024 21:35:34 GMT
      sync-token:
      - zAJw6V16=OToxOSMxMTE0MTQxNQ==;sn=11141415
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}, \"display_name\": null}", "locked":
      false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=OToxOSMxMTE0MTQxNQ==
    method: PUT
    uri: https://aadtestailkki6b.azconfig.io/kv/.appconfig.featureflag%2FTimestamp?api-version=2023-11-01
  response:
    body:
      string: '{"[...]
[...]
