interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-02-24T01:15:33.1372944+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/skMYu7oGhXu9hBwUA-o1-VJlsrPAWq0QXDDFfexGds0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/skMYu7oGhXu9hBwUA-o1-VJlsrPAWq0QXDDFfexGds0?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/skMYu7oGhXu9hBwUA-o1-VJlsrPAWq0QXDDFfexGds0","name":"skMYu7oGhXu9hBwUA-o1-VJlsrPAWq0QXDDFfexGds0","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/skMYu7oGhXu9hBwUA-o1-VJlsrPAWq0QXDDFfexGds0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-02-24T01:15:33+00:00","endpoint":"https://credentialtest3uzijs35jz.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-02-24T01:15:33+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T01:15:34+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtest3uzijs35jz","name":"CredentialTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6b02f71f-0000-0100-0000-63f80fb60000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NDqiYPXC0bDSx%2FhNQ3xzHBBZzMdghq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5ulkHsdzF6DDcmLOUmLDC%2FLPJgFO2M6PQvDI5W04UcuzYi%2B9IqPWHsMdV9ppkRnRCt1OJ3WE1qNv6Apr2v0mXOGKsa%2FoknMoqiaTqrq0zTsVHsSNVc6fBRMtbrdmhHuunkrt6LpFXWfCtntU25axfU32gl0su%2FZ3%2B%2FjcRyj8QSNo48f9F50Rbvn8l5zdRKMI0MbNLBeB3fBf0ByAXGyQNPj3J97w7XRTkArBsEwGdBJcoO4HyinAymz1ZrA8obZqdaYg5CNVyO2cuSrsvjhNMF5gmHR3Dpdc2phcJm7yEqwA4ILw2lvYdJVZpUBOGW3ukjuUPyQwU5hVyfapjD6N8diwFPWaxcAl04BxjHY%2F%2B6FGITZtb3pDpbke4afkqWfNbiqVMpvLDjFC%2FzuGLgwjDKryztGki4gNwwT0rLAbMrr%2FuUM%2F5DhdE7Az9ZWudn6idc4hd32z51bi3%2BtMgLf8Hsvit9cYNe9Pz7Ky6nLNwp%2ByJI59mSw8vjZrvvUHp2RCwH0Ql2K3TQlPO9cgWxVOufkG7IgNtH8bQVQbfTgwizfJMUTyZY4XbitDCrLYYgszG9c4Ay2Kt4xf%2FwO4zMA4AZzNYsW0ieAVeaazKTEa1hDpjijLYqiaGI5XHSVeQyPwl2JUVoHb3cBVUfcNIo31PDaX2BaQXD2GLz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 0bff9bd2-d118-459c-b4ed-5d131dc135d6
      - 692d0858-b012-4c7c-8475-457fdc59f333
      - bb86c869-76c7-4484-876b-38c3d80008b8
      - e8ecfaf6-c4a2-4b32-a970-7128245c0841
      - b2715c3a-0f60-4e08-aeff-f4c5d70a5fce
      - 068a936e-add9-403e-9e03-fe86c971b6f2
      - 190c2ea5-a414-4807-826b-28d320af2aff
      - eaa34f32-68d1-4c48-9be4-a991ab5768de
      - 4e9f4c4f-044a-4f1f-b8a5-b0634f7c2eb1
      - 616c92b5-47f0-495f-b53d-b78404c279a5
      - 78a2d3ab-27a9-48ad-8c66-04d20c526d3f
      - 2f63614a-2432-4712-90d2-35642bbcf3a8
      - 954518bb-245d-4e81-b285-8269f523d5fa
      - e7ae1c04-d092-4378-9998-f376dffe8b20
      - 16285757-779c-4915-89f4-f3959a0a4755
      - 8ec0e3f5-66ad-4183-a439-912d43185747
      - 6da2ac59-192f-4002-b9b0-6cdda2fc7e62
      - cc03003b-fbe0-4335-ba93-47b88202c401
      - f868ae58-e525-482e-b526-96f1a297d862
      - 0ec89b3b-5519-48cc-82c9-da731a41c414
      - 2177ebd1-68fa-4b55-93f7-a12db428d06a
      - 53208209-fc93-4081-afe9-489354ac548f
      - c221b682-ef41-4390-b346-4e5dc63a95f0
      - 9137f34f-6171-4c5c-b153-5154fc653385
      - 57dc108e-a423-4e21-ac62-52eca00f5908
      - da25c56f-6ffd-4379-b65a-92ae134fcc51
      - 349759cd-b83f-4df6-81cc-8999afab6ffa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"bDif-l0-s0:ptsZhfK8CPV4v5p/pY97","name":"Primary","value":"kLV44hD8yLrp14GSuKEpD2zJK7ZYj2lqtdV6kEwSkWA=","connectionString":"Endpoint=https://credentialtest3uzijs35jz.azconfig.io;Id=bDif-l0-s0:ptsZhfK8CPV4v5p/pY97;Secret=kLV44hD8yLrp14GSuKEpD2zJK7ZYj2lqtdV6kEwSkWA=","lastModified":"2023-02-24T01:15:33+00:00","readOnly":false},{"id":"iY8k-l0-s0:cmIBlSO9rnqGvq7oQBlI","name":"Secondary","value":"Z4RsKMxVRHCobv1qEc4J2QeCBtPO9qJrAlwDPxDbS4E=","connectionString":"Endpoint=https://credentialtest3uzijs35jz.azconfig.io;Id=iY8k-l0-s0:cmIBlSO9rnqGvq7oQBlI;Secret=Z4RsKMxVRHCobv1qEc4J2QeCBtPO9qJrAlwDPxDbS4E=","lastModified":"2023-02-24T01:15:33+00:00","readOnly":false},{"id":"02xy-l0-s0:wf/M+kdkLhjIJgEijXKr","name":"Primary
        Read Only","value":"QEry34Wj89PvuXgwUuavjXdE2v5xuhc2MGa/L/QNUd0=","connectionString":"Endpoint=https://credentialtest3uzijs35jz.azconfig.io;Id=02xy-l0-s0:wf/M+kdkLhjIJgEijXKr;Secret=QEry34Wj89PvuXgwUuavjXdE2v5xuhc2MGa/L/QNUd0=","lastModified":"2023-02-24T01:15:33+00:00","readOnly":true},{"id":"19i5-l0-s0:Dhefv8h6JHJbgHVjog2Y","name":"Secondary
        Read Only","value":"iY3IV7K1tSv9a218Nh33XxFZm+NESIC+LxaLz7VrWr4=","connectionString":"Endpoint=https://credentialtest3uzijs35jz.azconfig.io;Id=19i5-l0-s0:Dhefv8h6JHJbgHVjog2Y;Secret=iY3IV7K1tSv9a218Nh33XxFZm+NESIC+LxaLz7VrWr4=","lastModified":"2023-02-24T01:15:33+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "bDif-l0-s0:ptsZhfK8CPV4v5p/pY97"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/regenerateKey?api-version=2022-05-01
  response:
    body:
      string: '{"id":"ePgI-l0-s0:DHXSZmospJbPG8DvuSnc","name":"Primary","value":"b6hpI2Fd58OxDLO0UMozZDbNv1ZQ9484qncf3TOJrQs=","connectionString":"Endpoint=https://credentialtest3uzijs35jz.azconfig.io;Id=ePgI-l0-s0:DHXSZmospJbPG8DvuSnc;Secret=b6hpI2Fd58OxDLO0UMozZDbNv1ZQ9484qncf3TOJrQs=","lastModified":"2023-02-24T01:15:50+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
