interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-06-30T18:40:39.0419495+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/tRn_KmLFIRbY74YOOY8QYP3I0Sfk2IROY91R0i4G9A4?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/tRn_KmLFIRbY74YOOY8QYP3I0Sfk2IROY91R0i4G9A4?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/tRn_KmLFIRbY74YOOY8QYP3I0Sfk2IROY91R0i4G9A4","name":"tRn_KmLFIRbY74YOOY8QYP3I0Sfk2IROY91R0i4G9A4","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/tRn_KmLFIRbY74YOOY8QYP3I0Sfk2IROY91R0i4G9A4?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-30T18:40:39+00:00","endpoint":"https://kvtest232lhgyzuenfol3tte.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-06-30T18:40:39+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-30T18:40:39+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtest232lhgyzuenfol3tte","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a80103a8-0000-0100-0000-649f21a70000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - e4140d9f-5f99-46fa-9604-b5027c0c79e5
      - 8e8f16d5-fad1-4914-a0f0-e7d4d1d14d97
      - 925499eb-4bad-4546-bf1b-8e8c1acef5dd
      - dc860258-a631-4129-97b1-8af2da004960
      - 9caa5378-559d-4010-9b9f-7725e43cf21a
      - bf23b9fe-b149-47c2-a222-ea1311b06653
      - b6659340-77f4-4c70-88ff-025ef914408b
      - f67fb321-d88b-4b24-a68f-af2b71f53ee0
      - 175363dd-b1cd-4717-80b0-98330c734244
      - 9ef946c0-feed-42cf-affe-99684764d995
      - 375c4f03-925b-4851-b965-6c67d3dda9f0
      - dc32c209-492c-4c13-8c9f-631cbda2ec41
      - 625e3809-48e0-4f21-8846-b6979a26ed9f
      - c0f19a6b-720c-43e7-a4b1-4c38ee434876
      - abe9bbe0-5d6a-42b2-8e4a-6b6c360150eb
      - 77df34f1-de35-4775-a4e4-ef089e02819c
      - 5c4974d6-e0c0-46a6-a00a-76de7609fb02
      - 616ba1ce-eeaa-43de-a95e-0247c5950888
      - e51002e5-488c-46bc-a507-ff390d54feac
      - 603fe167-bc2f-4d2b-a6bf-abcc3a2eb996
      - 06c78024-e909-42f8-8ecb-53d9cdbf0682
      - 7176193d-7dfc-4e4e-8c7d-933039a757b0
      - adb48ef9-6899-47e8-9710-71382cb58ded
      - 305c1dad-0919-4035-bc76-607809b55d14
      - 71f40b06-0c84-4b06-93bf-3a8214b20e4a
      - 9049ed0b-efb6-42a7-bfb9-8b322e4f55ad
      - b261a622-cc7c-4bbc-9ec7-4dac3482c092
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"cXU7","name":"Primary","value":"WuygMalisjc2N1vioYRXWPdDxY2x/NaXCntN/pTzF3I=","connectionString":"Endpoint=https://kvtest232lhgyzuenfol3tte.azconfig.io;Id=cXU7;Secret=WuygMalisjc2N1vioYRXWPdDxY2x/NaXCntN/pTzF3I=","lastModified":"2023-06-30T18:40:39+00:00","readOnly":false},{"id":"k0Hp","name":"Secondary","value":"iWdh2RRr5JkdfhLB4+sG7IgMRb1ODvEGn9ildFKX0Eg=","connectionString":"Endpoint=https://kvtest232lhgyzuenfol3tte.azconfig.io;Id=k0Hp;Secret=iWdh2RRr5JkdfhLB4+sG7IgMRb1ODvEGn9ildFKX0Eg=","lastModified":"2023-06-30T18:40:39+00:00","readOnly":false},{"id":"zB0C","name":"Primary
        Read Only","value":"iNFm1+QizFZfmLGUADPxgV/2Am5IuXLzx8Ui2J0tdDs=","connectionString":"Endpoint=https://kvtest232lhgyzuenfol3tte.azconfig.io;Id=zB0C;Secret=iNFm1+QizFZfmLGUADPxgV/2Am5IuXLzx8Ui2J0tdDs=","lastModified":"2023-06-30T18:40:39+00:00","readOnly":true},{"id":"Ejb5","name":"Secondary
        Read Only","value":"rFV83+MdL8jPU/jDikQu/yk2yFq3UCJw05Gk/4Rgoso=","connectionString":"Endpoint=https://kvtest232lhgyzuenfol3tte.azconfig.io;Id=Ejb5;Secret=rFV83+MdL8jPU/jDikQu/yk2yFq3UCJw05Gk/4Rgoso=","lastModified":"2023-06-30T18:40:39+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2023 18:40:52 GMT
    method: GET
    uri: https://kvtest232lhgyzuenfol3tte.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxOSM5MjA0ODk2;sn=9204896
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NzoxOSM5MjA0ODk2
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Jun, 30 2023 18:40:53 GMT
    method: PUT
    uri: https://kvtest232lhgyzuenfol3tte.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"Zc-pePOo63CTednzrM8sG3jY-_C_C5E397H9aFL3_44","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2023-06-30T18:40:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Zc-pePOo63CTednzrM8sG3jY-_C_C5E397H9aFL3_44"'
      last-modified:
      - Fri, 30 Jun 2023 18:40:54 GMT
      sync-token:
      - zAJw6V16=NzoxOSM5MjA0ODk3;sn=9204897
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"Zc-pePOo63CTednzrM8sG3jY-_C_C5E397H9aFL3_44"'
      Sync-Token:
      - zAJw6V16=NzoxOSM5MjA0ODk3
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Jun, 30 2023 18:40:56 GMT
    method: PUT
    uri: https://kvtest232lhgyzuenfol3tte.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"0UMalBkPJcAUSrbnrawjIEFHm1D9pNLQB5unLNdwTRc","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-06-30T18:40:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0UMalBkPJcAUSrbnrawjIEFHm1D9pNLQB5unLNdwTRc"'
      last-modified:
      - Fri, 30 Jun 2023 18:40:57 GMT
      sync-token:
      - zAJw6V16=NzoxOSM5MjA0ODk4;sn=9204898
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2023 18:40:59 GMT
    method: GET
    uri: https://kvtest232lhgyzuenfol3tte.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxOSM5MjA0ODk5;sn=9204899
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2023 18:41:06 GMT
    method: GET
    uri: https://kvtest232lhgyzuenfol3tte.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"RPmgnviGyEn6VrFwXuoIkjmyyVB1qJziwBTMrhLRSmE","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-06-30T18:41:01+00:00"},{"etag":"0UMalBkPJcAUSrbnrawjIEFHm1D9pNLQB5unLNdwTRc","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-06-30T18:40:57+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSM5MjA0OTAw;sn=9204900
    status:
      code: 200
      message: OK
[...]
