interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2024-12-16T18:49:14.8269407+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002",
        "name": "AadTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/qZtGDbbzxpVFF9nyfuYH5QDRG2ZoDm3yUcVDXHEwpRQ?api-version=2024-05-01&t=638699717550639649&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/qZtGDbbzxpVFF9nyfuYH5QDRG2ZoDm3yUcVDXHEwpRQ?api-version=2024-05-01&t=638699717550639649&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2024-12-16T18:49:14+00:00", "endpoint": "https://aadtestmnc6z7yw.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-16T18:49:14+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-12-16T18:49:14+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestmnc6z7yw",
        "name": "AadTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4a0a759f-0000-0100-0000-6760762d0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://aadtestmnc6z7yw.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-12-16T18:49:14+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://aadtestmnc6z7yw.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-12-16T18:49:14+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://aadtestmnc6z7yw.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-12-16T18:49:14+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://aadtestmnc6z7yw.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-12-16T18:49:14+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 16 2024 18:50:01.367753 GMT
    method: GET
    uri: https://aadtestmnc6z7yw.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSM2NjM0OTg2Ng==;sn=66349866
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM0OTg2Ng==
      x-ms-content-sha256:
      - nt5aMZQ20VbmQ/d+gpP3HsGr+Z1pPF2YO5YAw0yHcuE=
      x-ms-date:
      - Dec, 16 2024 18:50:01.728037 GMT
    method: PUT
    uri: https://aadtestmnc6z7yw.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"mbiPXS-NCgjB1BQikCGWbm6npkQtoIepMqKnRCk2kW8","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-12-16T18:50:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mbiPXS-NCgjB1BQikCGWbm6npkQtoIepMqKnRCk2kW8"'
      last-modified:
      - Mon, 16 Dec 2024 18:50:01 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM0OTg2Nw==;sn=66349867
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 16 2024 18:50:01.864571 GMT
    method: GET
    uri: https://aadtestmnc6z7yw.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSM2NjM0OTg2Nw==;sn=66349867
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}, "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM0OTg2Nw==
      x-ms-content-sha256:
      - qUbAHdy41dQGn2LBJ0FwXErvzXZfPdfL7J69coP3jg4=
      x-ms-date:
      - Dec, 16 2024 18:50:02.182034 GMT
    method: PUT
    uri: https://aadtestmnc6z7yw.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"pj8PkAKq7ePHR4dyb0rfpAi_lvvuDjz9tfUgjsHvOlw","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-12-16T18:50:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pj8PkAKq7ePHR4dyb0rfpAi_lvvuDjz9tfUgjsHvOlw"'
      last-modified:
      - Mon, 16 Dec 2024 18:50:02 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM0OTg2OA==;sn=66349868
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users?$filter=userPrincipalName%20eq%20%27cwanjau%40microsoft.com%27
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users",
        "value": [{"businessPhones": [], "displayName": "Christine WANJAU", "givenName":
        "Christine", "jobTitle": "SOFTWARE ENGINEER", "mail": "cwanjau@microsoft.com",
        "mobilePhone": null, "officeLocation": "NAIROBI-WAIYAKI WAY/Mobile", "preferredLanguage":
        null, "surname": "WANJAU", "userPrincipalName": "cwanjau@microsoft.com", "id":
        "43ddb22f-baef-4d3f-9e56-3a89871b9b59"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Europe","Slice":"E","Ring":"5","ScaleUnit":"006","RoleInstance":"AM1PEPF0003D304"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestmnc6z7yw/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value": [{"properties": {"roleName": "App Configuration Data Reader",
        "type": "BuiltInRole", "description": "Allows read access to App Configuration
        data.", "assignableScopes": ["/"], "permissions": [{"actions": [], "notActions":
        [], "dataActions": ["Microsoft.AppConfiguration/configurationStores/*/read"],
        "notDataActions": []}], "createdOn": "2019-10-25T18:45:33.7975332Z", "updatedOn":
        "2021-11-11T20:14:11.5885341Z", "createdBy": null, "updatedBy": null}, "id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071",
        "type": "Microsoft.Authorization/roleDefinitions", "name": "516239f1-63e1-4d78-a4de-a74fb236a071"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071",
      "principalId": "43ddb22f-baef-4d3f-9e56-3a89871b9b59", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestmnc6z7yw/providers/Microsoft.Authorization/roleAssignments/ae60ebc8-e7bf-4b6d-b66c-6f6cfc4435dc?api-version=2022-04-01
  response:
    body:
      string: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071",
        "principalId": "43ddb22f-baef-4d3f-9e56-3a89871b9b59", "principalType": "User",
        "scope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestmnc6z7yw",
        "condition": null, "conditionVersion": null, "createdOn": "2024-12-16T18:50:05.3981554Z",
        "updatedOn": "2024-12-16T18:50:05.6321524Z", "createdBy": null, "updatedBy":
        "43ddb22f-baef-4d3f-9e56-3a89871b9b59", "delegatedManagedIdentityResourceId":
        null, "description": null}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestmnc6z7yw/providers/Microsoft.Authorization/roleAssignments/ae60ebc8-e7bf-4b6d-b66c-6f6cfc4435dc",
        "type": "Microsoft.Authorization/roleAssignments", "name": "ae60ebc8-e7bf-4b6d-b66c-6f6cfc4435dc"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"key": "Color", "content_type": "", "value": "Blue", "tags": {}, "locked":
      false, "etag": "mbiPXS-NCgjB1BQikCGWbm6npkQtoIepMqKnRCk2kW8"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"mbiPXS-NCgjB1BQikCGWbm6npkQtoIepMqKnRCk2kW8"'
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM1MDA3MA==
    method: PUT
    uri: https://aadtestmnc6z7yw.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestmnc6z7yw.azconfig.io/kv?label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"LKEkn_GJ9rKhgnX199Yo36jWnH4BqY82Bw-2Aa_vkf0","items":[{"etag":"pj8PkAKq7ePHR4dyb0rfpAi_lvvuDjz9tfUgjsHvOlw","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-12-16T18:50:02+00:00"},{"etag":"mbiPXS-NCgjB1BQikCGWbm6npkQtoIepMqKnRCk2kW8","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-12-16T18:50:01+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"LKEkn_GJ9rKhgnX199Yo36jWnH4BqY82Bw-2Aa_vkf0"'
      sync-token:
      - zAJw6V16=MzoxOSM2NjM1MDA3MA==;sn=66350070
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestmnc6z7yw.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"-dSgEGi7EhKhKdkgzGQ3VE_7kYOVsTHM15nvYIMWFLI","items":[{"etag":"pj8PkAKq7ePHR4dyb0rfpAi_lvvuDjz9tfUgjsHvOlw","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-12-16T18:50:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"-dSgEGi7EhKhKdkgzGQ3VE_7kYOVsTHM15nvYIMWFLI"'
      sync-token:
      - zAJw6V16=MzoxOSM2NjM1MDA3MA==;sn=66350070
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestmnc6z7yw/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Owner%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value": [{"properties": {"roleName": "App Configuration Data Owner[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestmnc6z7yw.azconfig.io/kv/HostSecrets?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSM2NjM1MTUyNw==;sn=66351527
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestmnc6z7yw.azconfig.io/kv?key=%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"tRYn61tWhHSDp-vi6u-vtoVcG15r-uEmQ5nVtYMZ5WM","items":[{"etag":"pj8PkAKq7ePHR4dyb0rfpAi_lvvuDjz9tfUgjsHvOlw","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-12-16T18:50:02+00:00"},{"etag":"QtaKe39tTuuy7sa9jlcrVNG59EwxmeEfOl3F3wAmKTg","key":"Color","label":null,"content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2024-12-16T19:20:24+00:00"},{"etag":"9A06MAsk4SKKycLwpwR_kcIyxV9ts7_zH1BYH1F6REU","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2024-12-16T19:20:25+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"tRYn61tWhHSDp-vi6u-vtoVcG15r-uEmQ5nVtYMZ5WM"'
      sync-token:
      - zAJw6V16=MzoxOSM2NjM1MTUyOA==;sn=66351528
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM1MTUyOA==
    method: GET
    uri: https://aadtestmnc6z7yw.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"-dSgEGi7EhKhKdkgzGQ3VE_7kYOVsTHM15nvYIMWFLI","items":[{"etag":"pj8PkAKq7ePHR4dyb0rfpAi_lvvuDjz9tfUgjsHvOlw","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-12-16T18:50:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"-dSgEGi7EhKhKdkgzGQ3VE_7kYOVsTHM15nvYIMWFLI"'
      sync-token:
      - zAJw6V16=MzoxOSM2NjM1MTUyOA==;sn=66351528
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM1MTUyOA==
    method: PUT
    uri: https://aadtestmnc6z7yw.azconfig.io/kv/Language?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"N_pSYNXY9r4AwkMSJUEJLqpiodlTciqQ5sCFlHxfM7o","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2024-12-16T19:20:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"N_pSYNXY9r4AwkMSJUEJLqpiodlTciqQ5sCFlHxfM7o"'
      last-modified:
      - Mon, 16 Dec 2024 19:20:25 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM1MTUyOQ==;sn=66351529
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "font-size", "value": "34", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM1MTUyOQ==
    method: PUT
    uri: https://aadtestmnc6z7yw.azconfig.io/kv/font-size?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"eYNQyzO3yKDLV2kuD7bT7lWbrZeJ3cby-y8dFVaUtKY","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2024-12-16T19:20:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eYNQyzO3yKDLV2kuD7bT7lWbrZeJ3cby-y8dFVaUtKY"'
      last-modified:
      - Mon, 16 Dec 2024 19:20:26 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM1MTUzMA==;sn=66351530
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM1MTUzMA==
    method: PUT
    uri: https://aadtestmnc6z7yw.azconfig.io/kv/.appconfig.featureflag%2FPercentage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"5U-x-mEvEJQrSUcwIYaQSmd1QK4H2_bQ-Xsfr75XCMA","key":".appconfig.featureflag/Percentage","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": \"\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2024-12-16T19:20:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5U-x-mEvEJQrSUcwIYaQSmd1QK4H2_bQ-Xsfr75XCMA"'
      last-modified:
      - Mon, 16 Dec 2024 19:20:26 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM1MTUzMQ==;sn=66351531
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NjM1MTUzMQ==
    method: PUT
    uri: https://aadtestmnc6z7yw.azconfig.io/kv/.appconfig.featureflag%2FTimestamp?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"YvRV4aaGYnldgL8xcnMYnKSkk8WQqnTyP4ncxTyhdsI","key":".appconfig.featureflag/Timestamp","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Timestamp\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        [{\"name\": \"Local Tests\", \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\",
        \"EndTime\": \"2019-09-01T00:00:00Z\"}}, {\"name\": \"Production Tests\",
        \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\", \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}","tags":{},"locked":false,"last_modified":"2024-12-16T19:20:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YvRV4aaGYnldgL8xcnMYnKSkk8WQqnTyP4ncxTyhdsI"'
      last-modified:
      - Mon, 16 Dec 2024 19:20:26 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NjM1MTUzMg==;sn=66351532
    status:
      code: 200
      message: OK
[...]
