interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-09-04T08:30:12.3289203+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/U_8aQ6fv3qzAxbX4apycngCXjUIIcbMX40WzQQz0GMw?api-version=2023-03-01&t=638610354125598295&c=MIIHhzCCBm-gAwIBAgITfAURLZ3typdTL74CVwAABREtnTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjI3MTU1MDE3WhcNMjUwNjIyMTU1MDE3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/U_8aQ6fv3qzAxbX4apycngCXjUIIcbMX40WzQQz0GMw?api-version=2023-03-01&t=638610354125598295&c=MIIHhzCCBm-gAwIBAgITfAURLZ3typdTL74CVwAABREtnTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjI3MTU1MDE3WhcNMjUwNjIyMTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-09-04T08:30:12+00:00","endpoint":"https://kvtestnpgb6dbsjumknobxru.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"cwanjau@microsoft.com","createdByType":"User","createdAt":"2024-09-04T08:30:12+00:00","lastModifiedBy":"cwanjau@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-09-04T08:30:12+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestnpgb6dbsjumknobxru","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0100e82c-0000-0100-0000-66d81a960000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest","name":"garywangtest","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},"privateLinkServiceConnectionState":{"status":"Pending","description":"ms","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-28T11:10:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZrtTuNGGIXvJar6a0wgKUWLtKqm4O26QELtRHT338QZsg7J2DtjE2DVe%2B/7jj/iAHsBR%2BIPoCAfzvvt58fA6KfyOjMPbnD%2BY3AXJrOLcDKL5fU8GZwPvpVl4c6Hw60yaqW32pRH6qWy%2BijNt0NXLVxqs6LMcuOGZ2fLU7U4/j0408tl8JvWabBI9YfgdJSenCzOTheL8dmwsPljttTWDW%2By1OYuvy%2BPZFFc5OY%2BW1VW8Z8apv3vkjK32v2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3Y/bSsQwEIbfJYhXm6btWsMWFininb2x6wPkMBtDyYFJWlcX391Yb3wGYWCY/%2Bcb%2BK7EwyU/Wz8n0l/J0zCdXifSk7ecY%2BoZc8ILAw58rsTnglCp4FhaZFJoY7bBJ8a57oSs7ykHrekdgKJSwYF2rWoayTsp95xFDKvVgImNVmFI4ZyrIcbH4M/WLCh%2BXjH195pyQEgPIlq6Fq70x7Zu97Qu09zepNnGU5jBHz%2BWd6DWxYCZwmVbIkaaAFergHztiEA3GINgRAa9QcVweBnJbrMfBc6AJfq17/%2BR%2Bzc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ee63f161-7656-458a-90ae-845f8514d434
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"KWwB","name":"Primary","value":"Ct0hKQAH6tghW53tuyh1H3ojCf33TQ0SFk3QExKEdbncfsB7SJ9DJQQJ99AIACYeBjFAArohAAACAZACDY2z","connectionString":"Endpoint=https://kvtestnpgb6dbsjumknobxru.azconfig.io;Id=KWwB;Secret=Ct0hKQAH6tghW53tuyh1H3ojCf33TQ0SFk3QExKEdbncfsB7SJ9DJQQJ99AIACYeBjFAArohAAACAZACDY2z","lastModified":"2024-09-04T08:30:12+00:00","readOnly":false},{"id":"Ne2N","name":"Secondary","value":"BVrZWicz3f7r4BZPbrjK4uLmb5lGjnF3tEkqAdvuEINE8GMfdj9QJQQJ99AIACYeBjFAArohAAACAZACUD42","connectionString":"Endpoint=https://kvtestnpgb6dbsjumknobxru.azconfig.io;Id=Ne2N;Secret=BVrZWicz3f7r4BZPbrjK4uLmb5lGjnF3tEkqAdvuEINE8GMfdj9QJQQJ99AIACYeBjFAArohAAACAZACUD42","lastModified":"2024-09-04T08:30:12+00:00","readOnly":false},{"id":"i0QJ","name":"Primary
        Read Only","value":"D2k7jMPT42MccV2hqzWrCgqySbtSN5CYQQhVqIceCNMqjpEeRpiVJQQJ99AIACYeBjFAArohAAABAZACJZUe","connectionString":"Endpoint=https://kvtestnpgb6dbsjumknobxru.azconfig.io;Id=i0QJ;Secret=D2k7jMPT42MccV2hqzWrCgqySbtSN5CYQQhVqIceCNMqjpEeRpiVJQQJ99AIACYeBjFAArohAAABAZACJZUe","lastModified":"2024-09-04T08:30:12+00:00","readOnly":true},{"id":"tcz3","name":"Secondary
        Read Only","value":"4NUUm0P2qxp5GfvksWKh73UVfsJ1mXZCf6Vx5uNJ2uGr7fw6gJkKJQQJ99AIACYeBjFAArohAAABAZAC54g6","connectionString":"Endpoint=https://kvtestnpgb6dbsjumknobxru.azconfig.io;Id=tcz3;Secret=4NUUm0P2qxp5GfvksWKh73UVfsJ1mXZCf6Vx5uNJ2uGr7fw6gJkKJQQJ99AIACYeBjFAArohAAABAZAC54g6","lastModified":"2024-09-04T08:30:12+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 04 2024 08:30:56 GMT
    method: GET
    uri: https://kvtestnpgb6dbsjumknobxru.azconfig.io/kv?key=%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM2NzcxNjc3Ng==;sn=67716776
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NToxOSM2NzcxNjc3Ng==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 04 2024 08:30:56 GMT
    method: GET
    uri: https://kvtestnpgb6dbsjumknobxru.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM2NzcxNjc3Ng==;sn=67716776
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzcxNjc3Ng==
      x-ms-content-sha256:
      - 8iLdcWDtWLJ8PYg7E6yLqnb7ejltzQCh53RwNMv7mKs=
      x-ms-date:
      - Sep, 04 2024 08:30:56 GMT
    method: PUT
    uri: https://kvtestnpgb6dbsjumknobxru.azconfig.io/kv/Language?api-version=1.0
  response:
    body:
      string: '{"etag":"-rVIOctZcAhqx44R_xTOb83gG5Vtlb_NKizKEBY5YcE","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2024-09-04T08:30:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"-rVIOctZcAhqx44R_xTOb83gG5Vtlb_NKizKEBY5YcE"'
      last-modified:
      - Wed, 04 Sep 2024 08:30:56 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzcxNjc3Nw==;sn=67716777
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzcxNjc3Nw==
      x-ms-content-sha256:
      - 1FHvbxOPu6FW3+2pQFjxMT+epjbFMPYBGmgoojwEo4g=
      x-ms-date:
      - Sep, 04 2024 08:30:56 GMT
    method: PUT
    uri: https://kvtestnpgb6dbsjumknobxru.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"qTjxEUmW7-0tWKi29i5Op51gKOX4MskLErHSj-d9llI","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-09-04T08:30:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qTjxEUmW7-0tWKi29i5Op51gKOX4MskLErHSj-d9llI"'
      last-modified:
      - Wed, 04 Sep 2024 08:30:56 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzcxNjc3OA==;sn=67716778
    status:
      code: 200
      message: OK
[...]
