interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-12-17T02:19:23.5556404+00:00","endpoint":"https://FeatureFilterTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/232b72f7-af29-fa66-2eb2-419cfb90d3ac?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/232b72f7-af29-fa66-2eb2-419cfb90d3ac?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/232b72f7-af29-fa66-2eb2-419cfb90d3ac","name":"232b72f7-af29-fa66-2eb2-419cfb90d3ac","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/232b72f7-af29-fa66-2eb2-419cfb90d3ac?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-12-17T02:19:30+00:00","endpoint":"https://featurefiltertestarbt7sg.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertestarbt7sg","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"02007bb0-0000-0100-0000-5df83b310000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"yTz8-l0-s0:RDI5aHAzEEkxsQUlAX98","name":"Primary","value":"Kn7AbA4WUvGe4oeJVe6PKVES9JEaxTMOh4xJYLFs25M=","connectionString":"Endpoint=https://featurefiltertestarbt7sg.azconfig.io;Id=yTz8-l0-s0:RDI5aHAzEEkxsQUlAX98;Secret=Kn7AbA4WUvGe4oeJVe6PKVES9JEaxTMOh4xJYLFs25M=","lastModified":"2019-12-17T02:19:29+00:00","readOnly":false},{"id":"w6C1-l0-s0:65380tRsGyLu1E5IUKxa","name":"Secondary","value":"w/UGKbpwpwjHHvLlUEihXPvT6G3DyylKTgGuXEzpLoQ=","connectionString":"Endpoint=https://featurefiltertestarbt7sg.azconfig.io;Id=w6C1-l0-s0:65380tRsGyLu1E5IUKxa;Secret=w/UGKbpwpwjHHvLlUEihXPvT6G3DyylKTgGuXEzpLoQ=","lastModified":"2019-12-17T02:19:29+00:00","readOnly":false},{"id":"Tb9R-l0-s0:HjJy3KjjC+ClUNp1yK23","name":"Primary
        Read Only","value":"H8ev8MvZ7/sGH9cDJKMFkIThejFrEw3QCjnU3bRhyhs=","connectionString":"Endpoint=https://featurefiltertestarbt7sg.azconfig.io;Id=Tb9R-l0-s0:HjJy3KjjC+ClUNp1yK23;Secret=H8ev8MvZ7/sGH9cDJKMFkIThejFrEw3QCjnU3bRhyhs=","lastModified":"2019-12-17T02:19:29+00:00","readOnly":true},{"id":"1juz-l0-s0:jzSvwN+CiTBx85WO4qKU","name":"Secondary
        Read Only","value":"oEndlBATNMv4Qh6PhcYcOSjyPYUR3bXQ7S8Ioyh7wKs=","connectionString":"Endpoint=https://featurefiltertestarbt7sg.azconfig.io;Id=1juz-l0-s0:jzSvwN+CiTBx85WO4qKU;Secret=oEndlBATNMv4Qh6PhcYcOSjyPYUR3bXQ7S8Ioyh7wKs=","lastModified":"2019-12-17T02:19:29+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2019 02:19:41 GMT
    method: GET
    uri: https://featurefiltertestarbt7sg.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - HF+Q5niPp84JSZhSIuZKwKoZ3/RkW6/V7T3Z9yLIlD4=
      x-ms-date:
      - Dec, 17 2019 02:19:42 GMT
    method: PUT
    uri: https://featurefiltertestarbt7sg.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"oSr9OUB5EylJ2xkTIyfP4y6K5Sq","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2019-12-17T02:19:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oSr9OUB5EylJ2xkTIyfP4y6K5Sq"'
      last-modified:
      - Tue, 17 Dec 2019 02:19:42 GMT
      sync-token:
      - zAJw6V16=NDotMSM4OTU4MzQ=;sn=895834
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\":
      [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\":
      \"{\\\"key\\\":\\\"value\\\"}\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"oSr9OUB5EylJ2xkTIyfP4y6K5Sq"'
      x-ms-content-sha256:
      - v3p0vR3H97VCtcwApb1o6/qpQAExUnVgwZdPw6oroxE=
      x-ms-date:
      - Dec, 17 2019 02:19:49 GMT
    method: PUT
    uri: https://featurefiltertestarbt7sg.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"XlBuxOwS8HGkGKzlZoqcLQCIeKX","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
        \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}}]}}","tags":{},"locked":false,"last_modified":"2019-12-17T02:19:49+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XlBuxOwS8HGkGKzlZoqcLQCIeKX"'
      last-modified:
      - Tue, 17 Dec 2019 02:19:49 GMT
      sync-token:
      - zAJw6V16=NDotMSM4OTU4MzU=;sn=895835
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Color\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\":
      [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\":
      \"{\\\"key\\\":\\\"value\\\"}\"}}, {\"name\": \"SecondFilter\", \"parameters\":
      {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\", \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\":
      \"ParamNameIsJsonString\"}}]}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"XlBuxOwS8HGkGKzlZoqcLQCIeKX"'
      x-ms-content-sha256:
      - DC7vcOL4kT+YRFheiEMb5mUWKOGj4sxiPUpYtC5GxtI=
      x-ms-date:
      - Dec, 17 2019 02:19:51 GMT
    method: PUT
    uri: https://featurefiltertestarbt7sg.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
   [...]
[...]
