interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-06-30T08:21:26.4914753+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null}, "sku": {"name": "Standard"}, "systemData":
        null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002",
        "name": "StrictImportTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OqtlLJcpHV2AQnPf14Y1rhgr4kQP28_P7dGUsSbBqoY?api-version=2024-06-01&t=638868684868828216&c=MIIHpTCCBo2gAwIBAgITfwV1hryhjutNBgX8OgAEBXWGvDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDIwMTgwNDEyWhcNMjUxMDE3MTgwNDEyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OqtlLJcpHV2AQnPf14Y1rhgr4kQP28_P7dGUsSbBqoY?api-version=2024-06-01&t=638868684868828216&c=MIIHpTCCBo2gAwIBAgITfwV1hryhjutNBgX8OgAEBXWGvDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDIwMTgwNDEyWhcNMjUxMDE3MTg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-06-30T08:21:26+00:00", "endpoint": "https://strictimporttestqfoewmdj.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2025-06-30T08:21:26+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2025-06-30T08:21:26+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/strictimporttestqfoewmdj",
        "name": "StrictImportTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"60005914-0000-0100-0000-686249080000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2022-10-05T17:47:19+00:00", "endpoint": "https://storagemetrictest.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=1dVdi5tAFAbg/zKUXmWijuYTliJLoGU33RKV3ngzOx6tGD%2BYGdPQkP/e4yTrbkrL0su5kmgSfHjPnPdEGjjqx7KpFFmfyPdNFN9vvsa78DGJyJr80LpTa8epecMLqKHRU/6rlzAVbe2o/lkJWXa6bBvlCLZwAcSCLhkwGmT5jK6W8EzBzzweBPmCceZ0sj2UGUjlbEshW9Xmehp23X3b5GXRSz78lSPefop0K0F94l1JD/g7fH7HXBZQd05d7%2BMHVZVd3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=1ZDdSsQwEIXfJYhXpunGatfCIkUELyyCXe96k02mNdRmwiRdxNJ3N/6A%2BwpezplzDnxnYQ7e46N1Y2DVwu7rdv/Ssoq9xuhDJcSknBpgAhcz9TETZBonEeZD0GR9tOiC0LLMAXTJtxIkL0x/xW%2B2cOBwaTaqKPpSKik84dEaoCAaqwkD9jGrvb9D19thJvVVJfTp1UYkCLfKW35MufTfyVwWPL/m%2Beb8LIzW73EEt4sQYnLiTBocemDrxR/Uk3vAN5PQkqhoqoeBYFARzHc2gdbPDfvxN4pGoCQt3e8OHau6/7xEx1a2fgI%3D
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2023-06-16T01:01:19+00:00", "endpoint": "https://vnetlocaleus.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "publicNetworkAccess": "Disabled", "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "defaultKeyValueRevisionRetentionPeriodInSeconds": 2592000, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "19fcf05b-3ddc-4cf1-8424-9c255c2a60a4",
        "createdByType": "Application", "createdAt": "2023-06-16T01:01:19+00:00",
        "lastModifiedBy": "test@example.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2025-01-07T23:13:49+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/integrationrglocaleastus/providers/Microsoft.AppConfiguration/configurationStores/vnetlocaleus",
        "name": "VNETlocalEUS", "tags": {"donotdelete": ""}}, {"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2022-09-16T17:53:25+00:00", "endpoint": "https://wsb13localeastus2022-09-16--17-53-22-87.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "ena[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3VBBasMwEPyLKD11LVmxG9cQiimFHhoKTXrzRZHXrnAsCUkOpsZ/r5IWmjf0suzOzA7MzETjFF6V7j0pZ/Jc7fYfO1KSzxCsLykdhBYdDqhDIr5Gh4k0A/XjwUunbFBGeyr5miHKNRQcOWRNm8NDgQfAVZOKLGvXXHBqnTmpBp2nWyWd8aYNSWXtk9Gt6kYnzlZUXl%2B7YBz6R2EVnOJf5Dec8QzYPbD09sb3yu5Nj3ozTdCOWh6NFMfLQOHD6KOYAytglQIwBiw/b3lKlru/yG/6xRybGDyCwg1V1znsRMDm4hxrqN635Ee/Fa5HF6G5/m2pJmX9f3uqyUKWbw%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 00904068-1995-43b1-b77e-4ead8de21247
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002/listKeys?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://strictimporttestqfoewmdj.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-06-30T08:21:26+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://strictimporttestqfoewmdj.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-06-30T08:21:26+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://strictimporttestqfoewmdj.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-06-30T08:21:26+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://strictimporttestqfoewmdj.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-06-30T08:21:26+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:22:05.477165 GMT
    method: GET
    uri: https://strictimporttestqfoewmdj.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1MzY=;sn=94961536
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1MzY=
      x-ms-content-sha256:
      - vooIQS2Lc83p3cZJS7Qp5TL+wPNgfiHeUrZC71Varzs=
      x-ms-date:
      - Jun, 30 2025 08:22:05.826870 GMT
    method: PUT
    uri: https://strictimporttestqfoewmdj.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"w-4tOKu4aCayDaP_rpKgwfX_dw-_eDutznPjoY4B1Dg","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2025-06-30T08:22:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"w-4tOKu4aCayDaP_rpKgwfX_dw-_eDutznPjoY4B1Dg"'
      last-modified:
      - Mon, 30 Jun 2025 08:22:06 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1Mzc=;sn=94961537
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"bool-feature\", \"description\": \"It is a boolean feature\",
      \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\":
      null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1Mzc=
      x-ms-content-sha256:
      - UhxU[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1Mzg=
      x-ms-content-sha256:
      - Z9vdOmW9IIdhx2BgTvHER4NiDLOkF6QL50jtUUXyuos=
      x-ms-date:
      - Jun, 30 2025 08:22:06.491864 GMT
    method: PUT
    uri: https://strictimporttestqfoewmdj.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=2023-11-01
  response:
    body:
      stri[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1Mzk=
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Jun, 30 2025 08:22:06.817055 GMT
    method: PUT
    uri: https://strictimporttestqfoewmdj.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"B1SVkqYRdc9DVbqxjcdGofC_cRJRAx1mbhq1D0Cpn7A","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2025-06-30T08:22:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"B1SVkqYRdc9DVbqxjcdGofC_cRJRAx1mbhq1D0Cpn7A"'
      last-modified:
      - Mon, 30 Jun 2025 08:22:07 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDA=;sn=94961540
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDA=
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Jun, 30 2025 08:22:07.143149 GMT
    method: PUT
    uri: https://strictimporttestqfoewmdj.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"tY7SLzoiFJlwG9t9LRwlSJEyyaM2B2iraEsZ9Qn9QiY","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-06-30T08:22:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tY7SLzoiFJlwG9t9LRwlSJEyyaM2B2iraEsZ9Qn9QiY"'
      last-modified:
      - Mon, 30 Jun 2025 08:22:07 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDE=;sn=94961541
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDE=
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Jun, 30 2025 08:22:07.478782 GMT
    method: PUT
    uri: https://strictimporttestqfoewmdj.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"ZHdLEqBZ3_yYVzkR0_4Q_6vWYKrfzKelHZLp1YAj8Hg","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-06-30T08:22:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZHdLEqBZ3_yYVzkR0_4Q_6vWYKrfzKelHZLp1YAj8Hg"'
      last-modified:
      - Mon, 30 Jun 2025 08:22:07 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDI=;sn=94961542
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDI=
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Jun, 30 2025 08:22:07.793819 GMT
    method: PUT
    uri: https://strictimporttestqfoewmdj.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"b30QEriwRS6GrCLVNe_r_ehzdcXSSWAA7ZNIkbkHQcw","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-06-30T08:22:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"b30QEriwRS6GrCLVNe_r_ehzdcXSSWAA7ZNIkbkHQcw"'
      last-modified:
      - Mon, 30 Jun 2025 08:22:08 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDM=;sn=94961543
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDM=
      x-ms-content-sha256:
      - KG6foKmNh5fImJNssBeIcpD6vIlOFOyqNrEtrNcI1x4=
      x-ms-date:
      - Jun, 30 2025 08:22:08.125891 GMT
    method: PUT
    uri: https://strictimporttestqfoewmdj.azconfig.io/kv/pratik-top-secret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"xZaXtpGSdyufgseO-LalnGUEfd4ke0qxu6D63_mQkVk","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2025-06-30T08:22:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"xZaXtpGSdyufgseO-LalnGUEfd4ke0qxu6D63_mQkVk"'
      last-modified:
      - Mon, 30 Jun 2025 08:22:08 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDQ=;sn=94961544
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDQ=
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Jun, 30 2025 08:22:08.409111 GMT
    method: PUT
    uri: https://strictimporttestqfoewmdj.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"a_o3Fq30ad_4XmG1yiOePoKoiv2FaT9aPYJa4QKnt8g","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2025-06-30T08:22:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"a_o3Fq30ad_4XmG1yiOePoKoiv2FaT9aPYJa4QKnt8g"'
      last-modified:
      - Mon, 30 Jun 2025 08:22:08 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE1NDU=;sn=94961545
    status:
      code: 200
      message: OK
[...]
