interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true, "softDeleteRetentionInDays": 1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-03-03T18:49:51.2955089+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002","name":"DisableLocalAuth000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/hzgcH3vwefkTPZB6coegAVxy-lNxvSQtfgs6--LScXg?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/hzgcH3vwefkTPZB6coegAVxy-lNxvSQtfgs6--LScXg?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/hzgcH3vwefkTPZB6coegAVxy-lNxvSQtfgs6--LScXg","name":"hzgcH3vwefkTPZB6coegAVxy-lNxvSQtfgs6--LScXg","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/hzgcH3vwefkTPZB6coegAVxy-lNxvSQtfgs6--LScXg?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-03T18:49:52+00:00","endpoint":"https://disablelocalauthxpw72tr6.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":true,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-03-03T18:49:52+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-03T18:49:53+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/disablelocalauthxpw72tr6","name":"DisableLocalAuth000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d200c30e-0000-0100-0000-640241510000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSaQjaEhVdMdpFo2Glj%2BCKlvjmOCCziZ7QBq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5uFkDsdTF%2BDdZwXszgtMliUeTANtsZ0ehqGByppww9cmgF96RUfsPYQ6r7STInOiFbqcDKpx7QafiETXtfkM%2BeMVIx%2FJeOIjUbVZFxVnyZhp9qjqLnS4aNgqtXtxgyg62at3IimV9R9KmS3T7lpFdffaCfI0b5nf7%2BPhlFEhmMyHH38oHeiK9odl%2Feaq6NgnBjakBPrdXAX%2FAckFxAnCzY9zv25N1wb7QS0YsSAk4EcJTeE%2B4FyOsRltlzFuLxhtqo1Zi9k49WIrBz5six%2BOE0gTwAXza3TNacWBsrcRVYCDggvDKe9hUmXmVUG4ZTd6iK5Q%2FFDhjuFXZ1om8Lk3xyLEE9Zr10AXDoFGcfJ%2FncvxEmYbdubbm9JvmfwlCz8rOFVpVJ%2BY4EU5vDuGLwwjDKryztGks4xNwwT0rLgbMrr%2FuUM%2F5BBOovRz9ZGudn6CStIcbf9c%2BfW4l%2FLLMZv%2BJ0XxW8uuOveHx%2Fl5dTlGwUesmQGngxXHj%2FbdZ%2FaozNxIUBeqEuxm6bE550rkK1K55x8Hc9jm2j%2BtgKpNvrkwixfJ8VTnC0gnbutDCvL%2FjSyML%2BhgAy3Kt4xf%2FwO4zMA4QZzNYsW0ieAVeaazHEJK1xDpulBaFpvKOm4v5CxOC7ByjzCB%2BNuxiitg7e7gKoDNI3iDTW89veYVhfIHoO3vw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ba7134e9-70e8-4c61-8bce-965c42939d4a
      - 8923a49f-7b7d-4bb6-be81-8ba6e86e9261
      - 0c5abf8d-4ca3-4f29-b053-ff22a5d82e47
      - 6814e149-f7aa-4390-bc0f-8984245ba600
      - ad6d1e39-fd2a-4500-8b6f-bccb4b9934b3
      - 8b076a6d-09c3-40f8-a8d3-db35583f3288
      - 0b12feb3-2451-4ae5-b24f-219c944be03f
      - fa84416e-de7b-4100-b7b2-8eccf19a9be9
      - 00363340-c9e7-415e-8a3a-07b8c0ef9c8c
      - 27ed6408-7257-424f-9b50-110c5bb04e64
      - b08bd1d0-8b8a-4140-8379-04855bfe0604
      - 827179b1-d8b1-40eb-9665-f7395d7ca2c8
      - c83fa8b7-27e2-4ce4-b309-cc0a22ae101c
      - 1b291282-a094-4e64-bfb1-95c3f3613c5c
      - 1cce89a9-bca7-4c59-9062-5b993a7079f4
      - 6e11a179-464c-4926-bc98-9236613d025c
      - e530a97a-c235-4468-a49f-c2c913ee920e
      - 0ebde7ed-77e4-4ace-a862-a300eb62832c
      - d0a464f7-36e4-4a6e-b281-8fffde65a600
      - 309ee737-f85d-436d-8fa4-e0bcf8364db3
      - a4484053-85f8-4513-9a53-683b324135b0
      - 4897647c-2e5b-439f-bf5a-c0240c6fd760
      - 86c0a5ca-0d1a-4600-bc49-acde9d3247cf
      - 48aa54b8-7b3b-49db-a767-4e04251e640c
      - 47666466-9448-436a-9f6b-75e7cb7e2b97
      - a03d61fc-1829-4647-a47f-57630dbc127b
      - 306754bc-e6e5-4940-838f-e6b6631c6b18
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"uXpr-l0-s0:JN3aC7KABByvXRXvwWBL","name":"Primary","value":"ToY1V79+2vykmg2vP6MiiuXYy5tn+b2lFja3ye5Q2ug=","connectionString":"Endpoint=https://disablelocalauthxpw72tr6.azconfig.io;Id=uXpr-l0-s0:JN3aC7KABByvXRXvwWBL;Secret=ToY1V79+2vykmg2vP6MiiuXYy5tn+b2lFja3ye5Q2ug=","lastModified":"2023-03-03T18:50:06+00:00","readOnly":false},{"id":"+EpT-l0-s0:yrQPJRkOjvyk8xJ+WKnc","name":"Secondary","value":"ng1YttIpG6eoVd0F4xgz25x4YEMhsV3/Uji3y1yytu8=","connectionString":"Endpoint=https://disablelocalauthxpw72tr6.azconfig.io;Id=+EpT-l0-s0:yrQPJRkOjvyk8xJ+WKnc;Secret=ng1YttIpG6eoVd0F4xgz25x4YEMhsV3/Uji3y1yytu8=","lastModified":"2023-03-03T18:50:06+00:00","readOnly":false},{"id":"8XD5-l0-s0:L0vuXfmaV4ACEq4e3JIO","name":"Primary
        Read Only","value":"uxTCzFlbweFKwGnBpyoe8U3s65IyzKgcmLeuTk1Z8JQ=","connectionString":"Endpoint=https://disablelocalauthxpw72tr6.azconfig.io;Id=8XD5-l0-s0:L0vuXfmaV4ACEq4e3JIO;Secret=uxTCzFlbweFKwGnBpyoe8U3s65IyzKgcmLeuTk1Z8JQ=","lastModified":"2023-03-03T18:50:06+00:00","readOnly":true},{"id":"oeTJ-l0-s0:JYHlo3IGTIcHiHENb6QJ","name":"Secondary
        Read Only","value":"5Vr6vA/0gPKKwqy6JVZbsm+hxIfZruopq2mGQdB6wzY=","connectionString":"Endpoint=https://disablelocalauthxpw72tr6.azconfig.io;Id=oeTJ-l0-s0:JYHlo3IGTIcHiHENb6QJ;Secret=5Vr6vA/0gPKKwqy6JVZbsm+hxIfZruopq2mGQdB6wzY=","lastModified":"2023-03-03T18:50:06+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2023 18:50:10 GMT
    method: GET
    uri: https://disablelocalauthxpw72tr6.azconfig.io/kv/test?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMyMTExOTIxOQ==;sn=21119219
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "test", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSMyMTExOTIxOQ==
      x-ms-content-sha256:
      - K/ZgeCKNEgOHURLXqNNghR5xxLAPIMWOIak1mRufo6o=
      x-ms-date:
      - Mar, 03 2023 18:50:10 GMT
    method: PUT
    uri: https://disablelocalauthxpw72tr6.azconfig.io/kv/test?api-version=1.0
  response:
    body:
      string: '{"etag":"YJfFBMdCkZdQ6Z1FMMEK4dOtmrdJbdZwyB_lsdgMuWc","key":"test","label":null,"content_type":"","value":"","tags":{},"locked":false,"last_modified":"2023-03-03T18:50:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YJfFBMdCkZdQ6Z1FMMEK4dOtmrdJbdZwyB_lsdgMuWc"'
      last-modified:
      - Fri, 03 Mar 2023 18:50:10 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyMTExOTIyMA==;sn=21119220
    status:
      code: 200
      message: OK
version: 1
