interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-01-13T05:18:47.562084+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003","name":"KVTest000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/h2hStbTDk_hqHbDhxFeG59d3CUdKUpEzdQtqimeQdOY?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/h2hStbTDk_hqHbDhxFeG59d3CUdKUpEzdQtqimeQdOY?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/h2hStbTDk_hqHbDhxFeG59d3CUdKUpEzdQtqimeQdOY","name":"h2hStbTDk_hqHbDhxFeG59d3CUdKUpEzdQtqimeQdOY","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/h2hStbTDk_hqHbDhxFeG59d3CUdKUpEzdQtqimeQdOY?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-01-13T05:18:47+00:00","endpoint":"https://kvtesto4vb3ga4jhlfkx22vr.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-01-13T05:18:47+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-13T05:18:48+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtesto4vb3ga4jhlfkx22vr","name":"KVTest000003","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"330081dd-0000-0100-0000-63c0e9b80000"'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}, "attributes":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.0
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/438682a8f93f4a29ae37b191d3d4a187","attributes":{"enabled":true,"created":1673587139,"updated":1673587139,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NFqiYPUo2NBpY%2FQuubYy7BBZzMdkjVqt99tqkQ%2Bwh3jxFKxE%2Fn3HOu%2FRpIeDYLIfc6mLwG6yQvpklaZHRR5sEk2BnT6kkYHplkNRxBmgF76RQMeHMMdVdprkRrRCN1OB5vRqwafiFj2GzIZwBOKg63ZBTzKKrGo6r6NA5b1ZzEBpQOHwRXjW62ZkDbdtrIrag7xdynQn79lJtGgf7KWkFO9j37%2B108jGMyHJFh9PGD3ou2aPYg7zSok%2BBADKtJzzsd3AT%2FAckZxMmCTY%2Fn7rkzoI12AloxEoqTgZwkGALeUE6HpMyWqwTXbJidaow5CFl7NWIrR74si%2B9OE5rPKS6a60nXwCwMLXMXWXPqgPDCAOssTLrMrDIIXXatiwSH4k2GO4VdnWibwuTfHIsRu6zTLgDOnYKMo7f%2F3QvRC7NrOtMeLMm3jD7OF95reFWplN9YaEpn9H1i8MJwxq0u7xjzdIa5YbiQlgVnU172Lzfw9xlNpwl6b22V89YPuqIp7rZ%2Fat1a%2FHOZJfgHfu9F8ZsL7rr3x0d5PnVZnDX9jc9kbuq5AmZge2h6dtjDsQVlveYrkt5n8yn1UuEqmCd7fmH2LoA4PvLCXCxfVT8%2BnS5AtvtdFOTrZJbYiPbXL0i10b1L53w9Lx6TbEHTmVszsbIc%2BsjC%2FKIFzXCr4ifmj1%2FKfAYgXMkuw6KF9AlglblUTVLSFS6TKeCsIVEUjSyHi64yj%2FFRuDs%2BxjbB203A1JHWtYLa1s7G38haQWj2ELz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - f1a1b13a-9de7-4a28-9685-d70ee267064d
      - ba31da7f-9e02-41e3-bce6-847c12a21283
      - 49e39a86-d033-4612-920f-f65ca6759ddd
      - 941be587-f5c1-468e-bdd6-2065c2770c95
      - 4634035e-6277-4ceb-abd8-945482bf4ccf
      - c1edfa6e-ce1f-4cb2-af87-cb8b30c1aa86
      - e4d77947-015e-4a9c-82df-6a23cbc87171
      - 5a6f2022-df3e-4c3c-aae9-a59ed58a7d5c
      - 2babb3e8-7ac4-443f-a135-27e3e9bf2d41
      - 4ef1bfea-eebe-4d3c-a643-20fc63d26a62
      - 968d481c-4d7e-4110-896a-915cff2f40a3
      - d3b2840d-a4df-4efa-a1f5-2429c19e3a75
      - df8832fc-5aa0-48af-86fe-a2463fa412cb
      - ada536c7-440b-46cf-afcd-3f61c208b446
      - 750f8db3-6676-48c5-a7c8-8a7c1892fb07
      - fe942eef-9b3b-442d-af89-c31d29c1901c
      - 6bd662b8-899d-41d7-aabd-8804fed69120
      - 7d1de80e-4302-4cca-8b23-befe70219799
      - b32ec74d-0559-44a3-8096-a7823df4737e
      - 3707b570-ac54-4dd3-a71e-f26eaad5ea44
      - df6a587f-b064-455c-becc-4a561f844837
      - 9f00a2a0-05cb-4911-8c4c-f8cb9fbab7c5
      - 848721a1-007d-4b47-8fbe-26fe791a3c56
      - 8b87abeb-c65c-497a-9f50-c426397def54
      - 772349d9-051d-473b-bb63-6f10bde286a1
      - 0d361882-bb18-4701-98b1-26ea4dc0b181
      - 42ac0927-2e41-478f-b571-ea5a2c780943
      - 2996aedc-c0d4-4f95-97b7-99741dca1de0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"IreD-l0-s0:SimaZ8fWkI+jszwo2TIM","name":"Primary","value":"Y4rnOw4ic8yjrp9ltvU4XKvF37csgA0yRV9ix8X8UJw=","connectionString":"Endpoint=https://kvtesto4vb3ga4jhlfkx22vr.azconfig.io;Id=IreD-l0-s0:SimaZ8fWkI+jszwo2TIM;Secret=Y4rnOw4ic8yjrp9ltvU4XKvF37csgA0yRV9ix8X8UJw=","lastModified":"2023-01-13T05:18:47+00:00","readOnly":false},{"id":"3/VU-l0-s0:pPQCNA9FaPFXCFAcDpEG","name":"Secondary","value":"E05Xm9wBRK9jG+phsQlWQIJotjilGS5nkpXTQ4Y6Pk8=","connectionString":"Endpoint=https://kvtesto4vb3ga4jhlfkx22vr.azconfig.io;Id=3/VU-l0-s0:pPQCNA9FaPFXCFAcDpEG;Secret=E05Xm9wBRK9jG+phsQlWQIJotjilGS5nkpXTQ4Y6Pk8=","lastModified":"2023-01-13T05:18:47+00:00","readOnly":false},{"id":"U4FZ-l0-s0:RPVIe6fnNrXGcIKbxElA","name":"Primary
        Read Only","value":"jO+iea4QG6enauOI0tFFPenVacv0ulTE5tytmi0wcPY=","connectionString":"Endpoint=https://kvtesto4vb3ga4jhlfkx22vr.azconfig.io;Id=U4FZ-l0-s0:RPVIe6fnNrXGcIKbxElA;Secret=jO+iea4QG6enauOI0tFFPenVacv0ulTE5tytmi0wcPY=","lastModified":"2023-01-13T05:18:47+00:00","readOnly":true},{"id":"yOEu-l0-s0:AnIfgemn+LWkayogXHWc","name":"Secondary
        Read Only","value":"mEtSK8PCPN7MAcZMD9Hvi26TgXgke06gtlRsejafo48=","connectionString":"Endpoint=https://kvtesto4vb3ga4jhlfkx22vr.azconfig.io;Id=yOEu-l0-s0:AnIfgemn+LWkayogXHWc;Secret=mEtSK8PCPN7MAcZMD9Hvi26TgXgke06gtlRsejafo48=","lastModified":"2023-01-13T05:18:47+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 13 2023 05:19:02 GMT
    method: GET
    uri: https://kvtesto4vb3ga4jhlfkx22vr.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSMzMjIwOTg0NA==;sn=32209844
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://clitest000002.vault.azure.net/secrets/testSecret/438682a8f93f4a29ae37b191d3d4a187\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSMzMjIwOTg0NA==
      x-ms-content-sha256:
      - 8cdbxdKt6bJozpb238Ki69K6ISVecO/Y1CfWLbmlJ5Y=
      x-ms-date:
      - Jan, 13 2023 05:19:03 GMT
    method: PUT
    uri: https://kvtesto4vb3ga4jhlfkx22vr.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: '{"etag":"bfJy6dlAq2woWPqNsQG7uGsD8OIYz_hq5SxY7r-flyA","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestlukwwxbdfiikij63g.vault.azure.net/secrets/testSecret/438682a8f93f4a29ae37b191d3d4a187\"}","tags":{},"locked":false,"last_modified":"2023-01-13T05:19:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bfJy6dlAq2woWPqNsQG7uGsD8OIYz_hq5SxY7r-flyA"'
      last-modified:
      - Fri, 13 Jan 2023 05:19:02 GMT
      sync-token:
      - zAJw6V16=NToxOSMzMjIwOTg0NQ==;sn=32209845
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 13 2023 05:19:04 GMT
    method: GET
    uri: https://kvtesto4vb3ga4jhlfkx22vr.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"bfJy6dlAq2woWPqNsQG7uGsD8OIYz_hq5SxY7r-flyA","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestlukwwxbdfiikij63g.vault.azure.net/secrets/testSecret/438682a8f93f4a29ae37b191d3d4a187\"}","tags":{},"locked":false,"last_modified":"2023-01-13T05:19:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMzMjIwOTg0OQ==;sn=32209849
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest000002.vault.azure.net/secrets/testSecret/438682a8f93f4a29ae37b191d3d4a187?api-version=7.0
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/438682a8f93f4a29ae37b191d3d4a187","attributes":{"enabled":true,"created":1673587139,"updated":1673587139,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 13 2023 05:19:06 GMT
    method: GET
    uri: https://kvtesto4vb3ga4jhlfkx22vr.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"bfJy6dlAq2woWPqNsQG7uGsD8OIYz_hq5SxY7r-flyA","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestlukwwxbdfiikij63g.vault.azure.net/secrets/testSecret/438682a8f93f4a29ae37b191d3d4a187\"}","tags":{},"locked":false,"last_modified":"2023-01-13T05:19:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMzMjIwOTg2OQ==;sn=32209869
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 13 2023 05:19:09 GMT
    method: GET
    uri: https://kvtesto4vb3ga4jhlfkx22vr.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMzMjIwOTg4MQ==;sn=32209881
    status:
      code: 200
      message: OK
version: 1
