interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true, "createMode": "Default", "softDeleteRetentionInDays": 1, "dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal-python/providers/Microsoft.AppConfiguration/configurationStores/featuretelemetrytest000001?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-07-02T21:57:25.1694277+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal-python/providers/Microsoft.AppConfiguration/configurationStores/featuretelemetrytest000001",
        "name": "featuretelemetrytest000001", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.YPdhiVRsQaXuV1pb7oCD13vm_aawq6eOg3lNmqw4r-o?api-version=2025-08-01-preview&t=639186262452874089&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.YPdhiVRsQaXuV1pb7oCD13vm_aawq6eOg3lNmqw4r-o?api-version=2025-08-01-preview&t=639186262452874089&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoX[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal-python/providers/Microsoft.AppConfiguration/configurationStores/featuretelemetrytest000001?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-07-02T21:57:25+00:00", "endpoint": "https://featuretelemetrytest000001.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-07-02T21:57:25+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-07-02T21:57:25+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal-python/providers/Microsoft.AppConfiguration/configurationStores/featuretelemetrytest000001",
        "name": "featuretelemetrytest000001", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"100124fe-0000-0100-0000-6a46dec60000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://featuretelemetrytest000001.azconfig.io/kv/.appconfig.featureflag%2FTelemetryFeature?api-version=2023-11-01&label=v1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxOSMzMzE2OTk3Ng==;sn=33169976
      x-ms-date:
      - Thu, 02 Jul 2026 21:58:04 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/TelemetryFeature", "label": "v1", "value":
      "{\"id\": \"TelemetryFeature\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}, \"telemetry\": {\"enabled\": true}}", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NzoxOSMzMzE2OTk3Ng==
    method: PUT
    uri: https://featuretelemetrytest000001.azconfig.io/kv/.appconfig.featureflag%2FTelemetryFeature?api-version=2023-11-01&label=v1
  response:
    body:
      string: '{"etag":"zgnnLEuoR5W-iciwvGENMdlaiPZkEKq-ymd8-zn1_MY","key":".appconfig.featureflag/TelemetryFeature","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"TelemetryFeature\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}, \"telemetry\": {\"enabled\": true}}","tags":{},"locked":false,"last_modified":"2026-07-02T21:58:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zgnnLEuoR5W-iciwvGENMdlaiPZkEKq-ymd8-zn1_MY"'
      last-modified:
      - Thu, 02 Jul 2026 21:58:05 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMzE2OTk4MA==;sn=33169980
      x-ms-date:
      - Thu, 02 Jul 2026 21:58:05 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/TelemetryFeature", "label": "v1", "value":
      "{\"id\": \"TelemetryFeature\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}, \"telemetry\": {\"enabled\": false}}", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "tags": {}, "locked":
      false, "etag": "zgnnLEuoR5W-iciwvGENMdlaiPZkEKq-ymd8-zn1_MY"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"zgnnLEuoR5W-iciwvGENMdlaiPZkEKq-ymd8-zn1_MY"'
      Sync-Token:
      - zAJw6V16=NzoxOSMzMzE2OTk4NQ==
    method: PUT
    uri: https://featuretelemetrytest000001.azconfig.io/kv/.appconfig.featureflag%2FTelemetryFeature?api-version=2023-11-01&label=v1
  response:
    body:
      string: '{"etag":"7DLr4aE2Z7BhwEVEKLA7n5qQUjWs0ZD2Rio6PW6gmy8","key":".appconfig.featureflag/TelemetryFeature","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"TelemetryFeature\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}, \"telemetry\": {\"enabled\": false}}","tags":{},"locked":false,"last_modified":"2026-07-02T21:58:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7DLr4aE2Z7BhwEVEKLA7n5qQUjWs0ZD2Rio6PW6gmy8"'
      last-modified:
      - Thu, 02 Jul 2026 21:58:08 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMzE2OTk4OA==;sn=33169988
      x-ms-date:
      - Thu, 02 Jul 2026 21:58:08 GMT
    status:
      code: 200
      message: OK
[...]
