interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-02-24T01:18:32.8604091+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002","name":"AadTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/fhLelVYEkvoDO--Io7w--M2EqW0OQnLdW9IuXPD0IbM?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/fhLelVYEkvoDO--Io7w--M2EqW0OQnLdW9IuXPD0IbM?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/fhLelVYEkvoDO--Io7w--M2EqW0OQnLdW9IuXPD0IbM","name":"fhLelVYEkvoDO--Io7w--M2EqW0OQnLdW9IuXPD0IbM","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/fhLelVYEkvoDO--Io7w--M2EqW0OQnLdW9IuXPD0IbM?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-02-24T01:18:33+00:00","endpoint":"https://aadtestcv5t4q2b.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-02-24T01:18:33+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T01:18:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestcv5t4q2b","name":"AadTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6b022836-0000-0100-0000-63f810690000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NDqiYPXC0bDSx%2FhNQ3xzHBBZzMdghq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5ulkHsdzF6DDcmLOUmLDC%2FLPJgFO2M6PQvDI5W04UcuzYi%2B9IqPWHsMdV9ppkRnRCt1OJ3WE1qNv6Apr2v0mXOGKsa%2FoknMoqiaTqrq0zTsVHsSNVc6fBRMtbrdmhHuunkrt6LpFXWfCtntU25axfU32gl0su%2FZ3%2B%2FjcRyj8QSNo48f9F50Rbvn8l5zdRKMI0MbNLBeB3fBf0ByAXGyQNPj3J97w7XRTkArBsEwGdBJcoO4HyinAymz1ZrA8obZqdaYg5CNVyO2cuSrsvjhNMF5gmHR3Dpdc2phcJm7yEqwA4ILw2lvYdJVZpUBOGW3ukjuUPyQwU5hVyfapjD6N8diwFPWaxcAl04BxjHY%2F%2B6FGITZtb3pDpbke4afkqWfNbiqVMpvLDjFC%2FzuGLgwjDKryztGki4gNwwT0rLAbMrr%2FuUM%2F5DhdE7Az9ZWudn6idc4hd32z51bi3%2BtMgLf8Hsvit9cYNe9Pz7Ky6nLNwp%2ByJI59mSw8vjZrvvUHp2RCwH0Ql2K3TQlPO9cgWxVOufkG7IgNtH8bQVQbfTgwizfJMUTyZY4XbitDCrLYYgszG9c4Ay2Kt4xf%2FwO4zMA4AZzNYsW0ieAVeaazKTEa1hDpjijLYqiaGI5XHSVeQyPwl2JUVoHb3cBVUfcNIo31PDaX2BaQXD2GLz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - da6cfd17-2da1-4a9d-a128-aeebe816991d
      - 701977d0-41c6-4194-8b0e-cda211eda2e6
      - 9bdb80e2-f6ca-4b30-99a6-5bd82396b3d5
      - 1b13f3eb-111f-4316-8278-061216a286ad
      - c3b6d7df-9f35-4f4b-bde7-f1249fb7afd0
      - 700b6fd0-9240-4bfe-bd09-96cf0cf95972
      - 344c607f-24d7-43e6-a4b3-88fc47080c8e
      - 0629f596-3fea-4b4e-8c2a-234dd6b82c6c
      - b32e7064-b3e1-4f42-8817-b29c09f57c29
      - 75a9c45e-8b19-4bc8-8e10-b46e1f6630b0
      - d7fbb9cd-d900-4da1-abe7-4ee9c1523f3e
      - ea54b76f-7277-4787-b69e-8df58fafd102
      - b0574f83-6765-4949-b3ce-c0024be31532
      - 2f2d018f-25dc-46f8-ba9b-85fe8f61d08f
      - 8fa0e113-3ddb-473f-862e-ce85b778d518
      - 3f4ae118-b776-4621-a6b0-67c68f6e2714
      - 70afcb63-fae9-471b-bde2-7b7789103335
      - f09712c0-5721-4516-859a-2411502984c3
      - 77d14ab8-cf0e-40b1-bf73-2d07ef355acf
      - 6129d874-ac61-4e39-8cba-f5a36d9c6370
      - 88dbab39-cba6-4305-98fc-4792e4c450d6
      - d273fe2e-cb95-4e76-b267-f3e80aeee596
      - 9a0db479-f586-44ed-9226-2925bf9b3c3e
      - b5dcb2d2-c27f-40bd-86d3-694cf6aaf71c
      - 49149f00-de47-4301-86ab-dd68e3bd6ae0
      - 6e9467b4-3556-42d4-a603-68520cdc5dfc
      - 35a9cb99-7c00-490c-a7db-1390379bcf01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"mfKn-l0-s0:vVeDlo4RmVuZBmynww9z","name":"Primary","value":"8rQtQ2HqL2zLsDeky2F7IyAsHKWK7ep9y5eJF7T5Trc=","connectionString":"Endpoint=https://aadtestcv5t4q2b.azconfig.io;Id=mfKn-l0-s0:vVeDlo4RmVuZBmynww9z;Secret=8rQtQ2HqL2zLsDeky2F7IyAsHKWK7ep9y5eJF7T5Trc=","lastModified":"2023-02-24T01:18:32+00:00","readOnly":false},{"id":"YkjT-l0-s0:vhKza+fxSTKXAsiJbpuX","name":"Secondary","value":"LTY/bOo51Aq/HZJS8puiJhnBCRNXIcQQoWTfcMSElec=","connectionString":"Endpoint=https://aadtestcv5t4q2b.azconfig.io;Id=YkjT-l0-s0:vhKza+fxSTKXAsiJbpuX;Secret=LTY/bOo51Aq/HZJS8puiJhnBCRNXIcQQoWTfcMSElec=","lastModified":"2023-02-24T01:18:32+00:00","readOnly":false},{"id":"QpYk-l0-s0:jY+geUWTj3yYDERNorn0","name":"Primary
        Read Only","value":"Eo2x9nUYsH/cMr6M2iRQYp8YoiDA5KKCJDrbWXW35P0=","connectionString":"Endpoint=https://aadtestcv5t4q2b.azconfig.io;Id=QpYk-l0-s0:jY+geUWTj3yYDERNorn0;Secret=Eo2x9nUYsH/cMr6M2iRQYp8YoiDA5KKCJDrbWXW35P0=","lastModified":"2023-02-24T01:18:32+00:00","readOnly":true},{"id":"ECb2-l0-s0:egDCqBw/FSvVYwRgXXd8","name":"Secondary
        Read Only","value":"b1FoIktitctEfCjc8rWx4aZ0kqUzRnvtPkiR3SkYmrk=","connectionString":"Endpoint=https://aadtestcv5t4q2b.azconfig.io;Id=ECb2-l0-s0:egDCqBw/FSvVYwRgXXd8;Secret=b1FoIktitctEfCjc8rWx4aZ0kqUzRnvtPkiR3SkYmrk=","lastModified":"2023-02-24T01:18:32+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:18:45 GMT
    method: GET
    uri: https://aadtestcv5t4q2b.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA4Ng==;sn=34040086
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0MDA4Ng==
      x-ms-content-sha256:
      - nt5aMZQ20VbmQ/d+gpP3HsGr+Z1pPF2YO5YAw0yHcuE=
      x-ms-date:
      - Feb, 24 2023 01:18:47 GMT
    method: PUT
    uri: https://aadtestcv5t4q2b.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"8j7h-Ziyzopt-WLaM1M_bXU4GQWsBm-ENIEHPu6hdGk","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:48+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8j7h-Ziyzopt-WLaM1M_bXU4GQWsBm-ENIEHPu6hdGk"'
      last-modified:
      - Fri, 24 Feb 2023 01:18:48 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA4Nw==;sn=34040087
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:18:47 GMT
    method: GET
    uri: https://aadtestcv5t4q2b.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA4Nw==;sn=34040087
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0MDA4Nw==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Feb, 24 2023 01:18:48 GMT
    method: PUT
    uri: https://aadtestcv5t4q2b.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"xul7ZozSjzvymim2UXIDBunfFpj55MPFH8cHfr20iWM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:49+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"xul7ZozSjzvymim2UXIDBunfFpj55MPFH8cHfr20iWM"'
      last-modified:
      - Fri, 24 Feb 2023 01:18:49 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA4OA==;sn=34040088
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users?$filter=userPrincipalName%20eq%20%27albertofori%40microsoft.com%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users","value":[{"businessPhones":["+1
        (425) 4213985"],"displayName":"Albert Ofori","givenName":"Albert","jobTitle":"SOFTWARE
        ENGINEER","mail":"albertofori@microsoft.com","mobilePhone":null,"officeLocation":"18/3750FL","preferredLanguage":null,"surname":"Ofori","userPrincipalName":"albertofori@microsoft.com","id":"35296b93-33f5-48e5-b41e-3e29f64921e6"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"1","ScaleUnit":"001","RoleInstance":"MW2PEPF0000836D"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestcv5t4q2b/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Reader%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"App Configuration Data Reader","type":"BuiltInRole","description":"Allows
        read access to App Configuration data.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.AppConfiguration/configurationStores/*/read"],"notDataActions":[]}],"createdOn":"2019-10-25T18:45:33.7975332Z","updatedOn":"2021-11-11T20:14:11.5885341Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","type":"Microsoft.Authorization/roleDefinitions","name":"516239f1-63e1-4d78-a4de-a74fb236a071"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071",
      "principalId": "35296b93-33f5-48e5-b41e-3e29f64921e6", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestcv5t4q2b/providers/Microsoft.Authorization/roleAssignments/553a0002-774e-4e72-ad20-8ecb054f46cd?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","principalId":"35296b93-33f5-48e5-b41e-3e29f64921e6","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestcv5t4q2b","condition":null,"conditionVersion":null,"createdOn":"2023-02-24T01:18:53.7867576Z","updatedOn":"2023-02-24T01:18:54.2437613Z","createdBy":null,"updatedBy":"35296b93-33f5-48e5-b41e-3e29f64921e6","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestcv5t4q2b/providers/Microsoft.Authorization/roleAssignments/553a0002-774e-4e72-ad20-8ecb054f46cd","type":"Microsoft.Authorization/roleAssignments","name":"553a0002-774e-4e72-ad20-8ecb054f46cd"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"key": "Color", "content_type": "", "value": "Blue", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"8j7h-Ziyzopt-WLaM1M_bXU4GQWsBm-ENIEHPu6hdGk"'
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0MDQyMw==
    method: PUT
    uri: https://aadtestcv5t4q2b.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestcv5t4q2b.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"xul7ZozSjzvymim2UXIDBunfFpj55MPFH8cHfr20iWM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:49+00:00"},{"etag":"8j7h-Ziyzopt-WLaM1M_bXU4GQWsBm-ENIEHPu6hdGk","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:48+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDQyMw==;sn=34040423
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestcv5t4q2b.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"xul7ZozSjzvymim2UXIDBunfFpj55MPFH8cHfr20iWM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:49+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDQyMw==;sn=34040423
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestcv5t4q2b/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Owner%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"App Configuration Data Owner","type":"BuiltInRole","description":"Allows
        full access to App Configuration data.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.AppConfiguration/configurationStores/*/read","Microsoft.AppConfiguration/configurationStores/*/write","Microsoft.AppConfiguration/configurationStores/*/delete","Microsoft.AppConfiguration/configurationStores/*/action"],"notDataActions":[]}],"createdOn":"2019-10-25T18:41:40.1185063Z","updatedOn":"2023-02-03T23:50:20.5687092Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b","type":"Microsoft.Authorization/roleDefinitions","name":"5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestcv5t4q2b.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0NDIxOA==;sn=34044218
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestcv5t4q2b.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"xul7ZozSjzvymim2UXIDBunfFpj55MPFH8cHfr20iWM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:49+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0NDIxOQ==;sn=34044219
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0NDIxOQ==
    method: PUT
    uri: https://aadtestcv5t4q2b.azconfig.io/kv/Language?api-version=1.0
  response:
    body:
      string: '{"etag":"TMo6u1IJ3eSbjlQpxWApWg6yINgSmwcFf_EdOJ7iq90","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2023-02-24T04:26:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TMo6u1IJ3eSbjlQpxWApWg6yINgSmwcFf_EdOJ7iq90"'
      last-modified:
      - Fri, 24 Feb 2023 04:26:27 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0NDIyMA==;sn=34044220
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "font-size", "value": "34"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0NDIyMA==
    method: PUT
    uri: https://aadtestcv5t4q2b.azconfig.io/kv/font-size?api-version=1.0
  response:
    body:
      string: '{"etag":"-MpZ0pYUxqncjc8Ekn0ZcS4acycKQljpzwDglra8x9o","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2023-02-24T04:26:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"-MpZ0pYUxqncjc8Ekn0ZcS4acycKQljpzwDglra8x9o"'
      last-modified:
      - Fri, 24 Feb 2023 04:26:27 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0NDIyMQ==;sn=34044221
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0NDIyMQ==
    method: PUT
    uri: https://aadtestcv5t4q2b.azconfig.io/kv/.appconfig.featureflag%2FPercentage?api-version=1.0
  response:
    body:
      string: '{"etag":"YwypHq43v7AYNKSp-3LXdnPbcNqZb6gf5FDWadDACIA","key":".appconfig.featureflag/Percentage","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": \"\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2023-02-24T04:26:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YwypHq43v7AYNKSp-3LXdnPbcNqZb6gf5FDWadDACIA"'
      last-modified:
      - Fri, 24 Feb 2023 04:26:27 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0NDIyMg==;sn=34044222
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0NDIyMg==
    method: PUT
    uri: https://aadtestcv5t4q2b.azconfig.io/kv/.appconfig.featureflag%2FTimestamp?api-version=1.0
  response:
    body:
      string: '{"etag":"m1cLbpwljyLDIxH38RUxSqVz4wFhZlj0E38FEPWSg50","key":".appconfig.featureflag/Timestamp","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Timestamp\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        [{\"name\": \"Local Tests\", \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\",
        \"EndTime\": \"2019-09-01T00:00:00Z\"}}, {\"name\": \"Production Tests\",
        \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\", \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}","tags":{},"locked":false,"last_modified":"2023-02-24T04:26:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"m1cLbpwljyLDIxH38RUxSqVz4wFhZlj0E38FEPWSg50"'
      last-modified:
      - Fri, 24 Feb 2023 04:26:27 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0NDIyMw==;sn=34044223
    status:
      code: 200
      message: OK
[...]
