interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-03-04T23:06:22.5665783+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002","name":"NamingConventionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/b8b2f5dc-0db4-4478-80a7-ba4bbe94e3be?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/b8b2f5dc-0db4-4478-80a7-ba4bbe94e3be?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/b8b2f5dc-0db4-4478-80a7-ba4bbe94e3be","name":"b8b2f5dc-0db4-4478-80a7-ba4bbe94e3be","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/b8b2f5dc-0db4-4478-80a7-ba4bbe94e3be?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-03-04T23:06:22+00:00","endpoint":"https://namingconventiontestonuj.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-04T23:06:22+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-04T23:06:23+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/namingconventiontestonuj","name":"NamingConventionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"85008368-0000-0100-0000-62229b6f0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview&%24skiptoken=3ZjRjtowFET%2FJar6VBOSLUVFWlUuuGpaGlBChLRvjnMBw%2BJYtkNoV%2FvvtQPapp%2FgPEZRIh3N3LljvwQCrmbJxUkHs5dgS%2FLNnKSbDC%2BLPJgFB2OknoXhmQq6hzMIM6J%2FGgUjVp9D3ZSaKS4Nr4UOp9NqQsvxJzSFqkIfARgqGXxGk5hFUTmdlOXDNJSqvvAKlA5%2FcaZqXe%2FMCEs5r8WO7xtF3a9C1n%2FKTa1Af6GSo4v9zr5%2FjMdxhKIxGkdIKrhwaN%2B%2F0ycuN%2FUJxKMGdeEMkKF71LJGBx%2BCARHdgJxMvupzba6NAW20E9aKQ7DfLOgiwCDojOZ0IUW2WhNPZ%2BfQUN5CY2XJV8Xmu9MG5wn2lKaXBBqohcJF7qItwQ7MfyigTql0lVmlfHZdTyfxz3zDSG23hrRNbfR%2F3sWeus8FhAu72BrvtoU8JWktQydJy82hbox8tkRfM%2FyULLvo81Sf3iiVqus%2BOMULfJ8l%2F6EYZVanO06SLoawmxgXlsnvXfvW6FwwfMtwOieD8dxOOc%2F9wGucDqM3HKUr3j9XGRlOMJw6kbouNIzi0B1gxe28l2%2BTzRPJljhddIR%2B5viR%2F26QFi4q3Dwlqy6%2FXYvwk0fbMtRSwUXF6R3qVokePOXh6I7R60H%2BJt7xmQtq746QLUIu7%2FItWRC7l7rbLT8VekPSba8GFTkp8NpPIslvpkORVch5rchjf2nc3RalVfD6%2Bhc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 03baaf79-f8d9-4105-a15b-2f61124f742d
      - 5fe8b79e-cd61-46a5-8d0c-e649471645d9
      - 8da7b9c9-1281-4760-bb96-a104858a53ae
      - c633d6ce-569d-4b4c-a961-b4e8e48569d6
      - 773a80c1-e58e-46f0-8193-12d84942614a
      - 3a6d9e88-920e-4f39-b49c-dd10f4fea813
      - df90a230-3f9f-48ae-9ee8-a7a882e89bfb
      - 2dcaf340-801e-43c9-b165-226ded72d3f8
      - a43c2e6e-cb27-4fc0-a635-69f86ed1532f
      - 9fc37921-0380-49a4-a43b-e59cd651d19d
      - 12b183e1-d62c-4307-81ed-91c72dd59d3b
      - 742a524e-5093-4115-9337-7b90cbca2134
      - ac7dad01-538c-46ab-ba17-0244dc961f37
      - fb9d0e97-2da3-44ec-9272-bc719fba981d
      - 3eaab4a8-dfe9-4a95-a6c4-3a762732e8c5
      - ebc2e0e6-f8eb-426b-9371-24720a26342a
      - fe120b09-0e07-4eea-bcf6-c8dfcd42626b
      - daa45e86-cab0-4b18-8e30-a5a2b1222bf6
      - 50770a1e-5c8a-4caf-9979-461d24ddb52c
      - 58e6a054-7656-4784-af5f-437ac7f931d6
      - c99cb4b4-defd-42df-a9ca-d7829214f3d7
      - 10b659ca-8047-4342-a732-5c2b76add628
      - 426d0499-f279-4456-9e09-cd9f2ddaed13
      - d50eccac-2a0d-4b72-b79c-10aae406b001
      - 41d60bc5-8800-4a5e-aa69-562536a66826
      - f488979c-51a4-4223-ac8d-8455e287c0ba
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"maER-l0-s0:sEtqJTcW23PgdRb6XtIr","name":"Primary","value":"rQUfFGPmMgdtxifRgLfRc321t+kbM1L3nE6+KoEKv2A=","connectionString":"Endpoint=https://namingconventiontestonuj.azconfig.io;Id=maER-l0-s0:sEtqJTcW23PgdRb6XtIr;Secret=rQUfFGPmMgdtxifRgLfRc321t+kbM1L3nE6+KoEKv2A=","lastModified":"2022-03-04T23:06:22+00:00","readOnly":false},{"id":"1STy-l0-s0:ejfW4RI+daOUy6iU3KAt","name":"Secondary","value":"E+CHSPnYjNS/DidPjiky3cnoHQor/tRE2JkJyuLgRwk=","connectionString":"Endpoint=https://namingconventiontestonuj.azconfig.io;Id=1STy-l0-s0:ejfW4RI+daOUy6iU3KAt;Secret=E+CHSPnYjNS/DidPjiky3cnoHQor/tRE2JkJyuLgRwk=","lastModified":"2022-03-04T23:06:22+00:00","readOnly":false},{"id":"mH3A-l0-s0:VxHCNJdWPxCuuX9nt34i","name":"Primary
        Read Only","value":"P3Luvmn/ndAyE3Y7k0qVXBcdeusLJv8R/aprTkqK6k0=","connectionString":"Endpoint=https://namingconventiontestonuj.azconfig.io;Id=mH3A-l0-s0:VxHCNJdWPxCuuX9nt34i;Secret=P3Luvmn/ndAyE3Y7k0qVXBcdeusLJv8R/aprTkqK6k0=","lastModified":"2022-03-04T23:06:22+00:00","readOnly":true},{"id":"+lXU-l0-s0:hZIR6X4NQ1h28A4Y3Mlf","name":"Secondary
        Read Only","value":"/RK0Y5+HRWYWP4fqxsuK6bFCuXzyYPVmawxELMsIoqA=","connectionString":"Endpoint=https://namingconventiontestonuj.azconfig.io;Id=+lXU-l0-s0:hZIR6X4NQ1h28A4Y3Mlf;Secret=/RK0Y5+HRWYWP4fqxsuK6bFCuXzyYPVmawxELMsIoqA=","lastModified":"2022-03-04T23:06:22+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "NamingConventionTest", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - VSffS36d1yZrU0VE0K0JB85BAfWtgzcSKReH3XQQcKM=
      x-ms-date:
      - Mar, 04 2022 23:06:36 GMT
    method: PUT
    uri: https://namingconventiontestonuj.azconfig.io/kv/Color?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"ln71vHbRrZ9dJhgriXG8Yyw46cy","key":"Color","label":"NamingConventionTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2022-03-04T23:06:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ln71vHbRrZ9dJhgriXG8Yyw46cy"'
      last-modified:
      - Fri, 04 Mar 2022 23:06:36 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTg2MDcy;sn=3186072
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Region", "label": "NamingConventionTest", "value": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTg2MDcy
      x-ms-content-sha256:
      - d5TuuQY1+uOeZsImyUtbAguTYwPriNoBgqLVZgmcRso=
      x-ms-date:
      - Mar, 04 2022 23:06:36 GMT
    method: PUT
    uri: https://namingconventiontestonuj.azconfig.io/kv/Region?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"u6g6KuAXEextRQMKnIZg4ynfA4b","key":"Region","label":"NamingConventionTest","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2022-03-04T23:06:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"u6g6KuAXEextRQMKnIZg4ynfA4b"'
      last-modified:
      - Fri, 04 Mar 2022 23:06:36 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTg2MDcz;sn=3186073
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTg2MDcz
      x-ms-content-sha256:
      - LlJkZdiUPnv6AG4PyAVQ8nH84c9fsUS598ZH84M/fd4=
      x-ms-date:
      - Mar, 04 2022 23:06:36 GMT
    method: PUT
    uri: https://namingconventiontestonuj.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"YiqcpEy7PIGeR7ifh40hkJ5sKOM","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-04T23:06:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YiqcpEy7PIGeR7ifh40hkJ5sKOM"'
      last-modified:
      - Fri, 04 Mar 2022 23:06:37 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTg2MDc0;sn=3186074
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTg2MDc0
      x-ms-content-sha256:
      - InFMUc4jWZGxDF2tsAtzKRsFRRZ0dCYlG2koYVNgoQg=
      x-ms-date:
      - Mar, 04 2022 23:06:36 GMT
    method: PUT
    uri: https://namingconventiontestonuj.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"XGSyw7VXO5YAhVI2oQ7fjk441P0","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": \"\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2022-03-04T23:06:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XGSyw7VXO5YAhVI2oQ7fjk441P0"'
      last-modified:
      - Fri, 04 Mar 2022 23:06:37 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTg2MDc1;sn=3186075
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTg2MDc1
      x-ms-content-sha256:
      - 2G4MoMP9JRN0R01czMDumf4AGMDfhMFXxOZkZuPXMj8=
      x-ms-date:
      - Mar, 04 2022 23:06:36 GMT
    method: PUT
    uri: https://namingconventiontestonuj.azconfig[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 04 2022 23:06:38 GMT
    method: GET
    uri: https://namingconventiontestonuj.azconfig.io/kv?label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"YiqcpEy7PIGeR7ifh40hkJ5sKOM","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-04T23:06:37+00:00"},{"etag":"XGSyw7VXO5YAhVI2oQ7fjk441P0","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 04 2022 23:06:41 GMT
    method: GET
    uri: https://namingconventiontestonuj.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"YiqcpEy7PIGeR7ifh40hkJ5sKOM","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/v[...]
[...]
- request:
    body: '{"key": "Color", "label": "YamlTests", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - GoS5sAD6nCO95tz5tbrN/kSGmDHuYWBohhC4oR20Kd0=
      x-ms-date:
      - Mar, 04 2022 23:06:47 GMT
    method: PUT
    uri: https://namingconventiontestonuj.azconfig.io/kv/Color?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"qvdlgXwFLPgIWoSCSNgLxdNs739","key":"Color","label":"YamlTests","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2022-03-04T23:06:48+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qvdlgXwFLPgIWoSCSNgLxdNs739"'
      last-modified:
      - Fri, 04 Mar 2022 23:06:48 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTg2MTM5;sn=3186139
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Region", "label": "YamlTests", "value": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTg2MTM5
      x-ms-content-sha256:
      - Vb/CL8fX/wWpoAhvYvcbrCiCjpquyFznsOrk9IvWi6M=
      x-ms-date:
      - Mar, 04 2022 23:06:48 GMT
    method: PUT
    uri: https://namingconventiontestonuj.azconfig.io/kv/Region?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"xDiYOGgjvTXTV4hgcVGG02pujeM","key":"Region","label":"YamlTests","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2022-03-04T23:06:48+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"xDiYOGgjvTXTV4hgcVGG02pujeM"'
      last-modified:
      - Fri, 04 Mar 2022 23:06:48 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTg2MTQw;sn=3186140
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "YamlTests", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMTg2MTQw
      x-ms-content-sha256:
      - dq0dbdLAfwQuyv/VeT4JT+KPDUX2TDW7p8xNI0sYEFk=
      x-ms-date:
      - Mar, 04 2022 23:06:48 GMT
    method: PUT
    uri: https://namingconventiontestonuj.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"fv230bpiu98yrAtOcnjnuGPFNV3","key":".appconfig.featureflag/Beta","label":"YamlTests","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-04T23:06:48+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"fv230bpiu98yrAtOcnjnuGPFNV3"'
      last-modified:
      - Fri, 04 Mar 2022 23:06:48 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMTg2MTQx;sn=3186141
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "label": "YamlTests", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Timestamp\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
      [{\"name\": \"Local Tests\", \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\",
      \"EndTime\": \"2019-09-01T00:00:00Z\"}}, {\"name\": \"Production Tests\", \"parameters\":
      {\"StartTime\":[...]
[...]
