interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"c22d76f7-002b-4355-9ab2-dd658128ba87","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Creating","creationDate":"2022-10-09T13:15:49.7852412+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002","name":"MgmtTest000002","tags":{"key":"value"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ZZEHphzzC_a3Os-GJoEkdGAGf-4ZUIe6kzKsN-3diMI?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ZZEHphzzC_a3Os-GJoEkdGAGf-4ZUIe6kzKsN-3diMI?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ZZEHphzzC_a3Os-GJoEkdGAGf-4ZUIe6kzKsN-3diMI","name":"ZZEHphzzC_a3Os-GJoEkdGAGf-4ZUIe6kzKsN-3diMI","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ZZEHphzzC_a3Os-GJoEkdGAGf-4ZUIe6kzKsN-3diMI?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"c22d76f7-002b-4355-9ab2-dd658128ba87","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2022-10-09T13:15:50+00:00","endpoint":"https://mgmttestmpcnztloy6tnc4h7.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2022-10-09T13:15:50+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-10-09T13:15:51+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestmpcnztloy6tnc4h7","name":"MgmtTest000002","tags":{"key":"value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"180046ad-0000-0100-0000-6342c9870000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"c22d76f7-002b-4355-9ab2-dd658128ba87","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2022-10-09T13:15:50+00:00","endpoint":"https://mgmttestmpcnztloy6tnc4h7.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2022-10-09T13:15:50+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-10-09T13:15:51+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestmpcnztloy6tnc4h7","name":"MgmtTest000002","tags":{"key":"value"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&$skipToken=mgmttestmpcnztloy6tnc4h7"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/clitest.rgsyyoodpfmmlkqhuk57wmnfd244bva6lqpolyujhzk5gcxswxdlhe6sa4tsezctx6p/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&$skipToken=mgmttestmpcnztloy6tnc4h7>;
        rel="next"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&$skipToken=mgmttestmpcnztloy6tnc4h7
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Standard"}, "tags": {"Env": "Prod"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"c22d76f7-002b-4355-9ab2-dd658128[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2022-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cmk-test-keyvault000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+1
        (425) 4213985"],"displayName":"Albert Ofori","givenName":"Albert","jobTitle":"SOFTWARE
        ENGINEER","mail":"albertofori@microsoft.com","mobilePhone":null,"officeLocation":"18/3750FL","preferredLanguage":null,"surname":"Ofori","userPrincipalName":"albertofori@microsoft.com","id":"35296b93-33f5-48e5-b41e-3e29f64921e6"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Central US","Slice":"E","Ring":"1","ScaleUnit":"000","RoleInstance":"CY4PEPF0000AB52"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enablePurgeProtection": true, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003","name":"cmk-test-keyvault000003","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2022-10-09T13:16:04.871Z","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-10-09T13:16:04.871Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"35296b93-33f5-48e5-b41e-3e29f64921e6","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://cmk-test-keyvault000003.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://cmk-test-keyvault000003.vault.azure.net/keys/key/0fddf20ce4c349bcaa8464a155ac4ab4","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"o0P7XIL51rlKYNMrgLbS0nflgSi3-q7sNJBTRv0s0NqGakCQ16syKDHpDfzyFN99VVCf1kaaOofVbOialmjirJ7aXmjrCK1I3EmJeupxzGecsNH81txyTVYJnB3F5aQbyO0rZ44AnAl3ykphKWSqKTiQP4_fK2_F6FU1vTRfrsLUCytQEIwsjfD3dbyzvV58UwJg-i5Yj3X1BrJn76gn_2z3FQzUog1YW24LXsvJTWHm7Q-dkxOjtgNhl4vRfrc76mziVUPKhk0xtQqfI0yeYlmN96_NdO266N8624nLNtFGYCIpTm5ciduu3m62Tw7JPSnib0i9XQveSdd0pkEiSQ","e":"AQAB"},"attributes":{"enabled":true,"created":1665321397,"updated":1665321397,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcfgbilling-group-xuxu-test-keyvault/providers/Microsoft.KeyVault/vaults/xuxutest-keyvault","name":"xuxutest-keyvault","type":"Microsoft.Ke[...]
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "c22d76f7-002[...]
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyIdentifier":
      "https://cmk-test-keyvault000003.vault.azure.net/keys/key/"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"c22d76f7-002b-4355-9ab2-dd658128ba87","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2022-10-09T13:15:50+00:00","endpoint":"https://mgmttestmpcnztloy6tnc4h7.azconfig.io","encryption":{"keyVaultProperties":{"keyIdentifier":"https://cmk-test-keyvault000003.vault.azure.net/keys/key/","identityClientId":null}},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2022-10-09T13:15:50+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-10-09T13:16:40+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestmpcnztloy6tnc4h7","name":"MgmtTest000002","tags":{"Env":"Prod"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"180046ae-0000-0100-0000-6342c9b80000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OhJWxlw0OXnJp7xxshGSy3TSDPSQeUZP-spCZpotB9U?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OhJWxlw0OXnJp7xxshGSy3TSDPSQeUZP-spCZpotB9U","name":"OhJWxlw0OXnJp7xxshGSy3TSDPSQeUZP-spCZpotB9U","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OhJWxlw0OXnJp7xxshGSy3TSDPSQeUZP-spCZpotB9U?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/credentialtestheyxktfme6","name":"CredentialTestheyxktfme6","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rghaehm23fj6ouab34yibz2cy3y4dlxsatssasca4w3wuph7chvfa6kmpb6gvsqeu2g/providers/Microsoft.AppConfiguration/configurationStores/credentialtestheyxktfme6","location":"eastus","deletionDate":"2022-10-09T13:16:22+00:00","scheduledPurgeDate":"2022-10-10T13:16:22+00:00","tags":{},"purgeProtectionEnabled":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/disablelocalautho2sxdmdt","name":"DisableLocalAutho2sxdmdt","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgxe267b2dg26khryc5tmsggpqdtlhyv5yhavuivx5f4gffv4woro3hhgekjwkvlhwm/providers/Microsoft.AppConfiguration/configurati[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2022-05-01&%24skiptoken=1ZBLasMwFEX3IkpHkWU7cU0MoYjgWVJKbC9AnxdXdS2JJyn9hOy9bmddQqeXey%2BccyUWPuLB2CmQ5kpa3vVDRxryEqMPDWOzsGKEGWzMxFdCyJSbWUgyKDQ%2BGmcDq2tdCZk%2F0Bq0phsARaWCLa1KVRSyrqRc18yjuxgNGNjRKHTBnWPGvd87ezZjQvFzxTS8QQT9J%2ByiQwiPwht6WeZLbVfmZUnziubF%2FV2YjO%2FdBHbnk7QQ3x1OERNsrFVGGpnWZEX27VN%2F4oehawf%2B%2FC%2FhXs1noioFSMLTitxWRODMxxFhFIuxXwMLGD8dye0b
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 6b290754-67f7-44cc-a0f1-fd19da72ef3e
      - 62d34881-c835-49fd-a959-572b4e3990f8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/MgmtTestdel000004?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/mgmttestdelsdduvrqa5ssj2","name":"MgmtTestdel000004","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestdelsdduvrqa5ssj2","location":"eastus","deletionDate":"2022-10-09T13:16:59+00:00","scheduledPurgeDate":"2022-10-10T13:16:59+00:00","tags":{"key":"value"},"purgeProtectionEnabled":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"180096ae-0000-0100-0000-6342c9cb0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2022-05-01&%24skiptoken=1ZHJasMwGITfRZSeIst24poaQhHB0EOSFi8PoOWPo7iWhJZ0CXn3uj21j5DrMDPM8F2Qho%2BwVXr0qLqgmrZd36IKHUOwviJkYpoNMIEOCfuKDhJhJuIj98IpG5TRnpSlLBhPH3AJUuIVgMBcwCMucpFlvCw4X5bEOnNWEpwnOyWc8eYQEmrtxuiDGqJjP1VEwhsEkP%2FENhgH%2FolZhc9zfLat8zTPcVrgNLu%2F86OynRlBr23kGsK7cWNwEVZaC8UVj0u0QD2t9y9N93wzv%2BbNm3rfNXTbt3VPX29m%2BF8gJ%2FUZsYgeIrO4QNcFYm6iw%2BBgYDPlX2rzMdrs0PUb
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 8fe9bda5-a835-4033-a460-716442d16237
      - a0be0d61-b7d9-44e1-aa58-1aaa74f348b0
      - 48b250a7-6057-4090-9f93-ee7bf394479a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2022-05-01&%24skiptoken=VY%2FLTsMwFET%2FxUKscJwYEotIFYoQO7oh7Qf4cRNMGl%2Fr2qkQVf8d0x3b0ZmjmQsL8J3ffVgS6y%2FsbRgPx5H17DPnmHohVh30DCuEXOmfjaCyuIq0mWTJx%2BwxJKGUa7WpO67AOf4EYLmx8MxbaZvGqNaYRyUi4dk7oCT23hImnHI1xPiKYfLzRvpPJRycIIP7F44ZCdKLjp6fS71gO1lLyeuW1839XVp8POACYZdwIwtRIXVTGZ1PJL86XBd2fWCa1mGeCWZd9De8XBw%2B9uz6Cw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 903fbf69-75da-4eff-a780-cf0e2ccbabb8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Qu5q27Z5l-nG7ksugFkxk-yTdsODQ8-BRUv2H-s-oRw?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Qu5q27Z5l-nG7ksugFkxk-yTdsODQ8-BRUv2H-s-oRw","name":"Qu5q27Z5l-nG7ksugFkxk-yTdsODQ8-BRUv2H-s-oRw","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Qu5q27Z5l-nG7ksugFkxk-yTdsODQ8-BRUv2H-s-oRw?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3ZhRb9owFIX%2FSzTtqW4gHUOrVE0epFo6GroEhNY3x7mkLmBntkNoq%2F732W7Xsp9w94KEUFA%2BnXvPOfZTJOFgZ0JuTHT%2BFK3ScjFJ80VBZ8syOo%2FurG3NeRzvmGQN7EDaU%2FbYaTjlahebrjJci9YKJU08HtcjVg0%2BkzHUNfkEwEnF4QsZJXw4rMajqjobx61We1GDNvG14FoZtbantG0nSq5F02nm%2Fyrmx99KqzSYr6wVZO%2Bec79fJ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLasMwFET%2FRZSuIst264oYQjGhu2ZTpx%2Bgx416MXogXZuSkH%2Bv2lWXw8wZZm4swDe9Y1gKG2%2FsbZrPnzMb2RdRKqMQXgXlwEOgRl3XDI2JXpRVF5MxEcZQhJR2ULp94RKs5c8AhmsDez70puu0HLR%2BkiLluKGFXMQJTY4lXqiZUjrGcEG3ZvVbJcx%2FNVPMUF5VQr5VrvqHvu173g687R4fyoLpHBcIh6A8BlfZra6sMYJC5oqJ3XdMZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLasMwFET%2FRYSuIst26ooYQjGhu2YTpx%2Bgx40qjCWhexVMQv69blddDnPmwDxYgIU%2BfZiQ9Q%2F2MYyXr5H17JsoYS%2FErIJyMEOgSt1LhsrEWWDRaLJP5GNAIaXtlK7fuARr%2BSuA4drAnnetaRotO613UqQcb95CRnHyJkeMV6qGlI4xXL0rWf2qhPmfRooZ8F0lz2%2Frbu0Pbd22vO543bxscPLpEicIh6UshRuFwAmQ2HPLVJ4H5zI4RWD%2FoPXRcD6x5w8%3D
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2020-04-11T21:14:03+00:00","endpoint":"https://xuxu-vnet-eus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/xuxu-vnet-eus/privateEndpointConnections/xuxu-vnet-eus-privatelink.877b3f32-7449-487d-bc01-d2f3e8ea81d2","name":"xuxu-vnet-eus-privatelink.877b3f32-7449-487d-bc01-d2f3e8ea81d2","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/xuxu-vnet-eus-privatelink"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-04-11T21:14:03+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-04-15T23:11:19+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/xuxu-vnet-eus","name":"xuxu-vnet-eus","tags":{}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2fLasMwFET%2fRYSuKst26ooYQjGlu2YTpx%2bgx40qjCVxr2RMQv69blddDnPmwNxZgDV%2f%2bjAR6%2b%2fsYxgvXyPr2XfOiXohZhWUgxlCrtStIFQmzoKKJoM%2bZR8DCSltp3T9yiVYy18ADNcGDrxrTdNo2Wm9lyJhXLwFJHHyBiPFa66GlN5juHpXUP2qhPmfxhwR6E0lz5dtt%2fXHtm5bXne8bp52NPl0iROE41rWwpcAmUMh9nhmCufBOQSnMtg%2fZjs0nE%2fs8QM%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 8c69d324-d509-4f14-b290-ba550da1579a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLasMwFET%2FRYSuKst26ooYQjGlu2YTpx%2Bgx40qjCVxr2RMQv69blddDnPmwNxZgDV%2F%2BjAR6%2B%2FsYxgvXyPr2XfOiXohZhWUgxlCrtStIFQmzoKKJoM%2BZR8DCSltp3T9yiVYy18ADNcGDrxrTdNo2Wm9lyJhXLwFJHHyBiPFa66GlN5juHpXUP2qhPmfxhwR6E0lz5dtt%2FXHtm5bXne8bp52NPl0iROE41rWwpcAmUMh9nhmCufBOQSnMtg%2FZjs0nE%2Fs8QM%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 2f913692-2ebc-40fb-aa4f-a9a826fdd171
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2022-05-01&%24skiptoken=1ZHLTsMwFET%2FxUKs6joJhIhIFYqqrGgRahKx9uM2mOAH9nUFVP13Aiv6Cd2OZkYzOkdi4RM32k6R1EfSNl0%2FdKQmr4g%2B1owZbvkIBiwu%2BXcKsJTOsJhElEF71M5GVlWq5CK7oxUoRW8BJBUS7mlZyDwXVSnETcV8cAetIES21TK46Pa4bLxfO7vXYwr8t4opeAcEdSZ26ALEB%2B41Pczx2bYqsqKgWUmz%2FPoqTtr3bgK7ihi0RG28C4gQcTT4IZX1ZEGGx5e26y%2Fm1bx43T71u2YzdO3QPF%2FM8P843vRXojJFSNzTkpwWhAfTjGOAkc%2BM%2F5jNx5rdlpx%2BAA%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 59987570-e183-4e8b-a799-e8299532ca9a
      - 32ffce61-b274-4ae1-ba38-a80a604ef9b5
      - e797700f-6fae-4517-8409-c17b6d1237bc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/MgmtTestdel000004/purge?api-version=2022-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
[...]
