interactions:
- request:
    body: '{"sku": {"name": "standard"}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-02-12T00:59:31.1007219+00:00","endpoint":null,"encryption":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f601fa86-2bab-4c24-1917-ef8d85a92133?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f601fa86-2bab-4c24-1917-ef8d85a92133?api-version=2019-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f601fa86-2bab-4c24-1917-ef8d85a92133","name":"f601fa86-2bab-4c24-1917-ef8d85a92133","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f601fa86-2bab-4c24-1917-ef8d85a92133?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-12T00:59:36+00:00","endpoint":"https://importtest5jdev46fx3pmiu.azconfig.io","encryption":{"keyVaultProperties":null}},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtest5jdev46fx3pmiu","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ff007166-0000-0100-0000-5e434df80000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-01-30T21:03:13+00:00","endpoint":"https://ernestt-cuseuap.azconfig.io","encryption":{"keyVaultProperties":null}},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ernestt-test2/providers/Microsoft.AppConfiguration/configurationStores/ernestt-cuseuap","name":"ernestt-cuseuap","location":"centraluseuap","tags":{}},{"type":"Microso[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"idUU-l0-s0:nq090KvL8/le4J383Lc+","name":"Primary","value":"rka3Z7xXxQUMcY4P1zcL34SUbDQ5bQsLvU2byBfIZzw=","connectionString":"Endpoint=https://importtest5jdev46fx3pmiu.azconfig.io;Id=idUU-l0-s0:nq090KvL8/le4J383Lc+;Secret=rka3Z7xXxQUMcY4P1zcL34SUbDQ5bQsLvU2byBfIZzw=","lastModified":"2020-02-12T00:59:31+00:00","readOnly":false},{"id":"arux-l0-s0:4+o5lTydPjOkps/0GY/l","name":"Secondary","value":"Md2f6n6K9dwVJKQNNGQ61WaOmE1ZLXpTRs0kYo5Ds7A=","connectionString":"Endpoint=https://importtest5jdev46fx3pmiu.azconfig.io;Id=arux-l0-s0:4+o5lTydPjOkps/0GY/l;Secret=Md2f6n6K9dwVJKQNNGQ61WaOmE1ZLXpTRs0kYo5Ds7A=","lastModified":"2020-02-12T00:59:31+00:00","readOnly":false},{"id":"Nee8-l0-s0:qZiP9mrwD78cxtw/3AOV","name":"Primary
        Read Only","value":"Bqc4BewD/dqhy4d9JMc7pGmVMr/phP5iGBp74sejW2U=","connectionString":"Endpoint=https://importtest5jdev46fx3pmiu.azconfig.io;Id=Nee8-l0-s0:qZiP9mrwD78cxtw/3AOV;Secret=Bqc4BewD/dqhy4d9JMc7pGmVMr/phP5iGBp74sejW2U=","lastModified":"2020-02-12T00:59:31+00:00","readOnly":true},{"id":"5pMn-l0-s0:Zl3UzCR5/JiBP/jo0rDq","name":"Secondary
        Read Only","value":"eaWJevBUKM2JG/PU9CLcNXBYrvMdr0iht4Cm7/w5puY=","connectionString":"Endpoint=https://importtest5jdev46fx3pmiu.azconfig.io;Id=5pMn-l0-s0:Zl3UzCR5/JiBP/jo0rDq;Secret=eaWJevBUKM2JG/PU9CLcNXBYrvMdr0iht4Cm7/w5puY=","lastModified":"2020-02-12T00:59:31+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship2", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1axnTf8D0yLdudEOufl67P+vT+oqmixNEghELTYclIo=
      x-ms-date:
      - Feb, 12 2020 00:59:49 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F1?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"23eiJ3YWjOLT42Q1YcPnzIv2NYS","key":"Settings:BackgroundColor/ship/1","label":null,"content_type":null,"value":"ship2","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:49+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"23eiJ3YWjOLT42Q1YcPnzIv2NYS"'
      last-modified:
      - Wed, 12 Feb 2020 00:59:49 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTA5;sn=1076909
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Feb, 12 2020 00:59:49 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/Language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"uS34BYNDPep1NsDxmXxzbvhPaIS","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"uS34BYNDPep1NsDxmXxzbvhPaIS"'
      last-modified:
      - Wed, 12 Feb 2020 00:59:50 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTEw;sn=1076910
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Feb, 12 2020 00:59:49 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/Langugage?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"IeATRBLgX8S41wKo3b6b7LT4XwV","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"IeATRBLgX8S41wKo3b6b7LT4XwV"'
      last-modified:
      - Wed, 12 Feb 2020 00:59:50 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTEx;sn=1076911
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Feb, 12 2020 00:59:49 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/font-size?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"TGuzkAlj1rYrUmtKG44VwriFgA7","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TGuzkAlj1rYrUmtKG44VwriFgA7"'
      last-modified:
      - Wed, 12 Feb 2020 00:59:50 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTEy;sn=1076912
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Feb, 12 2020 00:59:49 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"kBUVdGjArRmHRD1uxWh29jHvwEN","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kBUVdGjArRmHRD1uxWh29jHvwEN"'
      last-modified:
      - Wed, 12 Feb 2020 00:59:50 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTE0;sn=1076914
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Feb, 12 2020 00:59:50 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/appabc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"DyXD7Edr2D4ydnNAiZwZG4NBJpi","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DyXD7Edr2D4ydnNAiZwZG4NBJpi"'
      last-modified:
      - Wed, 12 Feb 2020 00:59:50 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTE1;sn=1076915
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Feb, 12 2020 00:59:50 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/abc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"bppR1UdmPm3SeN6B26wXFVFhNAU","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bppR1UdmPm3SeN6B26wXFVFhNAU"'
      last-modified:
      - Wed, 12 Feb 2020 00:59:50 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTE2;sn=1076916
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Feb, 12 2020 00:59:50 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/BackgroundColor?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"xlBPLRHRwXltMrNixVQOCRKFuwM","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"xlBPLRHRwXltMrNixVQOCRKFuwM"'
      last-modified:
      - Wed, 12 Feb 2020 00:59:50 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTE4;sn=1076918
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Feb, 12 2020 00:59:50 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"2ac9IDVQCOXB0T3U4clMJkLDw45","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2ac9IDVQCOXB0T3U4clMJkLDw45"'
      last-modified:
      - Wed, 12 Feb 2020 00:59:51 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTE5;sn=1076919
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Feb, 12 2020 00:59:50 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/background-color?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"ELSLnR58tdy1kbRK3zXoFLVzNMM","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ELSLnR58tdy1kbRK3zXoFLVzNMM"'
      last-modified:
      - Wed, 12 Feb 2020 00:59:51 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTIw;sn=1076920
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 00:59:57 GMT
    method: GET
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"xlBPLRHRwXltMrNixVQOCRKFuwM","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:50+00:00"},{"etag":"uS34BYNDPep1NsDxmXxzbvhPaIS","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-02-12T00:59:50+00:00"},{"etag":"IeATRBLgX8S41wKo3b6b7LT4XwV","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:03 GMT
    method: GET
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Feb, 12 2020 01:00:06 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/Region?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"hS8pl0FzI5ORm0DWQRipiI1thcE","key":"Region","label":"KeyValuesWithFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hS8pl0FzI5ORm0DWQRipiI1thcE"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:07 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTIz;sn=1076923
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Feb, 12 2020 01:00:07 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/Color?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"bHGhuZ67RHXO9rmHDfPRJs0wUNu","key":"Color","label":"KeyValuesWithFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bHGhuZ67RHXO9rmHDfPRJs0wUNu"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:07 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTI0;sn=1076924
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\",
      \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}, \"enabled\": true, \"id\": \"Timestamp\",
      \"description\": null}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - NA+q+yDr/y+i2eQJjge6SxtgaRdPRlk9CpfHsrVc44k=
      x-ms-date:
      - Feb, 12 2020 01:00:07 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/.appconfig.featureflag%2FTimestamp?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"R7FzLDpS4YIq05g65AM81lBcXG9","key":".appconfig.featureflag/Timestamp","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\": {\"StartTime\":
        \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}}, {\"name\":
        \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
        \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}, \"enabled\": true, \"id\": \"Timestamp\",
        \"description\": null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"R7FzLDpS4YIq05g65AM81lBcXG9"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:07 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTI1;sn=1076925
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"conditions\": {\"client_filters\": []}, \"enabled\": true, \"id\":
      \"Percentage\", \"description\": null}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - +zASYBAUa36D/xVSH4r7ELtFmA1CbgSSEwCw/rkvPpE=
      x-ms-date:
      - Feb, 12 2020 01:00:07 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"i7hmCgukXL3h8hNqPFbD8XsfdPs","key":".appconfig.featureflag/Percentage","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": true, \"id\": \"Percentage\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"i7hmCgukXL3h8hNqPFbD8XsfdPs"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:07 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTI3;sn=1076927
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"conditions\": {\"client_filters\": []}, \"enabled\": false, \"id\":
      \"Beta\", \"description\": null}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 10U+QK2TEc6IHLYTjVy0A12OxlyB0xwWIyxMDfVfHck=
      x-ms-date:
      - Feb, 12 2020 01:00:07 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"8IpbNfdG54GHElfY91rLT9bYkPV","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8IpbNfdG54GHElfY91rLT9bYkPV"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:07 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTI5;sn=1076929
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:08 GMT
    method: GET
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv?key=*&label=KeyValuesWithFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"8IpbNfdG54GHElfY91rLT9bYkPV","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appc[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:10 GMT
    method: GET
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=KeyValuesWithFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"8IpbNfdG54GHElfY91rLT9bYkPV","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"app[...]
[...]
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Feb, 12 2020 01:00:18 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/Region?label=SkipFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"iOxAIaPUIGHzf97hQkQwGQTQN6P","key":"Region","label":"SkipFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"iOxAIaPUIGHzf97hQkQwGQTQN6P"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:19 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTU0;sn=1076954
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Feb, 12 2020 01:00:18 GMT
    method: PUT
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv/Color?label=SkipFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"HIeCsP17zY2bG3kx6Sre3XVSFQS","key":"Color","label":"SkipFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HIeCsP17zY2bG3kx6Sre3XVSFQS"'
      last-modified:
      - Wed, 12 Feb 2020 01:00:19 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTU2;sn=1076956
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 12 2020 01:00:20 GMT
    method: GET
    uri: https://importtest5jdev46fx3pmiu.azconfig.io/kv?key=*&label=SkipFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"HIeCsP17zY2bG3kx6Sre3XVSFQS","key":"Color","label":"SkipFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:19+00:00"},{"etag":"iOxAIaPUIGHzf97hQkQwGQTQN6P","key":"Region","label":"SkipFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-02-12T01:00:19+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSMxMDc2OTYx;sn=1076961
    status:
      code: 200
      message: OK
[...]
