interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"dataPlaneProxy":
      {}, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "createMode":
      "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-10-05T09:27:26.262608+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002",
        "name": "enhancedfeature000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.Qx0YKz68dOSRx3OshFzaQCZeqnxnaenxbNZa3Al1H5c?api-version=2025-08-01-preview&t=639267892465217105&c=MIIHlTCCBn2gAwIBAgIRALLGu8EppFcH5hmisV5_CugwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjA5MjIwMjM0MjdaFw0yNjEyMTcwODM0MjdaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2Nlcn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.Qx0YKz68dOSRx3OshFzaQCZeqnxnaenxbNZa3Al1H5c?api-version=2025-08-01-preview&t=639267892465217105&c=MIIHlTCCBn2gAwIBAgIRALLGu8EppFcH5hmisV5_CugwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjA5MjIwMjM0Mjda[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-10-05T09:27:26+00:00", "endpoint": "https://enhancedfeature000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-10-05T09:27:26+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-10-05T09:27:26+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002",
        "name": "enhancedfeature000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"65030d1f-0000-0100-0000-6ac36d7f0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - dyZf1=NzotMSMxNDA5NQ==;sn=14095
      x-ms-date:
      - Mon, 05 Oct 2026 09:28:05 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"enabled": false, "tags": {}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
      Sync-Token:
      - dyZf1=NzotMSMxNDA5NQ==
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "ttZn9rVnhaac51qTusr7V3MeV_F4GjF9hmG2xxx5vFE", "name": "Beta",
        "label": "v1", "enabled": false, "description": null, "variants": [], "allocation":
        null, "conditions": null, "telemetry": null, "tags": {}, "last_modified":
        "2026-10-05T09:28:06+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"ttZn9rVnhaac51qTusr7V3MeV_F4GjF9hmG2xxx5vFE"'
      last-modified:
      - Mon, 05 Oct 2026 09:28:06 GMT
      sync-token:
      - dyZf1=NzotMSMxNDA5Ng==;sn=14096
      x-ms-date:
      - Mon, 05 Oct 2026 09:28:06 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": false, "description": "Beta Testing Feature Flag", "conditions":
      {"requirement_type": "Any"}, "variants": [], "tags": {}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
      Sync-Token:
      - dyZf1=NzotMSMxNDA5Ng==
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "dL8VBvDgSFPWfRcGVeGUXiWmKApTKDZPVB9JU-9oMFs", "name": "Beta",
        "label": "v1", "enabled": false, "description": "Beta Testing Feature Flag",
        "variants": [], "allocation": null, "conditions": {"requirement_type": "Any"},
        "telemetry": null, "tags": {}, "last_modified": "2026-10-05T09:28:08+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"dL8VBvDgSFPWfRcGVeGUXiWmKApTKDZPVB9JU-9oMFs"'
      last-modified:
      - Mon, 05 Oct 2026 09:28:08 GMT
      sync-token:
      - dyZf1=NzotMSMxNDA5Nw==;sn=14097
      x-ms-date:
      - Mon, 05 Oct 2026 09:28:08 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "description": "Beta Testing Feature Flag", "conditions":
      {"requirement_type": "Any"}, "variants": [], "telemetry": {"enabled": true},
      "tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
      Sync-Token:
      - dyZf1=NzotMSMxNDEwMA==
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "3x5HWMjTD6UHituYS5JsvaUhZdG_1CcpDX4TpX0oSIM", "name": "Beta",
        "label": "v1", "enabled": true, "description": "Beta Testing Feature Flag",
        "variants": [], "allocation": null, "conditions": {"requirement_type": "Any"},
        "telemetry": {"enabled": true, "metadata": {}}, "tags": {"tag1": "value1",
        "tag2": "value2"}, "last_modified": "2026-10-05T09:28:12+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"3x5HWMjTD6UHituYS5JsvaUhZdG_1CcpDX4TpX0oSIM"'
      last-modified:
      - Mon, 05 Oct 2026 09:28:12 GMT
      sync-token:
      - dyZf1=NzotMSMxNDEwMQ==;sn=14101
      x-ms-date:
      - Mon, 05 Oct 2026 09:28:12 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "description": "Set via --flag JSON", "conditions": {"requirement_type":
      "All", "filters": [{"name": "Microsoft.TimeWindow", "parameters": {"Start":
      "Wed, 01 Jan 2025 00:00:00 GMT"}}]}, "tags": {}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "aL49SboAip-Rp22HyRmSNZd4lZaYKrq7CCYcjKeb3XY", "name": "Beta",
        "label": "v1", "enabled": true, "description": "Set via --flag JSON", "variants":
        [], "allocation": null, "conditions": {"requirement_type": "All", "filters":
        [{"name": "Microsoft.TimeWindow", "parameters": {"Start": "Wed, 01 Jan 2025
        00:00:00 GMT"}}]}, "telemetry": null, "tags": {}, "last_modified": "2026-10-05T09:28:16+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"aL49SboAip-Rp22HyRmSNZd4lZaYKrq7CCYcjKeb3XY"'
      last-modified:
      - Mon, 05 Oct 2026 09:28:16 GMT
      sync-token:
      - dyZf1=NzotMSMxNDEwNw==;sn=14107
      x-ms-date:
      - Mon, 05 Oct 2026 09:28:16 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://enhancedfeature000002.azconfig.io/ff?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag": "BdqMbBy_TC79vbL9p7EIidbObZuUUA6gWD4o391BoFU", "items": [{"etag":
        "DA67CHcemiIVyeX2FDvMQvRKFqw3CNqbox4C-M7ZHrs", "name": "Beta", "label": "v1",
        "enabled": false, "description": "Set via --flag shorthand", "variants": [],
        "allocation": null, "conditions": null, "telemetry": null, "tags": {}, "last_modified":
        "2026-10-05T09:28:18+00:00"}]}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ffset"; charset=utf-8
      etag:
      - '"BdqMbBy_TC79vbL9p7EIidbObZuUUA6gWD4o391BoFU"'
      sync-token:
      - dyZf1=NzotMSMxNDExMg==;sn=14112
      x-ms-date:
      - Mon, 05 Oct 2026 09:28:19 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - dyZf1=NzotMSMxNDExMw==;sn=14113
      x-ms-date:
      - Mon, 05 Oct 2026 09:28:24 GMT
    status:
      code: 404
      message: Not Found
version: 1
