interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-17T01:51:49.6941249+00:00","endpoint":"https://CredentialTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c2b3e399-05af-337a-6b64-a79e4cc4d334?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c2b3e399-05af-337a-6b64-a79e4cc4d334?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c2b3e399-05af-337a-6b64-a79e4cc4d334","name":"c2b3e399-05af-337a-6b64-a79e4cc4d334","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c2b3e399-05af-337a-6b64-a79e4cc4d334?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-17T01:51:51+00:00","endpoint":"https://credentialtestd5qa4d4zbm.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtestd5qa4d4zbm","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3500822c-0000-0100-0000-5d803c360000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"8gtP-l0-s0:BPmEj1s6FDkZHDhkxsO1","name":"Primary","value":"IYhKhjBMJDU8t4B/eFUNIkph56rkt9ArmbXicvJoHc8=","connectionString":"Endpoint=https://credentialtestd5qa4d4zbm.azconfig.io;Id=8gtP-l0-s0:BPmEj1s6FDkZHDhkxsO1;Secret=IYhKhjBMJDU8t4B/eFUNIkph56rkt9ArmbXicvJoHc8=","lastModified":"2019-09-17T01:51:49+00:00","readOnly":false},{"id":"kPd/-l0-s0:kVlj0C7TLLqNOw3KVPna","name":"Secondary","value":"0BlyyLIH4blZWRe1RRvUKDjG2kNLS7Db0sWvUh3jrEU=","connectionString":"Endpoint=https://credentialtestd5qa4d4zbm.azconfig.io;Id=kPd/-l0-s0:kVlj0C7TLLqNOw3KVPna;Secret=0BlyyLIH4blZWRe1RRvUKDjG2kNLS7Db0sWvUh3jrEU=","lastModified":"2019-09-17T01:51:49+00:00","readOnly":false},{"id":"3UT/-l0-s0:t9kZd6IDoXZHHGq1qaOW","name":"Primary
        Read Only","value":"8DbMvpCKYWrpsLuVZv8KmbMLL+5ygCeQdR9LcClumkI=","connectionString":"Endpoint=https://credentialtestd5qa4d4zbm.azconfig.io;Id=3UT/-l0-s0:t9kZd6IDoXZHHGq1qaOW;Secret=8DbMvpCKYWrpsLuVZv8KmbMLL+5ygCeQdR9LcClumkI=","lastModified":"2019-09-17T01:51:49+00:00","readOnly":true},{"id":"bCQF-l0-s0:w7zv8gCt0M1sn64gnw0d","name":"Secondary
        Read Only","value":"5AZBRS9sFrgkcmSoXzYieslDZZa+y6jwdjxewoggiSM=","connectionString":"Endpoint=https://credentialtestd5qa4d4zbm.azconfig.io;Id=bCQF-l0-s0:w7zv8gCt0M1sn64gnw0d;Secret=5AZBRS9sFrgkcmSoXzYieslDZZa+y6jwdjxewoggiSM=","lastModified":"2019-09-17T01:51:49+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "8gtP-l0-s0:BPmEj1s6FDkZHDhkxsO1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/RegenerateKey?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"u+g6-l0-s0:q8l/uVu9gh3qCAnW+dQd","name":"Primary","value":"H6s6zZYg3hK9kUkrPlH7YxO4mWZ4T/4ByqnuS41lTuo=","connectionString":"Endpoint=https://credentialtestd5qa4d4zbm.azconfig.io;Id=u+g6-l0-s0:q8l/uVu9gh3qCAnW+dQd;Secret=H6s6zZYg3hK9kUkrPlH7YxO4mWZ4T/4ByqnuS41lTuo=","lastModified":"2019-09-17T01:52:43+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
