interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-10-30T20:51:42.9017073+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null,"dataPlaneProxy":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/85zp9scHXBU7lr5tFVGoptC1tHj-Q22emJxFwPTOUuU?api-version=2024-05-01&t=638659183030059525&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/85zp9scHXBU7lr5tFVGoptC1tHj-Q22emJxFwPTOUuU?api-version=2024-05-01&t=638659183030059525&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-10-30T20:51:42+00:00","endpoint":"https://sourcexxmjn26angosqr7wi2.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false,"dataPlaneProxy":{"authenticationMode":"Local","privateLinkDelegation":"Disabled"}},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2024-10-30T20:51:42+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-30T20:51:42+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcexxmjn26angosqr7wi2","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b800cf4c-0000-0100-0000-67229c610000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrvTuNGFMXfJVr105hAWIqKtKpmwdt1gYTaidLl28QZUofEdmdsAln13Xvv2B4c4AXOR0BBPjn3v38/B7l%2Brm6y/NEOLn4O5mEyvQzH01jezJLBxeCfqirtxXC4Vbla6a3OqyO1r40%2BSovt0NYLm5qsrLIit8Pz8%2BWZWhz/Gpzr5TL4rHUaLFL9W3A2Sk9OFudni8Xp%2BbA0xVO21MYOb7PUFLZ4qI5kWV4W%2BUO2qo3ifzVM%2Bz8lVWG0/V2VW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 6371c046-aadc-4c4f-b5a8-9f9dd826f644
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://sourcexxmjn26angosqr7wi2.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-10-30T20:51:42+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://sourcexxmjn26angosqr7wi2.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-10-30T20:51:42+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://sourcexxmjn26angosqr7wi2.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-10-30T20:51:42+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://sourcexxmjn26angosqr7wi2.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-10-30T20:51:42+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2024-05-01
  response:
    body:
      str[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Hvb3dfrKz--3tMDzFSMm84qtzQxvPYu_eIa6G8Ucw1g?api-version=2024-05-01&t=638659183515556667&c=MIIHpTCCBo2gAwIBAgITfwQsaz94bbkQtzgVvwAEBCxrPzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQxMDAzMDkwOTUzWhcNMjUwNDAxMDk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrvTuNGFMXfJVr105hAWIqKtKpmwdt1gYTaidLl28QZUofEdmdsAln13Xvv2B4c4AXOR0BBPjn3v38/B7l%2Brm6y/NEOLn4O5mEyvQzH01jezJLBxeCfqirtxXC4Vbla6a3OqyO1r40%2BSovt0NYLm5qsrLIit8Pz8%2BWZWhz/Gpzr5TL4rHUaLFL9W3A2Sk9OFudni8Xp%2BbA0xVO21MYOb7PUFLZ4qI5kWV4W%2BUO2qo3ifzVM%2Bz8lVWG0/V2VW[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://destinationbknhhg32znong.azconfig.io;Id=sanitized[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:19.233051 GMT
    method: GET
    uri: https://sourcexxmjn26angosqr7wi2.azconfig.io/kv/Key01?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAwMQ==;sn=73868001
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODAwMQ==
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Oct, 30 2024 20:53:19.524884 GMT
    method: PUT
    uri: https://sourcexxmjn26angosqr7wi2.azconfig.io/kv/Key01?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"DQEVEMtXqH1uSaw20V_SAOV5WJsHFcq0VWjZe3qLpX0","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DQEVEMtXqH1uSaw20V_SAOV5WJsHFcq0VWjZe3qLpX0"'
      last-modified:
      - Wed, 30 Oct 2024 20:53:19 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAwMg==;sn=73868002
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODAxMQ==
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Oct, 30 2024 20:53:23.248484 GMT
    method: PUT
    uri: https://sourcexxmjn26angosqr7wi2.azconfig.io/kv/Key11?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"fz9OMmCxa_gvwL1ijumvSJTQN0dyD43xnlNzdpx-tkU","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"fz9OMmCxa_gvwL1ijumvSJTQN0dyD43xnlNzdpx-tkU"'
      last-modified:
      - Wed, 30 Oct 2024 20:53:23 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAxMg==;sn=73868012
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODAxMg==
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Oct, 30 2024 20:53:23.603921 GMT
    method: PUT
    uri: https://sourcexxmjn26angosqr7wi2.azconfig.io/kv/Key12?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"q46kks_SkYhczbZBkNvu2w0yk55CBrS1MeA46iu32NQ","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"q46kks_SkYhczbZBkNvu2w0yk55CBrS1MeA46iu32NQ"'
      last-modified:
      - Wed, 30 Oct 2024 20:53:23 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAxMw==;sn=73868013
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:25.410444 GMT
    method: GET
    uri: https://sourcexxmjn26angosqr7wi2.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNA==;sn=73868024
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}, "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNA==
      x-ms-content-sha256:
      - qUbAHdy41dQGn2LBJ0FwXErvzXZfPdfL7J69coP3jg4=
      x-ms-date:
      - Oct, 30 2024 20:53:25.644405 GMT
    method: PUT
    uri: https://sourcexxmjn26angosqr7wi2.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"fVbGAo0b2SUZcYFxsX6w2geuJ8A1aOAJyayjPQiHo4Y","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"fVbGAo0b2SUZcYFxsX6w2geuJ8A1aOAJyayjPQiHo4Y"'
      last-modified:
      - Wed, 30 Oct 2024 20:53:25 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNQ==;sn=73868025
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:25.746683 GMT
    method: GET
    uri: https://sourcexxmjn26angosqr7wi2.azconfig.io/kv/HostSecrets?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNQ==;sn=73868025
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:26.162235 GMT
    method: GET
    uri: https://sourcexxmjn26angosqr7wi2.azconfig.io/kv?label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"D4RhUJQHFftDuXokiE6yZnyJXdD8ZQQlBaJ-JFR-QxA","items":[{"etag":"fVbGAo0b2SUZcYFxsX6w2geuJ8A1aOAJyayjPQiHo4Y","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:25+00:00"},{"etag":"VPmnr1_IQ6B1z9MolEQj3JLaEq5Mi7nTuZJ3rcmQYT8","key":"HostSecrets","label":null,"content_type":"application/vnd.mi[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNg==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:26.428858 GMT
    method: GET
    uri: https://sourcexxmjn26angosqr7wi2.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"0wXOUx3C5HESUwaIQkmA6Ky9wmOghv9Sx8yAVa1UwFs","items":[{"etag":"fVbGAo0b2SUZcYFxsX6w2geuJ8A1aOAJyayjPQiHo4Y","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:25+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"0wXOUx3C5HESUwaIQkmA6Ky9wmOghv9Sx8yAVa1UwFs"'
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNg==;sn=73868026
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:26.514670 GMT
    method: GET
    uri: https://destinationbknhhg32znong.azconfig.io/kv?key=%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNg==;sn=73868026
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNg==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:26.821287 GMT
    method: GET
    uri: https://destinationbknhhg32znong.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNg==;sn=73868026
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/json", "value": "{\"uri\":
      \"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags": {}, "locked":
      false, "etag": "VPmnr1_IQ6B1z9MolEQj3JLaEq5Mi7nTuZJ3rcmQYT8"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNg==
      x-ms-content-sha256:
      - c0+eCkDVVoESuCkVoeNMI+3DOpivo5OEh2/GpdYM+rc=
      x-ms-date:
      - Oct, 30 2024 20:53:26.907746 GMT
    method: PUT
    uri: https://destinationbknhhg32znong.azconfig.io/kv/HostSecrets?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"qQy-HWAk2bgSXud3bhznDcxwCu_cSoKUeuhY94PJ264","key":"HostSecrets","label":null,"content_type":"application/json","value":"{\"uri\":
        \"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qQy-HWAk2bgSXud3bhznDcxwCu_cSoKUeuhY94PJ264"'
      last-modified:
      - Wed, 30 Oct 2024 20:53:26 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNw==;sn=73868027
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}, "locked": false, "etag": "DQEVEMtXqH1uSaw20V_SAOV5WJsHFcq0VWjZe3qLpX0"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyNw==
      x-ms-content-sha256:
      - LWqSkgFnWFUnY2lUkslAeEpkY/bzkdWIhb+foPE5fHk=
      x-ms-date:
      - Oct, 30 2024 20:53:26.999136 GMT
    method: PUT
    uri: https://destinationbknhhg32znong.azconfig.io/kv/Key01?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"lXGHVxap_7gPbaMbND1984VwnxyRpg4aoXf1cWB3hXM","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lXGHVxap_7gPbaMbND1984VwnxyRpg4aoXf1cWB3hXM"'
      last-modified:
      - Wed, 30 Oct 2024 20:53:27 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODAyOA==;sn=73868028
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}, \"display_name\": null}", "tags": {}, "locked": false,
      "etag": "fVbGAo0b2SUZcYFxsX6w2geuJ8A1aOAJyayjPQiHo4Y"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODA0MQ==
      x-ms-content-sha256:
      - KcJsRoJ2t8HQY4u5s0XhxuITFQGhEI+zLYgBFi2y9nY=
      x-ms-date:
      - Oct, 30 2024 20:53:28.269895 GMT
    method: PUT
    uri: https://destinationbknhhg32znong.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"N35rvrgrCOW70Yf7XTAWhJnxoOC-A99THTc8KWdq9xc","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"N35rvrgrCOW70Yf7XTAWhJnxoOC-A99THTc8KWdq9xc"'
      last-modified:
      - Wed, 30 Oct 2024 20:53:28 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODA0Mg==;sn=73868042
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:28.702041 GMT
    method: GET
    uri: https://sourcexxmjn26angosqr7wi2.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"0wXOUx3C5HESUwaIQkmA6Ky9wmOghv9Sx8yAVa1UwFs","items":[{"etag":"fVbGAo0b2SUZcYFxsX6w2geuJ8A1aOAJyayjPQiHo4Y","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:25+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"0wXOUx3C5HESUwaIQkmA6Ky9wmOghv9Sx8yAVa1UwFs"'
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODA0NA==;sn=73868044
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:28.952649 GMT
    method: GET
    uri: https://destinationbknhhg32znong.azconfig.io/kv?label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"hbPqT3I8_hlrcQVnPWPC8nKSn3Vyaoni8r0n1UMx4mI","items":[{"etag":"ROVHKSAQWhnUXGKz1emxqSNdQcv6W0OPQZ6XnJENy24","key":".appconfig.featureflag/Beta","label":null,"cont[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:29.246054 GMT
    method: GET
    uri: https://destinationbknhhg32znong.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"vVcxcaH9fjMR3KV5YGvGnNPN0TSJg9_gy4M1ONNU3K8","items":[{"etag":"ROVHKSAQWhnUXGKz1emxqSNdQcv6W0OPQZ6XnJENy24","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"vVcxcaH9fjMR3KV5YGvGnNPN0TSJg9_gy4M1ONNU3K8"'
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODA0NA==;sn=73868044
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:29.537451 GMT
    method: GET
    uri: https://destinationbknhhg32znong.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"hbPqT3I8_hlrcQVnPWPC8nKSn3Vyaoni8r0n1UMx4mI","items":[{"etag":"ROVHKSAQWhnUXGKz1emxqSNdQcv6W0OPQZ6XnJENy24","key":".appconfig.featureflag/Beta","label":nu[...]
- request:
    body: null
    headers:
      If-Match:
      - '"ROVHKSAQWhnUXGKz1emxqSNdQcv6W0OPQZ6XnJENy24"'
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODA0NA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:29.827231 GMT
    method: DELETE
    uri: https://destinationbknhhg32znong.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"ROVHKSAQWhnUXGKz1emxqSNdQcv6W0OPQZ6XnJENy24","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ROVHKSAQWhnUXGKz1emxqSNdQcv6W0OPQZ6XnJENy24"'
      last-modified:
      - Wed, 30 Oct 2024 20:53:28 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODA0NQ==;sn=73868045
    status:
      code: 200
      message: OK
[...]
