interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-08-24T05:33:59.5547341+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/VxpfaGZXJIgYcmHDI8rwot7i-4K2SyCMt79rTq7kQDU?api-version=2023-03-01&t=638600744397898939&c=MIIHhzCCBm-gAwIBAgITfAURLZ3typdTL74CVwAABREtnTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjI3MTU1MDE3WhcNMjUwNjIyMTU1MDE3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/VxpfaGZXJIgYcmHDI8rwot7i-4K2SyCMt79rTq7kQDU?api-version=2023-03-01&t=638600744397898939&c=MIIHhzCCBm-gAwIBAgITfAURLZ3typdTL74CVwAABREtnTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjI3MTU1MDE3WhcNMjUwNjIyMTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-08-24T05:33:59+00:00","endpoint":"https://kvsetimporttestdwe6ui3yv.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"cwanjau@microsoft.com","createdByType":"User","createdAt":"2024-08-24T05:33:59+00:00","lastModifiedBy":"cwanjau@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-24T05:33:59+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttestdwe6ui3yv","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2401dbf9-0000-0100-0000-66c970c90000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest","name":"garywangtest","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},"privateLinkServiceConnectionState":{"status":"Pending","description":"ms","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-28T11:10:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZpRT9tIFIX/S7TapzGBsCwqUlXNgrt1gYTaidj2beIMwSGxvTM2Aar973vv2J44QH/AkfrSVlQ%2BPffeOXfm%2BznI9VN1leUPdnD2c3AbJtPzcDyN5dUsGZwN7quqtGfD4Ublaqk3Oq8O1Ett9EFabIa2ntvUZGWVFbkdnp4uTtT88M/gVC8WwR9ap8E81R%2BCk1F6dDQ/PZnPj0%2BHpSkes4U2dnidpaawxV11IMvyvMjvsmVtFP9Tw7T/u6QqjLafV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3Y/bSsQwEIbfJYhXm6btWsMWFininb2x6wPkMBtDyYFJWlcX391Yb3wGYWCY/%2Bcb%2BK7EwyU/Wz8n0l/J0zCdXifSk7ecY%2BoZc8ILAw58rsTnglCp4FhaZFJoY7bBJ8a57oSs7ykHrekdgKJSwYF2rWoayTsp95xFDKvVgImNVmFI4ZyrIcbH4M/WLCh%2BXjH195pyQEgPIlq6Fq70x7Zu97Qu09zepNnGU5jBHz%2BWd6DWxYCZwmVbIkaaAFergHztiEA3GINgRAa9QcVweBnJbrMfBc6AJfq17/%2BR%2Bzc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 9ed67b78-7eef-4996-9b24-eb862619524a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"TN5l","name":"Primary","value":"Yf1emm1dwZY9DahxHQHQfTPgzC3agopkqIc8s48biD1q5P2u1DFQJQQJ99AHACYeBjFAArohAAACAZAC67Nu","connectionString":"Endpoint=https://kvsetimporttestdwe6ui3yv.azconfig.io;Id=TN5l;Secret=Yf1emm1dwZY9DahxHQHQfTPgzC3agopkqIc8s48biD1q5P2u1DFQJQQJ99AHACYeBjFAArohAAACAZAC67Nu","lastModified":"2024-08-24T05:33:59+00:00","readOnly":false},{"id":"zA7Z","name":"Secondary","value":"F6DfjUWuBzxssqxbivbSBWDzG5qPZtuH59kHGtUyQDOFIBpg7vePJQQJ99AHACYeBjFAArohAAACAZAC5oug","connectionString":"Endpoint=https://kvsetimporttestdwe6ui3yv.azconfig.io;Id=zA7Z;Secret=F6DfjUWuBzxssqxbivbSBWDzG5qPZtuH59kHGtUyQDOFIBpg7vePJQQJ99AHACYeBjFAArohAAACAZAC5oug","lastModified":"2024-08-24T05:33:59+00:00","readOnly":false},{"id":"s5zS","name":"Primary
        Read Only","value":"CmQO9fGn58bkSQvtuUw7YOTsbZEyOFs3ZoXWuG6JLuie9opPkLQHJQQJ99AHACYeBjFAArohAAABAZACkb7k","connectionString":"Endpoint=https://kvsetimporttestdwe6ui3yv.azconfig.io;Id=s5zS;Secret=CmQO9fGn58bkSQvtuUw7YOTsbZEyOFs3ZoXWuG6JLuie9opPkLQHJQQJ99AHACYeBjFAArohAAABAZACkb7k","lastModified":"2024-08-24T05:33:59+00:00","readOnly":true},{"id":"bcUW","name":"Secondary
        Read Only","value":"BO6RgGq4KuaKZ6kh92Aa6MWgbHJOc56gAoyGD0EqtJLNEdAzORsYJQQJ99AHACYeBjFAArohAAABAZAC6GVS","connectionString":"Endpoint=https://kvsetimporttestdwe6ui3yv.azconfig.io;Id=bcUW;Secret=BO6RgGq4KuaKZ6kh92Aa6MWgbHJOc56gAoyGD0EqtJLNEdAzORsYJQQJ99AHACYeBjFAArohAAABAZAC6GVS","lastModified":"2024-08-24T05:33:59+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 24 2024 05:34:45 GMT
    method: GET
    uri: https://kvsetimporttestdwe6ui3yv.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM2NzMzMDg2OQ==;sn=67330869
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzMzMDg2OQ==
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Aug, 24 2024 05:34:46 GMT
    method: PUT
    uri: https://kvsetimporttestdwe6ui3yv.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"oZBNyp7Zu68HtqsBZLBuwWgQYvpXco2WVVq8XuP869o","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-08-24T05:34:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oZBNyp7Zu68HtqsBZLBuwWgQYvpXco2WVVq8XuP869o"'
      last-modified:
      - Sat, 24 Aug 2024 05:34:46 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzMzMDg3MA==;sn=67330870
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzMzMDg3MA==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Aug, 24 2024 05:34:46 GMT
    method: PUT
    uri: https://kvsetimporttestdwe6ui3yv.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"Ser9yU2HnvaAVtQrrIEEpL7cg58qjuKr7bkHo54qmDY","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2024-08-24T05:34:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Ser9yU2HnvaAVtQrrIEEpL7cg58qjuKr7bkHo54qmDY"'
      last-modified:
      - Sat, 24 Aug 2024 05:34:46 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzMzMDg3MQ==;sn=67330871
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzMzMDg3MQ==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Aug, 24 2024 05:34:46 GMT
    method: PUT
    uri: https://kvsetimporttestdwe6ui3yv.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"4s6S6Xws7lfiIuI_4Iokc4oEWcgJB8vqJWReVepUlj8","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2024-08-24T05:34:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"4s6S6Xws7lfiIuI_4Iokc4oEWcgJB8vqJWReVepUlj8"'
      last-modified:
      - Sat, 24 Aug 2024 05:34:46 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzMzMDg3Mg==;sn=67330872
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzMzMDg3Mg==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Aug, 24 2024 05:34:46 GMT
    method: PUT
    uri: https://kvsetimporttestdwe6ui3yv.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"H_Y6Gzm2ZsC8OvELOKHQWrzjv-n8xz_FWZgq-0bquvs","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2024-08-24T05:34:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"H_Y6Gzm2ZsC8OvELOKHQWrzjv-n8xz_FWZgq-0bquvs"'
      last-modified:
      - Sat, 24 Aug 2024 05:34:46 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzMzMDg3Mw==;sn=67330873
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzMzMDg3Mw==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Aug, 24 2024 05:34:46 GMT
    method: PUT
    uri: https://kvsetimporttestdwe6ui3yv.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"OuDcEYI3wU_oXl0jhg40SnltxnN6aZG0EkfWpaE_O34","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-08-24T05:34:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OuDcEYI3wU_oXl0jhg40SnltxnN6aZG0EkfWpaE_O34"'
      last-modified:
      - Sat, 24 Aug 2024 05:34:46 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzMzMDg3NA==;sn=67330874
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzMzMDg3NA==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Aug, 24 2024 05:34:46 GMT
    method: PUT
    uri: https://kvsetimporttestdwe6ui3yv.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"kHHuCBC1kiwF01xuBUkjDLJekIoLIAh3VbivXrcbd9o","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-08-24T05:34:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kHHuCBC1kiwF01xuBUkjDLJekIoLIAh3VbivXrcbd9o"'
      last-modified:
      - Sat, 24 Aug 2024 05:34:46 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzMzMDg3NQ==;sn=67330875
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzMzMDg3NQ==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Aug, 24 2024 05:34:46 GMT
    method: PUT
    uri: https://kvsetimporttestdwe6ui3yv.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"pPG4iuDKVNk50CiurWo-VjvCf8rqVMRHvLaP-bjfMiM","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-08-24T05:34:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pPG4iuDKVNk50CiurWo-VjvCf8rqVMRHvLaP-bjfMiM"'
      last-modified:
      - Sat, 24 Aug 2024 05:34:47 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzMzMDg3Ng==;sn=67330876
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzMzMDg3Ng==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Aug, 24 2024 05:34:47 GMT
    method: PUT
    uri: https://kvsetimporttestdwe6ui3yv.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"WA0SnGmKHuCP10rj9OBB_UUPEyg9Zxo-ybUYD5WRM5A","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2024-08-24T05:34:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WA0SnGmKHuCP10rj9OBB_UUPEyg9Zxo-ybUYD5WRM5A"'
      last-modified:
      - Sat, 24 Aug 2024 05:34:47 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzMzMDg3Nw==;sn=67330877
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM2NzMzMDg3Nw==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Aug, 24 2024 05:34:47 GMT
    method: PUT
    uri: https://kvsetimporttestdwe6ui3yv.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"DohZChD8XjiRgt6yCGPdo9J-Y4CFXBch6O7Mn63T-LE","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2024-08-24T05:34:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DohZChD8XjiRgt6yCGPdo9J-Y4CFXBch6O7Mn63T-LE"'
      last-modified:
      - Sat, 24 Aug 2024 05:34:47 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzMzMDg3OA==;sn=67330878
    status:
      code: 200
      message: OK
[...]
