interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-07-25T16:49:45.7617057+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xLH8nYSeI2Ef5tw6CpOBhwV_-fvPTqKT9cgCfxzqMAM?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xLH8nYSeI2Ef5tw6CpOBhwV_-fvPTqKT9cgCfxzqMAM?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xLH8nYSeI2Ef5tw6CpOBhwV_-fvPTqKT9cgCfxzqMAM","name":"xLH8nYSeI2Ef5tw6CpOBhwV_-fvPTqKT9cgCfxzqMAM","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xLH8nYSeI2Ef5tw6CpOBhwV_-fvPTqKT9cgCfxzqMAM?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-25T16:49:46+00:00","endpoint":"https://kvtest6jn4v4smqax2q6gwrp.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-25T16:49:46+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-25T16:49:47+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtest6jn4v4smqax2q6gwrp","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"ee03f2cf-0000-0100-0000-64bffd2b0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 9b3af105-91f1-40b1-accf-ef2fd936805e
      - 06a49a9c-5410-4af3-ab6a-156af380fecf
      - ea09809b-daaa-40f6-9d56-9a79868c5b53
      - e15ad6ba-c8e6-437f-9a2f-c551a9cab40e
      - 8d9b6943-2a71-444a-9673-35a446e8e9ff
      - ab9b8803-834d-4bd9-bf84-eb9e6f7bb3a8
      - 29a89bf0-e2ab-4ad7-822d-81ce5657d6a8
      - 5ca23467-127d-4f8b-8e1e-f5ce1f2fefe9
      - 47e0d9ba-0142-4aac-ab73-4a2c7c0f74c5
      - a3666f07-d296-482e-b2b1-006ea4af148c
      - 4b40edf4-f448-462d-823d-13c914e4e9cc
      - ace474d5-3d14-4623-ad68-61a91ef2888b
      - 8fa6c137-8659-48e1-b9ff-da836a7d9ab2
      - c7ff6c71-0cf9-4aa0-8f54-8efe12289cc0
      - e4df458f-0e3c-46f9-ae27-93568aa2f4f0
      - 955e561f-aeae-4957-80ab-38f78f13e085
      - 8ae9b414-ae10-488c-86c7-4cb3e969aee6
      - d2cf6003-8ec3-4618-8cbd-a2cc6be358cc
      - d5e592fb-f815-4727-84c8-20c2c728b6cc
      - 77e2c29f-729f-4714-8e15-b2a5a361885e
      - 4b80bdb5-56ff-4d0b-961c-2fa8d1450ab9
      - 6fe0b0c0-7728-4c85-a571-ed535918a1eb
      - 2a7c9e97-8f7c-4dab-8f19-958e05c0646b
      - 844af6b8-f6d1-4939-8325-275b369f4246
      - 4da6282d-8855-4000-9521-4c5755c31a86
      - b3f6649f-2384-44df-8732-f9ae1481b435
      - 1de404a5-3c41-48c3-972f-195da1292899
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"x6Zr","name":"Primary","value":"BKpwAP7Mdvhcv1aPbqt0G1XxmrXpiHnjU6JbhwhLNYc=","connectionString":"Endpoint=https://kvtest6jn4v4smqax2q6gwrp.azconfig.io;Id=x6Zr;Secret=BKpwAP7Mdvhcv1aPbqt0G1XxmrXpiHnjU6JbhwhLNYc=","lastModified":"2023-07-25T16:49:45+00:00","readOnly":false},{"id":"SVNs","name":"Secondary","value":"T8SIdNeN/81j3F5E0fesXo0IHXYTsD/JxQUaAZxZgBE=","connectionString":"Endpoint=https://kvtest6jn4v4smqax2q6gwrp.azconfig.io;Id=SVNs;Secret=T8SIdNeN/81j3F5E0fesXo0IHXYTsD/JxQUaAZxZgBE=","lastModified":"2023-07-25T16:49:45+00:00","readOnly":false},{"id":"V0i9","name":"Primary
        Read Only","value":"59gsZ43iCXwNumt7siM0/NWRSHGAIG9KJsy3zguOud8=","connectionString":"Endpoint=https://kvtest6jn4v4smqax2q6gwrp.azconfig.io;Id=V0i9;Secret=59gsZ43iCXwNumt7siM0/NWRSHGAIG9KJsy3zguOud8=","lastModified":"2023-07-25T16:49:45+00:00","readOnly":true},{"id":"P95/","name":"Secondary
        Read Only","value":"CMUeqykBzhAt8uK3MLCzF10boz/4zEDrgA448ErBck4=","connectionString":"Endpoint=https://kvtest6jn4v4smqax2q6gwrp.azconfig.io;Id=P95/;Secret=CMUeqykBzhAt8uK3MLCzF10boz/4zEDrgA448ErBck4=","lastModified":"2023-07-25T16:49:45+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 25 2023 16:50:30 GMT
    method: GET
    uri: https://kvtest6jn4v4smqax2q6gwrp.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM1MDA2NDg0Mw==;sn=50064843
      x-ms-resource-group:
      - clitest.rgu44jsrgb7jz5g4nfcsbnjpagpphercahl7rinjpam7olpz7dwjx3m5532bg5pyoic
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvtest6jn4v4smqax2q6gwrp
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM1MDA2NDg0Mw==
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Jul, 25 2023 16:50:30 GMT
    method: PUT
    uri: https://kvtest6jn4v4smqax2q6gwrp.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"1gq0eHtl5sPZ8iOivChYvFgQKi279kf6NxcmdlQASwU","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2023-07-25T16:50:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1gq0eHtl5sPZ8iOivChYvFgQKi279kf6NxcmdlQASwU"'
      last-modified:
      - Tue, 25 Jul 2023 16:50:30 GMT
      sync-token:
      - zAJw6V16=NToxOSM1MDA2NDg0NA==;sn=50064844
      x-ms-resource-group:
      - clitest.rgu44jsrgb7jz5g4nfcsbnjpagpphercahl7rinjpam7olpz7dwjx3m5532bg5pyoic
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvtest6jn4v4smqax2q6gwrp
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"1gq0eHtl5sPZ8iOivChYvFgQKi279kf6NxcmdlQASwU"'
      Sync-Token:
      - zAJw6V16=NToxOSM1MDA2NDg0NA==
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Jul, 25 2023 16:50:34 GMT
    method: PUT
    uri: https://kvtest6jn4v4smqax2q6gwrp.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"L6KHrgog2zv0cxeL_UdJHk2TCzeOhm5Dl8Eo2te6pEU","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-07-25T16:50:33+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"L6KHrgog2zv0cxeL_UdJHk2TCzeOhm5Dl8Eo2te6pEU"'
      last-modified:
      - Tue, 25 Jul 2023 16:50:33 GMT
      sync-token:
      - zAJw6V16=NToxOSM1MDA2NDg0NQ==;sn=50064845
      x-ms-resource-group:
      - clitest.rgu44jsrgb7jz5g4nfcsbnjpagpphercahl7rinjpam7olpz7dwjx3m5532bg5pyoic
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvtest6jn4v4smqax2q6gwrp
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 25 2023 16:50:37 GMT
    method: GET
    uri: https://kvtest6jn4v4smqax2q6gwrp.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM1MDA2NDg0Ng==;sn=50064846
      x-ms-resource-group:
      - clitest.rgu44jsrgb7jz5g4nfcsbnjpagpphercahl7rinjpam7olpz7dwjx3m5532bg5pyoic
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvtest6jn4v4smqax2q6gwrp
    status:
      code: 404
      message: Not Found
[...]
