interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-07-21T23:16:28.3904083+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/t9hJ_KAaRj-b0zNHm7gYhyZKskRgYBVd3_bnUrv1GLA?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/t9hJ_KAaRj-b0zNHm7gYhyZKskRgYBVd3_bnUrv1GLA?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/t9hJ_KAaRj-b0zNHm7gYhyZKskRgYBVd3_bnUrv1GLA","name":"t9hJ_KAaRj-b0zNHm7gYhyZKskRgYBVd3_bnUrv1GLA","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/t9hJ_KAaRj-b0zNHm7gYhyZKskRgYBVd3_bnUrv1GLA?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T23:16:28+00:00","endpoint":"https://kvsetimporttestdbvjtmys5.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T23:16:28+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T23:16:29+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttestdbvjtmys5","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e206ec7f-0000-0100-0000-64bb11cd0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 828ef5b2-d851-4fea-9b7a-8da480012afe
      - 43ff7f20-72a1-4b47-b449-7d0eabae3447
      - 9949fc40-ce5c-4b2d-a517-4523ccaf9987
      - f567b7e1-a7bc-4486-9798-f04190d0e5e3
      - 17726142-0a3b-49b5-9bc0-e2119ffd15d4
      - 7bd2be7c-dd6b-4af5-8735-d8ea31a2e672
      - 682cfa88-de15-4df9-96a6-96922f8b0d74
      - 153a7929-efab-4ee7-aec1-dada0a9b1e9c
      - b468bf06-64f9-42bc-8ff6-b4794726bc97
      - 7cc6994a-f01a-42ad-abc6-a81b7d0be4df
      - 3c447561-90a9-48ff-84e4-487d4ec8b3b2
      - 7a8d9bb4-6d64-4a37-baae-5a6ec6d1d021
      - 95da8401-0ace-42a7-92ab-4f570262b56e
      - 7dd8708b-bde5-49dd-a73f-44bc61c28cda
      - 9cd2fbda-ad4c-4d78-9097-a179b3a6a89d
      - e5f42380-90c6-4cd7-b6aa-ac02a1250257
      - aaba435e-838c-4fa6-8d61-53d4b67890ca
      - 14d07cd5-075d-48b4-b783-5314d45cb63b
      - 2b65b5f5-ea92-4f7f-937a-28bc2e23d683
      - 3ee189c8-2d5b-422c-94db-c411c9052e23
      - dbdb19d7-f69b-4143-a013-36e76e471df5
      - 0fc309ad-4124-443a-91fa-8f3b87fdd724
      - 76bb0002-1bdb-44d1-9e43-688d0f43e094
      - 259b66ca-58f8-4475-8286-60f47820ad58
      - a16b2fa9-a0e0-4e2d-b52f-712f39603033
      - 991d44b2-f53f-4ff9-8c9b-eb328b9351a1
      - 2a42a3d7-57f6-4685-a2e0-d2c263cca4c5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"S9DL","name":"Primary","value":"VYxUIO6AAqtDcmzU0rBp2rxk07t5eZOHQy3NXVoOem0=","connectionString":"Endpoint=https://kvsetimporttestdbvjtmys5.azconfig.io;Id=S9DL;Secret=VYxUIO6AAqtDcmzU0rBp2rxk07t5eZOHQy3NXVoOem0=","lastModified":"2023-07-21T23:16:28+00:00","readOnly":false},{"id":"fWWK","name":"Secondary","value":"AGJZfEldBImxJzBwshALazY/MPEF6oS8LzbpgPYtOHE=","connectionString":"Endpoint=https://kvsetimporttestdbvjtmys5.azconfig.io;Id=fWWK;Secret=AGJZfEldBImxJzBwshALazY/MPEF6oS8LzbpgPYtOHE=","lastModified":"2023-07-21T23:16:28+00:00","readOnly":false},{"id":"Vz2b","name":"Primary
        Read Only","value":"fVCVWZWt/ymVErupwrqDwKcbUk5iSRd8DYauwjV27lQ=","connectionString":"Endpoint=https://kvsetimporttestdbvjtmys5.azconfig.io;Id=Vz2b;Secret=fVCVWZWt/ymVErupwrqDwKcbUk5iSRd8DYauwjV27lQ=","lastModified":"2023-07-21T23:16:28+00:00","readOnly":true},{"id":"m5Eg","name":"Secondary
        Read Only","value":"0ys8+qgRahwdTERLUsJWvYMgcVbfXfKn/EfJfA7NnsU=","connectionString":"Endpoint=https://kvsetimporttestdbvjtmys5.azconfig.io;Id=m5Eg;Secret=0ys8+qgRahwdTERLUsJWvYMgcVbfXfKn/EfJfA7NnsU=","lastModified":"2023-07-21T23:16:28+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 23:17:12 GMT
    method: GET
    uri: https://kvsetimporttestdbvjtmys5.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyOTMzNjI5MQ==;sn=29336291
      x-ms-resource-group:
      - clitest.rgedgti2p32kmmbaqvu2xrp2rkylvjxdbcqzuvhoc5fsgpj2raudveaitoq45lcwrho
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvsetimporttestdbvjtmys5
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTMzNjI5MQ==
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Jul, 21 2023 23:17:12 GMT
    method: PUT
    uri: https://kvsetimporttestdbvjtmys5.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"vZyxBSNh-_aM2e3ZvzXRvDkOuzWRFBmLS-MPSze2zfs","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-07-21T23:17:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vZyxBSNh-_aM2e3ZvzXRvDkOuzWRFBmLS-MPSze2zfs"'
      last-modified:
      - Fri, 21 Jul 2023 23:17:12 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyOTMzNjI5Mg==;sn=29336292
      x-ms-resource-group:
      - clitest.rgedgti2p32kmmbaqvu2xrp2rkylvjxdbcqzuvhoc5fsgpj2raudveaitoq45lcwrho
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvsetimporttestdbvjtmys5
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTMzNjI5Mg==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTMzNjI5Mw==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Jul, 21 2023 23:17:12 GMT
    method: PUT
    uri: https://kvsetimporttestdbvjtmys5.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"2RuTytyRLC[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTMzNjI5NA==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Jul, 21 2023 23:17:12 GMT
    method: PUT
    uri: https://kvsetimporttestdbvjtmys5.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"sjAaqOIq02LOMtXZ-87DNXvIdGtmg52azMkgJCCtb-I","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2023-07-21T23:17:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sjAaqOIq02LOMtXZ-87DNXvIdGtmg52azMkgJCCtb-I"'
      last-modified:
      - Fri, 21 Jul 2023 23:17:12 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyOTMzNjI5NQ==;sn=29336295
      x-ms-resource-group:
      - clitest.rgedgti2p32kmmbaqvu2xrp2rkylvjxdbcqzuvhoc5fsgpj2raudveaitoq45lcwrho
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvsetimporttestdbvjtmys5
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTMzNjI5NQ==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Jul, 21 2023 23:17:12 GMT
    method: PUT
    uri: https://kvsetimporttestdbvjtmys5.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"BarjwQvZ8Bh7uPxfhKia64y_gNevd3TR_32eoO9zKj4","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-07-21T23:17:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BarjwQvZ8Bh7uPxfhKia64y_gNevd3TR_32eoO9zKj4"'
      last-modified:
      - Fri, 21 Jul 2023 23:17:12 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyOTMzNjI5Ng==;sn=29336296
      x-ms-resource-group:
      - clitest.rgedgti2p32kmmbaqvu2xrp2rkylvjxdbcqzuvhoc5fsgpj2raudveaitoq45lcwrho
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvsetimporttestdbvjtmys5
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTMzNjI5Ng==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Jul, 21 2023 23:17:13 GMT
    method: PUT
    uri: https://kvsetimporttestdbvjtmys5.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"GVaGfNoyOXKgAzzUBGNfbJ0Fta8nWD3Q661MVe0tRf4","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-07-21T23:17:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GVaGfNoyOXKgAzzUBGNfbJ0Fta8nWD3Q661MVe0tRf4"'
      last-modified:
      - Fri, 21 Jul 2023 23:17:13 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyOTMzNjI5Nw==;sn=29336297
      x-ms-resource-group:
      - clitest.rgedgti2p32kmmbaqvu2xrp2rkylvjxdbcqzuvhoc5fsgpj2raudveaitoq45lcwrho
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvsetimporttestdbvjtmys5
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTMzNjI5Nw==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Jul, 21 2023 23:17:13 GMT
    method: PUT
    uri: https://kvsetimporttestdbvjtmys5.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"NH_UmvnTdOCpqj3QC71GwO0qNIcXYsHFh5FuFaOvGLY","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-07-21T23:17:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NH_UmvnTdOCpqj3QC71GwO0qNIcXYsHFh5FuFaOvGLY"'
      last-modified:
      - Fri, 21 Jul 2023 23:17:13 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyOTMzNjI5OA==;sn=29336298
      x-ms-resource-group:
      - clitest.rgedgti2p32kmmbaqvu2xrp2rkylvjxdbcqzuvhoc5fsgpj2raudveaitoq45lcwrho
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvsetimporttestdbvjtmys5
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTMzNjI5OA==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnB[...]
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyOTMzNjI5OQ==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Jul, 21 2023 23:17:13 GMT
    method: PUT
    uri: https://kvsetimporttestdbvjtmys5.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"jAcmkXVfW-lVDxPvuSMMhWnhMNeD1LIzA855pLMq7i0","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2023-07-21T23:17:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"jAcmkXVfW-lVDxPvuSMMhWnhMNeD1LIzA855pLMq7i0"'
      last-modified:
      - Fri, 21 Jul 2023 23:17:13 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyOTMzNjMwMA==;sn=29336300
      x-ms-resource-group:
      - clitest.rgedgti2p32kmmbaqvu2xrp2rkylvjxdbcqzuvhoc5fsgpj2raudveaitoq45lcwrho
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvsetimporttestdbvjtmys5
    status:
      code: 200
      message: OK
[...]
