interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-05-15T01:01:23.524441+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/516b26a5-821d-ebba-f800-8c025c9deb4c?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/516b26a5-821d-ebba-f800-8c025c9deb4c?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/516b26a5-821d-ebba-f800-8c025c9deb4c","name":"516b26a5-821d-ebba-f800-8c025c9deb4c","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/516b26a5-821d-ebba-f800-8c025c9deb4c?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-05-15T01:01:26+00:00","endpoint":"https://sourcefrjk2syu3clxuwpyuq.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"shuawan@microsoft.com","createdByType":"User","createdAt":"2021-05-15T01:01:26+00:00","lastModifiedBy":"shuawan@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-05-15T01:01:26+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcefrjk2syu3clxuwpyuq","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"05058cb3-0000-0100-0000-609f1d650000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"gaat-l0-s0:biWDnstEirP/2PJpW7Jn","name":"Primary","value":"2OO2FLKF94Z7vzdFiqegcOfZpZ4oxQtCjz+J9Hg/9/o=","connectionString":"Endpoint=https://sourcefrjk2syu3clxuwpyuq.azconfig.io;Id=gaat-l0-s0:biWDnstEirP/2PJpW7Jn;Secret=2OO2FLKF94Z7vzdFiqegcOfZpZ4oxQtCjz+J9Hg/9/o=","lastModified":"2021-05-15T01:01:23+00:00","readOnly":false},{"id":"KlFR-l0-s0:1+wqcQLXSz1gaJ1hvRhi","name":"Secondary","value":"o76udl0JchrN0lhUQCRHnzNp3v3VCqM5N5navlstK6c=","connectionString":"Endpoint=https://sourcefrjk2syu3clxuwpyuq.azconfig.io;Id=KlFR-l0-s0:1+wqcQLXSz1gaJ1hvRhi;Secret=o76udl0JchrN0lhUQCRHnzNp3v3VCqM5N5navlstK6c=","lastModified":"2021-05-15T01:01:23+00:00","readOnly":false},{"id":"qzOC-l0-s0:TUSdnpqlO8lfTScVCx2w","name":"Primary
        Read Only","value":"wKUUoqkIIizm5gsvF+1e1oQLYIg6Byy5n+UW8cv/7fo=","connectionString":"Endpoint=https://sourcefrjk2syu3clxuwpyuq.azconfig.io;Id=qzOC-l0-s0:TUSdnpqlO8lfTScVCx2w;Secret=wKUUoqkIIizm5gsvF+1e1oQLYIg6Byy5n+UW8cv/7fo=","lastModified":"2021-05-15T01:01:23+00:00","readOnly":true},{"id":"TPc/-l0-s0:IpeeVciUd+2mqjwju0JV","name":"Secondary
        Read Only","value":"eoyYpD8k5Hrxla3PM1bNJU4/wHGtBB5WTtvaNEKBpi0=","connectionString":"Endpoint=https://sourcefrjk2syu3clxuwpyuq.azconfig.io;Id=TPc/-l0-s0:IpeeVciUd+2mqjwju0JV;Secret=eoyYpD8k5Hrxla3PM1bNJU4/wHGtBB5WTtvaNEKBpi0=","lastModified":"2021-05-15T01:01:23+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-05-15T01:01:57.9608918+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003","name":"Destination000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/915dadb2-b958-564c-3226-a6b2a9f0415a?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"LEVZ-l0-s0:JK6cHHWsQEhVf7RYgPlL","name":"Primary","value":"57VFFqhs6804JsLZLmrv9/y/rWDpGVGq/zmY+c/7gjU=","connectionString":"Endpoint=https://destinationh[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:02:31 GMT
    method: GET
    uri: https://sourcefrjk2syu3clxuwpyuq.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - gbwYCx9TIsjIJOv6mLPF22jgsyC/XCLSOg6VRumVoSw=
      x-ms-date:
      - May, 15 2021 01:02:31 GMT
    method: PUT
    uri: https://sourcefrjk2syu3clxuwpyuq.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"XFMVYC93rtsZp0eXM2NDMSlrvht","key":"Color","label":"v1","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XFMVYC93rtsZp0eXM2NDMSlrvht"'
      last-modified:
      - Sat, 15 May 2021 01:02:32 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyODkx;sn=5522891
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:02:32 GMT
    method: GET
    uri: https://sourcefrjk2syu3clxuwpyuq.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - AIcYqSdelLEEVVHn03QPsWy0F2DnV+DnfVJIchtosEI=
      x-ms-date:
      - May, 15 2021 01:02:32 GMT
    method: PUT
    uri: https://sourcefrjk2syu3clxuwpyuq.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"FHugQU42GaodnInDyOeM3PAlxV5","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:33+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FHugQU42GaodnInDyOeM3PAlxV5"'
      last-modified:
      - Sat, 15 May 2021 01:02:33 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyODk1;sn=5522895
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:02:33 GMT
    method: GET
    uri: https://sourcefrjk2syu3clxuwpyuq.azconfig.io/kv?label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"FHugQU42GaodnInDyOeM3PAlxV5","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:33+00:00"},{"etag":"1NIYP6MKA1Lij2DCAS90jejZpue","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:33+00:00"},{"etag":"XFMVYC93rtsZp0eXM2NDMSlrvht","key":"Color","label":"v1","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:32+00:00"},{"etag":"S4kySyC5TDWNVfD37PRxguF56Gu","key":"Color","label":"v2","content_type":null,"value":"Blue","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:32+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyODk3;sn=5522897
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM1NTIyODk3
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:02:33 GMT
    method: GET
    uri: https://sourcefrjk2syu3clxuwpyuq.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"FHugQU42GaodnInDyOeM3PAlxV5","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:33+00:00"},{"etag":"1NIYP6MKA1Lij2DCAS90jejZpue","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:33+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyODk3;sn=5522897
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "DestLabel", "value": "Red", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - oxRZIDw/og6PRK2IGsl0Pwozp3BvXlYm9jpUF0Y+Kyg=
      x-ms-date:
      - May, 15 2021 01:02:33 GMT
    method: PUT
    uri: https://destinationhyp57yliizomx.azconfig.io/kv/Color?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"B66Fh1NTT9y5zooxRMSIB9XWsWe","key":"Color","label":"DestLabel","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"B66Fh1NTT9y5zooxRMSIB9XWsWe"'
      last-modified:
      - Sat, 15 May 2021 01:02:34 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyMTAwMjY0;sn=2100264
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "DestLabel", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMyMTAwMjY1
      x-ms-content-sha256:
      - f2I/1/qVOtjIEUT3y7bDJ7MiSvA/OvLvQbOHBhf7A+c=
      x-ms-date:
      - May, 15 2021 01:02:33 GMT
    method: PUT
    uri: https://destinationhyp57yliizomx.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"N4TJPCIFzn4HksaWszhSOo9Nxge","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"N4TJPCIFzn4HksaWszhSOo9Nxge"'
      last-modified:
      - Sat, 15 May 2021 01:02:34 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyMTAwMjY2;sn=2100266
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:02:34 GMT
    method: GET
    uri: https://destinationhyp57yliizomx.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"aQBbDM5AyMLzCJJpOiURqjOXPjD","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:34+00:00"},{"etag":"EgkXyZQ1bgl59uzS2IdVIrNEr9C","key":"Color","label":"DestLabel","content_type":null,"value":"Blue","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:34+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSMyMTAwMjY3;sn=2100267
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"aQBbDM5AyMLzCJJpOiURqjOXPjD"'
      Sync-Token:
      - zAJw6V16=NzoxOSMyMTAwMjY3
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:02:34 GMT
    method: DELETE
    uri: https://destinationhyp57yliizomx.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"aQBbDM5AyMLzCJJpOiURqjOXPjD","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"aQBbDM5AyMLzCJJpOiURqjOXPjD"'
      last-modified:
      - Sat, 15 May 2021 01:02:34 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyMTAwMjY4;sn=2100268
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "value": "Red", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - As9+c0BZHv9YK9Ywg5zmKsyunXJjRMZaRliObouZZtk=
      x-ms-date:
      - May, 15 2021 01:02:35 GMT
    method: PUT
    uri: https://destinationhyp57yliizomx.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"3tuiG4Jc3vMv5FnqBWIduJg58FD","key":"Color","label":null,"content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3tuiG4Jc3vMv5FnqBWIduJg58FD"'
      last-modified:
      - Sat, 15 May 2021 01:02:36 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyMTAwMjcw;sn=2100270
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMyMTAwMjcx
      x-ms-content-sha256:
      - d1lyg6a+9mnBVyP0ORwLzt/rsyGm0ESqcmS4R9loiVI=
      x-ms-date:
      - May, 15 2021 01:02:35 GMT
    method: PUT
    uri: https://destinationhyp57yliizomx.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"maaLKT9wz8h0Kis3mpvcoboK3xZ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"maaLKT9wz8h0Kis3mpvcoboK3xZ"'
      last-modified:
      - Sat, 15 May 2021 01:02:36 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyMTAwMjcy;sn=2100272
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1", "value": "Red", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - ikf7JpBdGRQQpb9y8Sd9mqMJDlqZOgw/Q6C5WDYMBf0=
      x-ms-date:
      - May, 15 2021 01:02:37 GMT
    method: PUT
    uri: https://destinationhyp57yliizomx.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"3LoUXCxQXA01GdjlGxqjHZROSW8","key":"Color","label":"v1","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3LoUXCxQXA01GdjlGxqjHZROSW8"'
      last-modified:
      - Sat, 15 May 2021 01:02:37 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyMTAwMjc2;sn=2100276
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMyMTAwMjc3
      x-ms-content-sha256:
      - AIcYqSdelLEEVVHn03QPsWy0F2DnV+DnfVJIchtosEI=
      x-ms-date:
      - May, 15 2021 01:02:37 GMT
    method: PUT
    uri: https://destinationhyp57yliizomx.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"4vs0Ritv7HkK5vkSAskZ2dYkzOu","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:38+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"4vs0Ritv7HkK5vkSAskZ2dYkzOu"'
      last-modified:
      - Sat, 15 May 2021 01:02:38 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyMTAwMjc4;sn=2100278
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:02:38 GMT
    method: GET
    uri: https://sourcefrjk2syu3clxuwpyuq.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"FHugQU42GaodnInDyOeM3PAlxV5","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:33+00:00"},{"etag":"1NIYP6MKA1Lij2DCAS90jejZpue","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:33+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NTIyOTA2;sn=5522906
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"918dkCusOH0WXJ8j2OsmyBzBEtN"'
      Sync-Token:
      - zAJw6V16=NzoxOSMyMTAwMzAy
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 15 2021 01:02:44 GMT
    method: DELETE
    uri: https://destinationhyp57yliizomx.azconfig.io/kv/Color?label=v2&api-version=1.0
  response:
    body:
      string: '{"etag":"918dkCusOH0WXJ8j2OsmyBzBEtN","key":"Color","label":"v2","content_type":null,"value":"Blue","tags":{},"locked":false,"last_modified":"2021-05-15T01:02:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"918dkCusOH0WXJ8j2OsmyBzBEtN"'
      last-modified:
      - Sat, 15 May 2021 01:02:44 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyMTAwMzAz;sn=2100303
    status:
      code: 200
      message: OK
version: 1
