interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-09-20T01:17:56.6348438+00:00","endpoint":"https://FeatureTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/03592c2d-b1f7-73ec-0dd1-656b8cdc476c?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/03592c2d-b1f7-73ec-0dd1-656b8cdc476c?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/03592c2d-b1f7-73ec-0dd1-656b8cdc476c","name":"03592c2d-b1f7-73ec-0dd1-656b8cdc476c","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/03592c2d-b1f7-73ec-0dd1-656b8cdc476c?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-09-20T01:17:58+00:00","endpoint":"https://featuretestpfkyeb2jo7q6a.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretestpfkyeb2jo7q6a","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5a00b98b-0000-0100-0000-5d8428c50000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"Ke1w-l0-s0:lS5+xeUdquzxRMWDsnC+","name":"Primary","value":"BadS9fWtq2WU+JnujkcR4hKujt1TKTVlWjf2WJDGMiM=","connectionString":"Endpoint=https://featuretestpfkyeb2jo7q6a.azconfig.io;Id=Ke1w-l0-s0:lS5+xeUdquzxRMWDsnC+;Secret=BadS9fWtq2WU+JnujkcR4hKujt1TKTVlWjf2WJDGMiM=","lastModified":"2019-09-20T01:17:56+00:00","readOnly":false},{"id":"vTDe-l0-s0:cV+rIYl3oTQnqouHMZcw","name":"Secondary","value":"eCmW0TyjvXm8bHXu35hJAtb7hw9e1RDPS4r8XWSkdlE=","connectionString":"Endpoint=https://featuretestpfkyeb2jo7q6a.azconfig.io;Id=vTDe-l0-s0:cV+rIYl3oTQnqouHMZcw;Secret=eCmW0TyjvXm8bHXu35hJAtb7hw9e1RDPS4r8XWSkdlE=","lastModified":"2019-09-20T01:17:56+00:00","readOnly":false},{"id":"bQVV-l0-s0:5OUdbhJFo8765MTNm2Ij","name":"Primary
        Read Only","value":"m7mfR45oxdAdYniDojoA4ATlW3CJqt7VQn7H8MfRvqo=","connectionString":"Endpoint=https://featuretestpfkyeb2jo7q6a.azconfig.io;Id=bQVV-l0-s0:5OUdbhJFo8765MTNm2Ij;Secret=m7mfR45oxdAdYniDojoA4ATlW3CJqt7VQn7H8MfRvqo=","lastModified":"2019-09-20T01:17:56+00:00","readOnly":true},{"id":"YmVy-l0-s0:Io/xcyzJeAncZ+yn4ybK","name":"Secondary
        Read Only","value":"GQtslGeQzlqdALFe840q2bBvt2pbGkl1sYrVqfDMJoI=","connectionString":"Endpoint=https://featuretestpfkyeb2jo7q6a.azconfig.io;Id=YmVy-l0-s0:Io/xcyzJeAncZ+yn4ybK;Secret=GQtslGeQzlqdALFe840q2bBvt2pbGkl1sYrVqfDMJoI=","lastModified":"2019-09-20T01:17:56+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 20 2019 01:18:14 GMT
    method: GET
    uri: https://featuretestpfkyeb2jo7q6a.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"label\":
      \"v1\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - LGAOlGD778BU8ExA/MNA5BynjK7D6dfbxMNH1sl1puY=
      x-ms-date:
      - Sep, 20 2019 01:18:14 GMT
    method: PUT
    uri: https://featuretestpfkyeb2jo7q6a.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"dLbi7uILmR6r5MCBfcvFCmtmJUj","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"label\": \"v1\", \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-20T01:18:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"dLbi7uILmR6r5MCBfcvFCmtmJUj"'
      last-modified:
      - Fri, 20 Sep 2019 01:18:15 GMT
      sync-token:
      - zAJw6V16=NDotMSM1NTUzMTM=;sn=555313
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"Beta Testing Feature Flag\",
      \"enabled\": false, \"label\": \"v1\", \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"dLbi7uILmR6r5MCBfcvFCmtmJUj"'
      x-ms-content-sha256:
      - JzWMGd7OXBERJW9okGz/qTjJbg5GwyxsGWLmpLrUAwA=
      x-ms-date:
      - Sep, 20 2019 01:18:16 GMT
    method: PUT
    uri: https://featuretestpfkyeb2jo7q6a.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"U9AOhe60OXczUjlayNrDU14Ouna","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-20T01:18:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"U9AOhe60OXczUjlayNrDU14Ouna"'
      last-modified:
      - Fri, 20 Sep 2019 01:18:17 GMT
      sync-token:
      - zAJw6V16=NDotMSM1NTUzMTQ=;sn=555314
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 20 2019 01:18:23 GMT
    method: GET
    uri: https://featuretestpfkyeb2jo7q6a.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v2&fields=
  response:
    body:
      string: '{"etag":"k3gVSjD8dQRH2bhE1hoEZidPkwS","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-09-20T01:18:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"k3gVSjD8dQRH2bhE1hoEZidPkwS"'
      last-modified:
      - Fri, 20 Sep 2019 01:18:21 GMT
      sync-token:
      - zAJw6V16=NDotMSM1NTUzMTY=;sn=555316
    status:
      code: 200
      message: OK
version: 1
