interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-07-03T00:30:57.3766053+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6749b22f-bf93-9621-c805-c10b536f4b9a?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6749b22f-bf93-9621-c805-c10b536f4b9a?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6749b22f-bf93-9621-c805-c10b536f4b9a","name":"6749b22f-bf93-9621-c805-c10b536f4b9a","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6749b22f-bf93-9621-c805-c10b536f4b9a?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-07-03T00:30:58+00:00","endpoint":"https://importtesttuoz3kmba4h4fc.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtesttuoz3kmba4h4fc","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8b01dd05-0000-0100-0000-5efe7c420000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1/privateEndpointConnections/xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7","name":"xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MININT-APPE4B4-IntegrationRGProdWUS/providers/Microsoft.Network/privateEndpoints/xuxuxuxu"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}]},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-03-25T04:52:09+00:00","endpoint":"https://ernestt-test3.azconfig.io","encryption":{"keyVaultProperties[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"xrN6-l0-s0:g8k+CNU14AZeEdqAxV4h","name":"Primary","value":"FpnN52ckSJfLAzOpz5fFjhu3klD+wP2F5x1TENM5Dc4=","connectionString":"Endpoint=https://importtesttuoz3kmba4h4fc.azconfig.io;Id=xrN6-l0-s0:g8k+CNU14AZeEdqAxV4h;Secret=FpnN52ckSJfLAzOpz5fFjhu3klD+wP2F5x1TENM5Dc4=","lastModified":"2020-07-03T00:30:57+00:00","readOnly":false},{"id":"jGx8-l0-s0:ocXpwlZ02kVy9tgWMy+Z","name":"Secondary","value":"iWppTtm9yMI52OK/h+X1zP8Cxa0YlPf/PlaCzgVY3p0=","connectionString":"Endpoint=https://importtesttuoz3kmba4h4fc.azconfig.io;Id=jGx8-l0-s0:ocXpwlZ02kVy9tgWMy+Z;Secret=iWppTtm9yMI52OK/h+X1zP8Cxa0YlPf/PlaCzgVY3p0=","lastModified":"2020-07-03T00:30:57+00:00","readOnly":false},{"id":"kfcv-l0-s0:GMDdZuF0V/KOA+A/pdHb","name":"Primary
        Read Only","value":"rWNzTqMYPlq436QgZjYZQ2EalVMltaFjPpIOaDEQaaw=","connectionString":"Endpoint=https://importtesttuoz3kmba4h4fc.azconfig.io;Id=kfcv-l0-s0:GMDdZuF0V/KOA+A/pdHb;Secret=rWNzTqMYPlq436QgZjYZQ2EalVMltaFjPpIOaDEQaaw=","lastModified":"2020-07-03T00:30:57+00:00","readOnly":true},{"id":"auPx-l0-s0:QRT+3rzwxow8cNb/2SbX","name":"Secondary
        Read Only","value":"0+Qr1gaYZXXAOHOo1nl1H8P52N7bRgwKNyqdhcRWR0E=","connectionString":"Endpoint=https://importtesttuoz3kmba4h4fc.azconfig.io;Id=auPx-l0-s0:QRT+3rzwxow8cNb/2SbX;Secret=0+Qr1gaYZXXAOHOo1nl1H8P52N7bRgwKNyqdhcRWR0E=","lastModified":"2020-07-03T00:30:57+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Jul, 03 2020 00:31:16 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/BackgroundColor?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"1JhGS2ZSwZYBj7Y6JiB2v0tH350","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1JhGS2ZSwZYBj7Y6JiB2v0tH350"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:17 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxMzEjNz0tMQ==;sn=1762131
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Jul, 03 2020 00:31:16 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/Language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"yXdrbUGEpbXw9Kh9i6McUsnQFFc","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yXdrbUGEpbXw9Kh9i6McUsnQFFc"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:17 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxMzIjNz0tMQ==;sn=1762132
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Jul, 03 2020 00:31:16 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/Langugage?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"s2IiW2nqO1VaXM9BbDskTSzARwp","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"s2IiW2nqO1VaXM9BbDskTSzARwp"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:17 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxMzMjNz0tMQ==;sn=1762133
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Jul, 03 2020 00:31:17 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"YoeKgESWo9IoKDv51JjqY5ShAtL","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YoeKgESWo9IoKDv51JjqY5ShAtL"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:17 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxMzQjNz0tMQ==;sn=1762134
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Jul, 03 2020 00:31:17 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"DnZdmJmammCxHaCxdQeBesd9H26","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DnZdmJmammCxHaCxdQeBesd9H26"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:17 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxMzUjNz0tMQ==;sn=1762135
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Jul, 03 2020 00:31:17 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/abc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"awZPF8cqzjuVgtPCpI5oiz47Krp","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"awZPF8cqzjuVgtPCpI5oiz47Krp"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:17 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxMzgjNz0tMQ==;sn=1762138
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Jul, 03 2020 00:31:17 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/appabc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"iJ0S1AZNNAUXLIFFFwe7HRfyzYe","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"iJ0S1AZNNAUXLIFFFwe7HRfyzYe"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:18 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxMzkjNz0tMQ==;sn=1762139
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Jul, 03 2020 00:31:17 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/background-color?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"5AYZ1TUkaCratDHqzuoqiwyDSo7","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5AYZ1TUkaCratDHqzuoqiwyDSo7"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:18 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxNDAjNz0tMQ==;sn=1762140
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Jul, 03 2020 00:31:17 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/font-size?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"orpH13ZfKbx2cCN0edkWM7PepUW","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"orpH13ZfKbx2cCN0edkWM7PepUW"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:18 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxNDEjNz0tMQ==;sn=1762141
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Jul, 03 2020 00:31:17 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"zEMLXLsD359NHD6xIuxPQUQKpcs","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zEMLXLsD359NHD6xIuxPQUQKpcs"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:18 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxNDIjNz0tMQ==;sn=1762142
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 03 2020 00:31:25 GMT
    method: GET
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"1JhGS2ZSwZYBj7Y6JiB2v0tH350","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:17+00:00"},{"etag":"yXdrbUGEpbXw9Kh9i6McUsnQFFc","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:17+00:00"},{"etag":"s2IiW2nqO1VaXM9BbDskTSzARwp","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 03 2020 00:31:32 GMT
    method: GET
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxNDQjNz0tMQ==;sn=1762144
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 03 2020 00:31:40 GMT
    method: GET
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/key_vault_reference?label=&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://testkeyvault.vault.azure.net/secrets/mysecret\"}",
      "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - YVXtIwKEl5mRRRO+SlEUpmLkg1p7Z1daiLS1970aMzA=
      x-ms-date:
      - Jul, 03 2020 00:31:41 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/key_vault_reference?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"XasltD1YPDdM8YpZpz1stbRBPRG","key":"key_vault_reference","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://testkeyvault.vault.azure.net/secrets/mysecret\"}","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XasltD1YPDdM8YpZpz1stbRBPRG"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:41 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxNDUjNz0tMQ==;sn=1762145
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Jul, 03 2020 00:31:57 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/Color?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"Q9zJDs9ODBiCuxxxfbdZ7A8HYCb","key":"Color","label":"KeyValuesWithFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Q9zJDs9ODBiCuxxxfbdZ7A8HYCb"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:58 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxNDYjNz0tMQ==;sn=1762146
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Jul, 03 2020 00:31:57 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/Region?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"22FBh8P7u0hYLMPjU3YLKIQaCWX","key":"Region","label":"KeyValuesWithFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"22FBh8P7u0hYLMPjU3YLKIQaCWX"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:58 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxNDcjNz0tMQ==;sn=1762147
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - smMe5jbDoK81kykMdQf+ABS9IQyP84wxhjeykK9Pqt4=
      x-ms-date:
      - Jul, 03 2020 00:31:57 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"PwoezTiqjf3xp5cebDoY0Zeolmd","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PwoezTiqjf3xp5cebDoY0Zeolmd"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:58 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxNDgjNz0tMQ==;sn=1762148
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - WBgv2yHAQusEJjAEfNxX3Z+pzUptTv2n3pjwT9EM+UM=
      x-ms-date:
      - Jul, 03 2020 00:31:57 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"oNnan9A914Ru34NdIsaMNQDs4N1","key":".appconfig.featureflag/Percentage","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": null, \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2020-07-03T00:31:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oNnan9A914Ru34NdIsaMNQDs4N1"'
      last-modified:
      - Fri, 03 Jul 2020 00:31:58 GMT
      sync-token:
      - zAJw6V16=NTo0IzE3NjIxNDkjNz0tMQ==;sn=1762149
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - U/vcuIdXDVYjNR0o/cDmtKc+G8Kri6T6CtIaHnMo9Kg=
      x-ms-date:
      - Jul, 03 2020 00:31:57 GMT
    method: PUT
    uri: https://importtesttuoz3kmba4h4fc.azconfig.io/kv/.appconfig.feature[...]
[...]
