interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-05-06T21:23:11.8062584+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":{"name":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/55059ccb-419e-a0f9-8ff5-e14cc465a569?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/55059ccb-419e-a0f9-8ff5-e14cc465a569?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/55059ccb-419e-a0f9-8ff5-e14cc465a569","name":"55059ccb-419e-a0f9-8ff5-e14cc465a569","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/55059ccb-419e-a0f9-8ff5-e14cc465a569?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-05-06T21:23:13+00:00","endpoint":"https://kvtestkdljzbi5zgcp4hiphz.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestkdljzbi5zgcp4hiphz","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"03003476-0000-0100-0000-60945e400000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[]},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-03-25T04:52:09+00:00","endpoint":"https://ernestt-test3.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ernestt-test/providers/Microsoft.AppConfiguration/configurationStores/ernestt-test3","name":"ernestt-test3","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-04-30T18:46:40+00:00","endpoint":"https://recao430.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/recao/providers/Microsoft.AppConfiguration/configurationStores/recao430/privateEndpointConnections/recaoprivateendpoint.204b901d-c719-4004-82e8-e997f17b9ad4","name":"recaoprivateendpoint.204b901d-c719-4004-82e8-e997f17b9ad4","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/recao/providers/Microsoft.Network/privateEndpoints/recaoprivateendpoint"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}]},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/recao/providers/Microsoft.AppConfiguration/configurationStores/recao430","name":"recao430","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"zLth-l0-s0:2V9Yho8Uyvjn/Sc7Tvn1","name":"Primary","value":"Q8FTNQ23MuDbJxWMTC5C+5PnJFglDh+S9ysmKZzDBG4=","connectionString":"Endpoint=https://kvtestkdljzbi5zgcp4hiphz.azconfig.io;Id=zLth-l0-s0:2V9Yho8Uyvjn/Sc7Tvn1;Secret=Q8FTNQ23MuDbJxWMTC5C+5PnJFglDh+S9ysmKZzDBG4=","lastModified":"2021-05-06T21:23:11+00:00","readOnly":false},{"id":"ooNm-l0-s0:KMgyzaE9XO4oILDQPow8","name":"Secondary","value":"krqKam4EjCQBfd2LlaaV+16y7j4soiTQBDWpomnlC58=","connectionString":"Endpoint=https://kvtestkdljzbi5zgcp4hiphz.azconfig.io;Id=ooNm-l0-s0:KMgyzaE9XO4oILDQPow8;Secret=krqKam4EjCQBfd2LlaaV+16y7j4soiTQBDWpomnlC58=","lastModified":"2021-05-06T21:23:11+00:00","readOnly":false},{"id":"Dtyr-l0-s0:qhDxpBb8ColWZTvW123g","name":"Primary
        Read Only","value":"dHhWaztmHj53Te4QwnIISFGTYRn80VuuGbfVzIkx+x8=","connectionString":"Endpoint=https://kvtestkdljzbi5zgcp4hiphz.azconfig.io;Id=Dtyr-l0-s0:qhDxpBb8ColWZTvW123g;Secret=dHhWaztmHj53Te4QwnIISFGTYRn80VuuGbfVzIkx+x8=","lastModified":"2021-05-06T21:23:11+00:00","readOnly":true},{"id":"uovX-l0-s0:p2d/KNEkCabFtRK5jryz","name":"Secondary
        Read Only","value":"yxi/mALk1eJIGxGfhv+8lIQf+QXjSWxszTJwOwGxEJE=","connectionString":"Endpoint=https://kvtestkdljzbi5zgcp4hiphz.azconfig.io;Id=uovX-l0-s0:p2d/KNEkCabFtRK5jryz;Secret=yxi/mALk1eJIGxGfhv+8lIQf+QXjSWxszTJwOwGxEJE=","lastModified":"2021-05-06T21:23:11+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Language", "value": "spanish"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - 8iLdcWDtWLJ8PYg7E6yLqnb7ejltzQCh53RwNMv7mKs=
      x-ms-date:
      - May, 06 2021 21:24:06 GMT
    method: PUT
    uri: https://kvtestkdljzbi5zgcp4hiphz.azconfig.io/kv/Language?api-version=1.0
  response:
    body:
      string: '{"etag":"V31EznQ7BUSOOSsuaO95rXRuF3D","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2021-05-06T21:24:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"V31EznQ7BUSOOSsuaO95rXRuF3D"'
      last-modified:
      - Thu, 06 May 2021 21:24:07 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzQ2;sn=5401746
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM1NDAxNzQ2
      x-ms-content-sha256:
      - tWRa2Mt5IUn01CqBpFZZJ3tEOhzI+1Ld42ukd5tS2ZE=
      x-ms-date:
      - May, 06 2021 21:24:06 GMT
    method: PUT
    uri: https://kvtestkdljzbi5zgcp4hiphz.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"eExyIOvjzDtTRTQKroQugg4KwRK","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-06T21:24:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eExyIOvjzDtTRTQKroQugg4KwRK"'
      last-modified:
      - Thu, 06 May 2021 21:24:07 GMT
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzQ3;sn=5401747
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:24:28 GMT
    method: GET
    uri: https://kvtestkdljzbi5zgcp4hiphz.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"eExyIOvjzDtTRTQKroQugg4KwRK","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-06T21:24:07+00:00"},{"etag":"V31EznQ7BUSOOSsuaO95rXRuF3D","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2021-05-06T21:24:07+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzQ3;sn=5401747
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 06 2021 21:24:50 GMT
    method: GET
    uri: https://kvtestkdljzbi5zgcp4hiphz.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"eExyIOvjzDtTRTQKroQugg4KwRK","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-05-06T21:24:07+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM1NDAxNzUw;sn=5401750
    status:
      code: 200
      message: OK
version: 1
