interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-06-30T08:22:29.6668095+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null}, "sku": {"name": "Standard"}, "systemData":
        null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002",
        "name": "Source000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/bfNoCoTR5LsKew3bSVCo4VIvZTIARbxMkRIDr1KCAmY?api-version=2024-06-01&t=638868685499146537&c=MIIHpTCCBo2gAwIBAgITfwV1hryhjutNBgX8OgAEBXWGvDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDIwMTgwNDEyWhcNMjUxMDE3MTgwNDEyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/bfNoCoTR5LsKew3bSVCo4VIvZTIARbxMkRIDr1KCAmY?api-version=2024-06-01&t=638868685499146537&c=MIIHpTCCBo2gAwIBAgITfwV1hryhjutNBgX8OgAEBXWGvDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDIwMTgwNDEyWhcNMjUxMDE3MTg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-06-30T08:22:29+00:00", "endpoint": "https://sourcercxio7ckvk4bgbggrn.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2025-06-30T08:22:29+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2025-06-30T08:22:29+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcercxio7ckvk4bgbggrn",
        "name": "Source000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d300cd23-0000-0100-0000-686249470000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2022-10-05T17:47:19+00:00", "endpoint": "https://storagemetrictest.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=1dVdi5tAFAbg/zKUXmWijuYTliJLoGU33RKV3ngzOx6tGD%2BYGdPQkP/e4yTrbkrL0su5kmgSfHjPnPdEGjjqx7KpFFmfyPdNFN9vvsa78DGJyJr80LpTa8epecMLqKHRU/6rlzAVbe2o/lkJWXa6bBvlCLZwAcSCLhkwGmT5jK6W8EzBzzweBPmCceZ0sj2UGUjlbEshW9Xmehp23X3b5GXRSz78lSPefop0K0F94l1JD/g7fH7HXBZQd05d7%2BMHVZVd3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=1ZDdSsQwEIXfJYhXpunGatfCIkUELyyCXe96k02mNdRmwiRdxNJ3N/6A%2BwpezplzDnxnYQ7e46N1Y2DVwu7rdv/Ssoq9xuhDJcSknBpgAhcz9TETZBonEeZD0GR9tOiC0LLMAXTJtxIkL0x/xW%2B2cOBwaTaqKPpSKik84dEaoCAaqwkD9jGrvb9D19thJvVVJfTp1UYkCLfKW35MufTfyVwWPL/m%2Beb8LIzW73EEt4sQYnLiTBocemDrxR/Uk3vAN5PQkqhoqoeBYFARzHc2gdbPDfvxN4pGoCQt3e8OHau6/7xEx1a2fgI%3D
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2023-06-16T01:01:19+00:00", "endpoint": "https://vnetlocaleus.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "publicNetworkAccess": "Disabled", "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "defaultKeyValueRevisionRetentionPeriodInSeconds": 2592000, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "19fcf05b-3ddc-4cf1-8424-9c255c2a60a4",
        "createdByType": "Application", "createdAt": "2023-06-16T01:01:19+00:00",
        "lastModifiedBy": "test@example.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2025-01-07T23:13:49+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/integrationrglocaleastus/providers/Microsoft.AppConfiguration/configurationStores/vnetlocaleus",
        "name": "VNETlocalEUS", "tags": {"donotdelete": ""}}, {"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2022-09-16T17:53:25+00:00", "endpoint": "https://wsb13localeastus2022-09-16--17-53-22-87.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "ena[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3VBBasMwEPyLKD11LVmxG9cQiimFHhoKTXrzRZHXrnAsCUkOpsZ/r5IWmjf0suzOzA7MzETjFF6V7j0pZ/Jc7fYfO1KSzxCsLykdhBYdDqhDIr5Gh4k0A/XjwUunbFBGeyr5miHKNRQcOWRNm8NDgQfAVZOKLGvXXHBqnTmpBp2nWyWd8aYNSWXtk9Gt6kYnzlZUXl%2B7YBz6R2EVnOJf5Dec8QzYPbD09sb3yu5Nj3ozTdCOWh6NFMfLQOHD6KOYAytglQIwBiw/b3lKlru/yG/6xRybGDyCwg1V1znsRMDm4hxrqN635Ee/Fa5HF6G5/m2pJmX9f3uqyUKWbw%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 6cd4f62d-a67f-4fcd-b32f-32169a486805
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://sourcercxio7ckvk4bgbggrn.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-06-30T08:22:29+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://sourcercxio7ckvk4bgbggrn.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-06-30T08:22:29+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://sourcercxio7ckvk4bgbggrn.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-06-30T08:22:29+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://sourcercxio7ckvk4bgbggrn.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-06-30T08:22:29+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2024-06-01
  response:
    body:
      str[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/MfCjLwx3iGPaEin8VMEkGr1O7fgMcnri55SxjwQSCcI?api-version=2024-06-01&t=638868685928035469&c=MIIHpTCCBo2gAwIBAgITfwV1hryhjutNBgX8OgAEBXWGvDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDIwMTgwNDEyWhcNMjUxMDE3MTg[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://destination3rrpaq6tqzpm5.azconfig.io;Id=sanitized[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:02.458915 GMT
    method: GET
    uri: https://sourcercxio7ckvk4bgbggrn.azconfig.io/kv/Color?label=v1&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2Mzg=;sn=94961638
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2Mzg=
      x-ms-content-sha256:
      - opxXzk3c6Pv5xJQRGK2KYQWFiTofPo7eDjsA5Z7RZjU=
      x-ms-date:
      - Jun, 30 2025 08:24:02.820702 GMT
    method: PUT
    uri: https://sourcercxio7ckvk4bgbggrn.azconfig.io/kv/Color?label=v1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"7WDByhnhbTQAYoaePBryppRkRmt8egWfXxsFDSCkGio","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7WDByhnhbTQAYoaePBryppRkRmt8egWfXxsFDSCkGio"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:03 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2Mzk=;sn=94961639
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:03.801152 GMT
    method: GET
    uri: https://sourcercxio7ckvk4bgbggrn.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDA=;sn=94961640
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}, "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDA=
      x-ms-content-sha256:
      - DkiljUK6U6QEyjKN4Cv+ejM0DLAIfMed+HIb6hA/bcU=
      x-ms-date:
      - Jun, 30 2025 08:24:04.094769 GMT
    method: PUT
    uri: https://sourcercxio7ckvk4bgbggrn.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"hO0bt0ce7RhHEHTiRYqwP4t-SbNRkM_fHoQyTCgnvj0","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hO0bt0ce7RhHEHTiRYqwP4t-SbNRkM_fHoQyTCgnvj0"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:04 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDE=;sn=94961641
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:05.021844 GMT
    method: GET
    uri: https://sourcercxio7ckvk4bgbggrn.azconfig.io/kv?label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"trtmG-kCS5k6kaHnrIphyaJCiBPUYqShBzGClFvlLVY","items":[{"etag":"hO0bt0ce7RhHEHTiRYqwP4t-SbNRkM_fHoQyTCgnvj0","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:04+00:00"},{"etag":"Nq04Lh579lCop_2V4fXEalXbce5WcxMbixL9CUg8534","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:04+00:00"},{"etag":"7WDByhnhbTQAYoaePBryppRkRmt8egWfXxsFDSCkGio","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:03+00:00"},{"etag":"-nsdoScahRlpRDvL5QlxRLxKdpj7HD5hM-ZiJ1ot8t8","key":"Color","label":"v2","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:03+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"trtmG-kCS5k6kaHnrIphyaJCiBPUYqShBzGClFvlLVY"'
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDI=;sn=94961642
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDI=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:05.321490 GMT
    method: GET
    uri: https://sourcercxio7ckvk4bgbggrn.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"i3QmBMNByry9mlwkrIWZ_GMxTil1xPXmLrXlakOGcCU","items":[{"etag":"hO0bt0ce7R[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:05.637235 GMT
    method: GET
    uri: https://destination3rrpaq6tqzpm5.azconfig.io/kv?key=%2A&label=DestLabel&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDI=;sn=94961642
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDI=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:07.005319 GMT
    method: GET
    uri: https://destination3rrpaq6tqzpm5.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=DestLabel&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDI=;sn=94961642
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "DestLabel", "content_type": "", "value": "Red",
      "tags": {}, "locked": false, "etag": "7WDByhnhbTQAYoaePBryppRkRmt8egWfXxsFDSCkGio"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDI=
      x-ms-content-sha256:
      - 5jyqk9oXADdcw1b69Okt+cQFKzhXQD4TsoTfkbviW44=
      x-ms-date:
      - Jun, 30 2025 08:24:07.335485 GMT
    method: PUT
    uri: https://destination3rrpaq6tqzpm5.azconfig.io/kv/Color?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"-JxGMiR8v8Ygxx6WspUCslkxul_Gh_FQcaHGQDl2WQ0","key":"Color","label":"DestLabel","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"-JxGMiR8v8Ygxx6WspUCslkxul_Gh_FQcaHGQDl2WQ0"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:07 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDM=;sn=94961643
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "DestLabel", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}, \"display_name\": null}", "tags": {}, "locked": false, "etag": "hO0bt0ce7RhHEHTiRYqwP4t-SbNRkM_fHoQyTCgnvj0"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDQ=
      x-ms-content-sha256:
      - 6rBPzLGq9jrLHc6m5K71Kf3BFJen4F9jqXtxqVBIs2s=
      x-ms-date:
      - Jun, 30 2025 08:24:07.955136 GMT
    method: PUT
    uri: https://destination3rrpaq6tqzpm5.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"y9RQE0-HFyYpMBF_WKEY7xeHZr3RPWWPF-tNVDG8p1w","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"y9RQE0-HFyYpMBF_WKEY7xeHZr3RPWWPF-tNVDG8p1w"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:08 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NDY=;sn=94961646
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:09.212604 GMT
    method: GET
    uri: https://destination3rrpaq6tqzpm5.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"lAf8dj-xEGGRYW_4BmBElM2icmDqJS8FJxXVSUmXEu0","items":[{"etag":"RBPOZpLWw3-tBkD1lZ5QWGXsEKWmy4f_Ybzrbk7RVZM","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:09+00:00"},{"etag":"2g5-fOQ4h_tdff9xuxAsEro8qZrvRDxKLKGBCHlSgF8","key":"Color","label":"DestLabel","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:07+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"lAf8dj-xEGGRYW_4BmBElM2icmDqJS8FJxXVSUmXEu0"'
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NTI=;sn=94961652
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"RBPOZpLWw3-tBkD1lZ5QWGXsEKWmy4f_Ybzrbk7RVZM"'
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NTI=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:09.526719 GMT
    method: DELETE
    uri: https://destination3rrpaq6tqzpm5.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"RBPOZpLWw3-tBkD1lZ5QWGXsEKWmy4f_Ybzrbk7RVZM","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:09+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RBPOZpLWw3-tBkD1lZ5QWGXsEKWmy4f_Ybzrbk7RVZM"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:09 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NTM=;sn=94961653
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:10.748156 GMT
    method: GET
    uri: https://destination3rrpaq6tqzpm5.azconfig.io/kv?key=%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NTQ=;sn=94961654
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NTQ=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 08:24:11.071548 GMT
    method: GET
    uri: https://destination3rrpaq6tqzpm5.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NTQ=;sn=94961654
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red", "tags": {}, "locked":
      false, "etag": "7WDByhnhbTQAYoaePBryppRkRmt8egWfXxsFDSCkGio"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NTQ=
      x-ms-content-sha256:
      - 3K6w/wbPPuhlqMdffURh8KxC94PrErR/uczptL9vW50=
      x-ms-date:
      - Jun, 30 2025 08:24:11.372541 GMT
    method: PUT
    uri: https://destination3rrpaq6tqzpm5.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"_G6g2jhlb1vM_rDWEBcQyo5UcZWv1a2v1jOnBgOtDVg","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2025-06-30T08:24:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"_G6g2jhlb1vM_rDWEBcQyo5UcZWv1a2v1jOnBgOtDVg"'
      last-modified:
      - Mon, 30 Jun 2025 08:24:11 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NTU=;sn=94961655
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}, \"display_name\": null}", "tags": {}, "locked": false,
      "etag": "hO0bt0ce7RhHEHTiRYqwP4t-SbNRkM_fHoQyTCgnvj0"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjOTQ5NjE2NTY=
     [...]
[...]
