interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-07-21T05:27:56.7619493+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002","name":"FeatureNamespaceTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3R8RI6XzDrWr9aTvSc-TlEcxooutuTYew_vz6dkYbrI?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3R8RI6XzDrWr9aTvSc-TlEcxooutuTYew_vz6dkYbrI?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3R8RI6XzDrWr9aTvSc-TlEcxooutuTYew_vz6dkYbrI","name":"3R8RI6XzDrWr9aTvSc-TlEcxooutuTYew_vz6dkYbrI","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3R8RI6XzDrWr9aTvSc-TlEcxooutuTYew_vz6dkYbrI?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T05:27:57+00:00","endpoint":"https://featurenamespacetestgaxw.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T05:27:57+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T05:27:57+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurenamespacetestgaxw","name":"FeatureNamespaceTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c703a03e-0000-0100-0000-64ba175d0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - d39bc04f-c768-46e3-b7be-a74946816762
      - 26e7fda8-4046-4ecc-9459-70c9b7bf45b9
      - 7599e1f8-7f21-40d1-b471-3a9116420c62
      - 20cb96e2-39bb-4a43-bd9c-9d2f7ca2f05a
      - 2b472d56-caca-4874-9eaa-282bb0e280af
      - 842ec41a-ed35-459f-bbc2-11ed6dcd3cdb
      - a26672f3-ab2b-4da2-b74a-30ac185f73d0
      - b246d13d-5e01-4df1-b68f-22f721a4a50b
      - 1b68efe7-b81e-4139-94f5-49a91a7a53aa
      - 93f0858b-3f8a-44e8-b064-78b5d1118a56
      - 8becddf1-8026-4622-be08-f42c2f880add
      - 14fb825d-ffa3-4160-a9f8-ee53db802be8
      - af321ac0-e003-4a92-8fff-071fce20ac8c
      - 6b75bc54-01c4-446a-8dcc-56b49d3aa883
      - 65993d5e-10c1-4a62-9722-477d6f2afcd1
      - 480146b7-83f2-43ad-a5d7-fda566091a25
      - 1e68564b-a5a0-4771-b7f0-6c598f73bec2
      - c75a8a04-1b18-4ff5-b831-67d0af4b7425
      - 6bcaac39-4f6d-4514-b53a-3828ce095407
      - e1dbfac2-2dbf-432e-979a-417098801686
      - 8b4583d6-35d6-4bf9-a9ca-1061f82e334e
      - d2af3b7a-2b32-4cc6-b6d2-0651ab388ab0
      - 842073d7-2289-4a94-92aa-1e3346c223b1
      - 64ad71d8-9868-4ce4-b9ab-78640aabd06d
      - dbff30f7-1c34-4356-a162-0a3057f2b8ec
      - 0848383e-f2d0-4568-9931-9c49529b0671
      - 5a3bc112-d2fa-4b56-9e84-07bd10b62ad5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"0EjE","name":"Primary","value":"fKpvfo3ueR3fYzk+LhKl9NaDs9r89NoiC0eMrVX/bGo=","connectionString":"Endpoint=https://featurenamespacetestgaxw.azconfig.io;Id=0EjE;Secret=fKpvfo3ueR3fYzk+LhKl9NaDs9r89NoiC0eMrVX/bGo=","lastModified":"2023-07-21T05:27:56+00:00","readOnly":false},{"id":"pJfD","name":"Secondary","value":"kib3l1li2VLZp6g+r+jlk7uWrpMXILCTnHcPP5oFxw4=","connectionString":"Endpoint=https://featurenamespacetestgaxw.azconfig.io;Id=pJfD;Secret=kib3l1li2VLZp6g+r+jlk7uWrpMXILCTnHcPP5oFxw4=","lastModified":"2023-07-21T05:27:56+00:00","readOnly":false},{"id":"moBj","name":"Primary
        Read Only","value":"4HLv2LTwpZxveMkzW5UnqWQbpm5RCtwAzdSLPX+xJU4=","connectionString":"Endpoint=https://featurenamespacetestgaxw.azconfig.io;Id=moBj;Secret=4HLv2LTwpZxveMkzW5UnqWQbpm5RCtwAzdSLPX+xJU4=","lastModified":"2023-07-21T05:27:56+00:00","readOnly":true},{"id":"C6tQ","name":"Secondary
        Read Only","value":"l30uT9gTh5SV4pftpuM9wVMAnya2ieQJZmuSwtKCywo=","connectionString":"Endpoint=https://featurenamespacetestgaxw.azconfig.io;Id=C6tQ;Secret=l30uT9gTh5SV4pftpuM9wVMAnya2ieQJZmuSwtKCywo=","lastModified":"2023-07-21T05:27:56+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:40 GMT
    method: GET
    uri: https://featurenamespacetestgaxw.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM0OTgwNzQxMw==;sn=49807413
      x-ms-resource-group:
      - clitest.rgv2kb4ejsckzngfgp6uqzjfejhrvbjdmmyepdj7vrvxg723nhqgio5w45eqifmvdrs
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - featurenamespacetestgaxw
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM0OTgwNzQxMw==
      x-ms-content-sha256:
      - TEvHMnQHVg0zuhG/KTLva5wbEs56XbnCKHzUotx7T2Q=
      x-ms-date:
      - Jul, 21 2023 05:28:41 GMT
    method: PUT
    uri: https://featurenamespacetestgaxw.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"bTSeN9tG2VgB5VS_AzMV3Q7jH6SGi8Vf_4yr3GvzFbU","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bTSeN9tG2VgB5VS_AzMV3Q7jH6SGi8Vf_4yr3GvzFbU"'
      last-modified:
      - Fri, 21 Jul 2023 05:28:41 GMT
      sync-token:
      - zAJw6V16=NToxOSM0OTgwNzQxNA==;sn=49807414
      x-ms-resource-group:
      - clitest.rgv2kb4ejsckzngfgp6uqzjfejhrvbjdmmyepdj7vrvxg723nhqgio5w45eqifmvdrs
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - featurenamespacetestgaxw
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"bTSeN9tG2VgB5VS_AzMV3Q7jH6SGi8Vf_4yr3GvzFbU"'
      Sync-Token:
      - zAJw6V16=NToxOSM0OTgwNzQxNA==
      x-ms-content-sha256:
      - DLfyh/Ru5G+ypt1henik3km8h0nZPlRtLA0RgDfVOyU=
      x-ms-date:
      - Jul, 21 2023 05:28:44 GMT
    method: PUT
    uri: https://featurenamespacetestgaxw.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"YDY5AQ6vR-_GMlOQUxsSQHsYxKdLGgCCfTpjZFip1No","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YDY5AQ6vR-_GMlOQUxsSQHsYxKdLGgCCfTpjZFip1No"'
      last-modified:
      - Fri, 21 Jul 2023 05:28:44 GMT
      sync-token:
      - zAJw6V16=NToxOSM0OTgwNzQxNQ==;sn=49807415
      x-ms-resource-group:
      - clitest.rgv2kb4ejsckzngfgp6uqzjfejhrvbjdmmyepdj7vrvxg723nhqgio5w45eqifmvdrs
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - featurenamespacetestgaxw
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:47 GMT
    method: GET
    uri: https://featurenamespacetestgaxw.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3AGlobalFeature?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM0OTgwNzQxNg==;sn=49807416
      x-ms-resource-group:
      - clitest.rgv2kb4ejsckzngfgp6uqzjfejhrvbjdmmyepdj7vrvxg723nhqgio5w45eqifmvdrs
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - featurenamespacetestgaxw
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:28:50 GMT
    method: GET
    uri: https://featurenamespacetestgaxw.azconfig.io/kv?key=.appconfig.featureflag%2FMyApp%3A%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"YDY5AQ6vR-_GMlOQUxsSQHsYxKdLGgCCfTpjZFip1No","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:44+00:00"},{"etag":"WmUeYQClWP45nQ3mAhsp7gaAn2swUsgX0UjBErK3LFw","key":".appconfig.featureflag/MyApp:GlobalFeature","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"GlobalFeature\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2023-07-21T05:28:47+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM0OTgwNzQyMQ==;sn=49807421
      x-ms-resource-group:
      - clitest.rgv2kb4ejsckzngfgp6uqzjfejhrvbjdmmyepdj7vrvxg723nhqgio5w45eqifmvdrs
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - featurenamespacetestgaxw
    status:
      code: 200
      message: OK
version: 1
