interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-01-29T23:25:32.8356429+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002",
        "name": "Source000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/O1qc8tIaluqeoE67Ni6q4eJT6U7ICYV9BrYiuDrwM4Y?api-version=2024-05-01&t=638737899329396147&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/O1qc8tIaluqeoE67Ni6q4eJT6U7ICYV9BrYiuDrwM4Y?api-version=2024-05-01&t=638737899329396147&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-01-29T23:25:32+00:00", "endpoint": "https://sourcefmlxvuigoctaxrdw2i.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2025-01-29T23:25:32+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2025-01-29T23:25:32+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcefmlxvuigoctaxrdw2i",
        "name": "Source000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3700aff3-0000-0100-0000-679ab8ee0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZpdU%2BM2GIX/S6bTK4lAWMqUmZ2OCt5uCiTUTiZd7hRHCU7ij0r2OmSn/72vZEdxgJtenktgYHI477eeH71M7cqHJNuY3s2P3iyIJrfBaBKKh2nUu%2Bm9lGVhbvr9VGZypVKVlWdyX2l1Fudp31RzE%2BukKJM8M/3r68WVnJ/wq/VYsE/KRXzeax%2B5VeD%2BOJifn01n19e9wudf08WSpv%2BYxLr3OTL8kwUxW2eLZNVpaX9U/24%2B1VU5lqZ32SR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 4d630186-ee30-4108-9292-2a074f711b9f
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://sourcefmlxvuigoctaxrdw2i.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-01-29T23:25:32+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://sourcefmlxvuigoctaxrdw2i.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-01-29T23:25:32+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://sourcefmlxvuigoctaxrdw2i.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-01-29T23:25:32+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://sourcefmlxvuigoctaxrdw2i.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-01-29T23:25:32+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2024-05-01
  response:
    body:
      str[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/sYpXC5tdwhtz8GIgEbTso1MyXwCENxO-PGGmR-_TcM8?api-version=2024-05-01&t=638737899797796222&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZpdT%2BNGFIb/S1T1aoZAWIqKtKqm4O26kITaidLlbuJMgpP4ozP2OmTV/95zxvbEhtz08lwCAuXlPd/z/Bik6lA8xenODO5%2BDBZeOLv3JrNAPM3Dwd3gtShyczccJjKVG5WotLiQx1KriyhLhqZcmkjHeRFnqRne3q5u5PLyF36rViv%2BSamILyP1K78ZRVdXy9ub5fL6dpjr7Hu8UtoMx3GkM5OtiwuR5/dZuo43pZb4p4ZR96uwyLQyv8k85t/h9%2[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://destinationpxveawqmnccll.azconfig.io;Id=sanitized[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 29 2025 23:27:06.548628 GMT
    method: GET
    uri: https://sourcefmlxvuigoctaxrdw2i.azconfig.io/kv/Color?label=v1&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjNjgyNTMyODY=;sn=68253286
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTI6MTkjNjgyNTMyODY=
      x-ms-content-sha256:
      - opxXzk3c6Pv5xJQRGK2KYQWFiTofPo7eDjsA5Z7RZjU=
      x-ms-date:
      - Jan, 29 2025 23:27:06.881721 GMT
    method: PUT
    uri: https://sourcefmlxvuigoctaxrdw2i.azconfig.io/kv/Color?label=v1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"V3k1hwQudVp2z4Tp1fMiqS-crh9zaHpBONG8yUcfXJ4","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2025-01-29T23:27:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"V3k1hwQudVp2z4Tp1fMiqS-crh9zaHpBONG8yUcfXJ4"'
      last-modified:
      - Wed, 29 Jan 2025 23:27:06 GMT
      sync-token:
      - zAJw6V16=MTI6MTkjNjgyNTMyODc=;sn=68253287
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 29 2025 23:27:07.375667 GMT
    method: GET
    uri: https://sourcefmlxvuigoctaxrdw2i.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjNjgyNTMyODg=;sn=68253288
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}, "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTI6MTkjNjgyNTMyODg=
      x-ms-content-sha256:
      - DkiljUK6U6QEyjKN4Cv+ejM0DLAIfMed+HIb6hA/bcU=
      x-ms-date:
      - Jan, 29 2025 23:27:07.666595 GMT
    method: PUT
    uri: https://sourcefmlxvuigoctaxrdw2i.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"zBV4axI6vB6Q_JxXPUXekl1AaRn0c4qNWYhGvpZsP4Y","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2025-01-29T23:27:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zBV4axI6vB6Q_JxXPUXekl1AaRn0c4qNWYhGvpZsP4Y"'
      last-modified:
      - Wed, 29 Jan 2025 23:27:07 GMT
      sync-token:
      - zAJw6V16=MTI6MTkjNjgyNTMyODk=;sn=68253289
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 29 2025 23:27:08.141980 GMT
    method: GET
    uri: https://sourcefmlxvuigoctaxrdw2i.azconfig.io/kv?label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"urwbs2-WW8SkLSGPqOMclcfmVSj4zkNq19_6QaFmovw","items":[{"etag":"zBV4axI6vB6Q_JxXPUXekl1AaRn0c4qNWYhGvpZsP4Y","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2025-01-29T23:27:07+00:00"},{"etag":"d2ozTJilcUqx6_llAbcSp14_f1o2QjpgYPTTfg_cBMU","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2025-01-29T23:27:08+00:00"},{"etag":"V3k1hwQudVp2z4Tp1fMiqS-crh9zaHpBONG8yUcfXJ4","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2025-01-29T23:27:06+00:00"},{"etag":"zRHHg6E14G3eCcdqyIacJZYJykesr2jFoEOEkqCHxl8","key":"Color","label":"v2","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2025-01-29T23:27:07+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"urwbs2-WW8SkLSGPqOMclcfmVSj4zkNq19_6QaFmovw"'
      sync-token:
      - zAJw6V16=MTI6MTkjNjgyNTMyOTA=;sn=68253290
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTI6MTkjNjgyNTMyOTA=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 29 2025 23:27:08.381271 GMT
    method: GET
    uri: https://sourcefmlxvuigoctaxrdw2i.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"e5AJxrdEeVDTdoMSX740PsTNyzn6BxzsO16IAr2Dfx0","items":[{"etag":"zBV4axI6vB[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 29 2025 23:27:08.463311 GMT
    method: GET
    uri: https://destinationpxveawqmnccll.azconfig.io/kv?key=%2A&label=DestLabel&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTQ6MTkjNzM4MjQ1NjM=;sn=73824563
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzM4MjQ1NjM=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 29 2025 23:27:08.743661 GMT
    method: GET
    uri: https://destinationpxveawqmnccll.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=DestLabel&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTQ6MTkjNzM4MjQ1NjM=;sn=73824563
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "DestLabel", "content_type": "", "value": "Red",
      "tags": {}, "locked": false, "etag": "V3k1hwQudVp2z4Tp1fMiqS-crh9zaHpBONG8yUcfXJ4"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzM4MjQ1NjM=
      x-ms-content-sha256:
      - SO83X9MwxyoRa51PtXvzaWMq8QFCP0KLJBBxd/60H1M=
      x-ms-date:
      - Jan, 29 2025 23:27:08.824180 GMT
    method: PUT
    uri: https://destinationpxveawqmnccll.azconfig.io/kv/Color?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"qrrC5UsnD19ynUjVy3zNXDbkttOVYbEMQbXb65nYBr4","key":"Color","label":"DestLabel","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2025-01-29T23:27:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qrrC5UsnD19ynUjVy3zNXDbkttOVYbEMQbXb65nYBr4"'
      last-modified:
      - Wed, 29 Jan 2025 23:27:08 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjNzM4MjQ1NjQ=;sn=73824564
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "DestLabel", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}, \"display_name\": null}", "tags": {}, "locked": false, "etag": "zBV4axI6vB6Q_JxXPUXekl1AaRn0c4qNWYhGvpZsP4Y"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzM4MjQ1NjU=
      x-ms-content-sha256:
      - hLiG4MUdxTORehxzmsqBrbCMho+OUaA+LEMQDYpwdCs=
      x-ms-date:
      - Jan, 29 2025 23:27:08.993638 GMT
    method: PUT
    uri: https://destinationpxveawqmnccll.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"LExhVJ2wDVuBLXp84paR0UoDsRwxMfhO0U5WMuY2LHE","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2025-01-29T23:27:09+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"LExhVJ2wDVuBLXp84paR0UoDsRwxMfhO0U5WMuY2LHE"'
      last-modified:
      - Wed, 29 Jan 2025 23:27:09 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjNzM4MjQ1Njc=;sn=73824567
    status:
      code: 200
      message: OK
[...]
