interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true, "dataPlaneProxy": {}, "createMode": "Default", "softDeleteRetentionInDays":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertest000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-08-24T10:53:19.6123689+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertest000002",
        "name": "featurefiltertest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.7uR3CMExanONx2Sn2E42Q_gHLdRd8IAIGmsPmoBR8WE?api-version=2025-08-01-preview&t=639231655996773669&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRaFw0yNzAyMDkwNjQwMTRaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2Nlcn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.7uR3CMExanONx2Sn2E42Q_gHLdRd8IAIGmsPmoBR8WE?api-version=2025-08-01-preview&t=639231655996773669&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertest000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-08-24T10:53:19+00:00", "endpoint": "https://featurefiltertest000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-08-24T10:53:19+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-08-24T10:53:19+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertest000002",
        "name": "featurefiltertest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9501441d-0000-0100-0000-6a8c22a00000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://featurefiltertest000002.azconfig.io/kv/.appconfig.featureflag%2FColor?api-version=2026-04-01&label=Standard
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NTEx;sn=148146511
      x-ms-date:
      - Mon, 24 Aug 2026 10:53:57 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NTEx
    method: PUT
    uri: https://featurefiltertest000002.azconfig.io/kv/.appconfig.featureflag%2FColor?api-version=2026-04-01&label=Standard
  response:
    body:
      string: '{"etag":"EmC6YvoYpaNgVfALspe7eDtYjGOE19K2bKK0hwv_DCw","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T10:53:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"EmC6YvoYpaNgVfALspe7eDtYjGOE19K2bKK0hwv_DCw"'
      last-modified:
      - Mon, 24 Aug 2026 10:53:58 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NTEy;sn=148146512
      x-ms-date:
      - Mon, 24 Aug 2026 10:53:58 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "last_modified": "2026-08-24T10:53:58Z", "tags": {}, "locked": false, "etag":
      "EmC6YvoYpaNgVfALspe7eDtYjGOE19K2bKK0hwv_DCw"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"EmC6YvoYpaNgVfALspe7eDtYjGOE19K2bKK0hwv_DCw"'
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NTEy
    method: PUT
    uri: https://featurefiltertest000002.azconfig.io/kv/.appconfig.featureflag%2FColor?api-version=2026-04-01&label=Standard
  response:
    body:
      string: '{"etag":"Z3mslL-86_3gFaqLclZugH9XvVsKAkK-mUofoF3H7WI","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
        \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T10:54:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Z3mslL-86_3gFaqLclZugH9XvVsKAkK-mUofoF3H7WI"'
      last-modified:
      - Mon, 24 Aug 2026 10:54:00 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NTEz;sn=148146513
      x-ms-date:
      - Mon, 24 Aug 2026 10:54:00 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}, {\"name\":
      \"SecondFilter\", \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\",
      \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\": \"ParamNameIsJsonString\"}}]}}",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "last_modified": "2026-08-24T10:54:00Z", "tags": {}, "locked": false, "etag":
      "Z3mslL-86_3gFaqLclZugH9XvVsKAkK-mUofoF3H7WI"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"Z3mslL-86_3gFaqLclZugH9XvVsKAkK-mUofoF3H7WI"'
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NTE0
    method: PUT
    uri: https://featurefilte[...]
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"ArrayParams\": [10, 20, 30]}},
      {\"name\": \"SecondFilter\", \"parameters\": {\"Foo\": \"Bar=value\", \"name\":
      \"Foo=Bar\", \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\":
      \"ParamNameIsJsonString\"}}, {\"name\": \"FirstFilter\", \"parameters\": {}}]}}",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "last_modified": "2026-08-24T10:54:07Z", "tags": {}, "locked": false, "etag":
      "AuZGqS--CCtBHyEOvZuo19Uj3hG0SeO4tGPLq4z3VjE"}'
    he[...]
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
      [{\"name\": \"NewFilter\", \"parameters\": {\"ArrayParam\": [1, 2, \"three\"],
      \"BoolParam\": true, \"NullParam\": null}}]}}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "last_modified": "2026-08-24T10:54:14Z", "tags": {}, "locked": false, "etag":
      "NYLgiSPRhUzn603Wyh62pG_ADXd9xwBSJz393ls7WnY"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"NYLgiSPRhUzn603Wyh62pG_ADXd9xwBSJz393ls7WnY"'
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NTI3
    method: PUT
    uri: https://featurefiltertest000002.azconfig.io/kv/.appconfig.fea[...]
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
      [{\"name\": \"NewFilter\", \"parameters\": {\"EmptyStr1\": \"\", \"EmptyStr2\":
      \"\", \"EmptyStr3\": \"\", \"EmptyStr4\": \"\"}}]}}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "last_modified": "2026-08-24T10:54:14Z", "tags": {}, "locked": false, "etag":
      "NYLgiSPRhUzn603Wyh62pG_ADXd9xwBSJz393ls7WnY"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"NYLgiSPRhUzn603Wyh62pG_ADXd9xwBSJz393ls7WnY"'
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NTI3
    method: PUT
    uri: https://featurefiltertest000002.azconfig.io/kv/.appconfig.featureflag%2FColor?api-version=2026-04-01&label=Standard
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NTI5;sn=148146529
      x-ms-date:
      - Mon, 24 Aug 2026 10:54:18 GMT
    status:
      code: 412
      message: Precondition Failed
[...]
