interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "c02d4c53-f45a-467f-91dd-b1e93e19397f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Creating", "creationDate": "2024-11-18T14:04:24.2475131+00:00", "endpoint":
        null, "encryption": null, "privateEndpointConnections": null, "disableLocalAuth":
        null, "softDeleteRetentionInDays": null, "enablePurgeProtection": null, "dataPlaneProxy":
        null}, "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002",
        "name": "MgmtTest000002", "tags": {"key": "value"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/587j3kbekLG7F39dLksdp2R1xKkbkx0lFlNYPUhecOM?api-version=2024-05-01&t=638675354651107801&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/587j3kbekLG7F39dLksdp2R1xKkbkx0lFlNYPUhecOM?api-version=2024-05-01&t=638675354651107801&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "c02d4c53-f45a-467f-91dd-b1e93e19397f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Succeeded", "creationDate": "2024-11-18T14:04:24+00:00", "endpoint": "https://mgmttestk6kfu6uixsplz4me.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-18T14:04:24+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-11-18T14:04:24+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestk6kfu6uixsplz4me",
        "name": "MgmtTest000002", "tags": {"key": "value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"690698e8-0000-0100-0000-673b496a0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "identity": {"type": "SystemAssigned", "principalId":
        "c02d4c53-f45a-467f-91dd-b1e93e19397f", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"},
        "properties": {"provisioningState": "Succeeded", "creationDate": "2024-11-18T14:04:24+00:00",
        "endpoint": "https://mgmttestk6kfu6uixsplz4me.azconfig.io", "encryption":
        {"keyVaultProperties": null}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 1, "enablePurgeProtection": false, "dataPlaneProxy":
        {"authenticationMode": "Local", "privateLinkDelegation": "Disabled"}}, "sku":
        {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-18T14:04:24+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-11-18T14:04:24+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestk6kfu6uixsplz4me",
        "name": "MgmtTest000002", "tags": {"key": "value"}}], "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestk6kfu6uixsplz4me"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/clitest.rgszqedjfnbgx6sua57ma63cg3scxi42knzjixdqn22x3gfh3y54a7jf2aj36rs6x7b/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestk6kfu6uixsplz4me>;
        rel="next"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestk6kfu6uixsplz4me
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Premium"}, "tags": {"Env": "Prod"}, "properties": {"dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "Syste[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.KeyVault/vaults/cmk-test-keyvault000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users/$entity",
        "businessPhones": [], "displayName": "Christine WANJAU", "givenName": "Christine",
        "jobTitle": "SOFTWARE ENGINEER", "mail": "cwanjau@microsoft.com", "mobilePhone":
        null, "officeLocation": "NAIROBI-WAIYAKI WAY/Mobile", "preferredLanguage":
        null, "surname": "WANJAU", "userPrincipalName": "cwanjau@microsoft.com", "id":
        "43ddb22f-baef-4d3f-9e56-3a89871b9b59"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Europe","Slice":"E","Ring":"5","ScaleUnit":"007","RoleInstance":"AM4PEPF000278F3"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "43ddb22f-baef-4d3f-9e56-3a89871b9b59",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enableRbacAuthorization": false, "enablePurgeProtection": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003",
        "name": "cmk-test-keyvault000003", "type": "Microsoft.KeyVault/vaults", "location":
        "eastus", "tags": {}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-18T14:05:21.536Z", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-11-18T14:05:21.536Z"},
        "properties": {"sku": {"family": "A", "name": "standard"}, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "accessPolicies": [{"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
        "43ddb22f-baef-4d3f-9e56-3a89871b9b59", "permissions": {"keys": ["all"], "secrets":
        ["all"], "certificates": ["all"], "storage": ["all"]}}], "enabledForDeployment":
        false, "enableSoftDelete": true, "softDeleteRetentionInDays": 7, "enableRbacAuthorization":
        false, "enablePurgeProtection": true, "vaultUri": "https://cmk-test-keyvault000003.vault.azure.net",
        "provisioningState": "RegisteringDns", "publicNetworkAccess": "Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error": {"code": "Unauthorized", "message": "AKV10000: Request is
        missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key": {"kid": "https://cmk-test-keyvault000003.vault.azure.net/keys/key/61d28a3073084dbaab0aefdc73f8fde7",
        "kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey",
        "unwrapKey"], "n": "5Vz26UcIgTrLMt7ptBIe903B9V0_LqtUcjK4BLaCePlSw6UVsUO9E3T3mJ0Pban3XNWcJ0IslaGfBEOTLIGij0Y3xANdr8gw9HtKV6UFQt80IPfV_KigNKTaKsipUKiXvUKeiSj5UEdr40dX4YxojXc2d4te_ye3195iE8lIc87b3_4qON71zAlr-lLiX4vqdLCQjKFuNTZxEsKh8bzZRExrlm4HQeaxVAW5iXZtxbcuy307EeUoKhbSVmPzk-yUwUzNKji3J5b10kqBzeGGUv8y1gT6_DUg8InhMjzRHHbaSEP143TMTzimL5sdfo8KfzkZejF2qlxPJz6Wo3fUWQ",
        "e": "AQAB"}, "attributes": {"enabled": true, "created": 1731938754, "updated":
        1731938754, "recoveryLevel": "CustomizedRecoverable", "recoverableDays": 7,
        "exportable": false, "hsmPlatform": "0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01
  response:
    body:
      string: '{"value": [], "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.KeyVault%2fvaults%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault/vaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01&$skiptoken=rZRBb5tAEIX/i88%2B4MW5ROrB6WKK5VlkdzHZvSFCDQtrR3gRgaj/vYNDmjSFVEI9%2BLJG37x5M/OeZ6fkyWyzU36Z3T7PkuhiqgtJquhxdjtLmk0l71OLh%2BsmIofGU%2BeM8Xgp%2BF0q2tj4/KFgjWUB2dnb0GtlGBifQiNU3OB3NqN3uXeyvszmszq5gsegBJZM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault/vaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01&$skiptoken=rdA9b8IwEIDh/%2BI5g2vBgtQBQaCJ4otCrbj2FhVLsfOFEkfEoP73ui0VCyyI7XTDe6fnjFo12US31YAWZ3RUgx39hJSLR/lRYsY3riC5i0ynRROXQCiRjFrBZA0aY0FkmfBYUxZaycUcWF5Ts9fiVJuoxa8oQKoYbDHo4k4VmJhkE1fSF%2Bg2eoF3jMHkJmHVTPDQXxI4XX9OcFoSMOHxUv35VI19d1D3us2mEQZKwTJLOZ2nK/%2Bt2ZmERy7dCkvXmQOWzaRZOiC78rf7FVw90vatq/de5bKkRV%2Bp3l/7Q1o8iyj4B7pZfIQnuOLcbj5E8w0%3D
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003",
        "name": "cmk-test-keyvault000003", "type": "Microsoft.KeyVault/vaults", "location":
        "eastus", "tags": {}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "43ddb22f-baef-4d3f-9e56-3a89871b9b59",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "c02d4c53-f45[...]
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyIdentifier":
      "https://cmk-test-keyvault000003.vault.azure.net/keys/key/"}}, "dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "c02d4c53-f45a-467f-91dd-b1e93e19397f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Succeeded", "creationDate": "2024-11-18T14:04:24+00:00", "endpoint": "https://mgmttestk6kfu6uixsplz4me.azconfig.io",
        "encryption": {"keyVaultProperties": {"keyIdentifier": "https://cmk-test-keyvault000003.vault.azure.net/keys/key/",
        "identityClientId": null}}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 1, "enablePurgeProtection": false, "dataPlaneProxy":
        {"authenticationMode": "Local", "privateLinkDelegation": "Disabled"}}, "sku":
        {"name": "premium"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-18T14:04:24+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-11-18T14:06:00.3911936+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestk6kfu6uixsplz4me",
        "name": "MgmtTest000002", "tags": {"Env": "Prod"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6a065c19-0000-0100-0000-673b49c80000"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"dataPlaneProxy": {"privateLinkDelegation": "Enabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"error": {"code": "InvalidProperty", "message": "The property ''privateLinkDelegationMode''
        is not valid. Data plane proxy authentication mode must be set to Pass-through
        to enable private link delegation.", "additionalInfo": [{"type": "ActivityId",
        "info": {"activityId": "4d77cb9e-0de5-4b79-9a4d-09f69fb9ff2a"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Premium"}, "properties": {"softDeleteRetentionInDays": 1, "enablePurgeProtection":
      false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppCon[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/vMFUIUsvlrtEGAmx8ljSneaFi7RUW7p9kJqmqqIrtTc?api-version=2024-05-01&t=638675355893147323&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTestPremiumSku000004/replicas/MgmtTestReplica000005?api-version=2024-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1wcfkKsoiWHAuLC8ar1JeD5kMbXTxzmpUOMXC36S5Ek?api-version=2024-05-01&t=638675356335742874&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestpremiumsku6kh3hn
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrfUts4GMXfJbOzVxKBUJYpM52OFtxtFkionUy23CmOEhwS2SvZDaSz7776ZFs4KS9wLtsOHR/O91%2B/nz2tXsq7TD/b3tXP3ixKJtfRaBKLu2nSu%2Bo9lWVhr/r9rdRypbZKlydyXxl1kubbvq3mNjVZUWa5tv3Ly8WFnJ/%2BwS/VYsE/KJXyeao%2B8otBenY2v7yYz88v%2B4XJf2QLZWz/PktNbvNleSKK4jrXy2xVGUn/VT/t/ikpc6PsZ1lk/If[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 889646ac-194d-4d4c-b42c-9bcd0a747072
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTestPremiumSku000004/replicas?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestpremiumsku6kh3hn/replicas/MgmtTestReplica000005",
        "name": "MgmtTestReplica000005", "type": "Microsoft.AppConfiguration/configurationStores/replicas",
        "location": "westus", "properties": {"endpoint": "https://mgmttestpremiumsku6kh3hn-mgmttestreplicat5heezodz.azconfig.io",
        "provisioningState": "Succeeded"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-18T14:07:19+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-11-18T14:07:19+00:00"}}],
        "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/lKqIuZM6WlBl0xXqdXP1dSoqeEvf8qNqnuo6TlHPNYg?api-version=2024-05-01&t=638675357043372066&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/pbEo378_w8P0ZPPASXxm4i5jWE8_CvjSyYwjOYmg3S8?api-version=2024-05-01&t=638675357197830194&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestpremiumsku3zudju
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppCo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/jtBiNuOo1tY_PBIwUm15UB277QcttskpmuhIZUCv1Rs?api-version=2024-05-01&t=638675357706868518&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/aadtest6ezu6uth",
        "name": "AadTest6ezu6uth", "type": "Microsoft.AppConfiguration/deletedConfigurationStores",
[...]
