interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-03-19T22:03:31.2314105+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003",
        "name": "KVTest000003", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/KJ9SXSIRwfQOkEw3q64OhZCBCzt2bhnnCoX3NMinmYM?api-version=2024-05-01&t=638780186113861990&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/KJ9SXSIRwfQOkEw3q64OhZCBCzt2bhnnCoX3NMinmYM?api-version=2024-05-01&t=638780186113861990&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-03-19T22:03:31+00:00", "endpoint": "https://kvtestgdlfn7tglf5j3iob7h.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2025-03-19T22:03:31+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2025-03-19T22:03:31+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestgdlfn7tglf5j3iob7h",
        "name": "KVTest000003", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"130089db-0000-0100-0000-67db3f370000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"error": {"code": "Unauthorized", "message": "AKV10000: Request is
        missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"value": "testValue", "id": "https://clitest000002.vault.azure.net/secrets/testSecret/681a8adc478042eb84c2d231d3d5997a",
        "attributes": {"enabled": true, "created": 1742421854, "updated": 1742421854,
        "recoveryLevel": "CustomizedRecoverable+Purgeable", "recoverableDays": 7},
        "tags": {"file-encoding": "utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc123321[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZtdTyM3FIb/y6jqFUP4LCrSqnJhtpsCCZ0kShflxpk4YZLMR%2B2ZDQTx3%2BtzPDETYH/Ae4NgEUjPvj7Hx/bDS5Crp%2Bo2zVcmuHwJxtFgeBX1hrG4HQ2Cy%2BCxqkpz2elkMpcLlam8OpTbWqvDpMg6pp6aRKdllRa56VxczM7l9Oi38ELNZuGZUkk4TdTv4flJcnw8vTifTk8vOqUufqQzpU3nLk10YYp5dSjK8qrI5%2Bmi1pJ%2BVSdpfzWoCq3MH[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=3ZDNSsQwFIXfJYgr07Sd1mJhkCKCC4tgx103%2BblTY20Sb9JBWvruxh/QZ3B5zrn3wHdWYuA93GszelKv5LbpDk8dqclzCM7XjE3c8AEmMCHhy4yQSDsxPwsvUbugrfGsqlTJRXpJK1CKFgCSCglXtMxllomqFGJXMYf2pBWgZ62WaL09hqRx7saaox5m5J9VTP5VXbAI/po7TU/xL%2Bb7PM0LmpY0zc7P/KjdwY5g9t7OKCFoE/Dtxe1mWJZitOjJdvEL9[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZDNSsQwFIXfJYgr07SdqcXCIEUEFxbBjrtu8nMnhtok3KRDsfTdjT%2Bgr%2BDynHPPhe%2BsxMISH40dA2lWct/2x5eeNOQ1Rh8axiZuuYYJbMz4%2B4yQSTexMIsg0fhonA2srlXFRX5Na1CK7gEkFRJuaFXKohB1JcSuZh7d2SjAwDoj0QV3ilnr/Z2zJ6Nn5J%2BvmPyr%2BugQwi33hp5TL%2BWHMi/3NK9oXlxehNH4oxvBHpZ5mWlQdEe2q1%2BaJ/vg3lRiSibHqdUaQfMI6quUCNvnjnzfdxxHwGStw88AA2mGfznBQDayfQA%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 0a411759-ab0c-4045-a2bc-0f23df51a173
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvtestgdlfn7tglf5j3iob7h.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-03-19T22:03:31+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvtestgdlfn7tglf5j3iob7h.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-03-19T22:03:31+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvtestgdlfn7tglf5j3iob7h.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-03-19T22:03:31+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvtestgdlfn7tglf5j3iob7h.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-03-19T22:03:31+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 19 2025 22:04:21.295847 GMT
    method: GET
    uri: https://kvtestgdlfn7tglf5j3iob7h.azconfig.io/kv/testSecret?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTE6MTkjODY5Mzc4Mzk=;sn=86937839
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://clitest000002.vault.azure.net/secrets/testSecret/681a8adc478042eb84c2d231d3d5997a\"}"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTE6MTkjODY5Mzc4Mzk=
      x-ms-content-sha256:
      - cMoCeQJEbXw2uGDpf8EMHCM8mQI+aaa+PR0gR++ck0Y=
      x-ms-date:
      - Mar, 19 2025 22:04:21.601485 GMT
    method: PUT
    uri: https://kvtestgdlfn7tglf5j3iob7h.azconfig.io/kv/testSecret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"jSUwhJB8hsu5gBODf276hbeAAcKcO1YAzK0CtTIMHiY","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://clitestua2vqe5mwr3xjn4fm.vault.azure.net/secrets/testSecret/681a8adc478042eb84c2d231d3d5997a\"}","tags":{},"locked":false,"last_modified":"2025-03-19T22:04:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"jSUwhJB8hsu5gBODf276hbeAAcKcO1YAzK0CtTIMHiY"'
      last-modified:
      - Wed, 19 Mar 2025 22:04:21 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjODY5Mzc4NDA=;sn=86937840
    status:
      code: 200
      message: OK
[...]
