interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-05-04T00:40:53.2650697+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002","name":"FeatureNamespaceTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GjOUYGaPfNaKwjm8DJHMaM7OopA_I-erGtqfjI_R3es?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GjOUYGaPfNaKwjm8DJHMaM7OopA_I-erGtqfjI_R3es?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GjOUYGaPfNaKwjm8DJHMaM7OopA_I-erGtqfjI_R3es","name":"GjOUYGaPfNaKwjm8DJHMaM7OopA_I-erGtqfjI_R3es","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/GjOUYGaPfNaKwjm8DJHMaM7OopA_I-erGtqfjI_R3es?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-05-04T00:40:53+00:00","endpoint":"https://featurenamespacetesteizh.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-05-04T00:40:53+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-04T00:40:54+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurenamespacetesteizh","name":"FeatureNamespaceTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"da038528-0000-0100-0000-6452ff160000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3VndbtowFH6XaNpVTYCOoSFVkwepxkoDS4jQeuc4JpgfJ7Mdglr13XdsOsb2BmcSNwgF5dP3d479EihxsjOpdiYYvQSrKF2Oo3iZ0FmWBqNgY21tRmF4YIqV4iCU7bDnRosOrw6haXLDtaytrJQJh8NiwPLuRzIURUE%2BCMFJzsUnMujzXi8fDvL8dhjWujrKQmgTPkquK1OtbYfW9bhSa1k2mrm/Cvn1t9RWWpjPrJbkCM/B73f9bv%2BWdOHTe/O7GS9rHZC3Rmhj5ILYllJWt6Y4Cb4D5CcgThasPFxak6NFcYaRyCQEVGcGMhRCUuEF5TjIcqS%2BSLC5Q270ZW1e6lKz0Yf6Ejn2fKr44SmU4oLzbXTjWAAhmapi6wpdYDwghGsATDxPAFmEKrsmhclHJTswcsMFyO8ZWrLGlK71PLvj7tHXCEa6BHydxL3cbFyLS4IYxdh51ZEhqOFd/dEtNJuqsbWe0DyJaFP0xlCr1yzkms/c9GYTuibY/BKjDMOvLzBmMYTzB3JpQIsOLv%2BMkE6w98nNB5H6LW11k5b3%2BiCxrjnla2vyId5EuE3/M6T4mcv3HXvF2B13ht9o9D7ZDqmHhmuPN7CwsJg%2BScuBMgzcyl21ZT4vHMBBFXph8tVNIkg0fx5C1JuTOvCLF1Nl09RMqPxxE1lWLHs2x6A%2BU6XNMHNinfMTz/D%2BAxAOMFczGKk8gkAzCzmTmG4qan3frL0YzLiCOPMJRi0yor%2BQGx5VbUA43J%2BhFtarHHS%2BhcMsgX54ntA82foR7gbX4Csz4vx72uVKKMLXAVp2EEaVqwZnIn543BQmYuuLO3jA%2BPuJRgrgtebgOkDLUstSmZF4W%2BRgBeaPAavvwA%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 2c9c55d3-ae2c-40c9-b94d-5a8398fff7aa
      - 2e78eec2-e1f2-43b9-83a5-6dd61280caa4
      - 0e02e830-b59e-4392-8534-3be57011d4a1
      - 2e3523bc-c17e-4f22-bfea-89f8c7439193
      - 8b831b9b-9dc5-4e3f-8753-5d558caeee93
      - d8f461a6-f920-4f00-ac4f-6c96e1a44cbf
      - 846ca154-4d23-473f-82fa-ee5d1b1441b0
      - f581a8fc-1c23-48d8-a2ce-c870ed5b34ec
      - 0238ea64-a68f-4b57-82fb-2ef135bcd81f
      - 1112be08-f1f9-4a25-90ef-e940f058d5a5
      - 49cacf5a-7c3e-4aa8-8b52-eba609ad2b53
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"120O-l0-s0:DBmEYUlwT/IsKul/Gkbc","name":"Primary","value":"z4nuUmSYRBTGfQs2adHzqqSlHOhS7sLCjQeN4haRznk=","connectionString":"Endpoint=https://featurenamespacetesteizh.azconfig.io;Id=120O-l0-s0:DBmEYUlwT/IsKul/Gkbc;Secret=z4nuUmSYRBTGfQs2adHzqqSlHOhS7sLCjQeN4haRznk=","lastModified":"2023-05-04T00:40:53+00:00","readOnly":false},{"id":"afGv-l0-s0:6jftVDwGvis3ZkQrukHL","name":"Secondary","value":"2XH+WW34lnU6E44cN0AtLmg+f5woluUlOkzvUxCYvGY=","connectionString":"Endpoint=https://featurenamespacetesteizh.azconfig.io;Id=afGv-l0-s0:6jftVDwGvis3ZkQrukHL;Secret=2XH+WW34lnU6E44cN0AtLmg+f5woluUlOkzvUxCYvGY=","lastModified":"2023-05-04T00:40:53+00:00","readOnly":false},{"id":"Btu1-l0-s0:hgN+gUBkcymCQoC1GiaK","name":"Primary
        Read Only","value":"uhnFnZ6gbz1k7MAzrGBytlSh8JTHdQ2z37Y2O5pjryY=","connectionString":"Endpoint=https://featurenamespacetesteizh.azconfig.io;Id=Btu1-l0-s0:hgN+gUBkcymCQoC1GiaK;Secret=uhnFnZ6gbz1k7MAzrGBytlSh8JTHdQ2z37Y2O5pjryY=","lastModified":"2023-05-04T00:40:53+00:00","readOnly":true},{"id":"DkTQ-l0-s0:uq+iC4AqlZVDpA1Ikfpi","name":"Secondary
        Read Only","value":"6viFkSz15TQTCZCU8yGOKhXJWOKdBkcEJ01zzUrYhA0=","connectionString":"Endpoint=https://featurenamespacetesteizh.azconfig.io;Id=DkTQ-l0-s0:uq+iC4AqlZVDpA1Ikfpi;Secret=6viFkSz15TQTCZCU8yGOKhXJWOKdBkcEJ01zzUrYhA0=","lastModified":"2023-05-04T00:40:53+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:41:05 GMT
    method: GET
    uri: https://featurenamespacetesteizh.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMyNDE0Nzk5Mw==;sn=24147993
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSMyNDE0Nzk5Mw==
      x-ms-content-sha256:
      - TEvHMnQHVg0zuhG/KTLva5wbEs56XbnCKHzUotx7T2Q=
      x-ms-date:
      - May, 04 2023 00:41:06 GMT
    method: PUT
    uri: https://featurenamespacetesteizh.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"lz2YCZZncd33nfJ0znQ3A9kuai0KLPeMJQy-xopeDsY","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:41:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lz2YCZZncd33nfJ0znQ3A9kuai0KLPeMJQy-xopeDsY"'
      last-modified:
      - Thu, 04 May 2023 00:41:07 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyNDE0Nzk5NA==;sn=24147994
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"lz2YCZZncd33nfJ0znQ3A9kuai0KLPeMJQy-xopeDsY"'
      Sync-Token:
      - zAJw6V16=MzoxOSMyNDE0Nzk5NA==
      x-ms-content-sha256:
      - DLfyh/Ru5G+ypt1henik3km8h0nZPlRtLA0RgDfVOyU=
      x-ms-date:
      - May, 04 2023 00:41:09 GMT
    method: PUT
    uri: https://featurenamespacetesteizh.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"eUEH0AeIbitwJSC-YO0pOqXuU6bN-D_AyxVjBih-WJc","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:41:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eUEH0AeIbitwJSC-YO0pOqXuU6bN-D_AyxVjBih-WJc"'
      last-modified:
      - Thu, 04 May 2023 00:41:10 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyNDE0Nzk5NQ==;sn=24147995
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:41:12 GMT
    method: GET
    uri: https://featurenamespacetesteizh.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3AGlobalFeature?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMyNDE0Nzk5Ng==;sn=24147996
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:41:16 GMT
    method: GET
    uri: https://featurenamespacetesteizh.azconfig.io/kv?key=.appconfig.featureflag%2FMyApp%3A%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"eUEH0AeIbitwJSC-YO0pOqXuU6bN-D_AyxVjBih-WJc","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:41:10+00:00"},{"etag":"UKsr_9mK5LopVardFhE9Gn4n6YTOiGNzPSE0Wfl5Ac0","key":".appconfig.featureflag/MyApp:GlobalFeature","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"MyApp:GlobalFeature\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:41:14+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyNDE0Nzk5Nw==;sn=24147997
    status:
      code: 200
      message: OK
version: 1
