interactions:
- request:
    body: null
    headers:
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - win32
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.2
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2Ff686d426-8d16-42db-81b7-ab578e110ccd%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/f686d426-8d16-42db-81b7-ab578e110ccd/.well-known/openid-configuration"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-11-08T21:26:09.3880253+00:00","endpoint":"https://FeatureFilterTest000002.azconfig-test.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/98b1d73d-8b2d-a6ac-7989-ef613174f097?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/98b1d73d-8b2d-a6ac-7989-ef613174f097?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/98b1d73d-8b2d-a6ac-7989-ef613174f097","name":"98b1d73d-8b2d-a6ac-7989-ef613174f097","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/98b1d73d-8b2d-a6ac-7989-ef613174f097?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-11-08T21:26:11+00:00","endpoint":"https://featurefiltertestrar2gu7.azconfig-test.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertestrar2gu7","name":"FeatureFilterTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2300ff4c-0000-0100-0000-5dc5dd730000"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-02-13T19:32:45+00:00","endpoint":"https://appcfg0.azconfig-test.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigrunnerrg1/providers/Microsoft.AppConfiguration/configurationStores/appcfg0","name":"AppCfg0","location":"westus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provis[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api-dogfood.resources.windows-int.net/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"ztYt-l0-s0:Zvetl8FdvPfNhiacgwCO","name":"Primary","value":"mYbuB9O90n5WiBJQJeQqqi/YUyGvbEdvzKCcynXgbHQ=","connectionString":"Endpoint=https://featurefiltertestrar2gu7.azconfig-test.io;Id=ztYt-l0-s0:Zvetl8FdvPfNhiacgwCO;Secret=mYbuB9O90n5WiBJQJeQqqi/YUyGvbEdvzKCcynXgbHQ=","lastModified":"2019-11-08T21:26:10+00:00","readOnly":false},{"id":"8NvK-l0-s0:8MEDRTUQe6mzYSDouf97","name":"Secondary","value":"4SDyiKjSU+gvgVfvF2kN4ru0UrT3eb5vWi3CsbqBIdk=","connectionString":"Endpoint=https://featurefiltertestrar2gu7.azconfig-test.io;Id=8NvK-l0-s0:8MEDRTUQe6mzYSDouf97;Secret=4SDyiKjSU+gvgVfvF2kN4ru0UrT3eb5vWi3CsbqBIdk=","lastModified":"2019-11-08T21:26:10+00:00","readOnly":false},{"id":"Iv5o-l0-s0:8UukLxMkROVh/aFzi/7h","name":"Primary
        Read Only","value":"53Tx0ALvLSA63tOnJ2KJ9Jhzu74Fr9b91mlrzdDsWsI=","connectionString":"Endpoint=https://featurefiltertestrar2gu7.azconfig-test.io;Id=Iv5o-l0-s0:8UukLxMkROVh/aFzi/7h;Secret=53Tx0ALvLSA63tOnJ2KJ9Jhzu74Fr9b91mlrzdDsWsI=","lastModified":"2019-11-08T21:26:10+00:00","readOnly":true},{"id":"Klvt-l0-s0:Ai7XTdyx2D3P7bPwwtjT","name":"Secondary
        Read Only","value":"VgZdTIT/LmyWTiMP5+0VliBsZ6XUQ08ip1ukeHdPvW4=","connectionString":"Endpoint=https://featurefiltertestrar2gu7.azconfig-test.io;Id=Klvt-l0-s0:Ai7XTdyx2D3P7bPwwtjT;Secret=VgZdTIT/LmyWTiMP5+0VliBsZ6XUQ08ip1ukeHdPvW4=","lastModified":"2019-11-08T21:26:10+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 08 2019 21:26:25 GMT
    method: GET
    uri: https://featurefiltertestrar2gu7.azconfig-test.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"enabled\": false, \"conditions\": {\"client_filters\": []}, \"description\":
      null, \"id\": \"Color\"}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - LQfpfus5aEvnNftqK2Py/z1r2gmbEU2wEo+GfNnpxbQ=
      x-ms-date:
      - Nov, 08 2019 21:26:26 GMT
    method: PUT
    uri: https://featurefiltertestrar2gu7.azconfig-test.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"3lsMjOySVPxDHc5AuXCJnavrKiD","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"enabled\":
        false, \"conditions\": {\"client_filters\": []}, \"description\": null, \"id\":
        \"Color\"}","tags":{},"locked":false,"last_modified":"2019-11-08T21:26:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3lsMjOySVPxDHc5AuXCJnavrKiD"'
      last-modified:
      - Fri, 08 Nov 2019 21:26:26 GMT
      sync-token:
      - zAJw6V16=MTU6LTEjMjA5MjI3;sn=209227
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"enabled\": false, \"id\": \"Color\", \"conditions\": {\"client_filters\":
      [{\"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}, \"name\": \"FirstFilter\"}]},
      \"description\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"3lsMjOySVPxDHc5AuXCJnavrKiD"'
      x-ms-content-sha256:
      - akNTANTAEy1eRT5b2b3cjP6mlC/vjoIrqk4lzRZD1+k=
      x-ms-date:
      - Nov, 08 2019 21:26:29 GMT
    method: PUT
    uri: https://featurefiltertestrar2gu7.azconfig-test.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"6NiCKwbAjLvO246NXuPBnJqCBcr","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"enabled\":
        false, \"id\": \"Color\", \"conditions\": {\"client_filters\": [{\"parameters\":
        {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\", \"Name3\":
        \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}, \"name\": \"FirstFilter\"}]},
        \"description\": null}","tags":{},"locked":false,"last_modified":"2019-11-08T21:26:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6NiCKwbAjLvO246NXuPBnJqCBcr"'
      last-modified:
      - Fri, 08 Nov 2019 21:26:30 GMT
      sync-token:
      - zAJw6V16=MTU6LTEjMjA5MjI4;sn=209228
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"enabled\": false, \"id\": \"Color\", \"conditions\": {\"client_filters\":
      [{\"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"], \"Name2\": \"Value2\",
      \"Name3\": \"\", \"Name4\": \"{\\\"key\\\":\\\"value\\\"}\"}, \"name\": \"FirstFilter\"},
      {\"parameters\": {\"Foo\": \"Bar=value\", \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\":
      \"ParamNameIsJsonString\", \"name\": \"Foo=Bar\"}, \"name\": \"SecondFilter\"}]},
      \"description\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"6NiCKwbAjLvO246NXuPBnJqCBcr"'
      x-ms-content-sha256:
      - ki4PUSG1HU9RsmKGfrGB6Vqr1oEjPZMMUCpNNG7r3xk=
      x-ms-date:
      - Nov, 08 2019 21:26:33 GMT
    method: PUT
    uri: https://featurefiltertestrar2gu7.azconfig-test.io/kv/.a[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 08 2019 21:27:07 GMT
    method: GET
    uri: https://featurefiltertestrar2gu7.azconfig-test.io/kv/.appconfig.featureflag%2FColor?label=Standard&fields=&api-version=1.0
  response:
    body:
      string: '{"etag":"c1MAODYITRetYLxEZtiEjL2w4SE","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"enabled\":
        true, \"id\": \"Color\", \"conditions\": {\"client_filters\": []}, \"description\":
        null}","tags":{},"locked":false,"last_modified":"2019-11-08T21:27:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"c1MAODYITRetYLxEZtiEjL2w4SE"'
      last-modified:
      - Fri, 08 Nov 2019 21:27:03 GMT
      sync-token:
      - zAJw6V16=MTU6LTEjMjA5MjMz;sn=209233
    status:
      code: 200
      message: OK
version: 1
