interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-07-07T18:26:58.0953738+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a868fb67-a76c-5569-6423-eaf662675b4b?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a868fb67-a76c-5569-6423-eaf662675b4b?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a868fb67-a76c-5569-6423-eaf662675b4b","name":"a868fb67-a76c-5569-6423-eaf662675b4b","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a868fb67-a76c-5569-6423-eaf662675b4b?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-07-07T18:26:59+00:00","endpoint":"https://sourceeaprlgcpezdy2xfs4t.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourceeaprlgcpezdy2xfs4t","name":"Source000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4e00fcc7-0000-0100-0000-5f04be730000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1/privateEndpointConnections/xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7","name":"xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MININT-APPE4B4-IntegrationRGProdWUS/providers/Microsoft.Network/privateEndpoints/xuxuxuxu"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}]},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-03-25T04:52:09+00:00","endpoint":"https://ernestt-test3.azconfig.io","encryption":{"keyVaultProperties[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"la1D-l0-s0:y++4kXimQVDXSPUXTKzI","name":"Primary","value":"NcLZ3iOWxbKIHYxNR7Tj+pZALYx5cRD0jt2/Xv4QXdU=","connectionString":"Endpoint=https://sourceeaprlgcpezdy2xfs4t.azconfig.io;Id=la1D-l0-s0:y++4kXimQVDXSPUXTKzI;Secret=NcLZ3iOWxbKIHYxNR7Tj+pZALYx5cRD0jt2/Xv4QXdU=","lastModified":"2020-07-07T18:26:58+00:00","readOnly":false},{"id":"Aey3-l0-s0:tZirrTINfKmu10/vcgOi","name":"Secondary","value":"yRVSU2c4dmzLA94OIhSUQXz7lpN439xKJ3srR3qfuKc=","connectionString":"Endpoint=https://sourceeaprlgcpezdy2xfs4t.azconfig.io;Id=Aey3-l0-s0:tZirrTINfKmu10/vcgOi;Secret=yRVSU2c4dmzLA94OIhSUQXz7lpN439xKJ3srR3qfuKc=","lastModified":"2020-07-07T18:26:58+00:00","readOnly":false},{"id":"mtN1-l0-s0:f66gTyGOXzdBVu3xpAS9","name":"Primary
        Read Only","value":"QM11MMBtf9axLBLIBUNulfKYOW+bBQCZUSxfQ1mEsnA=","connectionString":"Endpoint=https://sourceeaprlgcpezdy2xfs4t.azconfig.io;Id=mtN1-l0-s0:f66gTyGOXzdBVu3xpAS9;Secret=QM11MMBtf9axLBLIBUNulfKYOW+bBQCZUSxfQ1mEsnA=","lastModified":"2020-07-07T18:26:58+00:00","readOnly":true},{"id":"9/pC-l0-s0:Jt9aeugjCYfKJM1xtiOJ","name":"Secondary
        Read Only","value":"dGtoF2gzq3eGiXMrGxc5Gt+x+8zszI+0ek08F8h/cPQ=","connectionString":"Endpoint=https://sourceeaprlgcpezdy2xfs4t.azconfig.io;Id=9/pC-l0-s0:Jt9aeugjCYfKJM1xtiOJ;Secret=dGtoF2gzq3eGiXMrGxc5Gt+x+8zszI+0ek08F8h/cPQ=","lastModified":"2020-07-07T18:26:58+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-07-07T18:27:17.3373909+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003","name":"Destination000003","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1a320305-4542-a061-9ad3-ef461947c174?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"bMyp-l0-s0:ai8IXs0lK1p91Zdjs/+Y","name":"Primary","value":"ViaeozLdtD3yabBLOw7ysz0SEHwjlpQVYjTVTAMSdj0=","connectionString":"Endpoint=https://destinationqhb53g7x6[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 07 2020 18:27:36 GMT
    method: GET
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/Key01?label=&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/json", "value": "\"Red\"", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - ofS/UkJ8kwEJdzjrDkI8tJp4TwTTR/RXOOiFy1TtnT8=
      x-ms-date:
      - Jul, 07 2020 18:27:36 GMT
    method: PUT
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/Key01?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"mScFXugM34SpXHYSPW9YTcsEOi7","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mScFXugM34SpXHYSPW9YTcsEOi7"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:37 GMT
      sync-token:
      - zAJw6V16=Nzo0Izk0MDQ5OSM3PS0x;sn=940499
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 07 2020 18:27:42 GMT
    method: GET
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - ZBbQzjiWSA6Bcvu0IiEanYfqopxyCiYHLYi19RFZuKk=
      x-ms-date:
      - Jul, 07 2020 18:27:42 GMT
    method: PUT
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"Cw3tWR4b7AAImizJMGn9zDK8pGZ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Cw3tWR4b7AAImizJMGn9zDK8pGZ"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:43 GMT
      sync-token:
      - zAJw6V16=Nzo0Izk0MDUxMCM3PS0x;sn=940510
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 07 2020 18:27:43 GMT
    method: GET
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/HostSecrets?label=&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags":
      null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - ht3m3H45biolk9BhzImpJikxw5BI6bohlbeG8U+jnGw=
      x-ms-date:
      - Jul, 07 2020 18:27:43 GMT
    method: PUT
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/HostSecrets?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"InN6UCL3Bt4FEvsdXJOZtzh5xeM","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"InN6UCL3Bt4FEvsdXJOZtzh5xeM"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:44 GMT
      sync-token:
      - zAJw6V16=Nzo0Izk0MDUxMSM3PS0x;sn=940511
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 07 2020 18:27:43 GMT
    method: GET
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"Cw3tWR4b7AAImizJMGn9zDK8pGZ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:43+00:00"},{"etag":"InN6UCL3Bt4FEvsdXJOZtzh5xeM","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+js[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 07 2020 18:27:43 GMT
    method: GET
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"Cw3tWR4b7AAImizJMGn9zDK8pGZ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:43+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Nzo0Izk0MDUxMSM3PS0x;sn=940511
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - izr85GENlwfzucP9Piw23m6c101ZCg/BfAwhBMIQpDI=
      x-ms-date:
      - Jul, 07 2020 18:27:44 GMT
    method: PUT
    uri: https://destinationqhb53g7x62cn3.azconfig.io/kv/HostSecrets?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"obusPX3k4rbfbAMj0iK0r8nTXSk","key":"HostSecrets","label":null,"content_type":"application/json","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"obusPX3k4rbfbAMj0iK0r8nTXSk"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:45 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE1MjMyOTMjNz0tMQ==;sn=1523293
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "\"Red\"", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 8M2FgF/JQGYII0s/uFSKzMF4n9aQqbXPUuHjhkt6aRk=
      x-ms-date:
      - Jul, 07 2020 18:27:44 GMT
    method: PUT
    uri: https://destinationqhb53g7x62cn3.azconfig.io/kv/Key01?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"QrtKu018EWrQrUXeb6QtLhFl2u0","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"QrtKu018EWrQrUXeb6QtLhFl2u0"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:45 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE1MjMyOTQjNz0tMQ==;sn=1523294
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - ZBbQzjiWSA6Bcvu0IiEanYfqopxyCiYHLYi19RFZuKk=
      x-ms-date:
      - Jul, 07 2020 18:27:45 GMT
    method: PUT
    uri: https://destinationqhb53g7x62cn3.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"G9iaKmrnvmv1MF1wv50i3GPSfiL","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"G9iaKmrnvmv1MF1wv50i3GPSfiL"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:46 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE1MjMzMDUjNz0tMQ==;sn=1523305
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 07 2020 18:27:46 GMT
    method: GET
    uri: https://destinationqhb53g7x62cn3.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"G9iaKmrnvmv1MF1wv50i3GPSfiL","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 07 2020 18:27:46 GMT
    method: GET
    uri: https://destinationqhb53g7x62cn3.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"G9iaKmrnvmv1MF1wv50i3GPSfiL","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:46+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Mzo0IzE1MjMzMDUjNz0tMQ==;sn=1523305
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 07 2020 18:27:47 GMT
    method: GET
    uri: https://destinationqhb53g7x62cn3.azconfig.io/kv?key=%2A&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"G9iaKmrnvmv1MF1wv50i3GPSfiL","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"G9iaKmrnvmv1MF1wv50i3GPSfiL"'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 07 2020 18:27:47 GMT
    method: DELETE
    uri: https://destinationqhb53g7x62cn3.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"G9iaKmrnvmv1MF1wv50i3GPSfiL","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"G9iaKmrnvmv1MF1wv50i3GPSfiL"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:46 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE1MjMzMDYjNz0tMQ==;sn=1523306
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 07 2020 18:27:52 GMT
    method: GET
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv?key=%2A&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"Cw3tWR4b7AAImizJMGn9zDK8pGZ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value[...]
[...]
- request:
    body: '{"content_type": "application/json", "value": "[\"StringBoolValue\", \"true\",
      \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 7e1YU7s3f3Ed7TQrM13+T0f0TLDbrTBHeBNzRKVwa3M=
      x-ms-date:
      - Jul, 07 2020 18:27:56 GMT
    method: PUT
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/Array?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"KAI2YHHaUAxXWIv2R1UijLYSL2L","key":"Array","label":null,"content_type":"application/json","value":"[\"StringBoolValue\",
        \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"KAI2YHHaUAxXWIv2R1UijLYSL2L"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:57 GMT
      sync-token:
      - zAJw6V16=Nzo0Izk0MDUyNSM3PS0x;sn=940525
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "[1000, true, \"AppConfig
      string value\", [\"NestedArray\", 12, false, null], {\"ObjectSetting\": {\"Logging\":
      {\"LogLevel\": \"Information\", \"Default\": \"Debug\"}}}]", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - tB2B4h0SlCj4xr/xcyVkUI6lrRJQG6HN3AGMtsBm66o=
      x-ms-date:
      - Jul, 07 2020 18:27:57 GMT
    method: PUT
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/ComplexSettings%3AMyHybridList?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"E2gjOdlchGPhLFTd5TjsrF0bvVF","key":"ComplexSettings:MyHybridList","label":null,"content_type":"application/json","value":"[1000,
        true, \"AppConfig string value\", [\"NestedArray\", 12, false, null], {\"ObjectSetting\":
        {\"Logging\": {\"LogLevel\": \"Information\", \"Default\": \"Debug\"}}}]","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"E2gjOdlchGPhLFTd5TjsrF0bvVF"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:57 GMT
      sync-token:
      - zAJw6V16=Nzo0Izk0MDUyNiM3PS0x;sn=940526
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "[[\"NestedArray4\", 34],
      [\"NestedArray5\", true, null], [\"NestedArray6\", {\"MyNullValue\": null, \"MyObject\":
      {\"Property\": {\"Name\": {\"Name1\": \"Value1\", \"Name2\": \"Value2\"}}}}]]",
      "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - Yth4TYu4sH9MiCpy2dt1O0GAQZNxgeNDPb8IvulNBzU=
      x-ms-date:
      - Jul, 07 2020 18:27:57 GMT
    method: PUT
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/ComplexSettings%3AMyListOfHybridLists?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"U5j36vVMqYBDPu9oCATbMjSCtsh","key":"ComplexSettings:MyListOfHybridLists","label":null,"content_type":"application/json","value":"[[\"NestedArray4\",
        34], [\"NestedArray5\", true, null], [\"NestedArray6\", {\"MyNullValue\":
        null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\": \"Value1\", \"Name2\":
        \"Value2\"}}}}]]","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"U5j36vVMqYBDPu9oCATbMjSCtsh"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:57 GMT
      sync-token:
      - zAJw6V16=Nzo0Izk0MDUyNyM3PS0x;sn=940527
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "[[\"NestedArray1\", \"12\",
      \"false\", \"null\"], [\"NestedArray2\", \"text\"], [\"NestedArray3\"]]", "tags":
      null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - KED82UQSsL8PP4vxrXRcpRjMBEuMQdFKsb49s5uFtXQ=
      x-ms-date:
      - Jul, 07 2020 18:27:57 GMT
    method: PUT
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/ComplexSettings%3AMyListOfStringLists?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"KeI4FvnNqzs0HFUnSXdw6CFLWUX","key":"ComplexSettings:MyListOfStringLists","label":null,"content_type":"application/json","value":"[[\"NestedArray1\",
        \"12\", \"false\", \"null\"], [\"NestedArray2\", \"text\"], [\"NestedArray3\"]]","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"KeI4FvnNqzs0HFUnSXdw6CFLWUX"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:57 GMT
      sync-token:
      - zAJw6V16=Nzo0Izk0MDUyOCM3PS0x;sn=940528
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "\"Value1\"", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - uZustfdCy4NPRchCgMCzPbG5JrmLTKDY+eNkjSO9BG8=
      x-ms-date:
      - Jul, 07 2020 18:27:57 GMT
    method: PUT
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/ComplexSettings%3AMyNestedObjects%3AObject1?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"z0e2CLQE8jXP75AASzvfRHyS8Ph","key":"ComplexSettings:MyNestedObjects:Object1","label":null,"content_type":"application/json","value":"\"Value1\"","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"z0e2CLQE8jXP75AASzvfRHyS8Ph"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:57 GMT
      sync-token:
      - zAJw6V16=Nzo0Izk0MDUyOSM3PS0x;sn=940529
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "\"Value1\"", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - uZustfdCy4NPRchCgMCzPbG5JrmLTKDY+eNkjSO9BG8=
      x-ms-date:
      - Jul, 07 2020 18:27:57 GMT
    method: PUT
    uri: https://sourceeaprlgcpezdy2xfs4t.azconfig.io/kv/ComplexSettings%3AMyNestedObjects%3AObject2%3AProperty%3AName%3AName1?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"wlBvBUBjjYTPdO7JK10UppdxQlE","key":"ComplexSettings:MyNestedObjects:Object2:Property:Name:Name1","label":null,"content_type":"application/json","value":"\"Value1\"","tags":{},"locked":false,"last_modified":"2020-07-07T18:27:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wlBvBUBjjYTPdO7JK10UppdxQlE"'
      last-modified:
      - Tue, 07 Jul 2020 18:27:58 GMT
      sync-token:
      - zAJw6V16=Nzo0Izk0MDUzMCM3PS0x;sn=940530
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/json", "value": "null", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - JPwWSchbG/6ZhWmXSbDSj5uzm20XuSjwr2NtyOvMpj0=
      x-ms-date:
      - Jul, 07 2020 18:27:57 GMT
    method: PUT
[...]
