interactions:
- request:
    body: '{"location": "francecentral", "sku": {"name": "Standard"}, "properties":
      {"dataPlaneProxy": {}, "softDeleteRetentionInDays": 1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "francecentral", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-05-04T12:44:46.3700267+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002",
        "name": "SnapshotStore000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/francecentral/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.3XguDHZDvrI5O8vr2jseYknBGF00T_5c3JCPDQRUyZg?api-version=2025-08-01-preview&t=639134954865368629&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/francecentral/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.3XguDHZDvrI5O8vr2jseYknBGF00T_5c3JCPDQRUyZg?api-version=2025-08-01-preview&t=639134954865368629&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "francecentral", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-05-04T12:44:46+00:00", "endpoint": "https://snapshotstoreyoq4cl2nyee.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-05-04T12:44:46+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-05-04T12:44:46+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapshotstoreyoq4cl2nyee",
        "name": "SnapshotStore000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"37012664-0000-0e00-0000-69f894bf0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview&$skiptoken=3ZrdTyM3FMX/l6jqEyZ8LKVFWlUuzHazCwnNh%2BgiXpyJExwynsEzQwKI/733Xg%2BOA%2BxDH28eAQXpl2MfH1%2Bf55bVq%2Brc2LuydfLcukoGw9OkO%2BzL89GgddK6raqiPGm3M2XVTGfaVrvqqXZ6N82zdlmPy9SZojK5LdvHx5MjNd77TRzryUR80joV41T/IY4O0v398fHReHx43C5c/mAm2pXtC5O6vMyn1a4sitPcTs2sdgr/VTuNf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview&$skiptoken=3ZDdToQwFITfpTFeWQooi5JsDDEmXkhMZL3jpi1nsQHa5pyCZgnvLv4k%2Bgxezsw5k3yzMAvv4dHYnlixsPuyPrzUrGCvIXgqhBillR2MYEMkTxNCpN0oaFKk0fhgnCWR520mVbzjObQtvwLQXGm44Vmqk0TlmVKXufDoZtMCkqiMRkfuGKLS%2Bztnj6abUH5WCf1X1cEh0K30hs/b35bv0zjNeHzN44R7hNnA2/kZ9cYfXA92388EwYzeYQhAY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview&$skiptoken=3ZDNasMwEITfRZSeqsh24rg1hGJKoYeaQp3efNHPxhWOJbGSnVDjd6/6A80z9DizswPzzcTAOTxr03tSzuSxavZvDSnJewjOl4wN3PAOBjBhxT9GhJW0A/Oj8BK1C9oaz4pC5VwkW1qAUnQDIKmQcEfzTKapKHIh1gVzaCetAD2rtUTr7SGsKucerDnobkT%2BVcXkpWqCRfD33Gk6xb9432VJltPkliYpdQiThtP1le%2B129sezA5Hq7g5a6DZN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview&$skiptoken=3ZDNSsQwFIXfJYgr07TVWi0MUkRwYRHsuOsmP3c6odMk3KRVp/TdjT8wPoPLc849F76zEAPv4UmbwZNqIQ91u31tSUX2IThfMTZyw3sYwYSEHyeERNqR%2BUl4idoFbY1nZakKLtJrWoJS9ApAUiHhlha5zDJRFkJclsyhnbUC9KzREq23u5DUzt1bs9P9hPzrFZN/VRssgr/jTtM59mK%2BydO8oOkNTTPqEGYNb%2BdnftBuawcwm%2BNef0zcHDQ3PQ3gA1kvTnTP5tEeVGSMJsex7nuEngdQ3%2BVIXL805Oe%2B4TgARmvpfgfpSNX9i0k6spL1Ew%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 93ec62f9-0cff-478d-aeb9-67ecf9c6b049
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002/listKeys?api-version=2025-08-01-preview
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://snapshotstoreyoq4cl2nyee.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2026-05-04T12:44:46+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://snapshotstoreyoq4cl2nyee.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2026-05-04T12:44:46+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://snapshotstoreyoq4cl2nyee.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2026-05-04T12:44:46+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://snapshotstoreyoq4cl2nyee.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2026-05-04T12:44:46+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:45:51.501998 GMT
    method: GET
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/kv/TestKey1?api-version=2023-11-01&label=dev
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0MQ==;sn=15969141
      x-ms-date:
      - Mon, 04 May 2026 12:45:54 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "TestKey1", "label": "dev", "value": "TestValue1", "content_type":
      ""}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxMyMxNTk2OTE0MQ==
      x-ms-content-sha256:
      - OMwzpNdD2u/o1eSRpoN8okwy4O0vgEPyaaVzAnDexKw=
      x-ms-date:
      - May, 04 2026 12:45:52.725517 GMT
    method: PUT
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/kv/TestKey1?api-version=2023-11-01&label=dev
  response:
    body:
      string: '{"etag":"GcBw8RWRMDRGDgZ6ijMjLomPl1E1aZSxnBL2iDLt4qc","key":"TestKey1","label":"dev","content_type":"","value":"TestValue1","tags":{},"locked":false,"last_modified":"2026-05-04T12:45:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GcBw8RWRMDRGDgZ6ijMjLomPl1E1aZSxnBL2iDLt4qc"'
      last-modified:
      - Mon, 04 May 2026 12:45:55 GMT
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0Mg==;sn=15969142
      x-ms-date:
      - Mon, 04 May 2026 12:45:55 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:45:55.944722 GMT
    method: GET
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/kv/LastTestKey?api-version=2023-11-01&label=dev
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0Mw==;sn=15969143
      x-ms-date:
      - Mon, 04 May 2026 12:45:58 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"filters": [{"key": "Test*", "label": "dev", "tags": []}], "composition_type":
      "key_label", "retention_period": 3600, "tags": {"tag1": "value1"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - yRT59za3um6CzJnvk7ZAWER8Qv8s5lokjVwZ3w8OSds=
      x-ms-date:
      - May, 04 2026 12:45:58.179878 GMT
    method: PUT
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/snapshots/TestSnapshot?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"q4Yh9N8K_KrdPegezsl_9vN_USxA_woIVyTG7lH5x38","name":"TestSnapshot","status":"provisioning","filters":[{"key":"Test*","label":"dev","tags":[]}],"composition_type":"key_label","created":"2026-05-04T12:46:00.9073252+00:00","size":0,"items_count":0,"tags":{"tag1":"value1"},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"q4Yh9N8K_KrdPegezsl_9vN_USxA_woIVyTG7lH5x38"'
      last-modified:
      - Mon, 04 May 2026 12:46:00 GMT
      link:
      - </kv?snapshot=TestSnapshot&api-version=2023-11-01>; rel="items"
      operation-location:
      - https://snapshotstoreyoq4cl2nyee.azconfig.io/operations?snapshot=TestSnapshot&api-version=2023-11-01
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0NQ==;sn=15969145
      x-ms-date:
      - Mon, 04 May 2026 12:46:00 GMT
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxMyMxNTk2OTE0NQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:45:59.363988 GMT
    method: GET
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/operations?snapshot=TestSnapshot&api-version=2023-11-01
  response:
    body:
      string: '{"id": "q7wYTFRvCMHmch6lzgTPUbdvwE7RPkM4ouZIUKU6i6I", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0NQ==;sn=15969145
      x-ms-date:
      - Mon, 04 May 2026 12:46:02 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:46:12.856585 GMT
    method: GET
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/snapshots/TestSnapshot?api-version=2023-11-01&$Select=name,status,items_count,filters
  response:
    body:
      string: '{"name":"TestSnapshot","status":"ready","filters":[{"key":"Test*","label":"dev","tags":[]}],"items_count":2}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"q4Yh9N8K_KrdPegezsl_9vN_USxA_woIVyTG7lH5x38"'
      last-modified:
      - Mon, 04 May 2026 12:46:06 GMT
      link:
      - </kv?snapshot=TestSnapshot&api-version=2023-11-01>; rel="items"
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0Ng==;sn=15969146
      x-ms-date:
      - Mon, 04 May 2026 12:46:15 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:46:13.957914 GMT
    method: GET
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/snapshots?api-version=2023-11-01&name=TestSnapshot&$Select=name,status,items_count,filters
  response:
    body:
      string: '{"items":[{"name":"TestSnapshot","status":"ready","filters":[{"key":"Test*","label":"dev","tags":[]}],"items_count":2}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0Ng==;sn=15969146
      x-ms-date:
      - Mon, 04 May 2026 12:46:16 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "archived"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 3J5BDwMV5Yf6HjPNbDRsIz+Ri27tLPhbbGuV+1E6YfM=
      x-ms-date:
      - May, 04 2026 12:46:14.974280 GMT
    method: PATCH
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/snapshots/TestSnapshot?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"4BSYH0pxkJLSt6qXXvdYV_llQqB6mYxv9UER2h1He8M","name":"TestSnapshot","status":"archived","filters":[{"key":"Test*","label":"dev","tags":[]}],"composition_type":"key_label","created":"2026-05-04T12:46:00+00:00","expires":"2026-05-04T13:46:17.4466104+00:00","size":1000,"items_count":2,"tags":{"tag1":"value1"},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"4BSYH0pxkJLSt6qXXvdYV_llQqB6mYxv9UER2h1He8M"'
      last-modified:
      - Mon, 04 May 2026 12:46:06 GMT
      link:
      - </kv?snapshot=TestSnapshot&api-version=2023-11-01>; rel="items"
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0Nw==;sn=15969147
      x-ms-date:
      - Mon, 04 May 2026 12:46:17 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:46:15.941336 GMT
    method: GET
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/snapshots?api-version=2023-11-01&name=%2A&$Select=&status=ready
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0Nw==;sn=15969147
      x-ms-date:
      - Mon, 04 May 2026 12:46:18 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:46:17.960548 GMT
    method: GET
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/snapshots?api-version=2023-11-01&name=%2A&$Select=&status=archived
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0OA==;sn=15969148
      x-ms-date:
      - Mon, 04 May 2026 12:46:20 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:46:18.951642 GMT
    method: GET
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/kv?api-version=2023-11-01&$Select=&snapshot=TestSnapshot
  response:
    body:
      string: '{"etag":"ZpLXzAYLOB6BHG8u2Oc4rXWIfbPICFkH8CiKJYICSDQ","items":[{"etag":"GcBw8RWRMDRGDgZ6ijMjLomPl1E1aZSxnBL2iDLt4qc","key":"TestKey1","label":"dev","content_type":"","value":"TestValue1","tags":{},"locked":false,"last_modified":"2026-05-04T12:45:55+00:00"},{"etag":"JTDFNEXaPsFJbxundaLmytxrSF1ve-EZIMOObuAv8Ik","key":"TestKey2","label":"dev","content_type":"","value":"TestValue2","tags":{},"locked":false,"last_modified":"2026-05-04T12:45:57+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"ZpLXzAYLOB6BHG8u2Oc4rXWIfbPICFkH8CiKJYICSDQ"'
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0OA==;sn=15969148
      x-ms-date:
      - Mon, 04 May 2026 12:46:21 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:46:20.019966 GMT
    method: GET
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/kv?api-version=2023-11-01&$Select=&snapshot=non_existent_snapshot
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0OA==;sn=15969148
      x-ms-date:
      - Mon, 04 May 2026 12:46:22 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxMyMxNTk2OTE0OA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:46:21.111880 GMT
    method: GET
    uri: https://snapshotstoreyoq4cl2nyee.azconfig.io/snapshots/non_existent_snapshot?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxMyMxNTk2OTE0OA==;sn=15969148
      x-ms-date:
      - Mon, 04 May 2026 12:46:23 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/francecentral/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.rMxPDt9kKX9-dUMJgnQRsyEHUXoUv8UHPSrtZ6A3VmQ?api-version=2025-08-01-preview&t=639134955857567529&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzN[...]
[...]
