interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-04-18T05:48:04.2007974+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/KAkVcKo0Y93H-QhWI2rjm_qUDYlZzSew6HPAiO2rBk0?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/KAkVcKo0Y93H-QhWI2rjm_qUDYlZzSew6HPAiO2rBk0?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/KAkVcKo0Y93H-QhWI2rjm_qUDYlZzSew6HPAiO2rBk0","name":"KAkVcKo0Y93H-QhWI2rjm_qUDYlZzSew6HPAiO2rBk0","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/KAkVcKo0Y93H-QhWI2rjm_qUDYlZzSew6HPAiO2rBk0?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-04-18T05:48:04+00:00","endpoint":"https://kvtesteaogcihn3vx7ptrmcb.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-04-18T05:48:04+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-18T05:48:05+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtesteaogcihn3vx7ptrmcb","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0100f759-0000-0100-0000-643e2f150000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-15T18:19:24+00:00","endpoint":"https://minigassou-vnetlocalwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus/privateEndpointConnections/PrivateLinkServicelocalWestCentralUS","name":"PrivateLinkServicelocalWestCentralUS","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MINIGASSOU-IntegrationRGlocalWestCentralUS/providers/Microsoft.Network/privateEndpoints/PrivateEndpointlocalWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","createdByType":"Application","createdAt":"2023-03-15T18:19:24+00:00","lastModifiedBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","lastModifiedByType":"Application","lastModifiedAt":"2023-03-15T18:20:04+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus","name":"MINIGASSOU-VNETlocalWCUS","tags":{"donotdelete":""}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1VndbtowFH6XaNpV3RS6DrVSNXmQaqw0sIQIrXcnjkldwMlih6BWffcdmy5j0l7gSNwgBOLT93fOyWug5cHOlN6Y4OY1WEXpchzFy4TPsjS4CZ6src1NGO5AQyl3UttzeGkbeS6qXWja3IhG1VZV2oSjUXEF%2BcVnNpJFwT5JKVgu5DW7GorBIB9d5fnlKKybaq8K2ZjwQYmmMtXanvO6Hld6rcq2AfdToTh9l9qqkeYL1Irt8Xv4%2Be3wYnjJLvA1%2BPjBbFS9rDZS3%2B5BixJe2F5Lu60EbDvRmuAsIArHyGavhGQWSnYE4rihRsqhPbRWGmsci0hGxGli8Kpi0gvK8RBlyXwR0TKIfWoqa7dKl56NIdKRzrPlN8cJT6ecFppTfxgJCIZnqcutKXeA6IKR0CKYeJ4gMwRVdsqLlg5Kdu9lRosR0YF%2BhpbVLrX8/6fdI65GDPYI%2BzeJh7RYORUXhrGLsGMrEsPR4X/3RHTKPlWtrbeI5GvCH6czgl45ZSVv/MzFYz7h746hKzEBAnl5hzGNJ5Q7UiiNWGh2fT9BOsPfJTweR%2BS1tW6ctr7zBY9pzyvPviLv50lE3/AbT4qfvWjXvV8b9XFv9I3C75LpmHtktPL4GRcWwAsAcyHAXsCl2ElT0vNODwir0g%2BXq2gSYaL5owtRbkznwixdTZePUTLj8cRNZVSxbLsBgvnBlzyhzYp3zC8/w/gMIDjB9GYxSvsEQGYWc6cw2tTUWz9Z%2BjGZcIQJcAmGrbLiPwlbXlcdwujvR%2B/SIrZT9laBVvydkwmukz2Q9XGX/PM4Isr4glanGNgpA8Ua8IzkL8ioMuf2LB3SA%2BNO%2BQDFf4xCi5ReXuiT4O0sgGbHy7KRJVhZ%2BEdJiIcnD8Hbbw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 599f02d9-916a-4abe-8395-88a12fbfee5e
      - 37afd2b3-410a-4a0b-80de-895f06490c1a
      - 131fc201-f3f7-47cb-b8ce-7e6b1667191c
      - 919321b8-2dbe-465b-bb8a-92da11f5b60a
      - cfef5aad-da4d-4a93-ba67-4b30c2c94cf0
      - 3246f66b-dd57-4b53-aba1-6b6255c94734
      - 7ac72a4a-4b1a-4649-a989-0d2750d6d8ac
      - 811b7f31-18be-45f7-8e6b-a23ce4855095
      - eca5f42f-cea8-4490-8959-25cdd2dcd5ea
      - 7e66cebe-a3f7-4f06-9466-1934494f2785
      - dea02258-4ed2-4621-91da-1180262e67b2
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"n+Wh-l0-s0:aNdvvoYmZk8a+r0VwYBG","name":"Primary","value":"dNTUioNq4DSWcW84w3+PPxrhnvUXCUqII1EKJGZWlW4=","connectionString":"Endpoint=https://kvtesteaogcihn3vx7ptrmcb.azconfig.io;Id=n+Wh-l0-s0:aNdvvoYmZk8a+r0VwYBG;Secret=dNTUioNq4DSWcW84w3+PPxrhnvUXCUqII1EKJGZWlW4=","lastModified":"2023-04-18T05:48:04+00:00","readOnly":false},{"id":"Y603-l0-s0:lUvp2OrqcH9GVmeVU4rM","name":"Secondary","value":"fn0PexZOKRj4m4tPehAAx+PnpOfPziz5VoakvakvEaQ=","connectionString":"Endpoint=https://kvtesteaogcihn3vx7ptrmcb.azconfig.io;Id=Y603-l0-s0:lUvp2OrqcH9GVmeVU4rM;Secret=fn0PexZOKRj4m4tPehAAx+PnpOfPziz5VoakvakvEaQ=","lastModified":"2023-04-18T05:48:04+00:00","readOnly":false},{"id":"DEz+-l0-s0:0i4/O7Zws8PQWDZtPs0+","name":"Primary
        Read Only","value":"O0SdCKq/1UakktkF62wQwMBAufiEHH/9Y4z4kO2P3h4=","connectionString":"Endpoint=https://kvtesteaogcihn3vx7ptrmcb.azconfig.io;Id=DEz+-l0-s0:0i4/O7Zws8PQWDZtPs0+;Secret=O0SdCKq/1UakktkF62wQwMBAufiEHH/9Y4z4kO2P3h4=","lastModified":"2023-04-18T05:48:04+00:00","readOnly":true},{"id":"e4N9-l0-s0:HkT+fEdA7urN8aTnee4x","name":"Secondary
        Read Only","value":"ngRg6VFqLIPmUyD/3r6D7Du8nhoBhz/uYZvXkzrj40Y=","connectionString":"Endpoint=https://kvtesteaogcihn3vx7ptrmcb.azconfig.io;Id=e4N9-l0-s0:HkT+fEdA7urN8aTnee4x;Secret=ngRg6VFqLIPmUyD/3r6D7Du8nhoBhz/uYZvXkzrj40Y=","lastModified":"2023-04-18T05:48:04+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:48:28 GMT
    method: GET
    uri: https://kvtesteaogcihn3vx7ptrmcb.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzU1NQ==;sn=36477555
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzU1NQ==
      x-ms-content-sha256:
      - 8iLdcWDtWLJ8PYg7E6yLqnb7ejltzQCh53RwNMv7mKs=
      x-ms-date:
      - Apr, 18 2023 05:48:28 GMT
    method: PUT
    uri: https://kvtesteaogcihn3vx7ptrmcb.azconfig.io/kv/Language?api-version=1.0
  response:
    body:
      string: '{"etag":"uFnHWinJP2ijs4IN49UlTFpTJb-M3jdBEDyiNA-z6f0","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2023-04-18T05:48:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"uFnHWinJP2ijs4IN49UlTFpTJb-M3jdBEDyiNA-z6f0"'
      last-modified:
      - Tue, 18 Apr 2023 05:48:29 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzU1Ng==;sn=36477556
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNjQ3NzU1Ng==
      x-ms-content-sha256:
      - 1FHvbxOPu6FW3+2pQFjxMT+epjbFMPYBGmgoojwEo4g=
      x-ms-date:
      - Apr, 18 2023 05:48:29 GMT
    method: PUT
    uri: https://kvtesteaogcihn3vx7ptrmcb.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"BDrOqagSCeIfucsOhVOtENGPArn_5H6M6pZnwxg2o_Q","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:48:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BDrOqagSCeIfucsOhVOtENGPArn_5H6M6pZnwxg2o_Q"'
      last-modified:
      - Tue, 18 Apr 2023 05:48:29 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzU1Nw==;sn=36477557
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:48:36 GMT
    method: GET
    uri: https://kvtesteaogcihn3vx7ptrmcb.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"BDrOqagSCeIfucsOhVOtENGPArn_5H6M6pZnwxg2o_Q","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:48:29+00:00"},{"etag":"uFnHWinJP2ijs4IN49UlTFpTJb-M3jdBEDyiNA-z6f0","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2023-04-18T05:48:29+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMzNjQ3NzU2NQ==;sn=36477565
    status:
      code: 200
      message: OK
[...]
