interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-01-20T10:56:32.4851783+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002","name":"DisableLocalAuth000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/82e3f350-ab98-c2a8-de6d-3c67db8acfe6?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/82e3f350-ab98-c2a8-de6d-3c67db8acfe6?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/82e3f350-ab98-c2a8-de6d-3c67db8acfe6","name":"82e3f350-ab98-c2a8-de6d-3c67db8acfe6","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/82e3f350-ab98-c2a8-de6d-3c67db8acfe6?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-01-20T10:56:32+00:00","endpoint":"https://disablelocalauth7nhreso2.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":true},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-01-20T10:56:32+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-01-20T10:56:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/disablelocalauth7nhreso2","name":"DisableLocalAuth000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1c00430f-0000-0100-0000-61e93fe10000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"gFMc-l0-s0:TU8CQFJziV+k6dXhLkjx","name":"Primary","value":"my/1gX7+xjVWdTPmUcgBeRG6bKS0rdeixbg08Guo8M4=","connectionString":"Endpoint=https://disablelocalauth7nhreso2.azconfig.io;Id=gFMc-l0-s0:TU8CQFJziV+k6dXhLkjx;Secret=my/1gX7+xjVWdTPmUcgBeRG6bKS0rdeixbg08Guo8M4=","lastModified":"2022-01-20T10:56:46+00:00","readOnly":false},{"id":"XwNd-l0-s0:KXJYDBRBFHLuE0BT6Kn6","name":"Secondary","value":"ca0H+pgXv7oktwudEFEQqJTLlv6I9RtMXBIVT92giD8=","connectionString":"Endpoint=https://disablelocalauth7nhreso2.azconfig.io;Id=XwNd-l0-s0:KXJYDBRBFHLuE0BT6Kn6;Secret=ca0H+pgXv7oktwudEFEQqJTLlv6I9RtMXBIVT92giD8=","lastModified":"2022-01-20T10:56:46+00:00","readOnly":false},{"id":"lpV5-l0-s0:IUG1MEyw9AbVO8XufaYt","name":"Primary
        Read Only","value":"7e5YrOV8rA6L4/zLMU4/m9ZEHrpxadfqkW8/z3rspgg=","connectionString":"Endpoint=https://disablelocalauth7nhreso2.azconfig.io;Id=lpV5-l0-s0:IUG1MEyw9AbVO8XufaYt;Secret=7e5YrOV8rA6L4/zLMU4/m9ZEHrpxadfqkW8/z3rspgg=","lastModified":"2022-01-20T10:56:46+00:00","readOnly":true},{"id":"BDFA-l0-s0:3AY7UaQptCOMpyhoS+4W","name":"Secondary
        Read Only","value":"Y9iiftergwnRIBAkM0sDB7vtzV3tq7kXxBZxF+eIBWQ=","connectionString":"Endpoint=https://disablelocalauth7nhreso2.azconfig.io;Id=BDFA-l0-s0:3AY7UaQptCOMpyhoS+4W;Secret=Y9iiftergwnRIBAkM0sDB7vtzV3tq7kXxBZxF+eIBWQ=","lastModified":"2022-01-20T10:56:46+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:56:48 GMT
    method: GET
    uri: https://disablelocalauth7nhreso2.azconfig.io/kv/test?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "test", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - K/ZgeCKNEgOHURLXqNNghR5xxLAPIMWOIak1mRufo6o=
      x-ms-date:
      - Jan, 20 2022 10:56:49 GMT
    method: PUT
    uri: https://disablelocalauth7nhreso2.azconfig.io/kv/test?api-version=1.0
  response:
    body:
      string: '{"etag":"nORPuND2KacSBqgbW3yLwqxLqDb","key":"test","label":null,"content_type":"","value":"","tags":{},"locked":false,"last_modified":"2022-01-20T10:56:49+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"nORPuND2KacSBqgbW3yLwqxLqDb"'
      last-modified:
      - Thu, 20 Jan 2022 10:56:49 GMT
      sync-token:
      - zAJw6V16=MzoxOSM5OTAyMzgz;sn=9902383
    status:
      code: 200
      message: OK
version: 1
