interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-08-26T05:47:49.9024885+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/PwCKO8NFtJ1YdLL-OogsQ04aX1ZE49LznJBhOpdqh3U?api-version=2023-03-01&t=638602480701300504&c=MIIHhzCCBm-gAwIBAgITfAURLZ3typdTL74CVwAABREtnTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjI3MTU1MDE3WhcNMjUwNjIyMTU1MDE3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/PwCKO8NFtJ1YdLL-OogsQ04aX1ZE49LznJBhOpdqh3U?api-version=2023-03-01&t=638602480701300504&c=MIIHhzCCBm-gAwIBAgITfAURLZ3typdTL74CVwAABREtnTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjI3MTU1MDE3WhcNMjUwNjIyMTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-08-26T05:47:49+00:00","endpoint":"https://source4z7o5z36jrc4x5yr7k.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"cwanjau@microsoft.com","createdByType":"User","createdAt":"2024-08-26T05:47:49+00:00","lastModifiedBy":"cwanjau@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-26T05:47:49+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/source4z7o5z36jrc4x5yr7k","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3a015ea9-0000-0100-0000-66cc17070000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest","name":"garywangtest","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},"privateLinkServiceConnectionState":{"status":"Pending","description":"ms","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-28T11:10:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZrvTuNGFMXfJar6aUwglKIiraopeLteIKF2Irr7beIMwSGxzYxNgFXfvfeO7YkD7AMciS%2BAguZw7t%2BZ349Brp%2Brqyx/sIOzH4PbMJmeh%2BNpLK9myeBscF9VpT0bDjcqV0u90Xl1oF5row/SYjO09dymJiurrMjt8PR0caLmh78Hp3qxCH7TOg3mqf4jOBmlR0fz05P5/Ph0WJriKVtoY4fXWWoKW9xVB7Isz4v8LlvWRvGfGqb975KqMNr%2Bqco[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3Y/bSsQwEIbfJYhXm6btWsMWFininb2x6wPkMBtDyYFJWlcX391Yb3wGYWCY/%2Bcb%2BK7EwyU/Wz8n0l/J0zCdXifSk7ecY%2BoZc8ILAw58rsTnglCp4FhaZFJoY7bBJ8a57oSs7ykHrekdgKJSwYF2rWoayTsp95xFDKvVgImNVmFI4ZyrIcbH4M/WLCh%2BXjH195pyQEgPIlq6Fq70x7Zu97Qu09zepNnGU5jBHz%2BWd6DWxYCZwmVbIkaaAFergHztiEA3GINgRAa9QcVweBnJbrMfBc6AJfq17/%2BR%2Bzc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 5b1c5cac-13d9-494f-9001-3f2489b44109
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"HZbS","name":"Primary","value":"4bN7mvlAbovrn91Zqkcx3UQnqHTQTDFL66rgIIy1woya0IyRH0kVJQQJ99AHACYeBjFAArohAAACAZACx9VX","connectionString":"Endpoint=https://source4z7o5z36jrc4x5yr7k.azconfig.io;Id=HZbS;Secret=4bN7mvlAbovrn91Zqkcx3UQnqHTQTDFL66rgIIy1woya0IyRH0kVJQQJ99AHACYeBjFAArohAAACAZACx9VX","lastModified":"2024-08-26T05:47:49+00:00","readOnly":false},{"id":"Ymoj","name":"Secondary","value":"5XcEYSaybpxnD7KYrP3FTjCpZqrAbuVMTzntTZZFjlErI8RJDEkpJQQJ99AHACYeBjFAArohAAACAZACCDmD","connectionString":"Endpoint=https://source4z7o5z36jrc4x5yr7k.azconfig.io;Id=Ymoj;Secret=5XcEYSaybpxnD7KYrP3FTjCpZqrAbuVMTzntTZZFjlErI8RJDEkpJQQJ99AHACYeBjFAArohAAACAZACCDmD","lastModified":"2024-08-26T05:47:49+00:00","readOnly":false},{"id":"T9Gc","name":"Primary
        Read Only","value":"23enN85kb8AhG7ONgEK89OyiEM6Bbt7Qw6v7KSPSKXHwazipOlSPJQQJ99AHACYeBjFAArohAAABAZACRDPE","connectionString":"Endpoint=https://source4z7o5z36jrc4x5yr7k.azconfig.io;Id=T9Gc;Secret=23enN85kb8AhG7ONgEK89OyiEM6Bbt7Qw6v7KSPSKXHwazipOlSPJQQJ99AHACYeBjFAArohAAABAZACRDPE","lastModified":"2024-08-26T05:47:49+00:00","readOnly":true},{"id":"XfWq","name":"Secondary
        Read Only","value":"9Xl6KLG5Mz5YW7mFbTiAFljhQyxqirGcuULcHeVeZxpQOZlSp83NJQQJ99AHACYeBjFAArohAAABAZACYUMF","connectionString":"Endpoint=https://source4z7o5z36jrc4x5yr7k.azconfig.io;Id=XfWq;Secret=9Xl6KLG5Mz5YW7mFbTiAFljhQyxqirGcuULcHeVeZxpQOZlSp83NJQQJ99AHACYeBjFAArohAAABAZACYUMF","lastModified":"2024-08-26T05:47:49+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1pQa1vHaI7uP1cS5_tSZTkt8XdtokX3oykrnX0mva_o?api-version=2023-03-01&t=638602481210034118&c=MIIHhzCCBm-gAwIBAgITfAURLZ3typdTL74CVwAABREtnTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjI3MTU1MDE3WhcNMjUwNjIyMTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZrdbttGEIXfRSh6tbRsqa5RA0GxtZmGiS25pAQ3uVtRa5mytGR2Sct20HfvzPJHlO08wAFykwQOeHJmZs/sfj8GRj%2BVV5l5cIPzH4PbMJldhJNZLK/myeB8cF%2BWhTsfDrfKqJXealMeqZfK6qM03w5dtXCpzYoyy40bnp0tT9Xi%2BPfgTC%2BXwW9ap8Ei1X8Ep6P05GRxdrpYjM%2BGhc0fs6W2bnidpTZ3%2BV15JIviIjd32aqyiv%2BpYdr/XVL[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"pcvc","name":"Primary","value":"EmqA5dGvVvgLAKjxf2I2GUY1tPM58tW7Cvh2qelmgHqya1zM8cMsJQQJ99AHACYeBjFAArohAAACAZACYAFw","connectionString":"Endpoint=https://destina[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:27 GMT
    method: GET
    uri: https://source4z7o5z36jrc4x5yr7k.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MTYzOQ==;sn=67361639
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MTYzOQ==
      x-ms-content-sha256:
      - opxXzk3c6Pv5xJQRGK2KYQWFiTofPo7eDjsA5Z7RZjU=
      x-ms-date:
      - Aug, 26 2024 05:49:27 GMT
    method: PUT
    uri: https://source4z7o5z36jrc4x5yr7k.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"KlMW7DaVkK-ZojSStbFKyM3BH1FRMknvGOj_LHmqIh8","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"KlMW7DaVkK-ZojSStbFKyM3BH1FRMknvGOj_LHmqIh8"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:27 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MTY0MA==;sn=67361640
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:28 GMT
    method: GET
    uri: https://source4z7o5z36jrc4x5yr7k.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MTY0MQ==;sn=67361641
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MTY0MQ==
      x-ms-content-sha256:
      - Jyo6toZCmzkwCknljrzQ7W0Lkn83wslohOIHO3C97Gk=
      x-ms-date:
      - Aug, 26 2024 05:49:28 GMT
    method: PUT
    uri: https://source4z7o5z36jrc4x5yr7k.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"yyFRqvA3_5bEbYewYNtis2K1uVK7qyI8DqMwt0q5jkk","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yyFRqvA3_5bEbYewYNtis2K1uVK7qyI8DqMwt0q5jkk"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:28 GMT
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MTY0Mg==;sn=67361642
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:29 GMT
    method: GET
    uri: https://source4z7o5z36jrc4x5yr7k.azconfig.io/kv?label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"yyFRqvA3_5bEbYewYNtis2K1uVK7qyI8DqMwt0q5jkk","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:28+00:00"},{"etag":"blJ1jCjh7NdaXaXKWtf3IoArIsOmZfOjOB4A9x2feKI","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:29+00:00"},{"etag":"KlMW7DaVkK-ZojSStbFKyM3BH1FRMknvGOj_LHmqIh8","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:27+00:00"},{"etag":"RMf7thWqJ-mJl_1rCIYnkYgCvIZJk0YgG88JbTFoIE8","key":"Color","label":"v2","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MTY0Mw==;sn=67361643
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NToxOSM2NzM2MTY0Mw==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:29 GMT
    method: GET
    uri: https://source4z7o5z36jrc4x5yr7k.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"yyFRqvA3_5bEbYewYNtis2K1uVK7qyI8DqMwt0q5jkk","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:28+00:00"},{"etag":"blJ1jCjh7NdaXaXKWtf3IoArIsOmZfOjOB4A9x2feKI","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:29+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM2NzM2MTY0Mw==;sn=67361643
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:29 GMT
    method: GET
    uri: https://destinationidyj267bjrov2.azconfig.io/kv?key=%2A&label=DestLabel&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTM3;sn=9001937
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODoxOSM5MDAxOTM3
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:29 GMT
    method: GET
    uri: https://destinationidyj267bjrov2.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=DestLabel&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTM3;sn=9001937
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "DestLabel", "content_type": "", "value": "Red",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSM5MDAxOTM3
      x-ms-content-sha256:
      - 2RifyTNi+T6A5AH5TmDiNNKMte7N2PehYKcAxZJhJk4=
      x-ms-date:
      - Aug, 26 2024 05:49:30 GMT
    method: PUT
    uri: https://destinationidyj267bjrov2.azconfig.io/kv/Color?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"EW9eVD1pL997gPLO68XbAG5cUV7-whYuVbTqR7DFcGA","key":"Color","label":"DestLabel","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"EW9eVD1pL997gPLO68XbAG5cUV7-whYuVbTqR7DFcGA"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:30 GMT
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTM4;sn=9001938
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "DestLabel", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSM5MDAxOTM5
      x-ms-content-sha256:
      - HiEZa2QZS/oYhoFaYiYkHOXoZ5bAkTPdKLalp1k+FsQ=
      x-ms-date:
      - Aug, 26 2024 05:49:30 GMT
    method: PUT
    uri: https://destinationidyj267bjrov2.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"ymfo7BANd4J9okFlWxe2Xkk1GwBI_N6UdtE8dRYIvpw","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ymfo7BANd4J9okFlWxe2Xkk1GwBI_N6UdtE8dRYIvpw"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:30 GMT
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTQx;sn=9001941
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:30 GMT
    method: GET
    uri: https://destinationidyj267bjrov2.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"ICIjRm3em9kAPT8bPVJnCe5oYdQHtcGt6h6Twt-wv78","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:30+00:00"},{"etag":"KYRtIzyvoJDIxQ9HEIEX7iNfFp_iy2I8_3yWynbyuMw","key":"Color","label":"DestLabel","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:30+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTQ3;sn=9001947
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"ICIjRm3em9kAPT8bPVJnCe5oYdQHtcGt6h6Twt-wv78"'
      Sync-Token:
      - zAJw6V16=ODoxOSM5MDAxOTQ3
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:31 GMT
    method: DELETE
    uri: https://destinationidyj267bjrov2.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"ICIjRm3em9kAPT8bPVJnCe5oYdQHtcGt6h6Twt-wv78","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ICIjRm3em9kAPT8bPVJnCe5oYdQHtcGt6h6Twt-wv78"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:30 GMT
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTQ4;sn=9001948
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:31 GMT
    method: GET
    uri: https://destinationidyj267bjrov2.azconfig.io/kv?key=%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTQ5;sn=9001949
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODoxOSM5MDAxOTQ5
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:31 GMT
    method: GET
    uri: https://destinationidyj267bjrov2.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTQ5;sn=9001949
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSM5MDAxOTQ5
      x-ms-content-sha256:
      - CRjkupMzN0VvyeEKjxhIlytZ//XfrJzOnrxlHwf36Y4=
      x-ms-date:
      - Aug, 26 2024 05:49:32 GMT
    method: PUT
    uri: https://destinationidyj267bjrov2.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"eWe3y5vEGXb0hLABo-iHcuYaVYIj5MGg9wrtYs2-ktg","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eWe3y5vEGXb0hLABo-iHcuYaVYIj5MGg9wrtYs2-ktg"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:32 GMT
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTUw;sn=9001950
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSM5MDAxOTUx
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Aug, 26 2024 05:49:32 GMT
    method: PUT
    uri: https://destinationidyj267bjrov2.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"L2Krw8skMW3CWLc-HY_2EkWSxyJkIt61ajk_VR9WARI","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"L2Krw8skMW3CWLc-HY_2EkWSxyJkIt61ajk_VR9WARI"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:32 GMT
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTUz;sn=9001953
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODoxOSM5MDAxOTYx
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:33 GMT
    method: GET
    uri: https://destinationidyj267bjrov2.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTYx;sn=9001961
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSM5MDAxOTYx
      x-ms-content-sha256:
      - U9u5Jwxj4fjm6nWf68K+R4h5BMr1MQY2a3z5sJm/IFs=
      x-ms-date:
      - Aug, 26 2024 05:49:33 GMT
    method: PUT
    uri: https://destinationidyj267bjrov2.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"JXmqs8z9G1n1Ccu9jnNvQW4OOkjY1upESzmvOqpxODQ","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JXmqs8z9G1n1Ccu9jnNvQW4OOkjY1upESzmvOqpxODQ"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:34 GMT
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTYy;sn=9001962
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSM5MDAxOTYz
      x-ms-content-sha256:
      - Jyo6toZCmzkwCknljrzQ7W0Lkn83wslohOIHO3C97Gk=
      x-ms-date:
      - Aug, 26 2024 05:49:34 GMT
    method: PUT
    uri: https://destinationidyj267bjrov2.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"stcpZpyWeTCAX_TMaGQ14imSwd4QcZe0FKGXQ0FWCMs","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-08-26T05:49:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"stcpZpyWeTCAX_TMaGQ14imSwd4QcZe0FKGXQ0FWCMs"'
      last-modified:
      - Mon, 26 Aug 2024 05:49:34 GMT
      sync-token:
      - zAJw6V16=ODoxOSM5MDAxOTY0;sn=9001964
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 26 2024 05:49:35 GMT
    method: GET
    uri: https://source4z7o5z36jrc4x5yr7k.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0
[...]
