interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-05-04T00:36:10.6155129+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002","name":"NamingConventionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OX8MyaDo0bd9y9K38JZewfii9VXuW6S2wwYldrnW9dk?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OX8MyaDo0bd9y9K38JZewfii9VXuW6S2wwYldrnW9dk?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OX8MyaDo0bd9y9K38JZewfii9VXuW6S2wwYldrnW9dk","name":"OX8MyaDo0bd9y9K38JZewfii9VXuW6S2wwYldrnW9dk","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/OX8MyaDo0bd9y9K38JZewfii9VXuW6S2wwYldrnW9dk?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-05-04T00:36:10+00:00","endpoint":"https://namingconventiontestze4e.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-05-04T00:36:10+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-04T00:36:11+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/namingconventiontestze4e","name":"NamingConventionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"10007387-0000-0100-0000-6452fdfb0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3VndbtowFH6XaNpVTYCOoSFVkwepxkoDS4jQeuc4JpgfJ7Mdglr13XdsOsb2BmcSNwgF5dP3d479EihxsjOpdiYYvQSrKF2Oo3iZ0FmWBqNgY21tRmF4YIqV4iCU7bDnRosOrw6haXLDtaytrJQJh8NiwPLuRzIURUE%2BCMFJzsUnMujzXi8fDvL8dhjWujrKQmgTPkquK1OtbYfW9bhSa1k2mrm/Cvn1t9RWWpjPrJbkCM/B73f9bv%2BWdOHTe/O7GS9rHZC3Rmhj5ILYllJWt6Y4Cb4D5CcgThasPFxak6NFcYaRyCQEVGcGMhRCUuEF5TjIcqS%2BSLC5Q270ZW1e6lKz0Yf6Ejn2fKr44SmU4oLzbXTjWAAhmapi6wpdYDwghGsATDxPAFmEKrsmhclHJTswcsMFyO8ZWrLGlK71PLvj7tHXCEa6BHydxL3cbFyLS4IYxdh51ZEhqOFd/dEtNJuqsbWe0DyJaFP0xlCr1yzkms/c9GYTuibY/BKjDMOvLzBmMYTzB3JpQIsOLv%2BMkE6w98nNB5H6LW11k5b3%2BiCxrjnla2vyId5EuE3/M6T4mcv3HXvF2B13ht9o9D7ZDqmHhmuPN7CwsJg%2BScuBMgzcyl21ZT4vHMBBFXph8tVNIkg0fx5C1JuTOvCLF1Nl09RMqPxxE1lWLHs2x6A%2BU6XNMHNinfMTz/D%2BAxAOMFczGKk8gkAzCzmTmG4qan3frL0YzLiCOPMJRi0yor%2BQGx5VbUA43J%2BhFtarHHS%2BhcMsgX54ntA82foR7gbX4Csz4vx72uVKKMLXAVp2EEaVqwZnIn543BQmYuuLO3jA%2BPuJRgrgtebgOkDLUstSmZF4W%2BRgBeaPAavvwA%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - f1a38d7c-450a-4f40-9acb-fadb0d0e8fb7
      - 6e509f73-0b22-4b9a-8123-1475eeda3c9c
      - aaaf111e-aad2-477f-a115-6429267a8a32
      - e91c1335-d0d7-4952-aab0-a9248c8670e2
      - 64ef9275-9f59-482f-a1a4-a5a64e350752
      - 72bd5012-5425-4807-be28-3ad300ceaadc
      - d99c9979-eff8-41c6-85f2-7e5828e27a71
      - ad74a1bc-b02f-4530-a3d7-e57ca347beec
      - fdb623cb-56d1-4729-aae0-b6cd4154befb
      - 268f2301-4008-494c-98ef-fd78ea8fe927
      - 583fd392-e113-4e1a-a4ca-85942411316e
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"8AcZ-l0-s0:jxySB9oBY1pbV9jwqSs9","name":"Primary","value":"I7ztnDxboopyqdZDY+Fb22eJT0atMZr94enSCo445vU=","connectionString":"Endpoint=https://namingconventiontestze4e.azconfig.io;Id=8AcZ-l0-s0:jxySB9oBY1pbV9jwqSs9;Secret=I7ztnDxboopyqdZDY+Fb22eJT0atMZr94enSCo445vU=","lastModified":"2023-05-04T00:36:10+00:00","readOnly":false},{"id":"QaH7-l0-s0:IwUwG4wVfKYZQFTbzqHu","name":"Secondary","value":"qjU4r6Uq+Ov2M7H55b5A/Xc7xYljwUnLF/TC0cSDkVY=","connectionString":"Endpoint=https://namingconventiontestze4e.azconfig.io;Id=QaH7-l0-s0:IwUwG4wVfKYZQFTbzqHu;Secret=qjU4r6Uq+Ov2M7H55b5A/Xc7xYljwUnLF/TC0cSDkVY=","lastModified":"2023-05-04T00:36:10+00:00","readOnly":false},{"id":"AsEc-l0-s0:tWFyrYm6O1a/GeppO7th","name":"Primary
        Read Only","value":"Ny6njkQ73m4mpMny1oClar6rODRE0uTrc0y5dBPOt5w=","connectionString":"Endpoint=https://namingconventiontestze4e.azconfig.io;Id=AsEc-l0-s0:tWFyrYm6O1a/GeppO7th;Secret=Ny6njkQ73m4mpMny1oClar6rODRE0uTrc0y5dBPOt5w=","lastModified":"2023-05-04T00:36:10+00:00","readOnly":true},{"id":"7iyW-l0-s0:UApzygWhZb1r4Anks1Ma","name":"Secondary
        Read Only","value":"stYWE+kQ8xEewNReXTJG0ycP6naZUlu6723aGR/ra9Y=","connectionString":"Endpoint=https://namingconventiontestze4e.azconfig.io;Id=7iyW-l0-s0:UApzygWhZb1r4Anks1Ma;Secret=stYWE+kQ8xEewNReXTJG0ycP6naZUlu6723aGR/ra9Y=","lastModified":"2023-05-04T00:36:10+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:36:23 GMT
    method: GET
    uri: https://namingconventiontestze4e.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyNDE0Nzc2OA==;sn=24147768
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "NamingConventionTest", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyNDE0Nzc2OA==
      x-ms-content-sha256:
      - VSffS36d1yZrU0VE0K0JB85BAfWtgzcSKReH3XQQcKM=
      x-ms-date:
      - May, 04 2023 00:36:23 GMT
    method: PUT
    uri: https://namingconventiontestze4e.azconfig.io/kv/Color?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"w4npKCmAhDJ9VoicEQm0zBuQ4AUOMNxO5G5AEy8CdVo","key":"Color","label":"NamingConventionTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2023-05-04T00:36:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"w4npKCmAhDJ9VoicEQm0zBuQ4AUOMNxO5G5AEy8CdVo"'
      last-modified:
      - Thu, 04 May 2023 00:36:24 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyNDE0Nzc2OQ==;sn=24147769
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Region", "label": "NamingConventionTest", "value": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyNDE0Nzc2OQ==
      x-ms-content-sha256:
      - d5TuuQY1+uOeZsImyUtbAguTYwPriNoBgqLVZgmcRso=
      x-ms-date:
      - May, 04 2023 00:36:23 GMT
    method: PUT
    uri: https://namingconventiontestze4e.azconfig.io/kv/Region?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"IXD7sJhXFOd1KM8DeVtaac1tBVt2yXni0e1764RxAFk","key":"Region","label":"NamingConventionTest","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2023-05-04T00:36:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"IXD7sJhXFOd1KM8DeVtaac1tBVt2yXni0e1764RxAFk"'
      last-modified:
      - Thu, 04 May 2023 00:36:24 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyNDE0Nzc3MA==;sn=24147770
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyNDE0Nzc3MA==
      x-ms-content-sha256:
      - LlJkZdiUPnv6AG4PyAVQ8nH84c9fsUS598ZH84M/fd4=
      x-ms-date:
      - May, 04 2023 00:36:23 GMT
    method: PUT
    uri: https://namingconventiontestze4e.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"slGpRQ-emW90QmX7_CuB0mECZ7gvCGiTls1ID50d2C0","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:36:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"slGpRQ-emW90QmX7_CuB0mECZ7gvCGiTls1ID50d2C0"'
      last-modified:
      - Thu, 04 May 2023 00:36:25 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyNDE0Nzc3MQ==;sn=24147771
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyNDE0Nzc3MQ==
      x-ms-content-sha256:
      - InFMUc4jWZGxDF2tsAt[...]
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyNDE0Nzc3Mg==
      x-ms-content-sha256:
      - 2G4MoMP9JRN0R01czMDumf4AGMDfhMFXxOZkZuPXMj8=
      x-ms-date:
      - May, 04 2023 00:36:24 GMT
    method: PUT
    uri: https://namingconventiontestze4e.azco[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:36:27 GMT
    method: GET
    uri: https://namingconventiontestze4e.azconfig.io/kv?label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"slGpRQ-emW90QmX7_CuB0mECZ7gvCGiTls1ID50d2C0","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.micro[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:36:29 GMT
    method: GET
    uri: https://namingconventiontestze4e.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"slGpRQ-emW90QmX7_CuB0mECZ7gvCGiTls1ID50d2C0","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type[...]
[...]
