interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-03-04T23:05:44.2374947+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003","name":"KVTest000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0caeb36e-be5a-41e4-9982-b95bfdc06407?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0caeb36e-be5a-41e4-9982-b95bfdc06407?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0caeb36e-be5a-41e4-9982-b95bfdc06407","name":"0caeb36e-be5a-41e4-9982-b95bfdc06407","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0caeb36e-be5a-41e4-9982-b95bfdc06407?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-03-04T23:05:44+00:00","endpoint":"https://kvtest2rulgublvxoydudpzt.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-04T23:05:44+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-04T23:05:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtest2rulgublvxoydudpzt","name":"KVTest000003","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"85006067-0000-0100-0000-62229b490000"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}, "attributes":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.0
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/253de4f87c9c4b0c9ae571ac7276981c","attributes":{"enabled":true,"created":1646435155,"updated":1646435155,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview&%24skiptoken=3ZjRjtowFET%2FJar6VBOSLUVFWlUuuGpaGlBChLRvjnMBw%2BJYtkNoV%2FvvtQPapp%2FgPEZRIh3N3LljvwQCrmbJxUkHs5dgS%2FLNnKSbDC%2BLPJgFB2OknoXhmQq6hzMIM6J%2FGgUjVp9D3ZSaKS4Nr4UOp9NqQsvxJzSFqkIfARgqGXxGk5hFUTmdlOXDNJSqvvAKlA5%2FcaZqXe%2FMCEs5r8WO7xtF3a9C1n%2FKTa1Af6GSo4v9zr5%2FjMdxhKIxGkdIKrhwaN%2B%2F0ycuN%2FUJxKMGdeEMkKF71LJGBx%2BCARHdgJxMvupzba6NAW20E9aKQ7DfLOgiwCDojOZ0IUW2WhNPZ%2BfQUN5CY2XJV8Xmu9MG5wn2lKaXBBqohcJF7qItwQ7MfyigTql0lVmlfHZdTyfxz3zDSG23hrRNbfR%2F3sWeus8FhAu72BrvtoU8JWktQydJy82hbox8tkRfM%2FyULLvo81Sf3iiVqus%2BOMULfJ8l%2F6EYZVanO06SLoawmxgXlsnvXfvW6FwwfMtwOieD8dxOOc%2F9wGucDqM3HKUr3j9XGRlOMJw6kbouNIzi0B1gxe28l2%2BTzRPJljhddIR%2B5viR%2F26QFi4q3Dwlqy6%2FXYvwk0fbMtRSwUXF6R3qVokePOXh6I7R60H%2BJt7xmQtq746QLUIu7%2FItWRC7l7rbLT8VekPSba8GFTkp8NpPIslvpkORVch5rchjf2nc3RalVfD6%2Bhc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - f9280784-17ae-4190-ae28-aa263df3c75d
      - afd02f02-761e-43e5-8e90-a9ab23ef7a26
      - 8d2a57c8-9c9d-41cf-a9c8-9a9d8cbbcd83
      - 6a0b1964-cdaf-4f70-ac8a-89599d66b121
      - 9eae86f7-a67e-4ace-bad7-5ca40655c846
      - 98a00b51-954b-4cc9-9eed-2c810b926163
      - 8f2e93e7-14b5-4c8e-9b2c-2ebc6b76c3b1
      - d165fa70-9f0d-4690-b83f-f311a672b197
      - 41b207f1-2899-4c12-8392-a1a6fabe74cc
      - 8e3cc579-58c4-40eb-a0ac-4b3593526dde
      - cc874327-ffe8-4b3e-90d8-8cfbc89eb441
      - 6ce975dc-d462-4d43-a0cc-b3ad25f8d143
      - 396fb76f-25c9-4057-be2b-83bc8cbb57c5
      - 7bdbd16d-e295-4dea-9d12-06abcc37751b
      - 8aacdc77-8272-420c-b5de-d635b30dc03c
      - d125f40c-8c00-42ce-b546-14a4b43d6f10
      - fdff2a49-3b91-4d9e-85cf-bd1a34eff589
      - f79bc993-b4b8-4131-8ec1-9fa151ed9e10
      - b7660c1c-f807-4199-b79c-dfc9b9fc7432
      - d606554a-3169-4855-8cf4-9f3248128161
      - 693e68e5-45db-4f8b-9bc7-0e22016b1652
      - c9ef26fa-7bdc-44e1-89fb-e6f5322a0b82
      - 4e4f7254-8e91-4a09-b6f9-8dc0729e56ae
      - cede03ff-992e-418c-84c3-fac20c9e4a4d
      - b137e4d9-7656-4461-aa9e-80378c979c20
      - 70279686-0df5-4148-ba7e-c0e31c64d470
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"qrSq-l0-s0:mjEgPSXNVz9wKuA/SlRf","name":"Primary","value":"eYTiUhqt/QzRI5tXJJRST9V3O9aMYt9C4HMg/InuOEQ=","connectionString":"Endpoint=https://kvtest2rulgublvxoydudpzt.azconfig.io;Id=qrSq-l0-s0:mjEgPSXNVz9wKuA/SlRf;Secret=eYTiUhqt/QzRI5tXJJRST9V3O9aMYt9C4HMg/InuOEQ=","lastModified":"2022-03-04T23:05:44+00:00","readOnly":false},{"id":"5Cml-l0-s0:ZmIBIkdvppsb5NLzVF6e","name":"Secondary","value":"0YaPn9DDTWWI9H0OojKTY230/cwxJMcZpnoIW0sOpEI=","connectionString":"Endpoint=https://kvtest2rulgublvxoydudpzt.azconfig.io;Id=5Cml-l0-s0:ZmIBIkdvppsb5NLzVF6e;Secret=0YaPn9DDTWWI9H0OojKTY230/cwxJMcZpnoIW0sOpEI=","lastModified":"2022-03-04T23:05:44+00:00","readOnly":false},{"id":"EidB-l0-s0:FR5JFmQYfweqSn3wONyh","name":"Primary
        Read Only","value":"0DcUHcI1NDODKIST6OUxYGu9ujIuG0kji81u8vNTuus=","connectionString":"Endpoint=https://kvtest2rulgublvxoydudpzt.azconfig.io;Id=EidB-l0-s0:FR5JFmQYfweqSn3wONyh;Secret=0DcUHcI1NDODKIST6OUxYGu9ujIuG0kji81u8vNTuus=","lastModified":"2022-03-04T23:05:44+00:00","readOnly":true},{"id":"BmfX-l0-s0:TMj1HkHH2F+UAhwIT1lk","name":"Secondary
        Read Only","value":"IucUATF77XkFGNdJuWH/NwFfG7wsv1DJLLgMx3MrQHE=","connectionString":"Endpoint=https://kvtest2rulgublvxoydudpzt.azconfig.io;Id=BmfX-l0-s0:TMj1HkHH2F+UAhwIT1lk;Secret=IucUATF77XkFGNdJuWH/NwFfG7wsv1DJLLgMx3MrQHE=","lastModified":"2022-03-04T23:05:44+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 04 2022 23:05:58 GMT
    method: GET
    uri: https://kvtest2rulgublvxoydudpzt.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://clitest000002.vault.azure.net/secrets/testSecret/253de4f87c9c4b0c9ae571ac7276981c\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - pD37Zd7Igxw84o3dwfyrepPcYq6+RCbd5gnC10QMCnQ=
      x-ms-date:
      - Mar, 04 2022 23:05:58 GMT
    method: PUT
    uri: https://kvtest2rulgublvxoydudpzt.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: '{"etag":"NcUnIPSaM4bnQBmaPE34nR3sehb","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestwkxtjk3k7tqcurqps.vault.azure.net/secrets/testSecret/253de4f87c9c4b0c9ae571ac7276981c\"}","tags":{},"locked":false,"last_modified":"2022-03-04T23:05:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NcUnIPSaM4bnQBmaPE34nR3sehb"'
      last-modified:
      - Fri, 04 Mar 2022 23:05:58 GMT
      sync-token:
      - zAJw6V16=OToxOSMyMTI1ODc2;sn=2125876
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 04 2022 23:06:01 GMT
    method: GET
    uri: https://kvtest2rulgublvxoydudpzt.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"NcUnIPSaM4bnQBmaPE34nR3sehb","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestwkxtjk3k7tqcurqps.vault.azure.net/secrets/testSecret/253de4f87c9c4b0c9ae571ac7276981c\"}","tags":{},"locked":false,"last_modified":"2022-03-04T23:05:58+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OToxOSMyMTI1ODc2;sn=2125876
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest000002.vault.azure.net/secrets/testSecret/253de4f87c9c4b0c9ae571ac7276981c?api-version=7.0
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/253de4f87c9c4b0c9ae571ac7276981c","attributes":{"enabled":true,"created":1646435155,"updated":1646435155,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 04 2022 23:06:04 GMT
    method: GET
    uri: https://kvtest2rulgublvxoydudpzt.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"NcUnIPSaM4bnQBmaPE34nR3sehb","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestwkxtjk3k7tqcurqps.vault.azure.net/secrets/testSecret/253de4f87c9c4b0c9ae571ac7276981c\"}","tags":{},"locked":false,"last_modified":"2022-03-04T23:05:58+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OToxOSMyMTI1ODc2;sn=2125876
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 04 2022 23:06:06 GMT
    method: GET
    uri: https://kvtest2rulgublvxoydudpzt.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OToxOSMyMTI1ODc2;sn=2125876
    status:
      code: 200
      message: OK
version: 1
