interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "sku": {"name":
      "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-07-03T08:41:37.2823982+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002","name":"MgmtTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/35b4b933-3d8a-fffb-ca64-221ce2668400?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/35b4b933-3d8a-fffb-ca64-221ce2668400?api-version=2019-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/35b4b933-3d8a-fffb-ca64-221ce2668400","name":"35b4b933-3d8a-fffb-ca64-221ce2668400","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/35b4b933-3d8a-fffb-ca64-221ce2668400?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","identity":{"type":"SystemAssigned","principalId":"e9573197-024a-46b2-a5ed-a2d39d5d7102","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"properties":{"provisioningState":"Succeeded","creationDate":"2020-07-03T08:41:39+00:00","endpoint":"https://mgmttest6zrmhvpavitc6jzv.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttest6zrmhvpavitc6jzv","name":"MgmtTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"15006107-0000-0100-0000-5efeef420000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","identity":{"type":"SystemAssigned","principalId":"e9573197-024a-46b2-a5ed-a2d39d5d7102","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"properties":{"provisioningState":"Succeeded","creationDate":"2020-07-03T08:41:39+00:00","endpoint":"https://mgmttest6zrmhvpavitc6jzv.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttest6zrmhvpavitc6jzv","name":"MgmtTest000002","location":"eastus","tags":{}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview&$skipToken=mgmttest6zrmhvpavitc6jzv"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/clitest.rglcktyhiiwdjneoj6jkmext4k2elgafmu47ettxklhmbdb6ut5u6tsz3q2yek3clg4/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview&$skipToken=mgmttest6zrmhvpavitc6jzv>;
        rel="next"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview&$skipToken=mgmttest6zrmhvpavitc6jzv
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "standard"}, "tags": {"Env": "Prod"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","identity":{"type":"SystemAssigned","principalId":"e9573197-024a-46b2-a5ed-a2d39d5d7102","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"properties":{"provisioningState":"Succeeded","creationDate":"2020-07-03T08:41:39+00:00","endpoint":"https://mgmttest6zrmhvpavitc6jzv.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttest6zrmhvpavitc6jzv","name":"MgmtTest000002","location":"eastus","tags":{"Env":"Prod"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"15009b07-0000-0100-0000-5efeef540000"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2019-09-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cmk-test-keyvault000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2523944'
      ocp-aad-diagnostics-server-name:
      - upK4QfzhVfAjGVKgWqNz5I7ylU3NHNRgTW2JdUClpGI=
      ocp-aad-session-key:
      - qbP4jqvljqjHgQJphFhqhsD2mDx1-C2laGd9qJQxT-aQvgp7vQRPktzkD6Rmpvy52BWBgyhjdzuwGvz1UVpWeB5GuipP4h-soyRvmlj3rjpKOTu_1uEGQJHA_dh1Ch_J.4dkvWCzVzOEH0VwOjnJXAFuQOqMYnHF-8YkNuPlaQOo
      x-aad-resource-unit:
      - '1'
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "enableSoftDelete": true, "softDeleteRetentionInDays": 90, "enablePurgeProtection":
      true, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow", "ipRules":
      [], "virtualNetworkRules": []}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003","name":"cmk-test-keyvault000003","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enablePurgeProtection":true,"vaultUri":"https://cmk-test-keyvault000003.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cmk-test-keyvault000003.vault.azure.net/keys/key/e0f15fb03fae4154a8b42e9bc2315c4c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"shEIopF5KrRKx126CE9xaSvLd1_E_VmxyzpbuSTTo2l_0ann0IFeZbyHTJ5NOLAQ-ZJ3Nrh1pT3rzwiZySsbzqFFwYaGJVocD5EK4eM6VMXiPx3uVgeTWJmCK6zWrlA2KIx5t2lQ8Uf2Bt3efuv0cy1ehYNF1LznZs_F-vSInB0Xsq132AlBv5RtAkxWeWTiFFgCgQon7KBVt0Mu7lAzwJn0jSjvjt-YkExTZG93lZ69VUP-StbebogOa3kGp1KuptJ-JXHWNsgOuWMZM5fvZRxxpmq7WuSfr7HBwRbOaLCTWAHJVkkrAPYvmit72i0UhTlkfGpi86xqDacwUcYtCw","e":"AQAB"},"attributes":{"enabled":true,"created":1593765763,"updated":1593765763,"recoveryLevel":"Recoverable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eas[...]
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", [...]
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyIdentifier":
      "https://cmk-test-keyvault000003.vault.azure.net/keys/key/"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","identity":{"type":"SystemAssigned","principalId":"e9573197-024a-46b2-a5ed-a2d39d5d7102","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"properties":{"provisioningState":"Succeeded","creationDate":"2020-07-03T08:41:39+00:00","endpoint":"https://mgmttest6zrmhvpavitc6jzv.azconfig.io","encryption":{"keyVaultProperties":{"keyIdentifier":"https://cmk-test-keyvault000003.vault.azure.net/keys/key/","identityClientId":null}},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttest6zrmhvpavitc6jzv","name":"MgmtTest000002","location":"eastus","tags":{"Env":"Prod"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"15001408-0000-0100-0000-5efeef8c0000"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
