interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      7, "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-03-03T17:50:13.9455628+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e645dd22-f37a-50bf-1de1-91de6a71f654?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e645dd22-f37a-50bf-1de1-91de6a71f654?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e645dd22-f37a-50bf-1de1-91de6a71f654","name":"e645dd22-f37a-50bf-1de1-91de6a71f654","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e645dd22-f37a-50bf-1de1-91de6a71f654?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-03-03T17:50:14+00:00","endpoint":"https://sourceolcxtae2xctuhd334y.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-03T17:50:14+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-03T17:50:15+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourceolcxtae2xctuhd334y","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7c00b0ad-0000-0100-0000-6220ffd60000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview&%24skiptoken=3ZjRjtowFET%2FJar6VBOSLUVFWlUuuGpaGlBChLRvjnMBw%2BJYtkNoV%2FvvtQPapp%2FgPEZRIh3N3LljvwQCrmbJxUkHs5dgS%2FLNnKSbDC%2BLPJgFB2OknoXhmQq6hzMIM6J%2FGgUjVp9D3ZSaKS4Nr4UOp9NqQsvxJzSFqkIfARgqGXxGk5hFUTmdlOXDNJSqvvAKlA5%2FcaZqXe%2FMCEs5r8WO7xtF3a9C1n%2FKTa1Af6GSo4v9zr5%2FjMdxhKIxGkdIKrhwaN%2B%2F0ycuN%2FUJxKMGdeEMkKF71LJGBx%2BCARHdgJxMvupzba6NAW20E9aKQ7DfLOgiwCDojOZ0IUW2WhNPZ%2BfQUN5CY2XJV8Xmu9MG5wn2lKaXBBqohcJF7qItwQ7MfyigTql0lVmlfHZdTyfxz3zDSG23hrRNbfR%2F3sWeus8FhAu72BrvtoU8JWktQydJy82hbox8tkRfM%2FyULLvo81Sf3iiVqus%2BOMULfJ8l%2F6EYZVanO06SLoawmxgXlsnvXfvW6FwwfMtwOieD8dxOOc%2F9wGucDqM3HKUr3j9XGRlOMJw6kbouNIzi0B1gxe28l2%2BTzRPJljhddIR%2B5viR%2F26QFi4q3Dwlqy6%2FXYvwk0fbMtRSwUXF6R3qVokePOXh6I7R60H%2BJt7xmQtq746QLUIu7%2FItWRC7l7rbLT8VekPSba8GFTkp8NpPIslvpkORVch5rchjf2nc3RalVfD6%2Bhc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - e3a1ea82-b803-4a2b-a68f-eff51b40cab0
      - 17806dd5-6dd7-4c77-b079-56154c1494ff
      - 17c9d613-63be-4a9b-96e6-9012a3594540
      - 265e2277-71a1-4139-bfaa-cb5a80a48cfe
      - 58e5551f-6e37-47b6-84f8-e08ba1efeedd
      - 8b93ee62-47a1-4c78-8123-17e9e8c82e42
      - 19d5d895-5f2a-41f8-b1a6-a79f4d808577
      - b7a54796-35b2-49da-b7ff-c3ac42b1d163
      - 4657db84-1901-4e50-8ca3-f3d894469db0
      - 43b07229-2ce8-49da-b4a6-a62e0cb7072f
      - a841205d-b007-47c9-8552-fb009129f7ad
      - bdb8e492-f677-460e-840a-99160240b4ad
      - c3351310-7ba8-4e02-8455-940fe7498244
      - 9fe47091-581b-4b98-812c-9ef9ed896592
      - e24ce7b8-59c5-45a4-84df-42e59612fd10
      - c37dee30-323c-4561-8187-9c83bd9abc83
      - 3ae175b8-29a3-4b33-b06e-ce82a9682bad
      - ccdae4d8-5559-4093-981e-719639722ebe
      - 7d093bc3-7162-4dcb-9530-936d972434ce
      - 0ebeb7e6-0df4-43a7-9db7-5f2e128cd837
      - 9fb092e2-2bdb-4d75-b007-4810b1ed141d
      - 45339e15-fe7a-41a6-ab54-457459cad66c
      - d7cbbdaa-9a8a-4370-bf6d-e9e0b8cf1b28
      - 6ba064d2-2cec-4784-a243-c0a725983897
      - d9e98154-ec72-4668-9070-c54ff4751cfb
      - a6316007-f752-4124-8157-5ed9c4aca55a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"IJe3-l0-s0:PoZPTADKAuPDqfE3iwg9","name":"Primary","value":"lrBwnw2ILUs10XpcY7TPJsvDFjI3OEUF682AD26LidU=","connectionString":"Endpoint=https://sourceolcxtae2xctuhd334y.azconfig.io;Id=IJe3-l0-s0:PoZPTADKAuPDqfE3iwg9;Secret=lrBwnw2ILUs10XpcY7TPJsvDFjI3OEUF682AD26LidU=","lastModified":"2022-03-03T17:50:13+00:00","readOnly":false},{"id":"OesQ-l0-s0:nbhuKslQIxZJNvPAXH6f","name":"Secondary","value":"UaohegIXMy1vg26flgcsUD78NZiIquA6TmeG2GtHMuo=","connectionString":"Endpoint=https://sourceolcxtae2xctuhd334y.azconfig.io;Id=OesQ-l0-s0:nbhuKslQIxZJNvPAXH6f;Secret=UaohegIXMy1vg26flgcsUD78NZiIquA6TmeG2GtHMuo=","lastModified":"2022-03-03T17:50:13+00:00","readOnly":false},{"id":"r+K2-l0-s0:G5D0mugK7hNsQLnPuHtn","name":"Primary
        Read Only","value":"VtUGXGtEIsQf9zO21l6ZvH5Jco2IlqDV8DZnf+o9oMw=","connectionString":"Endpoint=https://sourceolcxtae2xctuhd334y.azconfig.io;Id=r+K2-l0-s0:G5D0mugK7hNsQLnPuHtn;Secret=VtUGXGtEIsQf9zO21l6ZvH5Jco2IlqDV8DZnf+o9oMw=","lastModified":"2022-03-03T17:50:13+00:00","readOnly":true},{"id":"NbuB-l0-s0:TZRAedjEINJSO/crE4fS","name":"Secondary
        Read Only","value":"CWHyAOAiQywPd6AoPD7wKQyp64blzaUoo2kNIIuNe8w=","connectionString":"Endpoint=https://sourceolcxtae2xctuhd334y.azconfig.io;Id=NbuB-l0-s0:TZRAedjEINJSO/crE4fS;Secret=CWHyAOAiQywPd6AoPD7wKQyp64blzaUoo2kNIIuNe8w=","lastModified":"2022-03-03T17:50:13+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      7, "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2021-10-01-preview
  response:
 [...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"PWDj-l0-s0:J9s0mwY0AWX1cXjZjOOG","name":"Primary","value":"wdt+v/YBj46nCTUN03uUY1xiLi9+dmvr497Iz3ZZbAo=","connectionString":"Endpoint=https://destinationz[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:41 GMT
    method: GET
    uri: https://sourceolcxtae2xctuhd334y.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - opxXzk3c6Pv5xJQRGK2KYQWFiTofPo7eDjsA5Z7RZjU=
      x-ms-date:
      - Mar, 03 2022 17:50:42 GMT
    method: PUT
    uri: https://sourceolcxtae2xctuhd334y.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"VN4URdFceyiaaQBpXvNDf6Wn7vw","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VN4URdFceyiaaQBpXvNDf6Wn7vw"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:42 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzI2Nw==;sn=10747267
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:42 GMT
    method: GET
    uri: https://sourceolcxtae2xctuhd334y.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Jyo6toZCmzkwCknljrzQ7W0Lkn83wslohOIHO3C97Gk=
      x-ms-date:
      - Mar, 03 2022 17:50:43 GMT
    method: PUT
    uri: https://sourceolcxtae2xctuhd334y.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"6PcY8SzpLG3hVXS8kd5rOI5JzfW","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6PcY8SzpLG3hVXS8kd5rOI5JzfW"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:43 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzI2OQ==;sn=10747269
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:43 GMT
    method: GET
    uri: https://sourceolcxtae2xctuhd334y.azconfig.io/kv?label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"6PcY8SzpLG3hVXS8kd5rOI5JzfW","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:43+00:00"},{"etag":"Xtwo9qhYjNwRxtqSRJZPqqg2Dij","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:43+00:00"},{"etag":"VN4URdFceyiaaQBpXvNDf6Wn7vw","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:42+00:00"},{"etag":"fCkj2V6v0yOx1iO1qZGcRO35blO","key":"Color","label":"v2","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:43+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzI3MA==;sn=10747270
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc0NzI3MA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:43 GMT
    method: GET
    uri: https://sourceolcxtae2xctuhd334y.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"6PcY8SzpLG3hVXS8kd5rOI5JzfW","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:43+00:00"},{"etag":"Xtwo9qhYjNwRxtqSRJZPqqg2Dij","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:43+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzI3MA==;sn=10747270
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "DestLabel", "content_type": "", "value": "Red",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - 2RifyTNi+T6A5AH5TmDiNNKMte7N2PehYKcAxZJhJk4=
      x-ms-date:
      - Mar, 03 2022 17:50:43 GMT
    method: PUT
    uri: https://destinationzzpjpfjw3nlsh.azconfig.io/kv/Color?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"r5TsKGhlG7lxceIy5zJUc5WsKhS","key":"Color","label":"DestLabel","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"r5TsKGhlG7lxceIy5zJUc5WsKhS"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:44 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjYxNw==;sn=11532617
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "DestLabel", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjYxOA==
      x-ms-content-sha256:
      - HiEZa2QZS/oYhoFaYiYkHOXoZ5bAkTPdKLalp1k+FsQ=
      x-ms-date:
      - Mar, 03 2022 17:50:44 GMT
    method: PUT
    uri: https://destinationzzpjpfjw3nlsh.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"e4V6E7OeYtYXdgDrATxcrOuZcXF","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"e4V6E7OeYtYXdgDrATxcrOuZcXF"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:44 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjYxOQ==;sn=11532619
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:44 GMT
    method: GET
    uri: https://destinationzzpjpfjw3nlsh.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"tGlFgwCESBKBwzq1ogSLth5bP5j","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:45+00:00"},{"etag":"0k6g2Y5qCYIXFq1nIoOCHbXo60M","key":"Color","label":"DestLabel","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:44+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjYyMA==;sn=11532620
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"tGlFgwCESBKBwzq1ogSLth5bP5j"'
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjYyMA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:44 GMT
    method: DELETE
    uri: https://destinationzzpjpfjw3nlsh.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"tGlFgwCESBKBwzq1ogSLth5bP5j","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tGlFgwCESBKBwzq1ogSLth5bP5j"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:45 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjYyMQ==;sn=11532621
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - CRjkupMzN0VvyeEKjxhIlytZ//XfrJzOnrxlHwf36Y4=
      x-ms-date:
      - Mar, 03 2022 17:50:45 GMT
    method: PUT
    uri: https://destinationzzpjpfjw3nlsh.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"l61euIuFUHikrFCuLr3ewel61sd","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"l61euIuFUHikrFCuLr3ewel61sd"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:46 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjYyMw==;sn=11532623
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjYyNA==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Mar, 03 2022 17:50:45 GMT
    method: PUT
    uri: https://destinationzzpjpfjw3nlsh.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"fs0ySEtel1RaMFa4KaeVcd07eM8","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"fs0ySEtel1RaMFa4KaeVcd07eM8"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:46 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjYyNQ==;sn=11532625
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - U9u5Jwxj4fjm6nWf68K+R4h5BMr1MQY2a3z5sJm/IFs=
      x-ms-date:
      - Mar, 03 2022 17:50:46 GMT
    method: PUT
    uri: https://destinationzzpjpfjw3nlsh.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"HF6oHDZsBpUJOeZ9PnECwpVhO35","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HF6oHDZsBpUJOeZ9PnECwpVhO35"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:47 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjYyOQ==;sn=11532629
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjYzMA==
      x-ms-content-sha256:
      - Jyo6toZCmzkwCknljrzQ7W0Lkn83wslohOIHO3C97Gk=
      x-ms-date:
      - Mar, 03 2022 17:50:47 GMT
    method: PUT
    uri: https://destinationzzpjpfjw3nlsh.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"KpMT5dBzbT4y9SUJkpTO0jDimJv","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"KpMT5dBzbT4y9SUJkpTO0jDimJv"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:47 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjYzMQ==;sn=11532631
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:48 GMT
    method: GET
    uri: https://sourceolcxtae2xctuhd334y.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"6PcY8SzpLG3hVXS8kd5rOI5JzfW","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:43+00:00"},{"etag":"Xtwo9qhYjNwRxtqSRJZPqqg2Dij","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:43+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzI4Nw==;sn=10747287
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"PIiLfF4KiiuIRBd6iYM2NIo2NzD"'
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjY2MA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:53 GMT
    method: DELETE
    uri: https://destinationzzpjpfjw3nlsh.azconfig.io/kv/Color?label=v2&api-version=1.0
  response:
    body:
      string: '{"etag":"PIiLfF4KiiuIRBd6iYM2NIo2NzD","key":"Color","label":"v2","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:52+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PIiLfF4KiiuIRBd6iYM2NIo2NzD"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:52 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjY2MQ==;sn=11532661
    status:
      code: 200
      message: OK
version: 1
