interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-02-24T21:04:49.1863599+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e50a4bf8-131a-e39b-3026-7cd9c91b6222?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e50a4bf8-131a-e39b-3026-7cd9c91b6222?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e50a4bf8-131a-e39b-3026-7cd9c91b6222","name":"e50a4bf8-131a-e39b-3026-7cd9c91b6222","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e50a4bf8-131a-e39b-3026-7cd9c91b6222?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-02-24T21:04:49+00:00","endpoint":"https://source3c453sr3leetnzvjrz.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-02-24T21:04:49+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-24T21:04:50+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/source3c453sr3leetnzvjrz","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0a007ba4-0000-0100-0000-6217f2f10000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"cEFY-l0-s0:L3ZIDV+Cpvx23u0zdivj","name":"Primary","value":"/WujCZh8PLV/KHV+mm1IOtSOG4LeNBCPXr/0CyuOjHI=","connectionString":"Endpoint=https://source3c453sr3leetnzvjrz.azconfig.io;Id=cEFY-l0-s0:L3ZIDV+Cpvx23u0zdivj;Secret=/WujCZh8PLV/KHV+mm1IOtSOG4LeNBCPXr/0CyuOjHI=","lastModified":"2022-02-24T21:04:49+00:00","readOnly":false},{"id":"jTys-l0-s0:NgBHvDde6AdOnXykY8Et","name":"Secondary","value":"U6Z9AzXZY6QbNt1ZXxe+x3SqQ/WEtrLk6pxxiu0De48=","connectionString":"Endpoint=https://source3c453sr3leetnzvjrz.azconfig.io;Id=jTys-l0-s0:NgBHvDde6AdOnXykY8Et;Secret=U6Z9AzXZY6QbNt1ZXxe+x3SqQ/WEtrLk6pxxiu0De48=","lastModified":"2022-02-24T21:04:49+00:00","readOnly":false},{"id":"hSN/-l0-s0:m921RpNZ0ywD4IsyjVDO","name":"Primary
        Read Only","value":"6C05gB4LGG9R+TyKPBL36Pq/4mmpt8KCeiubAzY6fLk=","connectionString":"Endpoint=https://source3c453sr3leetnzvjrz.azconfig.io;Id=hSN/-l0-s0:m921RpNZ0ywD4IsyjVDO;Secret=6C05gB4LGG9R+TyKPBL36Pq/4mmpt8KCeiubAzY6fLk=","lastModified":"2022-02-24T21:04:49+00:00","readOnly":true},{"id":"N26A-l0-s0:KpI17oYBglU7SACye6b1","name":"Secondary
        Read Only","value":"qubFUOQYN/ykjRWbY0wmKtCZCwhm8wMbM6P+7aU5LOk=","connectionString":"Endpoint=https://source3c453sr3leetnzvjrz.azconfig.io;Id=N26A-l0-s0:KpI17oYBglU7SACye6b1;Secret=qubFUOQYN/ykjRWbY0wmKtCZCwhm8wMbM6P+7aU5LOk=","lastModified":"2022-02-24T21:04:49+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-02-24T21:05:07.9810527+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003","name":"Destination000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/3bdb4166-40e8-f9df-36dd-44aaced6aac3?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"oIrJ-l0-s0:H50sVE9zHjEBKEIVqmzR","name":"Primary","value":"NgHOrksxkgetDWdxgfMi9QfUyWFQjpyZJD9c4swMBPo=","connectionString":"Endpoint=https://destinationp[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:21 GMT
    method: GET
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Feb, 24 2022 21:05:21 GMT
    method: PUT
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"VslZbAPOfFtC4KBURySNxlHtAYj","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VslZbAPOfFtC4KBURySNxlHtAYj"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:22 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQxNg==;sn=11430416
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Feb, 24 2022 21:05:25 GMT
    method: PUT
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"0OwyvhpwJeiJroNOFUQXI4DYO9L","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0OwyvhpwJeiJroNOFUQXI4DYO9L"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:26 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQyNg==;sn=11430426
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Feb, 24 2022 21:05:26 GMT
    method: PUT
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"PDyBhbhue3q9A2OYNvFlNVWRwIZ","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PDyBhbhue3q9A2OYNvFlNVWRwIZ"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:26 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQyNw==;sn=11430427
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:28 GMT
    method: GET
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Feb, 24 2022 21:05:28 GMT
    method: PUT
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"tbSjToB6URXjnXQ5B6s5kcEm4Se","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tbSjToB6URXjnXQ5B6s5kcEm4Se"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:28 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQzMA==;sn=11430430
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:28 GMT
    method: GET
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:28 GMT
    method: GET
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"tbSjToB6URXjnXQ5B6s5kcEm4Se","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:28+00:00"},{"etag":"vgo3ELjN5jUXLVVtDLn9G1On0V5","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+js[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTQzMDQzMQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:29 GMT
    method: GET
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"tbSjToB6URXjnXQ5B6s5kcEm4Se","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQzMQ==;sn=11430431
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - 4d83mG8PIR/2pHo1eYUwL4DWxZPKi3DBipo7rkeA0Og=
      x-ms-date:
      - Feb, 24 2022 21:05:29 GMT
    method: PUT
    uri: https://destinationpek4js7ocbkzs.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: '{"etag":"6skRtRhr5cs19YcTIvw7DhARSe2","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6skRtRhr5cs19YcTIvw7DhARSe2"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:30 GMT
      sync-token:
      - zAJw6V16=OToxOSMyMDk5NTgy;sn=2099582
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=OToxOSMyMDk5NTgy
      x-ms-content-sha256:
      - ssERcN/l30qL3zGxsEuQXd8SMRck/hPK9o4FH0rGF6Q=
      x-ms-date:
      - Feb, 24 2022 21:05:29 GMT
    method: PUT
    uri: https://destinationpek4js7ocbkzs.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"8cRgF9I2eSmAmQBxLHnXK5LotyV","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8cRgF9I2eSmAmQBxLHnXK5LotyV"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:30 GMT
      sync-token:
      - zAJw6V16=OToxOSMyMDk5NTgz;sn=2099583
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=OToxOSMyMDk5NTk2
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Feb, 24 2022 21:05:30 GMT
    method: PUT
    uri: https://destinationpek4js7ocbkzs.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"GJ6yJNAkD9C3xNpI4L64cvElDwY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GJ6yJNAkD9C3xNpI4L64cvElDwY"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:31 GMT
      sync-token:
      - zAJw6V16=OToxOSMyMDk5NTk3;sn=2099597
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:31 GMT
    method: GET
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"tbSjToB6URXjnXQ5B6s5kcEm4Se","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQzMw==;sn=11430433
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:31 GMT
    method: GET
    uri: https://destinationpek4js7ocbkzs.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"GJ6yJNAkD9C3xNpI4L64cvElDwY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"i[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:31 GMT
    method: GET
    uri: https://destinationpek4js7ocbkzs.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"GJ6yJNAkD9C3xNpI4L64cvElDwY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:31+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OToxOSMyMDk5NTk3;sn=2099597
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:32 GMT
    method: GET
    uri: https://destinationpek4js7ocbkzs.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"GJ6yJNAkD9C3xNpI4L64cvElDwY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
- request:
    body: null
    headers:
      If-Match:
      - '"GJ6yJNAkD9C3xNpI4L64cvElDwY"'
      Sync-Token:
      - zAJw6V16=OToxOSMyMDk5NTk3
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:32 GMT
    method: DELETE
    uri: https://destinationpek4js7ocbkzs.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"GJ6yJNAkD9C3xNpI4L64cvElDwY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GJ6yJNAkD9C3xNpI4L64cvElDwY"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:31 GMT
      sync-token:
      - zAJw6V16=OToxOSMyMDk5NTk4;sn=2099598
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:05:37 GMT
    method: GET
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"tbSjToB6URXjnXQ5B6s5kcEm4Se","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
[...]
- request:
    body: '{"key": "Array", "content_type": "application/json", "value": "[\"StringBoolValue\",
      \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - Zi8aaIF8dKSMjbUqEeK3OxywatmQee6zWX+zKd2w3/I=
      x-ms-date:
      - Feb, 24 2022 21:05:41 GMT
    method: PUT
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/Array?api-version=1.0
  response:
    body:
      string: '{"etag":"60aYbZe1NDiMpvbDQP1ZaUzau1t","key":"Array","label":null,"content_type":"application/json","value":"[\"StringBoolValue\",
        \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"60aYbZe1NDiMpvbDQP1ZaUzau1t"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:42 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQ1MA==;sn=11430450
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyHybridList", "content_type": "application/json",
      "value": "[1000, true, \"AppConfig string value\", [\"NestedArray\", 12, false,
      null], {\"ObjectSetting\": {\"Logging\": {\"LogLevel\": \"Information\", \"Default\":
      \"Debug\"}}}]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTQzMDQ1MA==
      x-ms-content-sha256:
      - /VcnuUjWi67XSfj41owPM1TEqVKKosXnlVKtym7qLXE=
      x-ms-date:
      - Feb, 24 2022 21:05:41 GMT
    method: PUT
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/ComplexSettings%3AMyHybridList?api-version=1.0
  response:
    body:
      string: '{"etag":"qzsmWWuYJ8I0Ko9HrncRLIjUWti","key":"ComplexSettings:MyHybridList","label":null,"content_type":"application/json","value":"[1000,
        true, \"AppConfig string value\", [\"NestedArray\", 12, false, null], {\"ObjectSetting\":
        {\"Logging\": {\"LogLevel\": \"Information\", \"Default\": \"Debug\"}}}]","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qzsmWWuYJ8I0Ko9HrncRLIjUWti"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:42 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQ1MQ==;sn=11430451
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyListOfHybridLists", "content_type": "application/json",
      "value": "[[\"NestedArray4\", 34], [\"NestedArray5\", true, null], [\"NestedArray6\",
      {\"MyNullValue\": null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\":
      \"Value1\", \"Name2\": \"Value2\"}}}}]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTQzMDQ1MQ==
      x-ms-content-sha256:
      - waQP+q+A[...]
- request:
    body: '{"key": "ComplexSettings:MyListOfStringLists", "content_type": "application/json",
      "value": "[[\"NestedArray1\", \"12\", \"false\", \"null\"], [\"NestedArray2\",
      \"text\"], [\"NestedArray3\"]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTQzMDQ1Mg==
      x-ms-content-sha256:
      - cvmvrPaYLaFjYcuyGuomGCj5ekm4uDDkc2emv4H1fLo=
      x-ms-date:
      - Feb, 24 2022 21:05:41 GMT
    method: PUT
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/ComplexSettings%3AMyListOfStringLists?api-version=1.0
  response:
    body:
      string: '{"etag":"I6tOeJpt1nFb2zopsPz2PnxpmJP","key":"ComplexSettings:MyListOfStringLists","label":null,"content_type":"application/json","value":"[[\"NestedArray1\",
        \"12\", \"false\", \"null\"], [\"NestedArray2\", \"text\"], [\"NestedArray3\"]]","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"I6tOeJpt1nFb2zopsPz2PnxpmJP"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:42 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQ1Mw==;sn=11430453
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyNestedObjects:Object1", "content_type": "application/json",
      "value": "\"Value1\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTQzMDQ1Mw==
      x-ms-content-sha256:
      - MoNhzL0EuCe5z7az7o9146/s6kSVeyRONCLKrtAl+q0=
      x-ms-date:
      - Feb, 24 2022 21:05:41 GMT
    method: PUT
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/ComplexSettings%3AMyNestedObjects%3AObject1?api-version=1.0
  response:
    body:
      string: '{"etag":"ooxS7ZCfhlvsi3GfIZI8tlobN9i","key":"ComplexSettings:MyNestedObjects:Object1","label":null,"content_type":"application/json","value":"\"Value1\"","tags":{},"locked":false,"last_modified":"2022-02-24T21:05:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ooxS7ZCfhlvsi3GfIZI8tlobN9i"'
      last-modified:
      - Thu, 24 Feb 2022 21:05:42 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQ1NA==;sn=11430454
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyNestedObjects:Object2:Property:Name:Name1",
      "content_type": "application/json", "value": "\"Value1\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTQzMDQ1NA==
      x-ms-content-sha256:
      - a1SRjYtbaknd/1XJ78xxFENI+4vBJAiODLFUBIMdDvQ=
      x-ms-date:
      - Feb, 24 2022 21:05:42 GMT
    method: PUT
    uri: https://source3c453sr3leetnzvjrz.azconfig.io/kv/ComplexSettings%3AMyNestedObjects%3AObject2%3AProperty%3AName%3AName1?api-version=1.0
  response:
    body:
[...]
