interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-10-30T20:53:24.2894216+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null,"dataPlaneProxy":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003","name":"KVTest000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/JElRNRJEI8OCI9Zvb8EgIPkMtveg2ngOPcQq8PW8BDE?api-version=2024-05-01&t=638659184043903948&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/JElRNRJEI8OCI9Zvb8EgIPkMtveg2ngOPcQq8PW8BDE?api-version=2024-05-01&t=638659184043903948&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-10-30T20:53:24+00:00","endpoint":"https://kvtestxv6gdwrqzryufpzgtj.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false,"dataPlaneProxy":{"authenticationMode":"Local","privateLinkDelegation":"Disabled"}},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2024-10-30T20:53:24+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-30T20:53:24+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestxv6gdwrqzryufpzgtj","name":"KVTest000003","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b800ea54-0000-0100-0000-67229cc50000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"value": "testValue", "id": "https://clitest000002.vault.azure.net/secrets/testSecret/ad1db250f6c447e88e935073ae2636cc",
        "attributes": {"enabled": true, "created": 1730321637, "updated": 1730321637,
        "recoveryLevel": "CustomizedRecoverable+Purgeable", "recoverableDays": 7},
        "tags": {"file-encoding": "utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrvTuNGFMXfJVr105hAWIqKtKpmwdt1gYTaidLl28QZUofEdmdsAln13Xvv2B4c4AXOR0BBPjn3v38/B7l%2Brm6y/NEOLn4O5mEyvQzH01jezJLBxeCfqirtxXC4Vbla6a3OqyO1r40%2BSovt0NYLm5qsrLIit8Pz8%2BWZWhz/Gpzr5TL4rHUaLFL9W3A2Sk9OFudni8Xp%2BbA0xVO21MYOb7PUFLZ4qI5kWV4W%2BUO2qo3ifzVM%2Bz8lVWG0/V2VW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 387f58a1-8aeb-44f5-932d-ec7480eed9a8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvtestxv6gdwrqzryufpzgtj.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-10-30T20:53:24+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvtestxv6gdwrqzryufpzgtj.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-10-30T20:53:24+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvtestxv6gdwrqzryufpzgtj.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-10-30T20:53:24+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvtestxv6gdwrqzryufpzgtj.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-10-30T20:53:24+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:54:02.011422 GMT
    method: GET
    uri: https://kvtestxv6gdwrqzryufpzgtj.azconfig.io/kv/testSecret?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODI5OQ==;sn=73868299
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://clitest000002.vault.azure.net/secrets/testSecret/ad1db250f6c447e88e935073ae2636cc\"}"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3Mzg2ODI5OQ==
      x-ms-content-sha256:
      - 9a0BidoBYlSkZBX8pXkTSZwWM7XUk8stuZTeavQi4Q4=
      x-ms-date:
      - Oct, 30 2024 20:54:02.321943 GMT
    method: PUT
    uri: https://kvtestxv6gdwrqzryufpzgtj.azconfig.io/kv/testSecret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"XNR7Ytw1wvWUGTm52Vb4muofnpYvBfWE6S0mmd0NB8Y","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://clitestboryh5pnr5jirhpy3.vault.azure.net/secrets/testSecret/ad1db250f6c447e88e935073ae2636cc\"}","tags":{},"locked":false,"last_modified":"2024-10-30T20:54:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XNR7Ytw1wvWUGTm52Vb4muofnpYvBfWE6S0mmd0NB8Y"'
      last-modified:
      - Wed, 30 Oct 2024 20:54:02 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODMwMQ==;sn=73868301
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrvTuNGFMXfJVr105hAWIqKtKpmwdt1gYTaidLl28QZUofEdmdsAln13Xvv2B4c4AXOR0BBPjn3v38/B7l%2Brm6y/NEOLn4O5mEyvQzH01jezJLBxeCfqirtxXC4Vbla6a3OqyO1r40%2BSovt0NYLm5qsrLIit8Pz8%2BWZWhz/Gpzr5TL4rHUaLFL9W3A2Sk9OFudni8Xp%2BbA0xVO21MYOb7PUFLZ4qI5kWV4W%2BUO2qo3ifzVM%2Bz8lVWG0/V2VW[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:54:06.981288 GMT
    method: GET
    uri: https://kvtestxv6gdwrqzryufpzgtj.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"DJc6IckTlXSYqDh9mUVtOhyEq-yV0YsPCx0S4vJxIus","items":[{"etag":"XNR7Ytw1wvWUGTm52Vb4muofnpYvBfWE6S0mmd0NB8Y","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://clitestboryh5pnr5jirhpy3.vault.azure.net/secrets/testSecret/ad1db250f6c447e88e935073ae2636cc\"}","tags":{},"locked":false,"last_modified":"2024-10-30T20:54:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"DJc6IckTlXSYqDh9mUVtOhyEq-yV0YsPCx0S4vJxIus"'
      sync-token:
      - zAJw6V16=NDoxOSM3Mzg2ODMwNQ==;sn=73868305
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000002.vault.azure.net/secrets/testSecret/ad1db250f6c447e88e935073ae2636cc?api-version=7.4
  response:
    body:
      string: '{"value": "testValue", "id": "https://clitest000002.vault.azure.net/secrets/testSecret/ad1db250f6c447e88e935073ae2636cc",
        "attributes": {"enabled": true, "created": 1730321637, "updated": 1730321637,
        "recoveryLevel": "CustomizedRecoverable+Purgeable", "recoverableDays": 7},
        "tags": {"file-encoding": "utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
