interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-01-20T10:57:53.0656863+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/dcb784ee-2172-8cb9-8dfd-5c0331658cca?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/dcb784ee-2172-8cb9-8dfd-5c0331658cca?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/dcb784ee-2172-8cb9-8dfd-5c0331658cca","name":"dcb784ee-2172-8cb9-8dfd-5c0331658cca","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/dcb784ee-2172-8cb9-8dfd-5c0331658cca?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-01-20T10:57:53+00:00","endpoint":"https://sourcebmpughodzgc3p7ogfq.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-01-20T10:57:53+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-01-20T10:57:54+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcebmpughodzgc3p7ogfq","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1c008313-0000-0100-0000-61e940310000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"VBKV-l0-s0:jJR7KwpU0iAwX6W3x06n","name":"Primary","value":"Bx64siwsd2UO2M/1Oc4TLWoS+VHMFbtixDFhU10us10=","connectionString":"Endpoint=https://sourcebmpughodzgc3p7ogfq.azconfig.io;Id=VBKV-l0-s0:jJR7KwpU0iAwX6W3x06n;Secret=Bx64siwsd2UO2M/1Oc4TLWoS+VHMFbtixDFhU10us10=","lastModified":"2022-01-20T10:57:53+00:00","readOnly":false},{"id":"CUMA-l0-s0:rINhmphdAj9u3ofvykmG","name":"Secondary","value":"EYlBewQ8Mgzw+minYxiXsg6vE/tNZStjT5scRbF6Voo=","connectionString":"Endpoint=https://sourcebmpughodzgc3p7ogfq.azconfig.io;Id=CUMA-l0-s0:rINhmphdAj9u3ofvykmG;Secret=EYlBewQ8Mgzw+minYxiXsg6vE/tNZStjT5scRbF6Voo=","lastModified":"2022-01-20T10:57:53+00:00","readOnly":false},{"id":"IX3f-l0-s0:if7rW9YOsOgkQiIWmQob","name":"Primary
        Read Only","value":"ZCO66XcJFOqw7lM8OllA0J788Cocrfy7T+G29ynMzog=","connectionString":"Endpoint=https://sourcebmpughodzgc3p7ogfq.azconfig.io;Id=IX3f-l0-s0:if7rW9YOsOgkQiIWmQob;Secret=ZCO66XcJFOqw7lM8OllA0J788Cocrfy7T+G29ynMzog=","lastModified":"2022-01-20T10:57:53+00:00","readOnly":true},{"id":"3t9m-l0-s0:DNjqbclOzXdb0KS9NTQF","name":"Secondary
        Read Only","value":"42hYQRX5Y3dve2p+5jah+qZcH13p3iBLlrL/LWTyVUY=","connectionString":"Endpoint=https://sourcebmpughodzgc3p7ogfq.azconfig.io;Id=3t9m-l0-s0:DNjqbclOzXdb0KS9NTQF;Secret=42hYQRX5Y3dve2p+5jah+qZcH13p3iBLlrL/LWTyVUY=","lastModified":"2022-01-20T10:57:53+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-01-20T10:58:06.6154029+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003","name":"Destination000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/81813ab1-3007-b012-66dc-3101bf9b85bf?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"Cas5-l0-s0:RxF3Ngm6rGdFUCkwg0v2","name":"Primary","value":"F/g+FFpNN5HWV99Acvzqe1qm35sp+4e9PxPNkd2bnVE=","connectionString":"Endpoint=https://destinationg[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:19 GMT
    method: GET
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Jan, 20 2022 10:58:19 GMT
    method: PUT
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"t1kHl7y7c8l4exkKuBTfpNMHfZD","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:20+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"t1kHl7y7c8l4exkKuBTfpNMHfZD"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:20 GMT
      sync-token:
      - zAJw6V16=ODoxOSMyMTc3MTY2;sn=2177166
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Jan, 20 2022 10:58:23 GMT
    method: PUT
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"EiQh7fApM22DAeQtp8Yj2gcuqaS","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"EiQh7fApM22DAeQtp8Yj2gcuqaS"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:24 GMT
      sync-token:
      - zAJw6V16=ODoxOSMyMTc3MTc2;sn=2177176
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Jan, 20 2022 10:58:23 GMT
    method: PUT
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"kp3E0jMXpFhfPHpv1gC5juLF9GN","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kp3E0jMXpFhfPHpv1gC5juLF9GN"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:24 GMT
      sync-token:
      - zAJw6V16=ODoxOSMyMTc3MTc3;sn=2177177
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:25 GMT
    method: GET
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Jan, 20 2022 10:58:26 GMT
    method: PUT
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"UslwX9T0yjW8Kp4Maan7fknXJ2n","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"UslwX9T0yjW8Kp4Maan7fknXJ2n"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:26 GMT
      sync-token:
      - zAJw6V16=ODoxOSMyMTc3MTgw;sn=2177180
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:26 GMT
    method: GET
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:26 GMT
    method: GET
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"UslwX9T0yjW8Kp4Maan7fknXJ2n","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:26+00:00"},{"etag":"VsOGxzX8agZpYNzOKZvcbcDP3Eb","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+js[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODoxOSMyMTc3MTgx
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:26 GMT
    method: GET
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"UslwX9T0yjW8Kp4Maan7fknXJ2n","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:26+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxOSMyMTc3MTgx;sn=2177181
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - 4d83mG8PIR/2pHo1eYUwL4DWxZPKi3DBipo7rkeA0Og=
      x-ms-date:
      - Jan, 20 2022 10:58:27 GMT
    method: PUT
    uri: https://destinationgzqdebtyrj44e.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: '{"etag":"MUz3Re9ZJBhNtzJmu9uJ4WFQpE5","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"MUz3Re9ZJBhNtzJmu9uJ4WFQpE5"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:27 GMT
      sync-token:
      - zAJw6V16=NToxOSM5NTExNzU2;sn=9511756
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM5NTExNzU2
      x-ms-content-sha256:
      - ssERcN/l30qL3zGxsEuQXd8SMRck/hPK9o4FH0rGF6Q=
      x-ms-date:
      - Jan, 20 2022 10:58:27 GMT
    method: PUT
    uri: https://destinationgzqdebtyrj44e.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"3a9mdNxOPVNAxvRTMafH4kuf3iu","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3a9mdNxOPVNAxvRTMafH4kuf3iu"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:27 GMT
      sync-token:
      - zAJw6V16=NToxOSM5NTExNzU3;sn=9511757
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM5NTExNzcw
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Jan, 20 2022 10:58:28 GMT
    method: PUT
    uri: https://destinationgzqdebtyrj44e.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"ZyYwns8hRyHp1cXavsFKH06EqOA","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZyYwns8hRyHp1cXavsFKH06EqOA"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:29 GMT
      sync-token:
      - zAJw6V16=NToxOSM5NTExNzcx;sn=9511771
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:29 GMT
    method: GET
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"UslwX9T0yjW8Kp4Maan7fknXJ2n","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:26+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxOSMyMTc3MTgy;sn=2177182
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:29 GMT
    method: GET
    uri: https://destinationgzqdebtyrj44e.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"ZyYwns8hRyHp1cXavsFKH06EqOA","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"i[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:29 GMT
    method: GET
    uri: https://destinationgzqdebtyrj44e.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"ZyYwns8hRyHp1cXavsFKH06EqOA","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:29+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM5NTExNzcx;sn=9511771
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:30 GMT
    method: GET
    uri: https://destinationgzqdebtyrj44e.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"ZyYwns8hRyHp1cXavsFKH06EqOA","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
- request:
    body: null
    headers:
      If-Match:
      - '"ZyYwns8hRyHp1cXavsFKH06EqOA"'
      Sync-Token:
      - zAJw6V16=NToxOSM5NTExNzcx
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:30 GMT
    method: DELETE
    uri: https://destinationgzqdebtyrj44e.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"ZyYwns8hRyHp1cXavsFKH06EqOA","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZyYwns8hRyHp1cXavsFKH06EqOA"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:29 GMT
      sync-token:
      - zAJw6V16=NToxOSM5NTExNzcy;sn=9511772
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:58:35 GMT
    method: GET
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"UslwX9T0yjW8Kp4Maan7fknXJ2n","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
[...]
- request:
    body: '{"key": "Array", "content_type": "application/json", "value": "[\"StringBoolValue\",
      \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - Zi8aaIF8dKSMjbUqEeK3OxywatmQee6zWX+zKd2w3/I=
      x-ms-date:
      - Jan, 20 2022 10:58:39 GMT
    method: PUT
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/Array?api-version=1.0
  response:
    body:
      string: '{"etag":"2UJJm2li4akqqBoWoYdVlC0Gd0C","key":"Array","label":null,"content_type":"application/json","value":"[\"StringBoolValue\",
        \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2UJJm2li4akqqBoWoYdVlC0Gd0C"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:39 GMT
      sync-token:
      - zAJw6V16=ODoxOSMyMTc3MjAy;sn=2177202
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyHybridList", "content_type": "application/json",
      "value": "[1000, true, \"AppConfig string value\", [\"NestedArray\", 12, false,
      null], {\"ObjectSetting\": {\"Logging\": {\"LogLevel\": \"Information\", \"Default\":
      \"Debug\"}}}]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMyMTc3MjAy
      x-ms-content-sha256:
      - /VcnuUjWi67XSfj41owPM1TEqVKKosXnlVKtym7qLXE=
      x-ms-date:
      - Jan, 20 2022 10:58:39 GMT
    method: PUT
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/ComplexSettings%3AMyHybridList?api-version=1.0
  response:
    body:
      string: '{"etag":"EfUQ845g63ay7NdoCGInwjHWOOX","key":"ComplexSettings:MyHybridList","label":null,"content_type":"application/json","value":"[1000,
        true, \"AppConfig string value\", [\"NestedArray\", 12, false, null], {\"ObjectSetting\":
        {\"Logging\": {\"LogLevel\": \"Information\", \"Default\": \"Debug\"}}}]","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"EfUQ845g63ay7NdoCGInwjHWOOX"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:40 GMT
      sync-token:
      - zAJw6V16=ODoxOSMyMTc3MjAz;sn=2177203
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyListOfHybridLists", "content_type": "application/json",
      "value": "[[\"NestedArray4\", 34], [\"NestedArray5\", true, null], [\"NestedArray6\",
      {\"MyNullValue\": null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\":
      \"Value1\", \"Name2\": \"Value2\"}}}}]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMyMTc3MjAz
      x-ms-content-sha256:
      - waQP+q+AwyPi/xF1iyJ1blSf1MV6qg+7yBm1kO8sEAY=
      x-ms-date:
      - Jan, 20 2022 10:58:39 GMT
    method: PUT
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/ComplexSettings%3AMyListOfHybridLists?api-version=1.0
  response:
    body:
      string: '{"etag":"yspfZmZejkoERhdFdJmrDs83sRa","key":"ComplexSettings:MyListOfHybridLists","label":null,"content_type":"application/json","value":"[[\"NestedArray4\",
        34], [\"NestedArray5\", true, null], [\"NestedArray6\", {\"MyNullValue\":
        null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\": \"Value1\", \"Name2\":
        \"Value2\"}}}}]]","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yspfZmZejkoERhdFdJmrDs83sRa"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:40 GMT
      sync-token:
      - zAJw6V16=ODoxOSMyMTc3MjA0;sn=2177204
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyListOfStringLists", "content_type": "application/json",
      "value": "[[\"NestedArray1\", \"12\", \"false\", \"null\"], [\"NestedArray2\",
      \"text\"], [\"NestedArray3\"]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMyMTc3MjA0
      x-ms-content-sha256:
      - cvmvrPaYLaFjYcuyGuomGCj5ekm4uDDkc2emv4H1fLo=
      x-ms-date:
      - Jan, 20 2022 10:58:39 GMT
    method: PUT
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/ComplexSettings%3AMyListOfStringLists?api-version=1.0
  response:
    body:
      string: '{"etag":"Gs4fxZ2uktkCOTGtME74liPfKZ6","key":"ComplexSettings:MyListOfStringLists","label":null,"content_type":"application/json","value":"[[\"NestedArray1\",
        \"12\", \"false\", \"null\"], [\"NestedArray2\", \"text\"], [\"NestedArray3\"]]","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Gs4fxZ2uktkCOTGtME74liPfKZ6"'
      last-modified:
      - Thu, 20 Jan 2022 10:58:40 GMT
      sync-token:
      - zAJw6V16=ODoxOSMyMTc3MjA1;sn=2177205
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyNestedObjects:Object1", "content_type": "application/json",
      "value": "\"Value1\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=ODoxOSMyMTc3MjA1
      x-ms-content-sha256:
      - MoNhzL0EuCe5z7az7o9146/s6kSVeyRONCLKrtAl+q0=
      x-ms-date:
      - Jan, 20 2022 10:58:39 GMT
    method: PUT
    uri: https://sourcebmpughodzgc3p7ogfq.azconfig.io/kv/ComplexSettings%3AMyNestedObjects%3AObject1?api-version=1.0
  response:
    body:
      string: '{"etag":"PECgkm7M3sm7JhnpaFoqFOGxeMe","key":"ComplexSettings:MyNestedObjects:Object1","label":null,"content_type":"application/json","value":"\"Value1\"","tags":{},"locked":false,"last_modified":"2022-01-20T10:58:40+00:00"}'
    headers:
      content-type:
[...]
