interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-06-28T08:26:14.1727852+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002","name":"AadTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/EhDHOXvp6y6sW0clyxAIIxtzq89GaJaEZ_zPtKlFNJM?api-version=2023-03-01&t=638551599745911144&c=MIIHpTCCBo2gAwIBAgITfwM-Mkai-8TbtKDZogAEAz4yRjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE2MjIzNTI2WhcNMjUwNTExMjIzNTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/EhDHOXvp6y6sW0clyxAIIxtzq89GaJaEZ_zPtKlFNJM?api-version=2023-03-01&t=638551599745911144&c=MIIHpTCCBo2gAwIBAgITfwM-Mkai-8TbtKDZogAEAz4yRjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE2MjIzNTI2WhcNMjUwNTExMjI[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-06-28T08:26:15+00:00","endpoint":"https://aadtest3pa5ad5o.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"cwanjau@microsoft.com","createdByType":"User","createdAt":"2024-06-28T08:26:15+00:00","lastModifiedBy":"cwanjau@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-06-28T08:26:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtest3pa5ad5o","name":"AadTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0500dc23-0000-0100-0000-667e73a90000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest","name":"garywangtest","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},"privateLinkServiceConnectionState":{"status":"Pending","description":"ms","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-28T11:10:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Zlbb9s2GIb/izHsiowTe5mxAMXAOepq1IdMsuC1d7RMe/JB0kgpTlLsv%2B8jJTFykj/wAr1JgwR%2B8p35/Ohl6qmcptnB9O5%2B9FZBtBwH82UopnHUu%2Bv9U5aFuev3TzKTO3VSWXklXyqtrpL81DfV2iQ6Lco0z0x/NNrcyvX1r3ykNhv%2Bi1IJXyfqN347SG5u1qPb9Xo46hc6f0w3Spv%2BLE10bvJteSWKYpxn23RXaWl/VT/pfhWVuVbmd1mk/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3Y/bSsQwEIbfJYhXm6btWsMWFininb2x6wPkMBtDyYFJWlcX391Yb3wGYWCY/%2Bcb%2BK7EwyU/Wz8n0l/J0zCdXifSk7ecY%2BoZc8ILAw58rsTnglCp4FhaZFJoY7bBJ8a57oSs7ykHrekdgKJSwYF2rWoayTsp95xFDKvVgImNVmFI4ZyrIcbH4M/WLCh%2BXjH195pyQEgPIlq6Fq70x7Zu97Qu09zepNnGU5jBHz%2BWd6DWxYCZwmVbIkaaAFergHztiEA3GINgRAa9QcVweBnJbrMfBc6AJfq17/%2BR%2Bzc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 61092cac-542a-44a9-a178-fd658c08dd19
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"yR+W","name":"Primary","value":"CnSvKfacQOHwyKSwOjKHFCAJy8pAgRluyrhvjyppvRONtFyyK1K2JQQJ99AFACYeBjFAArohAAACAZACbViK","connectionString":"Endpoint=https://aadtest3pa5ad5o.azconfig.io;Id=yR+W;Secret=CnSvKfacQOHwyKSwOjKHFCAJy8pAgRluyrhvjyppvRONtFyyK1K2JQQJ99AFACYeBjFAArohAAACAZACbViK","lastModified":"2024-06-28T08:26:14+00:00","readOnly":false},{"id":"BJUh","name":"Secondary","value":"3Tgy3xQdV0z7UrvuzYuA3cgcVJ1UJmjx4L64W1a0hGgZIjLFu9XYJQQJ99AFACYeBjFAArohAAACAZACVxN3","connectionString":"Endpoint=https://aadtest3pa5ad5o.azconfig.io;Id=BJUh;Secret=3Tgy3xQdV0z7UrvuzYuA3cgcVJ1UJmjx4L64W1a0hGgZIjLFu9XYJQQJ99AFACYeBjFAArohAAACAZACVxN3","lastModified":"2024-06-28T08:26:14+00:00","readOnly":false},{"id":"a2PZ","name":"Primary
        Read Only","value":"B7egmmvYoODrsiDreppFEGg7FiE1C4Tr2XOqOqLMdht261SIBgJ5JQQJ99AFACYeBjFAArohAAABAZACZkG3","connectionString":"Endpoint=https://aadtest3pa5ad5o.azconfig.io;Id=a2PZ;Secret=B7egmmvYoODrsiDreppFEGg7FiE1C4Tr2XOqOqLMdht261SIBgJ5JQQJ99AFACYeBjFAArohAAABAZACZkG3","lastModified":"2024-06-28T08:26:14+00:00","readOnly":true},{"id":"tZ3K","name":"Secondary
        Read Only","value":"9A1e9ueDBn8Vdnjb5y5JJRKXwkOuV45V3DlFclD9jcUzipA9RMK1JQQJ99AFACYeBjFAArohAAABAZACM1jP","connectionString":"Endpoint=https://aadtest3pa5ad5o.azconfig.io;Id=tZ3K;Secret=9A1e9ueDBn8Vdnjb5y5JJRKXwkOuV45V3DlFclD9jcUzipA9RMK1JQQJ99AFACYeBjFAArohAAABAZACM1jP","lastModified":"2024-06-28T08:26:14+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:27:04 GMT
    method: GET
    uri: https://aadtest3pa5ad5o.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDA5Mg==;sn=17370092
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzM3MDA5Mg==
      x-ms-content-sha256:
      - nt5aMZQ20VbmQ/d+gpP3HsGr+Z1pPF2YO5YAw0yHcuE=
      x-ms-date:
      - Jun, 28 2024 08:27:06 GMT
    method: PUT
    uri: https://aadtest3pa5ad5o.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"7KPj-WJkDn_K3KbFRXGrvV6t3TSRkyBm2cT8GpiGbnM","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-06-28T08:27:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7KPj-WJkDn_K3KbFRXGrvV6t3TSRkyBm2cT8GpiGbnM"'
      last-modified:
      - Fri, 28 Jun 2024 08:27:06 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDA5Mw==;sn=17370093
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:27:06 GMT
    method: GET
    uri: https://aadtest3pa5ad5o.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDA5Mw==;sn=17370093
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzM3MDA5Mw==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Jun, 28 2024 08:27:07 GMT
    method: PUT
    uri: https://aadtest3pa5ad5o.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"yzoqLzZDQteNG64_4iphHvv5_DjlQIok7QYIahXPZxU","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:27:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yzoqLzZDQteNG64_4iphHvv5_DjlQIok7QYIahXPZxU"'
      last-modified:
      - Fri, 28 Jun 2024 08:27:07 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDA5NA==;sn=17370094
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users?$filter=userPrincipalName%20eq%20%27cwanjau%40microsoft.com%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users","value":[{"businessPhones":[],"displayName":"Christine
        WANJAU","givenName":"Christine","jobTitle":"SOFTWARE ENGINEER","mail":"cwanjau@microsoft.com","mobilePhone":null,"officeLocation":"NAIROBI-WAIYAKI
        WAY/Mobile","preferredLanguage":null,"surname":"WANJAU","userPrincipalName":"cwanjau@microsoft.com","id":"43ddb22f-baef-4d3f-9e56-3a89871b9b59"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South Africa North","Slice":"E","Ring":"2","ScaleUnit":"000","RoleInstance":"JN1PEPF0000285F"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtest3pa5ad5o/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Reader%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"App Configuration Data Reader","type":"BuiltInRole","description":"Allows
        read access to App Configuration data.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.AppConfiguration/configurationStores/*/read"],"notDataActions":[]}],"createdOn":"2019-10-25T18:45:33.7975332Z","updatedOn":"2021-11-11T20:14:11.5885341Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","type":"Microsoft.Authorization/roleDefinitions","name":"516239f1-63e1-4d78-a4de-a74fb236a071"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071",
      "principalId": "43ddb22f-baef-4d3f-9e56-3a89871b9b59", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtest3pa5ad5o/providers/Microsoft.Authorization/roleAssignments/c654472d-427e-4232-8365-2e5306bea594?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","principalId":"43ddb22f-baef-4d3f-9e56-3a89871b9b59","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtest3pa5ad5o","condition":null,"conditionVersion":null,"createdOn":"2024-06-28T08:27:18.1490108Z","updatedOn":"2024-06-28T08:27:18.5240160Z","createdBy":null,"updatedBy":"43ddb22f-baef-4d3f-9e56-3a89871b9b59","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtest3pa5ad5o/providers/Microsoft.Authorization/roleAssignments/c654472d-427e-4232-8365-2e5306bea594","type":"Microsoft.Authorization/roleAssignments","name":"c654472d-427e-4232-8365-2e5306bea594"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Zndbts2GIbvxRh2RMWJvcxYgGLgHHUV6tiZZMNrz2iZ9uQfSiOlOHGxe99HSmLkJDfwAj1pixR6%2BvL7IZ8fPSWfy0mm9qZ396O3DJP5OJzOYz5ZJL273j9lWZi7fv8olNjKo1TllThXWl6l%2BbFvqpVJdVaUWa5MfzRa34rV9a/BSK7XwS9SpsEqlb8Ft4P05mY1ul2thqN%2BofOnbC216T9kqc5NvimveFGMc7XJtpUW9p/qp93fJWWupfldFFnwRD9[...]
[...]
- request:
    body: '{"key": "Color", "content_type": "", "value": "Blue", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"7KPj-WJkDn_K3KbFRXGrvV6t3TSRkyBm2cT8GpiGbnM"'
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzM3MDE5MA==
    method: PUT
    uri: https://aadtest3pa5ad5o.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtest3pa5ad5o.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"yzoqLzZDQteNG64_4iphHvv5_DjlQIok7QYIahXPZxU","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:27:07+00:00"},{"etag":"7KPj-WJkDn_K3KbFRXGrvV6t3TSRkyBm2cT8GpiGbnM","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-06-28T08:27:06+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDE5MA==;sn=17370190
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtest3pa5ad5o.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"yzoqLzZDQteNG64_4iphHvv5_DjlQIok7QYIahXPZxU","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:27:07+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDE5MA==;sn=17370190
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtest3pa5ad5o/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Owner%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"App Configuration Data Owner","type":"BuiltInRole","description":"Allows
        full access to App Configuration data.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.AppConfiguration/configurationStores/*/read","Microsoft.AppConfiguration/configurationStores/*/write","Microsoft.AppConfiguration/configurationStores/*/delete","Microsoft.AppConfiguration/configurationStores/*/action"],"notDataActions":[]}],"createdOn":"2019-10-25T18:41:40.1185063Z","updatedOn":"2023-02-06T16:01:22.3871138Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b","type":"Microsoft.Authorization/roleDefinitions","name":"5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtest3pa5ad5o.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDI3Nw==;sn=17370277
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtest3pa5ad5o.azconfig.io/kv?key=%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"yzoqLzZDQteNG64_4iphHvv5_DjlQIok7QYIahXPZxU","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:27:07+00:00"},{"etag":"xKX0eeeRmi0lGWyRs8kidizxXLzOFUrL1ru8bHWvgt4","key":"Color","label":null,"content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2024-06-28T08:57:50+00:00"},{"etag":"U86cLJ0QJ-8Drc-FmC4-SyAgKBA3WU4UiiioJE0mv_Y","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2024-06-28T08:57:52+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDI3OA==;sn=17370278
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzM3MDI3OA==
    method: GET
    uri: https://aadtest3pa5ad5o.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"yzoqLzZDQteNG64_4iphHvv5_DjlQIok7QYIahXPZxU","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:27:07+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDI3OA==;sn=17370278
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzM3MDI3OA==
    method: PUT
    uri: https://aadtest3pa5ad5o.azconfig.io/kv/Language?api-version=1.0
  response:
    body:
      string: '{"etag":"A7NQmU1rAf1Li8zrTF-xQ7RtyX9s2EAjbDmG1pZQaWg","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2024-06-28T08:57:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"A7NQmU1rAf1Li8zrTF-xQ7RtyX9s2EAjbDmG1pZQaWg"'
      last-modified:
      - Fri, 28 Jun 2024 08:57:54 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDI3OQ==;sn=17370279
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "font-size", "value": "34"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzM3MDI3OQ==
    method: PUT
    uri: https://aadtest3pa5ad5o.azconfig.io/kv/font-size?api-version=1.0
  response:
    body:
      string: '{"etag":"WqnyYYM6GNBdcituwOs9ukpDv8h3hobiB5p8leA3dmg","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2024-06-28T08:57:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WqnyYYM6GNBdcituwOs9ukpDv8h3hobiB5p8leA3dmg"'
      last-modified:
      - Fri, 28 Jun 2024 08:57:54 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDI4MA==;sn=17370280
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzM3MDI4MA==
    method: PUT
    uri: https://aadtest3pa5ad5o.azconfig.io/kv/.appconfig.featureflag%2FPercentage?api-version=1.0
  response:
    body:
      string: '{"etag":"VlY-BBPgZt1JGv6OehGr3HyMTw2d6elOh2n9NaGJz2s","key":".appconfig.featureflag/Percentage","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": \"\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:57:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VlY-BBPgZt1JGv6OehGr3HyMTw2d6elOh2n9NaGJz2s"'
      last-modified:
      - Fri, 28 Jun 2024 08:57:54 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDI4MQ==;sn=17370281
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzM3MDI4MQ==
    method: PUT
    uri: https://aadtest3pa5ad5o.azconfig.io/kv/.appconfig.featureflag%2FTimestamp?api-version=1.0
  response:
    body:
      string: '{"etag":"ApJ7wkdDl1bU5N8KkjuxCtbGgJ4WoKiPwna3fH8rP-I","key":".appconfig.featureflag/Timestamp","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Timestamp\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        [{\"name\": \"Local Tests\", \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\",
        \"EndTime\": \"2019-09-01T00:00:00Z\"}}, {\"name\": \"Production Tests\",
        \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\", \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:57:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ApJ7wkdDl1bU5N8KkjuxCtbGgJ4WoKiPwna3fH8rP-I"'
      last-modified:
      - Fri, 28 Jun 2024 08:57:55 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxNzM3MDI4Mg==;sn=17370282
    status:
      code: 200
      message: OK
[...]
