interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true, "dataPlaneProxy": {}, "createMode": "Default", "softDeleteRetentionInDays":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/newfmimport000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-08-24T11:03:58.209912+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/newfmimport000002",
        "name": "newfmimport000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.u1RT4o_QsVjbV0OMtmYU7yrjEEL3d-C7skecdt9--ck?api-version=2025-08-01-preview&t=639231662382627646&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRaFw0yNzAyMDkwNjQwMTRaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2Nlcn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.u1RT4o_QsVjbV0OMtmYU7yrjEEL3d-C7skecdt9--ck?api-version=2025-08-01-preview&t=639231662382627646&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/newfmimport000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-08-24T11:03:58+00:00", "endpoint": "https://newfmimport000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-08-24T11:03:58+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-08-24T11:03:58+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/newfmimport000002",
        "name": "newfmimport000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"090171bb-0000-0100-0000-6a8c25200000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://newfmimport000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=%2A&label=KeyValuesWithFeaturesFFV2
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzE3;sn=148146717
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:36 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzE3
    method: GET
    uri: https://newfmimport000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=.appconfig.featureflag%2F%2A&label=KeyValuesWithFeaturesFFV2
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzE3;sn=148146717
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:37 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/TestVariants", "label": "KeyValuesWithFeaturesFFV2",
      "value": "{\"id\": \"TestVariants\", \"enabled\": true, \"conditions\": {\"client_filters\":
      []}, \"allocation\": {\"user\": [{\"variant\": \"Alpha\", \"users\": [\"Adam\"]},
      {\"variant\": \"Beta\", \"users\": [\"Britney\"]}], \"percentile\": [{\"variant\":
      \"Off\", \"from\": 0, \"to\": 100}]}, \"variants\": [{\"name\": \"Alpha\", \"configuration_value\":
      \"The Variant Alpha.\"}, {\"name\": \"Beta\", \"configuration_value\": \"The
      Variant Beta.\"}]}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzE3
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/.appconfig.featureflag%2FTestVariants?api-version=2026-04-01&label=KeyValuesWithFeaturesFFV2
  response:
    body:
      string: '{"etag":"70S7YRVthNcySBT1Lr_0cigLdcSRuRpept8xZgL85NI","key":".appconfig.featureflag/TestVariants","label":"KeyValuesWithFeaturesFFV2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"TestVariants\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}, \"allocation\": {\"user\": [{\"variant\": \"Alpha\", \"users\": [\"Adam\"]},
        {\"variant\": \"Beta\", \"users\": [\"Britney\"]}], \"percentile\": [{\"variant\":
        \"Off\", \"from\": 0, \"to\": 100}]}, \"variants\": [{\"name\": \"Alpha\",
        \"configuration_value\": \"The Variant Alpha.\"}, {\"name\": \"Beta\", \"configuration_value\":
        \"The Variant Beta.\"}]}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"70S7YRVthNcySBT1Lr_0cigLdcSRuRpept8xZgL85NI"'
      last-modified:
      - Mon, 24 Aug 2026 11:04:37 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzE4;sn=148146718
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:37 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Variant_Override_False", "label": "KeyValuesWithFeaturesFFV2",
      "value": "{\"id\": \"Variant_Override_False\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}, \"allocation\": {\"default_when_disabled\": \"False_Override\"},
      \"variants\": [{\"name\": \"False_Override\", \"configuration_value\": \"default\",
      \"status_override\": \"Enabled\"}]}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzE4
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/.appconfig.featureflag%2FVariant_Override_False?api-version=2026-04-01&label=KeyValuesWithFeaturesFFV2
  response:
    body:
      string: '{"etag":"EdASAoWATtpkuDSCxb0GoQ7oyOUqZbhNHhgCTRRK5wQ","key":".appconfig.featureflag/Variant_Override_False","label":"KeyValuesWithFeaturesFFV2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Variant_Override_False\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"allocation\": {\"default_when_disabled\": \"False_Override\"}, \"variants\":
        [{\"name\": \"False_Override\", \"configuration_value\": \"default\", \"status_override\":
        \"Enabled\"}]}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:38+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"EdASAoWATtpkuDSCxb0GoQ7oyOUqZbhNHhgCTRRK5wQ"'
      last-modified:
      - Mon, 24 Aug 2026 11:04:38 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzE5;sn=148146719
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Variant_Override_True", "label": "KeyValuesWithFeaturesFFV2",
      "value": "{\"id\": \"Variant_Override_True\", \"enabled\": true, \"conditions\":
      {\"client_filters\": []}, \"allocation\": {\"default_when_enabled\": \"True_Override\"},
      \"variants\": [{\"name\": \"True_Override\", \"configuration_value\": \"default\",
      \"status_override\": \"Disabled\"}]}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzE5
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/.appconfig.featureflag%2FVariant_Override_True?api-version=2026-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://newfmimport000002.azconfig.io/kv?%24select=&api-version=2026-04-01&label=KeyValuesWithFeaturesFFV2
  response:
    body:
      string: '{"etag":"NWKzuly-WadoRxD0DMv90TWCix3-l629GNnZTEfeStI","items":[{"etag":"70S7YRVthNcySBT1Lr_0cigLdcSRuRpept8xZgL85NI","key":".appconfig.featureflag/TestVariants","label":"KeyValuesWithFeaturesFFV2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://newfmimport000002.azconfig.io/kv?api-version=2026-04-01&key=.appconfig.featureflag%2F%2A&label=KeyValuesWithFeaturesFFV2
  response:
    body:
      string: '{"etag":"NWKzuly-WadoRxD0DMv90TWCix3-l629GNnZTEfeStI","items":[{"etag":"70S7YRVthNcySBT1Lr_0cigLdcSRuRpept8xZgL85NI","key":".appconfig.featureflag/TestVariants","label":"KeyValuesWithFeaturesFFV2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://newfmimport000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=%2A&label=NewFmSchemaYamlTests
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzIw;sn=148146720
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:41 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzIw
    method: GET
    uri: https://newfmimport000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=.appconfig.featureflag%2F%2A&label=NewFmSchemaYamlTests
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzIw;sn=148146720
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:42 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Variant_Override_True", "label": "NewFmSchemaYamlTests",
      "value": "{\"id\": \"Variant_Override_True\", \"description\": \"\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"allocation\": {\"default_when_enabled\":
      \"True_Override\"}, \"variants\": [{\"name\": \"True_Override\", \"configuration_value\":
      \"default\", \"status_override\": \"Disabled\"}]}", "content_type": "application/vnd.microsoft.appconf[...]
- request:
    body: '{"key": ".appconfig.featureflag/Variant_Override_False", "label": "NewFmSchemaYamlTests",
      "value": "{\"id\": \"Variant_Override_False\", \"description\": \"\", \"enabled\":
      false, \"conditions\": {\"client_filters\": []}, \"allocation\": {\"default_when_disabled\":
      \"False_Override\"}, \"variants\": [{\"name\": \"False_Override\", \"configuration_value\":
      \"default\", \"status_override\": \"Enabled\"}]}", "content_type": "application/vnd.microsoft.ap[...]
- request:
    body: '{"key": ".appconfig.featureflag/TestVariants", "label": "NewFmSchemaYamlTests",
      "value": "{\"id\": \"TestVariants\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"TimeWindow\", \"parameters\":
      {\"Start\": \"Wed, 01 May 2019 13:59:59 GMT\", \"End\": \"Mon, 01 July 2019
      00:00:00 GMT\"}}]}, \"allocation\": {\"user\": [{\"variant\": \"Alpha\", \"users\":
      [\"Adam\"]}, {\"variant\": \"Beta\", \"users\": [\"Britney\"]}]}, \"variants\":
      [{\"name\": \"Alpha\", \"configuration_value\": \"The Variant Alpha.\"}, {\"name\":
      \"Beta\", \"configuration_value\": \"The Variant Beta.\"}]}", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "locked": false}'
    headers:
      Content-Type:
      - app[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://newfmimport000002.azconfig.io/kv?%24select=&api-version=2026-04-01&label=NewFmSchemaYamlTests
  response:
    body:
      string: '{"etag":"4wO5tUQkyUYu33CwoHEAwMVAQeZAms37huE5msY_GzQ","items":[{"etag":"Jzo5uvAWTKGv6W9-c9Z3kAYlUAqMrE884xbRQHyaSR4","key":".appconfig.featureflag/TestVariants","label":"NewFmSchemaYamlTests","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Te[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://newfmimport000002.azconfig.io/kv?api-version=2026-04-01&key=.appconfig.featureflag%2F%2A&label=NewFmSchemaYamlTests
  response:
    body:
      string: '{"etag":"4wO5tUQkyUYu33CwoHEAwMVAQeZAms37huE5msY_GzQ","items":[{"etag":"Jzo5uvAWTKGv6W9-c9Z3kAYlUAqMrE884xbRQHyaSR4","key":".appconfig.featureflag/TestVariants","label":"NewFmSchemaYamlTests","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://newfmimport000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=%2A&label=NewFmSchemaPropertiesTests
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzIz;sn=148146723
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:46 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "feature-management.FeatureSample.enabled-for[0].Name", "label":
      "NewFmSchemaPropertiesTests", "value": "Filter1", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzIz
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B0%5D.Name?api-version=2026-04-01&label=NewFmSchemaPropertiesTests
  response:
    body:
      string: '{"etag":"sxHzNPs9ZQclWneafSUoFTaAAKT_oPrdFH9A_2a5abU","key":"feature-management.FeatureSample.enabled-for[0].Name","label":"NewFmSchemaPropertiesTests","content_type":null,"value":"Filter1","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sxHzNPs9ZQclWneafSUoFTaAAKT_oPrdFH9A_2a5abU"'
      last-modified:
      - Mon, 24 Aug 2026 11:04:47 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzI0;sn=148146724
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:47 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "feature-management.FeatureSample.enabled-for[0].Parameters.paramforfilter1",
      "label": "NewFmSchemaPropertiesTests", "value": "value1", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzI0
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B0%5D.Parameters.paramforfilter1?api-version=2026-04-01&label=NewFmSchemaPropertiesTests
  response:
    body:
      string: '{"etag":"UM1nlc01JNe778tfF6tVtOr9DgM5iCrSl3-Khw1rt3U","key":"feature-management.FeatureSample.enabled-for[0].Parameters.paramforfilter1","label":"NewFmSchemaPropertiesTests","content_type":null,"value":"value1","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:48+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"UM1nlc01JNe778tfF6tVtOr9DgM5iCrSl3-Khw1rt3U"'
      last-modified:
      - Mon, 24 Aug 2026 11:04:48 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzI1;sn=148146725
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:48 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "feature-management.FeatureSample.enabled-for[3].Parameters.EmptyValue",
      "label": "NewFmSchemaPropertiesTests", "value": "", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzI4
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B3%5D.Parameters.EmptyValue?api-version=2026-04-01&label=NewFmSchemaPropertiesTests
  response:
    body:
      string: '{"etag":"_S5CgKKMO1kS7egXedPsrmC2Z_221SS0N8vEeMaPjag","key":"feature-management.FeatureSample.enabled-for[3].Parameters.EmptyValue","label":"NewFmSchemaPropertiesTests","content_type":null,"value":"","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"_S5CgKKMO1kS7egXedPsrmC2Z_221SS0N8vEeMaPjag"'
      last-modified:
      - Mon, 24 Aug 2026 11:04:51 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzI5;sn=148146729
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:51 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "feature-management.FeatureSample.enabled-for[3].Parameters.dotInFilter.Param",
      "label": "NewFmSchemaPropertiesTests", "value": "?", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzI5
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B3%5D.Parameters.dotInFilter.Param?api-version=2026-04-01&label=NewFmSchemaPropertiesTests
  response:
    body:
      string: '{"etag":"h8qIFkiH3rotyN5LksmnVe7EZ_sfJyAPNWGtUTogHOc","key":"feature-management.FeatureSample.enabled-for[3].Parameters.dotInFilter.Param","label":"NewFmSchemaPropertiesTests","content_type":null,"value":"?","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:52+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"h8qIFkiH3rotyN5LksmnVe7EZ_sfJyAPNWGtUTogHOc"'
      last-modified:
      - Mon, 24 Aug 2026 11:04:52 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzMw;sn=148146730
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:52 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "feature-management.TrueFeature", "label": "NewFmSchemaPropertiesTests",
      "value": "true", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzMw
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/feature-management.TrueFeature?api-version=2026-04-01&label=NewFmSchemaPropertiesTests
  response:
    body:
      string: '{"etag":"BlPP1wkQWzOc5O1YdPWuu7H0jcNgotVxouxbT5_Dd04","key":"feature-management.TrueFeature","label":"NewFmSchemaPropertiesTests","content_type":null,"value":"true","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:52+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BlPP1wkQWzOc5O1YdPWuu7H0jcNgotVxouxbT5_Dd04"'
      last-modified:
      - Mon, 24 Aug 2026 11:04:52 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzMx;sn=148146731
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:52 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "feature-management.FalseFeature", "label": "NewFmSchemaPropertiesTests",
      "value": "false", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzMx
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/feature-management.FalseFeature?api-version=2026-04-01&label=NewFmSchemaPropertiesTests
  response:
    body:
      string: '{"etag":"k3ASZgUYjO6bnT91oP4ZiuaetMQRCMmGDiQiISqtYPI","key":"feature-management.FalseFeature","label":"NewFmSchemaPropertiesTests","content_type":null,"value":"false","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:53+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"k3ASZgUYjO6bnT91oP4ZiuaetMQRCMmGDiQiISqtYPI"'
      last-modified:
      - Mon, 24 Aug 2026 11:04:53 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzMy;sn=148146732
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:53 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "NewFmSchemaPropertiesTests", "value": "Red",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzMy
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/Color?api-version=2026-04-01&label=NewFmSchemaPropertiesTests
  response:
    body:
      string: '{"etag":"zF4JjJ7aUDtTVtvX5JUizGXTSRhqqhhpPTN5vipe30I","key":"Color","label":"NewFmSchemaPropertiesTests","content_type":null,"value":"Red","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zF4JjJ7aUDtTVtvX5JUizGXTSRhqqhhpPTN5vipe30I"'
      last-modified:
      - Mon, 24 Aug 2026 11:04:54 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzMz;sn=148146733
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:54 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Region", "label": "NewFmSchemaPropertiesTests", "value": "West
      US", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzMz
    method: PUT
    uri: https://newfmimport000002.azconfig.io/kv/Region?api-version=2026-04-01&label=NewFmSchemaPropertiesTests
  response:
    body:
      string: '{"etag":"wR0giBWxcaX4TYE3Emk-mZMWqp5bj_3Yv-XVGUjJ1dw","key":"Region","label":"NewFmSchemaPropertiesTests","content_type":null,"value":"West
        US","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wR0giBWxcaX4TYE3Emk-mZMWqp5bj_3Yv-XVGUjJ1dw"'
      last-modified:
      - Mon, 24 Aug 2026 11:04:54 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTQ4MTQ2NzM0;sn=148146734
      x-ms-date:
      - Mon, 24 Aug 2026 11:04:54 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://newfmimport000002.azconfig.io/kv?%24select=&api-version=2026-04-01&label=NewFmSchemaPropertiesTests
  response:
    body:
      string: '{"etag":"Qyx0o-UiMLXiTHXBzn-SMF6T6orrfM4fnL62lA1OZRY","items":[{"etag":"zF4JjJ7aUDtTVtvX5JUizGXTSRhqqhhpPTN5vipe30I","key":"Color","label":"NewFmSchemaPropertiesTests","content_type":null,"value":"Red","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:04:54+00:00"},[...]
