interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-12-10T21:37:50.9994323+00:00","endpoint":"https://CredentialTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/db2e36c7-7ab7-c369-4237-6a9c4e9dafff?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/db2e36c7-7ab7-c369-4237-6a9c4e9dafff?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/db2e36c7-7ab7-c369-4237-6a9c4e9dafff","name":"db2e36c7-7ab7-c369-4237-6a9c4e9dafff","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/db2e36c7-7ab7-c369-4237-6a9c4e9dafff?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-12-10T21:38:32+00:00","endpoint":"https://credentialtest4baa6zuijj.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtest4baa6zuijj","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4500d091-0000-0100-0000-5df010580000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"mGk+-l0-s0:3oYJv4tFqTptvl7u04Wo","name":"Primary","value":"kcfnQ1QHKW+zgWYwzTB3FHO084ToB9FCWmTVRn1dSAs=","connectionString":"Endpoint=https://credentialtest4baa6zuijj.azconfig.io;Id=mGk+-l0-s0:3oYJv4tFqTptvl7u04Wo;Secret=kcfnQ1QHKW+zgWYwzTB3FHO084ToB9FCWmTVRn1dSAs=","lastModified":"2019-12-10T21:37:56+00:00","readOnly":false},{"id":"yt+w-l0-s0:ab/Zr+5bzWzX4O8NOCNZ","name":"Secondary","value":"dVv/ZTaA+lzcRrWmyhp6knA1fCwazzbfFuqOGnCK7ns=","connectionString":"Endpoint=https://credentialtest4baa6zuijj.azconfig.io;Id=yt+w-l0-s0:ab/Zr+5bzWzX4O8NOCNZ;Secret=dVv/ZTaA+lzcRrWmyhp6knA1fCwazzbfFuqOGnCK7ns=","lastModified":"2019-12-10T21:37:56+00:00","readOnly":false},{"id":"Mplb-l0-s0:XPU/r0863vRedOF0gUvj","name":"Primary
        Read Only","value":"w4hQhAIdZw8hLvrQMGUvaIjQc5cp9rHtFeClcICqWtg=","connectionString":"Endpoint=https://credentialtest4baa6zuijj.azconfig.io;Id=Mplb-l0-s0:XPU/r0863vRedOF0gUvj;Secret=w4hQhAIdZw8hLvrQMGUvaIjQc5cp9rHtFeClcICqWtg=","lastModified":"2019-12-10T21:37:56+00:00","readOnly":true},{"id":"WJaV-l0-s0:BinxzXQPnvxupb9nzB90","name":"Secondary
        Read Only","value":"NA6v9Oj/REiu2gjxZ/WZFWaL4vvDLb28F4EpUfw2rRU=","connectionString":"Endpoint=https://credentialtest4baa6zuijj.azconfig.io;Id=WJaV-l0-s0:BinxzXQPnvxupb9nzB90;Secret=NA6v9Oj/REiu2gjxZ/WZFWaL4vvDLb28F4EpUfw2rRU=","lastModified":"2019-12-10T21:37:56+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "mGk+-l0-s0:3oYJv4tFqTptvl7u04Wo"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/RegenerateKey?api-version=2019-10-01
  response:
    body:
      string: '{"id":"mwVh-l0-s0:jI/KlUJEWB5Lz/bOgSFm","name":"Primary","value":"+gVfJSC66/urQeWnBaWIGol3Ud3ubXihVWlfIfXNFLA=","connectionString":"Endpoint=https://credentialtest4baa6zuijj.azconfig.io;Id=mwVh-l0-s0:jI/KlUJEWB5Lz/bOgSFm;Secret=+gVfJSC66/urQeWnBaWIGol3Ud3ubXihVWlfIfXNFLA=","lastModified":"2019-12-10T21:38:46+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
