interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-07-02T01:49:14.9532397+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/65862880-17e2-1c3e-06fc-6796cf300340?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/65862880-17e2-1c3e-06fc-6796cf300340?api-version=2019-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/65862880-17e2-1c3e-06fc-6796cf300340","name":"65862880-17e2-1c3e-06fc-6796cf300340","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/65862880-17e2-1c3e-06fc-6796cf300340?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-07-02T01:49:16+00:00","endpoint":"https://sourceib33imr6zn4mlm2bb2.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourceib33imr6zn4mlm2bb2","name":"Source000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"86012a6d-0000-0100-0000-5efd3d1b0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1/privateEndpointConnections/xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7","name":"xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MININT-APPE4B4-IntegrationRGProdWUS/providers/Microsoft.Network/privateEndpoints/xuxuxuxu"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}]},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-03-25T04:52:09+00:00","endpoint":"https://ernestt-test3.azconfig.io","encryption":{"keyVaultProperties[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/ListKeys?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"44Q7-l0-s0:Wld0JHkJ55ypfGWUxEc2","name":"Primary","value":"9GY1ZmDKQOgt5cbjsGYlsnL5IWEmgZ58+uxymd+bYEQ=","connectionString":"Endpoint=https://sourceib33imr6zn4mlm2bb2.azconfig.io;Id=44Q7-l0-s0:Wld0JHkJ55ypfGWUxEc2;Secret=9GY1ZmDKQOgt5cbjsGYlsnL5IWEmgZ58+uxymd+bYEQ=","lastModified":"2020-07-02T01:49:15+00:00","readOnly":false},{"id":"9d7j-l0-s0:ZDmwU3YKGZ/NYeNLM3r/","name":"Secondary","value":"++m7zIgLJDpJQoWYW+0l93z9VhJ3Tu+Ij3IKriddz3Q=","connectionString":"Endpoint=https://sourceib33imr6zn4mlm2bb2.azconfig.io;Id=9d7j-l0-s0:ZDmwU3YKGZ/NYeNLM3r/;Secret=++m7zIgLJDpJQoWYW+0l93z9VhJ3Tu+Ij3IKriddz3Q=","lastModified":"2020-07-02T01:49:15+00:00","readOnly":false},{"id":"tgFq-l0-s0:r0B7RUeI5+0NHvCogxQy","name":"Primary
        Read Only","value":"gnszjeC1zGKNEyqn4HMr2sTYwmvBrDkQnrHqGOCHtxQ=","connectionString":"Endpoint=https://sourceib33imr6zn4mlm2bb2.azconfig.io;Id=tgFq-l0-s0:r0B7RUeI5+0NHvCogxQy;Secret=gnszjeC1zGKNEyqn4HMr2sTYwmvBrDkQnrHqGOCHtxQ=","lastModified":"2020-07-02T01:49:15+00:00","readOnly":true},{"id":"5c3U-l0-s0:BaZ6Y5IUd+vZTraD8LIt","name":"Secondary
        Read Only","value":"43VdI+4+BP7lkC7iJ58xQARbom+YcIeHSBeC6AO/v6o=","connectionString":"Endpoint=https://sourceib33imr6zn4mlm2bb2.azconfig.io;Id=5c3U-l0-s0:BaZ6Y5IUd+vZTraD8LIt;Secret=43VdI+4+BP7lkC7iJ58xQARbom+YcIeHSBeC6AO/v6o=","lastModified":"2020-07-02T01:49:15+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-07-02T01:49:34.7941534+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003","name":"Destination000003","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/364431cc-d9f0-2842-7dbf-beec8d9e6061?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/ListKeys?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"vPXP-l0-s0:DSzSjn7U4f+5c0GiNwLN","name":"Primary","value":"4alJQEZvNqR/jpcwW4JQyrK4SkTVEZW9m9ZalJ253ww=","connectionString":"Endpoint=https://destinationw[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 02 2020 01:49:52 GMT
    method: GET
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/Key01?label=&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/json", "value": "\"Red\"", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - ofS/UkJ8kwEJdzjrDkI8tJp4TwTTR/RXOOiFy1TtnT8=
      x-ms-date:
      - Jul, 02 2020 01:49:53 GMT
    method: PUT
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/Key01?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"7SKuNHJ1FzHyQnD3PYKSWOjR8vY","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2020-07-02T01:49:53+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7SKuNHJ1FzHyQnD3PYKSWOjR8vY"'
      last-modified:
      - Thu, 02 Jul 2020 01:49:53 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE0OTgzMjkjNz0tMQ==;sn=1498329
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 02 2020 01:49:58 GMT
    method: GET
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - ZBbQzjiWSA6Bcvu0IiEanYfqopxyCiYHLYi19RFZuKk=
      x-ms-date:
      - Jul, 02 2020 01:49:58 GMT
    method: PUT
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"ryYirDb6QRnNbSwS873FwQDCxPg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-02T01:49:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ryYirDb6QRnNbSwS873FwQDCxPg"'
      last-modified:
      - Thu, 02 Jul 2020 01:49:59 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE0OTgzNDAjNz0tMQ==;sn=1498340
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 02 2020 01:49:59 GMT
    method: GET
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/HostSecrets?label=&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags":
      null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - ht3m3H45biolk9BhzImpJikxw5BI6bohlbeG8U+jnGw=
      x-ms-date:
      - Jul, 02 2020 01:49:59 GMT
    method: PUT
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/HostSecrets?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"pGhRnGMdpwrIxxmd7SOyvMRswii","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pGhRnGMdpwrIxxmd7SOyvMRswii"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:00 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE0OTgzNDEjNz0tMQ==;sn=1498341
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 02 2020 01:49:59 GMT
    method: GET
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"ryYirDb6QRnNbSwS873FwQDCxPg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-02T01:49:59+00:00"},{"etag":"pGhRnGMdpwrIxxmd7SOyvMRswii","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+js[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 02 2020 01:49:59 GMT
    method: GET
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"ryYirDb6QRnNbSwS873FwQDCxPg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-02T01:49:59+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Mzo0IzE0OTgzNDEjNz0tMQ==;sn=1498341
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - izr85GENlwfzucP9Piw23m6c101ZCg/BfAwhBMIQpDI=
      x-ms-date:
      - Jul, 02 2020 01:50:00 GMT
    method: PUT
    uri: https://destinationwvv4e73zxdw4v.azconfig.io/kv/HostSecrets?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"MX1SdB80iSXPW5TKLjnRWCorSCq","key":"HostSecrets","label":null,"content_type":"application/json","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"MX1SdB80iSXPW5TKLjnRWCorSCq"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:01 GMT
      sync-token:
      - zAJw6V16=NDo0IzE4Njk3MzQjNz0tMQ==;sn=1869734
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "\"Red\"", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 8M2FgF/JQGYII0s/uFSKzMF4n9aQqbXPUuHjhkt6aRk=
      x-ms-date:
      - Jul, 02 2020 01:50:00 GMT
    method: PUT
    uri: https://destinationwvv4e73zxdw4v.azconfig.io/kv/Key01?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"TOJEytHwZxOl8CxcM3pewKtRLO5","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TOJEytHwZxOl8CxcM3pewKtRLO5"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:01 GMT
      sync-token:
      - zAJw6V16=NDo0IzE4Njk3MzUjNz0tMQ==;sn=1869735
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - ZBbQzjiWSA6Bcvu0IiEanYfqopxyCiYHLYi19RFZuKk=
      x-ms-date:
      - Jul, 02 2020 01:50:01 GMT
    method: PUT
    uri: https://destinationwvv4e73zxdw4v.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"Itgrm3YpGyPR9l5eDWVNCCAPeFC","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Itgrm3YpGyPR9l5eDWVNCCAPeFC"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:02 GMT
      sync-token:
      - zAJw6V16=NDo0IzE4Njk3NDYjNz0tMQ==;sn=1869746
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 02 2020 01:50:02 GMT
    method: GET
    uri: https://destinationwvv4e73zxdw4v.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"Itgrm3YpGyPR9l5eDWVNCCAPeFC","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 02 2020 01:50:02 GMT
    method: GET
    uri: https://destinationwvv4e73zxdw4v.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"Itgrm3YpGyPR9l5eDWVNCCAPeFC","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDo0IzE4Njk3NDYjNz0tMQ==;sn=1869746
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 02 2020 01:50:03 GMT
    method: GET
    uri: https://destinationwvv4e73zxdw4v.azconfig.io/kv?key=%2A&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"Itgrm3YpGyPR9l5eDWVNCCAPeFC","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"Itgrm3YpGyPR9l5eDWVNCCAPeFC"'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 02 2020 01:50:03 GMT
    method: DELETE
    uri: https://destinationwvv4e73zxdw4v.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"Itgrm3YpGyPR9l5eDWVNCCAPeFC","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Itgrm3YpGyPR9l5eDWVNCCAPeFC"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:02 GMT
      sync-token:
      - zAJw6V16=NDo0IzE4Njk3NDcjNz0tMQ==;sn=1869747
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 02 2020 01:50:08 GMT
    method: GET
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv?key=%2A&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"ryYirDb6QRnNbSwS873FwQDCxPg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value[...]
[...]
- request:
    body: '{"content_type": "application/json", "value": "[\"StringBoolValue\",\"true\",\"StringNullValue\",\"null\",\"StringNumberValue\",\"20.2\"]",
      "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QyQBljy3YScrFQVmuLXN1mo9+ExWDohliqjNL0YfWAQ=
      x-ms-date:
      - Jul, 02 2020 01:50:12 GMT
    method: PUT
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/Array?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"ICAKiMD0eMM0svhoa5JixZrop3w","key":"Array","label":null,"content_type":"application/json","value":"[\"StringBoolValue\",\"true\",\"StringNullValue\",\"null\",\"StringNumberValue\",\"20.2\"]","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ICAKiMD0eMM0svhoa5JixZrop3w"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:12 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE0OTgzNTgjNz0tMQ==;sn=1498358
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "[1000,true,\"AppConfig string
      value\",[\"NestedArray\",12,false,null],{\"ObjectSetting\":{\"Logging\":{\"LogLevel\":\"Information\",\"Default\":\"Debug\"}}}]",
      "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - peKmkYPPYLIHJAztZWKN+5D6NKEeq3yo7AUZiyqq+qI=
      x-ms-date:
      - Jul, 02 2020 01:50:12 GMT
    method: PUT
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/ComplexSettings%3AMyHybridList?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"cjFdFHx2SIlsomMTaEHJhKt8Fow","key":"ComplexSettings:MyHybridList","label":null,"content_type":"application/json","value":"[1000,true,\"AppConfig
        string value\",[\"NestedArray\",12,false,null],{\"ObjectSetting\":{\"Logging\":{\"LogLevel\":\"Information\",\"Default\":\"Debug\"}}}]","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"cjFdFHx2SIlsomMTaEHJhKt8Fow"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:12 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE0OTgzNTkjNz0tMQ==;sn=1498359
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "[[\"NestedArray4\",34],[\"NestedArray5\",true,null],[\"NestedArray6\",{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":\"Value2\"}}}}]]",
      "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - uKopJHfHpAjwrSkWaIYkVMG9u/y1pXkWtVfdvFtiFo8=
      x-ms-date:
      - Jul, 02 2020 01:50:12 GMT
    method: PUT
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/ComplexSettings%3AMyListOfHybridLists?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"A9OhXiomgjkky6roeBYhTEGKcAw","key":"ComplexSettings:MyListOfHybridLists","label":null,"content_type":"application/json","value":"[[\"NestedArray4\",34],[\"NestedArray5\",true,null],[\"NestedArray6\",{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":\"Value2\"}}}}]]","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"A9OhXiomgjkky6roeBYhTEGKcAw"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:13 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE0OTgzNjAjNz0tMQ==;sn=1498360
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "[[\"NestedArray1\",\"12\",\"false\",\"null\"],[\"NestedArray2\",\"text\"],[\"NestedArray3\"]]",
      "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - JkPLgTa/RdM/J8UwWAyJgW8pkImypmKB6oZwFaI9Brg=
      x-ms-date:
      - Jul, 02 2020 01:50:12 GMT
    method: PUT
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/ComplexSettings%3AMyListOfStringLists?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"QQW2yJHEggzQ6KUuqP0V6siA6L8","key":"ComplexSettings:MyListOfStringLists","label":null,"content_type":"application/json","value":"[[\"NestedArray1\",\"12\",\"false\",\"null\"],[\"NestedArray2\",\"text\"],[\"NestedArray3\"]]","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"QQW2yJHEggzQ6KUuqP0V6siA6L8"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:13 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE0OTgzNjEjNz0tMQ==;sn=1498361
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "\"Value1\"", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - uZustfdCy4NPRchCgMCzPbG5JrmLTKDY+eNkjSO9BG8=
      x-ms-date:
      - Jul, 02 2020 01:50:12 GMT
    method: PUT
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/ComplexSettings%3AMyNestedObjects%3AObject1?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"NYDhZeotoxGW1ALr30MitGmcfCT","key":"ComplexSettings:MyNestedObjects:Object1","label":null,"content_type":"application/json","value":"\"Value1\"","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NYDhZeotoxGW1ALr30MitGmcfCT"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:13 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE0OTgzNjIjNz0tMQ==;sn=1498362
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/json", "value": "\"Value1\"", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - uZustfdCy4NPRchCgMCzPbG5JrmLTKDY+eNkjSO9BG8=
      x-ms-date:
      - Jul, 02 2020 01:50:12 GMT
    method: PUT
    uri: https://sourceib33imr6zn4mlm2bb2.azconfig.io/kv/ComplexSettings%3AMyNestedObjects%3AObject2%3AProperty%3AName%3AName1?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"YZkQ653UY0GrdtPTQByiSZvO8gD","key":"ComplexSettings:MyNestedObjects:Object2:Property:Name:Name1","label":null,"content_type":"application/json","value":"\"Value1\"","tags":{},"locked":false,"last_modified":"2020-07-02T01:50:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YZkQ653UY0GrdtPTQByiSZvO8gD"'
      last-modified:
      - Thu, 02 Jul 2020 01:50:13 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE0OTgzNjMjNz0tMQ==;sn=1498363
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/json", "value": "null", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - JPwWSchbG/6ZhWmXSbDSj5uzm20XuSjwr2NtyOvMpj0=
      x-ms-date:
      - Jul, 02 2020 01:50:13 GMT
    method: PUT
[...]
