interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-07-24T09:56:05.3336527+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/29f860b6-3b04-ef11-c1d0-a852ace7fe6d?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1187'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/29f860b6-3b04-ef11-c1d0-a852ace7fe6d?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/29f860b6-3b04-ef11-c1d0-a852ace7fe6d","name":"29f860b6-3b04-ef11-c1d0-a852ace7fe6d","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/29f860b6-3b04-ef11-c1d0-a852ace7fe6d?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-07-24T09:56:11+00:00","endpoint":"https://kvtestsusdclxkvcjcuzb7cp.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestsusdclxkvcjcuzb7cp","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19009c06-0000-0100-0000-5f1ab03a0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-03-09T09:37:31+00:00","endpoint":"https://zhoxig-test.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zhoxing-test/providers/Microsoft.AppConfiguration/configurationStores/zhoxig-test","name":"zhoxig-test","location":"westus","tags":{}[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"aGPy-l0-s0:cyYkwrJHsCxOprfmvupj","name":"Primary","value":"/kIRkAC9WUhK3G64nEt7QyqUo5KdQ/pQiXdpViZSa80=","connectionString":"Endpoint=https://kvtestsusdclxkvcjcuzb7cp.azconfig.io;Id=aGPy-l0-s0:cyYkwrJHsCxOprfmvupj;Secret=/kIRkAC9WUhK3G64nEt7QyqUo5KdQ/pQiXdpViZSa80=","lastModified":"2020-07-24T09:56:10+00:00","readOnly":false},{"id":"+QEW-l0-s0:LSSO4DGD19oIt5KMNku8","name":"Secondary","value":"0+R2dKFt/th0t3qviji6dcr1m9a5/cfDJlAEjTE5CJw=","connectionString":"Endpoint=https://kvtestsusdclxkvcjcuzb7cp.azconfig.io;Id=+QEW-l0-s0:LSSO4DGD19oIt5KMNku8;Secret=0+R2dKFt/th0t3qviji6dcr1m9a5/cfDJlAEjTE5CJw=","lastModified":"2020-07-24T09:56:10+00:00","readOnly":false},{"id":"sIQO-l0-s0:rPiINV3ZWBszF06Cp0r7","name":"Primary
        Read Only","value":"EbfYIBgBMlqe9EYoZZUusTo0pTNZqPT5q1fYotvQKz8=","connectionString":"Endpoint=https://kvtestsusdclxkvcjcuzb7cp.azconfig.io;Id=sIQO-l0-s0:rPiINV3ZWBszF06Cp0r7;Secret=EbfYIBgBMlqe9EYoZZUusTo0pTNZqPT5q1fYotvQKz8=","lastModified":"2020-07-24T09:56:10+00:00","readOnly":true},{"id":"YV+m-l0-s0:pSlcKJ/6Z0+63Vzrgv0G","name":"Secondary
        Read Only","value":"gW17v7CLaq+1Ctts2sfTLvIHiifS8SlP99g94WRvAyM=","connectionString":"Endpoint=https://kvtestsusdclxkvcjcuzb7cp.azconfig.io;Id=YV+m-l0-s0:pSlcKJ/6Z0+63Vzrgv0G;Secret=gW17v7CLaq+1Ctts2sfTLvIHiifS8SlP99g94WRvAyM=","lastModified":"2020-07-24T09:56:10+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 24 2020 09:56:19 GMT
    method: GET
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv/Color?label=v1.0.0&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - yZlwX3fgUtcVK+aqB5JbkB+YnuorZ8XpcuBG5xu2FHw=
      x-ms-date:
      - Jul, 24 2020 09:56:21 GMT
    method: PUT
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"jZv60E8S6VpiW1U6mYcfjMohOXj","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"jZv60E8S6VpiW1U6mYcfjMohOXj"'
      last-modified:
      - Fri, 24 Jul 2020 09:56:21 GMT
      sync-token:
      - zAJw6V16=NTo0IzE5MjM0NTkjNz0tMQ==;sn=1923459
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "text", "value": "Green", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"jZv60E8S6VpiW1U6mYcfjMohOXj"'
      x-ms-content-sha256:
      - DsaPqt/ALwfjVRXkDKNPeRKKVC4wUGzvRH61CVrpT6o=
      x-ms-date:
      - Jul, 24 2020 09:56:24 GMT
    method: PUT
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"Sv6I61VkZjUbrUIKf1W03GgAEo6","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Sv6I61VkZjUbrUIKf1W03GgAEo6"'
      last-modified:
      - Fri, 24 Jul 2020 09:56:25 GMT
      sync-token:
      - zAJw6V16=NTo0IzE5MjM0NjgjNz0tMQ==;sn=1923468
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 24 2020 09:56:26 GMT
    method: GET
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv/Color?label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "text", "value": "Green", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - WiZBXGG/De7UJCUWU2UUmKALtp5LjZS45s8U26H2gn4=
      x-ms-date:
      - Jul, 24 2020 09:56:27 GMT
    method: PUT
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: '{"etag":"aqxmfuo2nQIXGgykfNvwoDyoPEN","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"aqxmfuo2nQIXGgykfNvwoDyoPEN"'
      last-modified:
      - Fri, 24 Jul 2020 09:56:28 GMT
      sync-token:
      - zAJw6V16=NTo0IzE5MjM0NzMjNz0tMQ==;sn=1923473
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 24 2020 09:56:33 GMT
    method: GET
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv?key=%2A&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"aqxmfuo2nQIXGgykfNvwoDyoPEN","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:28+00:00"},{"etag":"Sv6I61VkZjUbrUIKf1W03GgAEo6","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:25+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTo0IzE5MjM0NzMjNz0tMQ==;sn=1923473
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 24 2020 09:56:36 GMT
    method: GET
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/revisions?key=Color&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"aqxmfuo2nQIXGgykfNvwoDyoPEN","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:28+00:00"},{"etag":"Sv6I61VkZjUbrUIKf1W03GgAEo6","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:25+00:00"},{"etag":"jZv60E8S6VpiW1U6mYcfjMohOXj","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:21+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTo0IzE5MjM0NzQjNz0tMQ==;sn=1923474
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 24 2020 09:56:39 GMT
    method: GET
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv?key=Color&label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"aqxmfuo2nQIXGgykfNvwoDyoPEN","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTo0IzE5MjM0NzQjNz0tMQ==;sn=1923474
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Accept-Datetime:
      - '2020-07-24T09:56:28Z'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 24 2020 09:56:49 GMT
    method: GET
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv?key=Color&label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"aqxmfuo2nQIXGgykfNvwoDyoPEN","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      link:
      - </kv?key=Color&label=newlabel&fields=&api-version=1.0>; rel="original"
      memento-datetime:
      - Fri, 24 Jul 2020 09:56:28 GMT
      sync-token:
      - zAJw6V16=NTo0IzE5MjM0ODUjNz0tMQ==;sn=1923485
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 24 2020 09:56:53 GMT
    method: GET
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv/HostSecrets?label=&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags":
      null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - ht3m3H45biolk9BhzImpJikxw5BI6bohlbeG8U+jnGw=
      x-ms-date:
      - Jul, 24 2020 09:56:54 GMT
    method: PUT
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv/HostSecrets?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"OdhcoNMVEeq7XfseqIlA2qGQ0Vs","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OdhcoNMVEeq7XfseqIlA2qGQ0Vs"'
      last-modified:
      - Fri, 24 Jul 2020 09:56:55 GMT
      sync-token:
      - zAJw6V16=NTo0IzE5MjM0OTEjNz0tMQ==;sn=1923491
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"DNywGdbh9H57pwBy95WGl2SSKVv"'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 24 2020 09:56:58 GMT
    method: DELETE
    uri: https://kvtestsusdclxkvcjcuzb7cp.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: '{"etag":"DNywGdbh9H57pwBy95WGl2SSKVv","key":"Color","label":"newlabel","content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2020-07-24T09:56:57+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DNywGdbh9H57pwBy95WGl2SSKVv"'
      last-modified:
      - Fri, 24 Jul 2020 09:56:57 GMT
      sync-token:
      - zAJw6V16=NTo0IzE5MjM0OTkjNz0tMQ==;sn=1923499
    status:
      code: 200
      message: OK
version: 1
