interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-10-26T21:26:41.649804+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1b6e7c49-ad9e-a3ac-3e34-4a371058ebb4?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1b6e7c49-ad9e-a3ac-3e34-4a371058ebb4?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1b6e7c49-ad9e-a3ac-3e34-4a371058ebb4","name":"1b6e7c49-ad9e-a3ac-3e34-4a371058ebb4","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1b6e7c49-ad9e-a3ac-3e34-4a371058ebb4?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-10-26T21:26:42+00:00","endpoint":"https://kvtesttbpjsq3osnc2bwtl6c.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2021-10-26T21:26:42+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-26T21:26:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtesttbpjsq3osnc2bwtl6c","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0400c45d-0000-0100-0000-617872920000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"vo1K-l0-s0:NQwm9bTANJKf19SLFNFS","name":"Primary","value":"kcb0gs56ws7MQWViqp/rkD+Kz9bV8oKLnKxzoCSiu1U=","connectionString":"Endpoint=https://kvtesttbpjsq3osnc2bwtl6c.azconfig.io;Id=vo1K-l0-s0:NQwm9bTANJKf19SLFNFS;Secret=kcb0gs56ws7MQWViqp/rkD+Kz9bV8oKLnKxzoCSiu1U=","lastModified":"2021-10-26T21:26:41+00:00","readOnly":false},{"id":"P0QG-l0-s0:dAtX7ktljqIzT1J1IK4c","name":"Secondary","value":"23/GzRqTHU3SGQdEd/wTtrrdQZM7I2RrRiCIc85DWCk=","connectionString":"Endpoint=https://kvtesttbpjsq3osnc2bwtl6c.azconfig.io;Id=P0QG-l0-s0:dAtX7ktljqIzT1J1IK4c;Secret=23/GzRqTHU3SGQdEd/wTtrrdQZM7I2RrRiCIc85DWCk=","lastModified":"2021-10-26T21:26:41+00:00","readOnly":false},{"id":"PmPm-l0-s0:Dq1Lfoo06BGGcLjIe/Ik","name":"Primary
        Read Only","value":"68g1jzLcpiii53A6z6drzhMUNwHbYYtQ+49sU/AdbRI=","connectionString":"Endpoint=https://kvtesttbpjsq3osnc2bwtl6c.azconfig.io;Id=PmPm-l0-s0:Dq1Lfoo06BGGcLjIe/Ik;Secret=68g1jzLcpiii53A6z6drzhMUNwHbYYtQ+49sU/AdbRI=","lastModified":"2021-10-26T21:26:41+00:00","readOnly":true},{"id":"cE/S-l0-s0:tjDD30YMC/ZCTJKNI7VA","name":"Secondary
        Read Only","value":"i5k8q1XVY12AzMutJ8/kHy8dQ6hJiX3I2cTP6fiOE08=","connectionString":"Endpoint=https://kvtesttbpjsq3osnc2bwtl6c.azconfig.io;Id=cE/S-l0-s0:tjDD30YMC/ZCTJKNI7VA;Secret=i5k8q1XVY12AzMutJ8/kHy8dQ6hJiX3I2cTP6fiOE08=","lastModified":"2021-10-26T21:26:41+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:26:55 GMT
    method: GET
    uri: https://kvtesttbpjsq3osnc2bwtl6c.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Oct, 26 2021 21:26:55 GMT
    method: PUT
    uri: https://kvtesttbpjsq3osnc2bwtl6c.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"bClAnpoHa1biREcQNnWr5VhdetG","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2021-10-26T21:26:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bClAnpoHa1biREcQNnWr5VhdetG"'
      last-modified:
      - Tue, 26 Oct 2021 21:26:56 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyNzM0Mzg2;sn=2734386
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"bClAnpoHa1biREcQNnWr5VhdetG"'
      Sync-Token:
      - zAJw6V16=NzoxOSMyNzM0Mzg2
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Oct, 26 2021 21:26:58 GMT
    method: PUT
    uri: https://kvtesttbpjsq3osnc2bwtl6c.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"Vv6JNLNApn49C14hkLO1iWDF4ga","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2021-10-26T21:26:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Vv6JNLNApn49C14hkLO1iWDF4ga"'
      last-modified:
      - Tue, 26 Oct 2021 21:26:59 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyNzM0Mzg3;sn=2734387
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:27:01 GMT
    method: GET
    uri: https://kvtesttbpjsq3osnc2bwtl6c.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
