interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      7, "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-03-03T17:49:50.2950327+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002","name":"StrictImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/68547b6c-1943-e66f-98d9-426d03eb07eb?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/68547b6c-1943-e66f-98d9-426d03eb07eb?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/68547b6c-1943-e66f-98d9-426d03eb07eb","name":"68547b6c-1943-e66f-98d9-426d03eb07eb","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/68547b6c-1943-e66f-98d9-426d03eb07eb?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-03-03T17:49:50+00:00","endpoint":"https://strictimporttestmlw5y3ij.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-03T17:49:50+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-03T17:49:51+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/strictimporttestmlw5y3ij","name":"StrictImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7c00ffac-0000-0100-0000-6220ffbe0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview&%24skiptoken=3ZjRjtowFET%2FJar6VBOSLUVFWlUuuGpaGlBChLRvjnMBw%2BJYtkNoV%2FvvtQPapp%2FgPEZRIh3N3LljvwQCrmbJxUkHs5dgS%2FLNnKSbDC%2BLPJgFB2OknoXhmQq6hzMIM6J%2FGgUjVp9D3ZSaKS4Nr4UOp9NqQsvxJzSFqkIfARgqGXxGk5hFUTmdlOXDNJSqvvAKlA5%2FcaZqXe%2FMCEs5r8WO7xtF3a9C1n%2FKTa1Af6GSo4v9zr5%2FjMdxhKIxGkdIKrhwaN%2B%2F0ycuN%2FUJxKMGdeEMkKF71LJGBx%2BCARHdgJxMvupzba6NAW20E9aKQ7DfLOgiwCDojOZ0IUW2WhNPZ%2BfQUN5CY2XJV8Xmu9MG5wn2lKaXBBqohcJF7qItwQ7MfyigTql0lVmlfHZdTyfxz3zDSG23hrRNbfR%2F3sWeus8FhAu72BrvtoU8JWktQydJy82hbox8tkRfM%2FyULLvo81Sf3iiVqus%2BOMULfJ8l%2F6EYZVanO06SLoawmxgXlsnvXfvW6FwwfMtwOieD8dxOOc%2F9wGucDqM3HKUr3j9XGRlOMJw6kbouNIzi0B1gxe28l2%2BTzRPJljhddIR%2B5viR%2F26QFi4q3Dwlqy6%2FXYvwk0fbMtRSwUXF6R3qVokePOXh6I7R60H%2BJt7xmQtq746QLUIu7%2FItWRC7l7rbLT8VekPSba8GFTkp8NpPIslvpkORVch5rchjf2nc3RalVfD6%2Bhc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 9fadee26-dba3-4462-a346-a0df98c2c8d2
      - e1ed7bf9-6d15-42b5-9209-fa57daaf3588
      - b9ff23f5-3973-4b13-aabc-ab4ecace1c53
      - 8e27bb86-30c3-46a1-848b-97c62e10cfb5
      - 686d395b-82ae-4856-9e3f-293b897b026e
      - d737ab17-c3e7-4c29-bb8d-5caa0c00c04a
      - 411b6ae5-591b-42cc-8488-448bd718598d
      - 3aa328b3-60f7-4aed-b783-0d7b3d77e703
      - ce6f7c5d-c528-47da-8159-58409672dcc3
      - da6c1001-1ef6-45f8-a851-121dd6f292cf
      - 29edeb02-e121-4824-9e91-6351d47bd8a9
      - c6b95447-5163-4fcc-a545-691a0174b634
      - c2c709ad-5ce8-4d49-9ea5-ae1d89cc5483
      - 6713d459-00af-4433-893d-db9b1e051373
      - 4d43bb87-c2eb-4105-b1df-ee7ed74d83ce
      - a76585a3-040e-4155-95b4-c25ba9f15c52
      - 4650f32a-99f8-432c-a2e1-82ae95a32a55
      - b3718e06-5338-4a3a-9655-56e05ecfcf65
      - d337b716-4b20-4127-9ea1-f0c5e4adabb8
      - 810e8a9d-06ca-4747-8560-e0877fc820c1
      - 3c4d41cd-d53c-40fc-9821-aaf0a49d0463
      - ac33fd08-b3e9-4fdc-a21a-cf8dba305d8a
      - 7af557ee-41e3-45b6-8eff-bd4e8dab9fe9
      - 1e532ad6-0db0-43a6-be2c-c3e04635c546
      - 06d6b414-db36-46ce-b261-976649496cf6
      - 23afbbfa-fa94-4faf-a0e1-e3380b0b5429
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"78Gy-l0-s0:FyXkqw0EQo6UtSgPfu1z","name":"Primary","value":"garZc+VlrneqAEdLytA/GSrBEBuztHL9gpYySF0zcaE=","connectionString":"Endpoint=https://strictimporttestmlw5y3ij.azconfig.io;Id=78Gy-l0-s0:FyXkqw0EQo6UtSgPfu1z;Secret=garZc+VlrneqAEdLytA/GSrBEBuztHL9gpYySF0zcaE=","lastModified":"2022-03-03T17:49:50+00:00","readOnly":false},{"id":"1mmi-l0-s0:mSHn0MJLECY3pcqo3RWE","name":"Secondary","value":"UQ4ctNsQ8snO7cJTdpf3lrd260SXm8Ya37KJskHi50o=","connectionString":"Endpoint=https://strictimporttestmlw5y3ij.azconfig.io;Id=1mmi-l0-s0:mSHn0MJLECY3pcqo3RWE;Secret=UQ4ctNsQ8snO7cJTdpf3lrd260SXm8Ya37KJskHi50o=","lastModified":"2022-03-03T17:49:50+00:00","readOnly":false},{"id":"FO99-l0-s0:NjoPNWQdMgXJfS8GO4ts","name":"Primary
        Read Only","value":"oTdMfq2MZv3GNVUBGnVC7VisHKrlEX/dTQWQa1NmPO4=","connectionString":"Endpoint=https://strictimporttestmlw5y3ij.azconfig.io;Id=FO99-l0-s0:NjoPNWQdMgXJfS8GO4ts;Secret=oTdMfq2MZv3GNVUBGnVC7VisHKrlEX/dTQWQa1NmPO4=","lastModified":"2022-03-03T17:49:50+00:00","readOnly":true},{"id":"Eq8l-l0-s0:SnA7aFTpD301HMgmxc6m","name":"Secondary
        Read Only","value":"hkJSS6qVJJi/w3GvoOVnrFYzW0v95yA1pTGUn3fA2sk=","connectionString":"Endpoint=https://strictimporttestmlw5y3ij.azconfig.io;Id=Eq8l-l0-s0:SnA7aFTpD301HMgmxc6m;Secret=hkJSS6qVJJi/w3GvoOVnrFYzW0v95yA1pTGUn3fA2sk=","lastModified":"2022-03-03T17:49:50+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Mar, 03 2022 17:50:04 GMT
    method: PUT
    uri: https://strictimporttestmlw5y3ij.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"7LH2J2aMPHELVRN4TXCG9ZTsN01","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7LH2J2aMPHELVRN4TXCG9ZTsN01"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:04 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjU4OQ==;sn=11532589
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjU4OQ==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Mar, 03 2022 17:50:04 GMT
    method: PUT
    uri: https://strictimporttestmlw5y3ij.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"i2rvEvNZThVhDonk6HaDqEIE5no","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"i2rvEvNZThVhDonk6HaDqEIE5no"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:04 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjU5MA==;sn=11532590
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjU5MA==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Mar, 03 2022 17:50:04 GMT
    method: PUT
    uri: https://strictimporttestmlw5y3ij.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"VVQolOxFdatVbY1TBpIz6fjE7MB","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VVQolOxFdatVbY1TBpIz6fjE7MB"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:05 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjU5MQ==;sn=11532591
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjU5MQ==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Mar, 03 2022 17:50:04 GMT
    method: PUT
    uri: https://strictimporttestmlw5y3ij.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"oqdtaydgfBNMDfuj8B11glCBJPh","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2022-03-03T17:50:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oqdtaydgfBNMDfuj8B11glCBJPh"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:05 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjU5Mg==;sn=11532592
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjU5Mg==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Mar, 03 2022 17:50:04 GMT
    method: PUT
    uri: https://strictimporttestmlw5y3ij.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"4MuVmNitfqIqoUaCwNY8HgBgihL","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-03-03T17:50:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"4MuVmNitfqIqoUaCwNY8HgBgihL"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:05 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjU5Mw==;sn=11532593
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjU5Mw==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Mar, 03 2022 17:50:04 GMT
    method: PUT
    uri: https://strictimporttestmlw5y3ij.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"6pCxKsUl39XWbOgnfNXlaakbIHX","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-03-03T17:50:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6pCxKsUl39XWbOgnfNXlaakbIHX"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:05 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjU5NA==;sn=11532594
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjU5NA==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Mar, 03 2022 17:50:04 GMT
    method: PUT
    uri: https://strictimporttestmlw5y3ij.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"dotRhHDfX8kDc7DLIR4XAEilAoH","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-03-03T17:50:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"dotRhHDfX8kDc7DLIR4XAEilAoH"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:05 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjU5NQ==;sn=11532595
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjU5NQ==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Mar, 03 2022 17:50:04 GMT
    method: PUT
    uri: https://strictimporttestmlw5y3ij.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"TWVMGzFRjJghDlbYutzsE1TtzuE","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TWVMGzFRjJghDlbYutzsE1TtzuE"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:05 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjU5Ng==;sn=11532596
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTUzMjU5Ng==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Mar, 03 2022 17:50:05 GMT
    method: PUT
    uri: https://strictimporttestmlw5y3ij.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"y7PyrKpeGERNXzqIWvIJcCQGDMN","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2022-03-03T17:50:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"y7PyrKpeGERNXzqIWvIJcCQGDMN"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:05 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTUzMjU5Nw==;sn=11532597
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:07 GMT
    method: GET
    uri: https://strictimporttestmlw5y3ij.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"7LH2J2aMPHELVRN4TXCG9ZTsN01","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:04+00:00"},{"etag":"i2rvEvNZThVhDonk6HaDqEIE5no","key":"[...]
[...]
