interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-03-03T18:51:11.3721325+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oq8NZx30jw8whYJxxN2ty2mcUBSKyBZb-5rBfZ1-iR0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oq8NZx30jw8whYJxxN2ty2mcUBSKyBZb-5rBfZ1-iR0?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oq8NZx30jw8whYJxxN2ty2mcUBSKyBZb-5rBfZ1-iR0","name":"oq8NZx30jw8whYJxxN2ty2mcUBSKyBZb-5rBfZ1-iR0","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oq8NZx30jw8whYJxxN2ty2mcUBSKyBZb-5rBfZ1-iR0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-03T18:51:12+00:00","endpoint":"https://kvsetimporttest6ps2ernbs.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-03-03T18:51:12+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-03T18:51:12+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttest6ps2ernbs","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2403836a-0000-0100-0000-640241a00000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSaQjaEhVdMdpFo2Glj%2BCKlvjmOCCziZ7QBq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5uFkDsdTF%2BDdZwXszgtMliUeTANtsZ0ehqGByppww9cmgF96RUfsPYQ6r7STInOiFbqcDKpx7QafiETXtfkM%2BeMVIx%2FJeOIjUbVZFxVnyZhp9qjqLnS4aNgqtXtxgyg62at3IimV9R9KmS3T7lpFdffaCfI0b5nf7%2BPhlFEhmMyHH38oHeiK9odl%2Feaq6NgnBjakBPrdXAX%2FAckFxAnCzY9zv25N1wb7QS0YsSAk4EcJTeE%2B4FyOsRltlzFuLxhtqo1Zi9k49WIrBz5six%2BOE0gTwAXza3TNacWBsrcRVYCDggvDKe9hUmXmVUG4ZTd6iK5Q%2FFDhjuFXZ1om8Lk3xyLEE9Zr10AXDoFGcfJ%2FncvxEmYbdubbm9JvmfwlCz8rOFVpVJ%2BY4EU5vDuGLwwjDKryztGks4xNwwT0rLgbMrr%2FuUM%2F5BBOovRz9ZGudn6CStIcbf9c%2BfW4l%2FLLMZv%2BJ0XxW8uuOveHx%2Fl5dTlGwUesmQGngxXHj%2FbdZ%2FaozNxIUBeqEuxm6bE550rkK1K55x8Hc9jm2j%2BtgKpNvrkwixfJ8VTnC0gnbutDCvL%2FjSyML%2BhgAy3Kt4xf%2FwO4zMA4QZzNYsW0ieAVeaazHEJK1xDpulBaFpvKOm4v5CxOC7ByjzCB%2BNuxiitg7e7gKoDNI3iDTW89veYVhfIHoO3vw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 617d7e96-1a85-4c31-8855-544adc474ae4
      - 33461fca-6db4-4335-b778-944eb2f13317
      - a3e97da2-662e-4583-a829-43c63da51234
      - 1049d1f5-bfe6-4396-9839-527f4f56f515
      - cde7ba4c-a983-43df-a5ee-ececc7524fc3
      - e95bbe17-c221-4263-9092-d558e54ea689
      - 6b4fc223-0383-4f0b-ad81-daf84b4c1a70
      - aca8f8f0-05f8-4dc4-ade5-ae524c6e8baa
      - 93f75e05-1214-4bd2-8383-47d6623e584b
      - c5b381bc-cfe9-47dc-9af6-d80f5ac95620
      - d280c3e5-40bf-4258-a115-00f2ad189363
      - e71d2e99-a13c-4bb6-9c14-3f06e48adc0d
      - 147f97a3-3650-4b4d-90bd-95b6b98bd687
      - 19777ba1-632a-400b-89f9-bde54bc9a0d4
      - 5c34e8f3-69ed-4170-87f2-f72e2892c654
      - cdb284aa-eabd-4e67-967d-17831ad1fb76
      - 6a26ab78-3387-4c95-8de7-3cc1d774190c
      - 7d0b1acb-b9bc-47dc-9ff1-6ffb2017261a
      - 1386d0b1-40b2-4538-a2d0-79b794401c4c
      - 924bec94-6efa-4c9f-a6ea-b4781ceb3b3a
      - 41c0ef55-4ee0-4bcf-8571-9b0a5b11d90b
      - 5b91a51b-e104-45d2-a3af-0c4386c3c1ad
      - a32c57c0-b47a-47d6-ba4a-23fd8398e77b
      - 0cc1eedb-de46-40e9-a84d-b9e7364c04d8
      - ffdacedd-81fe-4aad-9f0b-dfc7a2c3d7b4
      - f60e4f86-b87f-4825-b2b7-d27a5ea29fa1
      - 1013e991-46bb-4e77-afbf-f7774907f880
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"QPeg-l0-s0:k/t5kWBWqmf/fAdMxGTR","name":"Primary","value":"N2oHYbesQI2PhIPx6eFD6IMcXMCGL+ulRQio9BArD+0=","connectionString":"Endpoint=https://kvsetimporttest6ps2ernbs.azconfig.io;Id=QPeg-l0-s0:k/t5kWBWqmf/fAdMxGTR;Secret=N2oHYbesQI2PhIPx6eFD6IMcXMCGL+ulRQio9BArD+0=","lastModified":"2023-03-03T18:51:11+00:00","readOnly":false},{"id":"00/R-l0-s0:l28dz+nn4z1mLs7Cpnll","name":"Secondary","value":"PpFvxlXrQSo5Hu4Fk2mJuy6BxcwO641BUpK4d0tJ7U8=","connectionString":"Endpoint=https://kvsetimporttest6ps2ernbs.azconfig.io;Id=00/R-l0-s0:l28dz+nn4z1mLs7Cpnll;Secret=PpFvxlXrQSo5Hu4Fk2mJuy6BxcwO641BUpK4d0tJ7U8=","lastModified":"2023-03-03T18:51:11+00:00","readOnly":false},{"id":"jXwM-l0-s0:c2r0tBLvL1+HCoPet6yo","name":"Primary
        Read Only","value":"oJbmzxL90Nu9fVJ2ePR/vrVJAiQLsitZxDcf9thgYTM=","connectionString":"Endpoint=https://kvsetimporttest6ps2ernbs.azconfig.io;Id=jXwM-l0-s0:c2r0tBLvL1+HCoPet6yo;Secret=oJbmzxL90Nu9fVJ2ePR/vrVJAiQLsitZxDcf9thgYTM=","lastModified":"2023-03-03T18:51:11+00:00","readOnly":true},{"id":"wRec-l0-s0:aIK93W6q+aekitSFr9Yq","name":"Secondary
        Read Only","value":"XXHq7plobiqoP/MjaBGJOQsmXklcVuefFIyqbOGTNLM=","connectionString":"Endpoint=https://kvsetimporttest6ps2ernbs.azconfig.io;Id=wRec-l0-s0:aIK93W6q+aekitSFr9Yq;Secret=XXHq7plobiqoP/MjaBGJOQsmXklcVuefFIyqbOGTNLM=","lastModified":"2023-03-03T18:51:11+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Mar, 03 2023 18:51:25 GMT
    method: PUT
    uri: https://kvsetimporttest6ps2ernbs.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"mDFxq79-4FxIJMp7Tiv--TuWqFv_ajh9RPzwYoBHFDc","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-03-03T18:51:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mDFxq79-4FxIJMp7Tiv--TuWqFv_ajh9RPzwYoBHFDc"'
      last-modified:
      - Fri, 03 Mar 2023 18:51:25 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDQxMjAyMA==;sn=34412020
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDQxMjAyMA==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Mar, 03 2023 18:51:25 GMT
    method: PUT
    uri: https://kvsetimporttest6ps2ernbs.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"8WH-y8xBiFyPeXuVI-ZaTb4hmJrtkpvkS7R5XndmDkQ","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-03-03T18:51:25+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8WH-y8xBiFyPeXuVI-ZaTb4hmJrtkpvkS7R5XndmDkQ"'
      last-modified:
      - Fri, 03 Mar 2023 18:51:25 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDQxMjAyMQ==;sn=34412021
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDQxMjAyMQ==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Mar, 03 2023 18:51:25 GMT
    method: PUT
    uri: https://kvsetimporttest6ps2ernbs.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"nKD8qU5lp4gTXNawN70i4qRyPP4DaLu2Vt9KoOcq8S0","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2023-03-03T18:51:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"nKD8qU5lp4gTXNawN70i4qRyPP4DaLu2Vt9KoOcq8S0"'
      last-modified:
      - Fri, 03 Mar 2023 18:51:26 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDQxMjAyMg==;sn=34412022
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDQxMjAyMg==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Mar, 03 2023 18:51:26 GMT
    method: PUT
    uri: https://kvsetimporttest6ps2ernbs.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"DeXdiLHVOsKoqVnyPMa15sKwBKhwnf9s1v_v_1qaflI","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2023-03-03T18:51:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DeXdiLHVOsKoqVnyPMa15sKwBKhwnf9s1v_v_1qaflI"'
      last-modified:
      - Fri, 03 Mar 2023 18:51:26 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDQxMjAyMw==;sn=34412023
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDQxMjAyMw==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Mar, 03 2023 18:51:26 GMT
    method: PUT
    uri: https://kvsetimporttest6ps2ernbs.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"qg5tNA7FSg9TVbTEJ9UHkDkcc9FdXgP3XBwZlspG718","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-03-03T18:51:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qg5tNA7FSg9TVbTEJ9UHkDkcc9FdXgP3XBwZlspG718"'
      last-modified:
      - Fri, 03 Mar 2023 18:51:26 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDQxMjAyNA==;sn=34412024
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDQxMjAyNA==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Mar, 03 2023 18:51:26 GMT
    method: PUT
    uri: https://kvsetimporttest6ps2ernbs.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"WfRgA9AYSRoR3E9RUBYl4Ydp4LKF1zl081bWYnmTIks","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-03-03T18:51:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WfRgA9AYSRoR3E9RUBYl4Ydp4LKF1zl081bWYnmTIks"'
      last-modified:
      - Fri, 03 Mar 2023 18:51:26 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDQxMjAyNQ==;sn=34412025
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDQxMjAyNQ==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Mar, 03 2023 18:51:26 GMT
    method: PUT
    uri: https://kvsetimporttest6ps2ernbs.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"vUfAWvNczdg4rXzZDoI3OLckPkjEsJSq4E5_D-cgkgE","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2023-03-03T18:51:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vUfAWvNczdg4rXzZDoI3OLckPkjEsJSq4E5_D-cgkgE"'
      last-modified:
      - Fri, 03 Mar 2023 18:51:26 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDQxMjAyNg==;sn=34412026
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDQxMjAyNg==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Mar, 03 2023 18:51:26 GMT
    method: PUT
    uri: https://kvsetimporttest6ps2ernbs.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"IN3nnj70tCV3cRK4XxHo2l3wXUPSG-K46HDFJflB1KQ","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2023-03-03T18:51:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"IN3nnj70tCV3cRK4XxHo2l3wXUPSG-K46HDFJflB1KQ"'
      last-modified:
      - Fri, 03 Mar 2023 18:51:26 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDQxMjAyNw==;sn=34412027
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDQxMjAyNw==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Mar, 03 2023 18:51:26 GMT
    method: PUT
    uri: https://kvsetimporttest6ps2ernbs.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"WMuNWTK6YNd5TJAAo8aeBNATRUxg1Ar8Jw0VULSKElM","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2023-03-03T18:51:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WMuNWTK6YNd5TJAAo8aeBNATRUxg1Ar8Jw0VULSKElM"'
      last-modified:
      - Fri, 03 Mar 2023 18:51:26 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDQxMjAyOA==;sn=34412028
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2023 18:51:30 GMT
    method: GET
    uri: https://kvsetimporttest6ps2ernbs.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"mDFxq79-4FxIJMp7Tiv--TuWqFv_ajh9RPzwYoBHFDc","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2023-03-03T18:51:25+00:00"},{"etag":"8WH-y8xBiFyPeXuVI-Za[...]
[...]
