interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "centraluseuap", "identity": {"type":
      "SystemAssigned"}, "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002?api-version=2022-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"centraluseuap","properties":{"provisioningState":"Creating","creationDate":"2022-04-19T17:46:19.5461425+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002","name":"ReplicaStore000002","tags":{"key":"value"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/operationsStatus/d_DD0O6P7Sr13o0Vs2Cs9Zf4w65L92QMUMX5EXw58uo?api-version=2022-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/operationsStatus/d_DD0O6P7Sr13o0Vs2Cs9Zf4w65L92QMUMX5EXw58uo?api-version=2022-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/operationsStatus/d_DD0O6P7Sr13o0Vs2Cs9Zf4w65L92QMUMX5EXw58uo","name":"d_DD0O6P7Sr13o0Vs2Cs9Zf4w65L92QMUMX5EXw58uo","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/operationsStatus/d_DD0O6P7Sr13o0Vs2Cs9Zf4w65L92QMUMX5EXw58uo?api-version=2022-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002?api-version=2022-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"25d923c6-4948-499f-b154-71247b3e13bd","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2022-04-19T17:46:19+00:00","endpoint":"https://replicastore4d4erz7nxz2z.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-04-19T17:46:19+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-04-19T17:46:20+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/replicastore4d4erz7nxz2z","name":"ReplicaStore000002","tags":{"key":"value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0100fbbd-0000-3300-0000-625ef56c0000"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002/replicas/Replica000003?api-version=2022-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/replicastore4d4erz7nxz2z/replicas/Replica000003","name":"Replica000003","type":"Microsoft.AppConfiguration/configurationStores/replicas","location":"centraluseuap","properties":{"endpoint":null,"provisioningState":"Creating"},"systemData":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/operationsStatus/6s4tjqc0Ligpr9C3XYQuogGyPtUihhquoKsD9CUSEpg?api-version=2022-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/operationsStatus/6s4tjqc0Ligpr9C3XYQuogGyPtUihhquoKsD9CUSEpg?api-version=2022-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/operationsStatus/6s4tjqc0Ligpr9C3XYQuogGyPtUihhquoKsD9CUSEpg","name":"6s4tjqc0Ligpr9C3XYQuogGyPtUihhquoKsD9CUSEpg","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/operationsStatus/6s4tjqc0Ligpr9C3XYQuogGyPtUihhquoKsD9CUSEpg?api-version=2022-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"centraluseuap","properties":{"provisioningState":"Succeeded","creationDate":"2021-07-30T18:04:11+00:00","endpoint":"https://avgupta-localrunner-cuseuap.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"avgupta@microsoft.com","createdByType":"User","crea[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-03-01-preview&$skipToken=replicastore4d4erz7nxz2z
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002/replicas?api-version=2022-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/replicastore4d4erz7nxz2z/replicas/Replica000003","name":"Replica000003","type":"Microsoft.AppConfiguration/configurationStores/replicas","location":"centraluseuap","properties":{"endpoint":"https://replicastore4d4erz7nxz2z-replica2lcb6y3lqr7gksulu.azconfig.io","provisioningState":"Succeeded"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-04-19T17:46:32+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-04-19T17:46:32+00:00"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002/replicas/Replica000003?api-version=2022-03-01-preview
  response:
    body:
      string: '{"error":{"code":"EntityNotFound","message":"The resource with id ''Replica000003''
        was not found.","additionalInfo":[{"type":"ActivityId","info":{"activityId":"59d73088-5b75-4430-afa7-fb537241377c"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2022-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/deletedConfigurationStores/jiyu-cuseuap-1","name":"jiyu-cuseuap-1","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiyu/providers/Microsoft.AppConfiguration/configurationStores/jiyu-cuseuap-1","location":"centraluseuap","deletionDate":"2022-04-15T17:34:48+00:00","scheduledPurgeDate":"2022-04-22T17:34:48+00:00","tags":{},"purgeProtectionEnabled":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/deletedConfigurationStores/jiyu-cuseuap-abc","name":"jiyu-cuseuap-abc","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiyu/providers/Microsoft.AppConfiguration/configurationStores/jiyu-cuseuap-abc","location":"centraluseuap","deletionDate":"2022-04-13[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2022-03-01-preview&%24skiptoken=VYzLTsMwEAD%2FxULcHCcuISJShaKqt4IQbT%2FAj01ZpbGtXccgqv477ZHraGYuIsBP3mGYWPQXsdm%2BHz6H3XG%2FPQ4fohdfOSfulZpNMCeYIeTK%2FC4ElYuz4sWyI0wZY2DVdb41tn6WHXgvnwCctA5eZKtd09iutXbVqUSxoAdi9YaOIscxV0NKmxhGPC1k7ivl4QwZ%2FD%2B4z5GAX01CWW75TVvrWmtZr2TdyERQEL4fH3jCdIgThDVBOqMzGTjzvbW60OipiOv1Dw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ac92bb53-3bd2-4225-92ca-52df6e545127
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/centraluseuap/deletedConfigurationStores/ReplicaStore000002/purge?api-version=2022-03-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
