interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-07-21T05:23:19.2509368+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/rxz2GLCk9l69HKpAZ1uKFPBnPRvV40bO1A7iN3zgSKg?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/rxz2GLCk9l69HKpAZ1uKFPBnPRvV40bO1A7iN3zgSKg?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/rxz2GLCk9l69HKpAZ1uKFPBnPRvV40bO1A7iN3zgSKg","name":"rxz2GLCk9l69HKpAZ1uKFPBnPRvV40bO1A7iN3zgSKg","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/rxz2GLCk9l69HKpAZ1uKFPBnPRvV40bO1A7iN3zgSKg?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T05:23:19+00:00","endpoint":"https://credentialtestmbkpi2hlhj.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T05:23:19+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T05:23:20+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtestmbkpi2hlhj","name":"CredentialTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"bc067690-0000-0100-0000-64ba16480000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ca0a2d1d-2516-49f8-8728-69d572b44fd7
      - 2708b6f8-5e90-4975-bc71-b9c712c2cb26
      - 90bae192-4423-4ec4-8a22-9b359f23fcaa
      - 31f713ad-aac6-4898-b65e-d513a58502e2
      - 30c5a340-4c7c-49ef-b209-b0b47ffde5de
      - 44815ce0-6b32-4688-9b2b-a487b325b353
      - f8c1018a-d6e8-4db7-8258-5e039f7666ca
      - a971af8f-81b5-41df-8b4f-58ef27396651
      - 75b75ce5-76ad-45f5-bb8d-9c38a3d23c2a
      - 67008f5f-1639-4159-b17c-c4af95513880
      - 959fe6e7-5e6a-4166-b0ee-d38a924a1025
      - 5be2c3b9-f14e-4280-9997-15c38c54f6b2
      - e0472f3a-863a-4ae5-91e1-406ef1403d0e
      - 8eca391e-7e43-4470-afa1-01155f0ff89a
      - 277accb8-03d3-4687-ba45-40a93a09ad38
      - 687cc30a-42ed-4563-9c83-782683b00f79
      - cc085465-2b65-411b-a8e0-632ef1cba150
      - 5c1484cd-d119-4f32-9936-d2aa8624c949
      - 0c0f5224-5422-45e6-a812-9d50c541fb8d
      - 055a973b-9bca-41b8-9ccf-07f4ab9966c1
      - f4ad7cf4-94bd-45bb-aff7-2d090784c684
      - ab2e1d4b-0908-400a-afc8-6d8b900a27c4
      - 4665ee61-bac1-4bf1-9c15-b22444d17a0f
      - dd54796e-9aa7-400c-ab89-5b919d873639
      - 3f4a1029-8ab7-441e-9c1b-ead1e7859a3a
      - 82d7a16a-f0f4-451c-b3e2-b897b3921430
      - d25ad716-fe07-405d-b95d-0c843ccd1345
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"ZIIi","name":"Primary","value":"X2d1zGx/0J1xGwY2fZZ3YHZPa3go5lRNsorvP+fmKG0=","connectionString":"Endpoint=https://credentialtestmbkpi2hlhj.azconfig.io;Id=ZIIi;Secret=X2d1zGx/0J1xGwY2fZZ3YHZPa3go5lRNsorvP+fmKG0=","lastModified":"2023-07-21T05:23:19+00:00","readOnly":false},{"id":"aLh2","name":"Secondary","value":"uAeKncmsmQHDmE9hB8RcVoFQvE5L4NLG4J7QaHc5Kcw=","connectionString":"Endpoint=https://credentialtestmbkpi2hlhj.azconfig.io;Id=aLh2;Secret=uAeKncmsmQHDmE9hB8RcVoFQvE5L4NLG4J7QaHc5Kcw=","lastModified":"2023-07-21T05:23:19+00:00","readOnly":false},{"id":"NiMO","name":"Primary
        Read Only","value":"D6g/5fDhDs6PPJY0c/TxvCCQ7YxaocjyWfrqocAF6+Q=","connectionString":"Endpoint=https://credentialtestmbkpi2hlhj.azconfig.io;Id=NiMO;Secret=D6g/5fDhDs6PPJY0c/TxvCCQ7YxaocjyWfrqocAF6+Q=","lastModified":"2023-07-21T05:23:19+00:00","readOnly":true},{"id":"3qiL","name":"Secondary
        Read Only","value":"aBxuA4Jxp7oOCCiSdKCt4JFmatoc5QTQvMeseTcd6vg=","connectionString":"Endpoint=https://credentialtestmbkpi2hlhj.azconfig.io;Id=3qiL;Secret=aBxuA4Jxp7oOCCiSdKCt4JFmatoc5QTQvMeseTcd6vg=","lastModified":"2023-07-21T05:23:19+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "ZIIi"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/regenerateKey?api-version=2023-03-01
  response:
    body:
      string: '{"id":"c6Jf","name":"Primary","value":"WY7ZQ7JiK3h+BQtjBMkilzUmAOm49TvgvVxSKMCHk4w=","connectionString":"Endpoint=https://credentialtestmbkpi2hlhj.azconfig.io;Id=c6Jf;Secret=WY7ZQ7JiK3h+BQtjBMkilzUmAOm49TvgvVxSKMCHk4w=","lastModified":"2023-07-21T05:24:06+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
