interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-01-07T17:16:47.6074284+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002",
        "name": "KVRevisionTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/cSKPGVN0doiNR7CnPaoyrVbZ0DlR3rdnxvMPTUYBbkU?api-version=2024-05-01&t=638718670078585018&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/cSKPGVN0doiNR7CnPaoyrVbZ0DlR3rdnxvMPTUYBbkU?api-version=2024-05-01&t=638718670078585018&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-01-07T17:16:47+00:00", "endpoint": "https://kvrevisionteste7fy3pdsag.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2025-01-07T17:16:47+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2025-01-07T17:16:47+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvrevisionteste7fy3pdsag",
        "name": "KVRevisionTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"940afbdb-0000-0100-0000-677d61810000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Zrfbts2GMXfxRh2RcaO0yxogGLgEnX1mtiZZMNr7miZduTYlEZKdeJi7z5%2BlMTIbl7gXLZFCp2c7z9/P3pavZR3mX62vesfvXmUTG%2Bi8TQWd7Okd917KsvCXvf7O6nlWu2ULs/koTLqLM13fVstbGqyosxybftXV8tLuRj8xq/Ucsk/KJXyRao%2B8sthen6%2BuLpcLC6u%2BoXJv2dLZWz/PktNbvNVeSaK4ibXq2xdGUn/VT/t/ikpc6Ps77LI%2B[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y9LTsMwEIbvYiFWdZyEhohIFYoQO7Ih5QBje%2BpaIbY141TQirsTyoYrsPyf0ncRAT/yiw8Ti%2B4invtx/zaKThxzTtwpNUMAhzOGXMB5ISxMnBUvmg35lH0MrNrWNqDLe9mitXKLaKQ2%2BCCb2lSVbhut71qVKJ68RWI1eEOR4yEXfUpPMRy8Wwh%2BrpT5q8YcCfkRkpendbfmu7qst7JsZFnd3vDk0z5OGHbno/9cILx7CE5m5FyLr40AmnvnCB1ktNfiStW/DmJzJR6AJqTV%2BiXu/jnvNw%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - f60ba8b6-dd07-4d48-9e63-31fc73667310
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvrevisionteste7fy3pdsag.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-01-07T17:16:47+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvrevisionteste7fy3pdsag.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-01-07T17:16:47+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvrevisionteste7fy3pdsag.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-01-07T17:16:47+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvrevisionteste7fy3pdsag.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-01-07T17:16:47+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 07 2025 17:17:23.756697 GMT
    method: GET
    uri: https://kvrevisionteste7fy3pdsag.azconfig.io/kv/Color?label=v1.0.0&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM3Mjg4NDY0Nw==;sn=72884647
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM3Mjg4NDY0Nw==
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Jan, 07 2025 17:17:24.122417 GMT
    method: PUT
    uri: https://kvrevisionteste7fy3pdsag.azconfig.io/kv/Color?label=v1.0.0&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"AufsceoC-dyjSr8_jqQGIbiqZUpTu1sumo4OtVBTf0s","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2025-01-07T17:17:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"AufsceoC-dyjSr8_jqQGIbiqZUpTu1sumo4OtVBTf0s"'
      last-modified:
      - Tue, 07 Jan 2025 17:17:27 GMT
      sync-token:
      - zAJw6V16=NToxOSM3Mjg4NDY0OA==;sn=72884648
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}, "locked": false, "etag": "AufsceoC-dyjSr8_jqQGIbiqZUpTu1sumo4OtVBTf0s"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"AufsceoC-dyjSr8_jqQGIbiqZUpTu1sumo4OtVBTf0s"'
      Sync-Token:
      - zAJw6V16=NToxOSM3Mjg4NDY0OQ==
      x-ms-content-sha256:
      - 0E0077p/mFS0l1HSGpbwmLz6I6Kodu95N/xMKhIizL8=
      x-ms-date:
      - Jan, 07 2025 17:17:31.118475 GMT
    method: PUT
    uri: https://kvrevisionteste7fy3pdsag.azconfig.io/kv/Color?label=v1.0.0&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"07hczdBAUZ5ovtpB-6UlVkFOEwHesMp_2WnrXVti8dE","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2025-01-07T17:17:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"07hczdBAUZ5ovtpB-6UlVkFOEwHesMp_2WnrXVti8dE"'
      last-modified:
      - Tue, 07 Jan 2025 17:17:34 GMT
      sync-token:
      - zAJw6V16=NToxOSM3Mjg4NDY1MA==;sn=72884650
    status:
      code: 200
      message: OK
[...]
