interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-07-26T01:59:40.678111+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002","name":"NamingConventionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9dcf4953-2893-a513-cfdf-12b8e47d8212?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9dcf4953-2893-a513-cfdf-12b8e47d8212?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9dcf4953-2893-a513-cfdf-12b8e47d8212","name":"9dcf4953-2893-a513-cfdf-12b8e47d8212","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/9dcf4953-2893-a513-cfdf-12b8e47d8212?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-07-26T01:59:41+00:00","endpoint":"https://namingconventiontesttg64.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"avgupta@microsoft.com","createdByType":"User","createdAt":"2021-07-26T01:59:41+00:00","lastModifiedBy":"avgupta@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-07-26T01:59:41+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/namingconventiontesttg64","name":"NamingConventionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d300eea0-0000-0100-0000-60fe170d0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"JX6a-l0-s0:LgZHBXu2GYYCIcaF/5Su","name":"Primary","value":"6iLoSy8wCvJRAd2uj2RbDSyMX5A2cJqIRRYHXrb3d/w=","connectionString":"Endpoint=https://namingconventiontesttg64.azconfig.io;Id=JX6a-l0-s0:LgZHBXu2GYYCIcaF/5Su;Secret=6iLoSy8wCvJRAd2uj2RbDSyMX5A2cJqIRRYHXrb3d/w=","lastModified":"2021-07-26T01:59:40+00:00","readOnly":false},{"id":"eaDC-l0-s0:XpvBnB2GXxUjyFt7sevj","name":"Secondary","value":"BVcTR7vFBSvXDaYKXctyKRpF9WNDC4SwBQELSwAdpHc=","connectionString":"Endpoint=https://namingconventiontesttg64.azconfig.io;Id=eaDC-l0-s0:XpvBnB2GXxUjyFt7sevj;Secret=BVcTR7vFBSvXDaYKXctyKRpF9WNDC4SwBQELSwAdpHc=","lastModified":"2021-07-26T01:59:40+00:00","readOnly":false},{"id":"Doev-l0-s0:ynFJD0uoAxsenwWvkUvP","name":"Primary
        Read Only","value":"o4076x6hv8zI3K65kOFwyzxlWj51WjYgcXJF/cjerNY=","connectionString":"Endpoint=https://namingconventiontesttg64.azconfig.io;Id=Doev-l0-s0:ynFJD0uoAxsenwWvkUvP;Secret=o4076x6hv8zI3K65kOFwyzxlWj51WjYgcXJF/cjerNY=","lastModified":"2021-07-26T01:59:40+00:00","readOnly":true},{"id":"x6/7-l0-s0:+GYT7QnEGyWPzOPVNGhB","name":"Secondary
        Read Only","value":"yDGW1hOTxYXRfryvAE+wdUVax3xLH9ob5dsGZqY6PcU=","connectionString":"Endpoint=https://namingconventiontesttg64.azconfig.io;Id=x6/7-l0-s0:+GYT7QnEGyWPzOPVNGhB;Secret=yDGW1hOTxYXRfryvAE+wdUVax3xLH9ob5dsGZqY6PcU=","lastModified":"2021-07-26T01:59:40+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "NamingConventionTest", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - VSffS36d1yZrU0VE0K0JB85BAfWtgzcSKReH3XQQcKM=
      x-ms-date:
      - Jul, 26 2021 01:59:54 GMT
    method: PUT
    uri: https://namingconventiontesttg64.azconfig.io/kv/Color?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"PFIouVf6WMa2WD79dY7TEZByNZh","key":"Color","label":"NamingConventionTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2021-07-26T01:59:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PFIouVf6WMa2WD79dY7TEZByNZh"'
      last-modified:
      - Mon, 26 Jul 2021 01:59:54 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2Mjc0NTA0;sn=6274504
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Region", "label": "NamingConventionTest", "value": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM2Mjc0NTA0
      x-ms-content-sha256:
      - d5TuuQY1+uOeZsImyUtbAguTYwPriNoBgqLVZgmcRso=
      x-ms-date:
      - Jul, 26 2021 01:59:54 GMT
    method: PUT
    uri: https://namingconventiontesttg64.azconfig.io/kv/Region?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"ahJYZYRfj6myqeb15L1BzEfWCrS","key":"Region","label":"NamingConventionTest","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2021-07-26T01:59:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ahJYZYRfj6myqeb15L1BzEfWCrS"'
      last-modified:
      - Mon, 26 Jul 2021 01:59:54 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2Mjc0NTA1;sn=6274505
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM2Mjc0NTA1
      x-ms-content-sha256:
      - LlJkZdiUPnv6AG4PyAVQ8nH84c9fsUS598ZH84M/fd4=
      x-ms-date:
      - Jul, 26 2021 01:59:54 GMT
    method: PUT
    uri: https://namingconventiontesttg64.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"WDZkTyQFGVfKsytgnNVi0tXXoZr","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-07-26T01:59:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WDZkTyQFGVfKsytgnNVi0tXXoZr"'
      last-modified:
      - Mon, 26 Jul 2021 01:59:55 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2Mjc0NTA2;sn=6274506
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM2Mjc0NTA2
      x-ms-content-sha256:
      - InFMUc4jWZGxDF2tsAtzKRsFRRZ0dCYlG2koYVNgoQg=
      x-ms-date:
      - Jul, 26 2021 01:59:54 GMT
    method: PUT
    uri: https://namingconventiontesttg64.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"YJA1tpFfVJxVodQ47IuYdwRIciP","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": \"\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2021-07-26T01:59:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YJA1tpFfVJxVodQ47IuYdwRIciP"'
      last-modified:
      - Mon, 26 Jul 2021 01:59:55 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2Mjc0NTA3;sn=6274507
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM2Mjc0NTA3
      x-ms-content-sha256:
      - 2G4MoMP9JRN0R01czMDumf4AGMDfhMFXxOZkZuPXMj8=
      x-ms-date:
      - Jul, 26 2021 01:59:54 GMT
    method: PUT
    uri: https://namingconventiontesttg64.azconfig[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 26 2021 01:59:56 GMT
    method: GET
    uri: https://namingconventiontesttg64.azconfig.io/kv?label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"WDZkTyQFGVfKsytgnNVi0tXXoZr","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-07-26T01:59:55+00:00"},{"etag":"YJA1tpFfVJxVodQ47IuYdwRIciP","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 26 2021 01:59:59 GMT
    method: GET
    uri: https://namingconventiontesttg64.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"WDZkTyQFGVfKsytgnNVi0tXXoZr","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/v[...]
[...]
