interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-06-30T09:41:06.7684713+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null}, "sku": {"name": "Standard"}, "systemData":
        null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002",
        "name": "StrictImportTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/u9Zdkk4couu7OE0JjmwFWnnEkFwvm8PXxzpEz-LMngI?api-version=2024-06-01&t=638868732670180720&c=MIIHpTCCBo2gAwIBAgITfwV1hryhjutNBgX8OgAEBXWGvDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDIwMTgwNDEyWhcNMjUxMDE3MTgwNDEyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/u9Zdkk4couu7OE0JjmwFWnnEkFwvm8PXxzpEz-LMngI?api-version=2024-06-01&t=638868732670180720&c=MIIHpTCCBo2gAwIBAgITfwV1hryhjutNBgX8OgAEBXWGvDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDIwMTgwNDEyWhcNMjUxMDE3MTg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-06-30T09:41:06+00:00", "endpoint": "https://strictimporttestmz7kdigk.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2025-06-30T09:41:06+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2025-06-30T09:41:06+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/strictimporttestmz7kdigk",
        "name": "StrictImportTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6000eb46-0000-0100-0000-68625bb50000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2022-10-05T17:47:19+00:00", "endpoint": "https://storagemetrictest.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=1ZVba9swGIb/ixi7imJbcY5QhimBjTbriGN2kxtV/uwZxwd0yMJC/vs%2BK26awEq7S4HB%2BCT88H56nyOp4aAfi7pUZHEkP5fx5n75fbOOHpOYLMgvrVu18LyK1zyHCmo95H%2BMhKFoKk%2BZZyVk0eqiqZUn2NQHEFM6Y8BomGZjOp/BM4VRGvAwzKaMM6%2BVzb5IQSpvVQjZqCbTw6ht75s6K3IjebeUJ66vYt1IUF94W9A9fofP75jPQupPqB98/qTKot00JdR3Cl%2B0/6hlITQoTQYWxzWOfQ2a7RrBd7%2BNQoZlFG9cY6iU8hkbWwowCgMbUR%2BPgFIWUMYomyBZlMTdoH2LOkS3hk3gUFo6bgBJkof4Kdl8dYuhavZnBlP2Cc0xF5vQOKTB6DqhvhPcAoQ99lUui/S1vdodr1%2BCEwj48LTG4XM4u1L22U1oMMfsWHcK54h2qfFlEv1wK7iDORia2f0lMELJd0aB4S32CKM%2Bdn/XIyM6Dqg/o8EYYc8lydxDlQd66ZKuKTtMchoQLqsozyXkXENqBYcRRusVsnbCXnFZgsRbx%2B2ts7dksXXa2lsyOCMlsWssN%2Ba2HOexdI3jA/a2dDf%2Bdg3ysuvQ4Jamd7hrHO9Z/DapXgquQb5ncgv56nLX8C4ZvmFzi3fjc9cI/9PoFvjK6a7h/svqW3Iip78%3D
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "identity": {"type": "UserAssigned", "userAssignedIdentities":
        {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobal/providers/Microsoft.ManagedIdentity/userAssignedIdentities/RunnerIdentity":
        {"principalId": "19c65602-5380-4274-9a6a-e82d49b9bedf", "clientId": "5db6003a-7e09-48bd-932d-25dcc81c4688"}}},
        "properties": {"provisioningState": "Succeeded", "creationDate": "2023-03-01T21:26:39+00:00",
        "endpoint": "https://mss0225localeus2023-03-01--21-26-34.azconfig.io", "encryption":
        {"keyVaultProperties": null}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3ZDRSsQwEEX/JYhPpmmz1V0LixQRfLAIdn3ry2w6raFtEjLpIpb%2Bu1kV9BuEgWHuzFw4d2EG38OTNgOxYmEPZX14rVnB3kJwVAgxgYEeJzQhgY/ZY6LsJGg%2BkvLaBW0NCSW3KaLa8p1EyfO2u%2Ba3Ozxy3LQZ5Hm3lSCF8/akW/QkKq28JduFpHTu3ppO97OHs5VQf6c6WI90B07zU/yL%2B71MZc7TG55mlxc0aHewA5p9QAoTjVbBiEBhpkzyNOf83GJt2Hr1C/lsHu3YRtQogp/KvvfYQ8D2yyuCly8V%2B76vwA/oo7Q0P7k0rGj%2BUzINW9n6CQ%3D%3D
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2023-02-28T11:28:56+00:00", "endpoint": "https://testresourcenope.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mss0223localeastus/providers/Microsoft.AppConfiguration/configurationStores/testresourcenope/privateEndpointConnections/PrivateLinkServiceLocalEastUS",
        "name": "PrivateLinkServiceLocalEastUS", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mss0223LocalEastUS/providers/Microsoft.Network/privateEndpoints/PrivateEndpointLocalEUS"},
        "privateLinkServiceConnectionState": {"status": "Approved", "description":
        "Auto-Approved", "actionsRequired": "None"}}}], "disableLocalAuth": false,
        "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2023-02-28T11:28:56+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2023-02-28T11:43:32+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mss0223localeastus/providers/Microsoft.AppConfiguration/configurationStores/testresourcenope",
        "name": "TESTResourceNoPE", "tags": {}}, {"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2023-06-16T01:01:19+00:00", "endpoint": "https://vnetlocaleus.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "publicNetworkAccess": "Disabled", "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "defaultKeyValueRevisionRetentionPeriodInSeconds": 2592000, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "19fcf05b-3ddc-4cf1-8424-9c255c2a60a4",
        "createdByType": "Application", "createdAt": "2023-06-16T01:01:19+00:00",
        "lastModifiedBy": "test@example.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2025-01-07T23:13:49+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/integrationrglocaleastus/providers/Microsoft.AppConfiguration/configurationStores/vnetlocaleus",
        "name": "VNETlocalEUS", "tags": {"donotdelete": ""}}, {"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2022-09-16T17:53:25+00:00", "endpoint": "https://wsb13localeastus2022-09-16--17-53-22-87.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "ena[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3VBBasMwEPyLKD11LVmxG9cQiimFHhoKTXrzRZHXrnAsCUkOpsZ/r5IWmjf0suzOzA7MzETjFF6V7j0pZ/Jc7fYfO1KSzxCsLykdhBYdDqhDIr5Gh4k0A/XjwUunbFBGeyr5miHKNRQcOWRNm8NDgQfAVZOKLGvXXHBqnTmpBp2nWyWd8aYNSWXtk9Gt6kYnzlZUXl%2B7YBz6R2EVnOJf5Dec8QzYPbD09sb3yu5Nj3ozTdCOWh6NFMfLQOHD6KOYAytglQIwBiw/b3lKlru/yG/6xRybGDyCwg1V1znsRMDm4hxrqN635Ee/Fa5HF6G5/m2pJmX9f3uqyUKWbw%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 0cefe5e5-7238-4f2f-8e81-97867ea965dc
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002/listKeys?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://strictimporttestmz7kdigk.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-06-30T09:41:06+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://strictimporttestmz7kdigk.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-06-30T09:41:06+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://strictimporttestmz7kdigk.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-06-30T09:41:06+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://strictimporttestmz7kdigk.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-06-30T09:41:06+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2025 09:41:49.383567 GMT
    method: GET
    uri: https://strictimporttestmz7kdigk.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTE=;sn=78319291
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTE=
      x-ms-content-sha256:
      - vooIQS2Lc83p3cZJS7Qp5TL+wPNgfiHeUrZC71Varzs=
      x-ms-date:
      - Jun, 30 2025 09:41:49.716383 GMT
    method: PUT
    uri: https://strictimporttestmz7kdigk.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"xr5FujlFl-IlJ74RCLCLJkJyiOIZ1DPFTGuCAdeaW6k","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2025-06-30T09:41:49+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"xr5FujlFl-IlJ74RCLCLJkJyiOIZ1DPFTGuCAdeaW6k"'
      last-modified:
      - Mon, 30 Jun 2025 09:41:49 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTI=;sn=78319292
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"bool-feature\", \"description\": \"It is a boolean feature\",
      \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\":
      null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTI=
      x-ms-content-sha256:
      - UhxU[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTM=
      x-ms-content-sha256:
      - Z9vdOmW9IIdhx2BgTvHER4NiDLOkF6QL50jtUUXyuos=
      x-ms-date:
      - Jun, 30 2025 09:41:50.348596 GMT
    method: PUT
    uri: https://strictimporttestmz7kdigk.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=2023-11-01
  response:
    body:
      stri[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTQ=
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Jun, 30 2025 09:41:50.676577 GMT
    method: PUT
    uri: https://strictimporttestmz7kdigk.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"Ze8ARJo-smpWSiuPZqEf_AiyaAtmiLMHcZXH-yaUTo4","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2025-06-30T09:41:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Ze8ARJo-smpWSiuPZqEf_AiyaAtmiLMHcZXH-yaUTo4"'
      last-modified:
      - Mon, 30 Jun 2025 09:41:50 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTU=;sn=78319295
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTU=
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Jun, 30 2025 09:41:51.000326 GMT
    method: PUT
    uri: https://strictimporttestmz7kdigk.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"3e81jSKlT_oYRkGn9cG06pcpF6OfufDmpuM-_39S56I","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-06-30T09:41:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3e81jSKlT_oYRkGn9cG06pcpF6OfufDmpuM-_39S56I"'
      last-modified:
      - Mon, 30 Jun 2025 09:41:51 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTY=;sn=78319296
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTY=
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Jun, 30 2025 09:41:51.336616 GMT
    method: PUT
    uri: https://strictimporttestmz7kdigk.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"JZHTqhFJcjSTJOMitQg8tMiYLlDO65dBagU56CT24Ak","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-06-30T09:41:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JZHTqhFJcjSTJOMitQg8tMiYLlDO65dBagU56CT24Ak"'
      last-modified:
      - Mon, 30 Jun 2025 09:41:51 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTc=;sn=78319297
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTc=
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Jun, 30 2025 09:41:51.665658 GMT
    method: PUT
    uri: https://strictimporttestmz7kdigk.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"cSz-asDP82J_C2CnxYAQT_4sGd83alUkrCAs32VbxQA","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2025-06-30T09:41:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"cSz-asDP82J_C2CnxYAQT_4sGd83alUkrCAs32VbxQA"'
      last-modified:
      - Mon, 30 Jun 2025 09:41:51 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTg=;sn=78319298
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTg=
      x-ms-content-sha256:
      - KG6foKmNh5fImJNssBeIcpD6vIlOFOyqNrEtrNcI1x4=
      x-ms-date:
      - Jun, 30 2025 09:41:51.951554 GMT
    method: PUT
    uri: https://strictimporttestmz7kdigk.azconfig.io/kv/pratik-top-secret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"Ighes0E_ghcLmebWgvplQf9seL87AKyUomQgzoxkN1o","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2025-06-30T09:41:52+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Ighes0E_ghcLmebWgvplQf9seL87AKyUomQgzoxkN1o"'
      last-modified:
      - Mon, 30 Jun 2025 09:41:52 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTk=;sn=78319299
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjNzgzMTkyOTk=
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Jun, 30 2025 09:41:52.310104 GMT
    method: PUT
    uri: https://strictimporttestmz7kdigk.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"FPS2559oRuDbmCwy_kY0NHkxJZLAwgT_BS1jU3uPC2I","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2025-06-30T09:41:52+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FPS2559oRuDbmCwy_kY0NHkxJZLAwgT_BS1jU3uPC2I"'
      last-modified:
      - Mon, 30 Jun 2025 09:41:52 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjNzgzMTkzMDA=;sn=78319300
    status:
      code: 200
      message: OK
[...]
