interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-07-11T05:43:37.7247928+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/EgXqupLeKHBeZ7h-k-aRlwozUXmc1VZlcmSiUBTLXhs?api-version=2023-03-01&t=638562734181136909&c=MIIHpTCCBo2gAwIBAgITfwN_Ssg1LQGiNqibQwAEA39KyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI3MTUzNTUxWhcNMjUwNjIyMTUzNTUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/EgXqupLeKHBeZ7h-k-aRlwozUXmc1VZlcmSiUBTLXhs?api-version=2023-03-01&t=638562734181136909&c=MIIHpTCCBo2gAwIBAgITfwN_Ssg1LQGiNqibQwAEA39KyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI3MTUzNTUxWhcNMjUwNjIyMTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-07-11T05:43:38+00:00","endpoint":"https://sourcesc2423bbstyepmeqv5.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"cwanjau@microsoft.com","createdByType":"User","createdAt":"2024-07-11T05:43:38+00:00","lastModifiedBy":"cwanjau@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-07-11T05:43:39+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcesc2423bbstyepmeqv5","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"880228da-0000-0100-0000-668f710b0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest","name":"garywangtest","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},"privateLinkServiceConnectionState":{"status":"Pending","description":"ms","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-28T11:10:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Zpbb9tGEEb/i1D0adeypapCDATFVmYaIrq4pAgleVtSK5mSeOkuacoO%2Bt87s7yEsvzQ1wH8YhsydDw7387w6McgVediHqdHM7j/Mdg4/nrmLNeemAf%2B4H7wVBS5uR8OE5nKvUpUWtzI11KrmyhLhqYMTaTjvIiz1Ayn0%2B1Ehre/86nabvlvSkU8jNQHPhlFd3fhdBKG4%2Bkw19lzvFXaDBdxpDOT7YobkeezLN3F%2B1JL/FPDqP%2BdX2RamT9kH[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3Y/bSsQwEIbfJYhXm6btWsMWFininb2x6wPkMBtDyYFJWlcX391Yb3wGYWCY/%2Bcb%2BK7EwyU/Wz8n0l/J0zCdXifSk7ecY%2BoZc8ILAw58rsTnglCp4FhaZFJoY7bBJ8a57oSs7ykHrekdgKJSwYF2rWoayTsp95xFDKvVgImNVmFI4ZyrIcbH4M/WLCh%2BXjH195pyQEgPIlq6Fq70x7Zu97Qu09zepNnGU5jBHz%2BWd6DWxYCZwmVbIkaaAFergHztiEA3GINgRAa9QcVweBnJbrMfBc6AJfq17/%2BR%2Bzc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 10663518-db4e-4c69-9d71-371f20101d71
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"GHyi","name":"Primary","value":"Aa2wqMeXLSLeAEfFbDBH1ff2poAQW8JCiaqPTuzIqAXixyBu6jJvJQQJ99AGACYeBjFAArohAAACAZACH9wt","connectionString":"Endpoint=https://sourcesc2423bbstyepmeqv5.azconfig.io;Id=GHyi;Secret=Aa2wqMeXLSLeAEfFbDBH1ff2poAQW8JCiaqPTuzIqAXixyBu6jJvJQQJ99AGACYeBjFAArohAAACAZACH9wt","lastModified":"2024-07-11T05:43:37+00:00","readOnly":false},{"id":"IDEW","name":"Secondary","value":"7AsxcqWr0RqCRH0lXHk14XXfUzS02MxX9hJwsV8RYFGQV5e6dGdPJQQJ99AGACYeBjFAArohAAACAZACKNRJ","connectionString":"Endpoint=https://sourcesc2423bbstyepmeqv5.azconfig.io;Id=IDEW;Secret=7AsxcqWr0RqCRH0lXHk14XXfUzS02MxX9hJwsV8RYFGQV5e6dGdPJQQJ99AGACYeBjFAArohAAACAZACKNRJ","lastModified":"2024-07-11T05:43:37+00:00","readOnly":false},{"id":"5GOo","name":"Primary
        Read Only","value":"8ykVz7LkQbbbhbMElOcGJDOP7St1pk5uD9SMXlyb55nMjvDumhBoJQQJ99AGACYeBjFAArohAAABAZACh92r","connectionString":"Endpoint=https://sourcesc2423bbstyepmeqv5.azconfig.io;Id=5GOo;Secret=8ykVz7LkQbbbhbMElOcGJDOP7St1pk5uD9SMXlyb55nMjvDumhBoJQQJ99AGACYeBjFAArohAAABAZACh92r","lastModified":"2024-07-11T05:43:37+00:00","readOnly":true},{"id":"H6Md","name":"Secondary
        Read Only","value":"Fc8QZhmxYIpJRJjlIkdeSZxg3AhekLXkbYcWKllC2VHFc89GEXTSJQQJ99AGACYeBjFAArohAAABAZACqpau","connectionString":"Endpoint=https://sourcesc2423bbstyepmeqv5.azconfig.io;Id=H6Md;Secret=Fc8QZhmxYIpJRJjlIkdeSZxg3AhekLXkbYcWKllC2VHFc89GEXTSJQQJ99AGACYeBjFAArohAAABAZACqpau","lastModified":"2024-07-11T05:43:37+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/slDzA60gak9g48MXcTpvg2QihHsx4tkKh1TJuju_HD4?api-version=2023-03-01&t=638562734822723575&c=MIIHpTCCBo2gAwIBAgITfwN_Ssg1LQGiNqibQwAEA39KyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI3MTUzNTUxWhcNMjUwNjIyMTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Zpdb9pIFIb/C6r2aiYk0BRtpKqaEre1ykfWxmLbu8EMxIA/dsaOgWr/%2B54z/qgJudjbI%2BUmiYh4cua8c44ffvUSdcwnUbI3vYdfvaXjL8bObOGJSeD3HnrPeZ6Zh34/loncqlgl%2BY08F1rdhGncN8XKhDrK8ihNTH80Wt/L1e0HPlLrNX%2BvVMhXofqT3w/Cu7vV6H61Go76mU5forXSpj%2BNQp2adJPfiCwbp8km2hZa4p/qh93v/DzVynySWcR[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"EsyB","name":"Primary","value":"Eq8LLD6GVoxtDM7p2ScZAfXFAG5czwhEoDTIfkIkFmRYBQNMpShVJQQJ99AGACYeBjFAArohAAACAZACrXmP","connectionString":"Endpoint=https://destina[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:45:41 GMT
    method: GET
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE0Ng==;sn=57051146
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSM1NzA1MTE0Ng==
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Jul, 11 2024 05:45:42 GMT
    method: PUT
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"QBTGu5uQXp5GL6V93BHjCIzDVCQyZQgLK5KhFgvXAVk","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2024-07-11T05:45:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"QBTGu5uQXp5GL6V93BHjCIzDVCQyZQgLK5KhFgvXAVk"'
      last-modified:
      - Thu, 11 Jul 2024 05:45:44 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE0Nw==;sn=57051147
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSM1NzA1MTE1OA==
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Jul, 11 2024 05:45:55 GMT
    method: PUT
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"mBSMgksEHrPCrgFdAdnkrk7-fv7fjLmhVGfgjZeyzZw","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2024-07-11T05:45:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mBSMgksEHrPCrgFdAdnkrk7-fv7fjLmhVGfgjZeyzZw"'
      last-modified:
      - Thu, 11 Jul 2024 05:45:56 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE1OQ==;sn=57051159
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSM1NzA1MTE1OQ==
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Jul, 11 2024 05:45:57 GMT
    method: PUT
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"FiM7WMePrg5QllK6j3c0rG_r8Cde1GTon8tVPolPTOM","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2024-07-11T05:45:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FiM7WMePrg5QllK6j3c0rG_r8Cde1GTon8tVPolPTOM"'
      last-modified:
      - Thu, 11 Jul 2024 05:45:58 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE2MA==;sn=57051160
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:03 GMT
    method: GET
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE2Mg==;sn=57051162
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSM1NzA1MTE2Mg==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Jul, 11 2024 05:46:04 GMT
    method: PUT
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"LobC0ygbpR-Mgm0HItwTiywgkgS1kBi3UlA6zyAvACQ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-07-11T05:46:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"LobC0ygbpR-Mgm0HItwTiywgkgS1kBi3UlA6zyAvACQ"'
      last-modified:
      - Thu, 11 Jul 2024 05:46:05 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE2Mw==;sn=57051163
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:05 GMT
    method: GET
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE2Mw==;sn=57051163
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:06 GMT
    method: GET
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"LobC0ygbpR-Mgm0HItwTiywgkgS1kBi3UlA6zyAvACQ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-07-11T05:46:05+00:00"},{"etag":"ZgEb07aSk-wY65gbR4ADE8_xb94fZHuKBYn7e41WkD0","key":"HostSecrets","label":null,"content_type":"application/vnd.mi[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzoxOSM1NzA1MTE2NA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:07 GMT
    method: GET
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"LobC0ygbpR-Mgm0HItwTiywgkgS1kBi3UlA6zyAvACQ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-07-11T05:46:05+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE2NA==;sn=57051164
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:07 GMT
    method: GET
    uri: https://destinationezbekqopvqfch.azconfig.io/kv?key=%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSMxNzYwNzM3NA==;sn=17607374
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzYwNzM3NA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:08 GMT
    method: GET
    uri: https://destinationezbekqopvqfch.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSMxNzYwNzM3NA==;sn=17607374
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/json", "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzYwNzM3NA==
      x-ms-content-sha256:
      - BQQ1gp4Y1tNofWlDIrl2nQAUENI/IgK/dzCjjxGKUD8=
      x-ms-date:
      - Jul, 11 2024 05:46:09 GMT
    method: PUT
    uri: https://destinationezbekqopvqfch.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: '{"etag":"MeSnr7WuiP0N7ui5xKUTpaD-lgrLJ1rBzROew2JNxJ8","key":"HostSecrets","label":null,"content_type":"application/json","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2024-07-11T05:46:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"MeSnr7WuiP0N7ui5xKUTpaD-lgrLJ1rBzROew2JNxJ8"'
      last-modified:
      - Thu, 11 Jul 2024 05:46:10 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxNzYwNzM3NQ==;sn=17607375
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzYwNzM3NQ==
      x-ms-content-sha256:
      - ssERcN/l30qL3zGxsEuQXd8SMRck/hPK9o4FH0rGF6Q=
      x-ms-date:
      - Jul, 11 2024 05:46:09 GMT
    method: PUT
    uri: https://destinationezbekqopvqfch.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"YMr9otd4AuvQq_5cg_DYVD46YHit3odwUPd4aJF9Ft4","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2024-07-11T05:46:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YMr9otd4AuvQq_5cg_DYVD46YHit3odwUPd4aJF9Ft4"'
      last-modified:
      - Thu, 11 Jul 2024 05:46:10 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxNzYwNzM3Ng==;sn=17607376
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzYwNzM4OQ==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Jul, 11 2024 05:46:14 GMT
    method: PUT
    uri: https://destinationezbekqopvqfch.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"2nBZ4ELHieO5vlZdS31jlNqADhQ7ZtETF053V7eIY5g","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-07-11T05:46:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2nBZ4ELHieO5vlZdS31jlNqADhQ7ZtETF053V7eIY5g"'
      last-modified:
      - Thu, 11 Jul 2024 05:46:15 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxNzYwNzM5MA==;sn=17607390
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:16 GMT
    method: GET
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"LobC0ygbpR-Mgm0HItwTiywgkgS1kBi3UlA6zyAvACQ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-07-11T05:46:05+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE2NA==;sn=57051164
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:16 GMT
    method: GET
    uri: https://destinationezbekqopvqfch.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"pHbnesWzQDczErQtGXytI9yeAOB4ZPwUQZgLfkv9wN4","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:17 GMT
    method: GET
    uri: https://destinationezbekqopvqfch.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"pHbnesWzQDczErQtGXytI9yeAOB4ZPwUQZgLfkv9wN4","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-07-11T05:46:15+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSMxNzYwNzM5Mw==;sn=17607393
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:18 GMT
    method: GET
    uri: https://destinationezbekqopvqfch.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"pHbnesWzQDczErQtGXytI9yeAOB4ZPwUQZgLfkv9wN4","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;char[...]
- request:
    body: null
    headers:
      If-Match:
      - '"pHbnesWzQDczErQtGXytI9yeAOB4ZPwUQZgLfkv9wN4"'
      Sync-Token:
      - zAJw6V16=NzoxOSMxNzYwNzM5Mw==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:19 GMT
    method: DELETE
    uri: https://destinationezbekqopvqfch.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"pHbnesWzQDczErQtGXytI9yeAOB4ZPwUQZgLfkv9wN4","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-07-11T05:46:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pHbnesWzQDczErQtGXytI9yeAOB4ZPwUQZgLfkv9wN4"'
      last-modified:
      - Thu, 11 Jul 2024 05:46:15 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxNzYwNzM5NA==;sn=17607394
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:37 GMT
    method: GET
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"LobC0ygbpR-Mgm0HItwTiywgkgS1kBi3UlA6zyAvACQ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;char[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 11 2024 05:46:50 GMT
    method: GET
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv?key=%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE4MA==;sn=57051180
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Array", "content_type": "application/json", "value": "[\"StringBoolValue\",
      \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM1NzA1MTE4MA==
      x-ms-content-sha256:
      - Zi8aaIF8dKSMjbUqEeK3OxywatmQee6zWX+zKd2w3/I=
      x-ms-date:
      - Jul, 11 2024 05:46:51 GMT
    method: PUT
    uri: https://sourcesc2423bbstyepmeqv5.azconfig.io/kv/Array?api-version=1.0
  response:
    body:
      string: '{"etag":"ugIc8FSwxYsxb2R0t9cj2Q2CRACHoAqw6m4u_PVAecA","key":"Array","label":null,"content_type":"application/json","value":"[\"StringBoolValue\",
        \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]","tags":{},"locked":false,"last_modified":"2024-07-11T05:46:53+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ugIc8FSwxYsxb2R0t9cj2Q2CRACHoAqw6m4u_PVAecA"'
      last-modified:
      - Thu, 11 Jul 2024 05:46:53 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1NzA1MTE4MQ==;sn=57051181
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyHybridList", "content_type": "application/json",
[...]
