interactions:
- request:
    body: '{"location": "francecentral", "sku": {"name": "Standard"}, "properties":
      {"softDeleteRetentionInDays": 1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotFilters000002?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "francecentral", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-09-16T23:28:02.8544894+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null}, "sku": {"name": "Standard"}, "systemData":
        null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotFilters000002",
        "name": "SnapshotFilters000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/francecentral/operationsStatus/EXbn2QLfAxWjc2tcO34wmQoruq3oiHmtzuNwe2CKrqI?api-version=2024-06-01&t=638936620829976824&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE4MTIwNDI4WhcNMjYwMTE0MTIwNDI4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/francecentral/operationsStatus/EXbn2QLfAxWjc2tcO34wmQoruq3oiHmtzuNwe2CKrqI?api-version=2024-06-01&t=638936620829976824&c=MIIIpTCCBo2gAwIBAgITFgGsmnj73LBE7PaBtQABAayaeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzE4MTIwNDI4WhcNMjYw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotFilters000002?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "francecentral", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-09-16T23:28:02+00:00", "endpoint": "https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2025-09-16T23:28:02+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2025-09-16T23:28:02+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapshotfiltersfcrxyg3yoehiqat4cxffq",
        "name": "SnapshotFilters000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e701829f-0000-0e00-0000-68c9f2840000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=1ZvfTuNGFIffxap6hQkEaFSkVTUL3jYFEmonyi7KzdiZBCeO7Z2xSRbEu/ecY2eYBHiAc7e7Fa2%2B/ub8mfG3L16uttVtmq%2BMd/niTYJodBUMRqG4HUfepfdYVaW57HTWMpcLtVZ5dSyfa62Ok2LdMXVsEp2WVVrkptPrzS5kfPKH31OzmX%2BuVOLHifrTv%2Bgmp6dx7yKOz3qdUhdP6Uxp07lLE12YYl4di7K8KvJ5uqi1xH9VJ3F/F1WFVuYvWab%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3ZDdSsQwEIXfJYhXpmm7W4uFRYoIXlgEu971Jj%2BzNdQmMZl2F0vf3fgD7jN4OWfOnOE7CzFwwkdthkCqhdzX7f6lJRV5RXShYmzkhvcwgsGEf0weEmlHFiYRpNcOtTWBlaUquEivaQlK0S2ApELCDS1ymWWiLITYlMx5O2sFPrBGS2%2BDPWBSO3dnzUH3k%2BdfUUyeTy1aD%2BGWO03neBf3uzzNtzQ%2BSrPLizBot7cDmN0wB0A9OusRIeAplxv9fsQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3ZBbS8QwEIX/SxCfTNPL1mBhkSKCDxbBrm99yWU2hm6TkKSrtPS/Gy%2Bgv8HHOXPmDN9ZkYH3%2BKjNGFCzovu2P7z0qEGvMbrQEDIxwxRMYGLGltlDJuxEwsyD8NpFbU0glMqa8fwaU5AS7wAE5gJucF2KouC05ryixHl71hJ8IJ0W3gZ7jFnr3J01R61mzz6jiPg79dF6CLfMaXxOd2m/L/Nyh9OjvLi8CKN2BzuC2Qc7ewGavWlVhWk%2BVYZFuywUbVe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3ZBBS8QwEIX/SxBPpmnr1mJhkSKCB4tg11svk2S2G7pNQpIu2tL/bnQF9zd4nDdv3vC9hWj8CC9KD55UC3mq2917SypyCMH6irERNPQ4og4JzJPDRJiR%2BYl74ZQNymjPylIWwNM7WqKUdIMoKBd4T4tcZBkvC85vS2adOSmJzrNGCWe82YektvbR6L3qJwffUUxcTm0wDv0DWEVP8S7ut3mab2h8lGbXV35QdmcG1Nv5oD4n0EcFuqcwn0NoQB/IevOH96qfzVFGyCiCG%2Bu%2Bd9hDQPmTEpHrt4ac/Q24AV2Ulu63kY5U3f/opCMrWb8A
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 2d259b07-fb31-4bc4-ae6c-a5edf9efb578
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotFilters000002/listKeys?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-09-16T23:28:02+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-09-16T23:28:02+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-09-16T23:28:02+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-09-16T23:28:02+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 16 2025 23:28:46.363589 GMT
    method: GET
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/kv/KeyWithTags1?label=labelWithTags&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjcwMg==;sn=23686702
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "KeyWithTags1", "label": "labelWithTags", "content_type": "", "value":
      "", "tags": {"tag1": "value1", "tag2": "value2", "tag3": "value3", "tag4": "value4",
      "tag5": "value5"}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NjoxNSMyMzY4NjcwMg==
      x-ms-content-sha256:
      - BisY8jVNp3lPNrkGMc3SQx6javZJ7vfldXPjYsD2dcE=
      x-ms-date:
      - Sep, 16 2025 23:28:46.914335 GMT
    method: PUT
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/kv/KeyWithTags1?label=labelWithTags&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"Q_m79kbeeEpIJXFNXZQZ6UPz2IAC_5kZl3pcJIPP0KU","key":"KeyWithTags1","label":"labelWithTags","content_type":"","value":"","tags":{"tag1":"value1","tag2":"value2","tag3":"value3","tag4":"value4","tag5":"value5"},"locked":false,"last_modified":"2025-09-16T23:28:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Q_m79kbeeEpIJXFNXZQZ6UPz2IAC_5kZl3pcJIPP0KU"'
      last-modified:
      - Tue, 16 Sep 2025 23:28:47 GMT
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjcwMw==;sn=23686703
    status:
      code: 200
      message: OK
- request:
    body: '{"filters": [{"key": "KeyWithTags*", "label": "labelWithTags", "tags":
      ["tag1=value1", "tag2=value2", "tag3=value3", "tag4=value4", "tag5=value5"]}],
      "composition_type": "key_label", "retention_period": 3600}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - btP43NwXND+JoP5IljTbMnEYi+K02UUe7+h+6x9cOus=
      x-ms-date:
      - Sep, 16 2025 23:28:47.454311 GMT
    method: PUT
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/snapshots/TestSnapshotWith5Tags?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"SPGR-OaSM5IgSFsZTn7OVRaGb_jGLtF2Ny5iwb-aELs","name":"TestSnapshotWith5Tags","status":"provisioning","filters":[{"key":"KeyWithTags*","label":"labelWithTags","tags":["tag1=value1","tag2=value2","tag3=value3","tag4=value4","tag5=value5"]}],"composition_type":"key_label","created":"2025-09-16T23:28:48.0461891+00:00","size":0,"items_count":0,"tags":{},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"SPGR-OaSM5IgSFsZTn7OVRaGb_jGLtF2Ny5iwb-aELs"'
      last-modified:
      - Tue, 16 Sep 2025 23:28:48 GMT
      link:
      - </kv?snapshot=TestSnapshotWith5Tags&api-version=2023-11-01>; rel="items"
      operation-location:
      - https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/operations?snapshot=TestSnapshotWith5Tags&api-version=2023-11-01
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjcwNA==;sn=23686704
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjoxNSMyMzY4NjcwNA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 16 2025 23:28:47.980996 GMT
    method: GET
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/operations?snapshot=TestSnapshotWith5Tags&api-version=2023-11-01
  response:
    body:
      string: '{"id": "0NqVh6pO7aVl9LNq0gqP4ZK5mVK-67N5cv6vTIxNIfM", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjcwNA==;sn=23686704
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filters": [{"key": "KeyWithTags*", "label": "labelWithTags", "tags":
      ["tag1=value1"]}], "composition_type": "key_label", "retention_period": 3600}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - BqCmYqyePcocZjyJezSP9cNEZRNXBoQMExB4jeXbmbM=
      x-ms-date:
      - Sep, 16 2025 23:29:00.714513 GMT
    method: PUT
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/snapshots/TestSnapshotWith1Tag?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"Z1jaB4e6rd1vz60ND02u6g81faXXrpmYXUdFCpwk2gQ","name":"TestSnapshotWith1Tag","status":"provisioning","filters":[{"key":"KeyWithTags*","label":"labelWithTags","tags":["tag1=value1"]}],"composition_type":"key_label","created":"2025-09-16T23:29:01.2733359+00:00","size":0,"items_count":0,"tags":{},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"Z1jaB4e6rd1vz60ND02u6g81faXXrpmYXUdFCpwk2gQ"'
      last-modified:
      - Tue, 16 Sep 2025 23:29:01 GMT
      link:
      - </kv?snapshot=TestSnapshotWith1Tag&api-version=2023-11-01>; rel="items"
      operation-location:
      - https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/operations?snapshot=TestSnapshotWith1Tag&api-version=2023-11-01
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjcxMw==;sn=23686713
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjoxNSMyMzY4NjcxMw==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 16 2025 23:29:01.213736 GMT
    method: GET
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/operations?snapshot=TestSnapshotWith1Tag&api-version=2023-11-01
  response:
    body:
      string: '{"id": "mtxbOeJkvNutbC0PHTuF0Q7JfEqRJ5332EO7U4mZxZQ", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjcxMw==;sn=23686713
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filters": [{"key": "KeyWithTags*", "label": "labelWithTags", "tags":
      ["tag1="]}], "composition_type": "key_label", "retention_period": 3600}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - /DidECvf+q0TsR212bVLZKaHQ8Tkr6Iri/TWcivv1N0=
      x-ms-date:
      - Sep, 16 2025 23:29:15.329882 GMT
    method: PUT
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/snapshots/TestSnapshotWithEmptyTagValue?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"GspwwP_1BzHHqunLc1cLCA8w1BQm7N-LhIGIqj49t5s","name":"TestSnapshotWithEmptyTagValue","status":"provisioning","filters":[{"key":"KeyWithTags*","label":"labelWithTags","tags":["tag1="]}],"composition_type":"key_label","created":"2025-09-16T23:29:15.8952431+00:00","size":0,"items_count":0,"tags":{},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"GspwwP_1BzHHqunLc1cLCA8w1BQm7N-LhIGIqj49t5s"'
      last-modified:
      - Tue, 16 Sep 2025 23:29:15 GMT
      link:
      - </kv?snapshot=TestSnapshotWithEmptyTagValue&api-version=2023-11-01>; rel="items"
      operation-location:
      - https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/operations?snapshot=TestSnapshotWithEmptyTagValue&api-version=2023-11-01
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjcyMg==;sn=23686722
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjoxNSMyMzY4NjcyMg==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 16 2025 23:29:15.842756 GMT
    method: GET
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/operations?snapshot=TestSnapshotWithEmptyTagValue&api-version=2023-11-01
  response:
    body:
      string: '{"id": "FH4gsBinX9hQt_pn8HOojLMzKRf51S3GdNK2yDYq0bM", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjcyMg==;sn=23686722
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filters": [{"key": "KeyWithTags*", "label": "labelWithTags"}], "composition_type":
      "key_label", "retention_period": 3600}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - KygbCL+Oy4lMdALVtdA483KOaazLfPf2tJ+HCUDamG0=
      x-ms-date:
      - Sep, 16 2025 23:29:37.929015 GMT
    method: PUT
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/snapshots/TestSnapshotWithAllKVs?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"9Wv2-5XUfNcalaJGVGStg64jkNVJ0EolWYY6XWwMY0I","name":"TestSnapshotWithAllKVs","status":"provisioning","filters":[{"key":"KeyWithTags*","label":"labelWithTags","tags":[]}],"composition_type":"key_label","created":"2025-09-16T23:29:38.5159742+00:00","size":0,"items_count":0,"tags":{},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"9Wv2-5XUfNcalaJGVGStg64jkNVJ0EolWYY6XWwMY0I"'
      last-modified:
      - Tue, 16 Sep 2025 23:29:38 GMT
      link:
      - </kv?snapshot=TestSnapshotWithAllKVs&api-version=2023-11-01>; rel="items"
      operation-location:
      - https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/operations?snapshot=TestSnapshotWithAllKVs&api-version=2023-11-01
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjczMA==;sn=23686730
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjoxNSMyMzY4NjczMA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 16 2025 23:29:38.462308 GMT
    method: GET
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/operations?snapshot=TestSnapshotWithAllKVs&api-version=2023-11-01
  response:
    body:
      string: '{"id": "jUH1kKY3iP_6Ky1JUR8vcTLergFOcEcLj3KJ0CI_JFU", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjczMA==;sn=23686730
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 16 2025 23:30:00.642035 GMT
    method: GET
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/kv/TestKey1?label=dev&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjczMQ==;sn=23686731
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 16 2025 23:30:02.668187 GMT
    method: GET
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/kv/LastTestKey?label=dev&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4NjczOQ==;sn=23686739
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"filters": [{"key": "Test*", "label": "dev"}], "composition_type": "key_label",
      "retention_period": 3600, "tags": {"tag1": "value1"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - QOJrSlIW1Ic6HknwF2BNpkjRIbayUP+dU2YD6yiAyAc=
      x-ms-date:
      - Sep, 16 2025 23:30:03.683836 GMT
    method: PUT
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/snapshots/TestSnapshotWithPrefix?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"X2eXoUYXYeog0WbtZ3cMOKcW-BO2bVHjxEbB4WK5IuI","name":"TestSnapshotWithPrefix","status":"provisioning","filters":[{"key":"Test*","label":"dev","tags":[]}],"composition_type":"key_label","created":"2025-09-16T23:30:04.2187438+00:00","size":0,"items_count":0,"tags":{"tag1":"value1"},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"X2eXoUYXYeog0WbtZ3cMOKcW-BO2bVHjxEbB4WK5IuI"'
      last-modified:
      - Tue, 16 Sep 2025 23:30:04 GMT
      link:
      - </kv?snapshot=TestSnapshotWithPrefix&api-version=2023-11-01>; rel="items"
      operation-location:
      - https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/operations?snapshot=TestSnapshotWithPrefix&api-version=2023-11-01
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4Njc0MQ==;sn=23686741
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjoxNSMyMzY4Njc0MQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 16 2025 23:30:04.163577 GMT
    method: GET
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/operations?snapshot=TestSnapshotWithPrefix&api-version=2023-11-01
  response:
    body:
      string: '{"id": "Ku5w9yRA5o_wE_gLcsc9zaRruYJUx_Zhiu4awoKu-ZM", "status": "Running",
        "error": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4Njc0MQ==;sn=23686741
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjoxNSMyMzY4Njc0Ng==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 16 2025 23:30:15.246380 GMT
    method: GET
    uri: https://snapshotfiltersfcrxyg3yoehiqat4cxffq.azconfig.io/snapshots/TestSnapshotWithPrefix?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"X2eXoUYXYeog0WbtZ3cMOKcW-BO2bVHjxEbB4WK5IuI","name":"TestSnapshotWithPrefix","status":"ready","filters":[{"key":"Test*","label":"dev","tags":[]}],"composition_type":"key_label","created":"2025-09-16T23:30:04+00:00","size":1000,"items_count":2,"tags":{"tag1":"value1"},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"X2eXoUYXYeog0WbtZ3cMOKcW-BO2bVHjxEbB4WK5IuI"'
      last-modified:
      - Tue, 16 Sep 2025 23:30:13 GMT
      link:
      - </kv?snapshot=TestSnapshotWithPrefix&api-version=2023-11-01>; rel="items"
      sync-token:
      - zAJw6V16=NjoxNSMyMzY4Njc0Ng==;sn=23686746
    status:
      code: 200
      message: OK
version: 1
