interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-10-30T20:52:38.9992727+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null,"dataPlaneProxy":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/sa1cs9EDeMo6ZRhZQBNr7ZE8zvxbaNnF35QADmDihfE?api-version=2024-05-01&t=638659183591110734&c=MIIHpTCCBo2gAwIBAgITfwQsaz94bbkQtzgVvwAEBCxrPzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQxMDAzMDkwOTUzWhcNMjUwNDAxMDkwOTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/sa1cs9EDeMo6ZRhZQBNr7ZE8zvxbaNnF35QADmDihfE?api-version=2024-05-01&t=638659183591110734&c=MIIHpTCCBo2gAwIBAgITfwQsaz94bbkQtzgVvwAEBCxrPzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQxMDAzMDkwOTUzWhcNMjUwNDAxMDk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-10-30T20:52:38+00:00","endpoint":"https://kvtestoqlnwylmlbyzydavsc.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false,"dataPlaneProxy":{"authenticationMode":"Local","privateLinkDelegation":"Disabled"}},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2024-10-30T20:52:38+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-30T20:52:38+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestoqlnwylmlbyzydavsc","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0c00e3b3-0000-0100-0000-67229c980000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrvTuNGFMXfJVr105hAWIqKtKpmwdt1gYTaidLl28QZUofEdmdsAln13Xvv2B4c4AXOR0BBPjn3v38/B7l%2Brm6y/NEOLn4O5mEyvQzH01jezJLBxeCfqirtxXC4Vbla6a3OqyO1r40%2BSovt0NYLm5qsrLIit8Pz8%2BWZWhz/Gpzr5TL4rHUaLFL9W3A2Sk9OFudni8Xp%2BbA0xVO21MYOb7PUFLZ4qI5kWV4W%2BUO2qo3ifzVM%2Bz8lVWG0/V2VW[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - bb82f863-0e85-45b3-9cb7-75bb135bf2f8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvtestoqlnwylmlbyzydavsc.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-10-30T20:52:38+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvtestoqlnwylmlbyzydavsc.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-10-30T20:52:38+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvtestoqlnwylmlbyzydavsc.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-10-30T20:52:38+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvtestoqlnwylmlbyzydavsc.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-10-30T20:52:38+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 30 2024 20:53:27.385608 GMT
    method: GET
    uri: https://kvtestoqlnwylmlbyzydavsc.azconfig.io/kv/Color?label=v1.0.0&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxOSMxOTk0MjkyMw==;sn=19942923
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NzoxOSMxOTk0MjkyMw==
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Oct, 30 2024 20:53:27.714130 GMT
    method: PUT
    uri: https://kvtestoqlnwylmlbyzydavsc.azconfig.io/kv/Color?label=v1.0.0&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"mb6CGjwUQH_bnLuxg7pXN6R05sR01KxKYzVp_TdRrf0","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mb6CGjwUQH_bnLuxg7pXN6R05sR01KxKYzVp_TdRrf0"'
      last-modified:
      - Wed, 30 Oct 2024 20:53:27 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxOTk0MjkyNA==;sn=19942924
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}, "locked": false, "etag": "mb6CGjwUQH_bnLuxg7pXN6R05sR01KxKYzVp_TdRrf0"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"mb6CGjwUQH_bnLuxg7pXN6R05sR01KxKYzVp_TdRrf0"'
      Sync-Token:
      - zAJw6V16=NzoxOSMxOTk0MjkyNA==
      x-ms-content-sha256:
      - vqh03YrYbwwpR/Ybb3Jxo1v9PP+SnQDQZi/D4fqbvBE=
      x-ms-date:
      - Oct, 30 2024 20:53:32.575186 GMT
    method: PUT
    uri: https://kvtestoqlnwylmlbyzydavsc.azconfig.io/kv/Color?label=v1.0.0&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"kmJJL3lpXXcbAOiYDnvjPa05NxwNRgkQ34MmEpIHmmQ","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2024-10-30T20:53:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kmJJL3lpXXcbAOiYDnvjPa05NxwNRgkQ34MmEpIHmmQ"'
      last-modified:
      - Wed, 30 Oct 2024 20:53:32 GMT
      sync-token:
      - zAJw6V16=NzoxOSMxOTk0MjkyNQ==;sn=19942925
    status:
      code: 200
      message: OK
[...]
