interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"createMode":
      "Default", "softDeleteRetentionInDays": 1, "disableLocalAuth": true, "dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtest000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-09-01T09:03:56.6855958+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtest000002",
        "name": "kvtest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.F9Q4SMVVTepBLDbRk6m8LdFrpU0tOoGgDvmeupxEuCI?api-version=2025-08-01-preview&t=639238502367364999&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRaFw0yNzAyMDkwNjQwMTRaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2Nlcn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.F9Q4SMVVTepBLDbRk6m8LdFrpU0tOoGgDvmeupxEuCI?api-version=2025-08-01-preview&t=639238502367364999&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtest000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-09-01T09:03:56+00:00", "endpoint": "https://kvtest000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-09-01T09:03:56+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-09-01T09:03:56+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtest000002",
        "name": "kvtest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9e03aae2-0000-0100-0000-6a9694fd0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv/Color?api-version=2026-05-01-preview&label=v1.0.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAxOTY=;sn=82840196
      x-ms-date:
      - Tue, 01 Sep 2026 09:04:36 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "value": "", "content_type": "", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTI6MTkjODI4NDAxOTY=
    method: PUT
    uri: https://kvtest000002.azconfig.io/kv/Color?api-version=2026-05-01-preview&label=v1.0.0
  response:
    body:
      string: '{"etag":"PKxaPy6Dcyvy4aZffh3_-mupyy8TK3Eqj6NFiQKGtB0","key":"Color","label":"v1.0.0","content_type":"","value":"","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PKxaPy6Dcyvy4aZffh3_-mupyy8TK3Eqj6NFiQKGtB0"'
      last-modified:
      - Tue, 01 Sep 2026 09:04:37 GMT
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAxOTc=;sn=82840197
      x-ms-date:
      - Tue, 01 Sep 2026 09:04:37 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "value": "Green", "content_type": "text",
      "tags": {}, "locked": false, "etag": "PKxaPy6Dcyvy4aZffh3_-mupyy8TK3Eqj6NFiQKGtB0"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"PKxaPy6Dcyvy4aZffh3_-mupyy8TK3Eqj6NFiQKGtB0"'
      Sync-Token:
      - zAJw6V16=MTI6MTkjODI4NDAxOTc=
    method: PUT
    uri: https://kvtest000002.azconfig.io/kv/Color?api-version=2026-05-01-preview&label=v1.0.0
  response:
    body:
      string: '{"etag":"yKEtnYTdI2mt7H4q9148ifAJytTkbecw-SBZtQEcxxQ","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yKEtnYTdI2mt7H4q9148ifAJytTkbecw-SBZtQEcxxQ"'
      last-modified:
      - Tue, 01 Sep 2026 09:04:39 GMT
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAxOTg=;sn=82840198
      x-ms-date:
      - Tue, 01 Sep 2026 09:04:39 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv/Color?api-version=2026-05-01-preview&label=newlabel
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAxOTk=;sn=82840199
      x-ms-date:
      - Tue, 01 Sep 2026 09:04:40 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv?%24select=&api-version=2026-05-01-preview&key=%2A&label=%2A
  response:
    body:
      string: '{"etag":"MT14K8H-buhU5uvMuaaXvykNu2Nrxg8O1Py3nXoHsbE","items":[{"etag":"CRLOG3LaUTf3nQKPjKKM1-6rY5wqBM7A4v9IZGJ_hxg","key":"Color","label":"newlabel","content_type":"text","value":"Green","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:41+00:00"},{"etag":"yKEtnYTdI2mt7H4q9148ifAJytTkbecw-SBZtQEcxxQ","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:39+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"MT14K8H-buhU5uvMuaaXvykNu2Nrxg8O1Py3nXoHsbE"'
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMDA=;sn=82840200
      x-ms-date:
      - Tue, 01 Sep 2026 09:04:43 GMT
      x-ms-item-count:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/revisions?api-version=2026-05-01-preview&key=Color&label=%2A
  response:
    body:
      string: '{"etag":"EZtPeQx9G7xLBg28Sr9yXZ4vZ6iaeWts29qiqz7RoDQ","items":[{"etag":"CRLOG3LaUTf3nQKPjKKM1-6rY5wqBM7A4v9IZGJ_hxg","key":"Color","label":"newlabel","content_type":"text","value":"Green","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:41+00:00"},{"etag":"yKEtnYTdI2mt7H4q9148ifAJytTkbecw-SBZtQEcxxQ","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:39+00:00"},{"etag":"PKxaPy6Dcyvy4aZffh3_-mupyy8TK3Eqj6NFiQKGtB0","key":"Color","label":"v1.0.0","content_type":"","value":"","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:37+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"EZtPeQx9G7xLBg28Sr9yXZ4vZ6iaeWts29qiqz7RoDQ"'
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMDA=;sn=82840200
      x-ms-date:
      - Tue, 01 Sep 2026 09:04:43 GMT
      x-ms-item-count:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv?%24select=&api-version=2026-05-01-preview&key=Color&label=newlabel
  response:
    body:
      string: '{"etag":"bAN2eEezy319ZtinCy1RajetDUjeLnghnp4Di7MxBCY","items":[{"etag":"CRLOG3LaUTf3nQKPjKKM1-6rY5wqBM7A4v9IZGJ_hxg","key":"Color","label":"newlabel","content_type":"text","value":"Green","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:41+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"bAN2eEezy319ZtinCy1RajetDUjeLnghnp4Di7MxBCY"'
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMDA=;sn=82840200
      x-ms-date:
      - Tue, 01 Sep 2026 09:04:44 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Accept-Datetime:
      - '2026-09-01T09:04:41+00:00'
    method: GET
    uri: https://kvtest000002.azconfig.io/kv?%24select=&api-version=2026-05-01-preview&key=Color&label=newlabel
  response:
    body:
      string: '{"etag":"bAN2eEezy319ZtinCy1RajetDUjeLnghnp4Di7MxBCY","items":[{"etag":"CRLOG3LaUTf3nQKPjKKM1-6rY5wqBM7A4v9IZGJ_hxg","key":"Color","label":"newlabel","content_type":"text","value":"Green","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:41+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"bAN2eEezy319ZtinCy1RajetDUjeLnghnp4Di7MxBCY"'
      link:
      - </kv?%24select=&api-version=2026-05-01-preview&key=Color&label=newlabel>;
        rel="original"
      memento-datetime:
      - Tue, 01 Sep 2026 09:04:41 GMT
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMDM=;sn=82840203
      x-ms-date:
      - Tue, 01 Sep 2026 09:04:49 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv/HostSecrets?api-version=2026-05-01-preview
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMDU=;sn=82840205
      x-ms-date:
      - Tue, 01 Sep 2026 09:04:53 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv/KvWithNullLabel?api-version=2026-05-01-preview
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMDk=;sn=82840209
      x-ms-date:
      - Tue, 01 Sep 2026 09:04:58 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv?%24select=&api-version=2026-05-01-preview&key=%2A&label=%00
  response:
    body:
      string: '{"etag":"NJ_A1tJ0Eh_tZflkFgVH1N-XZIZJvMkq9d6ZnX_lKAs","items":[{"etag":"688QfQ3YcIvft2aZ1eESYi3xGw7R9acIv1V0jdpIvc8","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://fake.vault.azure.net/secrets/fakesecret\"}","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:54+00:00"},{"etag":"a5CAYu5B_H0jYTvZTGNNdL0kzpMm7rkJtLPkSE6N2_E","key":"KvWithNullLabel","label":null,"content_type":"","value":"","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:59+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"NJ_A1tJ0Eh_tZflkFgVH1N-XZIZJvMkq9d6ZnX_lKAs"'
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTI=;sn=82840212
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:00 GMT
      x-ms-item-count:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv?%24select=&api-version=2026-05-01-preview&key=%2A&label=v1.0.0%2C%00
  response:
    body:
      string: '{"etag":"Hdok8P4kz2_IYP5n0QyFhcKW0GDafoeB7DiMiICwpiY","items":[{"etag":"yKEtnYTdI2mt7H4q9148ifAJytTkbecw-SBZtQEcxxQ","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:39+00:00"},{"etag":"688QfQ3YcIvft2aZ1eESYi3xGw7R9acIv1V0jdpIvc8","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://fake.vault.azure.net/secrets/fakesecret\"}","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:54+00:00"},{"etag":"a5CAYu5B_H0jYTvZTGNNdL0kzpMm7rkJtLPkSE6N2_E","key":"KvWithNullLabel","label":null,"content_type":"","value":"","description":null,"tags":{},"locked":false,"last_modified":"2026-09-01T09:04:59+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"Hdok8P4kz2_IYP5n0QyFhcKW0GDafoeB7DiMiICwpiY"'
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTI=;sn=82840212
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:01 GMT
      x-ms-item-count:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv/KeyWithTags?api-version=2026-05-01-preview&label=labelWithTags
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTI=;sn=82840212
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:02 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "KeyWithTags", "label": "labelWithTags", "value": "", "content_type":
      "", "tags": {"tag1": "value1", "tag2": "value2", "tag3": "value3", "tag4": "value4",
      "tag5": "value5"}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTI=
    method: PUT
    uri: https://kvtest000002.azconfig.io/kv/KeyWithTags?api-version=2026-05-01-preview&label=labelWithTags
  response:
    body:
      string: '{"etag":"n6pcBxfYR_lSN-s1Z1t3QGfJzMSGBsDtiws9ZCxlRD0","key":"KeyWithTags","label":"labelWithTags","content_type":"","value":"","description":null,"tags":{"tag1":"value1","tag2":"value2","tag3":"value3","tag4":"value4","tag5":"value5"},"locked":false,"last_modified":"2026-09-01T09:05:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"n6pcBxfYR_lSN-s1Z1t3QGfJzMSGBsDtiws9ZCxlRD0"'
      last-modified:
      - Tue, 01 Sep 2026 09:05:02 GMT
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTM=;sn=82840213
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:02 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv?%24select=&api-version=2026-05-01-preview&key=KeyWithTags&label=%2A&tags=tag1%3Dvalue1&tags=tag2%3Dvalue2&tags=tag3%3Dvalue3&tags=tag4%3Dvalue4&tags=tag5%3Dvalue5
  response:
    body:
      string: '{"etag":"ANGb8gnvojpGK6w2Vcy7d_F6fuBCbW8HEo3Njdxj7Bo","items":[{"etag":"n6pcBxfYR_lSN-s1Z1t3QGfJzMSGBsDtiws9ZCxlRD0","key":"KeyWithTags","label":"labelWithTags","content_type":"","value":"","description":null,"tags":{"tag1":"value1","tag2":"value2","tag3":"value3","tag4":"value4","tag5":"value5"},"locked":false,"last_modified":"2026-09-01T09:05:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"ANGb8gnvojpGK6w2Vcy7d_F6fuBCbW8HEo3Njdxj7Bo"'
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTM=;sn=82840213
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:03 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv/KeyWithTags?api-version=2026-05-01-preview&label=labelWithTag1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTM=;sn=82840213
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:04 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv?%24select=&api-version=2026-05-01-preview&key=KeyWithTags&label=%2A&tags=tag1%3Dvalue1
  response:
    body:
      string: '{"etag":"ZvXbq63Lf51WZuYF89gyxK77ScymZfa8W6ekxTB70nE","items":[{"etag":"6enXK4EvfZG9V256IXEMfF4qTWunGezG99KB42QMw2c","key":"KeyWithTags","label":"labelWithTag1","content_type":"","value":"","description":null,"tags":{"tag1":"value1"},"locked":false,"last_modified":"2026-09-01T09:05:05+00:00"},{"etag":"n6pcBxfYR_lSN-s1Z1t3QGfJzMSGBsDtiws9ZCxlRD0","key":"KeyWithTags","label":"labelWithTags","content_type":"","value":"","description":null,"tags":{"tag1":"value1","tag2":"value2","tag3":"value3","tag4":"value4","tag5":"value5"},"locked":false,"last_modified":"2026-09-01T09:05:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"ZvXbq63Lf51WZuYF89gyxK77ScymZfa8W6ekxTB70nE"'
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTg=;sn=82840218
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:06 GMT
      x-ms-item-count:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv/KeyWithTags?api-version=2026-05-01-preview&label=labelWithEmptyTagValue
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTg=;sn=82840218
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:07 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv?%24select=&api-version=2026-05-01-preview&key=KeyWithTags&label=%2A&tags=tag1%3D
  response:
    body:
      string: '{"etag":"L4y7Phe0ZZOAOnvgxHk-tO6ziEqDNKPovILNXftHVnc","items":[{"etag":"NB6wki3bYt1DvwdcdgG6VXgUHyg_bDhupyEHRTkyoIA","key":"KeyWithTags","label":"labelWithEmptyTagValue","content_type":"","value":"","description":null,"tags":{"tag1":""},"locked":false,"last_modified":"2026-09-01T09:05:08+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"L4y7Phe0ZZOAOnvgxHk-tO6ziEqDNKPovILNXftHVnc"'
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTk=;sn=82840219
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:09 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv?%24select=&api-version=2026-05-01-preview&key=KeyWithTags&label=%2A
  response:
    body:
      string: '{"etag":"rfRT2GNAR6g0fEkLuaQH8pfKlQA2BhApnTHnGbRnAD8","items":[{"etag":"NB6wki3bYt1DvwdcdgG6VXgUHyg_bDhupyEHRTkyoIA","key":"KeyWithTags","label":"labelWithEmptyTagValue","content_type":"","value":"","description":null,"tags":{"tag1":""},"locked":false,"last_modified":"2026-09-01T09:05:08+00:00"},{"etag":"6enXK4EvfZG9V256IXEMfF4qTWunGezG99KB42QMw2c","key":"KeyWithTags","label":"labelWithTag1","content_type":"","value":"","description":null,"tags":{"tag1":"value1"},"locked":false,"last_modified":"2026-09-01T09:05:05+00:00"},{"etag":"n6pcBxfYR_lSN-s1Z1t3QGfJzMSGBsDtiws9ZCxlRD0","key":"KeyWithTags","label":"labelWithTags","content_type":"","value":"","description":null,"tags":{"tag1":"value1","tag2":"value2","tag3":"value3","tag4":"value4","tag5":"value5"},"locked":false,"last_modified":"2026-09-01T09:05:02+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"rfRT2GNAR6g0fEkLuaQH8pfKlQA2BhApnTHnGbRnAD8"'
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMTk=;sn=82840219
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:10 GMT
      x-ms-item-count:
      - '3'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv/DescKey?api-version=2026-05-01-preview
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMjE=;sn=82840221
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:13 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://kvtest000002.azconfig.io/kv?%24select=description&api-version=2026-05-01-preview&key=DescKey&label=%2A
  response:
    body:
      string: '{"etag":"uXkuyHRIwfPXF6YwD2z2rqWrbj4Kgb98uTtfPREtEAI","items":[{"description":"The
        theme color"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"uXkuyHRIwfPXF6YwD2z2rqWrbj4Kgb98uTtfPREtEAI"'
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMjI=;sn=82840222
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:16 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "DescKey", "value": "Green", "content_type": "", "tags": {}, "locked":
      false, "etag": "mgNxH8e8AsJPJvl28ebkovfV8GIuLtfSHE6gxgSKv6Y", "description":
      "The updated theme color"}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"mgNxH8e8AsJPJvl28ebkovfV8GIuLtfSHE6gxgSKv6Y"'
      Sync-Token:
      - zAJw6V16=MTI6MTkjODI4NDAyMjQ=
    method: PUT
    uri: https://kvtest000002.azconfig.io/kv/DescKey?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag":"0slIEi4p6dtzwsmW5PdvlCxOkGLpX8Pr81sH3bqDS0g","key":"DescKey","label":null,"content_type":"","value":"Green","description":"The
        updated theme color","tags":{},"locked":false,"last_modified":"2026-09-01T09:05:20+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0slIEi4p6dtzwsmW5PdvlCxOkGLpX8Pr81sH3bqDS0g"'
      last-modified:
      - Tue, 01 Sep 2026 09:05:20 GMT
      sync-token:
      - zAJw6V16=MTI6MTkjODI4NDAyMjU=;sn=82840225
      x-ms-date:
      - Tue, 01 Sep 2026 09:05:20 GMT
    status:
      code: 200
      message: OK
version: 1
