interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-10-07T19:57:02.2638957+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/d333e48a-ce18-6bef-7d59-b85394264454?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/d333e48a-ce18-6bef-7d59-b85394264454?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/d333e48a-ce18-6bef-7d59-b85394264454","name":"d333e48a-ce18-6bef-7d59-b85394264454","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/d333e48a-ce18-6bef-7d59-b85394264454?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-10-07T19:57:08+00:00","endpoint":"https://importtestfuxvsgzisdhijw.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtestfuxvsgzisdhijw","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"36006bf8-0000-0100-0000-5d9b98940000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"Z6DH-l0-s0:w+NVr2BoUULrpB6x6QC3","name":"Primary","value":"MPRcN5L8Et0wuGil3d2QhgE3F+XyL3OZR52mJS+cpks=","connectionString":"Endpoint=https://importtestfuxvsgzisdhijw.azconfig.io;Id=Z6DH-l0-s0:w+NVr2BoUULrpB6x6QC3;Secret=MPRcN5L8Et0wuGil3d2QhgE3F+XyL3OZR52mJS+cpks=","lastModified":"2019-10-07T19:57:02+00:00","readOnly":false},{"id":"vroq-l0-s0:s0TJA2jJu+vupECYGkjF","name":"Secondary","value":"OLm6DvFgkqpmBObYwBLddelNcQvw8Bxv+PoBTcGd8BE=","connectionString":"Endpoint=https://importtestfuxvsgzisdhijw.azconfig.io;Id=vroq-l0-s0:s0TJA2jJu+vupECYGkjF;Secret=OLm6DvFgkqpmBObYwBLddelNcQvw8Bxv+PoBTcGd8BE=","lastModified":"2019-10-07T19:57:02+00:00","readOnly":false},{"id":"VXXr-l0-s0:WZbSJaLjn2sXhidb3mZG","name":"Primary
        Read Only","value":"JfWJkAF9t2L6rXynSlNSEBmATgJDnnaK6jzrlQYNC6M=","connectionString":"Endpoint=https://importtestfuxvsgzisdhijw.azconfig.io;Id=VXXr-l0-s0:WZbSJaLjn2sXhidb3mZG;Secret=JfWJkAF9t2L6rXynSlNSEBmATgJDnnaK6jzrlQYNC6M=","lastModified":"2019-10-07T19:57:02+00:00","readOnly":true},{"id":"h55j-l0-s0:iHy8pl9F+5wTrHzaMIWA","name":"Secondary
        Read Only","value":"tDRYkh/gpGtBePtnsa/VmI6/mmmYlwAQmwT5fpU/Cm4=","connectionString":"Endpoint=https://importtestfuxvsgzisdhijw.azconfig.io;Id=h55j-l0-s0:iHy8pl9F+5wTrHzaMIWA;Secret=tDRYkh/gpGtBePtnsa/VmI6/mmmYlwAQmwT5fpU/Cm4=","lastModified":"2019-10-07T19:57:02+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Oct, 07 2019 19:57:20 GMT
    method: PUT
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv/BackgroundColor?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"ktAi1m0WTwLPvfyibzngDaMszBT","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:20+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ktAi1m0WTwLPvfyibzngDaMszBT"'
      last-modified:
      - Mon, 07 Oct 2019 19:57:20 GMT
      sync-token:
      - zAJw6V16=MzotMSM0ODc1MDE=;sn=487501
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Oct, 07 2019 19:57:20 GMT
    method: PUT
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv/Language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"W2DpveZzHpwuCMmnvwUyNNiKtMP","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"W2DpveZzHpwuCMmnvwUyNNiKtMP"'
      last-modified:
      - Mon, 07 Oct 2019 19:57:21 GMT
      sync-token:
      - zAJw6V16=MzotMSM0ODc1MDI=;sn=487502
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Oct, 07 2019 19:57:20 GMT
    method: PUT
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv/Langugage?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"h6hrCQxoDwEQsRxkh1wrSuy9PqM","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"h6hrCQxoDwEQsRxkh1wrSuy9PqM"'
      last-modified:
      - Mon, 07 Oct 2019 19:57:21 GMT
      sync-token:
      - zAJw6V16=MzotMSM0ODc1MDM=;sn=487503
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Oct, 07 2019 19:57:20 GMT
    method: PUT
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"akPvbEPqzp9Z8SSiDo4ojVfXYJB","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"akPvbEPqzp9Z8SSiDo4ojVfXYJB"'
      last-modified:
      - Mon, 07 Oct 2019 19:57:21 GMT
      sync-token:
      - zAJw6V16=MzotMSM0ODc1MDQ=;sn=487504
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Oct, 07 2019 19:57:20 GMT
    method: PUT
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"ThXkifhoTmwfCaLtIsKfhIAjDc4","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ThXkifhoTmwfCaLtIsKfhIAjDc4"'
      last-modified:
      - Mon, 07 Oct 2019 19:57:21 GMT
      sync-token:
      - zAJw6V16=MzotMSM0ODc1MDU=;sn=487505
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Oct, 07 2019 19:57:21 GMT
    method: PUT
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv/abc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"OZc7p8DEJuhNiEWXo08AOS0BOol","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OZc7p8DEJuhNiEWXo08AOS0BOol"'
      last-modified:
      - Mon, 07 Oct 2019 19:57:21 GMT
      sync-token:
      - zAJw6V16=MzotMSM0ODc1MDg=;sn=487508
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Oct, 07 2019 19:57:21 GMT
    method: PUT
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv/appabc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"KK6DFFlgv0qlm2LOv29hZgU0jM8","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"KK6DFFlgv0qlm2LOv29hZgU0jM8"'
      last-modified:
      - Mon, 07 Oct 2019 19:57:21 GMT
      sync-token:
      - zAJw6V16=MzotMSM0ODc1MDk=;sn=487509
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Oct, 07 2019 19:57:21 GMT
    method: PUT
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv/background-color?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"72dNOoCI2H73Jvcy5VcQLJ3jUIu","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"72dNOoCI2H73Jvcy5VcQLJ3jUIu"'
      last-modified:
      - Mon, 07 Oct 2019 19:57:21 GMT
      sync-token:
      - zAJw6V16=MzotMSM0ODc1MTA=;sn=487510
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Oct, 07 2019 19:57:21 GMT
    method: PUT
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv/font-size?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"VxaMQmiVUBMHQPeKFXclKCTSXEf","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VxaMQmiVUBMHQPeKFXclKCTSXEf"'
      last-modified:
      - Mon, 07 Oct 2019 19:57:22 GMT
      sync-token:
      - zAJw6V16=MzotMSM0ODc1MTE=;sn=487511
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Oct, 07 2019 19:57:21 GMT
    method: PUT
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv/language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"ZeX7kWcNA0EmBZmtZrkeQ87FwtS","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZeX7kWcNA0EmBZmtZrkeQ87FwtS"'
      last-modified:
      - Mon, 07 Oct 2019 19:57:22 GMT
      sync-token:
      - zAJw6V16=MzotMSM0ODc1MTI=;sn=487512
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:57:22 GMT
    method: GET
    uri: https://importtestfuxvsgzisdhijw.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"ktAi1m0WTwLPvfyibzngDaMszBT","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:20+00:00"},{"etag":"W2DpveZzHpwuCMmnvwUyNNiKtMP","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-10-07T19:57:21+00:00"},{"etag":"h6hrCQxoDwEQsRxkh1wrSuy9PqM","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
