interactions:
- request:
    body: '{"tags": {"cause": "automation", "product": "azurecli", "date": "2019-06-28T20:49:22Z"},
      "location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"cause":"automation","product":"azurecli","date":"2019-06-28T20:49:22Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-06-28T20:49:30.5380491+00:00","endpoint":"https://ImportTest.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest","name":"ImportTest","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/8ac2bb6f-96cc-2be6-e12e-91f8cd71ed16?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/8ac2bb6f-96cc-2be6-e12e-91f8cd71ed16?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/8ac2bb6f-96cc-2be6-e12e-91f8cd71ed16","name":"8ac2bb6f-96cc-2be6-e12e-91f8cd71ed16","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/8ac2bb6f-96cc-2be6-e12e-91f8cd71ed16?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-06-28T20:49:31+00:00","endpoint":"https://importtest.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtest","name":"ImportTest","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8d020671-0000-0100-0000-5d167d5b0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-05-13T20:46:04+00:00","endpoint":"https://configstore.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/abarora-test/providers/Microsoft.AppConfiguration/configurationStores/configstore","name":"configstore","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"0-l0-s0:MfKW+wnPiWsDAYERyR3G","name":"Primary","value":"b1xq6nMvyodyt3pKxOFt2w/mJv8qf0smRXnbDWWzUc0=","connectionString":"Endpoint=https://importtest.azconfig.io;Id=0-l0-s0:MfKW+wnPiWsDAYERyR3G;Secret=b1xq6nMvyodyt3pKxOFt2w/mJv8qf0smRXnbDWWzUc0=","lastModified":"2019-06-28T20:49:30+00:00","readOnly":false},{"id":"1-l0-s0:bGCXYiOcosPnQtldVUYI","name":"Secondary","value":"D7tdwO76fOfWjqBKWbywPp7kOAIDeaLhEScL0D8yEFM=","connectionString":"Endpoint=https://importtest.azconfig.io;Id=1-l0-s0:bGCXYiOcosPnQtldVUYI;Secret=D7tdwO76fOfWjqBKWbywPp7kOAIDeaLhEScL0D8yEFM=","lastModified":"2019-06-28T20:49:30+00:00","readOnly":false},{"id":"2-l0-s0:mDb2stfatmRmM/fdIe0x","name":"Primary
        Read Only","value":"G8JqE+tCPPEUno1A0CLCE3i52sPblXdRRn+9kdSoZIQ=","connectionString":"Endpoint=https://importtest.azconfig.io;Id=2-l0-s0:mDb2stfatmRmM/fdIe0x;Secret=G8JqE+tCPPEUno1A0CLCE3i52sPblXdRRn+9kdSoZIQ=","lastModified":"2019-06-28T20:49:30+00:00","readOnly":true},{"id":"3-l0-s0:T+qXwBnwomAEg6ZGaHN2","name":"Secondary
        Read Only","value":"TS21H7H1+6iZ14gZCGbGSg5YJw5/5f+KJ7FDr8N7dSM=","connectionString":"Endpoint=https://importtest.azconfig.io;Id=3-l0-s0:T+qXwBnwomAEg6ZGaHN2;Secret=TS21H7H1+6iZ14gZCGbGSg5YJw5/5f+KJ7FDr8N7dSM=","lastModified":"2019-06-28T20:49:30+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "black", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - laSkDBOh4TgcfOlqgmFpVB0oEZ0a7zGk9LXOE1UMmvc=
      x-ms-date:
      - Jun, 28 2019 20:49:43 GMT
    method: PUT
    uri: https://importtest.azconfig.io/kv/background-color?label=
  response:
    body:
      string: '{"etag":"pGtuigitVzRMW4JZE014AIFIDm0","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pGtuigitVzRMW4JZE014AIFIDm0"'
      last-modified:
      - Fri, 28 Jun 2019 20:49:44 GMT
      sync-token:
      - zAJw6V16=MjotMSMxMjM1ODM=;sn=123583
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - GIGCzRSH5WL1hUgTcqpMnssR9mdjISByNjIoQc0gtmY=
      x-ms-date:
      - Jun, 28 2019 20:49:43 GMT
    method: PUT
    uri: https://importtest.azconfig.io/kv/abc?label=
  response:
    body:
      string: '{"etag":"rEwhT05zVm8f7waW3xdEBeB1qkt","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"rEwhT05zVm8f7waW3xdEBeB1qkt"'
      last-modified:
      - Fri, 28 Jun 2019 20:49:44 GMT
      sync-token:
      - zAJw6V16=MjotMSMxMjM1ODQ=;sn=123584
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "ship3", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 4w9qFg8wmufaK6aXMkvqveqVZjBHsXCcANNoHXR+N9I=
      x-ms-date:
      - Jun, 28 2019 20:49:43 GMT
    method: PUT
    uri: https://importtest.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F2?label=
  response:
    body:
      string: '{"etag":"tqDYODDtGNDOkJTGydjW9bwJKis","key":"Settings:BackgroundColor/ship/2","label":null,"content_type":null,"value":"ship3","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tqDYODDtGNDOkJTGydjW9bwJKis"'
      last-modified:
      - Fri, 28 Jun 2019 20:49:44 GMT
      sync-token:
      - zAJw6V16=MjotMSMxMjM1ODU=;sn=123585
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "spanish", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - aVb3BIvyBaJrSEkjabI3v9P75zhE20vFl5Rne+f6aj8=
      x-ms-date:
      - Jun, 28 2019 20:49:43 GMT
    method: PUT
    uri: https://importtest.azconfig.io/kv/Language?label=
  response:
    body:
      string: '{"etag":"2oSZf7Tx55FoFrouUQO6VArslEs","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2oSZf7Tx55FoFrouUQO6VArslEs"'
      last-modified:
      - Fri, 28 Jun 2019 20:49:44 GMT
      sync-token:
      - zAJw6V16=MjotMSMxMjM1ODc=;sn=123587
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "Acura", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - fyaHTxRATkmOZ051ew38r91AUaf7kroEl4yOEMQ/KZU=
      x-ms-date:
      - Jun, 28 2019 20:49:44 GMT
    method: PUT
    uri: https://importtest.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=
  response:
    body:
      string: '{"etag":"kPYq6C5epzshsb1WZYeyVxvJCsO","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kPYq6C5epzshsb1WZYeyVxvJCsO"'
      last-modified:
      - Fri, 28 Jun 2019 20:49:44 GMT
      sync-token:
      - zAJw6V16=MjotMSMxMjM1ODg=;sn=123588
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "34", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - /cKYRH89eYQH+w7b6b3+GYQPAJbAjhV+9LV9Ot0gajE=
      x-ms-date:
      - Jun, 28 2019 20:49:44 GMT
    method: PUT
    uri: https://importtest.azconfig.io/kv/font-size?label=
  response:
    body:
      string: '{"etag":"CfeTucGwdVZiyfrao2XD4WX9HSw","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CfeTucGwdVZiyfrao2XD4WX9HSw"'
      last-modified:
      - Fri, 28 Jun 2019 20:49:44 GMT
      sync-token:
      - zAJw6V16=MjotMSMxMjM1ODk=;sn=123589
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - GIGCzRSH5WL1hUgTcqpMnssR9mdjISByNjIoQc0gtmY=
      x-ms-date:
      - Jun, 28 2019 20:49:44 GMT
    method: PUT
    uri: https://importtest.azconfig.io/kv/appabc?label=
  response:
    body:
      string: '{"etag":"e1dg7wCI4kzFfh3CMGJpCAOkPb2","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"e1dg7wCI4kzFfh3CMGJpCAOkPb2"'
      last-modified:
      - Fri, 28 Jun 2019 20:49:44 GMT
      sync-token:
      - zAJw6V16=MjotMSMxMjM1OTA=;sn=123590
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "spanish", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - aVb3BIvyBaJrSEkjabI3v9P75zhE20vFl5Rne+f6aj8=
      x-ms-date:
      - Jun, 28 2019 20:49:44 GMT
    method: PUT
    uri: https://importtest.azconfig.io/kv/language?label=
  response:
    body:
      string: '{"etag":"7tzkwp0ZJhvRGng5uehOzT5qOlC","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7tzkwp0ZJhvRGng5uehOzT5qOlC"'
      last-modified:
      - Fri, 28 Jun 2019 20:49:45 GMT
      sync-token:
      - zAJw6V16=MjotMSMxMjM1OTE=;sn=123591
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "red", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - NXFxiaRE5oHTwPocLO3hAqFZgg6XnlGnMcHqrYTXOS8=
      x-ms-date:
      - Jun, 28 2019 20:49:44 GMT
    method: PUT
    uri: https://importtest.azconfig.io/kv/BackgroundColor?label=
  response:
    body:
      string: '{"etag":"CFZOiuWZHcoaHeLHGYvUlD4l8bt","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CFZOiuWZHcoaHeLHGYvUlD4l8bt"'
      last-modified:
      - Fri, 28 Jun 2019 20:49:45 GMT
      sync-token:
      - zAJw6V16=MjotMSMxMjM1OTM=;sn=123593
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "English", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - B1lATNGuLHHr35ML1BYl1mWxurNai87HTX0vVKmZFpA=
      x-ms-date:
      - Jun, 28 2019 20:49:44 GMT
    method: PUT
    uri: https://importtest.azconfig.io/kv/Langugage?label=
  response:
    body:
      string: '{"etag":"xGVRuM6Aq94no6L9zID0VuePEHQ","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:45+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"xGVRuM6Aq94no6L9zID0VuePEHQ"'
      last-modified:
      - Fri, 28 Jun 2019 20:49:45 GMT
      sync-token:
      - zAJw6V16=MjotMSMxMjM1OTQ=;sn=123594
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2019 20:49:46 GMT
    method: GET
    uri: https://importtest.azconfig.io/kv?key=*&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"CFZOiuWZHcoaHeLHGYvUlD4l8bt","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:45+00:00"},{"etag":"2oSZf7Tx55FoFrouUQO6VArslEs","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-06-28T20:49:44+00:00"},{"etag":"xGVRuM6Aq94no6L9zID0VuePEHQ","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdJNE0zNUwyTFJQWU00SkxSUUFZVVBTNUJFSlpQT0FPQVhKU3w3RjUzQUNDNjlBNTU4Qzc2LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
