interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"createMode":
      "Default", "softDeleteRetentionInDays": 1, "dataPlaneProxy": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2025-06-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-02-10T09:11:13.538476+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "managedOnBehalfOfConfiguration":
        null, "azureFrontDoor": null}, "sku": {"name": "Standard"}, "systemData":
        null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002",
        "name": "StrictImportTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.FWq4PAfwtY6Rs_N4ipZOLpAVQ0iGbCGS2uaK7I0DObs?api-version=2025-06-01-preview&t=639063114737345916&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjYwMTMxMDkxODAyWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.FWq4PAfwtY6Rs_N4ipZOLpAVQ0iGbCGS2uaK7I0DObs?api-version=2025-06-01-preview&t=639063114737345916&c=MIIHpTCCBo2gAwIBAgITfwaYHapxdJBcIqiD1AAEBpgdqjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2025-06-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-02-10T09:11:13+00:00", "endpoint": "https://strictimporttestzjjms6wq.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "managedOnBehalfOfConfiguration": null, "azureFrontDoor": {"resourceId":
        null}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "test@example.com",
        "createdByType": "User", "createdAt": "2026-02-10T09:11:13+00:00", "lastModifiedBy":
        "test@example.com", "lastModifiedByType": "User", "lastModifiedAt": "2026-02-10T09:11:13+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/strictimporttestzjjms6wq",
        "name": "StrictImportTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"310078f5-0000-0100-0000-698af6330000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview&$skiptoken=3ZrfUyI5EMf/F%2BrqnoworkedVVtXOZ29ZVfBG6C4tXgJQ8AgzMxlZsQf5f9%2B3Z0xBGQf7rF5VEutD9%2Bk0%2Bl8XhupfiqvTfpQNC5eG6OoP7iMuoNYXg/7jYvGfVnmxUWzuVKpmuuVTstj9VJZfZxkq2ZRTYrEmrw0WVo02%2B3puZqc/CbaejoVn7ROxCTRv4vzVnJ6OmmfTyZn7WZus0cz1bZo3pjEZkU2K49lnl9m6czMK6vwTzWT8Kt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview&$skiptoken=3ZDNToUwEIXfpTGuLAWuSCS5McSYuJCYyHXHppS52CBtnQ5wI%2BHdrT%2BJPoPLOXPmTL6zMgMnetBm8KxY2V1ZH55rVrAXIucLIUZpZA8jGIrk%2B4QQKTsKP7VeoXakrfEiz7tMtvEVz6Hr%2BCWA4q2Ca56lKknaPGvbXS4c2ll3gF5UWqH19khR6dytNUfdTyg/o4T6O9VkEfyNdJrP4S7s92mcZjw8ihPuEGYNy/mZH7Q72AHMfpg9kB6dR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview&$skiptoken=3ZDdSsQwEIXfJYhXpmmrNVhYpIjghUWw611v0mS2hm6T7CTtqqXvbvyB9Rm8nDNnzvCdhRh4C4/aDJ6UC7mvmu1LQ0ryGoLzJWOjMKKHEUxIxMeEkEg7Mj91XqJ2QVvjGeeqEF16TTkoRa8AJO0k3NAil1nW8aLrLjlzaGetAD2rtUTr7S4klXN31ux0P6H4imLy79QEi%2BBvhdN0jndxv8nTvKDxUZpRhzBrOJ6f%2BUG7rR3AbLydUALM8l1Of[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-06-01-preview&$skiptoken=3ZBBS8QwEIX/SxBPpmmrtVhYpIjgwSLY9dbLNJnNhm6TkKSrtvS/G13B/Q0e582bN3xvIRo/wrPSgyfVQh7rdvvWkorsQ7C%2BYmwEDRJH1CGBeXKYcDMyP/WeO2WDMtqzshQF9OktLVEIeoPIac/xjhY5z7K%2BLPr%2BumTWmaMS6DxrFHfGm11IamsfjN4pOTn4jmL8fGqDcejvwSp6jHdxv8nTvKDxUZpR6/Co8P3ywg/Kbs2AejPv1ecE%2BqBASwrzKYwG9IGsV3%2BYL/rJHESEjSK4sZbSoYSA4iclotevDTn5G3ADuigt3W8zHam6/9VNR1ayfgE%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - bb115183-7303-4ec4-95ba-29f48b52df41
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002/listKeys?api-version=2025-06-01-preview
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://strictimporttestzjjms6wq.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2026-02-10T09:11:13+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://strictimporttestzjjms6wq.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2026-02-10T09:11:13+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://strictimporttestzjjms6wq.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2026-02-10T09:11:13+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://strictimporttestzjjms6wq.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2026-02-10T09:11:13+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 10 2026 09:12:09.293756 GMT
    method: GET
    uri: https://strictimporttestzjjms6wq.azconfig.io/kv?api-version=2023-11-01&key=%2A&label=%2A&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTY0;sn=121777964
      x-ms-date:
      - Tue, 10 Feb 2026 09:12:11 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTY0
      x-ms-content-sha256:
      - XfVmY6mHK5niimvIfZBediB8mxvvoJNnoCsQAgDPJE4=
      x-ms-date:
      - Feb, 10 2026 09:12:10.436593 GMT
    method: PUT
    uri: https://strictimporttestzjjms6wq.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?api-version=2023-11-01&label=beta-feature
  response:
    body:
      string: '{"etag":"K8iVB5LO1Da3HxySRx4jaN6Wmsbk7SnVvlq3B1Y1n54","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2026-02-10T09:12:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"K8iVB5LO1Da3HxySRx4jaN6Wmsbk7SnVvlq3B1Y1n54"'
      last-modified:
      - Tue, 10 Feb 2026 09:12:12 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTY1;sn=121777965
      x-ms-date:
      - Tue, 10 Feb 2026 09:12:12 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "value": "{\"id\": \"bool-feature\",
      \"description\": \"It is a boolean feature\", \"enabled\": true, \"conditions\":
      {\"client_filters\": []}, \"display_name\": null}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTY1
      x-ms-content-sha256:
      - nU/n[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTY2
      x-ms-content-sha256:
      - SuRnED3B/xk9iepz4V+dPDARCGFFrkieX25EUvckyMs=
      x-ms-date:
      - Feb, 10 2026 09:12:12.165804 GMT
    method: PUT
    uri: https://strictimporttestzjjms6wq.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enable[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "value": "#FBB", "content_type":
      "", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTY3
      x-ms-content-sha256:
      - P/eiKYvNFap7+8oG9PMv11SZDGiQEt0a24bL2lJb/D8=
      x-ms-date:
      - Feb, 10 2026 09:12:12.926559 GMT
    method: PUT
    uri: https://strictimporttestzjjms6wq.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"bh3QYs-b2vEz_6SJxTdT5Fh17HK53fK3pWfnhGn1zCE","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2026-02-10T09:12:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bh3QYs-b2vEz_6SJxTdT5Fh17HK53fK3pWfnhGn1zCE"'
      last-modified:
      - Tue, 10 Feb 2026 09:12:14 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTY4;sn=121777968
      x-ms-date:
      - Tue, 10 Feb 2026 09:12:14 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "value": "#999", "content_type":
      "", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTY4
      x-ms-content-sha256:
      - tzgVo/GrS9NvhJaGCbl6kjKon6dAZQfG+0MBdBgfTDE=
      x-ms-date:
      - Feb, 10 2026 09:12:13.722112 GMT
    method: PUT
    uri: https://strictimporttestzjjms6wq.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"0XB5X9E7tkNpoibJ8tW5WfQzcaXsjCD2N1c6lMHgFKo","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2026-02-10T09:12:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0XB5X9E7tkNpoibJ8tW5WfQzcaXsjCD2N1c6lMHgFKo"'
      last-modified:
      - Tue, 10 Feb 2026 09:12:15 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTY5;sn=121777969
      x-ms-date:
      - Tue, 10 Feb 2026 09:12:15 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "value": "30", "content_type": "",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTY5
      x-ms-content-sha256:
      - GSGWU9Lyxx/xjejKEzzSQwJwlc8adsQVunL6U8dJ96U=
      x-ms-date:
      - Feb, 10 2026 09:12:14.536090 GMT
    method: PUT
    uri: https://strictimporttestzjjms6wq.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"znPtMVGvL0rH_ebNwza5H9_R_Q8RyGneHx4MTUwPRI0","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2026-02-10T09:12:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"znPtMVGvL0rH_ebNwza5H9_R_Q8RyGneHx4MTUwPRI0"'
      last-modified:
      - Tue, 10 Feb 2026 09:12:16 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTcx;sn=121777971
      x-ms-date:
      - Tue, 10 Feb 2026 09:12:16 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "value": "Dada dada, doda!", "content_type":
      "", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTcx
      x-ms-content-sha256:
      - CLm81+Dpk1peW59sBG1KujF8I25c4PcMTYxxaeY20po=
      x-ms-date:
      - Feb, 10 2026 09:12:15.328211 GMT
    method: PUT
    uri: https://strictimporttestzjjms6wq.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"DiSxwDeaAUhXxFML24vTbIUVIsJp4CR3FI1HTOmIs6c","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2026-02-10T09:12:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DiSxwDeaAUhXxFML24vTbIUVIsJp4CR3FI1HTOmIs6c"'
      last-modified:
      - Tue, 10 Feb 2026 09:12:17 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTcz;sn=121777973
      x-ms-date:
      - Tue, 10 Feb 2026 09:12:17 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTcz
      x-ms-content-sha256:
      - axQZLOMsqzW6LUqVxxn91F8hD2BjIdOnBQqcbJeTL8M=
      x-ms-date:
      - Feb, 10 2026 09:12:16.354490 GMT
    method: PUT
    uri: https://strictimporttestzjjms6wq.azconfig.io/kv/pratik-top-secret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"d1WPoLQ60wNhJC43sbhAr6GCN_-xnkKVEvKIxZjRnJI","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2026-02-10T09:12:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"d1WPoLQ60wNhJC43sbhAr6GCN_-xnkKVEvKIxZjRnJI"'
      last-modified:
      - Tue, 10 Feb 2026 09:12:18 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTc1;sn=121777975
      x-ms-date:
      - Tue, 10 Feb 2026 09:12:18 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "value": "sample-1-testvalue",
      "content_type": "text/json", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTc1
      x-ms-content-sha256:
      - 2tG6Ot/5hvdDLdrBuOCnmxLuZg/vCiwktIXssKohRVQ=
      x-ms-date:
      - Feb, 10 2026 09:12:17.208690 GMT
    method: PUT
    uri: https://strictimporttestzjjms6wq.azconfig.io/kv/sample-1-testkey?api-version=2023-11-01&label=sample-1
  response:
    body:
      string: '{"etag":"Hz4uwEO-RSLllRP4E9DZ0UUM5Aq5Q2eLsbp6CFJES1g","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2026-02-10T09:12:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Hz4uwEO-RSLllRP4E9DZ0UUM5Aq5Q2eLsbp6CFJES1g"'
      last-modified:
      - Tue, 10 Feb 2026 09:12:19 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjMTIxNzc3OTc3;sn=121777977
      x-ms-date:
      - Tue, 10 Feb 2026 09:12:19 GMT
    status:
      code: 200
      message: OK
[...]
