interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-02-24T21:03:55.4873477+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2dc9b6c1-7e87-32ef-ce1d-8765e20b5b6c?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2dc9b6c1-7e87-32ef-ce1d-8765e20b5b6c?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2dc9b6c1-7e87-32ef-ce1d-8765e20b5b6c","name":"2dc9b6c1-7e87-32ef-ce1d-8765e20b5b6c","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2dc9b6c1-7e87-32ef-ce1d-8765e20b5b6c?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-02-24T21:03:55+00:00","endpoint":"https://kvtest2likz4gps47xnmzqez.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-02-24T21:03:55+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-24T21:03:56+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtest2likz4gps47xnmzqez","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0a0008a2-0000-0100-0000-6217f2bc0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"pabA-l0-s0:7cQ2bXqHpHry113Pbwy4","name":"Primary","value":"DT9p8vqaVAyPaNUCUrpyR227B2Oo8aDfgMLjkzn0u+Y=","connectionString":"Endpoint=https://kvtest2likz4gps47xnmzqez.azconfig.io;Id=pabA-l0-s0:7cQ2bXqHpHry113Pbwy4;Secret=DT9p8vqaVAyPaNUCUrpyR227B2Oo8aDfgMLjkzn0u+Y=","lastModified":"2022-02-24T21:03:55+00:00","readOnly":false},{"id":"vX0j-l0-s0:FYjXmEuK1WDiDN0xOedX","name":"Secondary","value":"Smg7dNJlo0uRChVY48eGBIX5gBDDmNKaMMr790z1/JE=","connectionString":"Endpoint=https://kvtest2likz4gps47xnmzqez.azconfig.io;Id=vX0j-l0-s0:FYjXmEuK1WDiDN0xOedX;Secret=Smg7dNJlo0uRChVY48eGBIX5gBDDmNKaMMr790z1/JE=","lastModified":"2022-02-24T21:03:55+00:00","readOnly":false},{"id":"nEpo-l0-s0:VRBSPHk7GGpM6mRawqIW","name":"Primary
        Read Only","value":"8VC9aoIvuuc+G317WsHinHCSdVSUS9xbmIEubKNMb3E=","connectionString":"Endpoint=https://kvtest2likz4gps47xnmzqez.azconfig.io;Id=nEpo-l0-s0:VRBSPHk7GGpM6mRawqIW;Secret=8VC9aoIvuuc+G317WsHinHCSdVSUS9xbmIEubKNMb3E=","lastModified":"2022-02-24T21:03:55+00:00","readOnly":true},{"id":"eFVn-l0-s0:frYb0cTtsAeXKqsz4t3W","name":"Secondary
        Read Only","value":"g9roduHRe0gxOg4bmwne0NX5e2ahqY4qGBuE4vef0W0=","connectionString":"Endpoint=https://kvtest2likz4gps47xnmzqez.azconfig.io;Id=eFVn-l0-s0:frYb0cTtsAeXKqsz4t3W;Secret=g9roduHRe0gxOg4bmwne0NX5e2ahqY4qGBuE4vef0W0=","lastModified":"2022-02-24T21:03:55+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:04:08 GMT
    method: GET
    uri: https://kvtest2likz4gps47xnmzqez.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Feb, 24 2022 21:04:09 GMT
    method: PUT
    uri: https://kvtest2likz4gps47xnmzqez.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"tP79gO5M0D7etwCyLSAhYyB8LCb","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2022-02-24T21:04:09+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tP79gO5M0D7etwCyLSAhYyB8LCb"'
      last-modified:
      - Thu, 24 Feb 2022 21:04:09 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQwMQ==;sn=11430401
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"tP79gO5M0D7etwCyLSAhYyB8LCb"'
      Sync-Token:
      - zAJw6V16=NDoxOSMxMTQzMDQwMQ==
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Feb, 24 2022 21:04:11 GMT
    method: PUT
    uri: https://kvtest2likz4gps47xnmzqez.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"87T2JSpZYWdDelP4tg3jFqpOzJh","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2022-02-24T21:04:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"87T2JSpZYWdDelP4tg3jFqpOzJh"'
      last-modified:
      - Thu, 24 Feb 2022 21:04:12 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQwMg==;sn=11430402
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:04:33 GMT
    method: GET
    uri: https://kvtest2likz4gps47xnmzqez.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:04:38 GMT
    method: GET
    uri: https://kvtest2likz4gps47xnmzqez.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"JwA12zCOvtaTAOIqPPPATg4Lwjr","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2022-02-24T21:04:34+00:00"},{"etag":"87T2JSpZYWdDelP4tg3jFqpOzJh","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2022-02-24T21:04:12+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQwNQ==;sn=11430405
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2022 21:04:40 GMT
    method: GET
    uri: https://kvtest2likz4gps47xnmzqez.azconfig.io/revisions?key=Color&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"JwA12zCOvtaTAOIqPPPATg4Lwjr","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2022-02-24T21:04:34+00:00"},{"etag":"87T2JSpZYWdDelP4tg3jFqpOzJh","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2022-02-24T21:04:12+00:00"},{"etag":"tP79gO5M0D7etwCyLSAhYyB8LCb","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2022-02-24T21:04:09+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMxMTQzMDQwNQ==;sn=11430405
    status:
      code: 200
      message: OK
[...]
