interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2024-12-06T19:37:58.8670354+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002",
        "name": "KVSetImportTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/fwrqZSrSSahuU-dUdyL4Lk5MyNkXlgfOkcbMahjrYj0?api-version=2024-05-01&t=638691106790012718&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTI1MTkzNzA4WhcNMjUwMzI0MTkzNzA4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/fwrqZSrSSahuU-dUdyL4Lk5MyNkXlgfOkcbMahjrYj0?api-version=2024-05-01&t=638691106790012718&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTI1MTkzNzA4WhcNMjUwMzI0MTk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2024-12-06T19:37:58+00:00", "endpoint": "https://kvsetimporttestbz3kq37ju.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-06T19:37:58+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-12-06T19:37:58+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttestbz3kq37ju",
        "name": "KVSetImportTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"dc088725-0000-0100-0000-675352980000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrfUttGGMXfxdPp1QqDCXXKTKazBaVRAzaV7HHD3VpejIy8UnclDM703bvfSlpkhz7AuUwyZHQ43/9fR8o%2BVLdZOrJDC6/DxZhMrsKJ7OY38yTweXgsapKczkcboUSa7mVqjoR%2B1rLk7TYDk29NKnOyiorlBmOx6sLsTz9JRjL1Sr4IGUaLFP5a3AxSs/OluOL5fJ8PCx18ZytpDbD2yzVhSkeqhNelleFesjWtRb0Xw3T/p%2BSqtDS/CbKLHi2P2f/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y9LTsMwEIbvYiFWdZyEhohIFYoQO7Ih5QBje%2BpaIbY141TQirsTyoYrsPyf0ncRAT/yiw8Ti%2B4invtx/zaKThxzTtwpNUMAhzOGXMB5ISxMnBUvmg35lH0MrNrWNqDLe9mitXKLaKQ2%2BCCb2lSVbhut71qVKJ68RWI1eEOR4yEXfUpPMRy8Wwh%2BrpT5q8YcCfkRkpendbfmu7qst7JsZFnd3vDk0z5OGHbno/9cILx7CE5m5FyLr40AmnvnCB1ktNfiStW/DmJzJR6AJqTV%2BiXu/jnvNw%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 5517cdb4-ab62-4ad4-8021-32c6abc140b8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvsetimporttestbz3kq37ju.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-12-06T19:37:58+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvsetimporttestbz3kq37ju.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-12-06T19:37:58+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvsetimporttestbz3kq37ju.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-12-06T19:37:58+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvsetimporttestbz3kq37ju.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-12-06T19:37:58+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 06 2024 19:38:46.135196 GMT
    method: GET
    uri: https://kvsetimporttestbz3kq37ju.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM3Njk3MzYzOA==;sn=76973638
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Njk3MzYzOA==
      x-ms-content-sha256:
      - vooIQS2Lc83p3cZJS7Qp5TL+wPNgfiHeUrZC71Varzs=
      x-ms-date:
      - Dec, 06 2024 19:38:46.467954 GMT
    method: PUT
    uri: https://kvsetimporttestbz3kq37ju.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"CoW0W4Itg6CtEvXUWt5h4qsjfg2n6odGAF2NrWLACno","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-12-06T19:38:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CoW0W4Itg6CtEvXUWt5h4qsjfg2n6odGAF2NrWLACno"'
      last-modified:
      - Fri, 06 Dec 2024 19:38:46 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Njk3MzYzOQ==;sn=76973639
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"bool-feature\", \"description\": \"It is a boolean feature\",
      \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\":
      null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Njk3MzYzOQ==
      x-ms-content-sha256:
      - UhxU[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Njk3MzY0MA==
      x-ms-content-sha256:
      - Z9vdOmW9IIdhx2BgTvHER4NiDLOkF6QL50jtUUXyuos=
      x-ms-date:
      - Dec, 06 2024 19:38:46.641959 GMT
    method: PUT
    uri: https://kvsetimporttestbz3kq37ju.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=2023-11-01
  response:
    body:
      stri[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Njk3MzY0MQ==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Dec, 06 2024 19:38:46.737022 GMT
    method: PUT
    uri: https://kvsetimporttestbz3kq37ju.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"8J1BEI5cEefXoBVkkyvotN44YaDfWEr7U1synguOezE","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2024-12-06T19:38:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8J1BEI5cEefXoBVkkyvotN44YaDfWEr7U1synguOezE"'
      last-modified:
      - Fri, 06 Dec 2024 19:38:46 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Njk3MzY0Mg==;sn=76973642
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Njk3MzY0Mg==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Dec, 06 2024 19:38:46.833084 GMT
    method: PUT
    uri: https://kvsetimporttestbz3kq37ju.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"c85ierXX9K1RZaiHHTNBxtMiYuYjwUFXphO4T0vgde0","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-12-06T19:38:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"c85ierXX9K1RZaiHHTNBxtMiYuYjwUFXphO4T0vgde0"'
      last-modified:
      - Fri, 06 Dec 2024 19:38:46 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Njk3MzY0Mw==;sn=76973643
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Njk3MzY0Mw==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Dec, 06 2024 19:38:46.933076 GMT
    method: PUT
    uri: https://kvsetimporttestbz3kq37ju.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"fvj90HundSdKf7tJ6o0CyS8ITx2QgH96WK6Nl9aQXxg","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-12-06T19:38:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"fvj90HundSdKf7tJ6o0CyS8ITx2QgH96WK6Nl9aQXxg"'
      last-modified:
      - Fri, 06 Dec 2024 19:38:46 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Njk3MzY0NA==;sn=76973644
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Njk3MzY0NA==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Dec, 06 2024 19:38:47.021453 GMT
    method: PUT
    uri: https://kvsetimporttestbz3kq37ju.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"AYo3T_1YaTwFdeAa-zWcAaAx50BrTNpHqYZagUlfpII","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-12-06T19:38:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"AYo3T_1YaTwFdeAa-zWcAaAx50BrTNpHqYZagUlfpII"'
      last-modified:
      - Fri, 06 Dec 2024 19:38:47 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Njk3MzY0NQ==;sn=76973645
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Njk3MzY0NQ==
      x-ms-content-sha256:
      - KG6foKmNh5fImJNssBeIcpD6vIlOFOyqNrEtrNcI1x4=
      x-ms-date:
      - Dec, 06 2024 19:38:47.115392 GMT
    method: PUT
    uri: https://kvsetimporttestbz3kq37ju.azconfig.io/kv/pratik-top-secret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"ZzhklPbk6CpwvO0vr_skHi79Mb2hJsfYAdXZxsJOVvA","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2024-12-06T19:38:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZzhklPbk6CpwvO0vr_skHi79Mb2hJsfYAdXZxsJOVvA"'
      last-modified:
      - Fri, 06 Dec 2024 19:38:47 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Njk3MzY0Ng==;sn=76973646
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3Njk3MzY0Ng==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Dec, 06 2024 19:38:47.210770 GMT
    method: PUT
    uri: https://kvsetimporttestbz3kq37ju.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"D-nm146_59BONB5W6Dl8oxOX30OKBQZpd0R-FT0aK-0","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2024-12-06T19:38:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"D-nm146_59BONB5W6Dl8oxOX30OKBQZpd0R-FT0aK-0"'
      last-modified:
      - Fri, 06 Dec 2024 19:38:47 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3Njk3MzY0Nw==;sn=76973647
    status:
      code: 200
      message: OK
[...]
