interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-04-18T05:45:20.8371399+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003","name":"KVTest000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c7gHK50xR3wjNKEWXzA7G-O38PkSy4DNerAGmvJ_ZrY?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c7gHK50xR3wjNKEWXzA7G-O38PkSy4DNerAGmvJ_ZrY?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c7gHK50xR3wjNKEWXzA7G-O38PkSy4DNerAGmvJ_ZrY","name":"c7gHK50xR3wjNKEWXzA7G-O38PkSy4DNerAGmvJ_ZrY","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/c7gHK50xR3wjNKEWXzA7G-O38PkSy4DNerAGmvJ_ZrY?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-04-18T05:45:21+00:00","endpoint":"https://kvtestsiloopc4hr7kb5gxhq.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-04-18T05:45:21+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-18T05:45:21+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestsiloopc4hr7kb5gxhq","name":"KVTest000003","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5201b5d6-0000-0100-0000-643e2e710000"'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}, "attributes":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.0
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/f174853ebadd45fe814d9faff04bf61e","attributes":{"enabled":true,"created":1681796732,"updated":1681796732,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-15T18:19:24+00:00","endpoint":"https://minigassou-vnetlocalwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus/privateEndpointConnections/PrivateLinkServicelocalWestCentralUS","name":"PrivateLinkServicelocalWestCentralUS","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MINIGASSOU-IntegrationRGlocalWestCentralUS/providers/Microsoft.Network/privateEndpoints/PrivateEndpointlocalWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","createdByType":"Application","createdAt":"2023-03-15T18:19:24+00:00","lastModifiedBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","lastModifiedByType":"Application","lastModifiedAt":"2023-03-15T18:20:04+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus","name":"MINIGASSOU-VNETlocalWCUS","tags":{"donotdelete":""}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1VndbtowFH6XaNpV3RS6DrVSNXmQaqw0sIQIrXcnjkldwMlih6BWffcdmy5j0l7gSNwgBOLT93fOyWug5cHOlN6Y4OY1WEXpchzFy4TPsjS4CZ6src1NGO5AQyl3UttzeGkbeS6qXWja3IhG1VZV2oSjUXEF%2BcVnNpJFwT5JKVgu5DW7GorBIB9d5fnlKKybaq8K2ZjwQYmmMtXanvO6Hld6rcq2AfdToTh9l9qqkeYL1Irt8Xv4%2Be3wYnjJLvA1%2BPjBbFS9rDZS3%2B5BixJe2F5Lu60EbDvRmuAsIArHyGavhGQWSnYE4rihRsqhPbRWGmsci0hGxGli8Kpi0gvK8RBlyXwR0TKIfWoqa7dKl56NIdKRzrPlN8cJT6ecFppTfxgJCIZnqcutKXeA6IKR0CKYeJ4gMwRVdsqLlg5Kdu9lRosR0YF%2BhpbVLrX8/6fdI65GDPYI%2BzeJh7RYORUXhrGLsGMrEsPR4X/3RHTKPlWtrbeI5GvCH6czgl45ZSVv/MzFYz7h746hKzEBAnl5hzGNJ5Q7UiiNWGh2fT9BOsPfJTweR%2BS1tW6ctr7zBY9pzyvPviLv50lE3/AbT4qfvWjXvV8b9XFv9I3C75LpmHtktPL4GRcWwAsAcyHAXsCl2ElT0vNODwir0g%2BXq2gSYaL5owtRbkznwixdTZePUTLj8cRNZVSxbLsBgvnBlzyhzYp3zC8/w/gMIDjB9GYxSvsEQGYWc6cw2tTUWz9Z%2BjGZcIQJcAmGrbLiPwlbXlcdwujvR%2B/SIrZT9laBVvydkwmukz2Q9XGX/PM4Isr4glanGNgpA8Ua8IzkL8ioMuf2LB3SA%2BNO%2BQDFf4xCi5ReXuiT4O0sgGbHy7KRJVhZ%2BEdJiIcnD8Hbbw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 9525b541-f089-4a73-88af-a95906bf52fe
      - 57343394-949f-4600-b7b7-ae3ee2bbc110
      - 478b4980-5716-4769-b393-ef0d579012ab
      - 3b77e9db-3486-4407-b3a7-e1f77a7c6efa
      - 7fc7b62f-43ff-4cbe-be4a-88b3e9002cd5
      - dab97f10-def7-4f01-93dc-6515e778e5d7
      - 5db4cf92-9389-4470-88f4-c60cbc5533bf
      - 32005116-294e-4532-a3ba-0560955e85dc
      - 6494f81a-d598-4e7b-8f18-78e8f45d8e22
      - 9e427125-46f6-4abc-8351-5100b0b85ec6
      - 9f62b696-7655-446b-b460-37f1900423fe
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"ZAOm-l0-s0:VaPXdHoT6ptSaSCMY4uY","name":"Primary","value":"tSfJhC1Gk+hOC5psxXsvxkUJDEmY3Onq3JbQOw2buzo=","connectionString":"Endpoint=https://kvtestsiloopc4hr7kb5gxhq.azconfig.io;Id=ZAOm-l0-s0:VaPXdHoT6ptSaSCMY4uY;Secret=tSfJhC1Gk+hOC5psxXsvxkUJDEmY3Onq3JbQOw2buzo=","lastModified":"2023-04-18T05:45:20+00:00","readOnly":false},{"id":"vBL2-l0-s0:vdSRGSQM/m2TtKWR6V+d","name":"Secondary","value":"3773CPy6UVEwvsv57HhXfZQFJVKkl5kByGnowgaFvvo=","connectionString":"Endpoint=https://kvtestsiloopc4hr7kb5gxhq.azconfig.io;Id=vBL2-l0-s0:vdSRGSQM/m2TtKWR6V+d;Secret=3773CPy6UVEwvsv57HhXfZQFJVKkl5kByGnowgaFvvo=","lastModified":"2023-04-18T05:45:20+00:00","readOnly":false},{"id":"YuAY-l0-s0:U3HpYliu9v4uy/ciw5gJ","name":"Primary
        Read Only","value":"9xZIkbP1NzTvSvJ+bJNdHDTdNejE265dyO7qjriCU68=","connectionString":"Endpoint=https://kvtestsiloopc4hr7kb5gxhq.azconfig.io;Id=YuAY-l0-s0:U3HpYliu9v4uy/ciw5gJ;Secret=9xZIkbP1NzTvSvJ+bJNdHDTdNejE265dyO7qjriCU68=","lastModified":"2023-04-18T05:45:20+00:00","readOnly":true},{"id":"nj2l-l0-s0:en6k32G5moSveva+9XHF","name":"Secondary
        Read Only","value":"4x+lvDs2Y4TrPYTXPu4+nZPhlYoXbmCvU6Tqq113WZE=","connectionString":"Endpoint=https://kvtestsiloopc4hr7kb5gxhq.azconfig.io;Id=nj2l-l0-s0:en6k32G5moSveva+9XHF;Secret=4x+lvDs2Y4TrPYTXPu4+nZPhlYoXbmCvU6Tqq113WZE=","lastModified":"2023-04-18T05:45:20+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:45:40 GMT
    method: GET
    uri: https://kvtestsiloopc4hr7kb5gxhq.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTQyOA==;sn=23151428
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://clitest000002.vault.azure.net/secrets/testSecret/f174853ebadd45fe814d9faff04bf61e\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSMyMzE1MTQyOA==
      x-ms-content-sha256:
      - uoGXboJQTd0oPOdMdWBQRsczqkboUXwQDOMeT2PeKNk=
      x-ms-date:
      - Apr, 18 2023 05:45:41 GMT
    method: PUT
    uri: https://kvtestsiloopc4hr7kb5gxhq.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: '{"etag":"f7kiv3nuw6qoKmaqSGq05FbqtgDp9dl2R81eMGvX700","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitest5cegq7sjqjmeykcid.vault.azure.net/secrets/testSecret/f174853ebadd45fe814d9faff04bf61e\"}","tags":{},"locked":false,"last_modified":"2023-04-18T05:45:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"f7kiv3nuw6qoKmaqSGq05FbqtgDp9dl2R81eMGvX700"'
      last-modified:
      - Tue, 18 Apr 2023 05:45:41 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTQzMA==;sn=23151430
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:45:47 GMT
    method: GET
    uri: https://kvtestsiloopc4hr7kb5gxhq.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"f7kiv3nuw6qoKmaqSGq05FbqtgDp9dl2R81eMGvX700","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitest5cegq7sjqjmeykcid.vault.azure.net/secrets/testSecret/f174853ebadd45fe814d9faff04bf61e\"}","tags":{},"locked":false,"last_modified":"2023-04-18T05:45:41+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTQzMQ==;sn=23151431
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest000002.vault.azure.net/secrets/testSecret/f174853ebadd45fe814d9faff04bf61e?api-version=7.0
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/f174853ebadd45fe814d9faff04bf61e","attributes":{"enabled":true,"created":1681796732,"updated":1681796732,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:45:55 GMT
    method: GET
    uri: https://kvtestsiloopc4hr7kb5gxhq.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"f7kiv3nuw6qoKmaqSGq05FbqtgDp9dl2R81eMGvX700","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitest5cegq7sjqjmeykcid.vault.azure.net/secrets/testSecret/f174853ebadd45fe814d9faff04bf61e\"}","tags":{},"locked":false,"last_modified":"2023-04-18T05:45:41+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTQzNg==;sn=23151436
    status:
      code: 200
      message: OK
[...]
