interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-01-13T05:18:11.7188144+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002","name":"KVRevisionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/_oSlshp71lkTpE0M24HznNPEPTaPT5f96f9JwE5SH_g?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/_oSlshp71lkTpE0M24HznNPEPTaPT5f96f9JwE5SH_g?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/_oSlshp71lkTpE0M24HznNPEPTaPT5f96f9JwE5SH_g","name":"_oSlshp71lkTpE0M24HznNPEPTaPT5f96f9JwE5SH_g","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/_oSlshp71lkTpE0M24HznNPEPTaPT5f96f9JwE5SH_g?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-01-13T05:18:12+00:00","endpoint":"https://kvrevisiontest6z6qg2f3lm.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-01-13T05:18:12+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-13T05:18:13+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvrevisiontest6z6qg2f3lm","name":"KVRevisionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4e001f95-0000-0100-0000-63c0e9950000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NFqiYPUo2NBpY%2FQuubYy7BBZzMdkjVqt99tqkQ%2Bwh3jxFKxE%2Fn3HOu%2FRpIeDYLIfc6mLwG6yQvpklaZHRR5sEk2BnT6kkYHplkNRxBmgF76RQMeHMMdVdprkRrRCN1OB5vRqwafiFj2GzIZwBOKg63ZBTzKKrGo6r6NA5b1ZzEBpQOHwRXjW62ZkDbdtrIrag7xdynQn79lJtGgf7KWkFO9j37%2B108jGMyHJFh9PGD3ou2aPYg7zSok%2BBADKtJzzsd3AT%2FAckZxMmCTY%2Fn7rkzoI12AloxEoqTgZwkGALeUE6HpMyWqwTXbJidaow5CFl7NWIrR74si%2B9OE5rPKS6a60nXwCwMLXMXWXPqgPDCAOssTLrMrDIIXXatiwSH4k2GO4VdnWibwuTfHIsRu6zTLgDOnYKMo7f%2F3QvRC7NrOtMeLMm3jD7OF95reFWplN9YaEpn9H1i8MJwxq0u7xjzdIa5YbiQlgVnU172Lzfw9xlNpwl6b22V89YPuqIp7rZ%2Fat1a%2FHOZJfgHfu9F8ZsL7rr3x0d5PnVZnDX9jc9kbuq5AmZge2h6dtjDsQVlveYrkt5n8yn1UuEqmCd7fmH2LoA4PvLCXCxfVT8%2BnS5AtvtdFOTrZJbYiPbXL0i10b1L53w9Lx6TbEHTmVszsbIc%2BsjC%2FKIFzXCr4ifmj1%2FKfAYgXMkuw6KF9AlglblUTVLSFS6TKeCsIVEUjSyHi64yj%2FFRuDs%2BxjbB203A1JHWtYLa1s7G38haQWj2ELz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - d464fed7-24e0-40eb-a360-56949f7d70e3
      - d28ae9a1-3d0a-4db3-8630-7f60278a88d9
      - f5fe3a9d-ead2-4bce-bed3-cc10d0f151f6
      - cb733c2d-167c-477f-8b94-88259440ecca
      - 1a05f25f-f99e-4801-b0d4-fb99f47575ae
      - 9079a505-1f4e-4422-97b8-392fa2421a98
      - 66bf7d26-177c-4565-bc18-00736ab2789b
      - f6cad1b6-837b-426c-8d47-f27ce2ee08cb
      - ca94b3eb-bbc6-478f-b6b8-5451f796bb79
      - 1f411808-f83e-48d8-b0cf-c4c5f1237175
      - 8899088c-fdcd-4775-90d8-3c97dbeeb125
      - ec5f241a-8359-4501-866b-02294b04828a
      - 47a6ea27-0cb2-4919-9cae-1c6e5fbea0d2
      - 2dff15b7-d7cc-4c81-bde7-fb9ffd16d297
      - 71c75ffa-5b1b-4b7b-9748-1ec56543ea47
      - 41f55817-e458-45a7-917b-2122cb0beab3
      - c8f84e5d-143a-4197-b68c-191dca241abd
      - 777dce55-667f-4294-aa9a-e065f3f51930
      - 391da3dd-26d2-46c8-a4ea-84212820e8d4
      - 2de72fe1-71af-4663-8374-ab8a5ce76070
      - 63113473-adff-4a73-8019-ab1c04d7c355
      - 1558dfe2-f3e6-4ef7-81fb-9eeb39665112
      - 9f63d5f3-552c-4156-a1c3-4cb19791cf76
      - b8ae5449-96ed-4f51-b441-8bfa217ffee2
      - b9de279a-9e66-4efc-8c76-e7fe905dd96d
      - 8e9673bf-021b-479e-b3e4-1966a81e07b3
      - 7e5e76e3-2701-493f-83b1-e0101f6b29f0
      - d77e1ccf-97a9-4f2d-93bf-ddd3e1914599
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"6PqF-l0-s0:YQcXwjhbB3psVG34Al8F","name":"Primary","value":"tLw1IL29YEHNxMN9TaGl8osvnEZl+F4V5k1mfONOdyE=","connectionString":"Endpoint=https://kvrevisiontest6z6qg2f3lm.azconfig.io;Id=6PqF-l0-s0:YQcXwjhbB3psVG34Al8F;Secret=tLw1IL29YEHNxMN9TaGl8osvnEZl+F4V5k1mfONOdyE=","lastModified":"2023-01-13T05:18:11+00:00","readOnly":false},{"id":"zdaD-l0-s0:lzPgjOlI0phmm68ies1Z","name":"Secondary","value":"3h06ujQumqi9C8gq1tbl/ue3HZz4HSZAZQcx/eIc8KA=","connectionString":"Endpoint=https://kvrevisiontest6z6qg2f3lm.azconfig.io;Id=zdaD-l0-s0:lzPgjOlI0phmm68ies1Z;Secret=3h06ujQumqi9C8gq1tbl/ue3HZz4HSZAZQcx/eIc8KA=","lastModified":"2023-01-13T05:18:11+00:00","readOnly":false},{"id":"nbnj-l0-s0:4Zz70/NDfMR9P7agv1XR","name":"Primary
        Read Only","value":"ZwbZo/M5YtPvQvvfiWKPvNGqqps0yAEyT7cIey2jL6Y=","connectionString":"Endpoint=https://kvrevisiontest6z6qg2f3lm.azconfig.io;Id=nbnj-l0-s0:4Zz70/NDfMR9P7agv1XR;Secret=ZwbZo/M5YtPvQvvfiWKPvNGqqps0yAEyT7cIey2jL6Y=","lastModified":"2023-01-13T05:18:11+00:00","readOnly":true},{"id":"5I7V-l0-s0:cRaE/TzS3plE7ojDW3Sf","name":"Secondary
        Read Only","value":"QadoqjatALsYgTBRzIXi42MP9UC3pN7l2A03OzJIesA=","connectionString":"Endpoint=https://kvrevisiontest6z6qg2f3lm.azconfig.io;Id=5I7V-l0-s0:cRaE/TzS3plE7ojDW3Sf;Secret=QadoqjatALsYgTBRzIXi42MP9UC3pN7l2A03OzJIesA=","lastModified":"2023-01-13T05:18:11+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 13 2023 05:18:26 GMT
    method: GET
    uri: https://kvrevisiontest6z6qg2f3lm.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMxOTQwNzIwNw==;sn=19407207
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSMxOTQwNzIwNw==
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Jan, 13 2023 05:18:26 GMT
    method: PUT
    uri: https://kvrevisiontest6z6qg2f3lm.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"-1invIXQJQe6xJsmrhudVrXj_V8Y8opXZiJWrO88OSw","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2023-01-13T05:18:26+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"-1invIXQJQe6xJsmrhudVrXj_V8Y8opXZiJWrO88OSw"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:26 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxOTQwNzIwOA==;sn=19407208
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"-1invIXQJQe6xJsmrhudVrXj_V8Y8opXZiJWrO88OSw"'
      Sync-Token:
      - zAJw6V16=MzoxOSMxOTQwNzIyMA==
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Jan, 13 2023 05:18:29 GMT
    method: PUT
    uri: https://kvrevisiontest6z6qg2f3lm.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"U1I1idtjpCw0kEjQTfDO7yqTmhm-bSFTyJucBCkdifo","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-01-13T05:18:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"U1I1idtjpCw0kEjQTfDO7yqTmhm-bSFTyJucBCkdifo"'
      last-modified:
      - Fri, 13 Jan 2023 05:18:29 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxOTQwNzIyMQ==;sn=19407221
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 13 2023 05:18:32 GMT
    method: GET
    uri: https://kvrevisiontest6z6qg2f3lm.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMxOTQwNzIyNA==;sn=19407224
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 13 2023 05:18:35 GMT
    method: GET
    uri: https://kvrevisiontest6z6qg2f3lm.azconfig.io/revisions?key=Color&label=%2A&api-version=1.0&$Select=content_type,etag,label,last_modified,value
  response:
    body:
      string: '{"items":[{"etag":"l1nqb6gq7cyxNl-X8kHseaRehW8L2hWf6pXJVvPCWyk","label":"newlabel","content_type":"text","value":"Green","last_modified":"2023-01-13T05:18:32+00:00"},{"etag":"U1I1idtjpCw0kEjQTfDO7yqTmhm-bSFTyJucBCkdifo","label":"v1.0.0","content_type":"text","value":"Green","last_modified":"2023-01-13T05:18:29+00:00"},{"etag":"-1invIXQJQe6xJsmrhudVrXj_V8Y8opXZiJWrO88OSw","label":"v1.0.0","content_type":"","value":"","last_modified":"2023-01-13T05:18:26+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMxOTQwNzI0OA==;sn=19407248
    status:
      code: 200
      message: OK
version: 1
