interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-03-29T19:03:32.1029297+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/G-6OZ-Nf2-zznmDApn-rlfelHq4GIYKpUuVhUqfYaps?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/G-6OZ-Nf2-zznmDApn-rlfelHq4GIYKpUuVhUqfYaps?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/G-6OZ-Nf2-zznmDApn-rlfelHq4GIYKpUuVhUqfYaps","name":"G-6OZ-Nf2-zznmDApn-rlfelHq4GIYKpUuVhUqfYaps","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/G-6OZ-Nf2-zznmDApn-rlfelHq4GIYKpUuVhUqfYaps?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-29T19:03:32+00:00","endpoint":"https://credentialtestaoorlmqhlq.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-03-29T19:03:32+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-03-29T19:03:32+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtestaoorlmqhlq","name":"CredentialTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"530304d0-0000-0100-0000-64248b840000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-15T18:19:24+00:00","endpoint":"https://minigassou-vnetlocalwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus/privateEndpointConnections/PrivateLinkServicelocalWestCentralUS","name":"PrivateLinkServicelocalWestCentralUS","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MINIGASSOU-IntegrationRGlocalWestCentralUS/providers/Microsoft.Network/privateEndpoints/PrivateEndpointlocalWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","createdByType":"Application","createdAt":"2023-03-15T18:19:24+00:00","lastModifiedBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","lastModifiedByType":"Application","lastModifiedAt":"2023-03-15T18:20:04+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus","name":"MINIGASSOU-VNETlocalWCUS","tags":{"donotdelete":""}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1VnbbtpAEP0Xq%2BpTNg6kKWqkqNqCo9IQk9og1LyN14uzAdaud41Jovx7Zxfq%2BqE/MBIvCIF8dC5zZngLtDzYmdIbE1y/BasoXYyjeJHw2TINroMnaytzHYY70FDIndT2HF6bWp6LcheaJjOiVpVVpTbhaJRfQXbxmY1knrNPUgqWCfmFXQ3FYJCNrrLschRWdblXuaxNeK9EXZpybc95VY1LvVZFU4P7qVD036W2rKX5CpVie/wefn4zvBhesgt8DT5%2BMBtVLcqN1Dd70KKAV7bX0m5LAdtWNCY4C4jCMbLeKyGZhYIdgThuqJFyaA6NlcYaxyKSEXGaGLyqmPSCcjxEy2T%2BENEyiH2qS2u3SheejSHSkc6Xi%2B%2BOE55OOS00fX8YCQiGL1OXW1PuANEFI6FBMPE8QWYIqqzPi5YOyvLOy4wWI6IF/QwNq1xq%2BecnOkd8%2BqpCo%2B038gXBHCN4SIuOvqowhV12HcchMRwtPrtP31bZp7Kx1RaRfEv443RG0CR9VrLaly0e8wk/WYWuxAQI5OUEYxpPKA9HofTJ9fSGfFcdneFvEx6PI/LaWtdOWz/4A49pF5VnPxvv5klE3/AbT4ovXUTnfD%2BL9XFh9BOF3ybTMffIaOXxM24qgKs/cyHAXsGlWG9S0vNOBwhHpW%2BVq2gSYaL5awtRbkzrwixdTRePUTLj8cS1MqpYtu0AwfzkC57QZsU75rfvMD4DCDaYzixGaZ8AyAzGGJZLwsYX4HyPWbzivwgbRZctwujOLSevENvEOoFBI/61S4JLWAdkfdzA/l7voyV/oJXEBnbKQL4GvLr4gyuq7HStoAfGXb4B8v8YhRYpnbzQJ8H7WQD1jhdFLQuwMvf/vCAentwH738A
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 8ac26281-68b9-41cc-817c-5cb65688e20c
      - 4010f1c0-68d1-4682-b996-896f58a82f66
      - 17c74701-dac4-41c7-8af2-98e00d6c0ce8
      - 1b52b2db-3592-4f35-bd0e-5052e126db04
      - a641bfa4-8c30-4cd8-bc79-de2a06416579
      - cfdf5d28-3f31-43e1-b545-e0ddaaadfce9
      - 3aab26ac-9ed3-40e6-ac1d-57658b18fa97
      - 4992471d-6432-49fe-af05-b74670822bb5
      - 5b18fe19-4d5c-446a-861d-4705d16fa83f
      - 0cd76a12-8d81-4e1f-8912-6810063e3ebb
      - a35f683a-bae4-404a-89d5-9a8b661f011a
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"wvyV-l0-s0:M5CS2Bv4wEGOMt8ifiLN","name":"Primary","value":"8pg2XXaOH8DQw2aEIR8S60uhKPV0H4psScP3m1nxEWw=","connectionString":"Endpoint=https://credentialtestaoorlmqhlq.azconfig.io;Id=wvyV-l0-s0:M5CS2Bv4wEGOMt8ifiLN;Secret=8pg2XXaOH8DQw2aEIR8S60uhKPV0H4psScP3m1nxEWw=","lastModified":"2023-03-29T19:03:32+00:00","readOnly":false},{"id":"4dW3-l0-s0:Aw21LdOlJ+M156oKs4EA","name":"Secondary","value":"vrDrAUcZqzK26KBTWVN0qeD9wCsKwqif4mFBrJWO9AQ=","connectionString":"Endpoint=https://credentialtestaoorlmqhlq.azconfig.io;Id=4dW3-l0-s0:Aw21LdOlJ+M156oKs4EA;Secret=vrDrAUcZqzK26KBTWVN0qeD9wCsKwqif4mFBrJWO9AQ=","lastModified":"2023-03-29T19:03:32+00:00","readOnly":false},{"id":"m3F3-l0-s0:zWede9bXX8P1wpilmG6C","name":"Primary
        Read Only","value":"sfIuM59pyRG5A8+eIbQ2MKPFQPZvfetggYOj9cuAfRk=","connectionString":"Endpoint=https://credentialtestaoorlmqhlq.azconfig.io;Id=m3F3-l0-s0:zWede9bXX8P1wpilmG6C;Secret=sfIuM59pyRG5A8+eIbQ2MKPFQPZvfetggYOj9cuAfRk=","lastModified":"2023-03-29T19:03:32+00:00","readOnly":true},{"id":"jfbR-l0-s0:B0onE1IctQo/eloQ7Q2C","name":"Secondary
        Read Only","value":"g+nCrb6VRkreppR4h/w85qIj3Z+iPLlULth6C/3uGlw=","connectionString":"Endpoint=https://credentialtestaoorlmqhlq.azconfig.io;Id=jfbR-l0-s0:B0onE1IctQo/eloQ7Q2C;Secret=g+nCrb6VRkreppR4h/w85qIj3Z+iPLlULth6C/3uGlw=","lastModified":"2023-03-29T19:03:32+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "wvyV-l0-s0:M5CS2Bv4wEGOMt8ifiLN"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/regenerateKey?api-version=2023-03-01
  response:
    body:
      string: '{"id":"kcfm-l0-s0:K6bprhtvI4kxW5vu7uCS","name":"Primary","value":"mP6TTleOwFnN1hFuNUsxtDvbhGfDWM6LR7OCkvNKKb4=","connectionString":"Endpoint=https://credentialtestaoorlmqhlq.azconfig.io;Id=kcfm-l0-s0:K6bprhtvI4kxW5vu7uCS;Secret=mP6TTleOwFnN1hFuNUsxtDvbhGfDWM6LR7OCkvNKKb4=","lastModified":"2023-03-29T19:03:49+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
