interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      7, "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-03-03T17:50:14.9787968+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e06cc5e0-e423-369b-7fb2-d5be7efb66b3?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e06cc5e0-e423-369b-7fb2-d5be7efb66b3?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e06cc5e0-e423-369b-7fb2-d5be7efb66b3","name":"e06cc5e0-e423-369b-7fb2-d5be7efb66b3","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e06cc5e0-e423-369b-7fb2-d5be7efb66b3?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-03-03T17:50:15+00:00","endpoint":"https://featuretestbpeodg3l7nuto.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-03T17:50:15+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-03T17:50:16+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretestbpeodg3l7nuto","name":"FeatureTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"62004bc7-0000-0100-0000-6220ffd70000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview&%24skiptoken=3ZjRjtowFET%2FJar6VBOSLUVFWlUuuGpaGlBChLRvjnMBw%2BJYtkNoV%2FvvtQPapp%2FgPEZRIh3N3LljvwQCrmbJxUkHs5dgS%2FLNnKSbDC%2BLPJgFB2OknoXhmQq6hzMIM6J%2FGgUjVp9D3ZSaKS4Nr4UOp9NqQsvxJzSFqkIfARgqGXxGk5hFUTmdlOXDNJSqvvAKlA5%2FcaZqXe%2FMCEs5r8WO7xtF3a9C1n%2FKTa1Af6GSo4v9zr5%2FjMdxhKIxGkdIKrhwaN%2B%2F0ycuN%2FUJxKMGdeEMkKF71LJGBx%2BCARHdgJxMvupzba6NAW20E9aKQ7DfLOgiwCDojOZ0IUW2WhNPZ%2BfQUN5CY2XJV8Xmu9MG5wn2lKaXBBqohcJF7qItwQ7MfyigTql0lVmlfHZdTyfxz3zDSG23hrRNbfR%2F3sWeus8FhAu72BrvtoU8JWktQydJy82hbox8tkRfM%2FyULLvo81Sf3iiVqus%2BOMULfJ8l%2F6EYZVanO06SLoawmxgXlsnvXfvW6FwwfMtwOieD8dxOOc%2F9wGucDqM3HKUr3j9XGRlOMJw6kbouNIzi0B1gxe28l2%2BTzRPJljhddIR%2B5viR%2F26QFi4q3Dwlqy6%2FXYvwk0fbMtRSwUXF6R3qVokePOXh6I7R60H%2BJt7xmQtq746QLUIu7%2FItWRC7l7rbLT8VekPSba8GFTkp8NpPIslvpkORVch5rchjf2nc3RalVfD6%2Bhc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - e85eee27-759e-42ca-8d94-3080266c5386
      - 812c66de-de34-4b93-bada-6c4e8ee1fee4
      - 76964ea6-e72d-4e93-9bc2-77d9742e1a51
      - 971a63a2-4bc5-4f25-84cc-58eb3b0eaf3a
      - 57f67c53-bfc4-40c2-a281-2fbcaf7e0fd5
      - b61226f7-c0d1-4b3b-8be0-51f8aecf4031
      - 002d6c7b-8b65-4bb5-9506-f54be2b4d854
      - 2dd579a1-ec19-4e11-885f-16c43b3e3d65
      - b3fa3a8a-14bd-4a69-9923-11dc6eec8168
      - 8208bf1a-4b9c-43e1-99c9-7f7ee07a6bbb
      - dc9b30b8-9918-456c-b62c-9d366e7f8541
      - 19b99a17-bf23-4230-bf49-5946b69ed57f
      - 7904ea1c-6f9b-4996-a496-2eefe068049f
      - e633da52-3447-4e14-937d-9b3b6734f8da
      - 11dbbae8-d85a-478b-8789-cd0e2cf8674b
      - 99642c72-653c-4750-a713-6300c6db98d5
      - fc863e7f-cd93-43d5-aa0a-65e1858c65c5
      - 655e1132-5213-49ba-8aba-9da61cc23fba
      - 3c7a0946-00ce-421a-a687-126eb871a42b
      - ea911a42-6d75-4961-b6a4-e14f465044a1
      - faa6e7ab-e7b6-4e66-a7c7-aba7dd652867
      - a7e05402-76ed-46f2-a440-cf503de76f8e
      - b2208fb5-10d9-42e1-95b1-d95972d23395
      - d7dc9986-9db1-4d9a-b8a2-44c8a54c6334
      - 454e1995-5b35-4f93-a2ce-f110315ee613
      - 6c1a3cdf-00f7-432f-a74e-663ec175e607
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"tCrx-l0-s0:E3FGb6f7YV9+4y1DpF5R","name":"Primary","value":"gUUuKiz7252tnVyL05ZajxiAKAdMa78kIln47vYPnpU=","connectionString":"Endpoint=https://featuretestbpeodg3l7nuto.azconfig.io;Id=tCrx-l0-s0:E3FGb6f7YV9+4y1DpF5R;Secret=gUUuKiz7252tnVyL05ZajxiAKAdMa78kIln47vYPnpU=","lastModified":"2022-03-03T17:50:14+00:00","readOnly":false},{"id":"KkVN-l0-s0:vpqrSa3qEPzqLAPMzdjr","name":"Secondary","value":"/+xo8VQMvheowgSHXXh5HusC31hcXZDh1ZJu/n59BxY=","connectionString":"Endpoint=https://featuretestbpeodg3l7nuto.azconfig.io;Id=KkVN-l0-s0:vpqrSa3qEPzqLAPMzdjr;Secret=/+xo8VQMvheowgSHXXh5HusC31hcXZDh1ZJu/n59BxY=","lastModified":"2022-03-03T17:50:14+00:00","readOnly":false},{"id":"FQet-l0-s0:UQFGogXMR/dZPLTwEZ9c","name":"Primary
        Read Only","value":"oU0oTGIDDaMTwGZs9pdUS3O/8FAPngTbOo4uVTAKvt0=","connectionString":"Endpoint=https://featuretestbpeodg3l7nuto.azconfig.io;Id=FQet-l0-s0:UQFGogXMR/dZPLTwEZ9c;Secret=oU0oTGIDDaMTwGZs9pdUS3O/8FAPngTbOo4uVTAKvt0=","lastModified":"2022-03-03T17:50:14+00:00","readOnly":true},{"id":"9Hdd-l0-s0:y99SVbDWa1dG8ioP1u4v","name":"Secondary
        Read Only","value":"yeFENZSpSJRFFc5HFD7XA6vF8yqEjrS5IwYzFxopFVo=","connectionString":"Endpoint=https://featuretestbpeodg3l7nuto.azconfig.io;Id=9Hdd-l0-s0:y99SVbDWa1dG8ioP1u4v;Secret=yeFENZSpSJRFFc5HFD7XA6vF8yqEjrS5IwYzFxopFVo=","lastModified":"2022-03-03T17:50:14+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:27 GMT
    method: GET
    uri: https://featuretestbpeodg3l7nuto.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Jyo6toZCmzkwCknljrzQ7W0Lkn83wslohOIHO3C97Gk=
      x-ms-date:
      - Mar, 03 2022 17:50:28 GMT
    method: PUT
    uri: https://featuretestbpeodg3l7nuto.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"QjWc4ElcU0ZFVg08VDxA1kTa4aw","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"QjWc4ElcU0ZFVg08VDxA1kTa4aw"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:28 GMT
      sync-token:
      - zAJw6V16=OToxOSMyMTIwMDkx;sn=2120091
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"Beta Testing Feature Flag\",
      \"enabled\": false, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"QjWc4ElcU0ZFVg08VDxA1kTa4aw"'
      Sync-Token:
      - zAJw6V16=OToxOSMyMTIwMDkx
      x-ms-content-sha256:
      - TK/M7dJNQxprVOwWoa/QQ1+w3G11sYJp0snTeR3nFHM=
      x-ms-date:
      - Mar, 03 2022 17:50:30 GMT
    method: PUT
    uri: https://featuretestbpeodg3l7nuto.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"pedJ6Z4OilZ8PQV4pbt4eV2ROEA","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pedJ6Z4OilZ8PQV4pbt4eV2ROEA"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:31 GMT
      sync-token:
      - zAJw6V16=OToxOSMyMTIwMDky;sn=2120092
    status:
      code: 200
      message: OK
[...]
