interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-01-14T05:54:33.1741729+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null}, "sku": {"name": "Standard"}, "systemData":
        null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003",
        "name": "KVTest000003", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.T1B1SyV1F_QIz22RZ4Xp9Pjz7D8tr_dqgZCk5q4q4BM?api-version=2024-06-01&t=639039668733046018&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIwMDQzNjIzWhcNMjYwNDE4MDQzNjIzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.T1B1SyV1F_QIz22RZ4Xp9Pjz7D8tr_dqgZCk5q4q4BM?api-version=2024-06-01&t=639039668733046018&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUx[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2024-06-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-01-14T05:54:33+00:00", "endpoint": "https://kvtestpx62mky5ccc5rotn2u.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-01-14T05:54:33+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-01-14T05:54:33+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestpx62mky5ccc5rotn2u",
        "name": "KVTest000003", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"ac01cae5-0000-0100-0000-69672f9a0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"error": {"code": "Unauthorized", "message": "AKV10000: Request is
        missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"value": "testValue", "id": "https://clitest000002.vault.azure.net/secrets/testSecret/a8cb52a950de4bb8841beaafb86f119c",
        "attributes": {"enabled": true, "created": 1768370114, "updated": 1768370114,
        "recoveryLevel": "CustomizedRecoverable+Purgeable", "recoverableDays": 7},
        "tags": {"file-encoding": "utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc123321[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=1Zpbbxs3EEb/i1D0ybR8rVEDQcHam1axLbm6QI3hF2qXkilL3A131/IF/u%2BdGa4oylYe%2BjiPSeAEJx85M5w9by2rn6trYx/L1vlba5wMhhdJd9iX16NB67z1UFVFed5uL5VVM73UttpXr7XT%2B2m%2BbJf1pEydKSqT27J9dpadqsnBb%2BJMZ5k40ToVk1T/Lk6P0sPDydnpZHJ81i5c/mQy7cr2jUldXubTal8WxUVup2ZWO4V/VTuNfzWocqfLP1R[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3ZDdSsQwEIXfJYhXpmm7W4uFRYoIXlgEu971Jj%2BzNdQmMZl2F0vf3fgD7jN4OWfOnOE7CzFwwkdthkCqhdzX7f6lJRV5RXShYmzkhvcwgsGEf0weEmlHFiYRpNcOtTWBlaUquEivaQlK0S2ApELCDS1ymWWiLITYlMx5O2sFPrBGS2%2BDPWBSO3dnzUH3k%2BdfUUyeTy1aD%2BGWO03neBf3uzzNtzQ%2BSrPLizBot7cDmN0wB0A9OusRIeAplxv9fsQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3ZDdSsQwEIXfJYhXpmnr1mBhkSKCFxbBrne9SZPZGrpNspO0/pS%2Bu/EH1mfwcs6cOcN3FmLgLTxoM3hSLuSuanbPDSnJSwjOl4yNwogeRjAhER8TQiLtyPzUeYnaBW2NZ5yrQnTpFeWgFN0ASNpJuKZFLrOs40XXXXLm0M5aAXpWa4nW231IKudurdnrfkLxFcXk36kJFsHfCKfpHO/ifpun%2BYbGR2l2fuYH7XZ2ALP1dkIJMMt3OfH5eMTXg/I%2BV2S[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-06-01&$skiptoken=3ZBBS8QwEIX/SxBPpmnr1mJhkSKCB4tg11svk2S2G7pNQpIu2tL/bnQF9zd4nDdv3vC9hWj8CC9KD55UC3mq2917SypyCMH6irERNPQ4og4JzJPDRJiR%2BYl74ZQNymjPylIWwNM7WqKUdIMoKBd4T4tcZBkvC85vS2adOSmJzrNGCWe82YektvbR6L3qJwffUUxcTm0wDv0DWEVP8S7ut3mab2h8lGbXV35QdmcG1Nv5oD4n0EcFuqcwn0NoQB/IevOH96qfzVFGyCiCG%2Bu%2Bd9hDQPmTEpHrt4ac/Q24AV2Ulu63kY5U3f/opCMrWb8A
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 19f6c807-8d47-4660-9f0d-f84d0c54f132
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/listKeys?api-version=2024-06-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvtestpx62mky5ccc5rotn2u.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2026-01-14T05:54:33+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvtestpx62mky5ccc5rotn2u.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2026-01-14T05:54:33+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvtestpx62mky5ccc5rotn2u.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2026-01-14T05:54:33+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvtestpx62mky5ccc5rotn2u.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2026-01-14T05:54:33+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 14 2026 05:55:28.299588 GMT
    method: GET
    uri: https://kvtestpx62mky5ccc5rotn2u.azconfig.io/kv/testSecret?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NzoxOSMyOTEwNTE1Ng==;sn=29105156
      x-ms-date:
      - Wed, 14 Jan 2026 05:55:30 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "value": "{\"uri\": \"https://clitest000002.vault.azure.net/secrets/testSecret/a8cb52a950de4bb8841beaafb86f119c\"}",
      "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NzoxOSMyOTEwNTE1Ng==
      x-ms-content-sha256:
      - DgKY/jqg8Qv/tNZspPq22RN0fwVCAqQEKze3zHrzCqw=
      x-ms-date:
      - Jan, 14 2026 05:55:29.348897 GMT
    method: PUT
    uri: https://kvtestpx62mky5ccc5rotn2u.azconfig.io/kv/testSecret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"O0VNIk-5RvhJD54bJIsb19cbpgEWbJOu2rZ99w-yhtQ","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://clitestebjv72g6bycylmuzl.vault.azure.net/secrets/testSecret/a8cb52a950de4bb8841beaafb86f119c\"}","tags":{},"locked":false,"last_modified":"2026-01-14T05:55:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"O0VNIk-5RvhJD54bJIsb19cbpgEWbJOu2rZ99w-yhtQ"'
      last-modified:
      - Wed, 14 Jan 2026 05:55:31 GMT
      sync-token:
      - zAJw6V16=NzoxOSMyOTEwNTE1Nw==;sn=29105157
      x-ms-date:
      - Wed, 14 Jan 2026 05:55:31 GMT
    status:
      code: 200
      message: OK
[...]
