interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-01-28T11:39:10.2169755+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003",
        "name": "KVTest000003", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/mclYaJsbIRH_zqBWkeysa0kiX1Uu6C_2cA8qu3ahWqQ?api-version=2024-05-01&t=638736611504655089&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/mclYaJsbIRH_zqBWkeysa0kiX1Uu6C_2cA8qu3ahWqQ?api-version=2024-05-01&t=638736611504655089&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTY[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-01-28T11:39:10+00:00", "endpoint": "https://kvtestnxwf2mraoakqlwbaog.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2025-01-28T11:39:10+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2025-01-28T11:39:10+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestnxwf2mraoakqlwbaog",
        "name": "KVTest000003", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2f009323-0000-0100-0000-6798c1e60000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"error": {"code": "Unauthorized", "message": "AKV10000: Request is
        missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"value": "testValue", "id": "https://clitest000002.vault.azure.net/secrets/testSecret/1f5827d5bc9d4451afed0b89dd102817",
        "attributes": {"enabled": true, "created": 1738064393, "updated": 1738064393,
        "recoveryLevel": "CustomizedRecoverable+Purgeable", "recoverableDays": 7},
        "tags": {"file-encoding": "utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZpdU%2BM2GIX/S6bTK4lAWMqUmZ2OCt5uCiTUTiZd7hRHCU7ij0r2OmSn/72vZEdxgJtenktgYHI477eeH71M7cqHJNuY3s2P3iyIJrfBaBKKh2nUu%2Bm9lGVhbvr9VGZypVKVlWdyX2l1Fudp31RzE%2BukKJM8M/3r68WVnJ/wq/VYsE/KRXzeax%2B5VeD%2BOJifn01n19e9wudf08WSpv%2BYxLr3OTL8kwUxW2eLZNVpaX9U/24%2B1VU5lqZ32SR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - eea5594a-3543-4d26-a787-9ecce987c37a
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvtestnxwf2mraoakqlwbaog.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-01-28T11:39:10+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvtestnxwf2mraoakqlwbaog.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-01-28T11:39:10+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvtestnxwf2mraoakqlwbaog.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-01-28T11:39:10+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvtestnxwf2mraoakqlwbaog.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-01-28T11:39:10+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 28 2025 11:39:58.224577 GMT
    method: GET
    uri: https://kvtestnxwf2mraoakqlwbaog.azconfig.io/kv/testSecret?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTE6MTkjODMzMDE3NzI=;sn=83301772
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://clitest000002.vault.azure.net/secrets/testSecret/1f5827d5bc9d4451afed0b89dd102817\"}"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTE6MTkjODMzMDE3NzI=
      x-ms-content-sha256:
      - 91/HkWahHDts73FT41SYyOoPzwqaDNVaADSjsUO47e4=
      x-ms-date:
      - Jan, 28 2025 11:39:58.568449 GMT
    method: PUT
    uri: https://kvtestnxwf2mraoakqlwbaog.azconfig.io/kv/testSecret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"fjaQ_nOCXrvRyfGz8BrKPOCXMcAN6jR7YhvwjjhQV2E","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://clitestxsvkz3jac4tn5y7yb.vault.azure.net/secrets/testSecret/1f5827d5bc9d4451afed0b89dd102817\"}","tags":{},"locked":false,"last_modified":"2025-01-28T11:39:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"fjaQ_nOCXrvRyfGz8BrKPOCXMcAN6jR7YhvwjjhQV2E"'
      last-modified:
      - Tue, 28 Jan 2025 11:39:58 GMT
      sync-token:
      - zAJw6V16=MTE6MTkjODMzMDE3NzM=;sn=83301773
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZpdU%2BM2FIb/S6bTK4lAWMosMzsdFbzddCGhdjLpcqc4SnASy65kr0N2%2Bt97jmwrNtCLXp5LYGDy8p5vPT8GWh2K%2B0Tv7ODmx2ARRLPbYDILxf08GtwMnositzfDYSq13KhU6eJMHkujzuIsHdpyaWOT5EWSaTu8vl5dyeX5L/xarVb8g1IxX8bqI78axRcXy%2Bur5fLyepib7HuyUsYOH5LYZDZbF2ciz28zvU42pZH4p4Zx96uoyIyyv8o84d/h9[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 28 2025 11:40:04.389758 GMT
    method: GET
    uri: https://kvtestnxwf2mraoakqlwbaog.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"g0A_lpZgua_68o851dpU32_3sO1Rt6W6GqMsQdYmfCU","items":[{"etag":"fjaQ_nOCXrvRyfGz8BrKPOCXMcAN6jR7YhvwjjhQV2E","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://clitestxsvkz3jac4tn5y7yb.vault.azure.net/secrets/testSecret/1f5827d5bc9d4451afed0b89dd102817\"}","tags":{},"locked":false,"last_modified":"2025-01-28T11:39:58+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"g0A_lpZgua_68o851dpU32_3sO1Rt6W6GqMsQdYmfCU"'
      sync-token:
      - zAJw6V16=MTE6MTkjODMzMDE3Nzc=;sn=83301777
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000002.vault.azure.net/secrets/testSecret/1f5827d5bc9d4451afed0b89dd102817?api-version=7.4
  response:
    body:
      string: '{"value": "testValue", "id": "https://clitest000002.vault.azure.net/secrets/testSecret/1f5827d5bc9d4451afed0b89dd102817",
        "attributes": {"enabled": true, "created": 1738064393, "updated": 1738064393,
        "recoveryLevel": "CustomizedRecoverable+Purgeable", "recoverableDays": 7},
        "tags": {"file-encoding": "utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
