interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-06-08T23:50:03.3528888+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/u9eEmGUkfaN8O5FDahMOOQS-LPd458sRQUIx6QSkzZs?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/u9eEmGUkfaN8O5FDahMOOQS-LPd458sRQUIx6QSkzZs?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/u9eEmGUkfaN8O5FDahMOOQS-LPd458sRQUIx6QSkzZs","name":"u9eEmGUkfaN8O5FDahMOOQS-LPd458sRQUIx6QSkzZs","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/u9eEmGUkfaN8O5FDahMOOQS-LPd458sRQUIx6QSkzZs?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-06-08T23:50:03+00:00","endpoint":"https://kvtestbeppwrfc2qivi3huf7.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-06-08T23:50:03+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-08T23:50:04+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestbeppwrfc2qivi3huf7","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9d003833-0000-0100-0000-62a135ac0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtaSaQjqEhVZUHqZaOBZQQIfXNcQyYP45lO4S26nefbRhLP8LdYxQlytHv3HOP8xYIdjYzLvY6GL8FqzhfTuJ0meFZkQfjYGuM1OMwPBJBNuzIhOmR10axHq2PoW5KTRWXhtdCh6NRNSRl%2FxsasapCXxmjqKTsOxpGdDAoR8OyvBuFUtUnXjGlw9%2BcqlrXa9PDUk5qseabRhH3qpB2r3JTK6YfiOToZJ%2Bz9%2B%2BjfhSh%2FhD1B58%2F6T2Xy3rPxL1m6sQpQ4ZsUEsbHXwJ%2FgMlFyEOCzQe5%2BbcGKaNdgAtjBjD1IBOghnEvKEch7jI5osY2GxsG8Jb1lgM%2BbxY%2FnQscJ5gYCo6E64ZsWJwkbuoSrATBFcMI45MOs8sGYju6nAR%2F0wGO33dGtE2fdHH%2FIqAucwNvguvyBrsskWAKWjtt3sELTfbujHyYJX8yPBzMvNRBoxHZ1RK5TsKTvEUX2cFrhhKqOVylZGkU8i7hXJhtcDckbfG5Qb%2BMcPpJAbvrbVy3nrCC5zC3vM76Yrwr3kWwx%2F4vYfiOwvsRe8PjOJyzspXyfI5zmY4nXplsPJ4x18apIWLAGszvx3xY5ZMMEQtBy6IPfgjpwa9EpfIT8ncbxbXY2CR0baGtURwUXFyxXMpY3ewdEilidgcONLkKA8MDSyVTheDl867vzazZcxlc76Kp7Hdmf4PGCw2Nym67VSxIo8LvICl5OYyxeTBB4Al47xV5BE8Ne4%2FGCFV8P7%2BBw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - b63b8ea6-db7f-41d1-bf10-85df23690ba7
      - a68045db-967f-4f54-820b-a7b73e464242
      - 2553f733-3964-4fdf-be40-45cb2bf07255
      - f76f471a-7575-422c-b5e3-0803f5964aaf
      - 47d10f1e-f49a-44d9-818b-aa13ef3f3c04
      - a11ecc1a-3d28-45e4-992c-6e9cea5793ae
      - 322fa215-fb0b-4d88-9b83-5e0800b2d613
      - abc81e11-3504-4d1f-b2c4-726ee640f341
      - f2f8f155-1948-4b90-8ca5-814ede2a32ad
      - a96cd6c9-fd0e-4445-84de-33014548d055
      - aa62793a-af92-4f82-9c6c-02cf00662b6b
      - 93861cdf-3c35-4128-a042-88d1930f025d
      - 6f0d7e38-bf95-4ce4-aed3-005e51fc4e4a
      - ad97afae-fea9-4631-a20e-6b8f91c4a2e7
      - b5d84ebc-3790-41ee-9ad8-9d330decc498
      - f9304b50-4ac2-407a-a9fc-81de846a0c3a
      - f8cc5632-a9a3-444c-b4a8-34962f8cb497
      - 9bf840d3-78f5-4c1b-8d64-3b24436b0f50
      - d7bd0f2f-9f9d-4178-b827-adde4f2f13ac
      - 64640463-075e-4f71-9d56-6c4e2593bdde
      - f784d35f-ae24-46ff-aaa9-1cba6df6d519
      - ba10a3c1-6ae2-4b75-ae71-94eb0c25552c
      - 51b1defb-cf0e-4275-bebf-63752817e98f
      - b2e20bae-7532-4532-8cd5-64ba21ab13ab
      - 66d15bac-6c3f-465b-a7af-9893a2521137
      - 16eb8163-34be-4f7d-af1b-a237db26d151
      - 50646167-2288-4315-b6ae-6a01e9547062
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"cl7e-l0-s0:7Ru+OvVL9LWcsaTAGjC4","name":"Primary","value":"n6RyNtA79f1T+7nrl8dS4cDhyZC469ZhbV29MYtlr4Y=","connectionString":"Endpoint=https://kvtestbeppwrfc2qivi3huf7.azconfig.io;Id=cl7e-l0-s0:7Ru+OvVL9LWcsaTAGjC4;Secret=n6RyNtA79f1T+7nrl8dS4cDhyZC469ZhbV29MYtlr4Y=","lastModified":"2022-06-08T23:50:03+00:00","readOnly":false},{"id":"nyJo-l0-s0:x4fgCW5F7Fl6GPGofeOb","name":"Secondary","value":"/xXcvfJx7VhTmV3lM80z2/ib4iqAfkBKUnaTllviGIQ=","connectionString":"Endpoint=https://kvtestbeppwrfc2qivi3huf7.azconfig.io;Id=nyJo-l0-s0:x4fgCW5F7Fl6GPGofeOb;Secret=/xXcvfJx7VhTmV3lM80z2/ib4iqAfkBKUnaTllviGIQ=","lastModified":"2022-06-08T23:50:03+00:00","readOnly":false},{"id":"fZuC-l0-s0:NsHDNjEcQKpEfnZ01xSG","name":"Primary
        Read Only","value":"bSy0cjTlAPyT7CRcdcHMF36zfPw79t79bCBJdfY6jfQ=","connectionString":"Endpoint=https://kvtestbeppwrfc2qivi3huf7.azconfig.io;Id=fZuC-l0-s0:NsHDNjEcQKpEfnZ01xSG;Secret=bSy0cjTlAPyT7CRcdcHMF36zfPw79t79bCBJdfY6jfQ=","lastModified":"2022-06-08T23:50:03+00:00","readOnly":true},{"id":"ZAJN-l0-s0:P+dH6fLdwVrhRDbRy1qq","name":"Secondary
        Read Only","value":"h5QxUCPV1DK9ABnHDOf9OnYnhc/KarFLkfoKPg+CCg0=","connectionString":"Endpoint=https://kvtestbeppwrfc2qivi3huf7.azconfig.io;Id=ZAJN-l0-s0:P+dH6fLdwVrhRDbRy1qq;Secret=h5QxUCPV1DK9ABnHDOf9OnYnhc/KarFLkfoKPg+CCg0=","lastModified":"2022-06-08T23:50:03+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 08 2022 23:50:17 GMT
    method: GET
    uri: https://kvtestbeppwrfc2qivi3huf7.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Jun, 08 2022 23:50:17 GMT
    method: PUT
    uri: https://kvtestbeppwrfc2qivi3huf7.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"ZYNTZJq0kchmEBPmUp1se1pj4kW","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2022-06-08T23:50:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZYNTZJq0kchmEBPmUp1se1pj4kW"'
      last-modified:
      - Wed, 08 Jun 2022 23:50:18 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDIwOTAzNw==;sn=14209037
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"ZYNTZJq0kchmEBPmUp1se1pj4kW"'
      Sync-Token:
      - zAJw6V16=NDoxOSMxNDIwOTAzNw==
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Jun, 08 2022 23:50:21 GMT
    method: PUT
    uri: https://kvtestbeppwrfc2qivi3huf7.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"VQAt6oOmokNEQCwVYQqREOq0NzK","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2022-06-08T23:50:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VQAt6oOmokNEQCwVYQqREOq0NzK"'
      last-modified:
      - Wed, 08 Jun 2022 23:50:21 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDIwOTAzOA==;sn=14209038
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 08 2022 23:50:24 GMT
    method: GET
    uri: https://kvtestbeppwrfc2qivi3huf7.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
