interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-02-24T01:18:06.9457022+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/pKsOt3LzY-uGcRCM53mb3oeOVFT5QddhrEvPuJ99hzU?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/pKsOt3LzY-uGcRCM53mb3oeOVFT5QddhrEvPuJ99hzU?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/pKsOt3LzY-uGcRCM53mb3oeOVFT5QddhrEvPuJ99hzU","name":"pKsOt3LzY-uGcRCM53mb3oeOVFT5QddhrEvPuJ99hzU","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/pKsOt3LzY-uGcRCM53mb3oeOVFT5QddhrEvPuJ99hzU?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-02-24T01:18:07+00:00","endpoint":"https://kvtestojzdokkoum2hxvgoy7.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-02-24T01:18:07+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T01:18:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestojzdokkoum2hxvgoy7","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8400248c-0000-0100-0000-63f8104f0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NDqiYPXC0bDSx%2FhNQ3xzHBBZzMdghq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5ulkHsdzF6DDcmLOUmLDC%2FLPJgFO2M6PQvDI5W04UcuzYi%2B9IqPWHsMdV9ppkRnRCt1OJ3WE1qNv6Apr2v0mXOGKsa%2FoknMoqiaTqrq0zTsVHsSNVc6fBRMtbrdmhHuunkrt6LpFXWfCtntU25axfU32gl0su%2FZ3%2B%2FjcRyj8QSNo48f9F50Rbvn8l5zdRKMI0MbNLBeB3fBf0ByAXGyQNPj3J97w7XRTkArBsEwGdBJcoO4HyinAymz1ZrA8obZqdaYg5CNVyO2cuSrsvjhNMF5gmHR3Dpdc2phcJm7yEqwA4ILw2lvYdJVZpUBOGW3ukjuUPyQwU5hVyfapjD6N8diwFPWaxcAl04BxjHY%2F%2B6FGITZtb3pDpbke4afkqWfNbiqVMpvLDjFC%2FzuGLgwjDKryztGki4gNwwT0rLAbMrr%2FuUM%2F5DhdE7Az9ZWudn6idc4hd32z51bi3%2BtMgLf8Hsvit9cYNe9Pz7Ky6nLNwp%2ByJI59mSw8vjZrvvUHp2RCwH0Ql2K3TQlPO9cgWxVOufkG7IgNtH8bQVQbfTgwizfJMUTyZY4XbitDCrLYYgszG9c4Ay2Kt4xf%2FwO4zMA4AZzNYsW0ieAVeaazKTEa1hDpjijLYqiaGI5XHSVeQyPwl2JUVoHb3cBVUfcNIo31PDaX2BaQXD2GLz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 558e2162-714f-44b3-a1a1-cb5003aeba76
      - d6a69168-2771-4f88-a3a3-8726f68cb348
      - b826e389-74e4-4a54-b948-c3846697fef8
      - daf0329e-dd34-437b-8118-7352a0219f36
      - b1432ba9-b5bd-47c7-9415-267a8ea77892
      - f708feca-0212-48b6-81cd-377011e51bdf
      - 446f6881-e544-4248-8c9b-97511f034a7e
      - 457e92fc-cdc8-4c8b-9e79-512cdb969c3b
      - 7ab92e15-6c72-4ed8-9823-1a34ad4dc649
      - 9687fca8-e4c1-4ad8-822c-404c33ab9040
      - f771822c-eb1c-4d16-abd2-eee2468e1ea1
      - 13d01cdb-cf83-4ded-a76a-688364dedf9f
      - bdfbb00f-6344-4e09-9760-46253f3a49a1
      - dd08e11d-e2e4-4bb9-a146-7c60fe8c3470
      - 32a7a3de-8bb6-432a-aa4d-dbf28b74e314
      - acaee91c-c124-4841-902f-8e1f27faa996
      - 0a1447c2-c417-46af-b861-54f8adf4b675
      - 98d93459-b6bd-4d32-b6eb-b5c403b24922
      - 811f9cfe-a4b2-49ab-9999-8ae82d829da3
      - f4a7b8a2-1ca2-4106-b5fb-a5ce98e3399c
      - 55db784d-3f31-413a-af8a-d711f27c76f1
      - 0ee23e73-8625-4e68-afbc-1b479d373ac7
      - 5b2b28c0-3142-4c23-a73d-00281d4941a7
      - 3ccb8933-361b-4229-ab1a-ef51888eef96
      - e64b0afc-3e60-4a54-9870-4c92b9a572a5
      - dc9e3bc7-f9b2-4e87-83e8-20e53b85f0fd
      - 267d5e28-8ab9-4309-abef-7f5f5301af61
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"hzJm-l0-s0:1y4s+VSfySWlW5jFJCC+","name":"Primary","value":"D/mM9FQ+i7Lmg2vN5pcV10S8tJKCPDxdSmtKLIIgAqU=","connectionString":"Endpoint=https://kvtestojzdokkoum2hxvgoy7.azconfig.io;Id=hzJm-l0-s0:1y4s+VSfySWlW5jFJCC+;Secret=D/mM9FQ+i7Lmg2vN5pcV10S8tJKCPDxdSmtKLIIgAqU=","lastModified":"2023-02-24T01:18:06+00:00","readOnly":false},{"id":"PWfC-l0-s0:ULFOhpdi6mamdOoSzQ3t","name":"Secondary","value":"Cg5JadLUtoqKxLjOtTTmRdOM9mH4i37L2bC0uz0AV/Q=","connectionString":"Endpoint=https://kvtestojzdokkoum2hxvgoy7.azconfig.io;Id=PWfC-l0-s0:ULFOhpdi6mamdOoSzQ3t;Secret=Cg5JadLUtoqKxLjOtTTmRdOM9mH4i37L2bC0uz0AV/Q=","lastModified":"2023-02-24T01:18:06+00:00","readOnly":false},{"id":"KHAV-l0-s0:edLv9qPVOcRkPAMVR0Eq","name":"Primary
        Read Only","value":"I4iC3Yf7M+SDpp4yyI6znuGFGocsvbvhGCD1DfdclNk=","connectionString":"Endpoint=https://kvtestojzdokkoum2hxvgoy7.azconfig.io;Id=KHAV-l0-s0:edLv9qPVOcRkPAMVR0Eq;Secret=I4iC3Yf7M+SDpp4yyI6znuGFGocsvbvhGCD1DfdclNk=","lastModified":"2023-02-24T01:18:06+00:00","readOnly":true},{"id":"TCly-l0-s0:kZJgQFjPUnMwnvG1/CCF","name":"Secondary
        Read Only","value":"5f0gix4ikwQrHkI/rhFc79NoKZ+YbQ1fHCw+POB51cE=","connectionString":"Endpoint=https://kvtestojzdokkoum2hxvgoy7.azconfig.io;Id=TCly-l0-s0:kZJgQFjPUnMwnvG1/CCF;Secret=5f0gix4ikwQrHkI/rhFc79NoKZ+YbQ1fHCw+POB51cE=","lastModified":"2023-02-24T01:18:06+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:18:22 GMT
    method: GET
    uri: https://kvtestojzdokkoum2hxvgoy7.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA2OQ==;sn=34040069
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0MDA2OQ==
      x-ms-content-sha256:
      - 8iLdcWDtWLJ8PYg7E6yLqnb7ejltzQCh53RwNMv7mKs=
      x-ms-date:
      - Feb, 24 2023 01:18:22 GMT
    method: PUT
    uri: https://kvtestojzdokkoum2hxvgoy7.azconfig.io/kv/Language?api-version=1.0
  response:
    body:
      string: '{"etag":"covgT00pSsxt1Ru_BX0jy_sV_YAVhXLzFPCMKVnphP0","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"covgT00pSsxt1Ru_BX0jy_sV_YAVhXLzFPCMKVnphP0"'
      last-modified:
      - Fri, 24 Feb 2023 01:18:23 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA3MA==;sn=34040070
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0MDA3MA==
      x-ms-content-sha256:
      - 1FHvbxOPu6FW3+2pQFjxMT+epjbFMPYBGmgoojwEo4g=
      x-ms-date:
      - Feb, 24 2023 01:18:22 GMT
    method: PUT
    uri: https://kvtestojzdokkoum2hxvgoy7.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"lFNQ-yBGp0kiWWI9gchM0NNfyze2hz631aVdx2DDT4U","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lFNQ-yBGp0kiWWI9gchM0NNfyze2hz631aVdx2DDT4U"'
      last-modified:
      - Fri, 24 Feb 2023 01:18:24 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA3MQ==;sn=34040071
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:18:25 GMT
    method: GET
    uri: https://kvtestojzdokkoum2hxvgoy7.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"lFNQ-yBGp0kiWWI9gchM0NNfyze2hz631aVdx2DDT4U","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:24+00:00"},{"etag":"covgT00pSsxt1Ru_BX0jy_sV_YAVhXLzFPCMKVnphP0","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:23+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA3MQ==;sn=34040071
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:18:28 GMT
    method: GET
    uri: https://kvtestojzdokkoum2hxvgoy7.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"lFNQ-yBGp0kiWWI9gchM0NNfyze2hz631aVdx2DDT4U","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:24+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA3NQ==;sn=34040075
    status:
      code: 200
      message: OK
version: 1
