interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-06-06T17:41:45.7109269+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/w1_bXMQEbXaegnAG5kAAztSmF5nO9YukPLc43Teh8oU?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/w1_bXMQEbXaegnAG5kAAztSmF5nO9YukPLc43Teh8oU?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/w1_bXMQEbXaegnAG5kAAztSmF5nO9YukPLc43Teh8oU","name":"w1_bXMQEbXaegnAG5kAAztSmF5nO9YukPLc43Teh8oU","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/w1_bXMQEbXaegnAG5kAAztSmF5nO9YukPLc43Teh8oU?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-06-06T17:41:45+00:00","endpoint":"https://source2h2hl57eodesc3napy.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-06-06T17:41:45+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-06T17:41:46+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/source2h2hl57eodesc3napy","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"60004359-0000-0100-0000-629e3c5a0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtaSaQjqEhVZUHqZaOBZQQIfXNcQyYP45lO4S26nefbRhLP8LdYxQlytHv3HOP8xYIdjYzLvY6GL8FqzhfTuJ0meFZkQfjYGuM1OMwPBJBNuzIhOmR10axHq2PoW5KTRWXhtdCh6NRNSRl%2FxsasapCXxmjqKTsOxpGdDAoR8OyvBuFUtUnXjGlw9%2BcqlrXa9PDUk5qseabRhH3qpB2r3JTK6YfiOToZJ%2Bz9%2B%2BjfhSh%2FhD1B58%2F6T2Xy3rPxL1m6sQpQ4ZsUEsbHXwJ%2FgMlFyEOCzQe5%2BbcGKaNdgAtjBjD1IBOghnEvKEch7jI5osY2GxsG8Jb1lgM%2BbxY%2FnQscJ5gYCo6E64ZsWJwkbuoSrATBFcMI45MOs8sGYju6nAR%2F0wGO33dGtE2fdHH%2FIqAucwNvguvyBrsskWAKWjtt3sELTfbujHyYJX8yPBzMvNRBoxHZ1RK5TsKTvEUX2cFrhhKqOVylZGkU8i7hXJhtcDckbfG5Qb%2BMcPpJAbvrbVy3nrCC5zC3vM76Yrwr3kWwx%2F4vYfiOwvsRe8PjOJyzspXyfI5zmY4nXplsPJ4x18apIWLAGszvx3xY5ZMMEQtBy6IPfgjpwa9EpfIT8ncbxbXY2CR0baGtURwUXFyxXMpY3ewdEilidgcONLkKA8MDSyVTheDl867vzazZcxlc76Kp7Hdmf4PGCw2Nym67VSxIo8LvICl5OYyxeTBB4Al47xV5BE8Ne4%2FGCFV8P7%2BBw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - a5c8bcd4-945b-4834-b06f-f6e419b02417
      - 729c2230-346e-47d7-bce4-2c9fb82bb282
      - 51012544-85ee-44cc-9ed9-4c4b05181813
      - 5250f3e8-1647-4ff9-a115-bdc255b255c9
      - fd0f0858-9112-4dec-8bc6-7a4d43769c77
      - 72d8959b-d140-44c2-bb53-119a2e29724c
      - 8b4a991e-b66d-4b99-bc86-b7f2c6716cfc
      - baa5b1ad-cb63-4fb6-86b1-0c60dd0e5c81
      - e6663fa6-166b-43f7-b7a4-94c4289d727f
      - 02b24b1c-6cd6-4b50-a194-aa39b08a388c
      - 92615a59-cf07-4fc8-adde-57fa5c7162e0
      - 02c36273-efdb-4cc4-8941-33b9ab804f0f
      - f0b51aac-87cf-4ae3-8cc4-44ab96e1fc86
      - 8c1f2098-bab8-410b-9e60-af0df466a135
      - 23f5ad43-11ae-4d6e-aa96-326831bf1a0e
      - 1a4d0f8a-f561-45d5-86d3-a49611799404
      - c1443b93-7845-4e72-aaeb-71abded3ac8d
      - 0904f0c0-c353-465b-a362-1c68f50c1302
      - 52db5f9e-876b-4d7a-a984-11053d1030c1
      - a91d16cc-9ffd-4882-a192-2ed9bb0a17d9
      - 28cd9276-3172-430c-aee3-173a669aa6d6
      - 09d20271-b35d-425b-9585-e25b86ad8eba
      - 5de068b7-bc58-4667-8fef-1170f8e43324
      - 1cca2e4e-b331-488a-b512-4bef0450d003
      - 69be1856-b745-4a80-a1a9-e84927604ee0
      - 8eb240c4-44a7-4ddd-a6cb-ecefd68746a7
      - abaca53a-8590-4929-9c94-92889ac304f1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"MsZW-l0-s0:EDOn9BnMwcpNa2wMwW5c","name":"Primary","value":"nvFvdZZpCz4rNM0z64Iut7pL9WcED8WBUwHEy+jXU3M=","connectionString":"Endpoint=https://source2h2hl57eodesc3napy.azconfig.io;Id=MsZW-l0-s0:EDOn9BnMwcpNa2wMwW5c;Secret=nvFvdZZpCz4rNM0z64Iut7pL9WcED8WBUwHEy+jXU3M=","lastModified":"2022-06-06T17:41:45+00:00","readOnly":false},{"id":"29Aq-l0-s0:0q0a8VHU1GWJ2PNVnYur","name":"Secondary","value":"nxaRpcDhKRMs5WzOlD6ALxi1C1flTntbPNu4WisXP4s=","connectionString":"Endpoint=https://source2h2hl57eodesc3napy.azconfig.io;Id=29Aq-l0-s0:0q0a8VHU1GWJ2PNVnYur;Secret=nxaRpcDhKRMs5WzOlD6ALxi1C1flTntbPNu4WisXP4s=","lastModified":"2022-06-06T17:41:45+00:00","readOnly":false},{"id":"L3yu-l0-s0:LDjHn2UVPquAmqjQALAD","name":"Primary
        Read Only","value":"YPKc8X/TvX7H5Olf/EulMM9GMmtoiT3ac7lGNy8rXNc=","connectionString":"Endpoint=https://source2h2hl57eodesc3napy.azconfig.io;Id=L3yu-l0-s0:LDjHn2UVPquAmqjQALAD;Secret=YPKc8X/TvX7H5Olf/EulMM9GMmtoiT3ac7lGNy8rXNc=","lastModified":"2022-06-06T17:41:45+00:00","readOnly":true},{"id":"0lOx-l0-s0:fn/G+XI4dFm9EHPhdMqo","name":"Secondary
        Read Only","value":"NkjW9jNSAjFlWoLpuk6Bv/yt0tCNFF2BPjN0kmNq7ys=","connectionString":"Endpoint=https://source2h2hl57eodesc3napy.azconfig.io;Id=0lOx-l0-s0:fn/G+XI4dFm9EHPhdMqo;Secret=NkjW9jNSAjFlWoLpuk6Bv/yt0tCNFF2BPjN0kmNq7ys=","lastModified":"2022-06-06T17:41:45+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Xfao2mRYsa3MeiHkWdQ8qFYNiod_JjwtUoAheR700gY?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Xfao2mRYsa3MeiHkWdQ8qFYNiod_JjwtUoAheR700gY","name":"Xfao2mRYsa3MeiHkWdQ8qFYNiod_JjwtUoAheR700gY","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Xfao2mRYsa3MeiHkWdQ8qFYNiod_JjwtUoAheR700gY?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"pIHJ-l0-s0:O+lXcxYA288SlBhAvIAj","name":"Primary","value":"uRmE5Eihz4ZWPNfOvu0E3x90ewPCnNScPFCSDztlw48=","connectionString":"Endpoint=https://destinationd2ocif65j[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:13 GMT
    method: GET
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Jun, 06 2022 17:42:13 GMT
    method: PUT
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"7EjZoqVNifB3uiORoUD7PfXtqCa","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7EjZoqVNifB3uiORoUD7PfXtqCa"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:13 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMzAzNTg2NQ==;sn=13035865
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Jun, 06 2022 17:42:17 GMT
    method: PUT
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"B9PZl9bcoVmXdJJ5MzZBiNBbjva","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"B9PZl9bcoVmXdJJ5MzZBiNBbjva"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:17 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMzAzNTg3NQ==;sn=13035875
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Jun, 06 2022 17:42:17 GMT
    method: PUT
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"J6XLPiu9SUpfWPgRyDQ13pqbrtt","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"J6XLPiu9SUpfWPgRyDQ13pqbrtt"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:18 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMzAzNTg3Ng==;sn=13035876
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:20 GMT
    method: GET
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Jun, 06 2022 17:42:20 GMT
    method: PUT
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"JUKGUQ1I093gvxxVRWwpgmX7wBZ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:20+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JUKGUQ1I093gvxxVRWwpgmX7wBZ"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:20 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMzAzNTg3OQ==;sn=13035879
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:20 GMT
    method: GET
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:20 GMT
    method: GET
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"JUKGUQ1I093gvxxVRWwpgmX7wBZ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:20+00:00"},{"etag":"Y1AqTCnSExmSG1FgTL38O1zeNrg","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+js[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzoxOSMxMzAzNTg4MA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:21 GMT
    method: GET
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"JUKGUQ1I093gvxxVRWwpgmX7wBZ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:20+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMxMzAzNTg4MA==;sn=13035880
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - 4d83mG8PIR/2pHo1eYUwL4DWxZPKi3DBipo7rkeA0Og=
      x-ms-date:
      - Jun, 06 2022 17:42:21 GMT
    method: PUT
    uri: https://destinationd2ocif65jc4ki.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: '{"etag":"0JrwLbtDWT5jGs7Y87uTuqCB669","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0JrwLbtDWT5jGs7Y87uTuqCB669"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:21 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDEwODAxMw==;sn=14108013
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNDEwODAxMw==
      x-ms-content-sha256:
      - ssERcN/l30qL3zGxsEuQXd8SMRck/hPK9o4FH0rGF6Q=
      x-ms-date:
      - Jun, 06 2022 17:42:21 GMT
    method: PUT
    uri: https://destinationd2ocif65jc4ki.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"qffxo4BVTkNwRqZqaNTSfhs3nuj","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qffxo4BVTkNwRqZqaNTSfhs3nuj"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:22 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDEwODAxNQ==;sn=14108015
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSMxNDEwODAyOA==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Jun, 06 2022 17:42:22 GMT
    method: PUT
    uri: https://destinationd2ocif65jc4ki.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"XFs5tOD2pk9jnaQguGTNhX2q6cg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XFs5tOD2pk9jnaQguGTNhX2q6cg"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:23 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDEwODAyOQ==;sn=14108029
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:23 GMT
    method: GET
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"JUKGUQ1I093gvxxVRWwpgmX7wBZ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:20+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMxMzAzNTg4MA==;sn=13035880
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:23 GMT
    method: GET
    uri: https://destinationd2ocif65jc4ki.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"XFs5tOD2pk9jnaQguGTNhX2q6cg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"i[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:23 GMT
    method: GET
    uri: https://destinationd2ocif65jc4ki.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"XFs5tOD2pk9jnaQguGTNhX2q6cg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:23+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMxNDEwODAyOQ==;sn=14108029
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:24 GMT
    method: GET
    uri: https://destinationd2ocif65jc4ki.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"XFs5tOD2pk9jnaQguGTNhX2q6cg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
- request:
    body: null
    headers:
      If-Match:
      - '"XFs5tOD2pk9jnaQguGTNhX2q6cg"'
      Sync-Token:
      - zAJw6V16=NDoxOSMxNDEwODAyOQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:24 GMT
    method: DELETE
    uri: https://destinationd2ocif65jc4ki.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"XFs5tOD2pk9jnaQguGTNhX2q6cg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XFs5tOD2pk9jnaQguGTNhX2q6cg"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:23 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDEwODAzMA==;sn=14108030
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:29 GMT
    method: GET
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"JUKGUQ1I093gvxxVRWwpgmX7wBZ","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
[...]
- request:
    body: '{"key": "Array", "content_type": "application/json", "value": "[\"StringBoolValue\",
      \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - Zi8aaIF8dKSMjbUqEeK3OxywatmQee6zWX+zKd2w3/I=
      x-ms-date:
      - Jun, 06 2022 17:42:33 GMT
    method: PUT
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv/Array?api-version=1.0
  response:
    body:
      string: '{"etag":"Wu4aRmxOKrdPoGS2hinT0jNnWp0","key":"Array","label":null,"content_type":"application/json","value":"[\"StringBoolValue\",
        \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Wu4aRmxOKrdPoGS2hinT0jNnWp0"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:34 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMzAzNTg5Nw==;sn=13035897
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyHybridList", "content_type": "application/json",
      "value": "[1000, true, \"AppConfig string value\", [\"NestedArray\", 12, false,
      null], {\"ObjectSetting\": {\"Logging\": {\"LogLevel\": \"Information\", \"Default\":
      \"Debug\"}}}]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMxMzAzNTg5Nw==
      x-ms-content-sha256:
      - /VcnuUjWi67XSfj41owPM1TEqVKKosXnlVKtym7qLXE=
      x-ms-date:
      - Jun, 06 2022 17:42:33 GMT
    method: PUT
    uri: https://source2h2hl57eodesc3napy.azconfig.io/kv/ComplexSettings%3AMyHybridList?api-version=1.0
  response:
    body:
      string: '{"etag":"sXbBOpRWKETLNFFs8rrK13p3Xsa","key":"ComplexSettings:MyHybridList","label":null,"content_type":"application/json","value":"[1000,
        true, \"AppConfig string value\", [\"NestedArray\", 12, false, null], {\"ObjectSetting\":
        {\"Logging\": {\"LogLevel\": \"Information\", \"Default\": \"Debug\"}}}]","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sXbBOpRWKETLNFFs8rrK13p3Xsa"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:34 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMzAzNTg5OA==;sn=13035898
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyListOfHybridLists", "content_type": "application/json",
      "value": "[[\"NestedArray4\", 34], [\"NestedArray5\", true, null], [\"NestedArray6\",
      {\"MyNullValue\": null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\":
      \"Value1\", \"Name2\": \"Value2\"}}}}]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMxMzAzNTg5OA==
      x-ms-content-sha256:
      - waQP+q+A[...]
- request:
    body: '{"key": "ComplexSettings:MyListOfStringLists", "content_type": "application/json",
      "value": "[[\"NestedArray1\", \"12\", \"false\", \"null\"], [\"NestedArray2\",
      \"text\"], [\"NestedArray3\"]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
[...]
