interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-07-25T16:54:04.8020807+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002","name":"NamingConventionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oS9kFq2j406D1UufogYio7ZZZiVFUHwS7wL3i-eEwJc?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oS9kFq2j406D1UufogYio7ZZZiVFUHwS7wL3i-eEwJc?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oS9kFq2j406D1UufogYio7ZZZiVFUHwS7wL3i-eEwJc","name":"oS9kFq2j406D1UufogYio7ZZZiVFUHwS7wL3i-eEwJc","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/oS9kFq2j406D1UufogYio7ZZZiVFUHwS7wL3i-eEwJc?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-25T16:54:05+00:00","endpoint":"https://namingconventiontestc3pt.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-25T16:54:05+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-25T16:54:05+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/namingconventiontestc3pt","name":"NamingConventionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"ee03a0d6-0000-0100-0000-64bffe2d0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 01a6cdc7-d4e1-489a-9d44-c9df838568d0
      - 47a87dd6-746d-485e-93b3-48eeaf52526d
      - 49628578-2042-4b77-a4e2-87cf092d3fec
      - ba561aaf-a5d9-4248-9ff2-11c5119fd4f2
      - 3164167c-254e-48e0-8ec0-f3e3bd59f6cd
      - 5eb602b6-73ad-4619-8553-8e8602dae59c
      - 810542ec-f487-44db-9343-f28bd6cac1dd
      - 79c12e20-77d1-4dda-90c1-325f84ef48ac
      - 6d80c981-4f26-47c9-ada8-1c3fe68edaaa
      - deb8d228-0d4b-421e-8822-3b831f0a8082
      - c88d18cc-21d8-4d8a-8d71-0f4230821055
      - 67544a11-74d6-4968-8bb4-f7d91b97615c
      - 727ac10f-b315-417f-afa8-9a0b3db6b3f6
      - e44d3795-a095-44d8-ac72-f4b5222b84c7
      - d7b9fa69-efcc-42df-9bb6-5c2663833e1e
      - bdd0ccf3-fffe-4f4d-a921-2a6cb74bfbcb
      - 23f567de-beaf-4087-a972-7be061448f0a
      - 839173fb-9bea-4414-bfa5-ed474ed16404
      - 45549ea4-b05f-4863-ae2c-901a5c990f4d
      - 02668cfb-eaec-4519-b934-9a3bb4ebba8e
      - 1c4926f0-1ba6-4188-b378-d9c48cbf0932
      - 3e2c24b7-8660-4f97-9d7d-517d37b3905f
      - 6624f4bb-331e-4792-99a0-08aa553a215b
      - e6bc0f9c-b5b1-4d61-9de9-a0a05ce99d44
      - 957aa6b7-afe5-4497-95fd-e7edd0a19d93
      - 2efe032f-0f44-4fbf-8852-9e79dc71b787
      - f9bffeb8-464b-4017-be3e-b236b8ee4243
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"Yo5P","name":"Primary","value":"sHMPrmluFHRENTh7wymUvFqTu9C8JANBI+sNTEWMDoA=","connectionString":"Endpoint=https://namingconventiontestc3pt.azconfig.io;Id=Yo5P;Secret=sHMPrmluFHRENTh7wymUvFqTu9C8JANBI+sNTEWMDoA=","lastModified":"2023-07-25T16:54:04+00:00","readOnly":false},{"id":"BPn/","name":"Secondary","value":"qNkVYXmaNjBaGVOF7LdU9rNfkG6MUuDYktVmJ2qdx2Y=","connectionString":"Endpoint=https://namingconventiontestc3pt.azconfig.io;Id=BPn/;Secret=qNkVYXmaNjBaGVOF7LdU9rNfkG6MUuDYktVmJ2qdx2Y=","lastModified":"2023-07-25T16:54:04+00:00","readOnly":false},{"id":"kCOu","name":"Primary
        Read Only","value":"4Ambc3pli2u5i62KT3Ta9E8OCJIBDfSMTaH9NjOAiM8=","connectionString":"Endpoint=https://namingconventiontestc3pt.azconfig.io;Id=kCOu;Secret=4Ambc3pli2u5i62KT3Ta9E8OCJIBDfSMTaH9NjOAiM8=","lastModified":"2023-07-25T16:54:04+00:00","readOnly":true},{"id":"7cvF","name":"Secondary
        Read Only","value":"PAK6TNn5tTY0rJo6fs3nYVxdX/JJW48vSupgqf6Sghg=","connectionString":"Endpoint=https://namingconventiontestc3pt.azconfig.io;Id=7cvF;Secret=PAK6TNn5tTY0rJo6fs3nYVxdX/JJW48vSupgqf6Sghg=","lastModified":"2023-07-25T16:54:04+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 25 2023 16:54:49 GMT
    method: GET
    uri: https://namingconventiontestc3pt.azconfig.io/kv?key=%2A&label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSM5NjUwNjI5;sn=9650629
      x-ms-resource-group:
      - clitest.rghdrl2xhfcsfkvgypglskg7qlqevdedozjpr777djyemhumuavhhe63ovl4cs763hx
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - namingconventiontestc3pt
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NzoxOSM5NjUwNjI5
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 25 2023 16:54:49 GMT
    method: GET
    uri: https://namingconventiontestc3pt.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSM5NjUwNjI5;sn=9650629
      x-ms-resource-group:
      - clitest.rghdrl2xhfcsfkvgypglskg7qlqevdedozjpr777djyemhumuavhhe63ovl4cs763hx
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - namingconventiontestc3pt
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "NamingConventionTest", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSM5NjUwNjI5
      x-ms-content-sha256:
      - VSffS36d1yZrU0VE0K0JB85BAfWtgzcSKReH3XQQcKM=
      x-ms-date:
      - Jul, 25 2023 16:54:49 GMT
    method: PUT
    uri: https://namingconventiontestc3pt.azconfig.io/kv/Color?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"1b1TcmhNj1I2tKB_Mu3Wv9zBU0O6Mx2bRawXL1tLVFU","key":"Color","label":"NamingConventionTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2023-07-25T16:54:49+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1b1TcmhNj1I2tKB_Mu3Wv9zBU0O6Mx2bRawXL1tLVFU"'
      last-modified:
      - Tue, 25 Jul 2023 16:54:49 GMT
      sync-token:
      - zAJw6V16=NzoxOSM5NjUwNjMw;sn=9650630
      x-ms-resource-group:
      - clitest.rghdrl2xhfcsfkvgypglskg7qlqevdedozjpr777djyemhumuavhhe63ovl4cs763hx
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - namingconventiontestc3pt
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Region", "label": "NamingConventionTest", "value": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSM5NjUwNjMw
      x-ms-content-sha256:
      - d5TuuQY1+uOeZsImyUtbAguTYwPriNoBgqLVZgmcRso=
      x-ms-date:
      - Jul, 25 2023 16:54:49 GMT
    method: PUT
    uri: https://namingconventiontestc3pt.azconfig.io/kv/Region?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"Wg34IgiZ-R33qcYqQAhcZrhHNXHGbMEKeKhoIlScDrg","key":"Region","label":"NamingConventionTest","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2023-07-25T16:54:49+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Wg34IgiZ-R33qcYqQAhcZrhHNXHGbMEKeKhoIlScDrg"'
      last-modified:
      - Tue, 25 Jul 2023 16:54:49 GMT
      sync-token:
      - zAJw6V16=NzoxOSM5NjUwNjMx;sn=9650631
      x-ms-resource-group:
      - clitest.rghdrl2xhfcsfkvgypglskg7qlqevdedozjpr777djyemhumuavhhe63ovl4cs763hx
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - namingconventiontestc3pt
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSM5NjUwNjMx
      x-ms-content-sha256:
      - LlJkZdiUPnv6AG4PyAVQ8nH84c9fsUS598ZH84M/fd4=
      x-ms-date:
      - Jul, 25 2023 16:54:49 GMT
    method: PUT
    uri: https://namingconventiontestc3pt.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"ACmKQ1RoEftHS28bLnL96TjABXJn2aqLaEev14z6Czs","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-07-25T16:54:49+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ACmKQ1RoEftHS28bLnL96TjABXJn2aqLaEev14z6Czs"'
      last-modified:
      - Tue, 25 Jul 2023 16:54:49 GMT
      sync-token:
      - zAJw6V16=NzoxOSM5NjUwNjMy;sn=9650632
      x-ms-resource-group:
      - clitest.rghdrl2xhfcsfkvgypglskg7qlqevdedozjpr777djyemhumuavhhe63ovl4cs763hx
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - namingconventiontestc3pt
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSM5NjUwNjMy
      x-ms-content-sha256:
      - InFMUc4jWZGxDF2tsAtzKRs[...]
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSM5NjUwNjMz
      x-ms-content-sha256:
      - 2G4MoMP9JRN0R01czMDumf4AGMDfhMFXxOZkZuPXMj8=
      x-ms-date:
      - Jul, 25 2023 16:54:49 GMT
    method: PUT
    uri: https://namingconventiontestc3pt.azconfig[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 25 2023 16:54:53 GMT
    method: GET
    uri: https://namingconventiontestc3pt.azconfig.io/kv?label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"_9eMfUSzW3ul_FH39tDt7m9MlvoWd4w9qVgrbW52wxI","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.micro[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 25 2023 16:54:56 GMT
    method: GET
    uri: https://namingconventiontestc3pt.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"_9eMfUSzW3ul_FH39tDt7m9MlvoWd4w9qVgrbW52wxI","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type[...]
[...]
