interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-12-10T01:41:47.7554514+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/654a81a0-7d06-f8cf-20ca-aeb6149685a7?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/654a81a0-7d06-f8cf-20ca-aeb6149685a7?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/654a81a0-7d06-f8cf-20ca-aeb6149685a7","name":"654a81a0-7d06-f8cf-20ca-aeb6149685a7","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/654a81a0-7d06-f8cf-20ca-aeb6149685a7?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-12-10T01:41:49+00:00","endpoint":"https://importtest4k3spjy5362upg.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtest4k3spjy5362upg","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"000059d9-0000-0100-0000-5deef7dd0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"zWr4-l0-s0:c6e9VXqjla5q3396ckRx","name":"Primary","value":"aYrynON9N/lbp1LFdWLXFK3Efz2GGT5+2rffxUGlkOE=","connectionString":"Endpoint=https://importtest4k3spjy5362upg.azconfig.io;Id=zWr4-l0-s0:c6e9VXqjla5q3396ckRx;Secret=aYrynON9N/lbp1LFdWLXFK3Efz2GGT5+2rffxUGlkOE=","lastModified":"2019-12-10T01:41:48+00:00","readOnly":false},{"id":"4/O0-l0-s0:Sb/hDFj2IvrdUokJUBpn","name":"Secondary","value":"LL4cTNuxdwp2oJx0zizG8lBmVs7CTFD+2780swYnN1E=","connectionString":"Endpoint=https://importtest4k3spjy5362upg.azconfig.io;Id=4/O0-l0-s0:Sb/hDFj2IvrdUokJUBpn;Secret=LL4cTNuxdwp2oJx0zizG8lBmVs7CTFD+2780swYnN1E=","lastModified":"2019-12-10T01:41:48+00:00","readOnly":false},{"id":"9IOD-l0-s0:jt6I2ABF7lmBVPW4Pzac","name":"Primary
        Read Only","value":"UvIBJzh8lHUlUEoiXupJ6m8yKUD8LEDbMax8iW7q11A=","connectionString":"Endpoint=https://importtest4k3spjy5362upg.azconfig.io;Id=9IOD-l0-s0:jt6I2ABF7lmBVPW4Pzac;Secret=UvIBJzh8lHUlUEoiXupJ6m8yKUD8LEDbMax8iW7q11A=","lastModified":"2019-12-10T01:41:48+00:00","readOnly":true},{"id":"8wmc-l0-s0:TLL+dc5P0/fa11bzXKwB","name":"Secondary
        Read Only","value":"pCw4yf4AxfwxZOY9dWBcE7SKLTGZXbsg/FNoeZeG/k4=","connectionString":"Endpoint=https://importtest4k3spjy5362upg.azconfig.io;Id=8wmc-l0-s0:TLL+dc5P0/fa11bzXKwB;Secret=pCw4yf4AxfwxZOY9dWBcE7SKLTGZXbsg/FNoeZeG/k4=","lastModified":"2019-12-10T01:41:48+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": null, "content_type": null, "value": "English"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - Tlm1NrRPwmJJH5V5EXDXS5ayp671Q4CThv6j9TX1alE=
      x-ms-date:
      - Dec, 10 2019 01:42:05 GMT
    method: PUT
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv/Langugage?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"afivQ4PHG5NvJIOdTMlTwlmphiU","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"afivQ4PHG5NvJIOdTMlTwlmphiU"'
      last-modified:
      - Tue, 10 Dec 2019 01:42:06 GMT
      sync-token:
      - zAJw6V16=MzotMSM3MjY2NjY=;sn=726666
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": null, "content_type": null, "value": "ship2"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - Rr8nLTGZmqlTe0bqQORRSI+wZVgAl3geWPsJnYEiwxI=
      x-ms-date:
      - Dec, 10 2019 01:42:06 GMT
    method: PUT
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F1?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"1MXTZ5kD3rDbMEsAONOY8IUf6rn","key":"Settings:BackgroundColor/ship/1","label":null,"content_type":null,"value":"ship2","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1MXTZ5kD3rDbMEsAONOY8IUf6rn"'
      last-modified:
      - Tue, 10 Dec 2019 01:42:06 GMT
      sync-token:
      - zAJw6V16=MzotMSM3MjY2Njc=;sn=726667
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": null, "content_type": null, "value": "spanish"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - zy/DXicFO7lPTMxDUnxEw3RgGXfCao/oE1sJC4gc3ko=
      x-ms-date:
      - Dec, 10 2019 01:42:06 GMT
    method: PUT
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv/language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"fIhXaO63Cjpw5kdbVTOqc1FfbcS","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"fIhXaO63Cjpw5kdbVTOqc1FfbcS"'
      last-modified:
      - Tue, 10 Dec 2019 01:42:06 GMT
      sync-token:
      - zAJw6V16=MzotMSM3MjY2Njg=;sn=726668
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": null, "content_type": null, "value": "Acura"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - pQetJR9fGlkE6Iq4hMxvSCMHJ2CDp0D3t5tIl41tDR0=
      x-ms-date:
      - Dec, 10 2019 01:42:06 GMT
    method: PUT
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"n6onZJApr8jebJbDKR4eTxjU3Qc","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"n6onZJApr8jebJbDKR4eTxjU3Qc"'
      last-modified:
      - Tue, 10 Dec 2019 01:42:06 GMT
      sync-token:
      - zAJw6V16=MzotMSM3MjY2NzA=;sn=726670
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": null, "content_type": null, "value": "red"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - WidPXVpSXNO4PNL02GCVXQWU7RxPWtv9RydiFQJm68g=
      x-ms-date:
      - Dec, 10 2019 01:42:06 GMT
    method: PUT
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv/BackgroundColor?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"MqdZud9xx69h2BHSz3ycUKCeYOj","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"MqdZud9xx69h2BHSz3ycUKCeYOj"'
      last-modified:
      - Tue, 10 Dec 2019 01:42:07 GMT
      sync-token:
      - zAJw6V16=MzotMSM3MjY2NzE=;sn=726671
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": null, "content_type": null, "value": ""}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - kGVL0JLNTuc+xYjjK0+w/mEexrn8FUXfGu8ua9/J/BY=
      x-ms-date:
      - Dec, 10 2019 01:42:06 GMT
    method: PUT
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv/abc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"5PTXmrisPOMe7ugird7bp8nNDUp","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5PTXmrisPOMe7ugird7bp8nNDUp"'
      last-modified:
      - Tue, 10 Dec 2019 01:42:07 GMT
      sync-token:
      - zAJw6V16=MzotMSM3MjY2NzM=;sn=726673
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": null, "content_type": null, "value": ""}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - kGVL0JLNTuc+xYjjK0+w/mEexrn8FUXfGu8ua9/J/BY=
      x-ms-date:
      - Dec, 10 2019 01:42:06 GMT
    method: PUT
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv/appabc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"zKjAaJTeeDeWy2zTQIWXG0ulKLE","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zKjAaJTeeDeWy2zTQIWXG0ulKLE"'
      last-modified:
      - Tue, 10 Dec 2019 01:42:07 GMT
      sync-token:
      - zAJw6V16=MzotMSM3MjY2NzQ=;sn=726674
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": null, "content_type": null, "value": "34"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gg1eAVqT2ivZkmGz72KPfCnySAFtgaZUNBC/V45rEKA=
      x-ms-date:
      - Dec, 10 2019 01:42:06 GMT
    method: PUT
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv/font-size?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"lepwHfYokjY2fOFIUNL3b0VxQyR","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lepwHfYokjY2fOFIUNL3b0VxQyR"'
      last-modified:
      - Tue, 10 Dec 2019 01:42:07 GMT
      sync-token:
      - zAJw6V16=MzotMSM3MjY2NzU=;sn=726675
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": null, "content_type": null, "value": "black"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - SohjgKRL5acwBSKwmIUS6+m9bDj7bn+nVaUbPZiVJMw=
      x-ms-date:
      - Dec, 10 2019 01:42:07 GMT
    method: PUT
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv/background-color?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"bsWfyX7ShtYS9U1zOJat811qIpg","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bsWfyX7ShtYS9U1zOJat811qIpg"'
      last-modified:
      - Tue, 10 Dec 2019 01:42:07 GMT
      sync-token:
      - zAJw6V16=MzotMSM3MjY2Nzc=;sn=726677
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": null, "content_type": null, "value": "spanish"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - zy/DXicFO7lPTMxDUnxEw3RgGXfCao/oE1sJC4gc3ko=
      x-ms-date:
      - Dec, 10 2019 01:42:07 GMT
    method: PUT
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv/Language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"X3LE1E1Ex1TeBX21MgGrYTQRMFT","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"X3LE1E1Ex1TeBX21MgGrYTQRMFT"'
      last-modified:
      - Tue, 10 Dec 2019 01:42:07 GMT
      sync-token:
      - zAJw6V16=MzotMSM3MjY2Nzg=;sn=726678
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 10 2019 01:42:08 GMT
    method: GET
    uri: https://importtest4k3spjy5362upg.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"MqdZud9xx69h2BHSz3ycUKCeYOj","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:07+00:00"},{"etag":"X3LE1E1Ex1TeBX21MgGrYTQRMFT","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-12-10T01:42:07+00:00"},{"etag":"afivQ4PHG5NvJIOdTMlTwlmphiU","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
