interactions:
- request:
    body: '{"location": "eastus2euap", "sku": {"name": "Standard"}, "properties":
      {"softDeleteRetentionInDays": 1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus2euap","properties":{"provisioningState":"Creating","creationDate":"2023-07-21T05:30:25.4714356+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002","name":"SnapshotStore000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus2euap/operationsStatus/hQczvetC2S12kS8x0XtGq8grnvc61MJ-Dcudgp6AsZY?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus2euap/operationsStatus/hQczvetC2S12kS8x0XtGq8grnvc61MJ-Dcudgp6AsZY?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus2euap/operationsStatus/hQczvetC2S12kS8x0XtGq8grnvc61MJ-Dcudgp6AsZY","name":"hQczvetC2S12kS8x0XtGq8grnvc61MJ-Dcudgp6AsZY","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus2euap/operationsStatus/hQczvetC2S12kS8x0XtGq8grnvc61MJ-Dcudgp6AsZY?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus2euap","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T05:30:26+00:00","endpoint":"https://snapshotstoreeulwmi4enla.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T05:30:26+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T05:30:27+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/snapshotstoreeulwmi4enla","name":"SnapshotStore000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"01003420-0000-3400-0000-64ba17f30000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "enablePurgeProtection":
        false}, "sku": {"name": "standard"}, "systemData": {"createdBy": "mubatra@microsoft.com",
        "createdByType": "User", "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy":
        "mubatra@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2023-06-26T18:04:43+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112",
        "name": "abc12332112", "tags": {}}, {"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "identity": {"type": "None"}, "properties": {"provisioningState":
        "Succeeded", "creationDate": "2019-06-13T17:35:52+00:00", "endpoint": "https://mametcal-app-config.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 0, "enablePurgeProtection":
        false}, "sku": {"name": "free"}, "systemData": {"createdBy": null, "createdByType":
        null, "createdAt": "2019-06-13T17:35:52+00:0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 8ddd1040-d161-4670-818d-f1f977034e57
      - 1503f192-3be0-4e84-b9b8-82585f848217
      - 46ca32de-5c5b-468f-87a2-250c03bfaee9
      - f6a7aabb-ba9d-478a-9458-baee01d15b5f
      - 2b24180b-471e-4d8b-bef6-cef95613067c
      - ce61c297-56ed-47f0-9eb7-133bdba60e96
      - 0e5302c8-7c16-4a7c-9168-abe607b068bd
      - ca1351b7-eaf0-4a52-8272-fffc6cfe1e47
      - 04f70672-ee6d-44b0-affb-e9796fac97ac
      - ce1c76e5-cff8-45fd-bb88-24169573c2ab
      - 843688f1-b3d1-46d8-a39b-ff59ce46337f
      - 3a19eac0-935a-4806-944c-e3900fabe08f
      - 4afe5dae-f0b2-475d-9229-200a2be015b2
      - eae1b846-9fde-4649-81af-0a08cedcc8eb
      - a0d01413-9c6b-431b-9db7-b6c29ec27343
      - 2cc89dd8-b942-4b1b-b7fb-c416bbeeb521
      - f9edfd23-385b-4df4-ba1c-e15caad6156e
      - afdea5ca-5150-4421-8102-3a3f874c3ee2
      - 170f61a0-5587-4488-90c3-0c2c97ecbac1
      - 670fcd2a-f0c9-4d15-969e-1f6a7e119b12
      - 826fe2a7-0cb3-4c23-91e6-7283e7a27396
      - 654b2854-b95e-4659-a967-0806beaf9db0
      - 4cdd2b89-b1be-4d9c-9cdf-bce008e72b16
      - e0d471ff-e3f2-4f82-acd2-7472e4600223
      - 8fa9883f-73b0-4869-af4b-8611a901d67f
      - 847645c1-8c71-4471-b32e-f71983d26840
      - 9e1a8216-ec64-4737-8bac-d2bff174f221
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/SnapshotStore000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://snapshotstoreeulwmi4enla.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2023-07-21T05:30:25+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://snapshotstoreeulwmi4enla.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2023-07-21T05:30:25+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://snapshotstoreeulwmi4enla.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2023-07-21T05:30:25+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://snapshotstoreeulwmi4enla.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2023-07-21T05:30:25+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:31:09 GMT
    method: GET
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/kv/TestKey1?label=dev&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzQ4;sn=2433348
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "TestKey1", "label": "dev", "content_type": "", "value": "TestValue1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=ODoxNSMyNDMzMzQ4
      x-ms-content-sha256:
      - xwSBbs/Ufbqlge/grOzRCsrTfWpxwhwq3cZh/F1MJ6M=
      x-ms-date:
      - Jul, 21 2023 05:31:09 GMT
    method: PUT
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/kv/TestKey1?label=dev&api-version=1.0
  response:
    body:
      string: '{"etag":"qobh9ZB5fdKez61gp-tzwXzdLU2UT9Bdbq7CWaSQQfc","key":"TestKey1","label":"dev","content_type":"","value":"TestValue1","tags":{},"locked":false,"last_modified":"2023-07-21T05:31:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qobh9ZB5fdKez61gp-tzwXzdLU2UT9Bdbq7CWaSQQfc"'
      last-modified:
      - Fri, 21 Jul 2023 05:31:10 GMT
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzQ5;sn=2433349
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filters": [{"key": "Test*", "label": "dev"}], "composition_type": "key_label",
      "retention_period": 3600, "tags": {"tag1": "value1"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - QOJrSlIW1Ic6HknwF2BNpkjRIbayUP+dU2YD6yiAyAc=
      x-ms-date:
      - Jul, 21 2023 05:31:10 GMT
    method: PUT
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/snapshots/TestSnapshot?api-version=2022-11-01-preview
  response:
    body:
      string: '{"etag":"2FvxOr-viDf14EBwzO7iOFxgcHQfeMAM0iqFFn4Cnrs","name":"TestSnapshot","status":"provisioning","filters":[{"key":"Test*","label":"dev"}],"composition_type":"key_label","created":"2023-07-21T05:31:11+00:00","size":0,"items_count":0,"tags":{"tag1":"value1"},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"2FvxOr-viDf14EBwzO7iOFxgcHQfeMAM0iqFFn4Cnrs"'
      last-modified:
      - Fri, 21 Jul 2023 05:31:11 GMT
      link:
      - </kv?snapshot=TestSnapshot&api-version=2022-11-01-preview>; rel="items"
      operation-location:
      - https://snapshotstoreeulwmi4enla.azconfig.io/operations?snapshot=TestSnapshot&api-version=2022-11-01-preview
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzUx;sn=2433351
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODoxNSMyNDMzMzUx
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:31:10 GMT
    method: GET
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/operations?snapshot=TestSnapshot&api-version=2022-11-01-preview
  response:
    body:
      string: '{"id":"q7wYTFRvCMHmch6lzgTPUbdvwE7RPkM4ouZIUKU6i6I","status":"Running","error":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzUx;sn=2433351
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:31:31 GMT
    method: GET
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/snapshots/TestSnapshot?$Select=name,status,items_count,filters&api-version=2022-11-01-preview
  response:
    body:
      string: '{"name":"TestSnapshot","status":"ready","filters":[{"key":"Test*","label":"dev"}],"items_count":2}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"2FvxOr-viDf14EBwzO7iOFxgcHQfeMAM0iqFFn4Cnrs"'
      last-modified:
      - Fri, 21 Jul 2023 05:31:11 GMT
      link:
      - </kv?snapshot=TestSnapshot&api-version=2022-11-01-preview>; rel="items"
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzUy;sn=2433352
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:31:32 GMT
    method: GET
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/snapshots?name=TestSnapshot&status=*&$Select=name,status,items_count,filters&api-version=2022-11-01-preview
  response:
    body:
      string: '{"items":[{"name":"TestSnapshot","status":"ready","filters":[{"key":"Test*","label":"dev"}],"items_count":2}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzUy;sn=2433352
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "archived"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 3J5BDwMV5Yf6HjPNbDRsIz+Ri27tLPhbbGuV+1E6YfM=
      x-ms-date:
      - Jul, 21 2023 05:31:32 GMT
    method: PATCH
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/snapshots/TestSnapshot?api-version=2022-11-01-preview
  response:
    body:
      string: '{"etag":"z0f3Q2azJYFAg-LeJ2RVyBWQyAV4HtjP_INSI3lCunQ","name":"TestSnapshot","status":"archived","filters":[{"key":"Test*","label":"dev"}],"composition_type":"key_label","created":"2023-07-21T05:31:11+00:00","expires":"2023-07-21T06:31:33.4018277+00:00","size":1000,"items_count":2,"tags":{"tag1":"value1"},"retention_period":3600}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8
      etag:
      - '"z0f3Q2azJYFAg-LeJ2RVyBWQyAV4HtjP_INSI3lCunQ"'
      last-modified:
      - Fri, 21 Jul 2023 05:31:11 GMT
      link:
      - </kv?snapshot=TestSnapshot&api-version=2022-11-01-preview>; rel="items"
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzUz;sn=2433353
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:31:32 GMT
    method: GET
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/snapshots?name=*&status=ready&$Select=&api-version=2022-11-01-preview
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzUz;sn=2433353
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:31:33 GMT
    method: GET
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/snapshots?name=*&status=archived&$Select=&api-version=2022-11-01-preview
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzU0;sn=2433354
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:31:34 GMT
    method: GET
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/kv?snapshot=TestSnapshot&$Select=&api-version=2022-11-01-preview
  response:
    body:
      string: '{"items":[{"etag":"qobh9ZB5fdKez61gp-tzwXzdLU2UT9Bdbq7CWaSQQfc","key":"TestKey1","label":"dev","content_type":"","value":"TestValue1","tags":{},"locked":false,"last_modified":"2023-07-21T05:31:10+00:00"},{"etag":"Kdqd5hdAM5ta-X0p8_j3en4Q_CXiUcFJ3zl8volv_4A","key":"TestKey2","label":"dev","content_type":"","value":"TestValue2","tags":{},"locked":false,"last_modified":"2023-07-21T05:31:10+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzU0;sn=2433354
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:31:34 GMT
    method: GET
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/kv?snapshot=non_existent_snapshot&$Select=&api-version=2022-11-01-preview
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzU0;sn=2433354
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODoxNSMyNDMzMzU0
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 05:31:34 GMT
    method: GET
    uri: https://snapshotstoreeulwmi4enla.azconfig.io/snapshots/non_existent_snapshot?api-version=2022-11-01-preview
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=ODoxNSMyNDMzMzU0;sn=2433354
      x-ms-resource-group:
      - clitest.rgrkqgs4yuqohta2ke22p7xoo4tetvfddbwyy36p2wbccum4d5c6nn5z73egnwnfss4
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - snapshotstoreeulwmi4enla
    status:
      code: 404
      message: Not Found
version: 1
