interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true, "softDeleteRetentionInDays": 1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-01-29T23:23:28.2374029+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002",
        "name": "DisableLocalAuth000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xJoBh_sYXbshBES_1EqIrTYUIp8UPJpSGC14vwtbkRw?api-version=2024-05-01&t=638737898082988568&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xJoBh_sYXbshBES_1EqIrTYUIp8UPJpSGC14vwtbkRw?api-version=2024-05-01&t=638737898082988568&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-01-29T23:23:28+00:00", "endpoint": "https://disablelocalauthmmeuzr7d.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2025-01-29T23:23:28+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2025-01-29T23:23:28+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/disablelocalauthmmeuzr7d",
        "name": "DisableLocalAuth000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0400a1f0-0000-0100-0000-679ab8710000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZpdU%2BM2GIX/S6bTK4lAWMqUmZ2OCt5uCiTUTiZd7hRHCU7ij0r2OmSn/72vZEdxgJtenktgYHI477eeH71M7cqHJNuY3s2P3iyIJrfBaBKKh2nUu%2Bm9lGVhbvr9VGZypVKVlWdyX2l1Fudp31RzE%2BukKJM8M/3r68WVnJ/wq/VYsE/KRXzeax%2B5VeD%2BOJifn01n19e9wudf08WSpv%2BYxLr3OTL8kwUxW2eLZNVpaX9U/24%2B1VU5lqZ32SR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 5ead0c01-67b2-4484-b06c-1a1996b2588b
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://disablelocalauthmmeuzr7d.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-01-29T23:24:17+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://disablelocalauthmmeuzr7d.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-01-29T23:24:17+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://disablelocalauthmmeuzr7d.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-01-29T23:24:17+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://disablelocalauthmmeuzr7d.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-01-29T23:24:17+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 29 2025 23:24:22.274210 GMT
    method: GET
    uri: https://disablelocalauthmmeuzr7d.azconfig.io/kv/test?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTI6MTkjNjgyNTI5MTA=;sn=68252910
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "test", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTI6MTkjNjgyNTI5MTA=
      x-ms-content-sha256:
      - K/ZgeCKNEgOHURLXqNNghR5xxLAPIMWOIak1mRufo6o=
      x-ms-date:
      - Jan, 29 2025 23:24:22.561190 GMT
    method: PUT
    uri: https://disablelocalauthmmeuzr7d.azconfig.io/kv/test?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"dQIym0Bs5YaJ-1Q1PlUa0EKWKsZlgBV5F_aQqDSi69U","key":"test","label":null,"content_type":"","value":"","tags":{},"locked":false,"last_modified":"2025-01-29T23:24:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"dQIym0Bs5YaJ-1Q1PlUa0EKWKsZlgBV5F_aQqDSi69U"'
      last-modified:
      - Wed, 29 Jan 2025 23:24:22 GMT
      sync-token:
      - zAJw6V16=MTI6MTkjNjgyNTI5MTE=;sn=68252911
    status:
      code: 200
      message: OK
version: 1
