interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-10-07T19:12:43.9511521+00:00","endpoint":"https://FeatureTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/40a90a64-e52f-a37a-b5ab-43dedd03658e?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/40a90a64-e52f-a37a-b5ab-43dedd03658e?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/40a90a64-e52f-a37a-b5ab-43dedd03658e","name":"40a90a64-e52f-a37a-b5ab-43dedd03658e","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/40a90a64-e52f-a37a-b5ab-43dedd03658e?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-10-07T19:12:45+00:00","endpoint":"https://featuretesteldcu4ncmp4dx.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretesteldcu4ncmp4dx","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3600cddf-0000-0100-0000-5d9b8e2c0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"oCR1-l0-s0:c5Fv3xfZxYrX0GeIX9OB","name":"Primary","value":"Kx7myi/7dUn2vedV4HyevFFMP1uDu7i20KzP8muhSIY=","connectionString":"Endpoint=https://featuretesteldcu4ncmp4dx.azconfig.io;Id=oCR1-l0-s0:c5Fv3xfZxYrX0GeIX9OB;Secret=Kx7myi/7dUn2vedV4HyevFFMP1uDu7i20KzP8muhSIY=","lastModified":"2019-10-07T19:12:43+00:00","readOnly":false},{"id":"hktG-l0-s0:PqfKrypvymc8etTpb7ZD","name":"Secondary","value":"JACYNWjH0ZngRX3t5m92MMD+el9H1RZZ9zEzcY/4uJw=","connectionString":"Endpoint=https://featuretesteldcu4ncmp4dx.azconfig.io;Id=hktG-l0-s0:PqfKrypvymc8etTpb7ZD;Secret=JACYNWjH0ZngRX3t5m92MMD+el9H1RZZ9zEzcY/4uJw=","lastModified":"2019-10-07T19:12:43+00:00","readOnly":false},{"id":"ba7I-l0-s0:a5yBIu5io6KntIG7wwyd","name":"Primary
        Read Only","value":"eGNvERiZ9+sgOsYaXEp+DuYDC5o+1DviDXAdC93sOJ0=","connectionString":"Endpoint=https://featuretesteldcu4ncmp4dx.azconfig.io;Id=ba7I-l0-s0:a5yBIu5io6KntIG7wwyd;Secret=eGNvERiZ9+sgOsYaXEp+DuYDC5o+1DviDXAdC93sOJ0=","lastModified":"2019-10-07T19:12:43+00:00","readOnly":true},{"id":"k8jP-l0-s0:/AMj21Jn65NSZ6WqgUQX","name":"Secondary
        Read Only","value":"1/hEUYtVZacIt4uDsEG8deUcAJsvYroJ0iEPaIl2hp4=","connectionString":"Endpoint=https://featuretesteldcu4ncmp4dx.azconfig.io;Id=k8jP-l0-s0:/AMj21Jn65NSZ6WqgUQX;Secret=1/hEUYtVZacIt4uDsEG8deUcAJsvYroJ0iEPaIl2hp4=","lastModified":"2019-10-07T19:12:43+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:12:57 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"label\":
      \"v1\", \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - LGAOlGD778BU8ExA/MNA5BynjK7D6dfbxMNH1sl1puY=
      x-ms-date:
      - Oct, 07 2019 19:12:57 GMT
    method: PUT
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"nzUYWB2TWoMRnOWCCmMAiaTuW5v","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"label\": \"v1\", \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-07T19:12:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"nzUYWB2TWoMRnOWCCmMAiaTuW5v"'
      last-modified:
      - Mon, 07 Oct 2019 19:12:58 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MzA0NzI=;sn=430472
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id_\": \"Beta\", \"description\": \"Beta Testing Feature Flag\",
      \"enabled\": false, \"label\": \"v1\", \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"nzUYWB2TWoMRnOWCCmMAiaTuW5v"'
      x-ms-content-sha256:
      - /mRaAJEdppmCeubuVx273EplNamY6FiJYlb5fFdD+/4=
      x-ms-date:
      - Oct, 07 2019 19:13:04 GMT
    method: PUT
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1
  response:
    body:
      string: '{"etag":"RSiucFcQXnbzHmDsiBE34KolqIo","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id_\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-07T19:13:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RSiucFcQXnbzHmDsiBE34KolqIo"'
      last-modified:
      - Mon, 07 Oct 2019 19:13:04 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MzA0NzM=;sn=430473
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:13 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:15 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"RSiucFcQXnbzHmDsiBE34KolqIo","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id_\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v1\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-07T19:13:04+00:00"},{"etag":"9A6hWmmgjfH52kBJFFOC8sAUEHT","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id_\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-07T19:13:09+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzotMSM0MzA0NzU=;sn=430475
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:17 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"BetaPrefix\", \"description\": null, \"enabled\": false,
      \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 0ep6Aq/9a0raS0R/HE5aoeLND4sHw8NpLsBlV7ceJ7E=
      x-ms-date:
      - Oct, 07 2019 19:13:18 GMT
    method: PUT
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv/.appconfig.featureflag%2FBetaPrefix?label=
  response:
    body:
      string: '{"etag":"BQCacitVpznCk6U5dCup5R2v6G1","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-07T19:13:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BQCacitVpznCk6U5dCup5R2v6G1"'
      last-modified:
      - Mon, 07 Oct 2019 19:13:18 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MzA0NzY=;sn=430476
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:19 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"SuffixBeta\", \"description\": null, \"enabled\": false,
      \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 3eFtzVQAJ0X/0QYfWqYucuZMc6O55Mqk5O1R3/WDQic=
      x-ms-date:
      - Oct, 07 2019 19:13:20 GMT
    method: PUT
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv/.appconfig.featureflag%2FSuffixBeta?label=
  response:
    body:
      string: '{"etag":"zaqkoSuLrn4SmCy9Iim9GNakrXp","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-07T19:13:20+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zaqkoSuLrn4SmCy9Iim9GNakrXp"'
      last-modified:
      - Mon, 07 Oct 2019 19:13:20 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MzA0Nzc=;sn=430477
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:22 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?label=&fields=
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"ThisBetaVersion\", \"description\": null, \"enabled\":
      false, \"label\": null, \"conditions\": {\"client_filters\": []}}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - IYpSllO8xrKij0XGTGMp7s2pIIe+Bm2JcTnaY0QYrzQ=
      x-ms-date:
      - Oct, 07 2019 19:13:22 GMT
    method: PUT
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv/.appconfig.featureflag%2FThisBetaVersion?label=
  response:
    body:
      string: '{"etag":"PMw6TdvJeJmFfZbWnH7iasgjHUD","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": null, \"enabled\": false, \"label\":
        null, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-07T19:13:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PMw6TdvJeJmFfZbWnH7iasgjHUD"'
      last-modified:
      - Mon, 07 Oct 2019 19:13:22 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MzA0Nzg=;sn=430478
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:25 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"RSiucFcQXnbzHmDsiBE34KolqIo","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:27 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"BQCacitVpznCk6U5dCup5R2v6G1","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"BetaPrefix\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-07T19:13:18+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzotMSM0MzA0Nzg=;sn=430478
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:29 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv?key=%2ABeta&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"RSiucFcQXnbzHmDsiBE34KolqIo","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id_\":[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:31 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv?key=%2ABeta&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"zaqkoSuLrn4SmCy9Iim9GNakrXp","key":".appconfig.featureflag/SuffixBeta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"SuffixBeta\", \"description\": null, \"enabled\": false, \"label\": null,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-07T19:13:20+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzotMSM0MzA0Nzg=;sn=430478
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:32 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv?key=%2ABeta%2A&label=%2A&fields=
  response:
    body:
      string: '{"items":[{"etag":"RSiucFcQXnbzHmDsiBE34KolqIo","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id_[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:33 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv?key=%2ABeta%2A&label=%00&fields=
  response:
    body:
      string: '{"items":[{"etag":"BQCacitVpznCk6U5dCup5R2v6G1","key":".appconfig.featureflag/BetaPrefix","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:37 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv?key=.appconfig.featureflag%2FBeta%2Aion&label=%00&fields=
  response:
    body:
      string: '{"type":"https://azconfig.io/errors/invalid-argument","title":"Invalid
        request parameter ''key''","name":"key","detail":"key(27): Invalid character","pos":27,"status":400}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:39 GMT
    method: GET
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/kv?key=.appconfig.featureflag%2FBeta&label=v2&fields=
  response:
    body:
      string: '{"items":[{"etag":"9A6hWmmgjfH52kBJFFOC8sAUEHT","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id_\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"label\": \"v2\", \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-10-07T19:13:09+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzotMSM0MzA0Nzg=;sn=430478
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"PMw6TdvJeJmFfZbWnH7iasgjHUD"'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 07 2019 19:13:42 GMT
    method: PUT
    uri: https://featuretesteldcu4ncmp4dx.azconfig.io/locks/.appconfig.featureflag%2FThisBetaVersion?label=
  response:
    body:
      string: '{"etag":"4uFxqYeLdToBnhdIWCy3rU7FiAq","key":".appconfig.featureflag/ThisBetaVersion","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"ThisBetaVersion\", \"description\": null, \"enabled\": false, \"label\":
        null, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":true,"last_modified":"2019-10-07T19:13:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"4uFxqYeLdToBnhdIWCy3rU7FiAq"'
      last-modified:
      - Mon, 07 Oct 2019 19:13:42 GMT
      sync-token:
      - zAJw6V16=NzotMSM0MzA0ODI=;sn=430482
    status:
      code: 200
      message: OK
[...]
