interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-04-18T05:49:57.5465409+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/jL31wkP53PM0H4Qw3TtznVG9yWx8zmHDq8QQaQcSxb4?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/jL31wkP53PM0H4Qw3TtznVG9yWx8zmHDq8QQaQcSxb4?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/jL31wkP53PM0H4Qw3TtznVG9yWx8zmHDq8QQaQcSxb4","name":"jL31wkP53PM0H4Qw3TtznVG9yWx8zmHDq8QQaQcSxb4","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/jL31wkP53PM0H4Qw3TtznVG9yWx8zmHDq8QQaQcSxb4?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-04-18T05:49:58+00:00","endpoint":"https://sourceleapthnrbe7pflbhvq.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-04-18T05:49:58+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-04-18T05:49:59+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourceleapthnrbe7pflbhvq","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0100175a-0000-0100-0000-643e2f870000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-03-15T18:19:24+00:00","endpoint":"https://minigassou-vnetlocalwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus/privateEndpointConnections/PrivateLinkServicelocalWestCentralUS","name":"PrivateLinkServicelocalWestCentralUS","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MINIGASSOU-IntegrationRGlocalWestCentralUS/providers/Microsoft.Network/privateEndpoints/PrivateEndpointlocalWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","createdByType":"Application","createdAt":"2023-03-15T18:19:24+00:00","lastModifiedBy":"19fcf05b-3ddc-4cf1-8424-9c255c2a60a4","lastModifiedByType":"Application","lastModifiedAt":"2023-03-15T18:20:04+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerlocaldev-minigassou-integrationrglocalwestcentralus/providers/Microsoft.AppConfiguration/configurationStores/minigassou-vnetlocalwcus","name":"MINIGASSOU-VNETlocalWCUS","tags":{"donotdelete":""}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1VndbtowFH6XaNpV3RS6DrVSNXmQaqw0sIQIrXcnjkldwMlih6BWffcdmy5j0l7gSNwgBOLT93fOyWug5cHOlN6Y4OY1WEXpchzFy4TPsjS4CZ6src1NGO5AQyl3UttzeGkbeS6qXWja3IhG1VZV2oSjUXEF%2BcVnNpJFwT5JKVgu5DW7GorBIB9d5fnlKKybaq8K2ZjwQYmmMtXanvO6Hld6rcq2AfdToTh9l9qqkeYL1Irt8Xv4%2Be3wYnjJLvA1%2BPjBbFS9rDZS3%2B5BixJe2F5Lu60EbDvRmuAsIArHyGavhGQWSnYE4rihRsqhPbRWGmsci0hGxGli8Kpi0gvK8RBlyXwR0TKIfWoqa7dKl56NIdKRzrPlN8cJT6ecFppTfxgJCIZnqcutKXeA6IKR0CKYeJ4gMwRVdsqLlg5Kdu9lRosR0YF%2BhpbVLrX8/6fdI65GDPYI%2BzeJh7RYORUXhrGLsGMrEsPR4X/3RHTKPlWtrbeI5GvCH6czgl45ZSVv/MzFYz7h746hKzEBAnl5hzGNJ5Q7UiiNWGh2fT9BOsPfJTweR%2BS1tW6ctr7zBY9pzyvPviLv50lE3/AbT4qfvWjXvV8b9XFv9I3C75LpmHtktPL4GRcWwAsAcyHAXsCl2ElT0vNODwir0g%2BXq2gSYaL5owtRbkznwixdTZePUTLj8cRNZVSxbLsBgvnBlzyhzYp3zC8/w/gMIDjB9GYxSvsEQGYWc6cw2tTUWz9Z%2BjGZcIQJcAmGrbLiPwlbXlcdwujvR%2B/SIrZT9laBVvydkwmukz2Q9XGX/PM4Isr4glanGNgpA8Ua8IzkL8ioMuf2LB3SA%2BNO%2BQDFf4xCi5ReXuiT4O0sgGbHy7KRJVhZ%2BEdJiIcnD8Hbbw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 76858239-d1ad-4bfb-aaa1-050cac20d573
      - 7f4ef2c0-3bc9-48b8-8c1d-69c9fec69769
      - f99bab75-821a-421d-a2cd-956436fca133
      - 90a40a39-5c4b-4637-8b3c-48c986a04a66
      - 5287f821-f350-4ae5-9dc3-bbd844c82a78
      - 003b0071-5327-43e1-b3c5-1322ee4bbd84
      - 34158660-46e7-4d4f-aba9-32ec414cd5c4
      - 1bddc001-6c94-499c-b08b-f4402db61cd3
      - 97f0549c-52f4-49ce-bf19-53155d976d40
      - f9969996-fc7c-4c11-89f4-3008ee6a9237
      - 84f4e1fb-405b-44d6-b14c-6b98fb008107
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"HKsP-l0-s0:m50LmyjJQf0GTDJ2sySC","name":"Primary","value":"IZMlfUV36J0GfmLVpCWkd/YBbsqpfNGhqvIL26nPUS8=","connectionString":"Endpoint=https://sourceleapthnrbe7pflbhvq.azconfig.io;Id=HKsP-l0-s0:m50LmyjJQf0GTDJ2sySC;Secret=IZMlfUV36J0GfmLVpCWkd/YBbsqpfNGhqvIL26nPUS8=","lastModified":"2023-04-18T05:49:57+00:00","readOnly":false},{"id":"XE1r-l0-s0:CgWVc8kxzXehhtEf8pkP","name":"Secondary","value":"o7UxkUncrpX6hRiqjU9LeasRsz4hAeDWfRAx1yc58xw=","connectionString":"Endpoint=https://sourceleapthnrbe7pflbhvq.azconfig.io;Id=XE1r-l0-s0:CgWVc8kxzXehhtEf8pkP;Secret=o7UxkUncrpX6hRiqjU9LeasRsz4hAeDWfRAx1yc58xw=","lastModified":"2023-04-18T05:49:57+00:00","readOnly":false},{"id":"zeY+-l0-s0:z3qC0SP5ypYSyz0j2w5g","name":"Primary
        Read Only","value":"7JB3vPafo8PQxVrmRYUbcfDz8ezNofA3qsaiTLzcTgk=","connectionString":"Endpoint=https://sourceleapthnrbe7pflbhvq.azconfig.io;Id=zeY+-l0-s0:z3qC0SP5ypYSyz0j2w5g;Secret=7JB3vPafo8PQxVrmRYUbcfDz8ezNofA3qsaiTLzcTgk=","lastModified":"2023-04-18T05:49:57+00:00","readOnly":true},{"id":"yGD/-l0-s0:n9veeV5rXffdmXKVLcXR","name":"Secondary
        Read Only","value":"rwwQ+H0QLkkqddbzFgRiitUSvxTOnvpKzyCp23xWq7g=","connectionString":"Endpoint=https://sourceleapthnrbe7pflbhvq.azconfig.io;Id=yGD/-l0-s0:n9veeV5rXffdmXKVLcXR;Secret=rwwQ+H0QLkkqddbzFgRiitUSvxTOnvpKzyCp23xWq7g=","lastModified":"2023-04-18T05:49:57+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/yh1-ux3II_me5I65orig310mn4auBbKtkw4QEU02I3E?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/yh1-ux3II_me5I65orig310mn4auBbKtkw4QEU02I3E","name":"yh1-ux3II_me5I65orig310mn4auBbKtkw4QEU02I3E","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/yh1-ux3II_me5I65orig310mn4auBbKtkw4QEU02I3E?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"2pqY-l0-s0:BWZ3V2omcrsY6+jeSJdw","name":"Primary","value":"OYJT9jPbkrqs5g4ils5nXPZEciYJXZYzoHTwOGRVKEE=","connectionString":"Endpoint=https://destinationvw75wngog[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:30 GMT
    method: GET
    uri: https://sourceleapthnrbe7pflbhvq.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTU2OQ==;sn=23151569
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSMyMzE1MTU2OQ==
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Apr, 18 2023 05:50:31 GMT
    method: PUT
    uri: https://sourceleapthnrbe7pflbhvq.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"YgPhKcnfOuyGX1fy_Ji7qTnr9HA-QWxI-1YVj8vwhco","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YgPhKcnfOuyGX1fy_Ji7qTnr9HA-QWxI-1YVj8vwhco"'
      last-modified:
      - Tue, 18 Apr 2023 05:50:31 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTU3MA==;sn=23151570
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSMyMzE1MTU3OQ==
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Apr, 18 2023 05:50:37 GMT
    method: PUT
    uri: https://sourceleapthnrbe7pflbhvq.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"NB7RRjDPDdJlROijtcudc2gZ1AfiRt4O0HlrMce-ikw","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NB7RRjDPDdJlROijtcudc2gZ1AfiRt4O0HlrMce-ikw"'
      last-modified:
      - Tue, 18 Apr 2023 05:50:37 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTU4MA==;sn=23151580
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSMyMzE1MTU4MA==
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Apr, 18 2023 05:50:37 GMT
    method: PUT
    uri: https://sourceleapthnrbe7pflbhvq.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"99EUbslXf0zNtW368Btr-izfGXsOAs4tSs0ABlKzxuY","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"99EUbslXf0zNtW368Btr-izfGXsOAs4tSs0ABlKzxuY"'
      last-modified:
      - Tue, 18 Apr 2023 05:50:37 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTU4MQ==;sn=23151581
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:40 GMT
    method: GET
    uri: https://sourceleapthnrbe7pflbhvq.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTU4Mw==;sn=23151583
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSMyMzE1MTU4Mw==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Apr, 18 2023 05:50:40 GMT
    method: PUT
    uri: https://sourceleapthnrbe7pflbhvq.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"5OWWNDiKQkJ5zlje3YbUpVQe76Cxr0wuhdvuujN-5cg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5OWWNDiKQkJ5zlje3YbUpVQe76Cxr0wuhdvuujN-5cg"'
      last-modified:
      - Tue, 18 Apr 2023 05:50:41 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTU4NA==;sn=23151584
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:41 GMT
    method: GET
    uri: https://sourceleapthnrbe7pflbhvq.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTU4NA==;sn=23151584
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:41 GMT
    method: GET
    uri: https://sourceleapthnrbe7pflbhvq.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"5OWWNDiKQkJ5zlje3YbUpVQe76Cxr0wuhdvuujN-5cg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:41+00:00"},{"etag":"MwxaBMYS1ZVGQG4KvVFCJfQ6fiK7W8dnjsqfdCL65WI","key":"HostSecrets","label":null,"content_type":"application/vnd.mi[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzoxOSMyMzE1MTU4NQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:42 GMT
    method: GET
    uri: https://sourceleapthnrbe7pflbhvq.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"5OWWNDiKQkJ5zlje3YbUpVQe76Cxr0wuhdvuujN-5cg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:41+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTU4NQ==;sn=23151585
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:42 GMT
    method: GET
    uri: https://destinationvw75wngogvo2p.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM0MDAyMTg4Nw==;sn=40021887
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM0MDAyMTg4Nw==
      x-ms-content-sha256:
      - 4d83mG8PIR/2pHo1eYUwL4DWxZPKi3DBipo7rkeA0Og=
      x-ms-date:
      - Apr, 18 2023 05:50:42 GMT
    method: PUT
    uri: https://destinationvw75wngogvo2p.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: '{"etag":"eRdRjrQ-kBt1Yi388Fpy_lzE8aTW_164IH1rxkjUY5w","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eRdRjrQ-kBt1Yi388Fpy_lzE8aTW_164IH1rxkjUY5w"'
      last-modified:
      - Tue, 18 Apr 2023 05:50:42 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDAyMTg4OA==;sn=40021888
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM0MDAyMTg4OA==
      x-ms-content-sha256:
      - ssERcN/l30qL3zGxsEuQXd8SMRck/hPK9o4FH0rGF6Q=
      x-ms-date:
      - Apr, 18 2023 05:50:42 GMT
    method: PUT
    uri: https://destinationvw75wngogvo2p.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"zyum1Vfnv90axMN6es52v7zxe-9WChNzB-gsWJ9Y4k0","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zyum1Vfnv90axMN6es52v7zxe-9WChNzB-gsWJ9Y4k0"'
      last-modified:
      - Tue, 18 Apr 2023 05:50:42 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDAyMTg4OQ==;sn=40021889
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM0MDAyMTkwMg==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Apr, 18 2023 05:50:44 GMT
    method: PUT
    uri: https://destinationvw75wngogvo2p.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"TCl16M-ZpHmJcMCjWxFpFF_f_YrF1vP0jUzY7vxqCeY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TCl16M-ZpHmJcMCjWxFpFF_f_YrF1vP0jUzY7vxqCeY"'
      last-modified:
      - Tue, 18 Apr 2023 05:50:44 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDAyMTkwMw==;sn=40021903
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:45 GMT
    method: GET
    uri: https://sourceleapthnrbe7pflbhvq.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"5OWWNDiKQkJ5zlje3YbUpVQe76Cxr0wuhdvuujN-5cg","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:41+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyMzE1MTU4NQ==;sn=23151585
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:45 GMT
    method: GET
    uri: https://destinationvw75wngogvo2p.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"TCl16M-ZpHmJcMCjWxFpFF_f_YrF1vP0jUzY7vxqCeY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:46 GMT
    method: GET
    uri: https://destinationvw75wngogvo2p.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"TCl16M-ZpHmJcMCjWxFpFF_f_YrF1vP0jUzY7vxqCeY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:44+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM0MDAyMTkwMw==;sn=40021903
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:46 GMT
    method: GET
    uri: https://destinationvw75wngogvo2p.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"TCl16M-ZpHmJcMCjWxFpFF_f_YrF1vP0jUzY7vxqCeY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;char[...]
- request:
    body: null
    headers:
      If-Match:
      - '"TCl16M-ZpHmJcMCjWxFpFF_f_YrF1vP0jUzY7vxqCeY"'
      Sync-Token:
      - zAJw6V16=NToxOSM0MDAyMTkwMw==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Apr, 18 2023 05:50:47 GMT
    method: DELETE
    uri: https://destinationvw75wngogvo2p.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"TCl16M-ZpHmJcMCjWxFpFF_f_YrF1vP0jUzY7vxqCeY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-04-18T05:50:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
[...]
