interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
=======
      - python/3.5.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
>>>>>>> dev
        azure-mgmt-appconfiguration/0.3.0 Azure-SDK-For-Python AZURECLI/2.0.77
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2019-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-12-07T00:47:15.9305378+00:00","endpoint":"https://FeatureTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e906d524-7a24-0d15-700b-190fd624d5a2?api-version=2019-10-01
=======
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-12-10T21:37:50.9776132+00:00","endpoint":"https://FeatureTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/21834963-cc84-98c9-2247-f6280fc0c131?api-version=2019-10-01
>>>>>>> dev
      cache-control:
      - no-cache
      content-length:
      - '519'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Sat, 07 Dec 2019 00:47:15 GMT
=======
      - Tue, 10 Dec 2019 21:37:50 GMT
>>>>>>> dev
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - openresty/1.15.8.1
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-appconfiguration/0.3.0 Azure-SDK-For-Python AZURECLI/2.0.77
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e906d524-7a24-0d15-700b-190fd624d5a2?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e906d524-7a24-0d15-700b-190fd624d5a2","name":"e906d524-7a24-0d15-700b-190fd624d5a2","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e906d524-7a24-0d15-700b-190fd624d5a2?api-version=2019-10-01
=======
      - python/3.5.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
        azure-mgmt-appconfiguration/0.3.0 Azure-SDK-For-Python AZURECLI/2.0.77
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/21834963-cc84-98c9-2247-f6280fc0c131?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/21834963-cc84-98c9-2247-f6280fc0c131","name":"21834963-cc84-98c9-2247-f6280fc0c131","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/21834963-cc84-98c9-2247-f6280fc0c131?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/21834963-cc84-98c9-2247-f6280fc0c131?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/21834963-cc84-98c9-2247-f6280fc0c131","name":"21834963-cc84-98c9-2247-f6280fc0c131","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/21834963-cc84-98c9-2247-f6280fc0c131?api-version=2019-10-01
>>>>>>> dev
      cache-control:
      - no-cache
      content-length:
      - '248'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Sat, 07 Dec 2019 00:47:26 GMT
=======
      - Tue, 10 Dec 2019 21:38:31 GMT
>>>>>>> dev
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - openresty/1.15.8.1
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
=======
      - python/3.5.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
>>>>>>> dev
        azure-mgmt-appconfiguration/0.3.0 Azure-SDK-For-Python AZURECLI/2.0.77
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
=======
      - python/3.5.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.2
>>>>>>> dev
        azure-mgmt-appconfiguration/0.3.0 Azure-SDK-For-Python AZURECLI/2.0.77
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"D6Mu-l0-s0:IdYYmj1S8oKJ4OwgaVML","name":"Primary","value":"Ey/hXAPNIWLKOyANK4XwSXjBgU8udm9U4DRoTJZPpOM=","connectionString":"Endpoint=https://featuretest5zzft4iwrgzp2.azconfig.io;Id=D6Mu-l0-s0:IdYYmj1S8oKJ4OwgaVML;Secret=Ey/hXAPNIWLKOyANK4XwSXjBgU8udm9U4DRoTJZPpOM=","lastModified":"2019-12-07T00:47:21+00:00","readOnly":false},{"id":"LHzd-l0-s0:12DgWt6BO4onFgOlx4xi","name":"Secondary","value":"UOfyWjnTUfqqYtbCKNQj2Y6lbi0+bfs1PNtv0Htibto=","connectionString":"Endpoint=https://featuretest5zzft4iwrgzp2.azconfig.io;Id=LHzd-l0-s0:12DgWt6BO4onFgOlx4xi;Secret=UOfyWjnTUfqqYtbCKNQj2Y6lbi0+bfs1PNtv0Htibto=","lastModified":"2019-12-07T00:47:21+00:00","readOnly":false},{"id":"gxgS-l0-s0:+bkhsqYdBENbyF0AmGwJ","name":"Primary
        Read Only","value":"QMBH6Bwr5vvm7sTO6Sa1FapNU4tKPRR7/2uT/ayQ6+k=","connectionString":"Endpoint=https://featuretest5zzft4iwrgzp2.azconfig.io;Id=gxgS-l0-s0:+bkhsqYdBENbyF0AmGwJ;Secret=QMBH6Bwr5vvm7sTO6Sa1FapNU4tKPRR7/2uT/ayQ6+k=","lastModified":"2019-12-07T00:47:21+00:00","readOnly":true},{"id":"Mj3g-l0-s0:FgZTgsuWHxulpFOD2zaP","name":"Secondary
        Read Only","value":"ID/l/cwt10e7KklvQNGsL6Pl7ciIaFZTYP46N/sSULg=","connectionString":"Endpoint=https://featuretest5zzft4iwrgzp2.azconfig.io;Id=Mj3g-l0-s0:FgZTgsuWHxulpFOD2zaP;Secret=ID/l/cwt10e7KklvQNGsL6Pl7ciIaFZTYP46N/sSULg=","lastModified":"2019-12-07T00:47:21+00:00","readOnly":true}],"nextLink":null}'
=======
      string: '{"value":[{"id":"Sxi5-l0-s0:0rocyRE91QCJ4OFlpvLp","name":"Primary","value":"nmlGmRywWIpDrB4cDbSPbVjulaqZUP8YhhhQXwqazpI=","connectionString":"Endpoint=https://featuretest7tsky3umh6o33.azconfig.io;Id=Sxi5-l0-s0:0rocyRE91QCJ4OFlpvLp;Secret=nmlGmRywWIpDrB4cDbSPbVjulaqZUP8YhhhQXwqazpI=","lastModified":"2019-12-10T21:37:56+00:00","readOnly":false},{"id":"MyzM-l0-s0:bIdJtilR/KBudtAVcoWR","name":"Secondary","value":"pbqpmARgbDg1TsN6QB0nSjPiUu7jM8VDD9+Va+vwviQ=","connection[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Dec, 07 2019 00:47:33 GMT
    method: GET
    uri: https://featuretest5zzft4iwrgzp2.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=&api-version=1.0
=======
      - Dec, 10 2019 21:38:39 GMT
    method: GET
    uri: https://featuretest7tsky3umh6o33.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&fields=&api-version=1.0
>>>>>>> dev
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Sat, 07 Dec 2019 00:47:33 GMT
=======
      - Tue, 10 Dec 2019 21:38:40 GMT
>>>>>>> dev
      server:
      - openresty/1.15.8.1
      strict-transport-security:
      - max-age=15724800; includeSubDomains
    status:
      code: 404
      message: Not Found
- request:
<<<<<<< HEAD
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
=======
    body: '{"value": "{\"description\": null, \"conditions\": {\"client_filters\":
      []}, \"enabled\": false, \"id\": \"Beta\"}", "tags": {}, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"}'
>>>>>>> dev
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
<<<<<<< HEAD
      - ZBbQzjiWSA6Bcvu0IiEanYfqopxyCiYHLYi19RFZuKk=
      x-ms-date:
      - Dec, 07 2019 00:47:33 GMT
    method: PUT
    uri: https://featuretest5zzft4iwrgzp2.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"Edgw5FNWN6u7sqMi5G1Ckg3zj4c","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2019-12-07T00:47:34+00:00"}'
=======
      - kqJtRYuy1znHkYX3RXBkHmSfzm1TVWE7R+LLtdAFjik=
      x-ms-date:
      - Dec, 10 2019 21:38:40 GMT
    method: PUT
    uri: https://featuretest7tsky3umh6o33.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"rKWXrK0JhWbVt8BfRQjlz7DTQVq","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"description\":
        null, \"conditions\": {\"client_filters\": []}, \"enabled\": false, \"id\":
        \"Beta\"}","tags":{},"locked":false,"last_modified":"2019-12-10T21:38:40+00:00"}'
>>>>>>> dev
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
<<<<<<< HEAD
      - Sat, 07 Dec 2019 00:47:33 GMT
      etag:
      - '"Edgw5FNWN6u7sqMi5G1Ckg3zj4c"'
      last-modified:
      - Sat, 07 Dec 2019 00:47:34 GMT
=======
      - Tue, 10 Dec 2019 21:38:40 GMT
      etag:
      - '"rKWXrK0JhWbVt8BfRQjlz7DTQVq"'
      last-modified:
      - Tue, 10 Dec 2019 21:38:40 GMT
>>>>>>> dev
      server:
      - openresty/1.15.8.1
      strict-transport-security:
      - max-age=15724800; includeSubDomains
      sync-token:
<<<<<<< HEAD
      - zAJw6V16=OTotMSM0ODExNzA=;sn=481170
=======
      - zAJw6V16=NzotMSM1NTI4NzI=;sn=552872
>>>>>>> dev
      transfer-encoding:
      - chunked
    status:
      code: 200
      message: OK
[...]
- request:
<<<<<<< HEAD
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"Beta Testing Feature Flag\",
      \"enabled\": false, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
=======
    body: '{"value": "{\"description\": \"Beta Testing Feature Flag\", \"enabled\":
      false, \"conditions\": {\"client_filters\": []}, \"id\": \"Beta\"}", "tags":
      {}, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"}'
>>>>>>> dev
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
<<<<<<< HEAD
      - '"Edgw5FNWN6u7sqMi5G1Ckg3zj4c"'
      User-Agent:
      - AzconfigClient/1.0.0/CLI
      x-ms-content-sha256:
      - DoIfgrWElRzzmIWw9BbbTAuyoYjaPPSUGC5wCuMtXGM=
      x-ms-date:
      - Dec, 07 2019 00:47:40 GMT
    method: PUT
    uri: https://featuretest5zzft4iwrgzp2.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"XL6XHsE76bwp9yTh6s5Iwx70ObT","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
<<<<<<< HEAD
      - Dec, 07 2019 00:47:48 GMT
    method: GET
    uri: https://featuretest5zzft4iwrgzp2.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
=======
      - Dec, 10 2019 21:38:57 GMT
    method: GET
    uri: https://featuretest7tsky3umh6o33.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
>>>>>>> dev
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
<<<<<<< HEAD
      - Sat, 07 Dec 2019 00:47:48 GMT
=======
      - Tue, 10 Dec 2019 21:38:57 GMT
>>>>>>> dev
      server:
      - openresty/1.15.8.1
      strict-transport-security:
      - max-age=15724800; includeSubDomains
      transfer-encoding:
      - chunked
    status:
      code: 200
      message: OK
[...]
