interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2024-11-18T14:03:20.7042889+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002",
        "name": "Source000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6XoDnlqxKQ5UcjGRiJvH7npPAk_vqQiMpfuoi1adbNY?api-version=2024-05-01&t=638675354009231172&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/6XoDnlqxKQ5UcjGRiJvH7npPAk_vqQiMpfuoi1adbNY?api-version=2024-05-01&t=638675354009231172&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2024-11-18T14:03:20+00:00", "endpoint": "https://sourceyyavv7f532g2vh7gvq.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-18T14:03:20+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-11-18T14:03:20+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourceyyavv7f532g2vh7gvq",
        "name": "Source000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9301ac5b-0000-0100-0000-673b492a0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrtUttGGIXvxdPprxUGE8qEmUxnC0rjAjb1x7jh31peGxl7pe5KMTjTe%2B/7rqRFNtzA%2BZlkyOhw3u99fnaMfinuUvPsOlc/O7N4PLmOB5ORvJuOO1edp6LI3VW3u1VGrfRWm%2BJE7UurT5Js23Xl3CU2zYs0M657ebm4UPPT36JLvVhEn7ROonmiP0cXveTsbH55MZ%2BfX3Zzm/1IF9q67n2a2Mxly%2BJE5vl1ZpbpqrSK/6tu0v7TuMisdr%2BrP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - d26fcade-0160-48f8-b2e0-44b5fb04bb31
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://sourceyyavv7f532g2vh7gvq.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-11-18T14:03:20+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://sourceyyavv7f532g2vh7gvq.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-11-18T14:03:20+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://sourceyyavv7f532g2vh7gvq.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-11-18T14:03:20+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://sourceyyavv7f532g2vh7gvq.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-11-18T14:03:20+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2024-05-01
  response:
    body:
      str[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/DRtHryl_TTxcnfgGsYZDDy3tOtGLDgc4TsmlHDGcD6s?api-version=2024-05-01&t=638675354528402091&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrvUttGFMXfxdPppxUGE8qEmUxnC0rjBmwq2%2BOGb2t5DTL2St2VYnCm7957V9IiO7zA%2BZhkyOhw7v/9/egZ/VLeZubZ9a5%2B9ObxZHodj6aJvJ1Nele9p7Is3FW/v1VGPeqtNuWJ2ldWn6T5tu%2BqhUttVpRZblz/8nJ5oRanv0WXermMPmidRotUf4wuBunZ2eLyYrE4v%2BwXNv%2BeLbV1/bsstbnLV%2BWJLIrr3Kyyx8oq/q/6afdPkzK32v2[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://destinations3vyhdjteoj54.azconfig.io;Id=sanitized[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2024 14:05:00.638764 GMT
    method: GET
    uri: https://sourceyyavv7f532g2vh7gvq.azconfig.io/kv/Key01?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjYxMw==;sn=75372613
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM3MjYxMw==
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Nov, 18 2024 14:05:01.008175 GMT
    method: PUT
    uri: https://sourceyyavv7f532g2vh7gvq.azconfig.io/kv/Key01?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"CuUHWDM5anKWa-zTFZE2mBPysAu85ZVCWkI_yYH8Phk","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2024-11-18T14:05:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CuUHWDM5anKWa-zTFZE2mBPysAu85ZVCWkI_yYH8Phk"'
      last-modified:
      - Mon, 18 Nov 2024 14:05:01 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjYxNA==;sn=75372614
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM3MjYzMQ==
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Nov, 18 2024 14:05:05.549861 GMT
    method: PUT
    uri: https://sourceyyavv7f532g2vh7gvq.azconfig.io/kv/Key11?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"RfXgbqjG2Ur440Dbdw23eFviJkvWhwSnKPOuuEqq0uw","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2024-11-18T14:05:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RfXgbqjG2Ur440Dbdw23eFviJkvWhwSnKPOuuEqq0uw"'
      last-modified:
      - Mon, 18 Nov 2024 14:05:05 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjYzMg==;sn=75372632
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM3MjYzMg==
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Nov, 18 2024 14:05:05.989686 GMT
    method: PUT
    uri: https://sourceyyavv7f532g2vh7gvq.azconfig.io/kv/Key12?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"4kCUL--1MQnAT60Llm0Uk5ibzMLMFDJ9vI31RUYe848","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2024-11-18T14:05:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"4kCUL--1MQnAT60Llm0Uk5ibzMLMFDJ9vI31RUYe848"'
      last-modified:
      - Mon, 18 Nov 2024 14:05:06 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjYzOQ==;sn=75372639
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2024 14:05:08.376225 GMT
    method: GET
    uri: https://sourceyyavv7f532g2vh7gvq.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjY0NA==;sn=75372644
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}, "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM3MjY0NA==
      x-ms-content-sha256:
      - qUbAHdy41dQGn2LBJ0FwXErvzXZfPdfL7J69coP3jg4=
      x-ms-date:
      - Nov, 18 2024 14:05:08.690431 GMT
    method: PUT
    uri: https://sourceyyavv7f532g2vh7gvq.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"FmoBYaspCiU02igVAxDP0-MANPx31USkhlg2yYNTM5o","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-11-18T14:05:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FmoBYaspCiU02igVAxDP0-MANPx31USkhlg2yYNTM5o"'
      last-modified:
      - Mon, 18 Nov 2024 14:05:08 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjY0NQ==;sn=75372645
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2024 14:05:08.831497 GMT
    method: GET
    uri: https://sourceyyavv7f532g2vh7gvq.azconfig.io/kv/HostSecrets?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjY0NQ==;sn=75372645
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2024 14:05:09.255609 GMT
    method: GET
    uri: https://sourceyyavv7f532g2vh7gvq.azconfig.io/kv?label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"QkSCHAuIF14CK87ow22aN-QfaoJvMsnAMBQZhjZXzqc","items":[{"etag":"FmoBYaspCiU02igVAxDP0-MANPx31USkhlg2yYNTM5o","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-11-18T14:05:08+00:00"},{"etag":"KCWLywbniaQgyFobWlVWX_wZdnwSliCZkgK6aYPTu6g","key":"HostSecrets","label":null,"content_type":"application/vnd.mi[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM3MjY0Ng==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2024 14:05:09.585523 GMT
    method: GET
    uri: https://sourceyyavv7f532g2vh7gvq.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"x6vvQJclEg8oV3MkrSglo-V0LRky83p5FGU61GYuig4","items":[{"etag":"FmoBYaspCiU02igVAxDP0-MANPx31USkhlg2yYNTM5o","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-11-18T14:05:08+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"x6vvQJclEg8oV3MkrSglo-V0LRky83p5FGU61GYuig4"'
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjY0Ng==;sn=75372646
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2024 14:05:09.726852 GMT
    method: GET
    uri: https://destinations3vyhdjteoj54.azconfig.io/kv?key=%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjY0Ng==;sn=75372646
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM3MjY0Ng==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2024 14:05:10.103784 GMT
    method: GET
    uri: https://destinations3vyhdjteoj54.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjY0Ng==;sn=75372646
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/json", "value": "{\"uri\":
      \"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags": {}, "locked":
      false, "etag": "KCWLywbniaQgyFobWlVWX_wZdnwSliCZkgK6aYPTu6g"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM3MjY0Ng==
      x-ms-content-sha256:
      - 6pVn8y1t9fbmB7WUuMyac2G/WMfDhuBBTex800oU5KQ=
      x-ms-date:
      - Nov, 18 2024 14:05:10.213608 GMT
    method: PUT
    uri: https://destinations3vyhdjteoj54.azconfig.io/kv/HostSecrets?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"OGKmEIWlcmqMU3DtUtTjiiY3rB0y3ZcjMOa8kB0X-xY","key":"HostSecrets","label":null,"content_type":"application/json","value":"{\"uri\":
        \"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2024-11-18T14:05:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OGKmEIWlcmqMU3DtUtTjiiY3rB0y3ZcjMOa8kB0X-xY"'
      last-modified:
      - Mon, 18 Nov 2024 14:05:10 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjY0Nw==;sn=75372647
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}, "locked": false, "etag": "CuUHWDM5anKWa-zTFZE2mBPysAu85ZVCWkI_yYH8Phk"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTM3MjY0Nw==
      x-ms-content-sha256:
      - 0Pq0vxog73/r41qpV2BRuUCsO1dzNR3X2Ds3tqwHKkI=
      x-ms-date:
      - Nov, 18 2024 14:05:10.341088 GMT
    method: PUT
    uri: https://destinations3vyhdjteoj54.azconfig.io/kv/Key01?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"SM7Lnqrbi57FmLWvPYHQ-SzcuF7xkh5iqH8PCKrl5fQ","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2024-11-18T14:05:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"SM7Lnqrbi57FmLWvPYHQ-SzcuF7xkh5iqH8PCKrl5fQ"'
      last-modified:
      - Mon, 18 Nov 2024 14:05:10 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTM3MjY0OA==;sn=75372648
    status:
      code: 200
      message: OK
[...]
