interactions:
- request:
    body: '{"sku": {"name": "Free"}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-11-11T20:51:45.8075599+00:00","endpoint":"https://KVTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/27c06cff-c38d-0e69-5ed1-d4d616014c13?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/27c06cff-c38d-0e69-5ed1-d4d616014c13?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/27c06cff-c38d-0e69-5ed1-d4d616014c13","name":"27c06cff-c38d-0e69-5ed1-d4d616014c13","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/27c06cff-c38d-0e69-5ed1-d4d616014c13?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-11-11T20:51:47+00:00","endpoint":"https://kvtestcrf2iw3codk5n2bqmp.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestcrf2iw3codk5n2bqmp","name":"KVTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"be005cce-0000-0100-0000-5dc9c9e30000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"Zt7U-l0-s0:4p9DlMzRKhbgycLA06E6","name":"Primary","value":"Zdv9IHXVGx5suv1ONgYW+DRWghQWnUH6hsyDxbOhyZM=","connectionString":"Endpoint=https://kvtestcrf2iw3codk5n2bqmp.azconfig.io;Id=Zt7U-l0-s0:4p9DlMzRKhbgycLA06E6;Secret=Zdv9IHXVGx5suv1ONgYW+DRWghQWnUH6hsyDxbOhyZM=","lastModified":"2019-11-11T20:51:46+00:00","readOnly":false},{"id":"ifOF-l0-s0:UqTF5QknUFZmEodAMQn8","name":"Secondary","value":"w8NZCUC7Y+4dtTXrwW6X1MO52a5JG8+BejY6ScN5i/0=","connectionString":"Endpoint=https://kvtestcrf2iw3codk5n2bqmp.azconfig.io;Id=ifOF-l0-s0:UqTF5QknUFZmEodAMQn8;Secret=w8NZCUC7Y+4dtTXrwW6X1MO52a5JG8+BejY6ScN5i/0=","lastModified":"2019-11-11T20:51:46+00:00","readOnly":false},{"id":"fg89-l0-s0:cax5mwVw8Nc2HtcGMnU2","name":"Primary
        Read Only","value":"CEaDfMMECxXVrQ/y7uHaDVH5p4VIaDAL7c0T3CO2I5w=","connectionString":"Endpoint=https://kvtestcrf2iw3codk5n2bqmp.azconfig.io;Id=fg89-l0-s0:cax5mwVw8Nc2HtcGMnU2;Secret=CEaDfMMECxXVrQ/y7uHaDVH5p4VIaDAL7c0T3CO2I5w=","lastModified":"2019-11-11T20:51:46+00:00","readOnly":true},{"id":"Kllz-l0-s0:nzHNu6GnB3mLgu333pgW","name":"Secondary
        Read Only","value":"MM8FtBJMNxDa7NuF/tbjkUARIIqr+CSVelyZiuWVx5E=","connectionString":"Endpoint=https://kvtestcrf2iw3codk5n2bqmp.azconfig.io;Id=Kllz-l0-s0:nzHNu6GnB3mLgu333pgW;Secret=MM8FtBJMNxDa7NuF/tbjkUARIIqr+CSVelyZiuWVx5E=","lastModified":"2019-11-11T20:51:46+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 11 2019 20:52:03 GMT
    method: GET
    uri: https://kvtestcrf2iw3codk5n2bqmp.azconfig.io/kv/Color?label=v1.0.0&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": null, "content_type": "text", "value": "Red"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - 41n11S1aggmEBGMW3HrqoSo3ofunyorr8nEcVDubApk=
      x-ms-date:
      - Nov, 11 2019 20:52:04 GMT
    method: PUT
    uri: https://kvtestcrf2iw3codk5n2bqmp.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"mw79fgg2Dehw8GsXcWsXZIBrFkP","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mw79fgg2Dehw8GsXcWsXZIBrFkP"'
      last-modified:
      - Mon, 11 Nov 2019 20:52:04 GMT
      sync-token:
      - zAJw6V16=MzotMSM2MDc2NzE=;sn=607671
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "content_type": "text", "value": "Green"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-Match:
      - '"mw79fgg2Dehw8GsXcWsXZIBrFkP"'
      x-ms-content-sha256:
      - +0Dc411S69AU1bxxayWs+l/WjOPmgt5oeYzvXkgM/PA=
      x-ms-date:
      - Nov, 11 2019 20:52:10 GMT
    method: PUT
    uri: https://kvtestcrf2iw3codk5n2bqmp.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"e1xVP3pwXGHJfhCv4HEqFIbJgzE","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"e1xVP3pwXGHJfhCv4HEqFIbJgzE"'
      last-modified:
      - Mon, 11 Nov 2019 20:52:11 GMT
      sync-token:
      - zAJw6V16=MzotMSM2MDc2ODM=;sn=607683
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 11 2019 20:52:17 GMT
    method: GET
    uri: https://kvtestcrf2iw3codk5n2bqmp.azconfig.io/kv/Color?label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": null, "content_type": "text", "value": "Green"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      If-None-Match:
      - '"*"'
      x-ms-content-sha256:
      - OE9gMcBi1FnpwhTCMBs4BP0pQT3sSDZrjI46Fv9IR18=
      x-ms-date:
      - Nov, 11 2019 20:52:17 GMT
    method: PUT
    uri: https://kvtestcrf2iw3codk5n2bqmp.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: '{"etag":"OxgcrtrQAPf9Q8rdhANwccwhV0n","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OxgcrtrQAPf9Q8rdhANwccwhV0n"'
      last-modified:
      - Mon, 11 Nov 2019 20:52:18 GMT
      sync-token:
      - zAJw6V16=MzotMSM2MDc2ODQ=;sn=607684
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 11 2019 20:52:21 GMT
    method: GET
    uri: https://kvtestcrf2iw3codk5n2bqmp.azconfig.io/kv?key=*&label=*&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"OxgcrtrQAPf9Q8rdhANwccwhV0n","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:18+00:00"},{"etag":"e1xVP3pwXGHJfhCv4HEqFIbJgzE","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:11+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM2MDc2ODQ=;sn=607684
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 11 2019 20:52:23 GMT
    method: GET
    uri: https://kvtestcrf2iw3codk5n2bqmp.azconfig.io/revisions?key=Color&label=%2A&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"OxgcrtrQAPf9Q8rdhANwccwhV0n","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:18+00:00"},{"etag":"e1xVP3pwXGHJfhCv4HEqFIbJgzE","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:11+00:00"},{"etag":"mw79fgg2Dehw8GsXcWsXZIBrFkP","key":"Color","label":"v1.0.0","content_type":"text","value":"Red","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:04+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM2MDc2ODQ=;sn=607684
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 11 2019 20:52:25 GMT
    method: GET
    uri: https://kvtestcrf2iw3codk5n2bqmp.azconfig.io/kv?key=Color&label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"OxgcrtrQAPf9Q8rdhANwccwhV0n","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:18+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM2MDc2ODQ=;sn=607684
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Accept-Datetime:
      - '2019-11-11T20:52:18Z'
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 11 2019 20:52:36 GMT
    method: GET
    uri: https://kvtestcrf2iw3codk5n2bqmp.azconfig.io/kv?key=Color&label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"OxgcrtrQAPf9Q8rdhANwccwhV0n","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:18+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      link:
      - </kv?key=Color&label=newlabel&fields=&api-version=1.0>; rel="original"
      memento-datetime:
      - Mon, 11 Nov 2019 20:52:18 GMT
      sync-token:
      - zAJw6V16=MzotMSM2MDc2ODY=;sn=607686
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 11 2019 20:52:38 GMT
    method: GET
    uri: https://kvtestcrf2iw3codk5n2bqmp.azconfig.io/kv?key=Color&label=newlabel&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"TGjvJ2hu20tXRl3elXTjPNP3GPZ","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2019-11-11T20:52:37+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM2MDc2ODc=;sn=607687
    status:
      code: 200
      message: OK
version: 1
