interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-02-24T01:17:12.7370485+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/4tTiVVY9DlX8Tj3YifOAjdOVLCoFCrLku2cDwTA1fB0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/4tTiVVY9DlX8Tj3YifOAjdOVLCoFCrLku2cDwTA1fB0?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/4tTiVVY9DlX8Tj3YifOAjdOVLCoFCrLku2cDwTA1fB0","name":"4tTiVVY9DlX8Tj3YifOAjdOVLCoFCrLku2cDwTA1fB0","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/4tTiVVY9DlX8Tj3YifOAjdOVLCoFCrLku2cDwTA1fB0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-02-24T01:17:12+00:00","endpoint":"https://sourcejcpqfiysryvbbymsgq.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-02-24T01:17:12+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T01:17:13+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcejcpqfiysryvbbymsgq","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6b02e72c-0000-0100-0000-63f810190000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NDqiYPXC0bDSx%2FhNQ3xzHBBZzMdghq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5ulkHsdzF6DDcmLOUmLDC%2FLPJgFO2M6PQvDI5W04UcuzYi%2B9IqPWHsMdV9ppkRnRCt1OJ3WE1qNv6Apr2v0mXOGKsa%2FoknMoqiaTqrq0zTsVHsSNVc6fBRMtbrdmhHuunkrt6LpFXWfCtntU25axfU32gl0su%2FZ3%2B%2FjcRyj8QSNo48f9F50Rbvn8l5zdRKMI0MbNLBeB3fBf0ByAXGyQNPj3J97w7XRTkArBsEwGdBJcoO4HyinAymz1ZrA8obZqdaYg5CNVyO2cuSrsvjhNMF5gmHR3Dpdc2phcJm7yEqwA4ILw2lvYdJVZpUBOGW3ukjuUPyQwU5hVyfapjD6N8diwFPWaxcAl04BxjHY%2F%2B6FGITZtb3pDpbke4afkqWfNbiqVMpvLDjFC%2FzuGLgwjDKryztGki4gNwwT0rLAbMrr%2FuUM%2F5DhdE7Az9ZWudn6idc4hd32z51bi3%2BtMgLf8Hsvit9cYNe9Pz7Ky6nLNwp%2ByJI59mSw8vjZrvvUHp2RCwH0Ql2K3TQlPO9cgWxVOufkG7IgNtH8bQVQbfTgwizfJMUTyZY4XbitDCrLYYgszG9c4Ay2Kt4xf%2FwO4zMA4AZzNYsW0ieAVeaazKTEa1hDpjijLYqiaGI5XHSVeQyPwl2JUVoHb3cBVUfcNIo31PDaX2BaQXD2GLz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 8c194500-d03e-4db9-ade8-0afdebcc7887
      - 150bab9b-a70e-4b96-b19b-5e9db73e43db
      - 512ba774-655e-4e74-96c1-ea80c4064f2a
      - 79d65c36-cb08-489d-a784-3da02e2ea8ba
      - af73536e-b45c-423b-a098-f0f125111490
      - 977b49b5-2290-4f69-b4c1-c68850688765
      - 1aae526e-bdfa-45f7-bd75-7e902967a6a4
      - 248f6fda-87bb-4d86-b8d7-15dbb2b57a63
      - d90bc9e9-1996-40ee-80e6-f6da151f8f6a
      - 94f76c5b-038e-450b-ae31-d7a9abdbf0e8
      - a921ac13-2d25-4506-8b68-eaa474ea726a
      - 5e1a32a4-e706-4b48-8d4f-d5821927718d
      - 5146b8e2-59a6-42e4-8323-cac3ce470e1f
      - 0a1e33eb-f245-49c6-bfa7-2ef058dcdca1
      - c6840bde-10d6-4442-b1ea-146a5174f1b1
      - ba40b8c1-e03d-412e-b7fb-c0324f672bb6
      - 9de42a1e-cb04-4781-9ae6-2a00525068b3
      - 9aea8c53-9063-4803-b83c-5802b9efb446
      - 96067eb2-4550-4d63-a7a7-d3b9ab118482
      - f2c0c78e-dbaa-4787-9684-04a507389cb5
      - a4275512-5221-4d60-9d11-40a8a4b2020e
      - 581cbcbd-1b9d-429a-b1c5-de5b75c586f7
      - 256b971d-26fd-471d-b57c-62254d7612ca
      - 6f09945f-c16c-4c95-86ac-dcb90487fdc7
      - 2ae85490-d712-4591-9dce-30b937aa47f1
      - 370332b6-7bad-4d9a-a545-21d989cb426f
      - b3714255-ff8c-4200-8e43-c2d2fbb95a1a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"n7qz-l0-s0:4xt9JrdN9qEQqWxcp0AI","name":"Primary","value":"ze+vXKYJmAntYhRBDAvPm/xvKHM2gfez3eBuJ44+iWY=","connectionString":"Endpoint=https://sourcejcpqfiysryvbbymsgq.azconfig.io;Id=n7qz-l0-s0:4xt9JrdN9qEQqWxcp0AI;Secret=ze+vXKYJmAntYhRBDAvPm/xvKHM2gfez3eBuJ44+iWY=","lastModified":"2023-02-24T01:17:12+00:00","readOnly":false},{"id":"UJ6b-l0-s0:ZcvrQCeBFSuSb4vnWzt9","name":"Secondary","value":"3rHA7QKQ9fClZ3q/3aS9fjOktv5eiE4u3T94Q7TKEus=","connectionString":"Endpoint=https://sourcejcpqfiysryvbbymsgq.azconfig.io;Id=UJ6b-l0-s0:ZcvrQCeBFSuSb4vnWzt9;Secret=3rHA7QKQ9fClZ3q/3aS9fjOktv5eiE4u3T94Q7TKEus=","lastModified":"2023-02-24T01:17:12+00:00","readOnly":false},{"id":"Fqkh-l0-s0:/0DcZt8+6GsCk4LkFY0B","name":"Primary
        Read Only","value":"wq+tPwEhGeW6S21+zakiWvENkvYPe2mis6e2gBcsRZE=","connectionString":"Endpoint=https://sourcejcpqfiysryvbbymsgq.azconfig.io;Id=Fqkh-l0-s0:/0DcZt8+6GsCk4LkFY0B;Secret=wq+tPwEhGeW6S21+zakiWvENkvYPe2mis6e2gBcsRZE=","lastModified":"2023-02-24T01:17:12+00:00","readOnly":true},{"id":"mr4k-l0-s0:/zyFFFXvuCg1iwRakCyE","name":"Secondary
        Read Only","value":"Z0qFVIJBqvQreTAOaYaGMKbl5X7UWRanstc4/Ofeb0o=","connectionString":"Endpoint=https://sourcejcpqfiysryvbbymsgq.azconfig.io;Id=mr4k-l0-s0:/zyFFFXvuCg1iwRakCyE;Secret=Z0qFVIJBqvQreTAOaYaGMKbl5X7UWRanstc4/Ofeb0o=","lastModified":"2023-02-24T01:17:12+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/kpBozW-LOnif4vX8j1e3IMwg5qTES3uJYMIPWLQ_tsg?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/kpBozW-LOnif4vX8j1e3IMwg5qTES3uJYMIPWLQ_tsg","name":"kpBozW-LOnif4vX8j1e3IMwg5qTES3uJYMIPWLQ_tsg","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/kpBozW-LOnif4vX8j1e3IMwg5qTES3uJYMIPWLQ_tsg?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"Dcs9-l0-s0:SGlqy+5g85VBNv1pJopY","name":"Primary","value":"GAkizZjc1F3aYkhBZ0XzYZ5vYyzvqidhroy0yEUEu60=","connectionString":"Endpoint=https://destinationtzdhpszvo[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:40 GMT
    method: GET
    uri: https://sourcejcpqfiysryvbbymsgq.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTkwNA==;sn=35771904
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTkwNA==
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Feb, 24 2023 01:17:41 GMT
    method: PUT
    uri: https://sourcejcpqfiysryvbbymsgq.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"2M-iojVdzn9yiPOJgpsT7kh-Iv3BpoquSjJKqVWyZi4","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2M-iojVdzn9yiPOJgpsT7kh-Iv3BpoquSjJKqVWyZi4"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:42 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTkwNQ==;sn=35771905
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTkxNA==
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Feb, 24 2023 01:17:46 GMT
    method: PUT
    uri: https://sourcejcpqfiysryvbbymsgq.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"ehusAFG988O4N3mcxhOtylHPCAz01_z3LXFczTiNdI4","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ehusAFG988O4N3mcxhOtylHPCAz01_z3LXFczTiNdI4"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:47 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTkxNQ==;sn=35771915
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTkxNQ==
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Feb, 24 2023 01:17:46 GMT
    method: PUT
    uri: https://sourcejcpqfiysryvbbymsgq.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"IUNGJh-VrG4segbUDqebny-QA4YCRTTD72W1ZcBU_2I","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:47+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"IUNGJh-VrG4segbUDqebny-QA4YCRTTD72W1ZcBU_2I"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:47 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTkxNg==;sn=35771916
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:49 GMT
    method: GET
    uri: https://sourcejcpqfiysryvbbymsgq.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTkxOA==;sn=35771918
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTkxOA==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Feb, 24 2023 01:17:49 GMT
    method: PUT
    uri: https://sourcejcpqfiysryvbbymsgq.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"YuTGqMb3tfTnz1yEMmOXRG4XW--_uJzrBWdwUc5hiAU","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YuTGqMb3tfTnz1yEMmOXRG4XW--_uJzrBWdwUc5hiAU"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:50 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTkxOQ==;sn=35771919
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:49 GMT
    method: GET
    uri: https://sourcejcpqfiysryvbbymsgq.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTkxOQ==;sn=35771919
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:50 GMT
    method: GET
    uri: https://sourcejcpqfiysryvbbymsgq.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"YuTGqMb3tfTnz1yEMmOXRG4XW--_uJzrBWdwUc5hiAU","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:50+00:00"},{"etag":"-IEO65RsJFzQH8sWGKs8QZW7_Ts3XX3lypVL8k-xKVc","key":"HostSecrets","label":null,"content_type":"application/vnd.mi[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTkyMA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:50 GMT
    method: GET
    uri: https://sourcejcpqfiysryvbbymsgq.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"YuTGqMb3tfTnz1yEMmOXRG4XW--_uJzrBWdwUc5hiAU","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:50+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTkyMA==;sn=35771920
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:50 GMT
    method: GET
    uri: https://destinationtzdhpszvoener.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSM2NzI3MDg0;sn=6727084
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSM2NzI3MDg0
      x-ms-content-sha256:
      - 4d83mG8PIR/2pHo1eYUwL4DWxZPKi3DBipo7rkeA0Og=
      x-ms-date:
      - Feb, 24 2023 01:17:50 GMT
    method: PUT
    uri: https://destinationtzdhpszvoener.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: '{"etag":"41DGAsVrXH_bziJr4BzGUfYsRFfyBDQBH8ZkgaJZeuY","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:52+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"41DGAsVrXH_bziJr4BzGUfYsRFfyBDQBH8ZkgaJZeuY"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:52 GMT
      sync-token:
      - zAJw6V16=NzoxOSM2NzI3MDg1;sn=6727085
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSM2NzI3MDg1
      x-ms-content-sha256:
      - ssERcN/l30qL3zGxsEuQXd8SMRck/hPK9o4FH0rGF6Q=
      x-ms-date:
      - Feb, 24 2023 01:17:51 GMT
    method: PUT
    uri: https://destinationtzdhpszvoener.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"MWT3GOJhFCizqfetQ7oWjppu82oIlpMsyxeZX8Y4I1k","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:52+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"MWT3GOJhFCizqfetQ7oWjppu82oIlpMsyxeZX8Y4I1k"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:52 GMT
      sync-token:
      - zAJw6V16=NzoxOSM2NzI3MDg2;sn=6727086
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSM2NzI3MDk5
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Feb, 24 2023 01:17:52 GMT
    method: PUT
    uri: https://destinationtzdhpszvoener.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"j_alRDOi-uRP3pt3jjBAy1mZXRZe_ITB1abzSKiWbGc","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"j_alRDOi-uRP3pt3jjBAy1mZXRZe_ITB1abzSKiWbGc"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:54 GMT
      sync-token:
      - zAJw6V16=NzoxOSM2NzI3MTAw;sn=6727100
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:53 GMT
    method: GET
    uri: https://sourcejcpqfiysryvbbymsgq.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"YuTGqMb3tfTnz1yEMmOXRG4XW--_uJzrBWdwUc5hiAU","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:50+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTkyMA==;sn=35771920
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:53 GMT
    method: GET
    uri: https://destinationtzdhpszvoener.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"j_alRDOi-uRP3pt3jjBAy1mZXRZe_ITB1abzSKiWbGc","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:54 GMT
    method: GET
    uri: https://destinationtzdhpszvoener.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"j_alRDOi-uRP3pt3jjBAy1mZXRZe_ITB1abzSKiWbGc","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:54+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSM2NzI3MTAw;sn=6727100
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:54 GMT
    method: GET
    uri: https://destinationtzdhpszvoener.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"j_alRDOi-uRP3pt3jjBAy1mZXRZe_ITB1abzSKiWbGc","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;char[...]
- request:
    body: null
    headers:
      If-Match:
      - '"j_alRDOi-uRP3pt3jjBAy1mZXRZe_ITB1abzSKiWbGc"'
      Sync-Token:
      - zAJw6V16=NzoxOSM2NzI3MTAw
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:17:54 GMT
    method: DELETE
    uri: https://destinationtzdhpszvoener.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"j_alRDOi-uRP3pt3jjBAy1mZXRZe_ITB1abzSKiWbGc","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:17:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"j_alRDOi-uRP3pt3jjBAy1mZXRZe_ITB1abzSKiWbGc"'
      last-modified:
      - Fri, 24 Feb 2023 01:17:54 GMT
      sync-token:
[...]
