interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true, "dataPlaneProxy": {}, "createMode": "Default", "softDeleteRetentionInDays":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtest000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-08-24T11:00:55.4187449+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtest000002",
        "name": "importtest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.OItk68-MBGrX9ZuXfRcAHw5UDrI2zZsRiIhejr7FjSs?api-version=2025-08-01-preview&t=639231660554777936&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRaFw0yNzAyMDkwNjQwMTRaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2Nlcn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.OItk68-MBGrX9ZuXfRcAHw5UDrI2zZsRiIhejr7FjSs?api-version=2025-08-01-preview&t=639231660554777936&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtest000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-08-24T11:00:55+00:00", "endpoint": "https://importtest000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-08-24T11:00:55+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-08-24T11:00:55+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtest000002",
        "name": "importtest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9501eb58-0000-0100-0000-6a8c24680000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=%2A&label=%00
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMjc=;sn=95396227
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:33 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "BackgroundColor", "value": "red", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMjc=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/BackgroundColor?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"-bJGuqxxHGOaDKoOQExNmwFHmMBWY7Rh3Z4PAiCDVPk","key":"BackgroundColor","label":null,"content_type":null,"value":"red","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"-bJGuqxxHGOaDKoOQExNmwFHmMBWY7Rh3Z4PAiCDVPk"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:34 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMjg=;sn=95396228
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:34 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMjg=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/Language?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"ZKEqOTVXRVEsOOZWDEMzMraSQW2jhY0kA69YOL4ahcc","key":"Language","label":null,"content_type":null,"value":"spanish","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZKEqOTVXRVEsOOZWDEMzMraSQW2jhY0kA69YOL4ahcc"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:35 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMjk=;sn=95396229
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Langugage", "value": "English", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMjk=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/Langugage?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"qAFDPMS5zMPCYBdNQMb-iUZU5zsSTv7r8BnMkocPbGM","key":"Langugage","label":null,"content_type":null,"value":"English","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qAFDPMS5zMPCYBdNQMb-iUZU5zsSTv7r8BnMkocPbGM"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:36 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzA=;sn=95396230
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:36 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Settings:BackgroundColor/cars/Toyota", "value": "Acura", "locked":
      false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzA=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"3MF0bWI03oTOtB1VOsWP38QwLER6GiOH5LOcI_TujRY","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3MF0bWI03oTOtB1VOsWP38QwLER6GiOH5LOcI_TujRY"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:36 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzE=;sn=95396231
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:36 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Settings:BackgroundColor/ship/0", "value": "ship1", "locked":
      false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzE=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"9nL2pTIY-LiCM4ZrTFcZc1R0cafdI3iyN_Z72WjDKJE","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9nL2pTIY-LiCM4ZrTFcZc1R0cafdI3iyN_Z72WjDKJE"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:37 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzI=;sn=95396232
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:37 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "abc", "value": "", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzQ=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/abc?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"9NImq51An6jAgxK9AXVuhdRnHNVgFwGBAi9PcDSvNgg","key":"abc","label":null,"content_type":null,"value":"","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9NImq51An6jAgxK9AXVuhdRnHNVgFwGBAi9PcDSvNgg"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:39 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzU=;sn=95396235
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:39 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "appabc", "value": "", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzU=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/appabc?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"RgBTBDH27JnDZeuhatgbP4F0R9ceB28X80rljAFoF08","key":"appabc","label":null,"content_type":null,"value":"","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RgBTBDH27JnDZeuhatgbP4F0R9ceB28X80rljAFoF08"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:40 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzY=;sn=95396236
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:40 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "background-color", "value": "black", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzY=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/background-color?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"hspo2YAkLffnvL2Y11f895Bmkf87ymbEsERps6xerY4","key":"background-color","label":null,"content_type":null,"value":"black","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hspo2YAkLffnvL2Y11f895Bmkf87ymbEsERps6xerY4"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:41 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzc=;sn=95396237
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:41 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "font-size", "value": "34", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzc=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/font-size?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"0r3VC9cWNVTZfnnhBtUWt9hjz0DUIlJTjXcc6tPK4VM","key":"font-size","label":null,"content_type":null,"value":"34","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0r3VC9cWNVTZfnnhBtUWt9hjz0DUIlJTjXcc6tPK4VM"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:41 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzg=;sn=95396238
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:41 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "language", "value": "spanish", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzg=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/language?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"0fQE9vrMjUB5pPxRRVF4BP60Fi07D1YQ00d9gwhs83E","key":"language","label":null,"content_type":null,"value":"spanish","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0fQE9vrMjUB5pPxRRVF4BP60Fi07D1YQ00d9gwhs83E"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:42 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzk=;sn=95396239
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:42 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv?%24select=&api-version=2026-04-01&label=%00
  response:
    body:
      string: '{"etag":"9ArSunQI7vn5bb1tFnpRPXL4HHVLIDx3w3qct8BfY54","items":[{"etag":"-bJGuqxxHGOaDKoOQExNmwFHmMBWY7Rh3Z4PAiCDVPk","key":"BackgroundColor","label":null,"content_type":null,"value":"red","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:34+00:00"},{"etag":"ZKEqOTVXRVEsOOZWDEMzMraSQW2jh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv?api-version=2026-04-01&key=.appconfig.featureflag%2F%2A&label=%00
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyMzk=;sn=95396239
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:44 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv/key_vault_reference?api-version=2026-04-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyNjU=;sn=95396265
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:57 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "key_vault_reference", "value": "{\"uri\": \"https://testkeyvault.vault.azure.net/secrets/mysecret\"}",
      "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyNjU=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/key_vault_reference?api-version=2026-04-01
  response:
    body:
      string: '{"etag":"Wkj1Um5heGOMQ5O8IhS_YFJ8D_lc0PNPvf3jF8TzYPU","key":"key_vault_reference","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://testkeyvault.vault.azure.net/secrets/mysecret\"}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:01:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Wkj1Um5heGOMQ5O8IhS_YFJ8D_lc0PNPvf3jF8TzYPU"'
      last-modified:
      - Mon, 24 Aug 2026 11:01:58 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyNjY=;sn=95396266
      x-ms-date:
      - Mon, 24 Aug 2026 11:01:58 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=%2A&label=array_test
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyNjY=;sn=95396266
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:00 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "arr/0", "label": "array_test", "value": "test1", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyNjY=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/arr%2F0?api-version=2026-04-01&label=array_test
  response:
    body:
      string: '{"etag":"l99RAPH_pvU1iawwK9Li-nSasJ3kNBLaBFivbh1zb6U","key":"arr/0","label":"array_test","content_type":null,"value":"test1","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:02:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"l99RAPH_pvU1iawwK9Li-nSasJ3kNBLaBFivbh1zb6U"'
      last-modified:
      - Mon, 24 Aug 2026 11:02:01 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyNjc=;sn=95396267
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:01 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv/arr%2Ffoo?api-version=2026-04-01&label=array_test
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyNzg=;sn=95396278
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:10 GMT
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv?%24select=&api-version=2026-04-01&label=array_test
  response:
    body:
      string: '{"etag":"hqlUh_PXyqb3-mSr3c-P-uAu6p5ywtQp3LcVRaqX-bo","items":[{"etag":"l99RAPH_pvU1iawwK9Li-nSasJ3kNBLaBFivbh1zb6U","key":"arr/0","label":"array_test","content_type":null,"value":"test1","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:02:01+00:00"},{"etag":"AIqJog_UGdSvdlh5KDh0DD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv?api-version=2026-04-01&key=.appconfig.featureflag%2F%2A&label=array_test
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODA=;sn=95396280
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:12 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=%2A&label=KeyValuesWithFeatures
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODA=;sn=95396280
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:13 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODA=
    method: GET
    uri: https://importtest000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=.appconfig.featureflag%2F%2A&label=KeyValuesWithFeatures
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODA=;sn=95396280
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:13 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "KeyValuesWithFeatures", "value": "Red", "locked":
      false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODA=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/Color?api-version=2026-04-01&label=KeyValuesWithFeatures
  response:
    body:
      string: '{"etag":"vdJ26tAG0-q9z5AleSd31FSKTxS33ggrq75eTZDR-oU","key":"Color","label":"KeyValuesWithFeatures","content_type":null,"value":"Red","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:02:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vdJ26tAG0-q9z5AleSd31FSKTxS33ggrq75eTZDR-oU"'
      last-modified:
      - Mon, 24 Aug 2026 11:02:14 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODE=;sn=95396281
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:14 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Region", "label": "KeyValuesWithFeatures", "value": "West US",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODE=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/Region?api-version=2026-04-01&label=KeyValuesWithFeatures
  response:
    body:
      string: '{"etag":"DPUYTRFPQjsiD5fNMyeJSPxNd9E9PnT5PyPl_ODh8Us","key":"Region","label":"KeyValuesWithFeatures","content_type":null,"value":"West
        US","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:02:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DPUYTRFPQjsiD5fNMyeJSPxNd9E9PnT5PyPl_ODh8Us"'
      last-modified:
      - Mon, 24 Aug 2026 11:02:15 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODI=;sn=95396282
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:15 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "KeyValuesWithFeatures",
      "value": "{\"id\": \"Beta\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODI=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2026-04-01&label=KeyValuesWithFeatures
  response:
    body:
      string: '{"etag":"lBOxcD560c4irDbByTV9l-oMLu-SbEMWLjZLvXmqxi4","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"enabled\": false, \"conditions\": {\"client_filters\": []}}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:02:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lBOxcD560c4irDbByTV9l-oMLu-SbEMWLjZLvXmqxi4"'
      last-modified:
      - Mon, 24 Aug 2026 11:02:15 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODM=;sn=95396283
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:15 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "label": "KeyValuesWithFeatures",
      "value": "{\"id\": \"Percentage\", \"enabled\": true, \"conditions\": {\"client_filters\":
      []}}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODM=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/.appconfig.featureflag%2FPercentage?api-version=2026-04-01&label=KeyValuesWithFeatures
  response:
    body:
      string: '{"etag":"__KyEgxv7WVT7KR_xLHgX53UADNBUZma9e9-eG75odQ","key":".appconfig.featureflag/Percentage","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"enabled\": true, \"conditions\": {\"client_filters\": []}}","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:02:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"__KyEgxv7WVT7KR_xLHgX53UADNBUZma9e9-eG75odQ"'
      last-modified:
      - Mon, 24 Aug 2026 11:02:16 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODQ=;sn=95396284
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:16 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "label": "KeyValuesWithFeatures",
      "value": "{\"id\": \"Timestamp\", \"enabled\": true, \"conditions\": {\"client_filters\":
      [{\"name\": \"Local Tests\", \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\",
      \"EndTime\": \"2019-09-01T00:00:00Z\"}}, {\"name\": \"Production Tests\", \"parameters\":
      {\"StartTime\": \"2019-09-02T00:00:00Z\", \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyODQ=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/.appconfig.featureflag%2FTimestamp?api-vers[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv?%24select=&api-version=2026-04-01&label=KeyValuesWithFeatures
  response:
    body:
      string: '{"etag":"tnGirOjMMyMKlDrtmYDCUHrEFtMwN-5Onhj4QNgRzXo","items":[{"etag":"dKLvW3aVJfVS_qReph4lfywbNyEalRgGgP-z6Vw1UbA","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv?api-version=2026-04-01&key=.appconfig.featureflag%2F%2A&label=KeyValuesWithFeatures
  response:
    body:
      string: '{"etag":"3bDdb7YWs694TFj_7BQ0ebbotFrtkQEuIvW9nHP3imQ","items":[{"etag":"dKLvW3aVJfVS_qReph4lfywbNyEalRgGgP-z6Vw1UbA","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://importtest000002.azconfig.io/kv?%24select=&api-version=2026-04-01&key=%2A&label=SkipFeatures
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyOTE=;sn=95396291
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:22 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "SkipFeatures", "value": "Red", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyOTE=
    method: PUT
    uri: https://importtest000002.azconfig.io/kv/Color?api-version=2026-04-01&label=SkipFeatures
  response:
    body:
      string: '{"etag":"Nz6piqjrz4hr-1dMw5Myd3n02hSnenCkSLBVl6Jrvfk","key":"Color","label":"SkipFeatures","content_type":null,"value":"Red","description":null,"tags":{},"locked":false,"last_modified":"2026-08-24T11:02:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Nz6piqjrz4hr-1dMw5Myd3n02hSnenCkSLBVl6Jrvfk"'
      last-modified:
      - Mon, 24 Aug 2026 11:02:23 GMT
      sync-token:
      - zAJw6V16=MTQ6MTkjOTUzOTYyOTM=;sn=95396293
      x-ms-date:
      - Mon, 24 Aug 2026 11:02:23 GMT
    status:
      code: 200
      message: OK
- request:
[...]
