interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-10-27T20:34:46.9663897+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002","name":"FeatureNamespaceTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0931ef79-bc9f-c410-36e1-df97a8c069f8?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0931ef79-bc9f-c410-36e1-df97a8c069f8?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0931ef79-bc9f-c410-36e1-df97a8c069f8","name":"0931ef79-bc9f-c410-36e1-df97a8c069f8","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0931ef79-bc9f-c410-36e1-df97a8c069f8?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-10-27T20:34:47+00:00","endpoint":"https://featurenamespacetestg54v.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2021-10-27T20:34:47+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-27T20:34:48+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurenamespacetestg54v","name":"FeatureNamespaceTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18009f0c-0000-0100-0000-6179b7e70000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"q66m-l0-s0:Ki44FG1fSPZCnw5alUKr","name":"Primary","value":"xyJz8Vh6PIahVVaE0xIiDaV+S2erB0PJC+uNeSy08hE=","connectionString":"Endpoint=https://featurenamespacetestg54v.azconfig.io;Id=q66m-l0-s0:Ki44FG1fSPZCnw5alUKr;Secret=xyJz8Vh6PIahVVaE0xIiDaV+S2erB0PJC+uNeSy08hE=","lastModified":"2021-10-27T20:34:46+00:00","readOnly":false},{"id":"yhra-l0-s0:tawhJBqa4Ig8pMnayDhX","name":"Secondary","value":"gH7sLPq5Bo/XVm/c//sy1MivJJApbkHUZI9JmBpSpZs=","connectionString":"Endpoint=https://featurenamespacetestg54v.azconfig.io;Id=yhra-l0-s0:tawhJBqa4Ig8pMnayDhX;Secret=gH7sLPq5Bo/XVm/c//sy1MivJJApbkHUZI9JmBpSpZs=","lastModified":"2021-10-27T20:34:46+00:00","readOnly":false},{"id":"tnH/-l0-s0:dH5+vD2gjsSPIBvNJrYY","name":"Primary
        Read Only","value":"fieeJXXolfiOr9xUZrBnzINAYTauvJg205ENpFl+/48=","connectionString":"Endpoint=https://featurenamespacetestg54v.azconfig.io;Id=tnH/-l0-s0:dH5+vD2gjsSPIBvNJrYY;Secret=fieeJXXolfiOr9xUZrBnzINAYTauvJg205ENpFl+/48=","lastModified":"2021-10-27T20:34:46+00:00","readOnly":true},{"id":"79wb-l0-s0:lcwQBX320njiUwxtq/z6","name":"Secondary
        Read Only","value":"gUSVCfeE41ALxotjuYR+1diBcbbNGOzTnec+ZaVlhK0=","connectionString":"Endpoint=https://featurenamespacetestg54v.azconfig.io;Id=79wb-l0-s0:lcwQBX320njiUwxtq/z6;Secret=gUSVCfeE41ALxotjuYR+1diBcbbNGOzTnec+ZaVlhK0=","lastModified":"2021-10-27T20:34:46+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 27 2021 20:35:05 GMT
    method: GET
    uri: https://featurenamespacetestg54v.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - TEvHMnQHVg0zuhG/KTLva5wbEs56XbnCKHzUotx7T2Q=
      x-ms-date:
      - Oct, 27 2021 20:35:05 GMT
    method: PUT
    uri: https://featurenamespacetestg54v.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"ivJpz1Ba18eYw2oZ7rxIvO21E4r","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-27T20:35:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ivJpz1Ba18eYw2oZ7rxIvO21E4r"'
      last-modified:
      - Wed, 27 Oct 2021 20:35:05 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4MzIxNTUy;sn=8321552
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"ivJpz1Ba18eYw2oZ7rxIvO21E4r"'
      Sync-Token:
      - zAJw6V16=MzoxOSM4MzIxNTUz
      x-ms-content-sha256:
      - DLfyh/Ru5G+ypt1henik3km8h0nZPlRtLA0RgDfVOyU=
      x-ms-date:
      - Oct, 27 2021 20:35:08 GMT
    method: PUT
    uri: https://featurenamespacetestg54v.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"TmCexJpSzsb7SAjX1iqJOX1pqWh","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-27T20:35:09+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TmCexJpSzsb7SAjX1iqJOX1pqWh"'
      last-modified:
      - Wed, 27 Oct 2021 20:35:09 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4MzIxNTU0;sn=8321554
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 27 2021 20:35:11 GMT
    method: GET
    uri: https://featurenamespacetestg54v.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3AGlobalFeature?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 27 2021 20:35:15 GMT
    method: GET
    uri: https://featurenamespacetestg54v.azconfig.io/kv?key=.appconfig.featureflag%2FMyApp%3A%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"TmCexJpSzsb7SAjX1iqJOX1pqWh","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-27T20:35:09+00:00"},{"etag":"g6moNpIbX2oYyF75n3s3IVCkfPB","key":".appconfig.featureflag/MyApp:GlobalFeature","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"MyApp:GlobalFeature\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2021-10-27T20:35:12+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSM4MzIxNTU1;sn=8321555
    status:
      code: 200
      message: OK
version: 1
