interactions:
- request:
    body: '{"sku": {"name": "standard"}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-01-08T18:43:16.1798268+00:00","endpoint":"https://NamingConventionTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002","name":"NamingConventionTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/41cbbf1b-b2d1-5d10-39b7-6715900653e8?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/41cbbf1b-b2d1-5d10-39b7-6715900653e8?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/41cbbf1b-b2d1-5d10-39b7-6715900653e8","name":"41cbbf1b-b2d1-5d10-39b7-6715900653e8","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/41cbbf1b-b2d1-5d10-39b7-6715900653e8?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-01-08T18:43:22+00:00","endpoint":"https://namingconventiontestu6y6.azconfig.io"},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/namingconventiontestu6y6","name":"NamingConventionTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"01018f05-0000-0100-0000-5e1622c90000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"bEeu-l0-s0:WLufIQtSa0GDeibj9bIR","name":"Primary","value":"XSu5hBFo9f9yw+UWJhxuMCLHMmycg0e92x0iWGeVZ3A=","connectionString":"Endpoint=https://namingconventiontestu6y6.azconfig.io;Id=bEeu-l0-s0:WLufIQtSa0GDeibj9bIR;Secret=XSu5hBFo9f9yw+UWJhxuMCLHMmycg0e92x0iWGeVZ3A=","lastModified":"2020-01-08T18:43:16+00:00","readOnly":false},{"id":"uISy-l0-s0:TB2cws6ino5LOvhGQTJL","name":"Secondary","value":"BsB/xD6osgPgc3xycL2aTw/d2/GkYvf/nJTrGGwJk7g=","connectionString":"Endpoint=https://namingconventiontestu6y6.azconfig.io;Id=uISy-l0-s0:TB2cws6ino5LOvhGQTJL;Secret=BsB/xD6osgPgc3xycL2aTw/d2/GkYvf/nJTrGGwJk7g=","lastModified":"2020-01-08T18:43:16+00:00","readOnly":false},{"id":"fzFb-l0-s0:6kui2z3OYVDC3Ij0KTOi","name":"Primary
        Read Only","value":"ybaqvdsxOgi3++9hgOYxdwaviJlM1WeV6JQ4RcyQTTE=","connectionString":"Endpoint=https://namingconventiontestu6y6.azconfig.io;Id=fzFb-l0-s0:6kui2z3OYVDC3Ij0KTOi;Secret=ybaqvdsxOgi3++9hgOYxdwaviJlM1WeV6JQ4RcyQTTE=","lastModified":"2020-01-08T18:43:16+00:00","readOnly":true},{"id":"OGPA-l0-s0:pHyGRhYXpTyKz5xgbolU","name":"Secondary
        Read Only","value":"KGxAjT2/ePdVsfog2l3LuOy8mbTgMFZG1gj3rQTGoHM=","connectionString":"Endpoint=https://namingconventiontestu6y6.azconfig.io;Id=OGPA-l0-s0:pHyGRhYXpTyKz5xgbolU;Secret=KGxAjT2/ePdVsfog2l3LuOy8mbTgMFZG1gj3rQTGoHM=","lastModified":"2020-01-08T18:43:16+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "Red", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PSSV+dXJHtWfZZ3+J2RnKkn/UlgoC0hujlJNR+zUJgs=
      x-ms-date:
      - Jan, 08 2020 18:43:49 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/Color?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"65H4qEIWerGO7gIonZ7GkWzxyXx","key":"Color","label":"NamingConventionTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-01-08T18:43:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"65H4qEIWerGO7gIonZ7GkWzxyXx"'
      last-modified:
      - Wed, 08 Jan 2020 18:43:50 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMTY=;sn=945216
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "West US", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - H2xR0rwlr6jxe56bPUxlWA7bbre+if/wg7bWdRGaiTw=
      x-ms-date:
      - Jan, 08 2020 18:43:50 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/Region?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"a4TOvCg7tymQ6xkD8RonDoSzq4x","key":"Region","label":"NamingConventionTest","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-01-08T18:43:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"a4TOvCg7tymQ6xkD8RonDoSzq4x"'
      last-modified:
      - Wed, 08 Jan 2020 18:43:50 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMTc=;sn=945217
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "{\"conditions\": {\"client_filters\": []}, \"enabled\": true,
      \"id\": \"Percentage\", \"description\": null}", "tags": null, "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 5URdXJjpkQ5tTzpyOD/Q6XYp+hRX+kp98eKzCxXlVaA=
      x-ms-date:
      - Jan, 08 2020 18:43:50 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"CY7gvMn3FirOGFAfptTBkNAlKZz","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": true, \"id\": \"Percentage\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-01-08T18:43:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CY7gvMn3FirOGFAfptTBkNAlKZz"'
      last-modified:
      - Wed, 08 Jan 2020 18:43:50 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMTg=;sn=945218
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "{\"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\",
      \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}, \"enabled\": true, \"id\": \"Timestamp\",
      \"description\": null}", "tags": null, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - Z+1wxXpVpUYL26IDT9ebxKbRAlix0ck+bcls/RH[...]
- request:
    body: '{"value": "{\"conditions\": {\"client_filters\": []}, \"enabled\": false,
      \"id\": \"Beta\", \"description\": null}", "tags": null, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1TH1EHcRLsy5s5RZ9DCgehCDapQPDk4F/rLqggsGsBE=
      x-ms-date:
      - Jan, 08 2020 18:43:50 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"ODMEQkCZoK7niBvSKlMXhTBK0V4","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-01-08T18:43:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ODMEQkCZoK7niBvSKlMXhTBK0V4"'
      last-modified:
      - Wed, 08 Jan 2020 18:43:50 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMjA=;sn=945220
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 18:44:11 GMT
    method: GET
    uri: https://namingconventiontestu6y6.azconfig.io/kv?key=*&label=NamingConventionTest&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"ODMEQkCZoK7niBvSKlMXhTBK0V4","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-01-08T18:43:50+00:00"},{"etag":"CY7gvMn3FirOGFAfptTBkNAlKZz","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 18:44:32 GMT
    method: GET
    uri: https://namingconventiontestu6y6.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"ODMEQkCZoK7niBvSKlMXhTBK0V4","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"appli[...]
[...]
- request:
    body: '{"value": "Red", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PSSV+dXJHtWfZZ3+J2RnKkn/UlgoC0hujlJNR+zUJgs=
      x-ms-date:
      - Jan, 08 2020 18:44:54 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/Color?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"qUp5iQ0Yg9avvJQyVJ0JkBXbLOu","key":"Color","label":"YamlTests","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-01-08T18:44:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qUp5iQ0Yg9avvJQyVJ0JkBXbLOu"'
      last-modified:
      - Wed, 08 Jan 2020 18:44:55 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMjk=;sn=945229
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "West US", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - H2xR0rwlr6jxe56bPUxlWA7bbre+if/wg7bWdRGaiTw=
      x-ms-date:
      - Jan, 08 2020 18:44:55 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/Region?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"okkunTYpPNrc7g1iKHsfaZoRgf8","key":"Region","label":"YamlTests","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-01-08T18:44:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"okkunTYpPNrc7g1iKHsfaZoRgf8"'
      last-modified:
      - Wed, 08 Jan 2020 18:44:55 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMzA=;sn=945230
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "{\"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\",
      \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}, \"enabled\": true, \"id\": \"Timestamp\",
      \"description\": null}", "tags": null, "content_type": "application/vnd.microsoft.appconfig.ff+json;c[...]
- request:
    body: '{"value": "{\"conditions\": {\"client_filters\": []}, \"enabled\": false,
      \"id\": \"Beta\", \"description\": null}", "tags": null, "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1TH1EHcRLsy5s5RZ9DCgehCDapQPDk4F/rLqggsGsBE=
      x-ms-date:
      - Jan, 08 2020 18:44:55 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=YamlTests&api-version=1.0
  response:
    body:
      string: '{"etag":"eSMifz8LZBv69SzA2frO2zYTkDC","key":".appconfig.featureflag/Beta","label":"YamlTests","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"conditions\":
        {\"client_filters\": []}, \"enabled\": false, \"id\": \"Beta\", \"description\":
        null}","tags":{},"locked":false,"last_modified":"2020-01-08T18:44:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eSMifz8LZBv69SzA2frO2zYTkDC"'
      last-modified:
      - Wed, 08 Jan 2020 18:44:56 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMzI=;sn=945232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 18:45:16 GMT
    method: GET
    uri: https://namingconventiontestu6y6.azconfig.io/kv?key=*&label=YamlTests&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"eSMifz8LZBv69SzA2frO2zYTkDC","key":".appconfig.featureflag/Beta","label":"YamlTests","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=ut[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 18:45:37 GMT
    method: GET
    uri: https://namingconventiontestu6y6.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=YamlTests&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"eSMifz8LZBv69SzA2frO2zYTkDC","key":".appconfig.featureflag/Beta","label":"YamlTests","content_type":"application/vnd.microsoft.a[...]
[...]
- request:
    body: '{"value": "Filter@3", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - Hus5drV3ND17uQUCIlRaQaaG6cQ7hxMsyNA84EQxU/w=
      x-ms-date:
      - Jan, 08 2020 18:45:59 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B2%5D.Name?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"CTi7zXd76D2RZ03fr1DcqRrRnLi","key":"feature-management.FeatureSample.enabled-for[2].Name","label":"PropertiesTests","content_type":null,"value":"Filter@3","tags":{},"locked":false,"last_modified":"2020-01-08T18:46:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CTi7zXd76D2RZ03fr1DcqRrRnLi"'
      last-modified:
      - Wed, 08 Jan 2020 18:46:00 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMzM=;sn=945233
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - GIGCzRSH5WL1hUgTcqpMnssR9mdjISByNjIoQc0gtmY=
      x-ms-date:
      - Jan, 08 2020 18:45:59 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B3%5D.Parameters.EmptyValue?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"bwD0BN4Ds5TtfkUUlE6MPmcM5C3","key":"feature-management.FeatureSample.enabled-for[3].Parameters.EmptyValue","label":"PropertiesTests","content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-01-08T18:46:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bwD0BN4Ds5TtfkUUlE6MPmcM5C3"'
      last-modified:
      - Wed, 08 Jan 2020 18:46:00 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMzQ=;sn=945234
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "Red", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PSSV+dXJHtWfZZ3+J2RnKkn/UlgoC0hujlJNR+zUJgs=
      x-ms-date:
      - Jan, 08 2020 18:45:59 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/Color?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"Np8fnDxWceMbYyBJlJiptFNanqv","key":"Color","label":"PropertiesTests","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-01-08T18:46:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Np8fnDxWceMbYyBJlJiptFNanqv"'
      last-modified:
      - Wed, 08 Jan 2020 18:46:00 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMzU=;sn=945235
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "?", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - eO9vZgWKqrSe95SmKPTZCQozsA2qCO1WL1vjKk2z3Qc=
      x-ms-date:
      - Jan, 08 2020 18:45:59 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B3%5D.Parameters.dotInFilter.Param?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"tS9QlfruJbaDOT7UG1b1EwdHV2u","key":"feature-management.FeatureSample.enabled-for[3].Parameters.dotInFilter.Param","label":"PropertiesTests","content_type":null,"value":"?","tags":{},"locked":false,"last_modified":"2020-01-08T18:46:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tS9QlfruJbaDOT7UG1b1EwdHV2u"'
      last-modified:
      - Wed, 08 Jan 2020 18:46:00 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMzY=;sn=945236
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "false", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1Jk2JloXmAV8SDBI22cBgky26s436Qb4w7kWPICuIEA=
      x-ms-date:
      - Jan, 08 2020 18:46:00 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/feature-management.FalseFeature?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"M7yLnSNxtHKIfNeqgUQE6zhVTdI","key":"feature-management.FalseFeature","label":"PropertiesTests","content_type":null,"value":"false","tags":{},"locked":false,"last_modified":"2020-01-08T18:46:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"M7yLnSNxtHKIfNeqgUQE6zhVTdI"'
      last-modified:
      - Wed, 08 Jan 2020 18:46:00 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMzc=;sn=945237
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "true", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1xnk77V6YFIjhDb6BdPaq4oRVjrH39MqvCfUklYNDzo=
      x-ms-date:
      - Jan, 08 2020 18:46:00 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/feature-management.TrueFeature?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"tC679lEDsU7MkMPFcMkD1LAJYQk","key":"feature-management.TrueFeature","label":"PropertiesTests","content_type":null,"value":"true","tags":{},"locked":false,"last_modified":"2020-01-08T18:46:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tC679lEDsU7MkMPFcMkD1LAJYQk"'
      last-modified:
      - Wed, 08 Jan 2020 18:46:00 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyMzg=;sn=945238
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"value": "West US", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - H2xR0rwlr6jxe56bPUxlWA7bbre+if/wg7bWdRGaiTw=
      x-ms-date:
      - Jan, 08 2020 18:46:00 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/Region?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"7TnUZNC4ywYL0LDqIhoSm8iRCsy","key":"Region","label":"PropertiesTests","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-01-08T18:46:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7TnUZNC4ywYL0LDqIhoSm8iRCsy"'
      last-modified:
      - Wed, 08 Jan 2020 18:46:01 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyNDI=;sn=945242
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "value1", "tags": null, "content_type": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - qk6FIASbkJDtxBEHmUCtwU4eWALmoM9IsfRNGpVo5m8=
      x-ms-date:
      - Jan, 08 2020 18:46:00 GMT
    method: PUT
    uri: https://namingconventiontestu6y6.azconfig.io/kv/feature-management.FeatureSample.enabled-for%5B0%5D.Parameters.paramforfilter1?label=PropertiesTests&api-version=1.0
  response:
    body:
      string: '{"etag":"OEwCODj8JjMg3Wn6ibZghAXzwOz","key":"feature-management.FeatureSample.enabled-for[0].Parameters.paramforfilter1","label":"PropertiesTests","content_type":null,"value":"value1","tags":{},"locked":false,"last_modified":"2020-01-08T18:46:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OEwCODj8JjMg3Wn6ibZghAXzwOz"'
      last-modified:
      - Wed, 08 Jan 2020 18:46:01 GMT
      sync-token:
      - zAJw6V16=NTotMSM5NDUyNDM=;sn=945243
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 08 2020 18:46:21 GMT
    method: GET
    uri: https://namingconventiontestu6y6.azconfig.io/kv?key=*&label=PropertiesTests&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"Np8fnDxWceMbYyBJlJiptFNanqv","key":"Color","label":"PropertiesTests","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020[...]
