interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-06-08T17:37:22.6550577+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/d5wqTPXzgI0b2KgkaJzBwgndszirryFGtHWG1JnP2mg?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/d5wqTPXzgI0b2KgkaJzBwgndszirryFGtHWG1JnP2mg?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/d5wqTPXzgI0b2KgkaJzBwgndszirryFGtHWG1JnP2mg","name":"d5wqTPXzgI0b2KgkaJzBwgndszirryFGtHWG1JnP2mg","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/d5wqTPXzgI0b2KgkaJzBwgndszirryFGtHWG1JnP2mg?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-06-08T17:37:22+00:00","endpoint":"https://featurefiltertesthhlkgma.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-06-08T17:37:22+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-08T17:37:23+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertesthhlkgma","name":"FeatureFilterTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6500ded7-0000-0100-0000-62a0de530000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtaSaQjqEhVZUHqZaOBZQQIfXNcQyYP45lO4S26nefbRhLP8LdYxQlytHv3HOP8xYIdjYzLvY6GL8FqzhfTuJ0meFZkQfjYGuM1OMwPBJBNuzIhOmR10axHq2PoW5KTRWXhtdCh6NRNSRl%2FxsasapCXxmjqKTsOxpGdDAoR8OyvBuFUtUnXjGlw9%2BcqlrXa9PDUk5qseabRhH3qpB2r3JTK6YfiOToZJ%2Bz9%2B%2BjfhSh%2FhD1B58%2F6T2Xy3rPxL1m6sQpQ4ZsUEsbHXwJ%2FgMlFyEOCzQe5%2BbcGKaNdgAtjBjD1IBOghnEvKEch7jI5osY2GxsG8Jb1lgM%2BbxY%2FnQscJ5gYCo6E64ZsWJwkbuoSrATBFcMI45MOs8sGYju6nAR%2F0wGO33dGtE2fdHH%2FIqAucwNvguvyBrsskWAKWjtt3sELTfbujHyYJX8yPBzMvNRBoxHZ1RK5TsKTvEUX2cFrhhKqOVylZGkU8i7hXJhtcDckbfG5Qb%2BMcPpJAbvrbVy3nrCC5zC3vM76Yrwr3kWwx%2F4vYfiOwvsRe8PjOJyzspXyfI5zmY4nXplsPJ4x18apIWLAGszvx3xY5ZMMEQtBy6IPfgjpwa9EpfIT8ncbxbXY2CR0baGtURwUXFyxXMpY3ewdEilidgcONLkKA8MDSyVTheDl867vzazZcxlc76Kp7Hdmf4PGCw2Nym67VSxIo8LvICl5OYyxeTBB4Al47xV5BE8Ne4%2FGCFV8P7%2BBw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 0b042dfc-acd3-4f8b-822a-982f6f9e13bf
      - ee052169-988f-475e-840f-ecc07b56efef
      - 49797ff6-d8d2-40dc-9a3f-66d1765df0bd
      - 5702c456-fa51-4b9a-b0a8-9d74b4c34a31
      - 0e88b913-12f9-4b72-b6c4-fe6a32b0574d
      - 42823468-3965-4fc4-8997-cde481c3ffe1
      - 0a5fc7dd-9cc4-4a58-bbcd-f1bee1328ee1
      - 5f4aa68e-a9f0-48e8-a875-a85e462a527f
      - 37c36ff6-e401-4a66-ad4f-facdc84b0292
      - d982c3b8-d44b-49b3-ae06-6e2c8603525a
      - 43247b2c-255c-42ca-9a24-ed265edc75b6
      - 45f26a93-d130-41d8-9c98-191edbc460fb
      - 05b41642-60bb-4ccd-a146-0612d469f4b1
      - ccf4348c-5926-47df-9f17-1683a60452d7
      - 28c82173-b2d3-48a0-b0dd-a7cbb4b481fb
      - 286435be-7ba8-42bd-830a-449fb1c64241
      - e4dce68d-d9ce-4f24-a5ca-eedaf39f44dd
      - 66180705-d4e0-46bb-ad19-52d53c50bbed
      - f220aed9-64b2-448b-9ddf-d5d5145825e8
      - dc0269fb-607b-4d18-a4cf-deaa958f2762
      - f8ec470f-a27c-425a-9a71-eb1e66edc105
      - bc6a7800-ba7b-4bdb-a8c6-064f9d4a1b5f
      - abf8ad1b-2a83-471a-a486-b611e0acc7cd
      - 0261c59b-2e26-4690-b012-6a3e21b6db70
      - 663e9357-33e9-40ee-b365-4baf96d371b4
      - a369a542-9374-48db-bde6-bc21a4d43139
      - 88055812-e8ed-4ee6-ad7f-2695f4c12ef2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"pOVP-l0-s0:jf9JA2yD1v93FVXRPS4A","name":"Primary","value":"Dz19lhe9wUBolXlPxGJlfrszBGfEoNglmrFYp3bp/vI=","connectionString":"Endpoint=https://featurefiltertesthhlkgma.azconfig.io;Id=pOVP-l0-s0:jf9JA2yD1v93FVXRPS4A;Secret=Dz19lhe9wUBolXlPxGJlfrszBGfEoNglmrFYp3bp/vI=","lastModified":"2022-06-08T17:37:22+00:00","readOnly":false},{"id":"DUG7-l0-s0:mAUnwRZC8W8XNPldm6gf","name":"Secondary","value":"uBP3LAeOtXCkyr7cMML8+khC/YExW9oygn68/v289vY=","connectionString":"Endpoint=https://featurefiltertesthhlkgma.azconfig.io;Id=DUG7-l0-s0:mAUnwRZC8W8XNPldm6gf;Secret=uBP3LAeOtXCkyr7cMML8+khC/YExW9oygn68/v289vY=","lastModified":"2022-06-08T17:37:22+00:00","readOnly":false},{"id":"kQC9-l0-s0:vnOJhqXHwAeoRdOeaqjw","name":"Primary
        Read Only","value":"jGVXdDTW+1d0dCXrcVDCbm5uK4UTFLK06vSb28If1x4=","connectionString":"Endpoint=https://featurefiltertesthhlkgma.azconfig.io;Id=kQC9-l0-s0:vnOJhqXHwAeoRdOeaqjw;Secret=jGVXdDTW+1d0dCXrcVDCbm5uK4UTFLK06vSb28If1x4=","lastModified":"2022-06-08T17:37:22+00:00","readOnly":true},{"id":"u7IW-l0-s0:wdiAyf8/f/viIEIVMlec","name":"Secondary
        Read Only","value":"/kJLjSt7VktlSRPCxPRwxaRLnu0utFUG0xHXuRfjvv0=","connectionString":"Endpoint=https://featurefiltertesthhlkgma.azconfig.io;Id=u7IW-l0-s0:wdiAyf8/f/viIEIVMlec;Secret=/kJLjSt7VktlSRPCxPRwxaRLnu0utFUG0xHXuRfjvv0=","lastModified":"2022-06-08T17:37:22+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 08 2022 17:37:36 GMT
    method: GET
    uri: https://featurefiltertesthhlkgma.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 9/HUy3oLuI5NMYqluvZVhx9uupGiADRubS+4HiFhVTE=
      x-ms-date:
      - Jun, 08 2022 17:37:36 GMT
    method: PUT
    uri: https://featurefiltertesthhlkgma.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"ebAFL7a0wpWtpfJFhzBnAfvyTQh","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-08T17:37:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ebAFL7a0wpWtpfJFhzBnAfvyTQh"'
      last-modified:
      - Wed, 08 Jun 2022 17:37:37 GMT
      sync-token:
      - zAJw6V16=NToxOSMxNjA5NzgzOA==;sn=16097838
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"ebAFL7a0wpWtpfJFhzBnAfvyTQh"'
      Sync-Token:
      - zAJw6V16=NToxOSMxNjA5NzgzOA==
      x-ms-content-sha256:
      - b2kyK+oH9Z9GGQToYf9CE/YXeF8NbL2YLAwwYzVYjP0=
      x-ms-date:
      - Jun, 08 2022 17:37:39 GMT
    method: PUT
    uri: https://featurefiltertesthhlkgma.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"VgdF4uucQWqD2xluiIll1sIBdm5","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
        \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}","tags":{},"locked":false,"last_modified":"2022-06-08T17:37:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"VgdF4uucQWqD2xluiIll1sIBdm5"'
      last-modified:
      - Wed, 08 Jun 2022 17:37:40 GMT
      sync-token:
      - zAJw6V16=NToxOSMxNjA5NzgzOQ==;sn=16097839
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}, {\"name\":
      \"SecondFilter\", \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\",
      \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\": \"ParamNameIsJsonString\"}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"VgdF4uucQWqD2xluiIll1sIBdm5"'
      Sync-Token:
      - zAJw6V16=NToxOSMxNjA5NzgzOQ==
      x-ms-content-sha256:
      - yReqWOYOGsHQtpV8hT7X5uEkw1LA0u4zzUXo81j3IeY=
      x-ms-date:
      - Jun, 08 2022 17:37:42 GMT
    method: PUT
    uri: https://featurefiltertesthhlkgma.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standar[...]
[...]
