interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      7, "enablePurgeProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-02-23T23:05:30.9438637+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0c45ac9d-89ef-0f34-ec36-b2d26cd6b3a9?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0c45ac9d-89ef-0f34-ec36-b2d26cd6b3a9?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0c45ac9d-89ef-0f34-ec36-b2d26cd6b3a9","name":"0c45ac9d-89ef-0f34-ec36-b2d26cd6b3a9","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0c45ac9d-89ef-0f34-ec36-b2d26cd6b3a9?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-02-23T23:05:31+00:00","endpoint":"https://featurefiltertestu75fhcj.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-02-23T23:05:31+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-23T23:05:32+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertestu75fhcj","name":"FeatureFilterTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ca00262e-0000-0100-0000-6216bdbb0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"FGBe-l0-s0:YoEQve39LonRPxVsccAp","name":"Primary","value":"0o+z/7HAFyyBA1S0JzLNXqF57hJlbI/RFkPwVOzaGYs=","connectionString":"Endpoint=https://featurefiltertestu75fhcj.azconfig.io;Id=FGBe-l0-s0:YoEQve39LonRPxVsccAp;Secret=0o+z/7HAFyyBA1S0JzLNXqF57hJlbI/RFkPwVOzaGYs=","lastModified":"2022-02-23T23:05:30+00:00","readOnly":false},{"id":"J4re-l0-s0:OY+XUUh/ea0peBKW1djS","name":"Secondary","value":"lVgWRZ4PR8+BoQWESCioL5zTKcK6RpGhsrXB4/4rHoc=","connectionString":"Endpoint=https://featurefiltertestu75fhcj.azconfig.io;Id=J4re-l0-s0:OY+XUUh/ea0peBKW1djS;Secret=lVgWRZ4PR8+BoQWESCioL5zTKcK6RpGhsrXB4/4rHoc=","lastModified":"2022-02-23T23:05:30+00:00","readOnly":false},{"id":"Bpld-l0-s0:urOIPoZx8H9mO3QuR3n2","name":"Primary
        Read Only","value":"2aFfp9tWmbecNHQy84LL6UBbmsSdZAlepzLdIbFgug8=","connectionString":"Endpoint=https://featurefiltertestu75fhcj.azconfig.io;Id=Bpld-l0-s0:urOIPoZx8H9mO3QuR3n2;Secret=2aFfp9tWmbecNHQy84LL6UBbmsSdZAlepzLdIbFgug8=","lastModified":"2022-02-23T23:05:30+00:00","readOnly":true},{"id":"l5v+-l0-s0:in726V+IHatB20T0ftJ7","name":"Secondary
        Read Only","value":"wKBsJHU1wW3EJnOX5+M7PxxPW3t0WxYUFM8KyKqjdv0=","connectionString":"Endpoint=https://featurefiltertestu75fhcj.azconfig.io;Id=l5v+-l0-s0:in726V+IHatB20T0ftJ7;Secret=wKBsJHU1wW3EJnOX5+M7PxxPW3t0WxYUFM8KyKqjdv0=","lastModified":"2022-02-23T23:05:30+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 23 2022 23:05:43 GMT
    method: GET
    uri: https://featurefiltertestu75fhcj.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 9/HUy3oLuI5NMYqluvZVhx9uupGiADRubS+4HiFhVTE=
      x-ms-date:
      - Feb, 23 2022 23:05:44 GMT
    method: PUT
    uri: https://featurefiltertestu75fhcj.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"Wm6LvNT5REwsvajWkiuK3oF2bC7","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-02-23T23:05:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Wm6LvNT5REwsvajWkiuK3oF2bC7"'
      last-modified:
      - Wed, 23 Feb 2022 23:05:44 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDYwNzYxNg==;sn=10607616
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"Wm6LvNT5REwsvajWkiuK3oF2bC7"'
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDYwNzYxNg==
      x-ms-content-sha256:
      - b2kyK+oH9Z9GGQToYf9CE/YXeF8NbL2YLAwwYzVYjP0=
      x-ms-date:
      - Feb, 23 2022 23:05:45 GMT
    method: PUT
    uri: https://featurefiltertestu75fhcj.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"eFwceAjwOuCgjo3i8EvhQ0c2Q4E","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
        \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}","tags":{},"locked":false,"last_modified":"2022-02-23T23:05:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eFwceAjwOuCgjo3i8EvhQ0c2Q4E"'
      last-modified:
      - Wed, 23 Feb 2022 23:05:46 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDYwNzYxNw==;sn=10607617
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}, {\"name\":
      \"SecondFilter\", \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\",
      \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\": \"ParamNameIsJsonString\"}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"eFwceAjwOuCgjo3i8EvhQ0c2Q4E"'
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDYwNzYxNw==
      x-ms-content-sha256:
      - yReqWOYOGsHQtpV8hT7X5uEkw1LA0u4zzUXo81j3IeY=
      x-ms-date:
      - Feb, 23 2022 23:05:48 GMT
    method: PUT
    uri: https://featurefiltertestu75fhcj.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standar[...]
[...]
