interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-05-04T00:39:18.3929378+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/jiARk5OKg5s4tlir1N-pjKgbZ-ExApIukIlAXpPRZwg?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/jiARk5OKg5s4tlir1N-pjKgbZ-ExApIukIlAXpPRZwg?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/jiARk5OKg5s4tlir1N-pjKgbZ-ExApIukIlAXpPRZwg","name":"jiARk5OKg5s4tlir1N-pjKgbZ-ExApIukIlAXpPRZwg","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/jiARk5OKg5s4tlir1N-pjKgbZ-ExApIukIlAXpPRZwg?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-05-04T00:39:18+00:00","endpoint":"https://kvtestqifbznblkfaxjteebr.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-05-04T00:39:18+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-04T00:39:19+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestqifbznblkfaxjteebr","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"da030b28-0000-0100-0000-6452feb70000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3VndbtowFH6XaNpVTYCOoSFVkwepxkoDS4jQeuc4JpgfJ7Mdglr13XdsOsb2BmcSNwgF5dP3d479EihxsjOpdiYYvQSrKF2Oo3iZ0FmWBqNgY21tRmF4YIqV4iCU7bDnRosOrw6haXLDtaytrJQJh8NiwPLuRzIURUE%2BCMFJzsUnMujzXi8fDvL8dhjWujrKQmgTPkquK1OtbYfW9bhSa1k2mrm/Cvn1t9RWWpjPrJbkCM/B73f9bv%2BWdOHTe/O7GS9rHZC3Rmhj5ILYllJWt6Y4Cb4D5CcgThasPFxak6NFcYaRyCQEVGcGMhRCUuEF5TjIcqS%2BSLC5Q270ZW1e6lKz0Yf6Ejn2fKr44SmU4oLzbXTjWAAhmapi6wpdYDwghGsATDxPAFmEKrsmhclHJTswcsMFyO8ZWrLGlK71PLvj7tHXCEa6BHydxL3cbFyLS4IYxdh51ZEhqOFd/dEtNJuqsbWe0DyJaFP0xlCr1yzkms/c9GYTuibY/BKjDMOvLzBmMYTzB3JpQIsOLv%2BMkE6w98nNB5H6LW11k5b3%2BiCxrjnla2vyId5EuE3/M6T4mcv3HXvF2B13ht9o9D7ZDqmHhmuPN7CwsJg%2BScuBMgzcyl21ZT4vHMBBFXph8tVNIkg0fx5C1JuTOvCLF1Nl09RMqPxxE1lWLHs2x6A%2BU6XNMHNinfMTz/D%2BAxAOMFczGKk8gkAzCzmTmG4qan3frL0YzLiCOPMJRi0yor%2BQGx5VbUA43J%2BhFtarHHS%2BhcMsgX54ntA82foR7gbX4Csz4vx72uVKKMLXAVp2EEaVqwZnIn543BQmYuuLO3jA%2BPuJRgrgtebgOkDLUstSmZF4W%2BRgBeaPAavvwA%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 9dccd019-bd11-448e-8e0b-5654f6e50002
      - 243110b7-72ca-4b63-9693-73484a1d17fb
      - 8bb3c9e6-c3c5-44a5-b917-8b46f040dca6
      - 65a4e29e-2f73-4ee5-92b8-d323d633f947
      - 5c5e572f-b92c-4214-ad23-b18ebd110b8c
      - 6763d15c-59d7-4f72-a5aa-d27886d1c81d
      - 0ed4c57e-e86b-404c-a9c3-9db29a8ecce9
      - 859a00f4-e7a9-4f50-9233-37a50c671d4c
      - 7498158b-d538-4fa4-9c70-445cf33db608
      - 973e6ab2-5835-4ab7-864e-7ded447f5b19
      - cd0fd6d3-583c-4dcd-abe7-39791495c448
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"UyBw-l0-s0:r9zjqD7gI6/J5M8q8JJT","name":"Primary","value":"3m5y5/wpVbE04aJ/T0gF9KZflHiqX8Vig2j204Elr/U=","connectionString":"Endpoint=https://kvtestqifbznblkfaxjteebr.azconfig.io;Id=UyBw-l0-s0:r9zjqD7gI6/J5M8q8JJT;Secret=3m5y5/wpVbE04aJ/T0gF9KZflHiqX8Vig2j204Elr/U=","lastModified":"2023-05-04T00:39:18+00:00","readOnly":false},{"id":"a3BU-l0-s0:AuOAiSi99hUh1Gd0FmSq","name":"Secondary","value":"iJyh1P+aI7f0sLM+1qP/o+o5M4xUS79VhvwLDQ5VMw0=","connectionString":"Endpoint=https://kvtestqifbznblkfaxjteebr.azconfig.io;Id=a3BU-l0-s0:AuOAiSi99hUh1Gd0FmSq;Secret=iJyh1P+aI7f0sLM+1qP/o+o5M4xUS79VhvwLDQ5VMw0=","lastModified":"2023-05-04T00:39:18+00:00","readOnly":false},{"id":"zbZ7-l0-s0:zVPrdDk3OpUQqUwnrfY1","name":"Primary
        Read Only","value":"LB4UjspHyZ3s0nZnE0DacibIhNrD3JRDIZBP68DHYBU=","connectionString":"Endpoint=https://kvtestqifbznblkfaxjteebr.azconfig.io;Id=zbZ7-l0-s0:zVPrdDk3OpUQqUwnrfY1;Secret=LB4UjspHyZ3s0nZnE0DacibIhNrD3JRDIZBP68DHYBU=","lastModified":"2023-05-04T00:39:18+00:00","readOnly":true},{"id":"XJ6j-l0-s0:DONvRVI0pbVXk31ZuPut","name":"Secondary
        Read Only","value":"yFP9VTndHbd7hsUJUy6VrPlgE+HjHdwazqyUjvnjPZ0=","connectionString":"Endpoint=https://kvtestqifbznblkfaxjteebr.azconfig.io;Id=XJ6j-l0-s0:DONvRVI0pbVXk31ZuPut;Secret=yFP9VTndHbd7hsUJUy6VrPlgE+HjHdwazqyUjvnjPZ0=","lastModified":"2023-05-04T00:39:18+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:39:34 GMT
    method: GET
    uri: https://kvtestqifbznblkfaxjteebr.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjE5Ng==;sn=40806196
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM0MDgwNjE5Ng==
      x-ms-content-sha256:
      - 8iLdcWDtWLJ8PYg7E6yLqnb7ejltzQCh53RwNMv7mKs=
      x-ms-date:
      - May, 04 2023 00:39:34 GMT
    method: PUT
    uri: https://kvtestqifbznblkfaxjteebr.azconfig.io/kv/Language?api-version=1.0
  response:
    body:
      string: '{"etag":"UmkSOK2rIEUzyVs9DOzkMPQVhu-bl_UZ7X3XmImNgbk","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"UmkSOK2rIEUzyVs9DOzkMPQVhu-bl_UZ7X3XmImNgbk"'
      last-modified:
      - Thu, 04 May 2023 00:39:35 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjE5Nw==;sn=40806197
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM0MDgwNjE5Nw==
      x-ms-content-sha256:
      - 1FHvbxOPu6FW3+2pQFjxMT+epjbFMPYBGmgoojwEo4g=
      x-ms-date:
      - May, 04 2023 00:39:34 GMT
    method: PUT
    uri: https://kvtestqifbznblkfaxjteebr.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"5WoCjhmlvgyZzE_EwQP_mKKJpXWnznZtfLWyGl6UsyY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5WoCjhmlvgyZzE_EwQP_mKKJpXWnznZtfLWyGl6UsyY"'
      last-modified:
      - Thu, 04 May 2023 00:39:35 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjE5OA==;sn=40806198
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:39:37 GMT
    method: GET
    uri: https://kvtestqifbznblkfaxjteebr.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"5WoCjhmlvgyZzE_EwQP_mKKJpXWnznZtfLWyGl6UsyY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:35+00:00"},{"etag":"UmkSOK2rIEUzyVs9DOzkMPQVhu-bl_UZ7X3XmImNgbk","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:35+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjE5OA==;sn=40806198
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:39:40 GMT
    method: GET
    uri: https://kvtestqifbznblkfaxjteebr.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"5WoCjhmlvgyZzE_EwQP_mKKJpXWnznZtfLWyGl6UsyY","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:35+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjE5OA==;sn=40806198
    status:
      code: 200
      message: OK
version: 1
