interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-08-16T22:32:34.5074877+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xL70dxUc1-0KzQhGNxISdu_JF1_kox9amYnsizaWUwc?api-version=2023-03-01&t=638594443546260289&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xL70dxUc1-0KzQhGNxISdu_JF1_kox9amYnsizaWUwc?api-version=2023-03-01&t=638594443546260289&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-08-16T22:32:34+00:00","endpoint":"https://kvsetimporttesthwbukdqjo.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2024-08-16T22:32:34+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-08-16T22:32:34+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttesthwbukdqjo","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1e00f1e5-0000-0100-0000-66bfd3840000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest","name":"garywangtest","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},"privateLinkServiceConnectionState":{"status":"Pending","description":"ms","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-28T11:10:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZrdbttGEIXfRSh6tWvZcl2jBoJiazMNY1tySQlucrei1jL1Q7K7pGU76Lt3ZvkjynYf4AC5SQIHPDkzs2d2vx%2BDzDyXN2m2doOLH4P7IJ5eBuNppG5m8eBi8FiWhbsYDrc600uzNVl5pF8ra46SfDt01dwlNi3KNM/c8Px8cabnx7/Kc7NYyF%2BMSeQ8Mb/Js1FycjI/P5vPT8%2BHhc2f0oWxbnibJjZ3%2BUN5pIriMs8e0mVlNf9Tw6T/u7jMrXG/6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3Y/bSsQwEIbfJYhXm6btWsMWFininb2x6wPkMBtDyYFJWlcX391Yb3wGYWCY/%2Bcb%2BK7EwyU/Wz8n0l/J0zCdXifSk7ecY%2BoZc8ILAw58rsTnglCp4FhaZFJoY7bBJ8a57oSs7ykHrekdgKJSwYF2rWoayTsp95xFDKvVgImNVmFI4ZyrIcbH4M/WLCh%2BXjH195pyQEgPIlq6Fq70x7Zu97Qu09zepNnGU5jBHz%2BWd6DWxYCZwmVbIkaaAFergHztiEA3GINgRAa9QcVweBnJbrMfBc6AJfq17/%2BR%2Bzc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 47375f29-b346-4d42-920b-cb95a91d249f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"ZN32","name":"Primary","value":"FGKr1E6pY742gxauFLgxmkpG6GbvGcongtsmw0cnvTpDatd84sPsJQQJ99AHACYeBjFAArohAAACAZACK2FE","connectionString":"Endpoint=https://kvsetimporttesthwbukdqjo.azconfig.io;Id=ZN32;Secret=FGKr1E6pY742gxauFLgxmkpG6GbvGcongtsmw0cnvTpDatd84sPsJQQJ99AHACYeBjFAArohAAACAZACK2FE","lastModified":"2024-08-16T22:32:34+00:00","readOnly":false},{"id":"8TnU","name":"Secondary","value":"DduGj5vHMI8lzTGNcwnW257wuVo1Yrc24kSBieIUFNxPGxPMhio1JQQJ99AHACYeBjFAArohAAACAZACLqLU","connectionString":"Endpoint=https://kvsetimporttesthwbukdqjo.azconfig.io;Id=8TnU;Secret=DduGj5vHMI8lzTGNcwnW257wuVo1Yrc24kSBieIUFNxPGxPMhio1JQQJ99AHACYeBjFAArohAAACAZACLqLU","lastModified":"2024-08-16T22:32:34+00:00","readOnly":false},{"id":"y0Xu","name":"Primary
        Read Only","value":"EYEtKhyhabyCQrgJ8yqOPtWdWfMvXcoOtYuD4rWFFfvkbNdb8xT1JQQJ99AHACYeBjFAArohAAABAZACBKRD","connectionString":"Endpoint=https://kvsetimporttesthwbukdqjo.azconfig.io;Id=y0Xu;Secret=EYEtKhyhabyCQrgJ8yqOPtWdWfMvXcoOtYuD4rWFFfvkbNdb8xT1JQQJ99AHACYeBjFAArohAAABAZACBKRD","lastModified":"2024-08-16T22:32:34+00:00","readOnly":true},{"id":"eqbY","name":"Secondary
        Read Only","value":"98JGBdZ8Z2uvxdTdJ7lSaGohE3U0cQ9zWT5aIElnOrCNRIPnRwMqJQQJ99AHACYeBjFAArohAAABAZACZAru","connectionString":"Endpoint=https://kvsetimporttesthwbukdqjo.azconfig.io;Id=eqbY;Secret=98JGBdZ8Z2uvxdTdJ7lSaGohE3U0cQ9zWT5aIElnOrCNRIPnRwMqJQQJ99AHACYeBjFAArohAAABAZACZAru","lastModified":"2024-08-16T22:32:34+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 16 2024 22:33:22.465866 GMT
    method: GET
    uri: https://kvsetimporttesthwbukdqjo.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=ODoxOSM4OTE4MTU5;sn=8918159
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=ODoxOSM4OTE4MTU5
      x-ms-content-sha256:
      - vooIQS2Lc83p3cZJS7Qp5TL+wPNgfiHeUrZC71Varzs=
      x-ms-date:
      - Aug, 16 2024 22:33:22.837214 GMT
    method: PUT
    uri: https://kvsetimporttesthwbukdqjo.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"OCBJHdRyCSZOU_Fqb9GxfUPN17OaNOQfSlzat0h85lY","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-08-16T22:33:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OCBJHdRyCSZOU_Fqb9GxfUPN17OaNOQfSlzat0h85lY"'
      last-modified:
      - Fri, 16 Aug 2024 22:33:23 GMT
      sync-token:
      - zAJw6V16=ODoxOSM4OTE4MTYw;sn=8918160
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"bool-feature\", \"description\": \"It is a boolean feature\",
      \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\":
      null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=ODoxOSM4OTE4MTYw
      x-ms-content-sha256:
      - UhxUnKbn[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=ODoxOSM4OTE4MTYx
      x-ms-content-sha256:
      - Z9vdOmW9IIdhx2BgTvHER4NiDLOkF6QL50jtUUXyuos=
      x-ms-date:
      - Aug, 16 2024 22:33:23.073401 GMT
    method: PUT
    uri: https://kvsetimporttesthwbukdqjo.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=2023-11-01
  response:
    body:
      string: [...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=ODoxOSM4OTE4MTYy
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Aug, 16 2024 22:33:23.183828 GMT
    method: PUT
    uri: https://kvsetimporttesthwbukdqjo.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"7Ar6ZqxAYQbRxFYEwm9DmelbSUXAb9aAiH-qXiwZbMM","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2024-08-16T22:33:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7Ar6ZqxAYQbRxFYEwm9DmelbSUXAb9aAiH-qXiwZbMM"'
      last-modified:
      - Fri, 16 Aug 2024 22:33:23 GMT
      sync-token:
      - zAJw6V16=ODoxOSM4OTE4MTYz;sn=8918163
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=ODoxOSM4OTE4MTYz
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Aug, 16 2024 22:33:23.309698 GMT
    method: PUT
    uri: https://kvsetimporttesthwbukdqjo.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"lC1aDsPANFdxl0qd3RXbPfsUN4964gLpBySxQ879s1U","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-08-16T22:33:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lC1aDsPANFdxl0qd3RXbPfsUN4964gLpBySxQ879s1U"'
      last-modified:
      - Fri, 16 Aug 2024 22:33:23 GMT
      sync-token:
      - zAJw6V16=ODoxOSM4OTE4MTY0;sn=8918164
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=ODoxOSM4OTE4MTY0
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Aug, 16 2024 22:33:23.421174 GMT
    method: PUT
    uri: https://kvsetimporttesthwbukdqjo.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"eWSJ4hfMDiSMTFoeM0jzoyKr1H0jU-Y9z_JYv4xRs_Y","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-08-16T22:33:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eWSJ4hfMDiSMTFoeM0jzoyKr1H0jU-Y9z_JYv4xRs_Y"'
      last-modified:
      - Fri, 16 Aug 2024 22:33:24 GMT
      sync-token:
      - zAJw6V16=ODoxOSM4OTE4MTY1;sn=8918165
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=ODoxOSM4OTE4MTY1
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Aug, 16 2024 22:33:23.547312 GMT
    method: PUT
    uri: https://kvsetimporttesthwbukdqjo.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"sdW2hyvnJXi_PbCEcXis2UR9emoHegQWZWvOhFWpDq8","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-08-16T22:33:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sdW2hyvnJXi_PbCEcXis2UR9emoHegQWZWvOhFWpDq8"'
      last-modified:
      - Fri, 16 Aug 2024 22:33:24 GMT
      sync-token:
      - zAJw6V16=ODoxOSM4OTE4MTY2;sn=8918166
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=ODoxOSM4OTE4MTY2
      x-ms-content-sha256:
      - KG6foKmNh5fImJNssBeIcpD6vIlOFOyqNrEtrNcI1x4=
      x-ms-date:
      - Aug, 16 2024 22:33:23.673174 GMT
    method: PUT
    uri: https://kvsetimporttesthwbukdqjo.azconfig.io/kv/pratik-top-secret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"xECIxlCeIEaw2yzJeMOWjqcLaJRamywuHVhHXRx4YOU","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2024-08-16T22:33:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"xECIxlCeIEaw2yzJeMOWjqcLaJRamywuHVhHXRx4YOU"'
      last-modified:
      - Fri, 16 Aug 2024 22:33:24 GMT
      sync-token:
      - zAJw6V16=ODoxOSM4OTE4MTY3;sn=8918167
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=ODoxOSM4OTE4MTY3
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Aug, 16 2024 22:33:23.798389 GMT
    method: PUT
    uri: https://kvsetimporttesthwbukdqjo.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"oCIl7XSWVixOdW3t28tiq4MntAc3mTtfig-RLfdffhw","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2024-08-16T22:33:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oCIl7XSWVixOdW3t28tiq4MntAc3mTtfig-RLfdffhw"'
      last-modified:
      - Fri, 16 Aug 2024 22:33:24 GMT
      sync-token:
      - zAJw6V16=ODoxOSM4OTE4MTY4;sn=8918168
    status:
      code: 200
      message: OK
[...]
