interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      7, "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-03-03T17:49:45.7412019+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/044a45ff-f725-f14c-037b-2b4646c11ac5?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/044a45ff-f725-f14c-037b-2b4646c11ac5?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/044a45ff-f725-f14c-037b-2b4646c11ac5","name":"044a45ff-f725-f14c-037b-2b4646c11ac5","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/044a45ff-f725-f14c-037b-2b4646c11ac5?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-03-03T17:49:45+00:00","endpoint":"https://kvsetimporttest67fz5gnji.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-03T17:49:45+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-03T17:49:46+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttest67fz5gnji","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"62006bc5-0000-0100-0000-6220ffba0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview&%24skiptoken=3ZjRjtowFET%2FJar6VBOSLUVFWlUuuGpaGlBChLRvjnMBw%2BJYtkNoV%2FvvtQPapp%2FgPEZRIh3N3LljvwQCrmbJxUkHs5dgS%2FLNnKSbDC%2BLPJgFB2OknoXhmQq6hzMIM6J%2FGgUjVp9D3ZSaKS4Nr4UOp9NqQsvxJzSFqkIfARgqGXxGk5hFUTmdlOXDNJSqvvAKlA5%2FcaZqXe%2FMCEs5r8WO7xtF3a9C1n%2FKTa1Af6GSo4v9zr5%2FjMdxhKIxGkdIKrhwaN%2B%2F0ycuN%2FUJxKMGdeEMkKF71LJGBx%2BCARHdgJxMvupzba6NAW20E9aKQ7DfLOgiwCDojOZ0IUW2WhNPZ%2BfQUN5CY2XJV8Xmu9MG5wn2lKaXBBqohcJF7qItwQ7MfyigTql0lVmlfHZdTyfxz3zDSG23hrRNbfR%2F3sWeus8FhAu72BrvtoU8JWktQydJy82hbox8tkRfM%2FyULLvo81Sf3iiVqus%2BOMULfJ8l%2F6EYZVanO06SLoawmxgXlsnvXfvW6FwwfMtwOieD8dxOOc%2F9wGucDqM3HKUr3j9XGRlOMJw6kbouNIzi0B1gxe28l2%2BTzRPJljhddIR%2B5viR%2F26QFi4q3Dwlqy6%2FXYvwk0fbMtRSwUXF6R3qVokePOXh6I7R60H%2BJt7xmQtq746QLUIu7%2FItWRC7l7rbLT8VekPSba8GFTkp8NpPIslvpkORVch5rchjf2nc3RalVfD6%2Bhc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - bc749dad-20a3-4151-98f7-e67eb7a6504f
      - fa7e1b1b-1d65-470b-a034-39e6d8cb6630
      - f6e3a835-6238-4c3c-97e0-10c408723ad1
      - db600910-7184-4ef1-a406-8b8db666618b
      - 3d9d4887-3ceb-4faa-ae18-01a240d047cf
      - c21d5895-7d99-4265-b8d8-c280d14c2f1e
      - 2e7d2b05-d8c9-4b26-bdc0-e0fa6968fa7d
      - af37d0ac-f19d-4df6-ab46-10fe12355492
      - 5c623960-fd86-4f29-ace3-b543cf18535a
      - 4731eac1-fd72-4ba0-a920-6f38fb52f423
      - e03f4412-eb64-405e-b770-02315dda83c2
      - 02094644-d9b4-48e1-ad37-bbce6698a4ed
      - 8917b74f-5172-4396-a411-900994ce53ac
      - 05120926-7ca3-4b8d-a378-b466e11b264a
      - 3f407279-fa43-4423-8d9f-1212e1d29186
      - 9eecc70d-677a-4bfb-b1d1-48deaf58dda6
      - cbdb28bd-c510-4544-9373-1fa086820af0
      - 1e817c15-fb8c-4b93-9cb4-23f98b77ca3b
      - be01d720-c8f1-4490-bc05-9d75476d009f
      - e64e8379-aeff-43e5-a864-d3f748c782c6
      - 080ed60b-f6c6-4ff4-a402-de40d5b80834
      - 9e06b16f-2412-4c65-83d1-5d7326f52cd5
      - 8f4a124a-c4dd-4665-839d-1b117a7e3be3
      - 99361ba6-5d00-4957-9515-b9658f730457
      - c3e81054-c622-4a4e-b508-a6e4e164f8b5
      - 011c93d5-85ad-4a07-9010-48ba0a033669
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"hNRk-l0-s0:vOlfCXy2zmClKrkXd1Bt","name":"Primary","value":"s4Xk9yTH6YgdFIS59XiH5uAM3nU2bHUN7JaeruK/U8Y=","connectionString":"Endpoint=https://kvsetimporttest67fz5gnji.azconfig.io;Id=hNRk-l0-s0:vOlfCXy2zmClKrkXd1Bt;Secret=s4Xk9yTH6YgdFIS59XiH5uAM3nU2bHUN7JaeruK/U8Y=","lastModified":"2022-03-03T17:49:45+00:00","readOnly":false},{"id":"L0RC-l0-s0:HDzB6Rp9BHAwMs9WiUCJ","name":"Secondary","value":"LACnW9UwnuEMU0VzP4XRZrJlcdCsG5HfN8tRYQzDHpw=","connectionString":"Endpoint=https://kvsetimporttest67fz5gnji.azconfig.io;Id=L0RC-l0-s0:HDzB6Rp9BHAwMs9WiUCJ;Secret=LACnW9UwnuEMU0VzP4XRZrJlcdCsG5HfN8tRYQzDHpw=","lastModified":"2022-03-03T17:49:45+00:00","readOnly":false},{"id":"qozA-l0-s0:DmUYz0krZWbPSLtDB4Oh","name":"Primary
        Read Only","value":"ZuXn3re80ZEvACOqzPjlxFYmfRO9py3JsHwNxtyELMY=","connectionString":"Endpoint=https://kvsetimporttest67fz5gnji.azconfig.io;Id=qozA-l0-s0:DmUYz0krZWbPSLtDB4Oh;Secret=ZuXn3re80ZEvACOqzPjlxFYmfRO9py3JsHwNxtyELMY=","lastModified":"2022-03-03T17:49:45+00:00","readOnly":true},{"id":"Oc78-l0-s0:zUHyCxJMY4HTcggAcwhq","name":"Secondary
        Read Only","value":"Ko8GJSnOYG2uZ8udgTgm4fSgrNDCMX2+tMEqUQKGUjw=","connectionString":"Endpoint=https://kvsetimporttest67fz5gnji.azconfig.io;Id=Oc78-l0-s0:zUHyCxJMY4HTcggAcwhq;Secret=Ko8GJSnOYG2uZ8udgTgm4fSgrNDCMX2+tMEqUQKGUjw=","lastModified":"2022-03-03T17:49:45+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Mar, 03 2022 17:49:59 GMT
    method: PUT
    uri: https://kvsetimporttest67fz5gnji.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"vuXzLr8vgMxKRvVB2qHHkcQVkY7","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vuXzLr8vgMxKRvVB2qHHkcQVkY7"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:00 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzE5Ng==;sn=10747196
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc0NzE5Ng==
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Mar, 03 2022 17:50:00 GMT
    method: PUT
    uri: https://kvsetimporttest67fz5gnji.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"vJLxuPKbVQqKEQZURUN2KwGgNQ3","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vJLxuPKbVQqKEQZURUN2KwGgNQ3"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:00 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzE5Nw==;sn=10747197
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc0NzE5Nw==
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Mar, 03 2022 17:50:00 GMT
    method: PUT
    uri: https://kvsetimporttest67fz5gnji.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"1RIQfuLq7klEq6iAcyh7gPt0jwy","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1RIQfuLq7klEq6iAcyh7gPt0jwy"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:00 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzE5OA==;sn=10747198
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc0NzE5OA==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Mar, 03 2022 17:50:00 GMT
    method: PUT
    uri: https://kvsetimporttest67fz5gnji.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"ZJAoHCXByzvjOqwsBBfw2wFwkW6","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2022-03-03T17:50:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZJAoHCXByzvjOqwsBBfw2wFwkW6"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:00 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzE5OQ==;sn=10747199
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc0NzE5OQ==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Mar, 03 2022 17:50:00 GMT
    method: PUT
    uri: https://kvsetimporttest67fz5gnji.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"E9iKrCHrkEKVQtrMeJAywn1g2IS","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-03-03T17:50:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"E9iKrCHrkEKVQtrMeJAywn1g2IS"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:00 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzIwMA==;sn=10747200
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc0NzIwMA==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Mar, 03 2022 17:50:00 GMT
    method: PUT
    uri: https://kvsetimporttest67fz5gnji.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"ypvhHTig90B06ldkSXf1WZPJuQm","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-03-03T17:50:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ypvhHTig90B06ldkSXf1WZPJuQm"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:00 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzIwMQ==;sn=10747201
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc0NzIwMQ==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Mar, 03 2022 17:50:00 GMT
    method: PUT
    uri: https://kvsetimporttest67fz5gnji.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"9VuvOyY6mfzCGnbuXd5OCvR7Pgb","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-03-03T17:50:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9VuvOyY6mfzCGnbuXd5OCvR7Pgb"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:01 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzIwMg==;sn=10747202
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc0NzIwMg==
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Mar, 03 2022 17:50:00 GMT
    method: PUT
    uri: https://kvsetimporttest67fz5gnji.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"o1iCehRzkV1W8lJduQ9uDMYdU4g","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"o1iCehRzkV1W8lJduQ9uDMYdU4g"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:01 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzIwMw==;sn=10747203
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMxMDc0NzIwMw==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Mar, 03 2022 17:50:00 GMT
    method: PUT
    uri: https://kvsetimporttest67fz5gnji.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"9hvpOYftOsHVKUm4o0Z38NWVtTa","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2022-03-03T17:50:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9hvpOYftOsHVKUm4o0Z38NWVtTa"'
      last-modified:
      - Thu, 03 Mar 2022 17:50:01 GMT
      sync-token:
      - zAJw6V16=MzoxOSMxMDc0NzIwNA==;sn=10747204
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 03 2022 17:50:03 GMT
    method: GET
    uri: https://kvsetimporttest67fz5gnji.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"vuXzLr8vgMxKRvVB2qHHkcQVkY7","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-03-03T17:50:00+00:00"},{"etag":"vJLxuPKbVQqKEQZURUN2KwGgNQ3","key":"[...]
[...]
