interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-10-07T19:57:02.3173453+00:00","endpoint":"https://CredentialTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/86f503f8-f237-11ef-0818-96626dffd9b2?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/86f503f8-f237-11ef-0818-96626dffd9b2?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/86f503f8-f237-11ef-0818-96626dffd9b2","name":"86f503f8-f237-11ef-0818-96626dffd9b2","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/86f503f8-f237-11ef-0818-96626dffd9b2?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-10-07T19:57:08+00:00","endpoint":"https://credentialtest7egpq5spdb.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/credentialtest7egpq5spdb","name":"CredentialTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"36006ff8-0000-0100-0000-5d9b98940000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"M7Gh-l0-s0:skKlk03Nu6vLvAxIN341","name":"Primary","value":"eWQb67Z5nYNa/OMxRMe3/5812bm6OwWkXC23DZSZd6w=","connectionString":"Endpoint=https://credentialtest7egpq5spdb.azconfig.io;Id=M7Gh-l0-s0:skKlk03Nu6vLvAxIN341;Secret=eWQb67Z5nYNa/OMxRMe3/5812bm6OwWkXC23DZSZd6w=","lastModified":"2019-10-07T19:57:02+00:00","readOnly":false},{"id":"EPLG-l0-s0:I00+uVT+i2de9Nz828NW","name":"Secondary","value":"IMOfNJVrKzXFVE1jg3o02r8ahu289OQAJ3iaSzOhYyc=","connectionString":"Endpoint=https://credentialtest7egpq5spdb.azconfig.io;Id=EPLG-l0-s0:I00+uVT+i2de9Nz828NW;Secret=IMOfNJVrKzXFVE1jg3o02r8ahu289OQAJ3iaSzOhYyc=","lastModified":"2019-10-07T19:57:02+00:00","readOnly":false},{"id":"HnLz-l0-s0:9tFqn/xKxTHeiTryI5FG","name":"Primary
        Read Only","value":"ck5KlEzePXHQPS6E43U62UMApxQby+vija4vFOvOQho=","connectionString":"Endpoint=https://credentialtest7egpq5spdb.azconfig.io;Id=HnLz-l0-s0:9tFqn/xKxTHeiTryI5FG;Secret=ck5KlEzePXHQPS6E43U62UMApxQby+vija4vFOvOQho=","lastModified":"2019-10-07T19:57:02+00:00","readOnly":true},{"id":"gO+t-l0-s0:mzICMmUG8eThb1ttycvk","name":"Secondary
        Read Only","value":"sOyYfyCI6dha2PUD+XFSv2tMdl/S4+9yJHO5kuypaNo=","connectionString":"Endpoint=https://credentialtest7egpq5spdb.azconfig.io;Id=gO+t-l0-s0:mzICMmUG8eThb1ttycvk;Secret=sOyYfyCI6dha2PUD+XFSv2tMdl/S4+9yJHO5kuypaNo=","lastModified":"2019-10-07T19:57:02+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "M7Gh-l0-s0:skKlk03Nu6vLvAxIN341"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/CredentialTest000002/RegenerateKey?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"N2Gc-l0-s0:xg2c1Dj5bSr3anDNzHmM","name":"Primary","value":"uRG3WmywpCDouWN6muB2VAuRC8N1xGD5ZRXEs7Wpm/o=","connectionString":"Endpoint=https://credentialtest7egpq5spdb.azconfig.io;Id=N2Gc-l0-s0:xg2c1Dj5bSr3anDNzHmM;Secret=uRG3WmywpCDouWN6muB2VAuRC8N1xGD5ZRXEs7Wpm/o=","lastModified":"2019-10-07T19:57:26+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
version: 1
