interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-10-25T20:00:37.6987166+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a83deee9-393a-641e-2c27-ec2cf6b7d6f6?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a83deee9-393a-641e-2c27-ec2cf6b7d6f6?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a83deee9-393a-641e-2c27-ec2cf6b7d6f6","name":"a83deee9-393a-641e-2c27-ec2cf6b7d6f6","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a83deee9-393a-641e-2c27-ec2cf6b7d6f6?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-10-25T20:00:38+00:00","endpoint":"https://kvsetimporttesthttqz6hmb.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2021-10-25T20:00:38+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-25T20:00:40+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttesthttqz6hmb","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c600e051-0000-0100-0000-61770ce70000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-10-25T20:00:38+00:00","endpoint":"https://kvsetimporttesthttqz6hmb.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2021-10-25T20:00:38+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-25T20:00:40+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttesthttqz6hmb","name":"KVSetImportTest000002","tags":{}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview&$skipToken=kvsetimporttesthttqz6hmb"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/b1fdfbbb-f2ed-45c2-a4a6-b0d08fff63cd/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview&$skipToken=kvsetimporttesthttqz6hmb>;
        rel="next"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"0gbe-l0-s0:bRWIhSnZ9YlGGxw2wwGo","name":"Primary","value":"o9SxgpkYySEw5qGhYqtAxZzAKRdsLliiapCDhp8QEWM=","connectionString":"Endpoint=https://kvsetimporttesthttqz6hmb.azconfig.io;Id=0gbe-l0-s0:bRWIhSnZ9YlGGxw2wwGo;Secret=o9SxgpkYySEw5qGhYqtAxZzAKRdsLliiapCDhp8QEWM=","lastModified":"2021-10-25T20:00:37+00:00","readOnly":false},{"id":"UjYN-l0-s0:TfFpMp6KV3kFRuvoVqrk","name":"Secondary","value":"C8HFO4muTy6JKKxlTl3rdzedxOrOl0W0CIkQMJl/pXE=","connectionString":"Endpoint=https://kvsetimporttesthttqz6hmb.azconfig.io;Id=UjYN-l0-s0:TfFpMp6KV3kFRuvoVqrk;Secret=C8HFO4muTy6JKKxlTl3rdzedxOrOl0W0CIkQMJl/pXE=","lastModified":"2021-10-25T20:00:37+00:00","readOnly":false},{"id":"Sain-l0-s0:nE5Z5yDNKQSgMJul0YO4","name":"Primary
        Read Only","value":"7uTibV0Kyg9pXx/60ePx1YyLcvaHCfb6AUQ8+DO2+k0=","connectionString":"Endpoint=https://kvsetimporttesthttqz6hmb.azconfig.io;Id=Sain-l0-s0:nE5Z5yDNKQSgMJul0YO4;Secret=7uTibV0Kyg9pXx/60ePx1YyLcvaHCfb6AUQ8+DO2+k0=","lastModified":"2021-10-25T20:00:37+00:00","readOnly":true},{"id":"SID3-l0-s0:0z1PFJNMDD7UCc63n54S","name":"Secondary
        Read Only","value":"ZJbq+RU2XbptaWV0CLQEndICOVI5L99P2H/9hD9viyo=","connectionString":"Endpoint=https://kvsetimporttesthttqz6hmb.azconfig.io;Id=SID3-l0-s0:0z1PFJNMDD7UCc63n54S;Secret=ZJbq+RU2XbptaWV0CLQEndICOVI5L99P2H/9hD9viyo=","lastModified":"2021-10-25T20:00:37+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Oct, 25 2021 20:00:50 GMT
    method: PUT
    uri: https://kvsetimporttesthttqz6hmb.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"OHhnSOG6pnuF2GRcIqx4YTBOwZo","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2021-10-25T20:00:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OHhnSOG6pnuF2GRcIqx4YTBOwZo"'
      last-modified:
      - Mon, 25 Oct 2021 20:00:51 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4Mjc1NTQz;sn=8275543
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4Mjc1NTQz
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Oct, 25 2021 20:00:50 GMT
    method: PUT
    uri: https://kvsetimporttesthttqz6hmb.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"Jqw8Y6UBawlPgKAMSDtDyjYZoK6","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2021-10-25T20:00:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Jqw8Y6UBawlPgKAMSDtDyjYZoK6"'
      last-modified:
      - Mon, 25 Oct 2021 20:00:51 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ0;sn=8275544
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ0
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Oct, 25 2021 20:00:50 GMT
    method: PUT
    uri: https://kvsetimporttesthttqz6hmb.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"3Hu7hr8Ui1OGiw30R5L92ZzTuT7","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2021-10-25T20:00:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3Hu7hr8Ui1OGiw30R5L92ZzTuT7"'
      last-modified:
      - Mon, 25 Oct 2021 20:00:51 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ1;sn=8275545
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ1
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Oct, 25 2021 20:00:51 GMT
    method: PUT
    uri: https://kvsetimporttesthttqz6hmb.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"FKlfJOQKRZIY2Tviav7MSXsKrLb","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2021-10-25T20:00:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FKlfJOQKRZIY2Tviav7MSXsKrLb"'
      last-modified:
      - Mon, 25 Oct 2021 20:00:51 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ2;sn=8275546
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ2
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Oct, 25 2021 20:00:51 GMT
    method: PUT
    uri: https://kvsetimporttesthttqz6hmb.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"WU7SUWiuIb6IZYH1SA5ZGt0vndR","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2021-10-25T20:00:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WU7SUWiuIb6IZYH1SA5ZGt0vndR"'
      last-modified:
      - Mon, 25 Oct 2021 20:00:51 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ3;sn=8275547
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ3
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Oct, 25 2021 20:00:51 GMT
    method: PUT
    uri: https://kvsetimporttesthttqz6hmb.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"vVCIhmKWa8yTPJm5KKmgd5YaFWX","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2021-10-25T20:00:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vVCIhmKWa8yTPJm5KKmgd5YaFWX"'
      last-modified:
      - Mon, 25 Oct 2021 20:00:51 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ4;sn=8275548
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ4
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Oct, 25 2021 20:00:51 GMT
    method: PUT
    uri: https://kvsetimporttesthttqz6hmb.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"xZFjm0o6sesUYZWmLWty9TqakFE","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2021-10-25T20:00:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"xZFjm0o6sesUYZWmLWty9TqakFE"'
      last-modified:
      - Mon, 25 Oct 2021 20:00:51 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ5;sn=8275549
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4Mjc1NTQ5
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Oct, 25 2021 20:00:51 GMT
    method: PUT
    uri: https://kvsetimporttesthttqz6hmb.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"5BKgTA2nOkWOW9Vo7y9yhur8vBS","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2021-10-25T20:00:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5BKgTA2nOkWOW9Vo7y9yhur8vBS"'
      last-modified:
      - Mon, 25 Oct 2021 20:00:51 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4Mjc1NTUw;sn=8275550
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4Mjc1NTUw
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Oct, 25 2021 20:00:51 GMT
    method: PUT
    uri: https://kvsetimporttesthttqz6hmb.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"amapTwPDlL2wF6hebxPOuo1RqR6","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2021-10-25T20:00:52+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"amapTwPDlL2wF6hebxPOuo1RqR6"'
      last-modified:
      - Mon, 25 Oct 2021 20:00:52 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4Mjc1NTUx;sn=8275551
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 25 2021 20:00:53 GMT
    method: GET
    uri: https://kvsetimporttesthttqz6hmb.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"OHhnSOG6pnuF2GRcIqx4YTBOwZo","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2021-10-25T20:00:51+00:00"},{"etag":"Jqw8Y6UBawlPgKAMSDtDyjYZoK6","key":"[...]
[...]
