interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"1a76bec9-cf88-4667-bc2e-aa2b019b2049","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Creating","creationDate":"2023-02-24T01:19:11.5578268+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002","name":"ReplicaStore000002","tags":{"key":"value"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/LYho419BwjgrLOuv_zOhIrQh2AOctOSbzm5uA1POS9w?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/LYho419BwjgrLOuv_zOhIrQh2AOctOSbzm5uA1POS9w?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/LYho419BwjgrLOuv_zOhIrQh2AOctOSbzm5uA1POS9w","name":"LYho419BwjgrLOuv_zOhIrQh2AOctOSbzm5uA1POS9w","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/LYho419BwjgrLOuv_zOhIrQh2AOctOSbzm5uA1POS9w?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"1a76bec9-cf88-4667-bc2e-aa2b019b2049","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2023-02-24T01:19:11+00:00","endpoint":"https://replicastorewci4jb66lzr6.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-02-24T01:19:11+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T01:19:13+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/replicastorewci4jb66lzr6","name":"ReplicaStore000002","tags":{"key":"value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6b02e63a-0000-0100-0000-63f810910000"'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002/replicas/Replica000003?api-version=2022-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/replicastorewci4jb66lzr6/replicas/Replica000003","name":"Replica000003","type":"Microsoft.AppConfiguration/configurationStores/replicas","location":"westus","properties":{"endpoint":null,"provisioningState":"Creating"},"systemData":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/nZoZzVBTTNHoD9notnnqB2yGrv4Pag7yuq90y4g3vWY?api-version=2022-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/nZoZzVBTTNHoD9notnnqB2yGrv4Pag7yuq90y4g3vWY?api-version=2022-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/nZoZzVBTTNHoD9notnnqB2yGrv4Pag7yuq90y4g3vWY","name":"nZoZzVBTTNHoD9notnnqB2yGrv4Pag7yuq90y4g3vWY","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/nZoZzVBTTNHoD9notnnqB2yGrv4Pag7yuq90y4g3vWY?api-version=2022-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NDqiYPXC0bDSx%2FhNQ3xzHBBZzMdghq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5ulkHsdzF6DDcmLOUmLDC%2FLPJgFO2M6PQvDI5W04UcuzYi%2B9IqPWHsMdV9ppkRnRCt1OJ3WE1qNv6Apr2v0mXOGKsa%2FoknMoqiaTqrq0zTsVHsSNVc6fBRMtbrdmhHuunkrt6LpFXWfCtntU25axfU32gl0su%2FZ3%2B%2FjcRyj8QSNo48f9F50Rbvn8l5zdRKMI0MbNLBeB3fBf0ByAXGyQNPj3J97w7XRTkArBsEwGdBJcoO4HyinAymz1ZrA8obZqdaYg5CNVyO2cuSrsvjhNMF5gmHR3Dpdc2phcJm7yEqwA4ILw2lvYdJVZpUBOGW3ukjuUPyQwU5hVyfapjD6N8diwFPWaxcAl04BxjHY%2F%2B6FGITZtb3pDpbke4afkqWfNbiqVMpvLDjFC%2FzuGLgwjDKryztGki4gNwwT0rLAbMrr%2FuUM%2F5DhdE7Az9ZWudn6idc4hd32z51bi3%2BtMgLf8Hsvit9cYNe9Pz7Ky6nLNwp%2ByJI59mSw8vjZrvvUHp2RCwH0Ql2K3TQlPO9cgWxVOufkG7IgNtH8bQVQbfTgwizfJMUTyZY4XbitDCrLYYgszG9c4Ay2Kt4xf%2FwO4zMA4AZzNYsW0ieAVeaazKTEa1hDpjijLYqiaGI5XHSVeQyPwl2JUVoHb3cBVUfcNIo31PDaX2BaQXD2GLz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 39294566-3ce2-4f3d-9422-2d8fa697b31d
      - 068c679f-7e3d-4ce0-8f8e-bc55825fa8fc
      - 49670582-fecc-42df-afb3-8f4bfaa5f235
      - 9392d56f-a50b-470d-b75c-acb1d7a4c67e
      - dfcaa2ec-1f66-4084-8456-1e6378b73576
      - 6fc99992-82aa-4498-aff0-11afd9c0a33f
      - f5509038-b7b7-47be-a3a8-58b9200a8c77
      - d87109ce-7ffc-4019-96f7-24239150cfb4
      - a5b9dd14-fb5c-4274-8904-8ce17aec1fbf
      - 1f95c738-d2ed-45ae-bfed-3fc948579192
      - 421d33ef-3406-4693-903e-201665bfc518
      - ee73de49-6e1f-4066-8590-58dfcbf0d667
      - c56ca3d8-ad70-4461-abdc-80c13149766f
      - 6b5a7d1b-51f7-436c-9c65-d9ca18383f12
      - 08316b4e-da39-45c1-b657-9d8ddf063851
      - 7836ded9-826f-4378-9a41-791a2bddb4c2
      - ece14922-a113-4df7-9947-6f8ff14f5ec1
      - 9df1fa39-2070-421a-b440-a2f5a53116cf
      - 19bb1e26-8a14-4047-872d-7661e70a5846
      - 2e93ee76-f147-40f0-998a-2913bb2b52b7
      - fcd5bc66-962b-430a-9744-648719aa8658
      - 5ffc23ad-4d5e-4940-901c-06178cb3d299
      - 57053bda-330c-481d-a253-b4ac1b4ca04f
      - aa386fa2-b26e-4df1-b45e-f7ed0636393e
      - f116bed5-ce85-437b-b438-e0017d4579d1
      - 5e3eaf93-601a-41dd-9a68-41c591c20e7e
      - da2b7d04-5278-4bd4-9c2e-6b1d0d490271
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002/replicas?api-version=2022-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/replicastorewci4jb66lzr6/replicas/Replica000003","name":"Replica000003","type":"Microsoft.AppConfiguration/configurationStores/replicas","location":"westus","properties":{"endpoint":"https://replicastorewci4jb66lzr6-replicaomeest4tuuowzlu5c.azconfig.io","provisioningState":"Succeeded"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-02-24T01:19:24+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T01:19:24+00:00"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002/replicas/Replica000003?api-version=2022-03-01-preview
  response:
    body:
      string: '{"error":{"code":"EntityNotFound","message":"The resource with id ''Replica000003''
        was not found.","additionalInfo":[{"type":"ActivityId","info":{"activityId":"323b3c4c-1aa7-45eb-9db8-df631d2c72a5"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ReplicaStore000002?api-version=2022-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
