interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true, "dataPlaneProxy": {}, "createMode": "Default", "softDeleteRetentionInDays":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-10-08T16:09:07.1791244+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002",
        "name": "enhancedfeature000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.VrzTLpo8llJUkO-oSw1YKcH9D5qAbxjsbH8Pcxyu-qs?api-version=2025-08-01-preview&t=639270725474510144&c=MIIHlTCCBn2gAwIBAgIRALLGu8EppFcH5hmisV5_CugwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjA5MjIwMjM0MjdaFw0yNjEyMTcwODM0MjdaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2Nlcn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.VrzTLpo8llJUkO-oSw1YKcH9D5qAbxjsbH8Pcxyu-qs?api-version=2025-08-01-preview&t=639270725474510144&c=MIIHlTCCBn2gAwIBAgIRALLGu8EppFcH5hmisV5_CugwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjA5MjIwMjM0Mjda[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-10-08T16:09:07+00:00", "endpoint": "https://enhancedfeature000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-10-08T16:09:07+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-10-08T16:09:07+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002",
        "name": "enhancedfeature000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b60f573d-0000-0100-0000-6ac7c0240000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - dyZf1=NDotMSMxNDgxNA==;sn=14814
      x-ms-date:
      - Thu, 08 Oct 2026 16:09:46 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"enabled": false, "tags": {}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
      Sync-Token:
      - dyZf1=NDotMSMxNDgxNA==
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "p0kh2BEq5N386y-IsUPrVwUWd9ieXxrggV0gc2oE1W8", "name": "Beta",
        "label": "v1", "enabled": false, "description": null, "variants": [], "allocation":
        null, "conditions": null, "telemetry": null, "tags": {}, "last_modified":
        "2026-10-08T16:09:47+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"p0kh2BEq5N386y-IsUPrVwUWd9ieXxrggV0gc2oE1W8"'
      last-modified:
      - Thu, 08 Oct 2026 16:09:47 GMT
      sync-token:
      - dyZf1=NDotMSMxNDgxNQ==;sn=14815
      x-ms-date:
      - Thu, 08 Oct 2026 16:09:47 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": false, "description": "Beta Testing Feature Flag", "conditions":
      {"requirement_type": "Any"}, "variants": [], "tags": {}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
      Sync-Token:
      - dyZf1=NDotMSMxNDgxNQ==
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "bs37kXPpnIHI6Bq3XdtsP-p7iHWXd1gI_Muudt0aryQ", "name": "Beta",
        "label": "v1", "enabled": false, "description": "Beta Testing Feature Flag",
        "variants": [], "allocation": null, "conditions": {"requirement_type": "Any"},
        "telemetry": null, "tags": {}, "last_modified": "2026-10-08T16:09:48+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"bs37kXPpnIHI6Bq3XdtsP-p7iHWXd1gI_Muudt0aryQ"'
      last-modified:
      - Thu, 08 Oct 2026 16:09:48 GMT
      sync-token:
      - dyZf1=NDotMSMxNDgxNg==;sn=14816
      x-ms-date:
      - Thu, 08 Oct 2026 16:09:48 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "description": "Beta Testing Feature Flag", "conditions":
      {"requirement_type": "Any"}, "variants": [], "telemetry": {"enabled": true},
      "tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
      Sync-Token:
      - dyZf1=NDotMSMxNDgxOQ==
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "xz6_FfYEktDcCec7amiws6qHm-D4GNvvy1XsX8Ix-Qw", "name": "Beta",
        "label": "v1", "enabled": true, "description": "Beta Testing Feature Flag",
        "variants": [], "allocation": null, "conditions": {"requirement_type": "Any"},
        "telemetry": {"enabled": true, "metadata": {}}, "tags": {"tag1": "value1",
        "tag2": "value2"}, "last_modified": "2026-10-08T16:09:53+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"xz6_FfYEktDcCec7amiws6qHm-D4GNvvy1XsX8Ix-Qw"'
      last-modified:
      - Thu, 08 Oct 2026 16:09:53 GMT
      sync-token:
      - dyZf1=NDotMSMxNDgyMA==;sn=14820
      x-ms-date:
      - Thu, 08 Oct 2026 16:09:53 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"enabled": true, "description": "Set via --flag JSON", "conditions": {"requirement_type":
      "All", "filters": [{"name": "Microsoft.TimeWindow", "parameters": {"Start":
      "Wed, 01 Jan 2025 00:00:00 GMT"}}]}, "tags": {}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "1oEE65QVsUVa2uuIYwc8jmpxUUM-Kz6d3BcAa_xxWY4", "name": "Beta",
        "label": "v1", "enabled": true, "description": "Set via --flag JSON", "variants":
        [], "allocation": null, "conditions": {"requirement_type": "All", "filters":
        [{"name": "Microsoft.TimeWindow", "parameters": {"Start": "Wed, 01 Jan 2025
        00:00:00 GMT"}}]}, "telemetry": null, "tags": {}, "last_modified": "2026-10-08T16:09:54+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"1oEE65QVsUVa2uuIYwc8jmpxUUM-Kz6d3BcAa_xxWY4"'
      last-modified:
      - Thu, 08 Oct 2026 16:09:54 GMT
      sync-token:
      - dyZf1=NDotMSMxNDgyMg==;sn=14822
      x-ms-date:
      - Thu, 08 Oct 2026 16:09:54 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://enhancedfeature000002.azconfig.io/ff?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag": "fc-5ZUdrKiq3MnguDZRLWEIMOshlVuNrUimSVZg54AU", "items": [{"etag":
        "dt_JVtsLuZvQqYE7D3IWjVqZLPzb1wgdj21t9zneCjY", "name": "Beta", "label": "v1",
        "enabled": false, "description": "Set via --flag shorthand", "variants": [],
        "allocation": null, "conditions": null, "telemetry": null, "tags": {}, "last_modified":
        "2026-10-08T16:09:56+00:00"}]}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ffset"; charset=utf-8
      etag:
      - '"fc-5ZUdrKiq3MnguDZRLWEIMOshlVuNrUimSVZg54AU"'
      sync-token:
      - dyZf1=NDotMSMxNDgyNw==;sn=14827
      x-ms-date:
      - Thu, 08 Oct 2026 16:09:57 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://enhancedfeature000002.azconfig.io/ff?api-version=2026-05-01-preview&label=v1&name=Beta
  response:
    body:
      string: '{"etag": "fc-5ZUdrKiq3MnguDZRLWEIMOshlVuNrUimSVZg54AU", "items": [{"etag":
        "dt_JVtsLuZvQqYE7D3IWjVqZLPzb1wgdj21t9zneCjY", "name": "Beta", "label": "v1",
        "enabled": false, "description": "Set via --flag shorthand", "variants": [],
        "allocation": null, "conditions": null, "telemetry": null, "tags": {}, "last_modified":
        "2026-10-08T16:09:56+00:00"}]}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ffset"; charset=utf-8
      etag:
      - '"fc-5ZUdrKiq3MnguDZRLWEIMOshlVuNrUimSVZg54AU"'
      sync-token:
      - dyZf1=NDotMSMxNDgyNw==;sn=14827
      x-ms-date:
      - Thu, 08 Oct 2026 16:09:58 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"dt_JVtsLuZvQqYE7D3IWjVqZLPzb1wgdj21t9zneCjY"'
      Sync-Token:
      - dyZf1=NDotMSMxNDgyNw==
    method: DELETE
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "dt_JVtsLuZvQqYE7D3IWjVqZLPzb1wgdj21t9zneCjY", "name": "Beta",
        "label": "v1", "enabled": false, "description": "Set via --flag shorthand",
        "variants": [], "allocation": null, "conditions": null, "telemetry": null,
        "tags": {}, "last_modified": "2026-10-08T16:09:56+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"dt_JVtsLuZvQqYE7D3IWjVqZLPzb1wgdj21t9zneCjY"'
      last-modified:
      - Thu, 08 Oct 2026 16:09:56 GMT
      sync-token:
      - dyZf1=NDotMSMxNDgyOA==;sn=14828
      x-ms-date:
      - Thu, 08 Oct 2026 16:09:59 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://enhancedfeature000002.azconfig.io/ff?api-version=2026-05-01-preview&label=v1&name=Beta
  response:
    body:
      string: '{"etag": "oIiYybBKOJkhO4-JNQpPcUeed073Y5rY5FTb4e0GksU", "items": []}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ffset"; charset=utf-8
      etag:
      - '"oIiYybBKOJkhO4-JNQpPcUeed073Y5rY5FTb4e0GksU"'
      sync-token:
      - dyZf1=NDotMSMxNDgyOA==;sn=14828
      x-ms-date:
      - Thu, 08 Oct 2026 16:10:02 GMT
      x-ms-item-count:
      - '0'
    status:
      code: 200
      message: OK
version: 1
