interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/azure-cli-extension-index-v1
  response:
    body:
      string: ''
    headers:
      location:
      - https://azcliextensionsync.blob.core.windows.net/index1/index.json
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://azcliextensionsync.blob.core.windows.net/index1/index.json
  response:
    body:
      string: '{"extensions": {"acat": [{"downloadUrl": "https://azcliprod.blob.core.windows.net/cli-extensions/acat-1.0.0b1-py3-none-any.whl",
        "filename": "acat-1.0.0b1-py3-none-any.whl", "metadata": {"azext.isPreview":
        true, "azext.minCliCoreVersion": "2.61.0", "classifiers": ["Development Status
        :: 4 - Beta", "Intended Audience :: Developers", "Intended Audience :: System
        Administrators", "Programming Language :: Python", "Programming Language ::
        Python :: 3", "Programming Language :: Python :: 3.7", "Programming Language
        :: Python :: 3.8", "Programming Language :: Python :: 3.9", "License :: OSI
        Approved :: MIT License"], "extensions": {"python.details": {"contacts": [{"email":
        "test@example.com", "name": "Microsoft Corporation", "role": "author"}], "document_names":
        {"description": "DESCRIPTION.rst"}, "project_urls": {"Home": "https://github.com/Azure/azure-cli-extensions/tree/main/src/acat"}}},
        "generator": "bdist_wheel (0.30.0)", "license": "MIT", "metadata_version":
        "2.0", "name": "acat", "summary": "Microsoft Azure Command-Line Tools Acat
        Extension.", "version": "1.0.0b1"}, "sha256Digest": "9c228e93fdda531137ba6e5abad2b48577cf58512e4be0dee51cef111267327a"}],
        "account": [{"downloadUrl": "https://azcliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl",
        "filename": "account-0.1.0-py2.py3-none-any.whl", "metadata": {"azext.isExperimental":
        true, "azext.minCliCoreVersion": "2.3.1", "classifiers": ["Development Status
        :: 4 - Beta", "Intended Audience :: Developers", "Intended Audience :: System
        Administrators", "Programming Language :: Python", "Programming Language ::
        Python :: 3", "Programming Language :: Python :: 3.6", "Programming Language
        :: Python :: 3.7", "Programming Language :: Python :: 3.8", "License :: OSI
        Approved :: MIT License"], "extensions": {"python.details": {"cont[...]
