interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"disableLocalAuth":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-10-27T20:33:35.2752351+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002","name":"DisableLocalAuth000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/991d46ac-ea65-ff93-a1e0-36ef49e3922e?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/991d46ac-ea65-ff93-a1e0-36ef49e3922e?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/991d46ac-ea65-ff93-a1e0-36ef49e3922e","name":"991d46ac-ea65-ff93-a1e0-36ef49e3922e","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/991d46ac-ea65-ff93-a1e0-36ef49e3922e?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-10-27T20:33:35+00:00","endpoint":"https://disablelocalautha4m6ucdt.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":true},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2021-10-27T20:33:35+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-27T20:33:36+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/disablelocalautha4m6ucdt","name":"DisableLocalAuth000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1800e208-0000-0100-0000-6179b79f0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/DisableLocalAuth000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"eIfg-l0-s0:oQEH4SyiVbNgWeFEIQqJ","name":"Primary","value":"ZyJr1w1SrYwXXHPgFD3r/K2bvzGtC5zWs9s0RRU5NF0=","connectionString":"Endpoint=https://disablelocalautha4m6ucdt.azconfig.io;Id=eIfg-l0-s0:oQEH4SyiVbNgWeFEIQqJ;Secret=ZyJr1w1SrYwXXHPgFD3r/K2bvzGtC5zWs9s0RRU5NF0=","lastModified":"2021-10-27T20:33:51+00:00","readOnly":false},{"id":"0pPP-l0-s0:zt96GiN7EExG9C7DMSM/","name":"Secondary","value":"4fQm0fFiadnEW5a9p2iO86dZI6v7mLutURUfDnBl5sw=","connectionString":"Endpoint=https://disablelocalautha4m6ucdt.azconfig.io;Id=0pPP-l0-s0:zt96GiN7EExG9C7DMSM/;Secret=4fQm0fFiadnEW5a9p2iO86dZI6v7mLutURUfDnBl5sw=","lastModified":"2021-10-27T20:33:51+00:00","readOnly":false},{"id":"Ioqg-l0-s0:rpuviwlrCpfP9hJ0+PWh","name":"Primary
        Read Only","value":"6P1iuuVe0IecugFe8/SD/jzgh4rzvzPlxTXlc/KI3K8=","connectionString":"Endpoint=https://disablelocalautha4m6ucdt.azconfig.io;Id=Ioqg-l0-s0:rpuviwlrCpfP9hJ0+PWh;Secret=6P1iuuVe0IecugFe8/SD/jzgh4rzvzPlxTXlc/KI3K8=","lastModified":"2021-10-27T20:33:51+00:00","readOnly":true},{"id":"R/2G-l0-s0:DCrHyfAjhnH8Sj6jvXvR","name":"Secondary
        Read Only","value":"5KJTG9d4ARJInjHBsU6sBHCV3jQKnowrnsi5tmq236M=","connectionString":"Endpoint=https://disablelocalautha4m6ucdt.azconfig.io;Id=R/2G-l0-s0:DCrHyfAjhnH8Sj6jvXvR;Secret=5KJTG9d4ARJInjHBsU6sBHCV3jQKnowrnsi5tmq236M=","lastModified":"2021-10-27T20:33:51+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 27 2021 20:33:54 GMT
    method: GET
    uri: https://disablelocalautha4m6ucdt.azconfig.io/kv/test?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "test", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - K/ZgeCKNEgOHURLXqNNghR5xxLAPIMWOIak1mRufo6o=
      x-ms-date:
      - Oct, 27 2021 20:33:54 GMT
    method: PUT
    uri: https://disablelocalautha4m6ucdt.azconfig.io/kv/test?api-version=1.0
  response:
    body:
      string: '{"etag":"uNndS9Rei0It6cJ1kz1XRfm2BqL","key":"test","label":null,"content_type":"","value":"","tags":{},"locked":false,"last_modified":"2021-10-27T20:33:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"uNndS9Rei0It6cJ1kz1XRfm2BqL"'
      last-modified:
      - Wed, 27 Oct 2021 20:33:55 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4MzIxNTA2;sn=8321506
    status:
      code: 200
      message: OK
version: 1
