interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-06-06T17:42:02.0163732+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002","name":"FeatureNamespaceTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f3CkCeg_G9ftggqJdJbG36vXtYFeTLJMzZxK5KI7dw0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f3CkCeg_G9ftggqJdJbG36vXtYFeTLJMzZxK5KI7dw0?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f3CkCeg_G9ftggqJdJbG36vXtYFeTLJMzZxK5KI7dw0","name":"f3CkCeg_G9ftggqJdJbG36vXtYFeTLJMzZxK5KI7dw0","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f3CkCeg_G9ftggqJdJbG36vXtYFeTLJMzZxK5KI7dw0?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-06-06T17:42:02+00:00","endpoint":"https://featurenamespacetest2ysd.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-06-06T17:42:02+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-06T17:42:02+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurenamespacetest2ysd","name":"FeatureNamespaceTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"96004581-0000-0100-0000-629e3c6a0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtaSaQjqEhVZUHqZaOBZQQIfXNcQyYP45lO4S26nefbRhLP8LdYxQlytHv3HOP8xYIdjYzLvY6GL8FqzhfTuJ0meFZkQfjYGuM1OMwPBJBNuzIhOmR10axHq2PoW5KTRWXhtdCh6NRNSRl%2FxsasapCXxmjqKTsOxpGdDAoR8OyvBuFUtUnXjGlw9%2BcqlrXa9PDUk5qseabRhH3qpB2r3JTK6YfiOToZJ%2Bz9%2B%2BjfhSh%2FhD1B58%2F6T2Xy3rPxL1m6sQpQ4ZsUEsbHXwJ%2FgMlFyEOCzQe5%2BbcGKaNdgAtjBjD1IBOghnEvKEch7jI5osY2GxsG8Jb1lgM%2BbxY%2FnQscJ5gYCo6E64ZsWJwkbuoSrATBFcMI45MOs8sGYju6nAR%2F0wGO33dGtE2fdHH%2FIqAucwNvguvyBrsskWAKWjtt3sELTfbujHyYJX8yPBzMvNRBoxHZ1RK5TsKTvEUX2cFrhhKqOVylZGkU8i7hXJhtcDckbfG5Qb%2BMcPpJAbvrbVy3nrCC5zC3vM76Yrwr3kWwx%2F4vYfiOwvsRe8PjOJyzspXyfI5zmY4nXplsPJ4x18apIWLAGszvx3xY5ZMMEQtBy6IPfgjpwa9EpfIT8ncbxbXY2CR0baGtURwUXFyxXMpY3ewdEilidgcONLkKA8MDSyVTheDl867vzazZcxlc76Kp7Hdmf4PGCw2Nym67VSxIo8LvICl5OYyxeTBB4Al47xV5BE8Ne4%2FGCFV8P7%2BBw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 0c756ad9-9835-4795-a837-3ca8f42ccb49
      - b5234439-45b0-495c-83d4-1a7224c139a8
      - 413d706f-e8e3-4089-9cc9-0489265fe0c9
      - 1e1eb8df-83bb-4f53-a687-47f2c97b36a3
      - fb5f3312-8782-4cdc-b440-62b0968d0cce
      - cb5c2ed0-1256-4e9e-8227-9a414d0870db
      - 149da3c7-36c0-4bf1-8d78-d28cc40679d3
      - 1ec03b39-89f4-4ff7-be35-6216f2201291
      - d29d00a0-9b89-4b48-a069-0516f48535c6
      - 23294685-bbf9-4bc3-a4a1-b6236f32a0d2
      - 3caaffd7-ca08-4ca4-bc9e-ab38be0f31c7
      - 43ac9f26-ba73-4f0f-967b-1143cb3ff917
      - 6beba34f-a86e-4ac7-8f1b-80991f1997aa
      - c8e59e39-3b26-4ba9-83c6-2e6bf6386d4f
      - f9c88f81-e22d-45a4-808e-7726ffb08bd2
      - 8701d062-b392-4b9b-9837-503113199129
      - eb19d875-67e4-48d5-8fa8-dcdaacba799c
      - 6a753e54-4124-4c02-9b69-6b64a4113834
      - 7e3eba5f-0cc1-4db0-9445-32ceea036666
      - 3b94af6f-d996-47db-8990-be5bb28350b8
      - bc823d95-50bb-43e2-ace6-adfed2258182
      - bf64772b-bb5b-44b1-b74e-d231e58503a6
      - 9898e141-05e6-4e50-903c-2a24087dbb0d
      - a5b8a01c-a597-47ba-a875-60bed18f1f8a
      - 6dc8cde8-bab2-404c-8b7e-a5faed2c0f79
      - a6c76ee0-ebfb-4afc-b07e-f503b9d19063
      - 0fa8bf1b-26d0-4df6-8c7f-5b9541778e36
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"Dpzy-l0-s0:+aMhsuOqFeqvZIKnI98g","name":"Primary","value":"Q/qp5c63w71+a80eMAGO+exXwkUzpjMhja+THMd/f3c=","connectionString":"Endpoint=https://featurenamespacetest2ysd.azconfig.io;Id=Dpzy-l0-s0:+aMhsuOqFeqvZIKnI98g;Secret=Q/qp5c63w71+a80eMAGO+exXwkUzpjMhja+THMd/f3c=","lastModified":"2022-06-06T17:42:02+00:00","readOnly":false},{"id":"488M-l0-s0:r+9Ut4DKSLw7/2EgSPTj","name":"Secondary","value":"14mYkZniqrQYIqNtA/iy6RV9GtOdPGGwPr/Kgiys+ME=","connectionString":"Endpoint=https://featurenamespacetest2ysd.azconfig.io;Id=488M-l0-s0:r+9Ut4DKSLw7/2EgSPTj;Secret=14mYkZniqrQYIqNtA/iy6RV9GtOdPGGwPr/Kgiys+ME=","lastModified":"2022-06-06T17:42:02+00:00","readOnly":false},{"id":"sPmM-l0-s0:V0NC60I3B7RYBfJa4495","name":"Primary
        Read Only","value":"/c42TKqz1CFv1ToYUbD2cyBeX2niu9S3OY60lr0co/4=","connectionString":"Endpoint=https://featurenamespacetest2ysd.azconfig.io;Id=sPmM-l0-s0:V0NC60I3B7RYBfJa4495;Secret=/c42TKqz1CFv1ToYUbD2cyBeX2niu9S3OY60lr0co/4=","lastModified":"2022-06-06T17:42:02+00:00","readOnly":true},{"id":"J/GC-l0-s0:EmexUz6CKiDBCdC08xYg","name":"Secondary
        Read Only","value":"d93hVt2n+RMDoJExIYSj8VXF+7bUN6nFeJeUUoHw6Js=","connectionString":"Endpoint=https://featurenamespacetest2ysd.azconfig.io;Id=J/GC-l0-s0:EmexUz6CKiDBCdC08xYg;Secret=d93hVt2n+RMDoJExIYSj8VXF+7bUN6nFeJeUUoHw6Js=","lastModified":"2022-06-06T17:42:02+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:15 GMT
    method: GET
    uri: https://featurenamespacetest2ysd.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - TEvHMnQHVg0zuhG/KTLva5wbEs56XbnCKHzUotx7T2Q=
      x-ms-date:
      - Jun, 06 2022 17:42:15 GMT
    method: PUT
    uri: https://featurenamespacetest2ysd.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"TItDX20StWdQncukeqtQOIV8GG8","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TItDX20StWdQncukeqtQOIV8GG8"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:16 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDEwODAxMA==;sn=14108010
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"TItDX20StWdQncukeqtQOIV8GG8"'
      Sync-Token:
      - zAJw6V16=NDoxOSMxNDEwODAxMA==
      x-ms-content-sha256:
      - DLfyh/Ru5G+ypt1henik3km8h0nZPlRtLA0RgDfVOyU=
      x-ms-date:
      - Jun, 06 2022 17:42:18 GMT
    method: PUT
    uri: https://featurenamespacetest2ysd.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"yf6mPeGq2tIHVbnqB77udsL7Tp7","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yf6mPeGq2tIHVbnqB77udsL7Tp7"'
      last-modified:
      - Mon, 06 Jun 2022 17:42:19 GMT
      sync-token:
      - zAJw6V16=NDoxOSMxNDEwODAxMQ==;sn=14108011
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:21 GMT
    method: GET
    uri: https://featurenamespacetest2ysd.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3AGlobalFeature?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 06 2022 17:42:23 GMT
    method: GET
    uri: https://featurenamespacetest2ysd.azconfig.io/kv?key=.appconfig.featureflag%2FMyApp%3A%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"yf6mPeGq2tIHVbnqB77udsL7Tp7","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:19+00:00"},{"etag":"76drhgMmd3wu4VmeBc6LzPANqAC","key":".appconfig.featureflag/MyApp:GlobalFeature","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"MyApp:GlobalFeature\", \"description\": \"\", \"enabled\": false, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2022-06-06T17:42:22+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSMxNDEwODAyOQ==;sn=14108029
    status:
      code: 200
      message: OK
version: 1
