interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-03-08T18:18:23.6261696+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002","name":"FeatureTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1dd65e63-41ff-4e85-b6ae-e3c06b469d37?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1dd65e63-41ff-4e85-b6ae-e3c06b469d37?api-version=2021-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1dd65e63-41ff-4e85-b6ae-e3c06b469d37","name":"1dd65e63-41ff-4e85-b6ae-e3c06b469d37","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1dd65e63-41ff-4e85-b6ae-e3c06b469d37?api-version=2021-10-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002?api-version=2021-10-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-03-08T18:18:23+00:00","endpoint":"https://featuretestgvmylchi5epd4.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-08T18:18:23+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-03-08T18:18:24+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featuretestgvmylchi5epd4","name":"FeatureTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6b00cbc7-0000-0100-0000-62279df00000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview&%24skiptoken=3ZjdjpswFITfBVW9qkNgm0aNtKrchKq0KYkgKNLeGXOSOD%2FGsk3YdrXvXtuJtvQRzCVCIH2aOXPGfgk4POsl4ycVzF6CbVJs5km2yfGyLIJZcNBaqFkYXggne7gA1yPyp5Uwos0lVG2lqGRCs4arcDqtJ6Qaf0JTqGv0EYCiisJnNIlpFFXTSVU9TEMhmyurQarwF6OyUc1Oj7AQ84bv2L6VxP4qpP2nQjcS1BciGLqa78z7x3gcRygao3GEhIQrg%2B79O3ViYtOcgD8qkFdGAWmyRx1tVfAhGBDRDcjK5Ks%2Bz%2B1zq0FpZYU14iTYbxZ05aAROKNZXZIyX60TT2fn0BLWQWtkKVbl5rvVBhcp9pSmlwQKiIHCZWGjLcUWzH8oIFapbJUbpXx2XU8n%2Fs98w0htu4aUSW30f97FnrrPBoQNu9gY77aFPCXpDIOTpGP60LRanA3R1xw%2FpUsXfZ7q0xulSrrugzO8wPdZ8h%2BKEmp0uuOk2WIIu4kybpj83rVvjc4Gw7ccZ%2FNkMJ7bSeu5H3iNs2H0hqOwxfvnKk%2BGEwwnJ5LrQsMoDu4Ay2%2FnvWKbbp6SfImzhSP0M8eP7HeLFLdRYecpXbn8ti3CTx5lylBHOOM1I3eoWyV68JNHSEX4%2FsyQIhdxBhQZlXqNyN%2FsO54ZJ%2BYWCZlKZJOv2CaLxGwod8%2Flp1ZvSKrrFaKySEq89pNIMIbsFDnbWa%2BVRewvjb3lIqQOXl%2F%2FAg%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 3ffcc84d-3357-43aa-aa34-6e6af30e37ac
      - b8792f76-e548-4afe-bf57-4ef5e233e02a
      - b7c19442-46f4-48f7-a0f5-24f1c38decc8
      - 6b035c25-62b1-41ec-afbe-94b095b930b8
      - dd39ba1d-dfea-47d1-92ac-5d5f3fa9d893
      - e014b298-33d9-40ec-9c90-df91f22cd794
      - 2a7e734f-d214-43e5-8fdb-34f91109aad2
      - f6ef8335-72be-40d9-b1ac-dc84956745bd
      - f54d66e9-459f-47ac-8b49-93e559772ab3
      - a90cebd5-4934-4ab9-b82c-9bb6b0b7550f
      - 1ca49a66-74b3-42af-a364-2dab6f4ade83
      - d61b61df-373f-4802-a757-ed0504daf5a1
      - 1b71c14a-d1dc-4123-9b9b-193c0d0321e1
      - bc7ab9c4-634f-4620-b264-a2be9308339c
      - fcf2fd07-6085-4b34-bd44-98632d4d3c8e
      - 4d08e3d9-cbbe-488d-98ed-327859094471
      - 3052a3f5-ea97-491b-b469-c9d7d4425975
      - 55a2b314-d2c2-4d87-8b53-2854ef7af661
      - 185ae371-f4fb-4494-b9b0-29585b6eec00
      - 9badabe2-6f80-47a4-ba06-8c31c996c002
      - f9af7b17-f075-486b-8ad9-640dc00206ec
      - dd21c589-3346-439f-99c6-e6594b787908
      - a982e441-5ad7-4226-9bc0-7c6dd228ef96
      - 4a0635fe-87c0-4375-b143-cf8ca2e5bdf6
      - d0b55d04-51b5-408f-bbe2-c9a7ba4f9028
      - 5b638f33-51e1-4f8a-8c07-9d3802f7dad9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureTest000002/listKeys?api-version=2021-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"sWcs-l0-s0:uwBjlWD5CI7QDoYSGNIu","name":"Primary","value":"DE4MlUcZYv8NzvCmD+xRY556Fgu+qjFbnFilP7CKtMg=","connectionString":"Endpoint=https://featuretestgvmylchi5epd4.azconfig.io;Id=sWcs-l0-s0:uwBjlWD5CI7QDoYSGNIu;Secret=DE4MlUcZYv8NzvCmD+xRY556Fgu+qjFbnFilP7CKtMg=","lastModified":"2022-03-08T18:18:23+00:00","readOnly":false},{"id":"UkrZ-l0-s0:5lLnZmMB2uv4lL1eThEM","name":"Secondary","value":"onaAikfx4GThCzUlnbEcE0mRfCoIXqA9ZKm0CG/THmo=","connectionString":"Endpoint=https://featuretestgvmylchi5epd4.azconfig.io;Id=UkrZ-l0-s0:5lLnZmMB2uv4lL1eThEM;Secret=onaAikfx4GThCzUlnbEcE0mRfCoIXqA9ZKm0CG/THmo=","lastModified":"2022-03-08T18:18:23+00:00","readOnly":false},{"id":"j5Hz-l0-s0:R8zHC61cl45Zm2lVTNXH","name":"Primary
        Read Only","value":"Lt9TZ9BhLdmfa349onOyOGF5RdGhIIrZNfP6BkeAgmU=","connectionString":"Endpoint=https://featuretestgvmylchi5epd4.azconfig.io;Id=j5Hz-l0-s0:R8zHC61cl45Zm2lVTNXH;Secret=Lt9TZ9BhLdmfa349onOyOGF5RdGhIIrZNfP6BkeAgmU=","lastModified":"2022-03-08T18:18:23+00:00","readOnly":true},{"id":"Fs9W-l0-s0:UjwhpJBVwP3vH3OOKM4A","name":"Secondary
        Read Only","value":"bir7uRBAmicJwXTrbfmaJsKqjNP1QKQUnGH40+9hrQ0=","connectionString":"Endpoint=https://featuretestgvmylchi5epd4.azconfig.io;Id=Fs9W-l0-s0:UjwhpJBVwP3vH3OOKM4A;Secret=bir7uRBAmicJwXTrbfmaJsKqjNP1QKQUnGH40+9hrQ0=","lastModified":"2022-03-08T18:18:23+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mar, 08 2022 18:18:36 GMT
    method: GET
    uri: https://featuretestgvmylchi5epd4.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Jyo6toZCmzkwCknljrzQ7W0Lkn83wslohOIHO3C97Gk=
      x-ms-date:
      - Mar, 08 2022 18:18:37 GMT
    method: PUT
    uri: https://featuretestgvmylchi5epd4.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"nLyQIVaG53RBXSty2lt0P6Z7xdI","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2022-03-08T18:18:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"nLyQIVaG53RBXSty2lt0P6Z7xdI"'
      last-modified:
      - Tue, 08 Mar 2022 18:18:37 GMT
      sync-token:
      - zAJw6V16=NToxOSMxMDk0MDI5Ng==;sn=10940296
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"Beta Testing Feature Flag\",
      \"enabled\": false, \"conditions\": {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"nLyQIVaG53RBXSty2lt0P6Z7xdI"'
      Sync-Token:
      - zAJw6V16=NToxOSMxMDk0MDI5Ng==
      x-ms-content-sha256:
      - TK/M7dJNQxprVOwWoa/QQ1+w3G11sYJp0snTeR3nFHM=
      x-ms-date:
      - Mar, 08 2022 18:18:39 GMT
    method: PUT
    uri: https://featuretestgvmylchi5epd4.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"mKlbcC0iVbSsKvnzAp2SpIAASSg","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"Beta Testing Feature Flag\", \"enabled\": false,
        \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2022-03-08T18:18:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mKlbcC0iVbSsKvnzAp2SpIAASSg"'
      last-modified:
      - Tue, 08 Mar 2022 18:18:40 GMT
      sync-token:
      - zAJw6V16=NToxOSMxMDk0MDI5Nw==;sn=10940297
    status:
      code: 200
      message: OK
[...]
