interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2025-01-07T17:19:51.0428487+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002",
        "name": "KVTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5emM3gvvh2_uU6X0XXeoR3WUyhpaLixXxbqUAWVp9_E?api-version=2024-05-01&t=638718671912945868&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5emM3gvvh2_uU6X0XXeoR3WUyhpaLixXxbqUAWVp9_E?api-version=2024-05-01&t=638718671912945868&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2025-01-07T17:19:51+00:00", "endpoint": "https://kvtestzrk46tzty3jpt2n7g6.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2025-01-07T17:19:51+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2025-01-07T17:19:51+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestzrk46tzty3jpt2n7g6",
        "name": "KVTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"940a23dc-0000-0100-0000-677d62380000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrvTuNGFMXfJar6aUwgLEWLtKqm4O2mCwl1EqXLt4kzAYdk7M7YG8iq7957x/bgZHmB8xFQkE/O/e/fj57RL%2BVtZp5d7%2BpHbx5PptfxaJrI29mkd9V7KsvCXfX7W2XUo95qU56ofWX1SZpv%2B65auNRmRZnlxvUvL5cXanH6W3Spl8vog9ZptEj1x%2BhikJ6dLS4vFovzy35h8%2B/ZUlvXv8tSm7t8VZ7IorjOzSp7rKzif9VPuz9Nytxq97sqsug[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y9LTsMwEIbvYiFWdZyEhohIFYoQO7Ih5QBje%2BpaIbY141TQirsTyoYrsPyf0ncRAT/yiw8Ti%2B4invtx/zaKThxzTtwpNUMAhzOGXMB5ISxMnBUvmg35lH0MrNrWNqDLe9mitXKLaKQ2%2BCCb2lSVbhut71qVKJ68RWI1eEOR4yEXfUpPMRy8Wwh%2BrpT5q8YcCfkRkpendbfmu7qst7JsZFnd3vDk0z5OGHbno/9cILx7CE5m5FyLr40AmnvnCB1ktNfiStW/DmJzJR6AJqTV%2BiXu/jnvNw%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 90b81483-6fb7-4cf2-96bf-e2f7a95bb722
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://kvtestzrk46tzty3jpt2n7g6.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2025-01-07T17:19:51+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://kvtestzrk46tzty3jpt2n7g6.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2025-01-07T17:19:51+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://kvtestzrk46tzty3jpt2n7g6.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2025-01-07T17:19:51+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://kvtestzrk46tzty3jpt2n7g6.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2025-01-07T17:19:51+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 07 2025 17:20:29.888168 GMT
    method: GET
    uri: https://kvtestzrk46tzty3jpt2n7g6.azconfig.io/kv?key=%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM4MTA0ODc2Mw==;sn=81048763
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM4MTA0ODc2Mw==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 07 2025 17:20:30.278756 GMT
    method: GET
    uri: https://kvtestzrk46tzty3jpt2n7g6.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM4MTA0ODc2Mw==;sn=81048763
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM4MTA0ODc2Mw==
      x-ms-content-sha256:
      - 8WbJD7/UEsJxdm57NyAJb7LVyyTqfsp3TjO8lc9PmCQ=
      x-ms-date:
      - Jan, 07 2025 17:20:30.388222 GMT
    method: PUT
    uri: https://kvtestzrk46tzty3jpt2n7g6.azconfig.io/kv/Language?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"OyMKM6XxRSXQhuc_HdctXboLgaBh_nm2CmPzlIW3Sn0","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2025-01-07T17:20:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OyMKM6XxRSXQhuc_HdctXboLgaBh_nm2CmPzlIW3Sn0"'
      last-modified:
      - Tue, 07 Jan 2025 17:20:34 GMT
      sync-token:
      - zAJw6V16=NDoxOSM4MTA0ODc2NA==;sn=81048764
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "locked": false}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM4MTA0ODc2NA==
      x-ms-content-sha256:
      - 01idTflhlaSEI1zSjkkdI2+zHPANw/nTGXFK7DjNguQ=
      x-ms-date:
      - Jan, 07 2025 17:20:30.513315 GMT
    method: PUT
    uri: https://kvtestzrk46tzty3jpt2n7g6.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"2gm8kPour7B4hBSas18-H0yN-TwYe520pmGQCg8llJE","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"enabled\": false, \"conditions\": {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2025-01-07T17:20:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2gm8kPour7B4hBSas18-H0yN-TwYe520pmGQCg8llJE"'
      last-modified:
      - Tue, 07 Jan 2025 17:20:34 GMT
      sync-token:
      - zAJw6V16=NDoxOSM4MTA0ODc2NQ==;sn=81048765
    status:
      code: 200
      message: OK
[...]
