interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2024-11-21T08:09:42.1632496+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002",
        "name": "Source000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/x2Wt0eKkZH5BU9oRTBxX1sOMi2UQHZQ30WxysuHi-Wk?api-version=2024-05-01&t=638677733823940290&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/x2Wt0eKkZH5BU9oRTBxX1sOMi2UQHZQ30WxysuHi-Wk?api-version=2024-05-01&t=638677733823940290&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2024-11-21T08:09:42+00:00", "endpoint": "https://sourcegg6l45h5h36jh4lvhg.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-21T08:09:42+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-11-21T08:09:42+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcegg6l45h5h36jh4lvhg",
        "name": "Source000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5104eb5c-0000-0100-0000-673eeac80000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrfUts4GMXfJbOzVxKBUJYpM52OFtxtFkionUy23CmOEhwS2SvZDaSz7776ZFs4KS9wLtsOHR/O91%2B/nz2tXsq7TD/b3tXP3ixKJtfRaBKLu2nSu%2Bo9lWVhr/r9rdRypbZKlydyXxl1kubbvq3mNjVZUWa5tv3Ly8WFnJ/%2BwS/VYsE/KJXyeao%2B8otBenY2v7yYz88v%2B4XJf2QLZWz/PktNbvNleSKK4jrXy2xVGUn/VT/t/ikpc6PsZ1lk/If[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 57244287-2be8-4338-a4db-3b01ab03f8a2
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://sourcegg6l45h5h36jh4lvhg.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-11-21T08:09:42+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://sourcegg6l45h5h36jh4lvhg.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-11-21T08:09:42+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://sourcegg6l45h5h36jh4lvhg.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-11-21T08:09:42+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://sourcegg6l45h5h36jh4lvhg.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-11-21T08:09:42+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2024-05-01
  response:
    body:
      str[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/C6-TCYV2xVZh9hZikrMXFc40bqDKUBYfq0l-Yy-j9HQ?api-version=2024-05-01&t=638677734351804398&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Zrfbts2GMXfxRh2RcaJUy9YgGLgEnXVmtiZZMNr7miJduTYlCZKdeJi7z5%2BlMTIbvYA57ItUujkfP/5%2Bz7Q6qW6y/SzGVx/HyyCeHYTTGaRuJvHg%2BvBU1UV5no43Ekt12qndHUmD3WpzpJ8NzT10iRlVlRZrs3w6iody%2BX5L/xKpSn/oFTCl4n6lY9HycXF8mq8XF5eDYsy/5alqjTD%2Bywpc5OvqjNRFDe5XmXrupT0Xw2T/p/iKi%2BV%2BU0[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://destinationdqmlpjvdf7m2c.azconfig.io;Id=sanitized[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:27.245129 GMT
    method: GET
    uri: https://sourcegg6l45h5h36jh4lvhg.azconfig.io/kv/Color?label=v1&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM3NA==;sn=75629374
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTM3NA==
      x-ms-content-sha256:
      - opxXzk3c6Pv5xJQRGK2KYQWFiTofPo7eDjsA5Z7RZjU=
      x-ms-date:
      - Nov, 21 2024 08:11:27.640941 GMT
    method: PUT
    uri: https://sourcegg6l45h5h36jh4lvhg.azconfig.io/kv/Color?label=v1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"S6LiRUg0qLnql-tUEzeCoq6ti13jqlyDRbiHEV8aGew","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"S6LiRUg0qLnql-tUEzeCoq6ti13jqlyDRbiHEV8aGew"'
      last-modified:
      - Thu, 21 Nov 2024 08:11:27 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM3NQ==;sn=75629375
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:28.230901 GMT
    method: GET
    uri: https://sourcegg6l45h5h36jh4lvhg.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM3Ng==;sn=75629376
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}, "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTM3Ng==
      x-ms-content-sha256:
      - DkiljUK6U6QEyjKN4Cv+ejM0DLAIfMed+HIb6hA/bcU=
      x-ms-date:
      - Nov, 21 2024 08:11:28.526921 GMT
    method: PUT
    uri: https://sourcegg6l45h5h36jh4lvhg.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"eXInSO15hpxhrsdiRP-ttg7HRjkmLOPQu27IwiCrAw8","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eXInSO15hpxhrsdiRP-ttg7HRjkmLOPQu27IwiCrAw8"'
      last-modified:
      - Thu, 21 Nov 2024 08:11:28 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM3Nw==;sn=75629377
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:29.263919 GMT
    method: GET
    uri: https://sourcegg6l45h5h36jh4lvhg.azconfig.io/kv?label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"LrLqlgUEX4D8DSmCqV7j2wsd-TjP1W159TUjvMu9Qr0","items":[{"etag":"eXInSO15hpxhrsdiRP-ttg7HRjkmLOPQu27IwiCrAw8","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:28+00:00"},{"etag":"XFoAbn02NAW7KOKqVfDOPGV4OlhzUCEJiAdtXRPR3Vc","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:29+00:00"},{"etag":"S6LiRUg0qLnql-tUEzeCoq6ti13jqlyDRbiHEV8aGew","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:27+00:00"},{"etag":"7UAL5-cTakV2Zqmf8qPfcmPk4q1cSNXXvr0msdInNcw","key":"Color","label":"v2","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:28+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"LrLqlgUEX4D8DSmCqV7j2wsd-TjP1W159TUjvMu9Qr0"'
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM3OA==;sn=75629378
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTM3OA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:29.593294 GMT
    method: GET
    uri: https://sourcegg6l45h5h36jh4lvhg.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"7jFM-Dnbc-JxKBc4SwbwwkGg2eJts0GycGUDJA-WjWE","items":[{"etag":"eXInSO15hp[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:29.698631 GMT
    method: GET
    uri: https://destinationdqmlpjvdf7m2c.azconfig.io/kv?key=%2A&label=DestLabel&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM3OA==;sn=75629378
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTM3OA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:30.058206 GMT
    method: GET
    uri: https://destinationdqmlpjvdf7m2c.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=DestLabel&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM3OA==;sn=75629378
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "DestLabel", "content_type": "", "value": "Red",
      "tags": {}, "locked": false, "etag": "S6LiRUg0qLnql-tUEzeCoq6ti13jqlyDRbiHEV8aGew"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTM3OA==
      x-ms-content-sha256:
      - VcMKp1e2e8+e4A89xYb/Ru9sESVTzfZJ8fWOCBcyJck=
      x-ms-date:
      - Nov, 21 2024 08:11:30.167295 GMT
    method: PUT
    uri: https://destinationdqmlpjvdf7m2c.azconfig.io/kv/Color?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"O6E4PzFU-PEB2rgAtTIWbv9O1L2q4YNMKTcY4BKcPsw","key":"Color","label":"DestLabel","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"O6E4PzFU-PEB2rgAtTIWbv9O1L2q4YNMKTcY4BKcPsw"'
      last-modified:
      - Thu, 21 Nov 2024 08:11:30 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM4Mw==;sn=75629383
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "DestLabel", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}, \"display_name\": null}", "tags": {}, "locked": false, "etag": "eXInSO15hpxhrsdiRP-ttg7HRjkmLOPQu27IwiCrAw8"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTM4NA==
      x-ms-content-sha256:
      - CG9f6BbapI+92Z3G2KMkUf0DPJxg9BRCkyDF8ks3Pk4=
      x-ms-date:
      - Nov, 21 2024 08:11:30.386509 GMT
    method: PUT
    uri: https://destinationdqmlpjvdf7m2c.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"Ja6yAkLUflEX-R5Q2dT9H-TV_jnW1TlalVBajFwTkv4","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Ja6yAkLUflEX-R5Q2dT9H-TV_jnW1TlalVBajFwTkv4"'
      last-modified:
      - Thu, 21 Nov 2024 08:11:30 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM4OA==;sn=75629388
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:30.859761 GMT
    method: GET
    uri: https://destinationdqmlpjvdf7m2c.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"ydC4lSHJyqs2DQsv5LE0MQVZ0lzAkvNWHeCsrCW2w1s","items":[{"etag":"SVI1bSuuVDt3hyhdKzMV1Z9FS_2o2KApIETP0GSvPH0","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:30+00:00"},{"etag":"b-FKPh7NopLNUs5Bu4PIMkBbDGmOVsyglHsOPuC1Zjo","key":"Color","label":"DestLabel","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:30+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"ydC4lSHJyqs2DQsv5LE0MQVZ0lzAkvNWHeCsrCW2w1s"'
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM5Ng==;sn=75629396
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"SVI1bSuuVDt3hyhdKzMV1Z9FS_2o2KApIETP0GSvPH0"'
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTM5Ng==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:31.173412 GMT
    method: DELETE
    uri: https://destinationdqmlpjvdf7m2c.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"SVI1bSuuVDt3hyhdKzMV1Z9FS_2o2KApIETP0GSvPH0","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:30+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"SVI1bSuuVDt3hyhdKzMV1Z9FS_2o2KApIETP0GSvPH0"'
      last-modified:
      - Thu, 21 Nov 2024 08:11:30 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM5Nw==;sn=75629397
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:31.870814 GMT
    method: GET
    uri: https://destinationdqmlpjvdf7m2c.azconfig.io/kv?key=%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM5OA==;sn=75629398
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTM5OA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:32.203348 GMT
    method: GET
    uri: https://destinationdqmlpjvdf7m2c.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM5OA==;sn=75629398
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red", "tags": {}, "locked":
      false, "etag": "S6LiRUg0qLnql-tUEzeCoq6ti13jqlyDRbiHEV8aGew"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTM5OA==
      x-ms-content-sha256:
      - mg6bLYwDHcWlP8sLCt7H6rdIG9gSfNnL9GOzJiKisMY=
      x-ms-date:
      - Nov, 21 2024 08:11:32.318565 GMT
    method: PUT
    uri: https://destinationdqmlpjvdf7m2c.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"ZLY78J62GJhAL95XMYhHBxjVoyLJVlXeamd5lSlsXpQ","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-11-21T08:11:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZLY78J62GJhAL95XMYhHBxjVoyLJVlXeamd5lSlsXpQ"'
      last-modified:
      - Thu, 21 Nov 2024 08:11:32 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NTYyOTM5OQ==;sn=75629399
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}, \"display_name\": null}", "tags": {}, "locked": false,
      "etag": "eXInSO15hpxhrsdiRP-ttg7HRjkmLOPQu27IwiCrAw8"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTQwMg==
     [...]
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM3NTYyOTQxMg==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 21 2024 08:11:33.951701 GMT
    method: GET
    uri: https://s