interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-10-16T18:02:44.0575636+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/11f85253-d642-7494-aba2-104c8b49fa94?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/11f85253-d642-7494-aba2-104c8b49fa94?api-version=2019-02-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/11f85253-d642-7494-aba2-104c8b49fa94","name":"11f85253-d642-7494-aba2-104c8b49fa94","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/11f85253-d642-7494-aba2-104c8b49fa94?api-version=2019-02-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-02-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-10-16T18:02:44+00:00","endpoint":"https://importtesttmpqughzm7ildn.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtesttmpqughzm7ildn","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6f00b9d9-0000-0100-0000-5da75b440000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","prop[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"IfDX-l0-s0:JdlduTN7o8UJPk0nkKd4","name":"Primary","value":"AB/dPPCNHXM6PmiL427suzKxBS1bCX3Pts9qI8uyaCE=","connectionString":"Endpoint=https://importtesttmpqughzm7ildn.azconfig.io;Id=IfDX-l0-s0:JdlduTN7o8UJPk0nkKd4;Secret=AB/dPPCNHXM6PmiL427suzKxBS1bCX3Pts9qI8uyaCE=","lastModified":"2019-10-16T18:02:44+00:00","readOnly":false},{"id":"Uv0E-l0-s0:GIgeeukS1J7N6+nAxc0l","name":"Secondary","value":"QT6btynVTuwOi1EOFg50y5u7OJtZNF6d0haNwZwbDY4=","connectionString":"Endpoint=https://importtesttmpqughzm7ildn.azconfig.io;Id=Uv0E-l0-s0:GIgeeukS1J7N6+nAxc0l;Secret=QT6btynVTuwOi1EOFg50y5u7OJtZNF6d0haNwZwbDY4=","lastModified":"2019-10-16T18:02:44+00:00","readOnly":false},{"id":"oHNn-l0-s0:sTeNKI1RdHNuHnta4x+w","name":"Primary
        Read Only","value":"zzX+zHixNAwcycBPaSC3cIeH/JJbKfbulLWY4MOUu0g=","connectionString":"Endpoint=https://importtesttmpqughzm7ildn.azconfig.io;Id=oHNn-l0-s0:sTeNKI1RdHNuHnta4x+w;Secret=zzX+zHixNAwcycBPaSC3cIeH/JJbKfbulLWY4MOUu0g=","lastModified":"2019-10-16T18:02:44+00:00","readOnly":true},{"id":"vFft-l0-s0:LM5b4CUhtZX9TMxKUH8p","name":"Secondary
        Read Only","value":"/XVe3KtVBYgz3wjjMqnnWaXqXRtiF9lMibw93MTbQc8=","connectionString":"Endpoint=https://importtesttmpqughzm7ildn.azconfig.io;Id=vFft-l0-s0:LM5b4CUhtZX9TMxKUH8p;Secret=/XVe3KtVBYgz3wjjMqnnWaXqXRtiF9lMibw93MTbQc8=","lastModified":"2019-10-16T18:02:44+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Oct, 16 2019 18:03:01 GMT
    method: PUT
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv/BackgroundColor?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"JK2MHRFHIB157347TDXzSgbI637","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JK2MHRFHIB157347TDXzSgbI637"'
      last-modified:
      - Wed, 16 Oct 2019 18:03:02 GMT
      sync-token:
      - zAJw6V16=MzotMSM1MTQ4MzQ=;sn=514834
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Oct, 16 2019 18:03:02 GMT
    method: PUT
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv/Language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"ANXk6OLmvIMQiAOZYewvBxEKpnY","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ANXk6OLmvIMQiAOZYewvBxEKpnY"'
      last-modified:
      - Wed, 16 Oct 2019 18:03:02 GMT
      sync-token:
      - zAJw6V16=MzotMSM1MTQ4MzU=;sn=514835
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Oct, 16 2019 18:03:02 GMT
    method: PUT
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv/Langugage?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"JaJLdvWPbY80uD6y4osW3C2Xb0I","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JaJLdvWPbY80uD6y4osW3C2Xb0I"'
      last-modified:
      - Wed, 16 Oct 2019 18:03:02 GMT
      sync-token:
      - zAJw6V16=MzotMSM1MTQ4MzY=;sn=514836
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Oct, 16 2019 18:03:02 GMT
    method: PUT
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"GxEL1LhoAiSdqGPGylqzkap3ap8","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GxEL1LhoAiSdqGPGylqzkap3ap8"'
      last-modified:
      - Wed, 16 Oct 2019 18:03:02 GMT
      sync-token:
      - zAJw6V16=MzotMSM1MTQ4Mzg=;sn=514838
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Oct, 16 2019 18:03:02 GMT
    method: PUT
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"wUFWbli8lumiVuZh9VOs1puFfcs","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:02+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wUFWbli8lumiVuZh9VOs1puFfcs"'
      last-modified:
      - Wed, 16 Oct 2019 18:03:02 GMT
      sync-token:
      - zAJw6V16=MzotMSM1MTQ4Mzk=;sn=514839
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Oct, 16 2019 18:03:02 GMT
    method: PUT
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv/abc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"bOuz4w438QjOWe34PVBBiL8R7Vp","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bOuz4w438QjOWe34PVBBiL8R7Vp"'
      last-modified:
      - Wed, 16 Oct 2019 18:03:03 GMT
      sync-token:
      - zAJw6V16=MzotMSM1MTQ4NDI=;sn=514842
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Oct, 16 2019 18:03:02 GMT
    method: PUT
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv/appabc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"LOLqXXWqRHn5spn3PRebHS6q43F","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"LOLqXXWqRHn5spn3PRebHS6q43F"'
      last-modified:
      - Wed, 16 Oct 2019 18:03:03 GMT
      sync-token:
      - zAJw6V16=MzotMSM1MTQ4NDM=;sn=514843
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Oct, 16 2019 18:03:02 GMT
    method: PUT
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv/background-color?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"xtMp91hiPxjh6fcY7Al43Hjx3n1","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"xtMp91hiPxjh6fcY7Al43Hjx3n1"'
      last-modified:
      - Wed, 16 Oct 2019 18:03:03 GMT
      sync-token:
      - zAJw6V16=MzotMSM1MTQ4NDQ=;sn=514844
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Oct, 16 2019 18:03:02 GMT
    method: PUT
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv/font-size?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"wPgx3Jou3OniBcZmdSv9OzPsUWb","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"wPgx3Jou3OniBcZmdSv9OzPsUWb"'
      last-modified:
      - Wed, 16 Oct 2019 18:03:03 GMT
      sync-token:
      - zAJw6V16=MzotMSM1MTQ4NDU=;sn=514845
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Oct, 16 2019 18:03:03 GMT
    method: PUT
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv/language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"yLd0SwBu2VORUM22CqgdhMh7lZz","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yLd0SwBu2VORUM22CqgdhMh7lZz"'
      last-modified:
      - Wed, 16 Oct 2019 18:03:03 GMT
      sync-token:
      - zAJw6V16=MzotMSM1MTQ4NDY=;sn=514846
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 16 2019 18:03:04 GMT
    method: GET
    uri: https://importtesttmpqughzm7ildn.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"JK2MHRFHIB157347TDXzSgbI637","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:02+00:00"},{"etag":"ANXk6OLmvIMQiAOZYewvBxEKpnY","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-10-16T18:03:02+00:00"},{"etag":"JaJLdvWPbY80uD6y4osW3C2Xb0I","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
