interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"5aa5d686-0908-4f9b-81ff-59e7dfb727ac","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Creating","creationDate":"2023-07-21T23:14:13.3938861+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002","name":"MgmtTest000002","tags":{"key":"value"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/s4qIVq2xzMJQo7CjDeV6tDFSvcUBy8C9hzq012RLHV4?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/s4qIVq2xzMJQo7CjDeV6tDFSvcUBy8C9hzq012RLHV4?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/s4qIVq2xzMJQo7CjDeV6tDFSvcUBy8C9hzq012RLHV4","name":"s4qIVq2xzMJQo7CjDeV6tDFSvcUBy8C9hzq012RLHV4","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/s4qIVq2xzMJQo7CjDeV6tDFSvcUBy8C9hzq012RLHV4?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"5aa5d686-0908-4f9b-81ff-59e7dfb727ac","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T23:14:14+00:00","endpoint":"https://mgmttest7iljnh3rcojq4x6h.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T23:14:14+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T23:14:15+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttest7iljnh3rcojq4x6h","name":"MgmtTest000002","tags":{"key":"value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e206c26e-0000-0100-0000-64bb11470000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"5aa5d686-0908-4f9b-81ff-59e7dfb727ac","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T23:14:14+00:00","endpoint":"https://mgmttest7iljnh3rcojq4x6h.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T23:14:14+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T23:14:15+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttest7iljnh3rcojq4x6h","name":"MgmtTest000002","tags":{"key":"value"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skipToken=mgmttest7iljnh3rcojq4x6h"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/clitest.rg2pdtp6ozfdqajavseim4y2xr25a7rzt5x2n6q5n2b2rdvxxhslwwphogf7izeas25/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skipToken=mgmttest7iljnh3rcojq4x6h>;
        rel="next"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skipToken=mgmttest7iljnh3rcojq4x6h
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Standard"}, "tags": {"Env": "Prod"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"5aa5d686-0908-4f9b-81ff-59e7dfb7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/cmk-test-keyvault000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+1
        (425) 4213985"],"displayName":"Albert Ofori","givenName":"Albert","jobTitle":"SOFTWARE
        ENGINEER","mail":"albertofori@microsoft.com","mobilePhone":null,"officeLocation":"18/2450FL","preferredLanguage":null,"surname":"Ofori","userPrincipalName":"albertofori@microsoft.com","id":"35296b93-33f5-48e5-b41e-3e29f64921e6"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"1","ScaleUnit":"000","RoleInstance":"CO1PEPF00000D13"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enablePurgeProtection": true, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003","name":"cmk-test-keyvault000003","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T23:14:57.456Z","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T23:14:57.456Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"35296b93-33f5-48e5-b41e-3e29f64921e6","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://cmk-test-keyvault000003.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://cmk-test-keyvault000003.vault.azure.net/keys/key/10b752da1f964d2baf4fe50ff8ed94d4","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rXmVvecEfJB2o2rtA9WcFmxd8OgvCKFoHoeHB6kQKkRTEC-KZR2GTTderMQZbtNBH5L8J3f6k_DWBDy4UUbLNojpjXF7CIDcoRRhlrkc_4oJHlprBtKA2IG2eXx5dgCW5aaf3qiqn6qW2oCGZule3ySH35Wr-S2u2gby9PEw2xywNyE6UpZTILZsmrrcrjrNP3AQvWrC1ywVW-dg-E5cKY7UAQTevzKIDW2AtVBgrMAygvh2rLCPmzkDz3zJGS5IzY5yRaF8x1csiyMihIOUw0uVsceKMRXEDqI-NYZPdRoZX5h477nddRyvExxEa9tjcq11GNUWyu7_KWO1FsZ-zQ","e":"AQAB"},"attributes":{"enabled":true,"created":1689981330,"updated":1689981330,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azcfgbilling-group-xuxu-test-keyvault/providers/Microsoft.KeyVault/vaults/xuxutest-keyvault","name":"xuxutest-keyvault","type":"Microsoft.Ke[...]
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "5aa5d686-090[...]
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyIdentifier":
      "https://cmk-test-keyvault000003.vault.azure.net/keys/key/"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"5aa5d686-0908-4f9b-81ff-59e7dfb727ac","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T23:14:14+00:00","endpoint":"https://mgmttest7iljnh3rcojq4x6h.azconfig.io","encryption":{"keyVaultProperties":{"keyIdentifier":"https://cmk-test-keyvault000003.vault.azure.net/keys/key/","identityClientId":null}},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T23:14:14+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T23:15:32+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttest7iljnh3rcojq4x6h","name":"MgmtTest000002","tags":{"Env":"Prod"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e2061b78-0000-0100-0000-64bb11940000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1J3hpdWpc6sn59mmSi2wcODBHKVAUIhArn_jjv5fXts?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1J3hpdWpc6sn59mmSi2wcODBHKVAUIhArn_jjv5fXts","name":"1J3hpdWpc6sn59mmSi2wcODBHKVAUIhArn_jjv5fXts","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/1J3hpdWpc6sn59mmSi2wcODBHKVAUIhArn_jjv5fXts?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/deletedConfigurationStores/albertofori-tst-55","name":"albertofori-tst-55","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/albertoforirg/providers/Microsoft.AppConfiguration/configurationStores/albertofori-tst-55","location":"westus","deletionDate":"2023-07-18T16:17:09+00:00","scheduledPurgeDate":"2023-07-25T16:17:09+00:00","tags":{},"purgeProtectionEnabled":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/deletedConfigurationStores/albertofori-tst-58","name":"albertofori-tst-58","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/albertoforirg/providers/Microsoft.AppConfiguration/configurationStores/albertofori-tst-58","location":"westus","deletionDate":"2023-07-1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2023-03-01&$skiptoken=1ZTdasIwFMffJYxdGaPVrijIKFLYhW7DVnadj2MNtkk4SXWb%2BO6LCsIeoXCuwkngl/HmRj4DittDp7Mz%2BSrKKttSeZkH4Lzc8ZabngNLZgw5L8dwlDalvlOeInaBW2NZ1mmUi5GLzQDpegUQFIhYUbTRI7HIkuFmGTMoT1qBejZWku03u7CMHduac1O1x3y61NMQQMB1L/DMlgE/8qdpsd4Pa4tklEyoaM44%2Bcnf9CusgcwC94IwGB3FjUNPtB0RgakyHvLEyBCRBp6/5UIU35sq7dl8V5t8lVfRXKOetuFPZXRUsgb2vlIdrdd0k/fRaTTVasbyUOeYpt/9pJHSIUOdcvxhzsnbwF9JCnpLZY33Pm9jc0Q%2BwS65tTqKZiGk8uAcGzzukaoeWyfW5tE5fLNmlz%2BAA%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - c522c6ee-50fd-4689-9d0c-d158f4038df4
      - 749cb1f0-f343-48f0-bd21-d8c5f2dd5769
      - 5b4db30d-5e89-40bd-b341-78c4f3e7f50f
      - 57d097b3-ee3a-4eb9-a43f-71cfdea31714
      - 597b62e1-b26a-448f-a4df-38cba26fc34d
      - 2d294f59-6d5d-4830-8b4f-02d3fe092c16
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/MgmtTestdel000004?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/mgmttestdel2yox7uu35zyre","name":"MgmtTestdel000004","type":"Microsoft.AppConfiguration/deletedConfigurationStores","properties":{"configurationStoreId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestdel2yox7uu35zyre","location":"eastus","deletionDate":"2023-07-21T23:16:20+00:00","scheduledPurgeDate":"2023-07-22T23:16:20+00:00","tags":{"key":"value"},"purgeProtectionEnabled":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e206bf7e-0000-0100-0000-64bb11c40000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/qgor-_llg7-qQSxIDxu-bsfhHbnIRGmBOV89_cOHrps?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/qgor-_llg7-qQSxIDxu-bsfhHbnIRGmBOV89_cOHrps","name":"qgor-_llg7-qQSxIDxu-bsfhHbnIRGmBOV89_cOHrps","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/qgor-_llg7-qQSxIDxu-bsfhHbnIRGmBOV89_cOHrps?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/deletedConfigurationStores/MgmtTestdel000004/purge?api-version=2023-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2023-03-01&$skiptoken=1ZTdasIwFMffJYxdGaPVrijIKFLYhW7DVnadj2MNtkk4SXWb%2BO6LCsIeoXCuwkngl/HmRj4DittDp7Mz%2BSrKKttSeZkH4Lzc8ZabngNLZgw5L8dwlDalvlOeInaBW2NZ1mmUi5GLzQDpegUQFIhYUbTRI7HIkuFmGTMoT1qBejZWku03u7CMHduac1O1x3y61NMQQMB1L/DMlgE/8qdpsd4Pa4tklEyoaM44%2Bcnf9CusgcwC94IwGB3FjUNPtB0RgakyHvLEyBCRBp6/5UIU35sq7dl8V5t8lVfRXKOetuFPZXRUsgb2vlIdrdd0k/fRaTTVasbyUOeYpt/9pJHSIUOdcvxhzsnbwF9JCnpLZY33Pm9jc0Q%2BwS65tTqKZiGk8uAcGzzukaoeWyfW5tE5fLNmlz%2BAA%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - bf5ddf89-fb8e-4785-98a0-e5c021edcd16
      - d39e076f-365e-4fc1-beb9-7b7e94e82a6d
      - 97a8001f-171d-47b2-8e07-400df846de38
      - 809c373f-97da-4674-b371-b77b33d77675
      - 1f54c01c-30dd-49e8-9c52-31ccbb3f2ac8
      - f3bdbc12-b969-4d70-b34b-7b21bb2b8ea7
    status:
      code: 200
      message: OK
version: 1
