interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2024-06-28T08:24:49.2727604+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/WZyfJGVpU3uJ5w79d193RyljNH2C0ecU1mKfQ55Utjo?api-version=2023-03-01&t=638551598898171917&c=MIIHpTCCBo2gAwIBAgITfwN_Ssg1LQGiNqibQwAEA39KyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI3MTUzNTUxWhcNMjUwNjIyMTUzNTUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/WZyfJGVpU3uJ5w79d193RyljNH2C0ecU1mKfQ55Utjo?api-version=2023-03-01&t=638551598898171917&c=MIIHpTCCBo2gAwIBAgITfwN_Ssg1LQGiNqibQwAEA39KyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI3MTUzNTUxWhcNMjUwNjIyMTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2024-06-28T08:24:50+00:00","endpoint":"https://source4k3sdxw2e4wzdcjxca.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"cwanjau@microsoft.com","createdByType":"User","createdAt":"2024-06-28T08:24:50+00:00","lastModifiedBy":"cwanjau@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-06-28T08:24:50+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/source4k3sdxw2e4wzdcjxca","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05004a1a-0000-0100-0000-667e73520000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest","name":"garywangtest","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},"privateLinkServiceConnectionState":{"status":"Pending","description":"ms","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-28T11:10:07+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Znrbts2FIDfxRj2i4wTe5mxAMXAOeoq1JdMsuC1/2iZ9mTLlEZKcZJi775zKImRk7zAAYoATZHAX8%2Bd34%2BBVk/VLNNHO7j7MVgH8WoaLFaRmCXx4G7wT1WV9m44PEkt9%2BqkdHUlX2qjrtLiNLT1xqYmK6us0HY4mWxv5eb6Vz5R2y3/RamUb1L1G78dpTc3m8ntZjOeDEtTPGZbZexwnqWmsMWuuhJlOS30LtvXRuKvGqb9v8VVYZT9XZYZf4Sfg3/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3Y/bSsQwEIbfJYhXm6btWsMWFininb2x6wPkMBtDyYFJWlcX391Yb3wGYWCY/%2Bcb%2BK7EwyU/Wz8n0l/J0zCdXifSk7ecY%2BoZc8ILAw58rsTnglCp4FhaZFJoY7bBJ8a57oSs7ykHrekdgKJSwYF2rWoayTsp95xFDKvVgImNVmFI4ZyrIcbH4M/WLCh%2BXjH195pyQEgPIlq6Fq70x7Zu97Qu09zepNnGU5jBHz%2BWd6DWxYCZwmVbIkaaAFergHztiEA3GINgRAa9QcVweBnJbrMfBc6AJfq17/%2BR%2Bzc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - e345dcf4-16d7-4745-a485-ad2548c5a0a4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"xidD","name":"Primary","value":"3X1GIxYGCahgFKe0aevZ4h5BYZvPZg4rbsTydFyplFmZWFrOws8kJQQJ99AFACYeBjFAArohAAACAZACjd0B","connectionString":"Endpoint=https://source4k3sdxw2e4wzdcjxca.azconfig.io;Id=xidD;Secret=3X1GIxYGCahgFKe0aevZ4h5BYZvPZg4rbsTydFyplFmZWFrOws8kJQQJ99AFACYeBjFAArohAAACAZACjd0B","lastModified":"2024-06-28T08:24:49+00:00","readOnly":false},{"id":"I1ld","name":"Secondary","value":"D7WEuq0UphzqkZmarxS4jUYPihZqjMiAbDPmf4Nwu6C5Ek1MbJR1JQQJ99AFACYeBjFAArohAAACAZACuhYf","connectionString":"Endpoint=https://source4k3sdxw2e4wzdcjxca.azconfig.io;Id=I1ld;Secret=D7WEuq0UphzqkZmarxS4jUYPihZqjMiAbDPmf4Nwu6C5Ek1MbJR1JQQJ99AFACYeBjFAArohAAACAZACuhYf","lastModified":"2024-06-28T08:24:49+00:00","readOnly":false},{"id":"k48n","name":"Primary
        Read Only","value":"GADwzuQJ1tj5Mcaf7PMsdom4qUBedclvIC6mzBP19hUf4HnsCuLKJQQJ99AFACYeBjFAArohAAABAZACA4Vu","connectionString":"Endpoint=https://source4k3sdxw2e4wzdcjxca.azconfig.io;Id=k48n;Secret=GADwzuQJ1tj5Mcaf7PMsdom4qUBedclvIC6mzBP19hUf4HnsCuLKJQQJ99AFACYeBjFAArohAAABAZACA4Vu","lastModified":"2024-06-28T08:24:49+00:00","readOnly":true},{"id":"cKmb","name":"Secondary
        Read Only","value":"FisRWIEmr84sLzhaIcbBGf4NHP4RUU6d2AgLYGfbW2ulonJFGG5FJQQJ99AFACYeBjFAArohAAABAZACax3X","connectionString":"Endpoint=https://source4k3sdxw2e4wzdcjxca.azconfig.io;Id=cKmb;Secret=FisRWIEmr84sLzhaIcbBGf4NHP4RUU6d2AgLYGfbW2ulonJFGG5FJQQJ99AFACYeBjFAArohAAABAZACax3X","lastModified":"2024-06-28T08:24:49+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/fpOY20cAXdmKu3ahJkx0uSEM13zsmqTBiI1zC22gFT4?api-version=2023-03-01&t=638551599345556755&c=MIIHpTCCBo2gAwIBAgITfwN_Ssg1LQGiNqibQwAEA39KyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI3MTUzNTUxWhcNMjUwNjIyMTU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1Zrdbts2GIbvxRh2RMWJncxogGLgHHU16tiZZMFrz2iZ9uQfSSOlyHGxe99HSmLkJDfwAj1pigR%2B8v3z6c9eKk/FNEn3unf/s7f0w8XYny0CPo3C3n3vn6LI9X2/fxSp2MqjTIsrcS6VvIqzY1%2BXKx2rJC%2BSLNX90Wh9J1bXv3kjuV57t1LG3iqWn7y7QXxzsxrdrVbDUT9X2XOylkr3H5NYZTrbFFc8z8dZukm2pRLmR/Xj7t/CIlNS/y7yxHum76N[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"HGU6","name":"Primary","value":"A4iSlB0polPhvoBpLd8KeDGkdePGispshlVNONc8qksc0J6Kpmh6JQQJ99AFACYeBjFAArohAAACAZACah12","connectionString":"Endpoint=https://destina[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:13 GMT
    method: GET
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1Mzg2MQ==;sn=65353861
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM2NTM1Mzg2MQ==
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Jun, 28 2024 08:26:14 GMT
    method: PUT
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"UrbtJH-HOyJMeSpQYBV-XFTdosVbD7HKO8MGd4ZiKXw","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"UrbtJH-HOyJMeSpQYBV-XFTdosVbD7HKO8MGd4ZiKXw"'
      last-modified:
      - Fri, 28 Jun 2024 08:26:15 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1Mzg2Mg==;sn=65353862
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3MQ==
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Jun, 28 2024 08:26:27 GMT
    method: PUT
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"Lk2ZWMd2QvMaJttwFqPt21F2xDtbBjAUW9VLkbfyGHc","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Lk2ZWMd2QvMaJttwFqPt21F2xDtbBjAUW9VLkbfyGHc"'
      last-modified:
      - Fri, 28 Jun 2024 08:26:27 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3Mg==;sn=65353872
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3Mg==
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Jun, 28 2024 08:26:29 GMT
    method: PUT
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"aFDCWRT-u-UJ98GvM1dMxHXIgoKSdcNYHxwqvy7XsO4","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:29+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"aFDCWRT-u-UJ98GvM1dMxHXIgoKSdcNYHxwqvy7XsO4"'
      last-modified:
      - Fri, 28 Jun 2024 08:26:29 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3Mw==;sn=65353873
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:35 GMT
    method: GET
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3Nw==;sn=65353877
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3Nw==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Jun, 28 2024 08:26:36 GMT
    method: PUT
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"o0JY9CsjdFaXykznyssFuiQt2kzJK7XyiNk4S0W16GM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"o0JY9CsjdFaXykznyssFuiQt2kzJK7XyiNk4S0W16GM"'
      last-modified:
      - Fri, 28 Jun 2024 08:26:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3OA==;sn=65353878
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:37 GMT
    method: GET
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3OA==;sn=65353878
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:38 GMT
    method: GET
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"o0JY9CsjdFaXykznyssFuiQt2kzJK7XyiNk4S0W16GM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:37+00:00"},{"etag":"hRhuowJgQUjL30bH3hVFFDnt4tntGTtH5NU-kxGB46s","key":"HostSecrets","label":null,"content_type":"application/vnd.mi[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3OQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:39 GMT
    method: GET
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"o0JY9CsjdFaXykznyssFuiQt2kzJK7XyiNk4S0W16GM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:37+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3OQ==;sn=65353879
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:39 GMT
    method: GET
    uri: https://destinationbshcrd6bavqhg.azconfig.io/kv?key=%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSM1NjQ5MzA5OA==;sn=56493098
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzoxOSM1NjQ5MzA5OA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:41 GMT
    method: GET
    uri: https://destinationbshcrd6bavqhg.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSM1NjQ5MzA5OA==;sn=56493098
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/json", "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM1NjQ5MzA5OA==
      x-ms-content-sha256:
      - BQQ1gp4Y1tNofWlDIrl2nQAUENI/IgK/dzCjjxGKUD8=
      x-ms-date:
      - Jun, 28 2024 08:26:41 GMT
    method: PUT
    uri: https://destinationbshcrd6bavqhg.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: '{"etag":"hXVGOpIa-mzR0RFl50VSdoLmX2dCHf_NsZbUARr5bKg","key":"HostSecrets","label":null,"content_type":"application/json","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hXVGOpIa-mzR0RFl50VSdoLmX2dCHf_NsZbUARr5bKg"'
      last-modified:
      - Fri, 28 Jun 2024 08:26:41 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1NjQ5MzA5OQ==;sn=56493099
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM1NjQ5MzA5OQ==
      x-ms-content-sha256:
      - ssERcN/l30qL3zGxsEuQXd8SMRck/hPK9o4FH0rGF6Q=
      x-ms-date:
      - Jun, 28 2024 08:26:41 GMT
    method: PUT
    uri: https://destinationbshcrd6bavqhg.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"kvyhNYQ1Al61tMU85MyI57a7rZOK5YkAn80nU57f-5s","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"kvyhNYQ1Al61tMU85MyI57a7rZOK5YkAn80nU57f-5s"'
      last-modified:
      - Fri, 28 Jun 2024 08:26:41 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1NjQ5MzEwMA==;sn=56493100
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM1NjQ5MzExMw==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Jun, 28 2024 08:26:46 GMT
    method: PUT
    uri: https://destinationbshcrd6bavqhg.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"_5thfnkslQt_heinKJ5qa1Xfc2VeiH4L9PSFdXg0zFk","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"_5thfnkslQt_heinKJ5qa1Xfc2VeiH4L9PSFdXg0zFk"'
      last-modified:
      - Fri, 28 Jun 2024 08:26:46 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1NjQ5MzExNA==;sn=56493114
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:48 GMT
    method: GET
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"o0JY9CsjdFaXykznyssFuiQt2kzJK7XyiNk4S0W16GM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:37+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1Mzg3OQ==;sn=65353879
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:49 GMT
    method: GET
    uri: https://destinationbshcrd6bavqhg.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"oB4Bwbg1LS-pyTIwg5-xhGfRqZ4uI-pIcuyHeTTQpqo","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:49 GMT
    method: GET
    uri: https://destinationbshcrd6bavqhg.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"oB4Bwbg1LS-pyTIwg5-xhGfRqZ4uI-pIcuyHeTTQpqo","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:46+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSM1NjQ5MzEyMg==;sn=56493122
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:50 GMT
    method: GET
    uri: https://destinationbshcrd6bavqhg.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"oB4Bwbg1LS-pyTIwg5-xhGfRqZ4uI-pIcuyHeTTQpqo","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;char[...]
- request:
    body: null
    headers:
      If-Match:
      - '"oB4Bwbg1LS-pyTIwg5-xhGfRqZ4uI-pIcuyHeTTQpqo"'
      Sync-Token:
      - zAJw6V16=MzoxOSM1NjQ5MzEyMg==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:26:51 GMT
    method: DELETE
    uri: https://destinationbshcrd6bavqhg.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"oB4Bwbg1LS-pyTIwg5-xhGfRqZ4uI-pIcuyHeTTQpqo","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-06-28T08:26:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oB4Bwbg1LS-pyTIwg5-xhGfRqZ4uI-pIcuyHeTTQpqo"'
      last-modified:
      - Fri, 28 Jun 2024 08:26:46 GMT
      sync-token:
      - zAJw6V16=MzoxOSM1NjQ5MzEyMw==;sn=56493123
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:27:10 GMT
    method: GET
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"o0JY9CsjdFaXykznyssFuiQt2kzJK7XyiNk4S0W16GM","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;char[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 28 2024 08:27:23 GMT
    method: GET
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv?key=%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1MzkwMw==;sn=65353903
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Array", "content_type": "application/json", "value": "[\"StringBoolValue\",
      \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM2NTM1MzkwMw==
      x-ms-content-sha256:
      - Zi8aaIF8dKSMjbUqEeK3OxywatmQee6zWX+zKd2w3/I=
      x-ms-date:
      - Jun, 28 2024 08:27:24 GMT
    method: PUT
    uri: https://source4k3sdxw2e4wzdcjxca.azconfig.io/kv/Array?api-version=1.0
  response:
    body:
      string: '{"etag":"HFQnv4KJ156fQ_sk0Gw1FyvBq-NEvkFhrkyZpqS0m40","key":"Array","label":null,"content_type":"application/json","value":"[\"StringBoolValue\",
        \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]","tags":{},"locked":false,"last_modified":"2024-06-28T08:27:24+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HFQnv4KJ156fQ_sk0Gw1FyvBq-NEvkFhrkyZpqS0m40"'
      last-modified:
      - Fri, 28 Jun 2024 08:27:24 GMT
      sync-token:
      - zAJw6V16=NDoxOSM2NTM1MzkwNA==;sn=65353904
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyHybridList", "content_type": "application/json",
[...]
