interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-09-08T17:40:49.0419257+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/420cb2df-2f77-d376-cb37-969338b62755?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/420cb2df-2f77-d376-cb37-969338b62755?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/420cb2df-2f77-d376-cb37-969338b62755","name":"420cb2df-2f77-d376-cb37-969338b62755","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/420cb2df-2f77-d376-cb37-969338b62755?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-09-08T17:40:50+00:00","endpoint":"https://source6qtu2oprp3izp3mss6.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/source6qtu2oprp3izp3mss6","name":"Source000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b8015fe1-0000-0100-0000-5f57c2210000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01
  response:
    body:
      string: "{\"value\":[{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2019-08-05T21:07:46+00:00\",\"endpoint\":\"https://appconfigteststorex1.azconfig.io\",\"encryption\":{\"keyVaultProperties\":null},\"privateEndpointConnections\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1/privateEndpointConnections/xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7\",\"name\":\"xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7\",\"type\":\"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections\",\"properties\":{\"provisioningState\":\"Succeeded\",\"privateEndpoint\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MININT-APPE4B4-IntegrationRGProdWUS/providers/Microsoft.Network/privateEndpoints/xuxuxuxu\"},\"privateLinkServiceConnectionState\":{\"status\":\"Approved\",\"description\":\"Auto-Approved\",\"actionsRequired\":\"None\"}}}]},\"sku\":{\"name\":\"standard\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1\",\"name\":\"AppConfigTestStoreX1\",\"location\":\"westcentralus\",\"tags\":{}},{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2020-03-25T04:52:09+00:00\",\"endpoint\":\"https://ernestt-test3.azconfi[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"JnUv-l0-s0:ENKvyfO73Qs+/dF8i+s8","name":"Primary","value":"96R8P4Slb8s+qOJyKpZRhDHL2LPprBQ37T4JtbMpaSA=","connectionString":"Endpoint=https://source6qtu2oprp3izp3mss6.azconfig.io;Id=JnUv-l0-s0:ENKvyfO73Qs+/dF8i+s8;Secret=96R8P4Slb8s+qOJyKpZRhDHL2LPprBQ37T4JtbMpaSA=","lastModified":"2020-09-08T17:40:49+00:00","readOnly":false},{"id":"+a5n-l0-s0:9ChVPMsLrHa/65pf2cxa","name":"Secondary","value":"G29RVTGRGAFJplGJOCLY5IsEq7lzDzlzRqKVHL+lL5c=","connectionString":"Endpoint=https://source6qtu2oprp3izp3mss6.azconfig.io;Id=+a5n-l0-s0:9ChVPMsLrHa/65pf2cxa;Secret=G29RVTGRGAFJplGJOCLY5IsEq7lzDzlzRqKVHL+lL5c=","lastModified":"2020-09-08T17:40:49+00:00","readOnly":false},{"id":"nxkH-l0-s0:0PyfxqZely8RKxZ3KOI8","name":"Primary
        Read Only","value":"5PO5+QhgBj28RL7at+2HGBRpJD6N/4d6Z6mjvYJVhAY=","connectionString":"Endpoint=https://source6qtu2oprp3izp3mss6.azconfig.io;Id=nxkH-l0-s0:0PyfxqZely8RKxZ3KOI8;Secret=5PO5+QhgBj28RL7at+2HGBRpJD6N/4d6Z6mjvYJVhAY=","lastModified":"2020-09-08T17:40:49+00:00","readOnly":true},{"id":"KZLz-l0-s0:JdRB37tQPXB1R4S94i6U","name":"Secondary
        Read Only","value":"cF3+nwXegaR8LaCQRE1UTr9VN4RLRKQwXMF2N0xfVM4=","connectionString":"Endpoint=https://source6qtu2oprp3izp3mss6.azconfig.io;Id=KZLz-l0-s0:JdRB37tQPXB1R4S94i6U;Secret=cF3+nwXegaR8LaCQRE1UTr9VN4RLRKQwXMF2N0xfVM4=","lastModified":"2020-09-08T17:40:49+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-09-08T17:41:03.214117+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003","name":"Destination000003","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/0ac7d322-954f-f336-3faa-cf63c3875efe?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"wr+A-l0-s0:2BLSglGXOfhbWzKYLkbo","name":"Primary","value":"Dg3McwHRMmCiMMPuSjncuc8ob8EDmO2E2KiwIcTfmro=","connectionString":"Endpoint=https://destinationvhr7oh4ei[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2020 17:41:16 GMT
    method: GET
    uri: https://source6qtu2oprp3izp3mss6.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - gbwYCx9TIsjIJOv6mLPF22jgsyC/XCLSOg6VRumVoSw=
      x-ms-date:
      - Sep, 08 2020 17:41:16 GMT
    method: PUT
    uri: https://source6qtu2oprp3izp3mss6.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"Az3Kp08rI3V8aFbvKF0ZOVtGXw4","key":"Color","label":"v1","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Az3Kp08rI3V8aFbvKF0ZOVtGXw4"'
      last-modified:
      - Tue, 08 Sep 2020 17:41:17 GMT
      sync-token:
      - zAJw6V16=Nzo0IzExMzM4MTAjNz0tMQ==;sn=1133810
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2020 17:41:17 GMT
    method: GET
    uri: https://source6qtu2oprp3izp3mss6.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - AIcYqSdelLEEVVHn03QPsWy0F2DnV+DnfVJIchtosEI=
      x-ms-date:
      - Sep, 08 2020 17:41:17 GMT
    method: PUT
    uri: https://source6qtu2oprp3izp3mss6.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"RG4AfAagGbqclkggzEpjtcfDmr5","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RG4AfAagGbqclkggzEpjtcfDmr5"'
      last-modified:
      - Tue, 08 Sep 2020 17:41:18 GMT
      sync-token:
      - zAJw6V16=Nzo0IzExMzM4MTIjNz0tMQ==;sn=1133812
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2020 17:41:18 GMT
    method: GET
    uri: https://source6qtu2oprp3izp3mss6.azconfig.io/kv?label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"RG4AfAagGbqclkggzEpjtcfDmr5","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:18+00:00"},{"etag":"IBCwPHo0MlyFndLLHCGER05n1C8","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:18+00:00"},{"etag":"Az3Kp08rI3V8aFbvKF0ZOVtGXw4","key":"Color","label":"v1","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:17+00:00"},{"etag":"hZAu39o4FkrukZ3YcFsZQZUBT5K","key":"Color","label":"v2","content_type":null,"value":"Blue","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:17+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Nzo0IzExMzM4MTMjNz0tMQ==;sn=1133813
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=Nzo0IzExMzM4MTMjNz0tMQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2020 17:41:18 GMT
    method: GET
    uri: https://source6qtu2oprp3izp3mss6.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"RG4AfAagGbqclkggzEpjtcfDmr5","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:18+00:00"},{"etag":"IBCwPHo0MlyFndLLHCGER05n1C8","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:18+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Nzo0IzExMzM4MTMjNz0tMQ==;sn=1133813
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "DestLabel", "value": "Red", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - oxRZIDw/og6PRK2IGsl0Pwozp3BvXlYm9jpUF0Y+Kyg=
      x-ms-date:
      - Sep, 08 2020 17:41:18 GMT
    method: PUT
    uri: https://destinationvhr7oh4eimbrn.azconfig.io/kv/Color?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"KvPHxG6o6s9BpSl7CXoIzkGe6tM","key":"Color","label":"DestLabel","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"KvPHxG6o6s9BpSl7CXoIzkGe6tM"'
      last-modified:
      - Tue, 08 Sep 2020 17:41:19 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE4ODk3MzkjNz0tMQ==;sn=1889739
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "DestLabel", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=Mzo0IzE4ODk3NDAjNz0tMQ==
      x-ms-content-sha256:
      - f2I/1/qVOtjIEUT3y7bDJ7MiSvA/OvLvQbOHBhf7A+c=
      x-ms-date:
      - Sep, 08 2020 17:41:19 GMT
    method: PUT
    uri: https://destinationvhr7oh4eimbrn.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"YjYKVcAzIuDqWsH4OcdUTYQXa4S","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YjYKVcAzIuDqWsH4OcdUTYQXa4S"'
      last-modified:
      - Tue, 08 Sep 2020 17:41:19 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE4ODk3NDEjNz0tMQ==;sn=1889741
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2020 17:41:19 GMT
    method: GET
    uri: https://destinationvhr7oh4eimbrn.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"BVksbfaGzdwxdpS4tapHWOa6MpB","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:19+00:00"},{"etag":"bqT3En9FtKW7l9qjOkC7kK23VJU","key":"Color","label":"DestLabel","content_type":null,"value":"Blue","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:19+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Mzo0IzE4ODk3NDIjNz0tMQ==;sn=1889742
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"BVksbfaGzdwxdpS4tapHWOa6MpB"'
      Sync-Token:
      - zAJw6V16=Mzo0IzE4ODk3NDIjNz0tMQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2020 17:41:19 GMT
    method: DELETE
    uri: https://destinationvhr7oh4eimbrn.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=1.0
  response:
    body:
      string: '{"etag":"BVksbfaGzdwxdpS4tapHWOa6MpB","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BVksbfaGzdwxdpS4tapHWOa6MpB"'
      last-modified:
      - Tue, 08 Sep 2020 17:41:19 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE4ODk3NDMjNz0tMQ==;sn=1889743
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "value": "Red", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - As9+c0BZHv9YK9Ywg5zmKsyunXJjRMZaRliObouZZtk=
      x-ms-date:
      - Sep, 08 2020 17:41:20 GMT
    method: PUT
    uri: https://destinationvhr7oh4eimbrn.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"pfJIhxOp67CWDzciwLka5NV3f7r","key":"Color","label":null,"content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pfJIhxOp67CWDzciwLka5NV3f7r"'
      last-modified:
      - Tue, 08 Sep 2020 17:41:21 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE4ODk3NDUjNz0tMQ==;sn=1889745
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=Mzo0IzE4ODk3NDYjNz0tMQ==
      x-ms-content-sha256:
      - d1lyg6a+9mnBVyP0ORwLzt/rsyGm0ESqcmS4R9loiVI=
      x-ms-date:
      - Sep, 08 2020 17:41:20 GMT
    method: PUT
    uri: https://destinationvhr7oh4eimbrn.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"zSTTt8aS6lorXui5Nn7IwluTroX","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:21+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zSTTt8aS6lorXui5Nn7IwluTroX"'
      last-modified:
      - Tue, 08 Sep 2020 17:41:21 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE4ODk3NDcjNz0tMQ==;sn=1889747
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1", "value": "Red", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - ikf7JpBdGRQQpb9y8Sd9mqMJDlqZOgw/Q6C5WDYMBf0=
      x-ms-date:
      - Sep, 08 2020 17:41:21 GMT
    method: PUT
    uri: https://destinationvhr7oh4eimbrn.azconfig.io/kv/Color?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"rNooMSmxJAF4hBKTqHEKKCrOW3U","key":"Color","label":"v1","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"rNooMSmxJAF4hBKTqHEKKCrOW3U"'
      last-modified:
      - Tue, 08 Sep 2020 17:41:22 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE4ODk3NTQjNz0tMQ==;sn=1889754
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=Mzo0IzE4ODk3NTUjNz0tMQ==
      x-ms-content-sha256:
      - AIcYqSdelLEEVVHn03QPsWy0F2DnV+DnfVJIchtosEI=
      x-ms-date:
      - Sep, 08 2020 17:41:22 GMT
    method: PUT
    uri: https://destinationvhr7oh4eimbrn.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=1.0
  response:
    body:
      string: '{"etag":"mCO437Q2Il98SXsmSCEHZqU1KSS","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mCO437Q2Il98SXsmSCEHZqU1KSS"'
      last-modified:
      - Tue, 08 Sep 2020 17:41:22 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE4ODk3NTYjNz0tMQ==;sn=1889756
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2020 17:41:23 GMT
    method: GET
    uri: https://source6qtu2oprp3izp3mss6.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"RG4AfAagGbqclkggzEpjtcfDmr5","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:18+00:00"},{"etag":"IBCwPHo0MlyFndLLHCGER05n1C8","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:18+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Nzo0IzExMzM4MjMjNz0tMQ==;sn=1133823
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"qxE0JBPSkiymr9NmFJ56vvgle5M"'
      Sync-Token:
      - zAJw6V16=Mzo0IzE4ODk3ODAjNz0tMQ==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 08 2020 17:41:28 GMT
    method: DELETE
    uri: https://destinationvhr7oh4eimbrn.azconfig.io/kv/Color?label=v2&api-version=1.0
  response:
    body:
      string: '{"etag":"qxE0JBPSkiymr9NmFJ56vvgle5M","key":"Color","label":"v2","content_type":null,"value":"Blue","tags":{},"locked":false,"last_modified":"2020-09-08T17:41:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"qxE0JBPSkiymr9NmFJ56vvgle5M"'
      last-modified:
      - Tue, 08 Sep 2020 17:41:28 GMT
      sync-token:
      - zAJw6V16=Mzo0IzE4ODk3ODEjNz0tMQ==;sn=1889781
    status:
      code: 200
      message: OK
version: 1
