interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2019-12-12T18:59:57.687319+00:00","endpoint":"https://ImportTest000002.azconfig.io"},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/baea49fb-f694-c0df-90bb-a0d7353f6ce9?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/baea49fb-f694-c0df-90bb-a0d7353f6ce9?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/baea49fb-f694-c0df-90bb-a0d7353f6ce9","name":"baea49fb-f694-c0df-90bb-a0d7353f6ce9","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/baea49fb-f694-c0df-90bb-a0d7353f6ce9?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-10-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-12-12T19:00:01+00:00","endpoint":"https://importtestjgnvdtddybope4.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtestjgnvdtddybope4","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"450081c1-0000-0100-0000-5df28e300000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io"},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","location":"westcentralus","tags":{}},{"type":"Microsoft.AppConfiguration/conf[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"3L7+-l0-s0:VpsV4P//5ACvu1aV3Cr7","name":"Primary","value":"XupguO7IvDgw+rmENdhdTcrTBqLVhusqY0wex9GjV6U=","connectionString":"Endpoint=https://importtestjgnvdtddybope4.azconfig.io;Id=3L7+-l0-s0:VpsV4P//5ACvu1aV3Cr7;Secret=XupguO7IvDgw+rmENdhdTcrTBqLVhusqY0wex9GjV6U=","lastModified":"2019-12-12T18:59:58+00:00","readOnly":false},{"id":"+Iq1-l0-s0:FyR1URHcX5mVyVF2o1Hf","name":"Secondary","value":"aqNeJ4dnKn6XRm2gc0usYRt9y0kfI5Vq9aIYZEqAqbM=","connectionString":"Endpoint=https://importtestjgnvdtddybope4.azconfig.io;Id=+Iq1-l0-s0:FyR1URHcX5mVyVF2o1Hf;Secret=aqNeJ4dnKn6XRm2gc0usYRt9y0kfI5Vq9aIYZEqAqbM=","lastModified":"2019-12-12T18:59:58+00:00","readOnly":false},{"id":"wKCn-l0-s0:HprrWmX1rXzu1Vsd5BwF","name":"Primary
        Read Only","value":"+4Q4dYiYTom0YS0i8hzbavS9tGl6kOHvxBV+5TArFEE=","connectionString":"Endpoint=https://importtestjgnvdtddybope4.azconfig.io;Id=wKCn-l0-s0:HprrWmX1rXzu1Vsd5BwF;Secret=+4Q4dYiYTom0YS0i8hzbavS9tGl6kOHvxBV+5TArFEE=","lastModified":"2019-12-12T18:59:58+00:00","readOnly":true},{"id":"0/aF-l0-s0:Mk6kQ8VZ//9pUgDOtLtO","name":"Secondary
        Read Only","value":"KIcAqQM7PCwV25tXa+mdiSulGE06atBndBmAIiCVeC8=","connectionString":"Endpoint=https://importtestjgnvdtddybope4.azconfig.io;Id=0/aF-l0-s0:Mk6kQ8VZ//9pUgDOtLtO;Secret=KIcAqQM7PCwV25tXa+mdiSulGE06atBndBmAIiCVeC8=","lastModified":"2019-12-12T18:59:58+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Dec, 12 2019 19:00:15 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/BackgroundColor?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"28F1iRjQuZJmDxIjQxpG6YRGRpY","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"28F1iRjQuZJmDxIjQxpG6YRGRpY"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:16 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg4OTA=;sn=878890
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Dec, 12 2019 19:00:15 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/Language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"bZoBPy52u4jyR9GkWhJFzelXezF","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bZoBPy52u4jyR9GkWhJFzelXezF"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:16 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg4OTE=;sn=878891
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Dec, 12 2019 19:00:16 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/Langugage?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"ykxqwfGFivjDmoz0iz5SC8n9ngf","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ykxqwfGFivjDmoz0iz5SC8n9ngf"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:16 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg4OTI=;sn=878892
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Dec, 12 2019 19:00:16 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"DXQ8IoB7D4cCud7dlxRDFjYtcQy","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DXQ8IoB7D4cCud7dlxRDFjYtcQy"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:16 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg4OTM=;sn=878893
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship1", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 6JYPAMdWKB1Nq3JlkewuuL6gv8n/h5LcsstlSTBiS2U=
      x-ms-date:
      - Dec, 12 2019 19:00:16 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F0?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"0IAagYPvKUMkGgPpPjLJKrQJqgt","key":"Settings:BackgroundColor/ship/0","label":null,"content_type":null,"value":"ship1","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:16+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"0IAagYPvKUMkGgPpPjLJKrQJqgt"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:16 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg4OTQ=;sn=878894
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Dec, 12 2019 19:00:16 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/abc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"MZEaYEBetyl0y4TSkWKuPd3amda","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"MZEaYEBetyl0y4TSkWKuPd3amda"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:17 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg4OTc=;sn=878897
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Dec, 12 2019 19:00:16 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/appabc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"ZKKvMmRBDVjKr3RPL1UWJhjeILc","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ZKKvMmRBDVjKr3RPL1UWJhjeILc"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:17 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg4OTg=;sn=878898
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Dec, 12 2019 19:00:16 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/background-color?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"pDPDD206ydU4Uz7A3DmK3m6UTEN","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pDPDD206ydU4Uz7A3DmK3m6UTEN"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:17 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg4OTk=;sn=878899
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Dec, 12 2019 19:00:16 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/font-size?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"H0pUVO3QmZHztS9pDhBXXi1pj4k","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"H0pUVO3QmZHztS9pDhBXXi1pj4k"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:17 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg5MDA=;sn=878900
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Dec, 12 2019 19:00:16 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"GCNWtxeC87STwP5IbIRl1pRX34S","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GCNWtxeC87STwP5IbIRl1pRX34S"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:17 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg5MDE=;sn=878901
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:18 GMT
    method: GET
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"28F1iRjQuZJmDxIjQxpG6YRGRpY","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:16+00:00"},{"etag":"bZoBPy52u4jyR9GkWhJFzelXezF","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:16+00:00"},{"etag":"ykxqwfGFivjDmoz0iz5SC8n9ngf","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:24 GMT
    method: GET
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Dec, 12 2019 19:00:31 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/Color?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"v5YhtihwMKYBs7tYxyf5sQzFXjP","key":"Color","label":"KeyValuesWithFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"v5YhtihwMKYBs7tYxyf5sQzFXjP"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:31 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg5MDI=;sn=878902
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Dec, 12 2019 19:00:31 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/Region?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"FCXHYHcr4858zEAG0yLYP6VOtS1","key":"Region","label":"KeyValuesWithFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FCXHYHcr4858zEAG0yLYP6VOtS1"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:31 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg5MDM=;sn=878903
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - smMe5jbDoK81kykMdQf+ABS9IQyP84wxhjeykK9Pqt4=
      x-ms-date:
      - Dec, 12 2019 19:00:31 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"RBpQJaJ7QFOGqNTH6yrvCmP19jr","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RBpQJaJ7QFOGqNTH6yrvCmP19jr"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:32 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg5MDQ=;sn=878904
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - WBgv2yHAQusEJjAEfNxX3Z+pzUptTv2n3pjwT9EM+UM=
      x-ms-date:
      - Dec, 12 2019 19:00:31 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"8BZVpBFBy9jp7j9iv1GZoZe8TXM","key":".appconfig.featureflag/Percentage","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": null, \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8BZVpBFBy9jp7j9iv1GZoZe8TXM"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:32 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg5MDU=;sn=878905
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - U/vcuIdXDVYjNR0o/cDmtKc+G8Kri6T6CtIaHnMo9Kg=
      x-ms-date:
      - Dec, 12 2019 19:00:31 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/.appconfig.feature[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:33 GMT
    method: GET
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv?key=*&label=KeyValuesWithFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"RBpQJaJ7QFOGqNTH6yrvCmP19jr","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appc[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:35 GMT
    method: GET
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=KeyValuesWithFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"RBpQJaJ7QFOGqNTH6yrvCmP19jr","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"app[...]
[...]
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Dec, 12 2019 19:00:38 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/Color?label=SkipFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"oxdkjJq5XPAg2Hzhvzb0r5ss6mK","key":"Color","label":"SkipFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"oxdkjJq5XPAg2Hzhvzb0r5ss6mK"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:39 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg5MDc=;sn=878907
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Dec, 12 2019 19:00:38 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/Region?label=SkipFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"1OKMoexGxK3o7079eg3Lv2JU8Bs","key":"Region","label":"SkipFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:39+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1OKMoexGxK3o7079eg3Lv2JU8Bs"'
      last-modified:
      - Thu, 12 Dec 2019 19:00:39 GMT
      sync-token:
      - zAJw6V16=NDotMSM4Nzg5MDg=;sn=878908
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:39 GMT
    method: GET
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv?key=*&label=SkipFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"oxdkjJq5XPAg2Hzhvzb0r5ss6mK","key":"Color","label":"SkipFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:39+00:00"},{"etag":"1OKMoexGxK3o7079eg3Lv2JU8Bs","key":"Region","label":"SkipFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:39+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDotMSM4Nzg5MDg=;sn=878908
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 12 2019 19:00:41 GMT
    method: GET
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=SkipFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Dec, 12 2019 19:00:42 GMT
    method: PUT
    uri: https://importtestjgnvdtddybope4.azconfig.io/kv/TestColor?label=PrefixTest&api-version=1.0
  response:
    body:
      string: '{"etag":"EYhNXYrR4tTVqm7FriccwgFaWPX","key":"TestColor","label":"PrefixTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2019-12-12T19:00:43+00:00"}'
    headers: