interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-06-30T18:41:25.8325366+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003","name":"KVTest000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/X4O1XuLvqLbcsmiGnLO6qpwnxEg3NtY3H2OpUSFzLyI?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/X4O1XuLvqLbcsmiGnLO6qpwnxEg3NtY3H2OpUSFzLyI?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/X4O1XuLvqLbcsmiGnLO6qpwnxEg3NtY3H2OpUSFzLyI","name":"X4O1XuLvqLbcsmiGnLO6qpwnxEg3NtY3H2OpUSFzLyI","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/X4O1XuLvqLbcsmiGnLO6qpwnxEg3NtY3H2OpUSFzLyI?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-30T18:41:26+00:00","endpoint":"https://kvtestwyc6yebadompzxnoh5.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-06-30T18:41:26+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-30T18:41:26+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestwyc6yebadompzxnoh5","name":"KVTest000003","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4201606b-0000-0100-0000-649f21d60000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.4
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/852d7b09fff847779a8fd8929c2d165e","attributes":{"enabled":true,"created":1688150498,"updated":1688150498,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 486c8965-e6a8-402d-bf12-92bcee34d444
      - 76034f20-16f7-47b1-9da9-cbf21d7ba0cc
      - 5285c7e2-bc9a-490a-897d-6c63f6457536
      - 72a13cc8-31f0-40ee-bdd9-4111a94c884f
      - f2f14bb6-863b-4b46-a250-f48ab40bda4f
      - 9796a46a-c176-45f7-b9b1-2ce7862fe8c0
      - c76398f9-09b0-4803-8f29-8730360fcbb7
      - 7a6ef222-a073-44c7-9334-ee7c2b59bdb8
      - 1f4d54b8-a3da-404b-898a-055dee144e92
      - f6882157-91e3-4640-a8cd-fb75a2b659d6
      - 7dce3ffa-c7f9-4b6f-89f2-98ce580c403c
      - cd62b2ea-6dfa-49c1-ab8f-970d80a42109
      - dd43f115-de24-419c-bf16-eeaf4b794b34
      - 63cd97b9-79bc-46f9-856f-6f49d7b20b8d
      - 5d022f69-0a81-4044-bb13-df8dc3b60bb2
      - 556b6986-30b2-4a34-9c1d-d600058f994b
      - 87b9491e-02c4-41d3-a38d-9242b8dc8a3e
      - 58eeef77-5950-43fb-9025-e37dd4881b5a
      - b1342d11-ac3d-4dfd-9556-c34216ba5790
      - 4383c286-3feb-4e5f-a81d-971062dda718
      - df0622e4-fb96-4815-8231-cf946817324e
      - 7c911632-122d-4c7c-b6b7-6330bd6cec04
      - 203c85d2-7cef-4754-9cf1-ba6a45958561
      - 88f8b378-c093-410d-955b-cbbfb32ec46e
      - 894774cd-7aab-4224-9235-f27e619b7f86
      - 12891473-c56d-4ba6-a6b1-3d7db075c8d8
      - a63c1c3c-604d-4a25-8651-3e1d235c788e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"YwP+","name":"Primary","value":"G2JspOEDZ3kfW/IbogG5O1cSP+51v1NdXNZOxtSg0p0=","connectionString":"Endpoint=https://kvtestwyc6yebadompzxnoh5.azconfig.io;Id=YwP+;Secret=G2JspOEDZ3kfW/IbogG5O1cSP+51v1NdXNZOxtSg0p0=","lastModified":"2023-06-30T18:41:25+00:00","readOnly":false},{"id":"ro3N","name":"Secondary","value":"/ynd7w6gBs14Ysi1NL7n3Wa4clQvxyKBQ6XLc5eADFc=","connectionString":"Endpoint=https://kvtestwyc6yebadompzxnoh5.azconfig.io;Id=ro3N;Secret=/ynd7w6gBs14Ysi1NL7n3Wa4clQvxyKBQ6XLc5eADFc=","lastModified":"2023-06-30T18:41:25+00:00","readOnly":false},{"id":"lQ5o","name":"Primary
        Read Only","value":"KPN8p9owfG2NpH1NmSH8xeoIsqgZiKzicdwVihdriF0=","connectionString":"Endpoint=https://kvtestwyc6yebadompzxnoh5.azconfig.io;Id=lQ5o;Secret=KPN8p9owfG2NpH1NmSH8xeoIsqgZiKzicdwVihdriF0=","lastModified":"2023-06-30T18:41:25+00:00","readOnly":true},{"id":"LEAj","name":"Secondary
        Read Only","value":"TWc/pPbaYV6J3TFEVhZiMzsKyfcrL/4Q5K8k4i/0wkw=","connectionString":"Endpoint=https://kvtestwyc6yebadompzxnoh5.azconfig.io;Id=LEAj;Secret=TWc/pPbaYV6J3TFEVhZiMzsKyfcrL/4Q5K8k4i/0wkw=","lastModified":"2023-06-30T18:41:25+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2023 18:41:40 GMT
    method: GET
    uri: https://kvtestwyc6yebadompzxnoh5.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MzoxOSMyNzkyMjIwMA==;sn=27922200
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://clitest000002.vault.azure.net/secrets/testSecret/852d7b09fff847779a8fd8929c2d165e\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzoxOSMyNzkyMjIwMA==
      x-ms-content-sha256:
      - In2Qp3VCD2xoN25FP/7q3DFF6Hra+7OIhoPgpuPSRrg=
      x-ms-date:
      - Jun, 30 2023 18:41:40 GMT
    method: PUT
    uri: https://kvtestwyc6yebadompzxnoh5.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: '{"etag":"xsp0qP2qGwtHpsVVjFKUQ00EAgJP8sFFQYDXLdrn3-0","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestofqjbpildk2p3lkli.vault.azure.net/secrets/testSecret/852d7b09fff847779a8fd8929c2d165e\"}","tags":{},"locked":false,"last_modified":"2023-06-30T18:41:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"xsp0qP2qGwtHpsVVjFKUQ00EAgJP8sFFQYDXLdrn3-0"'
      last-modified:
      - Fri, 30 Jun 2023 18:41:41 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyNzkyMjIwMQ==;sn=27922201
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2023 18:41:44 GMT
    method: GET
    uri: https://kvtestwyc6yebadompzxnoh5.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"xsp0qP2qGwtHpsVVjFKUQ00EAgJP8sFFQYDXLdrn3-0","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestofqjbpildk2p3lkli.vault.azure.net/secrets/testSecret/852d7b09fff847779a8fd8929c2d165e\"}","tags":{},"locked":false,"last_modified":"2023-06-30T18:41:41+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyNzkyMjIxMA==;sn=27922210
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest000002.vault.azure.net/secrets/testSecret/852d7b09fff847779a8fd8929c2d165e?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2023 18:41:47 GMT
    method: GET
    uri: https://kvtestwyc6yebadompzxnoh5.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"xsp0qP2qGwtHpsVVjFKUQ00EAgJP8sFFQYDXLdrn3-0","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestofqjbpildk2p3lkli.vault.azure.net/secrets/testSecret/852d7b09fff847779a8fd8929c2d165e\"}","tags":{},"locked":false,"last_modified":"2023-06-30T18:41:41+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyNzkyMjIxMw==;sn=27922213
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jun, 30 2023 18:41:51 GMT
    method: GET
    uri: https://kvtestwyc6yebadompzxnoh5.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyNzkyMjIxMw==;sn=27922213
    status:
      code: 200
      message: OK
version: 1
