interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2024-11-16T03:12:13.8541578+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002",
        "name": "StrictImportTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2GsuGHD6bia3-ec6vS_okga4I4eGVbiPoFPoFUKkvtQ?api-version=2024-05-01&t=638673235339744831&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/2GsuGHD6bia3-ec6vS_okga4I4eGVbiPoFPoFUKkvtQ?api-version=2024-05-01&t=638673235339744831&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2024-11-16T03:12:13+00:00", "endpoint": "https://strictimporttestbaovicrm.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-11-16T03:12:13+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-11-16T03:12:13+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/strictimporttestbaovicrm",
        "name": "StrictImportTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8d01769b-0000-0100-0000-67380d8f0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrtUttGGIXvxdPprxUGE8qEmUxnC0rjAjb1x7jh31peGxl7pe5KMTjTe%2B/7rqRFNtzA%2BZlkyOhw3u99fnaMfinuUvPsOlc/O7N4PLmOB5ORvJuOO1edp6LI3VW3u1VGrfRWm%2BJE7UurT5Js23Xl3CU2zYs0M657ebm4UPPT36JLvVhEn7ROonmiP0cXveTsbH55MZ%2BfX3Zzm/1IF9q67n2a2Mxly%2BJE5vl1ZpbpqrSK/6tu0v7TuMisdr%2BrP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y/NSsQwFIXfJYirSdN2pgYLgxRxZzd2fID83ImhNAn3JkNx8N2t48ZXcHnOxznwXVmANb/6MBPrr%2BxlmE7vE%2BvZR86JeiEWFZSDBUKu1GdBqExcBBVNBn3KPgYSUtpO6fqBS7CWHwAM1wYeedeaptGy03ovRcJ48RaQxOgNRornXA0pPcdw9q6g%2BrkS5m%2BackSgJ5U8v2y7jR/buj3wuuN1c39Hs0%2BnOEM4rmUtnCzfs68dU7gMziE4lcHe%2BCYzvI1sdxMdFc6AW/Ur2v9PzW8%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 1e7491f7-3f7c-49a8-ac3d-4e4cb6bef8a6
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/StrictImportTest000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://strictimporttestbaovicrm.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-11-16T03:12:13+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://strictimporttestbaovicrm.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-11-16T03:12:13+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://strictimporttestbaovicrm.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-11-16T03:12:13+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://strictimporttestbaovicrm.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-11-16T03:12:13+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 16 2024 03:13:04.316577 GMT
    method: GET
    uri: https://strictimporttestbaovicrm.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=MzoxOSM2NDEwNjc2NA==;sn=64106764
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"custom-feature-beta-enabled\", \"description\": \"The flag
      indicates whether the beta feature is enabled for the user.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NDEwNjc2NA==
      x-ms-content-sha256:
      - vooIQS2Lc83p3cZJS7Qp5TL+wPNgfiHeUrZC71Varzs=
      x-ms-date:
      - Nov, 16 2024 03:13:04.602331 GMT
    method: PUT
    uri: https://strictimporttestbaovicrm.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"8AuTGjEfpiWLj3cN1IzZjqUDvLN19jFOB7i0m1WTf08","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"custom-feature-beta-enabled\", \"description\": \"The flag indicates whether
        the beta feature is enabled for the user.\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-11-16T03:13:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8AuTGjEfpiWLj3cN1IzZjqUDvLN19jFOB7i0m1WTf08"'
      last-modified:
      - Sat, 16 Nov 2024 03:13:04 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NDEwNjc2NQ==;sn=64106765
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"bool-feature\", \"description\": \"It is a boolean feature\",
      \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\":
      null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NDEwNjc2NQ==
      x-ms-content-sha256:
      - UhxU[...]
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"customer-theta-enabled\", \"description\": \"This feature
      describes whether a theta feature is enabled for the customers.\", \"enabled\":
      true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\",
      \"parameters\": {\"Audience\": {\"Users\": [], \"Groups\": [], \"DefaultRolloutPercentage\":
      90}}}]}, \"display_name\": null}", "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NDEwNjc2Ng==
      x-ms-content-sha256:
      - Z9vdOmW9IIdhx2BgTvHER4NiDLOkF6QL50jtUUXyuos=
      x-ms-date:
      - Nov, 16 2024 03:13:04.777551 GMT
    method: PUT
    uri: https://strictimporttestbaovicrm.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=2023-11-01
  response:
    body:
      stri[...]
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NDEwNjc2Nw==
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Nov, 16 2024 03:13:04.857063 GMT
    method: PUT
    uri: https://strictimporttestbaovicrm.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"y2hF3kIR6NahgZ7fdnobkt6CD3W_AG2Xot_xarEnF7U","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2024-11-16T03:13:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"y2hF3kIR6NahgZ7fdnobkt6CD3W_AG2Xot_xarEnF7U"'
      last-modified:
      - Sat, 16 Nov 2024 03:13:04 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NDEwNjc2OA==;sn=64106768
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NDEwNjc2OA==
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Nov, 16 2024 03:13:04.952150 GMT
    method: PUT
    uri: https://strictimporttestbaovicrm.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"2LPvNeO4Qgj9TBYxiZAX7bwGlvBsmznL2qiuoTZClpc","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-11-16T03:13:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2LPvNeO4Qgj9TBYxiZAX7bwGlvBsmznL2qiuoTZClpc"'
      last-modified:
      - Sat, 16 Nov 2024 03:13:05 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NDEwNjc2OQ==;sn=64106769
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NDEwNjc2OQ==
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Nov, 16 2024 03:13:05.047236 GMT
    method: PUT
    uri: https://strictimporttestbaovicrm.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"vtJAosotcGh38f78-sq4Ehszg3peAo_oQtOlNcLT-qk","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-11-16T03:13:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vtJAosotcGh38f78-sq4Ehszg3peAo_oQtOlNcLT-qk"'
      last-modified:
      - Sat, 16 Nov 2024 03:13:05 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NDEwNjc3MA==;sn=64106770
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NDEwNjc3MA==
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Nov, 16 2024 03:13:05.133712 GMT
    method: PUT
    uri: https://strictimporttestbaovicrm.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"dAfnXqZ8-zFU-CRc2OOr6bkSXQ-cVx1iGaVtXoqOCrQ","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2024-11-16T03:13:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"dAfnXqZ8-zFU-CRc2OOr6bkSXQ-cVx1iGaVtXoqOCrQ"'
      last-modified:
      - Sat, 16 Nov 2024 03:13:05 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NDEwNjc3MQ==;sn=64106771
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\": \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NDEwNjc3MQ==
      x-ms-content-sha256:
      - KG6foKmNh5fImJNssBeIcpD6vIlOFOyqNrEtrNcI1x4=
      x-ms-date:
      - Nov, 16 2024 03:13:05.211184 GMT
    method: PUT
    uri: https://strictimporttestbaovicrm.azconfig.io/kv/pratik-top-secret?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"k7j_lRZQJ-o9wsZEF9rkIAFvjLtVytmhmIltgz4p86c","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":
        \"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2024-11-16T03:13:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"k7j_lRZQJ-o9wsZEF9rkIAFvjLtVytmhmIltgz4p86c"'
      last-modified:
      - Sat, 16 Nov 2024 03:13:05 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NDEwNjc3Mg==;sn=64106772
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=MzoxOSM2NDEwNjc3Mg==
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Nov, 16 2024 03:13:05.305176 GMT
    method: PUT
    uri: https://strictimporttestbaovicrm.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"mMyRKwQz5x0xQOS26dXxAsFNmImh5ZLPacHJa1ZRnt4","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2024-11-16T03:13:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mMyRKwQz5x0xQOS26dXxAsFNmImh5ZLPacHJa1ZRnt4"'
      last-modified:
      - Sat, 16 Nov 2024 03:13:05 GMT
      sync-token:
      - zAJw6V16=MzoxOSM2NDEwNjc3Mw==;sn=64106773
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1ZrfUts4GMXfJdPZK5lAKGWWmc6OCu7WCySsnUy23CmOEhwc2SvZDaSz7776ZFs4KS9wLtsOHR/O91%2B/nwMlX6q7TD2bwdXPwTxMptfheBrzu1kyuBo8VVVprobDrVBiLbdSVSdiX2t5khbboakXJtVZWWWFMsPLy%2BWFWJx%2BCi7lchl8lDINFqn8PbgYpWdni8uLxeL8cljq4ke2lNoM77NUF6ZYVSe8LK8LtcrWtRb0Xw3T/p%2BSqtDS/CHKLPhhf[...]
[...]
