interactions:
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "c4f5ba3a-0ede-4891-bab0-d06b39c57a07",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Creating", "creationDate": "2024-12-06T19:35:00.2226376+00:00", "endpoint":
        null, "encryption": null, "privateEndpointConnections": null, "disableLocalAuth":
        null, "softDeleteRetentionInDays": null, "enablePurgeProtection": null, "dataPlaneProxy":
        null}, "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002",
        "name": "MgmtTest000002", "tags": {"key": "value"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Zd7mwwMNQeruMqOOCODwzRKQg3Q8pUPvdIDY-_ZBl7M?api-version=2024-05-01&t=638691105005158866&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Zd7mwwMNQeruMqOOCODwzRKQg3Q8pUPvdIDY-_ZBl7M?api-version=2024-05-01&t=638691105005158866&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "c4f5ba3a-0ede-4891-bab0-d06b39c57a07",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Succeeded", "creationDate": "2024-12-06T19:35:00+00:00", "endpoint": "https://mgmttesttq33ugmns7wpw66p.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-06T19:35:00+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-12-06T19:35:00+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttesttq33ugmns7wpw66p",
        "name": "MgmtTest000002", "tags": {"key": "value"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9a002ed9-0000-0100-0000-675351e70000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus", "identity": {"type": "SystemAssigned", "principalId":
        "c4f5ba3a-0ede-4891-bab0-d06b39c57a07", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"},
        "properties": {"provisioningState": "Succeeded", "creationDate": "2024-12-06T19:35:00+00:00",
        "endpoint": "https://mgmttesttq33ugmns7wpw66p.azconfig.io", "encryption":
        {"keyVaultProperties": null}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 1, "enablePurgeProtection": false, "dataPlaneProxy":
        {"authenticationMode": "Local", "privateLinkDelegation": "Disabled"}}, "sku":
        {"name": "standard"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-06T19:35:00+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-12-06T19:35:00+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttesttq33ugmns7wpw66p",
        "name": "MgmtTest000002", "tags": {"key": "value"}}], "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttesttq33ugmns7wpw66p"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/77d5ab06-7edd-4eec-bce9-52c11b75bb37/resourceGroups/clitest.rgam7ci5ozjfuw65fgqs4pyavfybswyoxrfppf63j5i37rwxy6xaxydhiqvaiyf46an/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttesttq33ugmns7wpw66p>;
        rel="next"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttesttq33ugmns7wpw66p
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Premium"}, "tags": {"Env": "Prod"}, "properties": {"dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "Syste[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"error": {"code": "ResourceNotFound", "message": "The Resource ''Microsoft.KeyVault/vaults/cmk-test-keyvault000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users/$entity",
        "businessPhones": ["+1 (425) 4213985"], "displayName": "Albert Ofori", "givenName":
        "Albert", "jobTitle": "SOFTWARE ENGINEER", "mail": "albertofori@microsoft.com",
        "mobilePhone": null, "officeLocation": "18/2450FL", "preferredLanguage": null,
        "surname": "Ofori", "userPrincipalName": "albertofori@microsoft.com", "id":
        "35296b93-33f5-48e5-b41e-3e29f64921e6"}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"002","RoleInstance":"MWH0EPF00032D55"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enableRbacAuthorization": false, "enablePurgeProtection": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003?api-version=2023-02-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/cmk-test-keyvault000003",
        "name": "cmk-test-keyvault000003", "type": "Microsoft.KeyVault/vaults", "location":
        "eastus", "tags": {}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-06T19:35:49.078Z", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-12-06T19:35:49.078Z"}, "properties": {"sku": {"family": "A", "name":
        "standard"}, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "accessPolicies":
        [{"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
        "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
        "storage": ["all"]}}], "enabledForDeployment": false, "enableSoftDelete":
        true, "softDeleteRetentionInDays": 7, "enableRbacAuthorization": false, "enablePurgeProtection":
        true, "vaultUri": "https://cmk-test-keyvault000003.vault.azure.net", "provisioningState":
        "RegisteringDns", "publicNetworkAccess": "Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error": {"code": "Unauthorized", "message": "AKV10000: Request is
        missing a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cmk-test-keyvault000003.vault.azure.net/keys/key/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key": {"kid": "https://cmk-test-keyvault000003.vault.azure.net/keys/key/27f036cc3d064585b7b11e2a8165d6ff",
        "kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey",
        "unwrapKey"], "n": "1NMQx2sjZ2XGe4KiKE1WyCokcUlzMKJmjLbWjV6W6yUkkSqJDLNSXkUNpZZARC-3p7RE25rMzwcDwEyr8hZCk8wopG3NORq9wjlwrU_FnhWcKqx4ao3-M37qUXxScVT8ukFgAd1Z89T9ToSkd7AP4gq0kQ45cMeuiR2SlSpW3BEaHrQYBItn38evT34Uf810TuPMzi8WAGINqg0HuxLGp_qPkNFoJeV9k1_CIKJ3b84ARGqFHBw7yHPx5xb24NEduU7cnJr7vCjFxm1EEp1hUpG3HJe-PRZ6a-4re7TugEgi-Nn_aOs7If-NfcK7s3MiZidgxaS10Wr6jKT6gRMwSQ",
        "e": "AQAB"}, "attributes": {"enabled": true, "created": 1733513782, "updated":
        1733513782, "recoveryLevel": "CustomizedRecoverable", "recoverableDays": 7,
        "exportable": false, "hsmPlatform": "0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01
  response:
    body:
      string: '{"value": [], "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.KeyVault%2fvaults%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault/vaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01&$skiptoken=rZNBb9owGIb/C2cOxoFLpR26ObAgPlthTjP7FqURwYlpBUaAq/33faHZaLdklaJdc3jz%2Bvne52W0K85utd1Vh9Hdy6jIDu54oMUxex7djYrL8qi/l0Sm80tGHy6RedoKBlT5fAZeOSFVwL8Ros2yXKXzCmzouOQl2HXJZTzVZm6jHfk0Go9OxTW4J1Szew8LmILJnZLa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault/vaults%27%20and%20name%20eq%20%27cmk-test-keyvault000003%27&api-version=2015-11-01&$skiptoken=rdFBb4MgGIDh/%2BLZA7X20mSHZlqnEYwdLYObWYmKaBelsbbZfx%2B2LlsyvZgduBDyAN97Myp%2BUWFeFY2xvhktb9S5sYy1wbvgzN4ygMm2S6xD54tTzsR7S3EmqOUr5gSC5gAwB1ohcQHDroICXlDprxCmFvRi4FfgyTAHdMKkZJdRvFlSHCuEIaCvAEAHiZBsMyZi[...]
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "35296b93-33f5-48e5-b41e-3e29f64921e6",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "c4f5ba3a-0ed[...]
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyIdentifier":
      "https://cmk-test-keyvault000003.vault.azure.net/keys/key/"}}, "dataPlaneProxy":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "identity": {"type": "SystemAssigned", "principalId": "c4f5ba3a-0ede-4891-bab0-d06b39c57a07",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}, "properties": {"provisioningState":
        "Succeeded", "creationDate": "2024-12-06T19:35:00+00:00", "endpoint": "https://mgmttesttq33ugmns7wpw66p.azconfig.io",
        "encryption": {"keyVaultProperties": {"keyIdentifier": "https://cmk-test-keyvault000003.vault.azure.net/keys/key/",
        "identityClientId": null}}, "privateEndpointConnections": null, "disableLocalAuth":
        false, "softDeleteRetentionInDays": 1, "enablePurgeProtection": false, "dataPlaneProxy":
        {"authenticationMode": "Local", "privateLinkDelegation": "Disabled"}}, "sku":
        {"name": "premium"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-06T19:35:00+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-12-06T19:36:26.5926878+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttesttq33ugmns7wpw66p",
        "name": "MgmtTest000002", "tags": {"Env": "Prod"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9a0087da-0000-0100-0000-6753523a0000"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"dataPlaneProxy": {"privateLinkDelegation": "Enabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTest000002?api-version=2024-05-01
  response:
    body:
      string: '{"error": {"code": "InvalidProperty", "message": "The property ''privateLinkDelegationMode''
        is not valid. Data plane proxy authentication mode must be set to Pass-through
        to enable private link delegation.", "additionalInfo": [{"type": "ActivityId",
        "info": {"activityId": "1e2808a8-af58-48fa-8209-dee4583a3640"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Premium"}, "properties": {"softDeleteRetentionInDays": 1, "enablePurgeProtection":
      false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppCon[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/TPptEjWv0m5eg1NKCuV-KcTieMr8axziDvp6kA4FbQU?api-version=2024-05-01&t=638691105978873473&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTestPremiumSku000004/replicas/MgmtTestReplica000005?api-version=2024-05-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7LVVDUuJy2jX9RM-sNO983sCLKMU2Bo4FkkmXxFHEPA?api-version=2024-05-01&t=638691106410120082&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestpremiumskudxosgb
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Zrfbts2GMXfxRh2RcWJEzdYgGLgEnXVmtiZZMNr7miZceRYlEpKdeJi7z5%2BlMTIbvYA57ItUujkfP/5%2BzFQ8qW6zdSzGVz9GCzCZHYdTmYxv50ng6vBU1WV5mo4zIUSa5lLVZ2Ifa3lSVrkQ1MvTaqzssoKZYaXl6uxWJ5%2BCC7lahVcSJkGy1T%2BFoxH6dnZ8nK8XJ5fDktdfM9WUpvhXZbqwhSP1Qkvy%2BtCPWbrWgv6r4Zp/09JVWhpfhdlFny[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skiptoken=1Y9LTsMwEIbvYiFWdZyEhohIFYoQO7Ih5QBje%2BpaIbY141TQirsTyoYrsPyf0ncRAT/yiw8Ti%2B4invtx/zaKThxzTtwpNUMAhzOGXMB5ISxMnBUvmg35lH0MrNrWNqDLe9mitXKLaKQ2%2BCCb2lSVbhut71qVKJ68RWI1eEOR4yEXfUpPMRy8Wwh%2BrpT5q8YcCfkRkpendbfmu7qst7JsZFnd3vDk0z5OGHbno/9cILx7CE5m5FyLr40AmnvnCB1ktNfiStW/DmJzJR6AJqTV%2BiXu/jnvNw%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 2478a33e-db73-4187-b4be-dfc8b384bf81
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/MgmtTestPremiumSku000004/replicas?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/mgmttestpremiumskudxosgb/replicas/MgmtTestReplica000005",
        "name": "MgmtTestReplica000005", "type": "Microsoft.AppConfiguration/configurationStores/replicas",
        "location": "westus", "properties": {"endpoint": "https://mgmttestpremiumskudxosgb-mgmttestreplicaxsj6pkics.azconfig.io",
        "provisioningState": "Succeeded"}, "systemData": {"createdBy": "albertofori@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-06T19:37:26+00:00", "lastModifiedBy":
        "albertofori@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt":
        "2024-12-06T19:37:26+00:00"}}], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/DgBe6jcojSKL81xOCKut6BtZV4avcPvCsgxbYps9a8s?api-version=2024-05-01&t=638691106995529512&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/JBchWgLbrz8JftW1m7IGbHLKU1oqTsdZsQiyBYjpoWk?api-version=2024-05-01&t=638691107068223573&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01&$skipToken=mgmttestpremiumskuqa226y
  response:
    body:
      string: '{"value": [], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "eastus", "identity": {"type": "SystemAssigned"},
      "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays": 1,
      "enablePurgeProtection": false, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppCo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Biv3biyUEx-7zbuNjv4yVSF9lLqBRsRHUp8FgKPYvZc?api-version=2024-05-01&t=638691107575795383&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/deletedConfigurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/deletedConfigurationStores/appconfigc424c1bstore",
        "name": "AppConfigC424c1bstore", "type": "Microsoft.AppConfiguration/deletedConfigurationStores",
        "properties": {"configurationStoreId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigc424c1b/providers/Microsoft.AppConfiguration/configurationStores/appconfigc424c1bstore",
        "location": "westus", "deletionDate": "2024-12-05T02:16:23+00:00", "scheduledPurgeDate":
        "2024-12-12T03:31:15+00:00", "tags": {}, "purgeProtectionEnabled": false}},
        {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/deletedConfigurationStores/appconfigc427620store",
        "name": "AppConfigC427620store", "type": "Microsoft.AppConfiguration/deletedConfigurationStores",
[...]
