interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-10-25T22:01:50.8150702+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003","name":"KVTest000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/yWJLoDL5NMfIlhst-IqwXcCu4L3OcLsSV_Y3tJ9nAqo?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/yWJLoDL5NMfIlhst-IqwXcCu4L3OcLsSV_Y3tJ9nAqo?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/yWJLoDL5NMfIlhst-IqwXcCu4L3OcLsSV_Y3tJ9nAqo","name":"yWJLoDL5NMfIlhst-IqwXcCu4L3OcLsSV_Y3tJ9nAqo","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/yWJLoDL5NMfIlhst-IqwXcCu4L3OcLsSV_Y3tJ9nAqo?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-10-25T22:01:51+00:00","endpoint":"https://kvtestaatrelulxejy4fv7d4.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2022-10-25T22:01:51+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-10-25T22:01:51+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestaatrelulxejy4fv7d4","name":"KVTest000003","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"cc003d89-0000-0100-0000-63585cd00000"'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}, "attributes":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.0
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/5a6a2bfbe2c54624b6d9dd5e6402769d","attributes":{"enabled":true,"created":1666735322,"updated":1666735322,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhtb9owFIX%2FSzTtU90ALUWtVE0epFo6GroEhNZvjmNSF3BSvzR9Uf%2F7rg1r2U%2B4%2BxihoDw655577LdIiWc7lWptoou3aJkU83GSzXM6XRTRRXRvbWsu4njLFKvFVih7zF6dFse82cbGlYZr2VrZKBOPRtWQlb0zMhJVRU6F4KTk4pwMB7zfL0fDsjwZxa1unmQltIlvJNeNaVb2mLbtuFErWTvN%2FF%2FF%2FPCpsI0W5htrJXmC9%2BD3y0F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FdSsQwFITfJYhXpmmrtVhYpIh37o1dH%2BAkORtDyQ8np0Vc9t2NXnk5zHzDzEVE%2FOI3H9cipot4nZfTxyIm8cmcy6RUgAgOA0Zu4HsjbEwKqmy6GPKZfYpFjaMdQLePckRr5QOikdrgkxx603V6HLS%2BH1WmtHuLVNTRG0olnbmZc35J8ezdRvBbpcx%2FtXAiLM%2BQvdwrV%2F1D3%2Fa9bAfZdrc3ZfX5lFaMhwjBR1fZva6sMcbCgGTE9U4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FBTsMwEET%2FxUKc6jgJBKuRqipC3OiFlA9Y2xtjhdiWd1Mhqv47gRPH0bx50lxFxC9%2BDXEm0V%2FFyzCe30fRiw%2FmTL1SC0TwuGDkCr7XgpVNi6LVkC0hc0iRlNauA1M%2FSY3OyUdEK43Fvexa2zRGd8Y8aJVLugSHhdQp2JIoTVwNOT%2BnOAW%2FFvhVKfs%2FjZwK0hFykJdtt%2FWHtm5bWXeybu7vaA75nGaMB6bpE7xkBGJx2wkoy%2BB9QQ%2BM7g%2FZ%2FgxvJ3H7AQ%3D%3D
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","identity":{"type":"SystemAssigned","principalId":"6a0fc10a-c0ad-4290-9266-409c7bfbb0c2","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2022-03-09T18:15:43+00:00","endpoint":"https://tsflag-test.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":2,"enablePurgeProtection":true},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-03-09T18:15:43+00:00","lastModifiedBy":"prsangli[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=TY%2FLasMwFET%2FRYSuKst26ooYQjGlu2YTpx%2Bgx40qjCVxr2RMQv69blddDnPmwNxZgDV%2F%2BjAR6%2B%2FsYxgvXyPr2XfOiXohZhWUgxlCrtStIFQmzoKKJoM%2BZR8DCSltp3T9yiVYy18ADNcGDrxrTdNo2Wm9lyJhXLwFJHHyBiPFa66GlN5juHpXUP2qhPmfxhwR6E0lz5dtt%2FXHtm5bXne8bp52NPl0iROE41rWwpcAmUMh9nhmCufBOQSnMtg%2FZjs0nE%2Fs8QM%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - d344d573-fbb0-4386-9667-da1d9ce4ecb8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"aQDC-l0-s0:CybIYP3Gnte4t52f7Nks","name":"Primary","value":"/N2/iISHlN2EYbAzdrNw2KRaLMcevjn0g5sRXMPoe2M=","connectionString":"Endpoint=https://kvtestaatrelulxejy4fv7d4.azconfig.io;Id=aQDC-l0-s0:CybIYP3Gnte4t52f7Nks;Secret=/N2/iISHlN2EYbAzdrNw2KRaLMcevjn0g5sRXMPoe2M=","lastModified":"2022-10-25T22:01:50+00:00","readOnly":false},{"id":"T/8j-l0-s0:k6rfwDA5dWpyZRR0Is+a","name":"Secondary","value":"6T/aCXLMk5JqOxHLs+k2NeAWcOxrq9aF23JmXDwc4Y4=","connectionString":"Endpoint=https://kvtestaatrelulxejy4fv7d4.azconfig.io;Id=T/8j-l0-s0:k6rfwDA5dWpyZRR0Is+a;Secret=6T/aCXLMk5JqOxHLs+k2NeAWcOxrq9aF23JmXDwc4Y4=","lastModified":"2022-10-25T22:01:50+00:00","readOnly":false},{"id":"bvnd-l0-s0:6OkEoJt3arZa7ftx+Lri","name":"Primary
        Read Only","value":"RQeANGreQ5CH7uD7Dvj1TS4k3LTcBEe+/VeyPMX2Le0=","connectionString":"Endpoint=https://kvtestaatrelulxejy4fv7d4.azconfig.io;Id=bvnd-l0-s0:6OkEoJt3arZa7ftx+Lri;Secret=RQeANGreQ5CH7uD7Dvj1TS4k3LTcBEe+/VeyPMX2Le0=","lastModified":"2022-10-25T22:01:50+00:00","readOnly":true},{"id":"VMUO-l0-s0:/9zaQU5FTucAd4Hk+TlU","name":"Secondary
        Read Only","value":"1VKR1Ep/7EAg+Q8QyBZNxbccJbF4+m1M2Wpqxi6MKrc=","connectionString":"Endpoint=https://kvtestaatrelulxejy4fv7d4.azconfig.io;Id=VMUO-l0-s0:/9zaQU5FTucAd4Hk+TlU;Secret=1VKR1Ep/7EAg+Q8QyBZNxbccJbF4+m1M2Wpqxi6MKrc=","lastModified":"2022-10-25T22:01:50+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 25 2022 22:02:05 GMT
    method: GET
    uri: https://kvtestaatrelulxejy4fv7d4.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://clitest000002.vault.azure.net/secrets/testSecret/5a6a2bfbe2c54624b6d9dd5e6402769d\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - FaKkUiKZ/LH2601I/ISC0ARc1GrolN4V4cwnJS5nGwo=
      x-ms-date:
      - Oct, 25 2022 22:02:05 GMT
    method: PUT
    uri: https://kvtestaatrelulxejy4fv7d4.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: '{"etag":"JEl-5uoL2ZjLX2bJn1BHF-9uyJabrL5KCayg7kJsuFs","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestmunw2imzp2geq4fa5.vault.azure.net/secrets/testSecret/5a6a2bfbe2c54624b6d9dd5e6402769d\"}","tags":{},"locked":false,"last_modified":"2022-10-25T22:02:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JEl-5uoL2ZjLX2bJn1BHF-9uyJabrL5KCayg7kJsuFs"'
      last-modified:
      - Tue, 25 Oct 2022 22:02:06 GMT
      sync-token:
      - zAJw6V16=OToxOSMzOTM0MjU0;sn=3934254
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 25 2022 22:02:09 GMT
    method: GET
    uri: https://kvtestaatrelulxejy4fv7d4.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"JEl-5uoL2ZjLX2bJn1BHF-9uyJabrL5KCayg7kJsuFs","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestmunw2imzp2geq4fa5.vault.azure.net/secrets/testSecret/5a6a2bfbe2c54624b6d9dd5e6402769d\"}","tags":{},"locked":false,"last_modified":"2022-10-25T22:02:06+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OToxOSMzOTM0MjU0;sn=3934254
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest000002.vault.azure.net/secrets/testSecret/5a6a2bfbe2c54624b6d9dd5e6402769d?api-version=7.0
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/5a6a2bfbe2c54624b6d9dd5e6402769d","attributes":{"enabled":true,"created":1666735322,"updated":1666735322,"recoveryLevel":"CustomizedRecoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
