interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-07-21T23:12:46.5436536+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002","name":"KVRevisionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/VIYkOoLlHXz-Gqhm_eEj7q9H2KeeTkPbfKDnUNMuBGE?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/VIYkOoLlHXz-Gqhm_eEj7q9H2KeeTkPbfKDnUNMuBGE?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/VIYkOoLlHXz-Gqhm_eEj7q9H2KeeTkPbfKDnUNMuBGE","name":"VIYkOoLlHXz-Gqhm_eEj7q9H2KeeTkPbfKDnUNMuBGE","status":"Creating","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/VIYkOoLlHXz-Gqhm_eEj7q9H2KeeTkPbfKDnUNMuBGE?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-07-21T23:12:47+00:00","endpoint":"https://kvrevisiontestphggnrwme4.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-07-21T23:12:47+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-21T23:12:47+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvrevisiontestphggnrwme4","name":"KVRevisionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e2061362-0000-0100-0000-64bb10ef0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2023-06-26T18:04:42+00:00","endpoint":"https://abc12332112.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"mubatra@microsoft.com","createdByType":"User","createdAt":"2023-06-26T18:04:42+00:00","lastModifiedBy":"mubatra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-06-26T18:04:43+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112","name":"abc12332112","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjfbtowFMbfJZp2VRMIY2hI1eRBqqFSYPkjtN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UJcpP3/edc3xeAsFOdsbFzgSjl2AVp9k4nmcJnuVpMAq21iozCsOKCLJhFRO2Q861Zh0qq9DUhaGaK8ulMOFwWA5I0f2Mhqws0SfGKCoo%2B4IGEe31iuGgKPrDUGl54CXTJnzgVEsj17aDlRpLseabWhP/qZC%2Bv0ut1Mx8JYqjg3vPPb%2BNulEfdd3V%2B/jB7LjK5I6JW8Pce6WRtaYsuAmAUmhGiUSWGesYvBrQZDjVp9r/vvG6OYYYw2N4JuK8RUQpdLHiVYo4TxbLGFYqFNGkYtYlx0Hk9%2Bkiz77DIqBHIp5IjZR3U/P/oKPdi7q9NhYRLCnIvmDayrXU/H3EL2UKGIsH2DohviX4cToDmItCn/c%2B1L7A4nSKYVmp9U/kEOaLZIV/ehBYEE97LoibTpCQbXHCd8l0jB0RtDrbwnhp0JkIJ0x%2B77MNS5T/Fan%2B30EH7LRCm8Zqq3gSz6%2BNEJY%2Brc/MkTpZ0tU0e4yTGZ5P4HntjWV/9F39B85wAluVJv2/SCONHxan8wm03vKmChd/jlLLhXcYbGnU3qvimgueYMAljBJfwS49H3DkhTw6DJynflkyxbCtRWpvrX9hgI30be4djR8r7xLsWiTA0b4FWTfH9qu18jTO8RJWszek4oaUa%2BKO7%2BggmN9q%2BdKVpxFAGL/S4oK6Xah%2BDl5vAqIrvNlotiGWlc0W0qmDk4fg9Tc%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 0973f2bb-80e5-4d66-89f8-25165c5003ff
      - 21ab126b-7a6d-4782-a322-44763f443c9b
      - 8d29c8e1-df63-4cf0-8b23-80e5aa79b049
      - 22173a1a-9a25-4b19-9cdd-0492a78b2784
      - 4456683e-0534-4f53-9411-25ccb170891e
      - 31d27a09-3045-406e-a263-c36ef918a20b
      - 91d1339b-f783-454f-bdd0-bddc8a74a707
      - 04322426-f4b3-4649-8aa8-a7324199782a
      - a2e738e8-203d-4056-8544-89fa8633769e
      - a0d6f844-52a6-4941-bc23-52727f398aa8
      - 738cee58-f923-45cf-9b52-63a4549a6c14
      - 7d3f3966-f72f-4b93-be43-5e428fe12c6f
      - 6b8dcb89-c5b9-45cf-861d-c4b9e9cd8886
      - 8be4b122-aa18-4697-a418-add5dc452f06
      - c50c4507-7c0a-4b5f-9937-18afe53121a4
      - 7142dd31-8b30-49cd-970f-cbd8452c89f6
      - 392ea4cd-0e4e-4771-a530-03299e982a35
      - 01d7baae-b662-439c-8ef9-d0714cd18898
      - f271378b-e5d7-4875-9832-1842dd658fa9
      - 826e830d-06e7-4598-89a1-98b74fea68a8
      - 6f4e6f9d-fe62-45fa-92fc-00c9363312ae
      - ab45c70e-440a-4a89-b42f-c87f0d20c165
      - 91642f47-53c7-4880-b3cc-dc3409fecc77
      - de761bd3-6913-43d1-8757-eab53641e88d
      - c2b27083-40e0-4aea-bd12-6e57dcd73633
      - 51db9169-fb88-4de2-9e02-6ddb79f1c1fb
      - f7e7bc25-819b-43a8-8504-af9ca9045c95
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVRevisionTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"xFOu","name":"Primary","value":"j3KCy8lMKEsEv0Esj/uhGxrXa07tM3Bfhk53mD4MtjU=","connectionString":"Endpoint=https://kvrevisiontestphggnrwme4.azconfig.io;Id=xFOu;Secret=j3KCy8lMKEsEv0Esj/uhGxrXa07tM3Bfhk53mD4MtjU=","lastModified":"2023-07-21T23:12:46+00:00","readOnly":false},{"id":"iPhK","name":"Secondary","value":"Xfc5TICny66FFe4R76oL6ciDqq9ixc/wZF/m6OP88cE=","connectionString":"Endpoint=https://kvrevisiontestphggnrwme4.azconfig.io;Id=iPhK;Secret=Xfc5TICny66FFe4R76oL6ciDqq9ixc/wZF/m6OP88cE=","lastModified":"2023-07-21T23:12:46+00:00","readOnly":false},{"id":"idOf","name":"Primary
        Read Only","value":"+7TT11Ca7ROtz4ZfpaBnsZm3+ExjscXLntr5tFvTgag=","connectionString":"Endpoint=https://kvrevisiontestphggnrwme4.azconfig.io;Id=idOf;Secret=+7TT11Ca7ROtz4ZfpaBnsZm3+ExjscXLntr5tFvTgag=","lastModified":"2023-07-21T23:12:46+00:00","readOnly":true},{"id":"kw8N","name":"Secondary
        Read Only","value":"85VrS76RuhGBmnAGUj0futss3LTsuevssHSi5lHI2DA=","connectionString":"Endpoint=https://kvrevisiontestphggnrwme4.azconfig.io;Id=kw8N;Secret=85VrS76RuhGBmnAGUj0futss3LTsuevssHSi5lHI2DA=","lastModified":"2023-07-21T23:12:46+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 23:13:32 GMT
    method: GET
    uri: https://kvrevisiontestphggnrwme4.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSM1OTQ3OTY5;sn=5947969
      x-ms-resource-group:
      - clitest.rgbouax4ucej25p32rhp5t3mgy4vsgmmff5dbe3fhc55ttmrqhpxvna3kqz4b2tch33
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvrevisiontestphggnrwme4
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=OToxOSM1OTQ3OTY5
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Jul, 21 2023 23:13:32 GMT
    method: PUT
    uri: https://kvrevisiontestphggnrwme4.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"ETpltyKdLSykcxelDzDzQoA58MrNyKC1Ok6IcHOal4M","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2023-07-21T23:13:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ETpltyKdLSykcxelDzDzQoA58MrNyKC1Ok6IcHOal4M"'
      last-modified:
      - Fri, 21 Jul 2023 23:13:32 GMT
      sync-token:
      - zAJw6V16=OToxOSM1OTQ3OTcw;sn=5947970
      x-ms-resource-group:
      - clitest.rgbouax4ucej25p32rhp5t3mgy4vsgmmff5dbe3fhc55ttmrqhpxvna3kqz4b2tch33
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvrevisiontestphggnrwme4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=TU/bSgMxFPyXID6Zze7WNbhQJEjfLIjbfkAupzEsm4RzskUt/XdTn4R5GebCzIVF%2BCpvIc7ExgvbqelwnPrdUb2zkX2WkmkUYtFRe1gglkb/rAiNTYug1ZDFkEtIkYSUbtCmfeISnOOPAJYbC8986G3XGTkYs5EiYzoHB0hiHywmSqfSqJxfUzwFv6K%2BVQn7n00lIdCLzoGfa67q277tN7yt6O7vaA75kGaIW7oZQ7R1KX6z6wPTuCjvEbwu4P489ZD62LPrLw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 56f4aac1-cf03-4300-a81d-5165c609714b
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"ETpltyKdLSykcxelDzDzQoA58MrNyKC1Ok6IcHOal4M"'
      Sync-Token:
      - zAJw6V16=OToxOSM1OTQ3OTcw
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Jul, 21 2023 23:13:52 GMT
    method: PUT
    uri: https://kvrevisiontestphggnrwme4.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"Xn0Fv9M4z6eW4a5KmaMy1sUHeg5eqfhjCk4xqamyEuY","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-07-21T23:13:52+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Xn0Fv9M4z6eW4a5KmaMy1sUHeg5eqfhjCk4xqamyEuY"'
      last-modified:
      - Fri, 21 Jul 2023 23:13:52 GMT
      sync-token:
      - zAJw6V16=OToxOSM1OTQ3OTcx;sn=5947971
      x-ms-resource-group:
      - clitest.rgbouax4ucej25p32rhp5t3mgy4vsgmmff5dbe3fhc55ttmrqhpxvna3kqz4b2tch33
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvrevisiontestphggnrwme4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=1ZjRbtowFIbfJZp2VRMIY2hI1eRBqkWlwBIitN45jgEXYnu2A5Sq7z47sLSb9gJHyk0UOfKn//POfZLINjJTrnYmWD0EqzibDmOZ8sUT/MsGAVba5UZhWFFBNmwignbIedasw6VVWjqwlDNleVSmHA4LAek6H5GQ1aW6BNjFBWUfUGDiPZ6xXBQFP1hqLQ88JJpEz5wqqWRa9vBSo2lWPNNrYn/VUjfv2VWama%2BEsXRwa1z32%2BjbtRHXff0Pn4wO66WcsfErWFuXWlkrSkLbgKgFJpRIpFlxjoGrwY0GU71qfbbN143xxBjeAzPRJy3iCiFLla8ShHn6XwRw0qFIppUzLrkOIj8Ppvny%2B%2BwCOiRiCdSI%2BXd1OwfdLR7UbfXxiKCJQXZF0xbuZaav4/4pUwBY/EAWyfEtxQ/JlOAuSj0ee9D7QsszhIMy0qtfyKHMJunK/zTg8CCeNpzQdx0goRsixO%2BS5MxdkTQ6mwL46VBZyKcMPm9zzYsUf5XpPp/Bx2w0wptGqut4kk8uzZCWPq0PjNH6mTJVsnyMU6neDaB57U3lv3Rd/UfeIlT2Ko06f9FGmn8sJjMJtB6y5sqXPw5Si3m3mGwpVF7r4prLniCAZcwSnwFu/R8wJEX8ugwcJ75y5IEw7YWqb21/oUBNtK3uXc0fqy8S7FrkQBH%2BxZk3Rzbr9bKszjHC1jN3pCKG1KuiTu%2Bo4Ng/lbLl648i2DABK83AdEV3mw02xDLyuay0YmA04fg9Tc%3D
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus2euap","properties":{"provisioningState":"Succeeded","creationDate":"2023-05-19T18:00:03+00:00","endpoint":"https://haiyiwen-euseuap.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"haiyiwen@microsoft.com","createdByType":"User","createdAt":"2023-05-19T18:00:03+00:00","lastModifiedBy":"haiyiwen@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-27T03:19:56+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/haiyiwen-dev/providers/Microsoft.AppConfiguration/configurationStores/haiyiwen-euseuap","name":"haiyiwen-euseuap","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus2euap","identity":{"type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/jimmyca-wus/providers/microsoft.managedidentity/userassignedidentities/jimmyca-mi-4":{"principalId":"949c3968-a2e3-4bdc-b9fe-920f4d5a183f","clientId":"1cff8b01-4c3c-4d20-a72f-b169e7d0690b"}},"principalId":"8462ba54-c3ac-4a7e-ae69-f49bb0525330","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","creationDate":"2020-02-14T00:05:52+00:00","endpoint":"https://jimmyca-eus2euap.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-14T00:05:52+00:00","lastModifiedBy":null,"lastModifiedByType"[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 23:14:12 GMT
    method: GET
    uri: https://kvrevisiontestphggnrwme4.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=OToxOSM1OTQ3OTcy;sn=5947972
      x-ms-resource-group:
      - clitest.rgbouax4ucej25p32rhp5t3mgy4vsgmmff5dbe3fhc55ttmrqhpxvna3kqz4b2tch33
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvrevisiontestphggnrwme4
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jul, 21 2023 23:14:14 GMT
    method: GET
    uri: https://kvrevisiontestphggnrwme4.azconfig.io/revisions?key=Color&label=%2A&api-version=1.0&$Select=content_type,etag,label,last_modified,value
  response:
    body:
      string: '{"items":[{"etag":"hR6aZ8aUk6I2OoieI-yproreqZltQvly5S6JuuXuAsE","label":"newlabel","content_type":"text","value":"Green","last_modified":"2023-07-21T23:14:12+00:00"},{"etag":"Xn0Fv9M4z6eW4a5KmaMy1sUHeg5eqfhjCk4xqamyEuY","label":"v1.0.0","content_type":"text","value":"Green","last_modified":"2023-07-21T23:13:52+00:00"},{"etag":"ETpltyKdLSykcxelDzDzQoA58MrNyKC1Ok6IcHOal4M","label":"v1.0.0","content_type":"","value":"","last_modified":"2023-07-21T23:13:32+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=OToxOSM1OTQ3OTcz;sn=5947973
      x-ms-resource-group:
      - clitest.rgbouax4ucej25p32rhp5t3mgy4vsgmmff5dbe3fhc55ttmrqhpxvna3kqz4b2tch33
      x-ms-subscription-id:
      - 77d5ab06-7edd-4eec-bce9-52c11b75bb37
      x-ms-tenant-name:
      - kvrevisiontestphggnrwme4
    status:
      code: 200
      message: OK
version: 1
