interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2022-01-20T10:56:56.9986927+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002","name":"KVSetImportTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/aa466317-fdf2-87db-2ff6-c3b4e83ae089?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/aa466317-fdf2-87db-2ff6-c3b4e83ae089?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/aa466317-fdf2-87db-2ff6-c3b4e83ae089","name":"aa466317-fdf2-87db-2ff6-c3b4e83ae089","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/aa466317-fdf2-87db-2ff6-c3b4e83ae089?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2022-01-20T10:56:57+00:00","endpoint":"https://kvsetimporttesttjp2w43xh.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2022-01-20T10:56:57+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-01-20T10:56:58+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvsetimporttesttjp2w43xh","name":"KVSetImportTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1c00bd10-0000-0100-0000-61e93ff90000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVSetImportTest000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"10sV-l0-s0:50tnNfNlK7Hk2rsCx/8j","name":"Primary","value":"+vd0mobAc8rn3FYxLlyyqp3D28VTjlHcofgYEA1JQCM=","connectionString":"Endpoint=https://kvsetimporttesttjp2w43xh.azconfig.io;Id=10sV-l0-s0:50tnNfNlK7Hk2rsCx/8j;Secret=+vd0mobAc8rn3FYxLlyyqp3D28VTjlHcofgYEA1JQCM=","lastModified":"2022-01-20T10:56:57+00:00","readOnly":false},{"id":"pSu1-l0-s0:jfB+AWND+Nf5usO7V/QV","name":"Secondary","value":"lR9mw9cs4SqbT/HUNyH0VjYVL7TKkcrFL2VhaSnS1og=","connectionString":"Endpoint=https://kvsetimporttesttjp2w43xh.azconfig.io;Id=pSu1-l0-s0:jfB+AWND+Nf5usO7V/QV;Secret=lR9mw9cs4SqbT/HUNyH0VjYVL7TKkcrFL2VhaSnS1og=","lastModified":"2022-01-20T10:56:57+00:00","readOnly":false},{"id":"0TwJ-l0-s0:+B4WWqedEkqlXq3S51sq","name":"Primary
        Read Only","value":"wpz5ZwJLWpyyLhtgQH/qMNecasN7KtLyTaafKepUycE=","connectionString":"Endpoint=https://kvsetimporttesttjp2w43xh.azconfig.io;Id=0TwJ-l0-s0:+B4WWqedEkqlXq3S51sq;Secret=wpz5ZwJLWpyyLhtgQH/qMNecasN7KtLyTaafKepUycE=","lastModified":"2022-01-20T10:56:57+00:00","readOnly":true},{"id":"52mN-l0-s0:5PlSLw/xpuQ6dKpEjn5W","name":"Secondary
        Read Only","value":"orx3IrojFS+xGWRcxoQ0tadmEMJwB1hIfWhneoujPgI=","connectionString":"Endpoint=https://kvsetimporttesttjp2w43xh.azconfig.io;Id=52mN-l0-s0:5PlSLw/xpuQ6dKpEjn5W;Secret=orx3IrojFS+xGWRcxoQ0tadmEMJwB1hIfWhneoujPgI=","lastModified":"2022-01-20T10:56:57+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 20 2022 10:57:10 GMT
    method: GET
    uri: https://kvsetimporttesttjp2w43xh.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NzoxOSMzMDMwOTU2;sn=3030956
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/beta-enabled", "label": "beta-feature",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The flag
      indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMDMwOTU2
      x-ms-content-sha256:
      - E/rQErem/hNq9PcxoP0ccXXkIyWcn15OnSSbWFT73Vw=
      x-ms-date:
      - Jan, 20 2022 10:57:10 GMT
    method: PUT
    uri: https://kvsetimporttesttjp2w43xh.azconfig.io/kv/.appconfig.featureflag%2Fbeta-enabled?label=beta-feature&api-version=1.0
  response:
    body:
      string: '{"etag":"swjMO5jS2nP1aEN9ZtM0iJo4Mkr","key":".appconfig.featureflag/beta-enabled","label":"beta-feature","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"custom-feature-beta-enabled\",\"description\":\"The
        flag indicates whether the beta feature is enabled for the user.\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-01-20T10:57:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"swjMO5jS2nP1aEN9ZtM0iJo4Mkr"'
      last-modified:
      - Thu, 20 Jan 2022 10:57:10 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMDMwOTU3;sn=3030957
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/bool-feature", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"bool-feature\",\"description\":\"It is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMDMwOTU3
      x-ms-content-sha256:
      - pAAJp009Tmxk8lzcsvCW7gQp3i5NsrV2IH0df8taFr8=
      x-ms-date:
      - Jan, 20 2022 10:57:10 GMT
    method: PUT
    uri: https://kvsetimporttesttjp2w43xh.azconfig.io/kv/.appconfig.featureflag%2Fbool-feature?api-version=1.0
  response:
    body:
      string: '{"etag":"bIu1JnLh0UHbkbMfIn79YoQlOKU","key":".appconfig.featureflag/bool-feature","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"bool-feature\",\"description\":\"It
        is a boolean feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}","tags":{},"locked":false,"last_modified":"2022-01-20T10:57:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bIu1JnLh0UHbkbMfIn79YoQlOKU"'
      last-modified:
      - Thu, 20 Jan 2022 10:57:10 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMDMwOTU4;sn=3030958
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/theta-enabled", "label": "theta-enabled-label",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\":\"customer-theta-enabled\",\"description\":\"This feature
      describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMDMwOTU4
      x-ms-content-sha256:
      - oIJ3x1CKMImCAtBrApEUuF0/3AN4+3/pFOH4fA1+Ly8=
      x-ms-date:
      - Jan, 20 2022 10:57:10 GMT
    method: PUT
    uri: https://kvsetimporttesttjp2w43xh.azconfig.io/kv/.appconfig.featureflag%2Ftheta-enabled?label=theta-enabled-label&api-version=1.0
  response:
    body:
      string: '{"etag":"pWgyo6A9XX6XuX6tfeJJJjRkSSH","key":".appconfig.featureflag/theta-enabled","label":"theta-enabled-label","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":\"customer-theta-enabled\",\"description\":\"This
        feature describes whether a theta feature is enabled for the customers.\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[],\"Groups\":[],\"DefaultRolloutPercentage\":90}}}]}}","tags":{},"locked":false,"last_modified":"2022-01-20T10:57:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pWgyo6A9XX6XuX6tfeJJJjRkSSH"'
      last-modified:
      - Thu, 20 Jan 2022 10:57:11 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMDMwOTU5;sn=3030959
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:BackgroundColor", "content_type": "", "value":
      "#FBB", "tags": {"App": "TesApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMDMwOTU5
      x-ms-content-sha256:
      - Mj308WmAazWHXQVqxuR5/u6g2jvYqgV8yWqf5RVZ/7g=
      x-ms-date:
      - Jan, 20 2022 10:57:10 GMT
    method: PUT
    uri: https://kvsetimporttesttjp2w43xh.azconfig.io/kv/TestApp%3ASettings%3ABackgroundColor?api-version=1.0
  response:
    body:
      string: '{"etag":"DHvKLbSiab1bGJr3Zz7aSuDtyfm","key":"TestApp:Settings:BackgroundColor","label":null,"content_type":"","value":"#FBB","tags":{"App":"TesApp"},"locked":false,"last_modified":"2022-01-20T10:57:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DHvKLbSiab1bGJr3Zz7aSuDtyfm"'
      last-modified:
      - Thu, 20 Jan 2022 10:57:11 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMDMwOTYw;sn=3030960
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontColor", "content_type": "", "value": "#999",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMDMwOTYw
      x-ms-content-sha256:
      - 72vaaALipJe6NndXlDpl0uqo1zMbkbXJaGup5i9rSLU=
      x-ms-date:
      - Jan, 20 2022 10:57:10 GMT
    method: PUT
    uri: https://kvsetimporttesttjp2w43xh.azconfig.io/kv/TestApp%3ASettings%3AFontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"CLCn3W40R5jKZpA1UF11921epeB","key":"TestApp:Settings:FontColor","label":null,"content_type":"","value":"#999","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-01-20T10:57:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CLCn3W40R5jKZpA1UF11921epeB"'
      last-modified:
      - Thu, 20 Jan 2022 10:57:11 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMDMwOTYx;sn=3030961
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:FontSize", "content_type": "", "value": "30",
      "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMDMwOTYx
      x-ms-content-sha256:
      - IkgMxOf/+xeV2aaUz4W2bdG3DkMwrjL9RNLgw6dA1cI=
      x-ms-date:
      - Jan, 20 2022 10:57:10 GMT
    method: PUT
    uri: https://kvsetimporttesttjp2w43xh.azconfig.io/kv/TestApp%3ASettings%3AFontSize?api-version=1.0
  response:
    body:
      string: '{"etag":"2RJwJBBZIz8VzUPAWCn7vsFfV1v","key":"TestApp:Settings:FontSize","label":null,"content_type":"","value":"30","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-01-20T10:57:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"2RJwJBBZIz8VzUPAWCn7vsFfV1v"'
      last-modified:
      - Thu, 20 Jan 2022 10:57:11 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMDMwOTYy;sn=3030962
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "TestApp:Settings:Message", "content_type": "", "value": "Dada
      dada, doda!", "tags": {"App": "TestApp"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMDMwOTYy
      x-ms-content-sha256:
      - I2wdg4MJP4XdVYiC+eW83HTxj6VCHrCGaraeyWcaUrQ=
      x-ms-date:
      - Jan, 20 2022 10:57:10 GMT
    method: PUT
    uri: https://kvsetimporttesttjp2w43xh.azconfig.io/kv/TestApp%3ASettings%3AMessage?api-version=1.0
  response:
    body:
      string: '{"etag":"iDeD5O2hVLXJghPvapACfiITaNX","key":"TestApp:Settings:Message","label":null,"content_type":"","value":"Dada
        dada, doda!","tags":{"App":"TestApp"},"locked":false,"last_modified":"2022-01-20T10:57:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"iDeD5O2hVLXJghPvapACfiITaNX"'
      last-modified:
      - Thu, 20 Jan 2022 10:57:11 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMDMwOTYz;sn=3030963
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "pratik-top-secret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMDMwOTYz
      x-ms-content-sha256:
      - lVMbAyhaD4Ft+hy/CGLbJsp2BQ2aP3grE0qqNnBNS+o=
      x-ms-date:
      - Jan, 20 2022 10:57:11 GMT
    method: PUT
    uri: https://kvsetimporttesttjp2w43xh.azconfig.io/kv/pratik-top-secret?api-version=1.0
  response:
    body:
      string: '{"etag":"epNpZAxVLXARDqeTeAIv37G3mV7","key":"pratik-top-secret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://prsangli-appc-keyvault.vault.azure.net/secrets/appc-keyvault-secret/977e940850eb42628b7719a7431f6c27\"}","tags":{},"locked":false,"last_modified":"2022-01-20T10:57:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"epNpZAxVLXARDqeTeAIv37G3mV7"'
      last-modified:
      - Thu, 20 Jan 2022 10:57:11 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMDMwOTY0;sn=3030964
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "sample-1-testkey", "label": "sample-1", "content_type": "text/json",
      "value": "sample-1-testvalue", "tags": {"tag1": "sample", "tag2": "sample2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NzoxOSMzMDMwOTY0
      x-ms-content-sha256:
      - npLEPR44rPzyQe2tgNB7RTFFEU6AtzoyVJo6bqXvho8=
      x-ms-date:
      - Jan, 20 2022 10:57:11 GMT
    method: PUT
    uri: https://kvsetimporttesttjp2w43xh.azconfig.io/kv/sample-1-testkey?label=sample-1&api-version=1.0
  response:
    body:
      string: '{"etag":"E6sNzQAdqHJBeOs6hp8rbjFcF69","key":"sample-1-testkey","label":"sample-1","content_type":"text/json","value":"sample-1-testvalue","tags":{"tag1":"sample","tag2":"sample2"},"locked":false,"last_modified":"2022-01-20T10:57:11+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"E6sNzQAdqHJBeOs6hp8rbjFcF69"'
      last-modified:
      - Thu, 20 Jan 2022 10:57:11 GMT
      sync-token:
      - zAJw6V16=NzoxOSMzMDMwOTY1;sn=3030965
    status:
      code: 200
      message: OK
[...]
