interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"dataPlaneProxy":
      {}, "createMode": "Default", "softDeleteRetentionInDays": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-05-04T12:01:48.5480841+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002",
        "name": "FeatureNamespaceTest000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.ntbA5eWqxMl-MSikChhRbnSH77nFSfTqUgf72OlYOZo?api-version=2025-08-01-preview&t=639134929086768361&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.ntbA5eWqxMl-MSikChhRbnSH77nFSfTqUgf72OlYOZo?api-version=2025-08-01-preview&t=639134929086768361&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoX[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-05-04T12:01:48+00:00", "endpoint": "https://featurenamespacetestvwee.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-05-04T12:01:48+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-05-04T12:01:48+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurenamespacetestvwee",
        "name": "FeatureNamespaceTest000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"34057f3f-0000-0100-0000-69f88aaf0000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [], "disableLocalAuth": false, "softDeleteRetentionInDays": 7, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview&$skiptoken=3ZrdTyM3FMX/l6jqEyZ8LKVFWlUuzHazCwnNh%2BgiXpyJExwynsEzQwKI/733Xg%2BOA%2BxDH28eAQXpl2MfH1%2Bf55bVq%2Brc2LuydfLcukoGw9OkO%2BzL89GgddK6raqiPGm3M2XVTGfaVrvqqXZ6N82zdlmPy9SZojK5LdvHx5MjNd77TRzryUR80joV41T/IY4O0v398fHReHx43C5c/mAm2pXtC5O6vMyn1a4sitPcTs2sdgr/VTuNf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview&$skiptoken=3ZBfS4RAFMW/yxA9NY7amiUsIRH0kAS5vfkyf642mDPDndGWFb97WkH7GXq8v3vOgXNmYuAYnrXpPSlm8ljWh7eaFOQ9BOcLxgZueAcDmBDx04gQSTswPwovUbugrfEsz1XGRXxDc1CK7gAkFRLuaJbKJBF5JsR1zhzaSStAzyot0Xrbhqh07sGaVncj8i2KyfOrDhbB33On6bT61v8%2BjdOMxrc0TqhDmDR8Xl74XruD7cHs%2B2ljmzCADyMcT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview&$skiptoken=3ZDNSsQwFIXfJYgr06StnWphkCKCC4tgx103%2BblTQ20SbtI6WPru1h/QZ3B5zrn3wHcWYuEUH4wdAqkWcle3h%2BeWVOQlRh8qxkZhRQ8j2JiI9wkhUW5kYZJBofHROBtYWepCSL6jJWhNLwEUlQquaZGpNJVlIWVeMo9uNhowsMYodMEdY1J7f%2Bvs0fQTis8qpv6qNjqEcCO8ofP2t%2BX7jGcF5VeUp9QjzAbezs/CYPzBDWD3ODkt7MkAz[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2025-08-01-preview&$skiptoken=3ZDNSsQwFIXfJYgr07TVWi0MUkRwYRHsuOsmP3c6odMk3KRVp/TdjT8wPoPLc849F76zEAPv4UmbwZNqIQ91u31tSUX2IThfMTZyw3sYwYSEHyeERNqR%2BUl4idoFbY1nZakKLtJrWoJS9ApAUiHhlha5zDJRFkJclsyhnbUC9KzREq23u5DUzt1bs9P9hPzrFZN/VRssgr/jTtM59mK%2BydO8oOkNTTPqEGYNb%2BdnftBuawcwm%2BNef0zcHDQ3PQ3gA1kvTnTP5tEeVGSMJsex7nuEngdQ3%2BVIXL805Oe%2B4TgARmvpfgfpSNX9i0k6spL1Ew%3D%3D
  response:
    body:
      string: '{"value": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - baace6f3-59af-430b-aa2f-339dae3b3460
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureNamespaceTest000002/listKeys?api-version=2025-08-01-preview
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://featurenamespacetestvwee.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2026-05-04T12:01:48+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://featurenamespacetestvwee.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2026-05-04T12:01:48+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://featurenamespacetestvwee.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2026-05-04T12:01:48+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://featurenamespacetestvwee.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2026-05-04T12:01:48+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2026 12:02:54.216823 GMT
    method: GET
    uri: https://featurenamespacetestvwee.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?api-version=2023-11-01&label=v1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=MTU6MTkjNzk5NDg0MTg=;sn=79948418
      x-ms-date:
      - Mon, 04 May 2026 12:02:57 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/MyApp:Beta", "label": "v1", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MTU6MTkjNzk5NDg0MTg=
      x-ms-content-sha256:
      - r4s0J4lEmjgUoGT3XJwCaehpz+VoUyxLHoCnSFGOHzI=
      x-ms-date:
      - May, 04 2026 12:02:56.051967 GMT
    method: PUT
    uri: https://featurenamespacetestvwee.azconfig.io/kv/.appconfig.featureflag%2FMyApp%3ABeta?api-version=2023-11-01&label=v1
  response:
    body:
      string: '{"etag":"1sO6ZHvHNw8rbizoOhxDPm8OBde_mi6wW2efMYty-3E","key":".appconfig.featureflag/MyApp:Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2026-05-04T12:02:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1sO6ZHvHNw8rbizoOhxDPm8OBde_mi6wW2efMYty-3E"'
      last-modified:
      - Mon, 04 May 2026 12:02:59 GMT
      sync-token:
      - zAJw6V16=MTU6MTkjNzk5NDg0MTk=;sn=79948419
      x-ms-date:
      - Mon, 04 May 2026 12:02:59 GMT
    status:
      code: 200
      message: OK
[...]
