interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"createMode":
      "Default", "dataPlaneProxy": {}, "disableLocalAuth": true, "softDeleteRetentionInDays":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2026-09-08T10:15:52.6935393+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "defaultKeyValueRevisionRetentionPeriodInSeconds": null, "enablePurgeProtection":
        null, "dataPlaneProxy": null, "telemetry": null, "azureFrontDoor": null},
        "sku": {"name": "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002",
        "name": "enhancedfeature000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.zXon2rpNaXroX-cOsztkUQpti3FUIaGKUA4EG1WDWgo?api-version=2025-08-01-preview&t=639244593527589627&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRaFw0yNzAyMDkwNjQwMTRaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2Nlcn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Y29uZmlndXJhdGlvblN0b3Jlcw.zXon2rpNaXroX-cOsztkUQpti3FUIaGKUA4EG1WDWgo?api-version=2025-08-01-preview&t=639244593527589627&c=MIIHlTCCBn2gAwIBAgIRAN0yZzL8aR42UZysboj3ciowDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVVTMiBDQSAwMTAeFw0yNjA4MTQwMDQwMTRa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002?api-version=2025-08-01-preview
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2026-09-08T10:15:52+00:00", "endpoint": "https://enhancedfeature000002.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": true, "softDeleteRetentionInDays": 1, "defaultKeyValueRevisionRetentionPeriodInSeconds":
        2592000, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}, "telemetry": {"resourceId":
        null}, "azureFrontDoor": {"resourceId": null}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "test@example.com", "createdByType": "User", "createdAt":
        "2026-09-08T10:15:52+00:00", "lastModifiedBy": "test@example.com", "lastModifiedByType":
        "User", "lastModifiedAt": "2026-09-08T10:15:52+00:00"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/enhancedfeature000002",
        "name": "enhancedfeature000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1f064da9-0000-0100-0000-6a9fe0590000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - dyZf1=NzotMSM2OTE1;sn=6915
      x-ms-date:
      - Tue, 08 Sep 2026 10:16:32 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"enabled": false, "tags": {}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
      Sync-Token:
      - dyZf1=NzotMSM2OTE1
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "pxLfcI6mo9zA053P7SaCHe5zPySKYyku_cakPnstBjI", "name": "Beta",
        "label": "v1", "enabled": false, "description": null, "variants": [], "allocation":
        null, "conditions": null, "telemetry": null, "tags": {}, "last_modified":
        "2026-09-08T10:16:32+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"pxLfcI6mo9zA053P7SaCHe5zPySKYyku_cakPnstBjI"'
      last-modified:
      - Tue, 08 Sep 2026 10:16:32 GMT
      sync-token:
      - dyZf1=NzotMSM2OTE2;sn=6916
      x-ms-date:
      - Tue, 08 Sep 2026 10:16:32 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": false, "description": "Beta Testing Feature Flag", "conditions":
      {"requirement_type": "Any"}, "variants": [], "tags": {}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
      Sync-Token:
      - dyZf1=NzotMSM2OTE2
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "dqD0bpKGEkFM81FUSoDJDAcQC4B5MvkuVijKgNk_UCA", "name": "Beta",
        "label": "v1", "enabled": false, "description": "Beta Testing Feature Flag",
        "variants": [], "allocation": null, "conditions": {"requirement_type": "Any"},
        "telemetry": null, "tags": {}, "last_modified": "2026-09-08T10:16:34+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"dqD0bpKGEkFM81FUSoDJDAcQC4B5MvkuVijKgNk_UCA"'
      last-modified:
      - Tue, 08 Sep 2026 10:16:34 GMT
      sync-token:
      - dyZf1=NzotMSM2OTE3;sn=6917
      x-ms-date:
      - Tue, 08 Sep 2026 10:16:34 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"enabled": true, "description": "Beta Testing Feature Flag", "conditions":
      {"requirement_type": "Any"}, "variants": [], "telemetry": {"enabled": true},
      "tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json;profile="https://azconfig.io/mime-profiles/ff";charset=utf-8
      Sync-Token:
      - dyZf1=NzotMSM2OTIw
    method: PUT
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: '{"etag": "hRgHPsnnzF4wtK6RlZK2auzpAKwhpGWnF_qebhu7X8M", "name": "Beta",
        "label": "v1", "enabled": true, "description": "Beta Testing Feature Flag",
        "variants": [], "allocation": null, "conditions": {"requirement_type": "Any"},
        "telemetry": {"enabled": true, "metadata": {}}, "tags": {"tag1": "value1",
        "tag2": "value2"}, "last_modified": "2026-09-08T10:16:38+00:00"}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ff"; charset=utf-8
      etag:
      - '"hRgHPsnnzF4wtK6RlZK2auzpAKwhpGWnF_qebhu7X8M"'
      last-modified:
      - Tue, 08 Sep 2026 10:16:38 GMT
      sync-token:
      - dyZf1=NzotMSM2OTIx;sn=6921
      x-ms-date:
      - Tue, 08 Sep 2026 10:16:38 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://enhancedfeature000002.azconfig.io/ff?api-version=2026-05-01-preview
  response:
    body:
      string: '{"etag": "h56qYo-HMS_bwomF0nZThK19M7GbpJlOUYlHvLS-UWw", "items": [{"etag":
        "EBEiUslkIyQZDWgOI5m03I4p73ybvmH3fhcRci51m8Y", "name": "Beta", "label": "v1",
        "enabled": false, "description": "Beta Testing Feature Flag", "variants":
        [], "allocation": null, "conditions": {"requirement_type": "Any"}, "telemetry":
        {"enabled": true, "metadata": {}}, "tags": {"tag1": "value1", "tag2": "value2"},
        "last_modified": "2026-09-08T10:16:40+00:00"}]}'
    headers:
      content-type:
      - application/json; profile="https://azconfig.io/mime-profiles/ffset"; charset=utf-8
      etag:
      - '"h56qYo-HMS_bwomF0nZThK19M7GbpJlOUYlHvLS-UWw"'
      sync-token:
      - dyZf1=NzotMSM2OTI0;sn=6924
      x-ms-date:
      - Tue, 08 Sep 2026 10:16:41 GMT
      x-ms-item-count:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://enhancedfeature000002.azconfig.io/ff/Beta?api-version=2026-05-01-preview&label=v1
  response:
    body:
      string: ''
    headers:
      sync-token:
      - dyZf1=NzotMSM2OTI1;sn=6925
      x-ms-date:
      - Tue, 08 Sep 2026 10:16:46 GMT
    status:
      code: 404
      message: Not Found
version: 1
