interactions:
- request:
    body: '{"sku": {"name": "standard"}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-02-08T01:43:48.7812404+00:00","endpoint":null,"encryption":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/00ed0774-13fc-04de-2222-7b6694ed85c6?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/00ed0774-13fc-04de-2222-7b6694ed85c6?api-version=2019-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/00ed0774-13fc-04de-2222-7b6694ed85c6","name":"00ed0774-13fc-04de-2222-7b6694ed85c6","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/00ed0774-13fc-04de-2222-7b6694ed85c6?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-08T01:43:49+00:00","endpoint":"https://importtesth2enqsax66khdh.azconfig.io","encryption":{"keyVaultProperties":null}},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/importtesth2enqsax66khdh","name":"ImportTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4b0061cb-0000-0100-0000-5e3e12550000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-01-30T21:03:13+00:00","endpoint":"https://ernestt-cuseuap.azconfig.io","encryption":{"keyVaultProperties":null}},"sku":{"name":"free"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ernestt-test2/providers/Microsoft.AppConfiguration/configurationStores/ernestt-cuseuap","name":"ernestt-cuseuap","location":"centraluseuap","tags":{}},{"type":"Microso[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/ImportTest000002/ListKeys?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"+B8v-l0-s0:YFa4x7BqcFP+B4ac7/KG","name":"Primary","value":"PM9BHZd4EZYRMTXwzSMqukvm8WtGsTeBTGbuf2Yu5hQ=","connectionString":"Endpoint=https://importtesth2enqsax66khdh.azconfig.io;Id=+B8v-l0-s0:YFa4x7BqcFP+B4ac7/KG;Secret=PM9BHZd4EZYRMTXwzSMqukvm8WtGsTeBTGbuf2Yu5hQ=","lastModified":"2020-02-08T01:43:48+00:00","readOnly":false},{"id":"+z85-l0-s0:L3QVt1XVsLokJwuRIIPH","name":"Secondary","value":"Xth7wb3kLfLIVHyXBTHkHkNI/kCu/WAimUqFRzerywY=","connectionString":"Endpoint=https://importtesth2enqsax66khdh.azconfig.io;Id=+z85-l0-s0:L3QVt1XVsLokJwuRIIPH;Secret=Xth7wb3kLfLIVHyXBTHkHkNI/kCu/WAimUqFRzerywY=","lastModified":"2020-02-08T01:43:48+00:00","readOnly":false},{"id":"X7Uv-l0-s0:4Vq/2lG6TpZ6GPst15cT","name":"Primary
        Read Only","value":"99S77DDKMPieKAC8k6Y8nNjfGlKJCRwxejLlKas2bHo=","connectionString":"Endpoint=https://importtesth2enqsax66khdh.azconfig.io;Id=X7Uv-l0-s0:4Vq/2lG6TpZ6GPst15cT;Secret=99S77DDKMPieKAC8k6Y8nNjfGlKJCRwxejLlKas2bHo=","lastModified":"2020-02-08T01:43:48+00:00","readOnly":true},{"id":"+RxZ-l0-s0:I0FyxMPgZWJTW3zkb8eD","name":"Secondary
        Read Only","value":"8TjDpy6jyOjiEA1MFhfPxBjfsn2dETFCSMPb06HpGqM=","connectionString":"Endpoint=https://importtesth2enqsax66khdh.azconfig.io;Id=+RxZ-l0-s0:I0FyxMPgZWJTW3zkb8eD;Secret=8TjDpy6jyOjiEA1MFhfPxBjfsn2dETFCSMPb06HpGqM=","lastModified":"2020-02-08T01:43:48+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "black", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 3zRtmzsbtz/bO3WpX/Lz50BMrJsDVg75l44KhYt3GGo=
      x-ms-date:
      - Feb, 08 2020 01:44:07 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/background-color?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"DPkhbAPlX9sw3BGf1DRirQOkRlS","key":"background-color","label":null,"content_type":null,"value":"black","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DPkhbAPlX9sw3BGf1DRirQOkRlS"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:07 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNDU=;sn=671045
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "ship2", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1axnTf8D0yLdudEOufl67P+vT+oqmixNEghELTYclIo=
      x-ms-date:
      - Feb, 08 2020 01:44:07 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/Settings%3ABackgroundColor%2Fship%2F1?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"GqZNLDnV0UHSvGOwPjl4TEbkpCu","key":"Settings:BackgroundColor/ship/1","label":null,"content_type":null,"value":"ship2","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"GqZNLDnV0UHSvGOwPjl4TEbkpCu"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:08 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNDc=;sn=671047
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - PC7Oups+djhN5P7VQ1nKd7CVH/2pq7P0uo6Aa0psTpU=
      x-ms-date:
      - Feb, 08 2020 01:44:07 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/BackgroundColor?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"owcsWp4lv6UPNdy9ZPZi3tb2Su0","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"owcsWp4lv6UPNdy9ZPZi3tb2Su0"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:08 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNDk=;sn=671049
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "English", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - QDILjzOgYSWGZAvsE9UaVqAJAXrmdhxSGLxa6xdkdlc=
      x-ms-date:
      - Feb, 08 2020 01:44:07 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/Langugage?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"d0C6QqC5NIPcx3m75SzEiNuA7Nc","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"d0C6QqC5NIPcx3m75SzEiNuA7Nc"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:08 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNTI=;sn=671052
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Feb, 08 2020 01:44:08 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"nfvBMT1mIJnb1oIhjZ8iFEvsrWF","key":"language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"nfvBMT1mIJnb1oIhjZ8iFEvsrWF"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:08 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNTQ=;sn=671054
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Acura", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - IomN0TxyiknCeMpyC9pXASukPxU1uGXMZ2p0dSc7RkY=
      x-ms-date:
      - Feb, 08 2020 01:44:08 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/Settings%3ABackgroundColor%2Fcars%2FToyota?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"aDgeryCCm31FStpIx8GX7VJnALK","key":"Settings:BackgroundColor/cars/Toyota","label":null,"content_type":null,"value":"Acura","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"aDgeryCCm31FStpIx8GX7VJnALK"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:08 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNTU=;sn=671055
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "spanish", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wkBDGgpUNcJbeauZXmz6xY9knnxHcgl0PQ8nPlGfVv4=
      x-ms-date:
      - Feb, 08 2020 01:44:08 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/Language?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"zHuUFIrKn78dMwj2MNz42bDpXQm","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zHuUFIrKn78dMwj2MNz42bDpXQm"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:08 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNTY=;sn=671056
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Feb, 08 2020 01:44:08 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/abc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"vVTicvSvEGDpQ6SeqblwbKybrjG","key":"abc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"vVTicvSvEGDpQ6SeqblwbKybrjG"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:08 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNTc=;sn=671057
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - gKdUZSjBDJ+IycPxkFSg34EqHo1iHJJZ6AC6XwsUYZw=
      x-ms-date:
      - Feb, 08 2020 01:44:08 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/appabc?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"loKFKcGXBBXITbp9LuEsEbqrZI9","key":"appabc","label":null,"content_type":null,"value":"","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:09+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"loKFKcGXBBXITbp9LuEsEbqrZI9"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:09 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNTg=;sn=671058
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "34", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - RYAiemxYAA9E5VcODQIuKsC6SG3KVPkcm0TOHEMaaek=
      x-ms-date:
      - Feb, 08 2020 01:44:08 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/font-size?label=&api-version=1.0
  response:
    body:
      string: '{"etag":"JFhIDp81119HuXH5kys7eq4mIXi","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:09+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JFhIDp81119HuXH5kys7eq4mIXi"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:09 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNTk=;sn=671059
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 08 2020 01:44:10 GMT
    method: GET
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv?key=*&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"owcsWp4lv6UPNdy9ZPZi3tb2Su0","key":"BackgroundColor","label":null,"content_type":null,"value":"red","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:08+00:00"},{"etag":"zHuUFIrKn78dMwj2MNz42bDpXQm","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:08+00:00"},{"etag":"d0C6QqC5NIPcx3m75SzEiNuA7Nc","key":"Langugage","label":null,"content_type":null,"value":"English","tags":{},"locked":false,"last_modifi[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 08 2020 01:44:12 GMT
    method: GET
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Feb, 08 2020 01:44:14 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/Region?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"TDFFbVhRorEOkylMcJk70wsTxlm","key":"Region","label":"KeyValuesWithFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TDFFbVhRorEOkylMcJk70wsTxlm"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:15 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNjE=;sn=671061
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Feb, 08 2020 01:44:14 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/Color?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"9TcgwOCvZtGj2cGShXZDbkeLIkl","key":"Color","label":"KeyValuesWithFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9TcgwOCvZtGj2cGShXZDbkeLIkl"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:15 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNjM=;sn=671063
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"enabled\": true, \"conditions\": {\"client_filters\": []}, \"description\":
      null, \"id\": \"Percentage\"}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - uj2U78Q6Vm40voEZlG/EuuPdVGdFRc0/3/DgWu55XC8=
      x-ms-date:
      - Feb, 08 2020 01:44:14 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"JYvEYhXz8BLhtHL6hH05QP6y2O8","key":".appconfig.featureflag/Percentage","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"enabled\":
        true, \"conditions\": {\"client_filters\": []}, \"description\": null, \"id\":
        \"Percentage\"}","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JYvEYhXz8BLhtHL6hH05QP6y2O8"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:15 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNjU=;sn=671065
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"enabled\": false, \"conditions\": {\"client_filters\": []}, \"description\":
      null, \"id\": \"Beta\"}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - wReoETitTcnNFPg699SmOTi4Gba4K1VIXdIYVoZSrEk=
      x-ms-date:
      - Feb, 08 2020 01:44:14 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=KeyValuesWithFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"v9GpkmxLX1cT9eFqEBvSdZBeLja","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"enabled\":
        false, \"conditions\": {\"client_filters\": []}, \"description\": null, \"id\":
        \"Beta\"}","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"v9GpkmxLX1cT9eFqEBvSdZBeLja"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:15 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwNjc=;sn=671067
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"enabled\": true, \"conditions\": {\"client_filters\": [{\"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"},
      \"name\": \"Local Tests\"}, {\"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}, \"name\": \"Production Tests\"}]}, \"description\":
      null, \"id\": \"Timestamp\"}", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - t3h7pudvekGRfw1a+Yx+IlZRCQ0yfJqihENkgbzW5Io=
      x-ms-date:
      - Feb, 08 2020 01:44:14 GMT
    method: [...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 08 2020 01:44:16 GMT
    method: GET
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv?key=*&label=KeyValuesWithFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"v9GpkmxLX1cT9eFqEBvSdZBeLja","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"application/vnd.microsoft.appc[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 08 2020 01:44:18 GMT
    method: GET
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=KeyValuesWithFeatures&fields=&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"v9GpkmxLX1cT9eFqEBvSdZBeLja","key":".appconfig.featureflag/Beta","label":"KeyValuesWithFeatures","content_type":"app[...]
[...]
- request:
    body: '{"content_type": null, "value": "West US", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - dVGtdf9bjCCVobdtBrdhoDNvcauYFDir6ZhxPZkvVHE=
      x-ms-date:
      - Feb, 08 2020 01:44:22 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/Region?label=SkipFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"9M9sUxmPhCtQUnCWME6nddPSXFO","key":"Region","label":"SkipFeatures","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9M9sUxmPhCtQUnCWME6nddPSXFO"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:22 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwODA=;sn=671080
    status:
      code: 200
      message: OK
- request:
    body: '{"content_type": null, "value": "Red", "tags": null}'
    headers:
      Content-Type:
      - application/vnd.microsoft.appconfig.kv+json;
      x-ms-content-sha256:
      - 1sT9hxGuBAZWDoyiQ2TpFhUO9+AUxgExwmjgAvoxfG0=
      x-ms-date:
      - Feb, 08 2020 01:44:22 GMT
    method: PUT
    uri: https://importtesth2enqsax66khdh.azconfig.io/kv/Color?label=SkipFeatures&api-version=1.0
  response:
    body:
      string: '{"etag":"Hrupf0hJtEGoil3YfW79MvpbLWR","key":"Color","label":"SkipFeatures","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-02-08T01:44:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Hrupf0hJtEGoil3YfW79MvpbLWR"'
      last-modified:
      - Sat, 08 Feb 2020 01:44:23 GMT
      sync-token:
      - zAJw6V16=NzotMSM2NzEwODE=;sn=671081
    status:
      code: 200
      message: OK
[...]
