interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-10-26T21:28:02.6189998+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002","name":"Source000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e346a64d-2579-3383-3cb3-4dbc29cc2676?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e346a64d-2579-3383-3cb3-4dbc29cc2676?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e346a64d-2579-3383-3cb3-4dbc29cc2676","name":"e346a64d-2579-3383-3cb3-4dbc29cc2676","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/e346a64d-2579-3383-3cb3-4dbc29cc2676?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-10-26T21:28:02+00:00","endpoint":"https://sourceg2wuvjcr2ocjvek7aw.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2021-10-26T21:28:02+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-26T21:28:03+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourceg2wuvjcr2ocjvek7aw","name":"Source000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0400c361-0000-0100-0000-617872e30000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"cmcA-l0-s0:FLE4GxZu/vLc/7vNE0VE","name":"Primary","value":"/20GNhDt/sVvyUv3OvN1BKTKuYjX2d1azBCKGEgjdeU=","connectionString":"Endpoint=https://sourceg2wuvjcr2ocjvek7aw.azconfig.io;Id=cmcA-l0-s0:FLE4GxZu/vLc/7vNE0VE;Secret=/20GNhDt/sVvyUv3OvN1BKTKuYjX2d1azBCKGEgjdeU=","lastModified":"2021-10-26T21:28:02+00:00","readOnly":false},{"id":"yumv-l0-s0:0wr1IH8joDz7eREETBcw","name":"Secondary","value":"q33uFcoGg7gcv1HPvlUbKInGppzB7o1M3DId+tO2eLs=","connectionString":"Endpoint=https://sourceg2wuvjcr2ocjvek7aw.azconfig.io;Id=yumv-l0-s0:0wr1IH8joDz7eREETBcw;Secret=q33uFcoGg7gcv1HPvlUbKInGppzB7o1M3DId+tO2eLs=","lastModified":"2021-10-26T21:28:02+00:00","readOnly":false},{"id":"mb1w-l0-s0:4atWkf22KJnVpNm97t5R","name":"Primary
        Read Only","value":"AHEKIY899/0vmbsx/wTdh7wf9HUdtUhv06p+W1L46nw=","connectionString":"Endpoint=https://sourceg2wuvjcr2ocjvek7aw.azconfig.io;Id=mb1w-l0-s0:4atWkf22KJnVpNm97t5R;Secret=AHEKIY899/0vmbsx/wTdh7wf9HUdtUhv06p+W1L46nw=","lastModified":"2021-10-26T21:28:02+00:00","readOnly":true},{"id":"8FLT-l0-s0:7NhnDomzt6SHLya2UusD","name":"Secondary
        Read Only","value":"Z/l13GA6MhfqU1jf84AVG5LSasyPKvFcUXAW810BQOA=","connectionString":"Endpoint=https://sourceg2wuvjcr2ocjvek7aw.azconfig.io;Id=8FLT-l0-s0:7NhnDomzt6SHLya2UusD;Secret=Z/l13GA6MhfqU1jf84AVG5LSasyPKvFcUXAW810BQOA=","lastModified":"2021-10-26T21:28:02+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-10-26T21:28:16.8418992+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003","name":"Destination000003","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/30c0d9c0-9274-d650-9665-4bc2cb0df6d3?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"VmWU-l0-s0:ZD2YIWLg/pUNN29P0xc5","name":"Primary","value":"tgoBvVjx3tqg2Vtni9njFF9kIUqxcohIaSQv9EhBHq8=","connectionString":"Endpoint=https://destinationb[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:30 GMT
    method: GET
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 7Fmmf225nVETX7VllbTZPQm9RpzoW+BMrNYN/MJnXB8=
      x-ms-date:
      - Oct, 26 2021 21:28:30 GMT
    method: PUT
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"PLCdYCFLxPqkn6QpgwrARBVtO3c","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:31+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"PLCdYCFLxPqkn6QpgwrARBVtO3c"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:31 GMT
      sync-token:
      - zAJw6V16=NDoxOSM4ODc1MjU0;sn=8875254
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key11", "content_type": "application/json", "value": "{\"Name\":\"Value\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - tlX8wexc8SA8aWIKIq5gWnZR/muGsoaPyJMRfPjncR4=
      x-ms-date:
      - Oct, 26 2021 21:28:35 GMT
    method: PUT
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/Key11?api-version=1.0
  response:
    body:
      string: '{"etag":"nmqWA54GmNztkXLAH62OOyXrI4w","key":"Key11","label":null,"content_type":"application/json","value":"{\"Name\":\"Value\"}","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"nmqWA54GmNztkXLAH62OOyXrI4w"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:36 GMT
      sync-token:
      - zAJw6V16=NDoxOSM4ODc1MjY0;sn=8875264
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Key12", "content_type": "application/json", "value": "{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - Bh/FEamZLNr3H/Qtnk+CPqO8WJEosTbhUsSv0GP2z6o=
      x-ms-date:
      - Oct, 26 2021 21:28:36 GMT
    method: PUT
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/Key12?api-version=1.0
  response:
    body:
      string: '{"etag":"mgxhx4LytFAzCZPySEEgXcpBNNd","key":"Key12","label":null,"content_type":"application/json","value":"{\"MyNullValue\":null,\"MyObject\":{\"Property\":{\"Name\":{\"Name1\":\"Value1\",\"Name2\":[\"qqq\",\"rrr\"]}}},\"MyArray\":[1,2,3]}","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"mgxhx4LytFAzCZPySEEgXcpBNNd"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:36 GMT
      sync-token:
      - zAJw6V16=NDoxOSM4ODc1MjY1;sn=8875265
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:39 GMT
    method: GET
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Oct, 26 2021 21:28:39 GMT
    method: PUT
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"T9HUv7iQBYNqRBr6qCx1tRgXjVk","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"T9HUv7iQBYNqRBr6qCx1tRgXjVk"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:40 GMT
      sync-token:
      - zAJw6V16=NDoxOSM4ODc1MjY4;sn=8875268
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:39 GMT
    method: GET
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:40 GMT
    method: GET
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"T9HUv7iQBYNqRBr6qCx1tRgXjVk","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:40+00:00"},{"etag":"jVUybKqdoxYStv4b4ITH6OVlpL2","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+js[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM4ODc1MjY5
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:40 GMT
    method: GET
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"T9HUv7iQBYNqRBr6qCx1tRgXjVk","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:40+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM4ODc1MjY5;sn=8875269
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "HostSecrets", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}", "tags":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - 4d83mG8PIR/2pHo1eYUwL4DWxZPKi3DBipo7rkeA0Og=
      x-ms-date:
      - Oct, 26 2021 21:28:40 GMT
    method: PUT
    uri: https://destinationb7isrhr3uz6jq.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: '{"etag":"zt0jqu65WNeUGE4ac9VDnSKyUID","key":"HostSecrets","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://fake.vault.azure.net/secrets/fakesecret\"}","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zt0jqu65WNeUGE4ac9VDnSKyUID"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:41 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MzQ4NTg0;sn=7348584
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Key01", "content_type": "application/json", "value": "\"Red\"",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM3MzQ4NTg0
      x-ms-content-sha256:
      - ssERcN/l30qL3zGxsEuQXd8SMRck/hPK9o4FH0rGF6Q=
      x-ms-date:
      - Oct, 26 2021 21:28:40 GMT
    method: PUT
    uri: https://destinationb7isrhr3uz6jq.azconfig.io/kv/Key01?api-version=1.0
  response:
    body:
      string: '{"etag":"ekjjVkebXvufOyRl5D1Ff0jWxp7","key":"Key01","label":null,"content_type":"application/json","value":"\"Red\"","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:41+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ekjjVkebXvufOyRl5D1Ff0jWxp7"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:41 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MzQ4NTg1;sn=7348585
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM3MzQ4NTk4
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - Oct, 26 2021 21:28:42 GMT
    method: PUT
    uri: https://destinationb7isrhr3uz6jq.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"bqCHNmIzEXNnXfCh0LZXmgDK87b","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bqCHNmIzEXNnXfCh0LZXmgDK87b"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:42 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MzQ4NTk5;sn=7348599
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:42 GMT
    method: GET
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"T9HUv7iQBYNqRBr6qCx1tRgXjVk","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:40+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDoxOSM4ODc1MjY5;sn=8875269
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:43 GMT
    method: GET
    uri: https://destinationb7isrhr3uz6jq.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"bqCHNmIzEXNnXfCh0LZXmgDK87b","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"i[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:43 GMT
    method: GET
    uri: https://destinationb7isrhr3uz6jq.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"bqCHNmIzEXNnXfCh0LZXmgDK87b","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:42+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM3MzQ4NTk5;sn=7348599
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:43 GMT
    method: GET
    uri: https://destinationb7isrhr3uz6jq.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"bqCHNmIzEXNnXfCh0LZXmgDK87b","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
- request:
    body: null
    headers:
      If-Match:
      - '"bqCHNmIzEXNnXfCh0LZXmgDK87b"'
      Sync-Token:
      - zAJw6V16=NToxOSM3MzQ4NTk5
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:44 GMT
    method: DELETE
    uri: https://destinationb7isrhr3uz6jq.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"bqCHNmIzEXNnXfCh0LZXmgDK87b","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"bqCHNmIzEXNnXfCh0LZXmgDK87b"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:42 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MzQ4NjAw;sn=7348600
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:28:50 GMT
    method: GET
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"T9HUv7iQBYNqRBr6qCx1tRgXjVk","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","valu[...]
[...]
- request:
    body: '{"key": "Array", "content_type": "application/json", "value": "[\"StringBoolValue\",
      \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - Zi8aaIF8dKSMjbUqEeK3OxywatmQee6zWX+zKd2w3/I=
      x-ms-date:
      - Oct, 26 2021 21:28:53 GMT
    method: PUT
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/Array?api-version=1.0
  response:
    body:
      string: '{"etag":"CxUeLbi8irEJoTwOz14pMuJxZ76","key":"Array","label":null,"content_type":"application/json","value":"[\"StringBoolValue\",
        \"true\", \"StringNullValue\", \"null\", \"StringNumberValue\", \"20.2\"]","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"CxUeLbi8irEJoTwOz14pMuJxZ76"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:54 GMT
      sync-token:
      - zAJw6V16=NDoxOSM4ODc1Mjg4;sn=8875288
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyHybridList", "content_type": "application/json",
      "value": "[1000, true, \"AppConfig string value\", [\"NestedArray\", 12, false,
      null], {\"ObjectSetting\": {\"Logging\": {\"LogLevel\": \"Information\", \"Default\":
      \"Debug\"}}}]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM4ODc1Mjg4
      x-ms-content-sha256:
      - /VcnuUjWi67XSfj41owPM1TEqVKKosXnlVKtym7qLXE=
      x-ms-date:
      - Oct, 26 2021 21:28:54 GMT
    method: PUT
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/ComplexSettings%3AMyHybridList?api-version=1.0
  response:
    body:
      string: '{"etag":"U1uYPmzGP1GLh5wy9SYOvGBfYy0","key":"ComplexSettings:MyHybridList","label":null,"content_type":"application/json","value":"[1000,
        true, \"AppConfig string value\", [\"NestedArray\", 12, false, null], {\"ObjectSetting\":
        {\"Logging\": {\"LogLevel\": \"Information\", \"Default\": \"Debug\"}}}]","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"U1uYPmzGP1GLh5wy9SYOvGBfYy0"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:54 GMT
      sync-token:
      - zAJw6V16=NDoxOSM4ODc1Mjg5;sn=8875289
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyListOfHybridLists", "content_type": "application/json",
      "value": "[[\"NestedArray4\", 34], [\"NestedArray5\", true, null], [\"NestedArray6\",
      {\"MyNullValue\": null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\":
      \"Value1\", \"Name2\": \"Value2\"}}}}]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM4ODc1Mjg5
      x-ms-content-sha256:
      - waQP+q+AwyPi/xF1iyJ1blSf1MV6qg+7yBm1kO8sEAY=
      x-ms-date:
      - Oct, 26 2021 21:28:54 GMT
    method: PUT
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/ComplexSettings%3AMyListOfHybridLists?api-version=1.0
  response:
    body:
      string: '{"etag":"WKFbrZwhd2Z8QQwPnyQ4GVLrVCi","key":"ComplexSettings:MyListOfHybridLists","label":null,"content_type":"application/json","value":"[[\"NestedArray4\",
        34], [\"NestedArray5\", true, null], [\"NestedArray6\", {\"MyNullValue\":
        null, \"MyObject\": {\"Property\": {\"Name\": {\"Name1\": \"Value1\", \"Name2\":
        \"Value2\"}}}}]]","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:54+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WKFbrZwhd2Z8QQwPnyQ4GVLrVCi"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:54 GMT
      sync-token:
      - zAJw6V16=NDoxOSM4ODc1Mjkw;sn=8875290
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyListOfStringLists", "content_type": "application/json",
      "value": "[[\"NestedArray1\", \"12\", \"false\", \"null\"], [\"NestedArray2\",
      \"text\"], [\"NestedArray3\"]]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM4ODc1Mjkw
      x-ms-content-sha256:
      - cvmvrPaYLaFjYcuyGuomGCj5ekm4uDDkc2emv4H1fLo=
      x-ms-date:
      - Oct, 26 2021 21:28:54 GMT
    method: PUT
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/ComplexSettings%3AMyListOfStringLists?api-version=1.0
  response:
    body:
      string: '{"etag":"dlVP30Etj9xfc46ooGETXx5NGhH","key":"ComplexSettings:MyListOfStringLists","label":null,"content_type":"application/json","value":"[[\"NestedArray1\",
        \"12\", \"false\", \"null\"], [\"NestedArray2\", \"text\"], [\"NestedArray3\"]]","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"dlVP30Etj9xfc46ooGETXx5NGhH"'
      last-modified:
      - Tue, 26 Oct 2021 21:28:55 GMT
      sync-token:
      - zAJw6V16=NDoxOSM4ODc1Mjkx;sn=8875291
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "ComplexSettings:MyNestedObjects:Object1", "content_type": "application/json",
      "value": "\"Value1\""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDoxOSM4ODc1Mjkx
      x-ms-content-sha256:
      - MoNhzL0EuCe5z7az7o9146/s6kSVeyRONCLKrtAl+q0=
      x-ms-date:
      - Oct, 26 2021 21:28:54 GMT
    method: PUT
    uri: https://sourceg2wuvjcr2ocjvek7aw.azconfig.io/kv/ComplexSettings%3AMyNestedObjects%3AObject1?api-version=1.0
  response:
    body:
      string: '{"etag":"EgP7rrDaw5phiYVIoPCI4CxcqBF","key":"ComplexSettings:MyNestedObjects:Object1","label":null,"content_type":"application/json","value":"\"Value1\"","tags":{},"locked":false,"last_modified":"2021-10-26T21:28:55+00:00"}'
    headers:
      content-type:
[...]
