interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-10-09T02:48:44.1916397+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003","name":"KVTest000003","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7858412b-3e6f-0137-c67b-b0a38c4924d4?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7858412b-3e6f-0137-c67b-b0a38c4924d4?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7858412b-3e6f-0137-c67b-b0a38c4924d4","name":"7858412b-3e6f-0137-c67b-b0a38c4924d4","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/7858412b-3e6f-0137-c67b-b0a38c4924d4?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-10-09T02:48:45+00:00","endpoint":"https://kvtestz26rwhoflsgwj54nyl.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestz26rwhoflsgwj54nyl","name":"KVTest000003","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0500e000-0000-0100-0000-5f7fcf8c0000"
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "testValue", "tags": {"file-encoding": "utf-8"}, "attributes":
      {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://clitest000002.vault.azure.net/secrets/testSecret?api-version=7.0
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/50b0ee4abdbd44e69a07c2fe3b5b0f6b","attributes":{"enabled":true,"created":1602211736,"updated":1602211736,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01
  response:
    body:
      string: "{\"value\":[{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2019-08-05T21:07:46+00:00\",\"endpoint\":\"https://appconfigteststorex1.azconfig.io\",\"encryption\":{\"keyVaultProperties\":null},\"privateEndpointConnections\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1/privateEndpointConnections/xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7\",\"name\":\"xuxuxuxu.fa6b8cde-6823-4276-8622-40f53cc1cfa7\",\"type\":\"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections\",\"properties\":{\"provisioningState\":\"Succeeded\",\"privateEndpoint\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerLocalDev-MININT-APPE4B4-IntegrationRGProdWUS/providers/Microsoft.Network/privateEndpoints/xuxuxuxu\"},\"privateLinkServiceConnectionState\":{\"status\":\"Approved\",\"description\":\"Auto-Approved\",\"actionsRequired\":\"None\"}}}]},\"sku\":{\"name\":\"standard\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1\",\"name\":\"AppConfigTestStoreX1\",\"location\":\"westcentralus\",\"tags\":{}},{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2020-03-25T04:52:09+00:00\",\"endpoint\":\"https://ernestt-test3.azconfi[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000003/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"DMN5-l0-s0:sSDPd9K0stg6TOsDqbAu","name":"Primary","value":"FPfuZXa2cwoXc8d11A2iERH9wpKwQBzVLXBMwnIa5y0=","connectionString":"Endpoint=https://kvtestz26rwhoflsgwj54nyl.azconfig.io;Id=DMN5-l0-s0:sSDPd9K0stg6TOsDqbAu;Secret=FPfuZXa2cwoXc8d11A2iERH9wpKwQBzVLXBMwnIa5y0=","lastModified":"2020-10-09T02:48:44+00:00","readOnly":false},{"id":"DJpM-l0-s0:VLbH16+dunnf4NRmET5U","name":"Secondary","value":"FqyW8duF/2B8ZoBlzMl69FeCNlW9zPy0t5iIaao1TcQ=","connectionString":"Endpoint=https://kvtestz26rwhoflsgwj54nyl.azconfig.io;Id=DJpM-l0-s0:VLbH16+dunnf4NRmET5U;Secret=FqyW8duF/2B8ZoBlzMl69FeCNlW9zPy0t5iIaao1TcQ=","lastModified":"2020-10-09T02:48:44+00:00","readOnly":false},{"id":"qqJv-l0-s0:A2BUFAQxi7hLib2IMqFK","name":"Primary
        Read Only","value":"K5GP8cUQY+nuiuXx0DYCa5CWIm+Re+8nBnDUVYbtTLw=","connectionString":"Endpoint=https://kvtestz26rwhoflsgwj54nyl.azconfig.io;Id=qqJv-l0-s0:A2BUFAQxi7hLib2IMqFK;Secret=K5GP8cUQY+nuiuXx0DYCa5CWIm+Re+8nBnDUVYbtTLw=","lastModified":"2020-10-09T02:48:44+00:00","readOnly":true},{"id":"lpzT-l0-s0:bC9udKCnPy3p4ylq8pmh","name":"Secondary
        Read Only","value":"wn/9dcSBigHdVvWupROaRAR0juRERZLDsdHxTF4fG6M=","connectionString":"Endpoint=https://kvtestz26rwhoflsgwj54nyl.azconfig.io;Id=lpzT-l0-s0:bC9udKCnPy3p4ylq8pmh;Secret=wn/9dcSBigHdVvWupROaRAR0juRERZLDsdHxTF4fG6M=","lastModified":"2020-10-09T02:48:44+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 09 2020 02:48:58 GMT
    method: GET
    uri: https://kvtestz26rwhoflsgwj54nyl.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "testSecret", "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
      "value": "{\"uri\":\"https://clitest000002.vault.azure.net/secrets/testSecret/50b0ee4abdbd44e69a07c2fe3b5b0f6b\"}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 76u1GGbg+eAlLQgKXZ3j0UTEnPDjOi8Q6SQm9wyRP0s=
      x-ms-date:
      - Oct, 09 2020 02:48:59 GMT
    method: PUT
    uri: https://kvtestz26rwhoflsgwj54nyl.azconfig.io/kv/testSecret?api-version=1.0
  response:
    body:
      string: '{"etag":"stgOchgF7lB5eJE2Ore3DwBsHAq","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestiwzpa7hfon7mgvxxg.vault.azure.net/secrets/testSecret/50b0ee4abdbd44e69a07c2fe3b5b0f6b\"}","tags":{},"locked":false,"last_modified":"2020-10-09T02:48:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"stgOchgF7lB5eJE2Ore3DwBsHAq"'
      last-modified:
      - Fri, 09 Oct 2020 02:48:59 GMT
      sync-token:
      - zAJw6V16=Mzo0IzIwOTg0MjAjNz0tMQ==;sn=2098420
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 09 2020 02:49:00 GMT
    method: GET
    uri: https://kvtestz26rwhoflsgwj54nyl.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"stgOchgF7lB5eJE2Ore3DwBsHAq","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestiwzpa7hfon7mgvxxg.vault.azure.net/secrets/testSecret/50b0ee4abdbd44e69a07c2fe3b5b0f6b\"}","tags":{},"locked":false,"last_modified":"2020-10-09T02:48:59+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Mzo0IzIwOTg0MjAjNz0tMQ==;sn=2098420
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://clitest000002.vault.azure.net/secrets/testSecret/50b0ee4abdbd44e69a07c2fe3b5b0f6b?api-version=7.0
  response:
    body:
      string: '{"value":"testValue","id":"https://clitest000002.vault.azure.net/secrets/testSecret/50b0ee4abdbd44e69a07c2fe3b5b0f6b","attributes":{"enabled":true,"created":1602211736,"updated":1602211736,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 09 2020 02:49:03 GMT
    method: GET
    uri: https://kvtestz26rwhoflsgwj54nyl.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"stgOchgF7lB5eJE2Ore3DwBsHAq","key":"testSecret","label":null,"content_type":"application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8","value":"{\"uri\":\"https://clitestiwzpa7hfon7mgvxxg.vault.azure.net/secrets/testSecret/50b0ee4abdbd44e69a07c2fe3b5b0f6b\"}","tags":{},"locked":false,"last_modified":"2020-10-09T02:48:59+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Mzo0IzIwOTg0MjEjNz0tMQ==;sn=2098421
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 09 2020 02:49:05 GMT
    method: GET
    uri: https://kvtestz26rwhoflsgwj54nyl.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=Mzo0IzIwOTg0MjIjNz0tMQ==;sn=2098422
    status:
      code: 200
      message: OK
version: 1
