interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-05-04T00:38:54.1246842+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002","name":"AadTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Quuh_Gu0quPpfZ7QUZaYXS9UNO4A7HftWqPKzqx--n0?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Quuh_Gu0quPpfZ7QUZaYXS9UNO4A7HftWqPKzqx--n0?api-version=2023-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Quuh_Gu0quPpfZ7QUZaYXS9UNO4A7HftWqPKzqx--n0","name":"Quuh_Gu0quPpfZ7QUZaYXS9UNO4A7HftWqPKzqx--n0","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/Quuh_Gu0quPpfZ7QUZaYXS9UNO4A7HftWqPKzqx--n0?api-version=2023-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2023-03-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-05-04T00:38:54+00:00","endpoint":"https://aadtestwwal4zag.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-05-04T00:38:54+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-05-04T00:38:55+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestwwal4zag","name":"AadTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"da03ee27-0000-0100-0000-6452fe9f0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2023-03-01&$skiptoken=3VndbtowFH6XaNpVTYCOoSFVkwepxkoDS4jQeuc4JpgfJ7Mdglr13XdsOsb2BmcSNwgF5dP3d479EihxsjOpdiYYvQSrKF2Oo3iZ0FmWBqNgY21tRmF4YIqV4iCU7bDnRosOrw6haXLDtaytrJQJh8NiwPLuRzIURUE%2BCMFJzsUnMujzXi8fDvL8dhjWujrKQmgTPkquK1OtbYfW9bhSa1k2mrm/Cvn1t9RWWpjPrJbkCM/B73f9bv%2BWdOHTe/O7GS9rHZC3Rmhj5ILYllJWt6Y4Cb4D5CcgThasPFxak6NFcYaRyCQEVGcGMhRCUuEF5TjIcqS%2BSLC5Q270ZW1e6lKz0Yf6Ejn2fKr44SmU4oLzbXTjWAAhmapi6wpdYDwghGsATDxPAFmEKrsmhclHJTswcsMFyO8ZWrLGlK71PLvj7tHXCEa6BHydxL3cbFyLS4IYxdh51ZEhqOFd/dEtNJuqsbWe0DyJaFP0xlCr1yzkms/c9GYTuibY/BKjDMOvLzBmMYTzB3JpQIsOLv%2BMkE6w98nNB5H6LW11k5b3%2BiCxrjnla2vyId5EuE3/M6T4mcv3HXvF2B13ht9o9D7ZDqmHhmuPN7CwsJg%2BScuBMgzcyl21ZT4vHMBBFXph8tVNIkg0fx5C1JuTOvCLF1Nl09RMqPxxE1lWLHs2x6A%2BU6XNMHNinfMTz/D%2BAxAOMFczGKk8gkAzCzmTmG4qan3frL0YzLiCOPMJRi0yor%2BQGx5VbUA43J%2BhFtarHHS%2BhcMsgX54ntA82foR7gbX4Csz4vx72uVKKMLXAVp2EEaVqwZnIn543BQmYuuLO3jA%2BPuJRgrgtebgOkDLUstSmZF4W%2BRgBeaPAavvwA%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 9a4dde9e-0544-4d36-ab49-e3f4f30aa126
      - 8eb270b1-cc7b-4cf5-a992-cee04f142aa6
      - 469234c4-1c7d-4647-88e1-dd296f43722e
      - 18c01977-fe3f-498e-a0c4-5ff063dc3f5b
      - 3cdab033-a1c3-4968-885c-dc765d910569
      - 6a74d44a-da6e-48cd-b74a-03541f1412e2
      - 592576b3-5ac8-4211-a263-6b3e6239c20b
      - d4054b0b-552c-4c71-8d70-7dcffdb129ce
      - c5528040-19de-4f68-8d86-21d42de6d9fc
      - 6fa79865-216e-43ff-91a9-27ea848a0aa1
      - 080f4240-cf85-43e6-8599-fe0cdb893380
    [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002/listKeys?api-version=2023-03-01
  response:
    body:
      string: '{"value":[{"id":"N+dJ-l0-s0:EJxa8OVllZ5NuG0ZA20b","name":"Primary","value":"rwueKPVHWjSCwcHb7EFprnczwmoefGlBhzoQYITZkIA=","connectionString":"Endpoint=https://aadtestwwal4zag.azconfig.io;Id=N+dJ-l0-s0:EJxa8OVllZ5NuG0ZA20b;Secret=rwueKPVHWjSCwcHb7EFprnczwmoefGlBhzoQYITZkIA=","lastModified":"2023-05-04T00:38:54+00:00","readOnly":false},{"id":"U2RS-l0-s0:Stb1liOooIcDydZC7yJn","name":"Secondary","value":"rMBFTR01vMoLJwlI5fTD8xQnD/Q9NXncXami4dRGPJw=","connectionString":"Endpoint=https://aadtestwwal4zag.azconfig.io;Id=U2RS-l0-s0:Stb1liOooIcDydZC7yJn;Secret=rMBFTR01vMoLJwlI5fTD8xQnD/Q9NXncXami4dRGPJw=","lastModified":"2023-05-04T00:38:54+00:00","readOnly":false},{"id":"uvDF-l0-s0:/cwMdAD+gX44pqa7A9hH","name":"Primary
        Read Only","value":"ewPDFwiOoZTwKZEtsAv3gfZYuB8abLuYTZ2ab8p462I=","connectionString":"Endpoint=https://aadtestwwal4zag.azconfig.io;Id=uvDF-l0-s0:/cwMdAD+gX44pqa7A9hH;Secret=ewPDFwiOoZTwKZEtsAv3gfZYuB8abLuYTZ2ab8p462I=","lastModified":"2023-05-04T00:38:54+00:00","readOnly":true},{"id":"NHEF-l0-s0:2Ji8/vRU8CHAYPamIGSC","name":"Secondary
        Read Only","value":"9RjHLnLvzgJkci1SmEay/nn6QCIL2LogQPFge9e1Vbs=","connectionString":"Endpoint=https://aadtestwwal4zag.azconfig.io;Id=NHEF-l0-s0:2Ji8/vRU8CHAYPamIGSC;Secret=9RjHLnLvzgJkci1SmEay/nn6QCIL2LogQPFge9e1Vbs=","lastModified":"2023-05-04T00:38:54+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:39:06 GMT
    method: GET
    uri: https://aadtestwwal4zag.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjE5NA==;sn=40806194
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM0MDgwNjE5NA==
      x-ms-content-sha256:
      - nt5aMZQ20VbmQ/d+gpP3HsGr+Z1pPF2YO5YAw0yHcuE=
      x-ms-date:
      - May, 04 2023 00:39:06 GMT
    method: PUT
    uri: https://aadtestwwal4zag.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"K_kDyxHUgeL0CbSZrBeSWvXCf3LoM45Wh1Uy4hQouYg","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"K_kDyxHUgeL0CbSZrBeSWvXCf3LoM45Wh1Uy4hQouYg"'
      last-modified:
      - Thu, 04 May 2023 00:39:08 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjE5NQ==;sn=40806195
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - May, 04 2023 00:39:07 GMT
    method: GET
    uri: https://aadtestwwal4zag.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjE5NQ==;sn=40806195
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSM0MDgwNjE5NQ==
      x-ms-content-sha256:
      - 2meS3WaUzuxsyGILODhKK5cIIe+3Mov1qW6F4UXeEdc=
      x-ms-date:
      - May, 04 2023 00:39:07 GMT
    method: PUT
    uri: https://aadtestwwal4zag.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"pp4Oh4WryKFDFoSLWaaqJEh5VTON53WMUzAj5bCETT0","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pp4Oh4WryKFDFoSLWaaqJEh5VTON53WMUzAj5bCETT0"'
      last-modified:
      - Thu, 04 May 2023 00:39:08 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjE5Ng==;sn=40806196
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users?$filter=userPrincipalName%20eq%20%27albertofori%40microsoft.com%27
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users","value":[{"businessPhones":["+1
        (425) 4213985"],"displayName":"Albert Ofori","givenName":"Albert","jobTitle":"SOFTWARE
        ENGINEER","mail":"albertofori@microsoft.com","mobilePhone":null,"officeLocation":"18/2450FL","preferredLanguage":null,"surname":"Ofori","userPrincipalName":"albertofori@microsoft.com","id":"35296b93-33f5-48e5-b41e-3e29f64921e6"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"1","ScaleUnit":"000","RoleInstance":"CO1PEPF000000E8"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestwwal4zag/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Reader%27&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"App Configuration Data Reader","type":"BuiltInRole","description":"Allows
        read access to App Configuration data.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.AppConfiguration/configurationStores/*/read"],"notDataActions":[]}],"createdOn":"2019-10-25T18:45:33.7975332Z","updatedOn":"2021-11-11T20:14:11.5885341Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","type":"Microsoft.Authorization/roleDefinitions","name":"516239f1-63e1-4d78-a4de-a74fb236a071"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071",
      "principalId": "35296b93-33f5-48e5-b41e-3e29f64921e6", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestwwal4zag/providers/Microsoft.Authorization/roleAssignments/e652740a-cc46-4c45-a569-acafc60c116a?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","principalId":"35296b93-33f5-48e5-b41e-3e29f64921e6","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestwwal4zag","condition":null,"conditionVersion":null,"createdOn":"2023-05-04T00:39:12.2025326Z","updatedOn":"2023-05-04T00:39:12.9285405Z","createdBy":null,"updatedBy":"35296b93-33f5-48e5-b41e-3e29f64921e6","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestwwal4zag/providers/Microsoft.Authorization/roleAssignments/e652740a-cc46-4c45-a569-acafc60c116a","type":"Microsoft.Authorization/roleAssignments","name":"e652740a-cc46-4c45-a569-acafc60c116a"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"key": "Color", "content_type": "", "value": "Blue", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"K_kDyxHUgeL0CbSZrBeSWvXCf3LoM45Wh1Uy4hQouYg"'
      Sync-Token:
      - zAJw6V16=NToxOSM0MDgwNjYyOQ==
    method: PUT
    uri: https://aadtestwwal4zag.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestwwal4zag.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"pp4Oh4WryKFDFoSLWaaqJEh5VTON53WMUzAj5bCETT0","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:08+00:00"},{"etag":"K_kDyxHUgeL0CbSZrBeSWvXCf3LoM45Wh1Uy4hQouYg","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:08+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjYzMw==;sn=40806633
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestwwal4zag.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"pp4Oh4WryKFDFoSLWaaqJEh5VTON53WMUzAj5bCETT0","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:08+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNjYzNQ==;sn=40806635
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestwwal4zag/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Owner%27&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"App Configuration Data Owner","type":"BuiltInRole","description":"Allows
        full access to App Configuration data.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.AppConfiguration/configurationStores/*/read","Microsoft.AppConfiguration/configurationStores/*/write","Microsoft.AppConfiguration/configurationStores/*/delete","Microsoft.AppConfiguration/configurationStores/*/action"],"notDataActions":[]}],"createdOn":"2019-10-25T18:41:40.1185063Z","updatedOn":"2023-02-02T23:35:14.0827293Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b","type":"Microsoft.Authorization/roleDefinitions","name":"5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestwwal4zag.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNzczNQ==;sn=40807735
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestwwal4zag.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"pp4Oh4WryKFDFoSLWaaqJEh5VTON53WMUzAj5bCETT0","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-05-04T00:39:08+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNzczNg==;sn=40807736
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Language", "value": "spanish"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM0MDgwNzczNg==
    method: PUT
    uri: https://aadtestwwal4zag.azconfig.io/kv/Language?api-version=1.0
  response:
    body:
      string: '{"etag":"7HF54u1PYZaVXcITDVatLpdYkCHVkjxZVANBON6gdq4","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2023-05-04T01:09:33+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7HF54u1PYZaVXcITDVatLpdYkCHVkjxZVANBON6gdq4"'
      last-modified:
      - Thu, 04 May 2023 01:09:33 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNzczNw==;sn=40807737
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "font-size", "value": "34"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM0MDgwNzczNw==
    method: PUT
    uri: https://aadtestwwal4zag.azconfig.io/kv/font-size?api-version=1.0
  response:
    body:
      string: '{"etag":"O4KKly5AR9BYqXWAJg0lRB50RxiqtCugvuIVuZanjCY","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2023-05-04T01:09:33+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"O4KKly5AR9BYqXWAJg0lRB50RxiqtCugvuIVuZanjCY"'
      last-modified:
      - Thu, 04 May 2023 01:09:33 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNzczOA==;sn=40807738
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM0MDgwNzczOA==
    method: PUT
    uri: https://aadtestwwal4zag.azconfig.io/kv/.appconfig.featureflag%2FPercentage?api-version=1.0
  response:
    body:
      string: '{"etag":"AfTTedi27VWxqMSllpI706NR-bLz_O-CCxYAJ3opXZ4","key":".appconfig.featureflag/Percentage","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": \"\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2023-05-04T01:09:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"AfTTedi27VWxqMSllpI706NR-bLz_O-CCxYAJ3opXZ4"'
      last-modified:
      - Thu, 04 May 2023 01:09:34 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNzczOQ==;sn=40807739
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NToxOSM0MDgwNzczOQ==
    method: PUT
    uri: https://aadtestwwal4zag.azconfig.io/kv/.appconfig.featureflag%2FTimestamp?api-version=1.0
  response:
    body:
      string: '{"etag":"I4kNTHyJtVnVFP4_NMUC5pr_ajBMFYn0vyzwG-BSdIY","key":".appconfig.featureflag/Timestamp","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Timestamp\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\":
        [{\"name\": \"Local Tests\", \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\",
        \"EndTime\": \"2019-09-01T00:00:00Z\"}}, {\"name\": \"Production Tests\",
        \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\", \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}","tags":{},"locked":false,"last_modified":"2023-05-04T01:09:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"I4kNTHyJtVnVFP4_NMUC5pr_ajBMFYn0vyzwG-BSdIY"'
      last-modified:
      - Thu, 04 May 2023 01:09:34 GMT
      sync-token:
      - zAJw6V16=NToxOSM0MDgwNzc0MA==;sn=40807740
    status:
      code: 200
      message: OK
[...]
