interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Creating", "creationDate":
        "2024-12-17T07:52:31.9329896+00:00", "endpoint": null, "encryption": null,
        "privateEndpointConnections": null, "disableLocalAuth": null, "softDeleteRetentionInDays":
        null, "enablePurgeProtection": null, "dataPlaneProxy": null}, "sku": {"name":
        "Standard"}, "systemData": null, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002",
        "name": "Source000002", "tags": {}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xXgRseodBbpB6lBlZIUT53tOrHiNwSU93E1KivlOWa0?api-version=2024-05-01&t=638700187521764843&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/xXgRseodBbpB6lBlZIUT53tOrHiNwSU93E1KivlOWa0?api-version=2024-05-01&t=638700187521764843&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002?api-version=2024-05-01
  response:
    body:
      string: '{"type": "Microsoft.AppConfiguration/configurationStores", "location":
        "eastus", "properties": {"provisioningState": "Succeeded", "creationDate":
        "2024-12-17T07:52:31+00:00", "endpoint": "https://sourcert5atzwdk7jauwrcgn.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        null, "disableLocalAuth": false, "softDeleteRetentionInDays": 1, "enablePurgeProtection":
        false, "dataPlaneProxy": {"authenticationMode": "Local", "privateLinkDelegation":
        "Disabled"}}, "sku": {"name": "standard"}, "systemData": {"createdBy": "cwanjau@microsoft.com",
        "createdByType": "User", "createdAt": "2024-12-17T07:52:31+00:00", "lastModifiedBy":
        "cwanjau@microsoft.com", "lastModifiedByType": "User", "lastModifiedAt": "2024-12-17T07:52:31+00:00"},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/sourcert5atzwdk7jauwrcgn",
        "name": "Source000002", "tags": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4a0af3bd-0000-0100-0000-67612dc10000"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"type": "Microsoft.AppConfiguration/configurationStores",
        "location": "westcentralus", "properties": {"provisioningState": "Succeeded",
        "creationDate": "2023-06-26T18:04:42+00:00", "endpoint": "https://abc12332112.azconfig.io",
        "encryption": {"keyVaultProperties": null}, "privateEndpointConnections":
        [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mb_rnd/providers/Microsoft.AppConfiguration/configurationStores/abc12332112/privateEndpointConnections/garywangtest",
        "name": "garywangtest", "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {"provisioningState": "Succeeded", "privateEndpoint": {"id":
        "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/garywang-rg/providers/Microsoft.Network/privateEndpoints/garywangtest"},
        "privateLinkServiceConnectionState": {"status": "Pending", "description":
        "ms", "actionsRequired": "None"}}}], "disableLocalAuth": false, "softDeleteRetentionInDays":
        7, "enablePurgeProtection": false, "dataPlaneProxy": {"authenticationMode":
        "Local", "privateLinkDelegation": "Disabled"}}, "sku": {"name": "standard"},
        "systemData": {"createdBy": "mubatra@microsoft.com", "createdByType": "User",
        "createdAt": "2023-06-26T18:04:42+00:00", "lastModifiedBy": "mubatra@microsoft.com",
        "lastModifiedByType": "User", "lastModifiedAt": "2023-11-28T11:10:07+00:00"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Source000002/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://sourcert5atzwdk7jauwrcgn.azconfig.io;Id=sanitized_id1;Secret=sanitized_secret1",
        "lastModified": "2024-12-17T07:52:31+00:00", "readOnly": false}, {"id": "sanitized_id2",
        "name": "Secondary", "value": "sanitized_secret2", "connectionString": "Endpoint=https://sourcert5atzwdk7jauwrcgn.azconfig.io;Id=sanitized_id2;Secret=sanitized_secret2",
        "lastModified": "2024-12-17T07:52:31+00:00", "readOnly": false}, {"id": "sanitized_id3",
        "name": "Primary Read Only", "value": "sanitized_secret3", "connectionString":
        "Endpoint=https://sourcert5atzwdk7jauwrcgn.azconfig.io;Id=sanitized_id3;Secret=sanitized_secret3",
        "lastModified": "2024-12-17T07:52:31+00:00", "readOnly": true}, {"id": "sanitized_id4",
        "name": "Secondary Read Only", "value": "sanitized_secret4", "connectionString":
        "Endpoint=https://sourcert5atzwdk7jauwrcgn.azconfig.io;Id=sanitized_id4;Secret=sanitized_secret4",
        "lastModified": "2024-12-17T07:52:31+00:00", "readOnly": true}], "nextLink":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "dataPlaneProxy": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003?api-version=2024-05-01
  response:
    body:
      str[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/AvozfcxLCs1bs4f0egPy-fI9CF_KgmF1hA7mY0M1w4U?api-version=2024-05-01&t=638700187994695512&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/Destination000003/listKeys?api-version=2024-05-01
  response:
    body:
      string: '{"value": [{"id": "sanitized_id1", "name": "Primary", "value": "sanitized_secret1",
        "connectionString": "Endpoint=https://destinationav3dx5c7svtxm.azconfig.io;Id=sanitized[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:05.156261 GMT
    method: GET
    uri: https://sourcert5atzwdk7jauwrcgn.azconfig.io/kv/Color?label=v1&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3NzgyNzgwNg==;sn=77827806
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3NzgyNzgwNg==
      x-ms-content-sha256:
      - opxXzk3c6Pv5xJQRGK2KYQWFiTofPo7eDjsA5Z7RZjU=
      x-ms-date:
      - Dec, 17 2024 07:54:05.500086 GMT
    method: PUT
    uri: https://sourcert5atzwdk7jauwrcgn.azconfig.io/kv/Color?label=v1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"JUW1RoEPtnDzHZos4-budqKgIa6_dBSOFSw792AxWJ4","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:05+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JUW1RoEPtnDzHZos4-budqKgIa6_dBSOFSw792AxWJ4"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:05 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NzgyNzgwNw==;sn=77827807
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:06.109297 GMT
    method: GET
    uri: https://sourcert5atzwdk7jauwrcgn.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSM3NzgyNzgwOA==;sn=77827808
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}, "locked": false}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSM3NzgyNzgwOA==
      x-ms-content-sha256:
      - DkiljUK6U6QEyjKN4Cv+ejM0DLAIfMed+HIb6hA/bcU=
      x-ms-date:
      - Dec, 17 2024 07:54:06.421980 GMT
    method: PUT
    uri: https://sourcert5atzwdk7jauwrcgn.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=v1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"eN4O8hqyODEtFkw5Axd1SQ2vUdZtBwbZ2NN7idGL6ug","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"eN4O8hqyODEtFkw5Axd1SQ2vUdZtBwbZ2NN7idGL6ug"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:06 GMT
      sync-token:
      - zAJw6V16=NDoxOSM3NzgyNzgwOQ==;sn=77827809
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:06.969013 GMT
    method: GET
    uri: https://sourcert5atzwdk7jauwrcgn.azconfig.io/kv?label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"7-Ka6hnrgbP_OeLdHYvlpswCeH4_5sz0vY39cfsYZSI","items":[{"etag":"eN4O8hqyODEtFkw5Axd1SQ2vUdZtBwbZ2NN7idGL6ug","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:06+00:00"},{"etag":"iqO-Ic3DD8G7AoZSrhlkjkhnHMlThvMhM6iOICZOPoM","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:06+00:00"},{"etag":"JUW1RoEPtnDzHZos4-budqKgIa6_dBSOFSw792AxWJ4","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:05+00:00"},{"etag":"NUFseA7oDuo-SmgNBvTH6-8fyWvtXiI4i3u75x7GB5w","key":"Color","label":"v2","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:06+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"7-Ka6hnrgbP_OeLdHYvlpswCeH4_5sz0vY39cfsYZSI"'
      sync-token:
      - zAJw6V16=NDoxOSM3NzgyNzgxMA==;sn=77827810
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NDoxOSM3NzgyNzgxMA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:07.265602 GMT
    method: GET
    uri: https://sourcert5atzwdk7jauwrcgn.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"OGIHrcAnAWwASGgWLtCdkvj43GWojZWF3FA6nGaGeAg","items":[{"etag":"eN4O8hqyOD[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:07.376290 GMT
    method: GET
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv?key=%2A&label=DestLabel&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDU3OA==;sn=72274578
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NToxOSM3MjI3NDU3OA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:07.756777 GMT
    method: GET
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=DestLabel&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDU3OA==;sn=72274578
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "DestLabel", "content_type": "", "value": "Red",
      "tags": {}, "locked": false, "etag": "JUW1RoEPtnDzHZos4-budqKgIa6_dBSOFSw792AxWJ4"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NToxOSM3MjI3NDU3OA==
      x-ms-content-sha256:
      - LNr+mhwdenJdrl/FTpoFtSo6mgAxwcpRN1vUPqz7C0w=
      x-ms-date:
      - Dec, 17 2024 07:54:07.866690 GMT
    method: PUT
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv/Color?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"RHLy3OfrGpY9QOqwxhtpppxUz5U8Yb4DG2vCGG2vIlA","key":"Color","label":"DestLabel","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:07+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RHLy3OfrGpY9QOqwxhtpppxUz5U8Yb4DG2vCGG2vIlA"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:07 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDU3OQ==;sn=72274579
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "DestLabel", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}, \"display_name\": null}", "tags": {}, "locked": false, "etag": "eN4O8hqyODEtFkw5Axd1SQ2vUdZtBwbZ2NN7idGL6ug"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NToxOSM3MjI3NDU4MA==
      x-ms-content-sha256:
      - +UI56B1Vsx+uH0xGxYYiHzf+CpQIBSVwd+q87bcW8sk=
      x-ms-date:
      - Dec, 17 2024 07:54:08.120199 GMT
    method: PUT
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"TzQQAvUcssROXOWT8hx0FP5Q0RY9Iv0EW6OLiWd8G-g","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"TzQQAvUcssROXOWT8hx0FP5Q0RY9Iv0EW6OLiWd8G-g"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:08 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDU4Mg==;sn=72274582
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:08.624877 GMT
    method: GET
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv?key=%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"qmeOSRGXhiivlkMKxYMkq0fVbJSCyQ5_3l4mRs-FN1k","items":[{"etag":"ufqSCXX5w_lB1PF0nyJUaHmYYKZsb9CaOrpCdBgUNv8","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:08+00:00"},{"etag":"KZnPojMecyvlPtHrQvBnu09dNb8a66MxSlkMOwL_8D8","key":"Color","label":"DestLabel","content_type":"","value":"Blue","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:08+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"qmeOSRGXhiivlkMKxYMkq0fVbJSCyQ5_3l4mRs-FN1k"'
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDU4OA==;sn=72274588
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"ufqSCXX5w_lB1PF0nyJUaHmYYKZsb9CaOrpCdBgUNv8"'
      Sync-Token:
      - zAJw6V16=NToxOSM3MjI3NDU4OA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:08.984411 GMT
    method: DELETE
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"ufqSCXX5w_lB1PF0nyJUaHmYYKZsb9CaOrpCdBgUNv8","key":".appconfig.featureflag/Beta","label":"DestLabel","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}, \"display_name\": null}","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ufqSCXX5w_lB1PF0nyJUaHmYYKZsb9CaOrpCdBgUNv8"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:08 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDU4OQ==;sn=72274589
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:09.656064 GMT
    method: GET
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv?key=%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDU5MA==;sn=72274590
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NToxOSM3MjI3NDU5MA==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:10.015415 GMT
    method: GET
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDU5MA==;sn=72274590
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "content_type": "", "value": "Red", "tags": {}, "locked":
      false, "etag": "JUW1RoEPtnDzHZos4-budqKgIa6_dBSOFSw792AxWJ4"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NToxOSM3MjI3NDU5MA==
      x-ms-content-sha256:
      - h3FbJonPiXf1S0RnkQAR+gGgo6EFWM9nbZp1HpRd9Cw=
      x-ms-date:
      - Dec, 17 2024 07:54:10.125055 GMT
    method: PUT
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv/Color?api-version=2023-11-01
  response:
    body:
      string: '{"etag":"QNt9JhM4mrtCThsIB3DMrUkBpIw6oC9weBuLGKfHhMc","key":"Color","label":null,"content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"QNt9JhM4mrtCThsIB3DMrUkBpIw6oC9weBuLGKfHhMc"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:10 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDU5MQ==;sn=72274591
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}, \"display_name\": null}", "tags": {}, "locked": false,
      "etag": "eN4O8hqyODEtFkw5Axd1SQ2vUdZtBwbZ2NN7idGL6ug"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NToxOSM3MjI3NDU5Mg==
     [...]
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NToxOSM3MjI3NDYwMg==
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:12.218589 GMT
    method: GET
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=2023-11-01&$Select=
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDYwMg==;sn=72274602
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "v1", "content_type": "", "value": "Red", "tags":
      {}, "locked": false, "etag": "JUW1RoEPtnDzHZos4-budqKgIa6_dBSOFSw792AxWJ4"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NToxOSM3MjI3NDYwMg==
      x-ms-content-sha256:
      - TNKG8Do9q/u8D935XwbWtEPtx49QPQgcT+SOD6M0Wb4=
      x-ms-date:
      - Dec, 17 2024 07:54:12.343775 GMT
    method: PUT
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv/Color?label=v1&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"QG7TtEX1xufBBv0IFKB7G2NUdQgQWd74KwWJsC5_9-Y","key":"Color","label":"v1","content_type":"","value":"Red","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:12+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"QG7TtEX1xufBBv0IFKB7G2NUdQgQWd74KwWJsC5_9-Y"'
      last-modified:
      - Tue, 17 Dec 2024 07:54:12 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDYwMw==;sn=72274603
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "v1", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}, \"display_name\": null}", "tags": {}, "locked": false,
      "etag": "eN4O8hqyODEtFkw5Axd1SQ2vUdZtBwbZ2NN7idGL6ug"}'
    headers:
      Content-Type:
      - application/json
      Sync-Token:
      - zAJw6V16=NToxOSM3MjI[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:14.234335 GMT
    method: GET
    uri: https://sourcert5atzwdk7jauwrcgn.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%2A&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"OGIHrcAnAWwASGgWLtCdkvj43GWojZWF3FA6nGaGeAg","items":[{"etag":"eN4O8hqyODEtFkw5Axd1SQ2vUdZtBwbZ2NN7idGL6ug","key":".appconfig.featureflag/Beta","label":"v1","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:06+00:00"},{"etag":"iqO-Ic3DD8G7AoZSrhlkjkhnHMlThvMhM6iOICZOPoM","key":".appconfig.featureflag/Beta","label":"v2","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2024-12-17T07:54:06+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"OGIHrcAnAWwASGgWLtCdkvj43GWojZWF3FA6nGaGeAg"'
      sync-token:
      - zAJw6V16=NDoxOSM3NzgyNzgxMQ==;sn=77827811
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:14.863306 GMT
    method: GET
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=DestLabel&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDYxNA==;sn=72274614
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:17.200415 GMT
    method: GET
    uri: https://destinationav3dx5c7svtxm.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=2023-11-01
  response:
    body:
      string: '{"etag":"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0","items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      etag:
      - '"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0"'
      sync-token:
      - zAJw6V16=NToxOSM3MjI3NDYyNA==;sn=72274624
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 17 2024 07:54:19.526163 GMT
    method: GET
[...]
