interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-10-27T20:33:59.2979275+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002","name":"NamingConventionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/4e557c19-b3df-774d-9e0f-4ceef3b2bf25?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/4e557c19-b3df-774d-9e0f-4ceef3b2bf25?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/4e557c19-b3df-774d-9e0f-4ceef3b2bf25","name":"4e557c19-b3df-774d-9e0f-4ceef3b2bf25","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/4e557c19-b3df-774d-9e0f-4ceef3b2bf25?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-10-27T20:33:59+00:00","endpoint":"https://namingconventiontestcoup.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2021-10-27T20:33:59+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-27T20:34:00+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/namingconventiontestcoup","name":"NamingConventionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1800530a-0000-0100-0000-6179b7b80000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"7UUo-l0-s0:q+zqGziVWpUDzMfXzp2p","name":"Primary","value":"jXMtjLXooOZrj9ItmQQZfrjcPmKc0aEDHVba/CZNJWg=","connectionString":"Endpoint=https://namingconventiontestcoup.azconfig.io;Id=7UUo-l0-s0:q+zqGziVWpUDzMfXzp2p;Secret=jXMtjLXooOZrj9ItmQQZfrjcPmKc0aEDHVba/CZNJWg=","lastModified":"2021-10-27T20:33:59+00:00","readOnly":false},{"id":"Hq8n-l0-s0:HaLqVNLSKyY6WVkgdU3S","name":"Secondary","value":"qBlEmN3ThOaG3xB2A7QhkzLMPHFhUN0svR/iswYmymI=","connectionString":"Endpoint=https://namingconventiontestcoup.azconfig.io;Id=Hq8n-l0-s0:HaLqVNLSKyY6WVkgdU3S;Secret=qBlEmN3ThOaG3xB2A7QhkzLMPHFhUN0svR/iswYmymI=","lastModified":"2021-10-27T20:33:59+00:00","readOnly":false},{"id":"eWfC-l0-s0:V5/LSkLIfec7/SX4anEL","name":"Primary
        Read Only","value":"cF3WeJm5u91yqiOLO1fF3YscskxMGZl+OYu36AyGTdY=","connectionString":"Endpoint=https://namingconventiontestcoup.azconfig.io;Id=eWfC-l0-s0:V5/LSkLIfec7/SX4anEL;Secret=cF3WeJm5u91yqiOLO1fF3YscskxMGZl+OYu36AyGTdY=","lastModified":"2021-10-27T20:33:59+00:00","readOnly":true},{"id":"W23/-l0-s0:JLJnHVNgNVuRahgrtb5p","name":"Secondary
        Read Only","value":"gh7DPARNzfF3/ePZYMGo/+1av2dw5SwhHhOkWAKQWeg=","connectionString":"Endpoint=https://namingconventiontestcoup.azconfig.io;Id=W23/-l0-s0:JLJnHVNgNVuRahgrtb5p;Secret=gh7DPARNzfF3/ePZYMGo/+1av2dw5SwhHhOkWAKQWeg=","lastModified":"2021-10-27T20:33:59+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "NamingConventionTest", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-content-sha256:
      - VSffS36d1yZrU0VE0K0JB85BAfWtgzcSKReH3XQQcKM=
      x-ms-date:
      - Oct, 27 2021 20:34:12 GMT
    method: PUT
    uri: https://namingconventiontestcoup.azconfig.io/kv/Color?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"U30glK7tu4b4ygmTKCzbFh0jx0l","key":"Color","label":"NamingConventionTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2021-10-27T20:34:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"U30glK7tu4b4ygmTKCzbFh0jx0l"'
      last-modified:
      - Wed, 27 Oct 2021 20:34:13 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4MzIxNTA3;sn=8321507
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Region", "label": "NamingConventionTest", "value": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4MzIxNTA3
      x-ms-content-sha256:
      - d5TuuQY1+uOeZsImyUtbAguTYwPriNoBgqLVZgmcRso=
      x-ms-date:
      - Oct, 27 2021 20:34:13 GMT
    method: PUT
    uri: https://namingconventiontestcoup.azconfig.io/kv/Region?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"gIoFQD74Fd1xne1h5E3VFbXP4cd","key":"Region","label":"NamingConventionTest","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2021-10-27T20:34:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"gIoFQD74Fd1xne1h5E3VFbXP4cd"'
      last-modified:
      - Wed, 27 Oct 2021 20:34:13 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4MzIxNTA4;sn=8321508
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4MzIxNTA4
      x-ms-content-sha256:
      - LlJkZdiUPnv6AG4PyAVQ8nH84c9fsUS598ZH84M/fd4=
      x-ms-date:
      - Oct, 27 2021 20:34:13 GMT
    method: PUT
    uri: https://namingconventiontestcoup.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"YS1cMFQzotE2OePSN7Loo1CS0wf","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-27T20:34:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"YS1cMFQzotE2OePSN7Loo1CS0wf"'
      last-modified:
      - Wed, 27 Oct 2021 20:34:13 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4MzIxNTA5;sn=8321509
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4MzIxNTA5
      x-ms-content-sha256:
      - InFMUc4jWZGxDF2tsAtzKRsFRRZ0dCYlG2koYVNgoQg=
      x-ms-date:
      - Oct, 27 2021 20:34:13 GMT
    method: PUT
    uri: https://namingconventiontestcoup.azconfig.io/kv/.appconfig.featureflag%2FPercentage?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"FeIeSZoY7EsHAygFlGBav0ilRPg","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": \"\", \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2021-10-27T20:34:13+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FeIeSZoY7EsHAygFlGBav0ilRPg"'
      last-modified:
      - Wed, 27 Oct 2021 20:34:13 GMT
      sync-token:
      - zAJw6V16=MzoxOSM4MzIxNTEw;sn=8321510
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSM4MzIxNTEw
      x-ms-content-sha256:
      - 2G4MoMP9JRN0R01czMDumf4AGMDfhMFXxOZkZuPXMj8=
      x-ms-date:
      - Oct, 27 2021 20:34:13 GMT
    method: PUT
    uri: https://namingconventiontestcoup.azconfig[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 27 2021 20:34:16 GMT
    method: GET
    uri: https://namingconventiontestcoup.azconfig.io/kv?label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"YS1cMFQzotE2OePSN7Loo1CS0wf","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-27T20:34:13+00:00"},{"etag":"FeIeSZoY7EsHAygFlGBav0ilRPg","key":".appconfig.featureflag/Percentage","label":"NamingConventionTest","content[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 27 2021 20:34:20 GMT
    method: GET
    uri: https://namingconventiontestcoup.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"YS1cMFQzotE2OePSN7Loo1CS0wf","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/v[...]
[...]
