interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2021-10-26T21:27:37.7736258+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/55ac37de-842b-c5f7-75a6-59fa31223a4b?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/55ac37de-842b-c5f7-75a6-59fa31223a4b?api-version=2021-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/55ac37de-842b-c5f7-75a6-59fa31223a4b","name":"55ac37de-842b-c5f7-75a6-59fa31223a4b","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/55ac37de-842b-c5f7-75a6-59fa31223a4b?api-version=2021-03-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2021-03-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2021-10-26T21:27:37+00:00","endpoint":"https://featurefiltertest6t5z4aq.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":"prsangli@microsoft.com","createdByType":"User","createdAt":"2021-10-26T21:27:37+00:00","lastModifiedBy":"prsangli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-26T21:27:38+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertest6t5z4aq","name":"FeatureFilterTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0500fdcc-0000-0100-0000-617872ca0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastMo[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/listKeys?api-version=2021-03-01-preview
  response:
    body:
      string: '{"value":[{"id":"I/9M-l0-s0:1e5asWzhycUkW9xL/Pne","name":"Primary","value":"EKBgC8yT12dxlElwkMg3XwhKbegP9pjT9TOeVc99/c0=","connectionString":"Endpoint=https://featurefiltertest6t5z4aq.azconfig.io;Id=I/9M-l0-s0:1e5asWzhycUkW9xL/Pne;Secret=EKBgC8yT12dxlElwkMg3XwhKbegP9pjT9TOeVc99/c0=","lastModified":"2021-10-26T21:27:37+00:00","readOnly":false},{"id":"iVTA-l0-s0:B3UxbD+jwWMc29ybwMvv","name":"Secondary","value":"ZlYp3/+ygOG7vlWeBiryLbtmGDAhQ+BDA7rAmSBl2JU=","connectionString":"Endpoint=https://featurefiltertest6t5z4aq.azconfig.io;Id=iVTA-l0-s0:B3UxbD+jwWMc29ybwMvv;Secret=ZlYp3/+ygOG7vlWeBiryLbtmGDAhQ+BDA7rAmSBl2JU=","lastModified":"2021-10-26T21:27:37+00:00","readOnly":false},{"id":"Wr6J-l0-s0:kduM0vhVTFiLLzzONFkp","name":"Primary
        Read Only","value":"pE+QwxU2hzibjHRPTqQ6hXt3UCxY7pYvO18Ic9EH/9w=","connectionString":"Endpoint=https://featurefiltertest6t5z4aq.azconfig.io;Id=Wr6J-l0-s0:kduM0vhVTFiLLzzONFkp;Secret=pE+QwxU2hzibjHRPTqQ6hXt3UCxY7pYvO18Ic9EH/9w=","lastModified":"2021-10-26T21:27:37+00:00","readOnly":true},{"id":"jizX-l0-s0:DpD9bzHzKJnUrBfENZjF","name":"Secondary
        Read Only","value":"OYTjDvRj4TivBScFAn7jWgeDj8PAudvHq9b48Ay3DTk=","connectionString":"Endpoint=https://featurefiltertest6t5z4aq.azconfig.io;Id=jizX-l0-s0:DpD9bzHzKJnUrBfENZjF;Secret=OYTjDvRj4TivBScFAn7jWgeDj8PAudvHq9b48Ay3DTk=","lastModified":"2021-10-26T21:27:37+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Oct, 26 2021 21:27:51 GMT
    method: GET
    uri: https://featurefiltertest6t5z4aq.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 9/HUy3oLuI5NMYqluvZVhx9uupGiADRubS+4HiFhVTE=
      x-ms-date:
      - Oct, 26 2021 21:27:51 GMT
    method: PUT
    uri: https://featurefiltertest6t5z4aq.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"nut5im4KjBT0qNriXUHjzZU7EVE","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2021-10-26T21:27:52+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"nut5im4KjBT0qNriXUHjzZU7EVE"'
      last-modified:
      - Tue, 26 Oct 2021 21:27:52 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MzQ4NTMw;sn=7348530
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"nut5im4KjBT0qNriXUHjzZU7EVE"'
      Sync-Token:
      - zAJw6V16=NToxOSM3MzQ4NTMw
      x-ms-content-sha256:
      - b2kyK+oH9Z9GGQToYf9CE/YXeF8NbL2YLAwwYzVYjP0=
      x-ms-date:
      - Oct, 26 2021 21:27:54 GMT
    method: PUT
    uri: https://featurefiltertest6t5z4aq.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"RE4CeXozPjBy4XKDluaz15aMYKi","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
        \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}","tags":{},"locked":false,"last_modified":"2021-10-26T21:27:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RE4CeXozPjBy4XKDluaz15aMYKi"'
      last-modified:
      - Tue, 26 Oct 2021 21:27:55 GMT
      sync-token:
      - zAJw6V16=NToxOSM3MzQ4NTMx;sn=7348531
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}, {\"name\":
      \"SecondFilter\", \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\",
      \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\": \"ParamNameIsJsonString\"}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"RE4CeXozPjBy4XKDluaz15aMYKi"'
      Sync-Token:
      - zAJw6V16=NToxOSM3MzQ4NTMx
      x-ms-content-sha256:
      - yReqWOYOGsHQtpV8hT7X5uEkw1LA0u4zzUXo81j3IeY=
      x-ms-date:
      - Oct, 26 2021 21:27:56 GMT
    method: PUT
    uri: https://featurefiltertest6t5z4aq.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&ap[...]
[...]
