interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#databases\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"cliadla123442\",\"\
        databaseName\":\"catalog_item_1\",\"version\":\"e176fd1f-36b1-45bb-b8c7-d6f0f3714337\"\
        \r\n    },{\r\n      \"computeAccountName\":\"cliadla123442\",\"databaseName\"\
        :\"master\",\"version\":\"c510c478-ed3d-4f46-8db9-315675cc2502\"\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#databases/$entity\"\
        ,\"computeAccountName\":\"cliadla123442\",\"databaseName\":\"catalog_item_1\"\
        ,\"version\":\"e176fd1f-36b1-45bb-b8c7-d6f0f3714337\"\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/schemas?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#schemas\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"cliadla123442\",\"\
        databaseName\":\"catalog_item_1\",\"schemaName\":\"dbo\",\"version\":\"7244369f-e46d-4ce0-9d95-01cac27e48ed\"\
        \r\n    },{\r\n      \"computeAccountName\":\"cliadla123442\",\"databaseName\"\
        :\"catalog_item_1\",\"schemaName\":\"INFORMATION_SCHEMA\",\"version\":\"62c903bb-3f25-4c22-851e-4b97dc04775f\"\
        \r\n    },{\r\n      \"computeAccountName\":\"cliadla123442\",\"databaseName\"\
        :\"catalog_item_1\",\"schemaName\":\"sys\",\"version\":\"f60f0b4e-3dab-4c8a-b847-54d96396ba6b\"\
        \r\n    },{\r\n      \"computeAccountName\":\"cliadla123442\",\"databaseName\"\
        :\"catalog_item_1\",\"schemaName\":\"usql\",\"version\":\"ffc9bf3d-5d88-40db-bbc0-dcd4d3ea7ddd\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/schemas/dbo?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#schemas/$entity\"\
        ,\"computeAccountName\":\"cliadla123442\",\"databaseName\":\"catalog_item_1\"\
        ,\"schemaName\":\"dbo\",\"version\":\"7244369f-e46d-4ce0-9d95-01cac27e48ed\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/schemas/dbo/tables?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#tables\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"cliadla123442\",\"\
        databaseName\":\"catalog_item_1\",\"schemaName\":\"dbo\",\"tableName\":\"\
        catalog_item_2\",\"columnList\":[\r\n        {\r\n          \"name\":\"UserId\"\
        ,\"type\":\"System.Int32\"\r\n        },{\r\n          \"name\":\"Start\"\
        ,\"type\":\"System.DateTime\"\r\n        },{\r\n          \"name\":\"Region\"\
        ,\"type\":\"System.String\"\r\n        },{\r\n          \"name\":\"Query\"\
        ,\"type\":\"System.String\"\r\n        },{\r\n          \"name\":\"Duration\"\
        ,\"type\":\"System.Int32\"\r\n        },{\r\n          \"name\":\"Urls\",\"\
        type\":\"System.String\"\r\n        },{\r\n          \"name\":\"ClickedUrls\"\
        ,\"type\":\"System.String\"\r\n        }\r\n      ],\"indexList\":[\r\n  \
        \      {\r\n          \"name\":\"idx1\",\"indexKeys\":[\r\n            {\r\
        \n              \"name\":\"Region\",\"descending\":false\r\n            }\r\
        \n          ],\"columns\":[\r\n            \"Region\",\"UserId\"\r\n     \
        \     ],\"distributionInfo\":{\r\n            \"type\":2,\"keys\":[\r\n  \
        \            {\r\n                \"name\":\"Region\",\"descending\":false\r\
        \n              }\r\n            ],\"count\":0,\"dynamicCount\":0\r\n    \
        \      },\"partitionFunction\":\"1c9257e4-454a-4f02-a9b6-70b462e8bc56\",\"\
        partitionKeyList\":[\r\n            \"UserId\"\r\n          ],\"isColumnstore\"\
        :false,\"indexId\":1,\"isUnique\":false\r\n        }\r\n      ],\"partitionKeyList\"\
        :[\r\n        \r\n      ],\"externalTable\":null,\"distributionInfo\":null,\"\
        version\":\"9aa736d4-91fd-4788-8432-b15979b18894\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/tables?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#tables\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"cliadla123442\",\"\
        databaseName\":\"catalog_item_1\",\"sc[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/schemas/dbo/tables/catalog_item_2?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#tables/$entity\"\
        ,\"computeAccountName\":\"cliadla123442\",\"databaseName\":\"catalog_item_1\"\
        [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/schemas/dbo/views?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#views\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"cliadla123442\",\"\
        databaseName\":\"catalog_item_1\",\"schemaName\":\"dbo\",\"viewName\":\"catalog_item_8\"\
        ,\"definition\":\"CREATE VIEW catalog_item_1.dbo.catalog_item_8 AS SELECT\
        \ * FROM (VALUES(1,2),(2,4)) AS T(a, b);\",\"version\":\"701263ab-567e-4fb0-bcb7-d8afc26f72fa\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/views?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#views\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"cliadla123442\",\"\
        databaseName\":\"catalog_item_1\",\"schemaName\":\"dbo\",\"viewName\":\"catalog_item_8\"\
        ,\"definition\":\"CREATE VIEW catalog_item_1.dbo.catalog_item_8 AS SELECT\
        \ * FROM (VALUES(1,2),(2,4)) AS T(a, b);\",\"version\":\"701263ab-567e-4fb0-bcb7-d8afc26f72fa\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/schemas/dbo/views/catalog_item_8?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#views/$entity\"\
        ,\"computeAccountName\":\"cliadla123442\",\"databaseName\":\"catalog_item_1\"\
        ,\"schemaName\":\"dbo\",\"viewName\":\"catalog_item_8\",\"definition\":\"\
        CREATE VIEW catalog_item_1.dbo.catalog_item_8 AS SELECT * FROM (VALUES(1,2),(2,4))\
        \ AS T(a, b);\",\"version\":\"701263ab-567e-4fb0-bcb7-d8afc26f72fa\"\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/schemas/dbo/procedures?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#procedures\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"cliadla123442\",\"\
        databaseName\":\"catalog_item_1\",\"schemaName\":\"dbo\",\"procName\":\"catalog_item_4\"\
        ,\"definition\":\"CREATE PROCEDURE catalog_item_1.dbo.catalog_item_4() AS\
        \ BEGIN CREATE VIEW catalog_item_1.dbo.catalog_item_8 AS SELECT * FROM (VALUES(1,2),(2,4))\
        \ AS T(a, b); END;\",\"version\":\"6086c456-77ba-498f-b629-8fc40eae3a89\"\r\
        \n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/schemas/dbo/procedures/catalog_item_4?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#procedures/$entity\"\
        ,\"computeAccountName\":\"cliadla123442\",\"databaseName\":\"catalog_item_1\"\
        ,\"schemaName\":\"dbo\",\"procName\":\"catalog_item_4\",\"definition\":\"\
        CREATE PROCEDURE catalog_item_1.dbo.catalog_item_4() AS BEGIN CREATE VIEW\
        \ catalog_item_1.dbo.catalog_item_8 AS SELECT * FROM (VALUES(1,2),(2,4)) AS\
        \ T(a, b); END;\",\"version\":\"6086c456-77ba-498f-b629-8fc40eae3a89\"\r\n\
        }"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/schemas/dbo/tablevaluedfunctions?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"cliadla123442\",\"\
        databaseName\":\"catalog_item_1\",\"schemaName\":\"dbo\",\"tvfName\":\"catalog_item_3\"\
        ,\"definition\":\"CREATE FUNCTION catalog_item_1.dbo.catalog_item_3() \\n\
        \  RETURNS @result TABLE (\\n    s_date DateTime,\\n    s_time string,\\n\
        \    s_sitename string,\\n    cs_method string,\\n    cs_uristem string,\\\
        n    cs_uriquery string,\\n    s_port int,\\n    cs_username string,\\n  \
        \  c_ip string,\\n    cs_useragent string,\\n    cs_cookie string,\\n    cs_referer\
        \ string,\\n    cs_host string,\\n    sc_statu[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/tablevaluedfunctions?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"cliadla123442\",\"\
        databaseNa[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/schemas/dbo/tablevaluedfunctions/catalog_item_3?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://cliadla123442.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions/$entity\"\
        ,\"computeAccountName\":\"cliadla123442\",\"databaseName\":[...]
- request:
    body: '{"userId": "catalog_item_6", "uri": "http://adl.contoso.com:443", "password":
      "catalog_item_7"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/credentials/catalog_item_5?api-version=2016-11-01
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/credentials?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"credentialName":"catalog_item_5"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/credentials/catalog_item_5?api-version=2016-11-01
  response:
    body: {string: '{"credentialName":"catalog_item_5"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cliadla123442.azuredatalakeanalytics.net/catalog/usql/databases/catalog_item_1/credentials/catalog_item_5?cascade=false&api-version=2016-11-01
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
[...]
