interactions:
- request:
    body: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\":
      \"Storage\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"supportsHttpsTrafficOnly\":
      true\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rest000001/providers/Microsoft.Storage/storageAccounts/tmpst000002?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/8ae83cf0-5894-4bac-b619-a340c012cc60?monitor=true&api-version=2019-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rest000001/providers/Microsoft.Storage/storageAccounts/tmpst000002?api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rest000001/providers/Microsoft.Storage/storageAccounts/tmpst000002","name":"tmpst000002","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-08-12T06:52:22.3728478Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-08-12T06:52:22.3728478Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"ResolvingDns","creationTime":"2020-08-12T06:52:22.2634517Z","primaryEndpoints":{"blob":"https://tmpst000002.blob.core.windows.net/","queue":"https://tmpst000002.queue.core.windows.net/","table":"https://tmpst000002.table.core.windows.net/","file":"https://tmpst000002.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\r\n  \"signedServices\": \"b\",\r\n  \"signedResourceTypes\": \"sco\",\r\n
      \ \"signedPermission\": \"rwdlacu\",\r\n  \"signedProtocol\": \"https,http\",\r\n
      \ \"signedStart\": \"2017-05-24T10:42:03.1567373Z\",\r\n  \"signedExpiry\":
      \"2030-05-24T11:42:03.1567373Z\",\r\n  \"keyToSign\": \"key1\"\r\n}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rest000001/providers/Microsoft.Storage/storageAccounts/tmpst000002/ListAccountSas?api-version=2019-06-01
  response:
    body:
      string: '{"accountSasToken":"sv=2015-04-05&ss=b&srt=sco&sp=rwdlacu&st=2017-05-24T10%3A42%3A03.1567373Z&se=2030-05-24T11%3A42%3A03.1567373Z&spr=https,http&sig=%2BhKh5DtEK1XbrA1zm32lu4t6ij9zGWvTG3DzOEdH%2FJE%3D"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: PUT
    uri: https://tmpst000002.blob.core.windows.net/mycontainer?restype=container&sv=2015-04-05&ss=b&srt=sco&sp=rwdlacu&st=2017-05-24T10%3A42%3A03.1567373Z&se=2030-05-24T11%3A42%3A03.1567373Z&spr=https,http&sig=%2BhKh5DtEK1XbrA1zm32lu4t6ij9zGWvTG3DzOEdH%2FJE%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D83E8C51213F7D"'
      last-modified:
      - Wed, 12 Aug 2020 06:52:45 GMT
      x-ms-version:
      - '2015-04-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: HEAD
    uri: https://tmpst000002.blob.core.windows.net/mycontainer?restype=container&sv=2015-04-05&ss=b&srt=sco&sp=rwdlacu&st=2017-05-24T10%3A42%3A03.1567373Z&se=2030-05-24T11%3A42%3A03.1567373Z&spr=https,http&sig=%2BhKh5DtEK1XbrA1zm32lu4t6ij9zGWvTG3DzOEdH%2FJE%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D83E8C51213F7D"'
      last-modified:
      - Wed, 12 Aug 2020 06:52:45 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2015-04-05'
    status:
      code: 200
      message: OK
- request:
    body: hello world
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      x-ms-blob-type:
      - BlockBlob
    method: PUT
    uri: https://tmpst000002.blob.core.windows.net/mycontainer/myblob?sv=2015-04-05&ss=b&srt=sco&sp=rwdlacu&st=2017-05-24T10%3A42%3A03.1567373Z&se=2030-05-24T11%3A42%3A03.1567373Z&spr=https,http&sig=%2BhKh5DtEK1XbrA1zm32lu4t6ij9zGWvTG3DzOEdH%2FJE%3D
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D83E8C52AC48C7"'
      last-modified:
      - Wed, 12 Aug 2020 06:52:47 GMT
      x-ms-version:
      - '2015-04-05'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://tmpst000002.blob.core.windows.net/mycontainer?restype=container&comp=list&sv=2015-04-05&ss=b&srt=sco&sp=rwdlacu&st=2017-05-24T10%3A42%3A03.1567373Z&se=2030-05-24T11%3A42%3A03.1567373Z&spr=https,http&sig=%2BhKh5DtEK1XbrA1zm32lu4t6ij9zGWvTG3DzOEdH%2FJE%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://tmpst000002.blob.core.windows.net/\" ContainerName=\"mycontainer\"><Blobs><Blob><Name>myblob</Name><Properties><Last-Modified>Wed,
        12 Aug 2020 06:52:47 GMT</Last-Modified><Etag>0x8D83E8C52AC48C7</Etag><Content-Length>11</Content-Length><Content-Type>text/plain;
        charset=UTF-8</Content-Type><Content-Encoding /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2015-04-05'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_rest000001/providers/Microsoft.Storage/storageAccounts/tmpst000002?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
