interactions:
- request:
    body: '{"displayName": "az-rest-test-app000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "a375e981-6e57-4946-a1bc-b38c480d7f03", "deletedDateTime": null, "appId":
        "04c487f7-c8c7-4f5f-b086-53eee11f142f", "applicationTemplateId": null, "createdDateTime":
        "2020-06-08T02:25:29.8512139Z", "displayName": "az-rest-test-app000001", "groupMembershipClaims":
        null, "identifierUris": [], "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient":
        null, "optionalClaims": null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com",
        "signInAudience": "AzureADandPersonalMicrosoftAccount", "tags": [], "tokenEncryptionKeyId":
        null, "spa": {"redirectUris": []}, "addIns": [], "api": {"acceptMappedClaims":
        null, "knownClientApplications": [], "requestedAccessTokenVersion": 2, "oauth2PermissionScopes":
        [], "preAuthorizedApplications": []}, "appRoles": [], "info": {"logoUrl":
        null, "marketingUrl": null, "privacyStatementUrl": null, "supportUrl": null,
        "termsOfServiceUrl": null}, "keyCredentials": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [], "publicClient": {"redirectUris": []}, "requiredResourceAccess": [], "web":
        {"homePageUrl": null, "logoutUrl": null, "redirectUris": [], "implicitGrantSettings":
        {"enableAccessTokenIssuance": false, "enableIdTokenIssuance": false}}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/a375e981-6e57-4946-a1bc-b38c480d7f03/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"SliceC","Ring":"5","ScaleUnit":"000","RoleInstance":"AGSFE_IN_10"}}'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/a375e981-6e57-4946-a1bc-b38c480d7f03
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications/$entity","id":"a375e981-6e57-4946-a1bc-b38c480d7f03","deletedDateTime":null,"appId":"04c487f7-c8c7-4f5f-b086-53eee11f142f","applicationTemplateId":null,"createdDateTime":"2020-06-08T02:25:29Z","displayName":"az-rest-test-app000001","groupMem[...]
[...]
- request:
    body: '{"passwordCredential": {"displayName": "Password friendly name"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications/a375e981-6e57-4946-a1bc-b38c480d7f03/addPassword
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#microsoft.graph.passwordCredential","customKeyIdentifier":null,"displayName":"Password
        friendly name","endDateTime":"2022-06-08T02:25:35.9601957Z","hint":"8FL","keyId":"4082b4b2-4835-47d5-aac1-e582171f70af","secretText":"8FLN1Sc2OK.-Kl6WDygKo.ZB~ut8PP.F97","startDateTime":"2020-06-08T02:25:35.9601957Z"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"SliceC","Ring":"5","ScaleUnit":"000","RoleInstance":"AGSFE_IN_29"}}'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "04c487f7-c8c7-4f5f-b086-53eee11f142f"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/serviceprincipals
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals/$entity","id":"28c7007f-9414-4d9e-8753-d3a63c5a7fac","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"az-rest-test-app000001","appId":"04c487f7-c8c7-4f5f-b086-53eee11f142f","applicationTemplateId":null,"appOwnerOrganizationId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"displayName":"az-rest-test-app000001","homepage":null,"loginUrl":null,"logoutUrl":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":["https://myapp.com"],"samlSingleSignOnSettings":null,"servicePrincipalNames":["04c487f7-c8c7-4f5f-b086-53eee11f142f"],"servicePrincipalType":"Application","tags":[],"tokenEncryptionKeyId":null,"addIns":[],"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"oauth2PermissionScopes":[],"passwordCredentials":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/28c7007f-9414-4d9e-8753-d3a63c5a7fac/Microsoft.DirectoryServices.ServicePrincipal
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"SliceC","Ring":"5","ScaleUnit":"000","RoleInstance":"AGSFE_IN_13"}}'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals/28c7007f-9414-4d9e-8753-d3a63c5a7fac
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals/$entity","id":"28c7007f-9414-4d9e-8753-d3a63c5a7fac","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"az-rest-test-app000001","appId":"04c487f7-c8c7-4f5f-b086-53eee11f142f","applicationTemplateId[...]
[...]
- request:
    body: '{"passwordCredential": {"displayName": "Password friendly name"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/servicePrincipals/28c7007f-9414-4d9e-8753-d3a63c5a7fac/addPassword
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#microsoft.graph.passwordCredential","customKeyIdentifier":null,"displayName":"Password
        friendly name","endDateTime":"2022-06-08T02:25:40.5429064Z","hint":null,"keyId":"c0a87b55-44a4-4b8b-ae7b-88e8a1703820","secretText":"eAK_cVWIDGNm1qi~zj~bix8~98oJyrg386","startDateTime":"2020-06-08T02:25:40.5429064Z"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"SliceC","Ring":"5","ScaleUnit":"000","RoleInstance":"AGSFE_IN_20"}}'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/serviceprincipals/28c7007f-9414-4d9e-8753-d3a63c5a7fac
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"SliceC","Ring":"5","ScaleUnit":"000","RoleInstance":"AGSFE_IN_11"}}'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals/28c7007f-9414-4d9e-8753-d3a63c5a7fac
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n
        \   \"message\": \"Resource '28c7007f-9414-4d9e-8753-d3a63c5a7fac' does not
        exist or one of its queried reference-property objects are not present.\",\r\n
        \   \"innerError\": {\r\n      \"request-id\": \"a2c58fad-6e38-4706-8720-708a22b02ad7\",\r\n
        \     \"date\": \"2020-06-08T02:25:42\"\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"SliceC","Ring":"5","ScaleUnit":"000","RoleInstance":"AGSFE_IN_27"}}'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith(displayName,%20'az-rest-test-app')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"SliceC","Ring":"5","ScaleUnit":"002","RoleInstance":"AGSFE_IN_13"}}'
    status:
      code: 200
      message: OK
version: 1
