interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_collection000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001","name":"cli_test_cosmosdb_collection000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-28T19:15:56Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "apiProperties": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2022-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2023-01-28T19:16:02.3326471Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"83992e55-ae8d-4e6b-8f39-3ff8fdbfe87f","databaseAccountOfferType":"Standard","defaultIdentity":"","networkAclBypass":"None","disableLocalAuth":false,"enablePartitionMerge":false,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Invalid"}},"networkAclBypassResourceIds":[],"keysMetadata":{"primaryMasterKey":{"generationTime":"2023-01-28T19:16:02.3326471Z"},"secondaryMasterKey":{"generationTime":"2023-01-28T19:16:02.3326471Z"},"primaryReadonlyMasterKey":{"generationTime":"2023-01-28T19:16:02.3326471Z"},"secondaryReadonlyMasterKey":{"generationTime":"2023-01-28T19:16:02.3326471Z"}}},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/f735e021-8451-436a-8e6a-1f0321a173dc?api-version=2022-08-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/f735e021-8451-436a-8e6a-1f0321a173dc?api-version=2022-08-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/f735e021-8451-436a-8e6a-1f0321a173dc?api-version=2022-08-15
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2022-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2023-01-28T19:17:28.30331Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","sqlEndpoint":"https://cli000003.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"83992e55-ae8d-4e6b-8f39-3ff8fdbfe87f","databaseAccountOffer[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/listKeys?api-version=2022-08-15
  response:
    body:
      string: '{"primaryMasterKey":"oEGhtbGO25ika3OQqd5Udq09cS66gaYP58W5srppemrQvdKSlBoWCui5lspnyJTTpKf0RhcClVa0ACDbcQUO7A==","secondaryMasterKey":"LL22vi7e1akXb73X5CHqIxbtQ112fzFtXK4PsRdih2PxehyTCNLBaZZto1vNkAsXqC5PKC2xzDMSACDbDSBx6g==","primaryReadonlyMasterKey":"uZ1cYdjBIhXIK67Hy3n1Ww5HVkrHdJQKydFc42galjseaB3GYRUMk3vsuFcyaLLPwlTfBqxkkzBQACDb8Lxpcg==","secondaryReadonlyMasterKey":"1jhWRCFHGbDcDvyRKznWsCbDjDv8HZ1J4X3fPjwak70VYQIXHA1QHXpRgNkHWpbvGYZ8pRNbtk1gACDb4zRq0A=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 28 Jan 2023 19:18:06 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-session-token:
      - ''
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003.documents.azure.com/
  response:
    body:
      string: '{"_self":"","id":"cli000003","_rid":"cli000003.documents.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"readableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"enableMultipleWriteLocations":false,"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"allowNewKeywords\":true,\"maxJoinsPerSqlQuery\":10,\"maxQueryRequestTimeoutFraction\":0.9,\"maxSqlQueryInputLength\":524288,\"maxUdfRefPerSqlQuery\":10,\"queryMaxInMemorySortDocumentCount\":-500,\"spatialMaxGeometryPointCount\":256,\"sqlAllowNonFiniteNumbers\":false,\"sqlDisableOptimizationFlags\":0,\"enableSpatialIndexing\":true,\"maxInExpressionItemsCount\":2147483647,\"maxLogicalAndPerSqlQuery\":2147483647,\"maxLogicalOrPerSqlQuery\":2147483647,\"maxSpatialQueryCells\":2147483647,\"sqlAllowAggregateFunctions\":true,\"sqlAllowGroupByClause\":true,\"sqlAllowLike\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"sqlAllowTop\":true}"}'
    headers:
      content-location:
      - https://cliebgf5gdfl3l5.documents.azure.com/
      content-type:
      - application/json
      x-ms-databaseaccount-consumed-mb:
      - '0'
      x-ms-databaseaccount-provisioned-mb:
      - '0'
      x-ms-databaseaccount-reserved-mb:
      - '0'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-max-media-storage-usage-mb:
      - '2048'
      x-ms-media-storage-usage-mb:
      - '0'
    status:
      code: 200
      message: Ok
- request:
    body: '{"id":"cli000004"}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 28 Jan 2023 19:18:06 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"id":"cli000004","_rid":"3N4bAA==","_self":"dbs\/3N4bAA==\/","_etag":"\"00009202-0000-0700-0000-63d574ef0000\"","_colls":"colls\/","_users":"users\/","_ts":1674933487}'
    headers:
      content-type:
      - application/json
      etag:
      - '"00009202-0000-0700-0000-63d574ef0000"'
      lsn:
      - '8'
      x-ms-cosmos-llsn:
      - '8'
      x-ms-cosmos-quorum-acked-llsn:
      - '7'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '7'
      x-ms-last-state-change-utc:
      - Thu, 12 Jan 2023 02:37:10.202 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '7'
      x-ms-request-charge:
      - '4.95'
      x-ms-request-duration-ms:
      - '20.891'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=1;
      x-ms-schemaversion:
      - '1.15'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#8
      x-ms-transport-request-id:
      - '242554'
      x-ms-xp-role:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]}}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 28 Jan 2023 19:18:08 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"3N4bAOmgul4=","_ts":1674933488,"_self":"dbs\/3N4bAA==\/colls\/3N4bAOmgul4=\/","_etag":"\"00009402-0000-0700-0000-63d574f00000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-type:
      - application/json
      etag:
      - '"00009402-0000-0700-0000-63d574f00000"'
      lsn:
      - '1'
      x-ms-alt-content-path:
      - dbs/cli2fhylewie7dk
      x-ms-cosmos-item-llsn:
      - '1'
      x-ms-cosmos-llsn:
      - '1'
      x-ms-cosmos-max-content-length:
      - '2097152'
      x-ms-cosmos-quorum-acked-llsn:
      - '1'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-documentdb-collection-index-transformation-progress:
      - '100'
      x-ms-documentdb-partitionkeyrangeid:
      - '0'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '0'
      x-ms-item-lsn:
      - '1'
      x-ms-last-state-change-utc:
      - Thu, 26 Jan 2023 13:15:06.517 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '1'
      x-ms-request-charge:
      - '1'
      x-ms-request-duration-ms:
      - '0.409'
      x-ms-resource-quota:
      - functions=50;storedProcedures=100;triggers=25;documentSize=10240;documentsSize=10485760;documentsCount=-1;collectionSize=10485760;
      x-ms-resource-usage:
      - functions=0;storedProcedures=0;triggers=0;documentSize=0;documentsSize=0;documentsCount=0;collectionSize=0;
      x-ms-schemaversion:
      - '1.15'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#1
      x-ms-transport-request-id:
      - '2'
      x-ms-xp-role:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 28 Jan 2023 19:18:09 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003-westus.documents.azure.com/offers
  response:
    body:
      string: '{"_rid":"","Offers":[{"resource":"dbs\/3N4bAA==\/colls\/3N4bAOmgul4=\/","offerType":"Invalid","offerResourceId":"3N4bAOmgul4=","offerVersion":"V2","content":{"offerThroughput":400,"offerIsRUPerMinuteThroughputEnabled":false,"offerMinimumThroughputParameters":{"maxThroughputEverProvisioned":400,"maxConsumedStorageEverInKB":0}},"id":"qNlK","_rid":"qNlK","_self":"offers\/qNlK\/","_etag":"\"00009502-0000-0700-0000-63d574f00000\"","_ts":1674933488}],"_count":1}'
    headers:
      content-location:
      - https://cliebgf5gdfl3l5-westus.documents.azure.com/offers
      content-type:
      - application/json
      lsn:
      - '9'
      x-ms-cosmos-llsn:
      - '9'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '9'
      x-ms-item-count:
      - '1'
      x-ms-last-state-change-utc:
      - Thu, 12 Jan 2023 02:38:44.511 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2'
      x-ms-request-duration-ms:
      - '0.436'
      x-ms-schemaversion:
      - '1.15'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#9
      x-ms-transport-request-id:
      - '73974'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 28 Jan 2023 19:18:10 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/cli000002/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"3N4bAOmgul4=","_ts":1674933488,"_self":"dbs\/3N4bAA==\/colls\/3N4bAOmgul4=\/","_etag":"\"00009402-0000-0700-0000-63d574f00000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-location:
      - https://cliebgf5gdfl3l5-westus.documents.azure.com/dbs/cli2fhylewie7dk/colls/cli4ovxrzlrvef3/
      content-type:
      - application/json
      etag:
      - '"00009402-0000-0700-0000-63d574f00000"'
      lsn:
      - '1'
      x-ms-alt-content-path:
      - dbs/cli2fhylewie7dk
      x-ms-content-path:
      - 3N4bAA==
      x-ms-cosmos-item-llsn:
      - '1'
      x-ms-cosmos-llsn:
      - '1'
      x-ms-cosmos-max-content-length:
      - '2097152'
      x-ms-documentdb-collection-index-transformation-progress:
      - '100'
      x-ms-documentdb-partitionkeyrangeid:
      - '0'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '1'
      x-ms-item-lsn:
      - '1'
      x-ms-last-state-change-utc:
      - Thu, 26 Jan 2023 13:15:18.690 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '1'
      x-ms-request-duration-ms:
      - '0.521'
      x-ms-resource-quota:
      - functions=50;storedProcedures=100;triggers=25;documentSize=10240;documentsSize=10485760;documentsCount=-1;collectionSize=10485760;
      x-ms-resource-usage:
      - functions=0;storedProcedures=0;triggers=0;documentSize=0;documentsSize=0;documentsCount=0;collectionSize=0;
      x-ms-schemaversion:
      - '1.15'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#1
      x-ms-transport-request-id:
      - '1'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"query":"SELECT * FROM root r WHERE r.id=@id","parameters":[{"name":"@id","value":"cli4ovxrzlrvef3"}]}'
    headers:
      Content-Type:
      - application/query+json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 28 Jan 2023 19:18:12 GMT
      x-ms-documentdb-isquery:
      - 'true'
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/
  response:
    body:
      string: '{"_rid":"3N4bAA==","DocumentCollections":[{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"3N4bAOmgul4=","_ts":1674933488,"_self":"dbs\/3N4bAA==\/colls\/3N4bAOmgul4=\/","_etag":"\"00009402-0000-0700-0000-63d574f00000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}],"_count":1}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-type:
      - application/json
      lsn:
      - '9'
      x-ms-alt-content-path:
      - dbs/cli2fhylewie7dk
      x-ms-content-path:
      - 3N4bAA==
      x-ms-cosmos-is-partition-key-delete-pending:
      - 'false'
      x-ms-cosmos-llsn:
      - '9'
      x-ms-cosmos-query-execution-info:
      - '{"reverseRidEnabled":false,"reverseIndexScan":false}'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '9'
      x-ms-item-count:
      - '1'
      x-ms-last-state-change-utc:
      - Thu, 12 Jan 2023 02:38:44.511 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '5.64'
      x-ms-request-duration-ms:
      - '0.659'
      x-ms-resource-quota:
      - collections=5000;
      x-ms-resource-usage:
      - collections=1;
      x-ms-schemaversion:
      - '1.15'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#9
      x-ms-transport-request-id:
      - '103572'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"resource":"dbs/3N4bAA==/colls/3N4bAOmgul4=/","offerType":"Invalid","offerResourceId":"3N4bAOmgul4=","offerVersion":"V2","content":{"offerThroughput":500,"offerIsRUPerMinuteThroughputEnabled":false,"offerMinimumThroughputParameters":{"maxThroughputEverProvisioned":400,"maxConsumedStorageEverInKB":0}},"id":"qNlK","_rid":"qNlK","_self":"offers/qNlK/","_etag":"\"00009502-0000-0700-0000-63d574f00000\"","_ts":1674933488}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 28 Jan 2023 19:18:18 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: PUT
    uri: https://cli000003-westus.documents.azure.com/offers/qNlK/
  response:
    body:
      string: '{"resource":"dbs\/3N4bAA==\/colls\/3N4bAOmgul4=\/","offerType":"Invalid","offerResourceId":"3N4bAOmgul4=","offerVersion":"V2","content":{"offerThroughput":500,"offerIsRUPerMinuteThroughputEnabled":false,"isOfferReplacePending":false,"offerMinimumThroughputParameters":{"maxThroughputEverProvisioned":500,"maxConsumedStorageEverInKB":0},"isOfferReplacePendingForMerge":false},"id":"qNlK","_rid":"qNlK","_self":"offers\/qNlK\/","_etag":"\"00009802-0000-0700-0000-63d574fa0000\"","_ts":1674933498}'
    headers:
      content-location:
      - https://cliebgf5gdfl3l5-westus.documents.azure.com/offers/qNlK/
      content-type:
      - application/json
      etag:
      - '"00009802-0000-0700-0000-63d574fa0000"'
      lsn:
      - '10'
      x-ms-cosmos-llsn:
      - '10'
      x-ms-cosmos-quorum-acked-llsn:
      - '9'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '9'
      x-ms-last-state-change-utc:
      - Thu, 12 Jan 2023 02:37:10.202 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '9'
      x-ms-request-charge:
      - '9.9'
      x-ms-request-duration-ms:
      - '23.862'
      x-ms-schemaversion:
      - '1.15'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#10
      x-ms-transport-request-id:
      - '280497'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"3N4bAOmgul4=","_ts":1674933488,"_self":"dbs/3N4bAA==/colls/3N4bAOmgul4=/","_etag":"\"00009402-0000-0700-0000-63d574f00000\"","_docs":"docs/","_sprocs":"sprocs/","_triggers":"triggers/","_udfs":"udfs/","_conflicts":"conflicts/","defaultTtl":1000}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 28 Jan 2023 19:18:19 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: PUT
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/cli000002/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"inclu[...]
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 28 Jan 2023 19:18:23 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: DELETE
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/cli000002/
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
