interactions:
- request:
    body: '{"location": "eastus2", "properties": {"administratorLoginPassword": "aBcD1234!@#$",
      "coordinatorServerEdition": "GeneralPurpose", "coordinatorStorageQuotaInMb":
      131072, "coordinatorVCores": 4, "nodeCount": 2, "nodeServerEdition": "MemoryOptimized",
      "nodeStorageQuotaInMb": 131072, "nodeVCores": 2}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cli000002?api-version=2022-11-08
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cli000002\",\n
        \ \"name\": \"cli000002\",\n  \"type\": \"Microsoft.DBforPostgreSQL/serverGroupsv2\",\n
        \ \"tags\": {\n},\n  \"location\": \"eastus2\",\n  \"systemData\": {\n  \"createdBy\":
        \"segungor@microsoft.com\",\n  \"createdByType\": \"User\",\n  \"createdAt\":
        \"2023-07-19T05:24:28.0409281Z\",\n  \"lastModifiedBy\": \"segungor@microsoft.com\",\n
        \ \"lastModifiedByType\": \"User\",\n  \"lastModifiedAt\": \"2023-07-19T05:24:28.0409281Z\"\n},\n
        \ \"properties\": {\n    \"provisioningState\": \"Provisioning\",\n    \"state\":
        \"Provisioning\",\n    \"administratorLogin\": \"citus\",\n    \"postgresqlVersion\":
        \"15\",\n    \"citusVersion\": \"11.3\",\n    \"maintenanceWindow\": {\n      \"customWindow\":
        \"Disabled\",\n      \"dayOfWeek\": 0,\n      \"startHour\": 0,\n      \"startMinute\":
        0\n    },\n    \"preferredPrimaryZone\": null,\n    \"enableShardsOnCoordinator\":
        false,\n    \"earliestRestoreTime\": null,\n    \"sourceResourceId\": null,\n
        \   \"enableHa\": false,\n    \"coordinatorServerEdition\": \"GeneralPurpose\",\n
        \   \"nodeServerEdition\": \"MemoryOptimized\",\n    \"coordinatorStorageQuotaInMb\":
        131072,\n    \"nodeStorageQuotaInMb\": 131072,\n    \"coordinatorVCores\":
        4,\n    \"nodeVCores\": 2,\n    \"coordinatorEnablePublicIpAccess\": true,\n
        \   \"nodeEnablePublicIpAccess\": false,\n    \"nodeCount\": 2,\n    \"serverNames\":
        [\n      {\n        \"name\": \"cli000002-c\",\n        \"fullyQualifiedDomainName\":
        \"c-cli000002.dab7tf2bb2ohfs.postgres.cosmos.azure.com\"\n      },\n      {\n
        \       \"name\": \"cli000002-w0\",\n        \"fullyQualifiedDomainName\":
        \"w0-cli000002.dab7tf2bb2ohfs.postgres.cosmos.azure.com\"\n      },\n      {\n
        \       \"name\": \"cli000002-w1\",\n        \"fullyQualifiedDomainName\":
        \"w1-cli000002.dab7tf2bb2ohfs.postgres.cosmos.azure.com\"\n      }\n    ],\n
        \   \"readReplicas\": [],\n    \"privateEndpointConnections\": []\n  }\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2/azureAsyncOperation/d6a6eeca-aa24-422f-bce5-11133efbd151?api-version=2022-11-08
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2/operationResults/d6a6eeca-aa24-422f-bce5-11133efbd151?api-version=2022-11-08
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2/azureAsyncOperation/d6a6eeca-aa24-422f-bce5-11133efbd151?api-version=2022-11-08
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2/azureAsyncOperation/d6a6eeca-aa24-422f-bce5-11133efbd151\",\n
        \ \"name\": \"d6a6eeca-aa24-422f-bce5-11133efbd151\",\n  \"status\": \"InProgress\",\n
        \ \"startTime\": \"2023-07-19 05:24:28 +0000\"\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2/azureAsyncOperation/d6a6eeca-aa24-422f-bce5-11133efbd151?api-version=2022-11-08
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2/operationResults/d6a6eeca-aa24-422f-bce5-11133efbd151?api-version=2022-11-08
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"endIpAddress": "255.255.255.255", "startIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cli000002/firewallRules/fw_rule?api-version=2022-11-08
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cl[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cli000002/firewallRules?api-version=2022-11-08
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cli000002/firewallRules/fw_rule\",\n
        \     \"name\": \"fw_rule\",\n      \"type\": \"Microsoft.DBforPostgreSQL/serverGroupsv2/firewallRules\",\n
        \     \"systemData\": {\n  \"createdAt\": \"2023-07-19T05:29:43.8380772Z\",\n
        \ \"createdBy\": \"segungor@microsoft.com\",\n  \"createdByType\": \"User\",\n
        \ \"lastModifiedAt\": \"2023-07-19T05:29:43.8380772Z\",\n  \"lastModifiedBy\":
        \"segungor@microsoft.com\",\n  \"lastModifiedByType\": \"User\"\n},\n      \"properties\":
        {\n        \"provisioningState\": \"Succeeded\",\n        \"startIpAddress\":
        \"0.0.0.0\",\n        \"endIpAddress\": \"255.255.255.1\"\n      }\n    }\n
        \ ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2/operationResults/4456692d-31f5-4804-bb8f-1d863a6b9602?api-version=2022-11-08
  response:
    body:
      string: '{

        }'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2/azureAsyncOperation/4456692d-31f5-4804-bb8f-1d863a6b9602?api-version=2022-11-08
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2/operationResults/4456692d-31f5-4804-bb8f-1d863a6b9602?api-version=2022-11-08
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test000001/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/cli000002/firewallRules?api-version=2022-11-08
  response:
    body:
      string: "{\n  \"value\": []\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
