interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_account000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001","name":"cli_test_cosmosdb_account000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-10-22T21:05:41Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "apiProperties": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2021-10-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2021-10-22T21:05:46.0419789Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"3396c887-b9ee-4c01-b738-6fbf9f32784e","databaseAccountOfferType":"Standard","defaultIdentity":"","networkAclBypass":"None","disableLocalAuth":false,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000002-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Invalid"}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/abfb8293-0f2c-45fe-94d5-b0b41bde19fc?api-version=2021-10-15
      content-type:
      - application/json
      location:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/operationResults/abfb8293-0f2c-45fe-94d5-b0b41bde19fc?api-version=2021-10-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1171'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/abfb8293-0f2c-45fe-94d5-b0b41bde19fc?api-version=2021-10-15
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2021-10-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2021-10-22T21:07:13.7177007Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000002.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"3396c887-b9ee-4c01-b738-6fbf9f32784e","databaseAccountOffer[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/listKeys?api-version=2021-10-15
  response:
    body:
      string: '{"primaryMasterKey":"NEi2BNHl1KxpgZQaPSUZbzTgsKUJ2VbB7gXxNsmA8CsJbYUFznFtnVvoKbTS5nFwFRwsmKpa1JYFpuMZ212Yxg==","secondaryMasterKey":"atgMl6GnmGpNaDOfy2atw1CdFZP9h5u6RzMGlud6UDleNdwwou12I77lSCQx20GL8LDEjw4wGghegJQvCWGd4Q==","primaryReadonlyMasterKey":"ofcZznMMlRYl8Ty5Y8YnmdCqwv2TWFJMKDM3ZagMjCc1SqhFubiHHPnjWJidZ4cobvdKaRVP0K3RUi48YSWjqQ==","secondaryReadonlyMasterKey":"1XBXyLzqmdsZkuMEpv8TnOztm4HySgBQnIBbcuGNl9SuhqDn3WrOunHSlh8qPHkkS2RfcFAmF1EHvXg2ETWYmw=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Fri, 22 Oct 2021 21:07:52 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-session-token:
      - ''
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000002.documents.azure.com/
  response:
    body:
      string: '{"_self":"","id":"cli000002","_rid":"cli000002.documents.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000002-westus.documents.azure.com:443/"}],"readableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000002-westus.documents.azure.com:443/"}],"enableMultipleWriteLocations":false,"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"maxSqlQueryInputLength\":262144,\"maxJoinsPerSqlQuery\":5,\"maxLogicalAndPerSqlQuery\":500,\"maxLogicalOrPerSqlQuery\":500,\"maxUdfRefPerSqlQuery\":10,\"maxInExpressionItemsCount\":16000,\"queryMaxInMemorySortDocumentCount\":500,\"maxQueryRequestTimeoutFraction\":0.9,\"sqlAllowNonFiniteNumbers\":false,\"sqlAllowAggregateFunctions\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"allowNewKeywords\":true,\"sqlAllowLike\":true,\"sqlAllowGroupByClause\":true,\"maxSpatialQueryCells\":12,\"spatialMaxGeometryPointCount\":256,\"sqlDisableOptimizationFlags\":0,\"sqlAllowTop\":true,\"enableSpatialIndexing\":true}"}'
    headers:
      content-location:
      - https://cliasphlv4siokrqxdac46yfqjmmmpljgv6mlxsp.documents.azure.com/
      content-type:
      - application/json
      x-ms-databaseaccount-consumed-mb:
      - '0'
      x-ms-databaseaccount-provisioned-mb:
      - '0'
      x-ms-databaseaccount-reserved-mb:
      - '0'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-max-media-storage-usage-mb:
      - '2048'
      x-ms-media-storage-usage-mb:
      - '0'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Fri, 22 Oct 2021 21:07:53 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000002-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"_rid":"","Databases":[],"_count":0}'
    headers:
      content-location:
      - https://cliasphlv4siokrqxdac46yfqjmmmpljgv6mlxsp-westus.documents.azure.com/dbs
      content-type:
      - application/json
      lsn:
      - '7'
      x-ms-cosmos-llsn:
      - '7'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '7'
      x-ms-item-count:
      - '0'
      x-ms-last-state-change-utc:
      - Fri, 22 Oct 2021 20:45:15.557 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2'
      x-ms-request-duration-ms:
      - '0.647'
      x-ms-resource-quota:
      - databases=1000;collections=5000;users=500000;permissions=2000000;interopUsers=2000;authPolicyElements=200000;
      x-ms-resource-usage:
      - databases=0;collections=0;users=0;permissions=0;interopUsers=0;authPolicyElements=0;
      x-ms-schemaversion:
      - '1.12'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#7
      x-ms-transport-request-id:
      - '269498'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Fri, 22 Oct 2021 21:07:55 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000002-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"_rid":"","Databases":[],"_count":0}'
    headers:
      content-location:
      - https://cliasphlv4siokrqxdac46yfqjmmmpljgv6mlxsp-westus.documents.azure.com/dbs
      content-type:
      - application/json
      lsn:
      - '7'
      x-ms-cosmos-llsn:
      - '7'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '7'
      x-ms-item-count:
      - '0'
      x-ms-last-state-change-utc:
      - Fri, 22 Oct 2021 20:45:17.439 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2'
      x-ms-request-duration-ms:
      - '0.651'
      x-ms-resource-quota:
      - databases=1000;collections=5000;users=500000;permissions=2000000;interopUsers=2000;authPolicyElements=200000;
      x-ms-resource-usage:
      - databases=0;collections=0;users=0;permissions=0;interopUsers=0;authPolicyElements=0;
      x-ms-schemaversion:
      - '1.12'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#7
      x-ms-transport-request-id:
      - '37349'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
version: 1
