interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_account000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001","name":"cli_test_cosmosdb_account000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-14T11:50:15Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "apiProperties": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2020-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2020-07-14T11:50:20.5011456Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"instanceId":"a9eefb6f-1236-4494-abe9-574ebdefd57f","databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000002-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/a0ecd86a-10fd-41b0-b86c-b57d48c6f363?api-version=2020-04-01
      content-location:
      - https://management.documents.azure.com:450/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_cosmosdb_account6mbp3sdg4jwx4ao63ie25durzng74ud4mxwwvmbj2vd4kkqhlf/providers/Microsoft.DocumentDB/databaseAccounts/clinsvakrc4fzvgg74adflauwpauke5aq2rsyncb?api-version=2020-04-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/operationResults/a0ecd86a-10fd-41b0-b86c-b57d48c6f363?api-version=2020-04-01
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1163'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/a0ecd86a-10fd-41b0-b86c-b57d48c6f363?api-version=2020-04-01
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/a0ecd86a-10fd-41b0-b86c-b57d48c6f363?api-version=2020-04-01
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2020-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2020-07-14T12:04:21.9315006Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000002.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"instanceId":"a9eefb6f-1236-4494-abe9-574ebdefd57f","databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/listKeys?api-version=2020-04-01
  response:
    body:
      string: '{"primaryMasterKey":"ntpHwzsy8DFQGltHiVwd1C6FkHPzE4KBR3j19lNo1OTC1SAkEn2yyk3IP1x4f0fMFqkVOkriokvfGMZwG7qcww==","secondaryMasterKey":"gnKBZ3sYx7AzNzGmC51hZtwEQYXyrlmvssdZxNq9VxWrfCWSaYVSo7w8SyqFnMcLTMTig1fBVfgK899bjmR4Gw==","primaryReadonlyMasterKey":"HzthOfBq1McNPgb1aQ7O9ik2GrRtxCpuPDjv6dUc7g93DHxUvruE52m0vjiqQN9QLDittAPRM1uRQj9Vot3QBw==","secondaryReadonlyMasterKey":"FgKXhptawEQNcjJAXccTuakApuPFnIY0b8mDgNHRi989wpu6zd47dbkN3cOlkrZEVvGdKLLPZkFInK8mgW8B8A=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 14 Jul 2020 12:04:39 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-session-token:
      - ''
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000002.documents.azure.com/
  response:
    body:
      string: '{"_self":"","id":"cli000002","_rid":"cli000002.documents.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000002-westus.documents.azure.com:443/"}],"readableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000002-westus.documents.azure.com:443/"}],"enableMultipleWriteLocations":false,"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"maxSqlQueryInputLength\":262144,\"maxJoinsPerSqlQuery\":5,\"maxLogicalAndPerSqlQuery\":500,\"maxLogicalOrPerSqlQuery\":500,\"maxUdfRefPerSqlQuery\":10,\"maxInExpressionItemsCount\":16000,\"queryMaxInMemorySortDocumentCount\":500,\"maxQueryRequestTimeoutFraction\":0.9,\"sqlAllowNonFiniteNumbers\":false,\"sqlAllowAggregateFunctions\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"allowNewKeywords\":true,\"sqlAllowLike\":false,\"sqlAllowGroupByClause\":true,\"maxSpatialQueryCells\":12,\"spatialMaxGeometryPointCount\":256,\"sqlDisableQueryILOptimization\":false,\"sqlAllowTop\":true,\"enableSpatialIndexing\":true}"}'
    headers:
      content-location:
      - https://clinsvakrc4fzvgg74adflauwpauke5aq2rsyncb.documents.azure.com/
      content-type:
      - application/json
      x-ms-databaseaccount-consumed-mb:
      - '0'
      x-ms-databaseaccount-provisioned-mb:
      - '0'
      x-ms-databaseaccount-reserved-mb:
      - '0'
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-max-media-storage-usage-mb:
      - '2048'
      x-ms-media-storage-usage-mb:
      - '0'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 14 Jul 2020 12:04:41 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000002-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"_rid":"","Databases":[],"_count":0}'
    headers:
      content-location:
      - https://clinsvakrc4fzvgg74adflauwpauke5aq2rsyncb-westus.documents.azure.com/dbs
      content-type:
      - application/json
      lsn:
      - '5'
      x-ms-cosmos-llsn:
      - '5'
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-global-committed-lsn:
      - '5'
      x-ms-item-count:
      - '0'
      x-ms-last-state-change-utc:
      - Tue, 14 Jul 2020 10:34:03.629 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2'
      x-ms-resource-quota:
      - databases=1000;collections=5000;users=500000;permissions=2000000;
      x-ms-resource-usage:
      - databases=0;collections=0;users=0;permissions=0;
      x-ms-schemaversion:
      - '1.9'
      x-ms-serviceversion:
      - version=2.11.0.0
      x-ms-session-token:
      - 0:-1#5
      x-ms-transport-request-id:
      - '7591'
      x-ms-xp-role:
      - '2'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 14 Jul 2020 12:04:45 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000002-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"_rid":"","Databases":[],"_count":0}'
    headers:
      content-location:
      - https://clinsvakrc4fzvgg74adflauwpauke5aq2rsyncb-westus.documents.azure.com/dbs
      content-type:
      - application/json
      lsn:
      - '5'
      x-ms-cosmos-llsn:
      - '5'
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-global-committed-lsn:
      - '5'
      x-ms-item-count:
      - '0'
      x-ms-last-state-change-utc:
      - Mon, 13 Jul 2020 22:18:49.902 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2'
      x-ms-resource-quota:
      - databases=1000;collections=5000;users=500000;permissions=2000000;
      x-ms-resource-usage:
      - databases=0;collections=0;users=0;permissions=0;
      x-ms-schemaversion:
      - '1.9'
      x-ms-serviceversion:
      - version=2.11.0.0
      x-ms-session-token:
      - 0:-1#5
      x-ms-transport-request-id:
      - '222438'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
version: 1
