interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_collection000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001","name":"cli_test_cosmosdb_collection000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-08-25T05:56:00Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "apiProperties": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2022-05-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2022-08-25T05:56:04.6744465Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"7b319ee6-be48-415d-82e6-370c38c14120","databaseAccountOfferType":"Standard","defaultIdentity":"","networkAclBypass":"None","disableLocalAuth":false,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Invalid"}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/2336c0c2-c990-4cc6-aff5-c69f5ab9eaaf?api-version=2022-05-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/2336c0c2-c990-4cc6-aff5-c69f5ab9eaaf?api-version=2022-05-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/2336c0c2-c990-4cc6-aff5-c69f5ab9eaaf?api-version=2022-05-15
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2022-05-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2022-08-25T05:57:27.9855433Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"7b319ee6-be48-415d-82e6-370c38c14120","databaseAccountOffer[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/listKeys?api-version=2022-05-15
  response:
    body:
      string: '{"primaryMasterKey":"9jHlzaWMrv0fFDf0RJnVqQcuP8X3cQkGmjl8nk24EaNHD7NDLNXWOH8tBrCkuMXxBI9UNZE3J48JGxihw3jSYw==","secondaryMasterKey":"b1xnw7LUBn0kdBfLzgRIwZPQXGqUfmom5F4mHT7YVjhxpbOQ7HtCkaTZqzZD2Y7DoG3KhLWmgMR9cb4qhiXkbw==","primaryReadonlyMasterKey":"cpLwocvHms7GBhJyGxmmcmBaHfFbIIlymIMlkyxYIQPyJTeRoGFOOYXlgwqAYQ4WBJ8MHATWzmsSfY5QK3xgSg==","secondaryReadonlyMasterKey":"vyMkfLANqw5aleW7JmoMFflkrKA9op6Zhlgfpoj55mvh2f19B5q9dnLLvmGkK9W9lOlagPNxlZiYrtQPtrDRdA=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2022-05-15
  response:
    body:
      string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
        a response from ''Microsoft.DocumentDB'' within the specified time period."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 504
      message: Gateway Timeout
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Thu, 25 Aug 2022 06:00:09 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-session-token:
      - ''
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003.documents.azure.com/
  response:
    body:
      string: '{"_self":"","id":"cli000003","_rid":"cli000003.documents.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"readableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"enableMultipleWriteLocations":false,"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"maxSqlQueryInputLength\":262144,\"maxJoinsPerSqlQuery\":5,\"maxLogicalAndPerSqlQuery\":500,\"maxLogicalOrPerSqlQuery\":500,\"maxUdfRefPerSqlQuery\":10,\"maxInExpressionItemsCount\":16000,\"queryMaxInMemorySortDocumentCount\":500,\"maxQueryRequestTimeoutFraction\":0.9,\"sqlAllowNonFiniteNumbers\":false,\"sqlAllowAggregateFunctions\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"allowNewKeywords\":true,\"sqlAllowLike\":true,\"sqlAllowGroupByClause\":true,\"maxSpatialQueryCells\":12,\"spatialMaxGeometryPointCount\":256,\"sqlDisableOptimizationFlags\":0,\"sqlAllowTop\":true,\"enableSpatialIndexing\":true}"}'
    headers:
      content-location:
      - https://cliqidsn5k7agau.documents.azure.com/
      content-type:
      - application/json
      x-ms-databaseaccount-consumed-mb:
      - '0'
      x-ms-databaseaccount-provisioned-mb:
      - '0'
      x-ms-databaseaccount-reserved-mb:
      - '0'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-max-media-storage-usage-mb:
      - '2048'
      x-ms-media-storage-usage-mb:
      - '0'
    status:
      code: 200
      message: Ok
- request:
    body: '{"id":"cli000004"}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Thu, 25 Aug 2022 06:00:09 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"id":"cli000004","_rid":"h14VAA==","_self":"dbs\/h14VAA==\/","_etag":"\"0000060b-0000-0700-0000-63070fe90000\"","_colls":"colls\/","_users":"users\/","_ts":1661407209}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0000060b-0000-0700-0000-63070fe90000"'
      lsn:
      - '8'
      x-ms-cosmos-llsn:
      - '8'
      x-ms-cosmos-quorum-acked-llsn:
      - '7'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '7'
      x-ms-last-state-change-utc:
      - Tue, 02 Aug 2022 22:17:28.940 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '7'
      x-ms-request-charge:
      - '4.95'
      x-ms-request-duration-ms:
      - '23.085'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=1;
      x-ms-schemaversion:
      - '1.14'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#8
      x-ms-transport-request-id:
      - '115114'
      x-ms-xp-role:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]}}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Thu, 25 Aug 2022 06:00:11 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"h14VAJsvcSw=","_ts":1661407211,"_self":"dbs\/h14VAA==\/colls\/h14VAJsvcSw=\/","_etag":"\"0000080b-0000-0700-0000-63070feb0000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-type:
      - application/json
      etag:
      - '"0000080b-0000-0700-0000-63070feb0000"'
      lsn:
      - '1'
      x-ms-alt-content-path:
      - dbs/clic2bzic6l72nv
      x-ms-cosmos-item-llsn:
      - '1'
      x-ms-cosmos-llsn:
      - '1'
      x-ms-cosmos-quorum-acked-llsn:
      - '1'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-documentdb-collection-index-transformation-progress:
      - '100'
      x-ms-documentdb-partitionkeyrangeid:
      - '0'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '1'
      x-ms-item-lsn:
      - '1'
      x-ms-last-state-change-utc:
      - Thu, 25 Aug 2022 01:30:13.650 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '1'
      x-ms-request-charge:
      - '1'
      x-ms-request-duration-ms:
      - '0.442'
      x-ms-resource-quota:
      - functions=50;storedProcedures=100;triggers=25;documentSize=10240;documentsSize=10485760;documentsCount=-1;collectionSize=10485760;
      x-ms-resource-usage:
      - functions=0;storedProcedures=0;triggers=0;documentSize=0;documentsSize=0;documentsCount=0;collectionSize=0;
      x-ms-schemaversion:
      - '1.14'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#1
      x-ms-transport-request-id:
      - '2'
      x-ms-xp-role:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Thu, 25 Aug 2022 06:00:11 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003-westus.documents.azure.com/offers
  response:
    body:
      string: '{"_rid":"","Offers":[{"resource":"dbs\/h14VAA==\/colls\/h14VAJsvcSw=\/","offerType":"Invalid","offerResourceId":"h14VAJsvcSw=","offerVersion":"V2","content":{"offerThroughput":400,"offerIsRUPerMinuteThroughputEnabled":false,"offerMinimumThroughputParameters":{"maxThroughputEverProvisioned":400,"maxConsumedStorageEverInKB":0}},"id":"gUgr","_rid":"gUgr","_self":"offers\/gUgr\/","_etag":"\"0000090b-0000-0700-0000-63070feb0000\"","_ts":1661407211}],"_count":1}'
    headers:
      content-location:
      - https://cliqidsn5k7agau-westus.documents.azure.com/offers
      content-type:
      - application/json
      lsn:
      - '9'
      x-ms-cosmos-llsn:
      - '9'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '9'
      x-ms-item-count:
      - '1'
      x-ms-last-state-change-utc:
      - Tue, 02 Aug 2022 19:48:19.576 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2'
      x-ms-request-duration-ms:
      - '0.376'
      x-ms-schemaversion:
      - '1.14'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#9
      x-ms-transport-request-id:
      - '107528'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Thu, 25 Aug 2022 06:00:14 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/cli000002/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"h14VAJsvcSw=","_ts":1661407211,"_self":"dbs\/h14VAA==\/colls\/h14VAJsvcSw=\/","_etag":"\"0000080b-0000-0700-0000-63070feb0000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-location:
      - https://cliqidsn5k7agau-westus.documents.azure.com/dbs/clic2bzic6l72nv/colls/clinrhjpwcer7tc/
      content-type:
      - application/json
      etag:
      - '"0000080b-0000-0700-0000-63070feb0000"'
      lsn:
      - '1'
      x-ms-alt-content-path:
      - dbs/clic2bzic6l72nv
      x-ms-content-path:
      - h14VAA==
      x-ms-cosmos-item-llsn:
      - '1'
      x-ms-cosmos-llsn:
      - '1'
      x-ms-documentdb-collection-index-transformation-progress:
      - '100'
      x-ms-documentdb-partitionkeyrangeid:
      - '0'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '1'
      x-ms-item-lsn:
      - '1'
      x-ms-last-state-change-utc:
      - Thu, 25 Aug 2022 01:30:18.613 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '1'
      x-ms-request-duration-ms:
      - '0.476'
      x-ms-resource-quota:
      - functions=50;storedProcedures=100;triggers=25;documentSize=10240;documentsSize=10485760;documentsCount=-1;collectionSize=10485760;
      x-ms-resource-usage:
      - functions=0;storedProcedures=0;triggers=0;documentSize=0;documentsSize=0;documentsCount=0;collectionSize=0;
      x-ms-schemaversion:
      - '1.14'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#1
      x-ms-transport-request-id:
      - '118'
      x-ms-xp-role:
      - '2'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"query":"SELECT * FROM root r WHERE r.id=@id","parameters":[{"name":"@id","value":"clinrhjpwcer7tc"}]}'
    headers:
      Content-Type:
      - application/query+json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Thu, 25 Aug 2022 06:02:16 GMT
      x-ms-documentdb-isquery:
      - 'true'
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/
  response:
    body:
      string: '{"_rid":"h14VAA==","DocumentCollections":[{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"h14VAJsvcSw=","_ts":1661407211,"_self":"dbs\/h14VAA==\/colls\/h14VAJsvcSw=\/","_etag":"\"0000080b-0000-0700-0000-63070feb0000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}],"_count":1}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-type:
      - application/json
      lsn:
      - '9'
      x-ms-alt-content-path:
      - dbs/clic2bzic6l72nv
      x-ms-content-path:
      - h14VAA==
      x-ms-cosmos-is-partition-key-delete-pending:
      - 'false'
      x-ms-cosmos-llsn:
      - '9'
      x-ms-cosmos-query-execution-info:
      - '{"reverseRidEnabled":false,"reverseIndexScan":false}'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '9'
      x-ms-item-count:
      - '1'
      x-ms-last-state-change-utc:
      - Tue, 02 Aug 2022 22:54:34.178 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '5.64'
      x-ms-request-duration-ms:
      - '0.644'
      x-ms-resource-quota:
      - collections=5000;
      x-ms-resource-usage:
      - collections=1;
      x-ms-schemaversion:
      - '1.14'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#9
      x-ms-transport-request-id:
      - '95491'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"resource":"dbs/h14VAA==/colls/h14VAJsvcSw=/","offerType":"Invalid","offerResourceId":"h14VAJsvcSw=","offerVersion":"V2","content":{"offerThroughput":500,"offerIsRUPerMinuteThroughputEnabled":false,"offerMinimumThroughputParameters":{"maxThroughputEverProvisioned":400,"maxConsumedStorageEverInKB":0}},"id":"gUgr","_rid":"gUgr","_self":"offers/gUgr/","_etag":"\"0000090b-0000-0700-0000-63070feb0000\"","_ts":1661407211}'
    headers:
      Content-Type:
      - application/jso[...]
[...]
- request:
    body: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"h14VAJsvcSw=","_ts":1661407211,"_self":"dbs/h14VAA==/colls/h14VAJsvcSw=/","_etag":"\"0000080b-0000-0700-0000-63070feb0000\"","_docs":"docs/","_sprocs":"sprocs/","_triggers":"triggers/","_udfs":"udfs/","_conflicts":"conflicts/","defaultTtl":1000}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Thu, 25 Aug 2022 06:06:22 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: PUT
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/cli000002/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"inclu[...]
[...]
