interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_collection000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001","name":"cli_test_cosmosdb_collection000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-02-20T03:01:41Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "apiProperties": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2021-01-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2021-02-20T02:59:56.0706315Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"instanceId":"a2739028-99c2-4d8a-8584-e29f612345c5","createMode":"Default","databaseAccountOfferType":"Standard","enableCassandraConnector":false,"connectorOffer":"","networkAclBypass":0,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":1}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/7fb689f1-2a4e-4dab-a683-8a740a6eed10?api-version=2021-01-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/7fb689f1-2a4e-4dab-a683-8a740a6eed10?api-version=2021-01-15
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/7fb689f1-2a4e-4dab-a683-8a740a6eed10?api-version=2021-01-15
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2021-01-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2021-02-20T03:00:33.7774128Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"instanceId":"a2739028-99c2-4d8a-8584-e29f612345c5","createMode":"Default","databaseAccountOfferType":"Standard","enableCassandraConnec[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/listKeys?api-version=2021-01-15
  response:
    body:
      string: '{"primaryMasterKey":"5kX6o9PBSskHGzLZOrOy9KU9j44eCLwas26pZK0ji89zkhQPsIu3CBUIVewG6f3EALhIzJUJ7p5y0xwY0m0TMA==","secondaryMasterKey":"qdfXKP2Iv1uw1crtQs44XEANtJIGjH2iiZFixbU48UV73qA368zZGFkqzhV5BUaeX5LXUnBQJxM4nydBOuWDaA==","primaryReadonlyMasterKey":"yAUcy7ZaY6Ntgh90zLanpgnK6p75QhIH3WNFqUW4QQBDg8U4FGtm91tGH6UxRjMCjIQvKyUByhphWPzvnkqggw==","secondaryReadonlyMasterKey":"SZSRyrCrW8YiZ0QGQbmjSoLPuqSo2cgAN8v3Jhs1waIobFh7AopoVSiYd9zbeOk4RKRLBtQSedKjaRZA7FKoSA=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 20 Feb 2021 03:03:22 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-session-token:
      - ''
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003.documents.azure.com/
  response:
    body:
      string: '{"_self":"","id":"cli000003","_rid":"cli000003.documents.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"readableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"enableMultipleWriteLocations":false,"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"maxSqlQueryInputLength\":262144,\"maxJoinsPerSqlQuery\":5,\"maxLogicalAndPerSqlQuery\":500,\"maxLogicalOrPerSqlQuery\":500,\"maxUdfRefPerSqlQuery\":10,\"maxInExpressionItemsCount\":8000,\"queryMaxInMemorySortDocumentCount\":500,\"maxQueryRequestTimeoutFraction\":0.9,\"sqlAllowNonFiniteNumbers\":false,\"sqlAllowAggregateFunctions\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"allowNewKeywords\":true,\"sqlAllowLike\":true,\"sqlAllowGroupByClause\":true,\"maxSpatialQueryCells\":12,\"spatialMaxGeometryPointCount\":256,\"sqlDisableQueryILOptimization\":false,\"sqlAllowTop\":true,\"enableSpatialIndexing\":true}"}'
    headers:
      content-location:
      - https://cli2ssuvousoila.documents.azure.com/
      content-type:
      - application/json
      x-ms-databaseaccount-consumed-mb:
      - '0'
      x-ms-databaseaccount-provisioned-mb:
      - '0'
      x-ms-databaseaccount-reserved-mb:
      - '0'
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-max-media-storage-usage-mb:
      - '2048'
      x-ms-media-storage-usage-mb:
      - '0'
    status:
      code: 200
      message: Ok
- request:
    body: '{"id":"cli000004"}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 20 Feb 2021 03:03:23 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"id":"cli000004","_rid":"SKJPAA==","_self":"dbs\/SKJPAA==\/","_etag":"\"0000c802-0000-0700-0000-60307b8c0000\"","_colls":"colls\/","_users":"users\/","_ts":1613790092}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0000c802-0000-0700-0000-60307b8c0000"'
      lsn:
      - '6'
      x-ms-cosmos-llsn:
      - '6'
      x-ms-cosmos-quorum-acked-llsn:
      - '5'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-global-committed-lsn:
      - '5'
      x-ms-last-state-change-utc:
      - Thu, 18 Feb 2021 20:45:41.089 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '5'
      x-ms-request-charge:
      - '4.95'
      x-ms-request-duration-ms:
      - '21.172'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=1;
      x-ms-schemaversion:
      - '1.11'
      x-ms-serviceversion:
      - version=2.11.0.0
      x-ms-session-token:
      - 0:-1#6
      x-ms-transport-request-id:
      - '17949'
      x-ms-xp-role:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]}}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 20 Feb 2021 03:03:25 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"allowMaterializedViews":false,"geospatialConfig":{"type":"Geography"},"_rid":"SKJPAOecdjc=","_ts":1613790096,"_self":"dbs\/SKJPAA==\/colls\/SKJPAOecdjc=\/","_etag":"\"0000ca02-0000-0700-0000-60307b900000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-type:
      - application/json
      etag:
      - '"0000ca02-0000-0700-0000-60307b900000"'
      lsn:
      - '1'
      x-ms-alt-content-path:
      - dbs/clipiwpx2wjdrkl
      x-ms-cosmos-item-llsn:
      - '1'
      x-ms-cosmos-llsn:
      - '1'
      x-ms-cosmos-quorum-acked-llsn:
      - '1'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-documentdb-collection-index-transformation-progress:
      - '100'
      x-ms-documentdb-partitionkeyrangeid:
      - '0'
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-global-committed-lsn:
      - '0'
      x-ms-item-lsn:
      - '1'
      x-ms-last-state-change-utc:
      - Fri, 19 Feb 2021 07:15:05.300 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '1'
      x-ms-request-charge:
      - '1'
      x-ms-request-duration-ms:
      - '0.671'
      x-ms-resource-quota:
      - functions=25;storedProcedures=100;triggers=25;documentSize=10240;documentsSize=10485760;documentsCount=-1;collectionSize=10485760;
      x-ms-resource-usage:
      - functions=0;storedProcedures=0;triggers=0;documentSize=0;documentsSize=0;documentsCount=0;collectionSize=0;
      x-ms-schemaversion:
      - '1.11'
      x-ms-serviceversion:
      - version=2.11.0.0
      x-ms-session-token:
      - 0:-1#1
      x-ms-transport-request-id:
      - '3'
      x-ms-xp-role:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 20 Feb 2021 03:03:28 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003-westus.documents.azure.com/offers
  response:
    body:
      string: '{"_rid":"","Offers":[{"resource":"dbs\/SKJPAA==\/colls\/SKJPAOecdjc=\/","offerType":"Invalid","offerResourceId":"SKJPAOecdjc=","offerVersion":"V2","content":{"offerThroughput":400,"offerIsRUPerMinuteThroughputEnabled":false,"offerMinimumThroughputParameters":{"maxThroughputEverProvisioned":400,"maxConsumedStorageEverInKB":0}},"id":"qMHH","_rid":"qMHH","_self":"offers\/qMHH\/","_etag":"\"0000cb02-0000-0700-0000-60307b900000\"","_ts":1613790096}],"_count":1}'
    headers:
      content-location:
      - https://cli2ssuvousoila-westus.documents.azure.com/offers
      content-type:
      - application/json
      lsn:
      - '7'
      x-ms-cosmos-llsn:
      - '7'
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-global-committed-lsn:
      - '7'
      x-ms-item-count:
      - '1'
      x-ms-last-state-change-utc:
      - Thu, 18 Feb 2021 20:45:51.858 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2'
      x-ms-request-duration-ms:
      - '0.546'
      x-ms-schemaversion:
      - '1.11'
      x-ms-serviceversion:
      - version=2.11.0.0
      x-ms-session-token:
      - 0:-1#7
      x-ms-transport-request-id:
      - '19797'
      x-ms-xp-role:
      - '2'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 20 Feb 2021 03:03:30 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/cli000002/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"allowMaterializedViews":false,"geospatialConfig":{"type":"Geography"},"_rid":"SKJPAOecdjc=","_ts":1613790096,"_self":"dbs\/SKJPAA==\/colls\/SKJPAOecdjc=\/","_etag":"\"0000ca02-0000-0700-0000-60307b900000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-location:
      - https://cli2ssuvousoila-westus.documents.azure.com/dbs/clipiwpx2wjdrkl/colls/clioamn3mzncqql/
      content-type:
      - application/json
      etag:
      - '"0000ca02-0000-0700-0000-60307b900000"'
      lsn:
      - '1'
      x-ms-alt-content-path:
      - dbs/clipiwpx2wjdrkl
      x-ms-content-path:
      - SKJPAA==
      x-ms-cosmos-item-llsn:
      - '1'
      x-ms-cosmos-llsn:
      - '1'
      x-ms-documentdb-collection-index-transformation-progress:
      - '100'
      x-ms-documentdb-partitionkeyrangeid:
      - '0'
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-global-committed-lsn:
      - '1'
      x-ms-item-lsn:
      - '1'
      x-ms-last-state-change-utc:
      - Fri, 19 Feb 2021 10:50:06.230 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '1'
      x-ms-request-duration-ms:
      - '0.692'
      x-ms-resource-quota:
      - functions=25;storedProcedures=100;triggers=25;documentSize=10240;documentsSize=10485760;documentsCount=-1;collectionSize=10485760;
      x-ms-resource-usage:
      - functions=0;storedProcedures=0;triggers=0;documentSize=0;documentsSize=0;documentsCount=0;collectionSize=0;
      x-ms-schemaversion:
      - '1.11'
      x-ms-serviceversion:
      - version=2.11.0.0
      x-ms-session-token:
      - 0:-1#1
      x-ms-transport-request-id:
      - '1'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"query":"SELECT * FROM root r WHERE r.id=@id","parameters":[{"name":"@id","value":"clioamn3mzncqql"}]}'
    headers:
      Content-Type:
      - application/query+json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 20 Feb 2021 03:03:33 GMT
      x-ms-documentdb-isquery:
      - 'true'
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/
  response:
    body:
      string: '{"_rid":"SKJPAA==","DocumentCollections":[{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"allowMaterializedViews":false,"geospatialConfig":{"type":"Geography"},"_rid":"SKJPAOecdjc=","_ts":1613790096,"_self":"dbs\/SKJPAA==\/colls\/SKJPAOecdjc=\/","_etag":"\"0000ca02-0000-0700-0000-60307b900000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}],"_count":1}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-type:
      - application/json
      lsn:
      - '7'
      x-ms-alt-content-path:
      - dbs/clipiwpx2wjdrkl
      x-ms-content-path:
      - SKJPAA==
      x-ms-cosmos-is-partition-key-delete-pending:
      - 'false'
      x-ms-cosmos-llsn:
      - '7'
      x-ms-cosmos-query-execution-info:
      - '{"reverseRidEnabled":true,"reverseIndexScan":false}'
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-global-committed-lsn:
      - '7'
      x-ms-item-count:
      - '1'
      x-ms-last-state-change-utc:
      - Thu, 18 Feb 2021 20:45:58.289 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '5.64'
      x-ms-request-duration-ms:
      - '1.268'
      x-ms-resource-quota:
      - collections=5000;
      x-ms-resource-usage:
      - collections=1;
      x-ms-schemaversion:
      - '1.11'
      x-ms-serviceversion:
      - version=2.11.0.0
      x-ms-session-token:
      - 0:-1#7
      x-ms-transport-request-id:
      - '7899'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"resource":"dbs/SKJPAA==/colls/SKJPAOecdjc=/","offerType":"Invalid","offerResourceId":"SKJPAOecdjc=","offerVersion":"V2","content":{"offerThroughput":500,"offerIsRUPerMinuteThroughputEnabled":false,"offerMinimumThroughputParameters":{"maxThroughputEverProvisioned":400,"maxConsumedStorageEverInKB":0}},"id":"qMHH","_rid":"qMHH","_self":"offers/qMHH/","_etag":"\"0000cb02-0000-0700-0000-60307b900000\"","_ts":1613790096}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 20 Feb 2021 03:03:41 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: PUT
    uri: https://cli000003-westus.documents.azure.com/offers/qMHH/
  response:
    body:
      string: '{"resource":"dbs\/SKJPAA==\/colls\/SKJPAOecdjc=\/","offerType":"Invalid","offerResourceId":"SKJPAOecdjc=","offerVersion":"V2","content":{"offerThroughput":500,"offerIsRUPerMinuteThroughputEnabled":false,"offerMinimumThroughputParameters":{"maxThroughputEverProvisioned":500,"maxConsumedStorageEverInKB":0},"offerLastReplaceTimestamp":1613790109},"id":"qMHH","_rid":"qMHH","_self":"offers\/qMHH\/","_etag":"\"0000ce02-0000-0700-0000-60307b9d0000\"","_ts":1613790109}'
    headers:
      content-location:
      - https://cli2ssuvousoila-westus.documents.azure.com/offers/qMHH/
      content-type:
      - application/json
      etag:
      - '"0000ce02-0000-0700-0000-60307b9d0000"'
      lsn:
      - '8'
      x-ms-cosmos-llsn:
      - '8'
      x-ms-cosmos-quorum-acked-llsn:
      - '7'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-global-committed-lsn:
      - '7'
      x-ms-last-state-change-utc:
      - Thu, 18 Feb 2021 20:45:41.089 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '7'
      x-ms-request-charge:
      - '9.9'
      x-ms-request-duration-ms:
      - '23.833'
      x-ms-schemaversion:
      - '1.11'
      x-ms-serviceversion:
      - version=2.11.0.0
      x-ms-session-token:
      - 0:-1#8
      x-ms-transport-request-id:
      - '34580'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"/_ts","conflictResolutionProcedure":""},"allowMaterializedViews":false,"geospatialConfig":{"type":"Geography"},"_rid":"SKJPAOecdjc=","_ts":1613790096,"_self":"dbs/SKJPAA==/colls/SKJPAOecdjc=/","_etag":"\"0000ca02-0000-0700-0000-60307b900000\"","_docs":"docs/","_sprocs":"sprocs/","_triggers":"triggers/","_udfs":"udfs/","_conflicts":"conflicts/","defaultTtl":1000}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Sat, 20 Feb 2021 03:03:43 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: PUT
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/cli000002/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"inclu[...]
[...]
