interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-06-13T00:09:47Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_database000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001","name":"cli_test_cosmosdb_database000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-06-13T00:09:47Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0}], "databaseAccountOfferType":
      "Standard"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2015-04-08
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Initializing","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/ddbb6f11-151f-458e-a663-beceab2513e8?api-version=2015-04-08']
      content-location: ['https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/cli_test_cosmosdb_databasepaylmjar5ttryclqqogizj2xfi4s565au6mixdftoos3obiw2/providers/Microsoft.DocumentDB/databaseAccounts/clipioapqbkd2x4?api-version=2015-04-08']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/ddbb6f11-151f-458e-a663-beceab2513e8?api-version=2015-04-08']
      x-ms-gatewayversion: [version=2.4.0.0]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: Ok}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/ddbb6f11-151f-458e-a663-beceab2513e8?api-version=2015-04-08
  response:
    body: {string: '{"status":"Dequeued","error":{}}'}
    headers:
      content-location: ['https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/ddbb6f11-151f-458e-a663-beceab2513e8?api-version=2015-04-08']
      content-type: [application/json]
      x-ms-gatewayversion: [version=2.4.0.0]
    status: {code: 200, message: Ok}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2015-04-08
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","documentEndpoint":"https://cl[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/listKeys?api-version=2015-04-08
  response:
    body: {string: '{"primaryMasterKey":"JiLaS1c4gmhMheU1s93Fjjbvv1bVXGHRnMkS6KDmx9GYy9VRrDUD7OXRwlCAlbQ6eMsnfX9I9FmmEnp2yYrPDQ==","secondaryMasterKey":"ozTRUEDHtgCCB1mAUOcAwaRsSIhyJYwvz3GZ568bJ0fbh3alBWSDY9HBCHIz6w763S7THrEQoEn9hvIq7fvaSg==","primaryReadonlyMasterKey":"t9GpQtB51CgpMnQoiTICmzZk4UZTPhY99KjHbFRD4ioLVBPu2R9rB5zVodB1kKqe4merB3ndALXCKEr7VM5Aow==","secondaryReadonlyMasterKey":"qGTTsiFaPFxNJpCWxK9TAvEGx8KODNTOjjkt6pjzspcDEBTMXUOHRX2Rc7mXGuB5poRipuELXkhEbSj80ay11w=="}'}
    headers:
      content-type: [application/json]
      x-ms-gatewayversion: [version=2.4.0.0]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: Ok}
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level: [Session]
      x-ms-date: ['Thu, 13 Jun 2019 00:18:05 GMT']
      x-ms-documentdb-query-iscontinuationexpected: ['False']
      x-ms-session-token: ['']
      x-ms-version: ['2018-09-17']
    method: GET
    uri: https://cli000003.documents.azure.com/
  response:
    body: {string: '{"_self":"","id":"cli000003","_rid":"cli000003.documents.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"readableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"enableMultipleWriteLocations":false,"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"maxSqlQueryInputLength\":262144,\"maxJoinsPerSqlQuery\":5,\"maxLogicalAndPerSqlQuery\":500,\"maxLogicalOrPerSqlQuery\":500,\"maxUdfRefPerSqlQuery\":10,\"maxInExpressionItemsCount\":8000,\"queryMaxInMemorySortDocumentCount\":500,\"maxQueryRequestTimeoutFraction\":0.9,\"sqlAllowNonFiniteNumbers\":false,\"sqlAllowAggregateFunctions\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"allowNewKeywords\":true,\"sqlAllowLike\":false,\"sqlAllowGroupByClause\":false,\"maxSpatialQueryCells\":12,\"spatialMaxGeometryPointCount\":256,\"sqlAllowTop\":true,\"enableSpatialIndexing\":true}"}'}
    headers:
      content-location: ['https://clipioapqbkd2x4.documents.azure.com/']
      content-type: [application/json]
      x-ms-databaseaccount-consumed-mb: ['0']
      x-ms-databaseaccount-provisioned-mb: ['0']
      x-ms-databaseaccount-reserved-mb: ['0']
      x-ms-gatewayversion: [version=2.4.0.0]
      x-ms-max-media-storage-usage-mb: ['2048']
      x-ms-media-storage-usage-mb: ['0']
    status: {code: 200, message: Ok}
- request:
    body: b'{"id":"cli000002"}'
    headers:
      Content-Type: [application/json]
      x-ms-consistency-level: [Session]
      x-ms-date: ['Thu, 13 Jun 2019 00:18:06 GMT']
      x-ms-documentdb-query-iscontinuationexpected: ['False']
      x-ms-version: ['2018-09-17']
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body: {string: '{"id":"cli000002","_rid":"JplvAA==","_self":"dbs\/JplvAA==\/","_etag":"\"0000a507-0000-0700-0000-5d01963e0000\"","_colls":"colls\/","_users":"users\/","_ts":1560385086}'}
    headers:
      content-type: [application/json]
      etag: ['"0000a507-0000-0700-0000-5d01963e0000"']
      lsn: ['4']
      x-ms-cosmos-llsn: ['4']
      x-ms-cosmos-quorum-acked-llsn: ['3']
      x-ms-current-replica-set-size: ['4']
      x-ms-current-write-quorum: ['3']
      x-ms-gatewayversion: [version=2.4.0.0]
      x-ms-global-committed-lsn: ['3']
      x-ms-last-state-change-utc: ['Mon, 10 Jun 2019 11:51:47.956 GMT']
      x-ms-number-of-read-regions: ['0']
      x-ms-quorum-acked-lsn: ['3']
      x-ms-request-charge: ['4.95']
      x-ms-resource-quota: [databases=1000;]
      x-ms-resource-usage: [databases=1;]
      x-ms-schemaversion: ['1.8']
      x-ms-serviceversion: [version=2.4.0.0]
      x-ms-session-token: ['0:-1#4']
      x-ms-transport-request-id: ['56711']
      x-ms-xp-role: ['1']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level: [Session]
      x-ms-date: ['Thu, 13 Jun 2019 00:18:08 GMT']
      x-ms-documentdb-query-iscontinuationexpected: ['False']
      x-ms-version: ['2018-09-17']
    method: GET
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000002/
  response:
    body: {string: '{"id":"cli000002","_rid":"JplvAA==","_self":"dbs\/JplvAA==\/","_etag":"\"0000a507-0000-0700-0000-5d01963e0000\"","_colls":"colls\/","_users":"users\/","_ts":1560385086}'}
    headers:
      content-location: ['https://clipioapqbkd2x4-westus.documents.azure.com/dbs/cliiulrlrlwyj4w/']
      content-type: [application/json]
      etag: ['"0000a507-0000-0700-0000-5d01963e0000"']
      lsn: ['4']
      x-ms-cosmos-item-llsn: ['4']
      x-ms-cosmos-llsn: ['4']
      x-ms-gatewayversion: [version=2.4.0.0]
      x-ms-global-committed-lsn: ['4']
      x-ms-item-lsn: ['4']
      x-ms-last-state-change-utc: ['Mon, 10 Jun 2019 11:52:01.287 GMT']
      x-ms-number-of-read-regions: ['0']
      x-ms-request-charge: ['2']
      x-ms-resource-quota: [databases=1000;]
      x-ms-resource-usage: [databases=1;]
      x-ms-schemaversion: ['1.8']
      x-ms-serviceversion: [version=2.4.0.0]
      x-ms-session-token: ['0:-1#4']
      x-ms-transport-request-id: ['53375']
      x-ms-xp-role: ['2']
    status: {code: 200, message: Ok}
[...]
- request:
    body: '{"query":"SELECT * FROM root r WHERE r.id=@id","parameters":[{"name":"@id","value":"cliiulrlrlwyj4w"}]}'
    headers:
      Content-Type: [application/query+json]
      x-ms-consistency-level: [Session]
      x-ms-date: ['Thu, 13 Jun 2019 00:18:10 GMT']
      x-ms-documentdb-isquery: ['true']
      x-ms-documentdb-query-iscontinuationexpected: ['False']
      x-ms-version: ['2018-09-17']
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body: {string: '{"_rid":"","Databases":[{"id":"cli000002","_rid":"JplvAA==","_self":"dbs\/JplvAA==\/","_etag":"\"0000a507-0000-0700-0000-5d01963e0000\"","_colls":"colls\/","_users":"users\/","_ts":1560385086}],"_count":1}'}
    headers:
      content-type: [application/json]
      lsn: ['4']
      x-ms-cosmos-llsn: ['4']
      x-ms-gatewayversion: [version=2.4.0.0]
      x-ms-global-committed-lsn: ['4']
      x-ms-item-count: ['1']
      x-ms-last-state-change-utc: ['Mon, 10 Jun 2019 11:52:01.287 GMT']
      x-ms-number-of-read-regions: ['0']
      x-ms-request-charge: ['5.66']
      x-ms-resource-quota: [databases=1000;]
      x-ms-resource-usage: [databases=1;]
      x-ms-schemaversion: ['1.8']
      x-ms-serviceversion: [version=2.4.0.0]
      x-ms-session-token: ['0:-1#4']
      x-ms-transport-request-id: ['62922']
      x-ms-xp-role: ['2']
    status: {code: 200, message: Ok}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_database000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGQ09TTU9TREI6NUZEQVRBQkFTRVBBWUxNSkFSNVRUUllDTHwyMkFDQkQ0NEQ0Q0VGN0U3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
