interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_collection000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001","name":"cli_test_cosmosdb_collection000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-08T06:36:11Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2015-04-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Initializing","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/6eb194d5-6bb4-4fa7-b75c-87eaa4a78ba8?api-version=2015-04-08
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/cli_test_cosmosdb_collectionx7qf5uzlxkiemdwz5ua56y5jp46llpmn7rpfustqxpnjej6/providers/Microsoft.DocumentDB/databaseAccounts/clia35m6anh542u?api-version=2015-04-08
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/6eb194d5-6bb4-4fa7-b75c-87eaa4a78ba8?api-version=2015-04-08
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/6eb194d5-6bb4-4fa7-b75c-87eaa4a78ba8?api-version=2015-04-08
  response:
    body:
      string: '{"status":"Dequeued","error":{}}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/6eb194d5-6bb4-4fa7-b75c-87eaa4a78ba8?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2015-04-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli0[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_collection000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/listKeys?api-version=2015-04-08
  response:
    body:
      string: '{"primaryMasterKey":"vcd060osnJoE5T9buSRgeOfZseAEEvzOTG2wEud8l0OgHPCvYtpBUNXIOJAAsWaSPj31XUbOzaFqFofMsNhc0g==","secondaryMasterKey":"SrcB5SuGb96ZH5pQkb61a5fdRr7MuPzuZ20zAtPKkY2f5QlBoN9NpX2mrsmLIQoRdCW9tel9zprerDQV3mUWwA==","primaryReadonlyMasterKey":"pmiUrQnminkQarVNkWmVnNxDImRI3fa8ZoVWCLrOAzjEdSo5Jh5FTHHPvhYpIBJXaUmqMLgPldG1w8sU9MPXLQ==","secondaryReadonlyMasterKey":"Wvn0Z8ktO1r6PCft41QCEfuWTVrpXQFCpcevJDkjT6Nkekr0QgTDnmXSqXRiH0USwCwldz2nH0IWhFMDK1lMoQ=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 08 Oct 2019 06:45:25 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-session-token:
      - ''
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003.documents.azure.com/
  response:
    body:
      string: '{"_self":"","id":"cli000003","_rid":"cli000003.documents.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"readableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"enableMultipleWriteLocations":false,"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"maxSqlQueryInputLength\":262144,\"maxJoinsPerSqlQuery\":5,\"maxLogicalAndPerSqlQuery\":500,\"maxLogicalOrPerSqlQuery\":500,\"maxUdfRefPerSqlQuery\":10,\"maxInExpressionItemsCount\":16000,\"queryMaxInMemorySortDocumentCount\":500,\"maxQueryRequestTimeoutFraction\":0.9,\"sqlAllowNonFiniteNumbers\":false,\"sqlAllowAggregateFunctions\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"allowNewKeywords\":true,\"sqlAllowLike\":false,\"sqlAllowGroupByClause\":false,\"maxSpatialQueryCells\":12,\"spatialMaxGeometryPointCount\":256,\"sqlAllowTop\":true,\"enableSpatialIndexing\":true}"}'
    headers:
      content-location:
      - https://clia35m6anh542u.documents.azure.com/
      content-type:
      - application/json
      x-ms-databaseaccount-consumed-mb:
      - '0'
      x-ms-databaseaccount-provisioned-mb:
      - '0'
      x-ms-databaseaccount-reserved-mb:
      - '0'
      x-ms-gatewayversion:
      - version=2.5.1
      x-ms-max-media-storage-usage-mb:
      - '2048'
      x-ms-media-storage-usage-mb:
      - '0'
    status:
      code: 200
      message: Ok
- request:
    body: '{"id":"cli000004"}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 08 Oct 2019 06:45:25 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"id":"cli000004","_rid":"Iv4GAA==","_self":"dbs\/Iv4GAA==\/","_etag":"\"0000da00-0000-0700-0000-5d9c30850000\"","_colls":"colls\/","_users":"users\/","_ts":1570517125}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0000da00-0000-0700-0000-5d9c30850000"'
      lsn:
      - '4'
      x-ms-cosmos-llsn:
      - '4'
      x-ms-cosmos-quorum-acked-llsn:
      - '3'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-gatewayversion:
      - version=2.5.1
      x-ms-global-committed-lsn:
      - '3'
      x-ms-last-state-change-utc:
      - Mon, 07 Oct 2019 16:13:44.521 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '3'
      x-ms-request-charge:
      - '4.95'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=1;
      x-ms-schemaversion:
      - '1.8'
      x-ms-serviceversion:
      - version=2.5.0.0
      x-ms-session-token:
      - 0:-1#4
      x-ms-transport-request-id:
      - '91148'
      x-ms-xp-role:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*","indexes":[{"kind":"Range","dataType":"String","precision":-1},{"kind":"Range","dataType":"Number","precision":-1}]}]}}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 08 Oct 2019 06:45:26 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"Iv4GAON6Al0=","_ts":1570517127,"_self":"dbs\/Iv4GAA==\/colls\/Iv4GAON6Al0=\/","_etag":"\"0000dc00-0000-0700-0000-5d9c30870000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-type:
      - application/json
      etag:
      - '"0000dc00-0000-0700-0000-5d9c30870000"'
      lsn:
      - '1'
      x-ms-alt-content-path:
      - dbs/clierb37ozsavh7
      x-ms-cosmos-item-llsn:
      - '1'
      x-ms-cosmos-llsn:
      - '1'
      x-ms-cosmos-quorum-acked-llsn:
      - '1'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-documentdb-collection-index-transformation-progress:
      - '100'
      x-ms-gatewayversion:
      - version=2.5.1
      x-ms-global-committed-lsn:
      - '1'
      x-ms-item-lsn:
      - '1'
      x-ms-last-state-change-utc:
      - Mon, 07 Oct 2019 15:27:37.720 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '1'
      x-ms-request-charge:
      - '1'
      x-ms-resource-quota:
      - functions=25;storedProcedures=100;triggers=25;documentSize=10240;documentsSize=10485760;documentsCount=-1;collectionSize=10485760;
      x-ms-resource-usage:
      - functions=0;storedProcedures=0;triggers=0;documentSize=0;documentsSize=0;documentsCount=0;collectionSize=0;
      x-ms-schemaversion:
      - '1.8'
      x-ms-serviceversion:
      - version=2.5.0.0
      x-ms-session-token:
      - 0:-1#1
      x-ms-transport-request-id:
      - '52'
      x-ms-xp-role:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 08 Oct 2019 06:45:27 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003-westus.documents.azure.com/offers
  response:
    body:
      string: '{"_rid":"","Offers":[{"resource":"dbs\/Iv4GAA==\/colls\/Iv4GAON6Al0=\/","offerType":"Invalid","offerResourceId":"Iv4GAON6Al0=","offerVersion":"V2","content":{"offerThroughput":400,"offerIsRUPerMinuteThroughputEnabled":false,"offerMinimumThroughputParameters":{"maxCountOfSharedThroughputCollectionsEverCreated":0,"maxThroughputEverProvisioned":400,"maxConsumedStorageEverInKB":0}},"id":"VcSB","_rid":"VcSB","_self":"offers\/VcSB\/","_etag":"\"0000dd00-0000-0700-0000-5d9c30870000\"","_ts":1570517127}],"_count":1}'
    headers:
      content-location:
      - https://clia35m6anh542u-westus.documents.azure.com/offers
      content-type:
      - application/json
      lsn:
      - '5'
      x-ms-cosmos-llsn:
      - '5'
      x-ms-gatewayversion:
      - version=2.5.1
      x-ms-global-committed-lsn:
      - '5'
      x-ms-item-count:
      - '1'
      x-ms-last-state-change-utc:
      - Mon, 07 Oct 2019 18:04:38.927 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2'
      x-ms-schemaversion:
      - '1.8'
      x-ms-serviceversion:
      - version=2.5.0.0
      x-ms-session-token:
      - 0:-1#5
      x-ms-transport-request-id:
      - '4099'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 08 Oct 2019 06:45:29 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/cli000002/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"Iv4GAON6Al0=","_ts":1570517127,"_self":"dbs\/Iv4GAA==\/colls\/Iv4GAON6Al0=\/","_etag":"\"0000dc00-0000-0700-0000-5d9c30870000\"","_docs":"docs\/","_sprocs":"sprocs\/","_triggers":"triggers\/","_udfs":"udfs\/","_conflicts":"conflicts\/"}'
    headers:
      collection-partition-index:
      - '0'
      collection-service-index:
      - '0'
      content-location:
      - https://clia35m6anh542u-westus.documents.azure.com/dbs/clierb37ozsavh7/colls/clixxmga37lmmi4/
      content-type:
      - application/json
      etag:
      - '"0000dc00-0000-0700-0000-5d9c30870000"'
      lsn:
      - '1'
      x-ms-alt-content-path:
      - dbs/clierb37ozsavh7
      x-ms-content-path:
      - Iv4GAA==
      x-ms-cosmos-item-llsn:
      - '1'
      x-ms-cosmos-llsn:
      - '1'
      x-ms-documentdb-collection-index-transformation-progress:
      - '100'
      x-ms-gatewayversion:
      - version=2.5.1
      x-ms-global-committed-lsn:
      - '1'
      x-ms-item-lsn:
      - '1'
      x-ms-last-state-change-utc:
      - Mon, 07 Oct 2019 15:27:51.166 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '1'
      x-ms-resource-quota:
      - functions=25;storedProcedures=100;triggers=25;documentSize=10240;documentsSize=10485760;documentsCount=-1;collectionSize=10485760;
      x-ms-resource-usage:
      - functions=0;storedProcedures=0;triggers=0;documentSize=0;documentsSize=0;documentsCount=0;collectionSize=0;
      x-ms-schemaversion:
      - '1.8'
      x-ms-serviceversion:
      - version=2.5.0.0
      x-ms-session-token:
      - 0:-1#1
      x-ms-transport-request-id:
      - '4'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"query":"SELECT * FROM root r WHERE r.id=@id","parameters":[{"name":"@id","value":"clixxmga37lmmi4"}]}'
    headers:
      Content-Type:
      - application/query+json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 08 Oct 2019 06:45:31 GMT
      x-ms-documentdb-isquery:
      - 'true'
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/
  response:
    body:
      string: '{"_rid":"Iv4GAA==","DocumentCollections":[{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"\/*"}],"excludedPaths":[{"path":"\/\"_etag\"\/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"\/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"Iv4GAON6Al0=","_ts":1570517127,"_self":"dbs\/Iv4GAA==\/colls\/Iv4GAON6Al0=\/","_etag":"\"0000dc00-0000-0700-0000-5d9c30870000\"","_docs":"docs\/","_sprocs":"sprocs\/","_trig[...]
[...]
- request:
    body: '{"resource":"dbs/Iv4GAA==/colls/Iv4GAON6Al0=/","offerType":"Invalid","offerResourceId":"Iv4GAON6Al0=","offerVersion":"V2","content":{"offerThroughput":500,"offerIsRUPerMinuteThroughputEnabled":false,"offerMinimumThroughputParameters":{"maxCountOfSharedThroughputCollectionsEverCreated":0,"maxThroughputEverProvisioned":400,"maxConsumedStorageEverInKB":0}},"id":"VcSB","_rid":"VcSB","_self":"offers/VcSB/","_etag":"\"0000dd00-0000-0700-0000-5d9c30870000\"","_ts":1570517127}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 08 Oct 2019 06:45:38 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: PUT
    uri: https://cli000003-westus.documents.azure.com/offers/VcSB/
  response:
    body:
      string: '{"resource":"dbs\/Iv4GAA==\/colls\/Iv4GAON6Al0=\/","offerType":"Invalid","offerResourceId":"Iv4GAON6Al0=","offerVersion":"V2","content":{"offerThroughput":500,"offerIsRUPerMinuteThroughputEnabled":false,"offerMinimumThroughputParameters":{"maxCountOfSharedThroughputCollectionsEverCreated":0,"maxThroughputEverProvisioned":500,"maxConsumedStorageEverInKB":0},"offerLastReplaceTimestamp":1570517138},"id":"VcSB","_rid":"VcSB","_self":"offers\/VcSB\/","_etag":"\"0000e000-0000-0700-0000-5d9c30920000\"","_ts":1570517138}'
    headers:
      content-location:
      - https://clia35m6anh542u-westus.documents.azure.com/offers/VcSB/
      content-type:
      - application/json
      etag:
      - '"0000e000-0000-0700-0000-5d9c30920000"'
      lsn:
      - '6'
      x-ms-cosmos-llsn:
      - '6'
      x-ms-cosmos-quorum-acked-llsn:
      - '5'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-gatewayversion:
      - version=2.5.1
      x-ms-global-committed-lsn:
      - '5'
      x-ms-last-state-change-utc:
      - Mon, 07 Oct 2019 16:13:44.521 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '5'
      x-ms-request-charge:
      - '9.9'
      x-ms-schemaversion:
      - '1.8'
      x-ms-serviceversion:
      - version=2.5.0.0
      x-ms-session-token:
      - 0:-1#6
      x-ms-transport-request-id:
      - '68953'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"Iv4GAON6Al0=","_ts":1570517127,"_self":"dbs/Iv4GAA==/colls/Iv4GAON6Al0=/","_etag":"\"0000dc00-0000-0700-0000-5d9c30870000\"","_docs":"docs/","_sprocs":"sprocs/","_triggers":"triggers/","_udfs":"udfs/","_conflicts":"conflicts/","defaultTtl":1000}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 08 Oct 2019 06:45:40 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: PUT
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000004/colls/cli000002/
  response:
    body:
      string: '{"id":"cli000002","indexingPolicy":{"indexingMode":"consistent","automatic":true,"inclu[...]
[...]
