interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_gremlin_database000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001","name":"cli_test_cosmosdb_gremlin_database000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-06-22T05:29:41Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "capabilities": [{"name": "EnableGremlin"}],
      "apiProperties": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2021-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2021-06-22T05:29:46.2513588Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Gremlin,
        Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"analyticalStorageSchemaType":"WellDefined"},"instanceId":"d3e2979e-bf8e-43eb-853b-562aa0ca65d3","createMode":"Default","databaseAccountOfferType":"Standard","defaultIdentity":"","networkAclBypass":"None","disableLocalAuth":false,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[{"name":"EnableGremlin"}],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Geo"}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/4cd2e3b2-ba3f-4037-a29f-d9fd123adabf?api-version=2021-06-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/4cd2e3b2-ba3f-4037-a29f-d9fd123adabf?api-version=2021-06-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/4cd2e3b2-ba3f-4037-a29f-d9fd123adabf?api-version=2021-06-15
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2021-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2021-06-22T05:31:16.476977Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","gremlinEndpoint":"https://cli000003.gremlin.cosmos.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Gremlin,
        Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"analyticalStorageSchemaType":"WellDefined"},"instanceId":"d3e2979e-bf8e-43eb-8[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/gremlinDatabases/cli000002?api-version=2021-06-15
  response:
    body:
      string: '{"code":"NotFound","message":"Message: {\"code\":\"NotFound\",\"message\":\"Message:
        {\\\"Errors\\\":[\\\"Resource Not Found. Learn more: https:\\\\/\\\\/aka.ms\\\\/cosmosdb-tsg-not-found\\\"]}\\r\\nActivityId:
        24c48aef-d31b-11eb-87cc-b831b59239b2, Request URI: /apps/73234397-907f-4362-80b6-413dc4819583/services/475305fd-976d-4ff0-86b6-6bd95e47f4b6/partitions/987cdd9d-2558-40a5-85d6-fe1df7bba39d/replicas/132688122150293576s,
        RequestStats: \\r\\nRequestStartTime: 2021-06-22T05:31:50.6908416Z, RequestEndTime:
        2021-06-22T05:31:50.6908416Z,  Number of regions attempted:1\\r\\nResponseTime:
        2021-06-22T05:31:50.6908416Z, StoreResult: StorePhysicalAddress: rntbd://10.0.0.22:11300/apps/73234397-907f-4362-80b6-413dc4819583/services/475305fd-976d-4ff0-86b6-6bd95e47f4b6/partitions/987cdd9d-2558-40a5-85d6-fe1df7bba39d/replicas/132688122150293576s,
        LSN: 7, GlobalCommittedLsn: 7, PartitionKeyRangeId: , IsValid: True, StatusCode:
        404, SubStatusCode: 0, RequestCharge: 1, ItemLSN: -1, SessionToken: -1#7,
        UsingLocalLSN: False, TransportException: null, BELatencyMs: 0.972, ActivityId:
        24c48aef-d31b-11eb-87cc-b831b59239b2, ResourceType: Database, OperationType:
        Read\\r\\nResponseTime: 2021-06-22T05:31:50.6908416Z, StoreResult: StorePhysicalAddress:
        rntbd://10.0.0.26:11000/apps/73234397-907f-4362-80b6-413dc4819583/services/475305fd-976d-4ff0-86b6-6bd95e47f4b6/partitions/987cdd9d-2558-40a5-85d6-fe1df7bba39d/replicas/132688122150293577s,
        LSN: 7, GlobalCommittedLsn: 7, PartitionKeyRangeId: , IsValid: True, StatusCode:
        404, SubStatusCode: 0, RequestCharge: 1, ItemLSN: -1, SessionToken: -1#7,
        UsingLocalLSN: False, TransportException: null, BELatencyMs: 1.565, ActivityId:
        24c48aef-d31b-11eb-87cc-b831b59239b2, ResourceType: Database, OperationType:
        Read\\r\\n, SDK: Microsoft.Azure.Documents.Common/2.14.0\"}, Request URI:
        /dbs/cli000002, RequestStats: , SDK: Microsoft.Azure.Documents.Common/2.14.0"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 404
      message: NotFound
- request:
    body: '{"properties": {"resource": {"id": "cli000002"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/gremlinDatabases/cli000002?api-version=2021-06-15
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/f04613d7-2245-48fb-8648-d92756f5ec34?api-version=2021-06-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/gremlinDatabases/cli000002/operationResults/f04613d7-2245-48fb-8648-d92756f5ec34?api-version=2021-06-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/gremlinDatabases/cli000002?api-version=2021-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/gremlinDatabases/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/gremlinDatabases","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"sC1UAA==","_self":"dbs/sC1UAA==/","_etag":"\"00000d05-0000-0700-0000-60d175cb0000\"","_colls":"colls/","_users":"users/","_ts":1624339915}}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/gremlinDatabases?api-version=2021-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/gremlinDatabases/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/gremlinDatabases","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"sC1UAA==","_self":"dbs/sC1UAA==/","_etag":"\"00000d05-0000-0700-0000-60d175cb0000\"","_colls":"colls/","_users":"users/","_ts":1624339915}}}]}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/gremlinDatabases?api-version=2021-06-15
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
version: 1
