interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_cassandra_table000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001","name":"cli_test_cosmosdb_cassandra_table000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-08T06:35:02Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "capabilities": [{"name": "EnableCassandra"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2015-04-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Initializing","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Cassandra","disableKeyBasedMetadataWriteAccess":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[{"name":"EnableCassandra"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/31593147-d43d-4419-a39c-63578844325c?api-version=2015-04-08
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/cli_test_cosmosdb_cassandra_tablejn2vy2brnw577wdsjxwxpse4lbst7ol4blknr3xpzm/providers/Microsoft.DocumentDB/databaseAccounts/cliirstitbzhmdf?api-version=2015-04-08
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/31593147-d43d-4419-a39c-63578844325c?api-version=2015-04-08
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/31593147-d43d-4419-a39c-63578844325c?api-version=2015-04-08
  response:
    body:
      string: '{"status":"Dequeued","error":{}}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/31593147-d43d-4419-a39c-63578844325c?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2015-04-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","cassandraEndpoint":"https://cli000003.cassandra.cosmos.azure.com:443/","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Cassandra","disableKeyBasedMetadataWriteAccess":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations"[...]
[...]
- request:
    body: '{"properties": {"resource": {"id": "cli000004"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/apis/cassandra/keyspaces/cli000004?api-version=2015-04-08
  response:
    body:
      string: '{"status":"Enqueued","error":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/apis/cassandra/keyspaces/cli000004?api-version=2015-04-08
  response:
    body:
      string: '{"properties":{"id":"cli000004","_rid":"0kRzAA==","_etag":"\"00008b00-0000-0700-0000-5d9c309f0000\"","_ts":1570517151}}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/cli_test_cosmosdb_cassandra_tablejn2vy2brnw577wdsjxwxpse4lbst7ol4blknr3xpzm/providers/Microsoft.DocumentDB/databaseAccounts/cliirstitbzhmdf/apis/cassandra/keyspaces/clisxk5dzrmzdmn?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
- request:
    body: '{"properties": {"resource": {"id": "cli000002", "schema": {"columns": [{"name":
      "columnA", "type": "Ascii"}], "partitionKeys": [{"name": "columnA"}]}}, "options":
      {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/apis/cassandra/keyspaces/cli000004/tables/cli000002?api-version=2015-04-08
  response:
    body:
      string: '{"status":"Enqueued","error":{}}'
    headers:
 [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/apis/cassandra/keyspaces/cli000004/tables/cli000002?api-version=2015-04-08
  response:
    body:
      string: '{"properties":{"id":"cli000002","_rid":"0kRzANic8-0=","_etag":"\"00008d00-0000-0700-0000-5d9c30bf0000\"","_ts":1570517183,"defaultTtl":-1,"schema":{"columns":[{"name":"columnA","type":"ascii"}],"partitionKeys":[{"name":"columnA"}]}}}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/cli_test_cosmosdb_cassandra_tablejn2vy2brnw577wdsjxwxpse4lbst7ol4blknr3xpzm/providers/Microsoft.DocumentDB/databaseAccounts/cliirstitbzhmdf/apis/cassandra/keyspaces/clisxk5dzrmzdmn/tables/cli2lzhpbqrztwq?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/apis/cassandra/keyspaces/cli000004/tables?api-version=2015-04-08
  response:
    body:
      string: '{"value":[{"properties":{"id":"cli000002","_rid":"0kRzANic8-0=","_etag":"\"00009100-0000-0700-0000-5d9c30e00000\"","_ts":1570517217,"defaultTtl":-1,"schema":{"columns":[{"name":"columnA","type":"ascii"},{"name":"columnB","type":"ascii"}],"partitionKeys":[{"name":"columnA"}]}}}]}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/cli_test_cosmosdb_cassandra_tablejn2vy2brnw577wdsjxwxpse4lbst7ol4blknr3xpzm/providers/Microsoft.DocumentDB/databaseAccounts/cliirstitbzhmdf/apis/cassandra/keyspaces/clisxk5dzrmzdmn/tables?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/apis/cassandra/keyspaces/cli000004/tables?api-version=2015-04-08
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/cli_test_cosmosdb_cassandra_tablejn2vy2brnw577wdsjxwxpse4lbst7ol4blknr3xpzm/providers/Microsoft.DocumentDB/databaseAccounts/cliirstitbzhmdf/apis/cassandra/keyspaces/clisxk5dzrmzdmn/tables?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
version: 1
