interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-resource/9.0.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-resource/9.0.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_cassandra_table000001?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001","name":"cli_test_cosmosdb_cassandra_table000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-06-17T21:38:59Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001","name":"cli_test_cosmosdb_cassandra_table000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-05-18T20:18:54Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 17 Jun 2020 21:39:04 GMT
=======
      - Mon, 18 May 2020 20:18:59 GMT
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "capabilities": [{"name": "EnableCassandra"}],
      "apiProperties": {}, "enableAnalyticalStorage": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2020-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
<<<<<<< HEAD
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Cassandra","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":true,"databaseAccountOfferType":"Standard","enableCassandraConnector":false,"connectorOffer":"","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[{"name":"EnableCassandra"}],"ipRules":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/f8a8c04f-78c2-461b-bf2e-286c47b4ae51?api-version=2020-04-01
      content-location:
      - https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/cli_test_cosmosdb_cassandra_tablecksbpphon2lk4jzgpuw2bzantzhkv4fn5wm4gfsia6/providers/Microsoft.DocumentDB/databaseAccounts/cli5bu33gbdokvc?api-version=2020-04-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/f8a8c04f-78c2-461b-bf2e-286c47b4ae51?api-version=2020-04-01
=======
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Cassandra","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"databaseAccountOfferType":"Standard","ipRangeFilter":"","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -n -g --capabilities --enable-analytical-storage
      User-Agent:
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/f8a8c04f-78c2-461b-bf2e-286c47b4ae51?api-version=2020-04-01
=======
      - -n -g --capabilities
      User-Agent:
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/f8a8c04f-78c2-461b-bf2e-286c47b4ae51?api-version=2020-04-01
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/f8a8c04f-78c2-461b-bf2e-286c47b4ae51?api-version=2020-04-01
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/f8a8c04f-78c2-461b-bf2e-286c47b4ae51?api-version=2020-04-01
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/f8a8c04f-78c2-461b-bf2e-286c47b4ae51?api-version=2020-04-01
      content-type:
      - application/json
=======
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/cf23608f-e0f3-4b64-a9d8-b16a2d195eb9?api-version=2020-03-01
      content-type:
      - application/json
      date:
      - Mon, 18 May 2020 20:25:38 GMT
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2020-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
<<<<<<< HEAD
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","cassandraEndpoint":"https://cli000003.cassandra.cosmos.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Cassandra","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":true,"databaseAccountOfferType":"Standard","enableCassandraConnector":false,"connectorOffer":"","consistencyPolicy":{"defaultCon[...]
[...]
- request:
    body: '{"properties": {"resource": {"id": "cli000004"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000004?api-version=2020-04-01
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/1c1766eb-9621-4258-a759-db3af01548ec?api-version=2020-04-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/bc7b8d59-48cf-48ba-8c76-1c1a5729b9cd?api-version=2020-03-01
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      cache-control:
      - no-store, no-cache
      content-length:
      - '21'
      content-location:
<<<<<<< HEAD
      - https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/cli_test_cosmosdb_cassandra_tablecksbpphon2lk4jzgpuw2bzantzhkv4fn5wm4gfsia6/providers/Microsoft.DocumentDB/databaseAccounts/cli5bu33gbdokvc/cassandraKeyspaces/cliyg5j4bxy5zmj?api-version=2020-04-01
      content-type:
      - application/json
      date:
      - Wed, 17 Jun 2020 21:57:50 GMT
      location:
      - https://managem[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000004?api-version=2020-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000004","type":"Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces","name":"cli000004","properties":{"resource":{"id":"cli000004","_rid":"eYQ3AA==","_etag":"\"0000b702-0000-0700-0000-5eea91e20000\"","_ts":1592431074}}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000004","type":"Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces","name":"cli000004","properties":{"resource":{"id":"cli000004","_rid":"hrFaAA==","_etag":"\"0000a305-0000-0700-0000-5ec2f1690000\"","_ts":1589834089}}}'
>>>>>>> de73fb57e... [Cosmos DB] az cosmos[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000004/tables/cli000002?api-version=2020-03-01
  response:
    body:
      string: '{"code":"NotFound","message":"Message: {\"code\":\"NotFound\",\"message\":\"Message:
        {\\\"Errors\\\":[\\\"Resource Not Found\\\"]}\\r\\nActivityId: 15a14429-9947-11ea-a9fb-a08cfdd714a6,
        Request URI: /apps/05e5cede-11b4-4d8a-9d2d-dd9f0eb67499/services/fac75849-5a1a-4930-95b1-04768365a69e/partitions/d23f8f4e-4708-4375-b812-b7c80126e527/replicas/132343016857977018s,
        RequestStats: \\r\\nRequestStartTime: 2020-05-18T20:35:18.2645555Z, RequestEndTime:
        2020-05-18T20:35:18.2645555Z,  Number of regions attempted:1\\r\\nResponseTime:
        2020-05-18T20:35:18.2645555Z, StoreResult: StorePhysicalAddress: rntbd://10.0.0.22:11000/apps/05e5cede-11b4-4d8a-9d2d-dd9f0eb67499/services/fac75849-5a1a-4930-95b1-04768365a69e/partitions/d23f8f4e-4708-4375-b812-b7c80126e527/replicas/132343016857977018s,
        LSN: 5, GlobalCommittedLsn: 5, PartitionKeyRangeId: , IsValid: True, StatusCode:
        404, SubStatusCode: 0, RequestCharge: 1, ItemLSN: -1, SessionToken: -1#5,
        UsingLocalLSN: False, TransportException: null, ResourceType: Collection,
        OperationType: Read\\r\\nResponseTime: 2020-05-18T20:35:18.2645555Z, StoreResult:
        StorePhysicalAddress: rntbd://10.0.0.14:11300/apps/05e5cede-11b4-4d8a-9d2d-dd9f0eb67499/services/fac75849-5a1a-4930-95b1-04768365a69e/partitions/d23f8f4e-4708-4375-b812-b7c80126e527/replicas/132342969198636197s,
        LSN: 5, GlobalCommittedLsn: 5, PartitionKeyRangeId: , IsValid: True, StatusCode:
        404, SubStatusCode: 0, RequestCharge: 1, ItemLSN: -1, SessionToken: -1#5,
        UsingLocalLSN: False, TransportException: null, ResourceType: Collection,
        OperationType: Read\\r\\n, SDK: Microsoft.Azure.Documents.Common/2.11.0\"},
        Request URI: /dbs/cli000004/colls/cli000002, RequestStats: , SDK: Microsoft.Azure.Documents.Common/2.11.0"}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_cassandra_tabletmsk3xp2jah43qec5pdhyj4hzujutqttyrcxiyiqd6/providers/Microsoft.DocumentDB/databaseAccounts/cliv5axugfqegm3/cassandraKeyspaces/cliobfw5hqpwlhx/tables/clivw6nk6xlttai?api-version=2020-03-01
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 404
      message: NotFound
- request:
    body: '{"properties": {"resource": {"id": "cli000002", "schema": {"columns": [{"name":
      "columnA", "type": "Ascii"}], "partitionKeys": [{"name": "columnA"}]}, "analyticalStorageTtl":
      3000}, "options": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to d[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000004/tables/cli000002?api-version=2020-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000004/tables/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/tables","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"eYQ3AJ0QyXs=","_etag":"\"0000b902-0000-0700-0000-5eea92050000\"","_ts":1592431109,"defaultTtl":-1,"analyticalStorageTtl":3000,"schema":{"columns":[{"name":"columnA","type":"ascii"}],"partitionKeys":[{"name":"columnA"}]}}}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000004/tables/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/tables","name":"cli000002","properties":{"resource":{"id":"cli00[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000004/tables?api-version=2020-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_table000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000004/tables/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/tables","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"eYQ3AJ0QyXs=","_etag":"\"0000bf02-0000-0700-0000-5eea92260000\"","_ts":1592431142,"defaultTtl":-1,"analyticalStorageTtl":6000,"schema":{"[...]
[...]
