interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-11-27T20:45:19Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_account000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001","name":"cli_test_cosmosdb_account000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-11-27T20:45:19Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0}], "databaseAccountOfferType":
      "Standard"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2015-04-08
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Initializing","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0}],"readLocations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0}],"failoverPolicies":[{"id":"cli000002-westus","locationName":"West
        US","failoverPriority":0}],"capabilities":[]}}'}
    headers:
      content-location: ['https://management.documents.azure.com:450/subscriptions/a96b0a28-b2fc-4595-9709-2ba61bfbd1e4/resourceGroups/cli_test_cosmosdb_account7cjqkcurulnmp3kaktw6x2ikhvo2fdqxqxh4nzozap3epcqkpk/providers/Microsoft.DocumentDB/databaseAccounts/clik6pgepc6dcukgz6frrpfqvphxvhhiofl2ajq7?api-version=2015-04-08']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/operationResults/0dd74116-f83d-47e0-a26d-cf72241999a3?api-version=2015-04-08']
      x-ms-gatewayversion: [version=2.1.0.0]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: Ok}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/operationResults/0dd74116-f83d-47e0-a26d-cf72241999a3?api-version=2015-04-08
  response:
    body: {string: '{"status":"Dequeued","error":{}}'}
    headers:
      content-location: ['https://management.documents.azure.com:450/subscriptions/a96b0a28-b2fc-4595-9709-2ba61bfbd1e4/resourceGroups/cli_test_cosmosdb_account7cjqkcurulnmp3kaktw6x2ikhvo2fdqxqxh4nzozap3epcqkpk/providers/Microsoft.DocumentDB/databaseAccounts/clik6pgepc6dcukgz6frrpfqvphxvhhiofl2ajq7/operationResults/0dd74116-f83d-47e0-a26d-cf72241999a3?api-version=2015-04-08']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/operationResults/0dd74116-f83d-47e0-a26d-cf72241999a3?api-version=2015-04-08']
      x-ms-gatewayversion: [version=2.1.0.0]
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2015-04-08
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000002.documents.azure.com:443/","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000002-westus","locationName":"West
        US","documentEndpoint":"https://cli000002-westus.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0}],"readLocations":[{"id":"cli000002-westus","locationName":"West
        US","documentEndpoint":"https://cli000002-westus.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0}],"failoverPolicies":[{"id":"cli000002-westus","locationName":"West
        US","failoverPriority":0}],"capabilities":[]}}'}
    headers:
      content-location: ['https://management.documents.azure.com:450/subscriptions/a96b0a28-b2fc-4595-9709-2ba61bfbd1e4/resourceGroups/cli_test_cosmosdb_account7cjqkcurulnmp3kaktw6x2ikhvo2fdqxqxh4nzozap3epcqkpk/providers/Microsoft.DocumentDB/databaseAccounts/clik6pgepc6dcukgz6frrpfqvphxvhhiofl2ajq7?api-version=2015-04-08']
      content-type: [application/json]
      x-ms-gatewayversion: [version=2.1.0.0]
    status: {code: 200, message: Ok}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/listKeys?api-version=2015-04-08
  response:
    body: {string: '{"primaryMasterKey":"ZpXsr1IHbv04SkCifL908iU8YL5ZTLlzzgSO5cB6g9tEhU0gzRJise6bg4xuV4sdd4Vt37QHTgOZ4gXNa1yTzw==","secondaryMasterKey":"pbShxuQuZTHn5PQqpUi4nDW51B2vshS9fsXtqA6phKDG0I0FmF7fOEUF0bwtOOVXkQzIY1tNLLSHsvebnAEDcA==","primaryReadonlyMasterKey":"2xiMfIx8fBxcC0jZvKikVFKHbUfIFYvwhS0zzmDaLSxj9jVknfZSFWsmHEQTAHu1eUdtPCteVvlNMVj58hlxKA==","secondaryReadonlyMasterKey":"oPM9YPOyJSBoWoiAVVmseUMjYJ0EnpmzFLXUI0ZqJKUW8UXqFi5K612ZKbdTQKP6nBbY7JTfYn4GZzNGZkfUDg=="}'}
    headers:
      content-type: [application/json]
      x-ms-gatewayversion: [version=2.1.0.0]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: Ok}
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level: [Session]
      x-ms-date: ['Tue, 27 Nov 2018 20:53:01 GMT']
      x-ms-documentdb-query-iscontinuationexpected: ['False']
      x-ms-session-token: ['']
      x-ms-version: ['2017-11-15']
    method: GET
    uri: https://cli000002.documents.azure.com/
  response:
    body: {string: '{"_self":"","id":"cli000002","_rid":"cli000002.documents.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000002-westus.documents.azure.com:443/"}],"readableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000002-westus.documents.azure.com:443/"}],"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"maxSqlQueryInputLength\":262144,\"maxJoinsPerSqlQuery\":5,\"maxLogicalAndPerSqlQuery\":500,\"maxLogicalOrPerSqlQuery\":500,\"maxUdfRefPerSqlQuery\":10,\"maxInExpressionItemsCount\":16000,\"queryMaxInMemorySortDocumentCount\":500,\"maxQueryRequestTimeoutFraction\":0.9,\"sqlAllowNonFiniteNumbers\":false,\"sqlAllowAggregateFunctions\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"allowNewKeywords\":true,\"sqlAllowLike\":false,\"sqlAllowOffsetLimitClause\":false,\"sqlAllowGroupByClause\":false,\"maxSpatialQueryCells\":12,\"spatialMaxGeometryPointCount\":256,\"sqlAllowTop\":true,\"enableSpatialIndexing\":true}"}'}
    headers:
      content-location: ['https://clik6pgepc6dcukgz6frrpfqvphxvhhiofl2ajq7.documents.azure.com/']
      content-type: [application/json]
      x-ms-databaseaccount-consumed-mb: ['0']
      x-ms-databaseaccount-provisioned-mb: ['0']
      x-ms-databaseaccount-reserved-mb: ['0']
      x-ms-gatewayversion: [version=2.1.0.0]
      x-ms-max-media-storage-usage-mb: ['2048']
      x-ms-media-storage-usage-mb: ['0']
    status: {code: 200, message: Ok}
- request:
    body: null
    headers:
      x-ms-consistency-level: [Session]
      x-ms-date: ['Tue, 27 Nov 2018 20:53:02 GMT']
      x-ms-documentdb-query-iscontinuationexpected: ['False']
      x-ms-version: ['2017-11-15']
    method: GET
    uri: https://cli000002-westus.documents.azure.com/dbs
  response:
    body: {string: '{"_rid":"","Databases":[],"_count":0}'}
    headers:
      content-location: ['https://clik6pgepc6dcukgz6frrpfqvphxvhhiofl2ajq7-westus.documents.azure.com/dbs']
      content-type: [application/json]
      lsn: ['3']
      x-ms-cosmos-llsn: ['3']
      x-ms-gatewayversion: [version=2.1.0.0]
      x-ms-global-committed-lsn: ['3']
      x-ms-item-count: ['0']
      x-ms-last-state-change-utc: ['Tue, 27 Nov 2018 11:31:43.941 GMT']
      x-ms-number-of-read-regions: ['0']
      x-ms-request-charge: ['2']
      x-ms-resource-quota: [databases=100;collections=5000;users=500000;permissions=2000000;]
      x-ms-resource-usage: [databases=0;collections=0;users=0;permissions=0;]
      x-ms-schemaversion: ['1.6']
      x-ms-serviceversion: [version=2.1.0.0]
      x-ms-session-token: ['0:3']
      x-ms-transport-request-id: ['272']
      x-ms-xp-role: ['2']
    status: {code: 200, message: Ok}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_account000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGQ09TTU9TREI6NUZBQ0NPVU5UN0NKUUtDVVJVTE5NUDNLQXxCMUI4Nzg1RjhENzhEMUE0LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1