interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_cassandra_keyspace000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001","name":"cli_test_cosmosdb_cassandra_keyspace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-05-18T20:18:54Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "capabilities": [{"name": "EnableCassandra"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Cassandra","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"databaseAccountOfferType":"Standard","ipRangeFilter":"","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[{"name":"EnableCassandra"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/0f3f9f20-ee58-4fdb-b198-58b8e0030374?api-version=2020-03-01
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_cassandra_keyspacewusxuooc4tp3zxx3icectuike7uexqizi7h4uwh/providers/Microsoft.DocumentDB/databaseAccounts/clix2wmbjiaffwc?api-version=2020-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/0f3f9f20-ee58-4fdb-b198-58b8e0030374?api-version=2020-03-01
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/0f3f9f20-ee58-4fdb-b198-58b8e0030374?api-version=2020-03-01
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/0f3f9f20-ee58-4fdb-b198-58b8e0030374?api-version=2020-03-01
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","cassandraEndpoint":"https://cli000003.cassandra.cosmos.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Cassandra","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"databaseAccountOfferType":"Standard","ipRangeFilter":"","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxInte[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002?api-version=2020-03-01
  response:
    body:
      string: '{"code":"NotFound","message":"Message: {\"code\":\"NotFound\",\"message\":\"Message:
        {\\\"Errors\\\":[\\\"Resource Not Found\\\"]}\\r\\nActivityId: cc07425c-9946-11ea-b641-a08cfdd714a6,
        Request URI: /apps/05e5cede-11b4-4d8a-9d2d-dd9f0eb67499/services/2fb973d4-cda8-48d2-9fbd-36d95b148053/partitions/963d15a7-e7fe-4a90-a07d-594bb981f4f6/replicas/132343016857977018s,
        RequestStats: \\r\\nRequestStartTime: 2020-05-18T20:33:15.0078823Z, RequestEndTime:
        2020-05-18T20:33:15.0178565Z,  Number of regions attempted:1\\r\\nResponseTime:
        2020-05-18T20:33:15.0178565Z, StoreResult: StorePhysicalAddress: rntbd://10.0.0.14:11300/apps/05e5cede-11b4-4d8a-9d2d-dd9f0eb67499/services/2fb973d4-cda8-48d2-9fbd-36d95b148053/partitions/963d15a7-e7fe-4a90-a07d-594bb981f4f6/replicas/132343016857977018s,
        LSN: 4, GlobalCommittedLsn: 4, PartitionKeyRangeId: , IsValid: True, StatusCode:
        404, SubStatusCode: 0, RequestCharge: 1, ItemLSN: -1, SessionToken: -1#4,
        UsingLocalLSN: False, TransportException: null, ResourceType: Database, OperationType:
        Read\\r\\nResponseTime: 2020-05-18T20:33:15.0178565Z, StoreResult: StorePhysicalAddress:
        rntbd://10.0.0.21:11000/apps/05e5cede-11b4-4d8a-9d2d-dd9f0eb67499/services/2fb973d4-cda8-48d2-9fbd-36d95b148053/partitions/963d15a7-e7fe-4a90-a07d-594bb981f4f6/replicas/132343016857977019s,
        LSN: 4, GlobalCommittedLsn: 4, PartitionKeyRangeId: , IsValid: True, StatusCode:
        404, SubStatusCode: 0, RequestCharge: 1, ItemLSN: -1, SessionToken: -1#4,
        UsingLocalLSN: False, TransportException: null, ResourceType: Database, OperationType:
        Read\\r\\n, SDK: Microsoft.Azure.Documents.Common/2.11.0\"}, Request URI:
        /dbs/cli000002, RequestStats: , SDK: Microsoft.Azure.Documents.Common/2.11.0"}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_cassandra_keyspacewusxuooc4tp3zxx3icectuike7uexqizi7h4uwh/providers/Microsoft.DocumentDB/databaseAccounts/clix2wmbjiaffwc/cassandraKeyspaces/cliwk6ved44kxp5?api-version=2020-03-01
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 404
      message: NotFound
- request:
    body: '{"properties": {"resource": {"id": "cli000002"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002?api-version=2020-03-01
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscript[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"7SMJAA==","_etag":"\"00008103-0000-0700-0000-5ec2f10f0000\"","_ts":1589833999}}}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_cassandra_keyspacewusxuooc4tp3zxx3icectuike7uexqizi7h4uwh/providers/Microsoft.DocumentDB/databaseAccounts/clix2wmbjiaffwc/cassandraKeyspaces/cliwk6ved44kxp5?api-version=2020-03-01
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"7SMJAA==","_etag":"\"00008103-0000-0700-0000-5ec2f10f0000\"","_ts":1589833999}}}]}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_cassandra_keyspacewusxuooc4tp3zxx3icectuike7uexqizi7h4uwh/providers/Microsoft.DocumentDB/databaseAccounts/clix2wmbjiaffwc/cassandraKeyspaces?api-version=2020-03-01
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces?api-version=2020-03-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_cassandra_keyspacewusxuooc4tp3zxx3icectuike7uexqizi7h4uwh/providers/Microsoft.DocumentDB/databaseAccounts/clix2wmbjiaffwc/cassandraKeyspaces?api-version=2020-03-01
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
version: 1
