interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_account000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001","name":"cli_test_cosmosdb_account000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-10-22T21:00:29Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "apiProperties": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2021-10-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2021-10-22T21:00:34.1837197Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"7467ea05-23ff-4683-a66d-2fbd431833e4","databaseAccountOfferType":"Standard","defaultIdentity":"","networkAclBypass":"None","disableLocalAuth":false,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000002-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Invalid"}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/31496f33-f98e-4148-bccf-f3e7004b7862?api-version=2021-10-15
      content-type:
      - application/json
      location:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/operationResults/31496f33-f98e-4148-bccf-f3e7004b7862?api-version=2021-10-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1166'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/31496f33-f98e-4148-bccf-f3e7004b7862?api-version=2021-10-15
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2021-10-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2021-10-22T21:01:57.5944473Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000002.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"7467ea05-23ff-4683-a66d-2fbd431833e4","databaseAccountOffer[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/listKeys?api-version=2021-10-15
  response:
    body:
      string: '{"primaryMasterKey":"UvLfQOifqCXtqtTZGTsHkWotYzDzKU7cVQSZfSftZgUgcpbiA4ySZtAZru1oz7i3dPdtmItGF4kYUhcMXD7BAw==","secondaryMasterKey":"U7SM1YIc6X5uwqVVgTzXoQ7U8nvhR5CVs2ddQ2HJdNl6fQhlcHYQPfVUxV6csS4XND3Ntn2TKF7e7xvkEYbqSw==","primaryReadonlyMasterKey":"hRb5WbMnaJ9QIPFu7PTkkam1qROXAT3PZP5FgnCGiqXmzTFzGijx178aS34mY2QGy8FG4RR08Y8dpNx9FJKlZg==","secondaryReadonlyMasterKey":"rBCU2Qd52i57lRxXUvNvyGQcydidHvBJhACb5hQgNtNY0H7c6OUOG87PcmTgRRhQTd4no48q1dt2x3v5TaT3IA=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: Ok
- request:
    body: '{"keyKind": "primary"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/regenerateKey?api-version=2021-10-15
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/cee591ee-9ca3-4a5f-a137-da9ec53f8be7?api-version=2021-10-15
      content-type:
      - application/json
      location:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/regenerateKey/operationResults/cee591ee-9ca3-4a5f-a137-da9ec53f8be7?api-version=2021-10-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/regenerateKey/operationResults/cee591ee-9ca3-4a5f-a137-da9ec53f8be7?api-version=2021-10-15
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/readonlykeys?api-version=2021-10-15
  response:
    body:
      string: '{"primaryReadonlyMasterKey":"6QyT7WavXJwU16iRU8XZMhLSrTnQU3XDlRbxCqHq10LDOB12gmT93BeuNCJUxrGmvWdk545267QcK8Wes5lWbg==","secondaryReadonlyMasterKey":"xUr3D1Mzxy7rn3xDQ6JNUvJB8EUSMHj6nNAorO5beEHteW6sS54hpUyxnlYI4sbPVWEdkzHkLyHlEA3brnyybQ=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/listKeys?api-version=2021-10-15
  response:
    body:
      string: '{"primaryMasterKey":"MYomM3i06qoZrnWbS7WB7Dpk7aElH9fTnwE7vNM8Xv8icRYQwFgyWUexszYDE7Wsf3UGkQxd1gKb4RZ2uN4vHA==","secondaryMasterKey":"nI3QPNI78VrV1EeETmb8kEu0AjqkG2VXQCNIec41TetykQOFIyfYLnYOGfEojyP50IDoaRyQ1oFq8uVVB1n0uw==","primaryReadonlyMasterKey":"6QyT7WavXJwU16iRU8XZMhLSrTnQU3XDlRbxCqHq10LDOB12gmT93BeuNCJUxrGmvWdk545267QcK8Wes5lWbg==","secondaryReadonlyMasterKey":"xUr3D1Mzxy7rn3xDQ6JNUvJB8EUSMHj6nNAorO5beEHteW6sS54hpUyxnlYI4sbPVWEdkzHkLyHlEA3brnyybQ=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: Ok
version: 1
