interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_cassandra_keyspace000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001","name":"cli_test_cosmosdb_cassandra_keyspace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-06-28T13:02:46Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "capabilities": [{"name": "EnableCassandra"}],
      "apiProperties": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2022-02-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2022-06-28T13:03:03.3368251Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Cassandra","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"52f8d06a-5eb6-4809-a24d-55d39dda8feb","databaseAccountOfferType":"Standard","enableCassandraConnector":false,"connectorOffer":"","enableMaterializedViews":false,"defaultIdentity":"","networkAclBypass":"None","disableLocalAuth":false,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[{"name":"EnableCassandra"}],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Invalid"}},"networkAclBypassResourceIds":[],"diagnosticLogSettings":{"enableFullTextQuery":"None"}},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/bc47deee-93be-43eb-89ff-43732cbebbde?api-version=2022-02-15-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/bc47deee-93be-43eb-89ff-43732cbebbde?api-version=2022-02-15-preview
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/bc47deee-93be-43eb-89ff-43732cbebbde?api-version=2022-02-15-preview
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2022-02-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2022-06-28T13:05:51.3342313Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","cassandraEndpoint":"https://cli000003.cassandra.cosmos.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Cassandra","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"52f8d06a-5eb6-4809-a24d-55d39dda8feb","databas[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002?api-version=2022-02-15-preview
  response:
    body:
      string: '{"code":"NotFound","message":"Message: {\"code\":\"NotFound\",\"message\":\"Message:
        {\\\"Errors\\\":[\\\"Resource Not Found. Learn more: https:\\\\/\\\\/aka.ms\\\\/cosmosdb-tsg-not-found\\\"]}\\r\\nActivityId:
        16713aeb-f6e3-11ec-a8f5-84a93e8d2c6d, Request URI: /apps/76299d82-b577-4993-b4c8-518c0f67c793/services/5e77cb56-6d26-4e4b-8da6-4dee01ae2751/partitions/c00365f5-238e-4324-a45b-f7e5bde54928/replicas/133002381069684304s,
        RequestStats: \\r\\nRequestStartTime: 2022-06-28T13:06:14.5080810Z, RequestEndTime:
        2022-06-28T13:06:14.5080810Z,  Number of regions attempted:1\\r\\n{\\\"systemHistory\\\":[{\\\"dateUtc\\\":\\\"2022-06-28T13:05:18.1584973Z\\\",\\\"cpu\\\":7.944,\\\"memory\\\":391419852.000,\\\"threadInfo\\\":{\\\"isThreadStarving\\\":\\\"False\\\",\\\"threadWaitIntervalInMs\\\":0.0155,\\\"availableThreads\\\":32763,\\\"minThreads\\\":40,\\\"maxThreads\\\":32767}},{\\\"dateUtc\\\":\\\"2022-06-28T13:05:28.1683800Z\\\",\\\"cpu\\\":5.382,\\\"memory\\\":391161804.000,\\\"threadInfo\\\":{\\\"isThreadStarving\\\":\\\"False\\\",\\\"threadWaitIntervalInMs\\\":0.0196,\\\"availableThreads\\\":32764,\\\"minThreads\\\":40,\\\"maxThreads\\\":32767}},{\\\"dateUtc\\\":\\\"2022-06-28T13:05:38.1782943Z\\\",\\\"cpu\\\":5.370,\\\"memory\\\":390691508.000,\\\"threadInfo\\\":{\\\"isThreadStarving\\\":\\\"False\\\",\\\"threadWaitIntervalInMs\\\":0.0193,\\\"availableThreads\\\":32761,\\\"minThreads\\\":40,\\\"maxThreads\\\":32767}},{\\\"dateUtc\\\":\\\"2022-06-28T13:05:48.6782271Z\\\",\\\"cpu\\\":6.010,\\\"memory\\\":392211596.000,\\\"threadInfo\\\":{\\\"isThreadStarving\\\":\\\"False\\\",\\\"threadWaitIntervalInMs\\\":0.0196,\\\"availableThreads\\\":32760,\\\"minThreads\\\":40,\\\"maxThreads\\\":32767}},{\\\"dateUtc\\\":\\\"2022-06-28T13:05:58.6881463Z\\\",\\\"cpu\\\":1.680,\\\"memory\\\":391932016.000,\\\"threadInfo\\\":{\\\"isThreadStarving\\\":\\\"False\\\",\\\"threadWaitIntervalInMs\\\":0.0174,\\\"availableThreads\\\":32763,\\\"minThreads\\\":40,\\\"maxThreads\\\":32767}},{\\\"dateUtc\\\":\\\"2022-06-28T13:06:08.6981098Z\\\",\\\"cpu\\\":1.828,\\\"memory\\\":391398132.000,\\\"threadInfo\\\":{\\\"isThreadStarving\\\":\\\"False\\\",\\\"threadWaitIntervalInMs\\\":0.009,\\\"availableThreads\\\":32763,\\\"minThreads\\\":40,\\\"maxThreads\\\":32767}}]}\\r\\nRequestStart:
        2022-06-28T13:06:14.5080810Z; ResponseTime: 2022-06-28T13:06:14.5080810Z;
        StoreResult: StorePhysicalAddress: rntbd://10.0.0.24:11000/apps/76299d82-b577-4993-b4c8-518c0f67c793/services/5e77cb56-6d26-4e4b-8da6-4dee01ae2751/partitions/c00365f5-238e-4324-a45b-f7e5bde54928/replicas/133002381069684304s,
        LSN: 7, GlobalCommittedLsn: 7, PartitionKeyRangeId: , IsValid: True, StatusCode:
        404, SubStatusCode: 0, RequestCharge: 1, ItemLSN: -1, SessionToken: -1#7,
        UsingLocalLSN: False, TransportException: null, BELatencyMs: 1.251, ActivityId:
        16713aeb-f6e3-11ec-a8f5-84a93e8d2c6d, RetryAfterInMs: , TransportRequestTimeline:
        {\\\"requestTimeline\\\":[{\\\"event\\\": \\\"Created\\\", \\\"startTimeUtc\\\":
        \\\"2022-06-28T13:06:14.5080810Z\\\", \\\"durationInMs\\\": 0.0615},{\\\"event\\\":
        \\\"ChannelAcquisitionStarted\\\", \\\"startTimeUtc\\\": \\\"2022-06-28T13:06:14.5081425Z\\\",
        \\\"durationInMs\\\": 0.0283},{\\\"event\\\": \\\"Pipelined\\\", \\\"startTimeUtc\\\":
        \\\"2022-06-28T13:06:14.5081708Z\\\", \\\"durationInMs\\\": 0.3133},{\\\"event\\\":
        \\\"Transit Time\\\", \\\"startTimeUtc\\\": \\\"2022-06-28T13:06:14.5084841Z\\\",
        \\\"durationInMs\\\": 1.7963},{\\\"event\\\": \\\"Received\\\", \\\"startTimeUtc\\\":
        \\\"2022-06-28T13:06:14.5102804Z\\\", \\\"durationInMs\\\": 0.1388},{\\\"event\\\":
        \\\"Completed\\\", \\\"startTimeUtc\\\": \\\"2022-06-28T13:06:14.5104192Z\\\",
        \\\"durationInMs\\\": 0}],\\\"serviceEndpointStats\\\":{\\\"inflightRequests\\\":1,\\\"openConnections\\\":3},\\\"connectionStats\\\":{\\\"waitforConnectionInit\\\":\\\"False\\\",\\\"callsPendingReceive\\\":0,\\\"lastSendAttempt\\\":\\\"2022-06-28T13:06:13.8580972Z\\\",\\\"lastSend\\\":\\\"2022-06-28T13:06:13.8580972Z\\\",\\\"lastReceive\\\":\\\"2022-06-28T13:06:13.8580972Z\\\"},\\\"requestSizeInBytes\\\":470,\\\"responseMetadataSizeInBytes\\\":134,\\\"responseBodySizeInBytes\\\":87};\\r\\n
        ResourceType: Database, OperationType: Read\\r\\nRequestStart: 2022-06-28T13:06:14.5080810Z;
        ResponseTime: 2022-06-28T13:06:14.5080810Z; StoreResult: StorePhysicalAddress:
        rntbd://10.0.0.21:11300/apps/76299d82-b577-4993-b4c8-518c0f67c793/services/5e77cb56-6d26-4e4b-8da6-4dee01ae2751/partitions/c00365f5-238e-4324-a45b-f7e5bde54928/replicas/133002381069684302s,
        LSN: 7, GlobalCommittedLsn: 7, PartitionKeyRangeId: , IsValid: True, StatusCode:
        404, SubStatusCode: 0, RequestCharge: 1, ItemLSN: -1, SessionToken: -1#7,
        UsingLocalLSN: False, TransportException: null, BELatencyMs: 1.118, ActivityId:
        16713aeb-f6e3-11ec-a8f5-84a93e8d2c6d, RetryAfterI[...]
- request:
    body: '{"properties": {"resource": {"id": "cli000002"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002?api-version=2022-02-15-preview
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/2bf2ed78-6f95-4b58-8fc4-a8c27e193a16?api-version=2022-02-15-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002/operationResults/2bf2ed78-6f95-4b58-8fc4-a8c27e193a16?api-version=2022-02-15-preview
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002?api-version=2022-02-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"v3VaAA==","_etag":"\"0000c104-0000-0700-0000-62bafccc0000\"","_ts":1656421580}}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces?api-version=2022-02-15-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"v3VaAA==","_etag":"\"0000c104-0000-0700-0000-62bafccc0000\"","_ts":1656421580}}}]}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_cassandra_keyspace000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/cassandraKeyspaces?api-version=2022-02-15-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
version: 1
