interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_sql_stored_procedure000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001","name":"cli_test_cosmosdb_sql_stored_procedure000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-03-03T15:32:39Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005?api-version=2019-12-12
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005","name":"cli000005","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Initializing","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000005-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000005-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000005-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000005-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/020c3ef1-f9c9-478d-9e17-182cd0f59fc7?api-version=2019-12-12
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_sql_stored_procedurepyknra3dpqa7rod6zsolalnv3xdz5umyiupic/providers/Microsoft.DocumentDB/databaseAccounts/cliakgffuob2hwl?api-version=2019-12-12
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/operationResults/020c3ef1-f9c9-478d-9e17-182cd0f59fc7?api-version=2019-12-12
      x-ms-gatewayversion:
      - version=2.9.2
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/020c3ef1-f9c9-478d-9e17-182cd0f59fc7?api-version=2019-12-12
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/020c3ef1-f9c9-478d-9e17-182cd0f59fc7?api-version=2019-12-12
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.9.2
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005?api-version=2019-12-12
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005","name":"cli000005","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000005.documents.azure.com:443/","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli0[...]
[...]
- request:
    body: '{"properties": {"resource": {"id": "cli000002"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/sqlDatabases/cli000002?api-version=2019-12-12
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/sqlDatabases/cli000002?api-version=2019-12-12
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/sqlDatabases/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"CEsfAA==","_self":"dbs/CEsfAA==/","_etag":"\"00007e0f-0000-0700-0000-5e5e7aa90000\"","_colls":"colls/","_users":"users/","_ts":1583250089}}}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_sql_stored_procedurepyknra3dpqa7rod6zsolalnv3xdz5umyiupic/providers/Microsoft.DocumentDB/databaseAccounts/cliakgffuob2hwl/sqlDatabases/clinylkmet5ymqt?api-version=2019-12-12
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.9.2
    status:
      code: 200
      message: Ok
- request:
    body: '{"properties": {"resource": {"id": "cli000003", "indexingPolicy": {"automatic":
      true, "indexingMode": "consistent", "includedPaths": [{"path": "/*"}], "excludedPaths":
      [{"path": "/\"_etag\"/?"}]}, "partitionKey": {"paths": ["/thePartitionKey"],
      "kind": "Hash"}}, "options": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/sqlDatabases/cli000002/containers/cli000003?api-version=2019-12-12
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/sqlDatabases/cli000002/containers/cli000003?api-version=2019-12-12
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/sqlDatabases/cli000002/containers/cli000003","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers","name":"cli000003","properties":{"resource":{"id":"cli000003","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]},"partitionKey":{"paths":["/thePartitionKey"],"kind":"Hash"},"uniqueKeyPolicy":{"uniqueKeys":[]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"CEsfAPkQPMg=","_ts":1583250122,"_self":"dbs/CEsfAA==/colls/CEsfAPkQPMg=/","_etag":"\"0000820f-0000-0700-0000-5e5e7aca0000\"","_docs":"docs/","_sprocs":"sprocs/","_triggers":"triggers/","_udfs":"udfs/","_conflicts":"conflicts/","statistics":[{"id":"0","sizeInKB":0,"documentCount":0,"partitionKeys":[]}]}}}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_sql_stored_procedurepyknra3dpqa7rod6zsolalnv3xdz5umyiupic/providers/Microsoft.DocumentDB/databaseAccounts/cliakgffuob2hwl/sqlDatabases/clinylkmet5ymqt/containers/clisinyfldtyr3h?api-version=2019-12-12
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.9.2
    status:
      code: 200
      message: Ok
- request:
    body: '{"properties": {"resource": {"id": "cli000004", "body": "sampleBody"},
      "options": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/sqlDatabases/cli000002/containers/cli000003/storedProcedures/cli000004?api-version=2019-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/sqlDatabases/cli000002/containers/cli000003/storedProcedures?api-version=2019-12-12
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/sqlDatabases/cli000002/containers/cli000003/storedProcedures/cli000004","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/storedProcedures","name":"cli000004","properties":{"resource":{"id":"cli000004","body":"sampleBody2","_rid":"CEsfAPkQPMgBAAAAAAAAgA==","_self":"dbs/CEsfAA==/colls/CEsfAPkQPMg=/sprocs/CEsfAPkQPMgBAAAAAAAAgA==/","_etag":"\"0600b868-0000-0700-0000-5e5e7b0b0000\"","_ts":1583250187}}}]}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_sql_stored_procedurepyknra3dpqa7rod6zsolalnv3xdz5umyiupic/providers/Microsoft.DocumentDB/databaseAccounts/cliakgffuob2hwl/sqlDatabases/clinylkmet5ymqt/containers/clisinyfldtyr3h/storedProcedures?api-version=2019-12-12
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.9.2
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_stored_procedure000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000005/sqlDatabases/cli000002/containers/cli000003/storedProcedures?api-version=2019-12-12
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_sql_stored_procedurepyknra3dpqa7rod6zsolalnv3xdz5umyiupic/providers/Microsoft.DocumentDB/databaseAccounts/cliakgffuob2hwl/sqlDatabases/clinylkmet5ymqt/containers/clisinyfldtyr3h/storedProcedures?api-version=2019-12-12
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.9.2
    status:
      code: 200
      message: Ok
version: 1
