interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001","name":"cli_test_cosmosdb_system_identity_restore000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_cosmosdb_system_identity_restore","date":"2023-11-07T03:59:12Z","module":"cosmosdb"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005?api-version=2023-01-31
  response:
    body:
      string: '{"location":"eastus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005","name":"user1-000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"df40bb3b-2535-4bd4-a0d8-982b5c899607","clientId":"0a58bb9b-6d63-4578-92fa-2a9550f914c9"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.KeyVault/vaults/clikeyvault-000007?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/clikeyvault-000007''
        under resource group ''cli_test_cosmosdb_system_identity_restore000001'' was
        not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Yishi
        Wang","givenName":null,"jobTitle":null,"mail":"yishiwang@microsoft.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"yishiwang_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","id":"3707fb2f-ac10-4591-a04f-8b0d786ea37d"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCF"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "3707fb2f-ac10-4591-a04f-8b0d786ea37d",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      90, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.KeyVault/vaults/clikeyvault-000007?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.KeyVault/vaults/clikeyvault-000007","name":"clikeyvault-000007","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"systemData":{"createdBy":"yishiwang@microsoft.com","createdByType":"User","createdAt":"2023-11-07T03:59:28.963Z","lastModifiedBy":"yishiwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-07T03:59:28.963Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"3707fb2f-ac10-4591-a04f-8b0d786ea37d","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://clikeyvault-000007.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "3707fb2f-ac10-4591-a04f-8b0d786ea37d",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "vaultUri": "https://clikeyvault-000007.vault.azure.net/",
      "enabledForDeployment": false, "enableSoftDelete": true, "softDeleteRetentionInDays":
      90, "enablePurgeProtection": true, "provisioningState": "Succeeded", "publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.KeyVault/vaults/clikeyvault-000007?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clikeyvault-000007.vault.azure.net/keys/clikey-000008/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 3072, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clikeyvault-000007.vault.azure.net/keys/clikey-000008/create?api-version=7.5-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://clikeyvault-000007.vault.azure.net/keys/clikey-000008/b7d82f599696477fa2b8a4258e1ad584","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"uUtfMV_G7WGDnyxDIx9G2OT8sSQaOSCvy7HhkY0AdtzTIai658DESQIBBcghh-T_QZcjH5QpLrHnrVqH-10BwrDLa8r27Jv1MhGMQwIKnMu9yu304NC3tyVyOliG2vQpUGUZJ4cJHSZFLvBAxUHlSZuATkV2CpCvSb1KncZr8etA6f_TPxUqflIsjxKxjsR1xu_Xha-oxHEM2qlCys_XPntLkNKHpMcIxdQMHPlg3A3BZDeUmGLtA6rrBLe2fa0nwdaCc0cQy8aWCqah4W3MqOzybutrkUp3Fb38_J_tA_y0S1h5Wg9pMnYKjON4rVP9WnWMZXu6ehw7W2w7d6FjVdbyU_lELfFQC8dmJ6C_AaeTzrbYY5NKm1ZUnd9Ix0Qx0wXwyIGWTL0Cprkg37kJ_SFdSqDdN-Mt2MjT2osfLnamqg1FnGS0B5wcz9aSIgvnaIPDVCE9Yp4rEsNWd3Udh71G_LeyeaOu2ZBml_UUe0d8A5UDqc5ZOUWi9nsErexR","e":"AQAB"},"attributes":{"enabled":true,"created":1699329609,"updated":1699329609,"recoveryLevel":"Recoverable","recoverableDays":90,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "kind": "GlobalDocumentDB", "identity": {"type":
      "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005":
      {}}}, "properties": {"locations": [{"locationName": "eastus2", "failoverPriority":
      0, "isZoneRedundant": false}], "databaseAccountOfferType": "Standard", "keyVaultKeyUri":
      "https://clikeyvault-000007.vault.azure.net/keys/clikey-000008", "defaultIdentity":
      "UserAssignedIdentity=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005",
      "apiProperties": {}, "createMode": "Default", "backupPolicy": {"type": "Continuous",
      "continuousModeProperties": {"tier": "Continuous30Days"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002?api-version=2023-09-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002","name":"cli-systemid-000002","location":"East
        US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2023-11-07T04:00:22.7481349Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"1d8c9067-7c5f-4eeb-9add-1f3f69c37bf6","createMode":"Default","databaseAccountOfferType":"Standard","keyVaultKeyUri":"https://clikeyvault-000007.vault.azure.net/keys/clikey-000008","defaultIdentity":"UserAssignedIdentity=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005","networkAclBypass":"None","disableLocalAuth":false,"enablePartitionMerge":false,"enableBurstCapacity":false,"minimalTlsVersion":"Tls12","customerManagedKeyStatus":"Access
        to the configured customer managed key confirmed. ","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli-systemid-000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli-systemid-000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli-systemid-000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli-systemid-000002-eastus2","locationName":"East
        US 2","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Continuous","continuousModeProperties":{"tier":"Continuous30Days"}},"networkAclBypassResourceIds":[],"keysMetadata":{"primaryMasterKey":{"generationTime":"2023-11-07T04:00:22.7481349Z"},"secondaryMasterKey":{"generationTime":"2023-11-07T04:00:22.7481349Z"},"primaryReadonlyMasterKey":{"generationTime":"2023-11-07T04:00:22.7481349Z"},"secondaryReadonlyMasterKey":{"generationTime":"2023-11-07T04:00:22.7481349Z"}}},"identity":{"type":"UserAssigned","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005":{}}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/cc535983-1482-4ab1-9d0b-2b0d6a931fd5?api-version=2023-09-15&t=638349264244221579&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50L[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/cc535983-1482-4ab1-9d0b-2b0d6a931fd5?api-version=2023-09-15&t=638349264244221579&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002?api-version=2023-09-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002","name":"cli-systemid-000002","location":"East
        US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2023-11-07T04:02:37.2287103Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli-systemid-000002.documents.azure.com:443/","sqlEndpoint":"https://cli-systemid-000002.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"1d8c9067-7c5f-4eeb-9add-1f3f69c37bf6","createMode[...]
[...]
- request:
    body: '{"properties": {"resource": {"id": "cli000004"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004?api-version=2023-09-15
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/6167fb06-a8fb-4882-bc6d-d60e3576beec?api-version=2023-09-15&t=638349266123880196&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004?api-version=2023-09-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","name":"cli000004","properties":{"resource":{"id":"cli000004","_rid":"Q2EvAA==","_self":"dbs/Q2EvAA==/","_etag":"\"0800a20a-0000-0200-0000-6549b7190000\"","_colls":"colls/","_users":"users/","_ts":1699329817}}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: '{"properties": {"resource": {"id": "cli000003", "indexingPolicy": {"automatic":
      true, "indexingMode": "consistent", "includedPaths": [{"path": "/*"}], "excludedPaths":
      [{"path": "/\"_etag\"/?"}]}, "partitionKey": {"paths": ["/pk"], "kind": "Hash"}},
      "options": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004/containers/cli000003?api-version=2023-09-15
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/68e99cd4-47d3-4178-b649-0d0fbf9d067c?api-version=2023-09-15&t=638349266463317129&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004/containers/cli000003?api-version=2023-09-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004/containers/cli000003","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers","name":"cli000003","properties":{"resource":{"id":"cli000003","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]},"partitionKey":{"paths":["/pk"],"kind":"Hash"},"uniqueKeyPolicy":{"uniqueKeys":[]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"/_ts","conflictResolutionProcedure":""},"backupPolicy":{"type":1},"geospatialConfig":{"type":"Geography"},"_rid":"Q2EvAPyOL-8=","_ts":1699329852,"_self":"dbs/Q2EvAA==/colls/Q2EvAPyOL-8=/","_etag":"\"0800a60a-0000-0200-0000-6549b73c0000\"","_docs":"docs/","_sprocs":"sprocs/","_triggers":"triggers/","_udfs":"udfs/","_conflicts":"conflicts/","computedProperties":[],"statistics":[{"id":"0","sizeInKB":0,"documentCount":0,"sampledDistinctPartitionKeyCount":0,"partitionKeys":[]}]}}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/02612d56-f167-4eaf-8aeb-80ea2fd9435f?api-version=2023-09-15&t=638349266833709940&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/68884ab9-ae8b-44a3-90cc-b3c5744def8e?api-version=2023-09-15&t=638349267564272626&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/1d8c9067-7c5f-4eeb-9add-1f3f69c37bf6?api-version=2023-09-15
  response:
    body:
      string: '{"name":"1d8c9067-7c5f-4eeb-9add-1f3f69c37bf6","location":"East US
        2","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/1d8c9067-7c5f-4eeb-9add-1f3f69c37bf6","properties":{"accountName":"cli-systemid-000002","apiType":"Sql","creationTime":"2023-11-07T04:02:38+00:00","oldestRestorableTime":"2023-11-07T04:02:38+00:00","restorableLocations":[{"locationName":"East
        US 2","regionalDatabaseAccountInstanceId":"bc43f40c-03e7-4ca2-a1f9-24ca83e8852c","creationTime":"2023-11-07T04:02:39Z"}]}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/restorableDatabaseAccounts?api-version=2023-09-15
  response:
    body:
      string: '{"value":[{"name":"1d8c9067-7c5f-4eeb-9add-1f3f69c37bf6","location":"East
        US 2","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/1d8c9067-7c5f-4eeb-9add-1f3f69c37bf6","properties":{"accountName":"cli-systemid-000002","apiType":"Sql","creationTime":"2023-11-07T04:02:38+00:00","oldestRestorableTime":"2023-11-07T04:02:38+00:00","restorableLocations":[{"locationName":"East
        US 2","regionalDatabaseAccountInstanceId":"bc43f40c-03e7-4ca2-a1f9-24ca83e8852c","creationTime":"2023-11-07T04:02:39Z"}]}},{"name":"af647fa2-8f8d-4b50-9fcc-2f3473fe7c20","location":"East
        US 2","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/af647fa2-8f8d-4b50-9fcc-2f3473fe7c20","properties":{"accountName":"cli-continuous7-pokz5l5k4","apiType":"Sql","creationTime":"2023-10-07T03:15:45+00:00","deletionTime":"2023-10-07T03:17:45Z","oldestRestorableTime":"2023-10-08T04:11:05Z","restorableLocations":[{"locationName":"East
        US 2","regionalDatabaseAccountInstanceId":"304dfb35-97b4-4954-a10e-c2e97e008b1e","creationTime":"2023-10-07T03:15:46Z","deletionTime":"2023-10-07T03:17:45Z"}]}},{"name":"0236cba7-5321-49cd-ae18-85d15ec1a7ed","location":"East
        US 2","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Micr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/1d8c9067-7c5f-4eeb-9add-1f3f69c37bf6/restorableSqlResources?api-version=2023-09-15&restoreLocation=eastus2&restoreTimestampInUtc=2023-11-07%2004%3A06%3A38%2B00%3A00
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/1d8c9067-7c5f-4eeb-9add-1f3f69c37bf6/restorableSqlResources/cli000004","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts/restorableSqlResources","name":"cli000004","databaseName":"cli000004","collectionNames":["cli000003"]}]}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: '{"location": "East US 2", "kind": "GlobalDocumentDB", "identity": {"type":
      "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user2-000006":
      {}}}, "properties": {"locations": [{"locationName": "eastus2", "failoverPriority":
      0}], "databaseAccountOfferType": "Standard", "defaultIdentity": "UserAssignedIdentity=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user2-000006",
      "apiProperties": {}, "createMode": "Restore", "restoreParameters": {"restoreMode":
      "PointInTime", "restoreSource": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/1d8c9067-7c5f-4eeb-9add-1f3f69c37bf6",
      "restoreTimestampInUtc": "2023-11-07T04:06:38.000Z"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002-restored?api-version=2023-09-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/26a0d723-5396-45f5-aaee-a26b49f52bd3?api-version=2023-09-15&t=638349270833435807&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4[...]
[...]
