interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_account000001?api-version=2020-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001","name":"cli_test_cosmosdb_account000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-02-23T00:47:24Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001","name":"cli_test_cosmosdb_account000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-02-22T22:14:48Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> 1891beb5c2c42224a0d97f9667f69f132c44b0ee
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Tue, 23 Feb 2021 00:45:34 GMT
=======
      - Mon, 22 Feb 2021 22:14:50 GMT
>>>>>>> 1891beb5c2c42224a0d97f9667f69f132c44b0ee
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "MongoDB", "properties": {"locations": [{"locationName":
      "westus", "failoverPriority": 0, "isZoneRedundant": false}], "databaseAccountOfferType":
      "Standard", "ipRules": [{"ipAddressOrRange": "20.10.10.10"}, {"ipAddressOrRange":
      "12.12.122.122"}, {"ipAddressOrRange": "12.22.11.11"}], "enableFreeTier": false,
      "apiProperties": {"serverVersion": "3.2"}, "enableAnalyticalStorage": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2021-01-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
<<<<<<< HEAD
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","tags":{},"systemData":{"createdAt":"2021-02-23T00:45:39.5310309Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"MongoDB","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":true,"instanceId":"b6ebdad5-fbf8-4e90-9a1e-7505fd89035d","createMode":"Default","databaseAccountOfferType":"Standard","enableCassandraConnector":false,"connectorOffer":"","networkAclBypass":0,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"apiProperties":{"serverVersion":"3.2"},"configurationOverrides":{},"writeLocations":[{"id":"cli000002-westus","locationName":"West
=======
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","tags":{},"systemData":{"createdAt":"2021-02-22T22:14:53.405786Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"MongoDB","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":true,"instanceId":"aa395fbc-9552-4f44-95dd-01b5cb9621a8","createMode":"Default","databaseAccountOfferType":"Standard","networkAclBypass":0,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"apiProperties":{"serverVersion":"3.2"},"configurationOverrides":{},"writeLocations":[{"id":"cli000002-westus","locationName":"West
>>>>>>> 1891beb5c2c42224a0d97f9667f69f132c44b0ee
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000002-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000002-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[{"ipAddressOrRange":"20.10.10.10"},{"ipAddressOrRange":"12.12.122.122"},{"ipAddressOrRange":"12.22.11.11"}],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":1}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/2394266d-5d90-404c-8efe-f7758eb8e91b?api-version=2021-01-15
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/139352a8-d54a-43d6-99aa-253360265da5?api-version=2021-01-15
>>>>>>> 1891beb5c2c42224a0d97f9667f69f132c44b0ee
      cache-control:
      - no-store, no-cache
      content-length:
      - '2132'
      content-type:
      - application/json
      date:
<<<<<<< HEAD
      - Tue, 23 Feb 2021 00:45:40 GMT
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/operationResults/2394266d-5d90-404c-8efe-f7758eb8e91b?api-version=2021-01-15
=======
      - Mon, 22 Feb 2021 22:14:54 GMT
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/operationResults/139352a8-d54a-43d6-99aa-253360265da5?api-version=2021-01-15
>>>>>>> 1891beb5c2c42224a0d97f9667f69f132c44b0ee
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
<<<<<<< HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/2394266d-5d90-404c-8efe-f7758eb8e91b?api-version=2021-01-15
=======
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/139352a8-d54a-43d6-99aa-253360265da5?api-version=2021-01-15
>>>>>>> 1891beb5c2c42224a0d97f9667f69f132c44b0ee
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Tue, 23 Feb 2021 00:46:10 GMT
=======
      - Mon, 22 Feb 2021 22:15:24 GMT
>>>>>>> 1891beb5c2c42224a0d97f9667f69f132c44b0ee
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2021-01-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
<<<<<<< HEAD
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","tags":{},"systemData":{"createdAt":"2021-02-23T00:46:25.4292325Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000002.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"MongoDB","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":true,"instanceId":"b6ebdad5-fbf8-4e90-9a1e-7505fd89035d","createMode":"Default","databaseAccountOfferType":"Standard","enableCassandraConnector":false,"connectorOffer":"","networkAclBypass":0,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"apiProperties":{"serverVersion":"3.2"},"configurationOverrides":{"EnableBsonSchema":"True"},"writeLocations":[{"id":"cli000002-westus","locationName":"West
=======
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","tags":{},"systemData":{"createdAt":"2021-02-22T22:15:56.3485261Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000002.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled"[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_account000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/listConnectionStrings?api-version=2021-01-15
  response:
    body:
<<<<<<< HEAD
      string: '{"connectionStrings":[{"connectionString":"mongodb://cli000002:iTIlYj6p3dtwbIEUQoqzXokk1e9PT3LEqIa8iBwgGDKzzTTOhDbItahcWixOVLupXJ6HMpL1i42rSHW0KbIwhw==@cli000002.documents.azure.com:10255/?ssl=true&replicaSet=globaldb","description":"Primary
        MongoDB Connection String"},{"connectionString":"mongodb://cli000002:lnXvuRpTCyEEypVbTTgM7nivFHZsTAhJiFjn4VJ6oRuAcnr78JvgJifc0gsJuLKERLWsGx82c3R0ocV1WoAPUQ==@cli000002.documents.azure.com:10255/?ssl=true&replicaSet=globaldb","description":"Secondary
        MongoDB Connection String"},{"connectionString":"mongodb://cli000002:Nl4TXgCiAYkO7v7D852jc0lnCJAFTRXlDEaCPbRQfbwm8UYU38VA6pbfbCnZNSbqFpytCb6wsHWZmgpHxz829A==@cli000002.documents.azure.com:10255/?ssl=true&replicaSet=globaldb",[...]
[...]
