interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_database000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001","name":"cli_test_cosmosdb_database000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-28T04:53:14Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "apiProperties": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2022-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2023-02-28T04:53:25.1234236Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"96923c0a-96fb-456e-92e3-25500ea45df3","databaseAccountOfferType":"Standard","defaultIdentity":"","networkAclBypass":"None","disableLocalAuth":false,"enablePartitionMerge":false,"minimalTlsVersion":"Tls","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Invalid"}},"networkAclBypassResourceIds":[],"keysMetadata":{"primaryMasterKey":{"generationTime":"2023-02-28T04:53:25.1234236Z"},"secondaryMasterKey":{"generationTime":"2023-02-28T04:53:25.1234236Z"},"primaryReadonlyMasterKey":{"generationTime":"2023-02-28T04:53:25.1234236Z"},"secondaryReadonlyMasterKey":{"generationTime":"2023-02-28T04:53:25.1234236Z"}}},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/3ef9e874-fc9d-4a40-a3ac-6a9c820dfab4?api-version=2022-11-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/3ef9e874-fc9d-4a40-a3ac-6a9c820dfab4?api-version=2022-11-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/3ef9e874-fc9d-4a40-a3ac-6a9c820dfab4?api-version=2022-11-15
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2022-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2023-02-28T04:54:47.980916Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","sqlEndpoint":"https://cli000003.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"96923c0a-96fb-456e-92e3-25500ea45df3","databaseAccountOffer[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/listKeys?api-version=2022-11-15
  response:
    body:
      string: '{"primaryMasterKey":"vMuYjQRetTcDtOtBxBo7JLThaRteU1bjBFMuYN2n7G4C4rQ1b9hTwEUCpsg9vynpQkYGwLWuzovCACDbzB5uzA==","secondaryMasterKey":"ZW4lp5TThfYWZ3BmehP6xIxhONO27dlGEApvHp5QHRpCJneHGY2AOBEoSC2ZgNtdkRqCvkZvuYZaACDbafAGRA==","primaryReadonlyMasterKey":"fEoJjwW1UiZXQWNGLxhZphQps6IZqFhdktTisWnbYwQ6VxP0maruIfnJWValRhBrqf5eSn7q355rACDbo4TDlw==","secondaryReadonlyMasterKey":"NlGqjYCZbd2mBhmJ1jNFoe8WvvG8AscrY8dSyCwKgOiI9QpqAljkb4wdmBqyjp7kp0w9caqsT381ACDbWlLnOA=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 28 Feb 2023 04:55:30 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-session-token:
      - ''
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003.documents.azure.com/
  response:
    body:
      string: '{"_self":"","id":"cli000003","_rid":"cli000003.documents.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"readableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"enableMultipleWriteLocations":false,"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"allowNewKeywords\":true,\"maxJoinsPerSqlQuery\":10,\"maxQueryRequestTimeoutFraction\":0.9,\"maxSqlQueryInputLength\":524288,\"maxUdfRefPerSqlQuery\":10,\"queryMaxInMemorySortDocumentCount\":-500,\"spatialMaxGeometryPointCount\":256,\"sqlAllowNonFiniteNumbers\":false,\"sqlDisableOptimizationFlags\":0,\"enableSpatialIndexing\":true,\"maxInExpressionItemsCount\":2147483647,\"maxLogicalAndPerSqlQuery\":2147483647,\"maxLogicalOrPerSqlQuery\":2147483647,\"maxSpatialQueryCells\":2147483647,\"sqlAllowAggregateFunctions\":true,\"sqlAllowGroupByClause\":true,\"sqlAllowLike\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"sqlAllowTop\":true}"}'
    headers:
      content-location:
      - https://clip7jichyt67rh.documents.azure.com/
      content-type:
      - application/json
      x-ms-databaseaccount-consumed-mb:
      - '0'
      x-ms-databaseaccount-provisioned-mb:
      - '0'
      x-ms-databaseaccount-reserved-mb:
      - '0'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-max-media-storage-usage-mb:
      - '2048'
      x-ms-media-storage-usage-mb:
      - '0'
    status:
      code: 200
      message: Ok
- request:
    body: '{"id":"cli000002"}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 28 Feb 2023 04:55:31 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"id":"cli000002","_rid":"3okkAA==","_self":"dbs\/3okkAA==\/","_etag":"\"0000ea00-0000-0700-0000-63fd89430000\"","_colls":"colls\/","_users":"users\/","_ts":1677560131}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0000ea00-0000-0700-0000-63fd89430000"'
      lsn:
      - '8'
      x-ms-cosmos-llsn:
      - '8'
      x-ms-cosmos-quorum-acked-llsn:
      - '7'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '7'
      x-ms-last-state-change-utc:
      - Tue, 28 Feb 2023 01:30:05.493 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '7'
      x-ms-request-charge:
      - '4.95'
      x-ms-request-duration-ms:
      - '20.517'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=1;
      x-ms-schemaversion:
      - '1.15'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#8
      x-ms-transport-request-id:
      - '2081'
      x-ms-xp-role:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 28 Feb 2023 04:55:32 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000002/
  response:
    body:
      string: '{"id":"cli000002","_rid":"3okkAA==","_self":"dbs\/3okkAA==\/","_etag":"\"0000ea00-0000-0700-0000-63fd89430000\"","_colls":"colls\/","_users":"users\/","_ts":1677560131}'
    headers:
      content-location:
      - https://clip7jichyt67rh-westus.documents.azure.com/dbs/clitfwvmfkkwef3/
      content-type:
      - application/json
      etag:
      - '"0000ea00-0000-0700-0000-63fd89430000"'
      lsn:
      - '8'
      x-ms-cosmos-item-llsn:
      - '8'
      x-ms-cosmos-llsn:
      - '8'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '8'
      x-ms-item-lsn:
      - '8'
      x-ms-last-state-change-utc:
      - Tue, 28 Feb 2023 01:30:13.597 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2'
      x-ms-request-duration-ms:
      - '0.231'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=1;
      x-ms-schemaversion:
      - '1.15'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#8
      x-ms-transport-request-id:
      - '4336'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"query":"SELECT * FROM root r WHERE r.id=@id","parameters":[{"name":"@id","value":"clitfwvmfkkwef3"}]}'
    headers:
      Content-Type:
      - application/query+json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Tue, 28 Feb 2023 04:55:34 GMT
      x-ms-documentdb-isquery:
      - 'true'
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"_rid":"","Databases":[{"id":"cli000002","_rid":"3okkAA==","_self":"dbs\/3okkAA==\/","_etag":"\"0000ea00-0000-0700-0000-63fd89430000\"","_colls":"colls\/","_users":"users\/","_ts":1677560131}],"_count":1}'
    headers:
      content-type:
      - application/json
      lsn:
      - '8'
      x-ms-cosmos-is-partition-key-delete-pending:
      - 'false'
      x-ms-cosmos-llsn:
      - '8'
      x-ms-cosmos-query-execution-info:
      - '{"reverseRidEnabled":false,"reverseIndexScan":false}'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-global-committed-lsn:
      - '8'
      x-ms-item-count:
      - '1'
      x-ms-last-state-change-utc:
      - Tue, 28 Feb 2023 01:30:12.247 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '5.62'
      x-ms-request-duration-ms:
      - '0.577'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=1;
      x-ms-schemaversion:
      - '1.15'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#8
      x-ms-transport-request-id:
      - '898'
      x-ms-xp-role:
      - '2'
    status:
      code: 200
      message: Ok
[...]
