interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations?api-version=2021-10-15
  response:
    body:
      string: '{"value":[{"id":"subscriptionId/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/brazilsoutheast/","type":"Microsoft.DocumentDB/locations","name":"Brazil
        Southeast","properties":{"supportsAvailabilityZone":true,"isResidencyRestricted":false,"backupStorageRedundancies":["Geo","Local"]}},{"id":"subscriptionId/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/centralus/","type":"Microsoft.DocumentDB/locations","name":"Central
        US","properties":{"supportsAvailabilityZone":true,"isResidencyRestricted":false,"backupStorageRedundancies":["Geo","Zone","Local"]}},{"id":"subscriptionId/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/australiasoutheast/","type":"Microsoft.DocumentDB/locations","name":"Aust[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus?api-version=2021-10-15
  response:
    body:
      string: '{"id":"subscriptionId/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/westus/","type":"Microsoft.DocumentDB/locations","name":"West
        US","properties":{"supportsAvailabilityZone":false,"isResidencyRestricted":false,"backupStorageRedundancies":["Geo","Local"]}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
version: 1
