interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-resource/9.0.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-resource/9.0.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_sql_database000001?api-version=2019-07-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001","name":"cli_test_cosmosdb_sql_database000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-06-17T02:02:31Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001","name":"cli_test_cosmosdb_sql_database000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-05-18T20:19:09Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 17 Jun 2020 02:02:32 GMT
=======
      - Mon, 18 May 2020 20:19:12 GMT
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "apiProperties": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2020-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
<<<<<<< HEAD
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"databaseAccountOfferType":"Standard","enableCassandraConnector":false,"connectorOffer":"","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/354e256b-0efe-4e81-a4ad-a95bff5161a9?api-version=2020-04-01
      content-location:
      - https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/cli_test_cosmosdb_sql_databasefi5jat2faq5ve7hjdctn7pf7wsdei7dldwhncbmjsy2w7/providers/Microsoft.DocumentDB/databaseAccounts/clikrii57mxyicj?api-version=2020-04-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/354e256b-0efe-4e81-a4ad-a95bff5161a9?api-version=2020-04-01
=======
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"databaseAccountOfferType":"Standard","ipRangeFilter":"","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/354e256b-0efe-4e81-a4ad-a95bff5161a9?api-version=2020-04-01
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/354e256b-0efe-4e81-a4ad-a95bff5161a9?api-version=2020-04-01
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2020-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
<<<<<<< HEAD
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"databaseAccountOfferType":"Standard","enableCassandraConnector":false,"connectorOffer":"","consistencyPolicy":{"defaultConsistencyLeve[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/sqlDatabases/cli000002?api-version=2020-03-01
  response:
    body:
      string: '{"code":"NotFound","message":"Message: {\"code\":\"NotFound\",\"message\":\"Message:
        {\\\"Errors\\\":[\\\"Resource Not Found\\\"]}\\r\\nActivityId: 9d2bfcfd-9946-11ea-a51d-a08cfdd714a6,
        Request URI: /apps/05e5cede-11b4-4d8a-9d2d-dd9f0eb67499/services/63151387-a9cb-4f95-a27a-2a789192db68/partitions/42ae57fc-941a-4974-b439-a2aabca3ef63/replicas/132342944474735507s,
        RequestStats: \\r\\nRequestStartTime: 2020-05-18T20:31:56.3588826Z, RequestEndTime:
        2020-05-18T20:31:56.3588826Z,  Number of regions attempted:1\\r\\nResponseTime:
        2020-05-18T20:31:56.3588826Z, StoreResult: StorePhysicalAddress: rntbd://10.0.0.19:11000/apps/05e5cede-11b4-4d8a-9d2d-dd9f0eb67499/services/63151387-a9cb-4f95-a27a-2a789192db68/partitions/42ae57fc-941a-4974-b439-a2aabca3ef63/replicas/132342944474735507s,
        LSN: 4, GlobalCommittedLsn: 4, PartitionKeyRangeId: , IsValid: True, StatusCode:
        404, SubStatusCode: 0, RequestCharge: 1, ItemLSN: -1, SessionToken: -1#4,
        UsingLocalLSN: False, TransportException: null, ResourceType: Database, OperationType:
        Read\\r\\nResponseTime: 2020-05-18T20:31:56.3588826Z, StoreResult: StorePhysicalAddress:
        rntbd://10.0.0.20:11300/apps/05e5cede-11b4-4d8a-9d2d-dd9f0eb67499/services/63151387-a9cb-4f95-a27a-2a789192db68/partitions/42ae57fc-941a-4974-b439-a2aabca3ef63/replicas/132342947890536059s,
        LSN: 4, GlobalCommittedLsn: 4, PartitionKeyRangeId: , IsValid: True, StatusCode:
        404, SubStatusCode: 0, RequestCharge: 1, ItemLSN: -1, SessionToken: -1#4,
        UsingLocalLSN: False, TransportException: null, ResourceType: Database, OperationType:
        Read\\r\\n, SDK: Microsoft.Azure.Documents.Common/2.11.0\"}, Request URI:
        /dbs/cli000002, RequestStats: , SDK: Microsoft.Azure.Documents.Common/2.11.0"}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/3901edbf-e5b3-4040-a565-13784a96c238/resourceGroups/cli_test_cosmosdb_sql_databasepgtwd2xtldo7jzmbmcy2zv6pxbb4x653lwibafdr3mwwm/providers/Microsoft.DocumentDB/databaseAccounts/clirs55fqawyuwi/sqlDatabases/clipulg2flzfm6i?api-version=2020-03-01
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 404
      message: NotFound
- request:
    body: '{"properties": {"resource": {"id": "cli000002"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/sqlDatabases/cli000002?api-version=2020-04-01
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/bdc6d418-dfb9-4b5c-92db-cc07ce529212?api-version=2020-04-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/5ed3aca8-d2b2-42f3-a65f-b2bde4833f2d?api-version=2020-03-01
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      cache-control:
      - no-store, no-cache
      content-length:
      - '21'
      content-location:
<<<<<<< HEAD
      - https://management.documents.azure.com:450/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/cli_test_cosmosdb_sql_databasefi5jat2faq5ve7hjdctn7pf7wsdei7dldwhncbmjsy2w7/providers/Microsoft.DocumentDB/databaseAccounts/clikrii57mxyicj/sqlDatabases/cliayh3q2lkg7td?api-version=2020-04-01
      content-type:
      - application/json
      date:
      - Wed, 17 Jun 2020 02:19:49 GMT
      location:
      - https://management.az[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/sqlDatabases/cli000002?api-version=2020-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/sqlDatabases/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"RvtBAA==","_self":"dbs/RvtBAA==/","_etag":"\"00005902-0000-0700-0000-5ee97dc90000\"","_colls":"colls/","_users":"users/","_ts":1592360393}}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/sqlDatabases/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"9w0fAA==","_self":"dbs/9w0fAA==/","_etag":"\"0000e200-0000-0700-0000-5ec2f0c10000\"","_colls":"colls/","_users":"users/","_ts":1589833921}}[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.10 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.15.0 Azure-SDK-For-Python AZURECLI/2.7.0
=======
      - python/3.8.2 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-cosmosdb/0.14.0 Azure-SDK-For-Python AZURECLI/2.6.0
>>>>>>> de73fb57e... [Cosmos DB] az cosmosdb: add exists command to database and container groups (#12774)
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/sqlDatabases?api-version=2020-04-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/sqlDatabases/cli000002","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","name":"cli000002","properties":{"resource":{"id":"cli000002","_rid":"RvtBAA==","_self":"dbs/RvtBAA==/","_etag":"\"00005902-0000-0700-0000-5ee97dc90000\"","_colls":"colls/","_users":"users/","_ts":1592360393}}}]}'
=======
      string: '{"value":[...]
[...]
