interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations?api-version=2024-08-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/brazilsoutheast","type":"Microsoft.DocumentDB/locations","name":"Brazil
        Southeast","properties":{"supportsAvailabilityZone":false,"isResidencyRestricted":false,"isSubscriptionRegionAccessAllowedForAz":false,"isSubscriptionRegionAccessAllowedForRegular":false,"status":"Online","backupStorageRedundancies":["Geo","Local"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/centralus","type":"Microsoft.DocumentDB/locations","name":"Central
        US","properties":{"supportsAvailabilityZone":true,"isResidencyRestricted":false,"isSubscriptionRegionAccessAllowedForAz":false,"isSubscriptionRegionAccessAllowedForRegular":true,"status":"Online","backupStorageRedundancies":["Geo","Zone","Local"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus?api-version=2024-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus","type":"Microsoft.DocumentDB/locations","name":"West
        US","properties":{"supportsAvailabilityZone":false,"isResidencyRestricted":false,"isSubscriptionRegionAccessAllowedForAz":false,"isSubscriptionRegionAccessAllowedForRegular":true,"status":"Online","backupStorageRedundancies":["Geo","Local"]}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
version: 1
