interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_service000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001","name":"cli_test_cosmosdb_service000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2023-02-23T07:37:27Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "eastus2", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "apiProperties": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2022-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"East
        US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2023-02-23T07:37:40.7651063Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"c34b2a51-4c9d-45b3-9435-7592e1181bb9","databaseAccountOfferType":"Standard","enableFullFidelityChangeFeed":false,"defaultIdentity":"","networkAclBypass":"None","disableLocalAuth":false,"enablePartitionMerge":false,"minimalTlsVersion":"Tls","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000002-eastus2","locationName":"East
        US 2","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Invalid"}},"networkAclBypassResourceIds":[],"keysMetadata":{"primaryMasterKey":{"generationTime":"2023-02-23T07:37:40.7651063Z"},"secondaryMasterKey":{"generationTime":"2023-02-23T07:37:40.7651063Z"},"primaryReadonlyMasterKey":{"generationTime":"2023-02-23T07:37:40.7651063Z"},"secondaryReadonlyMasterKey":{"generationTime":"2023-02-23T07:37:40.7651063Z"}}},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/b57e45c9-15e9-46b1-ace1-79e52677317c?api-version=2022-11-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/operationResults/b57e45c9-15e9-46b1-ace1-79e52677317c?api-version=2022-11-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1187'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/b57e45c9-15e9-46b1-ace1-79e52677317c?api-version=2022-11-15
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2022-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"East
        US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2023-02-23T07:39:59.7893675Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000002.documents.azure.com:443/","sqlEndpoint":"https://cli000002.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"c34b2a51-4c9d-45b3-9435-7592e1181bb9","databaseAccountOffer[...]
[...]
- request:
    body: '{"properties": {"instanceSize": "Cosmos.D4s", "instanceCount": 1, "serviceType":
      "SqlDedicatedGateway"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/services/sqlDedicatedGateway?api-version=2022-11-15
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/fea8cbc5-da52-460c-b032-7bf8362c1f59?api-version=2022-11-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/services/sqlDedicatedGateway/operationResults/fea8cbc5-da52-460c-b032-7bf8362c1f59?api-version=2022-11-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/services/sqlDedicatedGateway?api-version=2022-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/services/sqlDedicatedGateway","type":"Microsoft.DocumentDB/databaseAccounts/services","name":"sqlDedicatedGateway","properties":{"status":"Running","creationTime":"2023-02-23T07:40:21.9410198Z","instanceSize":"Cosmos.D4s","instanceCount":1,"sqlDedicatedGatewayEndpoint":"https://cli000002.sqlx.cosmos.azure.com/","serviceType":"SqlDedicatedGateway","locations":[{"name":"sqlDedicatedGateway-eastus2","location":"East
        US 2","status":"Running","sqlDedicatedGatewayEndpoint":"https://cli000002-eastus2.sqlx.cosmos.azure.com/"}]}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/services?api-version=2022-11-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_service000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/services/sqlDedicatedGateway","type":"Microsoft.DocumentDB/databaseAccounts/services","name":"sqlDedicatedGateway","properties":{"status":"Running","creationTime":"2023-02-23T07:40:21.9410198Z","instanceSize":"Cosmos.D4s","instanceCount":2,"sqlDedicatedGatewayEndpoint":"https://cli000002.sqlx.cosmos.azure.com/","serviceType":"SqlDedicatedGateway","locations":[{"name":"sqlDedicatedGateway-eastus2","location":"East
        US 2","status":"Running","sqlDedicatedGatewayEndpoint":"https://cli000002-eastus2.sqlx.cosmos.azure.com/"}]}}]}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/680e5073-44ca-4606-9362-a4d310b61c4f?api-version=2022-11-15
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
version: 1
