interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_sql_role000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001","name":"cli_test_cosmosdb_sql_role000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-11-02T20:45:07Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "eastus2", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "apiProperties": {}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2020-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2020-11-02T20:44:24.2677335Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"instanceId":"61faf7e6-7638-4fe7-844f-836997c2180b","createMode":"Default","databaseAccountOfferType":"Standard","enableCassandraConnector":false,"connectorOffer":"","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000002-eastus2","locationName":"East
        US 2","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8}}},"identity":{"type":"None"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/cb35f1b3-2d61-42be-9172-214b20a6e41e?api-version=2020-06-01-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/operationResults/cb35f1b3-2d61-42be-9172-214b20a6e41e?api-version=2020-06-01-preview
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/cb35f1b3-2d61-42be-9172-214b20a6e41e?api-version=2020-06-01-preview
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002?api-version=2020-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002","name":"cli000002","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2020-11-02T20:45:05.0309598Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000002.documents-staging.windows-ppe.net:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"instanceId":"61faf7e6-7638-4fe7-844f-836997c2180b","createMode":"Default","databaseAccountOfferType":"Standard","enableC[...]
[...]
- request:
    body: '{"properties": {"resource": {"id": "cli000003"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlDatabases/cli000003?api-version=2020-06-01-preview
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/10e3e07a-721f-4ca8-adb5-435add7444da?api-version=2020-06-01-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlDatabases/cli000003/operationResults/10e3e07a-721f-4ca8-adb5-435add7444da?api-version=2020-06-01-preview
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlDatabases/cli000003?api-version=2020-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlDatabases/cli000003","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","name":"cli000003","properties":{"resource":{"id":"cli000003","_rid":"Eb9sAA==","_self":"dbs/Eb9sAA==/","_etag":"\"0000bb01-0000-0200-0000-5fa0700a0000\"","_colls":"colls/","_users":"users/","_ts":1604349962}}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
- request:
    body: '{"properties": {"roleName": "roleName", "type": "CustomRole", "assignableScopes":
      ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/"],
      "permissions": [{"dataActions": ["Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/items/create",
      "Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/items/read"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleDefinitions/abeef6fe-9789-4860-b2d6-6fa23ea67c13?api-version=2020-06-01-preview
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/30ce44b7-ca78-4c8a-b8d0-71a2bc10d9e3?api-version=2020-06-01-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleDefinitions/abeef6fe-9789-4860-b2d6-6fa23ea67c13/operationResults/30ce44b7-ca78-4c8a-b8d0-71a2bc10d9e3?api-version=2020-06-01-preview
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleDefinitions/abeef6fe-9789-4860-b2d6-6fa23ea67c13?api-version=2020-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleDefinitions/abeef6fe-9789-4860-b2d6-6fa23ea67c13","name":"abeef6fe-9789-4860-b2d6-6fa23ea67c13","properties":{"roleName":"roleName","type":1,"assignableScopes":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002"],"permissions":[{"dataActions":["Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/items/create","Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/items/read"],"notDataActions":[]}]},"type":"Microsoft.DocumentDB/databaseAccounts/sqlRoleDefinitions"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleDefinitions?api-version=2020-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleDefinitions/abeef6fe-9789-4860-b2d6-6fa23ea67c13","name":"abeef6fe-9789-4860-b2d6-6fa23ea67c13","properties":{"roleName":"roleName2","type":1,"assignableScopes":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002"],"per[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleDefinitions/abeef6fe-9789-4860-b2d6-6fa23ea67c13",
      "scope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/dbs/cli000003",
      "principalId": "ed4c2395-a18c-4018-afb3-6e521e7534d2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleAssignments/6e326db5-eaed-421a-9d73-511d6a7dfb8d?api-version=2020-06-01-preview
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/3e697055-c08d-4aea-94c7-d840ff5f3d10?api-version=2020-06-01-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleAssignments/6e326db5-eaed-421a-9d73-511d6a7dfb8d/operationResults/3e697055-c08d-4aea-94c7-d840ff5f3d10?api-version=2020-06-01-preview
      x-ms-gatewayversion:
      - version=2.11.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleAssignments?api-version=2020-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleAssignments/6e326db5-eaed-421a-9d73-511d6a7dfb8d","name":"6e326db5-eaed-421a-9d73-511d6a7dfb8d","properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleDefinitions/aa5a3d7f-b41b-401c-8811-745148957e59","principalId":"ed4c2395-a18c-4018-afb3-6e521e7534d2","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/dbs/cli000003"},"type":"Microsoft.DocumentDB/databaseAccounts/sqlRoleAssignments"}]}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_sql_role000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000002/sqlRoleDefinitions?api-version=2020-06-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.11.0
    status:
      code: 200
      message: Ok
version: 1
