interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_gremlin_database000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001","name":"cli_test_cosmosdb_gremlin_database000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-08T06:56:49Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard", "capabilities": [{"name": "EnableGremlin"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2015-04-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Initializing","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Gremlin,
        Sql","disableKeyBasedMetadataWriteAccess":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[{"name":"EnableGremlin"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/24c3798f-945b-4b96-a4dd-df56709deb48?api-version=2015-04-08
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/cli_test_cosmosdb_gremlin_databaseoyktwtfpq3n4cuqcd4aspufv6f3fvh7ezke5ed6we/providers/Microsoft.DocumentDB/databaseAccounts/clirjxwlb3wc6qy?api-version=2015-04-08
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/24c3798f-945b-4b96-a4dd-df56709deb48?api-version=2015-04-08
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/24c3798f-945b-4b96-a4dd-df56709deb48?api-version=2015-04-08
  response:
    body:
      string: '{"status":"Dequeued","error":{}}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/24c3798f-945b-4b96-a4dd-df56709deb48?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2015-04-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","gremlinEndpoint":"https://cli000003.gremlin.cosmos.azure.com:443/","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Gremlin,
        Sql","disableKeyBasedMetadataWriteAccess":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeL[...]
[...]
- request:
    body: '{"properties": {"resource": {"id": "cli000002"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/apis/gremlin/databases/cli000002?api-version=2015-04-08
  response:
    body:
      string: '{"status":"Enqueued","error":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/apis/gremlin/databases/cli000002?api-version=2015-04-08
  response:
    body:
      string: '{"properties":{"id":"cli000002","_rid":"1VlkAA==","_self":"dbs/1VlkAA==/","_etag":"\"00006400-0000-0700-0000-5d9c35b70000\"","_colls":"colls/","_users":"users/","_ts":1570518455}}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/cli_test_cosmosdb_gremlin_databaseoyktwtfpq3n4cuqcd4aspufv6f3fvh7ezke5ed6we/providers/Microsoft.DocumentDB/databaseAccounts/clirjxwlb3wc6qy/apis/gremlin/databases/cligmm3itw3erwi?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/apis/gremlin/databases?api-version=2015-04-08
  response:
    body:
      string: '{"value":[{"properties":{"id":"cli000002","_rid":"1VlkAA==","_self":"dbs/1VlkAA==/","_etag":"\"00006400-0000-0700-0000-5d9c35b70000\"","_colls":"colls/","_users":"users/","_ts":1570518455}}]}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/cli_test_cosmosdb_gremlin_databaseoyktwtfpq3n4cuqcd4aspufv6f3fvh7ezke5ed6we/providers/Microsoft.DocumentDB/databaseAccounts/clirjxwlb3wc6qy/apis/gremlin/databases?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_gremlin_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/apis/gremlin/databases?api-version=2015-04-08
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/cli_test_cosmosdb_gremlin_databaseoyktwtfpq3n4cuqcd4aspufv6f3fvh7ezke5ed6we/providers/Microsoft.DocumentDB/databaseAccounts/clirjxwlb3wc6qy/apis/gremlin/databases?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
version: 1
