interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-02-20T16:19:35Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-02-20T16:19:35Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['879400']
      ocp-aad-diagnostics-server-name: [ILMkzWumkrWELq2LNz8qYyobu9xzF6HY59qlW8ycA44=]
      ocp-aad-session-key: [4sLB2fAvIKp1mhsCNEn8Sm2S-ykDbxHU0Fj-IRyMlmPGqML1jJF1goZ_-Wirp-puzVG5VwBufBkK_mG7Cda6NW2xj9OdqmLp6muA4saHaLviGdidsDnsJ2pvp-cyiXl7.1MX43DCHdyL0JQR3fmsjsiPZmPV5U6-fVtC-_qQyhP0]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "clitesto3rybqkku6",
      "homepage": "https://clitesto3rybqkku6", "identifierUris": ["http://clitest000002"],
      "passwordCredentials": [{"startDate": "2019-02-20T16:19:39.670745Z", "endDate":
      "2020-02-20T16:19:39.670745Z", "keyId": "02faf09f-640a-4ede-a33a-626846b79fad",
      "value": "73a5ea25-2d51-40a7-828b-ae1e2cf0998e", "customKeyIdentifier": "//5yAGIAYQBjAA=="}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"cb21f18b-4fa3-4a45-825d-b6f0eafc713e","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"05d0ef21-68fb-4dd9-9ac2-097795f45b1f","appRoles":[],"availableToOtherTenants":false,"displayName":"clitesto3rybqkku6","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://clitesto3rybqkku6","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/cb21f18b-4fa3-4a45-825d-b6f0eafc713e/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/cb21f18b-4fa3-4a45-825d-b6f0eafc713e/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitesto3rybqkku6 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitesto3rybqkku6","id":"3cc99fd4-153d-4ab8-ba1a-d94516f76836","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitesto3rybqkku6 on your behalf.","userConsentDisplayName":"Access
        clitesto3rybqkku6","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-02-20T16:19:39.670745Z","keyId":"02faf09f-640a-4ede-a33a-626846b79fad","startDate":"2019-02-20T16:19:39.670745Z","value":null}],"publicClient":null,"publisherDomain":"microsoft.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['6797451']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/cb21f18b-4fa3-4a45-825d-b6f0eafc713e/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [j/6bdQV64ZmOZB19Y77uZKxQIRPdZpv+2brrWtFkP1Y=]
      ocp-aad-session-key: [cX-YxVzaEy7KiLSjADtldaD7TV0_Fkg_gkHjtnMlcP5fXCs7D98e-ZBP6zTkAIOoOoz6EwJzBJ3iMspT-S3souPpL8rUY6O3fS9gu5JqYXcrB2OOgKF5LCulF5Msjwcz11xreDBV2-gSbx5Id8miwg.lBJDmLl3Q2LZyD_RJ92mFiXJE3oNkTdBGuuG9uOmzyU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"accountEnabled": true, "appId": "05d0ef21-68fb-4dd9-9ac2-097795f45b1f"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"26210d67-7cf8-41ed-b624-ea15eb01ad69","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitesto3rybqkku6","appId":"05d0ef21-68fb-4dd9-9ac2-097795f45b1f","appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitesto3rybqkku6","errorUrl":null,"homepage":"https://clitesto3rybqkku6","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitesto3rybqkku6 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitesto3rybqkku6","id":"3cc99fd4-153d-4ab8-ba1a-d94516f76836","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitesto3rybqkku6 on your behalf.","userConsentDisplayName":"Access
        clitesto3rybqkku6","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["05d0ef21-68fb-4dd9-9ac2-097795f45b1f","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['4366620']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/26210d67-7cf8-41ed-b624-ea15eb01ad69/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [5tXUu3y+ErO1/XND1tRuShyWMEydPW/DHrlAYL3nHdc=]
      ocp-aad-session-key: [6vCR5l11fG5MZF--F74xN0nXPEAn4Wy2V7bd2H6UvsxPGUJeOd70O8WabXZild8ClrYr7p-ANkOJDUMK379zeg1-xfuVIGvk2O_cktU91dmvN9EAEP4SsNo1ovKv4lBvlg8W8A5MwyXvRXmyHDDr7A.QHJ4wlwqLK9fnFjoES-Adqs5FknEGaDoAVkuIhIc63M]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2705d0ef21-68fb-4dd9-9ac2-097795f45b1f%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/26210d67-7cf8-41ed-b624-ea15eb01ad69?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"26210d67-7cf8-41ed-b624-ea15eb01ad69","deletion[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"cb21f18b-4fa3-4a45[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%2726210d67-7cf8-41ed-b624-ea15eb01ad69%27&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/cb21f18b-4fa3-4a45-825d-b6f0eafc713e?api-version=1.6
  response:
    body: {string: ''}
    headers:
      duration: ['3955574']
      ocp-aad-diagnostics-server-name: [3gRF4Agtxj7achCVh+OZ4xQI6hkfjK9Hd2BT/qJA35Y=]
      ocp-aad-session-key: [qrlWrnGy8C2FKUsnPwF0jgq4RAWtzql_lpwCUBmr1Pw-xRZBt2SGXQIcOkgTyGjjg0FnSNVZY5_tKehALtwhUcUr0b5Qiu2XAlm61QUkWUEzURYN0mQvNGpN2E4gUE8UMV16t3GNHGzlvl9g_hRT9A.IlhrMYjXaSK5LQ6_h94oj9VC84ykHDAMfNILpZlCohU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUSkRZS1lZS0JBTy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
