interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-07T20:24:04Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-07T20:24:04Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['613610']
      ocp-aad-diagnostics-server-name: [LIsvepV0yWsv17jftCrqPcUrT8/sKGPKtFREgCo1I3k=]
      ocp-aad-session-key: [OWdrvKxbI-Pucrcaozq2t4tGBgE0C91AWR9ZQ3Iw8ezm8JsIa8FlWWQiQyRVK9En0a9gXZg49CLl6qQ9qB4SakcZlAYyMribqG_YnkmD1jLAYz-QHaTWW7Rv9YwvWLjr.8wo3gBpN3g4B4nYyeUZFvTiNdrNuxRvxFVUHoiWnN98]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "azure-cli-2018-08-07-20-24-08",
      "homepage": "http://azure-cli-2018-08-07-20-24-08", "identifierUris": ["http://clitest000002"],
      "passwordCredentials": [{"startDate": "2018-08-07T20:24:08.381271Z", "endDate":
      "2019-08-07T20:24:08.381271Z", "keyId": "41c6de2b-c4f2-408a-9730-b879e2c5c24a",
      "value": "7b48f3ec-b670-4613-ae80-e7f55ee843d3"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"afb28d66-7a25-4d91-93b7-2e2926eea219","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"a64ceaea-7511-4181-a456-9d97a25240f4","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2018-08-07-20-24-08","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2018-08-07-20-24-08","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-08-07-20-24-08 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-08-07-20-24-08","id":"44a407b5-1a47-4467-b96b-76602225bf9b","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-08-07-20-24-08 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-08-07-20-24-08","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2019-08-07T20:24:08.381271Z","keyId":"41c6de2b-c4f2-408a-9730-b879e2c5c24a","startDate":"2018-08-07T20:24:08.381271Z","value":null}],"publicClient":null,"publisherDomain":"sapphire040703gmail.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['5813679']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/afb28d66-7a25-4d91-93b7-2e2926eea219/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [wxTJ9LAVu6rJckmzKPdCGIT+txU9u3PTf1/IKRCG7+c=]
      ocp-aad-session-key: [t-zRLDvH3tkvZIDAs-TFKw6u3OMW5Xtzka-TGe1wxe219Z45pL_Uktg3-W9FSOaxQk1jTer1AySY1kqFPAjzDvXyhq7ofVIuqk-dIlNehalow-aYfPG_2DGtTpHuYP6J7aVrZPlDkD57b1mtu2LRhw.BUwlPV_UU0bbSxPzrTKZCBCD0qGPcOtgieV1vxmVBzg]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "a64ceaea-7511-4181-a456-9d97a25240f4", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"a565b1a5-af34-4b1a-90df-5477ca3d9cdd","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2018-08-07-20-24-08","appId":"a64ceaea-7511-4181-a456-9d97a25240f4","appOwnerTenantId":"fc29b20d-bccd-4d17-a314-979339b54a57","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2018-08-07-20-24-08","errorUrl":null,"homepage":"http://azure-cli-2018-08-07-20-24-08","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-08-07-20-24-08 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-08-07-20-24-08","id":"44a407b5-1a47-4467-b96b-76602225bf9b","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-08-07-20-24-08 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-08-07-20-24-08","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"Default
        Directory","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["a64ceaea-7511-4181-a456-9d97a25240f4","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['1341833']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/a565b1a5-af34-4b1a-90df-5477ca3d9cdd/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [qZIv9ellq3w2fi4Frv5Uk50GFg2QtOwXyXvP/LyXimo=]
      ocp-aad-session-key: [QVCOiOuOlW3dDp23MNT2C8WXaxRduj0NOhGCBz8yp_ENs3GeVKLEuraeNomRddMYHuekll-bkAzW8I4-Rx9wj_T8c--1l92tLhYd98jyZr4OsTrDt-mXZ5-MC4Aa86UQLHRWDeRi-cLNhRhIWE0S9w.yhohhOk1Ezzw2UwAre-oZC2-g9gIhKe4S5ixvPIytJ0]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["192.168.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "192.168.0.0/24"}, "name": "clisubnet000005"}]}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"name\": \"clivnet000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004\",\r\n
        \ \"etag\": \"W/\\\"4f737010-95a4-400c-93b2-deb125d2db02\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"fc5b4ea8-dc30-4077-955a-40df408bf616\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"clisubnet000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005\",\r\n
        \       \"etag\": \"W/\\\"4f737010-95a4-400c-93b2-deb125d2db02\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"192.168.0.0/24\"\r\n        },\r\n        \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\":
        [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\":
        false\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/6de8fe01-b1c7-4197-baa1-af7bf655e230?api-version=2018-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/6de8fe01-b1c7-4197-baa1-af7bf655e230?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Network%20Contributor%27&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Network Contributor","type":"BuiltInRole","description":"Lets
        you manage networks, but not access to them.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Network/*","Microsoft.ResourceHealth/availabilityStatuses/read","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-06-02T00:18:27.3542698Z","updatedOn":"2016-05-31T23:14:00.3326359Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7","type":"Microsoft.Authorization/roleDefinitions","name":"4d97b98b-1d4f-4787-a291-c67834d212e7"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[{"[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "a565b1a5-af34-4b1a-90df-5477ca3d9cdd"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005/providers/Microsoft.Authorization/roleAssignments/d47de3fb-4193-408e-922d-e409cb2dd9ec?api-version=2018-01-01-preview
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7","principalId":"a565b1a5-af34-4b1a-90df-5477ca3d9cdd","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005","createdOn":"2018-08-07T20:24:29.2185548Z","updatedOn":"2018-08-07T20:24:29.2185548Z","createdBy":null,"updatedBy":"6f0f8064-b000-46ec-9e8e-68ce9749a45c"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005/providers/Microsoft.Authorization/roleAssignments/d47de3fb-4193-408e-922d-e409cb2dd9ec","type":"Microsoft.Authorization/roleAssignments","name":"d47de3fb-4193-408e-922d-e409cb2dd9ec"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
      x-ms-request-charge: ['3']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"location": "eastus", "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitest47ewzuymi-3bae81", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS1_v2", "vnetSubnetID":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005",
      "osType": "Linux"}], "servicePrincipalProfile": {"clientId": "http://clitest000002",
      "secret": "7b48f3ec-b670-4613-ae80-e7f55ee843d3"}, "addonProfiles": {}, "enableRBAC":
      true}}\\\\\\\''\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2018-03-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"kubernetesVersion\": \"1.9.9\",\n   \"dnsPrefix\": \"cliakstest-clitest47ewzuymi-3bae81\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS1_v2\",\n     \"storageProfile\": \"ManagedDisks\",\n
        \    \"vnetSubnetID\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005\",\n
        \    \"maxPods\": 110,\n     \"osType\": \"Linux\"\n    }\n   ],\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"http://clitest000002\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000003_eastus\",\n   \"enableRBAC\": true,\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\n   }\n  }\n }"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/956a514f-c983-4604-b3f9-35e1302a6e6e?api-version=2017-08-31']
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/956a514f-c983-4604-b3f9-35e1302a6e6e?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"4f516a95-83c9-0446-b3f9-35e1302a6e6e\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2018-08-07T20:24:40.3100069Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/956a514f-c983-4604-b3f9-35e1302a6e6e?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"4f516a95-83c9-0446-b3f9-35e1302a6e6e\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2018-08-07T20:24:40.3100069Z\",\n  \"endTime\":
        \"2018-08-07T20:39:06.1837347Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2018-03-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Succeeded\",\n   \"kubernetesVersion\": \"1.9.9\",\n   \"dnsPrefix\": \"cliakstest-clitest47ewzuymi-3bae81\",\n
        \  \"fqdn\": \"cliakstest-clitest47ewzuymi-3bae81-2a028e99.hcp.eastus.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS1_v2\",\n     \"storageProfile\": \"ManagedDisks\",\n
        \    \"vnetSubnetID\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005\",\n
        \    \"maxPods\": 110,\n     \"osType\": \"Linux\"\n    }\n   ],\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"http://clitest000002\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000003_eastus\",\n   \"enableRBAC\": true,\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\n   }\n  }\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview
  response:
    body: {string: "{\"value\":[{\"properties\":{\"roleName\":\"AcrImageSigner\",\"type\":\"BuiltI[...]
- request:
    body: '{"objectIds": ["a565b1a5-af34-4b1a-90df-5477ca3d9cdd"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"a565b1a5-af34-4b1a-90df-5477ca3d9cdd[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27a64ceaea-7511-4181-a456-9d97a25240f4%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/a565b1a5-af34-4b1a-90df-5477ca3d9cdd?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePri[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[{"odata.type":"Micr[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27a565b1a5-af34-4b1a-90df-5477ca3d9cdd%27&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Au[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview
  response:
    body: {string: "{\"value\":[{\"properties\":{\"roleName\":\"AcrImageSigner\",\"type\":\"BuiltInRole\",\"description\":\"acr
        image signer\",\"assignableScopes\":[\"/\"],\"permissions\":[{\"actions\"[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000003_eastus/providers/Microsoft.Authorization/roleAssignments/a1351732-7bc1-43c0-9a7f-3a1cfb999dbb?api-version=2018-01-01-preview
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"a565b1a5-af34-4b1a-90df-5477ca3d9cdd","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000003_eastus","createdOn":"2018-08-07T20:26:59.0997329Z","updatedOn":"2018-08-07T20:26:59.0997329Z","createdBy":"0a77d0f3-cdf8-4f80-89be-ae4ec0adaabf","updatedBy":"0a77d0f3-cdf8-4f80-89be-ae4ec0adaabf"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_clitest000001_cliakstest000003_eastus/providers/Microsoft.Authorization/roleAssignments/a1351732-7bc1-43c0-9a7f-3a1cfb999dbb","type":"Microsoft.Authorization/roleAssignments","name":"a1351732-7bc1-43c0-9a7f-3a1cfb999dbb"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
      x-ms-request-charge: ['2']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/afb28d66-7a25-4d91-93b7-2e2926eea219?api-version=1.6
  response:
    body: {string: ''}
    headers:
      dataserviceversion: [1.0;]
      duration: ['40524556']
      ocp-aad-diagnostics-server-name: [k6fa1kSiMnUZJuknHiO9y0+zpxRd0b2xW6UyOlqu9kw=]
      ocp-aad-session-key: [6TkZ5Kgf99-ZZEX3RRVe5oabmwddWcbbyDQVjLnlKo2AomVTFFo55_I04bp7PN_0dXMNwPSkmYqAPo7VcoYqSVw49wudDjxhumQUgaEFyK5Mwl4Zb53sxliR5eeeOa01Xli8Lr-I5bC_sUdVjSk5ng.ImSYjWLJB0szpcFZL-qmRMZnI-BY1UqkHuc78M7Pg78]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUNDdFV1pVWU1JRi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
