interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-05-14T18:41:49Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-14T18:41:49Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["192.168.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "192.168.0.0/24"}, "name": "clisubnet000004"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003?api-version=2019-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"clivnet000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003\",\r\n
        \ \"etag\": \"W/\\\"69103755-6d4b-440f-a951-3209281801ea\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"f0c6e91b-8a77-4673-a131-96e8769034c4\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"clisubnet000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004\",\r\n
        \       \"etag\": \"W/\\\"69103755-6d4b-440f-a951-3209281801ea\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"192.168.0.0/24\",\r\n          \"delegations\":
        []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/d95c142c-d475-4b50-809f-e9c7fb9caf20?api-version=2019-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/d95c142c-d475-4b50-809f-e9c7fb9caf20?api-version=2019-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7","principalId":"990b614a-5616-4be0-a01d-bf67421652ac","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2018-08-13T20:30:17.1189145Z","updatedOn":"2018-08-13T20:30:17.1189145Z","createdBy":"2b5ef1a8-96c2-4572-87e1-5eac032ea9f9","updatedBy":"2b5ef1a8-96c2-4572-87e1-5eac032ea9f9"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/a8b439c8-3e07-41b0-ac55-1533c75c8cf6","type":"Microsoft.Authorization/roleAssignments","name":"a8b439c8-3e07-41b0-ac55-1533c75c8cf6"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","principalId":"8e66d62c-3557-4b6c-bbf0-d8c3[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Network%20Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Network Contributor","type":"BuiltInRole","description":"Lets
        you manage networks, but not access to them.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Network/*","Microsoft.ResourceHealth/availabilityStatuses/read","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-06-02T00:18:27.3542698Z","updatedOn":"2016-05-31T23:14:00.3326359Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7","type":"Microsoft.Authorization/roleDefinitions","name":"4d97b98b-1d4f-4787-a291-c67834d212e7"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fclitestpa6kew4umx4ftvxco%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"3d80cd96-4bb2-4121-b043-fa23b1c94761","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitestpa6kew4umx4ftvxco","appId":"c11cb4c5-8226-490b-aedb-d1c51807fad4","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitestpa6kew4umx4ftvxco","errorUrl":null,"homepage":"https://clitestpa6kew4umx4ftvxco","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitestpa6kew4umx4ftvxco on behalf of the signed-in
        user.","adminConsentDisplayName":"Access clitestpa6kew4umx4ftvxco","id":"5cd82c8e-db62-4908-80ad-9945f2033faf","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitestpa6kew4umx4ftvxco on your behalf.","userConsentDisplayName":"Access
        clitestpa6kew4umx4ftvxco","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["http://clitestpa6kew4umx4ftvxco","c11cb4c5-8226-490b-aedb-d1c51807fad4"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5851652'
      ocp-aad-diagnostics-server-name:
      - 2gCJyEullf37VKgfupb1dpGiYlGUN8HjqZHuUwtlts8=
      ocp-aad-session-key:
      - HXf2Y9hou_ityWunZ4sGmT2_jKf0QI5Wh5FTFXjjyYlhydd3zqEZ56Z-kct5vMqpHSy4U1gCu_NhyCuYqwOPfbPFL9o-bfl1wc0NzlGlD-DOjpD0ytmggPz0HsqjMFKwrXxJd6tg2HtLaO1tWA82UA.tB8-ia9JcW-z-Fv17jS4q13o2hC6vavSslTTMJexh9s
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4d97b98b-1d4f-4787-a291-c67834d212e7",
      "principalId": "3d80cd96-4bb2-4121-b043-fa23b1c94761"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/vi[...]
- request:
    body: 'b''b\''b\\\''{"location": "eastus", "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitest5add5qsig-c9cbd9", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS2_v2", "vnetSubnetID":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004",
      "osType": "Linux"}], "servicePrincipalProfile": {"clientId": "http://clitestpa6kew4umx4ftvxco",
      "secret": "0d32d8d6-e969-465c-9a56-6f87437d9ddd"}, "addonProfiles": {}, "enableRBAC":
      true}}\\\''\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2019-02-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"kubernetesVersion\": \"1.12.7\",\n   \"dnsPrefix\": \"cliakstest-clitest5add5qsig-c9cbd9\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 100,\n     \"vnetSubnetID\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004\",\n
        \    \"maxPods\": 110,\n     \"type\": \"AvailabilitySet\",\n     \"provisioningState\":
        \"Creating\",\n     \"orchestratorVersion\": \"1.12.7\",\n     \"osType\":
        \"Linux\"\n    }\n   ],\n   \"servicePrincipalProfile\": {\n    \"clientId\":
        \"http://clitestpa6kew4umx4ftvxco\"\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_eastus\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n
        \   \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\n
        \  }\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/7725ddf1-8ada-48b9-a72a-b394ba1d69fb?api-version=2017-08-31
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/7725ddf1-8ada-48b9-a72a-b394ba1d69fb?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"f1dd2577-da8a-b948-a72a-b394ba1d69fb\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2019-05-14T18:42:28.4338193Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/7725ddf1-8ada-48b9-a72a-b394ba1d69fb?api-version=2017-08-31
  response:
    body:
      string: "{\n  \"name\": \"f1dd2577-da8a-b948-a72a-b394ba1d69fb\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2019-05-14T18:42:28.4338193Z\",\n  \"endTime\":
        \"2019-05-14T18:49:20.3767322Z\"\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2019-02-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Succeeded\",\n   \"kubernetesVersion\": \"1.12.7\",\n   \"dnsPrefix\": \"cliakstest-clitest5add5qsig-c9cbd9\",\n
        \  \"fqdn\": \"cliakstest-clitest5add5qsig-c9cbd9-5d6d163e.hcp.eastus.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 100,\n     \"vnetSubnetID\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000003/subnets/clisubnet000004\",\n
        \    \"maxPods\": 110,\n     \"type\": \"AvailabilitySet\",\n     \"provisioningState\":
        \"Succeeded\",\n     \"orchestratorVersion\": \"1.12.7\",\n     \"osType\":
        \"Linux\"\n    }\n   ],\n   \"servicePrincipalProfile\": {\n    \"clientId\":
        \"http://clitestpa6kew4umx4ftvxco\"\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000002_eastus\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n
        \   \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\n
        \  }\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUNUFERDVRU0lHNS1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
version: 1
