interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-10T19:46:55Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-10T19:46:55Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['454953']
      ocp-aad-diagnostics-server-name: [qxvg+LgKyuIFTpm0XjmicPMsnZzmR6m/OWBxHpYTkp8=]
      ocp-aad-session-key: [nsuQ_GPhumQbI0Tvs0xlkom4masyUCnwMIeeQBD29w19wpbCshMqAC8D_slGIEG-tHgGBja4BaKO427DHsV2Z92ojD00vmRQk8EZqict7LG5jRg96bMLRV6e1oZ1w7WHNtKMOcf1wBwAjWFz1VSJYg.NUdfXi7YEXRUQhYlQvbdj6oohRrXapa9TlTdtGQXCYg]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "azure-cli-2018-09-10-19-46-57",
      "homepage": "http://azure-cli-2018-09-10-19-46-57", "identifierUris": ["http://clitest000002"],
      "passwordCredentials": [{"startDate": "2018-09-10T19:46:57.338349Z", "endDate":
      "2019-09-10T19:46:57.338349Z", "keyId": "970104eb-bc99-4d79-9f5b-1c488173678e",
      "value": "78c91658-df02-4f70-8c32-66075c6b6c38"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"be9e431c-ca7c-4e7c-a2f5-9b395ab10398","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"6208dc34-a521-4132-8785-44d7fafa574b","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2018-09-10-19-46-57","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2018-09-10-19-46-57","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-09-10-19-46-57 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-09-10-19-46-57","id":"a3d8ae5d-0629-43e6-a31f-1a590d3de73d","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-09-10-19-46-57 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-09-10-19-46-57","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2019-09-10T19:46:57.338349Z","keyId":"970104eb-bc99-4d79-9f5b-1c488173678e","startDate":"2018-09-10T19:46:57.338349Z","value":null}],"publicClient":null,"publisherDomain":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['7417309']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/be9e431c-ca7c-4e7c-a2f5-9b395ab10398/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [rFMv6jCt7k8n9zj2NyMLkO1fEa5ijjfeyD4ZP3WWKYs=]
      ocp-aad-session-key: [x9qZkfKHJmsOpnvg8SR9ZfEpzzc5cJxWuRzrrZMXq7jDnUXMtpB7eQkLo5p9CXJe7nJNBr2jSisJmJjmt_H7MlYDHw7ojE-B_rZ-Nm0cItsZqYReI9BFOIS8edmxEKFZaci3006kcdKKbGJ_fIUgiQ.RwSMDZtcTzX4JwWVLedf0hwzIhC57sA4iO6bW489ohQ]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "6208dc34-a521-4132-8785-44d7fafa574b", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"0c627c53-78bc-419e-acd3-6df6d469c32c","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2018-09-10-19-46-57","appId":"6208dc34-a521-4132-8785-44d7fafa574b","appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2018-09-10-19-46-57","errorUrl":null,"homepage":"http://azure-cli-2018-09-10-19-46-57","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-09-10-19-46-57 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-09-10-19-46-57","id":"a3d8ae5d-0629-43e6-a31f-1a590d3de73d","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-09-10-19-46-57 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-09-10-19-46-57","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["6208dc34-a521-4132-8785-44d7fafa574b","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['4016801']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/0c627c53-78bc-419e-acd3-6df6d469c32c/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [+Vo1vaQr1J6K57B7CK/pVo20E97sFK7LOud+zxDHFNk=]
      ocp-aad-session-key: [qjaAqRaBW7D0qTRqPDCteVkh6Xa53iU36RQ10AnLpw-hHlEF6Fu6ezUJMbLtaJZ6qw4IwYjNRszKqO5RLL0Fgq_Hd7WuwUBMBgVYHpt-3zi0jF83S9qZn8zBZ-SciNxspWBcHdxj6Itj-9YfyTTfhg.zEy0DbFM6cP9ZHbw9_GYoHWajQCc3y9nzVAkRIKWrys]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-EUS?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: '{"location": "eastus", "properties": {"sku": {"name": "standalone"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-EUS?api-version=2015-11-01-preview
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"4cd9ad22-5ef6-4549-bbf7-3b5e4007d94b\",\r\n    \"portalUrl\": \"https://eus.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2fc9cbd920-c00c-427c-852b-8aaf38badaeb%2fresourcegroups%2fdefaultresourcegroup-eus%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2fdefaultworkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-eus\",\r\n
        \   \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\":
        \"standalone\"\r\n    },\r\n    \"retentionInDays\": 31,\r\n    \"features\":
        {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1\r\n    },\r\n    \"workspaceCapping\":
        {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Tue,
        11 Sep 2018 17:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   }\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-eus\",\r\n
        \ \"name\": \"DefaultWorkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-EUS\",\r\n
        \ \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\":
        \"eastus\"\r\n}"}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-eus?api-version=2015-11-01-preview
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"4c[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"workspaceResourceId": {"type":
      "string", "metadata": {"description": "Azure Monitor Log Analytics Resource
      ID"}}, "workspaceRegion": {"type": "string", "metadata": {"description": "Azure
      Monitor Log Analytics workspace region"}}, "solutionDeploymentName": {"type":
      "string", "metadata": {"description": "Name of the solution deployment"}}},
      "resources": [{"type": "Microsoft.Resources/deployments", "name": "[parameters(''solutionDeploymentName'')]",
      "apiVersion": "2017-05-10", "subscriptionId": "[split(parameters(''workspaceResourceId''),''/'')[2]]",
      "resourceGroup": "[split(parameters(''workspaceResourceId''),''/'')[4]]", "properties":
      {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2015-11-01-preview", "type": "Microsoft.OperationsManagement/solutions",
      "location": "[parameters(''workspaceRegion'')]", "name": "[Concat(''ContainerInsights'',
      ''('', split(parameters(''workspaceResourceId''),''/'')[8], '')'')]", "properties":
      {"workspaceResourceId": "[parameters(''workspaceResourceId'')]"}, "plan": {"name":
      "[Concat(''ContainerInsights'', ''('', split(parameters(''workspaceResourceId''),''/'')[8],
      '')'')]", "product": "[Concat(''OMSGallery/'', ''ContainerInsights'')]", "promotionCode":
      "", "publisher": "Microsoft"}}]}, "parameters": {}}}]}, "parameters": {"workspaceResourceId":
      {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-eus"},
      "workspaceRegion": {"value": "eastus"}, "solutionDeploymentName": {"value":
      "ContainerInsights-1536608855092"}}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/aks-monitoring-1536608855092","name":"aks-monitoring-1536608855092","properties":{"templateHash":"2594080513872835985","parameters":{"workspaceResourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-eus"},"workspaceRegion":{"type":"String","value":"eastus"},"solutionDeploymentName":{"type":"String","value":"ContainerInsights-1536608855092"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-09-10T19:47:38.0135475Z","duration":"PT0.9202564S","correlationId":"fb19f965-c518-47c8-a1b2-52ab36e11bfc","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/aks-monitoring-1536608855092/operationStatuses/08586649980283843256?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"location": "eastus", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliaksdns000004", "agentPoolProfiles": [{"name": "nodepool1", "count": 1, "vmSize":
      "Standard_DS2_v2", "osType": "Linux"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n"}]}}, "servicePrincipalProfile": {"clientId": "http://clitest000002",
      "secret": "78c91658-df02-4f70-8c32-66075c6b6c38"}, "addonProfiles": {"omsagent":
      {"enabled": true, "config": {"logAnalyticsWorkspaceResourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-eus"}}},
      "enableRBAC": true}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2018-03-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"kubernetesVersion\": \"1.9.9\",\n   \"dnsPrefix\": \"cliaksdns000004\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"storageProfile\": \"ManagedDisks\",\n
        \    \"maxPods\": 110,\n     \"osType\": \"Linux\"\n    }\n   ],\n   \"linuxProfile\":
        {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\":
        [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"http://clitest000002\"\n   },\n   \"addonProfiles\":
        {\n    \"omsagent\": {\n     \"enabled\": true,\n     \"config\": {\n      \"logAnalyticsWorkspaceResourceID\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-eus\"\n
        \    }\n    }\n   },\n   \"nodeResourceGroup\": \"MC_clitest000001_cliakstest000003_eastus\",\n
        \  \"enableRBAC\": true,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n
        \   \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\n
        \  }\n  }\n }"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/9f808f9e-6140-40b4-81c2-7b84e4a75a00?api-version=2017-08-31']
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586649980283843256?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/9f808f9e-6140-40b4-81c2-7b84e4a75a00?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"9e8f809f-4061-b440-81c2-7b84e4a75a00\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2018-09-10T19:47:41.6349274Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.Resources/deployments/aks-monitoring-1536608855092","name":"aks-monitoring-1536608855092","properties":{"templateHash":"2594080513872835985","parameters":{"workspaceResourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-eus"},"workspaceRegion":{"type":"String","value":"eastus"},"solutionDeploymentName":{"type":"String","value":"ContainerInsights-1536608855092"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2018-09-10T19:49:13.1478669Z","duration":"PT1M36.0545758S","correlationId":"fb19f965-c518-47c8-a1b2-52ab36e11bfc","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.OperationsManagement/solutions/ContainerInsights(defaultworkspace-c9cbd920-c00c-427c-852b-8aaf38badaeb-eus)"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUV1hEQzJRUzRGTi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
