interactions:
- request:
    body: '{"location": "eastus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['1255739']
      ocp-aad-diagnostics-server-name: [ebQrbCsVSayqudnQkepewePNN+0/zDgfVv/e3pL6KeY=]
      ocp-aad-session-key: [o6d9a4nny9kfXaJ569P02ha73yMVEb1uvH20flTSnskeQodKsxD4kapocOCr0hztjbUYqj8d0raHh8s9cDitxAYYFwLwtYdhywAkwB46t9BVb57F0fbWrApqWtZ27zzoZYWsE4ppbO4iJraYmBzFIzYbhuRliay8Feo5Jopw3NmuMzRrvXtTYeVVtP7uvDk6UiuBQYHl8Cj7sm0FM4O7dg.BTpBzvpQJm1xdCZPHi3PRG8mSQ7EKb00T5gq4WjzKv0]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "azure-cli-2018-01-24-20-35-43",
      "homepage": "http://azure-cli-2018-01-24-20-35-43", "identifierUris": ["http://clitest000002"],
      "passwordCredentials": [{"startDate": "2018-01-24T20:35:43.168232Z", "endDate":
      "2019-01-24T20:35:43.168232Z", "keyId": "e09eabd0-8e6f-46ae-8809-dfa60fbd79ad",
      "value": "e66ad637-e7bd-4cb2-b837-5f03b084db90"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"47477a19-b413-4036-ace9-a3f4ce015baf","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"8322f5ed-adf7-4931-8d40-28b0e53f60c2","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2018-01-24-20-35-43","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2018-01-24-20-35-43","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-01-24-20-35-43 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-01-24-20-35-43","id":"ff7ca080-1e56-4cb2-be7e-6c1d3cfe4e7a","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-01-24-20-35-43 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-01-24-20-35-43","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2019-01-24T20:35:43.168232Z","keyId":"e09eabd0-8e6f-46ae-8809-dfa60fbd79ad","startDate":"2018-01-24T20:35:43.168232Z","value":null}],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"tokenEncryptionKeyId":null,"isDeviceOnlyAuthSupported":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['3856909']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/47477a19-b413-4036-ace9-a3f4ce015baf/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [5stv4QctyxLjPHV9xBDTh2WNkwX68uZ2lNGZapY1qgU=]
      ocp-aad-session-key: [p9YjzNGWSpqdCTdF9h9EEg9LnvaRaUDUBTLoYpXSHh_y9mcKvupXtGMkCwApNcLBXPdIQMmpdsa3x4FxeSc5zz0ZIdSDPZ7w9SHlyHLK9RpzxDUnGQ6OHdrxvnMOAzSwiYYYQAhCzqvLUJbfUMXEyV36UX_cHys0EtgekLaDQhZA5cCUnbB5oKJVHBZe7Wo50gUwPYAEQ-29dg8vy4DkJQ.DCyTzODwdfBSZnU0kM7NGfPvxHjcQkonBGqVze5mLWU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "8322f5ed-adf7-4931-8d40-28b0e53f60c2", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"549d3c25-fb44-44cd-b5de-58a13fb1d825","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2018-01-24-20-35-43","appId":"8322f5ed-adf7-4931-8d40-28b0e53f60c2","appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2018-01-24-20-35-43","errorUrl":null,"homepage":"http://azure-cli-2018-01-24-20-35-43","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-01-24-20-35-43 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-01-24-20-35-43","id":"ff7ca080-1e56-4cb2-be7e-6c1d3cfe4e7a","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-01-24-20-35-43 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-01-24-20-35-43","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["8322f5ed-adf7-4931-8d40-28b0e53f60c2","http://clitest000002"],"servicePrincipalType":"Application","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['4390741']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/549d3c25-fb44-44cd-b5de-58a13fb1d825/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [UnB1dyVfhwVY3Vs+F9n0MgBThZibCNHiF4I7uellQRo=]
      ocp-aad-session-key: [S8gi2EwmvjpxJWFJOV530jwy6jlD8OKr9QZQsinqTolm2v5BnlbpgkQl5bDhlveqTkIfptTeYOgNq0NHWqpYsTEzupPZzvHVvRbiu_qID8zCG8RnxwgjcG6bZ-m7EbYw1a2qTsu73Wq4eXO4g5jB4zvIw719buaEQvpcoBOqgYsE2vEw72hcmtQde236lYppUTTJyP0SS9yiChFVcCEnCQ.ZpV9E2RHgeuqnkw-9AiyW3rkyisPAx5S5WIwkntxlV0]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''b\''{"location": "eastus", "tags": {"scenario_test": ""}, "properties":
      {"dnsPrefix": "cliaksdns000004", "kubernetesVersion": "1.7.7", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 3, "vmSize": "Standard_D1_v2", "dnsPrefix":
      "cliaksdns000004", "storageProfile": "ManagedDisks", "osType": "Linux"}], "linuxProfile":
      {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n"}]}}, "servicePrincipalProfile": {"clientId": "http://clitest000002",
      "secret": "e66ad637-e7bd-4cb2-b837-5f03b084db90"}}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2017-08-31
  response:
    body: {string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"message\": \"\
        Service principal clientID: http://clitest000002 not found in Active Directory\
        \ tenant 72f988bf-86f1-41af-91ab-2d7cd011db47, Please see https://aka.ms/acs-sp-help\
        \ for more details.\"\n }"}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 400, message: Bad Request}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2017-08-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\"\
        ,\n  \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"tags\"\
        : {\n   \"scenario_test\": \"\"\n  },\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\"\
        ,\n  \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"kubernetesVersion\"\
        : \"1.7.7\",\n   \"dnsPrefix\": \"cliaksdns000004\",\n   \"fqdn\": \"cliaksdns000004-08f2a272.hcp.eastus.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 3,\n     \"vmSize\": \"Standard_D1_v2\",\n     \"storageProfile\"\
        : \"ManagedDisks\",\n     \"osType\": \"Linux\"\n    }\n   ],\n   \"linuxProfile\"\
        : {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\"\
        : [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\"\
        : {\n    \"clientId\": \"http://clitest000002\"\n   }\n  }\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2017-08-31
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/686a8a21-e484-45b6-9935-3eeca17e6610?api-version=2017-08-31']
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/686a8a21-e484-45b6-9935-3eeca17e6610?api-version=2017-08-31']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/686a8a21-e484-45b6-9935-3eeca17e6610?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"218a6a68-84e4-b645-9935-3eeca17e6610\",\n  \"\
        status\": \"InProgress\",\n  \"startTime\": \"2018-01-24T20:47:09.8176568Z\"\
        \n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/686a8a21-e484-45b6-9935-3eeca17e6610?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"218a6a68-84e4-b645-9935-3eeca17e6610\",\n  \"\
        status\": \"Succeeded\",\n  \"startTime\": \"2018-01-24T20:47:09.8176568Z\"\
        ,\n  \"endTime\": \"2018-01-24T20:58:21.7282224Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%278322f5ed-adf7-4931-8d40-28b0e53f60c2%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/549d3c25-fb44-44cd-b5de-58a13fb1d825?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePri[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[{"odata.type":"Micr[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27549d3c25-fb44-44cd-b5de-58a13fb1d825%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/47477a19-b413-4036-ace9-a3f4ce015baf?api-version=1.6
  response:
    body: {string: ''}
    headers:
      dataserviceversion: [1.0;]
      duration: ['2500225']
      ocp-aad-diagnostics-server-name: [4faI+PQU6I9bj2peJs4PPsoHg3OyFdftj7Uo0GY4ujA=]
      ocp-aad-session-key: [J3CAOpvKssOaeqS5FePRIUl7ZMa82INC5eTEImi1AulA_S6nbgNWWlbbG8gSx1d3M0SDdjZhVTkGWsyOcTfseUxOEu-ybUVZ8tVGLqmVCJS7E_dFFe_V6BXKnbvgHIr8j2DiWjfXHZCKgBkkZ7ewTk7l69MuSCQDrN4uv3gRYB02BwiZPal_EhRhYflNqQUYswRYk664JuFZI6CdGYpEvA.6NQueoSEe1cADYGZ536A3_3v4nvXGtjLrJQ7GqVk7RU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUTlI1RUtGSVRSRi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
