interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-05-14T16:37:11Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-14T16:37:11Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5098053'
      ocp-aad-diagnostics-server-name:
      - XIO7CE0QfI29gkv/rclFvwZFGDvkYaGDXU34KDUMF3Q=
      ocp-aad-session-key:
      - TGVENnhmT-o6wGgzN7LhibZ81YbbJ1rf5tzmQMs1gPSIjCcqaxhdRIu1Zldz_yIRJoqGJPXo-JbpdXGPPqckip3pHyMdk6rN-DzNrtzOVetJiF4seMKRd1B5845Vn5awzhGrBRJJgI3srbnAUGUSHA.PxEYlF9RkT7vFom51LRNyLOwfMCUI2_SJicid8vvoHE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '679326'
      ocp-aad-diagnostics-server-name:
      - susOkr8YvnkWhpfwvEOXpfZ/acdphRpz4tl/Fe8Bm3M=
      ocp-aad-session-key:
      - gDbcJu-lVW8RZKXSywc_lfFmLygDqFE3iXIMich4OpHWskmMcQKk1DW7xJz3g62t9dH79QS7zHbV2476dddoYuV0vGiMp9T9LK9aR-YE7cXwFHEBiAolBut5_CqhCnqJOSp5LgCkdIlElFTwXBVvtA.OuK4RFUeJJb6l-5QZXUsVqyIPtH6hfMpVh4_WNxw2go
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "https://clitest000002",
      "passwordCredentials": [{"startDate": "2019-05-14T16:37:15.447532Z", "endDate":
      "2020-05-14T16:37:15.447532Z", "keyId": "cafd5211-909f-43c5-b2e6-e458fc7cf3a0",
      "value": "ff34c860-237c-4518-938e-b6d39bef9693", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "clitest000002", "identifierUris": ["http://clitest000002"]}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"6d786576-4cda-4a69-9520-8d5c548b5bfb","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"9ddedf33-cc4e-486b-8fac-bcbb89696a8f","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://clitest000002","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/6d786576-4cda-4a69-9520-8d5c548b5bfb/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/6d786576-4cda-4a69-9520-8d5c548b5bfb/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"3099cd26-ee5f-4b24-8bd1-d27e23cb612d","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-05-14T16:37:15.447532Z","keyId":"cafd5211-909f-43c5-b2e6-e458fc7cf3a0","startDate":"2019-05-14T16:37:15.447532Z","value":null}],"publicClient":null,"publisherDomain":"microsoft.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5709050'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/6d786576-4cda-4a69-9520-8d5c548b5bfb/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - aHT5PI9GgMnCtbkQT7/ZEgyUnSyF7IW2bcrqij4e/bI=
      ocp-aad-session-key:
      - gXG1Ydeier2X5qST2w8qPiHFNs-agAzAll94V29dwQN7Wmwp5_Ro6PpeOPEus-kieR61oXnFAljtuh-4ZChsv6uBDVyKLMTwBGtVPKG1Twqls1n4ZdgkX4qy41FX3VRKUIq4p03KUfw5svmkPoja6w.qVSnUTeTUDafDXBvR7ki6gPCqc2cJ08bUwRKkGKZLyo
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "9ddedf33-cc4e-486b-8fac-bcbb89696a8f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"eff01dd3-d20c-40d0-b6b2-15cab11a3e20","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitest000002","appId":"9ddedf33-cc4e-486b-8fac-bcbb89696a8f","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitest000002","errorUrl":null,"homepage":"https://clitest000002","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"3099cd26-ee5f-4b24-8bd1-d27e23cb612d","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["9ddedf33-cc4e-486b-8fac-bcbb89696a8f","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '10329857'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/eff01dd3-d20c-40d0-b6b2-15cab11a3e20/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - R24SEsKL6l8WwGja0LsRtb5gfSEzPaANsccbqgL6qjQ=
      ocp-aad-session-key:
      - ZblZh8xAR2PIOx_QsJ4oLvZTyemIBoKYTOPj57am9c6Onh3fFAAzuG2mzBGROQolkJezy6AcKKKmCMB0tSyR7Y3GdlAiIWshEnKqfrzISTQUbmXKxyTnKY9osChh7Jx-zOtUcDmsY0mS39fdJ_uMTQ.cRH4vkFL1FN8fUmtW9fAo_9m9QGtBIrEMOZU_wsOuJo
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["192.168.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "192.168.0.0/24"}, "name": "clisubnet000005"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004?api-version=2019-02-01
  response:
    body:
      string: "{\r\n  \"name\": \"clivnet000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004\",\r\n
        \ \"etag\": \"W/\\\"4ba999bf-303e-44b2-84ad-39c43ec8f3fd\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"b49dffec-3842-45da-b3ad-9c664200e156\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"clisubnet000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005\",\r\n
        \       \"etag\": \"W/\\\"4ba999bf-303e-44b2-84ad-39c43ec8f3fd\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"192.168.0.0/24\",\r\n          \"delegations\":
        []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/9e4cf85d-4a9b-4f3f-8ac0-91dfde0c8c17?api-version=2019-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/9e4cf85d-4a9b-4f3f-8ac0-91dfde0c8c17?api-version=2019-02-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"location": "eastus", "properties": {"kubernetesVersion":
      "", "dnsPrefix": "cliakstest-clitesthgvo3p4yb-c9cbd9", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS2_v2", "vnetSubnetID":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/clivnet000004/subnets/clisubnet000005",
      "osType": "Linux"}], "servicePrincipalProfile": {"clientId": "clitest000002",
      "secret": "ff34c860-237c-4518-938e-b6d39bef9693"}, "addonProfiles": {}, "enableRBAC":
      true}}\\\\\\\''\\\''\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2019-02-01
  response:
    body:
      string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"message\": \"Service
        principal clientID: clitest000002 not found in Active Directory tenant 72f988bf-86f1-41af-91ab-2d7cd011db47,
        Please see https://aka.ms/aks-sp-help for more details.\"\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%279ddedf33-cc4e-486b-8fac-bcbb89696a8f%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/eff01dd3-d20c-40d0-b6b2-15cab11a3e20?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"eff01dd3-d20c-40d0-b6b2-15cab11a3e20","del[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"6d786576-4cda[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27eff01dd3-d20c-40d0-b6b2-15cab11a3e20%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/6d786576-4cda-4a69-9520-8d5c548b5bfb?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3690029'
      ocp-aad-diagnostics-server-name:
      - zZhyt14zl0OhjZk/+0wTMqtIww9oR8AMqmXQ2MnPyJw=
      ocp-aad-session-key:
      - jeHO_8IX3w4PrpyKO5iFUBSbmTFNnG14cakDkzjBRbiX2z3sqRyUaZz1PSuOTJiPOaUh-fn2rySLFhmtxgwut5n4iFKDv3Hk9-D84KWQ3hhXIv-MzpP8PpLX_F3aQJYwRVBUbx04mSCKFvoTkCOFCA.XQ1eGZxeCRL_HCMjRz97NxfnnyLiEwiofN0tA275C-Y
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUSEdWTzNQNFlCSC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
