interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-29T20:10:16Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-29T20:10:16Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['532624']
      ocp-aad-diagnostics-server-name: [8FSoKn5C+xKnzMxVB24u9W0B3o/Ls6Mt3pri2fVg6OA=]
      ocp-aad-session-key: [x8dNCyWzkkUVJVVeVp5sx6DPidrDHe_bOMZpZNPktBTALNicpuMpBe1ZnWYLMNnknxz4HfzSnVAt4H_M4MhT859D-8DSt-v5dBIXKXE6Tw4U_7BlMrfDq4Sfp134Y7x7G7wOkQzPYR4audJMR8SNxg.GqxMwLYWjQcJHPnuo7gVUvsbny_2RcY7wyNwQD7JrYw]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "azure-cli-2018-08-29-20-10-23",
      "homepage": "http://azure-cli-2018-08-29-20-10-23", "identifierUris": ["http://clitest000002"],
      "passwordCredentials": [{"startDate": "2018-08-29T20:10:23.267472Z", "endDate":
      "2019-08-29T20:10:23.267472Z", "keyId": "6593457e-37b2-4426-8d7d-2a22253635e0",
      "value": "143adc81-dbb2-4eea-9edf-3b51603fac97"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"1070c6d9-944b-470f-9c10-8ba5d22d7776","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"161e82cd-70a9-4d4c-8c39-92e29fe48fc2","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2018-08-29-20-10-23","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2018-08-29-20-10-23","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-08-29-20-10-23 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-08-29-20-10-23","id":"38e3861b-6a58-4a2f-b352-de9f303628e1","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-08-29-20-10-23 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-08-29-20-10-23","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2019-08-29T20:10:23.267472Z","keyId":"6593457e-37b2-4426-8d7d-2a22253635e0","startDate":"2018-08-29T20:10:23.267472Z","value":null}],"publicClient":null,"publisherDomain":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['3462814']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/1070c6d9-944b-470f-9c10-8ba5d22d7776/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [WqKhWXvl1okXb47qljo0lPbR3WueJ7PneT8ez1L9elM=]
      ocp-aad-session-key: [7TLOtcBTs2ytkweYkkcofEpH0cwYyYx-8KDKOuiB3ICSrW9mMI8uRADLX-Lc28271del-R-gNowXPHM1sT7qhvdsk09ilmZvqHrYm3WcsYiKso4q8j7r4j36k_g0yWHt41Xy2YIJos9H7Nsr_wN1bA.vDU1EVvxl2yiBDot2Jg7fh7timM_Pk2QCHA8AzEti28]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "161e82cd-70a9-4d4c-8c39-92e29fe48fc2", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"3604ff1d-e194-472e-997b-cb77f3df5e03","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2018-08-29-20-10-23","appId":"161e82cd-70a9-4d4c-8c39-92e29fe48fc2","appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2018-08-29-20-10-23","errorUrl":null,"homepage":"http://azure-cli-2018-08-29-20-10-23","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-08-29-20-10-23 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-08-29-20-10-23","id":"38e3861b-6a58-4a2f-b352-de9f303628e1","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-08-29-20-10-23 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-08-29-20-10-23","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["161e82cd-70a9-4d4c-8c39-92e29fe48fc2","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['3449873']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/3604ff1d-e194-472e-997b-cb77f3df5e03/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [/lC86iJ3cwwJGyTWjAKYWDPkB/lyglon9hmrn0nLUXM=]
      ocp-aad-session-key: [xl0I_NtnYMdH3FI7KAVeDlrvaaMTVM4uXmAnWS7O5ISym1DxjYdSlyiGJkbOBN1VUZTggCgE4kutImpa1kol0X2RIz7sUUm7GqQtEbMuL7Jn8QLuz6HmI13fb_LPHMP9JWF6-0oBKgZxwltwlfLkbg.59i6r2BPFtgJkPH7V1TGT5ksf0FQ5IzpaJ6aHaGFNl0]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''b\''{"location": "eastus", "tags": {"scenario_test": ""}, "properties":
      {"kubernetesVersion": "1.8.11", "dnsPrefix": "cliaksdns000004", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS1_v2", "osType": "Linux"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n"}]}}, "servicePrincipalProfile": {"clientId": "http://clitest000002",
      "secret": "143adc81-dbb2-4eea-9edf-3b51603fac97"}, "addonProfiles": {}, "enableRBAC":
      true}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2018-03-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\"\
        ,\n  \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"tags\"\
        : {\n   \"scenario_test\": \"\"\n  },\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\"\
        ,\n  \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"kubernetesVersion\"\
        : \"1.8.11\",\n   \"dnsPrefix\": \"cliaksdns000004\",\n   \"agentPoolProfiles\"\
        : [\n    {\n     \"name\": \"nodepool1\",\n     \"count\": 1,\n     \"vmSize\"\
        : \"Standard_DS1_v2\",\n     \"storageProfile\": \"ManagedDisks\",\n     \"\
        maxPods\": 110,\n     \"osType\": \"Linux\"\n    }\n   ],\n   \"linuxProfile\"\
        : {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\"\
        : [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\"\
        : {\n    \"clientId\": \"http://clitest000002\"\n   },\n   \"nodeResourceGroup\"\
        : \"MC_clitest000001_cliakstest000003_eastus\",\n   \"enableRBAC\": true,\n\
        \   \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"podCidr\"\
        : \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\"\
        : \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\n   }\n  }\n\
        \ }"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/a29dc719-3864-47dd-be00-a99bd47e7698?api-version=2017-08-31']
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2018-03-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\"\
        ,\n  \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"tags\"\
        : {\n   \"scenario_test\": \"\"\n  },\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\"\
        ,\n  \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"kubernetesVersion\"\
        : \"1.8.11\",\n   \"dnsPrefix\": \"cliaksdns000004\",\n   \"fqdn\": \"cliaksdns000004-233cb81b.hcp.eastus.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 1,\n     \"vmSize\": \"Standard_DS1_v2\",\n     \"storageProfile\"\
        : \"ManagedDisks\",\n     \"maxPods\": 110,\n     \"osType\": \"Linux\"\n\
        \    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\": \"azureuser\"\
        ,\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\": \"\
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/orchestrators?api-version=2017-09-30&resource-type=managedClusters
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/orchestrators\"\
        ,\n  \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\"\
        ,\n  \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\"\
        : \"Kubernetes\",\n     \"orchestratorVersion\": \"1.7.7\",\n     \"upgrades\"\
        : [\n      {\n       \"orchestratorVersion\": \"1.7.9\"\n      },\n      {\n\
        \       \"orchestratorVersion\": \"1.7.12\"\n      },\n      {\n       \"\
        orchestratorVersion\": \"1.7.15\"\n      },\n      {\n       \"orchestratorVersion\"\
        : \"1.7.16\"\n      },\n      {\n       \"orchestratorVersion\": \"1.8.1\"\
        \n      },\n      {\n       \"orchestratorVersion\": \"1.8.2\"\n      },\n\
        \      {\n       \"orchestratorVersion\": \"1.8.6\"\n      },\n      {\n \
        \      \"orchestratorVersion\": \"1.8.7\"\n      },\n      {\n       \"orchestratorVersion\"\
        : \"1.8.10\"\n      },\n      {\n       \"orchestratorVersion\": \"1.8.11\"\
        \n      },\n      {\n       \"orchestratorVersion\": \"1.8.14\"\n      }\n\
        \     ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"\
        orchestratorVersion\": \"1.7.9\",\n     \"upgrades\": [\n      {\n       \"\
        orchestratorVersion\": \"1.7.12\"\n      },\n      {\n       \"orchestratorVersion\"\
        : \"1.7.15\"\n      },\n      {\n       \"orchestratorVersion\": \"1.7.16\"\
        \n      },\n      {\n       \"orchestratorVersion\": \"1.8.1\"\n      },\n\
        \      {\n       \"orchestratorVersion\": \"1.8.2\"\n      },\n      {\n \
        \      \"orchestratorVersion\": \"1.8.6\"\n      },\n      {\n       \"orchestratorVersion\"\
        : \"1.8.7\"\n      }[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003/upgradeProfiles/default?api-version=2018-03-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003/upgradeprofiles/default\"\
        ,\n  \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/managedClusters/upgradeprofiles\"\
        ,\n  \"properties\": {\n   \"controlPlaneProfile\": {\n    \"kubernetesVersion\"\
        : \"1.8.11\",\n    \"osType\": \"Linux\",\n    \"upgrades\": [\n     \"1.8.14\"\
        ,\n     \"1.9.1\",\n     \"1.9.2\",\n     \"1.9.6\",\n     \"1.9.9\",\n  \
        \   \"1.9.10\"\n    ]\n   },\n   \"agentPoolProfiles\": [\n    {\n     \"\
        kubernetesVersion\": \"1.8.11\",\n     \"osType\": \"Linux\",\n     \"upgrades\"\
        : [\n      \"1.8.14\",\n      \"1.9.1\",\n      \"1.9.2\",\n      \"1.9.6\"\
        ,\n      \"1.9.9\",\n      \"1.9.10\"\n     ]\n    }\n   ]\n  }\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "eastus", "tags": {"scenario_test": ""}, "properties":
      {"kubernetesVersion": "1.8.11", "dnsPrefix": "cliaksdns000004", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS1_v2", "maxPods": 110,
      "osType": "Linux"}], "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys":
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\n"}]}}, "addonProfiles": {"httpApplicationRouting": {"enabled":
      true}}, "enableRBAC": true, "networkProfile": {"networkPlugin": "kubenet", "podCidr":
      "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16"}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2018-03-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Micros[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/642b8d6d-ee6b-46e9-b49e-a42258ccd482?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"6d8d2b64-6bee-e946-b49e-a42258ccd482\",\n  \"\
        status\": \"InProgress\",\n  \"startTime\": \"2018-08-29T20:28:54.7086314Z\"\
        \n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/642b8d6d-ee6b-46e9-b49e-a42258ccd482?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"6d8d2b64-6bee-e946-b49e-a42258ccd482\",\n  \"\
        status\": \"Succeeded\",\n  \"startTime\": \"2018-08-29T20:28:54.7086314Z\"\
        ,\n  \"endTime\": \"2018-08-29T20:36:23.3436839Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2018-03-31
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000003''
        under resource group ''clitest000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27161e82cd-70a9-4d4c-8c39-92e29fe48fc2%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectorySer[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/3604ff1d-e194-472e-997b-cb77f3df5e03?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","obje[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"1070c6d9-944b-470f-9c10-8ba5d22d7776","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"161e82cd-70a9-4d4c-8c39-92e29fe48fc2","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2018-08-29-20-10-23","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2018-08-29-20-10-23","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/1070c6d9-944b-470f-9c10-8ba5d22d7776/Microsoft.DirectoryServices.Application/logo","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/1070c6d9-944b-470f-9c10-8ba5d22d7776/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-08-29-20-10-23 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-08-29-20-10-23","id":"38e3861b-6a58-4a2f-b352-de9f303628e1","isEnabled":true,"ty[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%273604ff1d-e194-472e-997b-cb77f3df5e03%27&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/1070c6d9-944b-470f-9c10-8ba5d22d7776?api-version=1.6
  response:
    body: {string: ''}
    headers:
      dataserviceversion: [1.0;]
      duration: ['2377959']
      ocp-aad-diagnostics-server-name: [pnOScdeawrYYFPJuX1Io7DBmy+ms5G0/BcDi1ugwLKQ=]
      ocp-aad-session-key: [_nMkkxdhjJWWHuopdVW3cFcQIJ6tr3jbtarbXZEMxZLxpiXuBYHqv-cyQ5epRdeVbXAr6oAQbGnao5T7EYhv_MTIfAQRiKgyMKvgseqKHRkeYQmSnplmf_ERzlG06GY3i6MH4ja4LCsChpJmUyZ_Ng.BxYZyDSKhE1yHn-wBw7iDoUZKde3WNJtDiMVrGk0Fug]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUWFQ3UjVKTkVXUC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
