interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-05-02T17:39:32Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2019-05-02T17:39:32Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1070303'
      ocp-aad-diagnostics-server-name:
      - 1vwxn/l57W3Dd2ohndO/5RgzoNUBgjKIAnyMf7p0r4k=
      ocp-aad-session-key:
      - GW0xz4lCZLmjcV3TFjplq6vHPTsyuVYnDVzyVbEf_G9vYwPXkKI_FyK7lKTkeN8Cnu98rYWbmB6AbtMWXqEanXe6QqxF7kUpcnk9NFslPuG0WWWBYosUYfg2-Mwi9umU88QaIW7aQi6WiIVeE3mMsg.He1ulWZcSedU2X6dhc7d-2OFLfznHTGN-1rAiHwTXLs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27clitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '483191'
      ocp-aad-diagnostics-server-name:
      - Fuw7pWZk9Llcydv7mNwwV9q9vcS0e94h6oFBoH/ulRQ=
      ocp-aad-session-key:
      - J4SSrHIxT-R3M1XScZYD00SFxa7iMOBai996GLBTi9Dr-TZq8BTHYfJVCjIj1uH5H-cB-XHxv7DAXKrnKyXLmyOfm2cE0GdFzHbukqEJOw9KRi1gAxflDETfMb3roH-fNN7St7-DRz_XqkoR5VqyLA.Yak5exuNhExDkUoFAHIXG0ip96Lvqes-BfAcRuTc0FA
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"availableToOtherTenants": false, "homepage": "https://clitest000002",
      "passwordCredentials": [{"startDate": "2019-05-02T17:39:36.424203Z", "endDate":
      "2020-05-02T17:39:36.424203Z", "keyId": "11ccd082-62d7-4e67-a20a-f6ad4db98253",
      "value": "9680d887-1ec8-4537-8e42-c5436278c9dd", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "clitest000002", "identifierUris": ["http://clitest000002"]}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"78988512-b9c8-432e-8617-6ee4791402fe","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"5c839f62-1df8-43f9-9733-ac71a64096e5","applicationTemplateId":null,"appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","errorUrl":null,"groupMembershipClaims":null,"homepage":"https://clitest000002","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/78988512-b9c8-432e-8617-6ee4791402fe/Microsoft.DirectoryServices.Application/logo","logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/78988512-b9c8-432e-8617-6ee4791402fe/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"1d638252-dee1-4cf7-ab49-bbde143ad523","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":"//5yAGIAYQBjAA==","endDate":"2020-05-02T17:39:36.424203Z","keyId":"11ccd082-62d7-4e67-a20a-f6ad4db98253","startDate":"2019-05-02T17:39:36.424203Z","value":null}],"publicClient":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2901553'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/78988512-b9c8-432e-8617-6ee4791402fe/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - iBe0QwUqe2kxvM0RuOLDPalMes+SCbjDZc1pXmRLqq4=
      ocp-aad-session-key:
      - Yk4Vceiw-l-h-voN2-Sa0bmW862Gq0egRz7eITxcbUMyz_6J6gSfFs7sUbse5HMU8q3FDP5l7vNK7brF0xZK2pFIox5IgekZHDH-fLvpbVRckGkG9hoKtk7oXC36Ucb29kTAEu6T9BQfCw67DMrrmA.EZS1M-w8PQ6ee3QBpreg9mkBGURjl76mPSSn4_N9BVg
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "5c839f62-1df8-43f9-9733-ac71a64096e5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"c547b1c4-0f62-4d46-8c08-5bb8b46aff24","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitest000002","appId":"5c839f62-1df8-43f9-9733-ac71a64096e5","applicationTemplateId":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitest000002","errorUrl":null,"homepage":"https://clitest000002","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"1d638252-dee1-4cf7-ab49-bbde143ad523","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["5c839f62-1df8-43f9-9733-ac71a64096e5","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1603947'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/c547b1c4-0f62-4d46-8c08-5bb8b46aff24/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - +i/Z4hAbtnUv8GUTjtLUQH8z9Wzcl8K6N3Y4i1a4li4=
      ocp-aad-session-key:
      - aAAA4Jf0lUUy2qigCpXCDCYvvT_G4lNuzz37BbY7m7XVQELYwd8z2pzsKuKdPDSIgK-HJ7n1ODfMOpT12GH69AS3Fy1lIJaCkriR6HHGv6tsk4J3yQXtx870lRHPzVjEEOW1jdsK6cESuz6pw_YdXw.afAwi_Qw7uOEyMWU4jScUNCYmbIaJcJHLOaofcEEGZ4
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''b\''{"location": "eastus", "properties": {"kubernetesVersion": "", "dnsPrefix":
      "cliaksdns000004", "agentPoolProfiles": [{"name": "nodepool1", "count": 1, "vmSize":
      "Standard_DS2_v2", "osType": "Linux"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n"}]}}, "servicePrincipalProfile": {"clientId": "clitest000002",
      "secret": "9680d887-1ec8-4537-8e42-c5436278c9dd"}, "addonProfiles": {}, "enableRBAC":
      true}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2019-02-01
  response:
    body:
      string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"message\": \"Service
        principal clientID: clitest000002 not found in Active Directory tenant 54826b22-38d6-4fb2-bad9-b7b93a3e9c5a,
        Please see https://aka.ms/aks-sp-help for more details.\"\n }"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%275c839f62-1df8-43f9-9733-ac71a64096e5%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/c547b1c4-0f62-4d46-8c08-5bb8b46aff24?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"c547b1c4-0f62-4d46-8c08-5bb8b46aff24","del[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"78988512-b9c8[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27c547b1c4-0f62-4d46-8c08-5bb8b46aff24%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/78988512-b9c8-432e-8617-6ee4791402fe?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '2401879'
      ocp-aad-diagnostics-server-name:
      - Y+zD48Ehiz4O0zsLgVLhmty83vCQXyE4/pJnc8xhwMg=
      ocp-aad-session-key:
      - ciawDk2q8dmFKdcxpLdDLPi4-bS0idO83QMfskg-O2IR4-XTwmskGwrv_X4Y1SdBNTZO2zx3WQBK2VxLaxupt1urwfqAcfvR2iFVPvIaobJNusAkU0DPYluDzV0rZ8W9NlUNxPqoahfOUj06eLC5pw.LDheBwzmlspbOiyZ1qQiPoiBzdnEUrRbznolMLnBWF8
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUUEFQQ0RENTZURC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
