interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-04-09T20:55:13Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2018-04-09T20:55:13Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['512362']
      ocp-aad-diagnostics-server-name: [IENUBJawjVCNeOFfPW1GFeJcp26vWA0p4gBL1NaxNik=]
      ocp-aad-session-key: [AJxDwj8vDuomsMNLNyPjFvm8XmmE9nRL3S6Ox3TVPFLTvRYnwBWaxnEKaGgpbP0QP66886uB0K8V1JGkJg5ejwpmPR2cf0WxWNv2cAQ7LJ4igf1pB_dG061FOoDaaUWVJSXfLHPWI0CsxpXjYlUppw.2ghPBEDvlctKVoeiA0r2IP0h1HrayhYyTES6J85gYs8]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "azure-cli-2018-04-09-20-55-18",
      "homepage": "http://azure-cli-2018-04-09-20-55-18", "identifierUris": ["http://clitest000002"],
      "passwordCredentials": [{"startDate": "2018-04-09T20:55:18.477134Z", "endDate":
      "2019-04-09T20:55:18.477134Z", "keyId": "92498b3f-697e-4c99-b0b0-8dfa1f49e97b",
      "value": "08c4b4a5-42d4-4fa2-acd1-81a833daf8ad"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"492abc29-ddb8-4b58-ac5b-7f9cdfa61a1b","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"90f99770-2dcd-4cd9-829c-7fd7ba580582","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2018-04-09-20-55-18","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2018-04-09-20-55-18","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":false,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-04-09-20-55-18 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-04-09-20-55-18","id":"cdb5be93-a847-4ca8-99f6-68e0800e5f45","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-04-09-20-55-18 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-04-09-20-55-18","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2019-04-09T20:55:18.477134Z","keyId":"92498b3f-697e-4c99-b0b0-8dfa1f49e97b","startDate":"2018-04-09T20:55:18.477134Z","value":null}],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['3373777']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/492abc29-ddb8-4b58-ac5b-7f9cdfa61a1b/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [I4v0qcnOlje1nXMrnV4NRb3YM/2Yho5JJMkIV0jxR4s=]
      ocp-aad-session-key: [F2_qXMYoOpHzZzot60PC6x6rUQuv-WD_TugKhICfXovtwfFECfT2iQ_4wEPViaZu-Cexv2Y58nMJTs2BYJAzoW7LvPMIQdjOMBWl0dbNn5fJ3FTthFtNxvpFPUGyatMK6Aj7ejyWxR5QJTLVF077Aw.5N6PE560_pICbDzR7G7CtswiFW9SA3sxp8RD_JHU6xY]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "90f99770-2dcd-4cd9-829c-7fd7ba580582", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"704354f1-48af-49b9-9ef1-61ecb4ae9120","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2018-04-09-20-55-18","appId":"90f99770-2dcd-4cd9-829c-7fd7ba580582","appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2018-04-09-20-55-18","errorUrl":null,"homepage":"http://azure-cli-2018-04-09-20-55-18","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-04-09-20-55-18 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-04-09-20-55-18","id":"cdb5be93-a847-4ca8-99f6-68e0800e5f45","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-04-09-20-55-18 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-04-09-20-55-18","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["90f99770-2dcd-4cd9-829c-7fd7ba580582","http://clitest000002"],"servicePrincipalType":"Application","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['2703120']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/704354f1-48af-49b9-9ef1-61ecb4ae9120/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [H0ECu2C3fj445zUSyWW2cfK9qFomYi0t8wudfuiYe+I=]
      ocp-aad-session-key: [C5Iq5htrwiecmEizy-bUGzoZ6L-6RaylWyh66BZbQ7UiK2cPHelw7DWiktqS7KlAPSaI3giGS1D3PVjOWnY-yjgBz0mtfRw590Nix-Ymr__3UAVlZWz-LQhocHNMaT2XDHiruUitm5_KWHTGeFmZZA._7KXUztVr49d0CzjkAq1Q-obSsdqmvRJDEqffZjhYZA]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/orchestrators?api-version=2017-09-30&resource-type=managedClusters
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/orchestrators\"\
        ,\n  \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\"\
        ,\n  \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\"\
        : \"Kubernetes\",\n     \"orchestratorVersion\": \"1.7.9\",\n     \"upgrades\"\
        : [\n      {\n       \"orchestratorVersion\": \"1.8.10\"\n      },\n     \
        \ {\n       \"orchestratorVersion\": \"1.8.7\"\n      },\n      {\n      \
        \ \"orchestratorVersion\": \"1.8.1\"\n      },\n      {\n       \"orchestratorVersion\"\
        : \"1.8.6\"\n      },\n      {\n       \"orchestratorVersion\": \"1.7.12\"\
        \n      },\n      {\n       \"orchestratorVersion\": \"1.7.15\"\n      },\n\
        \      {\n       \"orchestratorVersion\": \"1.8.2\"\n      }\n     ]\n   \
        \ },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"orchestratorVersion\"\
        : \"1.8.10\",\n     \"upgrades\": [\n      {\n       \"orchestratorVersion\"\
        : \"1.9.6\"\n      },\n      {\n       \"orchestratorVersion\": \"1.9.1\"\n\
        \      },\n      {\n       \"orchestratorVersion\": \"1.9.2\"\n      }\n \
        \    ]\n    },\n    {\n     \"orchestratorType\": \"Kubernetes\",\n     \"\
        orchestratorVersion\": \"1.9.6\"\n    },\n    {\n     \"orchestratorType\"\
        : \"Kubernetes\",\n     \"orchestratorVersion\": \"1.8.7\",\n     \"upgrades\"\
        : [\n      {\n       \"[...]
[...]
- request:
    body: 'b''b\''{"location": "eastus", "properties": {"dnsPrefix": "cliaksdns000004",
      "kubernetesVersion": "1.8.10", "agentPoolProfiles": [{"name": "nodepool1", "count":
      1, "vmSize": "Standard_DS1_v2", "dnsPrefix": "cliaksdns000004", "storageProfile":
      "ManagedDisks", "osType": "Linux"}], "linuxProfile": {"adminUsername": "azureuser",
      "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n"}]}}, "servicePrincipalProfile": {"clientId": "http://clitest000002",
      "secret": "08c4b4a5-42d4-4fa2-acd1-81a833daf8ad"}}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2017-08-31
  response:
    body: {string: "{\n  \"code\": \"ServicePrincipalNotFound\",\n  \"message\": \"\
        Service principal clientID: http://clitest000002 not found in Active Directory\
        \ tenant 72f988bf-86f1-41af-91ab-2d7cd011db47, Please see https://aka.ms/acs-sp-help\
        \ for more details.\"\n }"}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 400, message: Bad Request}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/cc23874e-ade2-445c-9eb4-e242f00a466b?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"4e8723cc-e2ad-5c44-9eb4-e242f00a466b\",\n  \"\
        status\": \"InProgress\",\n  \"startTime\": \"2018-04-09T20:55:43.6837801Z\"\
        \n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/cc23874e-ade2-445c-9eb4-e242f00a466b?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"4e8723cc-e2ad-5c44-9eb4-e242f00a466b\",\n  \"\
        status\": \"Succeeded\",\n  \"startTime\": \"2018-04-09T20:55:43.6837801Z\"\
        ,\n  \"endTime\": \"2018-04-09T21:07:07.1030504Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2017-08-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\"\
        ,\n  \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"type\"\
        : \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n \
        \  \"provisioningState\": \"Succeeded\",\n   \"kubernetesVersion\": \"1.8.10\"\
        ,\n   \"dnsPrefix\": \"cliaksdns000004\",\n   \"fqdn\": \"cliaksdns000004-3f150123.hcp.eastus.azmk8s.io\"\
        ,\n   \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n   \
        \  \"count\": 1,\n     \"vmSize\": \"Standard_DS1_v2\",\n     \"storageProfile\"\
        : \"ManagedDisks\",\n     \"osType\": \"Linux\"\n    }\n   ],\n   \"linuxProfile\"\
        : {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\"\
        : [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==\
        \ test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\"\
        : {\n    \"clientId\": \"http://clitest000002\"\n   }\n  }\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003/upgradeProfiles/default?api-version=2017-08-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003/upgradeprofiles/default\"\
        ,\n  \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/managedClusters/upgradeprofiles\"\
        ,\n  \"properties\": {\n   \"controlPlaneProfile\": {\n    \"kubernetesVersion\"\
        : \"1.8.10\",\n    \"osType\": \"Linux\",\n    \"upgrades\": [\n     \"1.9.1\"\
        ,\n     \"1.9.2\",\n     \"1.9.6\"\n    ]\n   },\n   \"agentPoolProfiles\"\
        : [\n    {\n     \"kubernetesVersion\": \"1.8.10\",\n     \"osType\": \"Linux\"\
        ,\n     \"upgrades\": [\n      \"1.9.1\",\n      \"1.9.2\",\n      \"1.9.6\"\
        \n     ]\n    }\n   ]\n  }\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2017-08-31
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/d4692ad2-d04c-4e89-9ad1-fe2940be5e5d?api-version=2017-08-31']
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operationresults/d4692ad2-d04c-4e89-9ad1-fe2940be5e5d?api-version=2017-08-31']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2790f99770-2dcd-4cd9-829c-7fd7ba580582%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/704354f1-48af-49b9-9ef1-61ecb4ae9120?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePri[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[{"odata.type":"Micr[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27704354f1-48af-49b9-9ef1-61ecb4ae9120%27&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/492abc29-ddb8-4b58-ac5b-7f9cdfa61a1b?api-version=1.6
  response:
    body: {string: ''}
    headers:
      dataserviceversion: [1.0;]
      duration: ['2595660']
      ocp-aad-diagnostics-server-name: [+EOS4aiuOEFJVZdbhjMw16/+oK92lidT3YUz+JU856Q=]
      ocp-aad-session-key: [vdxkJKXoccgQMR9S35PrsqsnHqHkQTT4dcsduj_aDJlckVgOaweuJlibYyp41eJ-9B28pdtd4MZLz1k8SKgickiyf_uqbLFs5dIjyC2IvXhIiwHsWVO8LyTRaj-stQFZ4PbV3VC7XXZJz3DhK6GAsQ.aXk5zFxhSFCW-cn4bkUvi1q-8fuGFIFGnsLQVGZ8jfE]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUVlhHWkZWNFNCUi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
