interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-27T23:21:45Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001","name":"clitestosa000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-27T23:21:45Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "clitest000002", "identifierUris":
      ["http://clitest000002"], "passwordCredentials": [{"startDate": "2018-09-27T23:21:47.517812Z",
      "endDate": "2019-09-27T23:21:47.517812Z", "keyId": "2ff12b9d-7813-4799-ace3-da2810319601",
      "value": "clitest000002"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"c7c9feff-5f0a-4376-836c-df9159d4aa0c","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"81f8c91c-325b-4d88-8db2-40a25dc1fb37","appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","errorUrl":null,"groupMembershipClaims":null,"homepage":null,"identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"967c9f49-2643-4821-9451-9ade70ccc230","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest000002 on your behalf.","userConsentDisplayName":"Access
        clitest000002","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2019-09-27T23:21:47.517812Z","keyId":"2ff12b9d-7813-4799-ace3-da2810319601","startDate":"2018-09-27T23:21:47.517812Z","value":null}],"publicClient":null,"publisherDomain":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['6967117']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/c7c9feff-5f0a-4376-836c-df9159d4aa0c/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [64ZBYS/rhn9X5IrXsifmDxTyaADWHKUPnfRbwFlkKUg=]
      ocp-aad-session-key: [O3_s0EYFSOhNHiEZYlRDe_4RXvavwQEJvIuCFBDGT0rMRas_2FVtkidvejJJetp4f3JRs57hZPlhwVoE0OxjC2nfU-Atky70gL-209ZjAdAE3JIaTyjSt354sQij1sRJPfMIHqFTYVzEGRRuY3P8_bfbhjtfmvulc1HmJuzwo81WeILYj41tgphkBHgE9hOA3OgeG4pSoFg_63VBLlv24g.8QOfY1FWgTuxNbWsYAexEmXCf5988FgZu_6TA7AcyR0]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''b\''{"location": "eastus", "tags": {"scenario_test": ""}, "properties":
      {"openShiftVersion": "v3.10", "fqdn": "clitestosa000003.eastus.cloudapp.azure.com",
      "routerProfiles": [{"name": "default"}], "masterPoolProfile": {"name": "master",
      "count": 3, "vmSize": "Standard_D2s_v3", "osType": "Linux"}, "agentPoolProfiles":
      [{"name": "compute", "count": 1, "vmSize": "Standard_D4s_v3", "osType": "Linux",
      "role": "compute"}, {"name": "infra", "count": 2, "vmSize": "Standard_D4s_v3",
      "osType": "Linux", "role": "infra"}], "authProfile": {"identityProviders": [{"name":
      "Azure AD", "provider": {"kind": "AADIdentityProvider", "clientId": "81f8c91c-325b-4d88-8db2-40a25dc1fb37",
      "secret": "clitest000002", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"}}]}}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003?api-version=2018-09-30-preview
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001/pro[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003?api-version=2018-09-30-preview
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001/providers/Microsoft.ContainerService/openshiftmanagedClusters/clitestosa000003\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"clitestosa000003\",\n  \"tags\":
        {\n   \"scenario_test\": \"\"\n  },\n  \"type\": \"Microsoft.ContainerService/OpenShiftManagedClusters\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"openShiftVersion\":
        \"v3.10\",\n   \"fqdn\": \"clitestosa000003.eastus.cloudapp.azure.com\",\n
        \  \"routerProfiles\": [\n    {\n     \"name\": \"default\",\n     \"publicSubdomain\":
        \"77f9d618c6144ad6b709.eastus.int.aksapp.io\",\n     \"fqdn\": \"osa9d99589b4c16432b9f21.eastus.cloudapp.azure.com\"\n
        \   }\n   ],\n   \"masterPoolProfile\": {\n    \"count\": 3,\n    \"vmSize\":
        \"Standard_D2s_v3\"\n   },\n   \"agentPoolProfiles\": [\n    {\n     \"name\":
        \"compute\",\n     \"count\": 1,\n     \"vmSize\": \"Standard_D4s_v3\",\n
        \    \"osType\": \"Linux\",\n     \"role\": \"compute\"\n    },\n    {\n     \"name\":
        \"infra\",\n     \"count\": 2,\n     \"vmSize\": \"Standard_D4s_v3\",\n     \"osType\":
        \"Linux\",\n     \"role\": \"infra\"\n    }\n   ],\n   \"authProfile\": {\n
        \   \"identityProviders\": [\n     {\n      \"name\": \"Azure AD\",\n      \"provider\":
        {\n       \"kind\": \"AADIdentityProvider\",\n       \"clientId\": \"81f8c91c-325b-4d88-8db2-40a25dc1fb37\",\n
        \      \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n      }\n     }\n
        \   ]\n   }\n  }\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003?api-version=2018-09-30-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/9f1045fd-2d60-4cc2-bf82-f986bf6e14ae?api-version=2017-08-31']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operationresults/9f1045fd-2d60-4cc2-bf82-f986bf6e14ae?api-version=2017-08-31']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/9f1045fd-2d60-4cc2-bf82-f986bf6e14ae?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"fd45109f-602d-c24c-bf82-f986bf6e14ae\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2018-09-27T23:33:06.0999664Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/9f1045fd-2d60-4cc2-bf82-f986bf6e14ae?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"fd45109f-602d-c24c-bf82-f986bf6e14ae\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2018-09-27T23:33:06.0999664Z\",\n  \"endTime\":
        \"2018-09-27T23:44:46.1371346Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestosa000001/providers/Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003?api-version=2018-09-30-preview
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/openShiftManagedClusters/clitestosa000003''
        under resource group ''clitestosa000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%2781f8c91c-325b-4d88-8db2-40a25dc1fb37%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['715409']
      ocp-aad-diagnostics-server-name: [Zd5WAvvhFiXEGhyCaTKadU4m8fPlsgyEroxPvDDhe7Q=]
      ocp-aad-session-key: [yjTqe7pnq3rPdRxvI2SAV3HNXiHyvA6Pl6-C_i_TKxY21vlNekvShojrinBBF26wOrw0OGdglLMn9vtmm5dZN07ULd3t5agGLU8zWMLAH-o8vRZn9-1iwlgbtR9McgZ3.EQSoT8MTWdLYH7luTVZw6wAP1y9hC5xrgXr1J4MQJfM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%2781f8c91c-325b-4d88-8db2-40a25dc1fb37%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"c7c9feff-5f0a-4376-836c-df9159d4aa0c","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"81f8c91c-325b-4d88-8db2-40a25dc1fb37","appRoles":[],"availableToOtherTenants":false,"displayName":"clitest000002","errorUrl":null,"groupMembershipClaims":null,"homepage":null,"identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/c7c9feff-5f0a-4376-836c-df9159d4aa0c/Microsoft.DirectoryServices.Application/logo","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/c7c9feff-5f0a-4376-836c-df9159d4aa0c/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest000002 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest000002","id":"967c9f49-2643-4821-9451-9ade70ccc230","isEnabled":true,"type":"User","userConsentDescripti[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/c7c9feff-5f0a-4376-836c-df9159d4aa0c?api-version=1.6
  response:
    body: {string: ''}
    headers:
      dataserviceversion: [1.0;]
      duration: ['33726847']
      ocp-aad-diagnostics-server-name: [zrI4MzrVqM7RHV8tW36JIjJmwph116S3JEqmot1JMZE=]
      ocp-aad-session-key: [cFmPz_25Ohx3ItlBiHdzb1swCIyUe9OdAoo4Cznie4PtHA8Cuf32GFUK5lUM4Snbxdjn2aHnkfb9N2Xp8ABZ7Xnz_qIPPeTqvTTvKpTcSO7J_UEpM1X5FtoMuQN-iX7zTx0Dln_izpoqAYXjIGx189pOsEcWbitBKlY40-zv40aEIoWOSAWa2c5Br7aqxNJ9pACdtdrvvZLaPYTVxhce_w.x5Cbd75Dw2JvEfRPIQEM6Y1k-FCRu0x4TNnN_un413I]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitestosa000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUT1NBWVhLUTQyTy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
