interactions:
- request:
    body: '{"location": "eastus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-11T15:42:22Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-11T15:42:22Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['799658']
      ocp-aad-diagnostics-server-name: [Ctepklg2J0Yv0+dqQJ0Z2DWorgOts60ilDVLun/aW5g=]
      ocp-aad-session-key: [fEsgRBXkP9EI6S3iicDkQUqb3z8zwuxhLJI3PkKHcG_Io11AzUF31_-GXiGxwgLbwUJV4-j0sLHbNuirsN1vFnOlU5ArnPwyZWVI6YPWVaeedS0NDLoZH5vVPhycRQMt.mw1M_s0e05uud8P7sYQHS7p8KIoR9NpgMnEKvcnvsOE]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"availableToOtherTenants": false, "displayName": "azure-cli-2018-09-11-15-42-28",
      "homepage": "http://azure-cli-2018-09-11-15-42-28", "identifierUris": ["http://clitest000002"],
      "passwordCredentials": [{"startDate": "2018-09-11T15:42:28.834296Z", "endDate":
      "2019-09-11T15:42:28.834296Z", "keyId": "f2483c36-6263-47d4-9a7e-813711b45df7",
      "value": "8d9b176a-1c26-4cb2-8c8a-2afd1352f1c5"}]}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"36cf4291-f594-46c9-b240-57f9815f5fd0","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"d6b076e4-20f4-4035-884e-f166be12c7b6","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2018-09-11-15-42-28","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2018-09-11-15-42-28","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-09-11-15-42-28 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-09-11-15-42-28","id":"f72433f9-78b3-4f9b-8d81-b1b4662f174f","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-09-11-15-42-28 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-09-11-15-42-28","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2019-09-11T15:42:28.834296Z","keyId":"f2483c36-6263-47d4-9a7e-813711b45df7","startDate":"2018-09-11T15:42:28.834296Z","value":null}],"publicClient":null,"publisherDomain":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['7017196']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/36cf4291-f594-46c9-b240-57f9815f5fd0/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [Lvh0/G78olXOk4T0L5DDgaqMqxW05ALila/UzU46pxE=]
      ocp-aad-session-key: [aodmBh4L0dbjuj2DqQpwYCaFWsvCD0LSgtUrT9luui10NeksclQbkp9HnD4cK7VRAQs8cyXPdVqxsTmFNANb-RL1MvNyV8KCo84-n8eleNUFrbq0Q9KOsEGkngZV8gPIBmDAlbnjMem06Hg0Ij8Hfw.-72A20ZUyrLNgn-z-cpgA0Vpo9U2IbieiKF_rVJ3vUU]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "d6b076e4-20f4-4035-884e-f166be12c7b6", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"a82a88bf-27fb-45ac-b789-701f0cc21834","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2018-09-11-15-42-28","appId":"d6b076e4-20f4-4035-884e-f166be12c7b6","appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2018-09-11-15-42-28","errorUrl":null,"homepage":"http://azure-cli-2018-09-11-15-42-28","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-09-11-15-42-28 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-09-11-15-42-28","id":"f72433f9-78b3-4f9b-8d81-b1b4662f174f","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2018-09-11-15-42-28 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2018-09-11-15-42-28","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["d6b076e4-20f4-4035-884e-f166be12c7b6","http://clitest000002"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['4311992']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/a82a88bf-27fb-45ac-b789-701f0cc21834/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [MMNpM+Iz2yBvvf+Oc4D7IA0nZD5jNPjSkaGpHqkyRbc=]
      ocp-aad-session-key: [7OxOsqHYmKzGf4nW8qLJVgqZP3RjedHFuWQhrDpGU0onK2J8T84korzKG39p29SBGfUoXOIB-eZQh2wahdd0ux7PoHC3dyzne8oBkpyoq0wVB7yCqSQ3es8kDygrjSFOC7dDve57N_Jcbaeu0aAFsQ.wSemGEwpTACqlRJKjYwxBdV1X9_0Gl526FiNTh4Eu84]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''b\''{"location": "eastus", "tags": {"scenario_test": ""}, "properties":
      {"kubernetesVersion": "1.8.11", "dnsPrefix": "cliaksdns000004", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS1_v2", "osType": "Linux"}],
      "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\\\n"}]}}, "servicePrincipalProfile": {"clientId": "http://clitest000002",
      "secret": "8d9b176a-1c26-4cb2-8c8a-2afd1352f1c5"}, "addonProfiles": {}, "enableRBAC":
      true}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2018-03-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"tags\":
        {\n   \"scenario_test\": \"\"\n  },\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"kubernetesVersion\":
        \"1.8.11\",\n   \"dnsPrefix\": \"cliaksdns000004\",\n   \"agentPoolProfiles\":
        [\n    {\n     \"name\": \"nodepool1\",\n     \"count\": 1,\n     \"vmSize\":
        \"Standard_DS1_v2\",\n     \"storageProfile\": \"ManagedDisks\",\n     \"maxPods\":
        110,\n     \"osType\": \"Linux\"\n    }\n   ],\n   \"linuxProfile\": {\n    \"adminUsername\":
        \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\": [\n      {\n       \"keyData\":
        \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\": \"http://clitest000002\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000003_eastus\",\n   \"enableRBAC\": true,\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"podCidr\":
        \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n    \"dnsServiceIP\":
        \"10.0.0.10\",\n    \"dockerBridgeCidr\": \"172.17.0.1/16\"\n   }\n  }\n }"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/0cbeeb99-3885-4220-827e-c04e3f7f9f52?api-version=2017-08-31']
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2018-03-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003\",\n
        \ \"location\": \"eastus\",\n  \"name\": \"cliakstest000003\",\n  \"tags\":
        {\n   \"scenario_test\": \"\"\n  },\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\n
        \ \"properties\": {\n   \"provisioningState\": \"Creating\",\n   \"kubernetesVersion\":
        \"1.8.11\",\n   \"dnsPrefix\": \"cliaksdns000004\",\n   \"fqdn\": \"cliaksdns000004-2c1ef773.hcp.eastus.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS1_v2\",\n     \"storageProfile\": \"ManagedDisks\",\n
        \    \"maxPods\": 110,\n     \"osType\": \"Linux\"\n    }\n   ],\n   \"linuxProfile\":
        {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\":
        [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/orchestrators?api-version=2017-09-30&resource-type=managedClusters
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/orchestrators\",\n
        \ \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\",\n
        \ \"properties\": {\n   \"orchestrators\": [\n    {\n     \"orchestratorType\":
        \"Kubernetes\",\n     \"orchestratorVersion\": \"1.7.7\",\n     \"upgrades\":
        [\n      {\n       \"orchestratorVersion\": \"1.7.9\"\n      },\n      {\n
        \      \"orchestratorVersion\": \"1.7.12\"\n      },\n      {\n       \"orchestratorVersion\":
        \"1.7.15\"\n      },\n      {\n       \"orchestratorVersion\": \"1.7.16\"\n
        \     },\n      {\n       \"orchestratorVersion\": \"1.8.1\"\n      },\n      {\n
        \      \"orchestratorVersion\": \"1.8.2\"\n      },\n      {\n       \"orchestratorVersion\":
        \"1.8.6\"\n      },\n      {\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003/upgradeProfiles/default?api-version=2018-03-31
  response:
    body: {string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003/upgradeprofiles/default\",\n
        \ \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/managedClusters/upgradeprofiles\",\n
        \ \"properties\": {\n   \"controlPlaneProfile\": {\n    \"kubernetesVersion\":
        \"1.8.11\",\n    \"osType\": \"Linux\",\n    \"upgrades\": [\n     \"1.8.14\",\n
        \    \"1.9.1\",\n     \"1.9.2\",\n     \"1.9.6\",\n     \"1.9.9\",\n     \"1.9.10\"\n
        \   ]\n   },\n   \"agentPoolProfiles\": [\n    {\n     \"kubernetesVersion\":
        \"1.8.11\",\n     \"osType\": \"Linux\",\n     \"upgrades\": [\n      \"1.8.14\",\n
        \     \"1.9.1\",\n      \"1.9.2\",\n      \"1.9.6\",\n      \"1.9.9\",\n      \"1.9.10\"\n
        \    ]\n    }\n   ]\n  }\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "eastus", "tags": {"scenario_test": ""}, "properties":
      {"kubernetesVersion": "1.8.11", "dnsPrefix": "cliaksdns000004", "agentPoolProfiles":
      [{"name": "nodepool1", "count": 1, "vmSize": "Standard_DS1_v2", "maxPods": 110,
      "osType": "Linux"}], "linuxProfile": {"adminUsername": "azureuser", "ssh": {"publicKeys":
      [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\\n"}]}}, "addonProfiles": {"httpApplicationRouting": {"enabled":
      true}}, "enableRBAC": true, "networkProfile": {"networkPlugin": "kubenet", "podCidr":
      "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16"}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-ve[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/0e0a9d57-1050-4dc6-b1aa-d6d50f953614?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"579d0a0e-5010-c64d-b1aa-d6d50f953614\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2018-09-11T15:56:04.2261716Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/eastus/operations/0e0a9d57-1050-4dc6-b1aa-d6d50f953614?api-version=2017-08-31
  response:
    body: {string: "{\n  \"name\": \"579d0a0e-5010-c64d-b1aa-d6d50f953614\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2018-09-11T15:56:04.2261716Z\",\n  \"endTime\":
        \"2018-09-11T15:58:26.7688937Z\"\n }"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000003?api-version=2018-03-31
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000003''
        under resource group ''clitest000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27d6b076e4-20f4-4035-884e-f166be12c7b6%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectorySer[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/a82a88bf-27fb-45ac-b789-701f0cc21834?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","obje[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest000002%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"36cf4291-f594-46c9-b240-57f9815f5fd0","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"d6b076e4-20f4-4035-884e-f166be12c7b6","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2018-09-11-15-42-28","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2018-09-11-15-42-28","identifierUris":["http://clitest000002"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/36cf4291-f594-46c9-b240-57f9815f5fd0/Microsoft.DirectoryServices.Application/logo","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/36cf4291-f594-46c9-b240-57f9815f5fd0/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2018-09-11-15-42-28 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2018-09-11-15-42-28","id":"f72433f9-78b3-4f9b-8d81-b1b4662f174f","isEnabled":true,"ty[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27a82a88bf-27fb-45ac-b789-701f0cc21834%27&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/36cf4291-f594-46c9-b240-57f9815f5fd0?api-version=1.6
  response:
    body: {string: ''}
    headers:
      dataserviceversion: [1.0;]
      duration: ['3542893']
      ocp-aad-diagnostics-server-name: [FbAahKj+CAgBE9nDxnX/a9xy4bKzwpDul27qCyangJw=]
      ocp-aad-session-key: [IRLmXa-52OJiIJ3lXSaiVuT1TN5OaKaDSRmeK6t6yTYb9YoR34YV5uEOZsj4NpiHvK3NZvJpCYw9Nb-Srsutxe8nxPf-t96dRJb5yrg3TIqLmsT8YWp-_Tm0bywDnm9hzBYxsJKBcGjtHcslADftuw.JoYSN1NU8M3AHO3726KkhKc7nSrt9a6Kf2C4uP8h9ss]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUQjJZQ001WjdJQy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14998']
    status: {code: 202, message: Accepted}
version: 1
