interactions:
- request:
    body: '{"location": "japaneast", "identity": {"type": "SystemAssigned"}, "properties":
      {"storageAccounts": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}], "keyDelivery": {"accessControl": {"defaultAction": "Allow",
      "ipAllowList": []}}, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"Japan
        East\",\"properties\":{\r\n    \"mediaServiceId\":\"80cf39b3-ae61-442b-8ae7-51b1a1546268\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ],\"storageAuthentication\":\"System\",\"encryption\":{\r\n
        \     \"type\":\"SystemKey\"\r\n    },\"keyDelivery\":{\r\n      \"accessControl\":{\r\n
        \       \"defaultAction\":\"Allow\",\"ipAllowList\":[\r\n          \r\n        ]\r\n
        \     }\r\n    },\"publicNetworkAccess\":\"Enabled\"\r\n  },\"systemData\":{\r\n
        \   \"createdBy\":\"hivyas@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-04-14T18:02:59.8889514Z\",\"lastModifiedBy\":\"hivyas@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-04-14T18:02:59.8889514Z\"\r\n
        \ },\"identity\":{\r\n    \"type\":\"SystemAssigned\",\"principalId\":\"133ef8ea-497d-420c-9bb7-0e5fa186275b\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"outputs": [{"preset": {"@odata.type": "#Microsoft.Media.BuiltInStandardEncoderPreset",
      "presetName": "AACGoodQualityAudio"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/transforms/tra000004?api-version=2021-11-01
  response:
    body:
      string: "{\r\n  \"name\":\"tra000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/transforms/tra000004\",\"type\":\"Microsoft.Media/mediaservices/transforms\",\"properties\":{\r\n
        \   \"created\":\"2022-04-14T18:03:03.9767722Z\",\"lastModified\":\"2022-04-14T18:03:03.9767722Z\",\"outputs\":[\r\n
        \     {\r\n        \"onError\":\"StopProcessingJob\",\"relativePriority\":\"Normal\",\"preset\":{\r\n
        \         \"@odata.type\":\"#Microsoft.Media.BuiltInStandardEncoderPreset\",\"presetName\":\"AACGoodQualityAudio\"\r\n
        \       }\r\n      }\r\n    ]\r\n  },\"systemData\":{\r\n    \"createdBy\":\"hivyas@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-04-14T18:03:03.9767722Z\",\"lastModifiedBy\":\"hivyas@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-04-14T18:03:03.9767722Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"outputs": [{"onError": "StopProcessingJob", "relativePriority":
      "Normal", "preset": {"@odata.type": "#Microsoft.Media.BuiltInStandardEncoderPreset",
      "presetName": "AACGoodQualityAudio"}}, {"onError": "ContinueJob", "relativePriority":
      "High", "preset": {"@odata.type": "#Microsoft.Media.StandardEncoderPreset",
      "filters": {"rotation": "Auto", "overlays": [{"@odata.type": "#Microsoft.Media.VideoOverlay",
      "inputLabel": "videooverlay", "audioGainLevel": 1.0, "opacity": 1.0}]}, "codecs":
      [{"@odata.type": "#Microsoft.Media.AacAudio", "channels": 2, "samplingRate":
      48000, "bitrate": 128000, "profile": "AacLc"}, {"@odata.type": "#Microsoft.Media.H264Video",
      "keyFrameInterval": "PT2S", "stretchMode": "AutoSize", "complexity": "Balanced",
      "layers": [{"width": "1280", "height": "720", "bitrate": 2000000, "maxBitrate":
      2000000, "bFrames": 3, "slices": 0, "adaptiveBFrame": true, "profile": "Auto",
      "level": "auto", "bufferWindow": "PT5S", "referenceFrames": 3, "entropyMode":
      "Cabac"}, {"width": "640", "height": "360", "bitrate": 1000000, "maxBitrate":
      1000000, "bFrames": 3, "slices": 0, "adaptiveBFrame": true, "profile": "Auto",
      "level": "auto", "bufferWindow": "PT5S", "referenceFrames": 3, "entropyMode":
      "Cabac"}], "sceneChangeDetection": false}], "formats": [{"@odata.type": "#Microsoft.Media.Mp4Format",
      "filenamePattern": "{Basename}_{Bitrate}{Extension}", "outputFiles": []}]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/transforms/tra000004?api-version=2021-11-01
  response:
    body:
      string: "{\r\n  \"name\":\"tra000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices[...]
[...]
- request:
    body: '{"properties": {"outputs": [{"onError": "StopProcessingJob", "relativePriority":
      "Normal", "preset": {"@odata.type": "#Microsoft.Media.BuiltInStandardEncoderPreset",
      "presetName": "AACGoodQualityAudio"}}, {"onError": "ContinueJob", "relativePriority":
      "High", "preset": {"@odata.type": "#Microsoft.Media.StandardEncoderPreset",
      "filters": {"rotation": "Auto", "overlays": [{"@odata.type": "#Microsoft.Media.VideoOverlay",
      "inputLabel": "videooverlay", "audioGainLevel": 1.0, "opacity": 1.0}]}, "codecs":
      [{"@odata.type": "#Microsoft.Media.AacAudio", "channels": 2, "samplingRate":
      48000, "bitrate": 128000, "profile": "AacLc"}, {"@odata.type": "#Microsoft.Media.H264Video",
      "keyFrameInterval": "PT2S", "stretchMode": "AutoSize", "syncMode": "Auto", "complexity":
      "Balanced", "layers": [{"width": "1280", "height": "720", "bitrate": 2000000,
      "maxBitrate": 2000000, "bFrames": 3, "slices": 0, "adaptiveBFrame": true, "profile":
      "Auto", "level": "auto", "bufferWindow": "PT5S", "crf": 23.0, "referenceFrames":
      3, "entropyMode": "Cabac"}, {"width": "640", "height": "360", "bitrate": 1000000,
      "maxBitrate": 1000000, "bFrames": 3, "slices": 0, "adaptiveBFrame": true, "profile":
      "Auto", "level": "auto", "bufferWindow": "PT5S", "crf": 23.0, "referenceFrames":
      3, "entropyMode": "Cabac"}], "rateControlMode": "ABR", "sceneChangeDetection":
      false}], "formats": [{"@odata.type": "#Microsoft.Media.Mp4Format", "filenamePattern":
      "{Basename}_{Bitrate}{Extension}", "outputFiles": []}]}}, {"preset": {"@odata.type":
      "#Microsoft.Media.AudioAnalyzerPreset", "audioLanguage": "es-ES", "mode": "Basic"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/transforms/tra000004?api-version=2021-11-01
  response:
    body:
      string: "{\r\n  \"name\":\"tra000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservi[...]
[...]
