interactions:
- request:
    body: '{"location": "centralus", "identity": {"type": "SystemAssigned"}, "properties":
      {"storageAccounts": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}], "keyDelivery": {"accessControl": {"defaultAction": "Allow",
      "ipAllowList": []}}, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000004?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"ams000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000004\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"Central
        US\",\"properties\":{\r\n    \"mediaServiceId\":\"8bc8faf1-9e55-4691-a0cb-12e53570f418\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ],\"storageAuthentication\":\"System\",\"encryption\":{\r\n
        \     \"type\":\"SystemKey\"\r\n    },\"keyDelivery\":{\r\n      \"accessControl\":{\r\n
        \       \"defaultAction\":\"Allow\",\"ipAllowList\":[\r\n          \r\n        ]\r\n
        \     }\r\n    },\"publicNetworkAccess\":\"Enabled\"\r\n  },\"systemData\":{\r\n
        \   \"createdBy\":\"azureclilivetest@azuresdkteam.onmicrosoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-06-30T08:15:20.8271764Z\",\"lastModifiedBy\":\"azureclilivetest@azuresdkteam.onmicrosoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-06-30T08:15:20.8271764Z\"\r\n
        \ },\"identity\":{\r\n    \"type\":\"SystemAssigned\",\"principalId\":\"743624e7-bc68-4d11-b5b7-7d01b417ca23\",\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000003.vault.azure.net/keys/ams000005/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000003.vault.azure.net/keys/ams000005/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://clitest000003.vault.azure.net/keys/ams000005/4158717982c44e29b1369acfd208e9db","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qguWAALoqt2piiD8lHjls7r1QAza9-ww4dD73a6iDEprAM4TfkzVrhVKQAgHXnruUpFIBPdvBboLTXh7WsgsYnkB9sdS-wSY7601N-nyBQ06-vauxpER7iLW8eK6l2fYpEmLXBQ9hjnWuXPvgihrm9aZlMhapwM50r5qrU-rPwRUo5lnvOKKghcsW8O8KtQAcPHcpQzhDurIIlP-tjMQU48mlDYD9HtTuw2VEbwDV7mcf9H_PS5z6YJgM7hnsvpWhDVu8NrCRKrN5m7CA5Jb7i5PXl6FQ7Icn-epPgr-PJ6qEvP9EJ_roXcpeExn8Y2MggE1mfpxzTpPm6xpuywqsQ","e":"AQAB"},"attributes":{"enabled":true,"created":1656576930,"updated":1656576930,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv","name":"bez-kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv0630","name":"bez-kv0630","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv063001","name":"bez-kv063001","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/res[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003","name":"clitest000003","type":"Microsoft.KeyVault/vaults","location":"centralus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2022-06-30T08:14:49.141Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-30T08:14:49.141Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://clitest000003.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "743624e7-[...]
[...]
- request:
    body: '{"location": "Central US", "identity": {"type": "SystemAssigned"}, "properties":
      {"storageAccounts": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}], "storageAuthentication": "System", "encryption": {"type":
      "CustomerKey", "keyVaultProperties": {"keyIdentifier": "https://clitest000003.vault.azure.net/keys/ams000005/4158717982c44e29b1369acfd208e9db"}},
      "keyDelivery": {"accessControl": {"defaultAction": "Allow", "ipAllowList": []}},
      "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000004?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"ams000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000004\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"Central
        US\",\"properties\":{\r\n    \"mediaServiceId\":\"8bc8faf1-9e55-4691-a0cb-12e53570f418\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ],\"storageAuthentication\":\"System\",\"encryption\":{\r\n
        \     \"type\":\"CustomerKey\",\"keyVaultProperties\":{\r\n        \"keyIdentifier\":\"https://clitest000003.vault.azure.net/keys/ams000005/4158717982c44e29b1369acfd208e9db\",\"currentKeyIdentifier\":\"https://clitest000003.vault.azure.net/keys/ams000005/4158717982c44e29b1369acfd208e9db\"\r\n
        \     },\"identity\":{\r\n        \"useSystemAssignedIdentity\":true\r\n      }\r\n
        \   },\"keyDelivery\":{\r\n      \"accessControl\":{\r\n        \"defaultAction\":\"Allow\",\"ipAllowList\":[\r\n
        \         \r\n        ]\r\n      }\r\n    },\"publicNetworkAccess\":\"Enabled\"\r\n
        \ },\"systemData\":{\r\n    \"createdBy\":\"azureclilivetest@azuresdkteam.onmicrosoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-06-30T08:15:20.8271764Z\",\"lastModifiedBy\":\"azureclilivetest@azuresdkteam.onmicrosoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-06-30T08:15:32.1383153Z\"\r\n
        \ },\"identity\":{\r\n    \"type\":\"SystemAssigned\",\"principalId\":\"743624e7-bc68-4d11-b5b7-7d01b417ca23\",\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000004?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
