interactions:
- request:
    body: '{"location": "centralus", "properties": {"storageAccounts": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}], "keyDelivery": {"accessControl": {"defaultAction": "Allow",
      "ipAllowList": []}}, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"Central
        US\",\"properties\":{\r\n    \"mediaServiceId\":\"20489f76-e4cd-402f-b455-446ae9f60315\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ],\"storageAuthentication\":\"System\",\"encryption\":{\r\n
        \     \"type\":\"SystemKey\"\r\n    },\"keyDelivery\":{\r\n      \"accessControl\":{\r\n
        \       \"defaultAction\":\"Allow\",\"ipAllowList\":[\r\n          \r\n        ]\r\n
        \     }\r\n    },\"publicNetworkAccess\":\"Enabled\"\r\n  },\"systemData\":{\r\n
        \   \"createdBy\":\"hivyas@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-04-14T17:56:44.5922851Z\",\"lastModifiedBy\":\"hivyas@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-04-14T17:56:44.5922851Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "Central US", "properties": {"description":
      "asd", "input": {"streamingProtocol": "RTMP", "accessControl": {"ip": {"allow":
      [{"name": "le000004_1.2.3.4", "address": "1.2.3.4"}, {"name": "le000004_5.6.7.8",
      "address": "5.6.7.8"}, {"name": "le000004_192.168.0.0", "address": "192.168.0.0",
      "subnetPrefixLength": 28}]}}, "accessToken": "0abf356884d74b4aacbd7b1ebd3da0f7"},
      "preview": {"accessControl": {"ip": {"allow": [{"name": "le000004_192.168.0.0",
      "address": "192.168.0.0", "subnetPrefixLength": 28}, {"name": "le000004_0.0.0.0",
      "address": "0.0.0.0"}]}}, "previewLocator": "88888888-0000-0000-0000-000000000001"},
      "encoding": {"encodingType": "Standard", "stretchMode": "AutoSize", "keyFrameInterval":
      "PT2S"}, "transcriptions": [{"language": "ca-ES"}], "crossSiteAccessPolicies":
      {"clientAccessPolicy": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<access-policy>\r\n    <cross-domain-access>\r\n        <policy>\r\n            <allow-from
      http-request-headers=''*''>\r\n                <domain uri=''http://*'' /> \r\n            </allow-from>
      \r\n            <grant-to>\r\n                <resource path=''/'' include-subpaths=''false''
      />\r\n            </grant-to>    \r\n        </policy>\r\n    </cross-domain-access>\r\n</access-policy>",
      "crossDomainPolicy": "<?xml version=\"1.0\" ?>\r\n<!DOCTYPE cross-domain-policy
      SYSTEM ''http://www.macromedia.com/xml/dtds/cross-domain-policy.dtd''>\r\n<cross-domain-policy>\r\n  <allow-access-from
      domain=''*'' />\r\n</cross-domain-policy>"}, "useStaticHostname": true, "hostnamePrefix":
      "custom000005", "streamOptions": ["Default", "LowLatency"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2021-11-01&autoStart=true
  response:
    body:
      string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004\",\"type\":\"Microsoft.Media/mediaservices/liveevents\",\"location\":\"Central
        US\",\"tags\":{\r\n    \"key\":\"value\"\r\n  },\"properties\":{\r\n    \"description\":\"asd\",\"resourceState\":\"Stopped\",\"provisioningState\":\"InProgress\",\"created\":\"2022-04-14T17:56:48.4601816Z\",\"lastModified\":\"2022-04-14T17:56:48.4601816Z\",\"useStaticHostname\":true,\"streamOptions\":[\r\n
        \     \"Default\",\"LowLatency\"\r\n    ],\"input\":{\r\n      \"keyFrameIntervalDuration\":\"\",\"streamingProtocol\":\"RTMP\",\"accessToken\":\"0abf356884d74b4aacbd7b1ebd3da0f7\",\"endpoints\":[\r\n
        \       \r\n      ],\"accessControl\":{\r\n        \"ip\":{\r\n          \"allow\":[\r\n
        \           {\r\n              \"name\":\"le000004_1.2.3.4\",\"address\":\"1.2.3.4\",\"subnetPrefixLength\":null\r\n
        \           },{\r\n              \"name\":\"le000004_5.6.7.8\",\"address\":\"5.6.7.8\",\"subnetPrefixLength\":null\r\n
        \           },{\r\n              \"name\":\"le000004_192.168.0.0\",\"address\":\"192.168.0.0\",\"subnetPrefixLength\":28\r\n
        \           }\r\n          ]\r\n        }\r\n      }\r\n    },\"preview\":{\r\n
        \     \"previewLocator\":\"88888888-0000-0000-0000-000000000001\",\"streamingPolicyName\":\"Predefined_ClearStreamingOnly\",\"alternativeMediaId\":null,\"accessControl\":{\r\n
        \       \"ip\":{\r\n          \"allow\":[\r\n            {\r\n              \"name\":\"le000004_192.168.0.0\",\"address\":\"192.168.0.0\",\"subnetPrefixLength\":28\r\n
        \           },{\r\n              \"name\":\"le000004_0.0.0.0\",\"address\":\"0.0.0.0\",\"subnetPrefixLength\":null\r\n
        \           }\r\n          ]\r\n        }\r\n      },\"endpoints\":[\r\n        \r\n
        \     ]\r\n    },\"encoding\":{\r\n      \"encodingType\":\"Standard\",\"presetName\":\"default720p\",\"stretchMode\":\"AutoSize\",\"keyFrameInterval\":\"PT2S\"\r\n
        \   },\"crossSiteAccessPolicies\":{\r\n      \"clientAccessPolicy\":\"<?xml
        version=\\\"1.0\\\" encoding=\\\"utf-8\\\"?>\\r\\n<access-policy>\\r\\n    <cross-domain-access>\\r\\n
        \       <policy>\\r\\n            <allow-from http-request-headers='*'>\\r\\n
        \               <domain uri='http://*' /> \\r\\n            </allow-from>
        \\r\\n            <grant-to>\\r\\n                <resource path='/' include-subpaths='false'
        />\\r\\n            </grant-to>    \\r\\n        </policy>\\r\\n    </cross-domain-access>\\r\\n</access-policy>\",\"crossDomainPolicy\":\"<?xml
        version=\\\"1.0\\\" ?>\\r\\n<!DOCTYPE cross-domain-policy SYSTEM 'http://www.macromedia.com/xml/dtds/cross-domain-policy.dtd'>\\r\\n<cross-domain-policy>\\r\\n
        \ <allow-access-from domain='*' />\\r\\n</cross-domain-policy>\"\r\n    },\"hostnamePrefix\":\"custom000005\",\"transcriptions\":[\r\n
        \     {\r\n        \"language\":\"ca-ES\",\"inputTrackSelection\":[\r\n          \r\n
        \       ],\"outputTranscriptionTrack\":null\r\n      }\r\n    ]\r\n  },\"systemData\":{\r\n
        \   \"createdBy\":\"hivyas@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-04-14T17:56:47.2155083Z\",\"lastModifiedBy\":\"hivyas@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-04-14T17:56:47.2155083Z\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/7838d8e5-a1ca-4d5b-9ca1-9532e5593df6?api-version=2021-11-01
      content-type:
      - application/json; odata.metadata=minimal
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004/operationlocations/7838d8e5-a1ca-4d5b-9ca1-9532e5593df6?api-version=2021-11-01
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/7838d8e5-a1ca-4d5b-9ca1-9532e5593df6?api-version=2021-11-01
  response:
    body:
      string: "{\r\n  \"name\":\"7838d8e5-a1ca-4d5b-9ca1-9532e5593df6\",\"status\":\"InProgress\",\"error\":{\r\n
        \   \"code\":\"None\",\"message\":null,\"target\":\"7c77eb1b-c7fc-4a57-8f65-b97948ae1112\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/7838d8e5-a1ca-4d5b-9ca1-9532e5593df6?api-version=2021-11-01
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2021-11-01&autoStart=true
  response:
    body:
      string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004\",\"type\":\"Microsoft.Media/mediaservices/liveevents\",\"location\":\"Central
        US\",\"tags\":{\r\n    \"key\":\"value\"\r\n  },\"properties\":{\r\n    \"description\":\"asd\",\"resourceState\":\"Running\",\"provisioningState\":\"Succeeded\",\"created\":\"2022-04-14T17:56:48.4758082Z\",\"lastModified\":\"2022-04-14T17:56:58.5099057Z\",\"useStaticHostname\":true,\"streamOptions\":[\r\n
        \     \"Default\",\"LowLatency\"\r\n    ],\"input\":{\r\n      \"keyFrameIntervalDuration\":\"\",\"streamingProtocol\":\"RTMP\",\"accessToken\":\"0abf356884d74b4aacbd7b1ebd3da0f7\",\"endpoints\":[\r\n
        \       {\r\n          \"protocol\":\"RTMP\",\"url\":\"rtmp://custom000005-ams000003-usct.channel.media.azure.net:1935/live/0abf356884d74b4aacbd7b1ebd3da0f7\"\r\n
        \       },{\r\n          \"protocol\":\"RTMP\",\"url\":\"rtmp://custom000005-ams000003-usct.channel.media.azure.net:1936/live/0abf356884d74b4aacbd7b1ebd3da0f7\"\r\n
        \       },{\r\n          \"protocol\":\"RTMP\",\"url\":\"rtmps://custom000005-ams000003-usct.channel.media.azure.net:2935/live/0abf356884d74b4aacbd7b1ebd3da0f7\"\r\n
        \       },{\r\n          \"protocol[...]
- request:
    body: '{"removeOutputsOnStop": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004/stop?api-version=2021-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/5265c2e5-8b53-4ff5-9951-9a0809285c9b?api-version=2021-11-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004/operationlocations/5265c2e5-8b53-4ff5-9951-9a0809285c9b?api-version=2021-11-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004/operationlocations/5265c2e5-8b53-4ff5-9951-9a0809285c9b?api-version=2021-11-01
  response:
    body:
      string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Micros[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2021-11-01
  response:
    body:
      string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004\",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/3ec480bf-3be2-442b-892c-4b6816db00fe?api-version=2021-11-01
  response:
    body:
      string: "{\r\n  \"name\":\"3ec480bf-3be2-442b-892c-4b6816db00fe\",\"status\":\"Succeeded\",\"error\":{\r\n
        \   \"code\":\"None\",\"message\":null,\"target\":\"00000000-0000-0000-0000-000000000000\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/3ec480bf-3be2-442b-892c-4b6816db00fe?api-version=2021-11-01
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
version: 1
