interactions:
- request:
    body: '{"location": "westus2", "identity": {"type": "None"}, "properties": {"storageAccounts":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"West
        US 2\",\"properties\":{\r\n    \"mediaServiceId\":\"cfc890be-4047-4f67-b5ad-fa7eae38751d\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ],\"storageAuthentication\":\"System\",\"encryption\":{\r\n
        \     \"type\":\"SystemKey\"\r\n    },\"keyDelivery\":{\r\n      \"accessControl\":{\r\n
        \       \"defaultAction\":\"Allow\",\"ipAllowList\":[\r\n          \r\n        ]\r\n
        \     }\r\n    }\r\n  },\"systemData\":{\r\n    \"createdBy\":\"phcooper@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2021-06-28T14:55:32.4301968Z\",\"lastModifiedBy\":\"phcooper@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2021-06-28T14:55:32.4301968Z\"\r\n
        \ },\"identity\":{\r\n    \"type\":\"None\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest.rg000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '713902'
      ocp-aad-diagnostics-server-name:
      - SlQUdDDv2EnNxQ7km55A2snutZce7LyYbrmvo6NdSRo=
      ocp-aad-session-key:
      - ig1F1lWgHzgCYyajzfu6D0Tvxpd3oQ4kbf49qVcteqTBCZJt122cpnAUkY2i0G2M9Oj3S8LVq2NvpiVmYOZ-Zkl0RmHzs5u2lxzBVXs3gMecUWubDgPkFhOOqhUp6Tu3.IbRi0YN_fqnbib3p0MPv3dGCTT-02fObl9abiLJPDrw
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "http://clitest.rg000001",
      "passwordCredentials": [{"startDate": "2021-06-28T14:55:39.826478Z", "endDate":
      "2022-06-28T14:55:39.826478Z", "keyId": "88888888-0000-0000-0000-000000000001",
      "value": "ReplacedSPPassword123*"}], "displayName": "clitest.rg000001", "identifierUris":
      ["http://clitest.rg000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "2417f3a3-224b-49e3-8abb-8950748f9380", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "449e2015-dbeb-435a-a1ad-7c849d57c68b",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "clitest.rg000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "http://clitest.rg000001", "identifierUris": ["http://clitest.rg000001"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/2417f3a3-224b-49e3-8abb-8950748f9380/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/2417f3a3-224b-49e3-8abb-8950748f9380/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access clitest.rg000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access clitest.rg000001", "id": "ca3ba84c-9894-45a2-817b-f9393413e459",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access clitest.rg000001 on your behalf.", "userConsentDisplayName": "Access
        clitest.rg000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2022-06-28T14:55:39.826478Z", "keyId":
        "88888888-0000-0000-0000-000000000001", "startDate": "2021-06-28T14:55:39.826478Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "microsoft.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '5879821'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/2417f3a3-224b-49e3-8abb-8950748f9380/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - +Iw0edfk5poYIihnlvW6kG+wCelJbYVscB3tW57QGn8=
      ocp-aad-session-key:
      - cajqBTj527TJwxUioFEm7gvLMUiMATILkOt7LgIHj_kkgiDVOeUyVeaf81JjamckWcpUmfaW-t80VN9qpRLDHYpueB77VPmpJg9SDzqiUdeIFF1gjb1wq04Q-99Cte-jbxM98V02y6IT8r-f_CIoTvGhO3x-KT5ZaouEokrVfrQ.byWCiSZHdJFKgLlZTzFFz60CogACZUCSZHgFN1ArI7Q
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "449e2015-dbeb-435a-a1ad-7c849d57c68b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"4ea225f1-e6c7-447e-8fa9-5551c3ad8b37","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitest.rg000001","appId":"449e2015-dbeb-435a-a1ad-7c849d57c68b","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitest.rg000001","errorUrl":null,"homepage":"http://clitest.rg000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest.rg000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest.rg000001","id":"ca3ba84c-9894-45a2-817b-f9393413e459","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest.rg000001 on your behalf.","userConsentDisplayName":"Access
        clitest.rg000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["449e2015-dbeb-435a-a1ad-7c849d57c68b","http://clitest.rg000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2591110'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/4ea225f1-e6c7-447e-8fa9-5551c3ad8b37/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - 74LQMtCAe7qjHtC7WOoqtXMDkhi307by3+GcN7atfmE=
      ocp-aad-session-key:
      - dfeJ1uzXVXQq5wOLdvl2uWNmoDVD4VuORVyEtywSX_kzDVmXL8bRnw9Hwcx0DdXd65R4JRALxLP8KFY0XwgJwSaE4iLOMWlZDc4mV2G_qwR0lleuF1By4mq2DUNmjkNSNS_p9_RYLTFDXOdgUxAlDH4A92y52zMI239ViAs5bUA.pTI-tibBOyruswRvq5ix-KagutgIKPplUbhBwCuCE-c
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%274ea225f1-e6c7-447e-8fa9-5551c3ad8b37%27&api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Owner%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Owner","type":"BuiltInRole","description":"Grants
        full access to manage all resources, including the ability to assign roles
        in Azure RBAC.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2020-08-14T20:13:58.4137852Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","type":"Microsoft.Authorization/roleDefinitions","name":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalId": "4ea225f1-e6c7-447e-8fa9-5551c3ad8b37"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002?api-version=2020-04-01-preview
  response:
    body:
      string: '{"error":{"code":"AuthorizationFailed","message":"The client ''phcooper@microsoft.com''
        with object id ''665fc971-4f7a-4cb0-976b-910fc4a2791f'' does not have authorization
        to perform action ''Microsoft.Authorization/roleAssignments/write'' over scope
        ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002''
        or the scope is invalid. If access was recently granted, please refresh your
        credentials."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest.rg000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"2417f3a3-2[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/2417f3a3-224b-49e3-8abb-8950748f9380?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '2044140'
      ocp-aad-diagnostics-server-name:
      - HUhvGBGszBLxiIVoLwMgZQLY6nyKh6t1wWPGKbI/MJ0=
      ocp-aad-session-key:
      - hm_ULJ388Mw9O4DMNr_AJ-iwYbaR9D4E1vf-JE_1P6Sd1FG2fplHMq0kciDs2-a_j6QC5bDqZxGOWhYuAOd6FFsJdXGOQN5kLwlVP1K42q3t0591PC4I6au7Z4ZpkdRUmcemCLXVgtly5GwFQjcmNZztMFPJNSIqtrSgRA2A2Yw.70cb2SBGq0MbtTX4OfUuej8yy6Q5xqMkDYSZTVA6zIU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
