interactions:
- request:
    body: '{"location": "japaneast", "identity": {"type": "None"}, "properties": {"storageAccounts":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"Japan
        East\",\"properties\":{\r\n    \"mediaServiceId\":\"756520ed-33b0-4b27-a6fd-1b817b0e4d25\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ],\"storageAuthentication\":\"System\",\"encryption\":{\r\n
        \     \"type\":\"SystemKey\"\r\n    },\"keyDelivery\":{\r\n      \"accessControl\":{\r\n
        \       \"defaultAction\":\"Allow\",\"ipAllowList\":[\r\n          \r\n        ]\r\n
        \     }\r\n    }\r\n  },\"systemData\":{\r\n    \"createdBy\":\"phcooper@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2021-07-30T19:01:21.2188692Z\",\"lastModifiedBy\":\"phcooper@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2021-07-30T19:01:21.2188692Z\"\r\n
        \ },\"identity\":{\r\n    \"type\":\"None\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"description": "ExampleDescription", "options": [{"name":
      "pon000005", "configuration": {"@odata.type": "#Microsoft.Media.ContentKeyPolicyPlayReadyConfiguration",
      "licenses": [{"allowTestDevices": true, "expirationDate": "2098-09-15T18:53:00.000Z",
      "relativeBeginDate": "PT1H1M1S", "gracePeriod": "PT2H2M2S", "playRight": {"firstPlayExpiration":
      "PT12H", "scmsRestriction": 1, "agcAndColorStripeRestriction": 2, "explicitAnalogTelevisionOutputRestriction":
      {"bestEffort": true, "configurationData": 0}, "digitalVideoOnlyContentRestriction":
      false, "imageConstraintForAnalogComponentVideoRestriction": false, "imageConstraintForAnalogComputerMonitorRestriction":
      false, "allowPassingVideoContentToUnknownOutput": "Allowed", "uncompressedDigitalVideoOpl":
      300, "compressedDigitalVideoOpl": 500, "analogVideoOpl": 200, "compressedDigitalAudioOpl":
      300, "uncompressedDigitalAudioOpl": 300}, "licenseType": "Persistent", "contentKeyLocation":
      {"@odata.type": "#Microsoft.Media.ContentKeyPolicyPlayReadyContentEncryptionKeyFromKeyIdentifier",
      "keyId": "12345678-aaaa-bbbb-cccc-ddddeeeeffff"}, "contentType": "Unspecified"}],
      "responseCustomData": "custom data"}, "restriction": {"@odata.type": "#Microsoft.Media.ContentKeyPolicyOpenRestriction"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/contentKeyPolicies/pn000004?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\":\"pn000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/contentKeyPolicies/pn000004\",\"type\":\"Microsoft.Media/mediaservices/contentKeyPolicies\",\"properties\":{\r\n
        \   \"policyId\":\"96c84be1-1436-4928-9011-10cb06957dc3\",\"created\":\"2021-07-30T19:01:24.953Z\",\"lastModified\":\"2021-07-30T19:01:24.953Z\",\"description\":\"ExampleDescription\",\"options\":[\r\n
        \     {\r\n        \"policyOptionId\":\"3a8735fc-e8e5-47ba-940f-ba6007dff131\",\"name\":\"pon000005\",\"configuration\":{\r\n
        \         \"@odata.type\":\"#Microsoft.Media.ContentKeyPolicyPlayReadyConfiguration\",\"licenses\":[\r\n
        \           {\r\n              \"allowTestDevices\":true,\"expirationDate\":\"2098-09-15T18:53:00Z\",\"relativeBeginDate\":\"PT1H1M1S\",\"gracePeriod\":\"PT2H2M2S\",\"playRight\":{\r\n
        \               \"firstPlayExpiration\":\"PT12H\",\"scmsRestriction\":1,\"agcAndColorStripeRestric[...]
