interactions:
- request:
    body: '{"location": "eastasia", "properties": {"storageAccounts": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2018-07-01
  response:
    body:
      string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"East
        Asia\",\"properties\":{\r\n    \"mediaServiceId\":\"a1effbb4-d0e5-4067-83f3-5f327fe6ad80\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "East Asia", "properties": {"input": {"streamingProtocol":
      "FragmentedMP4", "accessControl": {"ip": {"allow": [{"name": "le000004_0.0.0.0",
      "address": "0.0.0.0", "subnetPrefixLength": 0}]}}}, "preview": {"accessControl":
      {"ip": {"allow": []}}}, "encoding": {}, "crossSiteAccessPolicies": {}, "vanityUrl":
      false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2018-07-01&autoStart=false
  response:
    body:
      string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004\",\"type\":\"Microsoft.Media/mediaservices/liveevents\",\"location\":\"East
        Asia\",\"tags\":{\r\n    \r\n  },\"properties\":{\r\n    \"description\":\"\",\"resourceState\":\"Stopped\",\"provisioningState\":\"InProgress\",\"created\":\"2020-09-25T21:42:43.7318879Z\",\"lastModified\":\"2020-09-25T21:42:43.7318879Z\",\"vanityUrl\":false,\"streamOptions\":[\r\n
        \     \r\n    ],\"input\":{\r\n      \"keyFrameIntervalDuration\":\"\",\"streamingProtocol\":\"FragmentedMP4\",\"accessToken\":\"96967dfea1024f38acfd479dbb6c3b78\",\"endpoints\":[\r\n
        \       \r\n      ],\"accessControl\":{\r\n        \"ip\":{\r\n          \"allow\":[\r\n
        \           {\r\n              \"name\":\"le000004_0.0.0.0\",\"address\":\"0.0.0.0\",\"subnetPrefixLength\":0\r\n
        \           }\r\n          ]\r\n        }\r\n      }\r\n    },\"preview\":{\r\n
        \     \"previewLocator\":\"b536c7d4-e526-4982-bed9-a2e6117a2286\",\"streamingPolicyName\":\"Predefined_ClearStreamingOnly\",\"alternativeMediaId\":null,\"accessControl\":{\r\n
        \       \"ip\":{\r\n          \"allow\":[\r\n            \r\n          ]\r\n
        \       }\r\n      },\"endpoints\":[\r\n        \r\n      ]\r\n    },\"encoding\":{\r\n
        \     \"encodingType\":\"None\",\"presetName\":null\r\n    },\"crossSiteAccessPolicies\":{\r\n
        \     \"clientAccessPolicy\":null,\"crossDomainPolicy\":null\r\n    }\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/8f8cbb2e-56e5-4b98-8df8-33d41eba18c0?api-version=2018-07-01
      content-type:
      - application/json; odata.metadata=minimal
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004/operationlocations/8f8cbb2e-56e5-4b98-8df8-33d41eba18c0?api-version=2018-07-01
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/8f8cbb2e-56e5-4b98-8df8-33d41eba18c0?api-version=2018-07-01
  response:
    body:
      string: "{\r\n  \"name\":\"8f8cbb2e-56e5-4b98-8df8-33d41eba18c0\",\"status\":\"Succeeded\",\"error\":{\r\n
        \   \"code\":\"None\",\"message\":null,\"target\":\"df0ab5a8-4738-477d-a42a-45053e3ff24c\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/8f8cbb2e-56e5-4b98-8df8-33d41eba18c0?api-version=2018-07-01
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2018-07-01&autoStart=false
  response:
    body:
      string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveev[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2018-07-01
  response:
    body:
      string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004\",[...]
- request:
    body: '{"tags": {"key": "value"}, "location": "East Asia", "properties": {"description":
      "asd", "input": {"streamingProtocol": "FragmentedMP4", "accessControl": {"ip":
      {"allow": [{"name": "le000004_1.2.3.4", "address": "1.2.3.4"}, {"name": "le000004_5.6.7.8",
      "address": "5.6.7.8"}, {"name": "le000004_9.10.11.12", "address": "9.10.11.12"}]}},
      "keyFrameIntervalDuration": "PT2S", "accessToken": "96967dfea1024f38acfd479dbb6c3b78",
      "endpoints": []}, "preview": {"endpoints": [], "accessControl": {"ip": {"allow":
      [{"name": "le000004_1.1.1.1", "address": "1.1.1.1"}, {"name": "le000004_0.0.0.0",
      "address": "0.0.0.0"}]}}, "previewLocator": "b536c7d4-e526-4982-bed9-a2e6117a2286",
      "streamingPolicyName": "Predefined_ClearStreamingOnly"}, "encoding": {"encodingType":
      "None"}, "crossSiteAccessPolicies": {"clientAccessPolicy": "<?xml version=\"1.0\"
      encoding=\"utf-8\"?>\r\n<access-policy>\r\n    <cross-domain-access>\r\n        <policy>\r\n            <allow-from
      http-request-headers=''*''>\r\n                <domain uri=''http://*'' /> \r\n            </allow-from>
      \r\n            <grant-to>\r\n                <resource path=''/'' include-subpaths=''false''
      />\r\n            </grant-to>    \r\n        </policy>\r\n    </cross-domain-access>\r\n</access-policy>",
      "crossDomainPolicy": "<?xml version=\"1.0\" ?>\r\n<!DOCTYPE cross-domain-policy
      SYSTEM ''http://www.macromedia.com/xml/dtds/cross-domain-policy.dtd''>\r\n<cross-domain-policy>\r\n  <allow-access-from
      domain=''*'' />\r\n</cross-domain-policy>"}, "vanityUrl": false, "streamOptions":
      []}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2018-07-01
  response:
    body:
      string: "{\r\n  \"name\":\"le000004\",\"id[...]
[...]
