interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Edge", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n
        \   \"name\": \"Edge\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"etag\":
        \"W/\\\"datetime'2020-12-08T08%3A53%3A14.4640664Z'\\\"_W/\\\"datetime'2020-12-08T08%3A53%3A14.4720717Z'\\\"\",\r\n
        \ \"identity\": {\r\n    \"type\": \"None\"\r\n  },\r\n  \"properties\": {\r\n
        \   \"dataBoxEdgeDeviceStatus\": \"ReadyToSetup\",\r\n    \"deviceType\":
        \"DataBoxEdgeDevice\",\r\n    \"deviceLocalCapacity\": 0,\r\n    \"nodeCount\":
        0,\r\n    \"resourceMoveDetails\": {\r\n      \"operationInProgress\": \"None\"\r\n
        \   }\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice\",\r\n
        \ \"name\": \"testedgedevice\",\r\n  \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"eastus\",\r\n
        \     \"tags\": {},\r\n      \"sku\": {\r\n        \"name\": \"Edge\",\r\n
        \       \"tier\": \"Standard\"\r\n      },\r\n      \"etag\": \"W/\\\"datetime'2020-12-08T08%3A53%3A14.4640664Z'\\\"_W/\\\"datetime'2020-12-08T08%3A53%3A14.4720717Z'\\\"\",\r\n
        \     \"properties\": {\r\n        \"dataBoxEdgeDeviceStatus\": \"ReadyToSetup\",\r\n
        \       \"deviceType\": \"DataBoxEdgeDevice\",\r\n        \"deviceLocalCapacity\":
        0,\r\n        \"nodeCount\": 0\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice\",\r\n
        \     \"name\": \"testedgedevice\",\r\n      \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"eastus\",\r\n
        \     \"tags\": {},\r\n      \"sku\": {\r\n        \"name\": \"Edge\",\r\n
        \       \"tier\": \"Standard\"\r\n      },\r\n      \"etag\": \"W/\\\"datetime'2020-12[...]
- request:
    body: '{"tags": {"Key1": "value1", "Key2": "value2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"Key1\":
        \"value1\",\r\n    \"Key2\": \"value2\"\r\n  },\r\n  \"sku\": {\r\n    \"name\":
        \"Edge\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"etag\": \"W/\\\"datetime'2020-12-08T08%3A53%3A21.6038818Z'\\\"_W/\\\"datetime'2020-12-08T08%3A53%3A21.609886Z'\\\"\",\r\n
        \ \"properties\": {\r\n    \"dataBoxEdgeDeviceStatus\": \"ReadyToSetup\",\r\n
        \   \"deviceType\": \"DataBoxEdgeDevice\",\r\n    \"deviceLocalCapacity\":
        0,\r\n    \"nodeCount\": 0,\r\n    \"resourceMoveDetails\": {\r\n      \"operationInProgress\":
        \"None\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/testedgedevice\",\r\n
        \ \"name\": \"testedgedevice\",\r\n  \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices?api-version=2019-08-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
