interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_route_table?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table","name":"cli_test_route_table","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-route-table\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table\"\
        ,\r\n  \"etag\": \"W/\\\"64abbb7b-6dc0-4965-87ad-d2305ef3a7aa\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/routeTables\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"feb8a8de-6ca1-4d94-84eb-00875a46e353\",\r\n    \"\
        routes\": []\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/668ca3fe-43de-4ee1-a47d-9de93bbf425c?api-version=2017-09-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/668ca3fe-43de-4ee1-a47d-9de93bbf425c?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-route-table\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table\"\
        ,\r\n  \"etag\": \"W/\\\"ebdf76c0-087d-49d9-b8cc-acff5c1893f2\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/routeTables\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n\
        \    \"resourceGuid\": \"feb8a8de-6ca1-4d94-84eb-00875a46e353\",\r\n    \"\
        routes\": []\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"ebdf76c0-087d-49d9-b8cc-acff5c1893f2"]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"addressPrefix": "10.0.5.0/24", "nextHopType": "None"},
      "name": "my-route"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table/routes/my-route?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"my-route\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table/routes/my-route\"\
        ,\r\n  \"etag\": \"W/\\\"f12999ea-ee95-4a35-ba26-63bdb6062976\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.5.0/24\",\r\n    \"nextHopType\": \"None\"\r\n  }\r\
        \n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/7db22423-312b-47a6-81af-a6337603a8d0?api-version=2017-09-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/routeTables?api-version=2017-09-01
  response:
    body: {string: '{"value":[{"name":"cli-test-route-table","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table","etag":"W/\"db3ae5a9-c09d-4f3a-bbe3-c4b68eb3cfdc\"","type":"Microsoft.Network/routeTables","location":"westus","properties":{"provisioningState":"Succeeded","resourceGuid":"feb8a8de-6ca1-4d94-84eb-00875a46e353","routes":[{"name":"my-route","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table/routes/my-route","etag":"W/\"db3ae5a9-c09d-4f3a-bbe3-c4b68eb3cfdc\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.5.0/24","nextHopType":"None"}}]}},{"name":"rt6e783247","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg6e783247/providers/Microsoft.Network/routeTables/rt6e783247","etag":"W/\"6757e4fe-8a9b-4ec9-a8a3-9d198757e1a8\"","type":"Microsoft.Network/routeTables","location":"eastus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"825585ff-5813-4a68-afd5-44fca578a08d","routes":[{"name":"route1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg6e783247/providers/Microsoft.Network/routeTables/rt6e783247/routes/route1","etag":"W/\"6757e4fe-8a9b-4ec9-a8a3-9d198757e1a8\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","nextHopType":"VirtualAppliance","nextHopIpAddress":"10.1.0.4"}},{"name":"route2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg6e783247/providers/Microsoft.Network/routeTables/rt6e783247/routes/route2","etag":"W/\"6757e4fe-8a9b-4ec9-a8a3-9d198757e1a8\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.1.0/24","nextHopType":"VirtualAppliance","nextHopIpAddress":"10.1.0.5"}}]}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-original-request-ids: [fd454bf3-e404-4d65-822b-1ef3219d8c16, 10bba696-ac0f-4935-9e22-904638d2bfa5]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"cli-test-route-table\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/c[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table/routes?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"my-route\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table/routes/my-route\"\
        ,\r\n      \"etag\": \"W/\\\"db3ae5a9-c09d-4f3a-bbe3-c4b68eb3cfdc\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"addressPrefix\": \"10.0.5.0/24\",\r\n        \"nextHopType\"\
        : \"None\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables/cli-test-route-table/routes/my-route?api-version=2017-09-01
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/0b3df768-8363-45c6-a14d-e7990ad31b10?api-version=2017-09-01']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/0b3df768-8363-45c6-a14d-e7990ad31b10?api-version=2017-09-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_route_table/providers/Microsoft.Network/routeTables?api-version=2017-09-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
