interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteServiceProviders?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"AT&T Netbond\
        \ Test\",\r\n      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\"\
        ,\r\n      \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringLocations\": [\r\n          \"Area51\",\r\n        \
        \  \"ASCVA001\",\r\n          \"SN1CA001\"\r\n        ],\r\n        \"bandwidthsOffered\"\
        : [\r\n          {\r\n            \"offerName\": \"50Mbps\",\r\n         \
        \   \"valueInMbps\": 50\r\n          },\r\n          {\r\n            \"offerName\"\
        : \"100Mbps\",\r\n            \"valueInMbps\": 100\r\n          },\r\n   \
        \       {\r\n            \"offerName\": \"200Mbps\",\r\n            \"valueInMbps\"\
        : 200\r\n          },\r\n          {\r\n            \"offerName\": \"500Mbps\"\
        ,\r\n            \"valueInMbps\": 500\r\n          },\r\n          {\r\n \
        \           \"offerName\": \"1Gbps\",\r\n            \"valueInMbps\": 1000\r\
        \n          },\r\n          {\r\n            \"offerName\": \"2Gbps\",\r\n\
        \            \"valueInMbps\": 2000\r\n          },\r\n          {\r\n    \
        \        \"offerName\": \"5Gbps\",\r\n            \"valueInMbps\": 5000\r\n\
        \          },\r\n          {\r\n            \"offerName\": \"10Gbps\",\r\n\
        \            \"valueInMbps\": 10000\r\n          }\r\n        ]\r\n      }\r\
        \n    },\r\n    {\r\n      \"name\": \"BT Test\",\r\n      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\"\
        ,\r\n      \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringLocations\": [\r\n          \"Area51\"\r\n        ],\r\
        \n        \"bandwidthsOffered\": [\r\n          {\r\n            \"offerName\"\
        : \"50Mbps\",\r\n            \"valueInMbps\": 50\r\n          },\r\n     \
        \     {\r\n            \"offerName\": \"100Mbps\",\r\n            \"valueInMbps\"\
        : 100\r\n          },\r\n          {\r\n            \"offerName\": \"200Mbps\"\
        ,\r\n            \"valueInMbps\": 200\r\n          },\r\n          {\r\n \
        \           \"offerName\": \"500Mbps\",\r\n            \"valueInMbps\": 500\r\
        \n          [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route","name":"cli_test_express_route","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "sku": {"name": "Premium_MeteredData", "tier": "Premium",
      "family": "MeteredData"}, "properties": {"serviceProviderProperties": {"bandwidthInMbps":
      50, "serviceProviderName": "Microsoft ER Test", "peeringLocation": "Area51"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1\"\
        ,\r\n  \"etag\": \"W/\\\"db0d57be-b7c1-4710-9ac0-67307596760f\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"68a15738-6e87-4e88-a2f9-d4b2bc5de502\",\r\n \
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\"\
        : {\r\n      \"serviceProviderName\": \"Microsoft ER Test\",\r\n      \"peeringLocation\"\
        : \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\"\
        : \"Disabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"serviceKey\"\
        : \"00000000-0000-0000-0000-000000000000\",\r\n    \"serviceProviderProvisioningState\"\
        : \"NotProvisioned\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\"\
        ,\r\n    \"tier\": \"Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\
        \n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/d97129b4-8e8a-44be-8411-0a811eef1e53?api-version=2017-10-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/d97129b4-8e8a-44be-8411-0a811eef1e53?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteCircuits?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"circuit1\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microso[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"circuit1\",\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/stats?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"primaryBytesIn\": 0,\r\n  \"primaryBytesOut\": 0,\r\n\
        \  \"secondaryBytesIn\": 0,\r\n  \"secondaryBytesOut\": 0\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1",
      "tags": {"test": "Test"}, "location": "westus", "sku": {"name": "Premium_MeteredData",
      "tier": "Premium", "family": "MeteredData"}, "properties": {"provisioningState":
      "Succeeded", "serviceProviderProvisioningState": "NotProvisioned", "serviceProviderProperties":
      {"bandwidthInMbps": 50, "serviceProviderName": "Microsoft ER Test", "peeringLocation":
      "Area51"}, "peerings": [], "authorizations": [], "circuitProvisioningState":
      "Enabled", "serviceKey": "d69c11b7-4f9d-4c5f-a05d-e7eae64db8f5", "allowClassicOperations":
      false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-0000000000[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"auth1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1\"\
        ,\r\n  \"etag\": \"W/\\\"01edcea4-94ff-49b2-87b8-1c93996b6a6a\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        authorizationKey\": \"b854e183-9d7e-4960-bedf-7fc45c77131a\",\r\n    \"authorizationUseStatus\"\
        : \"Available\"\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/63142d86-134f-492c-9822-57a0010feeee?api-version=2017-10-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"auth1\",\r\n\
        \      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1\"\
        ,\r\n      \"etag\": \"W/\\\"fb88c9bb-d485-454c-920f-cbeae66c6fb1\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"authorizationKey\": \"b854e183-9d7e-4960-bedf-7fc45c77131a\"\
        ,\r\n        \"authorizationUseStatus\": \"Available\"\r\n      }\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/9b6f1979-c382-448c-9edb-005b98376004?api-version=2017-10-01']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/9b6f1979-c382-448c-9edb-005b98376004?api-version=2017-10-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: '{"properties": {"peerASN": 10000, "secondaryPeerAddressPrefix": "101.0.0.0/30",
      "primaryPeerAddressPrefix": "100.0.0.0/30", "vlanId": 100, "peeringType": "AzurePublicPeering"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"AzurePublicPeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering\"\
        ,\r\n  \"etag\": \"W/\\\"f24b096e-5a56-4eec-8fe7-0d4b1c1dafb9\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        peeringType\": \"AzurePublicPeering\",\r\n    \"azureASN\": 0,\r\n    \"peerASN\"\
        : 10000,\r\n    \"primaryPeerAddressPrefix\": \"100.0.0.0/30\",\r\n    \"\
        secondaryPeerAddressPrefix\": \"101.0.0.0/30\",\r\n    \"state\": \"Disabled\"\
        ,\r\n    \"vlanId\": 100,\r\n    \"lastModifiedBy\": \"\"\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/37f7aaf6-bf33-423e-98bd-964e23d9530f?api-version=2017-10-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"AzurePublicPeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering\"\
        ,\r\n  \"etag\": \"W/\\\"405e4788-e348-40c3-9ffe-0e4ccf61ee8e\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        peeringType\": \"AzurePublicPeering\",\r\n    \"azureASN\": 12076,\r\n   \
        \ \"peerASN\": 10000,\r\n    \"primaryPeerAddressPrefix\": \"100.0.0.0/30\"\
        ,\r\n    \"secondaryPeerAddressPrefix\": \"101.0.0.0/30\",\r\n    \"primaryAzurePort\"\
        : \"A51-TEST-06GMR-CIS-1-PRI-A\",\r\n    \"secondaryAzurePort\": \"A51-TEST-06GMR-CIS-2-SEC-A\"\
        ,\r\n    \"state\": \"Enabled\",\r\n    \"vlanId\": 100,\r\n    \"gatewayManagerEtag\"\
        : \"\",\r\n    \"lastModifiedBy\": \"Customer\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"peerASN": 10001, "secondaryPeerAddressPrefix": "103.0.0.0/30",
      "primaryPeerAddressPrefix": "102.0.0.0/30", "vlanId": 101, "peeringType": "AzurePrivatePeering"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePrivatePeer[...]
[...]
- request:
    body: '{"properties": {"peerASN": 10002, "secondaryPeerAddressPrefix": "105.0.0.0/30",
      "microsoftPeeringConfig": {"advertisedPublicPrefixes": ["104.0.0.0/30"], "routingRegistryName":
      "LEVEL3", "customerASN": 10000}, "primaryPeerAddressPrefix": "104.0.0.0/30",
      "vlanId": 103, "peeringType": "MicrosoftPeering"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"MicrosoftPeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering\"\
        ,\r\n  \"etag\": \"W/\\\"d0c23fa0-a78f-4487-999d-53744a177327\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        peeringType\": \"MicrosoftPeering\",\r\n    \"azureASN\": 0,\r\n    \"peerASN\"\
        : 10002,\r\n    \"primaryPeerAddressPrefix\": \"104.0.0.0/30\",\r\n    \"\
        secondaryPeerAddressPrefix\": \"105.0.0.0/30\",\r\n    \"state\": \"Disabled\"\
        ,\r\n    \"vlanId\": 103,\r\n    \"lastModifiedBy\": \"\",\r\n    \"microsoftPeeringConfig\"\
        : {\r\n      \"advertisedPublicPrefixes\": [\r\n        \"104.0.0.0/30\"\r\
        \n      ],\r\n      \"advertisedPublicPrefixesState\": \"NotConfigured\",\r\
        \n      \"customerASN\": 10000,\r\n      \"legacyMode\": 0,\r\n      \"routingRegistryName\"\
        : \"LEVEL3\"\r\n    }\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/b8ceb258-4e0f-49d8-9169-4789e19dfdb5?api-version=2017-10-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"AzurePublicPeering\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering\"\
        ,\r\n      \"etag\": \"W/\\\"40ec1e49-3e7d-498b-8c14-fe824ac4e494\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringType\": \"AzurePublicPeering\",\r\n        \"azureASN\"\
        : 12076,\r\n        \"peerASN\": 10000,\r\n        \"primaryPeerAddressPrefix\"\
        : \"100.0.0.0/30\",\r\n        \"secondaryPeerAddressPrefix\": \"101.0.0.0/30\"\
        ,\r\n        \"primaryAzurePort\": \"A51-TEST-06GMR-CIS-1-PRI-A\",\r\n   \
        \     \"secondaryAzurePort\": \"A51-TEST-06GMR-CIS-2-SEC-A\",\r\n        \"\
        state\": \"Enabled\",\r\n        \"vlanId\": 100,\r\n        \"gatewayManagerEtag\"\
        : \"9\",\r\n        \"lastModifiedBy\": \"Customer\"\r\n      }\r\n    },\r\
        \n    {\r\n      \"name\": \"AzurePrivatePeering\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePrivatePeering\"\
        ,\r\n      \"etag\": \"W/\\\"40ec1e49-3e7d-498b-8c14-fe824ac4e494\\\"\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringType\": \"AzurePrivatePeering\",\r\n        \"azureASN\"\
        : 12076,\r\n        \"peerASN\": 10001,\r\n        \"primaryPeerAddressPrefix\"\
        : \"102.0.0.0/30\",\r\n        \"secondaryPeerAddressPrefix\": \"103.0.0.0/30\"\
        ,\r\n        \"primaryAzurePort\": \"A51-TEST-06GMR-CIS-1-PRI-A\",\r\n   \
        \     \"secondaryAzurePort\": \"A51-TEST-06GMR-CIS-2-SEC-A\",\r\n        \"\
        state\": \"Enabled\",\r\n        \"vlanId\": 101,\r\n        \"gatewayManagerEtag\"\
        : \"9\",\r\n        \"lastModifiedBy\": \"Customer\"\r\n      }\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePublicPeering",
      "name": "AzurePublicPeering", "properties": {"state": "Enabled", "azureASN":
      12076, "primaryAzurePort": "A51-TEST-06GMR-CIS-1-PRI-A", "gatewayManagerEtag":
      "9", "primaryPeerAddressPrefix": "100.0.0.0/30", "vlanId": 200, "peeringType":
      "AzurePublicPeering", "provisioningState": "Succeeded", "peerASN": 10000, "secondaryAzurePort":
      "A51-TEST-06GMR-CIS-2-SEC-A", "secondaryPeerAddressPrefix": "101.0.0.0/30",
      "lastModifiedBy": "Customer"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_t[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/azureprivatepeering/arpTables/primary?api-version=2017-10-01
  response:
    body: {string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/5ed176e5-c8d7-4ea7-879f-ffabaf93cef1?api-version=2017-10-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/5ed176e5-c8d7-4ea7-879f-ffabaf93cef1?api-version=2017-10-01
  response:
    body: {string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/5ed176e5-c8d7-4ea7-879f-ffabaf93cef1?api-version=2017-10-01']
      Retry-After: ['10']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/azureprivatepeering/routeTables/primary?api-version=2017-10-01
  response:
    body: {string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/d704727d-4200-4db7-9ff2-5a8f383bc899?api-version=2017-10-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route/providers/Microsoft.Network/expressRouteCircuits?api-version=2017-10-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
