interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/usages?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"currentValue\": 21.0,\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/usages/VirtualNetworks\"\
        ,\r\n      \"limit\": 50.0,\r\n      \"name\": {\r\n        \"localizedValue\"\
        : \"Virtual Networks\",\r\n        \"value\": \"VirtualNetworks\"\r\n    \
        \  },\r\n      \"unit\": \"Count\"\r\n    },\r\n    {\r\n      \"currentValue\"\
        : 0.0,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/usages/StaticPublicIPAddresses\"\
        ,\r\n      \"limit\": 20.0,\r\n      \"name\": {\r\n        \"localizedValue\"\
        : \"Static Public IP Addresses\",\r\n        \"value\": \"StaticPublicIPAddresses\"\
        \r\n      },\r\n      \"unit\": \"Count\"\r\n    },\r\n    {\r\n      \"currentValue\"\
 [...]
