interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_private_ip000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001","name":"cli_test_ag_private_ip000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2017-05-10&$filter=resourceGroup%20eq%20%27cli_test_ag_private_ip000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"mode": "Incremental", "parameters": {}, "template":
      {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {"appGwID": "[resourceId(\''Microsoft.Network/applicationGateways\'',
      \''ag3\'')]"}, "contentVersion": "1.0.0.0", "parameters": {}, "resources": [{"tags":
      {}, "apiVersion": "2015-06-15", "dependsOn": [], "location": "westus", "name":
      "ag3Vnet", "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"name": "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}]},
      "type": "Microsoft.Network/virtualNetworks"}, {"tags": {}, "apiVersion": "2017-09-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/ag3Vnet"], "location": "westus",
      "name": "ag3", "properties": {"requestRoutingRules": [{"Name": "rule1", "properties":
      {"RuleType": "Basic", "backendAddressPool": {"id": "[concat(variables(\''appGwID\''),
      \''/backendAddressPools/appGatewayBackendPool\'')]"}, "backendHttpSettings":
      {"id": "[concat(variables(\''appGwID\''), \''/backendHttpSettingsCollection/appGatewayBackendHttpSettings\'')]"},
      "httpListener": {"id": "[concat(variables(\''appGwID\''), \''/httpListeners/appGatewayHttpListener\'')]"}}}],
      "sku": {"capacity": 2, "name": "Standard_Medium", "tier": "Standard"}, "httpListeners":
      [{"name": "appGatewayHttpListener", "properties": {"Protocol": "https", "FrontendPort":
      {"Id": "[concat(variables(\''appGwID\''), \''/frontendPorts/appGatewayFrontendPort\'')]"},
      "SslCertificate": {"id": "[concat(variables(\''appGwID\''), \''/sslCertificates/ag3SslCert\'')]"},
      "FrontendIpConfiguration": {"Id": "[concat(variables(\''appGwID\''), \''/frontendIPConfigurations/appGatewayFrontendIP\'')]"}}}],
      "frontendIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"privateIPAddress": "10.0.0.15", "privateIPAllocationMethod": "Static", "subnet":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      443}}], "backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Protocol": "Http",
      "connectionDraining": {"enabled": false, "drainTimeoutInSec": 1}, "Port": 80,
      "CookieBasedAffinity": "disabled"}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}}}],
      "sslCertificates": [{"name": "ag3SslCert", "properties": {"data": "MIIJuwIBAzCCCXcGCSqGSIb3DQEHAaCCCWgEgglkMIIJYDCCBgkGCSqGSIb3DQEHAaCCBfoEggX2MIIF8jCCBe4GCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAhXEBfBWkIAigICB9AEggTY4EM/sz3ldecsIvpg3F/ymL4YqRboZbvA4LwwdTC1fuOwcxs4sJ/b3OPDwiWqEE9GinOh7+Kr1dVpH1lff+d8B/ZIM8qTC/ywoHwGJch8zNZIpLQZ997cyI64MyhpFx7Fyf5AcDdw0wTS2cvl1P531TR3epCVH/3EPHbn43nj7BClm9isGD3rxURfw/NIdAwremab16tsnl8OTKSBv1goCnuvVpPGDwSNb1B5VmF7zVQ80oIOp0EGiTMSeMAz1LDTwZIBzC1hU+xd8N+n2FI2GIb6w05aTob1qa6jui0aIzCe851mHS75zGTvVyzDRqDrRsmI34wvmk+H1VY1ku[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3?api-version=2017-09-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag3''
        under resource group ''cli_test_ag_private_ip000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"ag3\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3\"\
        ,\r\n  \"etag\": \"W/\\\"3ed276e5-1137-4938-87ab-a5984952f41e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"ca6ff436-1ec3-4c94-a255-fab993b8b33b\"\
        ,\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\"\
        : \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\"\
        : \"Stopped\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n      \
        \  \"name\": \"appGatewayFrontendIP\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applica[...]
[...]
- request:
    body: 'b''{"tags": {}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3",
      "location": "westus", "etag": "W/\\"3ed276e5-1137-4938-87ab-a5984952f41e\\"",
      "properties": {"probes": [], "sku": {"capacity": 2, "name": "Standard_Medium",
      "tier": "Standard"}, "provisioningState": "Updating", "frontendPorts": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/frontendPorts/appGatewayFrontendPort",
      "name": "appGatewayFrontendPort", "etag": "W/\\"3ed276e5-1137-4938-87ab-a5984952f41e\\"",
      "properties": {"port": 443, "provisioningState": "Updating"}}], "requestRoutingRules":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/requestRoutingRules/rule1",
      "name": "rule1", "etag": "W/\\"3ed276e5-1137-4938-87ab-a5984952f41e\\"", "properties":
      {"backendAddressPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/backendAddressPools/appGatewayBackendPool"},
      "ruleType": "Basic", "backendHttpSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/backendHttpSettingsCollection/appGatewayBackendHttpSettings"},
      "provisioningState": "Updating", "httpListener": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/httpListeners/appGatewayHttpListener"}}}],
      "redirectConfigurations": [], "resourceGuid": "ca6ff436-1ec3-4c94-a255-fab993b8b33b",
      "gatewayIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/gatewayIPConfigurations/appGatewayFrontendIP",
      "name": "appGatewayFrontendIP", "etag": "W/\\"3ed276e5-1137-4938-87ab-a5984952f41e\\"",
      "properties": {"provisioningState": "Updating", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}}}],
      "urlPathMaps": [], "httpListeners": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/httpListeners/appGatewayHttpListener",
      "name": "appGatewayHttpListener", "etag": "W/\\"3ed276e5-1137-4938-87ab-a5984952f41e\\"",
      "properties": {"frontendIPConfiguration": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/frontendIPConfigurations/appGatewayFrontendIP"},
      "provisioningState": "Updating", "protocol": "Https", "sslCertificate": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/sslCertificates/ag3SslCert"},
      "requireServerNameIndication": false, "frontendPort": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/frontendPorts/appGatewayFrontendPort"}}}],
      "frontendIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/frontendIPConfigurations/appGatewayFrontendIP",
      "name": "appGatewayFrontendIP", "etag": "W/\\"3ed276e5-1137-4938-87ab-a5984952f41e\\"",
      "properties": {"privateIPAddress": "10.0.0.15", "privateIPAllocationMethod":
      "Static", "provisioningState": "Updating", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/virtualNetworks/ag3Vnet/subnets/subnet1"}}}],
      "backendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/backendAddressPools/appGatewayBackendPool",
      "name": "appGatewayBackendPool", "etag": "W/\\"3ed276e5-1137-4938-87ab-a5984952f41e\\"",
      "properties": {"provisioningState": "Updating", "backendAddresses": []}}], "authenticationCertificates":
      [], "backendHttpSettingsCollection": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/backendHttpSettingsCollection/appGatewayBackendHttpSettings",
      "name": "appGatewayBackendHttpSettings", "etag": "W/\\"3ed276e5-1137-4938-87ab-a5984952f41e\\"",
      "properties": {"connectionDraining": {"enabled": false, "drainTimeoutInSec":
      1}, "port": 80, "provisioningState": "Updating", "protocol": "Http", "cookieBasedAffinity":
      "Disabled", "requestTimeout": 30, "pickHostNameFromBackendAddress": false}}],
      "sslCertificates": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_private_ip000001/providers/Microsoft.Network/applicationGateways/ag3/sslCertificates/ag3SslCert",
      "name": "ag3SslCert", "etag": "W/\\"3ed276e5-1137-4938-87ab-a5984952f41e\\"",
      "properties": {"data": "MIIKiQIBAzCCCk8GCSqGSIb3DQEHAaCCCkAEggo8MIIKODCCBO8GCSqGSIb3DQEHBqCCBOAwggTcAgEAMIIE1QYJKoZIhvcNAQcBMBwGCiqGSIb3DQEMAQYwDgQIpWxHMQn3nwMCAggAgIIEqOPQ4cNTz/41hY7gS1uV[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/2cacd156-4b51-412b-9919-6b6287e77931?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_private_ip000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGQUc6NUZQUklWQVRFOjVGSVBXQ0VOM0s1Rk9SWEhCV1I0V3xENDhCMDRDQjQ0NEJFOEJFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
