interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic","name":"cli_test_ag_basic","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2017-05-10&$filter=resourceGroup%20eq%20%27cli_test_ag_basic%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"contentVersion": "1.0.0.0", "resources":
      [{"properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "default"}]}, "apiVersion":
      "2015-06-15", "tags": {}, "name": "ag1Vnet", "dependsOn": [], "location": "westus",
      "type": "Microsoft.Network/virtualNetworks"}, {"properties": {"frontendIPConfigurations":
      [{"properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"},
      "privateIPAllocationMethod": "Dynamic", "privateIPAddress": ""}, "name": "appGatewayFrontendIP"}],
      "frontendPorts": [{"properties": {"Port": 80}, "name": "appGatewayFrontendPort"}],
      "sku": {"name": "Standard_Medium", "tier": "Standard", "capacity": 2}, "httpListeners":
      [{"properties": {"FrontendIpConfiguration": {"Id": "[concat(variables(''appGwID''),
      ''/frontendIPConfigurations/appGatewayFrontendIP'')]"}, "FrontendPort": {"Id":
      "[concat(variables(''appGwID''), ''/frontendPorts/appGatewayFrontendPort'')]"},
      "SslCertificate": null, "Protocol": "http"}, "name": "appGatewayHttpListener"}],
      "backendAddressPools": [{"name": "appGatewayBackendPool"}], "backendHttpSettingsCollection":
      [{"properties": {"Protocol": "Http", "CookieBasedAffinity": "Disabled", "connectionDraining":
      {"drainTimeoutInSec": 1, "enabled": false}, "Port": 80}, "name": "appGatewayBackendHttpSettings"}],
      "requestRoutingRules": [{"Name": "rule1", "properties": {"RuleType": "Basic",
      "httpListener": {"id": "[concat(variables(''appGwID''), ''/httpListeners/appGatewayHttpListener'')]"},
      "backendAddressPool": {"id": "[concat(variables(''appGwID''), ''/backendAddressPools/appGatewayBackendPool'')]"},
      "backendHttpSettings": {"id": "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"}}}],
      "gatewayIPConfigurations": [{"properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}},
      "name": "appGatewayFrontendIP"}]}, "apiVersion": "2017-06-01", "tags": {}, "name":
      "ag1", "dependsOn": ["Microsoft.Network/virtualNetworks/ag1Vnet"], "location":
      "westus", "type": "Microsoft.Network/applicationGateways"}], "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {"applicationGateway": {"value": "[reference(''ag1'')]", "type":
      "object"}}, "parameters": {}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''ag1'')]"}}, "mode": "Incremental", "parameters": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Resources/deployments/ag_deploy_i1aJkIDhWbLMtbXP0d4VWBcbTn72Ydk5","name":"ag_deploy_i1aJkIDhWbLMtbXP0d4VWBcbTn72Ydk5","properties":{"templateHash":"17414656782296059443","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-06-28T22:35:44.7742397Z","duration":"PT0.4620064S","correlationId":"53a9b13a-fc3c-47f1-8659-7c05cc2c5201","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/virtualNetworks/ag1Vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ag1Vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_ag_basic/providers/Microsoft.Resources/deployments/ag_deploy_i1aJkIDhWbLMtbXP0d4VWBcbTn72Ydk5/operationStatuses/08587029175411653873?api-version=2017-05-10']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1?api-version=2017-06-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag1''
        under resource group ''cli_test_ag_basic'' was not found."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1\"\
        ,\r\n  \"etag\": \"W/\\\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"f18ae8b8-b23d-4299-aeef-dc30845ec4a1\"\
        ,\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\"\
        : \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\"\
        : \"Stopped\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n      \
        \  \"name\": \"appGatewayFrontendIP\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\"\
        : [],\r\n    \"authenticationCertificates\": [],\r\n    \"frontendIPConfigurations\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n        \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\[...]
[...]
- request:
    body: '{"etag": "W/\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\"", "tags": {"foo":
      "doo"}, "properties": {"frontendIPConfigurations": [{"etag": "W/\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\"",
      "properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"},
      "provisioningState": "Updating", "privateIPAllocationMethod": "Dynamic"}, "id":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP",
      "name": "appGatewayFrontendIP"}], "frontendPorts": [{"etag": "W/\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\"",
      "properties": {"provisioningState": "Updating", "port": 80}, "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort",
      "name": "appGatewayFrontendPort"}], "sku": {"name": "Standard_Small", "tier":
      "Standard", "capacity": 3}, "probes": [], "resourceGuid": "f18ae8b8-b23d-4299-aeef-dc30845ec4a1",
      "authenticationCertificates": [], "httpListeners": [{"etag": "W/\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\"",
      "properties": {"protocol": "Http", "requireServerNameIndication": false, "provisioningState":
      "Updating", "frontendPort": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort"},
      "frontendIPConfiguration": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP"}},
      "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener",
      "name": "appGatewayHttpListener"}], "backendAddressPools": [{"etag": "W/\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\"",
      "properties": {"backendAddresses": [], "provisioningState": "Updating"}, "id":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool",
      "name": "appGatewayBackendPool"}], "backendHttpSettingsCollection": [{"etag":
      "W/\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\"", "properties": {"protocol": "Http",
      "pickHostNameFromBackendAddress": false, "port": 80, "requestTimeout": 30, "provisioningState":
      "Updating", "probeEnabled": false, "connectionDraining": {"drainTimeoutInSec":
      1, "enabled": false}, "cookieBasedAffinity": "Disabled"}, "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings",
      "name": "appGatewayBackendHttpSettings"}], "gatewayIPConfigurations": [{"etag":
      "W/\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\"", "properties": {"subnet": {"id":
      "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"},
      "provisioningState": "Updating"}, "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP",
      "name": "appGatewayFrontendIP"}], "redirectConfigurations": [], "provisioningState":
      "Updating", "urlPathMaps": [], "sslCertificates": [], "requestRoutingRules":
      [{"etag": "W/\"2ef977f4-e1de-4a2f-9ee9-eb05585fe8d4\"", "properties": {"provisioningState":
      "Updating", "httpListener": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener"},
      "ruleType": "Basic", "backendHttpSettings": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings"},
      "backendAddressPool": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool"}},
      "id": "/subscriptions/0b1f6471-1bf[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1\"\
        ,\r\n  \"etag\": \"W/\\\"a4290799-0afe-448e-9dc5-e04417388adc\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {\r\n    \"foo\": \"doo\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"\
        f18ae8b8-b23d-4299-aeef-dc30845ec4a1\",\r\n    \"sku\": {\r\n      \"name\"\
        : \"Standard_Small\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\"\
        : 3\r\n    },\r\n    \"operationalState\": \"Stopped\",\r\n    \"gatewayIPConfigurations\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n        \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"a4290799-0afe-448e-9dc5-e04417388adc\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Upda[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/applicationGateways?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ag1\",\r\n \
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ag1\",\r\n \
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/backendhealth?api-version=2017-06-01
  response:
    body: {string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/224c204e-9fbd-4c2e-b327-ed170e0e02b3?api-version=2017-06-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/224c204e-9fbd-4c2e-b327-ed170e0e02b3?api-version=2017-06-01
  response:
    body: {string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/224c204e-9fbd-4c2e-b327-ed170e0e02b3?api-version=2017-06-01']
      Retry-After: ['10']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/224c204e-9fbd-4c2e-b327-ed170e0e02b3?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"backendAddressPools\": [\r\n    {\r\n      \"backendAddressPool\"\
        : {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\"\
        \r\n      },\r\n      \"backendHttpSettingsCollection\": [\r\n        {\r\n\
        \          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        \r\n          },\r\n          \"servers\": []\r\n        }\r\n      ]\r\n\
        \    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/224c204e-9fbd-4c2e-b327-ed170e0e02b3?api-version=2017-06-01']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/stop?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/24a7dc2b-4d19-4ca4-8b0a-dc92bd392cce?api-version=2017-06-01']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/24a7dc2b-4d19-4ca4-8b0a-dc92bd392cce?api-version=2017-06-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/24a7dc2b-4d19-4ca4-8b0a-dc92bd392cce?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['10']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways/ag1/start?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/131abdc6-b547-413b-827b-0da37fa6805c?api-version=2017-06-01']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/131abdc6-b547-413b-827b-0da37fa6805c?api-version=2017-06-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic/providers/Microsoft.Network/applicationGateways?api-version=2017-06-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
