interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection","name":"cli_test_active_active_vnet_vnet_connection","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"sku": {"name": "HighPerformance",
      "tier": "HighPerformance"}, "ipConfigurations": [{"name": "vnetGatewayConfig0",
      "properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet"},
      "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/publicIPAddresses/gw1ip1"},
      "privateIPAllocationMethod": "Dynamic"}}, {"name": "vnetGatewayConfig1", "properties":
      {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet"},
      "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/publicIPAddresses/gw1ip2"},
      "privateIPAllocationMethod": "Dynamic"}}], "vpnType": "RouteBased", "enableBgp":
      true, "activeActive": true, "gatewayType": "Vpn", "bgpSettings": {"asn": 65010}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworkGateways/vgw1?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"vgw1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworkGateways/vgw1\"\
        ,\r\n  \"etag\": \"W/\\\"2f8060f1-db3a-4dce-b06a-cad76eef8280\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"7b70c810-313f-4e9e-ac20-54bdd8abadd7\",\r\n \
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"vnetGatewayConfig0\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworkGateways/vgw1/ipConfigurations/vnetGatewayConfig0\"\
        ,\r\n        \"etag\": \"W/\\\"2f8060f1-db3a-4dce-b06a-cad76eef8280\\\"\"\
        ,\r\n        \"properties\": {\[...]
[...]
- request:
    body: '{"properties": {"parameters": {}, "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "outputs": {"resource": {"type": "object", "value":
      "[reference(''vnet1to2'')]"}}, "variables": {}, "resources": [{"type": "Microsoft.Network/connections",
      "apiVersion": "2015-06-15", "location": "westus", "properties": {"virtualNetworkGateway2":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworkGateways/vgw2"},
      "enableBgp": true, "routingWeight": 10, "sharedKey": "abc123", "authorizationKey":
      null, "connectionType": "Vnet2Vnet", "virtualNetworkGateway1": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworkGateways/vgw1"},
      "usePolicyBasedTrafficSelectors": false}, "tags": {}, "name": "vnet1to2", "dependsOn":
      []}], "parameters": {}}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Resources/deployments/vpn_connection_deploy_orywKZRcJhAkfAA6YS9eVzXqV5HFVv2I","name":"vpn_connection_deploy_orywKZRcJhAkfAA6YS9eVzXqV5HFVv2I","properties":{"templateHash":"1489786357002378908","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-11-28T00:51:48.5611241Z","duration":"PT0.6880965S","correlationId":"01facdf4-03a2-4c8b-8c2d-9babdb732bb2","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"connections","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Resources/deployments/vpn_connection_deploy_orywKZRcJhAkfAA6YS9eVzXqV5HFVv2I/operationStatuses/08586897765776045902?api-version=2017-05-10']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1189']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586897765776045902?api-version=2017-05-10
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
