interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_multi_id/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"name\": \"pip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_multi_id/providers/Microsoft.Network/publicIPAddresses/pip1\"\
        ,\r\n  \"etag\": \"W/\\\"c354e2f3-1fc9-4765-b4a2-03a6abb3bdb5\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"e43add92-039f-41f2-9953-b0554cfbfe6b\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\"\
        : {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"c354e2f3-1fc9-4765-b4a2-03a6abb3bdb5"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_multi_id/providers/Microsoft.Network/publicIPAddresses/pip2?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"name\": \"pip2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_multi_id/providers/Microsoft.Network/publicIPAddresses/pip2\"\
        ,\r\n  \"etag\": \"W/\\\"94aff6f8-16e3-40c3-a571-5668e04c1bdf\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"f9f0ff72-b09a-4b61-993d-e173d596bc16\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\"\
        : {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"94aff6f8-16e3-40c3-a571-5668e04c1bdf"]
    status: {code: 200, message: OK}
version: 1
