interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer","name":"cli_test_load_balancer","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"contentVersion": "1.0.0.0", "parameters":
      {}, "variables": {}, "resources": [{"location": "westus", "sku": {"name": "Basic"},
      "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod": "Dynamic"},
      "apiVersion": "2017-09-01", "name": "PublicIPlb1", "type": "Microsoft.Network/publicIPAddresses"},
      {"location": "westus", "sku": {"name": "Basic"}, "tags": {}, "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb1"],
      "properties": {"frontendIPConfigurations": [{"properties": {"publicIPAddress":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd"}], "backendAddressPools": [{"name": "lb1bepool"}]},
      "apiVersion": "2017-09-01", "name": "lb1", "type": "Microsoft.Network/loadBalancers"}],
      "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {"loadBalancer": {"value": "[reference(''lb1'')]", "type": "object"}}},
      "mode": "Incremental", "parameters": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/lb_deploy_CMO5Uj1HznPdlWmebu5XV4933IBJUACb","name":"lb_deploy_CMO5Uj1HznPdlWmebu5XV4933IBJUACb","properties":{"templateHash":"14744216508152902137","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-09-19T15:34:19.898151Z","duration":"PT0.1944084S","correlationId":"02afbe1b-3d9a-4a10-b2a5-0bc4be358ae5","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/lb_deploy_CMO5Uj1HznPdlWmebu5XV4933IBJUACb/operationStatuses/08586957716257738757?api-version=2017-05-10']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586957716257738757?api-version=2017-05-10
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/PublicIPlb2?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"PublicIPlb2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/PublicIPlb2\"\
        ,\r\n  \"etag\": \"W/\\\"c880397c-2896-4a14-bca5-2217298afdfb\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"26cb4ac9-b606-4c4f-856c-012f5a532064\"\
        ,\r\n    \"ipAddress\": \"52.160.96.168\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb2/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"c880397c-2896-4a14-bca5-2217298afdfb"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "default"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/virtualNetworks/mytestvnet?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"mytestvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balan[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/3b491d4d-7d8d-44bb-90d2-f304978cf389?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer%27%20and%20name%20eq%20%27mytestvnet%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/virtualNetworks/mytestvnet","name":"mytestvnet","type":"Microsoft.Network/virtualNetworks","location":"westus","tags":{}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"template": {"contentVersion": "1.0.0.0", "parameters":
      {}, "variables": {}, "resources": [{"location": "westus", "sku": {"name": "Basic"},
      "tags": {}, "dependsOn": [], "properties": {"frontendIPConfigurations": [{"properties":
      {"privateIPAllocationMethod": "Static", "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/virtualNetworks/mytestvnet/subnets/default"},
      "privateIPAddress": "10.0.0.15"}, "name": "LoadBalancerFrontEnd"}], "backendAddressPools":
      [{"name": "lb3bepool"}]}, "apiVersion": "2017-09-01", "name": "lb3", "type":
      "Microsoft.Network/loadBalancers"}], "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "outputs": {"loadBalancer": {"value": "[reference(''lb3'')]", "type": "object"}}},
      "mode": "Incremental", "parameters": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
   [...]
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Basic"}, "properties": {"publicIPAllocationMethod":
      "Dynamic", "idleTimeoutInMinutes": 4, "publicIPAddressVersion": "IPv4"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/publicip4?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"publicip4\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/publicip4\"\
        ,\r\n  \"etag\": \"W/\\\"d8cae40a-86d8-4ceb-b28a-dff2c92b4cae\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"514d5f66-3d39-4737-ad88-9e445eacb090\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4\r\n  },\r\n  \"type\": \"\
        Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"\
        Basic\"\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/923a32e7-9801-4ce8-8eee-9c698662b217?api-version=2017-09-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['3']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_load_balancer%27%20and%20name%20eq%20%27publicip4%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/publicip4","name":"publicip4","type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Basic"},"location":"westus"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/loadBalancers?api-version=2017-09-01
  response:
    body: {string: '{"value":[{"name":"vmss1LB","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB","etag":"W/\"5278fffd-5dde-4057-9e69-2e601d121bd7\"","type":"Microsoft.Network/loadBalancers","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"832dccfc-a456-4be9-9861-8b055673991e","frontendIPConfigurations":[{"name":"loadBalancerFrontEnd","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd","etag":"W/\"5278fffd-5dde-4057-9e69-2e601d121bd7\"","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"},"inboundNatRules":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.1"}],"inboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]}}],"backendAddressPools":[{"name":"vmss1LBBEPool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool","etag":"W/\"5278fffd-5dde-4057-9e69-2e601d121bd7\"","properties":{"provisioningState":"Succeeded","backendIPConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1e043Nic/ipConfigurations/vmss1e043IPConfig"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/vmss1e043Nic/ipConfigurations/vmss1e043IPConfig"}]}}],"loadBalancingRules":[],"probes":[],"inboundNatRules":[{"name":"vmss1LBNatPool.0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.0","etag":"W/\"5278fffd-5dde-4057-9e69-2e601d121bd7\"","properties":{"provisioningState":"Succeeded","frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd"},"frontendPort":50000,"backendPort":22,"enableFloatingIP":false,"idleTimeoutInMinutes":4,"protocol":"Tcp","backendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1e043Nic/ipConfigurations/vmss1e043IPConfig"}}},{"name":"vmss1LBNatPool.1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatRules/vmss1LBNatPool.1","etag":"W/\"5278fffd-5dde-4057-9e69-2e601d121bd7\"","properties":{"provisioningState":"Succeeded","frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd"},"frontendPort":50001,"backendPort":22,"enableFloatingIP":false,"idleTimeoutInMinutes":4,"protocol":"Tcp","backendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/vmss1e043Nic/ipConfigurations/vmss1e043IPConfig"}}}],"outboundNatRules":[],"inboundNatPools":[{"name":"vmss1LBNatPool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool","etag":"W/\"5278fffd-5dde-4057-9e69-2e601d121bd7\"","properties":{"provisioningState":"Succeeded","frontendPortRangeStart":50000,"frontendPortRangeEnd":50119,"backendPort":22,"protocol":"Tcp","frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgjmqdndazxmerwgp5ej5qzy6mdi6k6nzgnso6eexabg4w7r2r75jfxyxzo5m6okzgt/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd"}}}]},"sku":{"name":"Basic"}},{"name":"vmss1LB","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgp52n6eifuk23shtadiu5c7kzef7nrnxd7gkz6ywps6pss4pzos6hkrh5u[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"lb1\",\r\n \
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/load[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1?api-version=2017-09-01
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/2e262416-41eb-488b-be62-09098a8de854?api-version=2017-09-01']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/2e262416-41eb-488b-be62-09098a8de854?api-version=2017-09-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
[...]
