interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_rules000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_rules000001","name":"cli_test_lb_rules000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_lb_rules000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"variables": {}, "parameters": {}, "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"properties": {"publicIPAllocationMethod": "Dynamic"}, "type":
      "Microsoft.Network/publicIPAddresses", "apiVersion": "2015-06-15", "name": "PublicIPlb1",
      "location": "westus", "dependsOn": [], "tags": {}}, {"properties": {"backendAddressPools":
      [{"name": "lb1bepool"}], "frontendIPConfigurations": [{"name": "LoadBalancerFrontEnd",
      "properties": {"publicIPAddress": {"id": "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}}}]},
      "type": "Microsoft.Network/loadBalancers", "apiVersion": "2015-06-15", "name":
      "lb1", "location": "westus", "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb1"],
      "tags": {}}], "contentVersion": "1.0.0.0", "outputs": {"loadBalancer": {"type":
      "object", "value": "[reference(\''lb1\'')]"}}}, "parameters": {}, "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_rules000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Resources/deployments/lb_deploy_NTsb7Vp6OPAeC92hOrskq4XSU2g67nrS","name":"lb_deploy_NTsb7Vp6OPAeC92hOrskq4XSU2g67nrS","properties":{"templateHash":"3750505713934667683","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-07-28T18:22:35.3846524Z","duration":"PT0.6298023S","correlationId":"2d401f21-c50f-42a1-85f1-439a9a86febc","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_rules000001/providers/Microsoft.Resources/deployments/lb_deploy_NTsb7Vp6OPAeC92hOrskq4XSU2g67nrS/operationStatuses/08587003407307227915?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_rules000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587003407307227915?api-version=2017-05-10
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1\"\
        ,\r\n  \"etag\": \"W/\\\"94327356-dbe0-4c88-8d21-cd8d41dd55b0\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"d02dab3f-b215-434b-bba7-cc6b51fd670b\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"94327356-dbe0-4c88-8d21-cd8d41dd55b0\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"\
        ,\r\n        \"etag\": \"W/\\\"94327356-dbe0-4c88-8d21-cd8d41dd55b0\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"94327356-dbe0-4c88-8d21-cd8d41dd55b0"]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"etag": "W/\\"94327356-dbe0-4c88-8d21-cd8d41dd55b0\\"", "properties":
      {"resourceGuid": "d02dab3f-b215-434b-bba7-cc6b51fd670b", "frontendIPConfigurations":
      [{"etag": "W/\\"94327356-dbe0-4c88-8d21-cd8d41dd55b0\\"", "name": "LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"},
      "provisioningState": "Succeeded"}, "id": "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"}],
      "inboundNatRules": [], "provisioningState": "Succeeded", "probes": [], "loadBalancingRules":
      [{"name": "rule2", "properties": {"backendAddressPool": {"etag": "W/\\"94327356-dbe0-4c88-8d21-cd8d41dd55b0\\"",
      "name": "lb1bepool", "properties": {"provisioningState": "Succeeded"}, "id":
      "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool"},
      "backendPort": 60, "loadDistribution": "Default", "protocol": "Tcp", "frontendIPConfiguration":
      {"etag": "W/\\"94327356-dbe0-4c88-8d21-cd8d41dd55b0\\"", "name": "LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"},
      "provisioningState": "Succeeded"}, "id": "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"},
      "frontendPort": 60, "enableFloatingIP": false}}], "backendAddressPools": [{"etag":
      "W/\\"94327356-dbe0-4c88-8d21-cd8d41dd55b0\\"", "name": "lb1bepool", "properties":
      {"provisioningState": "Succeeded"}, "id": "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool"}],
      "inboundNatPools": [], "outboundNatRules": []}, "tags": {}, "id": "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1",
      "location": "westus"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2017-06-01
  response:
    body: {st[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/28408b24-dde3-4475-800b-aeba09dc905d?api-version=2017-06-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"etag": "W/\\"ee5cb1aa-80c2-4e5a-a84d-33d587f6edd9\\"", "properties":
      {"resourceGuid": "d02dab3f-b215-434b-bba7-cc6b51fd670b", "frontendIPConfigurations":
      [{"etag": "W/\\"ee5cb1aa-80c2-4e5a-a84d-33d587f6edd9\\"", "name": "LoadBalancerFrontEnd",
      "properties": {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"},
      "provisioningState": "Succeeded"}, "id": "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"}],
      "inboundNatRules": [], "provisioningState": "Succeeded", "probes": [], "loadBalancingRules":
      [{"etag": "W/\\"ee5cb1aa-80c2-4e5a-a84d-33d587f6edd9\\"", "name": "rule2", "properties":
      {"backendAddressPool": {"id": "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool"},
      "backendPort": 60, "idleTimeoutInMinutes": 4, "protocol": "Tcp", "frontendIPConfiguration":
      {"id": "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"},
      "provisioningState": "Succeeded", "frontendPort": 60, "loadDistribution": "Default",
      "enableFloatingIP": false}, "id": "/subscriptions/6b085460-5f21-477e-ba44-1035046e9101/resourceGroups/cli_test_lb_rules000001/providers/Microsoft.Network[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lb_rules000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGTEI6NUZSVUxFU01WV0hYVE9DNlBXT0dEUk43Q1FTTVZBTnxEMUFCNTA5MzEwRkEyODAxLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
version: 1
