interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001","name":"cli_test_ag_basic000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_basic000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"parameters": {}, "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "parameters": {}, "resources": [{"type": "Microsoft.Network/virtualNetworks",
      "dependsOn": [], "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}]},
      "tags": {}, "location": "westus", "apiVersion": "2015-06-15", "name": "ag1Vnet"},
      {"type": "Microsoft.Network/applicationGateways", "properties": {"httpListeners":
      [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(\''appGwID\''), \''/frontendIPConfigurations/appGatewayFrontendIP\'')]"},
      "SslCertificate": null, "Protocol": "http", "FrontendPort": {"Id": "[concat(variables(\''appGwID\''),
      \''/frontendPorts/appGatewayFrontendPort\'')]"}}}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"Port": 80, "CookieBasedAffinity":
      "disabled", "connectionDraining": {"drainTimeoutInSec": 1, "enabled": false},
      "Protocol": "Http"}}], "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "frontendIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"privateIPAddress": "", "privateIPAllocationMethod": "Dynamic", "subnet": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "requestRoutingRules": [{"properties": {"backendAddressPool": {"id": "[concat(variables(\''appGwID\''),
      \''/backendAddressPools/appGatewayBackendPool\'')]"}, "httpListener": {"id":
      "[concat(variables(\''appGwID\''), \''/httpListeners/appGatewayHttpListener\'')]"},
      "backendHttpSettings": {"id": "[concat(variables(\''appGwID\''), \''/backendHttpSettingsCollection/appGatewayBackendHttpSettings\'')]"},
      "RuleType": "Basic"}, "Name": "rule1"}], "sku": {"capacity": 2, "name": "Standard_Medium",
      "tier": "Standard"}, "backendAddressPools": [{"name": "appGatewayBackendPool"}]},
      "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/ag1Vnet"], "location":
      "westus", "apiVersion": "2017-11-01", "name": "ag1"}], "variables": {"appGwID":
      "[resourceId(\''Microsoft.Network/applicationGateways\'', \''ag1\'')]"}, "outputs":
      {"applicationGateway": {"value": "[reference(\''ag1\'')]", "type": "object"}},
      "contentVersion": "1.0.0.0"}, "mode": "Incremental"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Resources/deployments/ag_deploy_YnWM7bewpsr6PuFNzmeXn5VBNSmAUN00","name":"ag_deploy_YnWM7bewpsr6PuFNzmeXn5VBNSmAUN00","properties":{"templateHash":"4346101180045610597","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-12-19T04:22:26.1704511Z","duration":"PT0.5331687S","correlationId":"33e762ef-38bf-4f25-9c94-40ed58dbfacd","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ag1Vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic000001/providers/Microsoft.Resources/deployments/ag_deploy_YnWM7bewpsr6PuFNzmeXn5VBNSmAUN00/operationStatuses/08586879495398403360?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2017-11-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag1''
        under resource group ''cli_test_ag_basic000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1\"\
        ,\r\n  \"etag\": \"W/\\\"56878402-d01c-462e-845e-d6730d935730\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"68ffd502-c791-4936-bbe7-5e12638a8c59\"\
        ,\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\"\
        : \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\"\
        : \"Stopped\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n      \
        \  \"name\": \"appGatewayFrontendIP\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"56878402-d01c-462e-845e-d6730d935730\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\"\
        : [],\r\n    \"authenticationCertificates\": [],\r\n    \"frontendIPConfigurations\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n        \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"56878402-d01c-462e-845e-d6730d935730\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updat[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1",
      "tags": {}, "etag": "W/\\"56878402-d01c-462e-845e-d6730d935730\\"", "properties":
      {"probes": [], "resourceGuid": "68ffd502-c791-4936-bbe7-5e12638a8c59", "frontendIPConfigurations":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP",
      "etag": "W/\\"56878402-d01c-462e-845e-d6730d935730\\"", "name": "appGatewayFrontendIP",
      "properties": {"privateIPAllocationMethod": "Dynamic", "provisioningState":
      "Updating", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "requestRoutingRules": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1",
      "etag": "W/\\"56878402-d01c-462e-845e-d6730d935730\\"", "properties": {"backendAddressPool":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool"},
      "ruleType": "Basic", "provisioningState": "Updating", "backendHttpSettings":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings"},
      "httpListener": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener"}},
      "name": "rule1"}], "frontendPorts": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort",
      "etag": "W/\\"56878402-d01c-462e-845e-d6730d935730\\"", "name": "appGatewayFrontendPort",
      "properties": {"provisioningState": "Updating", "port": 80}}], "sslCertificates":
      [], "httpListeners": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener",
      "etag": "W/\\"56878402-d01c-462e-845e-d6730d935730\\"", "name": "appGatewayHttpListener",
      "properties": {"requireServerNameIndication": false, "frontendIPConfiguration":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP"},
      "provisioningState": "Updating", "frontendPort": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort"},
      "protocol": "Http"}}], "urlPathMaps": [], "sku": {"capacity": 2, "name": "Standard_Medium",
      "tier": "Standard"}, "gatewayIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP",
      "etag": "W/\\"56878402-d01c-462e-845e-d6730d935730\\"", "name": "appGatewayFrontendIP",
      "properties": {"provisioningState": "Updating", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "backendHttpSettingsCollection": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings",
      "etag": "W/\\"56878402-d01c-462e-845e-d6730d935730\\"", "name": "appGatewayBackendHttpSettings",
      "properties": {"connectionDraining": {"drainTimeoutInSec": 1, "enabled": false},
      "provisioningState": "Updating", "port": 80, "cookieBasedAffinity": "Disabled",
      "pickHostNameFromBackendAddress": false, "requestTimeout": 30, "protocol": "Http"}}],
      "redirectConfigurations": [{"name": "redirect1", "properties": {"includeQueryString":
      true, "redirectType": "Permanent", "targetListener": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener"},
      "includePath": false}}], "provisioningState": "Updating", "backendAddressPools":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool",
      "etag": "W/\\"56878402-d01c-462e-845e-d6730d935730\\"", "name": "appGatewayBackendPool",
      "properties": {"provisioningState": "Updating", "backendAddresses": []}}], "authenticationCertificates":
      []}, "location": "westus"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2017-11-01
  response:
    body: {string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Network/applicationGateways/ag1",
      "tags": {}, "etag": "W/\\"b0da0482-5906-4a67-97e1-781c3100c926\\"", "properties":
      {"probes": [], "resourceGuid": "68ffd502-c791-4936-bbe7-5e12638a8c59", "frontendIPConfigurations":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_basic000001/providers/Microsoft.Net[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_basic000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGQUc6NUZCQVNJQ0NDSVpBS083QVNVWFEyWlJJTjdMV1RHTnwwQUZFMUFGODMyNzEzM0U4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
