interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_config000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_config000001","name":"cli_test_app_gateway_waf_config000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2017-05-10&$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_config000001%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2017-05-10&$filter=resourceGroup%20eq%20%27cli_test_app_gateway_waf_config000001%27%20and%20name%20eq%20%27pip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"mode": "Incremental", "template": {"outputs": {"applicationGateway":
      {"type": "object", "value": "[reference(\''ag1\'')]"}}, "resources": [{"dependsOn":
      [], "name": "vnet1", "apiVersion": "2015-06-15", "location": "westus", "type":
      "Microsoft.Network/virtualNetworks", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name": "subnet1", "properties":
      {"addressPrefix": "10.0.0.0/24"}}]}}, {"dependsOn": [], "name": "pip1", "apiVersion":
      "2017-09-01", "location": "westus", "type": "Microsoft.Network/publicIPAddresses",
      "tags": {}, "properties": {"publicIPAllocationMethod": "Dynamic"}}, {"dependsOn":
      ["Microsoft.Network/virtualNetworks/vnet1", "Microsoft.Network/publicIpAddresses/pip1"],
      "name": "ag1", "apiVersion": "2017-09-01", "location": "westus", "type": "Microsoft.Network/applicationGateways",
      "tags": {}, "properties": {"backendAddressPools": [{"name": "appGatewayBackendPool"}],
      "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties": {"subnet":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}}}],
      "httpListeners": [{"name": "appGatewayHttpListener", "properties": {"FrontendIpConfiguration":
      {"Id": "[concat(variables(\''appGwID\''), \''/frontendIPConfigurations/appGatewayFrontendIP\'')]"},
      "Protocol": "http", "FrontendPort": {"Id": "[concat(variables(\''appGwID\''),
      \''/frontendPorts/appGatewayFrontendPort\'')]"}, "SslCertificate": null}}],
      "frontendPorts": [{"name": "appGatewayFrontendPort", "properties": {"Port":
      80}}], "requestRoutingRules": [{"Name": "rule1", "properties": {"httpListener":
      {"id": "[concat(variables(\''appGwID\''), \''/httpListeners/appGatewayHttpListener\'')]"},
      "backendHttpSettings": {"id": "[concat(variables(\''appGwID\''), \''/backendHttpSettingsCollection/appGatewayBackendHttpSettings\'')]"},
      "RuleType": "Basic", "backendAddressPool": {"id": "[concat(variables(\''appGwID\''),
      \''/backendAddressPools/appGatewayBackendPool\'')]"}}}], "sku": {"capacity":
      2, "name": "WAF_Medium", "tier": "WAF"}, "frontendIPConfigurations": [{"name":
      "appGatewayFrontendIP", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Network/publicIPAddresses/pip1"}}}],
      "backendHttpSettingsCollection": [{"name": "appGatewayBackendHttpSettings",
      "properties": {"Protocol": "Http", "CookieBasedAffinity": "disabled", "Port":
      80}}]}}], "parameters": {}, "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "variables": {"appGwID": "[resourceId(\''Microsoft.Network/applicationGateways\'',
      \''ag1\'')]"}}, "parameters": {}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Resources/deployments/ag_deploy_O8ozIbwKbLowWhsg4ntJuyZYxBzMKlFf","name":"ag_deploy_O8ozIbwKbLowWhsg4ntJuyZYxBzMKlFf","properties":{"templateHash":"7046321306258557913","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-10-13T22:22:46.8287598Z","duration":"PT0.2587781S","correlationId":"7171280c-a314-4d8c-b91d-db4877e3ab6d","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Network/virtualNetworks/vnet1","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Network/publicIPAddresses/pip1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"pip1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Resources/deployments/ag_deploy_O8ozIbwKbLowWhsg4ntJuyZYxBzMKlFf/operationStatuses/08586936735189076433?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202017-09-02T06%3A22%3A55Z%20and%20correlationId%20eq%20%277171280c-a314-4d8c-b91d-db4877e3ab6d%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/eventtypes/management/values?api-version=2015-04-01&$filter=eventTimestamp%20ge%202017-09-02T06%3A23%3A05Z%20and%20correlationId%20eq%20%277171280c-a314-4d8c-b91d-db4877e3ab6d%27
  response:
    body: {string: '{"value":[{"authorization":{"action":"Microsoft.Network/publicIPAddresses/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Network/publicIPAddresses/pip1"},"caller":"admin2@AzureSDKTeam.onmicrosoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/","iat":"1507931345","nbf":"1507931345","exp":"1507935245","http://schemas.microsoft.com/claims/authnclassreference":"1","aio":"Y2VgYFhTJLS/b1LHBZEf7VeZWNl+BCx+0+WSq9DntmPPP1U5vl8A","http://schemas.microsoft.com/claims/authnmethodsreferences":"pwd","appid":"04b07795-8ddb-461a-bbee-02f9e1bf7b46","appidacr":"0","e_exp":"262800","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname":"Admin2","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname":"Admin2","groups":"e4bb0b56-1014-40f8-88ab-3d8a8cb0e086,8a9b1617-fc8d-4aa9-a42f-99868d314699","ipaddr":"167.220.1.229","name":"Admin2","http://schemas.microsoft.com/identity/claims/objectidentifier":"5963f50c-7c43-405c-af7e-53294de76abd","puid":"1003BFFD959F8423","http://schemas.microsoft.com/identity/claims/scope":"user_impersonation","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier":"sDgexRwCNIfY-hzQjjCDvZT7Izdfo4Syrr4x0dDNzR4","http://schemas.microsoft.com/identity/claims/tenantid":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name":"admin2@AzureSDKTeam.onmicrosoft.com","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn":"admin2@AzureSDKTeam.onmicrosoft.com","uti":"sEftVDUIJUKuGsx7Sj0XAA","ver":"1.0","wids":"62e90394-69f5-4237-9190-012177145e10"},"correlationId":"7171280c-a314-4d8c-b91d-db4877e3ab6d","description":"","eventDataId":"f3daa1a7-3ef4-4603-b31e-75891c12e8e7","eventName":{"value":"BeginRequest","localizedValue":"Begin
        request"},"category":{"value":"Administrative","localizedValue":"Administrative"},"httpRequest":{"clientRequestId":"d5770d74-5c2e-4172-adc9-624b5ae38278","clientIpAddress":"167.220.0.229","method":"PUT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Network/publicIPAddresses/pip1/events/f3daa1a7-3ef4-4603-b31e-75891c12e8e7/ticks/636435301684427135","level":"Informational","resourceGroupName":"cli_test_app_gateway_waf_config000001","resourceProviderName":{"value":"Microsoft.Network","localizedValue":"Microsoft.Network"},"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Network/publicIPAddresses/pip1","resourceType":{"value":"Microsoft.Network/publicIPAddresses","localizedValue":"Microsoft.Network/publicIPAddresses"},"operationId":"bc265c97-676f-481a-8e68-77d373150b2f","operationName":{"value":"Microsoft.Network/publicIPAddresses/write","localizedValue":"Microsoft.Network/publicIPAddresses/write"},"properties":{"requestbody":"{\"location\":\"westus\",\"tags\":{},\"properties\":{\"publicIPAllocationMethod\":\"Dynamic\"}}"},"status":{"value":"Started","localizedValue":"Started"},"subStatus":{"value":"","localizedValue":""},"eventTimestamp":"2017-10-13T22:22:48.4427135Z","submissionTimestamp":"2017-10-13T22:23:00.1308673Z","subscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},{"authorization":{"action":"Microsoft.Network/virtualNetworks/write","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Network/virtualNetworks/vnet1"},"caller":"admin2@AzureSDKTeam.onmicrosoft.com","channels":"Operation","claims":{"aud":"https://management.core.windows.net/","iss":"https://sts.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/","iat":"1507931345","nbf":"1507[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_app_gateway_waf_config000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586936735189076433?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
