interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_dns_zone_import_export000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001","name":"cli_dns_zone_import_export000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com","name":"myzone.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-25a4-1f95894ed301","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":5000,"nameServers":["ns1-04.azure-dns.com.","ns2-04.azure-dns.net.","ns3-04.azure-dns.org.","ns4-04.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [00000002-0000-0000-25a4-1f95894ed301]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TXTRecords": [{"value": ["manualtxt"]}], "TTL": 3600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/TXT/myname2.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/myname2.zone1.com","name":"myname2.zone1.com","type":"Microsoft.Network\/dnszones\/TXT","etag":"ab13b46a-dede-4c0c-940b-21f5c7151c24","properties":{"fqdn":"myname2.zone1.com.myzone.com.","TTL":3600,"TXTRecords":[{"value":["manualtxt"]}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [ab13b46a-dede-4c0c-940b-21f5c7151c24]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11997']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 60, "caaRecords": [{"flags": 0, "value": "ca1.contoso.com",
      "tag": "issue"}, {"flags": 128, "value": "mailto:test@contoso.com", "tag": "iodef"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/CAA/caa1.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/CAA\/caa1.zone1.com","name":"caa1.zone1.com","type":"Microsoft.Network\/dnszones\/CAA","etag":"124f9aaf-4a15-4027-8261-8269e40c2393","properties":{"fqdn":"caa1.zone1.com.myzone.com.","TTL":60,"caaRecords":[{"flags":0,"tag":"issue","value":"ca1.contoso.com"},{"flags":128,"tag":"iodef","value":"mailto:test@contoso.com"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [124f9aaf-4a15-4027-8261-8269e40c2393]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "PTRRecords": [{"ptrdname": "contoso.com"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myptr.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/PTR\/myptr.zone1.com","name":"myptr.zone1.com","type":"Microsoft.Network\/dnszones\/PTR","etag":"a24f1b01-69d5-41aa-9365-7ea7a115b7bc","properties":{"fqdn":"myptr.zone1.com.myzone.com.","TTL":3600,"PTRRecords":[{"ptrdname":"contoso.com"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [a24f1b01-69d5-41aa-9365-7ea7a115b7bc]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "CNAMERecord": {"cname": "contoso.com."}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/CNAME/mycname.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/CNAME\/mycname.zone1.com","name":"mycname.zone1.com","type":"Microsoft.Network\/dnszones\/CNAME","etag":"f5d035fc-fcb6-4a9f-8521-33f36298c942","properties":{"fqdn":"mycname.zone1.com.myzone.com.","TTL":3600,"CNAMERecord":{"cname":"contoso.com."}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [f5d035fc-fcb6-4a9f-8521-33f36298c942]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/NS/@?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"325afbe8-d713-4e5b-9a5a-d8c60fa6296e","properties":{"fqdn":"myzone.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-04.azure-dns.com."},{"nsdname":"ns2-04.azure-dns.net."},{"nsdname":"ns3-04.azure-dns.org."},{"nsdname":"ns4-04.azure-dns.info."}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [325afbe8-d713-4e5b-9a5a-d8c60fa6296e]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"TXTRecords": [{"value": ["hi"]}], "TTL": 3600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/TXT/mytxtrs.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/mytxtrs.zone1.com","name":"mytxtrs.zone1.com","type":"Microsoft.Network\/dnszones\/TXT","etag":"da14f841-cd8d-4fca-9fe6-0bcb12c44c42","properties":{"fqdn":"mytxtrs.zone1.com.myzone.com.","TTL":3600,"TXTRecords":[{"value":["hi"]}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [da14f841-cd8d-4fca-9fe6-0bcb12c44c42]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "SRVRecords": [{"port": 1234, "priority":
      1, "weight": 2, "target": "target.contoso.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/SRV/mysrv.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SRV\/mysrv.zone1.com","name":"mysrv.zone1.com","type":"Microsoft.Network\/dnszones\/SRV","etag":"f44f44e3-e94c-4c1f-82dc-d0ba317957f0","properties":{"fqdn":"mysrv.zone1.com.myzone.com.","TTL":3600,"SRVRecords":[{"port":1234,"priority":1,"target":"target.contoso.com.","weight":2}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [f44f44e3-e94c-4c1f-82dc-d0ba317957f0]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "10.0.0.10"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/A/manuala.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/A\/manuala.zone1.com","name":"manuala.zone1.com","type":"Microsoft.Network\/dnszones\/A","etag":"d976ead7-edbd-4523-b2d7-617454301584","properties":{"fqdn":"manuala.zone1.com.myzone.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.0.0.10"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [d976ead7-edbd-4523-b2d7-617454301584]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "NSRecords": [{"nsdname": "ns.contoso.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/NS/myns.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/NS\/myns.zone1.com","name":"myns.zone1.com","type":"Microsoft.Network\/dnszones\/NS","etag":"12c79c6b-0b6f-41eb-93d0-3ebb890685a9","properties":{"fqdn":"myns.zone1.com.myzone.com.","TTL":3600,"NSRecords":[{"nsdname":"ns.contoso.com."}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [12c79c6b-0b6f-41eb-93d0-3ebb890685a9]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "PTRRecords": [{"ptrdname": "myptrdname"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myname.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/PTR\/myname.zone1.com","name":"myname.zone1.com","type":"Microsoft.Network\/dnszones\/PTR","etag":"bfd4567d-7e0c-422a-8bbe-898078d03922","properties":{"fqdn":"myname.zone1.com.myzone.com.","TTL":3600,"PTRRecords":[{"ptrdname":"myptrdname"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [bfd4567d-7e0c-422a-8bbe-898078d03922]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/SOA/@?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"3e50ad9b-a6e2-421b-b294-90fe285ce24b","properties":{"fqdn":"myzone.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-04.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [3e50ad9b-a6e2-421b-b294-90fe285ce24b]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"AAAARecords": [{"ipv6Address": "2001:4898:e0:99:6dc4:6329:1c99:4e69"}],
      "TTL": 3600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/AAAA/myaaaa.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/AAAA\/myaaaa.zone1.com","name":"myaaaa.zone1.com","type":"Microsoft.Network\/dnszones\/AAAA","etag":"91ac6946-b23b-4480-a39a-ed1274885ebc","properties":{"fqdn":"myaaaa.zone1.com.myzone.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:4898:e0:99:6dc4:6329:1c99:4e69"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [91ac6946-b23b-4480-a39a-ed1274885ebc]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TXTRecords": [{"value": ["abc def"]}, {"value": ["foo
      bar"]}], "TTL": 7200}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/TXT/mytxt2.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/mytxt2.zone1.com","name":"mytxt2.zone1.com","type":"Microsoft.Network\/dnszones\/TXT","etag":"8ee00a79-15ca-4591-b2b9-8a41c3730099","properties":{"fqdn":"mytxt2.zone1.com.myzone.com.","TTL":7200,"TXTRecords":[{"value":["abc
        def"]},{"value":["foo bar"]}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [8ee00a79-15ca-4591-b2b9-8a41c3730099]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11997']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 3600, "MXRecords": [{"exchange": "mail.contoso.com.",
      "preference": 1}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/MX/mymx.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/MX\/mymx.zone1.com","name":"mymx.zone1.com","type":"Microsoft.Network\/dnszones\/MX","etag":"e8cce17f-36c9-4229-b610-05040d96d683","properties":{"fqdn":"mymx.zone1.com.myzone.com.","TTL":3600,"MXRecords":[{"exchange":"mail.contoso.com.","preference":1}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [e8cce17f-36c9-4229-b610-05040d96d683]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"TTL": 0, "ARecords": [{"ipv4Address": "10.0.1.0"}, {"ipv4Address":
      "10.0.1.1"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/A/mya.zone1.com?api-version=2017-09-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microsoft.Network\/dnszones\/myzone.com\/A\/mya.zone1.com","name":"mya.zone1.com","type":"Microsoft.Network\/dnszones\/A","etag":"14c251aa-1f01-43cc-85e5-bb8432e94750","properties":{"fqdn":"mya.zone1.com.myzone.com.","TTL":0,"ARecords":[{"ipv4Address":"10.0.1.0"},{"ipv4Address":"10.0.1.1"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [14c251aa-1f01-43cc-85e5-bb8432e94750]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export000001/providers/Microsoft.Network/dnsZones/myzone.com/recordsets?api-version=2017-09-01
  response:
    body: {string: '{"value":[{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export000001\/providers\/Microso[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_dns_zone_import_export000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZETlM6NUZaT05FOjVGSU1QT1JUOjVGRVhQT1JUSTZCUFNXNVFRTk9YR3w0OUM3MTI0NzU5MUYzRUY3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
