interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_public_ip000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip000001","name":"cli_test_ag_public_ip000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_public_ip000001%27%20and%20name%20eq%20%27vnet4%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_ag_public_ip000001%27%20and%20name%20eq%20%27publicip4%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2017-05-10
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"type": "Microsoft.Network/virtualNetworks", "tags": {}, "properties":
      {"subnets": [{"properties": {"addressPrefix": "10.0.0.1/28"}, "name": "subnet1"}],
      "addressSpace": {"addressPrefixes": ["10.0.0.1/16"]}}, "name": "vnet4", "dependsOn":
      [], "location": "westus", "apiVersion": "2015-06-15"}, {"type": "Microsoft.Network/publicIPAddresses",
      "tags": {}, "properties": {"publicIPAllocationMethod": "Dynamic"}, "name": "publicip4",
      "dependsOn": [], "location": "westus", "apiVersion": "2017-10-01"}, {"type":
      "Microsoft.Network/applicationGateways", "tags": {}, "properties": {"backendHttpSettingsCollection":
      [{"properties": {"CookieBasedAffinity": "disabled", "Port": 80, "connectionDraining":
      {"drainTimeoutInSec": 1, "enabled": false}, "Protocol": "Http"}, "name": "appGatewayBackendHttpSettings"}],
      "requestRoutingRules": [{"Name": "rule1", "properties": {"backendHttpSettings":
      {"id": "[concat(variables(\''appGwID\''), \''/backendHttpSettingsCollection/appGatewayBackendHttpSettings\'')]"},
      "httpListener": {"id": "[concat(variables(\''appGwID\''), \''/httpListeners/appGatewayHttpListener\'')]"},
      "backendAddressPool": {"id": "[concat(variables(\''appGwID\''), \''/backendAddressPools/appGatewayBackendPool\'')]"},
      "RuleType": "Basic"}}], "httpListeners": [{"properties": {"SslCertificate":
      null, "FrontendPort": {"Id": "[concat(variables(\''appGwID\''), \''/frontendPorts/appGatewayFrontendPort\'')]"},
      "FrontendIpConfiguration": {"Id": "[concat(variables(\''appGwID\''), \''/frontendIPConfigurations/appGatewayFrontendIP\'')]"},
      "Protocol": "http"}, "name": "appGatewayHttpListener"}], "backendAddressPools":
      [{"name": "appGatewayBackendPool"}], "gatewayIPConfigurations": [{"properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip000001/providers/Microsoft.Network/virtualNetworks/vnet4/subnets/subnet1"}},
      "name": "appGatewayFrontendIP"}], "sku": {"tier": "Standard", "capacity": 2,
      "name": "Standard_Medium"}, "frontendIPConfigurations": [{"properties": {"publicIPAddress":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip000001/providers/Microsoft.Network/publicIPAddresses/publicip4"}},
      "name": "appGatewayFrontendIP"}], "frontendPorts": [{"properties": {"Port":
      80}, "name": "appGatewayFrontendPort"}]}, "name": "test4", "dependsOn": ["Microsoft.Network/virtualNetworks/vnet4",
      "Microsoft.Network/publicIpAddresses/publicip4"], "location": "westus", "apiVersion":
      "2017-10-01"}], "variables": {"appGwID": "[resourceId(\''Microsoft.Network/applicationGateways\'',
      \''test4\'')]"}, "outputs": {"applicationGateway": {"type": "object", "value":
      "[reference(\''test4\'')]"}}, "parameters": {}, "contentVersion": "1.0.0.0"},
      "mode": "Incremental", "parameters": {}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_public_ip000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip000001/providers/Microsoft.Resources/deployments/ag_deploy_MF4LmcWgeW6NZuBxLKkDMbLhZ95NuoeD","name":"ag_deploy_MF4LmcWgeW6NZuBxLKkDMbLhZ95NuoeD","properties":{"templateHash":"5269813094816145398","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-11-27T23:48:30.8412117Z","duration":"PT0.5167906S","correlationId":"320f87e3-b8e9-4841-8dd3-2ba46dc415e9","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip000001/providers/Microsoft.Network/virtualNetworks/vnet4","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vnet4"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip000001/providers/Microsoft.Network/publicIPAddresses/publicip4","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"publicip4"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_public_ip000001/providers/Microsoft.Network/applicationGateways/test4","resourceType":"Microsoft.Network/applicationGateways","resourceName":"test4"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_public_ip000001/providers/Microsoft.Resources/deployments/ag_deploy_MF4LmcWgeW6NZuBxLKkDMbLhZ95NuoeD/operationStatuses/08586897803751531956?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_public_ip000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586897803751531956?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_public_ip000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGQUc6NUZQVUJMSUM6NUZJUElYQTJLTElFS0lLUzY0M1JFUnxEOEZDRkI0M0FENzM3QTdFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 202, message: Accepted}
version: 1
