interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route_ipv6_peering000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001","name":"cli_test_express_route_ipv6_peering000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1162']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"sku": {"family": "MeteredData", "name": "Premium_MeteredData", "tier":
      "Premium"}, "properties": {"serviceProviderProperties": {"peeringLocation":
      "Area51", "serviceProviderName": "Microsoft ER Test", "bandwidthInMbps": 50}},
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2017-08-01
  response:
    body: {string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\"\
        ,\r\n  \"etag\": \"W/\\\"208f8af2-a4e1-4289-9717-0687c3579dba\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"e5755cfa-1472-44f3-9cf9-38b65fe930f7\",\r\n \
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\"\
        : {\r\n      \"serviceProviderName\": \"Microsoft ER Test\",\r\n      \"peeringLocation\"\
        : \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\"\
        : \"Disabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"serviceKey\"\
        : \"00000000-0000-0000-0000-000000000000\",\r\n    \"serviceProviderProvisioningState\"\
        : \"NotProvisioned\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\"\
        ,\r\n    \"tier\": \"Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\
        \n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/bef92801-c6b3-447b-ba8c-9e927fb7a782?api-version=2017-08-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1156']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/bef92801-c6b3-447b-ba8c-9e927fb7a782?api-version=2017-08-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2017-08-01
  response:
    body: {string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\"\
        ,\r\n  \"etag\": \"W/\\\"4baf8127-e4cd-49a1-b0ff-8001d2f52a67\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"e5755cfa-1472-44f3-9cf9-38b65fe930f7\",\r\n \
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\"\
        : {\r\n      \"serviceProviderName\": \"Microsoft ER Test\",\r\n      \"peeringLocation\"\
        : \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\"\
        : \"Enabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"gatewayManagerEtag\"\
        : \"\",\r\n    \"serviceKey\": \"e02bf9f2-6164-4485-a921-edc88a3ce732\",\r\
        \n    \"serviceProviderProvisioningState\": \"NotProvisioned\"\r\n  },\r\n\
        \  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\",\r\n    \"tier\": \"\
        Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"microsoftPeeringConfig": {"advertisedPublicPrefixes":
      ["104.0.0.0/30"], "customerASN": 10000, "routingRegistryName": "LEVEL3"}, "secondaryPeerAddressPrefix":
      "105.0.0.0/30", "peeringType": "MicrosoftPeering", "peerASN": 10002, "vlanId":
      103, "primaryPeerAddressPrefix": "104.0.0.0/30"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering?api-version=2017-08-01
  response:
    body: {string: "{\r\n  \"name\": \"MicrosoftPeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering\"\
        ,\r\n  \"etag\": \"W/\\\"3c35c6a2-3b26-4233-a2a5-605241aa5155\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        peeringType\": \"MicrosoftPeering\",\r\n    \"azureASN\": 0,\r\n    \"peerASN\"\
        : 10002,\r\n    \"primaryPeerAddressPrefix\": \"104.0.0.0/30\",\r\n    \"\
        secondaryPeerAddressPrefix\": \"105.0.0.0/30\",\r\n    \"state\": \"Disabled\"\
        ,\r\n    \"vlanId\": 103,\r\n    \"lastModifiedBy\": \"\",\r\n    \"microsoftPeeringConfig\"\
        : {\r\n      \"advertisedPublicPrefixes\": [\r\n        \"104.0.0.0/30\"\r\
        \n      ],\r\n      \"advertisedPublicPrefixesState\": \"NotConfigured\",\r\
        \n      \"customerASN\": 10000,\r\n      \"legacyMode\": 0,\r\n      \"routingRegistryName\"\
        : \"LEVEL3\"\r\n    }\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/fcf6b51e-7f18-4010-8048-6062e3123ae1?api-version=2017-08-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1169']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering?api-version=2017-08-01
  response:
    body: {string: "{\r\n  \"name\": \"MicrosoftPeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering\"\
        ,\r\n  \"etag\": \"W/\\\"9179d7ab-efab-41bf-bc69-022ca5d4dbe3\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        peeringType\": \"MicrosoftPeering\",\r\n    \"azureASN\": 12076,\r\n    \"\
        peerASN\": 10002,\r\n    \"primaryPeerAddressPrefix\": \"104.0.0.0/30\",\r\
        \n    \"secondaryPeerAddressPrefix\": \"105.0.0.0/30\",\r\n    \"primaryAzurePort\"\
        : \"A51-TEST-06GMR-CIS-1-PRI-A\",\r\n    \"secondaryAzurePort\": \"A51-TEST-06GMR-CIS-2-SEC-A\"\
        ,\r\n    \"state\": \"Enabled\",\r\n    \"vlanId\": 103,\r\n    \"gatewayManagerEtag\"\
        : \"\",\r\n    \"lastModifiedBy\": \"Customer\",\r\n    \"microsoftPeeringConfig\"\
        : {\r\n      \"advertisedPublicPrefixes\": [\r\n        \"104.0.0.0/30\"\r\
        \n      ],\r\n      \"advertisedPublicPrefixesState\": \"ValidationNeeded\"\
        ,\r\n      \"customerASN\": 10000,\r\n      \"legacyMode\": 0,\r\n      \"\
        routingRegistryName\": \"LEVEL3\"\r\n    }\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"properties": {"ipv6PeeringConfig": {"microsoftPeeringConfig": {"advertisedPublicPrefixes":
      ["2001:db00::/126"], "customerASN": 100001, "routingRegistryName": "LEVEL3"},
      "secondaryPeerAddressPrefix": "2002:db00::/126", "primaryPeerAddressPrefix":
      "2001:db00::/126"}, "gatewayManagerEtag": "", "secondaryAzurePort": "A51-TEST-06GMR-CIS-2-SEC-A",
      "secondaryPeerAddressPrefix": "105.0.0.0/30", "primaryPeerAddressPrefix": "104.0.0.0/30",
      "microsoftPeeringConfig": {"advertisedPublicPrefixes": ["104.0.0.0/30"], "advertisedPublicPrefixesState":
      "ValidationNeeded", "customerASN": 10000, "routingRegistryName": "LEVEL3", "legacyMode":
      0}, "state": "Enabled", "azureASN": 12076, "provisioningState": "Succeeded",
      "primaryAzurePort": "A51-TEST-06GMR-CIS-1-PRI-A", "peeringType": "MicrosoftPeering",
      "peerASN": 10002, "vlanId": 103, "lastModifiedBy": "Customer"}, "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route_ipv6_peering000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/MicrosoftPeering",
      "name": "MicrosoftPeering"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subs[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route_ipv6_peering000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGRVhQUkVTUzo1RlJPVVRFOjVGSVBWNjo1RlBFRVJJTkdZQ3xEOEYyNkI4OTIxOTI5OTI5LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
version: 1
