interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vpn_client_package000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_client_package000001","name":"cli_test_vpn_client_package000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "GatewaySubnet"}]}, "tags": {}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2017-08-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/virtualNetworks/vnet1\"\
        ,\r\n  \"etag\": \"W/\\\"dc4a44a4-277d-47e8-a2b0-61b032805da9\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"45a38e78-d771-4a4e-8072-c6b14f1217b4\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"GatewaySubnet\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet\"\
        ,\r\n        \"etag\": \"W/\\\"dc4a44a4-277d-47e8-a2b0-61b032805da9\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\
        \n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\"\
        : false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/4708cf40-49de-4329-813c-d3b9e1dc5d03?api-version=2017-08-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/4708cf40-49de-4329-813c-d3b9e1dc5d03?api-version=2017-08-01
  response:
    body: {string: !!python/unicode "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"properties": {"publicIPAllocationMethod": "Dynamic",
      "publicIPAddressVersion": "IPv4", "idleTimeoutInMinutes": 4}, "location": "westus",
      "sku": {"name": "Basic"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/publicIPAddresses/pip1?api-version=2017-08-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"pip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_client_packag[...]
[...]
- request:
    body: !!python/unicode 'b''{"location": "westus", "properties": {"activeActive":
      false, "sku": {"tier": "Basic", "name": "Basic"}, "ipConfigurations": [{"properties":
      {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/publicIPAddresses/pip1"},
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet"}},
      "name": "vnetGatewayConfig0"}], "gatewayType": "Vpn", "vpnType": "RouteBased",
      "vpnClientConfiguration": {"vpnClientAddressPool": {"addressPrefixes": ["100.1.1.0/24"]}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1?api-version=2017-08-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"vgw1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGrou[...]
[...]
- request:
    body: !!python/unicode 'b''{"properties": {"bgpSettings": {"asn": 65515, "peerWeight":
      0, "bgpPeeringAddress": "10.0.0.254"}, "activeActive": false, "sku": {"tier":
      "Basic", "name": "Basic", "capacity": 2}, "ipConfigurations": [{"properties":
      {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/publicIPAddresses/pip1"},
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet"}},
      "name": "vnetGatewayConfig0", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1/ipConfigurations/vnetGatewayConfig0",
      "etag": "W/\\"71e04f6d-19f7-405a-9f86-536d62ff52a5\\""}], "resourceGuid": "1f73ae64-b167-4f74-9f0e-504f13b440fb",
      "gatewayType": "Vpn", "enableBgp": false, "vpnType": "RouteBased", "vpnClientConfiguration":
      {"vpnClientProtocols": [], "vpnClientRevokedCertificates": [], "vpnClientAddressPool":
      {"addressPrefixes": ["100.1.1.0/24"]}, "vpnClientRootCertificates": [{"properties":
      {"publicCertData": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlDNXpDQ0FjK2dBd0lCQWdJUVFmSlRjQ25lanBKRGtVbnVoaGxIVWpBTkJna3Foa2lHOXcwQkFRc0ZBREFXDQpNUlF3RWdZRFZRUUREQXRRTWxOU2IyOTBRMlZ5ZERBZUZ3MHhOekEwTURNeU1USXdNRFphRncweE9EQTBNRE15DQpNVFF3TURaYU1CWXhGREFTQmdOVkJBTU1DMUF5VTFKdmIzUkRaWEowTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGDQpBQU9DQVE4QU1JSUJDZ0tDQVFFQXR0OXhUWjg1amlmOGc4MG00QnJqL3UxU3B6d2JsTXU5b1VBVnU4djh2akpPDQpObWVOektzYjFHNVFtQXVnOXdpZnIxaGJMdGJwWFRRaTR2NU9jOStEbGdyNDRlZTJQdkhLZGNVcnNFdGdBeXJQDQpuM3g3TTgvWVRyUW5mMH[...]
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vpn_client_package000001/providers/Microsoft.Network/virtualNetworkGateways/vgw1/generatevpnprofile?api-version=2017-08-01
  response:
    body: {string: !!python/unicode 'null'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/5fcff891-614a-4880-b002-1ba827cb0ac1?api-version=2017-08-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/5fcff891-614a-4880-b002-1ba827cb0ac1?api-version=2017-08-01
  response:
    body: {string: !!python/unicode 'null'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5fcff891-614a-4880-b002-1ba827cb0ac1?api-version=2017-08-01']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/5fcff891-614a-4880-b002-1ba827cb0ac1?api-version=2017-08-01']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5fcff891-614a-4880-b002-1ba827cb0ac1?api-version=2017-08-01
  response:
    body: {string: !!python/unicode '{"error":{"code":"SubscriptionNotFound","message":"The
        subscription ''00000000-0000-0000-0000-000000000000'' could not be found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
version: 1
