interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection","name":"cli_test_active_active_vnet_vnet_connection","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"enableBgp": true, "bgpSettings": {"asn": 65010}, "activeActive":
      true, "gatewayType": "Vpn", "vpnType": "RouteBased", "sku": {"tier": "HighPerformance",
      "name": "HighPerformance"}, "ipConfigurations": [{"properties": {"publicIPAddress":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/publicIPAddresses/gw1ip1"},
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet"},
      "privateIPAllocationMethod": "Dynamic"}, "name": "vnetGatewayConfig0"}, {"properties":
      {"publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/publicIPAddresses/gw1ip2"},
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet"},
      "privateIPAllocationMethod": "Dynamic"}, "name": "vnetGatewayConfig1"}]}, "location":
      "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworkGateways/vgw1?api-version=2017-09-01
  response:
    body: {string: "{\r\n  \"name\": \"vgw1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworkGateways/vgw1\"\
        ,\r\n  \"etag\": \"W/\\\"60f72e67-8f20-4cd2-ad4c-c7cbac460106\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"208d9883-f762-4b0e-abeb-98d4fdd57533\",\r\n \
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"vnetGatewayConfig0\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworkGateways/vgw1/ipConfigurations/vnetGatewayConfig0\"\
        ,\r\n        \"etag\": \"W/\\\"60f72e67-8f20-4cd2-ad4c-c7cbac460106\\\"\"\
        ,\r\n        \"properties\": {\[...]
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"properties": {"enableBgp": true, "usePolicyBasedTrafficSelectors":
      false, "virtualNetworkGateway1": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworkGateways/vgw1"},
      "connectionType": "Vnet2Vnet", "virtualNetworkGateway2": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Network/virtualNetworkGateways/vgw2"},
      "sharedKey": "abc123", "routingWeight": 10, "authorizationKey": null}, "location":
      "westus", "apiVersion": "2015-06-15", "tags": {}, "type": "Microsoft.Network/connections",
      "dependsOn": [], "name": "vnet1to2"}], "parameters": {}, "outputs": {"resource":
      {"type": "object", "value": "[reference(''vnet1to2'')]"}}, "contentVersion":
      "1.0.0.0", "variables": {}}, "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Resources/deployments/vpn_connection_deploy_EvipoDfkfLihg2jY4SCgpWFCo0saQObE","name":"vpn_connection_deploy_EvipoDfkfLihg2jY4SCgpWFCo0saQObE","properties":{"templateHash":"11279323520420068760","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-09-19T00:25:07.4635306Z","duration":"PT0.4785634S","correlationId":"b6412581-b125-4d7b-98ae-0069876bba6b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"connections","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Resources/deployments/vpn_connection_deploy_EvipoDfkfLihg2jY4SCgpWFCo0saQObE/operationStatuses/08586958261784926412?api-version=2017-05-10']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_active_active_vnet_vnet_connection/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586958261784926412?api-version=2017-05-10
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
