interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2021-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iliesrg/providers/Microsoft.Storage/storageAccounts/datahistorypp","name":"datahistorypp","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2021-07-19T17:10:36.1817423Z","key2":"2021-07-19T17:10:36.1817423Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"allowSharedKeyAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-07-19T17:10:36.1817423Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-07-19T17:10:36.1817423Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-07-19T17:10:36.0879993Z","primaryEndpoints":{"dfs":"https://datahistorypp.dfs.core.windows.net/","web":"https://datahistorypp.z13.web.core.windows.net/","blob":"https://datahistorypp.blob.core.windows.net/","queue":"https://datahistorypp.queue.core.windows.net/","table":"https://datahistorypp.table.core.windows.net/","file":"https://datahistorypp.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://datahistorypp-secondary.dfs.core.windows.net/","web":"https://datahistorypp-secondary.z13.web.core.windows.net/","blob":"https://datahistorypp-secondary.blob.core.windows.net/","queue":"https://datahistorypp-secondary.queue.core.windows.net/","table":"https://datahistorypp-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-extension-dogfood/pro[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-08-26T15:11:23.6003200Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-08-26T15:11:23.6003200Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Aug 2021 15:11:43 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/iothubcontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D968A3D0C70F35"'
      last-modified:
      - Thu, 26 Aug 2021 15:11:44 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2021-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clites[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2021-08-26T15:11:20Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006","name":"iot-user-identity000006","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus2","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"09a863fc-c9ce-42b1-aea9-29e4b13dd063","clientId":"3d968703-a761-4844-b5e9-f3228e2e81f2","clientSecretUrl":"https://control-westus2.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006/credentials?tid=72f988bf-86f1-41af-91ab-2d7cd011db47&oid=09a863fc-c9ce-42b1-aea9-29e4b13dd063&aid=3d968703-a761-4844-b5e9-f3228e2e81f2"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "properties": {"minTlsVersion": "1.2", "eventHubEndpoints":
      {"events": {"retentionTimeInDays": 1, "partitionCount": 4}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName":
      ""}}, "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601":
      "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "S1", "capacity": 1}, "identity": {"type": "SystemAssigned,
      UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003","name":"identitytesthub000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","minTlsVersion":"1.2","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":{}},"principalId":"6cb8afa5-3fb6-4314-85c1-df2a49eb8bc9"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZDU1NDYyYzUtM2I5NS00ZjlkLWJmOWMtZTljMmUzYmI2NjI3?api-version=2021-07-01&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZDU1NDYyYzUtM2I5NS00ZjlkLWJmOWMtZTljMmUzYmI2NjI3?api-version=2021-07-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003","name":"identitytesthub000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAADFdLcmU=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"identitytesthub000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"identitytesthubk7jikaw444","endpoint":"sb://iothub-ns-identityte-14480893-0391b9ed7f.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","minTlsVersion":"1.2","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":{"clientId":"3d968703-a761-4844-b5e9-f3228e2e81f2","principalId":"09a863fc-c9ce-42b1-aea9-29e4b13dd063"}},"principalId":"6cb8afa5-3fb6-4314-85c1-df2a49eb8bc9"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Storage%20Blob%20Data%20Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Storage Blob Data Contributor","type":"BuiltInRole","description":"Allows
        for read, write and delete access to Azure Storage blob containers and data","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Storage/storageAccounts/blobServices/containers/delete","Microsoft.Storage/storageAccounts/blobServices/containers/read","Microsoft.Storage/storageAccounts/blobServices/containers/write","Microsoft.Storage/storageAccounts/blobServices/generateUserDelegationKey/action"],"notActions":[],"dataActions":["Microsoft.Storage/storageAccounts/blobServices/containers/blobs/delete","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/read","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/write","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/move/action","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/add/action"],"notDataActions":[]}],"createdOn":"2017-12-21T00:01:24.7972312Z","updatedOn":"2021-02-04T07:04:50.1529191Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe","type":"Microsoft.Authorization/roleDefinitions","name":"ba92f5b4-2d11-453d-a403-e96b0029c9fe"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe",
      "principalId": "6cb8afa5-3fb6-4314-85c1-df2a49eb8bc9"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe","principalId":"6cb8afa5-3fb6-4314-85c1-df2a49eb8bc9","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","condition":null,"conditionVersion":null,"createdOn":"2021-08-26T15:14:04.5552759Z","updatedOn":"2021-08-26T15:14:04.8521612Z","createdBy":null,"updatedBy":"9e98f8a7-2df2-4605-90c3-0ac12e7b4694","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2021-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Devices/IotHubs/TestIotExt1","name":"TestIotExt1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-[...]
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAADFdLcmU=", "properties":
      {"allowedFqdnList": [], "ipFilterRules": [], "minTlsVersion": "1.2", "eventHubEndpoints":
      {"events": {"retentionTimeInDays": 1, "partitionCount": 4}}, "routing": {"endpoints":
      {"serviceBusQueues": [], "serviceBusTopics": [], "eventHubs": [], "storageContainers":
      []}, "routes": [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages",
      "condition": "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==",
      "containerName": "iothubcontainer", "authenticationType": "identityBased"}},
      "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601": "PT15S",
      "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}, "features": "None"}, "sku": {"name": "S1", "capacity": 1}, "identity":
      {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":
      {}}}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '{''IF-MATCH'': ''AAAADFdLcmU=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003","name":"identitytesthub000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAADFdLcmU=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"identitytesthubk7jikaw444-operationmonitoring","endpoint":"sb://iothub-ns-identityte-14480893-0391b9ed7f.servicebus.windows.net/","internalAuthorizationPolicies":[{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"scaleunitsend-1eb92062-93a9-4951-802b-968daefe0be7-iothub","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Send"],"CreatedTime":"Thu,
        26 Aug 2021 15:13:21 GMT","ModifiedTime":"Thu, 26 Aug 2021 15:13:21 GMT"},{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"owner-7a53e178-e30e-45c7-bea9-1e92f4d6d33d-iothub","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Listen","Manage","Send"],"CreatedTime":"Thu,
        26 Aug 2021 15:13:21 GMT","ModifiedTime":"Thu, 26 Aug 2021 15:13:21 GMT"}],"authorizationPolicies":[{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Listen"],"CreatedTime":"Thu,
        26 Aug 2021 15:13:21 GMT","ModifiedTime":"Thu, 26 Aug 2021 15:13:21 GMT"},{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Listen"],"CreatedTime":"Thu,
        26 Aug 2021 15:13:21 GMT","ModifiedTime":"Thu, 26 Aug 2021 15:13:21 GMT"}]}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[],"cosmosDBSqlCollections":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==","containerName":"iothubcontainer","authenticationType":"identityBased"}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT15S","t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMjY3YjBhMjYtZTlmYS00MWFjLWJlZjUtMTliZWYxMmRmYjcz?api-version=2021-07-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "identitytesthub000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2021-07-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"IotHub name
        ''identitytesthub000003'' is not available"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMWFhMjYxMWMtZDY2NS00NTYwLWExMWQtODZhMjQyZjcwNWFm?api-version=2021-07-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNzIwYjg5ZGYtNDJmZi00ZDc0LWI0YWUtMjY3NWY1YTA3MzJi?api-version=2021-07-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009?api-version=2018-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009","name":"ehNamespaceiothubfortest1000009","type":"Microsoft.EventHub/Namespaces","location":"West
        US 2","tags":{},"properties":{"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"a386d5ea-ea90-441a-8263-d816368c84a1:ehnamespaceiothubfortest1qg2vbph","createdAt":"2021-08-26T15:18:41.687Z","updatedAt":"2021-08-26T15:18:41.687Z","serviceBusEndpoint":"https://ehNamespaceiothubfortest1000009.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009/eventhubs/eventHubiothubfortest000010?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009/eventhubs/eventHubiothubfortest000010","name":"eventHubiothubfortest000010","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US 2","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2021-08-26T15:19:44.28Z","updatedAt":"2021-08-26T15:19:44.51Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%276cb8afa5-3fb6-4314-85c1-df2a49eb8bc9%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '505177'
      ocp-aad-diagnostics-server-name:
      - DIJwCLXZtNKxNcNkk8mUSnNlIrFZqWZ33M/IdO0DrA8=
      ocp-aad-session-key:
      - -FekGqu_42xefRTVvscxpkOlAJ_F0z5FWphZrsto0a6HOt24MhfHlkEpNER6Mp-f6vbwy4BEQcNiLA4GvaFW8x0831BXUTVSHGetEiggruKebNBktS4_P95fRt2_mHm8.lVqFNW8OuRjlxQEWXTuuffUjlp3ym7UIH4WMvm10Ysc
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"objectIds": ["6cb8afa5-3fb6-4314-85c1-df2a49eb8bc9"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"6cb8afa5-3fb6-4314-85c1-df2a49eb8bc9","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003"],"appDisplayName":null,"appId":"2aaaa587-8835-4b03-9422-a398de63ba39","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"identitytesthub000003","errorUrl":null,"homepage":null,"informationalUrls":null,"keyCredentials":[{"customKeyIdentifier":"BA30C186F0ABDD6563B29A5483F4A14A7791CD53","endDate":"2021-11-24T15:06:00Z","keyId":"24cdaad4-2bbd-47bf-bd54-25c3b3b669b7","startDate":"2021-08-26T15:06:00Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["2aaaa587-8835-4b03-9422-a398de63ba39","https://identity.azure.net/SpQmtPNGBDoAkDnLSqwj/yKWT4d+E/xdTt5beZMrGng="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '804162'
      ocp-aad-diagnostics-server-name:
      - 4uKjw3XBeOwOUVcKMf9Fri5LAJ5klr2fOn2Lq9Wiygs=
      ocp-aad-session-key:
[...]
