interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-12-18T12:07:14Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601":
      "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a1bfa635-f2bf-42f1-86b5-848c674fc321","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZWIxNGVmOGItMThlMS00Y2QwLTg3ZTctOTM5MzIwMjJlMjM0?api-version=2020-03-01&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZWIxNGVmOGItMThlMS00Y2QwLTg3ZTctOTM5MzIwMjJlMjM0?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a1bfa635-f2bf-42f1-86b5-848c674fc321","resourcegroup":"clitest.rg000001","etag":"AAAABo3TAqE=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot000003","endpoint":"sb://iothub-ns-iot3zdgkzc-6690807-95e7b097d2.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"None"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "dps000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2018-01-22
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"key1": "value1", "key2": "value2"}, "properties":
      {}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  response:
    body:
      string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a1bfa635-f2bf-42f1-86b5-848c674fc321","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYTA2MWFmN2EtM2IyZS00ZmYxLTlhYzYtOWYxOTg0NmNmNzYy?api-version=2018-01-22&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYTA2MWFmN2EtM2IyZS00ZmYxLTlhYzYtOWYxOTg0NmNmNzYy?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  response:
    body:
      string: '{"etag":"AAAAAAX0Mf4=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne001E5A69"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a1bfa635-f2bf-42f1-86b5-848c674fc321","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"etag":"AAAAAAX0Mf4=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne001E5A69"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a1bfa635-f2bf-42f1-86b5-848c674fc321","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"key3": "value3"}, "etag": "AAAAAAX0Mf4=",
      "properties": {"state": "Active", "provisioningState": "Succeeded", "iotHubs":
      [], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOWQyOWRmYTAtZWQ5Yi00OTJjLTlkNjgtNGVkYmM4M2MxZTgx?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYTZhYmNmMjAtY2QxYy00ZmRmLWJkZWMtYzdmOTEwODEzMjIw?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/listkeys?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"keyName":"provisioningserviceowner","primaryKey":"gAJ4feMJqg009bgT3v0XD52dtsE6v6J3ooBIsAGDHlw=","secondaryKey":"fE4glXyZcFknwzhSpmreJHo8mJRPRGCN1LZ0ZnSG5+c=","rights":"ServiceConfig,
        DeviceConnect, EnrollmentWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [], "allocationPolicy":
      "GeoLatency", "authorizationPolicies": [{"keyName": "provisioningserviceowner",
      "primaryKey": "gAJ4feMJqg009bgT3v0XD52dtsE6v6J3ooBIsAGDHlw=", "secondaryKey":
      "fE4glXyZcFknwzhSpmreJHo8mJRPRGCN1LZ0ZnSG5+c=", "rights": "ServiceConfig, DeviceConnect,
      EnrollmentWrite"}, {"keyName": "policy000004", "rights": "EnrollmentRead"}]},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfZDcyNGY4N2MtMDZmNC00YmE1LTlkYWQtYjYxZGM3YjExYmI4?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/keys/policy000004/listkeys?api-version=2018-01-22
  response:
    body:
      string: '{"keyName":"policy000004","primaryKey":"5i/M8ANDJbUnA6XeUTvbx7/3i76IZLqY7u047vF1Ebk=","secondaryKey":"75/29s9NLgjOktgT85ojfGl5focnboeKBhVW9iyfnxo=","rights":"EnrollmentRead"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMGFhZWMzYjEtNTg2OS00MWUzLTk0NDgtMmUwMjkzZjZlNGYx?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYzdmYzk1NmEtYmM0Zi00NzZiLWEwNjktZTUyZTNjNjkyZTE5?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIbQMf9z+sWVUwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRveHByeWRwNWppamc1cHRwMB4XDTIwMTIxNzEyMTMzMFoXDTIw\r\nMTIyMTEyMTMzMFowIzEhMB8GA1UEAwwYVEVTVENFUlRveHByeWRwNWppamc1cHRw\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQAvNd1x+Dmow3lSe6KNRkeX\r\nLQuzExHHoWHNGcb5pYe5MCTEEe0ZU0YNjA6GgvqRXb+MHPVFsLfHHkrNjW8vCaa5\r\nvawU6zpydfV2Y5j8t8nZHFMcQzIREo9TgzwGC9pp6MME+r/qjqfzYjQ09TQJDEVZ\r\nwhsBWmMc89SrcYCj1ba+8fm7H+RiAaRzMo14VsnU+0yegQBSQg6hltYikAJ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"properties":{"subject":"TESTCERT000006","expiry":"Mon,
        21 Dec 2020 12:13:30 GMT","thumbprint":"230D0E3E4729B3C1783FEC10B983D4B3B80B340F","isVerified":false,"created":"Fri,
        18 Dec 2020 12:13:32 GMT","updated":"Fri, 18 Dec 2020 12:13:32 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAX0M9Y="}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIbQMf9z+sWVUwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRveHByeWRwNWppamc1cHRwMB4XDTIwMTIxNzEyMTMzMFoXDTIw\r\nMTIyMTEyMTMzMFowIzEhMB8GA1UEAwwYVEVTVENFUlRveHByeWRwNWppamc1cHRw\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQAvNd1x+Dmow3lSe6KNRkeX\r\nLQuzExHHoWHNGcb5pYe5MCTEEe0ZU0YNjA6GgvqRXb+MHPVFsLfHHkrNjW8vCaa5\r\nvawU6zpydfV2Y5j8t8nZHFMcQzIREo9TgzwGC9pp6MME+r/qjqfzYjQ09TQJDEVZ\r\nwhsBWmMc89SrcYCj1ba+8fm7H+RiAaRzMo14VsnU+0yegQBSQg6hltYikAJdHEYp\r\nwN1aegzAeCo+2SRl4qgZKd6B5rS7wsdxIB+dAGcORKIG4/6fJagwXUjQ0g8hTuK0\r\nVPd9SSAOIxC41oGDQO3cCvoui9vwQbA87LgyQ34A4v2F/5n3KLZJaQPeQqOjBSxB\r\nAgMBAAGjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEwHQYDVR0OBBYEFNo5o+5ea0sN\r\nMlW/75VgGJCv2AcJMB8GA1UdIwQYMBaAFNo5o+5ea0sNMlW/75VgGJCv2AcJMA0G\r\nCSqGSIb3DQEBCwUAA4IBAQATVhxml+cbvOUKkZaEBGdQ83H1ZtQVSksizv49oiEF\r\nWFq4rVvEpV9Ng3Xjao87Id+BjVCI7OrkPYHDb4Igvv3rWgILEukhJd+mYlzjYyOv\r\nazCGebvxqp0vNCmYieVcK1JBKNKi7nunSRukVs1XQKz+aRHhQ/ReHw/KytAnOvgR\r\nY+HgaFDljMAa+AuRW4Q91QmseFyf852DGmu0V5Fh/eDNsuoUZZipruqRDX0EKjLQ\r\nA1kMpTgOGlqNe1+7eV6xf7uKYh6TwlfckLLuNFZJ7vAw9m0hVCXDlCNU+FmucoWG\r\nQnuae2ixpoCKQqORFLadGR1xkxuG8EC/TCV8i9Y58kj0\r\n-----END
      CERTIFICATE-----\r\n"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - AAAAAAX0M9Y=
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005?api-version=2018-01-22
  response:
    body:
      string: '{"properties":{"subject":"TESTCERT000006","expiry":"Mon, 21 Dec 2020
        12:13:30 GMT","thumbprint":"230D0E3E4729B3C1783FEC10B983D4B3B80B340F","isVerified":false,"created":"Fri,
        18 Dec 2020 12:13:32 GMT","updated":"Fri, 18 Dec 2020 12:13:35 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAX0M9s="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - AAAAAAX0M9s=
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005/generateVerificationCode?api-version=2018-01-22
  response:
    body:
      string: '{"properties":{"verificationCode":"BDB1CA1553050815C2E50E8C6DFE0B482E50398F63D43538","subject":"TESTCERT000006","expiry":"Mon,
        21 Dec 2020 12:13:30 GMT","thumbprint":"230D0E3E4729B3C1783FEC10B983D4B3B80B340F","isVerified":false,"created":"Fri,
        18 Dec 2020 12:13:32 GMT","updated":"Fri, 18 Dec 2020 12:13:36 GMT","certificate":"MIIDHTCCAgWgAwIBAgIIbQMf9z+sWVUwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UEAwwYVEVTVENFUlRveHByeWRwNWppamc1cHRwMB4XDTIwMTIxNzEyMTMzMFoXDTIwMTIyMTEyMTMzMFowIzEhMB8GA1UEAwwYVEVTVENFUlRveHByeWRwNWppamc1cHR[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDAjCCAeqgAwIBAgIITqVnsKtAtYMwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRveHByeWRwNWppamc1cHRwMB4XDTIwMTIxNzEyMTMzNloXDTIw\r\nMTIyMTEyMTMzNlowOzE5MDcGA1UEAwwwQkRCMUNBMTU1MzA1MDgxNUMyRTUwRThD\r\nNkRGRTBCNDgyRTUwMzk4RjYzRDQzNTM4MIIBITANBgkqhkiG9w0BAQEFAAOCAQ4A\r\nMIIBCQKCAQAzTQSMnXUiYRisHAOWu7Jor/wZiLVvuA8GoWRz5/EtNugXEZoUfYVS\r\nLeBQMbpe4OLEc/xrjnM87a0W6DDvWLhfRtsl4iPd/219LX0CXS4IUVGltNAOypCY\r\nxvl009AjF0HUc+7FBdZ96C[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a1bfa635-f[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"MkMQ5DjWu4W8Nt0WbRv6Ef8FS9fKoyWOL4x99DhNE7I=","secondaryKey":"feO/mq7EXU9CUUYJglMqi5r3mw8bvTSQG9etiGNzUEQ=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"ZEvOZhh+TzYUexMfg8VpJPvJO8ETDBGDnW8glOmA0Ao=","secondaryKey":"RimtVHo7yqBxb8T/tFsKjSCIrrtDrFpFS0Hh/eQlVEw=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"q144+WU7l+dUZkLflZHZ72xSFmP3cUrlVaeYavxhJBQ=","secondaryKey":"ThI21cjdlvCCMRrd+EUo6FmBN4yF40hbrDKwUlGoIgg=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"6Qr+VGsVpYtvprnNd3BgiHost63Q1fpluBdG15s1eqo=","secondaryKey":"EEtAxZV+Sh6Dwd7L/ktZxd4YnLbQmFsjQsDsU/gfcsI=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"91WRBhw9oqPnsNoFvMCu26nWipoZQ/ZiKqU3sOPtqM0=","secondaryKey":"dDYtt16+nJ7MAlon32OcnP2QAzMPq9wyHe8o91L+ueY=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfM2U2M2YwYmQtZmZlYy00Mzg1LWI5MWMtNTM1Zjg0OWI2ZWVk?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/IotHubKeys/iothubowner/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"MkMQ5DjWu4W8Nt0WbRv6Ef8FS9fKoyWOL4x99DhNE7I=","secondaryKey":"feO/mq7EXU9CUUYJglMqi5r3mw8bvTSQG9etiGNzUEQ=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMDRiYzE5MjUtMjBlZS00NmVhLTg5NWItNTU3MzdhNWU5NmU4?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [{"applyAllocationPolicy":
      true, "allocationWeight": 10, "connectionString": "HostName=iot000003.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=****",
      "location": "westus"}], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNmMzNmVjOTYtMmY0Ny00MzM0LTgxODYtMDA5YTI4MGJhZTZj?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYWQ0ODFiZWQtZmE2Ni00NTI3LWJmYjgtNjk1ODliNDk5M2Q4?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNjllNjk1YWYtYTBhMC00MzAzLWJmYWQtMDMxNjhlZGRiNjIw?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
