interactions:
- request:
    body: '{"name": "dps000002"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2021-10-15
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-03T17:37:21Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "S1", "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2021-10-15
  response:
    body:
      string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfYWI1YjdjNWYtN2NkZi00NmFjLTg5MmUtM2UyZmZmOGI1MGQ4O3JlZ2lvbj13ZXN0dXM=?api-version=2021-10-15&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfYWI1YjdjNWYtN2NkZi00NmFjLTg5MmUtM2UyZmZmOGI1MGQ4O3JlZ2lvbj13ZXN0dXM=?api-version=2021-10-15&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2021-10-15
  response:
    body:
      string: '{"etag":"AAAAAA/Pz78=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne005CB741"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601":
      "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H",
      "maxDeliveryCount": 10}}, "enableFileUploadNotifications": false, "cloudToDevice":
      {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H", "feedback": {"lockDurationAsIso8601":
      "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2021-07-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus/operationResults/aWQ9b3NfaWhfNmZmYTkzODQtZjQ4YS00MTkyLTllNTctNjg1ZTk0ZmEzNTljO3JlZ2lvbj13ZXN0dXM=?api-version=2021-07-02&operationSource=other&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus/operationResults/aWQ9b3NfaWhfNmZmYTkzODQtZjQ4YS00MTkyLTllNTctNjg1ZTk0ZmEzNTljO3JlZ2lvbj13ZXN0dXM=?api-version=2021-07-02&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2021-07-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAADGeauhw=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot000003","endpoint":"sb://iothub-ns-iotdmv6gfk-18891520-d7b1824679.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"None"},"systemData":{"createdAt":"2022-05-03T17:38:03.7966667Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2021-07-02
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rk-iot-rg/providers/Microsoft.Devices/IotHubs/rk-identity-hub","name":"rk-identity-hub","type":"Microsoft.Devices/IotHubs","location":"eastus","tags":{"e":"b","test":"test"},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"rk-iot-rg","etag":"AAAADGUsk7g=","properties":{"locations":[{"location":"East
        US","role":"primary"},{"location":"West US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"rk-identity-hub.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"rk-identity-hub","endpoint":"sb://ioth[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/listkeys?api-version=2021-07-02
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "etag": "AAAADGeauhw=", "properties":
      {"authorizationPolicies": [{"keyName": "iothubowner", "primaryKey":"mock_key",
      "secondaryKey":"mock_key", "rights": "RegistryWrite, ServiceConnect, DeviceConnect"},
      {"keyName": "service", "primaryKey":"mock_key", "secondaryKey":"mock_key", "rights":
      "ServiceConnect"}, {"keyName": "device", "primaryKey":"mock_key", "secondaryKey":"mock_key",
      "rights": "DeviceConnect"}, {"keyName": "registryRead", "primaryKey":"mock_key",
      "secondaryKey":"mock_key", "rights": "RegistryRead"}, {"keyName": "regi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus/operationResults/aWQ9b3NfaWhfMzdkYTRhOTEtYjBhNC00N2FkLTk0YTUtNDI3ZjExNDQwZTUwO3JlZ2lvbj13ZXN0dXM=?api-version=2021-07-02&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/IotHubKeys/iothubowner/listkeys?api-version=2021-07-02
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfOTJjNmQxZWQtMjg5Zi00MzM1LWFhYTItNmNjNjUyOTNjOTA0O3JlZ2lvbj13ZXN0dXM=?api-version=2021-10-15&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMGQyZDQ0NjYtYzk3OC00MWEyLWIyZmYtOWQ5MjEwNGY1ZTBkO3JlZ2lvbj13ZXN0dXM=?api-version=2021-10-15&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfOGNkNzYzMDktOGFhMS00ZjM5LWFlYTgtOWE5ZTY2YjRmOWY4O3JlZ2lvbj13ZXN0dXM=?api-version=2021-10-15&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMGIwMjY4MGUtMmEyZS00MTJiLTk4YjEtODhlMmE0YTQ5MDY0O3JlZ2lvbj13ZXN0dXM=?api-version=2021-10-15&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "etag": "AAAAAA/P07k=", "properties":
      {"state": "Active", "provisioningState": "Succeeded", "iotHubs": [{"connectionString":
      "HostName=iot000003.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=mock_key;",
      "location": "westus"}], "allocationPolicy": "Hashed"}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.D