interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2019-08-19T04:01:44Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "Storage", "location": "westus2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1?api-version=2019-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/e865b82e-6b45-4346-887f-41ed2b6bfcdd?monitor=true&api-version=2019-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/e865b82e-6b45-4346-887f-41ed2b6bfcdd?monitor=true&api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1","name":"iothubteststorage1","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-08-19T04:01:51.2912879Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-08-19T04:01:51.2912879Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-08-19T04:01:51.2287751Z","primaryEndpoints":{"blob":"https://iothubteststorage1.blob.core.windows.net/","queue":"https://iothubteststorage1.queue.core.windows.net/","table":"https://iothubteststorage1.table.core.windows.net/","file":"https://iothubteststorage1.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://iothubteststorage1-secondary.blob.core.windows.net/","queue":"https://iothubteststorage1-secondary.queue.core.windows.net/","table":"https://iothubteststorage1-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-04-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1","name":"iothubteststorage1","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-08-19T04:01:51.2912879Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-08-19T04:01:51.2912879Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-08-19T04:01:51.2287751Z","primaryEndpoints":{"blob":"https://iothubteststorage1.blob.core.windows.net/","queue":"https://iothubteststorage1.queue.core.windows.net/","table":"https://iothubteststorage1.table.core.windows.net/","file":"https://iothubteststorage1.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://iothubteststorage1-secondary.blob.core.windows.net/","queue":"https://iothubteststorage1-secondary.queue.core.windows.net/","table":"https://iothubteststorage1-secondary.table.core.windows.net/"}}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1/listKeys?api-version=2019-04-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 19 Aug 2019 04:02:09 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://iothubteststorage1.blob.core.windows.net/iothubcontainer1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7245A026AC96B"'
      last-modified:
      - Mon, 19 Aug 2019 04:02:10 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1","name":"ehNamespaceiothubfortest-1","type":"Microsoft.EventHub/Namespaces","location":"West
        US 2","tags":{},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":false,"provisioningState":"Created","metricId":"85a6c256-e687-4281-9cca-84869cf6ef36:ehnamespaceiothubfortest-1","createdAt":"2019-08-19T04:02:13.097Z","updatedAt":"2019-08-19T04:02:13.097Z","serviceBusEndpoint":"https://ehNamespaceiothubfortest-1.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest","name":"eventHubiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US 2","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2019-08-19T04:03:17.823Z","updatedAt":"2019-08-19T04:03:17.97Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest","name":"eventHubPolicyiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","location":"West
        US 2","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest/ListKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest-1.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=b2iU6toq6Y+lfJB3PTr/OaFFZbSFvRhsLkNoV1Fc1fY=;EntityPath=eventHubiothubfortest","secondaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest-1.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=sWNz4o2lQSb+GDEl7HsN0RHHRHqwa5u8KQFWvc+75/4=;EntityPath=eventHubiothubfortest","primaryKey":"b2iU6toq6Y+lfJB3PTr/OaFFZbSFvRhsLkNoV1Fc1fY=","secondaryKey":"sWNz4o2lQSb+GDEl7HsN0RHHRHqwa5u8KQFWvc+75/4=","keyName":"eventHubPolicyiothubfortest"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "iot-hub-for-test-1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2019-03-22-preview
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 4}}}, "sku": {"name": "S1", "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"85a6c256-e687-4281-9cca-84869cf6ef36","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMmY2OWU1MzItYTY3Ni00MGYxLTk3ZmEtNjdiOThhNzZkMjdj?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMmY2OWU1MzItYTY3Ni00MGYxLTk3ZmEtNjdiOThhNzZkMjdj?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"85a6c256-e687-4281-9cca-84869cf6ef36","resourcegroup":"clitest.rg000001","etag":"AAAAAAeNftE=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test-1.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-1","endpoint":"sb://iothub-ns-iot-hub-fo-2031613-e439d6a212.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/IotHubKeys/iothubowner/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"oVsVj5FxKKl9mNL1lQbO1jgkKcDis4ypo/ajThqLokE=","secondaryKey":"dP9Wq4G08zPaz80Dbq64Bpq1bZEVlwEgs1s19WLYWrE=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"oVsVj5FxKKl9mNL1lQbO1jgkKcDis4ypo/ajThqLokE=","secondaryKey":"dP9Wq4G08zPaz80Dbq64Bpq1bZEVlwEgs1s19WLYWrE=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"EUKMTFq3sjbzwdBHTuGm3mJsCiBU0qhHWBug3+9hFG4=","secondaryKey":"XkqcyA6p7hFcqTBl/rh3qDxhxpmGjyj3nDOU1sJx8rY=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"i6JKIAM7I5gJzl0mEhQHKLAZjyI3kZA1/tlr5jbNsss=","secondaryKey":"NM+EsrCEkuq8TE8NHvaxsZ4mON7ERS4qDgE2facrkYk=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"4+R7ziEIljZOUL2uQQWVeKJy+MzYl7B3TG1YpsHT1OE=","secondaryKey":"bKMn7PUQvHes0Qup80UDD7Sljx7aoVpQrG0GfSQvkW4=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"wJBx5Ca4aaEWe0uQePZO68gtheIMWEHn1Pv+FESmTwc=","secondaryKey":"VEYMLVJoHa6Bkuo+Ts4TfWm19d9B8BSIi2Kc6DS6bOY=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAAAAeNftE=", "properties":
      {"ipFilterRules": [], "eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues": [],
      "serviceBusTopics": [], "eventHubs": [], "storageContainers": []}, "routes":
      [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages", "condition":
      "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName":
      ""}}, "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601":
      "PT1M", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 20}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT1M", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}, "features": "None"}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '{''IF-MATCH'': ''AAAAAAeNftE=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"85a6c256-e687-4281-9cca-84869cf6ef36","resourcegroup":"clitest.rg000001","etag":"AAAAAAeNftE=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"oVsVj5FxKKl9mNL1lQbO1jgkKcDis4ypo/ajThqLokE=","secondaryKey":"dP9Wq4G08zPaz80Dbq64Bpq1bZEVlwEgs1s19WLYWrE=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"EUKMTFq3sjbzwdBHTuGm3mJsCiBU0qhHWBug3+9hFG4=","secondaryKey":"XkqcyA6p7hFcqTBl/rh3qDxhxpmGjyj3nDOU1sJx8rY=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"i6JKIAM7I5gJzl0mEhQHKLAZjyI3kZA1/tlr5jbNsss=","secondaryKey":"NM+EsrCEkuq8TE8NHvaxsZ4mON7ERS4qDgE2facrkYk=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"4+R7ziEIljZOUL2uQQWVeKJy+MzYl7B3TG1YpsHT1OE=","secondaryKey":"bKMn7PUQvHes0Qup80UDD7Sljx7aoVpQrG0GfSQvkW4=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"wJBx5Ca4aaEWe0uQePZO68gtheIMWEHn1Pv+FESmTwc=","secondaryKey":"VEYMLVJoHa6Bkuo+Ts4TfWm19d9B8BSIi2Kc6DS6bOY=","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-1-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-2031613-e439d6a212.servicebus.windows.net/","internalAuthorizationPolicies":[{"KeyName":"scaleunitsend-bce51779-d5d1-4363-8bb1-00ee5303c325-iothub","PrimaryKey":"LYIYTT4ajW+BZYBNwiIJPHo+lskR+xBb2706w0OoSvQ=","SecondaryKey":"dYV4wAlutXbY09ZpB8nsUPr7wOdV7lIPtSMBGKs2FME=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Send"],"CreatedTime":"Mon,
        19 Aug 2019 04:05:02 GMT","ModifiedTime":"Mon, 19 Aug 2019 04:05:02 GMT"},{"KeyName":"owner-1101b787-1224-4ce9-94e8-d0876fa188a5-iothub","PrimaryKey":"lObo6BBRq9qXCigEdClXNi/tgGUr+98b5QsD150fWyA=","SecondaryKey":"9ZDEQgAbRdcgmee5aBbTQSC3UyLAnW+SDMZZxSoqOPs=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Listen","Manage","Send"],"CreatedTime":"Mon,
        19 Aug 2019 04:05:02 GMT","ModifiedTime":"Mon, 19 Aug 2019 04:05:02 GMT"}],"authorizationPolicies":[{"KeyName":"iothubowner","PrimaryKey":"oVsVj5FxKKl9mNL1lQbO1jgkKcDis[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMjU3ZGQ2NzgtM2JiMS00YzU4LTg0MGItMjljODU5ZjUyMmJi?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/skus?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S1","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S2","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S3","tier":"Standard"},"capacity":{"minimum":1,"maximum":10,"default":1,"scaleType":"Manual"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMmQ1ZjM0ZDktNGNlYS00ODAzLWE2ZDYtNDk3YjEzNGZiMGIx?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/IotHubKeys/test_policy/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"keyName":"test_policy","primaryKey":"zBOITRfFMsDdzTHozDOQMMgOxGSIMkwliSiHzFfZgsk=","secondaryKey":"QLXVNKwQuDFj2w8sVl03mD9nxZEoJ7ln5GYqGoM6v0o=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfOWNmZDlmYzItYzFhMC00YTdhLThmODYtYjZjMDM4ZWIxOWJh?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfOTI4MWRlZjctNWUyYi00YjYwLWIwNTItNzdkNzBhODk0ZTQ0?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfY2M5OTBmYjMtZDI3My00ODhlLWJmYjMtZWI3YjRkZjJhYjc0?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/eventHubEndpoints/events/ConsumerGroups/cg1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"properties":{"created":"Mon, 19 Aug 2019 04:08:48 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/eventHubEndpoints/events/ConsumerGroups/cg1","name":"cg1","type":"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups","etag":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/eventHubEndpoints/events/ConsumerGroups?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"properties":{"created":"Mon, 19 Aug 2019 04:04:58 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/eventHubEndpoints/events/ConsumerGroups/%24Default","name":"$Default","type":"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups","etag":null},{"properties":{"created":"Mon,
        19 Aug 2019 04:08:48 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/eventHubEndpoints/events/ConsumerGroups/cg1","name":"cg1","type":"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups","etag":null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/jobs?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
[...]
