interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2021-09-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-clir62dw/providers/Microsoft.Storage/storageAccounts/adlsgen2j27zrbaz","name":"adlsgen2j27zrbaz","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2022-04-21T13:11:33.3535138Z","key2":"2022-04-21T13:11:33.3535138Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-04-21T13:11:33.3691129Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-04-21T13:11:33.3691129Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2022-04-21T13:11:33.1816515Z","primaryEndpoints":{"blob":"https://adlsgen2j27zrbaz.blob.core.windows.net/","queue":"https://adlsgen2j27zrbaz.queue.core.windows.net/","table":"https://adlsgen2j27zrbaz.table.core.windows.net/","file":"https://adlsgen2j27zrbaz.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"identity":{"principalId":"840fca70-40b9-4b11-b371-47d2a7fca49b","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aprao-keyvault-icm/providers/Microsoft.Storage/storageAccounts/apraos","name":"apraos","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2021-03-16T18:40:34.9782915Z","key2":"2021-03-16T18:40:34.9782915Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"allowSharedKeyAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"keyvaultproperties":{"currentVersionedKeyIdentifier":"https://aprao-keyvault.vault.azure.net/keys/key1/1868f66b800d4c35a2b1d74caec0533d","lastKeyRotationTimestamp":"2021-03-16T18:42:12.1198230Z","currentVersionedKeyExpirationTimestamp":"2023-03-09T19:06:47.0000000Z","keyvaulturi":"https://aprao-keyvault.vault.azure.net","keyname":"key1","keyversion":""},"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-03-16T18:40:34.9939470Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-03-16T18:40:34.9939470Z"}},"keySource":"Microsoft.Keyvault"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-03-16T18:40:34.8533176Z","primaryEndpoints":{"dfs":"https://apraos.dfs.core.windows.net/","web":"https://apraos.z13.web.core.windows.net/","blob":"https://apraos.blob.core.windows.net/","queue":"https://apraos.queue.core.windows.net/","table":"https://apraos.table.core.windows.net/","file":"https://apraos.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://apraos-secondary.dfs.core.windows.net/","web":"https://apraos-secondary.z13.web.core.windows.net/","blob":"https://apraos-secondary.blob.core.windows.net/","queue":"https://apraos-secondary.queue.core.windows.net/","table":"https://apraos-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ardsouza-test/providers/Microsoft.Storage/storageAccounts/ardsouzaprivatelinkstest","name":"ardsouzaprivatelinkstest","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"defaultToOAuthAuthentication":false,"keyCreationTime":{"key1":"2022-03-08T21:54:38.4161048Z","key2":"2022-03-08T21:54:38.4161048Z"},"allowCrossTenantReplication":true,"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ardsouza-test/providers/Microsoft.Storage/storageAccounts/ardsouzaprivatelinkstest/privateEndpointConnections/ardsouzaprivatelinkstest.4bdc6ad2-b8b7-4064-a8a8-771c1742c20c","name":"ardsouzaprivatelinkstest.4bdc6ad2-b8b7-4064-a8a8-771c1742c20c","type":"Microsoft.Storage/storageAccounts/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ardsouza-test/providers/Microsoft.Network/privateEndpoints/ardsouzatestprivatelink"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionRequired":"None"}}}],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"allowSharedKeyAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"identity":{},"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-03-08T21:54:38.4161048Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-03-08T21:54:38.4161048Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2022-03-08T21:54:38.2754673Z","primaryEndpoints":{"dfs":"https://ardsouzaprivatelinkstest.dfs.core.windows.net/","web":"https://ardsouzaprivatelinkstest.z13.web.core.windows.net/","blob":"https:/[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-04-21T13:14:06.0728123Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-04-21T13:14:06.0728123Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Apr 2022 13:14:27 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/iothubcontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2398DD3045AA"'
      last-modified:
      - Thu, 21 Apr 2022 13:14:27 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2021-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clites[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2022-04-21T13:13:58Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006?api-version=2018-11-30
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006","name":"iot-user-identity000006","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus2","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"56423b22-82f5-46f9-b483-cb70dfc7387e","clientId":"bb2c9a38-3c4a-4d03-94f7-e15657b25319"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "properties": {"minTlsVersion": "1.2", "eventHubEndpoints":
      {"events": {"retentionTimeInDays": 1, "partitionCount": 4}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName":
      ""}}, "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601":
      "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "S1", "capacity": 1}, "identity": {"type": "SystemAssigned,
      UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003?api-version=2021-07-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003","name":"identitytesthub000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"326100e2-f69d-4268-8503-075374f62b6e","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","minTlsVersion":"1.2","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":{}},"principalId":"8706c1ce-659d-480d-8aef-db879f6a3b46"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfMTczMzg3MTQtNDQyYi00NmNmLWE3ZTMtNDRjZmUxYzliNzI4O3JlZ2lvbj13ZXN0dXMy?api-version=2021-07-02&operationSource=other&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4997'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfMTczMzg3MTQtNDQyYi00NmNmLWE3ZTMtNDRjZmUxYzliNzI4O3JlZ2lvbj13ZXN0dXMy?api-version=2021-07-02&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003?api-version=2021-07-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003","name":"identitytesthub000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"326100e2-f69d-4268-8503-075374f62b6e","resourcegroup":"clitest.rg000001","etag":"AAAADGcWF00=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"identitytesthub000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"identitytesthubzrekepvtgm","endpoint":"sb://iothub-ns-identityte-18758460-e3001cb930.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","minTlsVersion":"1.2","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":{"clientId":"bb2c9a38-3c4a-4d03-94f7-e15657b25319","principalId":"56423b22-82f5-46f9-b483-cb70dfc7387e"}},"principalId":"8706c1ce-659d-480d-8aef-db879f6a3b46"},"systemData":{"createdAt":"2022-04-21T13:14:50.68Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Storage%20Blob%20Data%20Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Storage Blob Data Contributor","type":"BuiltInRole","description":"Allows
        for read, write and delete access to Azure Storage blob containers and data","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Storage/storageAccounts/blobServices/containers/delete","Microsoft.Storage/storageAccounts/blobServices/containers/read","Microsoft.Storage/storageAccounts/blobServices/containers/write","Microsoft.Storage/storageAccounts/blobServices/generateUserDelegationKey/action"],"notActions":[],"dataActions":["Microsoft.Storage/storageAccounts/blobServices/containers/blobs/delete","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/read","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/write","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/move/action","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/add/action"],"notDataActions":[]}],"createdOn":"2017-12-21T00:01:24.7972312Z","updatedOn":"2021-11-11T20:13:54.9397456Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe","type":"Microsoft.Authorization/roleDefinitions","name":"ba92f5b4-2d11-453d-a403-e96b0029c9fe"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe",
      "principalId": "8706c1ce-659d-480d-8aef-db879f6a3b46"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe","principalId":"8706c1ce-659d-480d-8aef-db879f6a3b46","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","condition":null,"conditionVersion":null,"createdOn":"2022-04-21T13:17:24.2098236Z","updatedOn":"2022-04-21T13:17:24.5848840Z","createdBy":null,"updatedBy":"2e7263aa-44a5-42f2-9bb1-00e46bfcdf7a","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2021-07-02
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/juanfunction/providers/Microsoft.Devices/IotHubs/juanhub","name":"juanhub","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"326100e2-f69d-4268[...]
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAADGcWF00=", "properties":
      {"allowedFqdnList": [], "ipFilterRules": [], "minTlsVersion": "1.2", "eventHubEndpoints":
      {"events": {"retentionTimeInDays": 1, "partitionCount": 4}}, "routing": {"endpoints":
      {"serviceBusQueues": [], "serviceBusTopics": [], "eventHubs": [], "storageContainers":
      []}, "routes": [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages",
      "condition": "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==",
      "containerName": "iothubcontainer", "authenticationType": "identityBased"}},
      "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601": "PT15S",
      "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}, "features": "None"}, "sku": {"name": "S1", "capacity": 1}, "identity":
      {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":
      {}}}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '{''IF-MATCH'': ''AAAADGcWF00=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003?api-version=2021-07-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003","name":"identitytesthub000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"326100e2-f69d-4268-8503-075374f62b6e","resourcegroup":"clitest.rg000001","etag":"AAAADGcWF00=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"identitytesthubzrekepvtgm-operationmonitoring","endpoint":"sb://iothub-ns-identityte-18758460-e3001cb930.servicebus.windows.net/","internalAuthorizationPolicies":[{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"scaleunitsend-300f0b75-19d1-429e-ac07-16bf5b403b1f-iothub","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Send"],"CreatedTime":"Thu,
        21 Apr 2022 13:16:30 GMT","ModifiedTime":"Thu, 21 Apr 2022 13:16:30 GMT"},{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"owner-b976fd00-31fb-4f1a-b326-1edc281db41b-iothub","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Listen","Manage","Send"],"CreatedTime":"Thu,
        21 Apr 2022 13:16:30 GMT","ModifiedTime":"Thu, 21 Apr 2022 13:16:30 GMT"}],"authorizationPolicies":[{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Listen"],"CreatedTime":"Thu,
        21 Apr 2022 13:16:30 GMT","ModifiedTime":"Thu, 21 Apr 2022 13:16:30 GMT"},{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Listen"],"CreatedTime":"Thu,
        21 Apr 2022 13:16:30 GMT","ModifiedTime":"Thu, 21 Apr 2022 13:16:30 GMT"}]}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[],"cosmosDBSqlCollections":[],"azureDigitalTwinsInstances":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==","containerName":"iothubcontainer","authenticationType":"identityBased"}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT15S","t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfOTI5YTViZTQtOTQzZS00ODc4LWJiNDUtNmMzZGNlMTUyYjEzO3JlZ2lvbj13ZXN0dXMy?api-version=2021-07-02&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "identitytesthub000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2021-07-02
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"IotHub name
        ''identitytesthub000003'' is not available"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfZDgxOTc5OWMtZjRhNy00MzY5LWE5Y2YtYzNmMGVhMzJhNDU1O3JlZ2lvbj13ZXN0dXMy?api-version=2021-07-02&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfMTFhYjkyMWQtY2Q3ZC00NmI2LWE1ZjEtNWViMmVlZTE5ZmY2O3JlZ2lvbj13ZXN0dXMy?api-version=2021-07-02&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009?api-version=2021-11-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009","name":"ehNamespaceiothubfortest1000009","type":"Microsoft.EventHub/Namespaces","location":"West
        US 2","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"326100e2-f69d-4268-8503-075374f62b6e:ehnamespaceiothubfortest1hhbhiqm","createdAt":"2022-04-21T13:20:13.103Z","updatedAt":"2022-04-21T13:20:13.103Z","serviceBusEndpoint":"https://ehNamespaceiothubfortest1000009.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009/eventhubs/eventHubiothubfortest000010?api-version=2021-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009/eventhubs/eventHubiothubfortest000010","name":"eventHubiothubfortest000010","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US 2","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2022-04-21T13:21:16.957Z","updatedAt":"2022-04-21T13:21:17.18Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
[...]
