interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-03-24T21:05:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"displayName": "iotc-cli-test000002",
      "subdomain": "iotc-cli-test000002"}, "sku": {"name": "ST2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"8c27f9c4-7f53-43f4-9fa0-e118e95e637f","state":"created","displayName":"iotc-cli-test000002","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","capabilities":{"pnp-preview":true,"asa-stamp":true,"default":true},"subdomain":"iotc-cli-test000002","createdDate":"2020-03-24T21:05:30.002Z","template":"iotc-pnp-preview@1.0.0"},"sku":{"name":"ST2"},"etag":"\"f302cbe0-0000-0100-0000-5e7a761a0000\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"f302cbe0-0000-0100-0000-5e7a761a0000"'
      x-iot-cluster:
      - iotcprodwestcentralus02
      x-iot-correlation:
      - 2m5n6d1p.0
      x-iot-version:
      - 032020.0002-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"displayName": "My Custom App Display
      Name", "subdomain": "iotc-cli-test000002-template", "template": "iotc-pnp-preview@1.0.0"},
      "sku": {"name": "ST1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-templ[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"displayName": "iotc-cli-test000002update",
      "subdomain": "iotc-cli-test000002update", "template": "iotc-pnp-preview@1.0.0"},
      "sku": {"name": "ST2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      IF-MATCH:
      - '"f9059f79-0000-0100-0000-5e7a76400000"'
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template?api-version=2018-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template","name":"iotc-cli-test000002-template","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"3c54c27e-4064-43d6-bf7f-edd10258100a","state":"created","displayName":"iotc-cli-test000002update","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","capabilities":{"pnp-preview":true,"asa-stamp":true,"default":true},"subdomain":"iotc-cli-test000002update","createdDate":"2020-03-24T21:06:07.961Z","lastUpdated":"2020-03-24T21:06:45.521Z","template":"iotc-pnp-preview@1.0.0"},"sku":{"name":"ST2"},"etag":"\"f9051494-0000-0100-0000-5e7a76650000\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f9051494-0000-0100-0000-5e7a76650000"
      x-iot-cluster:
      - iotcprodwestcentralus02
      x-iot-correlation:
      - 4g0hfpr9.0
      x-iot-version:
      - 032020.0002-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"8c27f9c4-7f53-43f4-9fa0-e118e95e637f","state":"created","displayName":"iotc-cli-test000002","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","capabilities":{"pnp-preview":true,"asa-stamp":true,"default":true},"subdomain":"iotc-cli-test000002","createdDate":"2020-03-24T21:05:30.002Z","template":"iotc-pnp-preview@1.0.0"},"sku":{"name":"ST2"},"etag":"\"f302cbe0-0000-0100-0000-5e7a761a0000\""}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"309-BYHhrmvnzPPiLFqEOHEsAKwzT3c"
      x-iot-cluster:
      - iotcprodwestcentralus02
      x-iot-correlation:
      - 7elat0tg.0
      x-iot-version:
      - 032020.0002-release
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body:
      string: ''
    headers:
      x-iot-cluster:
      - iotcprodwestcentralus02
      x-iot-correlation:
      - 1ivsqnok.0
      x-iot-version:
      - 032020.0002-release
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
