interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ADU/providers/Microsoft.Storage/storageAccounts/andbuctestadu","name":"andbuctestadu","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-05-04T22:46:12.4529458Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-05-04T22:46:12.4529458Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-05-04T22:46:12.3904552Z","primaryEndpoints":{"blob":"https://andbuctestadu.blob.core.windows.net/","queue":"https://andbuctestadu.queue.core.windows.net/","table":"https://andbuctestadu.table.core.windows.net/","file":"https://andbuctestadu.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Storage/storageAccounts/testiotextstor0","name":"testiotextstor0","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"Logging,
        Metrics, AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-10-19T00:06:41.0740705Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-10-19T00:06:41.0740705Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2019-10-19T00:06:41.0115264Z","primaryEndpoints":{"dfs":"https://testiotextstor0.dfs.core.windows.net/","web":"https://testiotextstor0.z20.web.core.windows.net/","blob":"https://testiotextstor0.blob.core.windows.net/","queue":"https://testiotextstor0.queue.core.windows.net/","table":"https://testiotextstor0.table.core.windows.net/","file":"https://testiotextstor0.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/pro[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 21 Aug 2020 21:23:33 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/iothubcontainer1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D846187649828C"'
      last-modified:
      - Fri, 21 Aug 2020 21:23:35 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-08-21T21:23:12Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1?api-version=2018-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1","name":"ehNamespaceiothubfortest1","type":"Microsoft.EventHub/Namespaces","location":"West
        US 2","tags":{},"properties":{"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"a386d5ea-ea90-441a-8263-d816368c84a1:ehnamespaceiothubfortest1","createdAt":"2020-08-21T21:23:37.247Z","updatedAt":"2020-08-21T21:23:37.247Z","serviceBusEndpoint":"https://ehNamespaceiothubfortest1.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1/eventhubs/eventHubiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1/eventhubs/eventHubiothubfortest","name":"eventHubiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US 2","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2020-08-21T21:26:41.183Z","updatedAt":"2020-08-21T21:26:41.43Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest","name":"eventHubPolicyiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","location":"West
        US 2","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest/listKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest1.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=cVlX7i9IpVdtLotOWcJdrJwRi3OET1sItF1VpBGHtF8=;EntityPath=eventHubiothubfortest","secondaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest1.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=ypmX/6XVuw0v0CKRUKviitWdfz4CRCrv8gC+eVmWJL8=;EntityPath=eventHubiothubfortest","primaryKey":"mock_key","secondaryKey":"mock_key","keyName":"eventHubPolicyiothubfortest"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 4}}, "storageEndpoints": {"$default":
      {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "F1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11?api-version=2020-03-01
  response:
    body:
      string: '{"code":400016,"httpStatusCode":"BadRequest","message":"Invalid PartitionCount
        4 - value must be between 2 and 2. If you contact a support representative
        please include this correlation identifier: f71a36d6-1ffc-4b1e-826c-5eda60552671,
        timestamp: 2020-08-21 21:26:44Z, errorcode: IH400016."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 2}}, "storageEndpoints": {"$default":
      {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "F1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11","name":"iot-hub-for-test-11","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":2}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"F1","tier":"Free","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfOTVjNjkxNGEtM2Q0Zi00MGYzLTk4MzMtYWQ2YWQ5MjJmOTk1?api-version=2020-03-01&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfOTVjNjkxNGEtM2Q0Zi00MGYzLTk4MzMtYWQ2YWQ5MjJmOTk1?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11","name":"iot-hub-for-test-11","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAAASwhDyU=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test-11.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2,"partitionIds":["0","1"],"path":"iothub-ehub-iot-hub-fo-4157354-9140f81e8d","endpoint":"sb://ihsuprodmwhres016dednamespace.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"F1","tier":"Free","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Devices/IotHubs/TestIotExt1","name":"TestIotExt1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZmM5OGJmMjMtMDg1MS00NTU4LTg3NWEtY2ExN2I4NDQyNDQ0?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"minTlsVersion": "2.5", "eventHubEndpoints":
      {"events": {"retentionTimeInDays": 1, "partitionCount": 4}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName":
      ""}}, "messagingEndpoints": {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}, "enableFileUploadNotifications": false, "cloudToDevice": {"maxDeliveryCount":
      10, "defaultTtlAsIso8601": "PT1H", "feedback": {"lockDurationAsIso8601": "PT5S",
      "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}}, "sku": {"name": "S1", "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11?api-version=2020-03-01
  response:
    body:
      string: '{"code":400089,"httpStatusCode":"BadRequest","message":"2.5 is not
        a valid MinTlsVersion value. If you contact a support representative please
        include this correlation identifier: 39a0fe7a-935e-460c-bff0-d0c5930c9697,
        timestamp: 2020-08-21 21:28:13Z, errorcode: IH400089."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4998'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNDljY2QzYzMtNThmZi00NDI5LTk3NGYtMmM5NzNjZWU2ZmZk?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/IotHubKeys/iothubowner/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAAASwmGqM=", "properties":
      {"ipFilterRules": [], "minTlsVersion": "1.2", "eventHubEndpoints": {"events":
      {"retentionTimeInDays": 4, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues":
      [], "serviceBusTopics": [], "eventHubs": [], "storageContainers": []}, "routes":
      [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages", "condition":
      "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT3H", "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==",
      "containerName": "iothubcontainer1"}}, "messagingEndpoints": {"fileNotifications":
      {"lockDurationAsIso8601": "PT1M", "ttlAsIso8601": "P1DT8H", "maxDeliveryCount":
      80}}, "enableFileUploadNotifications": true, "cloudToDevice": {"maxDeliveryCount":
      46, "defaultTtlAsIso8601": "P1DT10H", "feedback": {"lockDurationAsIso8601":
      "PT10S", "ttlAsIso8601": "P1DT19H", "maxDeliveryCount": 76}}, "features": "None"},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '{''IF-MATCH'': ''AAAAASwmGqM=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11","name":"iot-hub-for-test-11","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAAASwmGqM=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":4,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-11-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-4157375-471e063c9e.servicebus.windows.net/","internalAuthorizationPolicies":[{"KeyName":"scaleunitsend-ed3d72f8-f108-436e-add1-1e135dcbba83-iothub","primaryKey":"mock_key","secondaryKey":"mock_key","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Send"],"CreatedTime":"Fri,
        21 Aug 2020 21:29:52 GMT","ModifiedTime":"Fri, 21 Aug 2020 21:29:52 GMT"},{"KeyName":"owner-19282ebc-4a2a-478c-80fc-a8efa3f9883d-iothub","primaryKey":"mock_key","secondaryKey":"mock_key","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Listen","Manage","Send"],"CreatedTime":"Fri,
        21 Aug 2020 21:29:52 GMT","ModifiedTime":"Fri, 21 Aug 2020 21:29:52 GMT"}],"authorizationPolicies":[{"KeyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["List[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMjFkNzE2YTAtZDI4Mi00MDg4LThlMGEtMzFhOWM4YjUwMTJh?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11","name":"iot-hub-for-test-11","type":"Microsoft.Devices/IotHubs","locat[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/skus?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S1","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S2","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S3","tier":"Standard"},"capacity":{"minimum":1,"maximum":10,"default":1,"scaleType":"Manual"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZmMxZjgwNDctZmZlOS00NGU2LWFlMTYtNTVkMjdjOWIyODVh?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/IotHubKeys/test_policy/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"keyName":"test_policy","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNDc1OWYyNTUtNTg5NC00MjMwLThiMGQtMmFmZjk1NWNhM2Rm?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNjIzOTdlYzMtY2Y0OS00N2ViLThmMTUtOTIyNGIwNzdhY2Q1?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfOTYyMjkwNTQtNWE3ZC00MmYxLWJlODItMzYzZjlkYTkyMTYz?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/eventHubEndpoints/events/ConsumerGroups/cg1?api-version=2020-03-01
  response:
    body:
      string: '{"properties":{"created":"Fri, 21 Aug 2020 21:34:08 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/eventHubEndpoints/events/ConsumerGroups/cg1","name":"cg1","type":"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups","etag":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
[...]
