interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-shell-storage-eastus/providers/Microsoft.Storage/storageAccounts/cs291d126603decx467axbe2","name":"cs291d126603decx467axbe2","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"ms-resource-usage":"azure-cloud-shell"},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-08-09T04:15:44.0833822Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-08-09T04:15:44.0833822Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2019-08-09T04:15:44.0208590Z","primaryEndpoints":{"dfs":"https://cs291d126603decx467axbe2.dfs.core.windows.net/","web":"https://cs291d126603decx467axbe2.z13.web.core.windows.net/","blob":"https://cs291d126603decx467axbe2.blob.core.windows.net/","queue":"https://cs291d126603decx467axbe2.queue.core.windows.net/","table":"https://cs291d126603decx467axbe2.table.core.windows.net/","file":"https://cs291d126603decx467axbe2.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/csharp-iotuap-eastus-01/providers/Microsoft.Storage/storageAccounts/csharpiotuapeastus01","name":"csharpiotuapeastus01","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-11-19T21:49:04.1760888Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-11-19T21:49:04.1760888Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-11-19T21:49:04.0979858Z","primaryEndpoints":{"blob":"https://csharpiotuapeastus01.blob.core.windows.net/","queue":"https://csharpiotuapeastus01.queue.core.windows.net/","table":"https://csharpiotuapeastus01.table.core.windows.net/","file":"https://csharpiotuapeastus01.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dexterm-rg/providers/Microsoft.Storage/storageAccounts/dextermeventblobstorage","name":"dextermeventblobstorage","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHtt[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 29 Jul 2020 19:57:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/iothubcontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D833F990EC0B28"'
      last-modified:
      - Wed, 29 Jul 2020 19:57:04 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"identity-test-hub-cli\"},
      \"location\": {\"value\": \"westus2\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":{\r\n
      \           \"type\": \"string\"\r\n        }\r\n    },\r\n    \"resources\":
      [\r\n        {\r\n            \"type\": \"Microsoft.Devices/IotHubs\",\r\n            \"apiVersion\":
      \"2020-03-01\",\r\n            \"name\": \"[parameters('name')]\",\r\n            \"location\":
      \"[parameters('location')]\",\r\n            \"identity\": {\r\n                \"type\":
      \"SystemAssigned\"\r\n            },\r\n            \"properties\": {\r\n                \"minTlsVersion\":
      \"1.2\"\r\n            },\r\n            \"sku\": {\r\n                \"name\":
      \"S1\",\r\n                \"tier\": \"Standard\",\r\n                \"capacity\":
      1\r\n            }\r\n        },\r\n        {\r\n            \"type\": \"Microsoft.Resources/deployments\",\r\n
      \           \"apiVersion\": \"2018-02-01\",\r\n            \"name\": \"updateIotHubWithKeyEncryptionKey\",\r\n
      \           \"dependsOn\": [\r\n                \"[parameters('name')]\"\r\n
      \           ],\r\n            \"properties\": {\r\n                \"mode\":
      \"Incremental\",\r\n                \"template\": {\r\n                    \"$schema\":
      \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \                   \"contentVersion\": \"0.9.0.0\",\r\n                    \"resources\":
      [\r\n                        {\r\n                            \"type\": \"Microsoft.Devices/IotHubs\",\r\n
      \                           \"apiVersion\": \"2020-03-01\",\r\n                            \"name\":
      \"[parameters('name')]\",\r\n                            \"location\": \"[parameters('location')]\",\r\n
      \                           \"identity\": {\r\n                                \"type\":
      \"SystemAssigned\"\r\n                            },\r\n                            \"properties\":
      {\r\n                                \"minTlsVersion\": \"1.2\"\r\n                            },\r\n
      \                           \"sku\": {\r\n                                \"name\":
      \"S1\",\r\n                                \"tier\": \"Standard\",\r\n                                \"capacity\":
      1\r\n                            }\r\n                        }\r\n                    ]\r\n
      \               }\r\n            }\r\n        }\r\n    ]\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/identity-hub-deployment","name":"identity-hub-deployment","type":"Microsoft.Resources/deployments","properties":{"templateHash":"11350779003338463755","parameters":{"name":{"type":"String","value":"identity-test-hub-cli"},"location":{"type":"String","value":"westus2"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-29T19:57:05.1850063Z","duration":"PT0S","correlationId":"c95e1dad-05af-4784-9491-b4c214c4f86c","providers":[{"namespace":"Microsoft.Devices","resourceTypes":[{"resourceType":"IotHubs","locations":["westus2"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli","resourceType":"Microsoft.Devices/IotHubs","resourceName":"identity-test-hub-cli"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/updateIotHubWithKeyEncryptionKey","resourceType":"Microsoft.Resources/deployments","resourceName":"updateIotHubWithKeyEncryptionKey"}],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/updateIotHubWithKeyEncryptionKey"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"identity-test-hub-cli\"},
      \"location\": {\"value\": \"westus2\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":{\r\n
      \        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586055542599256182?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vishalg/providers/Microsoft.Devices/IotHubs/vishalg-euap","name":"vishalg-euap","type":"Microsoft.Devices/IotHubs","location":"centraluseuap","tags":{},"subscriptionid":"91d12660-3dec-467a-be2a-213b5544ddc0","resourcegroup":"vishalg","etag":"AAAAABG1D7I=","properties":{"locations":[{"location":"Central
        US EUAP","role":"primary"},{"location":"East US 2 EUAP","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"vishalg-euap.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2,"partitionIds":["0","1"],"path":"vishalg-euap","endpoint":"sb://iothub-ns-vishalg-eu-1036652-c086004927.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[{"connectionString":"Endpoint=sb://vishalgoneboxsbnamespace.servicebus.windows.net:5671/;SharedAccessKeyName=iothubroutes_vishalg;SharedAccessKey=****;EntityPath=vishalg-slowqueue2","name":"slowqueue2","id":"ac634d18-4fb5-42e2-9885-25fd4bfae4a0","subscriptionId":"91d12660-3dec-467a-be2a-213b5544ddc0","resourceGroup":"Default-ServiceBus-SouthCentralUS"},{"connectionString":"Endpoint=sb://ankurcanaryns.servicebus.windows.net:5671/;SharedAccessKeyName=iothubroutes_vishalg;SharedAccessKey=****;EntityPath=deadqueuetest","name":"deadqueue","id":"88d2a443-b1a0-4f6b-9815-a88d7414cc77","subscriptionId":"91d12660-3dec-467a-be2a-213b5544ddc0","resourceGroup":"ankur-centraluseuap-rg"}],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[{"connectionString":"DefaultEndpointsProtocol=https;AccountName=vishalgstoragev2;AccountKey=****","containerName":"jsontest","fileNameFormat":"{iothub}_{partition}/{YYYY}_{MM}/{DD}_{HH}_{mm}.json","batchFrequencyInSeconds":60,"maxChunkSizeInBytes":10485760,"encoding":"json","name":"jsontestep","id":"247a72ba-e596-4dc5-be1f-7989711dc273","subscriptionId":"91d12660-3dec-467a-be2a-213b5544ddc0","resourceGroup":"vishalg"}]},"routes":[{"name":"jsonstorageroute","source":"DeviceMessages","condition":"true","endpointNames":["jsontestep"],"isEnabled":true},{"name":"lifecycle","source":"DeviceLifecycleEvents","condition":"true","endpointNames":["events"],"isEnabled":true},{"name":"deadroute","source":"DeviceMessages","condition":"true","endpointNames":["deadqueue"],"isEnabled":true}],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sapan-rg/providers/Microsoft.Devices/IotHubs/sapan-iot-1","name":"sapan-iot-1","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{"gfd":"gfh"},"subscriptionid":"91d12660-3dec-467a-be2a-213b5544ddc0","resourcegroup":"sapan-rg","etag":"AAAAAC/GEik=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"sapan-iot-1.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":5,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"sapan-iot-1","endpoint":"sb://iothub-ns-sapan-iot-1608720-6d3fdb40e2.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[{"connectionString":"DefaultEndpointsProtocol=https;AccountName=sapanstorage1;AccountKey=****","containerName":"testc","fileNameFormat":"{iothub}/{partition}/{YYYY}/{MM}/{DD}/{HH}/{mm}","batchFrequencyInSeconds":100,"maxChunkSizeInBytes":104857600,"encoding":"json","name":"storage1","id":"e1a7703b-1962-48b2-9c43-3d817392aa7c","subscriptionId":"91d12660-3dec-467a-be2a-213b5544ddc0","resourceGroup":"sapan-rg"}]},"enrichments":[],"routes":[{"name":"route1","source":"TwinChangeEvents","condition":"true","endpointNames":["storage1"],"isEnabled":true}],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":false}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT17H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT3H","maxDeliveryCount":40}},"enableFileUploadNotificat[...]
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAAAJjJW+o=", "properties":
      {"ipFilterRules": [], "minTlsVersion": "1.2", "eventHubEndpoints": {"events":
      {"retentionTimeInDays": 4, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues":
      [], "serviceBusTopics": [], "eventHubs": [], "storageContainers": []}, "routes":
      [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages", "condition":
      "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==",
      "containerName": "iothubcontainer", "authenticationType": "identitybased"}},
      "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601": "PT1M",
      "ttlAsIso8601": "P1DT8H", "maxDeliveryCount": 80}}, "enableFileUploadNotifications":
      true, "cloudToDevice": {"maxDeliveryCount": 46, "defaultTtlAsIso8601": "P1DT10H",
      "feedback": {"lockDurationAsIso8601": "PT10S", "ttlAsIso8601": "P1DT19H", "maxDeliveryCount":
      76}}, "features": "None"}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '{''IF-MATCH'': ''AAAAAJjJW+o=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli","name":"identity-test-hub-cli","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"91d12660-3dec-467a-be2a-213b5544ddc0","resourcegroup":"clitest.rg000001","etag":"AAAAAJjJW+o=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":4,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"identity-test-hub-cli-operationmonitoring","endpoint":"sb://iothub-ns-identity-t-3942340-3365f7b758.servicebus.windows.net/","internalAuthorizationPolicies":[{"KeyName":"scaleunitsend-43d863df-a449-4b6c-9cf1-ac323b3dc3cf-iothub","primaryKey":"mock_key","secondaryKey":"mock_key","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Send"],"CreatedTime":"Wed,
        29 Jul 2020 19:59:09 GMT","ModifiedTime":"Wed, 29 Jul 2020 19:59:09 GMT"},{"KeyName":"owner-8e6c3eb6-efcc-4441-b0de-f6fe893fc9cb-iothub","primaryKey":"mock_key","secondaryKey":"mock_key","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Listen","Manage","Send"],"CreatedTime":"Wed,
        29 Jul 2020 19:59:09 GMT","ModifiedTime":"Wed, 29 Jul 2020 19:59:09 GMT"}],"authorizationPolicies":[{"KeyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["List[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfYTc1ODkwYzktM2RiZC00ZjA3LWFmMWEtOGEzNDRkNzNkZmFi?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '{"name": "identity-test-hub-cli"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2020-03-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"IotHub name
        ''identity-test-hub-cli'' is not available"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAAAJjLYBQ=", "properties":
      {"ipFilterRules": [], "minTlsVersion": "1.2", "eventHubEndpoints": {"events":
      {"retentionTimeInDays": 4, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues":
      [], "serviceBusTopics": [], "eventHubs": [{"endpointUri": "eh://test", "entityPath":
      "entity", "authenticationType": "identitybased", "name": "EventHubIdentityEndpoint",
      "subscriptionId": "91d12660-3dec-467a-be2a-213b5544ddc0", "resourceGroup": "clitest.rg000001"}],
      "storageContainers": []}, "routes": [], "fallbackRoute": {"name": "$fallback",
      "source": "DeviceMessages", "condition": "true", "endpointNames": ["events"],
      "isEnabled": true}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601": "PT1H",
      "connectionString": "DefaultEndpointsProto[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZTQzYTc5OWYtNTIyOC00NmRmLWI5ZjAtNWU1ZTdkMGEyMzRm?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "subnet1"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"test-iot-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet\",\r\n
        \ \"etag\": \"W/\\\"bd705101-90da-4f06-b9ea-355f6e6d8967\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"b275fc50-2e3b-4782-89d9-d6be4f43a955\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet/subnets/subnet1\",\r\n
        \       \"etag\": \"W/\\\"bd705101-90da-4f06-b9ea-355f6e6d8967\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/2bd45090-bdd0-46ce-a404-0cce9406499f?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/2bd45090-bdd0-46ce-a404-0cce9406499f?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet/subnets/subnet1?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet/subnets/subnet1\",\r\n
        \ \"etag\": \"W/\\\"c0bfa737-a9d0-4803-91b9-85b1cdf36b64\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c0bfa737-a9d0-4803-91b9-85b1cdf36b64"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli/privateLinkResources?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"properties":{"groupId":"iotHub","requiredMembers":["iotHub"],"requiredZoneNames":["privatelink.azure-devices.net"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli/PrivateLinkResources/iotHub","name":"iotHub","type":"Microsoft.Devices/IotHubs/PrivateLinkResources"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet/subnets/subnet1"},
      "privateLinkServiceConnections": [{"properties": {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli",
      "groupIds": ["iotHub"]}, "name": "iot-private-endpoint-connection"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/iot-private-endpoint?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"iot-private-endpoint\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli/privateEndpointConnections?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/iot-private-endpoint"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli/PrivateEndpointConnections/identity-test-hub-cli.52cfc94d-e9d2-428a-985f-bb4d28b0ba42","name":"identity-test-hub-cli.52cfc94d-e9d2-428a-985f-bb4d28b0ba42","type":"Microsoft.Devices/IotHubs/PrivateEndpointConnections"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
[...]
