interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ADU/providers/Microsoft.Storage/storageAccounts/andbuctestadu","name":"andbuctestadu","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-05-04T22:46:12.4529458Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-05-04T22:46:12.4529458Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-05-04T22:46:12.3904552Z","primaryEndpoints":{"blob":"https://andbuctestadu.blob.core.windows.net/","queue":"https://andbuctestadu.queue.core.windows.net/","table":"https://andbuctestadu.table.core.windows.net/","file":"https://andbuctestadu.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iot-hub-extension-dogfood/providers/Microsoft.Storage/storageAccounts/iothubdfextension","name":"iothubdfextension","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-12-08T20:04:13.2606504Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-12-08T20:04:13.2606504Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-12-08T20:04:13.1512596Z","primaryEndpoints":{"dfs":"https://iothubdfextension.dfs.core.windows.net/","web":"https://iothubdfextension.z13.web.core.windows.net/","blob":"https://iothubdfextension.blob.core.windows.net/","queue":"https://iothubdfextension.queue.core.windows.net/","table":"https://iothubdfextension.table.core.windows.net/","file":"https://iothubdfextension.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://iothubdfextension-secondary.dfs.core.windows.net/","web":"https://iothubdfextension-secondary.z13.web.core.windows.net/","blob":"https://iothubdfextension-secondary.blob.core.windows.net/","queue":"https://iothubdfextension-secondary.queue.core.windows.net/","table":"https://iothubdfextension-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/pro[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 21 Dec 2020 22:39:46 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/iothubcontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8A60151413E38"'
      last-modified:
      - Mon, 21 Dec 2020 22:39:46 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clites[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"identity-test-hub-cli-2\"},
      \"location\": {\"value\": \"westus2\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":{\r\n
      \           \"type\": \"string\"\r\n        }\r\n    },\r\n    \"resources\":
      [\r\n        {\r\n            \"type\": \"Microsoft.Devices/IotHubs\",\r\n            \"apiVersion\":
      \"2020-03-01\",\r\n            \"name\": \"[parameters('name')]\",\r\n            \"location\":
      \"[parameters('location')]\",\r\n            \"identity\": {\r\n                \"type\":
      \"SystemAssigned\"\r\n            },\r\n            \"properties\": {\r\n                \"minTlsVersion\":
      \"1.2\"\r\n            },\r\n            \"sku\": {\r\n                \"name\":
      \"S1\",\r\n                \"tier\": \"Standard\",\r\n                \"capacity\":
      1\r\n            }\r\n        },\r\n        {\r\n            \"type\": \"Microsoft.Resources/deployments\",\r\n
      \           \"apiVersion\": \"2018-02-01\",\r\n            \"name\": \"updateIotHubWithKeyEncryptionKey\",\r\n
      \           \"dependsOn\": [\r\n                \"[parameters('name')]\"\r\n
      \           ],\r\n            \"properties\": {\r\n                \"mode\":
      \"Incremental\",\r\n                \"template\": {\r\n                    \"$schema\":
      \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \                   \"contentVersion\": \"0.9.0.0\",\r\n                    \"resources\":
      [\r\n                        {\r\n                            \"type\": \"Microsoft.Devices/IotHubs\",\r\n
      \                           \"apiVersion\": \"2020-03-01\",\r\n                            \"name\":
      \"[parameters('name')]\",\r\n                            \"location\": \"[parameters('location')]\",\r\n
      \                           \"identity\": {\r\n                                \"type\":
      \"SystemAssigned\"\r\n                            },\r\n                            \"properties\":
      {\r\n                                \"minTlsVersion\": \"1.2\"\r\n                            },\r\n
      \                           \"sku\": {\r\n                                \"name\":
      \"S1\",\r\n                                \"tier\": \"Standard\",\r\n                                \"capacity\":
      1\r\n                            }\r\n                        }\r\n                    ]\r\n
      \               }\r\n            }\r\n        }\r\n    ]\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/identity-hub-deployment","name":"identity-hub-deployment","type":"Microsoft.Resources/deployments","properties":{"templateHash":"11350779003338463755","parameters":{"name":{"type":"String","value":"identity-test-hub-cli-2"},"location":{"type":"String","value":"westus2"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-12-21T22:39:47.0678498Z","duration":"PT0S","correlationId":"428037e0-fb54-4a50-b425-6a4229abecb6","providers":[{"namespace":"Microsoft.Devices","resourceTypes":[{"resourceType":"IotHubs","locations":["westus2"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli-2","resourceType":"Microsoft.Devices/IotHubs","resourceName":"identity-test-hub-cli-2"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/updateIotHubWithKeyEncryptionKey","resourceType":"Microsoft.Resources/deployments","resourceName":"updateIotHubWithKeyEncryptionKey"}],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli-2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/updateIotHubWithKeyEncryptionKey"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli-2"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"identity-test-hub-cli-2\"},
      \"location\": {\"value\": \"westus2\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":{\r\n
      \      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585930164980950638?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Devices/IotHubs/TestIotExt1","name":"TestIotExt1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"TestCLI","etag":"AAAAAB0VSfk=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"TestIotExt1.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"testiotext1","endpoint":"sb://iothub-ns-testiotext-2312279-f90eed5388.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"DefaultEndpointsProtocol=https;AccountName=testiotextstor0;AccountKey=****","containerName":"devices"}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"None"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Devices/IotHubs/PaymaunHub","name":"PaymaunHub","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"TestCLI","etag":"AAAABJW3jBA=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"PaymaunHub.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"paymaunhub","endpoint":"sb://iothub-ns-paymaunhub-2363588-460f33d1a4.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[{"connectionString":"Endpoint=sb://paymauneventhubnamespace.servicebus.windows.net:5671/;SharedAccessKeyName=iothubroutes_PaymaunHub;SharedAccessKey=****;EntityPath=paymauneventhub","name":"myEventhubEp","id":"c9b7ab5b-7624-44a4-a1ad-f598f0962fd1","subscriptionId":"a386d5ea-ea90-441a-8263-d816368c84a1","resourceGroup":"TestCLI"}],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=testiotextstor0;AccountKey=****","containerName":"devices"}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned","principalId":"4b7391c6-0e52-4226-af5b-bf287993966a"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Devices/IotHubs/ProHub","name":"ProHub","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"TestCLI","etag":"AAAAAB0dAlo=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Storage%20Blob%20Data%20Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Storage Blob Data Contributor","type":"BuiltInRole","description":"Allows
        for read, write and delete access to Azure Storage blob containers and data","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Storage/storageAccounts/blobServices/containers/delete","Microsoft.Storage/storageAccounts/blobServices/containers/read","Microsoft.Storage/storageAccounts/blobServices/containers/write","Microsoft.Storage/storageAccounts/blobServices/generateUserDelegationKey/action"],"notActions":[],"dataActions":["Microsoft.Storage/storageAccounts/blobServices/containers/blobs/delete","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/read","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/move/action","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/write"],"notDataActions":[]}],"createdOn":"2017-12-21T00:01:24.7972312Z","updatedOn":"2020-03-30T22:49:07.8669420Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe","type":"Microsoft.Authorization/roleDefinitions","name":"ba92f5b4-2d11-453d-a403-e96b0029c9fe"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2799d2066f-1c9f-4c32-b037-dfa21376c7b5%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '940222'
      ocp-aad-diagnostics-server-name:
      - oMR7IOQC4U+YIWeoJqAjEU9IiTKYNVMhVYi6ukR9xP8=
      ocp-aad-session-key:
      - rc1GQ0EXsjLzgwYfskNBLV_73fWOeLKkukMeCMWq0pSacuZHm13lY-kUYPv2EoocxV-xwQarPB-JbxeipPOiHjFZx0Q3veT60HeVJD2M8FJ9SjjmwfarmXb_4W4AY9D1.2novsE4Dvm3FYcWPhAfvOX4yVfZjYbgo9amGej3BkFo
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"objectIds": ["99d2066f-1c9f-4c32-b037-dfa21376c7b5"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"99d2066f-1c9f-4c32-b037-dfa21376c7b5","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli-2"],"appDisplayName":null,"appId":"7841a60a-5ec7-4fd1-a9c3-1c9f549ae046","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"identity-test-hub-cli-2","errorUrl":null,"homepage":null,"informationalUrls":null,"keyCredentials":[{"customKeyIdentifier":"48A3D03395815E6B85EE191CE92F126325824D07","endDate":"2021-03-21T22:34:00Z","keyId":"8da7b59e-1f32-4d80-937b-f47d693fb2ee","startDate":"2020-12-21T22:34:00Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["7841a60a-5ec7-4fd1-a9c3-1c9f549ae046","https://identity.azure.net/US4zv2qUlPJFzTVgaTEx9Pjm91tsxMFEFb1CcBiHaL0="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '603024'
      ocp-aad-diagnostics-server-name:
      - LgXAcbVEU6vczw1+dJY77u/nuJ5/uLYq6pT3Y4X/6fM=
      ocp-aad-session-key:
      - ITMnWoto5opX8rcBc5tJ5tAkAj5BvJOmOdLDx1esklsBdxvyNFcWdva0cBcBZCMebZ8B6yS_mJDiXBNGbadkYYtkQ_e5A2r0RZuFm5syPamr4inYOn3q0qKxqSe7sO1C.nCvJoeFsxxJ29NkEqdM5Dh7QqglGD4WWZkYG-Nkxxjc
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe",
      "principalId": "99d2066f-1c9f-4c32-b037-dfa21376c7b5"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe","principalId":"99d2066f-1c9f-4c32-b037-dfa21376c7b5","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","condition":null,"conditionVersion":null,"createdOn":"2020-12-21T22:44:25.1981797Z","updatedOn":"2020-12-21T22:44:25.3432101Z","createdBy":null,"updatedBy":"9e98f8a7-2df2-4605-90c3-0ac12e7b4694","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAABri0WFM=", "properties":
      {"ipFilterRules": [], "minTlsVersion": "1.2", "eventHubEndpoints": {"events":
      {"retentionTimeInDays": 4, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues":
      [], "serviceBusTopics": [], "eventHubs": [], "storageContainers": []}, "routes":
      [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages", "condition":
      "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==",
      "containerName": "iothubcontainer", "authenticationType": "identitybased"}},
      "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601": "PT1M",
      "ttlAsIso8601": "P1DT8H", "maxDeliveryCount": 80}}, "enableFileUploadNotifications":
      true, "cloudToDevice": {"maxDeliveryCount": 46, "defaultTtlAsIso8601": "P1DT10H",
      "feedback": {"lockDurationAsIso8601": "PT10S", "ttlAsIso8601": "P1DT19H", "maxDeliveryCount":
      76}}, "features": "None"}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '{''IF-MATCH'': ''AAAABri0WFM=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli-2?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identity-test-hub-cli-2","name":"identity-test-hub-cli-2","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAABri0WFM=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":4,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"identity-test-hub-cli-2-operationmonitoring","endpoint":"sb://iothub-ns-identity-t-6774468-d6c4a44226.servicebus.windows.net/","internalAuthorizationPolicies":[{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"scaleunitsend-43a44d7b-d09c-4a2e-8a78-fb3bbe2d7d52-iothub","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Send"],"CreatedTime":"Mon,
        21 Dec 2020 22:42:21 GMT","ModifiedTime":"Mon, 21 Dec 2020 22:42:21 GMT"},{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"owner-848a85e7-a104-410e-bd23-c098c2d7c3be-iothub","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Listen","Manage","Send"],"CreatedTime":"Mon,
        21 Dec 2020 22:42:21 GMT","ModifiedTime":"Mon, 21 Dec 2020 22:42:21 GMT"}],"authorizationPolicies":[{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Listen"],"CreatedTime":"Mon,
        21 Dec 2020 22:42:21 GMT","ModifiedTime":"Mon, 21 Dec 2020 22:42:21 GMT"},{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","Rights":["Listen"],"CreatedTime":"Mon,
        21 Dec 2020 22:42:21 GMT","ModifiedTime":"Mon, 21 Dec 2020 22:42:21 GMT"}]}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[],"cosmosDBSqlCollections":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==","containerName":"iothubcontainer","authenticationType":"identityBased"}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"P1DT8H","maxDeliveryCount":80}},"enableFileUploadNotifications":true,"cloudToDevice":{"maxDeliveryCount":46,"defaultTtlAsIso8601":"P1DT10H","feedback":{"lockDurationAsIso8601":"PT10S","ttlAsIso8601":"P1DT19H","maxDeliveryCount":76}},"features":"None","minTlsVersion":"1.2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZDE3MTAzMzEtNzI4Ny00MTA2LWE0MjQtODNiZjRhYjg0YWI3?api-version=2020-03-01&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZDE3MTAzMzEtNzI4Ny00MTA2LWE0MjQtODNiZjRhYjg0YWI3?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-12-21T22:39:23Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
[...]
