interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"privateEndpointConnections":[],"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-04-13T16:10:27.9407804Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-04-13T16:10:27.9407804Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-04-13T16:10:27.8626491Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SIE-AZ-ML/providers/Microsoft.Storage/storageAccounts/ids9851878971","name":"ids9851878971","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-03-10T22:58:54.2969820Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-03-10T22:58:54.2969820Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-03-10T22:58:54.2344977Z","primaryEndpoints":{"blob":"https://ids9851878971.blob.core.windows.net/","queue":"https://ids9851878971.queue.core.windows.net/","table":"https://ids9851878971.table.core.windows.net/","file":"https://ids9851878971.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 03bf1db2-1d84-407e-8476-83076fd3b756
      - 3c03eb5b-e036-40b2-a60d-434f14ab2644
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 13 Apr 2020 16:10:47 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/iothubcontainer1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7DFC53A721BC5"'
      last-modified:
      - Mon, 13 Apr 2020 16:10:47 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-04-13T16:10:25Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1","name":"ehNamespaceiothubfortest1","type":"Microsoft.EventHub/Namespaces","location":"West
        US 2","tags":{},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"820b737c-cdd7-46bf-9ead-f144ba6e9d1e:ehnamespaceiothubfortest1","createdAt":"2020-04-13T16:10:50.1Z","updatedAt":"2020-04-13T16:10:50.1Z","serviceBusEndpoint":"https://ehNamespaceiothubfortest1.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1/eventhubs/eventHubiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1/eventhubs/eventHubiothubfortest","name":"eventHubiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US 2","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2020-04-13T16:11:53.253Z","updatedAt":"2020-04-13T16:11:53.66Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest","name":"eventHubPolicyiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","location":"West
        US 2","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest/ListKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest1.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=Cq1RMy7xVLNG33sBxtXCBXxb3JcSGZnl38phKJEDx0I=;EntityPath=eventHubiothubfortest","secondaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest1.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=/wKCbdIM0bg8W1ipOnhd0vGNUXSVq4sub9c3h98HR3M=;EntityPath=eventHubiothubfortest","primaryKey":"Cq1RMy7xVLNG33sBxtXCBXxb3JcSGZnl38phKJEDx0I=","secondaryKey":"/wKCbdIM0bg8W1ipOnhd0vGNUXSVq4sub9c3h98HR3M=","keyName":"eventHubPolicyiothubfortest"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "iot-hub-for-test-11"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2019-07-01-preview
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 4}}, "storageEndpoints": {"$default":
      {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "F1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11?api-version=2019-07-01-preview
  response:
    body:
      string: '{"code":400016,"httpStatusCode":"BadRequest","message":"Invalid PartitionCount
        4 - value must be between 2 and 2. If you contact a support representative
        please include this correlation identifier: ee911e27-a0bf-4dc8-a489-ea6d7a24618c,
        timestamp: 2020-04-13 16:11:58Z, errorcode: IH400016."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 2}}, "storageEndpoints": {"$default":
      {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "F1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11?api-version=2019-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11","name":"iot-hub-for-test-11","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"820b737c-cdd7-46bf-9ead-f144ba6e9d1e","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":2}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"F1","tier":"Free","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfYzlkN2FmZWUtYjFkOS00ZDE5LWJiNGMtYjgxNzBmNWU5OTZi?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfYzlkN2FmZWUtYjFkOS00ZDE5LWJiNGMtYjgxNzBmNWU5OTZi?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11?api-version=2019-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11","name":"iot-hub-for-test-11","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"820b737c-cdd7-46bf-9ead-f144ba6e9d1e","resourcegroup":"clitest.rg000001","etag":"AAAAAAzI61k=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test-11.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2,"partitionIds":["0","1"],"path":"iothub-ehub-iot-hub-fo-3245244-284cac1f2f","endpoint":"sb://ihsuprodmwhres005dednamespace.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"F1","tier":"Free","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2019-07-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg4775n3czqinrrkfdegmqyvtm6hofxtoy2hio6o45dnw4lbgkqwrnk2p3cknwlfnxt/providers/Microsoft.Devices/IotHubs/iot3uc57ocflhtusyq2k","name":"iot3uc57ocflhtusyq2k","typ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNjk1OTUxZjMtMjliOS00M2MxLWFjYzUtM2ViYWNhMTZjNmEz?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNWE5MTcxY2MtNWY5OS00YzMzLWExNTctNTA1NzRjOGQ3MjFh?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/IotHubKeys/iothubowner/listkeys?api-version=2019-07-01-preview
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"bNDXi5KalzsDEJVWuvI1JWMGpdfnZQ1EmcLb0nV4Jxs=","secondaryKey":"hNHcXiuniNsT+4/dwnbWG2jATx4Vlt6nLyvI7JfTn28=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/listkeys?api-version=2019-07-01-preview
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"bNDXi5KalzsDEJVWuvI1JWMGpdfnZQ1EmcLb0nV4Jxs=","secondaryKey":"hNHcXiuniNsT+4/dwnbWG2jATx4Vlt6nLyvI7JfTn28=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"gPpK4kLMKJOYwPBWRwr8MCRCG2hHYoi2JpoqK6tJ9XM=","secondaryKey":"t7QzIfdyUrZSuPpNZl58s24rHFcBLjJfBnbOKLdW0mA=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"UvtKOEuGYeWhS+lK8WcknuGVPKqU0yi8BzVgK0XoxQI=","secondaryKey":"28QK0aZGZN/KyPT48EICDDPWoKgNnHJGuDHTTiWv9+4=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"A0noCIqFcXilkT1M9CJRpQNNiwtXnhhM9g5YpoKxdz0=","secondaryKey":"45LFfaaWi2XOvXJ6xYJCgm13SVeZ/4tSy0+D1ebdprs=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"H5shPj5WwkyKD1DmnIWnYvQF4RvEcNbK8mWqi/YMYpY=","secondaryKey":"JXqr2cguFFSfQP5xzCVbFZnLZKVEGJPUO5r7HIgUH9c=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "westus2", "tags": {}, "etag": "AAAAAAzI70Q=", "properties":
      {"ipFilterRules": [], "eventHubEndpoints": {"events": {"retentionTimeInDays":
      4, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues": [],
      "serviceBusTopics": [], "eventHubs": [], "storageContainers": []}, "routes":
      [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages", "condition":
      "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT3H", "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==",
      "containerName": "iothubcontainer1"}}, "messagingEndpoints": {"fileNotifications":
      {"lockDurationAsIso8601": "PT1M", "ttlAsIso8601": "P1DT8H", "maxDeliveryCount":
      80}}, "enableFileUploadNotifications": true, "cloudToDevice": {"maxDeliveryCount":
      46, "defaultTtlAsIso8601": "P1DT10H", "feedback": {"lockDurationAsIso8601":
      "PT10S", "ttlAsIso8601": "P1DT19H", "maxDeliveryCount": 76}}, "features": "None"},
      "sku": {"name": "S1", "capacity": 1}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '{''IF-MATCH'': ''AAAAAAzI70Q=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11?api-version=2019-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11","name":"iot-hub-for-test-11","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"820b737c-cdd7-46bf-9ead-f144ba6e9d1e","resourcegroup":"clitest.rg000001","etag":"AAAAAAzI70Q=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"bNDXi5KalzsDEJVWuvI1JWMGpdfnZQ1EmcLb0nV4Jxs=","secondaryKey":"hNHcXiuniNsT+4/dwnbWG2jATx4Vlt6nLyvI7JfTn28=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"gPpK4kLMKJOYwPBWRwr8MCRCG2hHYoi2JpoqK6tJ9XM=","secondaryKey":"t7QzIfdyUrZSuPpNZl58s24rHFcBLjJfBnbOKLdW0mA=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"UvtKOEuGYeWhS+lK8WcknuGVPKqU0yi8BzVgK0XoxQI=","secondaryKey":"28QK0aZGZN/KyPT48EICDDPWoKgNnHJGuDHTTiWv9+4=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"A0noCIqFcXilkT1M9CJRpQNNiwtXnhhM9g5YpoKxdz0=","secondaryKey":"45LFfaaWi2XOvXJ6xYJCgm13SVeZ/4tSy0+D1ebdprs=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"H5shPj5WwkyKD1DmnIWnYvQF4RvEcNbK8mWqi/YMYpY=","secondaryKey":"JXqr2cguFFSfQP5xzCVbFZnLZKVEGJPUO5r7HIgUH9c=","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":4,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-11-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-3245255-4208d3f193.servicebus.windows.net/","internalAuthorizationPolicies":[{"KeyName":"scaleunitsend-feb68079-19b7-4e12-b9e6-83a926c437b1-iothub","PrimaryKey":"SFwYHKR5+p9adpHhGrKa4JJjh6vvTvnBMEM5R07oh4E=","SecondaryKey":"76sTAqda2Wm62VgtUSYlpr7rZFnIwiPoS397X9N4aKQ=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Send"],"CreatedTime":"Mon,
        13 Apr 2020 16:15:32 GMT","ModifiedTime":"Mon, 13 Apr 2020 16:15:32 GMT"},{"KeyName":"owner-a739bef6-2cba-4b28-9f3c-d35427d108c2-iothub","PrimaryKey":"D1xabckUPpM2YdUOm/vi+tYI/7L8uJFbPfJbozE5Ugg=","SecondaryKey":"C+OV7ESJG5SRFHfGMGeC/uSbdRb0QDtrRCre/G/sbZ4=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Listen","Manage","Send"],"CreatedTime":"Mon,
        13 Apr 2020 16:15:32 GMT","ModifiedTime":"Mon, 13 Apr 2020 16:15:32 GMT"}],"authorizationPolicies":[{"KeyName":"iothubowner","PrimaryKey":"bNDXi5KalzsDEJVWuvI1JWMGpdfnZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNjA0NDg5YjItMmU5OC00ZWFhLWJjMWItOTYwMmI5ZjY0NzE2?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs?api-version=2019-07-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11","name":"iot-hub-for-test-11","type":"Microsoft.Devices/IotHubs[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/skus?api-version=2019-07-01-preview
  response:
    body:
      string: '{"value":[{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S1","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S2","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S3","tier":"Standard"},"capacity":{"minimum":1,"maximum":10,"default":1,"scaleType":"Manual"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNGU3MzUxYjItZGY0ZS00N2QxLTg5NzctOTRhYzZkNmM0ZmM5?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/IotHubKeys/test_policy/listkeys?api-version=2019-07-01-preview
  response:
    body:
      string: '{"keyName":"test_policy","primaryKey":"PMjJcfjxJKq661nFsoTxxRhAdrFBO5GBJjOrToUM194=","secondaryKey":"vPweQEbs+kxWXyLnZUu3RbAZKOsbvbh67OUNsj5cNJ0=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZGE0YTBiYzctZTBlZS00NmY0LWI0YjEtYWM5N2FmNmExNzEy?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfYTRkN2M4ZWQtMjA3MS00ODZlLTllNzYtNTQxOTc4OTQyZDNj?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNzI1ODI2ZjAtZjgyYy00NmUxLTlmNDQtMThjMTIyNmNmNDVj?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/eventHubEndpoints/events/ConsumerGroups/cg1?api-version=2019-07-01-preview
  response:
    body:
      string: '{"properties":{"created":"Mon, 13 Apr 2020 16:20:14 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11/eventHubEndpoints/events/ConsumerGroups/cg1","name":"cg1","type":"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups","etag":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
[...]
