interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-06-29T04:00:47Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"displayName": "iotc-cli-test000002",
      "subdomain": "iotc-cli-test000002"}, "sku": {"name": "ST2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"96e23302-9ad7-4da5-8f55-f653208641f7","state":"created","displayName":"iotc-cli-test000002","subdomain":"iotc-cli-test000002","createdDate":"2021-06-29T04:01:03.117Z","template":"iotc-pnp-preview@1.0.0"},"sku":{"name":"ST2"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1a038782-0000-0100-0000-60da9aff0000"'
      x-iot-cluster:
      - iotcprodsoutheastasia01
      x-iot-correlation:
      - 4oy56qnv.0
      x-iot-version:
      - 061921.0002-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"displayName": "My Custom App Display
      Name", "subdomain": "iotc-cli-test000002-template", "template": "iotc-pnp-preview@1.0.0"},
      "sku": {"name": "ST1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-templ[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"displayName": "iotc-cli-test000002update",
      "subdomain": "iotc-cli-test000002update", "template": "iotc-pnp-preview@1.0.0"},
      "sku": {"name": "ST2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-template?api-version=2018-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-template","name":"iotc-cli-test000002-template","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"bacf5f4a-4ec3-4026-b2b1-b99dd78ab95c","state":"created","displayName":"iotc-cli-test000002update","subdomain":"iotc-cli-test000002update","createdDate":"2021-06-29T04:01:52.562Z","lastUpdated":"2021-06-29T04:02:39.758Z","template":"iotc-pnp-preview@1.0.0"},"sku":{"name":"ST2"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1c0397ad-0000-0100-0000-60da9b5f0000"
      x-iot-cluster:
      - iotcprodsoutheastasia01
      x-iot-correlation:
      - 3525k4zo.0
      x-iot-version:
      - 061921.0002-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"96e23302-9ad7-4da5-8f55-f653208641f7","state":"created","displayName":"iotc-cli-test000002","subdomain":"iotc-cli-test000002","createdDate":"2021-06-29T04:01:03.117Z","template":"iotc-pnp-preview@1.0.0"},"sku":{"name":"ST2"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-iot-cluster:
      - iotcprodsoutheastasia02
      x-iot-correlation:
      - 51ozoorg.0
      x-iot-version:
      - 061921.0002-release
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body:
      string: ''
    headers:
      x-iot-cluster:
      - iotcprodsoutheastasia01
      x-iot-correlation:
      - cfxds3ni.0
      x-iot-version:
      - 061921.0002-release
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
