interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Storage/storageAccounts/testiotextstor0","name":"testiotextstor0","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-10-19T00:06:41.0740705Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-10-19T00:06:41.0740705Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2019-10-19T00:06:41.0115264Z","primaryEndpoints":{"dfs":"https://testiotextstor0.dfs.core.windows.net/","web":"https://testiotextstor0.z20.web.core.windows.net/","blob":"https://testiotextstor0.blob.core.windows.net/","queue":"https://testiotextstor0.queue.core.windows.net/","table":"https://testiotextstor0.table.core.windows.net/","file":"https://testiotextstor0.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"privateEndpointConnections":[],"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-05-04T21:06:59.7365161Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-05-04T21:06:59.7365161Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-05-04T21:06:59.6583884Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-shell-storage-westus/providers/Microsoft.Storage/storageAccounts/cs4a386d5eaea90x441ax826","name":"cs4a386d5eaea90x441ax826","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{"ms-resource-usage":"azure-cloud-shell"},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-11-25T17:05:48.4365854Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2019-11-25T17:05:48.4365854Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 May 2020 21:07:22 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/iothubcontainer1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7F06F22C744E9"'
      last-modified:
      - Mon, 04 May 2020 21:07:21 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"iot-cli-identity-enabled-hub-test2\"},
      \"location\": {\"value\": \"westus2\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":{\r\n
      \           \"type\": \"string\"\r\n        }\r\n    },\r\n    \"resources\":
      [\r\n        {\r\n            \"type\": \"Microsoft.Devices/IotHubs\",\r\n            \"apiVersion\":
      \"2020-03-01\",\r\n            \"name\": \"[parameters('name')]\",\r\n            \"location\":
      \"[parameters('location')]\",\r\n            \"identity\": {\r\n                \"type\":
      \"SystemAssigned\"\r\n            },\r\n            \"properties\": {\r\n                \"minTlsVersion\":
      \"1.2\"\r\n            },\r\n            \"sku\": {\r\n                \"name\":
      \"S1\",\r\n                \"tier\": \"Standard\",\r\n                \"capacity\":
      1\r\n            }\r\n        },\r\n        {\r\n            \"type\": \"Microsoft.Resources/deployments\",\r\n
      \           \"apiVersion\": \"2018-02-01\",\r\n            \"name\": \"updateIotHubWithKeyEncryptionKey\",\r\n
      \           \"dependsOn\": [\r\n                \"[parameters('name')]\"\r\n
      \           ],\r\n            \"properties\": {\r\n                \"mode\":
      \"Incremental\",\r\n                \"template\": {\r\n                    \"$schema\":
      \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \                   \"contentVersion\": \"0.9.0.0\",\r\n                    \"resources\":
      [\r\n                        {\r\n                            \"type\": \"Microsoft.Devices/IotHubs\",\r\n
      \                           \"apiVersion\": \"2020-03-01\",\r\n                            \"name\":
      \"[parameters('name')]\",\r\n                            \"location\": \"[parameters('location')]\",\r\n
      \                           \"identity\": {\r\n                                \"type\":
      \"SystemAssigned\"\r\n                            },\r\n                            \"properties\":
      {\r\n                                \"minTlsVersion\": \"1.2\"\r\n                            },\r\n
      \                           \"sku\": {\r\n                                \"name\":
      \"S1\",\r\n                                \"tier\": \"Standard\",\r\n                                \"capacity\":
      1\r\n                            }\r\n                        }\r\n                    ]\r\n
      \               }\r\n            }\r\n        }\r\n    ]\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/identity-hub-deployment","name":"identity-hub-deployment","type":"Microsoft.Resources/deployments","properties":{"templateHash":"11350779003338463755","parameters":{"name":{"type":"String","value":"iot-cli-identity-enabled-hub-test2"},"location":{"type":"String","value":"westus2"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-05-04T21:07:23.985077Z","duration":"PT0S","correlationId":"8557b6d5-b928-4548-b891-16a073a29ba7","providers":[{"namespace":"Microsoft.Devices","resourceTypes":[{"resourceType":"IotHubs","locations":["westus2"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-cli-identity-enabled-hub-test2","resourceType":"Microsoft.Devices/IotHubs","resourceName":"iot-cli-identity-enabled-hub-test2"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/updateIotHubWithKeyEncryptionKey","resourceType":"Microsoft.Resources/deployments","resourceName":"updateIotHubWithKeyEncryptionKey"}],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-cli-identity-enabled-hub-test2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/updateIotHubWithKeyEncryptionKey"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-cli-identity-enabled-hub-test2"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"name\": {\"value\": \"iot-cli-identity-enabled-hub-test2\"},
      \"location\": {\"value\": \"westus2\"}}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"name\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"location\":{\r\n
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586129804407254039?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Devices/IotHubs/TestIotExt1","name":"TestIotExt1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"TestCLI","etag":"AAAAAAy1yMw=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"TestIotExt1.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"testiotext1","endpoint":"sb://iothub-ns-testiotext-2312279-f90eed5388.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"DefaultEndpointsProtocol=https;AccountName=testiotextstor0;AccountKey=****","containerName":"devices"}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Devices/IotHubs/PaymaunHub","name":"PaymaunHub","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"TestCLI","etag":"AAAAAAyn6+4=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"st[...]
[...]
- request:
    body: 'b''{"location": "westus2", "tags": {}, "etag": "AAAAAA1Y/+c=", "properties":
      {"ipFilterRules": [], "minTlsVersion": "1.2", "eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues":
      [], "serviceBusTopics": [], "eventHubs": [], "storageContainers": []}, "routes":
      [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages", "condition":
      "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==",
      "containerName": "iothubcontainer1", "authenticationType": "identitybased"}},
      "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601": "PT1M",
      "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT1M", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}, "features": "None"}, "sku": {"name": "S1", "capacity": 1}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '{''IF-MATCH'': ''AAAAAA1Y/+c=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-cli-identity-enabled-hub-test2?api-version=2020-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-cli-identity-enabled-hub-test2","name":"iot-cli-identity-enabled-hub-test2","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAAAA1Y/+c=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"MMsfUN8+ax02q8TzR6o543SCXDrLA9XncRj5oe3H8ec=","secondaryKey":"K0aJ+hil5BLFuAKDrLo930lzpC+nxlj6hwIulJNUECs=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"SiUyuHunL6mMQTtmWOZeWGrzc4bJZpNRe41RPTFrEhg=","secondaryKey":"VM/JGNhFI7ibafL29mSPj8zNZdKEQZDtVQxd7Coz0W4=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"TJqnB59KCs8DkJhcPGes+CsPubFwh3Rb9JqIOBrpY8o=","secondaryKey":"jE0BZP177FHk6kfWS8RJzrXAEJMMC7TeKD1+IFc86+o=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"721KuieSgkHRN+DzAZtNNP+in0e91yAqmHwGZN+aX5g=","secondaryKey":"guVHj6tbJtiaG19Y8/vU5zk+pOEWhtBv23jjI2Dgsu4=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"S/ePQTnmtOc3UtlhhO3bzGyD+Eaw5xlML6Pxz9mMKLw=","secondaryKey":"Zx1ipTxaGXY/JRq67jCKlASlpogsOAl9ewiP/+fWs/E=","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-cli-identity-enabled-operationmonitoring","endpoint":"sb://iothub-ns-iot-cli-id-3376241-0fc6515e6b.servicebus.windows.net/","internalAuthorizationPolicies":[{"KeyName":"scaleunitsend-179ed5b4-ad6d-4d33-a269-603f391a2729-iothub","PrimaryKey":"3IWXNikg61AUrht1SoqEiKZ1sCqNmJ4Fy8B9qouPGfI=","SecondaryKey":"GxSX2HwNYiFwJ7/QeiKeDgMPFT+VEoA94WyGoFsSnxI=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Send"],"CreatedTime":"Mon,
        04 May 2020 21:09:39 GMT","ModifiedTime":"Mon, 04 May 2020 21:09:39 GMT"},{"KeyName":"owner-b871a646-aaec-4740-8af9-b94a1f982956-iothub","PrimaryKey":"KEcz9emkj66LzoS2s/cbpGSExZlWXFelEEqKMmtSSgc=","SecondaryKey":"vl0nvmz3THMGTmhl69T+TMfzZOgZzKCK+xfQTsb132o=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Listen","Manage","Send"],"CreatedTime":"Mon,
        04 May 2020 21:09:39 GMT","ModifiedTime":"Mon, 04 May 2020 21:09:39 GMT"}],"authorizationPolicies":[{"KeyName":"iothubowner","PrimaryKey":"MMsfUN8+ax02q8TzR6o543SCXDrLA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZGNiODdlY2ItODA2Mi00ZTk4LWE1NTgtZGQyMjE2Y2EwMjhm?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '{"name": "iot-cli-identity-enabled-hub-test2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2020-03-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"IotHub name
        ''iot-cli-identity-enabled-hub-test2'' is not available"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''b\''{"location": "westus2", "tags": {}, "etag": "AAAAAA1ZASw=", "properties":
      {"ipFilterRules": [], "minTlsVersion": "1.2", "eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues":
      [], "serviceBusTopics": [], "eventHubs": [{"endpointUri": "eh://test", "entityPath":
      "entity", "authenticationType": "identityBased", "name": "EventHubIdentityEndpoint",
      "subscriptionId": "a386d5ea-ea90-441a-8263-d816368c84a1", "resourceGroup": "clitest.rg000001"}],
      "storageContainers": []}, "routes": [], "fallbackRoute": {"name": "$fallback",
      "source": "DeviceMessages", "condition": "true", "endpointNames": ["events"],
      "isEnabled": true}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601": "PT1H",
      "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=****",
      "containerName": "iothubcontainer1", "authenticationType": "identityBased"}},
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfODNiOTZjMWQtZGYxOC00NTU0LTk5NTgtZmYyMzk2NzVkZTU2?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties": {"addressPrefix":
      "10.0.0.0/24"}, "name": "subnet1"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"test-iot-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet\",\r\n
        \ \"etag\": \"W/\\\"4b2743ac-229d-4b89-98d1-80140f528973\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"7f290036-905a-4271-8dea-f3403a81b022\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet/subnets/subnet1\",\r\n
        \       \"etag\": \"W/\\\"4b2743ac-229d-4b89-98d1-80140f528973\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/094f0b44-fbf3-4854-b170-f254edc4425e?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/094f0b44-fbf3-4854-b170-f254edc4425e?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet/subnets/subnet1?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet/subnets/subnet1\",\r\n
        \ \"etag\": \"W/\\\"5dfae750-e99e-456d-9292-7cf8c859fea8\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5dfae750-e99e-456d-9292-7cf8c859fea8"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/iotHubs/iot-cli-identity-enabled-hub-test2/privateLinkResources?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"properties":{"groupId":"iotHub","requiredMembers":["iotHub"],"requiredZoneNames":["privatelink.azure-devices.net"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-cli-identity-enabled-hub-test2/PrivateLinkResources/iotHub","name":"iotHub","type":"Microsoft.Devices/IotHubs/PrivateLinkResources"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "westus2", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/test-iot-vnet/subnets/subnet1"},
      "privateLinkServiceConnections": [{"properties": {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-cli-identity-enabled-hub-test2",
      "groupIds": ["iotHub"]}, "name": "iot-private-endpoint-connection"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/iot-private-endpoint?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"iot-private-endpoint\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-0000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/iotHubs/iot-cli-identity-enabled-hub-test2/privateEndpointConnections/iot-cli-identity-enabled-hub-test2.a8005607-70be-4233-892d-d5b2b87703c6?api-version=2020-03-01
  response:
    body:
      string: '{"properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/iot-private-endpoint"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-cli-identity-enabled-hub-test2/PrivateEndpointConnections/iot-cli-identity-enabled-hub-test2.a8005607-70be-4233-892d-d5b2b87703c6","name":"iot-cli-identity-enabled-hub-test2.a8005607-70be-4233-892d-d5b2b87703c6","type":"Microsoft.Devices/IotHubs/PrivateEndpointConnections"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMmI2YzkwMDMtZDNlYS00MDBhLTgwODctZDcyMjFiNzViNGVh?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfODY0NDE5NDktNjg4Ny00MTVmLTgwZGItNjI4NjkxODI2YmU4?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfY2UzY2UzMjItNDg4Mi00YmRkLWE2MzQtOGM5NWUyMjcxMDlj?api-version=2020-03-01&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
