interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-03-25T16:43:49Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"displayName": "iotc-cli-test000002",
      "subdomain": "iotc-cli-test000002"}, "sku": {"name": "ST2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"074bd518-4f39-49a5-8a9b-78900b89401b","state":"created","displayName":"iotc-cli-test000002","tenant":"1946e2f7-5c08-4cc1-ae10-100b1af48e31","capabilities":{"pnp-preview":true,"asa-stamp":true,"default":true},"subdomain":"iotc-cli-test000002","createdDate":"2020-03-25T16:43:56.745Z","template":"iotc-pnp-preview@1.0.0"},"sku":{"name":"ST2"},"etag":"\"d60102a7-0000-0100-0000-5e7b8a4d0000\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d60102a7-0000-0100-0000-5e7b8a4d0000"'
      x-iot-cluster:
      - iotcprodwestcentralus02
      x-iot-correlation:
      - 9vvhx64z.0
      x-iot-version:
      - 032020.0002-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"displayName": "My Custom App Display
      Name", "subdomain": "iotc-cli-test000002-template", "template": "iotc-pnp-preview@1.0.0"},
      "sku": {"name": "ST1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-templ[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"displayName": "iotc-cli-test000002update",
      "subdomain": "iotc-cli-test000002update", "template": "iotc-pnp-preview@1.0.0"},
      "sku": {"name": "ST2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      IF-MATCH:
      - '"5f00e919-0000-0100-0000-5e7b8a710000"'
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template?api-version=2018-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template","name":"iotc-cli-test000002-template","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"7007bd01-3992-4f7f-b119-03d2e5955aa7","state":"created","displayName":"iotc-cli-test000002update","tenant":"1946e2f7-5c08-4cc1-ae10-100b1af48e31","capabilities":{"pnp-preview":true,"asa-stamp":true,"default":true},"subdomain":"iotc-cli-test000002update","createdDate":"2020-03-25T16:44:33.360Z","lastUpdated":"2020-03-25T16:45:10.629Z","template":"iotc-pnp-preview@1.0.0"},"sku":{"name":"ST2"},"etag":"\"5f00101c-0000-0100-0000-5e7b8a960000\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5f00101c-0000-0100-0000-5e7b8a960000"
      x-iot-cluster:
      - iotcprodwestcentralus02
      x-iot-correlation:
      - 7xvbub0y.0
      x-iot-version:
      - 032020.0002-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"074bd518-4f39-49a5-8a9b-78900b89401b","state":"created","displayName":"iotc-cli-test000002","tenant":"1946e2f7-5c08-4cc1-ae10-100b1af48e31","capabilities":{"pnp-preview":true,"asa-stamp":true,"default":true},"subdomain":"iotc-cli-test000002","createdDate":"2020-03-25T16:43:56.745Z","template":"iotc-pnp-preview@1.0.0"},"sku":{"name":"ST2"},"etag":"\"d60102a7-0000-0100-0000-5e7b8a4d0000\""}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"309-Gm6GwgmIv1FnP6wymikx1XPtzyk"
      x-iot-cluster:
      - iotcprodwestcentralus02
      x-iot-correlation:
      - 5pzdvgdt.0
      x-iot-version:
      - 032020.0002-release
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body:
      string: ''
    headers:
      x-iot-cluster:
      - iotcprodwestcentralus02
      x-iot-correlation:
      - 35r7whz4.0
      x-iot-version:
      - 032020.0002-release
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
