interactions:
- request:
    body: '{"name": "iot000003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2019-03-22-preview
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-03-25T16:43:49Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601":
      "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2019-03-22-preview
  response:
    body:
      string: '{"error":{"code":"MissingSubscriptionRegistration","message":"The subscription
        is not registered to use namespace ''Microsoft.Devices''. See https://aka.ms/rps-not-found
        for how to register subscriptions.","details":[{"code":"MissingSubscriptionRegistration","target":"Microsoft.Devices","message":"The
        subscription is not registered to use namespace ''Microsoft.Devices''. See
        https://aka.ms/rps-not-found for how to register subscriptions."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/register?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices","namespace":"Microsoft.Devices","authorizations":[{"applicationId":"0cd79364-7a90-4354-9984-6e36c841418d","roleDefinitionId":"C121DF10-FE58-4BC4-97F9-8296879F7BBB"},{"applicationId":"29f411f1-b2cf-4043-8ac8-2185d7316811"},{"applicationId":"89d10474-74af-4874-99a7-c23c2f643083","roleDefinitionId":"7df22794-26e3-4f94-9d50-a4f0f6e1cb41"}],"resourceTypes":[{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2020-03-01","2019-11-04","2019-07-01-preview","2019-03-22-preview","2019-03-22","2018-12-01-preview","2018-04-01","2018-01-22","2017-07-01","2017-01-19","2016-02-03","2015-08-15-preview"]},{"resourceType":"checkProvisioningServiceNameAvailability","locations":[],"apiVersions":["2018-01-22","2017-11-15","2017-08-21-preview"]},{"resourceType":"usages","locations":[],"apiVersions":["2020-03-01","2019-11-04","2019-07-01-preview","2019-03-22-preview","2019-03-22","2018-12-01-preview","2018-04-01","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices?api-version=2016-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices","namespace":"Microsoft.Devices","authorizations":[{"applicationId":"0cd79364-7a90-4354-9984-6e36c841418d","roleDefinitionId":"C121DF10-FE58-4BC4-97F9-8296879F7BBB"},{"applicationId[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601":
      "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b269f70e-cd12-48b4-8492-04406e1c339d","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMTUzNzU1NDEtYTA4Ni00ZDk3LTg5NjQtMjRhY2NhYWE3OTFl?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4998'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMTUzNzU1NDEtYTA4Ni00ZDk3LTg5NjQtMjRhY2NhYWE3OTFl?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b269f70e-cd12-48b4-8492-04406e1c339d","resourcegroup":"clitest.rg000001","etag":"AAAAAAxNxwM=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot000003","endpoint":"sb://iothub-ns-ioto32sh75-3140564-17eb9967fd.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "dps000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2018-01-22
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "S1", "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  response:
    body:
      string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"b269f70e-cd12-48b4-8492-04406e1c339d","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYjAwOWJmNzMtNGZlZS00YmQ0LTgwOTEtNGVkYjdmNThkMmQ2?api-version=2018-01-22&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYjAwOWJmNzMtNGZlZS00YmQ0LTgwOTEtNGVkYjdmNThkMmQ2?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  response:
    body:
      string: '{"etag":"AAAAAAKRLIo=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne000DDF84"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"b269f70e-cd12-48b4-8492-04406e1c339d","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"etag":"AAAAAAKRLIo=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne000DDF84"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"b269f70e-cd12-48b4-8492-04406e1c339d","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMzcxYWY1YzEtNGRlZS00NGFjLWFhNGUtOGM4OTg0MDUxNzMz?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/listkeys?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"keyName":"provisioningserviceowner","primaryKey":"RBcH3KJgUjIlq6MfSgpqwUk3vJJNkkk8gN35pxBF5Nc=","secondaryKey":"nVaA4CWGFj0tW6ywXLtR4PLOp6wbk5HGuNZen1yOsoE=","rights":"ServiceConfig,
        DeviceConnect, EnrollmentWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [], "allocationPolicy":
      "GeoLatency", "authorizationPolicies": [{"keyName": "provisioningserviceowner",
      "primaryKey": "RBcH3KJgUjIlq6MfSgpqwUk3vJJNkkk8gN35pxBF5Nc=", "secondaryKey":
      "nVaA4CWGFj0tW6ywXLtR4PLOp6wbk5HGuNZen1yOsoE=", "rights": "ServiceConfig, DeviceConnect,
      EnrollmentWrite"}, {"keyName": "policy000004", "rights": "EnrollmentRead"}]},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNzI3YWZkZmUtZTYwYi00ZTZjLWE1MGUtYzM2YzQzZGE0YTAy?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/keys/policy000004/listkeys?api-version=2018-01-22
  response:
    body:
      string: '{"keyName":"policy000004","primaryKey":"J7Wf+zRQdRLVMMu8pw8SUgoj2w0fxmIvcpbEIBEQfjU=","secondaryKey":"u7HwNFCT3SBzHe2TmiPXo0+cI/YbZqLhaJayxiGiCnE=","rights":"EnrollmentRead"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMzk3YTkwMTAtM2E2Ni00Zjg4LTgxNDMtMmRiZGE1MzVjYzcx?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfODhjZTZiNWYtNGMyNC00NDM5LWFlNmMtZjI4NzJkMzIxZjBl?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIHpD8l+KKa4IwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlQ3c25sb3FwN3F5bTc3N2J6MB4XDTIwMDMyNDE2NTAxNFoXDTIw\r\nMDMyODE2NTAxNFowIzEhMB8GA1UEAwwYVEVTVENFUlQ3c25sb3FwN3F5bTc3N2J6\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQAudvducmp15sQFgHdRelGU\r\nzU6ovOIGOMuGaGBv/AxXNyCM903MClKfQlGB3vEn2aEcyGkv/fhMukBvy2tsh24t\r\ndbIG7GC/pDyDyIF3Nu6Qc8KfxZJB7j3oFUsE8KWZDsgdKdLHRN/niL+hi2fjaxMW\r\nLh3EiNmP5lAQ2/nbFTgPd2hwTB4TQmKZLSTytKWdzqNbg3aV1j6P3LW6Cm1[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"properties":{"subject":"TESTCERT000006","expiry":"Sat,
        28 Mar 2020 16:50:14 GMT","thumbprint":"822BD6400D8B58FF907144A419867A067469E19E","isVerified":false,"created":"Wed,
        25 Mar 2020 16:50:17 GMT","updated":"Wed, 25 Mar 2020 16:50:17 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAKRLgc="}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIHpD8l+KKa4IwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlQ3c25sb3FwN3F5bTc3N2J6MB4XDTIwMDMyNDE2NTAxNFoXDTIw\r\nMDMyODE2NTAxNFowIzEhMB8GA1UEAwwYVEVTVENFUlQ3c25sb3FwN3F5bTc3N2J6\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQAudvducmp15sQFgHdRelGU\r\nzU6ovOIGOMuGaGBv/AxXNyCM903MClKfQlGB3vEn2aEcyGkv/fhMukBvy2tsh24t\r\ndbIG7GC/pDyDyIF3Nu6Qc8KfxZJB7j3oFUsE8KWZDsgdKdLHRN/niL+hi2fjaxMW\r\nLh3EiNmP5lAQ2/nbFTgPd2hwTB4TQmKZLSTytKWdzqNbg3aV1j6P3LW6Cm1MMV+/\r\n0fTWro0CYX4vKPt/f0x3ANPs4lYxSrYu+nB4e4qs17tiwYm7dHnIW509uPQLu0PX\r\nJxgJgsYaUQpJOHjRY5pDW4wRdcsiCbugc82J6SMC0xGFGrzghwZCBd27CKZ2l/CN\r\nAgMBAAGjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEwHQYDVR0OBBYEFNo5o+5ea0sN\r\nMlW/75VgGJCv2AcJMB8GA1UdIwQYMBaAFNo5o+5ea0sNMlW/75VgGJCv2AcJMA0G\r\nCSqGSIb3DQEBCwUAA4IBAQAFl7vFn3HnU425zKYtVcPmGiq9RrhfTBSsXfAHNj/+\r\nMw6IRKuQZvve6iKTy4vs1Q71aAgcbjG53RNjwjtCS3mCNGWbhlFyBpf3LpCPwPMM\r\nw3bw3PXI9Nb+Qk19dcOgmg/LDX2C7xCS6e5OLJBOvUzGi/MNzKaTJwEs6mJoJb/2\r\nnZ7CeZHQIOtY+EUlP04ob2sorAia4p2tztZnIhcmMtPELUFCId/sBDnHrQixGt8e\r\nnXLwgW3xpdP3d88N55QOXTzORotM1pZEwPfbL2JUNs7K9PHL4yVThg2NZ5UxTrEj\r\n9+471hvzatqaKgIme0j94VztwoH3AD28raoLrj1GfqOh\r\n-----END
      CERTIFICATE-----\r\n"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - AAAAAAKRLgc=
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005?api-version=2018-01-22
  response:
    body:
      string: '{"properties":{"subject":"TESTCERT000006","expiry":"Sat, 28 Mar 2020
        16:50:14 GMT","thumbprint":"822BD6400D8B58FF907144A419867A067469E19E","isVerified":false,"created":"Wed,
        2[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - AAAAAAKRLhA=
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005/generateVerificationCode?api-version=2018-01-22
  response:
    body:
      string: '{"properties":{"verificationCode":"3B93ECD6FA148F6EB03657A5F7C3F38252A9ADEE24AA2AF0","subject":"TESTCERT000006","expiry":"Sat,
        28 Mar 2020 16:50:14 GMT","thumbprint":"822BD6400D8B58FF907144A419867A067469E19E","isVerified":false,"created":"Wed,
        25 Mar 2020 16:50:17 GMT","updated":"Wed, 25 Mar 2020 16:50:21 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAKRLhM="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDAjCCAeqgAwIBAgIIDtetodV1mUgwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlQ3c25sb3FwN3F5bTc3N2J6MB4XDTIwMDMyNDE2NTAyMVoXDTIw\r\nMDMyODE2NTAyMVowOzE5MDcGA1UEAwwwM0I5M0VDRDZGQTE0OEY2RUIwMzY1N0E1\r\nRjdDM0YzODI1MkE5QURFRTI0QUEyQUYwMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4A\r\nMIIBCQKCAQAzH4IsfqsrCc9TCgdUxs2qRVefMaAkCYSa/1QWaHVV6+LRl3KktdpD\r\nwqwzWQTn8UuBh7qFYFGyOrDr5MPoqq6RVfhKuG+QSwAyBb1oTnweqbkqljGFSa0w\r\ne+tTNIyPrrt35EteW1hgiP[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b2[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"F2CEXEZ5wVH/7UCUw01RKnmS7mQ0ylb0gsJpgKcJXH8=","secondaryKey":"4ubufowL1NJ045BRAhwe9qxXAXon03AajfQnDXlflDM=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"4Re29lWsljCEkfBJb7+k7LEpHbv3JRzzosnUwoEuDjo=","secondaryKey":"8wVNZJa2zykw2mFCNXEgEAQc9FlGqG7mMaKu5RfWFCs=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"3VwOnfZGlXQ6kvs+VN7FYJQNKdL+HKVqHnUCW19lvnA=","secondaryKey":"Z+zssAOJ4B6YF99EgiS1LIo7aFNbl5xmdQG5W6hX6GU=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"iQGfl4GAJUAmPsl+F1KJko+/reTprWhgiOd74l1EYiE=","secondaryKey":"/Gg0Pp2iJsVOZn7qqTXK7GdiwSguwCQNvJIwOfKi49I=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"5+A6f+bt4284ckVcn/x92LhRXKsOJUZFKpjILlYxOag=","secondaryKey":"s+njAeoqYmbsvEeBRF1NJgvuhnbEAZjfJx5+HLC9tqk=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZGY5YmY1OTMtMTFhOC00MzAzLTg0NWYtY2M3Yzk5N2FmOWM1?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/IotHubKeys/iothubowner/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"F2CEXEZ5wVH/7UCUw01RKnmS7mQ0ylb0gsJpgKcJXH8=","secondaryKey":"4ubufowL1NJ045BRAhwe9qxXAXon03AajfQnDXlflDM=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMDE5YjJlOTEtNDNlYi00YTA2LThkMDctNDJkYWExZGM2MWE3?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [{"applyAllocationPolicy":
      true, "allocationWeight": 10, "connectionString": "HostName=iot000003.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=****",
      "location": "westus"}], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNzY3MDY3ZTUtZjY2ZC00MGI2LWExNDYtNjJiODk1OTVhZTc3?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfY2VhOTVhNTEtYWZhZC00ZWRlLWI5YjAtYTk1NTVhYmZhZWE2?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
[...]
