interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2019-08-21T22:27:31Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "Storage", "location": "westus2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1?api-version=2019-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/e5a4636f-1ef1-4fb9-94c0-6b275aa34255?monitor=true&api-version=2019-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/e5a4636f-1ef1-4fb9-94c0-6b275aa34255?monitor=true&api-version=2019-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/e5a4636f-1ef1-4fb9-94c0-6b275aa34255?monitor=true&api-version=2019-04-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/e5a4636f-1ef1-4fb9-94c0-6b275aa34255?monitor=true&api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1","name":"iothubteststorage1","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-08-21T22:27:38.9833935Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-08-21T22:27:38.9833935Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-08-21T22:27:38.9208912Z","primaryEndpoints":{"blob":"https://iothubteststorage1.blob.core.windows.net/","queue":"https://iothubteststorage1.queue.core.windows.net/","table":"https://iothubteststorage1.table.core.windows.net/","file":"https://iothubteststorage1.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://iothubteststorage1-secondary.blob.core.windows.net/","queue":"https://iothubteststorage1-secondary.queue.core.windows.net/","table":"https://iothubteststorage1-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-04-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1","name":"iothubteststorage1","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-08-21T22:27:38.9833935Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-08-21T22:27:38.9833935Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-08-21T22:27:38.9208912Z","primaryEndpoints":{"blob":"https://iothubteststorage1.blob.core.windows.net/","queue":"https://iothubteststorage1.queue.core.windows.net/","table":"https://iothubteststorage1.table.core.windows.net/","file":"https://iothubteststorage1.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://iothubteststorage1-secondary.blob.core.windows.net/","queue":"https://iothubteststorage1-secondary.queue.core.windows.net/","table":"https://iothubteststorage1-secondary.table.core.windows.net/"}}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1/listKeys?api-version=2019-04-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 21 Aug 2019 22:34:40 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://iothubteststorage1.blob.core.windows.net/iothubcontainer1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72687C1D02856"'
      last-modified:
      - Wed, 21 Aug 2019 22:34:41 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1","name":"ehNamespaceiothubfortest-1","type":"Microsoft.EventHub/Namespaces","location":"West
        US 2","tags":{},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":false,"provisioningState":"Created","metricId":"85a6c256-e687-4281-9cca-84869cf6ef36:ehnamespaceiothubfortest-1","createdAt":"2019-08-21T22:34:43.59Z","updatedAt":"2019-08-21T22:34:43.59Z","serviceBusEndpoint":"https://ehNamespaceiothubfortest-1.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest","name":"eventHubiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US 2","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2019-08-21T22:35:47.763Z","updatedAt":"2019-08-21T22:35:48.057Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest","name":"eventHubPolicyiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","location":"West
        US 2","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest/ListKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest-1.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=wTJQSXG1A2w5aFO4jwzOMtdkOBoPWCS0KTasDkCTkME=;EntityPath=eventHubiothubfortest","secondaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest-1.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=lIgftsH5hTXJrl3rDJHUrENzarsYpnwyl5bV6WhaiCw=;EntityPath=eventHubiothubfortest","primaryKey":"wTJQSXG1A2w5aFO4jwzOMtdkOBoPWCS0KTasDkCTkME=","secondaryKey":"lIgftsH5hTXJrl3rDJHUrENzarsYpnwyl5bV6WhaiCw=","keyName":"eventHubPolicyiothubfortest"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "iot-hub-for-test-1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2019-03-22-preview
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 4}}}, "sku": {"name": "S1", "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"85a6c256-e687-4281-9cca-84869cf6ef36","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfYTNmYjQ3MzEtOGE0Ni00MjcxLTk2MWUtNzVmOWMwY2VjOTJj?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfYTNmYjQ3MzEtOGE0Ni00MjcxLTk2MWUtNzVmOWMwY2VjOTJj?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"85a6c256-e687-4281-9cca-84869cf6ef36","resourcegroup":"clitest.rg000001","etag":"AAAAAAebzcE=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test-1.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-1","endpoint":"sb://iothub-ns-iot-hub-fo-2044845-b046bc0d61.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/IotHubKeys/iothubowner/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"xOUzhC2eh2BR8ldFRkyJ8ONxBlFdPw3ibProOKD86O8=","secondaryKey":"HOD3wVpzvAV4Nylb3yyUBn+lGpebq6Ncp8nDfWKJVxg=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"xOUzhC2eh2BR8ldFRkyJ8ONxBlFdPw3ibProOKD86O8=","secondaryKey":"HOD3wVpzvAV4Nylb3yyUBn+lGpebq6Ncp8nDfWKJVxg=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"3Z0ok5UC9N57iprG2lLqMyCWCjJn2igXsfdIgdcgi3E=","secondaryKey":"W1DQA+fKmiTeGckqRkME02h5/j+ac4d/GofnpVZ+ZiM=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"+iOmjd1UFfVmPUZbbHMpGyqSWtQpnEKKXroWDsc4GLc=","secondaryKey":"2PnrDn14PlJ5GV+tDzZrix1jU0uAabSNnIqRtJxmY/o=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"aDRRqniJr/Eppzsy3r4rvSSWqi4tHkG/NvvaZTJEy84=","secondaryKey":"VzmB6ULP7QxbcbMkRdF7YV5b+z2D6guvr02X4IE2MOQ=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"pCztAQpeuOhkQVX+wAfmxyV0qqB+GhEiqf0N2rm5Pr4=","secondaryKey":"xe4GzxndNYewUE+ywGxTV/F6W7zaeMqZYuX5++XB8W8=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAAAAebzcE=", "properties":
      {"ipFilterRules": [], "eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues": [],
      "serviceBusTopics": [], "eventHubs": [], "storageContainers": []}, "routes":
      [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages", "condition":
      "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName":
      ""}}, "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601":
      "PT1M", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 20}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT1M", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}, "features": "None"}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '{''IF-MATCH'': ''AAAAAAebzcE=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"85a6c256-e687-4281-9cca-84869cf6ef36","resourcegroup":"clitest.rg000001","etag":"AAAAAAebzcE=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"xOUzhC2eh2BR8ldFRkyJ8ONxBlFdPw3ibProOKD86O8=","secondaryKey":"HOD3wVpzvAV4Nylb3yyUBn+lGpebq6Ncp8nDfWKJVxg=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"3Z0ok5UC9N57iprG2lLqMyCWCjJn2igXsfdIgdcgi3E=","secondaryKey":"W1DQA+fKmiTeGckqRkME02h5/j+ac4d/GofnpVZ+ZiM=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"+iOmjd1UFfVmPUZbbHMpGyqSWtQpnEKKXroWDsc4GLc=","secondaryKey":"2PnrDn14PlJ5GV+tDzZrix1jU0uAabSNnIqRtJxmY/o=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"aDRRqniJr/Eppzsy3r4rvSSWqi4tHkG/NvvaZTJEy84=","secondaryKey":"VzmB6ULP7QxbcbMkRdF7YV5b+z2D6guvr02X4IE2MOQ=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"pCztAQpeuOhkQVX+wAfmxyV0qqB+GhEiqf0N2rm5Pr4=","secondaryKey":"xe4GzxndNYewUE+ywGxTV/F6W7zaeMqZYuX5++XB8W8=","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-1-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-2044845-b046bc0d61.servicebus.windows.net/","internalAuthorizationPolicies":[{"KeyName":"scaleunitsend-0e113152-2072-4dd0-a22d-bd721df9c10e-iothub","PrimaryKey":"1LK/0+Hckf/srppNN74og8WeFgUq+FJ7DZM5thzb74c=","SecondaryKey":"2uishTJMV72lnZyQwqtFk+cOTBsbBlw4Az32FEB0bck=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Send"],"CreatedTime":"Wed,
        21 Aug 2019 22:37:27 GMT","ModifiedTime":"Wed, 21 Aug 2019 22:37:27 GMT"},{"KeyName":"owner-f0ff526c-5e60-43fb-a8a8-df2ef708158d-iothub","PrimaryKey":"ZuUeFdyqEGObSca/h+KHlWE9qSQhpzKrB1hRtKI68zE=","SecondaryKey":"q3eeU2ucpGOq6nan4sTsgXJwCFFazDODyJ8bFtZdyYE=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Listen","Manage","Send"],"CreatedTime":"Wed,
        21 Aug 2019 22:37:27 GMT","ModifiedTime":"Wed, 21 Aug 2019 22:37:27 GMT"}],"authorizationPolicies":[{"KeyName":"iothubowner","PrimaryKey":"xOUzhC2eh2BR8ldFRkyJ8ONxBlFdP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNmQwODc4Y2UtM2E2My00ZmEwLWI3MmYtNWVmZDdkNDIyMWNk?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/skus?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S1","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S2","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S3","tier":"Standard"},"capacity":{"minimum":1,"maximum":10,"default":1,"scaleType":"Manual"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfYjI2MmJlZTAtYWM5Yy00N2NlLWE4MzQtMjNmODZhZmQyN2M3?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/IotHubKeys/test_policy/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"keyName":"test_policy","primaryKey":"d62LoBDLE6VZRZr2WFiqg8udqNkCGIE0yx8Za3ErF0Q=","secondaryKey":"fspWfFn0DL7Bprn2qodONv0aQ9+WLm/QcDuEe3ubpuY=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZjAyNGIyOGYtMTJiMi00YzgxLWI4ZmItMzYyNWEyY2Y1OGRh?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMmQ1MDdhZGQtMDZmMS00ZGI0LThkOGMtNzE5YjQ1ZGE0Mzg5?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNDhlZmM3YWMtYWQ4MC00MWQwLTlmNzQtMjdiMmRkMzA4Yjg2?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/eventHubEndpoints/events/ConsumerGroups/cg1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"properties":{"created":"Wed, 21 Aug 2019 22:41:20 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/eventHubEndpoints/events/ConsumerGroups/cg1","name":"cg1","type":"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups","etag":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/eventHubEndpoints/events/ConsumerGroups?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"properties":{"created":"Wed, 21 Aug 2019 22:37:21 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/eventHubEndpoints/events/ConsumerGroups/%24Default","name":"$Default","type":"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups","etag":null},{"properties":{"created":"Wed,
[...]
