interactions:
- request:
    body: '{"properties": {"name": "clitestrepo"}}'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
    method: PUT
    uri: https://provider.azureiotrepository-test.com/repositories?api-version=2019-07-01-Preview
  response:
    body:
      string: '{"status":"Provisioned","provisioningState":"dc3127e18f0f4573a125114baeaad98a","id":"621158b3145e471b99b3f9f4379e5026","pollBackUri":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026/status/dc3127e18f0f4573a125114baeaad98a?api-version=2019-07-01-Preview
  response:
    body:
      string: '{"status":"Provisioned","provisioningState":"dc3127e18f0f4573a125114baeaad98a","id":"621158b3145e471b99b3f9f4379e5026","pollBackUri":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://provider.azureiotrepository-test.com/repositories?api-version=2019-07-01-Preview
  response:
    body:
      string: '[{"id":"621158b3145e471b99b3f9f4379e5026","name":"clitestrepo-updated","type":"{resourceProviderNamespace}/repository","properties":{"id":"621158b3145e471b99b3f9f4379e5026","tenantId":"beea802c-319f-4438-8a03-e03255ff460e","tenantName":"beea802c-319f-4438-8a03-e03255ff460e","kind":"Repository","createdOn":"2019-07-23T17:03:29.605679Z","updatedOn":"2019-07-23T17:03:33.5354398Z"}}]'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026?api-version=2019-07-01-Preview
  response:
    body:
      string: '{"id":"621158b3145e471b99b3f9f4379e5026","name":"clitestrepo-updated","type":"{resourceProviderNamespace}/repository","properties":{"id":"621158b3145e471b99b3f9f4379e5026","tenantId":"beea802c-319f-4438-8a03-e03255ff460e","tenantName":"beea802c-319f-4438-8a03-e03255ff460e","kind":"Repository","createdOn":"2019-07-23T17:03:29.605679Z","updatedOn":"2019-07-23T17:03:33.5354398Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026/authKeys?api-version=2019-07-01-Preview
  response:
    body:
      string: '[]'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"userRole": "reader"}}'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
    method: PUT
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026/authKeys?api-version=2019-07-01-Preview
  response:
    body:
      string: '{"id":"6b879e1052f64a689884abe3fb6c2428","repositoryId":"621158b3145e471b99b3f9f4379e5026","userRole":"Reader","secret":"IxOXc8uLde/huoHACf8l+UFn94GhnU5QCCwjEeMXj9lRHj7N+TngqenyTRtJ8ap0UCzJQF9L6yH0edqSosEvoA==","tenantId":"beea802c-319f-4438-8a03-e03255ff460e","tenantName":"beea802c-319f-4438-8a03-e03255ff460e","createdOn":"2019-07-23T17:03:42.0699322Z","updatedOn":"2019-07-23T17:03:42.0699322Z","connectionString":"HostName=https://repo.azureiotrepository-test.com;RepositoryId=621158b3145e471b99b3f9f4379e5026;SharedAccessKeyName=6b879e1052f64a689884abe3fb6c2428;SharedAccessKey=IxOXc8uLde/huoHACf8l+UFn94GhnU5QCCwjEeMXj9lRHj7N+TngqenyTRtJ8ap0UCzJQF9L6yH0edqSosEvoA==","serviceEndpoint":"https://repo.azureiotrepository-test.com"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026/authKeys/6b879e1052f64a689884abe3fb6c2428?api-version=2019-07-01-Preview
  response:
    body:
      string: '{"id":"6b879e1052f64a689884abe3fb6c2428","repositoryId":"621158b3145e471b99b3f9f4379e5026","userRole":"Reader","secret":"IxOXc8uLde/huoHACf8l+UFn94GhnU5QCCwjEeMXj9lRHj7N+TngqenyTRtJ8ap0UCzJQF9L6yH0edqSosEvoA==","tenantId":"beea802c-319f-4438-8a03-e03255ff460e","tenantName":"beea802c-319f-4438-8a03-e03255ff460e","createdOn":"2019-07-23T17:03:42.0699322Z","updatedOn":"2019-07-23T17:03:42.0699322Z","connectionString":"HostName=https://repo.azureiotrepository-test.com;RepositoryId=621158b3145e471b99b3f9f4379e5026;SharedAccessKeyName=6b879e1052f64a689884abe3fb6c2428;SharedAccessKey=IxOXc8uLde/huoHACf8l+UFn94GhnU5QCCwjEeMXj9lRHj7N+TngqenyTRtJ8ap0UCzJQF9L6yH0edqSosEvoA==","serviceEndpoint":"https://repo.azureiotrepository-test.com"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026?api-version=2019-07-01-Preview
  response:
    body:
      string: '{"status":"Deleted","provisioningState":"dc3127e18f0f4573a125114baeaad98a","id":"621158b3145e471b99b3f9f4379e5026","pollBackUri":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
