interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2020-03-13T01:29:42Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "westus2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/3b020bb6-d132-4ba9-b67a-f8813278cff9?monitor=true&api-version=2019-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/3b020bb6-d132-4ba9-b67a-f8813278cff9?monitor=true&api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/3b020bb6-d132-4ba9-b67a-f8813278cff9?monitor=true&api-version=2019-06-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/3b020bb6-d132-4ba9-b67a-f8813278cff9?monitor=true&api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1","name":"iothubteststorage1","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-03-13T01:29:45.3705857Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-03-13T01:29:45.3705857Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-03-13T01:29:45.3237185Z","primaryEndpoints":{"dfs":"https://iothubteststorage1.dfs.core.windows.net/","web":"https://iothubteststorage1.z5.web.core.windows.net/","blob":"https://iothubteststorage1.blob.core.windows.net/","queue":"https://iothubteststorage1.queue.core.windows.net/","table":"https://iothubteststorage1.table.core.windows.net/","file":"https://iothubteststorage1.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available","secondaryLocation":"westcentralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://iothubteststorage1-secondary.dfs.core.windows.net/","web":"https://iothubteststorage1-secondary.z5.web.core.windows.net/","blob":"https://iothubteststorage1-secondary.blob.core.windows.net/","queue":"https://iothubteststorage1-secondary.queue.core.windows.net/","table":"https://iothubteststorage1-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TestCLI/providers/Microsoft.Storage/storageAccounts/testiotextstor0","name":"testiotextstor0","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encrypti[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/iothubteststorage1/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 13 Mar 2020 01:35:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://iothubteststorage1.blob.core.windows.net/iothubcontainer1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7C6EEC7E63933"'
      last-modified:
      - Fri, 13 Mar 2020 01:35:15 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1","name":"ehNamespaceiothubfortest-1","type":"Microsoft.EventHub/Namespaces","location":"West
        US 2","tags":{},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"a386d5ea-ea90-441a-8263-d816368c84a1:ehnamespaceiothubfortest-1","createdAt":"2020-03-13T01:35:18.387Z","updatedAt":"2020-03-13T01:35:18.387Z","serviceBusEndpoint":"https://ehNamespaceiothubfortest-1.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest","name":"eventHubiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"West
        US 2","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2020-03-13T01:36:21.86Z","updatedAt":"2020-03-13T01:36:22.037Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest","name":"eventHubPolicyiothubfortest","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","location":"West
        US 2","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest-1/eventhubs/eventHubiothubfortest/authorizationRules/eventHubPolicyiothubfortest/ListKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest-1.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=cv/tpx3Fe9foQcOkM4+WfIFIKU92/y6FPA1CBkhk76s=;EntityPath=eventHubiothubfortest","secondaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest-1.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=e341YtpXCHxHnbwCxMcZAhExB5se/TXuz19of2JTFw0=;EntityPath=eventHubiothubfortest","primaryKey":"cv/tpx3Fe9foQcOkM4+WfIFIKU92/y6FPA1CBkhk76s=","secondaryKey":"e341YtpXCHxHnbwCxMcZAhExB5se/TXuz19of2JTFw0=","keyName":"eventHubPolicyiothubfortest"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "iot-hub-for-test-1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2019-03-22-preview
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 4}}, "storageEndpoints": {"$default":
      {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "F1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"code":400016,"httpStatusCode":"BadRequest","message":"Invalid PartitionCount
        4 - value must be between 2 and 2. If you contact a support representative
        please include this correlation identifier: e7b03042-36b7-4759-83eb-844baa91fc55,
        timestamp: 2020-03-13 01:36:26Z, errorcode: IH400016."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4998'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 2}}, "storageEndpoints": {"$default":
      {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "F1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":2}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"F1","tier":"Free","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNTkyZmM4MDEtMmNjYy00NmRmLWE0YmMtZmM5ZjcxM2Q5NWI2?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNTkyZmM4MDEtMmNjYy00NmRmLWE0YmMtZmM5ZjcxM2Q5NWI2?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAAAAwD8Ig=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test-1.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2,"partitionIds":["0","1"],"path":"iothub-ehub-iot-hub-fo-3072713-16235872ae","endpoint":"sb://ihsuprodmwhres016dednamespace.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"F1","tier":"Free","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rk-iot-rg/providers/Microsoft.Devices/IotHubs/logs-hub","name":"logs-hub","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"rk-iot-rg","etag":"AAAAAAtSozQ=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[{"filterName":"test_1","action":"Reject","ipMask":"123.1.1.1"},{"filterName":"test_21","action":"Reject","ipMask":"11.1.1.1"}],"hostName":"logs-hub.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"logs-hub","endpoint":"sb://iothub-ns-logs-hub-1757890-51a967930d.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"enrichments":[{"key":"test","value":"test","endpointNames":["events"]}],"routes":[{"name":"test","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":false}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliv[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZTJmYzlhNTMtZjk3OS00OGNhLWE4NzItMjA2Y2QzMDNjMWY2?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMGU5OTA5NzYtY2M4Yy00NTgwLWEzM2MtOTM4OGVlMjBkZTA3?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/IotHubKeys/iothubowner/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"76Dh2cRPUt+N6EJsjcmtS9JixeeSSDn8kfU6mutHgok=","secondaryKey":"wj5V3QW4L+1jVfBoaitaCnAOxpnAtHVx5BsoITde1dE=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"76Dh2cRPUt+N6EJsjcmtS9JixeeSSDn8kfU6mutHgok=","secondaryKey":"wj5V3QW4L+1jVfBoaitaCnAOxpnAtHVx5BsoITde1dE=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"mWIgce9FAhydOFGLyIEkJJ4esN6JqAZwqopXqOhuShk=","secondaryKey":"iEkoszQsaLFH18GfyburQQQTW2oO6unvDcd9oISM2DU=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"+NHomA+uIrQNNdp70Cg2ojV2pWy3Sd0+HaHwlfAPeOs=","secondaryKey":"lpIt0PEnlJXAnlKDjAcJ/8Rmgsm9TPoO71a6zIJCYo8=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"ox4eP2lN7V8xnIGfYx5o5G8pypVqzLDGBCMQygs8Gh8=","secondaryKey":"jttUUeMzcLrCNXifBVWkDMaSiJvsNHyEW9mHyvB4aLg=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"LUrqlVptLrS8gFWpteWo6hpZSJHl+RHNMJrJ9qCT2pI=","secondaryKey":"pyu9lCEahjMfWULBkz84s2VbGZIWDDoWkamlyd8FdeE=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAAAAwD9ZM=", "properties":
      {"ipFilterRules": [], "eventHubEndpoints": {"events": {"retentionTimeInDays":
      4, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues": [],
      "serviceBusTopics": [], "eventHubs": [], "storageContainers": []}, "routes":
      [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages", "condition":
      "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT3H", "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=iothubteststorage1;AccountKey=veryFakedStorageAccountKey==",
      "containerName": "iothubcontainer1"}}, "messagingEndpoints": {"fileNotifications":
      {"lockDurationAsIso8601": "PT1M", "ttlAsIso8601": "P1DT8H", "maxDeliveryCount":
      80}}, "enableFileUploadNotifications": true, "cloudToDevice": {"maxDeliveryCount":
      46, "defaultTtlAsIso8601": "P1DT10H", "feedback": {"lockDurationAsIso8601":
      "PT10S", "ttlAsIso8601": "P1DT19H", "maxDeliveryCount": 76}}, "features": "None"},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '{''IF-MATCH'': ''AAAAAAwD9ZM=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAAAAwD9ZM=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","authorizationPolicies":[{"keyName":"iothubowner","primaryKey":"76Dh2cRPUt+N6EJsjcmtS9JixeeSSDn8kfU6mutHgok=","secondaryKey":"wj5V3QW4L+1jVfBoaitaCnAOxpnAtHVx5BsoITde1dE=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"mWIgce9FAhydOFGLyIEkJJ4esN6JqAZwqopXqOhuShk=","secondaryKey":"iEkoszQsaLFH18GfyburQQQTW2oO6unvDcd9oISM2DU=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"+NHomA+uIrQNNdp70Cg2ojV2pWy3Sd0+HaHwlfAPeOs=","secondaryKey":"lpIt0PEnlJXAnlKDjAcJ/8Rmgsm9TPoO71a6zIJCYo8=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"ox4eP2lN7V8xnIGfYx5o5G8pypVqzLDGBCMQygs8Gh8=","secondaryKey":"jttUUeMzcLrCNXifBVWkDMaSiJvsNHyEW9mHyvB4aLg=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"LUrqlVptLrS8gFWpteWo6hpZSJHl+RHNMJrJ9qCT2pI=","secondaryKey":"pyu9lCEahjMfWULBkz84s2VbGZIWDDoWkamlyd8FdeE=","rights":"RegistryWrite"}],"ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":4,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-1-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-3072727-94116b8911.servicebus.windows.net/","internalAuthorizationPolicies":[{"KeyName":"scaleunitsend-9e0b112e-6415-4f83-a432-7022abe6b7a5-iothub","PrimaryKey":"7+dGJq05DxGaINdsFMLTTXvs/JJPBbQxGKL82bzAPI4=","SecondaryKey":"RnXQPKmm9hzHOcejIUccQdvY1FXtvLmeFEaMHE6TOMs=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Send"],"CreatedTime":"Fri,
        13 Mar 2020 01:40:31 GMT","ModifiedTime":"Fri, 13 Mar 2020 01:40:31 GMT"},{"KeyName":"owner-ae81324f-6d08-4f19-89b9-1a81e07c4cad-iothub","PrimaryKey":"b6/4exMNkZrZIWXinlrsnzqpFc/2pKYN47BJnCgDsNU=","SecondaryKey":"I5qLvNU5JUS08ciWqEVCNH+4L+BMCZi5nCg7D17D73c=","ClaimType":"SharedAccessKey","ClaimValue":"None","Rights":["Listen","Manage","Send"],"CreatedTime":"Fri,
        13 Mar 2020 01:40:31 GMT","ModifiedTime":"Fri, 13 Mar 2020 01:40:31 GMT"}],"authorizationPolicies":[{"KeyName":"iothubowner","PrimaryKey":"76Dh2cRPUt+N6EJsjcmtS9JixeeSS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMDdmYWRkOWEtYjZhNS00MzMxLThhNjAtNzA1Y2JhN2M1MTI5?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1","name":"iot-hub-for-test-1","type":"Microsoft.Devices/IotHubs",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-1/skus?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S1","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S2","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S3","tier":"Standard"},"capacity":{"minimum":1,"maximum":10,"default":1,"scaleType":"Manual"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfNmNlYWZmMDktNzgyYy00NjI5LThlNDEtMzNjM2Q2ZTkxYzcz?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
[...]
