interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 19 Jul 2023 06:26:04 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://schaudhari.blob.core.windows.net/iothubcontainer?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The
        specified container already exists.\nRequestId:76606448-f01e-005e-2909-ba587e000000\nTime:2023-07-19T06:26:06.3389280Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerAlreadyExists
      x-ms-version:
      - '2022-11-02'
    status:
      code: 409
      message: The specified container already exists.
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-07-19T06:25:43.9328290Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-07-19T06:25:43.9328290Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2022-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2023-07-19T06:25:43.9328290Z","key2":"2023-07-19T06:25:43.9328290Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-07-19T06:25:43.9482808Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-07-19T06:25:43.9482808Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2023-07-19T06:25:43.8232302Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","test":"test_identity_hub","date":"2023-07-19T06:25:31Z","module":"iot"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006?api-version=2023-01-31
  response:
    body:
      string: '{"location":"westus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006","name":"iot-user-identity000006","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"d4a70fc0-d8e7-46ed-b1d7-3df14bffcffd","clientId":"0061e4e4-2731-4206-b3ca-bf2f92318eba"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "properties": {"minTlsVersion": "1.2", "eventHubEndpoints":
      {"events": {"retentionTimeInDays": 1, "partitionCount": 4}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName":
      ""}}, "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601":
      "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "S1", "capacity": 1}, "identity": {"type": "SystemAssigned,
      UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003?api-version=2022-04-30-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003","name":"identitytesthub000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"326100e2-f69d-4268-8503-075374f62b6e","resourcegroup":"clitest.rg000001","properties":{"provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","minTlsVersion":"1.2","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":{}},"principalId":"8db20c15-5cf8-438c-b00a-e86158ec4a7e"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfODA1YjE4MmUtMWIwMy00NWQ2LWIyOTktYjVlOTFmOTNiOGI4O3JlZ2lvbj13ZXN0dXMy?api-version=2022-04-30-preview&operationSource=other&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfODA1YjE4MmUtMWIwMy00NWQ2LWIyOTktYjVlOTFmOTNiOGI4O3JlZ2lvbj13ZXN0dXMy?api-version=2022-04-30-preview&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003?api-version=2022-04-30-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003","name":"identitytesthub000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"326100e2-f69d-4268-8503-075374f62b6e","resourcegroup":"clitest.rg000001","etag":"AAAADH6iAqs=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"identitytesthub000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"identitytesthubnrpkwy7d2b","endpoint":"sb://iothub-ns-identityte-25154700-7a5b304137.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[],"cosmosDBSqlCollections":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","minTlsVersion":"1.2","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":{"clientId":"0061e4e4-2731-4206-b3ca-bf2f92318eba","principalId":"d4a70fc0-d8e7-46ed-b1d7-3df14bffcffd"}},"principalId":"8db20c15-5cf8-438c-b00a-e86158ec4a7e"},"systemData":{"createdAt":"2023-07-19T06:26:43.9733333Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Storage%20Blob%20Data%20Contributor%27&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Storage Blob Data Contributor","type":"BuiltInRole","description":"Allows
        for read, write and delete access to Azure Storage blob containers and data","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Storage/storageAccounts/blobServices/containers/delete","Microsoft.Storage/storageAccounts/blobServices/containers/read","Microsoft.Storage/storageAccounts/blobServices/containers/write","Microsoft.Storage/storageAccounts/blobServices/generateUserDelegationKey/action"],"notActions":[],"dataActions":["Microsoft.Storage/storageAccounts/blobServices/containers/blobs/delete","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/read","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/write","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/move/action","Microsoft.Storage/storageAccounts/blobServices/containers/blobs/add/action"],"notDataActions":[]}],"createdOn":"2017-12-21T00:01:24.7972312Z","updatedOn":"2021-11-11T20:13:54.9397456Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe","type":"Microsoft.Authorization/roleDefinitions","name":"ba92f5b4-2d11-453d-a403-e96b0029c9fe"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe",
      "principalId": "8db20c15-5cf8-438c-b00a-e86158ec4a7e"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/ba92f5b4-2d11-453d-a403-e96b0029c9fe","principalId":"8db20c15-5cf8-438c-b00a-e86158ec4a7e","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","condition":null,"conditionVersion":null,"createdOn":"2023-07-19T06:29:20.1774551Z","updatedOn":"2023-07-19T06:29:39.8879479Z","createdBy":null,"updatedBy":"eea76376-6cf2-4f48-a713-64382d4b9625","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2022-04-30-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/juanfunction/providers/Microsoft.Devices/IotHubs/juanhub","name":"juanhub","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"326100e2-f[...]
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "etag": "AAAADH6iAqs=", "properties":
      {"allowedFqdnList": [], "ipFilterRules": [], "minTlsVersion": "1.2", "eventHubEndpoints":
      {"events": {"retentionTimeInDays": 1, "partitionCount": 4}}, "routing": {"endpoints":
      {"serviceBusQueues": [], "serviceBusTopics": [], "eventHubs": [], "storageContainers":
      [], "cosmosDBSqlCollections": []}, "routes": [], "fallbackRoute": {"name": "$fallback",
      "source": "DeviceMessages", "condition": "true", "endpointNames": ["events"],
      "isEnabled": true}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601": "PT1H",
      "connectionString": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=clitest000002;AccountKey=veryFakedStorageAccountKey==;BlobEndpoint=https://clitest000002.blob.core.windows.net/;FileEndpoint=https://clitest000002.file.core.windows.net/;QueueEndpoint=https://clitest000002.queue.core.windows.net/;TableEndpoint=https://clitest000002.table.core.windows.net/",
      "containerName": "iothubcontainer", "authenticationType": "identityBased"}},
      "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601": "PT15S",
      "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}, "features": "None"}, "sku": {"name": "S1", "capacity": 1}, "identity":
      {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/iot-user-identity000006":
      {}}}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '{''IF-MATCH'': ''AAAADH6iAqs=''}'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003?api-version=2022-04-30-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003","name":"identitytesthub000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"326100e2-f69d-4268-8503-075374f62b6e","resourcegroup":"clitest.rg000001","etag":"AAAADH6iAqs=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"provisioningState":"Accepted","ipFilterRules":[],"eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"identitytesthubnrpkwy7d2b-operationmonitoring","endpoint":"sb://iothub-ns-identityte-25154700-7a5b304137.servicebus.windows.net/","internalAuthorizationPolicies":[{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"scaleunitsend-838bd163-41bb-44e0-a9e7-e9785f243b8a-iothub","PrimaryKey":"CDU459qJ7gqtOqZRJXLpriNlzoJQ1exCRB5V4a938JE=","SecondaryKey":"X983fANLayRDEKhHIH7t9q+L86c+axDWyM6Rz4k1QRU=","Rights":["Send"],"CreatedTime":"Wed,
        19 Jul 2023 06:28:35 GMT","ModifiedTime":"Wed, 19 Jul 2023 06:28:35 GMT"},{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"owner-75d8c1d0-2c65-4fc4-8d1e-67b61ccd3dea-iothub","PrimaryKey":"rfpX+36DkA2aNN4OzLycGP3yLSNOjO6+EizAkQA2nXM=","SecondaryKey":"INoG94ao0Ukpn/X0RSt7ZuHu1cc0/j20lwLKUjEERi8=","Rights":["Listen","Manage","Send"],"CreatedTime":"Wed,
        19 Jul 2023 06:28:35 GMT","ModifiedTime":"Wed, 19 Jul 2023 06:28:35 GMT"}],"authorizationPolicies":[{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"iothubowner","PrimaryKey":"e90NuGTtC3H0XYwuqYK6EKStd5epMAKbrsRkSmC1vgk=","SecondaryKey":"+qhrNk1N56zVl6HPPEcGNri/pAIRIjSstjl0wtEQ0qU=","Rights":["Listen"],"CreatedTime":"Wed,
        19 Jul 2023 06:28:35 GMT","ModifiedTime":"Wed, 19 Jul 2023 06:28:35 GMT"},{"ClaimType":"SharedAccessKey","ClaimValue":"None","KeyName":"service","PrimaryKey":"wITG1hlQTJQyM8H072E+iS1Dft0ck4N/T4l2QXlLfvw=","SecondaryKey":"pOPtdhcLITy9XGVGyKhGTvSWWDWnSNg0F[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfNDg0MTI4OWQtZDQxOS00ZmUzLWFhN2EtM2I0YzcxMTZkOWQzO3JlZ2lvbj13ZXN0dXMy?api-version=2022-04-30-preview&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "identitytesthub000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2022-04-30-preview
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"IotHub name
        ''identitytesthub000003'' is not available"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfMWU2NGZhY2UtZDJlYi00OWZmLWIwNzUtNDE0YjE3ODg3NDE2O3JlZ2lvbj13ZXN0dXMy?api-version=2022-04-30-preview&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/aWQ9b3NfaWhfMmIwMTVhYjktZWY4Mi00MzU3LTkwYjAtMTQ2YmY3NWFjOGRlO3JlZ2lvbj13ZXN0dXMy?api-version=2022-04-30-preview&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "None"}, "location": "westus2", "sku": {"name": "Standard",
      "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009?api-version=2023-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009","name":"ehNamespaceiothubfortest1000009","type":"Microsoft.EventHub/Namespaces","location":"West
        US 2","tags":{},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"326100e2-f69d-4268-8503-075374f62b6e:ehnamespaceiothubfortest1qpkpady","createdAt":"2023-07-19T06:33:23.087Z","updatedAt":"2023-07-19T06:33:23.087Z","serviceBusEndpoint":"https://ehNamespaceiothubfortest1000009.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009/eventhubs/eventHubiothubfortest000010?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009/eventhubs/eventHubiothubfortest000010","name":"eventHubiothubfortest000010","type":"Microsoft.EventHub/namespaces/eventhubs","location":"westus2","properties":{"retentionDescription":{"cleanupPolicy":"Delete","retentionTimeInHours":168},"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2023-07-19T06:34:32.017Z","updatedAt":"2023-07-19T06:34:32.47Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%278db20c15-5cf8-438c-b00a-e86158ec4a7e%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South India","Slice":"E","Ring":"2","ScaleUnit":"001","RoleInstance":"MA1PEPF00003103"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["8db20c15-5cf8-438c-b00a-e86158ec4a7e"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"8db20c15-5cf8-438c-b00a-e86158ec4a7e","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/identitytesthub000003"],"appDisplayName":null,"appDescription":null,"appId":"d4383c09-0945-44d0-be7d-7cccd67b020a","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2023-07-19T06:26:39Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"identitytesthub000003","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["d4383c09-0945-44d0-be7d-7cccd67b020a","https://identity.azure.net/L4UZVE1sawccmVKIJUhB1t5HE/1x6ZZBFUsMYSHbOOk="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"2279369CEA26D1220A13E09C635C7F230052DA6A","displayName":"CN=d4383c09-0945-44d0-be7d-7cccd67b020a","endDateTime":"2023-10-17T06:21:00Z","key":null,"keyId":"3f9872ee-172d-49f0-a047-8374c81ccbec","startDateTime":"2023-07-19T06:21:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South India","Slice":"E","Ring":"2","ScaleUnit":"001","RoleInstance":"MA1PEPF00005FBF"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000009/eventhubs/eventHubiothubfortest000010/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Azure%20Event%20Hubs%20Data%20Sender%27&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Azure Event Hubs Data Sender","type":"BuiltInRole","description":"Allows
        send access to Azure Event Hubs resources.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.EventHub/*/eventhubs/read"],"notActions":[],"dataActions":["Microsoft.EventHub/*/send/action"],"notDataActions":[]}],"createdOn":"2019-05-10T06:26:12.4673714Z","updatedOn":"2021-11-11T20:14:01.4925583Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2b629674-e913-4c01-ae53-ef4638d8f975","type":"Microsoft.Authorization/roleDefinitions","name":"2b629674-e913-4c01-ae53-ef4638d8f975"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/2b629674-e913-4c01-ae53-ef4638d8f975",
      "principalId": "8db20c15-5cf8-438c-b00a-e86158ec4a7e", "principalType": "ServicePrincipal"}}'
    headers:
[...]
