# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @necusjz @DanielMicrosoft @yonzhan
*help.yaml @necusjz @DanielMicrosoft @yonzhan
*help.yml @necusjz @DanielMicrosoft @yonzhan

/linter_exclusions.yml @naga-nandyala @yonzhan @wangzelin007 @a0x1ab

/doc/ @necusjz @DanielMicrosoft @yonzhan
/tools/ @naga-nandyala @yonzhan @wangzelin007 @a0x1ab @VeryEarly @Pan-Qi @jsntcy @YangAn-microsoft
/tools/aaz-flow @a0x1ab @necusjz @VeryEarly @Pan-Qi @jsntcy @YangAn-microsoft
/scripts/ @naga-nandyala @yonzhan @wangzelin007 @a0x1ab @VeryEarly @Pan-Qi @jsntcy @YangAn-microsoft
/scripts/live_test @naga-nandyala @yonzhan @wangzelin007
/src/azure-cli-testsdk/ @necusjz @DanielMicrosoft @yonzhan

/src/azure-cli-core/ @necusjz @DanielMicrosoft @yonzhan @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto @jsntcy @YangAn-microsoft @VeryEarly @Pan-Qi
/src/azure-cli-core/azure/cli/core/_profile.py @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto
/src/azure-cli-core/azure/cli/core/auth/ @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto
/src/azure-cli-core/azure/cli/core/cloud.py @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto
/src/azure-cli-core/azure/cli/core/extension/ @VeryEarly @Pan-Qi @jsntcy @necusjz @YangAn-microsoft
/src/azure-cli-core/azure/cli/core/style.py @NoriZC @yanzhudd @teresaritorto
/src/azure-cli-core/azure/cli/core/aaz/ @VeryEarly @Pan-Qi @jsntcy @necusjz @YangAn-microsoft


/src/azure-cli/ @necusjz @DanielMicrosoft @yonzhan @jsntcy @YangAn-microsoft @VeryEarly @Pan-Qi

/src/azure-cli-core/setup.py @necusjz @DanielMicrosoft @yonzhan @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto @jsntcy @YangAn-microsoft @VeryEarly @Pan-Qi
/src/azure-cli/setup.py @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto @jsntcy @YangAn-microsoft @VeryEarly @Pan-Qi
/src/azure-cli/requirements.*.txt @necusjz @DanielMicrosoft @yonzhan @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto @jsntcy @YangAn-microsoft @VeryEarly @Pan-Qi

/src/azure-cli/azure/cli/command_modules/acr/ @NoriZC @yanzhudd @teresaritorto @northtyphoon @rosanch
/src/azure-cli/azure/cli/command_modules/acs/ @NoriZC @yanzhudd @teresaritorto @fumingzhang @elvazhu521
/src/azure-cli/azure/cli/command_modules/advisor/ @VeryEarly @Pan-Qi @jsntcy @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/apim/ @NoriZC @yanzhudd @teresaritorto @kevinhillinger @jonlester
/src/azure-cli/azure/cli/command_modules/appconfig/ @VeryEarly @Pan-Qi @jsntcy @ChristineWanjau @albertofori @avanigupta @mrm9084
/src/azure-cli/azure/cli/command_modules/appservice/ @NoriZC @yanzhudd @teresaritorto @panchagnula
/src/azure-cli/azure/cli/command_modules/aro/ @VeryEarly @Pan-Qi @jsntcy @bennerv @hawkowl @jewzaam @rogbas @necusjz
/src/azure-cli/azure/cli/command_modules/backup/ @NoriZC @yanzhudd @teresaritorto @dragonfly91 @akshayneema
/src/azure-cli/azure/cli/command_modules/batch/ @NoriZC @yanzhudd @teresaritorto @cRui861 @wanghoppe @dpwatrous @wiboris
/src/azure-cli/azure/cli/command_modules/batchai/ @VeryEarly @Pan-Qi @jsntcy @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/botservice/ @jsntcy @jiaxuwu2021 @luhan2017 @wangzelin007 @a0x1ab @coopercox-ms
/src/azure-cli/azure/cli/command_modules/cdn/ @necusjz @DanielMicrosoft @yonzhan @t-bzhan
/src/azure-cli/azure/cli/command_modules/cloud/ @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/consumption/ @VeryEarly @Pan-Qi @jsntcy @sandeepnl
/src/azure-cli/azure/cli/command_modules/container/ @NoriZC @yanzhudd @teresaritorto @joseph-porter
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @VeryEarly @Pan-Qi @jsntcy @dmakwana @kristynhamasaki @YangAn-microsoft
/src/azure-cli/azure/cli/command_modules/databoxedge/ @VeryEarly @Pan-Qi @jsntcy @YangAn-microsoft
/src/azure-cli/azure/cli/command_modules/dls/ @VeryEarly @Pan-Qi @jsntcy @akharit @rahuldutta90 @YangAn-microsoft
/src/azure-cli/azure/cli/command_modules/dms/ @VeryEarly @Pan-Qi @jsntcy @temandr @binuj @YangAn-microsoft
/src/azure-cli/azure/cli/command_modules/eventgrid/ @NoriZC @yanzhudd @teresaritorto @VidyaKukke
/src/azure-cli/azure/cli/command_modules/eventhubs/ @NoriZC @yanzhudd @teresaritorto @v-ajnava
/src/azure-cli/azure/cli/command_modules/extension/ @VeryEarly @Pan-Qi @jsntcy @YangAn-microsoft
/src/azure-cli/azure/cli/command_modules/feedback/ @VeryEarly @Pan-Qi @jsntcy
/src/azure-cli/azure/cli/command_modules/hdinsight/ @VeryEarly @Pan-Qi @jsntcy @aim-for-better
/src/azure-cli/azure/cli/command_modules/identity/ @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/iot/ @NoriZC @yanzhudd @teresaritorto @digimaun
/src/azure-cli/azure/cli/command_modules/keyvault/ @notyashhh @isra-fel @MaddyMicrosoft @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/monitor/ @NoriZC @yanzhudd @teresaritorto
/src/azure-cli/azure/cli/command_modules/mysql/ @VeryEarly @Pan-Qi @jsntcy @honghr @YangAn-microsoft
/src/azure-cli/azure/cli/command_modules/natgateway/ @necusjz @DanielMicrosoft @yonzhan @khannarheams
/src/azure-cli/azure/cli/command_modules/network/ @necusjz @DanielMicrosoft @yonzhan
/src/azure-cli/azure/cli/command_modules/policyinsights/ @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto @cheggert
/src/azure-cli/azure/cli/command_modules/postgresql/ @VeryEarly @Pan-Qi @jsntcy @arde0708 @YangAn-microsoft
/src/azure-cli/azure/cli/command_modules/privatedns/ @necusjz @DanielMicrosoft @yonzhan
/src/azure-cli/azure/cli/command_modules/profile/ @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/rdbms/ @VeryEarly @Pan-Qi @jsntcy @arde0708 @alanenriqueo @YangAn-microsoft
/src/azure-cli/azure/cli/command_modules/resource/ @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/role/ @isra-fel @MaddyMicrosoft @notyashhh @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/search/ @VeryEarly @Pan-Qi @jsntcy @huangbolun
/src/azure-cli/azure/cli/command_modules/servicebus/ @NoriZC @yanzhudd @teresaritorto @v-ajnava
/src/azure-cli/azure/cli/command_modules/serviceconnector/ @VeryEarly @Pan-Qi @jsntcy @yungezz @houk-ms @xfz11
/src/azure-cli/azure/cli/command_modules/servicefabric/ @NoriZC @yanzhudd @teresaritorto @QingChenmsft
/src/azure-cli/azure/cli/command_modules/sql/ @VeryEarly @Pan-Qi @jsntcy @jaredmoo @YangAn-microsoft
/src/azure-cli/azure/cli/command_modules/storage/ @VeryEarly @Pan-Qi @jsntcy @YangAn-microsoft
/src/azure-cli/azure/cli/command_modules/synapse/ @jsntcy @idear1203 @zesluo @wangzelin007 @a0x1ab @coopercox-ms
/src/azure-cli/azure/cli/command_modules/util/ @naga-nandyala @yonzhan @wangzelin007
/src/azure-cli/azure/cli/command_modules/vm/ @NoriZC @yanzhudd @teresaritorto @Drewm3 @TravisCragg-MSFT @nikhilpatel909 @sandeepraichura @hilaryw29 @GabstaMSFT @ramankumarlive @ushnaarshadkhan
/src/azure-cli/azure/cli/command_modules/containerapp/ @NoriZC @yanzhudd @teresaritorto @ruslany @sanchitmehta @ebencarek @JennyLawrance @howang-ms @vinisoto @chinadragon0515 @vturecek @torosent @pagariyaalok @Juliehzl @jijohn14 @Greedygre @ShichaoQiu
