# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan
*help.yaml @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan
*help.yml @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan

/linter_exclusions.yml @naganandyala @YanaXu @yonzhan @wangzelin007 @bebound @jiasli

/doc/ @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan
/tools/ @naganandyala @YanaXu @yonzhan @wangzelin007 @bebound @jiasli
/tools/aaz-flow @a0x1ab @necusjz @yanzhudd @naganandyala
/scripts/ @naganandyala @YanaXu @yonzhan @wangzelin007 @bebound @jiasli
/scripts/live_test @naganandyala @YanaXu @yonzhan @wangzelin007 @bebound @jiasli
/src/azure-cli-testsdk/ @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan @bebound @jiasli

/src/azure-cli-core/ @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan @bebound @jiasli
/src/azure-cli-core/azure/cli/core/_profile.py @isra-fel @notyashhh @xuming-ms @teresaritorto
/src/azure-cli-core/azure/cli/core/auth/ @isra-fel @notyashhh @xuming-ms @teresaritorto
/src/azure-cli-core/azure/cli/core/extension/ @VeryEarly @Pan-Qi @jsntcy @necusjz
/src/azure-cli-core/azure/cli/core/style.py @NoriZC @yanzhudd @teresaritorto
/src/azure-cli-core/azure/cli/core/aaz/ @VeryEarly @Pan-Qi @jsntcy @necusjz

/src/azure-cli/ @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan @bebound @jiasli
/src/azure-cli/azure/cli/command_modules/acr/ @NoriZC @yanzhudd @teresaritorto @northtyphoon @rosanch
/src/azure-cli/azure/cli/command_modules/acs/ @NoriZC @yanzhudd @teresaritorto @zqingqing1 @gtracer @xizhamsft @andyliuliming @fumingzhang
/src/azure-cli/azure/cli/command_modules/advisor/ @VeryEarly @Pan-Qi @jsntcy @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/apim/ @NoriZC @yanzhudd @teresaritorto @kevinhillinger @jonlester
/src/azure-cli/azure/cli/command_modules/appconfig/ @VeryEarly @Pan-Qi @jsntcy @ChristineWanjau @albertofori @avanigupta @mrm9084
/src/azure-cli/azure/cli/command_modules/appservice/ @NoriZC @yanzhudd @teresaritorto @panchagnula
/src/azure-cli/azure/cli/command_modules/aro/ @VeryEarly @Pan-Qi @jsntcy @bennerv @hawkowl @jewzaam @rogbas @necusjz
/src/azure-cli/azure/cli/command_modules/backup/ @NoriZC @yanzhudd @teresaritorto @dragonfly91 @akshayneema
/src/azure-cli/azure/cli/command_modules/batch/ @NoriZC @yanzhudd @teresaritorto @cRui861 @wanghoppe @dpwatrous @wiboris
/src/azure-cli/azure/cli/command_modules/batchai/ @VeryEarly @Pan-Qi @jsntcy @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/botservice/ @VeryEarly @Pan-Qi @jsntcy @jiaxuwu2021 @luhan2017
/src/azure-cli/azure/cli/command_modules/cdn/ @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan @t-bzhan
/src/azure-cli/azure/cli/command_modules/cloud/ @isra-fel @notyashhh @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/consumption/ @VeryEarly @Pan-Qi @jsntcy @sandeepnl
/src/azure-cli/azure/cli/command_modules/container/ @NoriZC @yanzhudd @teresaritorto @joseph-porter
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @VeryEarly @Pan-Qi @jsntcy @dmakwana @kristynhamasaki
/src/azure-cli/azure/cli/command_modules/databoxedge/ @VeryEarly @Pan-Qi @jsntcy
/src/azure-cli/azure/cli/command_modules/dls/ @VeryEarly @Pan-Qi @jsntcy @akharit @rahuldutta90
/src/azure-cli/azure/cli/command_modules/dms/ @VeryEarly @Pan-Qi @jsntcy @temandr @binuj
/src/azure-cli/azure/cli/command_modules/eventgrid/ @VeryEarly @Pan-Qi @jsntcy @VidyaKukke
/src/azure-cli/azure/cli/command_modules/eventhubs/ @VeryEarly @Pan-Qi @jsntcy @v-ajnava @calvinhzy
/src/azure-cli/azure/cli/command_modules/extension/ @VeryEarly @Pan-Qi @jsntcy
/src/azure-cli/azure/cli/command_modules/feedback/ @VeryEarly @Pan-Qi @jsntcy
/src/azure-cli/azure/cli/command_modules/hdinsight/ @VeryEarly @Pan-Qi @jsntcy @aim-for-better
/src/azure-cli/azure/cli/command_modules/identity/ @isra-fel @notyashhh @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/iot/ @NoriZC @yanzhudd @teresaritorto @digimaun
/src/azure-cli/azure/cli/command_modules/keyvault/ @notyashhh @isra-fel @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/monitor/ @NoriZC @yanzhudd @teresaritorto
/src/azure-cli/azure/cli/command_modules/mysql/ @VeryEarly @Pan-Qi @calvinhzy @jsntcy @honghr
/src/azure-cli/azure/cli/command_modules/natgateway/ @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan @khannarheams
/src/azure-cli/azure/cli/command_modules/network/ @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan
/src/azure-cli/azure/cli/command_modules/policyinsights/ @isra-fel @notyashhh @xuming-ms @teresaritorto @cheggert
/src/azure-cli/azure/cli/command_modules/postgresql/ @VeryEarly @Pan-Qi @calvinhzy @jsntcy @arde0708
/src/azure-cli/azure/cli/command_modules/privatedns/ @necusjz @DanielMicrosoft @ReaNAiveD @yonzhan
/src/azure-cli/azure/cli/command_modules/profile/ @isra-fel @notyashhh @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/rdbms/ @VeryEarly @Pan-Qi @calvinhzy @jsntcy @arde0708 @alanenriqueo
/src/azure-cli/azure/cli/command_modules/resource/ @isra-fel @notyashhh @xuming-ms @teresaritorto @ReaNAiveD
/src/azure-cli/azure/cli/command_modules/role/ @isra-fel @notyashhh @xuming-ms @teresaritorto
/src/azure-cli/azure/cli/command_modules/search/ @VeryEarly @Pan-Qi @jsntcy @huangbolun
/src/azure-cli/azure/cli/command_modules/servicebus/ @NoriZC @yanzhudd @teresaritorto @v-ajnava
/src/azure-cli/azure/cli/command_modules/serviceconnector/ @VeryEarly @Pan-Qi @jsntcy @yungezz @houk-ms @xfz11
/src/azure-cli/azure/cli/command_modules/servicefabric/ @NoriZC @yanzhudd @teresaritorto @QingChenmsft
/src/azure-cli/azure/cli/command_modules/sql/ @VeryEarly @Pan-Qi @calvinhzy @jsntcy @jaredmoo
/src/azure-cli/azure/cli/command_modules/storage/ @VeryEarly @Pan-Qi @calvinhzy @jsntcy
/src/azure-cli/azure/cli/command_modules/synapse/ @VeryEarly @Pan-Qi @jsntcy @idear1203 @zesluo @calvinhzy
/src/azure-cli/azure/cli/command_modules/util/ @naganandyala @YanaXu @yonzhan @wangzelin007 @bebound @jiasli
/src/azure-cli/azure/cli/command_modules/vm/ @NoriZC @yanzhudd @teresaritorto @Drewm3 @TravisCragg-MSFT @nikhilpatel909 @sandeepraichura @hilaryw29 @GabstaMSFT @ramankumarlive @ushnaarshadkhan
/src/azure-cli/azure/cli/command_modules/containerapp/ @NoriZC @yanzhudd @teresaritorto @ruslany @sanchitmehta @ebencarek @JennyLawrance @howang-ms @vinisoto @chinadragon0515 @vturecek @torosent @pagariyaalok @Juliehzl @jijohn14 @Greedygre @ShichaoQiu
