# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @Juliehzl
*help.yaml @Juliehzl
*help.yml  @Juliehzl

/tools/ @zikalino
/scripts/ @zikalino
/src/azure-cli-testsdk/ @zikalino
/src/azure-cli-core/ @yugangw-msft
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @bgklein
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @samkreter
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-dls/ @lewu-msft
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @zikalino
/src/command_modules/azure-cli-keyvault/ @jiasli
/src/command_modules/azure-cli-monitor/ @MyronFanQiu
/src/command_modules/azure-cli-natgateway/ @khannarheams
/src/command_modules/azure-cli-network/ @MyronFanQiu
/src/command_modules/azure-cli-policyinsights/ @cheggert
/src/command_modules/azure-cli-profile/ @Juliehzl
/src/command_modules/azure-cli-resource/ @Juliehzl
/src/command_modules/azure-cli-role/ @jiasli
/src/command_modules/azure-cli-storage/ @Juliehzl
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @qwordy
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/apim/ @kevinhillinger @jonlester
