interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli7/providers/Microsoft.ServiceFabric/clusters/sfcli7?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters\",\r\n  \"\
        location\": \"westus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sfcli7/providers/Microsoft.ServiceFabric/clusters/sfcli7\"\
        ,\r\n  \"name\": \"sfcli7\",\r\n  \"tags\": {\r\n    \"resourceType\": \"\
        Service Fabric\",\r\n    \"clusterName\": \"sfcli7\"\r\n  },\r\n  \"etag\"\
        : \"W/\\\"636392765892447428\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"clusterId\": \"f0d19091-ebea-4451-a286-cb53a7e86b57\"\
        ,\r\n    \"clusterCodeVersion\": \"5.7.198.9494\",\r\n    \"clusterState\"\
        : \"Ready\",\r\n    \"managementEndpoint\": \"https://sfcli7.westus.cloudapp.azure.com:19080\"\
        ,\r\n    \"clusterEndpoint\": \"https://westus.servicefabric.azure.com/runtime/clusters/f0d19091-ebea-4451-a286-cb53a7e86b57\"\
        ,\r\n    \"certificate\": {\r\n      \"thumbprint\": \"2BD8C05E9F256CFFB91CBCC30CC8577CD6206965\"\
        ,\r\n      \"x509StoreName\": \"My\"\r\n    },\r\n    \"clientCertificateThumbprints\"\
        : [],\r\n    \"clientCertificateCommonNames\": [],\r\n    \"fabricSettings\"\
        : [\r\n      {\r\n        \"name\": \"Security\",\r\n        \"parameters\"\
        : [\r\n          {\r\n            \"name\": \"ClusterProtectionLevel\",\r\n\
        \            \"value\": \"EncryptAndSign\"\r\n          }\r\n        ]\r\n\
        \      }\r\n    ],\r\n    \"upgradeDescription\": {\r\n      \"overrideUserUpgradePolicy\"\
        : false,\r\n      \"forceRestart\": false,\r\n      \"upgradeReplicaSetCheckTimeout\"\
        : \"05:00:00\",\r\n      \"healthCheckWaitDuration\": \"00:00:02\",\r\n  \
        \    \"healthCheckStableDuration\": \"00:00:02\",\r\n      \"healthCheckRetryTimeout\"\
        : \"00:00:02\",\r\n      \"upgradeTimeout\": \"06:00:00\",\r\n      \"upgradeDomainTimeout\"\
        : \"02:00:00\"\r\n    },\r\n    \"diagnosticsStorageAccountConfig\": {\r\n\
        \      \"storageAccountName\": \"vdq75fhr3kbn22\",\r\n      \"protectedAccountKeyName\"\
        : \"StorageAccountKey1\",\r\n      \"blobEndpoint\": \"https://vdq75fhr3kbn22.blob.core.windows.net/\"\
        ,\r\n      \"queueEndpoint\": \"https://vdq75fhr3kbn22.queue.core.windows.net/\"\
        ,\r\n      \"tableEndpoint\": \"https://vdq75fhr3kbn22.table.core.windows.net/\"\
        \r\n    },\r\n    \"nodeTypes\": [\r\n      {\r\n        \"name\": \"nt1vm\"\
        ,\r\n        \"clientConnectionEndpointPort\": 19000,\r\n        \"httpGatewayEndpointPort\"\
        : 19080,\r\n        \"applicationPorts\": {\r\n          \"startPort\": 20000,\r\
        \n          \"endPort\": 30000\r\n        },\r\n        \"ephemeralPorts\"\
        : {\r\n          \"startPort\": 49152,\r\n          \"endPort\": 65534\r\n\
        \        },\r\n        \"isPrimary\": true,\r\n        \"vmInstanceCount\"\
        : 1,\r\n        \"durabilityLevel\": \"Bronze\"\r\n      }\r\n    ],\r\n \
        \   \"vmImage\": \"Windows\",\r\n    \"reliabilityLevel\": \"None\",\r\n \
        \   \"upgradeMode\": \"Automatic\",\r\n    \"availableClusterVersions\": [\r\
        \n      {\r\n        \"codeVersion\": \"5.7.198.9494\",\r\n        \"supportExpiryUtc\"\
        : \"9999-12-31T23:59:59.9999999\",\r\n        \"environment\": \"Windows\"\
        \r\n      },\r\n      {\r\n        \"codeVersion\": \"5.7.207.9494\",\r\n\
        \        \"supportExpiryUtc\": \"9999-12-31T23:59:59.9999999\",\r\n      \
        \  \"environment\": \"Windows\"\r\n      }\r\n    ]\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli7/providers/Microsoft.Compute/virtualMachineScaleSets/nt1vm?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D2_V2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\"\
        : {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"nt1vm\"\
        ,\r\n        \"adminUsername\": \"adminuser\",\r\n        \"windowsConfiguration\"\
        : {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\"\
        : true\r\n        },\r\n        \"secrets\": [\r\n          {\r\n        \
        \    \"sourceVault\": {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.KeyVault/vaults/sfcli4\"\
        \r\n            },\r\n            \"vaultCertificates\": [\r\n           \
        \   {\r\n                \"certificateUrl\": \"https://sfcli4.vault.azure.net/secrets/sfcli4201708250843/2b9981be18164360a21e6face7b67a77\"\
        ,\r\n                \"certificateStore\": \"My\"\r\n              }\r\n \
        \           ]\r\n          }\r\n        ]\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"vhdContainers\": [\r\n       \
        \     \"https://vdq75fhr3kbn2100.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://vdq75fhr3kbn2101.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://vdq75fhr3kbn2102.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://vdq75fhr3kbn2103.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://vdq75fhr3kbn2104.blob.core.windows.net/vhds\"\r\n        \
        \  ],\r\n          \"name\": \"vmssosdisk\",\r\n          \"createOption\"\
        : \"FromImage\",\r\n          \"caching\": \"ReadOnly\"\r\n        },\r\n\
        \        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\"\
        ,\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2016-Datacenter\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"NIC-0\"\
        ,\"properties\":{\"primary\":true,\"ipConfigurations\":[{\"name\":\"NIC-0\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli7/providers/Microsoft.Network/virtualNetworks/VNet/subnets/Subnet-0\"\
        },\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli7/providers/Microsoft.Network/loadBalancers/LB-sfcli7-nt1vm/backendAddressPools/LoadBalancerBEAddressPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli7/providers/Microsoft.Network/loadBalancers/LB-sfcli7-nt1vm/inboundNatPools/LoadBalancerBEAddressNatPool\"\
        }]}}]}}]},\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\
        \n          {\r\n            \"properties\": {\r\n              \"publisher\"\
        : \"Microsoft.Azure.ServiceFabric\",\r\n              \"type\": \"ServiceFabricNode\"\
        ,\r\n              \"typeHandlerVersion\": \"1.0\",\r\n              \"autoUpgradeMinorVersion\"\
        : false,\r\n              \"settings\": {\"clusterEndpoint\":\"https://westus.servicefabric.azure.com/runtime/clusters/f0d19091-ebea-4451-a286-cb53a7e86b57\"\
        ,\"nodeTypeRef\":\"nt1vm\",\"dataPath\":\"D:\\\\\\\\SvcFab\",\"durabilityLevel\"\
        :\"Bronze\",\"nicPrefixOverride\":\"10.0.0.0/24\",\"certificate\":{\"thumbprint\"\
        :\"2BD8C05E9F256CFFB91CBCC30CC8577CD6206965\",\"x509StoreName\":\"My\"}}\r\
        \n            },\r\n            \"name\": \"ServiceFabricNodeVmExt_vmNodeType0Name\"\
        \r\n          },\r\n          {\r\n            \"properties\": {\r\n     \
        \         \"publisher\": \"Microsoft.Azure.Diagnostics\",\r\n            \
        \  \"type\": \"IaaSDiagnostics\",\r\n              \"typeHandlerVersion\"\
        : \"1.5\",\r\n              \"autoUpgradeMinorVersion\": true,\r\n       \
        \       \"settings\": {\"WadCfg\":{\"DiagnosticMonitorConfiguration\":{\"\
        overallQuotaInMB\":\"50000\",\"EtwProviders\":{\"EtwEventSourceProviderConfiguration\"\
        :[{\"provider\":\"Microsoft-ServiceFabric-Actors\",\"scheduledTransferKeywordFilter\"\
        :\"1\",\"scheduledTransferPeriod\":\"PT5M\",\"DefaultEvents\":{\"eventDestination\"\
        :\"ServiceFabricReliableActorEventTable\"}},{\"provider\":\"Microsoft-ServiceFabric-Services\"\
        ,\"scheduledTransferPeriod\":\"PT5M\",\"DefaultEvents\":{\"eventDestination\"\
        :\"ServiceFabricReliableServiceEventTable\"}}],\"EtwManifestProviderConfiguration\"\
        :[{\"provider\":\"cbd93bc2-71e5-4566-b3a7-595d8eeca6e8\",\"scheduledTransferLogLevelFilter\"\
        :\"Information\",\"scheduledTransferKeywordFilter\":\"4611686018427387904\"\
        ,\"scheduledTransferPeriod\":\"PT5M\",\"DefaultEvents\":{\"eventDestination\"\
        :\"ServiceFabricSystemEventTable\"}}]}}},\"StorageAccount\":\"vdq75fhr3kbn23\"\
        }\r\n            },\r\n            \"name\": \"VMDiagnosticsVmExt_vmNodeType0Name\"\
        \r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"overprovision\": false,\r\n    \"uniqueId\": \"\
        ce2dc164-8cb6-400e-829e-4f7b4e0f7e3c\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"resourceType\"\
        : \"Service Fabric\",\r\n    \"clusterName\": \"sfcli7\"\r\n  },\r\n  \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli7/providers/Microsoft.Compute/virtualMachineScaleSets/nt1vm\"\
        ,\r\n  \"name\": \"nt1vm\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "tags": {"resourceType": "Service Fabric", "clusterName":
      "sfcli7"}, "sku": {"name": "Standard_D2_V2", "tier": "Standard", "capacity":
      2}, "properties": {"upgradePolicy": {"mode": "Automatic"}, "virtualMachineProfile":
      {"osProfile": {"computerNamePrefix": "nt1vm", "adminUsername": "adminuser",
      "windowsConfiguration": {"provisionVMAgent": true, "enableAutomaticUpdates":
      true}, "secrets": [{"sourceVault": {"id": "/subscriptions/13ad2c84-84fa-4798-ad71-e70c07af873f/resourceGroups/sfcli4/providers/Microsoft.KeyVault/vaults/sfcli4"},
      "vaultCertificates": [{"certificateUrl": "https://sfcli4.vault.azure.net/secrets/sfcli4201708250843/2b9981be18164360a21e6face7b67a77",
      "certificateStore": "My"}]}]}, "storageProfile": {"imageReference": {"publisher":
      "MicrosoftWindowsServer", "offer": "WindowsServer", "sku": "2016-Datacenter",
      "version": "latest"}, "osDisk": {"name": "vmssosdisk", "caching": "ReadOnly",
      "createOption": "fromImage", "vhdContainers": ["https://vdq75fhr3kbn2100.blob.core.windows.net/vhds",
      "https://vdq75fhr3kbn2101.blob.core.windows.net/vhds", "https://vdq75fhr3kbn2102.blob.core.windows.net/vhds",
      "https://vdq75fhr3kbn2103.blob.core.windows.net/vhds", "https://vdq75fhr3kbn2104.blob.core.windows.net/vhds"]}},
      "networkProfile": {"networkInterfaceConfigurations": [{"name": "NIC-0", "properties":
      {"primary": true, "ipConfigurations": [{"name": "NIC-0", "properties": {"subnet":
      {"id": "/subscriptions/13ad2c84-84fa-4798-ad71-e70c07af873f/resourceGroups/sfcli7/providers/Microsoft.Network/virtualNetworks/VNet/subnets/Subnet-0"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/13ad2c84-84fa-4798-ad71-e70c07af873f/resourceGroups/sfcli7/providers/Microsoft.Network/loadBalancers/LB-sfcli7-nt1vm/back[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/13414d73-896d-4188-9d62-480642a529d1?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-08-25T19:13:28.0189593+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"13414d73-896d-4188-9d62-480642a529d1\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/13414d73-896d-4188-9d62-480642a529d1?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-08-25T19:13:28.0189593+00:00\",\r\
        \n  \"endTime\": \"2017-08-25T19:20:20.1843594+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"13414d73-896d-4188-9d62-480642a529d1\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"nodeTypes": [{"name": "nt1vm", "clientConnectionEndpointPort":
      19000, "httpGatewayEndpointPort": 19080, "durabilityLevel": "Bronze", "applicationPorts":
      {"startPort": 20000, "endPort": 30000}, "ephemeralPorts": {"startPort": 49152,
      "endPort": 65534}, "isPrimary": true, "vmInstanceCount": 2}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli7/providers/Microsoft.ServiceFabric/clusters/sfcli7?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters\",\r\n  \"\
        location\": \"westus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sfcli7/providers/Microsoft.ServiceFabric/clusters/sfcli7\"\
        ,\r\n  \"name\": \"sfcli7\",\r\n  \"tags\": {},\r\n  \"etag\": \"W/\\\"636392765892447429\\\
        \"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\
        \n    \"clusterId\": \"f0d19091-ebea-4451-a286-cb53a7e86b57\",\r\n    \"clusterCodeVersion\"\
        : \"5.7.198.9494\",\r\n    \"clusterState\": \"UpdatingUserConfiguration\"\
        ,\r\n    \"managementEndpoint\": \"https://sfcli7.westus.cloudapp.azure.com:19080\"\
        ,\r\n    \"clusterEndpoint\": \"https://westus.servicefabric.azure.com/runtime/clusters/f0d19091-ebea-4451-a286-cb53a7e86b57\"\
        ,\r\n    \"certificate\": {\r\n      \"thumbprint\": \"2BD8C05E9F256CFFB91CBCC30CC8577CD6206965\"\
        ,\r\n      \"x509StoreName\": \"My\"\r\n    },\r\n    \"clientCertificateThumbprints\"\
        : [],\r\n    \"clientCertifi[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/operations/924c9550-b10a-470f-8c8d-70695e7cc88d?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/operations/924c9550-b10a-470f-8c8d-70695e7cc88d\"\
        ,\r\n  \"name\": \"924c9550-b10a-470f-8c8d-70695e7cc88d\",\r\n  \"status\"\
        : \"Created\",\r\n  \"startTime\": \"2017-08-25T19:20:33.9572487Z\",\r\n \
        \ \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 0.0\r\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
