interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2/providers/Microsoft.ServiceFabric/clusters/sfcli2?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters\",\r\n  \"\
        location\": \"westus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sfcli2/providers/Microsoft.ServiceFabric/clusters/sfcli2\"\
        ,\r\n  \"name\": \"sfcli2\",\r\n  \"tags\": {},\r\n  \"etag\": \"W/\\\"636392725196066892\\\
        \"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\
        \n    \"clusterId\": \"d4d7cd10-1fca-4dd8-b79a-8dd1f5830fe1\",\r\n    \"clusterCodeVersion\"\
        : \"5.7.198.9494\",\r\n    \"clusterState\": \"Ready\",\r\n    \"managementEndpoint\"\
        : \"https://sfcli2.westus.cloudapp.azure.com:19080\",\r\n    \"clusterEndpoint\"\
        : \"https://westus.servicefabric.azure.com/runtime/clusters/d4d7cd10-1fca-4dd8-b79a-8dd1f5830fe1\"\
        ,\r\n    \"certificate\": {\r\n      \"thumbprint\": \"969A606AB747CF530FE7982E80A24CF2D07530BC\"\
        ,\r\n      \"x509StoreName\": \"My\"\r\n    },\r\n    \"clientCertificateThumbprints\"\
        : [],\r\n    \"clientCertificateCommonNames\": [],\r\n    \"fabricSettings\"\
        : [\r\n      {\r\n        \"name\": \"Security\",\r\n        \"parameters\"\
        : [\r\n          {\r\n            \"name\": \"ClusterProtectionLevel\",\r\n\
        \            \"value\": \"EncryptAndSign\"\r\n          }\r\n        ]\r\n\
        \      }\r\n    ],\r\n    \"upgradeDescription\": {\r\n      \"overrideUserUpgradePolicy\"\
        : false,\r\n      \"forceRestart\": false,\r\n      \"upgradeReplicaSetCheckTimeout\"\
        : \"05:00:00\",\r\n      \"healthCheckWaitDuration\": \"00:00:02\",\r\n  \
        \    \"healthCheckStableDuration\": \"00:00:02\",\r\n      \"healthCheckRetryTimeout\"\
        : \"00:00:02\",\r\n      \"upgradeTimeout\": \"06:00:00\",\r\n      \"upgradeDomainTimeout\"\
        : \"02:00:00\"\r\n    },\r\n    \"diagnosticsStorageAccountConfig\": {\r\n\
        \      \"storageAccountName\": \"s33gmaedsdirg2\",\r\n      \"protectedAccountKeyName\"\
        : \"StorageAccountKey1\",\r\n      \"blobEndpoint\": \"https://s33gmaedsdirg2.blob.core.windows.net/\"\
        ,\r\n      \"queueEndpoint\": \"https://s33gmaedsdirg2.queue.core.windows.net/\"\
        ,\r\n      \"tableEndpoint\": \"https://s33gmaedsdirg2.table.core.windows.net/\"\
        \r\n    },\r\n    \"nodeTypes\": [\r\n      {\r\n        \"name\": \"nt1vm\"\
        ,\r\n        \"clientConnectionEndpointPort\": 19000,\r\n        \"httpGatewayEndpointPort\"\
        : 19080,\r\n        \"applicationPorts\": {\r\n          \"startPort\": 20000,\r\
        \n          \"endPort\": 30000\r\n        },\r\n        \"ephemeralPorts\"\
        : {\r\n          \"startPort\": 49152,\r\n          \"endPort\": 65534\r\n\
        \        },\r\n        \"isPrimary\": true,\r\n        \"vmInstanceCount\"\
        : 1,\r\n        \"durabilityLevel\": \"Bronze\"\r\n      }\r\n    ],\r\n \
        \   \"vmImage\": \"Windows\",\r\n    \"reliabilityLevel\": \"None\",\r\n \
        \   \"upgradeMode\": \"Automatic\",\r\n    \"availableClusterVersions\": [\r\
        \n      {\r\n        \"codeVersion\": \"5.7.198.9494\",\r\n        \"supportExpiryUtc\"\
        : \"9999-12-31T23:59:59.9999999\",\r\n        \"environment\": \"Windows\"\
        \r\n      },\r\n      {\r\n        \"codeVersion\": \"5.7.207.9494\",\r\n\
        \        \"supportExpiryUtc\": \"9999-12-31T23:59:59.9999999\",\r\n      \
        \  \"environment\": \"Windows\"\r\n      }\r\n    ]\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"fabricSettings": [{"name": "Security", "parameters": [{"name":
      "ClusterProtectionLevel", "value": "EncryptAndSign"}]}, {"name": "NamingService",
      "parameters": [{"name": "MaxOperationTimeout", "value": "10001"}]}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2/providers/Microsoft.ServiceFabric/clusters/sfcli2?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters\",\r\n  \"\
        location\": \"westus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sfcli2/providers/Microsoft.ServiceFabric/clusters/sfcli2\"\
        ,\r\n  \"name\": \"sfcli2\",\r\n  \"tags\": {},\r\n  \"etag\": \"W/\\\"636392725196066893\\\
        \"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\
        \n    \"clusterId\": \"d4d7cd10-1fca-4dd8-b79a-8dd1f5830fe1\",\r\n    \"clusterCodeVersion\"\
        : \"5.7.198.9494\",\r\n    \"clusterState\": \"UpdatingUserConfiguration\"\
        ,\r\n    \"managementEndpoint\": \"https://sfcli2.westus.cloudapp.azure.com:19080\"\
        ,\r\n    \"clusterEndpoint\": \"https://westus.servicefabric.azure.com/runtime/clusters/d4d7cd10-1fca-4dd8-b79a-8dd1f5830fe1\"\
        ,\r\n    \"certificate\": {\r\n      \"thumbprint\": \"969A606AB747CF530FE7982E80A24CF2D07530BC\"\
        ,\r\n      \"x509StoreName\": \"My\"\r\n    },\r\n    \"clientCertificateThumbprints\"\
        : [],\r\n    \"clientCertificateCommonNames\": [],\r\n    \"fabricSettings\"\
        : [\r\n      {\r\n        \"name\": \"Security\",\r\n        \"parameters\"\
        : [\r\n          {\[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/operations/c03d641c-c3ee-431f-ba99-7c24401cf56e?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/operations/c03d641c-c3ee-431f-ba99-7c24401cf56e\"\
        ,\r\n  \"name\": \"c03d641c-c3ee-431f-ba99-7c24401cf56e\",\r\n  \"status\"\
        : \"Created\",\r\n  \"startTime\": \"2017-08-25T16:06:39.9361819Z\",\r\n \
        \ \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 0.0\r\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sfcli2?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2","name":"sfcli2","location":"westus","tags":{"ResourceManagerId":"5c001004-3032-4e94-a064-d21f17c42e45"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ea2e1d7-fd22-4d31-825a-ec42a4a26a16","deletionTimestamp":null,"accountEnabled":true,"assignedLicenses":[{"disabledPlans":["2e2ddb96-6af9-4b1d-a3f0-d6ecfd22edb2","5689bec4-755d-4753-8b61-40975025187c","6c57d4b6-3b23-47a5-9bc9-69f17b4947b3","bea4c11e-220a-4e6d-8eb8-8ea15d019f90"],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":[],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":[],"skuId":"1f2f344a-700d-42c9-9427-5cea1d5d7ba6"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"},{"disabledPlans":["e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"f82a60b8-1ee3-4cfb-a4fe-1c6a53c2656c"},{"disabledPlans":[],"skuId":"078d2b04-f1bd-4111-bbd4-b4b1b354cef4"},{"disabledPlans":[],"skuId":"c52ea49f-fe5d-4e95-93ba-1de91d380f89"}],"assignedPlans":[{"assignedTimestamp":"2017-08-14T00:38:52Z","capabilityStatus":"Enabled","service":"RMSOnline","servicePlanId":"bea4c11e-220a-4e6d-8eb8-8ea15d019f90"},{"assignedTimestamp":"2017-08-14T00:38:52Z","capabilityStatus":"Enabled","service":"OfficeForms","servicePlanId":"e212cbc7-0961-4c40-9825-01117710dcb1"},{"assignedTimestamp":"2017-08-14T00:38:52Z","capabilityStatus":"Enabled","service":"RMSOnline","servicePlanId":"6c57d4b6-3b23-47a5-9bc9-69f17b4947b3"},{"assignedTimestamp":"2017-08-14T00:38:52Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"as[...]
- request:
    body: '{"location": "westus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "9ea2e1d7-fd22-4d31-825a-ec42a4a26a16",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore"], "secrets": ["get", "list", "set", "delete", "backup",
      "restore", "recover"], "certificates": ["get", "list", "delete", "create", "import",
      "update", "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"]}}], "enabledForDeployment": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2/providers/Microsoft.KeyVault/vaults/sfcli2?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2/providers/Microsoft.KeyVault/vaults/sfcli2","name":"sfcli2","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"9ea2e1d7-fd22-4d31-825a-ec42a4a26a16","permissions":{"keys":["get","create","delete","list","update","import","backup","restore"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"]}}],"enabledForDeployment":true,"vaultUri":"https://sfcli2.vault.azure.net/"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=test2.com", "key_usage": ["cRLSign", "dataEncipherment",
      "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"], "validity_months":
      12}, "lifetime_actions": [{"trigger": {"days_before_expiry": 90}, "action":
      {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}, "attributes": {"enabled":
      true}}, "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/create?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      WWW-Authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=test2.com", "key_usage": ["cRLSign", "dataEncipherment",
      "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"], "validity_months":
      12}, "lifetime_actions": [{"trigger": {"days_before_expiry": 90}, "action":
      {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}, "attributes": {"enabled":
      true}}, "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/create?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/pending","issuer":{"name":"Self"},"csr":"MIICpDCCAYwCAQAwFDESMBAGA1UEAxMJdGVzdDIuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmzT3IJjacr6qRwmndPwukDb5dBFlL+hBCLzfKnwU68J7iafgtZmtrRZ9B2FfbRe0+SMbvTS+prqg06GE6HwooS9C6+re+EutnHvrw8/jOIb2h0OaZBIKqtoyWAlDKDWnLhhDKWoJU7TEDkw3qQAwrWtHO+XnXAjHzkM7hT/8Fkdd9KidmDTFyaMY5Vbu92WFju/H6dfISBHUKv/iwRqwRXHKBm7mDzQBYoNOCbyRfo+EePrGbk9d7MtXqpwQ5fm94J1wQjeh5f++lhVqm7l8zT2JdNKBbljobKcTBGxRCVWQ0AWRCXVV52sYwmjaLQIf2p5Ci5kxUYPXJXfsA6yNdQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCAb4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAC3lcCSmNtFe5OrHQSbCzWfuL/DAlnfJDnR+YMw8x7LSRYLsSBzdRJes7fUcfCxUUdq1g5gsfZ6hRrVuPZeOgWDknXBYD/OZagX1piAOTIRMV4YJyKvlAKPmw8xwFKMW9Nm9cr5FnnHCVcStIKoeuvpBU6FweU4HdNHJvqvUwu7/atUIe30lsk6nFxNZiZzfILr6RNlhrC6i5BWm7uq7NUKF5/WO7uxT7fZBYDErbT6cwOU3tW9uQQ1wgFD/2F+wDdl6KSZieyYGokCVdvK8w3n0Jwfwd0r8aixsEfVBvowcpg6BnHw/0NTyXhvLEANxxccA/94Qacrxajakw5ZxOR8=","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"c4f5cab44b254c599caf13176ff1af15"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/pending?api-version=2016-10-01&request_id=c4f5cab44b254c599caf13176ff1af15']
      Retry-After: ['10']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/pending","issuer":{"name":"Self"},"csr":"MIICpDCCAYwCAQAwFDESMBAGA1UEAxMJdGVzdDIuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmzT3IJjacr6qRwmndPwukDb5dBFlL+hBCLzfKnwU68J7iafgtZmtrRZ9B[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/pending","issuer":{"name":"Self"},"csr":"MIICpDCCAYwCAQAwFDESMBAGA1UEAxMJdGVzdDIuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmzT3IJjacr6qRwmndPwukDb5dBFlL+hBCLzfKnwU68J7iafgtZmtrRZ9B2FfbRe0+SMbvTS+prqg06GE6HwooS9C6+re+EutnHvrw8/jOIb2h0OaZBIKqtoyWAlDKDWnLhhDKWoJU7TEDkw3qQAwrWtHO+XnXAjHzkM7hT/8Fkdd9KidmDTFyaMY5Vbu92WFju/H6dfISBHUKv/iwRqwRXHKBm7mDzQBYoNOCbyRfo+EePrGbk9d7MtXqpwQ5fm94J1wQjeh5f++lhVqm7l8zT2JdNKBbljobKcTBGxRCVWQ0AWRCXVV52sYwmjaLQIf2p5Ci5kxUYPXJXfsA6yNdQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCAb4wHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAC3lcCSmNtFe5OrHQSbCzWfuL/DAlnfJDnR+YMw8x7LSRYLsSBzdRJes7fUcfCxUUdq1g5gsfZ6hRrVuPZeOgWDknXBYD/OZagX1piAOTIRMV4YJyKvlAKPmw8xwFKMW9Nm9cr5FnnHCVcStIKoeuvpBU6FweU4HdNHJvqvUwu7/atUIe30lsk6nFxNZiZzfILr6RNlhrC6i5BWm7uq7NUKF5/WO7uxT7fZBYDErbT6cwOU3tW9uQQ1wgFD/2F+wDdl6KSZieyYGokCVdvK8w3n0Jwfwd0r8aixsEfVBvowcpg6BnHw/0NTyXhvLEANxxccA/94Qacrxajakw5ZxOR8=","cancellation_requested":false,"status":"completed","target":"https://sfcli2.vault.azure.net/certificates/sfcli2201708250913","request_id":"c4f5cab44b254c599caf13176ff1af15"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/02c75fa04ac74e66bf3298b43c6b83f7","kid":"https://sfcli2.vault.azure.net/keys/sfcli2201708250913/02c75fa04ac74e66bf3298b43c6b83f7","sid":"https://sfcli2.vault.azure.net/secrets/sfcli2201708250913/02c75fa04ac74e66bf3298b43c6b83f7","x5t":"2ZbU5109N-qy9xt3n7ahCxy93ig","cer":"MIIDLjCCAhagAwIBAgIQbDF7i+4jTY+5JK7dhttLozANBgkqhkiG9w0BAQsFADAUMRIwEAYDVQQDEwl0ZXN0Mi5jb20wHhcNMTcwODI1MTYwMzQyWhcNMTgwODI1MTYxMzQyWjAUMRIwEAYDVQQDEwl0ZXN0Mi5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCbNPcgmNpyvqpHCad0/C6QNvl0EWUv6EEIvN8qfBTrwnuJp+C1ma2tFn0HYV9tF7T5Ixu9NL6muqDToYTofCihL0Lr6t74S62ce+vDz+M4hvaHQ5pkEgqq2jJYCUMoNacuGEMpaglTtMQOTDepADCta0c75edcCMfOQzuFP/wWR130qJ2YNMXJoxjlVu73ZYWO78fp18hIEdQq/+LBGrBFccoGbuYPNAFig04JvJF+j4R4+sZuT13sy1eqnBDl+b3gnXBCN6Hl/76WFWqbuXzNPYl00oFuWOhspxMEbFEJVZDQBZEJdVXnaxjCaNotAh/ankKLmTFRg9cld+wDrI11AgMBAAGjfDB6MA4GA1UdDwEB/wQEAwIBvjAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBQUGTJvd/eu3zFcZ2XnwkUy59LA/zAdBgNVHQ4EFgQUFBkyb3f3rt8xXGdl58JFMufSwP8wDQYJKoZIhvcNAQELBQADggEBAExJ80usbyaYAChhq1dzkw+3lkptNaa8HVJ45iaIAqkQHKAlRp123gCcnTFSs0WZ9he3jUkwls8WYSZPNCgNFqWJw9zvZcCeAw4+xP48wMd/CyXvpgTiyPrCQToSlx8wTlikeXgrC09qUD1svGskSZh6pgSNvBClBPehrj7ABZmsFmR56vL9EXyzdyE37QUuHmuF2tw5DRRSB8ch8cGVFSlIZaaeIfiQ9g8gkiFpl9r+BGz/2UxLnpR6aMg/qcSN0iYcmoUvExvq7tDDahExrJlNfe3Uw6Q/MmDaUtbmY+AcbTnCK9HtcYxl4eHjNJ/87TJAwmRPYWMtNdOmW3Iby1E=","attributes":{"enabled":true,"nbf":1503677022,"exp":1535213622,"created":1503677622,"updated":1503677622,"recoveryLevel":"Purgeable"},"policy":{"id":"https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=test2.com","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1503677612,"updated":1503677612}},"pending":{"id":"https://sfcli2.vault.azure.net/certificates/sfcli2201708250913/pending"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2/providers/Microsoft.Compute/virtualMachineScaleSets?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"\
        name\": \"Standard_D2_V2\",\r\n        \"tier\": \"Standard\",\r\n       \
        \ \"capacity\": 1\r\n      },\r\n      \"properties\": {\r\n        \"singlePlacementGroup\"\
        : true,\r\n        \"upgradePolicy\": {\r\n          \"mode\": \"Automatic\"\
        \r\n        },\r\n        \"virtualMachineProfile\": {\r\n          \"osProfile\"\
        : {\r\n            \"computerNamePrefix\": \"nt1vm\",\r\n            \"adminUsername\"\
        : \"adminuser\",\r\n            \"windowsConfiguration\": {\r\n          \
        \    \"provisionVMAgent\": true,\r\n              \"enableAutomaticUpdates\"\
        : true\r\n            },\r\n            \"secrets\": [\r\n              {\r\
        \n                \"sourceVault\": {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2/providers/Microsoft.KeyVault/vaults/sfcli2\"\
        \r\n                },\r\n                \"vaultCertificates\": [\r\n   \
        \               {\r\n                    \"certificateUrl\": \"https://sfcli2.vault.azure.net/secrets/sfcli2201708250841/f34390adff444b6887d8e2b0126cc495\"\
        ,\r\n                    \"certificateStore\": \"My\"\r\n                \
        \  }\r\n                ]\r\n              }\r\n            ]\r\n        \
        \  },\r\n          \"storageProfile\": {\r\n            \"osDisk\": {\r\n\
        \              \"vhdContainers\": [\r\n                \"https://s33gmaedsdirg100.blob.core.windows.net/vhds\"\
        ,\r\n                \"https://s33gmaedsdirg101.blob.core.windows.net/vhds\"\
        ,\r\n                \"https://s33gmaedsdirg102.blob.core.windows.net/vhds\"\
        ,\r\n                \"https://s33gmaedsdirg103.blob.core.windows.net/vhds\"\
        ,\r\n                \"https://s33gmaedsdirg104.blob.core.windows.net/vhds\"\
        \r\n              ],\r\n              \"name\": \"vmssosdisk\",\r\n      \
        \        \"createOption\": \"FromImage\",\r\n              \"caching\": \"\
        ReadOnly\"\r\n            },\r\n            \"imageReference\": {\r\n    \
        \          \"publisher\": \"MicrosoftWindowsServer\",\r\n              \"\
        offer\": \"WindowsServer\",\r\n              \"sku\": \"2016-Datacenter\"\
        ,\r\n              \"version\": \"latest\"\r\n            }\r\n          },\r\
        \n          \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\"\
        :\"NIC-0\",\"properties\":{\"primary\":true,\"ipConfigurations\":[{\"name\"\
        :\"NIC-0\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2/providers/Microsoft.Network/virtualNetworks/VNet/subnets/Subnet-0\"\
        },\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2/providers/Microsoft.Network/loadBalancers/LB-sfcli2-nt1vm/backendAddressPools/LoadBalancerBEAddressPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2/providers/Microsoft.Network/loadBalancers/LB-sfcli2-nt1vm/inboundNatPools/LoadBalancerBEAddressNatPool\"\
        }]}}]}}]},\r\n          \"extensionProfile\": {\r\n            \"extensions\"\
        : [\r\n              {\r\n                \"properties\": {\r\n          \
        \        \"publisher\": \"Microsoft.Azure.ServiceFabric\",\r\n           \
        \       \"type\": \"ServiceFabricNode\",\r\n                  \"typeHandlerVersion\"\
        : \"1.0\",\r\n                  \"autoUpgradeMinorVersion\": false,\r\n  \
        \                \"settings\": {\"clusterEndpoint\":\"https://westus.servicefabric.azure.com/runtime/clusters/d4d7cd10-1fca-4dd8-b79a-8dd1f5830fe1\"\
        ,\"nodeTypeRef\":\"nt1vm\",\"dataPath\":\"D:\\\\\\\\SvcFab\",\"durabilityLevel\"\
        :\"Bronze\",\"nicPrefixOverride\":\"10.0.0.0/24\",\"certificate\":{\"thumbprint\"\
        :\"969A606AB747CF530FE7982E80A24CF2D07530BC\",\"x509StoreName\":\"My\"}}\r\
        \n                },\r\n                \"name\": \"ServiceFabricNodeVmExt_vmNodeType0Name\"\
        \r\n              },\r\n              {\r\n                \"properties\"\
        : {\r\n                  \"publisher\": \"Microsoft.Azure.Diagnostics\",\r\
        \n                  \"type\": \"IaaSDiagnostics\",\r\n                  \"\
        typeHandlerVersion\": \"1.5\",\r\n                  \"autoUpgradeMinorVersion\"\
        : true,\r\n                  \"settings\": {\"WadCfg\":{\"DiagnosticMonitorConfiguration\"\
        :{\"overallQuotaInMB\":\"50000\",\"EtwProviders\":{\"EtwEventSourceProviderConfiguration\"\
        :[{\"provider\":\"Microsoft-ServiceFabric-Actors\",\"scheduledTransferKeywordFilter\"\
        :\"1\",\"scheduledTransferPeriod\":\"PT5M\",\"DefaultEvents\":{\"eventDestination\"\
        :\"ServiceFabricReliableActorEventTable\"}},{\"provider\":\"Microsoft-ServiceFabric-Services\"\
        ,\"scheduledTransferPeriod\":\"PT5M\",\"DefaultEvents\":{\"eventDestination\"\
        :\"ServiceFabricReliableServiceEventTable\"}}],\"EtwManifestProviderConfiguration\"\
        :[{\"provider\":\"cbd93bc2-71e5-4566-b3a7-595d8eeca6e8\",\"scheduledTransferLogLevelFilter\"\
        :\"Information\",\"scheduledTransferKeywordFilter\":\"4611686018427387904\"\
        ,\"scheduledTransferPeriod\":\"PT5M\",\"DefaultEvents\":{\"eventDestination\"\
        :\"ServiceFabricSystemEventTable\"}}]}}},\"StorageAccount\":\"s33gmaedsdirg3\"\
        }\r\n                },\r\n                \"name\": \"VMDiagnosticsVmExt_vmNodeType0Name\"\
        \r\n              }\r\n            ]\r\n          }\r\n        },\r\n    \
        \    \"provisioningState\": \"Succeeded\",\r\n        \"overprovision\": false,\r\
        \n        \"uniqueId\": \"71c521bc-8400-42e1-9332-f2445573e0d1\"\r\n     \
        \ },\r\n      \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"resourceType\"\
        : \"Service Fabric\",\r\n        \"clusterName\": \"sfcli2\"\r\n      },\r\
        \n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli2/providers/Microsoft.Compute/virtualMachineScaleSets/nt1vm\"\
        ,\r\n      \"name\": \"nt1vm\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
