interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.ServiceFabric/clusters/sfcli4?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters\",\r\n  \"\
        location\": \"westus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sfcli4/providers/Microsoft.ServiceFabric/clusters/sfcli4\"\
        ,\r\n  \"name\": \"sfcli4\",\r\n  \"tags\": {},\r\n  \"etag\": \"W/\\\"636392726675639645\\\
        \"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\
        \n    \"clusterId\": \"a995bc41-d29a-4826-ad10-4919c111a7ed\",\r\n    \"clusterCodeVersion\"\
        : \"5.7.198.9494\",\r\n    \"clusterState\": \"Ready\",\r\n    \"managementEndpoint\"\
        : \"https://sfcli4.westus.cloudapp.azure.com:19080\",\r\n    \"clusterEndpoint\"\
        : \"https://westus.servicefabric.azure.com/runtime/clusters/a995bc41-d29a-4826-ad10-4919c111a7ed\"\
        ,\r\n    \"certificate\": {\r\n      \"thumbprint\": \"2BD8C05E9F256CFFB91CBCC30CC8577CD6206965\"\
        ,\r\n      \"x509StoreName\": \"My\"\r\n    },\r\n    \"clientCertificateThumbprints\"\
        : [],\r\n    \"clientCertificateCommonNames\": [],\r\n    \"fabricSettings\"\
        : [\r\n      {\r\n        \"name\": \"Security\",\r\n        \"parameters\"\
        : [\r\n          {\r\n            \"name\": \"ClusterProtectionLevel\",\r\n\
        \            \"value\": \"EncryptAndSign\"\r\n          }\r\n        ]\r\n\
        \      }\r\n    ],\r\n    \"upgradeDescription\": {\r\n      \"overrideUserUpgradePolicy\"\
        : false,\r\n      \"forceRestart\": false,\r\n      \"upgradeReplicaSetCheckTimeout\"\
        : \"05:00:00\",\r\n      \"healthCheckWaitDuration\": \"00:00:02\",\r\n  \
        \    \"healthCheckStableDuration\": \"00:00:02\",\r\n      \"healthCheckRetryTimeout\"\
        : \"00:00:02\",\r\n      \"upgradeTimeout\": \"06:00:00\",\r\n      \"upgradeDomainTimeout\"\
        : \"02:00:00\"\r\n    },\r\n    \"diagnosticsStorageAccountConfig\": {\r\n\
        \      \"storageAccountName\": \"hfnqwtqntsf4w2\",\r\n      \"protectedAccountKeyName\"\
        : \"StorageAccountKey1\",\r\n      \"blobEndpoint\": \"https://hfnqwtqntsf4w2.blob.core.windows.net/\"\
        ,\r\n      \"queueEndpoint\": \"https://hfnqwtqntsf4w2.queue.core.windows.net/\"\
        ,\r\n      \"tableEndpoint\": \"https://hfnqwtqntsf4w2.table.core.windows.net/\"\
        \r\n    },\r\n    \"nodeTypes\": [\r\n      {\r\n        \"name\": \"nt1vm\"\
        ,\r\n        \"clientConnectionEndpointPort\": 19000,\r\n        \"httpGatewayEndpointPort\"\
        : 19080,\r\n        \"applicationPorts\": {\r\n          \"startPort\": 20000,\r\
        \n          \"endPort\": 30000\r\n        },\r\n        \"ephemeralPorts\"\
        : {\r\n          \"startPort\": 49152,\r\n          \"endPort\": 65534\r\n\
        \        },\r\n        \"isPrimary\": true,\r\n        \"vmInstanceCount\"\
        : 3,\r\n        \"durabilityLevel\": \"Bronze\"\r\n      }\r\n    ],\r\n \
        \   \"vmImage\": \"Windows\",\r\n    \"reliabilityLevel\": \"Bronze\",\r\n\
        \    \"upgradeMode\": \"Automatic\",\r\n    \"availableClusterVersions\":\
        \ [\r\n      {\r\n        \"codeVersion\": \"5.7.198.9494\",\r\n        \"\
        supportExpiryUtc\": \"9999-12-31T23:59:59.9999999\",\r\n        \"environment\"\
        : \"Windows\"\r\n      },\r\n      {\r\n        \"codeVersion\": \"5.7.207.9494\"\
        ,\r\n        \"supportExpiryUtc\": \"9999-12-31T23:59:59.9999999\",\r\n  \
        \      \"environment\": \"Windows\"\r\n      }\r\n    ]\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sfcli4?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4","name":"sfcli4","location":"westus","tags":{"ResourceManagerId":"978e40a1-2cab-4b9c-b5bf-294a4ba68ce7"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/edder-cli-test-4/providers/Microsoft.KeyVault/vaults/edder-cli-test-4","name":"edder-cli-test-4","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{"clusterName":"edder-cli-test-4","resourceType":"Service
        Fabric"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/moelzein22164228-keyvault/providers/Microsoft.KeyVault/vaults/moelzein22164228","name":"moelzein22164228","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/payel1711RG/providers/Microsoft.KeyVault/vaults/payelkeyvault","name":"payelkeyvault","type":"Microsoft.KeyVault/vaults","location":"westus","tag[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.KeyVault/vaults/sfcli4?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.KeyVault/vaults/sfcli4","name":"sfcli4","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"9ea2e1d7-fd22-4d31-825a-ec42a4a26a16","permissions":{"keys":["get","create","delete","list","update","import","backup","restore"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"]}}],"enabledForDeployment":true,"vaultUri":"https://sfcli4.vault.azure.net/"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://sfcli4.vault.azure.net/secrets/sfcli4201708250843/2b9981be18164360a21e6face7b67a77?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      WWW-Authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.Compute/virtualMachineScaleSets/nt1vm?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D2_V2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 3\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\"\
        : {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"nt1vm\"\
        ,\r\n        \"adminUsername\": \"adminuser\",\r\n        \"windowsConfiguration\"\
        : {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\"\
        : true\r\n        },\r\n        \"secrets\": [\r\n          {\r\n        \
        \    \"sourceVault\": {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.KeyVault/vaults/sfcli4\"\
        \r\n            },\r\n            \"vaultCertificates\": [\r\n           \
        \   {\r\n                \"certificateUrl\": \"https://sfcli4.vault.azure.net/secrets/sfcli4201708250843/2b9981be18164360a21e6face7b67a77\"\
        ,\r\n                \"certificateStore\": \"My\"\r\n              }\r\n \
        \           ]\r\n          }\r\n        ]\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"vhdContainers\": [\r\n       \
        \     \"https://hfnqwtqntsf4w100.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://hfnqwtqntsf4w101.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://hfnqwtqntsf4w102.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://hfnqwtqntsf4w103.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://hfnqwtqntsf4w104.blob.core.windows.net/vhds\"\r\n        \
        \  ],\r\n          \"name\": \"vmssosdisk\",\r\n          \"createOption\"\
        : \"FromImage\",\r\n          \"caching\": \"ReadOnly\"\r\n        },\r\n\
        \        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\"\
        ,\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2016-Datacenter\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"NIC-0\"\
        ,\"properties\":{\"primary\":true,\"ipConfigurations\":[{\"name\":\"NIC-0\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.Network/virtualNetworks/VNet/subnets/Subnet-0\"\
        },\"loadBalancerBackendAddressPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.Network/loadBalancers/LB-sfcli4-nt1vm/backendAddressPools/LoadBalancerBEAddressPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.Network/loadBalancers/LB-sfcli4-nt1vm/inboundNatPools/LoadBalancerBEAddressNatPool\"\
        }]}}]}}]},\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\
        \n          {\r\n            \"properties\": {\r\n              \"publisher\"\
        : \"Microsoft.Azure.ServiceFabric\",\r\n              \"type\": \"ServiceFabricNode\"\
        ,\r\n              \"typeHandlerVersion\": \"1.0\",\r\n              \"autoUpgradeMinorVersion\"\
        : false,\r\n              \"settings\": {\"clusterEndpoint\":\"https://westus.servicefabric.azure.com/runtime/clusters/a995bc41-d29a-4826-ad10-4919c111a7ed\"\
        ,\"nodeTypeRef\":\"nt1vm\",\"dataPath\":\"D:\\\\\\\\SvcFab\",\"durabilityLevel\"\
        :\"Bronze\",\"nicPrefixOverride\":\"10.0.0.0/24\",\"certificate\":{\"thumbprint\"\
        :\"2BD8C05E9F256CFFB91CBCC30CC8577CD6206965\",\"x509StoreName\":\"My\"}}\r\
        \n            },\r\n            \"name\": \"ServiceFabricNodeVmExt_vmNodeType0Name\"\
        \r\n          },\r\n          {\r\n            \"properties\": {\r\n     \
        \         \"publisher\": \"Microsoft.Azure.Diagnostics\",\r\n            \
        \  \"type\": \"IaaSDiagnostics\",\r\n              \"typeHandlerVersion\"\
        : \"1.5\",\r\n              \"autoUpgradeMinorVersion\": true,\r\n       \
        \       \"settings\": {\"WadCfg\":{\"DiagnosticMonitorConfiguration\":{\"\
        overallQuotaInMB\":\"50000\",\"EtwProviders\":{\"EtwEventSourceProviderConfiguration\"\
        :[{\"provider\":\"Microsoft-ServiceFabric-Actors\",\"scheduledTransferKeywordFilter\"\
        :\"1\",\"scheduledTransferPeriod\":\"PT5M\",\"DefaultEvents\":{\"eventDestination\"\
        :\"ServiceFabricReliableActorEventTable\"}},{\"provider\":\"Microsoft-ServiceFabric-Services\"\
        ,\"scheduledTransferPeriod\":\"PT5M\",\"DefaultEvents\":{\"eventDestination\"\
        :\"ServiceFabricReliableServiceEventTable\"}}],\"EtwManifestProviderConfiguration\"\
        :[{\"provider\":\"cbd93bc2-71e5-4566-b3a7-595d8eeca6e8\",\"scheduledTransferLogLevelFilter\"\
        :\"Information\",\"scheduledTransferKeywordFilter\":\"4611686018427387904\"\
        ,\"scheduledTransferPeriod\":\"PT5M\",\"DefaultEvents\":{\"eventDestination\"\
        :\"ServiceFabricSystemEventTable\"}}]}}},\"StorageAccount\":\"hfnqwtqntsf4w3\"\
        }\r\n            },\r\n            \"name\": \"VMDiagnosticsVmExt_vmNodeType0Name\"\
        \r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"overprovision\": false,\r\n    \"uniqueId\": \"\
        16326af5-dac7-4823-8b21-25fb12d05ec3\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"resourceType\"\
        : \"Service Fabric\",\r\n    \"clusterName\": \"sfcli4\"\r\n  },\r\n  \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.Compute/virtualMachineScaleSets/nt1vm\"\
        ,\r\n  \"name\": \"nt1vm\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"certificate": {"thumbprint": "2BD8C05E9F256CFFB91CBCC30CC8577CD6206965",
      "thumbprintSecondary": "2BD8C05E9F256CFFB91CBCC30CC8577CD6206965", "x509StoreName":
      "My"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sfcli4/providers/Microsoft.ServiceFabric/clusters/sfcli4?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters\",\r\n  \"\
        location\": \"westus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sfcli4/providers/Microsoft.ServiceFabric/clusters/sfcli4\"\
        ,\r\n  \"name\": \"sfcli4\",\r\n  \"tags\": {},\r\n  \"etag\": \"W/\\\"636392726675639646\\\
        \"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\
        \n    \"clusterId\": \"a995bc41-d29a-4826-ad10-4919c111a7ed\",\r\n    \"clusterCodeVersion\"\
        : \"5.7.198.9494\",\r\n    \"clusterState\": \"UpdatingUserConfiguration\"\
        ,\r\n    \"managementEndpoint\": \"https://sfcli4.westus.cloudapp.azure.com:19080\"\
        ,\r\n    \"clusterEndpoint\": \"https://westus.servicefabric.azure.com/runtime/clusters/a995bc41-d29a-4826-ad10-4919c111a7ed\"\
        ,\r\n    \"certificate\": {\r\n      \"thumbprint\": \"2BD8C05E9F256CFFB91CBCC30CC8577CD6206965\"\
        ,\r\n      \"x509StoreName\": \"My\"\r\n    },\r\n    \"clientCertificateThumbprints\"\
        : [],\r\n    \"clientCertificateCommonNames\": [],\r\n    \"fabricSettings\"\
        : [\r\n      {[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/operations/e9bcb1b4-ddfe-4b5d-93ac-bbdc1a156e30?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/operations/e9bcb1b4-ddfe-4b5d-93ac-bbdc1a156e30\"\
        ,\r\n  \"name\": \"e9bcb1b4-ddfe-4b5d-93ac-bbdc1a156e30\",\r\n  \"status\"\
        : \"Created\",\r\n  \"startTime\": \"2017-08-25T17:05:23.4389343Z\",\r\n \
        \ \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 0.0\r\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
