interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appcanary-rg/providers/Microsoft.ServiceFabric/clusters/appcanary?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters\",\r\n  \"\
        location\": \"eastus2euap\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/appcanary-rg/providers/Microsoft.ServiceFabric/clusters/appcanary\"\
        ,\r\n  \"name\": \"appcanary\",\r\n  \"tags\": {},\r\n  \"etag\": \"W/\\\"\
        636387035341129870\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"clusterId\": \"263aabc0-bdbc-4086-9228-077c58ee3d89\"\
        ,\r\n    \"clusterCodeVersion\": \"5.7.207.9494\",\r\n    \"clusterState\"\
        : \"Ready\",\r\n    \"managementEndpoint\": \"http://appcanary.eastus2euap.cloudapp.azure.com:19080\"\
        ,\r\n    \"clusterEndpoint\": \"https://eastus2euap.servicefabric.azure.com/runtime/clusters/263aabc0-bdbc-4086-9228-077c58ee3d89\"\
        ,\r\n    \"clientCertificateThumbprints\": [],\r\n    \"clientCertificateCommonNames\"\
        : [],\r\n    \"fabricSettings\": [],\r\n    \"upgradeDescription\": {\r\n\
        \      \"overrideUserUpgradePolicy\": false,\r\n      \"forceRestart\": false,\r\
        \n      \"upgradeReplicaSetCheckTimeout\": \"10675199.02:48:05.4775807\",\r\
        \n      \"healthCheckWaitDuration\": \"00:05:00\",\r\n      \"healthCheckStableDuration\"\
        : \"00:05:00\",\r\n      \"healthCheckRetryTimeout\": \"00:45:00\",\r\n  \
        \    \"upgradeTimeout\": \"12:00:00\",\r\n      \"upgradeDomainTimeout\":\
        \ \"02:00:00\",\r\n      \"healthPolicy\": {\r\n        \"maxPercentUnhealthyNodes\"\
        : 100,\r\n        \"maxPercentUnhealthyApplications\": 100\r\n      },\r\n\
        \      \"deltaHealthPolicy\": {\r\n        \"maxPercentDeltaUnhealthyNodes\"\
        : 0,\r\n        \"maxPercentUpgradeDomainDeltaUnhealthyNodes\": 0,\r\n   \
        \     \"maxPercentDeltaUnhealthyApplications\": 0\r\n      }\r\n    },\r\n\
        \    \"diagnosticsStorageAccountConfig\": {\r\n      \"storageAccountName\"\
        : \"sflogsappcanary7980\",\r\n      \"protectedAccountKeyName\": \"StorageAccountKey1\"\
        ,\r\n      \"blobEndpoint\": \"https://sflogsappcanary7980.blob.core.windows.net/\"\
        ,\r\n      \"queueEndpoint\": \"https://sflogsappcanary7980.queue.core.windows.net/\"\
        ,\r\n      \"tableEndpoint\": \"https://sflogsappcanary7980.table.core.windows.net/\"\
        \r\n    },\r\n    \"nodeTypes\": [\r\n      {\r\n        \"name\": \"FE\"\
        ,\r\n        \"clientConnectionEndpointPort\": 19000,\r\n        \"httpGatewayEndpointPort\"\
        : 19080,\r\n        \"applicationPorts\": {\r\n          \"startPort\": 20000,\r\
        \n          \"endPort\": 30000\r\n        },\r\n        \"ephemeralPorts\"\
        : {\r\n          \"startPort\": 49152,\r\n          \"endPort\": 65534\r\n\
        \        },\r\n        \"isPrimary\": true,\r\n        \"vmInstanceCount\"\
        : 5,\r\n        \"durabilityLevel\": \"Bronze\"\r\n      }\r\n    ],\r\n \
        \   \"vmImage\": \"Windows\",\r\n    \"reliabilityLevel\": \"Silver\",\r\n\
        \    \"upgradeMode\": \"Manual\",\r\n    \"availableClusterVersions\": [\r\
        \n      {\r\n        \"codeVersion\": \"5.7.207.9494\",\r\n        \"supportExpiryUtc\"\
        : \"9999-12-31T23:59:59.9999999\",\r\n        \"environment\": \"Windows\"\
        \r\n      }\r\n    ]\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appcanary-rg/providers/Microsoft.Compute/virtualMachineScaleSets/FE?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D2_v2\",\r\n   \
        \ \"tier\": \"Standard\",\r\n    \"capacity\": 5\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\"\
        : {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"FE\",\r\
        \n        \"adminUsername\": \"testadm\",\r\n        \"windowsConfiguration\"\
        : {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\"\
        : true\r\n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"vhdContainers\": [\r\n       \
        \     \"https://3kjpzatrzqtcg100.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://3kjpzatrzqtcg101.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://3kjpzatrzqtcg102.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://3kjpzatrzqtcg103.blob.core.windows.net/vhds\",\r\n       \
        \     \"https://3kjpzatrzqtcg104.blob.core.windows.net/vhds\"\r\n        \
        \  ],\r\n          \"name\": \"vmssosdisk\",\r\n          \"createOption\"\
        : \"FromImage\",\r\n          \"caching\": \"ReadOnly\"\r\n        },\r\n\
        \        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\"\
        ,\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2016-Datacenter\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"NIC-appcanary-0\"\
        ,\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"\
        dnsSettings\":{\"dnsServers\":[]},\"ipConfigurations\":[{\"name\":\"NIC-appcanary-0\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appcanary-rg/providers/Microsoft.Network/virtualNetworks/VNet-appcanary/subnets/Subnet-0\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appcanary-rg/providers/Microsoft.Network/loadBalancers/LB-appcanary-FE/backendAddressPools/LoadBalancerBEAddressPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appcanary-rg/providers/Microsoft.Network/loadBalancers/LB-appcanary-FE/inboundNatPools/LoadBalancerBEAddressNatPool\"\
        }]}}]}}]},\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\
        \n          {\r\n            \"properties\": {\r\n              \"publisher\"\
        : \"Microsoft.Azure.ServiceFabric\",\r\n              \"type\": \"ServiceFabricNode\"\
        ,\r\n              \"typeHandlerVersion\": \"1.0\",\r\n              \"autoUpgradeMinorVersion\"\
        : true,\r\n              \"settings\": {\"clusterEndpoint\":\"https://eastus2euap.servicefabric.azure.com/runtime/clusters/263aabc0-bdbc-4086-9228-077c58ee3d89\"\
        ,\"nodeTypeRef\":\"FE\",\"dataPath\":\"D:\\\\\\\\SvcFab\",\"durabilityLevel\"\
        :\"Bronze\",\"enableParallelJobs\":true,\"nicPrefixOverride\":\"10.0.0.0/24\"\
        }\r\n            },\r\n            \"name\": \"FE_ServiceFabricNode\"\r\n\
        \          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"overprovision\": false,\r\n    \"uniqueId\": \"\
        e7ca4490-2eae-47dc-b3c7-b813d0b2c80d\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\"\
        ,\r\n  \"location\": \"EastUS2EUAP\",\r\n  \"tags\": {\r\n    \"resourceType\"\
        : \"Service Fabric\",\r\n    \"clusterName\": \"appcanary\"\r\n  },\r\n  \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appcanary-rg/providers/Microsoft.Compute/virtualMachineScaleSets/FE\"\
        ,\r\n  \"name\": \"FE\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
