interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_blob_scenario_test/providers/Microsoft.Storage/storageAccounts/dummystorage.listKeys?api-version=2016-01-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","permissions":"Full","value":"hkE98paHEPYJFCJBrnEnm+Adc1wv5nlxl6LkJTOBHY+3vPLoD4185iesyAYTOcdPIPpsa3pJd9xX9LjLM0e/Sg=="},{"keyName":"key2","permissions":"Full","value":"DyE5cdp52v9D0fUtonb9x+5jy2vyqboNWCuFLv5gwcf8ZgitsL2LW/AlYHGIMoxOMKUuB0Kgw3sEAO9ia7CO6w=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:51:46 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA5A005A32"']
      last-modified: ['Wed, 04 Jan 2017 17:51:46 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:51:46 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA5A005A32"']
      last-modified: ['Wed, 04 Jan 2017 17:51:46 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:51:47 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/cont1?comp=acl&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D434CA5A005A32"']
      last-modified: ['Wed, 04 Jan 2017 17:51:46 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers />'
    headers:
      x-ms-blob-public-access: [blob]
      x-ms-date: ['Wed, 04 Jan 2017 17:51:47 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?comp=acl&restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA5A8CC4FD"']
      last-modified: ['Wed, 04 Jan 2017 17:51:47 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:51:50 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage166550539831.blob.core.windows.net/\"\
        ><Containers><Container><Name>cont1</Name><Properties><Last-Modified>Wed,\
        \ 04 Jan 2017 17:51:48 GMT</Last-Modified><Etag>\"0x8D434CA5B50E17B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:51:50 GMT']
      x-ms-meta-foo: [bar]
      x-ms-meta-moo: [bak]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?comp=metadata&restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA5C96F807"']
      last-modified: ['Wed, 04 Jan 2017 17:51:50 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode 'This is a test file for performance of automated tests.
      DO NOT MOVE OR DELETE!'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 04 Jan 2017 17:51:53 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [zeGiTMG1TdAobIHawzap3A==]
      etag: ['"0x8D434CA5E0E936C"']
      last-modified: ['Wed, 04 Jan 2017 17:51:53 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode 'This is a test file for performance of automated tests.
      DO NOT MOVE OR DELETE!                                                                                                                                                                                                                                                                                                                                                                                                                                                  '
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 04 Jan 2017 17:51:54 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testpageblob
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [JKbxCPFguN3PtJpiW3lCrQ==]
      etag: ['"0x8D434CA5EB690E5"']
      last-modified: ['Wed, 04 Jan 2017 17:51:54 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode 'This is a test file for performance of automated tests.
      DO NOT MOVE OR DELETE!'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 04 Jan 2017 17:51:55 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testappendblob
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [zeGiTMG1TdAobIHawzap3A==]
      etag: ['"0x8D434CA5F5DA3F9"']
      last-modified: ['Wed, 04 Jan 2017 17:51:55 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:51:57 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob?comp=metadata
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA60926FE5"']
      last-modified: ['Wed, 04 Jan 2017 17:51:57 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:51:59 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/cont1?comp=list&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage166550539831.blob.core.windows.net/\"\
        \ ContainerName=\"cont1\"><Blobs><Blob><Name>testappendblob</Name><Properties><Last-Modified>Wed,\
        \ 04 Jan 2017 17:51:56 GMT</Last-Modified><Etag>0x8D434CA5FB80CB0</Etag><Content-Length>78</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>zeGiTMG1TdAobIHawzap3A==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob><Blob><Name>testblockblob</Name><Properties><Last-Modified>Wed,\
        \ 04 Jan 2017 17:51:58 GMT</Last-Modified><Etag>0x8D434CA61401438</Etag><Content-Length>78</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>zeGiTMG1TdAobIHawzap3A==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob><Blob><Name>testpageblob</Name><Properties><Last-Modified>Wed,\
        \ 04 Jan 2017 17:51:54 GMT</Last-Modified><Etag>0x8D434CA5EB690E5</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>JKbxCPFguN3PtJpiW3lCrQ==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:52:00 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob
  response:
    body: {string: !!python/unicode 'This is a test file for performance of automated
        tests. DO NOT MOVE OR DELETE!'}
    headers:
      content-range: [bytes 0-77/78]
      content-type: [application/octet-stream]
      etag: ['"0x8D434CA61401438"']
      last-modified: ['Wed, 04 Jan 2017 17:51:58 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2015-07-08']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      If-Modified-Since: ['Fri, 01 Apr 2016 12:00:00 GMT']
      x-ms-date: ['Wed, 04 Jan 2017 17:52:01 GMT']
      x-ms-lease-action: [acquire]
      x-ms-lease-duration: ['60']
      x-ms-proposed-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob?comp=lease
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA61401438"']
      last-modified: ['Wed, 04 Jan 2017 17:51:58 GMT']
      x-ms-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:52:04 GMT']
      x-ms-lease-action: [break]
      x-ms-lease-break-period: ['30']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testblockblob?comp=lease
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA61401438"']
      last-modified: ['Wed, 04 Jan 2017 17:51:58 GMT']
      x-ms-lease-time: ['30']
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:52:06 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/testappendblob?comp=snapshot
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA5FB80CB0"']
      last-modified: ['Wed, 04 Jan 2017 17:51:56 GMT']
      x-ms-snapshot: ['2017-01-04T17:52:06.9872093Z']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:52:07 GMT']
      x-ms-version: ['2015-07-08']
    method: HEAD
    uri: https://dummystorage.blob.core.windows.net/cont1/testappendblob?snapshot=2017-01-04T17%3A52%3A06.9872093Z
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [zeGiTMG1TdAobIHawzap3A==]
      content-type: [application/octet-stream]
      etag: ['"0x8D434CA5FB80CB0"']
      last-modified: ['Wed, 04 Jan 2017 17:51:56 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      If-Modified-Since: ['Fri, 01 Apr 2016 12:00:00 GMT']
      x-ms-date: ['Wed, 04 Jan 2017 17:52:09 GMT']
      x-ms-lease-action: [acquire]
      x-ms-lease-duration: ['60']
      x-ms-proposed-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?comp=lease&restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA5D416B9F"']
      last-modified: ['Wed, 04 Jan 2017 17:51:51 GMT']
      x-ms-lease-id: [abcdabcd-abcd-abcd-abcd-abcdabcdabcd]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:52:15 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The\
        \ specified container does not exist.\nRequestId:4411ffa4-0001-00c0-29b3-66ecc1000000\n\
        Time:2017-01-04T17:52:15.1449680Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 404, message: The specified container does not exist.}
version: 1
