interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_blob_copy/providers/Microsoft.Storage/storageAccounts/dummystorage.listKeys?api-version=2016-01-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"7dhiH0ItV0mPlhFdd9cyaKirIdtDWlkygF/GWEAZKOPKCU+/eYBmXl7qdFSoG6tuOEdEy0AAyVQqQ9QPIGe6ZQ=="},{"keyName":"key2","permissions":"Full","value":"xdAcEVbIlJJdcTzJkxHeC9YtPgLx/hVE4tQ3jHsnR0oT2l1d5vCHMFxImqX7Q27MLw38R2Lzc6ooxV3TIE6VSA=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 25 Jan 2017 00:04:35 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D444B5BF3FDC4B"']
      Last-Modified: ['Wed, 25 Jan 2017 00:04:35 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: This is a test file for performance of automated tests. DO NOT MOVE OR DELETE!
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 25 Jan 2017 00:04:36 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      ETag: ['"0x8D444B5C025B027"']
      Last-Modified: ['Wed, 25 Jan 2017 00:04:36 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://vcrstorage120430722164.blob.core.windows.net/cont1/blob1']
      x-ms-date: ['Wed, 25 Jan 2017 00:04:38 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont2/blob1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D444B5C172B05C"']
      Last-Modified: ['Wed, 25 Jan 2017 00:04:39 GMT']
      x-ms-copy-id: [c5aa5a4b-778c-40c3-ba54-50f7f3917ee6]
      x-ms-copy-status: [success]
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 25 Jan 2017 00:04:39 GMT']
      x-ms-version: ['2015-07-08']
    method: HEAD
    uri: https://dummystorage.blob.core.windows.net/cont2/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D444B5C172B05C"']
      Last-Modified: ['Wed, 25 Jan 2017 00:04:39 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-copy-completion-time: ['Wed, 25 Jan 2017 00:04:38 GMT']
      x-ms-copy-id: [c5aa5a4b-778c-40c3-ba54-50f7f3917ee6]
      x-ms-copy-progress: [78/78]
      x-ms-copy-source: ['https://vcrstorage120430722164.blob.core.windows.net/cont1/blob1']
      x-ms-copy-status: [success]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 25 Jan 2017 00:04:41 GMT']
      x-ms-version: ['2015-07-08']
    method: HEAD
    uri: https://dummystorage.blob.core.windows.net/cont2/blob2
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D444B5C256A4E2"']
      Last-Modified: ['Wed, 25 Jan 2017 00:04:40 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-copy-completion-time: ['Wed, 25 Jan 2017 00:04:40 GMT']
      x-ms-copy-id: [bbfdd2eb-389e-4a9b-b6ab-60613dcb0357]
      x-ms-copy-progress: [78/78]
      x-ms-copy-source: ['https://vcrstorage120430722164.blob.core.windows.net/cont1/blob2']
      x-ms-copy-status: [success]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
