interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/dummystorage.listKeys?api-version=2016-01-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","permissions":"Full","value":"8LSOnAlOnt0VbA6+Kk8MQYBeMoh6mRHyKVU3ZR6J+TD2Lc25ZtZJrAvOxp2ta5pcVidSATLqH1/lUDS8Km920g=="},{"keyName":"key2","permissions":"Full","value":"J7bsifeKsqfDJJaQLs82OswYUnX6JKjT34E8pV5opHuaA6nwbuI0Uy6VblvsiziqUYlPnoaWv4dCTqPgFUn9+A=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:52:40 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/acltestshare?comp=acl&restype=share
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers\
        \ />"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D434CA79BA7FE4"']
      last-modified: ['Wed, 04 Jan 2017 17:52:39 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:52:41 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/acltestshare?comp=acl&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA7ACC4DB4"']
      last-modified: ['Wed, 04 Jan 2017 17:52:41 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:52:42 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/acltestshare?comp=acl&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA7B48C7CE"']
      last-modified: ['Wed, 04 Jan 2017 17:52:42 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:52:43 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/acltestshare?comp=acl&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D434CA7BBF4D0F"']
      last-modified: ['Wed, 04 Jan 2017 17:52:43 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Jan 2017 17:52:49 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/acltestshare?comp=acl&restype=share
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00:00.0000000Z</Expiry></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00.0000000Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test4</Id><AccessPolicy><Start>2016-01-01T00:00:00.0000000Z</Start><Expiry>2016-05-01T00:00:00.0000000Z</Expiry><Permission>rwdl</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D434CA7F45F34C"']
      last-modified: ['Wed, 04 Jan 2017 17:52:48 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
