interactions:
- request:
    body: '{"name": "teststorageomega", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2016-01-01
  response:
    body: {string: '{"nameAvailable":true}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_account_scenario/providers/Microsoft.Storage/storageAccounts/testcreatedelete?api-version=2016-01-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/b6c27a04-883a-4b36-a211-0b406bde0b49/providers/Microsoft.Storage/operations/bd2f2349-3c32-4691-addc-0d424d044164?monitor=true&api-version=2016-01-01']
      Retry-After: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/bd2f2349-3c32-4691-addc-0d424d044164?monitor=true&api-version=2016-01-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/b6c27a04-883a-4b36-a211-0b406bde0b49/providers/Microsoft.Storage/operations/bd2f2349-3c32-4691-addc-0d424d044164?monitor=true&api-version=2016-01-01']
      Retry-After: ['17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/bd2f2349-3c32-4691-addc-0d424d044164?monitor=true&api-version=2016-01-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_account_scenario/providers/Microsoft.Storage/storageAccounts/testcreatedelete","kind":"Storage","location":"westus","name":"testcreatedelete","properties":{"creationTime":"2017-01-24T20:20:01.3110980Z","primaryEndpoints":{"blob":"https://testcreatedelete.blob.core.windows.net/","file":"https://testcreatedelete.file.core.windows.net/","queue":"https://testcreatedelete.queue.core.windows.net/","table":"https://testcreatedelete.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"name": "testcreatedelete", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2016-01-01
  response:
    body: {string: '{"message":"The storage account named testcreatedelete is already
        taken.","nameAvailable":false,"reason":"AlreadyExists"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_account_scenario/providers/Microsoft.Storage/storageAccounts?api-version=2016-01-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_account_scenario/providers/Microsoft.Storage/storageAccounts/testcreatedelete","kind":"Storage","location":"westus","name":"testcreatedelete","properties":{"creationTime":"2017-01-24T20:20:01.3110980Z","primaryEndpoints":{"blob":"https://testcreatedelete.blob.core.windows.net/","file":"https://testcreatedelete.file.core.windows.net/","queue":"https://testcreatedelete.queue.core.windows.net/","table":"https://testcreatedelete.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}]}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/usages?api-version=2016-01-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"unit\": \"Count\",\r\n\
        \      \"currentValue\": 3,\r\n      \"limit\": 200,\r\n      \"name\": {\r\
        \n        \"value\": \"StorageAccounts\",\r\n        \"localizedValue\": \"\
        Storage Accounts\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_account_scenario/providers/Microsoft.Storage/storageAccounts/testcreatedelete/listKeys?api-version=2016-01-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"FdUG1j7CEDprYaqtCu84HDtzRjgEfsdsNlC5abWvTlq8XbE2tmf/P8PMayGbqauDHwd1g842z3HhPzmmXrXVyQ=="},{"keyName":"key2","permissions":"Full","value":"9BMcHpJl8k1CiBIgrgW46gYmu0qoId3RSm26gx0JhHseuzahqyXhGZX0tvLsMvEhknEHaA2RiGzCR9gFPdfuvA=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_account_scenario/providers/Microsoft.Storage/storageAccounts/testcreatedelete/regenerateKey?api-version=2016-01-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"13FqMY6GTO1Knf0O2uPmd5aqyM03ywOkHYpJquVRAXbGQWPAeviLnrr4CAa9O9JFXWG1YYXr98unYtH2CMbn5Q=="},{"keyName":"key2","permissions":"Full","value":"9BMcHpJl8k1CiBIgrgW46gYmu0qoId3RSm26gx0JhHseuzahqyXhGZX0tvLsMvEhknEHaA2RiGzCR9gFPdfuvA=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"tags": {"foo": "bar", "cat": ""}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_account_scenario/providers/Microsoft.Storage/storageAccounts/testcreatedelete?api-version=2016-01-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_account_scenario/providers/Microsoft.Storage/storageAccounts/testcreatedelete","kind":"Storage","location":"westus","name":"testcreatedelete","properties":{"creationTime":"2017-01-24T20:20:01.3110980Z","primaryEndpoints":{"blob":"https://testcreatedelete.blob.core.windows.net/","file":"https://testcreatedelete.file.core.windows.net/","queue":"https://testcreatedelete.queue.core.windows.net/","table":"https://testcreatedelete.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{"cat":"","foo":"bar"},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"sku": {"name": "Standard_GRS"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_account_scenario/providers/Microsoft.Storage/storageAccounts/testcreatedelete?api-version=2016-01-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_account_scenario/providers/Microsoft.Storage/storageAccounts/testcreatedelete","kind":"Storage","location":"westus","name":"testcreatedelete","properties":{"creationTime":"2017-01-24T20:20:01.3110980Z","primaryEndpoints":{"blob":"https://testcreatedelete.blob.core.windows.net/","file":"https://testcreatedelete.file.core.windows.net/","queue":"https://testcreatedelete.queue.core.windows.net/","table":"https://testcreatedelete.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","secondaryLocation":"eastus","statusOfPrimary":"available","statusOfSecondary":"available"},"sku":{"name":"Standard_GRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "testcreatedelete", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2016-01-01
  response:
    body: {string: '{"nameAvailable":true}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
