interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_blob_copy/providers/Microsoft.Storage/storageAccounts/dummystorage.listKeys?api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","permissions":"Full","value":"dxf0sTLuf2qAS2EmKoawBdnZryd4BihAhgZ0irFlUSCNhWx1M5MMQTZYlRdIjTkOg6jIulTPG/wyXArEvxe3VQ=="},{"keyName":"key2","permissions":"Full","value":"AJzttdub3EU5/8vDxv5d+Nz+mWDaXVcOhPcOu73IV643cBIUXFvf+yuw3zDnFou+WMnkTqXqSQc8Hsu3Wlw12Q=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 23 Jan 2017 20:59:27 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D443D2B81551F2"']
      last-modified: ['Mon, 23 Jan 2017 20:59:27 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode 'This is a test file for performance of automated tests.
      DO NOT MOVE OR DELETE!'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Mon, 23 Jan 2017 20:59:30 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont1/blob1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [zeGiTMG1TdAobIHawzap3A==]
      etag: ['"0x8D443D2B9FE21B8"']
      last-modified: ['Mon, 23 Jan 2017 20:59:30 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://vcrstorage513153667201.blob.core.windows.net/cont1/blob1']
      x-ms-date: ['Mon, 23 Jan 2017 20:59:34 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.blob.core.windows.net/cont2/blob1
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D443D2BC96AEC3"']
      last-modified: ['Mon, 23 Jan 2017 20:59:35 GMT']
      x-ms-copy-id: [8a4700e9-bfc5-4d74-a135-7a9f4c76fe10]
      x-ms-copy-status: [success]
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 23 Jan 2017 20:59:36 GMT']
      x-ms-version: ['2015-07-08']
    method: HEAD
    uri: https://dummystorage.blob.core.windows.net/cont2/blob1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [zeGiTMG1TdAobIHawzap3A==]
      content-type: [application/octet-stream]
      etag: ['"0x8D443D2BC96AEC3"']
      last-modified: ['Mon, 23 Jan 2017 20:59:35 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-copy-completion-time: ['Mon, 23 Jan 2017 20:59:35 GMT']
      x-ms-copy-id: [8a4700e9-bfc5-4d74-a135-7a9f4c76fe10]
      x-ms-copy-progress: [78/78]
      x-ms-copy-source: ['https://vcrstorage513153667201.blob.core.windows.net/cont1/blob1']
      x-ms-copy-status: [success]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 23 Jan 2017 20:59:39 GMT']
      x-ms-version: ['2015-07-08']
    method: HEAD
    uri: https://dummystorage.blob.core.windows.net/cont2/blob2
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [zeGiTMG1TdAobIHawzap3A==]
      content-type: [application/octet-stream]
      etag: ['"0x8D443D2BE82565D"']
      last-modified: ['Mon, 23 Jan 2017 20:59:38 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-copy-completion-time: ['Mon, 23 Jan 2017 20:59:39 GMT']
      x-ms-copy-id: [7e9bc013-2418-45da-b4bd-db1c90e9b42d]
      x-ms-copy-progress: [78/78]
      x-ms-copy-source: ['https://vcrstorage513153667201.blob.core.windows.net/cont1/blob2']
      x-ms-copy-status: [success]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
