interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_file_copy_scenario/providers/Microsoft.Storage/storageAccounts/dummystorage.listKeys?api-version=2016-01-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"RKXEiwWgqHrPNouVHIBYNnEc2BXIpvU1xRHZtgiQU2mF02Eak1GtxMck92P3TSPNnN2soKmUxepxfN8CxpFylg=="},{"keyName":"key2","permissions":"Full","value":"UHPlivHrMIRHsmdf1YBRKpVnveIL1pjS3KKefe948fpPoJqx1eii8nKgzjv6AKHjjIocqRRJb1z9JGfOJQclhw=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 25 Jan 2017 02:33:35 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share1?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D444CA8FF41CD0"']
      Last-Modified: ['Wed, 25 Jan 2017 02:33:35 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 25 Jan 2017 02:33:36 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share1/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D444CA909088AC"']
      Last-Modified: ['Wed, 25 Jan 2017 02:33:36 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['78']
      x-ms-date: ['Wed, 25 Jan 2017 02:33:38 GMT']
      x-ms-type: [file]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share1/dir1/src_file.txt
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D444CA91B8868D"']
      Last-Modified: ['Wed, 25 Jan 2017 02:33:38 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: This is a test file for performance of automated tests. DO NOT MOVE OR DELETE!
    headers:
      x-ms-date: ['Wed, 25 Jan 2017 02:33:39 GMT']
      x-ms-range: [bytes=0-77]
      x-ms-version: ['2015-07-08']
      x-ms-write: [update]
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share1/dir1/src_file.txt?comp=range
  response:
    body: {string: ''}
    headers:
      Content-MD5: [zeGiTMG1TdAobIHawzap3A==]
      ETag: ['"0x8D444CA91BF17CA"']
      Last-Modified: ['Wed, 25 Jan 2017 02:33:38 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://vcrstorage391250768125.file.core.windows.net/share1/dir1/src_file.txt']
      x-ms-date: ['Wed, 25 Jan 2017 02:33:41 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share2/dest_file.txt
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D444CA93793F68"']
      Last-Modified: ['Wed, 25 Jan 2017 02:33:41 GMT']
      x-ms-copy-id: [a960dbf0-d1a9-4e10-9805-77af57ade98d]
      x-ms-copy-status: [success]
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 25 Jan 2017 02:33:42 GMT']
      x-ms-version: ['2015-07-08']
    method: HEAD
    uri: https://dummystorage.file.core.windows.net/share2/dest_file.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D444CA93793F68"']
      Last-Modified: ['Wed, 25 Jan 2017 02:33:41 GMT']
      x-ms-copy-completion-time: ['Wed, 25 Jan 2017 02:33:41 GMT']
      x-ms-copy-id: [a960dbf0-d1a9-4e10-9805-77af57ade98d]
      x-ms-copy-progress: [78/78]
      x-ms-copy-source: ['https://vcrstorage391250768125.file.core.windows.net/share1/dir1/src_file.txt']
      x-ms-copy-status: [success]
      x-ms-type: [File]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://vcrstorage391250768125.file.core.windows.net/share1/dir1/src_file.txt']
      x-ms-date: ['Wed, 25 Jan 2017 02:33:43 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share2/dir2/dest_file.txt
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D444CA94B42D87"']
      Last-Modified: ['Wed, 25 Jan 2017 02:33:43 GMT']
      x-ms-copy-id: [64f28d23-0ea8-4ff8-821c-f63f3ea76b8c]
      x-ms-copy-status: [success]
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://vcrstorage391250768125.file.core.windows.net/share1/dir1/src_file.txt']
      x-ms-date: ['Wed, 25 Jan 2017 02:33:45 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/share2/dest_file.txt
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D444CA95F75B02"']
      Last-Modified: ['Wed, 25 Jan 2017 02:33:45 GMT']
      x-ms-copy-id: [85734466-b4a1-43d9-8d37-86715f5e0c0b]
      x-ms-copy-status: [success]
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
version: 1
