interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_file_scenario/providers/Microsoft.Storage/storageAccounts/dummystorage.listKeys?api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","permissions":"Full","value":"uDOxEeUk+Ctb2+O600HtqtMpfpUAZTvjgQz930q0aNBU0H1jbH07Z32USUdUi2cAJaMbBdlSaChzaDCT7tE3Jw=="},{"keyName":"key2","permissions":"Full","value":"HoJxaelwEpFuakMkf04JzqhlpKD2fPXf0nCKxJHU3Rejw3rxxCHEnRSjlwL6Dup3MZfa5CvKWivEqIZ/dExgeg=="}]}

        '}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:14 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7D949B33AD"']
      last-modified: ['Tue, 07 Feb 2017 17:20:14 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:15 GMT']
      x-ms-meta-cat: [hat]
      x-ms-meta-foo: [bar]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare02?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7D954369A2"']
      last-modified: ['Tue, 07 Feb 2017 17:20:15 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:16 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7D949B33AD"']
      last-modified: ['Tue, 07 Feb 2017 17:20:14 GMT']
      x-ms-share-quota: ['5120']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:16 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare02?comp=metadata&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7D954369A2"']
      last-modified: ['Tue, 07 Feb 2017 17:20:15 GMT']
      x-ms-meta-cat: [hat]
      x-ms-meta-foo: [bar]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:17 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage353428363413.file.core.windows.net/\"\
        ><Shares><Share><Name>testshare01</Name><Properties><Last-Modified>Tue, 07\
        \ Feb 2017 17:20:14 GMT</Last-Modified><Etag>\"0x8D44F7D949B33AD\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>testshare02</Name><Properties><Last-Modified>Tue,\
        \ 07 Feb 2017 17:20:15 GMT</Last-Modified><Etag>\"0x8D44F7D954369A2\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:18 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01?comp=metadata&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7D967B9206"']
      last-modified: ['Tue, 07 Feb 2017 17:20:18 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:21 GMT']
      x-ms-share-quota: ['3']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01?comp=properties&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7D983947A0"']
      last-modified: ['Tue, 07 Feb 2017 17:20:20 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['78']
      x-ms-date: ['Tue, 07 Feb 2017 17:20:22 GMT']
      x-ms-type: [file]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7D99A2C996"']
      last-modified: ['Tue, 07 Feb 2017 17:20:23 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'This is a test file for performance of automated tests.
      DO NOT MOVE OR DELETE!'
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:23 GMT']
      x-ms-range: [bytes=0-77]
      x-ms-version: ['2015-07-08']
      x-ms-write: [update]
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst?comp=range
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [zeGiTMG1TdAobIHawzap3A==]
      etag: ['"0x8D44F7D99D9C240"']
      last-modified: ['Tue, 07 Feb 2017 17:20:23 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:24 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst
  response:
    body: {string: !!python/unicode 'This is a test file for performance of automated
        tests. DO NOT MOVE OR DELETE!'}
    headers:
      content-range: [bytes 0-77/78]
      content-type: [application/octet-stream]
      etag: ['"0x8D44F7D99D9C240"']
      last-modified: ['Tue, 07 Feb 2017 17:20:23 GMT']
      x-ms-type: [File]
      x-ms-version: ['2015-07-08']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      x-ms-content-length: ['1234']
      x-ms-date: ['Tue, 07 Feb 2017 17:20:25 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst?comp=properties
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7D9B14ED85"']
      last-modified: ['Tue, 07 Feb 2017 17:20:25 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:26 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testfile.rst?comp=metadata
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7D9BDE2F1F"']
      last-modified: ['Tue, 07 Feb 2017 17:20:27 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:31 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01?comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage353428363413.file.core.windows.net/\"\
        \ ShareName=\"testshare01\" DirectoryPath=\"\"><Entries><File><Name>testfile.rst</Name><Properties><Content-Length>1234</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:32 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01?restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7D9FA363A4"']
      last-modified: ['Tue, 07 Feb 2017 17:20:33 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:33 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01?comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage353428363413.file.core.windows.net/\"\
        \ ShareName=\"testshare01\" DirectoryPath=\"\"><Entries><Directory><Name>testdir01</Name><Properties\
        \ /></Directory></Entries><NextMarker /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:34 GMT']
      x-ms-meta-a: [b]
      x-ms-meta-c: [d]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01?comp=metadata&restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7DA0AACB23"']
      last-modified: ['Tue, 07 Feb 2017 17:20:35 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['78']
      x-ms-date: ['Tue, 07 Feb 2017 17:20:37 GMT']
      x-ms-type: [file]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01/testfile.rst
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D44F7DA2A37601"']
      last-modified: ['Tue, 07 Feb 2017 17:20:38 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'This is a test file for performance of automated tests.
      DO NOT MOVE OR DELETE!'
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:38 GMT']
      x-ms-range: [bytes=0-77]
      x-ms-version: ['2015-07-08']
      x-ms-write: [update]
    method: PUT
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01/testfile.rst?comp=range
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [zeGiTMG1TdAobIHawzap3A==]
      etag: ['"0x8D44F7DA2AA7C2E"']
      last-modified: ['Tue, 07 Feb 2017 17:20:38 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:39 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01?comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://vcrstorage353428363413.file.core.windows.net/\"\
        \ ShareName=\"testshare01\" DirectoryPath=\"testdir01\"><Entries><File><Name>testfile.rst</Name><Properties><Content-Length>78</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:40 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01?comp=stats&restype=share
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><ShareStats><ShareUsage>1</ShareUsage></ShareStats>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:42 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir01?restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The\
        \ specified resource does not exist.\nRequestId:b3d4e81e-001a-00a8-0766-81d727000000\n\
        Time:2017-02-07T17:20:43.0103948Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 404, message: The specified resource does not exist.}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 07 Feb 2017 17:20:44 GMT']
      x-ms-version: ['2015-07-08']
    method: DELETE
    uri: https://dummystorage.file.core.windows.net/testshare01/testdir02?restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
version: 1
