interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cls_test_adls_file000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001","name":"cls_test_adls_file000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"encryptionState": "Disabled"}, "location": "eastus2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"encryptionState":"Disabled","provisioningState":"Creating","state":null,"endpoint":null,"accountId":"5c86c7c8-1237-41fe-baa0-d1701aac7351"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/5c86c7c8-1237-41fe-baa0-d1701aac73510?api-version=2016-11-01&expanded=true']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002/operationresults/0?api-version=2016-11-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/5c86c7c8-1237-41fe-baa0-d1701aac73510?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Disabled","encryptionConfig":{},"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000002.azuredatalakestore.net","accountId":"5c86c7c8-1237-41fe-baa0-d1701aac7351","creationTime":"2017-12-14T17:57:53.2885965Z","lastModifiedTime":"2017-12-14T17:57:53.2885965Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?api-version=2016-11-01&OP=GETFILESTATUS
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder01 [cce7f86c-4008-4ac4-997b-c3291fc52742][2017-12-14T09:58:36.9739612-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?api-version=2016-11-01&OP=MKDIRS
  response:
    body: {string: '{"boolean":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?api-version=2016-11-01&OP=GETFILESTATUS
  response:
    body: {string: '{"FileStatus":{"length":0,"pathSuffix":"","type":"DIRECTORY","blockSize":0,"accessTime":1513274317147,"modificationTime":1513274317147,"replication":0,"permission":"770","owner":"5963f50c-7c43-405c-af7e-53294de76abd","group":"5963f50c-7c43-405c-af7e-53294de76abd","aclBit":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?api-version=2016-11-01&OP=GETFILESTATUS
  response:
    body: {string: '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder01/adltestfile01 [4953ff24-3b50-41c4-88ad-b07b7b611c81][2017-12-14T09:58:39.5582761-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?write=true&overwrite=true&api-version=2016-11-01&OP=CREATE&leaseid=03c6e285-f876-402c-b1ec-50e2c7c34d57&filesessionid=03c6e285-f876-402c-b1ec-50e2c7c34d57&syncFlag=CLOSE
  response:
    body: {string: ''}
    headers:
      contentlength: ['0']
      location: ['https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?write=true&overwrite=true&api-version=2016-11-01&OP=CREATE&leaseid=03c6e285-f876-402c-b1ec-50e2c7c34d57&filesessionid=03c6e285-f876-402c-b1ec-50e2c7c34d57&syncFlag=CLOSE']
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?api-version=2016-11-01&OP=GETFILESTATUS
  response:
    body: {string: '{"FileStatus":{"length":6,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1513274319799,"modificationTime":1513274319902,"replication":1,"permission":"770","owner":"5963f50c-7c43-405c-af7e-53294de76abd","group":"5963f50c-7c43-405c-af7e-53294de76abd","msExpirationTime":0,"aclBit":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfsext/adltestfolder01/adltestfile01?expiryOption=Absolute&api-version=2016-11-01&OP=SETEXPIRY&expireTime=1896091200000
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfsext/adltestfolder01/adltestfile01?api-version=2016-11-01&OP=SETEXPIRY&expiryOption=NeverExpire
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?destination=adltestfolder02%2Fadltestfile01&api-version=2016-11-01&OP=RENAME
  response:
    body: {string: '{"boolean":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/adltestfile01?api-version=2016-11-01&filesessionid=d3a154df-77a5-4af3-8ba8-ec96e605eae5&OP=OPEN&read=true&offset=0&length=6
  response:
    body: {string: '123456'}
    headers:
      content-type: [application/octet-stream]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02?api-version=2016-11-01&OP=LISTSTATUS
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":6,"pathSuffix":"adltestfile01","type":"FILE","blockSize":268435456,"accessTime":1513274319799,"modificationTime":1513274319902,"replication":1,"permission":"770","owner":"5963f50c-7c43-405c-af7e-53294de76abd","group":"5963f50c-7c43-405c-af7e-53294de76abd","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: '123456'
    headers:
    method: POST
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/adltestfile01?filesessionid=9b416a38-4069-4657-933f-8669c0d71ec4&api-version=2016-11-01&OP=APPEND&append=true&leaseid=9b416a38-4069-4657-933f-8669c0d71ec4&offset=6&syncFlag=CLOSE
  response:
    body: {string: ''}
    headers:
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: Local File Content
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile02?write=true&overwrite=true&api-version=2016-11-01&OP=CREATE&leaseid=ff951c79-fd70-4f3b-bf8a-90c614234940&filesessionid=ff951c79-fd70-4f3b-bf8a-90c614234940&syncFlag=CLOSE
  response:
    body: {string: ''}
    headers:
      contentlength: ['0']
      location: ['https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile02?write=true&overwrite=true&api-version=2016-11-01&OP=CREATE&leaseid=ff951c79-fd70-4f3b-bf8a-90c614234940&filesessionid=ff951c79-fd70-4f3b-bf8a-90c614234940&syncFlag=CLOSE']
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.22.00]
    status: {code: 201, message: Created}
version: 1
