interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cls_test_adls_file000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001","name":"cls_test_adls_file000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"location": "eastus2", "properties": {"encryptionState":
      "Disabled"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body: {string: !!python/unicode '{"properties":{"encryptionState":"Disabled","provisioningState":"Creating","state":null,"endpoint":null,"accountId":"63d1cc12-ca8d-4185-bce0-a726ee05862e"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/63d1cc12-ca8d-4185-bce0-a726ee05862e0?api-version=2016-11-01&expanded=true']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002/operationresults/0?api-version=2016-11-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/63d1cc12-ca8d-4185-bce0-a726ee05862e0?api-version=2016-11-01&expanded=true
  response:
    body: {string: !!python/unicode '{"status":"InProgress"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body: {string: !!python/unicode '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallAllowDataLakeAnalytics":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Disabled","encryptionConfig":{},"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000002.azuredatalakestore.net","accountId":"63d1cc12-ca8d-4185-bce0-a726ee05862e","creationTime":"2017-12-26T22:40:15.8162553Z","lastModifiedTime":"2017-12-26T22:40:15.8162553Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cls_test_adls_file000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?api-version=2016-11-01&OP=GETFILESTATUS
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder01 [10725f34-3021-445d-b1cc-46651e410f98][2017-12-26T14:41:00.9184955-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?api-version=2016-11-01&OP=MKDIRS
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01?api-version=2016-11-01&OP=GETFILESTATUS
  response:
    body: {string: !!python/unicode '{"FileStatus":{"length":0,"pathSuffix":"","type":"DIRECTORY","blockSize":0,"accessTime":1514328061021,"modificationTime":1514328061021,"replication":0,"permission":"770","owner":"5963f50c-7c43-405c-af7e-53294de76abd","group":"5963f50c-7c43-405c-af7e-53294de76abd","aclBit":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?api-version=2016-11-01&OP=GETFILESTATUS
  response:
    body: {string: !!python/unicode '{"RemoteException":{"exception":"FileNotFoundException","message":"File/Folder
        does not exist: /adltestfolder01/adltestfile01 [669d2c2b-00c4-4ddd-a474-e749a5d66914][2017-12-26T14:41:03.2086283-08:00]","javaClassName":"java.io.FileNotFoundException"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x8309000A']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '123456'
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?write=true&filesessionid=5a1e6691-2f76-409f-b8dd-b4ae607ad364&leaseid=5a1e6691-2f76-409f-b8dd-b4ae607ad364&api-version=2016-11-01&syncFlag=CLOSE&overwrite=true&OP=CREATE
  response:
    body: {string: !!python/unicode ''}
    headers:
      contentlength: ['0']
      location: ['https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?write=true&filesessionid=5a1e6691-2f76-409f-b8dd-b4ae607ad364&leaseid=5a1e6691-2f76-409f-b8dd-b4ae607ad364&api-version=2016-11-01&syncFlag=CLOSE&overwrite=true&OP=CREATE']
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?api-version=2016-11-01&OP=GETFILESTATUS
  response:
    body: {string: !!python/unicode '{"FileStatus":{"length":6,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1514328063454,"modificationTime":1514328063505,"replication":1,"permission":"770","owner":"5963f50c-7c43-405c-af7e-53294de76abd","group":"5963f50c-7c43-405c-af7e-53294de76abd","msExpirationTime":0,"aclBit":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfsext/adltestfolder01/adltestfile01?api-version=2016-11-01&expireTime=1896091200000&expiryOption=Absolute&OP=SETEXPIRY
  response:
    body: {string: !!python/unicode ''}
    headers:
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfsext/adltestfolder01/adltestfile01?api-version=2016-11-01&expiryOption=NeverExpire&OP=SETEXPIRY
  response:
    body: {string: !!python/unicode ''}
    headers:
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?api-version=2016-11-01&destination=adltestfolder02%2Fadltestfile01&OP=RENAME
  response:
    body: {string: !!python/unicode '{"boolean":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/adltestfile01?filesessionid=d7962d94-edcb-48a0-ba80-76bc87b016cb&read=true&length=6&offset=0&api-version=2016-11-01&OP=OPEN
  response:
    body: {string: !!python/unicode '123456'}
    headers:
      content-type: [application/octet-stream]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02?api-version=2016-11-01&OP=LISTSTATUS
  response:
    body: {string: !!python/unicode '{"FileStatuses":{"FileStatus":[{"length":6,"pathSuffix":"adltestfile01","type":"FILE","blockSize":268435456,"accessTime":1514328063454,"modificationTime":1514328063505,"replication":1,"permission":"770","owner":"5963f50c-7c43-405c-af7e-53294de76abd","group":"5963f50c-7c43-405c-af7e-53294de76abd","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '123456'
    headers:
    method: POST
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder02/adltestfile01?filesessionid=cf18c077-577f-4fc3-9449-f5c4877e8674&leaseid=cf18c077-577f-4fc3-9449-f5c4877e8674&offset=6&api-version=2016-11-01&syncFlag=CLOSE&append=true&OP=APPEND
  response:
    body: {string: !!python/unicode ''}
    headers:
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode 'sources=adltestfolder01/adltestfile02,adltestfolder02/adltestfile01'
    headers:
    method: POST
    uri: https://cliadls000002.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile03?api-version=2016-11-01&deleteSourceDirectory=false&OP=MSCONCAT
  response:
    body: {string: !!python/unicode ''}
    headers:
      status: ['0x0']
      x-ms-webhdfs-version: [17.04.24.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cls_test_adls_file000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTFM6NUZURVNUOjVGQURMUzo1RkZJTEVYTTVDTURUTFY3SE81RDdKQktZN1VJU3xDNEMyN0FDMUI1QTg4M0Y5LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1188']
    status: {code: 202, message: Accepted}
version: 1
