interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/.?api-version=2016-11-01&OP=LISTSTATUS
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder01?api-version=2016-11-01&OP=MKDIRS
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/.?api-version=2016-11-01&OP=LISTSTATUS
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"adltestfolder01","type":"DIRECTORY","blockSize":0,"accessTime":1490373545933,"modificationTime":1490373545933,"replication":0,"permission":"770","owner":"f5181084-3fee-489a-9278-85f6fc92c3bb","group":"f5181084-3fee-489a-9278-85f6fc92c3bb","aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder01?api-version=2016-11-01&OP=LISTSTATUS
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
- request:
    body: '123456'
    headers:
    method: PUT
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?overwrite=true&api-version=2016-11-01&OP=CREATE&write=true
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?overwrite=true&api-version=2016-11-01&OP=CREATE&write=true']
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder01?api-version=2016-11-01&OP=LISTSTATUS
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":6,"pathSuffix":"adltestfile01","type":"FILE","blockSize":268435456,"accessTime":1490373548257,"modificationTime":1490373548325,"replication":1,"permission":"770","owner":"f5181084-3fee-489a-9278-85f6fc92c3bb","group":"f5181084-3fee-489a-9278-85f6fc92c3bb","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls123416.azuredatalakestore.net/webhdfsext/adltestfolder01/adltestfile01?expireTime=1896091200000&api-version=2016-11-01&OP=SETEXPIRY&expiryOption=Absolute
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls123416.azuredatalakestore.net/webhdfsext/adltestfolder01/adltestfile01?api-version=2016-11-01&OP=SETEXPIRY&expiryOption=NeverExpire
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile01?api-version=2016-11-01&destination=adltestfolder02%2Fadltestfile01&OP=RENAME
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder02/adltestfile01?read=true&api-version=2016-11-01&offset=0&OP=OPEN&length=6
  response:
    body: {string: '123456'}
    headers:
      Content-Type: [application/octet-stream]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: '123456'
    headers:
    method: POST
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder02/adltestfile01?api-version=2016-11-01&append=true&OP=APPEND&offset=6
  response:
    body: {string: ''}
    headers:
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: sources=adltestfolder01/adltestfile02,adltestfolder02/adltestfile01
    headers:
    method: POST
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile03?deleteSourceDirectory=false&api-version=2016-11-01&OP=MSCONCAT
  response:
    body: {string: ''}
    headers:
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile03?api-version=2016-11-01&OP=LISTSTATUS
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":30,"pathSuffix":"","type":"FILE","blockSize":268435456,"accessTime":1490373569903,"modificationTime":1490373569934,"replication":1,"permission":"770","owner":"f5181084-3fee-489a-9278-85f6fc92c3bb","group":"f5181084-3fee-489a-9278-85f6fc92c3bb","msExpirationTime":0,"aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder01/adltestfile03?api-version=2016-11-01&recursive=False&OP=DELETE
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: PUT
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder02/tempfile01.txt?overwrite=true&api-version=2016-11-01&OP=CREATE&write=true
  response:
    body: {string: ''}
    headers:
      ContentLength: ['0']
      Location: ['https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder02/tempfile01.txt?overwrite=true&api-version=2016-11-01&OP=CREATE&write=true']
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/adltestfolder02?api-version=2016-11-01&recursive=True&OP=DELETE
  response:
    body: {string: '{"boolean":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cliadls123416.azuredatalakestore.net/webhdfs/v1/.?api-version=2016-11-01&OP=LISTSTATUS
  response:
    body: {string: '{"FileStatuses":{"FileStatus":[{"length":0,"pathSuffix":"adltestfolder01","type":"DIRECTORY","blockSize":0,"accessTime":1490373545933,"modificationTime":1490373574381,"replication":0,"permission":"770","owner":"f5181084-3fee-489a-9278-85f6fc92c3bb","group":"f5181084-3fee-489a-9278-85f6fc92c3bb","aclBit":false}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: ['0x0']
      x-ms-webhdfs-version: [16.12.19.00]
    status: {code: 200, message: OK}
version: 1
