[run]
placeholder.json = True
concurrency = multiprocessing
omit =
    */env/*
    */tests/*
    driver@Umbrella unsupported.@webex  $/*
    cover.py
source =
    src/
branch = True
disable_warnings = no-data-collected
