# Exclude everything by default
*
# Make an exception for azure-cli source code
!src/*
# Make an exception for private SDKs if they exist
!privates/*
# Make an exception for tab completion script
!az.completion
# Make an exception for the license file
!LICENSE.txt
# Exclude build droppings, as mentioned in .gitignore
src/build*
**/*.pyc
**/__pycache__
