[flake8]
max-line-length = 120
max-complexity = 10
ignore =
    E501,  # line too long, it is covered by pylint
    E722,  # bare except, bad practice, to be removed in the future
    F401,  # imported but unused, too many violations, to be removed in the future
    F811,  # redefinition of unused, to be removed in the future
    C901   # code flow is too complex, too many violations, to be removed in the future
    W504   # line break after binary operator effect on readability is subjective
    W503   # line break before binary operator, not compliant with PEP 8
    E203   # whitespace before ':', not compliant with PEP 8
per-file-ignores =
    # module level import not at top of file, elevate timer to measure import time
    src/azure-cli/azure/cli/__main__.py:E402
exclude =
    azure_bdist_wheel.py
    build
    tools
    scripts
    doc
    build_scripts
    */grammar/
    vendored_sdks
    tests
