[flake8]
max-line-length = 120
max-complexity = 10
ignore =
    E501,  # line too long, it is covered by pylint
    E722,  # bare except, bad practice, to be removed in the future
    F401,  # imported but unused, too many violations, to be removed in the future
    F811,  # redefinition of unused, to be removed in the future
    C901   # code flow is too complex, too many violations, to be removed in the future
exclude = 
    azure_bdist_wheel.py
    build
    tools
    scripts
    doc
    build_scripts
    src/command_modules/azure-cli-storage
    src/command_modules/azure-cli-keyvault
    src/command_modules/azure-cli-lab
    src/command_modules/azure-cli-rdbms
    src/command_modules/azure-cli-lab
    src/command_modules/azure-cli-sql
    src/command_modules/azure-cli-vm
    src/command_modules/azure-cli-acr
    src/command_modules/azure-cli-acs
    src/command_modules/azure-cli-batch
    src/command_modules/azure-cli-cognitiveservices
    src/command_modules/azure-cli-cosmosdb
    src/command_modules/azure-cli-dla
    src/command_modules/azure-cli-dls
    src/command_modules/azure-cli-iot
    src/command_modules/azure-cli-monitor
    src/azure-cli-testsdk/azure/cli/testsdk/vcr_test_base.py  # will eventually be removed
