# Set the default behavior (used when a rule below doesn't match)
* text=auto

*.sln -text
*.ico -text
*.bmp -text
*.png -text
*.snk -text
*.mht -text
*.pickle -text

# Some Windows-specific files should always be CRLF
*.bat eol=crlf
