# Python cache
__pycache__/
*.pyc

# Virtual environment
env/
env27/
venv/
.python-version

# PTVS analysis
.ptvs/

# Build results
obj/
dist/
MANIFEST
build_scripts/windows/out
cli-build-*/
*.rpm
bin/docker/*.tar.gz

# Result of running python setup.py install/pip install -e
RECORD.txt
build/
*.egg-info/

# Test results
TestResults/
test_failures.txt
zone*export.txt

# Credentials
credentials_real.json
testsettings_local.json
servicebus_settings_real.py
storage_settings_real.py
legacy_mgmt_settings_real.py
mgmt_settings_real.py
app_creds_real.py

# User-specific files
*.suo
*.user
*.sln.docstates
.vs/
.vscode/*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

.idea
src/build
*.iml
/doc/_build
/doc/sphinx/_build
/.vs/config/applicationhost.config
.vscode/settings.json
.vscode/.ropeproject/
.vscode/tags
.vscode/cSpell.json
.project
.pydevproject

# Azure deployment credentials
*.pubxml

# Auxiliary files
command_coverage.txt

# Test artifacts
private_config.json
scripts/smart_create_gen/config.ini
debug.log
test_results/

# Code coverage
.coverage

# CI output
artifacts/

# Nose test output
.noseids

# local Azure configuration
.azure-config/

# Python version
.python-version

# Pytest
.cache/
.pytest_cache/

# Logs
pip.log

# Setuptools
.eggs/

# Tox
.tox/

# exe
*.exe

az_command_coverage.txt

