dist: trusty
sudo: off
language: python
services:
  - docker
git:
  depth: false
addons:
  apt:
    packages:
      - libssl-dev
      - libffi-dev
      - python-dev
install: pip install tox
cache: pip
jobs:
  include:
    - stage: precheck
      env: PURPOSE='PEP8'
      script: ./scripts/ci/precheck_pep8.sh
      python: 3.6
    - stage: precheck
      env: PURPOSE='Headers'
      script: ./scripts/ci/precheck_header.sh
      python: 3.6
    - stage: precheck
      env: PURPOSE='Dependency Check'
      script: ./scripts/dependency/check.sh
      python: 3.6
    - stage: verify
      env: PURPOSE='Lint Command Table and Help'
      script: ./scripts/ci/verify_linter.sh
      python: 3.6
    - stage: unittest
      python: 3.6
      env: TOXENV=py36
      script: ./scripts/ci/unittest.sh
    - stage: unittest
      python: 2.7
      env: TOXENV=py27
      script: ./scripts/ci/unittest.sh
    - stage: verify
      env:
      - PURPOSE='Automation'
      - REDUCE_SDK='True'
      script: ./scripts/ci/test_automation.sh
      python: 3.6
    - stage: verify
      env: PURPOSE='Automation'
      script: ./scripts/ci/test_automation.sh
      python: 2.7
    - stage: verify
      env:
      - PURPOSE='Automation'
      - REDUCE_SDK='True'
      - AZURE_CLI_TEST_TARGET_PROFILE='2017-03-09'
      script: ./scripts/ci/test_automation.sh
      python: 3.6
    - stage: verify
      env:
      - PURPOSE='Automation'
      - AZURE_CLI_TEST_TARGET_PROFILE='2018-03-01'
      script: ./scripts/ci/test_automation.sh
      python: 2.7
    - stage: verify
      script: ./scripts/ci/test_static.sh
      env: PURPOSE='Static Check'
      python: 3.6
    - stage: verify
      script: ./scripts/ci/test_profile_integration.sh
      env: PURPOSE='Integration for profiles'
      python: 3.6
    - stage: verify
      script: ./scripts/ci/test_profile_integration.sh
      env: PURPOSE='Integration for profiles'
      python: 2.7
    - stage: verify
      script: ./scripts/ci/test_perf.sh
      env: PURPOSE='Module Load Performance'
      python: 3.6
    - stage: verify
      script: ./scripts/ci/test_ref_doc.sh
      env: PURPOSE='RefDocVerify'
      python: 3.6
    - stage: verify
      env: PURPOSE='Load extension commands'
      script: ./scripts/ci/test_extensions.sh
      python: 3.6
    - stage: publish
      script: ./scripts/ci/publish.sh
      python: 3.6
      env: PURPOSE='Nightly Edge Build'
      if: branch = dev and type = push
    - stage: publish
      script: ./scripts/ci/build_droid.sh
      python: 3.6
      env: PURPOSE='Automation Docker'
      if: repo = Azure/azure-cli and type = push
stages:
  - precheck
  - unittest
  - verify
  - publish