dist: trusty
sudo: off
language: python
services:
  - docker
git:
  depth: false
addons:
  apt:
    packages:
      - libssl-dev
      - libffi-dev
      - python-dev
install: pip install --upgrade pip tox six
cache: pip
jobs:
  include:
    - stage: precheck
      env: PURPOSE='Dependency Check'
      script: ./scripts/ci/dependency_check.sh
      python: 3.6
    - stage: unittest
      python: 3.6
      env: TOXENV=py36
      script: ./scripts/ci/unittest.sh
    - stage: unittest
      python: 2.7
      env: TOXENV=py27
      script: ./scripts/ci/unittest.sh
    - stage: verify
      script: ./scripts/ci/test_profile_integration.sh
      env: PURPOSE='Integration for profiles'
      python: 3.6
    - stage: verify
      script: ./scripts/ci/test_profile_integration.sh
      env: PURPOSE='Integration for profiles'
      python: 2.7
    - stage: verify
      script: ./scripts/ci/test_ref_doc.sh
      env: PURPOSE='RefDocVerify'
      python: 3.6
    - stage: verify
      env: PURPOSE='Load extension commands'
      script: ./scripts/ci/test_extensions.sh
      python: 3.6
    - stage: publish
      script: ./scripts/ci/publish.sh
      python: 3.6
      env: PURPOSE='Nightly Edge Build'
      if: branch = dev and type = push
    - stage: publish
      script: ./scripts/ci/build_droid.sh
      python: 3.6
      env: PURPOSE='Automation Docker'
      if: repo = Azure/azure-cli and type = push
stages:
  - precheck
  - unittest
  - verify
  - publish
