dist: trusty
sudo: off
language: python
addons:
  apt:
    packages:
      - libssl-dev
      - libffi-dev
      - python-dev
install: echo 'skip'
cache: pip
jobs:
  include:
    - stage: build
      script: ./scripts/ci/build.sh
      python: 3.6
    - stage: verify
      env: PURPOSE='Automation'
      script: ./scripts/ci/test_automation.sh
      python: 3.6
    - stage: verify
      env: PURPOSE='Automation'
      script: ./scripts/ci/test_automation.sh
      python: 2.7
