resources:
- repo: self

trigger:
  batch: true
  branches:
    include:
    - '*'

pr:
  branches:
    include:
      - '*'

jobs:
- job: AutomationTest20200901
  displayName: Automation Test (Profile 2020-09-01)
  timeoutInMinutes: 120
  pool:
    vmImage: 'ubuntu-20.04'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'
      Python38:
        python.version: '3.8'
      Python310:
        python.version: '3.10'
  steps:
    - template: .azure-pipelines/templates/automation_test.yml
      parameters:
        pythonVersion: '$(python.version)'
        profile: '2020-09-01-hybrid'
        fullTest: true

- job: AutomationTest20190301
  displayName: Automation Test (Profile 2019-03-01)
  timeoutInMinutes: 120
  pool:
    vmImage: 'ubuntu-20.04'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'
      Python38:
        python.version: '3.8'
      Python310:
        python.version: '3.10'
  steps:
    - template: .azure-pipelines/templates/automation_test.yml
      parameters:
        pythonVersion: '$(python.version)'
        profile: '2019-03-01-hybrid'
        fullTest: true

- job: AutomationTest20180301
  displayName: Automation Test (Profile 2018-03-01)
  timeoutInMinutes: 120
  pool:
    vmImage: 'ubuntu-20.04'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'
      Python38:
        python.version: '3.8'
      Python310:
        python.version: '3.10'
  steps:
    - template: .azure-pipelines/templates/automation_test.yml
      parameters:
        pythonVersion: '$(python.version)'
        profile: '2018-03-01-hybrid'
        fullTest: true

- job: AutomationFullTestPython36ProfileLatest
  displayName: Automation Full Test Python36 Profile Latest
  timeoutInMinutes: 9999
  strategy:
    maxParallel: 8
    matrix:
      8_1:
        Instance: 8_1
      8_2:
        Instance: 8_2
      8_3:
        Instance: 8_3
      8_4:
        Instance: 8_4
      8_5:
        Instance: 8_5
      8_6:
        Instance: 8_6
      8_7:
        Instance: 8_7
      8_8:
        Instance: 8_8
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
    - template: .azure-pipelines/templates/automation_test.yml
      parameters:
        pythonVersion: '3.6'
        profile: 'latest'
        instance: $(Instance)
        fullTest: true

- job: AutomationFullTestPython38ProfileLatest
  displayName: Automation Full Test Python38 Profile Latest
  timeoutInMinutes: 9999
  strategy:
    maxParallel: 8
    matrix:
      8_1:
        Instance: 8_1
      8_2:
        Instance: 8_2
      8_3:
        Instance: 8_3
      8_4:
        Instance: 8_4
      8_5:
        Instance: 8_5
      8_6:
        Instance: 8_6
      8_7:
        Instance: 8_7
      8_8:
        Instance: 8_8
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
    - template: .azure-pipelines/templates/automation_test.yml
      parameters:
        pythonVersion: '3.8'
        profile: 'latest'
        instance: $(Instance)
        fullTest: true

- job: AutomationFullTestPython310ProfileLatest
  displayName: Automation Full Test Python310 Profile Latest
  timeoutInMinutes: 9999
  strategy:
    maxParallel: 8
    matrix:
      8_1:
        Instance: 8_1
      8_2:
        Instance: 8_2
      8_3:
        Instance: 8_3
      8_4:
        Instance: 8_4
      8_5:
        Instance: 8_5
      8_6:
        Instance: 8_6
      8_7:
        Instance: 8_7
      8_8:
        Instance: 8_8
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
    - template: .azure-pipelines/templates/automation_test.yml
      parameters:
        pythonVersion: '3.10'
        profile: 'latest'
        instance: $(Instance)
        fullTest: true
