resources:
- repo: self

trigger:
  batch: true
  branches:
    include:
    - '*'

pr:
  branches:
    include:
      - '*'

jobs:
- job: AutomationFullTestPython36ProfileLatest
  displayName: Automation Full Test Python36 Profile Latest
  timeoutInMinutes: 9999
  strategy:
    maxParallel: 14
    matrix:
      resource:
        Target: resource
      acs:
        Target: acs
      iot:
        Target: iot
      keyvault:
        Target: keyvault
      feedback:
        Target: feedback
      aro:
        Target: aro
      acr:
        Target: acr
      sqlvm:
        Target: sqlvm
      role:
        Target: role
      botservice:
        Target: botservice
      container:
        Target: container
      kusto:
        Target: kusto
      find:
        Target: find
      advisor:
        Target: advisor
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
    - template: .azure-pipelines/templates/automation_test.yml
      parameters:
        pythonVersion: '3.6'
        profile: 'latest'
        module: '$(Target)'

- job: AutomationFullTestPython36ProfileLatestPart2
  displayName: Automation Full Test Python36 Profile Latest Part2
  timeoutInMinutes: 9999
  strategy:
    maxParallel: 16
    matrix:
      sql:
        Target: sql
      storage:
        Target: storage
      apim:
        Target: apim
      eventhubs:
        Target: eventhubs
      relay:
        Target: relay
      netappfiles:
        Target: netappfiles
      cognitiveservices:
        Target: cognitiveservices
      reservations:
        Target: reservations
      servicebus:
        Target: servicebus
      batchai:
        Target: batchai
      search:
        Target: search
      cloud:
        Target: cloud
      databoxedge:
        Target: databoxedge
      billing:
        Target: billing
      maps:
        Target: maps
      extension:
        Target: extension
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
    - template: .azure-pipelines/templates/automation_test.yml
      parameters:
        pythonVersion: '3.6'
        profile: 'latest'
        module: '$(Target)'

- job: AutomationFullTestPython36ProfileLatestPart3
  displayName: Automation Full Test Python36 Profile Latest Part3
  timeoutInMinutes: 9999
  strategy:
    maxParallel: 16
    matrix:
      vm:
        Target: vm
      ams:
        Target: ams
      backup:
        Target: backup
      monitor:
        Target: monitor
      servicefabric:
        Target: servicefabric
      synapse:
        Target: synapse
      hdinsight:
        Target: hdinsight
      cdn:
        Target: cdn
      redis:
        Target: redis
      dms:
        Target: dms
      util:
        Target: util
      config:
        Target: config
      deploymentmanager:
        Target: deploymentmanager
      managedservices:
        Target: managedservices
      profile:
        Target: profile
      security:
        Target: security
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
    - template: .azure-pipelines/templates/automation_test.yml
      parameters:
        pythonVersion: '3.6'
        profile: 'latest'
        module: '$(Target)'

- job: AutomationFullTestPython36ProfileLatestPart4
  displayName: Automation Full Test Python36 Profile Latest Part4
  timeoutInMinutes: 9999
  strategy:
    maxParallel: 16
    matrix:
      rdbms:
        Target: rdbms
      network:
        Target: network
      appservice:
        Target: appservice
      cosmosdb:
        Target: cosmosdb
      dla:
        Target: dla
      lab:
        Target: lab
      appconfig:
        Target: appconfig
      privatedns:
        Target: privatedns
      eventgrid:
        Target: eventgrid
      policyinsights:
        Target: policyinsights
      batch:
        Target: batch
      natgateway:
        Target: natgateway
      signalr:
        Target: signalr
      consumption:
        Target: consumption
      dls:
        Target: dls
      configure:
        Target: configure

  pool:
    vmImage: 'ubuntu-20.04'
  steps:
    - template: .azure-pipelines/templates/automation_test.yml
      parameters:
        pythonVersion: '3.6'
        profile: 'latest'
        module: '$(Target)'

#jobs:
#- job: AutomationTest
#  displayName: Automation Test (Profile Latest)
#  timeoutInMinutes: 120
#  pool:
#    vmImage: 'ubuntu-20.04'
#  strategy:
#    matrix:
#      Python36:
#        python.version: '3.6'
#      Python38:
#        python.version: '3.8'
#      Python39:
#        python.version: '3.9'
#      Python310:
#        python.version: '3.10'
#  steps:
#    - template: .azure-pipelines/templates/automation_test.yml
#      parameters:
#        pythonVersion: '$(python.version)'
#        profile: 'latest'
#        fullTest: true
#
#- job: AutomationTest20200901
#  displayName: Automation Test (Profile 2020-09-01)
#  timeoutInMinutes: 120
#  pool:
#    vmImage: 'ubuntu-20.04'
#  strategy:
#    matrix:
#      Python36:
#        python.version: '3.6'
#      Python38:
#        python.version: '3.8'
#      Python39:
#        python.version: '3.9'
#      Python310:
#        python.version: '3.10'
#  steps:
#    - template: .azure-pipelines/templates/automation_test.yml
#      parameters:
#        pythonVersion: '$(python.version)'
#        profile: '2020-09-01-hybrid'
#        fullTest: true
#
#- job: AutomationTest20190301
#  displayName: Automation Test (Profile 2019-03-01)
#  timeoutInMinutes: 120
#  pool:
#    vmImage: 'ubuntu-20.04'
#  strategy:
#    matrix:
#      Python36:
#        python.version: '3.6'
#      Python38:
#        python.version: '3.8'
#      Python39:
#        python.version: '3.9'
#      Python310:
#        python.version: '3.10'
#  steps:
#    - template: .azure-pipelines/templates/automation_test.yml
#      parameters:
#        pythonVersion: '$(python.version)'
#        profile: '2019-03-01-hybrid'
#        fullTest: true
#
#- job: AutomationTest20180301
#  displayName: Automation Test (Profile 2018-03-01)
#  timeoutInMinutes: 120
#  pool:
#    vmImage: 'ubuntu-20.04'
#  strategy:
#    matrix:
#      Python36:
#        python.version: '3.6'
#      Python38:
#        python.version: '3.8'
#      Python39:
#        python.version: '3.9'
#      Python310:
#        python.version: '3.10'
#  steps:
#    - template: .azure-pipelines/templates/automation_test.yml
#      parameters:
#        pythonVersion: '$(python.version)'
#        profile: '2018-03-01-hybrid'
#        fullTest: true
