[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argcomplete = "==1.8.0"
colorama = "==0.3.9"
humanfriendly = "==4.7"
jmespath = "*"
paramiko = "==2.0.2"
six = "==1.11.0"
Pygments = "==2.1.3"
"99bd9ed" = {path = "./src/azure-cli-core", editable = true}
"18f4d8b" = {path = "./src/azure-cli-nspkg", editable = true}
"3ffd41b" = {path = "./src/command_modules/azure-cli-servicefabric", editable = true}
"a6deb8b" = {path = "./src/command_modules/azure-cli-dls", editable = true}
"8d0cfa6" = {path = "./src/command_modules/azure-cli-appservice", editable = true}
"1b6246f" = {path = "./src/command_modules/azure-cli-dla", editable = true}
"7d1b2ea" = {path = "./src/command_modules/azure-cli-storage", editable = true}
"f907c17" = {path = "./src/command_modules/azure-cli-cloud", editable = true}
"95bed24" = {path = "./src/command_modules/azure-cli-container", editable = true}
"a65e839" = {path = "./src/command_modules/azure-cli-cognitiveservices", editable = true}
"784de26" = {path = "./src/command_modules/azure-cli-batch", editable = true}
"0a47c03" = {path = "./src/command_modules/azure-cli-eventgrid", editable = true}
"cd3e34d" = {path = "./src/command_modules/azure-cli-network", editable = true}
"046882e" = {path = "./src/command_modules/azure-cli-vm", editable = true}
"d55369b" = {path = "./src/command_modules/azure-cli-ams", editable = true}
"95a0cff" = {path = "./src/command_modules/azure-cli-feedback", editable = true}
"b32ec75" = {path = "./src/command_modules/azure-cli-acr", editable = true}
"48ae7c3" = {path = "./src/command_modules/azure-cli-iot", editable = true}
"02ce87b" = {path = "./src/command_modules/azure-cli-monitor", editable = true}
"021a550" = {path = "./src/command_modules/azure-cli-acs", editable = true}
"436de4b" = {path = "./src/command_modules/azure-cli-rdbms", editable = true}
"502ddf5" = {path = "./src/command_modules/azure-cli-interactive", editable = true}
"dcf6287" = {path = "./src/command_modules/azure-cli-servicebus", editable = true}
"619eb11" = {path = "./src/command_modules/azure-cli-backup", editable = true}
"9c587fd" = {path = "./src/command_modules/azure-cli-lab", editable = true}
"d01128d" = {path = "./src/command_modules/azure-cli-advisor", editable = true}
"2e50be9" = {path = "./src/command_modules/azure-cli-reservations", editable = true}
"607fc9b" = {path = "./src/command_modules/azure-cli-find", editable = true}
"46a0ce8" = {path = "./src/command_modules/azure-cli-keyvault", editable = true}
"d6034a2" = {path = "./src/command_modules/azure-cli-eventhubs", editable = true}
"971a55e" = {path = "./src/command_modules/azure-cli-role", editable = true}
"1cb4b97" = {path = "./src/command_modules/azure-cli-billing", editable = true}
"6215657" = {path = "./src/command_modules/azure-cli-redis", editable = true}
"ef4560e" = {path = "./src/command_modules/azure-cli-resource", editable = true}
"d817222" = {path = "./src/command_modules/azure-cli-cdn", editable = true}
"824a5b9" = {path = "./src/command_modules/azure-cli-maps", editable = true}
"5333f5e" = {path = "./src/command_modules/azure-cli-consumption", editable = true}
"c961484" = {path = "./src/command_modules/azure-cli-configure", editable = true}
"8f0a4b8" = {path = "./src/command_modules/azure-cli-extension", editable = true}
"5c1b9ca" = {path = "./src/command_modules/azure-cli-cosmosdb", editable = true}
"457055c" = {path = "./src/command_modules/azure-cli-batchai", editable = true}
"518e33e" = {path = "./src/command_modules/azure-cli-sql", editable = true}
"b23dd24" = {path = "./src/command_modules/azure-cli-policyinsights", editable = true}
"909ea2c" = {path = "./src/command_modules/azure-cli-profile", editable = true}
"04b0b39" = {path = "./src/command_modules/azure-cli-dms", editable = true}
"3cd971a" = {path = "./src/azure-cli", editable = true}

[dev-packages]
"96224e4" = {path = "./src/azure-cli-testsdk", editable = true}
"9b47c12" = {path = "./tools", editable = true}

[requires]
python_version = "3.6"
