adal==0.4.3
applicationinsights==0.10.0
argcomplete==1.8.0
colorama==0.3.7
jmespath
mock==1.3.0
nose==1.3.7
paramiko==2.0.2
pip==9.0.1
pygments==2.1.3
pylint==1.5.4
pyOpenSSL==16.1.0
pyyaml==3.11
requests==2.9.1
setuptools==30.4.0
six==1.10.0
tabulate==0.7.5
vcrpy==1.10.3
