adal==0.4.7
applicationinsights==0.10.0
argcomplete==1.8.0
colorama==0.3.7
humanfriendly==2.4
jmespath
mock==1.3.0
paramiko==2.0.2
pip==9.0.1
pygments==2.1.3
pyOpenSSL==16.2.0
pyyaml==3.11
setuptools==30.4.0
six==1.11.0
wheel==0.29.0
