interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "global", "sku": {"name": "S0"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts/cli-000005?api-version=2017-01-01-preview
  response:
    body: {string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts/cli-000005\"\
        ,\r\n  \"name\": \"cli-000005\",\r\n  \"type\": \"Microsoft.LocationBasedServices/accounts\"\
        ,\r\n  \"location\": \"global\",\r\n  \"sku\": {\r\n    \"name\": \"S0\",\r\
        \n    \"tier\": \"Standard\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''b\''{"location": "global", "tags": {"key-000003": "val-000004"}, "sku":
      {"name": "S0"}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts/cli-000005?api-version=2017-01-01-preview
  response:
    body: {string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts/cli-000005\"\
        ,\r\n  \"name\": \"cli-000005\",\r\n  \"type\": \"Microsoft.LocationBasedServices/accounts\"\
        ,\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"key-000003\": \"\
        val-000004\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"S0\",\r\n    \"tier\"\
        : \"Standard\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts?api-version=2017-01-01-preview
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts/cli-000005\"\
        ,\r\n      \"name\": \"cli-000005\",\r\n      \"type\": \"Microsoft.LocationBasedServices/accounts\"\
        ,\r\n      \"location\": \"global\",\r\n      \"tags\": {\r\n        \"key-000003\"\
        : \"val-000004\"\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"S0\"\
        ,\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts/cli-000005/listKeys?api-version=2017-01-01-preview
  response:
    body: {string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts/cli-000005\"\
        ,\r\n  \"primaryKey\": \"NzpVyKaydgUlWqGmCzRz7cPtZpnE0-jjjNJwmLcvNHc\",\r\n\
        \  \"secondaryKey\": \"FQ6J_YPyMzcATEoi4ooD_EZkP0RG2mLOAbZ8gTmMZw8\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"keyType": "primary"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts/cli-000005/regenerateKey?api-version=2017-01-01-preview
  response:
    body: {string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts/cli-000005\"\
        ,\r\n  \"primaryKey\": \"zmNwbYwLXdWFoL4qfoY29fv_l_kKF14Ruumzqk5g_H4\",\r\n\
        \  \"secondaryKey\": \"FQ6J_YPyMzcATEoi4ooD_EZkP0RG2mLOAbZ8gTmMZw8\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.LocationBasedServices/accounts/cli-000005?api-version=2017-01-01-preview
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.LocationBasedServices/accounts/cli-000005''
        under resource group ''clitest.rg000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc1N0JUSTdOWkdYN1RCREs0SVNLN1U1SjVHTFFWU1VHNFI2UHw2QTZEQzcyRUY2QzBDRkU4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
