interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktest/providers/Microsoft.Batch/batchAccounts/sdktest2/listKeys?api-version=2020-05-01
  response:
    body:
      string: '{"accountName":"sdktest2","primary":"lrCy/cm87CTTLd8yfM/ojizRGUNceCr6nWajz1mWKN45lMTJcGPF4zet+H+SkXYgJ5BGD3ab4m4b7U+wAwpC2A==","secondary":"eAS2NXIlOIAA8ovAf8a5RxnVXil/3CyuMt9cDBGUi1w7810IHN/5MF21otvBrTPOLAUFq/2sjA3dKYY7IvTpXA=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktest/providers/Microsoft.Batch/batchAccounts/sdktest2?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktest/providers/Microsoft.Batch/batchAccounts/sdktest2","name":"sdktest2","type":"Microsoft.Batch/batchAccounts","location":"westcentralus","properties":{"accountEndpoint":"sdktest2.westcentralus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardA0_A7Family","coreQuota":20},{"name":"standardDv2Family","coreQuota":20},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name":"standardGFamily","coreQuota":0},{"name":"basicAFamily","coreQuota":0},{"name":"standardFFamily","coreQuota":0},{"name":"standardNVFamily","coreQuota":0},{"name":"standardNVPromoFamily","coreQuota":0},{"name":"standardNCFamily","coreQuota":0},{"name":"standardNCPromoFamily","coreQuota":0},{"name":"standardHFamily","coreQuota":0},{"name":"standardHPromoFamily","coreQuota":0},{"name":"standardAv2Family","coreQuota":0},{"name":"standardMSFamily","coreQuota":0},{"name":"standardDv3Family","coreQuota":0},{"name":"standardEv3Family","coreQuota":0},{"name":"standardDSFamily","coreQuota":0},{"name":"standardDSv2Family","coreQuota":0},{"name":"standardDSv3Family","coreQuota":0},{"name":"standardFSFamily","coreQuota":0},{"name":"standardESv3Family","coreQuota":0},{"name":"standardGSFamily","coreQuota":0},{"name":"standardLSFamily","coreQuota":0},{"name":"standardNCSv2Family","coreQuota":0},{"name":"standardNDSFamily","coreQuota":0},{"name":"standardNCSv3Family","coreQuota":0},{"name":"standardFSv2Family","coreQuota":0},{"name":"standardHBSFamily","coreQuota":0},{"name":"standardHCSFamily","coreQuota":0},{"name":"standardNVSv3Family","coreQuota":0},{"name":"standardHBrsv2Family","coreQuota":0}],"dedicatedCoreQuotaPerVMFamilyEnforced":false,"lowPriorityCoreQuota":100,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdktest/providers/Microsoft.Storage/storageAccounts/sdkteststore2","lastKeySync":"2020-01-09T20:16:08.6234908Z"},"poolAllocationMode":"BatchService"},"tags":{"rawr":"test"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0x8D79540C37A571C"'
      last-modified:
      - Thu, 09 Jan 2020 20:16:08 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "azure-cli-test-paas", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-paas
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA02A3CA44'
      last-modified:
      - Fri, 03 Apr 2020 18:08:28 GMT
      location:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-paas
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "azure-cli-test-iaas", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04.0-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA03334F71'
      last-modified:
      - Fri, 03 Apr 2020 18:08:29 GMT
      location:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "azure-cli-test-json", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "resizeTimeout": "PT15M", "targetLowPriorityNodes": 2, "startTask":
      {"commandLine": "cmd /c echo test", "userIdentity": {"username": "cliTestUser"},
      "waitForSuccess": true}, "userAccounts": [{"name": "cliTestUser", "password":
      "SRYES@#%#_DSFH", "elevationLevel": "admin"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-json
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA040B1D28'
      last-modified:
      - Fri, 03 Apr 2020 18:08:30 GMT
      location:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-json?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-json\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8D7D7FA040B1D28\",\"lastModified\":\"2020-04-03T18:08:30.5847592Z\",\"creationTime\":\"2020-04-03T18:08:30.5847592Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-04-03T18:08:30.5847592Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2020-04-03T18:08:30.5847592Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":2,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  },\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"cliTestUser\",\"elevationLevel\":\"admin\",\"windowsUserConfiguration\":{\r\n
        \       \"loginMode\":\"interactive\"\r\n      }\r\n    }\r\n  ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n
        \   \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA040B1D28'
      last-modified:
      - Fri, 03 Apr 2020 18:08:30 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools?api-version=2020-03-01.11.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8D7D7FA03334F71\",\"lastModified\":\"2020-04-03T18:08:29.1704689Z\",\"creationTime\":\"2020-04-03T18:08:29.1704689Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-04-03T18:08:29.1704689Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2020-04-03T18:08:29.5454674Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \       \"nodeFillType\":\"Spread\"\r\n      },\"virtualMachineConfiguration\":{\r\n
        \       \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04.0-LTS\",\"version\":\"latest\"\r\n
        \       },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n      }\r\n    },{\r\n
        \     \"id\":\"azure-cli-test-json\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8D7D7FA040B1D28\",\"lastModified\":\"2020-04-03T18:08:30.5847592Z\",\"creationTime\":\"2020-04-03T18:08:30.5847592Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-04-03T18:08:30.5847592Z\",\"allocationState\":\"resizing\",\"allocationStateTrans[...]
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools?api-version=2020-03-01.11.0&$filter=id%20eq%20%27azure-cli-test-paas%27&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"azure-cli-test-paas\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-paas\",\"eTag\":\"0x8D7D7FA02A3CA44\",\"lastModified\":\"2020-04-03T18:08:28.2298948Z\",\"creationTime\":\"2020-04-03T18:08:28.2298948Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-04-03T18:08:28.2298948Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2020-04-03T18:08:28.6844657Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \       \"nodeFillType\":\"Spread\"\r\n      },\"cloudServiceConfiguration\":{\r\n
        \       \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 5}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-paas/resize?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-paas/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA05DBE9A8'
      last-modified:
      - Fri, 03 Apr 2020 18:08:33 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-paas?api-version=2020-03-01.11.0&$select=allocationState%2C%20targetLowPriorityNodes&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"allocationState\":\"resizing\",\"targetLowPriorityNodes\":5\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA05DBE9A8'
      last-modified:
      - Fri, 03 Apr 2020 18:08:33 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-paas/stopresize?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-paas/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA05DBE9A8'
      last-modified:
      - Fri, 03 Apr 2020 18:08:33 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA06D3980D'
      last-modified:
      - Fri, 03 Apr 2020 18:08:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas?api-version=2020-03-01.11.0&$select=enableAutoScale&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"enableAutoScale\":true\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA06D3980D'
      last-modified:
      - Fri, 03 Apr 2020 18:08:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2020-04-03T18:08:36.0421749Z\",\"results\":\"$TargetDedicatedNodes=0;$TargetLowPriorityNodes=3;$NodeDeallocationOption=requeue\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceid:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA06D3980D'
      last-modified:
      - Fri, 03 Apr 2020 18:08:35 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/poolusagemetrics?api-version=2020-03-01.11.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#poolusagemetrics\",\"value\":[\r\n
        \   {\r\n      \"poolId\":\"win2019\",\"startTime\":\"2020-03-19T22:30:00Z\",\"endTime\":\"2020-03-19T23:00:00Z\",\"vmSize\":\"standard_d1_v2\",\"totalCoreHours\":0.49999999997222216\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-json?api-version=2020-03-01.11.0&$select=startTask&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA040B1D28'
      last-modified:
      - Fri, 03 Apr 2020 18:08:30 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-json?api-version=2020-03-01.11.0&$select=startTask&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"new_value\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n      }\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA0929C3DB'
      last-modified:
      - Fri, 03 Apr 2020 18:08:39 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/supportedimages?api-version=2020-03-01.11.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#supportedimages\",\"value\":[\r\n
        \   {\r\n      \"imageReference\":{\r\n        \"publisher\":\"batch\",\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.centos
        7\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"batch\",\"offer\":\"rendering-windows2016\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.windows
        amd64\",\"osType\":\"windows\"\r\n    },{\r\n      \"imageReference\":{\r\n
        \       \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"16.04-lts\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        16.04\",\"batchSupportEndOfLife\":\"2021-05-21T00:00:00Z\",\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"16.04.0-lts\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        16.04\",\"batchSupportEndOfLife\":\"2021-05-21T00:00:00Z\",\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"canonical\",\"offer\":\"ubuntus[...]
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-iaas?api-version=2020-03-01.11.0&$select=state&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"state\":\"deleting\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7FA09EE26D1'
      last-modified:
      - Fri, 03 Apr 2020 18:08:40 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "app_package_test", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://sdktest2.westcentralus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:6189ea95-5476-4016-b6db-48069388c7e4\\nTime:2020-04-03T18:08:41.3090547Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: One or more of the specified application package references are invalid.
- request:
    body: '{"applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: PATCH
    uri: https://sdktest2.westcentralus.batch.azure.com/pools/azure-cli-test-paas?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:051f613f-26d2-4579-b469-d4755ee73feb\\nTime:2020-04-03T18:08:41.8080832Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: One or more of the specified application package references are invalid.
version: 1
