interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2023-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/d83b2ae0-85d5-4118-a720-9a6a4c56ec8a?api-version=2023-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/d83b2ae0-85d5-4118-a720-9a6a4c56ec8a?api-version=2023-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/d83b2ae0-85d5-4118-a720-9a6a4c56ec8a?api-version=2023-05-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/d83b2ae0-85d5-4118-a720-9a6a4c56ec8a?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus","properties":{"accountEndpoint":"clibatch000002.eastus.batch.azure.com","nodeManagementEndpoint":"b59ad1a1-0bb8-489f-9738-8ece3f211c12.eastus.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2023-05-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"RTuLynvmZXR5aRzH9zjxrn/lRGOFJpy2wwC7rN/a+flYElEFSFzXPOS6Q139/nBqZKzePpVqs2Sp+ABa9+wuvw==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "xplatJobScheduleJobTests", "displayName": "displayName", "schedule":
      {"recurrenceInterval": "P2D"}, "jobSpecification": {"priority": 1, "displayName":
      "jobSpecDisplayName", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      5}, "jobManagerTask": {"id": "jobManager", "displayName": "jobManagerDisplay",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "filePath"}], "environmentSettings": [{"name": "name1", "value":
      "value1"}, {"name": "name2", "value": "value2"}], "constraints": {"maxWallClockTime":
      "PT1H"}, "killJobOnCompletion": false}, "jobPreparationTask": {"id": "jobPrep",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobPrepFilePath"}], "environmentSettings": [{"name": "jobPrepName1",
      "value": "jobPrepValue1"}, {"name": "jobPrepName2", "value": "jobPrepValue2"}],
      "constraints": {"maxTaskRetryCount": 2}}, "jobReleaseTask": {"id": "jobRelease",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobReleaseFilePath"}], "environmentSettings": [{"name": "jobReleaseName1",
      "value": "jobReleaseValue1"}, {"name": "jobReleaseName2", "value": "jobReleaseValue2"}]},
      "commonEnvironmentSettings": [{"name": "commonName1", "value": "commonValue1"},
      {"name": "commonName2", "value": "commonValue2"}], "poolInfo": {"autoPoolSpecification":
      {"autoPoolIdPrefix": "TestSpecPrefix", "poolLifetimeOption": "jobschedule",
      "keepAlive": false, "pool": {"vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "startTask": {"commandLine": "cmd /c dir /s"}, "certificateReferences":
      [{"thumbprint": "0123456789ABCDEF", "thumbprintAlgorithm": "sha1", "storeLocation":
      "localmachine", "storeName": "certStore", "visibility": ["starttask"]}]}}},
      "metadata": [{"name": "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2",
      "value": "specMetaValue2"}]}, "metadata": [{"name": "meta2", "value": "value2"},
      {"name": "meta1", "value": "value1"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 27 Jun 2023 06:18:19 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/jobschedules?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchudnli35spksqjgd5.eastus.batch.azure.com/jobschedules/xplatJobScheduleJobTests
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB76D64DCD3F27'
      last-modified:
      - Tue, 27 Jun 2023 06:18:20 GMT
      location:
      - https://clibatch000002.eastus.batch.azure.com/jobschedules/xplatJobScheduleJobTests
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "xplatJob", "displayName": "displayName", "priority": 1, "constraints":
      {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "jobManagerTask": {"id":
      "jobManager", "displayName": "jobManagerDisplay", "commandLine": "cmd /c dir
      /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "filePath"}], "environmentSettings": [{"name": "name1", "value":
      "value1"}, {"name": "name2", "value": "value2"}], "constraints": {"maxWallClockTime":
      "PT1H"}, "killJobOnCompletion": false}, "jobPreparationTask": {"id": "jobPrep",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobPrepFilePath"}], "environmentSettings": [{"name": "jobPrepName1",
      "value": "jobPrepValue1"}, {"name": "jobPrepName2", "value": "jobPrepValue2"}],
      "constraints": {"maxTaskRetryCount": 2}}, "jobReleaseTask": {"id": "jobRelease",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobReleaseFilePath"}], "environmentSettings": [{"name": "jobReleaseName1",
      "value": "jobReleaseValue1"}, {"name": "jobReleaseName2", "value": "jobReleaseValue2"}]},
      "commonEnvironmentSettings": [{"name": "commonName1", "value": "commonValue1"},
      {"name": "commonName2", "value": "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"},
      "metadata": [{"name": "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2",
      "value": "specMetaValue2"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 27 Jun 2023 06:18:21 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/jobs?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchudnli35spksqjgd5.eastus.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB76D64EBA1CEA'
      last-modified:
      - Tue, 27 Jun 2023 06:18:21 GMT
      location:
      - https://clibatch000002.eastus.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 27 Jun 2023 06:18:22 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobschedules/xplatJobScheduleJobTests/jobs?api-version=2023-05-01.17.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"xplatJobScheduleJobTests:job-1\",\"displayName\":\"jobSpecDisplayName\",\"url\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobScheduleJobTests:job-1\",\"eTag\":\"0x8DB76D64DD9C259\",\"lastModified\":\"2023-06-27T06:18:20.4252761Z\",\"creationTime\":\"2023-06-27T06:18:20.3822718Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2023-06-27T06:18:20.5129246Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2023-06-27T06:18:20.4252761Z\",\"priority\":1,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P1D\",\"maxTaskRetryCount\":5\r\n      },\"jobManagerTask\":{\r\n
        \       \"id\":\"jobManager\",\"displayName\":\"jobManagerDisplay\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"httpUrl\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"filePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"name1\",\"value\":\"value1\"\r\n
        \         },{\r\n            \"name\":\"name2\",\"value\":\"value2\"\r\n          }\r\n
        \       ],\"constraints\":{\r\n          \"maxWallClockTime\":\"PT1H\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \       },\"requiredSlots\":1,\"userIdentity\":{\r\n          \"autoUser\":{\r\n
        \           \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n          }\r\n
        \       },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":false\r\n
        \     },\"jobPreparationTask\":{\r\n        \"id\":\"jobPrep\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"httpUrl\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"jobPrepFilePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"jobPrepName1\",\"value\":\"jobPrepValue1\"\r\n
        \         },{\r\n            \"name\":\"jobPrepName2\",\"value\":\"jobPrepValue2\"\r\n
        \         }\r\n        ],\"constraints\":{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":2\r\n
        \       },\"userIdentity\":{\r\n          \"autoUser\":{\r\n            \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\":true\r\n
        \     },\"jobReleaseTask\":{\r\n        \"id\":\"jobRelease\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"httpUrl\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"jobReleaseFilePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"jobReleaseName1\",\"value\":\"jobReleaseValue1\"\r\n
        \         },{\r\n            \"name\":\"jobReleaseName2\",\"value\":\"jobReleaseValue2\"\r\n
        \         }\r\n        ],\"maxWallClockTime\":\"PT15M\",\"retentionTime\":\"P7D\",\"userIdentity\":{\r\n
        \         \"autoUser\":{\r\n            \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        }\r\n      },\"commonEnvironmentSettings\":[\r\n        {\r\n
        \         \"name\":\"commonName1\",\"value\":\"commonValue1\"\r\n        },{\r\n
        \         \"name\":\"commonName2\",\"value\":\"commonValue2\"\r\n        }\r\n
        \     ],\"poolInfo\":{\r\n        \"autoPoolSpecification\":{\r\n          \"autoPoolIdPrefix\":\"TestSpecPrefix\",\"poolLifetimeOption\":\"jobschedule\",\"keepAlive\":false,\"pool\":{\r\n
        \           \"vmSize\":\"small\",\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \             \"nodeFillType\":\"Spread\"\r\n            },\"resizeTimeout\":\"PT15M\",\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \             \"commandLine\":\"cmd /c dir /s\",\"userIdentity\":{\r\n                \"autoUser\":{\r\n
        \                 \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n                }\r\n
        \             },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n            },\"certificateReferences\":[\r\n
        \             {\r\n                \"thumbprint\":\"0123456789abcdef\",\"thumbprintAlgorithm\":\"sha1\",\"storeLocation\":\"LocalMachine\",\"storeName\":\"certStore\",\"visibility\":[\r\n
        \                 \"starttask\"\r\n                ]\r\n              }\r\n
        \           ],\"cloudServiceConfiguration\":{\r\n              \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n
        \           }\r\n          }\r\n        }\r\n      },\"metadata\":[\r\n        {\r\n
        \         \"name\":\"specMeta1\",\"value\":\"specMetaValue1\"\r\n        },{\r\n
        \         \"name\":\"specMeta2\",\"value\":\"specMetaValue2\"\r\n        }\r\n
        \     ],\"executionInfo\":{\r\n        \"startTime\":\"2023-06-27T06:18:20.4252761Z\",\"endTime\":\"2023-06-27T06:18:20.5129246Z\",\"poolId\":\"TestSpecPrefix_EA7FD756-7149-4109-AEA8-6D98526D76D5\",\"schedulingError\":{\r\n
        \         \"category\":\"UserError\",\"code\":\"InvalidCertificatesInAutoPool\",\"message\":\"One
        or more certificates specified for the pool are invalid\",\"details\":[\r\n
        \           {\r\n              \"name\":\"sha1-0123456789abcdef\",\"value\":\"The
        specified certificate does not exist.\"\r\n            }\r\n          ]\r\n
        \       }\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 27 Jun 2023 06:18:24 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobs?api-version=2023-05-01.17.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"xplatJob\",\"displayName\":\"displayName\",\"url\":\[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 27 Jun 2023 06:18:25 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJob?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 27 Jun 2023 06:18:32 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.eastus.batch.azure.com/jobschedules/xplatJobScheduleJobTests?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
