interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/84bc8796-0d1d-42c5-aade-d5c2902be472?api-version=2024-02-01&t=638490643720084281&c=MIIHADCCBeigAwIBAgITfARmUs4KPxjtgZmnLQAABGZSzjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMjAxMDAxMjE1WhcNMjUwMTI2MDAxMjE1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/84bc8796-0d1d-42c5-aade-d5c2902be472?api-version=2024-02-01&t=638490643720084281&c=MIIHADCCBeigAwIBAgITfARmUs4KPxjtgZmnLQAABGZSzjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/84bc8796-0d1d-42c5-aade-d5c2902be472?api-version=2024-02-01&t=638490643724414031&c=MIIHADCCBeigAwIBAgITfARmUs4KPxjtgZmnLQAABGZSzjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwM[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"OSzC3E9HfvVc01nQg0C9inooQadBv2YT1HwOJBgOEmjRmed9WOfCfVH+h7/wxXmkFuW4YCVihZ0U+ABakEpiuA==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus","properties":{"accountEndpoint":"clibatch000002.pilotprod2.eastus.batch.azure.com","nodeManagementEndpoint":"242608dd-512c-49a9-9c65-386375aa61bc.pilotprod2.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: '{"id": "azure-cli-test-paas", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 18 Apr 2024 19:13:09 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozab3ltm3omciqdj.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-paas
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB96045962'
      last-modified:
      - Thu, 18 Apr 2024 19:13:09 GMT
      location:
      - https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-paas
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "azure-cli-test-iaas", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04"}, "targetNodeCommunicationMode":
      "classic"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 18 Apr 2024 19:13:09 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozab3ltm3omciqdj.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB96576D11'
      last-modified:
      - Thu, 18 Apr 2024 19:13:10 GMT
      location:
      - https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:10 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8DC5FDB96576D11\",\"lastModified\":\"2024-04-18T19:13:10.4556305Z\",\"creationTime\":\"2024-04-18T19:13:10.4556266Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-04-18T19:13:10.4556266Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2024-04-18T19:13:10.4556314Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n  },\"targetNodeCommunicationMode\":\"classic\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB96576D11'
      last-modified:
      - Thu, 18 Apr 2024 19:13:10 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "azure-cli-test-json", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "resizeTimeout": "PT15M", "targetLowPriorityNodes": 2, "startTask":
      {"commandLine": "cmd /c echo test", "userIdentity": {"username": "cliTestUser"},
      "waitForSuccess": true}, "taskSlotsPerNode": 3, "userAccounts": [{"name": "cliTestUser",
      "password": "SRYES@#%#_DSFH", "elevationLevel": "admin"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 18 Apr 2024 19:13:11 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozab3ltm3omciqdj.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-json
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB976BABB4'
      last-modified:
      - Thu, 18 Apr 2024 19:13:12 GMT
      location:
      - https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:12 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-json?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8DC5FDB976BABB4\",\"lastModified\":\"2024-04-18T19:13:12.2660276Z\",\"creationTime\":\"2024-04-18T19:13:12.2660238Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-04-18T19:13:12.2660238Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2024-04-18T19:13:12.2660281Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":2,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  },\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"cliTestUser\",\"elevationLevel\":\"admin\",\"windowsUserConfiguration\":{\r\n
        \       \"loginMode\":\"interactive\"\r\n      }\r\n    }\r\n  ],\"taskSlotsPerNode\":3,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n
        \   \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB976BABB4'
      last-modified:
      - Thu, 18 Apr 2024 19:13:12 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:12 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8DC5FDB96576D11\",\"lastModified\":\"2024-04-18T19:13:10.4556305Z\",\"creationTime\":\"2024-04-18T19:13:10.4556266Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-04-18T19:13:10.4556266Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2024-04-18T19:13:12.2978651Z\",\"vmSize\":\"standard_a1\",\"resizeTim[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:13 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&$filter=id%20eq%20%27azure-cli-test-paas%27&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\[...]
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 5}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 18 Apr 2024 19:13:13 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-paas/resize?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozab3ltm3omciqdj.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-paas/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB98B7B0C2'
      last-modified:
      - Thu, 18 Apr 2024 19:13:14 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:14 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-paas?api-version=2024-02-01.19.0&$select=allocationState%2C%20targetLowPriorityNodes&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#pools/@Element\",\"allocationState\":\"resizing\",\"targetLowPriorityNodes\":5\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB98B7B0C2'
      last-modified:
      - Thu, 18 Apr 2024 19:13:14 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:14 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-paas/stopresize?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozab3ltm3omciqdj.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-paas/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB98B7B0C2'
      last-modified:
      - Thu, 18 Apr 2024 19:13:14 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 18 Apr 2024 19:13:15 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozab3ltm3omciqdj.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB999B870C'
      last-modified:
      - Thu, 18 Apr 2024 19:13:15 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:16 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0&$select=enableAutoScale&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#pools/@Element\",\"enableAutoScale\":true\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB999B870C'
      last-modified:
      - Thu, 18 Apr 2024 19:13:15 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 18 Apr 2024 19:13:16 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2024-04-18T19:13:16.8500462Z\",\"results\":\"$TargetDedicatedNodes=0;$TargetLowPriorityNodes=3;$NodeDeallocationOption=requeue\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceid:
      - https://clibatchozab3ltm3omciqdj.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:16 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchozab3ltm3omciqdj.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB999B870C'
      last-modified:
      - Thu, 18 Apr 2024 19:13:15 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:17 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/poolusagemetrics?api-version=2024-02-01.19.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#poolusagemetrics\",\"value\":[]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:18 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-json?api-version=2024-02-01.19.0&$select=startTask&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB976BABB4'
      last-modified:
      - Thu, 18 Apr 2024 19:13:12 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:20 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-json?api-version=2024-02-01.19.0&$select=startTask&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"new_value\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n      }\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC5FDB9C0550F7'
      last-modified:
      - Thu, 18 Apr 2024 19:13:19 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 18 Apr 2024 19:13:21 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/supportedimages?api-version=2024-02-01.19.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#supportedimages\",\"value\":[\r\n
        \   {\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8-gen1\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8-gen2\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"capabilities\":[\r\n        \"Generation2VMImage\"\r\n      ],\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8_5\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8_5-gen2\",\"version\":\"latest\"\r\n
    [...]
[...]
- request:
    body: '{"id": "app_package_test", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 18 Apr 2024 19:13:22 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:803c4cea-ba5f-42b8-8414-3f19e4351638\\nTime:2024-04-18T19:13:23.3512523Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: One or more of the specified application package references are invalid.
- request:
    body: '{"applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 18 Apr 2024 19:13:23 GMT
      return-client-request-id:
      - 'false'
    method: PATCH
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/azure-cli-test-paas?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:5848a51c-d20a-46f9-b0e3-0f9f2db48ba4\\nTime:2024-04-18T19:13:24.5969268Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: One or more of the specified application package references are invalid.
version: 1
