interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/3376e6ab-cad8-436a-90c1-3eac2a84f57f?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/3376e6ab-cad8-436a-90c1-3eac2a84f57f?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/3376e6ab-cad8-436a-90c1-3eac2a84f57f?api-version=2022-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/3376e6ab-cad8-436a-90c1-3eac2a84f57f?api-version=2022-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus","properties":{"accountEndpoint":"clibatch000002.eastus.batch.azure.com","nodeManagementEndpoint":"71f349f5-0943-4491-9978-5eea8612415c.eastus.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2022-10-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"deFUPubd4WE/SKqWZiGNn+oy33B8TvBciKjjum4QJbT/nNUd5/Y1qr1B18X3cC8mKNxFhxf4D6c7+ABasXBWWA==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "xplatCreatedPool", "vmSize": "standard_d2_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2016-datacenter-smalldisk"}, "nodeAgentSKUId": "batch.node.windows amd64"},
      "targetDedicatedNodes": 2, "networkConfiguration": {"enableAcceleratedNetworking":
      true}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/pools?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchmh34zztkinnub4tw.eastus.batch.azure.com/pools/xplatCreatedPool
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB7888B48393E8'
      last-modified:
      - Thu, 29 Jun 2023 10:07:54 GMT
      location:
      - https://clibatch000002.eastus.batch.azure.com/pools/xplatCreatedPool
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/pools/xplatCreatedPool?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.eastus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8DB7888B48393E8\",\"lastModified\":\"2023-06-29T10:07:54.2464488Z\",\"creationTime\":\"2023-06-29T10:07:54.2464488Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-06-29T10:07:54.2464488Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2023-06-29T10:07:54.2464488Z\",\"vmSize\":\"standard_d2_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"MicrosoftWindowsServer\",\"offer\":\"WindowsServer\",\"sku\":\"2016-datacenter-smalldisk\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.windows amd64\"\r\n  },\"networkConfiguration\":{\r\n
        \   \"dynamicVNetAssignmentScope\":\"none\",\"enableAcceleratedNetworking\":true\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB7888B48393E8'
      last-modified:
      - Thu, 29 Jun 2023 10:07:54 GMT
    status:
      code: 200
      message: OK
[...]
