interactions:
- request:
    body: '{"location": "canadacentral"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/96010a4d-0170-49e3-90aa-1ed74164711a?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/96010a4d-0170-49e3-90aa-1ed74164711a?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadacentral","properties":{"accountEndpoint":"clibatch000002.canadacentral.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":0,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":0},{"name":"standardDv2Family","coreQuota":0},{"name":"standardDv3Family","coreQuota":0},{"name":"standardEv3Family","coreQuota":0},{"name":"standardDSv2Family","coreQuota":0},{"name":"standardDSv3Family","coreQuota":0},{"name":"standardESv3Family","coreQuota":0},{"name":"standardFFamily","coreQuota":0},{"name":"standardFSFamily","coreQuota":0},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name":"standardGFamily","coreQuota":0},{"name":"basicAFamily","coreQuota":0},{"name":"standardNVFamily","coreQuota":0},{"name":"standardNVPromoFamily","coreQuota":0},{"name":"standardNCFamily","coreQuota":0},{"name":"standardNCPromoFamily","coreQuota":0},{"name":"standardHFamily","coreQuota":0},{"name":"standardHPromoFamily","coreQuota":0},{"name":"standardMSFamily","coreQuota":0},{"name":"standardDSFamily","coreQuota":0},{"name":"standardGSFamily","coreQuota":0},{"name":"standardLSFamily","coreQuota":0},{"name":"standardNCSv2Family","coreQuota":0},{"name":"standardNDSFamily","coreQuota":0},{"name":"standardNCSv3Family","coreQuota":0},{"name":"standardFSv2Family","coreQuota":0},{"name":"standardHBSFamily","coreQuota":0},{"name":"standardHCSFamily","coreQuota":0},{"name":"standardNVSv3Family","coreQuota":0},{"name":"standardHBrsv2Family","coreQuota":0},{"name":"standardDAv4Family","coreQuota":0}],"dedicatedCoreQuotaPerVMFamilyEnforced":false,"lowPriorityCoreQuota":0,"poolQuota":100,"activeJobAndJobScheduleQuota":300,"poolAllocationMode":"BatchService"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0x8D7D7F561FE5F6A"'
      last-modified:
      - Fri, 03 Apr 2020 17:35:20 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2020-05-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"jIM7sad4pUGnt5//OE6nUmmBDP04uInp+Jzt39r0W+ZQJTaFbvhIsvuZOBm8esxCK66OkdhqO28k48fbL4zEgg==","secondary":"0jeB9Pdf+H9tiD3tJDGpKMZPHetfv2Hwj3ph4fHyiVfJVqiLxWkt/Y2neFIV/7Fk4LtMXXChHnvKqMlRA/Uvyw=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "displayName": "displayName", "priority":
      1, "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "commonEnvironmentSettings":
      [{"name": "commonName1", "value": "commonValue1"}, {"name": "commonName2", "value":
      "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"}, "metadata": [{"name":
      "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2", "value": "specMetaValue2"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchel7z46cep6hwt7yq.canadacentral.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7F563DDA91E'
      last-modified:
      - Fri, 03 Apr 2020 17:35:23 GMT
      location:
      - https://clibatch000002.canadacentral.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "xplatTask", "displayName": "displayName", "commandLine": "cmd /c
      dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}, "userIdentity": {"autoUser": {"scope": "pool", "elevationLevel": "nonadmin"}},
      "multiInstanceSettings": {"numberOfInstances": 3, "coordinationCommandLine":
      "cmd /c echo hello"}, "authenticationTokenSettings": {"access": ["job"]}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks?api-version=2020-03-01.11.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchel7z46cep6hwt7yq.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7F564BA3D9D'
      last-modified:
      - Fri, 03 Apr 2020 17:35:25 GMT
      location:
      - https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2020-03-01.11.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"url\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask\",\"eTag\":\"0x8D7D7F564BA3D9D\",\"creationTime\":\"2020-04-03T17:35:25.3100957Z\",\"lastModified\":\"2020-04-03T17:35:25.3100957Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-04-03T17:35:25.3100957Z\",\"commandLine\":\"cmd
        /c dir /s\",\"environmentSettings\":[\r\n    {\r\n      \"name\":\"env1\",\"value\":\"value1\"\r\n
        \   },{\r\n      \"name\":\"env2\",\"value\":\"value2\"\r\n    }\r\n  ],\"userIdentity\":{\r\n
        \   \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"multiInstanceSettings\":{\r\n    \"numberOfInstances\":3,\"coordinationCommandLine\":\"cmd
        /c echo hello\"\r\n  },\"authenticationTokenSettings\":{\r\n    \"access\":[\r\n
        \     \"job\"\r\n    ]\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P1D\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":2\r\n
        \ },\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7F564BA3D9D'
      last-modified:
      - Fri, 03 Apr 2020 17:35:25 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"url\":\"https://clibatch000002.canadacentral.batch.azu[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2020-03-01.11.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"aaa\",\"url\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa\",\"eTag\":\"0x8D7D7F5668DC707\",\"creationTime\":\"2020-04-03T17:35:28.3741447Z\",\"lastModified\":\"2020-04-03T17:35:28.3741447Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-04-03T17:35:28.3741447Z\",\"commandLine\":\"ping
        127.0.0.1 -n 30\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \ },\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D7D7F5668DC707'
      last-modified:
      - Fri, 03 Apr 2020 17:35:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/taskcounts?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#taskcounts/@Element\",\"active\":1,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": [{"id": "xplatTask3", "displayName": "displayName2", "commandLine":
      "cmd /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"},
      {"name": "env2", "value": "value2"}]}, {"id": "xplatTask2", "displayName": "displayName1",
      "commandLine": "cmd /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}, {"id": "xplatTask1", "displayName": "displayName", "commandLine": "cmd
      /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/addtaskcollection?api-version=2020-03-01.11.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask3\",\"eTag\":\"0x8D7D7F56E734428\",\"lastModified\":\"2020-04-03T17:35:41.6221736Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask3\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask1\",\"eTag\":\"0x8D7D7F56E78275B\",\"lastModified\":\"2020-04-03T17:35:41.6542043Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask2\",\"eTag\":\"0x8D7D7F56E7A9756\",\"lastModified\":\"2020-04-03T17:35:41.6701782Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask2\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
