interactions:
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/fee28593-3729-49cb-9e2a-d2a5f85df031?api-version=2024-02-01&t=638718925306577305&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/fee28593-3729-49cb-9e2a-d2a5f85df031?api-version=2024-02-01&t=638718925306577305&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/fee28593-3729-49cb-9e2a-d2a5f85df031?api-version=2024-02-01&t=638718925309968488&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwO[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"fakeBatchAccountKey0==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"clibatch000002.eastus2.batch.azure.com","nodeManagementEndpoint":"10727cee-7870-4e31-bde1-d25c147e8a21.eastus2.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: '{"id": "xplatTestPool", "vmSize": "STANDARD_D2S_V3", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "microsoftwindowsserver", "offer": "windowsserver",
      "sku": "2022-datacenter", "version": "latest"}, "nodeAgentSKUId": "batch.node.windows
      amd64", "nodePlacementConfiguration": {"policy": "regional"}, "osDisk": {"caching":
      "none", "managedDisk": {"storageAccountType": "premium_lrs"}}}, "targetDedicatedNodes":
      3, "enableInterNodeCommunication": true, "startTask": {"commandLine": "cmd /c
      echo test", "waitForSuccess": true}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Wed, 08 Jan 2025 00:22:27 GMT
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchoawmn7qtz4xcdj5o.eastus2.batch.azure.com/pools/xplatTestPool
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD2F7A88D85B47'
      last-modified:
      - Wed, 08 Jan 2025 00:22:28 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/pools/xplatTestPool
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "xplatJobForTaskTests", "displayName": "displayName", "priority":
      1, "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "commonEnvironmentSettings":
      [{"name": "commonName1", "value": "commonValue1"}, {"name": "commonName2", "value":
      "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"}, "metadata": [{"name":
      "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2", "value": "specMetaValue2"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Wed, 08 Jan 2025 00:22:28 GMT
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchoawmn7qtz4xcdj5o.eastus2.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD2F7A8935D956'
      last-modified:
      - Wed, 08 Jan 2025 00:22:29 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: '{"value": [{"id": "xplatTask3", "displayName": "displayName2", "commandLine":
      "cmd /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}, "environmentSettings": [{"name": "env1", "value": "value1"}, {"name": "env2",
      "value": "value2"}]}, {"id": "xplatTask2", "displayName": "displayName1", "commandLine":
      "cmd /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}, {"id": "xplatTask1", "displayName": "displayName", "commandLine": "cmd
      /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}, "environmentSettings": [{"name": "env1", "value": "value1"}, {"name": "env2",
      "value": "value2"}]}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Wed, 08 Jan 2025 00:22:29 GMT
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/addtaskcollection?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask2\",\"eTag\":\"0x8DD2F7A897B796D\",\"lastModified\":\"2025-01-08T00:22:29.5564653Z\",\"location\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask2\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask1\",\"eTag\":\"0x8DD2F7A897BA082\",\"lastModified\":\"2025-01-08T00:22:29.5574658Z\",\"location\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask3\",\"eTag\":\"0x8DD2F7A897BC797\",\"lastModified\":\"2025-01-08T00:22:29.5584663Z\",\"location\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask3\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 08 Jan 2025 00:22:29 GMT
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/taskcounts?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#taskcountsresult/@Element\",\"taskCounts\":{\r\n
        \   \"active\":0,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n
        \ },\"taskSlotCounts\":{\r\n    \"active\":0,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 08 Jan 2025 00:25:02 GMT
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1/files/stdout.txt?api-version=2024-02-01.19.0
  response:
    body:
      string: " Volume in drive D is Temporary Storage\r\n Volume Serial Number is
        8ABF-7729\r\n\r\n Directory of d:\\batch\\tasks\\workitems\\xplatJobForTaskTests\\job-1\\xplatTask1\\wd\r\n\r\n01/08/2025
        \ 12:24 AM    <DIR>          .\r\n01/08/2025  12:24 AM    <DIR>          ..\r\n
        \              0 File(s)              0 bytes\r\n\r\n     Total Files Listed:\r\n
        \              0 File(s)              0 bytes\r\n               2 Dir(s)  15,101,648,896
        bytes free\r\n"
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Wed, 08 Jan 2025 00:24:36 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-url:
      - https%3A%2F%2Fclibatchoawmn7qtz4xcdj5o.eastus2.batch.azure.com%2Fjobs%2FxplatJobForTaskTests%2Ftasks%2FxplatTask1%2Ffiles%2Fstdout.txt
      ocp-creation-time:
      - Wed, 08 Jan 2025 00:24:36 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 08 Jan 2025 00:25:02 GMT
      ocp-range:
      - bytes=10-20
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1/files/stdout.txt?api-version=2024-02-01.19.0
  response:
    body:
      string: ' drive D is'
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Wed, 08 Jan 2025 00:24:36 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-url:
      - https%3A%2F%2Fclibatchoawmn7qtz4xcdj5o.eastus2.batch.azure.com%2Fjobs%2FxplatJobForTaskTests%2Ftasks%2FxplatTask1%2Ffiles%2Fstdout.txt
      ocp-creation-time:
      - Wed, 08 Jan 2025 00:24:36 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 08 Jan 2025 00:25:03 GMT
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/xplatTestPool/nodes?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_1c11399a624af3e4837579ce7467fd53c0aa3e919e76ca25974e1e47b78a42e8_d\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/xplatTestPool/nodes/tvmps_1c11399a624af3e4837579ce7467fd53c0aa3e919e76ca25974e1e47b78a42e8_d\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2025-01-08T00:24:38.025424Z\",\"lastBootTime\":\"2025-01-08T00:24:32.33924Z\",\"allocationTime\":\"2025-01-08T00:22:55.1551798Z\",\"ipAddress\":\"10.0.0.6\",\"affinityId\":\"TVM:tvmps_1c11399a624af3e4837579ce7467fd53c0aa3e919e76ca25974e1e47b78a42e8_d\",\"vmSize\":\"standard_d2s_v3\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"startTask\":{\r\n
        \       \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n          \"autoUser\":{\r\n
        \           \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n          }\r\n
        \       },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n      },\"startTaskInfo\":{\r\n
        \       \"state\":\"completed\",\"startTime\":\"2025-01-08T00:24:37.806675Z\",\"endTime\":\"2025-01-08T00:24:38.009795Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0\r\n
        \     },\"certificateReferences\":[],\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.2\",\"protocol\":\"tcp\",\"publicIPAddress\":\"135.224.242.167\",\"publicFQDN\":\"dnsb99088f9-63cb-4df3-acbc-c8115abea9a3-azurebatch-cloudservice.eastus2.cloudapp.azure.com\",\"frontendPort\":50002,\"backendPort\":3389\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2025-01-08T00:24:32.33924Z\",\"version\":\"1.12.7\"\r\n
        \     },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n          \"publisher\":\"microsoftwindowsserver\",\"offer\":\"windowsserver\",\"sku\":\"2022-datacenter\",\"version\":\"latest\",\"exactVersion\":\"latest\"\r\n
        \       }\r\n      }\r\n    },{\r\n      \"id\":\"tvmps_330bc5b38700baff2c2707e25ff2f62d9b5bc6cb908d37a9df8f6355da144f99_d\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/xplatTestPool/nodes/tvmps_330bc5b38700baff2c2707e25ff2f62d9b5bc6cb908d37a9df8f6355da144f99_d\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2025-01-08T00:24:52.934855Z\",\"lastBootTime\":\"2025-01-08T00:24:46.457635Z\",\"allocationTime\":\"2025-01-08T00:22:[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 08 Jan 2025 00:25:03 GMT
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/xplatTestPool/nodes/tvmps_1c11399a624af3e4837579ce7467fd53c0aa3e919e76ca25974e1e47b78a42e8_d/files/startup%2Fstdout.txt?api-version=2024-02-01.19.0
  response:
    body:
      string: "test\r\n"
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Wed, 08 Jan 2025 00:24:37 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-url:
      - https%3A%2F%2Fclibatchoawmn7qtz4xcdj5o.eastus2.batch.azure.com%2Fpools%2FxplatTestPool%2Fnodes%2Ftvmps_1c11399a624af3e4837579ce7467fd53c0aa3e919e76ca25974e1e47b78a42e8_d%2Ffiles%2Fstartup%2Fstdout.txt
      ocp-creation-time:
      - Wed, 08 Jan 2025 00:24:37 GMT
    status:
      code: 200
      message: OK
[...]
