interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/f68f0c9a-0f08-4443-a89e-9010612fa7a8?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/f68f0c9a-0f08-4443-a89e-9010612fa7a8?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"westus","properties":{"accountEndpoint":"clibatch000002.westus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2020-05-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"AloN6kjr2x4BRjMFwAvlruLj5/mV6U+VyKsMDJrfZEf0qoaI1o/0TCOHlm6oW//NpBS/1Q3dMXwARsUaHY4T6Q==","secondary":"MTGB6c/2KLneJwd9qsYrqFXhKavjYx9iuaW368z7vMjvqiKEryZkN7ibJ2hvBteGlYfgivKFcR5Jcy/mUAk0bA=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "azure-cli-test-paas", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:55:32 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchxti7fdmkoydscehz.westus.batch.azure.com/pools/azure-cli-test-paas
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD91B03CB16'
      last-modified:
      - Wed, 23 Sep 2020 15:55:33 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-paas
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "azure-cli-test-iaas", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04.0-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:55:33 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchxti7fdmkoydscehz.westus.batch.azure.com/pools/azure-cli-test-iaas
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD91BFBCBB1'
      last-modified:
      - Wed, 23 Sep 2020 15:55:35 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "azure-cli-test-json", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "resizeTimeout": "PT15M", "targetLowPriorityNodes": 2, "startTask":
      {"commandLine": "cmd /c echo test", "userIdentity": {"username": "cliTestUser"},
      "waitForSuccess": true}, "userAccounts": [{"name": "cliTestUser", "password":
      "SRYES@#%#_DSFH", "elevationLevel": "admin"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:55:35 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchxti7fdmkoydscehz.westus.batch.azure.com/pools/azure-cli-test-json
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD91CD035F6'
      last-modified:
      - Wed, 23 Sep 2020 15:55:36 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:36 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8D85FD91CD035F6\",\"lastModified\":\"2020-09-23T15:55:36.8874486Z\",\"creationTime\":\"2020-09-23T15:55:36.8874486Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-09-23T15:55:36.8874486Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2020-09-23T15:55:36.8874486Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":2,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  },\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"cliTestUser\",\"elevationLevel\":\"admin\",\"windowsUserConfiguration\":{\r\n
        \       \"loginMode\":\"interactive\"\r\n      }\r\n    }\r\n  ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n
        \   \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD91CD035F6'
      last-modified:
      - Wed, 23 Sep 2020 15:55:36 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:38 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8D85FD91BFBCBB1\",\"lastModified\":\"2020-09-23T15:55:35.4953649Z\",\"creationTime\":\"2020-09-23T15:55:35.4953649Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-09-23T15:55:35.4953649Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2020-09-23T15:55:37.9272232Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \       \"nodeFillType\":\"Spread\"\r\n      },\"virtualMachineConfiguration\":{\r\n
        \       \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04.0-LTS\",\"version\":\"latest\"\r\n
        \       },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n      }\r\n    },{\r\n
        \     \"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8D85FD91CD035F6\",\"lastModified\":\"2020-09-23T15:55:36.8874486Z\",\"creationTime\":\"2020-09-23T15:55:36.8874486Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-09-23T15:55:36.8874486Z\",\"allocationState\":\"resizing\",\"allocationStateTransi[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:39 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&$filter=id%20eq%20%27azure-cli-test-paas%27&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"azure-[...]
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 5}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:55:40 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-paas/resize?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchxti7fdmkoydscehz.westus.batch.azure.com/pools/azure-cli-test-paas/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD91FBBFC64'
      last-modified:
      - Wed, 23 Sep 2020 15:55:41 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:41 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-paas?api-version=2020-03-01.11.0&$select=allocationState%2C%20targetLowPriorityNodes&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"allocationState\":\"resizing\",\"targetLowPriorityNodes\":5\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD91FBBFC64'
      last-modified:
      - Wed, 23 Sep 2020 15:55:41 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:42 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-paas/stopresize?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchxti7fdmkoydscehz.westus.batch.azure.com/pools/azure-cli-test-paas/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD91FBBFC64'
      last-modified:
      - Wed, 23 Sep 2020 15:55:41 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:55:44 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchxti7fdmkoydscehz.westus.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD921DA5A0F'
      last-modified:
      - Wed, 23 Sep 2020 15:55:45 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:45 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas?api-version=2020-03-01.11.0&$select=enableAutoScale&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"enableAutoScale\":true\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD921DA5A0F'
      last-modified:
      - Wed, 23 Sep 2020 15:55:45 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:55:46 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2020-09-23T15:55:47.7581796Z\",\"results\":\"$TargetDedicatedNodes=0;$TargetLowPriorityNodes=3;$NodeDeallocationOption=requeue\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceid:
      - https://clibatchxti7fdmkoydscehz.westus.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:47 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchxti7fdmkoydscehz.westus.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD921DA5A0F'
      last-modified:
      - Wed, 23 Sep 2020 15:55:45 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:50 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/poolusagemetrics?api-version=2020-03-01.11.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#poolusagemetrics\",\"value\":[\r\n
        \   \r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:51 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json?api-version=2020-03-01.11.0&$select=startTask&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD91CD035F6'
      last-modified:
      - Wed, 23 Sep 2020 15:55:36 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:56 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json?api-version=2020-03-01.11.0&$select=startTask&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"new_value\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n      }\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD926F871D0'
      last-modified:
      - Wed, 23 Sep 2020 15:55:53 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:57 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/supportedimages?api-version=2020-03-01.11.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#supportedimages\",\"value\":[\r\n
        \   {\r\n      \"imageReference\":{\r\n        \"publisher\":\"batch\",\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.centos
        7\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"batch\",\"offer\":\"rendering-windows2016\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.windows
        amd64\",\"osType\":\"windows\"\r\n    },{\r\n      \"imageReference\":{\r\n
        \       \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"16.04-lts\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        16.04\",\"batchSupportEndOfLife\":\"2021-05-21T00:00:00Z\",\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"16.04.0-lts\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        16.04\",\"batchSupportEndOfLife\":\"2021-05-21T00:00:00Z\",\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"16_04-lts-gen2\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        16.04\",\"capabilities\":[\r\n        \"Generation2VMImage\"\r\n      ],\"batchSupportEndOfLife\":\"2021-05-21T00:00:00Z\",\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"18.04-lts\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        18.04\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n
        \       \"publisher\":\"canonical\",\[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:58 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:55:59 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas?api-version=2020-03-01.11.0&$select=state&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"state\":\"deleting\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD92A94E716'
      last-modified:
      - Wed, 23 Sep 2020 15:55:59 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "app_package_test", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:56:01 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:1a0e5cf5-2a26-4dd9-b454-7d00a9d7bb5c\\nTime:2020-09-23T15:56:02.3734364Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: One or more of the specified application package references are invalid.
- request:
    body: '{"applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:56:02 GMT
      return-client-request-id:
      - 'false'
    method: PATCH
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-paas?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:38e0b21b-06b8-4c03-904b-1be9304ae35b\\nTime:2020-09-23T15:56:03.5904437Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: One or more of the specified application package references are invalid.
version: 1
