interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/e46bfdbf-d1cf-4f74-b396-1333f91d1ca2?api-version=2024-02-01&t=638490855172909725&c=MIIHADCCBeigAwIBAgITfARmUs4KPxjtgZmnLQAABGZSzjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMjAxMDAxMjE1WhcNMjUwMTI2MDAxMjE1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/e46bfdbf-d1cf-4f74-b396-1333f91d1ca2?api-version=2024-02-01&t=638490855172909725&c=MIIHADCCBeigAwIBAgITfARmUs4KPxjtgZmnLQAABGZSzjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/e46bfdbf-d1cf-4f74-b396-1333f91d1ca2?api-version=2024-02-01&t=638490855177726437&c=MIIHHjCCBgagAwIBAgITfwKXMx8xvidLbPHwvQAEApczHzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus","properties":{"accountEndpoint":"clibatch000002.pilotprod2.eastus.batch.azure.com","nodeManagementEndpoint":"ada64002-3870-4c78-88cd-6aa24addf5cc.pilotprod2.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"wE9jrM16vTUKdV4E0ycz6xGumT5EOMnTz7eUUlVBLmWe+PUERn2T8IUGSOv6HYdlnh/r0wAKQFEA+ABagsJFMQ==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "xplatCreatedPool", "vmSize": "standard_d4s_v3", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2016-datacenter-smalldisk"}, "nodeAgentSKUId": "batch.node.windows amd64",
      "nodePlacementConfiguration": {"policy": "zonal"}}, "targetDedicatedNodes":
      2, "upgradePolicy": {"mode": "automatic", "automaticOSUpgradePolicy": {"disableAutomaticRollback":
      true, "enableAutomaticOSUpgrade": true, "useRollingUpgradePolicy": true, "osRollingUpgradeDeferral":
      true}, "rollingUpgradePolicy": {"enableCrossZoneUpgrade": true, "maxBatchInstancePercent":
      20, "maxUnhealthyInstancePercent": 20, "maxUnhealthyUpgradedInstancePercent":
      20, "pauseTimeBetweenBatches": "P0D", "prioritizeUnhealthyInstances": true,
      "rollbackFailedInstancesOnPolicyBreach": true}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchdwrozjcgeby6cgoc.pilotprod2.eastus.batch.azure.com/pools/xplatCreatedPool
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC600CD2B89908'
      last-modified:
      - Fri, 19 Apr 2024 01:05:37 GMT
      location:
      - https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/xplatCreatedPool
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/xplatCreatedPool?api-version=2024-02-01.19.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.pilotprod2.eastus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8DC600CD2B89908\",\"lastModified\":\"2024-04-19T01:05:37.0955016Z\",\"creationTime\":\"2024-04-19T01:05:37.0954981Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-04-19T01:05:37.0954981Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2024-04-19T01:05:37.0955028Z\",\"vmSize\":\"standard_d4s_v3\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"MicrosoftWindowsServer\",\"offer\":\"WindowsServer\",\"sku\":\"2016-datacenter-smalldisk\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.windows amd64\",\"nodePlacementConfiguration\":{\r\n
        \     \"policy\":\"Zonal\"\r\n    }\r\n  },\"upgradePolicy\":{\r\n    \"mode\":\"automatic\",\"automaticOSUpgradePolicy\":{\r\n
        \     \"disableAutomaticRollback\":true,\"enableAutomaticOSUpgrade\":true,\"useRollingUpgradePolicy\":true,\"osRollingUpgradeDeferral\":true\r\n
        \   },\"rollingUpgradePolicy\":{\r\n      \"enableCrossZoneUpgrade\":true,\"maxBatchInstancePercent\":20,\"maxUnhealthyInstancePercent\":20,\"maxUnhealthyUpgradedInstancePercent\":20,\"pauseTimeBetweenBatches\":\"P0D\",\"prioritizeUnhealthyInstances\":true,\"rollbackFailedInstancesOnPolicyBreach\":true\r\n
        \   }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC600CD2B89908'
      last-modified:
      - Fri, 19 Apr 2024 01:05:37 GMT
    status:
      code: 200
      message: OK
[...]
