interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2020-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/70a6f084-e2bf-490e-bfcc-f0c2b4ae093d?api-version=2020-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/70a6f084-e2bf-490e-bfcc-f0c2b4ae093d?api-version=2020-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"westus","properties":{"accountEndpoint":"clibatch000002.westus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2020-05-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"/6UFRTDvcP6mG5dtJyJeZzEJop0T3zbXICFLIMnmfjthfOJ71KWhtu9ArBkbgtOo4Yam9/vmupmSC0FGhSmo0w==","secondary":"4qIXR71i1byJcX5lDoc605cyIPUKHmZWxye7HcL4aUNSJw30vSKTzjwtnlf76MOcgNfVs19XI3Z7F0mxMvcTJw=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "xplatCreatedPool", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "targetDedicatedNodes": 0, "startTask": {"commandLine": "cmd
      /c echo test", "userIdentity": {"autoUser": {"scope": "task", "elevationLevel":
      "admin"}}, "waitForSuccess": true}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:59:51 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatcht7cifgod6vzon5wp.westus.batch.azure.com/pools/xplatCreatedPool
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD9B50F3BFA'
      last-modified:
      - Wed, 23 Sep 2020 15:59:52 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "a", "offer": "b", "sku": "c"}, "nodeAgentSKUId":
      "batch.node.windows amd64"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:59:52 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:f7293906-4f87-40f8-bfe7-94dde82848b8\\nTime:2020-09-23T15:59:53.4641548Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"imageReference\"\r\n
        \   },{\r\n      \"key\":\"Reason\",\"value\":\"The specified imageReference
        with publisher a offer b sku c is not supported.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: The value provided for one of the properties in the request body is
        invalid.
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Compute/images/custom_image"},
      "nodeAgentSKUId": "batch.node.windows amd64"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:59:53 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  r[...]
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "canonical", "offer": "ubuntuserver", "sku":
      "18.04-lts"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04", "diskEncryptionConfiguration":
      {"targets": ["temporarydisk"]}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:59:54 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatcht7cifgod6vzon5wp.westus.batch.azure.com/pools/pool_image1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD9B73136D4'
      last-modified:
      - Wed, 23 Sep 2020 15:59:55 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/pool_image1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:59:56 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D85FD9B50F3BFA\",\"lastModified\":\"2020-09-23T15:59:52.3141626Z\",\"creationTime\":\"2020-09-23T15:59:52.3141626Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-09-23T15:59:52.3141626Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2020-09-23T15:59:54.530237Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"task\",\"elevationLevel\":\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n
        \ },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD9B50F3BFA'
      last-modified:
      - Wed, 23 Sep 2020 15:59:52 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 3}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 15:59:57 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool/resize?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatcht7cifgod6vzon5wp.westus.batch.azure.com/pools/xplatCreatedPool/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD9B8BB02C5'
      last-modified:
      - Wed, 23 Sep 2020 15:59:58 GMT
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 15:59:59 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/nodecounts?api-version=2020-03-01.11.0&maxresults=10&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#poolnodecounts\",\"value\":[\r\n
        \   {\r\n      \"poolId\":\"pool_image1\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    },{\r\n      \"poolId\":\"xplatCreatedPool\",\"dedicated\":{\r\n
        \       \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 16:00:00 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool/stopresize?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatcht7cifgod6vzon5wp.westus.batch.azure.com/pools/xplatCreatedPool/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD9B8BB02C5'
      last-modified:
      - Wed, 23 Sep 2020 15:59:58 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 16:02:01 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D85FD9B8BB02C5\",\"lastModified\":\"2020-09-23T15:59:58.4730821Z\",\"creationTime\":\"2020-09-23T15:59:52.3141626Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-09-23T15:59:52.3141626Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2020-09-23T16:00:03.8097041Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":3,\"resizeErrors\":[\r\n
        \   {\r\n      \"code\":\"ResizeStopped\",\"message\":\"Desired number of
        low priority nodes could not be allocated due to a stop resize operation\"\r\n
        \   }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"task\",\"elevationLevel\":\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n
        \ },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FD9B8BB02C5'
      last-modified:
      - Wed, 23 Sep 2020 15:59:58 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"startTask": {"commandLine": "cmd /c echo updated", "waitForSuccess":
      true}, "certificateReferences": [], "applicationPackageReferences": [], "metadata":
      []}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 23 Sep 2020 16:02:03 GMT
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool/updateproperties?api-version=2020-03-01.11.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatcht7cifgod6vzon5wp.westus.batch.azure.com/pools/xplatCreatedPool/updateproperties
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D85FDA03C46646'
      last-modified:
      - Wed, 23 Sep 2020 16:02:04 GMT
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 16:02:04 GMT
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-03-01.11.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D85FDA03C46646\",\"lastM[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 23 Sep 2020 16:02:06 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-03-01.11.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
