interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/dd0b39fa-1aeb-4762-8972-250b0f841fc8?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/dd0b39fa-1aeb-4762-8972-250b0f841fc8?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/dd0b39fa-1aeb-4762-8972-250b0f841fc8?api-version=2022-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/dd0b39fa-1aeb-4762-8972-250b0f841fc8?api-version=2022-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus","properties":{"accountEndpoint":"clibatch000002.eastus.batch.azure.com","nodeManagementEndpoint":"d5eba1a4-59f2-4301-a0c4-1bcf20290519.eastus.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2022-10-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"Wm77SHhWWOJ+IaPsPfKZBx5UsO/+qeRlXI/qNLZbSuiFDv585DWl1hgKtsP5gS/GYWQOwFZ7UmFH+ABagQ+OYA==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "displayName": "displayName", "priority":
      1, "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "commonEnvironmentSettings":
      [{"name": "commonName1", "value": "commonValue1"}, {"name": "commonName2", "value":
      "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"}, "metadata": [{"name":
      "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2", "value": "specMetaValue2"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 29 Jun 2023 08:30:50 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/jobs?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchxljkm4tqkw2bpfcw.eastus.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB787B26FC20F9'
      last-modified:
      - Thu, 29 Jun 2023 08:30:53 GMT
      location:
      - https://clibatch000002.eastus.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "xplatTask", "displayName": "displayName", "commandLine": "cmd /c
      dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}, "userIdentity": {"autoUser": {"scope": "pool", "elevationLevel": "nonadmin"}},
      "multiInstanceSettings": {"numberOfInstances": 3, "coordinationCommandLine":
      "cmd /c echo hello"}, "authenticationTokenSettings": {"access": ["job"]}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 29 Jun 2023 08:30:52 GMT
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks?api-version=2023-05-01.17.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchxljkm4tqkw2bpfcw.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB787B27E43CA8'
      last-modified:
      - Thu, 29 Jun 2023 08:30:54 GMT
      location:
      - https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 29 Jun 2023 08:30:53 GMT
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"url\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask\",\"eTag\":\"0x8DB787B27E43CA8\",\"creationTime\":\"2023-06-29T08:30:54.863684Z\",\"lastModified\":\"2023-06-29T08:30:54.863684Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-06-29T08:30:54.863684Z\",\"commandLine\":\"cmd
        /c dir /s\",\"environmentSettings\":[\r\n    {\r\n      \"name\":\"env1\",\"value\":\"value1\"\r\n
        \   },{\r\n      \"name\":\"env2\",\"value\":\"value2\"\r\n    }\r\n  ],\"userIdentity\":{\r\n
        \   \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"multiInstanceSettings\":{\r\n    \"numberOfInstances\":3,\"coordinationCommandLine\":\"cmd
        /c echo hello\"\r\n  },\"authenticationTokenSettings\":{\r\n    \"access\":[\r\n
        \     \"job\"\r\n    ]\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P1D\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":2\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB787B27E43CA8'
      last-modified:
      - Thu, 29 Jun 2023 08:30:54 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 29 Jun 2023 08:30:54 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"url\":\"https:[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 29 Jun 2023 08:30:58 GMT
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"aaa\",\"url\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa\",\"eTag\":\"0x8DB787B2ABF4C56\",\"creationTime\":\"2023-06-29T08:30:59.654767Z\",\"lastModified\":\"2023-06-29T08:30:59.654767Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-06-29T08:30:59.654767Z\",\"commandLine\":\"ping
        127.0.0.1 -n 30\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB787B2ABF4C56'
      last-modified:
      - Thu, 29 Jun 2023 08:30:59 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 29 Jun 2023 08:30:58 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/taskcounts?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#taskcountsresult/@Element\",\"taskCounts\":{\r\n
        \   \"active\":0,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n
        \ },\"taskSlotCounts\":{\r\n    \"active\":0,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 29 Jun 2023 08:31:12 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": [{"id": "xplatTask3", "displayName": "displayName2", "commandLine":
      "cmd /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"},
      {"name": "env2", "value": "value2"}]}, {"id": "xplatTask2", "displayName": "displayName1",
      "commandLine": "cmd /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}, {"id": "xplatTask1", "displayName": "displayName", "commandLine": "cmd
      /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 29 Jun 2023 08:31:13 GMT
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/addtaskcollection?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask2\",\"eTag\":\"0x8DB787B348E87EE\",\"lastModified\":\"2023-06-29T08:31:16.1123822Z\",\"location\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask2\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask3\",\"eTag\":\"0x8DB787B348F242E\",\"lastModified\":\"2023-06-29T08:31:16.1163822Z\",\"location\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask3\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask1\",\"eTag\":\"0x8DB787B348F242E\",\"lastModified\":\"2023-06-29T08:31:16.1163822Z\",\"location\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 29 Jun 2023 08:31:19 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests?api-version=2023-05-01.17.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
