interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/b6a07359-1580-4bec-b922-7d6d27479d52?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/b6a07359-1580-4bec-b922-7d6d27479d52?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"westus","properties":{"accountEndpoint":"clibatch000002.westus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2021-06-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"ZB0bH399qfzUqU6JxL0cNp9Dg806cqdhQqJvAkhPayoWmkNo7Sueq/P+hX9KtYt7cu13H4ZZvgSANgV1DJfreQ==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "azure-cli-test-paas", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 03 Aug 2021 01:43:08 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchkywhtp7gibkxwdu2.westus.batch.azure.com/pools/azure-cli-test-paas
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200C5DFA30'
      last-modified:
      - Tue, 03 Aug 2021 01:43:09 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-paas
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "azure-cli-test-iaas", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04.0-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 03 Aug 2021 01:43:09 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchkywhtp7gibkxwdu2.westus.batch.azure.com/pools/azure-cli-test-iaas
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200CC93F8A'
      last-modified:
      - Tue, 03 Aug 2021 01:43:10 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "azure-cli-test-json", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "resizeTimeout": "PT15M", "targetLowPriorityNodes": 2, "startTask":
      {"commandLine": "cmd /c echo test", "userIdentity": {"username": "cliTestUser"},
      "waitForSuccess": true}, "taskSlotsPerNode": 3, "userAccounts": [{"name": "cliTestUser",
      "password": "SRYES@#%#_DSFH", "elevationLevel": "admin"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 03 Aug 2021 01:43:10 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchkywhtp7gibkxwdu2.westus.batch.azure.com/pools/azure-cli-test-json
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200D8CDE54'
      last-modified:
      - Tue, 03 Aug 2021 01:43:11 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:11 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8D956200D8CDE54\",\"lastModified\":\"2021-08-03T01:43:11.5913812Z\",\"creationTime\":\"2021-08-03T01:43:11.5913812Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-08-03T01:43:11.5913812Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2021-08-03T01:43:11.5913812Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":2,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  },\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"cliTestUser\",\"elevationLevel\":\"admin\",\"windowsUserConfiguration\":{\r\n
        \       \"loginMode\":\"interactive\"\r\n      }\r\n    }\r\n  ],\"taskSlotsPerNode\":3,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n
        \   \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200D8CDE54'
      last-modified:
      - Tue, 03 Aug 2021 01:43:11 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:12 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2021-06-01.14.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8D956200CC93F8A\",\"lastModified\":\"2021-08-03T01:43:10.3093642Z\",\"creationTime\":\"2021-08-03T01:43:10.3093642Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-08-03T01:43:10.3093642Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2021-08-03T01:43:11.9133847Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \       \"nodeFillType\":\"Spread\"\r\n      },\"virtualMachineConfiguration\":{\r\n
        \       \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04.0-LTS\",\"version\":\"latest\"\r\n
        \       },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n      }\r\n    },{\r\n
        \     \"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8D956200D8CDE54\",\"lastModified\":\"2021-08-03T01:43:11.5913812Z\",\"creationTime\":\"2021-08-03T01:43:11.5913812Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-08-03T01:43:11.5913812Z\",\"allocationState\":\"resizing\",\"allocationStateTransi[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:12 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2021-06-01.14.0&$filter=id%20eq%20%27azure-cli-test-paas%27&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"azure-[...]
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 5}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 03 Aug 2021 01:43:13 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-paas/resize?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchkywhtp7gibkxwdu2.westus.batch.azure.com/pools/azure-cli-test-paas/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200EC47509'
      last-modified:
      - Tue, 03 Aug 2021 01:43:13 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:13 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-paas?api-version=2021-06-01.14.0&$select=allocationState%2C%20targetLowPriorityNodes&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"allocationState\":\"resizing\",\"targetLowPriorityNodes\":5\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200EC47509'
      last-modified:
      - Tue, 03 Aug 2021 01:43:13 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:13 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-paas/stopresize?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchkywhtp7gibkxwdu2.westus.batch.azure.com/pools/azure-cli-test-paas/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200EC47509'
      last-modified:
      - Tue, 03 Aug 2021 01:43:13 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 03 Aug 2021 01:43:14 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchkywhtp7gibkxwdu2.westus.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200F9867A4'
      last-modified:
      - Tue, 03 Aug 2021 01:43:15 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:14 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas?api-version=2021-06-01.14.0&$select=enableAutoScale&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"enableAutoScale\":true\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200F9867A4'
      last-modified:
      - Tue, 03 Aug 2021 01:43:15 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 03 Aug 2021 01:43:16 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2021-08-03T01:43:17.1634998Z\",\"results\":\"$TargetDedicatedNodes=0;$TargetLowPriorityNodes=3;$NodeDeallocationOption=requeue\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceid:
      - https://clibatchkywhtp7gibkxwdu2.westus.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:17 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchkywhtp7gibkxwdu2.westus.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200F9867A4'
      last-modified:
      - Tue, 03 Aug 2021 01:43:15 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:17 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/poolusagemetrics?api-version=2021-06-01.14.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#poolusagemetrics\",\"value\":[]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:18 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json?api-version=2021-06-01.14.0&$select=startTask&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D956200D8CDE54'
      last-modified:
      - Tue, 03 Aug 2021 01:43:11 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:19 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-json?api-version=2021-06-01.14.0&$select=startTask&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"new_value\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n      }\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9562012768D3D'
      last-modified:
      - Tue, 03 Aug 2021 01:43:19 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:20 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/supportedimages?api-version=2021-06-01.14.0&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#supportedimages\",\"value\":[\r\n
        \   {\r\n      \"imageReference\":{\r\n        \"publisher\":\"batch\",\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.centos
        7\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"batch\",\"offer\":\"rendering-windows2016\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.windows
        amd64\",\"osType\":\"windows\"\r\n    },{\r\n      \"imageReference\":{\r\n
        \       \"publisher\":\"canonical\",\"offer\":\"0001-com-ubuntu-server-focal\",\"sku\":\"20_04-lts\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        20.04\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n
        \       \"publisher\":\"canonical\",\"offer\":\"0001-com-ubuntu-server-focal\",\"sku\":\"20_04-lts-gen2\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        20.04\",\"capabilities\":[\r\n        \"Generation2VMImage\"\r\n      ],\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"18.04-lts\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        18.04\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n
        \       \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"18_04-lts-gen2\[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 03 Aug 2021 01:43:21 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-iaas?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"id": "app_package_test", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 03 Aug 2021 01:43:21 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:b11e5fb5-345f-4dbe-873b-48ff15bffe3f\\nTime:2021-08-03T01:43:22.5367388Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: One or more of the specified application package references are invalid.
- request:
    body: '{"applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 03 Aug 2021 01:43:22 GMT
      return-client-request-id:
      - 'false'
    method: PATCH
    uri: https://clibatch000002.westus.batch.azure.com/pools/azure-cli-test-paas?api-version=2021-06-01.14.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:be77e30f-3865-411a-be5a-2c96315b983b\\nTime:2021-08-03T01:43:22.9290435Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: One or more of the specified application package references are invalid.
version: 1
