interactions:
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/984e65de-39af-4c25-bdeb-1815506b7804?api-version=2024-02-01&t=638726499679665374&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTIyOTEzWhcNMjUwMzIxMTIyOTEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/984e65de-39af-4c25-bdeb-1815506b7804?api-version=2024-02-01&t=638726499679665374&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/984e65de-39af-4c25-bdeb-1815506b7804?api-version=2024-02-01&t=638726499682877939&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwO[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"fakeBatchAccountKey0==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"clibatch000002.eastus2.batch.azure.com","nodeManagementEndpoint":"b96dded6-38c3-4a70-910f-374185dee213.eastus2.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: '{"id": "azure-cli-test-iaas", "vmSize": "Standard_DS1_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04"}, "targetNodeCommunicationMode":
      "classic"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchd7d2ea3uk2xa3np6.eastus2.batch.azure.com/pools/azure-cli-test-iaas
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E13F342AF'
      last-modified:
      - Thu, 16 Jan 2025 18:46:24 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8DD365E13F342AF\",\"lastModified\":\"2025-01-16T18:46:24.6013615Z\",\"creationTime\":\"2025-01-16T18:46:24.6013604Z\",\"state\":\"active\",\"stateTransitionTime\":\"2025-01-16T18:46:24.6013604Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2025-01-16T18:46:24.6013616Z\",\"vmSize\":\"standard_ds1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n  },\"targetNodeCommunicationMode\":\"classic\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E13F342AF'
      last-modified:
      - Thu, 16 Jan 2025 18:46:24 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "invalid-size-test", "vmSize": "thisisinvalid", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04.0-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:0170b33d-e698-4ad8-a700-1f5a42313b08\\nTime:2025-01-16T18:46:25.3950120Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"vmSize\"\r\n
        \   },{\r\n      \"key\":\"PropertyValue\",\"value\":\"thisisinvalid\"\r\n
        \   },{\r\n      \"key\":\"Reason\",\"value\":\"The value provided for one
        of the properties in the request body is invalid.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: The value provided for one of the properties in the request body is
        invalid.
- request:
    body: '{"id": "azure-cli-test-json", "vmSize": "STANDARD_D2S_V3", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "microsoftwindowsserver", "offer": "windowsserver",
      "sku": "2022-datacenter", "version": "latest"}, "nodeAgentSKUId": "batch.node.windows
      amd64", "nodePlacementConfiguration": {"policy": "regional"}, "osDisk": {"caching":
      "none", "managedDisk": {"storageAccountType": "premium_lrs"}}}, "targetDedicatedNodes":
      0, "taskSlotsPerNode": 3, "startTask": {"commandLine": "cmd /c echo test", "waitForSuccess":
      true, "userIdentity": {"username": "cliTestUser"}}, "userAccounts": [{"name":
      "cliTestUser", "password": "SRYES@#%#_DSFH", "elevationLevel": "admin"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchd7d2ea3uk2xa3np6.eastus2.batch.azure.com/pools/azure-cli-test-json
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E1534E7E7'
      last-modified:
      - Thu, 16 Jan 2025 18:46:26 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-json?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-json\",\"eTag\":\"0x8DD365E1534E7E7\",\"lastModified\":\"2025-01-16T18:46:26.7092967Z\",\"creationTime\":\"2025-01-16T18:46:26.7092953Z\",\"state\":\"active\",\"stateTransitionTime\":\"2025-01-16T18:46:26.7092953Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2025-01-16T18:46:26.7092969Z\",\"vmSize\":\"standard_d2s_v3\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  },\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"cliTestUser\",\"elevationLevel\":\"admin\",\"windowsUserConfiguration\":{\r\n
        \       \"loginMode\":\"batch\"\r\n      }\r\n    }\r\n  ],\"certificateReferences\":[],\"taskSlotsPerNode\":3,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"microsoftwindowsserver\",\"offer\":\"windowsserver\",\"sku\":\"2022-datacenter\",\"version\":\"latest\"\r\n
        \   },\"osDisk\":{\r\n      \"ephemeralOSDiskSettings\":{},\"managedDisk\":{\r\n
        \       \"storageAccountType\":\"premium_lrs\"\r\n      },\"caching\":\"None\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.windows amd64\",\"nodePlacementConfiguration\":{\r\n
        \     \"policy\":\"Regional\"\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E1534E7E7'
      last-modified:
      - Thu, 16 Jan 2025 18:46:26 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools?api-version=2024-02-01.19.0&$filter=id%20eq%20%27azure-cli-test-iaas%27
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8DD365E13F342[...]
[...]
- request:
    body: '{"targetDedicatedNodes": "0", "targetLowPriorityNodes": "5"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/resize?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchd7d2ea3uk2xa3np6.eastus2.batch.azure.com/pools/azure-cli-test-iaas/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E161C9214'
      last-modified:
      - Thu, 16 Jan 2025 18:46:28 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0&$select=allocationState%2C%20targetLowPriorityNodes
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"allocationState\":\"resizing\",\"targetLowPriorityNodes\":5\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E161C9214'
      last-modified:
      - Thu, 16 Jan 2025 18:46:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/stopresize?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchd7d2ea3uk2xa3np6.eastus2.batch.azure.com/pools/azure-cli-test-iaas/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E161C9214'
      last-modified:
      - Thu, 16 Jan 2025 18:46:28 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchd7d2ea3uk2xa3np6.eastus2.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E161C9214'
      last-modified:
      - Thu, 16 Jan 2025 18:46:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0&$select=enableAutoScale
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"enableAutoScale\":true\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E161C9214'
      last-modified:
      - Thu, 16 Jan 2025 18:46:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"autoScaleFormula": "$TargetLowPriorityNodes=3"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2025-01-16T18:46:29.4716279Z\",\"results\":\"$TargetDedicatedNodes=0;$TargetLowPriorityNodes=3;$NodeDeallocationOption=requeue\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceid:
      - https://clibatchd7d2ea3uk2xa3np6.eastus2.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchd7d2ea3uk2xa3np6.eastus2.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E161C9214'
      last-modified:
      - Thu, 16 Jan 2025 18:46:28 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/poolusagemetrics?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"PoolUsageMetricAPIRetired\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"Pool list usage metrics API was retired
        on 09/30/2024\\nRequestId:797b6884-fee8-4d02-a95c-6110e614cdeb\\nTime:2025-01-16T18:46:30.1898691Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: Pool list usage metrics API was retired on 09/30/2024
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-json?api-version=2024-02-01.19.0&$select=startTask
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"username\":\"cliTestUser\"\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E1534E7E7'
      last-modified:
      - Thu, 16 Jan 2025 18:46:26 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-json?api-version=2024-02-01.19.0&$select=startTask
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"startTask\":{\r\n
        \   \"commandLine\":\"new_value\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n      }\r\n
        \   },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E178812E1'
      last-modified:
      - Thu, 16 Jan 2025 18:46:30 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/supportedimages?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#supportedimages\",\"value\":[\r\n
        \   {\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8-gen1\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"batchSupportEndOfLife\":\"2024-12-29T00:00:00Z\",\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8-gen2\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"capabilities\":[\r\n        \"Generation2VMImage\"\r\n      ],\"batchSupportEndOfLife\":\"2024-12-29T00:00:00Z\",\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8_5\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"batchSupportEndOfLife\":\"2024-12-29T00:00:00Z\",\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n [...]
- request:
    body: '{"applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: PATCH
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"One or more of the specified application
        package references are invalid.\\nRequestId:bd4805e5-b629-4a4a-8136-6e3f83ae37c6\\nTime:2025-01-16T18:46:31.9374655Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"does-not-exist\",\"value\":\"The
        specified application package does not exist.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: One or more of the specified application package references are invalid.
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8DD365E161C9214\",\"lastModified\":\"2025-01-16T18:46:28.2275348Z\",\"creationTime\":\"2025-01-16T18:46:24.6013604Z\",\"state\":\"active\",\"stateTransitionTime\":\"2025-01-16T18:46:24.6013604Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2025-01-16T18:46:33.437517Z\",\"vmSize\":\"standard_ds1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":5,\"resizeErrors\":[\r\n
        \   {\r\n      \"code\":\"ResizeStopped\",\"message\":\"Desired number of
        low priority nodes could not be allocated due to a stop resize operation\"\r\n
        \   }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n  },\"targetNodeCommunicationMode\":\"classic\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E161C9214'
      last-modified:
      - Thu, 16 Jan 2025 18:46:28 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#pools/@Element\",\"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas\",\"eTag\":\"0x8DD365E19EA3198\",\"lastModified\":\"2025-01-16T18:46:34.6082712Z\",\"creationTime\":\"2025-01-16T18:46:24.6013604Z\",\"state\":\"active\",\"stateTransitionTime\":\"2025-01-16T18:46:24.6013604Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2025-01-16T18:47:05.2632967Z\",\"vmSize\":\"standard_ds1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":1,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n  },\"targetNodeCommunicationMode\":\"classic\",\"currentNodeCommunicationMode\":\"classic\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E19EA3198'
      last-modified:
      - Thu, 16 Jan 2025 18:46:34 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/nodes?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_f1bce5945081f8ff7c141ac5a66bc08fbd2b629b29d41a1466443fa5eecd5c14_d\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/nodes/tvmps_f1bce5945081f8ff7c141ac5a66bc08fbd2b629b29d41a1466443fa5eecd5c14_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2025-01-16T18:47:04.7095863Z\",\"allocationTime\":\"2025-01-16T18:47:04.7095916Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_f1bce5945081f8ff7c141ac5a66bc08fbd2b629b29d41a1466443fa5eecd5c14_d\",\"vmSize\":\"standard_ds1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"9.169.148.242\",\"publicFQDN\":\"dnsa0a21e05-df92-4a66-9b47-888c23c5510b-azurebatch-cloudservice.eastus2.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"latest\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/nodes/tvmps_f1bce5945081f8ff7c141ac5a66bc08fbd2b629b29d41a1466443fa5eecd5c14_d?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#nodes/@Element\",\"id\":\"tvmps_f1bce5945081f8ff7c141ac5a66bc08fbd2b629b29d41a1466443fa5eecd5c14_d\",\"url\":\"https://clibatch000002.[...]
- request:
    body: null
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/nodes/tvmps_f1bce5945081f8ff7c141ac5a66bc08fbd2b629b29d41a1466443fa5eecd5c14_d/reboot?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchd7d2ea3uk2xa3np6.eastus2.batch.azure.com/pools/azure-cli-test-iaas/nodes/tvmps_f1bce5945081f8ff7c141ac5a66bc08fbd2b629b29d41a1466443fa5eecd5c14_d/reboot
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"nodeList": ["tvmps_f1bce5945081f8ff7c141ac5a66bc08fbd2b629b29d41a1466443fa5eecd5c14_d"]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/pools/azure-cli-test-iaas/removenodes?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchd7d2ea3uk2xa3np6.eastus2.batch.azure.com/pools/azure-cli-test-iaas/removenodes
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD365E2D18B67A'
      last-modified:
      - Thu, 16 Jan 2025 18:47:06 GMT
    status:
      code: 202
      message: Accepted
[...]
