interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/f52ccb88-2538-4902-9eee-e521a3a8bfde?api-version=2024-02-01&t=638695421907785081&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/f52ccb88-2538-4902-9eee-e521a3a8bfde?api-version=2024-02-01&t=638695421907785081&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/f52ccb88-2538-4902-9eee-e521a3a8bfde?api-version=2024-02-01&t=638695421912236609&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus","properties":{"accountEndpoint":"clibatch000002.eastus.batch.azure.com","nodeManagementEndpoint":"741b2f86-837a-47c6-9d9b-8397e957c84d.eastus.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"fakeBatchAccountKey0==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "xplatCreatedPool", "vmSize": "standard_d4s_v3", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2016-datacenter-smalldisk"}, "nodeAgentSKUId": "batch.node.windows amd64",
      "nodePlacementConfiguration": {"policy": "zonal"}}, "targetDedicatedNodes":
      "2", "upgradePolicy": {"mode": "automatic", "automaticOSUpgradePolicy": {"disableAutomaticRollback":
      true, "enableAutomaticOSUpgrade": true, "useRollingUpgradePolicy": true, "osRollingUpgradeDeferral":
      true}, "rollingUpgradePolicy": {"enableCrossZoneUpgrade": true, "maxBatchInstancePercent":
      "20", "maxUnhealthyInstancePercent": "20", "maxUnhealthyUpgradedInstancePercent":
      "20", "pauseTimeBetweenBatches": "PT0S", "prioritizeUnhealthyInstances": true,
      "rollbackFailedInstancesOnPolicyBreach": true}}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Wed, 11 Dec 2024 19:30:08 GMT
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchxnsvegqc7zw25npn.eastus.batch.azure.com/pools/xplatCreatedPool
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD1A1A3969C7B1'
      last-modified:
      - Wed, 11 Dec 2024 19:30:09 GMT
      location:
      - https://clibatch000002.eastus.batch.azure.com/pools/xplatCreatedPool
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 11 Dec 2024 19:30:09 GMT
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/pools/xplatCreatedPool?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.eastus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8DD1A1A3969C7B1\",\"lastModified\":\"2024-12-11T19:30:09.1184049Z\",\"creationTime\":\"2024-12-11T19:30:09.1184037Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-12-11T19:30:09.1184037Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2024-12-11T19:30:09.1184049Z\",\"vmSize\":\"standard_d4s_v3\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"MicrosoftWindowsServer\",\"offer\":\"WindowsServer\",\"sku\":\"2016-datacenter-smalldisk\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.windows amd64\",\"nodePlacementConfiguration\":{\r\n
        \     \"policy\":\"Zonal\"\r\n    }\r\n  },\"upgradePolicy\":{\r\n    \"mode\":\"automatic\",\"automaticOSUpgradePolicy\":{\r\n
        \     \"disableAutomaticRollback\":true,\"enableAutomaticOSUpgrade\":true,\"useRollingUpgradePolicy\":true,\"osRollingUpgradeDeferral\":true\r\n
        \   },\"rollingUpgradePolicy\":{\r\n      \"enableCrossZoneUpgrade\":true,\"maxBatchInstancePercent\":20,\"maxUnhealthyInstancePercent\":20,\"maxUnhealthyUpgradedInstancePercent\":20,\"pauseTimeBetweenBatches\":\"PT0S\",\"prioritizeUnhealthyInstances\":true,\"rollbackFailedInstancesOnPolicyBreach\":true\r\n
        \   }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD1A1A3969C7B1'
      last-modified:
      - Wed, 11 Dec 2024 19:30:09 GMT
    status:
      code: 200
      message: OK
[...]
