interactions:
- request:
    body: '{"location": "canadacentral"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/81e360b6-d9c1-4709-83c9-b69dc528bad1?api-version=2021-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/81e360b6-d9c1-4709-83c9-b69dc528bad1?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"canadacentral","properties":{"accountEndpoint":"clibatch000002.canadacentral.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2021-01-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"pg/C5XcFLnUTp9jOOXRGSik/yFC2vF2/fMDAEUXgaGBGAe1awTg0IVIiKFehH3Bz8aJt951pMmOBznxnygYZ/Q==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "displayName": "displayName", "priority":
      1, "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "commonEnvironmentSettings":
      [{"name": "commonName1", "value": "commonValue1"}, {"name": "commonName2", "value":
      "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"}, "metadata": [{"name":
      "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2", "value": "specMetaValue2"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 26 May 2021 09:02:23 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchlhb7fh3ce7icozpf.canadacentral.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D92024FAB60686'
      last-modified:
      - Wed, 26 May 2021 09:02:24 GMT
      location:
      - https://clibatch000002.canadacentral.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "xplatTask", "displayName": "displayName", "commandLine": "cmd /c
      dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}, "userIdentity": {"autoUser": {"scope": "pool", "elevationLevel": "nonadmin"}},
      "multiInstanceSettings": {"numberOfInstances": 3, "coordinationCommandLine":
      "cmd /c echo hello"}, "authenticationTokenSettings": {"access": ["job"]}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 26 May 2021 09:02:25 GMT
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchlhb7fh3ce7icozpf.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D92024FB7CB905'
      last-modified:
      - Wed, 26 May 2021 09:02:25 GMT
      location:
      - https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:02:26 GMT
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"url\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask\",\"eTag\":\"0x8D92024FB7CB905\",\"creationTime\":\"2021-05-26T09:02:25.9802373Z\",\"lastModified\":\"2021-05-26T09:02:25.9802373Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-05-26T09:02:25.9802373Z\",\"commandLine\":\"cmd
        /c dir /s\",\"environmentSettings\":[\r\n    {\r\n      \"name\":\"env1\",\"value\":\"value1\"\r\n
        \   },{\r\n      \"name\":\"env2\",\"value\":\"value2\"\r\n    }\r\n  ],\"userIdentity\":{\r\n
        \   \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"multiInstanceSettings\":{\r\n    \"numberOfInstances\":3,\"coordinationCommandLine\":\"cmd
        /c echo hello\"\r\n  },\"authenticationTokenSettings\":{\r\n    \"access\":[\r\n
        \     \"job\"\r\n    ]\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P1D\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":2\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D92024FB7CB905'
      last-modified:
      - Wed, 26 May 2021 09:02:25 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:02:26 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:02:30 GMT
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"aaa\",\"url\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa\",\"eTag\":\"0x8D92024FE0D5E19\",\"creationTime\":\"2021-05-26T09:02:30.2836249Z\",\"lastModified\":\"2021-05-26T09:02:30.2836249Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-05-26T09:02:30.2836249Z\",\"commandLine\":\"ping
        127.0.0.1 -n 30\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D92024FE0D5E19'
      last-modified:
      - Wed, 26 May 2021 09:02:30 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:02:40 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/taskcounts?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#taskcountsresult/@Element\",\"taskCounts\":{\r\n
        \   \"active\":1,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n
        \ },\"taskSlotCounts\":{\r\n    \"active\":1,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:02:47 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": [{"id": "xplatTask3", "displayName": "displayName2", "commandLine":
      "cmd /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"},
      {"name": "env2", "value": "value2"}]}, {"id": "xplatTask2", "displayName": "displayName1",
      "commandLine": "cmd /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}, {"id": "xplatTask1", "displayName": "displayName", "commandLine": "cmd
      /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 26 May 2021 09:02:48 GMT
    method: POST
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/addtaskcollection?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.canadacentral.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask3\",\"eTag\":\"0x8D9202509C797FC\",\"lastModified\":\"2021-05-26T09:02:49.959014Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask3\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask2\",\"eTag\":\"0x8D9202509C91E53\",\"lastModified\":\"2021-05-26T09:02:49.9690067Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask2\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask1\",\"eTag\":\"0x8D9202509C9457B\",\"lastModified\":\"2021-05-26T09:02:49.9700091Z\",\"location\":\"https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:02:51 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.canadacentral.batch.azure.com/jobs/xplatJobForTaskTests?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
