interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2023-11-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/3ea9d3b2-95b2-4f5d-a2e2-183117acbd65?api-version=2023-11-01&t=638427750168838816&c=MIIHADCCBeigAwIBAgITfARnJNBquoML0OGeGQAABGck0DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMjAxMjAwMjM1WhcNMjUwMTI2MjAwMjM1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/3ea9d3b2-95b2-4f5d-a2e2-183117acbd65?api-version=2023-11-01&t=638427750168838816&c=MIIHADCCBeigAwIBAgITfARnJNBquoML0OGeGQAABGck0DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/3ea9d3b2-95b2-4f5d-a2e2-183117acbd65?api-version=2023-11-01&t=638427750170245073&c=MIIHADCCBeigAwIBAgITfARnJNBquoML0OGeGQAABGck0DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwM[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2023-11-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"I0o/IruSkswfHNIb95VUvcO0Uuq7MtaD131smUh6acmNRu+Y3pCx2erB1EgyttJwMMDpZb6Rh5i8+ABaIwFUvg==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2023-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus","properties":{"accountEndpoint":"clibatch000002.eastus.batch.azure.com","nodeManagementEndpoint":"e5874696-fa5b-4019-9f83-6c71b9ce25aa.eastus.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: '{"id": "xplatJobForTaskTests", "displayName": "displayName", "priority":
      1, "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "commonEnvironmentSettings":
      [{"name": "commonName1", "value": "commonValue1"}, {"name": "commonName2", "value":
      "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"}, "metadata": [{"name":
      "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2", "value": "specMetaValue2"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/jobs?api-version=2023-11-01.18.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchgdj7yyavwltc6gx4.eastus.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC26A809F222A8'
      last-modified:
      - Tue, 06 Feb 2024 00:10:34 GMT
      location:
      - https://clibatch000002.eastus.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "xplatTask", "displayName": "displayName", "commandLine": "cmd /c
      dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}, "userIdentity": {"autoUser": {"scope": "pool", "elevationLevel": "nonadmin"}},
      "multiInstanceSettings": {"numberOfInstances": 3, "coordinationCommandLine":
      "cmd /c echo hello"}, "authenticationTokenSettings": {"access": ["job"]}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks?api-version=2023-11-01.18.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatchgdj7yyavwltc6gx4.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC26A80A605DD2'
      last-modified:
      - Tue, 06 Feb 2024 00:10:35 GMT
      location:
      - https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2023-11-01.18.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"url\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask\",\"eTag\":\"0x8DC26A80A605DD2\",\"creationTime\":\"2024-02-06T00:10:35.0216658Z\",\"lastModified\":\"2024-02-06T00:10:35.0216658Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-02-06T00:10:35.0216658Z\",\"commandLine\":\"cmd
        /c dir /s\",\"environmentSettings\":[\r\n    {\r\n      \"name\":\"env1\",\"value\":\"value1\"\r\n
        \   },{\r\n      \"name\":\"env2\",\"value\":\"value2\"\r\n    }\r\n  ],\"userIdentity\":{\r\n
        \   \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"multiInstanceSettings\":{\r\n    \"numberOfInstances\":3,\"coordinationCommandLine\":\"cmd
        /c echo hello\"\r\n  },\"authenticationTokenSettings\":{\r\n    \"access\":[\r\n
        \     \"job\"\r\n    ]\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P1D\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":2\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC26A80A605DD2'
      last-modified:
      - Tue, 06 Feb 2024 00:10:35 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask?api-version=2023-11-01.18.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"xplatTask\",\"displayName\":\"displayName\",\"url\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobF[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2023-11-01.18.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"aaa\",\"url\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa\",\"eTag\":\"0x8DC26A80BB751BB\",\"creationTime\":\"2024-02-06T00:10:37.2692411Z\",\"lastModified\":\"2024-02-06T00:10:37.2692411Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-02-06T00:10:37.2692411Z\",\"commandLine\":\"ping
        127.0.0.1 -n 30\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DC26A80BB751BB'
      last-modified:
      - Tue, 06 Feb 2024 00:10:37 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/taskcounts?api-version=2023-11-01.18.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#taskcountsresult/@Element\",\"taskCounts\":{\r\n
        \   \"active\":1,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n
        \ },\"taskSlotCounts\":{\r\n    \"active\":1,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/aaa?api-version=2023-11-01.18.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": [{"id": "xplatTask3", "displayName": "displayName2", "commandLine":
      "cmd /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"},
      {"name": "env2", "value": "value2"}]}, {"id": "xplatTask2", "displayName": "displayName1",
      "commandLine": "cmd /c dir /s", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}, {"id": "xplatTask1", "displayName": "displayName", "commandLine": "cmd
      /c dir /s", "environmentSettings": [{"name": "env1", "value": "value1"}, {"name":
      "env2", "value": "value2"}], "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      2}}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
    method: POST
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/addtaskcollection?api-version=2023-11-01.18.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask3\",\"eTag\":\"0x8DC26A8139F7EE7\",\"lastModified\":\"2024-02-06T00:10:50.5348839Z\",\"location\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask3\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask1\",\"eTag\":\"0x8DC26A8139FA5FF\",\"lastModified\":\"2024-02-06T00:10:50.5358847Z\",\"location\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask1\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"xplatTask2\",\"eTag\":\"0x8DC26A813A01B2A\",\"lastModified\":\"2024-02-06T00:10:50.5388842Z\",\"location\":\"https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests/tasks/xplatTask2\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.eastus.batch.azure.com/jobs/xplatJobForTaskTests?api-version=2023-11-01.18.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
