interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/d1292c08-9531-468e-809d-185a073ecc0a?api-version=2021-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/d1292c08-9531-468e-809d-185a073ecc0a?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"westus","properties":{"accountEndpoint":"clibatch000002.westus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2021-01-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"W6C9ZJxE7XzW9f6LuNUHoghNRwNiazK5fwdXF/oeJ6OS+y58hzblXfruNHAFTf1YPTNM96F225l7CnYZcQrz+Q==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "xplatCreatedPool", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}, "targetDedicatedNodes": 0, "startTask": {"commandLine": "cmd
      /c echo test", "userIdentity": {"autoUser": {"scope": "task", "elevationLevel":
      "admin"}}, "waitForSuccess": true}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 26 May 2021 09:02:22 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatcharuetiq5rnznsesq.westus.batch.azure.com/pools/xplatCreatedPool
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D92024F9D347E3'
      last-modified:
      - Wed, 26 May 2021 09:02:23 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "a", "offer": "b", "sku": "c"}, "nodeAgentSKUId":
      "batch.node.windows amd64"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 26 May 2021 09:02:23 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:c8faa9bc-05c5-4dd0-8635-5ffe0e6da7d2\\nTime:2021-05-26T09:02:24.3005806Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"imageReference\"\r\n
        \   },{\r\n      \"key\":\"Reason\",\"value\":\"The specified imageReference
        with publisher a offer b sku c is not supported.\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: The value provided for one of the properties in the request body is
        invalid.
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_rg/providers/Microsoft.Compute/images/custom_image"},
      "nodeAgentSKUId": "batch.node.windows amd64"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 26 May 2021 09:02:24 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-09-01.12.0&timeout=30
  r[...]
- request:
    body: '{"id": "pool_image1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "canonical", "offer": "ubuntuserver", "sku":
      "18.04-lts"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04", "diskEncryptionConfiguration":
      {"targets": ["temporarydisk"]}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 26 May 2021 09:02:25 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatcharuetiq5rnznsesq.westus.batch.azure.com/pools/pool_image1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D92024FBE89503'
      last-modified:
      - Wed, 26 May 2021 09:02:26 GMT
      location:
      - https://clibatch000002.westus.batch.azure.com/pools/pool_image1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:04:27 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D92024F9D347E3\",\"lastModified\":\"2021-05-26T09:02:23.1920611Z\",\"creationTime\":\"2021-05-26T09:02:23.1920611Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-05-26T09:02:23.1920611Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2021-05-26T09:02:24.6530767Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"task\",\"elevationLevel\":\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n
        \ },\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D92024F9D347E3'
      last-modified:
      - Wed, 26 May 2021 09:02:23 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 3}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 26 May 2021 09:04:28 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool/resize?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatcharuetiq5rnznsesq.westus.batch.azure.com/pools/xplatCreatedPool/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9202544C781B2'
      last-modified:
      - Wed, 26 May 2021 09:04:28 GMT
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:04:30 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/nodecounts?api-version=2020-09-01.12.0&maxresults=10&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#poolnodecounts\",\"value\":[\r\n
        \   {\r\n      \"poolId\":\"pool_image1\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    },{\r\n      \"poolId\":\"xplatCreatedPool\",\"dedicated\":{\r\n
        \       \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:04:31 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool/stopresize?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatcharuetiq5rnznsesq.westus.batch.azure.com/pools/xplatCreatedPool/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9202544C781B2'
      last-modified:
      - Wed, 26 May 2021 09:04:28 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:06:32 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D9202544C781B2\",\"lastModified\":\"2021-05-26T09:04:28.9440178Z\",\"creationTime\":\"2021-05-26T09:02:23.1920611Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-05-26T09:02:23.1920611Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2021-05-26T09:04:34.1863344Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":3,\"resizeErrors\":[\r\n
        \   {\r\n      \"code\":\"ResizeStopped\",\"message\":\"Desired number of
        low priority nodes could not be allocated due to a stop resize operation\"\r\n
        \   }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \   \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n
        \       \"scope\":\"task\",\"elevationLevel\":\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n
        \ },\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9202544C781B2'
      last-modified:
      - Wed, 26 May 2021 09:04:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"startTask": {"commandLine": "cmd /c echo updated", "waitForSuccess":
      true}, "certificateReferences": [], "applicationPackageReferences": [], "metadata":
      []}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 26 May 2021 09:06:33 GMT
    method: POST
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool/updateproperties?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatcharuetiq5rnznsesq.westus.batch.azure.com/pools/xplatCreatedPool/updateproperties
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D920258F839FBC'
      last-modified:
      - Wed, 26 May 2021 09:06:34 GMT
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:06:34 GMT
    method: GET
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool\",\"eTag\":\"0x8D920258F839FBC\",\"lastM[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 26 May 2021 09:06:36 GMT
      return-client-request-id:
      - 'false'
    method: DELETE
    uri: https://clibatch000002.westus.batch.azure.com/pools/xplatCreatedPool?api-version=2020-09-01.12.0&timeout=30
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
