interactions:
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/eea93979-3e20-44bc-9585-9d635b256c1f?api-version=2024-02-01&t=638702272592715920&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTIyOTEzWhcNMjUwMzIxMTIyOTEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/eea93979-3e20-44bc-9585-9d635b256c1f?api-version=2024-02-01&t=638702272592715920&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/eea93979-3e20-44bc-9585-9d635b256c1f?api-version=2024-02-01&t=638702272594420176&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwO[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2024-02-01
  response:
    body:
      string: '{"accountName":"clibatch000002","primary":"fakeBatchAccountKey0==","secondary":"fakeBatchAccountKey0=="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2024-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"clibatch000002.eastus2.batch.azure.com","nodeManagementEndpoint":"a673f060-5ccc-4b43-a66b-542b337ba07a.eastus2.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
- request:
    body: '{"id": "xplatJobScheduleJobTests", "displayName": "displayName", "schedule":
      {"recurrenceInterval": "P2D"}, "jobSpecification": {"priority": 1, "displayName":
      "jobSpecDisplayName", "constraints": {"maxWallClockTime": "P1D", "maxTaskRetryCount":
      5}, "jobManagerTask": {"id": "jobManager", "displayName": "jobManagerDisplay",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "filePath"}], "environmentSettings": [{"name": "name1", "value":
      "value1"}, {"name": "name2", "value": "value2"}], "constraints": {"maxWallClockTime":
      "PT1H"}, "killJobOnCompletion": false}, "jobPreparationTask": {"id": "jobPrep",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobPrepFilePath"}], "environmentSettings": [{"name": "jobPrepName1",
      "value": "jobPrepValue1"}, {"name": "jobPrepName2", "value": "jobPrepValue2"}],
      "constraints": {"maxTaskRetryCount": 2}}, "jobReleaseTask": {"id": "jobRelease",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobReleaseFilePath"}], "environmentSettings": [{"name": "jobReleaseName1",
      "value": "jobReleaseValue1"}, {"name": "jobReleaseName2", "value": "jobReleaseValue2"}]},
      "commonEnvironmentSettings": [{"name": "commonName1", "value": "commonValue1"},
      {"name": "commonName2", "value": "commonValue2"}], "poolInfo": {"autoPoolSpecification":
      {"autoPoolIdPrefix": "TestSpecPrefix", "poolLifetimeOption": "jobschedule",
      "keepAlive": false, "pool": {"vmSize": "STANDARD_D2S_V3", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "microsoftwindowsserver", "offer": "windowsserver",
      "sku": "2022-datacenter", "version": "latest"}, "nodeAgentSKUId": "batch.node.windows
      amd64", "nodePlacementConfiguration": {"policy": "regional"}, "osDisk": {"caching":
      "none", "managedDisk": {"storageAccountType": "premium_lrs"}}}, "targetDedicatedNodes":
      3, "startTask": {"commandLine": "cmd /c dir /s"}}}}, "metadata": [{"name": "specMeta1",
      "value": "specMetaValue1"}, {"name": "specMeta2", "value": "specMetaValue2"}]},
      "metadata": [{"name": "meta2", "value": "value2"}, {"name": "meta1", "value":
      "value1"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobschedules?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch3exjnjka2r4iugjt.eastus2.batch.azure.com/jobschedules/xplatJobScheduleJobTests
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD205545383446'
      last-modified:
      - Thu, 19 Dec 2024 17:47:56 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/jobschedules/xplatJobScheduleJobTests
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "xplatJob", "displayName": "displayName", "priority": 1, "constraints":
      {"maxWallClockTime": "P1D", "maxTaskRetryCount": 5}, "jobManagerTask": {"id":
      "jobManager", "displayName": "jobManagerDisplay", "commandLine": "cmd /c dir
      /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "filePath"}], "environmentSettings": [{"name": "name1", "value":
      "value1"}, {"name": "name2", "value": "value2"}], "constraints": {"maxWallClockTime":
      "PT1H"}, "killJobOnCompletion": false}, "jobPreparationTask": {"id": "jobPrep",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobPrepFilePath"}], "environmentSettings": [{"name": "jobPrepName1",
      "value": "jobPrepValue1"}, {"name": "jobPrepName2", "value": "jobPrepValue2"}],
      "constraints": {"maxTaskRetryCount": 2}}, "jobReleaseTask": {"id": "jobRelease",
      "commandLine": "cmd /c dir /s", "resourceFiles": [{"httpUrl": "https://testacct.blob.core.windows.net/",
      "filePath": "jobReleaseFilePath"}], "environmentSettings": [{"name": "jobReleaseName1",
      "value": "jobReleaseValue1"}, {"name": "jobReleaseName2", "value": "jobReleaseValue2"}]},
      "commonEnvironmentSettings": [{"name": "commonName1", "value": "commonValue1"},
      {"name": "commonName2", "value": "commonValue2"}], "poolInfo": {"poolId": "xplatTestPool"},
      "metadata": [{"name": "specMeta1", "value": "specMetaValue1"}, {"name": "specMeta2",
      "value": "specMetaValue2"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clibatch3exjnjka2r4iugjt.eastus2.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DD2055456ED489'
      last-modified:
      - Thu, 19 Dec 2024 17:47:56 GMT
      location:
      - https://clibatch000002.eastus2.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobschedules/xplatJobScheduleJobTests/jobs?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"xplatJobScheduleJobTests:job-1\",\"displayName\":\"jobSpecDisplayName\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJobScheduleJobTests:job-1\",\"eTag\":\"0x8DD20554542BB94\",\"lastModified\":\"2024-12-19T17:47:56.2788756Z\",\"creationTime\":\"2024-12-19T17:47:56.2358764Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-12-19T17:47:56.2788756Z\",\"priority\":1,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P1D\",\"maxTaskRetryCount\":5\r\n      },\"jobManagerTask\":{\r\n
        \       \"id\":\"jobManager\",\"displayName\":\"jobManagerDisplay\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"httpUrl\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"filePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"name1\",\"value\":\"value1\"\r\n
        \         },{\r\n            \"name\":\"name2\",\"value\":\"value2\"\r\n          }\r\n
        \       ],\"constraints\":{\r\n          \"maxWallClockTime\":\"PT1H\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":5\r\n
        \       },\"requiredSlots\":1,\"userIdentity\":{\r\n          \"autoUser\":{\r\n
        \           \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n          }\r\n
        \       },\"runExclusive\":true,\"allowLowPriorityNode\":true,\"killJobOnCompletion\":false\r\n
        \     },\"jobPreparationTask\":{\r\n        \"id\":\"jobPrep\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"httpUrl\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"jobPrepFilePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"jobPrepName1\",\"value\":\"jobPrepValue1\"\r\n
        \         },{\r\n            \"name\":\"jobPrepName2\",\"value\":\"jobPrepValue2\"\r\n
        \         }\r\n        ],\"constraints\":{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":2\r\n
        \       },\"userIdentity\":{\r\n          \"autoUser\":{\r\n            \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\":true\r\n
        \     },\"jobReleaseTask\":{\r\n        \"id\":\"jobRelease\",\"commandLine\":\"cmd
        /c dir /s\",\"resourceFiles\":[\r\n          {\r\n            \"httpUrl\":\"https://testacct.blob.core.windows.net/\",\"filePath\":\"jobReleaseFilePath\"\r\n
        \         }\r\n        ],\"environmentSettings\":[\r\n          {\r\n            \"name\":\"jobReleaseName1\",\"value\":\"jobReleaseValue1\"\r\n
        \         },{\r\n            \"name\":\"jobReleaseName2\",\"value\":\"jobReleaseValue2\"\r\n
        \         }\r\n        ],\"maxWallClockTime\":\"PT15M\",\"retentionTime\":\"P7D\",\"userIdentity\":{\r\n
        \         \"autoUser\":{\r\n            \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \         }\r\n        }\r\n      },\"commonEnvironmentSettings\":[\r\n        {\r\n
        \         \"name\":\"commonName1\",\"value\":\"commonValue1\"\r\n        },{\r\n
        \         \"name\":\"commonName2\",\"value\":\"commonValue2\"\r\n        }\r\n
        \     ],\"poolInfo\":{\r\n        \"autoPoolSpecification\":{\r\n          \"autoPoolIdPrefix\":\"TestSpecPrefix\",\"poolLifetimeOption\":\"jobschedule\",\"keepAlive\":false,\"pool\":{\r\n
        \           \"vmSize\":\"standard_d2s_v3\",\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \             \"nodeFillType\":\"Spread\"\r\n            },\"resizeTimeout\":\"PT15M\",\"targetDedicatedNodes\":3,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\":{\r\n
        \             \"commandLine\":\"cmd /c dir /s\",\"userIdentity\":{\r\n                \"autoUser\":{\r\n
        \                 \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n                }\r\n
        \             },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n            },\"virtualMachineConfiguration\":{\r\n
        \             \"imageReference\":{\r\n                \"publisher\":\"microsoftwindowsserver\",\"offer\":\"windowsserver\",\"sku\":\"2022-datacenter\",\"version\":\"latest\"\r\n
        \             },\"osDisk\":{\r\n                \"ephemeralOSDiskSettings\":{},\"managedDisk\":{\r\n
        \                 \"storageAccountType\":\"premium_lrs\"\r\n                },\"caching\":\"None\"\r\n
        \             },\"nodeAgentSKUId\":\"batch.node.windows amd64\",\"nodePlacementConfiguration\":{\r\n
        \               \"policy\":\"Regional\"\r\n              }\r\n            }\r\n
        \         }\r\n        }\r\n      },\"metadata\":[\r\n        {\r\n          \"name\":\"specMeta1\",\"value\":\"specMetaValue1\"\r\n
        \       },{\r\n          \"name\":\"specMeta2\",\"value\":\"specMetaValue2\"\r\n
        \       }\r\n      ],\"executionInfo\":{\r\n        \"startTime\":\"2024-12-19T17:47:56.2788756Z\",\"poolId\":\"TestSpecPrefix_CCF6D5D7-5043-4D85-8F1A-902021900CB6\"\r\n
        \     },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs?api-version=2024-02-01.19.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.eastus2.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"xplatJob\",\"displayName\":\"displayName\",\"url\":\"https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJob\",\"eTag\":\"0x8DD2055456ED489\",\"lastModified\":\"2024-12-19T17[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clibatch000002.eastus2.batch.azure.com/jobs/xplatJob?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: DELETE
    uri: https://clibatch000002.eastus2.batch.azure.com/jobschedules/xplatJobScheduleJobTests?api-version=2024-02-01.19.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
