interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststor000002?api-version=2022-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststor000002","name":"clibatchteststor000002","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2022-11-18T10:13:42.2381975Z","key2":"2022-11-18T10:13:42.2381975Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-11-18T10:13:42.2538211Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-11-18T10:13:42.2538211Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2022-11-18T10:13:42.0975989Z","primaryEndpoints":{"blob":"https://clibatchteststor000002.blob.core.windows.net/","queue":"https://clibatchteststor000002.queue.core.windows.net/","table":"https://clibatchteststor000002.table.core.windows.net/","file":"https://clibatchteststor000002.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"autoStorage": {"storageAccountId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststor000002",
      "authenticationMode": "StorageKeys"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003?api-version=2022-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/operationResults/f84b7006-fdeb-4448-bfe0-7e2f7901d1e6?api-version=2022-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/operationResults/f84b7006-fdeb-4448-bfe0-7e2f7901d1e6?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003","name":"clibatchtestacct000003","type":"Microsoft.Batch/batchAccounts","location":"eastus","properties":{"accountEndpoint":"clibatchtestacct000003.eastus.batch.azure.com","nodeManagementEndpoint":"d5ce5664-5c8c-400d-9c90-adb8b8fe5ac0.eastus.service.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":500,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":500},{"name":"standardDv2Family","coreQuota":250},{"name":"standardDv3Family","coreQuota":500},{"name":"standardEv3Family","coreQuota":500},{"name":"standardDSv2Family","coreQuota":250},{"name":"standardDSv3Family","coreQuota":500},{"name":"standardESv3Family","coreQuota":500},{"name":"standardFSv2Family","coreQuota":100},{"name":"standardNCFamily","coreQuota":24},{"name":"standardNVFamily","coreQuota":24},{"name":"standardDDv4Family","coreQuota":100},{"name":"standardDDSv4Family","coreQuota":10[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp?api-version=2022-06-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp","name":"testapp","etag":"W/\"0x8DAC94DA7F1F3C9\"","properties":{"allowUpdates":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8DAC94DA7F1F3C9"
      last-modified:
      - Fri, 18 Nov 2022 10:14:19 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications?api-version=2022-06-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp","name":"testapp","etag":"W/\"0x8DAC94DA7F1F3C9\"","properties":{"allowUpdates":true}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp/versions/1.0?api-version=2022-06-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications/versions","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp/versions/1.0","name":"1.0","etag":"W/\"0x8DAC94DA87BD03F\"","properties":{"storageUrl":"https://clibatchteststor000002.blob.core.windows.net/app-testapp-481e9f64ff094184a3b10f7f32ec7026/1.0?sv=2018-03-28&sr=b&sig=fakeSig&st=2022-11-18T10%3A09%3A20Z&se=2022-11-18T14%3A14%3A20Z&sp=rw","storageUrlExpiry":"2022-11-18T14:14:20.2797863Z","state":"Pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8DAC94DA87BD03F"
      last-modified:
      - Fri, 18 Nov 2022 10:14:20 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: storage blob test sample file
    headers:
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 18 Nov 2022 10:14:20 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clibatchteststor000002.blob.core.windows.net/app-testapp-481e9f64ff094184a3b10f7f32ec7026/1.0?sv=2018-03-28&sr=b&sig=fakeSig&st=2022-11-18T10%3A09%3A20Z&se=2022-11-18T14%3A14%3A20Z&sp=rw
  response:
    body:
      string: ''
    headers:
      content-md5:
      - JeBon6PeparxrbCKMR+6hw==
      etag:
      - '"0x8DAC94DA888F46E"'
      last-modified:
      - Fri, 18 Nov 2022 10:14:20 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '{"format": "zip"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp/versions/1.0/activate?api-version=2022-06-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications/versions","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp/versions/1.0","name":"1.0","etag":"W/\"0x8DAC94DA8D0C1C0\"","properties":{"storageUrl":"https://clibatchteststor000002.blob.core.windows.net/app-testapp-481e9f64ff094184a3b10f7f32ec7026/1.0?sv=2018-03-28&sr=b&sig=fakeSig&st=2022-11-18T10%3A09%3A20Z&se=2022-11-18T14%3A14%3A20Z&sp=rw","storageUrlExpiry":"2022-11-18T14:14:20.8577989Z","state":"Active","format":"zip","lastActivationTime":"2022-11-18T10:14:20.4868281Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8DAC94DA8D0C1C0"
      last-modified:
      - Fri, 18 Nov 2022 10:14:20 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"defaultVersion": "1.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp?api-version=2022-06-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications/testapp","name":"testapp","etag":"W/\"0x8DAC94DA9AE7E7C\"","properties":{"allowUpdates":true,"defaultVersion":"1.0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8DAC94DA9AE7E7C"
      last-modified:
      - Fri, 18 Nov 2022 10:14:22 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtestacct000003/applications?api-version=2022-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
