interactions:
- request:
    body: !!python/unicode '{"location": "northeurope", "tags": {"date": "2018-06-07T21:31:17Z",
      "product": "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"northeurope","tags":{"date":"2018-06-07T21:31:17Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location":
      "northeurope", "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/northeurope/asyncoperations/0b77680b-dd69-4bac-a4db-9ed5848d422b?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/northeurope/asyncoperations/0b77680b-dd69-4bac-a4db-9ed5848d422b?monitor=true&api-version=2017-10-01
  response:
    body: {string: !!python/unicode '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"northeurope","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-06-07T21:31:23.9160965Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-06-07T21:31:23.9160965Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-06-07T21:31:23.7285673Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"northeurope","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","value":"4wQhHcvUNGlExbH+rI0xyIj9ff3S5eIYmQ/I4Ats237HnJzNwMXUvEk1TPP/K5upFAm+qAQEhfo6ZC9dEV3OBg==","permissions":"FULL"},{"keyName":"key2","value":"3Y0QVeLR3yVz5lnFFXUYxaMcPx0YGDacf6Oyow3zEWqpSv9bpzoL5sJEfltQJfLVwyIW4Q1G45Gfd056V+TLYA==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 07 Jun 2018 21:31:44 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5CCBE11A691E0"']
      last-modified: ['Thu, 07 Jun 2018 21:31:45 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 07 Jun 2018 21:31:45 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5CCBE12549289"']
      last-modified: ['Thu, 07 Jun 2018 21:31:46 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"location": "northeurope"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace?api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace","name":"workspace","type":"Microsoft.BatchAI/workspaces","location":"northeurope","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2018-06-07T21:31:50.169Z","creationTime":"2018-06-07T21:31:50.169Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5CCBE14728A89"']
      last-modified: ['Thu, 07 Jun 2018 21:31:50 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"error":{"code":"ClusterNotFound","message":"The
        specified cluster cluster is not found"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: The specified cluster cluster is not found}
- request:
    body: !!python/unicode '{"properties": {"scaleSettings": {"manual": {"nodeDeallocationOption":
      "requeue", "targetNodeCount": 1}}, "vmPriority": "dedicated", "userAccountSettings":
      {"adminUserName": "DemoUser", "adminUserSshPublicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"},
      "virtualMachineConfiguration": {"imageReference": {"sku": "16.04-LTS", "publisher":
      "Canonical", "offer": "UbuntuServer"}}, "nodeSetup": {"mountVolumes": {"azureFileShares":
      [{"azureFileUrl": "https://clitest000002.file.core.windows.net/share", "relativeMountPath":
      "afs", "credentials": {"accountKey": "4wQhHcvUNGlExbH+rI0xyIj9ff3S5eIYmQ/I4Ats237HnJzNwMXUvEk1TPP/K5upFAm+qAQEhfo6ZC9dEV3OBg=="},
      "directoryMode": "0777", "fileMode": "0777", "accountName": "clitest000002"}],
      "azureBlobFileSystems": [{"credentials": {"accountKey": "4wQhHcvUNGlExbH+rI0xyIj9ff3S5eIYmQ/I4Ats237HnJzNwMXUvEk1TPP/K5upFAm+qAQEhfo6ZC9dEV3OBg=="},
      "relativeMountPath": "bfs", "containerName": "container", "accountName": "clitest000002"}]}},
      "vmSize": "STANDARD_D1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/22305485-f4d7-4269-ace2-79f11d0cb941?api-version=2018-05-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/22305485-f4d7-4269-ace2-79f11d0cb941?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/22305485-f4d7-4269-ace2-79f11d0cb941?api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/22305485-f4d7-4269-ace2-79f11d0cb941","name":"22305485-f4d7-4269-ace2-79f11d0cb941","status":"InProgress","startTime":"2018-06-07T21:31:53.62Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/22305485-f4d7-4269-ace2-79f11d0cb941?api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/22305485-f4d7-4269-ace2-79f11d0cb941","name":"22305485-f4d7-4269-ace2-79f11d0cb941","status":"Succeeded","startTime":"2018-06-07T21:31:53.62Z","endTime":"2018-06-07T21:32:11.914Z","properties":{"resourceId":"1cba1da6-5a83-45e1-a88e-8b397eb84356$clitest.rg000001$workspace$cluster"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster","name":"cluster","type":"Microsoft.BatchAI/workspaces/clusters","properties":{"provisioningState":"succeeded","allocationState":"resizing","creationTime":"2018-06-07T21:31:53.604Z","allocationStateTransitionTime":"2018-06-07T21:31:53.604Z","provisioningStateTransitionTime":"2018-06-07T21:32:11.883Z","vmSize":"STANDARD_D1","currentNodeCount":0,"nodeStateCounts":{"runningNodeCount":0,"idleNodeCount":0,"unusableNodeCount":0,"preparingNodeCount":0,"leavingNodeCount":0},"vmPriority":"dedicated","scaleSettings":{"manual":{"targetNodeCount":1,"nodeDeallocationOption":"requeue"}},"virtualMachineConfiguration":{"imageReference":{"publisher":"Canonical","offer":"UbuntuServer","sku":"16.04-LTS","version":"latest"}},"userAccountSettings":{"adminUserName":"DemoUser","adminUserSshPublicKey":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"},"nodeSetup":{"mountVolumes":{"azureFileShares":[{"accountName":"clitest000002","azureFileUrl":"https://clitest000002.file.core.windows.net/share","credentials":{},"relativeMountPath":"afs","fileMode":"0777","directoryMode":"0777"}],"azureBlobFileSystems":[{"accountName":"clitest000002","containerName":"container","credentials":{},"relativeMountPath":"bfs"}]}}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5CCBE167EB42C"']
      last-modified: ['Thu, 07 Jun 2018 21:31:53 GMT']
    status: {code: 200, message: OK}
[...]
