interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/usages?api-version=2018-03-01
  response:
    body: {string: !!python/unicode '{"value":[{"unit":"Count","currentValue":7,"limit":20,"name":{"value":"Clusters","localizedValue":"Clusters"}},{"unit":"Count","currentValue":3,"limit":24,"name":{"value":"Total
        Cluster Dedicated Regional vCPUs","localizedValue":"Total Cluster Dedicated
        Regional vCPUs"}},{"unit":"Count","currentValue":3,"limit":24,"name":{"value":"Standard
        D Family Cluster Dedicated vCPUs","localizedValue":"Standard D Family Cluster
        Dedicated vCPUs"}},{"unit":"Count","currentValue":0,"limit":24,"name":{"value":"Standard
        NC Family Cluster Dedicated vCPUs","localizedValu[...]
[...]
