interactions:
- request:
    body: !!python/unicode '{"location": "eastus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"eastus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location":
      "eastus", "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/c6c562f6-1b45-4cf5-9c9c-3fea29192142?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/c6c562f6-1b45-4cf5-9c9c-3fea29192142?monitor=true&api-version=2017-10-01
  response:
    body: {string: !!python/unicode '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-03-26T17:07:32.7531052Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-03-26T17:07:32.7531052Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-03-26T17:07:32.6906224Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","value":"/6Avp+i+MA6THWmw3DAwb8S8/q76wWreEMgGN8wDLgDMeg9O0r1GGpF4h4PHPxGiV4ryk5PCouDWf6M+Z9t0yA==","permissions":"FULL"},{"keyName":"key2","value":"4ZhLIKqyraFzD+QFJi7FAJHh5t1wQqLTvlg8d/jCtG3hehK/ErIXEnKW1re1divcYSFJ46NRiQugL0BFWlcLSw==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 26 Mar 2018 17:07:52 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5933C1C6160C4"']
      last-modified: ['Mon, 26 Mar 2018 17:07:52 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 26 Mar 2018 17:07:52 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5933C1CAE9320"']
      last-modified: ['Mon, 26 Mar 2018 17:07:53 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/clusters/cluster?api-version=2018-03-01
  response:
    body: {string: !!python/unicode '{"error":{"code":"ResourceNotFound","message":"The
        Resource ''Microsoft.BatchAI/clusters/cluster'' under resource group ''clitest.rg000001''
        was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"properties": {"scaleSettings": {"manual": {"targetNodeCount":
      1}}, "vmPriority": "dedicated", "nodeSetup": {"mountVolumes": {"azureFileShares":
      [{"azureFileUrl": "https://clitest000002.file.core.windows.net/share", "relativeMountPath":
      "afs", "credentials": {"accountKey": "/6Avp+i+MA6THWmw3DAwb8S8/q76wWreEMgGN8wDLgDMeg9O0r1GGpF4h4PHPxGiV4ryk5PCouDWf6M+Z9t0yA=="},
      "directoryMode": "0777", "fileMode": "0777", "accountName": "clitest000002"}],
      "azureBlobFileSystems": [{"credentials": {"accountKey": "/6Avp+i+MA6THWmw3DAwb8S8/q76wWreEMgGN8wDLgDMeg9O0r1GGpF4h4PHPxGiV4ryk5PCouDWf6M+Z9t0yA=="},
      "relativeMountPath": "bfs", "containerName": "container", "accountName": "clitest000002"}]}},
      "vmSize": "STANDARD_D1", "userAccountSettings": {"adminUserName": "DemoUser",
      "adminUserSshPublicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"}},
      "location": "eastus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/clusters/cluster?api-version=2018-03-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/2223f018-5d3b-4ece-bcdf-56d579cd7566?api-version=2018-03-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationstatuses/2223f018-5d3b-4ece-bcdf-56d579cd7566?api-version=2018-03-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1186']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/2223f018-5d3b-4ece-bcdf-56d579cd7566?api-version=2018-03-01
  response:
    body: {string: !!python/unicode '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/2223f018-5d3b-4ece-bcdf-56d579cd7566","name":"2223f018-5d3b-4ece-bcdf-56d579cd7566","status":"Succeeded","startTime":"2018-03-26T17:07:55.833Z","endTime":"2018-03-26T17:08:08.652Z","properties":{"resourceId":"1cba1da6-5a83-45e1-a88e-8b397eb84356$clitest.rg000001$cluster"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/clusters/cluster?api-version=2018-03-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/clusters/cluster","name":"cluster","type":"Microsoft.BatchAI/Clusters","location":"eastus","properties":{"provisioningState":"succeeded","allocationState":"resizing","creationTime":"2018-03-26T17:07:55.818Z","allocationStateTransitionTime":"2018-03-26T17:07:55.818Z","provisioningStateTransitionTime":"2018-03-26T17:07:59.287Z","vmSize":"STANDARD_D1","currentNodeCount":0,"nodeStateCounts":{"runningNodeCount":0,"idleNodeCount":0,"unusableNodeCount":0,"preparingNodeCount":0,"leavingNodeCount":0},"vmPriority":"dedicated","scaleSettings":{"manual":{"targetNodeCount":1,"nodeDeallocationOption":"requeue"}},"virtualMachineConfiguration":{"imageReference":{"publisher":"Canonical","offer":"UbuntuServer","sku":"16.04-LTS","version":"latest"}},"userAccountSettings":{"adminUserName":"DemoUser","adminUserSSHPublicKey":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"},"nodeSetup":{"mountVolumes":{"azureFileShares":[{"accountName":"clitest000002","azureFileUrl":"https://clitest000002.file.core.windows.net/share","credentials":{},"relativeMountPath":"afs","fileMode":"0777","directoryMode":"0777"}],"azureBlobFileSystems":[{"accountName":"clitest000002","containerName":"container","credentials":{},"relativeMountPath":"bfs"}]}}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5933C1E487DF4"']
      last-modified: ['Mon, 26 Mar 2018 17:07:55 GMT']
    status: {code: 200, message: OK}
[...]
