interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-20T21:14:15Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_adla_mgmt000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001","name":"cli_test_adla_mgmt000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-20T21:14:15Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "eastus2", "properties": {"encryptionState": "Disabled"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"encryptionState":"Disabled","provisioningState":"Creating","state":null,"endpoint":null,"accountId":"713314f6-2b71-45cf-aa1d-bf0279d792d6"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/713314f6-2b71-45cf-aa1d-bf0279d792d60?api-version=2016-11-01&expanded=true']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002/operationresults/0?api-version=2016-11-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/713314f6-2b71-45cf-aa1d-bf0279d792d60?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallAllowDataLakeAnalytics":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Disabled","encryptionConfig":{},"currentTier":"Consumption","newTier":"Consumption","dataLakePerformanceTierState":"Disabled","provisioningState":"Succeeded","state":"Active","endpoint":"cliadls000002.azuredatalakestore.net","accountId":"713314f6-2b71-45cf-aa1d-bf0279d792d6","creationTime":"2018-08-20T21:14:22.6918147Z","lastModifiedTime":"2018-08-20T21:14:22.6918147Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeStore/accounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"sku": {"name": "Standard_GRS"}, "kind": "Storage", "location": "eastus2",
      "properties": {"supportsHttpsTrafficOnly": false, "isHnsEnabled": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.Storage/storageAccounts/cliwasb000005?api-version=2018-03-01-preview
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/1a421da5-378c-4f56-bd88-e1ef1ddd0bd5?monitor=true&api-version=2018-03-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/1a421da5-378c-4f56-bd88-e1ef1ddd0bd5?monitor=true&api-version=2018-03-01-preview
  response:
    body: {string: '{"sku":{"name":"Standard_GRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.Storage/storageAccounts/cliwasb000005","name":"cliwasb000005","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-08-20T21:15:51.8550471Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-08-20T21:15:51.8550471Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-08-20T21:15:51.6667708Z","primaryEndpoints":{"blob":"https://cliwasb000005.blob.core.windows.net/","queue":"https://cliwasb000005.queue.core.windows.net/","table":"https://cliwasb000005.table.core.windows.net/","file":"https://cliwasb000005.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.Storage/storageAccounts/cliwasb000005/listKeys?api-version=2018-03-01-preview
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"RjGednQN5faXIq1DaRvNmByUkDvsv0ZtoLc6/p1z2yrEjMprm8Wn06AajC/MwsZCu16dJf8xb3Uk6EeOSLUoZA==","permissions":"FULL"},{"keyName":"key2","value":"nl/t5Ct4vVy72hT0LDHpr/9VrsFG9W+kdQZ9VKC/+1CCAZfYBhL8AuhrQKB9HLv8VCKCHLwLqQY6kj7aVDeVqQ==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"location": "eastus2", "properties": {"defaultDataLakeStoreAccount":
      "cliadls000002", "dataLakeStoreAccounts": [{"name": "cliadls000002"}], "maxJobCount":
      3, "maxDegreeOfParallelism": 30, "queryStoreRetention": 30}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"defaultDataLakeStoreAccount":"cliadls000002","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"cliadls000002"}],"maxDegreeOfParallelism":30,"maxJobCount":3,"queryStoreRetention":30,"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"7597bfd9-7aec-4b63-a952-976d8c1af685"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004","name":"cliadla000004","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/7597bfd9-7aec-4b63-a952-976d8c1af6850?api-version=2016-11-01&expanded=true']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/operationresults/0?api-version=2016-11-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/7597bfd9-7aec-4b63-a952-976d8c1af6850?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallRules":[],"virtualNetworkRules":[],"debugDataAccessLevel":"All","defaultDataLakeStoreAccount":"cliadls000002","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"cliadls000002"}],"publicDataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"adltrainingsampledata"},{"properties":{"suffix":"azuredatalakestore.net"},"name":"ghinsights"}],"storageAccounts":[],"maxDegreeOfParallelism":30,"maxJobCount":3,"systemMaxDegreeOfParallelism":100,"systemMaxJobCount":20,"maxDegreeOfParallelismPerJob":30,"minPriorityPerJob":1,"computePolicies":[],"queryStoreRetention":30,"hiveMetastores":[],"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"cliadla000004.azuredatalakeanalytics.net","accountId":"7597bfd9-7aec-4b63-a952-976d8c1af685","creationTime":"2018-08-20T21:16:14.9509599Z","lastModifiedTime":"2018-08-20T21:16:14.9509599Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004","name":"cliadla000004","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"properties":{"provisioningState":"Succeeded","state":"Active","endpoint":"cliadla000004.azuredatalakeanalytics.net","accountId":"7597bfd9-7aec-4b63-a952-976d8c1af685","creationTime":"2018-08-20T21:16:14.9509599Z","lastModifiedTime":"2018-08-20T21:16:14.9509599Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004","name":"cliadla000004","type":"Microsoft.DataLakeAnalytics/accounts"}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/accounts?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"properties":{"provisioningState":"Succeeded","state":"Active","endpoint":"adlsperf.azuredatalakeanalytics.net","accountId":"d456eaa0-6f43-425e-90a7-3b9dc6e01e94","creationTime":"2016-09-22T00:37:11.4446402Z","lastModifiedTime":"2018-03-31T01:44:06.5741878Z"},"location":"eastus2","tags":{"Component":"ADLS_DefaultComponent","Project":"ADLS_Defaultproject","Evictable":"6/30/2018","Owner":"MyAlias"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ADLS-PERF/providers/Microsoft.DataLakeAnalytics/accounts/adlsperf","name":"adlsperf","type":"Microsoft.DataLakeAnalytics/accounts"},{"properties":{"provisioningState":"Succeeded","state":"Active","endpoint":"adlsperfprod.azuredatalakeanalytics.net","accountId":"e78db0db-78f9-4434-aad6-553978884bfa","creationTime":"2016-09-22T04:26:11.1521035Z","lastModifiedTime":"2018-03-31T01:44:09.183146Z"},"location":"eastus2"[...]
[...]
- request:
    body: '{"properties": {"accessKey": "RjGednQN5faXIq1DaRvNmByUkDvsv0ZtoLc6/p1z2yrEjMprm8Wn06AajC/MwsZCu16dJf8xb3Uk6EeOSLUoZA=="}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/storageAccounts/cliwasb000005?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"suffix":"core.windows.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/storageAccounts/cliwasb000005","name":"cliwasb000005","type":"Microsoft.DataLakeAnalytics/accounts/storageAccounts"}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/storageAccounts?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"properties":{"suffix":"core.windows.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/storageAccounts/cliwasb000005","name":"cliwasb000005","type":"Microsoft.DataLakeAnalytics/accounts/storageAccounts"}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/dataLakeStoreAccounts/cliadls000003?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"suffix":"azuredatalakestore.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/dataLakeStoreAccounts/cliadls000003","name":"cliadls000003","type":"Microsoft.DataLakeAnalytics/accounts/dataLakeStoreAccounts"}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/dataLakeStoreAccounts?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"properties":{"suffix":"azuredatalakestore.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/dataLakeStoreAccounts/cliadls000003","name":"cliadls000003","type":"Microsoft.DataLakeAnalytics/accounts/dataLakeStoreAccounts"},{"properties":{"suffix":"azuredatalakestore.net"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/dataLakeStoreAccounts/cliadls000002","name":"cliadls000002","type":"Microsoft.DataLakeAnalytics/accounts/dataLakeStoreAccounts"}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"objectId": "8ce05900-7a9e-4895-b3f0-0fbcee507803", "objectType":
      "User", "maxDegreeOfParallelismPerJob": 2}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies/pycliuserpolicy?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"objectId":"8ce05900-7a9e-4895-b3f0-0fbcee507803","objectType":"User","maxDegreeOfParallelismPerJob":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies/pycliuserpolicy","name":"pycliuserpolicy","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"objectId": "0583cfd7-60f5-43f0-9597-68b85591fc69", "objectType":
      "Group", "maxDegreeOfParallelismPerJob": 2}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies/pycligrouppolicy?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"objectId":"0583cfd7-60f5-43f0-9597-68b85591fc69","objectType":"Group","maxDegreeOfParallelismPerJob":2},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_adla_mgmt000001/providers/Microsoft.DataLakeAnalytics/accounts/cliadla000004/computePolicies/pycligrouppolicy","name":"pycligrouppolicy","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_adla_mgmt000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGQURMQTo1Rk1HTVRRSzZWVkxXRVE3RUtUNjdDSlNWR1lDNHw1OEVGODY0QTIzQTlFRENFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
