interactions:
- request:
    body: '{"location": "eastus", "tags": {"key": "value"}, "sku": {"name": "Standard_S1",
      "capacity": 1}, "properties": {"features": [{"flag": "ServiceMode", "value":
      "Classic"}, {"flag": "EnableMessagingLogs", "value": "True"}], "cors": {"allowedOrigins":
      ["http://example1.com", "http://example2.com"]}, "networkACLs": {"defaultAction":
      "Deny"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/signalR/signalr000002?api-version=2021-04-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Creating","externalIP":null,"hostName":"signalr000002.service.signalr.net","publicPort":443,"serverPort":443,"version":"1.0-preview","privateEndpointConnections":[],"sharedPrivateLinkResources":[],"tls":{"clientCertEnabled":false},"features":[{"flag":"ServiceMode","value":"Classic","properties":{}},{"flag":"EnableConnectivityLogs","value":"False","properties":{}},{"flag":"EnableMessagingLogs","value":"True","properties":{}},{"flag":"EnableLiveTrace","value":"False","properties":{}}],"cors":{"allowedOrigins":["http://example1.com","http://example2.com"]},"upstream":{"templates":null},"networkACLs":{"defaultAction":"Deny","publicNetwork":{"allow":["ServerConnection","ClientConnection","RESTAPI","Trace"],"deny":null},"privateEndpoints":[]}},"kind":"SignalR","systemData":{"createdBy":"chenyl@microsoft.com","createdByType":"User","createdAt":"2021-05-28T08:09:42.1859169Z","lastModifiedBy":"chenyl@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-05-28T08:09:42.1859169Z"},"location":"eastus","tags":{"key":"value"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002","name":"signalr000002","type":"Microsoft.SignalRService/SignalR"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/99a99cca-6070-4b6b-9129-39602e13a404/SignalR/signalr000002?api-version=2021-04-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationResults/99a99cca-6070-4b6b-9129-39602e13a404/SignalR/signalr000002?api-version=2021-04-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 984a9db1-8dbb-44a5-825f-40facb4f334c
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/99a99cca-6070-4b6b-9129-39602e13a404/SignalR/signalr000002?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/99a99cca-6070-4b6b-9129-39602e13a404/SignalR/signalr000002","name":"99a99cca-6070-4b6b-9129-39602e13a404","status":"Running","startTime":"2021-05-28T08:09:44.0233878Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 984a9db1-8dbb-44a5-825f-40facb4f334c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/99a99cca-6070-4b6b-9129-39602e13a404/SignalR/signalr000002?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/99a99cca-6070-4b6b-9129-39602e13a404/SignalR/signalr000002","name":"99a99cca-6070-4b6b-9129-39602e13a404","status":"Succeeded","startTime":"2021-05-28T08:09:44.0233878Z","endTime":"2021-05-28T08:11:13.3472941Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 984a9db1-8dbb-44a5-825f-40facb4f334c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/signalR?api-version=2021-04-01-preview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Succeeded","externalIP":"40.71.15.7","hostName":"signalr000002.service.signalr.net","publicPort[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/signalR/signalr000002/listKeys?api-version=2021-04-01-preview
  response:
    body:
      string: '{"primaryKey":"ya+isnjlV4/yThFcOQzGl0u44dRHdZ2XehN5j4PU2MY=","secondaryKey":"gLAO2r3Lj0RxOyGuwujod3qNnrARnmr/XYadKV2v9T0=","primaryConnectionString":"Endpoint=https://signalr000002.service.signalr.net;AccessKey=ya+isnjlV4/yThFcOQzGl0u44dRHdZ2XehN5j4PU2MY=;Version=1.0;","secondaryConnectionString":"Endpoint=https://signalr000002.service.signalr.net;AccessKey=gLAO2r3Lj0RxOyGuwujod3qNnrARnmr/XYadKV2v9T0=;Version=1.0;"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 984a9db1-8dbb-44a5-825f-40facb4f334c
    status:
      code: 200
      message: OK
version: 1
