interactions:
- request:
    body: '{"location": "eastus", "tags": {"key": "value"}, "sku": {"name": "Standard_S1",
      "capacity": 1}, "properties": {"features": [{"flag": "ServiceMode", "value":
      "Classic"}, {"flag": "EnableMessagingLogs", "value": "True"}], "cors": {"allowedOrigins":
      ["http://example1.com", "http://example2.com"]}, "networkACLs": {"defaultAction":
      "Deny"}, "publicNetworkAccess": "Enabled", "disableLocalAuth": false, "disableAadAuth":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/signalR/signalr000002?api-version=2022-02-01
  response:
    body:
      string: '{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Creating","externalIP":null,"hostName":"signalr000002.service.signalr.net","publicPort":443,"serverPort":443,"version":"1.0-preview","privateEndpointConnections":[],"sharedPrivateLinkResources":[],"tls":{"clientCertEnabled":false},"hostNamePrefix":"signalr000002","features":[{"flag":"ServiceMode","value":"Classic","properties":{}},{"flag":"EnableMessagingLogs","value":"True","properties":{}}],"liveTraceConfiguration":null,"resourceLogConfiguration":null,"cors":{"allowedOrigins":["http://example1.com","http://example2.com"]},"upstream":{"templates":null},"networkACLs":{"defaultAction":"Deny","publicNetwork":{"allow":["ServerConnection","ClientConnection","RESTAPI","Trace"],"deny":null},"privateEndpoints":[]},"publicNetworkAccess":"Enabled","disableLocalAuth":false,"disableAadAuth":false},"kind":"SignalR","systemData":{"createdBy":"chenyl@microsoft.com","createdByType":"User","createdAt":"2022-08-02T05:47:24.5963547Z","lastModifiedBy":"chenyl@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-02T05:47:24.5963547Z"},"location":"eastus","tags":{"key":"value"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002","name":"signalr000002","type":"Microsoft.SignalRService/SignalR"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002/operationStatuses/1fe47d62-f4f9-40d9-9bbc-a024749dae02?api-version=2022-02-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002/operationResults/1fe47d62-f4f9-40d9-9bbc-a024749dae02?api-version=2022-02-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - a240317d-2594-4b08-9f0c-5f370ea616d7
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002/operationStatuses/1fe47d62-f4f9-40d9-9bbc-a024749dae02?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002/operationStatuses/1fe47d62-f4f9-40d9-9bbc-a024749dae02","name":"1fe47d62-f4f9-40d9-9bbc-a024749dae02","status":"Running","startTime":"2022-08-02T05:47:27.547792Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - a240317d-2594-4b08-9f0c-5f370ea616d7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002/operationStatuses/1fe47d62-f4f9-40d9-9bbc-a024749dae02?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002/operationStatuses/1fe47d62-f4f9-40d9-9bbc-a024749dae02","name":"1fe47d62-f4f9-40d9-9bbc-a024749dae02","status":"Succeeded","startTime":"2022-08-02T05:47:27.547792Z","endTime":"2022-08-02T05:49:13.9570602Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - a240317d-2594-4b08-9f0c-5f370ea616d7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/signalR?api-version=2022-02-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Succeeded","externalIP":"20.88.155.11","hostName":"signalr000002.service.signalr.net","publicPort":443,[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/signalR/signalr000002/listKeys?api-version=2022-02-01
  response:
    body:
      string: '{"primaryKey":"CFhpukX9GetFacfOmhNTy4AjIZQpHzeqQdSEdfWOjOM=","secondaryKey":"+bi1UaScQimZz9bxYVhrmWaHeJyILzQMeQdNRDiQ/pA=","primaryConnectionString":"Endpoint=https://signalr000002.service.signalr.net;AccessKey=CFhpukX9GetFacfOmhNTy4AjIZQpHzeqQdSEdfWOjOM=;Version=1.0;","secondaryConnectionString":"Endpoint=https://signalr000002.service.signalr.net;AccessKey=+bi1UaScQimZz9bxYVhrmWaHeJyILzQMeQdNRDiQ/pA=;Version=1.0;"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - a240317d-2594-4b08-9f0c-5f370ea616d7
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "secondary"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/signalR/signalr000002/regenerateKey?api-version=2022-02-01
  response:
    body:
      string: '{"primaryKey":"CFhpukX9GetFacfOmhNTy4AjIZQpHzeqQdSEdfWOjOM=","secondaryKey":"nYVn4bIpEOtQ6GHWf7YYcNCkKZyFsB54Q/Q7FUioOsQ=","primaryConnectionString":"Endpoint[...]
