interactions:
- request:
    body: '{"tags": {"key": "value"}, "sku": {"name": "Standard_S1", "capacity": 1},
      "properties": {"hostNamePrefix": "signalr000002", "features": [{"flag": "ServiceMode",
      "value": "Classic"}], "cors": {"allowedOrigins": ["http://example1.com"]}},
      "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/signalR/signalr000002?api-version=2018-10-01
  response:
    body:
      string: '{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Creating","externalIP":null,"hostName":"signalr000002.service.signalr.net","publicPort":443,"serverPort":443,"version":"1.0-preview","hostNamePrefix":"signalr000002","features":[{"flag":"ServiceMode","value":"Classic","properties":{}}],"cors":{"allowedOrigins":["http://example1.com"]}},"location":"eastus","tags":{"key":"value"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002","name":"signalr000002","type":"Microsoft.SignalRService/SignalR"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/7a9efa1a-904c-489c-b80f-a672a5603a5a?api-version=2018-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationResults/7a9efa1a-904c-489c-b80f-a672a5603a5a/SignalR/signalr000002?api-version=2018-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 16b1ca77-9f1d-46e2-8605-e45a5b5922e5
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/7a9efa1a-904c-489c-b80f-a672a5603a5a?api-version=2018-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/7a9efa1a-904c-489c-b80f-a672a5603a5a","name":"7a9efa1a-904c-489c-b80f-a672a5603a5a","status":"Running","startTime":"2019-08-14T03:31:06.2807551Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 16b1ca77-9f1d-46e2-8605-e45a5b5922e5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/7a9efa1a-904c-489c-b80f-a672a5603a5a?api-version=2018-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr000002/operationId/7a9efa1a-904c-489c-b80f-a672a5603a5a","name":"7a9efa1a-904c-489c-b80f-a672a5603a5a","status":"Succeeded","startTime":"2019-08-14T03:31:06.2807551Z","endTime":"2019-08-14T03:32:41.2310652Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 16b1ca77-9f1d-46e2-8605-e45a5b5922e5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR?api-version=2018-10-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Succeeded","externalIP":"138.91.120.171","hostName":"signalr000002.service.signalr.net","publicPort":443,"serverPort":443,"version":"1.0","hostNamePrefix":"signalr000002","features":[{"flag":"ServiceMode","value":"Classic","properties":{}}],"cors":{"allowedOrigins":["http://example1.com"]}},"location":"eastus","tags":{"key":"value"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002","name":"signalr000002","type":"Microsoft.SignalRService/SignalR"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - 16b1ca77-9f1d-46e2-8605-e45a5b5922e5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002/listKeys?api-version=2018-10-01
  response:
    body:
      string: '{"primaryKey":"OshHh+AHO4RBIliQsR6F6ySq1qqVW/0ZH9ba/Wf4QsU=","secondaryKey":"DNI0sDQgg9jXp3UygX/69ZZPzACejnF5FYb8kp9hTzk=","primaryConnectionString":"Endpoint=https://signalr000002.service.signalr.net;AccessKey=OshHh+AHO4RBIliQsR6F6ySq1qqVW/0ZH9ba/Wf4QsU=;Version=1.0;","secondaryConnectionString":"Endpoint=https://signalr000002.service.signalr.net;AccessKey=DNI0sDQgg9jXp3UygX/69ZZPzACejnF5FYb8kp9hTzk=;Version=1.0;"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-rp-server-mvid:
      - 16b1ca77-9f1d-46e2-8605-e45a5b5922e5
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "Secondary"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.SignalRService/SignalR/signalr000002/regenerateKey?api-version=2018-10-01
  response:
    body:
      string: '{"primaryKey":"OshHh+AHO4RBIliQsR6F6ySq1qqVW/0ZH9ba/Wf4QsU=","secondaryKey":"QI+KpGHk9+LtTTOyBctCdC6/lXcDXZZL/6h71jfrp+A=","primaryConnectionSt[...]
