interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"containerApps/resiliencyPolicies","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Italy North","Poland Central","South
        India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2024-02-02-preview","2023-11-02-preview","2023-08-01-preview"],"defaultApiVersion":"2024-02-02-preview","capabilities":"None"},{"resourceType":"spaces","locations":["Central
        US","East Asia","West Europe","East US 2 EUAP"],"apiVersions":["2023-11-02-preview"],"defaultApiVersion":"2023-11-02-preview","capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":["East Asia","North
        Central US","West Europe"],"apiVersions":["2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000003?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/containerapp-env000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "veryFakedCustomerId==",
      "sharedKey":"abc123"}},
      "customDomainConfiguration": null, "workloadProfiles": [{"workloadProfileType":
      "Consumption", "Name": "Consumption"}], "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000003?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000003","name":"containerapp-env000003","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-10-14T06:18:17.3375447","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-14T06:18:17.3375447"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"redplant-ca4ad91e.eastus.azurecontainerapps.io","staticIp":"172.214.69.191","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"89567a74-e87c-4cdb-8d75-8c588d548926","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.15.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/containerapp-env000003/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/5b9701b2-d015-41c8-a1a3-9458ccd75318?api-version=2024-03-01&azureAsyncOperation=true&t=638644835005250222&c=MIIINDCCBxygAwIBAgITOgNuc3KBpHCkZvMa4AAEA25zcjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwODA3MTYzMDI3WhcNMjUwODAyMTYzMDI3WjCBjDELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAldBM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/5b9701b2-d015-41c8-a1a3-9458ccd75318?api-version=2024-03-01&azureAsyncOperation=true&t=638644835005250222&c=MIIINDCCBxygAwIBAgITOgNuc3KBpHCkZvMa4AAEA25zcjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwODA[...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000003",
      "configuration": {"secrets": null, "activeRevisionsMode": "single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "transport": "auto", "exposedPort":
      null, "allowInsecure": false, "traffic": null, "customDomains": null, "ipSecurityRestrictions":
      null, "stickySessions": null}, "dapr": null, "registries": null}, "template":
      {"revisionSuffix": null, "containers": [{"image": "mcr.microsoft.com/k8se/quickstart:latest",
      "name": "containerapp000004", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000004?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000004","name":"containerapp000004","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-10-14T06:19:50.3930525Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-14T06:19:50.3930525Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000003","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000003","workloadProfileName":"Consumption","outboundIpAddresses":["4.255.108.64"],"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":null,"external":true,"targetPort":80,"exposedPort":null,"transport":"Auto","traffic":null,"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":null,"dapr":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","name":"containerapp000004"}],"initContainers":null,"scale":null,"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/7c2a92[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/7c2a92a5-af0a-4cd8-9143-ceb86f6377c8?api-version=2024-03-01&azureAsyncOperation=true&t=638644835909243109&c=MIIHhzCCBm-gAwIBAgITfAWQ0hCHZtQ3fJ4PSAAABZDSEDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI3MDkwM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000004?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000004","name":"containerapp000004","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2024-10-14T06:19:50.3930525","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-10-14T06:19:50.3930525"},"properties":{"provisioningState":"Succeeded","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000003","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000003","workloadProfileName":"Consumption","outboundIpAddresses":["4.255.108.64"],"latestRevisionName":"containerapp000004--f4vhf86","latestReadyRevisionName":"containerapp000004--f4vhf86","latestRevisionFqdn":"containerapp000004--f4vhf86.redplant-ca4ad91e.eastus.azurecontainerapps.io","customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"containerapp000004.redplant-ca4ad91e.eastus.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":null,"dapr":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","name":"containerapp000004","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/containerapp000004/eventstream","delegatedIdentities":[]},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/locations?api-version=2022-12-01
  response:
    body:
      string: "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/eastus\",\"name\":\"eastus\",\"type\":\"Region\",\"displayName\":\"East
        US\",\"regionalDisplayName\":\"(US) East US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\":\"United
        States\",\"geographyGroup\":\"US\",\"longitude\":\"-79.8164\",\"latitude\":\"37.3719\",\"physicalLocation\":\"Virginia\",\"pairedRegion\":[{\"name\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus\"}]},\"availabilityZoneMappings\":[{\"logicalZone\":\"1\",\"physicalZone\":\"eastus-az1\"},{\"logicalZone\":\"2\",\"physicalZone\":\"eastus-az2\"},{\"logicalZone\":\"3\",\"physicalZone\":\"eastus-az3\"}]},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/locations/southcentralus\",\"name\":\"southcentralus\",\"type\":\"Region\",\"displayName\":\"South
        Central US\",\"regionalDisplayName\":\"(US) South Central US\",\"metadata\":{\"regionType\":\"Physical\",\"regionCategory\":\"Recommended\",\"geography\":\"United
        States\",\"geographyGroup\":\"[...]
[...]
- request:
    body: '{"name": "containerapp000004.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DomainRegistration/checkDomainAvailability?api-version=2023-01-01
  response:
    body:
      string: '{"name":"containerapp000004.com","available":true,"domainType":"Regular"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"includePrivacy": true, "forTransfer": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DomainRegistration/topLevelDomains/com/listAgreements?api-version=2023-01-01
  response:
    body:
      string: "{\"value\":[{\"agreementKey\":\"DNRA\",\"title\":\"Domain Registration
        Agreement\",\"content\":\"\\n<style>.vsc-legal-content-module .lcm-title{margin-top:2.5rem;margin-bottom:1rem}.vsc-legal-content-module
        .lcm-subtitle{margin-bottom:1rem}.vsc-legal-content-module .paragraph{margin-top:0;margin-bottom:1rem}.vsc-legal-content-module
        .lcm-numbered-list ul>ol{list-style:circle inside}.vsc-legal-content-module
        .lcm-numbered-list ol{counter-reset:section;padding-left:0}.vsc-legal-content-module
        .lcm-numbered-list ol>li{display:block}.vsc-legal-content-module .lcm-numbered-list
        ol>li:before{content:counters(section,\\\".\\\") \\\" \\\";counter-increment:section}</style>\\n\\n<div
        id=\\\"id-6de81dbb-6ddc-4107-a4fd-86de2b44f601\\\" class=\\\"vsc-legal-content-module\\\"
        >\\n  <div class=\\\"lcm-title\\\">\\n    <strong><span class=\\\"h5\\\">Azure
        - DOMAIN NAME REGISTRATION AGREEMENT</span></strong>\\n  </div>\\n    <div
        class=\\\"lcm-subtitle\\\">\\n      <strong>Last Revised: 12/4/2023</strong>\\n
        \   </div>\\n        <strong><strong>PLEASE READ THIS AGREEMENT CAREFULLY,
        AS IT CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS AND REMEDIES.</strong></strong>\\n\\n
        \ <p></p>\\n        <strong><strong>1. OVERVIEW</strong></strong>\\n\\n      <p>This
        Domain Name[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Network/dnszones", "name": "containerapp000004.com", "apiVersion":
      "2018-05-01", "location": "global", "dependsOn": [], "properties": {"zoneType":
      "Public"}}, {"type": "Microsoft.DomainRegistration/domains", "name": "containerapp000004.com",
      "apiVersion": "2018-02-01", "location": "global", "dependsOn": ["[resourceId(''Microsoft.Network/dnszones'',
      ''containerapp000004.com'')]"], "tags": {}, "properties": {"consent": {"agreementKeys":
      ["DNRA", "DNPA"], "agreedBy": "10.172.15.81", "agreedAt": "2024-10-14 06:20:23.502640"},
      "ContactAdmin": {"AddressMailing": {"Address1": "One Microsoft Way", "Address2":
      "", "City": "Seattle", "Country": "US", "PostalCode": "98109", "State": "WA"},
      "Email": "testemail@hotmail.com", "Fax": "", "JobTitle": "", "NameFirst": "Jane",
      "NameLast": "Doe", "NameMiddle": "", "Organization": "", "Phone": "+1.2061234567"},
      "ContactBilling": {"AddressMailing": {"Address1": "One Microsoft Way", "Address2":
      "", "City": "Seattle", "Country": "US", "PostalCode": "98109", "State": "WA"},
      "Email": "testemail@hotmail.com", "Fax": "", "JobTitle": "", "NameFirst": "Jane",
      "NameLast": "Doe", "NameMiddle": "", "Organization": "", "Phone": "+1.2061234567"},
      "ContactRegistrant": {"AddressMailing": {"Address1": "One Microsoft Way", "Address2":
      "", "City": "Seattle", "Country": "US", "PostalCode": "98109", "State": "WA"},
      "Email": "testemail@hotmail.com", "Fax": "", "JobTitle": "", "NameFirst": "Jane",
      "NameLast": "Doe", "NameMiddle": "", "Organization": "", "Phone": "+1.2061234567"},
      "ContactTech": {"AddressMailing": {"Address1": "One Microsoft Way", "Address2":
      "", "City": "Seattle", "Country": "US", "PostalCode": "98109", "State": "WA"},
      "Email": "testemail@hotmail.com", "Fax": "", "JobTitle": "", "NameFirst": "Jane",
      "NameLast": "Doe", "NameMiddle": "", "Organization": "", "Phone": "+1.2061234567"},
      "privacy": true, "autoRenew": true, "dnsType": "AzureDns", "targetDnsType":
      "AzureDns", "dnsZoneId": "[resourceId(''Microsoft.Network/dnszones'', ''containerapp000004.com'')]"},
      "resources": []}], "outputs": {}}, "parameters": {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/domain_deploy_a1ckklQVPoc6RYQQ8ITkdOZcD2wx6F5z","name":"domain_deploy_a1ckklQVPoc6RYQQ8ITkdOZcD2wx6F5z","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3264463839462936915","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-10-14T06:20:34.4297025Z","duration":"PT0.000232S","correlationId":"9624cda9-f6e1-4a33-8575-2fc49c67d444","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"dnszones","locations":["global"]}]},{"namespace":"Microsoft.DomainRegistration","resourceTypes":[{"resourceType":"domains","locations":["global"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnszones/containerapp000004.com","resourceType":"Microsoft.Network/dnszones","resourceName":"containerapp000004.com"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DomainRegistration/domains/containerapp000004.com","resourceType":"Microsoft.DomainRegistration/domains","resourceName":"containerapp000004.com"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/domain_deploy_a1ckklQVPoc6RYQQ8ITkdOZcD2wx6F5z/operationStatuses/08584727200570431118?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-deployment-engine-version:
      - 1.136.0
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '12000'
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584727200570431118?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnsZones/containerapp000004.com/TXT/asuid.devtest?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''asuid.devtest''
        does not exist in resource group ''clitest.rg000001'' of subscription ''23f95f0e-e782-47be-9f97-56035ec10e42''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnsZones/containerapp000004.com/TXT/asuid.devtest?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/clitest.rg000001\/providers\/Microsoft.Network\/dnszones\/containerapp000004.com\/TXT\/asuid.devtest","name":"asuid.devtest","type":"Microsoft.Network\/dnszones\/TXT","etag":"80cb58ba-29bb-419f-93fb-e57eb994677a","properties":{"fqdn":"asuid.devtest.containerapp000004.com.","TTL":3600,"TXTRecords":[{"value":["D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"]}],"targetResource":{},"trafficManagementProfile":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 80cb58ba-29bb-419f-93fb-e57eb994677a
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnsZones/containerapp000004.com/TXT/asuid.clitest?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''asuid.clitest''
        does not exist in resource group ''clitest.rg000001'' of subscription ''23f95f0e-e782-47be-9f97-56035ec10e42''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000004/listCustomHostNameAnalysis?api-version=2024-03-01&customHostname=devtest.containerapp000004.com
  response:
    body:
      string: '{"isHostnameAlreadyVerified":false,"customDomainVerificationTest":"Passed","hasConflictOnManagedEnvironment":false,"conflictWithEnvironmentCustomDomain":false,"cNameRecords":[],"txtRecords":[],"aRecords":[],"alternateTxtRecords":["D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"]}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
