interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["14.0.0.0/23"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000003?api-version=2024-05-01
  response:
    body:
      string: '{"name":"name000003","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000003","etag":"W/\"d1f66ce9-95e5-48b7-8640-ce853925354b\"","type":"Microsoft.Network/virtualNetworks","location":"eastus","properties":{"provisioningState":"Updating","resourceGuid":"820ed242-f846-4a09-9906-cf4c61e42ebe","addressSpace":{"addressPrefixes":["14.0.0.0/23"]},"privateEndpointVNetPolicies":"Disabled","subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/cacec568-b356-42ef-90d2-7e92b9dbd240?api-version=2024-05-01&t=638757320056647415&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMTIzMzI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/cacec568-b356-42ef-90d2-7e92b9dbd240?api-version=2024-05-01&t=638757320056647415&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMTIzMzI3WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000003?api-version=2024-05-01
  response:
    body:
      string: '{"name":"name000003","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000003","etag":"W/\"4a133f8a-89dd-477f-859f-0f9e4331f4f6\"","type":"Microsoft.Network/virtualNetworks","location":"eastus","properties":{"provisioningState":"Succeeded","resourceGuid":"820ed242-f846-4a09-9906-cf4c61e42ebe","addressSpace":{"addressPrefixes":["14.0.0.0/23"]},"privateEndpointVNetPolicies":"Disabled","subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4a133f8a-89dd-477f-859f-0f9e4331f4f6"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3747'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "sub", "properties": {"addressPrefix": "14.0.0.0/23", "delegations":
      [{"name": "0", "properties": {"serviceName": "Microsoft.App/environments"}}],
      "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000003/subnets/sub?api-version=2024-01-01
  response:
    body:
      string: '{"name":"sub","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000003/subnets/sub","etag":"W/\"6232f35d-c146-4219-875c-2b4203b9d826\"","properties":{"provisioningState":"Updating","addressPrefix":"14.0.0.0/23","delegations":[{"name":"0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000003/subnets/sub/delegations/0","etag":"W/\"6232f35d-c146-4219-875c-2b4203b9d826\"","properties":{"provisioningState":"Succeeded","serviceName":"Microsoft.App/environments","actions":["Microsoft.Network/virtualNetworks/subnets/join/action"]},"type":"Microsoft.Network/virtualNetworks/subnets/delegations"}],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/89320db6-5b00-4fdd-806d-e910c8f58c00?api-version=2024-01-01&t=638757320194461753&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzMzI3WhcNMjUwNDIzMTIzMzI3WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Japan West","Australia
        Southeast","France South","Spain Central","Italy North","Poland Central","South
        India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2024-10-02-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": {"infrastructureSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000003/subnets/sub",
      "dockerBridgeCidr": null, "platformReservedCidr": null, "platformReservedDnsIP":
      null, "internal": true}, "appLogsConfiguration": {"destination": null, "logAnalyticsConfiguration":
      null}, "customDomainConfiguration": null, "workloadProfiles": [{"workloadProfileType":
      "Consumption", "Name": "Consumption"}], "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2025-02-21T10:53:51.2064459","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-21T10:53:51.2064459"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":{"internal":true,"infrastructureSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000003/subnets/sub","dockerBridgeCidr":null,"platformReservedCidr":null,"platformReservedDnsIP":null},"defaultDomain":"mangodune-73865f94.eastus.azurecontainerapps.io","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"zoneRedundant":false,"kedaConfiguration":{"version":"2.15.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"infrastructureResourceGroup":"ME_env000002_clitest.rg7mhuuzkzlq_eastus","peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/e21c3a9e-9114-4db9-81a7-3e7de1517c34?api-ve[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/e21c3a9e-9114-4db9-81a7-3e7de1517c34?api-version=2024-03-01&azureAsyncOperation=true&t=638757320339096684&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTI[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2025-02-21T10:53:51.2064459","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-21T10:53:51.2064459"},"properties":{"provisioningState":"Succeeded","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":{"internal":true,"infrastructureSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/name000003/subnets/sub","dockerBridgeCidr":null,"platformReservedCidr":null,"platformReservedDnsIP":null},"defaultDomain":"mangodune-73865f94.eastus.azurecontainerapps.io","staticIp":"14.0.0.255","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"zoneRedundant":false,"kedaConfiguration":{"version":"2.15.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"infrastructureResourceGroup":"ME_env000002_clitest.rg7mhuuzkzlq_eastus","peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"tagname": "value"}, "location": "eastus", "extendedLocation":
      null, "identity": null, "managedBy": null, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": null, "activeRevisionsMode": "Multiple", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "exposedPort": null, "transport":
      "http", "traffic": null, "customDomains": null, "allowInsecure": false, "ipSecurityRestrictions":
      null, "stickySessions": null, "clientCertificateMode": "Require", "corsPolicy":
      null, "additionalPortMappings": null}, "registries": null, "dapr": null, "maxInactiveRevisions":
      null, "service": null}, "template": {"revisionSuffix": "myrevision", "terminationGracePeriodSeconds":
      null, "initContainers": null, "containers": [{"image": "nginx", "name": "nginx",
      "command": ["npm", "start"], "args": null, "env": [{"name": "HTTP_PORT", "value":
      "80", "secretRef": null}], "resources": {"cpu": 0.5, "memory": "1Gi", "ephemeralStorage":
      null}, "volumeMounts": null, "probes": null}], "scale": {"minReplicas": 1, "maxReplicas":
      3, "rules": null}, "volumes": null, "serviceBinds": null}, "workloadProfileName":
      null, "latestReadyRevisionName": null, "eventStreamEndpoint": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/yaml000004?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/yaml000004","name":"yaml000004","type":"Microsoft.App/containerApps","location":"East
        US","tags":{"tagname":"value"},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2025-02-21T10:58:15.6438579Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-21T10:58:15.6438579Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":"Consumption","outboundIpAddresses":null,"customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","configuration":{"secrets":null,"activeRevisionsMode":"Multiple","ingress":{"fqdn":null,"external":true,"targetPort":80,"exposedPort":null,"transport":"Http","traffic":null,"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":"Require","stickySessions":null,"additionalPortMappings":null},"registries":null,"dapr":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":"myrevision","terminationGracePeriodSeconds":null,"containers":[{"image":"nginx","name":"nginx","command":["npm","start"],"env":[{"name":"HTTP_PORT","value":"80"}],"resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":3,"rules":null},"volumes":null,"serviceBinds":null},"delegatedIdentities":[]},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/cont[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/637b04cf-e503-4e32-8979-12ae9399a740?api-version=2024-03-01&azureAsyncOperation=true&t=638757322964407400&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/yaml000004?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/yaml000004","name":"yaml000004","type":"Microsoft.App/containerApps","location":"East
        US","tags":{"tagname":"value"},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2025-02-21T10:58:15.6438579","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-02-21T10:58:15.6438579"},"properties":{"provisioningState":"Succeeded","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","workloadProfileName":"Consumption","outboundIpAddresses":null,"latestRevisionName":"yaml000004--myrevision","latestReadyRevisionName":"yaml000004--myrevision","latestRevisionFqdn":"yaml000004--myrevision.mangodune-73865f94.eastus.azurecontainerapps.io","customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","configuration":{"secrets":null,"activeRevisionsMode":"Multiple","ingress":{"fqdn":"yaml000004.mangodune-73865f94.eastus.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Http","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":"Require","stickySessions":null,"additionalPortMappings":null},"registries":null,"dapr":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":"myrevision","terminationGracePeriodSeconds":null,"containers":[{"image":"nginx","name":"nginx","command":["npm","start"],"env":[{"name":"HTTP_PORT","value":"80"}],"resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"}}],"initContainers":null,"scale":{"minReplicas":1,"maxReplicas":3,"rules":null},"volumes":null,"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/yaml000004/eventstream","delegatedIdentities":[]},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/547b0415-0661-4d66-b997-0e74f1cbebe0?api-version=2024-03-01&azureAsyncOperation=true&t=638757323263519641&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/6c35d89b-338c-4c2a-8b03-e710fe3654c8?api-version=2024-03-01&azureAsyncOperation=true&t=638757323475174633&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTIzM[...]
[...]
