interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"operations","locations":["North
        Central US (Stage)","Central US EUAP","East US 2 EUAP","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North","Norway East","Switzerland North","UAE North","Canada East","West Central
        US","UK West","Central India"],"apiVersions":["2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"None"},{"resourceType":"managedEnvironments","locations":["Central
        US EUAP","East US 2 EUAP","North Central US (Stage)","West US 2","Southeast
        Asia","Sweden Central","Canada Central","West Europe","North Europe","East
        US","East US 2","East Asia","Australia East","Germany West Central","Japan
        East","UK South","West US","Central US","North Central US","South Central
        US","Korea Central","Brazil South","West US 3","France Central","South Africa
        North"[...]
[...]
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "4d48265d-d7ef-4301-8f19-b1d0ebb77cd9",
      "sharedKey":"abc123"}},
      "customDomainConfiguration": null, "workloadProfiles": null, "zoneRedundant":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000003?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-env000003","name":"containerapp-env000003","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-06T02:32:05.7959637Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-06T02:32:05.7959637Z"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"gentlewater-6a65c068.eastus.azurecontainerapps.io","staticIp":"52.226.201.171","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"4d48265d-d7ef-4301-8f19-b1d0ebb77cd9","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.10.0"},"daprConfiguration":{"version":"1.11.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/containerapp-env000003/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":null,"firstPartyConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/56b63e4f-64c6-445d-a431-6705f6e56822?api-version=2023-05-01&azureAsyncOperation=true&t=638321563302812712&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDYzNjM2WhcNMjQwNzI3MDYzNjM2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/56b63e4f-64c6-445d-a431-6705f6e56822?api-version=2023-05-01&azureAsyncOperation=true&t=638321563302812712&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODA[...]
[...]
- request:
    body: '{"name": "containerapp-env000003.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DomainRegistration/checkDomainAvailability?api-version=2022-03-01
  response:
    body:
      string: '{"name":"containerapp-env000003.com","available":true,"domainType":"Regular"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"includePrivacy": true, "forTransfer": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DomainRegistration/topLevelDomains/com/listAgreements?api-version=2022-03-01
  response:
    body:
      string: "{\"value\":[{\"agreementKey\":\"DNRA\",\"title\":\"Domain Registration
        Agreement\",\"content\":\"\\n<style>.vsc-legal-content-module .lcm-title{margin-top:2.5rem;margin-bottom:1rem}.vsc-legal-content-module
        .lcm-subtitle{margin-bottom:1rem}.vsc-legal-content-module .paragraph{margin-top:0;margin-bottom:1rem}.vsc-legal-content-module
        .lcm-numbered-list ul>ol{list-style:circle inside}.vsc-legal-content-module
        .lcm-numbered-list ol{counter-reset:section;padding-left:0}.vsc-legal-content-module
        .lcm-numbered-list ol>li{display:block}.vsc-legal-content-module .lcm-numbered-list
        ol>li:before{content:counters(section,\\\".\\\") \\\" \\\";counter-increment:section}</style>\\n\\n<div
        id=\\\"id-6de81dbb-6ddc-4107-a4fd-86de2b44f601\\\" class=\\\"vsc-legal-content-module\\\"
        >\\n  <div class=\\\"lcm-title\\\">\\n    <strong><span class=\\\"h5\\\">Azure
        - DOMAIN NAME REGISTRATION AGREEMENT</span></strong>\\n  </div>\\n    <div
        class=\\\"lcm-subtitle\\\">\\n      <strong>Last Revised: 4/10/2023</strong>\\n
        \   </div>\\n        <strong><strong>PLEASE READ THIS AGREEMENT CAREFULLY,
        AS IT CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS AND REMEDIES.</strong></strong>\\n\\n
        \ <p></p>\\n        <strong><strong>1. OVERVIEW</strong></strong>\\n\\n      <p>This
        Domain Name[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Network/dnszones", "name": "containerapp-env000003.com",
      "apiVersion": "2018-05-01", "location": "global", "dependsOn": [], "properties":
      {"zoneType": "Public"}}, {"type": "Microsoft.DomainRegistration/domains", "name":
      "containerapp-env000003.com", "apiVersion": "2018-02-01", "location": "global",
      "dependsOn": ["[resourceId(''Microsoft.Network/dnszones'', ''containerapp-env000003.com'')]"],
      "tags": {}, "properties": {"consent": {"agreementKeys": ["DNRA", "DNPA"], "agreedBy":
      "192.168.1.7", "agreedAt": "2023-10-06 02:32:43.654420"}, "ContactAdmin": {"AddressMailing":
      {"Address1": "One Microsoft Way", "Address2": "", "City": "Seattle", "Country":
      "US", "PostalCode": "98109", "State": "WA"}, "Email": "testemail@hotmail.com",
      "Fax": "", "JobTitle": "", "NameFirst": "Jane", "NameLast": "Doe", "NameMiddle":
      "", "Organization": "", "Phone": "+1.2061234567"}, "ContactBilling": {"AddressMailing":
      {"Address1": "One Microsoft Way", "Address2": "", "City": "Seattle", "Country":
      "US", "PostalCode": "98109", "State": "WA"}, "Email": "testemail@hotmail.com",
      "Fax": "", "JobTitle": "", "NameFirst": "Jane", "NameLast": "Doe", "NameMiddle":
      "", "Organization": "", "Phone": "+1.2061234567"}, "ContactRegistrant": {"AddressMailing":
      {"Address1": "One Microsoft Way", "Address2": "", "City": "Seattle", "Country":
      "US", "PostalCode": "98109", "State": "WA"}, "Email": "testemail@hotmail.com",
      "Fax": "", "JobTitle": "", "NameFirst": "Jane", "NameLast": "Doe", "NameMiddle":
      "", "Organization": "", "Phone": "+1.2061234567"}, "ContactTech": {"AddressMailing":
      {"Address1": "One Microsoft Way", "Address2": "", "City": "Seattle", "Country":
      "US", "PostalCode": "98109", "State": "WA"}, "Email": "testemail@hotmail.com",
      "Fax": "", "JobTitle": "", "NameFirst": "Jane", "NameLast": "Doe", "NameMiddle":
      "", "Organization": "", "Phone": "+1.2061234567"}, "privacy": true, "autoRenew":
      true, "dnsType": "AzureDns", "targetDnsType": "AzureDns", "dnsZoneId": "[resourceId(''Microsoft.Network/dnszones'',
      ''containerapp-env000003.com'')]"}, "resources": []}], "outputs": {}}, "parameters":
      {}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/domain_deploy_9j7yKDntQzUi7jydP5SECCBc1XP046k3","name":"domain_deploy_9j7yKDntQzUi7jydP5SECCBc1XP046k3","type":"Microsoft.Resources/deployments","properties":{"templateHash":"13015170501582411713","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2023-10-06T02:32:54.1355599Z","duration":"PT0.0002591S","correlationId":"2d74a8e3-6472-4e8d-8d03-4f89056594dc","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"dnszones","locations":["global"]}]},{"namespace":"Microsoft.DomainRegistration","resourceTypes":[{"resourceType":"domains","locations":["global"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnszones/containerapp-env000003.com","resourceType":"Microsoft.Network/dnszones","resourceName":"containerapp-env000003.com"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DomainRegistration/domains/containerapp-env000003.com","resourceType":"Microsoft.DomainRegistration/domains","resourceName":"containerapp-env000003.com"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/domain_deploy_9j7yKDntQzUi7jydP5SECCBc1XP046k3/operationStatuses/08585050473158174575?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585050473158174575?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnsZones/containerapp-env000003.com/TXT/asuid.devtest?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''asuid.devtest''
        does not exist in resource group ''clitest.rg000001'' of subscription ''23f95f0e-e782-47be-9f97-56035ec10e42''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"TTL": 3600, "TXTRecords": [{"value": ["D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnsZones/containerapp-env000003.com/TXT/asuid.devtest?api-version=2023-07-01-preview
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/clitest.rg000001\/providers\/Microsoft.Network\/dnszones\/containerapp-env000003.com\/TXT\/asuid.devtest","name":"asuid.devtest","type":"Microsoft.Network\/dnszones\/TXT","etag":"045dad56-79ed-4736-890d-c9cb07150cf2","properties":{"fqdn":"asuid.devtest.containerapp-env000003.com.","TTL":3600,"TXTRecords":[{"value":["D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 045dad56-79ed-4736-890d-c9cb07150cf2
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/dnsZones/containerapp-env000003.com/TXT/asuid.clitest?api-version=2023-07-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''asuid.clitest''
        does not exist in resource group ''clitest.rg000001'' of subscription ''23f95f0e-e782-47be-9f97-56035ec10e42''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/332f9955-cf9a-450f-9315-593b6bd56c7d?api-version=2023-05-01&azureAsyncOperation=true&t=638321565394244767&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationResults/71883e7d-82b9-4630-8b72-cda5caf8763c?api-version=2023-05-01&t=638321566004329236&c=MIIHHjCCBgagAwIBAgITfwHPGb2PGVTN4z3FUwAEAc8ZvTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDYzNjM2WhcNMjQwNzI3MDYzN[...]
[...]
