interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northeurope/availableManagedEnvironmentsWorkloadProfileTypes?api-version=2025-07-01
  response:
    body:
      string: '{"value":[{"location":"northeurope","properties":{"displayName":"Dedicated-D4","category":"GeneralPurpose","cores":4,"memoryGiB":16},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/availableManagedEnvironmentsWorkloadProfileTypes/D4","name":"D4","type":"Microsoft.App/availableManagedEnvironmentsWorkloadProfileTypes"},{"location":"northeurope","properties":{"displayName":"Dedicated-D8","category":"GeneralPurpose","cores":8,"memoryGiB":32},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/availableManagedEnvironmentsWorkloadProfileTypes/D8","name":"D8","type":"Microsoft.App/availableManagedEnvironmentsWorkloadProfileTypes"},{"location":"northeurope","properties":{"displayName":"Dedicated-D16","category":"GeneralPu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/availableManagedEnvironmentsWorkloadProfileTypes?api-version=2025-07-01
  response:
    body:
      string: '{"value":[{"location":"eastus","properties":{"displayName":"Dedicated-D4","category":"GeneralPurpose","cores":4,"memoryGiB":16},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.[...]
