interactions:
- request:
    body: '{"name": "storage000005", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2023-05-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "StorageV2", "location": "eastus",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"},
      "largeFileSharesState": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storage000005?api-version=2023-05-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/580828f2-cf6e-4924-a5b2-0ff2a6382e75?monitor=true&api-version=2023-05-01&t=638536903272522750&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE0MjM1NDE2WhcNMjUwNTA5MjM1NDE2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/580828f2-cf6e-4924-a5b2-0ff2a6382e75?monitor=true&api-version=2023-05-01&t=638536903272522750&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE0MjM1NDE2WhcNMjUwNTA5MjM1NDE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/580828f2-cf6e-4924-a5b2-0ff2a6382e75?monitor=true&api-version=2023-05-01&t=638536903273985673&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE0MjM1NDE2WhcNMjUwNTA5MjM1NDE[...]
- request:
    body: '{"properties": {"shareQuota": 1024, "enabledProtocols": "SMB"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storage000005/fileServices/default/shares/share000006?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storage000005/fileServices/default/shares/share000006","name":"share000006","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"shareQuota":1024,"enabledProtocols":"SMB"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DC89EE3A48698C"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Italy North","Poland Central","South
        India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "689cbc1b-d213-4af0-af91-685a574d64ed",
      "sharedKey":"abc123"}},
      "customDomainConfiguration": null, "workloadProfiles": [{"workloadProfileType":
      "Consumption", "Name": "Consumption"}], "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","name":"env000003","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"05e98f05-c170-4236-968f-5bf6b5884bfc","createdByType":"Application","createdAt":"2024-06-11T08:12:26.2925718","lastModifiedBy":"05e98f05-c170-4236-968f-5bf6b5884bfc","lastModifiedByType":"Application","lastModifiedAt":"2024-06-11T08:12:26.2925718"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"ashybay-47250290.eastus.azurecontainerapps.io","staticIp":"48.217.17.107","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"689cbc1b-d213-4af0-af91-685a574d64ed","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000003/eventstream","customDomainConfiguration":{"customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/2c026a2c-3651-4427-a62e-c238fe52c68b?api-version=2024-03-01&azureAsyncOperation=true&t=638536903473082008&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE0MjM1NDE2WhcNMjUwNTA5MjM1NDE2WjBAMT4wPAYDVQQDEzVhc3luY2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/2c026a2c-3651-4427-a62e-c238fe52c68b?api-version=2024-03-01&azureAsyncOperation=true&t=638536903473082008&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/storage000005/listKeys?api-version=2023-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2024-06-11T08:12:05.2262641Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2024-06-11T08:12:05.2262641Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003/storages/share000006?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"ManagedEnvironmentStorageNotFound","message":"ManagedEnvironment
        Storage ''share000006'' was not found."}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"azureFile": {"accountName": "storage000005", "accountKey":
      "veryFakedStorageAccountKey==", "accessMode": "ReadWrite", "shareName": "share000006"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003/storages/share000006?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003/storages/share000006","name":"share000006","type":"Microsoft.App/managedenvironments/storages","properties":{"azureFile":{"accountName":"storage000005","shareName":"share000006","accessMode":"ReadWrite"}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": null, "location": "eastus", "extendedLocation": null, "identity":
      null, "managedBy": null, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003",
      "configuration": {"secrets": null, "activeRevisionsMode": "Single", "ingress":
      {"fqdn": null, "external": true, "targetPort": 80, "exposedPort": null, "transport":
      "Auto", "traffic": [{"revisionName": null, "weight": 100, "latestRevision":
      true, "label": null}], "customDomains": null, "allowInsecure": true, "ipSecurityRestrictions":
      null, "stickySessions": null, "clientCertificateMode": null, "corsPolicy": null,
      "additionalPortMappings": null}, "registries": null, "dapr": null, "maxInactiveRevisions":
      null, "service": null}, "template": {"revisionSuffix": null, "terminationGracePeriodSeconds":
      null, "initContainers": null, "containers": [{"image": "mcr.microsoft.com/k8se/quickstart:latest",
      "name": "acamounttest", "command": null, "args": null, "env": null, "resources":
      {"cpu": 0.5, "memory": "1Gi", "ephemeralStorage": "1Gi"}, "volumeMounts": [{"volumeName":
      "azure-files-volume", "mountPath": "/mnt/data", "subPath": "sub"}], "probes":
      null}], "scale": null, "volumes": [{"name": "azure-files-volume", "storageType":
      "AzureFile", "storageName": "share000006", "secrets": null, "mountOptions":
      "uid=999,gid=999"}], "serviceBinds": null}, "workloadProfileName": null, "latestReadyRevisionName":
      null, "eventStreamEndpoint": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/app1000004?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/app1000004","name":"app1000004","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"05e98f05-c170-4236-968f-5bf6b5884bfc","createdByType":"Application","createdAt":"2024-06-11T08:13:37.326144Z","lastModifiedBy":"05e98f05-c170-4236-968f-5bf6b5884bfc","lastModifiedByType":"Application","lastModifiedAt":"2024-06-11T08:13:37.326144Z"},"properties":{"provisioningState":"InProgress","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","workloadProfileName":"Consumption","outboundIpAddresses":["20.231.246.122","20.231.246.54","20.231.247.19","20.231.246.253","20.241.227.6","20.241.226.169","20.127.248.50","20.241.171.30","20.241.172.248","20.241.172.250","20.246.203.138","20.246.203.140","52.191.22.226","52.191.22.23","52.191.22.71","52.191.22.159","52.191.22.166","52.191.22.212","52.191.22.41","52.191.23.0","52.191.22.198","52.191.22.121","20.124.73.117","52.149.247.118","52.149.245.39","52.149.247.189","52.149.247.220","52.149.247.221","52.149.245.38","52.149.244.111","52.224.88.17[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/9f45bec3-bf75-4452-afb2-20cce0862306?api-version=2024-03-01&azureAsyncOperation=true&t=638536904175136534&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE0MjM1N[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/app1000004?api-version=2024-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/app1000004","name":"app1000004","type":"Microsoft.App/containerApps","location":"East
        US","systemData":{"createdBy":"05e98f05-c170-4236-968f-5bf6b5884bfc","createdByType":"Application","createdAt":"2024-06-11T08:13:37.326144","lastModifiedBy":"05e98f05-c170-4236-968f-5bf6b5884bfc","lastModifiedByType":"Application","lastModifiedAt":"2024-06-11T08:13:37.326144"},"properties":{"provisioningState":"Succeeded","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000003","workloadProfileName":"Consumption","outboundIpAddresses":["20.231.246.122","20.231.246.54","20.231.247.19","20.231.246.253","20.241.227.6","20.241.226.169","20.127.248.50","20.241.171.30","20.241.172.248","20.241.172.250","20.246.203.138","20.246.203.140","52.191.22.226","52.191.22.23","52.191.22.71","52.191.22.159","52.191.22.166","52.191.22.212","52.191.22.41","52.191.23.0","52.191.22.198","52.191.22.121","20.124.73.117","52.149.247.118","52.149.245.39","52.149.247.189","52.149.247.220","52.149.247.221","52.149.245.38","52.149.244.111","52.224.88.179","52.149.247.199","52.149.244.160","4.156.169.214","51.8.244.245","51.8.245.98","51.8.244.244","51.8.245.50","51.8.245.71","51.8.245.15","51.8.245.135","51.8.245.134","51.8.245.14","51.8.244.211","4.156.169.175","4.156.169.143","20.241.173.137","20.241.173.98","20.242.228.13","20.242.227.204","20.242.227.238","20.242.228.93","52.226.103.51","52.226.103.36","52.226.103.82","52.226.103.10","52.226.102.213","52.226.102.151","52.226.102.243","52.226.103.40","52.226.102.224","52.226.102.162"],"latestRevisionName":"app1000004--jisvedi","latestReadyRevisionName":"app1000004--jisvedi","latestRevisionFqdn":"app1000004--jisvedi.ashybay-47250290.eastus.azurecontainerapps.io","customDomainVerificationId":"253001F2FCF5A7B1CD759EB861E9BB1596370BE27E47A991F72184277B3D12F2","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"app1000004.ashybay-47250290.eastus.azurecontainerapps.io","external":true,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":true,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":null,"dapr":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","name":"acamounttest","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"},"volumeMounts":[{"volumeName":"azure-files-volume","mountPath":"/mnt/data","subPath":"sub"}]}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":[{"name":"azure-files-volume","storageType":"AzureFile","storageName":"share000006","mountOptions":"uid=999,gid=999"}],"serviceBinds":null},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/containerApps/app1000004/eventstream","delegatedIdentities":[]},"identity":{"type":"None"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/app1000004/revisions?api-version=2024-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/app1000004/revisions/app1000004--jisvedi","name":"app1000004--jisvedi","type":"Microsoft.App/containerapps/revisions","properties":{"createdTime":"2024-06-11T08:13:43+00:00","fqdn":"app1000004--jisvedi.ashybay-47250290.eastus.azurecontainerapps.io","template":{"revisionSuffix":null,"terminationGracePeriodSeconds":null,"containers":[{"image":"mcr.microsoft.com/k8se/quickstart:latest","name":"acamounttest","resources":{"cpu":0.500,"memory":"1Gi"},"probes":[],"volumeMounts":[{"volumeName":"azure-files-volume","mountPath":"/mnt/data","subPath":"sub"}]}],"initContainers":null,"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":[{"name":"azure-files-volume","storageType":"AzureFile","storageName":"share000006","mountOptions":"uid=999,gid=999"}],"serviceBinds":null},"active":true,"replicas":1,"trafficWeight":100,"healthState":"None","provisioningState":"Provisioned","runningState":"Activating"}}]}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/app1000004/listSecrets?api-version=2024-03-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/containerappOperationResults/4a595e3a-682d-4e6a-8986-a3ba00eac959?api-version=2024-03-01&t=638536904333732258&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE0MjM1NDE2WhcNMjUwNTA5MjM1NDE2WjB[...]
[...]
