interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Central US EUAP","East
        US 2 EUAP"],"apiVersions":["2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2023-05-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgru7ffsv6htluiajyfyl5u?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"a7f7b6c5-c6cf-4b17-91d6-aaff28baee8d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-20T01:52:25.3859181Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-20T15:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-20T01:52:25.3859181Z","modifiedDate":"2024-01-20T01:52:25.3859181Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgru7ffsv6htluiajyfyl5u","name":"workspace-clitestrgru7ffsv6htluiajyfyl5u","type":"Microsoft.OperationalInsights/workspaces","etag":"\"3c003579-0000-0100-0000-65ab27590000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgru7ffsv6htluiajyfyl5u?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgru7ffsv6htluiajyfyl5u?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"a7f7b6c5-c6cf-4b17-91d6-aaff28baee8d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-01-20T01:52:25.3859181Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-01-20T15:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2024-01-20T01:52:25.3859181Z","modifiedDate":"2024-01-20T01:52:25.3859181Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgru7ffsv6htluiajyfyl5u","name":"workspace-clitestrgru7ffsv6htluiajyfyl5u","type":"Microsoft.OperationalInsights/workspaces","etag":"\"3c003579-0000-0100-0000-65ab27590000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgru7ffsv6htluiajyfyl5u/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"abc123","secondarySharedKey":"abc123"}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "a7f7b6c5-c6cf-4b17-91d6-aaff28baee8d",
      "sharedKey": "abc123"}},
      "customDomainConfiguration": null, "workloadProfiles": [{"workloadProfileType":
      "Consumption", "Name": "Consumption"}], "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"harrli@microsoft.com","createdByType":"User","createdAt":"2024-01-20T01:52:28.0317543","lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-20T01:52:28.0317543"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"graypebble-d2408667.eastus.azurecontainerapps.io","staticIp":"52.224.185.195","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"a7f7b6c5-c6cf-4b17-91d6-aaff28baee8d","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.12.0"},"daprConfiguration":{"version":"1.11.6"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"0FEF6FC81FA2FA9876FEE95F895AD716D01F5495C9AC8EA62F0228DC5E40B5CA","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption"}],"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/7e060e40-e226-49ee-887d-f9ee1494ac78?api-version=2023-05-01&azureAsyncOperation=true&t=638413123494225542&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMxMTAyMDczOTIwWhcNMjQxMDI3MDczOTIwWjBAMT4wPAYDVQQDEzVhc3luY2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/7e060e40-e226-49ee-887d-f9ee1494ac78?api-version=2023-05-01&azureAsyncOperation=true&t=638413123494225542&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMxMTA[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/subscriptions''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PatcherTestRg/providers/Microsoft.ContainerRegistry/registries/patchertestacr","name":"patchertestacr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Standard","tier":"Standard"},"location":"eastus","tags":{},"systemData":{"createdBy":"harrli@microsoft.com","createdByType":"User","createdAt":"2023-03-20T03:34:21.7566725Z","lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-17T18:04:20.2780742Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PatcherTestRg/providers/Microsoft.ContainerRegistry/registries/actiondebugregistry","name":"actiondebugregistry","type":"Microsoft.ContainerRegistry/re[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca65116b68c7acr?api-version=2022-02-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca65116b68c7acr","name":"ca65116b68c7acr","location":"eastus","tags":{},"systemData":{"createdBy":"harrli@microsoft.com","createdByType":"User","createdAt":"2024-01-20T01:55:22.7525266+00:00","lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-20T01:55:22.7525266+00:00"},"properties":{"loginServer":"ca65116b68c7acr.azurecr.io","creationDate":"2024-01-20T01:55:22.7525266Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2024-01-20T01:55:35.328565+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2024-01-20T01:55:35.3286069+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false}}'
    headers:
      api-supported-versions:
      - 2022-02-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca65116b68c7acr/operationStatuses/registries-f5bc0aa4-b736-11ee-b1b5-010101010000?api-version=2022-02-01-preview&t=638413125356275634&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca65116b68c7acr/operationStatuses/registries-f5bc0aa4-b736-11ee-b1b5-010101010000?api-version=2022-02-01-preview&t=638413125356275634&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca65116b68c7acr?api-version=2022-12-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Co[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca65116b68c7acr/listCredentials?api-version=2022-12-01
  response:
    body:
      string: '{"username":"ca65116b68c7acr","passwords":[{"name":"password","value":"Vv0W5PJYsSP3GkRlS+70qGU1ueyD8UWBbJNlhQDx2X+ACRBmcOtQ"},{"name":"password2","value":"1uswbFk1mqAMc9dY/2LHyRzl8cKilBlFxqsK9+O0xV+ACRAMz5BC"}]}'
    headers:
      api-supported-versions:
      - '2022-12-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca65116b68c7acr/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged67.blob.core.windows.net/7cf2e49779e84c849f57cf5f197c7454-l3zblhyfa2/source/202401200000/0edda694-7403-4c44-bd88-50b85c7659af.tar.gz?sv=2021-12-02&se=2024-01-20T02%3A55%3A48Z&sr=b&sp=cw&sig=TF6AJaUycx7VEnlXvM6g8ovyfXwwYdfIJ2vgGRXs28k%3D","relativePath":"source/202401200000/0edda694-7403-4c44-bd88-50b85c7659af.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICCMoq2UC/2J1aWxkX2FyY2hpdmVfMjRmZjY0NjE1NWI2NGQxMThjZDc0ZjczNzc5OTkwYWIu
      dGFyAO09+XcUx5lkN/sL+3jPf0Jl/DYRfsypCwtJRgYclHBoJdmO4zhOz0xJaujpHnf3SMg8x3mb
      9e7b4yWbjZOXfY7jJDY2GAvbYG4wxre5DwkBEggkIQy6EEggDrn2q6rumZ5DAhwYSKjP/phWd9X3
      fXV9R3V1lcfr8c6skJbMxVIY65NuC/g4jPfr8+XmJq7pfb8/L98/CS2ZlAWIGaakA/tbXci/EggU
      oogpR3CJv9CXXxDI8/ke9PjzC/P90ydPEvC3D94s8KDjobCwcPzxn3ZdGCj0TUL5YvzfdvAI/S/0
      v9D/9yxI0aiBTVNWaw3PbFyPFS0awarpWWRo6q0c/wUFBeO[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000003:20240119175547188104"], "isPushEnabled": true, "noCache":
      false, "dockerFilePath": "de20ea75bd4a417eb5ffaa7b1fdd30d8_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202401200000/0edda694-7403-4c44-bd88-50b85c7659af.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca65116b68c7acr/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2024-01-20T01:55:50+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca65116b68c7acr/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"harrli@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-20T01:55:50.2262859+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca65116b68c7acr/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged67.blob.core.windows.net/7cf2e49779e84c849f57cf5f197c7454-l3zblhyfa2/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-20T03%3A05%3A51Z&sr=b&sp=r&sig=6HZglRPjLTVaQRpEVPH6JDbU0tejhL%2BToULmBEjt4BU%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Jan 2024 01:55:50 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged67.blob.core.windows.net/7cf2e49779e84c849f57cf5f197c7454-l3zblhyfa2/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-20T03%3A05%3A51Z&sr=b&sp=r&sig=6HZglRPjLTVaQRpEVPH6JDbU0tejhL%2BToULmBEjt4BU%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC195AEE739EA0"'
      last-modified:
      - Sat, 20 Jan 2024 01:55:51 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Sat, 20 Jan 2024 01:55:51 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Jan 2024 01:55:51 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged67.blob.core.windows.net/7cf2e49779e84c849f57cf5f197c7454-l3zblhyfa2/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-20T03%3A05%3A51Z&sr=b&sp=r&sig=6HZglRPjLTVaQRpEVPH6JDbU0tejhL%2BToULmBEjt4BU%3D
  response:
    body:
      string: "2024/01/20 01:55:51 Downloading source code...\r\n2024/01/20 01:55:51
        Finished downloading source code\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-101/102
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC195AEE739EA0"'
      last-modified:
      - Sat, 20 Jan 2024 01:55:51 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Sat, 20 Jan 2024 01:55:51 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Jan 2024 01:55:54 GMT
      x-ms-range:
      - bytes=102-4197
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged67.blob.core.windows.net/7cf2e49779e84c849f57cf5f197c7454-l3zblhyfa2/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-20T03%3A05%3A51Z&sr=b&sp=r&sig=6HZglRPjLTVaQRpEVPH6JDbU0tejhL%2BToULmBEjt4BU%3D
  response:
    body:
      string: "2024/01/20 01:55:52 Using acb_vol_27f708bf-098e-4589-9886-2c0b56f7d549
        as the home volume\n2024/01/20 01:55:52 Setting up Docker configuration...\n2024/01/20
        01:55:52 Successfully set up Docker configuration\n2024/01/20 01:55:52 Logging
        in to registry: ca65116b68c7acr.azurecr.io\n2024/01/20 01:55:53 Successfully
        logged into ca65116b68c7acr.azurecr.io\n2024/01/20 01:55:53 Executing step
        ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2024/01/20
        01:55:53 Scanning for dependencies...\n2024/01/20 01:55:53 Successfully scanned
        dependencies\n2024/01/20 01:55:53 Launching container with name: build\nSending
        build context to Docker daemon  35.33kB\r\r\nStep 1/17 : FROM mcr.microsoft.com/dotnet/aspnet:6.0
        AS base\n6.0: Pulling from dotnet/aspnet\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 102-856/857
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC195AEFB9AAAF"'
      last-modified:
      - Sat, 20 Jan 2024 01:55:53 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Sat, 20 Jan 2024 01:55:51 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Jan 2024 01:56:32 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged67.blob.core.windows.net/7cf2e49779e84c849f57cf5f197c7454-l3zblhyfa2/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-20T03%3A05%3A51Z&sr=b&sp=r&sig=6HZglRPjLTVaQRpEVPH6JDbU0tejhL%2BToULmBEjt4BU%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DC195B0662319E"'
      last-modified:
      - Sat, 20 Jan 2024 01:56:31 GMT
      x-ms-blob-committed-block-count:
      - '18'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Sat, 20 Jan 2024 01:55:51 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 20 Jan 2024 01:56:32 GMT
      x-ms-range:
      - bytes=5565-9660
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged67.blob.core.windows.net/7cf2e49779e84c849f57cf5f197c7454-l3zblhyfa2/logs/ca1/rawtext.log?sv=2021-12-02&se=2024-01-20T03%3A05%3A51Z&sr=b&sp=r&sig=6HZglRPjLTVaQRpEVPH6JDbU0tejhL%2BToULmBEjt4BU%3D
  response:
    body:
      string: "20240119175547188104: digest: sha256:6b67d899f699b3877a3fdd1f1db57a04c51bdccc272d1c452ff3fa24b88317e9
        size: 1786\n2024/01/20 01:56:30 Successfully pushed image: ca65116b68c7acr.azurecr.io/containerapp000003:20240119175547188104\n2024/01/20
        01:56:30 Step ID: build marked as successful (elapsed time in seconds: 29.114052)\n2024/01/20
        01:56:30 Populating digests for step ID: build...\n2024/01/20 01:56:31 Successfully
        populated digests for step ID: build\n2024/01/20 01:56:31 Step ID: push marked
        as successful (elapsed time in seconds: 8.293565)\n2024/01/20 01:56:31 The
   [...]
[...]
- request:
    body: '{"location": "East US", "identity": {"type": "None", "userAssignedIdentities":
      null}, "properties": {"environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002",
      "configuration": {"secrets": [{"name": "ca65116b68c7acrazurecrio-ca65116b68c7acr",
      "value": "Vv0W5PJYsSP3GkRlS+70qGU1ueyD8UWBbJNlhQDx2X+ACRBmcOtQ"}], "activeRevisionsMode":
      "single", "ingress": {"fqdn": null, "external": true, "targetPort": 80, "transport":
      "auto", "exposedPort": null, "allowInsecure": false, "traffic": null, "customDomains":
      null, "ipSecurityRestrictions": null, "stickySessions": null}, "dapr": null,
      "registries": [{"server": "ca65116b68c7acr.azurecr.io", "username": "ca65116b68c7acr",
      "passwordSecretRef": "ca65116b68c7acrazurecrio-ca65116b68c7acr"}]}, "template":
      {"revisionSuffix": null, "containers": [{"image": "ca65116b68c7acr.azurecr.io/containerapp000003:20240119175547188104",
      "name": "containerapp000003", "command": null, "args": null, "env": null, "resources":
      null, "volumeMounts": null}], "initContainers": null, "scale": null, "volumes":
      null, "serviceBinds": null}, "workloadProfileName": null}, "tags": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2023-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerapps/containerapp000003","name":"containerapp000003","type":"Microsoft.App/containerApps","location":"East
[...]
