interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US","South Central US","Korea Central","Brazil South","West US 3","France
        Central","South Africa North","Norway East","Switzerland North","UAE North","Canada
        East","West Central US","UK West","Central India","Japan West","Australia
        Southeast","France South","Spain Central","Italy North","Poland Central","South
        India","Central US EUAP","East US 2 EUAP"],"apiVersions":["2025-01-01","2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2025-01-01","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags,
        SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","West US 2","Southeast Asia","Sweden Central","Canada
        Central","West Europe","North Europe","East US","East US 2","East Asia","Australia
        East","Germany West Central","Japan East","UK South","West US","Central US","North
        Central US",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgzgbygekctr5iwkn6kinys?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"fb503466-24d1-44c0-9b6c-e1504caf5a0e","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2025-04-14T09:57:16.5760561Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2025-04-14T16:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2025-04-14T09:57:16.5760561Z","modifiedDate":"2025-04-14T09:57:16.5760561Z"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgzgbygekctr5iwkn6kinys","name":"workspace-clitestrgzgbygekctr5iwkn6kinys","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5100baea-0000-0100-0000-67fcdbfc0000\""}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgzgbygekctr5iwkn6kinys?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgzgbygekctr5iwkn6kinys?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"fb503466-24d1-44c0-9b6c-e1504caf5a0e","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2025-04-14T09:57:16.576[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgzgbygekctr5iwkn6kinys/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"2f7bktiLjrrmndWoMox5JIArYyOIaKiZD0SlrRQwPN9l8DNCZFvfbJSUluafWpZP3QAUvnb5QUCv75RvKS/AEw==","secondarySharedKey":"m0GiSfR1iPXlkgUgWwL+kvpf/a+z1PcqMwsttm6Dt70j+m1I6BtrqeeYYABzEuwFzzmh9/VGmKXQVvhzfV8r5A=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01,
        2025-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2025-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": "log-analytics",
      "logAnalyticsConfiguration": {"customerId": "fb503466-24d1-44c0-9b6c-e1504caf5a0e",
      "sharedKey": "2f7bktiLjrrmndWoMox5JIArYyOIaKiZD0SlrRQwPN9l8DNCZFvfbJSUluafWpZP3QAUvnb5QUCv75RvKS/AEw=="}},
      "customDomainConfiguration": null, "workloadProfiles": [{"workloadProfileType":
      "Consumption", "Name": "Consumption"}], "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2025-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002","name":"env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2025-04-14T09:57:22.0195553","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-14T09:57:22.0195553"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"icyflower-45877d6a.eastus.azurecontainerapps.io","staticIp":"172.212.74.184","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"fb503466-24d1-44c0-9b6c-e1504caf5a0e","sharedKey":null}},"zoneRedundant":false,"kedaConfiguration":{"version":"2.16.1"},"daprConfiguration":{"version":"1.13.6-msft.2"},"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"D3F71C85EB6552E36A89A3E4A080C3CFB00181670B659B0003264FC673AA9B00","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/cab0d5ec-44ab-4dce-8b43-04abf98a2c6c?api-version=2025-01-01&azureAsyncOperation=true&t=638802214433008219&c=MIIHhzCCBm-gAwIBAgITfAaYKeS_Y1hBpcE2bQAABpgp5DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIzMTU0OTA5WhcNMjUwNzIyMTU0OTA5WjBAMT4wPAYDVQQDEzVhc3luY2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/cab0d5ec-44ab-4dce-8b43-04abf98a2c6c?api-version=2025-01-01&azureAsyncOperation=true&t=638802214433008219&c=MIIHhzCCBm-gAwIBAgITfAaYKeS_Y1hBpcE2bQAABpgp5DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTI[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/env000002?api-version=2025-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/subscriptions''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps/containerapp000003?api-version=2025-01-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/containerApps/containerapp000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/containerApps?api-version=2025-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/ca5617138654acr","name":"ca5617138654acr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"northcentralus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2023-10-10T03:09:02.93873Z","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-10T03:09:02.93873Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arc-appint-forxinyu12-rg0/providers/Microsoft.ContainerRegistry/registries/caedd971c2c1acr","name":"caedd971c2c1acr","type":"Microsoft.Container[...]
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Basic"}, "properties": {"adminUserEnabled":
      true, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca64004c9c7cacr?api-version=2023-11-01-preview
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca64004c9c7cacr","name":"ca64004c9c7cacr","location":"eastus","tags":{},"systemData":{"createdBy":"xinyupang@microsoft.com","createdByType":"User","createdAt":"2025-04-14T09:59:41.0491653+00:00","lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-14T09:59:41.0491653+00:00"},"properties":{"loginServer":"ca64004c9c7cacr.azurecr.io","creationDate":"2025-04-14T09:59:41.0491653Z","provisioningState":"Creating","adminUserEnabled":true,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2025-04-14T09:59:48.7577893+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2025-04-14T09:59:48.7578406+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled"}}'
    headers:
      api-supported-versions:
      - 2023-11-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca64004c9c7cacr/operationStatuses/registries-266ec5f4-1917-11f0-a4b0-c85acf032b42?api-version=2023-11-01-preview&t=638802215891428999&c=MIIHhzCCBm-gAwIBAgITfAaYKeS_Y1hBpcE2bQAABpgp5DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca64004c9c7cacr/operationStatuses/registries-266ec5f4-1917-11f0-a4b0-c85acf032b42?api-version=2023-11-01-preview&t=638802215891428999&c=MIIHhzCCBm-gAwIBAgITfAaYKeS_Y1hBpcE2bQAABpgp5DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca64004c9c7cacr?api-version=2023-07-01
  response:
    body:
      string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Co[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca64004c9c7cacr/listCredentials?api-version=2023-07-01
  response:
    body:
      string: '{"username":"ca64004c9c7cacr","passwords":[{"name":"password","value":"***"},{"name":"password2","value":"***"}]}'
    headers:
      api-supported-versions:
      - '2023-07-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca64004c9c7cacr/listBuildSourceUploadUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"uploadUrl":"https://eusmanaged118.blob.core.windows.net/a360e677755d4912aa2f43874b2d9db7-p5jrxg6bvo/source/202504140000/8230e407-66ae-417a-aa84-9ad1ac0985a6.tar.gz?sv=2024-11-04&se=2025-04-14T10%3A59%3A55Z&sr=b&sp=cw&sig=TVxQhkSvESd9jbSBET8PYSd9wbPbMftGw0lyDJVOTmc%3D","relativePath":"source/202504140000/8230e407-66ae-417a-aa84-9ad1ac0985a6.tar.gz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: !!binary |
      H4sICJrc/GcC/2J1aWxkX2FyY2hpdmVfNmFjMTJmZjBlMzRkNGNkMThkYmQ3YzJlMTFkM2UwNDEu
      dGFyAO09+XcUx5nKbvYX9vGe/4TK+G0i/Jj7AiHJyICDEg4tku14HcfpmWlJDT3d4+4eCZnnOG+z
      3n17vGSzcfKyz+s4iY0NxmAbzA3G+Db3ISFAAoEkhEEXAgnEIdd+VdU906MZCXBg4EVV8Kl7qqu+
      76vrO6qrq1xul3tmhbB0rijERK3grgQPC2NdPR5/IH1P4r0en9dXgJYW5CEkdUPQgHzBxAy+aShu
      SHGxxBuaHgh6pvmCPlco7PcEAuFJBTz81Qd3HmiQQR0Oh8ce/3Dvhc7n8fh8fn8Q4kOekLcABfn4
      v+vBxeU/l/9Z8t8H8j/I5f8ECEIioYuGISk1umu2WCfKaiI[...]
- request:
    body: '{"type": "DockerBuildRequest", "isArchiveEnabled": false, "imageNames":
      ["containerapp000003:20250414175954216931"], "isPushEnabled": true, "noCache":
      false, "dockerFilePath": "8b47600007c040509deb317277aa5447_Dockerfile", "arguments":
      [], "platform": {"os": "Linux", "architecture": "amd64"}, "sourceLocation":
      "source/202504140000/8230e407-66ae-417a-aa84-9ad1ac0985a6.tar.gz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca64004c9c7cacr/scheduleRun?api-version=2019-06-01-preview
  response:
    body:
      string: '{"type":"Microsoft.ContainerRegistry/registries/runs","properties":{"runId":"ca1","status":"Queued","lastUpdatedTime":"2025-04-14T09:59:57+00:00","provisioningState":"Succeeded","isArchiveEnabled":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca64004c9c7cacr/runs/ca1","name":"ca1","systemData":{"lastModifiedBy":"xinyupang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-04-14T09:59:57.1642534+00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/ca64004c9c7cacr/runs/ca1/listLogSasUrl?api-version=2019-06-01-preview
  response:
    body:
      string: '{"logLink":"https://eusmanaged118.blob.core.windows.net/a360e677755d4912aa2f43874b2d9db7-p5jrxg6bvo/logs/ca1/rawtext.log?sv=2024-11-04&se=2025-04-14T11%3A09%3A59Z&sr=b&sp=r&sig=3dbAS5bICm7qht%2FIDvvkYV19%2FPT9Rho22yR3P8rpSZM%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Apr 2025 09:59:59 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged118.blob.core.windows.net/a360e677755d4912aa2f43874b2d9db7-p5jrxg6bvo/logs/ca1/rawtext.log?sv=2024-11-04&se=2025-04-14T11%3A09%3A59Z&sr=b&sp=r&sig=3dbAS5bICm7qht%2FIDvvkYV19%2FPT9Rho22yR3P8rpSZM%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DD7B3B1DDEF041"'
      last-modified:
      - Mon, 14 Apr 2025 09:59:59 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 14 Apr 2025 09:59:58 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Apr 2025 10:00:00 GMT
      x-ms-range:
      - bytes=0-4095
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged118.blob.core.windows.net/a360e677755d4912aa2f43874b2d9db7-p5jrxg6bvo/logs/ca1/rawtext.log?sv=2024-11-04&se=2025-04-14T11%3A09%3A59Z&sr=b&sp=r&sig=3dbAS5bICm7qht%2FIDvvkYV19%2FPT9Rho22yR3P8rpSZM%3D
  response:
    body:
      string: "2025/04/14 09:59:58 Downloading source code...\r\n2025/04/14 09:59:59
        Finished downloading source code\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 0-101/102
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DD7B3B1DDEF041"'
      last-modified:
      - Mon, 14 Apr 2025 09:59:59 GMT
      x-ms-blob-committed-block-count:
      - '2'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 14 Apr 2025 09:59:58 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Apr 2025 10:00:01 GMT
      x-ms-range:
      - bytes=102-4197
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged118.blob.core.windows.net/a360e677755d4912aa2f43874b2d9db7-p5jrxg6bvo/logs/ca1/rawtext.log?sv=2024-11-04&se=2025-04-14T11%3A09%3A59Z&sr=b&sp=r&sig=3dbAS5bICm7qht%2FIDvvkYV19%2FPT9Rho22yR3P8rpSZM%3D
  response:
    body:
      string: "2025/04/14 09:59:59 Using acb_vol_976f7467-588f-48eb-b4b4-7ee869dda0f5
        as the home volume\n2025/04/14 09:59:59 Setting up Docker configuration...\n2025/04/14
        09:59:59 Successfully set up Docker configuration\n2025/04/14 09:59:59 Logging
        in to registry: ca64004c9c7cacr.azurecr.io\n2025/04/14 10:00:00 Successfully
        logged into ca64004c9c7cacr.azurecr.io\n2025/04/14 10:00:00 Executing step
        ID: build. Timeout(sec): 28800, Working directory: '', Network: ''\n2025/04/14
        10:00:00 Scanning for dependencies...\n2025/04/14 10:00:00 Successfully scanned
        dependencies\n2025/04/14 10:00:00 Launching container with name: build\nSending
        build context to Docker daemon  35.33kB\r\r\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 102-763/764
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DD7B3B1F26A223"'
      last-modified:
      - Mon, 14 Apr 2025 10:00:01 GMT
      x-ms-blob-committed-block-count:
      - '3'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 14 Apr 2025 09:59:58 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Apr 2025 10:00:32 GMT
      x-ms-range:
      - bytes=4175-8270
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://eusmanaged118.blob.core.windows.net/a360e677755d4912aa2f43874b2d9db7-p5jrxg6bvo/logs/ca1/rawtext.log?sv=2024-11-04&se=2025-04-14T11%3A09%3A59Z&sr=b&sp=r&sig=3dbAS5bICm7qht%2FIDvvkYV19%2FPT9Rho22yR3P8rpSZM%3D
  response:
    body:
      string: "2025/04/14 10:00:27 Successfully executed container: build\n2025/04/14
        10:00:27 Executing step ID: push. Timeout(sec): 3600, Working directory: '',
        Network: ''\n2025/04/14 10:00:27 Pushing image: ca64004c9c7cacr.azurecr.io/containerapp000003:20250414175954216931,
        attempt 1\nThe push refers to repository [ca64004c9c7cacr.azurecr.io/containerapp000003]\n1e98c8db9741:
        Preparing\n2de2e55c7692: Preparing\n7f7140d2a118: Preparing\n59361b3806d7:
        Preparing\na190071c1c72: Preparing\n14c1dc5943c0: Preparing\n9b7261696dcc:
        Preparing\n14c1dc5943c0: Waiting\n9b7261696dcc: Waiting\n2de2e55c7692: Pushed\n59361b3806d7:
        Pushed\n1e98c8db9741: Pushed\r\n"
    headers:
      content-disposition:
      - ''
      content-range:
      - bytes 4175-4812/4813
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DD7B3B2FDEB89E"'
      last-modified:
      - Mon, 14 Apr 2025 10:00:29 GMT
      x-ms-blob-committed-block-count:
      - '12'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 14 Apr 2025 09:59:58 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Apr 2025 10:00:38 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://eusmanaged118.blob.core.windows.net/a360e677755d4912aa2f43874b2d9db7-p5jrxg6bvo/logs/ca1/rawtext.log?sv=2024-11-04&se=2025-04-14T11%3A09%3A59Z&sr=b&sp=r&sig=3dbAS5bICm7qht%2FIDvvkYV19%2FPT9Rho22yR3P8rpSZM%3D
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - ''
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"0x8DD7B3B35076024"'
      last-modified:
      - Mon, 14 Apr 2025 10:00:37 GMT
      x-ms-blob-committed-block-count:
      - '16'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Mon, 14 Apr 2025 09:59:58 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-complete:
      - successful
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Apr 2025 10:00:39 GMT
      x-ms-range:
      - bytes=4899-8994
      x-ms-version:
[...]
