interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteServiceProviders?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ARM Test Provider\",\r\n
        \     \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\",\r\n
        \     \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\n      \"properties\":
        {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"peeringLocations\":
        [\r\n          \"Area51\",\r\n          \"Denver Test\",\r\n          \"EUAP
        Test\"\r\n        ],\r\n        \"bandwidthsOffered\": [\r\n          {\r\n
        \           \"offerName\": \"50Mbps\",\r\n            \"valueInMbps\": 50\r\n
        \         },\r\n          {\r\n            \"offerName\": \"100Mbps\",\r\n
        \           \"valueInMbps\": 100\r\n          },\r\n          {\r\n            \"offerName\":
        \"200Mbps\",\r\n            \"valueInMbps\": 200\r\n          },\r\n          {\r\n
        \           \"offerName\": \"500Mbps\",\r\n            \"valueInMbps\": 500\r\n
        \         },\r\n          {\r\n            \"offerName\": \"1Gbps\",\r\n            \"valueInMbps\":
        1000\r\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_express_route000001?api-version=2018-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001","name":"cli_test_express_route000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-12-17T04:23:05Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {"foo": "doo"}, "sku": {"name": "Premium_MeteredData",
      "tier": "Premium", "family": "MeteredData"}, "properties": {"serviceProviderProperties":
      {"serviceProviderName": "Ibiza Test Provider", "peeringLocation": "Area51",
      "bandwidthInMbps": 50}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\",\r\n
        \ \"etag\": \"W/\\\"28750e1c-2d0b-4304-9292-5a3aedbd60ed\\\"\",\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"doo\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"resourceGuid\": \"552cd151-521e-44d6-8ba9-80acd0a16ea7\",\r\n
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\":
        {\r\n      \"serviceProviderName\": \"Ibiza Test Provider\",\r\n      \"peeringLocation\":
        \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\":
        \"Disabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"serviceKey\":
        \"00000000-0000-0000-0000-000000000000\",\r\n    \"serviceProviderProvisioningState\":
        \"NotProvisioned\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\",\r\n
        \   \"tier\": \"Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c0d2bc0c-4b0c-4cf7-b913-bebd39839b24?api-version=2017-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c0d2bc0c-4b0c-4cf7-b913-bebd39839b24?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"circuit1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1\",\r\n
        \ \"etag\": \"W/\\\"7206e1b3-b2e1-4d3a-89c5-d4b59449b0aa\\\"\",\r\n  \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"foo\": \"doo\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"552cd151-521e-44d6-8ba9-80acd0a16ea7\",\r\n
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\":
        {\r\n      \"serviceProviderName\": \"Ibiza Test Provider\",\r\n      \"peeringLocation\":
        \"Area51\",\r\n      \"bandwidthInMbps\": 50\r\n    },\r\n    \"circuitProvisioningState\":
        \"Enabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"gatewayManagerEtag\":
        \"\",\r\n    \"serviceKey\": \"cc46ec5a-d4ff-4b0c-938e-444b520002f5\",\r\n
        \   \"serviceProviderProvisioningState\": \"NotProvisioned\"\r\n  },\r\n  \"sku\":
        {\r\n    \"name\": \"Premium_MeteredData\",\r\n    \"tier\": \"Premium\",\r\n
        \   \"family\": \"MeteredData\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/expressRouteCircuits?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"er3\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.Network/expressRouteCircuits/er3\",\r\n
        \     \"etag\": \"W/\\\"7921bba5-f2c4-49b2-a941-0a55182afcea\\\"\",\r\n      \"type\":
        \"Microsoft.Network/expressRouteCircuits\",\r\n      \"location\": \"westus\",\r\n
        \     \"properties\": {\r\n        \"provisioningState\": \"Failed\",\r\n
        \       \"resourceGuid\": \"3906963b-2830-47a2-a3f0-572f3359d04b\",\r\n        \"peerings\":
        [\r\n          {\r\n            \"name\": \"AzurePrivatePeering\",\r\n            \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.Network/expressRouteCircuits/er3/peerings/AzurePrivatePeering\",\r\n
        \           \"etag\": \"W/\\\"7921bba5-f2c4-49b2-a941-0a55182afcea\\\"\",\r\n
        \           \"properties\": {\r\n              \"provisioningState\": \"Deleting\",\r\n
        \             \"peeringType\": \"AzurePrivatePeering\",\r\n              \"azureASN\":
        12076,\r\n              \"peerASN\": 100,\r\n              \"primaryPeerAddressPrefix\":
        \"192.168.1.0/30\",\r\n              \"secondaryPeerAddressPrefix\": \"192.168.2.0/30\",\r\n
        \             \"primaryAzurePort\": \"A51-TEST-06GMR-CIS-1-PRI-C\",\r\n              \"secondaryAzurePort\":
        \"A51-TEST-06GMR-CIS-2-SEC-C\",\r\n              \"state\": \"Enabled\",\r\n
        \             \"vlanId\": 100,\r\n              \"gatewayManagerEtag\": \"\",\r\n
        \             \"lastModifiedBy\": \"Customer\",\r\n              \"microsoftPeeringConfig\":
        {\r\n                \"advertisedPublicPrefixes\": [],\r\n                \"advertisedCommunities\":
        [],\r\n                \"advertisedPublicPrefixesState\": \"NotConfigured\",\r\n
        \               \"customerASN\": 0,\r\n                \"legacyMode\": 0,\r\n
        \               \"routingRegistryName\": \"NONE\"\r\n              }\r\n            },\r\n
        \           \"type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\r\n
        \         }\r\n        ],\r\n        \"authorizations\": [],\r\n        \"serviceProviderProperties\":
        {\r\n          \"serviceProviderName\": \"Microsoft ER Test\",\r\n          \"peeringLocation\":
        \"Area51\",\r\n          \"bandwidthInMbps\": 50\r\n        },\r\n        \"circuitProvisioningState\":
        \"Enabled\",\r\n        \"a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"circuit1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsof[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/stats?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"primaryBytesIn\": 0,\r\n  \"primaryBytesOut\": 0,\r\n  \"secondaryBytesIn\":
        0,\r\n  \"secondaryBytesOut\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1",
      "location": "westus", "tags": {"foo": "doo", "test": "Test"}, "sku": {"name":
      "Premium_MeteredData", "tier": "Premium", "family": "MeteredData"}, "properties":
      {"allowClassicOperations": false, "circuitProvisioningState": "Enabled", "serviceProviderProvisioningState":
      "NotProvisioned", "authorizations": [], "peerings": [], "serviceKey": "cc46ec5a-d4ff-4b0c-938e-444b520002f5",
      "serviceProviderProperties": {"serviceProviderName": "Ibiza Test Provider",
      "peeringLocation": "Area51", "bandwidthInMbps": 50}, "provisioningS[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"auth1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1\",\r\n
        \ \"etag\": \"W/\\\"d8ec67dd-c8c5-423b-a74d-a0e93abc09df\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"authorizationKey\":
        \"19ebb6c5-d8ff-44b3-9ee8-64406e0f971e\",\r\n    \"authorizationUseStatus\":
        \"Available\"\r\n  },\r\n  \"type\": \"Microsoft.Network/expressRouteCircuits/authorizations\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0f054c1a-567d-45c5-980d-274a52c33574?api-version=2017-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"auth1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/authorizations/auth1\",\r\n
        \     \"etag\": \"W/\\\"5fd69d62-14e5-4feb-8f4b-1073fd7fd6a4\\\"\",\r\n      \"properties\":
        {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"authorizationKey\":
        \"19ebb6c5-d8ff-44b3-9ee8-64406e0f971e\",\r\n        \"authorizationUseStatus\":
        \"Available\"\r\n      },\r\n      \"type\": \"Microsoft.Network/expressRouteCircuits/authorizations\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"peeringType": "AzurePrivatePeering", "peerASN": 10001,
      "primaryPeerAddressPrefix": "102.0.0.0/30", "secondaryPeerAddressPrefix": "103.0.0.0/30",
      "vlanId": 101}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/AzurePrivateP[...]
[...]
- request:
    body: '{"properties": {"peeringType": "MicrosoftPeering", "peerASN": 10002, "primaryPeerAddressPrefix":
      "104.0.0.0/30", "secondaryPeerAddressPrefix": "105.0.0.0/30", "vlanId": 103,
      "microsoftPeeringConfig": {"advertisedPublicPrefixes": ["104.0.0.0/30"], "customerASN":
      10000, "routingRegistryName": "LEVEL3"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-00000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"AzurePrivatePeering\",\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/azureprivatepeering/arpTables/primary?api-version=2017-10-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/6d24a16e-52d4-4fbb-bbda-70327890f90c?api-version=2017-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/6d24a16e-52d4-4fbb-bbda-70327890f90c?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/6d24a16e-52d4-4fbb-bbda-70327890f90c?api-version=2017-10-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits/circuit1/peerings/azureprivatepeering/routeTables/primary?api-version=2017-10-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/40ad6245-2834-4cee-898e-68527b29bb68?api-version=2017-10-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_express_route000001/providers/Microsoft.Network/expressRouteCircuits?api-version=2017-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
