interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dns000001?api-version=2018-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001","name":"cli_test_dns000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-12-17T03:52:02Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/virtualNetworks/regvnet?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"regvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/virtualNetworks/regvnet\",\r\n
        \ \"etag\": \"W/\\\"e0a442e0-9ce9-462c-9912-10004fb0e5e4\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"c42530b8-4ef8-48e4-80d7-caf68493f9d3\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7fe9cf3e-b546-46c3-96d7-4adf857ad72b?api-version=2017-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7fe9cf3e-b546-46c3-96d7-4adf857ad72b?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/virtualNetworks/resvnet?api-version=2017-10-01
  response:
    body:
      string: "{\r\n  \"name\": \"resvnet\",\r\n  \"i[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/dnszones?api-version=2016-04-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone2_import64bda7zdgcyv22isxb3t62flln7sun4n7f7cgweetahiwtzxgecsjuv\/providers\/Microsoft.Network\/dnszones\/zone2.com","name":"zone2.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-1c9c-5bf227d4d601","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-04.azure-dns.com.","ns2-04.azure-dns.net.","ns3-04.azure-dns.org.","ns4-04.azure-dns.info."],"numberOfRecordSets":23}},{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_dns_zone3_importzmpk3e3kuwzndwbsh7smkxgrc33urst3uu3bankkzj2gzkrud2lo4qb\/providers\/Microsoft.Network\/dnszones\/zone3.com","name":"zone3.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-e450-e4e127d4d601","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-06.azure-dns.com.","ns2-06.azure-dns.net.","ns3-06.azur[...]
- request:
    body: '{"tags": {"foo": "doo"}, "location": "global"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com","name":"myprivatezone.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-1da4-4e0e28d4d601","location":"global","tags":{"foo":"doo"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-06.azure-dns.com.","ns2-06.azure-dns.net.","ns3-06.azure-dns.org.","ns4-06.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 00000002-0000-0000-1da4-4e0e28d4d601
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones?api-version=2016-04-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com","name":"myprivatezone.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-1da4-4e0e28d4d601","location":"global","tags":{"foo":"doo"},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-06.azure-dns.com.","ns2-06.azure-dns.net.","ns3-06.azure-dns.org.","ns4-06.azure-dns.info."],"numberOfRecordSets":2}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59999'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/A/myrsa?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/A\/myrsa","name":"myrsa","type":"Microsoft.Network\/dnszones\/A","etag":"791a506d-0989-416a-8f86-1cc2ba49833d","properties":{"fqdn":"myrsa.myprivatezone.com.","TTL":3600,"ARecords":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 791a506d-0989-416a-8f86-1cc2ba49833d
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnszones/myprivatezone.com/A/myrsa",
      "name": "myrsa", "type": "Microsoft.Network/dnszones/A", "etag": "791a506d-0989-416a-8f86-1cc2ba49833d",
      "properties": {"TTL": 3600, "ARecords": [{"ipv4Address": "10.0.0.10"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/A/myrsa?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/A\/myrsa","name":"myrsa","type":"Microsoft.Network\/dnszones\/A","etag":"e2b57b5d-cdfe-4412-8e1a-0ddd91f62444","properties":{"fqdn":"myrsa.myprivatezone.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.0.0.10"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - e2b57b5d-cdfe-4412-8e1a-0ddd91f62444
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/A/myrsaalt?api-version=2016-04-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsaalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/AAAA/myrsaaaa?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/AAAA\/myrsaaaa","name":"myrsaaaa","type":"Microsoft.Network\/dnszones\/AAAA","etag":"062c9178-7368-4a11-a09f-5c1950356deb","properties":{"fqdn":"myrsaaaa.myprivatezone.com.","TTL":3600,"AAAARecords":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 062c9178-7368-4a11-a09f-5c1950356deb
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnszones/myprivatezone.com/AAAA/myrsaaaa",
      "name": "myrsaaaa", "type": "Microsoft.Network/dnszones/AAAA", "etag": "062c9178-7368-4a11-a09f-5c1950356deb",
      "properties": {"TTL": 3600, "AAAARecords": [{"ipv6Address": "2001:db8:0:1:1:1:1:1"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/AAAA/myrsaaaa?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/AAAA\/myrsaaaa","name":"myrsaaaa","type":"Microsoft.Network\/dnszones\/AAAA","etag":"e1097bc9-b52a-435c-ad6a-1cfc05b48986","properties":{"fqdn":"myrsaaaa.myprivatezone.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:db8:0:1:1:1:1:1"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - e1097bc9-b52a-435c-ad6a-1cfc05b48986
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/AAAA/myrsaaaaalt?api-version=2016-04-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsaaaaalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/CNAME/myrscname?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/CNAME\/myrscname","name":"myrscname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"79dc14cd-4a71-4963-9924-dd4da59671fa","properties":{"fqdn":"myrscname.myprivatezone.com.","TTL":3600}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 79dc14cd-4a71-4963-9924-dd4da59671fa
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnszones/myprivatezone.com/CNAME/myrscname",
      "name": "myrscname", "type": "Microsoft.Network/dnszones/CNAME", "etag": "79dc14cd-4a71-4963-9924-dd4da59671fa",
      "properties": {"TTL": 3600, "CNAMERecord": {"cname": "mycname"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/CNAME/myrscname?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/CNAME\/myrscname","name":"myrscname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"a6639818-b9ca-45c2-bae1-933a4c7074ad","properties":{"fqdn":"myrscname.myprivatezone.com.","TTL":3600,"CNAMERecord":{"cname":"mycname"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - a6639818-b9ca-45c2-bae1-933a4c7074ad
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/CNAME/myrscnamealt?api-version=2016-04-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrscnamealt''
        does not exist in resource group ''cli_test_dns000001'' of subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/MX/myrsmx?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/MX\/myrsmx","name":"myrsmx","type":"Microsoft.Network\/dnszones\/MX","etag":"b237884f-09a3-4e41-bb86-93f3bbf38bac","properties":{"fqdn":"myrsmx.myprivatezone.com.","TTL":3600,"MXRecords":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - b237884f-09a3-4e41-bb86-93f3bbf38bac
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnszones/myprivatezone.com/MX/myrsmx",
      "name": "myrsmx", "type": "Microsoft.Network/dnszones/MX", "etag": "b237884f-09a3-4e41-bb86-93f3bbf38bac",
      "properties": {"TTL": 3600, "MXRecords": [{"preference": 13, "exchange": "12"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/MX/myrsmx?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/MX\/myrsmx","name":"myrsmx","type":"Microsoft.Network\/dnszones\/MX","etag":"fee60611-1233-4b52-a41a-75f697c7dc1f","properties":{"fqdn":"myrsmx.myprivatezone.com.","TTL":3600,"MXRecords":[{"exchange":"12","preference":13}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - fee60611-1233-4b52-a41a-75f697c7dc1f
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/MX/myrsmxalt?api-version=2016-04-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsmxalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/PTR/myrsptr?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/PTR\/myrsptr","name":"myrsptr","type":"Microsoft.Network\/dnszones\/PTR","etag":"7a4caac3-202a-4b56-a757-2097be207465","properties":{"fqdn":"myrsptr.myprivatezone.com.","TTL":3600,"PTRRecords":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 7a4caac3-202a-4b56-a757-2097be207465
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnszones/myprivatezone.com/PTR/myrsptr",
      "name": "myrsptr", "type": "Microsoft.Network/dnszones/PTR", "etag": "7a4caac3-202a-4b56-a757-2097be207465",
      "properties": {"TTL": 3600, "PTRRecords": [{"ptrdname": "foobar.com"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/PTR/myrsptr?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/PTR\/myrsptr","name":"myrsptr","type":"Microsoft.Network\/dnszones\/PTR","etag":"f335e628-02e6-4d3f-a9e5-df83ef8521f6","properties":{"fqdn":"myrsptr.myprivatezone.com.","TTL":3600,"PTRRecords":[{"ptrdname":"foobar.com"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - f335e628-02e6-4d3f-a9e5-df83ef8521f6
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/PTR/myrsptralt?api-version=2016-04-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrsptralt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/SRV/myrssrv?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/SRV\/myrssrv","name":"myrssrv","type":"Microsoft.Network\/dnszones\/SRV","etag":"628779ea-25ed-404b-9598-dd7321dc39db","properties":{"fqdn":"myrssrv.myprivatezone.com.","TTL":3600,"SRVRecords":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 628779ea-25ed-404b-9598-dd7321dc39db
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnszones/myprivatezone.com/SRV/myrssrv",
      "name": "myrssrv", "type": "Microsoft.Network/dnszones/SRV", "etag": "628779ea-25ed-404b-9598-dd7321dc39db",
      "properties": {"TTL": 3600, "SRVRecords": [{"priority": 1, "weight": 50, "port":
      1234, "target": "target.com"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/SRV/myrssrv?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/SRV\/myrssrv","name":"myrssrv","type":"Microsoft.Network\/dnszones\/SRV","etag":"395b3688-b073-46a9-bb1e-bfaf19e14895","properties":{"fqdn":"myrssrv.myprivatezone.com.","TTL":3600,"SRVRecords":[{"port":1234,"priority":1,"target":"target.com","weight":50}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 395b3688-b073-46a9-bb1e-bfaf19e14895
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/SRV/myrssrvalt?api-version=2016-04-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrssrvalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"TTL": 3600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/TXT/myrstxt?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/TXT\/myrstxt","name":"myrstxt","type":"Microsoft.Network\/dnszones\/TXT","etag":"1df4c2de-0d2b-4e59-ba2a-3c4a47e56e9c","properties":{"fqdn":"myrstxt.myprivatezone.com.","TTL":3600,"TXTRecords":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 1df4c2de-0d2b-4e59-ba2a-3c4a47e56e9c
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/TXT/myrstxtalt?api-version=2016-04-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''myrstxtalt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '497'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/SOA/@?api-version=2016-04-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_test_dns000001\/providers\/Microsoft.Network\/dnszones\/myprivatezone.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"322aac5b-67dd-4c2f-936e-45c9c10b0fd0","properties":{"fqdn":"myprivatezone.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-06.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 322aac5b-67dd-4c2f-936e-45c9c10b0fd0
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/TXT/longtxt?api-version=2016-04-01
  response:
    body:
      string: '{"code":"NotFound","message":"The resource record ''longtxt'' does
        not exist in resource group ''cli_test_dns000001'' of subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns000001/providers/Microsoft.Network/dnsZones/myprivatezone.com/recordsets?api-version=2016-04-01
  response:
    body:
[...]
