interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"date": "2018-08-20T22:07:37Z",
      "product": "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001?api-version=2018-02-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001","name":"cli_test_network_lb_zone000001","location":"westus","tags":{"date":"2018-08-20T22:07:37Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2018-02-01&$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27pubip1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {},
      "template": {"parameters": {}, "outputs": {"loadBalancer": {"type": "object",
      "value": "[reference(''lb1'')]"}}, "variables": {}, "contentVersion": "1.0.0.0",
      "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"sku": {"name": "Basic"}, "name": "pubip1", "tags": {}, "apiVersion":
      "2017-10-01", "zones": ["2"], "location": "eastus2", "dependsOn": [], "type":
      "Microsoft.Network/publicIPAddresses", "properties": {"publicIPAllocationMethod":
      "Dynamic"}}, {"sku": {"name": "Basic"}, "name": "lb1", "tags": {}, "apiVersion":
      "2017-10-01", "location": "eastus2", "dependsOn": ["Microsoft.Network/publicIpAddresses/pubip1"],
      "type": "Microsoft.Network/loadBalancers", "properties": {"frontendIPConfigurations":
      [{"name": "LoadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1"}}}],
      "backendAddressPools": [{"name": "lb1bepool"}]}}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-02-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/lb_deploy_KSUeyE1Qoa03X5t1753iNsWLXtm67Izf","name":"lb_deploy_KSUeyE1Qoa03X5t1753iNsWLXtm67Izf","properties":{"templateHash":"1190464438890819241","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-08-20T22:07:39.5596288Z","duration":"PT0.3539034S","correlationId":"c619a76b-718c-44c1-933a-25e39fbe3f0f","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["eastus2"]},{"resourceType":"loadBalancers","locations":["eastus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"pubip1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/lb_deploy_KSUeyE1Qoa03X5t1753iNsWLXtm67Izf/operationStatuses/08586668040262718990?api-version=2018-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586668040262718990?api-version=2018-02-01
  response:
    body: {string: !!python/unicode '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2017-10-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1\",\r\n
        \ \"etag\": \"W/\\\"f4bbfeea-98e8-4f58-a894-ef456d217282\\\"\",\r\n  \"type\":
        \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"9f8f665f-66db-4ba2-a4f4-e5d6a4695b17\",\r\n    \"frontendIPConfigurations\":
        [\r\n      {\r\n        \"name\": \"LoadBalancerFrontEnd\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\",\r\n
        \       \"etag\": \"W/\\\"f4bbfeea-98e8-4f58-a894-ef456d217282\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1\"\r\n
        \         }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\":
        [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\",\r\n
        \       \"etag\": \"W/\\\"f4bbfeea-98e8-4f58-a894-ef456d217282\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\r\n
        \       },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n
        \     }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n
        \   \"inboundNatRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\":
        {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f4bbfeea-98e8-4f58-a894-ef456d217282"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1?api-version=2017-10-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"pubip1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/publicIPAddresses/pubip1\",\r\n
        \ \"etag\": \"W/\\\"9a082d35-ead0-4d27-80b3-0105b6fda146\\\"\",\r\n  \"location\":
        \"eastus2\",\r\n  \"tags\": {},\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"0e10a259-e701-4f44-881d-2cebb1bd9bb0\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"9a082d35-ead0-4d27-80b3-0105b6fda146"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2018-02-01&$filter=resourceGroup%20eq%20%27cli_test_network_lb_zone000001%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {},
      "template": {"parameters": {}, "outputs": {"loadBalancer": {"type": "object",
      "value": "[reference(''lb2'')]"}}, "variables": {}, "contentVersion": "1.0.0.0",
      "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"name": "vnet1", "tags": {}, "apiVersion": "2015-06-15", "location":
      "eastus2", "dependsOn": [], "type": "Microsoft.Network/virtualNetworks", "properties":
      {"subnets": [{"name": "subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}],
      "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}}, {"sku": {"name": "Basic"},
      "name": "lb2", "tags": {}, "apiVersion": "2017-10-01", "location": "eastus2",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vnet1"], "type": "Microsoft.Network/loadBalancers",
      "properties": {"frontendIPConfigurations": [{"zones": ["2"], "name": "LoadBalancerFrontEnd",
      "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_lb_zone000001/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "privateIPAllocationMethod": "Dynamic", "privateIPAddress": null}}], "backendAddressPools":
      [{"name": "lb2bepool"}]}}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-02-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/f06ce8f7-9249-44f9-aa49-a15a674e4d7c?api-version=2017-10-01
  response:
    body: {string: !!python/unicode "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_lb_zone000001?api-version=2018-02-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGTkVUV09SSzo1RkxCOjVGWk9ORUM1RFVXUUVKUUdITko2TXxGNkUxRDc0MjI2NkU2OTVGLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-02-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
