interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com","name":"myzone.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-0081-5d364389d201","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":5000,"nameServers":["ns1-01.azure-dns.com.","ns2-01.azure-dns.net.","ns3-01.azure-dns.org.","ns4-01.azure-dns.info."],"numberOfRecordSets":2}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [00000002-0000-0000-0081-5d364389d201]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "myname.zone1.com", "type": "ptr", "properties": {"PTRRecords":
      [{"ptrdname": "myptrdname"}], "TTL": 3600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myname.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/PTR\/myname.zone1.com","name":"myname.zone1.com","type":"Microsoft.Network\/dnszones\/PTR","etag":"02d14445-7e0c-4452-a87a-51be6eeb0fad","properties":{"fqdn":"myname.zone1.com.myzone.com.","TTL":3600,"PTRRecords":[{"ptrdname":"myptrdname"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [02d14445-7e0c-4452-a87a-51be6eeb0fad]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "myptr.zone1.com", "type": "ptr", "properties": {"PTRRecords":
      [{"ptrdname": "contoso.com"}], "TTL": 3600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myptr.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/PTR\/myptr.zone1.com","name":"myptr.zone1.com","type":"Microsoft.Network\/dnszones\/PTR","etag":"0c1f372d-7d9b-4d20-b545-b2dd8da0c116","properties":{"fqdn":"myptr.zone1.com.myzone.com.","TTL":3600,"PTRRecords":[{"ptrdname":"contoso.com"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [0c1f372d-7d9b-4d20-b545-b2dd8da0c116]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "myaaaa.zone1.com", "type": "aaaa", "properties": {"TTL": 3600,
      "AAAARecords": [{"ipv6Address": "2001:4898:e0:99:6dc4:6329:1c99:4e69"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/AAAA/myaaaa.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/AAAA\/myaaaa.zone1.com","name":"myaaaa.zone1.com","type":"Microsoft.Network\/dnszones\/AAAA","etag":"a1be04f5-3a80-4fd6-b417-7cfd2499a7e0","properties":{"fqdn":"myaaaa.zone1.com.myzone.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:4898:e0:99:6dc4:6329:1c99:4e69"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [a1be04f5-3a80-4fd6-b417-7cfd2499a7e0]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "mytxtrs.zone1.com", "type": "txt", "properties": {"TTL": 3600,
      "TXTRecords": [{"value": ["hi"]}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/TXT/mytxtrs.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/mytxtrs.zone1.com","name":"mytxtrs.zone1.com","type":"Microsoft.Network\/dnszones\/TXT","etag":"05a027dd-a800-4166-a13e-cefb7c2e95d6","properties":{"fqdn":"mytxtrs.zone1.com.myzone.com.","TTL":3600,"TXTRecords":[{"value":["hi"]}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [05a027dd-a800-4166-a13e-cefb7c2e95d6]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/SOA/@?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"29d8f182-bebd-41f4-90ca-81aecda73179","properties":{"fqdn":"myzone.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-01.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [29d8f182-bebd-41f4-90ca-81aecda73179]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/NS/@?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/NS\/@","name":"@","type":"Microsoft.Network\/dnszones\/NS","etag":"b0ae4cff-3e07-4d76-94bf-d2b54549d9b9","properties":{"fqdn":"myzone.com.","TTL":172800,"NSRecords":[{"nsdname":"ns1-01.azure-dns.com."},{"nsdname":"ns2-01.azure-dns.net."},{"nsdname":"ns3-01.azure-dns.org."},{"nsdname":"ns4-01.azure-dns.info."}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [b0ae4cff-3e07-4d76-94bf-d2b54549d9b9]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "myns.zone1.com", "type": "ns", "properties": {"TTL": 3600, "NSRecords":
      [{"nsdname": "ns.contoso.com."}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/NS/myns.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/NS\/myns.zone1.com","name":"myns.zone1.com","type":"Microsoft.Network\/dnszones\/NS","etag":"ac17eaab-312b-49ec-bd6d-5f36fb34ba8b","properties":{"fqdn":"myns.zone1.com.myzone.com.","TTL":3600,"NSRecords":[{"nsdname":"ns.contoso.com."}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [ac17eaab-312b-49ec-bd6d-5f36fb34ba8b]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "mysrv.zone1.com", "type": "srv", "properties": {"SRVRecords":
      [{"weight": 2, "priority": 1, "target": "target.contoso.com.", "port": 1234}],
      "TTL": 3600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/SRV/mysrv.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SRV\/mysrv.zone1.com","name":"mysrv.zone1.com","type":"Microsoft.Network\/dnszones\/SRV","etag":"d32f0f1d-110b-419d-bf62-b84dce165af1","properties":{"fqdn":"mysrv.zone1.com.myzone.com.","TTL":3600,"SRVRecords":[{"port":1234,"priority":1,"target":"target.contoso.com.","weight":2}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [d32f0f1d-110b-419d-bf62-b84dce165af1]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "mycname.zone1.com", "type": "cname", "properties": {"TTL": 3600,
      "CNAMERecord": {"cname": "contoso.com."}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/CNAME/mycname.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/CNAME\/mycname.zone1.com","name":"mycname.zone1.com","type":"Microsoft.Network\/dnszones\/CNAME","etag":"cd524f53-fb7c-4c2c-baae-72ef1ccdec7f","properties":{"fqdn":"mycname.zone1.com.myzone.com.","TTL":3600,"CNAMERecord":{"cname":"contoso.com."}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [cd524f53-fb7c-4c2c-baae-72ef1ccdec7f]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "mya.zone1.com", "type": "a", "properties": {"ARecords": [{"ipv4Address":
      "10.0.1.0"}, {"ipv4Address": "10.0.1.1"}], "TTL": 0}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/A/mya.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/A\/mya.zone1.com","name":"mya.zone1.com","type":"Microsoft.Network\/dnszones\/A","etag":"9bebf4dc-5e0c-47cc-89f7-72d2a6087ab0","properties":{"fqdn":"mya.zone1.com.myzone.com.","TTL":0,"ARecords":[{"ipv4Address":"10.0.1.0"},{"ipv4Address":"10.0.1.1"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [9bebf4dc-5e0c-47cc-89f7-72d2a6087ab0]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "manuala.zone1.com", "type": "a", "properties": {"ARecords": [{"ipv4Address":
      "10.0.0.10"}], "TTL": 3600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/A/manuala.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/A\/manuala.zone1.com","name":"manuala.zone1.com","type":"Microsoft.Network\/dnszones\/A","etag":"d7f80fae-9815-4da5-b51f-39370cd74cab","properties":{"fqdn":"manuala.zone1.com.myzone.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.0.0.10"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [d7f80fae-9815-4da5-b51f-39370cd74cab]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11997']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "mymx.zone1.com", "type": "mx", "properties": {"TTL": 3600, "MXRecords":
      [{"exchange": "mail.contoso.com.", "preference": 1}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/MX/mymx.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/MX\/mymx.zone1.com","name":"mymx.zone1.com","type":"Microsoft.Network\/dnszones\/MX","etag":"c94ace19-c231-49c3-9974-76ac5ee95990","properties":{"fqdn":"mymx.zone1.com.myzone.com.","TTL":3600,"MXRecords":[{"exchange":"mail.contoso.com.","preference":1}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [c94ace19-c231-49c3-9974-76ac5ee95990]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "myname2.zone1.com", "type": "txt", "properties": {"TTL": 3600,
      "TXTRecords": [{"value": ["manualtxt"]}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/TXT/myname2.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/myname2.zone1.com","name":"myname2.zone1.com","type":"Microsoft.Network\/dnszones\/TXT","etag":"95ed083d-3b92-4d85-811a-9eee0d95868a","properties":{"fqdn":"myname2.zone1.com.myzone.com.","TTL":3600,"TXTRecords":[{"value":["manualtxt"]}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [95ed083d-3b92-4d85-811a-9eee0d95868a]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "mytxt2.zone1.com", "type": "txt", "properties": {"TTL": 7200,
      "TXTRecords": [{"value": ["abc def"]}, {"value": ["foo bar"]}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/TXT/mytxt2.zone1.com?api-version=2016-04-01
  response:
    body: {string: '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/mytxt2.zone1.com","name":"mytxt2.zone1.com","type":"Microsoft.Network\/dnszones\/TXT","etag":"99926c0c-895f-4285-b09d-57716ae69c07","properties":{"fqdn":"mytxt2.zone1.com.myzone.com.","TTL":7200,"TXTRecords":[{"value":["abc
        def"]},{"value":["foo bar"]}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [99926c0c-895f-4285-b09d-57716ae69c07]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_dns_zone_import_export/providers/Microsoft.Network/dnsZones/myzone.com/recordsets?api-version=2016-04-01
  response:
    body: {string: '{"value":[{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_dns_zone_import_export\/providers\/Microsoft.Network\/[...]
