interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27cli_test_load_balancer%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"dnsNameType": {"value": "none"}, "publicIpAddressType":
      {"value": "new"}, "subnetType": {"value": "none"}, "loadBalancerName": {"value":
      "lb1"}, "publicIpAddressAllocation": {"value": "dynamic"}, "vnetAddressPrefix":
      {"value": "10.0.0.0/16"}, "privateIpAddressAllocation": {"value": "dynamic"},
      "_artifactsLocation": {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},
      "frontendIpName": {"value": "LoadBalancerFrontEnd"}, "subnetAddressPrefix":
      {"value": "10.0.0.0/24"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/azurecli1481670746.625214","name":"azurecli1481670746.625214","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},"backendPoolName":{"type":"String","value":"lb1bepool"},"dnsNameType":{"type":"String","value":"none"},"frontendIpName":{"type":"String","value":"LoadBalancerFrontEnd"},"loadBalancerName":{"type":"String","value":"lb1"},"location":{"type":"String","value":"westus"},"privateIpAddress":{"type":"String","value":""},"privateIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddress":{"type":"String","value":"PublicIPlb1"},"publicIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddressType":{"type":"String","value":"new"},"publicIpDnsName":{"type":"String","value":""},"subnet":{"type":"String","value":""},"subnetAddressPrefix":{"type":"String","value":"10.0.0.0/24"},"subnetType":{"type":"String","value":"none"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":""},"vnetAddressPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2016-12-13T23:12:28.7973446Z","duration":"PT0.6139524S","correlationId":"9e1f1f45-c574-498d-af46-1ed142eaec89","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/IPlb1","resourceType":"Microsoft.Resources/deployments","resourceName":"IPlb1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/Subnetlb1","resourceType":"Microsoft.Resources/deployments","resourceName":"Subnetlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/azurecli1481670746.625214/operationStatuses/08587199361372943176?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587199361372943176?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deploym[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/PublicIPlb2?api-version=2016-06-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"PublicIPlb2\",\r\n  \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/PublicIPlb2\"\
        ,\r\n  \"etag\": \"W/\\\"27726b24-074e-4aec-9e9d-1e44eed530f7\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"d7966cb7-5b55-4dde-b58c-a43f0287200e\"\
        ,\r\n    \"ipAddress\": \"40.112.145.128\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb2/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        \r\n    }\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"27726b24-074e-4aec-9e9d-1e44eed530f7"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateVnet_2016-12-9/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"subnetName": {"value": "default"}, "virtualNetworkPrefix":
      {"value": "10.0.0.0/16"}, "virtualNetworkName": {"value": "mytestvnet"}, "createSubnet":
      {"value": true}, "subnetPrefix": {"value": "10.0.0.0/24"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/azurecli1481670816.478490","name":"azurecli1481670816.478490","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateVnet_2016-12-9/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"createSubnet":{"type":"Bool","value":true},"dnsServers":{"type":"Array","value":[]},"location":{"type":"String","value":"westus"},"subnetName":{"type":"String","value":"default"},"subnetPrefix":{"type":"String","value":"10.0.0.0/24"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":"mytestvnet"},"virtualNetworkPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2016-12-13T23:13:38.0938305Z","duration":"PT0.6832154S","correlationId":"f60bf92a-892a-4dfd-8b46-e78d4030fc3c","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/azurecli1481670816.478490/operationStatuses/08587199360680670420?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/azurecli1481670816.478490","name":"azurecli1481670816.478490","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateVnet_2016-12-9/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"createSubnet":{"type":"Bool","value":true},"dnsServers":{"type":"Array","value":[]},"location":{"type":"String","value":"westus"},"subnetName":{"type":"String","value":"default"},"subnetPrefix":{"type":"String","value":"10.0.0.0/24"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":"mytestvnet"},"virtualNetworkPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2016-12-13T23:13:48.6129632Z","duration":"PT11.2023481S","correlationId":"f60bf92a-892a-4dfd-8b46-e78d4030fc3c","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]}]}],"dependencies":[],"outputs":{"newVNet":{"type":"Object","value":{"provisioningState":"Succeeded","resourceGuid":"d1775a93-2308-429a-bd60-c55f55e0cba3","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"dhcpOptions":{"dnsServers":[]},"subnets":[{"name":"default","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/virtualNetworks/mytestvnet/subnets/default","etag":"W/\"8986e109-5f49-4b77-b452-3de3490a0a7d\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24"}}]}}},"outputResources":[{"id":"Microsoft.Network/virtualNetworks/mytestvnet"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27cli_test_load_balancer%27%20and%20name%20eq%20%27mytestvnet%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/virtualNetworks/mytestvnet","name":"mytestvnet","type":"Microsoft.Network/virtualNetworks","location":"westus","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"allocationMethod": {"value": "dynamic"},
      "version": {"value": "ipv4"}, "name": {"value": "publicip4"}, "_artifactsLocation":
      {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14"},
      "dnsNameType": {"value": "none"}, "idleTimeout": {"value": 4}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/azurecli1481670883.4286321","name":"azurecli1481670883.4286321","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14"},"allocationMethod":{"type":"String","value":"dynamic"},"dnsName":{"type":"String","value":""},"dnsNameType":{"type":"String","value":"none"},"idleTimeout":{"type":"Int","value":4},"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"publicip4"},"reverseFqdn":{"type":"String","value":""},"tags":{"type":"Object","value":{}},"version":{"type":"String","value":"ipv4"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2016-12-13T23:14:47.1670016Z","duration":"PT1.3377825S","correlationId":"36d4b110-d393-44bc-bbba-5afb0f83b737","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_load_balancer/providers/Microsoft.Resources/deployments/azurecli1481670883.4286321/operationStatuses/08587199359996484377?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27cli_test_load_balancer%27%20and%20name%20eq%20%27publicip4%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/publicip4","name":"publicip4","type":"Microsoft.Network/publicIPAddresses","location":"westus","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/loadBalancers?api-version=2016-06-01
  response:
    body: {string: !!python/unicode "{\r\n  \"value\": [\r\n    {\r\n      \"name\"\
        : \"lb1\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1\"\
        ,\r\n      \"etag\": \"W/\\\"df575bfc-54dd-407b-9352-c5864a6abece\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/loadBalancers\",\r\n      \"location\"\
        : \"westus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n      \
        \  \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"2e34bd33-f0c3-4492-af75-18c928b20a4a\"\
        ,\r\n        \"frontendIPConfigurations\": [\r\n          {\r\n          \
        \  \"name\": \"LoadBalancerFrontEnd\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n            \"etag\": \"W/\\\"df575bfc-54dd-407b-9352-c5864a6abece\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"privateIPAllocationMethod\": \"Dynamic\"\
        ,\r\n              \"publicIPAddress\": {\r\n                \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1\"\
        \r\n              }\r\n            }\r\n          }\r\n        ],\r\n    \
        \    \"backendAddressPools\": [\r\n          {\r\n            \"name\": \"\
        lb1bepool\",\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"\
        ,\r\n            \"etag\": \"W/\\\"df575bfc-54dd-407b-9352-c5864a6abece\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\"\r\n            }\r\n          }\r\n        ],\r\n        \"\
        loadBalancingRules\": [],\r\n        \"probes\": [],\r\n        \"inboundNatRules\"\
        : [],\r\n        \"outboundNatRules\": [],\r\n        \"inboundNatPools\"\
        : []\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"lb2\",\r\n      \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb2\"\
        ,\r\n      \"etag\": \"W/\\\"2b5332e0-bf7b-4283-8739-9e1672b6f518\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/loadBalancers\",\r\n      \"location\"\
        : \"westus\",\r\n      \"tags\": {},\r\n      [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers?api-version=2016-06-01
  response:
    body: {string: !!python/unicode "{\r\n  \"value\": [\r\n    {\r\n      \"name\"\
        : \"lb1\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGrou[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1?api-version=2016-06-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Micro[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer/providers/Microsoft.Network/loadBalancers/lb1?api-version=2016-06-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/0c2ae051-342c-4aa9-a19c-9293ddfebf62?api-version=2016-06-01']
      location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/0c2ae051-342c-4aa9-a19c-9293ddfebf62?api-version=2016-06-01']
      retry-after: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0c2ae051-342c-4aa9-a19c-9293ddfebf62?api-version=2016-06-01
  response:
    body: {string: !!python/unicode "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
