interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27cli_ag_no_wait%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateAppGateway_2016-11-16/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"subnetType": {"value": "new"}, "privateIpAddressAllocation":
      {"value": "dynamic"}, "httpSettingsProtocol": {"value": "http"}, "capacity":
      {"value": 2}, "frontendType": {"value": "privateIp"}, "routingRuleType": {"value":
      "Basic"}, "skuTier": {"value": "Standard"}, "httpSettingsPort": {"value": 80},
      "publicIpAddressType": {"value": "none"}, "httpSettingsCookieBasedAffinity":
      {"value": "disabled"}, "frontendPort": {"value": 80}, "subnet": {"value": "default"},
      "skuName": {"value": "Standard_Medium"}, "applicationGatewayName": {"value":
      "ag1"}, "servers": {"value": []}, "subnetAddressPrefix": {"value": "10.0.0.0/24"},
      "_artifactsLocation": {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreateAppGateway_2016-11-16"},
      "httpListenerProtocol": {"value": "http"}, "publicIpAddressAllocation": {"value":
      "dynamic"}, "vnetAddressPrefix": {"value": "10.0.0.0/16"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_ag_no_wait/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Resources/deployments/azurecli1480398395.007497339691","name":"azurecli1480398395.007497339691","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateAppGateway_2016-11-16/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreateAppGateway_2016-11-16"},"applicationGatewayName":{"type":"String","value":"ag1"},"capacity":{"type":"Int","value":2},"certData":{"type":"String","value":""},"certPassword":{"type":"SecureString"},"frontendPort":{"type":"Int","value":80},"frontendType":{"type":"String","value":"privateIp"},"httpListenerProtocol":{"type":"String","value":"http"},"httpSettingsCookieBasedAffinity":{"type":"String","value":"disabled"},"httpSettingsPort":{"type":"Int","value":80},"httpSettingsProtocol":{"type":"String","value":"http"},"location":{"type":"String","value":"westus"},"privateIpAddress":{"type":"String","value":""},"privateIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddress":{"type":"String","value":"PublicIPag1"},"publicIpAddressType":{"type":"String","value":"none"},"publicIpAddressAllocation":{"type":"String","value":"dynamic"},"routingRuleType":{"type":"String","value":"Basic"},"servers":{"type":"Array","value":[]},"skuName":{"type":"String","value":"Standard_Medium"},"skuTier":{"type":"String","value":"Standard"},"subnet":{"type":"String","value":"default"},"subnetAddressPrefix":{"type":"String","value":"10.0.0.0/24"},"subnetType":{"type":"String","value":"new"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":"ag1Vnet"},"vnetAddressPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2016-11-29T05:46:37.9048015Z","duration":"PT0.8906627S","correlationId":"f4addbdc-3e96-4778-a16a-bbd7e9530bc5","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"applicationGateways","locations":["westus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Resources/deployments/VNETag1","resourceType":"Microsoft.Resources/deployments","resourceName":"VNETag1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Resources/deployments/PublicIpag1","resourceType":"Microsoft.Resources/deployments","resourceName":"PublicIpag1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_ag_no_wait/providers/Microsoft.Resources/deployments/azurecli1480398395.007497339691/operationStatuses/08587212084884635906?api-version=2015-11-01']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1?api-version=2016-06-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag1''
        under resource group ''cli_ag_no_wait'' was not found."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1?api-version=2016-06-01
  response:
    body: {string: "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1\"\
        ,\r\n  \"etag\": \"W/\\\"d945116e-cc94-4253-bf6d-2be348bf408c\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\":\
        \ \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"1ceeb3eb-4d8a-4f84-b89c-bd8dc44a4f9d\"\
        ,\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\"\
        : \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayIPConfigurations\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayIpConfig\",\r\n        \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayIpConfig\"\
        ,\r\n        \"etag\": \"W/\\\"d945116e-cc94-4253-bf6d-2be348bf408c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\"\
        : [],\r\n    \"authenticationCertificates\": [],\r\n    \"frontendIPConfigurations\"\
        : [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n        \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\
        ,\r\n        \"etag\": \"W/\\\"d945116e-cc94-4253-bf6d-2be348bf408c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default\"\
        \r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n  \
        \            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"frontendPorts\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendPort\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort\"\
        ,\r\n        \"etag\": \"W/\\\"d945116e-cc94-4253-bf6d-2be348bf408c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n       \
        \     {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"appGatewayBackendPool\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\"\
        ,\r\n        \"etag\": \"W/\\\"d945116e-cc94-4253-bf6d-2be348bf408c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"backendAddresses\": [],\r\n          \"requestRoutingRules\"\
        : [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"\
        appGatewayBackendHttpSettings\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        ,\r\n        \"etag\": \"W/\\\"d945116e-cc94-4253-bf6d-2be348bf408c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n    \
        \      \"cookieBasedAffinity\": \"Disabled\",\r\n          \"requestTimeout\"\
        : 30,\r\n          \"requestRoutingRules\": [\r\n            {\r\n       \
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"httpListeners\": [\r\n      {\r\n        \"name\": \"appGatewayHttpListener\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        ,\r\n        \"etag\": \"W/\\\"d945116e-cc94-4253-bf6d-2be348bf408c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\"\
        \r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort\"\
        \r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"requireServerNameIndication\"\
        : false,\r\n          \"requestRoutingRules\": [\r\n            {\r\n    \
        \          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        \r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n   \
        \ \"urlPathMaps\": [],\r\n    \"requestRoutingRules\": [\r\n      {\r\n  \
        \      \"name\": \"rule1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1\"\
        ,\r\n        \"etag\": \"W/\\\"d945116e-cc94-4253-bf6d-2be348bf408c\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"ruleType\": \"Basic\",\r\n          \"httpListener\": {\r\
        \n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener\"\
        \r\n          },\r\n          \"backendAddressPool\": {\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool\"\
        \r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"probes\": []\r\n\
        \  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"d945116e-cc94-4253-bf6d-2be348bf408c"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag2?api-version=2016-06-01
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/cb3d6722-6f52-4e10-87f4-58dce403f53d?api-version=2016-06-01']
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/cb3d6722-6f52-4e10-87f4-58dce403f53d?api-version=2016-06-01']
      Retry-After: ['10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_ag_no_wait/providers/Microsoft.Network/applicationGateways/ag2?api-version=2016-06-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/applicationGateways/ag2''
        under resource group ''cli_ag_no_wait'' was not found."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
version: 1
