interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_nic_convenience_test/providers/Microsoft.Compute/virtualMachines/conveniencevm1?api-version=2016-04-30-preview
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"0958230b-1a97-4b95-bc57-c1063b74e83d\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1\"\r\n\
        \    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n  \
        \      \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"14.04.4-LTS\",\r\n        \"version\": \"latest\"\r\
        \n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n  \
        \      \"name\": \"osdisk_9H30IBCfol\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n\
        \          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_nic_convenience_test/providers/Microsoft.Compute/disks/osdisk_9H30IBCfol\"\
        \r\n        }\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"conveniencevm1\",\r\n      \"adminUsername\"\
        : \"yugangw\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_nic_convenience_test/providers/Microsoft.Network/networkInterfaces/conveniencevm1VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_nic_convenience_test/providers/Microsoft.Compute/virtualMachines/conveniencevm1\"\
        ,\r\n  \"name\": \"conveniencevm1\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_nic_convenience_test/providers/Microsoft.Network/networkInterfaces/conveniencevm1VMNic/effectiveNetworkSecurityGroups?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"networkSecurityGroup\"\
        : {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_nic_convenience_test/providers/Microsoft.Network/networkSecurityGroups/conveniencevm1NSG\"\
        \r\n      },\r\n      \"association\": {\r\n        \"networkInterface\":\
        \ {\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_nic_convenience_test/providers/Microsoft.Network/networkInterfaces/conveniencevm1VMNic\"\
        \r\n        }\r\n      },\r\n      \"effectiveSecurityRules\": [\r\n     \
        \   {\r\n          \"name\": \"securityRules/default-allow-ssh\",\r\n    \
        \      \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"0-65535\"\
        ,\r\n          \"destinationPortRange\": \"22-22\",\r\n          \"sourceAddressPrefix\"\
        : \"0.0.0.0/0\",\r\n          \"destinationAddressPrefix\": \"0.0.0.0/0\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1000,\r\n\
        \          \"direction\": \"Inbound\"\r\n        },\r\n        {\r\n     \
        \     \"name\": \"defaultSecurityRules/AllowVnetInBound\",\r\n          \"\
        protocol\": \"All\",\r\n          \"sourcePortRange\": \"0-65535\",\r\n  \
        \        \"destinationPortRange\": \"0-65535\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"expandedSourceAddressPrefix\": [\r\n\
        \            \"10.0.0.0/16\",\r\n            \"168.63.129.16/32\"\r\n    \
        \      ],\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\
        \n          \"expandedDestinationAddressPrefix\": [\r\n            \"10.0.0.0/16\"\
        ,\r\n            \"168.63.129.16/32\"\r\n          ],\r\n          \"access\"\
        : \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\"\
        : \"Inbound\"\r\n        },\r\n        {\r\n          \"name\": \"defaultSecurityRules/AllowAzureLoadBalancerInBound\"\
        ,\r\n          \"protocol\": \"All\",\r\n          \"sourcePortRange\": \"\
        0-65535\",\r\n          \"destinationPortRange\": \"0-65535\",\r\n       \
        \   \"sourceAddressPrefix\": \"AzureLoadBalancer\",\r\n          \"expandedSourceAddressPrefix\"\
        : [\r\n            \"168.63.129.16/32\"\r\n          ],\r\n          \"destinationAddressPrefix\"\
        : \"0.0.0.0/0\",\r\n          \"access\": \"Allow\",\r\n          \"priority\"\
        : 65001,\r\n          \"direction\": \"Inbound\"\r\n        },\r\n       \
        \ {\r\n          \"name\": \"defaultSecurityRules/DenyAllInBound\",\r\n  \
        \        \"protocol\": \"All\",\r\n          \"sourcePortRang[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/de08c0bd-81de-4189-a654-9de2c841671e?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"networkSecurityGroup\"\
        : {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_nic_convenience_test/providers/Microsoft.Network/networkInterfaces/conveniencevm1VMNic/effectiveRouteTable?api-version=2016-09-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"source\": \"Default\"\
        ,\r\n      \"state\": \"Active\",\r\n      \"addressPrefix\": [\r\n      \
        \  \"10.0.0.0/16\"\r\n      ],\r\n      \"nextHopType\": \"VnetLocal\",\r\n\
        \      \"nextHopIpAddress\": []\r\n    },\r\n    {\r\n      \"source\": \"\
        Default\",\r\n      \"state\": \"Active\",\r\n      \"addressPrefix\": [\r\
        \n        \"0.0.0.0/0\"\r\n      ],\r\n      \"nextHopType\": \"Internet\"\
        ,\r\n      \"nextHopIpAddress\": []\r\n    },\r\n    {\r\n      \"source\"\
        : \"Default\",\r\n      \"state\": \"Active\",\r\n      \"addressPrefix\"\
        : [\r\n        \"10.0.0.0/8\"\r\n      ],\r\n      \"nextHopType\": \"None\"\
        ,\r\n      \"nextHopIpA[...]
[...]
