interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1?api-version=2016-06-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1\"\
        ,\r\n  \"etag\": \"W/\\\"6b984bca-5a57-4363-8131-68c606a0548f\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"b1130efb-4c01-4eff-8382-38e2b575687a\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"6b984bca-5a57-4363-8131-68c606a0548f\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"\
        ,\r\n        \"etag\": \"W/\\\"6b984bca-5a57-4363-8131-68c606a0548f\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"6b984bca-5a57-4363-8131-68c606a0548f"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1",
      "etag": "W/\"6b984bca-5a57-4363-8131-68c606a0548f\"", "location": "westus",
      "properties": {"inboundNatRules": [{"properties": {"protocol": "Tcp", "backendPort":
      1, "frontendIPConfiguration": {"etag": "W/\"6b984bca-5a57-4363-8131-68c606a0548f\"",
      "properties": {"privateIPAllocationMethod": "Dynamic", "provisioningState":
      "Succeeded", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"},
      "enableFloatingIP": false, "frontendPort": 1}, "name": "rule1"}], "resourceGuid":
      "b1130efb-4c01-4eff-8382-38e2b575687a", "frontendIPConfigurations": [{"etag":
      "W/\"6b984bca-5a57-4363-8131-68c606a0548f\"", "properties": {"privateIPAllocationMethod":
      "Dynamic", "provisioningState": "Succeeded", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"}],
      "outboundNatRules": [], "loadBalancingRules": [], "inboundNatPools": [], "backendAddressPools":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "etag": "W/\"6b984bca-5a57-4363-8131-68c606a0548f\"", "name": "lb1bepool", "properties":
      {"provisioningState": "Succeeded"}}], "provisioningState": "Succeeded", "probes":
      []}, "tags": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/9853b2fa-fa6f-4f26-8ef7-9b507c678756?api-version=2016-06-01
  response:
    body: {string: !!python/unicode "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1",
      "etag": "W/\"cf8dab57-9b87-49e8-a8c7-e651b2bd93d1\"", "location": "westus",
      "properties": {"inboundNatRules": [{"etag": "W/\"cf8dab57-9b87-49e8-a8c7-e651b2bd93d1\"",
      "properties": {"frontendIPConfiguration": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"},
      "protocol": "Tcp", "frontendPort": 1, "backendPort": 1, "enableFloatingIP":
      false, "idleTimeoutInMinutes": 4, "provisioningState": "Succeeded"}, "name":
      "rule1", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/rule1"},
      {"properties": {"protocol": "Tcp", "backendPort": 2, "frontendIPConfiguration":
      {"etag": "W/\"cf8dab57-9b87-49e8-a8c7-e651b2bd93d1\"", "properties": {"privateIPAllocationMethod":
      "Dynamic", "provisioningState": "Succeeded", "publicIPAddress[...]
[...]
- request:
    body: !!python/unicode '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1",
      "etag": "W/\"939de704-1932-4b24-8b09-aabb84c7eaa7\"", "location": "westus",
      "properties": {"inboundNatRules": [], "resourceGuid": "b1130efb-4c01-4eff-8382-38e2b575687a",
      "frontendIPConfigurations": [{"etag": "W/\"939de704-1932-4b24-8b09-aabb84c7eaa7\"",
      "properties": {"privateIPAllocationMethod": "Dynamic", "provisioningState":
      "Succeeded", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"}],
      "outboundNatRules": [], "loadBalancingRules": [], "inboundNatPools": [{"properties":
      {"backendPort": 1000, "protocol": "Tcp", "frontendPortRangeStart": 1000, "frontendPortRangeEnd":
      1999}, "name": "rule1000"}], "backendAddressPools": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "etag": "W/\"939de704-1932-4b24-8b09-aabb84c7eaa7\"", "name": "lb1bepool", "properties":
      {"provisioningState": "Succeeded"}}], "provisioningState": "Succeeded", "probes":
      []}, "tags": {}}'
    headers:
      Content-Type: [application[...]
[...]
- request:
    body: !!python/unicode '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1",
      "etag": "W/\"14260bdb-d558-4d53-959b-b6515e74e93d\"", "location": "westus",
      "properties": {"inboundNatRules": [], "resourceGuid": "b1130efb-4c01-4eff-8382-38e2b575687a",
      "frontendIPConfigurations": [{"etag": "W/\"14260bdb-d558-4d53-959b-b6515e74e93d\"",
      "properties": {"privateIP[...]
[...]
- request:
    body: !!python/unicode '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1",
      "etag": "W/\"bd45e93c-6bd0-4bd8-921c-aba88574c7f3\"", "location": "westus",
      "properties": {"inboundNatRules": [], "resourceGuid": "b1130efb-4c01-4eff-8382-38e2b575687a",
      "frontendIPConfigurations": [{"etag": "W/\"bd45e93c-6bd0-4bd8-921c-aba88574c7f3\"",
      "properties": {"privateIPAllocationMethod": "Dynamic", "provisioningState":
      "Succeeded", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"}],
      "outboundNatRules": [], "loadBalancingRules": [{"properties": {"backendAddressPool":
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bap1",
      "etag": "W/\"bd45e93c-6bd0-4bd8-921c-aba88574c7f3\"", "name": "bap1", "properties":
      {"provisioningState": "Succeeded"}}, "frontendIPConfiguration": {"etag": "W/\"bd45e93c-6bd0-4bd8-921c-aba88574c7f3\"",
      "properties": {"privateIPAllocationMethod": "Dynamic", "provisioningState":
      "Succeeded", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"},
      "protocol": "Tcp", "frontendPort": 40, "loadDistribution": "Default", "enableFloatingIP":
      false, "backendPort": 40}, "name": "rule1"}], "inboundNatPools": [], "backendAddressPools":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "etag": "W/\"bd45e93c-6bd0-4bd8-921c-aba88574c7f3\"", "name": "lb1bepool", "properties":
      {"provisioningState": "Succeeded"}}, {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bap1",
      "etag": "W/\"bd45e93c-6bd0-4bd8-921c-aba88574c7f3\"", "name": "bap1", "properties":
      {"provisioningState": "Succeeded"}}, {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bap2",
      "etag": "W/\"bd45e93c-6bd0-4bd8-921c-aba88574c7f3\"", "name": "bap2", "properties":
      {"provisioningState": "Succeeded"}}], "provisioningState": "Succeeded", "probes":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1",
      "etag": "W/\"bd45e93c-6bd0-4bd8-921c-aba88574c7f3\"", "properties": {"protocol":
      "Http", "requestPath": "/test1", "intervalInSeconds": 15, "numberOfProbes":
      3, "port": 1, "provisioningState": "Succeeded"}, "name": "probe1"}, {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_load_balancer_subresource/providers/Microsoft.Network/loadBalancers/lb1/probes/probe2",
      "etag": "W/\"bd45e93c-6bd0-4bd8-921c-aba88574c7f3\"", "properties": {"protocol":
      "Tcp", "numberOfProbes": 2, "intervalInSeconds": 15, "port": 2, "provisioningState":
      "Succeeded"}, "name": "probe2"}]}, "tags": {}}'
    headers:
      Content-Type: [appl[...]
[...]
