interactions:
- request:
    body: !!python/unicode '{"location": "global"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com","name":"myzone.com","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-d8ab-30374389d201","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":5000,"nameServers":["ns1-02.azure-dns.com.","ns2-02.azure-dns.net.","ns3-02.azure-dns.org.","ns4-02.azure-dns.info."],"numberOfRecordSets":2}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [00000002-0000-0000-d8ab-30374389d201]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"type": "a", "properties": {"TTL": 3600}, "name": "myrsa"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/A/myrsa?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/A\/myrsa","name":"myrsa","type":"Microsoft.Network\/dnszones\/A","etag":"e5635321-8323-48f5-8673-4d10caba2f7d","properties":{"fqdn":"myrsa.myzone.com.","TTL":3600,"ARecords":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [e5635321-8323-48f5-8673-4d10caba2f7d]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"etag": "e5635321-8323-48f5-8673-4d10caba2f7d", "type":
      "Microsoft.Network/dnszones/A", "properties": {"ARecords": [{"ipv4Address":
      "10.0.0.10"}], "TTL": 3600}, "name": "myrsa", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnszones/myzone.com/A/myrsa"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/A/myrsa?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/A\/myrsa","name":"myrsa","type":"Microsoft.Network\/dnszones\/A","etag":"8581b653-1c5f-46ec-8f22-86c283ceccef","properties":{"fqdn":"myrsa.myzone.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.0.0.10"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [8581b653-1c5f-46ec-8f22-86c283ceccef]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/A/myrsaalt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"code":"NotFound","message":"The resource record
        ''myrsaalt'' does not exist in resource group ''cli_test_dns'' of subscription
        ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"type": "aaaa", "properties": {"TTL": 3600}, "name":
      "myrsaaaa"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/AAAA/myrsaaaa?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/AAAA\/myrsaaaa","name":"myrsaaaa","type":"Microsoft.Network\/dnszones\/AAAA","etag":"7ebf2eb6-4611-4c9e-ab3a-9a443346648d","properties":{"fqdn":"myrsaaaa.myzone.com.","TTL":3600,"AAAARecords":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [7ebf2eb6-4611-4c9e-ab3a-9a443346648d]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"etag": "7ebf2eb6-4611-4c9e-ab3a-9a443346648d", "type":
      "Microsoft.Network/dnszones/AAAA", "properties": {"AAAARecords": [{"ipv6Address":
      "2001:db8:0:1:1:1:1:1"}], "TTL": 3600}, "name": "myrsaaaa", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnszones/myzone.com/AAAA/myrsaaaa"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/AAAA/myrsaaaa?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/AAAA\/myrsaaaa","name":"myrsaaaa","type":"Microsoft.Network\/dnszones\/AAAA","etag":"b471e023-5fc4-4c4e-a164-8629ef877d06","properties":{"fqdn":"myrsaaaa.myzone.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:db8:0:1:1:1:1:1"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [b471e023-5fc4-4c4e-a164-8629ef877d06]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/AAAA/myrsaaaaalt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"code":"NotFound","message":"The resource record
        ''myrsaaaaalt'' does not exist in resource group ''cli_test_dns'' of
        subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"type": "cname", "properties": {"TTL": 3600}, "name":
      "myrscname"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/CNAME/myrscname?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/CNAME\/myrscname","name":"myrscname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"460642ce-85fe-4e39-abc4-39decc168585","properties":{"fqdn":"myrscname.myzone.com.","TTL":3600}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [460642ce-85fe-4e39-abc4-39decc168585]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"etag": "460642ce-85fe-4e39-abc4-39decc168585", "type":
      "Microsoft.Network/dnszones/CNAME", "properties": {"CNAMERecord": {"cname":
      "mycname"}, "TTL": 3600}, "name": "myrscname", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnszones/myzone.com/CNAME/myrscname"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/CNAME/myrscname?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/CNAME\/myrscname","name":"myrscname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"d256cdd0-8c16-4b9f-b01d-0a2e0843b1b1","properties":{"fqdn":"myrscname.myzone.com.","TTL":3600,"CNAMERecord":{"cname":"mycname"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [d256cdd0-8c16-4b9f-b01d-0a2e0843b1b1]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/CNAME/myrscnamealt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"code":"NotFound","message":"The resource record
        ''myrscnamealt'' does not exist in resource group ''cli_test_dns'' of
        subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"type": "mx", "properties": {"TTL": 3600}, "name": "myrsmx"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/MX/myrsmx?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/MX\/myrsmx","name":"myrsmx","type":"Microsoft.Network\/dnszones\/MX","etag":"22c86623-20d5-4453-a979-c2764b2b5ab1","properties":{"fqdn":"myrsmx.myzone.com.","TTL":3600,"MXRecords":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [22c86623-20d5-4453-a979-c2764b2b5ab1]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"etag": "22c86623-20d5-4453-a979-c2764b2b5ab1", "type":
      "Microsoft.Network/dnszones/MX", "properties": {"MXRecords": [{"preference":
      13, "exchange": "12"}], "TTL": 3600}, "name": "myrsmx", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnszones/myzone.com/MX/myrsmx"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/MX/myrsmx?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/MX\/myrsmx","name":"myrsmx","type":"Microsoft.Network\/dnszones\/MX","etag":"2d8bf5c4-4c52-4af8-ace5-4867dc3c8fb3","properties":{"fqdn":"myrsmx.myzone.com.","TTL":3600,"MXRecords":[{"exchange":"12","preference":13}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [2d8bf5c4-4c52-4af8-ace5-4867dc3c8fb3]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/MX/myrsmxalt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"code":"NotFound","message":"The resource record
        ''myrsmxalt'' does not exist in resource group ''cli_test_dns'' of subscription
        ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"type": "ns", "properties": {"TTL": 3600}, "name": "myrsns"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/NS/myrsns?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/NS\/myrsns","name":"myrsns","type":"Microsoft.Network\/dnszones\/NS","etag":"22b3d3c8-e473-4677-9999-60172bcf740a","properties":{"fqdn":"myrsns.myzone.com.","TTL":3600,"NSRecords":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [22b3d3c8-e473-4677-9999-60172bcf740a]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"etag": "22b3d3c8-e473-4677-9999-60172bcf740a", "type":
      "Microsoft.Network/dnszones/NS", "properties": {"NSRecords": [{"nsdname": "foobar.com"}],
      "TTL": 3600}, "name": "myrsns", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnszones/myzone.com/NS/myrsns"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/NS/myrsns?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/NS\/myrsns","name":"myrsns","type":"Microsoft.Network\/dnszones\/NS","etag":"a2d47e7d-262a-45a7-8d0c-70e9ac82635f","properties":{"fqdn":"myrsns.myzone.com.","TTL":3600,"NSRecords":[{"nsdname":"foobar.com"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [a2d47e7d-262a-45a7-8d0c-70e9ac82635f]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/NS/myrsnsalt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"code":"NotFound","message":"The resource record
        ''myrsnsalt'' does not exist in resource group ''cli_test_dns'' of subscription
        ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"type": "ptr", "properties": {"TTL": 3600}, "name": "myrsptr"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myrsptr?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/PTR\/myrsptr","name":"myrsptr","type":"Microsoft.Network\/dnszones\/PTR","etag":"86bbb7c5-38d1-4e66-b7eb-c8e3bfca0fbe","properties":{"fqdn":"myrsptr.myzone.com.","TTL":3600,"PTRRecords":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [86bbb7c5-38d1-4e66-b7eb-c8e3bfca0fbe]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11997']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"etag": "86bbb7c5-38d1-4e66-b7eb-c8e3bfca0fbe", "type":
      "Microsoft.Network/dnszones/PTR", "properties": {"PTRRecords": [{"ptrdname":
      "foobar.com"}], "TTL": 3600}, "name": "myrsptr", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnszones/myzone.com/PTR/myrsptr"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myrsptr?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/PTR\/myrsptr","name":"myrsptr","type":"Microsoft.Network\/dnszones\/PTR","etag":"211c88d3-2c90-46a7-852f-db08ace7647f","properties":{"fqdn":"myrsptr.myzone.com.","TTL":3600,"PTRRecords":[{"ptrdname":"foobar.com"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [211c88d3-2c90-46a7-852f-db08ace7647f]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/PTR/myrsptralt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"code":"NotFound","message":"The resource record
        ''myrsptralt'' does not exist in resource group ''cli_test_dns'' of
        subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"type": "srv", "properties": {"TTL": 3600}, "name": "myrssrv"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/SRV/myrssrv?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SRV\/myrssrv","name":"myrssrv","type":"Microsoft.Network\/dnszones\/SRV","etag":"a523796d-ca25-44f6-9847-1c708bdf72a8","properties":{"fqdn":"myrssrv.myzone.com.","TTL":3600,"SRVRecords":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [a523796d-ca25-44f6-9847-1c708bdf72a8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"etag": "a523796d-ca25-44f6-9847-1c708bdf72a8", "type":
      "Microsoft.Network/dnszones/SRV", "properties": {"SRVRecords": [{"priority":
      1, "port": 1234, "weight": 50, "target": "target.com"}], "TTL": 3600}, "name":
      "myrssrv", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnszones/myzone.com/SRV/myrssrv"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/SRV/myrssrv?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SRV\/myrssrv","name":"myrssrv","type":"Microsoft.Network\/dnszones\/SRV","etag":"32bbbc4c-f0cf-4298-896d-5f01863347a6","properties":{"fqdn":"myrssrv.myzone.com.","TTL":3600,"SRVRecords":[{"port":1234,"priority":1,"target":"target.com","weight":50}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [32bbbc4c-f0cf-4298-896d-5f01863347a6]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/SRV/myrssrvalt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"code":"NotFound","message":"The resource record
        ''myrssrvalt'' does not exist in resource group ''cli_test_dns'' of
        subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: !!python/unicode '{"type": "txt", "properties": {"TTL": 3600}, "name": "myrstxt"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/TXT/myrstxt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/myrstxt","name":"myrstxt","type":"Microsoft.Network\/dnszones\/TXT","etag":"ac231f7d-90ff-418c-b61e-bba9463fae77","properties":{"fqdn":"myrstxt.myzone.com.","TTL":3600,"TXTRecords":[]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [ac231f7d-90ff-418c-b61e-bba9463fae77]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"etag": "ac231f7d-90ff-418c-b61e-bba9463fae77", "type":
      "Microsoft.Network/dnszones/TXT", "properties": {"TXTRecords": [{"value": ["some_text"]}],
      "TTL": 3600}, "name": "myrstxt", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnszones/myzone.com/TXT/myrstxt"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/TXT/myrstxt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/TXT\/myrstxt","name":"myrstxt","type":"Microsoft.Network\/dnszones\/TXT","etag":"3bc68872-862e-4743-8bb9-442defe71796","properties":{"fqdn":"myrstxt.myzone.com.","TTL":3600,"TXTRecords":[{"value":["some_text"]}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [3bc68872-862e-4743-8bb9-442defe71796]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11998']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/TXT/myrstxtalt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"code":"NotFound","message":"The resource record
        ''myrstxtalt'' does not exist in resource group ''cli_test_dns'' of
        subscription ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/SOA/@?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.com\/SOA\/@","name":"@","type":"Microsoft.Network\/dnszones\/SOA","etag":"e816bc67-505e-4bc7-b356-219770b7dd87","properties":{"fqdn":"myzone.com.","TTL":3600,"SOARecord":{"email":"azuredns-hostmaster.microsoft.com","expireTime":2419200,"host":"ns1-02.azure-dns.com.","minimumTTL":300,"refreshTime":3600,"retryTime":300,"serialNumber":1}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [e816bc67-505e-4bc7-b356-219770b7dd87]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/TXT/longtxt?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"code":"NotFound","message":"The resource record
        ''longtxt'' does not exist in resource group ''cli_test_dns'' of subscription
        ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/recordsets?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"value":[{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/m[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/TXT?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"value":[{"id":"\/subscriptions\/0b1f6471-1bf0-4dda-aec3-cb9272f09590\/resourceGroups\/cli_test_dns\/providers\/Microsoft.Network\/dnszones\/myzone.c[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dns/providers/Microsoft.Network/dnsZones/myzone.com/A/myrsa?api-version=2016-04-01
  response:
    body: {string: !!python/unicode '{"code":"NotFound","message":"The resource record
        ''myrsa'' does not exist in resource group ''cli_test_dns'' of subscription
        ''0b1f6471-1bf0-4dda-aec3-cb9272f09590''."}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11997']
    status: {code: 404, message: Not Found}
version: 1
