interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource?api-version=2016-09-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource","name":"cli_test_nic_subresource","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24"}, "name": "subnet1"}], "dhcpOptions": {}, "addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}}, "tags": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2016-09-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1\"\
        ,\r\n  \"etag\": \"W/\\\"d377e986-7ec0-4d21-93f9-e42477ee71de\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"541b24a0-ab1d-44e6-b99c-4dec2942c92c\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        ,\r\n        \"etag\": \"W/\\\"d377e986-7ec0-4d21-93f9-e42477ee71de\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\
        \n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/dd25f1df-2a86-4622-8da4-65cec9e2ac73?api-version=2016-09-01']
      content-type: [application/json; charset=utf-8]
      retry-after: ['3']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/dd25f1df-2a86-4622-8da4-65cec9e2ac73?api-version=2016-09-01
  response:
    body: {string: !!python/unicode "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27cli_test_nic_subresource%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1","name":"vnet1","type":"Microsoft.Network/virtualNetworks","location":"westus","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateNic_2016-08-01/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"subnet": {"value": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "publicIpAddressType": {"value": "none"}, "subnetType": {"value": "existingId"},
      "networkSecurityGroupType": {"value": "none"}, "privateIpAddressAllocation":
      {"value": "dynamic"}, "useDnsSettings": {"value": "false"}, "enableIpForwarding":
      {"value": false}, "networkInterfaceName": {"value": "nic1"}, "privateIpAddressVersion":
      {"value": "ipv4"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/azurecli1487965554.5419218","name":"azurecli1487965554.5419218","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateNic_2016-08-01/azuredeploy.json","contentVersion":"1.0.0.0"},"templateHash":"7404936442101640407","parameters":{"enableIpForwarding":{"type":"Bool","value":false},"internalDnsNameLabel":{"type":"String","value":""},"loadBalancerBackendAddressPoolIds":{"type":"Array","value":[]},"loadBalancerInboundNatRuleIds":{"type":"Array","value":[]},"location":{"type":"String","value":"westus"},"networkInterfaceName":{"type":"String","value":"nic1"},"networkSecurityGroup":{"type":"String","value":""},"networkSecurityGroupType":{"type":"String","value":"none"},"privateIpAddress":{"type":"String","value":""},"privateIpAddressAllocation":{"type":"String","value":"dynamic"},"privateIpAddressVersion":{"type":"String","value":"ipv4"},"publicIpAddress":{"type":"String","value":""},"publicIpAddressType":{"type":"String","value":"none"},"subnet":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},"subnetType":{"type":"String","value":"existingId"},"tags":{"type":"Object","value":{}},"useDnsSettings":{"type":"String","value":"false"},"virtualNetworkName":{"type":"String","value":""}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-02-24T19:45:55.9795344Z","duration":"PT0.6077943S","correlationId":"18f0794f-015d-473a-9257-0680d67b80ac","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkInterfaces","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/azurecli1487965554.5419218/operationStatuses/08587136413301059351?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587136413301059351?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/dep[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1?api-version=2016-09-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"nic1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1\"\
        ,\r\n  \"etag\": \"W/\\\"ba797ddf-7135-48f9-9dd0-76e50bf0507a\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"1e986cf9-f971-4ba9-8847-89809afa44a0\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1\"\
        ,\r\n        \"etag\": \"W/\\\"ba797ddf-7135-48f9-9dd0-76e50bf0507a\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"uasbwva3vptejom2jxwcsqwjfe.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\"\
        : false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n\
        }"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"ba797ddf-7135-48f9-9dd0-76e50bf0507a"]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"location": "westus", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1",
      "etag": "W/\"ba797ddf-7135-48f9-9dd0-76e50bf0507a\"", "properties": {"provisioningState":
      "Succeeded", "enableIPForwarding": false, "enableAcceleratedNetworking": false,
      "dnsSettings": {"internalDomainNameSuffix": "uasbwva3vptejom2jxwcsqwjfe.dx.internal.cloudapp.net",
      "dnsServers": [], "appliedDnsServers": []}, "ipConfigurations": [{"etag": "W/\"ba797ddf-7135-48f9-9dd0-76e50bf0507a\"",
      "properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "privateIPAddressVersion": "IPv4", "privateIPAllocationMethod": "Dynamic", "primary":
      false, "privateIPAddress": "10.0.0.4", "provisioningState": "Succeeded"}, "name":
      "ipconfig1", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1"},
      {"properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/[...]
[...]
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"allocationMethod": {"value": "dynamic"},
      "version": {"value": "ipv4"}, "name": {"value": "publicip2"}, "_artifactsLocation":
      {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14"},
      "dnsNameType": {"value": "none"}, "idleTimeout": {"value": 4}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/azurecli1487965688.2116450","name":"azurecli1487965688.2116450","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14/azuredeploy.json","contentVersion":"1.0.0.0"},"templateHash":"11706877755421745928","parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14"},"allocationMethod":{"type":"String","value":"dynamic"},"dnsName":{"type":"String","value":""},"dnsNameType":{"type":"String","value":"none"},"idleTimeout":{"type":"Int","value":4},"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"publicip2"},"reverseFqdn":{"type":"String","value":""},"tags":{"type":"Object","value":{}},"version":{"type":"String","value":"ipv4"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-02-24T19:48:09.6029313Z","duration":"PT0.4697974S","correlationId":"da4f7b9d-0f02-432b-9cd4-f171463eb39e","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/azurecli1487965688.2116450/operationStatuses/08587136411963445199?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/publicip2?api-version=2016-09-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"publicip2\",\r\n  \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/publicip2\"\
        ,\r\n  \"etag\": \"W/\\\"b4b07ca0-51d3-48e1-9005-89b9fa2a68d2\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"a735ecbf-c87a-4981-b923-55d0e89b0d6c\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"b4b07ca0-51d3-48e1-9005-89b9fa2a68d2"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27cli_test_nic_subresource%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"dnsNameType": {"value": "none"}, "publicIpAddressType":
      {"value": "new"}, "subnetType": {"value": "none"}, "loadBalancerName": {"value":
      "lb1"}, "publicIpAddressAllocation": {"value": "dynamic"}, "vnetAddressPrefix":
      {"value": "10.0.0.0/16"}, "privateIpAddressAllocation": {"value": "dynamic"},
      "_artifactsLocation": {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},
      "frontendIpName": {"value": "LoadBalancerFrontEnd"}, "subnetAddressPrefix":
      {"value": "10.0.0.0/24"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/azurecli1487965722.7644813","name":"azurecli1487965722.7644813","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json","contentVersion":"1.0.0.0"},"templateHash":"14860532557960885618","parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},"backendPoolName":{"type":"String","value":"lb1bepool"},"dnsNameType":{"type":"String","value":"none"},"frontendIpName":{"type":"String","value":"LoadBalancerFrontEnd"},"loadBalancerName":{"type":"String","value":"lb1"},"location":{"type":"String","value":"westus"},"privateIpAddress":{"type":"String","value":""},"privateIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddress":{"type":"String","value":"PublicIPlb1"},"publicIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddressType":{"type":"String","value":"new"},"publicIpDnsName":{"type":"String","value":""},"subnet":{"type":"String","value":""},"subnetAddressPrefix":{"type":"String","value":"10.0.0.0/24"},"subnetType":{"type":"String","value":"none"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":""},"vnetAddressPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-02-24T19:48:44.2536609Z","duration":"PT0.5751135S","correlationId":"e53b87bd-fc4e-4811-a89b-9dd84c1b8795","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/IPlb1","resourceType":"Microsoft.Resources/deployments","resourceName":"IPlb1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/Subnetlb1","resourceType":"Microsoft.Resources/deployments","resourceName":"Subnetlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/azurecli1487965722.7644813/operationStatuses/08587136411617991263?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1?api-version=2016-09-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1\"\
        ,\r\n  \"etag\": \"W/\\\"8ba92764-a1cb-4355-bc05-2f2d82dc6601\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"97c7e90c-33ed-4978-b2d8-bcea0581e668\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"8ba92764-a1cb-4355-bc05-2f2d82dc6601\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"\
        ,\r\n        \"etag\": \"W/\\\"8ba92764-a1cb-4355-bc05-2f2d82dc6601\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"8ba92764-a1cb-4355-bc05-2f2d82dc6601"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1",
      "etag": "W/\"8ba92764-a1cb-4355-bc05-2f2d82dc6601\"", "location": "westus",
      "properties": {"inboundNatRules": [{"properties": {"protocol": "Tcp", "backendPort":
      100, "frontendIPConfiguration": {"etag": "W/\"8ba92764-a1cb-4355-bc05-2f2d82dc6601\"",
      "properties": {"privateIPAllocationMethod": "Dynamic", "provisioningState":
      "Succeeded", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"},
      "enableFloatingIP": false, "frontendPort": 100}, "name": "rule1"}], "resourceGuid":
      "97c7e90c-33ed-4978-b2d8-bcea0581e668", "frontendIPConfigurations": [{"etag":
      "W/\"8ba92764-a1cb-4355-bc05-2f2d82dc6601\"", "properties": {"privateIPAllocationMethod":
      "Dynamic", "provisioningState": "Succeeded", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"}],
      "outboundNatRules": [], "loadBalancingRules": [], "inboundNatPools": [], "backendAddressPools":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "etag": "W/\"8ba92764-a1cb-4355-bc05-2f2d82dc6601\"", "name": "lb1bepool", "properties":
      {"provisioningState": "Succeeded"}}], "provisioningState": "Succeeded", "probes":
      []}, "tags": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://managem[...]
[...]
- request:
    body: !!python/unicode '{"location": "westus", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1",
      "etag": "W/\"28dc4d03-0ce1-45ad-ab59-25d362117449\"", "properties": {"provisioningState":
      "Succeeded", "enableIPForwarding": false, "enableAcceleratedNetworking": false,
      "dnsSettings": {"internalDomainNameSuffix": "uasbwva3vptejom2jxwcsqwjfe.dx.internal.cloudapp.net",
      "dnsServers": [], "appliedDnsServers": []}, "ipConfigurations": [{"etag": "W/\"28dc4d03-0ce1-45ad-ab59-25d362117449\"",
      "properties": {"loadBalancerInboundNatRules": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/rule1"},
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/rule2"}],
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "privateIPAddressVersion": "ipv4", "privateIPAllocationMethod": "static", "loadBalancerBackendAddressPools":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bap1"},
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bap2"}],
      "primary": true, "privateIPAddress": "10.0.0.15", "provisioningState": "Succeeded"},
      "name": "ipconfig1", "id": "/subscriptio[...]
[...]
