interactions:
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateVnet_2016-12-9/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"subnetName": {"value": "subnet1"}, "virtualNetworkPrefix":
      {"value": "10.0.0.0/16"}, "virtualNetworkName": {"value": "vnet1"}, "createSubnet":
      {"value": true}, "subnetPrefix": {"value": "10.0.0.0/24"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment","name":"mock-deployment","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateVnet_2016-12-9/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"createSubnet":{"type":"Bool","value":true},"dnsServers":{"type":"Array","value":[]},"location":{"type":"String","value":"westus"},"subnetName":{"type":"String","value":"subnet1"},"subnetPrefix":{"type":"String","value":"10.0.0.0/24"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":"vnet1"},"virtualNetworkPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2016-12-14T19:26:38.0395528Z","duration":"PT0.5404491S","correlationId":"9db6bd3e-1055-408b-a41b-e41f8c8c5fe6","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587198632879785711?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1184']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587198632879785711?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment","name":"mock-deployment","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateVnet_2016-12-9/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"createSubnet":{"type":"Bool","value":true},"dnsServers":{"type":"Array","value":[]},"location":{"type":"String","value":"westus"},"subnetName":{"type":"String","value":"subnet1"},"subnetPrefix":{"type":"String","value":"10.0.0.0/24"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":"vnet1"},"virtualNetworkPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2016-12-14T19:26:48.6297447Z","duration":"PT11.130641S","correlationId":"9db6bd3e-1055-408b-a41b-e41f8c8c5fe6","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]}]}],"dependencies":[],"outputs":{"newVNet":{"type":"Object","value":{"provisioningState":"Succeeded","resourceGuid":"5c739f34-7508-4b9a-ba1f-37908c7c4edb","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"dhcpOptions":{"dnsServers":[]},"subnets":[{"name":"subnet1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1","etag":"W/\"abcff0d0-556d-445c-9b33-617e0b8f152b\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24"}}]}}},"outputResources":[{"id":"Microsoft.Network/virtualNetworks/vnet1"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27cli_test_nic_subresource%27%20and%20name%20eq%20%27vnet1%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1","name":"vnet1","type":"Microsoft.Network/virtualNetworks","location":"westus","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateNic_2016-08-01/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"subnet": {"value": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "publicIpAddressType": {"value": "none"}, "subnetType": {"value": "existingId"},
      "networkSecurityGroupType": {"value": "none"}, "privateIpAddressAllocation":
      {"value": "dynamic"}, "useDnsSettings": {"value": "false"}, "enableIpForwarding":
      {"value": false}, "networkInterfaceName": {"value": "nic1"}, "privateIpAddressVersion":
      {"value": "ipv4"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment","name":"mock-deployment","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateNic_2016-08-01/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"enableIpForwarding":{"type":"Bool","value":false},"internalDnsNameLabel":{"type":"String","value":""},"loadBalancerBackendAddressPoolIds":{"type":"Array","value":[]},"loadBalancerInboundNatRuleIds":{"type":"Array","value":[]},"location":{"type":"String","value":"westus"},"networkInterfaceName":{"type":"String","value":"nic1"},"networkSecurityGroup":{"type":"String","value":""},"networkSecurityGroupType":{"type":"String","value":"none"},"privateIpAddress":{"type":"String","value":""},"privateIpAddressAllocation":{"type":"String","value":"dynamic"},"privateIpAddressVersion":{"type":"String","value":"ipv4"},"publicIpAddress":{"type":"String","value":""},"publicIpAddressType":{"type":"String","value":"none"},"subnet":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},"subnetType":{"type":"String","value":"existingId"},"tags":{"type":"Object","value":{}},"useDnsSettings":{"type":"String","value":"false"},"virtualNetworkName":{"type":"String","value":""}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2016-12-14T19:27:11.2984506Z","duration":"PT0.3284598S","correlationId":"05f03617-7f93-4c62-b28c-3c159e0ade67","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkInterfaces","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587198632545077110?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1186']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1?api-version=2016-09-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"nic1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1\"\
        ,\r\n  \"etag\": \"W/\\\"7bd3a755-ed38-465a-9704-3de0eee0c580\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"2052dc39-b89f-4528-aa83-d8abcc3e2b30\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1\"\
        ,\r\n        \"etag\": \"W/\\\"7bd3a755-ed38-465a-9704-3de0eee0c580\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"gspxgxaiownexoq5g4iiy5co1d.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"type\": \"\
        Microsoft.Network/networkInterfaces\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"7bd3a755-ed38-465a-9704-3de0eee0c580"]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1",
      "etag": "W/\"7bd3a755-ed38-465a-9704-3de0eee0c580\"", "location": "westus",
      "properties": {"resourceGuid": "2052dc39-b89f-4528-aa83-d8abcc3e2b30", "enableIPForwarding":
      false, "dnsSettings": {"internalDomainNameSuffix": "gspxgxaiownexoq5g4iiy5co1d.dx.internal.cloudapp.net",
      "dnsServers": [], "appliedDnsServers": []}, "ipConfigurations": [{"etag": "W/\"7bd3a755-ed38-465a-9704-3de0eee0c580\"",
      "properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "privateIPAddressVersion": "IPv4", "privateIPAllocationMethod": "Dynamic", "primary":
      false, "privateIPAddress": "10.0.0.4", "provisioningState": "Succeeded"}, "name":
      "ipconfig1", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1"},
      {"properties": {"subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/4596f337-3918-4ade-b89e-2334416c6b3b?api-version=2016-09-01
  response:
    body: {string: !!python/unicode "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"allocationMethod": {"value": "dynamic"},
      "version": {"value": "ipv4"}, "name": {"value": "publicip2"}, "_artifactsLocation":
      {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14"},
      "dnsNameType": {"value": "none"}, "idleTimeout": {"value": 4}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment","name":"mock-deployment","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreatePublicIp_2016-09-14"},"allocationMethod":{"type":"String","value":"dynamic"},"dnsName":{"type":"String","value":""},"dnsNameType":{"type":"String","value":"none"},"idleTimeout":{"type":"Int","value":4},"location":{"type":"String","value":"westus"},"name":{"type":"String","value":"publicip2"},"reverseFqdn":{"type":"String","value":""},"tags":{"type":"Object","value":{}},"version":{"type":"String","value":"ipv4"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2016-12-14T19:29:55.1008213Z","duration":"PT0.5783587S","correlationId":"4a8ad5c0-a6f0-4d55-9d4d-abb67a9aa263","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587198630909552165?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1185']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/publicip2?api-version=2016-09-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"publicip2\",\r\n  \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/publicip2\"\
        ,\r\n  \"etag\": \"W/\\\"5e7062eb-57c7-4848-8d1a-80a982469900\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"\
        westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"22231fc9-58c4-43b4-88b1-c14ceb5f78f9\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"5e7062eb-57c7-4848-8d1a-80a982469900"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceGroup%20eq%20%27cli_test_nic_subresource%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"templateLink": {"uri": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json"},
      "mode": "Incremental", "parameters": {"dnsNameType": {"value": "none"}, "publicIpAddressType":
      {"value": "new"}, "subnetType": {"value": "none"}, "loadBalancerName": {"value":
      "lb1"}, "publicIpAddressAllocation": {"value": "dynamic"}, "vnetAddressPrefix":
      {"value": "10.0.0.0/16"}, "privateIpAddressAllocation": {"value": "dynamic"},
      "_artifactsLocation": {"value": "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},
      "frontendIpName": {"value": "LoadBalancerFrontEnd"}, "subnetAddressPrefix":
      {"value": "10.0.0.0/24"}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2015-11-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment","name":"mock-deployment","properties":{"templateLink":{"uri":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19/azuredeploy.json","contentVersion":"1.0.0.0"},"parameters":{"_artifactsLocation":{"type":"String","value":"https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-07-19"},"backendPoolName":{"type":"String","value":"lb1bepool"},"dnsNameType":{"type":"String","value":"none"},"frontendIpName":{"type":"String","value":"LoadBalancerFrontEnd"},"loadBalancerName":{"type":"String","value":"lb1"},"location":{"type":"String","value":"westus"},"privateIpAddress":{"type":"String","value":""},"privateIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddress":{"type":"String","value":"PublicIPlb1"},"publicIpAddressAllocation":{"type":"String","value":"dynamic"},"publicIpAddressType":{"type":"String","value":"new"},"publicIpDnsName":{"type":"String","value":""},"subnet":{"type":"String","value":""},"subnetAddressPrefix":{"type":"String","value":"10.0.0.0/24"},"subnetType":{"type":"String","value":"none"},"tags":{"type":"Object","value":{}},"virtualNetworkName":{"type":"String","value":""},"vnetAddressPrefix":{"type":"String","value":"10.0.0.0/16"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2016-12-14T19:30:29.5096679Z","duration":"PT0.5555178S","correlationId":"80fca350-4cdc-4951-958b-2d882ea9fe9b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/IPlb1","resourceType":"Microsoft.Resources/deployments","resourceName":"IPlb1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/Subnetlb1","resourceType":"Microsoft.Resources/deployments","resourceName":"Subnetlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/cli_test_nic_subresource/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587198630565235430?api-version=2015-11-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1188']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1?api-version=2016-09-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1\"\
        ,\r\n  \"etag\": \"W/\\\"c5c7917f-9203-4a34-b736-72625156bc1e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"2d2b1f99-b11a-40f7-ad87-4c0a1fbb9637\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"c5c7917f-9203-4a34-b736-72625156bc1e\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"\
        ,\r\n        \"etag\": \"W/\\\"c5c7917f-9203-4a34-b736-72625156bc1e\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundNatRules\"\
        : [],\r\n    \"inboundNatPools\": []\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"c5c7917f-9203-4a34-b736-72625156bc1e"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1",
      "etag": "W/\"c5c7917f-9203-4a34-b736-72625156bc1e\"", "location": "westus",
      "properties": {"inboundNatRules": [{"properties": {"protocol": "Tcp", "backendPort":
      100, "frontendIPConfiguration": {"etag": "W/\"c5c7917f-9203-4a34-b736-72625156bc1e\"",
      "properties": {"privateIPAllocationMethod": "Dynamic", "provisioningState":
      "Succeeded", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"},
      "enableFloatingIP": false, "frontendPort": 100}, "name": "rule1"}], "resourceGuid":
      "2d2b1f99-b11a-40f7-ad87-4c0a1fbb9637", "frontendIPConfigurations": [{"etag":
      "W/\"c5c7917f-9203-4a34-b736-72625156bc1e\"", "properties": {"privateIPAllocationMethod":
      "Dynamic", "provisioningState": "Succeeded", "publicIPAddress": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"}],
      "outboundNatRules": [], "loadBalancingRules": [], "inboundNatPools": [], "backendAddressPools":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "etag": "W/\"c5c7917f-9203-4a34-b736-72625156bc1e\"", "name": "lb1bepool", "properties":
      {"provisioningState": "Succeeded"}}], "provisioningState": "Succeeded", "probes":
      []}, "tags": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://managem[...]
[...]
- request:
    body: !!python/unicode '{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/networkInterfaces/nic1",
      "etag": "W/\"64b7ffc8-2b3a-4d32-b49e-ef712e55eaca\"", "location": "westus",
      "properties": {"resourceGuid": "2052dc39-b89f-4528-aa83-d8abcc3e2b30", "enableIPForwarding":
      false, "dnsSettings": {"internalDomainNameSuffix": "gspxgxaiownexoq5g4iiy5co1d.dx.internal.cloudapp.net",
      "dnsServers": [], "appliedDnsServers": []}, "ipConfigurations": [{"etag": "W/\"64b7ffc8-2b3a-4d32-b49e-ef712e55eaca\"",
      "properties": {"loadBalancerInboundNatRules": [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/rule1"},
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/rule2"}],
      "subnet": {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "privateIPAddressVersion": "ipv4", "privateIPAllocationMethod": "static", "loadBalancerBackendAddressPools":
      [{"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bap1"},
      {"id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_nic_subresource/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/bap2"}],
      "primary": true, "privateIPAddress": "10.0.0.15", "provisioningState": "Succeeded"},
      "name": "ipconfig1", "id": "/subscriptio[...]
[...]
