interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_secret000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001","name":"cli_test_keyvault_secret000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"assignedLicenses":[{"disabledPlans":[],"skuId":"a403ebcc-fae0-4ca2-8c8c-7a907fd6c235"}],"assignedPlans":[{"assignedTimestamp":"2017-12-07T23:01:21Z","capabilityStatus":"Enabled","service":"AzureAnalysis","servicePlanId":"2049e525-b859-401b-b2a0-e0a31c4b1fe4"}],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-12-05T17:57:50Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"usageLocation":"US","userIdentities":[],"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['649239']
      ocp-aad-diagnostics-server-name: [ShpFU1l8/UWBp1llA7KGWJ/NOpRjQx6lJ+IbmS6kcao=]
      ocp-aad-session-key: [7_CbCaTrVSuA18JwQLxjCmYAwgHvtcQ_rEOtxG5VxMTMqTg4FvWyj_zhC0AKPUfA28q0wTS2gR6HJsDxxnOHFyxMNuS1L8nplxU3vLbeXQB54k4ZO4QopcMbjTcs0lwP.buTmoxXUoq5q8NAfOa0wWqspTSdY_CQrhkOZJt-Fh_w]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"accessPolicies": [{"objectId": "5963f50c-7c43-405c-af7e-53294de76abd",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "storage": ["get", "list", "delete", "set",
      "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"], "secrets":
      ["get", "list", "set", "delete", "backup", "restore", "recover"], "certificates":
      ["get", "list", "delete", "create", "import", "update", "managecontacts", "getissuers",
      "listissuers", "setissuers", "deleteissuers", "manageissuers", "recover"]},
      "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}], "sku": {"name": "premium",
      "family": "A"}, "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}, "location":
      "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kevault-000002?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kevault-000002","name":"cli-test-kevault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"]}}],"enabledForDeployment":false,"vaultUri":"https://cli-test-kevault-000002.vault.azure.net"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/keys?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/keys?api-version=2016-10-01
  response:
    body: {string: '{"value":null,"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/557ddf5b532a4b26a94f7d3747ced6be","attributes":{"enabled":true,"created":1513729675,"updated":1513729675,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1513729675,"updated":1513729675,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "DEF456", "contentType": "test type", "tags": {"test": "foo",
      "file-encoding": "utf-8"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/082821dea89e4feda8fbd4f5466b3660","attributes":{"enabled":true,"created":1513729678,"updated":1513729678,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"test type","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/082821dea89e4feda8fbd4f5466b3660","attributes":{"enabled":true,"created":1513729678,"updated":1513729678,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}},{"id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/557ddf5b532a4b26a94f7d3747ced6be","attributes":{"enabled":true,"created":1513729675,"updated":1513729675,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/?api-version=2016-10-01
  response:
    body: {string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/082821dea89e4feda8fbd4f5466b3660","attributes":{"enabled":true,"created":1513729678,"updated":1513729678,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/557ddf5b532a4b26a94f7d3747ced6be?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/557ddf5b532a4b26a94f7d3747ced6be","attributes":{"enabled":true,"created":1513729675,"updated":1513729675,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/backup?api-version=2016-10-01
  response:
    body: {string: '{"value":"KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLlJNbDdUR2d2b01MdXNhZmdXOGkxZ1k3RENjN[...]
[...]
- request:
    body: '{"value": "KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLlJNbDdUR2d2b01MdXNhZmdXOGkxZ1k3RENjNUw3WGhnZURZcVdVNFFadXRpeEtha0FlajB2NlQyMGlacldHRlZ5ZzRPZ0V6aFE5eUttRi00b25MeTRuZ3VDUGRmcVNyNUdtMHd5SkxJQXV5aXp6VzRfcTNuVEFLWE8yclVQaWQwRVh4dTJkZDEwbUhtdkZXUE1MOGFJMXRfVmdFR1NWdFF5UVJ1SHlRVGxNbEFmTjRGVTQ1Y2xsZmFIOVVoS3dpLWc[...]
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-8"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8/9f64387e33ad4ee3b1bf602c7189f4bf","attributes":{"enabled":true,"created":1513729698,"updated":1513729698,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8/9f64387e33ad4ee3b1bf602c7189f4bf","attributes":{"enabled":true,"created":1513729698,"updated":1513729698,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16le"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le/b2cef73235ea4a8e85d21dc572fb6f7c","attributes":{"enabled":true,"created":1513729701,"updated":1513729701,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16le"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le/b2cef73235ea4a8e85d21dc572fb6f7c","attributes":{"enabled":true,"created":1513729701,"updated":1513729701,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16le"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16be"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be/8a9f7e00b96c41e2a52f289c4a799ac5","attributes":{"enabled":true,"created":1513729705,"updated":1513729705,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16be"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be/8a9f7e00b96c41e2a52f289c4a799ac5","attributes":{"enabled":true,"created":1513729705,"updated":1513729705,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16be"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "ascii"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii/e67ff86073f44643a46008644874a70a","attributes":{"enabled":true,"created":1513729708,"updated":1513729708,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"ascii"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii/e67ff86073f44643a46008644874a70a","attributes":{"enabled":true,"created":1513729708,"updated":1513729708,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"ascii"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n",
      "tags": {"file-encoding": "base64"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64?api-version=2016-10-01
  response:
    body: {string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64/a50b3b3374f24d3487360693938ff8fc","attributes":{"enabled":true,"created":1513729712,"updated":1513729712,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"base64"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64/?api-version=2016-10-01
  response:
    body: {string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64/a50b3b3374f24d3487360693938ff8fc","attributes":{"enabled":true,"created":1513729712,"updated":1513729712,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"base64"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a",
      "tags": {"file-encoding": "hex"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex?api-version=2016-10-01
  response:
    body: {string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex/072f973cbc454c8095d49b15710a8599","attributes":{"enabled":true,"created":1513729715,"updated":1513729715,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"hex"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex/?api-version=2016-10-01
  response:
    body: {string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex/072f973cbc454c8095d49b15710a8599","attributes":{"enabled":true,"created":1513729715,"updated":1513729715,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"hex"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_secret000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGS0VZVkFVTFQ6NUZTRUNSRVRWNUkyM0RQT1RTN1FOR0pJWHxFOTFGQkQ3NkRBMEFEOEEzLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
