interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_secret000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001","name":"cli_test_keyvault_secret000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1190']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"assignedLicenses":[{"disabledPlans":[],"skuId":"a403ebcc-fae0-4ca2-8c8c-7a907fd6c235"}],"assignedPlans":[{"assignedTimestamp":"2017-12-07T23:01:21Z","capabilityStatus":"Enabled","service":"AzureAnalysis","servicePlanId":"2049e525-b859-401b-b2a0-e0a31c4b1fe4"}],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-12-05T17:57:50Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"usageLocation":"US","userIdentities":[],"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['496657']
      ocp-aad-diagnostics-server-name: [rciWiD1LgKe4vYlb6S9bF+XB2u0X8ML21KG3j9yUd6s=]
      ocp-aad-session-key: [5ezi6z9TqQKGc2O7jmHbruDUcB-HjtsFUooFq-4MkU7Nck7CrGtsFL4f0U-2D2fRnY87ilCXLByvdUmMBoMRlKLz5_0PyIMJ3E6AbLT4kGbEQftQ4lhhY1dLrpTuxhJ0.J8T2G6HjAEcWsR_DR8_GlDV513H6X3Z9nWD3TTLF9xs]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "accessPolicies":
      [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "permissions": {"storage":
      ["get", "list", "delete", "set", "update", "regeneratekey", "setsas", "listsas",
      "getsas", "deletesas"], "secrets": ["get", "list", "set", "delete", "backup",
      "restore", "recover"], "keys": ["get", "create", "delete", "list", "update",
      "import", "backup", "restore", "recover"], "certificates": ["get", "list", "delete",
      "create", "import", "update", "managecontacts", "getissuers", "listissuers",
      "setissuers", "deleteissuers", "manageissuers", "recover"]}, "objectId": "5963f50c-7c43-405c-af7e-53294de76abd"}],
      "sku": {"family": "A", "name": "premium"}}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kevault-000002?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kevault-000002","name":"cli-test-kevault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"],"secrets":["get","list","set","delete","backup","restore","recover"],"keys":["get","create","delete","list","update","import","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"]}}],"enabledForDeployment":false,"vaultUri":"https://cli-test-kevault-000002.vault.azure.net"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/keys?api-version=2016-10-01
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/keys?api-version=2016-10-01
  response:
    body: {string: '{"value":null,"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/5d15fee9ca014160b870b72a665fd9ae","attributes":{"enabled":true,"created":1512689656,"updated":1512689656,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1512689656,"updated":1512689656,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "DEF456", "contentType": "test type", "tags": {"test": "foo",
      "file-encoding": "utf-8"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/3fbd2d39f1414cb6ba25c65fc408db81","attributes":{"enabled":true,"created":1512689657,"updated":1512689657,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"contentType":"test type","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/3fbd2d39f1414cb6ba25c65fc408db81","attributes":{"enabled":true,"created":1512689657,"updated":1512689657,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}},{"id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/5d15fee9ca014160b870b72a665fd9ae","attributes":{"enabled":true,"created":1512689656,"updated":1512689656,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/?api-version=2016-10-01
  response:
    body: {string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/3fbd2d39f1414cb6ba25c65fc408db81","attributes":{"enabled":true,"created":1512689657,"updated":1512689657,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/5d15fee9ca014160b870b72a665fd9ae?api-version=2016-10-01
  response:
    body: {string: '{"value":"ABC123","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/5d15fee9ca014160b870b72a665fd9ae","attributes":{"enabled":true,"created":1512689656,"updated":1512689656,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/secret1/backup?api-version=2016-10-01
  response:
    body: {string: '{"value":"KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLlpfTFMtXy16by1MSVBvWTEzTV9UOHRXd3NCR[...]
[...]
- request:
    body: '{"value": "KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V4TWpoRFFrTXRTRk15TlRZaWZRLlpfTFMtXy16by1MSVBvWTEzTV9UOHRXd3NCRzRVYXp1TENOcFJhNDZHbkk1WWl2ZlRZOFRwbzNMZFRiZEZkU3ZjcE5OTVlMY0ZnbzB5QURPeURBa0prZ3h6UUZ2VGt5MXJ6QmxTeEdYZmN3dFJ0OW04NmZtdEN4TGtBRkwybnpzNFNCMEVIeFFGZlR0S3F5S2JjV0lMbFRfNWpNU24zZW9QemlVS0Z0QncyaXh2WGxQVmdEUktEN0tpTHY2aEo2QnZ[...]
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-8"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8/2b5a0f94375642a6a973c65299c53171","attributes":{"enabled":true,"created":1512689662,"updated":1512689662,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-8/2b5a0f94375642a6a973c65299c53171","attributes":{"enabled":true,"created":1512689662,"updated":1512689662,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16le"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le/4c0812bd467940c1a4ec42205d970618","attributes":{"enabled":true,"created":1512689664,"updated":1512689664,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16le"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16le/4c0812bd467940c1a4ec42205d970618","attributes":{"enabled":true,"created":1512689664,"updated":1512689664,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16le"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16be"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be/71a298cf156540149993c2d3b65891d6","attributes":{"enabled":true,"created":1512689665,"updated":1512689665,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16be"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-utf-16be/71a298cf156540149993c2d3b65891d6","attributes":{"enabled":true,"created":1512689665,"updated":1512689665,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16be"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "ascii"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii/5bee06f135ed43cdbc524ca632343171","attributes":{"enabled":true,"created":1512689665,"updated":1512689665,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"ascii"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii/?api-version=2016-10-01
  response:
    body: {string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-ascii/5bee06f135ed43cdbc524ca632343171","attributes":{"enabled":true,"created":1512689665,"updated":1512689665,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"ascii"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n",
      "tags": {"file-encoding": "base64"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64?api-version=2016-10-01
  response:
    body: {string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64/8aea5cf67d3244f19864b80e7be34691","attributes":{"enabled":true,"created":1512689667,"updated":1512689667,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"base64"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64/?api-version=2016-10-01
  response:
    body: {string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-base64/8aea5cf67d3244f19864b80e7be34691","attributes":{"enabled":true,"created":1512689667,"updated":1512689667,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"base64"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a",
      "tags": {"file-encoding": "hex"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex?api-version=2016-10-01
  response:
    body: {string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex/0226c09348bb4d3daefa2d7e929aa884","attributes":{"enabled":true,"created":1512689667,"updated":1512689667,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"hex"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex/?api-version=2016-10-01
  response:
    body: {string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kevault-000002.vault.azure.net/secrets/download-hex/0226c09348bb4d3daefa2d7e929aa884","attributes":{"enabled":true,"created":1512689667,"updated":1512689667,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"hex"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_keyvault_secret000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGS0VZVkFVTFQ6NUZTRUNSRVRNWUlVRUNJQzRTWU5FUVlITXwxMkUzNDI1MEJEMEMwNDBFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
