interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","deletionTimestamp":null,"accountEnabled":true,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Admin2","employeeId":null,"facsimileTelephoneNumber":null,"givenName":"Admin2","immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"admin2","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["destanko@microsoft.com"],"passwordPolicies":"None","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2017-09-06T17:11:13Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":"Admin2","telephoneNumber":null,"usageLocation":null,"userIdentities":[],"userPrincipalName":"admin2@AzureSDKTeam.onmicrosoft.com","userType":"Member"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['1371614']
      ocp-aad-diagnostics-server-name: [nqD28CyTcqD3Biknx4FyJZuYuPTfrh3H9scanSfz64Y=]
      ocp-aad-session-key: [QnyxkESZbfC8lrQ9UZyJO5GLOzQsfL7mZbZ_TtQs9VFSRGI3LFSLN26p6nJMBXt7fZFHYCa4iV0y-T99tb_iE1GxVG0-qBlBUl9E_PoXloAVA9n9enBuKG6mSWl3ugun.bBKcVt6soxXc0nFT4gYL6N-Bk8RmWoCrzPTyghFNxWI]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"sku": {"name": "premium", "family": "A"},
      "enableSoftDelete": true, "accessPolicies": [{"permissions": {"keys": ["get",
      "create", "delete", "list", "update", "import", "backup", "restore", "recover"],
      "secrets": ["get", "list", "set", "delete", "backup", "restore", "recover"],
      "certificates": ["get", "list", "delete", "create", "import", "update", "managecontacts",
      "getissuers", "listissuers", "setissuers", "deleteissuers", "manageissuers",
      "recover"], "storage": ["get", "list", "delete", "set", "update", "regeneratekey",
      "setsas", "listsas", "getsas", "deletesas"]}, "objectId": "5963f50c-7c43-405c-af7e-53294de76abd",
      "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}], "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-kv-sd/providers/Microsoft.KeyVault/vaults/cli-kv-test-softdelete1?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-kv-sd/providers/Microsoft.KeyVault/vaults/cli-kv-test-softdelete1","name":"cli-kv-test-softdelete1","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"5963f50c-7c43-405c-af7e-53294de76abd","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://cli-kv-test-softdelete1.vault.azure.net"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-kv-test-softdelete1.vault.azure.net/keys?api-version=2016-10-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-kv-test-softdelete1.vault.azure.net/keys?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"value":null,"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2015-11-01&$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-kv-sd/providers/Microsoft.KeyVault/vaults/cli-kv-test-softdelete1","name":"cli-kv-test-softdelete1","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sp_with_kv_existing_certkvg22v5fsol3lqdivew2w3dkv7qe2tcbcp7wmjxb53/providers/Microsoft.KeyVault/vaults/clitestemcd3ylngb6xyfjjh","name":"clitestemcd3ylngb6xyfjjh","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sp_with_kv_new_certxgwr3fn6lyna6zrxeastkyrtqvlylxcx4eylctfborrrthj/providers/Microsoft.KeyVault/vaults/clitestuznjfpcwnzpbea5ff","name":"clitestuznjfpcwnzpbea5ff","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation/providers/Microsoft.KeyVault/vaults/cliautomationlab786","name":"cliautomationlab786","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{"hidden-DevTestLabs-LabUId":"9f45d4bf-7e01-4684-9438-37c712728db1","CreatedBy":"DevTestLabs"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliautomation01/providers/Microsoft.KeyVault/vaults/cliautomationlab6073","name":"cliautomationlab6073","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{"hidden-DevTestLabs-LabUId":"72f1b266-2a21-4f0a-af01-934c93c72e6e","CreatedBy":"DevTestLabs"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg4mlozagf3pwtonk2fy32dz2fektoa5zcrvjis2bthl5uq7euxewj7saj52y5z5yd[...]
[...]
- request:
    body: !!python/unicode '{"tags": {}, "properties": {"sku": {"name": "premium",
      "family": "A"}, "enableSoftDelete": true, "vaultUri": "https://cli-kv-test-softdelete1.vault.azure.net/",
      "enabledForDeployment": false, "accessPolicies": [{"permissions": {"keys": ["get",
      "create", "delete", "list", "update", "import", "backup", "restore", "recover",
      "purge"], "secrets": ["get", "list", "set", "delete", "backup", "restore", "recover",
      "purge"], "certificat[...]
- request:
    body: !!python/unicode '{"attributes": {"enabled": true}, "value": "ABC123", "tags":
      {"file-encoding": "utf-8"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://cli-kv-test-softdelete1.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"value":"ABC123","id":"https://cli-kv-test-softdelete1.vault.azure.net/secrets/secret1/bf6b1cffffbc405eb90a46ad6373689e","attributes":{"enabled":true,"created":1504820532,"updated":1504820532,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-kv-test-softdelete1.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"recoveryId":"https://cli-kv-test-softdelete1.vault.azure.net/deletedsecrets/secret1","deletedDate":1504820532,"scheduledPurgeDate":1512596532,"id":"https://cli-kv-test-softdelete1.vault.azure.net/secrets/secret1/bf6b1cffffbc405eb90a46ad6373689e","attributes":{"enabled":true,"created":1504820532,"updated":1504820532,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-kv-test-softdelete1.vault.azure.net/deletedsecrets?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"value":[],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cli-kv-test-softdelete1.vault.azure.net/deletedsecrets/secret1/recover?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"id":"https://cli-kv-test-softdelete1.vault.azure.net/secrets/secret1/bf6b1cffffbc405eb90a46ad6373689e","attributes":{"enabled":true,"created":1504820532,"updated":1504820532,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-kv-test-softdelete1.vault.azure.net/secrets?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"value":[],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-kv-test-softdelete1.vault.azure.net/deletedsecrets/secret1?api-version=2016-10-01
  response:
    body: {string: !!python/unicode ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '{"attributes": {"enabled": true}, "kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cli-kv-test-softdelete1.vault.azure.net/keys/key1/create?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"key":{"kid":"https://cli-kv-test-softdelete1.vault.azure.net/keys/key1/5bec7ee825994317af03734736edba99","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wllSlTTNgN5LIB-dF7vgf69URwbTgPae68DkM6BxJWexIaOaCqNWhZQKawhjchcBGihkKVv2ba3t2u_sR_MvZVX0pBUlwoP7oMtxt2NhzRSPyb8mrnmM2wZ6EViyl7fwXtPjtgQDvgjDXLvTxM-IhulCVurIDsurCt8OYVjIFIDw-lJ_7vBD6TJ-4gBfmhen82sWETi7dozimlUFXVm8eis0hyP4No3yB4iaHt4J4Nx5_9d1afGMn70pveYNXuU9YY7tNO-JvH_m-rEfiF4ICVmiwASVd7pG4PuWS3NyhlsI5yriN4rxj00mS9RnixLBx55Z68gRB8b2gRYIndeh5Q","e":"AQAB"},"attributes":{"enabled":true,"created":1504820585,"updated":1504820585,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-kv-test-softdelete1.vault.azure.net/keys/key1?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"recoveryId":"https://cli-kv-test-softdelete1.vault.azure.net/deletedkeys/key1","deletedDate":1504820585,"scheduledPurgeDate":1512596585,"key":{"kid":"https://cli-kv-test-softdelete1.vault.azure.net/keys/key1/5bec7ee825994317af03734736edba99","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wllSlTTNgN5LIB-dF7vgf69URwbTgPae68DkM6BxJWexIaOaCqNWhZQKawhjchcBGihkKVv2ba3t2u_sR_MvZVX0pBUlwoP7oMtxt2NhzRSPyb8mrnmM2wZ6EViyl7fwXtPjtgQDvgjDXLvTxM-IhulCVurIDsurCt8OYVjIFIDw-lJ_7vBD6TJ-4gBfmhen82sWETi7dozimlUFXVm8eis0hyP4No3yB4iaHt4J4Nx5_9d1afGMn70pveYNXuU9YY7tNO-JvH_m-rEfiF4ICVmiwASVd7pG4PuWS3NyhlsI5yriN4rxj00mS9RnixLBx55Z68gRB8b2gRYIndeh5Q","e":"AQAB"},"attributes":{"enabled":true,"created":1504820585,"updated":1504820585,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-kv-test-softdelete1.vault.azure.net/deletedkeys?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"value":[],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://cli-kv-test-softdelete1.vault.azure.net/deletedkeys/key1/recover?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"key":{"kid":"https://cli-kv-test-softdelete1.vault.azure.net/keys/key1/5bec7ee825994317af03734736edba99","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wllSlTTNgN5LIB-dF7vgf69URwbTgPae68DkM6BxJWexIaOaCqNWhZQKawhjchcBGihkKVv2ba3t2u_sR_MvZVX0pBUlwoP7oMtxt2NhzRSPyb8mrnmM2wZ6EViyl7fwXtPjtgQDvgjDXLvTxM-IhulCVurIDsurCt8OYVjIFIDw-lJ_7vBD6TJ-4gBfmhen82sWETi7dozimlUFXVm8eis0hyP4No3yB4iaHt4J4Nx5_9d1afGMn70pveYNXuU9YY7tNO-JvH_m-rEfiF4ICVmiwASVd7pG4PuWS3NyhlsI5yriN4rxj00mS9RnixLBx55Z68gRB8b2gRYIndeh5Q","e":"AQAB"},"attributes":{"enabled":true,"created":1504820585,"updated":1504820585,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-kv-test-softdelete1.vault.azure.net/deletedkeys/key1?api-version=2016-10-01
  response:
    body: {string: !!python/unicode ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '{"policy": {"key_props": {"key_size": 2048, "exportable":
      true, "kty": "RSA", "reuse_key": false}, "secret_props": {"contentType": "application/x-pem-file"},
      "issuer": {"name": "Self"}}, "attributes": {"enabled": true, "nbf": 1477593836,
      "exp": 1509130436}, "value": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCRUPFgOvovNJ0e\nXSHlcm2V9w/ECwzMc31BaN2xBmWjegmqixv9GN3GWMgUQ9zC9k9bxd491Awa55Sq\nht86TL8Q3Fcn8fXuhWbX/gNAO8h5tfuQVA1zB5bVxEQsCNmmLrpgNhLYO+excyCJ\nocqidQostSQfcXU7qJtifpgmRt5oW3WhmpVsnAugS8y8vbCGJXdKqLCZXjL/H0aa\n+r/Z3BzQ+BglULKYshSBinxbYe+1GJ/028/50y/MPf9iFiiS9xtspOtSzd1e+NA5\nG+pCMppJHars9D/FavTewI1zJa9jPxtrwr8L3nEmy9gv6v1474XNYaagtQNjdU0b\nAV3EDfn9AgMBAAECggEADJtGjXAgYzb/yHIQ7jxamG96DSpePmB[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-kv-test-softdelete1.vault.azure.net/certificates/cert1?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"recoveryId":"https://cli-kv-test-softdelete1.vault.azure.net/deletedcertificates/cert1","deletedDate":1504820631,"scheduledPurgeDate":1512596631,"id":"https://cli-kv-test-softdelete1.vault.azure.net/certificates/cert1/0fa2ac94d2e543888631b05a14585cfc","kid":"https://cli-kv-test-softdelete1.vault.azure.net/keys/cert1/0fa2ac94d2e543888631b05a14585cfc","sid":"https://cli-kv-test-softdelete1.vault.azure.net/secrets/cert1/0fa2ac94d2e543888631b05a14585cfc","x5t":"lDc9zly8mcTcjym-jyov2aJhNDA","cer":"MIIDJDCCAgygAwIBAgIQc/Rvc7SNT/iJre6II78vpTANBgkqhkiG9w0BAQsFADAPMQ0wCwYDVQQDEwRUZXN0MB4XDTE2MTAyNzE4NDM1NloXDTE3MTAyNzE4NTM1NlowDzENMAsGA1UEAxMEVGVzdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJFQ8WA6+i80nR5dIeVybZX3D8QLDMxzfUFo3bEGZaN6CaqLG/0Y3cZYyBRD3ML2T1vF3j3UDBrnlKqG3zpMvxDcVyfx9e6FZtf+A0A7yHm1+5BUDXMHltXERCwI2aYuumA2Etg757FzIImhyqJ1Ciy1JB9xdTuom2J+mCZG3mhbdaGalWycC6BLzLy9sIYld0qosJleMv8fRpr6v9ncHND4GCVQspiyFIGKfFth77UYn/Tbz/nTL8w9/2IWKJL3G2yk61LN3V740Dkb6kIymkkdquz0P8Vq9N7AjXMlr2M/G2vCvwvecSbL2C/q/Xjvhc1hpqC1A2N1TRsBXcQN+f0CAwEAAaN8MHowDgYDVR0PAQH/BAQDAgWgMAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFJh9TmNuesqccgmdVu7WD6bYiurmMB0GA1UdDgQWBBSYfU5jbnrKnHIJnVbu1g+m2Irq5jANBgkqhkiG9w0BAQsFAAOCAQEAj0vTtSCjSQIZagzOvjTtZvnKH6E0q0zX+MAtJnS8Cb/XVPEW0FqN5TLXvvaktjKCDHSPmYwneTjV3hjNe+jB03R1Z2auxnscjSfLT4+tthrCiHTLX+WrR+F3SwOX/cVFGiU0z1IcJe5m49qiUJ6kemHaa6umgfGXHbnCqzR76WkhDJWFz9MXFFvFTRGE+267sliQf8PrKr65oOEVZV/E+SInQdm+H1LYWAbig4UxHN8UQ54G9mdW1e/uRumAT73uty+C0O8VQvNvsco2HAiPOtDce4CJleZxiAv6z0Y6PKRYb4xw+xnmqpC8ks1T93JFaniHl53cqRNbXy5t9t9Cag==","attributes":{"enabled":true,"nbf":1477593836,"exp":1509130436,"created":1504820632,"updated":1504820632,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://cli-kv-test-softdelete1.vault.azure.net/certificates/cert1/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":false},"secret_props":{"contentType":"application/x-pem-file"},"x509_props":{"subject":"CN=Test","ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["digitalSignature","keyEncipherment"],"validity_months":13,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"lifetime_percentage":80},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1504820632,"updated":1504820632}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://cli-kv-test-softdelete1.vault.azure.net/deletedcertificates?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"value":[],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://cli-kv-test-softdelete1.vault.azure.net/deletedcertificates/cert1?api-version=2016-10-01
  response:
    body: {string: !!python/unicode ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/cli-kv-test-softdelete1/purge?api-version=2016-10-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNjQwNDE3NDUwNzAwMjI4NnwwM0Q5OTRBQkM1ODg0RENDOUJGQTc3ODQzREQzM0Q1Qg?api-version=2016-10-01']
      retry-after: ['5']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNjQwNDE3NDUwNzAwMjI4NnwwM0Q5OTRBQkM1ODg0RENDOUJGQTc3ODQzREQzM0Q1Qg?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"createdDateTime":"2017-09-07 21:44:09Z","status":"NotStarted"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNjQwNDE3NDUwNzAwMjI4NnwwM0Q5OTRBQkM1ODg0RENDOUJGQTc3ODQzREQzM0Q1Qg?api-version=2016-10-01']
      retry-after: ['5']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzNjQwNDE3NDUwNzAwMjI4NnwwM0Q5OTRBQkM1ODg0RENDOUJGQTc3ODQzREQzM0Q1Qg?api-version=2016-10-01
  response:
    body: {string: !!python/unicode '{"createdDateTime":"2017-09-07 21:44:09Z","lastActionDateTime":"2017-09-07
        21:44:22Z","status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
