interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2471519'
      ocp-aad-diagnostics-server-name:
      - 7/al7S0Qh57bz+89nP+mnwDwdim1hKdV5Sukqtc2xmA=
      ocp-aad-session-key:
      - KdoRGhFVawQhX8tbG9iWDpQ_cRSs0lbAWmdHGdinII0gAcelStFUDvHNvQyMlvQBXavHObbeWwJftPEJRdZFJ-1uhDSLVtiQGIdBhuCUBZuDimsXDcJZAKO3M1_H17r4.ziwSlFHIC4xqhHJfr50-N1q3AuabFc5Iol-QAOK3pAA
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002?api-version=2016-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002","name":"cli-test-kv-se-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"vaultUri":"https://cli-test-kv-se-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/06287e7155cf4f9185552ee2148b49b3","attributes":{"enabled":true,"created":1600760454,"updated":1600760454,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?api-version=2016-10-01
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1600760454,"updated":1600760454,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "DEF456", "tags": {"test": "foo", "file-encoding": "utf-8"},
      "contentType": "test type", "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/964a7adc82de4410baf3869877c314a5","attributes":{"enabled":true,"created":1600760456,"updated":1600760456,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?api-version=2016-10-01
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/06287e7155cf4f9185552ee2148b49b3","attributes":{"enabled":true,"created":1600760454,"updated":1600760454,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}},{"contentType":"test
        type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/964a7adc82de4410baf3869877c314a5","attributes":{"enabled":true,"created":1600760456,"updated":1600760456,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/964a7adc82de4410baf3869877c314a5","attributes":{"enabled":true,"created":1600760456,"updated":1600760456,"recoveryLevel":"Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/06287e7155cf4f9185552ee2148b49b3?api-version=2016-10-01
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/06287e7155cf4f9185552ee2148b49b3","attributes":{"enabled":true,"created":1600760454,"updated":1600760454,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/backup?api-version=2016-10-01
  response:
    body:
      string: '{"value":"KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLktDM094aUNWOWtYNFg3Rk0yUVl3[...]
[...]
- request:
    body: '{"value": "KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLktDM094aUNWOWtYNFg3Rk0yUVl3bXNTSk84WkFRUzdIUW93aWxYOURkSkpXUTdSU241TS0zU1Q5UkQxUFFXU0gta0treW5zaEdDR1l3R3ZGemg3SzlPT3lMUG5LbG9aS3pLUjJyUThFZkdWdkIzV2h2aU1lbTkyTGJCTVQ3QWlfbk0yLWhfMzY1ZEJlM3VBY1RCclBSaVlRQ1ZidDVCUGlyWVNnNWVhdmhFS2pjRFhZSmxua3YtVjZXWU9UMGcwS0l[...]
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/b58a505ec8ba42e18540995c7186294b","attributes":{"enabled":true,"created":1600760471,"updated":1600760471,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/b58a505ec8ba42e18540995c7186294b","attributes":{"enabled":true,"created":1600760471,"updated":1600760471,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16le"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/4a85734c81a044ecb773ae463036f8f6","attributes":{"enabled":true,"created":1600760473,"updated":1600760473,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/4a85734c81a044ecb773ae463036f8f6","attributes":{"enabled":true,"created":1600760473,"updated":1600760473,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16be"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/e8ed9f7c11a946839894eb4f9299eb41","attributes":{"enabled":true,"created":1600760476,"updated":1600760476,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/e8ed9f7c11a946839894eb4f9299eb41","attributes":{"enabled":true,"created":1600760476,"updated":1600760476,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "ascii"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/2feca41f2edd463b93dc81b85efc29ad","attributes":{"enabled":true,"created":1600760478,"updated":1600760478,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/2feca41f2edd463b93dc81b85efc29ad","attributes":{"enabled":true,"created":1600760478,"updated":1600760478,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n",
      "tags": {"file-encoding": "base64"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64?api-version=2016-10-01
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/90ad385c27a042328f51cc0be96374a0","attributes":{"enabled":true,"created":1600760480,"updated":1600760480,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/90ad385c27a042328f51cc0be96374a0","attributes":{"enabled":true,"created":1600760480,"updated":1600760480,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a",
      "tags": {"file-encoding": "hex"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex?api-version=2016-10-01
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/26c43926c99840089362a49b53f02a03","attributes":{"enabled":true,"created":1600760483,"updated":1600760483,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/26c43926c99840089362a49b53f02a03","attributes":{"enabled":true,"created":1600760483,"updated":1600760483,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
