interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1879762'
      ocp-aad-diagnostics-server-name:
      - Mah9VTlR8plRJ1R+Xxbej/GdnUIfsrVYv/9uvpzGOls=
      ocp-aad-session-key:
      - Fy2WVncEnlHCwWsY9RcVleg_xOxrVdgCPR8-6cIOMWeDw749YbkVquCTn_jsLqF1VRR-B3PsmcUxK4dXqOZ95qtqd4FZnTfGPlQpceOi4f0YD1H5b0Yy7Q7pMWkS-lhN.WmqevKhDucmTYhvP72N0ZhhKSkCrpQgYga4tM358pfY
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_cert_issuer000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002?api-version=2016-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_kv_cert_issuer000001/providers/Microsoft.KeyVault/vaults/cli-test-keyvault-000002","name":"cli-test-keyvault-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"vaultUri":"https://cli-test-keyvault-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers/issuer1?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"provider": "Test", "credentials": {}, "org_details": {"admin_details":
      []}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers/issuer1?api-version=2016-10-01
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers/issuer1","provider":"Test","credentials":{},"org_details":{"zip":0,"admin_details":[]},"attributes":{"enabled":true,"created":1595485589,"updated":1595485589}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"provider": "Test", "credentials": {"account_id": "test_account"}, "org_details":
      {"id": "TestOrg", "admin_details": []}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers/issuer1?api-version=2016-10-01
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers/issuer1","provider":"Test","credentials":{"account_id":"test_account"},"org_details":{"id":"TestOrg","zip":0,"admin_details":[]},"attributes":{"enabled":true,"created":1595485589,"updated":1595485593}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers/notexist?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"CertificateIssuerNotFound","message":"Issuer not
        found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers?api-version=2016-10-01
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers/issuer1","provider":"Test"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"provider": "Test", "credentials": {}, "org_details": {"id": "TestOrg",
      "admin_details": [{"first_name": "Test", "last_name": "Admin", "email": "test@test.com",
      "phone": "123-456-7890"}]}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers/issuer1?api-version=2016-10-01
  response:
    body:
      string: '{"id":"https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers/issuer1","provider":"Test","credentials":{},"org_details":{"id":"TestOrg","zip":0,"admin_details":[{"first_name":"Test","last_name":"Admin","email":"test@test.com","phone":"123-456-7890"}]},"attributes":{"enabled":true,"created":1595485589,"updated":1595485600}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-keyvault-000002.vault.azure.net/certificates/issuers?api-version=2016-10-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
