interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
<<<<<<< HEAD
      - Fri, 21 Aug 2020 08:44:59 GMT
      duration:
      - '2494223'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - ZtjrL6855/1nWsQgXw4059xGL7CEBjwxyLJieTbtGTs=
      ocp-aad-session-key:
      - pBLEoiQiutpG3VrOLQdWXAUE1eg8rsdaq6vcqtSoGIMM1cRu9PwypyKY_ATwEqAWpTzOFDOI2bBJmwdhTf4YYP-7Cvsb791E7WkUDczCxwMwUm7WVKm-UZwWsU5oQpyZ.AgG-uGgepbRLgHgwk60eWPxHt24aENAIKiiNR0KhPjk
      pragma:
      - no-cache
      request-id:
      - 9e160a2c-c864-48ae-b99a-db41b40a036e
=======
      - Sat, 12 Sep 2020 05:27:58 GMT
      duration:
      - '2201665'
      expires:
      - '-1'
      ocp-aad-diagnostics-server-name:
      - qftXp5zc6ydbQAq8Ev582RPlrRAnvm1DC9BwcgegNJ8=
      ocp-aad-session-key:
      - HWB2tI__MVx6ZMZYjzPtpf1gTkts7M-pYEpsrZ-LGaGeKkkk_z78ztQ39JUSWTVCTDgScgnV6mpzju9yUWS2K8sHGkV_TFOEVuZ_EDMDWneXuNPbdNSfdwu3HXo24VBH.y-T3FFkNo3YGyoeoVyIKEQ8B_WrHglSK1fsXofMPT1w
      pragma:
      - no-cache
      request-id:
      - 60af4257-9da6-4f59-ae0c-a6ac7185b4ae
>>>>>>> dev
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002?api-version=2016-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002","name":"cli-test-kv-se-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":false,"vaultUri":"https://cli-test-kv-se-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 21 Aug 2020 08:45:07 GMT
=======
      - Sat, 12 Sep 2020 05:28:05 GMT
>>>>>>> dev
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-service-version:
      - 1.1.55.0
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1197'
=======
      - '1192'
>>>>>>> dev
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 21 Aug 2020 08:45:08 GMT
=======
      - Sat, 12 Sep 2020 05:28:06 GMT
>>>>>>> dev
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000;includeSubDomains
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-network-info:
      - conn_type=Ipv4;addr=167.220.255.120;act_addr_fam=InterNetwork;
      x-ms-keyvault-region:
      - westus
      x-ms-keyvault-service-version:
      - 1.1.60.0
      x-powered-by:
      - ASP.NET
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/c98329d90a0b483eab1a12def3d054ac","attributes":{"enabled":true,"created":1597999509,"updated":1597999509,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'
=======
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/b063b270bbf04179a587201ddb1de90a","attributes":{"enabled":true,"created":1599888487,"updated":1599888487,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}'
>>>>>>> dev
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 21 Aug 2020 08:45:09 GMT
=======
      - Sat, 12 Sep 2020 05:28:06 GMT
>>>>>>> dev
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000;includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-network-info:
      - conn_type=Ipv4;addr=167.220.255.120;act_addr_fam=InterNetwork;
      x-ms-keyvault-region:
      - westus
      x-ms-keyvault-service-version:
      - 1.1.60.0
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1597999509,"updated":1597999509,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
=======
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1599888487,"updated":1599888487,"recoveryLevel":"Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
>>>>>>> dev
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Fri, 21 Aug 2020 08:45:10 GMT
=======
      - Sat, 12 Sep 2020 05:28:07 GMT
>>>>>>> dev
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000;includeSubDomains
      x-aspnet-version:
      - 4.0.30319
      x-content-type-options:
      - nosniff
      x-ms-keyvault-network-info:
      - conn_type=Ipv4;addr=167.220.255.120;act_addr_fam=InterNetwork;
      x-ms-keyvault-region:
      - westus
      x-ms-keyvault-service-version:
      - 1.1.60.0
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "DEF456", "tags": {"test": "foo", "file-encoding": "utf-8"},
      "contentType": "test type", "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/edba9f7ed95c406cbe5a8e2c905cff3f","attributes":{"enabled":true,"created":1597999512,"updated":1597999512,"recoveryLevel":"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/c98329d90a0b483eab1a12def3d054ac","attributes":{"enabled":true,"created":1597999509,"updated":1597999509,"recoveryLevel":"Purgeable"},"tags":{"file-encod[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/edba9f7ed95c406cbe5a8e2c905cff3f","attributes":{"enabled":true,"created":1597999512,"updated":1597999512,"recoveryLevel":"Purgea[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
<<<<<<< HEAD
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/c98329d90a0b483eab1a12def3d054ac?api-version=2016-10-01
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/c98329d90a0b483eab1a12def3d054ac","attributes":{"enabled":true,"created":1597999509,"updated":1597999509,"recoveryLevel":"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/backup?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLldEVFFoa3NJNlB[...]
[...]
- request:
<<<<<<< HEAD
    body: '{"value": "KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQ0lzSW1WdVl5STZJa0V5TlRaRFFrTXRTRk0xTVRJaWZRLldEVFFoa3NJNlBSQ280TDgteFlGS0ZCdExGNmY2MHZMb1EzeEV3TVFVUUdjenBPSUQ5cmtqcXpWSko2c3V4ZlN2MUY1VnQtRmUtN1hMbzI2M3pMTVBlODMzNW9kWG5SNXpnc2hUOFFKaG80ZWtSYjF6LWdyWGNLc09mQ3U3cGpJRlJSNVg4eDBqb090VXRxakNkTFpjbUpDd040dWEwdjExdGtPMFpEWEVYTExLRExOV0tZaWlWQ0[...]
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/downloa[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/80fbc97b8338402087d5ccfb049cfc84","attributes":{"enabled":true,"created":1597999526,"updated":1597999526[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16le"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/d[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/69ccf9668a1b4690b0d19991d6af9af0","attributes":{"enabled":true,"created":1597999528,"updated":1597[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16be"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/d[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/d9f716ddd663425da051807f3e5f299e","attributes":{"enabled":true,"created":1597999530,"updated":1597[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "ascii"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/downloa[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/b693567556d04b34a37545c5c2311aad","attributes":{"enabled":true,"created":1597999532,"updated":1597999532[...]
- request:
    body: '{"value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n",
      "tags": {"file-encoding": "base64"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kv-se-0000[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/62db3a0ba2a845249aaa8e0ef874a934","attributes":{"enabled":true,"created":1597999535,"u[...]
- request:
    body: '{"value": "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a",
      "tags": {"file-encoding": "hex"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"5465737453656372657454657374536563726574546573745365637265745465737453656[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/?api-version=2016-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/5a5ac3e8d1f144b5ba3e7d2587289209","attributes":{"enabled":true,"cr[...]
