interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2019-10-21T06:37:42Z","creationType":"Invitation","department":null,"dirSyncEnabled":null,"displayName":"Bin
        Ma","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":"bim@microsoft.com","mailNickname":"bim_microsoft.com#EXT#","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":["bim@microsoft.com"],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":["SMTP:bim@microsoft.com"],"refreshTokensValidFromDateTime":"2019-10-21T06:37:41Z","showInAddressList":false,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"bim_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com","userState":"Accepted","userStateChangedOn":"2019-10-21T06:39:35Z","userType":"Guest"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2580446'
      ocp-aad-diagnostics-server-name:
      - 8Z/MS0CWlHw1dNfvy/nbIKpRwnC6TfjT/NDxOinAR9E=
      ocp-aad-session-key:
      - JsJHssYTbLh1ZMRR4hOcip0nsWPwDziZgqg1fSzbT2EwFH1VvnSAp3hqUPFBLV8a4uvI9IN04ltY8aKvec33-y2LqZIy7cvs5T8S8eniGBdFTKgqrC463w0O1cwBKR4v.pxdex-QIXWJFsUEdtMCBlJkVIuNjKI_ZHKuWTeMtl-Q
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover"], "certificates": ["get", "list", "delete", "create", "import", "update",
      "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover"], "storage": ["get", "list", "delete", "set", "update",
      "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}], "enableSoftDelete":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002?api-version=2016-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_secret000001/providers/Microsoft.KeyVault/vaults/cli-test-kv-se-000002","name":"cli-test-kv-se-000002","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://cli-test-kv-se-000002.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv2","name":"azps-test-kv2","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-test-group/providers/Microsoft.KeyVault/vaults/azps-test-kv4","name":"azps-test-kv4","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv1","name":"bim-kv1","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":"bim-kv5","type":"Microsoft.KeyVault/vaults","location":"eastus2euap","tags":{"k1":"v1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bimkv2","name":"bimkv2","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/dogfood-env-pwd","name":"dogfood-env-pwd","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "premium"}, "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "9ac02ab3-5061-4ec6-a3d8-2cdaa5f29efa", "permissions": {"keys":
      ["get", "create", "delete", "list", "update", "import", "backup", "restore",
      "recover"], "secrets": ["delete", "recover", "list", "get", "backup", "restore",
   [...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "ABC123", "tags": {"file-encoding": "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/0f4e29544f6f4cb68e187436b175439a","attributes":{"enabled":true,"created":1604294476,"updated":1604294476,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets?api-version=2016-10-01
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1","attributes":{"enabled":true,"created":1604294476,"updated":1604294476,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "DEF456", "tags": {"test": "foo", "file-encoding": "utf-8"},
      "contentType": "test type", "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/80ba619445f84f3ca90f70459f3f8675","attributes":{"enabled":true,"created":1604294479,"updated":1604294479,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/versions?api-version=2016-10-01
  response:
    body:
      string: '{"value":[{"id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/0f4e29544f6f4cb68e187436b175439a","attributes":{"enabled":true,"created":1604294476,"updated":1604294476,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}},{"contentType":"test
        type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/80ba619445f84f3ca90f70459f3f8675","attributes":{"enabled":true,"created":1604294479,"updated":1604294479,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"DEF456","contentType":"test type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/80ba619445f84f3ca90f70459f3f8675","attributes":{"enabled":true,"created":1604294479,"updated":1604294479,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/0f4e29544f6f4cb68e187436b175439a?api-version=2016-10-01
  response:
    body:
      string: '{"value":"ABC123","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/0f4e29544f6f4cb68e187436b175439a","attributes":{"enabled":true,"created":1604294476,"updated":1604294476,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/backup?api-version=2016-10-01
  response:
    body:
      string: '{"value":"KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAuS0V0MUhwbHQxZGw5ZFpU[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1?api-version=2016-10-01
  response:
    body:
      string: '{"recoveryId":"https://cli-test-kv-se-000002.vault.azure.net/deletedsecrets/secret1","deletedDate":1604294488,"scheduledPurgeDate":1612070488,"contentType":"test
        type","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/secret1/80ba619445f84f3ca90f70459f3f8675","attributes":{"enabled":false,"created":1604294479,"updated":1604294486,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"test":"foo","file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: DELETE
    uri: https://cli-test-kv-se-000002.vault.azure.net/deletedsecrets/secret1?api-version=2016-10-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"value": "KUF6dXJlS2V5VmF1bHRTZWNyZXRCYWNrdXBWMS5taWNyb3NvZnQuY29tZXlKcmFXUWlPaUkwTXpnMVlqQTNZaTFrTlRRM0xUUXlaVFV0WVdVNVpTMDJNVEJrWXpNNVpHWmhaamdpTENKaGJHY2lPaUpTVTBFdFQwRkZVQzB5TlRZaUxDSmxibU1pT2lKQk1qVTJRMEpETFVoVE5URXlJbjAuS0V0MUhwbHQxZGw5ZFpUbUFCV2tILXFibkh2NUJzQkRWMmtOSVIyZ082dkdIcGZTMWs0OUZiNjhJWWE2SmlxSDV6dzhzczR5clJ1Yl9tMUhfWm15djFzNTZIbUotVkkzc3RjREVPQWd2VXd1dzEycDl6aGRGOU9FZGdTMkE5emtqS2swUG4yREZldzdPajZqNkJJNU5hVzRETG9YaWgyc09mWWZIdmJEV3FWQUpnQTFmaHBtdEFmZ1lkUDF[...]
[...]
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-8"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/242a57c2f0e14080a18b75817abd62bd","attributes":{"enabled":true,"created":1604294518,"updated":1604294518,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-8/242a57c2f0e14080a18b75817abd62bd","attributes":{"enabled":true,"created":1604294518,"updated":1604294518,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-8"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16le"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/3bae7c344a5044a2a0ec6a7c808b96ca","attributes":{"enabled":true,"created":1604294521,"updated":1604294521,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16le/3bae7c344a5044a2a0ec6a7c808b96ca","attributes":{"enabled":true,"created":1604294521,"updated":1604294521,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-16le"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "utf-16be"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/4ccc92fed9ff4816b07858119ad6f6fd","attributes":{"enabled":true,"created":1604294524,"updated":1604294524,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-utf-16be/4ccc92fed9ff4816b07858119ad6f6fd","attributes":{"enabled":true,"created":1604294524,"updated":1604294524,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"utf-16be"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "TestSecretTestSecretTestSecretTestSecret\n", "tags": {"file-encoding":
      "ascii"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/3bcf234df3da426a82f5d73768a65586","attributes":{"enabled":true,"created":1604294526,"updated":1604294526,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"TestSecretTestSecretTestSecretTestSecret\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-ascii/3bcf234df3da426a82f5d73768a65586","attributes":{"enabled":true,"created":1604294526,"updated":1604294526,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"ascii"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n",
      "tags": {"file-encoding": "base64"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64?api-version=2016-10-01
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/6a85a3e97c0a4af6a62a024198a399a8","attributes":{"enabled":true,"created":1604294529,"updated":1604294529,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"VGVzdFNlY3JldFRlc3RTZWNyZXRUZXN0U2VjcmV0VGVzdFNlY3JldA0K\n","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-base64/6a85a3e97c0a4af6a62a024198a399a8","attributes":{"enabled":true,"created":1604294529,"updated":1604294529,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"base64"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a",
      "tags": {"file-encoding": "hex"}, "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex?api-version=2016-10-01
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/78cc7aed9afb4dbc81a8d3c3fd32e645","attributes":{"enabled":true,"created":1604294531,"updated":1604294531,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"546573745365637265745465737453656372657454657374536563726574546573745365637265740d0a","id":"https://cli-test-kv-se-000002.vault.azure.net/secrets/download-hex/78cc7aed9afb4dbc81a8d3c3fd32e645","attributes":{"enabled":true,"created":1604294531,"updated":1604294531,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"file-encoding":"hex"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
