interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test-migration?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-migration","name":"test-migration","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Dedicated", "capacity": 2}, "properties":
      {"supportsScaling": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-migration/providers/Microsoft.EventHub/clusters/eventhubs-selfserve-000002?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test-migration/providers/Microsoft.EventHub/clusters/eventhubs-selfserve-000002","name":"eventhubs-selfserve-000002","type":"Microsoft.EventHub/Clusters","location":"eastus","properties":{"createdAt":"2023-03-30T06:25:52.9692941Z","updatedAt":"2023-03-30T06:25:52.9692941Z","provisioningState":"Creating","status":"Creating","supportsScaling":true,"metricId":""},"sku":{"name":"Dedicated","capacity":2}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.eventhub/locations/eastus/clusterOperationResults/326100e2-f69d-4268-8503-075374f62b6e-test-migration-eventhubs-selfserve-000002?isAsyncHeader=true&resourceName=eventhubs-selfserve-000002&resourceGroupName=test-migration&resourceType=cluster&api-version=2022-01-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.eventhub/locations/eastus/clusterOperationResults/326100e2-f69d-4268-8503-075374f62b6e-test-migration-eventhubs-selfserve-000002?isAsyncHeader=false&resourceName=eventhubs-selfserve-000002&resourceGroupName=test-migration&resourceType=cluster&api-version=2022-01-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.eventhub/locations/eastus/clusterOperationResults/326100e2-f69d-4268-8503-075374f62b6e-test-migration-eventhubs-selfserve-000002?isAsyncHeader=true&resourceName=eventhubs-selfserve-000002&resourceGroupName=test-migration&resourceType=cluster&api-version=2022-01-01-preview
  response:
    body:
      string: '{"name":"326100e2-f69d-4268-8503-075374f62b6e-test-migration-eventhubs-selfserve-000002","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "None"}, "location": "eastus", "properties": {"clusterArmId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test-migration/providers/Microsoft.EventHub/clusters/eventhubs-selfserve-000002"},
      "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-migration/providers/Microsoft.EventHub/namespaces/eventhubs-ns1-000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-migration/providers/Microsoft.EventHub/namespaces/eventhubs-ns1-000003","name":"eventhubs-ns1-000003","type":"Microsoft.EventHub/Namespaces","location":"East
        US","tags":{},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"clusterArmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-migration/providers/Microsoft.EventHub/clusters/eventhubs-selfserve-000002","kafkaEnabled":true,"provisioningState":"Created","metricId":"326100e2-f69d-4268-8503-075374f62b6e:eventhubs-ns1-000003","createdAt":"2023-03-30T07:13:09.443Z","updatedAt":"2023-03-30T07:13:09.443Z","serviceBusEndpoint":"https://eventhubs-ns1-000003.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.eventhub/locations/eastus/clusterOperationResults/PROD-BL-V51034-DedicatedCluster?isAsyncHeader=true&resourceName=eventhubs-selfserve-000002&resourceGroupName=test-migration&resourceType=cluster&api-version=2022-01-01-preview
  response:
    body:
      string: '{"name":"PROD-BL-V51034-DedicatedCluster","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-migration/providers/Microsoft.EventHub/clusters/eventhubs-selfserve-000002/namespaces?api-version=2022-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test-migration/providers/Microsoft.Eventhub/namespaces/eventhubs-ns1-000003"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-migration/providers/Microsoft.EventHub/clusters?api-version=2022-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test-migration/providers/Microsoft.EventHub/clusters/eventhubs-selfserve-000002","name":"eventhubs-selfserve-000002","type":"Microsoft.EventHub/Clusters","location":"eastus","properties":{"createdAt":"2023-03-30T06:25:53.1330538Z","updatedAt":"2023-03-30T07:34:54.1980592Z","provisioningState":"Succeeded","status":"Active","supportsScaling":true,"metricId":"PROD-BL-V51034"},"sku":{"name":"Dedicated","capacity":1}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
