interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001","name":"cli_test_eh_namespace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-06T09:27:21Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/eh-identity1000008?api-version=2022-01-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/eh-identity1000008","name":"eh-identity1000008","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"dd57c317-7cbc-4032-895a-bcf926e18095","clientId":"8e9dc0e6-88a2-46c0-8181-2ac56c4fad24"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/eh-identity1000008
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"},
      "identity": {"type": "SystemAssigned"}, "properties": {"publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000002?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000002","name":"eventhubs-nscli000002","type":"Microsoft.EventHub/Namespaces","location":"North
        Europe","tags":{},"identity":{"principalId":"080668f1-6067-4f65-ac49-409f3f52dea2","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":true,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"ActivatingIdentity","metricId":"326100e2-f69d-4268-8503-075374f62b6e:eventhubs-nscli000002","createdAt":"2023-02-06T09:27:42.887Z","updatedAt":"2023-02-06T09:27:42.887Z","serviceBusEndpoint":"https://eventhubs-nscli000002.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "North Europe", "tags": {}, "sku": {"name": "Premium", "tier":
      "Premium", "capacity": 1}, "identity": {"type": "SystemAssigned"}, "properties":
      {"minimumTlsVersion": "1.2", "isAutoInflateEnabled": false, "publicNetworkAccess":
      "Enabled", "maximumThroughputUnits": 0, "kafkaEnabled": true, "zoneRedundant":
      true, "disableLocalAuth": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000002?api-version=2022-01-01-preview
  response:
    body:
      string: '{"error":{"code":"MultipleErrorsOccurred","message":"Multiple error
        occurred: . Please see details.","details":[{"code":"InternalServerError","message":"Encountered
        internal server error. Diagnostic information: timestamp ''20230206T093816Z'',
        subscription id ''326100e2-f69d-4268-8503-075374f62b6e'', tracking id ''7f8e71cb-2443-4fdb-93bd-8ae10564e8d4'',
        request correlation id ''7f8e71cb-2443-4fdb-93bd-8ae10564e8d4''."},{"code":"InternalServerError","message":"Encountered
        internal server error. Diagnostic information: timestamp ''20230206T093816Z'',
        subscription id ''326100e2-f69d-4268-8503-075374f62b6e'', tracking id ''7f8e71cb-2443-4fdb-93bd-8ae10564e8d4'',
        request correlation id ''7f8e71cb-2443-4fdb-93bd-8ae10564e8d4''."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"location": "North Europe", "tags": {}, "sku": {"name": "Premium", "tier":
      "Premium", "capacity": 1}, "identity": {"type": "SystemAssigned, UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/eh-identity1000008":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/eh-identity2000009":
      {}}}, "properties": {"minimumTlsVersion": "1.2", "isAutoInflateEnabled": false,
      "publicNetworkAccess": "Enabled", "maximumTh[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000002?api-version=2022-01-01-preview
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.EventHub/locations/northeurope/operationStatus/eventhubs-nscli000002?api-version=2022-01-01-preview&resourceType=Namespace
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.EventHub/locations/northeurope/operationStatus/eventhubs-nscli000002?api-version=2022-01-01-preview&resourceType=Namespace
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.EventHub/locations/northeurope/operationStatus/eventhubs-nscli000002?api-version=2022-01-01-preview&resourceType=Namespace
      server-sb:
      - Service-Bus-Resource-Provider/SN1
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.EventHub/locations/northeurope/operationStatus/eventhubs-nscli000003?api-version=2022-01-01-preview&resourceType=Namespace
  response:
    body:
      string: ''
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/SN1
    status:
      code: 204
      message: No Content
version: 1
