interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-11-05T22:10:44Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-11-05T22:10:44Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"name": "iotc-cli-test000002", "type": "IoTApps"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/checkNameAvailability?api-version=2018-09-01
  response:
    body: {string: '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"16-4/x+wI91pK3bZiWtoOg+Zr/n2HE"]
      x-iot-cluster: [iotcprodeastus203]
      x-iot-version: ['20181103.10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"name": "iotc-cli-test000002", "type": "IoTApps"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/checkSubdomainAvailability?api-version=2018-09-01
  response:
    body: {string: '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"16-4/x+wI91pK3bZiWtoOg+Zr/n2HE"]
      x-iot-cluster: [iotcprodeastus203]
      x-iot-version: ['20181103.10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "westus", "properties": {"displayName": "iotc-cli-test000002",
      "subdomain": "iotc-cli-test000002"}, "sku": {"name": "S1"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","properties":{"applicationId":"7640900f-0b0f-4122-a855-20ab3df63127","state":"created","displayName":"iotc-cli-test000002","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","subdomain":"iotc-cli-test000002","createdDate":"2018-11-05T22:10:51.590Z","template":"iotc-default@1.0.0"},"sku":{"name":"S1"},"etag":"\"00005004-0000-0000-0000-5be0bfeb0000\""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"00005004-0000-0000-0000-5be0bfeb0000"']
      x-iot-cluster: [iotcprodnortheurope03]
      x-iot-version: ['20181103.10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''{"location": "westus", "properties": {"displayName": "My Custom App
      Display Name", "subdomain": "iotc-cli-test000002-template", "template": "iotc-devkit-sample@1.0.0"},
      "sku": {"name": "S1"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template?api-version=2018-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template","name":"iotc-cli-test000002-template","type":"Microsoft.IoTCentral/IoTApps","location":"westus","properties":{"applicationId":"d78d54f9-82b1-4bc5-92ad-aa68aa28da67","state":"created","displayName":"My
        Custom App Display Name","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","subdomain":"iotc-cli-test000002-template","createdDate":"2018-11-05T22:11:26.685Z","template":"iotc-devkit-sample@1.0.0"},"sku":{"name":"S1"},"etag":"\"0600677e-0000-0000-0000-5be0c00e0000\""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0600677e-0000-0000-0000-5be0c00e0000"']
      x-iot-cluster: [iotcprodeastus02]
      x-iot-version: ['20181103.10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps?api-version=2018-09-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","properties":{"applicationId":"7640900f-0b0f-4122-a855-20ab3df63127","state":"created","displayName":"iotc-cli-test000002","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","subdomain":"iotc-cli-test000002","createdDate":"2018-11-05T22:10:51.590Z","template":"iotc-default@1.0.0"},"sku":{"name":"S1"},"etag":"\"00005004-0000-0000-0000-5be0bfeb0000\""}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"2b6-2xTUkNfqKlCpF3F/Q41bqofXZ9Y"]
      x-iot-cluster: [iotcprodwestus02]
      x-iot-version: ['20181103.10']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc2WjNYUUU2WVpMR1BWTUw3VVVNMjNPWklFT1lSVUpWWUw0NHxBODY5RTQ2NDFCQjQ5MzZFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14998']
    status: {code: 202, message: Accepted}
version: 1
