interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-12-13T19:10:42Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-12-13T19:10:42Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"name": "iotc-cli-test000002", "type": "IoTApps"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/checkNameAvailability?api-version=2018-09-01
  response:
    body: {string: '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"16-4/x+wI91pK3bZiWtoOg+Zr/n2HE"]
      x-iot-cluster: [iotcprodeastus203]
      x-iot-correlation: [cv-cmh69j31.0]
      x-iot-version: ['20181205.11']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"name": "iotc-cli-test000002", "type": "IoTApps"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/checkSubdomainAvailability?api-version=2018-09-01
  response:
    body: {string: '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"16-4/x+wI91pK3bZiWtoOg+Zr/n2HE"]
      x-iot-cluster: [iotcprodeastus03]
      x-iot-correlation: [cv-b1zf17n9.0]
      x-iot-version: ['20181205.11']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "westus", "properties": {"displayName": "iotc-cli-test000002",
      "subdomain": "iotc-cli-test000002"}, "sku": {"name": "S1"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","properties":{"applicationId":"e122e59d-3ca5-4d4a-bc10-36cc48183a8a","state":"created","displayName":"iotc-cli-test000002","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","capabilities":{},"subdomain":"iotc-cli-test000002","createdDate":"2018-12-13T19:10:49.109Z","template":"iotc-default@1.0.0"},"sku":{"name":"S1"},"etag":"\"93008ddd-0000-0000-0000-5c12aeb90000\""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"93008ddd-0000-0000-0000-5c12aeb90000"']
      x-iot-cluster: [iotcprodeastus203]
      x-iot-correlation: [cv-7kzlbnxk.0]
      x-iot-version: ['20181205.11']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''{"location": "westus", "properties": {"displayName": "My Custom App
      Display Name", "subdomain": "iotc-cli-test000002-template", "template": "iotc-devkit-sample@1.0.0"},
      "sku": {"name": "S1"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-templ[...]
[...]
- request:
    body: 'b''{"location": "westus", "properties": {"displayName": "iotc-cli-test000002update",
      "subdomain": "iotc-cli-test000002update", "template": "iotc-devkit-sample@1.0.0"},
      "sku": {"name": "S1"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
      IF-MATCH: ['"0000e113-0000-0000-0000-5c12aee40000"']
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template?api-version=2018-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template","name":"iotc-cli-test000002-template","type":"Microsoft.IoTCentral/IoTApps","location":"westus","properties":{"applicationId":"7c87f163-809a-4b18-85c6-d8e22a390695","state":"created","displayName":"iotc-cli-test000002update","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","capabilities":{},"subdomain":"iotc-cli-test000002update","createdDate":"2018-12-13T19:11:32.954Z","lastUpdated":"2018-12-13T19:12:09.080Z","template":"iotc-devkit-sample@1.0.0"},"sku":{"name":"S1"},"etag":"\"0000e313-0000-0000-0000-5c12af090000\""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0000e313-0000-0000-0000-5c12af090000"]
      x-iot-cluster: [iotcprodwesteurope03]
      x-iot-correlation: [cv-1p5r8g0f.0]
      x-iot-version: ['20181205.11']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps?api-version=2018-09-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","properties":{"applicationId":"e122e59d-3ca5-4d4a-bc10-36cc48183a8a","state":"created","displayName":"iotc-cli-test000002","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","capabilities":{},"subdomain":"iotc-cli-test000002","createdDate":"2018-12-13T19:10:49.109Z","template":"iotc-default@1.0.0"},"sku":{"name":"S1"},"etag":"\"93008ddd-0000-0000-0000-5c12aeb90000\""}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"2c8-FLxSbNbFgsdH0shWQGVxZk6n1xk"]
      x-iot-cluster: [iotcprodeastus202]
      x-iot-correlation: [cv-efniz2z.0]
      x-iot-version: ['20181205.11']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdUQ1pCRkdWTzZNVk1QNldZUk5ZVktIVzdWVEw0U1VBWkNFVnxDQzVDMkIxQjlBN0NEQTIwLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
