interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-08-08T19:30:25Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-08-08T19:30:25Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/74cb7768-d3b9-4e70-96b6-7cecacbdbca2?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/74cb7768-d3b9-4e70-96b6-7cecacbdbca2?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["479473dc-cfef-474c-ba12-cba2854af0f6"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-08-08T19:30:33.4636824Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-08-08T19:30:33.4636824Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-08-08T19:30:33.3386837Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"+syUmbvgKKU56YLXVvNSxl8NeRKX8AbHFMAy799IC33yDfRGv7rYH1NFMTvaff/yItZUh6mA2SpdIX1FUo/O+Q==","permissions":"FULL"},{"keyName":"key2","value":"7nLEKvE0pv06rFPthM6JpQY3MoEwoPOlZOkeqedKi9J6e3PYw3TbQ9n6flvZrqKwRVNomrb1kfVvhM5C1k+ayQ==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"location": "westus2", "properties": {"storageAccounts": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2018-06-01-preview
  response:
    body: {string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"West
        US 2\",\"properties\":{\r\n    \"mediaServiceId\":\"12698968-dbc1-4105-8e1e-e21f331e01c9\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus2", "properties": {"input": {"streamingProtocol": "FragmentedMP4"},
      "preview": {"accessControl": {"ip": {"allow": []}}}, "encoding": {}, "crossSiteAccessPolicies":
      {}, "vanityUrl": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2018-06-01-preview&autoStart=false
  response:
    body: {string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004\",\"type\":\"Microsoft.Media/mediaservices/liveevents\",\"location\":\"West
        US 2\",\"tags\":{\r\n    \r\n  },\"properties\":{\r\n    \"description\":\"\",\"resourceState\":\"Stopped\",\"provisioningState\":\"InProgress\",\"created\":\"2018-08-08T19:31:03.566071Z\",\"lastModified\":\"2018-08-08T19:31:03.566071Z\",\"vanityUrl\":false,\"streamOptions\":[\r\n
        \     \r\n    ],\"input\":{\r\n      \"keyFrameIntervalDuration\":\"\",\"streamingProtocol\":\"FragmentedMP4\",\"accessToken\":\"3254b240690d457088fa124209ee15a0\",\"endpoints\":[\r\n
        \       \r\n      ]\r\n    },\"preview\":{\r\n      \"previewLocator\":\"52af43d6-b4c8-4564-9620-eb0257788226\",\"streamingPolicyName\":\"Predefined_ClearStreamingOnly\",\"alternativeMediaId\":null,\"accessControl\":{\r\n
        \       \"ip\":{\r\n          \"allow\":[\r\n            \r\n          ]\r\n
        \       }\r\n      },\"endpoints\":[\r\n        \r\n      ]\r\n    },\"encoding\":{\r\n
        \     \"encodingType\":\"None\",\"presetName\":null\r\n    },\"crossSiteAccessPolicies\":{\r\n
        \     \"clientAccessPolicy\":null,\"crossDomainPolicy\":null\r\n    }\r\n
        \ }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/379effff-040d-46d3-a4f4-e490161433e9?api-version=2018-06-01-preview']
      content-type: [application/json; odata.metadata=minimal]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/379effff-040d-46d3-a4f4-e490161433e9?api-version=2018-06-01-preview']
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/379effff-040d-46d3-a4f4-e490161433e9?api-version=2018-06-01-preview
  response:
    body: {string: "{\r\n  \"name\":\"379effff-040d-46d3-a4f4-e490161433e9\",\"status\":\"Succeeded\",\"error\":{\r\n
        \   \"code\":\"None\",\"message\":null,\"target\":\"a7f92fff-bb35-4be8-99ce-f3de385b1dce\"\r\n
        \ }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/379effff-040d-46d3-a4f4-e490161433e9?api-version=2018-06-01-preview']
      content-type: [application/json; odata.metadata=minimal]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/379effff-040d-46d3-a4f4-e490161433e9?api-version=2018-06-01-preview']
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2018-06-01-preview&autoStart=false
  response:
    body: {string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liv[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2018-06-01-preview
  response:
    body: {string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Micro[...]
- request:
    body: 'b''{"tags": {"key": "value"}, "location": "West US 2", "properties": {"description":
      "asd", "input": {"streamingProtocol": "FragmentedMP4", "keyFrameIntervalDuration":
      "PT2S", "accessToken": "3254b240690d457088fa124209ee15a0", "endpoints": []},
      "preview": {"endpoints": [], "accessControl": {"ip": {"allow": [{"name": "le000004_1.1.1.1",
      "address": "1.1.1.1", "subnetPrefixLength": 0}, {"name": "le000004_0.0.0.0",
      "address": "0.0.0.0", "subnetPrefixLength": 0}]}}, "previewLocator": "52af43d6-b4c8-4564-9620-eb0257788226",
      "streamingPolicyName": "Predefined_ClearStreamingOnly"}, "encoding": {"encodingType":
      "None"}, "crossSiteAccessPolicies": {"clientAccessPolicy": "<?xml version=\\"1.0\\"
      encoding=\\"utf-8\\"?>\\n<access-policy>\\n    <cross-domain-access>\\n        <policy>\\n            <allow-from
      http-request-headers=\''*\''>\\n                <domain uri=\''http://*\'' />
      \\n            </allow-from> \\n            <grant-to>\\n                <resource
      path=\''/\'' include-subpaths=\''false\'' />\\n            </grant-to>    \\n        </policy>\\n    </cross-domain-access>\\n</access-policy>",
      "crossDomainPolicy": "<?xml version=\\"1.0\\" ?>\\n<!DOCTYPE cross-domain-policy
      SYSTEM \''http://www.macromedia.com/xml/dtds/cross-domain-policy.dtd\''>\\n<cross-domain-policy>\\n  <allow-access-from
      domain=\''*\'' />\\n</cross-domain-policy>"}, "vanityUrl": false, "streamOptions":
      []}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2018-06-01-preview
  response:
    body: {string: "{\r\n  \"name\":\"le000004\",\"id\[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdVSDI0WkJFQ041SE5PSVlRTlFOT09VUlVUUkFIR1lQQ1ZVWXwzQjlCNDU5NkM5MDc5RUIyLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
