interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-10-12T15:33:12Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-10-12T15:33:12Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-03-01-preview
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/1ecd8180-f412-4e07-a757-6c1beb2dc368?monitor=true&api-version=2018-03-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/1ecd8180-f412-4e07-a757-6c1beb2dc368?monitor=true&api-version=2018-03-01-preview
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-10-12T15:33:21.2566808Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-10-12T15:33:21.2566808Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-10-12T15:33:21.1631433Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-03-01-preview
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"ovhiNxVTOjm06SKW4BFgkPL6r2hg08Doin9zsZoNtb5xWqyraQoChn0T8ra0q5eW5hwCiPyE4ToyGWqDdS3uUQ==","permissions":"FULL"},{"keyName":"key2","value":"7fQ9reL3t6sWlJyd1PCc3A/TrAh2poTiJYtSjwIrAhk3XjjlJBfwpgxYd9ymqzUf+o6ULs6MSRXx1bUyGdo7Jw==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"location": "westus2", "properties": {"storageAccounts": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2018-07-01
  response:
    body: {string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\",\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"West
        US 2\",\"properties\":{\r\n    \"mediaServiceId\":\"2094cae2-2581-4e9a-a3ea-581fd8e8c536\",\"storageAccounts\":[\r\n
        \     {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\",\"type\":\"Primary\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fclitest.rg000001%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['1768357']
      ocp-aad-diagnostics-server-name: [LleDoK3X6EUcYi0aLHDWza9XrUqzgPAYsEssuAhVVQI=]
      ocp-aad-session-key: [pW74ymb5T2IEC8KgikLR0r8TfpkD5VhdU9ZWrMemVFkG1ie4bP4NMKw2QRoOaC13hDroRPjSygXc2_Hg9J8-TCM2oo9ktkKCH49AlWxpH2B5sMHRNt7pnEhSf_QowiZ2l9WHrCnnVgKFUukC3yzcvA.7jGOzRQlNeJyQgiLYscNQXisFovq-CZg7DkiYBfBEI8]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''{"availableToOtherTenants": false, "displayName": "clitest.rg000001",
      "homepage": "http://clitest.rg000001", "identifierUris": ["http://clitest.rg000001"],
      "passwordCredentials": [{"startDate": "2018-10-12T15:33:44.74974Z", "endDate":
      "2019-10-12T15:33:44.74974Z", "keyId": "88888888-0000-0000-0000-000000000001",
      "value": "spp000004"}]}\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"3d0299f7-1281-4893-818c-f6f2cb4b7f05","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"4214473e-8a8c-4000-b2ab-06e8a7c3685a","appRoles":[],"availableToOtherTenants":false,"displayName":"clitest.rg000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://clitest.rg000001","identifierUris":["http://clitest.rg000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest.rg000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest.rg000001","id":"cac6e360-70d6-4ab0-afff-eacb5e7e8594","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest.rg000001 on your behalf.","userConsentDisplayName":"Access
        clitest.rg000001","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"orgRestrictions":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2019-10-12T15:33:44.74974Z","keyId":"88888888-0000-0000-0000-000000000001","startDate":"2018-10-12T15:33:44.74974Z","value":null}],"publicClient":null,"publisherDomain":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"signInAudience":"AzureADMyOrg","tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['5536488']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/3d0299f7-1281-4893-818c-f6f2cb4b7f05/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [jr8yj9FL/uTgHXWOfs1K3qZJqXzBMlORaqSHWNV+91s=]
      ocp-aad-session-key: [UCb-apN_DLOIFdm_78ZVVT7wzPUN40dMzOFH2fvndpEYErefSKjtdQZazDBmqVDxrdqSrQykfnWE8H7x0yCPfdWmt_9snESuluG224iY_7S1EEGtRd3lLfpzIgfQJYxZOB6a4jae9wH_ScydmamSbA.My-DtbRZWKRQKBA_ZcMuggM8HvDSB9wfLimY2-20m6M]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "4214473e-8a8c-4000-b2ab-06e8a7c3685a", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"9f0043db-1232-4381-b2b9-b773801240c4","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"clitest.rg000001","appId":"4214473e-8a8c-4000-b2ab-06e8a7c3685a","appOwnerTenantId":"479473dc-cfef-474c-ba12-cba2854af0f6","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"clitest.rg000001","errorUrl":null,"homepage":"http://clitest.rg000001","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest.rg000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest.rg000001","id":"cac6e360-70d6-4ab0-afff-eacb5e7e8594","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access clitest.rg000001 on your behalf.","userConsentDisplayName":"Access
        clitest.rg000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"MediaSouthWorksDirectory","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["4214473e-8a8c-4000-b2ab-06e8a7c3685a","http://clitest.rg000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['4319133']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/9f0043db-1232-4381-b2b9-b773801240c4/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [pbWKcKU9yu1YQQpJCmnlfK2TCVlxFsqb2DLPG6Ke2u8=]
      ocp-aad-session-key: [HIBhReJRb34wmYW32fDpQQX_mRQB4OrBVso68CJjTGxK50fB6ntnklKOqrXdUkEbZXxL4-PidG9m6hX1V5U0f1O7nil-gnmJHDLEDFy4B1OJxLEEaS_JviWLeEkdeg-iKMq0p0lDv_-hsK8BXsVinA.seLv8_dImdssAD3qqq4F9FL_LrkJt0q2uitC33Q7zPk]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%279f0043db-1232-4381-b2b9-b773801240c4%27&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Owner%27&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Owner","type":"BuiltInRole","description":"Lets
        you manage everything, including access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-05-31T23:14:00.9179619Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","type":"Microsoft.Authorization/roleDefinitions","name":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalId": "9f0043db-1232-4381-b2b9-b773801240c4"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002?api-version=2018-01-01-preview
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","principalId":"9f0043db-1232-4381-b2b9-b773801240c4","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003","createdOn":"2018-10-12T15:33:49.6433030Z","updatedOn":"2018-10-12T15:33:49.6433030Z","createdBy":null,"updatedBy":"95d22973-f3d1-439e-ac7f-e3e77931cb57"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000002","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000002"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1189']
      x-ms-request-charge: ['8']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%274214473e-8a8c-4000-b2ab-06e8a7c3685a%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"3d0299f7-1281-4893-818c-f6f2cb4b7f05","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"4214473e-8a8c-4000-b2ab-06e8a7c3685a","appRoles":[],"availableToOtherTenants":false,"displayName":"clitest.rg000001","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://clitest.rg000001","identifierUris":["http://clitest.rg000001"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaEditLink":"directoryObjects/3d0299f7-1281-4893-818c-f6f2cb4b7f05/Microsoft.DirectoryServices.Application/logo","logoUrl":null,"mainLogo@odata.mediaEditLink":"directoryObjects/3d0299f7-1281-4893-818c-f6f2cb4b7f05/Microsoft.DirectoryServices.Application/mainLogo","oauth2AllowIdTokenImplicitFlow":true,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access clitest.rg000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        clitest.rg000001","id":"cac6e360-70d6-4ab0-afff-eacb5e7e8594","isEnabled":true,"type":"User","userConsentDes[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/3d0299f7-1281-4893-818c-f6f2cb4b7f05/passwordCredentials?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)","value":[{"customKeyIdentifier":null,"endDate":"2019-10-12T15:33:44.74974Z","keyId":"88888888-0000-0000-0000-000000000001","startDate":"2018-10-12T15:33:44.74974Z","value":null}]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['1757155']
      ocp-aad-diagnostics-server-name: [gLJ+tqTXNpWZ/LQ4r8lnot9/0oeg7ZBg6IR8QK+1JiM=]
      ocp-aad-session-key: [-85qMKbmJk2YnX1EbTm1k7pqSnlqlwob9q7TR8IxFWF0-Hcz57m-pPpy4mTkoz1jiKLHFBIZ3WC4gwVNDLQeLswW_motmpTezwxsCMi3GYaG8zSj043y0qe7EiSyQuubjO1rXel5o6I3B0s03_RYNg.GVy2hDGilMl46tDwxNGtbrwBW02sy9WkNycx6hMwKag]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview
  response:
    body: {string: "{\"value\":[{\"properties\":{\"roleName\":\"AcrImageSigner\",\"type\":\"BuiltInRole\",\"description\":\"acr[...]
- request:
    body: '{"objectIds": ["9f0043db-1232-4381-b2b9-b773801240c4"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"9f0043db-1232-4381-b2b9-b773801240c4[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fclitest.rg000001%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application",[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/3d0299f7-1281-4893-818c-f6f2cb4b7f05?api-version=1.6
  response:
    body: {string: ''}
    headers:
      dataserviceversion: [1.0;]
      duration: ['3986836']
      ocp-aad-diagnostics-server-name: [mkmGIZ2j5Ca42Qa49ycJm+noc56ZbQai9OBtxAgVnJk=]
      ocp-aad-session-key: [1d6fBPF8nCj_z4pTaaAKqQGqkrjhym6C9heswOxyPCfeYY_AGMIyh5rwOfQpFlGdncELeACm_rgq6FcTKw05wRU6q2JVv3fsNksOqkr4jlSF7P2OJDgSmzapNwbakG7wAL_kcXUtfAkrsb-dbkdeWg.upJtf0bgEX1mbIBd14TIhbsY1HyeU2YGHE5kLz_kWWs]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdZM1FMMlRXMkwyVFBPWVY1TkVRSDQ0Rk1HVE5BQUVKVjdGSHwwQjQyNEQxMUVEN0QxRkRELVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
