interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-03-18T19:51:16Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-03-18T19:51:16Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2018-11-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/65093540-788e-4815-b640-2d9b9a4e2cb2?monitor=true&api-version=2018-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/65093540-788e-4815-b640-2d9b9a4e2cb2?monitor=true&api-version=2018-07-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-03-18T19:51:18.6843715Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-03-18T19:51:18.6843715Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-03-18T19:51:18.5437153Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2018-11-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"location": "westindia", "properties": {"storageAccounts": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2018-07-01
  response:
    body:
      string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\"\
        ,\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"West India\",\"\
        properties\":{\r\n    \"mediaServiceId\":\"6651075e-20d3-463b-ba1e-b805a2cc56c1\"\
        ,\"storageAccounts\":[\r\n      {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\"\
        ,\"type\":\"Primary\"\r\n      }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "West India", "properties": {"input": {"streamingProtocol":
      "FragmentedMP4", "accessControl": {"ip": {"allow": [{"name": "le000004_0.0.0.0",
      "address": "0.0.0.0", "subnetPrefixLength": 0}]}}}, "preview": {"accessControl":
      {"ip": {"allow": []}}}, "encoding": {}, "crossSiteAccessPolicies": {}, "vanityUrl":
      false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2018-07-01&autoStart=false
  response:
    body:
      string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004\"\
        ,\"type\":\"Microsoft.Media/mediaservices/liveevents\",\"location\":\"West\
        \ India\",\"tags\":{\r\n    \r\n  },\"properties\":{\r\n    \"description\"\
        :\"\",\"resourceState\":\"Stopped\",\"provisioningState\":\"InProgress\",\"\
        created\":\"2019-03-18T19:51:49.1301056Z\",\"lastModified\":\"2019-03-18T19:51:49.1301056Z\"\
        ,\"vanityUrl\":false,\"streamOptions\":[\r\n      \r\n    ],\"input\":{\r\n\
        \      \"keyFrameIntervalDuration\":\"\",\"streamingProtocol\":\"FragmentedMP4\"\
        ,\"accessToken\":\"97250a494ee2419e8430ead3ae1c2d3f\",\"endpoints\":[\r\n\
        \        \r\n      ],\"accessControl\":{\r\n        \"ip\":{\r\n         \
        \ \"allow\":[\r\n            {\r\n              \"name\":\"le000004_0.0.0.0\"\
        ,\"address\":\"0.0.0.0\",\"subnetPrefixLength\":0\r\n            }\r\n   \
        \       ]\r\n        }\r\n      }\r\n    },\"preview\":{\r\n      \"previewLocator\"\
        :\"b164ac03-8121-414e-a85e-f937b2e86d85\",\"streamingPolicyName\":\"Predefined_ClearStreamingOnly\"\
        ,\"alternativeMediaId\":null,\"accessControl\":{\r\n        \"ip\":{\r\n \
        \         \"allow\":[\r\n            \r\n          ]\r\n        }\r\n    \
        \  },\"endpoints\":[\r\n        \r\n      ]\r\n    },\"encoding\":{\r\n  \
        \    \"encodingType\":\"None\",\"presetName\":null\r\n    },\"crossSiteAccessPolicies\"\
        :{\r\n      \"clientAccessPolicy\":null,\"crossDomainPolicy\":null\r\n   \
        \ }\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/d5c57280-a878-4205-b359-c0f2506dd34e?api-version=2018-07-01
      content-type:
      - application/json; odata.metadata=minimal
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/d5c57280-a878-4205-b359-c0f2506dd34e?api-version=2018-07-01
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/d5c57280-a878-4205-b359-c0f2506dd34e?api-version=2018-07-01
  response:
    body:
      string: "{\r\n  \"name\":\"d5c57280-a878-4205-b359-c0f2506dd34e\",\"status\"\
        :\"Succeeded\",\"error\":{\r\n    \"code\":\"None\",\"message\":null,\"target\"\
        :\"9760ea2c-930b-476f-9686-810ef559ee97\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/d5c57280-a878-4205-b359-c0f2506dd34e?api-version=2018-07-01
      content-type:
      - application/json; odata.metadata=minimal
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveeventoperations/d5c57280-a878-4205-b359-c0f2506dd34e?api-version=2018-07-01
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004?api-version=2018-07-01&autoStart=false
  response:
    body:
      string: "{\r\n  \"name\":\"le000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveev[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/assets/asset000005?api-version=2018-07-01
  response:
    body:
      string: "{\r\n  \"name\":\"asset000005\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/assets/asset000005\"\
        ,\"type\":\"Microsoft.Media/mediaservices/assets\",\"properties\":{\r\n  \
        \  \"assetId\":\"f42b9a88-2853-46ec-b894-332f30aad9a0\",\"created\":\"2019-03-18T19:51:58.727Z\"\
        ,\"lastModified\":\"2019-03-18T19:51:58.727Z\",\"storageAccountName\":\"clitest000002\"\
        ,\"storageEncryptionFormat\":\"None\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: 'b''b\''{"properties": {"description": "testDescription", "assetName": "asset000005",
      "archiveWindowLength": "PT5M", "manifestName": "man000007", "hls": {"fragmentsPerTsSegment":
      5}, "outputSnapTime": 3}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveEvents/le000004/liveOutputs/lo000006?api-version=2018-07-01
  response:
    body:
      string: "{\r\n  \"name\":\"lo000006\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/liveevents/le000004/liveoutputs/lo000006\"\
        ,\"type\":\"Microsoft.Media/mediaservices/liveevents/liveoutputs\",\"properties\"\
        :{\r\n    \"description\":\"testDescription\",\"assetName\":\"asset000005\"\
        ,\"archiveWindowLength\":\"PT5M\",\"manifestName\":\"man000007\",\"outputSnapTime\"\
        :3,\"resourceState\":\"Creating\",\"provisioningState\":\"Succeeded\",\"created\"\
        :\"2019-03-18T19:52:02.3076162Z\",\"lastModified\":\"2019-03-18T19:52:02.3076162Z\"\
        ,\"hls\":{\r\n      \"fragmentsPerTsSegment\":5\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc0N0dJSUxQWFFSNVE0UFVaUlZBRk5OTFNRWjVDSUJQU01LWXxGOTJCRjQ4NEVCNDU3OUI0LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
