interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/cc8a5e5c-1b43-4f5a-ae63-460947463e84?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/cc8a5e5c-1b43-4f5a-ae63-460947463e84?monitor=true&api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/cc8a5e5c-1b43-4f5a-ae63-460947463e84?monitor=true&api-version=2017-10-01']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/cc8a5e5c-1b43-4f5a-ae63-460947463e84?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["479473dc-cfef-474c-ba12-cba2854af0f6"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-03-16T02:27:02.9974883Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-03-16T02:27:02.9974883Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-03-16T02:27:02.9662374Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"vU0wtQWtTPkglYWXC3qaYZ/aTwMOapkJNHoubGKq/Up7b1UMCtQTk2iMS2vDwtA71lhSKDX7r6kUVyl2Tfbmmw==","permissions":"FULL"},{"keyName":"key2","value":"LZj8OPgTq5m6TSwKN+4o6WAzGL3pnEKb0UyY8aSoHCA5hkkolrGM24bq37mp5+M3BMMY0CaBRLQP1YYY1YnEzA==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"location": "westus2", "properties": {"storageAccounts": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2018-02-01-privatepreview
  response:
    body: {string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\"\
        ,\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"West US 2\",\"\
        tags\":null,\"properties\":{\r\n    \"mediaServiceId\":\"b10c58d0-b4ef-4f55-8c6e-6669c01b912b\"\
        ,\"storageAccounts\":[\r\n      {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\"\
        ,\"type\":\"Primary\"\r\n      }\r\n    ]\r\n  }\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/assets/asset000004?api-version=2018-02-01-privatepreview
  response:
    body: {string: "{\r\n  \"name\":\"asset000004\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/assets/asset000004\"\
        ,\"type\":\"Microsoft.Media/mediaservices/assets\",\"properties\":{\r\n  \
        \  \"assetId\":\"15bfd939-30eb-4ede-8ffa-6f1f14cb1e0c\",\"created\":\"2018-03-16T02:27:48.53Z\"\
        ,\"lastModified\":\"2018-03-16T02:27:48.53Z\",\"alternateId\":null,\"description\"\
        :null,\"container\":null,\"storageAccountId\":null,\"storageEncryptionFormat\"\
        :\"None\",\"storageEncryptionKey\":null\r\n  }\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus2", "properties": {"outputs": [{"preset": {"@odata.type":
      "#Microsoft.Media.BuiltInStandardEncoderPreset", "presetName": "AACGoodQualityAudio"}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/transforms/tra000005?api-version=2018-02-01-privatepreview
  response:
    body: {string: "{\r\n  \"name\":\"tra000005\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/transforms/tra000005\"\
        ,\"type\":\"Microsoft.Media/mediaservices/transforms\",\"location\":null,\"\
        tags\":null,\"properties\":{\r\n    \"created\":\"2018-03-16T02:27:52.2967222Z\"\
        ,\"description\":null,\"lastModified\":\"2018-03-16T02:27:52.2967222Z\",\"\
        outputs\":[\r\n      {\r\n        \"onError\":\"StopProcessingJob\",\"relativePriority\"\
        :\"Normal\",\"preset\":{\r\n          \"@odata.type\":\"#Microsoft.Media.BuiltInStandardEncoderPreset\"\
        ,\"presetName\":\"AACGoodQualityAudio\"\r\n        }\r\n      }\r\n    ]\r\
        \n  }\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"properties": {"input": {"@odata.type": "#Microsoft.Media.JobInputAsset",
      "assetName": "asset000004"}, "outputs": [{"@odata.type": "#Microsoft.Media.JobOutputAsset",
      "assetName": "asset000004"}], "priority": "High"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/transforms/tra000005/jobs/job000006?api-version=2018-02-01-privatepreview
  response:
    body: {string: "{\r\n  \"name\":\"job000006\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/transforms/tra000005/jobs/job000006\"\
        ,\"type\":\"Microsoft.Media/mediaservices/transforms/jobs\",\"properties\"\
        :{\r\n    \"created\":\"2018-03-16T02:27:55.5746424Z\",\"state\":\"Queued\"\
        ,\"description\":null,\"input\":{\r\n      \"@odata.type\":\"#Microsoft.Media.JobInputs\"\
        ,\"label\":null,\"inputs\":[\r\n        {\r\n          \"@odata.type\":\"\
        #Microsoft.Media.JobInputAsset\",\"label\":null,\"files\":[\r\n          \
        \  \r\n          ],\"assetName\":\"asset000004\"\r\n        }\r\n      ]\r\
        \n    },\"lastModified\":\"2018-03-16T02:27:55.5746424Z\",\"outputs\":[\r\n\
        \      {\r\n        \"@odata.type\":\"#Microsoft.Media.JobOutputAsset\",\"\
        error\":null,\"state\":\"Queued\",\"progress\":0,\"assetName\":\"asset000004\"\
        \r\n      }\r\n    ],\"priority\":\"High\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/transforms/tra000005/jobs?api-version=2018-02-01-privatepreview
  response:
    body: {string: "{\r\n  \"value\":[\r\n    {\r\n      \"name\":\"job000006\",\"\
        id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/transforms/tra000005/jobs/job000006\"\
        ,\"type\":\"Microsoft.Media/mediaservices/transforms/jobs\",\"properties\"\
        :{\r\n        \"created\":\"2018-03-16T02:27:55.573Z\",\"state\":\"Queued\"\
        ,\"description\":null,\"input\":{\r\n          \"@odata.type\":\"#Microsoft.Media.JobInputs\"\
        ,\"label\":null,\"inputs\":[\r\n            {\r\n              \"@odata.type\"\
        :\"#Microsoft.Media.JobInputAsset\",\"label\":null,\"files\":[\r\n       \
        \         \r\n              ],\"assetName\":\"asset000004\"\r\n          \
        \  }\r\n          ]\r\n        },\"lastModified\":\"2018-03-16T02:27:55.573Z\"\
        ,\"outputs\":[\r\n          {\r\n            \"@odata.type\":\"#Microsoft.Media.JobOutputAsset\"\
        ,\"error\":null,\"state\":\"Queued\",\"progress\":0,\"assetName\":\"asset000004\"\
        \r\n          }\r\n        ],\"priority\":\"High\"\r\n      }\r\n    }\r\n\
        \  ]\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaServices/ams000003/transforms/tra000005/jobs/job000006/cancelJob?api-version=2018-02-01-privatepreview
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdSMkJaTzJGSUZYSDQyUE5VTFhBQUZGU0o3RENZV1ZCQ0IzWXxENkVFNjUyNUFBRjNERUE4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
