interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/e26df19a-e12d-4278-8c8b-0822c3e7f169?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/e26df19a-e12d-4278-8c8b-0822c3e7f169?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["479473dc-cfef-474c-ba12-cba2854af0f6"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-03-09T20:27:45.3999298Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-03-09T20:27:45.3999298Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-03-09T20:27:45.3686771Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"Ucaz1ZJBAA6o1QVGV85Z9hz71bgMx0f8BGhVC8aoKxttOTDG+lMo2GqipiGcat75VaGZPaw8WVwHkJmhoE15Qw==","permissions":"FULL"},{"keyName":"key2","value":"0iEjXhm0hwvXsntD4M8C4amoWOaadZlr709sSbhl9MWFkGXQMJmHeepGpmNbCOgYI5UahH4MAXrbChZEH+CYZA==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1194']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"location": "westus2", "properties": {"storageAccounts": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2018-02-01-privatepreview
  response:
    body: {string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\"\
        ,\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"West US 2\",\"\
        tags\":null,\"properties\":{\r\n    \"mediaServiceId\":\"a5cd9311-b691-4fb0-8450-863fe271ccc9\"\
        ,\"storageAccounts\":[\r\n      {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\"\
        ,\"type\":\"Primary\"\r\n      }\r\n    ]\r\n  }\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fspn000004%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['7582909']
      ocp-aad-diagnostics-server-name: [Ape/spQCG0XP19Hk8iE/ATS2tS1w3fT1+xqIKJSVb1M=]
      ocp-aad-session-key: [aaHcFY-RJHbrIT9cLGvd3hLAs5PrdlBjjsTCcJS1p4R7fVHf4ps_oyoaKb1zZVlWc50JUwQM9xL9A805DDn1WqlRGZspS0AKtdxFwKRSrWg33UNOOIZL4HSwb5b-Gwk30WvRjz6hL6bZkZk8VTxtUA.IgVJlnRhAKDP4BR9yKmURXKvnPwqy9xJ9_6fOottYcA]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''b\''{"availableToOtherTenants": false, "displayName": "spn000004", "homepage":
      "http://spn000004", "identifierUris": ["http://spn000004"], "passwordCredentials":
      [{"startDate": "2018-03-09T20:28:13.883571Z", "endDate": "2019-03-09T20:28:13.883571Z",
      "keyId": "ebb70f50-51c3-4e3a-9bf3-df1867d98ec3", "value": "spp000005"}]}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"ef70a13b-1708-4f2a-aba0-e5be7fe15627","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"1e47f6a3-0130-40aa-9597-fb1f35557824","appRoles":[],"availableToOtherTenants":false,"displayName":"spn000004","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://spn000004","identifierUris":["http://spn000004"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"oauth2AllowIdTokenImplicitFlow":false,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access spn000004 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        spn000004","id":"370294cf-f76b-48b0-a1f2-bcf9377e29e3","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access spn000004 on your behalf.","userConsentDisplayName":"Access
        spn000004","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2019-03-09T20:28:13.883571Z","keyId":"ebb70f50-51c3-4e3a-9bf3-df1867d98ec3","startDate":"2018-03-09T20:28:13.883571Z","value":null}],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['5383924']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/ef70a13b-1708-4f2a-aba0-e5be7fe15627/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [m44jz5vCS9u4O5sSSVss6CKrthWLHfOPU5++FHDbfV8=]
      ocp-aad-session-key: [Y0scsf5jkKv2cy6vegjLVAjWbUOLDYqa_ELiGE4LApzujOKmHA53Q__jBxBnKHShAmfOVJiVaBz72Ohg8EjQk3B0CUZJBNShNf6P2G7dSu-7ZnjemgFS7Ydh9_tKfCQrXvpwJplDNs6G2XHlvGmerQ.dlzddkRfu69IO6MHE8uX37R4xED526LY_Gz132gU4_w]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "1e47f6a3-0130-40aa-9597-fb1f35557824", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"24295562-68b0-45ef-a9a9-36eddf39ea31","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"spn000004","appId":"1e47f6a3-0130-40aa-9597-fb1f35557824","appOwnerTenantId":"479473dc-cfef-474c-ba12-cba2854af0f6","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"spn000004","errorUrl":null,"homepage":"http://spn000004","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access spn000004 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        spn000004","id":"370294cf-f76b-48b0-a1f2-bcf9377e29e3","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access spn000004 on your behalf.","userConsentDisplayName":"Access
        spn000004","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"MediaSouthWorksDirectory","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["1e47f6a3-0130-40aa-9597-fb1f35557824","http://spn000004"],"servicePrincipalType":"Application","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['4182001']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/24295562-68b0-45ef-a9a9-36eddf39ea31/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [uw2DI55YPxO27iCQ9gmp7jkFjvTBnlg/TMjn48ai3jY=]
      ocp-aad-session-key: [qMicy7usabw80jSlmFGeANF5q3RWyQhkimGcE0X1J-4Rit0xLi4p7POY-PBbbm5eO52FIOyESwlTmtbcZPRKhsbWOHd24-4EB_5T4fTEr6GlRnH4LO8B4nZ3UsBlmdpxKQgkXwN9YwZTBmtgu5U1iQ.VxeEGqgBiLwjQ7aBcCK746avvwATdGGMAIuRuLtGg_o]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%271e47f6a3-0130-40aa-9597-fb1f35557824%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%2724295562-68b0-45ef-a9a9-36eddf39ea31%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action"]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-12-14T02:04:45.1393855Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "24295562-68b0-45ef-a9a9-36eddf39ea31"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/providers/Microsoft.Authorization/roleAssignments/3ba5e2bc-785e-422d-87c5-e8f50ea658fa?api-version=2015-07-01
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"24295562-68b0-45ef-a9a9-36eddf39ea31","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003","createdOn":"2018-03-09T20:28:34.6263957Z","updatedOn":"2018-03-09T20:28:34.6263957Z","createdBy":null,"updatedBy":"9c251169-a6e5-46a1-a3dd-a488a71bfb3a"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003/providers/Microsoft.Authorization/roleAssignments/3ba5e2bc-785e-422d-87c5-e8f50ea658fa","type":"Microsoft.Authorization/roleAssignments","name":"3ba5e2bc-785e-422d-87c5-e8f50ea658fa"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
      x-ms-request-charge: ['2']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdZMkNLV1hST0w0RlZEVkxPRUI3WjRUWUlaVTRaU0ZKS0RCN3wxMUJFQTc4ODgyQkQ2NTIyLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
