interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/523b92ad-0345-40bf-a972-fd9cfb0c62fb?monitor=true&api-version=2017-10-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/523b92ad-0345-40bf-a972-fd9cfb0c62fb?monitor=true&api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["479473dc-cfef-474c-ba12-cba2854af0f6"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-03-13T18:40:58.0709114Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-03-13T18:40:58.0709114Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-03-13T18:40:58.0396778Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"HDaX1NJ3OA4xTyQqxQrPOA6uVgBBtZyTmFRUf1ya6gw+Uf0EL0OtGBx9GvPNrzos1s0yUrWfTU7SqgjcugoFGg==","permissions":"FULL"},{"keyName":"key2","value":"O3glgF2UTu5m91WWT8L67ipev/e7UgaR2HlctKXKnnKJ0eyE8xtlhPeoAkTyvFgiHlcPd4v7cAUyHo8lePXLiQ==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"location": "westus2", "properties": {"storageAccounts": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "type": "Primary"}]}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003?api-version=2018-02-01-privatepreview
  response:
    body: {string: "{\r\n  \"name\":\"ams000003\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Media/mediaservices/ams000003\"\
        ,\"type\":\"Microsoft.Media/mediaservices\",\"location\":\"West US 2\",\"\
        tags\":null,\"properties\":{\r\n    \"mediaServiceId\":\"8ac56831-a480-42cf-b636-e26f673f9395\"\
        ,\"storageAccounts\":[\r\n      {\r\n        \"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002\"\
        ,\"type\":\"Primary\"\r\n      }\r\n    ]\r\n  }\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fspn000004%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['2125016']
      ocp-aad-diagnostics-server-name: [V0qlNyoBiM7zM8ffTVngJJH0mXAzCwCb3m0GKYKJbYE=]
      ocp-aad-session-key: [dXBoh5HGgIuqv8m-tJf2_UYg9idhvzHyigvcwet_k035w9Zi0U24FoD745t1Ba96_jtuUoffoc3v3zeGDOqksFHNrpNEJkRyHeie4rcFqgEKc0miwhe4JgiprR5dzqJxABvONFq5RNbTl8wxxcJWJQ.yXgo33l8LDEweNzFMPqVvcL21M-UrWqEGjgsN8EfO9g]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''{"availableToOtherTenants": false, "displayName": "spn000004", "homepage":
      "http://spn000004", "identifierUris": ["http://spn000004"], "passwordCredentials":
      [{"startDate": "2018-03-13T18:41:23.114864Z", "endDate": "2019-03-13T18:41:23.114864Z",
      "keyId": "2cb091ae-2c10-49fb-9e48-0fc8d4495741", "value": "spp000005"}]}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"7115c27d-de0c-4ffd-a19f-8dfb7ca788c3","deletionTimestamp":null,"acceptMappedClaims":null,"addIns":[],"appId":"2af26dd2-5574-4388-a97c-4c4f7a442d58","appRoles":[],"availableToOtherTenants":false,"displayName":"spn000004","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://spn000004","identifierUris":["http://spn000004"],"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"isDeviceOnlyAuthSupported":null,"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"logo@odata.mediaContentType":"application/json;odata=minimalmetadata;
        charset=utf-8","logoUrl":null,"oauth2AllowIdTokenImplicitFlow":false,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access spn000004 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        spn000004","id":"bcf5d084-b92b-463d-ac9d-235912d32552","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access spn000004 on your behalf.","userConsentDisplayName":"Access
        spn000004","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"optionalClaims":null,"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2019-03-13T18:41:23.114864Z","keyId":"2cb091ae-2c10-49fb-9e48-0fc8d4495741","startDate":"2018-03-13T18:41:23.114864Z","value":null}],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null,"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['5746875']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/7115c27d-de0c-4ffd-a19f-8dfb7ca788c3/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [Cw7PncdasTLmBmr1LGvjLNznBnZ59gaE9lED84dnGek=]
      ocp-aad-session-key: [zTISUivWYyoj05Ztb3iWpxa4kJQm2fo3wL6bHArscK3aeTBTS3zWfeQtMsbbcL8T_ETSb_bgzynBRYQL8-K3Q5FCglbtNG70NtnDSEtnORLJ0uthBzAMKJnXNfVXg_cjd5BIADc8brlnZW2kLJRMGw.8fuoS1AbPFH9bIYm2DyZozLsfxMnSh4Pky-G6K3V9yk]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "2af26dd2-5574-4388-a97c-4c4f7a442d58", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"e2c82c05-9972-4f9b-b171-76ae0c6407d1","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"spn000004","appId":"2af26dd2-5574-4388-a97c-4c4f7a442d58","appOwnerTenantId":"479473dc-cfef-474c-ba12-cba2854af0f6","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"spn000004","errorUrl":null,"homepage":"http://spn000004","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access spn000004 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        spn000004","id":"bcf5d084-b92b-463d-ac9d-235912d32552","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access spn000004 on your behalf.","userConsentDisplayName":"Access
        spn000004","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"MediaSouthWorksDirectory","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["2af26dd2-5574-4388-a97c-4c4f7a442d58","http://spn000004"],"servicePrincipalType":"Application","tags":[],"tokenEncryptionKeyId":null}'}
    headers:
      content-type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      dataserviceversion: [3.0;]
      duration: ['4323166']
      location: ['https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/e2c82c05-9972-4f9b-b171-76ae0c6407d1/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [RfOnWier2qhPqdGkvthh0LDmYhpneMfUlv3Lmkx4y30=]
      ocp-aad-session-key: [_7li7jYQtEs9cAGizAHenv6q0rVWA-8Nf8QdtKgtHgZqnhhPTvZQfmcg4565MNsaTeIhqBqhnhe_NLYZxrcPPxhWu98lG7ioQyNMgScMYbP-qRcS1BDCIFsHzVqGHpUdB912LJNyOv2jDxWm0GvMaw.EIalBYVC6IUtaFBSeqE5YNim5JnkB3JDQ9icwZr9kTk]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%27e2c82c05-9972-4f9b-b171-76ae0c6407d1%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Owner%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Owner","type":"BuiltInRole","description":"Lets
        you manage everything, including access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":[]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-05-31T23:14:00.9179619Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","type":"Microsoft.Authorization/roleDefinitions","name":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalId": "e2c82c05-9972-4f9b-b171-76ae0c6407d1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/0a554f61-72d0-43ab-a081-4d49e5e82f81?api-version=2015-07-01
  response:
    body: {string: '{"error":{"code":"PrincipalNotFound","message":"Principal e2c82c0599724f9bb17176ae0c6407d1
        does not exist in the directory 479473dc-cfef-474c-ba12-cba2854af0f6."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 400, message: Bad Request}
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalId": "e2c82c05-9972-4f9b-b171-76ae0c6407d1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/72dd7534-c0ab-4fec-abf3-d0cbf4f350c0?api-version=2015-07-01
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","principalId":"e2c82c05-9972-4f9b-b171-76ae0c6407d1","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2018-03-13T18:41:43.8750245Z","updatedOn":"2018-03-13T18:41:43.8750245Z","createdBy":null,"updatedBy":"9c251169-a6e5-46a1-a3dd-a488a71bfb3a"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/72dd7534-c0ab-4fec-abf3-d0cbf4f350c0","type":"Microsoft.Authorization/roleAssignments","name":"72dd7534-c0ab-4fec-abf3-d0cbf4f350c0"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
      x-ms-request-charge: ['3']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdOWkRUWkxFNFhCNEFKNjdWT0FSU0pERE81RlNUSTVJMjRPSHwzMzk3MUIxNTkxQTMxMDYwLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
