interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000007",
      "sqlAdministratorLogin": "cliuser1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000006","dev":"https://clitest000006.dev.azuresynapse.net","sqlOnDemand":"clitest000006-ondemand.sql.azuresynapse.net","sql":"clitest000006.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-3200be5e-cf55-4289-8e70-6751727d23a3","privateEndpointConnections":[],"workspaceUID":"fc45839f-8524-40b9-ba23-3d7ac2309ef1","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"52379807-94ed-417a-9a37-b7751e3fb688"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006","location":"eastus","name":"clitest000006","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"6356c18c-fd2a-4565-aa0c-ea4fda504b72"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/operationStatuses/dc3426ec-ac06-4bc1-8398-8ebc45583af2?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/operationStatuses/dc3426ec-ac06-4bc1-8398-8ebc45583af2?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000006","dev":"https://clitest000006.dev.azuresynapse.net","sqlOnDemand":"clitest000006-ondemand.sql.azuresynapse.net","sql":"clitest000006.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-3200be5e-cf55-4289-8e70-6751727d23a3","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"fc45839f-8524-40b9-ba23-3d7ac2309ef1","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"52379807-94ed-417a-9a37-b7751e3fb688"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006","location":"eastus","name":"clitest000006","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"6356c18c-fd2a-4565-aa0c-ea4fda504b72"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "clitest000006", "type": "Microsoft.Synapse/workspaces"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/checkNameAvailability?api-version=2021-06-01
  response:
    body:
      string: '{"available":false,"message":"Workspace name clitest000006 is not available","reason":"AlreadyExists","name":"clitest000006"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Storage optimized", "capacity":
      2, "size": "Medium"}, "properties": {"enableStreamingIngest": true, "enablePurge":
      true, "workspaceUID": "fc45839f-8524-40b9-ba23-3d7ac2309ef1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003","name":"clitest000006/testkstpool000003","type":"Microsoft.Synapse/workspaces/kustoPools","etag":"\"\"","location":"eastus","sku":{"name":"Storage
        optimized","size":"Medium","capacity":2},"properties":{"state":"Creating","enableStreamingIngest":true,"enablePurge":true,"workspaceUID":"fc45839f-8524-40b9-ba23-3d7ac2309ef1","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/9fc7efb2-9dc8-4d87-b786-c5860a7897e1?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/9fc7efb2-9dc8-4d87-b786-c5860a7897e1?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/9fc7efb2-9dc8-4d87-b786-c5860a7897e1","name":"9fc7efb2-9dc8-4d87-b786-c5860a7897e1","status":"Running","startTime":"2021-10-17T09:22:56.7453076Z","endTime":"2021-10-17T09:22:56.7453076Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreateSynapse","RootActivityId":"ca29b933-1ab4-41a8-82e2-847decb045b7","provisioningState":"Running","OperationState":"InProgress"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003","name":"clitest000006/testkstpool000003","type":"Microsoft.Synapse/workspaces/kustoPools","etag":"\"2021-10-17T09:36:04.8623552Z\"","location":"East
        US","sku":{"name":"Storage optimized","size":"Medium","capacity":2},"tags":{},"properties":{"state":"Running","stateReason":null,"uri":"https://testkstpool000003.clitest000006.kusto.azuresynapse.net","dataIngestionUri":"https://ingest-testkstpool000003.clitest000006.kusto.azuresynapse.net","optimizedAutoscale":null,"enableStreamingIngest":true,"languageExtensions":{"value":[]},"enablePurge":true,"workspaceUID":"fc45839f-8524-40b9-ba23-3d7ac2309ef1","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2021-10-17T09:36:04.8623552Z"'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "kind": "ReadWrite", "properties": {"softDeletePeriod":
      "P1D"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/databases/testdtabase000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/Databases/testdtabase000004","name":"clitest000006/testkstpool000003/testdtabase000004","type":"Microsoft.Synapse/workspaces/kustoPools/Databases","location":"eastus","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/7d342f82-d25e-4aa7-94a1-c6dc71f93ee3?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/databases/testdtabase000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/Databases/testdtabase000004","name":"clitest000006/testkstpool000003/testdtabase000004","type":"Microsoft.Synapse/workspaces/kustoPools/Databases","location":"East
        US","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","statistics":{"size":0.0},"isFollowed":false,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"principalId": "9c527a58-9c1d-4c4f-970f-61feb236b74a",
      "role": "AllDatabasesAdmin", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "principalType": "App"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/principalAssignments/kstprinpal000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/PrincipalAssignments/kstprinpal000005","name":"clitest000006/testkstpool000003/kstprinpal000005","type":"Microsoft.Synapse/workspaces/kustoPools/PrincipalAssignments","properties":{"principalId":"9c527a58-9c1d-4c4f-970f-61feb236b74a","role":"AllDatabasesAdmin","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalType":"App","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/East
        US/kustoPoolOperationResults/a85aa82c-c2a8-45ef-b908-897849c72f21?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/East%20US/kustoPoolOperationResults/a85aa82c-c2a8-45ef-b908-897849c72f21?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/East
        US/kustoPoolOperationResults/a85aa82c-c2a8-45ef-b908-897849c72f21","name":"a85aa82c-c2a8-45ef-b908-897849c72f21","status":"Succeeded","startTime":"2021-10-17T09:36:43.053654Z","endTime":"2021-10-17T09:36:44.178717Z","percentComplete":1.0,"properties":{"OperationKind":"ServicePrincipalAssignmentsAdd","RootActivityId":"36ad1c1c-7d8e-42ca-be65-245341def14e","provisioningState":"Succeeded","OperationState":"Completed"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/principalAssignments/kstprinpal000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/PrincipalAssignments/kstprinpal000005","name":"clitest000006/testkstpool000003/kstprinpal000005","type":"Microsoft.Synapse/workspaces/kustoPools/PrincipalAssignments","properties":{"principalId":"9c527a58-9c1d-4c4f-970f-61feb236b74a","role":"AllDatabasesAdmin","principalType":"App","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","tenantName":"Microsoft","principalName":"KustoPoolScenarioTest1","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/principalAssignments?api-version=2021-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest0000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/principalAssignments/kstprinpal000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource with identifier
        ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000006/kustoPools/testkstpool000003/PrincipalAssignments/kstprinpal000005''
        is not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
