interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000010",
      "sqlAdministratorLogin": "cliuser1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000009","dev":"https://clitest000009.dev.azuresynapse.net","sqlOnDemand":"clitest000009-ondemand.sql.azuresynapse.net","sql":"clitest000009.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-6cbba27a-edc5-48d8-b660-333fcc161e67","privateEndpointConnections":[],"workspaceUID":"62b04872-219b-4003-8734-8b9f7826e0d7","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"52379807-94ed-417a-9a37-b7751e3fb688"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009","location":"eastus","name":"clitest000009","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"23c8f6e1-c20b-4595-993a-b8daa8058459"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/operationStatuses/c17aef6a-b7d6-4ddb-a83d-71dabd418fdd?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/operationStatuses/c17aef6a-b7d6-4ddb-a83d-71dabd418fdd?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000009","dev":"https://clitest000009.dev.azuresynapse.net","sqlOnDemand":"clitest000009-ondemand.sql.azuresynapse.net","sql":"clitest000009.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-6cbba27a-edc5-48d8-b660-333fcc161e67","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"62b04872-219b-4003-8734-8b9f7826e0d7","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"52379807-94ed-417a-9a37-b7751e3fb688"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009","location":"eastus","name":"clitest000009","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"23c8f6e1-c20b-4595-993a-b8daa8058459"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "clitest000009", "type": "Microsoft.Synapse/workspaces"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/checkNameAvailability?api-version=2021-06-01
  response:
    body:
      string: '{"available":false,"message":"Workspace name clitest000009 is not available","reason":"AlreadyExists","name":"clitest000009"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Storage optimized", "capacity":
      2, "size": "Medium"}, "properties": {"enableStreamingIngest": true, "enablePurge":
      true, "workspaceUID": "62b04872-219b-4003-8734-8b9f7826e0d7"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003","name":"clitest000009/testkstpool000003","type":"Microsoft.Synapse/workspaces/kustoPools","etag":"\"\"","location":"eastus","sku":{"name":"Storage
        optimized","size":"Medium","capacity":2},"properties":{"state":"Creating","enableStreamingIngest":true,"enablePurge":true,"workspaceUID":"62b04872-219b-4003-8734-8b9f7826e0d7","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/8af92f0c-dbf0-47d7-938a-571adf0e3735?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/8af92f0c-dbf0-47d7-938a-571adf0e3735?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/8af92f0c-dbf0-47d7-938a-571adf0e3735","name":"8af92f0c-dbf0-47d7-938a-571adf0e3735","status":"Running","startTime":"2021-10-17T06:17:20.3408961Z","endTime":"2021-10-17T06:17:20.3408961Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreateSynapse","RootActivityId":"cad587c2-5089-4563-b0f4-a4cff13ab4af","provisioningState":"Running","OperationState":"InProgress"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003","name":"clitest000009/testkstpool000003","type":"Microsoft.Synapse/workspaces/kustoPools","etag":"\"2021-10-17T06:32:16.2238960Z\"","location":"East
        US","sku":{"name":"Storage optimized","size":"Medium","capacity":2},"tags":{},"properties":{"state":"Running","stateReason":null,"uri":"https://testkstpool000003.clitest000009.kusto.azuresynapse.net","dataIngestionUri":"https://ingest-testkstpool000003.clitest000009.kusto.azuresynapse.net","optimizedAutoscale":null,"enableStreamingIngest":true,"languageExtensions":{"value":[]},"enablePurge":true,"workspaceUID":"62b04872-219b-4003-8734-8b9f7826e0d7","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2021-10-17T06:32:16.2238960Z"'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "kind": "ReadWrite", "properties": {"softDeletePeriod":
      "P1D"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/databases/testdtabase000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/Databases/testdtabase000004","name":"clitest000009/testkstpool000003/testdtabase000004","type":"Microsoft.Synapse/workspaces/kustoPools/Databases","location":"eastus","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/e4412659-6de2-4da9-b7a8-0fcf946df53d?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/databases/testdtabase000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/Databases/testdtabase000004","name":"clitest000009/testkstpool000003/testdtabase000004","type":"Microsoft.Synapse/workspaces/kustoPools/Databases","location":"East
        US","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","statistics":{"size":0.0},"isFollowed":false,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000008?api-version=2021-06-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000008","name":"ehnamespace000008","type":"Microsoft.EventHub/Namespaces","location":"East
        US","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3:ehnamespace000008","createdAt":"2021-10-17T06:33:09.41Z","updatedAt":"2021-10-17T06:33:09.41Z","serviceBusEndpoint":"https://ehnamespace000008.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000008/eventhubs/ehsrv000007?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000008/eventhubs/ehsrv000007","name":"ehsrv000007","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"East
        US","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2021-10-17T06:34:13.96Z","updatedAt":"2021-10-17T06:34:14.213Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "kind": "EventHub", "properties": {"eventHubResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000008/eventhubs/ehsrv000007",
      "consumerGroup": "$Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections/dataConName000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/syn[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections/dataConName000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/Databases/testdtabase000004/DataConnections/dataConName000005","name":"clitest000009/testkstpool000003/testdtabase000004/dataConName000005","type":"Microsoft.Synapse/workspaces/kustoPools/Databases/DataConnections","location":"East
        US","kind":"EventHub","properties":{"eventHubResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000008/eventhubs/ehsrv000007","consumerGroup":"$Default","tableName":"","mappingRuleName":"","dataFormat":"","eventSystemProperties":[],"compression":"None","managedIdentityResourceId":null,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections?api-version=2021-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/Databases/testdtabase000004/DataConnections/dataConName000005","name":"clitest000009/testkstpool000003/testdtabase000004/dataConName000005","type":"Microsoft.Synapse/workspaces/kustoPools/Databases/DataConnections","location":"East
        US","kind":"EventHub","properties":{"eventHubResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000008/eventhubs/ehsrv000007","consumerGroup":"$Default","tableName":"","mappingRuleName":"","dataFormat":"","eventSystemProperties":[],"compression":"None","managedIdentityResourceId":null,"provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/East%20US/kustoPoolOperationResults/996703b0-8072-4a1a-8fae-2d060f7a0501?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/East
        US/kustoPoolOperationResults/996703b0-8072-4a1a-8fae-2d060f7a0501","name":"996703b0-8072-4a1a-8fae-2d060f7a0501","status":"Succeeded","startTime":"2021-10-17T06:35:25.23317Z","endTime":"2021-10-17T06:35:27.4764643Z","percentComplete":1.0,"properties":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections/dataConName000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource with identifier
        ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000009/kustoPools/testkstpool000003/Databases/testdtabase000004/DataConnections/dataConName000005''
        is not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
