interactions:
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "eastus",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"},
      "isHnsEnabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Storage/storageAccounts/adlsgen2000003?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/41620c9a-5308-4080-a0cf-ab9f74819851?monitor=true&api-version=2019-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/41620c9a-5308-4080-a0cf-ab9f74819851?monitor=true&api-version=2019-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Storage/storageAccounts/adlsgen2000003","name":"adlsgen2000003","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"privateEndpointConnections":[],"isHnsEnabled":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-08-28T12:23:18.4514460Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2020-08-28T12:23:18.4514460Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2020-08-28T12:23:18.3420923Z","primaryEndpoints":{"dfs":"https://adlsgen2000003.dfs.core.windows.net/","web":"https://adlsgen2000003.z13.web.core.windows.net/","blob":"https://adlsgen2000003.blob.core.windows.net/","queue":"https://adlsgen2000003.queue.core.windows.net/","table":"https://adlsgen2000003.table.core.windows.net/","file":"https://adlsgen2000003.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://adlsgen2000003-secondary.dfs.core.windows.net/","web":"https://adlsgen2000003-secondary.z13.web.core.windows.net/","blob":"https://adlsgen2000003-secondary.blob.core.windows.net/","queue":"https://adlsgen2000003-secondary.queue.core.windows.net/","table":"https://adlsgen2000003-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"defaultDataLakeStorage": {"accountUrl":
      "https://adlsgen2000003.dfs.core.windows.net", "filesystem": "testfilesystem"},
      "sqlAdministratorLoginPassword": "Pswd1000002", "sqlAdministratorLogin": "cliuser1"},
      "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001?api-version=2019-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001","location":"eastus","name":"clitest000001","type":"Microsoft.Synapse/workspaces","identity":{"type":"SystemAssigned","principalId":"7a6243c6-bfaa-4fd9-93e9-7c5ac3d001dc","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fywtest%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000001","sql":"clitest000001.sql.azuresynapse.net","dev":"https://clitest000001.dev.azuresynapse.net","sqlOnDemand":"clitest000001-ondemand.sql.azuresynapse.net"},"managedResourceGroupName":"workspacemanagedrg-675e8e5d-32cc-4d2f-990f-f0220604f84f","defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000003.dfs.core.windows.net","filesystem":"testfilesystem"},"privateEndpointConnections":[],"workspaceUID":"7e650458-1268-40b6-984c-500dd3b3f431","extraProperties":{"IsScopeEnabled":false},"provisioningState":"Provisioning"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/operationStatuses/460c907c-216a-4323-a141-2c2de5097f5c?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/operationStatuses/460c907c-216a-4323-a141-2c2de5097f5c?api-version=2019-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001?api-version=2019-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001","location":"eastus","name":"clitest000001","type":"Microsoft.Synapse/workspace[...]
- request:
    body: '{"properties": {"endIpAddress": "255.255.255.255", "startIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/firewallRules/allowAll?api-version=2019-06-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Provisioning","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/operationStatuses/6d4b97b3-9738-4855-a153-deaab463133d?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/operationResults/6d4b97b3-9738-4855-a153-deaab463133d?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"type": "CosmosDbMongoDbApi", "connectVia": {"type": "IntegrationRuntimeReference",
      "referenceName": "AutoResolveIntegrationRuntime"}, "annotations": [], "typeProperties":
      {"connectionString": "", "database": ""}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000001.dev.azuresynapse.net/linkedservices/linkedservice?api-version=2019-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/linkedServices/linkedservice","recordId":221665,"state":"Creating","created":"2020-08-28T12:29:27.2433333Z","changed":"2020-08-28T12:29:27.2433333Z","type":"LinkedService","name":"linkedservice","operationId":"9051c320-3045-43aa-8d8f-843d2eb6bbd9"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000001.dev.azuresynapse.net/operationResults/9051c320-3045-43aa-8d8f-843d2eb6bbd9?api-version=2019-06-01-preview
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000001.dev.azuresynapse.net/operationResults/9051c320-3045-43aa-8d8f-843d2eb6bbd9?api-version=2019-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/linkedservices/linkedservice","name":"linkedservice","type":"Microsoft.Synapse/workspaces/linkedservices","properties":{"type":"CosmosDbMongoDbApi","connectVia":{"type":"IntegrationRuntimeReference","referenceName":"AutoResolveIntegrationRuntime"},"annotations":[],"typeProperties":{"connectionString":"","database":""}},"etag":"15000b40-0000-0100-0000-5f48f8a90000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000001.dev.azuresynapse.net/linkedservices?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/linkedservices/clitest000001-WorkspaceDefaultStorage","name":"clitest000001-WorkspaceDefaultStorage","type":"Microsoft.Synapse/workspaces/linkedservices","etag":"1500a52c-0000-0100-0000-5f48f7da0000","properties":{"typeProperties":{"url":"https://adlsgen2000003.dfs.core.windows.net"},"type":"AzureBlobFS","connectVia":{"referenceName":"AutoResolveIntegrationRuntime","type":"IntegrationRuntimeReference"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/linkedservices/clitest000001-WorkspaceDefaultSqlServer","name":"clitest000001-WorkspaceDefaultSqlServer","type":"Microsoft.Synapse/workspaces/linkedservices","etag":"1500c52c-0000-0100-0000-5f48f7db0000","properties":{"typeProperties":{"connectionString":"Data
        Source=tcp:clitest000001.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"},"parameters":{"DBName":{"type":"String"}},"type":"AzureSqlDW","connectVia":{"referenceName":"AutoResolveIntegrationRuntime","type":"IntegrationRuntimeReference"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/linkedservices/linkedservice","name":"linkedservice","type":"Microsoft.Synapse/workspaces/linkedservices","etag":"15000b40-0000-0100-0000-5f48f8a90000","properties":{"type":"CosmosDbMongoDbApi","connectVia":{"type":"IntegrationRuntimeReference","referenceName":"AutoResolveIntegrationRuntime"},"annotations":[],"typeProperties":{"connectionString":"","database":""}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ywtest/providers/Microsoft.Synapse/workspaces/clitest000001/operationStatuses/88fc1cdd-508b-41ce-bc4c-301ece539614?api-version=2019-06-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
