interactions:
- request:
    body: '{"name": "WordCount_Java", "file": "abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/wordcount.jar",
      "className": "WordCount", "args": ["[abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/shakespeare.txt,",
      "abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/result/]"],
      "driverMemory": "56g", "driverCores": 8, "executorMemory": "56g", "executorCores":
      8, "numExecutors": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/batches?detailed=true
  response:
    body:
      string: '{"livyInfo":{"notStartedAt":null,"startingAt":null,"runningAt":null,"deadAt":null,"successAt":null,"killedAt":null,"recoveringAt":null,"currentState":"not_started","jobCreationRequest":{"name":"WordCount_Java","file":"abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/wordcount.jar","className":"WordCount","args":["[abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/shakespeare.txt,","abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/result/]"],"conf":{},"driverMemory":"56g","driverCores":8,"executorMemory":"56g","executorCores":8,"numExecutors":2}},"name":"WordCount_Java","workspaceName":"testsynapseworkspace","computeName":"testsparkpool","sparkPoolName":"testsparkpool","submitterName":"username@microsoft.com","submitterId":"6ae2ff4b-4939-4952-a097-d234aad383a3","artifactId":"Livy","jobType":"SparkBatch","result":"Uncertain","schedulerInfo":{"submittedAt":"2020-07-22T11:24:21.6682124+00:00","scheduledAt":null,"endedAt":null,"cancellationRequestedAt":null,"currentState":"Queued"},"pluginInfo":{"preparationStartedAt":null,"resourceAcquisitionStartedAt":null,"submissionStartedAt":null,"monitoringStartedAt":null,"cleanupStartedAt":null,"currentState":"Preparation"},"tags":{},"id":0,"appId":null,"appInfo":null,"state":"not_started","log":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-job-clusterrequested-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-ended-on:
      - ''
      x-ms-job-internal-id:
      - '0'
      x-ms-job-livysubmission-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-queued-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-result:
      - Uncertain
      x-ms-job-scheduled-on:
      - 1/1/0001 12:00:00 AM +00:00
      x-ms-job-scheduler-state:
      - Queued
      x-ms-job-submitted-by-name:
      - username@microsoft.com
      x-ms-job-submitted-on:
      - 7/22/2020 11:24:21 AM +00:00
      x-ms-job-type:
      - SparkServiceBatch
      x-ms-response-time-ms:
      - '833'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/batches/0?detailed=true
  response:
    body:
      string: '{"livyInfo":{"notStartedAt":null,"startingAt":null,"runningAt":null,"deadAt":null,"successAt":null,"killedAt":null,"recoveringAt":null,"currentState":"not_started","jobCreationRequest":{"name":"WordCount_Java","file":"abfss://testfilesystem@adlsgen2account.dfs.cor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/batches?detailed=true
  response:
    body:
      string: '{"from":0,"total":1,"sessions":[{"livyInfo":{"notStartedAt":null,"startingAt":null,"runningAt":null,"deadAt":null,"successAt":null,"killedAt":null,"recoveringAt":null,"currentState":"not_started","jobCreationRequest":{"name":"WordCount_Java","file":"abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/wordcount.jar","className":"WordCount","args":["[abfss://testfilesystem@adlsgen2account.dfs.core.windows.net/samples/java/wordcount/shakespeare.txt,","abfss://testfilesystem@adlsgen2account.dfs.core[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/batches/0
  response:
    body:
      string: ''
    headers:
      x-ms-response-time-ms:
      - '28'
    status:
      code: 200
      message: OK
[...]
