interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000008",
      "sqlAdministratorLogin": "cliuser1", "trustedServiceBypassEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007?api-version=2021-06-01
  response:
    body:
      string: '{"error":{"code":"JitSubscriptionNotificationNotCompleted","message":"''Microsoft.Synapse''
        endpoint requires additional time to process just-in-time subscription notification.
        The resource operation could not be completed. Please try again later."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 503
      message: Service Unavailable
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000008",
      "sqlAdministratorLogin": "cliuser1", "trustedServiceBypassEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2fa386d5ea-ea90-441a-8263-d816368c84a1%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000007","dev":"https://clitest000007.dev.azuresynapse.net","sqlOnDemand":"clitest000007-ondemand.sql.azuresynapse.net","sql":"clitest000007.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-cd531216-b5c2-4131-ae98-b15ec5e9943f","privateEndpointConnections":[],"workspaceUID":"31df46ce-a671-408c-893f-5d3f44e41948","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"0417ddc2-87dc-4923-8865-84f5bd13acce"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007","location":"eastus","name":"clitest000007","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"0e4a97b6-af63-44b3-b837-9c86797a101d"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationStatuses/04b5df7c-ee80-40b9-9a1b-9f85eedf6776?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationStatuses/04b5df7c-ee80-40b9-9a1b-9f85eedf6776?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2fa386d5ea-ea90-441a-8263-d816368c84a1%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000007","dev":"https://clitest000007.dev.azuresynapse.net","sqlOnDemand":"clitest000007-ondemand.sql.azuresynapse.net","sql":"clitest000007.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-cd531216-b5c2-4131-ae98-b15ec5e9943f","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"31df46ce-a671-408c-893f-5d3f44e41948","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"0417ddc2-87dc-4923-8865-84f5bd13acce"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007","location":"eastus","name":"clitest000007","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"0e4a97b6-af63-44b3-b837-9c86797a101d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "clitest000007", "type": "Microsoft.Synapse/workspaces"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/checkNameAvailability?api-version=2021-06-01
  response:
    body:
      string: '{"available":false,"message":"Workspace name clitest000007 is not available","reason":"AlreadyExists","name":"clitest000007"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Storage optimized", "capacity":
      2, "size": "Medium"}, "properties": {"enableStreamingIngest": true, "enablePurge":
      true, "workspaceUID": "31df46ce-a671-408c-893f-5d3f44e41948"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003","name":"clitest000007/testkstpool000003","type":"Microsoft.Synapse/workspaces/kustoPools","etag":"\"\"","location":"eastus","sku":{"name":"Storage
        optimized","size":"Medium","capacity":2},"properties":{"state":"Creating","enableStreamingIngest":true,"enablePurge":true,"workspaceUID":"31df46ce-a671-408c-893f-5d3f44e41948","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/816fdc37-f929-493d-97ec-daeedebfb066?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/816fdc37-f929-493d-97ec-daeedebfb066?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/816fdc37-f929-493d-97ec-daeedebfb066","name":"816fdc37-f929-493d-97ec-daeedebfb066","status":"Running","startTime":"2023-08-22T22:14:01.6484417Z","endTime":"2023-08-22T22:14:01.6484417Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreateSynapse","RootActivityId":"29b2a58e-5b44-47cf-b15b-d6a9d5b5a526","provisioningState":"Running","OperationState":"InProgress"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003","name":"clitest000007/testkstpool000003","type":"Microsoft.Synapse/workspaces/kustoPools","etag":"\"2023-08-22T22:24:11.9906432Z\"","location":"East
        US","sku":{"name":"Storage optimized","size":"Medium","capacity":2},"tags":{},"properties":{"state":"Running","stateReason":"","uri":"https://testkstpool000003.clitest000007.kusto.azuresynapse.net","dataIngestionUri":"https://ingest-testkstpool000003.clitest000007.kusto.azuresynapse.net","optimizedAutoscale":null,"enableStreamingIngest":true,"languageExtensions":{"value":[]},"enablePurge":true,"migrationCluster":null,"workspaceUID":"31df46ce-a671-408c-893f-5d3f44e41948","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2023-08-22T22:24:11.9906432Z"'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "kind": "ReadWrite", "properties": {"softDeletePeriod":
      "P1D"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/databases/testdtabase000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/Databases/testdtabase000004","name":"clitest000007/testkstpool000003/testdtabase000004","type":"Microsoft.Synapse/workspaces/kustoPools/Databases","location":"eastus","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/ef931951-1f43-418a-91f3-214bde188526?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/databases/testdtabase000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/Databases/testdtabase000004","name":"clitest000007/testkstpool000003/testdtabase000004","type":"Microsoft.Synapse/workspaces/kustoPools/Databases","location":"East
        US","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","statistics":{"size":0.0},"isFollowed":false,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601":
      "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H",
      "maxDeliveryCount": 10}}, "enableFileUploadNotifications": false, "cloudToDevice":
      {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H", "feedback": {"lockDurationAsIso8601":
      "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Devices/IotHubs/testiothub000006?api-version=2023-06-30-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Devices/IotHubs/testiothub000006","name":"testiothub000006","type":"Microsoft.Devices/IotHubs","location":"eastus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"synapse-cli000001","properties":{"provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/eastus/operationResults/aWQ9b3NfaWhfNDQwODhjNzYtY2VlZS00MzE1LWE1ODktNTRjZWYwZWEwZmE1O3JlZ2lvbj1lYXN0dXM=?api-version=2023-06-30-preview&operationSource=other&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/eastus/operationResults/aWQ9b3NfaWhfNDQwODhjNzYtY2VlZS00MzE1LWE1ODktNTRjZWYwZWEwZmE1O3JlZ2lvbj1lYXN0dXM=?api-version=2023-06-30-preview&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Devices/IotHubs/testiothub000006?api-version=2023-06-30-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Devices/IotHubs/testiothub000006","name":"testiothub000006","type":"Microsoft.Devices/IotHubs","location":"eastus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"synapse-cli000001","etag":"AAAADH7xCEs=","properties":{"locations":[{"location":"East
        US","role":"primary"},{"location":"West US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"testiothub000006.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"testiothub000006","endpoint":"sb://iothub-ns-testiothub-25209502-0919b8f46d.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[],"cosmosDBSqlContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"None"},"systemData":{"createdAt":"2023-08-22T22:25:12.8966667Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "kind": "IotHub", "properties": {"iotHubResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Devices/IotHubs/testiothub000006",
      "consumerGroup": "$Default", "sharedAccessPolicyName": "registryRead"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections/dataConName000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections/dataConName000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/Databases/testdtabase000004/DataConnections/dataConName000005","name":"clitest000007/testkstpool000003/testdtabase000004/dataConName000005","type":"Microsoft.Synapse/workspaces/kustoPools/Databases/DataConnections","location":"East
        US","kind":"IotHub","properties":{"iotHubResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Devices/IotHubs/testiothub000006","consumerGroup":"$Default","tableName":"","mappingRuleName":"","dataFormat":"","eventSystemProperties":[],"sharedAccessPolicyName":"registryRead","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections?api-version=2021-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/Databases/testdtabase000004/DataConnections/dataConName000005","name":"clitest000007/testkstpool000003/testdtabase000004/dataConName000005","type":"Microsoft.Synapse/workspaces/kustoPools/Databases/DataConnections","location":"East
        US","kind":"IotHub","properties":{"iotHubResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Devices/IotHubs/testiothub000006","consumerGroup":"$Default","tableName":"","mappingRuleName":"","dataFormat":"","eventSystemProperties":[],"sharedAccessPolicyName":"registryRead","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/East%20US/kustoPoolOperationResults/99fec1bd-4f6b-4f77-937f-3767ce53b52d?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/East
        US/kustoPoolOperationResults/99fec1bd-4f6b-4f77-937f-3767ce53b52d","name":"99fec1bd-4f6b-4f77-937f-3767ce53b52d","status":"Running","startTime":"2023-08-22T22:28:21.8559703Z","endTime":"2023-08-22T22:28:21.8559703Z","percentComplete":0.5,"properties":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections/dataConName000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource with identifier
        ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/Databases/testdtabase000004/DataConnections/dataConName000005''
        is not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
