interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000009",
      "sqlAdministratorLogin": "cliuser1", "trustedServiceBypassEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f326100e2-f69d-4268-8503-075374f62b6e%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000008","dev":"https://clitest000008.dev.azuresynapse.net","sqlOnDemand":"clitest000008-ondemand.sql.azuresynapse.net","sql":"clitest000008.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-af211f0a-147e-47a9-b616-613f8b5a1003","privateEndpointConnections":[],"workspaceUID":"e43443d8-64f4-46e4-b530-b8708a9c1539","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"eea76376-6cf2-4f48-a713-64382d4b9625"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008","location":"eastus","name":"clitest000008","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"bb5940e7-a759-4109-bcec-6b67fd39070d"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/operationStatuses/90da0cf0-c99d-472a-9151-1b6d237d07c8?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/operationStatuses/90da0cf0-c99d-472a-9151-1b6d237d07c8?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f326100e2-f69d-4268-8503-075374f62b6e%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000008","dev":"https://clitest000008.dev.azuresynapse.net","sqlOnDemand":"clitest000008-ondemand.sql.azuresynapse.net","sql":"clitest000008.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-af211f0a-147e-47a9-b616-613f8b5a1003","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"e43443d8-64f4-46e4-b530-b8708a9c1539","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"eea76376-6cf2-4f48-a713-64382d4b9625"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008","location":"eastus","name":"clitest000008","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"bb5940e7-a759-4109-bcec-6b67fd39070d"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "clitest000008", "type": "Microsoft.Synapse/workspaces"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/checkNameAvailability?api-version=2021-06-01
  response:
    body:
      string: '{"available":false,"message":"Workspace name clitest000008 is not available","reason":"AlreadyExists","name":"clitest000008"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Storage optimized", "capacity":
      2, "size": "Medium"}, "properties": {"enableStreamingIngest": true, "enablePurge":
      true, "workspaceUID": "e43443d8-64f4-46e4-b530-b8708a9c1539"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003","name":"clitest000008/testkstpool000003","type":"Microsoft.Synapse/workspaces/kustoPools","etag":"\"\"","location":"eastus","sku":{"name":"Storage
        optimized","size":"Medium","capacity":2},"properties":{"state":"Creating","enableStreamingIngest":true,"enablePurge":true,"workspaceUID":"e43443d8-64f4-46e4-b530-b8708a9c1539","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/7446dc68-73d5-46fd-b8b8-43c543b8669a?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/7446dc68-73d5-46fd-b8b8-43c543b8669a?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/7446dc68-73d5-46fd-b8b8-43c543b8669a","name":"7446dc68-73d5-46fd-b8b8-43c543b8669a","status":"Running","startTime":"2023-04-19T20:29:43.5960174Z","endTime":"2023-04-19T20:29:43.5960174Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreateSynapse","RootActivityId":"4bdcefe8-8b86-49ac-a376-00468b026541","provisioningState":"Running","OperationState":"InProgress"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003","name":"clitest000008/testkstpool000003","type":"Microsoft.Synapse/workspaces/kustoPools","etag":"\"2023-04-19T20:38:50.7835520Z\"","location":"East
        US","sku":{"name":"Storage optimized","size":"Medium","capacity":2},"tags":{},"properties":{"state":"Running","stateReason":null,"uri":"https://testkstpool000003.clitest000008.kusto.azuresynapse.net","dataIngestionUri":"https://ingest-testkstpool000003.clitest000008.kusto.azuresynapse.net","optimizedAutoscale":null,"enableStreamingIngest":true,"languageExtensions":{"value":[]},"enablePurge":true,"workspaceUID":"e43443d8-64f4-46e4-b530-b8708a9c1539","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2023-04-19T20:38:50.7835520Z"'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "kind": "ReadWrite", "properties": {"softDeletePeriod":
      "P1D"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/databases/testdtabase000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/Databases/testdtabase000004","name":"clitest000008/testkstpool000003/testdtabase000004","type":"Microsoft.Synapse/workspaces/kustoPools/Databases","location":"eastus","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/b5091764-8c63-4ebf-892d-af41954a4b21?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/databases/testdtabase000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/Databases/testdtabase000004","name":"clitest000008/testkstpool000003/testdtabase000004","type":"Microsoft.Synapse/workspaces/kustoPools/Databases","location":"East
        US","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","statistics":{"size":0.0},"isFollowed":false,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "None"}, "location": "eastus", "sku": {"name": "Standard",
      "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000007?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000007","name":"ehnamespace000007","type":"Microsoft.EventHub/Namespaces","location":"East
        US","tags":{},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"326100e2-f69d-4268-8503-075374f62b6e:ehnamespace000007","createdAt":"2023-04-19T20:40:09.92Z","updatedAt":"2023-04-19T20:40:09.92Z","serviceBusEndpoint":"https://ehnamespace000007.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"retentionDescription": {"cleanupPolicy": "Delete"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000007/eventhubs/ehsrv000006?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000007/eventhubs/ehsrv000006","name":"ehsrv000006","type":"Microsoft.EventHub/namespaces/eventhubs","location":"eastus","properties":{"retentionDescription":{"cleanupPolicy":"Delete","retentionTimeInHours":24},"messageRetentionInDays":1,"partitionCount":4,"status":"Active","createdAt":"2023-04-19T20:41:19.99Z","updatedAt":"2023-04-19T20:41:20.223Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "kind": "EventHub", "properties": {"eventHubResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000007/eventhubs/ehsrv000006",
      "consumerGroup": "$Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections/dataConName000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/syn[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections/dataConName000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/Databases/testdtabase000004/DataConnections/dataConName000005","name":"clitest000008/testkstpool000003/testdtabase000004/dataConName000005","type":"Microsoft.Synapse/workspaces/kustoPools/Databases/DataConnections","location":"East
        US","kind":"EventHub","properties":{"eventHubResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000007/eventhubs/ehsrv000006","consumerGroup":"$Default","tableName":"","mappingRuleName":"","dataFormat":"","eventSystemProperties":[],"compression":"None","managedIdentityResourceId":null,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections?api-version=2021-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/Databases/testdtabase000004/DataConnections/dataConName000005","name":"clitest000008/testkstpool000003/testdtabase000004/dataConName000005","type":"Microsoft.Synapse/workspaces/kustoPools/Databases/DataConnections","location":"East
        US","kind":"EventHub","properties":{"eventHubResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000007/eventhubs/ehsrv000006","consumerGroup":"$Default","tableName":"","mappingRuleName":"","dataFormat":"","eventSystemProperties":[],"compression":"None","managedIdentityResourceId":null,"provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/East%20US/kustoPoolOperationResults/551e96b4-039e-4d47-9a18-a3a1f32f15fe?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/East
        US/kustoPoolOperationResults/551e96b4-039e-4d47-9a18-a3a1f32f15fe","name":"551e96b4-039e-4d47-9a18-a3a1f32f15fe","status":"Running","startTime":"2023-04-19T20:44:10.2489188Z","endTime":"2023-04-19T20:44:10.2489188Z","percentComplete":0.5,"properties":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/databases/testdtabase000004/dataConnections/dataConName000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource with identifier
        ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000008/kustoPools/testkstpool000003/Databases/testdtabase000004/DataConnections/dataConName000005''
        is not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
