interactions:
- request:
    body: '{"properties": {"type": "MappingDataFlow", "typeProperties": {"sources":
      [{"name": "source1", "dataset": {"type": "DatasetReference", "referenceName":
      "DelimitedText1"}}], "sinks": [{"name": "sink1", "dataset": {"type": "DatasetReference",
      "referenceName": "DelimitedText1"}}], "transformations": [], "script": "source(allowSchemaDrift:
      true,\n\tvalidateSchema: false) ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema:
      false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~>
      sink1"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://testsynapseworkspace.dev.azuresynapse.net/dataflows/dataflow?api-version=2019-06-01-preview
  response:
    body:
      string: '{"code":"InvalidTokenIssuer","message":"Token Authentication failed
        with SecurityTokenInvalidIssuerException - IDX10205: Issuer validation failed.
        Issuer: ''[PII is hidden]''. Did not match: validationParameters.ValidIssuer:
        ''[PII is hidden]'' or validationParameters.ValidIssuers: ''[PII is hidden]''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
