interactions:
- request:
    body: '{"location": "eastus", "properties": {"autoScale": {"minNodeCount": 3,
      "enabled": true, "maxNodeCount": 40}, "autoPause": {"delayInMinutes": 15, "enabled":
      true}, "sparkEventsFolder": "/events", "nodeCount": 3, "sparkVersion": "2.4",
      "defaultSparkLogFolder": "/logs", "nodeSize": "Medium", "nodeSizeFamily": "MemoryOptimized"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace1234/bigDataPools/testpool000001?api-version=2019-06-01-preview&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2020-02-26T11:38:40.15Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":true,"minNodeCount":3,"maxNodeCount":40},"autoPause":{"enabled":true,"delayInMinutes":15},"provisioningState":"Provisioning"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace1234/bigDataPools/testpool000001","name":"testpool000001","type":"Microsoft.Synapse/workspaces/bigDataPools"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace1234/operationStatuses/0640f78e-82d4-4cd4-be46-60c06047370f?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace1234/operationResults/0640f78e-82d4-4cd4-be46-60c06047370f?api-version=2019-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace1234/operationStatuses/0640f78e-82d4-4cd4-be46-60c06047370f?api-version=2019-06-01-preview
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace1234/bigDataPools/testpool000001?api-version=2019-06-01-preview
  response:
    body:
      string: '{"properties":{"creationDate":"2020-02-26T11:38:40.15Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":true,"minNodeCount":3,"maxNodeCount":40},"autoPause":{"enabled":true,"delayInMinutes":15},"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace1234/bigDataPools/testpool000001","name":"testpool000001","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace1234/bigDataPools?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"creationDate":"2020-02-26T11:38:40.15Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":true,"minNodeCount":3,"maxNodeCount":40},"autoPause":{"enabled":true,"delayInMinutes":15},"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace1234/bigDataPools/testpool000001","name":"testpool000001","type[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-rg/providers/Microsoft.Synapse/workspaces/testsynapseworkspace1234/operationResults/d7783cb8-cb7c-4c55-8473-7a56a0d6708d?api-version=2019-06-01-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
