interactions:
- request:
    body: '{"properties": {"sourceDatabase": {"linkedService": {"type": "LinkedServiceReference",
      "referenceName": "AzureSqlDatabase1"}, "typeProperties": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CDC_DEVINT_BRS/providers/Microsoft.Sql/servers/adfcdctestbrs-1",
      "principalId": "fdf7f09c-68ef-4e13-98df-f0e92f8d976e"}}, "targetDatabase": {"linkedService":
      {"type": "LinkedServiceReference", "referenceName": "xiaoyuxingtestne-WorkspaceDefaultSqlServer",
      "parameters": {"DBName": "v2"}}, "typeProperties": {}}, "compute": {"coreCount":
      16, "computeType": "General"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://xiaoyuxingtestne.dev.azuresynapse.net/linkconnections/linkconnectionfortest?api-version=2022-12-01-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/xiaoyuxing/providers/Microsoft.Synapse/workspaces/xiaoyuxingtestne/linkconnections/linkconnectionfortest\",\n
        \ \"name\": \"linkconnectionfortest\",\n  \"type\": \"Microsoft.Synapse/workspaces/linkconnections\",\n
        \ \"properties\": {\n    \"sourceDatabase\": {\n      \"linkedService\": {\n
        \       \"type\": \"LinkedServiceReference\",\n        \"referenceName\":
        \"AzureSqlDatabase1\"\n      },\n      \"typeProperties\": {\n        \"resourceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CDC_DEVINT_BRS/providers/Microsoft.Sql/servers/adfcdctestbrs-1\",\n
        \       \"principalId\": \"fdf7f09c-68ef-4e13-98df-f0e92f8d976e\"\n      }\n
        \   },\n    \"targetDatabase\": {\n      \"linkedService\": {\n        \"type\":
        \"LinkedServiceReference\",\n        \"referenceName\": \"xiaoyuxingtestne-WorkspaceDefaultSqlServer\",\n
        \       \"parameters\": {\n          \"DBName\": \"v2\"\n        }\n      },\n
        \     \"typeProperties\": {}\n    },\n    \"compute\": {\n      \"coreCount\":
        16,\n      \"computeType\": \"General\"\n    },\n    \"id\": \"d4531712-7113-4c34-9e37-460afca1ea7d\"\n
        \ },\n  \"etag\": \"5300d323-0000-0c00-0000-63edd44e0000\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://xiaoyuxingtestne.dev.azuresynapse.net/linkconnections?api-version=2022-12-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/xiaoyuxing/providers/Microsoft.Synapse/workspaces/xiaoyuxingtestne/linkconnections/linkconnectionlongrun","name":"linkconnectionlongrun","type":"Microsoft.Synapse/workspaces/linkconnections","etag":"48006c28-0000-0c00-0000-63d7a1d80000","properties":{"sourceDatabase":{"typeProperties":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CDC_DEVINT_BRS/providers/Microsoft.Sql/servers/adfcdctestbrs-1","principalId":"fdf7f09c-68ef-4e13-98df-f0e92f8d976e"},"linkedService":{"referenceName":"brs1","type":"LinkedServiceReference"}},"targetDatabase":{"typeProperties":{"crossTableTransaction":false,"dropExistingTargetTableOnStart":true},"linkedService":{"referenceName":"xiaoyuxingtestne-WorkspaceDefaultSqlServer","type":"LinkedServiceReference","parameters":{"DBName":"v2"}}},"compute":{"coreCount":8,"computeType":"General"},"id":"a8b9b154-713f-4a0a-82df-ba586d543441"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/xiaoyuxing/providers/Microsoft.Synapse/workspaces/xiaoyuxingtestne/linkconnections/linkconnection1","name":"linkconnection1","type":"Microsoft.Synapse/workspaces/linkconnections","eta[...]
- request:
    body: '{"linkTables": [{"id": "887e9d4df0fa4afaaad0d7a2c7f42d88", "source": {"tableName":
      "weather_history_300000_rows", "schemaName": "dbo"}, "target": {"tableName":
      "weather_history_300000_rows", "schemaName": "dbo", "distributionOptions": {"type":
      "Round_RoBin"}}, "operationType": "add"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://xiaoyuxingtestne.dev.azuresynapse.net/linkconnections/linkconnectionfortest/edittables?api-version=2022-12-01-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/xiaoyuxing/providers/Microsoft.DataFactory/factories/xiaoyuxingtestne/linkconnections/linkconnectionfortest\",\n
        \ \"name\": \"linkconnectionfortest\",\[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://xiaoyuxingtestne.dev.azuresynapse.net/linkconnections/linkconnectionfortest/start?api-version=2022-12-01-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://xiaoyuxingtestne.dev.azuresynapse.net/linkconnections/linkconnectionfortest/detailedstatus?api-version=2022-12-01-preview
  response:
    body:
      string: "{\n  \"name\": \"linkconnectionfortest\",\n  \"id\": \"d4531712-7113-4c34-9e37-460afca1ea7d\",\n
        \ \"startTime\": \"2023-02-16T07:19:34.2549919Z\",\n  \"status\": \"Starting\",\n
        \ \"continuousRunId\": \"29e40e19-f615-48ca-90c2-5433b82d77f7\",\n  \"isPartiallyFailed\":
        false,\n  \"etag\": \"53004135-0000-0c00-0000-63edd9070000\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://xiaoyuxingtestne.dev.azuresynapse.net/linkconnections/linkconnectionfortest/stop?api-version=2022-12-01-preview
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://xiaoyuxingtestne.dev.azuresynapse.net/linkconnections/linkconnectionfortest/detailedstatus?api-version=2022-12-01-preview
  response:
    body:
      string: "{\n  \"name\": \"linkconnectionfortest\",\n  \"id\": \"d4531712-7113-4c34-9e37-460afca1ea7d\",\n
        \ \"startTime\": \"2023-02-16T07:19:34.2549919Z\",\n  \"stopTime\": \"2023-02-16T07:21:39.8994713Z\",\n
        \ \"status\": \"Stopping\",\n  \"continuousRunId\": \"29e40e19-f615-48ca-90c2-5433b82d77f7\",\n
        \ \"isPartiallyFailed\": false,\n  \"etag\": \"5300bb36-0000-0c00-0000-63edd9830000\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://xiaoyuxingtestne.dev.azuresynapse.net/linkconnections/linkconnectionfortest/linktables?api-version=2022-12-01-preview
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": \"887e9d4df0fa4afaaad0d7a2c7f42d88\",\n
        \     \"source\": {\n        \"tableName\": \"weather_history_300000_rows\",\n
        \       \"schemaName\": \"dbo\"\n      },\n      \"target\": {\n        \"tableName\":
        \"weather_history_300000_rows\",\n        \"schemaName\": \"dbo\",\n        \"distributionOptions\":
        {\n          \"type\": \"Round_RoBin\"\n        }\n      }\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://xiaoyuxingtestne.dev.azuresynapse.net/linkconnections/linkconnectionfortest?api-version=2022-12-01-preview
  response:
    body:
      string: '{"code":"NotFound","message":"The document could not be retrieved because
        it does not exist.","target":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/xiaoyuxing/providers/Microsoft.DataFactory/factories/xiaoyuxingtestne/linkconnections/linkconnectionfortest","details":null,"error":null}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
