interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000004",
      "sqlAdministratorLogin": "cliuser1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003?api-version=2021-03-01
  response:
    body:
      string: '{"type":"Microsoft.Synapse/workspaces","properties":{"encryption":{"doubleEncryptionEnabled":false},"defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2fee9a0083-b9db-4f2d-9cb9-05a291e9c158%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000003","dev":"https://clitest000003.dev.azuresynapse.net","sqlOnDemand":"clitest000003-ondemand.sql.azuresynapse.net","sql":"clitest000003.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-52448474-81de-4c99-89b1-4c89d6abbb8a","privateEndpointConnections":[],"workspaceUID":"b6e0d93b-bddb-47b4-ad7e-32fd52d964de","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003","location":"eastus","name":"clitest000003","identity":{"type":"SystemAssigned","tenantId":"72bfe100-a448-4f25-af39-5b36c7bb62ef","principalId":"00e3f02e-6cc7-409a-9b88-37d2708c9618"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/9c2feb2d-fcde-4cee-b632-0e5d7261fb22?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/9c2feb2d-fcde-4cee-b632-0e5d7261fb22?api-version=2021-03-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003?api-version=2021-03-01
  response:
    body:
      string: '{"type":"Microsoft.Synapse/workspaces","properties":{"encryption":{"doubleEncryptionEnabled":false},"defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2fee9a0083-b9db-4f2d-9cb9-05a291e9c158%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000003","dev":"https://clitest000003.dev.azuresynapse.net","sqlOnDemand":"clitest000003-ondemand.sql.azuresynapse.net","sql":"clitest000003.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-52448474-81de-4c99-89b1-4c89d6abbb8a","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"b6e0d93b-bddb-47b4-ad7e-32fd52d964de","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003","location":"eastus","name":"clitest000003","identity":{"type":"SystemAssigned","tenantId":"72bfe100-a448-4f25-af39-5b36c7bb62ef","principalId":"00e3f02e-6cc7-409a-9b88-37d2708c9618"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"endIpAddress": "255.255.255.255", "startIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll?api-version=2021-03-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Provisioning","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/0d45fd70-a1c1-4b6d-8c17-e8858d14d361?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/0d45fd70-a1c1-4b6d-8c17-e8858d14d361?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"autoScale": {}, "autoPause": {},
      "sparkEventsFolder": "/events", "nodeCount": 3, "sparkVersion": "2.4", "nodeSize":
      "Medium", "nodeSizeFamily": "MemoryOptimized"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool?api-version=2021-03-01&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2021-09-29T02:55:11.15Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":false,"cacheSize":0,"dynamicExecutorAllocation":{"enabled":false},"provisioningState":"Provisioning"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool","name":"testpool","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/fd704153-11bc-4f87-a0c7-b28915590447?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/fd704153-11bc-4f87-a0c7-b28915590447?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool?api-version=2021-03-01&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2021-09-29T02:55:11.15Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":false,"cacheSize":0,"dynamicExecutorAllocation":{"enabled":false},"lastSucceededTimestamp":"2021-09-29T02:56:00.3266667Z","provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool","name":"testpool","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetBigDataPool": {"type": "BigDataPoolReference", "referenceName":
      "testpool"}, "requiredSparkVersion": "2.4", "language": "scala", "jobProperties":
      {"name": "SparkAutoCreate1", "file": "abfss://default@honghaigen2.dfs.core.windows.net/synapse/workspaces/bdbj20210802ws/batchjobs/Spark%20job%20definition%201/copy_opendataset_to_spark_table.py",
      "className": "1", "conf": {"spark.dynamicAllocation.enabled": "false", "spark.dynamicAllocation.minExecutors":
      "2", "spark.dynamicAllocation.maxExecutors": "2", "spark.autotune.trackingId":
      "7e2da5d9-a84d-4848-9812-3dd8e85a87ea"}, "args": [], "jars": [], "files": [],
      "driverMemory": "28g", "driverCores": 4, "executorMemory": "28g", "executorCores":
      4, "numExecutors": 2}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000003.dev.azuresynapse.net/sparkJobDefinitions/SparkAutoCreate1?api-version=2019-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/sparkJobDefinitions/SparkAutoCreate1","recordId":2415610,"state":"Creating","created":"2021-09-29T02:56:13.5733333Z","changed":"2021-09-29T02:56:13.5733333Z","type":"SparkJobDefinition","name":"SparkAutoCreate1","operationId":"a33ad965-e458-4fcd-b77c-08634a3e4587","artifactId":"4BAF843F-4454-4F52-A981-860955D45847"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000003.dev.azuresynapse.net/operationResults/a33ad965-e458-4fcd-b77c-08634a3e4587?api-version=2019-06-01-preview
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/operationResults/a33ad965-e458-4fcd-b77c-08634a3e4587?api-version=2019-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/sparkjobdefinitions/SparkAutoCreate1","name":"SparkAutoCreate1","type":"Microsoft.Synapse/workspaces/sparkjobdefinitions","properties":{"targetBigDataPool":{"type":"BigDataPoolReference","referenceName":"testpool"},"requiredSparkVersion":"2.4","language":"scala","jobProperties":{"name":"SparkAutoCreate1","file":"abfss://default@honghaigen2.dfs.core.windows.net/synapse/workspaces/bdbj20210802ws/batchjobs/Spark%20job%20definition%201/copy_opendataset_to_spark_table.py","className":"1","conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"2","spark.dynamicAllocation.maxExecutors":"2","spark.autotune.trackingId":"7e2da5d9-a84d-4848-9812-3dd8e85a87ea"},"args":[],"jars":[],"files":[],"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":2}},"etag":"3b03dbf1-0000-0100-0000-6153d5d20000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/sparkJobDefinitions?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/sparkjobdefinitions/SparkAutoCreate1","name":"SparkAutoCreate1","type":"Microsoft.Synapse/workspaces/sparkjobdefinitions","etag":"3b03dbf1-0000-0100-0000-6153d5d20000","properties":{"targetBigDataPool":{"type":"BigDataPoolReference","referenceName":"testpool"},"requiredSparkVersion":"2.4","language":"scala","jobProperties":{"name":"SparkAutoCreate1","file":"abfss://default@honghaigen2.dfs.core.windows.net/synapse/workspaces/bdbj20210802ws/batchjobs/Spark%20job%20definition%201/copy_opendataset_to_spark_table.py","className":"1","conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"2","spark.dynamicAllocation.maxExecutors":"2","spark.autotune.trackingId":"7e2da5d9-a84d-4848-9812-3dd8e85a87ea"},"args":[],"jars":[],"files":[],"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":2}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/sparkJobDefinitions/SparkAutoCreate1?api-version=2019-06-01-preview
  response:
    body:
      string: '{"code":"SparkJobDefinitionNotFound","message":"The SparkJobDefinition
        SparkAutoCreate1 was not found in (subscription=ee9a0083-b9db-4f2d-9cb9-05a291e9c158
        resourceGroup=synapse-cli000001 workspace=clitest000003)"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
