interactions:
- request:
    body: '{"location": "eastus", "properties": {"defaultDataLakeStorage": {"accountUrl":
      "https://teststorageforsynapsecmk.dfs.core.windows.net", "filesystem": "fs000001"},
      "sqlAdministratorLoginPassword": "Pswd1000002", "sqlAdministratorLogin": "cliuser1",
      "managedVirtualNetwork": "default", "encryption": {"cmk": {"key": {"name": "default",
      "keyVaultUrl": "https://testcmksoftdelete.vault.azure.net/keys/newcmk"}}}, "managedVirtualNetworkSettings":
      {"preventDataExfiltration": true, "allowedAadTenantIdsForLinking": []}}, "identity":
      {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk?api-version=2019-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk","location":"eastus","name":"testsynapseworkspacecmk","type":"Microsoft.Synapse/workspaces","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"adc616dd-67f7-4e47-bfb9-ade858d7c92b"},"properties":{"managedVirtualNetwork":"default","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f964c10bb-8a6c-43bc-83d3-6b318c6c7305%2fresourceGroups%2ftestrg%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2ftestsynapseworkspacecmk","dev":"https://testsynapseworkspacecmk.dev.azuresynapse.net","sqlOnDemand":"testsynapseworkspacecmk-ondemand.sql.azuresynapse.net","sql":"testsynapseworkspacecmk.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-bacba1bd-03ae-409e-bfc4-dc2b14c574d5","defaultDataLakeStorage":{"accountUrl":"https://teststorageforsynapsecmk.dfs.core.windows.net","filesystem":"fs000001"},"privateEndpointConnections":[],"workspaceUID":"79171a39-a360-4444-a301-fa6f95a830e9","extraProperties":{"IsScopeEnabled":false,"WorkspaceType":"Normal"},"managedVirtualNetworkSettings":{"preventDataExfiltration":true,"allowedAadTenantIdsForLinking":[]},"encryption":{"doubleEncryptionEnabled":true,"cmk":{"status":"AwaitingUserAction","key":{"name":"default","keyVaultUrl":"https://testcmksoftdelete.vault.azure.net/keys/newcmk"}}},"provisioningState":"Provisioning"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/operationStatuses/7a39fb2e-4d19-424d-b103-4b6837d91649?api-version=2019-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/operationStatuses/7a39fb2e-4d19-424d-b103-4b6837d91649?api-version=2019-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk?api-version=2019-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk","location":"eastus","name":"testsynapseworkspacecmk","type[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/adkorlep-devrp/providers/Microsoft.KeyVault/vaults/adkorlep-test","name":"adkorlep-test","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdi-developers/providers/Microsoft.KeyVault/vaults/hdi-devrp","name":"hdi-devrp","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdi-developers/providers/Microsoft.KeyVault/vaults/hdi-onboarding","name":"hdi-onboarding","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.KeyVault/vaults/testcmksoftdelete?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.KeyVault/vaults/testcmksoftdelete","name":"testcmksoftdelete","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"Standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"a3dce655-d019-49d7-99d2-5a7f6b6421fc","permissions":{"keys":["Get","UnwrapKey","WrapKey"],"secrets":[],"certificates":[]}},{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"5e4102d6-d956-4205-a6a9-b3a0f73f195f","permissions":{"keys":["Get","WrapKey","UnwrapKey"],"secrets":[],"certificates":[]}},{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"6ae2ff4b-4939-4952-a097-d234aad383a3","permissions":{"keys":["Get","List","Update","Create","Import","Delete","Recover","Backup","Restore"],"secrets":["Get","List","Set","Delete","Recover","Backup","Restore"],"certificates":["Get","List","Update","Create","Import","Delete","Recover","Backup","Restore","ManageContacts","ManageIssuers","GetIssuers","ListIssuers","SetIssuers","DeleteIssuers"]}},{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"00000000-0000-1111-2222-333333333333","permissions":{"keys":["wrapKey","get","unwrapKey"]}},{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"e385c60a-5e71-4b6c-97cd-7bb51d910201","permissions":{"keys":["unwrapKey","get","wrapKey"]}},{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"eed677bf-0425-49ee-aee3-f4ae319555b4","permissions":{"keys":["wrapKey","unwrapKey","get"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"enablePurgeProtection":true,"vaultUri":"https://testcmksoftdelete.vault.azure.net/","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "Standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "a3dce655-d019-49d7-99d2-5a7f6b6421fc",
      "permissions": {"keys": ["Get", "UnwrapKey", "WrapKey"], "secrets": [], "certificates":
      []}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "5e4102d6-d956-4205-a6a9-[...]
- request:
    body: '{"properties": {"isActiveCMK": true, "keyVaultUrl": "https://testcmksoftdelete.vault.azure.net/keys/newcmk"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/keys/default?api-version=2019-06-01-preview
  response:
    body:
      string: '{"properties":{"keyVaultUrl":"https://testcmksoftdelete.vault.azure.net/keys/newcmk","isActiveCMK":false},"id":"subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/keys/default","name":"default","type":"Microsoft.Synapse/workspaces/keys","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"keyVaultUrl": "https://testcmksoftdelete.vault.azure.net/keys/newkey"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/keys/newkey?api-version=2019-06-01-preview
  response:
    body:
      string: '{"properties":{"keyVaultUrl":"https://testcmksoftdelete.vault.azure.net/keys/newkey","isActiveCMK":false},"id":"subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/keys/newkey","name":"newkey","type":"Microsoft.Synapse/workspaces/keys","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/keys?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"keyVaultUrl":"https://testcmksoftdelete.vault.azure.net/keys/newcmk","isActiveCMK":true},"id":"subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/keys/default","name":"default","type":"Microsoft.Synapse/workspaces/keys","location":"eastus"},{"properties":{"keyVaultUrl":"https://testcmksoftdelete.vault.azure.net/keys/newkey","isActiveCMK":false},"id":"subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/keys/newkey","name":"newkey","type":"Microsoft.Synapse/workspaces/keys","location":"eastus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/keys/default?api-version=2019-06-01-preview
  response:
    body:
      string: '{"properties":{"keyVaultUrl":"https://testcmksoftdelete.vault.azure.net/keys/newcmk","isActiveCMK":true},"id":"subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/keys/default","name":"default","type":"Microsoft.Synapse/workspaces/keys","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/managedIdentitySqlControlSettings/default?api-version=2019-06-01-preview
  response:
    body:
      string: '{"properties":{"grantSqlControlToManagedIdentity":{"desiredState":"Disabled","actualState":"Disabled"}},"id":"subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourcegroups/testrg/providers/Microsoft.Synapse/workspaces/testsynapseworkspacecmk/managedIdentitySqlControlSettings/default","name":"default","type":"Microsoft.Synapse/workspaces/managedIdentitySqlControlSettings"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
