interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000004",
      "sqlAdministratorLogin": "cliuser1", "managedVirtualNetwork": "default", "managedVirtualNetworkSettings":
      {"preventDataExfiltration": false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","managedVirtualNetwork":"default","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000003","dev":"https://clitest000003.dev.azuresynapse.net","sqlOnDemand":"clitest000003-ondemand.sql.azuresynapse.net","sql":"clitest000003.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-757a4217-cbf5-4346-afa3-e326f0c5087a","privateEndpointConnections":[],"workspaceUID":"6bda9d86-ba38-4ddd-860f-d1c0973910b9","extraProperties":{"WorkspaceType":"Normal"},"managedVirtualNetworkSettings":{"preventDataExfiltration":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003","location":"eastus","name":"clitest000003","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"07f9c951-3919-4b39-9156-223938ffcf69"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/95406110-0a19-4964-b40b-3173141951e0?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/95406110-0a19-4964-b40b-3173141951e0?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","managedVirtualNetwork":"default","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000003","dev":"https://clitest000003.dev.azuresynapse.net","sqlOnDemand":"clitest000003-ondemand.sql.azuresynapse.net","sql":"clitest000003.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-757a4217-cbf5-4346-afa3-e326f0c5087a","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"6bda9d86-ba38-4ddd-860f-d1c0973910b9","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"managedVirtualNetworkSettings":{"preventDataExfiltration":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003","location":"eastus","name":"clitest000003","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"07f9c951-3919-4b39-9156-223938ffcf69"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"endIpAddress": "255.255.255.255", "startIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Provisioning","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/f5f62de9-ecfe-4358-a6e7-2e39bd8b29f4?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/f5f62de9-ecfe-4358-a6e7-2e39bd8b29f4?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"privateLinkResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bigdataqa/providers/Microsoft.Storage/storageAccounts/lanjun1012",
      "groupId": "dfs"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000003.dev.azuresynapse.net/managedVirtualNetworks/default/managedPrivateEndpoints/AzureDataLakeStoragePE?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"AzureDataLakeStoragePE","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/managedVirtualNetworks/default/managedPrivateEndpoints/AzureDataLakeStoragePE","type":"Microsoft.Synapse/workspaces/managedVirtualNetworks/managedPrivateEndpoints","properties":{"privateLinkResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bigdataqa/providers/Microsoft.Storage/storageAccounts/lanjun1012","groupId":"dfs","provisioningState":"Provisioning","connectionState":{},"isReserved":false,"fqdns":[],"isCompliant":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000003.dev.azuresynapse.net/managedVirtualNetworks/default/managedPrivateEndpoints/AzureDataLakeStoragePE?api-version=2019-06-01-preview
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/managedVirtualNetworks/default/managedPrivateEndpoints/AzureDataLakeStoragePE?api-version=2019-06-01-preview
  response:
    body:
      string: '{"name":"AzureDataLakeStoragePE","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/managedVirtualNetworks/default/managedPrivateEndpoints/AzureDataLakeStoragePE","type":"Microsoft.Synapse/workspaces/managedVirtualNetworks/managedPrivateEndpoints","properties":{"privateLinkResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bigdataqa/providers/Microsoft.Storage/storageAccounts/lanjun1012","groupId":"dfs","provisioningState":"Succeeded","connectionState":{"status":"Pending","description":"","actionsRequired":"None"},"isReserved":false,"fqdns":[],"isCompliant":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/managedVirtualNetworks/default/managedPrivateEndpoints?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"name":"AzureDataLakeStoragePE","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/managedVirtualNetworks/default/managedPrivateEndpoints/AzureDataLakeStoragePE","type":"Microsoft.Synapse/workspaces/managedVirtualNetworks/managedPrivateEndpoints","properties":{"privateLinkResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bigdataqa/providers/Microsoft.Storage/storageAccount[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/managedVirtualNetworks/default/managedPrivateEndpoints/AzureDataLakeStoragePE?api-version=2019-06-01-preview
  response:
    body:
      string: '{"error":{"code":"UnknownError","message":"{\"CorrelationId\":\"\",\"StatusCode\":404,\"Message\":\"Resource
        not found: Message=PrivateEndpoint has been deleted: ClientId=c5477a2c-dd74-496f-9302-dc0161302ab0,
        ReferenceName=AzureDataLakeStoragePE, Cluster: c5477a2c-dd74-496f-9302-dc0161302ab0.\",\"ExceptionDetail\":\"Microsoft.Analytics.Clusters.Common.NetworkServiceException:
        PrivateEndpoint has been deleted: ClientId=c5477a2c-dd74-496f-9302-dc0161302ab0,
        ReferenceName=AzureDataLakeStoragePE, Cluster: c5477a2c-dd74-496f-9302-dc0161302ab0.\\r\\n   at
        Microsoft.Analytics.Clusters.Services.NetworkService.NetworkServiceImpl.GetPrivateEndpointAsync(String
        clientId, String referenceName, AbstractMetadataContext dbContext) in C:\\\\source\\\\Services\\\\NetworkService\\\\Service\\\\NetworkServiceImpl.cs:line
        3295\\r\\n   at Microsoft.Analytics.Clusters.Services.NetworkService.StatefulBE.Controllers.NetworkController.GetPrivateEndpointAsync(String
        clientId, String referenceName) in C:\\\\source\\\\Services\\\\NetworkService\\\\NetworkServiceBE\\\\Controllers\\\\NetworkController.cs:line
        278\\r\\n   at lambda_method(Closure , Object )\\r\\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.AwaitableObjectResultExecutor.Execute(IActionResultTypeMapper
        mapper, ObjectMethodExecutor executor, Object controller, Object[] arguments)\\r\\n   at
        Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeActionMethodAsync>g__Awaited|12_0(ControllerActionInvoker
        invoker, ValueTask`1 actionResultValueTask)\\r\\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.<InvokeNextActionFilterAsync>g__Awaited|10_0(ControllerActionInvoker
        invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)\\r\\n   at
        Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Rethrow(ActionExecutedContextSealed
        context)\\r\\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.Next(State&
        next, Scope& scope, Object& state, Boolean& isCompleted)\\r\\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker.InvokeInnerFilterAsync()\\r\\n---
        End of stack trace from previous location where exception was thrown ---\\r\\n   at
        Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeNextResourceFilter>g__Awaited|24_0(ResourceInvoker
        invoker, Task lastTask, State next, Scope scope, Object state, Boolean isCompleted)\\r\\n   at
        Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.Rethrow(ResourceExecutedContextSealed
        context)\\r\\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.Next(State&
        next, Scope& scope, Object& state, Boolean& isCompleted)\\r\\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.InvokeFilterPipelineAsync()\\r\\n---
        End of stack trace from previous location where exception was thrown ---\\r\\n   at
        Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.<InvokeAsync>g__Awaited|17_0(ResourceInvoker
        invoker, Task task, IDisposable scope)\\r\\n   at Microsoft.AspNetCore.Builder.RouterMiddleware.Invoke(HttpContext
        httpContext)\\r\\n   at Microsoft.Analytics.Clusters.Services.NetworkService.StatefulBE.ActivePartitionInstanceMiddleware.InvokeAsync(HttpContext
        context) in C:\\\\source\\\\Services\\\\NetworkService\\\\NetworkServiceBE\\\\ActivePartitionInstanceMiddleware.cs:line
        90\\r\\n   at Microsoft.Analytics.Clusters.Common.Web.ServiceFabricResourceNotFoundMiddleware.InvokeAsync(HttpContext
        httpContext) in C:\\\\source\\\\Shared\\\\Web\\\\ServiceFabricResourceNotFoundMiddleware.cs:line
        50\\r\\n   at Microsoft.Analytics.Clusters.Common.Web.ExceptionMiddleware.InvokeAsync(HttpContext
        httpContext) in C:\\\\source\\\\Shared\\\\Web\\\\ExceptionMiddleware.cs:line
        54\",\"ErrorType\":\"PrivateEndpointNotFound\",\"ErrorNumber\":2145,\"ErrorOn\":\"2021-12-06T08:52:25.476258+00:00\"}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
