interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000004",
      "sqlAdministratorLogin": "cliuser1", "trustedServiceBypassEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000003","dev":"https://clitest000003.dev.azuresynapse.net","sqlOnDemand":"clitest000003-ondemand.sql.azuresynapse.net","sql":"clitest000003.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-37ff7529-d682-4f00-9ffd-773c2068b0e1","privateEndpointConnections":[],"workspaceUID":"9dd266e3-8b14-4fca-afd1-0bd24a328c5f","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003","location":"eastus","name":"clitest000003","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"80f94e89-27fc-4a14-9c11-d66eb84367b1"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/f5ba5940-9158-4628-aed5-f50cb52e7a63?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/f5ba5940-9158-4628-aed5-f50cb52e7a63?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000003","dev":"https://clitest000003.dev.azuresynapse.net","sqlOnDemand":"clitest000003-ondemand.sql.azuresynapse.net","sql":"clitest000003.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-37ff7529-d682-4f00-9ffd-773c2068b0e1","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"9dd266e3-8b14-4fca-afd1-0bd24a328c5f","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003","location":"eastus","name":"clitest000003","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"80f94e89-27fc-4a14-9c11-d66eb84367b1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"endIpAddress": "255.255.255.255", "startIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Provisioning","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/9678e7ee-ab14-49a3-9944-2cb51f3e7b2e?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/9678e7ee-ab14-49a3-9944-2cb51f3e7b2e?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/9678e7ee-ab14-49a3-9944-2cb51f3e7b2e?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool?api-version=2021-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool''
        under resource group ''synapse-cli000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "eastus", "properties": {"autoScale": {}, "autoPause": {},
      "dynamicExecutorAllocation": {}, "sparkEventsFolder": "/events", "nodeCount":
      3, "sparkVersion": "2.4", "nodeSize": "Medium", "nodeSizeFamily": "MemoryOptimized"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool?api-version=2021-06-01-preview&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2023-06-14T09:08:15.82Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":false,"cacheSize":50,"dynamicExecutorAllocation":{"enabled":false},"isAutotuneEnabled":false,"provisioningState":"Provisioning"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool","name":"testpool","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/9dcbdb15-5334-4bf7-a388-ca3971aace15?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/9dcbdb15-5334-4bf7-a388-ca3971aace15?api-version=2021-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/9dcbdb15-5334-4bf7-a388-ca3971aace15?api-version=2021-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool?api-version=2021-06-01-preview&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2023-06-14T09:08:15.82Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":false,"cacheSize":50,"dynamicExecutorAllocation":{"enabled":false},"lastSucceededTimestamp":"2023-06-14T09:09:01.4566667Z","isAutotuneEnabled":false,"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool","name":"testpool","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/bigDataPools/testpool?api-version=2020-12-01
  response:
    body:
      string: '{"properties":{"creationDate":"2023-06-14T09:08:15.82Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":false,"cacheSize":50,"dynamicExecutorAllocation":{"enabled":false},"lastSucceededTimestamp":"2023-06-14T09:09:01.4566667Z","isAutotuneEnabled":false,"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool","name":"testpool","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "notebook", "properties": {"bigDataPool": {"type": "BigDataPoolReference",
      "referenceName": "testpool"}, "sessionProperties": {"driverMemory": "28g", "driverCores":
      4, "executorMemory": "28g", "executorCores": 4, "numExecutors": 2}, "metadata":
      {"language_info": {"name": "python"}}, "nbformat": 4, "nbformat_minor": 2, "cells":
      [{"cell_type": "code", "metadata": {}, "source": ["print(\"hello from portal\")"],
      "outputs": []}], "folder": {"name": "testfolder/testsubfolder"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000003.dev.azuresynapse.net/notebooks/notebook?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/notebooks/notebook","recordId":7097209,"state":"Creating","created":"2023-06-14T09:09:22.2266667Z","changed":"2023-06-14T09:09:22.2266667Z","type":"Notebook","name":"notebook","operationId":"df4667f3-66ea-4581-99f4-f6c95e9cf86e","artifactId":"6037ecfa-4f97-48a5-9504-6dd7503037a6"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000003.dev.azuresynapse.net/notebookOperationResults/df4667f3-66ea-4581-99f4-f6c95e9cf86e?api-version=2020-12-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/notebookOperationResults/df4667f3-66ea-4581-99f4-f6c95e9cf86e?api-version=2020-12-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000003.dev.azuresynapse.net/notebookOperationResults/df4667f3-66ea-4581-99f4-f6c95e9cf86e?api-version=2020-12-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/notebookOperationResults/df4667f3-66ea-4581-99f4-f6c95e9cf86e?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/notebooks/notebook","name":"notebook","type":"Microsoft.Synapse/workspaces/notebooks","properties":{"nbformat":4,"nbformat_minor":2,"entityState":null,"renameOperationDetails":null,"bigDataPool":{"referenceName":"testpool","type":"BigDataPoolReference"},"targetSparkConfiguration":null,"sessionProperties":{"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":2,"conf":null,"runAsWorkspaceSystemIdentity":false},"metadata":{"language_info":{"name":"python"},"a365ComputeOptions":null,"sessionKeepAliveTimeout":0},"cells":[{"cell_type":"code","metadata":{},"source":["print(\"hello
        from portal\")"],"outputs":[]}],"folder":{"name":"testfolder/testsubfolder"},"description":null},"etag":"000c4441-0000-0100-0000-648983c30000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/notebooks?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/notebooks/notebook","name":"notebook","type":"Microsoft.Synapse/workspaces/notebooks","etag":"000c4441-0000-0100-0000-648983c30000","properties":{"nbformat":4,"nbformat_minor":2,"entityState":null,"renameOperationDetails":null,"bigDataPool":{"referenceName":"testpool","type":"BigDataPoolReference"},"targetSparkConfiguration":null,"sessionProperties":{"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":2,"conf":null,"runAsWorkspaceSystemIdentity":false},"metadata":{"language_info":{"name":"python"},"a365ComputeOptions":null,"sessionKeepAliveTimeout":0},"cells":[{"cell_type":"code","metadata":{},"source":["print(\"hello
        from portal\")"],"outputs":[]}],"folder":{"name":"testfolder/testsubfolder"},"description":null}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/notebooks/notebook?api-version=2020-12-01
  response:
    body:
      string: '{"code":404,"message":"GetNotebook failed [statusCode from ADF: NotFound,
        ErrorMessage: {\"code\":\"NotFound\",\"message\":\"The document could not
        be retrieved because it does not exist.\",\"target\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/notebooks/notebook\",\"details\":null,\"error\":null},
        workspace: clitest000003, notebook: notebook]","result":null,"target":null,"details":null,"error":"Failed
        Component = DataFactoryResourceProvider, ErrorCode = 404, Error = NotFound
        "}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
