interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000004",
      "sqlAdministratorLogin": "cliuser1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000003","dev":"https://clitest000003.dev.azuresynapse.net","sqlOnDemand":"clitest000003-ondemand.sql.azuresynapse.net","sql":"clitest000003.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-4a90c514-54ae-4211-bda5-9ea32c47167e","privateEndpointConnections":[],"workspaceUID":"9718e659-3b56-45dc-b927-4f8afb94c543","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003","location":"eastus","name":"clitest000003","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"d64859bd-befe-48d8-ad20-fd4324637621"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/89fcac99-4b47-4fd0-abc4-7852b9bc2a73?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/89fcac99-4b47-4fd0-abc4-7852b9bc2a73?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000003","dev":"https://clitest000003.dev.azuresynapse.net","sqlOnDemand":"clitest000003-ondemand.sql.azuresynapse.net","sql":"clitest000003.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-4a90c514-54ae-4211-bda5-9ea32c47167e","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"9718e659-3b56-45dc-b927-4f8afb94c543","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003","location":"eastus","name":"clitest000003","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"d64859bd-befe-48d8-ad20-fd4324637621"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"endIpAddress": "255.255.255.255", "startIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Provisioning","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/b3ba380c-b3e9-4ab9-b653-06c9ca71da21?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/b3ba380c-b3e9-4ab9-b653-06c9ca71da21?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/b3ba380c-b3e9-4ab9-b653-06c9ca71da21?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/libraries/urllib3-1.26.9-py2.py3-none-any.whl?api-version=2020-12-01
  response:
    body:
      string: '{"code":"LibraryDoesNotExistInWorkspace","message":"The LibraryArtifact
        urllib3-1.26.9-py2.py3-none-any.whl does not exist."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: PUT
    uri: https://clitest000003.dev.azuresynapse.net/libraries/urllib3-1.26.9-py2.py3-none-any.whl?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/libraries/urllib3-1.26.9-py2.py3-none-any.whl","recordId":4207083,"state":"Creating","created":"2022-05-26T07:25:47.5366667Z","changed":"2022-05-26T07:25:47.5366667Z","type":"LibraryArtifact","name":"urllib3-1.26.9-py2.py3-none-any.whl","operationId":"d3bf761b-9787-4a68-b724-727a1ff9d2ac","artifactId":"CBF7B7F4-9D55-4D1F-8E38-1934E782B116"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000003.dev.azuresynapse.net/libraryOperationResults/d3bf761b-9787-4a68-b724-727a1ff9d2ac?api-version=2020-12-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/libraryOperationResults/d3bf761b-9787-4a68-b724-727a1ff9d2ac?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/libraries/urllib3-1.26.9-py2.py3-none-any.whl","name":"urllib3-1.26.9-py2.py3-none-any.whl","type":"Microsoft.Synapse/workspaces/libraries","properties":{"name":"urllib3-1.26.9-py2.py3-none-any.whl","path":"clitest000003/libraries/urllib3-1.26.9-py2.py3-none-any.whl","containerName":"prep","uploadedTimestamp":"2022-05-26T07:25:47.5265898+00:00","type":"whl","provisioningStatus":"Incomplete","creatorId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"etag":"2e0073cb-0000-0100-0000-628f2b800000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "PK\x03\x04\x14\0\0\0\b\0\x17kpT!Im\x1CQ\x04\0\0\xCB\n\0\0\x13\0\0\0urllib3/__init__.py\x95VKo\xE36\x10\xBE\xEBW\f\xB4\bb/\\]z\v\x10\_\xE9\xF6\x91\0\x9B\xC0\xD8x\xD1#AK#\x9B\nEj\xF9\x88W\xFD\xF5\x1D\x92\xA2%\xDBI\x17\xF5!\xCE\xBC\xBEyr\xC6eY\x16\xEB\xC1\xED\xB5\x82\xFB\xCDf\nRl\n7\x03\x1C\x84\xDB\x83\xDB\e\xE4\xCDO\x96\xB7\b\xB5V\nk'H\xB1\xD7Z\n\xB5[A+$\x12e\x1DX\xDF\xF7\xDA\xB8\x15x\x8B\x06Z#P5rX\x01W\nt\xDA`Q\x92\x9F\xD6\xE8\x0E\x18k\xBD\xF3\x06\x19\x03\xD1\x05\e\xE0[\xAB\[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://clitest000003.dev.azuresynapse.net/libraries/urllib3-1.26.9-py2.py3-none-any.whl?comp=appendblock&api-version=2020-12-01
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01//EN\"\"http://www.w3.org/TR/html4/strict.dtd\">\r\n<HTML><HEAD><TITLE>Bad
        Request</TITLE>\r\n<META HTTP-EQUIV=\"Content-Type\" Content=\"text/html;
        charset=us-ascii\"></HEAD>\r\n<BODY><h2>Bad Request - Invalid Verb</h2>\r\n<hr><p>HTTP
        Error 400. The request verb is invalid.</p>\r\n</BODY></HTML>\r\n"
    headers:
      content-type:
      - text/html; charset=us-ascii
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/libraries/wordcount.jar?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/libraries/wordcount.jar","name":"wordcount.jar","type":"Microsoft.Synapse/workspaces/libraries","properties":{"name":"wordcount.jar","path":"clitest000003/libraries/wordcount.jar","containerName":"prep","uploadedTimestamp":"2021-11-03T12:36:46.0883781+00:00","type":"jar","provisioningStatus":"Succeeded","creatorId":"52379807-94ed-417a-9a37-b7751e3fb688"},"etag":"0300b17a-0000-0100-0000-6182825e0000"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/libraries?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/libraries/wordcount.jar","name":"wordcount.jar","type":"Microsoft.Synapse/workspaces/libraries","etag":"0300b17a-0000-0100-0000-6182825e0000","properties":{"name":"wordcount.jar","path":"clitest000003/libraries/wordcount.jar","containerName":"prep","uploadedTimestamp":"2021-11-03T12:36:46.0883781+00:00","type":"jar","provisioningStatus":"Succeeded","creatorId":"52379807-94ed-417a-9a37-b7751e3fb688"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/libraries/wordcount.jar?api-version=2020-12-01
  response:
    body:
      string: '{"code":"LibraryDoesNotExistInWorkspace","message":"The LibraryArtifact
        wordcount.jar does not exist."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
