interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000004",
      "sqlAdministratorLogin": "cliuser1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000003","dev":"https://clitest000003.dev.azuresynapse.net","sqlOnDemand":"clitest000003-ondemand.sql.azuresynapse.net","sql":"clitest000003.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-65f55233-9880-4630-9674-d72f8a055ca9","privateEndpointConnections":[],"workspaceUID":"9c5cdaa4-271a-455b-8815-6e7fccf9e367","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003","location":"eastus","name":"clitest000003","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"a2d03df2-6c10-429d-ab26-b209ad683e3e"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/473ef943-a72d-4ae6-9d96-3dc9ba969034?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/473ef943-a72d-4ae6-9d96-3dc9ba969034?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000003","dev":"https://clitest000003.dev.azuresynapse.net","sqlOnDemand":"clitest000003-ondemand.sql.azuresynapse.net","sql":"clitest000003.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-65f55233-9880-4630-9674-d72f8a055ca9","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"9c5cdaa4-271a-455b-8815-6e7fccf9e367","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003","location":"eastus","name":"clitest000003","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"a2d03df2-6c10-429d-ab26-b209ad683e3e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"endIpAddress": "255.255.255.255", "startIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Provisioning","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/558ddfc2-41f5-44c1-af9f-324b8593d73e?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/558ddfc2-41f5-44c1-af9f-324b8593d73e?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/558ddfc2-41f5-44c1-af9f-324b8593d73e?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"autoScale": {}, "autoPause": {},
      "sparkEventsFolder": "/events", "nodeCount": 3, "sparkVersion": "2.4", "nodeSize":
      "Medium", "nodeSizeFamily": "MemoryOptimized"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool?api-version=2021-06-01-preview&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2022-05-17T15:02:45.1366667Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":false,"cacheSize":0,"dynamicExecutorAllocation":{"enabled":false},"isAutotuneEnabled":false,"provisioningState":"Provisioning"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool","name":"testpool","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/254d9829-3c9f-4c95-a9bd-cf8505e078ac?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationResults/254d9829-3c9f-4c95-a9bd-cf8505e078ac?api-version=2021-06-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/operationStatuses/254d9829-3c9f-4c95-a9bd-cf8505e078ac?api-version=2021-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool?api-version=2021-06-01-preview&force=false
  response:
    body:
      string: '{"properties":{"creationDate":"2022-05-17T15:02:45.1366667Z","sparkVersion":"2.4","nodeCount":3,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":false,"cacheSize":0,"dynamicExecutorAllocation":{"enabled":false},"lastSucceededTimestamp":"2022-05-17T15:03:44.68Z","isAutotuneEnabled":false,"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/bigDataPools/testpool","name":"testpool","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"targetBigDataPool": {"type": "BigDataPoolReference", "referenceName":
      "testpool"}, "requiredSparkVersion": "2.4", "language": "scala", "jobProperties":
      {"name": "SparkAutoCreate1", "file": "abfss://default@honghaigen2.dfs.core.windows.net/synapse/workspaces/bdbj20210802ws/batchjobs/Spark%20job%20definition%201/copy_opendataset_to_spark_table.py",
      "className": "1", "conf": {"spark.dynamicAllocation.enabled": "false", "spark.dynamicAllocation.minExecutors":
      "2", "spark.dynamicAllocation.maxExecutors": "2", "spark.autotune.trackingId":
      "7e2da5d9-a84d-4848-9812-3dd8e85a87ea"}, "args": [], "jars": [], "files": [],
      "driverMemory": "28g", "driverCores": 4, "executorMemory": "28g", "executorCores":
      4, "numExecutors": 2}, "folder": {"name": "testfolder/testsubfolder"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000003.dev.azuresynapse.net/sparkJobDefinitions/SparkAutoCreate1?api-version=2020-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/sparkJobDefinitions/SparkAutoCreate1","recordId":4133402,"state":"Creating","created":"2022-05-17T15:03:49.45Z","changed":"2022-05-17T15:03:49.45Z","type":"SparkJobDefinition","name":"SparkAutoCreate1","operationId":"74e88264-5427-46f4-bb12-a2d9121fd6cd","artifactId":"5118A088-A6EC-4AB0-945B-C5A1DC389C73"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000003.dev.azuresynapse.net/operationResults/74e88264-5427-46f4-bb12-a2d9121fd6cd?api-version=2020-12-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/operationResults/74e88264-5427-46f4-bb12-a2d9121fd6cd?api-version=2020-12-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/sparkjobdefinitions/SparkAutoCreate1\",\n
        \ \"name\": \"SparkAutoCreate1\",\n  \"type\": \"Microsoft.Synapse/workspace[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/sparkJobDefinitions?api-version=2020-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000003/sparkjobdefinitions/SparkAutoCreate1","name":"SparkAutoCreate1","type":"Microsoft.Synapse/workspaces/sparkjobdefinitions","etag":"1b001953-0000-0100-0000-6283b9580000","properties":{"targetBigDataPool":{"type":"BigDataPoolReference","referenceName":"testpool"},"requiredSparkVersion":"2.4","language":"scala","jobProperties":{"name":"SparkAutoCreate1","file":"abfss://default@honghaigen2.dfs.core.windows.net/synapse/workspaces/bdbj20210802ws/batchjobs/Spark%20job%20definition%201/copy_opendataset_to_spark_table.py","className":"1","conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"2","spark.dynamicAllocation.maxExecutors":"2","spark.autotune.trackingId":"7e2da5d9-a84d-4848-9812-3dd8e85a87ea"},"args":[],"jars":[],"files":[],"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":2},"folder":{"name":"testfolder/testsubfolder"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000003.dev.azuresynapse.net/sparkJobDefinitions/SparkAutoCreate1?api-version=2020-12-01
  response:
    body:
      string: '{"code":"SparkJobDefinitionNotFound","message":"The SparkJobDefinition
        SparkAutoCreate1 was not found in (subscription=051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3
        resourceGroup=synapse-cli000001 workspace=clitest000003)"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
