interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000008",
      "sqlAdministratorLogin": "cliuser1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007?api-version=2021-03-01
  response:
    body:
      string: '{"type":"Microsoft.Synapse/workspaces","properties":{"encryption":{"doubleEncryptionEnabled":false},"defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f7f31cba8-b597-4129-b158-8f21a7395bd0%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000007","dev":"https://clitest000007.dev.azuresynapse.net","sqlOnDemand":"clitest000007-ondemand.sql.azuresynapse.net","sql":"clitest000007.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-bc9082a5-f7cb-4dc6-b0bc-33d2b5cdd8c6","privateEndpointConnections":[],"workspaceUID":"95811835-61c7-4989-b0fe-f9597a45c21b","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007","location":"eastus","name":"clitest000007","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"789ab619-b0ca-4d5b-9443-8d33fdb080b5"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationStatuses/eb4ae90a-822a-4cef-a188-9090b9025ff1?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationStatuses/eb4ae90a-822a-4cef-a188-9090b9025ff1?api-version=2021-03-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007?api-version=2021-03-01
  response:
    body:
      string: '{"type":"Microsoft.Synapse/workspaces","properties":{"encryption":{"doubleEncryptionEnabled":false},"defaultDataLakeStorage":{"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f7f31cba8-b597-4129-b158-8f21a7395bd0%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000007","dev":"https://clitest000007.dev.azuresynapse.net","sqlOnDemand":"clitest000007-ondemand.sql.azuresynapse.net","sql":"clitest000007.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-bc9082a5-f7cb-4dc6-b0bc-33d2b5cdd8c6","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"95811835-61c7-4989-b0fe-f9597a45c21b","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007","location":"eastus","name":"clitest000007","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"789ab619-b0ca-4d5b-9443-8d33fdb080b5"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Storage/storageAccounts/adlsgen2000002?api-version=2021-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Storage/storageAccounts/adlsgen2000002","name":"adlsgen2000002","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2021-09-26T02:45:29.6827036Z","key2":"2021-09-26T02:45:29.6827036Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-09-26T02:45:29.6827036Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-09-26T02:45:29.6827036Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2021-09-26T02:45:29.5264106Z","primaryEndpoints":{"blob":"https://adlsgen2000002.blob.core.windows.net/","queue":"https://adlsgen2000002.queue.core.windows.net/","table":"https://adlsgen2000002.table.core.windows.net/","file":"https://adlsgen2000002.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Storage/storageAccounts/adlsgen2000002/listKeys?api-version=2021-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-09-26T02:45:29.6827036Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-09-26T02:45:29.6827036Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/auditingSettings/bapname?api-version=2021-03-01
  response:
    body:
      string: '{"properties":{"retentionDays":0,"auditActionsAndGroups":[],"isStorageSecondaryKeyInUse":false,"isAzureMonitorTargetEnabled":false,"state":"Disabled","storageEndpoint":"","storageAccountSubscriptionId":"00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/auditingSettings/Default","name":"Default","type":"Microsoft.Synapse/workspaces/auditingSettings"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"state": "Enabled", "storageEndpoint": "https://adlsgen2000002.blob.core.windows.net/",
      "storageAccountAccessKey": "veryFakedStorageAccountKey==", "retentionDays":
      30, "auditActionsAndGroups": ["DATABASE_LOGOUT_GROUP"], "storageAccountSubscriptionId":
      "00000000-0000-0000-0000-000000000000", "isStorageSecondaryKeyInUse": false,
      "isAzureMonitorTargetEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/auditingSettings/bapname?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationStatuses/sql07ftr-401633a6-edbf-4c12-bfac-8f35f1004db3?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationResults/sql07ftr-401633a6-edbf-4c12-bfac-8f35f1004db3?api-version=2021-03-01
      retryafter:
      - '60'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationStatuses/sql07ftr-401633a6-edbf-4c12-bfac-8f35f1004db3?api-version=2021-03-01
  response:
    body:
      string: '{"name":"401633a6-edbf-4c12-bfac-8f35f1004db3","status":"Succeeded","startTime":"2021-09-26T02:50:06.893Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/auditingSettings/bapn?api-version=2021-03-01
  response:
    body:
      string: '{"properties":{"retentionDays":30,"auditActionsAndGroups":["DATABASE_LOGOUT_GROUP"],"isStorageSecondaryKeyInUse":false,"isAzureMonitorTargetEnabled":false,"state":"Enabled","storageEndpoint":"https://adlsgen2000002.blob.core.windows.net/","storageAccountSubscriptionId":"00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/auditingSettings/Default","name":"Default","type":"Microsoft.Synapse/workspaces/auditingSettings"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=name%20eq%20%27adlsgen2000002%27%20and%20%28resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20or%20resourceType%20eq%20%27Microsoft.ClassicStorage%2FstorageAccounts%27%29&api-version=2021-04-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=name+eq+%27adlsgen2000002%27+and+(resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+or+resourceType+eq+%27Microsoft.ClassicStorage%2fstorageAccounts%27)&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2bZjdOOUFQdlBLOGJGQUFVSUFBRG9BQT09I1JUOjEjVFJDOjEwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo0I0ZQQzpBZ2dVSUFBQW9BTUFBRndVQUFDQUt3QUFGQ0FBQUtBREFBQUVBTUVBWUFBbklBQUFvQU1BQUFRQU9iVVFnTDBn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=name+eq+%27adlsgen2000002%27+and+(resourceType+eq+%27Microsoft.Storage%2FstorageAccounts%27+or+resourceType+eq+%27Microsoft.ClassicStorage%2FstorageAccounts%27)&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2BZjdOOUFQdlBLOGJGQUFVSUFBRG9BQT09I1JUOjEjVFJDOjEwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo0I0ZQQzpBZ2dVSUFBQW9BTUFBRndVQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=name+eq+%27adlsgen2000002%27+and+(resourceType+eq+%27Microsoft.Storage%2FstorageAccounts%27+or+resourceType+eq+%27Microsoft.ClassicStorage%2FstorageAccounts%27)&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2BZjdOOUFQdlBLOGFEZm44RUFBRGdDZz09I1JUOjIjVFJDOjIwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo0I0ZQQzpBZ2o5RVFBQWdDc0FBRndVQUFDQUt3QUEvUkVBQUlBckFBQUNBSU8rQUJJQUFJQXJBQUFFQVBDSkg0b0JFZ0FBZ0NzQUFBb0FBUTRIQUltQWNZUVJnQXdTQUFDQUt3QUFCZ0RlaEF5QUFJQU9FZ0FBZ0NzQUFBSUFTWlVTRWdBQWdDc0FBQUlBclpNV0VnQUFnQ3NBQUE0QXNqY0E0QUlBbm9ENWd4dUJiWUliRWdBQWdDc0FBQUlBY1pJY0VnQUFnQ3NBQUJnQXpZRDhnQmFBb1FOT0FKQ0FBUU80QUlHQUVvSHRnUUdCM0JJQUFJQXJBQUFHQUp1SDFJRnFnTjRTQUFDQUt3QUFBZ0NBZ0t3VEFBQ0FLd0FBQkFEZXFjaUFUUlFBQUlBckFBQUNBRVN1WEJRQUFJQXJBQUFDQUNDUSJ9
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/synapse-cli000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001","name":"synapse-cli000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-09-26T02:45:22Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"sku": {"name": "PerGB2018"}, "retentionInDays":
      30, "workspaceCapping": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/synapse-cli000001/providers/Microsoft.OperationalInsights/workspaces/laws000003?api-version=2020-10-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"29fa2ccb-7a01-4479-a6f7-be1653702e56\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Sun, 26 Sep 2021 02:51:54 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Sun, 26 Sep 2021 18:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Sun, 26 Sep 2021 02:51:54 GMT\",\r\n
        \   \"modifiedDate\": \"Sun, 26 Sep 2021 02:51:54 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/synapse-cli000001/providers/microsoft.operationalinsights/workspaces/laws000003\",\r\n
        \ \"name\": \"laws000003\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"westus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/providers/microsoft.insights/diagnosticSettings?api-version=2017-05-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"logs": [{"category": "SQLSecurityAuditEvents", "enabled":
      true, "retentionPolicy": {"enabled": false, "days": 0}}], "workspaceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/synapse-cli000001/providers/microsoft.operationalinsights/workspaces/laws000003"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/providers/microsoft.insights/diagnosticSettings/SQLSecurityAuditEvents_LogAnalytics?api-version=2017-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/synapse-cli000001/providers/microsoft.synapse/workspaces/clitest000007/providers/microsoft.insights/diagnosticSettings/SQLSecurityAuditEvents_LogAnalytics","type":"Microsoft.Insights/diagnosticSettings","name":"SQLSecurityAuditEvents_LogAnalytics","location":null,"kind":null,"tags":null,"properties":{"storageAccountId":null,"serviceBusRuleId":null,"workspaceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/synapse-cli000001/providers/microsoft.operationalinsights/workspaces/laws000003","eventHubAuthorizationRuleId":null,"eventHubName":null,"metrics":[],"logs":[{"category":"SQLSecurityAuditEvents","categoryGroup":null,"enabled":true,"retentionPolicy":{"enabled":false,"days":0}}],"logAnalyticsDestinationType":null},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=name+eq+%27adlsgen2000002%27+and+(resourceType+eq+%27Microsoft.Storage%2FstorageAccounts%27+or+resourceType+eq+%27Microsoft.ClassicStorage%2FstorageAccounts%27)&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2BZjdOOUFQdlBLOGJGQUFVSUFBRG9BQT09I1JUOjEjVFJDOjEwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo0I0ZQQzpBZ2dVSUFBQW9BTUFBRndVQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=name+eq+%27adlsgen2000002%27+and+(resourceType+eq+%27Microsoft.Storage%2FstorageAccounts%27+or+resourceType+eq+%27Microsoft.ClassicStorage%2FstorageAccounts%27)&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2BZjdOOUFQdlBLOFpVZTM4RUFBRGdDZz09I1JUOjIjVFJDOjIwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo0I0ZQQzpBZ2o5RVFBQWdDc0FBRndVQUFDQUt3QUEvUkVBQUlBckFBQUVBRlM3STRNQUVnQUFnQ3NBQUFRQThJa2ZpZ0VTQUFDQUt3QUFDZ0FCRGdjQWlZQnhoQkdBREJJQUFJQXJBQUFHQU42RURJQUFnQTRTQUFDQUt3QUFBZ0JKbFJJU0FBQ0FLd0FBQWdDdGt4WVNBQUNBS3dBQURnQ3lOd0RnQWdDZWdQbURHNEZ0Z2hzU0FBQ0FLd0FBQWdCeGtod1NBQUNBS3dBQUdBRE5nUHlBRm9DaEEwNEFrSUFCQTdnQWdZQVNnZTJCQVlIY0VnQUFnQ3NBQUFZQW00ZlVnV3FBM2hJQUFJQXJBQUFDQUlDQXJCTUFBSUFyQUFBRUFONnB5SUJORkFBQWdDc0FBQUlBUks1Y0ZBQUFnQ3NBQUFJQUlKQT0ifQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000005?api-version=2021-06-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000005","name":"ehnamespace000005","type":"Microsoft.EventHub/Namespaces","location":"East
        US","tags":{},"properties":{"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"7f31cba8-b597-4129-b158-8f21a7395bd0:ehnamespace000005","createdAt":"2021-09-26T02:54:03.713Z","updatedAt":"2021-09-26T02:54:03.713Z","serviceBusEndpoint":"https://ehnamespace000005.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000005/eventhubs/ehsrv000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000005/eventhubs/ehsrv000004","name":"ehsrv000004","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"East
        US","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2021-09-26T02:55:07.847Z","updatedAt":"2021-09-26T02:55:09.507Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Listen", "Manage", "Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000005/authorizationRules/ehauthruledb000006?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000005/authorizationRules/ehauthruledb000006","name":"ehauthruledb000006","type":"Microsoft.EventHub/Namespaces/AuthorizationRules","location":"East
        US","properties":{"rights":["Listen","Manage","Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"eventHubAuthorizationRuleId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.EventHub/namespaces/ehnamespace000005/authorizationRules/ehauthruledb000006",
      "eventHubName": "ehsrv000004", "logs": [{"category": "SQLSecurityAuditEvents",
      "enabled": true, "retentionPolicy": {"enabled": false, "days": 0}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: ht[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=name+eq+%27adlsgen2000002%27+and+(resourceType+eq+%27Microsoft.Storage%2FstorageAccounts%27+or+resourceType+eq+%27Microsoft.ClassicStorage%2FstorageAccounts%27)&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2BZjdOOUFQdlBLOGJGQUFVSUFBRG9BQT09I1JUOjEjVFJDOjEwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo0I0ZQQzpBZ2dVSUFBQW9BTUFBRndVQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=name+eq+%27adlsgen2000002%27+and+(resourceType+eq+%27Microsoft.Storage%2FstorageAccounts%27+or+resourceType+eq+%27Microsoft.ClassicStorage%2FstorageAccounts%27)&api-version=2021-04-01&%24skiptoken=eyJuZXh0TWFya2VyIjoiK1JJRDp%2BZjdOOUFQdlBLOFlaYm44RUFBRGdDZz09I1JUOjIjVFJDOjIwMDAjSVNWOjIjSUVPOjY1NTUxI1FDRjo0I0ZQQzpBZ2o5RVFBQWdDc0FBRndVQUFDQUt3QUEvUkVBQUlBckFBQUdBQm11Tkkwamd3QVNBQUNBS3dBQUJBRHdpUitLQVJJQUFJQXJBQUFLQUFFT0J3Q0pnSEdFRVlBTUVnQUFnQ3NBQUFZQTNvUU1nQUNBRGhJQUFJQXJBQUFDQUVtVkVoSUFBSUFyQUFBQ0FLMlRGaElBQUlBckFBQU9BTEkzQU9BQ0FKNkErWU1iZ1cyQ0d4SUFBSUFyQUFBQ0FIR1NIQklBQUlBckFBQVlBTTJBL0lBV2dLRURUZ0NRZ0FFRHVBQ0JnQktCN1lFQmdkd1NBQUNBS3dBQUJnQ2JoOVNCYW9EZUVnQUFnQ3NBQUFJQWdJQ3NFd0FBZ0NzQUFBUUEzcW5JZ0UwVUFBQ0FLd0FBQWdCRXJsd1VBQUNBS3dBQUFnQWdrQT09In0%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/auditingSettings/bapn?api-version=2021-03-01
  response:
    body:
      string: '{"properties":{"retentionDays":30,"auditActionsAndGroups":["DATABASE_LOGOUT_GROUP"],"isStorageSecondaryKeyInUse":false,"isAzureMonitorTargetEnabled":false,"state":"Enabled","storageEndpoint":"https://adlsgen2000002.blob.core.windows.net/","storageAccountSubscriptionId":"7f31cba8-b597-4129-b158-8f21a7395bd0"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/auditingSettings/Default","name":"Default","type":"Microsoft.Synapse/workspaces/auditingSettings"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1