interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestsynapseworkspace.dev.azuresynapse.net/rbacScopes?api-version=2020-08-01-preview
  response:
    body:
      string: '["workspaces/{workspaceName}","workspaces/{workspaceName}/bigDataPools/{bigDataPoolName}","workspaces/{workspaceName}/scopePools/{scopePoolName}","workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}","workspaces/{workspaceName}/credentials/{credentialName}","workspaces/{workspaceName}/linkedServices/{linkedServiceName}"]'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestsynapseworkspace.dev.azuresynapse.net/roleDefinitions?api-version=2020-08-01-preview&scope=workspaces%2F%7BworkspaceName%7D%2FbigDataPools%2F%7BbigDataPoolName%7D
  response:
    body:
      string: "[{\"name\":\"Synapse Administrator\",\"description\":\"Full Synapse
        access to serverless SQL pools, Apache Spark pools and Integration runtimes.\_
        Includes create, read, update and delete access to all published code artifacts.\_
        Includes Compute Operator, Linked Data Manager, and Credential User permissions
        on the workspace system identity credential.\_ Includes granting access.\_
        Azure permissions are required to create, delete, or manage compute resources.\u200B\",\"id\":\"6e4bf58a-b8e1-4cc3-bbf9-d73143322b78\",\"isBuiltIn\":true,\"permissions\":[{\"actions\":[],\"notActions\":[],\"dataActions\":[\"Microsoft.Synapse/workspaces/read\",\"Microsoft.Synapse/workspaces/roleAssignments/write\",\"Microsoft.Synapse/workspaces/roleAssignments/delete\",\"Microsoft.Synapse/workspaces/managedPrivateEndpoints/write\",\"Microsoft.Synapse/workspaces/managedPrivateEndpoints/delete\",\"Microsoft.Synapse/workspaces/bigDataPools/useCompute/action\",\"Microsoft.Synapse/workspaces/bigDataPools/viewLogs/action\",\"Microsoft.Synapse/workspaces/scopePools/useCompute/action\",\"Microsoft.Synapse/workspaces/scop[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestsynapseworkspace.dev.azuresynapse.net/roleDefinitions?api-version=2020-08-01-preview&scope=workspaces%2F%7BworkspaceName%7D%2FintegrationRuntimes%2F%7BintegrationRuntimeName%7D
  response:
    body:
      string: "[{\"name\":\"Synapse Administrator\",\"description\":\"Full Synapse
        access to serverless SQL pools, Apache Spark pools and Integration runtimes.\_
        Includes create, read, update and delete acc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestsynapseworkspace.dev.azuresynapse.net/roleDefinitions?api-version=2020-08-01-preview
  response:
    body:
      string: "[{\"name\":\"Synapse Administrator\",\"description\":\"Full Synapse
        access to serverless SQL pools, Apache Spark pools and Integration runtimes.\_
        Includes create, read, update and delete access to all published code artifacts.\_
        Includes Compute Operator, Linked Data Manage[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestsynapseworkspace.dev.azuresynapse.net/roleDefinitions/7572bffe-f453-4b66-912a-46cc5ef38fda?api-version=2020-08-01-preview
  response:
    body:
      string: "{\"name\":\"Synapse Contributor\",\"description\":\"Full Synapse access
        to serverless SQL pools, Apache Spark pools, Integration runtimes.\_ Includes
        create, read, update, and delete access to all published code artifacts and
        their output[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27username%40contoso.com%27%20or%20mail%20eq%20%27username%40contoso.com%27%20or%20displayName%20eq%20%27username%40contoso.com%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"6ae2ff4b-4939-4952-a097-d234aad383a3","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["a413a9ff-720c-4822-98ef-2f37c2a21f4c","a6520331-d7d4-4276-95f5-15c0933bc757","ded3d325-1bdc-453e-8432-5bac26d7a014","afa73018-811e-46e9-988f-f75d2b1b8430","b21a6b06-1988-436e-a07b-51ec6d9f52ad","531ee2f8-b1cb-453b-9c21-d2180d014ca5","bf28f719-7844-4079-9c78-c1307898e192","28b0fa46-c39a-4188-89e2-58e979a6b014","199a5c09-e0ca-4e37-8f7c-b05d533e1ea2","65cc641f-cccd-4643-97e0-a17e3045e541","e26c2fcc-ab91-4a61-b35c-03cdc8dddf66","46129a58-a698-46f0-aa5b-17f6586297d9","6db1f1db-2b46-403f-be40-e39395f08dbb","6dc145d6-95dd-4191-b9c3-185575ee6f6b","41fcdd7d-4733-4863-9cf4-c65b83ce2df4","c4801e8a-cb58-4c35-aca6-f2dcc106f287","0898bdbb-73b0-471a-81e5-20f1fe4dd66e","617b097b-4b93-4ede-83de-5f075bb5fb2f","33c4f319-9bdd-48d6-9c4d-410b750a4a5a","8e0c0a52-6a6c-4d40-8370-dd62790dcd70","4828c8ec-dc2e-4779-b502-87ac9ce28ab7","3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":[],"skuId":"3d957427-ecdc-4df2-aacd-01cc9d519da8"},{"disabledPlans":[],"skuId":"9f3d9c1d-25a5-4aaa-8e59-23a1e6450a67"},{"disabledPlans":[],"skuId":"26a18e8f-4d14-46f8-835a-ed3ba424a961"},{"disabledPlans":[],"skuId":"412ce1a7-a499-41b3-8eb6-b38f2bbc5c3f"},{"disabledPlans":["39b5c996-467e-4e60-bd62-46066f572726"],"skuId":"90d8b3f8-712e-4f7b-aa1e-62e7ae6cbe96"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"},{"disabledPlans":[],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":["e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"09015f9f-377f-4538-bbb5-f75ceb09358a"},{"disabledPlans":[],"skuId":"488ba24a-39a9-4473-8ee5-19291e71b002"},{"disabledPlans":["0b03f40b-c404-40c3-8651-2aceb74365fa","b650d915-9886-424b-a08d-633cede56f57","e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72","fe71d6c3-a2ea-4499-9778-da042bf08063","fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"],"skuId":"ea126fc5-a19e-42e2-a731-da9d437bffcf"}],"assignedPlans":[{"assignedTimestamp":"2021-02-09T21:21:36Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"fe71d6c3-a2ea-4499-9778-da042bf08063"},{"assignedTimestamp":"2021-02-09T21:21:36Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"199a5c09-e0ca-4e37-8f7c-b05d533e1ea2"},{"assignedTimestamp":"2021-02-09T21:21:36Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"assignedTimestamp":"2021-02-09T21:21:36Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"5dbe027f-2339-4123-9542-606e4d348a72"},{"assi[...]
- request:
    body: '{"roleId": "7572bffe-f453-4b66-912a-46cc5ef38fda", "principalId": "6ae2ff4b-4939-4952-a097-d234aad383a3",
      "scope": "workspaces/clitestsynapseworkspace"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitestsynapseworkspace.dev.azuresynapse.net/roleAssignments/0550e787-7841-4669-9ac8-a8176e900000?api-version=2020-08-01-preview
  response:
    body:
      string: '{"id":"0550e787-7841-4669-9ac8-a8176e900000","roleDefinitionId":"7572bffe-f453-4b66-912a-46cc5ef38fda","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3","scope":"workspaces/clitestsynapseworkspace","principalType":"User"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestsynapseworkspace.dev.azuresynapse.net/roleAssignments?api-version=2020-08-01-preview&roleId=7572bffe-f453-4b66-912a-46cc5ef38fda&scope=workspaces%2Fclitestsynapseworkspace%2FbigDataPools%2Ftestitem
  response:
    body:
      string: '{"count":2,"value":[{"id":"0550e787-7841-4669-9ac8-a8176e900000","roleDefinitionId":"7572bffe-f453-4b66-912a-46cc5ef38fda","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3","scope":"workspaces/clitestsynapseworkspace","principalType":"User"},{"id":"0333e787-7841-4669-9ac8-a8176e900000","roleDefinitionId":"7572bffe-f453-4b66-912a-46cc5ef38fda","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3","scope":"workspaces/clitestsynapseworkspace/bigDataPools/testitem","principalType":"User"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-continuation:
      - ''
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestsynapseworkspace.dev.azuresynapse.net/roleAssignments?api-version=2020-08-01-preview&principalId=6ae2ff4b-4939-4952-a097-d234aad383a3
  response:
    body:
      string: '{"count":3,"value":[{"id":"5381931d-afcb-4105-9e88-f8d93333da56","roleDefinitionId":"6e4bf58a-b8e1-4cc3-bbf9-d73143322b78","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3","scope":"workspaces/clitestsynapseworkspace","principalType":"User"},{"id":"0550e787-7841-4669-9ac8-a8176e900000","roleDefinitionId":"7572bffe-f453-4b66-912a-46cc5ef38fda","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3","scope":"workspaces/clitestsynapseworkspace","principalType":"User"},{"id":"0333e787-7841-4669-9ac8-a8176e900000","roleDefinitionId":"7572bffe-f453-4b66-912a-46cc5ef38fda","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3","scope":"workspaces/clitestsynapseworkspace/bigDataPools/testitem","principalType":"User"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-continuation:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27test-sp%27%20or%20mail%20eq%20%27test-sp%27%20or%20displayName%20eq%20%27test-sp%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1075747'
      ocp-aad-diagnostics-server-name:
      - dp9ayUpebIbSNQYGmW68e1/qjsessR3aALM5U8C+W30=
      ocp-aad-session-key:
      - n_Ir075SiboLSV3mw9Wj1HKXcU0s9lX-vgcPUtzaXx10q22mgVNiVZ_d7ispGg_H22IVo-DJGJAHSeO-mif7IhpNU4fEskiyFNnMBGZKHZOy--NEYp1-4BbhqqHrWIvB.pNJcMPKqF8YdnjSmX2n7SChYF-MRME2_bXR9xtswGS0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=displayName%20eq%20%27test-sp%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"bf4f36df-eda0-4fc4-9602-69d6ff714d8c","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"test-sp","appId":"68cf6b40-418f-461c-9dfa-02be9a44448f","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"test-sp","errorUrl":null,"homepage":"https://test-sp","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[{"customKeyIdentifier":"C01AFDC78C7D100D7063770A384F57A3BD6AFD25","endDate":"2022-03-28T03:33:41Z","keyId":"0aa92872-4322-46da-a36e-e0435d3050c7","startDate":"2020-03-28T03:33:41Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access test-sp on behalf of the signed-in user.","adminConsentDisplayName":"Access
        test-sp","id":"250bbf70-e293-4c7b-9ced-c4ccb824392f","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access test-sp on your behalf.","userConsentDisplayName":"Access
        test-sp","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["file://sp-7","68cf6b40-418f-461c-9dfa-02be9a44448f"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1159012'
      ocp-aad-diagnostics-server-name:
      - 1uq6qA8yDr2Uii7Ls7hczb2EvpDfifZs/xp1jsmi5p8=
      ocp-aad-session-key:
      - hb8neNlG2N1Xr1qtpe5Y4a9q7YmjSnfr1WLWwjKidVSO20Dui0NjDt_TL4kGWkOAD3XzvvqR4udVdmPA8r7R__gWp-byLY9AuyRuePQ_WiBvgeHK3AXj7uicm7MHGMe1.bJSJnw5dcloYS6fM9TmPUdCsQHwpbKZ-MnQqQB2Qix8
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestsynapseworkspace.dev.azuresynapse.net/roleAssignments?api-version=2020-08-01-preview
  response:
    body:
      string: '{"count":4,"value":[{"id":"5381931d-afcb-4105-9e88-f8d93333da56","roleDefinitionId":"6e4bf58a-b8e1-4cc3-bbf9-d73143322b78","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3","scope":"workspaces/clitestsynapseworkspace","principalType":"User"},{"id":"6e673719-eeb8-48e5-ab9d-3b8a2f5b314e","roleDefinitionId":"6e4bf58a-b8e1-4cc3-bbf9-d73143322b78","principalId":"32625750-0c5d-4fcf-b813-9e27564a2b82","scope":"workspaces/clitestsynapseworkspace","principalType":"ServicePrincipal"},{"id":"0550e787-7841-4669-9ac8-a8176e900000","roleDefinitionId":"7572bffe-f453-4b66-912a-46cc5ef38fda","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3","scope":"workspaces/clitestsynapseworkspace","principalType":"User"},{"id":"0333e787-7841-4669-9ac8-a8176e900000","roleDefinitionId":"7572bffe-f453-4b66-912a-46cc5ef38fda","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3","scope":"workspaces/clitestsynapseworkspace/bigDataPools/testitem","principalType":"User"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-continuation:
      - ''
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitestsynapseworkspace.dev.azuresynapse.net/roleAssignments/0550e787-7841-4669-9ac8-a8176e900000?api-version=2020-08-01-preview
  response:
    body:
      string: '{"error":{"code":"RoleAssignmentNotFound","message":"RoleAssignmentNotFound"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
