interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"defaultDataLakeStorage": {"accountUrl": "https://adlsgen2000002.dfs.core.windows.net",
      "filesystem": "testfilesystem"}, "sqlAdministratorLoginPassword": "Pswd1000008",
      "sqlAdministratorLogin": "cliuser1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000007","dev":"https://clitest000007.dev.azuresynapse.net","sqlOnDemand":"clitest000007-ondemand.sql.azuresynapse.net","sql":"clitest000007.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-737ce129-cf56-4341-a91e-1cafb08d4af9","privateEndpointConnections":[],"workspaceUID":"3f891838-4e9a-44c5-9423-72400478605b","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007","location":"eastus","name":"clitest000007","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"dfe14580-b489-4839-bcb6-7c8682f7a914"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationStatuses/17acff70-0cd1-43d7-aac4-cd038d978753?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationStatuses/17acff70-0cd1-43d7-aac4-cd038d978753?api-version=2021-06-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://adlsgen2000002.dfs.core.windows.net","filesystem":"testfilesystem"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsynapse-cli000001%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fclitest000007","dev":"https://clitest000007.dev.azuresynapse.net","sqlOnDemand":"clitest000007-ondemand.sql.azuresynapse.net","sql":"clitest000007.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-737ce129-cf56-4341-a91e-1cafb08d4af9","sqlAdministratorLogin":"cliuser1","privateEndpointConnections":[],"workspaceUID":"3f891838-4e9a-44c5-9423-72400478605b","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"6a33200f-2b27-4fda-8567-b0c70d532441"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007","location":"eastus","name":"clitest000007","identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"dfe14580-b489-4839-bcb6-7c8682f7a914"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"endIpAddress": "255.255.255.255", "startIpAddress": "0.0.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/firewallRules/allowAll?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Provisioning","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationStatuses/4fb40275-0e4c-4c02-8863-eec2642031be?api-version=2021-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationResults/4fb40275-0e4c-4c02-8863-eec2642031be?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/operationResults/4fb40275-0e4c-4c02-8863-eec2642031be?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","startIpAddress":"0.0.0.0","endIpAddress":"255.255.255.255"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/firewallRules/allowAll","name":"allowAll","type":"Microsoft.Synapse/workspaces/firewallRules"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "clitest000007", "type": "Microsoft.Synapse/workspaces"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/checkNameAvailability?api-version=2021-06-01
  response:
    body:
      string: '{"available":false,"message":"Workspace name clitest000007 is not available","reason":"AlreadyExists","name":"clitest000007"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Storage optimized", "capacity":
      2, "size": "Medium"}, "properties": {"enableStreamingIngest": true, "enablePurge":
      true, "workspaceUID": "3f891838-4e9a-44c5-9423-72400478605b"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003","name":"clitest000007/testkstpool000003","type":"Microsoft.Synapse/workspaces/kustoPools","etag":"\"\"","location":"eastus","sku":{"name":"Storage
        optimized","size":"Medium","capacity":2},"properties":{"state":"Creating","enableStreamingIngest":true,"enablePurge":true,"workspaceUID":"3f891838-4e9a-44c5-9423-72400478605b","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/1a90198b-80a5-4f2b-aec1-e1e39cd56b35?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/1a90198b-80a5-4f2b-aec1-e1e39cd56b35?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/1a90198b-80a5-4f2b-aec1-e1e39cd56b35","name":"1a90198b-80a5-4f2b-aec1-e1e39cd56b35","status":"Running","startTime":"2022-05-17T11:32:47.9893611Z","endTime":"2022-05-17T11:32:47.9893611Z","percentComplete":0.5,"properties":{"OperationKind":"ClusterCreateSynapse","RootActivityId":"3fccd9a5-c087-4c80-af58-3c3d62e9a1fe","provisioningState":"Running","OperationState":"InProgress"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003","name":"clitest000007/testkstpool000003","type":"Microsoft.Synapse/workspaces/kustoPools","etag":"\"2022-05-17T11:43:27.4499329Z\"","location":"East
        US","sku":{"name":"Storage optimized","size":"Medium","capacity":2},"tags":{},"properties":{"state":"Running","stateReason":null,"uri":"https://testkstpool000003.clitest000007.kusto.azuresynapse.net","dataIngestionUri":"https://ingest-testkstpool000003.clitest000007.kusto.azuresynapse.net","optimizedAutoscale":null,"enableStreamingIngest":true,"languageExtensions":{"value":[]},"enablePurge":true,"workspaceUID":"3f891838-4e9a-44c5-9423-72400478605b","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2022-05-17T11:43:27.4499329Z"'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "kind": "ReadWrite", "properties": {"softDeletePeriod":
      "P1D"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/databases/testdtabase000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/Databases/testdtabase000004","name":"clitest000007/testkstpool000003/testdtabase000004","type":"Microsoft.Synapse/workspaces/kustoPools/Databases","location":"eastus","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus/kustoPoolOperationResults/53f100af-4444-41b9-bf95-e5b5d0452aee?api-version=2021-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/databases/testdtabase000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kustoPools/testkstpool000003/Databases/testdtabase000004","name":"clitest000007/testkstpool000003/testdtabase000004","type":"Microsoft.Synapse/workspaces/kustoPools/Databases","location":"East
        US","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","statistics":{"size":0.0},"isFollowed":false,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "scriptname000005", "properties": {"content": {"query": "Logs
      | where TimeStamp > ago(1h) | take 10", "metadata": {"language": "kql"}, "currentConnection":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000007.dev.azuresynapse.net/kqlScripts/scriptname000005?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kqlScripts/scriptname000005","recordId":4131278,"state":"Creating","created":"2022-05-17T11:44:36.7333333Z","changed":"2022-05-17T11:44:36.7333333Z","type":"KqlScript","name":"scriptname000005","operationId":"282e1450-5215-4b16-ba5a-b83790d70297","artifactId":"97668431-3B29-4048-8F85-52517F718BED"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000007.dev.azuresynapse.net/operationResults/282e1450-5215-4b16-ba5a-b83790d70297?api-version=2021-11-01-preview
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000007.dev.azuresynapse.net/operationResults/282e1450-5215-4b16-ba5a-b83790d70297?api-version=2021-11-01-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kqlscripts/scriptname000005\",\n
        \ \"name\": \"scriptname000005\",\n  \"type\": \"Microsoft.Synapse/workspaces/kqlscripts\",\n
        \ \"properties\": {\n    \"content\": {\n      \"query\": \"Logs | where TimeStamp
        > ago(1h) | take 10\",\n      \"metadata\": {\n        \"language\": \"kql\"\n
        \     },\n      \"currentConnection\": {}\n    }\n  },\n  \"etag\": \"0f00363d-0000-0100-0000-62838aa90000\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "scriptname2000006", "properties": {"content": {"query": "Logs
      | where TimeStamp > ago(1h) | take 10", "metadata": {"language": "kql"}, "currentConnection":
      {"poolName": "testkstpool000003", "databaseName": "testdtabase000004"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://clitest000007.dev.azuresynapse.net/kqlScripts/scriptname2000006?api-version=2021-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kqlScripts/scriptname2000006","recordId":4131281,"state":"Creating","created":"2022-05-17T11:44:48.6933333Z","changed":"2022-05-17T11:44:48.6933333Z","type":"KqlScript","name":"scriptname2000006","operationId":"578640da-3302-41b0-aa4c-8f281d19599f","artifactId":"C920E332-E0F2-40DF-ACC5-E190521A870C"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000007.dev.azuresynapse.net/operationResults/578640da-3302-41b0-aa4c-8f281d19599f?api-version=2021-11-01-preview
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000007.dev.azuresynapse.net/kqlScripts?api-version=2021-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kqlscripts/scriptname000005","name":"scriptname000005","type":"Microsoft.Synapse/workspaces/kqlscripts","etag":"0f00363d-0000-0100-0000-62838aa90000","properties":{"content":{"query":"Logs
        | where TimeStamp > ago(1h) | take 10","metadata":{"language":"kql"},"currentConnection":{}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Synapse/workspaces/clitest000007/kqlscripts/scriptname2000006","name":"scriptname2000006","type":"Microsoft.Synapse/workspaces/kqlscripts","etag":"0f00383d-0000-0100-0000-62838ab20000","properties":{"content":{"query":"Logs
        | where TimeStamp > ago(1h) | take 10","metadata":{"language":"kql"},"currentConnection":{"poolName":"testkstpool000003","databaseName":"testdtabase000004"}}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clitest000007.dev.azuresynapse.net/kqlScripts/scriptname000005?api-version=2021-11-01-preview
  response:
    body:
      string: '{"code":"KqlScriptNotFound","message":"The KqlScript scriptname000005
        was not found in (subscription=051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3 resourceGroup=synapse-cli000001
        workspace=clitest000007)"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
