interactions:
- request:
    body: '{"properties": {"displayName": "test_policy000003", "description": "desc_for_test_policy_123",
      "policyRule": {"if": {"not": {"field": "location", "in": "[parameters(''allowedLocations'')]"}},
      "then": {"effect": "deny"}}, "parameters": {"allowedLocations": {"type": "array",
      "metadata": {"displayName": "Allowed locations", "description": "The list of
      locations that can be specified when deploying resources"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/azure-cli-test-policy000002?api-version=2019-09-01
  response:
    body:
      string: '{"properties":{"displayName":"test_policy000003","policyType":"Custom","mode":"Indexed","description":"desc_for_test_policy_123","metadata":{"createdBy":"8f8254e2-a098-4c47-9e1c-26d7769412fd","createdOn":"2020-12-15T04:07:01.9653292Z","updatedBy":null,"updatedOn":null},"parameters":{"allowedLocations":{"type":"Array","metadata":{"displayName":"Allowed
        locations","description":"The list of locations that can be specified when
        deploying resources"}}},"policyRule":{"if":{"not":{"field":"location","in":"[parameters(''allowedLocations'')]"}},"then":{"effect":"deny"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/azure-cli-test-policy000002","type":"Microsoft.Authorization/policyDefinitions","name":"azure-cli-test-policy000002"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"displayName": "test_assignment000004", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/azure-cli-test-policy000002",
      "scope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_create_policy_assignment_random000001",
      "parameters": {"allowedLocations": {"value": ["australiaeast", "eastus", "japaneast",
      "westus"]}}, "enforcementMode": "Default"}, "sku": {"name": "A0", "tier": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_create_policy_assignment_random000001/providers/Microsoft.Authorization/policyAssignments/AEggfs1cQnSsvSeOUdbF6g?api-version=2019-09-01
  response:
    body:
      string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"test_assignment000004","policyDefinitionI[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments?api-version=2019-09-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/azure-cli-test-policy000002?api-version=2019-09-01
  response:
    body:
      string: '{"properties":{"displayName":"test_policy000003","policyType":"Custom","mode":"Indexed","description":"desc_for_test_policy_123","metadata":{"createdBy":"8f8254e2-a098-4c47-9e1c-26d7769412fd","createdOn":"2020-12-15T04:07:01.9653292Z","updatedBy":null,"updatedOn":null},"parameters":{"allowedLocations":{"type":"Array","metadata":{"displayName":"Allowed
        locations","description":"The list of locations that can be specified when
        deploying resources"}}},"policyRule":{"if":{"not":{"field":"location","in":"[parameters(''allowedLocations'')]"}},"then":{"effect":"deny"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/azure-cli-test-policy000002","type":"Microsoft.Authorization/policyDefinitions","name":"azure-cli-test-policy000002"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
