interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabil[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "azure-cli-management000002", "properties": {"details": {"parent":
      {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management000002","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management000002?api-version=2021-04-01
      x-ba-restapi:
      - 1.0.3.1625
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management000002?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management000002","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management000002?api-version=2021-04-01
      x-ba-restapi:
      - 1.0.3.1625
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management000002?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management000002","status":"Succeeded","properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","displayName":"azure-cli-management000002","details":{"version":1,"updatedTime":"2021-07-07T09:31:07.9388988Z","updatedBy":"81ea823c-a4c0-4814-a9ae-83fbfc093178","parent":{"id":"/providers/Microsoft.Management/managementGroups/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","name":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","displayName":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.1625
    status:
      code: 200
      message: OK
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedsubId\":
      {\"value\": \"0b1f6471-1bf0-4dda-aec3-cb9272f09590\"}, \"targetMG\": {\"value\":
      \"azure-cli-management000002\"}, \"nestedRG\": {\"value\": \"azure-cli-sub-resource-group000003\"},
      \"storageAccountName\": {\"value\": \"armbuilddemo000004\"}}, \"mode\": \"Incremental\",
      \"whatIfSettings\": {\"resultFormat\": \"FullResourcePayloads\"}, template:{\r\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/managementGroupDeploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"targetMG\":
      {\r\n      \"type\": \"string\"\r\n    },\r\n    \"nestedsubId\": {\r\n      \"type\":
      \"string\"\r\n    },\r\n    \"nestedRG\": {\r\n      \"type\": \"string\"\r\n
      \   },\r\n    \"storageAccountName\": {\r\n      \"type\": \"string\"\r\n    }\r\n
      \ },\r\n  \"variables\": {\r\n    \"mgScope\": \"[concat('/providers/Microsoft.Management/managementGroups/',
      parameters('targetMG'))]\"\r\n  },\r\n  \"resources\": [\r\n    {\r\n      \"type\":
      \"Microsoft.Authorization/policyDefinitions\",\r\n      \"name\": \"policy2\",\r\n
      \     \"apiVersion\": \"2016-12-01\",\r\n      \"properties\": {\r\n        \"policyType\":
      \"Custom\",\r\n        \"parameters\": {\r\n\r\n        },\r\n        \"policyRule\":
      {\r\n          \"if\": {\r\n            \"field\": \"location\",\r\n            \"equals\":
      \"northeurope\"\r\n          },\r\n          \"then\": {\r\n            \"effect\":
      \"deny\"\r\n          }\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"type\":
      \"Microsoft.Authorization/policyAssignments\",\r\n      \"name\": \"location-lock\",\r\n
      \     \"apiVersion\": \"2016-12-01\",\r\n      \"dependsOn\": [\r\n        \"policy2\"\r\n
      \     ],\r\n      \"properties\": {\r\n        \"scope\": \"[variables('mgScope')]\",\r\n
      \       \"policyDefinitionId\": \"[concat(variables('mgScope'), '/providers/',
      'Microsoft.Authorization/policyDefinitions/', 'policy2')]\"\r\n      }\r\n    },\r\n
      \   {\r\n      \"type\": \"Microsoft.Resources/deployments\",\r\n      \"name\":
      \"sdktest-subnested\",\r\n      \"apiVersion\": \"2018-05-01\",\r\n      \"location\":
      \"West US\",\r\n      \"subscriptionId\": \"[parameters('nestedSubId')]\",\r\n
      \     \"properties\": {\r\n        \"template\": {\r\n          \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {\r\n\r\n
      \         },\r\n          \"variables\": {\r\n\r\n          },\r\n          \"resources\":
      [\r\n            {\r\n              \"type\": \"Microsoft.Resources/resourceGroups\",\r\n
      \             \"name\": \"[parameters('nestedRG')]\",\r\n              \"apiVersion\":
      \"2018-05-01\",\r\n              \"location\": \"East US 2 EUAP\",\r\n              \"properties\":
      {\r\n\r\n              }\r\n            },\r\n            {\r\n              \"type\":
      \"Microsoft.Resources/deployments\",\r\n              \"name\": \"rg-nested\",\r\n
      \             \"apiVersion\": \"2017-05-10\",\r\n              \"resourceGroup\":
      \"[parameters('nestedRG')]\",\r\n              \"dependsOn\": [ \"[parameters('nestedRG')]\"
      ],\r\n              \"properties\": {\r\n                \"template\": {\r\n
      \                 \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \                 \"contentVersion\": \"1.0.0.0\",\r\n                  \"parameters\":
      {\r\n\r\n                  },\r\n                  \"variables\": {\r\n\r\n
      \                 },\r\n                  \"resources\": [\r\n                    {\r\n
      \                     \"type\": \"Microsoft.Storage/storageAccounts\",\r\n                      \"name\":
      \"[parameters('storageAccountName')]\",\r\n                      \"apiVersion\":
      \"2015-06-15\",\r\n                      \"location\": \"East US\",\r\n                      \"properties\":
      {\r\n                        \"accountType\": \"Standard_LRS\",\r\n                        \"supportsHttpsTrafficOnly\":
      true\r\n                      }\r\n                    }\r\n                  ]\r\n
      \               },\r\n                \"mode\": \"Incremental\"\r\n              }\r\n
      \           }\r\n          ]\r\n        },\r\n        \"mode\": \"Incremental\"\r\n
      \     }\r\n    }\r\n  ] // comment\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/mock-deployment/whatIf?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/providers/Microsoft.Resources/operationResults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQVpVUkU6MkRDTEk6MkRNQU5BR0VNRU5UTEdFSEVMUkpKNy1NQU5BR0VNRU5UOjVGR1JPVVA6NUZMRVZFTDo1RlRFTVBMQVRFLUZFODQ4NTc2OjJENEJFNzoyRDQyMEY6MkRBQUQ3OjJEMzU2MEE0NkJBMTlEIiwiam9iTG9jYXRpb24iOiJXZXN0VVMifQ?api-version=2021-04-01
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/operationResults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQVpVUkU6MkRDTEk6MkRNQU5BR0VNRU5UTEdFSEVMUkpKNy1NQU5BR0VNRU5UOjVGR1JPVVA6NUZMRVZFTDo1RlRFTVBMQVRFLUZFODQ4NTc2OjJENEJFNzoyRDQyMEY6MkRBQUQ3OjJEMzU2MEE0NkJBMTlEIiwiam9iTG9jYXRpb24iOiJXZXN0VVMifQ?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Succeeded","properties":{"correlationId":"fe848576-4be7-420f-aad7-3560a46ba19d","changes":[{"resourceId":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Authorization/policyAssignments/location-lock","changeType":"Create","after":{"apiVersion":"2016-12-01","id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Authorization/policyAssignments/location-lock","name":"location-lock","properties":{"policyDefinitionId":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Authorization/policyDefinitions/policy2","scope":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002"},"type":"Microsoft.Authorization/policyAss[...]
