interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-snapshot-subscription000001?api-version=2021-05-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource ''cli-test-list-deployment-stack-snapshot-subscription000001''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "updateBehavior":
      "detachResources", "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-snapshot-subscription000001?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"updateBehavior\":
        \"detachResources\",\r\n    \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/9a032628-dc6f-42e4-8177-ec0b75d4fddd?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/9a032628-dc6f-42e4-8177-ec0b75d4fddd\",\r\n
        \ \"name\": \"9a032628-dc6f-42e4-8177-ec0b75d4fddd\",\r\n  \"status\": \"succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-snapshot-subscription000001?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"snapshotId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-snapshot-subscription000001/snapshots/2022-01-31-21-18-31-a8148\",\r\n
        \   \"updateBehavior\": \"detachResources\",\r\n    \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/cli-test-list-deployment-stack-snapsho-2022-01-31-21-18-31-a8148\",\r\n
        \   \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \   \"parameters\": {\r\n      \"foo\": {\r\n        \"value\": \"abc\"\r\n
        \     },\r\n      \"bar\": {\r\n        \"value\": \"xyz\"\r\n      }\r\n
        \   },\r\n    \"template\": {\r\n      \"$schema\": \"https://s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-snapshot-subscription000001/snapshots?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"detachedResources\":
        [],\r\n        \"deletedResources\": [],\r\n        \"failedResources\": [],\r\n
        \       \"updateBehavior\": \"detachResources\",\r\n        \"deploymentId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/cli-test-list-deployment-stack-snapsho-2022-01-31-21-18-31-a8148\",\r\n
        \       \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \       \"parameters\": {\r\n          \"foo\": {\r\n            \"value\":
        \"abc\"\r\n          },\r\n          \"[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-snapshot-subscription000001?api-version=2021-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
