interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1''
        under resource group ''cli_test_deployment_stacks000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec000003''
        under resource group ''cli_test_deployment_stacks000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westcentralus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"\
        properties\": {},\r\n  \"systemData\": {\r\n    \"createdBy\": \"kylealbert@microsoft.com\"\
        ,\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-05-06T16:18:21.4983267Z\"\
        ,\r\n    \"lastModifiedBy\": \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2024-05-06T16:18:21.4983267Z\"\r\n\
        \  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003\"\
        ,\r\n  \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"\
        cli-test-template-spec000003\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"linkedTemplates":
      [], "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"DeploymentStackResourceNotFound\"\
        ,\r\n    \"message\": \"The deployment stack '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002'\
        \ could not be found.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": {}, "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "delete", "resourceGroups": "delete", "managementGroups": "delete"},
      "bypassStackOutOfSyncError": false, "description": "stack deployment", "denySettings":
      {"mode": "none", "excludedPrincipals": ["principal1", "principal2"], "excludedActions":
      ["action1", "action2"], "applyToChildScopes": true}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002/validate?api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOjlkYTYwMzQxOjJEOTYxZToyRDQ3YzQ6MkRhMjA2OjJEYmUzMGE0ZDliN2QzIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2024-03-01&t=638506091040807717&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOjlkYTYwMzQxOjJEOTYxZToyRDQ3YzQ6MkRhMjA2OjJEYmUzMGE0ZDliN2QzIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2024-03-01&t=638506091040807717&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/5738d02f-1ec3-4e95-87ea-ef192b7370a3?api-version=2024-03-01&t=638506091206624542&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"actionOnUnmanage\"\
        : {\r\n      \"resources\": \"delete\",\r\n      \"resourceGroups\": \"delete\"\
        ,\r\n      \"managementGroups\": \"delete\"\r\n    },\r\n    \"deploymentId\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-resource-groupxdf-240506165gr14\"\
        ,\r\n    \"description\": \"stack deployment\",\r\n    \"duration\": \"PT6.2263579S\"\
        ,\r\n    \"denySettings\": {\r\n      \"mode\": \"none\",\r\n      \"applyToChildScopes\"\
        : true,\r\n      \"excludedPrincipals\": [\r\n        \"principal1\",\r\n\
        \        \"principal2\"\r\n      ],\r\n      \"excludedActions\": [\r\n  \
        \      \"action1\",\r\n        \"action2\"\r\n      ]\r\n    },\r\n    \"\
        outputs\": {\r\n      \"foo\": {\r\n        \"type\": \"String\",\r\n    \
        \    \"value\": \"abc\"\r\n      },\r\n      \"bar\": {\r\n        \"type\"\
        : \"String\",\r\n        \"value\": \"xyz\"\r\n      }\r\n    },\r\n    \"\
        parameters\": {\r\n      \"foo\": {\r\n        \"value\": \"abc\",\r\n   \
        \     \"type\": \"string\"\r\n      },\r\n      \"bar\": {\r\n        \"value\"\
        : \"xyz\",\r\n        \"type\": \"string\"\r\n      }\r\n    },\r\n    \"\
        resources\": [],\r\n    \"provisioningState\": \"succeeded\",\r\n    \"detachedResources\"\
        : [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\": [],\r\n\
        \    \"correlationId\": \"11024b26-f3c3-4931-9267-dffadab96e5e\"\r\n  },\r\
        \n  \"systemData\": {\r\n    \"createdBy\": \"kylealbert@microsoft.com\",\r\
        \n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-05-06T16:18:40.2718181Z\"\
        ,\r\n    \"lastModifiedBy\": \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2024-05-06T16:18:40.2718181Z\"\r\n\
        \  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\":\
        \ \"cli-test-create-deployment-stack-resource-group000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&unmanageAction.ManagementGroups=detach&api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1"},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach", "managementGroups": "detach"},
      "bypassStackOutOfSyncError": false, "denySettings": {"mode": "none", "applyToChildScopes":
      false}}}'
    heade[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOmEwYzMzZWMxOjJEZjNhZjoyRDQ0ZWM6MkRhNDEzOjJEZTcxMjI1NmNlZTEwIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2024-03-01&t=638506091560186818&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: '{"tags": {}, "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.10.61.36676", "templateHash": "11934527272858304086"}}, "parameters": {"name":
      {"type": "string"}, "specVersionName": {"type": "string", "defaultValue": "v1"},
      "location": {"type": "string", "defaultValue": "[resourceGroup().location]"}},
      "resources": [{"type": "Microsoft.Resources/templateSpecs", "apiVersion": "2022-02-01",
      "name": "[parameters(''name'')]", "location": "[parameters(''location'')]",
      "properties": {"displayName": "DanteTemplateSpec", "description": "Template
      Spec for testing stacks."}}, {"type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2022-02-01", "name": "[format(''{0}/{1}'', parameters(''name''),
      parameters(''specVersionName''))]", "location": "[parameters(''location'')]",
      "properties": {"description": "generated version number for testing stacks",
      "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "functions": [], "variables":
      {}, "resources": [], "outputs": {}}}, "dependsOn": ["[resourceId(''Microsoft.Resources/templateSpecs'',
      parameters(''name''))]"]}]}, "parameters": {"name": {"value": "cli-test-resource-one000004"}},
      "actionOnUnmanage": {"resources": "delete", "resourceGroups": "delete", "managementGroups":
      "delete"}, "bypassStackOutOfSyncError": false, "denySettings": {"mode": "none",
      "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscripti[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOjRkYzY0MGFhOjJEMDk5YzoyRDRiMTk6MkQ5ODdlOjJEZjBiZDlkZTIzYWQ4Iiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2024-03-01&t=638506092164812064&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/e20ba8cb-a81b-4415-8307-030356e13860?api-version=2024-03-01&t=638506092329962240&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOjEzMzNkN2U4OjJEMGFlNToyRDQ3Y2U6MkRhMzQzOjJEMmFlZDg2ZTM2NTM2Iiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2024-03-01&t=638506092653960744&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/8dd25abb-d06d-47e0-a976-07c90daec852?api-version=2024-03-01&t=638506092818725971&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources","namespace":"Microsoft.Resources","authorizations":[{"applicationId":"3b990c8b-9607-4c2a-8b04-1d41985facca"},{"applicationId":"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca"}],"resourceTypes":[{"resourceType":"deploymentScripts","locations":["East
        Asia","Southeast Asia","Australia East","Australia Southeast","Brazil South","Canada
        Central","Canada East","Switzerland North","Germany West Central","East US
        2","East US","Central US","North Central US","France Central","UK South","UK
        West","Central India","South India","Jio India West","Italy North","Japan
        East","Japan West","Korea Central","Korea South","Mexico Central","North Europe","Norway
        East","Poland Central","Qatar Central","Sweden Central","UAE North","West
        Central US","West Europe","West US 2","West US","South Central US","West US
        3","South Africa North","Central US EUAP","East US 2 EUAP","Spain Central","Taiwan
        North","Taiwan Northwest"],"apiVersions":["2023-08-01","2020-10-01","2019-10-01-preview"],"capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"deploymentScripts/logs","locations":["East
        Asia","Southeast Asia","Australia East","Australia Southeast","Brazil South","Canada
        Central","Canada East","Switzerland North","Germany West Central","East US
        2","East US","Central US","North Central US","France Central","UK South","UK
        West","Central India","South India","Jio India West","Italy North","Japan
        East","Japan West","Korea Central","Korea South[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n\
        \    \"displayName\": \"DanteTemplateSpec\",\r\n    \"description\": \"Template\
        \ Spec for testing stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\"\
        : \"kylealbert@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n  \
        \  \"createdAt\": \"2024-05-06T16:20:35.2412796Z\",\r\n    \"lastModifiedBy\"\
        : \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\
        \n    \"lastModifiedAt\": \"2024-05-06T16:20:35.9131789Z\"\r\n  },\r\n  \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004\"\
        ,\r\n  \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"\
        cli-test-resource-one000004\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-two000005?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n\
        \    \"displayName\": \"DanteTemplateSpec\",\r\n    \"description\": \"Template\
        \ Spec for testing stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\"\
        : \"kylealbert@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n  \
        \  \"createdAt\": \"2024-05-06T16:21:25.6358542Z\",\r\n    \"lastModifiedBy\"\
        : \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\
        \n    \"lastModifiedAt\": \"2024-05-06T16:21:26.2608034Z\"\r\n  },\r\n  \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-two000005\"\
        ,\r\n  \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"\
        cli-test-resource-two000005\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOmMyM2ZhY2QxOjJENzBkNDoyRDRlOWM6MkRiYzRkOjJEODUwOWE3YTVjMWFkIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2024-03-01&t=638506093220027473&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/4798b887-aefc-4c83-96de-43f8f4207e93?api-version=2024-03-01&t=638506093384375325&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-three000006?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n\
        \    \"displayName\": \"DanteTemplateSpec\",\r\n    \"description\": \"Template\
        \ Spec for testing stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\"\
        : \"kylealbert@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n  \
        \  \"createdAt\": \"2024-05-06T16:22:53.121997Z\",\r\n    \"lastModifiedBy\"\
        : \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\
        \n    \"lastModifiedAt\": \"2024-05-06T16:22:54.1063818Z\"\r\n  },\r\n  \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-three000006\"\
        ,\r\n  \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"\
        cli-test-resource-three000006\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-cli_test_deployment_stacks-two000007?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007","name":"cli-test-cli_test_deployment_stacks-two000007","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"DeploymentStackResourceNotFound\"\
        ,\r\n    \"message\": \"The deployment stack '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002'\
        \ could not be found.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": {}, "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.10.97.17786", "templateHash": "66565252327750708"}}, "parameters": {"rgname":
      {"type": "string"}, "tsname": {"type": "string"}, "rgDeploymentName": {"type":
      "string", "defaultValue": "deploy-rg"}}, "resources": [{"type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2022-02-01", "name": "[parameters(''tsname'')]", "location":
      "[resourceGroup().location]"}, {"type": "Microsoft.Resources/deployments", "apiVersion":
      "2020-10-01", "name": "[parameters(''rgDeploymentName'')]", "subscriptionId":
      "[subscription().subscriptionId]", "location": "[resourceGroup().location]",
      "properties": {"expressionEvaluationOptions": {"scope": "inner"}, "mode": "Incremental",
      "parameters": {"rgname": {"value": "[parameters(''rgname'')]"}}, "template":
      {"$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.10.97.17786", "templateHash": "16612974451088724402"}}, "parameters": {"rgname":
      {"type": "string"}}, "resources": [{"type": "Microsoft.Resources/resourceGroups",
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOmNhMWZkZTUxOjJENzM2MzoyRDQ5YWE6MkQ5ZWI3OjJEZTNkNDI2MGYzOThiIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2024-03-01&t=638506095291860878&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/5e3fdbba-bce5-4456-8227-afef4dfaa2b2?api-version=2024-03-01&t=638506095454848592&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli-test-cli_test_deployment_stacks-two000007%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003","name":"cli-test-template-spec000003","type":"Microsoft.Resources/templateSpecs","location":"westcentralus","createdTime":"2024-05-06T16:25:52.0406982Z","changedTime":"2024-05-06T16:25:52.1219217Z","provisioningState":"Succeeded","systemData":{"createdBy":"kylealbert@microsoft.com","createdByType":"User","createdAt":"2024-05-06T16:25:52.0750386Z","lastModifiedBy":"kylealbert@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-05-06T16:25:52.0750386Z"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27cli-test-cli_test_deployment_stacks-two000007%27&%24expand=createdTime%2cchangedTime%2cprovisioningState&api-version=2022-09-01&%24skiptoken=rdBBa8IwFMDx75JzD6XqpbCDozVr6Usoi2bJrWjRJG0Fm6KJ7LuvjsIQ9CK7vge%2f9%2fhfUVdfbKE606P4igbTHwd7QDGqXT7Ir0PI%2bMpV0cZl%2bqgI27WUgxdsbQUXC%2fIZhlJvTMGzC2iw42ZOsJgBWymCwWdd%2bIYCVFe9HfroGaozR3kaEVZawcxMqjAEnPqC7b3Ea0t86gkvFxKnDtpVc4c%2bMSnfHGSba%2bJLS7k4w%2fgoTXJdMOMh2VqIxFnorZfJfiaZcZNZDb09VY2qbh8%2foSF5VyISDpKlBZ36G01Y0xY8bwALS3E5J8k%2bEn65AJarX%2fo7%2bMtMu49jsxtjT0OoTqY%2bjdem9vF%2flQ%2bm7o%2fBF6pP4EPvleLBXe%2bH7Gu1fwA%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
[...]
