interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Features/featureProviders/Microsoft.Network/subscriptionFeatureRegistrations/AllowLBPreview?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Features/featureProviders/Microsoft.Network/subscriptionFeatureRegistrations/AllowLBPreview","name":"AllowLBPreview","type":"microsoft.features/featureproviders/subscriptionfeatureregistrations","properties":{"subscriptionId":"02343036-f57a-4117-b08f-8347acd97fd1","featureName":"AllowLBPreview","providerNamespace":"Microsoft.Network","state":"Registered","releaseDate":"2016-08-17T21:39:18.0538346Z","approvalType":"AutoApproval","registrationDate":"2021-08-18T16:20:30.4445729Z","shouldFeatureDisplayInPortal":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
