interactions:
- request:
    body: 'b''{"properties": {"parameters": {"CrossRg": {"value": "cli_test_cross_rg_alt000001"},
<<<<<<< HEAD
      "StorageAccountName1": {"value": "crossrgq2fnq4mnqzg2xsewf"}, "StorageAccountName2":
      {"value": "crossrgtb3wjpw6pbi4ly6k6"}}, "mode": "Incremental", template:{\r\n  "$schema":
=======
      "StorageAccountName1": {"value": "crossrgxkinl2zz3t6gvpluo"}, "StorageAccountName2":
      {"value": "crossrgb3pitwwduts262sus"}}, "mode": "Incremental", template:{\r\n  "$schema":
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",\r\n  "contentVersion":
      "1.0.0.0",\r\n  "parameters": {\r\n    "StorageAccountName1": {\r\n      "type":
      "string",\r\n      "defaultValue": "test1ddosdatest72"\r\n    },\r\n    "StorageAccountName2":
      {\r\n      "type": "string",\r\n      "defaultValue": "test1ddfosatdest73"\r\n    },\r\n    "CrossRg":
      {\r\n      "type": "string",\r\n      "defaultValue": "crossrg5"\r\n    }\r\n  },\r\n  "variables":
      {},\r\n  "resources": [\r\n    {\r\n      "apiVersion": "2017-05-10",\r\n      "name":
      "nestedTemplate",\r\n      "type": "Microsoft.Resources/deployments",\r\n      "resourceGroup":
      "[parameters(\''CrossRg\'')]",\r\n      "properties": {\r\n        "mode": "Incremental",\r\n        "template":
      {\r\n          "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",\r\n          "contentVersion":
      "1.0.0.0",\r\n          "parameters": {},\r\n          "variables": {},\r\n          "resources":
      [\r\n            {\r\n              "type": "Microsoft.Storage/storageAccounts",\r\n              "name":
      "[parameters(\''StorageAccountName2\'')]",\r\n              "apiVersion": "2015-06-15",\r\n              "location":
      "West US",\r\n              "properties": {\r\n                "accountType":
      "Standard_LRS"\r\n              }\r\n            }\r\n          ],\r\n          "outputs":
      {\r\n            "result": {\r\n              "value": "Hello World",\r\n              "type":
      "string"\r\n            }\r\n          }\r\n        },\r\n        "parameters":
      {}\r\n      }\r\n    },\r\n    {\r\n      "type": "Microsoft.Storage/storageAccounts",\r\n      "name":
      "[parameters(\''StorageAccountName1\'')]",\r\n      "apiVersion": "2015-06-15",\r\n      "location":
      "West US",\r\n      "properties": {\r\n        "accountType": "Standard_LRS"\r\n      }\r\n    }\r\n  ]\r\n}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.3 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
        Azure-SDK-For-Python AZURECLI/2.8.0
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/deployment_dry_run","name":"deployment_dry_run","type":"Microsoft.Resources/deployments","properties":{"templateHash":"364931828683175221","parameters":{"storageAccountName1":{"type":"String","value":"crossrgq2fnq4mnqzg2xsewf"},"storageAccountName2":{"type":"String","value":"crossrgtb3wjpw6pbi4ly6k6"},"crossRg":{"type":"String","value":"cli_test_cross_rg_alt000001"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T00:47:50.3475049Z","duration":"PT0S","correlationId":"5767421a-6c88-4a14-a260-d326193cfc65","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]},{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_alt000001/providers/Microsoft.Resources/deployments/nestedTemplate"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Storage/storageAccounts/crossrgq2fnq4mnqzg2xsewf"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_alt000001/providers/Microsoft.Storage/storageAccounts/crossrgtb3wjpw6p[...]
[...]
- request:
    body: 'b''{"properties": {"parameters": {"CrossRg": {"value": "cli_test_cross_rg_alt000001"}},
      "mode": "Incremental", template:{\r\n  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",\r\n  "contentVersion":
      "1.0.0.0",\r\n  "parameters": {\r\n    "StorageAccountName1": {\r\n      "type":
      "string",\r\n      "defaultValue": "test1ddosdatest72"\r\n    },\r\n    "StorageAccountName2":
      {\r\n      "type": "string",\r\n  [...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.3 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
        Azure-SDK-For-Python AZURECLI/2.8.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586076104113987238?api-version=2020-06-01
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.8.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586075268847830950?api-version=2020-06-01
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 06 Jul 2020 00:48:25 GMT
=======
      - Tue, 07 Jul 2020 00:00:31 GMT
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.3 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
        Azure-SDK-For-Python AZURECLI/2.8.0
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.3 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
        Azure-SDK-For-Python AZURECLI/2.8.0
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/deployments/mock-deployment/operations?api-version=2020-06-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/azure-cli-crossrgdeployment000003/operations/0FE6166FB550455B","operationId":"0FE6166FB550455B","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-07-06T00:48:23.26073Z","duration":"PT27.9430024S","trackingId":"0c1bc4c0-eeeb-45cd-9fe4-b69f9cab1277","serviceRequestId":"4499aed9-d452-4b0a-999f-ca2b4cbb6c9f","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Storage/storageAccounts/test1ddosdatest72","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"test1ddosdatest72"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/azure-cli-crossrgdeployment000003/operations/03D6131CFF0BBF7A","operationId":"03D6131CFF0BBF7A","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-07-06T00:48:28.351305Z","duration":"PT33.0335774S","trackingId":"afae9a78-b23f-4e6f-bcdf-7d5fa95fa23f","serviceRequestId":"393525e6-a06d-448f-9e11-18a9a5358229","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_alt000001/providers/Microsoft.Resources/deployments/nestedTemplate","resourceType":"Microsoft.Resources/deployments","resourceName":"nestedTemplate"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/azure-cli-crossrgdeployment000003/operations/08586076104113987238","operationId":"08586076104113987238","properties":{"provisioningOperation":"EvaluateDeploymentOutput","provisioningState":"Succeeded","timestamp":"2020-07-06T00:48:28.5036294Z","duration":"PT0.0957165S","trackingId":"36a635e4-65e4-4528-8af8-048dcea44309","statusCode":"OK","statusMessage":null}}]}'
=======
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/azure-cli-crossrgdeployment000003/operations/5DE759B7FC64E276","operationId":"5DE759B7FC64E276","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-07-07T00:00:22.8487333Z","duration":"PT20.9002414S","trackingId":"498b0a4b-08e2-4776-93d5-59e134833f16","serviceReque[...]
