interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1''
        under resource group ''cli_test_deployment_stacks000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec000003''
        under resource group ''cli_test_deployment_stacks000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\":
        {},\r\n  \"systemData\": {\r\n    \"createdBy\": \"danted@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-10-27T02:14:39.5688843Z\",\r\n
        \   \"lastModifiedBy\": \"danted@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-10-27T02:14:39.5688843Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-template-spec000003\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"linkedTemplates": [],
      "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"DeploymentStackResourceNotFound\",\r\n
        \   \"message\": \"The deployment stack '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002'
        could not be found.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": {}, "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "delete", "resourceGroups": "delete"}, "description": "stack deployment",
      "denySettings": {"mode": "none", "excludedPrincipals": ["principal1", "principal2"],
      "excludedActions": ["action1", "action2"], "applyToChildScopes": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"actionOnUnmanage\":
        {\r\n      \"resources\": \"delete\",\r\n      \"resourceGroups\": \"delete\",\r\n
        \     \"managementGroups\": \"detach\"\r\n    },\r\n    \"description\": \"stack
        deployment\",\r\n    \"denySettings\": {\r\n      \"mode\": \"none\",\r\n
        \     \"applyToChildScopes\": true,\r\n      \"excludedPrincipals\": [\r\n
        \       \"principal1\",\r\n        \"principal2\"\r\n      ],\r\n      \"excludedActions\":
        [\r\n        \"action1\",\r\n        \"action2\"\r\n      ]\r\n    },\r\n
        \   \"parameters\": {\r\n      \"foo\": {\r\n        \"value\": \"abc\",\r\n
        \       \"type\": \"string\"\r\n      },\r\n      \"bar\": {\r\n        \"value\":
        \"xyz\",\r\n        \"type\": \"string\"\r\n      }\r\n    },\r\n    \"resources\":
        [],\r\n    \"provisioningState\": \"initializing\",\r\n    \"detachedResources\":
        [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\": []\r\n  },\r\n
        \ \"systemData\": {\r\n    \"createdBy\": \"danted@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2023-10-27T02:14:41.9059926Z\",\r\n    \"lastModifiedBy\":
        \"danted@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\":
        \"2023-10-27T02:14:41.9059926Z\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-create-deployment-stack-resource-group000002\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/9ace9a2f-95ba-49be-a089-164a112754bd?api-version=2022-08-01-preview&t=638339696820309805&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMjQwNzI4MDkwMzExWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/9ace9a2f-95ba-49be-a089-164a112754bd?api-version=2022-08-01-preview&t=638339696820309805&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"actionOnUnmanage\":
        {\r\n      \"resources\": \"delete\",\r\n      \"resourceGroups\": \"delete\",\r\n
        \     \"managementGroups\": \"detach\"\r\n    },\r\n    \"deploymentId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-resou-2023-10-27-02-14-41-f6e57\",\r\n
        \   \"description\": \"stack deployment\",\r\n    \"duration\": \"PT6.7838418S\",\r\n
        \   \"denySettings\": {\r\n      \"mode\": \"none\",\r\n      \"applyToChildScopes\":
        true,\r\n      \"excludedPrincipals\": [\r\n        \"principal1\",\r\n        \"principal2\"\r\n
        \     ],\r\n      \"excludedActions\": [\r\n        \"action1\",\r\n        \"action2\"\r\n
        \     ]\r\n    },\r\n    \"outputs\": {\r\n      \"foo\": {\r\n        \"type\":
        \"String\",\r\n        \"value\": \"abc\"\r\n      },\r\n      \"bar\": {\r\n
  [...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&api-version=2022-08-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1"},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach"}, "denySettings": {"mode":
      "none", "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri[...]
[...]
- request:
    body: '{"tags": {}, "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.10.61.36676", "templateHash": "11934527272858304086"}}, "parameters": {"name":
      {"type": "string"}, "specVersionName": {"type": "string", "defaultValue": "v1"},
      "location": {"type": "string", "defaultValue": "[resourceGroup().location]"}},
      "resources": [{"type": "Microsoft.Resources/templateSpecs", "apiVersion": "2022-02-01",
      "name": "[parameters(''name'')]", "location": "[parameters(''location'')]",
      "properties": {"displayName": "DanteTemplateSpec", "description": "Template
      Spec for testing stacks."}}, {"type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2022-02-01", "name": "[format(''{0}/{1}'', parameters(''name''),
      parameters(''specVersionName''))]", "location": "[parameters(''location'')]",
      "properties": {"description": "generated version number for testing stacks",
      "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "functions": [], "variables":
      {}, "resources": [], "outputs": {}}}, "dependsOn": ["[resourceId(''Microsoft.Resources/templateSpecs'',
      parameters(''name''))]"]}]}, "parameters": {"name": {"value": "cli-test-resource-one000004"}},
      "actionOnUnmanage": {"resources": "delete", "resourceGroups": "delete"}, "denySettings":
      {"mode": "none", "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployme[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/1cb71a12-f64b-4a77-be96-e14a0b702eb8?api-version=2022-08-01-preview&t=638339697422391499&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"actionOnUnmanage\":
        {\r\n      \"resources\": \"delete\",\r\n      \"resourceGroups\": \"delete\",\r\n
        \     \"managementGroups\": \"detach\"\r\n    },\r\n    \"deploymentId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-resou-2023-10-27-02-15-42-5bdad\",\r\n
        \   \"duration\": \"PT6.0706992S\",\r\n    \"denySettings\": {\r\n      \"mode\":
        \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\n    \"parameters\":
        {\r\n      \"name\": {\r\n        \"value\": \"cli-test-resource-one000004\",\r\n
        \       \"type\": \"string\"\r\n      }\r\n    },\r\n    \"resources\": [\r\n
        \     {\r\n        \"status\": \"managed\",\r\n        \"denyStatus\": \"none\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004\"\r\n
        \     },\r\n      {\r\n        \"status\": \"managed\",\r\n        \"denyStatus\":
        \"none\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-tes[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/3b663b8f-a189-4af5-83bc-c8dfeec5fab5?api-version=2022-08-01-preview&t=638339697746894395&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources","namespace":"Microsoft.Resources","authorizations":[{"applicationId":"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca"},{"applicationId":"3b990c8b-9607-4c2a-8b04-1d41985facca"},{"applicationId":"94946920-7f9c-4956-93c0-2fcf94608102"}],"resourceTypes":[{"resourceType":"mobobrokers","locations":["Australia
        Central","Australia East","Australia Southeast","Brazil South","Canada Central","Canada
        East","Central India","Central US","East Asia","East US 2","East US","France
        Central","Germany West Central","Japan East","Japan West","Jio India West","Korea
        Central","Korea South","North Central US","North Europe","Norway East","South
        Africa North","South Central US","South India","Southeast Asia","Sweden Central","Switzerland
        North","UAE North","UK South","UK West","West Central US","West Europe","West
        India","West US 2","West US 3","West US","Central US EUAP","East US 2 EUAP"],"apiVersions":["2023-06-01-preview"],"capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"deploymentScripts","locations":["East
        Asia","Southeast Asia","Australia East","Australia Southeast","Brazil South","Canada
        Central","Canada East","Switzerland North","Germany West Central","East US
        2","East US","Central US","North Central US","France Central","UK South","UK
        West","Central India","South India","Jio India West","Japan East","Japan West","Korea
        Central","Korea South","North Europe","N[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"displayName\":
        \"DanteTemplateSpec\",\r\n    \"description\": \"Template Spec for testing
        stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"danted@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-10-27T02:15:45.6426343Z\",\r\n
        \   \"lastModifiedBy\": \"danted@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-10-27T02:15:45.9530366Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-resource-one000004\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-two000005?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"displayName\":
        \"DanteTemplateSpec\",\r\n    \"description\": \"Template Spec for testing
        stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"danted@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-10-27T02:16:18.1050257Z\",\r\n
        \   \"lastModifiedBy\": \"danted@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-10-27T02:16:19.1832142Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-two000005\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-resource-two000005\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/1202c01c-5815-45a5-801f-c13a3321277b?api-version=2022-08-01-preview&t=638339698134022043&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-three000006?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"displayName\":
        \"DanteTemplateSpec\",\r\n    \"description\": \"Template Spec for testing
        stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"danted@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-10-27T02:16:56.6011149Z\",\r\n
        \   \"lastModifiedBy\": \"danted@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-10-27T02:16:57.6637937Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-three000006\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-resource-three000006\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-cli_test_deployment_stacks-two000007?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007","name":"cli-test-cli_test_deployment_stacks-two000007","type":"Microsoft.Resources/resourceGroups","location":"westus2","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"DeploymentStackResourceNotFound\",\r\n
        \   \"message\": \"The deployment stack '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002'
        could not be found.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"tags": {}, "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.10.97.17786", "templateHash": "66565252327750708"}}, "parameters": {"rgname":
      {"type": "string"}, "tsname": {"type": "string"}}, "resources": [{"type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2022-02-01", "name": "[parameters(''tsname'')]", "location":
      "[resourceGroup().location]"}, {"type": "Microsoft.Resources/deployments", "apiVersion":
      "2020-10-01", "name": "deploy-rg", "subscriptionId": "[subscription().subscriptionId]",
      "location": "[resourceGroup().location]", "properties": {"expressionEvaluationOptions":
      {"scope": "inner"}, "mode": "Incremental", "parameters": {"rgname": {"value":
      "[parameters(''rgname'')]"}}, "template": {"$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.10.97.17786", "templateHash": "16612974451088724402"}}, "parameters": {"rgname":
      {"type": "string"}}, "resources": [{"type": "Microsoft.Resources/resourceGroups",
      "[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/3fa6cea8-f231-4e52-8ed8-11aea0d6b250?api-version=2022-08-01-preview&t=638339699726396707&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli-test-cli_test_deployment_stacks-two000007%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003","name":"cli-test-template-spec000003","type":"Microsoft.Resources/templateSpecs","location":"westus2","createdTime":"2023-10-27T02:19:45.4223704Z","changedTime":"2023-10-27T02:19:45.4656507Z","provisioningState":"Succeeded","systemData":{"createdBy":"danted@microsoft.com","createdByType":"User","createdAt":"2023-10-27T02:19:45.4343361Z","lastModifiedBy":"danted@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-27T02:19:45.4343361Z"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-resource-one000004?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-resource-one000004","name":"cli-test-resource-one000004","type":"Microsoft.Resources/resourceGroups","location":"westus2","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/4a9f98bf-33d9-455f-8b6f-82d18dd31931?api-version=2022-08-01-preview&t=638339700402841790&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups?api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/danted-rg-location-test","name":"danted-rg-location-test","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{},"properties":{"provisioningState":"Succeeded"}},{"id":"/subsc[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&api-version=2022-08-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6MkRURVNUOjJEQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZTVEFDS1M6MnwyREM1QzYxMzJGQjY4QjI4LVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2022-09-01&t=638339702578473653&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLG[...]
- request:
    body: null
    headers:
[...]
