interactions:
- request:
    body: '{"location": "WestUS"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_subscription_level_deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment","name":"cli_test_subscription_level_deployment","type":"Microsoft.Resources/resourceGroups","location":"westus","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "WestUS", "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"storageAccountName": {"type": "string",
      "defaultValue": "armbuilddemo1801"}, "nestedRGName": {"type": "string", "defaultValue":
      "cli_test_subscription_level_deployment"}}, "variables": {}, "resources": [{"type":
      "Microsoft.Authorization/policyDefinitions", "name": "policy2", "apiVersion":
      "2016-12-01", "properties": {"policyType": "Custom", "parameters": {}, "policyRule":
      {"if": {"field": "location", "equals": "northeurope"}, "then": {"effect": "deny"}}}},
      {"type": "Microsoft.Authorization/policyAssignments", "name": "location-lock",
      "apiVersion": "2016-12-01", "dependsOn": ["policy2"], "properties": {"scope":
      "[subscription().id]", "policyDefinitionId": "[resourceId(''Microsoft.Authorization/policyDefinitions'',
      ''policy2'')]"}}, {"type": "Microsoft.Resources/deployments", "name": "rg-nested",
      "apiVersion": "2017-05-10", "resourceGroup": "[parameters(''nestedRGName'')]",
      "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "name": "[parameters(''storageAccountName'')]",
      "apiVersion": "2015-06-15", "location": "East US", "properties": {"accountType":
      "Standard_LRS"}}]}, "mode": "Incremental"}}]}, "parameters": {"storageAccountName":
      {"value": "armbuilddemo1809"}, "nestedRGName": {"value": "cli_test_subscription_level_deployment"}},
      "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/deployment_dry_run","name":"deployment_dry_run","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"11027062374577539273","parameters":{"storageAccountName":{"type":"String","value":"armbuilddemo1809"},"nestedRGName":{"type":"String","value":"cli_test_subscription_level_deployment"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-02-20T11:55:42.1634354Z","duration":"PT0S","correlationId":"64fdce87-6081-42ed-bb4f-58b0f06c79e4","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]},{"resourceType":"policyAssignments","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2","resourceType":"Microsoft.Authorization/policyDefinitions","resourceName":"policy2"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock","resourceType":"Microsoft.Authorization/policyAssignments","resourceName":"location-lock"}],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Storage/storageAccounts/armbuilddemo1809"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-cli/dev/src/azure-cli/azure/cli/command_modules/resource/tests/latest/subscription_level_parameters.json
  response:
    body:
      string: "{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"storageAccountName\":
        {\n      \"value\": \"armbuilddemo1809\"\n    },\n    \"nestedRGName\": {\n
        \     \"value\": \"cli_test_subscription_level_deployment\"\n    }\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"11bcac184759b5ceacc77fac41b04a3ee0905728e1a2c6ffc5451b18fbd20015"
      source-age:
      - '0'
      x-fastly-request-id:
      - 01113a9ab7c05c5a73c7e266b59f76a5315cb148
      x-geo-block-list:
      - ''
    status:
      code: 200
      message: OK
[...]
{"scope":
      "[subscription().id]", "policyDefinitionId": "[resourceId(''Microsoft.Authorization/policyDefinitions'',
      ''policy2'')]"}}, {"type": "Microsoft.Resources/deployments", "name": "rg-nested",
      "apiVersion": "2017-05-10", "resourceGroup": "[parameters(''nestedRGName'')]",
      "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "name": "[parameters(''storageAccountName'')]",
      "apiVersion": "2015-06-15", "location": "East US", "properties": {"accountType":
      "Standard_LRS"}}]}, "mode": "Incremental"}}]}, "parameters": {"name": {"value":
      "test-lb"}, "location": {"value": "westus"}, "tags": {"value": {"key": "super=value"}}},
      "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2019-07-01
  response:
    body:
      string: '{"error":{"code":"InvalidTemplate","message":"Deployment template validation
        failed: ''The template parameters ''name, location, tags'' in the parameters
        file are not valid; they are not present in the original template and can
        therefore not be provided at deployment time. The only supported parameters
        for this template are ''storageAccountName, nestedRGName''. Please see https://aka.ms/arm-deploy/#parameter-file
        for usage details.''.","additionalInfo":[{"type":"TemplateViolation","info":{"lineNumber":0,"linePosition":0,"path":""}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
[...]
{"scope":
      "[subscription().id]", "policyDefinitionId": "[resourceId(''Microsoft.Authorization/policyDefinitions'',
      ''policy2'')]"}}, {"type": "Microsoft.Resources/deployments", "name": "rg-nested",
      "apiVersion": "2017-05-10", "resourceGroup": "[parameters(''nestedRGName'')]",
      "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resour[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586194071245684990?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?api-version=2019-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-sub-level-parametersployment000001","name":"azure-cli-sub-level-parametersployment000001","type":"Microsoft.Resources/deployments","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?api-version=2019-07-01&%24skiptoken=NY1dS8MwGIV%2fS3PtoGEVdJezb4bTvDGfo7sbs0qTkYBW%2bjH6310Er85zOA%2bcKzmn2Hfx59R3KZoU2vhNNldyAG2szhTbsX87ffVdFl7aiWwILR4KAfweg12Ruz9DpeF%2fo1VVcHgelW9KnGGUoRkQFEjLmJyxlj5MOO93vA5UmO2HoihedTmI2lbomwlNtsJ847WooRRPdHu4OK1MmhQg1zkZOulzH5kLjgu%2fvz04aeDxaKwTjjnQ9HMtL%2b9HQ88rsizLLw%3d[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2019-07-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"storageAccountName":{"defaultValue":"armbuilddemo1801","type":"String"},"nestedRGName":{"defaultValue":"cli_test_subscription_level_deployment","type":"String"}},"variables":{},"resources":[{"type":"Microsoft.Authorization/policyDefinitions","apiVersion":"2016-12-01","name":"policy2","properties":{"policyType":"Custom","parameters":{},"policyRule":{"if":{"field":"location","equals":"northeurope"},"then":{"effect":"deny"}}}},{"type":"Microsoft.Authorization/policyAssignments","apiVersion":"2016-12-01","name":"location-lock","dependsOn":["policy2"],"properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/operations?api-version=2019-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-sub-level-parametersployment000001/operations/1E2C221F157AE117","operationId":"1E2C221F157AE117","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-02-20T11:56:50.2152588Z","duration":"PT40.3737348S","trackingId":"52ff5003-23d6-462f-80ad-e79809399881","serviceRequestId":"f138bf47-b2b0-4dcd-b1c5-c4946cd27eae","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested","resourceType":"Microsoft.Resources/deployments","resourceName":"rg-nested"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-sub-level-parametersployment000001/operations/0CCC0FCC7A260D94","operationId":"0CCC0FCC7A260D94","properties":{"provisioningOperation":"Create",[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock?api-version=2019-09-01
  response:
    body:
      string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","metadata":{"createdBy":"9ac534f1-d577-4034-a32d-48de400dacbf","createdOn":"2020-02-20T11:56:11.1629646Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock","type":"Microsoft.Authorization/policyAssignments","name":"location-lock"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2?api-version=2019-09-01
  response:
    body:
      string: '{"properties":{"policyType":"Custom","mode":"Indexed","metadata":{"createdBy":"9ac534f1-d577-4034-a32d-48de400dacbf","createdOn":"2020-02-20T11:56:10.3417424Z","updatedBy":null,"updatedOn":null},"parameters":{},"policyRule":{"if":{"field":"location","equals":"northeurope"},"then":{"effect":"deny"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2","type":"Microsoft.Authorization/policyDefinitions","name":"policy2"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
