interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabil[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "azure-cli-management-group000002", "properties": {"details":
      {"parent": {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"NotStarted"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/azure-cli-management-group000002?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management-group000002?api-version=2021-04-01
      x-ba-restapi:
      - 0.0.0.0
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/azure-cli-management-group000002?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/azure-cli-management-group000002","name":"azure-cli-management-group000002","status":"Running"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/azure-cli-management-group000002?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management-group000002?api-version=2021-04-01
      x-ba-restapi:
      - 0.0.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/azure-cli-management-group000002?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/azure-cli-management-group000002","name":"azure-cli-management-group000002","status":"Succeeded","properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","displayName":"azure-cli-management-group000002","details":{"version":1,"updatedTime":"2022-02-25T08:31:55.5315843Z","updatedBy":"9ac534f1-d577-4034-a32d-48de400dacbf"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 0.0.0.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"targetMG\":
      {\"value\": \"azure-cli-management-group000002\"}}, \"mode\": \"Incremental\",
      template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/tenantDeploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"targetMG\":
      {\r\n      \"type\": \"string\",\r\n      \"defaultValue\": \"cli_tenant_level_deployment_mg\"\r\n
      \   },\r\n    \"nestedSubId\": {\r\n      \"type\": \"string\",\r\n      \"defaultValue\":
      \"0b1f6471-1bf0-4dda-aec3-cb9272f09590\"\r\n    },\r\n    \"nestedRG\": {\r\n
      \     \"type\": \"string\",\r\n      \"defaultValue\": \"cli_tenant_level_deployment\"\r\n
      \   },\r\n    \"roleDefinitionId\": {\r\n      \"type\": \"string\",\r\n      \"defaultValue\":
      \"0cb07228-4614-4814-ac1a-c4e39793ce58\"\r\n    }\r\n  },\r\n  \"variables\":
      {\r\n    \"managementGroupScope\": \"[concat('Microsoft.Management/managementGroups/',
      parameters('targetMG'))]\",\r\n    \"managementGroupFullyQualifiedId\": \"[concat('/providers/',
      variables('managementGroupScope'))]\"\r\n  },\r\n  \"resources\": [\r\n    {\r\n
      \     \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\":
      \"[parameters('roleDefinitionId')]\",\r\n      \"apiVersion\": \"2018-07-01\",\r\n
      \     \"properties\": {\r\n        \"roleName\": \"Tiano SDK Test Role\",\r\n
      \       \"description\": \"something\",\r\n        \"type\": \"CustomRole\",\r\n
      \       \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n
      \             \"Microsoft.Storage/*/read\"\r\n            ],\r\n            \"notActions\":
      [\r\n\r\n            ]\r\n          }\r\n        ],\r\n        \"assignableScopes\":
      [\r\n          \"[variables('managementGroupFullyQualifiedId')]\"\r\n        ]\r\n
      \     }\r\n    },\r\n    {\r\n      \"type\": \"Microsoft.Resources/deployments\",\r\n
      \     \"name\": \"mg-nested\",\r\n      \"apiVersion\": \"2019-07-01\",\r\n
      \     \"location\": \"West US\",\r\n      \"scope\": \"[variables('managementGroupScope')]\",\r\n
      \     \"properties\": {\r\n        \"template\": {\r\n          \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {\r\n\r\n
      \         },\r\n          \"variables\": {\r\n\r\n          },\r\n          \"resources\":
      [\r\n            {\r\n              \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n
      \             \"name\": \"policy2\",\r\n              \"apiVersion\": \"2016-12-01\",\r\n
      \             \"properties\": {\r\n                \"policyType\": \"Custom\",\r\n
      \               \"parameters\": {\r\n\r\n                },\r\n                \"policyRule\":
      {\r\n                  \"if\": {\r\n                    \"field\": \"location\",\r\n
      \                   \"equals\": \"northeurope\"\r\n                  },\r\n
      \                 \"then\": {\r\n                    \"effect\": \"deny\"\r\n
      \                 }\r\n                }\r\n              }\r\n            }\r\n
      \         ]\r\n        },\r\n        \"mode\": \"Incremental\"\r\n      }\r\n
      \   },\r\n    {\r\n      \"type\": \"Microsoft.Resources/deployments\",\r\n
      \     \"name\": \"sub-nested\",\r\n      \"apiVersion\": \"2019-07-01\",\r\n
      \     \"location\": \"East US\",\r\n      \"subscriptionId\": \"[parameters('nestedSubId')]\",\r\n
      \     \"properties\": {\r\n        \"template\": {\r\n          \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {\r\n\r\n
      \         },\r\n          \"variables\": {\r\n\r\n          },\r\n          \"resources\":
      [\r\n            {\r\n              \"type\": \"Microsoft.Resources/resourceGroups\",\r\n
      \             \"name\": \"[parameters('nestedRG')]\",\r\n              \"apiVersion\":
      \"2019-07-01\",\r\n              \"location\": \"East US 2\",\r\n              \"properties\":
      {\r\n\r\n              }\r\n            }\r\n          ]\r\n        },\r\n        \"mode\":
      \"Incremental\"\r\n      }\r\n    }\r\n  ] // comment\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Resources/deployments/tenant_level_template","name":"tenant_level_template","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"6408276147289860488","parameters":{"targetMG":{"type":"String","value":"azure-cli-management-group000002"},"nestedSubId":{"type":"String","value":"0b1f6471-1bf0-4dda-aec3-cb9272f09590"},"nestedRG":{"type":"String","value":"cli_tenant_level_deployment"},"roleDefinitionId":{"type":"String","value":"0cb07228-4614-4814-ac1a-c4e39793ce58"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"b346805f-782a-4846-b562-41de93d90ee6","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"roleDefinitions","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":["westus","eastus"]}]}],"dependencies":[],"validatedResources":[{"id":"/providers/Microsoft.Authorization/roleDefinitions/0cb07228-4614-4814-ac1a-c4e39793ce58"},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Resources/deployments/mg-nested"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/sub-nested"},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tenant_level_deployment"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"targetMG\":
      {\"value\": \"azure-cli-management-group000002\"}}, \"mode\": \"Incremental\",
      template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/tenantDeploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"targetMG\":
      {\r\n      \"type\": \"string\",\r\n      \"defaultValue\": \"cli_tenant_level_deployment_mg\"\r\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585558289417566727?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001","name":"azure-cli-tenant-level-deployment000001","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"6408276147289860488","parameters":{"targetMG":{"type":"String","value":"azure-cli-management-group000002"},"nestedSubId":{"type":"String","value":"0b1f6471-1bf0-4dda-aec3-cb9272f09590"},"nestedRG":{"type":"String","value":"cli_tenant_level_deployment"},"roleDefinitionId":{"type":"String","value":"0cb07228-4614-4814-ac1a-c4e39793ce58"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2022-02-25T08:33:27.9871558Z","duration":"PT58.2626591S","correlationId":"c8bc8d51-70ce-49e5-a2fd-34b8477341b9","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"roleDefinitions","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":["westus","eastus"]}]}],"dependencies":[],"outputResources":[{"id":"/providers/Microsoft.Authorization/roleDefinitions/0cb07228-4614-4814-ac1a-c4e39793ce58"},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tenant_level_deployment"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/?api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001","name":"azure-cli-tenant-level-deployment000001","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"6408276147289860488","parameters":{"targetMG":{"type":"String",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/?$filter=provisioningState%20eq%20%27Succeeded%27&api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001","name":"azure-cli-tenant-level-deployment000001","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"64082761472898[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2021-04-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2019-08-01/tenantDeploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"targetMG":{"defaultValue":"cli_tenant_level_deployment_mg","type":"String"},"nestedSubId":{"defaultValue":"0b1f6471-1bf0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/operations?api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001/operations/42B6ADFF0EF0D3AE","operationId":"42B6ADFF0EF0D3AE","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2022-02-25T08:33:27.72099Z","duration":"PT56.5608019S","trackingId":"8397c562-17aa-4b66-bc44-b172042f6699","serviceRequestId":"4a1b9573-ad2e-4c3a-9232-c914f2e7cdd9","statusCode":"OK","targetResource":{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Resources/deployments/mg-nested","resourceType":"Microsoft.Resources/deployments","resourceName":"mg-nested"}}},{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001/operations/0E001B8A1AA20F3D","operationId":"0E001B8A1AA20F3D","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2022-02-25T08:33:12.2476917Z","duration":"PT41.0875036S","trackingId":"d8e11eeb-9e36-44cb-9cf8-01fde1b770f2","serviceRequestId":"f3fa0724-f0a7-4737-9f42-53fd016a4412","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/operations/42B6ADFF0EF0D3AE?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001/operations/42B6ADFF0EF0D3AE","operationId":"42B6ADFF0EF0D3AE","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2022-02-25T08:33:27.72099Z","duration":"PT56.5608019S","trackingId":"8397c562-17aa-4b66-bc44-b172042f6699","serviceRequestId":"4a1b9573-ad2e-4c3a-9232-c914f2e7cdd9","statusCode":"OK","targetResource":{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Resources/deployments/mg-nested","resourceType":"Microsoft.Resources/deployments","resourceName":"mg-nested"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/providers/Microsoft.Resources/operationResults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1NR05TLS1BWlVSRToyRENMSToyRFRFTkFOVDoyRExFVkVMOjJEREVQTE9ZTUVOVFRNUkJLTnwwRTE2RDdFRjM3NkVGQjFBLSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2021-04-01
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/operationResults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1NR05TLS1BWlVSRToyRENMSToyRFRFTkFOVDoyRExFVkVMOjJEREVQTE9ZTUVOVFRNUkJLTnwwRTE2RDdFRjM3NkVGQjFBLSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/cancel?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-tenant-writes:
      - '1198'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_tenant_level_deployment?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURU5BTlQ6NUZMRVZFTDo1RkRFUExPWU1FTlQtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2021-04-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURU5BTlQ6NUZMRVZFTDo1RkRFUExPWU1FTlQtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURU5BTlQ6NUZMRVZFTDo1RkRFUExPWU1FTlQtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2021-04-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/azure-cli-management-group000002?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/azure-cli-management-group000002","name":"azure-cli-management-group000002","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 0.0.0.0
    status:
      code: 200
      message: OK
version: 1
