interactions:
- request:
    body: '{"accountEnabled": true, "displayName": "tester123", "passwordProfile":
      {"password": "Test123456789", "forceChangePasswordNextLogin": false}, "userPrincipalName":
      "testuser000002@azuresdkteam.onmicrosoft.com", "mailNickname": "testuser000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5921acb3-b447-4658-b202-9f34e5128efc","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2021-07-07T09:35:52Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"tester123","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"testuser000002","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2021-07-07T09:35:52.6373963Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/5921acb3-b447-4658-b202-9f34e5128efc/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"testuser000002@azuresdkteam.onmicrosoft.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '8031955'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/5921acb3-b447-4658-b202-9f34e5128efc/Microsoft.DirectoryServices.User
      ocp-aad-diagnostics-server-name:
      - TiMBlJ9lf62cnhNvfhGNUssJBbqKVlYeNzbOpJKar9U=
      ocp-aad-session-key:
      - j7Cpc4cPxptOFKfUaJ6GKXvGFzDbbHoVohyCmtZbM6SqqqVAQlxpYd_lQAm4k3YUvAlnuewWdSjy-5y31tKStahtQqC9ROfztj12e9tkpCfe4u_pOh-Sj3BWN9EORDJM0BTqhzcpx6nTHxVyaOpKr0w2dd0UCu-dV-CD7rLJ3W60RLeEH1TxV-dHX_FX2UKTHDY8BKhLVCSIn6TCo9IJYw.QU6Qce1E1LZCrNe87uWCE8h8m1G_5eA8HUFxjplk73Y
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27testuser000002%40azuresdkteam.onmicrosoft.com%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"5921acb3-b447-4658-b202-9f34e5128efc","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2021-07-07T09:35:52Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"tester123","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Grants
        full access to manage all resources, but does not allow you to assign roles
        in Azure RBAC, manage assignments in Azure Blueprints, or share image galleries.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete","Microsoft.Compute/galleries/share/action"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2020-12-04T00:34:54.8501087Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "5921acb3-b447-4658-b202-9f34e5128efc", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"5921acb3-b447-4658-b202-9f34e5128efc","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","condition":null,"conditionVersion":null,"createdOn":"2021-07-07T09:36:09.8179637Z","updatedOn":"2021-07-07T09:36:10.1461269Z","createdBy":null,"updatedBy":"81ea823c-a4c0-4814-a9ae-83fbfc093178","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westcentralus", "properties": {"lockLevel": "None", "displayName":
      "test_appdef_123", "authorizations": [{"principalId": "5921acb3-b447-4658-b202-9f34e5128efc",
      "roleDefinitionId": "b24988ac-6180-42a0-ab88-20f7382dd24c"}], "description":
      "test_appdef_123", "packageFileUri": "https://github.com/Azure/azure-managedapp-samples/raw/master/Managed%20Application%20Sample%20Packages/201-managed-storage-account/managedstorage.zip"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname?api-version=2018-06-01
  response:
    body:
      string: '{"properties":{"authorizations":[{"principalId":"5921acb3-b447-4658-b202-9f34e5128efc","roleDefinitionId":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"isEnabled":true,"lockLevel":"None","displayName":"test_appdef_123","description":"test_appdef_123","artifacts":[{"name":"ApplicationResourceTemplate","type":"Template","uri":"https://prdsapplianceprodcy01.blob.core.windows.net/applicationdefinitions/8C96E_0B1F64711BF04DDAAEC3CB9272F09590_25058CB17D6893A5080A4380CFB698DD046EADC01F66C5BCF2C92A7F9761880B/4737d9911e57490f9ae4ae651b05a220/applicationResourceTemplate.json"},{"name":"CreateUiDefinition","type":"Custom","uri":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname/applicationArtifacts/CreateUiDefinition?api-version=2017-09-01"},{"name":"MainTemplateParameters","type":"Custom","uri":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname/applicationArtifacts/MainTemplateParameters?api-version=2017-09-01"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname","name":"testappdefname","type":"Microsoft.Solutions/applicationDefinitions","location":"westcentralus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname?api-version=2018-06-01
  response:
    body:
      string: '{"properties":{"authorizations":[{"principalId":"5921acb3-b447-4658-b202-9f34e5128efc","roleDefinitionId":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"isEnabled":true,"lockLevel":"None","displayName"[...]
- request:
    body: '{"location": "westcentralus", "tags": {"key": "val"}, "kind": "servicecatalog",
      "properties": {"managedResourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000003",
      "applicationDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname",
      "parameters": {"storageAccountNamePrefix": {"value": "mytest"}, "storageAccountType":
      {"value": "Standard_LRS"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applications/mymanagedapp?api-version=2018-06-01
  response:
    body:
      string: '{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000003","applicationDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname","publisherPackageId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname","provisioningState":"Accepted","authorizations":[{"principalId":"5921acb3-b447-4658-b202-9f34e5128efc","roleDefinitionId":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"createdBy":{"oid":"81ea823c-a4c0-4814-a9ae-83fbfc093178","puid":"1003200096106800","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"},"updatedBy":{"oid":"81ea823c-a4c0-4814-a9ae-83fbfc093178","puid":"1003200096106800","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applications/mymanagedapp","name":"mymanagedapp","type":"Microsoft.Solutions/applications","kind":"servicecatalog","location":"westcentralus","tags":{"key":"val"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/locations/westcentralus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL2NsaXRlc3Qucmd1djNjbWJ2NnRjbmNxaXNxazJhbWNpcnpsdHgyZTZrN3d5eXZrZTZnenJwajU3a3V0ZGd5emZpcGdvZ3BleHJwby9wcm92aWRlcnMvTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWNhdGlvbnMvbXltYW5hZ2VkYXBwIiw[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/locations/westcentralus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL2NsaXRlc3Qucmd1djNjbWJ2NnRjbmNxaXNxazJhbWNpcnpsdHgyZTZrN3d5eXZrZTZnenJwajU3a3V0ZGd5emZpcGdvZ3BleHJwby9wcm92aWRlcnMvTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWNhdGlvbnMvbXltYW5hZ2VkYXBwIiwiam9iSWQiOiJBcHBsaWFuY2VQcm92aXNpb25pbmdKb2I6MkRSR0E6MkRDTElURVNUOjNBMkVSR1VWM0NNQlY2VENOQ1FJU1FLMkFNQ0lSWkxUWDJFNks3V1lZOjdDMDVGNTRGOTY1MDIxMjUxQjoyRE1ZTUFOQUdFREFQUCJ9?api-version=2018-06-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applications/mymanagedapp?api-version=2018-06-01
  response:
    body:
      string: '{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000003","applicationDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname","publisherPackageId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname","parameters":{"storageAccountNamePrefix":{"type":"String","value":"mytest"},"storageAccountType":{"type":"String","value":"Standard_LRS"},"location":{"type":"String","value":"westcentralus"}},"outputs":{"storageEndpoint":{"type":"String","value":"https://mytestzu4ll3n7x3ok6.blob.core.windows.net/"}},"provisioningState":"Succeeded","authorizations":[{"principalId":"5921acb3-b447-4658-b202-9f34e5128efc","roleDefinitionId":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"createdBy":{"oid":"81ea823c-a4c0-4814-a9ae-83fbfc093178","puid":"1003200096106800","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"},"updatedBy":{"oid":"81ea823c-a4c0-4814-a9ae-83fbfc093178","puid":"1003200096106800","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applications/mymanagedapp","name":"mymanagedapp","type":"Microsoft.Solutions/applications","kind":"servicecatalog","location":"westcentralus","tags":{"key":"val"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applications?api-version=2018-06-01
  response:
    body:
      string: '{"value":[{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000003","applicationDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/res[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/locations/westcentralus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL2NsaXRlc3Qucmd1djNjbWJ2NnRjbmNxaXNxazJhbWNpcnpsdHgyZTZrN3d5eXZrZTZnenJwajU3a3V0ZGd5emZpcGdvZ3BleHJwby9wcm92aWRlcnMvTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWNhdGlvbnMvbXltYW5hZ2VkYXBwIiwiam9iSWQiOiJBcHBsaWFuY2VEZXByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRENMSVRFU1Q6M0EyRVJHVVYzQ01CVjZUQ05DUUlTUUsyQU1DSVJaTFRYMkU2SzdXWVk6N0MwNUY1NEY5NjUwMjEyNTFCOjJETVlNQU5BR0VEQVBQIn0?api-version=2018-06-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0d504196-1423-45[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/testuser000002%40azuresdkteam.onmicrosoft.com?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '5735738'
      ocp-aad-diagnostics-server-name:
      - 1pW5qoZ4uTDdeDKc5i/na+owvmq1i01SUPYRY9B7Nxw=
      ocp-aad-session-key:
      - yAJ8wChqQGvsbcBf8zFI4gvH478K5BFBitjjbavRCZwf7PsDqZ0vKzeGtTEHx36ebRwyTFXfKlUju2_bVn4cf-78VAPZbPNWQRN1zYDeeo4BqsM8aJjBogFesPCJjtqvqGMb3BnTyXWWE6UlY_hhiJsK-czy9AB954aYC33I2y-tyNWunf6_8Y193tFhwmsMzeRzWXfiNAN8eKFQjhR9Jg.PHeO46BhxPmiSKehsBCdaoyks8_PrZZY7r42MN0h198
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
