interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002/versions/1.0?api-version=2022-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002/versions/1.0''
        under resource group ''cli_test_template_specs000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002?api-version=2022-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002''
        under resource group ''cli_test_template_specs000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"description": "AzCLI
      test root template spec", "displayName": "create-spec000003"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"displayName\": \"create-spec000003\",\r\n    \"description\": \"AzCLI
        test root template spec\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\":
        \"test@example.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\":
        \"2025-06-20T14:21:26.0359083Z\",\r\n    \"lastModifiedBy\": \"test@example.com\",\r\n
        \   \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2025-06-20T14:21:26.0359083Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-create-template-spec000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"description": "AzCLI
      test version of root template spec", "linkedTemplates": [{"path": "artifacts/createResourceGroup.json",
      "template": {"$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"rgName": {"type": "string"}, "rgLocation":
      {"type": "string"}}, "variables": {}, "resources": [{"type": "Microsoft.Resources/resourceGroups",
      "apiVersion": "2019-10-01", "name": "[parameters(''rgName'')]", "location":
      "[parameters(''rgLocation'')]", "properties": {}}], "outputs": {}}}, {"path":
      "artifacts/createKeyVault.json", "template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"keyVaultName": {"type": "string"},
      "location": {"type": "string", "defaultValue": "[resourceGroup().location]"},
      "skuName": {"type": "string", "defaultValue": "standard"}, "tenantId": {"type":
      "string", "defaultValue": "[subscription().tenantId]"}, "aadObjectId": {"type":
      "string", "defaultValue": "177f56a0-9e41-4008-a321-d3676aae9c69"}}, "variables":
      {}, "resources": [{"type": "Microsoft.KeyVault/vaults", "name": "[parameters(''keyVaultName'')]",
      "apiVersion": "2018-02-14", "location": "[parameters(''location'')]", "properties":
      {"tenantId": "[parameters(''tenantId'')]", "accessPolicies": [{"tenantId": "[parameters(''tenantId'')]",
      "objectId": "[parameters(''aadObjectId'')]", "permissions": {"keys": ["encrypt",
      "decrypt", "wrapKey", "unwrapKey", "sign", "verify", "get", "list", "create",
      "update", "import", "delete", "backup", "restore", "recover", "purge"], "secrets":
      ["get", "list", "set", "delete", "backup", "restore", "recover", "purge"], "certificates":
      ["get", "list", "delete", "create", "import", "update", "managecontacts", "getissuers",
      "listissuers", "setissuers", "deleteissuers", "manageissuers", "recover", "purge"]}}],
      "sku": {"name": "[parameters(''skuName'')]", "family": "A"}, "networkAcls":
      {"defaultAction": "Allow", "bypass": "AzureServices"}}}], "outputs": {}}}, {"path":
      "artifacts/createKeyVaultWithSecret.json", "template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"keyVaultName": {"type": "string"},
      "location": {"type": "string", "defaultValue": "[resourceGroup().location]"},
      "skuName": {"type": "string", "defaultValue": "standard"}, "tenantId": {"type":
      "string", "defaultValue": "[subscription().tenantId]"}, "aadObjectId": {"type":
      "string", "defaultValue": "177f56a0-9e41-4008-a321-d3676aae9c69"}}, "variables":
      {}, "resources": [{"type": "Microsoft.Resources/deployments", "apiVersion":
      "2020-10-01", "name": "keyVault", "properties": {"mode": "Incremental", "templateLink":
      {"relativePath": "createKeyVault.json", "contentVersion": "1.0.0.0"}, "parameters":
      {"keyVaultName": {"value": "[parameters(''keyVaultName'')]"}, "location": {"value":
      "[parameters(''location'')]"}, "skuName": {"value": "[parameters(''skuName'')]"},
      "tenantId": {"value": "[parameters(''tenantId'')]"}, "aadObjectId": {"value":
      "[parameters(''aadObjectId'')]"}}}}, {"type": "Microsoft.KeyVault/vaults/secrets",
      "apiVersion": "2018-02-14", "name": "[concat(parameters(''keyVaultName''), ''/mySecret'')]",
      "location": "[parameters(''location'')]", "dependsOn": ["keyVault"], "properties":
      {"value": "mySecretValue"}}], "outputs": {}}}], "mainTemplate": {"$schema":
      "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"rgName": {"type": "string"}, "rgLocation":
      {"type": "string"}, "keyVaultName": {"type": "string"}}, "variables": {}, "resources":
      [{"type": "Microsoft.Resources/deployments", "apiVersion": "2019-10-01", "name":
      "deploymentRg", "location": "[parameters(''rgLocation'')]", "properties": {"mode":
      "Incremental", "templateLink": {"relativePath": "artifacts/createResourceGroup.json",
      "contentVersion": "1.0.0.0"}, "parameters": {"rgName": {"value": "[parameters(''rgName'')]"},
      "rgLocation": {"value": "[parameters(''rgLocation'')]"}}}}, {"type": "Microsoft.Resources/deployments",
      "apiVersion": "2019-10-01", "name": "keyVaultAndSecret", "resourceGroup": "[parameters(''rgName'')]",
      "dependsOn": ["deploymentRg"], "properties": {"mode": "Incremental", "templateLink":
      {"relativePath": "artifacts/createKeyVaultWithSecret.json", "contentVersion":
      "1.0.0.0"}, "parameters": {"keyVaultName": {"value": "[parameters(''keyVaultName'')]"}}}},
      {"type": "Microsoft.Resources/deployments", "apiVersion": "2019-10-01", "name":
      "duplicateRelativePath", "resourceGroup": "[parameters(''rgName'')]", "dependsOn":
      ["deploymentRg"], "properties": {"mode": "Incremental", "templateLink": {"relativePath":
      "artifacts/createKeyVaultWithSecret.json", "contentVersion": "1.0.0.0"}, "parameters":
      {"keyVaultName": {"value": "[parameters(''keyVaultName'')]"}}}}], "outputs":
      {}}, "uiFormDefinition": {"$schema": "createFormUI.schema.json", "view": {"kind":
      "Form", "properties": {"title": "titleFooRG", "steps": [{"name": "basics", "label":
      "Basics", "elements": [{"name": "resourceScope", "type": "Microsoft.Common.ResourceScope",
      "subscription": {"constraints": {"validations": [{"isValid": "[expression for
      checking]", "message": "Please select a valid\u202fsubscription."}, {"permission":
      "<Resource Provider>/<Action>", "message": "Must have correct permission to
      complete this step."}]}, "resourceProviders": ["<Resource Provider>"]}, "resourceGroup":
      {"constraints": {"validations": [{"isValid": "[expression for checking]", "message":
      "Please select a valid\u202fresource\u202fgroup."}]}, "allowExisting": true},
      "location": {"label": "Custom label for location", "toolTip": "provide\u202fa\u202fuseful\u202ftooltip",
      "resourceTypes": ["Microsoft.Compute/virtualMachines"], "allowedValues": ["eastus",
      "westus2"]}}], "description": "Customized description with **markdown**, see
      [more](https://www.microsoft.com)."}, {"name": "storageConfig", "label": "Storage
      settings", "elements": [{"name": "storageAccounts", "type": "Microsoft.Storage.MultiStorageAccountCombo",
      "label": {"prefix": "Storage account name prefix", "type": "Storage account
      type"}, "defaultValue": {"prefix": "stracct", "type": "Standard_LRS"}, "constraints":
      {"allowedTypes": ["Premium_LRS", "Standard_LRS", "Standard_GRS"]}, "count":
      2, "scope": {"subscriptionId": "[steps(''basics'').resourceScope.subscription.subscriptionId]",
      "resourceGroupName": "[steps(''basics'').resourceScope.resourceGroup.name]",
      "location": "[steps(''basics'').resourceScope.location.name]"}}]}, {"name":
      "tags", "label": "Tags", "elements": [{"name": "tagsByResource", "type": "Microsoft.Common.TagsByResource",
      "resources": ["Microsoft.Storage/storageAccounts", "Microsoft.Compute/virtualMachines"]}]}]},
      "outputs": {"parameters": {"storageAccountNamePrefix": "[steps(''storageConfig'').storageAccounts.prefix]",
      "storageAccountType": "[steps(''storageConfig'').storageAccounts.type]", "location":
      "[steps(''basics'').resourceScope.location.name]", "tagsByResource": "[steps(''tags'').tagsByResource]"},
      "kind": "ResourceGroup", "location": "[steps(''basics'').resourceScope.location.name]",
      "subscriptionId": "[steps(''basics'').resourceScope.subscription.id]", "resourceGroupId":
      "[steps(''basics'').resourceScope.resourceGroup.id]"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002/versions/1.0?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\":
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_template_specs000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001","name":"cli_test_template_specs000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_create_template_specs_with_artifacts","date":"2025-06-20T14:21:23Z","module":"resource"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
