interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alex-nsg-test/providers/Microsoft.Network/networkSecurityGroups/nsgFlowLogTest","name":"nsgFlowLogTest","type":"Microsoft.Network/networkSecurityGroups","location":"centraluseuap"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alex-nsg-test/providers/Microsoft.Network/virtualNetworks/vnet-flowlog-test","name":"vnet-flowlog-test","type":"Microsoft.Network/virtualNetworks","location":"centraluseuap","tags":{"displayName":"virtualNetwork1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alex-nsg-test/providers/Microsoft.Storage/storageAccounts/storageflowlogalextest","name":"storageflowlogalextest","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Premium_LRS","tier":"Premium"},"kind":"StorageV2","location":"centraluseuap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alex-nsg-test/providers/Microsoft.Storage/storageAccounts/storageflowlogalextest2","name":"storageflowlogalextest2","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","location":"centraluseuap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deploymentypik7hzlpiaow4zhuiwdq62fajongfhzxavwaiymm4rggdfugatvzpvy/providers/Microsoft.Network/virtualNetworks/vnet1","name":"vnet1","type":"Microsoft.Network/virtualNetworks","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lock_with_resource_idefxzshezfqvkpwemvdnwzdw7kjun6j6ypqirgybbsc7za/providers/Microsoft.DocumentDB/databaseAccounts/cli-cosmosidltsnjm46d5mvyasjbk","name":"cli-cosmosidltsnjm46d5mvyasjbk","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lock_with_resource_idlykfkgghp7kqqfwpx4p3qq723dnejceor75io4wwsfrsc/providers/Microsoft.DocumentDB/databaseAccounts/cli-cosmoswhi36hqfu5pkhakgd4rt","name":"cli-cosmoswhi36hqfu5pkhakgd4rt","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","location":"westus","tags":{},"systemData":{"createdAt":"2020-07-28T16:25:20.4516635Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lock_with_resource_idxpokwausw45nyncdwcbm2pqnl3pvj5aw76jvpecteokor/providers/Microsoft.DocumentDB/databaseAccounts/cli-cosmosc5twdyhztaanfx646i4q","name":"cli-cosmosc5twdyhztaanfx646i4q","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","location":"westus","tags":{},"systemData":{"createdAt":"2020-07-09T16:31:09.7542903Z"}},{"id":"/subscriptions/00000000-0000-0000-000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001","name":"cli_test_resource_scenario000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-28T20:11:59Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "tags": {"cli-test": "test"}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets":
      [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "subnet-000003"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002\",\r\n
        \ \"etag\": \"W/\\\"585fcad4-89b6-48a9-9b87-a8c249f26a08\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {\r\n    \"cli-test\": \"test\"\r\n  },\r\n  \"properties\": {\r\n
        \   \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"13e2f141-b110-49a0-994a-5d34057ea8a6\",\r\n
        \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
        \     ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n
        \   },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet-000003\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002/subnets/subnet-000003\",\r\n
        \       \"etag\": \"W/\\\"585fcad4-89b6-48a9-9b87-a8c249f26a08\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/40a6e9f5-0d01-42f9-8231-5ace7e7c5b96?api-version=2020-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/40a6e9f5-0d01-42f9-8231-5ace7e7c5b96?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=location%20eq%20%27southcentralus%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","name":"vnet-000002","type":"Microsoft.Network/virtualNetworks","location":"southcentralus","tags":{"cli-test":"test"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_southcentralus","name":"NetworkWatcher_southcentralus","type":"Microsoft.Network/networkWatchers","location":"southcentralus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/alex-nsg-test/providers/Microsoft.Network/virtualNetworks/vnet-flowlog-test","name":"vnet-flowlog-test","type":"Microsoft.Network/vi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=name%20eq%20%27vnet-000002%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","name":"vnet-000002","type":"Microsoft.Network/virtualNetworks","location":"southcentralus","tags":{"cli-test":"test"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=tagname%20eq%20%27cli-test%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","name":"vnet-000002","type":"Microsoft.Network/virtualNetworks","location":"southcentralus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=tagname%20eq%20%27cli-test%27%20and%20tagvalue%20eq%20%27test%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","name":"vnet-000002","type":"Microsoft.Network/virtualNetworks","location":"southcentralus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e"}],"resourceTypes":[{"resourceType":"virtualNetworks","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK South","Korea Central","Korea South","France Central","Australia
        Central","South Africa North","UAE North","Switzerland North","Germany West
        Central","Norway East","Central US EUAP","East US 2 EUAP"],"apiVersions":["2020-05-01","2020-04-01","2020-03-01","2020-01-01","2019-12-01","2019-11-01","2019-09-01","2019-08-01","2019-07-01","2019-06-01","2019-04-01","2019-02-01","2018-12-01","2018-11-01","2018-10-01","2018-08-01","2018-07-01","2018-06-01","2018-05-01","2018-04-01","2018-03-01","2018-02-01","2018-01-01","2017-11-01","2017-10-01","2017-09-01","2017-08-01","2017-06-01","2017-04-01","2017-03-01","2016-12-01","2016-11-01","2016-10-01","2016-09-01","2016-08-01","2016-07-01","2016-06-01","2016-03-30","2015-06-15","2015-05-01-preview","2014-12-01-preview"],"defaultApiVersion":"2017-09-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2015-06-15"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2017-10-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2017-10-01"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"natGateways","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK South","Korea Central","Korea South","France Central","Australia
        Central","South Africa North","UAE North","Switzerland North","Germany West
        Central","Norway East","Central US EUAP","East US 2 EUAP"],"apiVersions":["2020-05-01","2020-04-01","2020-03-01","2020-01-01","2019-12-01","2019-11-01","2019-09-01","2019-08-01","2019-07-01","2019-06-01","2019-04-01","2019-02-01","2018-12-01","2018-11-01"],"defaultApiVersion":"2018-11-01","zoneMappings":[{"location":"East
        US 2","zones":["1","3","2"]},{"location":"Central US","zones":["1","3","2"]},{"location":"West
        Europe","zones":["1","3","2"]},{"location":"East US 2 EUAP","zones":["1","3","2"]},{"location":"Central
        US EUAP","zones":["2","1"]},{"location":"France Central","zones":["1","3","2"]},{"location":"Southeast
        Asia","zones":["1","3","2"]},{"location":"West US 2","zones":["1","3","2"]},{"location":"North
        Europe","zones":["1","3","2"]},{"location":"East US","zones":["1","3","2"]},{"locatio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002/subnets/subnet-000003?api-version=2020-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnet-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002/subnets/subnet-000003\",\r\n
        \ \"etag\": \"W/\\\"e931a7f7-46fd-4272-bb39-5b7dbe23ca9f\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e931a7f7-46fd-4272-bb39-5b7dbe23ca9f"
    status:
      code: 200
      message: OK
[...]
