interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c?api-version=2023-04-01
  response:
    body:
      string: '{"error":{"code":"PolicySetDefinitionNotFound","message":"The policy
        set definition ''095e4ed9-c835-4ab6-9439-b5644362a06c'' could not be found."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c?api-version=2023-04-01
  response:
    body:
      string: '{"properties":{"displayName":"Audit machines with insecure password
        security settings","policyType":"BuiltIn","description":"This initiative deploys
        the policy requirements and audits machines with insecure password security
        settings. For more information on Guest Configuration policies, please visit
        https://aka.ms/gcpol","metadata":{"version":"1.1.0","category":"Guest Configuration"},"version":"1.1.0","parameters":{"IncludeArcMachines":{"type":"String","metadata":{"displayName":"Include
        Arc connected servers","description":"By selecting this option, you agree
        to be charged monthly per Arc connected machine."},"allowedValues":["true","false"],"defaultValue":"false"},"MaximumPasswordAge":{"type":"String","metadata":{"displayName":"Maximum
        password age","description":"The Maximum password age setting determines the
        period of time (in days) that a password can be used before the system requires
        the user to change it."},"defaultValue":"70"},"MinimumPasswordAge":{"type":"String","metadata":{"displayName":"Minimum
        password age","description":"The Minimum password age setting determines the
        period of time (in days) that a password must be used before the user can
        change it."},"defaultValue":"1"},"EnforcePasswordHistory":{"type":"String","metadata":{"displayName":"Enforce
        password history","description":"The Enforce password history setting determines
        the number of unique new passwords that must be associated with a user account
        before an old password can be reused."},"defaultValue":"24"},"MinimumPasswordLength":{"type":"String","metadata":{"displayName":"Minimum
        password length","description":"The Minimum password length setting determines
        the least number of characters that can make up a password for a user account."},"defaultValue":"14"}},"policyDefinitions":[{"policyDefinitionReferenceId":"AINE_MaximumPasswordAge","policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/4ceb8dc2-559c-478b-a15b-733fbf1e3738","definitionVersion":"2.*.*","parameters":{"IncludeArcMachines":{"value":"[parameters(''IncludeArcMachines'')]"},"MaximumPasswordAge":{"value":"[parameters(''MaximumPasswordAge'')]"}}},{"policyDefinitionReferenceId":"AINE_MinimumPasswordAge","policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/237b38db-ca4d-4259-9e47-7882441ca2c0","definitionVersion":"2.*.*","parameters":{"IncludeArcMachines":{"value":"[parameters(''IncludeArcMachines'')]"},"MinimumPasswordAge":{"value":"[parameters(''MinimumPasswordAge'')]"}}},{"policyDefinitionReferenceId":"AI[...]
- request:
    body: '{"properties": {"policyDefinitionId": "/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c",
      "enforcementMode": "DoNotEnforce"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_ncm000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000002?api-version=2023-04-01
  response:
    body:
      string: '{"properties":{"policyDefinitionId":"/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c","definitionVersion":"1.*.*","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_ncm000001","metadata":{"createdBy":"83cb6ceb-42ff-4c0f-9239-2afb8f90086a","createdOn":"2025-07-02T00:20:36.9445385Z","updatedBy":null,"updatedOn":null},"enforcementMode":"DoNotEnforce"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_ncm000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000002","type":"Microsoft.Authorization/policyAssignments","name":"azurecli-test-policy-assignment000002","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-02T00:20:36.7737856Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-02T00:20:36.7737856Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"policyDefinitionId": "/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c",
      "definitionVersion": "1.*.*", "metadata": {"createdBy": "83cb6ceb-42ff-4c0f-9239-2afb8f90086a",
      "createdOn": "2025-07-02T00:20:36.9445385Z", "updatedBy": null, "updatedOn":
      null}, "enforcementMode": "DoNotEnforce", "nonComplianceMessages": [{"message":
      "General message"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_ncm000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000002?api-version=2023-04-01
  response:
    body:
      string: '{"properties":{"policyDefinitionId":"/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c[...]
[...]
