interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource ''cli-test-create-deployment-stack-subscription000002''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/BicepLatestRelease
  response:
    body:
      string: ''
    headers:
      location:
      - https://downloads.bicep.azure.com/releases/latest
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://downloads.bicep.azure.com/releases/latest
  response:
    body:
      string: '{"url":"https://api.github.com/repos/Azure/bicep/releases/150828067","assets_url":"https://api.github.com/repos/Azure/bicep/releases/150828067/assets","upload_url":"https://uploads.github.com/repos/Azure/bicep/releases/150828067/assets{?name,label}","html_url":"https://github.com/Azure/bicep/releases/tag/v0.26.170","id":150828067,"author":{"login":"jeskew","id":705500,"node_id":"MDQ6VXNlcjcwNTUwMA==","avatar_url":"https://avatars.githubusercontent.com/u/705500?v=4","gravatar_id":"","url":"https://api.github.com/users/jeskew","html_url":"https://github.com/jeskew","followers_url":"https://api.github.com/users/jeskew/followers","following_url":"https://api.github.com/users/jeskew/following{/other_user}","gists_url":"https://api.github.com/users/jeskew/gists{/gist_id}","starred_url":"https://api.github.com/users/jeskew/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jeskew/subscriptions","organizations_url":"https://api.github.com/users/jeskew/orgs","repos_url":"https://api.github.com/users/jeskew/repos","events_url":"https://api.github.com/users/jeskew/events{/privacy}","received_events_url":"https://api.github.com/users/jeskew/received_events","type":"User","site_admin":false},"node_id":"RE_kwDOD7S9ks4I_XQj","tag_name":"v0.26.170","target_commitish":"main","name":"v0.26.170","draft":false,"prerelease":false,"created_at":"2024-04-03T21:52:41Z","published_at":"2024-04-12T00:29:12Z","assets":[{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/161615057","id":161615057,"node_id":"RA_kwDOD7S9ks4JogzR","name":"Azure.Bicep.CommandLine.linux-arm64.0.26.170.nupkg","label":"","uploader":{"login":"jeskew","id":705500,"node_id":"MDQ6VXNlcjcwNTUwMA==","avatar_url":"https://avatars.githubusercontent.com/u/705500?v=4","gravatar_id":"","url":"https://api.github.com/users/jeskew","html_url":"https://github.com/jeskew","followers_url":"https://api.github.com/users/jeskew/followers","following_url":"https://api.github.com/users/jeskew/following{/other_user}","gists_url":"https://api.github.com/users/jeskew/gists{/gist_id}","starred_url":"https://api.github.com/users/jeskew/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jeskew/subscriptions","organizations_url":"https://api.github.com/users/jeskew/orgs","repos_url":"https://api.github.com/users/jeskew/repos","events_url":"https://api.github.com/users/jeskew/events{/privacy}","received_events_url":"https://api.github.com/users/jeskew/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":37292424,"download_count":20,"created_at":"2024-04-11T21:06:21Z","updated_at":"2024-04-11T21:06:23Z","browser_download_url":"https://github.com/Azure/bicep/releases/download/v0.26.170/Azure.Bicep.CommandLine.linux-arm64.0.26.170.nupkg"},{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/161615024","id":161615024,"node_id":"RA_kwDOD7S9ks4Jogyw","name":"Azure.Bicep.CommandLine.linux-x64.0.26.170.nupkg","label":"","uploader":{"login":"jeskew","id":705500,"node_id":"MDQ6VXNlcjcwNTUwMA==","avatar_url":"https://avatars.githubusercontent.com/u/705500?v=4","gravatar_id":"","url":"https://api.github.com/users/je[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.26.54.24096", "templateHash": "4676284590957754372"}}, "parameters": {"location":
      {"type": "string", "defaultValue": "centralus"}, "storageAccountName": {"type":
      "string", "defaultValue": "uniquestorage002", "minLength": 3, "maxLength": 24}},
      "resources": [{"type": "Providers.Test/statefulResources", "apiVersion": "2014-04-01",
      "name": "[parameters(''storageAccountName'')]", "location": "[parameters(''location'')]"}],
      "outputs": {"storageId": {"type": "string", "value": "[resourceId(''Providers.Test/statefulResources'',
      parameters(''storageAccountName''))]"}}}, "parameters": {}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach", "managementGroups": "detach"},
      "bypassStackOutOfSyncError": false, "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001",
      "denySettings": {"mode": "none", "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002/validate?api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationRes[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOjRiNDczZDJhOjJENzgzMToyRDQ2NjA6MkQ4NDQyOjJENDc1ZGIzZjhmZmMxIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2024-03-01&t=638506045610001008&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/220ad030-2b25-494b-90ce-30e168c9fe16?api-version=2024-03-01&t=638506045777754175&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUw[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"\
        properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"\
        detach\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\"\
        : \"detach\"\r\n    },\r\n    \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-subscriptionmohff-240506150v6i3\"\
        ,\r\n    \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001\"\
        ,\r\n    \"duration\": \"PT8.6180124S\",\r\n    \"denySettings\": {\r\n  \
        \    \"mode\": \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\
        \n    \"outputs\": {\r\n      \"storageId\": {\r\n        \"type\": \"String\"\
        ,\r\n        \"value\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Providers.Test/statefulResources/uniquestorage002\"\
        \r\n      }\r\n    },\r\n    \"parameters\": {},\r\n    \"resources\": [\r\
        \n      {\r\n        \"status\": \"managed\",\r\n        \"denyStatus\": \"\
        none\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Providers.Test/statefulResources/uniquestorage002\"\
        \r\n      }\r\n    ],\r\n    \"provisioningState\": \"succeeded\",\r\n   \
        \ \"detachedResources\": [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\"\
        : [],\r\n    \"correlationId\": \"9a884ca4-a5a6-41a3-8875-b6f27b990f77\"\r\
        \n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"kylealbert@microsoft.com\"\
        ,\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-05-06T15:02:57.1972561Z\"\
        ,\r\n    \"lastModifiedBy\": \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2024-05-06T15:02:57.1972561Z\"\r\n\
        \  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\":\
        \ \"cli-test-create-deployment-stack-subscription000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&unmanageAction.ManagementGroups=detach&api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.26.54.24096", "templateHash": "10117753893333852062"}}, "parameters": {"location":
      {"type": "string"}, "kind": {"type": "string"}}, "variables": {"storageAccountName":
      "[format(''clistore{0}'', uniqueString(resourceGroup().id))]"}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "apiVersion": "2019-04-01", "name":
      "[variables(''storageAccountName'')]", "location": "[parameters(''location'')]",
      "sku": {"name": "Standard_LRS"}, "kind": "[parameters(''kind'')]", "properties":
      {}}]}, "parameters": {"location": {"value": "westcentralus"}, "kind": {"value":
      "StorageV2"}}, "actionOnUnmanage": {"resources": "delete", "resourceGroups":
      "delete", "managementGroups": "delete"}, "bypassStackOutOfSyncError": false,
      "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001",
      "denySettings": {"mode": "none", "apply[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOmMwYTJiYmY2OjJEZmVjOToyRDRjMmM6MkQ5YzMxOjJEYWJlOWVjMzk3ZGQyIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2024-03-01&t=638506046142585056&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/af7a753c-204a-43d1-9cb2-db6c86c6e6c9?api-version=2024-03-01&t=638506046305909277&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUw[...]
[...]
