interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabil[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "mg000001", "properties": {"details": {"parent": {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/mg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/mg000001","type":"Microsoft.Management/managementGroups","name":"mg000001","status":"NotStarted"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mg000001?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/mg000001?api-version=2021-04-01
      x-ba-restapi:
      - 0.0.0.0
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mg000001","name":"mg000001","status":"Running"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mg000001?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/mg000001?api-version=2021-04-01
      x-ba-restapi:
      - 0.0.0.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/mg000001","name":"mg000001","status":"Succeeded","properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","displayName":"mg000001","details":{"version":1,"updatedTime":"2022-11-02T09:50:31.299008Z","updatedBy":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 0.0.0.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://downloads.bicep.azure.com/v0.11.1/bicep-linux-x64
  response:
    body:
      string: ''
    headers:
      location:
      - https://api.github.com/repos/Azure/bicep/releases/latest
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/Azure/bicep/releases/latest
  response:
    body:
      string: '{"url":"https://api.github.com/repos/Azure/bicep/releases/79002528","assets_url":"https://api.github.com/repos/Azure/bicep/releases/79002528/assets","upload_url":"https://uploads.github.com/repos/Azure/bicep/releases/79002528/assets{?name,label}","html_url":"https://github.com/Azure/bicep/releases/tag/v0.11.1","id":79002528,"author":{"login":"shenglol","id":16367959,"node_id":"MDQ6VXNlcjE2MzY3OTU5","avatar_url":"https://avatars.githubusercontent.com/u/16367959?v=4","gravatar_id":"","url":"https://api.github.com/users/shenglol","html_url":"https://github.com/shenglol","followers_url":"https://api.github.com/users/shenglol/followers","following_url":"https://api.github.com/users/shenglol/following{/other_user}","gists_url":"https://api.github.com/users/shenglol/gists{/gist_id}","starred_url":"https://api.github.com/users/shenglol/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/shenglol/subscriptions","organizations_url":"https://api.github.com/users/shenglol/orgs","repos_url":"https://api.github.com/users/shenglol/repos","events_url":"https://api.github.com/users/shenglol/events{/privacy}","received_events_url":"https://api.github.com/users/shenglol/received_events","type":"User","site_admin":false},"node_id":"RE_kwDOD7S9ks4EtXug","tag_name":"v0.11.1","target_commitish":"main","name":"v0.11.1","draft":false,"prerelease":false,"created_at":"2022-10-04T19:12:51Z","published_at":"2022-10-04T23:50:54Z","assets":[{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/79980757","id":79980757,"node_id":"RA_kwDOD7S9ks4ExGjV","name":"Azure.Bicep.CommandLine.linux-arm64.0.11.1.nupkg","label":"","uploader":{"login":"shenglol","id":16367959,"node_id":"MDQ6VXNlcjE2MzY3OTU5","avatar_url":"https://avatars.githubusercontent.com/u/16367959?v=4","gravatar_id":"","url":"https://api.github.com/users/shenglol","html_url":"https://github.com/shenglol","followers_url":"https://api.github.com/users/shenglol/followers","following_url":"https://api.github.com/users/shenglol/following{/other_user}","gists_url":"https://api.github.com/users/shenglol/gists{/gist_id}","starred_url":"https://api.github.com/users/shenglol/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/shenglol/subscriptions","organizations_url":"https://api.github.com/users/shenglol/orgs","repos_url":"https://api.github.com/users/shenglol/repos","events_url":"https://api.github.com/users/shenglol/events{/privacy}","received_events_url":"https://api.github.com/users/shenglol/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":21354452,"download_count":280,"created_at":"2022-10-04T23:16:41Z","updated_at":"2022-10-04T23:16:48Z","browser_download_url":"https://github.com/Azure/bicep/releases/download/v0.11.1/Azure.Bicep.CommandLine.linux-arm64.0.11.1.nupkg"},{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/79980753","id":79980753,"node_id":"RA_kwDOD7S9ks4ExGjR","name":"Azure.Bicep.CommandLine.linux-x64.0.11.1.nupkg","label":"","uploader":{"login":"shenglol","id":16367959,"node_id":"MDQ6VXNlcjE2MzY3OTU5","avatar_url":"https://avatars.githubusercontent.com/u/16367959?v=4","gravatar_id":"","url":"https://api.github.com/users/shen[...]
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {}, \"mode\":
      \"Incremental\", template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/managementGroupDeploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"metadata\": {\r\n    \"_generator\":
      {\r\n      \"name\": \"bicep\",\r\n      \"version\": \"0.11.1.770\",\r\n      \"templateHash\":
      \"15561527519996681436\"\r\n    }\r\n  },\r\n  \"resources\": [\r\n    {\r\n
      \     \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n      \"apiVersion\":
      \"2018-05-01\",\r\n      \"name\": \"policy-for-bicep-test\",\r\n      \"properties\":
      {\r\n        \"policyType\": \"Custom\",\r\n        \"policyRule\": {\r\n          \"if\":
      {\r\n            \"field\": \"location\",\r\n            \"equals\": \"westus2\"\r\n
      \         },\r\n          \"then\": {\r\n            \"effect\": \"deny\"\r\n
      \         }\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/mg000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/mg000001/providers/Microsoft.Resources/deployments/depname000002","name":"depname000002","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"15561527519996681436","mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"b4465af0-cb94-4a0f-89fd-63232aaf3185","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]}]}],"dependencies":[],"validatedResources":[{"id":"/providers/Microsoft.Management/managementGroups/mg000001/providers/Microsoft.Authorization/policyDefinitions/policy-for-bicep-test"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {}, \"mode\":
      \"Incremental\", template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/managementGroupDeploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"metadata\": {\r\n    \"_generator\":
      {\r\n      \"name\": \"bicep\",\r\n      \"version\": \"0.11.1.770\",\r\n      \"templateHash\":
      \"15561527519996681436\"\r\n    }\r\n  },\r\n  \"resou[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/mg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585342242303604189?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/mg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/mg000001/providers/Microsoft.Resources/deployments/depname000002","name":"depname000002","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"15561527519996681436","mode":"Incremental","provisioningState":"Succeeded","timestamp":"2022-11-02T09:51:05.1067752Z","duration":"PT2.9224895S","correlationId":"e184a2fc-7212-4a57-8cdd-73bc1cae52b4","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]}]}],"dependencies":[],"outputResources":[{"id":"/providers/Microsoft.Management/managementGroups/mg000001/providers/Microsoft.Authorization/policyDefinitions/policy-for-bicep-test"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/mg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/mg000001","type":"Microsoft.Management/managementGroups","name":"mg000001","status":"NotStarted"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/mg000001?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/mg000001?api-version=2021-04-01
      x-ba-restapi:
      - 0.0.0.0
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/mg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/mg000001","name":"mg000001","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 0.0.0.0
    status:
      code: 200
      message: OK
version: 1
