interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/tagNames?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/Blah","tagName":"Blah","count":{"type":"Total","value":29},"values":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/Blah/tagValues/Tataaaa","tagValue":"Tataaaa","count":{"type":"Total","value":29}}]},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag1","tagName":"tag1","count":{"type":"Total","value":29},"values":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag1/tagValues/tag2","tagValue":"tag2","count":{"type":"Total","value":29}}]},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/TagAlong","tagName":"TagAlong","count":{"type":"Total","value":29},"values":[{"id":"/subscriptions/0[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/test/tagValues/cli_test_tag?api-version=2020-06-01
  response:
    body:
      string: '{"error":{"code":"PredefinedTagNameNotFound","message":"Predefined
        tag name ''test'' could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 404
      message: Not Found
version: 1
