interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.web?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web","namespace":"Microsoft.Web","authorization":{"applicationId":"abfa0a7c-a6b6-4736-8310-5855508787cd","roleDefinitionId":"f47ed98b-b063-4a5b-9e10-4b9b44fa7735"},"resourceTypes":[{"resourceType":"publishingUsers","locations":["Central
        US","North Europe","West Europe","Southeast Asia","Korea Central","Korea South","West
        US","East US","Japan West","Japan East","East Asia","East US 2","North Central
        US","South Central US","Brazil South","Australia East","Australia Southeast","West
        India","Central India","South India","Canada Central","Canada East","West
        Central US","UK West","UK South","West US 2","MSFT West US","MSFT East US","MSFT
        East Asia","MSFT North Europe","East US 2 (Stage)","East Asia (Stage)","Central
        US (Stage)","North Central US (Stage)","France Central","South Africa North","Australia
        Central","Switzerland North","Germany West Central","Norway East","East US
        2 EUAP","Central US EUAP"],"apiVersions":["2019-08-01","2018-11-01","2018-02-01","2016-03-01","2015-08-01","2015-07-01","2015-06-01","2015-05-01","2015-04-01","2015-02-01","2014-11-01","2014-06-01","2014-04-01-preview","2014-04-01"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-03-01"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2016-03-01"},{"profileVersion":"2018-06-01-profile","apiVersion":"2016-03-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2018-02-01"}],"capabilities":"None"},{"resourceType":"ishostnameavailable","locations":["Central
        US","North Europe","West Europe","Southeast Asia","Korea Central","Korea South","West
        US","East US","Japan West","Japan East","East Asia","East US 2","North Central
        US","South Central US","Brazil South","Australia East","Australia Southeast","West
        India","Central India","South India","Canada Central","Canada East","West
        Central US","UK West","UK South","West US 2","MSFT West US","MSFT East[...]
- request:
    body: '{"location": "westus", "sku": {"name": "B1", "tier": "BASIC"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_create000001/providers/Microsoft.web/serverFarms/cli_res_create_plan?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_create000001/providers/Microsoft.Web/serverfarms/cli_res_create_plan","name":"cli_res_create_plan","type":"Microsoft.Web/serverfarms","kind":"app","location":"West
        US","properties":{"serverFarmId":39759,"name":"cli_res_create_plan","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli_test_resource_create000001-WestUSwebspace","subscription":"a1bfa635-f2bf-42f1-86b5-848c674fc321","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":3,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"cli_test_resource_create000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bay-051_39759","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null},"sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_create000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_create000001","name":"cli_test_resource_create000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-08T18:20:00Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"serverFarmId": "cli_res_create_plan"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_create000001/providers/Microsoft.web/sites/clirescreateweb?api-version=2019-08-01
  response:
    body:
      string: '{"Code":"Conflict","Message":"Website with given name clirescreateweb
        already exists.","Target":null,"Details":[{"Message":"Website with given name
        clirescreateweb already exists."},{"Code":"Conflict"},{"ErrorEntity":{"ExtendedCode":"54001","MessageTemplate":"Website
        with given name {0} already exists.","Parameters":["clirescreateweb"],"Code":"Conflict","Message":"Website
        with given name clirescreateweb already exists."}}],"Innererror":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 409
      message: Conflict
version: 1
