interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-show-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"DeploymentStackResourceNotFound\",\r\n
        \   \"message\": \"The deployment stack '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-show-deployment-stack-resource-group000002'
        could not be found.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach"}, "denySettings": {"applyToChildScopes":
      false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-show-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\":
        \"detach\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\":
        \"detach\"\r\n    },\r\n    \"denySettings\": {\r\n      \"mode\": \"none\",\r\n
        \     \"applyToChildScopes\": false\r\n    },\r\n    \"parameters\": {\r\n
        \     \"foo\": {\r\n        \"value\": \"abc\"\r\n      },\r\n      \"bar\":
        {\r\n        \"value\": \"xyz\"\r\n      }\r\n    },\r\n    \"resources\":
        [],\r\n    \"provisioningState\": \"initializing\",\r\n    \"detachedResources\":
        [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\": []\r\n  },\r\n
        \ \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-04-17T16:09:54.7622793Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-04-17T16:09:54.7622793Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-show-deployment-stack-resource-group000002\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-show-deployment-stack-resource-group000002\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/c46c2de5-87ad-41d5-8b48-fcf86bff1c38?api-version=2022-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/c46c2de5-87ad-41d5-8b48-fcf86bff1c38?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/c46c2de5-87ad-41d5-8b48-fcf86bff1c38\",\r\n
        \ \"name\": \"c46c2de5-87ad-41d5-8b48-fcf86bff1c38\",\r\n  \"status\": \"succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-show-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\":
        \"detach\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\":
        \"detach\"\r\n    },\r\n    \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-show-deployment-stack-resourc-2023-04-17-16-09-54-70002\",\r\n
        \   \"duration\": \"PT4.8422634S\",\r\n    \"denySettings\": {\r\n      \"mode\":
        \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\n    \"outputs\":
        {\r\n      \"foo\": {\r\n        \"type\": \"String\",\r\n        \"value\":
        \"abc\"\r\n      },\r\n      \"bar\": {\r\n        \"type\": \"String\",\r\n
        \       \"value\": \"xyz\"\r\n      }\r\n    },\r\n    \"parameters\": {\r\n
        \     \"foo\": {\r\n        \"value\": \"abc\"\r\n      },\r\n      \"bar\":
        [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-show-deployment-stack-resource-group000002/exportTemplate?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"template\": {\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-show-deployment-stack-resource-group000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&api-version=2022-08-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
