interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-resource-group000002?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"DeploymentStackResourceNotFound\",\r\n
        \   \"message\": \"The deployment stack '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-resource-group000002'
        could not be found.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "updateBehavior": "detachResources"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-resource-group000002?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"updateBehavior\": \"detachResources\",\r\n
        \   \"template\": {\r\n      \"$schema\": \"https://schema[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/4a4f9a29-35df-4e1c-a785-5d1d4a62a4b5?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/4a4f9a29-35df-4e1c-a785-5d1d4a62a4b5\",\r\n
        \ \"name\": \"4a4f9a29-35df-4e1c-a785-5d1d4a62a4b5\",\r\n  \"status\": \"succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-resource-group000002?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"snapshotId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-resource-group000002/snapshots/2022-01-28-16-23-27-6496c\",\r\n
        \   \"updateBehavior\": \"detachResources\",\r\n    \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-delete-deployment-stack-snaps-2022-01-28-16-23-27-6496c\",\r\n
        \   \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
        \     \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"foo\":
        {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"foo\",\r\n
        \         \"metadata\": {\r\n            \"description\": \"description\"\r\n
        \         }\r\n        },\r\n        \"bar\": {\r\n          \"type\": \"string\",\r\n
        \         \"defaultValue\": \"bar\",\r\n          \"metadata\": {\r\n            \"description\":
        \"description\"\r\n          }\r\n        }\r\n      },\r\n      \"functions\":
        [],\r\n      \"variables\": {},\r\n      \"resources\": [],\r\n      \"outputs\":
        {\r\n        \"foo\": {\r\n          \"type\": \"string\",\r\n          \"value\":
        \"[parameters('foo')]\"\r\n        },\r\n        \"bar\": {\r\n          \"type\":
        \"string\",\r\n          \"value\": \"[parameters('bar')]\"\r\n        }\r\n
        \     }\r\n    },\r\n    \"managedResources\": [],\r\n    \"provisioningState\":
        \"succeeded\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2022-01-28T16:23:27.6617846Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-01-28T16:23:27.6617846Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-resource-group000002\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-delete-deployment-stack-snapshot-resource-group000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-resource-group000002/snapshots/2022-01-28-16-23-27-6496c?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"detachedResources\": [],\r\n    \"deletedResources\":
        [],\r\n    \"failedResources\": [],\r\n    \"updateBehavior\": \"detachResources\",\r\n
        \   \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-delete-deployment-stack-snaps-2022-01-28-16-23-27-6496c\",\r\n
        \   \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
        \     \"contentVersion\": \"1.0.0.0\",\r\n      \"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-resource-group000002/snapshots?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"detachedResources\":
        [],\r\n        \"delet[...]
[...]
