interactions:
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n      \"storageAccountType\":
      {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Standard_LRS\",\r\n
      \       \"allowedValues\": [\r\n          \"Standard_LRS\",\r\n          \"Standard_GRS\",\r\n
      \         \"Standard_ZRS\",\r\n          \"Premium_LRS\"\r\n        ],\r\n        \"metadata\":
      {\r\n          \"description\": \"Storage Account type\"\r\n        }\r\n      },\r\n
      \     \"location\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\":
      \"[resourceGroup().location]\",\r\n        \"metadata\": {\r\n          \"description\":
      \"Location for all resources.\"\r\n        }\r\n      }\r\n    },\r\n    \"variables\":
      {\r\n      \"storageAccountName\": \"[concat('store', uniquestring(resourceGroup().id))]\"\r\n
      \   },\r\n    \"resources\": [\r\n      {\r\n        \"type\": \"Microsoft.Storage/storageAccounts\",\r\n
      \       \"apiVersion\": \"2019-04-01\",\r\n        \"name\": \"[variables('storageAccountName')]\",\r\n
      \       \"location\": \"[parameters('location')]\",\r\n        \"sku\": {\r\n
      \         \"name\": \"[parameters('storageAccountType')]\"\r\n        },\r\n
      \       \"kind\": \"StorageV2\",\r\n        \"properties\": {}\r\n      }\r\n
      \   ],\r\n    \"outputs\": {\r\n      \"storageAccountId\": {\r\n        \"type\":
      \"string\",\r\n        \"value\": \"[resourceId('Microsoft.Storage/storageAccounts',
      variables('storageAccountName'))]\"\r\n      }\r\n    }\r\n  }}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_what_if000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if000001/providers/Microsoft.Resources/deployments/storage_account_deploy","name":"storage_account_deploy","type":"Microsoft.Resources/deployments","properties":{"templateHash":"17777275051920256744","parameters":{"storageAccountType":{"type":"String","value":"Standard_LRS"},"location":{"type":"String","value":"westus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-07-07T08:37:23.0220598Z","duration":"PT0S","correlationId":"09cb8dc9-fe53-46ab-bc33-416f85cfcc8a","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if000001/providers/Microsoft.Storage/storageAccounts/storevfes4ziw26jng"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n      \"storageAccountType\":
      {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Standard_LRS\",\r\n
      \       \"allowedValues\": [\r\n          \"Standard_LRS\",\r\n          \"Standard_GRS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_what_if000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585759598398917070?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_what_if000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if000001/providers/Microsoft.Resources/deployments/storage_account_deploy","name":"storage_account_deploy","type":"Microsoft.Resources/deployments","properties":{"templateHash":"17777275051920256744","parameters":{"storageAccountType":{"type":"String","value":"Standard_LRS"},"location":{"type":"String","value":"westus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-07-07T08:37:57.3108272Z","duration":"PT31.7249147S","correlationId":"803b3497-29b6-41d0-8cb0-79519d87bfdf","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]}],"dependencies":[],"outputs":{"storageAccountId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if000001/providers/Microsoft.Storage/storageAccounts/storevfes4ziw26jng"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if000001/providers/Microsoft.Storage/storageAccounts/storevfes4ziw26jng"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"storageAccountType\": {\"value\":
      \"Standard_GRS\"}}, \"mode\": \"Incremental\", \"whatIfSettings\": {\"resultFormat\":
      \"FullResourcePayloads\"}, template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n      \"storageAccountType\":
      {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Standard_LRS\",\r\n
      \       \"allowedValues\": [\r\n          \"Standard_LRS\",\r\n          \"Standard_GRS\",\r\n
      \         \"Standard_ZRS\",\r\n          \"Pre[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZXSEFUOjVGSUZIUEpEQ0ZRWFhGTVJ8NEYwNDQwRkJGQThCRkEwMi1TVE9SQUdFOjVGQUNDT1VOVDo1RkRFUExPWS0wOEM5MTJFRjoyRDlBNzg6MkQ0RDRDOjJEOEQxODoyREQ2QzI0MjhEQjk5NSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Succeeded","properties":{"correlationId":"08c912ef-9a78-4d4c-8d18-d6c2428db995","changes":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if000001/providers/Microsoft.Storage/storageAccounts/storevfes4ziw26jng","changeType":"Modify","before":{"apiVersion":"2019-04-01","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if000001/providers/Microsoft.Storage/storageAccounts/storevfes4ziw26jng","kind":"StorageV2","location":"westus","name":"storevfes4ziw26jng","properties":{"accessTier":"Hot","encryption":{"keySource":"Microsoft.Storage"},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow"},"supportsHttpsTrafficOnly":true},"sku":{"name":"Standard_LRS"},"type":"Microsoft.Storage/storageAccounts"},"after":{"apiVersion":"2019-04-01","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if000001/providers/Microsoft.Storage/storageAccounts/storevfes4ziw26jng","kind":"StorageV2","location":"westus","name":"storevfes4ziw26jng","properties":{"accessTier":"Hot","encryption":{"keySource":"Microsoft.Storage"},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow"},"supportsHttpsTrafficOnly":true},"sku":{"name":"Standard_GRS"},"type":"Microsoft.Storage/storageAccounts"},"delta":[{"path":"sku.name","propertyChangeType":"Modify","before":"Standard_LRS","after":"Standard_GRS"}]}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
