interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentScripts?api-version=2020-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 415478cf-aa5c-4f1f-9607-901661d58034
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
      \"mode\": \"Incremental\", template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"scriptName\":
      {\r\n           \"type\": \"string\",\r\n           \"metadata\": {\r\n                \"description\":
      \"Deployment script name\"\r\n            }\r\n        },\r\n        \"utcValue\":
      {\r\n            \"type\": \"string\",\r\n            \"defaultValue\": \"[utcNow()]\"\r\n
      \       }\r\n    },\r\n    \"resources\": [\r\n        {\r\n            \"type\":
      \"Microsoft.Resources/deploymentScripts\",\r\n            \"apiVersion\": \"2020-10-01\",\r\n
      \           \"name\": \"[parameters('scriptName')]\",\r\n            \"location\":
      \"[resourceGroup().location]\",\r\n            \"identity\": {\r\n                \"type\":
      \"UserAssigned\",\r\n                \"userAssignedIdentities\": {\r\n                    \"[concat('/subscriptions/',
      subscription().subscriptionId, '/resourceGroups/python_sdk_test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/python_test_sdk_msi')]\":
      {}\r\n                }\r\n            },\r\n            \"kind\": \"AzureCLI\",\r\n
      \           \"properties\": {\r\n                \"forceUpdateTag\": \"[parameters('utcValue')]\",\r\n
      \               \"containerSettings\": {\r\n                    \"containerGroupName\":
      \"mycustomaci\"\t\r\n                },\r\n                \"AzCliVersion\":
      \"2.0.80\",\r\n                \"timeout\": \"PT30M\",\r\n                \"arguments\":
      \"'foo' 'bar'\",\r\n                \"scriptContent\": \"echo 'foo'\",\r\n                \"cleanupPreference\":
      \"OnExpiration\",\r\n                \"retentionInterval\": \"P1D\"\r\n            }\r\n
      \       }\r\n    ],\r\n    \"outputs\": {}\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"16450283315287136725","parameters":{"scriptName":{"type":"String","value":"script000002"},"utcValue":{"type":"String","value":"20250222T065656Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-02-22T06:56:57.6196477Z","duration":"-P739303DT6H56M57.6196477S","correlationId":"80351b6f-6caa-4fe1-ab86-88a0370f4d95","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["brazilsouth"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
      \"mode\": \"Incremental\", template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"scriptName\":
      {\r\n           \"type\": \"string\",\r\n           \"metadata\": {\r\n                \"description\":
      \"Deployment script name\"\r\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584613994662753167?api-version=2022-09-01&t=638758042221040373&c=MIIHhjCCBm6gAwIBAgITfAaX0D2c-iM1n_047QAABpfQPTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcN[...]
[...]
