interactions:
- request:
    body: '{"properties": {"displayName": "test_policy000003", "mode": "Indexed",
      "parameters": {"allowedLocations": {"allowedValues": [null, [], ["australiaeast",
      "eastus", "japaneast", "westus"], ["eastus"]], "metadata": {"description": "The
      list of locations that can be specified when deploying resources", "strongType":
      "location", "displayName": "Allowed locations"}, "type": "Array"}}, "policyRule":
      {"if": {"not": {"field": "location", "in": "[parameters(''allowedLocations'')]"}},
      "then": {"effect": "deny"}}, "version": "1.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/cli-test-pdv000002?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_policy000003","policyType":"Custom","mode":"Indexed","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-22T22:53:13.5523073Z","updatedBy":null,"updatedOn":null},"version":"1.0.0","parameters":{"allowedLocations":{"type":"Array","metadata":{"description":"The
        list of locations that can be specified when deploying resources","strongType":"location","displayName":"Allowed
        locations"},"allowedValues":[null,[],["australiaeast","eastus","japaneast","westus"],["eastus"]]}},"policyRule":{"if":{"not":{"field":"location","in":"[parameters(''allowedLocations'')]"}},"then":{"effect":"deny"}},"versions":["1.0.0"]},"id":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/cli-test-pdv000002","type":"Microsoft.Authorization/policyDefinitions","name":"cli-test-pdv000002","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-22T22:53:13.5192924Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-22T22:53:13.5192924Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"description": "v1.1.0 description", "displayName": "test_policy000003",
      "metadata": {"category": "test"}, "mode": "Indexed", "parameters": {"allowedLocations":
      {"allowedValues": [null, [], ["australiaeast", "eastus", "japaneast", "westus"],
      ["eastus"]], "metadata": {"description": "The list of locations that can be
      specified when deploying resources", "strongType": "location", "displayName":
      "Allowed locations"}, "type": "Array"}}, "policyRule": {"if": {"not": {"field":
      "location", "in": "[parameters(''allowedLocations'')]"}}, "then": {"effect":
      "deny"}}[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/cli-test-pdv000002/versions?api-version=2025-11-01
  response:
    body:
      string: '{"value":[{"properties":{"displayName":"test_policy000003","policyType":"Custom","mode":"Indexed","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-22T22:53:14.7986082Z","updatedBy":null,"updatedOn":null},"version":"2.0.0","parameters":{"allowedLocations":{"type":"Array","metadata":{"description":"The
        list of locations that can be specified when deploying resources","strongType":"location","displayName":"Allowed
        locations"},"allowedValues":[null,[],["aust[...]
- request:
    body: '{"properties": {"displayName": "test_policy000003", "mode": "Indexed",
      "version": "9.9.9"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/cli-test-pdv000002/versions/9.9.9?api-version=2025-11-01
  response:
    body:
      string: '{"error":{"code":"InvalidRequestContent","message":"The request content
        was invalid and could not be deserialized: ''Required property ''policyRule''
        not found in JSON. Path ''properties'', line 1, position 93.''."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-tenant-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"properties": {"definitionVersion": "1.*", "displayName": "test_assignment000005",
      "enforcementMode": "Default", "parameters": {"allowedLocations": {"value": ["australiaeast",
      "eastus", "japaneast", "westus"]}}, "policyDefinitionId": "/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/cli-test-pdv000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000004?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment000005","policyDefinitionId":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/cli-test-pdv000002","definitionVersion":"1.*","scope":"/providers/Microsoft.Management/managementGroups/PowershellTesting","parameters":{"allowedLocations":{"value":["australiaeast","eastus","japaneast","westus"]}},"metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-22T22:53:21.1288794Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","instanceId":"174d2fb4-e76e-41e5-940d-7145c7cc8f9a"},"id":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000004","type":"Microsoft.Authorization/policyAssignments","name":"cli-test-polassg000004","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-22T22:53:21.089989Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-22T22:53:21.089989Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000004?$expand=effectiveDefinitionVersion&api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment000005","policyDefinitionId":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/cli-test-pdv000002","definitionVersion":"1.*","effectiveDefinitionVersion":"1.1.0","scope":"/providers/Microsoft.Management/managementGroups/PowershellTesting","parameters":{"allowedLocations":{"value":["australiaeast","eastus","japaneast","westus"]}},"metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-22T22:53:21.1288794Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","instanceId":"174d2fb4-e76e-41e5-940d-7145c7cc8f9a"},"id":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000004","type":"Microsoft.Authorization/policyAssignments","name":"cli-test-polassg000004","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-22T22:53:21.089989Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-22T22:53:21.089989Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000004?$expand=latestDefinitionVersion&api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment000005","policyDefinitionId":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/cli-test-pdv000002","definitionVersion":"1.*","latestDefinitionVersion":"2.0.0","scope":"/providers/Microsoft.Management/managementGroups/PowershellTesting","parameters":{"allowedLocations":{"value":["australiaeast","eastus","japaneast","westus"]}},"metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-22T22:53:21.1288794Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","instanceId":"174d2fb4-e76e-41e5-940d-7145c7cc8f9a"},"id":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000004","type":"Microsoft.Authorization/policyAssignments","name":"cli-test-polassg000004","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-22T22:53:21.089989Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-22T22:53:21.089989Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000004?$expand=effectiveDefinitionVersion%2ClatestDefinitionVersion&api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment000005","policyDefinitionId":"/providers/Microsoft.Management/managementGroups/PowershellTesting/pro[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000004?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment000005","policyDefinitionId":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/cli-test-pdv000002","definitionVersion":"1.*","scope":"/providers/Microsoft.Management/managementGroups/PowershellTesting","parameters":{"allowedLocations":{"value":["australiaeast","eastus","japaneast","westus"]}},"metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-22T22:53:21.1288794Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","instanceId":"174d2fb4-e76e-41e5-940d-7145c7cc8f9a"},"id":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000004","type":"Microsoft.Authorization/policyAssignments","name":"cli-test-polassg000004","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-22T22:53:21.089989Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-22T22:53:21.089989Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-deletes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/cli-test-pdv000002?api-version=2025-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 204
      message: No Content
version: 1
