interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-get-deployment-stack-subscription000001?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource ''cli-test-get-deployment-stack-subscription000001''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach", "managementGroups": "detach"},
      "bypassStackOutOfSyncError": false, "denySettings": {"mode": "none", "applyToChildScopes":
      false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-get-deployment-stack-subscription000001?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"\
        properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"\
        detach\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\"\
        : \"detach\"\r\n    },\r\n    \"denySettings\": {\r\n      \"mode\": \"none\"\
        ,\r\n      \"applyToChildScopes\": false\r\n    },\r\n    \"parameters\":\
        \ {\r\n      \"foo\": {\r\n        \"value\": \"abc\",\r\n        \"type\"\
        : \"string\"\r\n      },\r\n      \"bar\": {\r\n        \"value\": \"xyz\"\
        ,\r\n        \"type\": \"string\"\r\n      }\r\n    },\r\n    \"resources\"\
        : [],\r\n    \"provisioningState\": \"initializing\",\r\n    \"detachedResources\"\
        : [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\": [],\r\n\
        \    \"correlationId\": \"927bf95a-5119-461b-ba41-1a2462790a5d\"\r\n  },\r\
        \n  \"systemData\": {\r\n    \"createdBy\": \"kylealbert@microsoft.com\",\r\
        \n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-05-06T18:12:35.2610999Z\"\
        ,\r\n    \"lastModifiedBy\": \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2024-05-06T18:12:35.2610999Z\"\r\n\
        \  },\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-get-deployment-stack-subscription000001\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\":\
        \ \"cli-test-get-deployment-stack-subscription000001\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/d7f86276-7667-4454-a49d-10681f5c96cb?api-version=2024-03-01&t=638506159556829744&c=MIIHKjCCBhKgAwIBAgITHgRy5Oci-xrmzRVcTAAABHLk5zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNDMwMTgzMjQzWhcNMjUwNDI1MTgzMjQzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmNvbTCCASIwDQYJKoZIhvcNA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/d7f86276-7667-4454-a49d-10681f5c96cb?api-version=2024-03-01&t=638506159556829744&c=MIIHKjCCBhKgAwIBAgITHgRy5Oci-xrmzRVcTAAABHLk5zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNDMwMTgzMjQzWhcNMjUwNDI1MTgzMjQzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-get-deployment-stack-subscription000001?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"\
        properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"\
        detach\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\"\
        : \"detach\"\r\n    },\r\n    \"deploymentId\": \"/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deployments/cli-test-get-deployment-stack-subscription6f5kfoxc-240506183onyd\"\
        ,\r\n    \"duration\": \"PT5.5871455S\",\r\n    \"denySettings\": {\r\n  \
        \    \"mode\": \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\
        \n    \"outputs\": {\r\n      \"foo\": {\r\n        \"type\": \"String\",\r\
        \n        \"value\": \"abc\"\r\n      },\r\n      \"bar\": {\r\n        \"\
        type\": \"String\",\r\n        \"value\": \"xyz\"\r\n      }\r\n    },\r\n\
        \    \"parameters\": {\r\n      \"foo\": {\r\n        \"value\": \"abc\",\r\
        \n        \"type\": \"string\"\r\n      },\r\n      \"bar\": {\r\n       \
        \ \"value\": \"xyz\",\r\n        \"type\": \"string\"\r\n      }\r\n    },\r\
        \n    \"resources\": [],\r\n    \"provisioningState\": \"succeeded\",\r\n\
        \    \"detachedResources\": [],\r\n    \"deletedResources\": [],\r\n    \"\
        failedResources\": [],\r\n    \"correlationId\": \"927bf95a-5119-461b-ba41-1a2462790a5d\"\
        \r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"kylealbert@microsoft.com\"\
        ,\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-05-06T18:12:35.2610999Z\"\
        ,\r\n    \"lastModifiedBy\": \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2024-05-06T18:12:35.2610999Z\"\r\n\
        \  },\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-get-deployment-stack-subscription000001\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\":\
        \ \"cli-test-get-deployment-stack-subscription000001\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-get-deployment-stack-subscription000001/exportTemplate?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"template\": {\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\"\
        ,\r\n    \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n   \
        \   \"foo\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\"\
        : \"foo\",\r\n        \"metadata\": {\r\n          \"description\": \"description\"\
        \r\n        }\r\n      },\r\n      \"bar\": {\r\n        \"type\": \"string\"\
        ,\r\n        \"defaultValue\": \"bar\",\r\n        \"metadata\": {\r\n   \
        \       \"description\": \"description\"\r\n        }\r\n      }\r\n    },\r\
        \n    \"functions\": [],\r\n    \"variables\": {},\r\n    \"resources\": [],\r\
        \n    \"outputs\": {\r\n      \"foo\": {\r\n        \"type\": \"string\",\r\
        \n        \"value\": \"[parameters('foo')]\"\r\n      },\r\n      \"bar\"\
        : {\r\n        \"type\": \"string\",\r\n        \"value\": \"[parameters('bar')]\"\
        \r\n      }\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-get-deployment-stack-subscription000001?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&unmanageAction.ManagementGroups=detach&api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
