interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1''
        under resource group ''cli_test_deployment_stacks000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec000003''
        under resource group ''cli_test_deployment_stacks000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westcentralus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"\
        properties\": {},\r\n  \"systemData\": {\r\n    \"createdBy\": \"kylealbert@microsoft.com\"\
        ,\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-05-06T15:02:37.2260808Z\"\
        ,\r\n    \"lastModifiedBy\": \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2024-05-06T15:02:37.2260808Z\"\r\n\
        \  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003\"\
        ,\r\n  \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"\
        cli-test-template-spec000003\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"linkedTemplates":
      [], "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2024-03-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource ''cli-test-create-deployment-stack-subscription000002''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"templateLink":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1"},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach", "managementGroups": "detach"},
      "bypassStackOutOfSyncError": false, "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000",
      "description": "MG stack deployment", "denySettings": {"mode": "none", "applyToChildScopes":
      false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"\
        properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"\
        detach\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\"\
        : \"detach\"\r\n    },\r\n    \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\"\
        ,\r\n    \"description\": \"MG stack deployment\",\r\n    \"denySettings\"\
        : {\r\n      \"mode\": \"none\",\r\n      \"applyToChildScopes\": false\r\n\
        \    },\r\n    \"parameters\": {\r\n      \"foo\": {},\r\n      \"bar\": {}\r\
        \n    },\r\n    \"templateLink\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1\"\
        \r\n    },\r\n    \"resources\": [],\r\n    \"provisioningState\": \"initializing\"\
        ,\r\n    \"detachedResources\": [],\r\n    \"deletedResources\": [],\r\n \
        \   \"failedResources\": [],\r\n    \"correlationId\": \"685905ab-a547-4f7d-862e-c66e5c9d97f6\"\
        \r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"kylealbert@microsoft.com\"\
        ,\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-05-06T15:02:40.3134279Z\"\
        ,\r\n    \"lastModifiedBy\": \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2024-05-06T15:02:40.3134279Z\"\r\n\
        \  },\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\":\
        \ \"cli-test-create-deployment-stack-subscription000002\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/2ef09a12-c09f-4d42-a1df-04d75f480279?api-version=2024-03-01&t=638506045640165929&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUwNDI3MDk1OTMwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmNvbTCCASIwDQYJKoZIhvcNA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/2ef09a12-c09f-4d42-a1df-04d75f480279?api-version=2024-03-01&t=638506045640165929&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUwNDI3MDk1OTMwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"\
        properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"\
        detach\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\"\
        : \"detach\"\r\n    },\r\n    \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-subscriptionnzbtl-240506150sdd6\"\
        ,\r\n    \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\"\
        ,\r\n    \"description\": \"MG stack deployment\",\r\n    \"duration\": \"\
        PT14.2768763S\",\r\n    \"denySettings\": {\r\n      \"mode\": \"none\",\r\
        \n      \"applyToChildScopes\": false\r\n    },\r\n    \"outputs\": {\r\n\
        \      \"foo\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"\
        abc\"\r\n      },\r\n      \"bar\": {\r\n        \"type\": \"String\",\r\n\
        \        \"value\": \"xyz\"\r\n      }\r\n    },\r\n    \"parameters\": {\r\
        \n      \"foo\": {\r\n        \"value\": \"abc\",\r\n        \"typ[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&unmanageAction.ManagementGroups=detach&api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "delete", "resourceGroups": "delete", "managementGroups": "delete"},
      "bypassStackOutOfSyncError": false, "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000",
      "description": "MG stack deployment", "denySettings": {"mode": "none", "excludedPrincipals":
      ["principal1", "principal2"], "excludedActions": ["action1", "action2"], "applyToChildScopes":
      true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"\
        properties\": {\r\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/52352aeb-550b-454e-88cc-7740cb77a934?api-version=2024-03-01&t=638506045987916300&c=MIIHKjCCBhKgAwIBAgITHgRy5Oci-xrmzRVcTAAABHLk5zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNDMwMTgzMjQzWhcNMjUwNDI1MTgzMjQzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/d15f035d-94d0-4b48-9f2e-a4edcdf9bec4?api-version=2024-03-01&t=638506046326606769&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUwNDI3MDk1OTMwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
[...]
- request:
    body: '{"location": "westcentralus", "tags": {"tag1 tag2": ""}, "properties":
      {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"rgLocation": {"type": "string",
      "defaultValue": "WestUS2"}, "name": {"type": "string"}}, "variables": {}, "resources":
      [{"type": "Microsoft.Resources/resourceGroups", "apiVersion": "2018-05-01",
      "location": "[parameters(''rgLocation'')]", "name": "[parameters(''name'')]"}],
      "outputs": {}}, "parameters": {"name": {"value": "cli-test-resource-one000004"},
      "rgLocation": {"value": "westcentralus"}}, "actionOnUnmanage": {"resources":
      "delete", "resourceGroups": "detach", "managementGroups": "detach"}, "bypassStackOutOfSyncError":
      false, "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000",
      "denySettings": {"mode": "none",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/4fea170c-8c77-4a2e-a33b-03a6e964358f?api-version=2024-03-01&t=638506046672446522&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUwNDI3MDk1OTMwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/c0350d77-75f9-4fc2-a2b6-8a02fa87de00?api-version=2024-03-01&t=638506046998131892&c=MIIHKjCCBhKgAwIBAgITHgRy5Oci-xrmzRVcTAAABHLk5zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNDMwMTgzMjQzWhcNMjUwNDI1MTgzMjQzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-resource-one000004?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-resource-one000004","name":"cli-test-resource-one000004","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-resource-two000005?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-resource-two000005","name":"cli-test-resource-two000005","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/b54e9ad9-eb50-48bb-9efe-b83112ffebf4?api-version=2024-03-01&t=638506047334596993&c=MIIHSDCCBjCgAwIBAgITOgL812J3bsxmlrvPkwAEAvzXYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMDk1OTMwWhcNMjUwNDI3MDk1OTMwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"\
        properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"\
        delete\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\"\
        : \"detach\"\r\n    },\r\n    \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-subscriptionnzbtl-240506151mkl0\"\
        ,\r\n    \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\"\
        ,\r\n    \"duration\": \"PT5.9888929S\",\r\n    \"denySettings\": {\r\n  \
        \    \"mode\": \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\
        \n    \"outputs\": {},\r\n    \"parameters\": {\r\n      \"name\": {\r\n \
        \       \"value\": \"cli-test-resource-three000006\",\r\n        \"type\"\
        : \"string\"\r\n      },\r\n      \"rgLocation\": {\r\n        \"value\":\
        \ \"westcentralus\",\r\n        \"type\": \"string\"\r\n      }\r\n    },\r\
        \n    \"resources\": [\r\n      {\r\n        \"status\": \"managed\",\r\n\
        \        \"denyStatus\": \"none\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-resource-three000006\"\
        \r\n      }\r\n    ],\r\n    \"provisioningState\": \"succeeded\",\r\n   \
        \ \"detachedResources\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-resource-two000005\"\
        \r\n      }\r\n    ],\r\n    \"deletedResources\": [],\r\n    \"failedResources\"\
        : [],\r\n    \"correlationId\": \"94fc6dc7-c083-426f-a156-62afbfd72685\"\r\
        \n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"kylealbert@microsoft.com\"\
        ,\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-05-06T15:04:26.6508922Z\"\
        ,\r\n    \"lastModifiedBy\": \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2024-05-06T15:05:33.1471805Z\"\r\n\
        \  },\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\":\
        \ \"cli-test-create-deployment-stack-subscription000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-resource-three000006?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-resource-three000006","name":"cli-test-resource-three000006","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/kylealbert-dev-wcus?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/kylealbert-dev-wcus","name":"kylealbert-dev-wcus","type":"Microsoft.Resources/resourceGroups","location":"westcentralus","tags":{},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27kylealbert-dev-wcus%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceGroup+eq+%27kylealbert-dev-wcus%27&%24expand=createdTime%2cchangedTime%2cprovisioningState&api-version=2022-09-01&%24skiptoken=rZBPa4MwGIe%2fS84eousuhR3KbJzFJMjSZslNWqm%2baS3UiH%2fKvvviEEahXsquv8PzPu9zQ1Xe2aSsTI2WN9SY%2btLYAi1R3m8a%2fVVgIUmfBbs%2bhkupYfXKwq2vQ2VVoAb9iTE9kzKRa5%2bKveVSBVwcWypUR2HVxRV%2bQx7Ks9o2dTADVbBveahBy7Vlw87wd4yZJJCI4sSEsfTMgIkNKLleUEHgDjrD1IIVOko7NqSWgTbKiaog9RNhWgbjRowSx56Fh4KH5mViZk1tr9mpzEbjOXRESgqbM42o090O2ulq2ONk%2fDuKnS4BFqUtl04hTBe%2f6G%2fvLzOvPi6ng4s9jTS7mvzqrk3tl%2f9V3pu6PwQ%2bU30CPuQ9U9y76%2f0Y%2b1TtHw%3d%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27kylealbert-dev-wcus%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2022-09-01&$skiptoken=rZBPa4MwGIe/S84eousuhR3KbJzFJMjSZslNWqm%2BaS3UiH/KvvviEEahXsquv8PzPu9zQ1Xe2aSsTI2WN9SY%2BtLYAi1R3m8a/VVgIUmfBbs%2BhkupYfXKwq2vQ2VVoAb9iTE9kzKRa5%2BKveVSBVwcWypUR2HVxRV%2BQx7Ks9o2dTADVbBveahBy7Vlw87wd4yZJJCI4sSEsfTMgIkNKLleUEHgDjrD1IIVOko7NqSWgTbKiaog9RNhWgbjRowSx56Fh4KH5mViZk1tr9mpzEbjOXRESgqbM42o090O2ulq2ONk/DuKnS4BFqUtl04hTBe/6G/vLzOvPi6ng4s9jTS7mvzqrk3tl/9V3pu6PwQ%2BU30CPuQ9U9y76/0Y%2B1TtHw%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&unmanageAction.ManagementGroups=detach&api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
