interactions:
- request:
    body: '{"accountEnabled": true, "displayName": "tester123", "passwordProfile":
      {"password": "Test123456789", "forceChangePasswordNextLogin": false}, "userPrincipalName":
      "testuser000002@detienne001gmail.onmicrosoft.com", "mailNickname": "testuser000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"66f965c5-fefc-4aed-af8e-01c00ac05a5f","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"tester123","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"testuser000002","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2020-12-16T23:33:31.8228668Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/66f965c5-fefc-4aed-af8e-01c00ac05a5f/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"testuser000002@detienne001gmail.onmicrosoft.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2371912'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/66f965c5-fefc-4aed-af8e-01c00ac05a5f/Microsoft.DirectoryServices.User
      ocp-aad-diagnostics-server-name:
      - psE1e0eMCRsW8VuLfPbL8q2rg/AoaKNYa0VRdRKfMjg=
      ocp-aad-session-key:
      - _f3wEMBsiQfU_d1LMgBT4pWhtkPtN2CgGhgtrclC0C6SEg7nQZEJFPgf3C6snA8Y1ZyYbKTZkNkjna3_y3w4nyDubVh7p3SOpUA_Ajz_oT7wPc4ZuMJDyCCqPgNJspQT1yR29ioFFaDePzQGWz0Kqa0l-nES10nnrzXWDO6zhqw.lDqNrNANVVXVVln832AT30t5UIccUziJS4Ya-Dsgd84
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Grants
        full access to manage all resources, but does not allow you to assign roles
        in Azure RBAC, manage assignments in Azure Blueprints, or share image galleries.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete","Microsoft.Compute/galleries/share/action"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2020-12-04T00:34:54.8501087Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27testuser000002%40detienne001gmail.onmicrosoft.com%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"66f965c5-fefc-4aed-af8e-0[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "66f965c5-fefc-4aed-af8e-01c00ac05a5f"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"66f965c5-fefc-4aed-af8e-01c00ac05a5f","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","condition":null,"conditionVersion":null,"createdOn":"2020-12-16T23:33:48.1815387Z","updatedOn":"2020-12-16T23:33:48.1815387Z","createdBy":null,"updatedBy":"5310aa29-9a44-4cbc-adb3-6347a539537e","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus", "properties": {"lockLevel": "None", "displayName":
      "test_appdef000004", "authorizations": [{"principalId": "66f965c5-fefc-4aed-af8e-01c00ac05a5f",
      "roleDefinitionId": "b24988ac-6180-42a0-ab88-20f7382dd24c"}], "description":
      "test_appdef_123", "mainTemplate": "{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n  \"contentVersion\":
      \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"adminUsername\": {\r\n      \"type\":
      \"string\",\r\n      \"metadata\": {\r\n        \"description\": \"User name
      for the Virtual Machine.\"\r\n      }\r\n    },\r\n    \"adminPassword\": {\r\n      \"type\":
      \"securestring\",\r\n      \"metadata\": {\r\n        \"description\": \"Password
      for the Virtual Machine.\"\r\n      }\r\n    },\r\n    \"dnsLabelPrefix\": {\r\n      \"type\":
      \"string\",\r\n      \"metadata\": {\r\n        \"description\": \"Unique DNS
      Name for the Public IP used to access the Virtual Machine.\"\r\n      }\r\n    },\r\n    \"ubuntuOSVersion\":
      {\r\n      \"type\": \"string\",\r\n      \"defaultValue\": \"16.04.0-LTS\",\r\n      \"allowedValues\":
      [\r\n        \"12.04.5-LTS\",\r\n        \"14.04.5-LTS\",\r\n        \"15.10\",\r\n        \"16.04.0-LTS\"\r\n      ],\r\n      \"metadata\":
      {\r\n        \"description\": \"The Ubuntu version for the VM. This will pick
      a fully patched image of this given Ubuntu version.\"\r\n      }\r\n    }\r\n  },\r\n  \"variables\":
      {\r\n    \"storageAccountName\": \"[concat(uniquestring(resourceGroup().id),
      ''salinuxvm'')]\",\r\n    \"imagePublisher\": \"Canonical\",\r\n    \"imageOffer\":
      \"UbuntuServer\",\r\n    \"nicName\": \"myVMNic\",\r\n    \"addressPrefix\":
      \"10.0.0.0/16\",\r\n    \"subnetName\": \"Subnet\",\r\n    \"subnetPrefix\":
      \"10.0.0.0/24\",\r\n    \"storageAccountType\": \"Standard_LRS\",\r\n    \"publicIPAddressName\":
      \"myPublicIP\",\r\n    \"publicIPAddressType\": \"Dynamic\",\r\n    \"vmName\":
      \"MyUbuntuVM\",\r\n    \"vmSize\": \"Standard_A1\",\r\n    \"virtualNetworkName\":
      \"MyVNET\",\r\n    \"vnetID\": \"[resourceId(''Microsoft.Network/virtualNetworks'',variables(''virtualNetworkName''))]\",\r\n    \"subnetRef\":
      \"[concat(variables(''vnetID''),''/subnets/'',variables(''subnetName''))]\"\r\n  },\r\n  \"resources\":
      [\r\n    {\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"name\":
      \"[variables(''storageAccountName'')]\",\r\n      \"apiVersion\": \"2017-06-01\",\r\n      \"location\":
      \"westus\",\r\n      \"sku\": {\r\n        \"name\": \"[variables(''storageAccountType'')]\"\r\n      },\r\n      \"kind\":
      \"Storage\",\r\n      \"properties\": {}\r\n    },\r\n    {\r\n      \"apiVersion\":
      \"2017-04-01\",\r\n      \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n      \"name\":
      \"[variables(''publicIPAddressName'')]\",\r\n      \"location\": \"westus\",\r\n      \"properties\":
      {\r\n        \"publicIPAllocationMethod\": \"[variables(''publicIPAddressType'')]\",\r\n        \"dnsSettings\":
      {\r\n          \"domainNameLabel\": \"[parameters(''dnsLabelPrefix'')]\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"apiVersion\":
      \"2017-04-01\",\r\n      \"type\": \"Microsoft.Network/virtualNetworks\",\r\n      \"name\":
      \"[variables(''virtualNetworkName'')]\",\r\n      \"location\": \"westus\",\r\n      \"properties\":
      {\r\n        \"addressSpace\": {\r\n          \"addressPrefixes\": [\r\n            \"[variables(''addressPrefix'')]\"\r\n          ]\r\n        },\r\n        \"subnets\":
      [\r\n          {\r\n            \"name\": \"[variables(''subnetName'')]\",\r\n            \"properties\":
      {\r\n              \"addressPrefix\": \"[variables(''subnetPrefix'')]\"\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"apiVersion\":
      \"2017-04-01\",\r\n      \"type\": \"Microsoft.Network/networkInterfaces\",\r\n      \"name\":
      \"[variables(''nicName'')]\",\r\n      \"location\": \"westus\",\r\n      \"dependsOn\":
      [\r\n        \"[resourceId(''Microsoft.Network/publicIPAddresses/'', variables(''publicIPAddressName''))]\",\r\n        \"[resourceId(''Microsoft.Network/virtualNetworks/'',
      variables(''virtualNetworkName''))]\"\r\n      ],\r\n      \"properties\": {\r\n        \"ipConfigurations\":
      [\r\n          {\r\n            \"name\": \"ipconfig1\",\r\n            \"properties\":
      {\r\n              \"privateIPAllocationMethod\": \"Dynamic\",\r\n              \"publicIPAddress\":
      {\r\n                \"id\": \"[resourceId(''Microsoft.Network/publicIPAddresses'',variables(''publicIPAddressName''))]\"\r\n              },\r\n              \"subnet\":
      {\r\n                \"id\": \"[variables(''subnetRef'')]\"\r\n              }\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"apiVersion\":
      \"2017-03-30\",\r\n      \"type\": \"Microsoft.Compute/virtualMachines\",\r\n      \"name\":
      \"[variables(''vmName'')]\",\r\n      \"location\": \"westus\",\r\n      \"dependsOn\":
      [\r\n        \"[resourceId(''Microsoft.Storage/storageAccounts/'', variables(''storageAccountName''))]\",\r\n        \"[resourceId(''Microsoft.Network/networkInterfaces/'',
      variables(''nicName''))]\"\r\n      ],\r\n      \"properties\": {\r\n        \"hardwareProfile\":
      {\r\n          \"vmSize\": \"[variables(''vmSize'')]\"\r\n        },\r\n        \"osProfile\":
      {\r\n          \"computerName\": \"[variables(''vmName'')]\",\r\n          \"adminUsername\":
      \"[parameters(''adminUsername'')]\",\r\n          \"adminPassword\": \"[parameters(''adminPassword'')]\"\r\n        },\r\n        \"storageProfile\":
      {\r\n          \"imageReference\": {\r\n            \"publisher\": \"[variables(''imagePublisher'')]\",\r\n            \"offer\":
      \"[variables(''imageOffer'')]\",\r\n            \"sku\": \"[parameters(''ubuntuOSVersion'')]\",\r\n            \"version\":
      \"latest\"\r\n          },\r\n          \"osDisk\": {\r\n            \"createOption\":
      \"FromImage\"\r\n          },\r\n          \"dataDisks\": [\r\n            {\r\n              \"diskSizeGB\":
      \"1023\",\r\n              \"lun\": 0,\r\n              \"createOption\": \"Empty\"\r\n            }\r\n          ]\r\n        },\r\n        \"networkProfile\":
      {\r\n          \"networkInterfaces\": [\r\n            {\r\n              \"id\":
      \"[resourceId(''Microsoft.Network/networkInterfaces'',variables(''nicName''))]\"\r\n            }\r\n          ]\r\n        },\r\n        \"diagnosticsProfile\":
      {\r\n          \"bootDiagnostics\": {\r\n            \"enabled\": \"true\",\r\n            \"storageUri\":
      \"[concat(reference(concat(''Microsoft.Storage/storageAccounts/'', variables(''storageAccountName'')),
      ''2016-01-01'').primaryEndpoints.blob)]\"\r\n          }\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"outputs\":
      {\r\n    \"hostname\": {\r\n      \"type\": \"string\",\r\n      \"value\":
      \"[reference(variables(''publicIPAddressName'')).dnsSettings.fqdn]\"\r\n    },\r\n    \"sshCommand\":
      {\r\n      \"type\": \"string\",\r\n      \"value\": \"[concat(''ssh '', parameters(''adminUsername''),
      ''@'', reference(variables(''publicIPAddressName'')).dnsSettings.fqdn)]\"\r\n    }\r\n  }\r\n}",
      "createUiDefinition": "{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/0.1.2-preview/CreateUIDefinition.MultiVm.json#\",\r\n    \"handler\":
      \"Microsoft.Compute.MultiVm\",\r\n    \"version\": \"0.1.2-preview\",\r\n    \"parameters\":
      {\r\n        \"basics\": [\r\n            {\r\n                \"name\": \"adminUsername\",\r\n                \"type\":
      \"Microsoft.Compute.UserNameTextBox\",\r\n                \"label\": \"Admin
      Username\",\r\n                \"toolTip\": \"Admin user name for the virtual
      machine\",\r\n                \"osPlatform\": \"Linux\"\r\n            },\r\n            {\r\n                \"name\":
      \"adminPassword\",\r\n                \"type\": \"Microsoft.Common.PasswordBox\",\r\n                \"label\":
      {\r\n                    \"password\": \"Admin Password\",\r\n                    \"confirmPassword\":
      \"Confirm password\"\r\n                },\r\n                \"toolTip\": \"Admin
      password for the virtual machine\",\r\n                \"constraints\": {\r\n                    \"required\":
      true,\r\n                    \"regex\": \"^(?:(?=.*[a-z])(?:(?=.*[A-Z])(?=.*[\\\\d\\\\W])|(?=.*\\\\W)(?=.*\\\\d))|(?=.*\\\\W)(?=.*[A-Z])(?=.*\\\\d)).{6,72}$\",\r\n                    \"validationMessage\":
      \"The password must be between 6 and 72 characters long, and contain characters
      from at least 3 of the following groups: uppercase characters, lowercase characters,
      numbers, and special characters.\"\r\n                },\r\n                \"options\":
      {\r\n                    \"hideConfirmation\": false\r\n                }\r\n            }\r\n        ],\r\n        \"steps\":
      [\r\n            {\r\n                \"name\": \"ipConfig\",\r\n                \"label\":
      \"IP Config\",\r\n                \"subLabel\": {\r\n                    \"preValidation\":
      \"Configure the public IP address\",\r\n                    \"postValidation\":
      \"Done\"\r\n                },\r\n                \"bladeTitle\": \"IP Settings\",\r\n                \"elements\":
      [\r\n                    {\r\n                        \"name\": \"ipCombo\",\r\n                        \"type\":
      \"Microsoft.Network.PublicIpAddressCombo\",\r\n                        \"label\":
      {\r\n                            \"publicIpAddress\": \"Public IP address\",\r\n                            \"domainNameLabel\":
      \"Domain name label\"\r\n                        },\r\n                        \"toolTip\":
      {\r\n                            \"publicIpAddress\": \"\",\r\n                            \"domainNameLabel\":
      \"\"\r\n                        },\r\n                        \"defaultValue\":
      {\r\n                            \"publicIpAddressName\": \"myPublicIP\"\r\n                        },\r\n                        \"constraints\":
      {\r\n                            \"required\": {\r\n                                \"domainNameLabel\":
      true\r\n                            }\r\n                        },\r\n                        \"options\":
      {\r\n                            \"hideNone\": true,\r\n                            \"hideDomainNameLabel\":
      false,\r\n                            \"hideExisting\": true\r\n                        },\r\n                        \"visible\":
      true\r\n                    }\r\n                ]\r\n            }\r\n        ],\r\n        \"outputs\":
      {\r\n            \"adminUsername\": \"[basics(''adminUsername'')]\",\r\n            \"adminPassword\":
      \"[basics(''adminPassword'')]\",\r\n            \"dnsLabelPrefix\": \"[steps(''ipConfig'').ipCombo.domainNameLabel]\",\r\n            \"applianceResourceNameForMainTemplate\":
      \"testappname\"\r\n        }\r\n    }\r\n}"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname000003?api-version=2018-06-01
  response:
    body:
      string: '{"properties":{"authorizations":[{"principalId":"66f965c5-fefc-4aed-af8e-01c00ac05a5f","roleDefinitionId":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"isEnabled":true,"lockLevel":"None","displayName":"test_appdef000004","description":"test_appdef_123","artifacts":[{"name":"ApplicationResourceTemplate","type":"Template","uri":"https://prdsapplianceprodbl01.blob.core.windows.net/applicationdefinitions/9CA45_6898ADC85045473DA1BF7012564F43CB_3F3C9E90CAB720AC6A33A622CEB604BDAE54B527314990F83144E1483647140B/c67ed3712ff24da39325d9c3805d898b/applicationResourceTemplate.json"},{"name":"CreateUiDefinition","type":"Custom","uri":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname000003/applicationArtifacts/CreateUiDefinition?api-version=2017-09-01"},{"name":"MainTemplateParameters","type":"Custom","uri":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname000003/applicationArtifacts/MainTemplateParameters?api-version=2017-09-01"}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname000003","name":"testappdefname000003","type":"Microsoft.Solutions/applicationDefinitions","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions?api-version=2018-06-01
  response:
    body:
      string: '{"value":[{"properties":{"authorizations":[{"principalId":"66f965c5-fefc-4aed-af8e-01c00ac05a5f","roleDefinitionId":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"isEnabled":true,"lockLevel":"None","displayName":"tes[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2020-04-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","principalId":"5310aa29-9a44-4c[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/testuser000002%40detienne001gmail.onmicrosoft.com?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '1539540'
      ocp-aad-diagnostics-server-name:
      - N3PCZMXZPtnUmj5BOxqR9Z+ta4LnY9KwGDmMWhv/G1Q=
      ocp-aad-session-key:
      - BVk5irjgDWN-nhUf34yhlyshvq3JGdfE3jJ1aXL_Vh9iqs98X7v6KegbIixZLBOd-34zfpE7HtUU5BzzMVRJ9rRsneWx1cqBi1EexkQ4qtLEcElel2xbI-dsXTakbFS6CFkH-ATIYeNS3KcE6MwsedhG0zzZws32BVylGfTnMvM.nr7uxGPmOP5AL7azVpkA43mYIyv8l_i5hrxaHgZTsLo
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
