interactions:
- request:
    body: '{"properties": {"displayName": "test_policy000003", "mode": "Indexed",
      "parameters": {"allowedLocations": {"allowedValues": [null, [], ["australiaeast",
      "eastus", "japaneast", "westus"], ["eastus"]], "metadata": {"description": "The
      list of locations that can be specified when deploying resources", "strongType":
      "location", "displayName": "Allowed locations"}, "type": "Array"}}, "policyRule":
      {"if": {"not": {"field": "location", "notIn": "[parameters(''allowedLocations'')]"}},
      "then": {"effect": "deny"}}, "version": "2.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/cli-test-policy000002?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_policy000003","policyType":"Custom","mode":"Indexed","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-06-01T17:13:48.6069806Z","updatedBy":null,"updatedOn":null},"version":"2.0.0","parameters":{"allowedLocations":{"type":"Array","metadata":{"description":"The
        list of locations that can be specified when deploying resources","strongType":"location","displayName":"Allowed
        locations"},"allowedValues":[null,[],["australiaeast","eastus","japaneast","westus"],["eastus"]]}},"policyRule":{"if":{"not":{"field":"location","notIn":"[parameters(''allowedLocations'')]"}},"then":{"effect":"deny"}},"versions":["2.0.0"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/cli-test-policy000002","type":"Microsoft.Authorization/policyDefinitions","name":"cli-test-policy000002","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-01T17:13:48.5897375Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-01T17:13:48.5897375Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"displayName": "test_policyset000005", "policyDefinitions":
      [{"definitionVersion": "2.*.*", "parameters": {"allowedLocations": {"value":
      ["eastus"]}}, "policyDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/cli-test-policy000002"}],
      "version": "1.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/cli-test-policyset000004?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_policyset000005","policyType":"Custom","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-06-01T17:13:52.1133277Z","updatedBy":null,"updatedOn":null},"version":"1.0.0","policyDefinitions":[{"policyDefinitionReferenceId":"7250995913528480723","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/cli-test-policy000002","definitionVersion":"2.*.*","parameters":{"allowedLocations":{"value":["eastus"]}}}],"versions":["1.0.0"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/cli-test-policyset000004","type":"Microsoft.Authorization/policySetDefinitions","name":"cli-test-policyset000004","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-01T17:13:51.9761932Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-01T17:13:51.9761932Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"description": "v1.1.0 description", "displayName": "test_policyset000005",
      "metadata": {"category": "test"}, "policyDefinitions": [{"definitionVersion":
      "2.*.*", "parameters": {"allowedLocations": {"value": ["eastus"]}}, "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/cli-test-policy000002"}],
      "version": "1.1.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Au[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/cli-test-policyset000004/versions?api-version=2025-11-01
  response:
    body:
      string: '{"value":[{"properties":{"displayName":"test_policyset000005","policyType":"Custom","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-06-01T17:13:55.6117834Z","updatedBy":null,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/policySetDefinitions/cli-test-policyset000004?api-version=2025-11-01
  response:
    body:
      string: '{"error":{"code":"PolicySetDefinitionNotFound","message":"The policy
        set definition ''cli-test-policyset000004'' could not be found."}}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"definitionVersion": "1.*", "displayName": "test_assignment000007",
      "enforcementMode": "Default", "policyDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/cli-test-policyset000004"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_set_definition_version000001/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000006?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment000007","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/cli-test-policyset000004","definitionVersion":"1.*","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_set_definition_version000001","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-06-01T17:14:12.4053035Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","instanceId":"152fc9cb-f1e7-4c17-812b-9569f92728c9"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_set_definition_version000001/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000006","type":"Microsoft.Authorization/policyAssignments","name":"cli-test-polassg000006","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-01T17:14:12.3633623Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-01T17:14:12.3633623Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_set_definition_version000001/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000006?$expand=effectiveDefinitionVersion&api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment000007","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/cli-test-policyset000004","definitionVersion":"1.*","effectiveDefinitionVersion":"1.1.0","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_set_definition_version000001","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-06-01T17:14:12.4053035Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","instanceId":"152fc9cb-f1e7-4c17-812b-9569f92728c9"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_set_definition_version000001/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000006","type":"Microsoft.Authorization/policyAssignments","name":"cli-test-polassg000006","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-01T17:14:12.3633623Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-01T17:14:12.3633623Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_set_definition_version000001/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000006?$expand=latestDefinitionVersion&api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment000007","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/cli-test-policyset000004","definitionVersion":"1.*","latestDefinitionVersion":"2.0.0","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_set_definition_version000001","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-06-01T17:14:12.4053035Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","instanceId":"152fc9cb-f1e7-4c17-812b-9569f92728c9"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_set_definition_version000001/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000006","type":"Microsoft.Authorization/policyAssignments","name":"cli-test-polassg000006","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-01T17:14:12.3633623Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-01T17:14:12.3633623Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_set_definition_version000001/providers/Microsoft.Authorization/policyAssignments/cli-test-polassg000006?$expand=effectiveDefinitionVersion%2ClatestDefinitionVersion&api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment000007","policyDefinitionId":"/subscriptions/00000000-0[...]
[...]
