interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus2\"},
      \"kind\": {\"value\": \"StorageV2\"}}, \"mode\": \"Incremental\", template:{\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"metadata\": {\n    \"_generator\": {\n
      \     \"name\": \"bicep\",\n      \"version\": \"0.23.1.45101\",\n      \"templateHash\":
      \"3266095511160562444\"\n    }\n  },\n  \"parameters\": {\n    \"location\":
      {\n      \"type\": \"string\"\n    },\n    \"kind\": {\n      \"type\": \"string\"\n
      \   }\n  },\n  \"variables\": {\n    \"storageAccountName\": \"[format('store{0}',
      uniqueString(resourceGroup().id))]\"\n  },\n  \"resources\": [\n    {\n      \"type\":
      \"Microsoft.Storage/storageAccounts\",\n      \"apiVersion\": \"2019-04-01\",\n
      \     \"name\": \"[variables('storageAccountName')]\",\n      \"location\":
      \"[parameters('location')]\",\n      \"sku\": {\n        \"name\": \"Standard_LRS\"\n
      \     },\n      \"kind\": \"[parameters('kind')]\",\n      \"properties\": {}\n
      \   }\n  ]\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_with_bicepparam000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_with_bicepparam000001/providers/Microsoft.Resources/deployments/deployment1","name":"deployment1","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3266095511160562444","parameters":{"location":{"type":"String","value":"westus2"},"kind":{"type":"String","value":"StorageV2"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"be6cd35f-a541-45d7-866c-c094480e2ab3","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus2"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_with_bicepparam000001/providers/Microsoft.Storage/storageAccounts/storemmlbkxrohenew"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus2\"},
      \"kind\": {\"value\": \"StorageV2\"}}, \"mode\": \"Incremental\", \"whatIfSettings\":
      {\"resultFormat\": \"FullResourcePayloads\"}, template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"metadata\": {\n    \"_generator\": {\n
      \     \"name\": \"bicep\",\n      \"version\": \"0.23.1.45101\",\n      \"templateHash\":
      \"3266095511160562444\"\n    }\n  },\n  \"parameters\": {\n    \"location\":
      {\n      \"type\": \"string\"\n    },\n    \"kind\": {\n      \"type\": \"string\"\n
      \   }\n  },\n  \"variables\": {\n    \"storageAccountName\": \"[format('store{0}',
      uniqueString(resourceGroup().id))]\"\n  },\n  \"resources\": [\n    {\n      \"type\":
      \"Microsoft.Storage/storageAccounts\",\n      \"apiVersion\": \"2019-04-01\",\n
      \     \"name\": \"[variables('storageAccountName')]\",\n      \"location\":
      \"[parameters('location')]\",\n      \"sku\": {\n        \"name\": \"Standard_LRS\"\n
      \     },\n      \"kind\": \"[parameters('kind')]\",\n      \"properties\": {}\n
      \   }\n  ]\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_with_bicepparam000001/providers/Microsoft.Resources/deployments/mock-deployment/whatIf?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZXSVRIOjVGQklDRVBQQVJBTUFNS0l8MzlFNjU2NUY0NkE2NTk1Ni1ERVBMT1lNRU5UMS03MkM0NjAzNDoyREZDQjA6MkQ0NDlBOjJEOEY2MzoyREFDNUQ1RjdEMEY2NCIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2022-09-01&t=638360710029484931&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZXSVRIOjVGQklDRVBQQVJBTUFNS0l8MzlFNjU2NUY0NkE2NTk1Ni1ERVBMT1lNRU5UMS03MkM0NjAzNDoyREZDQjA6MkQ0NDlBOjJEOEY2MzoyREFDNUQ1RjdEMEY2NCIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2022-09-01&t=638360710029484931&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZXSVRIOjVGQklDRVBQQVJBTUFNS0l8MzlFNjU2NUY0NkE2NTk1Ni1ERVBMT1lNRU5UMS03MkM0NjAzNDoyREZDQjA6MkQ0NDlBOjJEOEY2MzoyREFDNUQ1RjdEMEY2NCIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2022-09-01&t=638360710033860530&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9[...]
[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"westus2\"},
      \"kind\": {\"value\": \"StorageV2\"}}, \"mode\": \"Incremental\", template:{\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"metadata\": {\n    \"_generator\": {\n
      \     \"name\": \"bicep\",\n      \"version\": \"0.23.1.45101\",\n      \"templateHash\":
      \"3266095511160562444\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_with_bicepparam000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585011326563149066?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_with_bicepparam000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_with_bicepparam000001/providers/Microsoft.Resources/deployments/deployment1","name":"deployment1","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3266095511160562444","parameters":{"location":{"type":"String","value":"westus2"},"kind":{"type":"String","value":"StorageV2"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2023-11-20T09:57:40.8201127Z","duration":"PT31.0930528S","correlationId":"34905ef3-2e80-4ba1-806e-55039c5232d3","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus2"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_with_bicepparam000001/providers/Microsoft.Storage/storageAccounts/storemmlbkxrohenew"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
