interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002/versions/1.0?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002/versions/1.0''
        under resource group ''cli_test_deployment_what_if_template_specs000001''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002''
        under resource group ''cli_test_deployment_what_if_template_specs000001''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"v-kaisun@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2021-07-07T08:40:07.8210444Z\",\r\n    \"lastModifiedBy\":
        \"v-kaisun@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\":
        \"2021-07-07T08:40:07.8210444Z\"\r\n  },\r\n  \"properties\": {},\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-deploy-what-if-rg-deploy000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"linkedTemplates": [],
      "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"storageAccountType": {"type": "string",
      "defaultValue": "Standard_LRS", "allowedValues": ["Standard_LRS", "Standard_GRS",
      "Standard_ZRS", "Premium_LRS"], "metadata": {"description": "Storage Account
      type"}}, "location": {"type": "string", "defaultValue": "[resourceGroup().location]",
      "metadata": {"description": "Location for all resources."}}}, "variables": {"storageAccountName":
      "[concat(''store'', uniquestring(resourceGroup().id))]"}, "resources": [{"type":
      "Microsoft.Storage/storageAccounts", "apiVersion": "2019-04-01", "name": "[variables(''storageAccountName'')]",
      "location": "[parameters(''location'')]", "sku": {"name": "[parameters(''storageAccountType'')]"},
      "kind": "StorageV2", "properties": {}}], "outputs": {"storageAccountId": {"type":
      "string", "value": "[resourceId(''Microsoft.Storage/storageAccounts'', variables(''storageAccountName''))]"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002/versions/1.0?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\":[...]
[...]
- request:
    body: '{"properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002/versions/1.0"},
      "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/deployments/1","name":"1","type":"Microsoft.Resources/deployments","properties":{"templateLink":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002/versions/1.0","contentVersion":"1.0.0.0"},"templateHash":"17777275051920256744","parameters":{"storageAccountType":{"type":"String","value":"Standard_LRS"},"location":{"type":"String","value":"westus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-07-07T08:40:16.1955319Z","duration":"PT0S","correlationId":"ef17afdd-8615-470c-8509-4d91f6010bcd","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Storage/storageAccounts/storee7q6tzwuwtwc6"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002/versions/1.0"},
      "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585759596667057725?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002/versions/1.0"},
      "parameters": {"storageAccountType": {"value": "Standard_GRS"}}, "mode": "Incremental",
      "whatIfSettings": {"resultFormat": "FullResourcePayloads"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/deployments/mock-deployment/whatIf?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZXSEFUOjVGSUY6NUZURU1QTEFURTp8MUNCRTM0QUZDNTI0NTk0OS0xLTdBNzZCRjA4OjJEOEQzRDoyRDRFRDk6MkQ4Qjk3OjJEODdDQUUzRThFRTk1Iiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZXSEFUOjVGSUY6NUZURU1QTEFURTp8MUNCRTM0QUZDNTI0NTk0OS0xLTdBNzZCRjA4OjJEOEQzRDoyRDRFRDk6MkQ4Qjk3OjJEODdDQUUzRThFRTk1Iiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Succeeded","properties":{"correlationId":"7a76bf08-8d3d-4ed9-8b97-87cae3e8ee95","changes":[{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002","changeType":"Ignore","before":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002","location":"westus","name":"cli-test-deploy-what-if-rg-deploy000002","type":"Microsoft.Resources/templateSpecs"},"after":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-deploy-what-if-rg-deploy000002","location":"westus","name":"cli-test-deploy-what-if-rg-deploy000002","type":"Microsoft.Resources/templateSpecs"}},{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli[...]
