interactions:
- request:
    body: '{"properties": {"description": "desc_for_test_policy_123", "displayName":
      "clitest000003", "mode": "Indexed", "parameters": {"allowedLocations": {"allowedValues":
      [null, [], ["australiaeast", "eastus", "japaneast", "westus"], ["eastus"]],
      "metadata": {"description": "The list of locations that can be specified when
      deploying resources", "strongType": "location", "displayName": "Allowed locations"},
      "type": "Array"}}, "policyRule": {"if": {"not": {"field": "location", "in":
      "[parameters(''allowedLocations'')]"}}, "then": {"effect": "deny"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/clitest000002?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"clitest000003","policyType":"Custom","mode":"Indexed","description":"desc_for_test_policy_123","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-20T22:42:38.4291672Z","updatedBy":null,"updatedOn":null},"version":"1.0.0","parameters":{"allowedLocations":{"type":"Array","metadata":{"description":"The
        list of locations that can be specified when deploying resources","strongType":"location","displayName":"Allowed
        locations"},"allowedValues":[null,[],["australiaeast","eastus","japaneast","westus"],["eastus"]]}},"policyRule":{"if":{"not":{"field":"location","in":"[parameters(''allowedLocations'')]"}},"then":{"effect":"deny"}},"versions":["1.0.0"]},"id":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/clitest000002","type":"Microsoft.Authorization/policyDefinitions","name":"clitest000002","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-20T22:42:38.4255465Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-20T22:42:38.4255465Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"description": "desc_for_clitest_data_policy_123", "displayName":
      "clitest_dp000005", "mode": "Microsoft.KeyVault.Data", "policyRule": {"if":
      {"field": "Microsoft.KeyVault.Data/vaults/certificates/issuer.commonName", "equals":
      "foo"}, "then": {"effect": "Audit"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/clitest-dp000004?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"clitest_dp000005","policyType":"Custom","mode":"Microsoft.KeyVault.Data","description":"desc_for_clitest_data_policy_123","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-20T22:42:39.95182Z","updatedBy":null,"updatedOn":null},"version":"1.0.0","policyRule":{"if":{"field":"Microsoft.KeyVault.Data/vaults/certificates/issuer.commonName","equals":"foo"},"then":{"effect":"Audit"}},"versions":["1.0.0"]},"id":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/clitest-dp000004","type":"Microsoft.Authorization/policyDefinitions","name":"clitest-dp000004","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-20T22:42:39.8814741Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-20T22:42:39.8814741Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"displayName": "clitest000007", "policyDefinitions": [{"parameters":
      {"allowedLocations": {"value": ["australiaeast", "eastus", "japaneast", "westus"]}},
      "policyDefinitionId": "/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/clitest000002"},
      {"policyDefinitionId": "/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/clitest-dp000004"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policySetDefinitions/clitest000006?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"clitest000007","policyType":"Custom","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-20T22:42:41.409646Z","updatedBy":null,"updatedOn":null},"version":"1.0.0","policyDefinitions":[{"policyDefinitionReferenceId":"6311789802571998981","policyDefinitionId":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/clitest000002","definitionVersion":"1.*.*","parameters":{"allowedLocations":{"value":["australiaeast","eastus","japaneast","westus"]}}},{"policyDefinitionReferenceId":"7746312106522790133","policyDefinitionId":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/clitest-dp000004","definitionVersion":"1.*.*"}],"versions":["1.0.0"]},"id":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policySetDefinitions/clitest000006","type":"Microsoft.Authorization/policySetDefinitions","name":"clitest000006","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-20T22:42:41.3546836Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-20T22:42:41.3546836Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"displayName": "clitest000009", "enforcementMode": "Default",
      "policyDefinitionId": "/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policySetDefinitions/clitest000006"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/clitest000008?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"clitest000009","policyDefinitionId":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policySetDefinitions/clitest000006","definitionVersion":"1.*.*","scope":"/providers/Microsoft.Management/managementGroups/PowershellTesting","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-20T22:42:44.0284581Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","instanceId":"f31e3144-a73d-4e91-a8d9-3c30a3f3b6f9"},"id":"/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/clitest000008","type":"Microsoft.Authorization/policyAssignments","name":"clitest000008","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-20T22:42:43.9918678Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-20T22:42:43.9918678Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"assignmentScopeValidation": "Default", "description":
      "desc_for_clitest_policyexemption_123", "displayName": "clitest000011", "exemptionCategory":
      "Waiver", "metadata": {"category": "test"}, "policyAssignmentId": "/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyAssignments/clitest000008"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyExemptions/clitest000010?api-version=2026-01-01-preview
  response:
    body:
      string: '{"error":{"code":"InvalidResourceType","message":"The resource type
        ''policyExemptions'' could not be found in the namespace ''Microsoft.Authorization''
        for api version ''2026-01-01-preview''. The supported api-versions are ''2020-07-01-preview,2022-07-01-preview,2024-12-01-preview,2025-12-01-preview''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
      x-ms-ratelimit-remaining-tenant-writes:
      - '799'
    status:
      code: 404
      message: Not Found
version: 1
