interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs_tenant_deploy000001/providers/Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002/versions/1.0?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002/versions/1.0''
        under resource group ''cli_test_template_specs_tenant_deploy000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs_tenant_deploy000001/providers/Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002''
        under resource group ''cli_test_template_specs_tenant_deploy000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs_tenant_deploy000001/providers/Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"shenglol@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2021-06-14T10:29:24.3686001Z\",\r\n    \"lastModifiedBy\":
        \"shenglol@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\":
        \"2021-06-14T10:29:24.3686001Z\"\r\n  },\r\n  \"properties\": {},\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs_tenant_deploy000001/providers/Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-sub-lvl-ts-deploy000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"linkedTemplates": [],
      "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"storageAccountName": {"type": "string",
      "defaultValue": "armbuilddemo1801"}, "nestedRGName": {"type": "string", "defaultValue":
      "cli_test_subscription_level_deployment"}}, "variables": {}, "resources": [{"type":
      "Microsoft.Authorization/policyDefinitions", "name": "policy2", "apiVersion":
      "2016-12-01", "properties": {"policyType": "Custom", "parameters": {}, "policyRule":
      {"if": {"field": "location", "equals": "northeurope"}, "then": {"effect": "deny"}}}},
      {"type": "Microsoft.Authorization/policyAssignments", "name": "location-lock",
      "apiVersion": "2016-12-01", "dependsOn": ["policy2"], "properties": {"scope":
      "[subscription().id]", "policyDefinitionId": "[resourceId(''Microsoft.Authorization/policyDefinitions'',
      ''policy2'')]"}}, {"type": "Microsoft.Resources/resourceGroups", "name": "[parameters(''nestedRGName'')]",
      "apiVersion": "2018-05-01", "location": "WestUS", "properties": {}}, {"type":
      "Microsoft.Resources/deployments", "name": "rg-nested6", "apiVersion": "2017-05-10",
      "resourceGroup": "[parameters(''nestedRGName'')]", "dependsOn": ["[parameters(''nestedRGName'')]"],
      "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "name": "[parameters(''storageAccountName'')]",
      "apiVersion": "2015-06-15", "location": "East US", "properties": {"accountType":
      "Standard_LRS", "supportsHttpsTrafficOnly": true}}]}, "mode": "Incremental"}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs_tenant_deploy000001/providers/Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002/versions/1.0?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"systemData\":
        {\r\n    \"createdBy\": \[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-cli/dev/src/azure-cli/azure/cli/command_modules/resource/tests/latest/subscription_level_parameters.json
  response:
    body:
      string: "{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n     /** comment1\n
        \       comment2\n        comment3\n      **/\n      // comment\n      /**
        comment **/\n    \"nestedRGName\": {\n      /** comment1\n        comment2\n
        \       comment3\n      **/\n      // comment\n      /** comment **/\n      \"value\":
        \"cli_test_subscription_level_deployment\" /** comment **/\n      /** comment1\n
        \       comment2\n        comment3\n      **/\n      // comment\n      /**
        comment **/\n    }\n      /** comment1\n        comment2\n        comment3\n
        \     **/\n      // comment\n      /** comment **/\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"2cc7b94cb1a1129b25fb74b5079c39ebea46f9ed18b7ed5ab643967ad43be835"'
      source-age:
      - '0'
      x-fastly-request-id:
      - 8640789b83ce985ccc19e9c74848e208f8df62ae
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "WestUS", "properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs_tenant_deploy000001/providers/Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002/versions/1.0"},
      "parameters": {"nestedRGName": {"value": "cli_test_subscription_level_deployment"},
      "storageAccountName": {"value": "armbuilddemo000005"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/1","name":"1","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateLink":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs_tenant_deploy000001/providers/Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002/versions/1.0","contentVersion":"1.0.0.0"},"templateHash":"1013067532690748919","parameters":{"storageAccountName":{"type":"String","value":"armbuilddemo000005"},"nestedRGName":{"type":"String","value":"cli_test_subscription_level_deployment"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-06-14T10:29:33.4554508Z","duration":"PT0S","correlationId":"01fcbcdb-620b-46d7-9a0d-fb759861ef27","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]},{"resourceType":"policyAssignments","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2","resourceType":"Microsoft.Authorization/policyDefinitions","resourceName":"policy2"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock","resourceType":"Microsoft.Authorization/policyAssignments","resourceName":"location-lock"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"cli_test_subscription_level_deployment"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6","resourceType":"Microsoft.Resources/deployments","resourceName":"rg-nested6"}],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Storage/storageAccounts/armbuilddemo000005"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "WestUS", "properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs_tenant_deploy000001/providers/Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002/versions/1.0"},
      "parameters": {"nestedRGName": {"value": "cli_test_subscription_level_deployment"},
      "storageAccountName": {"value": "armbuilddemo000005"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585779403066582557?api-version=2021-01-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2021-01-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"storageAccountName":{"defaultValue":"armbuilddemo1801","type":"String"},"nestedRGName":{"defaultValue":"cli_test_subscription_level_deployment","type":"String"}},"variables":{},"resources":[{"type":"Microsoft.Authorization/policyDefinitions","apiVersion":"2016-12-01","name":"policy2","properties":{"policyType":"Custom","parameters":{},"policyRule":{"if":{"field":"location","equals":"northeurope"},"then":{"effect":"deny"}}}},{"type":"Microsoft.Authorization/policyAssignments","apiVersion":"2016-12-01","name":"location-lock","dependsOn":["policy2"],"properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/operations?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deployment000003/operations/5207C2DF38DCA0E9","operationId":"5207C2DF38DCA0E9","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2021-06-14T10:30:21.9830827Z","duration":"PT39.8189764S","trackingId":"303e6f35-a885-477d-ad86-0e4d5f073b4a","serviceRequestId":"6218bd88-79ee-487e-831f-64da306cd73a","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6","resourceType":"Microsoft.Resources/deployments","resourceName":"rg-nested6"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deployment000003/operations/B6547F77E2620055","operationId":"B6547F77E2620055","properties":{"provisioningOperation":"Creat[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/cancel?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs_tenant_deploy000001/providers/Microsoft.Resources/templateSpecs/cli-test-sub-lvl-ts-deploy000002?api-version=2021-05-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 200
      message: OK
version: 1
