interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/0924917e-8d29-4d74-924e-3445a1087486/providers/Microsoft.Storage/storageAccounts/store6btd3ei6sqhcs","name":"store6btd3ei6sqhcs","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","location":"westus2","createdTime":"2020-04-09T00:14:52.3349341Z","changedTime":"2020-04-09T00:26:14.0120821Z","provisioningState":"Succeeded","tags":{"Blah":"Tataaaa","tag1":"tag2","TagAlong":"TagOver","tagname":"tagvalue"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/8663c347-6f8d-40ba-8efa-751f4c7a6616/providers/Microsoft.Storage/storageAccounts/store6hxbah355sekm","name":"store6hxbah355sekm","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","location":"westus2","createdTime":"2020-04-08T23:40:25.2423673Z","changedTime":"2020-04-08T23:50:45.1850762Z","provisioningState":"Succeeded","tags":{"Blah":"Tataaaa","tag1"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter&%24expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2020-10-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IU5UbERNREktIiwibmV4dFJvd0tleSI6IjEhMTY4IVFURkNSa0UyTXpWR01rSkdOREpHTVRnMlFqVTRORGhETmpjMFJrTXpNakZmUjFKTUxWUkZUVkJNUVZSRlUxQkZRMU5EVEVrdFRVbERVazlUVDBaVU9qSkZVa1ZUVDFWU1EwVlRPakpHVkVWTlVFeEJWRVZUVUVWRFV6b3lSbFZZVkVWVFZEb3lSbFpGVWxOSlQwNVRPakpHTnpnMExVVkJVMVJWVXctLSJ9
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TemplateSpecsCLI/providers/Microsoft.Resources/templateSpecs/UXTest/versions/784","name":"UXTest/784","type":"Microsoft.Resources/templateSpecs/versions","location":"eastus","createdTime":"2020-08-06T16:04:33.5715547Z","changedTime":"2020-08-06T16:14:34.5073376Z","provisioningState":"Succeeded","systemData":{"createdBy":"daetienn@microsoft.com","createdByType":"User","createdAt":"2020-08-06T16:04:34.0439433Z","lastModifiedBy":"daetienn@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-08-06T16:04:34.0439433Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TemplateSpecsCLI/providers/Microsoft.Resources/templateSpecs/UXTest/versions/785","name":"UXTest/785","type":"Microsoft.Resources/templateSpecs/versions","location":"eastus","createdTime":"2020-08-06T16:04:37.6001423Z","changedTime":"2020-08-06T16:14:38.3862156Z","provisioningState":"Succeeded","systemData":{"createdBy":"daetienn@microsoft.com","createdByType":"User","createdAt":"2020-08-06[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001","name":"cli_test_resource_scenario000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2020-12-09T15:47:25Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "tags": {"cli-test": "test"}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets":
      [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "subnet-000003"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002\",\r\n
        \ \"etag\": \"W/\\\"f98d1f56-efb5-486f-b0bd-4d0f9d3d2be6\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {\r\n    \"cli-test\": \"test\"\r\n  },\r\n  \"properties\": {\r\n
        \   \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"bdd69026-5a7f-48b2-a8fa-3bb8d4ee0f01\",\r\n
        \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
        \     ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n
        \   },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet-000003\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002/subnets/subnet-000003\",\r\n
        \       \"etag\": \"W/\\\"f98d1f56-efb5-486f-b0bd-4d0f9d3d2be6\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/2175541b-eded-4b5f-ad64-3ac6c3611789?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/2175541b-eded-4b5f-ad64-3ac6c3611789?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
