interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabil[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "defaultmg", "properties": {"details": {"parent": {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/defaultmg?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/defaultmg","type":"Microsoft.Management/managementGroups","name":"defaultmg","status":"NotStarted"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/defaultmg?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/defaultmg?api-version=2021-04-01
      x-ba-restapi:
      - 1.0.3.2425
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/defaultmg?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/defaultmg","name":"defaultmg","status":"Running"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/defaultmg?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/defaultmg?api-version=2021-04-01
      x-ba-restapi:
      - 1.0.3.2425
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/defaultmg?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/defaultmg","name":"defaultmg","status":"Succeeded","properties":{"tenantId":"c7a87cda-9a66-4920-b0f8-869baa04efe0","displayName":"defaultmg","details":{"version":3,"updatedTime":"2022-01-31T18:56:00.7051526Z","updatedBy":"27e85fe3-7b1b-4de4-8d55-d58291b5d701"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2425
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"defaultManagementGroup": "/providers/Microsoft.Management/managementGroups/defaultmg"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings/default?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings/default","type":"Microsoft.Management/managementGroups/settings","name":"default","properties":{"tenantId":"c7a87cda-9a66-4920-b0f8-869baa04efe0","requireAuthorizationForGroupCreation":false,"defaultManagementGroup":"defaultmg"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2425
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings?api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings/default","type":"Microsoft.Management/managementGroups/settings","name":"default","properties":{"tenantId":"c7a87cda-9a66-4920-b0f8-869baa04efe0","requireAuthorizationForGroupCreation":false,"defaultManagementGroup":"defaultmg"}}],"@nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2425
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings/default?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      x-ba-restapi:
      - 1.0.3.2425
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/defaultmg?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/defaultmg","name":"defaultmg","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2425
    status:
      code: 200
      message: OK
version: 1
