interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002/versions/1.0?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002/versions/1.0''
        under resource group ''cli_test_template_specs000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/Azure/bicep/releases/latest
  response:
    body:
      string: '{"url":"https://api.github.com/repos/Azure/bicep/releases/44131194","assets_url":"https://api.github.com/repos/Azure/bicep/releases/44131194/assets","upload_url":"https://uploads.github.com/repos/Azure/bicep/releases/44131194/assets{?name,label}","html_url":"https://github.com/Azure/bicep/releases/tag/v0.4.63","id":44131194,"author":{"login":"majastrz","id":22460039,"node_id":"MDQ6VXNlcjIyNDYwMDM5","avatar_url":"https://avatars.githubusercontent.com/u/22460039?v=4","gravatar_id":"","url":"https://api.github.com/users/majastrz","html_url":"https://github.com/majastrz","followers_url":"https://api.github.com/users/majastrz/followers","following_url":"https://api.github.com/users/majastrz/following{/other_user}","gists_url":"https://api.github.com/users/majastrz/gists{/gist_id}","starred_url":"https://api.github.com/users/majastrz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/majastrz/subscriptions","organizations_url":"https://api.github.com/users/majastrz/orgs","repos_url":"https://api.github.com/users/majastrz/repos","events_url":"https://api.github.com/users/majastrz/events{/privacy}","received_events_url":"https://api.github.com/users/majastrz/received_events","type":"User","site_admin":false},"node_id":"MDc6UmVsZWFzZTQ0MTMxMTk0","tag_name":"v0.4.63","target_commitish":"main","name":"v0.4.63","draft":false,"prerelease":false,"created_at":"2021-06-04T19:35:26Z","published_at":"2021-06-05T01:30:09Z","assets":[{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/38091029","id":38091029,"node_id":"MDEyOlJlbGVhc2VBc3NldDM4MDkxMDI5","name":"Azure.Bicep.CommandLine.linux-x64.0.4.63.nupkg","label":"","uploader":{"login":"majastrz","id":22460039,"node_id":"MDQ6VXNlcjIyNDYwMDM5","avatar_url":"https://avatars.githubusercontent.com/u/22460039?v=4","gravatar_id":"","url":"https://api.github.com/users/majastrz","html_url":"https://github.com/majastrz","followers_url":"https://api.github.com/users/majastrz/followers","following_url":"https://api.github.com/users/majastrz/following{/other_user}","gists_url":"https://api.github.com/users/majastrz/gists{/gist_id}","starred_url":"https://api.github.com/users/majastrz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/majastrz/subscriptions","organizations_url":"https://api.github.com/users/majastrz/orgs","repos_url":"https://api.github.com/users/majastrz/repos","events_url":"https://api.github.com/users/majastrz/events{/privacy}","received_events_url":"https://api.github.com/users/majastrz/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":18419987,"download_count":5,"created_at":"2021-06-04T20:53:36Z","updated_at":"2021-06-04T20:53:38Z","browser_download_url":"https://github.com/Azure/bicep/releases/download/v0.4.63/Azure.Bicep.CommandLine.linux-x64.0.4.63.nupkg"},{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/38091036","id":38091036,"node_id":"MDEyOlJlbGVhc2VBc3NldDM4MDkxMDM2","name":"Azure.Bicep.CommandLine.osx-x64.0.4.63.nupkg","label":"","uploader":{"login":"majastrz","id":22460039,"node_id":"MDQ6VXNlcjIyNDYwMDM5","avatar_url":"https://avatars.githubusercontent.com/u/22460039?v=4","gravatar_id":"","url":"https://api.github.com/u[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002''
        under resource group ''cli_test_template_specs000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"description": "AzCLI
      test root template spec from bicep"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"description\": \"AzCLI test root template spec from bicep\"\r\n
        \ },\r\n  \"systemData\": {\r\n    \"createdBy\": \"gopremra@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2021-07-15T22:39:09.0309765Z\",\r\n
        \   \"lastModifiedBy\": \"gopremra@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2021-07-15T22:39:09.0309765Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-create-template-spec000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"description": "AzCLI
      test version of root template spec from bicep", "linkedTemplates": [], "mainTemplate":
      {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.4.63.48766", "templateHash": "17278007198180777144"}}, "functions": [], "variables":
      {"storageAccountName": "[format(''store{0}'', uniqueString(resourceGroup().id))]"},
      "resources": [{"type": "Microsoft.Storage/storageAccounts", "apiVersion": "2019-04-01",
      "name": "[variables(''storageAccountName'')]", "location": "westus2", "sku":
      {"name": "Standard_LRS"}, "kind": "StorageV2", "properties": {}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002/versions/1.0?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"descriptio[...]
[...]
