interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002/versions/1.0?api-version=2022-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002/versions/1.0''
        under resource group ''cli_test_template_specs000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002?api-version=2022-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002''
        under resource group ''cli_test_template_specs000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"description": "AzCLI
      test root template spec"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"description\": \"AzCLI test root template spec\"\r\n  },\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"test@example.com\",\r\n    \"createdByType\": \"User\",\r\n
        \   \"createdAt\": \"2025-07-29T05:38:26.3386673Z\",\r\n    \"lastModifiedBy\":
        \"test@example.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\":
        \"2025-07-29T05:38:26.3386673Z\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-create-template-spec000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"description": "AzCLI
      test version of root template spec", "linkedTemplates": [], "mainTemplate":
      {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"customer": {"type": "string", "minLength":
      2, "maxLength": 3, "defaultValue": "[resourceGroup().tags[''customer-short'']]",
      "metadata": {"description": "A short unique identifer for the customer owning
      the resource. E.g. ''mc''=''Marel Connect'', ''io''=''Innova''"}}, "environment":
      {"type": "string", "allowedValues": ["dev", "test", "int", "stage", "prod",
      "development", "testing", "integration", "staging", "production"], "defaultValue":
      "[resourceGroup().tags[''environment'']]", "metadata": {"description": "The
      environment being deployed to."}}, "location": {"type": "string", "allowedValues":
      ["eastasia", "southeastasia", "centralus", "eastus", "eastus2", "westus", "northcentralus",
      "southcentralus", "northeurope", "westeurope", "japanwest", "japaneast", "brazilsouth",
      "australiaeast", "australiasoutheast", "southindia", "centralindia", "westindia",
      "canadacentral", "canadaeast", "uksouth", "ukwest", "westcentralus", "westus2",
      "koreacentral", "koreasouth", "francecentral", "francesouth", "australiacentral",
      "australiacentral2", "southafricanorth", "southafricawest", "global"], "defaultValue":
      "[if(contains(resourceGroup().tags, ''location''), resourceGroup().tags[''location''],
      resourceGroup().location)]", "metadata": {"description": "The location of the
      data center the resorce will be deployed to."}}, "group": {"type": "string",
      "minLength": 3, "maxLength": 12, "defaultValue": "[resourceGroup().tags[''group'']]",
      "metadata": {"description": "The group identifier"}}, "resource": {"type": "string",
      "metadata": {"description": "The type of resource the name is being generated
      for. e.g. ''Microsoft.Storage/storageAccounts''"}}, "kind": {"type": "string",
      "defaultValue": "", "metadata": {"description": "Sometimes a ''kind'' needs
      to be specified. Then this parameter needs to be provided. E.g. resource=''Microsoft.Web/sites''
      kind=''functionapp''"}}, "instance": {"type": "int", "defaultValue": -1, "metadata":
      {"description": "If name is for a repeated resource then this should be an integer
      >= 0"}}, "useHyphen": {"type": "bool", "defaultValue": true, "metadata": {"description":
      "Determines if the name should include hyphens or not. e.g. ''mc-d-euw-data-kv''
      vs ''mcdeuwdatakv''"}}}, "functions": [], "variables": {"environments": {"dev":
      "d", "test": "t", "int": "i", "stage": "s", "prod": "p", "development": "d",
      "testing": "t", "integration": "i", "staging": "s", "production": "p"}, "locations":
      {"eastasia": "ase", "southeastasia": "asse", "centralus": "usc", "eastus": "use",
      "eastus2": "use2", "westus": "usw", "northcentralus": "usnc", "southcentralus":
      "ussc", "northeurope": "eun", "westeurope": "euw", "japanwest": "jpw", "japaneast":
      "jpe", "brazilsouth": "brs", "australiaeast": "aue", "australiasoutheast": "ause",
      "southindia": "ins", "centralindia": "inc", "westindia": "inw", "canadacentral":
      "cac", "canadaeast": "cae", "uksouth": "uks", "ukwest": "ukw", "westcentralus":
      "uswe", "westus2": "usw2", "koreacentral": "krc", "koreasouth": "krs", "francecentral":
      "frc", "francesouth": "frs", "australiacentral": "auc", "australiacentral2":
      "auc2", "southafricanorth": "zan", "southafricawest": "zaw", "global": "global"},
      "resources": {"Microsoft.Web": {"publishingUsers": null, "ishostnameavailable":
      null, "validate": null, "isusernameavailable": null, "sourceControls": null,
      "availableStacks": null, "staticSites": null, "listSitesAssignedToHostName":
      null, "locations/getNetworkPolicies": null, "locations/operations": null, "locations/operationResults":
      null, "sites/networkConfig": null, "sites/slots/networkConfig": null, "sites/hostNameBindings":
      null, "sites/slots/hostNameBindings": null, "operations": null, "certificates":
      null, "serverFarms": "asp", "sites": {"api": "appsvc", "app": "appui", "functionapp":
      "fa"}, "sites/slots": null, "runtimes": null, "recommendations": null, "resourceHealthMetadata":
      null, "georegions": null, "sites/premieraddons": null, "hostingEnvironments":
      null, "hostingEnvironments/multiRolePools": null, "hostingEnvironments/workerPools":
      null, "kubeEnvironments": null, "deploymentLocations": null, "deletedSites":
      null, "locations/deletedSites": null, "ishostingenvironmentnameavailable": null,
      "locations/deleteVirtualNetworkOrSubnets": null, "connections": null, "customApis":
      null, "locations": null, "locations/listWsdlInterfaces": null, "locations/extractApiDefinitionFromWsdl":
      null, "locations/managedApis": null, "locations/runtimes": null, "locations/apiOperations":
      null, "connectionGateways": null, "locations/connectionGatewayInstallations":
      null, "checkNameAvailability": null, "billingMeters": null, "verifyHostingEnvironmentVnet":
      null, "serverFarms/eventGridFilters": null, "sites/eventGridFilters": null,
      "sites/slots/eventGridFilters": null, "hostingEnvironments/eventGridFilters":
      null, "serverFarms/firstPartyApps": null, "serverFarms/firstPartyApps/keyVaultSettings":
      null}}, "provider": "[split(parameters(''resource''), ''/'')[0]]", "resourceType":
      "[replace(parameters(''resource''), concat(variables(''provider''), ''/''),
      '''')]", "hyphenedName": "[format(''[0]-[1]-[2]-[3]-[4]-[5]'',\n                               parameters(''customer''),\n                               variables(''environments'')[parameters(''environment'')],\n                               variables(''locations'')[parameters(''location'')],\n                               parameters(''group''),\n                               parameters(''service''),\n                               if(equals(parameters(''kind''),
      ''''),\n                                  variables(''resources'')[variables(''provider'')][variables(''resourceType'')],\n                                  variables(''resources'')[variables(''provider'')][variables(''resourceType'')][parameters(''kind'')]))]",
      "removeOptionalsFromHyphenedName": "[replace(variables(''hyphenedName''), ''--'',
      ''-'')]", "isInstanceCount": "[greater(parameters(''instance''), -1)]", "hyphenedNameAfterInstanceCount":
      "[if(variables(''isInstanceCount''),\n                                             format(''[0]-[1]'',
      variables(''removeOptionalsFromHyphenedName''), string(parameters(''instance''))),\n                                             variables(''removeOptionalsFromHyphenedName''))]",
      "name": "[if(parameters(''useHyphen''),\n                   variables(''hyphenedNameAfterInstanceCount''),\n                   replace(variables(''hyphenedNameAfterInstanceCount''),
      ''-'', ''''))]"}, "resources": [], "outputs": {"name": {"type": "string", "value":
      "[toLower(variables(''name''))]"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002/versions/1.0?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"d[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-spec000002?api-version=2022-02-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 200
      message: OK
version: 1
