interactions:
- request:
    body: '{"userPrincipalName": "testuser000002@azuresdkteam.onmicrosoft.com", "displayName":
      "tester123", "passwordProfile": {"password": "Test123456789", "forceChangePasswordNextSignIn":
      false}, "mailNickname": "testuser000002", "accountEnabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/users
  response:
    body:
      string: '{"error":{"code":"Authorization_RequestDenied","message":"Insufficient
        privileges to complete the operation.","innerError":{"date":"2025-02-22T07:01:05","request-id":"14c17f6e-fa53-4a2a-86cf-7f15df9ec17c","client-request-id":"14c17f6e-fa53-4a2a-86cf-7f15df9ec17c"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF000011F0"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 403
      message: Forbidden
version: 1
