interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"DeploymentStackResourceNotFound\"\
        ,\r\n    \"message\": \"The deployment stack '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002'\
        \ could not be found.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/BicepLatestRelease
  response:
    body:
      string: ''
    headers:
      location:
      - https://downloads.bicep.azure.com/releases/latest
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://downloads.bicep.azure.com/releases/latest
  response:
    body:
      string: '{"url":"https://api.github.com/repos/Azure/bicep/releases/150828067","assets_url":"https://api.github.com/repos/Azure/bicep/releases/150828067/assets","upload_url":"https://uploads.github.com/repos/Azure/bicep/releases/150828067/assets{?name,label}","html_url":"https://github.com/Azure/bicep/releases/tag/v0.26.170","id":150828067,"author":{"login":"jeskew","id":705500,"node_id":"MDQ6VXNlcjcwNTUwMA==","avatar_url":"https://avatars.githubusercontent.com/u/705500?v=4","gravatar_id":"","url":"https://api.github.com/users/jeskew","html_url":"https://github.com/jeskew","followers_url":"https://api.github.com/users/jeskew/followers","following_url":"https://api.github.com/users/jeskew/following{/other_user}","gists_url":"https://api.github.com/users/jeskew/gists{/gist_id}","starred_url":"https://api.github.com/users/jeskew/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jeskew/subscriptions","organizations_url":"https://api.github.com/users/jeskew/orgs","repos_url":"https://api.github.com/users/jeskew/repos","events_url":"https://api.github.com/users/jeskew/events{/privacy}","received_events_url":"https://api.github.com/users/jeskew/received_events","type":"User","site_admin":false},"node_id":"RE_kwDOD7S9ks4I_XQj","tag_name":"v0.26.170","target_commitish":"main","name":"v0.26.170","draft":false,"prerelease":false,"created_at":"2024-04-03T21:52:41Z","published_at":"2024-04-12T00:29:12Z","assets":[{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/161615057","id":161615057,"node_id":"RA_kwDOD7S9ks4JogzR","name":"Azure.Bicep.CommandLine.linux-arm64.0.26.170.nupkg","label":"","uploader":{"login":"jeskew","id":705500,"node_id":"MDQ6VXNlcjcwNTUwMA==","avatar_url":"https://avatars.githubusercontent.com/u/705500?v=4","gravatar_id":"","url":"https://api.github.com/users/jeskew","html_url":"https://github.com/jeskew","followers_url":"https://api.github.com/users/jeskew/followers","following_url":"https://api.github.com/users/jeskew/following{/other_user}","gists_url":"https://api.github.com/users/jeskew/gists{/gist_id}","starred_url":"https://api.github.com/users/jeskew/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jeskew/subscriptions","organizations_url":"https://api.github.com/users/jeskew/orgs","repos_url":"https://api.github.com/users/jeskew/repos","events_url":"https://api.github.com/users/jeskew/events{/privacy}","received_events_url":"https://api.github.com/users/jeskew/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":37292424,"download_count":10,"created_at":"2024-04-11T21:06:21Z","updated_at":"2024-04-11T21:06:23Z","browser_download_url":"https://github.com/Azure/bicep/releases/download/v0.26.170/Azure.Bicep.CommandLine.linux-arm64.0.26.170.nupkg"},{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/161615024","id":161615024,"node_id":"RA_kwDOD7S9ks4Jogyw","name":"Azure.Bicep.CommandLine.linux-x64.0.26.170.nupkg","label":"","uploader":{"login":"jeskew","id":705500,"node_id":"MDQ6VXNlcjcwNTUwMA==","avatar_url":"https://avatars.githubusercontent.com/u/705500?v=4","gravatar_id":"","url":"https://api.github.com/users/je[...]
- request:
    body: '{"tags": {}, "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.26.54.24096", "templateHash": "4676284590957754372"}}, "parameters": {"location":
      {"type": "string", "defaultValue": "centralus"}, "storageAccountName": {"type":
      "string", "defaultValue": "uniquestorage002", "minLength": 3, "maxLength": 24}},
      "resources": [{"type": "Providers.Test/statefulResources", "apiVersion": "2014-04-01",
      "name": "[parameters(''storageAccountName'')]", "location": "[parameters(''location'')]"}],
      "outputs": {"storageId": {"type": "string", "value": "[resourceId(''Providers.Test/statefulResources'',
      parameters(''storageAccountName''))]"}}}, "parameters": {}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach", "managementGroups": "detach"},
      "bypassStackOutOfSyncError": false, "denySettings": {"mode": "none", "applyToChildScopes":
      false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"actionOnUnmanage\"\
        : {\r\n      \"resources\": \"detach\",\r\n      \"resourceGroups\": \"detach\"\
        ,\r\n      \"managementGroups\": \"detach\"\r\n    },\r\n    \"denySettings\"\
        : {\r\n      \"mode\": \"none\",\r\n      \"applyToChildScopes\": false\r\n\
        \    },\r\n    \"parameters\": {},\r\n    \"resources\": [],\r\n    \"provisioningState\"\
        : \"initializing\",\r\n    \"detachedResources\": [],\r\n    \"deletedResources\"\
        : [],\r\n    \"failedResources\": [],\r\n    \"correlationId\": \"f12f81df-cbcb-494e-9005-7c9c5d5279d5\"\
        \r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"kylealbert@microsoft.com\"\
        ,\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-04-17T16:27:04.3180784Z\"\
        ,\r\n    \"lastModifiedBy\": \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2024-04-17T16:27:04.3180784Z\"\r\n\
        \  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\":\
        \ \"cli-test-create-deployment-stack-resource-group000002\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/eastus2euap/deploymentStackOperationStatus/d964fc65-8660-41d6-998b-714b46698b03?api-version=2024-03-01&t=638489680243961771&c=MIIHHjCCBgagAwIBAgITOgKWZiB3yoN1J5HTbQAEApZmIDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMTMwMTk1ODU1WhcNMjUwMTI0MTk1ODU1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/eastus2euap/deploymentStackOperationStatus/d964fc65-8660-41d6-998b-714b46698b03?api-version=2024-03-01&t=638489680243961771&c=MIIHHjCCBgagAwIBAgITOgKWZiB3yoN1J5HTbQAEApZmIDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMTMwMTk1OD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"actionOnUnmanage\"\
        : {\r\n      \"resources\": \"detach\",\r\n      \"resourceGroups\": \"detach\"\
        ,\r\n      \"managementGroups\": \"detach\"\r\n    },\r\n    \"deploymentId\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-resource-groupbpu-240417167x699\"\
        ,\r\n    \"duration\": \"PT5.5748879S\",\r\n    \"denySettings\": {\r\n  \
        \    \"mode\": \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\
        \n    \"outputs\": {\r\n      \"storageId\": {\r\n        \"type\": \"String\"\
        ,\r\n        \"value\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Providers.Test/statefulResources/uniquestorage002\"\
        \r\n      }\r\n    },\r\n    \"parameters\": {},\r\n    \"resources\": [\r\
        \n      {\r\n        \"status\": \"managed\",\r\n        \"denyStatus\": \"\
        none\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Providers.Test/statefulResources/uniquestorage002\"\
        \r\n      }\r\n    ],\r\n    \"provisioningState\": \"succeeded\",\r\n   \
        \ \"detachedResources\": [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\"\
        : [],\r\n    \"correlationId\": \"f12f81df-cbcb-494e-9005-7c9c5d5279d5\"\r\
        \n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"kylealbert@microsoft.com\"\
        ,\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-04-17T16:27:04.3180784Z\"\
        ,\r\n    \"lastModifiedBy\": \"kylealbert@microsoft.com\",\r\n    \"lastModifiedByType\"\
        : \"User\",\r\n    \"lastModifiedAt\": \"2024-04-17T16:27:04.3180784Z\"\r\n\
        \  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002\"\
        ,\r\n  \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\":\
        \ \"cli-test-create-deployment-stack-resource-group000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&unmanageAction.ManagementGroups=detach&api-version=2024-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14996'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {}, "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.26.54.24096", "templateHash": "10117753893333852062"}}, "parameters": {"location":
      {"type": "string"}, "kind": {"type": "string"}}, "variables": {"storageAccountName":
      "[format(''clistore{0}'', uniqueString(resourceGroup().id))]"}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "apiVersion": "2019-04-01", "name":
      "[variables(''storageAccountName'')]", "location": "[parameters(''location'')]",
      "sku": {"name": "Standard_LRS"}, "kind": "[parameters(''kind'')]", "properties":
      {}}]}, "parameters": {"location": {"value": "eastus2euap"}, "kind": {"value":
      "StorageV2"}}, "actionOnUnmanage": {"resources": "delete", "resourceGroups":
      "delete", "managementGroups": "delete"}, "bypassStackOutOfSyncError": false,
      "denySettings": {"mode": "none", "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus2euap.m[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/eastus2euap/deploymentStackOperationStatus/b2de6916-6c02-40ca-81bf-00c9e4bfef91?api-version=2024-03-01&t=638489680622994545&c=MIIHHjCCBgagAwIBAgITOgKWZiB3yoN1J5HTbQAEApZmIDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMTMwMTk1OD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/eastus2euap/deploymentStackOperationStatus/5a0317e9-becf-4382-970f-1c3469f98663?api-version=2024-03-01&t=638489681027727491&c=MIIHHjCCBgagAwIBAgITOgKWZiB3yoN1J5HTbQAEApZmIDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMTMwMTk1OD[...]
[...]
- request:
    body: '{"tags": {}, "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.19.5.34762", "templateHash": "2905255484229578890"}, "name": "Hello World",
      "description": "A \"\u05e9\u05b8\u05c1\u05dc\u05d5\u05b9\u05dd \u05e2\u05d5\u05b9\u05dc\u05b8\u05dd\"
      sample Bicep registry module", "owner": "bicep-admins"}, "parameters": {"name":
      {"type": "string", "metadata": {"description": "The name of someone to say hi
      to."}}}, "resources": [], "outputs": {"greeting": {"type": "string", "metadata":
      {"description": "The hello message."}, "value": "[format(''Hello from Bicep
      registry - Hi {0}!'', parameters(''name''))]"}}}, "parameters": {"name": {"value":
      "Anthony"}}, "actionOnUnmanage": {"resources": "delete", "resourceGroups": "delete",
      "managementGroups": "delete"}, "bypassStackOutOfSyncError": false, "denySettings":
      {"mode": "none", "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/json
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/eastus2euap/deploymentStackOperationStatus/987cdd75-1aa4-482c-a33d-0f08ff1124fa?api-version=2024-03-01&t=638489681429740266&c=MIIHHjCCBgagAwIBAgITOgKWZiB3yoN1J5HTbQAEApZmIDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMTMwMTk1OD[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/stuartko_rg/providers/Microsoft.Resources/templateSpecs/anotherSpec/versions/v2?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\"\
        : {\r\n    \"mainTemplate\": {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\"\
        ,\r\n      \"contentVersion\": \"1.0.0.2\",\r\n      \"parameters\": {},\r\
        \n      \"resources\": []\r\n    }\r\n  },\r\n  \"systemData\": {\r\n    \"\
        createdBy\": \"stuartko@microsoft.com\",\r\n    \"createdByType\": \"User\"\
        ,\r\n    \"createdAt\": \"2022-03-31T07:38:36.6587736Z\",\r\n    \"lastModifiedBy\"\
        : \"stuartko@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n\
        \    \"lastModifiedAt\": \"2022-03-31T07:38:36.6587736Z\"\r\n  },\r\n  \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/stuartko_rg/providers/Microsoft.Resources/templateSpecs/anotherSpec/versions/v2\"\
        ,\r\n  \"type\": \"Microsoft.Resources/templateSpecs/versions\",\r\n  \"name\"\
        : \"v2\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {}, "properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/stuartko_rg/providers/Microsoft.Resources/templateSpecs/anotherSpec/versions/v2"},
      "parameters": {}, "actionOnUnmanage": {"resources": "delete", "resourceGroups":
      "delete", "managementGroups": "delete"}, "bypassStackOutOfSyncError": false,
      "denySettings": {"mode": "none", "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus2eua[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus2euap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/eastus2euap/deploymentStackOperationStatus/6aa1c534-b440-4495-acda-ff1e54253171?api-version=2024-03-01&t=638489681850105677&c=MIIHHjCCBgagAwIBAgITOgKWZiB3yoN1J5HTbQAEApZmIDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwMTMwMTk1OD[...]
[...]
