interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabil[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "defaultmg1", "properties": {"details": {"parent": {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/defaultmg1?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/defaultmg1","type":"Microsoft.Management/managementGroups","name":"defaultmg1","properties":{"tenantId":"c7a87cda-9a66-4920-b0f8-869baa04efe0","displayName":"defaultmg1","details":{"version":6,"updatedTime":"2022-02-01T23:54:29.2749494Z","updatedBy":"27e85fe3-7b1b-4de4-8d55-d58291b5d701","parent":{"id":"/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0","name":"c7a87cda-9a66-4920-b0f8-869baa04efe0","displayName":"Root
        Management Group"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2425
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"requireAuthorizationForGroupCreation": true, "defaultManagementGroup":
      "/providers/Microsoft.Management/managementGroups/defaultmg1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings/default?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings/default","type":"Microsoft.Management/managementGroups/settings","name":"default","properties":{"tenantId":"c7a87cda-9a66-4920-b0f8-869baa04efe0","requireAuthorizationForGroupCreation":true,"defaultManagementGroup":"defaultmg1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2425
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"requireAuthorizationForGroupCreation": true, "defaultManagementGroup":
      "/providers/Microsoft.Management/managementGroups/defaultmg2"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings/default?api-version=2021-04-01
  response:
    body:
      string: '{"error":{"code":"InternalServerError","message":"Failed to update
        Hierarchy Settings","details":"Message: {\"Errors\":[\"Encountered exception
        while executing function. Exception = Error: {\\\"Errors\\\":[\\\"One of the
        specified pre-condition is not met\\\"]}\\r\\nStack trace: Error: {\\\"Errors\\\":[\\\"One
        of the specified pre-condition is not met\\\"]}\\n   at Anonymous function
        (script.js:38:36)\\n   at Anonymous function (script.js:807:29)\"]}\r\nActivityId:
        878a91b3-5f3c-4101-8402-e885c0f38c4e, Request URI: /apps/6f669c08-517d-42b3-a98f-6793199079cb/services/5535d250-df59-4dbd-a628-e946ac15f31a/partitions/27a5a57f-0cec-4ec4-9e69-b6faba4cbc4d/replicas/132830723695385019p/,
        RequestStats: \r\nRequestStartTime: 2022-02-01T23:59:49.6259838Z, RequestEndTime:
        2022-02-01T23:59:49.6416288Z,  Number of regions attempted:1\r\nResponseTime:
        2022-02-01T23:59:49.6416288Z, StoreResult: StorePhysicalAddress: rntbd://cdb-ms-prod-centralus1-fd20.documents.azure.com:14106/apps/6f669c08-517d-42b3-a98f-6793199079cb/services/5535d250-df59-4dbd-a628-e946ac15f31a/partitions/27a5a57f-0cec-4ec4-9e69-b6faba4cbc4d/replicas/132830723695385019p/,
        LSN: 13897, GlobalCommittedLsn: 13896, PartitionKeyRangeId: 0, IsValid: True,
        StatusCode: 400, SubStatusCode: 412, RequestCharge: 8.39, ItemLSN: -1, SessionToken:
        -1#13897, UsingLocalLSN: False, TransportException: null, ResourceType: StoredProcedure,
        OperationType: ExecuteJavaScript\r\n, SDK: documentdb-dotnet-sdk/2.11.6 Host/64-bit
        MicrosoftWindowsNT/6.2.9200.0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2425
      x-ms-failure-cause:
      - service
      x-ms-ratelimit-remaining-tenant-writes:
      - '1198'
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings?api-version=2021-04-01
  response:
    body:
      string: '{"value":[],"@nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2425
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings/default?api-version=2021-04-01
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"''/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0/settings/c7a87cda-9a66-4920-b0f8-869baa04efe0''
        not found","details":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.2425
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 404
      message: Not Found
version: 1
