interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-subscription000001?api-version=2021-05-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource ''cli-test-delete-deployment-stack-snapshot-subscription000001''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "updateBehavior": "detachResources", "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-subscription000001?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"updateBehavior\":
        \"detachResources\",\r\n    \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-00000000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/de636bba-6463-40b5-b0ad-0a915d08330f?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/de636bba-6463-40b5-b0ad-0a915d08330f\",\r\n
        \ \"name\": \"de636bba-6463-40b5-b0ad-0a915d08330f\",\r\n  \"status\": \"succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-subscription000001?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"snapshotId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-subscription000001/snapshots/2021-12-15-19-17-01-1802c\",\r\n
        \   \"updateBehavior\": \"detachResources\",\r\n    \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/cli-test-delete-deployment-stack-snaps-2021-12-15-19-17-01-1802c\",\r\n
        \   \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \   \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
        \     \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"foo\":
        {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"foo\",\r\n
        \         \"metadata\": {\r\n            \"description\": \"description\"\r\n
        \         }\r\n        },\r\n        \"bar\": {\r\n          \"type\": \"string\",\r\n
        \         \"defaultValue\": \"bar\",\r\n          \"metadata\": {\r\n            \"description\":
        \"description\"\r\n          }\r\n        }\r\n      },\r\n      \"functions\":
        [],\r\n      \"variables\": {},\r\n      \"resources\": [],\r\n      \"outputs\":
        {\r\n        \"foo\": {\r\n          \"type\": \"string\",\r\n          \"value\":
        \"[parameters('foo')]\"\r\n        },\r\n        \"bar\": {\r\n          \"type\":
        \"string\",\r\n          \"value\": \"[parameters('bar')]\"\r\n        }\r\n
        \     }\r\n    },\r\n    \"managedResources\": [],\r\n    \"provisioningState\":
        \"succeeded\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2021-12-15T19:17:01.3010016Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2021-12-15T19:17:01.3010016Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-subscription000001\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-delete-deployment-stack-snapshot-subscription000001\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-subscription000001/snapshots/2021-12-15-19-17-01-1802c?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"detachedResources\": [],\r\n    \"deletedResources\":
        [],\r\n    \"failedResources\": [],\r\n    \"updateBehavior\": \"detachResources\",\r\n
        \   \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/cli-test-delete-deployment-stack-snaps-2021-12-15-19-17-01-1802c\",\r\n
        \   \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \   \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
        \   [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-delete-deployment-stack-snapshot-subscription000001/snapshots?api-version=2021-05-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"detachedResources\":
        [],\r\n        \"deletedResources\": [],\r\n        \"failedResources\":[...]
[...]
