interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/BicepReleases
  response:
    body:
      string: ''
    headers:
      location:
      - https://downloads.bicep.azure.com/releases
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://downloads.bicep.azure.com/releases
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/Azure/bicep/releases/127574259\",\"assets_url\":\"https://api.github.com/repos/Azure/bicep/releases/127574259/assets\",\"upload_url\":\"https://uploads.github.com/repos/Azure/bicep/releases/127574259/assets{?name,label}\",\"html_url\":\"https://github.com/Azure/bicep/releases/tag/v0.23.1\",\"id\":127574259,\"author\":{\"login\":\"jeskew\",\"id\":705500,\"node_id\":\"MDQ6VXNlcjcwNTUwMA==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/705500?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jeskew\",\"html_url\":\"https://github.com/jeskew\",\"followers_url\":\"https://api.github.com/users/jeskew/followers\",\"following_url\":\"https://api.github.com/users/jeskew/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jeskew/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jeskew/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jeskew/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jeskew/orgs\",\"repos_url\":\"https://api.github.com/users/jeskew/repos\",\"events_url\":\"https://api.github.com/users/jeskew/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jeskew/received_events\",\"type\":\"User\",\"site_admin\":false},\"node_id\":\"RE_kwDOD7S9ks4HmqDz\",\"tag_name\":\"v0.23.1\",\"target_commitish\":\"main\",\"name\":\"v0.23.1\",\"draft\":false,\"prerelease\":false,\"created_at\":\"2023-11-01T15:42:17Z\",\"published_at\":\"2023-11-02T13:20:02Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/Azure/bicep/releases/assets/133458511\",\"id\":133458511,\"node_id\":\"RA_kwDOD7S9ks4H9GpP\",\"name\":\"Azure.Bicep.CommandLine.linux-arm64.0.23.1.nupkg\",\"label\":\"\",\"uploader\":{\"login\":\"jeskew\",\"id\":705500,\"node_id\":\"MDQ6VXNlcjcwNTUwMA==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/705500?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/jeskew\",\"html_url\":\"https://github.com/jeskew\",\"followers_url\":\"https://api.github.com/users/jeskew/followers\",\"following_url\":\"https://api.github.com/users/jeskew/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/jeskew/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/jeskew/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/jeskew/subscriptions\",\"organizations_url\":\"https://api.github.com/users/jeskew/orgs\",\"repos_url\":\"https://api.github.com/users/jeskew/repos\",\"events_url\":\"https://api.github.com/users/jeskew/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/jeskew/received_events\",\"type\":\"User\",\"site_admin\":false},\"content_type\":\"application/octet-stream\",\"state\":\"uploaded\",\"size\":31794717,\"download_count\":5,\"created_at\":\"2023-11-01T18:33:54Z\",\"updated_at\":\"2023-11-01T18:33:56Z\",\"browser_download_url\":\"https://github.com/Azure/bicep/releases/download/v0.23.1/Azure.Bicep.CommandLine.linux-arm64.0.23.1.nupkg\"},{\"url\":\"https://api.github.com/repos/Azure/bicep/releases/assets/133458492\",\"id\":133458492,\"node_id\":\"RA_kwDOD7S9ks4H9Go8\",\"name\":\"Azure.Bicep.CommandLine.linux-x64.0.23.1.nupkg\",\"label\":\"\",\"uploader\":{\"login\":\"jeskew\",\"id\":705500,\"node_id\":\"MDQ6VXNlcjcwNTUwMA==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/705500?v=4\",\"gravatar_id\":\"\",\"ur[...]
