interactions:
- request:
    body: '{"properties": {"displayName": "test_policy_metadata000003", "metadata":
      {"category": "form1"}, "mode": "Indexed", "parameters": {"allowedLocations":
      {"allowedValues": [null, [], ["australiaeast", "eastus", "japaneast", "westus"],
      ["eastus"]], "metadata": {"description": "The list of locations that can be
      specified when deploying resources", "strongType": "location", "displayName":
      "Allowed locations"}, "type": "Array"}}, "policyRule": {"if": {"not": {"field":
      "location", "notIn": "[parameters(''allowedLocations'')]"}}, "then": {"effect":
      "deny"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/cli-test-meta000002?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_policy_metadata000003","policyType":"Custom","mode":"Indexed","metadata":{"category":"form1","createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-06-01T17:17:07.2344516Z","updatedBy":null,"updatedOn":null},"version":"1.0.0","parameters":{"allowedLocations":{"type":"Array","metadata":{"description":"The
        list of locations that can be specified when deploying resources","strongType":"location","displayName":"Allowed
        locations"},"allowedValues":[null,[],["australiaeast","eastus","japaneast","westus"],["eastus"]]}},"policyRule":{"if":{"not":{"field":"location","notIn":"[parameters(''allowedLocations'')]"}},"then":{"effect":"deny"}},"versions":["1.0.0"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/cli-test-meta000002","type":"Microsoft.Authorization/policyDefinitions","name":"cli-test-meta000002","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-01T17:17:07.2134412Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-01T17:17:07.2134412Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"displayName": "test_policy_metadata000003", "metadata":
      {"category": "form2", "owner": "cli"}, "mode": "Indexed", "parameters": {"allowedLocations":
      {"allowedValues": [null, [], ["australiaeast", "eastus", "japaneast", "westus"],
      ["eastus"]], "metadata": {"description": "The list of locations that can be
      specified when deploying resources", "strongType": "location", "displayName":
      "Allowed locations"}, "type": "Array"}}, "policyRule": {"if": {"not": {"field":
      "location", "notIn": "[parameters(''allowedLocations'')]"}}, "then": {"effect":
      "deny"[...]
[...]
