interactions:
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\r\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"resources\": [] // comment\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000002","name":"azure-cli-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3965660584125802942","mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T15:43:34.7545333Z","duration":"PT0S","correlationId":"8af2153c-1d71-4f50-b6ad-801c7ecc6467","providers":[],"dependencies":[],"validatedResources":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\r\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"resources\": [] // comment\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000002","name":"azure-cli-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3965660584125802942","mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-07-06T15:43:35.7179744Z","duration":"PT0.6890937S","correlationId":"de0bf0f9-c74a-415e-9acb-7018b5e41ddf","providers":[],"dependencies":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000002/operationStatuses/08586075566704487071?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586075566704487071?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000002","name":"azure-cli-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3965660584125802942","mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T15:43:36.7761549Z","duration":"PT1.7472742S","correlationId":"de0bf0f9-c74a-415e-9acb-7018b5e41ddf","providers":[],"dependencies":[],"outputResources":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", \"onErrorDeployment\":
      {\"type\": \"LastSuccessful\"}, template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"resources\": [] // comment\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000003","name":"azure-cli-deployment000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3965660584125802942","mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T15:44:08.0520141Z","duration":"PT0S","correlationId":"922249b6-46d9-44b3-a6a8-9e38d87ba14b","providers":[],"dependencies":[],"onErrorDeployment":{"type":"LastSuccessful","deploymentName":"azure-cli-deployment000002"},"validatedResources":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000003","name":"azure-cli-deployment000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3965660584125802942","mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T15:44:09.7116197Z","duration":"PT1.2013931S","correlationId":"31845894-8f83-472f-8319-674a4988acd2","providers":[],"dependencies":[],"onErrorDeployment":{"type":"LastSuccessful","deploymentName":"azure-cli-deployment000002"},"outputResources":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
