interactions:
- request:
    body: '{"properties": {"displayName": "test_external_policy000003", "externalEvaluationEnforcementSettings":
      {"endpointSettings": {"kind": "CoinFlip"}, "missingTokenAction": "Deny", "resultLifespan":
      "PT1H", "roleDefinitionIds": ["/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"]},
      "mode": "Indexed", "parameters": {"allowedLocations": {"allowedValues": [null,
      [], ["australiaeast", "eastus", "japaneast", "westus"], ["eastus"]], "metadata":
      {"description": "The list of locations that can be specified when deploying
      resources", "strongType": "location", "displayName": "Allowed locations"}, "type":
      "Array"}}, "policyRule": {"if": {"allOf": [{"field": "location", "in": "[parameters(''allowedLocations'')]"},
      {"value": "[claims().isValid]", "equals": false}]}, "then": {"effect": "deny"}},
      "version": "2.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/cli-test-extpol000002?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_external_policy000003","policyType":"Custom","mode":"Indexed","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-06-01T17:19:36.2741938Z","updatedBy":null,"updatedOn":null},"version":"2.0.0","parameters":{"allowedLocations":{"type":"Array","metadata":{"description":"The
        list of locations that can be specified when deploying resources","strongType":"location","displayName":"Allowed
        locations"},"allowedValues":[null,[],["australiaeast","eastus","japaneast","westus"],["eastus"]]}},"policyRule":{"if":{"allOf":[{"field":"location","in":"[parameters(''allowedLocations'')]"},{"value":"[claims().isValid]","equals":false}]},"then":{"effect":"deny"}},"versions":["2.0.0"],"externalEvaluationEnforcementSettings":{"endpointSettings":{"kind":"CoinFlip"},"missingTokenAction":"Deny","resultLifespan":"PT1H","roleDefinitionIds":["/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"]}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/cli-test-extpol000002","type":"Microsoft.Authorization/policyDefinitions","name":"cli-test-extpol000002","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-01T17:19:36.25345Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-01T17:19:36.25345Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"displayName": "test_external_policy000003", "externalEvaluationEnforcementSettings":
      {"endpointSettings": {"kind": "CoinFlip"}, "missingTokenAction": "Deny", "resultLifespan":
      "PT1H", "roleDefinitionIds": ["/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"]},
      "mode": "Indexed", "parameters": {"allowedLocations": {"allowedValues": [null,
      [], ["australiaeast", "eastus", "japaneast", "westus"], ["e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/policyDefinitions/cli-test-extpol000002?api-version=2025-11-01
  response:
    body:
      string: '{"error":{"code":"PolicyDefinitionNotFound","message":"The policy definition
        ''cli-test-extpol000002'' could not be found."}}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
