interactions:
- request:
    body: '{"properties": {"level": "CanNotDelete"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lock000001?api-version=2016-09-01
  response:
    body:
      string: '{"properties":{"level":"CanNotDelete"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lock000001","type":"Microsoft.Authorization/locks","name":"cli-test-lock000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks?api-version=2016-09-01
  response:
    body:
      string: '{"value":[{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lockhpj4whako6oqxnycgfbnscx6mte2nx3vqxg","type":"Microsoft.Authorization/locks","name":"cli-test-lockhpj4whako6oqxnycgfbnscx6mte2nx3vqxg"},{"properties":{"level":"CanNotDelete"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lock000001","type":"Microsoft.Authorization/locks","name":"cli-test-lock000001"},{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_readonly_resource_locklftzghcwwmkh4gbdknewamhfls7o6ffh4hi3he6rghhz/providers/Microsoft.Network/virtualNetworks/cli.lock.rsrcmzuh6nco5564l535o/providers/Microsoft.Authorization/locks/cli-test-locknwmz7wfaghrivb5pvfgsc32c7yhk4kuv73lavepvu7bqfyn3nmh7vok7nlyy6","type":"Microsoft.Authorization/locks","name":"cli-test-locknwmz7wfaghrivb5pvfgsc32c7yhk4kuv73lavepvu7bqfyn3nmh7vok7nlyy6"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"level": "ReadOnly", "notes": "notes000002"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lock000001?api-version=2016-09-01
  response:
    body:
      string: '{"properties":{"level":"ReadOnly","notes":"notes000002"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lock000001","type":"Microsoft.Authorization/locks","name":"cli-test-lock000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks?api-version=2016-09-01
  response:
    body:
      string: '{"value":[{"properties":{"level":"ReadOnly","notes":"notesqzln6ymonqo6fui"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lockhpj4whako6oqxnycgfbnscx6mte2nx3vqxg","type":"Microsoft.Authorization/locks","name":"cli-test-lockhpj4whako6oqxnycgfbnscx6mte2nx3vqxg"},{"properties":{"level":"CanNotDelete","notes":"notes000002"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks/cli-test-lock000001","type":"Microsoft.Authorization/locks","name":"cli-test-lock000001"},{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_readonly_resource_locklftzghcwwmkh4gbdknewamhfls7o6ffh4hi3he6rghhz/providers/Microsoft.Network/virtualNetworks/cli.lock.rsrcmzuh6nco5564l535o/providers/Microsoft.Authorization/locks/cli-test-locknwmz7wfaghrivb5pvfgsc32c7yhk4kuv73lavepvu7bqfyn3nmh7vok7nlyy6","type":"Microsoft.Authorization/locks","name":"cli-test-locknwmz7wfaghrivb5pvfgsc32c7yhk4kuv73lavepvu7bqfyn3nmh7vok7nlyy6"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
