interactions:
- request:
    body: 'b''{"properties": {"parameters": {"CrossRg": {"value": "cli_test_cross_rg_alt000001"},
      "StorageAccountName1": {"value": "crossrgurk7om72gyqw6vwdp"}, "StorageAccountName2":
      {"value": "crossrg36eo7l4bltsr2eush"}}, "mode": "Incremental", template:{\r\n  "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",\r\n  "contentVersion":
      "1.0.0.0",\r\n  "parameters": {\r\n    "StorageAccountName1": {\r\n      "type":
      "string",\r\n      "defaultValue": "test1ddosdatest72"\r\n    },\r\n    "StorageAccountName2":
      {\r\n      "type": "string",\r\n      "defaultValue": "test1ddfosatdest73"\r\n    },\r\n    "CrossRg":
      {\r\n      "type": "string",\r\n      "defaultValue": "crossrg5"\r\n    }\r\n  },\r\n  "variables":
      {},\r\n  "resources": [\r\n    {\r\n      "apiVersion": "2017-05-10",\r\n      "name":
      "nestedTemplate",\r\n      "type": "Microsoft.Resources/deployments",\r\n      "resourceGroup":
      "[parameters(\''CrossRg\'')]",\r\n      "properties": {\r\n        "mode": "Incremental",\r\n        "template":
      {\r\n          "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",\r\n          "contentVersion":
      "1.0.0.0",\r\n          "parameters": {},\r\n          "variables": {},\r\n          "resources":
      [\r\n            {\r\n              "type": "Microsoft.Storage/storageAccounts",\r\n              "name":
      "[parameters(\''StorageAccountName2\'')]",\r\n              "apiVersion": "2015-06-15",\r\n              "location":
      "West US",\r\n              "properties": {\r\n                "accountType":
      "Standard_LRS"\r\n              }\r\n            }\r\n          ],\r\n          "outputs":
      {\r\n            "result": {\r\n              "value": "Hello World",\r\n              "type":
      "string"\r\n            }\r\n          }\r\n        },\r\n        "parameters":
      {}\r\n      }\r\n    },\r\n    {\r\n      "type": "Microsoft.Storage/storageAccounts",\r\n      "name":
      "[parameters(\''StorageAccountName1\'')]",\r\n      "apiVersion": "2015-06-15",\r\n      "location":
      "West US",\r\n      "properties": {\r\n        "accountType": "Standard_LRS"\r\n      }\r\n    }\r\n  ]\r\n}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/deployment_dry_run","name":"deployment_dry_run","type":"Microsoft.Resources/deployments","properties":{"templateHash":"364931828683175221","parameters":{"storageAccountName1":{"type":"String","value":"crossrgurk7om72gyqw6vwdp"},"storageAccountName2":{"type":"String","value":"crossrg36eo7l4bltsr2eush"},"crossRg":{"type":"String","value":"cli_test_cross_rg_alt000001"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-06-12T03:44:36.8356106Z","duration":"PT0S","correlationId":"b8297b54-73ac-42b2-b948-0c124f76e579","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]},{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_alt000001/providers/Microsoft.Resources/deployments/nestedTemplate"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Storage/storageAccounts/crossrgurk7om72gyqw6vwdp"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_alt000001/providers/Microsoft.Storage/storageAccounts/crossrg36eo7l4bltsr2eush"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
