interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1''
        under resource group ''cli_test_deployment_stacks000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec000003''
        under resource group ''cli_test_deployment_stacks000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\":
        {},\r\n  \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2022-11-18T18:37:30.719309Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-11-18T18:37:30.719309Z\"\r\n  },\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-template-spec000003\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"linkedTemplates": [],
      "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"DeploymentStackResourceNotFound\",\r\n
        \   \"message\": \"The deployment stack '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002'
        could not be found.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach"}, "denySettings": {"applyToChildScopes":
      false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\":
        \"detach\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\":
        \"detach\"\r\n    },\r\n    \"denySettings\": {\r\n      \"mode\": \"none\",\r\n
        \     \"applyToChildScopes\": false\r\n    },\r\n    \"parameters\": {\r\n
        \     \"foo\": {\r\n        \"value\": \"abc\"\r\n      },\r\n      \"bar\":
        {\r\n        \"value\": \"xyz\"\r\n      }\r\n    },\r\n    \"resources\":
        [],\r\n    \"provisioningState\": \"initializing\",\r\n    \"detachedResources\":
        [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\": []\r\n  },\r\n
        \ \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2022-11-18T18:37:34.0621797Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-11-18T18:37:34.0621797Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-create-deployment-stack-resource-group000002\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/70c4d2dd-4b34-44de-9b6e-678fa6eb9341?api-version=2022-08-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/70c4d2dd-4b34-44de-9b6e-678fa6eb9341?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/70c4d2dd-4b34-44de-9b6e-678fa6eb9341\",\r\n
        \ \"name\": \"70c4d2dd-4b34-44de-9b6e-678fa6eb9341\",\r\n  \"status\": \"succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\":
        \"detach\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\":
        \"detach\"\r\n    },\r\n    \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-resou-2022-11-18-18-37-34-e86ed\",\r\n
        \   \"duration\": \"PT5.4080075S\",\r\n    \"denySettings\": {\r\n      \"mode\":
        \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\n    \"outputs\":
        {\r\n      \"foo\": {\r\n        \"type\": \"String\",\r\n        \"value\":
        \"abc\"\r\n      },\r\n      \"bar\": {\r\n        \"type\": \"String\",\r\n
        \       \"value\": \"xyz\"\r\n      }\r\n    },\r\n    \"parameters\": {\r\n
        \     \"foo\": {\r\n        \"value\": \"abc\"\r\n      },\r\n      \"bar\":
        [...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&api-version=2022-08-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1"},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach"}, "denySettings": {"applyToChildScopes":
      false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://manage[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/BicepLatestRelease
  response:
    body:
      string: ''
    headers:
      location:
      - https://api.github.com/repos/Azure/bicep/releases/latest
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/Azure/bicep/releases/latest
  response:
    body:
      string: '{"url":"https://api.github.com/repos/Azure/bicep/releases/82328589","assets_url":"https://api.github.com/repos/Azure/bicep/releases/82328589/assets","upload_url":"https://uploads.github.com/repos/Azure/bicep/releases/82328589/assets{?name,label}","html_url":"https://github.com/Azure/bicep/releases/tag/v0.12.40","id":82328589,"author":{"login":"jeskew","id":705500,"node_id":"MDQ6VXNlcjcwNTUwMA==","avatar_url":"https://avatars.githubusercontent.com/u/705500?v=4","gravatar_id":"","url":"https://api.github.com/users/jeskew","html_url":"https://github.com/jeskew","followers_url":"https://api.github.com/users/jeskew/followers","following_url":"https://api.github.com/users/jeskew/following{/other_user}","gists_url":"https://api.github.com/users/jeskew/gists{/gist_id}","starred_url":"https://api.github.com/users/jeskew/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jeskew/subscriptions","organizations_url":"https://api.github.com/users/jeskew/orgs","repos_url":"https://api.github.com/users/jeskew/repos","events_url":"https://api.github.com/users/jeskew/events{/privacy}","received_events_url":"https://api.github.com/users/jeskew/received_events","type":"User","site_admin":false},"node_id":"RE_kwDOD7S9ks4E6DwN","tag_name":"v0.12.40","target_commitish":"main","name":"v0.12.40","draft":false,"prerelease":false,"created_at":"2022-11-07T20:36:40Z","published_at":"2022-11-08T00:33:06Z","assets":[{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/83810432","id":83810432,"node_id":"RA_kwDOD7S9ks4E_tiA","name":"Azure.Bicep.CommandLine.linux-arm64.0.12.40.nupkg","label":"","uploader":{"login":"jeskew","id":705500,"node_id":"MDQ6VXNlcjcwNTUwMA==","avatar_url":"https://avatars.githubusercontent.com/u/705500?v=4","gravatar_id":"","url":"https://api.github.com/users/jeskew","html_url":"https://github.com/jeskew","followers_url":"https://api.github.com/users/jeskew/followers","following_url":"https://api.github.com/users/jeskew/following{/other_user}","gists_url":"https://api.github.com/users/jeskew/gists{/gist_id}","starred_url":"https://api.github.com/users/jeskew/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jeskew/subscriptions","organizations_url":"https://api.github.com/users/jeskew/orgs","repos_url":"https://api.github.com/users/jeskew/repos","events_url":"https://api.github.com/users/jeskew/events{/privacy}","received_events_url":"https://api.github.com/users/jeskew/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":21621241,"download_count":6,"created_at":"2022-11-08T00:14:33Z","updated_at":"2022-11-08T00:14:34Z","browser_download_url":"https://github.com/Azure/bicep/releases/download/v0.12.40/Azure.Bicep.CommandLine.linux-arm64.0.12.40.nupkg"},{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/83810410","id":83810410,"node_id":"RA_kwDOD7S9ks4E_thq","name":"Azure.Bicep.CommandLine.linux-x64.0.12.40.nupkg","label":"","uploader":{"login":"jeskew","id":705500,"node_id":"MDQ6VXNlcjcwNTUwMA==","avatar_url":"https://avatars.githubusercontent.com/u/705500?v=4","gravatar_id":"","url":"https://api.github.com/users/jeskew"[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.4.1124.51302", "templateHash": "13318272087014647935"}}, "parameters": {"location":
      {"type": "string", "defaultValue": "centralus"}, "storageAccountName": {"type":
      "string", "defaultValue": "uniquestorage001", "maxLength": 24, "minLength":
      3}}, "resources": [{"type": "Providers.Test/statefulResources", "apiVersion":
      "2014-04-01", "name": "[parameters(''storageAccountName'')]", "location": "[parameters(''location'')]"}],
      "outputs": {"storageId": {"type": "string", "value": "[resourceId(''Providers.Test/statefulResources'',
      parameters(''storageAccountName''))]"}}}, "parameters": {}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach"}, "denySettings": {"applyToChildScopes":
      false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\":
        \"detach\",\r\n      \"resourceGroups\": \"detach\",\r\n      \"managementGroups\":
        \"detach\"\r\n    },\r\n    \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-resou-2022-11-18-18-38-21-bf3bb\",\r\n
        \   \"duration\": \"PT9.011189S\",\r\n    \"denySettings\": {\r\n      \"mode\":
        \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\n    \"outputs\":
        {\r\n      \"storageId\": {\r\n        \"type\": \"String\",\r\n        \"value\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Providers.Test/statefulResources/uniquestorage001\"\r\n
        \     }\r\n    },\r\n    \"parameters\": {},\r\n    \"resources\": [\r\n      {\r\n
        \       \"status\": \"managed\",\r\n        \"denyStatus\": \"none\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Providers.Test/statefulResources/uniquestorage001\"\r\n
        \     }\r\n    ],\r\n    \"provisioningState\": \"succeeded\",\r\n    \"detachedResources\":
        [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\": []\r\n  },\r\n
        \ \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2022-11-18T18:38:21.7336631Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-11-18T18:38:21.7336631Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-create-deployment-stack-resource-group000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.10.61.36676", "templateHash": "11934527272858304086"}}, "parameters": {"name":
      {"type": "string"}, "specVersionName": {"type": "string", "defaultValue": "v1"},
      "location": {"type": "string", "defaultValue": "[resourceGroup().location]"}},
      "resources": [{"type": "Microsoft.Resources/templateSpecs", "apiVersion": "2022-02-01",
      "name": "[parameters(''name'')]", "location": "[parameters(''location'')]",
      "properties": {"displayName": "DanteTemplateSpec", "description": "Template
      Spec for testing stacks."}}, {"type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2022-02-01", "name": "[format(''{0}/{1}'', parameters(''name''),
      parameters(''specVersionName''))]", "location": "[parameters(''location'')]",
      "properties": {"description": "generated version number for testing stacks",
      "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "functions": [], "variables":
      {}, "resources": [], "outputs": {}}}, "dependsOn": ["[resourceId(''Microsoft.Resources/templateSpecs'',
      parameters(''name''))]"]}]}, "parameters": {"name": {"value": "cli-test-resource-one000004"}},
      "actionOnUnmanage": {"resources": "detach", "resourceGroups": "detach"}, "denySettings":
      {"applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources","namespace":"Microsoft.Resources","authorizations":[{"applicationId":"3b990c8b-9607-4c2a-8b04-1d41985facca"},{"applicationId":"94946920-7f9c-4956-93c0-2fcf94608102"}],"resourceTypes":[{"resourceType":"tenants","locations":[],"apiVersions":["2020-01-01","2019-09-01","2019-05-01","2019-04-01","2019-03-01","2018-11-01","2018-09-01","2018-08-01","2018-07-01","2018-05-01","2018-02-01","2018-01-01","2017-08-01","2017-06-01","2017-05-10","2017-05-01","2017-03-01","2016-09-01","2016-07-01","2016-06-01","2016-02-01","2015-11-01","2015-01-01","2014-04-01-preview"],"apiProfiles":[{"profileVersion":"2018-06-01-profile","apiVersion":"2016-06-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2016-06-01"}],"capabilities":"None"},{"resourceType":"locations","locations":[],"apiVersions":["2019-09-01","2019-05-01","2019-04-01","2019-03-01","2018-11-01","2018-09-01","2018-08-01","2018-07-01","2018-05-01","2018-02-01","2018-01-01","2017-08-01","2017-06-01","2017-05-10","2017-05-01","2017-03-01","2016-09-01","2016-07-01","2016-06-01","2016-02-01","2015-11-01","2015-01-01","2014-04-01-preview"],"apiProfiles":[{"profileVersion":"2018-06-01-profile","apiVersion":"2016-06-01"},{"profileVersion":"2019-03-01-hybrid","apiVer[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"displayName\":
        \"DanteTemplateSpec\",\r\n    \"description\": \"Template Spec for testing
        stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2022-11-18T18:38:44.6001403Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-11-18T18:38:45.0063442Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-resource-one000004\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-two000005?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"displayName\":
        \"DanteTemplateSpec\",\r\n    \"description\": \"Template Spec for testing
        stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2022-11-18T18:39:03.6136448Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-11-18T18:39:04.1292719Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-two000005\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-resource-two000005\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-three000006?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"displayName\":
        \"DanteTemplateSpec\",\r\n    \"description\": \"Template Spec for testing
        stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2022-11-18T18:39:26.753452Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2022-11-18T18:39:27.0347119Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-resource-three000006\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-resource-three000006\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-cli_test_deployment_stacks-two000007?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007","name":"cli-test-cli_test_deployment_stacks-two000007","type":"Microsoft.Resources/resourceGroups","location":"westus2","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"DeploymentStackResourceNotFound\",\r\n
        \   \"message\": \"The deployment stack '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-resource-group000002'
        could not be found.\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.10.97.17786", "templateHash": "66565252327750708"}}, "parameters": {"rgname":
      {"type": "string"}, "tsname": {"type": "string"}}, "resources": [{"type": "Microsoft.Resources/templateSpecs",
      "apiVersion": "2022-02-01", "name": "[parameters(''tsname'')]", "location":
      "[resourceGroup().location]"}, {"type": "Microsoft.Resources/deployments", "apiVersion":
      "2020-10-01", "name": "deploy-rg", "subscriptionId": "[subscription().subscriptionId]",
      "location": "[resourceGroup().location]", "properties": {"expressionEvaluationOptions":
      {"scope": "inner"}, "mode": "Incremental", "parameters": {"rgname": {"value":
      "[parameters(''rgname'')]"}}, "template": {"$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.10.97.17786", "templateHash": "16612974451088724402"}}, "parameters": {"rgname":
      {"type": "string"}}, "resources": [{"type": "Microsoft.Resources/resourceGroups",
      "[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli-test-cli_test_deployment_stacks-two000007%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2021-04-01
  response:
    body:
[...]
