interactions:
- request:
    body: "{\"properties\": {\"parameters\": {}, \"mode\": \"Incremental\", template:{\r\n
      \   \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n      \"storageAccountType\":
      {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Standard_LRS\",\r\n
      \       \"allowedValues\": [\r\n          \"Standard_LRS\",\r\n          \"Standard_GRS\",\r\n
      \         \"Standard_ZRS\",\r\n          \"Premium_LRS\"\r\n        ],\r\n        \"metadata\":
      {\r\n          \"description\": \"Storage Account type\"\r\n        }\r\n      },\r\n
      \     \"location\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\":
      \"[resourceGroup().location]\",\r\n        \"metadata\": {\r\n          \"description\":
      \"Location for all resources.\"\r\n        }\r\n      }\r\n    },\r\n    \"variables\":
      {\r\n      \"storageAccountName\": \"[concat('store', uniquestring(resourceGroup().id))]\"\r\n
      \   },\r\n    \"resources\": [\r\n      {\r\n        \"type\": \"Microsoft.Storage/storageAccounts\",\r\n
      \       \"apiVersion\": \"2019-04-01\",\r\n        \"name\": \"[variables('storageAccountName')]\",\r\n
      \       \"location\": \"[parameters('location')]\",\r\n        \"sku\": {\r\n
      \         \"name\": \"[parameters('storageAccountType')]\"\r\n        },\r\n
      \       \"kind\": \"StorageV2\",\r\n        \"properties\": {}\r\n      }\r\n
      \   ],\r\n    \"outputs\": {\r\n      \"storageAccountId\": {\r\n        \"type\":
      \"string\",\r\n        \"value\": \"[resourceId('Microsoft.Storage/storageAccounts',
      variables('storageAccountName'))]\"\r\n      }\r\n    }\r\n  }}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_what_if000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if000001/providers/Microsoft.Resources/deployments/storage_account_deploy","name":"storage_account_deploy","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6230226507688242128","parameters":{"storageAccountType":{"type":"String","value":"Standard_LRS"},"location":{"type":"String","value":"westus"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-06-12T03:43:39.8332644Z","duration":"PT0S","correlationId":"53ad8cf4-8420-4ac9-8f41-b92a197a3ec2","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_what_if000001/providers/Microsoft.Storage/storageAccounts/storebx65dmzsg5oyi"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
version: 1
