interactions:
- request:
    body: '{"properties": {"parameters": {"keyVaultName": {"value": "bicepkv000004"}},
      "mode": "Incremental", template:{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.37.4.10188","templateHash":"14716929485202359217"}},"parameters":{"keyVaultName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"},"tenantId":{"type":"string","defaultValue":"[subscription().tenantId]"}},"resources":[{"type":"Microsoft.KeyVault/vaults","apiVersion":"2023-07-01","name":"[parameters(''keyVaultName'')]","location":"[parameters(''location'')]","properties":{"sku":{"family":"A","name":"standard"},"tenantId":"[parameters(''tenantId'')]","accessPolicies":[],"enableRbacAuthorization":true,"enableSoftDelete":true,"softDeleteRetentionInDays":7}}],"outputs":{"keyVaultName":{"type":"string","value":"[parameters(''keyVaultName'')]"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.Resources/deployments/biceptest000002","name":"biceptest000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14716929485202359217","parameters":{"keyVaultName":{"type":"String","value":"bicepkv000004"},"location":{"type":"String","value":"westus"},"tenantId":{"type":"String","value":"213e87ed-8e08-4eb4-a63c-c073058f7b00"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-09-22T07:37:54.9907698Z","duration":"PT0S","correlationId":"231dad2b-bf85-48c7-965b-0232cd450288","providers":[{"namespace":"Microsoft.KeyVault","resourceTypes":[{"resourceType":"vaults","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.KeyVault/vaults/bicepkv000004"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"parameters": {"keyVaultName": {"value": "bicepkv000004"}},
      "mode": "Incremental", template:{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","metadata":{"_generator":{"name":"bicep","version":"0.37.4.10188","templateHash":"14716929485202359217"}},"parameters":{"keyVaultName":{"type":"string"},"location":{"type":"string","defaultValue":"[resourceGroup().location]"},"tenantId":{"type"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584430802086961242?api-version=2025-04-01&t=638941234793341206&c=MIIIpTCCBo2gAwIBAgITFgGpymN7LTW4kGDY9AABAanKYzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.Resources/deployments/biceptest000002","name":"biceptest000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14716929485202359217","parameters":{"keyVaultName":{"type":"String","value":"bicepkv000004"},"location":{"type":"String","value":"westus"},"tenantId":{"type":"String","value":"213e87ed-8e08-4eb4-a63c-c073058f7b00"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-09-22T07:38:18.3588839Z","duration":"PT21.5872572S","correlationId":"08b03456-9f54-4b0c-93d8-8109a8a3dc7a","providers":[{"namespace":"Microsoft.KeyVault","resourceTypes":[{"resourceType":"vaults","locations":["westus"]}]}],"dependencies":[],"outputs":{"keyVaultName":{"type":"String","value":"bicepkv000004"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.KeyVault/vaults/bicepkv000004"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584430801728145124?api-version=2025-04-01&t=638941235134480781&c=MIIIrzCCBpegAwIBAgITUQB9VQ7j8TP8msVbVQABAH1VDjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.Resources/deployments/?api-version=2025-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.Resources/deployments/armtest000003","name":"armtest000003","type":"Mi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.KeyVault/vaults/bicepkv000004?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.KeyVault/vaults/bicepkv000004","name":"bicepkv000004","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"780b0786-4007-4688-8198-cfe48ee40b16","createdByType":"Application","createdAt":"2025-09-22T07:37:59.927Z","lastModifiedBy":"780b0786-4007-4688-8198-cfe48ee40b16","lastModifiedByType":"Application","lastModifiedAt":"2025-09-22T07:37:59.927Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"213e87ed-8e08-4eb4-a63c-c073058f7b00","accessPolicies":[],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":true,"vaultUri":"https://bicepkv000004.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.KeyVault/vaults/armkv000005?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_bicep_vs_arm_opt000001/providers/Microsoft.KeyVault/vaults/armkv000005","name":"armkv000005","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"780b0786-4007-4688-8198-cfe48ee40b16","createdByType":"Application","createdAt":"2025-09-22T07:38:35.537Z","lastModifiedBy":"780b0786-4007-4688-8198-cfe48ee40b16","lastModifiedByType":"Application","lastModifiedAt":"2025-09-22T07:38:35.537Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"213e87ed-8e08-4eb4-a63c-c073058f7b00","accessPolicies":[],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":true,"vaultUri":"https://armkv000005.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
version: 1
