interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabil[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups?api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-managementaizr2dd4fz","type":"Microsoft.Management/managementGroups","name":"azure-cli-managementaizr2dd4fz","properties":{"tenantId":"c7a87cda-9a66-4920-b0f8-869baa04efe0","displayName":"azure-cli-managementaizr2dd4fz"}},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-managementb4osamcwmj","type":"Microsoft.Management/managementGroups","name":"azure-cli-managementb4osamcwmj","properties":{"tenantId":"c7a87cda-9a66-4920-b0f8-869baa04efe0","displayName":"azure-cli-managementb4osamcwmj"}},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-groupm2apk2ydbnxvjc","type":"Microsoft.Management/managementGroups","name":"azure-cli-management-gro[...]
