interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
<<<<<<< HEAD
      \"mode\": \"Incremental\", template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"scriptName\":
      {\r\n           \"type\": \"string\",\r\n           \"metadata\": {\r\n                \"description\":
      \"Deployment script name\"\r\n            }\r\n        },\r\n        \"utcValue\":
      {\r\n            \"type\": \"string\",\r\n            \"defaultValue\": \"[utcNow()]\"\r\n
      \       }\r\n    },\r\n    \"variables\": {},\r\n    \"resources\": [\r\n        {\r\n
      \           \"type\": \"Microsoft.Resources/deploymentScripts\",\r\n            \"apiVersion\":
      \"2020-10-01\",\r\n            \"name\": \"[parameters('scriptName')]\",\r\n
      \           \"location\": \"[resourceGroup().location]\",\r\n            \"identity\":
      {\r\n                \"type\": \"UserAssigned\",\r\n                \"userAssignedIdentities\":
      {\r\n                    \"[concat('/subscriptions/', subscription().subscriptionId,
      '/resourceGroups/python_sdk_test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/python_test_sdk_msi')]\":
      {}\r\n                }\r\n            },\r\n            \"kind\": \"AzureCLI\",\r\n
      \           \"properties\": {\r\n                \"forceUpdateTag\": \"[parameters('utcValue')]\",\r\n
      \               \"containerSettings\": {\r\n                    \"containerGroupName\":
      \"mycustomaci\"\t\r\n                },\r\n                \"AzCliVersion\":
      \"2.0.80\",\r\n                \"timeout\": \"PT30M\",\r\n                \"arguments\":
      \"'foo' 'bar'\",\r\n                \"scriptContent\": \"echo 'foo'\",\r\n                \"cleanupPreference\":
      \"OnExpiration\",\r\n                \"retentionInterval\": \"PT25H\"\r\n            }\r\n
      \       }\r\n    ],\r\n    \"outputs\": {}\r\n}}}"
=======
      \"mode\": \"Incremental\", template:{\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \   \"contentVersion\": \"1.0.0.0\",\n    \"parameters\": {\n        \"scriptName\":
      {\n           \"type\": \"string\",\n           \"metadata\": {\n                \"description\":
      \"Deployment script name\"\n            }\n        },\n        \"utcValue\":
      {\n            \"type\": \"string\",\n         [...]
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
<<<<<<< HEAD
      \"mode\": \"Incremental\", template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"scriptName\":
      {\r\n           \"type\": \"string\",\r\n           \"metadata\": {\r\n                \"description\":
      \"Deployment scrip[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.3.0 Azure-SDK-For-Python AZURECLI/2.15.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585954537297729970?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585954537297729970?api-version=2020-06-01
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.8.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586075305294305865?api-version=2020-06-01
>>>>>>> parent of eb4845f6b... commit merge
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 23 Nov 2020 17:40:20 GMT
=======
      - Mon, 06 Jul 2020 22:59:48 GMT
>>>>>>> parent of eb4845f6b... commit merge
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.3.0 Azure-SDK-For-Python AZURECLI/2.15.1
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.8.0
>>>>>>> parent of eb4845f6b... commit merge
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"11060508257052558624","parameters":{"scriptName":{"type":"String","value":"script000002"},"utcValue":{"type":"String","value":"20201123T173915Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-11-23T17:40:50.9888419Z","duration":"PT1M35.2842197S","correlationId":"31a432e3-f98c-4966-b411-988815a95e89","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["brazilsouth"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"10149382041214521334","parameters":{"scriptName":{"type":"String","value":"script000002"},"utcValue":{"type":"String","value":"20200706T225915Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T23:00:23.8282517Z","duration":"PT1M7.7812272S","correlationId":"449a7d8c-a884-4830-a9be-dfe833347850","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["westus"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
>>>>>>> parent of eb4845f6b... commit merge
    headers:
<<<<<<< HEAD
      - '1056'
      content-type:
      - application/json; charset=utf-8
      date:
      - Mon, 23 Nov 2020 17:41:21 GMT
=======
      - '1050'
      content-type:
      - application/json; charset=utf-8
      date:
      - Mon, 06 Jul 2020 23:00:48 GMT
>>>>>>> parent of eb4845f6b... commit merge
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.3.0 Azure-SDK-For-Python AZURECLI/2.15.1
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.8.0
>>>>>>> parent of eb4845f6b... commit merge
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002?api-version=2019-10-01-preview
  response:
    body:
      string: "{\r\n  \"kind\": \"AzureCLI\",\r\n  \"identity\": {\r\n    \"type\":
        \"userAssigned\",\r\n    \"tenantId\": \"c445fb81-7c35-42a5-a47b-4686cb6946f7\",\r\n
        \   \"userAssignedIdentities\": {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_sdk_test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/python_test_sdk_msi\":
<<<<<<< HEAD
        {\r\n        \"principalId\": \"73f6d2f6-b6da-44cc-b28b-1f34712cb932\",\r\n
        \       \"clientId\": \"8cbb3b8b-563d-414e-aefb-04d8462d26ff\"\r\n      }\r\n
        \   }\r\n  },\r\n  \"location\": \"brazilsouth\",\r\n  \"systemData\": {\r\n
        \   \"createdBy\": \"jcotillo@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n
        \   \"createdAt\": \"2020-11-23T17:39:25.436119Z\",\r\n    \"lastModifiedBy\":
        \"jcotillo@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\":
        \"2020-11-23T17:39:25.436119Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"forceUpdateTag\": \"20201123T173915Z\",\r\n    \"azCliVersion\":
        \"2.0.80\",\r\n    \"scriptContent\": \"echo 'foo'\",\r\n    \"arguments\":
        \"'foo' 'bar'\",\r\n    \"retentionInterval\": \"P1DT1H\",\r\n    \"timeout\":
        \"PT30M\",\r\n    \"containerSettings\": {\r\n      \"containerGroupName\":
        \"mycustomaci\"\r\n    },\r\n    \"status\": {\r\n      \"containerInstanceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.ContainerInstance/containerGroups/mycustomaci\",\r\n
        \     \"storageAccountId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Storage/storageAccounts/nfnbcqhqnv2i6azscripts\",\r\n
        \     \"startTime\": \"2020-11-23T17:39:27.8597014Z\",\r\n      \"endTime\":
        \"2020-11-23T17:40:43.1105927Z\",\r\n      \"expirationTime\": \"2020-11-24T18:40:43.1105927Z\"\r\n
=======
        {\r\n        \"principalId\": \"b19e90a0-0aac-4327-bac6-a450ad44b29b\",\r\n
        \       \"clientId\": \"cd623fc2-66a6-4126-819f-9ace62524668\"\r\n      }\r\n
        \   }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"systemData\": {\r\n    \"createdBy\":
        \"shenglong.li@outlook.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\":
        \"2020-07-06T22:59:19.4028359Z\",\r\n    \"lastModifiedBy\": \"shenglong.li@outloo[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.3.0 Azure-SDK-For-Python AZURECLI/2.15.1
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.8.0
>>>>>>> parent of eb4845f6b... commit merge
      accept-language:
      - en-US
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002?api-version=2019-10-01-preview
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Mon, 23 Nov 2020 17:41:32 GMT
=======
      - Mon, 06 Jul 2020 23:00:55 GMT
>>>>>>> parent of eb4845f6b... commit merge
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.9 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.3.0 Azure-SDK-For-Python AZURECLI/2.15.1
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.8.0
>>>>>>> parent of eb4845f6b... commit merge
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com[...]
