interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/templateSpecs/?api-version=2019-06-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"eastus\",\r\n
        \     \"tags\": {},\r\n      \"systemData\": {\r\n        \"createdBy\": \"gopremra@microsoft.com\",\r\n
        \       \"createdByType\": \"User\",\r\n        \"createdAt\": \"2020-05-20T15:21:56.6184382Z\",\r\n
        \       \"lastModifiedBy\": \"gopremra@microsoft.com\",\r\n        \"lastModifiedByType\":
        \"User\",\r\n        \"lastModifiedAt\": \"2020-05-20T15:21:57.8037153Z\"\r\n
        \     },\r\n      \"properties\": {\r\n        \"description\": \"{\\n    \\\"$schema\\\":
        \\\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\\\",\\n
        \   \\\"contentVersion\\\": \\\"1.0.0.2\\\",\\n    \\\"parameters\\\": {},\\n
        \   \\\"resources\\\": []\\n}\"\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Gokul-testRG/providers/Microsoft.Resources/templateSpecs/Gokul_templateSpec\",\r\n
        \     \"type\": \"Microsoft.Resources/templateSpecs\",\r\n      \"name\":
        \"Gokul_templateSpec\"\r\n    },\r\n    {\r\n      \"location\": \"eastus\",\r\n
        \     \"tags\": {},\r\n      \"systemData\": {\r\n        \"createdBy\": \"gopremra@microsoft.com\",\r\n
        \       \"createdByType\": \"User\",\r\n        \"createdAt\": \"2020-06-05T01:58:50.433471Z\",\r\n
        \       \"lastModifiedBy\": \"gopremra@microsoft.com\",\r\n        \"lastModifiedByType\":
        \"User\",\r\n        \"lastModifiedAt\": \"2020-06-05T01:58:51.6441298Z\"\r\n
        \     },\r\n      \"properties\": {},\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Gokul-testRG/providers/Microsoft.Resources/templateSpecs/GokulTemp2\",\r\n
        \     \"type\": \"Microsoft.Resources/templateSpecs\",\r\n      \"name\":
        \"GokulTemp2\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
