interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1''
        under resource group ''cli_test_deployment_stacks000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003?api-version=2021-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec000003''
        under resource group ''cli_test_deployment_stacks000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\":
        {},\r\n  \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-09-12T15:08:53.039322Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-09-12T15:08:53.039322Z\"\r\n  },\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-template-spec000003\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"linkedTemplates": [],
      "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2022-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource ''cli-test-create-deployment-stack-subscription000002''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "delete", "resourceGroups": "delete"}, "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000",
      "description": "stack deployment", "denySettings": {"mode": "none", "excludedPrincipals":
      ["principal1", "principal2"], "excludedActions": ["action1", "action2"], "applyToChildScopes":
      true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"delete\",\r\n      \"resourceGroups\":
        \"delete\",\r\n      \"managementGroups\": \"detach\"\r\n    },\r\n    \"deploymentScope\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n    \"description\":
        \"stack deployment\",\r\n    \"denySettings\": {\r\n      \"mode\": \"none\",\r\n
        \     \"applyToChildScopes\": true,\r\n      \"excludedPrincipals\": [\r\n
        \       \"principal1\",\r\n        \"principal2\"\r\n      ],\r\n      \"excludedActions\":
        [\r\n        \"action1\",\r\n        \"action2\"\r\n      ]\r\n    },\r\n
        \   \"parameters\": {\r\n      \"foo\": {\r\n        \"value\": \"abc\",\r\n
        \       \"type\": \"string\"\r\n      },\r\n      \"bar\": {\r\n        \"value\":
        \"xyz\",\r\n        \"type\": \"string\"\r\n      }\r\n    },\r\n    \"resources\":
        [],\r\n    \"provisioningState\": \"initializing\",\r\n    \"detachedResources\":
        [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\": []\r\n  },\r\n
        \ \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-09-12T15:08:55.4338649Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-09-12T15:08:55.4338649Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-create-deployment-stack-subscription000002\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/b92d03ab-34a1-4cfa-a045-f2b3834c571f?api-version=2022-08-01-preview&t=2023-09-12T15%3a08%3a55&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAzMDMyNjM2WhcNMjQwNzI4MDMyNjM2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/b92d03ab-34a1-4cfa-a045-f2b3834c571f?api-version=2022-08-01-preview&t=2023-09-12T15%3A08%3A55&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAzMDMyNjM2W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"delete\",\r\n      \"resourceGroups\":
        \"delete\",\r\n      \"managementGroups\": \"detach\"\r\n    },\r\n    \"deploymentId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-subsc-2023-09-12-15-08-55-5e742\",\r\n
        \   \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000\",\r\n
        \   \"description\": \"stack deployment\",\r\n    \"duration\": \"PT6.4805624S\",\r\n
        \   \"denySettings\": {\r\n      \"mode\": \"none\",\r\n      \"applyToChildScopes\":
        true,\r\n      \"excludedPrincipals\": [\r\n        \"principal1\",\r\n        \"principal2\"\r\n
        \     ],\r\n      \"excludedActions\": [\r\n        \"action1\",\r\n        \"action2\"\r\n
        \     ]\r\n    },\r\n    \"outputs\": {\r\n      \"foo\": {\r\n        \"type\":
        \"String\",\r\n        \"value\": \"abc\"\r\n      },\r\n      \"bar\": {\r\n
  [...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&api-version=2022-08-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"templateLink": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec000003/versions/v1"},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach"}, "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000",
      "denySettings": {"mode": "none", "applyToChildScopes": false}}}'
 [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/0b006274-3ba3-43a6-9df0-55d7924b7244?api-version=2022-08-01-preview&t=2023-09-12T15%3A09%3A52&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAzMDMyNjM2W[...]
[...]
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-cli_test_deployment_stacks-two000007?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007","name":"cli-test-cli_test_deployment_stacks-two000007","type":"Microsoft.Resources/resourceGroups","location":"westus2","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.10.61.36676", "templateHash": "11934527272858304086"}}, "parameters": {"name":
      {"type": "string"}, "specVersionName": {"type": "string", "defaultValue": "v1"},
      "location": {"type": "string", "defaultValue": "[resourceGroup().location]"}},
      "resources": [{"type": "Microsoft.Resources/templateSpecs", "apiVersion": "2022-02-01",
      "name": "[parameters(''name'')]", "location": "[parameters(''location'')]",
      "properties": {"displayName": "DanteTemplateSpec", "description": "Template
      Spec for testing stacks."}}, {"type": "Microsoft.Resources/templateSpecs/versions",
      "apiVersion": "2022-02-01", "name": "[format(''{0}/{1}'', parameters(''name''),
      parameters(''specVersionName''))]", "location": "[parameters(''location'')]",
      "properties": {"description": "generated version number for testing stacks",
      "mainTemplate": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "functions": [], "variables":
      {}, "resources": [], "outputs": {}}}, "dependsOn": ["[resourceId(''Microsoft.Resources/templateSpecs'',
      parameters(''name''))]"]}]}, "parameters": {"name": {"value": "cli-test-resource-one000004"}},
      "actionOnUnmanage": {"resources": "detach", "resourceGroups": "detach"}, "deploymentScope":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007",
      "denySettings": {"mode": "none", "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/j[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/53e2e0b7-fe10-49da-8075-670b2c90bcc3?api-version=2022-08-01-preview&t=2023-09-12T15%3A10%3A26&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAzMDMyNjM2W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"detach\",\r\n      \"resourceGroups\":
        \"detach\",\r\n      \"managementGroups\": \"detach\"\r\n    },\r\n    \"deploymentId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-subsc-2023-09-12-15-10-26-b576f\",\r\n
        \   \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007\",\r\n
        \   \"duration\": \"PT6.6408454S\",\r\n    \"denySettings\": {\r\n      \"mode\":
        \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\n    \"parameters\":
        {\r\n      \"name\": {\r\n        \"value\": \"cli-test-resource-one000004\",\r\n
        \       \"type\": \"string\"\r\n      }\r\n    },\r\n    \"resources\": [\r\n
        \     {\r\n        \"status\": \"managed\",\r\n        \"denyStatus\": \"none\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004\"\r\n
        \     },\r\n      {\r\n        \"status\": \"managed\",\r\n        \"denyStatus\":
        \"none\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resou[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/c8f132bc-cce8-44d4-a619-32cc56e419d7?api-version=2022-08-01-preview&t=2023-09-12T15%3A10%3A59&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAzMDMyNjM2W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources","namespace":"Microsoft.Resources","authorizations":[{"applicationId":"3b990c8b-9607-4c2a-8b04-1d41985facca"},{"applicationId":"94946920-7f9c-4956-93c0-2fcf94608102"}],"resourceTypes":[{"resourceType":"deploymentScripts","locations":["East
        Asia","Southeast Asia","Australia East","Australia Southeast","Brazil South","Canada
        Central","Canada East","Switzerland North","Germany West Central","East US
        2","East US","Central US","North Central US","France Central","UK South","UK
        West","Central India","South India","Jio India West","Japan East","Japan West","Korea
        Central","Korea South","North Europe","Norway East","Poland Central","Qatar
        Central","Sweden Central","UAE North","West Central US","West Europe","West
        US 2","West US","South Central US","West US 3","South Africa North","Central
        US EUAP","East US 2 EUAP"],"apiVersions":["2020-10-01","2019-10-01-preview"],"capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"deploymentScripts/logs","locations":["East
        Asia","Southeast Asia","Australia East","Australia Southeast","Brazil South","Canada
        Central","Canada East","Switzerland North","Germany West Central","East US
        2","East US","Central US","North Central US","France Central","UK South","UK
        West","Central India","South India","Jio India West","Japan East","Japan West","Korea
        Central","Korea South","North Europ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"displayName\":
        \"DanteTemplateSpec\",\r\n    \"description\": \"Template Spec for testing
        stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-09-12T15:10:29.4828678Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-09-12T15:10:30.2954159Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-resource-one000004\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-resource-two000005?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"displayName\":
        \"DanteTemplateSpec\",\r\n    \"description\": \"Template Spec for testing
        stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-09-12T15:11:02.8581938Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-09-12T15:11:03.405124Z\"\r\n  },\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-resource-two000005\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-resource-two000005\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/d271999a-b9b4-47f1-89ca-b0394e3d8ad9?api-version=2022-08-01-preview&t=2023-09-12T15%3A11%3A35&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAzMDMyNjM2W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-resource-three000006?api-version=2022-02-01
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"displayName\":
        \"DanteTemplateSpec\",\r\n    \"description\": \"Template Spec for testing
        stacks.\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-09-12T15:11:39.3638495Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-09-12T15:11:40.7544848Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-resource-three000006\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-resource-three000006\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli-test-cli_test_deployment_stacks-two000007%27&$expand=createdTime%2CchangedTime%2CprovisioningState&api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004","name":"cli-test-resource-one000004","type":"Microsoft.Resources/templateSpecs","location":"westus2","createdTime":"2023-09-12T15:10:29.4637179Z","changedTime":"2023-09-12T15:10:29.7485108Z","provisioningState":"Succeeded","systemData":{"createdBy":"harshpatel@microsoft.com","createdByType":"User","createdAt":"2023-09-12T15:10:29.4828678Z","lastModifiedBy":"harshpatel@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-12T15:10:29.4828678Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-cli_test_deployment_stacks-two000007/providers/Microsoft.Resources/templateSpecs/cli-test-resource-one000004/vers[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6MkRURVNUOjJEQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZTVEFDS1M6Mnw1OERFMjdEQjFCRjM0QkEwLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2022-09-01&t=2023-09-12T15%3A14%3A13&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6MkRURVNUOjJEQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZTVEFDS1M6Mnw1OERFMjdEQjFCRjM0QkEwLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2022-09-01&t=2023-09-12T15%3A14%3A29&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6MkRURVNUOjJEQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZTVEFDS1M6Mnw1OERFMjdEQjFCRjM0QkEwLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2022-09-01&t=2023-09-12T15%3A14%3A44&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6MkRURVNUOjJEQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZTVEFDS1M6Mnw1OERFMjdEQjFCRjM0QkEwLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2022-09-01&t=2023-09-12T15%3A14%3A59&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6MkRURVNUOjJEQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZTVEFDS1M6Mnw1OERFMjdEQjFCRjM0QkEwLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2022-09-01&t=2023-09-12T15%3A15%3A15&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImi[...]
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"rgLocation": {"type": "string",
      "defaultValue": "WestUS2"}, "name": {"type": "string"}}, "variables": {}, "resources":
      [{"type": "Microsoft.Resources/resourceGroups", "apiVersion": "2018-05-01",
      "location": "[parameters(''rgLocation'')]", "name": "[parameters(''name'')]"}],
      "outputs": {}}, "parameters": {"name": {"value": "cli-test-resource-one000004"}},
      "actionOnUnmanage": {"resources": "detach", "resourceGroups": "detach"}, "deploymentScope":
      "/subscriptions/00000000-00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/d3b1a642-9086-4d0f-a4ce-69a655f802a3?api-version=2022-08-01-preview&t=2023-09-12T15%3A15%3A33&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAzMDMyNjM2W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/c990b0c4-cfbc-4ed6-9468-eab7cca57653?api-version=2022-08-01-preview&t=2023-09-12T15%3A16%3A05&c=MIIHHjCCBgagAwIBAgITOgHdu1YTh8euUCK3igAEAd27VjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAzMDMyNjM2W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-test-resource-one000004?api-version=2022-09-01
  response:
    body:
[...]
