interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabil[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "azure-cli-management000002", "properties": {"details": {"parent":
      {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management000002","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management000002?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.1625
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management000002","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management000002?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.1625
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management000002","status":"Succeeded","properties":{"tenantId":"c445fb81-7c35-42a5-a47b-4686cb6946f7","displayName":"azure-cli-management000002","details":{"version":1,"updatedTime":"2021-06-15T03:56:48.2069365Z","updatedBy":"d76d90a0-ab79-4214-86ad-241a0c7ecd85","parent":{"id":"/providers/Microsoft.Management/managementGroups/c445fb81-7c35-42a5-a47b-4686cb6946f7","name":"c445fb81-7c35-42a5-a47b-4686cb6946f7","displayName":"Tenant
        Root Group"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.1625
    status:
      code: 200
      message: OK
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedsubId\":
      {\"value\": \"a93e8c5c-63cb-4635-933f-6d166ac25187\"}, \"targetMG\": {\"value\":
      \"azure-cli-management000002\"}, \"nestedRG\": {\"value\": \"azure-cli-sub-resource-group000003\"},
      \"storageAccountName\": {\"value\": \"armbuilddemo000005\"}}, \"mode\": \"Incremental\",
      template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/managementGroupDeploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"targetMG\":
      {\r\n      \"type\": \"string\"\r\n    },\r\n    \"nestedsubId\": {\r\n      \"type\":
      \"string\"\r\n    },\r\n    \"nestedRG\": {\r\n      \"type\": \"string\"\r\n
      \   },\r\n    \"storageAccountName\": {\r\n      \"type\": \"string\"\r\n    }\r\n
      \ },\r\n  \"variables\": {\r\n    \"mgScope\": \"[concat('/providers/Microsoft.Management/managementGroups/',
      parameters('targetMG'))]\"\r\n  },\r\n  \"resources\": [\r\n    {\r\n      \"type\":
      \"Microsoft.Authorization/policyDefinitions\",\r\n      \"name\": \"policy2\",\r\n
      \     \"apiVersion\": \"2016-12-01\",\r\n      \"properties\": {\r\n        \"policyType\":
      \"Custom\",\r\n        \"parameters\": {\r\n\r\n        },\r\n        \"policyRule\":
      {\r\n          \"if\": {\r\n            \"field\": \"location\",\r\n            \"equals\":
      \"northeurope\"\r\n          },\r\n          \"then\": {\r\n            \"effect\":
      \"deny\"\r\n          }\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"type\":
      \"Microsoft.Authorization/policyAssignments\",\r\n      \"name\": \"location-lock\",\r\n
      \     \"apiVersion\": \"2016-12-01\",\r\n      \"dependsOn\": [\r\n        \"policy2\"\r\n
      \     ],\r\n      \"properties\": {\r\n        \"scope\": \"[variables('mgScope')]\",\r\n
      \       \"policyDefinitionId\": \"[concat(variables('mgScope'), '/providers/',
      'Microsoft.Authorization/policyDefinitions/', 'policy2')]\"\r\n      }\r\n    },\r\n
      \   {\r\n      \"type\": \"Microsoft.Resources/deployments\",\r\n      \"name\":
      \"sdktest-subnested\",\r\n      \"apiVersion\": \"2018-05-01\",\r\n      \"location\":
      \"West US\",\r\n      \"subscriptionId\": \"[parameters('nestedSubId')]\",\r\n
      \     \"properties\": {\r\n        \"template\": {\r\n          \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {\r\n\r\n
      \         },\r\n          \"variables\": {\r\n\r\n          },\r\n          \"resources\":
      [\r\n            {\r\n              \"type\": \"Microsoft.Resources/resourceGroups\",\r\n
      \             \"name\": \"[parameters('nestedRG')]\",\r\n              \"apiVersion\":
      \"2018-05-01\",\r\n              \"location\": \"East US 2 EUAP\",\r\n              \"properties\":
      {\r\n\r\n              }\r\n            },\r\n            {\r\n              \"type\":
      \"Microsoft.Resources/deployments\",\r\n              \"name\": \"rg-nested\",\r\n
      \             \"apiVersion\": \"2017-05-10\",\r\n              \"resourceGroup\":
      \"[parameters('nestedRG')]\",\r\n              \"dependsOn\": [ \"[parameters('nestedRG')]\"
      ],\r\n              \"properties\": {\r\n                \"template\": {\r\n
      \                 \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \                 \"contentVersion\": \"1.0.0.0\",\r\n                  \"parameters\":
      {\r\n\r\n                  },\r\n                  \"variables\": {\r\n\r\n
      \                 },\r\n                  \"resources\": [\r\n                    {\r\n
      \                     \"type\": \"Microsoft.Storage/storageAccounts\",\r\n                      \"name\":
      \"[parameters('storageAccountName')]\",\r\n                      \"apiVersion\":
      \"2015-06-15\",\r\n                      \"location\": \"East US\",\r\n                      \"properties\":
      {\r\n                        \"accountType\": \"Standard_LRS\",\r\n                        \"supportsHttpsTrafficOnly\":
      true\r\n                      }\r\n                    }\r\n                  ]\r\n
      \               },\r\n                \"mode\": \"Incremental\"\r\n              }\r\n
      \           }\r\n          ]\r\n        },\r\n        \"mode\": \"Incremental\"\r\n
      \     }\r\n    }\r\n  ] // comment\r\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/management_group_level_template","name":"management_group_level_template","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"13634145777404228626","parameters":{"targetMG":{"type":"String","value":"azure-cli-management000002"},"nestedsubId":{"type":"String","value":"a93e8c5c-63cb-4635-933f-6d166ac25187"},"nestedRG":{"type":"String","value":"azure-cli-sub-resource-group000003"},"storageAccountName":{"type":"String","value":"armbuilddemo000005"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2021-06-15T03:57:16.5887709Z","duration":"PT0S","correlationId":"4c7a71ad-f880-45a6-b097-edfca9aac2b5","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]},{"resourceType":"policyAssignments","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Authorization/policyDefinitions/policy2","resourceType":"Microsoft.Authorization/policyDefinitions","resourceName":"policy2"}],"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Authorization/policyAssignments/location-lock","resourceType":"Microsoft.Authorization/policyAssignments","resourceName":"location-lock"}],"validatedResources":[{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Authorization/policyAssignments/location-lock"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/sdktest-subnested"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-sub-resource-group000003"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-sub-resource-group000003/providers/Microsoft.Resources/deployments/rg-nested"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-sub-resource-group000003/providers/Microsoft.Storage/storageAccounts/armbuilddemo000005"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedsubId\":
      {\"value\": \"a93e8c5c-63cb-4635-933f-6d166ac25187\"}, \"targetMG\": {\"value\":
      \"azure-cli-management000002\"}, \"nestedRG\": {\"value\": \"azure-cli-sub-resource-group000003\"},
      \"storageAccountName\": {\"value\": \"armbuilddemo000005\"}}, \"mode\": \"Incremental\",
      template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/managementGroupDeplo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585778774448680638?api-version=2021-01-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/azure-cli-management-group-deployment000001","name":"azure-cli-management-group-deployment0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/?$filter=provisioningState%20eq%20%27Succeeded%27&api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/azure-cli-management-group-deployment000001",[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2021-01-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2019-08-01/managementGroupDeploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"targetMG":{"type":"String"},"nestedsubId":{"type":"String"},"nestedRG":{"type":"String"},"storageAccountName":{"type":"String"}},"variables":{"mgScope":"[concat(''/providers/Microsoft.Management/managementGroups/'',
        parameters(''targetMG''))]"},"resources":[{"type":"Microsoft.Authorization/policyDefinitions","apiVersion":"2016-12-01","name":"policy2","properties":{"policyType":"Custom","parameters":{},"policyRule":{"if":{"field":"location","equals":"northeurope"},"then":{"effect":"deny"}}}},{"type":"Microsoft.Authorization/policyAssignments","apiVersion":"2016-12-01","name":"location-lock","dependsOn":["policy2"],"properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/mock-deployment/operations?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/azure-cli-management-group-deployment000001/operations/2C926A40A27C639A","operationId":"2C926A40A27C639A","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2021-06-15T03:58:15.871008Z","duration":"PT51.4947636S","trackingId":"4da5499d-e323-4a6e-a29a-91cd56c74c49","serviceRequestId":"a560d9f8-a52a-4bf5-9eca-0cf1c79a9ac5","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/sdktest-subnested","resourceType":"Microsoft.Resources/deployments","resourceName":"sdktest-subnested"}}},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/azure-cli-management-group-deployment000001/operations/1A646C3EE9F2DDBA","operationId":"1A646C3EE9F2DDBA","properties":{"provisioningOperation":"Create","provisioningSt[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002/providers/Microsoft.Resources/deployments/mock-deployment/cancel?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-tenant-writes:
      - '1197'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management000002","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/azure-cli-management000002?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.1625
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/azure-cli-management000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management000002","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.1625
    status:
      code: 200
      message: OK
version: 1
