interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabilities":"None"},{"resourceT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "azure-cli-management-group000002", "properties": {"details":
      {"parent": {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.1589
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.1589
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"Succeeded","properties":{"tenantId":"01a4073e-87c8-47cd-aafc-1439b4b5ea2c","displayName":"azure-cli-management-group000002","details":{"version":1,"updatedTime":"2020-12-16T22:18:12.3600316Z","updatedBy":"5310aa29-9a44-4cbc-adb3-6347a539537e","parent":{"id":"/providers/Microsoft.Management/managementGroups/01a4073e-87c8-47cd-aafc-1439b4b5ea2c","name":"01a4073e-87c8-47cd-aafc-1439b4b5ea2c","displayName":"Tenant
        Root Group"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.1589
    status:
      code: 200
      message: OK
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"targetMG\":
      {\"value\": \"azure-cli-management-group000002\"}}, \"mode\": \"Incremental\",
      template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/tenantDeploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"targetMG\":
      {\r\n      \"type\": \"string\",\r\n      \"defaultValue\": \"cli_tenant_level_deployment_mg\"\r\n
      \   },\r\n    \"nestedSubId\": {\r\n      \"type\": \"string\",\r\n      \"defaultValue\":
      \"6898adc8-5045-473d-a1bf-7012564f43cb\"\r\n    },\r\n    \"nestedRG\": {\r\n
      \     \"type\": \"string\",\r\n      \"defaultValue\": \"cli_tenant_level_deployment\"\r\n
      \   },\r\n    \"roleDefinitionId\": {\r\n      \"type\": \"string\",\r\n      \"defaultValue\":
      \"0cb07228-4614-4814-ac1a-c4e39793ce58\"\r\n    }\r\n  },\r\n  \"variables\":
      {\r\n    \"managementGroupScope\": \"[concat('Microsoft.Management/managementGroups/',
      parameters('targetMG'))]\",\r\n    \"managementGroupFullyQualifiedId\": \"[concat('/providers/',
      variables('managementGroupScope'))]\"\r\n  },\r\n  \"resources\": [\r\n    {\r\n
      \     \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\":
      \"[parameters('roleDefinitionId')]\",\r\n      \"apiVersion\": \"2018-07-01\",\r\n
      \     \"properties\": {\r\n        \"roleName\": \"Tiano SDK Test Role\",\r\n
      \       \"description\": \"something\",\r\n        \"type\": \"CustomRole\",\r\n
      \       \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n
      \             \"Microsoft.Storage/*/read\"\r\n            ],\r\n            \"notActions\":
      [\r\n\r\n            ]\r\n          }\r\n        ],\r\n        \"assignableScopes\":
      [\r\n          \"[variables('managementGroupFullyQualifiedId')]\"\r\n        ]\r\n
      \     }\r\n    },\r\n    {\r\n      \"type\": \"Microsoft.Resources/deployments\",\r\n
      \     \"name\": \"mg-nested\",\r\n      \"apiVersion\": \"2019-07-01\",\r\n
      \     \"location\": \"West US\",\r\n      \"scope\": \"[variables('managementGroupScope')]\",\r\n
      \     \"properties\": {\r\n        \"template\": {\r\n          \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {\r\n\r\n
      \         },\r\n          \"variables\": {\r\n\r\n          },\r\n          \"resources\":
      [\r\n            {\r\n              \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n
      \             \"name\": \"policy2\",\r\n              \"apiVersion\": \"2016-12-01\",\r\n
      \             \"properties\": {\r\n                \"policyType\": \"Custom\",\r\n
      \               \"parameters\": {\r\n\r\n                },\r\n                \"policyRule\":
      {\r\n                  \"if\": {\r\n                    \"field\": \"location\",\r\n
      \                   \"equals\": \"northeurope\"\r\n                  },\r\n
      \                 \"then\": {\r\n                    \"effect\": \"deny\"\r\n
      \                 }\r\n                }\r\n              }\r\n            }\r\n
      \         ]\r\n        },\r\n        \"mode\": \"Incremental\"\r\n      }\r\n
      \   },\r\n    {\r\n      \"type\": \"Microsoft.Resources/deployments\",\r\n
      \     \"name\": \"sub-nested\",\r\n      \"apiVersion\": \"2019-07-01\",\r\n
      \     \"location\": \"East US\",\r\n      \"subscriptionId\": \"[parameters('nestedSubId')]\",\r\n
      \     \"properties\": {\r\n        \"template\": {\r\n          \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {\r\n\r\n
      \         },\r\n          \"variables\": {\r\n\r\n          },\r\n          \"resources\":
      [\r\n            {\r\n              \"type\": \"Microsoft.Resources/resourceGroups\",\r\n
      \             \"name\": \"[parameters('nestedRG')]\",\r\n              \"apiVersion\":
      \"2019-07-01\",\r\n              \"location\": \"East US 2\",\r\n              \"properties\":
      {\r\n\r\n              }\r\n            }\r\n          ]\r\n        },\r\n        \"mode\":
      \"Incremental\"\r\n      }\r\n    }\r\n  ] // comment\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Resources/deployments/tenant_level_template","name":"tenant_level_template","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"8536665170801743029","parameters":{"targetMG":{"type":"String","value":"azure-cli-management-group000002"},"nestedSubId":{"type":"String","value":"6898adc8-5045-473d-a1bf-7012564f43cb"},"nestedRG":{"type":"String","value":"cli_tenant_level_deployment"},"roleDefinitionId":{"type":"String","value":"0cb07228-4614-4814-ac1a-c4e39793ce58"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-12-16T22:18:37.6821056Z","duration":"PT0S","correlationId":"6ca28245-7f42-4835-989e-9ab3b242f396","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"roleDefinitions","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":["westus","eastus"]}]}],"dependencies":[],"validatedResources":[{"id":"/providers/Microsoft.Authorization/roleDefinitions/0cb07228-4614-4814-ac1a-c4e39793ce58"},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Resources/deployments/mg-nested"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/sub-nested"},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tenant_level_deployment"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"targetMG\":
      {\"value\": \"azure-cli-management-group000002\"}}, \"mode\": \"Incremental\",
      template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/tenantDeploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"targetMG\":
      {\r\n      \"type\": \"string\",\r\n      \"defaultValue\": \"cli_tenant_level_deployment_mg\"\r\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585934497667211196?api-version=2020-10-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001","name":"azure-cli-tenant-level-deployment000001","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"8536665170801743029","parameters":{"targetMG":{"type":"String","value":"azure-cli-management-group000002"},"nestedSubId":{"type":"String","value":"6898adc8-5045-473d-a1bf-7012564f43cb"},"nestedRG":{"type":"String","value":"cli_tenant_level_deployment"},"roleDefinitionId":{"type":"String","value":"0cb07228-4614-4814-ac1a-c4e39793ce58"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-12-16T22:19:22.8826165Z","duration":"PT44.1261168S","correlationId":"e4420285-fbb9-478f-8345-e252008cf4d6","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"roleDefinitions","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":["westus","eastus"]}]}],"dependencies":[],"outputResources":[{"id":"/providers/Microsoft.Authorization/roleDefinitions/0cb07228-4614-4814-ac1a-c4e39793ce58"},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tenant_level_deployment"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/?api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001","name":"azure-cli-tenant-level-deployment000001","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"8536665170801743029","parameters":{"targetMG":{"type":"String",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/?$filter=provisioningState%20eq%20%27Succeeded%27&api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001","name":"azure-cli-tenant-level-deployment000001","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"85366651708017[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2020-10-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2019-08-01/tenantDeploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"targetMG":{"defaultValue":"cli_tenant_level_deployment_mg","type":"String"},"nestedSubId":{"defaultValue":"6898adc8-5045[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/operations?api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001/operations/9420161AC71E11CE","operationId":"9420161AC71E11CE","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-12-16T22:19:22.7094647Z","duration":"PT41.9800781S","trackingId":"b0a716c3-8288-45d8-ba35-5341430de037","serviceRequestId":"30bb05e9-bfb8-43f8-b76e-433327889266","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/sub-nested","resourceType":"Microsoft.Resources/deployments","resourceName":"sub-nested"}}},{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001/operations/2A215292A77CB8A1","operationId":"2A215292A77CB8A1","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-12-16T22:18:42.1663027Z","duration":"PT1.4369161S","trackingId":"6721bfd9-79e0-484b-9ff4-64bbc0dd1db3","serviceRequestId":"0f7d8ba4-af20-4aaa-b81a-eb3be900279b","statusCode":"Created","targetResource":{"id":"/providers/Microsoft.Author[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/cancel?api-version=2020-10-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_tenant_level_deployment?api-version=2020-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURU5BTlQ6NUZMRVZFTDo1RkRFUExPWU1FTlQtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2020-10-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURU5BTlQ6NUZMRVZFTDo1RkRFUExPWU1FTlQtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2020-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURU5BTlQ6NUZMRVZFTDo1RkRFUExPWU1FTlQtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2020-10-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.1589
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.1589
    status:
      code: 200
      message: OK
version: 1
