interactions:
- request:
    body: '{"properties": {"displayName": "test_policy000003", "description": "desc_for_test_policy_123",
      "policyRule": {"if": {"not": {"field": "location", "in": "[parameters(''allowedLocations'')]"}},
      "then": {"effect": "deny"}}, "parameters": {"allowedLocations": {"type": "array",
      "metadata": {"displayName": "Allowed locations", "description": "The list of
      locations that can be specified when deploying resources", "strongType": "location"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/azure-cli-test-policy000002?api-version=2021-06-01
  response:
    body:
      string: '{"error":{"code":"PolicyDefinitionQuotaExceeded","message":"Creating
        policy definition ''azure-cli-test-policy000002'' would exceed the quota at
        current scope. Existing policy definitions: ''500'', the quota is: ''500''."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
    status:
      code: 409
      message: Conflict
version: 1
