interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabilities":"None"},{"resourceType":"managementGroups/set[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "azure-cli-management-group000002", "properties": {"details":
      {"parent": {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.1582
      x-ms-ratelimit-remaining-tenant-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.1582
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"Succeeded","properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","displayName":"azure-cli-management-group000002","details":{"version":1,"updatedTime":"2020-08-28T10:20:59.9406969Z","updatedBy":"9ac534f1-d577-4034-a32d-48de400dacbf","parent":{"id":"/providers/Microsoft.Management/managementGroups/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","name":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","displayName":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.1582
    status:
      code: 200
      message: OK
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"targetMG\":
      {\"value\": \"azure-cli-management-group000002\"}}, \"mode\": \"Incremental\",
      template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/tenantDeploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"targetMG\":
      {\r\n      \"type\": \"string\",\r\n      \"defaultValue\": \"cli_tenant_level_deployment_mg\"\r\n
      \   },\r\n    \"nestedSubId\": {\r\n      \"type\": \"string\",\r\n      \"defaultValue\":
      \"0b1f6471-1bf0-4dda-aec3-cb9272f09590\"\r\n    },\r\n    \"nestedRG\": {\r\n
      \     \"type\": \"string\",\r\n      \"defaultValue\": \"cli_tenant_level_deployment\"\r\n
      \   },\r\n    \"roleDefinitionId\": {\r\n      \"type\": \"string\",\r\n      \"defaultValue\":
      \"0cb07228-4614-4814-ac1a-c4e39793ce58\"\r\n    }\r\n  },\r\n  \"variables\":
      {\r\n    \"managementGroupScope\": \"[concat('Microsoft.Management/managementGroups/',
      parameters('targetMG'))]\",\r\n    \"managementGroupFullyQualifiedId\": \"[concat('/providers/',
      variables('managementGroupScope'))]\"\r\n  },\r\n  \"resources\": [\r\n    {\r\n
      \     \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\":
      \"[parameters('roleDefinitionId')]\",\r\n      \"apiVersion\": \"2018-07-01\",\r\n
      \     \"properties\": {\r\n        \"roleName\": \"Tiano SDK Test Role\",\r\n
      \       \"description\": \"something\",\r\n        \"type\": \"CustomRole\",\r\n
      \       \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n
      \             \"Microsoft.Storage/*/read\"\r\n            ],\r\n            \"notActions\":
      [\r\n\r\n            ]\r\n          }\r\n        ],\r\n        \"assignableScopes\":
      [\r\n          \"[variables('managementGroupFullyQualifiedId')]\"\r\n        ]\r\n
      \     }\r\n    },\r\n    {\r\n      \"type\": \"Microsoft.Resources/deployments\",\r\n
      \     \"name\": \"mg-nested\",\r\n      \"apiVersion\": \"2019-07-01\",\r\n
      \     \"location\": \"West US\",\r\n      \"scope\": \"[variables('managementGroupScope')]\",\r\n
      \     \"properties\": {\r\n        \"template\": {\r\n          \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {\r\n\r\n
      \         },\r\n          \"variables\": {\r\n\r\n          },\r\n          \"resources\":
      [\r\n            {\r\n              \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n
      \             \"name\": \"policy2\",\r\n              \"apiVersion\": \"2016-12-01\",\r\n
      \             \"properties\": {\r\n                \"policyType\": \"Custom\",\r\n
      \               \"parameters\": {\r\n\r\n                },\r\n                \"policyRule\":
      {\r\n                  \"if\": {\r\n                    \"field\": \"location\",\r\n
      \                   \"equals\": \"northeurope\"\r\n                  },\r\n
      \                 \"then\": {\r\n                    \"effect\": \"deny\"\r\n
      \                 }\r\n                }\r\n              }\r\n            }\r\n
      \         ]\r\n        },\r\n        \"mode\": \"Incremental\"\r\n      }\r\n
      \   },\r\n    {\r\n      \"type\": \"Microsoft.Resources/deployments\",\r\n
      \     \"name\": \"sub-nested\",\r\n      \"apiVersion\": \"2019-07-01\",\r\n
      \     \"location\": \"East US\",\r\n      \"subscriptionId\": \"[parameters('nestedSubId')]\",\r\n
      \     \"properties\": {\r\n        \"template\": {\r\n          \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {\r\n\r\n
      \         },\r\n          \"variables\": {\r\n\r\n          },\r\n          \"resources\":
      [\r\n            {\r\n              \"type\": \"Microsoft.Resources/resourceGroups\",\r\n
      \             \"name\": \"[parameters('nestedRG')]\",\r\n              \"apiVersion\":
      \"2019-07-01\",\r\n              \"location\": \"East US 2\",\r\n              \"properties\":
      {\r\n\r\n              }\r\n            }\r\n          ]\r\n        },\r\n        \"mode\":
      \"Incremental\"\r\n      }\r\n    }\r\n  ] // comment\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Resources/deployments/tenant_level_template","name":"tenant_level_template","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"5503699468917209467","parameters":{"targetMG":{"type":"String","value":"azure-cli-management-group000002"},"nestedSubId":{"type":"String","value":"0b1f6471-1bf0-4dda-aec3-cb9272f09590"},"nestedRG":{"type":"String","value":"cli_tenant_level_deployment"},"roleDefinitionId":{"type":"String","value":"0cb07228-4614-4814-ac1a-c4e39793ce58"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-08-28T10:21:28.3493603Z","duration":"PT0S","correlationId":"e04c41e0-3908-4647-8795-121eb217791e","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"roleDefinitions","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":["westus","eastus"]}]}],"dependencies":[],"validatedResources":[{"id":"/providers/Microsoft.Authorization/roleDefinitions/0cb07228-4614-4814-ac1a-c4e39793ce58"},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Resources/deployments/mg-nested"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/sub-nested"},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tenant_level_deployment"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"targetMG\":
      {\"value\": \"azure-cli-management-group000002\"}}, \"mode\": \"Incremental\",
      template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-08-01/tenantDeploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"targetMG\":
      {\r\n      \"type\": \"string\",\r\n      \"defaultValue\": \"cli_tenant_level_deployment_mg\"\r\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586029967948063598?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001","name":"azure-cli-tenant-level-deployment000001","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"5503699468917209467","parameters":{"targetMG":{"type":"String","value":"azure-cli-management-group000002"},"nestedSubId":{"type":"String","value":"0b1f6471-1bf0-4dda-aec3-cb9272f09590"},"nestedRG":{"type":"String","value":"cli_tenant_level_deployment"},"roleDefinitionId":{"type":"String","value":"0cb07228-4614-4814-ac1a-c4e39793ce58"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-08-28T10:21:46.186992Z","duration":"PT15.5157243S","correlationId":"76bc6463-515e-4a6f-ae03-b68e54dc2cbd","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"roleDefinitions","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":["westus","eastus"]}]}],"dependencies":[],"outputResources":[{"id":"/providers/Microsoft.Authorization/roleDefinitions/0cb07228-4614-4814-ac1a-c4e39793ce58"},{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tenant_level_deployment"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001","name":"azure-cli-tenant-level-deployment000001","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"5503699468917209467","parameters":{"targetMG":{"type":"String",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/?$filter=provisioningState%20eq%20%27Succeeded%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001","name":"azure-cli-tenant-level-deployment000001","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"55036994689172[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2020-06-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2019-08-01/tenantDeploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"targetMG":{"defaultValue":"cli_tenant_level_deployment_mg","type":"String"},"nestedSubId":{"defaultValue":"0b1f6471-1bf0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/operations?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001/operations/5267AB90B0749F6E","operationId":"5267AB90B0749F6E","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-08-28T10:21:43.0441185Z","duration":"PT7.3757949S","trackingId":"e3e465f5-8ab6-463e-bc1a-37710ba75bde","serviceRequestId":"a8257b01-eac6-4631-bc31-d191fd6ce9c3","statusCode":"OK","targetResource":{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002/providers/Microsoft.Resources/deployments/mg-nested","resourceType":"Microsoft.Resources/deployments","resourceName":"mg-nested"}}},{"id":"/providers/Microsoft.Resources/deployments/azure-cli-tenant-level-deployment000001/operations/0E001B8A1AA20F3D","operationId":"0E001B8A1AA20F3D","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-08-28T10:21:46.0010536Z","duration":"PT10.33273S","trackingId":"0e9a4cad-31f5-4553-9e3b-a75413cfcdb6","serviceRequestId":"9b11af27-c4b4-458e-8575-e33dfdff84dc","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Resources/deployments/mock-deployment/cancel?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_tenant_level_deployment?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURU5BTlQ6NUZMRVZFTDo1RkRFUExPWU1FTlQtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2020-06-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURU5BTlQ6NUZMRVZFTDo1RkRFUExPWU1FTlQtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURU5BTlQ6NUZMRVZFTDo1RkRFUExPWU1FTlQtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2020-06-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.1582
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14995'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/azure-cli-management-group000002?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/azure-cli-management-group000002","type":"/providers/Microsoft.Management/managementGroups","name":"azure-cli-management-group000002","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.1582
    status:
      code: 200
      message: OK
version: 1
