interactions:
- request:
    body: '{"properties": {"level": "ReadOnly"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_readonly_resource_group_lock000001/providers/Microsoft.Authorization/locks/cli-test-lock000002?api-version=2016-09-01
  response:
    body:
      string: '{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_readonly_resource_group_lock000001/providers/Microsoft.Authorization/locks/cli-test-lock000002","type":"Microsoft.Authorization/locks","name":"cli-test-lock000002"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/locks?api-version=2016-09-01
  response:
    body:
      string: '{"value":[{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_readonly_resource_group_lock000001/providers/Microsoft.Authorization/locks/cli-test-lock000002","type":"Microsoft.Authorization/locks","name":"cli-test-lock000002"},{"properties":{"level":"CanNotDelete"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lock_with_resource_idxl44a6xqn2jmj3tqujgyfzfckv3tribvyus3yrnvgn2o4/providers/Microsoft.Network/virtualNetworks/cli-lock-vnetcsj3krmujocmxqzew/providers/Microsoft.Authorization/locks/cli-test-lock7tpyfcqktmf3lyag7dizi7pvpger3ukmgrpms","type":"Microsoft.Authorization/locks","name":"cli-test-lock7tpyfcqktmf3lyag7dizi7pvpger3ukmgrpms"},{"properties":{"level":"CanNotDelete"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lock_with_resource_idxl44a6xqn2jmj3tqujgyfzfckv3tribvyus3yrnvgn2o4/providers/Microsoft.Network/virtualNetworks/cli-lock-vnetcsj3krmujocmxqzew/subnets/cli-lock-subnetfnopps44cldxxh4/providers/Microsoft.Authorization/locks/cli-test-lockomk73q7","type":"Microsoft.Authorization/locks","name":"cli-test-lockomk73q7"},{"properties":{"level":"ReadOnly","notes":"somenotes"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_lock_commands_with_idsz4ntdrbb4rb3vyc3egkh6rhs6kzolkygxhqewmcvzgkb/providers/Microsoft.Authorization/locks/cli-test-locklzd6rf7wuwhs6f6gdegr5knqs6f3czi47endj","type":"Microsoft.Authorization/locks","name":"cli-test-locklzd6rf7wuwhs6f6gdegr5knqs6f3czi47endj"},{"properties":{"level":"ReadOnly","notes":"somenotes"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lock_commands_with_idsz4ntdrbb4rb3vyc3egkh6rhs6kzolkygxhqewmcvzgkb/providers/Microsoft.Network/virtualNetworks/cli-lock-vnetzhtixcdmnr56cembp/providers/Microsoft.Authorization/locks/cli-test-lockqi6yjx7y2jx3uctmqujkhczwle2f4cvamdvmp","type":"Microsoft.Authorization/locks","name":"cli-test-lockqi6yjx7y2jx3uctmqujkhczwle2f4cvamdvmp"},{"properties":{"level":"CanNotDelete"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_lock_commands_with_idsz4ntdrbb4rb3vyc3egkh6rhs6kzolkygxhqewmcvzgkb/providers/Microsoft.Network/virtualNetworks/cli-lock-vnetzhtixcdmnr56cembp/subnets/cli-lock-subnetccndfdcvypw5psl/providers/Microsoft.Authorization/locks/cli-test-lockbnuh7rw","type":"Microsoft.Authorization/locks","name":"cli-test-lockbnuh7rw"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_readonly_resource_group_lock000001/providers/Microsoft.Authorization/locks?api-version=2016-09-01
  response:
    body:
      string: '{"value":[{"properties":{"level":"ReadOnly"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_readonly_resource_group_lock000001/providers/Microsoft.Authorization/locks/cli-test-lock000002","type":"Microsoft.Authorization/locks","name":"cli-test-lock000002"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_readonly_resource_group_lock000001/providers/Microsoft.Authorization/locks/cli-test-lock000002?api-version=2016-09-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 200
      message: OK
version: 1
