interactions:
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedRGName\":
      {\"value\": \"cli_test_subscription_level_deployment\"}, \"storageAccountName\":
      {\"value\": \"armbuilddemo000003\"}}, \"mode\": \"Incremental\", template:{\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"storageAccountName\":
      {\n      \"type\": \"string\",\n      \"defaultValue\": \"armbuilddemo1801\"\n
      \   },\n    \"nestedRGName\": {\n      \"type\": \"string\",\n      \"defaultValue\":
      \"cli_test_subscription_level_deployment\"\n    }\n  },\n  \"variables\": {},\n
      \ \"resources\": [\n    {\n      \"type\": \"Microsoft.Authorization/policyDefinitions\",\n
      \     \"name\": \"policy2\",\n      \"apiVersion\": \"2016-12-01\",\n      \"properties\":
      {\n        \"policyType\": \"Custom\",\n        \"parameters\": {},\n        \"policyRule\":
      {\n          \"if\": {\n            \"field\": \"location\",\n            \"equals\":
      \"northeurope\"\n          },\n          \"then\": {\n            \"effect\":
      \"deny\"\n          }\n        }\n      }\n    },\n    {\n      \"type\": \"Microsoft.Authorization/policyAssignments\",\n
      \     \"name\": \"location-lock\",\n      \"apiVersion\": \"2016-12-01\",\n
      \     \"dependsOn\": [\n        \"policy2\"\n      ],\n      \"properties\":
      {\n        \"scope\": \"[subscription().id]\",\n        \"policyDefinitionId\":
      \"[resourceId('Microsoft.Authorization/policyDefinitions', 'policy2')]\"\n      }\n
      \   },\n    {\n      \"type\": \"Microsoft.Resources/resourceGroups\",\n      \"name\":
      \"[parameters('nestedRGName')]\",\n      \"apiVersion\": \"2018-05-01\",\n      \"location\":
      \"WestUS\",\n      \"properties\": {\n      }\n    },\n    {\n      \"type\":
      \"Microsoft.Resources/deployments\",\n      \"name\": \"rg-nested6\",\n      \"apiVersion\":
      \"2017-05-10\",\n      \"resourceGroup\": \"[parameters('nestedRGName')]\",\n
      \     \"dependsOn\": [ \"[parameters('nestedRGName')]\" ],\n      \"properties\":
      {\n        \"template\": {\n          \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \         \"contentVersion\": \"1.0.0.0\",\n          \"parameters\": {},\n
      \         \"variables\": {},\n          \"resources\": [\n            {\n              \"type\":
      \"Microsoft.Storage/storageAccounts\",\n              \"name\": \"[parameters('storageAccountName')]\",\n
      \             \"apiVersion\": \"2015-06-15\",\n              \"location\": \"East
      US\",\n              \"properties\": {\n                \"accountType\": \"Standard_LRS\",\n
      \               \"supportsHttpsTrafficOnly\": true\n              }\n            }\n
      \         ]\n        },\n        \"mode\":\"Incremental\"\n      }\n    }\n
      \ ] // comment\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/subscription_level_template","name":"subscription_level_template","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"1013067532690748919","parameters":{"storageAccountName":{"type":"String","value":"armbuilddemo000003"},"nestedRGName":{"type":"String","value":"cli_test_subscription_level_deployment"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"c8654817-58be-4246-b269-c7581b76fb5f","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]},{"resourceType":"policyAssignments","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2","resourceType":"Microsoft.Authorization/policyDefinitions","resourceName":"policy2"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock","resourceType":"Microsoft.Authorization/policyAssignments","resourceName":"location-lock"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"cli_test_subscription_level_deployment"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6","resourceType":"Microsoft.Resources/deployments","resourceName":"rg-nested6"}],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Storage/storageAccounts/armbuilddemo000003"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-cli/dev/src/azure-cli/azure/cli/command_modules/resource/tests/latest/subscription_level_parameters.json
  response:
    body:
      string: "{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n     /** comment1\n
        \       comment2\n        comment3\n      **/\n      // comment\n      /**
        comment **/\n    \"nestedRGName\": {\n      /** comment1\n        comment2\n
        \       comment3\n      **/\n      // comment\n      /** comment **/\n      \"value\":
        \"cli_test_subscription_level_deployment\" /** comment **/\n      /** comment1\n
        \       comment2\n        comment3\n      **/\n      // comment\n      /**
        comment **/\n    }\n      /** comment1\n        comment2\n        comment3\n
        \     **/\n      // comment\n      /** comment **/\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"2cc7b94cb1a1129b25fb74b5079c39ebea46f9ed18b7ed5ab643967ad43be835"'
      source-age:
      - '238'
      x-fastly-request-id:
      - 468bde6c94fbe2d2713ba0bd3248d365ec1dd105
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedRGName\":
      {\"value\": \"cli_test_subscription_level_deployment\"}, \"storageAccountName\":
      {\"value\": \"armbuilddemo000003\"}}, \"mode\": \"Incremental\", template:{\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"storageAccountName\":
      {\n      \"type\": \"st[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585283472234307433?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?api-version=2022-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deployment000001","name":"azure-cli-subscription_level_deployment000001","type":"Microsoft.Resources/deployments"[...]
