interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent","namespace":"Microsoft.Confluent","authorizations":[{"applicationId":"1448fd13-7e74-41f4-b6e3-17e485d8ac2e","roleDefinitionId":"4db34280-b0be-4827-aa5b-418391409cee"}],"resourceTypes":[{"resourceType":"operations","locations":[],"apiVersions":["2020-03-01-preview"],"capabilities":"None"},{"resourceType":"locations","locations":[],"apiVersions":["2020-03-01-preview"],"capabilities":"None"},{"resourceType":"locations/OperationStatuses","locations":["West
        US 2","East US 2 EUAP","West Central US","Australia East","France Central","Canada
        Central","East US","UK South","West Europe","Central US","East US 2","North
        Europe","Southeast Asia"],"apiVersions":["2020-03-01-preview"],"capabilities":"None"},{"resourceType":"organizations","locations":["West
        US 2","West Central US","Australia East","France Central","Canada Central","East
        US","UK South","West Europe","Central US","East US 2","North Europe","Southeast
        Asia","East US 2 EUAP"],"apiVersions":["2020-03-01-preview"],"capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2020-03-01-preview"],"capabilities":"None"},{"resourceType":"agreements","locations":[],"apiVersions":["2020-03-01-preview"],"capabilities":"None"}],"registrationState":"NotRegistered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent/unregister?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent","namespace":"Microsoft.Confluent","authorizations":[{"applicationId":"1448fd13-7e74-41f4-b6e3-17e485d8ac2e","roleDefinitionId":"4db34280-b0be-4827-aa5b-418391409cee"}],"resourceTypes":[],"registrationState":"Unregistering","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent/register?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent","namespace":"Microsoft.Confluent","authorizations":[{"applicationId":"1448fd13-7e74-41f4-b6e3-17e485d8ac2e","roleDefinitionId":"4db34280-b0be-4827-aa5b-418391409cee"}[...]
[...]
- request:
    body: '{"properties": {"accepted": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent/agreements/default?api-version=2020-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Confluent/agreements/default","name":"default","type":"Microsoft.Confluent/agreements","properties":{"publisher":null,"product":null,"plan":null,"licenseTextLink":null,"privacyPolicyLink":null,"retrieveDatetime":null,"signature":null,"accepted":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
