interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
      \"mode\": \"Incremental\", template:{\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \   \"contentVersion\": \"1.0.0.0\",\n    \"parameters\": {\n        \"scriptName\":
      {\n           \"type\": \"string\",\n           \"metadata\": {\n                \"description\":
      \"Deployment script name\"\n            }\n        },\n        \"utcValue\":
      {\n            \"type\": \"string\",\n            \"defaultValue\": \"[utcNow()]\"\n
      \       }\n    },\n    \"resources\": [\n        {\n            \"type\": \"Microsoft.Resources/deploymentScripts\",\n
      \           \"apiVersion\": \"2019-10-01-preview\",\n            \"name\": \"[parameters('scriptName')]\",\n
      \           \"location\": \"[resourceGroup().location]\",\n            \"identity\":
      {\n                \"type\": \"UserAssigned\",\n                \"userAssignedIdentities\":
      {\n                    \"[concat('/subscriptions/', subscription().subscriptionId,
      '/resourceGroups/python_sdk_test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/python_test_sdk_msi')]\":
      {}\n                }\n            },\n            \"kind\": \"AzureCLI\",\n
      \           \"properties\": {\n                \"forceUpdateTag\": \"[parameters('utcValue')]\",\n
      \               \"containerSettings\": {\n                    \"containerGroupName\":
      \"mycustomaci\"\t\n                },\n                \"AzCliVersion\": \"2.0.80\",\n
      \               \"timeout\": \"PT30M\",\n                \"arguments\": \"'foo'
      'bar'\",\n                \"scriptContent\": \"echo 'foo'\",\n                \"cleanupPreference\":
      \"OnExpiration\",\n                \"retentionInterval\": \"P1D\"\n            }\n
      \       }\n    ],\n    \"outputs\": {}\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.3 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
        Azure-SDK-For-Python AZURECLI/2.8.0
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"10149382041214521334","parameters":{"scriptName":{"type":"String","value":"script000002"},"utcValue":{"type":"String","value":"20200706T154945Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T15:49:45.8726103Z","duration":"PT0S","correlationId":"edb1a34d-5e77-45a3-95a7-82180dc8e7e0","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"10149382041214521334","parameters":{"scriptName":{"type":"String","value":"script000002"},"utcValue":{"type":"String","value":"20200706T225720Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T22:57:21.014361Z","duration":"PT0S","correlationId":"5d6c65dd-7a99-43a4-b0bc-ae7aae5ebe2d","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 06 Jul 2020 15:49:46 GMT
=======
      - Mon, 06 Jul 2020 22:57:20 GMT
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
      \"mode\": \"Incremental\", template:{\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \   \"contentVersion\": \"1.0.0.0\",\n    \"parameters\": {\n        \"scriptName\":
      {\n           \"type\": \"string\",\n           \"metadata\": {\n                \"description\":
      \"Deployment script name\"\n            }\n  [...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.3 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.0.0
        Azure-SDK-For-Python AZURECLI/2.8.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586075562990349807?api-version=2020-06-01
=======
      - python/3.8.2 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/10.1.0
        Azure-SDK-For-Python AZURECLI/2.8.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586075306439533566?api-version=2020-06-01
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
  response:
    body:
      string: '{"status":"Failed","error":{"code":"DeploymentFailed","message":"At
        least one resource deployment operation failed. Please list deployment operations
        for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"BadRequest","message":"{\r\n  \"error\":
        {\r\n    \"code\": \"FailedIdentityOperation\",\r\n    \"message\": \"Identity
        operation for resource ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002''
        failed with error ''Failed to perform resource identity operation. Status:
        ''BadRequest''. Response: ''{\\\"error\\\":{\\\"code\\\":\\\"BadRequest\\\",\\\"message\\\":\\\"Resource
        ''/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/python_sdk_test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/python_test_sdk_msi''
        was not found.\\\"}}''.''.\"\r\n  }\r\n}"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Mon, 06 Jul 2020 15:50:18 GMT
=======
      - Mon, 06 Jul 2020 22:57:52 GMT
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
<<<<<<< HEAD
=======
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"10149382041214521334","parameters":{"scriptName":{"type":"String","value":"script000002"},"utcValue":{"type":"String","value":"20200706T225721Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T22:58:25.147566Z","duration":"PT1M3.6233076S","correlationId":"206949aa-e958-4eaf-b364-179fd2d7be04","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["westus"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002/logs?api-version=2019-10-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"log\":
        \"foo\\n\"\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002/logs/default\",\r\n
        \     \"type\": \"Microsoft.Resources/deploymentScripts/logs\",\r\n      \"name\":
        \"default\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
version: 1
