interactions:
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedRGName\":
      {\"value\": \"cli_test_subscription_level_deployment\"}, \"storageAccountName\":
      {\"value\": \"armbuilddemo000003\"}}, \"mode\": \"Incremental\", template:{\r\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"storageAccountName\":
      {\r\n      \"type\": \"string\",\r\n      \"defaultValue\": \"armbuilddemo1801\"\r\n
      \   },\r\n    \"nestedRGName\": {\r\n      \"type\": \"string\",\r\n      \"defaultValue\":
      \"cli_test_subscription_level_deployment\"\r\n    }\r\n  },\r\n  \"variables\":
      {},\r\n  \"resources\": [\r\n    {\r\n      \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n
      \     \"name\": \"policy2\",\r\n      \"apiVersion\": \"2016-12-01\",\r\n      \"properties\":
      {\r\n        \"policyType\": \"Custom\",\r\n        \"parameters\": {},\r\n
      \       \"policyRule\": {\r\n          \"if\": {\r\n            \"field\": \"location\",\r\n
      \           \"equals\": \"northeurope\"\r\n          },\r\n          \"then\":
      {\r\n            \"effect\": \"deny\"\r\n          }\r\n        }\r\n      }\r\n
      \   },\r\n    {\r\n      \"type\": \"Microsoft.Authorization/policyAssignments\",\r\n
      \     \"name\": \"location-lock\",\r\n      \"apiVersion\": \"2016-12-01\",\r\n
      \     \"dependsOn\": [\r\n        \"policy2\"\r\n      ],\r\n      \"properties\":
      {\r\n        \"scope\": \"[subscription().id]\",\r\n        \"policyDefinitionId\":
      \"[resourceId('Microsoft.Authorization/policyDefinitions', 'policy2')]\"\r\n
      \     }\r\n    },\r\n    {\r\n      \"type\": \"Microsoft.Resources/resourceGroups\",\r\n
      \     \"name\": \"[parameters('nestedRGName')]\",\r\n      \"apiVersion\": \"2018-05-01\",\r\n
      \     \"location\": \"WestUS\",\r\n      \"properties\": {\r\n      }\r\n    },\r\n
      \   {\r\n      \"type\": \"Microsoft.Resources/deployments\",\r\n      \"name\":
      \"rg-nested6\",\r\n      \"apiVersion\": \"2017-05-10\",\r\n      \"resourceGroup\":
      \"[parameters('nestedRGName')]\",\r\n      \"dependsOn\": [ \"[parameters('nestedRGName')]\"
      ],\r\n      \"properties\": {\r\n        \"template\": {\r\n          \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {},\r\n
      \         \"variables\": {},\r\n          \"resources\": [\r\n            {\r\n
      \             \"type\": \"Microsoft.Storage/storageAccounts\",\r\n              \"name\":
      \"[parameters('storageAccountName')]\",\r\n              \"apiVersion\": \"2015-06-15\",\r\n
      \             \"location\": \"East US\",\r\n              \"properties\": {\r\n
      \               \"accountType\": \"Standard_LRS\",\r\n                \"supportsHttpsTrafficOnly\":
      true\r\n              }\r\n            }\r\n          ]\r\n        },\r\n        \"mode\":\"Incremental\"\r\n
      \     }\r\n    }\r\n  ] // comment\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/subscription_level_template","name":"subscription_level_template","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"13231341667663423384","parameters":{"storageAccountName":{"type":"String","value":"armbuilddemo000003"},"nestedRGName":{"type":"String","value":"cli_test_subscription_level_deployment"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-12-17T19:04:20.5161942Z","duration":"PT0S","correlationId":"a9971483-197d-4cce-b439-eca5ab3877c8","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]},{"resourceType":"policyAssignments","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2","resourceType":"Microsoft.Authorization/policyDefinitions","resourceName":"policy2"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock","resourceType":"Microsoft.Authorization/policyAssignments","resourceName":"location-lock"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"cli_test_subscription_level_deployment"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6","resourceType":"Microsoft.Resources/deployments","resourceName":"rg-nested6"}],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Storage/storageAccounts/armbuilddemo000003"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-cli/dev/src/azure-cli/azure/cli/command_modules/resource/tests/latest/subscription_level_parameters.json
  response:
    body:
      string: "{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n     /** comment1\n
        \       comment2\n        comment3\n      **/\n      // comment\n      /**
        comment **/\n    \"nestedRGName\": {\n      /** comment1\n        comment2\n
        \       comment3\n      **/\n      // comment\n      /** comment **/\n      \"value\":
        \"cli_test_subscription_level_deployment\" /** comment **/\n      /** comment1\n
        \       comment2\n        comment3\n      **/\n      // comment\n      /**
        comment **/\n    }\n      /** comment1\n        comment2\n        comment3\n
        \     **/\n      // comment\n      /** comment **/\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"2cc7b94cb1a1129b25fb74b5079c39ebea46f9ed18b7ed5ab643967ad43be835"'
      source-age:
      - '0'
      x-fastly-request-id:
      - dc0a6633d1a858f1106719adc9af09a1b4f5c6a9
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedRGName\":
      {\"value\": \"cli_test_subscription_level_deployment\"}, \"storageAccountName\":
      {\"value\": \"armbuilddemo000003\"}}, \"mode\": \"Incremental\", template:{\r\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"storageAccountName\":
      {\r\n      \"ty[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585933750225905263?api-version=2020-10-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deployment000001","name":"azure-cli-subscription_level_deployment000001","type":"Microsoft.Resources/deployments"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?$filter=provisioningState%20eq%20%27Succeeded%27&api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deployment000001","name":"azure-cli-subscription_level_deploymen[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2020-10-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"storageAccountName":{"defaultValue":"armbuilddemo1801","type":"String"},"nestedRGName":{"defaultValue":"cli_test_subscription_level_deployment","type":"String"}},"variables":{},"resources":[{"type":"Microsoft.Authorization/policyDefinitions","apiVersion":"2016-12-01","name":"policy2","properties":{"policyType":"Custom","parameters":{},"policyRule":{"if":{"field":"location","equals":"northeurope"},"then":{"effect":"deny"}}}},{"type":"Microsoft.Authorization/policyAssignments","apiVersion":"2016-12-01","name":"location-lock","dependsOn":["policy2"],"properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/operations?api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deployment000001/operations/F26EA6458D29C375","operationId":"F26EA6458D29C375","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-12-17T19:04:32.3633559Z","duration":"PT7.0300225S","trackingId":"f6aaf069-ebda-49b8-988b-f49957a090da","serviceRequestId":"westus:27a5dc7f-0289-438f-b118-ab5cddbbd1b0","statusCode":"Created","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock","resourceType":"Microsoft.Authorization/policyAssignments","resourceName":"location-lock"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deployment000001/operations/3BEE6263B94FD55E","operationId":"3BEE6263B94FD55E","properties":{"provisioningOperation":"Create","provisioningState":"Succ[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/cancel?api-version=2020-10-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock?api-version=2019-09-01
  response:
    body:
      string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","metadata":{"createdBy":"5310aa29-9a44-4cbc-adb3-6347a539537e","createdOn":"2020-12-17T19:04:32.3192115Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock","type":"Microsoft.Authorization/policyAssignments","name":"location-lock"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2?api-version=2019-09-01
  response:
    body:
      string: '{"properties":{"policyType":"Custom","mode":"Indexed","metadata":{"createdBy":"5310aa29-9a44-4cbc-adb3-6347a539537e","createdOn":"2020-12-17T19:04:31.9692062Z","updatedBy":null,"updatedOn":null},"parameters":{},"policyRule":{"if":{"field":"location","equals":"northeurope"},"then":{"effect":"deny"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2","type":"Microsoft.Authorization/policyDefinitions","name":"policy2"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_subscription_level_deployment?api-version=2020-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGU1VCU0NSSVBUSU9OOjVGTEVWRUw6NUZERVBMT1lNRU5ULVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2020-10-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGU1VCU0NSSVBUSU9OOjVGTEVWRUw6NUZERVBMT1lNRU5ULVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2020-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGU1VCU0NSSVBUSU9OOjVGTEVWRUw6NUZERVBMT1lNRU5ULVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2020-10-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGU1VCU0NSSVBUSU9OOjVGTEVWRUw6NUZERVBMT1lNRU5ULVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2020-10-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
