interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2022-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource ''cli-test-create-deployment-stack-subscription000002''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/BicepLatestRelease
  response:
    body:
      string: ''
    headers:
      location:
      - https://downloads.bicep.azure.com/releases/latest
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://downloads.bicep.azure.com/releases/latest
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/Azure/bicep/releases/112033581\",\"assets_url\":\"https://api.github.com/repos/Azure/bicep/releases/112033581/assets\",\"upload_url\":\"https://uploads.github.com/repos/Azure/bicep/releases/112033581/assets{?name,label}\",\"html_url\":\"https://github.com/Azure/bicep/releases/tag/v0.19.5\",\"id\":112033581,\"author\":{\"login\":\"shenglol\",\"id\":16367959,\"node_id\":\"MDQ6VXNlcjE2MzY3OTU5\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/16367959?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/shenglol\",\"html_url\":\"https://github.com/shenglol\",\"followers_url\":\"https://api.github.com/users/shenglol/followers\",\"following_url\":\"https://api.github.com/users/shenglol/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/shenglol/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/shenglol/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/shenglol/subscriptions\",\"organizations_url\":\"https://api.github.com/users/shenglol/orgs\",\"repos_url\":\"https://api.github.com/users/shenglol/repos\",\"events_url\":\"https://api.github.com/users/shenglol/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/shenglol/received_events\",\"type\":\"User\",\"site_admin\":false},\"node_id\":\"RE_kwDOD7S9ks4GrX8t\",\"tag_name\":\"v0.19.5\",\"target_commitish\":\"main\",\"name\":\"v0.19.5\",\"draft\":false,\"prerelease\":false,\"created_at\":\"2023-07-12T21:54:15Z\",\"published_at\":\"2023-07-13T17:51:43Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/Azure/bicep/releases/assets/116759306\",\"id\":116759306,\"node_id\":\"RA_kwDOD7S9ks4G9ZsK\",\"name\":\"Azure.Bicep.CommandLine.linux-arm64.0.19.5.nupkg\",\"label\":\"\",\"uploader\":{\"login\":\"majastrz\",\"id\":22460039,\"node_id\":\"MDQ6VXNlcjIyNDYwMDM5\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/22460039?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/majastrz\",\"html_url\":\"https://github.com/majastrz\",\"followers_url\":\"https://api.github.com/users/majastrz/followers\",\"following_url\":\"https://api.github.com/users/majastrz/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/majastrz/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/majastrz/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/majastrz/subscriptions\",\"organizations_url\":\"https://api.github.com/users/majastrz/orgs\",\"repos_url\":\"https://api.github.com/users/majastrz/repos\",\"events_url\":\"https://api.github.com/users/majastrz/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/majastrz/received_events\",\"type\":\"User\",\"site_admin\":false},\"content_type\":\"application/octet-stream\",\"state\":\"uploaded\",\"size\":29965821,\"download_count\":5,\"created_at\":\"2023-07-13T01:10:36Z\",\"updated_at\":\"2023-07-13T01:10:38Z\",\"browser_download_url\":\"https://github.com/Azure/bicep/releases/download/v0.19.5/Azure.Bicep.CommandLine.linux-arm64.0.19.5.nupkg\"},{\"url\":\"https://api.github.com/repos/Azure/bicep/releases/assets/116759268\",\"id\":116759268,\"node_id\":\"RA_kwDOD7S9ks4G9Zrk\",\"name\":\"Azure.Bicep.CommandLine.linux-x64.0.19.5.nupkg\",\"label\":\"\",\"uploader\":{\"login\":\"majastrz\",\"id\":22460039,\"node_id\":\"MDQ6VXNlcjIyNDYwMDM5\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/22460039?v=4\",\"gravatar_id\":\"\[...]
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.17.1.54307", "templateHash": "991381235984945273"}}, "parameters": {"location":
      {"type": "string", "defaultValue": "centralus"}, "storageAccountName": {"type":
      "string", "defaultValue": "uniquestorage001", "maxLength": 24, "minLength":
      3}}, "resources": [{"type": "Providers.Test/statefulResources", "apiVersion":
      "2014-04-01", "name": "[parameters(''storageAccountName'')]", "location": "[parameters(''location'')]"}],
      "outputs": {"storageId": {"type": "string", "value": "[resourceId(''Providers.Test/statefulResources'',
      parameters(''storageAccountName''))]"}}}, "parameters": {}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach"}, "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001",
      "denySettings": {"mode": "none", "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"detach\",\r\n      \"resourceGroups\":
        \"detach\",\r\n      \"managementGroups\": \"detach\"\r\n    },\r\n    \"deploymentScope\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001\",\r\n
        \   \"denySettings\": {\r\n      \"mode\": \"none\",\r\n      \"applyToChildScopes\":
        false\r\n    },\r\n    \"parameters\": {},\r\n    \"resources\": [],\r\n    \"provisioningState\":
        \"initializing\",\r\n    \"detachedResources\": [],\r\n    \"deletedResources\":
        [],\r\n    \"failedResources\": []\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\":
        \"harshpatel@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\":
        \"2023-07-19T17:33:36.6523114Z\",\r\n    \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2023-07-19T17:33:36.6523114Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-create-deployment-stack-subscription000002\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/2525eb2e-27ce-4036-bf34-03a59706c890?api-version=2022-08-01-preview&t=2023-07-19T17%3a33%3a37&c=MIIHADCCBeigAwIBAgITHgKrh_MjOPKlJyI3cQAAAquH8zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwNTAzMjMwMjI3WhcNMjQwNDI3MjMwMjI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlv[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/2525eb2e-27ce-4036-bf34-03a59706c890?api-version=2022-08-01-preview&t=2023-07-19T17%3A33%3A37&c=MIIHADCCBeigAwIBAgITHgKrh_MjOPKlJyI3cQAAAquH8zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwNTAzMjMwMjI3W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"detach\",\r\n      \"resourceGroups\":
        \"detach\",\r\n      \"managementGroups\": \"detach\"\r\n    },\r\n    \"deploymentId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-subsc-2023-07-19-17-33-37-9a8a1\",\r\n
        \   \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001\",\r\n
        \   \"duration\": \"PT7.3527959S\",\r\n    \"denySettings\": {\r\n      \"mode\":
        \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\n    \"outputs\":
        {\r\n      \"storageId\": {\r\n        \"type\": \"String\",\r\n        \"value\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Providers.Test/statefulResources/uniquestorage001\"\r\n
        \     }\r\n    },\r\n    \"parameters\": {},\r\n    \"resources\": [\r\n      {\r\n
        \       \"status\": \"managed\",\r\n        \"denyStatus\": \"none\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Providers.Test/statefulResources/uniquestorage001\"\r\n
        \     }\r\n    ],\r\n    \"provisioningState\": \"succeeded\",\r\n    \"detachedResources\":
        [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\": []\r\n  },\r\n
        \ \"systemData\": {\r\n    \"createdBy\": \"harshpatel@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-07-19T17:33:36.6523114Z\",\r\n
        \   \"lastModifiedBy\": \"harshpatel@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-07-19T17:33:36.6523114Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-create-deployment-stack-subscription000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&api-version=2022-08-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.17.1.54307", "templateHash": "6417493495661768720"}}, "parameters": {"location":
      {"type": "string"}, "kind": {"type": "string"}}, "variables": {"storageAccountName":
      "[format(''store{0}'', uniqueString(resourceGroup().id))]"}, "resources": [{"type":
      "Microsoft.Storage/storageAccounts", "apiVersion": "2019-04-01", "name": "[variables(''storageAccountName'')]",
      "location": "[parameters(''location'')]", "sku": {"name": "Standard_LRS"}, "kind":
      "[parameters(''kind'')]", "properties": {}}]}, "parameters": {"location": {"value":
      "westus2"}, "kind": {"value": "StorageV2"}}, "actionOnUnmanage": {"resources":
      "delete", "resourceGroups": "delete"}, "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001",
      "denySettings": {"mode": "none", "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/bacc1da8-b5ff-493b-a93e-9b4cc99f0e3a?api-version=2022-08-01-preview&t=2023-07-19T17%3A34%3A18&c=MIIHADCCBeigAwIBAgITHgKrh_MjOPKlJyI3cQAAAquH8zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwNTAzMjMwMjI3W[...]
[...]
