interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"Audit machines with insecure password
        security settings","policyType":"BuiltIn","description":"This initiative deploys
        the policy requirements and audits machines with insecure password security
        settings. For more information on Guest Configuration policies, please visit
        https://aka.ms/gcpol","metadata":{"version":"1.1.0","category":"Guest Configuration"},"version":"1.1.0","parameters":{"IncludeArcMachines":{"type":"String","metadata":{"displayName":"Include
        Arc connected servers","description":"By selecting this option, you agree
        to be charged monthly per Arc connected machine."},"allowedValues":["true","false"],"defaultValue":"false"},"MaximumPasswordAge":{"type":"String","metadata":{"displayName":"Maximum
        password age","description":"The Maximum password age setting determines the
        period of time (in days) that a password can be used before the system requires
        the user to change it."},"defaultValue":"70"},"MinimumPasswordAge":{"type":"String","metadata":{"displayName":"Minimum
        password age","description":"The Minimum password age setting determines the
        period of time (in days) that a password must be used before the user can
        change it."},"defaultValue":"1"},"EnforcePasswordHistory":{"type":"String","metadata":{"displayName":"Enforce
        password history","description":"The Enforce password history setting determines
        the number of unique new passwords that must be associated with a user account
        before an old password can be reused."},"defaultValue":"24"},"MinimumPasswordLength":{"type":"String","metadata":{"displayName":"Minimum
        password length","description":"The Minimum password length setting determines
        the least number of characters that can make up a password for a user account."},"defaultValue":"14"}},"policyDefinitions":[{"policyDefinitionReferenceId":"AINE_MaximumPasswordAge","policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/4ceb8dc2-559c-478b-a15b-733fbf1e3738","definitionVersion":"2.*.*","parameters":{"IncludeArcMachines":{"value":"[parameters(''IncludeArcMachines'')]"},"MaximumPasswordAge":{"value":"[parameters(''MaximumPasswordAge'')]"}}},{"policyDefinitionReferenceId":"AINE_MinimumPasswordAge","policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/237b38db-ca4d-4259-9e47-7882441ca2c0","definitionVersion":"2.*.*","parameters":{"IncludeArcMachines":{"value":"[parameters(''IncludeArcMachines'')]"},"MinimumPasswordAge":{"value":"[parameters(''MinimumPasswordAge'')]"}}},{"policyDefinitionReferenceId":"AI[...]
- request:
    body: '{"properties": {"displayName": "test_assignment_properties000005", "enforcementMode":
      "DoNotEnforce", "nonComplianceMessages": [{"message": "Resource is non-compliant",
      "policyDefinitionReferenceId": "AINE_MaximumPasswordAge"}], "notScopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_assignment_props000001/providers/Microsoft.Storage/storageAccounts/excluded1"],
      "policyDefinitionId": "/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_assignment_props000001/providers/Microsoft.Authorization/policyAssignments/cli-test-props000002?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment_properties000005","policyDefinitionId":"/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c","definitionVersion":"1.*.*","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_assignment_props000001","notScopes":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_assignment_props000001/providers/Microsoft.Storage/storageAccounts/excluded1"],"metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-05-22T23:52:02.4199985Z","updatedBy":null,"updatedOn":null},"enforcementMode":"DoNotEnforce","nonComplianceMessages":[{"policyDefinitionReferenceId":"AINE_MaximumPasswordAge","message":"Resource
        is non-compliant"}],"instanceId":"aa36853c-07c0-43f8-873a-bf43abf96e8e"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_assignment_props000001/providers/Microsoft.Authorization/policyAssignments/cli-test-props000002","type":"Microsoft.Authorization/policyAssignments","name":"cli-test-props000002","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-05-22T23:52:02.2943778Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-05-22T23:52:02.2943778Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"definitionVersion": "1.*.*", "displayName": "test_assignment_properties000005",
      "enforcementMode": "Default", "metadata": {"createdBy": "638d92d9-ae3b-4f1d-be91-382dcc631f82",
      "createdOn": "2026-05-22T23:52:02.4199985Z", "updatedBy": null, "updatedOn":
      null}, "nonComplianceMessages": [{"message": "Resource is non-compliant", "policyDefinitionReferenceId":
      "AINE_MaximumPasswordAge"}], "notScopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_assignment_props000001/providers/Microsoft.Storage/storageAccounts/excluded1",
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_assignment_props000001/providers/Microsoft.Storage/storageAccounts/excluded2"],
      "overrides": [{"kind": "policyEffect", "selectors": [{"in": ["AINE_MaximumPasswordAge"],
      "kind": "policyDefinitionReferenceId"}], "value": "disabled"}], "policyDefinitionId":
      "/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c",
      "resourceSelectors": [{"name": "byLocation", "selectors": [{"in": ["eastus",
      "westus"], "kind": "resourceLocation"}]}], "selfServeExemptionSettings": {"enabled":
      true, "policyDefinitionReferenceIds": ["AINE_MaximumPasswordAge"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_policy_assignment_props000001/providers/Microsoft.Authorization/policyAssignments/cli-test-props000002?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"displayName":"test_assignment_properties000005","policyDefinitionId":"/providers/Microsoft.Authorizat[...]
[...]
- request:
    body: '{"properties": {"displayName": "test_assignment_properties000005", "enforcementMode":
      "Default", "policyDefinitionId": "/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c",
      "resourceSelectors": [{"name": "byType", "selectors": [{"in": ["Microsoft.Storage/storageAccounts"],
      "kind": "resourceType"}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/su[...]
[...]
- request:
    body: '{"properties": {"displayName": "test_assignment_properties000005", "enforcementMode":
      "Enroll", "policyDefinitionId": "/providers/Microsoft.Authorization/policySetDefinitions/095e4ed9-c835-4ab6-9439-b5644362a06c"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/cli-test-enroll000003?api-version=2025-11[...]
[...]
