interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec-tags000002/versions/1.0?api-version=2019-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec-tags000002/versions/1.0''
        under resource group ''cli_test_template_specs000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec-tags000002?api-version=2019-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Resources/templateSpecs/cli-test-template-spec-tags000002''
        under resource group ''cli_test_template_specs000001'' was not found. For
        more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus", "tags": {"cli-test": "test"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec-tags000002?api-version=2019-06-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"cli-test\":
        \"test\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"daetienn@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2020-12-14T15:27:38.4505375Z\",\r\n
        \   \"lastModifiedBy\": \"daetienn@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2020-12-14T15:27:38.4505375Z\"\r\n
        \ },\r\n  \"properties\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec-tags000002\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-template-spec-tags000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus", "properties": {"artifacts": [], "template": {"$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"location": {"type": "string", "defaultValue":
      "[resourceGroup().location]", "metadata": {"description": "Location for the
      network security group."}}, "name": {"type": "string", "metadata": {"description":
      "Name of the network security group."}}}, "variables": {}, "resources": [{"type":
      "Microsoft.Network/networkSecurityGroups", "name": "[parameters(''name'')]",
      "apiVersion": "2015-06-15", "location": "[parameters(''location'')]", "properties":
      {"securityRules": []}, "dependsOn": []}], "outputs": {"NewNSG": {"type": "object",
      "value": "[reference(parameters(''name''))]"}}}}, "tags": {"cli-test": "test"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec-tags000002/versions/1.0?api-version=2019-06-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"tags\[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"artifacts": [], "template": {"$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"location": {"type": "string", "defaultValue":
      "[resourceGroup().location]", "metadata": {"description": "Location for the
      network security group."}}, "name": {"type": "string", "metadata": {"description":
      "Name of the network security group."}}}, "variables": {}, "resources": [{"type":
      "Microsoft.Network/networkSecurityGroups", "name": "[parameters(''name'')]",
      "apiVersion": "2015-06-15", "location": "[parameters(''location'')]", "properties":
      {"securityRules": []}, "dependsOn": []}], "outputs": {"NewNSG": {"type": "object",
      "value": "[reference(parameters(''name''))]"}}}}, "tags": {"cliName1": "cliValue1",
      "cliName4": "cliValue4"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec-tags000002/versions/3.0?api-version=2019-06-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"cliName1\":
        \"cliValue1\",\r\n    \[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_template_specs000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001","name":"cli_test_template_specs000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-12-14T15:27:33Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-template-spec-tags000002?api-version=2019-06-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
