interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/Azure/bicep/releases
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/Azure/bicep/releases/36748373","assets_url":"https://api.github.com/repos/Azure/bicep/releases/36748373/assets","upload_url":"https://uploads.github.com/repos/Azure/bicep/releases/36748373/assets{?name,label}","html_url":"https://github.com/Azure/bicep/releases/tag/v0.2.328","id":36748373,"author":{"login":"majastrz","id":22460039,"node_id":"MDQ6VXNlcjIyNDYwMDM5","avatar_url":"https://avatars.githubusercontent.com/u/22460039?v=4","gravatar_id":"","url":"https://api.github.com/users/majastrz","html_url":"https://github.com/majastrz","followers_url":"https://api.github.com/users/majastrz/followers","following_url":"https://api.github.com/users/majastrz/following{/other_user}","gists_url":"https://api.github.com/users/majastrz/gists{/gist_id}","starred_url":"https://api.github.com/users/majastrz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/majastrz/subscriptions","organizations_url":"https://api.github.com/users/majastrz/orgs","repos_url":"https://api.github.com/users/majastrz/repos","events_url":"https://api.github.com/users/majastrz/events{/privacy}","received_events_url":"https://api.github.com/users/majastrz/received_events","type":"User","site_admin":false},"node_id":"MDc6UmVsZWFzZTM2NzQ4Mzcz","tag_name":"v0.2.328","target_commitish":"main","name":"v0.2.328
        (alpha)","draft":false,"prerelease":false,"created_at":"2021-01-22T02:58:02Z","published_at":"2021-01-22T07:08:14Z","assets":[{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/31028756","id":31028756,"node_id":"MDEyOlJlbGVhc2VBc3NldDMxMDI4NzU2","name":"bicep-langserver.zip","label":"","uploader":{"login":"majastrz","id":22460039,"node_id":"MDQ6VXNlcjIyNDYwMDM5","avatar_url":"https://avatars.githubusercontent.com/u/22460039?v=4","gravatar_id":"","url":"https://api.github.com/users/majastrz","html_url":"https://github.com/majastrz","followers_url":"https://api.github.com/users/majastrz/followers","following_url":"https://api.github.com/users/majastrz/following{/other_user}","gists_url":"https://api.github.com/users/majastrz/gists{/gist_id}","starred_url":"https://api.github.com/users/majastrz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/majastrz/subscriptions","organizations_url":"https://api.github.com/users/majastrz/orgs","repos_url":"https://api.github.com/users/majastrz/repos","events_url":"https://api.github.com/users/majastrz/events{/privacy}","received_events_url":"https://api.github.com/users/majastrz/received_events","type":"User","site_admin":false},"content_type":"application/zip","state":"uploaded","size":4532684,"download_count":5,"created_at":"2021-01-22T03:35:00Z","updated_at":"2021-01-22T03:35:01Z","browser_download_url":"https://github.com/Azure/bicep/releases/download/v0.2.328/bicep-langserver.zip"},{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/31028682","id":31028682,"node_id":"MDEyOlJlbGVhc2VBc3NldDMxMDI4Njgy","name":"bicep-linux-x64","label":"","uploader":{"login":"majastrz","id":22460039,"node_id":"MDQ6VXNlcjIyNDYwMDM5","avatar_url":"https://avatars.githubusercontent.com/u/22460039?v=4","gravatar_id":"","url":"https://api.github.com/users/majastrz","html_url":"https://github.com/majastrz[...]
