interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
      \"mode\": \"Incremental\", template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"scriptName\":
      {\r\n           \"type\": \"string\",\r\n           \"metadata\": {\r\n                \"description\":
      \"Deployment script name\"\r\n            }\r\n        },\r\n        \"utcValue\":
      {\r\n            \"type\": \"string\",\r\n            \"defaultValue\": \"[utcNow()]\"\r\n
      \       }\r\n    },\r\n    \"resources\": [\r\n        {\r\n            \"type\":
      \"Microsoft.Resources/deploymentScripts\",\r\n            \"apiVersion\": \"2019-10-01-preview\",\r\n
      \           \"name\": \"[parameters('scriptName')]\",\r\n            \"location\":
      \"[resourceGroup().location]\",\r\n            \"identity\": {\r\n                \"type\":
      \"UserAssigned\",\r\n                \"userAssignedIdentities\": {\r\n                    \"[concat('/subscriptions/',
      subscription().subscriptionId, '/resourceGroups/python_sdk_test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/python_test_sdk_msi')]\":
      {}\r\n                }\r\n            },\r\n            \"kind\": \"AzureCLI\",\r\n
      \           \"properties\": {\r\n                \"forceUpdateTag\": \"[parameters('utcValue')]\",\r\n
      \               \"containerSettings\": {\r\n                    \"containerGroupName\":
      \"mycustomaci\"\t\r\n                },\r\n                \"AzCliVersion\":
      \"2.0.80\",\r\n                \"timeout\": \"PT30M\",\r\n                \"arguments\":
      \"'foo' 'bar'\",\r\n                \"scriptContent\": \"echo 'foo'\",\r\n                \"cleanupPreference\":
      \"OnExpiration\",\r\n                \"retentionInterval\": \"P1D\"\r\n            }\r\n
      \       }\r\n    ],\r\n    \"outputs\": {}\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"10149382041214521334","parameters":{"scriptName":{"type":"String","value":"script000002"},"utcValue":{"type":"String","value":"20200409T024259Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-04-09T02:42:59.0533548Z","duration":"PT0S","correlationId":"8e6d9dd3-e26c-4b37-a2b0-f6ab48f03f3c","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
      \"mode\": \"Incremental\", template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"scriptName\":
      {\r\n           \"type\": \"string\",\r\n           \"metadata\": {\r\n                \"description\":
      \"Deployment script name\"\r\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586152067061636960?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"10149382041214521334","parameters":{"scriptName":{"type":"String","value":"script000002"},"utcValue":{"type":"String","value":"20200409T024259Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-04-09T02:44:34.9990646Z","duration":"PT1M35.6851499S","correlationId":"94825701-e685-495c-b89d-d208deef8428","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["westus"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002/logs?api-version=2019-10-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"log\":
        \"foo\\n\"\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002/logs/default\",\r\n
        \     \"type\": \"Microsoft.Resources/deploymentScripts/logs\",\r\n      \"name\":
        \"default\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
