interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-subscription000001?api-version=2022-08-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource ''cli-test-list-deployment-stack-subscription000001''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"foo": {"type": "string", "defaultValue":
      "foo", "metadata": {"description": "description"}}, "bar": {"type": "string",
      "defaultValue": "bar", "metadata": {"description": "description"}}}, "functions":
      [], "variables": {}, "resources": [], "outputs": {"foo": {"type": "string",
      "value": "[parameters(''foo'')]"}, "bar": {"type": "string", "value": "[parameters(''bar'')]"}}},
      "parameters": {"foo": {"value": "abc"}, "bar": {"value": "xyz"}}, "actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach"}, "denySettings": {"mode":
      "none", "applyToChildScopes": false}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-subscription000001?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"detach\",\r\n      \"resourceGroups\":
        \"detach\",\r\n      \"managementGroups\": \"detach\"\r\n    },\r\n    \"denySettings\":
        {\r\n      \"mode\": \"none\",\r\n      \"applyToChildScopes\": false\r\n
        \   },\r\n    \"parameters\": {\r\n      \"foo\": {\r\n        \"value\":
        \"abc\",\r\n        \"type\": \"string\"\r\n      },\r\n      \"bar\": {\r\n
        \       \"value\": \"xyz\",\r\n        \"type\": \"string\"\r\n      }\r\n
        \   },\r\n    \"resources\": [],\r\n    \"provisioningState\": \"initializing\",\r\n
        \   \"detachedResources\": [],\r\n    \"deletedResources\": [],\r\n    \"failedResources\":
        []\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"danted@microsoft.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2023-10-27T02:19:47.2975643Z\",\r\n
        \   \"lastModifiedBy\": \"danted@microsoft.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2023-10-27T02:19:47.2975643Z\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-subscription000001\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-list-deployment-stack-subscription000001\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/301510e4-8b33-4712-8f84-01adfc7bb298?api-version=2022-08-01-preview&t=638339699875319702&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMjQwNzI4MDkwMzExWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westus2/deploymentStackOperationStatus/301510e4-8b33-4712-8f84-01adfc7bb298?api-version=2022-08-01-preview&t=638339699875319702&c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMj[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-subscription000001?api-version=2022-08-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"detach\",\r\n      \"resourceGroups\":
        \"detach\",\r\n      \"managementGroups\": \"detach\"\r\n    },\r\n    \"deploymentId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/cli-test-list-deployment-stack-subscri-2023-10-27-02-19-47-82deb\",\r\n
        \   \"duration\": \"PT6.692166S\",\r\n    \"denySettings\": {\r\n      \"mode\":
        \"none\",\r\n      \"applyToChildScopes\": false\r\n    },\r\n    \"outputs\":
        {\r\n      \"foo\": {\r\n        \"type\": \"String\",\r\n        \"value\":
        \"abc\"\r\n      },\r\n      \"bar\": {\r\n        \"type\": \"String\",\r\n
        \       \"value\": \"xyz\"\r\n      }\r\n    },\r\n    \"parameters\": {\r\n
        \     \"foo\": {\r\n        \"value\": \"abc\",\r\n        \"type\": \"string\"\r\n
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks?api-version=2022-08-01-preview
  response:
    body:
      string: '{"value":[{"location":"centralus","properties":{"actionOnUnmanage":{"resources":"detach","resourceGroups":"detach","managementGroups":"detach"},"deploymentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/DanteSubStackTemplateErr3-2023-02-02-02-18-43-42acf","duration":"PT44.2630162S","denySettings":{"mode":"none","applyToChildScopes":false},"parameters":{"storageModName":{"value":"DanteStorageModName234"},"specModName":{"value":"DanteSpecMod234"},"location":{"value":"centralus"},"versionName":{"value":"DanteVersionName234"},"rgName":{"value":"dante-rg-234"},"storageName":{"value":"DanteStorageName234"},"specName":{"value":"DanteSpecName234"}},"resources":[{"status":"managed","denyStatus":"none","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dante-rg-234/providers/Microsoft.Resources/templateSpecs/DanteSpecName234/versions/DanteVersionName234"},{"status":"managed","denyStatus":"none","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dante-rg-234/providers/Microsoft.Resources/templateSpecs/DanteSpecName234"},{"status":"managed","denyStatus":"none","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dante-rg-234"}],"provisioningState":"failed","detachedResources":[],"deletedResources":[],"failedResources":[{"error":{"code":"AccountNameInvalid","message":"DanteStorageModName234
        is not a valid storage account name. Storage account name must be between
        3 and 24 characters in length and use numbers and lower-case letters only."},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dante-rg-234/providers/Microsoft.Storage/storageAccounts/DanteStorageModName234"}],"error":{"code":"DeploymentStackUpdateFailed","message":"One
        or more stages of the deploymentStack failed. Correlation id: ''fccfbbc9-f8b3-472f-8279-443e44c4b7d8''","details":[{"code":"DeploymentFailed","message":"At
        least one resource deployment operation failed. Please list deployment operations
        for details. Please see https://aka.ms/arm-deployment-operations for usage
        details.","details":[{"code":"DeploymentFailed","message":"At least one resource
        deployment operation failed. Please list deployment operations for details.
        Please see https://aka.ms/arm-deployment-operations for usage details."}]}]}},"systemData":{"createdBy":"danted@microsoft.com","createdByType":"User","createdAt":"2023-02-02T02:18:42.783965Z","lastModifiedBy":"danted@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-02T02:18:42.783965Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/DanteSubStackTemplateErr3","type":"Microsoft.Resources/deploymentStacks","name":"DanteSubStackTemplateErr3"},{"location":"eastus","properties":{"actionOnUnmanage":{"resources":"detach","resourceGroups":"detach","managementGroups":"detach"},"deploymentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/DanteFailureStack2-2023-03-17-21-02-37-1851c","duration":"PT8.5233648S","denySettings":{"mode":"none","applyToChildScopes":false},"parameters":{"location":{"value":"eastus"},"specVersionName":{"value":"V2"},"templateSpecModuleName":{"value":"DanteCoolModule1456"},"rgName":{"value":"dantedtestrg4"},"templateSpecName":{"value":"ABetterSpec"}},"resources":[{"status":"managed","denyStatus":"none","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dantedtestrg4"}],"provisioningState":"failed","detachedResources":[],"deletedResources":[],"failedResources":[],"error":{"code":"DeploymentStackUpdateFailed","message":"One
        or more stages of the deploymentStack failed. Correlation id: ''e3c9c7b4-8695-4594-b18d-2aa052c24256''","details":[{"code":"DeploymentFailed","message":"At
        leas[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-list-deployment-stack-subscription000001?unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&api-version=2022-08-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
