interactions:
- request:
    body: '{"accountEnabled": true, "displayName": "tester123", "passwordProfile":
      {"password": "Test123456789", "forceChangePasswordNextLogin": false}, "userPrincipalName":
      "testuser000002@azuresdkteam.onmicrosoft.com", "mailNickname": "testuser000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"3da76293-928a-4362-9658-9793b078f837","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2020-07-15T10:05:49Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"tester123","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"testuser000002","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2020-07-15T10:05:49.7117837Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/3da76293-928a-4362-9658-9793b078f837/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"testuser000002@azuresdkteam.onmicrosoft.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '7142131'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/3da76293-928a-4362-9658-9793b078f837/Microsoft.DirectoryServices.User
      ocp-aad-diagnostics-server-name:
      - 4gwQrBtXks5dVi0aRt0zGhLTOtYc/KnLaBj5AQs9ou4=
      ocp-aad-session-key:
      - nWwIgVFU_RW_MKrel1rXxKcrwZFqRUcpNmv85Q6okWGYpr-SpeLd0XWZwtLxfTkpvR5-3nKpXcTrmHcU1WMfYeOZwU3APBb_SR3El69LW1_Au3Gek7abKYXRA1qYs56Uxj9O3D2sUWRJvE8BFBhKkjo5Tpjr2Sux4nyYI-_oZ3U.A1_0zRQoEV5sc9N-mK7cxgsK8-ZSsV5Vl_ePQGvlZ8E
      x-aad-resource-unit:
      - '1'
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2019-02-05T21:24:38.4580610Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27testuser000002%40azuresdkteam.onmicrosoft.com%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"3da76293-928a-4362-9658-9793b[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "3da76293-928a-4362-9658-9793b078f837"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"3da76293-928a-4362-9658-9793b078f837","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2020-07-15T10:06:06.6441369Z","updatedOn":"2020-07-15T10:06:06.6441369Z","createdBy":null,"updatedBy":"9ac534f1-d577-4034-a32d-48de400dacbf"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westcentralus", "properties": {"lockLevel": "None", "displayName":
      "test_appdef_123", "authorizations": [{"principalId": "3da76293-928a-4362-9658-9793b078f837",
      "roleDefinitionId": "b24988ac-6180-42a0-ab88-20f7382dd24c"}], "description":
      "test_appdef_123", "packageFileUri": "https://github.com/Azure/azure-managedapp-samples/raw/master/Managed%20Application%20Sample%20Packages/201-managed-storage-account/managedstorage.zip"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.3 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/2017-09-01
        Azure-SDK-For-Python AZURECLI/2.8.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/2017-09-01
        Azure-SDK-For-Python AZURECLI/2.9.0
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname?api-version=2018-06-01
  response:
    body:
<<<<<<< HEAD
      string: '{"properties":{"authorizations":[{"principalId":"872b463c-9606-4c8c-92a2-571a4d018650","roleDefinitionId":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}],"isEnabled":true,"lockLevel":"None","displayName":"test_appdef_123","description":"test_appdef_123","artifacts":[{"name":"ApplicationResourceTemplate","type":"Template","uri":"https://prdsapplianceprodcy01.blob.core.windows.net/applicationdefinitions/59C02_A1BFA635F2BF42F186B5848C674FC321_D19B88C140D181939211171F03668B5A67349714/37b1369a608343acb71cc6436b2fba5d/applicationResourceTemplate.json"},{"name":"CreateUiDefinition","type":"Custom","uri":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefiniti[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.3 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/2017-09-01
        Azure-SDK-For-Python AZURECLI/2.8.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/2017-09-01
        Azure-SDK-For-Python AZURECLI/2.9.0
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-00[...]
- request:
    body: 'b''{"location": "westcentralus", "tags": {"key": "val"}, "properties":
      {"managedResourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000003",
      "applicationDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname",
      "parameters": {"storageAccountNamePrefix": {"value": "mytest"}, "storageAccountType":
      {"value": "Standard_LRS"}}}, "kind": "servicecatalog"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.3 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/2017-09-01
        Azure-SDK-For-Python AZURECLI/2.8.0
=======
      - python/3.8.0 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/2017-09-01
        Azure-SDK-For-Python AZURECLI/2.9.0
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applications/mymanagedapp?api-version=2018-06-01
  response:
    body:
<<<<<<< HEAD
      string: '{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000002","applicationDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname","publisherPackageId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname","provisioningState":"Accepted","authorizations":[{"principalId":"872b463c-9606-4c8c-92a2-571a4d018650","roleDefinitionId":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}],"createdBy":{"oid":"414d10da-615f-49a7-90a0-a7008fb31cd3","puid":"10032000C3972245","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"},"updatedBy":{"oid":"414d10da-615f-49a7-90a0-a7008fb31cd3","puid":"10032000C3972245","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applications/mymanagedapp","name":"mymanagedapp","type":"Microsoft.Solutions/applications","kind":"servicecatalog","location":"westcentralus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/locations/westcentralus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvYTFiZmE2MzUtZjJiZi00MmYxLTg2YjUtODQ4YzY3NGZjMzIxL3Jlc291cmNlR3JvdXBzL2NsaXRlc3QucmczdW5obXdxdmozeGtwYngyc2N1Y3Nnd3k1Y29hdmZxNHg2cGV4N3lvcGE3Y2dkNWRyM3V1N2g1am9obHBxanlqdi9wcm92aWRlcnMvTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWNhdGlvbnMvbXltYW5hZ2VkYXBwIiw[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.3 (Windows-10-10.0.19041-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-resource/2017-09-01
        Azure-SDK-For-Python AZURECLI/2.8.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/locations/westcentralus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvYTFiZmE2MzUtZjJiZi00MmY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/locations/westcentralus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL2NsaXRlc3QucmdlYXhjbGRtcTRidmc2Z2d2YXRpZjRlbW4zc21zZm9hcW82bHZuZ2x3b2RldHlrZ2RkY2J4b3N5Y2JidnF5NWhqcy9wcm92aWRlcnMvTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWNhdGlvbnMvbXltYW5hZ2VkYXBwIiwiam9iSWQiOiJBcHBsaWFuY2VQcm92aXNpb25pbmdKb2I6MkRSR0E6MkRDTElURVNUOjNBMkVSR0VBWENMRE1RNEJWRzZHR1ZBVElGNEVNTjNTTVNGT0FRTzZMOjdDMTVDREQ4MUFENDlCREU2MDoyRE1ZTUFOQUdFREFQUCJ9?api-version=2018-06-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applications/mymanagedapp?api-version=2018-06-01
  response:
    body:
      string: '{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000003","applicationDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname","publisherPackageId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname","parameters":{"storageAccountNamePrefix":{"type":"String","value":"mytest"},"storageAccountType":{"type":"String","value":"Standard_LRS"},"location":{"type":"String","value":"westcentralus"}},"outputs":{"storageEndpoint":{"type":"String","value":"https://mytestzu4ll3n7x3ok6.blob.core.windows.net/"}},"provisioningState":"Succeeded","authorizations":[{"principalId":"3da76293-928a-4362-9658-9793b078f837","roleDefinitionId":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"createdBy":{"oid":"9ac534f1-d577-4034-a32d-48de400dacbf","puid":"1003200089E2EE8A","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"},"updatedBy":{"oid":"9ac534f1-d577-4034-a32d-48de400dacbf","puid":"1003200089E2EE8A","applicationId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applications/mymanagedapp","name":"mymanagedapp","type":"Microsoft.Solutions/applications","kind":"servicecatalog","location":"westcentralus","tags":{"key":"val"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applications?api-version=2018-06-01
  response:
    body:
      string: '{"value":[{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000003","applicationDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/res[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/locations/westcentralus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL2NsaXRlc3QucmdlYXhjbGRtcTRidmc2Z2d2YXRpZjRlbW4zc21zZm9hcW82bHZuZ2x3b2RldHlrZ2RkY2J4b3N5Y2JidnF5NWhqcy9wcm92aWRlcnMvTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWNhdGlvbnMvbXltYW5hZ2VkYXBwIiwiam9iSWQiOiJBcHBsaWFuY2VEZXByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRENMSVRFU1Q6M0EyRVJHRUFYQ0xETVE0QlZHNkdHVkFUSUY0RU1OM1NNU0ZPQVFPNkw6N0MxNUNERDgxQUQ0OUJERTYwOjJETVlNQU5BR0VEQVBQIn0?api-version=2018-06-01
  response:
    body:
      string: '{"status":"Accepted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/locations/westcentralus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL2NsaXRlc3QucmdlYXhjbGRtcTRidmc2Z2d2YXRpZjRlbW4zc21zZm9hcW82bHZuZ2x3b2RldHlrZ2RkY2J4b3N5Y2JidnF5NWhqcy9wcm92aWRlcnMvTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWNhdGlvbnMvbXltYW5hZ2VkYXBwIiwiam9iSWQiOiJBcHBsaWFuY2VEZXByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRENMSVRFU1Q6M0EyRVJHRUFYQ0xETVE0QlZHNkdHVkFUSUY0RU1OM1NNU0ZPQVFPNkw6N0MxNUNERDgxQUQ0OUJERTYwOjJETVlNQU5BR0VEQVBQIn0?api-version=2018-06-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding,Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
<<<<<<< HEAD
=======
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=atScope%28%29&api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/056cd41c-7e88-42e1-933e-88ba6a50c9c3","principalId":"30601973-dcd6-4c[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/testuser000002%40azuresdkteam.onmicrosoft.com?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '3349627'
      ocp-aad-diagnostics-server-name:
      - pzL7MYz+13rwz6dcagI+grmERaSlcZRkvSrlIzhV0Hw=
      ocp-aad-session-key:
      - qWJeak5GS-6Yu9RKj8Ae4ki9KtmBxYnS61Z238D0Ffu8Sm3T8hd73e7-JIEGEYk_yWaNVmkZCkAIyZZ8zq1BHAeV6wAiJB0_7T-lIZ-OFwyJq2WN87R4Q62aiYN3rSTVc9Bmu6REleqFvq_KdqeEVNr1bm7rJnJRrVUKzyt3q2o.ZDSIAr4tDsGNZt0vzwLUrbp0aLQLSfiFzNZ7Q08ZuK0
      x-aad-resource-unit:
      - '1'
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
>>>>>>> 959166f624c1154a4225188a267842db777c48fe
version: 1
