interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/Azure/bicep/releases
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/Azure/bicep/releases/44131194","assets_url":"https://api.github.com/repos/Azure/bicep/releases/44131194/assets","upload_url":"https://uploads.github.com/repos/Azure/bicep/releases/44131194/assets{?name,label}","html_url":"https://github.com/Azure/bicep/releases/tag/v0.4.63","id":44131194,"author":{"login":"majastrz","id":22460039,"node_id":"MDQ6VXNlcjIyNDYwMDM5","avatar_url":"https://avatars.githubusercontent.com/u/22460039?v=4","gravatar_id":"","url":"https://api.github.com/users/majastrz","html_url":"https://github.com/majastrz","followers_url":"https://api.github.com/users/majastrz/followers","following_url":"https://api.github.com/users/majastrz/following{/other_user}","gists_url":"https://api.github.com/users/majastrz/gists{/gist_id}","starred_url":"https://api.github.com/users/majastrz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/majastrz/subscriptions","organizations_url":"https://api.github.com/users/majastrz/orgs","repos_url":"https://api.github.com/users/majastrz/repos","events_url":"https://api.github.com/users/majastrz/events{/privacy}","received_events_url":"https://api.github.com/users/majastrz/received_events","type":"User","site_admin":false},"node_id":"MDc6UmVsZWFzZTQ0MTMxMTk0","tag_name":"v0.4.63","target_commitish":"main","name":"v0.4.63","draft":false,"prerelease":false,"created_at":"2021-06-04T19:35:26Z","published_at":"2021-06-05T01:30:09Z","assets":[{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/38091029","id":38091029,"node_id":"MDEyOlJlbGVhc2VBc3NldDM4MDkxMDI5","name":"Azure.Bicep.CommandLine.linux-x64.0.4.63.nupkg","label":"","uploader":{"login":"majastrz","id":22460039,"node_id":"MDQ6VXNlcjIyNDYwMDM5","avatar_url":"https://avatars.githubusercontent.com/u/22460039?v=4","gravatar_id":"","url":"https://api.github.com/users/majastrz","html_url":"https://github.com/majastrz","followers_url":"https://api.github.com/users/majastrz/followers","following_url":"https://api.github.com/users/majastrz/following{/other_user}","gists_url":"https://api.github.com/users/majastrz/gists{/gist_id}","starred_url":"https://api.github.com/users/majastrz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/majastrz/subscriptions","organizations_url":"https://api.github.com/users/majastrz/orgs","repos_url":"https://api.github.com/users/majastrz/repos","events_url":"https://api.github.com/users/majastrz/events{/privacy}","received_events_url":"https://api.github.com/users/majastrz/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":18419987,"download_count":4,"created_at":"2021-06-04T20:53:36Z","updated_at":"2021-06-04T20:53:38Z","browser_download_url":"https://github.com/Azure/bicep/releases/download/v0.4.63/Azure.Bicep.CommandLine.linux-x64.0.4.63.nupkg"},{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/38091036","id":38091036,"node_id":"MDEyOlJlbGVhc2VBc3NldDM4MDkxMDM2","name":"Azure.Bicep.CommandLine.osx-x64.0.4.63.nupkg","label":"","uploader":{"login":"majastrz","id":22460039,"node_id":"MDQ6VXNlcjIyNDYwMDM5","avatar_url":"https://avatars.githubusercontent.com/u/22460039?v=4","gravatar_id":"","url":"https://api.github.com/u[...]
