interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
      \"mode\": \"Incremental\", template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"scriptName\":
      {\r\n           \"type\": \"string\",\r\n           \"metadata\": {\r\n                \"description\":
      \"Deployment script name\"\r\n            }\r\n        },\r\n        \"apiVersion\":
      {\r\n            \"type\": \"string\",\r\n            \"defaultValue\": \"2019-10-01-preview\",\r\n
      \           \"allowedValues\": [\r\n                \"2019-10-01-preview\",\r\n
      \               \"2020-10-01\"\r\n            ]\r\n        },\r\n        \"utcValue\":
      {\r\n            \"type\": \"string\",\r\n            \"defaultValue\": \"[utcNow()]\"\r\n
      \       }\r\n    },\r\n    \"variables\": {\r\n        \"identity\": {\r\n            \"type\":
      \"UserAssigned\",\r\n            \"userAssignedIdentities\": {\r\n                \"[concat('/subscriptions/',
      subscription().subscriptionId, '/resourceGroups/python_sdk_test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/python_test_sdk_msi')]\":
      {}\r\n            }\r\n        }\r\n    },\r\n    \"resources\": [\r\n        {\r\n
      \           \"type\": \"Microsoft.Resources/deploymentScripts\",\r\n            \"apiVersion\":
      \"[parameters('apiVersion')]\",\r\n            \"name\": \"[parameters('scriptName')]\",\r\n
      \           \"location\": \"[resourceGroup().location]\",\r\n            \"identity\":
      \"[if(equals(parameters('apiVersion'), '2020-10-01'), json('null'), variables('identity'))]\",\r\n
      \           \"kind\": \"AzureCLI\",\r\n            \"properties\": {\r\n                \"forceUpdateTag\":
      \"[parameters('utcValue')]\",\r\n                \"containerSettings\": {\r\n
      \                   \"containerGroupName\": \"mycustomaci\"\t\r\n                },\r\n
      \               \"AzCliVersion\": \"2.0.80\",\r\n                \"timeout\":
      \"PT30M\",\r\n                \"arguments\": \"'foo' 'bar'\",\r\n                \"scriptContent\":
      \"echo 'foo'\",\r\n                \"cleanupPreference\": \"OnExpiration\",\r\n
      \               \"retentionInterval\": \"PT25H\"\r\n            }\r\n        }\r\n
      \   ],\r\n    \"outputs\": {}\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14703401809190187027","parameters":{"scriptName":{"type":"String","value":"script000002"},"apiVersion":{"type":"String","value":"2019-10-01-preview"},"utcValue":{"type":"String","value":"20201106T200522Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-11-06T20:05:23.1495198Z","duration":"PT0S","correlationId":"90337363-1d61-4ae9-b331-4cf1ba09d65b","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["brazilsouth"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
      \"mode\": \"Incremental\", template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"scriptName\":
      {\r\n           \"type\": \"string\",\r\n           \"metadata\": {\r\n                \"description\":
      \"Deployment script name\"\r\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585969137600987947?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14703401809190187027","parameters":{"scriptName":{"type":"String","value":"script000002"},"apiVersion":{"type":"String","value":"2019-10-01-preview"},"utcValue":{"type":"String","value":"20201106T200524Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-11-06T20:07:39.9083432Z","duration":"PT2M14.5295123S","correlationId":"1d3b4f1c-5a8c-4e67-aa03-0655a8a6d54b","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["brazilsouth"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002/logs?api-version=2020-10-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"log\":
        \"2020-11-06T20:07:26.737233Z stdout F foo\\n\"\r\n      },\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002/logs/default\",\r\n
        \     \"type\": \"Microsoft.Resources/deploymentScripts/logs\",\r\n      \"name\":
        \"default\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
