interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabilities":"None"},{"resourceType":"managementGroups/set[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "AzBlueprint", "properties": {"details": {"parent": {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint","type":"/providers/Microsoft.Management/managementGroups","name":"AzBlueprint","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"Azure
        Blueprint","details":{"version":1,"updatedTime":"2018-05-02T17:10:51.8506417Z","updatedBy":"1c2f7300-0977-4912-bbe1-ae870f953e9b","parent":{"id":"/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47","name":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"72f988bf-86f1-41af-91ab-2d7cd011db47"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.1577
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedsubId\":
      {\"value\": \"a1bfa635-f2bf-42f1-86b5-848c674fc321\"}, \"storageAccountName\":
      {\"value\": \"armbuilddemo1234\"}, \"targetMG\": {\"value\": \"AzBlueprint\"},
      \"nestedRG\": {\"value\": \"a1bfa635-f2bf-42f1-86b5-848c674fc321\"}}, \"mode\":
      \"Incremental\", template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \ \"contentVersion\": \"1.0.0.0\",\r\n  \"parameters\": {\r\n    \"targetMG\":
      {\r\n      \"type\": \"string\"\r\n    },\r\n    \"nestedsubId\": {\r\n      \"type\":
      \"string\"\r\n    },\r\n    \"nestedRG\": {\r\n      \"type\": \"string\"\r\n
      \   },\r\n    \"storageAccountName\": {\r\n      \"type\": \"string\"\r\n    }\r\n
      \ },\r\n  \"variables\": {\r\n    \"mgScope\": \"[concat('/providers/Microsoft.Management/managementGroups/',
      parameters('targetMG'))]\"\r\n  },\r\n  \"resources\": [\r\n    {\r\n      \"type\":
      \"Microsoft.Authorization/policyDefinitions\",\r\n      \"name\": \"policy2\",\r\n
      \     \"apiVersion\": \"2016-12-01\",\r\n      \"properties\": {\r\n        \"policyType\":
      \"Custom\",\r\n        \"parameters\": {\r\n\r\n        },\r\n        \"policyRule\":
      {\r\n          \"if\": {\r\n            \"field\": \"location\",\r\n            \"equals\":
      \"northeurope\"\r\n          },\r\n          \"then\": {\r\n            \"effect\":
      \"deny\"\r\n          }\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"type\":
      \"Microsoft.Authorization/policyAssignments\",\r\n      \"name\": \"location-lock\",\r\n
      \     \"apiVersion\": \"2016-12-01\",\r\n      \"dependsOn\": [\r\n        \"policy2\"\r\n
      \     ],\r\n      \"properties\": {\r\n        \"scope\": \"[variables('mgScope')]\",\r\n
      \       \"policyDefinitionId\": \"[concat(variables('mgScope'), '/providers/',
      'Microsoft.Authorization/policyDefinitions/', 'policy2')]\"\r\n      }\r\n    },\r\n
      \   {\r\n      \"type\": \"Microsoft.Resources/deployments\",\r\n      \"name\":
      \"sdktest-subnested\",\r\n      \"apiVersion\": \"2018-05-01\",\r\n      \"location\":
      \"West US\",\r\n      \"subscriptionId\": \"[parameters('nestedSubId')]\",\r\n
      \     \"properties\": {\r\n        \"template\": {\r\n          \"$schema\":
      \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {\r\n\r\n
      \         },\r\n          \"variables\": {\r\n\r\n          },\r\n          \"resources\":
      [\r\n            {\r\n              \"type\": \"Microsoft.Resources/resourceGroups\",\r\n
      \             \"name\": \"[parameters('nestedRG')]\",\r\n              \"apiVersion\":
      \"2018-05-01\",\r\n              \"location\": \"East US 2 EUAP\",\r\n              \"properties\":
      {\r\n\r\n              }\r\n            },\r\n            {\r\n              \"type\":
      \"Microsoft.Resources/deployments\",\r\n              \"name\": \"rg-nested\",\r\n
      \             \"apiVersion\": \"2017-05-10\",\r\n              \"resourceGroup\":
      \"[parameters('nestedRG')]\",\r\n              \"dependsOn\": [ \"[parameters('nestedRG')]\"
      ],\r\n              \"properties\": {\r\n                \"template\": {\r\n
      \                 \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \                 \"contentVersion\": \"1.0.0.0\",\r\n                  \"parameters\":
      {\r\n\r\n                  },\r\n                  \"variables\": {\r\n\r\n
      \                 },\r\n                  \"resources\": [\r\n                    {\r\n
      \                     \"type\": \"Microsoft.Storage/storageAccounts\",\r\n                      \"name\":
      \"[parameters('storageAccountName')]\",\r\n                      \"apiVersion\":
      \"2015-06-15\",\r\n                      \"location\": \"East US\",\r\n                      \"properties\":
      {\r\n                        \"accountType\": \"Standard_LRS\",\r\n                        \"supportsHttpsTrafficOnly\":
      true\r\n                      }\r\n                    }\r\n                  ]\r\n
      \               },\r\n                \"mode\": \"Incremental\"\r\n              }\r\n
      \           }\r\n          ]\r\n        },\r\n        \"mode\": \"Incremental\"\r\n
      \     }\r\n    }\r\n  ] // comment\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/management_group_level_template","name":"management_group_level_template","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"13170742102864522604","parameters":{"targetMG":{"type":"String","value":"AzBlueprint"},"nestedsubId":{"type":"String","value":"a1bfa635-f2bf-42f1-86b5-848c674fc321"},"nestedRG":{"type":"String","value":"a1bfa635-f2bf-42f1-86b5-848c674fc321"},"storageAccountName":{"type":"String","value":"armbuilddemo1234"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T15:39:43.2932417Z","duration":"PT0S","correlationId":"d4d7c766-d0f5-429a-b287-c6381d5bf8d9","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]},{"resourceType":"policyAssignments","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Authorization/policyDefinitions/policy2","resourceType":"Microsoft.Authorization/policyDefinitions","resourceName":"policy2"}],"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Authorization/policyAssignments/location-lock","resourceType":"Microsoft.Authorization/policyAssignments","resourceName":"location-lock"}],"validatedResources":[{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Authorization/policyAssignments/location-lock"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/sdktest-subnested"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/a1bfa635-f2bf-42f1-86b5-848c674fc321"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/a1bfa635-f2bf-42f1-86b5-848c674fc321/providers/Microsoft.Resources/deployments/rg-nested"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/a1bfa635-f2bf-42f1-86b5-848c674fc321/providers/Microsoft.Storage/storageAccounts/armbuilddemo1234"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources","namespace":"Microsoft.Resources","authorization":{"applicationId":"3b990c8b-9607-4c2a-8b04-1d41985facca"},"resourceTypes":[{"resourceType":"tenants","locations":[],"apiVersions":["2020-01-01","2019-09-01","2019-05-01","2019-04-01","2019-03-01","2018-11-01","2018-09-01","2018-08-01","2018-07-01","2018-05-01","2018-02-01","2018-01-01","2017-08-01","2017-06-01","2017-05-10","2017-05-01","2017-03-01","2016-09-01","2016-07-01","2016-06-01","2016-02-01","2015-11-01","2015-01-01","2014-04-01-preview"],"apiProfiles":[{"profileVersion":"2018-06-01-profile","apiVersion":"2016-06-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2016-06-01"}],"capabilities":"None"},{"resourceType":"locations","locations":[],"apiVersions":["2019-09-01","2019-05-01","2019-04-01","2019-03-01","2018-11-01","2018-09-01","2018-08-01","2018-07-01","2018-05-01","2018-02-01","2018-01-01","2017-08-01","2017-06-01","2017-05-10","2017-05-01","2017-03-01","2016-09-01","2016-07-01","2016-06-01","2016-02-01","2015-11-01","2015-01-01","2014-04-01-preview[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TemplateSpecsCLI/providers/Microsoft.Resources/TemplateSpecs/BasicTemplateSpecs/versions/1.1.0?api-version=2019-06-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"eastus\",\r\n  \"systemData\": {\r\n    \"createdBy\":
        \"daetienn@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\":
        \"2020-07-02T17:02:42.3968673Z\",\r\n    \"lastModifiedBy\": \"daetienn@microsoft.com\",\r\n
        \   \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2020-07-02T17:02:42.3968673Z\"\r\n
        \ },\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
        \     \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {},\r\n      \"resources\":
        []\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TemplateSpecsCLI/providers/Microsoft.Resources/templateSpecs/BasicTemplateSpecs/versions/1.1.0\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs/versions\",\r\n  \"name\":
        \"1.1.0\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "WestUS", "properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TemplateSpecsCLI/providers/Microsoft.Resources/TemplateSpecs/BasicTemplateSpecs/versions/1.1.0"},
      "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/1.1","name":"1.1","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateLink":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TemplateSpecsCLI/providers/Microsoft.Resources/TemplateSpecs/BasicTemplateSpecs/versions/1.1.0","contentVersion":"1.0.0.0"},"templateHash":"1172291598576347284","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-07-06T15:39:45.6277278Z","duration":"PT0S","correlationId":"604c1b09-dfde-4f93-83ef-54372cf5b388","providers":[],"dependencies":[],"validatedResources":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedsubId\":
      {\"value\": \"a1bfa635-f2bf-42f1-86b5-848c674fc321\"}, \"storageAccountName\":
      {\"value\": \"armbuilddemo1234\"}, \"targetMG\": {\"value\": \"AzBlueprint\"},
      \"nestedRG\": {\"value\": \"a1bfa635-f2bf-42f1-86b5-848c674fc321\"}}, \"mode\":
      \"Incremental\", template:{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586075568985881684?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/azure-cli-management-group-deployment000001","name":"azure-cli-management-group-deployment000001","type":"Microsoft.Resource[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/?$filter=provisioningState%20eq%20%27Succeeded%27&api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/azure-cli-management-group-deployment000001","name":"azure-cli-management-g[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2020-06-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"targetMG":{"type":"String"},"nestedsubId":{"type":"String"},"nestedRG":{"type":"String"},"storageAccountName":{"type":"String"}},"variables":{"mgScope":"[concat(''/providers/Microsoft.Management/managementGroups/'',
        parameters(''targetMG''))]"},"resources":[{"type":"Microsoft.Authorization/policyDefinitions","apiVersion":"2016-12-01","name":"policy2","properties":{"policyType":"Custom","parameters":{},"policyRule":{"if":{"field":"location","equals":"northeurope"},"then":{"effect":"deny"}}}},{"type":"Microsoft.Authorization/policyAssignments","apiVersion":"2016-12-01","name":"location-lock","dependsOn":["policy2"],"properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/mock-deployment/operations?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/azure-cli-management-group-deployment000001/operations/9906A82CD89F4D32","operationId":"9906A82CD89F4D32","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-07-06T15:39:48.9969938Z","duration":"PT0.2211056S","trackingId":"44a6b916-a4d9-4704-9d93-be643f5f7d36","serviceRequestId":"westus:929ccc23-eb61-4432-bcba-de92ca7c9a78","statusCode":"Created","targetResource":{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Authorization/policyAssignments/location-lock","resourceType":"Microsoft.Authorization/policyAssignments","resourceName":"location-lock"}}},{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/azure-cli-management-group-deployment000001/operations/062E3B7B245B6874","operationId":"062E3B7B245B6874","properties":{"provisioningOperation":"Create","provisio[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/mock-deployment/cancel?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"location": "WestUS", "properties": {"templateLink": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TemplateSpecsCLI/providers/Microsoft.Resources/TemplateSpecs/BasicTemplateSpecs/versions/1.1.0"},
      "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002","name":"azure-cli-resource-group-deployment000002","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateLink":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TemplateSpecsCLI/providers/Microsoft.Resources/TemplateSpecs/BasicTemplateSpecs/versions/1.1.0","contentVersion":"1.0.0.0"},"templateHash":"1172291598576347284","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-07-06T15:40:29.2679621Z","duration":"PT0.4966499S","correlationId":"a73bb97a-827e-4a72-a56a-8992686538a6","providers":[],"dependencies":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/azure-cli-resource-group-deployment000002/operationStatuses/08586075568567062822?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/AzBlueprint/providers/Microsoft.Resources/deployments/mock-deployment/cancel?api-version=2020-06-01
  response:
    body:
      string: '{"error":{"code":"DeploymentCannotBeCancelled","message":"The deployment
        ''azure-cli-resource-group-deployment000002'' cannot be cancelled because
        it has provisioning state ''Succeeded'' or it has already expired (expiration
        time is ''7/13/2020 3:40:28 PM'')."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 409
      message: Conflict
version: 1
