interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/templateSpecs/?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[{"location":"eastus","tags":{},"systemData":{"createdBy":"gopremra@microsoft.com","createdByType":"User","createdAt":"2020-05-20T15:21:56.6184382Z","lastModifiedBy":"gopremra@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-05-20T15:21:57.8037153Z"},"properties":{"description":"{\n    \"$schema\":
        \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n    \"contentVersion\":
        \"1.0.0.2\",\n    \"parameters\": {},\n    \"resources\": []\n}"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Gokul-testRG/providers/Microsoft.Resources/templateSpecs/Gokul_templateSpec","type":"Microsoft.Resources/templateSpecs","name":"Gokul_templateSpec"},{"location":"westus","systemData":{"createdBy":"daetienn@microsoft.com","createdByType":"User","createdAt":"2020-07-21T14:18:05.0238621Z","lastModifiedBy":"daetienn@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2020-07-21T14:19:00.661058Z"},"properties":{"displayName":"create-specjd3cnvm57","description":"AzCLI
        test root template spec"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specssoib6kcgsfzm5k4mmdk7xcx4t4zzd2c7n2ydesxl653bjwnrtkna/providers/Microsoft.Resources/templateSpecs/cli-test-create-template-specmis6yaudvj2ussrf44f2qn35cxptoi4","type":"Microsoft.Resources/templateSpecs","name":"cli-test-create-template-specmis6yaudvj2ussrf44f2qn35cxptoi4"},{"location":"westus","systemData":{"createdBy":"daeti[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/?api-version=2019-06-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-list-template-spec000002?api-version=2019-06-01-preview
  response:
    body:
      string: "{\r\n  \"location\": \"westus\",\r\n  \"systemData\": {\r\n    \"createdBy\":
        \"daetienn@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\":
        \"2020-07-21T15:21:08.4717271Z\",\r\n    \"lastModifiedBy\": \"daetienn@microsoft.com\",\r\n
        \   \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2020-07-21T15:21:08.4717271Z\"\r\n
        \ },\r\n  \"properties\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_template_specs000001/providers/Microsoft.Resources/templateSpecs/cli-test-list-template-spec000002\",\r\n
        \ \"type\": \"Microsoft.Resources/templateSpecs\",\r\n  \"name\": \"cli-test-list-template-spec000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "westus", "properties": {"artifacts": [{"path": "artifacts\\createResourceGroup.json",
      "kind": "template", "template": {"$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"rgName": {"type": "string"}, "rgLocation":
      {"type": "string"}}, "variables": {}, "resources": [{"type": "Microsoft.Resources/resourceGroups",
      "apiVersion": "2019-10-01", "name": "[parameters(''rgName'')]", "location":
      "[parameters(''rgLocation'')]", "properties": {}}], "outputs": {}}}, {"path":
      "artifacts\\createKeyVault.json", "kind": "template", "template": {"$schema":
      "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"keyVaultName": {"type": "string"},
      "location": {"type": "string", "defaultValue": "[resourceGroup().location]"},
      "skuName": {"type": "string", "defaultValue": "standard"}, "tenantId": {"type":
      "string", "defaultValue": "[subscription().tenantId]"}, "aadObjectId": {"type":
      "string", "defaultValue": "177f56a0-9e41-4008-a321-d3676aae9c69"}}, "variables":
      {}, "resources": [{"type": "Microsoft.KeyVault/vaults", "name": "[parameters(''keyVaultName'')]",
      "apiVersion": "2018-02-14", "location": "[parameters(''location'')]", "properties":
      {"tenantId": "[parameters(''tenantId'')]", "accessPolicies": [{"tenantId": "[parameters(''tenantId'')]",
      "objectId": "[parameters(''aadObjectId'')]", "permissions": {"keys": ["encrypt",
      "decrypt", "wrapKey", "unwrapKey", "sign", "verify", "get", "list", "create",
      "update", "import", "delete", "backup", "restore", "recover", "purge"], "secrets":
      ["get", "list", "set", "delete", "backup", "restore", "recover", "purge"], "certificates":
      ["get", "list", "delete", "create", "import", "update", "managecontacts", "getissuers",
      "listissuers", "setissuers", "deleteissuers", "manageissuers", "recover", "purge"]}}],
      "sku": {"name": "[parameters(''skuName'')]", "family": "A"}, "networkAcls":
      {"defaultAction": "Allow", "bypass": "AzureServices"}}}], "outputs": {}}}, {"path":
      "artifacts\\createKeyVaultWithSecret.json", "kind": "template", "template":
      {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"keyVaultName": {"type": "string"},
      "location": {"type": "string", "defaultValue": "[resourceGroup().location]"},
      "skuName": {"type": "string", "defaultValue": "standard"}, "tenantId": {"type":
      "string", "defaultValue": "[subscription().tenantId]"}, "aadObjectId": {"type":
      "string", "defaultValue": "177f56a0-9e41-4008-a321-d3676aae9c69"}}, "variables":
      {}, "resources": [{"type": "Microsoft.Resources/deployments", "apiVersion":
      "2019-10-01", "name": "keyVault", "properties": {"mode": "Incremental", "templateLink":
      {"relativePath": "createKeyVault.json", "contentVersion": "1.0.0.0"}, "parameters":
      {"keyVaultName": {"value": "[parameters(''keyVaultName'')]"}, "location": {"value":
      "[parameters(''location'')]"}, "skuName": {"value": "[parameters(''skuName'')]"},
      "tenantId": {"value": "[parameters(''tenantId'')]"}, "aadObjectId": {"value":
      "[parameters(''aadObjectId'')]"}}}}, {"type": "Microsoft.KeyVault/vaults/secrets",
      "apiVersion": "2018-02-14", "name": "[concat(parameters(''keyVaultName''), ''/mySecret'')]",
      "location": "[parameters(''location'')]", "dependsOn": ["keyVault"], "properties":
      {"value": "mySecretValue"}}], "outputs": {}}}], "template": {"$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"rgName": {"type": "string"}, "rgLocation":
      {"type": "string"}, "keyVaultName": {"type": "string"}}, "variables": {}, "resources":
      [{"type": "Microsoft.Resources/deployments", "apiVersion": "2019-10-01", "name":
      "deploymentRg", "location": "[parameters(''rgLocation'')]", "properties": {"mode":
      "Incremental", "templateLink": {"relativePath": "artifacts/createResourceGroup.json",
      "contentVersion": "1.0.0.0"}, "parameters": {"rgName": {"value": "[parameters(''rgName'')]"},
      "rgLocation": {"value": "[parameters(''rgLocation'')]"}}}}, {"type": "Microsoft.Resources/deployments",
      "apiVersion": "2019-10-01", "name": "keyVaultAndSecret", "resourceGroup": "[parameters(''rgName'')]",
      "dependsOn": ["deploymentRg"], "properties": {"mode": "Incremental", "templateLink":
      {"relativePath": "artifacts/createKeyVaultWithSecret.json", "contentVersion":
      "1.0.0.0"}, "parameters": {"keyVaultName": {"value": "[parameters(''keyVaultName'')]"}}}}],
      "outputs": {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000[...]
[...]
