interactions:
- request:
    body: '{"location": "eastus", "properties": {"lockLevel": "None", "displayName":
      "test_appdef000003", "authorizations": [{"principalId": "5e91139a-c94b-462e-a6ff-1ee95e8aac07",
      "roleDefinitionId": "8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}], "description":
      "test_appdef_123", "packageFileUri": "https://testclinew.blob.core.windows.net/files/vivekMAD.zip"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applicationDefinitions/testappdefname000002?api-version=2017-09-01
  response:
    body:
      string: '{"error":{"code":"DownloadItemFromBlobFailed","message":"Download of
        the item from blob at ''https://testclinew.blob.core.windows.net/files/vivekMAD.zip''
        failed due to a failed connection."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
