interactions:
- request:
    body: 'b''{"properties": {"parameters": {"CrossRg": {"value": "cli_test_cross_rg_alt000001"},
      "StorageAccountName1": {"value": "crossrgnbs7d3uccyeltkfit"}, "StorageAccountName2":
      {"value": "crossrglkpkcnxcgpzdgpvvu"}}, "mode": "Incremental", template:{\r\n  "$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",\r\n  "contentVersion":
      "1.0.0.0",\r\n  "parameters": {\r\n    "StorageAccountName1": {\r\n      "type":
      "string",\r\n      "defaultValue": "test1ddosdatest72"\r\n    },\r\n    "StorageAccountName2":
      {\r\n      "type": "string",\r\n      "defaultValue": "test1ddfosatdest73"\r\n    },\r\n    "CrossRg":
      {\r\n      "type": "string",\r\n      "defaultValue": "crossrg5"\r\n    }\r\n  },\r\n  "variables":
      {},\r\n  "resources": [\r\n    {\r\n      "apiVersion": "2017-05-10",\r\n      "name":
      "nestedTemplate",\r\n      "type": "Microsoft.Resources/deployments",\r\n      "resourceGroup":
      "[parameters(\''CrossRg\'')]",\r\n      "properties": {\r\n        "mode": "Incremental",\r\n        "template":
      {\r\n          "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",\r\n          "contentVersion":
      "1.0.0.0",\r\n          "parameters": {},\r\n          "variables": {},\r\n          "resources":
      [\r\n            {\r\n              "type": "Microsoft.Storage/storageAccounts",\r\n              "name":
      "[parameters(\''StorageAccountName2\'')]",\r\n              "apiVersion": "2015-06-15",\r\n              "location":
      "West US",\r\n              "properties": {\r\n                "accountType":
      "Standard_LRS"\r\n              }\r\n            }\r\n          ],\r\n          "outputs":
      {\r\n            "result": {\r\n              "value": "Hello World",\r\n              "type":
      "string"\r\n            }\r\n          }\r\n        },\r\n        "parameters":
      {}\r\n      }\r\n    },\r\n    {\r\n      "type": "Microsoft.Storage/storageAccounts",\r\n      "name":
      "[parameters(\''StorageAccountName1\'')]",\r\n      "apiVersion": "2015-06-15",\r\n      "location":
      "West US",\r\n      "properties": {\r\n        "accountType": "Standard_LRS"\r\n      }\r\n    }\r\n  ]\r\n}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/deployment_dry_run","name":"deployment_dry_run","type":"Microsoft.Resources/deployments","properties":{"templateHash":"364931828683175221","parameters":{"storageAccountName1":{"type":"String","value":"crossrgnbs7d3uccyeltkfit"},"storageAccountName2":{"type":"String","value":"crossrglkpkcnxcgpzdgpvvu"},"crossRg":{"type":"String","value":"cli_test_cross_rg_alt000001"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-05-08T05:43:11.2674561Z","duration":"PT0S","correlationId":"4ba3166f-d0ac-4a1b-92ce-9d05fa1a6233","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]},{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_alt000001/providers/Microsoft.Resources/deployments/nestedTemplate"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Storage/storageAccounts/crossrgnbs7d3uccyeltkfit"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_alt000001/providers/Microsoft.Storage/storageAccounts/crossrglkpkcnxcgpzdgpvvu"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"properties": {"parameters": {"CrossRg": {"value": "cli_test_cross_rg_alt000001"}},
      "mode": "Incremental", template:{\r\n  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",\r\n  "contentVersion":
      "1.0.0.0",\r\n  "parameters": {\r\n    "StorageAccountName1": {\r\n      "type":
      "string",\r\n      "defaultValue": "test1ddosdatest72"\r\n    },\r\n    "StorageAccountName2":
      {\r\n      "type": "string",\r\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586126902914687552?api-version=2019-10-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/azure-cli-crossrgdeployment000003","name":"azure-cli-crossrgdeployment000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"364931828683175221","parameters":{"storageAccountName1":{"type":"String","value":"test1ddosdatest72"},"storageAccountName2":{"type":"String","value":"test1ddfosatdest73"},"crossRg":{"type":"String","value":"cli_test_cross_rg_alt000001"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-05-08T05:43:40.3367308Z","duration":"PT26.3278686S","correlationId":"ad4cda85-7aac-4bd0-a1dc-ce121b66a4dc","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]},{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_alt000001/providers/Microsoft.Storage/storageAccounts/test1ddfosatdest73"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Storage/storageAccounts/test1ddosdatest72"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/azure-cli-crossrgdeployment000003","name":"azure-c[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cross_rg_deploy000002/deployments/mock-deployment/operations?api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/azure-cli-crossrgdeployment000003/operations/50AE3F254A1B1324","operationId":"50AE3F254A1B1324","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-05-08T05:43:35.4376147Z","duration":"PT20.5343772S","trackingId":"a9c8f062-850e-4a2c-b5b0-8abda103f3a2","serviceRequestId":"c6c46229-6bec-478b-8490-364501277271","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Storage/storageAccounts/test1ddosdatest72","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"test1ddosdatest72"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/azure-cli-crossrgdeployment000003/operations/361CF238C2E130B1","operationId":"361CF238C2E130B1","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2020-05-08T05:43:40.1888062Z","duration":"PT25.2855687S","trackingId":"4ce7051b-bdc5-406c-b960-381b4355cb95","serviceRequestId":"de0aa263-18c7-4445-bdf3-4ac7c2719936","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_alt000001/providers/Microsoft.Resources/deployments/nestedTemplate","resourceType":"Microsoft.Resources/deployments","resourceName":"nestedTemplate"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cross_rg_deploy000002/providers/Microsoft.Resources/deployments/azure-cli-crossrgdeployment000003/operations/08586126902914687552","operationId":"08586126902914687552","properties":{"provisioningOperation":"EvaluateDeploymentOutput","provisioningState":"Succeeded","timestamp":"2020-05-08T05:43:40.3020983Z","duration":"PT0.0733315S","trackingId":"8f5b3a7d-4861-4ae9-ba1a-186d00cb1234","statusCode":"OK","statusMessage":null}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
