interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"eastus\"},
      \"kind\": {\"value\": \"StorageV2\"}}, \"mode\": \"Incremental\", template:{\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"metadata\": {\n    \"_generator\": {\n
      \     \"name\": \"bicep\",\n      \"version\": \"0.23.1.45101\",\n      \"templateHash\":
      \"3266095511160562444\"\n    }\n  },\n  \"parameters\": {\n    \"location\":
      {\n      \"type\": \"string\"\n    },\n    \"kind\": {\n      \"type\": \"string\"\n
      \   }\n  },\n  \"variables\": {\n    \"storageAccountName\": \"[format('store{0}',
      uniqueString(resourceGroup().id))]\"\n  },\n  \"resources\": [\n    {\n      \"type\":
      \"Microsoft.Storage/storageAccounts\",\n      \"apiVersion\": \"2019-04-01\",\n
      \     \"name\": \"[variables('storageAccountName')]\",\n      \"location\":
      \"[parameters('location')]\",\n      \"sku\": {\n        \"name\": \"Standard_LRS\"\n
      \     },\n      \"kind\": \"[parameters('kind')]\",\n      \"properties\": {}\n
      \   }\n  ]\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_bicepparam_inline_params000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_bicepparam_inline_params000001/providers/Microsoft.Resources/deployments/deployment1","name":"deployment1","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3266095511160562444","parameters":{"location":{"type":"String","value":"eastus"},"kind":{"type":"String","value":"StorageV2"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"0001-01-01T00:00:00Z","duration":"PT0S","correlationId":"9613bdc0-9438-48ae-9433-b86137d6e587","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["eastus"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_bicepparam_inline_params000001/providers/Microsoft.Storage/storageAccounts/storea4f2kqp5rfszs"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"eastus\"},
      \"kind\": {\"value\": \"StorageV2\"}}, \"mode\": \"Incremental\", \"whatIfSettings\":
      {\"resultFormat\": \"FullResourcePayloads\"}, template:{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"metadata\": {\n    \"_generator\": {\n
      \     \"name\": \"bicep\",\n      \"version\": \"0.23.1.45101\",\n      \"templateHash\":
      \"3266095511160562444\"\n    }\n  },\n  \"parameters\": {\n    \"location\":
      {\n      \"type\": \"string\"\n    },\n    \"kind\": {\n      \"type\": \"string\"\n
      \   }\n  },\n  \"variables\": {\n    \"storageAccountName\": \"[format('store{0}',
      uniqueString(resourceGroup().id))]\"\n  },\n  \"resources\": [\n    {\n      \"type\":
      \"Microsoft.Storage/storageAccounts\",\n      \"apiVersion\": \"2019-04-01\",\n
      \     \"name\": \"[variables('storageAccountName')]\",\n      \"location\":
      \"[parameters('location')]\",\n      \"sku\": {\n        \"name\": \"Standard_LRS\"\n
      \     },\n      \"kind\": \"[parameters('kind')]\",\n      \"properties\": {}\n
      \   }\n  ]\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_bicepparam_inline_params000001/providers/Microsoft.Resources/deployments/mock-deployment/whatIf?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZCSUNFUFBBUkFNOjVGSU5MSU5FOjV8OEQxMjg4MDIzNzY5Mjg5RC1ERVBMT1lNRU5UMS1EQzEzMkY1RjoyRDBCMDY6MkQ0RDg3OjJEQjA4RjoyRDcyQUNBNjEwMDE3NSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2022-09-01&t=638360711320583535&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZCSUNFUFBBUkFNOjVGSU5MSU5FOjV8OEQxMjg4MDIzNzY5Mjg5RC1ERVBMT1lNRU5UMS1EQzEzMkY1RjoyRDBCMDY6MkQ0RDg3OjJEQjA4RjoyRDcyQUNBNjEwMDE3NSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2022-09-01&t=638360711320583535&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItQ0xJOjVGVEVTVDo1RkRFUExPWU1FTlQ6NUZCSUNFUFBBUkFNOjVGSU5MSU5FOjV8OEQxMjg4MDIzNzY5Mjg5RC1ERVBMT1lNRU5UMS1EQzEzMkY1RjoyRDBCMDY6MkQ0RDg3OjJEQjA4RjoyRDcyQUNBNjEwMDE3NSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2022-09-01&t=638360711324959037&c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9[...]
[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"location\": {\"value\": \"eastus\"},
      \"kind\": {\"value\": \"StorageV2\"}}, \"mode\": \"Incremental\", template:{\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"metadata\": {\n    \"_generator\": {\n
      \     \"name\": \"bicep\",\n      \"version\": \"0.23.1.45101\",\n      \"templateHash\":
      \"3266095511160562444\"\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_bicepparam_inline_params000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585011325252892442?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_bicepparam_inline_params000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_bicepparam_inline_params000001/providers/Microsoft.Resources/deployments/deployment1","name":"deployment1","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3266095511160562444","parameters":{"location":{"type":"String","value":"eastus"},"kind":{"type":"String","value":"StorageV2"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2023-11-20T09:59:56.0683667Z","duration":"PT34.0149822S","correlationId":"4749de99-8b89-4472-a943-44a95308f09b","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["eastus"]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_bicepparam_inline_params000001/providers/Microsoft.Storage/storageAccounts/storea4f2kqp5rfszs"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
