interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2025-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource ''cli-test-create-deployment-stack-subscription000002''
        was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://aka.ms/BicepLatestRelease
  response:
    body:
      string: ''
    headers:
      location:
      - https://downloads.bicep.azure.com/releases/latest
      x-response-cache-status:
      - 'True'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://downloads.bicep.azure.com/releases/latest
  response:
    body:
      string: '{"url":"https://api.github.com/repos/Azure/bicep/releases/279518935","assets_url":"https://api.github.com/repos/Azure/bicep/releases/279518935/assets","upload_url":"https://uploads.github.com/repos/Azure/bicep/releases/279518935/assets{?name,label}","html_url":"https://github.com/Azure/bicep/releases/tag/v0.40.2","id":279518935,"author":{"login":"anthony-c-martin","id":38542602,"node_id":"MDQ6VXNlcjM4NTQyNjAy","avatar_url":"https://avatars.githubusercontent.com/u/38542602?v=4","gravatar_id":"","url":"https://api.github.com/users/anthony-c-martin","html_url":"https://github.com/anthony-c-martin","followers_url":"https://api.github.com/users/anthony-c-martin/followers","following_url":"https://api.github.com/users/anthony-c-martin/following{/other_user}","gists_url":"https://api.github.com/users/anthony-c-martin/gists{/gist_id}","starred_url":"https://api.github.com/users/anthony-c-martin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/anthony-c-martin/subscriptions","organizations_url":"https://api.github.com/users/anthony-c-martin/orgs","repos_url":"https://api.github.com/users/anthony-c-martin/repos","events_url":"https://api.github.com/users/anthony-c-martin/events{/privacy}","received_events_url":"https://api.github.com/users/anthony-c-martin/received_events","type":"User","user_view_type":"public","site_admin":false},"node_id":"RE_kwDOD7S9ks4QqR7X","tag_name":"v0.40.2","target_commitish":"main","name":"v0.40.2","draft":false,"immutable":false,"prerelease":false,"created_at":"2026-01-23T21:24:00Z","updated_at":"2026-01-24T00:09:15Z","published_at":"2026-01-24T00:09:15Z","assets":[{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/345034493","id":345034493,"node_id":"RA_kwDOD7S9ks4UkM79","name":"Azure.Bicep.CommandLine.linux-arm64.0.40.2.nupkg","label":"","uploader":{"login":"Xynoclafe","id":11920697,"node_id":"MDQ6VXNlcjExOTIwNjk3","avatar_url":"https://avatars.githubusercontent.com/u/11920697?v=4","gravatar_id":"","url":"https://api.github.com/users/Xynoclafe","html_url":"https://github.com/Xynoclafe","followers_url":"https://api.github.com/users/Xynoclafe/followers","following_url":"https://api.github.com/users/Xynoclafe/following{/other_user}","gists_url":"https://api.github.com/users/Xynoclafe/gists{/gist_id}","starred_url":"https://api.github.com/users/Xynoclafe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Xynoclafe/subscriptions","organizations_url":"https://api.github.com/users/Xynoclafe/orgs","repos_url":"https://api.github.com/users/Xynoclafe/repos","events_url":"https://api.github.com/users/Xynoclafe/events{/privacy}","received_events_url":"https://api.github.com/users/Xynoclafe/received_events","type":"User","user_view_type":"public","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":51346892,"digest":"sha256:bd2d73c9c42a2430dbb73e05d6b766d8fb9a634f408bfb1e66db0cf176c8f1da","download_count":26,"created_at":"2026-01-23T23:40:01Z","updated_at":"2026-01-23T23:40:04Z","browser_download_url":"https://github.com/Azure/bicep/releases/download/v0.40.2/Azure.Bicep.CommandLine.linux-arm64.0.40.2.nupkg"},{"url":"https://api.github.com/repos/Azure/bicep/releases/assets/345034473","id":345034473,"node_id":"RA_kwDOD7S9ks4UkM7p","name":"Azure.Bicep.CommandLine.linux-x64.0.40.2.nupkg","label":"","uploader":{"login":"Xynoclafe","id":11920697,"node_id":"MDQ6VXNlcjExOTIwNjk3","avatar_url":"https://avatars.githubusercontent.com/u/11920697?v=4","gravatar_id":"","url":"https://api.github.com/users/X[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"actionOnUnmanage":
      {"resources": "detach", "resourceGroups": "detach", "managementGroups": "detach"},
      "bypassStackOutOfSyncError": false, "denySettings": {"mode": "none", "applyToChildScopes":
      false}, "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001",
      "template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.40.2.10011", "templateHash": "13563610502688503629"}}, "parameters": {"location":
      {"type": "string", "defaultValue": "centralus"}, "storageAccountName": {"type":
      "string", "defaultValue": "uniquestorage002", "minLength": 3, "maxLength": 24}},
      "resources": [{"type": "Providers.Test/statefulResources", "apiVersion": "2014-04-01",
      "name": "[parameters(''storageAccountName'')]", "location": "[parameters(''location'')]"}],
      "outputs": {"storageId": {"type": "string", "value": "[resourceId(''Providers.Test/statefulResources'',
      parameters(''storageAccountName''))]"}}}, "parameters": {}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002/validate?api-version=2025-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationRes[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOmQ5OTk3N2Q0OjJEZjg2ZToyRDQzMmU6MkRiNjU4OjJEZDBkMDI3MzE0YzE3Iiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2025-07-01&t=639072088987647377&c=MIIHxDCCBqygAwIBAgIRAJVEBjgK1fo3sgU5fQhfuLEwDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOmQ5OTk3N2Q0OjJEZjg2ZToyRDQzMmU6MkRiNjU4OjJEZDBkMDI3MzE0YzE3Iiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2025-07-01&t=639072088997548157&c=MIIIrzCCBpegAwIBAgITUQHtApBbJIIjEO8RJgABAe0CkDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/029f50f0-cd34-43ef-990b-19ae5366e191?api-version=2025-07-01&t=639072089182121868&c=MIIHxDCCBqygAwIBAgIRAJVEBjgK1fo3sgU5fQhfuLEwDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDIxOTAxNTQ1MloXDTI2MDgxNDA3NTQ1MlowQDE-MDwG[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2025-07-01
  response:
    body:
      string: "{\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\":
        {\r\n    \"actionOnUnmanage\": {\r\n      \"resources\": \"detach\",\r\n      \"resourceGroups\":
        \"detach\",\r\n      \"managementGroups\": \"detach\",\r\n      \"resourcesWithoutDeleteSupport\":
        \"fail\"\r\n    },\r\n    \"deploymentId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Microsoft.Resources/deployments/cli-test-create-deployment-stack-subscription3xbly-260220188dqf0\",\r\n
        \   \"deploymentScope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001\",\r\n
        \   \"duration\": \"PT8.9170295S\",\r\n    \"denySettings\": {\r\n      \"mode\":
        \"none\",\r\n      \"applyToChildScopes\": false,\r\n      \"excludedPrincipals\":
        [],\r\n      \"excludedActions\": []\r\n    },\r\n    \"outputs\": {\r\n      \"storageId\":
        {\r\n        \"type\": \"String\",\r\n        \"value\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Providers.Test/statefulResources/uniquestorage002\"\r\n
        \     }\r\n    },\r\n    \"parameters\": {},\r\n    \"resources\": [\r\n      {\r\n
        \       \"status\": \"managed\",\r\n        \"denyStatus\": \"none\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001/providers/Providers.Test/statefulResources/uniquestorage002\"\r\n
        \     }\r\n    ],\r\n    \"deploymentExtensions\": [],\r\n    \"provisioningState\":
        \"succeeded\",\r\n    \"detachedResources\": [],\r\n    \"deletedResources\":
        [],\r\n    \"failedResources\": [],\r\n    \"correlationId\": \"7bbd3466-43f9-4650-9f15-7717a96cbece\"\r\n
        \ },\r\n  \"systemData\": {\r\n    \"createdBy\": \"test@example.com\",\r\n
        \   \"createdByType\": \"User\",\r\n    \"createdAt\": \"2026-02-20T18:28:36.602813Z\",\r\n
        \   \"lastModifiedBy\": \"test@example.com\",\r\n    \"lastModifiedByType\":
        \"User\",\r\n    \"lastModifiedAt\": \"2026-02-20T18:28:36.602813Z\"\r\n  },\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentStacks\",\r\n  \"name\": \"cli-test-create-deployment-stack-subscription000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002?api-version=2025-07-01&unmanageAction.Resources=detach&unmanageAction.ResourceGroups=detach&unmanageAction.ManagementGroups=detach&bypassStackOutOfSyncError=false
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '2999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus", "tags": {}, "properties": {"actionOnUnmanage":
      {"resources": "delete", "resourceGroups": "delete", "managementGroups": "delete"},
      "bypassStackOutOfSyncError": false, "denySettings": {"mode": "none", "applyToChildScopes":
      false}, "deploymentScope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_stacks000001",
      "template": {"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "metadata": {"_generator": {"name": "bicep", "version":
      "0.40.2.10011", "templateHash": "15070836931413942269"}}, "parameters": {"location":
      {"type": "string"}, "kind": {"type": "string"}}, "variables": {"storageAccountName":
      "[format(''clistore{0}'', uniqueString(resourceGroup().id))]"}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "apiVersion": "2019-04-01", "name":
      "[variables(''storageAccountName'')]", "location": "[parameters(''location'')]",
      "sku": {"name": "Standard_LRS"}, "kind": "[parameters(''kind'')]", "properties":
      {}}]}, "parameters": {"location": {"value": "westcentralus"}, "kind": {"value":
      "StorageV2"}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentStacks/cli-test-create-deployment-stack-subscription000002/validate?api-version=2025-07-01
  response:
    body:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOmE0ZjZjZjIzOjJEMmZiYjoyRDQwMDc6MkRhNGFlOjJEYTVlZWFhYjU4YjEwIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2025-07-01&t=639072089631989619&c=MIIIrzCCBpegAwIBAgITUQHtApBbJIIjEO8RJgABAe0CkDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationResults/eyJqb2JJZCI6IlByZWZsaWdodFN0YWNrSm9iOmE0ZjZjZjIzOjJEMmZiYjoyRDQwMDc6MkRhNGFlOjJEYTVlZWFhYjU4YjEwIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2025-07-01&t=639072089640854357&c=MIIIrzCCBpegAwIBAgITUQHtApBbJIIjEO8RJgABAe0CkDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/locations/westcentralus/deploymentStackOperationStatus/c5e21f0f-268e-4539-b059-b1ee3b7b1656?api-version=2025-07-01&t=639072089815339518&c=MIIIrzCCBpegAwIBAgITUQHtApBbJIIjEO8RJgABAe0CkDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjYwMjA2MDYwMzM1WhcNMjYw[...]
[...]
