interactions:
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
      "contentVersion": "1.0.0.0", "resources": []}, "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000002","name":"azure-cli-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2567930156074384302","mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-08-28T02:20:34.8402344Z","duration":"PT0.1019993S","correlationId":"0f8afbf6-6496-4eeb-992f-f1046459afae","providers":[],"dependencies":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000002/operationStatuses/08586346480507393538?api-version=2019-05-10
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586346480507393538?api-version=2019-05-10
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000002","name":"azure-cli-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2567930156074384302","mode":"Incremental","provisioningState":"Succeeded","timestamp":"2019-08-28T02:20:35.2091044Z","duration":"PT0.4708693S","correlationId":"0f8afbf6-6496-4eeb-992f-f1046459afae","providers":[],"dependencies":[],"outputResources":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
      "contentVersion": "1.0.0.0", "resources": []}, "parameters": {}, "mode": "Incremental",
      "onErrorDeployment": {"type": "LastSuccessful"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000003","name":"azure-cli-deployment000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2567930156074384302","mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-08-28T02:21:06.9095666Z","duration":"PT0.5541335S","correlationId":"599f4b0a-f176-46b1-9c37-958e9266829e","providers":[],"dependencies":[],"onErrorDeployment":{"type":"LastSuccessful","deploymentName":"azure-cli-deployment000002"}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000003/operationStatuses/08586346480191221595?api-version=2019-05-10
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_on_error_deployment_lastsuccessful000001/providers/Microsoft.Resources/deployments/azure-cli-deployment000003","name":"azure-cli-deployment000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2567930156074384302","mode":"Incremental","provisioningState":"Succeeded","timestamp":"2019-08-28T02:21:08.1358686Z","duration":"PT1.7804355S","correlationId":"599f4b0a-f176-46b1-9c37-958e9266829e","providers":[],"dependencies":[],"onErrorDeployment":{"type":"LastSuccessful","deploymentName":"azure-cli-deployment000002"},"outputResources":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
