interactions:
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedRGName\":
      {\"value\": \"cli_test_subscription_level_deployment\"}, \"storageAccountName\":
      {\"value\": \"armbuilddemo000003\"}}, \"mode\": \"Incremental\", template:{\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"storageAccountName\":
      {\n      \"type\": \"string\",\n      \"defaultValue\": \"armbuilddemo1801\"\n
      \   },\n    \"nestedRGName\": {\n      \"type\": \"string\",\n      \"defaultValue\":
      \"cli_test_subscription_level_deployment\"\n    }\n  },\n  \"variables\": {},\n
      \ \"resources\": [\n    {\n      \"type\": \"Microsoft.Authorization/policyDefinitions\",\n
      \     \"name\": \"policy2\",\n      \"apiVersion\": \"2016-12-01\",\n      \"properties\":
      {\n        \"policyType\": \"Custom\",\n        \"parameters\": {},\n        \"policyRule\":
      {\n          \"if\": {\n            \"field\": \"location\",\n            \"equals\":
      \"northeurope\"\n          },\n          \"then\": {\n            \"effect\":
      \"deny\"\n          }\n        }\n      }\n    },\n    {\n      \"type\": \"Microsoft.Authorization/policyAssignments\",\n
      \     \"name\": \"location-lock\",\n      \"apiVersion\": \"2016-12-01\",\n
      \     \"dependsOn\": [\n        \"policy2\"\n      ],\n      \"properties\":
      {\n        \"scope\": \"[subscription().id]\",\n        \"policyDefinitionId\":
      \"[resourceId('Microsoft.Authorization/policyDefinitions', 'policy2')]\"\n      }\n
      \   },\n    {\n      \"type\": \"Microsoft.Resources/resourceGroups\",\n      \"name\":
      \"[parameters('nestedRGName')]\",\n      \"apiVersion\": \"2018-05-01\",\n      \"location\":
      \"WestUS\",\n      \"properties\": {\n      }\n    },\n    {\n      \"type\":
      \"Microsoft.Resources/deployments\",\n      \"name\": \"rg-nested6\",\n      \"apiVersion\":
      \"2017-05-10\",\n      \"resourceGroup\": \"[parameters('nestedRGName')]\",\n
      \     \"dependsOn\": [ \"[parameters('nestedRGName')]\" ],\n      \"properties\":
      {\n        \"template\": {\n          \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \         \"contentVersion\": \"1.0.0.0\",\n          \"parameters\": {},\n
      \         \"variables\": {},\n          \"resources\": [\n            {\n              \"type\":
      \"Microsoft.Storage/storageAccounts\",\n              \"name\": \"[parameters('storageAccountName')]\",\n
      \             \"apiVersion\": \"2015-06-15\",\n              \"location\": \"East
      US\",\n              \"properties\": {\n                \"accountType\": \"Standard_LRS\",\n
      \               \"supportsHttpsTrafficOnly\": true\n              }\n            }\n
      \         ]\n        },\n        \"mode\":\"Incremental\"\n      }\n    }\n
      \ ] // comment\n}}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/subscription_level_template","name":"subscription_level_template","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"1013067532690748919","parameters":{"storageAccountName":{"type":"String","value":"armbuilddemo000003"},"nestedRGName":{"type":"String","value":"cli_test_subscription_level_deployment"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-07-01T15:55:08.8025479Z","duration":"PT0S","correlationId":"0c626127-29e6-4b0d-be8a-f3ba418acce9","providers":[{"namespace":"Microsoft.Authorization","resourceTypes":[{"resourceType":"policyDefinitions","locations":[null]},{"resourceType":"policyAssignments","locations":[null]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2","resourceType":"Microsoft.Authorization/policyDefinitions","resourceName":"policy2"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock","resourceType":"Microsoft.Authorization/policyAssignments","resourceName":"location-lock"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"cli_test_subscription_level_deployment"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6","resourceType":"Microsoft.Resources/deployments","resourceName":"rg-nested6"}],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/policy2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/location-lock"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Storage/storageAccounts/armbuilddemo000003"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-cli/dev/src/azure-cli/azure/cli/command_modules/resource/tests/latest/subscription_level_parameters.json
  response:
    body:
      string: "{\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n     /** comment1\n
        \       comment2\n        comment3\n      **/\n      // comment\n      /**
        comment **/\n    \"nestedRGName\": {\n      /** comment1\n        comment2\n
        \       comment3\n      **/\n      // comment\n      /** comment **/\n      \"value\":
        \"cli_test_subscription_level_deployment\" /** comment **/\n      /** comment1\n
        \       comment2\n        comment3\n      **/\n      // comment\n      /**
        comment **/\n    }\n      /** comment1\n        comment2\n        comment3\n
        \     **/\n      // comment\n      /** comment **/\n  }\n}"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - '"2cc7b94cb1a1129b25fb74b5079c39ebea46f9ed18b7ed5ab643967ad43be835"'
      source-age:
      - '0'
      x-fastly-request-id:
      - 72440756b748613e6c205419a227c1a5f9ebdde4
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"location\": \"WestUS\", \"properties\": {\"parameters\": {\"nestedRGName\":
      {\"value\": \"cli_test_subscription_level_deployment\"}, \"storageAccountName\":
      {\"value\": \"armbuilddemo000003\"}}, \"mode\": \"Incremental\", template:{\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\n
      \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {\n    \"storageAccountName\":
      {\n      \"type\": \"st[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584502215721901949?api-version=2025-04-01&t=638869821155172961&c=MIIHhzCCBm-gAwIBAgITHgbIFmDY79XLPJrDjgAABsgWYDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE3MDcxODAyWhcNMjUxMDE0MDcxODAyWjBAMT4wPAYDV[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?api-version=2025-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/ka3-aks-test","name":"ka3-aks-test","type":"Microsoft.Resources/deployments","location":"eastus2","properties":{"templateHash":"1826853609296461855","parameters":{"resourcePrefix":{"type":"String","value":"ka3-"},"resourceTags":{"type":"Object","value":{"createdBy":"test@example.com","purpose":"test
        resource"}},"rgName":{"type":"String","value":"ka3-aks-rg"},"location":{"type":"String","value":"eastus2"},"clusterName":{"type":"String"},"dnsPrefix":{"type":"String"},"linuxAdminUsername":{"type":"String"},"agentVMSize":{"type":"String","value":"standard_ds2_v2"},"linuxAdminSshKey":{"type":"String","value":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQC0PdgNPVFI/FSr+ACue41UlXMzyL/f9nbU8n00kJ3Sp3hWKTquoKmLtp9hgXLY7cdiL3ft5LsNXK4j9BPV2GFiuPmZ+If/NHglqJG0+JVs/ulbDXgJeB1TCoJsXd9165FEIpEcvjSNRBIOTifi7Epn3cHjsg0yi7thlCzr4bhjDpFr1YSmXzskQBBpTBNc30pfIYYmcU74WmBnKR1EMeF6kg44da3nBUnAJR1heOtyywQx5+7gw3jNICnbfUuGUbsc8NrItbTgfnVNIWTUX6/1cWNjpDXQPISHsgAGYtdDWNGPoWjNNgb8/AqHVuX90hq2GUyYUxBVk9i0M8gkLwe5DTEhc3f+1G44hTFDAzeRiI3pdWM5UhnI1TQC7RbFRLHQtbdO9Ry8Z8+ahmFDH/3KG+fx4hhZfRJ3t3ywmO8C3H[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?api-version=2025-04-01&$skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNNlKyyivNydGBcmG8cNfgEGdXv5AgR5/QYGRBdB5Uf20tAA%3D%3D
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/PolicyDeployment_4537205746115066711","name":"PolicyDeployment_4537205746115066711","type":"Microsoft.Resources/deployments","location":"westeurope","properties":{"templateHash":"10170470025266829143","parameters":{"isSensitiveDataDiscoveryEnabled":{"type":"String","value":"true"},"isContainerRegistriesVulnerabilityAssessmentsEnabled":{"type":"String","value":"true"},"isAgentlessDiscoveryForKubernetesEnabled":{"type":"String","value":"true"},"isAgentlessVmScanningEnabled":{"type":"String","value":"true"},"isEntraPermissionsManagementEnabled":{"type":"String","value":"true"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2024-05-16T01:57:36.8479455Z","duration":"PT10M","correlationId":"89ba2e5a-b0ce-4ea9-9cbd-c32255cc9036","providers":[{"namespace":"Microsoft.Security","resourceTypes":[{"resourceType":"pricings","locations":[null]}]}],"dependencies":[],"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/pricings/CloudPosture"}]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/StanIssue81-2023-03-10-21-57-26-685f7","name":"StanIssue81-2023-03-10-21-57-26-685f7","type":"Microsoft.Resources/deployments","location":"westeurope","properties":{"templateHash":"3908711660361612007","parameters":{"resourceGroups":{"type":"Array","value":[{"name":"test-analysisserv-rg","location":"West
        Europe","tags":{"purpose":"mon"},"alertsScope":{"logAnalyticsWorkspace":{"name":"log2","resourceGroup":"rjwOMS"}},"actionGroups":[{"name":"StanEmail","resourceGroup":"KustoTest"}],"alertRules":{"memoryThrashing":{"deploy":true,"frequencyInMinutes":5,"timeWindowInMinutes":5,"description":"test1"}}}]},"deploymentLocation":{"type":"String","value":"westeurope"},"tags":{"type":"Object","value":{}},"solutionVersionTag":{"type":"Object","value":{}}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2023-03-10T21:57:29.6707366Z","duration":"PT10M","correlationId":"5419dd98-1ac5-4ea7-979c-b8ab0553c24c","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westeurope"]},{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-analysisserv-rg","resourceType":"Microsoft.Resources/resourceGroups","resourceName":"test-analysisserv-rg"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-analysisserv-rg/providers/Microsoft.Resources/deployments/analysisServiceMonResources-heomgyk2kukrq-0","resourceType":"Microsoft.Resources/deployments","resourceName":"analysisServiceMonResources-heomgyk2kukrq-0"}],"outputs":{"test":{"type":"String","value":"test"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-analysisserv-rg"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-analysisserv-rg/providers/Microsoft.Insights/scheduledQueryRules/2c995c3f-8e42-4eaf-82c2-80b9d443b2dd"}]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/StanIssue81-2023-03-09-21-52-13-3c4c8","name":"StanIssue81-2023[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?$filter=provisioningState%20eq%20%27Succeeded%27&api-version=2025-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/ka3-aks-test","name":"ka3-aks-test","type":"Microsoft.Resources/deployments","location":"east[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/?$filter=provisioningState%20eq%20%27Succeeded%27&api-version=2025-04-01&$skiptoken=q1ZKzs8rycwrTSzJzM8Lyc9OzStWsqpWcnUMDgkNNlKyyivNydGBcmG8cNfgEGdXv5AgR5/QYGRBdB5Uf20tAA%3D%3D
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/d[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/exportTemplate?api-version=2025-04-01
  response:
    body:
      string: '{"template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"storageAccountName":{"defaultValue":"armbuilddemo1801","type":"String"},"nestedRGName":{"defaultValue":"cli_test_subscription_level_deployment","type":"String"}},"variables":{},"resources":[{"type":"Microsoft.Authorization/policyDefinitions","apiVersion":"2016-12-01","name":"policy2","properties":{"policyType":"Custom","parameters":{},"policyRule":{"if":{"field":"location","equals":"northeurope"},"then":{"effect":"deny"}}}},{"type":"Microsoft.Authorization/policyAssignments","apiVersion":"2016-12-01","name":"location-lock","dependsOn":["policy2"],"properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/operations?api-version=2025-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deployment000001/operations/C3CC9592015566B9","operationId":"C3CC9592015566B9","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2025-07-01T15:55:15.9720213Z","duration":"PT31.0857008S","trackingId":"2264b0a4-5529-472a-b433-b0198e45277e","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6","resourceType":"Microsoft.Resources/deployments","resourceName":"rg-nested6"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deployment000001/operations/D52B38AC9973D99C","operationId":"D52B38AC9973D99C","properties":{"provisioningOperation":"Creat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment/operations/C3CC9592015566B9?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/azure-cli-subscription_level_deployment000001/operations/C3CC9592015566B9","operationId":"C3CC9592015566B9","properties":{"provisioningOperation":"Create","provisioningState":"Succeeded","timestamp":"2025-07-01T15:55:15.9720213Z","duration":"PT31.0857008S","trackingId":"2264b0a4-5529-472a-b433-b0198e45277e","serviceRequestId":"672344a0-7036-417c-ba02-b51ef1e3a889","statusCode":"OK","targetResource":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_subscription_level_deployment/providers/Microsoft.Resources/deployments/rg-nested6","resourceType":"Microsoft.Resources/deployments","resourceName":"rg-nested6"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2025-04-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi0tQVpVUkU6MkRDTEk6MkRTVUJTQ1JJUFRJT046NUZMRVZFTDo1RkRFUExPWU1FTlR8NTRFQzhBRkNENzIyNkY2RiIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2025-04-01&t=638869821889561875&c=MIIHpTCCBo2gAwIBAgITOgWW801dauAAa8q_9QAEBZbzTTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDgzNTU0WhcNMjUxMDE1MDgzNTU[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi0tQVpVUkU6MkRDTEk6MkRTVUJTQ1JJUFRJT046NUZMRVZFTDo1RkRFUExPWU1FTlR8NTRFQzhBRkNENzIyNkY2RiIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2025-04-01&t=638869821889561875&c=MIIHpTCCBo2gAwIBAgITOgWW801dauAAa8q_9QAEBZbzTTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi0tQVpVUkU6MkRDTEk6MkRTVUJTQ1JJUFRJT046NUZMRVZFTDo1RkRFUExPWU1FTlR8NTRFQzhBRkNENzIyNkY2RiIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2025-04-01&t=638869821894654950&c=MIIHpTCCBo2gAwIBAgITOgWW6V4bWqMg7jirKQAEBZbpXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwF[...]
[...]
