interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"strParam1\": {\"value\": \"strParam1Value\"}},
      \"extensionConfigs\": {}, \"mode\": \"Incremental\", template:{\r\n  \"$schema\":
      \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \ \"languageVersion\": \"2.2-experimental\",\r\n  \"contentVersion\": \"1.0.0.0\",\r\n
      \ \"parameters\": {\r\n    \"strParam1\": {\r\n      \"type\": \"string\",\r\n
      \     \"defaultValue\": \"strParam1Default\"\r\n    }\r\n  },\r\n  \"extensions\":
      {\r\n    \"contoso\": {\r\n      \"name\": \"Contoso\",\r\n      \"version\":
      \"2.0.0\"\r\n    }\r\n  },\r\n  \"resources\": {\r\n    \"example1\": {\r\n
      \     \"extension\": \"contoso\",\r\n      \"type\": \"Contoso/example@v1\",\r\n
      \     \"properties\": {\r\n        \"foo\": 42,\r\n        \"bar\": true\r\n
      \     }\r\n    }\r\n  }\r\n}\r\n}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment_extensibility000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2025-04-01
  response:
    body:
      string: '{"error":{"code":"InvalidTemplateDeployment","message":"The template
        deployment ''azure-cli-rg-extensibility-deployment000002'' is not valid according
        to the validation procedure. The tracking id is ''80fbb927-12c5-49c4-b3bb-622218b3b128''.
        See inner errors for details.","details":[{"code":"MissingConfig","target":"/extensions/contoso/config","message":"Config
        cannot be null or undefined."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"strParam1\": {\"value\": \"strParam1Value\"}},
      \"extensionConfigs\": {\"contoso\": {\"configOne\": {\"value\": \"config1\"},
      \"configTwo\": {\"value\": true}}}, \"mode\": \"Incremental\", template:{\r\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \ \"languageVersion\": \"2.2-experimental\",\r\n  \"contentVersion\": \"1.0.0.0\",\r\n
      \ \"parameters\": {\r\n    \"strParam1\": {\r\n      \"type\": \"string\",\r\n
      \     \"defaultValue\": \"strParam1Default\"\r\n    }\r\n  },\r\n  \"extensions\":
      {\r\n    \"contoso\": {\r\n      \"name\": \"Contoso\",\r\n      \"version\":
      \"2.0.0\"\r\n    }\r\n  },\r\n  \"resources\": {\r\n    \"example1\": {\r\n
      \     \"extension\": \"contoso\",\r\n      \"type\": \"Contoso/example@v1\",\r\n
      \     \"properties\": {\r\n        \"foo\": 42,\r\n        \"bar\": true\r\n
      \     }\r\n    }\r\n  }\r\n}\r\n}}"
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment_extensibility000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment_extensibility000001/providers/Microsoft.Resources/deployments/azure-cli-rg-extensibility-deployment000002","name":"azure-cli-rg-extensibility-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1162621365160699601","parameters":{"strParam1":{"type":"String","value":"strParam1Value"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-07-28T18:05:27.2954074Z","duration":"PT0S","correlationId":"a1aa65eb-1fe9-4ca0-9031-7af0f1afc6e3","providers":[],"dependencies":[],"validatedResources":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: "{\"properties\": {\"parameters\": {\"strParam1\": {\"value\": \"strParam1Value\"}},
      \"extensionConfigs\": {\"contoso\": {\"configOne\": {\"value\": \"config1\"},
      \"configTwo\": {\"value\": true}}}, \"mode\": \"Incremental\", template:{\r\n
      \ \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \ \"languageVersion\": \"2.2-experimental\",\r\n  \"contentVersion\": \"1.0.0.0\",\r\n
      \ \"parameters\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment_extensibility000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584478809527489360?api-version=2025-04-01&t=638893227349254660&c=MIIHhzCCBm-gAwIBAgITfAh_EjM5CPJ1HOWmNAAACH8SMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUU[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment_extensibility000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_group_deployment_extensibility000001/providers/Microsoft.Resources/deployments/azure-cli-rg-extensibility-deployment000002","name":"azure-cli-rg-extensibility-deployment000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1162621365160699601","parameters":{"strParam1":{"type":"String","value":"strParam1Value"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2025-07-28T18:05:38.1740279Z","duration":"PT5.4518923S","correlationId":"97e28405-6dc4-4394-b475-be94b17aaed2","providers":[],"dependencies":[],"outputResources":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_group_deployment_extensibility000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584478809155886596?api-version=2025-04-01&t=638893227718184325&c=MIIHhzCCBm-gAwIBAgITfAh_EjM5CPJ1HOWmNAAACH8SMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUU[...]
[...]
