interactions:
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
      \"mode\": \"Incremental\", template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"scriptName\":
      {\r\n           \"type\": \"string\",\r\n           \"metadata\": {\r\n                \"description\":
      \"Deployment script name\"\r\n            }\r\n        },\r\n        \"utcValue\":
      {\r\n            \"type\": \"string\",\r\n            \"defaultValue\": \"[utcNow()]\"\r\n
      \       }\r\n    },\r\n    \"variables\": {},\r\n    \"resources\": [\r\n        {\r\n
      \           \"type\": \"Microsoft.Resources/deploymentScripts\",\r\n            \"apiVersion\":
      \"2020-10-01\",\r\n            \"name\": \"[parameters('scriptName')]\",\r\n
      \           \"location\": \"[resourceGroup().location]\",\r\n            \"identity\":
      {\r\n                \"type\": \"UserAssigned\",\r\n                \"userAssignedIdentities\":
      {\r\n                    \"[concat('/subscriptions/', subscription().subscriptionId,
      '/resourceGroups/python_sdk_test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/python_test_sdk_msi')]\":
      {}\r\n                }\r\n            },\r\n            \"kind\": \"AzureCLI\",\r\n
      \           \"properties\": {\r\n                \"forceUpdateTag\": \"[parameters('utcValue')]\",\r\n
      \               \"containerSettings\": {\r\n                    \"containerGroupName\":
      \"mycustomaci\"\t\r\n                },\r\n                \"AzCliVersion\":
      \"2.0.80\",\r\n                \"timeout\": \"PT30M\",\r\n                \"arguments\":
      \"'foo' 'bar'\",\r\n                \"scriptContent\": \"echo 'foo'\",\r\n                \"cleanupPreference\":
      \"OnExpiration\",\r\n                \"retentionInterval\": \"PT25H\"\r\n            }\r\n
      \       }\r\n    ],\r\n    \"outputs\": {}\r\n}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/validate?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"11060508257052558624","parameters":{"scriptName":{"type":"String","value":"script000002"},"utcValue":{"type":"String","value":"20201123T172817Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-11-23T17:28:18.3184976Z","duration":"PT0S","correlationId":"9925e71c-0d7a-4783-be1d-43bfe732c58a","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["brazilsouth"]}]}],"dependencies":[],"validatedResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: "{\"properties\": {\"parameters\": {\"scriptName\": {\"value\": \"script000002\"}},
      \"mode\": \"Incremental\", template:{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"scriptName\":
      {\r\n           \"type\": \"string\",\r\n           \"metadata\": {\r\n                \"description\":
      \"Deployment script name\"\r\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585954543849858309?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deployments/ds000003","name":"ds000003","type":"Microsoft.Resources/deployments","properties":{"templateHash":"11060508257052558624","parameters":{"scriptName":{"type":"String","value":"script000002"},"utcValue":{"type":"String","value":"20201123T172820Z"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-11-23T17:30:03.3163119Z","duration":"PT1M42.8245073S","correlationId":"6e1cd9fb-aa6c-46f1-92e7-d3d4df736c7a","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deploymentScripts","locations":["brazilsouth"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002?api-version=2020-10-01
  response:
    body:
      string: "{\r\n  \"kind\": \"AzureCLI\",\r\n  \"identity\": {\r\n    \"type\":
        \"userAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n
        \   \"userAssignedIdentities\": {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_sdk_test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/python_test_sdk_msi\":
        {\r\n        \"principalId\": \"73f6d2f6-b6da-44cc-b28b-1f34712cb932\",\r\n
        \       \"clientId\": \"8cbb3b8b-563d-414e-aefb-04d8462d26ff\"\r\n      }\r\n
        \   }\r\n  },\r\n  \"location\": \"brazilsouth\",\r\n  \"systemData\": {\r\n
        \   \"createdBy\": \"jcotillo@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n
        \   \"createdAt\": \"2020-11-23T17:28:28.350114Z\",\r\n    \"lastModifiedBy\":
        \"jcotillo@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\":
        \"2020-11-23T17:28:28.350114Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"forceUpdateTag\": \"20201123T172820Z\",\r\n    \"azCliVersion\":
        \"2.0.80\",\r\n    \"scriptContent\": \"echo 'foo'\",\r\n    \"arguments\":
        \"'foo' 'bar'\",\r\n    \"retentionInterval\": \"P1DT1H\",\r\n    \"timeout\":
        \"PT30M\",\r\n    \"containerSettings\": {\r\n      \"containerGroupName\":
        \"mycustomaci\"\r\n    },\r\n    \"status\": {\r\n      \"containerInstanceId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.ContainerInstance/containerGroups/mycustomaci\",\r\n
        \     \"storageAccountId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Storage/storageAccounts/raddrfgbty3uiazscripts\",\r\n
        \     \"startTime\": \"2020-11-23T17:28:34.1465082Z\",\r\n      \"endTime\":
        \"2020-11-23T17:29:51.6324585Z\",\r\n      \"expirationTime\": \"2020-11-24T18:29:51.6324585Z\"\r\n
        \   },\r\n    \"cleanupPreference\": \"OnExpiration\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_deployment_scripts000001/providers/Microsoft.Resources/deploymentScripts/script000002\",\r\n
        \ \"type\": \"Microsoft.Resources/deploymentScripts\",\r\n  \"name\": \"script000002\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deploymentScripts?api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"kind":"AzureCLI","identity":{"type":"userAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_sdk_test/providers/Microsoft.Manag[...]
