interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=&api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-cli-test-rg/providers/Microsoft.StorageSync/storageSyncServices/testsssnotag","name":"testsssnotag","type":"Microsoft.StorageSync/storageSyncServices","location":"westcentralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-core-poc/providers/Microsoft.Storage/storageAccounts/azurecorepoc","name":"azurecorepoc","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azure-core-poc/providers/Microsoft.Storage/storageAccounts/sfsafsaf","name":"sfsafsaf","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","location":"westus","tags":{"ms-resource-usage":"azure-cloud-shell"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureSDKTest_reserved/providers/Microsoft.Logic/workflows/AzureSDKTest_ScheduledCleaner","name":"AzureSDKTest_ScheduledCleaner","type":"Microsoft.Logic/workflows","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureSDKTest_reserved/providers/Microsoft.Logic/workflows/TestLogicApp","name":"TestLogicApp","type":"Microsoft.Logic/workflows","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureSDKTest_reserved/providers/Microsoft.Web/connections/arm","name":"arm","type":"Microsoft.Web/connections","location":"westus"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureSDKTest_reserved/providers/Microsoft.Web/connections/azureautomation","name":"azureautomation","type":"Microsoft.Web/connections","location":"westus"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureSDKTest_reserved/providers/Microsoft.Web/connections/azuremonitorlogs","name":"azuremonitorlogs","type":"Microsoft.Web/connections","location":"westus"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.Compute/diskEncryptionSets/test-des","name":"test-des","type":"Microsoft.Compute/diskEncryptionSets","location":"centraluseuap","identity":{"principalId":"9e6a992a-0530-43ad-bcd7-e9e0e84ae703","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/BIM-RG/providers/Microsoft.Compute/disks/bim-vm_OsDisk_1_8c69f4517db64a6096b34852a1a9c3a3","name":"bim-vm_OsDisk_1_8c69f4517db64a6096b34852a1a9c3a3","type":"Microsoft.Compute/disks","sku":{"name":"Premium_LRS","tier":"Premium"},"managedBy":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.Compute/virtualMachines/bim-vm","location":"japaneast"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.Compute/virtualMachines/bim-vm","name":"bim-vm","type":"Microsoft.Compute/virtualMachines","location":"japaneast"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.KeyVault/vaults/bim-kv5","name":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario000001?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001","name":"cli_test_resource_scenario000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2020-04-07T00:52:17Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "tags": {"cli-test": "test"}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets":
      [{"properties": {"addressPrefix": "10.0.0.0/24"}, "name": "subnet-000003"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002\",\r\n
        \ \"etag\": \"W/\\\"6a4cab23-5c19-43e6-96c7-7b06cecd46cf\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southcentralus\",\r\n
        \ \"tags\": {\r\n    \"cli-test\": \"test\"\r\n  },\r\n  \"properties\": {\r\n
        \   \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"55017091-8317-4d39-8969-4fe6d9110142\",\r\n
        \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
        \     ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n
        \   },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet-000003\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002/subnets/subnet-000003\",\r\n
        \       \"etag\": \"W/\\\"6a4cab23-5c19-43e6-96c7-7b06cecd46cf\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/e7616c24-4814-4cdb-aaa3-7fc09ac4e9cd?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1179'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/e7616c24-4814-4cdb-aaa3-7fc09ac4e9cd?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=location%20eq%20%27southcentralus%27&api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_aliasdrj6y3jjzz2b5gjynzeg3hlvh4vbevx6axtox4ijutmqpe3uhr2f6zjcvp/providers/Microsoft.EventHub/namespaces/eh-nsclinlgstl3ndjbx","name":"eh-nsclinlgstl3ndjbx","type":"Microsoft.EventHub/namespaces","sku":{"name":"Standard","tier":"Standard","capacity":1},"location":"southcentralus","tags":{"{tag1:
        value1,":"","tag2: value2}":""}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_aliasfaxwrtp645isrxreqi6kj6gtvb4j3lh23klbxtfz7d67cc276s43xrosgp/providers/Microsoft.EventHub/namespaces/eh-nsclicrivl23n25yr","name":"eh-nsclicrivl23n25yr","type":"Microsoft.EventHub/namespaces","sku":{"name":"Standard","tier":"Standard","capacity":1},"location":"southcentralus","tags":{"{tag1:
        value1,":"","tag2: val[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bim-rg/providers/Microsoft.Network/virtualNetworks/bim-rg-vnet","name":"bim-rg-vnet","type":"Microsoft.Network/virtualNetworks","loc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=name%20eq%20%27vnet-000002%27&api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","name":"vnet-000002","type":"Microsoft.Network/virtualNetworks","location":"southcentralus","tags":{"cli-test":"test"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=tagname%20eq%20%27cli-test%27&api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","name":"vnet-000002","type":"Microsoft.Network/virtualNetworks","location":"southcentralus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=tagname%20eq%20%27cli-test%27%20and%20tagvalue%20eq%20%27test%27&api-version=2019-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002","name":"vnet-000002","type":"Microsoft.Network/virtualNetworks","location":"southcentralus"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e"}],"resourceTypes":[{"resourceType":"virtualNetworks","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK South","Korea Central","Korea South","France Central","Australia
        Central","South Africa North","UAE North","Switzerland North","Germany West
        Central","Norway East","Central US EUAP","East US 2 EUAP"],"apiVersions":["2020-03-01","2020-01-01","2019-12-01","2019-11-01","2019-09-01","2019-08-01","2019-07-01","2019-06-01","2019-04-01","2019-02-01","2018-12-01","2018-11-01","2018-10-01","2018-08-01","2018-07-01","2018-06-01","2018-05-01","2018-04-01","2018-03-01","2018-02-01","2018-01-01","2017-11-01","2017-10-01","2017-09-01","2017-08-01","2017-06-01","2017-04-01","2017-03-01","2016-12-01","2016-11-01","2016-10-01","2016-09-01","2016-08-01","2016-07-01","2016-06-01","2016-03-30","2015-06-15","2015-05-01-preview","2014-12-01-preview"],"defaultApiVersion":"2017-09-01","apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2015-06-15"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2017-10-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2017-10-01"}],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"natGateways","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","West India","Canada Central","Canada East","West Central US","West
        US 2","UK West","UK South","Korea Central","Korea South","France Central","Australia
        Central","South Africa North","UAE North","Switzerland North","Central US
        EUAP","East US 2 EUAP"],"apiVersions":["2020-03-01","2020-01-01","2019-12-01","2019-11-01","2019-09-01","2019-08-01","2019-07-01","2019-06-01","2019-04-01","2019-02-01","2018-12-01","2018-11-01"],"defaultApiVersion":"2018-11-01","zoneMappings":[{"location":"East
        US 2","zones":["2","3","1"]},{"location":"Central US","zones":["2","3","1"]},{"location":"West
        Europe","zones":["2","3","1"]},{"location":"East US 2 EUAP","zones":["1","2","3"]},{"location":"Central
        US EUAP","zones":["1","2"]},{"location":"France Central","zones":["2","3","1"]},{"location":"Southeast
        Asia","zones":["2","3","1"]},{"location":"West US 2","zones":["2","3","1"]},{"location":"North
        Europe","zones":["2","3","1"]},{"location":"East US","zones":["2","3","1"]},{"locatio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet-000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002/subnets/subnet-000003?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnet-000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario000001/providers/Microsoft.Network/virtualNetworks/vnet-000002/subnets/subnet-000003\",\r\n
        \ \"etag\": \"W/\\\"c5d163d0-7981-4a0f-8894-122ff22610e3\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c5d163d0-7981-4a0f-8894-122ff22610e3"
    status:
      code: 200
      message: OK
[...]
