interactions:
- request:
    body: '{"accountEnabled": true, "displayName": "tester123", "passwordProfile":
      {"password": "Test123456789", "forceChangePasswordNextLogin": false}, "userPrincipalName":
      "testuser000002@azuresdkteam.onmicrosoft.com", "mailNickname": "testuser000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?api-version=1.6
  response:
    body:
      string: '{"odata.error":{"code":"Request_BadRequest","message":{"lang":"en","value":"The
        domain portion of the userPrincipalName property is invalid. You must use
        one of the verified domain names in your organization."},"requestId":"f6b068dd-04b2-4484-adbe-bee7f8941742","date":"2020-12-15T03:39:59","values":[{"item":"PropertyName","value":"userPrincipalName"},{"item":"PropertyErrorCode","value":"InvalidValue"}]}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '679255'
      ocp-aad-diagnostics-server-name:
      - rnnXq0YqImKMMZxKDbt9frSa7jB8w7M8JZPL1M3cBLc=
      ocp-aad-session-key:
      - na1YRiHS2mnVGL5Vfe79ZS0c13MAWpIFIEX_tAUTXwAcmCXdGAmorjRvr73WhPVsK3U7EiGiZmdQnc-sH46CwYRWCq46Cckc_kj8Sk6--POmlMQZw05Kewc8jty73KfZ.lpRV8y9mESp_j5Qeke3nnf3WwejNWO08lrZl11RQSeg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 400
      message: Bad Request
version: 1
