interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/TrendMicro.DeepSecurity?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/TrendMicro.DeepSecurity","namespace":"TrendMicro.DeepSecurity","resourceTypes":[{"resourceType":"accounts","locations":["Central
        US"],"apiVersions":["2015-06-15"],"capabilities":"SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"},{"resourceType":"listCommunicationPreference","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"},{"resourceType":"updateCommunicationPreference","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"}],"registrationState":"Registering","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/TrendMicro.DeepSecurity/unregister?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/TrendMicro.DeepSecurity","namespace":"TrendMicro.DeepSecurity","resourceTypes":[{"resourceType":"accounts","locations":["Central
        US"],"apiVersions":["2015-06-15"],"capabilities":"SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"},{"resourceType":"listCommunicationPreference","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"},{"resourceType":"updateCommunicationPreference","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"}],"registrationState":"Unregistering","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/TrendMicro.DeepSecurity/register?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/TrendMicro.DeepSecurity","namespace":"TrendMicro.DeepSecurity","resourceTypes":[{"resourceType":"accounts","locations":["Central
        US"],"apiVersions":["2015-06-15"],"capabilities":"SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"},{"resourceType":"listCommunicationPreference","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"},{"resourceType":"updateCommunicationPreference","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"}],"registrationState":"Registering","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/TrendMicro.DeepSecurity?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/TrendMicro.DeepSecurity","namespace":"TrendMicro.DeepSecurity","resourceTypes":[{"resourceType":"accounts","locations":["Central
        US"],"apiVersions":["2015-06-15"],"capabilities":"SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"},{"resourceType":"listCommunicationPreference","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"},{"resourceType":"updateCommunicationPreference","locations":[],"apiVersions":["2015-06-15"],"capabilities":"None"}],"registrationState":"Registering","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
