interactions:
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"type": "Microsoft.Compute/availabilitySets", "name": "availset-test-conv",
      "location": "westus2", "tags": {}, "apiVersion": "2020-06-01", "properties":
      {"platformFaultDomainCount": 3}, "sku": {"name": "Classic"}}], "outputs": {}},
      "parameters": {}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_availset_live000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_availset_live000001/providers/Microsoft.Resources/deployments/av_set_deploy_YHFdfUMfX8mDNafenaCzPfnh1KmBEVCp","name":"av_set_deploy_YHFdfUMfX8mDNafenaCzPfnh1KmBEVCp","type":"Microsoft.Resources/deployments","properties":{"templateHash":"252346028564061498","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-09-28T23:05:05.8876067Z","duration":"PT0.5634581S","correlationId":"52d8accb-644b-4f75-9a80-1871c2e6aa44","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus2"]}]}],"dependencies":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_availset_live000001/providers/Microsoft.Resources/deployments/av_set_deploy_YHFdfUMfX8mDNafenaCzPfnh1KmBEVCp/operationStatuses/08586002725801534597?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_availset_live000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586002725801534597?api-version=2019-10-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_availset_live000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_availset_live000001/providers/Microsoft.Resources/deployments/av_set_deploy_YHFdfUMfX8mDNafenaCzPfnh1KmBEVCp","name":"av_set_deploy_YHFdfUMfX8mDNafenaCzPfnh1KmBEVCp","type":"Microsoft.Resources/deployments","properties":{"templateHash":"252346028564061498","parameters":{},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2020-09-28T23:05:08.3438333Z","duration":"PT3.0196847S","correlationId":"52d8accb-644b-4f75-9a80-1871c2e6aa44","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus2"]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_availset_live000001/providers/Microsoft.Compute/availabilitySets/availset-test-conv"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_availset_live000001/providers/Microsoft.Compute/availabilitySets/availset-test-conv?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"availset-test-conv\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_availset_live000001/providers/Microsoft.Compute/availabilitySets/availset-test-conv\",\r\n
        \ \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\":
        5,\r\n    \"platformFaultDomainCount\": 3,\r\n    \"virtualMachines\": []\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Classic\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3999,Microsoft.Compute/LowCostGet30Min;31998
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_availset_live000001/providers/Microsoft.Compute/availabilitySets/availset-test-conv?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"availset-test-conv\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_availset_live000001/providers/Microsoft.Compute/availabilitySets/availset-test-conv\",\r\n
        \ \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\":
        5,\r\n    \"platformFaultDomainCount\": 3,\r\n    \"virtualMachines\": []\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"Classic\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3998,Microsoft.Compute/LowCostGet30Min;31997
    status:
      code: 200
      message: OK
version: 1
