interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/publicIPAddresses?api-version=2018-11-01
  response:
    body:
      string: '{"value":[{"name":"vmss1LBPublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixeds7y6ux3n5fm3clqexmvr2ilnp3u56jwluuq57zdov2f/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","etag":"W/\"5b99ae69-08aa-42c5-9797-2ec74e475a9b\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"d1d06e0d-a740-472e-971a-fe55bbe8db37","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipTags":[],"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixeds7y6ux3n5fm3clqexmvr2ilnp3u56jwluuq57zdov2f/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Basic"}},{"name":"vmss1LBPublicIP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixedxeinamxuytfvu67rebecmjurgr23edvz4rxzwwae7bj/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","etag":"W/\"c45aca15-ef5c-4c8c-898a-4b6f31ee2f8e\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"c2455b80-74fb-4346-8874-95895f56172c","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipTags":[],"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixedxeinamxuytfvu67rebecmjurgr23edvz4rxzwwae7bj/providers/Microsoft.Network/loadBalancers/vmss1LB/frontendIPConfigurations/loadBalancerFrontEnd"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Basic"}},{"name":"myPublicIpAddress","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ansibletest-bb1f07ec-bca7-40bb-a79c-b6b459886c63/providers/Microsoft.Network/publicIPAddresses/myPublicIpAddress","etag":"W/\"087c6119-4e85-4b08-911e-5a6af3aef11a\"","location":"eastus","properties":{"provisioningState":"Succeeded","resourceGuid":"09c1baab-b71c-4e84-87ca-5596c57673db","ipAddress":"13.72.70.219","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard"}},{"name":"pip61a8f27","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ansibletest-bb1f07ec-bca7-40bb-a79c-b6b459886c63/providers/Microsoft.Network/publicIPAddresses/pip61a8f27","etag":"W/\"1d00503a-660d-49a9-8ed5-07540e9591f8\"","location":"eastus","properties":{"provisioningState":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/networkInterfaces?api-version=2018-11-01
  response:
    body:
      string: '{"value":[{"name":"anf-cli-vnet-optui6xlkg5rfdc-nic-R5RVPP","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_hc2crs6ymluwebxkn4ncq2b2xev7deisfyyqi4ar3n3wvg/providers/Microsoft.Network/networkInterfaces/anf-cli-vnet-optui6xlkg5rfdc-nic-R5RVPP","etag":"W/\"645db82b-1dc5-4590-aa1a-282893362cb8\"","properties":{"provisioningState":"Succeeded","resourceGuid":"a893ed1b-dba2-4b18-a634-15c704929864","ipConfigurations":[{"name":"ipconfig1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_hc2crs6ymluwebxkn4ncq2b2xev7deisfyyqi4ar3n3wvg/providers/Microsoft.Network/networkInterfaces/anf-cli-vnet-optui6xlkg5rfdc-nic-R5RVPP/ipConfigurations/ipconfig1","etag":"W/\"645db82b-1dc5-4590-aa1a-282893362cb8\"","type":"Microsoft.Network/networkInterfaces/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.1.0.4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_hc2crs6ymluwebxkn4ncq2b2xev7deisfyyqi4ar3n3wvg/providers/Microsoft.Network/virtualNetworks/cli-vnet-optui6xlkg5rfdc/subnets/cli-subnet-us66l"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"5m2hv35yco1evim5t2xfyct5tb.dx.internal.cloudapp.net"},"macAddress":"","enableAcceleratedNetworking":false,"enableIPForwarding":false,"linkedResourceType":"Microsoft.Netapp/volumes","primary":true,"bareMetalServer":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_hc2crs6ymluwebxkn4ncq2b2xev7deisfyyqi4ar3n3wvg/providers/Microsoft.Network/bareMetalServers/baremetalTenant_svm_d76510716b5511eb979df69550f6bc65_8ce0c4fa"},"hostedWorkloads":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_hc2crs6ymluwebxkn4ncq2b2xev7deisfyyqi4ar3n3wvg/providers/Microsoft.NetApp/netAppAccounts/cli-acc-ruttnbtlkj35slon/capacityPools/cli-pool-nvsni3gtidv7qcj/volumes/cli-vol-ahiygqxpplwtvr4d"],"tapConfigurations":[]},"type":"Microsoft.Network/networkInterfaces","location":"westus"},{"name":"privateendpoint-61a8f2739.nic.566b2d40-3b8e-4798-bd1e-28cb0965b078","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ansibletest-bb1f07ec-bca7-40bb-a79c-b6b459886c63/providers/Microsoft.Network/networkInterfaces/privateendpoint-61a8f2739.nic.566b2d40-3b8e-4798-bd1e-28cb0965b078","etag":"W/\"75e3a5f4-2ccf-4ca7-94ec-f0e9734fbc8d\"","properties":{"provisioningState":"Succeeded","resourceGuid":"4ab[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centralus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions?$top=1&$orderby=name%20desc&api-version=2020-06-01
  response:
    body:
      string: '[]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
version: 1
