interactions:
- request:
    body: '{"tags": {"date": "2018-07-20T22:36:18Z", "product": "azurecli", "cause":
      "automation"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_rolling_update000001?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001","name":"cli_test_vmss_rolling_update000001","location":"westus","tags":{"date":"2018-07-20T22:36:18Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceGroup%20eq%20%27cli_test_vmss_rolling_update000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FpublicIPAddresses%27&api-version=2018-02-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"parameters": {}, "mode": "Incremental", "template":
      {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "outputs": {"loadBalancer": {"value": "[reference(\''lb1\'')]",
      "type": "object"}}, "resources": [{"properties": {"publicIPAllocationMethod":
      "Dynamic"}, "sku": {"name": "Basic"}, "type": "Microsoft.Network/publicIPAddresses",
      "name": "PublicIPlb1", "apiVersion": "2017-10-01", "tags": {}, "dependsOn":
      [], "location": "westus"}, {"properties": {"frontendIPConfigurations": [{"properties":
      {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd"}], "backendAddressPools": [{"name": "lb1bepool"}]},
      "sku": {"name": "Basic"}, "type": "Microsoft.Network/loadBalancers", "name":
      "lb1", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/publicIpAddresses/PublicIPlb1"],
      "apiVersion": "2017-10-01"}], "contentVersion": "1.0.0.0", "parameters": {}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Resources/deployments/lb_deploy_IK4Ej8kcc6r8X6JcbHP4iagEpnNPp8Kx","name":"lb_deploy_IK4Ej8kcc6r8X6JcbHP4iagEpnNPp8Kx","properties":{"templateHash":"5189545742602278531","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-07-20T22:36:22.2243877Z","duration":"PT0.7850692S","correlationId":"62037401-0b67-41b8-b834-0949236548d8","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"PublicIPlb1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1","resourceType":"Microsoft.Network/loadBalancers","resourceName":"lb1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Resources/deployments/lb_deploy_IK4Ej8kcc6r8X6JcbHP4iagEpnNPp8Kx/operationStatuses/08586694807040383035?api-version=2018-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586694807040383035?api-version=2018-02-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"name\": \"lb1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1\"\
        ,\r\n  \"etag\": \"W/\\\"9e3639ea-eea3-4f5e-8ecc-d42afaf42660\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"resourceGuid\": \"99524340-5ba5-438e-8694-b08e7098fe6f\"\
        ,\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"\
        LoadBalancerFrontEnd\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd\"\
        ,\r\n        \"etag\": \"W/\\\"9e3639ea-eea3-4f5e-8ecc-d42afaf42660\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1\"\
        \r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\"\
        : [\r\n      {\r\n        \"name\": \"lb1bepool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"\
        ,\r\n        \"etag\": \"W/\\\"9e3639ea-eea3-4f5e-8ecc-d42afaf42660\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        \r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n\
        \    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"inboundNatPools\"\
        : []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\":\
        \ \"Regional\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"9e3639ea-eea3-4f5e-8ecc-d42afaf42660"]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"provisioningState": "Succeeded", "loadBalancingRules":
      [], "inboundNatPools": [], "inboundNatRules": [], "resourceGuid": "99524340-5ba5-438e-8694-b08e7098fe6f",
      "probes": [{"properties": {"port": 80, "requestPath": "/", "protocol": "Http"},
      "name": "probe1"}], "backendAddressPools": [{"properties": {"provisioningState":
      "Succeeded"}, "name": "lb1bepool", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "etag": "W/\\"9e3639ea-eea3-4f5e-8ecc-d42afaf42660\\""}], "frontendIPConfigurations":
      [{"properties": {"provisioningState": "Succeeded", "privateIPAllocationMethod[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a5ca356c-a3ba-4132-a718-5394c1506d3b?api-version=2017-10-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"properties": {"provisioningState": "Succeeded", "loadBalancingRules":
      [{"properties": {"frontendIPConfiguration": {"properties": {"provisioningState":
      "Succeeded", "privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "etag": "W/\\"5c3ec775-0899-4a34-a094-65eda9e0fdde\\""}, "protocol": "Tcp",
      "enableFloatingIP": false, "probe": {"properties": {"port": 80, "provisioningState":
      "Succeeded", "protocol": "Http", "numberOfProbes": 2, "intervalInSeconds": 15,
      "requestPath": "/"}, "name": "probe1", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1",
      "etag": "W/\\"5c3ec775-0899-4a34-a094-65eda9e0fdde\\""}, "backendAddressPool":
      {"properties": {"provisioningState": "Succeeded"}, "name": "lb1bepool", "id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool",
      "etag": "W/\\"5c3ec775-0899-4a34-a094-65eda9e0fdde\\""}, "backendPort": 80,
      "frontendPort": 80, "loadDistribution": "default"}, "name": "rule1"}], "inboundNatPools":
      [], "inboundNatRules": [], "resourceGuid": "99524340-5ba5-438e-8694-b08e7098fe6f",
      "probes": [{"properties": {"port": 80, "provisioningState": "Succeeded", "protocol":
      "Http", "numberOfProbes": 2, "intervalInSeconds": 15, "requestPath": "/"}, "name":
      "probe1", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/pr[...]
[...]
- request:
    body: 'b''{"properties": {"provisioningState": "Succeeded", "loadBalancingRules":
      [{"properties": {"provisioningState": "Succeeded", "frontendIPConfiguration":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd"},
      "protocol": "Tcp", "enableFloatingIP": false, "probe": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1"},
      "backendPort": 80, "backendAddressPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool"},
      "loadDistribution": "Default", "idleTimeoutInMinutes": 4, "frontendPort": 80},
      "name": "rule1", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/loadBalancingRules/rule1",
      "etag": "W/\\"58a81e1d-9d46-494e-8e5a-b2bddba975a0\\""}], "inboundNatPools":
      [{"properties": {"frontendIPConfiguration": {"properties": {"provisioningState":
      "Succeeded", "privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/publicIPAddresses/PublicIPlb1"}},
      "name": "LoadBalancerFrontEnd", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/frontendIPConfigurations/LoadBalancerFrontEnd",
      "etag": "W/\\"58a81e1d-9d46-494e-8e5a-b2bddba975a0\\""}, "protocol": "Tcp",
      "frontendPortRangeStart": 50000, "backendPort": 22, "frontendPortRangeEnd":
      50119}, "name": "nat-pool1"}], "inboundNatRules": [], "resourceGuid": "99524340-5ba5-438e-8694-b08e7098fe6f",
      "probes": [{"properties": {"port": 80, "provisioningState": "Succeeded", "protocol":
      "Http", "numberOfProbes": 2, "intervalInSeconds": 15, "requestPath": "/"}, "name":
      "probe1", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1",
      "etag": "W[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['257']
      x-fastly-request-id: [d1f42f078288b3c9f709caf92ed283b20a21fd07]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-10-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"properties": {"parameters": {"adminPassword": {"value": "Testqwer1234!"}},
      "mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "outputs": {"VMSS": {"value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''vmss1\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]",
      "type": "object"}}, "resources": [{"properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "vmss1Subnet"}]}, "type": "Microsoft.Network/virtualNetworks", "dependsOn":
      [], "name": "vmss1VNET", "location": "westus", "tags": {}, "apiVersion": "2015-06-15"},
      {"properties": {"upgradePolicy": {"mode": "manual"}, "overprovision": true,
      "virtualMachineProfile": {"osProfile": {"computerNamePrefix": "vmss1d0d9", "adminUsername":
      "clitester1", "adminPassword": "[parameters(\''adminPassword\'')]"}, "networkProfile":
      {"networkInterfaceConfigurations": [{"properties": {"ipConfigurations": [{"properties":
      {"loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool"}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/inboundNatPools/nat-pool1"}]},
      "name": "vmss1d0d9IPConfig"}], "primary": "true"}, "name": "vmss1d0d9Nic"}],
      "healthProbe": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1"}},
      "storageProfile": {"osDisk": {"caching": "ReadWrite", "createOption": "FromImage",
      "managedDisk": {"storageAccountType": null}}, "imageReference": {"offer": "UbuntuServer",
      "publisher": "Canonical", "version": "latest", "sku": "16.04-LTS"}}}, "singlePlacementGroup":
      null}, "sku": {"name": "Standard_DS1_v2", "capacity": 2}, "type": "Microsoft.Compute/virtualMachineScaleSets",
      "name": "vmss1", "apiVersion": "2017-03-30", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET"],
      "location": "westus"}], "contentVersion": "1.0.0.0", "parameters": {"adminPassword":
      {"metadata": {"description": "Secure adminPassword"}, "type": "securestring"}}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n  \
        \  \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss1d0d9\",\r\n        \"adminUsername\"\
        : \"clitester1\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\"\
        : false\r\n        },\r\n        \"secrets\": []\r\n      },\r\n      \"storageProfile\"\
        : {\r\n        \"osDisk\": {\r\n          \"createOption\": \"FromImage\"\
        ,\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\
        \n            \"storageAccountType\": \"Premium_LRS\"\r\n          }\r\n \
        \       },\r\n        \"imageReference\": {\r\n          \"publisher\": \"\
        Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\"\
        : \"16.04-LTS\",\r\n          \"version\": \"latest\"\r\n        }\r\n   \
        \   },\r\n      \"networkProfile\": {\"healthProbe\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1\"\
        },\"networkInterfaceConfigurations\":[{\"name\":\"vmss1d0d9Nic\",\"properties\"\
        :{\"primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"\
        dnsServers\":[]},\"ipConfigurations\":[{\"name\":\"vmss1d0d9IPConfig\",\"\
        properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/inboundNatPools/nat-pool1\"\
        }]}}]}}]}\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        overprovision\": true,\r\n    \"uniqueId\": \"19e2a844-88db-493c-90fc-6c18cd2b036e\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"name\": \"vmss1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSet3Min;190,Microsoft.Compute/GetVMScaleSet30Min;1460']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"upgradePolicy": {"automaticOSUpgrade": false, "mode":
      "Manual"}, "virtualMachineProfile": {"osProfile": {"secrets": [], "adminUsername":
      "clitester1", "computerNamePrefix": "vmss1d0d9", "linuxConfiguration": {"disablePasswordAuthentication":
      false}}, "networkProfile": {"networkInterfaceConfigurations": [{"properties":
      {"ipConfigurations": [{"properties": {"privateIPAddressVersion": "IPv4", "loadBalancerBackendAddressPools":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/lb1bepool"}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/inboundNatPools/nat-pool1"}]},
      "name": "vmss1d0d9IPConfig"}], "dnsSettings": {"dnsServers": []}, "enableAcceleratedNetworking":
      false, "primary": true}, "name": "vmss1d0d9Nic"}], "healthProbe": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Network/loadBalancers/lb1/probes/probe1"}},
      "extensionProfile": {"extensions": [{"properties": {"settings": {"commandToExecute":
      "sudo apt-get install -y nginx"}, "type": "customScript", "autoUpgradeMinorVersion":
      true, "publisher": "Microsoft.Azure.Extensions", "typeHandlerVersion": "2.0"},
      "name": "customScript"}]}, "storageProfile": {"osDisk": {"caching": "ReadWrite",
      "createOption": "FromImage", "managedDisk": {"storageAccountType": "Premium_LRS"}},
      "imageReference": {"offer": "UbuntuServer", "publisher": "Canonical", "version":
      "latest", "sku": "16.04-LTS"}}}, "overprovision": true, "singlePlacementGroup":
      true}, "tags": {}, "sku": {"name": "Standard_DS1_v2", "tier": "Standard", "capacity":
      2}, "location": "westus"}'''
    headers:
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/acb1693e-1a5c-4a9a-ab86-8ea0c14e810b?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-07-20T22:41:11.3045913+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"acb1693e-1a5c-4a9a-ab86-8ea0c14e810b\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14986,Microsoft.Compute/GetOperation30Min;29881']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/acb1693e-1a5c-4a9a-ab86-8ea0c14e810b?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-07-20T22:41:11.3045913+00:00\",\r\
        \n  \"endTime\": \"2018-07-20T22:42:48.3051312+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"acb1693e-1a5c-4a9a-ab86-8ea0c14e810b\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14989,Microsoft.Compute/GetOperation30Min;29874']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"instanceIds": ["*"]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/manualupgrade?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/aab471a7-ee33-4c7f-abc8-2b9e701243dc?api-version=2017-03-30']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/aab471a7-ee33-4c7f-abc8-2b9e701243dc?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/VMScaleSetActions3Min;239,Microsoft.Compute/VMScaleSetActions30Min;1199,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1194,Microsoft.Compute/VmssQueuedVMOperations;4798']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
      x-ms-request-charge: ['2']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_rolling_update000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n  \
        \  \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Rolling\",\r\n      \"rollingUpgradePolicy\": {\r\n   \
[...]
