interactions:
- request:
    body: '{"tags": {"date": "2018-07-21T03:33:03Z", "product": "azurecli", "cause":
      "automation"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_and_modify000001?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001","name":"cli_test_vmss_create_and_modify000001","location":"westus","tags":{"date":"2018-07-21T03:33:03Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.3\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"60d07919b4224266adafb81340896eea100dc887"']
      source-age: ['0']
      x-fastly-request-id: [24869bc57b487f283b2da459891e68dce2308323]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-10-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"parameters": {"adminPassword": {"value": "testPassword0"}},
      "mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "variables": {}, "outputs": {"VMSS": {"value": "[reference(resourceId(\''Microsoft.Compute/virtualMachineScaleSets\'',
      \''vmss1\''),providers(\''Microsoft.Compute\'', \''virtualMachineScaleSets\'').apiVersions[0])]",
      "type": "object"}}, "resources": [{"properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "vmss1Subnet"}]}, "type": "Microsoft.Network/virtualNetworks", "dependsOn":
      [], "name": "vmss1VNET", "location": "westus", "tags": {}, "apiVersion": "2015-06-15"},
      {"properties": {"publicIPAllocationMethod": "Dynamic"}, "dependsOn": [], "type":
      "Microsoft.Network/publicIPAddresses", "name": "vmss1LBPublicIP", "apiVersion":
      "2017-10-01", "tags": {}, "location": "westus"}, {"properties": {"inboundNatPools":
      [{"properties": {"frontendIPConfiguration": {"id": "[concat(resourceId(\''Microsoft.Network/loadBalancers\'',
      \''vmss1LB\''), \''/frontendIPConfigurations/\'', \''loadBalancerFrontEnd\'')]"},
      "protocol": "tcp", "frontendPortRangeStart": "50000", "backendPort": 3389, "frontendPortRangeEnd":
      "50119"}, "name": "vmss1LBNatPool"}], "frontendIPConfigurations": [{"properties":
      {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}},
      "name": "loadBalancerFrontEnd"}], "backendAddressPools": [{"name": "vmss1LBBEPool"}]},
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"],
      "type": "Microsoft.Network/loadBalancers", "name": "vmss1LB", "location": "westus",
      "tags": {}, "apiVersion": "2017-10-01"}, {"properties": {"upgradePolicy": {"mode":
      "manual"}, "overprovision": true, "virtualMachineProfile": {"osProfile": {"computerNamePrefix":
      "vmss1b569", "adminUsername": "myadmin", "adminPassword": "[parameters(\''adminPassword\'')]"},
      "networkProfile": {"networkInterfaceConfigurations": [{"properties": {"ipConfigurations":
      [{"properties": {"loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}]},
      "name": "vmss1b569IPConfig"}], "primary": "true"}, "name": "vmss1b569Nic"}]},
      "storageProfile": {"osDisk": {"caching": "ReadWrite", "createOption": "FromImage",
      "managedDisk": {"storageAccountType": null}}, "imageReference": {"offer": "WindowsServer",
      "publisher": "MicrosoftWindowsServer", "version": "latest", "sku": "2012-R2-Datacenter"}}},
      "singlePlacementGroup": null}, "sku": {"name": "Standard_DS1_v2", "capacity":
      5}, "type": "Microsoft.Compute/virtualMachineScaleSets", "name": "vmss1", "apiVersion":
      "2017-03-30", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET",
      "Microsoft.Network/loadBalancers/vmss1LB"], "location": "westus"}], "contentVersion":
      "1.0.0.0", "parameters": {"adminPassword": {"metadata": {"description": "Secure
      adminPassword"}, "type": "securestring"}}}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Resources/deployments/vmss_deploy_BlKebAqC4rFjIlvkmrcjbpoyIsIvpvTE","name":"vmss_deploy_BlKebAqC4rFjIlvkmrcjbpoyIsIvpvTE","properties":{"templateHash":"9730048959550421387","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-07-21T03:33:08.2345298Z","duration":"PT0.9255152S","correlationId":"bc4dd49f-6460-40bb-985d-b81204b9933f","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Resources/deployments/vmss_deploy_BlKebAqC4rFjIlvkmrcjbpoyIsIvpvTE/operationStatuses/08586694628981686655?api-version=2018-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586694628981686655?api-version=2018-02-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n  \
        \  \"tier\": \"Standard\",\r\n    \"capacity\": 5\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss1b569\",\r\n        \"adminUsername\"\
        : \"myadmin\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\"\
        : true,\r\n          \"enableAutomaticUpdates\": true\r\n        },\r\n  \
        \      \"secrets\": []\r\n      },\r\n      \"storageProfile\": {\r\n    \
        \    \"osDisk\": {\r\n          \"createOption\": \"FromImage\",\r\n     \
        \     \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n    \
        \        \"storageAccountType\": \"Premium_LRS\"\r\n          }\r\n      \
        \  },\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\"\
        ,\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2012-R2-Datacenter\"\
        ,\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"\
        networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"vmss1b569Nic\"\
        ,\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"\
        dnsSettings\":{\"dnsServers\":[]},\"ipConfigurations\":[{\"name\":\"vmss1b569IPConfig\"\
        ,\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        }]}}]}}]}\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        overprovision\": true,\r\n    \"uniqueId\": \"c46fbcbf-26ab-4646-80c3-61b324f68cee\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"name\": \"vmss1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSet3Min;189,Microsoft.Compute/GetVMScaleSet30Min;1428']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/virtualMachineScaleSets?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"\
        name\": \"Standard_DS1_v2\",\r\n        \"tier\": \"Standard\",\r\n      \
        \  \"capacity\": 5\r\n      },\r\n      \"properties\": {\r\n        \"singlePlacementGroup\"\
        : true,\r\n        \"upgradePolicy\": {\r\n          \"mode\": \"Manual\"\
        ,\r\n          \"automaticOSUpgrade\": false\r\n        },\r\n        \"virtualMachineProfile\"\
        : {\r\n          \"osProfile\": {\r\n            \"computerNamePrefix\": \"\
        vmss1b569\",\r\n            \"adminUsername\": \"myadmin\",\r\n          \
        \  \"windowsConfiguration\": {\r\n              \"provisionVMAgent\": true,\r\
        \n              \"enableAutomaticUpdates\": true\r\n            },\r\n   \
        \         \"secrets\": []\r\n          },\r\n          \"storageProfile\"\
        : {\r\n            \"osDisk\": {\r\n              \"createOption\": \"FromImage\"\
        ,\r\n              \"caching\": \"ReadWrite\",\r\n              \"managedDisk\"\
        : {\r\n                \"storageAccountType\": \"Premium_LRS\"\r\n       \
        \       }\r\n            },\r\n            \"imageReference\": {\r\n     \
        \         \"publisher\": \"MicrosoftWindowsServer\",\r\n              \"offer\"\
        : \"WindowsServer\",\r\n              \"sku\": \"2012-R2-Datacenter\",\r\n\
        \              \"version\": \"latest\"\r\n            }\r\n          },\r\n\
        \          \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\"\
        :\"vmss1b569Nic\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\"\
        :false,\"dnsSettings\":{\"dnsServers\":[]},\"ipConfigurations\":[{\"name\"\
        :\"vmss1b569IPConfig\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_m[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"\
        name\": \"Standard_DS1_v2\",\r\n        \"tier\": \"Standard\",\r\n   [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/skus?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"resourceType\": \"Microsoft.Compute/virtualMachineScaleSets\"\
        ,\r\n      \"sku\": {\r\n        \"name\": \"Standard_B1ms\",\r\n        \"\
        tier\": \"Standard\"\r\n      },\r\n      \"capacity\": {\r\n        \"minimum\"\
        : 0,\r\n        \"maximum\": 100,\r\n        \"defaultCapacity\": 1,\r\n \
        \       \"scaleType\": \"Automatic\"\r\n      }\r\n    },\r\n    {\r\n   \
        \   \"resourceType\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n \
        \     \"sku\": {\r\n        \"name\": \"Standard_B1s\",\r\n        \"tier\"\
        : \"Standard\"\r\n      },\r\n      \"capacity\": {\r\n        \"minimum\"\
        : 0,\r\n        \"maximum\": 100,\r\n        \"defaultCapacity\": 1,\r\n \
        \       \"scaleType\": \"Automatic\"\r\n      }\r\n    },\r\n    {\r\n   \
        \   \"resourceType\":[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"instanceId\": \"0\",\r\
        \n      \"sku\": {\r\n        \"name\": \"Standard_DS1_v2\",\r\n        \"\
        tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"\
        latestModelApplied\": true,\r\n        \"vmId\": \"874894a7-54e8-4f61-9d4f-e69a1890a4c0\"\
        ,\r\n        \"hardwareProfile\": {},\r\n        \"storageProfile\": {\r\n\
        \          \"imageReference\": {\r\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\r\n            \"offer\": \"WindowsServer\",\r\n            \"sku\": \"\
        2012-R2-Datacenter\",\r\n            \"version\": \"4.127.20180510\"\r\n \
        \         },\r\n          \"osDisk\": {\r\n            \"osType\": \"Windows\"\
        ,\r\n            \"name\": \"vmss1_vmss1_0_OsDisk_1_2ca159caed03484caa9f0faeb9f3a1bb\"\
        ,\r\n            \"createOption\": \"FromImage\",\r\n            \"caching\"\
        : \"ReadWrite\",\r\n            \"managedDisk\": {\r\n              \"storageAccountType\"\
        : \"Premium_LRS\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/disks/vmss1_vmss1_0_OsDisk_1_2ca159caed03484caa9f0faeb9f3a1bb\"\
        \r\n            },\r\n            \"diskSizeGB\": 127\r\n          },\r\n\
        \          \"dataDisks\": []\r\n        },\r\n        \"osProfile\": {\r\n\
        \          \"computerName\": \"vmss1b569000000\",\r\n          \"adminUsername\"\
        : \"myadmin\",\r\n          \"windowsConfiguration\": {\r\n            \"\
        provisionVMAgent\": true,\r\n            \"enableAutomaticUpdates\": true\r\
        \n          },\r\n          \"secrets\": []\r\n        },\r\n        \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/vmss1b569Nic\"\
        }]},\r\n        \"provisioningState\": \"Updating\"\r\n      },\r\n      \"\
        type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n\
        \      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_VMSS_CREATE_AND_MODIFYWYH4KD6QVHXPDXRP7FHQLFEDQEMYM32BFABDTJMXPLO4/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0\"\
        ,\r\n      \"name\": \"vmss1_0\"\r\n    },\r\n    {\r\n      \"instanceId\"\
        : \"2\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_DS1_v2\",\r\n\
        \        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n\
        \        \"latestModelApplied\": true,\r\n        \"vmId\": \"3408adf0-a969-45d4-aca4-86b7956fea35\"\
        ,\r\n        \"hardwareProfile\": {},\r\n        \"storageProfile\": {\r\n\
        \          \"imageReference\": {\r\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\r\n            \"offer\": \"WindowsServer\",\r\n            \"sku\": \"\
        2012-R2-Datacenter\",\r\n            \"version\": \"4.127.20180510\"\r\n \
        \         },\r\n          \"osDisk\": {\r\n            \"osType\": \"Wind[...]
- request:
    body: '{"instanceIds": ["4", "5"]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/manualupgrade?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/435daad0-e745-46eb-9919-3dc7c99c77d8?api-version=2017-03-30']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/435daad0-e745-46eb-9919-3dc7c99c77d8?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/VMScaleSetActions3Min;239,Microsoft.Compute/VMScaleSetActions30Min;1199,Microsoft.Compute/VmssQueuedVMOperations;4800']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
      x-ms-request-charge: ['0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/435daad0-e745-46eb-9919-3dc7c99c77d8?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-07-21T03:37:18.7439159+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"435daad0-e745-46eb-9919-3dc7c99c77d8\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14983,Microsoft.Compute/GetOperation30Min;29832']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/435daad0-e745-46eb-9919-3dc7c99c77d8?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-07-21T03:37:18.7439159+00:00\",\r\
        \n  \"endTime\": \"2018-07-21T03:39:15.1924968+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"435daad0-e745-46eb-9919-3dc7c99c77d8\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14986,Microsoft.Compute/GetOperation30Min;29823']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/instanceView?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"virtualMachine\": {\r\n    \"statusesSummary\": [\r\n\
        \      {\r\n        \"code\": \"ProvisioningState/succeeded\",\r\n       \
        \ \"count\": 5\r\n      }\r\n    ]\r\n  },\r\n  \"statuses\": [\r\n    {\r\
        \n      \"code\": \"ProvisioningState/succeeded\",\r\n      \"level\": \"\
        Info\",\r\n      \"displayStatus\": \"Provisioning succeeded\",\r\n      \"\
        time\": \"2018-07-21T03:39:15.1456224+00:00\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/HighCostGetVMScaleSet3Min;174,Microsoft.Compute/HighCostGetVMScaleSet30Min;886']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/poweroff?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/ee136f66-b3e4-49c5-8976-a8687815f185?api-version=2017-03-30']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/ee136f66-b3e4-49c5-8976-a8687815f185?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/DeleteVMScaleSet3Min;119,Microsoft.Compute/DeleteVMScaleSet30Min;597,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1195,Microsoft.Compute/VmssQueuedVMOperations;4795']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
      x-ms-request-charge: ['5']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vmss_create_and_modify000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/start?api-version=2017-03-30
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/80b96bea-3b43-4f39-b126-37707d4e1571?api-version=2017-03-30']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/80b96bea-3b43-4f39-b126-37707d4e1571?monitor=true&api-version=2017-03-30']
[...]
