interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=&api-version=2016-09-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/anothertmrg/providers/Microsoft.Network/trafficmanagerprofiles/anothertm","name":"anothertm","type":"Microsoft.Network/trafficmanagerprofiles","location":"global"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Compute/virtualMachines/vm-datadisk-test","name":"vm-datadisk-test","type":"Microsoft.Compute/virtualMachines","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkInterfaces/vm-datadisk-testVMNic","name":"vm-datadisk-testVMNic","type":"Microsoft.Network/networkInterfaces","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Network/networkSecurityGroups/vm-datadisk-testNSG","name":"vm-datadisk-testNSG","type":"Microsoft.Network/networkSecurityGroups","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Network/publicIPAddresses/vm-datadisk-testPublicIP","name":"vm-datadisk-testPublicIP","type":"Microsoft.Network/publicIPAddresses","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Network/virtualNetworks/vm-datadisk-testVNET","name":"vm-datadisk-testVNET","type":"Microsoft.Network/virtualNetworks","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Storage/storageAccounts/vhdstorage4xan3wz004kgvi","name":"vhdstorage4xan3wz004kgvi","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-vm-test1/providers/Microsoft.Compute/disks/spec-disk","name":"spec-disk","type":"Microsoft.Compute/disks","location":"eastus"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-vm-test1/providers/Microsoft.Compute/virtualMachines/vm1","name":"vm1","type":"Microsoft.Compute/virtualMachines","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario","name":"cli_test_resource_scenario","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"dhcpOptions": {}, "subnets": [{"name":
      "cli-test-subnet1", "properties": {"addressPrefix": "10.0.0.0/24"}}], "addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}}, "tags": {"cli-test": "test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario/providers/Microsoft.Network/virtualNetworks/cli-test-vnet1?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario/providers/Microsoft.Network/virtualNetworks/cli-test-vnet1\"\
        ,\r\n  \"etag\": \"W/\\\"7bf60c66-110a-4dbd-8853-7df74acc83f4\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"cli-test\": \"test\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"\
        c0dd2a3b-575b-4879-8846-4539d6325637\",\r\n    \"addressSpace\": {\r\n   \
        \   \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\
        \n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\"\
        : [\r\n      {\r\n        \"name\": \"cli-test-subnet1\",\r\n        \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario/providers/Microsoft.Network/virtualNetworks/cli-test-vnet1/subnets/cli-test-subnet1\"\
        ,\r\n        \"etag\": \"W/\\\"7bf60c66-110a-4dbd-8853-7df74acc83f4\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\
        \n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/9c00b501-73a3-4ce9-8e37-bd54a3ec4390?api-version=2017-03-01']
      Content-Type: [application/json; charset=utf-8]
      Retry-After: ['3']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/9c00b501-73a3-4ce9-8e37-bd54a3ec4390?api-version=2017-03-01
  response:
    body: {string: "{\r\n  \"status\": \"Succeeded\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=location%20eq%20%27centralus%27&api-version=2016-09-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-ApplicationInsights-CentralUS/providers/Microsoft.Storage/storageAccounts/appinsightsstorage2016","name":"appinsightsstorage2016","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","location":"centralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgnemv_7d6074886295/providers/Microsoft.Web/certificates/CAB1614352EB66733915BC23C0A1AE1429AD9380##Central
        US#","name":"CAB1614352EB66733915BC23C0A1AE1429AD9380##Central US#","type":"Microsoft.Web/certificates","location":"centralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgnemv_7d6074886295/providers/Microsoft.Web/serverFarms/jplan1_8009124","name":"jplan1_8009124","type":"Microsoft.Web/serverFarms","sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1},"kind":"app","location":"centralus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgnemv_7d6074886295/providers/Microsoft.Web/sites/webapp1-49644850094","name":"webapp1-49644850094","type":"Microsoft.Web/sites","kind":"app","location":"centralus","tags":{}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27&api-version=2016-09-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-test-disk/providers/Microsoft.Network/virtualNetworks/vm-datadisk-testVNET","na[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=name%20eq%20%27cli-test-vnet1%27&api-version=2016-09-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario/providers/Microsoft.Network/virtualNetworks/cli-test-vnet1","name":"cli-test-vnet1","type":"Microsoft.Network/virtualNetworks","location":"westus","tags":{"cli-test":"test"}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=tagname%20eq%20%27cli-test%27&api-version=2016-09-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario/providers/Microsoft.Network/virtualNetworks/cli-test-vnet1","name":"cli-test-vnet1","type":"Microsoft.Network/virtualNetworks","location":"westus"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=tagname%20eq%20%27cli-test%27%20and%20tagvalue%20eq%20%27test%27&api-version=2016-09-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario/providers/Microsoft.Network/virtualNetworks/cli-test-vnet1","name":"cli-test-vnet1","type":"Microsoft.Network/virtualNetworks","location":"westus"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorization":{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},"resourceTypes":[{"resourceType":"virtualNetworks","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","Canada Central","Canada East","West Central US","West US 2","UK West","UK
        South","Korea Central","Korea South"],"apiVersions":["2016-12-01","2016-11-01","2016-10-01","2016-09-01","2016-08-01","2016-07-01","2016-06-01","2016-03-30","2015-06-15","2015-05-01-preview","2014-12-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove"},{"resourceType":"publicIPAddresses","locations":["West
        US","East US","North Europe","West Europe","East Asia","Southeast Asia","North
        Central US","South Central US","Central US","East US 2","Japan East","Japan
        West","Brazil South","Australia East","Australia Southeast","Central India","South
        India","Canada Central","Canada East","West Central US","West US 2","UK West","UK
        South","Kore[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario/providers/Microsoft.Network/virtualNetworks/cli-test-vnet1?api-version=2016-12-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-vnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario/[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_resource_scenario/providers/Microsoft.Network/virtualNetworks/cli-test-vnet1/subnets/cli-test-subnet1?api-version=2016-12-01
  response:
    body: {string: "{\r\n  \"name\": \"cli-test-subnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_resource_scenario/providers/Microsoft.Network/virtualNetworks/cli-test-vnet1/subnets/cli-test-subnet1\"\
        ,\r\n  \"etag\": \"W/\\\"08e0832a-a0c6-4c3f-b52f-7e01857a5ab7\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"08e0832a-a0c6-4c3f-b52f-7e01857a5ab7"]
    status: {code: 200, message: OK}
[...]
