interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"authorizations": [{"roleDefinitionId": "8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalId": "5e91139a-c94b-462e-a6ff-1ee95e8aac07"}], "displayName": "test_appdef_123",
      "packageFileUri": "https://wud.blob.core.windows.net/appliance/SingleStorageAccount.zip",
      "description": "test_appdef_123", "lockLevel": "None"}, "location": "brazil"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname?api-version=2016-09-01-preview
  response:
    body: {string: '{"properties":{"isEnabled":true,"lockLevel":"None","displayName":"test_appdef_123","description":"test_appdef_123","authorizations":[{"principalId":"5e91139a-c94b-462e-a6ff-1ee95e8aac07","roleDefinitionId":"8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}],"artifacts":[{"name":"ApplianceResourceTemplate","type":"Template","uri":"https://prdsapplianceprodcqsn01.blob.core.windows.net/appliancedefinitions/001C5_72F988BF86F141AF91AB2D7CD011DB47_/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname/mainTemplate.json?sv=2016-05-31&sr=b&sig=78XTdrKQ7kT79uxfm%2F2IRlBdRj7r%2F9Poi9Zx0MWr%2FDY%3D&se=2117-05-03T21:07:23Z&sp=r"},{"name":"CreateUiDefinition","type":"Custom","uri":"https://prdsapplianceprodcqsn01.blob.core[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname?api-version=2016-09-01-preview
  response:
    body: {string: '{"properties":{"isEnabled":true,"lockLevel":"None","displayName":"test_appdef_123","description":"test_appdef_123","authorizations":[{"princi[...]
- request:
    body: 'b''b\''{"properties": {"applianceDefinitionId": "/subscriptions/d05f4e58-b80d-4ebd-a6d7-c9cac216cd39/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname",
      "managedResourceGroupId": "/subscriptions/d05f4e58-b80d-4ebd-a6d7-c9cac216cd39/resourceGroups/climanagedapp000002"},
      "location": "westcentralus", "kind": "servicecatalog"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/appliances/mymanagedapp?api-version=2016-09-01-preview
  response:
    body: {string: '{"error":{"code":"InternalServerError","message":"Encountered
        an internal server error. The tracking id is ''10ab7777-19d6-4365-a7c5-8268857f6b0b''."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [service]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 500, message: Internal Server Error}
- request:
    body: 'b''b\''{"properties": {"applianceDefinitionId": "/subscriptions/d05f4e58-b80d-4ebd-a6d7-c9cac216cd39/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname",
      "managedResourceGroupId": "/subscriptions/d05f4e58-b80d-4ebd-a6d7-c9cac216cd39/resourceGroups/climanagedapp000002"},
      "location": "westcentralus", "kind": "servicecatalog"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/appliances/mymanagedapp?api-version=2016-09-01-preview
  response:
    body: {string: '{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000002","applianceDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname","parameters":{},"provisioningState":"Accepted","uiDefinitionUri":"https://prdsapplianceprodcqsn01.blob.core.windows.net/appliancedefinitions/001C5_72F988BF86F141AF91AB2D7CD011DB47_/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname/applianceCreateUiDefinition.json?sv=2016-05-31&sr=b&sig=EK2sQGWNzlT1Tuh35Lk%2BJnagQoj3ZKTBaV3SqkHsRgE%3D&se=2117-05-03T21:07:23Z&sp=r"},"plan":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname","product":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname","publisher":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname","version":"1.0"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/appliances/mymanagedapp","name":"mymanagedapp","type":"Microsoft.Solutions/appliances","kind":"servicecatalog","location":"westcentralus"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/locations/westcentralus/operationStatuses/eyJvcGVyYXRpb25OYW1lIjoiTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWFuY2VzL3dyaXRlIiwiZnVsbHlRdWFsaWZpZWRBcHBsaWFuY2VJZCI6Ii9zdWJzY3JpcHRpb25zL2QwNWY0ZTU4LWI4MGQtNGViZC1hNmQ3LWM5Y2FjMjE2Y2QzOS9yZXNvdXJjZUdyb3Vwcy9jbGl0ZXN0LnJnNzczeWF5NmsycXhmMmE3N2dzYTJhdGJ3b2hoenJycmxua3Jsdm9wbXozYmt6cTVld2Q0aG51eGRvcWpnc25tbHAvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGlhbmNlcy9teW1hbmFnZWRhcHAifQ?api-version=2016-09-01-preview']
      content-type: [application/json; charset=utf-8]
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/locations/westcentralus/operationStatuses/eyJvcGVyYXRpb25OYW1lIjoiTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWFuY2VzL3dyaXRlIiwiZnVsbHlRdWFsaWZpZWRBcHBsaWFuY2VJZCI6Ii9zdWJzY3JpcHRpb25zL2QwNWY0ZTU4LWI4MGQtNGViZC1hNmQ3LWM5Y2FjMjE2Y2QzOS9yZXNvdXJjZUdyb3Vwcy9jbGl0ZXN0LnJnNzczeWF5NmsycXhmMmE3N2dzYTJhdGJ3b2hoenJycmxua3Jsdm9wbXozYmt6cTVld2Q0aG51eGRvcWpnc25tbHAvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGlhbmNlcy9teW1hbmFnZWRhcHAifQ?api-version=2016-09-01-preview
  response:
    body: {string: '{"status":"Accepted"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/appliances/mymanagedapp?api-version=2016-09-01-preview
  response:
    body: {string: '{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000002","applianceDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname","parameters":{},"outputs":{},"provisioningState":"Succeeded","uiDefinitionUri":"https://prdsapplianceprodcqsn01.blob.core.windows.net/appliancedefinitions/001C5_72F988BF86F141AF91AB2D7CD011DB47_/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname/applianceCreateUiDefinition.json?sv=2016-05-31&sr=b&sig=EK2sQGWNzlT1Tuh35Lk%2BJnagQoj3ZKTBaV3SqkHsRgE%3D&se=2117-05-03T21:07:23Z&sp=r"},"plan":{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname","product":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname","publisher":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname","version":"1.0"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/appliances/mymanagedapp","name":"mymanagedapp","type":"Microsoft.Solutions/appliances","kind":"servicecatalog","location":"westcentralus"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/appliances?api-version=2016-09-01-preview
  response:
    body: {string: '{"value":[{"properties":{"managedResourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/climanagedapp000002","applianceDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Solutions/applianceDefinitions/testappdefname","parameters":{},"outputs":{},"provisioningState":"Succeeded","uiDefinitionUri":"https://prdsapplianceprodcqsn01.blob.core.windows.net/appliancedefinitions/001C5_72F988BF86F141AF91AB2D7CD011DB47_[...]
[...]
