interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"date": "2018-08-20T22:58:35Z",
      "product": "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_http_settings000001?api-version=2018-02-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001","name":"cli_test_ag_http_settings000001","location":"westus","tags":{"date":"2018-08-20T22:58:35Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2018-02-01&$filter=resourceGroup%20eq%20%27cli_test_ag_http_settings000001%27%20and%20name%20eq%20%27None%27%20and%20resourceType%20eq%20%27Microsoft.Network%2FvirtualNetworks%27
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {},
      "template": {"parameters": {}, "outputs": {"applicationGateway": {"type": "object",
      "value": "[reference(''ag1'')]"}}, "variables": {"appGwID": "[resourceId(''Microsoft.Network/applicationGateways'',
      ''ag1'')]"}, "contentVersion": "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"name": "ag1Vnet", "tags": {}, "apiVersion": "2015-06-15", "location":
      "westus", "dependsOn": [], "type": "Microsoft.Network/virtualNetworks", "properties":
      {"subnets": [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24"}}],
      "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}}, {"name": "ag1", "tags":
      {}, "apiVersion": "2017-10-01", "location": "westus", "dependsOn": ["Microsoft.Network/virtualNetworks/ag1Vnet"],
      "type": "Microsoft.Network/applicationGateways", "properties": {"sku": {"tier":
      "Standard", "capacity": 2, "name": "Standard_Medium"}, "frontendPorts": [{"name":
      "appGatewayFrontendPort", "properties": {"Port": 80}}], "requestRoutingRules":
      [{"Name": "rule1", "properties": {"backendAddressPool": {"id": "[concat(variables(''appGwID''),
      ''/backendAddressPools/appGatewayBackendPool'')]"}, "backendHttpSettings": {"id":
      "[concat(variables(''appGwID''), ''/backendHttpSettingsCollection/appGatewayBackendHttpSettings'')]"},
      "RuleType": "Basic", "httpListener": {"id": "[concat(variables(''appGwID''),
      ''/httpListeners/appGatewayHttpListener'')]"}}}], "backendHttpSettingsCollection":
      [{"name": "appGatewayBackendHttpSettings", "properties": {"CookieBasedAffinity":
      "disabled", "connectionDraining": {"drainTimeoutInSec": 1, "enabled": false},
      "Protocol": "Http", "Port": 80}}], "backendAddressPools": [{"name": "appGatewayBackendPool"}],
      "gatewayIPConfigurations": [{"name": "appGatewayFrontendIP", "properties": {"subnet":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"}}}],
      "frontendIPConfigurations": [{"name": "appGatewayFrontendIP", "properties":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default"},
      "privateIPAllocationMethod": "Dynamic", "privateIPAddress": ""}}], "httpListeners":
      [{"name": "appGatewayHttpListener", "properties": {"FrontendPort": {"Id": "[concat(variables(''appGwID''),
      ''/frontendPorts/appGatewayFrontendPort'')]"}, "Protocol": "http", "FrontendIpConfiguration":
      {"Id": "[concat(variables(''appGwID''), ''/frontendIPConfigurations/appGatewayFrontendIP'')]"},
      "SslCertificate": null}}]}}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_http_settings000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2018-02-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Resources/deployments/ag_deploy_JZMJjg5oIarVAXbKPz4PcnxNoOUWheN0","name":"ag_deploy_JZMJjg5oIarVAXbKPz4PcnxNoOUWheN0","properties":{"templateHash":"15550600518376603838","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-08-20T22:58:37.2405458Z","duration":"PT0.2121851S","correlationId":"eb8614db-e727-479a-8c11-7b1a3f9c2d96","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"applicationGateways","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"ag1Vnet"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1","resourceType":"Microsoft.Network/applicationGateways","resourceName":"ag1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_http_settings000001/providers/Microsoft.Resources/deployments/ag_deploy_JZMJjg5oIarVAXbKPz4PcnxNoOUWheN0/operationStatuses/08586668009684492606?api-version=2018-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2017-10-01
  response:
    body: {string: !!python/unicode '{"error":{"code":"ResourceNotFound","message":"The
        Resource ''Microsoft.Network/applicationGateways/ag1'' under resource group
        ''cli_test_ag_http_settings000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1?api-version=2017-10-01
  response:
    body: {string: !!python/unicode "{\r\n  \"name\": \"ag1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1\",\r\n
        \ \"etag\": \"W/\\\"d3f1d1e8-7769-4340-8a88-3e688751be68\\\"\",\r\n  \"type\":
        \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"6db2af95-5ff9-4cdc-b208-e8a8835493ce\",\r\n    \"sku\":
        {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n
        \     \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Stopped\",\r\n
        \   \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"appGatewayFrontendIP\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP\",\r\n
        \       \"etag\": \"W/\\\"d3f1d1e8-7769-4340-8a88-3e688751be68\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/virtualNetworks/ag1Vnet/subnets/default\"\r\n
        \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n
        \     }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"authenticationCertificates\":
        [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\":
        \"appGatewayFrontendIP\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1/frontendIPConfigurations/appGatewayFrontendIP\",\r\n
        \       \"etag\": \"W/\\\"d3f1d1e8-7769-4340-8a88-3e688751be68\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/applicationGateways/frontendI[...]
[...]
- request:
    body: !!python/unicode '{"location": "westus", "etag": "W/\"d3f1d1e8-7769-4340-8a88-3e688751be68\"",
      "properties": {"sku": {"tier": "Standard", "capacity": 2, "name": "Standard_Medium"},
      "frontendPorts": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1/frontendPorts/appGatewayFrontendPort",
      "etag": "W/\"d3f1d1e8-7769-4340-8a88-3e688751be68\"", "type": "Microsoft.Network/applicationGateways/frontendPorts",
      "name": "appGatewayFrontendPort", "properties": {"port": 80, "provisioningState":
      "Updating"}}], "requestRoutingRules": [{"etag": "W/\"d3f1d1e8-7769-4340-8a88-3e688751be68\"",
      "type": "Microsoft.Network/applicationGateways/requestRoutingRules", "properties":
      {"backendAddressPool": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool"},
      "backendHttpSettings": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings"},
      "ruleType": "Basic", "httpListener": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1/httpListeners/appGatewayHttpListener"},
      "provisioningState": "Updating"}, "name": "rule1", "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1/requestRoutingRules/rule1"}],
      "backendHttpSettingsCollection": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1/backendHttpSettingsCollection/appGatewayBackendHttpSettings",
      "etag": "W/\"d3f1d1e8-7769-4340-8a88-3e688751be68\"", "type": "Microsoft.Network/applicationGateways/backendHttpSettingsCollection",
      "properties": {"connectionDraining": {"drainTimeoutInSec": 1, "enabled": false},
      "protocol": "Http", "cookieBasedAffinity": "Disabled", "requestTimeout": 30,
      "port": 80, "pickHostNameFromBackendAddress": false, "provisioningState": "Updating"},
      "name": "appGatewayBackendHttpSettings"}, {"properties": {"connectionDraining":
      {"drainTimeoutInSec": 60, "enabled": true}, "affinityCookieName": "mycookie",
      "authenticationCertificates": [], "protocol": "Https", "cookieBasedAffinity":
      "Enabled", "requestTimeout": 50, "port": 70, "pickHostNameFromBackendAddress":
      true}, "name": "mysettings"}], "probes": [], "provisioningState": "Updating",
      "backendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1/backendAddressPools/appGatewayBackendPool",
      "etag": "W/\"d3f1d1e8-7769-4340-8a88-3e688751be68\"", "type": "Microsoft.Network/applicationGateways/backendAddressPools",
      "properties": {"backendAddresses": [], "provisioningState": "Updating"}, "name":
      "appGatewayBackendPool"}], "gatewayIPConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_ag_http_settings000001/providers/Microsoft.Network/applicationGateways/ag1/gatewayIPConfigurations/appGatewayFrontendIP",
      "etag": "W/\"d3f1d1e8-7769-4340-8a88-3e688751be68\"", "type": "Microsoft.Network/applicationGateways/gatewayIPConfigurations",
      "properties": {"subnet": {"id": "/subscriptions[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_ag_http_settings000001?api-version=2018-02-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTEk6NUZURVNUOjVGQUc6NUZIVFRQOjVGU0VUVElOR1NGNFQ0UjZMWkhON1EzS3xFNjkxMDI3NEM2MDUzOTQ5LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-02-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14998']
    status: {code: 202, message: Accepted}
version: 1
