interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 05:54:03 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8643C12C9CC8F"'
      last-modified:
      - Tue, 29 Sep 2020 05:54:04 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      If-Modified-Since:
      - Fri, 01 Apr 2016 12:00:00 GMT
      x-ms-date:
      - Tue, 29 Sep 2020 05:54:05 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '60'
      x-ms-proposed-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8643C13508D25"'
      last-modified:
      - Tue, 29 Sep 2020 05:54:05 GMT
      x-ms-lease-id:
      - abcdabcd-abcd-abcd-abcd-abcdabcdabcd
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 05:54:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8643C13508D25"'
      last-modified:
      - Tue, 29 Sep 2020 05:54:05 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 29 Sep 2020 05:54:05 GMT
      x-ms-lease-duration:
      - fixed
      x-ms-lease-state:
      - leased
      x-ms-lease-status:
      - locked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 05:54:07 GMT
      x-ms-lease-action:
      - break
      x-ms-lease-break-period:
      - '30'
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8643C13508D25"'
      last-modified:
      - Tue, 29 Sep 2020 05:54:05 GMT
      x-ms-lease-time:
      - '30'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 05:54:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8643C13508D25"'
      last-modified:
      - Tue, 29 Sep 2020 05:54:05 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 29 Sep 2020 05:54:05 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
