interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations?api-version=2017-04-19
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations/658c8950-e79d-4704-a903-1df66ba90258","type":"Microsoft.Advisor/Configurations","name":"658c8950-e79d-4704-a903-1df66ba90258","properties":{"low_cpu_threshold":"5","exclude":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_advisor6w6rbmbtbixa6xl6dnl5g4wggj6wxcvuv2h656wujhxqnhottbgusvinhme/providers/Microsoft.Advisor/configurations/658c8950-e79d-4704-a903-1df66ba90258-cli_test_advisor6w6rbmbtbixa6xl6dnl5g4wggj6wxcvuv2h656wujhxqnhottbgusvinhme","type":"Microsoft.Advisor/Configurations","name":"658c8950-e79d-4704-a903-1df66ba90258-cli_test_advisor6w6rbmbtbixa6xl6dnl5g4wggj6wxcvuv2h656wujhxqnhottbgusvinhme","properties":{"exclude":false}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['599']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations?api-version=2017-04-19
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations/658c8950-e79d-4704-a903-1df66ba90258","type":"Microsoft.Advisor/Configurations","name":"658c8950-e79d-4704-a903-1df66ba90258","properties":{"low_cpu_threshold":"5","exclude":false}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['599']
    status: {code: 200, message: OK}
version: 1
