interactions:
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "brazilsouth"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage1?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/603663e9-700c-46de-9d41-e080ff1d461e/providers/Microsoft.Storage/operations/8c15ac60-0e57-435e-8efe-93c32aa2713e?monitor=true&api-version=2016-12-01']
      Retry-After: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/8c15ac60-0e57-435e-8efe-93c32aa2713e?monitor=true&api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/603663e9-700c-46de-9d41-e080ff1d461e/providers/Microsoft.Storage/operations/8c15ac60-0e57-435e-8efe-93c32aa2713e?monitor=true&api-version=2016-12-01']
      Retry-After: ['17']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/8c15ac60-0e57-435e-8efe-93c32aa2713e?monitor=true&api-version=2016-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage1","kind":"Storage","location":"brazilsouth","name":"clibatchteststorage1","properties":{"creationTime":"2017-03-06T23:23:21.9378249Z","primaryEndpoints":{"blob":"https://clibatchteststorage1.blob.core.windows.net/","file":"https://clibatchteststorage1.file.core.windows.net/","queue":"https://clibatchteststorage1.queue.core.windows.net/","table":"https://clibatchteststorage1.table.core.windows.net/"},"primaryLocation":"brazilsouth","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"27aa7661-2d45-410a-a506-0b75a866acfa","deletionTimestamp":null,"accountEnabled":true,"signInNames":[],"assignedLicenses":[{"disabledPlans":[],"skuId":"0c266dff-15dd-4b49-8397-2bb16070ed52"},{"disabledPlans":["4828c8ec-dc2e-4779-b502-87ac9ce28ab7","3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":[],"skuId":"1f2f344a-700d-42c9-9427-5cea1d5d7ba6"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"},{"disabledPlans":["e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"f82a60b8-1ee3-4cfb-a4fe-1c6a53c2656c"},{"disabledPlans":[],"skuId":"078d2b04-f1bd-4111-bbd4-b4b1b354cef4"},{"disabledPlans":[],"skuId":"c52ea49f-fe5d-4e95-93ba-1de91d380f89"}],"assignedPlans":[{"assignedTimestamp":"2017-02-25T10:06:23Z","capabilityStatus":"Enabled","service":"MicrosoftCommunicationsOnline","servicePlanId":"3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"},{"assignedTimestamp":"2017-02-25T10:06:23Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"5dbe027f-2339-4123-9542-606e4d348a72"},{"assignedTimestamp":"2017-02-25T10:06:23Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"assignedTimestamp":"2017-02-21T23:11:41Z","capabilityStatus":"Enabled","service":"Deskless","servicePlanId":"8c7d2df8-86f0-4902-b2ed-a0458298f3b3"},{"assi[...]
- request:
    body: '{"location": "uksouth", "properties": {"sku": {"name": "standard", "family":
      "A"}, "enabledForDeployment": true, "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true, "accessPolicies":
      [{"objectId": "27aa7661-2d45-410a-a506-0b75a866acfa", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "permissions": {"secrets": ["all"], "keys": ["get", "create", "delete", "list",
      "update", "import", "backup", "restore"], "certificates": ["all"]}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.KeyVault/vaults/clibatchtestkeyvault1?api-version=2015-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.KeyVault/vaults/clibatchtestkeyvault1","name":"clibatchtestkeyvault1","type":"Microsoft.KeyVault/vaults","location":"uksouth","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"27aa7661-2d45-410a-a506-0b75a866acfa","permissions":{"secrets":["all"],"keys":["get","create","delete","list","update","import","backup","restore"],"certificates":["all"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"vaultUri":"https://clibatchtestkeyvault1.vault.azure.net"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "uksouth", "tags": {}, "properties": {"sku": {"name": "standard",
      "family": "A"}, "enabledForDeployment": true, "vaultUri": "https://clibatchtestkeyvault1.vault.azure.net/",
      "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "enabledForDiskEncryption":
      true, "enabledForTemplateDeployment": true, "accessPolicies": [{"objectId":
      "27aa7661-2d45-410a-a506-0b75a866acfa", "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "permissions"[...]
- request:
    body: '{"location": "brazilsouth"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest1?api-version=2017-01-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/603663e9-700c-46de-9d41-e080ff1d461e/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest1/operationResults/82c9f1d4-8dc5-4e7f-92ca-f45ed3c2ed5e?api-version=2017-01-01']
      Retry-After: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest1/operationResults/82c9f1d4-8dc5-4e7f-92ca-f45ed3c2ed5e?api-version=2017-01-01
  response:
    body: {string: '{"name":"clibatchtest1","location":"brazilsouth","properties":{"accountEndpoint":"clibatchtest1.brazilsouth.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"batchservice"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest1","type":"Microsoft.Batch/batchAccounts"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['0x8D464E97CCE5046']
      Last-Modified: ['Mon, 06 Mar 2017 23:35:35 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"keyVaultReference": {"id": "/subscriptions/603663e9-700c-46de-9d41-e080ff1d461e/resourceGroups/vcr_resource_group/providers/Microsoft.KeyVault/vaults/clibatchtestkeyvault1",
      "url": "https://clibatchtestkeyvault1.vault.azure.net/"}, "poolAllocationMode":
      "UserSubscription"}, "location": "uksouth"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtestuser1?api-version=2017-01-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/603663e9-700c-46de-9d41-e080ff1d461e/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtestuser1/operationResults/80ac5910-8725-4e7e-8d68-7ab50a7d6f68?api-version=2017-01-01']
      Retry-After: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtestuser1/operationResults/80ac5910-8725-4e7e-8d68-7ab50a7d6f68?api-version=2017-01-01
  response:
    body: {string: '{"name":"clibatchtestuser1","location":"uksouth","properties":{"accountEndpoint":"clibatchtestuser1.uksouth.batch.azure.com","provisioningState":"Succeeded","coreQuota":2147483647,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"usersubscription","keyVaultReference":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.KeyVault/vaults/clibatchtestkeyvault1","url":"https://clibatchtestkeyvault1.vault.azure.net/"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtestuser1","type":"Microsoft.Batch/batchAccounts"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['0x8D464E98B6F0299']
      Last-Modified: ['Mon, 06 Mar 2017 23:35:59 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"autoStorage": {"storageAccountId": "/subscriptions/603663e9-700c-46de-9d41-e080ff1d461e/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage1"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest1?api-version=2017-01-01
  response:
    body: {string: '{"name":"clibatchtest1","location":"brazilsouth","properties":{"accountEndpoint":"clibatchtest1.brazilsouth.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage1","lastKeySync":"2017-03-06T23:36:04.8758876Z"},"poolAllocationMode":"batchservice"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest1","type":"Microsoft.Batch/batchAccounts"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['0x8D464E98FFF21EC']
      Last-Modified: ['Mon, 06 Mar 2017 23:36:07 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest1/syncAutoStorageKeys?api-version=2017-01-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest1/listKeys?api-version=2017-01-01
  response:
    body: {string: '{"accountName":"clibatchtest1","primary":"WA9nsxFUZd0vNcmwzjYqLPZJq86QqmGmI9z/YGn2+V7UeGTQBNiQHAF9xOuxA+y3nHudPNlZCaG4sXqhtO3d8Q==","secondary":"mETR8a48hJgf0jFnN3o3AQQW9mwNG8+8GVKSCOeHSQ7PIkkDtpt75ye/TojGIbc3eTw58n6jUfD/WMiTLL+zgA=="}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: '{"keyName": "Primary"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest1/regenerateKeys?api-version=2017-01-01
  response:
    body: {string: '{"accountName":"clibatchtest1","primary":"tXYBCJJYPUrwIu9LBAM0RsvMwe7Ht3yjjlRPQXRegJ+lzaLO9aIYV+59jyZL1JNxUSnX94FN1CQzH/BXIUi9iA==","secondary":"mETR8a48hJgf0jFnN3o3AQQW9mwNG8+8GVKSCOeHSQ7PIkkDtpt75ye/TojGIbc3eTw58n6jUfD/WMiTLL+zgA=="}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtestuser1?api-version=2017-01-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/603663e9-700c-46de-9d41-e080ff1d461e/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtestuser1/operationResults/0151fcb5-d166-4294-a938-563cd54a89c8?api-version=2017-01-01']
      Retry-After: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts?api-version=2017-01-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/locations/brazilsouth/quotas?api-version=2017-01-01
  response:
    body: {string: '{"accountQuota":1}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
