interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest7?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"name":"clibatchtest7","location":"brazilsouth","properties":{"accountEndpoint":"clibatchtest7.brazilsouth.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7","lastKeySync":"2017-01-18T04:01:04.5019746Z"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest7","type":"Microsoft.Batch/batchAccounts"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['0x8D43F56AB15B1CB']
      last-modified: ['Wed, 18 Jan 2017 04:01:23 GMT']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"allowUpdates": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"id":"testapp","packages":[],"allowUpdates":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"value":[{"id":"testapp","packages":[],"allowUpdates":true}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"id":"testapp","version":"1.0","storageUrl":"https://clibatchteststorage7.blob.core.windows.net/app-testapp-4a19557dc1b96c20dfa19772af36624f6913ae44/testapp-1.0-d43fb7fb-e43b-4d93-bb5a-30fd283fe94c?sv=2015-04-05&sr=b&sig=R4izt%2B4lbLHqVm4vNUP%2BVyYZG80EMsxA3ojHHF7Do%2BE%3D&st=2017-01-18T03%3A56%3A34Z&se=2017-01-18T08%3A01%3A34Z&sp=rw","storageUrlExpiry":"2017-01-18T08:01:34.9785786Z","state":"pending"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'storage blob test sample file'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 18 Jan 2017 04:01:36 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://clibatchteststorage7.blob.core.windows.net/app-testapp-4a19557dc1b96c20dfa19772af36624f6913ae44/testapp-1.0-d43fb7fb-e43b-4d93-bb5a-30fd283fe94c?sv=2015-04-05&sr=b&sig=R4izt%2B4lbLHqVm4vNUP%2BVyYZG80EMsxA3ojHHF7Do%2BE%3D&st=2017-01-18T03%3A56%3A34Z&se=2017-01-18T08%3A01%3A34Z&sp=rw
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [JeBon6PeparxrbCKMR+6hw==]
      etag: ['"0x8D43F56B3016D75"']
      last-modified: ['Wed, 18 Jan 2017 04:01:36 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"format": "zip"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0/activate?api-version=2015-12-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['0x8D43F56B254A9DB']
      last-modified: ['Wed, 18 Jan 2017 04:01:35 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"id":"testapp","version":"1.0","storageUrl":"https://clibatchteststorage7.blob.core.windows.net/app-testapp-4a19557dc1b96c20dfa19772af36624f6913ae44/testapp-1.0-d43fb7fb-e43b-4d93-bb5a-30fd283fe94c?sv=2015-04-05&sr=b&sig=%2FNh41tLvYKAd4Qzd6%2BBmV%2BuuU%2BpwtnSVRhPiERzeYnU%3D&st=2017-01-18T03%3A56%3A37Z&se=2017-01-18T08%3A01%3A37Z&sp=rw","storageUrlExpiry":"2017-01-18T08:01:37.9896514Z","state":"active","format":"zip","lastActivationTime":"2017-01-18T04:01:38.3945462Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['0x8D43F56B3D97BA5']
      last-modified: ['Wed, 18 Jan 2017 04:01:38 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"defaultVersion": "1.0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp?api-version=2015-12-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['0x8D43F56ACC42971']
      last-modified: ['Wed, 18 Jan 2017 04:01:26 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 204, message: No Content}
[...]
