interactions:
- request:
    body: '{"vmSize": "small", "cloudServiceConfiguration": {"osFamily": "4"}, "id":
      "azure-cli-test-paas"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:11 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-paas']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EADAC12B54']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:13 GMT']
      Location: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-paas']
    status: {code: 201, message: Created}
- request:
    body: '{"vmSize": "Standard_A1", "virtualMachineConfiguration": {"nodeAgentSKUId":
      "batch.node.ubuntu 16.04", "imageReference": {"offer": "UbuntuServer", "publisher":
      "Canonical", "sku": "16.04.0-LTS"}}, "id": "azure-cli-test-iaas"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:14 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EADB55F1D1']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:14 GMT']
      Location: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas']
    status: {code: 201, message: Created}
- request:
    body: '{"cloudServiceConfiguration": {"osFamily": "4", "targetOSVersion": "*"},
      "id": "azure-cli-test-json", "resizeTimeout": "PT15M", "startTask": {"commandLine":
      "cmd /c echo test", "waitForSuccess": true}, "vmSize": "small", "targetDedicated":
      2}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:17 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-json']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EADD4E4364']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:18 GMT']
      Location: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-json']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:20 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas\"\
        ,\"eTag\":\"0x8D443EADB55F1D1\",\"lastModified\":\"2017-01-23T23:52:14.7333585Z\"\
        ,\"creationTime\":\"2017-01-23T23:52:14.7333585Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-01-23T23:52:14.7333585Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-01-23T23:52:15.2893726Z\"\
        ,\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\"\
        :0,\"targetDedicated\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\"\
        :\"Spread\"\r\n      },\"virtualMachineConfiguration\":{\r\n        \"imageReference\"\
        :{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"\
        sku\":\"16.04.0-LTS\",\"version\":\"latest\"\r\n        },\"nodeAgentSKUId\"\
        :\"batch.node.ubuntu 16.04\"\r\n      }\r\n    },{\r\n      \"id\":\"azure-cli-test-json\"\
        ,\"url\":\"https://test1.westus.batch.azure.com/pools/azure-cli-test-json\"\
        ,\"eTag\":\"0x8D443EADD4E4364\",\"lastModified\":\"2017-01-23T23:52:18.0384612Z\"\
        ,\"creationTime\":\"2017-01-23T23:52:18.0384612Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-01-23T23:52:18.0384612Z\",\"allocationState\"\
        :\"resizing\",\"allocationStateTransitionTime\":\"2017-01-23T23:52:18.0384612Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\":0,\"\
        targetDedicated\":2,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"startTask\":{\r\n        \"commandLine\":\"cmd /c echo test\",\"\
        runElevated\":false,\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  \
        \    },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\"\
        :\"Spread\"\r\n      },\"cloudServiceConfiguration\":{\r\n        \"osFamily\"\
        :\"4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n      }\r\n\
        \    },{\r\n      \"id\":\"azure-cli-test-paas\",\"url\":\"https://test1.westus.batch.azure.com/pools/azure-cli-test-paas\"\
        ,\"eTag\":\"0x8D443EADAC12B54\",\"lastModified\":\"2017-01-23T23:52:13.7583444Z\"\
        ,\"creationTime\":\"2017-01-23T23:52:13.7583444Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-01-23T23:52:13.7583444Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-01-23T23:52:13.9853568Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\":0,\"\
        targetDedicated\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\"\
        :\"Spread\"\r\n      },\"cloudServiceConfiguration\":{\r\n        \"osFamily\"\
        :\"4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n      }\r\n\
        \    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:21 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools?timeout=30&$filter=id%20eq%20%27azure-cli-test-paas%27&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"azure-cli-test-paas\[...]
- request:
    body: '{"targetDedicated": 5}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:22 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-paas/resize?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-paas/resize']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EADFDFC929']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:22 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:23 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-paas?timeout=30&$select=allocationState%2C%20targetDedicated&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"allocationState\":\"resizing\",\"targetDedicated\":5\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EADFDFC929']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:22 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:24 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-paas/stopresize?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-paas/stopresize']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EAE0F18A3D']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:24 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: '{"autoScaleFormula": "$TargetDedicated=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:25 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EAE189D3F9']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:25 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:26 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas?timeout=30&$select=enableAutoScale&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"enableAutoScale\":true\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EAE189D3F9']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:25 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleFormula": "$TargetDedicated=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:27 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\"\
        ,\"timestamp\":\"2017-01-23T23:52:27.3571622Z\",\"results\":\"$TargetDedicated=3;$NodeDeallocationOption=requeue\"\
        \r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceId: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale']
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:28 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EAE35EA5D7']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:28 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:30 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/poolusagemetrics?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#poolusagemetrics\"\
        ,\"value\":[\r\n    {\r\n      \"poolId\":\"luxblend_pool_2016-12-11-20-17-19-535237\"\
        ,\"startTime\":\"2017-01-23T17:00:00Z\",\"endTime\":\"2017-01-23T17:30:00Z\"\
        ,\"vmSize\":\"standard_nc24\",\"totalCoreHours\":6.9306946060000012,\"dataIngressGiB\"\
        :0.0,\"dataEgressGiB\":0.0\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:31 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-json?timeout=30&$select=startTask&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"startTask\":{\r\n    \"commandLine\":\"cmd /c echo test\",\"runElevated\"\
        :false,\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EADD4E4364']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:18 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"startTask": {"commandLine": "new_value"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:31 GMT']
    method: PATCH
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-json?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://test1.westus.batch.azure.com/pools/azure-cli-test-json']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EAE56FF009']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:31 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:32 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-json?timeout=30&$select=startTask&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"startTask\":{\r\n    \"commandLine\":\"new_value\",\"runElevated\":false,\"\
        maxTaskRetryCount\":0,\"waitForSuccess\":false\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EAE56FF009']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:31 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:33 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/nodeagentskus?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#nodeagentskus\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch.node.centos 7\",\"verifiedImageReferences\"\
        :[\r\n        {\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\"\
        ,\"sku\":\"7.2\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"OpenLogic\",\"offer\":\"CentOS\",\"sku\":\"7.1\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\"\
        ,\"sku\":\"7.0\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.1\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"Oracle\",\"offer\":\"Oracle-Linux\"\
        ,\"sku\":\"7.2\",\"version\":\"latest\"\r\n        },{\r\n          \"publisher\"\
        :\"Oracle\",\"offer\":\"Oracle-Linux\",\"sku\":\"7.0\",\"version\":\"latest\"\
        \r\n        },{\r\n          \"publisher\":\"microsoft-ads\",\"offer\":\"\
        linux-data-science-vm\",\"sku\":\"linuxdsvm\",\"version\":\"latest\"\r\n \
        \       }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian\
        \ 8\",\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\"\
        :\"Credativ\",\"offer\":\"Debian\",\"sku\":\"8\",\"version\":\"latest\"\r\n\
        \        }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.opensuse\
        \ 13.2\",\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\"\
        :\"SUSE\",\"offer\":\"openSUSE\",\"sku\":\"13.2\",\"version\":\"latest\"\r\
        \n        }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"\
        batch.no[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:34 GMT']
    method: DELETE
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:35 GMT']
    method: GET
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-iaas?timeout=30&$select=state&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"state\":\"deleting\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D443EAE70326F6']
      Last-Modified: ['Mon, 23 Jan 2017 23:52:34 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"vmSize": "small", "applicationPackageReferences": [{"applicationId":
      "does-not-exist"}], "cloudServiceConfiguration": {"osFamily": "4"}, "id": "app_package_test"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:36 GMT']
    method: POST
    uri: https://test1.westus.batch.azure.com/pools?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n    \"\
        lang\":\"en-US\",\"value\":\"One or more of the specified application package\
        \ references are invalid.\\nRequestId:9232316a-a0cf-4f04-b30a-3acf5789b2f1\\\
        nTime:2017-01-23T23:52:36.1309218Z\"\r\n  },\"values\":[\r\n    {\r\n    \
        \  \"key\":\"does-not-exist\",\"value\":\"The specified application package\
        \ does not exist.\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 409, message: One or more of the specified application package
        references are invalid.}
- request:
    body: '{"applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 23 Jan 2017 23:52:37 GMT']
    method: PATCH
    uri: https://test1.westus.batch.azure.com/pools/azure-cli-test-paas?timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://test1.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n    \"\
        lang\":\"en-US\",\"value\":\"One or more of the specified application package\
        \ references are invalid.\\nRequestId:e3baa04b-f7f7-453b-9439-8002316f39f0\\\
        nTime:2017-01-23T23:52:37.0798071Z\"\r\n  },\"values\":[\r\n    {\r\n    \
        \  \"key\":\"does-not-exist\",\"value\":\"The specified application package\
        \ does not exist.\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 409, message: One or more of the specified application package
        references are invalid.}
version: 1
