interactions:
- request:
    body: !!python/unicode '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location":
      "brazilsouth"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage2?api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"error":{"code":"InternalServerError","message":"Encountered
        internal server error. Diagnostic information: timestamp ''20170117T235633Z'',
        subscription id ''f30ef677-64a9-4768-934f-5fbbc0e1ad27'', tracking id ''b186f21f-95f3-4c88-9501-d88a1bc44aec'',
        request correlation id ''b186f21f-95f3-4c88-9501-d88a1bc44aec''."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 500, message: Internal Server Error}
- request:
    body: !!python/unicode '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location":
      "brazilsouth"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage2?api-version=2016-01-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/f30ef677-64a9-4768-934f-5fbbc0e1ad27/providers/Microsoft.Storage/operations/e4c5a654-d972-407f-881f-9281923d23e1?monitor=true&api-version=2016-01-01']
      retry-after: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/e4c5a654-d972-407f-881f-9281923d23e1?monitor=true&api-version=2016-01-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/f30ef677-64a9-4768-934f-5fbbc0e1ad27/providers/Microsoft.Storage/operations/e4c5a654-d972-407f-881f-9281923d23e1?monitor=true&api-version=2016-01-01']
      retry-after: ['17']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/e4c5a654-d972-407f-881f-9281923d23e1?monitor=true&api-version=2016-01-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage2","kind":"Storage","location":"brazilsouth","name":"clibatchteststorage2","properties":{"creationTime":"2017-01-17T23:56:35.7209272Z","primaryEndpoints":{"blob":"https://clibatchteststorage2.blob.core.windows.net/","file":"https://clibatchteststorage2.file.core.windows.net/","queue":"https://clibatchteststorage2.queue.core.windows.net/","table":"https://clibatchteststorage2.table.core.windows.net/"},"primaryLocation":"brazilsouth","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"location": "brazilsouth"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4?api-version=2015-12-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/f30ef677-64a9-4768-934f-5fbbc0e1ad27/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4/operationResults/3d5c66d8-d88f-4069-b47e-11120294b939?api-version=2015-12-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4/operationResults/3d5c66d8-d88f-4069-b47e-11120294b939?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"name":"clibatchtest4","location":"brazilsouth","properties":{"accountEndpoint":"clibatchtest4.brazilsouth.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4","type":"Microsoft.Batch/batchAccounts"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['0x8D43F36644D9E12']
      last-modified: ['Wed, 18 Jan 2017 00:10:20 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"properties": {"autoStorage": {"storageAccountId": "/subscriptions/f30ef677-64a9-4768-934f-5fbbc0e1ad27/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage2"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"name":"clibatchtest4","location":"brazilsouth","properties":{"accountEndpoint":"clibatchtest4.brazilsouth.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage2","lastKeySync":"2017-01-18T00:10:26.2260931Z"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4","type":"Microsoft.Batch/batchAccounts"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['0x8D43F3667534FDC']
      last-modified: ['Wed, 18 Jan 2017 00:10:26 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4/syncAutoStorageKeys?api-version=2015-12-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4/listKeys?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"accountName":"clibatchtest4","primary":"BN2kV2jCU/jZIr+oEtJ8/M4vgklZJ9JlUBePHKkP66w6KTxEuGudHkLIOsNZvYhgykHYqZB651s/ZoFmaebEaA==","secondary":"rvArmEPN4F/KdNf54486G9AlxdrzxCMyd1VoL6HFT+M4I/piaWROckV60kHv1gzBQfshJU0BKv3euiHybMs+Dg=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"keyName": "Primary"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4/regenerateKeys?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"accountName":"clibatchtest4","primary":"lMzNYS0yZaJLcd8NpgOW3qMKxjZKUKXB4Dzn6KB6ugRVPBLuGOmQQDjgVK8utSlq4sDcTiQhZV4DsD9KkyTJwA==","secondary":"rvArmEPN4F/KdNf54486G9AlxdrzxCMyd1VoL6HFT+M4I/piaWROckV60kHv1gzBQfshJU0BKv3euiHybMs+Dg=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/locations/brazilsouth/quotas?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"accountQuota":1}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
