interactions:
- request:
    body: !!python/unicode '{"location": "brazilsouth"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4?api-version=2015-12-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/f30ef677-64a9-4768-934f-5fbbc0e1ad27/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4/operationResults/60d9a98d-5298-417b-8473-4fd3036bb03a?api-version=2015-12-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4/operationResults/60d9a98d-5298-417b-8473-4fd3036bb03a?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"name":"clibatchtest4","location":"brazilsouth","properties":{"accountEndpoint":"clibatchtest4.brazilsouth.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4","type":"Microsoft.Batch/batchAccounts"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['0x8D436686D7B76F4']
      last-modified: ['Fri, 06 Jan 2017 19:15:50 GMT']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"autoStorage": {"storageAccountId": "/subscriptions/f30ef677-64a9-4768-934f-5fbbc0e1ad27/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage4"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"name":"clibatchtest4","location":"brazilsouth","properties":{"accountEndpoint":"clibatchtest4.brazilsouth.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Storage/storageAccounts/clibatchteststorage4","lastKeySync":"2017-01-06T19:15:57.6599513Z"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4","type":"Microsoft.Batch/batchAccounts"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['0x8D4366871AF12B7']
      last-modified: ['Fri, 06 Jan 2017 19:15:57 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4/syncAutoStorageKeys?api-version=2015-12-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4/listKeys?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"accountName":"clibatchtest4","primary":"Ipy5rMxDhslctqnPgoD4hlM85aGK8nBE/8vT5RIp+fBYBuf8+U5nCHeO7+63Zo3kAM7a/I33pLa8Ekef4AQUqg==","secondary":"Crdd6/N9TR6kWwjAx26n4aFfZCkDEbhR6JvUmQmGOzA388sZt+UZbbiYPjyL+AWaGkn8mudXCw4UB4PDuoqdgQ=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"keyName": "Primary"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts/clibatchtest4/regenerateKeys?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"accountName":"clibatchtest4","primary":"O4Qor4v857gD3I1DPc+sfJ6DuT1stgfXmFkk66dd+RbGb3lAS2tsvQLQtR7jNF5txH8CwBcxn0cgztSmM/bqFA==","secondary":"Crdd6/N9TR6kWwjAx26n4aFfZCkDEbhR6JvUmQmGOzA388sZt+UZbbiYPjyL+AWaGkn8mudXCw4UB4PDuoqdgQ=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vcr_resource_group/providers/Microsoft.Batch/batchAccounts?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/locations/brazilsouth/quotas?api-version=2015-12-01
  response:
    body: {string: !!python/unicode '{"accountQuota":1}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
