interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationorders/ca69259e-bd4f-45c3-bf28-3f353f9cce9b/providers/Microsoft.Consumption/reservationSummaries?grain=monthly&api-version=2018-01-31
  response:
    body: {string: '{"value":[{"id":"providers/Microsoft.Capacity/reservationOrders/ca69259e-bd4f-45c3-bf28-3f353f9cce9b/reservations/f37f4b70-52ba-4344-a8bd-28abfd21d640/providers/Microsoft.Consumption/reservationSummaries/20170901","name":"ca69259e-bd4f-45c3-bf28-3f353f9cce9b_f37f4b70-52ba-4344-a8bd-28abfd21d640_20170901","type":"Microsoft.Consumption/reservationSummaries","tags":null,"properties":{"reservationOrderId":"ca69259e-bd4f-45c3-bf28-3f353f9cce9b","reservationId":"f37f4b70-52ba-4344-a8bd-28abfd21d640","skuName":"Standard_DS2_v2","reservedHours":288.000000000000000,"usageDate":"2017-09-01T00:00:00Z","usedHours":288.000000000000000,"minUtilizationPercentage":100.000000000000000,"avgUtilizationPercentage":100.000000000000000,"maxUtilizationPercentage":100.000000000000000}},{"id":"providers/Microsoft.Capacity/reservationOrders/ca69259e-bd4f-45c3-bf28-3f353f9cce9b/reservations/f37f4b70-52ba-4344-a8bd-28abfd21d640/providers/Microsoft.Consumption/reservationSummaries/20171001","name":"ca69259e-bd4f-45c3-bf28-3f353f9cce9b_f37f4b70-52ba-4344-a8bd-28abfd21d640_20171001","type":"Microsoft.Consumption/reservationSummaries","tags":null,"properties":{"reservationOrderId":"ca69259e-bd4f-45c3-bf28-3f353f9cce9b","reservationId":"f37f4b70-52ba-4344-a8bd-28a[...]
