interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hilocli-test/providers/Microsoft.HDInsight/clusterpools/hilopoolwus3/clusters/cli-spark12/libraries?$category=predefined&api-version=2024-05-01
  response:
    body:
      string: '{"value":[{"properties":{"name":"ads-notebook-cell-status","version":"0.0.2","type":"pypi"}},{"properties":{"name":"anyio","version":"4.3.0","type":"pypi"}},{"properties":{"name":"argon2-cffi
        ","version":"23.1.0","type":"pypi"}},{"properties":{"name":"argon2-cffi-bindings","version":"21.2.0","type":"pypi"}},{"properties":{"name":"arrow","version":"1.3.0","type":"pypi"}},{"properties":{"name":"asttokens","version":"2.4.1","type":"pypi"}},{"properties":{"name":"attrs","version":"23.2.0","type":"pypi"}},{"properties":{"name":"autovizwidget","version":"0.21.0","type":"pypi"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hilocli-test/providers/Microsoft.HDInsight/clusterpools/hilopoolwus3/clusters/cli-spark12/libraries?$category=custom&api-version=2024-05-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 0ef2c589-34dd-424d-a63d-8b2848427c72
      x-ms-providerhub-traffic:
      - 'True'
    status:
      code: 200
      message: OK
version: 1
