interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/eastus2/availableClusterVersions?api-version=2024-05-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/eastus2/availableclusterversions/flink_1.13.1-0.12.2","name":"flink_1.13.1-0.12.2","properties":{"clusterVersion":"0.12.2","ossVersion":"1.13.1","clusterType":"Flink","clusterPoolVersion":"","isPreview":false,"components":[]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/eastus2/availableclusterversions/flink_1.16.0-1.0.6","name":"flink_1.16.0-1.0.6","properties":{"clusterVersion":"1.0.6","ossVersion":"1.16.0","clusterType":"Flink","clusterPoolVersion":"1.0","isPreview":false,"components":[{"name":"Flink","version":"1.16.0"},{"name":"Hive
        Metastore","version":"3.1.2"}]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/eastus2/availableclusterversions/flink_1.17.0-1.1.0","name":"flink_1.17.0-1.1.0","properties":{"clusterVersion":"1.1.0","ossVersion":"1.17.0","clusterType":"Flink","clusterPoolVersion":"1.1","isPreview":false,"components":[{"name":"Flink","version":"1.17.0"},{"name":"Hive
        Metastore","version":"3.1.2"}]}},{"id":"/subscriptions/[...]
