interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['1635978']
      ocp-aad-diagnostics-server-name: [kizqbWR/KeylpM8cFecPprS5E/uaQ4yALSy/Hz4fcwc=]
      ocp-aad-session-key: [AldQApAK4gbGGtuwpuXP3fAVfuKLQCRaGuuU73Ofzg4Y4Nta06vi2tyjXyJwLBEX3ux9pzPAQohkZZq1OA7UY1-rBOZbW9iFzRJ8-QAvv7fRx_vRfZYuhdRMmB5hBIOFwo3--TfSwgFzpvrrjqHkFQ.iQ6Y833I-iW9ebkeY156WK0s0HrzQHKuBC6aE_gzH5s]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"displayName": "azure-cli-2016-12-07-20-41-30", "passwordCredentials":
      [{"value": "verySecret", "endDate": "2017-12-07T20:41:30.878446Z", "keyId":
      "e93f88d3-2e68-442e-89c0-59a958c6cd0b", "startDate": "2016-12-07T20:41:30.878446Z"}],
      "availableToOtherTenants": false, "homepage": "http://azure-cli-2016-12-07-20-41-30",
      "identifierUris": ["http://cli_create_rbac_sp"]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"ff046f95-c341-4ec2-bf18-82cc9d26e493","deletionTimestamp":null,"addIns":[],"appId":"e7596e42-db1b-4a4e-8ab5-ad6fac2c1bcb","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2016-12-07-20-41-30","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2016-12-07-20-41-30","identifierUris":["http://cli_create_rbac_sp"],"keyCredentials":[],"knownClientApplications":[],"mainLogo@odata.mediaEditLink":"directoryObjects/ff046f95-c341-4ec2-bf18-82cc9d26e493/Microsoft.DirectoryServices.Application/mainLogo","logoutUrl":null,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-20-41-30 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2016-12-07-20-41-30","id":"002d03af-854f-4b81-9072-d72a40d5d447","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-20-41-30 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2016-12-07-20-41-30","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2017-12-07T20:41:30.878446Z","keyId":"e93f88d3-2e68-442e-89c0-59a958c6cd0b","startDate":"2016-12-07T20:41:30.878446Z","value":null}],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['5217004']
      Location: ['https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/ff046f95-c341-4ec2-bf18-82cc9d26e493/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [1yeML/CM88dmV36mTVrMp283LPSjy0w/x0TG1KteKio=]
      ocp-aad-session-key: [fJ7FMf7I6dD7U-ee27EE3va4ZjtqMERAVG1NQsAiJGZVRRoVdK5JUjA7ccAIwWxRaPklXLrE3wMvD1ksAuGhHQbDIpuaQD6KDElWFQq6MKRrSie_F57u5fTMpsK1JKXMGXils3mwvL_6V1zNoDgq6g.X79pNiLRT-0lJKL1n_hA2wGYu3SWHuVvOreyYdZJxEM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"appId": "e7596e42-db1b-4a4e-8ab5-ad6fac2c1bcb", "accountEnabled": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"5440acd7-e9c6-4119-a4b8-e3f957adcf2e","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2016-12-07-20-41-30","appId":"e7596e42-db1b-4a4e-8ab5-ad6fac2c1bcb","appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2016-12-07-20-41-30","errorUrl":null,"homepage":"http://azure-cli-2016-12-07-20-41-30","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-20-41-30 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2016-12-07-20-41-30","id":"002d03af-854f-4b81-9072-d72a40d5d447","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-20-41-30 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2016-12-07-20-41-30","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["e7596e42-db1b-4a4e-8ab5-ad6fac2c1bcb","http://cli_create_rbac_sp"],"servicePrincipalType":"Application","tags":[]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['3884463']
      Location: ['https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/5440acd7-e9c6-4119-a4b8-e3f957adcf2e/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [lyW4+NGrYGveYCvHoTqqxn2sbznKoxnTkModdhBact8=]
      ocp-aad-session-key: [pXIy4LxhDVJKdKUzzZNx1J7Wm1WLwJTIGphvPLfSKoQLn7G5JC9cbugJpJdXJtlXR6Uf0HxJ7loULsTojut44nbC5GnLduMeSU1auvxr6L279MJpcRk6DW7OIh3w_fWX6peYP5lLOnrtvYioUmCWNw.0o8wkd451halojl9EU2cBGe04UJ4jjk8f-Xajq8iykg]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write"]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-05-31T23:13:58.6741320Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "5440acd7-e9c6-4119-a4b8-e3f957adcf2e"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/57377ec4-db54-416c-9693-c88ae0f13e20?api-version=2015-07-01
  response:
    body: {string: '{"error":{"code":"PrincipalNotFound","message":"Principal 5440acd7e9c64119a4b8e3f957adcf2e
        does not exist in the directory 54826b22-38d6-4fb2-bad9-b7b93a3e9c5a."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 400, message: Bad Request}
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "5440acd7-e9c6-4119-a4b8-e3f957adcf2e"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/21f65a86-d2a0-4336-89ed-48066abfde39?api-version=2015-07-01
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"5440acd7-e9c6-4119-a4b8-e3f957adcf2e","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments/21f65a86-d2a0-4336-89ed-48066abfde39","type":"Microsoft.Authorization/roleAssignments","name":"21f65a86-d2a0-4336-89ed-48066abfde39"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write"]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-05-31T23:13:58.6741320Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "5440acd7-e9c6-4119-a4b8-e3f957adcf2e"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp/providers/Microsoft.Authorizati[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20%275440acd7-e9c6-4119-a4b8-e3f957adcf2e%27&api-version=2015-07-01
  response:
    body: {string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorizat[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?api-version=2015-07-01
  response:
    body: {string: "{\"value\":[{\"properties\":{\"roleName\":\"CluRoleDefinition\"\
        ,\"type\":\"CustomRole\",\"description\":\"Super awesome Clu Role Definition\"\
        ,\"assignableScopes\":[\"/subscripti[...]
- request:
    body: '{"objectIds": ["5440acd7-e9c6-4119-a4b8-e3f957adcf2e"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6-internal
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"5440acd7-e9c6-4119-a4b8-e3f957adcf2e","deletionTimestamp":null,"accountEnabled":true,"appBranding":null,"appCategory":null,"appData":null,"appDisplayName":"azure-cli-2016-12-07-20-41-30","appId":"e7596e42-db1b-4a4e-8ab5-ad6fac2c1bcb","appMetadata":null,"appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"authenticationPolicy":null,"displayName":"azure-cli-2016-12-07-20-41-30","errorUrl":null,"homepage":"http://azure-cli-2016-12-07-20-41-30","keyCredentials":[],"logoutUrl":null,"microsoftFirstParty":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-20-41-30 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2016-12-07-20-41-30","id":"002d03af-854f-4b81-9072-d72a40d5d447","isEnabled":true,"lang":null,"origin":"Application","type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-20-41-30 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2016-12-07-20-41-30","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["http://cli_create_rbac_sp","e7596e42-db1b-4a4e-8ab5-ad6fac2c1bcb"],"tags":[],"useCustomTokenSigningKey":null}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['2313441']
      ocp-aad-diagnostics-server-name: [vQw7cHgPiB6jev2emnFqImQSObLZzk9AXRvfXyidT18=]
      ocp-aad-session-key: [nKGFXglPIds4ttULRPZ7Uvq7UH5BfCU9lccJg6z_huVkEz4DCa-7vFVYb3sGJ1denY8aTrkCqqb0vnylcZzYCR4bbpuH3EY4LqAc7i2y69Ty4ee_Pngsp7rJ3VhvZcQubbIQFoooVQdfCsXSmXfPFw.BK8K5L_8FhotLl6tmvb8kM_VQxYoUHH_Z5TlcpkyEC8]
      x-ms-dirapi-data-contract-version: [1.6-internal]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_create_rbac_sp/providers/Microsoft.Authorization/roleDefinitions?api-version=2015-07-01
  response:
    body: {string: "{\"value\":[{\"properties\":{\"roleName\":\"CluRoleDefinition\"\
        ,\"type\":\"CustomRole\",\"description\":\"Super awesome Clu Role Definition\"\
        ,\[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fcli_create_rbac_sp%27%29&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[{"odata.type":[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/ff046f95-c341-4ec2-bf18-82cc9d26e493?api-version=1.6
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: [1.0;]
      Duration: ['3971354']
      ocp-aad-diagnostics-server-name: [2+eIYSD8Z5neC7dxwfkKHHZxTQx6o1ZQq4AE0IT92X8=]
      ocp-aad-session-key: [WmpWq_NsZJCP1sNwzoG8V91SxmZ3UWzk5zw6t_6Iu7P3VAC6v6axDg1TLBs0GqFeIiZXkxMUdLy1mCAQPukA2HknQoG5t1AOc0GLMtVTLWkwQRNX24H1LHlddZAN2fY7N45el6B-vpvv-_fefew5Tw.kDFYVxNhWkgj5d3NfPAjWWE0cFH0QQY0AZhUd5aDm7Y]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 204, message: No Content}
version: 1
