interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fazureclitest-graph%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal","value":[]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['2094252']
      ocp-aad-diagnostics-server-name: [Vysq2vNZzcPtnjT1P5DAD3ODEK1mXogz2xu8HZBYqqY=]
      ocp-aad-session-key: [DAXb1BxsZs6dmcinoELMX3Is_8CYkRMjIjP78wYY-pMqiNvs33cOwbkCdbpT1P_YLBjlsh4BIKQTnrdHjU7q3uoWXAqBy0NlFkAXA-k9zQMbwY7YwGGjKOaj7Na4XiHmN1vflGc3-DOn2vqovKebLw.26rdZbM0qJ9B9Fbc6JhUA91eHjUdRbkM2rOJVxwtgzA]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
- request:
    body: '{"availableToOtherTenants": false, "homepage": "http://azure-cli-2016-12-07-18-53-34",
      "identifierUris": ["http://azureclitest-graph"], "displayName": "azure-cli-2016-12-07-18-53-34",
      "passwordCredentials": [{"endDate": "2017-12-07T18:53:34.388688Z", "keyId":
      "a25b4892-bfc8-4fb5-9b8c-07dff74f2325", "value": "1df1eae0-08aa-40a2-a4bb-5c1e9f9077ae",
      "startDate": "2016-12-07T18:53:34.388688Z"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"46064ba4-0e4a-4f48-b26c-4fa4a92bb160","deletionTimestamp":null,"addIns":[],"appId":"94db9626-d63a-49f5-8f94-551f9bf93b45","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2016-12-07-18-53-34","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2016-12-07-18-53-34","identifierUris":["http://azureclitest-graph"],"keyCredentials":[],"knownClientApplications":[],"logoutUrl":null,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-18-53-34 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2016-12-07-18-53-34","id":"ada4e858-379d-46e7-be16-1dc34ed35388","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-18-53-34 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2016-12-07-18-53-34","value":"user_impersonation"}],"oauth2RequirePostResponse":false,"passwordCredentials":[{"customKeyIdentifier":null,"endDate":"2017-12-07T18:53:34.388688Z","keyId":"a25b4892-bfc8-4fb5-9b8c-07dff74f2325","startDate":"2016-12-07T18:53:34.388688Z","value":null}],"publicClient":null,"recordConsentConditions":null,"replyUrls":[],"requiredResourceAccess":[],"samlMetadataUrl":null}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['5131590']
      Location: ['https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/46064ba4-0e4a-4f48-b26c-4fa4a92bb160/Microsoft.DirectoryServices.Application']
      ocp-aad-diagnostics-server-name: [eQkPXc2omudbaKLMjuIJlZG5SGThJICckVAMWEnn3T4=]
      ocp-aad-session-key: [UQNce2mUM2MGyYhiYyYivkiXFEn9wupQkuMJB9romZa__sqvb5OEADpFY_h4egBewcZpg5e1uEqXAX4l74u06DVfQcbC_w-0gN8MOEgrDpL2fCINbGiODm2jALBhr8N_RpcmhiykSUAF1R6LiJKQaQ.0vnMdOPhgHSD7wvIgdXvoWLyhdMeuYE2nhp5p_wxVdM]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: '{"accountEnabled": true, "appId": "94db9626-d63a-49f5-8f94-551f9bf93b45"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"b601f613-0cdc-4b38-b062-6c915cec0665","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"azure-cli-2016-12-07-18-53-34","appId":"94db9626-d63a-49f5-8f94-551f9bf93b45","appOwnerTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"azure-cli-2016-12-07-18-53-34","errorUrl":null,"homepage":"http://azure-cli-2016-12-07-18-53-34","keyCredentials":[],"logoutUrl":null,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-18-53-34 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2016-12-07-18-53-34","id":"ada4e858-379d-46e7-be16-1dc34ed35388","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-18-53-34 on your behalf.","userConsentDisplayName":"Access
        azure-cli-2016-12-07-18-53-34","value":"user_impersonation"}],"passwordCredentials":[],"preferredTokenSigningKeyThumbprint":null,"publisherName":"AzureSDKTeam","replyUrls":[],"samlMetadataUrl":null,"servicePrincipalNames":["94db9626-d63a-49f5-8f94-551f9bf93b45","http://azureclitest-graph"],"servicePrincipalType":"Application","tags":[]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['3871933']
      Location: ['https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/b601f613-0cdc-4b38-b062-6c915cec0665/Microsoft.DirectoryServices.ServicePrincipal']
      ocp-aad-diagnostics-server-name: [oJo5txNO/YynaoRZUN9QWRklOmm0MFv1/wam4QkG6a0=]
      ocp-aad-session-key: [c7lclVT-6RGUUv26ndxp_1XWni8zy1s_Zvin0HSuKZGDg0EG4DxZKzUkqLgc0t9Y0XQ0tychO2UKPW1_yNHPioSKKpakcjJq4uW_woneGlRmyLp3Bl6p8oKWLqfH95a_75tBUwXfskOEmrT_gJu9pA.8povM5Q73P0P1AcYBx06zSYNohJvHeHcsA9NT-E2fbc]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?api-version=2015-07-01&$filter=roleName%20eq%20%27Contributor%27
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write"]}],"createdOn":"0001-01-01T08:00:00.0000000Z","updatedOn":"2016-05-31T23:13:58.6741320Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"principalId": "b601f613-0cdc-4b38-b062-6c915cec0665",
      "roleDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-aad-session-key: [c7lclVT-6RGUUv26ndxp_1XWni8zy1s_Zvin0HSuKZGDg0EG4DxZKzUkqLgc0t9Y0XQ0tychO2UKPW1_yNHPioSKKpakcjJq4uW_woneGlRmyLp3Bl6p8oKWLqfH95a_75tBUwXfskOEmrT_gJu9pA.8povM5Q73P0P1AcYBx06zSYNohJvHeHcsA9NT-E2fbc]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/259d72ad-cccf-40ef-a6e3-ef80214431d1?api-version=2015-07-01
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"b601f613-0cdc-4b38-b062-6c915cec0665","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments/259d72ad-cccf-40ef-a6e3-ef80214431d1","type":"Microsoft.Authorization/roleAssignments","name":"259d72ad-cccf-40ef-a6e3-ef80214431d1"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fazureclitest-graph%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application","value":[{"odata.type":[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/46064ba4-0e4a-4f48-b26c-4fa4a92bb160?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element","odata.type":"Microsoft.DirectoryServices.Application","object[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fazureclitest-graph%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"46064ba4-0e4a-4f48-b26c-4fa4a92bb160","deletionTimestamp":null,"addIns":[],"appId":"94db9626-d63a-49f5-8f94-551f9bf93b45","appRoles":[],"availableToOtherTenants":false,"displayName":"azure-cli-2016-12-07-18-53-34","errorUrl":null,"groupMembershipClaims":null,"homepage":"http://azure-cli-2016-12-07-18-53-34","identifierUris":["http://azureclitest-graph"],"keyCredentials":[],"knownClientApplications":[],"mainLogo@odata.mediaEditLink":"directoryObjects/46064ba4-0e4a-4f48-b26c-4fa4a92bb160/Microsoft.DirectoryServices.Application/mainLogo","logoutUrl":null,"oauth2AllowImplicitFlow":false,"oauth2AllowUrlPathMatching":false,"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access azure-cli-2016-12-07-18-53-34 on behalf of the signed-in
        user.","adminConsentDisplayName":"Access azure-cli-2016-12-07-18-53-34","id":"ada4e858-379d-46e7-be16-1dc34ed35388","isEnabled":true,"type":"User","userConse[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6&$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27http%3A%2F%2Fazureclitest-graph%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/b601f613-0cdc-4b38-b062-6c915cec0665?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element","odata.type":"Microsoft.DirectoryServices.ServicePri[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6&$filter=identifierUris%2Fany%28s%3As%20eq%20%27http%3A%2F%2Fazureclitest-graph%27%29
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects","value":[]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['2067023']
      ocp-aad-diagnostics-server-name: [HBEULXTW3hsfPEifupC+XobisyC73kkwRF+sJsfC5r8=]
      ocp-aad-session-key: [39i_fBVssqzuFxjGo3441SOgPXcbBLn6oSZMUITRtzrptbtpmPeVfu-25J_B7VamsdjUXZPzxWEg7R5mNfPITlPVRFa7I8c17ZowH4TWaXpG3mQV6vWAqEW54D2XoP12rtq4cirHE2NwFcUzuydt7A.PEpgMZCqaNMqr4qu6GV8VtYlnpW_8a4Mr4WG0sBRdJo]
      x-ms-dirapi-data-contract-version: ['1.6']
    status: {code: 200, message: OK}
version: 1
