interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/refreshContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureStorage%27
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/operationsStatus/dfc94dbb-a797-464a-b41f-d8a4fe825382?api-version=2019-05-13-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/operationResults/dfc94dbb-a797-464a-b41f-d8a4fe825382?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/operationResults/dfc94dbb-a797-464a-b41f-d8a4fe825382?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/operationResults/dfc94dbb-a797-464a-b41f-d8a4fe825382?api-version=2016-12-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectionContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;chandrikarg;chandrikargdiag","name":"StorageContainer;Storage;chandrikarg;chandrikargdiag","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/chandrikarg/providers/Microsoft.Storage/storageAccounts/chandrikargdiag","protectedItemCount":0,"friendlyName":"chandrikargdiag","backupManagementType":"AzureStorage","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"StorageContainer","protectableObjectType":"StorageContainer"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;sarath-rg;sarathafssa1","name":"StorageContainer;Storage;sarath-rg;sarathafssa1","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/afspolicy1?api-version=2016-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupPolicies/afspolicy1","name":"afspolicy1","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureStorage","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2019-09-19T15:30:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2019-09-19T15:30:00Z"],"retentionDuration":{"count":60,"durationType":"Days"}}},"timeZone":"UTC","protectedItemsCount":4}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectableItems?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20workloadType%20eq%20%27AzureFileShare%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/storagecontainer;storage;sarath-rg;sarathafssa1/protectableItems/azurefileshare;myafs1","name":"azurefileshare;myafs1","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentContainerFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Storage/storageAccounts/sarathafssa1","parentContainerFriendlyName":"sarathafssa1","azureFileShareType":"XSMB","backupManagementType":"AzureStorage","workloadType":"AzureFileShare","protectableItemType":"AzureFileShare","friendlyName":"myafs1","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/storagecontainer;storage;sarath-rg;sarathafssa2/protectableItems/azurefileshare;afs1","name":"azurefileshare;afs1","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentContainerFabricId":"/subscriptions/00000000-0000-0000-0000-00000000000[...]
[...]
- request:
    body: '{"properties": {"sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Storage/storageAccounts/sarathsa",
      "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupPolicies/afspolicy1",
      "protectedItemType": "AzureFileShareProtectedItem"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/storagecontainer%3Bstorage%3Bsarath-rg%3Bsarathsa/protectedItems/azurefileshare%3Bclitestafs?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/storagecontainer;storage;sarath-rg;sarathsa/protectedItems/azurefileshare;clitestafs/operationsStatus/566647fe-16e5-4c02-87c8-a32cdcc2d005?api-version=2016-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/storagecontainer;storage;sarath-rg;sarathsa/protectedItems/azurefileshare;clitestafs/operationResults/566647fe-16e5-4c02-87c8-a32cdcc2d005?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupOperations/566647fe-16e5-4c02-87c8-a32cdcc2d005?api-version=2016-12-01
  response:
    body:
      string: '{"id":"566647fe-16e5-4c02-87c8-a32cdcc2d005","name":"566647fe-16e5-4c02-87c8-a32cdcc2d005","status":"InProgress","startTime":"2019-10-04T05:37:45.4207465Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupOperations/566647fe-16e5-4c02-87c8-a32cdcc2d005?api-version=2016-12-01
  response:
    body:
      string: '{"id":"566647fe-16e5-4c02-87c8-a32cdcc2d005","name":"566647fe-16e5-4c02-87c8-a32cdcc2d005","status":"Succeeded","startTime":"2019-10-04T05:37:45.4207465Z","endTime":"2019-10-04T05:37:45.4207465Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"a42c1885-ca4b-4184-aae0-702195c2b417"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/a42c1885-ca4b-4184-aae0-702195c2b417?api-version=2017-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupJobs/a42c1885-ca4b-4184-aae0-702195c2b417","name":"a42c1885-ca4b-4184-aae0-702195c2b417","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureStorageJob","duration":"PT42.9639704S","storageAccountName":"sarathsa","storageAccountVersion":"Storage","extendedInfo":{"tasksList":[],"propertyBag":{"File
        Share Name":"clitestafs","Storage Account Name":"sarathsa","Policy Name":"afspolicy1"}},"entityFriendlyName":"clitestafs","backupManagementType":"AzureStorage","operation":"ConfigureBackup","status":"Completed","startTime":"2019-10-04T05:37:45.4207465Z","endTime":"2019-10-04T05:38:28.3847169Z","activityId":"0cf780fe-e669-11e9-9263-186024943d4f"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectedItems?api-version=2017-07-01&$filter=backupManagementType%20eq%20%27AzureStorage%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer;storage;sarath-rg;sarathsa/protectedItems/AzureFileShare;sarathtestafs","name":"AzureFileShare;sarathtestafs","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"sarathtestafs","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Completed","lastBackupTime":"2019-10-03T18:00:22.2110124Z","protectedItemType":"AzureFileShareProtectedItem","backupManagementType":"AzureStorage","workloadType":"AzureFileShare","containerName":"StorageContainer;storage;sarath-rg;sarathsa","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.storage/storageAccounts/sarathsa","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupPolicies/afsdailypolicy"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vau[...]
- request:
    body: '{"properties": {"objectType": "AzureFileShareBackupRequest", "recoveryPointExpiryTimeInUTC":
      "2019-11-03T00:00:00.000Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bsarath-rg%3Bsarathsa/protectedItems/AzureFileShare%3Bclitestafs/backup?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer;storage;sarath-rg;sarathsa/protectedItems/AzureFileShare;clitestafs/operationsStatus/91cbcf3d-2f11-4969-8cb9-5ef392d1197a?api-version=2016-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer;storage;sarath-rg;sarathsa/protectedItems/AzureFileShare;clitestafs/operationResults/91cbcf3d-2f11-4969-8cb9-5ef392d1197a?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/186908fa-4144-42a4-b7cf-1f6b5d4ddbff?api-version=2017-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupJobs/186908fa-4144-42a4-b7cf-1f6b5d4ddbff","name":"186908fa-4144-42a4-b7cf-1f6b5d4ddbff","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureStorageJob","duration":"PT1.8778105S","storageAccountName":"sarathsa","storageAccountVersion":"MicrosoftStorage","extendedInfo":{"tasksList":[{"taskId":"Take
        Snapshot","status":"InProgress"}],"propertyBag":{"Data Transferred (in MB)":"0","File
        Share Name":"clitestafs","Whether job is adhoc or scheduled.":"True"}},"entityFriendlyName":"clitestafs","backupManagementType":"AzureStorage","operation":"Backup","status":"InProgress","startTime":"2019-10-04T05:38:31.0735823Z","activityId":"321dc56e-e669-11e9-95a6-186024943d4f"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bsarath-rg%3Bsarathsa/protectedItems/AzureFileShare%3Bclitestafs/recoveryPoints?api-version=2016-12-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer;storage;sarath-rg;sarathsa/protectedItems/AzureFileShare;clitestafs/recoveryPoints/38418643221137","name":"38418643221137","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureFileShareRecoveryPoint","recoveryPointType":"FileSystemConsistent","recoveryPointTime":"2019-10-04T05:38:32Z","fileShareSnapshotUri":"https://sarathsa.file.core.windows.net/clitestafs?sharesnapshot=2019-10-04T05:38:32.0000000Z","recoveryPointSizeInGB":0}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectedItems?api-version=2017-07-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20itemType%20eq%20%27AzureFileShare%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/Microsoft.ClassicStorage/storageAccounts/sarathsa?api-version=2015-12-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ClassicStorage/storageAccounts/sarathsa''
        under resource group ''sarath-rg'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/Microsoft.Storage/storageAccounts/sarathsa?api-version=2016-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Storage/storageAccounts/sarathsa","name":"sarathsa","type":"Microsoft.Storage/storageAccounts","location":"southeastasia","tags":{},"properties":{"encryption":{"services":{"blob":{"enabled":true,"lastEnabledTime":"2019-08-23T04:50:06.8287357Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2019-08-23T04:50:06.7818295Z","primaryEndpoints":{"blob":"https://sarathsa.blob.core.windows.net/","queue":"https://sarathsa.queue.core.windows.net/","table":"https://sarathsa.table.core.windows.net/","file":"https://sarathsa.file.core.windows.net/"},"primaryLocation":"southeastasia","statusOfPrimary":"available","secondaryLocation":"eastasia","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://sarathsa-secondary.blob.core.windows.net/","queue":"https://sarathsa-secondary.queue.core.windows.net/","table":"https://sarathsa-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"objectType": "AzureFileShareRestoreRequest", "recoveryType":
      "OriginalLocation", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Storage/storageAccounts/sarathsa",
      "copyOptions": "Overwrite", "restoreRequestType": "FullShareRestore"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bsarath-rg%3Bsarathsa/protectedItems/AzureFileShare%3Bclitestafs/recoveryPoints/38418643221137/restore?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer;storage;sarath-rg;sarathsa/protectedItems/AzureFileShare;clitestafs/operationsStatus/8d92f4e1-b9fd-4326-b7ae-66a9dda4b5c4?api-version=2016-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer;storage;sarath-rg;sarathsa/protectedItems/AzureFileShare;clitestafs/operationResults/8d92f4e1-b9fd-4326-b7ae-66a9dda4b5c4?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/3c168ad8-399d-452f-adf2-9b9530b19f5c?api-version=2017-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupJobs/3c168ad8-399d-452f-adf2-9b9530b19f5c","name":"3c168ad8-399d-452f-adf2-9b9530b19f5c","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureStorageJob","duration":"PT2.3446784S","actionsInfo":[1],"storageAccountName":"sarathsa","storageAccountVersion":"ClassicCompute","extendedInfo":{"tasksList":[],"propertyBag":{"Source
        File Share Name":"clitestafs","Source Storage Account Name":"sarathsa","Job
        Type":"Recovering to the original file share","RestoreDestination":"sarathsa/clitestafs/","Data
        Transferred (in MB)":"0","Number Of Restored Files":"0","Number Of Skipped
        Files":"0","Number Of Failed Files":"0"}},"entityFriendlyName":"clitestafs","backupManagementType":"AzureStorage","operation":"Restore","status":"InProgress","startTime":"2019-10-04T05:39:37.6414Z","activityId":"591233fe-e669-11e9-98ed-186024943d4f"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/3c168ad8-399d-452f-adf2-9b9530b19f5c?api-version=2017-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupJobs/3c168ad8-399d-452f-adf2-9b9530b19f5c","name":"3c168ad8-399d-452f-adf2-9b9530b19f5c","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureStorageJob","duration":"PT1M11.8944035S","actionsInfo":[1],"storageAccountName":"sarathsa","storageAccountVersion":"ClassicCompute","extendedInfo":{"tasksList":[],"propertyBag":{"Source
        File Share Name":"clitestafs","Source Storage Account Name":"sarathsa","RestoreRecoveryPointTime":"10/4/2019
        5:38:33 AM","Job Type":"Recovering to the original file share","RestoreDestination":"sarathsa/clitestafs/","Data
        Transferred (in MB)":"0","Number Of Restored Files":"0","Number Of Skipped
        Files":"0","Number Of Failed Files":"0"}},"entityFriendlyName":"clitestafs","backupManagementType":"AzureStorage","operation":"Restore","status":"Completed","startTime":"2019-10-04T05:39:37.6414Z","endTime":"2019-10-04T05:40:49.5358035Z","activityId":"591233fe-e669-11e9-98ed-186024943d4f"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bsarath-rg%3Bsarathsa/protectedItems/AzureFileShare%3Bclitestafs?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupOperations/34f2bb6e-c6af-4fab-bb51-4963db155b65?api-version=2016-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupOperationResults/34f2bb6e-c6af-4fab-bb51-4963db155b65?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/389e018c-e077-46ca-a231-bb9d506c2d25?api-version=2017-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupJobs/389e018c-e077-46ca-a231-bb9d506c2d25","name":"389e018c-e077-46ca-a231-bb9d506c2d25","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureStorageJob","duration":"PT22.3797565S","storageAccountName":"sarathsa","storageAccountVersion":"Storage","extendedInfo":{"tasksList":[],"propertyBag":{"File
        Share Name":"clitestafs","Storage Account Name":"sarathsa"}},"entityFriendlyName":"clitestafs","backupManagementType":"AzureStorage","operation":"DeleteBackupData","status":"Completed","startTime":"2019-10-04T05:41:43.2282755Z","endTime":"2019-10-04T05:42:05.608032Z","activityId":"a4e6e070-e669-11e9-8b76-186024943d4f"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
