interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupProtectionContainers?api-version=2022-06-01-preview&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitest-vm","name":"VMAppContainer;Compute;sql-clitest-rg;sql-clitest-vm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","lastUpdatedTime":"2021-10-14T05:08:18.1778622Z","extendedInfo":{"hostServerName":"sql-clitest-vm","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SQL","itemCount":12,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":""}}]}},"friendlyName":"sql-clitest-vm","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{"BackupOperationStatusKPI":{"resourceHealthStatus":"Healthy","resourceHealthDetails":[{"code":0,"title":"Success","message":"","recommendations":[]}]},"RestoreOperationStatusKPI":{"resourceHealthStatus":"PersistentUnhealthy","resourceHealthDetails":[{"code":510011,"title":"WorkloadRestoreFailed","message":"Restore
        has failed due to an unknown error.","recommendations":["Wait for a few minutes
        and then try the operation again. If the issue persists, please contact Microsoft
        support."]}]}},"friendlyName":"msdb","serverName":"sql-clitest-vm","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2022-08-24T19:38:40.2079763Z","protectedItemDataSourceId":"17592916246099","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2021-11-07T19:34:40Z","recoveryPointCount":181,"policyState":"Consistent","recoveryModel":"SIMPLE"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupPolicies/sql-clitest-policy","lastRecoveryPoint":"2022-08-24T19:38:07Z","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupProtectedItems/?api-version=2021-11-15&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+itemType+eq+%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clites[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/?api-version=2021-11-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/59876739205006","name":"59876739205006","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","recoveryPointTimeInUTC":"2022-08-24T19:38:07Z","type":"Full","crossRegionRestoreState":"Supported","recoveryPointTierDetails":[{"type":"HardenedRP","status":"Valid"}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery-Point
        having active dependencies for restore is not eligible for Archive Move. "}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/59002754723042","name":"59002754723042","type":"Microsoft.RecoveryServices/vaults/backupFabri[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionContainers?api-version=2022-06-01-preview&%24filter=backupManagementType+eq+%27AzureWorkLoad%27+and+friendlyName+eq+%27clitest-sql-secondary-donotuse%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectableItems?api-version=2022-06-01-preview&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+workloadType+eq+%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/sqlinstance;mssqlserver","name":"sqlinstance;mssqlserver","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"MSSQLSERVER","serverName":"clitest-sql-sec","isAutoProtectable":true,"isAutoProtected":false,"subinquireditemcount":16,"subprotectableitemcount":16,"prebackupvalidation":{"status":"Success","code":"Success"},"IsProtectable":false,"backupManagementType":"AzureWorkload","workloadType":"SQL","protectableItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/sqldatabase;mssqlserver;master","name":"sqldatabase;mssqlserver;master","type":"Microsoft.RecoveryServices/vaults/backu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionIntents?api-version=2022-06-01-preview&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+itemName+eq+%27MSSQLSERVER%27+and+itemType+eq+%27SQLInstance%27+and+parentName+eq+%27vmappcontainer%3Bcompute%3Bclitest-rg-donotuse%3Bclitest-sql-secondary-donotuse%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/59876739205006?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/59876739205006","name":"59876739205006","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","extendedInfo":{"dataDirectoryTimeInUTC":"2022-08-24T19:38:07Z","dataDirectoryPaths":[{"type":"Data","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBData.mdf","logicalName":"MSDBData"},{"type":"Log","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBLog.ldf","logicalName":"MSDBLog"}]},"recoveryPointTimeInUTC":"2022-08-24T19:38:07Z","type":"Full","recoveryPointTierDetails":[{"type":"HardenedRP","status":"Valid"}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery-Point
        having active dependencies for restore is not eligible for Archive Move. "}}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bclitest-rg-donotuse%3Bclitest-sql-secondary-donotuse/items?api-version=2022-06-01-preview&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+workloadItemType+eq+%27SQLInstance%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/SQLInstance;MSSQLSERVER","name":"SQLInstance;MSSQLSERVER","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/items","properties":{"dataDirectoryPaths":[{"type":"Data","path":"F:\\data\\"},{"type":"Log","path":"G:\\log\\"}],"parentName":"MSSQLSERVER","serverName":"clitest-sql-sec","isAutoProtectable":true,"subinquireditemcount":0,"subWorkloadItemCount":16,"backupManagementType":"AzureWorkload","workloadType":"SQL","workloadItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionContainers?api-version=2022-06-01-preview&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-00000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault?api-version=2022-04-01
  response:
    body:
      string: '{"location":"centraluseuap","name":"sql-clitest-vault","etag":"W/\"datetime''2022-03-23T08%3A22%3A21.2456339Z''\"","tags":{"Owner":"akneema","Purpose":"CLITest","MABUsed":"Yes","DeleteBy":"12-9999"},"properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","networkSettings":{"publicNetworkAccess":"Enabled"},"backupStorageVersion":"Unassigned","redundancySettings":{"standardTierStorageRedundancy":"GeoRedundant","crossRegionRestore":"Enabled"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupAadProperties?api-version=2021-11-15&%24filter=backupManagementType+eq+%27AzureWorkload%27
  response:
    body:
      string: '{"properties":{"tenantId":"33e01921-4d64-4f8c-a055-5bdaffd5e33d","audience":"https://RecoveryServices/WkloadCoord/aadmgmt/ecy","servicePrincipalObjectId":"1b8029ee-c6a9-4e01-a52b-5bb44807b831"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d", "audience":
      "https://RecoveryServices/WkloadCoord/aadmgmt/ecy", "servicePrincipalObjectId":
      "1b8029ee-c6a9-4e01-a52b-5bb44807b831"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/59876739205006/accessToken?api-version=2021-11-15
  response:
    body:
      string: '{"properties":{"protectableObjectUniqueName":"MSSQLSERVER/msdb","protectableObjectFriendlyName":"msdb","protectableObjectWorkloadType":"SQL","protectableObjectProtectionState":"Protected","protectableObjectContainerHostOsName":"sql-clitest-vm","protectableObjectParentLogicalContainerName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","containerId":"53569","policyName":"sql-clitest-policy","policyId":"f2217b85-4c4c-478d-a865-839e6ae165df","objectType":"WorkloadCrrAccessToken","accessTokenString":"eyJhbGciOiJSUzI1NiIsImtpZCI6IjI5MDc0RThFRjZEMzNBNEEzQTQ5QkNBRTUxNTA2MTQyNDNDODNGMzciLCJ4NXQiOiJLUWRPanZiVE9rbzZTYnl1VVZCaFFrUElQemMiLCJ0eXAiOiJKV1QifQ.eyJVc2VySWRlbnRpdHlUeXBlIjoiQUFEIiwiQWFkVGVuYW50SWQiOiIzM2UwMTkyMS00ZDY0LTRmOGMtYTA1NS01YmRhZmZkNWUzM2QiLCJBYWRTUE9iamVjdElkIjoiMWI4MDI5ZWUtYzZhOS00ZTAxLWE1MmItNWJiNDQ4MDdiODMxIiwiUGl0UGVybWlzc2lvbnMiOiJSZWFkIiwiQmFja3VwVmF1bHRJRCI6IjI1NzkxMDU4MDY4MjY0NTUwMjYiLCJDb250YWluZXJJRCI6IjUzNTY5IiwiRGF0YXNvdXJjZUlEIjoiMTc1OTI5MTYyNDYwOTkiLCJQaXRJRCI6IjU5ODc2NzM5MjA1MDA2IiwiaXNzaWQiOiJhMTcxZjBmZS0xMDQwLTRiMmQtODNjZC05MDYyOGViYmUwOGUiLCJodHRwOi8vc2NoZW1hcy53aW5kb3dzY2xvdWRiYWNrdXAuY29tLzIwMTAvMTAvaWRlbnRpdHkvY2xhaW1zL3Jlc291cmNlaWQiOiIyNTc5MTA1ODA2ODI2NDU1MDI2IiwiaHR0cDovL3NjaGVtYXMud2luZG93c2Nsb3VkYmFja3VwLmNvbS8yMDEwLzEwL2lkZW50aXR5L2NsYWltcy9jb250YWluZXJpZCI6IjUzNTY5IiwibmJmIjoxNjYxNDUxNTMwLCJleHAiOjE2NjE1Mzc5MzAsImlhdCI6MTY2MTQ1MTIzMCwiaXNzIjoiaHR0cDovL21pY3Jvc29mdC5kYXRhcHJvdGVjdGlvbi9pc3N1ZXJzL2ExNzFmMGZlLTEwNDAtNGIyZC04M2NkLTkwNjI4ZWJiZTA4ZSIsImF1ZCI6Imh0dHA6Ly9taWNyb3NvZnQuZGF0YXByb3RlY3Rpb24vUHJvdGVjdGlvblNlcnZpY2UifQ.vltw1MmpQoGc8K5zXg92mzuQ3usYRRWaaSd_6M1AePcmK-wxVDtfOloDicxCxnbwjX_FMeckDmQd8MSLF539gO3nXblhhepvuFTzZXGkgCTLiORouPgAS0X6bZFWdEH6Rratn8UeTu2cr6TSGqg7dv1sL_UMFPHMGMkSP7qrC-QNQrWwW8mAgigwB1JLbJVW2VPYaiVhpDLTWGns4BwPYxlNbXuF6f-tzrutrh0K8aXbK49ETEso7fPHyIbsPd4mjRWMlTrU3luPChP9uOi7p5kVl5s6-sOD14khfCxsyqcnvNsZzTHT0jIDbcsix6eRwhFk-XQbHWRHZhwHSjmwAg","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","resourceGroupName":"sql-clitest-rg","resourceName":"sql-clitest-vault","resourceId":"2579105806826455026","protectionContainerId":53569,"recoveryPointId":"59876739205006","recoveryPointTime":"8/24/2022
        7:38:07 PM","containerName":"Compute;sql-clitest-rg;sql-clitest-vm","containerType":"VMAppContainer","backupManagementType":"AzureWorkload","datasourceType":"SQLDataBase","datasourceName":"msdb","datasourceId":"17592916246099","datasourceContainerName":"compute;sql-clitest-rg;sql-clitest-vm","coordinatorServiceStampId":"6367f474-c521-46cb-8bdb-b4daa8888f1e","coordinatorServiceStampUri":"https://pod01-wbcm1.ccy.backup.windowsazure.com","protectionServiceStampId":"90d98224-2ac6-4bda-9f35-33fb22841f2a","protectionServiceStampUri":"https://pod01-prot1-int.ccy.backup.windowsazure.com","rpOriginalSAOption":false,"rpIsManagedVirtualMachine":false,"bMSActiveRegion":"CentralUSEUAP"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"crossRegionRestoreAccessDetails": {"objectType": "WorkloadCrrAccessToken",
      "accessTokenString": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjI5MDc0RThFRjZEMzNBNEEzQTQ5QkNBRTUxNTA2MTQyNDNDODNGMzciLCJ4NXQiOiJLUWRPanZiVE9rbzZTYnl1VVZCaFFrUElQemMiLCJ0eXAiOiJKV1QifQ.eyJVc2VySWRlbnRpdHlUeXBlIjoiQUFEIiwiQWFkVGVuYW50SWQiOiIzM2UwMTkyMS00ZDY0LTRmOGMtYTA1NS01YmRhZmZkNWUzM2QiLCJBYWRTUE9iamVjdElkIjoiMWI4MDI5ZWUtYzZhOS00ZTAxLWE1MmItNWJiNDQ4MDdiODMxIiwiUGl0UGVybWlzc2lvbnMiOiJSZWFkIiwiQmFja3VwVmF1bHRJRCI6IjI1NzkxMDU4MDY4MjY0NTUwMjYiLCJDb250YWluZXJJRCI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjszMTU5ZjQzMS1hYzkxLTRhN2UtYWY1YS04NWJkMmQ4OWVhYzA%3D?api-version=2021-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjszMTU5ZjQzMS1hYzkxLTRhN2UtYWY1YS04NWJkMmQ4OWVhYzA=","name":"MjU3OTEwNTgwNjgyNjQ1NTAyNjszMTU5ZjQzMS1hYzkxLTRhN2UtYWY1YS04NWJkMmQ4OWVhYzA=","status":"Succeeded","startTime":"2022-08-25T18:18:54.4162966Z","endTime":"2022-08-25T18:18:54Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"99d0db14-5451-4494-a4ba-7e782ff21048"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault",
      "jobName": "99d0db14-5451-4494-a4ba-7e782ff21048"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrJob?api-version=2021-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupJobs/99d0db14-5451-4494-a4ba-7e782ff21048","name":"99d0db14-5451-4494-a4ba-7e782ff21048","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":["Cancellable"],"workloadType":"SQLDataBase","duration":"PT11.8268639S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"InProgress"}],"propertyBag":{"Job Type":"Recovery
        to an alternate database","Original VM Name":"sql-clitest-vm","Target VM Name":"clitest-sql-secondary-donotuse","Target
        resource group":"clitest-rg-donotuse","Subscription Id of the vault":"38304e13-357e-405e-9e9a-220351dcce8c","Resource
        Group Name of the vault":"sql-clitest-rg","Vault name":"sql-clitest-vault","Resource
        Group Name of the target vault":"clitest-rg-donotuse","Target vault name":"clitest-vault-secondary-donotuse"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitest-vm]","backupManagementType":"AzureWorkload","operation":"CrossRegionRestore","status":"InProgress","startTime":"2022-08-25T18:18:54.7949554Z","activityId":"18c3f14f-24a2-11ed-be38-c8f750f92764"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault",
      "jobName": "99d0db14-5451-4494-a4ba-7e782ff21048"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrJob?api-version=2021-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupJobs/99d0db14-5451-4494-a4ba-7e782ff21048","name":"99d0db14-5451-4494-a4ba-7e782ff21048","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":["Cancellable"],"workloadType":"SQLDataBase","duration":"PT10M36.5504309S","errorDetails":[{"errorCode":510011,"errorString":"Restore
        has failed due to an unknown error.","errorTitle":"WorkloadRestoreFailed","recommendations":["Wait
        for a few minutes and then try the operation again. If the issue persists,
        please contact Microsoft support."]}],"extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"Failed"}],"propertyBag":{"Data Transferred (in
        MB)":"0","Job Type":"Recovery to an alternate database","RestoreDestination":"clitest-sql-sec/MSSQLSERVER/msdb_restored","Original
        VM Name":"sql-clitest-vm","Target VM Name":"clitest-sql-secondary-donotuse","Target
        resource group":"clitest-rg-donotuse","Subscription Id of the vault":"38304e13-357e-405e-9e9a-220351dcce8c","Resource
        Group Name of the vault":"sql-clitest-rg","Vault name":"sql-clitest-vault","Resource
        Group Name of the target vault":"clitest-rg-donotuse","Target vault name":"clitest-vault-secondary-donotuse"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitest-vm]","backupManagementType":"AzureWorkload","operation":"CrossRegionRestore","status":"Failed","startTime":"2022-08-25T18:18:54.7949554Z","endTime":"2022-08-25T18:29:31.3453863Z","activityId":"18c3f14f-24a2-11ed-be38-c8f750f92764"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1177'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/?api-version=2021-11-15
  response:
    body:
      string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
        a response from ''Microsoft.RecoveryServices'' within the specified time period."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 504
      message: Gateway Timeout
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjsxY2YxZTc0NC1hNmZlLTQzNjgtODMzOC03NzYyOTg5MWE3Y2M%3D?api-version=2021-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjsxY2YxZTc0NC1hNmZlLTQzNjgtODMzOC03NzYyOTg5MWE3Y2M=","name":"MjU3OTEwNTgwNjgyNjQ1NTAyNjsxY2YxZTc0NC1hNmZlLTQzNjgtODMzOC03NzYyOTg5MWE3Y2M=","status":"Succeeded","startTime":"2022-08-25T18:32:13.8066685Z","endTime":"2022-08-25T18:32:14Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"303520eb-f866-48a0-8588-fb6fe414a025"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
