interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-04-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.RecoveryServices/vaults/clitest-vault000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus2euap", "properties": {"publicNetworkAccess": "Enabled",
      "monitoringSettings": {"azureMonitorAlertSettings": {"alertsForAllJobFailures":
      "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations": "Enabled"}}},
      "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000002","etag":"W/\"datetime''2023-11-03T08%3A36%3A09.7857068Z''\"","properties":{"provisioningState":"Provisioning","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"secureScore":"None","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs5MzA4ZGExYS1mMTU4LTQ5YzgtOTdjOS1lNjRhYzA5N2JlODI=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs5MzA4ZGExYS1mMTU4LTQ5YzgtOTdjOS1lNjRhYzA5N2JlODI=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs5MzA4ZGExYS1mMTU4LTQ5YzgtOTdjOS1lNjRhYzA5N2JlODI=\"\
        ,\r\n  \"name\": \"MjA0Nzs5MzA4ZGExYS1mMTU4LTQ5YzgtOTdjOS1lNjRhYzA5N2JlODI=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs5MzA4ZGExYS1mMTU4LTQ5YzgtOTdjOS1lNjRhYzA5N2JlODI=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/MjA0Nzs5MzA4ZGExYS1mMTU4LTQ5YzgtOTdjOS1lNjRhYzA5N2JlODI=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000002","etag":"W/\"datetime''2023-11-03T08%3A37%3A10.5571562Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","backupStorageVersion":"Unassigned","redundancySettings":{"standardTierStorageRedundancy":"GeoRedundant","crossRegionRestore":"Disabled"},"monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"securitySettings":{"immutabilitySettings":null,"softDeleteSettings":{"softDeleteRetentionPeriodInDays":14,"softDeleteState":"Enabled"},"multiUserAuthorization":"Disabled"},"secureScore":"None","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/MjA0Nzs1YTFmYTQ5Yy1mMzc4LTQzYjEtOGM5MC1mNTVmZTBmMWU0OGE=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/MjA0Nzs1YTFmYTQ5Yy1mMzc4LTQzYjEtOGM5MC1mNTVmZTBmMWU0OGE=\"\
        ,\r\n  \"name\": \"MjA0Nzs1YTFmYTQ5Yy1mMzc4LTQzYjEtOGM5MC1mNTVmZTBmMWU0OGE=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/MjA0Nzs1YTFmYTQ5Yy1mMzc4LTQzYjEtOGM5MC1mNTVmZTBmMWU0OGE=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/MjA0Nzs1YTFmYTQ5Yy1mMzc4LTQzYjEtOGM5MC1mNTVmZTBmMWU0OGE=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000004/operationStatus/MjA0Nzs2YjNjNGYwOS0wYmZhLTRjMzQtYTZlMy1mMDFjYzI2MTliOTY=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000004/operationStatus/MjA0Nzs2YjNjNGYwOS0wYmZhLTRjMzQtYTZlMy1mMDFjYzI2MTliOTY=\"\
        ,\r\n  \"name\": \"MjA0Nzs2YjNjNGYwOS0wYmZhLTRjMzQtYTZlMy1mMDFjYzI2MTliOTY=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000004/operationStatus/MjA0Nzs2YjNjNGYwOS0wYmZhLTRjMzQtYTZlMy1mMDFjYzI2MTliOTY=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000004/operationResults/MjA0Nzs2YjNjNGYwOS0wYmZhLTRjMzQtYTZlMy1mMDFjYzI2MTliOTY=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"publicNetworkAccess": "Disabled",
      "monitoringSettings": {"azureMonitorAlertSettings": {"alertsForAllJobFailures":
      "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations": "Enabled"}},
      "restoreSettings": {"crossSubscriptionRestoreSettings": {"crossSubscriptionRestoreState":
      "Disabled"}}, "securitySettings": {"immutabilitySettings": {"state": "Unlocked"}}},
      "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005?api-version=2023-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000005","etag":"W/\"datetime''2023-11-03T08%3A40%3A21.9074278Z''\"","properties":{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/MjA0NztmMTZhN2RiZi1mODkwLTRiZWMtYmUwZi0wZDc3YWJmNmYzM2M=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/MjA0NztmMTZhN2RiZi1mODkwLTRiZWMtYmUwZi0wZDc3YWJmNmYzM2M=\"\
        ,\r\n  \"name\": \"MjA0NztmMTZhN2RiZi1mODkwLTRiZWMtYmUwZi0wZDc3YWJmNmYzM2M=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/MjA0NztmMTZhN2RiZi1mODkwLTRiZWMtYmUwZi0wZDc3YWJmNmYzM2M=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationResults/MjA0NztmMTZhN2RiZi1mODkwLTRiZWMtYmUwZi0wZDc3YWJmNmYzM2M=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTs2NTNlMDY4MC1iNTRjLTQyYmQtYmJkMi05YWYxMmNhZjE0YWY=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTs2NTNlMDY4MC1iNTRjLTQyYmQtYmJkMi05YWYxMmNhZjE0YWY=\"\
        ,\r\n  \"name\": \"NDA5NTs2NTNlMDY4MC1iNTRjLTQyYmQtYmJkMi05YWYxMmNhZjE0YWY=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTs2NTNlMDY4MC1iNTRjLTQyYmQtYmJkMi05YWYxMmNhZjE0YWY=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationResults/NDA5NTs2NTNlMDY4MC1iNTRjLTQyYmQtYmJkMi05YWYxMmNhZjE0YWY=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2023-04-01
  response:
    body:
      string: '{"value":[{"location":"westus","name":"tesy","etag":"W/\"datetime''2023-08-29T11%3A51%3A03.2508808Z''\"","properties":{"provisioningState":"Succeeded","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/adkayethImmutability/providers/Microsoft.RecoveryServices/vaults/tesy","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"westus","name":"afsexistingvault1","etag":"W/\"datetime''2022-12-20T14%3A59%3A47.3207695Z''\"","properties":{"provisioningState":"Succeeded","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afstests/providers/Microsoft.RecoveryServices/vaults/afsexistingvault1","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"westus","name":"getputv1policyvault","etag":"W/\"datetime''2023-09-26T01%3A25%3A56.2240715Z''\"","tags":{"Owner":"akkanase","AutoAddedTagsSpendMgmt":"Owner"},"properties":{"provisioningState":"Succeeded","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanase/providers/Microsoft.RecoveryServices/vaults/getputv1policyvault","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"westus","name":"akkanaseCMKNew","etag":"W/\"datetime''2023-03-25T16%3A10%3A18.9678896Z''\"","identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"93207892-ddfb-48c8-8d48-30c199c8a001","type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hiagarg/providers/microsoft.managedidentity/userassignedidentities/cmk-pstest-msi1":{"clientId":"cc17dc91-0ffc-41c4-9f4b-b7b61fa9f4e8","principalId":"79e6360a-251c-4431-b817-a7fff3ac5c91"},"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vepothir-rg-ram-sub/providers/Microsoft.ManagedIdentity/userAssignedIdentities/vepothir-identity-1":{"clientId":"5909ae61-fd85-4404-9e0b-60709b84e067","principalId":"f6d28ffe-fbc2-4e9c-9bc1-f3e3585223c0"}}},"properties":{"provisioningState":"Succeeded","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2023-04-01&$skiptoken=1VJdb9owFP0tRMpeaIhjAy1I1ZS1QKslGQshAd6MbUIgX7LNV6r%2B95mPtuq2btLe5oc4Oufee67vPU9azvbSSfK10LpP2l3PC3zbGY96Y3uodbWllKXommaGcxyzjOWygasNZw1SZKbYzAXhSSmTIhcmukGgySxkoNY1M5qgxYwO62ADQoBaFiWE3RCz5MU2oYwL000IL0SxkA2fkWLL%2BGHE%2BDYhTJhbvEml%2BIzLxFC4UNVvIYDIAE0DWJ902BRrJVqsWX5r1a5hza3iyr33UzdwpVuN0WwEgHsfpk6Qpt%2BinnRXjzuF72cDbzULlqtJ9WVBUF84kSfwxE8J%2Bi5JRoy6VWuDGsnCao7CwxSGC7ffgdNJKOiDd/yvSLSTU7gv6SCs6MNsSaM9cCJ/O886gE68VLvSevYosEeP9n8wPB0RHS32WVq/jFlHVIfQagD1rbOcFDTJ4zO4kQvDaitcZeiI6YDqAKsCd0Uuk3yDjx4Ijit5Jev1v9CngPC8YJUFlaxqCC7eoLNKXR3FBIeSqbAAz1N1HwMvyLsoT7l5iLlMjg19ZQeVoTzS/ieP4Ki/JGgmnayV0kPr4gTXOKv/RumXTvxi99JDC/7JWeU06lc0szazCT3rDPrb6cSTb1qvtd6pBJjHTDoFOW1AvXbIkwxz9e7ThH5mX3LP9MfL%2B5jXnq80zDM7jjmLsWT0tHXldtt3tecf
  response:
    body:
      string: "{\"value\":[{\"location\":\"centraluseuap\",\"name\":\"sql-clitestvault-donotuse\"\
        ,\"etag\":\"W/\\\"datetime'2022-12-16T15%3A10%3A55.0577003Z'\\\"\",\"tags\"\
        :{\"Owner\":\"akneema\",\"Purpose\":\"Testing\",\"DeleteBy\":\"12-9999\",\"\
        MABUsed\":\"Yes\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"\
        publicNetworkAccess\":\"Enabled\",\"restoreSettings\":{\"crossSubscriptionRestoreSettings\"\
        :{\"crossSubscriptionRestoreState\":\"Enabled\"}}},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse\"\
        ,\"type\":\"Microsoft.RecoveryServices/vaults\",\"sku\":{\"name\":\"RS0\"\
        ,\"tier\":\"Standard\"}},{\"location\":\"centraluseuap\",\"name\":\"sqlcontainer-pstest-vault\"\
        ,\"etag\":\"W/\\\"datetime'2023-04-18T13%3A42%3A34.8614306Z'\\\"\",\"tags\"\
        :{\"MABUsed\":\"Yes\",\"Purpose\":\"Testing\",\"DeleteBy\":\"01-2029\",\"\
        Owner\":\"hiaga\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"\
        publicNetworkAccess\":\"Enabled\",\"restoreSettings\":{\"crossSubscriptionRestoreSettings\"\
        :{\"crossSubscriptionRestoreState\":\"Enabled\"}}},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlcontainer-pstest-rg/providers/Microsoft.RecoveryServices/vaults/sqlcontainer-pstest-vault\"\
        ,\"type\":\"Micr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults?api-version=2023-04-01
  response:
    body:
      string: '{"value":[{"location":"eastus2euap","name":"clitest-vault000003","etag":"W/\"datetime''2023-11-03T08%3A38%3A14.9703084Z''\"","properties":{"provisioningState":"Succeeded","publicNetworkAccess":"Enabled","restoreSettings"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupconfig/vaultconfig?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupconfig/vaultconfig","name":"vaultconfig","type":"Microsoft.RecoveryServices/vaults/backupconfig","properties":{"enhancedSecurityState":"Enabled","softDeleteFeatureState":"Enabled","softDeleteRetentionPeriodInDays":14,"isSoftDeleteFeatureStateEditable":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupstorageconfig/vaultstorageconfig?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupstorageconfig/vaultstorageconfig","name":"vaultstorageconfig","type":"Microsoft.RecoveryServices/vaults/backupstorageconfig","properties":{"storageModelType":"GeoRedundant","storageType":"GeoRedundant","dedupState":"Disabled","xcoolState":"Disabled","storageTypeState":"Unlocked","crossRegionRestoreFlag":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupResourceGuardProxies?api-version=2023-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTswNmFjZjFjYS01MzQ1LTRmZWQtYTYyNy02ZDJiODYwMjdhMGI=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTswNmFjZjFjYS01MzQ1LTRmZWQtYTYyNy02ZDJiODYwMjdhMGI=\"\
        ,\r\n  \"name\": \"NDA5NTswNmFjZjFjYS01MzQ1LTRmZWQtYTYyNy02ZDJiODYwMjdhMGI=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTswNmFjZjFjYS01MzQ1LTRmZWQtYTYyNy02ZDJiODYwMjdhMGI=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTswNmFjZjFjYS01MzQ1LTRmZWQtYTYyNy02ZDJiODYwMjdhMGI=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTs4MjQ3ODc2My00ZWM0LTRkOWEtYjdmYS05MmI1OGQzOWE2MmY=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTs4MjQ3ODc2My00ZWM0LTRkOWEtYjdmYS05MmI1OGQzOWE2MmY=\"\
        ,\r\n  \"name\": \"NDA5NTs4MjQ3ODc2My00ZWM0LTRkOWEtYjdmYS05MmI1OGQzOWE2MmY=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTs4MjQ3ODc2My00ZWM0LTRkOWEtYjdmYS05MmI1OGQzOWE2MmY=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationResults/NDA5NTs4MjQ3ODc2My00ZWM0LTRkOWEtYjdmYS05MmI1OGQzOWE2MmY=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTsyYWFlMmNjZC01ZmUxLTRjN2ItYjA0Ny04NGJkOTYwNGY5MTM=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTsyYWFlMmNjZC01ZmUxLTRjN2ItYjA0Ny04NGJkOTYwNGY5MTM=\"\
        ,\r\n  \"name\": \"NDA5NTsyYWFlMmNjZC01ZmUxLTRjN2ItYjA0Ny04NGJkOTYwNGY5MTM=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTsyYWFlMmNjZC01ZmUxLTRjN2ItYjA0Ny04NGJkOTYwNGY5MTM=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationResults/NDA5NTsyYWFlMmNjZC01ZmUxLTRjN2ItYjA0Ny04NGJkOTYwNGY5MTM=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupProtectionContainers?api-version=2023-04-01&%24filter=backupManagementType+eq+%27AzureIaasVM%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-04-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '48'
    status:
      code: 200
      message: OK
version: 1
