interactions:
- request:
    body: '{"location": "eastasia", "properties": {}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: '{"location":"eastasia","name":"clitest-vault000002","etag":"W/\"datetime''2022-02-18T07%3A19%3A55.6402543Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2021-03-01
  response:
    body:
      string: '{"value":[{"location":"westus","name":"afsexistingvault1","etag":"W/\"datetime''2021-04-02T10%3A43%3A40.3219619Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afstests/providers/Microsoft.RecoveryServices/vaults/afsexistingvault1","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"westus","name":"afsnewvault2xbaea","etag":"W/\"datetime''2021-04-02T10%3A20%3A10.8818662Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afstests/providers/Microsoft.RecoveryServices/vaults/afsnewvault2xbaea","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"westus","name":"akkanaseCMKNew","etag":"W/\"datetime''2021-12-06T13%3A30%3A57.6851358Z''\"","identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"93207892-ddfb-48c8-8d48-30c199c8a001","type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hiagarg/providers/microsoft.managedidentity/userassignedidentities/cmk-pstest-msi1":{"clientId":"cc17dc91-0ffc-41c4-9f4b-b7b61fa9f4e8","principalId":"79e6360a-251c-4431-b817-a7fff3ac5c91"}}},"properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","encryption":{"keyVaultProperties":{"keyUri":"https://akkanasecmk1.vault.azure.net/keys/testKey"},"kekIdentity":{"useSystemAssignedIdentity":false,"userAssignedIdentity":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hiagarg/providers/microsoft.managedidentity/userassignedidentities/cmk-pstest-msi1"},"infrastructureEncryption":"Disabled"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseCMK/providers/Microsoft.RecoveryServices/vaults/akkanaseCMKNew","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"westus","name":"akkanaseCMKSystem","etag":"W/\"datetime''2021-12-06T12%3A48%3A11.6058493Z''\"","identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"2afe8612-6c52-4e9c-95c7-32b82becbe55","type":"SystemAssigned"},"properties[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2021-03-01&%24skiptoken=hVFbb5swGP0tQWIvyMHYyZpEqqZsvdAt0C5Q1vJmjEmdAEa2yYWq%2F31O0ou6rZofbOuc833nfPajVbOtnvF6pazJoxVd38b%2B%2BTSKp9HV1JpYD1o3auK6FanJglWs1n3StZL1qahc1WaKSt5oLmrl4hGGA%2BZhgIcnDAzgkIExGxOAEMRDL6eUjajbSLHmOZPKDTiVQolC9%2BeMijWTu4jJNadMuWvSllp9IQ0HBlem%2BymCyAMQA%2Bh9stFArYypWLH61MbUxsW2Kp1npY1zGyGvD83usJqKnNeLI9jqAnifDW4qbMxsmNuQmAbfRK153ZL9GPG%2B6yvpOP%2BhD4LkmNFUIWNrAqHiDTq6OGYZJt41zMhikpXm3AufkXeq0HzIDZGa7wP9YDtT4fVOUC%2FoFl1wNi%2BDONBBd4vTCMLgLClncVle%2FzrXwfJqY%2FBtehku0%2Fhhedd9LagfLrPLsZf685Li%2BS7dAHB0%2FofLXynmYvPiPxj1aJV0GU529ygpgosxur9LVO6H%2B%2FuGou8o91OdVxde5v%2F0QpPlzee1zzuHmMgF0zNBDy9vpryRvCLSzHt4mT%2FZl9oj%2FfGnfcxbT0%2B%2FAQ%3D%3D
  response:
    body:
      string: '{"value":[{"location":"southeastasia","name":"psbvtvmvault5827","etag":"W/\"datetime''2020-01-01T02%3A55%3A57.3607396Z''\"","tags":null,"identity":null,"properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","networkSettings":{"publicNetworkAccess":"Enabled"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pscloudtestrg/providers/Microsoft.RecoveryServices/vaults/psbvtvmvault5827","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard","tier":null,"size":null,"family":null,"capacity":null}},{"location":"southeastasia","name":"psbvtvmvault6070","etag":"W/\"datetime''2020-02-28T05%3A32%3A27.0128657Z''\"","tags":null,"identity":null,"properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","networkSettings":{"publicNetworkAccess":"Enabled"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pscloudtestrg/providers/Microsoft.RecoveryServices/vaults/psbvtvmvault6070","type":"Microsoft.R[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults?api-version=2021-03-01
  response:
    body:
      string: '{"value":[{"location":"eastasia","name":"clitest-vault000002","etag":"W/\"datetime''2022-02-18T07%3A19%3A55.6402543Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupconfig/vaultconfig?api-version=2021-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupconfig/vaultconfig","name":"vaultconfig","type":"Microsoft.RecoveryServices/vaults/backupconfig","properties":{"enhancedSecurityState":"Enabled","softDeleteFeatureState":"Enabled","isSoftDeleteFeatureStateEditable":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupstorageconfig/vaultstorageconfig?api-version=2021-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupstorageconfig/vaultstorageconfig","name":"vaultstorageconfig","type":"Microsoft.RecoveryServices/vaults/backupstorageconfig","properties":{"storageModelType":"GeoRedundant","storageType":"GeoRedundant","dedupState":"Disabled","xcoolState":"Disabled","storageTypeState":"Unlocked","crossRegionRestoreFlag":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupProtectionContainers?api-version=2021-12-01&%24filter=backupManagementType+eq+%27AzureIaasVM%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
version: 1
