interactions:
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Compute/virtualMachines/zvm-jsdk2-clitestrestore?api-version=2024-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '799'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '11999'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupProtectedItems?api-version=2025-02-01&%24filter=backupManagementType+eq+%27AzureIaasVM%27+and+itemType+eq+%27VM%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;zubairrg;zvm-jsdk2/protectedItems/VM;iaasvmcontainerv2;zubairrg;zvm-jsdk2","name":"VM;iaasvmcontainerv2;zubairrg;zvm-jsdk2","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"zvm-jsdk2","virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Compute/virtualMachines/zvm-jsdk2","protectionStatus":"Healthy","protectionState":"Protected","healthStatus":"Passed","healthDetails":[{"code":400239,"title":"IaasVmHealthGreenDefault","message":"Backup
        pre-check status of this virtual machine is OK.","recommendations":[]}],"lastBackupStatus":"Completed","lastBackupTime":"2025-05-08T08:38:43.2462923Z","protectedItemDataId":"70370165037834","extendedProperties":{"linuxVmApplicationName":""},"policyType":"V1","protectedItemType":"Microsoft.Compute/virtualMachines","backupManagementType":"AzureIaasVM","workloadType":"VM","containerName":"iaasvmcontainerv2;zubairrg;zvm-jsdk2","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Compute/virtualMachines/zvm-jsdk2","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupPolicies/P29d","policyName":"P29d","lastRecoveryPoint":"2025-05-08T08:38:46.1002122Z","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1","isArchiveEnabled":false,"softDeleteRetentionPeriod":0}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bzubairrg%3Bzvm-jsdk2/protectedItems/VM%3Biaasvmcontainerv2%3Bzubairrg%3Bzvm-jsdk2/recoveryPoints?api-version=2025-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;zubairrg;zvm-jsdk2/protectedItems/VM;iaasvmcontainerv2;zubairrg;zvm-jsdk2/recoveryPoints/31407900891996","name":"31407900891996","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"IaasVMRecoveryPoint","recoveryPointType":"FileSystemConsistent","recoveryPointTime":"2025-05-08T08:38:46.1002122Z","recoveryPointAdditionalInfo":"","sourceVMStorageType":"PremiumVMOnPartialPremiumStorage","isSourceVMEncrypted":false,"isInstantIlrSessionActive":false,"recoveryPointTierDetails":[{"type":"InstantRP","status":"Valid"},{"type":"HardenedRP","status":"Valid"}],"isManagedVirtualMachine":true,"virtualMachineSize":"Standard_B1s","originalStorageAccountOption":false,"osType":"Linux","zones":["1"],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"We''re
        still determining if this Recovery Point can be moved.. Please check again
        after some time."}},"securityType":"None","isPrivateAccessEnabledOnAnyDisk":true,"createdWithPolicyType":"V1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;zubairrg;zvm-jsdk2/protectedItems/VM;iaasvmcontainerv2;zubairrg;zvm-jsdk2/recoveryPoints/30314855568152","name":"30314855568152","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"IaasVMRecoveryPoint","recoveryPointType":"FileSystemConsistent","recoveryPointTime":"2025-05-07T08:33:31.7461533Z","recoveryPointAdditionalInfo":"","sourceVMStorageType":"PremiumVMOnPartialPremiumStorage","isSourceVMEncrypted":false,"isInstantIlrSessionActive":false,"recoveryPointTierDetails":[{"type":"InstantRP","status":"Valid"},{"type":"HardenedRP","status":"Valid"}],"isManagedVirtualMachine":true,"virtualMachineSize":"Standard_B1s","originalStorageAccountOption":false,"osType":"Linux","zones":["1"],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"We''re
        still determining if this Recovery Point can be moved.. Please check again
        after some time."}},"securityType":"None","recoveryPointProperties":{"expiryTime":"2025-05-09T08:33:31.7461533","ruleName":"Daily","isSoftDeleted":false},"isPrivateAccessEnabledOnAnyDisk":true,"createdWithPolicyType":"V1"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;zubairrg;zvm-jsdk2/protectedItems/VM;iaasvmcontainerv2;zubairrg;zvm-jsdk2/recoveryPoints/23034341517915","name":"23034341517915","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/pro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1?api-version=2024-04-01
  response:
    body:
      string: '{"location":"centraluseuap","name":"ztestvault1","etag":"W/\"datetime''2025-05-01T13%3A19%3A58.5081026Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled","alertsForAllReplicationIssues":"Enabled","alertsForAllFailoverIssues":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled","emailNotificationsForSiteRecovery":"Enabled"}},"backupStorageVersion":"V1","securitySettings":{"softDeleteSettings":{"softDeleteRetentionPeriodInDays":14,"softDeleteState":"Disabled","enhancedSecurityState":"Disabled"},"multiUserAuthorization":"Disabled"},"redundancySettings":{"standardTierStorageRedundancy":"GeoRedundant","crossRegionRestore":"Disabled"},"secureScore":"None","bcdrSecurityLevel":"Poor","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupProtectionContainers?api-version=2025-02-01&%24filter=backupManagementType+eq+%27AzureIaasVM%27+and+friendlyName+eq+%27zvm-jsdk2%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;zubairrg;zvm-jsdk2","name":"IaasVMContainer;iaasvmcontainerv2;zubairrg;zvm-jsdk2","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ZUBAIRRG/providers/Microsoft.Compute/virtualMachines/zvm-jsdk2","virtualMachineVersion":"Compute","resourceGroup":"ZUBAIRRG","friendlyName":"zvm-jsdk2","backupManagementType":"AzureIaasVM","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"Microsoft.Compute/virtualMachines","protectableObjectType":"Microsoft.Compute/virtualMachines"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bzubairrg%3Bzvm-jsdk2/protectedItems/VM%3Biaasvmcontainerv2%3Bzubairrg%3Bzvm-jsdk2/recoveryPoints/31407900891996?api-version=2025-02-01
  response:
    body:
      string: '{"id":"/subscriptions/000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2025-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"useSystemAssignedIdentity":true,"encryptionAtRestType":"MicrosoftManaged","lastUpdateStatus":"NotEnabled","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/zubairRG/providers/Microsoft.ClassicStorage/storageAccounts/zubairsaccy?api-version=2015-12-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ClassicStorage/storageAccounts/zubairsaccy''
        under resource group ''zubairRG'' was not found. For more details please go
        to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/zubairRG/providers/Microsoft.Storage/storageAccounts/zubairsaccy?api-version=2016-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Storage/storageAccounts/zubairsaccy","name":"zubairsaccy","type":"Microsoft.Storage/storageAccounts","location":"centraluseuap","tags":{},"properties":{"encryption":{"services":{"blob":{"enabled":true,"lastEnabledTime":"2023-02-22T09:47:44.8614298Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2023-02-22T09:47:44.4395761Z","primaryEndpoints":{"blob":"https://zubairsaccy.blob.core.windows.net/","queue":"https://zubairsaccy.queue.core.windows.net/","table":"https://zubairsaccy.table.core.windows.net/","file":"https://zubairsaccy.file.core.windows.net/"},"primaryLocation":"centraluseuap","statusOfPrimary":"available","secondaryLocation":"eastus2euap","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://zubairsaccy-secondary.blob.core.windows.net/","queue":"https://zubairsaccy-secondary.queue.core.windows.net/","table":"https://zubairsaccy-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/zubairRG/providers/Microsoft.Network/virtualNetworks/zvm-jsdk1-vnet?api-version=2019-11-01
  response:
    body:
      string: '{"name":"zvm-jsdk1-vnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Network/virtualNetworks/zvm-jsdk1-vnet","etag":"W/\"23c5c3a8-84af-403e-bd89-fa9f87f4e829\"","type":"Microsoft.Network/virtualNetworks","location":"centraluseuap","tags":{"Owner":"zubairabid","Purpose":"Java
        SDK testing","DeleteBy":"12-2023","MABUsed":"No","AutoShutdown":"No"},"properties":{"provisioningState":"Succeeded","resourceGuid":"017bb056-4ea1-4ef5-b44f-e67ce9f159da","addressSpace":{"addressPrefixes":["10.30.0.0/16"]},"subnets":[{"name":"default","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Network/virtualNetworks/zvm-jsdk1-vnet/subnets/default","etag":"W/\"23c5c3a8-84af-403e-bd89-fa9f87f4e829\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.30.0.0/24","ipConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ADKAYETH/providers/Microsoft.Network/networkInterfaces/SD.NIC.FEDDB655-BB0A-4B49-B4F0-29348EF6CE1E/ipConfigurations/PRIVATEENDPOINTIPCONFIG.7ADFB795-B30B-4F5D-A468-31D2B2CB53D2"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ADKAYETH/providers/Microsoft.Network/networkInterfaces/SD.NIC.FEDDB655-BB0A-4B49-B4F0-29348EF6CE1E/ipConfigurations/PRIVATEENDPOINTIPCONFIG.DACE45A8-3807-47D5-ADC0-4EF0C59F[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupResourceGuardProxies?api-version=2025-02-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"objectType": "IaasVMRestoreRequest", "recoveryPointId":
      "31407900891996", "recoveryType": "AlternateLocation", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Compute/virtualMachines/zvm-jsdk2",
      "targetVirtualMachineId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Compute/virtualMachines/zvm-jsdk2-clitestrestore",
      "targetResourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG",
      "storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Storage/storageAccounts/zubairsaccy",
      "virtualNetworkId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Network/virtualNetworks/zvm-jsdk1-vnet",
      "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Network/virtualNetworks/zvm-jsdk1-vnet/subnets/default",
      "region": "centraluseuap", "createNewCloudService": false, "originalStorageAccountOption":
      false, "targetDiskNetworkAccessSettings": {"targetDiskNetworkAccessOption":
      "SameAsOnSourceDisks"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bzubairrg%3Bzvm-jsdk2/protectedItems/VM%3Biaasvmcontainerv2%3Bzubairrg%3Bzvm-jsdk2/recoveryPoints/31407900891996/restore?api-version=2025-02-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;zubairrg;zvm-jsdk2/protectedItems/VM;iaasvmcontainerv2;zubairrg;zvm-jsdk2/operationsStatus/6b6f5561-feff-4528-ab0d-b4be893862b3?api-version=2025-02-01&t=638823681638320155&c=MIIHpTCCBo2gAwIBAgITfwVz8lGbdX3H5D3nrAAEBXPyUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupOperations/6b6f5561-feff-4528-ab0d-b4be893862b3?api-version=2025-02-01
  response:
    body:
      string: '{"id":"6b6f5561-feff-4528-ab0d-b4be893862b3","name":"6b6f5561-feff-4528-ab0d-b4be893862b3","status":"InProgress","startTime":"2025-05-09T06:16:03.6577425Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupOperations/6b6f5561-feff-4528-ab0d-b4be893862b3?api-version=2025-02-01
  response:
    body:
      string: '{"id":"6b6f5561-feff-4528-ab0d-b4be893862b3","name":"6b6f5561-feff-4528-ab0d-b4be893862b3","status":"Succeeded","startTime":"2025-05-09T06:16:03.6577425Z","endTime":"2025-05-09T06:16:03.6577425Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"6b6f5561-feff-4528-ab0d-b4be893862b3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupJobs/6b6f5561-feff-4528-ab0d-b4be893862b3?api-version=2025-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupJobs/6b6f5561-feff-4528-ab0d-b4be893862b3","name":"6b6f5561-feff-4528-ab0d-b4be893862b3","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureIaaSVMJob","actionsInfo":["Cancellable"],"containerName":"iaasvmcontainerv2;zubairrg;zvm-jsdk2","duration":"PT7.615456S","virtualMachineVersion":"Compute","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","duration":"PT0S","status":"InProgress","taskType":"Normal"},{"taskId":"Create
        the restored virtual machine","duration":"PT0S","status":"NotStarted","taskType":"Normal"}],"propertyBag":{"Job
        Type":"Recover VM to an alternate location","Original VM Name":"zvm-jsdk2","Target
        VM Name":"zvm-jsdk2-clitestrestore","Target VNet Name":"Group zubairRG zvm-jsdk1-vnet","Target
        Storage Account Name":"zubairsaccy","Recovery point time ":"5/8/2025 8:38:46
        AM","Target resource group":"zubairRG"},"internalPropertyBag":{"restoreLocationType":"AlternateLocation"},"progressPercentage":1.0,"dynamicErrorMessage":""},"entityFriendlyName":"zvm-jsdk2","backupManagementType":"AzureIaasVM","operation":"Restore","status":"InProgress","startTime":"2025-05-09T06:16:03.6577425Z","activityId":"0dd0a4bc-2c9d-11f0-a842-6ca10057228e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Compute/virtualMachines/zvm-jsdk2-clitestrestore?api-version=2024-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/61c89c54-b25d-42fd-9a14-96bdcd404573?p=89a6dd27-400b-4025-b430-00bf7d044bd4&api-version=2024-11-01&t=638823692374032866&c=MIIHpTCCBo2gAwIBAgITfwVz8lGbdX3H5D3nrAAEBXPyUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDE5MTMyOTU0Wh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/61c89c54-b25d-42fd-9a14-96bdcd404573?p=89a6dd27-400b-4025-b430-00bf7d044bd4&api-version=2024-11-01&t=638823692374032866&c=MIIHpTCCBo2gAwIBAgITfwVz8lGbdX3H5D3nrAAEBXPyUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupJobs/e24c703c-bbda-417f-80cf-2c9d6599d809?api-version=2025-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupJobs/e24c703c-bbda-417f-80cf-2c9d6599d809","name":"e24c703c-bbda-417f-80cf-2c9d6599d809","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureIaaSVMJob","actionsInfo":["Cancellable"],"containerName":"iaasvmcontainerv2;zubairrg;zvm-jsdk2","duration":"PT17M57.252486S","virtualMachineVersion":"Compute","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","duration":"PT0S","status":"Completed","taskType":"Normal"},{"taskId":"Create
        the restored virtual machine","duration":"PT0S","status":"Completed","taskType":"Normal"}],"propertyBag":{"Job
        Type":"Recover VM to an alternate location","Original VM Name":"zvm-jsdk2","Target
        VM Name":"zvm-jsdk2-clitestrestore","Target VNet Name":"Group zubairRG zvm-jsdk1-vnet","Target
        Storage Account Name":"zubairsaccy","Recovery point time ":"5/8/2025 8:38:46
        AM","Target resource group":"zubairRG"},"internalPropertyBag":{"restoreLocationType":"AlternateLocation"},"progressPercentage":100.0,"estimatedRemainingDuration":"PT0S"},"entityFriendlyName":"zvm-jsdk2","backupManagementType":"AzureIaasVM","operation":"Restore","status":"Completed","startTime":"2025-05-09T06:36:34.515592Z","endTime":"2025-05-09T06:54:31.768078Z","activityId":"e75390c3-2c9f-11f0-9219-6ca10057228e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/a706430c-e387-47b9-a513-4706f6e70957?p=89a6dd27-400b-4025-b430-00bf7d044bd4&api-version=2024-11-01&t=638823705328122560&c=MIIHhzCCBm-gAwIBAgITHgbO7uoaMgs7D03eGwAABs7u6jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDI[...]
[...]
- request:
    body: '{"properties": {"objectType": "IaasVMRestoreRequest", "recoveryPointId":
      "31407900891996", "recoveryType": "AlternateLocation", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Compute/virtualMachines/zvm-jsdk2",
      "targetVirtualMachineId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Compute/virtualMachines/zvm-jsdk2-clitestrestore",
      "targetResourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG",
      "storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Storage/storageAccounts/zubairsaccy",
      "virtualNetworkId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Network/virtualNetworks/zvm-jsdk1-vnet",
      "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Network/virtualNetworks/zvm-jsdk1-vnet/subnets/default",
      "region": "centraluseuap", "createNewCloudService": false, "originalStorageAccountOption":
      false, "targetDiskNetworkAccessSettings": {"targetDiskNetworkAccessOption":
      "EnablePrivateAccessForAllDisks", "targetDiskAccessId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.Compute/diskAccesses/clitest-access1"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zubairRG/providers/Microsoft.RecoveryServices/vaults/ztestvault1/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bzubairrg%3Bzvm-jsdk2/protectedItems/V[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/1543e91a-afef-4e27-a655-ce23e307b299?p=89a6dd27-400b-4025-b430-00bf7d044bd4&api-version=2024-11-01&t=638823717855308152&c=MIIHhzCCBm-gAwIBAgITHgbLpY5CrldwCElOhgAABsuljjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE[...]
[...]
