interactions:
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003?api-version=2016-06-01
  response:
    body:
      string: '{"location":"westus","name":"clitest-vault000003","etag":"W/\"datetime''2020-03-23T06%3A49%3A28.2106108Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-03-23T06:49:17Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\"\n          },\n
        \         \"CoreOS\": {\n            \"publisher\": \"CoreOS\",\n            \"offer\":
        \"CoreOS\",\n            \"sku\": \"Stable\",\n            \"version\": \"latest\"\n
        \         },\n          \"Debian\": {\n            \"publisher\": \"Debian\",\n
        \           \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n            \"version\":
        \"latest\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"openSUSE-Leap\",\n            \"sku\":
        \"42.3\",\n            \"version\": \"latest\"\n          },\n          \"RHEL\":
        {\n            \"publisher\": \"RedHat\",\n            \"offer\": \"RHEL\",\n
        \           \"sku\": \"7-LVM\",\n            \"version\": \"latest\"\n          },\n
        \         \"SLES\": {\n            \"publisher\": \"SUSE\",\n            \"offer\":
        \"SLES\",\n            \"sku\": \"15\",\n            \"version\": \"latest\"\n
        \         },\n          \"UbuntuLTS\": {\n            \"publisher\": \"Canonical\",\n
        \           \"offer\": \"UbuntuServer\",\n            \"sku\": \"18.04-LTS\",\n
        \           \"version\": \"latest\"\n          }\n        },\n        \"Windows\":
        {\n          \"Win2019Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2019-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2016Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n            \"version\":
        \"latest\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\"\n          },\n
        \         \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2008R2SP1\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2008-R2-SP1\",\n            \"version\":
        \"latest\"\n          }\n        }\n      }\n    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"540044b4084c3c314537f1baa1770f248628b2bc9ba0328f1004c33862e049da"
      source-age:
      - '6'
      x-fastly-request-id:
      - 170bd5e5ad5f188b84e170ef619025fc09c8e067
      x-geo-block-list:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "clitest-vm000004VNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {"MabUsed":
      "Yes", "Owner": "sisi", "Purpose": "CLITest", "DeleteBy": "12-2099", "AutoShutdown":
      "No"}, "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"name": "clitest-vm000004Subnet", "properties": {"addressPrefix":
      "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups", "name":
      "clitest-vm000004NSG", "apiVersion": "2015-06-15", "location": "westus", "tags":
      {"MabUsed": "Yes", "Owner": "sisi", "Purpose": "CLITest", "DeleteBy": "12-2099",
      "AutoShutdown": "No"}, "dependsOn": [], "properties": {"securityRules": [{"name":
      "rdp", "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "3389", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"apiVersion": "2018-01-01",
      "type": "Microsoft.Network/publicIPAddresses", "name": "clitest-vm000004PublicIP",
      "location": "westus", "tags": {"MabUsed": "Yes", "Owner": "sisi", "Purpose":
      "CLITest", "DeleteBy": "12-2099", "AutoShutdown": "No"}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "clitest-vm000004VMNic", "location": "westus", "tags": {"MabUsed": "Yes",
      "Owner": "sisi", "Purpose": "CLITest", "DeleteBy": "12-2099", "AutoShutdown":
      "No"}, "dependsOn": ["Microsoft.Network/virtualNetworks/clitest-vm000004VNET",
      "Microsoft.Network/networkSecurityGroups/clitest-vm000004NSG", "Microsoft.Network/publicIpAddresses/clitest-vm000004PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigclitest-vm000004", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000004VNET/subnets/clitest-vm000004Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000004PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000004NSG"}}},
      {"apiVersion": "2019-07-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "clitest-vm000004", "location": "westus", "tags": {"MabUsed": "Yes", "Owner":
      "sisi", "Purpose": "CLITest", "DeleteBy": "12-2099", "AutoShutdown": "No"},
      "dependsOn": ["Microsoft.Network/networkInterfaces/clitest-vm000004VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000004VMNic"}]},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": null, "caching":
      "ReadWrite", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer", "sku": "2012-R2-Datacenter",
      "version": "latest"}}, "osProfile": {"computerName": "clitest-vm000004", "adminUsername":
      "clitest-vm000004", "adminPassword": "[parameters(\\\''adminPassword\\\'')]"}}}],
      "outputs": {}}, "parameters": {"adminPassword": {"value": "%j^VYw9Q3Z@Cu$*h"}},
      "mode": "Incremental"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_h3zW018tWRqt3lOFC7Dig7e536LEik8L","name":"vm_deploy_h3zW018tWRqt3lOFC7Dig7e536LEik8L","type":"Microsoft.Resources/deployments","properties":{"templateHash":"2573491974794997066","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-03-23T06:49:35.4367924Z","duration":"PT2.0677917S","correlationId":"3e176501-ccaf-4c87-a5d5-a3695ec6fa89","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000004VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"clitest-vm000004VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000004NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"clitest-vm000004NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000004PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"clitest-vm000004PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000004VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"clitest-vm000004VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000004VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"clitest-vm000004VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000004","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"clitest-vm000004"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_h3zW018tWRqt3lOFC7Dig7e536LEik8L/operationStatuses/08586166607121087207?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586166607121087207?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000004?$expand=instanceView&api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitest-vm000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000004\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"MabUsed\": \"Yes\",\r\n    \"Owner\": \"sisi\",\r\n
        \   \"Purpose\": \"CLITest\",\r\n    \"DeleteBy\": \"12-2099\",\r\n    \"AutoShutdown\":
        \"No\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"bf1bbb8a-cb87-45d1-85c0-0440a70640d7\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\":
        \"2012-R2-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"9600.19652.2003081959\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Windows\",\r\n        \"name\": \"clitest-vm000004_disk1_b440cf9bcecd4b14b5ae79da40013450\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLITEST.RG6AARBQX6HBNKGP7I5OVGPEVA5G5GEYBJ3QCPGQGAKWJMHDAXOTTWNNLPCJ3NUSVKS/providers/Microsoft.Compute/disks/clitest-vm000004_disk1_b440cf9bcecd4b14b5ae79da40013450\"\r\n
        \       },\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\":
        []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"clitest-vm000004\",\r\n
        \     \"adminUsername\": \"clitest-vm000004\",\r\n      \"windowsConfiguration\":
        {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\":
        true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000004VMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"vmAgent\":
        {\r\n        \"vmAgentVersion\": \"Unknown\",\r\n        \"statuses\": [\r\n
        \         {\r\n            \"code\": \"ProvisioningState/Unavailable\",\r\n
        \           \"level\": \"Warning\",\r\n            \"displayStatus\": \"Not
        Ready\",\r\n            \"message\": \"VM status blob is found but not yet
        populated.\",\r\n            \"time\": \"2020-03-23T06:58:27+00:00\"\r\n          }\r\n
        \       ]\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\":
        \"clitest-vm000004_disk1_b440cf9bcecd4b14b5ae79da40013450\",\r\n          \"statuses\":
        [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2020-03-23T06:55:12.6384773+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2020-03-23T06:58:16.5055241+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3997,Microsoft.Compute/LowCostGet30Min;31997
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000004VMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitest-vm000004VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000004VMNic\",\r\n
        \ \"etag\": \"W/\\\"de66b9c3-4b01-44d8-b42a-d37798497261\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {\r\n    \"MabUsed\": \"Yes\",\r\n    \"Owner\":
        \"sisi\",\r\n    \"Purpose\": \"CLITest\",\r\n    \"DeleteBy\": \"12-2099\",\r\n
        \   \"AutoShutdown\": \"No\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"3b78da21-c2fe-4a51-a7cb-0a5993d0326a\",\r\n
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigclitest-vm000004\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000004VMNic/ipConfigurations/ipconfigclitest-vm000004\",\r\n
        \       \"etag\": \"W/\\\"de66b9c3-4b01-44d8-b42a-d37798497261\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000004PublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000004VNET/subnets/clitest-vm000004Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"one24gwrtg0ebdqlskykj4lufe.dx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-0D-3A-3A-B2-68\",\r\n    \"enableAcceleratedNetworking\": false,\r\n
        \   \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000004NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000004\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"de66b9c3-4b01-44d8-b42a-d37798497261"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000004PublicIP?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitest-vm000004PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000004PublicIP\",\r\n
        \ \"etag\": \"W/\\\"07ef9e1e-5eb6-4641-95a8-2f054bf37730\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {\r\n    \"MabUsed\": \"Yes\",\r\n    \"Owner\":
        \"sisi\",\r\n    \"Purpose\": \"CLITest\",\r\n    \"DeleteBy\": \"12-2099\",\r\n
        \   \"AutoShutdown\": \"No\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"904c9b37-6872-4ee6-8f43-b64dca19bb84\",\r\n
        \   \"ipAddress\": \"40.112.172.82\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000004VMNic/ipConfigurations/ipconfigclitest-vm000004\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"07ef9e1e-5eb6-4641-95a8-2f054bf37730"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000004?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitest-vm000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000004\",\r[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupPolicies/DefaultPolicy?api-version=2019-06-15
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupPolicies/DefaultPolicy","name":"DefaultPolicy","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureIaasVM","instantRPDetails":{},"schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2020-03-23T16:30:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2020-03-23T16:30:00Z"],"retentionDuration":{"count":30,"durationType":"Days"}}},"instantRpRetentionRangeInDays":2,"timeZone":"UTC","protectedItemsCount":0}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupProtectableItems?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureIaasVM%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;asebvtrg;asebvtvm2/protectableItems/vm;iaasvmcontainerv2;asebvtrg;asebvtvm2","name":"iaasvmcontainerv2;asebvtrg;asebvtvm2","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ASEBVTRG/providers/Microsoft.Compute/virtualMachines/asebvtvm2","virtualMachineVersion":"Compute","resourceGroup":"ASEBVTRG","backupManagementType":"AzureIaasVM","protectableItemType":"Microsoft.Compute/virtualMachines","friendlyName":"asebvtvm2","protectionState":"NotProtected"}},{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;asebvtrg;asebvtvm3/protectableItems/vm;iaasvmcontainerv2;asebvtrg;asebvtvm3","name":"iaasvmcontainerv2;asebvtrg;asebvtvm3","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"virtualMachineId":"/[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupFabrics/Azure/refreshContainers?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupFabrics/Azure/operationsStatus/8a780d4f-207d-46a3-be34-dbfca59f8539?api-version=2019-05-13-preview
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupFabrics/Azure/operationResults/8a780d4f-207d-46a3-be34-dbfca59f8539?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupFabrics/Azure/operationResults/8a780d4f-207d-46a3-be34-dbfca59f8539?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupFabrics/Azure/operationResults/8a780d4f-207d-46a3-be34-dbfca59f8539?api-version=2016-12-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: 'b''b\''b\\\''{"properties": {"sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000004",
      "policyId": "/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupPolicies/DefaultPolicy",
      "protectedItemType": "Microsoft.Compute/virtualMachines"}}\\\''\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bclitest.rg000001%3Bclitest-vm000004/protectedItems/vm%3Biaasvmcontainerv2%3Bclitest.rg000001%3Bcl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupOperations/734ee47b-4932-43b6-a5cf-0dd8ccde770d?api-version=2016-12-01
  response:
[...]
