interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupProtectionContainers?api-version=2026-07-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;bhar11-prt-restore-rg-tgt;bhar11prtalr5sasami","name":"StorageContainer;Storage;bhar11-prt-restore-rg-tgt;bhar11prtalr5sasami","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg-tgt/providers/Microsoft.Storage/storageAccounts/bhar11prtalr5sasami","protectedItemCount":2,"acquireStorageAccountLock":"Acquire","accessType":"IdentityBased","identityInfo":{"isSystemAssignedIdentity":true},"friendlyName":"bhar11prtalr5sasami","backupManagementType":"AzureStorage","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"StorageContainer","protectableObjectType":"StorageContainer","sourceLocation":"westeurope"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;bhar11-prt-restore-rg-tgt;bhar11prtalr5satgt","name":"StorageContainer;Storage;bhar11-prt-restore-rg-tgt;bhar11prtalr5satgt","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg-tgt/providers/Microsoft.Storage/storageAccounts/bhar11prtalr5satgt","protectedItemCount":0,"acquireStorageAccountLock":"Acquire","accessType":"IdentityBased","identityInfo":{"isSystemAssignedIdentity":false,"managedIdentityResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/bhar11-prt-restore-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/bhar11-afs-uami-09151013"},"friendlyName":"bhar11prtalr5satgt","backupManagementType":"AzureStorage","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"StorageContainer","protectableObjectType":"StorageContainer","sourceLocation":"westeurope"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-[...]
- request:
    body: '{"properties": {"friendlyName": "afsuami09191425", "backupManagementType":
      "AzureStorage", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.Storage/storageAccounts/afsuami09191425",
      "resourceGroup": "bhar11-prt-restore-rg", "operationType": "Reregister", "accessType":
      "IdentityBased", "identityInfo": {"isSystemAssignedIdentity": true}, "containerType":
      "StorageContainer"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bbhar11-prt-restore-rg%3Bafsuami09191425?api-version=2026-07-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;bhar11-prt-restore-rg;afsuami09191425/operationsStatus/d9d90d45-02c1-44e2-9a7f-6ccfb4a9e1b7?api-version=2019-05-13-preview&t=639255706680092613&c=MIIHlDCCBnygAwIBAgIQeEidveEb90AyQzV3Vg_ZqzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bbhar11-prt-restore-rg%3Bafsuami09191425/operationResults/d9d90d45-02c1-44e2-9a7f-6ccfb4a9e1b7?api-version=2026-07-01
  response:
    body:
      string: '{}'
    headers:
      azure-asy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bbhar11-prt-restore-rg%3Bafsuami09191425/operationResults/d9d90d45-02c1-44e2-9a7f-6ccfb4a9e1b7?api-version=2026-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;bhar11-prt-restore-rg;afsuami09191425","name":"StorageContainer;Storage;bhar11-prt-restore-rg;afsuami09191425","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.Storage/storageAccounts/afsuami09191425","protectedItemCount":2,"acquireStorageAccountLock":"Acquire","accessType":"IdentityBased","identityInfo":{"isSystemAssignedIdentity":true},"friendlyName":"afsuami09191425","backupManagementType":"AzureStorage","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"StorageContainer","protectableObjectType":"StorageContainer","sourceLocation":"westeurope"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupProtectionContainers?api-version=2026-07-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20friendlyName%20eq%20%27afsuami09191425%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscri[...]
[...]
- request:
    body: '{"properties": {"enabledProtocols": "SMB", "shareQuota": 100}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.Storage/storageAccounts/afsuami09191425/fileServices/default/shares/climsirec000001?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.Storage/storageAccounts/afsuami09191425/fileServices/default/shares/climsirec000001","name":"climsirec000001","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"shareQuota":100,"enabledProtocols":"SMB"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DF17ADCD01BE25"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.Storage/storageAccounts/afsuami09191425/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-09-19T08:57:56.6917055Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-09-19T08:57:56.6917055Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 21 Sep 2026 06:58:56 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://afsuami09191425.file.core.windows.net/climsirec000001/seed?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DF17ADCE62DDD6"'
      last-modified:
      - Mon, 21 Sep 2026 06:58:56 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2026-09-21T06:58:56.9266646Z'
      x-ms-file-creation-time:
      - '2026-09-21T06:58:56.9266646Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2026-09-21T06:58:56.9266646Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 16923638635434935913*9369723355163693536
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupProtectableItems?api-version=2026-07-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20workloadType%20eq%20%27AzureFileShare%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/storagecontainer;storage;bhar11-prt-restore-rg;afskey09191425/protectableItems/azurefileshare;keyshare","name":"azurefileshare;keyshare","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentContainerFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.Storage/storageAccounts/afskey09191425","parentContainerFriendlyName":"afskey09191425","azureFileShareType":"XSMB","backupManagementType":"AzureStorage","workloadType":"AzureFileShare","protectableItemType":"AzureFileShare","friendlyName":"keyshare","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/storagecontainer;storage;bhar11-prt-restore-rg;afsregkey09161005/protectableItems/azurefileshare;keyrestore","name":"azurefileshare;keyrestore","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentContainerFabricId":"/su[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bbhar11-prt-restore-rg%3Bafsuami09191425/inquire?$filter=workloadType%20eq%20%27AzureFileShare%27&api-version=2026-07-01
  response:
    body:
      string: ''
    headers:
      azure-a[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupPolicies/bhar11-prt-snapshot-policy?api-version=2026-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupPolicies/bhar11-prt-snapshot-policy","name":"bhar11-prt-snapshot-policy","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureStorage","workLoadType":"AzureFileShare","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2026-09-01T22:00:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2026-09-01T22:00:00Z"],"retentionDuration":{"count":30,"durationType":"Days"}}},"timeZone":"UTC","protectedItemsCount":27}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"protectedItemType": "AzureFileShareProtectedItem", "policyId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupPolicies/bhar11-prt-snapshot-policy",
      "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.Storage/storageAccounts/afsuami09191425"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupOperations/f53118c9-bb37-4225-9906-7d4c24079d8c?api-version=2026-07-01
  response:
    body:
      string: '{"id":"f53118c9-bb37-4225-9906-7d4c24079d8c","name":"f53118c9-bb37-4225-9906-7d4c24079d8c","status":"InProgress","startTime":"2026-09-21T06:59:23.4663255Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupOperations/f53118c9-bb37-4225-9906-7d4c24079d8c?api-version=2026-07-01
  response:
    body:
      string: '{"id":"f53118c9-bb37-4225-9906-7d4c24079d8c","name":"f53118c9-bb37-4225-9906-7d4c24079d8c","status":"Succeeded","startTime":"2026-09-21T06:59:23.4663255Z","endTime":"2026-09-21T06:59:23.4663255Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"f4cdac5e-4fae-4c9f-bb4f-4ab02eaec8af"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupJobs/f4cdac5e-4fae-4c9f-bb4f-4ab02eaec8af?api-version=2026-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupJobs/f4cdac5e-4fae-4c9f-bb4f-4ab02eaec8af","name":"f4cdac5e-4fae-4c9f-bb4f-4ab02eaec8af","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureStorageJob","duration":"PT1M13.5419103S","storageAccountName":"afsuami09191425","storageAccountVersion":"Storage","extendedInfo":{"tasksList":[],"propertyBag":{"File
        Share Name":"climsirec000001","Storage Account Name":"afsuami09191425","Policy
        Name":"bhar11-prt-snapshot-policy"}},"isUserTriggered":false,"entityFriendlyName":"climsirec000001","backupManagementType":"AzureStorage","operation":"ConfigureBackup","status":"Completed","startTime":"2026-09-21T06:59:23.4663255Z","endTime":"2026-09-21T07:00:37.0082358Z","activityId":"ea37cde8-b589-11f1-bd01-6045bda581f9"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupProtectedItems?api-version=2026-07-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20itemType%20eq%20%27AzureFileShare%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;bhar11-prt-restore-rg-tgt;bhar11prtalr5sasami/protectedItems/AzureFileShare;E550032D1014827612A3C5E16979A659325DC79E1D281E67829CC251A7BE04EA","name":"AzureFileShare;E550032D1014827612A3C5E16979A659325DC79E1D281E67829CC251A7BE04EA","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"vault-tgt-fs","fileShareProtocol":"SMB","protectionStatus":"Unhealthy","protectionState":"IRPending","lastBackupStatus":"Failed","lastBackupTime":"2026-09-20T22:19:13.8603389Z","protectedItemType":"AzureFileShareProtectedItem","backupManagementType":"AzureStorage","workloadType":"AzureFileShare","containerName":"StorageContainer;Storage;bhar11-prt-restore-rg-tgt;bhar11prtalr5sasami","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg-tgt/providers/Microsoft.Storage/storageAccounts/bhar11prtalr5sasami","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupPolicies/bhar11-prt-vault-policy","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv","isArchiveEnabled":false,"softDeleteRetentionPeriod":0,"sourceLocation":"westeurope","sourceSideScanInfo":{"sourceSideScanStatus":"NotApplicable","sourceSideScanSummary":"NotApplicable"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;bhar11-prt-restore-rg-tgt;bhar11prtalr5sasami/protectedItems/AzureFileShare;12DBCFE6781E105BD2C0BC76884976F581BC008C108BA6104C4DFE09DBEEE99F","name":"AzureFileShare;12DBCFE6781E105BD2C0BC76884976F581BC008C108BA6104C4DFE09DBEEE99F","type":"Microsoft.Recover[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bbhar11-prt-restore-rg%3Bafsuami09191425/protectedItems/AzureFileShare%3Be87b827cf821b0e0bc080bd3cc0b18e6705bfb19d5c408cdd95c27c624f99024?api-version=2026-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;storage;bhar11-prt-restore-rg;afsuami09191425/protectedItems/AzureFileShare;e87b827cf821b0e0bc080bd3cc0b18e6705bfb19d5c408cdd95c27c624f99024","name":"AzureFileShare;e87b827cf821b0e0bc080bd3cc0b18e6705bfb19d5c408cdd95c27c624f99024","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"climsirec000001","fileShareProtocol":"SMB","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"IRPending","extendedInfo":{"recoveryPointCount":0,"policyState":"Consistent","resourceState":"Active","resourceStateSyncTime":"2026-09-21T07:00:36.5394888Z"},"protectedItemType":"AzureFileShareProtectedItem","backupManagementType":"AzureStorage","workloadType":"AzureFileShare","containerName":"StorageContainer;storage;bhar11-prt-restore-rg;afsuami09191425","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.storage/storageAccounts/afsuami09191425","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupPolicies/bhar11-prt-snapshot-policy","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv","isArchiveEnabled":false,"softDeleteRetentionPeriod":0,"sourceLocation":"westeurope","sourceSideScanInfo":{"sourceSideScanStatus":"NotApplicable","sourceSideScanSummary":"NotApplicable"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"recoveryPointExpiryTimeInUTC": "2026-10-21T00:00:00Z",
      "objectType": "AzureFileShareBackupRequest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bbhar11-prt-restore-rg%3Bafsuami09191425/protectedItems/AzureFileShare%3Be87b827cf821b0e0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupJobs/1c3095e8-5803-4725-984c-0e8c596e8296?api-version=2026-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupJobs/1c3095e8-5803-4725-984c-0e8c596e8296","name":"1c3095e8-5803-4725-984c-0e8c596e8296","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureStorageJob","duration":"PT2.5604584S","storageAccountName":"afsuami09191425","storageAccountVersion":"MicrosoftStorage","extendedInfo":{"tasksList":[{"taskId":"Take
        Snapshot","taskType":"Normal","status":"InProgress"}],"propertyBag":{"Data
        Transferred (in MB)":"0","File Share Name":"climsirec000001","Whether job
        is adhoc or scheduled.":"True"}},"isUserTriggered":false,"entityFriendlyName":"climsirec000001","backupManagementType":"AzureStorage","operation":"Backup","status":"InProgress","startTime":"2026-09-21T07:00:44.2543418Z","activityId":"286c32ed-b58a-11f1-baec-6045bda581f9"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bbhar11-prt-restore-rg%3Bafsuami09191425/protectedItems/AzureFileShare%3Be87b827cf821b0e0bc080bd3cc0b18e6705bfb19d5c408cdd95c27c624f99024?api-version=2026-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;storage;bhar11-prt-restore-rg;afsuami09191425/protectedItems/AzureFileShare;e87b827cf821b0e0bc080bd3cc0b18e6705bfb19d5c408cdd95c27c624f99024","name":"AzureFileShare;e87b827cf821b0e0bc080bd3cc0b18e6705bfb19d5c408cdd95c27c624f99024","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"climsirec000001","fileShareProtocol":"SMB","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Completed","lastBackupTime":"2026-09-21T07:00:44.2543418Z","extendedInfo":{"oldestRecoveryPoint":"2026-09-21T07:00:47Z","recoveryPointCount":1,"policyState":"Consistent","resourceState":"Active","resourceStateSyncTime":"2026-09-21T07:00:52Z"},"protectedItemType":"AzureFileShareProtectedItem","backupManagementType":"AzureStorage","workloadType":"AzureFileShare","containerName":"StorageContainer;storage;bhar11-prt-restore-rg;afsuami09191425","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.storage/storageAccounts/afsuami09191425","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupPolicies/bhar11-prt-snapshot-policy","lastRecoveryPoint":"2026-09-21T07:00:47Z","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv","isArchiveEnabled":false,"softDeleteRetentionPeriod":0,"sourceLocation":"westeurope","sourceSideScanInfo":{"sourceSideScanStatus":"NotApplicable","sourceSideScanSummary":"NotApplicable"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bbhar11-prt-restore-rg%3Bafsuami09191425/protectedItems/AzureFileShare%3Be87b827cf821b0e0bc080bd3cc0b18e6705bfb19d5c408cdd95c27c624f99024/recoveryPoints?api-version=2026-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bhar11-prt-restore-rg/providers/Microsoft.RecoveryServices/vaults/bhar11-prt-olr-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;storage;bhar11-prt-restore-rg;afsuami09191425/protectedItems/AzureFileShare;e87b827cf821b0e0bc080bd3cc0b18e6705bfb19d5c408cdd95c27c624f99024/recoveryPoints/1847532043816240297","name":"1847532043816240297","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureFileShareRecoveryPoint","recoveryPointType":"FileSystemConsistent","recoveryPointTime":"2026-09-21T07:00:47Z","fileShareSnapshotUri":"https://afsuami09191425.file.core.windows.net/climsirec000001?sharesnapshot=2026-09-21T07:00:47.0000000Z","recoveryPointSizeInGB":0,"recoveryPointProperties":{"isSoftDeleted":false},"recoveryPointTierDetails":[{"type":"InstantRP","status":"Valid"}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/bhar11-prt-restore-rg/providers/Microsoft.ClassicStorage/storageAccounts/afsuami09191425?api-version=2015-12-01
  response:
    body:
      string: '{"error":{"code":"InvalidResourceNamespace","message":"The resource
        namespace ''Microsoft.ClassicStorage'' is invalid."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/bhar11-prt-restore-rg/providers/Microsoft.Storage/storageAccounts/afsuami09191425?api-version=2016-01-01
  response:
    body:
[...]
