interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectionContainers?api-version=2021-01-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sarath-rg;pstestvm","name":"VMAppContainer;Compute;sarath-rg;pstestvm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/virtualMachines/pstestvm","lastUpdatedTime":"2019-10-30T12:37:05.4211371Z","extendedInfo":{"hostServerName":"pstestvm","inquiryInfo":{"status":"Success","errorDetail":{"code":"UserErrorOpeningSQLConnection","message":"Azure
        Backup service is not able to connect to the SQL instance.","recommendations":["Please
        refer to the general troubleshooting information about SQL connection failures.
        For troubleshooting instructions, see https://aka.ms/AB-usererroropeningsqlconnection"]},"inquiryDetails":[{"type":"SQL","itemCount":0,"inquiryValidation":{"status":"Failed","errorDetail":{"code":"UserErrorOpeningSQLConnection","message":"Azure
        Backup service is not able to connect to the SQL instance.","recommendations":["Please
        refer to the general troubleshooting information about SQL connection failures.
        For troubleshooting instructions, see https://aka.ms/AB-usererroropeningsqlconnection"]},"additionalDetail":"SQLPlugin:
        Exception while Opening SQL Connection:Data Source=.;Integrated Security=True;Pooling=True;Application
        Name=AzureWorkloadBackup Exception:Login failed for user ''NT AUTHORITY\\SYSTEM''."}},{"type":"SAPHana","itemCount":0,"inquiryValidation":{"status":"Failed","errorDetail":{"code":"UserErrorOpeningSQLConnection","message":"Azure
        Backup service is not able to connect to the SQL instance.","recommendations":["Please
        refer to the general troubleshooting information about SQL connection failures.
        For troubleshooting instructions, see https://aka.ms/AB-usererroropeningsqlconnection"]},"additionalDetail":"SQLPlugin:
        Exception while Opening SQL Connection:Data Source=.;Integrated Security=True;Pooling=True;Application
        Name=AzureWorkloadBackup Exception:Login failed for user ''NT AUTHORITY\\SYSTEM''."}}]}},"friendlyName":"pstestvm","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Deleted","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sarath-rg;sarath-sqltestvm","name":"VMAppContainer;Compute;sarath-rg;sarath-sqltestvm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectableItems?api-version=2021-01-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20workloadType%20eq%20%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sarath-rg;pstestvm/protectableItems/sqlinstance;mssqlserver","name":"sqlinstance;mssqlserver","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"MSSQLSERVER","serverName":"pstestvm","isAutoProtectable":true,"isAutoProtected":false,"subinquireditemcount":0,"subprotectableitemcount":0,"prebackupvalidation":{"status":"Failed","code":"UserErrorOpeningSQLConnection","message":"SQLPlugin:
        Exception while Opening SQL Connection:Data Source=.;Integrated Security=True;Pooling=True;Application
        Name=AzureWorkloadBackup Exception:Login failed for user ''NT AUTHORITY\\SYSTEM''."},"IsProtectable":false,"backupManagementType":"AzureWorkload","workloadType":"SQL","protectableItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sarath-rg;sarath-sqltestvm/protectableItems/sqlinstance;mssqlserver","name":"sqlinstance;mssqlserver","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"MSSQLSERVER","serverName":"sarath-sqltestv","isAutoPr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/HourlyLogBackup?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/HourlyLogBackup","name":"HourlyLogBackup","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureWorkload","workLoadType":"SQLDataBase","settings":{"timeZone":"UTC","issqlcompression":false,"isCompression":false},"subProtectionPolicy":[{"policyType":"Full","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2020-07-12T18:00:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2020-07-12T18:00:00Z"],"retentionDuration":{"count":30,"durationType":"Days"}}}},{"policyType":"Log","schedulePolicy":{"schedulePolicyType":"LogSchedulePolicy","scheduleFrequencyInMins":60},"retentionPolicy":{"retentionPolicyType":"SimpleRetentionPolicy","retentionDuration":{"count":30,"durationType":"Days"}}}],"protectedItemsCount":1}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "workloadType":
      "SQLDataBase", "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/HourlyLogBackup",
      "protectedItemType": "AzureVmWorkloadSQLDatabase"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer%3Bcompute%3Bsarath-rg%3Bsarathvm/protectedItems/sqldatabase%3Bmssqlserver%3Bmsdb?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sarath-rg;sarathvm/protectedItems/sqldatabase;mssqlserver;msdb/operationsStatus/465d1d22-8203-4f65-903c-fb4f00fa8aad?api-version=2021-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sarath-rg;sarathvm/protectedItems/sqldatabase;mssqlserver;msdb/operationResults/465d1d22-8203-4f65-903c-fb4f00fa8aad?api-version=2021-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupOperations/465d1d22-8203-4f65-903c-fb4f00fa8aad?api-version=2021-01-01
  response:
    body:
      string: '{"id":"465d1d22-8203-4f65-903c-fb4f00fa8aad","name":"465d1d22-8203-4f65-903c-fb4f00fa8aad","status":"InProgress","startTime":"2021-06-21T15:21:16.3436961Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '127'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupOperations/465d1d22-8203-4f65-903c-fb4f00fa8aad?api-version=2021-01-01
  response:
    body:
      string: '{"id":"465d1d22-8203-4f65-903c-fb4f00fa8aad","name":"465d1d22-8203-4f65-903c-fb4f00fa8aad","status":"Succeeded","startTime":"2021-06-21T15:21:16.3436961Z","endTime":"2021-06-21T15:21:16.3436961Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"83dfd9ca-361b-4533-b66b-441f2db0cf8f"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '66'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/83dfd9ca-361b-4533-b66b-441f2db0cf8f?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/83dfd9ca-361b-4533-b66b-441f2db0cf8f","name":"83dfd9ca-361b-4533-b66b-441f2db0cf8f","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","workloadType":"SQLDataBase","duration":"PT1M16.1820958S","extendedInfo":{"tasksList":[],"propertyBag":{"Policy
        Name":"HourlyLogBackup"}},"isUserTriggered":true,"entityFriendlyName":"msdb","backupManagementType":"AzureWorkload","operation":"ConfigureBackup","status":"Completed","startTime":"2021-06-21T15:21:16.3436961Z","endTime":"2021-06-21T15:22:32.5257919Z","activityId":"5121912c-d2a4-11eb-9392-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '146'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsarath-rg%3Bsarathvm?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsarath-rg%3Bsarathvm/protectedItems/sqldatabase%3Bmssqlserver%3Bmsdb?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sarath-rg;sarathvm/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{},"friendlyName":"msdb","serverName":"sarathvm","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"IRPending","lastBackupErrorDetail":{"code":"Success","message":""},"protectedItemDataSourceId":"70369771649155","protectedItemHealthStatus":"IRPending","extendedInfo":{"recoveryPointCount":0,"policyState":"Consistent","recoveryModel":"SIMPLE"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sarath-rg;sarathvm","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/virtualMachines/sarathvm","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/HourlyLogBackup","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsarath-rg%3Bsarathvm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sar[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectedItems?api-version=2021-01-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20itemType%20eq%20%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sarath-rg;sarathvm/protectedItems/SQLDataBase;mssqlserver;mssqlserver","name":"SQLDataBase;mssqlserver;mssqlserver","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{},"friendlyName":"mssqlserver","serverName":"sarathvm","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"ProtectionStopped","lastBackupStatus":"IRPending","lastBackupTime":"2021-03-10T10:46:14.6745281Z","lastBackupErrorDetail":{"code":"CloudInternalError","message":"Microsoft
        Azure Backup encountered an internal error.","recommendations":["Wait for
        a few minutes and then try the operation again. If the issue persists, please
        contact Microsoft support."]},"protectedItemDataSourceId":"70368912626492","protectedItemHealthStatus":"NotReachable","protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sarath-rg;sarathvm","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/virtualMachines/sarathvm","isArchiveEnabled":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sarath-rg;sarathvm/protectedItems/SQLDataBase;mssqlserver;master","name":"SQLDataBase;mssqlserver;master","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{"RestoreOperationStatusKPI":{"resourceHealthStatus":"PersistentDegraded","resourceHealthDetails":[{"code":530212,"title":"VMNotInRunningStateUserError","message":"Machine
        is either shutdown or not accessible to Azure Backup service.","recommendations":["Please
        ensure the server is running and Azure Backup service can access the server.
        For troubleshooting instructions, see https://aka.ms/AB-vmnotinrunningstateusererror"]}]},"BackupOperationStatusKPI":{"resourceHealthStatus":"Healthy","resourceHealthDetails":[{"code":0,"title":"Success","message":"","recommendations":[]}]}},"friendlyName":"master","serverName":"sarathvm","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2021-06-20T18:05:29.9229597Z","protectedItemDataSourceId":"70369341392009","protectedItemHealthStatus":"Healthy","protectedItemType":"AzureVmWorkloadSQL[...]
[...]
- request:
    body: '{"properties": {"policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/HourlyLogBackup",
      "protectedItemType": "AzureVmWorkloadSQLDatabase"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/93189c16-7f7a-4fd9-a5ea-66223d11a619?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/93189c16-7f7a-4fd9-a5ea-66223d11a619","name":"93189c16-7f7a-4fd9-a5ea-66223d11a619","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","workloadType":"SQLDataBase","duration":"PT32.4187323S","extendedInfo":{"tasksList":[],"propertyBag":{}},"isUserTriggered":true,"entityFriendlyName":"msdb","backupManagementType":"AzureWorkload","operation":"DeleteBackupData","status":"Completed","startTime":"2021-06-21T15:23:55.8541764Z","endTime":"2021-06-21T15:24:28.2729087Z","activityId":"b0adae7a-d2a4-11eb-9f49-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
version: 1
