interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupProtectedItems?api-version=2025-02-01&%24filter=backupManagementType+eq+%27AzureWorkLoad%27+and+itemType+eq+%27SAPAseDatabase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;ase-rg-ccy;ase-ccy-vm5/protectedItems/SAPAseDatabase;ab4;asetestdb1","name":"SAPAseDatabase;ab4;asetestdb1","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"asetestdb1","serverName":"ase-ccy-vm5","parentName":"AB4","parentType":"AzureVmWorkloadSAPAseSystem","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2025-04-29T10:06:43.9794285Z","protectedItemDataSourceId":"404620823563901","protectedItemHealthStatus":"Healthy","protectedItemType":"AzureVmWorkloadSAPAseDatabase","backupManagementType":"AzureWorkload","workloadType":"SAPAseDatabase","containerName":"VMAppContainer;compute;ase-rg-ccy;ase-ccy-vm5","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.Compute/virtualMachines/ase-ccy-vm5","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupPolicies/DailyPolicy-ma2c99lv","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs","isArchiveEnabled":false,"softDeleteRetentionPeriod":0}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;ase-rg-ccy;ase-ccy-vm5/protectedItems/SAPAseDatabase;ab4;asetestdb2","name":"SAPAseDatabase;ab4;asetestdb2","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"asetestdb2","serverName":"ase-ccy-vm5","parentName":"AB4","parentType":"AzureVmWorkloadSAPAseSystem","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"IRPending","lastBackupTime":"2025-04-29T10:04:06.2786166Z","lastBackupErrorDetail":{"code":"CloudInternalError","message":"Microsoft
        Azure Backup encountered an internal error.","recommendations":["Wait for
        a few minutes and then try the operation again. If the issue persists, please
        contact Microsoft support."]},"protectedItemDataSourceId":"404621923039925","protectedItemHealthStatus":"IRPending","protectedItemType":"AzureVmWorkloadSAPAseDatabase","backupManagementType":"AzureWorkload","workloadType":"SAPAseDatabase","containerName":"VMAppContainer;compute;ase-rg-ccy;ase-ccy-vm5","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.Compute/virtualMachines/ase-ccy-vm5","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupPolicies/DailyPolicy-ma2c99lv","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs","isArchiveEnabled":false,"softDeleteRetentionPeriod":0}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Base-rg-ccy%3Base-ccy-vm5/protectedItems/SAPAseDatabase%3Bab4%3Basetestdb1/recoveryPoints?api-version=2025-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;ase-rg-ccy;ase-ccy-vm5/protectedItems/SAPAseDatabase;ab4;asetestdb1/recoveryPoints/519635394458366","name":"519635394458366","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadRecoveryPoint","recoveryPointTimeInUTC":"2025-04-29T10:06:08.416Z","type":"Full","crossRegionRestoreState":"Supported","recoveryPointTierDetails":[{"type":"HardenedRP","status":"Valid"}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"We''re
        still determining if this Recovery Point can be moved.. Please check again
        after some time."}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;ase-rg-ccy;ase-ccy-vm5/protectedItems/SAPAseDatabase;ab4;asetestdb1/recoveryPoints/DefaultRangeRecoveryPoint","name":"DefaultRangeRecoveryPoint","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadPointInTimeRecoveryPoint","timeRanges":[],"type":"Log"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupProtectionContainers?api-version=2025-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;ase-rg-ccy;ase-ccy-vm5","name":"VMAppContainer;Compute;ase-rg-ccy;ase-ccy-vm5","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.Compute/virtualMachines/ase-ccy-vm5","lastUpdatedTime":"2025-04-29T09:58:50.5690464Z","extendedInfo":{"hostServerName":"ase-ccy-vm5","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SAPAse","itemCount":11,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":""}}]}},"friendlyName":"ase-ccy-vm5","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Base-rg-ccy%3Base-ccy-vm5/protectedItems/SAPAseDatabase%3Bab4%3Basetestdb1?api-version=2025-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;ase-rg-ccy;ase-ccy-vm5/protectedItems/SAPAseDatabase;ab4;asetestdb1","name":"SAPAseDatabase;ab4;asetestdb1","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"asetestdb1","serverName":"ase-ccy-vm5","parentName":"AB4","parentType":"AzureVmWorkloadSAPAseSystem","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2025-04-29T10:06:43.9794285Z","protectedItemDataSourceId":"404620823563901","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2025-04-29T10:06:08.416Z","recoveryPointCount":1,"policyState":"Consistent"},"protectedItemType":"AzureVmWorkloadSAPAseDatabase","backupManagementType":"AzureWorkload","workloadType":"SAPAseDatabase","containerName":"VMAppContainer;compute;ase-rg-ccy;ase-ccy-vm5","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.Compute/virtualMachines/ase-ccy-vm5","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupPolicies/DailyPolicy-ma2c99lv","lastRecoveryPoint":"2025-04-29T10:06:08.416Z","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs","isArchiveEnabled":false,"softDeleteRetentionPeriod":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Base-rg-ccy%3Base-ccy-vm5/protectedItems/SAPAseDatabase%3Bab4%3Basetestdb1/recoveryPoints/519635394458366?api-version=2025-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Base-rg-ccy%3Base-ccy-vm5/protectedItems/SAPAseDatabase%3Bab4%3Basetestdb1?api-version=2025-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroup[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupResourceGuardProxies?api-version=2025-02-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"objectType": "AzureWorkloadSAPAseRestoreRequest", "recoveryType":
      "OriginalLocation"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Base-rg-ccy%3Base-ccy-vm5/protectedItems/SAPAseDatabase%3Bab4%3Basetestdb1/recoveryPoints/519635394458366/restore?api-version=2025-02-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;ase-rg-ccy;ase-ccy-vm5/protectedItems/SAPAseDatabase;ab4;asetestdb1/operationsStatus/ae98c7b1-f074-4427-af90-f9bb303e4524?api-version=2025-02-01&t=638815219753315717&c=MIIHhzCCBm-gAwIBAgITHgbO7uoaMgs7D03eGwAABs7u6jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupOperations/ae98c7b1-f074-4427-af90-f9bb303e4524?api-version=2025-02-01
  response:
    body:
      string: '{"id":"ae98c7b1-f074-4427-af90-f9bb303e4524","name":"ae98c7b1-f074-4427-af90-f9bb303e4524","status":"Succeeded","startTime":"2025-04-29T11:12:55.1259099Z","endTime":"2025-04-29T11:12:55.1259099Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"ae98c7b1-f074-4427-af90-f9bb303e4524"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupJobs/ae98c7b1-f074-4427-af90-f9bb303e4524?api-version=2025-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-grs/backupJobs/ae98c7b1-f074-4427-af90-f9bb303e4524","name":"ae98c7b1-f074-4427-af90-f9bb303e4524","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":["Cancellable"],"workloadType":"SAPAseDatabase","duration":"PT3.3802495S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","taskType":"Normal","status":"InProgress"}],"propertyBag":{"Job
        Type":"Recovery to the original database"}},"isUserTriggered":true,"entityFriendlyName":"ab4;asetestdb1
        [ase-ccy-vm5]","backupManagementType":"AzureWorkload","operation":"Restore","status":"InProgress","startTime":"2025-04-29T11:12:55.1259099Z","activityId":"e199b6f2-24ea-11f0-b92a-6ca10057228e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '449'
    status:
      code: 200
      message: OK
version: 1
