interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectableContainers?api-version=2020-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy","name":"VMAppContainer;Compute;akneema;akneema-hana-ccy","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers","properties":{"friendlyName":"akneema-hana-ccy","backupManagementType":"AzureWorkload","protectableContainerType":"VMAppContainer","healthStatus":"Healthy","containerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-hana-ccy"}},{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;akneema;akneema-sql-ccy","name":"VMAppContainer;Compute;akneema;akneema-sql-ccy","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableCon[...]
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "containerType":
      "VMAppContainer", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-hana-ccy",
      "workloadType": "SAPHanaDatabase"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bakneema%3Bakneema-hana-ccy?api-version=2020-10-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy/operationsStatus/a9bef976-97e1-4441-9f82-29ea6b59cfde?api-version=2019-05-13-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy/operationResults/a9bef976-97e1-4441-9f82-29ea6b59cfde?api-version=2020-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bakneema%3Bakneema-hana-ccy/operationResults/a9bef976-97e1-4441-9f82-29ea6b59cfde?api-version=2020-10-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy/operationsStatus/a9bef976-97e1-4441-9f82-29ea6b59cfde?api-version=2019-05-13-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy/operationResults/a9bef976-97e1-4441-9f82-29ea6b59cfde?api-version=2020-10-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bakneema%3Bakneema-hana-ccy/operationResults/a9bef976-97e1-4441-9f82-29ea6b59cfde?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy","name":"VMAppContainer;Compute;akneema;akneema-hana-ccy","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-hana-ccy","lastUpdatedTime":"2021-01-16T17:03:32.3251092Z","extendedInfo":{"hostServerName":"hxehost","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SAPHana","itemCount":2,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":""}}]}},"friendlyName":"akneema-hana-ccy","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupProtectionContainers?api-version=2020-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aknee[...]
[...]
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "containerType":
      "VMAppContainer", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-hana-ccy",
      "workloadType": "SAPHanaDatabase", "operationType": "Reregister"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bakneema%3Bakneema-hana-ccy?api-version=2020-10-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy/operationsStatus/9de63fbb-4b2d-4f46-a15e-276563b9f54f?api-version=2019-05-13-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy/operationResults/9de63fbb-4b2d-4f46-a15e-276563b9f54f?api-version=2020-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupProtectionContainers?api-version=2020-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '147'
    status:
      code: 200
      message: OK
version: 1
