interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.RecoveryServices/vaults/clitest-vault000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus2euap", "properties": {"publicNetworkAccess": "Enabled",
      "monitoringSettings": {"azureMonitorAlertSettings": {"alertsForAllJobFailures":
      "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations": "Enabled"}}},
      "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-10-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000002","etag":"W/\"datetime''2023-05-12T13%3A30%3A53.5564055Z''\"","properties":{"provisioningState":"Provisioning","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"publicNetworkAccess":"Enabled"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs3Mzc4ZjJiZS1lZDcxLTQ1ZjktOTc1MC1iMzQ0N2RiNjlmOTc=?api-version=2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs3Mzc4ZjJiZS1lZDcxLTQ1ZjktOTc1MC1iMzQ0N2RiNjlmOTc=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs3Mzc4ZjJiZS1lZDcxLTQ1ZjktOTc1MC1iMzQ0N2RiNjlmOTc=\",\r\n
        \ \"name\": \"MjA0Nzs3Mzc4ZjJiZS1lZDcxLTQ1ZjktOTc1MC1iMzQ0N2RiNjlmOTc=\",\r\n
        \ \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-10-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000002","etag":"W/\"datetime''2023-05-12T13%3A30%3A53.9232622Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","backupStorageVersion":"Unassigned","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"publicNetworkAccess":"Enabled"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_backup_identity","date":"2023-05-12T13:30:45Z","module":"backup"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity000003?api-version=2023-01-31
  response:
    body:
      string: '{"location":"eastus2euap","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity000003","name":"clitest-identity000003","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"a6afbdff-4e3f-49c5-98a0-3787e87af1bd","clientId":"7fd7d51a-c0a0-4dfc-bf7a-73a0de79caaf"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity000003
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "userassigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity000003":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity000004":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyNDMxN2ZiNS1mOWIzLTRiMmMtOTM0NC03NjlmNTEyZmRjN2Y=?api-version=2022-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsyNDMxN2ZiNS1mOWIzLTRiMmMtOTM0NC03NjlmNTEyZmRjN2Y=?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyNDMxN2ZiNS1mOWIzLTRiMmMtOTM0NC03NjlmNTEyZmRjN2Y=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyNDMxN2ZiNS1mOWIzLTRiMmMtOTM0NC03NjlmNTEyZmRjN2Y=\",\r\n
        \ \"name\": \"NDA5NTsyNDMxN2ZiNS1mOWIzLTRiMmMtOTM0NC03NjlmNTEyZmRjN2Y=\",\r\n
        \ \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyNDMxN2ZiNS1mOWIzLTRiMmMtOTM0NC03NjlmNTEyZmRjN2Y=?api-version=2022-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsyNDMxN2ZiNS1mOWIzLTRiMmMtOTM0NC03NjlmNTEyZmRjN2Y=?api-version=2022-10-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtmMTEzYmNlZi0zMDNmLTQyYjUtYTBjOS1jYzhiYTRjNGUxNDg=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtmMTEzYmNlZi0zMDNmLTQyYjUtYTBjOS1jYzhiYTRjNGUxNDg=\",\r\n
        \ \"name\": \"NDA5NTtmMTEzYmNlZi0zMDNmLTQyYjUtYTBjOS1jYzhiYTRjNGUxNDg=\",\r\n
        \ \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtmMTEzYmNlZi0zMDNmLTQyYjUtYTBjOS1jYzhiYTRjNGUxNDg=?api-version=2022-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtmMTEzYmNlZi0zMDNmLTQyYjUtYTBjOS1jYzhiYTRjNGUxNDg=?api-version=2022-10-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs5ZjQwMTk1ZS03MjY5LTQ5ZjUtYTRlZS1iYjhjZTk0MGE3NTk=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs5ZjQwMTk1ZS03MjY5LTQ5ZjUtYTRlZS1iYjhjZTk0MGE3NTk=\",\r\n
        \ \"name\": \"NDA5NTs5ZjQwMTk1ZS03MjY5LTQ5ZjUtYTRlZS1iYjhjZTk0MGE3NTk=\",\r\n
        \ \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs5ZjQwMTk1ZS03MjY5LTQ5ZjUtYTRlZS1iYjhjZTk0MGE3NTk=?api-version=2022-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTs5ZjQwMTk1ZS03MjY5LTQ5ZjUtYTRlZS1iYjhjZTk0MGE3NTk=?api-version=2022-10-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxOGFjMWM3Ny05ZjliLTQwMTQtYWRiMi1iY2ViMWMxOGVmM2M=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxOGFjMWM3Ny05ZjliLTQwMTQtYWRiMi1iY2ViMWMxOGVmM2M=\",\r\n
        \ \"name\": \"NDA5NTsxOGFjMWM3Ny05ZjliLTQwMTQtYWRiMi1iY2ViMWMxOGVmM2M=\",\r\n
        \ \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxOGFjMWM3Ny05ZjliLTQwMTQtYWRiMi1iY2ViMWMxOGVmM2M=?api-version=2022-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsxOGFjMWM3Ny05ZjliLTQwMTQtYWRiMi1iY2ViMWMxOGVmM2M=?api-version=2022-10-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxMTdiOTZjZi02OGU5LTQ4ZGYtYmZkYS0zZmU1MWU4NjVmMTA=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxMTdiOTZjZi02OGU5LTQ4ZGYtYmZkYS0zZmU1MWU4NjVmMTA=\",\r\n
        \ \"name\": \"NDA5NTsxMTdiOTZjZi02OGU5LTQ4ZGYtYmZkYS0zZmU1MWU4NjVmMTA=\",\r\n
        \ \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxMTdiOTZjZi02OGU5LTQ4ZGYtYmZkYS0zZmU1MWU4NjVmMTA=?api-version=2022-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsxMTdiOTZjZi02OGU5LTQ4ZGYtYmZkYS0zZmU1MWU4NjVmMTA=?api-version=2022-10-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxYjVkNjk0My00ODEzLTQ2MmYtOWVjMy01NzU0YmYyOGMzODI=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxYjVkNjk0My00ODEzLTQ2MmYtOWVjMy01NzU0YmYyOGMzODI=\",\r\n
        \ \"name\": \"NDA5NTsxYjVkNjk0My00ODEzLTQ2MmYtOWVjMy01NzU0YmYyOGMzODI=\",\r\n
        \ \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxYjVkNjk0My00ODEzLTQ2MmYtOWVjMy01NzU0YmYyOGMzODI=?api-version=2022-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsxYjVkNjk0My00ODEzLTQ2MmYtOWVjMy01NzU0YmYyOGMzODI=?api-version=2022-10-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtlOTE0YThhMC03NjFhLTQ0YzEtYWU3ZC1jYTEzMDY4MjIyZTA=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtlOTE0YThhMC03NjFhLTQ0YzEtYWU3ZC1jYTEzMDY4MjIyZTA=\",\r\n
        \ \"name\": \"NDA5NTtlOTE0YThhMC03NjFhLTQ0YzEtYWU3ZC1jYTEzMDY4MjIyZTA=\",\r\n
        \ \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtlOTE0YThhMC03NjFhLTQ0YzEtYWU3ZC1jYTEzMDY4MjIyZTA=?api-version=2022-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtlOTE0YThhMC03NjFhLTQ0YzEtYWU3ZC1jYTEzMDY4MjIyZTA=?api-version=2022-10-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupProtectionContainers?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureIaasVM%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '48'
    status:
      code: 200
      message: OK
version: 1
