interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/deletedVaults?api-version=2025-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/deletedVaults/AzureBackupRG_clitest_6blrb7b7ozkpziwd5hicp7nifwhfjtlsp4kncda2myltdci5cgpun_cc1a8ecd-ad2c-4135-ab29-5b304e75455a","name":"AzureBackupRG_clitest_6blrb7b7ozkpziwd5hicp7nifwhfjtlsp4kncda2myltdci5cgpun_cc1a8ecd-ad2c-4135-ab29-5b304e75455a","type":"Microsoft.RecoveryServices/locations/deletedVaults","location":"eastus2euap","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_6blrb7b7ozkpziwd5hicp7nifwhfjtlsp4kncda2myltdci5cgpun/providers/Microsoft.RecoveryServices/vaults/clitest-vault-xskfwv","vaultDeletionTime":"2025-10-24T09:55:30.3173455Z","purgeAt":"2025-10-24T09:55:30.0170894Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/deletedVaults/AzureBackupRG_clitest_6g4px6apxdcbn42hjcgmtzxo2mt5lj46chb7caf366wfaiifnhrod_f85be974-606b-4d4f-ad27-e09d8b1f4482","name":"AzureBackupRG_clitest_6g4px6apxdcbn42hjcgmtzxo2mt5lj46chb7caf366wfaiifnhrod_f85be974-606b-4d4f-ad27-e09d8b1f4482","type":"Microsoft.RecoveryServices/locations/deletedVaults","location":"eastus2euap","properties":{[...]
