interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-04-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.RecoveryServices/vaults/clitest-vault000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus2euap", "properties": {"publicNetworkAccess": "Enabled",
      "monitoringSettings": {"azureMonitorAlertSettings": {"alertsForAllJobFailures":
      "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations": "Enabled"}}},
      "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000002","etag":"W/\"datetime''2023-09-15T06%3A50%3A15.8339514Z''\"","properties":{"provisioningState":"Provisioning","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"secureScore":"None","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs0NjA3NzE4OS0zOGExLTQ3YmUtYTRiYy1iMWU1MGE2MjJkNGM=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs0NjA3NzE4OS0zOGExLTQ3YmUtYTRiYy1iMWU1MGE2MjJkNGM=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs0NjA3NzE4OS0zOGExLTQ3YmUtYTRiYy1iMWU1MGE2MjJkNGM=\"\
        ,\r\n  \"name\": \"MjA0Nzs0NjA3NzE4OS0zOGExLTQ3YmUtYTRiYy1iMWU1MGE2MjJkNGM=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs0NjA3NzE4OS0zOGExLTQ3YmUtYTRiYy1iMWU1MGE2MjJkNGM=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/MjA0Nzs0NjA3NzE4OS0zOGExLTQ3YmUtYTRiYy1iMWU1MGE2MjJkNGM=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000002","etag":"W/\"datetime''2023-09-15T06%3A51%3A17.3768971Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","backupStorageVersion":"Unassigned","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"securitySettings":{"immutabilitySettings":null,"softDeleteSettings":{"softDeleteRetentionPeriodInDays":14,"softDeleteState":"Enabled"},"multiUserAuthorization":"Disabled"},"secureScore":"None","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/MjA0NzsyZGU4ZjM0Yi05YTdhLTQwZmQtOTkxNi0wNzg3NDJlOWQ1ZTQ=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/MjA0NzsyZGU4ZjM0Yi05YTdhLTQwZmQtOTkxNi0wNzg3NDJlOWQ1ZTQ=\"\
        ,\r\n  \"name\": \"MjA0NzsyZGU4ZjM0Yi05YTdhLTQwZmQtOTkxNi0wNzg3NDJlOWQ1ZTQ=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/MjA0NzsyZGU4ZjM0Yi05YTdhLTQwZmQtOTkxNi0wNzg3NDJlOWQ1ZTQ=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/MjA0NzsyZGU4ZjM0Yi05YTdhLTQwZmQtOTkxNi0wNzg3NDJlOWQ1ZTQ=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000004/operationStatus/MjA0NzswZGE3ODcwYy1iYzU4LTQ3ZTUtYjVjNC0xNDY1Yjk1MDM5NzU=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000004/operationStatus/MjA0NzswZGE3ODcwYy1iYzU4LTQ3ZTUtYjVjNC0xNDY1Yjk1MDM5NzU=\"\
        ,\r\n  \"name\": \"MjA0NzswZGE3ODcwYy1iYzU4LTQ3ZTUtYjVjNC0xNDY1Yjk1MDM5NzU=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000004/operationStatus/MjA0NzswZGE3ODcwYy1iYzU4LTQ3ZTUtYjVjNC0xNDY1Yjk1MDM5NzU=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000004/operationResults/MjA0NzswZGE3ODcwYy1iYzU4LTQ3ZTUtYjVjNC0xNDY1Yjk1MDM5NzU=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"publicNetworkAccess": "Disabled",
      "monitoringSettings": {"azureMonitorAlertSettings": {"alertsForAllJobFailures":
      "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations": "Enabled"}},
      "restoreSettings": {"crossSubscriptionRestoreSettings": {"crossSubscriptionRestoreState":
      "Disabled"}}, "securitySettings": {"immutabilitySettings": {"state": "Unlocked"}}},
      "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005?api-version=2023-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000005","etag":"W/\"datetime''2023-09-15T06%3A54%3A27.1394771Z''\"","properties":{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/MjA0Nzs4NzBkYzU4Yy1kMzA1LTRjYWQtOTY3Yi0wOTVhMjczYTZmYjQ=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/MjA0Nzs4NzBkYzU4Yy1kMzA1LTRjYWQtOTY3Yi0wOTVhMjczYTZmYjQ=\"\
        ,\r\n  \"name\": \"MjA0Nzs4NzBkYzU4Yy1kMzA1LTRjYWQtOTY3Yi0wOTVhMjczYTZmYjQ=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/MjA0Nzs4NzBkYzU4Yy1kMzA1LTRjYWQtOTY3Yi0wOTVhMjczYTZmYjQ=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationResults/MjA0Nzs4NzBkYzU4Yy1kMzA1LTRjYWQtOTY3Yi0wOTVhMjczYTZmYjQ=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTtjNmI1OThjOS02M2FiLTQ2MjktOTYwZC01YjNlNGVjY2Y3ZGE=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTtjNmI1OThjOS02M2FiLTQ2MjktOTYwZC01YjNlNGVjY2Y3ZGE=\"\
        ,\r\n  \"name\": \"NDA5NTtjNmI1OThjOS02M2FiLTQ2MjktOTYwZC01YjNlNGVjY2Y3ZGE=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTtjNmI1OThjOS02M2FiLTQ2MjktOTYwZC01YjNlNGVjY2Y3ZGE=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationResults/NDA5NTtjNmI1OThjOS02M2FiLTQ2MjktOTYwZC01YjNlNGVjY2Y3ZGE=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005?api-version=2023-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000005","etag":"W/\"datetime''2023-09-15T06%3A55%3A30.8168297Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","backupStorageVersion":"Unassigned","redundancySettings":{"standardTierStorageRedundancy":"GeoRedundant","crossRegionRestore":"Disabled"},"monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"securitySettings":{"immutabilitySettings":{"state":"Unlocked"},"softDeleteSettings":{"softDeleteRetentionPeriodInDays":14,"softDeleteState":"Enabled"},"multiUserAuthorization":"Disabled"},"secureScore":"Minimum","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Disabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2023-04-01
  response:
    body:
      string: "{\"value\":[{\"location\":\"westus\",\"name\":\"tesy\",\"etag\":\"\
        W/\\\"datetime'2023-08-29T11%3A51%3A03.2508808Z'\\\"\",\"properties\":{\"\
        provisioningState\":\"Succeeded\",\"publicNetworkAccess\":\"Enabled\",\"restoreSettings\"\
        :{\"crossSubscriptionRestoreSettings\":{\"crossSubscriptionRestoreState\"\
        :\"Enabled\"}}},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/adkayethImmutability/providers/Microsoft.RecoveryServices/vaults/tesy\"\
        ,\"type\":\"Microsoft.RecoveryServices/vaults\",\"sku\":{\"name\":\"RS0\"\
        ,\"tier\":\"Standard\"}},{\"location\":\"westus\",\"name\":\"afsexistingvault1\"\
        ,\"etag\":\"W/\\\"datetime'2022-12-20T14%3A59%3A47.3207695Z'\\\"\",\"properties\"\
        :{\"provisioningState\":\"Succeeded\",\"publicNetworkAccess\":\"Enabled\"\
        ,\"restoreSettings\":{\"crossSubscriptionRestoreSettings\":{\"crossSubscriptionRestoreState\"\
        :\"Enabled\"}}},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afstests/providers/Microsoft.RecoveryServices/vaults/afsexistingvault1\"\
        ,\"type\":\"Microsoft.RecoveryServices/vaults\",\"sku\":{\"name\":\"RS0\"\
        ,\"tier\":\"Standard\"}},{\"location\":\"westus\",\"name\":\"getputv1policyvault\"\
        ,\"etag\":\"W/\\\"datetime'2023-09-15T05%3A51%3A47.2078573Z'\\\"\",\"properties\"\
        :{\"provisioningState\":\"Succeeded\",\"publicNetworkAccess\":\"Enabled\"\
        ,\"restoreSettings\":{\"crossSubscriptionRestoreSettings\":{\"crossSubscriptionRestoreState\"\
        :\"Enabled\"}}},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanase/providers/Microsoft.RecoveryServices/vaults/getputv1policyvault\"\
        ,\"type\":\"Microsoft.RecoveryServices/vaults\",\"sku\":{\"name\":\"RS0\"\
        ,\"tier\":\"Standard\"}},{\"location\":\"westus\",\"name\":\"akkanaseCMKNew\"\
        ,\"etag\":\"W/\\\"datetime'2023-03-25T16%3A10%3A18.9678896Z'\\\"\",\"identity\"\
        :{\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"principalId\":\"\
        93207892-ddfb-48c8-8d48-30c199c8a001\",\"type\":\"SystemAssigned, UserAssigned\"\
        ,\"userAssignedIdentities\":{\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hiagarg/providers/microsoft.managedidentity/userassignedidentities/cmk-pstest-msi1\"\
        :{\"clientId\":\"cc17dc91-0ffc-41c4-9f4b-b7b61fa9f4e8\",\"principalId\":\"\
        79e6360a-251c-4431-b817-a7fff3ac5c91\"},\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vepothir-rg-ram-sub/providers/Microsoft.ManagedIdentity/userAssignedIdentities/vepothir-identity-1\"\
        :{\"clientId\":\"5909ae61-fd85-4404-9e0b-60709b84e067\",\"principalId\":\"\
        f6d28ffe-fbc2-4e9c-9bc1-f3e3585223c0\"}}},\"properties\":{\"provisioningState\"\
        :\"Succeeded\",\"publicNetworkAccess\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2023-04-01&$skiptoken=hVJdb9owFP0tRMpeWIhjk7YgVRNbS1cNswqy8PFmbCcYkjiyHQqp%2Bt9nCG3VbdXykETn3HvOub5%2Bcgq%2BNyNRbLXTf3JuB9NoML0fOH1nbUyp%2B76fk4KkPOeF6ZC6UrxDZe7raqWpEqURstA%2BukKgywPkofCSe10Qcq/He8SDEKAwYJTyK%2BqXSu4E40r7WFAltUxMZ8Kp3HF1mHK1E5Rrf0eqzOgvpBSexbVVv4YAIg90PRB8cmFXb62p3PLi2kXURck%2Bz9rn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults?api-version=2023-04-01
  response:
    body:
      string: '{"value":[{"location":"eastus2euap","name":"clitest-vault000003","etag":"W/\"datetime''2023-09-15T06%3A53%3A20.8722441Z''\"","properties":{"provisioningState":"Succeeded","publicNetworkAccess":"Enabled","restoreSettings"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupconfig/vaultconfig?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupconfig/vaultconfig","name":"vaultconfig","type":"Microsoft.RecoveryServices/vaults/backupconfig","properties":{"enhancedSecurityState":"Enabled","softDeleteFeatureState":"Enabled","softDeleteRetentionPeriodInDays":14,"isSoftDeleteFeatureStateEditable":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupstorageconfig/vaultstorageconfig?api-version=2023-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupstorageconfig/vaultstorageconfig","name":"vaultstorageconfig","type":"Microsoft.RecoveryServices/vaults/backupstorageconfig","properties":{"storageModelType":"GeoRedundant","storageType":"GeoRedundant","dedupState":"Disabled","xcoolState":"Disabled","storageTypeState":"Unlocked","crossRegionRestoreFlag":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupResourceGuardProxies?api-version=2023-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtiNzRmNDkwNy03ZTMyLTRiNjctYWU5MS0yMmNiYmNhZWJmZWI=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtiNzRmNDkwNy03ZTMyLTRiNjctYWU5MS0yMmNiYmNhZWJmZWI=\"\
        ,\r\n  \"name\": \"NDA5NTtiNzRmNDkwNy03ZTMyLTRiNjctYWU5MS0yMmNiYmNhZWJmZWI=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtiNzRmNDkwNy03ZTMyLTRiNjctYWU5MS0yMmNiYmNhZWJmZWI=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtiNzRmNDkwNy03ZTMyLTRiNjctYWU5MS0yMmNiYmNhZWJmZWI=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTtjNThhODcyMy05Yzc2LTQ5YzEtOWUyYi1lNDEzODYyZmY4MGE=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTtjNThhODcyMy05Yzc2LTQ5YzEtOWUyYi1lNDEzODYyZmY4MGE=\"\
        ,\r\n  \"name\": \"NDA5NTtjNThhODcyMy05Yzc2LTQ5YzEtOWUyYi1lNDEzODYyZmY4MGE=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTtjNThhODcyMy05Yzc2LTQ5YzEtOWUyYi1lNDEzODYyZmY4MGE=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationResults/NDA5NTtjNThhODcyMy05Yzc2LTQ5YzEtOWUyYi1lNDEzODYyZmY4MGE=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTszMTljNGU5Ni05YjY1LTQwOTktODRiMS01Zjg5ZDZkNGZjYTQ=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTszMTljNGU5Ni05YjY1LTQwOTktODRiMS01Zjg5ZDZkNGZjYTQ=\"\
        ,\r\n  \"name\": \"NDA5NTszMTljNGU5Ni05YjY1LTQwOTktODRiMS01Zjg5ZDZkNGZjYTQ=\"\
        ,\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationStatus/NDA5NTszMTljNGU5Ni05YjY1LTQwOTktODRiMS01Zjg5ZDZkNGZjYTQ=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000005/operationResults/NDA5NTszMTljNGU5Ni05YjY1LTQwOTktODRiMS01Zjg5ZDZkNGZjYTQ=?api-version=2023-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupProtectionContainers?api-version=2023-04-01&%24filter=backupManagementType+eq+%27AzureIaasVM%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '297'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-04-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MTAyMzs3OTM3OGYyZi1jOTM4LTQ5ZDQtYjk2My04NGM5NTAxN2YwYzI=?api-version=2023-04-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/MTAyMzs3OTM3OGYyZi1jOTM4LTQ5ZDQtYjk2My04NGM5NTAxN2YwYzI=?api-version=2023-04-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '48'
    status:
      code: 202
      message: Accepted
version: 1
