interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectableContainers?api-version=2022-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27
  response:
    body:
      string: '{"error":{"code":"RestApiInternalError","message":"The REST API call
        encountered an internal error. Wait for a few minutes and then try the operation
        again. If the issue persists, please contact Microsoft support."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 500
      message: Internal Server Error
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectableContainers?api-version=2022-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;akneema;akneema-tvm","name":"VMAppContainer;Compute;akneema;akneema-tvm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers","properties":{"friendlyName":"akneema-tvm","backupManagementType":"AzureWorkload","protectableContainerType":"VMAppContainer","healthStatus":"Healthy","containerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-tvm"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;clitest-rg-donotuse;clitest-sql-donotuse","name":"VMAppContainer;Compute;clitest-rg-donotuse;clitest-sql-donotuse","type":"Microsoft.Recovery[...]
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "containerType":
      "VMAppContainer", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SQL-CLITEST-RG/providers/Microsoft.Compute/virtualMachines/sql-clitestvm-donotuse",
      "workloadType": "SQLDataBase"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse?api-version=2022-02-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitestvm-donotuse/operationsStatus/0beadbad-ce32-4656-b740-f3fca76c4564?api-version=2019-05-13-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitestvm-donotuse/operationResults/0beadbad-ce32-4656-b740-f3fca76c4564?api-version=2022-02-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse/operationResults/0beadbad-ce32-4656-b740-f3fca76c4564?api-version=2022-02-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitestvm-donotuse/operationsStatus/0beadbad-ce32-4656-b740-f3fca76c4564?api-version=2019-05-13-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitestvm-donotuse/operationResults/0beadbad-ce32-4656-b740-f3fca76c4564?api-version=2022-02-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '288'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse/operationResults/0beadbad-ce32-4656-b740-f3fca76c4564?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitestvm-donotuse","name":"VMAppContainer;Compute;sql-clitest-rg;sql-clitestvm-donotuse","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitestvm-donotuse","lastUpdatedTime":"2022-05-16T07:47:03.2403264Z","extendedInfo":{"hostServerName":"sql-clitestvm-d","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SQL","itemCount":4,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":""}}]}},"friendlyName":"sql-clitestvm-donotuse","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '254'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupProtectionContainers?api-version=2022-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupProtectableItems?api-version=2022-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+workloadType+eq+%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sql-clitest-rg;sql-clitestvm-donotuse/protectableItems/sqlinstance;mssqlserver","name":"sqlinstance;mssqlserver","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"MSSQLSERVER","serverName":"sql-clitestvm-d","isAutoProtectable":true,"isAutoProtected":false,"subinquireditemcount":4,"subprotectableitemcount":0,"prebackupvalidation":{"status":"Success","code":"Success"},"IsProtectable":false,"backupManagementType":"AzureWorkload","workloadType":"SQL","protectableItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sql-clitest-rg;sql-clitestvm-donotuse/protectableItems/sqldatabase;mssqlserver;master","name":"sqldatabase;mssqlserver;master","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"MSSQLSERVE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupProtectionIntents?api-version=2022-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+itemName+eq+%27MSSQLSERVER%27+and+itemType+eq+%27SQLInstance%27+and+parentName+eq+%27vmappcontainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupPolicies/HourlyLogBackup?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupPolicies/HourlyLogBackup","name":"HourlyLogBackup","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureWorkload","workLoadType":"SQLDataBase","settings":{"timeZone":"UTC","issqlcompression":false,"isCompression":false},"subProtectionPolicy":[{"policyType":"Full","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2022-05-13T16:00:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2022-05-13T16:00:00Z"],"retentionDuration":{"count":30,"durationType":"Days"}}}},{"policyType":"Log","schedulePolicy":{"schedulePolicyType":"LogSchedulePolicy","scheduleFrequencyInMins":60},"retentionPolicy":{"retentionPolicyType":"SimpleRetentionPolicy","retentionDuration":{"count":30,"durationType":"Days"}}}],"protectedItemsCount":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"protectedItemType": "AzureVmWorkloadSQLDatabase", "backupManagementType":
      "AzureWorkload", "workloadType": "SQLDataBase", "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupPolicies/HourlyLogBackup"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/vmappco[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupOperations/c2025e5d-203c-41d7-98ed-3ca0575dc818?api-version=2022-02-01
  response:
    body:
      string: '{"id":"c2025e5d-203c-41d7-98ed-3ca0575dc818","name":"c2025e5d-203c-41d7-98ed-3ca0575dc818","status":"InProgress","startTime":"2022-05-16T07:50:23.4211358Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '285'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupOperations/c2025e5d-203c-41d7-98ed-3ca0575dc818?api-version=2022-02-01
  response:
    body:
      string: '{"id":"c2025e5d-203c-41d7-98ed-3ca0575dc818","name":"c2025e5d-203c-41d7-98ed-3ca0575dc818","status":"Succeeded","startTime":"2022-05-16T07:50:23.4211358Z","endTime":"2022-05-16T07:50:23.4211358Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"ea7e8453-a0ff-4158-8d30-d6d61c273144"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '272'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/ea7e8453-a0ff-4158-8d30-d6d61c273144?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/ea7e8453-a0ff-4158-8d30-d6d61c273144","name":"ea7e8453-a0ff-4158-8d30-d6d61c273144","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","workloadType":"SQLDataBase","duration":"PT1M13.1018295S","extendedInfo":{"tasksList":[],"propertyBag":{"Policy
        Name":"HourlyLogBackup"}},"isUserTriggered":true,"entityFriendlyName":"msdb","backupManagementType":"AzureWorkload","operation":"ConfigureBackup","status":"Completed","startTime":"2022-05-16T07:50:23.4211358Z","endTime":"2022-05-16T07:51:36.5229653Z","activityId":"d20aac01-d4ec-11ec-b3b2-c8f750f92764"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{},"friendlyName":"msdb","serverName":"sql-clitestvm-d","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"IRPending","lastBackupErrorDetail":{"code":"Success","message":""},"protectedItemDataSourceId":"70370758852253","protectedItemHealthStatus":"IRPending","extendedInfo":{"recoveryPointCount":0,"policyState":"Consistent","recoveryModel":"SIMPLE"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitestvm-donotuse","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupPolicies/HourlyLogBackup","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"objectType": "AzureWorkloadBackupRequest", "backupType":
      "Full", "enableCompression": false, "recoveryPointExpiryTimeInUTC": "2022-06-15T07:51:49.070202Z"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/backup?api-version=2022-02-01
  response:
    [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/7aac7509-2396-4609-8fc9-e9fbd4642dcb?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/7aac7509-2396-4609-8fc9-e9fbd4642dcb","name":"7aac7509-2396-4609-8fc9-e9fbd4642dcb","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SQLDataBase","duration":"PT3.079956S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data to vault","status":"InProgress"}],"propertyBag":{}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitestvm-d]","backupManagementType":"AzureWorkload","operation":"Backup
        (Full)","status":"InProgress","startTime":"2022-05-16T07:51:49.9636147Z","activityId":"097560bf-d4ed-11ec-8f77-c8f750f92764"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{"BackupOperationStatusKPI":{"resourceHealthStatus":"Healthy","resourceHealthDetails":[{"code":0,"title":"Success","message":"","recommendations":[]}]}},"friendlyName":"msdb","serverName":"sql-clitestvm-d","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2022-05-16T07:52:56.5389992Z","protectedItemDataSourceId":"70370758852253","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2022-05-16T07:52:24Z","recoveryPointCount":1,"policyState":"Consistent","recoveryModel":"SIMPLE"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitestvm-donotuse","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupPolicies/HourlyLogBackup","lastRecoveryPoint":"2022-05-16T07:52:24Z","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints?api-version=2022-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/64563820625137","name":"64563820625137","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","recoveryPointTimeInUTC":"2022-05-16T07:52:24Z","type":"Full","recoveryPointTierDetails":[{"type":"HardenedRP","status":"Valid"}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"We''re
        still determining if this Recovery Point can be moved.. Please check again
        after some time."}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/DefaultRangeRecoveryPoint","name":"DefaultRangeRecoveryPoint","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLPointInTimeRecoveryPoint","timeRanges":[],"type":"Log"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/64563820625137?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/64563820625137","name":"64563820625137","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","extendedInfo":{"dataDirectoryTimeInUTC":"2022-05-16T07:52:24Z","dataDirectoryPaths":[{"type":"Data","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBData.mdf","logicalName":"MSDBData"},{"type":"Log","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBLog.ldf","logicalName":"MSDBLog"}]},"recoveryPointTimeInUTC":"2022-05-16T07:52:24Z","type":"Full","recoveryPointTierDetails":[{"type":"HardenedRP","status":"Valid"}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"We''re
        still determining if this Recovery Point can be moved.. Please check again
        after some time."}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000[...]
[...]
- request:
    body: '{"properties": {"objectType": "AzureWorkloadSQLRestoreRequest", "recoveryType":
      "AlternateLocation", "targetInfo": {"overwriteOption": "Overwrite", "containerId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitestvm-donotuse",
      "targetDirectoryForFileRestore": "C:"}, "recoveryMode": "FileRecovery", "targetVirtualMachineId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitestvm-donotuse",
      "shouldUseAlternateTargetLocation": true, "isNonRecoverable": false}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/64563820625137/restore?api-version=2022-02-01
  respons[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/c8b060c5-0dc0-48ae-891e-4d3509923555?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/c8b060c5-0dc0-48ae-891e-4d3509923555","name":"c8b060c5-0dc0-48ae-891e-4d3509923555","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SQLDataBase","duration":"PT3M2.6575051S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"Completed"}],"propertyBag":{"Data Transferred (in
        MB)":"20.1147","Job Type":"Restore as files","RestoreRecoveryPointTime":"2022-05-16
        07:52:24Z","RestoreDestination":"C:"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitestvm-d]","backupManagementType":"AzureWorkload","operation":"Restore
        (Full)","status":"Completed","startTime":"2022-05-16T07:55:47.4578005Z","endTime":"2022-05-16T07:58:50.1153056Z","activityId":"94fa5259-d4ed-11ec-b10f-c8f750f92764"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '292'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
[...]
