interactions:
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: '{"location":"westus","name":"clitest-vault000002","etag":"W/\"datetime''2021-10-21T13%3A12%3A53.6819641Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-10-21T13:12:41Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007","name":"clitest-identity1000007","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"93c5af08-ce05-48d9-b379-8de09f7f97f1","clientId":"066fb178-5cbc-4abb-807a-d3dcaad4b08b","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007/credentials?tid=72f988bf-86f1-41af-91ab-2d7cd011db47&oid=93c5af08-ce05-48d9-b379-8de09f7f97f1&aid=066fb178-5cbc-4abb-807a-d3dcaad4b08b"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "userassigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity2000008":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs1ZmFkNWUxZC1lNmEyLTQ2ZGMtOWUzOS01ZTlkMjhkYzYyYzg=?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTs1ZmFkNWUxZC1lNmEyLTQ2ZGMtOWUzOS01ZTlkMjhkYzYyYzg=?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs1ZmFkNWUxZC1lNmEyLTQ2ZGMtOWUzOS01ZTlkMjhkYzYyYzg=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs1ZmFkNWUxZC1lNmEyLTQ2ZGMtOWUzOS01ZTlkMjhkYzYyYzg=\",\r\n
        \ \"name\": \"NDA5NTs1ZmFkNWUxZC1lNmEyLTQ2ZGMtOWUzOS01ZTlkMjhkYzYyYzg=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs1ZmFkNWUxZC1lNmEyLTQ2ZGMtOWUzOS01ZTlkMjhkYzYyYzg=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTs1ZmFkNWUxZC1lNmEyLTQ2ZGMtOWUzOS01ZTlkMjhkYzYyYzg=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjZTZhNjQ1ZC00MGU4LTRlYTMtYjBmNC1hYjM3MGM3MWNlYzM=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjZTZhNjQ1ZC00MGU4LTRlYTMtYjBmNC1hYjM3MGM3MWNlYzM=\",\r\n
        \ \"name\": \"NDA5NTtjZTZhNjQ1ZC00MGU4LTRlYTMtYjBmNC1hYjM3MGM3MWNlYzM=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjZTZhNjQ1ZC00MGU4LTRlYTMtYjBmNC1hYjM3MGM3MWNlYzM=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtjZTZhNjQ1ZC00MGU4LTRlYTMtYjBmNC1hYjM3MGM3MWNlYzM=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2ODM0N2IzZS05Y2ZhLTRiNWEtYjQ3Ni00MDcwYzg1NjRmODI=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2ODM0N2IzZS05Y2ZhLTRiNWEtYjQ3Ni00MDcwYzg1NjRmODI=\",\r\n
        \ \"name\": \"NDA5NTs2ODM0N2IzZS05Y2ZhLTRiNWEtYjQ3Ni00MDcwYzg1NjRmODI=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2ODM0N2IzZS05Y2ZhLTRiNWEtYjQ3Ni00MDcwYzg1NjRmODI=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/NDA5NTs2ODM0N2IzZS05Y2ZhLTRiNWEtYjQ3Ni00MDcwYzg1NjRmODI=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2ODhmNzRkNi1hNGM4LTQ0ZjQtYWRiMC03N2Q4MzAzNTc2YTc=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2ODhmNzRkNi1hNGM4LTQ0ZjQtYWRiMC03N2Q4MzAzNTc2YTc=\",\r\n
        \ \"name\": \"NDA5NTs2ODhmNzRkNi1hNGM4LTQ0ZjQtYWRiMC03N2Q4MzAzNTc2YTc=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2ODhmNzRkNi1hNGM4LTQ0ZjQtYWRiMC03N2Q4MzAzNTc2YTc=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/NDA5NTs2ODhmNzRkNi1hNGM4LTQ0ZjQtYWRiMC03N2Q4MzAzNTc2YTc=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvm.encryptedvm/providers/Microsoft.KeyVault/vaults/iaasencrypted-kv","name":"iaasencrypted-kv","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvm.new.vaults/providers/Microsoft.KeyVault/vaults/jakavetKVNew","name":"jakavetKVNew","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jakavetRG/providers/Microsoft.KeyVault/vaults/jakavetKV2","name":"jakavetKV2","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseTest/providers/Microsoft.KeyVault/vaults/akkanasecmktest","name":"akkanasecmktest","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{"Owner":"akkanase","Purpose":"Testing","Mab
        Used":"yes","Delete By":"05-2023"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cmk.system/providers/Microsoft.KeyVault/vaults/cmkkeyvault1","name":"cmkkeyvault1","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{"Mab
        Used":"yes","Purpose":"BVT","Owner":"akkanase","DeleteBy":"05-2099"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseOSS/providers/Microsoft.KeyVault/vaults/akkanase","name":"akkanase","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{"Mab
        Used":"yes","Purpose":"Testing","Delete By":"05-2022","Owner":"akkanase"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/chandrikarg/providers/Microsoft.KeyVault/vaults/adikayeth","name":"adikayeth","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseCcyGrs/providers/Microsoft.KeyVault/vaults/akkanseHSMTest","name":"akkanseHSMTest","type":"Microsoft.KeyVault/vaults","location":"centraluseuap","tags":{"MabUsed":"Yes","Owner":"akkanase","DeleteBy":"01-2025","Purpose":"Testing"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PORTAL.DPP.BVT.OSS.PROTECT.EXISTING/providers/Microsoft.KeyVault/vaults/PORTALDPPBVTKV","name":"PORTALDPPBVTKV","type":"Microsoft.KeyVault/vaults","location":"centraluseuap","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hiagarg/providers/Microsoft.KeyVault/vaults/hiagakv","name":"hiagakv","type":"Microsoft.KeyVault/vaults","location":"centraluseuap","tags":{"MABUsed":"Yes","Owner":"hiaga","Purpose":"testing","DeleteBy":"02-2025"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/oss-clitest-rg/providers/Microsoft.KeyVault/vaults/oss-clitest-keyvault","name":"oss-clitest-keyvault","type":"Microsoft.KeyVault/vaults","location":"centraluseuap","tags":{"Owner":"akneema","Purpose":"Testing","MABUsed":"Yes","DeleteBy":"12-9999"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/oss-pstest-rg/providers/Microsoft.Key[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004","name":"clitest000004","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"akneema@microsoft.com","createdByType":"User","createdAt":"2021-10-21T13:13:15.86Z","lastModifiedBy":"akneema@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-21T13:13:15.86Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"90680173-e32e-4cf3-a1b8-d1a99ac56bbf","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://clitest000004.vault.azure.net/","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "90680173-e32e-4cf3-a1b8-d1a99ac56bbf",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "vaultUri": "https://clitest000004.vault.azure.net/", "enabledForDeployment":
      false, "enableSoftDelete": true, "softDeleteRetentionInDays": 7, "enablePurgeProtection":
      true, "provisioningState": "Succeeded"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004?api-version=2021-04-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest0000[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.vault.azure.net/keys/clitest-key1000005/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["decrypt", "encrypt", "sign",
      "unwrapKey", "verify", "wrapKey"], "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.vault.azure.net/keys/clitest-key1000005/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://clitest000004.vault.azure.net/keys/clitest-key1000005/89925b9ea9ef474883ce99bafef2a3fa","kty":"RSA","key_ops":["decrypt","encrypt","sign","unwrapKey","verify","wrapKey"],"n":"6akcOyfn3eftg-qb8JUV8PgmCOrKmWrMTSRJDosaYj6CbsF_n4UHO9dN6exkidgvUZ_MzOkuEyR8hFmrN86i-GTok322iL2me22MIV8fWZvwIRbUH732ATPbWOMw5MzXFodF7GFPeHMAbO_R5afebdlFH7Y34jd7jfj3NMwdjcLAnHWg7XdAR-RkqVZuyLoETxFpBrR6OxQghLJPIXavsUIfGQoXl3A7oAwADw5OH6SRzLknMOCwM9w4dJwY3dPovV0Tn0DLgEUG8mr5JwNz815aacV3RmCC9F6TIlzUj-QsC9rlVA-8agplknAxcYpeymCYbG7kjI1I6SU6rFeMSQ","e":"AQAB"},"attributes":{"enabled":true,"created":1634822589,"updated":1634822589,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"useSystemAssignedIdentity":true,"encryptionAtRestType":"MicrosoftManaged","lastUpdateStatus":"NotEnabled","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyUri": "https://clitest000004.vault.azure.net/keys/clitest-key1000005/89925b9ea9ef474883ce99bafef2a3fa"},
      "kekIdentity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007"},
      "infrastructureEncryption": "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyOTcxNTdlNi1hMDhkLTQ1MmYtODk1MS1mYzBjOGQ0NWEzZDE=?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsyOTcxNTdlNi1hMDhkLTQ1MmYtODk1MS1mYzBjOGQ0NWEzZDE=?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyOTcxNTdlNi1hMDhkLTQ1MmYtODk1MS1mYzBjOGQ0NWEzZDE=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyOTcxNTdlNi1hMDhkLTQ1MmYtODk1MS1mYzBjOGQ0NWEzZDE=\",\r\n
        \ \"name\": \"NDA5NTsyOTcxNTdlNi1hMDhkLTQ1MmYtODk1MS1mYzBjOGQ0NWEzZDE=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyOTcxNTdlNi1hMDhkLTQ1MmYtODk1MS1mYzBjOGQ0NWEzZDE=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsyOTcxNTdlNi1hMDhkLTQ1MmYtODk1MS1mYzBjOGQ0NWEzZDE=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"userAssignedIdentity":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007","useSystemAssignedIdentity":false,"encryptionAtRestType":"CustomerManaged","keyUri":"https://clitest000004.vault.azure.net/keys/clitest-key1000005/89925b9ea9ef474883ce99bafef2a3fa","subscriptionId":"","lastUpdateStatus":"Succeeded","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjN2RhYjA4YS01NDRiLTRmMjgtYmRjNS1iMmVmZmUwNTBhNmQ=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjN2RhYjA4YS01NDRiLTRmMjgtYmRjNS1iMmVmZmUwNTBhNmQ=\",\r\n
        \ \"name\": \"NDA5NTtjN2RhYjA4YS01NDRiLTRmMjgtYmRjNS1iMmVmZmUwNTBhNmQ=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjN2RhYjA4YS01NDRiLTRmMjgtYmRjNS1iMmVmZmUwNTBhNmQ=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtjN2RhYjA4YS01NDRiLTRmMjgtYmRjNS1iMmVmZmUwNTBhNmQ=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxODVhNjNkNy1lZjE1LTRkNDMtYTVjZS1kZjhkMWQ2OWQ1Mzk=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxODVhNjNkNy1lZjE1LTRkNDMtYTVjZS1kZjhkMWQ2OWQ1Mzk=\",\r\n
        \ \"name\": \"NDA5NTsxODVhNjNkNy1lZjE1LTRkNDMtYTVjZS1kZjhkMWQ2OWQ1Mzk=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxODVhNjNkNy1lZjE1LTRkNDMtYTVjZS1kZjhkMWQ2OWQ1Mzk=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsxODVhNjNkNy1lZjE1LTRkNDMtYTVjZS1kZjhkMWQ2OWQ1Mzk=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthMjRkZjQzOS0zYTMyLTQ4YjItYjEwNi1mZjdiODI5OGI3NDY=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthMjRkZjQzOS0zYTMyLTQ4YjItYjEwNi1mZjdiODI5OGI3NDY=\",\r\n
        \ \"name\": \"NDA5NTthMjRkZjQzOS0zYTMyLTQ4YjItYjEwNi1mZjdiODI5OGI3NDY=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthMjRkZjQzOS0zYTMyLTQ4YjItYjEwNi1mZjdiODI5OGI3NDY=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTthMjRkZjQzOS0zYTMyLTQ4YjItYjEwNi1mZjdiODI5OGI3NDY=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2ZjdmMjdhMi03MTc5LTQ4ZTYtODQ4OC04YjMxODRjODA1Yjk=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2ZjdmMjdhMi03MTc5LTQ4ZTYtODQ4OC04YjMxODRjODA1Yjk=\",\r\n
        \ \"name\": \"NDA5NTs2ZjdmMjdhMi03MTc5LTQ4ZTYtODQ4OC04YjMxODRjODA1Yjk=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
[...]
