interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-02-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.RecoveryServices/vaults/clitest-vault000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus2euap", "properties": {"publicNetworkAccess": "Enabled",
      "monitoringSettings": {"azureMonitorAlertSettings": {"alertsForAllJobFailures":
      "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations": "Enabled"}}},
      "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-02-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000002","etag":"W/\"datetime''2023-05-17T12%3A06%3A51.7887812Z''\"","properties":{"provisioningState":"Provisioning","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0NzsxMzlhODIzNS1jYzU3LTRmYzQtODg1ZC01Mzg2OTZmOWZjNzc=?api-version=2023-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0NzsxMzlhODIzNS1jYzU3LTRmYzQtODg1ZC01Mzg2OTZmOWZjNzc=?api-version=2023-02-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0NzsxMzlhODIzNS1jYzU3LTRmYzQtODg1ZC01Mzg2OTZmOWZjNzc=\",\r\n
        \ \"name\": \"MjA0NzsxMzlhODIzNS1jYzU3LTRmYzQtODg1ZC01Mzg2OTZmOWZjNzc=\",\r\n
        \ \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2023-02-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"clitest-vault000002","etag":"W/\"datetime''2023-05-17T12%3A06%3A52.7199537Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","backupStorageVersion":"Unassigned","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"securitySettings":{"immutabilitySettings":null,"softDeleteSettings":{"softDeleteRetentionPeriodInDays":14,"softDeleteState":"Enabled"},"multiUserAuthorization":"Disabled"},"publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-05-17T12:06:59.0607805Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-05-17T12:06:59.0607805Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003?api-version=2022-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003","name":"clitest000003","type":"Microsoft.Storage/storageAccounts","location":"eastus2euap","tags":{},"properties":{"keyCreationTime":{"key1":"2023-05-17T12:06:59.0607805Z","key2":"2023-05-17T12:06:59.0607805Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-05-17T12:06:59.4670042Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2023-05-17T12:06:59.4670042Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2023-05-17T12:06:58.9669864Z","primaryEndpoints":{"blob":"https://clitest000003.blob.core.windows.net/","queue":"https://clitest000003.queue.core.windows.net/","table":"https://clitest000003.table.core.windows.net/","file":"https://clitest000003.file.core.windows.net/"},"primaryLocation":"eastus2euap","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 May 2023 12:07:25 GMT
      x-ms-share-quota:
      - '1'
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000003.file.core.windows.net/clitest-item000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB56CF486980F0"'
      last-modified:
      - Wed, 17 May 2023 12:07:27 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupPolicies/DefaultPolicy?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupPolicies/DefaultPolicy","name":"DefaultPolicy","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureIaasVM","instantRPDetails":{},"schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2023-05-17T22:00:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2023-05-17T22:00:00Z"],"retentionDuration":{"count":30,"durationType":"Days"}}},"instantRpRetentionRangeInDays":2,"timeZone":"UTC","protectedItemsCount":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"protectedItemsCount": 0, "backupManagementType": "AzureStorage",
      "workLoadType": "AzureFileShare", "schedulePolicy": {"schedulePolicyType": "SimpleSchedulePolicy",
      "scheduleRunFrequency": "Daily", "scheduleRunTimes": ["2023-05-17T22:00:00.000Z"],
      "scheduleWeeklyFrequency": 0}, "retentionPolicy": {"retentionPolicyType": "LongTermRetentionPolicy",
      "dailySchedule": {"retentionTimes": ["2023-05-17T22:00:00.000Z"], "retentionDuration":
      {"count": 30, "durationType": "Days"}}}, "timeZone": "UTC"}}'
    headers:
      Content-Type:
      - application/json
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupProtectionContainers?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureStorage%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectableContainers?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureStorage%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectableContainers/StorageContainer;Storage;adigupt-ecy-rg;adiguptecy","name":"StorageContainer;Storage;adigupt-ecy-rg;adiguptecy","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers","properties":{"friendlyName":"adiguptecy","backupManagementType":"AzureStorage","protectableContainerType":"StorageContainer","healthStatus":"Healthy","containerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/adigupt-ecy-rg/providers/Microsoft.Storage/storageAccounts/adiguptecy"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectableContainers/StorageContainer;Storage;clitest.rg2yfprhyqds;clitesttz6sdom2jatwnfac4","name":"StorageContainer;Storage;clitest.rg2yfprhyqds;clitesttz6sdom2jatwnfac4","type":"Mi[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/refreshContainers?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureStorage%27
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationsStatus/6ba91de4-68fa-4cf5-abfd-c47e948f2b70?api-version=2019-05-13-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationResults/6ba91de4-68fa-4cf5-abfd-c47e948f2b70?api-version=2023-02-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationResults/6ba91de4-68fa-4cf5-abfd-c47e948f2b70?api-version=2023-02-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationResults/6ba91de4-68fa-4cf5-abfd-c47e948f2b70?api-version=2023-02-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"properties": {"backupManagementType": "AzureStorage", "containerType":
      "StorageContainer", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bclitest.rg000001%3Bclit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bclitest.rg000001%3Bclitest000003/operationResults/955da72f-9d76-4558-bb58-c305eecf9999?api-version=2023-02-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;clitest.rg000001;clitest000003/operationsStatus/955da72f-9d76-4558-bb58-c305eecf9999?api-version=2019-05-13-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;clitest.rg000001;clitest000003/operationResults/955da72f-9d76-4558-bb58-c305eecf9999?api-version=2023-02-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bclitest.rg000001%3Bclitest000003/operationResults/955da72f-9d76-4558-bb58-c305eecf9999?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;clitest.rg000001;clitest000003","name":"StorageContainer;Storage;clitest.rg000001;clitest000003","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003","protectedItemCount":0,"acquireStorageAccountLock":"Acquire","friendlyName":"clitest000003","backupManagementType":"AzureStorage","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"StorageContainer","protectableObjectType":"StorageContainer"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '293'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupProtectableItems?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureStorage%27+and+workloadType+eq+%27AzureFileShare%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bclitest.rg000001%3Bclitest000003/inquire?api-version=2023-02-01&%24filter=workloadType+eq+%27AzureFileShare%27
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;clitest.rg000001;clitest000003/operationsStatus/e588cea7-e11e-4bb6-9910-0d39baa7f1b9?api-version=2019-05-13-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;clitest.rg000001;clitest000003/operationResults/e588cea7-e11e-4bb6-9910-0d39baa7f1b9?api-version=2023-02-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupProtectableItems?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureStorage%27+and+workloadType+eq+%27AzureFileShare%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/storagecontainer;storage;clitest.rg000001;clitest000003/protectableItems/azurefileshare;766e3beeab52973a81d8bf6c2bc1426c22920bceaf8f0b291c869e4f2986e092","name":"azurefileshare;766e3beeab52973a81d8bf6c2bc1426c22920bceaf8f0b291c869e4f2986e092","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentContainerFabricId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003","parentContainerFriendlyName":"clitest000003","azureFileShareType":"XSMB","backupManagementType":"AzureStorage","workloadType":"AzureFileShare","protectableItemType":"AzureFileShare","friendlyName":"clitest-item000004","protectionState":"NotProtected"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"protectedItemType": "AzureFileShareProtectedItem", "sourceResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000003",
      "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupPolicies/clitest-item000005"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/storageconta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupOperations/7891c4c0-33b0-4169-92e8-ea451b2f87e6?api-version=2023-02-01
  response:
    body:
      string: '{"id":"7891c4c0-33b0-4169-92e8-ea451b2f87e6","name":"7891c4c0-33b0-4169-92e8-ea451b2f87e6","status":"InProgress","startTime":"2023-05-17T12:08:22.0666763Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupOperations/7891c4c0-33b0-4169-92e8-ea451b2f87e6?api-version=2023-02-01
  response:
    body:
      string: '{"id":"7891c4c0-33b0-4169-92e8-ea451b2f87e6","name":"7891c4c0-33b0-4169-92e8-ea451b2f87e6","status":"Succeeded","startTime":"2023-05-17T12:08:22.0666763Z","endTime":"2023-05-17T12:08:22.0666763Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"c6e848b9-b125-46f9-82d8-2566e37b4143"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '291'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupJobs/c6e848b9-b125-46f9-82d8-2566e37b4143?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupJobs/c6e848b9-b125-46f9-82d8-2566e37b4143","name":"c6e848b9-b125-46f9-82d8-2566e37b4143","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureStorageJob","duration":"PT41.4291445S","storageAccountName":"clitest000003","storageAccountVersion":"Storage","extendedInfo":{"tasksList":[],"propertyBag":{"File
        Share Name":"clitest-item000004","Storage Account Name":"clitest000003","Policy
        Name":"clitest-item000005"}},"isUserTriggered":false,"entityFriendlyName":"clitest-item000004","backupManagementType":"AzureStorage","operation":"ConfigureBackup","status":"Completed","startTime":"2023-05-17T12:08:22.0666763Z","endTime":"2023-05-17T12:09:03.4958208Z","activityId":"6594922a-f4ab-11ed-beaf-c8f750f92764"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupProtectionContainers?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureStorage%27+and+friendlyName+eq+%27clitest000003%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupProtectedItems?api-version=2023-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer;storage;clitest.rg000001;clitest000003/protectedItems/AzureFileShare;766e3beeab52973a81d8bf6c2bc1426c22920bceaf8f0b291c869e4f2986e092","name":"AzureFileShare;766e3beeab52973a81d8bf6c2bc1426c22920bceaf8f0b291c869e4f2986e092","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"clitest-item000004","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"IRPending","protectedItemType":"AzureFileShareProtectedItem","backupManagementType":"AzureStorage","workloadType":"AzureFileShare","containerName":"StorageContainer;storage;clitest.rg000001;clitest000003","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.storage/storageAccounts/clitest000003","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupPolicies/clitest-item000005","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","isArchiveEnabled":false,"softDeleteRetentionPeriod":0}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bclitest.rg000001%3Bclitest000003/protectedItems/AzureFileShare%3B766e3beeab52973a81d8bf6c2bc1426c22920bceaf8f0b291c869e4f2986e092?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/StorageContainer;storage;clitest.rg000001;clitest000003/protectedItems/AzureFileShare;766e3beeab52973a81d8bf6c2bc1426c22920bceaf8f0b291c869e4f2986e092","name":"AzureFileShare;766e3beeab52973a81d8bf6c2bc1426c22920bceaf8f0b291c869e4f2986e092","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"clitest-item000004","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"IRPending","extendedInfo":{"recoveryPointCount":0,"policyState":"Consistent","resourceState":"Active","resourceStateSyncTime":"2023-05-17T12:09:03.3082791Z"},"protectedItemType":"AzureFileShareProtectedItem","backupManagementType":"AzureStorage","workloadType":"AzureFileShare","containerName":"StorageContainer;storage;clitest.rg000001;clitest000003","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.storage/storageAccounts/clitest000003","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupPolicies/clitest-item000005","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","isArchiveEnabled":false,"softDeleteRetentionPeriod":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupResourceGuardProxies?api-version=2023-02-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
[...]
