interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupProtectionContainers?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitest-vm","name":"VMAppContainer;Compute;sql-clitest-rg;sql-clitest-vm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","lastUpdatedTime":"2021-10-14T05:08:18.1778622Z","extendedInfo":{"hostServerName":"sql-clitest-vm","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SQL","itemCount":12,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":""}}]}},"friendlyName":"sql-clitest-vm","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"msdb","serverName":"sql-clitest-vm","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2023-05-19T19:35:18.5507706Z","protectedItemDataSourceId":"17592916246099","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2021-11-07T19:34:40Z","recoveryPointCount":233,"policyState":"Consistent","recoveryModel":"SIMPLE"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupPolicies/sql-clitest-policy","lastRecoveryPoint":"2023-05-19T19:34:48Z","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault","isArchiveEnabled":false,"softDeleteRetentionPeriod":0}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupProtectedItems/?api-version=2021-11-15&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+itemType+eq+%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clites[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/?api-version=2021-11-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/66910247263910","name":"66910247263910","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","recoveryPointTimeInUTC":"2023-05-19T19:34:48Z","type":"Full","crossRegionRestoreState":"Supported","recoveryPointTierDetails":[{"type":"HardenedRP","status":"Valid"}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery-Point
        having active dependencies for restore is not eligible for Archive Move. "}},"recoveryPointProperties":{"expiryTime":"2023-11-15T19:34:48.0000000Z","ruleName":"Daily","isSoftDeleted":false}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/62541218137138","name":"62541218137138","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorklo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionContainers?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureWorkLoad%27+and+friendlyName+eq+%27clitest-sql-secondary-donotuse%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[{"id"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectableItems?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+workloadType+eq+%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/sqlinstance;mssqlserver","name":"sqlinstance;mssqlserver","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"MSSQLSERVER","serverName":"clitest-sql-sec","isAutoProtectable":true,"isAutoProtected":false,"subinquireditemcount":20,"subprotectableitemcount":20,"prebackupvalidation":{"status":"Success","code":"Success"},"IsProtectable":false,"backupManagementType":"AzureWorkload","workloadType":"SQL","protectableItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/sqldatabase;mssqlserver;master","name":"sqldatabase;mssqlserver;master","type":"Microsoft.RecoveryServices/vaults/backu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionIntents?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+itemName+eq+%27MSSQLSERVER%27+and+itemType+eq+%27SQLInstance%27+and+parentName+eq+%27vmappcontainer%3Bcompute%3Bclitest-rg-donotuse%3Bclitest-sql-secondary-donotuse%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/66910247263910?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/66910247263910","name":"66910247263910","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","extendedInfo":{"dataDirectoryTimeInUTC":"2023-05-19T19:34:48Z","dataDirectoryPaths":[{"type":"Data","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBData.mdf","logicalName":"MSDBData"},{"type":"Log","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBLog.ldf","logicalName":"MSDBLog"}]},"recoveryPointTimeInUTC":"2023-05-19T19:34:48Z","type":"Full","recoveryPointTierDetails":[{"type":"HardenedRP","status":"Valid"}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery-Point
        having active dependencies for restore is not eligible for Archive Move. "}}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bclitest-rg-donotuse%3Bclitest-sql-secondary-donotuse/items?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+workloadItemType+eq+%27SQLInstance%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/SQLInstance;MSSQLSERVER","name":"SQLInstance;MSSQLSERVER","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/items","properties":{"dataDirectoryPaths":[{"type":"Data","path":"F:\\data\\"},{"type":"Log","path":"G:\\log\\"}],"parentName":"MSSQLSERVER","serverName":"clitest-sql-sec","isAutoProtectable":true,"subinquireditemcount":0,"subWorkloadItemCount":20,"backupManagementType":"AzureWorkload","workloadType":"SQL","workloadItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2023-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-0000000000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionContainers?api-version=2023-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/res[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault?api-version=2023-02-01
  response:
    body:
      string: '{"location":"centraluseuap","name":"sql-clitest-vault","etag":"W/\"datetime''2023-05-18T09%3A09%3A49.7400293Z''\"","tags":{"Owner":"akneema","Purpose":"CLITest","MABUsed":"Yes","DeleteBy":"12-9999"},"properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","backupStorageVersion":"V1","securitySettings":{"immutabilitySettings":null,"softDeleteSettings":{"softDeleteRetentionPeriodInDays":14,"softDeleteState":"Disabled"},"multiUserAuthorization":"Disabled"},"publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupAadProperties?api-version=2021-11-15&%24filter=backupManagementType+eq+%27AzureWorkload%27
  response:
    body:
      string: '{"properties":{"tenantId":"33e01921-4d64-4f8c-a055-5bdaffd5e33d","audience":"https://RecoveryServices/WkloadCoord/aadmgmt/ecy","servicePrincipalObjectId":"1b8029ee-c6a9-4e01-a52b-5bb44807b831"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d", "audience":
      "https://RecoveryServices/WkloadCoord/aadmgmt/ecy", "servicePrincipalObjectId":
      "1b8029ee-c6a9-4e01-a52b-5bb44807b831"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/66910247263910/accessToken?api-version=2021-11-15
  response:
    body:
      string: '{"properties":{"protectableObjectUniqueName":"MSSQLSERVER/msdb","protectableObjectFriendlyName":"msdb","protectableObjectWorkloadType":"SQL","protectableObjectProtectionState":"Protected","protectableObjectContainerHostOsName":"sql-clitest-vm","protectableObjectParentLogicalContainerName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","containerId":"53569","policyName":"sql-clitest-policy","policyId":"f2217b85-4c4c-478d-a865-839e6ae165df","objectType":"WorkloadCrrAccessToken","accessTokenString":"eyJhbGciOiJSUzI1NiIsImtpZCI6IjI5OEM3NzlGREYxODNGMTZGOTM1OTY5RjNFRUE3QkZGRjAzM0FGRjEiLCJ4NXQiOiJLWXgzbjk4WVB4YjVOWmFmUHVwN19fQXpyX0UiLCJ0eXAiOiJKV1QifQ.eyJVc2VySWRlbnRpdHlUeXBlIjoiQUFEIiwiQWFkVGVuYW50SWQiOiIzM2UwMTkyMS00ZDY0LTRmOGMtYTA1NS01YmRhZmZkNWUzM2QiLCJBYWRTUE9iamVjdElkIjoiMWI4MDI5ZWUtYzZhOS00ZTAxLWE1MmItNWJiNDQ4MDdiODMxIiwiUGl0UGVybWlzc2lvbnMiOiJSZWFkIiwiQmFja3VwVmF1bHRJRCI6IjI1NzkxMDU4MDY4MjY0NTUwMjYiLCJDb250YWluZXJJRCI6IjUzNTY5IiwiRGF0YXNvdXJjZUlEIjoiMTc1OTI5MTYyNDYwOTkiLCJQaXRJRCI6IjY2OTEwMjQ3MjYzOTEwIiwiaXNzaWQiOiJhMTcxZjBmZS0xMDQwLTRiMmQtODNjZC05MDYyOGViYmUwOGUiLCJodHRwOi8vc2NoZW1hcy53aW5kb3dzY2xvdWRiYWNrdXAuY29tLzIwMTAvMTAvaWRlbnRpdHkvY2xhaW1zL3Jlc291cmNlaWQiOiIyNTc5MTA1ODA2ODI2NDU1MDI2IiwiaHR0cDovL3NjaGVtYXMud2luZG93c2Nsb3VkYmFja3VwLmNvbS8yMDEwLzEwL2lkZW50aXR5L2NsYWltcy9jb250YWluZXJpZCI6IjUzNTY5IiwibmJmIjoxNjg0NTk5MzIyLCJleHAiOjE2ODQ2ODU3MjIsImlhdCI6MTY4NDU5OTAyMiwiaXNzIjoiaHR0cDovL21pY3Jvc29mdC5kYXRhcHJvdGVjdGlvbi9pc3N1ZXJzL2ExNzFmMGZlLTEwNDAtNGIyZC04M2NkLTkwNjI4ZWJiZTA4ZSIsImF1ZCI6Imh0dHA6Ly9taWNyb3NvZnQuZGF0YXByb3RlY3Rpb24vUHJvdGVjdGlvblNlcnZpY2UifQ.nDybSf_4rkiAcZTFRe5P1F2fxt_2xtYhsJZJtPYNmpMI8kcE0yH7Z4NS5BMm9ykZCI3mY6fT_RIXq8qLhkZl1gCZJc2NFz5UPPipKY0w3hiOaYq7vDA6tFVYqZJ0IKzumRXXfSBZaExIiQe_gASW8481S7VJpfsJB_FVp_7mn283MSvrjREVsCz2n1M54UQj5FnyxcMoqINpDzcq3BWIdiQwHmAI97Op9lCxX8XzZwMvq15_u-IeHNjgPocgqtfkENQH252Xb9rmQc7HNWLBx8fi-XbK2qDMD_Kba9wxdH_SFyzkN1dtExT7xwyn7hm4oLl9f_f7KJ-atWn5msLeWQ","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","resourceGroupName":"sql-clitest-rg","resourceName":"sql-clitest-vault","resourceId":"2579105806826455026","protectionContainerId":53569,"recoveryPointId":"66910247263910","recoveryPointTime":"5/19/2023
        7:34:48 PM","containerName":"Compute;sql-clitest-rg;sql-clitest-vm","containerType":"VMAppContainer","backupManagementType":"AzureWorkload","datasourceType":"SQLDataBase","datasourceName":"msdb","datasourceId":"17592916246099","datasourceContainerName":"compute;sql-clitest-rg;sql-clitest-vm","coordinatorServiceStampId":"6367f474-c521-46cb-8bdb-b4daa8888f1e","coordinatorServiceStampUri":"https://pod01-wbcm1.ccy.backup.windowsazure.com","protectionServiceStampId":"90d98224-2ac6-4bda-9f35-33fb22841f2a","protectionServiceStampUri":"https://pod01-prot1-int.ccy.backup.windowsazure.com","rpOriginalSAOption":false,"rpIsManagedVirtualMachine":false,"bMSActiveRegion":"CentralUSEUAP"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"crossRegionRestoreAccessDetails": {"objectType": "WorkloadCrrAccessToken",
      "accessTokenString": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjI5OEM3NzlGREYxODNGMTZGOTM1OTY5RjNFRUE3QkZGRjAzM0FGRjEiLCJ4NXQiOiJLWXgzbjk4WVB4YjVOWmFmUHVwN19fQXpyX0UiLCJ0eXAiOiJKV1QifQ.eyJVc2VySWRlbnRpdHlUeXBlIjoiQUFEIiwiQWFkVGVuYW50SWQiOiIzM2UwMTkyMS00ZDY0LTRmOGMtYTA1NS01YmRhZmZkNWUzM2QiLCJBYWRTUE9iamVjdElkIjoiMWI4MDI5ZWUtYzZhOS00ZTAxLWE1MmItNWJiNDQ4MDdiODMxIiwiUGl0UGVybWlzc2lvbnMiOiJSZWFkIiwiQmFja3VwVmF1bHRJRCI6IjI1NzkxMDU4MDY4MjY0NTUwMjYiLCJDb250YWluZXJJRCI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjtmY2RmMjY3MC03NDNjLTRjOTQtOTI0OS0yZmQ1Yzg2MjdhODU%3D?api-version=2021-11-15
  response:
    body:
      string: '{"ErrorCode":"CloudInternalError","Message":{"Language":"en-US","Value":"Microsoft
        Azure Backup encountered an internal error. Wait for a few minutes and then
        try the operation again. If the issue persists, please contact Microsoft support."},"Values":[{"Key":"OperationId","Value":"MjU3OTEwNTgwNjgyNjQ1NTAyNjtmY2RmMjY3MC03NDNjLTRjOTQtOTI0OS0yZmQ1Yzg2MjdhODU="}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 500
      message: Internal Server Error
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjtmY2RmMjY3MC03NDNjLTRjOTQtOTI0OS0yZmQ1Yzg2MjdhODU%3D?api-version=2021-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjtmY2RmMjY3MC03NDNjLTRjOTQtOTI0OS0yZmQ1Yzg2MjdhODU=","name":"MjU3OTEwNTgwNjgyNjQ1NTAyNjtmY2RmMjY3MC03NDNjLTRjOTQtOTI0OS0yZmQ1Yzg2MjdhODU=","status":"Succeeded","startTime":"2023-05-20T16:15:24.3572153Z","endTime":"2023-05-20T16:15:25Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"4f2628ab-483d-4ba4-853d-7785affbb694"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault",
      "jobName": "4f2628ab-483d-4ba4-853d-7785affbb694"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrJob?api-version=2021-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupJobs/4f2628ab-483d-4ba4-853d-7785affbb694","name":"4f2628ab-483d-4ba4-853d-7785affbb694","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":["Cancellable"],"workloadType":"SQLDataBase","duration":"PT12.153175S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"InProgress"}],"propertyBag":{"Job Type":"Recovery
        to an alternate database","Original VM Name":"sql-clitest-vm","Target VM Name":"clitest-sql-secondary-donotuse","Target
        resource group":"clitest-rg-donotuse","Subscription Id of the vault":"38304e13-357e-405e-9e9a-220351dcce8c","Resource
        Group Name of the vault":"sql-clitest-rg","Vault name":"sql-clitest-vault","Resource
        Group Name of the target vault":"clitest-rg-donotuse","Target vault name":"clitest-vault-secondary-donotuse"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitest-vm]","backupManagementType":"AzureWorkload","operation":"CrossRegionRestore","status":"InProgress","startTime":"2023-05-20T16:15:25.7564663Z","activityId":"7b2e378c-f729-11ed-b7c7-c8f750f92764"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault",
      "jobName": "4f2628ab-483d-4ba4-853d-7785affbb694"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrJob?api-version=2021-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupJobs/4f2628ab-483d-4ba4-853d-7785affbb694","name":"4f2628ab-483d-4ba4-853d-7785affbb694","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":["Cancellable"],"workloadType":"SQLDataBase","duration":"PT10M36.3617841S","errorDetails":[{"errorCode":510011,"errorString":"Restore
        has failed due to an unknown error.","errorTitle":"WorkloadRestoreFailed","recommendations":["Wait
        for a few minutes and then try the operation again. If the issue persists,
        please contact Microsoft support."]}],"extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"Failed"}],"propertyBag":{"Data Transferred (in
        MB)":"0","Job Type":"Recovery to an alternate database","RestoreDestination":"clitest-sql-sec/MSSQLSERVER/msdb_restored","Original
        VM Name":"sql-clitest-vm","Target VM Name":"clitest-sql-secondary-donotuse","Target
        resource group":"clitest-rg-donotuse","Subscription Id of the vault":"38304e13-357e-405e-9e9a-220351dcce8c","Resource
        Group Name of the vault":"sql-clitest-rg","Vault name":"sql-clitest-vault","Resource
        Group Name of the target vault":"clitest-rg-donotuse","Target vault name":"clitest-vault-secondary-donotuse"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitest-vm]","backupManagementType":"AzureWorkload","operation":"CrossRegionRestore","status":"Failed","startTime":"2023-05-20T16:15:25.7564663Z","endTime":"2023-05-20T16:26:02.1182504Z","activityId":"7b2e378c-f729-11ed-b7c7-c8f750f92764"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1177'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjs1NGQzZjIxOC0yMDNiLTQwMGEtYmM2Zi0xNGQzNzViZmY5YjE%3D?api-version=2021-11-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjs1NGQzZjIxOC0yMDNiLTQwMGEtYmM2Zi0xNGQzNzViZmY5YjE=","name":"MjU3OTEwNTgwNjgyNjQ1NTAyNjs1NGQzZjIxOC0yMDNiLTQwMGEtYmM2Zi0xNGQzNzViZmY5YjE=","status":"Succeeded","startTime":"2023-05-20T16:27:21.2403829Z","endTime":"2023-05-20T16:27:22Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"69d96b24-91f8-42a6-ae07-428d2d6f80bd"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
