interactions:
- request:
    body: '{"location": "southeastasia", "properties": {}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: '{"location":"southeastasia","name":"clitest-vault000002","etag":"W/\"datetime''2021-09-20T10%3A10%3A03.7465401Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2021-03-01
  response:
    body:
      string: "{\"value\":[{\"location\":\"westus\",\"name\":\"sdfjsldkj\",\"etag\":\"W/\\\"datetime'2017-12-11T09%3A43%3A03.5196627Z'\\\"\",\"properties\":{\"provisioningState\":\"Succeeded\",\"privateEndpointStateForBackup\":\"None\",\"privateEndpointStateForSiteRecovery\":\"None\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/abhi555/providers/Microsoft.RecoveryServices/vaults/sdfjsldkj\",\"type\":\"Microsoft.RecoveryServices/vaults\",\"sku\":{\"name\":\"RS0\",\"tier\":\"Standard\"}},{\"location\":\"westus\",\"name\":\"gesahooVaultTest\",\"etag\":\"W/\\\"datetime'2021-07-26T09%3A34%3A08.751261Z'\\\"\",\"tags\":{\"Purpose\":\"Testing\",\"owner\":\"gesahoo\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"privateEndpointStateForBackup\":\"None\",\"privateEndpointStateForSiteRecovery\":\"None\"},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bugbashwushana1rg/providers/Microsoft.RecoveryServices/vaults/gesahooVaultTest\",\"type\":\"Microsoft.RecoveryServices/vaults\",\"sku\":{\"name\":\"Standard\"}},{\"location\":\"westus\",\"name\":\"gesahoowestus\",\"etag\":\"W/\\\"datetime'2021-07-23T06%3A13%3A30.077[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults?api-version=2021-03-01
  response:
    body:
      string: '{"value":[{"location":"southeastasia","name":"clitest-vault000002","etag":"W/\"datetime''2021-09-20T10%3A10%3A03.7465401Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","private[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupconfig/vaultconfig?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupconfig/vaultconfig","name":"vaultconfig","type":"Microsoft.RecoveryServices/vaults/backupconfig","properties":{"enhancedSecurityState":"Enabled","softDeleteFeatureState":"Enabled","isSoftDeleteFeatureStateEditable":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupstorageconfig/vaultstorageconfig?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupstorageconfig/vaultstorageconfig","name":"vaultstorageconfig","type":"Microsoft.RecoveryServices/vaults/backupstorageconfig","properties":{"storageModelType":"GeoRedundant","storageType":"GeoRedundant","dedupState":"Disabled","xcoolState":"Disabled","storageTypeState":"Unlocked","crossRegionRestoreFlag":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupProtectionContainers?api-version=2021-07-01&$filter=backupManagementType%20eq%20%27AzureIaasVM%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '9'
    status:
      code: 200
      message: OK
version: 1
