interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupProtectionContainers?api-version=2026-08-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitestvm-donotuse2","name":"VMAppContainer;Compute;sql-clitest-rg;sql-clitestvm-donotuse2","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitestvm-donotuse2","lastUpdatedTime":"2026-09-16T08:22:03.1159523Z","extendedInfo":{"hostServerName":"sql-clitestvm-d","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SQL","itemCount":4,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":"","protectableItemCount":{"SQLInstance":1,"SQLDataBase":4}}}]}},"friendlyName":"sql-clitestvm-donotuse2","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer","sourceLocation":"centraluseuap"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1099'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupProtectedItems?api-version=2026-08-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20itemType%20eq%20%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse2/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"msdb","serverName":"sql-clitestvm-d","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"Healthy","lastBackupTime":"2026-09-24T14:58:26.236465Z","protectedItemDataSourceId":"70370405962404","protectedItemHealthStatus":"Healthy","protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse2","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitestvm-donotuse2","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupPolicies/HourlyLogBackup","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse","isArchiveEnabled":false,"softDeleteRetentionPeriod":0,"sourceLocation":"centraluseuap","sourceSideScanInfo":{"sourceSideScanStatus":"NotApplicable","sourceSideScanSummary":"NotApplicable"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1099'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse2/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2026-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse2/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"msdb","serverName":"sql-clitestvm-d","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"Healthy","lastBackupTime":"2026-09-24T14:58:26.236465Z","protectedItemDataSourceId":"70370405962404","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2026-09-16T08:37:33Z","recoveryPointCount":3,"policyState":"Consistent","recoveryModel":"SIMPLE"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse2","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitestvm-donotuse2","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupPolicies/HourlyLogBackup","lastRecoveryPoint":"2026-09-16T09:14:51Z","vaultId":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse","isArchiveEnabled":false,"softDeleteRetentionPeriod":0,"sourceLocation":"centraluseuap","sourceSideScanInfo":{"sourceSideScanStatus":"NotApplicable","sourceSideScanSummary":"NotApplicable"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1099'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"backupType": "Full", "enableCompression": false, "recoveryPointExpiryTimeInUTC":
      "2026-11-08T15:00:09.841874Z", "objectType": "AzureWorkloadBackupRequest"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitestvm-donotuse2/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/backup?api-version=2026-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitestvm-donotuse2/protectedItems/SQLDataBase;mssqlserver;msdb/operationsStatus/de128397-1dea-41c2-acb7-05b44ded1413?api-version=2026-08-01&t=639258588138987345&c=MIIH8TCCBtmgAwIBAgIRAPJpd3xVinKSJ9wNON3aJq0wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupOperations/de128397-1dea-41c2-acb7-05b44ded1413?api-version=2026-08-01
  response:
    body:
      string: '{"id":"de128397-1dea-41c2-acb7-05b44ded1413","name":"de128397-1dea-41c2-acb7-05b44ded1413","status":"Succeeded","startTime":"2026-09-24T15:00:13.8299119Z","endTime":"2026-09-24T15:00:13.8299119Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"a8a3d8cf-ad7d-42b5-b104-7f96323e5ad6"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1099'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/a8a3d8cf-ad7d-42b5-b104-7f96323e5ad6?api-version=2026-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/a8a3d8cf-ad7d-42b5-b104-7f96323e5ad6","name":"a8a3d8cf-ad7d-42b5-b104-7f96323e5ad6","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":["Cancellable"],"workloadType":"SQLDataBase","duration":"PT7.2607384S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data to vault","taskType":"Normal","status":"InProgress"}],"propertyBag":{}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitestvm-d]","backupManagementType":"AzureWorkload","operation":"Backup
        (Full)","status":"InProgress","startTime":"2026-09-24T15:00:13.8299119Z","activityId":"a12cea3e-b828-11f1-a3d1-c4cb769060e6"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/a8a3d8cf-ad7d-42b5-b104-7f96323e5ad6?api-version=2026-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/a8a3d8cf-ad7d-42b5-b104-7f96323e5ad6","name":"a8a3d8cf-ad7d-42b5-b104-7f96323e5ad6","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":["Cancellable"],"workloadType":"SQLDataBase","duration":"PT2M2.5026118S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data to vault","taskType":"Normal","status":"Completed"}],"propertyBag":{"Data
        Transferred (in MB)":"24.1147","POType":"SQLDataBase","ContainerType":"VMAppContainer"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitestvm-d]","backupManagementType":"AzureWorkload","operation":"Backup
        (Full)","status":"Completed","startTime":"2026-09-24T15:00:13.8299119Z","endTime":"2026-09-24T15:02:16.3325237Z","activityId":"a12cea3e-b828-11f1-a3d1-c4cb769060e6"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupResourceGuardProxies?api-version=2026-08-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"protectedItemType": "AzureVmWorkloadSQLDatabase", "protectionState":
      "ProtectionStopped", "policyId": ""}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/52ab71b2-adbe-4034-b814-989f0ce9e9c9?api-version=2026-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/52ab71b2-adbe-4034-b814-989f0ce9e9c9","name":"52ab71b2-adbe-4034-b814-989f0ce9e9c9","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","workloadType":"SQLDataBase","duration":"PT30.8482643S","extendedInfo":{"tasksList":[],"propertyBag":{"ContainerUniqueName":"Compute;sql-clitest-rg;sql-clitestvm-donotuse2"}},"isUserTriggered":true,"entityFriendlyName":"msdb","backupManagementType":"AzureWorkload","operation":"DisableBackup","status":"Completed","startTime":"2026-09-24T15:03:17.5900181Z","endTime":"2026-09-24T15:03:48.4382824Z","activityId":"0c1c92ff-b829-11f1-8eba-c4cb769060e6"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/01823380-a0bf-47ec-a1b2-96e18eb3ce55?api-version=2026-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitestvault-donotuse/backupJobs/01823380-a0bf-47ec-a1b2-96e18eb3ce55","name":"01823380-a0bf-47ec-a1b2-96e18eb3ce55","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","workloadType":"SQLDataBase","duration":"PT31.1571162S","extendedInfo":{"tasksList":[],"propertyBag":{"ContainerUniqueName":"Compute;sql-clitest-rg;sql-clitestvm-donotuse2"}},"isUserTriggered":true,"entityFriendlyName":"msdb","backupManagementType":"AzureWorkload","operation":"DeleteBackupData","status":"Completed","startTime":"2026-09-24T15:04:09.2788968Z","endTime":"2026-09-24T15:04:40.436013Z","activityId":"2b69d2e3-b829-11f1-a206-c4cb769060e6"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
version: 1
