interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2026-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.RecoveryServices/vaults/clitest-vault000002''
        under resource group ''AzureBackupRG_clitest_000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "centraluseuap", "sku": {"name": "Standard"}, "properties":
      {"securitySettings": {"softDeleteSettings": {"enhancedSecurityState": "AlwaysOn",
      "softDeleteState": "AlwaysOn", "softDeleteRetentionPeriodInDays": 14}}, "publicNetworkAccess":
      "Enabled", "monitoringSettings": {"azureMonitorAlertSettings": {"alertsForAllJobFailures":
      "Enabled", "alertsForAllReplicationIssues": "Enabled", "alertsForAllFailoverIssues":
      "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations": "Enabled",
      "emailNotificationsForSiteRecovery": "Enabled"}}, "costManagementSettings":
      {"granularityLevel": "VaultLevel"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2026-05-01
  response:
    body:
      string: '{"location":"centraluseuap","name":"clitest-vault000002","etag":"W/\"datetime''2026-07-24T05%3A28%3A25.1615536Z''\"","properties":{"provisioningState":"Provisioning","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled","alertsForAllReplicationIssues":"Enabled","alertsForAllFailoverIssues":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled","emailNotificationsForSiteRecovery":"Enabled"}},"costManagementSettings":{"granularityLevel":"VaultLevel"},"securitySettings":{"softDeleteSettings":{"softDeleteRetentionPeriodInDays":14,"softDeleteState":"AlwaysON","enhancedSecurityState":"AlwaysON"},"multiUserAuthorization":"Invalid","sourceScanConfiguration":{"state":"Disabled"}},"redundancySettings":{"standardTierStorageRedundancy":"GeoRedundant","crossRegionRestore":"Disabled"},"regionOfChoiceSettings":{"status":"Disabled"},"secureScore":"Adequate","bcdrSecurityLevel":"Good","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs2M2EwYzQ1NS03Y2IxLTQ0MGUtOWJkNi04NDQ2ZDEzMTE2N2U=?api-version=2026-05-01&t=639204677075695645&c=MIIHlTCCBn2gAwIBAgIRAOEQ2d598G-GKVm5lXYg1qUwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjA0MTMxMDQyNTFaFw0yNjEwMDgxNjQyNTFaMEAxPjA8BgNVBAMTNWF[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0Nzs2M2EwYzQ1NS03Y2IxLTQ0MGUtOWJkNi04NDQ2ZDEzMTE2N2U=?api-version=2026-05-01&t=639204677075695645&c=MIIHlTCCBn2gAwIBAgIRAOEQ2d598G-GKVm5lXYg1qUwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2026-05-01
  response:
    body:
      string: '{"location":"centraluseuap","name":"clitest-vault000002","etag":"W/\"datetime''2026-07-24T05%3A29%3A26.8745153Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled","alertsForAllReplicationIssues":"Enabled","alertsForAllFailoverIssues":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled","emailNotificationsForSiteRecovery":"Enabled"}},"costManagementSettings":{"granularityLevel":"VaultLevel"},"backupStorageVersion":"Unassigned","securitySettings":{"softDeleteSettings":{"softDeleteRetentionPeriodInDays":14,"softDeleteState":"AlwaysON","enhancedSecurityState":"AlwaysON"},"multiUserAuthorization":"Disabled","sourceScanConfiguration":{"state":"Disabled"}},"redundancySettings":{"standardTierStorageRedundancy":"GeoRedundant","crossRegionRestore":"Disabled"},"regionOfChoiceSettings":{"status":"Disabled"},"secureScore":"Adequate","bcdrSecurityLevel":"Good","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/AzureBackupRG_clitest_000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001","name":"AzureBackupRG_clitest_000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","test":"test_backup_softdelete","date":"2026-07-24T05:28:15Z","module":"backup"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://azcliprod.blob.core.windows.net/cli/vm/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS85Gen2\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"8_5-gen2\",\n            \"version\": \"latest\",\n
        \           \"architecture\": \"x64\"\n          },\n          \"Debian11\":
        {\n            \"publisher\": \"Debian\",\n            \"offer\": \"debian-11\",\n
        \           \"sku\": \"11-backports-gen2\",\n            \"version\": \"latest\",\n
        \           \"architecture\": \"x64\"\n          },\n          \"OpenSuseLeap154Gen2\":
        {\n            \"publisher\": \"SUSE\",\n            \"offer\": \"openSUSE-leap-15-4\",\n
        \           \"sku\": \"gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"RHELRaw8LVMGen2\": {\n            \"publisher\":
        \"RedHat\",\n            \"offer\": \"RHEL\",\n            \"sku\": \"8-lvm-gen2\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"SuseSles15SP5\": {\n            \"publisher\": \"SUSE\",\n
        \           \"offer\": \"sles-15-sp5\",\n            \"sku\": \"gen2\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Ubuntu2204\": {\n            \"publisher\": \"Canonical\",\n
        \           \"offer\": \"0001-com-ubuntu-server-jammy\",\n            \"sku\":
        \"22_04-lts-gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Ubuntu2404\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"ubuntu-24_04-lts\",\n            \"sku\":
        \"server\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Ubuntu2404Pro\": {\n            \"publisher\":
        \"Canonical\",\n            \"offer\": \"ubuntu-24_04-lts\",\n            \"sku\":
        \"ubuntu-pro\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"FlatcarLinuxFreeGen2\": {\n            \"publisher\":
        \"kinvolk\",\n            \"offer\": \"flatcar-container-linux-free\",\n            \"sku\":
        \"stable-gen2\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"AzureLinux4\": {\n            \"publisher\":
        \"microsoftazurelinux\",\n            \"offer\": \"azurelinux-4\",\n            \"sku\":
        \"4\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"AzureLinux4Arm64\": {\n            \"publisher\":
        \"microsoftazurelinux\",\n            \"offer\": \"azurelinux-4\",\n            \"sku\":
        \"4-arm64\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"Arm64\"\n          },\n          \"AzureLinux4Gen1\": {\n            \"publisher\":
        \"microsoftazurelinux\",\n            \"offer\": \"azurelinux-4\",\n            \"sku\":
        \"4-gen1\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        },\n        \"Windows\": {\n          \"Win2022Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-datacenter-g2\",\n            \"version\":
        \"latest\",\n            \"architecture\": \"x64\"\n          },\n          \"Win2022AzureEditionCore\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\",\n
        \           \"version\": \"latest\",\n            \"architecture\": \"x64\"\n
        \         },\n          \"Win2019Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2019-datacenter-gensecond\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2016Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2016-datacenter-gensecond\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          },\n          \"Win2012Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-Datacenter\",\n            \"version\": \"latest\",\n            \"architecture\":
        \"x64\"\n          }\n        }\n      }\n    }\n  }\n}\n"
    headers:
      content-md5:
      - OcxbeTNDy3xj7NXI6iFCgA==
      content-type:
      - application/octet-stream
      etag:
      - '0x8DEDBE272C34DB8'
      last-modified:
      - Tue, 07 Jul 2026 04:44:36 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2009-09-19'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-g2/versions?$expand=properties&$orderby=name%20desc&$top=1&api-version=2024-11-01
  response:
    body:
      string: "[\r\n  {\r\n    \"properties\": {\r\n      \"hyperVGeneration\": \"V2\",\r\n
        \     \"architecture\": \"x64\",\r\n      \"replicaType\": \"Managed\",\r\n
        \     \"replicaCount\": 10,\r\n      \"goLiveDate\": \"2026-07-14T00:00:00+00:00\"\r\n
        \   },\r\n    \"extendedLocation\": null,\r\n    \"location\": \"CentralUSEUAP\",\r\n
        \   \"name\": \"20348.5386.260711\",\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/CentralUSEUAP/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-g2/Versions/20348.5386.260711\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15997,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43995
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/centraluseuap/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-g2/versions/20348.5386.260711?api-version=2024-11-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n    \"replicaCount\": 10,\r\n
        \   \"disallowed\": {\r\n      \"vmDiskType\": \"Unmanaged\"\r\n    },\r\n
        \   \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\":
        false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\":
        \"ScheduledForDeprecation\",\r\n      \"scheduledDeprecationTime\": \"2027-01-12T00:00:00+00:00\"\r\n
        \   },\r\n    \"imageDiscontinuationStatus\": {\r\n      \"imageDiscontinuationState\":
        \"None\",\r\n      \"imageDiscontinuationDate\": \"9999-12-31T23:59:59.9999999+00:00\"\r\n
        \   },\r\n    \"features\": [\r\n      {\r\n        \"name\": \"SecurityType\",\r\n
        \       \"value\": \"TrustedLaunchAndConfidentialVmSupported\"\r\n      },\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\":
        \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n
        \   \"osDiskImage\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"sizeInGb\":
        127\r\n    },\r\n    \"dataDiskImages\": [],\r\n    \"goLiveDate\": \"2026-07-14T00:00:00+00:00\"\r\n
        \ },\r\n  \"location\": \"CentralUSEUAP\",\r\n  \"name\": \"20348.5386.260711\",\r\n
        \ \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/CentralUSEUAP/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-g2/Versions/20348.5386.260711\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12997,Microsoft.Compute/GetVMImageFromLocation30Min;73995
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "clitest-vm000003VNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "centraluseuap", "apiVersion": "2015-06-15", "dependsOn": [], "tags":
      {"MabUsed": "Yes", "Owner": "sisi", "Purpose": "CLITest", "DeleteBy": "12-2099",
      "AutoShutdown": "No"}, "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"name": "clitest-vm000003Subnet", "properties": {"addressPrefix":
      "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups", "name":
      "clitest-vm000003NSG", "apiVersion": "2015-06-15", "location": "centraluseuap",
      "tags": {"MabUsed": "Yes", "Owner": "sisi", "Purpose": "CLITest", "DeleteBy":
      "12-2099", "AutoShutdown": "No"}, "dependsOn": []}, {"apiVersion": "2022-01-01",
      "type": "Microsoft.Network/publicIPAddresses", "name": "clitest-vm000003PublicIP",
      "location": "centraluseuap", "tags": {"MabUsed": "Yes", "Owner": "sisi", "Purpose":
      "CLITest", "DeleteBy": "12-2099", "AutoShutdown": "No"}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}}, {"apiVersion":
      "2015-06-15", "type": "Microsoft.Network/networkInterfaces", "name": "clitest-vm000003VMNic",
      "location": "centraluseuap", "tags": {"MabUsed": "Yes", "Owner": "sisi", "Purpose":
      "CLITest", "DeleteBy": "12-2099", "AutoShutdown": "No"}, "dependsOn": ["Microsoft.Network/virtualNetworks/clitest-vm000003VNET",
      "Microsoft.Network/networkSecurityGroups/clitest-vm000003NSG", "Microsoft.Network/publicIpAddresses/clitest-vm000003PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigclitest-vm000003", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000003VNET/subnets/clitest-vm000003Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000003PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000003NSG"}}},
      {"apiVersion": "2025-11-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "clitest-vm000003", "location": "centraluseuap", "tags": {"MabUsed": "Yes",
      "Owner": "sisi", "Purpose": "CLITest", "DeleteBy": "12-2099", "AutoShutdown":
      "No"}, "dependsOn": ["Microsoft.Network/networkInterfaces/clitest-vm000003VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_D2s_v5"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000003VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2022-datacenter-g2", "version": "latest"}}, "osProfile": {"computerName":
      "clitest-vm000003", "adminUsername": "clitest-vm000003", "adminPassword": "[parameters(''adminPassword'')]"}}}],
      "outputs": {}}, "parameters": {"adminPassword": {"value": "%j^VYw9Q3Z@Cu$*h"}},
      "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/AzureBackupRG_clitest_000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Resources/deployments/vm_deploy_htaCq4Hglo54dFGLz6Gghx2pe39D0ZrV","name":"vm_deploy_htaCq4Hglo54dFGLz6Gghx2pe39D0ZrV","type":"Microsoft.Resources/deployments","properties":{"templateHash":"5034265273442799968","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2026-07-24T05:29:46.9107048Z","duration":"PT0S","correlationId":"1e3dbea9-4565-47f1-b0a9-6ec2ee7ca96c","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["centraluseuap"]},{"resourceType":"networkSecurityGroups","locations":["centraluseuap"]},{"resourceType":"publicIPAddresses","locations":["centraluseuap"]},{"resourceType":"networkInterfaces","locations":["centraluseuap"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["centraluseuap"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000003VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"clitest-vm000003VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000003NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"clitest-vm000003NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000003PublicIP","resourceType":"Microsoft.Networ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/AzureBackupRG_clitest_000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584167358985565541?api-version=2024-11-01&t=639204677875982283&c=MIIH9TCCBt2gAwIBAgIRAPDa4C9JdpzDdl9yhvBcNtYwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjA3MjAyMzA3MDRaFw0yNzAxM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000003?$expand=instanceView&api-version=2026-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitest-vm000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000003\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"centraluseuap\",\r\n
        \ \"tags\": {\r\n    \"MabUsed\": \"Yes\",\r\n    \"Owner\": \"sisi\",\r\n
        \   \"Purpose\": \"CLITest\",\r\n    \"DeleteBy\": \"12-2099\",\r\n    \"AutoShutdown\":
        \"No\",\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\":
        \"true\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n
        \   \"principalId\": \"0f80c1d9-4367-4e9e-9f15-90c7c79dc881\",\r\n    \"tenantId\":
        \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"properties\": {\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v5\"\r\n    },\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"vmId\": \"c95d4f41-708e-4331-a4a2-297fe2f1f951\",\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\":
        \"2022-datacenter-g2\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"20348.5386.260711\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Windows\",\r\n        \"name\": \"clitest-vm000003_disk1_d313d6f00ef14003953cf089fd6aebef\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Compute/disks/clitest-vm000003_disk1_d313d6f00ef14003953cf089fd6aebef\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        127\r\n      },\r\n      \"dataDisks\": [],\r\n      \"diskControllerType\":
        \"SCSI\"\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"clitest-vm000003\",\r\n
        \     \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n
        \       \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\": {\r\n
        \         \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\":
        \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\":
        true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true,\r\n      \"adminUsername\":
        \"clitest-vm000003\"\r\n    },\r\n    \"securityProfile\": {\r\n      \"securityType\":
        \"Standard\",\r\n      \"proxyAgentSettings\": {\r\n        \"enabled\": true,\r\n
        \       \"wireServer\": {\r\n          \"mode\": \"Audit\"\r\n        },\r\n
        \       \"imds\": {\r\n          \"mode\": \"Audit\"\r\n        }\r\n      }\r\n
        \   },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest_000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000003VMNic\"}]},\r\n
        \   \"instanceView\": {\r\n      \"computerName\": \"clitest-vm000003\",\r\n
        \     \"osName\": \"Windows Server 2022 Datacenter\",\r\n      \"osVersion\":
        \"10.0.20348.5386\",\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\":
        \"2.7.41491.1238\",\r\n        \"statuses\": [\r\n          {\r\n            \"code\":
        \"ProvisioningState/succeeded\",\r\n            \"level\": \"Info\",\r\n            \"displayStatus\":
        \"Ready\",\r\n            \"message\": \"GuestAgent is running and processing
        the extensions.\",\r\n            \"time\": \"2026-07-24T05:32:51.726+00:00\"\r\n
        \         }\r\n        ],\r\n        \"extensionHandlers\": [\r\n          {\r\n
        \           \"type\": \"Microsoft.CPlat.ProxyAgent.ProxyAgentWindows\",\r\n
        \           \"typeHandlerVersion\": \"1.0.46\",\r\n            \"status\":
        {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n              \"level\":
        \"Info\",\r\n              \"displayStatus\": \"Ready\",\r\n              \"message\":
        \"Extension is running\"\r\n            }\r\n          }\r\n        ]\r\n
        \     },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"clitest-vm000003_disk1_d313d6f00ef14003953cf089fd6aebef\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2026-07-24T05:29:59.0989895+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"extensions\":
        [\r\n        {\r\n          \"name\": \"AzureGuestProxyAgentExtension\",\r\n
        \         \"type\": \"Microsoft.CPlat.ProxyAgent.ProxyAgentWindows\",\r\n
        \         \"typeHandlerVersion\": \"1.0.46\",\r\n          \"substatuses\":
        [\r\n            {\r\n              \"code\": \"ComponentStatus/ProxyAgentConnectionSummary/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
[...]
