interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/idcdemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupProtectionContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/idcdemo/providers/microsoft.recoveryservices/vaults/idcdemovault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;IDCDemo;HANADemoIDC1","name":"VMAppContainer;Compute;IDCDemo;HANADemoIDC1","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.Compute/virtualMachines/HANADemoIDC1","lastUpdatedTime":"2019-09-12T09:05:17.9002084Z","extendedInfo":{"hostServerName":"HANADemoIDC1","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SAPHana","itemCount":5,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":""}}]}},"friendlyName":"HANADemoIDC1","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/idcdemo/providers/microsoft.recoveryservices/vaults/idcdemovault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;IDCDemo;HANADemoIDC3","name":"VMAppContainer;Compute;IDCDemo;HANADemoIDC3","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Micros[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/idcdemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3BIDCDemo%3BHANADemoIDC3/protectedItems/saphanadatabase%3Bh22%3Bh22_restored_sarath?api-version=2019-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/idcdemo/providers/microsoft.recoveryservices/vaults/idcdemovault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;idcdemo;hanademoidc3/protectedItems/SAPHanaDatabase;h22;h22_restored_sarath","name":"SAPHanaDatabase;h22;h22_restored_sarath","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"h22_restored_sarath","serverName":"HANADemoIDC3","parentName":"H22","parentType":"AzureVmWorkloadSAPHanaSystem","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"IRPending","lastBackupTime":"2019-10-10T09:06:08.1891359Z","lastBackupErrorDetail":{"code":"CloudInternalError","message":"Microsoft
        Azure Backup encountered an internal error.","recommendations":["Wait for
        a few minutes and then try the operation again. If the issue persists, please
        contact Microsoft support."]},"protectedItemDataSourceId":"129717662","protectedItemHealthStatus":"IRPending","extendedInfo":{"oldestRecoveryPoint":"2019-10-10T07:53:39.362Z","recoveryPointCount":3,"policyState":"Consistent"},"protectedItemType":"AzureVmWorkloadSAPHanaDatabase","backupManagementType":"AzureWorkload","workloadType":"SAPHanaDatabase","containerName":"VMAppContainer;compute;idcdemo;hanademoidc3","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/idcdemo/providers/Microsoft.Compute/virtualMachines/hanademoidc3","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/idcdemo/providers/microsoft.recoveryservices/vaults/idcdemovault/backupPolicies/logbackup2hrs","lastRecoveryPoint":"2019-10-10T09:08:06.366Z"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/idcdemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bidcdemo%3Bhanademoidc3/protectedItems/SAPHanaDatabase%3Bh22%3Bh22_restored_sarath/recoveryPoints?api-version=2019-06-15
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/idcdemo/providers/microsoft.recoveryservices/vaults/idcdemovault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;idcdemo;hanademoidc3/protectedItems/SAPHanaDatabase;h22;h22_restored_sarath/recoveryPoints/76072765135896","name":"76072765135896","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSAPHanaRecoveryPoint","recoveryPointTimeInUTC":"2019-10-10T07:53:39.362Z","type":"Full"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/idcdemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bidcdemo%3Bhanademoidc3/protectedItems/SAPHanaDatabase%3Bh22%3Bh22_restored_sarath/recoveryPoints?api-version=2019-06-15&$filter=restorePointQueryType%20eq%20%27Log%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/idcdemo/providers/microsoft.recoveryservices/vaults/idcdemovault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;idcdemo;hanademoidc3/protectedItems/SAPHanaDatabase;h22;h22_restored_sarath/recoveryPoints/DefaultRangeRecoveryPoint","name":"DefaultRangeRecoveryPoint","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSAPHanaPointInTimeRecoveryPoint","timeRanges":[{"startTime":"2019-10-10T07:53:39.362Z","endTime":"2019-10-10T09:08:06.366Z"}],"type":"Log"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/idcdemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bidcdemo%3Bhanademoidc3/protectedItems/SAPHanaDatabase%3Bh22%3Bh22_restored_sarath?api-version=2019-06-15
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/idcdemo/providers/microsoft.recoveryservices/vaults/idcdemovault/backupOperations/2537bb63-7416-4534-8091-5f641be4ed07?api-version=2016-12-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/idcdemo/providers/microsoft.recoveryservices/vaults/idcdemovault/backupOperationResults/2537bb63-7416-4534-8091-5f641be4ed07?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/idcdemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupOperations/2537bb63-7416-4534-8091-5f641be4ed07?api-version=2016-12-01
  response:
    body:
      string: '{"id":"2537bb63-7416-4534-8091-5f641be4ed07","name":"2537bb63-7416-4534-8091-5f641be4ed07","status":"InProgress","startTime":"2019-10-10T09:11:30.2907058Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/idcdemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupOperations/2537bb63-7416-4534-8091-5f641be4ed07?api-version=2016-12-01
  response:
    body:
      string: '{"id":"2537bb63-7416-4534-8091-5f641be4ed07","name":"2537bb63-7416-4534-8091-5f641be4ed07","status":"Succeeded","startTime":"2019-10-10T09:11:30.2907058Z","endTime":"2019-10-10T09:11:30.2907058Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"8a8afce6-be09-4a9c-beb5-b0d712139f30"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/idcdemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupJobs/8a8afce6-be09-4a9c-beb5-b0d712139f30?api-version=2019-06-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/idcdemo/providers/microsoft.recoveryservices/vaults/idcdemovault/backupJobs/8a8afce6-be09-4a9c-beb5-b0d712139f30","name":"8a8afce6-be09-4a9c-beb5-b0d712139f30","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","workloadType":"SAPHanaDatabase","duration":"PT32.2667557S","extendedInfo":{"tasksList":[],"propertyBag":{}},"entityFriendlyName":"h22_restored_sarath","backupManagementType":"AzureWorkload","operation":"DeleteBackupData","status":"Completed","startTime":"2019-10-10T09:11:30.2907058Z","endTime":"2019-10-10T09:12:02.5574615Z","activityId":"f1c8d540-eb3d-11e9-9dbc-186024943d4f"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
