interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.RecoveryServices/vaults/clitest-vault000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus", "properties": {"publicNetworkAccess": "Enabled",
      "monitoringSettings": {"azureMonitorAlertSettings": {"alertsForAllJobFailures":
      "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations": "Enabled"}}},
      "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-10-01
  response:
    body:
      string: '{"location":"westus","name":"clitest-vault000002","etag":"W/\"datetime''2023-01-31T20%3A49%3A04.6435921Z''\"","properties":{"provisioningState":"Provisioning","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","encryption":null,"monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"publicNetworkAccess":"Enabled"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0NzswOGU4MzdhYS0zZjA0LTQwN2YtYTQ3MS05MWMxM2JiNzE4MDI=?api-version=2022-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0NzswOGU4MzdhYS0zZjA0LTQwN2YtYTQ3MS05MWMxM2JiNzE4MDI=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0NzswOGU4MzdhYS0zZjA0LTQwN2YtYTQ3MS05MWMxM2JiNzE4MDI=\"\
        ,\r\n  \"name\": \"MjA0NzswOGU4MzdhYS0zZjA0LTQwN2YtYTQ3MS05MWMxM2JiNzE4MDI=\"\
        ,\r\n  \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/MjA0NzswMjc1MjE0OS02MTAwLTRlNjEtOGRhYS1kZDgyOGQxMmUyMWM=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/MjA0NzswMjc1MjE0OS02MTAwLTRlNjEtOGRhYS1kZDgyOGQxMmUyMWM=\"\
        ,\r\n  \"name\": \"MjA0NzswMjc1MjE0OS02MTAwLTRlNjEtOGRhYS1kZDgyOGQxMmUyMWM=\"\
        ,\r\n  \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-31T20:48:56Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007?api-version=2022-01-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007","name":"clitest-identity1000007","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"0fd3f49d-abce-4719-a5e0-7ddd67e2d429","clientId":"57512b37-552f-44d8-ad6d-5c6d94e94480"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "userassigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity2000008":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtlMTU2Yzk0Zi03MDQ5LTQ2MmMtYTFhYi1jN2EzODY3MTI2YWE=?api-version=2022-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtlMTU2Yzk0Zi03MDQ5LTQ2MmMtYTFhYi1jN2EzODY3MTI2YWE=?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtlMTU2Yzk0Zi03MDQ5LTQ2MmMtYTFhYi1jN2EzODY3MTI2YWE=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Recove[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtiNWNlZTVjYi01ZDkwLTQzNDQtYWFmMC05NmU5NDMyYTk2NTQ=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Recove[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs1MDg3Njg2Yy0xMDBmLTQ0MDktYjhiOC1lMjgzNjA2MjM2MjA=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Recove[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTszODBkM2I5ZC01MjcxLTRjYjMtYjc1ZC0zZTU5YTFiMTBlZWU=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Recove[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvm.encryptedvm/providers/Microsoft.KeyVault/vaults/iaasencrypted-kv","name":"iaasencrypted-kv","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvm.new.vaults/providers/Microsoft.KeyVault/vaults/jakavetKVNew","name":"jakavetKVNew","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jakavetRG/providers/Microsoft.KeyVault/vaults/jakavetKV2","name":"jakavetKV2","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseTest/providers/Microsoft.KeyVault/vaults/akkanasecmktest","name":"akkanasecmktest","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{"Owner":"akkanase","Purpose":"Testing","Mab
        Used":"yes","Delete By":"05-2023"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cmk.system/providers/Microsoft.KeyVault/vaults/cmkkeyvault1","name":"cmkkeyvault1","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{"Mab
        Used":"yes","Purpose":"BVT","Owner":"akkanase","DeleteBy":"05-2099"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseOSS/providers/Microsoft.KeyVault/vaults/akkanase","name":"akkanase","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{"Mab
        Used":"yes","Purpose":"Testing","Delete By":"05-2022","Owner":"akkanase"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseCMK/providers/Microsoft.KeyVault/vaults/testaka","name":"testaka","type":"Microsoft.KeyVault/vault[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004","name":"clitest000004","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"zubairabid@microsoft.com","createdByType":"User","createdAt":"2023-01-31T20:51:13.989Z","lastModifiedBy":"zubairabid@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-01-31T20:51:13.989Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"12f8ea5c-1212-449e-b31c-0a574f43076e","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://clitest000004.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "12f8ea5c-1212-449e-b31c-0a574f43076e",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "vaultUri": "https://clitest000004.vault.azure.net/",
      "enabledForDeployment": false, "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enablePurgeProtection": true, "provisioningState": "Succeeded", "publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.K[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.vault.azure.net/keys/clitest-key1000005/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["decrypt", "encrypt", "sign",
      "unwrapKey", "verify", "wrapKey"], "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.vault.azure.net/keys/clitest-key1000005/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://clitest000004.vault.azure.net/keys/clitest-key1000005/dfcceb49a98148709d329f01907e30b1","kty":"RSA","key_ops":["decrypt","encrypt","sign","unwrapKey","verify","wrapKey"],"n":"qnSrVM8RbZt9lWstkgFQlkS6hp9h1u9dK33V13CH2XZvnVUv2jGnxl2DieomPmPcD4g6d9iuFXkA3pMGgPIBH-WIpMqcAlFOn_nvFiwMUWhDog4Q62tJx_IXcI4CN15w45GN3WYYOejmFw_VEhslHfUnu8Bxa0GZGLRtkWop4Cp6sb9mbwIwFi1c5bNWR1iC2Cj47tilBiZT0jIYoQYxKJECw24wSohoIQwfEmOXGDl6Asn43ZGT3ohzVN_YMBzhDVBAXyOOK_oIsjxPp7ORBkVMiQzAnaThtG2Nhp9T323nlwetU5tRaR1K_3CIAs-cQTwqDa4ffhX-466BLOE0WQ","e":"AQAB"},"attributes":{"enabled":true,"created":1675198828,"updated":1675198828,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"useSystemAssignedIdentity":true,"encryptionAtRestType":"MicrosoftManaged","lastUpdateStatus":"NotEnabled","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyUri": "https://clitest000004.vault.azure.net/keys/clitest-key1000005/dfcceb49a98148709d329f01907e30b1"},
      "kekIdentity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007"},
      "infrastructureEncryption": "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthMzg2NTYxMS00OGFjLTRiMjQtODg3ZC1mMWEyNmYxNTMwMDE=?api-version=2022-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTthMzg2NTYxMS00OGFjLTRiMjQtODg3ZC1mMWEyNmYxNTMwMDE=?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '296'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthMzg2NTYxMS00OGFjLTRiMjQtODg3ZC1mMWEyNmYxNTMwMDE=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Recove[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"userAssignedIdentity":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007","useSystemAssignedIdentity":false,"encryptionAtRestType":"CustomerManaged","keyUri":"https://clitest000004.vault.azure.net/keys/clitest-key1000005/dfcceb49a98148709d329f01907e30b1","subscriptionId":"","lastUpdateStatus":"Succeeded","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsxOTBmODFhMy02MGFiLTRlOWQtODI5ZS1mN2U3OTUyMzE3Yjk=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Recove[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtmOTQ3ZjAzYy0zNTU2LTRiMzgtYjJkOC0zOGNkYmExNmUwOWI=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtmOTQ3ZjAzYy0zNTU2LTRiMzgtYjJkOC0zOGNkYmExNmUwOWI=\"\
        ,\r\n  \"name\": \"NDA5NTtmOTQ3ZjAzYy0zNTU2LTRiMzgtYjJkOC0zOGNkYmExNmUwOWI=\"\
        ,\r\n  \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs5OWE1NTY1OC1iNGE0LTQyMjQtYWU1Ny1hYWQ2ODY2MjE0ZDE=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Recove[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTtmZmU2MWYyYy02NDU3LTQ3N2QtOGY4MS0xYmZjODMxMWU2ZDQ=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Recove[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTtkMzk2YjgyOC0wMzgwLTQ1ODYtYjM2Ni1mMjZhYjJhOWI1MDk=?api-version=2022-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Recove[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupProtectionContainers?api-version=2023-01-01&%24filter=backupManagementType+eq+%27AzureIaasVM%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '48'
    status:
      code: 200
      message: OK
version: 1
