interactions:
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: '{"location":"westus","name":"clitest-vault000002","etag":"W/\"datetime''2021-10-21T06%3A16%3A35.0603293Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-10-21T06:16:21Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007","name":"clitest-identity1000007","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"51c35c03-4978-4d63-ac4e-acf44f0e93f8","clientId":"5d22a2ca-6861-45bb-9091-1c129c03b5d5","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007/credentials?tid=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a&oid=51c35c03-4978-4d63-ac4e-acf44f0e93f8&aid=5d22a2ca-6861-45bb-9091-1c129c03b5d5"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "userassigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity2000008":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTswMDliODAxYy0yOGMxLTQ4MzQtYTAwYS1hOGY1M2RiYjM2NjE=?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTswMDliODAxYy0yOGMxLTQ4MzQtYTAwYS1hOGY1M2RiYjM2NjE=?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTswMDliODAxYy0yOGMxLTQ4MzQtYTAwYS1hOGY1M2RiYjM2NjE=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTswMDliODAxYy0yOGMxLTQ4MzQtYTAwYS1hOGY1M2RiYjM2NjE=\",\r\n
        \ \"name\": \"NDA5NTswMDliODAxYy0yOGMxLTQ4MzQtYTAwYS1hOGY1M2RiYjM2NjE=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTswMDliODAxYy0yOGMxLTQ4MzQtYTAwYS1hOGY1M2RiYjM2NjE=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTswMDliODAxYy0yOGMxLTQ4MzQtYTAwYS1hOGY1M2RiYjM2NjE=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyNmYxNGU5ZS0xMGFjLTQ5M2QtODE3YS1kZDY4YmUyODYyOWU=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyNmYxNGU5ZS0xMGFjLTQ5M2QtODE3YS1kZDY4YmUyODYyOWU=\",\r\n
        \ \"name\": \"NDA5NTsyNmYxNGU5ZS0xMGFjLTQ5M2QtODE3YS1kZDY4YmUyODYyOWU=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyNmYxNGU5ZS0xMGFjLTQ5M2QtODE3YS1kZDY4YmUyODYyOWU=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsyNmYxNGU5ZS0xMGFjLTQ5M2QtODE3YS1kZDY4YmUyODYyOWU=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTthNWE0ZmQ4Yy05OWYyLTQ2YzItOWRmNC1iNmQwMTg0ZmU1OTg=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTthNWE0ZmQ4Yy05OWYyLTQ2YzItOWRmNC1iNmQwMTg0ZmU1OTg=\",\r\n
        \ \"name\": \"NDA5NTthNWE0ZmQ4Yy05OWYyLTQ2YzItOWRmNC1iNmQwMTg0ZmU1OTg=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs3OTQxZmRkNS1lNzJlLTQ5ZjYtYjFhZS00NjI4OWRkYmNkYjU=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs3OTQxZmRkNS1lNzJlLTQ5ZjYtYjFhZS00NjI4OWRkYmNkYjU=\",\r\n
        \ \"name\": \"NDA5NTs3OTQxZmRkNS1lNzJlLTQ5ZjYtYjFhZS00NjI4OWRkYmNkYjU=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_certydxuhvtvsxdjnc546f7msc4av6wnlqnkcuxyiujxakzlutcgfn7yg/providers/Microsoft.KeyVault/vaults/cli-test-kv-ct-wi76wg5l3","name":"cli-test-kv-ct-wi76wg5l3","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_network_ruleim7o2mbgwgid2eqbin4y4q4fuqdd7ymhgzlvjmxmoyo3c/providers/Microsoft.KeyVault/vaults/c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004","name":"clitest000004","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"zhiyihuang@microsoft.com","createdByType":"User","createdAt":"2021-10-21T06:16:48.961Z","lastModifiedBy":"zhiyihuang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-10-21T06:16:48.961Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://clitest000004.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "vaultUri": "https://clitest000004.vault.azure.net/", "enabledForDeployment":
      false, "enableSoftDelete": true, "softDeleteRetentionInDays": 7, "enablePurgeProtection":
      true, "provisioningState": "Succeeded", "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Mic[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.vault.azure.net/keys/clitest-key1000005/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["decrypt", "encrypt", "sign",
      "unwrapKey", "verify", "wrapKey"], "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.vault.azure.net/keys/clitest-key1000005/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://clitest000004.vault.azure.net/keys/clitest-key1000005/68337f1448bb4904b6485d092ab3868c","kty":"RSA","key_ops":["decrypt","encrypt","sign","unwrapKey","verify","wrapKey"],"n":"3dtT9vxVyJMTv5ZZd_5FlQgeBTuzWh2craLQdX716kHexCAQcyjDQ5YuaQDlNEo4p1ygLrp623LUnHmt2Dp_7scQYtvhEhhwJUjJphJYRYjJio1VxefpAqgydnPQyzGstoMu1poojhhF912fG8TeF82ufNGx7TjlKfxJg9ElHds3GCRTpmQmDhwwk0KdCdbsu4pE4F7GieuTrjekry1out100etG33wgv5HVL_Li2JxIoUCh_2XGUiKcHVrEfNS_QMZe1Z6-ygzGRNJVdKc0ZCXlVVf4xPF9yWWSQlh-NdqjKtffFCFy2i7sF_FbkvYZqpRKgOsHjmuRlJR_nTStUQ","e":"AQAB"},"attributes":{"enabled":true,"created":1634797459,"updated":1634797459,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"useSystemAssignedIdentity":true,"encryptionAtRestType":"MicrosoftManaged","lastUpdateStatus":"NotEnabled","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyUri": "https://clitest000004.vault.azure.net/keys/clitest-key1000005/68337f1448bb4904b6485d092ab3868c"},
      "kekIdentity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007"},
      "infrastructureEncryption": "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyM2FiYmY0MC0wOTRmLTQwNTAtYTdiZi01OGE0ZDYxNTlmNDk=?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsyM2FiYmY0MC0wOTRmLTQwNTAtYTdiZi01OGE0ZDYxNTlmNDk=?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyM2FiYmY0MC0wOTRmLTQwNTAtYTdiZi01OGE0ZDYxNTlmNDk=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyM2FiYmY0MC0wOTRmLTQwNTAtYTdiZi01OGE0ZDYxNTlmNDk=\",\r\n
        \ \"name\": \"NDA5NTsyM2FiYmY0MC0wOTRmLTQwNTAtYTdiZi01OGE0ZDYxNTlmNDk=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTsyM2FiYmY0MC0wOTRmLTQwNTAtYTdiZi01OGE0ZDYxNTlmNDk=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTsyM2FiYmY0MC0wOTRmLTQwNTAtYTdiZi01OGE0ZDYxNTlmNDk=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"userAssignedIdentity":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007","useSystemAssignedIdentity":false,"encryptionAtRestType":"CustomerManaged","keyUri":"https://clitest000004.vault.azure.net/keys/clitest-key1000005/68337f1448bb4904b6485d092ab3868c","subscriptionId":"","lastUpdateStatus":"Succeeded","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtlODQ2YTViNC0yZDQxLTRhZDUtYWI2OS04YjcwZGVhMDNmYzc=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtlODQ2YTViNC0yZDQxLTRhZDUtYWI2OS04YjcwZGVhMDNmYzc=\",\r\n
        \ \"name\": \"NDA5NTtlODQ2YTViNC0yZDQxLTRhZDUtYWI2OS04YjcwZGVhMDNmYzc=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtlODQ2YTViNC0yZDQxLTRhZDUtYWI2OS04YjcwZGVhMDNmYzc=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtlODQ2YTViNC0yZDQxLTRhZDUtYWI2OS04YjcwZGVhMDNmYzc=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs4OGZhYjAwNy05N2IxLTQ0YzItOWMxZC01MTgzMGUxZWQzYzA=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs4OGZhYjAwNy05N2IxLTQ0YzItOWMxZC01MTgzMGUxZWQzYzA=\",\r\n
        \ \"name\": \"NDA5NTs4OGZhYjAwNy05N2IxLTQ0YzItOWMxZC01MTgzMGUxZWQzYzA=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs4OGZhYjAwNy05N2IxLTQ0YzItOWMxZC01MTgzMGUxZWQzYzA=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTs4OGZhYjAwNy05N2IxLTQ0YzItOWMxZC01MTgzMGUxZWQzYzA=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTszMTI3NDA5YS03ZDYxLTQ1OTgtOWIzMS00YTk0MjZmMTAwYTI=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTszMTI3NDA5YS03ZDYxLTQ1OTgtOWIzMS00YTk0MjZmMTAwYTI=\",\r\n
        \ \"name\": \"NDA5NTszMTI3NDA5YS03ZDYxLTQ1OTgtOWIzMS00YTk0MjZmMTAwYTI=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTszMTI3NDA5YS03ZDYxLTQ1OTgtOWIzMS00YTk0MjZmMTAwYTI=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTszMTI3NDA5YS03ZDYxLTQ1OTgtOWIzMS00YTk0MjZmMTAwYTI=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTtlOGE2NDZjYy1iZDRhLTRhYzUtOThhYS1hYTM0NzQ3M2M3Mjk=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTtlOGE2NDZjYy1iZDRhLTRhYzUtOThhYS1hYTM0NzQ3M2M3Mjk=\",\r\n
        \ \"name\": \"NDA5NTtlOGE2NDZjYy1iZDRhLTRhYzUtOThhYS1hYTM0NzQ3M2M3Mjk=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTtlOGE2NDZjYy1iZDRhLTRhYzUtOThhYS1hYTM0NzQ3M2M3Mjk=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/NDA5NTtlOGE2NDZjYy1iZDRhLTRhYzUtOThhYS1hYTM0NzQ3M2M3Mjk=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTsyZjlhNWQ0Yy1kM2JjLTQ1YjAtODI3ZS1iZWM1ZGE2NDg5YWM=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTsyZjlhNWQ0Yy1kM2JjLTQ1YjAtODI3ZS1iZWM1ZGE2NDg5YWM=\",\r\n
        \ \"name\": \"NDA5NTsyZjlhNWQ0Yy1kM2JjLTQ1YjAtODI3ZS1iZWM1ZGE2NDg5YWM=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTsyZjlhNWQ0Yy1kM2JjLTQ1YjAtODI3ZS1iZWM1ZGE2NDg5YWM=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/NDA5NTsyZjlhNWQ0Yy1kM2JjLTQ1YjAtODI3ZS1iZWM1ZGE2NDg5YWM=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupProtectionContainers?api-version=2021-07-01&$filter=backupManagementType%20eq%20%27AzureIaasVM%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
        a response from ''Microsoft.RecoveryServices'' within the specified time period."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 504
      message: Gateway Timeout
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '9'
    status:
      code: 200
      message: OK
version: 1
