interactions:
- request:
    body: '{"location": "westus", "properties": {"monitoringSettings": {"azureMonitorAlertSettings":
      {"alertsForAllJobFailures": "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations":
      "Enabled"}}}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-04-01
  response:
    body:
      string: '{"location":"westus","name":"clitest-vault000002","etag":"W/\"datetime''2022-08-19T08%3A19%3A38.9188498Z''\"","properties":{"provisioningState":"Provisioning","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0NzswZTc1NDBlNS0zY2Y1LTQ5ODQtYTA1OC0yODc3YjVkOTRkZWE=?api-version=2022-04-01
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '295'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0NzswZTc1NDBlNS0zY2Y1LTQ5ODQtYTA1OC0yODc3YjVkOTRkZWE=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/MjA0NzswZTc1NDBlNS0zY2Y1LTQ5ODQtYTA1OC0yODc3YjVkOTRkZWE=\",\r\n
        \ \"name\": \"MjA0NzswZTc1NDBlNS0zY2Y1LTQ5ODQtYTA1OC0yODc3YjVkOTRkZWE=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/MjA0NztjZTcyZTIwOS04Y2M0LTQ4ZDAtYTFlZS00Y2Q4ZDIxYjgzMmU=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/MjA0NztjZTcyZTIwOS04Y2M0LTQ4ZDAtYTFlZS00Y2Q4ZDIxYjgzMmU=\",\r\n
        \ \"name\": \"MjA0NztjZTcyZTIwOS04Y2M0LTQ4ZDAtYTFlZS00Y2Q4ZDIxYjgzMmU=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-08-19T08:19:25Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007?api-version=2021-09-30-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007","name":"clitest-identity1000007","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"44fa0ca1-2535-4828-a3a9-923e3170f411","clientId":"b1692dc2-d2f8-4b1f-9137-bfbddef8fb8a"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "userassigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity2000008":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-04-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjYTIyYzhlYi1hMzZhLTRlMDEtYTYzMS04NTM0YzQ3ZmYwZGQ=?api-version=2022-04-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtjYTIyYzhlYi1hMzZhLTRlMDEtYTYzMS04NTM0YzQ3ZmYwZGQ=?api-version=2022-04-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjYTIyYzhlYi1hMzZhLTRlMDEtYTYzMS04NTM0YzQ3ZmYwZGQ=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjYTIyYzhlYi1hMzZhLTRlMDEtYTYzMS04NTM0YzQ3ZmYwZGQ=\",\r\n
        \ \"name\": \"NDA5NTtjYTIyYzhlYi1hMzZhLTRlMDEtYTYzMS04NTM0YzQ3ZmYwZGQ=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtiNzM3OTUyNC1lODk3LTQyNjAtYjQ1Ny1iMmQxMTI0ZDgwODQ=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtiNzM3OTUyNC1lODk3LTQyNjAtYjQ1Ny1iMmQxMTI0ZDgwODQ=\",\r\n
        \ \"name\": \"NDA5NTtiNzM3OTUyNC1lODk3LTQyNjAtYjQ1Ny1iMmQxMTI0ZDgwODQ=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs0NGU3NWQ3Zi1lYzBiLTQ3OGMtYjk0Yy02MjVjYjliZTRiZGQ=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs0NGU3NWQ3Zi1lYzBiLTQ3OGMtYjk0Yy02MjVjYjliZTRiZGQ=\",\r\n
        \ \"name\": \"NDA5NTs0NGU3NWQ3Zi1lYzBiLTQ3OGMtYjk0Yy02MjVjYjliZTRiZGQ=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2Mjc2NWUwNS02ZGQ2LTRkNzctOTA2Ni03MDkxYjg0ZjcyOTk=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2Mjc2NWUwNS02ZGQ2LTRkNzctOTA2Ni03MDkxYjg0ZjcyOTk=\",\r\n
        \ \"name\": \"NDA5NTs2Mjc2NWUwNS02ZGQ2LTRkNzctOTA2Ni03MDkxYjg0ZjcyOTk=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvm.encryptedvm/providers/Microsoft.KeyVault/vaults/iaasencrypted-kv","name":"iaasencrypted-kv","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvm.new.vaults/providers/Microsoft.KeyVault/vaults/jakavetKVNew","name":"jakavetKVNew","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jakavetRG/providers/Microsoft.KeyVault/vaults/jakavetKV2","name":"jakavetKV2","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseTest/providers/Microsoft.KeyVault/vaults/akkanasecmktest","name":"akkanasecmktest","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{"Owner":"akkanase","Purpose":"Testing","Mab
        Used":"yes","Delete By":"05-2023"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cmk.system/providers/Microsoft.KeyVault/vaults/cmkkeyvault1","name":"cmkkeyvault1","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{"Mab
        Used":"yes","Purpose":"BVT","Owner":"akkanase","DeleteBy":"05-2099"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseOSS/providers/Microsoft.KeyVault/vaults/akkanase","name":"akkanase","type":"Microsoft.KeyVault/vaults","location":"southeastasia","tags":{"Mab
        Used":"yes","Purpose":"Testing","Delete By":"05-2022","Owner":"akkanase"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseCMK/providers/Microsoft.KeyVault/vaults/testaka","name":"testaka","type":"Microsoft.KeyVault/vault[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004","name":"clitest000004","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"akneema@microsoft.com","createdByType":"User","createdAt":"2022-08-19T08:21:57.174Z","lastModifiedBy":"akneema@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-08-19T08:21:57.174Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"90680173-e32e-4cf3-a1b8-d1a99ac56bbf","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://clitest000004.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "90680173-e32e-4cf3-a1b8-d1a99ac56bbf",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "vaultUri": "https://clitest000004.vault.azure.net/",
      "enabledForDeployment": false, "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enablePurgeProtection": true, "provisioningState": "Succeeded", "publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Mic[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.vault.azure.net/keys/clitest-key1000005/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["decrypt", "encrypt", "sign",
      "unwrapKey", "verify", "wrapKey"], "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.vault.azure.net/keys/clitest-key1000005/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://clitest000004.vault.azure.net/keys/clitest-key1000005/7f6e7c7fa1334416912321d83714b9da","kty":"RSA","key_ops":["decrypt","encrypt","sign","unwrapKey","verify","wrapKey"],"n":"uiI4mcjwHzH07NE7E02zXleL9x3ADIFFrLjohOImq26AbvvFEeRI_vYEfh0SXE8qloq8o6j9cC83lsShvUT-YBxrYnk9LcBGXOIJo4lqR6D1UNpsr2WeVLbM0E73aa9olfdEsoP_aveUBODac0pTLi5fHeWj_hCfhNULOk6f-Z9f2ugnD2jTuv-pA-CEV5tS4jGflgPiNpAPTNjezm-HZg0SpcdcqIXoLsI1-k9t--sHPU3vig-LUbYW_YlGT5Hmj7uNmpwzpxebVtVRvn3SUESzSuxivjXe1qD_Iy0Q_KNEYr5LS5c6mfOnYxzrA4tVPQVGo6YFsapNchiMkG_1AQ","e":"AQAB"},"attributes":{"enabled":true,"created":1660897655,"updated":1660897655,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"useSystemAssignedIdentity":true,"encryptionAtRestType":"MicrosoftManaged","lastUpdateStatus":"NotEnabled","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyUri": "https://clitest000004.vault.azure.net/keys/clitest-key1000005/7f6e7c7fa1334416912321d83714b9da"},
      "kekIdentity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007"},
      "infrastructureEncryption": "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2022-04-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs3ZmQxZWVjNi03M2ZiLTQwMjAtYTM2OS0zZWQyODM3YjhkOGY=?api-version=2022-04-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTs3ZmQxZWVjNi03M2ZiLTQwMjAtYTM2OS0zZWQyODM3YjhkOGY=?api-version=2022-04-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '296'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs3ZmQxZWVjNi03M2ZiLTQwMjAtYTM2OS0zZWQyODM3YjhkOGY=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs3ZmQxZWVjNi03M2ZiLTQwMjAtYTM2OS0zZWQyODM3YjhkOGY=\",\r\n
        \ \"name\": \"NDA5NTs3ZmQxZWVjNi03M2ZiLTQwMjAtYTM2OS0zZWQyODM3YjhkOGY=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs3ZmQxZWVjNi03M2ZiLTQwMjAtYTM2OS0zZWQyODM3YjhkOGY=?api-version=2022-04-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTs3ZmQxZWVjNi03M2ZiLTQwMjAtYTM2OS0zZWQyODM3YjhkOGY=?api-version=2022-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"userAssignedIdentity":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007","useSystemAssignedIdentity":false,"encryptionAtRestType":"CustomerManaged","keyUri":"https://clitest000004.vault.azure.net/keys/clitest-key1000005/7f6e7c7fa1334416912321d83714b9da","subscriptionId":"","lastUpdateStatus":"Succeeded","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs1YjI1MmM2My1jZmZhLTRmM2ItYjJhNS1jMmZiMzU2ZGYxODg=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs1YjI1MmM2My1jZmZhLTRmM2ItYjJhNS1jMmZiMzU2ZGYxODg=\",\r\n
        \ \"name\": \"NDA5NTs1YjI1MmM2My1jZmZhLTRmM2ItYjJhNS1jMmZiMzU2ZGYxODg=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs1YjI1MmM2My1jZmZhLTRmM2ItYjJhNS1jMmZiMzU2ZGYxODg=?api-version=2022-04-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTs1YjI1MmM2My1jZmZhLTRmM2ItYjJhNS1jMmZiMzU2ZGYxODg=?api-version=2022-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthNjNlOWMwNS0yOGY5LTQwOTMtODZhNi00MjUwNmI5ZmRkNDI=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthNjNlOWMwNS0yOGY5LTQwOTMtODZhNi00MjUwNmI5ZmRkNDI=\",\r\n
        \ \"name\": \"NDA5NTthNjNlOWMwNS0yOGY5LTQwOTMtODZhNi00MjUwNmI5ZmRkNDI=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthNjNlOWMwNS0yOGY5LTQwOTMtODZhNi00MjUwNmI5ZmRkNDI=?api-version=2022-04-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTthNjNlOWMwNS0yOGY5LTQwOTMtODZhNi00MjUwNmI5ZmRkNDI=?api-version=2022-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs4MGJlYTYxNi03M2Y5LTQwMmMtOGQyNC02NmE4NjMwOWVmYmY=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs4MGJlYTYxNi03M2Y5LTQwMmMtOGQyNC02NmE4NjMwOWVmYmY=\",\r\n
        \ \"name\": \"NDA5NTs4MGJlYTYxNi03M2Y5LTQwMmMtOGQyNC02NmE4NjMwOWVmYmY=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTs4MGJlYTYxNi03M2Y5LTQwMmMtOGQyNC02NmE4NjMwOWVmYmY=?api-version=2022-04-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTs4MGJlYTYxNi03M2Y5LTQwMmMtOGQyNC02NmE4NjMwOWVmYmY=?api-version=2022-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTsxZjAyM2YzNS01MDFiLTQ2YzMtODVlZC00Y2RhMGM3NDVkZTA=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTsxZjAyM2YzNS01MDFiLTQ2YzMtODVlZC00Y2RhMGM3NDVkZTA=\",\r\n
        \ \"name\": \"NDA5NTsxZjAyM2YzNS01MDFiLTQ2YzMtODVlZC00Y2RhMGM3NDVkZTA=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTsxZjAyM2YzNS01MDFiLTQ2YzMtODVlZC00Y2RhMGM3NDVkZTA=?api-version=2022-04-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/NDA5NTsxZjAyM2YzNS01MDFiLTQ2YzMtODVlZC00Y2RhMGM3NDVkZTA=?api-version=2022-04-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs0NGM1MDBkNi01YmY0LTQxNjUtOTgzMC01NjQxNDBkOGU5YWU=?api-version=2022-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs0NGM1MDBkNi01YmY0LTQxNjUtOTgzMC01NjQxNDBkOGU5YWU=\",\r\n
        \ \"name\": \"NDA5NTs0NGM1MDBkNi01YmY0LTQxNjUtOTgzMC01NjQxNDBkOGU5YWU=\",\r\n
        \ \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupProtectionContainers?api-version=2022-02-01&%24filter=backupManagementType+eq+%27AzureIaasVM%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
[...]
