interactions:
- request:
    body: '{"location": "eastasia", "properties": {}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: '{"location":"eastasia","name":"clitest-vault000002","etag":"W/\"datetime''2022-05-13T10%3A26%3A57.6067838Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '296'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2021-03-01
  response:
    body:
      string: '{"value":[{"location":"westus","name":"afsexistingvault1","etag":"W/\"datetime''2021-04-02T10%3A43%3A40.3219619Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afstests/providers/Microsoft.RecoveryServices/vaults/afsexistingvault1","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"westus","name":"afsnewvault2xbaea","etag":"W/\"datetime''2021-04-02T10%3A20%3A10.8818662Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afstests/providers/Microsoft.RecoveryServices/vaults/afsnewvault2xbaea","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"westus","name":"akkanaseCMKNew","etag":"W/\"datetime''2021-12-06T13%3A30%3A57.6851358Z''\"","identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"93207892-ddfb-48c8-8d48-30c199c8a001","type":"SystemAssigned,
        UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hiagarg/providers/microsoft.managedidentity/userassignedidentities/cmk-pstest-msi1":{"clientId":"cc17dc91-0ffc-41c4-9f4b-b7b61fa9f4e8","principalId":"79e6360a-251c-4431-b817-a7fff3ac5c91"}}},"properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","encryption":{"keyVaultProperties":{"keyUri":"https://akkanasecmk1.vault.azure.net/keys/testKey"},"kekIdentity":{"useSystemAssignedIdentity":false,"userAssignedIdentity":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hiagarg/providers/microsoft.managedidentity/userassignedidentities/cmk-pstest-msi1"},"infrastructureEncryption":"Disabled"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akkanaseCMK/providers/Microsoft.RecoveryServices/vaults/akkanaseCMKNew","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"westus","name":"akkanaseCMKSystem","etag":"W/\"datetime''2021-12-06T12%3A48%3A11.6058493Z''\"","identity":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"2afe8612-6c52-4e9c-95c7-32b82becbe55","type":"SystemAssigned"},"properties[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2021-03-01&%24skiptoken=hVFbb5swGP0tQWIvEcHYyZpEqqZsvdA1TjtCWcubY0xqAhjZzgWq%2FveZ0Hbqtmp%2BsK1zzved7%2FJkleyg57zcKGv6ZC1v7kL%2FfLYMZ8urmTW1HrWu1NR1C1KSNStYqQek2Uo2oKJw1XalqOSV5qJULhojMGQectDohDlDMGLOhE2IAyFAIy%2BhlI2pW0mx4wmTysWcSqFEqgcBo2LHZL1kcscpU%2B6ObHOtvpCKOwZXJvspBNBzAHKA98mGQ7UxpmLDylMbURulhyLvvyhtlNgQegNg7j4rqUh4ue7ArU4d77PBTYSNmA0SGxCT4JsoNS%2B3pG0jbLO%2Bkf3%2Bf%2BijIOpqNFHQ2JqCYPob6lz65hgmrCtmZCFZ5eZthS%2FIO9XCLOSWSM3bgq5ZbSK83gns4Wbd4LMgxyHWuLlD8RIAfBbl8zDPb36ea5xd7Q1%2BiC8XWRw%2BZvfN15T6i2x1OfFiP8gpCup47zid8z9c%2FqoiEPtX%2F%2BG4R4uoWaGofoBRii8m8OE%2BUom%2FaP97Cr%2FDxI91Ulx4K%2F9HjTNsxtx22Pq85XnnEBK5Znou6HHypstbyQsiTb%2FHyfzJvsZ29MdL%2B5i3np9%2FAQ%3D%3D
  response:
    body:
      string: '{"value":[{"location":"southeastasia","name":"psbvtvmvault2517","etag":"W/\"datetime''2022-02-18T07%3A20%3A24.2843179Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","networkSettings":{"publicNetworkAccess":"Enabled"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pscloudtestrg/providers/Microsoft.RecoveryServices/vaults/psbvtvmvault2517","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}},{"location":"southeastasia","name":"psbvtvmvault2773","etag":"W/\"datetime''2022-02-18T07%3A20%3A24.2993133Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","networkSettings":{"publi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults?api-version=2021-03-01
  response:
    body:
      string: '{"value":[{"location":"eastasia","name":"clitest-vault000004","etag":"W/\"datetime''2022-05-13T10%3A27%3A09.0785426Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupconfig/vaultconfig?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupconfig/vaultconfig","name":"vaultconfig","type":"Microsoft.RecoveryServices/vaults/backupconfig","properties":{"enhancedSecurityState":"Enabled","softDeleteFeatureState":"Enabled","isSoftDeleteFeatureStateEditable":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupstorageconfig/vaultstorageconfig?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupstorageconfig/vaultstorageconfig","name":"vaultstorageconfig","type":"Microsoft.RecoveryServices/vaults/backupstorageconfig","properties":{"storageModelType":"GeoRedundant","storageType":"GeoRedundant","dedupState":"Disabled","xcoolState":"Disabled","storageTypeState":"Unlocked","crossRegionRestoreFlag":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupResourceGuardProxies?api-version=2022-02-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupProtectionContainers?api-version=2022-02-01&%24filter=backupManagementType+eq+%27AzureIaasVM%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '296'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '48'
    status:
      code: 200
      message: OK
version: 1
