interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-ccy/backupProtectableItems?api-version=2025-02-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+workloadType+eq+%27SAPAseDatabase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-ccy/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;ase-rg-ccy;ase-ccy-vm2/protectableItems/sapasesystem;ab4","name":"sapasesystem;ab4","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"AB4","serverName":"ase-ccy-vm2","isAutoProtectable":false,"isAutoProtected":false,"subinquireditemcount":11,"subprotectableitemcount":11,"prebackupvalidation":{"status":"Success","code":"Success"},"IsProtectable":false,"backupManagementType":"AzureWorkload","workloadType":"SAPAse","protectableItemType":"SAPAseSystem","friendlyName":"AB4","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-ccy/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;ase-rg-ccy;ase-ccy-vm2/protectableItems/sapasedatabase;ab4;ab4","name":"sapasedatabase;ab4;ab4","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"AB4","serverName":"ase-ccy-vm2","isAutoProtectable":false,"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-ccy/backupPolicies/DailyPolicy-m9aya1dh?api-version=2025-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-ccy/backupPolicies/DailyPolicy-m9aya1dh","name":"DailyPolicy-m9aya1dh","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureWorkload","workLoadType":"SAPAseDatabase","settings":{"timeZone":"UTC","issqlcompression":false,"isCompression":false},"subProtectionPolicy":[{"policyType":"Full","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2020-09-30T19:30:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2020-09-30T19:30:00Z"],"retentionDuration":{"count":180,"durationType":"Days"}},"weeklySchedule":{"daysOfTheWeek":["Sunday"],"retentionTimes":["2020-09-30T19:30:00Z"],"retentionDuration":{"count":104,"durationType":"Weeks"}},"monthlySchedule":{"retentionScheduleFormatType":"Weekly","retentionScheduleWeekly":{"daysOfTheWeek":["Sunday"],"weeksOfTheMonth":["First"]},"retentionTimes":["2020-09-30T19:30:00Z"],"retentionDuration":{"count":60,"durationType":"Months"}},"yearlySchedule":{"retentionScheduleFormatType":"Weekly","monthsOfYear":["January"],"retentionScheduleWeekly":{"daysOfTheWeek":["Sunday"],"weeksOfTheMonth":["First"]},"retentionTimes":["2020-09-30T19:30:00Z"],"retentionDuration":{"count":10,"durationType":"Years"}}}},{"policyType":"Log","schedulePolicy":{"schedulePolicyType":"LogSchedulePolicy","scheduleFrequencyInMins":120},"retentionPolicy":{"retentionPolicyType":"SimpleRetentionPolicy","retentionDuration":{"count":15,"durationType":"Days"}}}],"protectedItemsCount":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"protectedItemType": "AzureVmWorkloadSAPAseDatabase", "policyId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-ccy/backupPolicies/DailyPolicy-m9aya1dh"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-ccy/backupFabrics/Azure/protectionContainers/vmappcontainer%3Bcompute%3Base-rg-ccy%3Base-ccy-vm2/protectedItems/sapasedatabase%3Bab4%3Bmaster?api-version=2025-02-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-ccy/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;ase-rg-ccy;ase-ccy-vm2/protectedItems/sapasedatabase;ab4;master/operationsStatus/a806a9db-c5d4-4d08-b2df-9caae234d0e8?api-version=2025-02-01&t=638821240597046540&c=MIIHpTCCBo2gAwIBAgITfwVyHmxg3JeFO591EgAEBXIebDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-ccy/backupOperations/a806a9db-c5d4-4d08-b2df-9caae234d0e8?api-version=2025-02-01
  response:
    body:
      string: '{"id":"a806a9db-c5d4-4d08-b2df-9caae234d0e8","name":"a806a9db-c5d4-4d08-b2df-9caae234d0e8","status":"InProgress","startTime":"2025-05-06T10:27:39.3938428Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ase-rg-ccy/providers/Microsoft.RecoveryServices/vaults/ase-rsv-ccy/backupOperations/a806a9db-c5d4-4d08-b2df-9caae234d0e8?api-version=2025-02-01
  response:
    body:
      string: '{"id":"a806a9db-c5d4-4d08-b2df-9caae234d0e8","name":"a806a9db-c5d4-4d08-b2df-9caae234d0e8","status":"Failed","startTime":"2025-05-06T10:27:39.3938428Z","endTime":"2025-05-06T10:27:39.3938428Z","error":{"code":"UserErrorOperationFailedForSAPASEDatabase","message":"Operation
        failed for SAP ASE (Sybase) database."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
version: 1
