interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectionContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20friendlyName%20eq%20%27sarathsa%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;sarath-rg;sarathsa","name":"StorageContainer;Storage;sarath-rg;sarathsa","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Storage/storageAccounts/sarathsa","protectedItemCount":6,"friendlyName":"sarathsa","backupManagementType":"AzureStorage","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"StorageContainer","protectableObjectType":"StorageContainer"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bsarath-rg%3Bsarathsa?api-version=2016-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg/providers/microsoft.recoveryservices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;sarath-rg;sarathsa","name":"StorageContainer;Storage;sarath-rg;sarathsa","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Storage/storageAccounts/sarathsa","protectedItemCount":6,"friendlyName":"sarathsa","backupManagementType":"AzureStorage","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"StorageContainer","protectableObjectType":"StorageContainer"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectionContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sarath-rg[...]
