interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectionContainers?api-version=2021-01-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sarath-rg;pstestvm","name":"VMAppContainer;Compute;sarath-rg;pstestvm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/virtualMachines/pstestvm","lastUpdatedTime":"2019-10-30T12:37:05.4211371Z","extendedInfo":{"hostServerName":"pstestvm","inquiryInfo":{"status":"Success","errorDetail":{"code":"UserErrorOpeningSQLConnection","message":"Azure
        Backup service is not able to connect to the SQL instance.","recommendations":["Please
        refer to the general troubleshooting information about SQL connection failures.
        For troubleshooting instructions, see https://aka.ms/AB-usererroropeningsqlconnection"]},"inquiryDetails":[{"type":"SQL","itemCount":0,"inquiryValidation":{"status":"Failed","errorDetail":{"code":"UserErrorOpeningSQLConnection","message":"Azure
        Backup service is not able to connect to the SQL instance.","recommendations":["Please
        refer to the general troubleshooting information about SQL connection failures.
        For troubleshooting instructions, see https://aka.ms/AB-usererroropeningsqlconnection"]},"additionalDetail":"SQLPlugin:
        Exception while Opening SQL Connection:Data Source=.;Integrated Security=True;Pooling=True;Application
        Name=AzureWorkloadBackup Exception:Login failed for user ''NT AUTHORITY\\SYSTEM''."}},{"type":"SAPHana","itemCount":0,"inquiryValidation":{"status":"Failed","errorDetail":{"code":"UserErrorOpeningSQLConnection","message":"Azure
        Backup service is not able to connect to the SQL instance.","recommendations":["Please
        refer to the general troubleshooting information about SQL connection failures.
        For troubleshooting instructions, see https://aka.ms/AB-usererroropeningsqlconnection"]},"additionalDetail":"SQLPlugin:
        Exception while Opening SQL Connection:Data Source=.;Integrated Security=True;Pooling=True;Application
        Name=AzureWorkloadBackup Exception:Login failed for user ''NT AUTHORITY\\SYSTEM''."}}]}},"friendlyName":"pstestvm","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Deleted","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sarath-rg;sarath-sqltestvm","name":"VMAppContainer;Compute;sarath-rg;sarath-sqltestvm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupProtectableItems?api-version=2021-01-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20workloadType%20eq%20%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sarath-rg;pstestvm/protectableItems/sqlinstance;mssqlserver","name":"sqlinstance;mssqlserver","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"MSSQLSERVER","serverName":"pstestvm","isAutoProtectable":true,"isAutoProtected":false,"subinquireditemcount":0,"subprotectableitemcount":0,"prebackupvalidation":{"status":"Failed","code":"UserErrorOpeningSQLConnection","message":"SQLPlugin:
        Exception while Opening SQL Connection:Data Source=.;Integrated Security=True;Pooling=True;Application
        Name=AzureWorkloadBackup Exception:Login failed for user ''NT AUTHORITY\\SYSTEM''."},"IsProtectable":false,"backupManagementType":"AzureWorkload","workloadType":"SQL","protectableItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sarath-rg;sarath-sqltestvm/protectableItems/sqlinstance;mssqlserver","name":"sqlinstance;mssqlserver","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"MSSQLSERVER","serverName":"sarath-sqltestv","isAutoPr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/HourlyLogBackup?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/HourlyLogBackup","name":"HourlyLogBackup","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureWorkload","workLoadType":"SQLDataBase","settings":{"timeZone":"UTC","issqlcompression":false,"isCompression":false},"subProtectionPolicy":[{"policyType":"Full","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2020-07-12T18:00:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2020-07-12T18:00:00Z"],"retentionDuration":{"count":30,"durationType":"Days"}}}},{"policyType":"Log","schedulePolicy":{"schedulePolicyType":"LogSchedulePolicy","scheduleFrequencyInMins":60},"retentionPolicy":{"retentionPolicyType":"SimpleRetentionPolicy","retentionDuration":{"count":30,"durationType":"Days"}}}],"protectedItemsCount":1}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "workloadType":
      "SQLDataBase", "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/HourlyLogBackup",
      "protectedItemType": "AzureVmWorkloadSQLDatabase"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer%3Bcompute%3Bsarath-rg%3Bsarathvm/protectedItems/sqldatabase%3Bmssqlserver%3Bmsdb?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sarath-rg;sarathvm/protectedItems/sqldatabase;mssqlserver;msdb/operationsStatus/9e81ebff-39ba-45a1-b8e2-11b814cce914?api-version=2021-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sarath-rg;sarathvm/protectedItems/sqldatabase;mssqlserver;msdb/operationResults/9e81ebff-39ba-45a1-b8e2-11b814cce914?api-version=2021-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupOperations/9e81ebff-39ba-45a1-b8e2-11b814cce914?api-version=2021-01-01
  response:
    body:
      string: '{"id":"9e81ebff-39ba-45a1-b8e2-11b814cce914","name":"9e81ebff-39ba-45a1-b8e2-11b814cce914","status":"InProgress","startTime":"2021-06-23T12:00:16.0803691Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupOperations/9e81ebff-39ba-45a1-b8e2-11b814cce914?api-version=2021-01-01
  response:
    body:
      string: '{"id":"9e81ebff-39ba-45a1-b8e2-11b814cce914","name":"9e81ebff-39ba-45a1-b8e2-11b814cce914","status":"Succeeded","startTime":"2021-06-23T12:00:16.0803691Z","endTime":"2021-06-23T12:00:16.0803691Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"6697a152-d579-44d6-bd2a-41ec9a40be41"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '90'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/6697a152-d579-44d6-bd2a-41ec9a40be41?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/6697a152-d579-44d6-bd2a-41ec9a40be41","name":"6697a152-d579-44d6-bd2a-41ec9a40be41","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","workloadType":"SQLDataBase","duration":"PT1M14.478083S","extendedInfo":{"tasksList":[],"propertyBag":{"Policy
        Name":"HourlyLogBackup"}},"isUserTriggered":true,"entityFriendlyName":"msdb","backupManagementType":"AzureWorkload","operation":"ConfigureBackup","status":"Completed","startTime":"2021-06-23T12:00:16.0803691Z","endTime":"2021-06-23T12:01:30.5584521Z","activityId":"900f0ed9-d41a-11eb-94e7-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsarath-rg%3Bsarathvm?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaul[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsarath-rg%3Bsarathvm/protectedItems/sqldatabase%3Bmssqlserver%3Bmsdb?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sarath-rg;sarathvm/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{},"friendlyName":"msdb","serverName":"sarathvm","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"IRPending","lastBackupErrorDetail":{"code":"Success","message":""},"protectedItemDataSourceId":"70369183761483","protectedItemHealthStatus":"IRPending","extendedInfo":{"recoveryPointCount":0,"policyState":"Consistent","recoveryModel":"SIMPLE"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sarath-rg;sarathvm","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/virtualMachines/sarathvm","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/HourlyLogBackup","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"objectType": "AzureWorkloadBackupRequest", "backupType":
      "Full", "enableCompression": false, "recoveryPointExpiryTimeInUTC": "2021-07-23T12:01:33.655834Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsarath-rg%3Bsarathvm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/backup?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sarath-rg;sarathvm/protectedItems/SQLDataBase;mssqlserver;msdb/operationsStatus/ce157556-8f95-4a5d-b67a-067378e04033?api-version=2021-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sarath-rg;sarathvm/protectedItems/SQLDataBase;mssqlserver;msdb/operationResults/ce157556-8f95-4a5d-b67a-067378e04033?api-version=2021-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/103d9c66-f743-4fcf-93e5-6dc87a57c404?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/103d9c66-f743-4fcf-93e5-6dc87a57c404","name":"103d9c66-f743-4fcf-93e5-6dc87a57c404","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SQLDataBase","duration":"PT3.5399323S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data to vault","status":"InProgress"}],"propertyBag":{}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sarathvm]","backupManagementType":"AzureWorkload","operation":"Backup (Full)","status":"InProgress","startTime":"2021-06-23T12:01:34.2378859Z","activityId":"c02ec5e1-d41a-11eb-9ee2-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsarath-rg%3Bsarathvm/protectedItems/sqldatabase%3Bmssqlserver%3Bmsdb?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sarath-rg;sarathvm/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{"BackupOperationStatusKPI":{"resourceHealthStatus":"Healthy","resourceHealthDetails":[{"code":0,"title":"Success","message":"","recommendations":[]}]}},"friendlyName":"msdb","serverName":"sarathvm","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2021-06-23T12:01:34.2378859Z","protectedItemDataSourceId":"70369183761483","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2021-06-23T12:02:01Z","recoveryPointCount":1,"policyState":"Consistent","recoveryModel":"SIMPLE"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sarath-rg;sarathvm","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/virtualMachines/sarathvm","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupPolicies/HourlyLogBackup","lastRecoveryPoint":"2021-06-23T12:02:01Z","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsarath-rg%3Bsarathvm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sarath-rg;sarathvm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/42288388108284","name":"42288388108284","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","recoveryPointTimeInUTC":"2021-06-23T12:02:01Z","type":"Full","recoveryPointTierDetails":[{"type":2,"status":1}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery
        point cannot be moved to Archive tier due to insufficient retention duration
        specified in policy.. Update policy on the protected item with appropriate
        retention setting and try again."}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sarath-rg;sarathvm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/DefaultRangeRecoveryPoint","name":"DefaultRangeRecoveryPoint","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLPointInTimeRecoveryPoint","timeRanges":[],"type":"Log"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsarath-rg%3Bsarathvm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sar[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsarath-rg%3Bsarathvm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/42288388108284?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sarath-rg;sarathvm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/42288388108284","name":"42288388108284","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","extendedInfo":{"dataDirectoryTimeInUTC":"2021-06-23T12:02:01Z","dataDirectoryPaths":[{"type":"Data","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBData.mdf","logicalName":"MSDBData"},{"type":"Log","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBLog.ldf","logicalName":"MSDBLog"}]},"recoveryPointTimeInUTC":"2021-06-23T12:02:01Z","type":"Full","recoveryPointTierDetails":[{"type":2,"status":1}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery
        point cannot be moved to Archive tier due to insufficient retention duration
        specified in policy.. Update policy on the protected item with appropriate
        retention setting and try again."}}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsarath-rg%3Bsarathvm/items?api-version=2021-01-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20workloadItemType%20eq%20%27SQLInstance%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sarath-rg;sarathvm/protectableItems/SQLInstance;MSSQLSERVER","name":"SQLInstance;MSSQLSERVER","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/items","properties":{"dataDirectoryPaths":[{"type":"Data","path":"F:\\data\\"},{"type":"Log","path":"G:\\log\\"}],"parentName":"MSSQLSERVER","serverName":"sarathvm","isAutoProtectable":true,"subinquireditemcount":0,"subWorkloadItemCount":4,"backupManagementType":"AzureWorkload","workloadType":"SQL","workloadItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsarath-rg%3Bsarathvm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sar[...]
[...]
- request:
    body: '{"properties": {"objectType": "AzureWorkloadSQLRestoreRequest", "recoveryType":
      "AlternateLocation", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Compute/virtualMachines/sarathvm",
      "targetInfo": {"overwriteOption": "Overwrite", "containerId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;sarath-rg;sarathvm",
      "databaseName": "MSSQLSERVER/MSSQLSERVER"}, "shouldUseAlternateTargetLocation":
      true, "isNonRecoverable": false, "alternateDirectoryPaths": [{"mappingType":
      "Data", "sourceLogicalName": "MSDBData", "sourcePath": "C:\\Program Files\\Microsoft
      SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBData.mdf", "targetPath": "F:\\data\\MSDBData_1624449886.mdf"},
      {"mappingType": "Log", "sourceLogicalName": "MSDBLog", "sourcePath": "C:\\Program
      Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBLog.ldf",
      "targetPath": "G:\\log\\MSDBLog_1624449886.ldf"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.Recover[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/821a0978-f396-4178-b3f0-cd0ac7b819c4?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupJobs/821a0978-f396-4178-b3f0-cd0ac7b819c4","name":"821a0978-f396-4178-b3f0-cd0ac7b819c4","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SQLDataBase","duration":"PT3M3.9879655S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"Completed"}],"propertyBag":{"Data Transferred (in
        MB)":"28.1147","Job Type":"Recovery to an alternate database","RestoreRecoveryPointTime":"2021-06-23
        12:02:01Z","RestoreDestination":"sarathvm/MSSQLSERVER/MSSQLSERVER"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sarathvm]","backupManagementType":"AzureWorkload","operation":"Restore (Full)","status":"Completed","startTime":"2021-06-23T12:04:48.3020302Z","endTime":"2021-06-23T12:07:52.2899957Z","activityId":"33b03f0c-d41b-11eb-9c83-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '141'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sarath-rg/providers/Microsoft.RecoveryServices/vaults/sarath-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsarath-rg%3Bsarathvm/protectedItems/sqldatabase%3Bmssqlserver%3Bmsdb?api-version=2021-01-01
  response:
    body:
[...]
