interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectableContainers?api-version=2023-01-01&%24filter=backupManagementType+eq+%27AzureWorkload%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;akneema;akneema-tvm","name":"VMAppContainer;Compute;akneema;akneema-tvm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers","properties":{"friendlyName":"akneema-tvm","backupManagementType":"AzureWorkload","protectableContainerType":"VMAppContainer","healthStatus":"Healthy","containerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-tvm"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;clitest-rg-donotuse;clitest-sql-donotuse","name":"VMAppContainer;Compute;clitest-rg-donotuse;clitest-sql-donotuse","type":"Microsoft.[...]
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "containerType":
      "VMAppContainer", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.Compute/virtualMachines/saphana-clitestvm-donotuse2",
      "workloadType": "SAPHanaDatabase"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsaphana-clitest-rg%3Bsaphana-clitestvm-donotuse2?api-version=2023-01-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;saphana-clitest-rg;saphana-clitestvm-donotuse2/operationsStatus/8c7b2db5-1668-4217-ac38-8619f2fee16d?api-version=2019-05-13-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;saphana-clitest-rg;saphana-clitestvm-donotuse2/operationResults/8c7b2db5-1668-4217-ac38-8619f2fee16d?api-version=2023-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsaphana-clitest-rg%3Bsaphana-clitestvm-donotuse2/operationResults/8c7b2db5-1668-4217-ac38-8619f2fee16d?api-version=2023-01-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;saphana-clitest-rg;saphana-clitestvm-donotuse2/operationsStatus/8c7b2db5-1668-4217-ac38-8619f2fee16d?api-version=2019-05-13-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;saphana-clitest-rg;saphana-clitestvm-donotuse2/operationResults/8c7b2db5-1668-4217-ac38-8619f2fee16d?api-version=2023-01-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '250'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsaphana-clitest-rg%3Bsaphana-clitestvm-donotuse2/operationResults/8c7b2db5-1668-4217-ac38-8619f2fee16d?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;saphana-clitest-rg;saphana-clitestvm-donotuse2","name":"VMAppContainer;Compute;saphana-clitest-rg;saphana-clitestvm-donotuse2","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.Compute/virtualMachines/saphana-clitestvm-donotuse2","lastUpdatedTime":"2022-08-25T05:40:10.2518196Z","extendedInfo":{"hostServerName":"saphana-clitestvm-donotuse2","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SAPHana","itemCount":2,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":"","protectableItemCount":{"SAPHanaSystem":1,"SAPHanaDatabase":2}}}]}},"friendlyName":"saphana-clitestvm-donotuse2","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '227'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupProtectionContainers?api-version=2023-01-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupProtectableItems?api-version=2023-01-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+workloadType+eq+%27SAPHanaDatabase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;saphana-clitest-rg;saphana-clitestvm-donotuse2/protectableItems/saphanasystem;hxe","name":"saphanasystem;hxe","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"HXE","serverName":"saphana-clitestvm-donotuse2","isAutoProtectable":false,"isAutoProtected":false,"subinquireditemcount":2,"subprotectableitemcount":0,"prebackupvalidation":{"status":"Success","code":"Success"},"IsProtectable":false,"backupManagementType":"AzureWorkload","workloadType":"SAPHana","protectableItemType":"SAPHanaSystem","friendlyName":"HXE","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;saphana-clitest-rg;saphana-clitestvm-donotuse2/protectableItems/saphanadatabase;hxe;hxe","name":"saphanadatabase;hxe;hxe","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"HXE","s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupPolicies/saphana-clitestpolicy-donotuse?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupPolicies/saphana-clitestpolicy-donotuse","name":"saphana-clitestpolicy-donotuse","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureWorkload","workLoadType":"SAPHanaDatabase","settings":{"timeZone":"UTC","issqlcompression":false,"isCompression":false},"subProtectionPolicy":[{"policyType":"Full","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2020-09-30T19:30:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2020-09-30T19:30:00Z"],"retentionDuration":{"count":180,"durationType":"Days"}},"weeklySchedule":{"daysOfTheWeek":["Sunday"],"retentionTimes":["2020-09-30T19:30:00Z"],"retentionDuration":{"count":104,"durationType":"Weeks"}},"monthlySchedule":{"retentionScheduleFormatType":"Weekly","retentionScheduleWeekly":{"daysOfTheWeek":["Sunday"],"weeksOfTheMonth":["First"]},"retentionTimes":["2020-09-30T19:30:00Z"],"retentionDuration":{"count":60,"durationType":"Months"}},"yearlySchedule":{"retentionScheduleFormatType":"Weekly","monthsOfYear":["January"],"retentionScheduleWeekly":{"daysOfTheWeek":["Sunday"],"weeksOfTheMonth":["First"]},"retentionTimes":["2020-09-30T19:30:00Z"],"retentionDuration":{"count":10,"durationType":"Years"}}}},{"policyType":"Log","schedulePolicy":{"schedulePolicyType":"LogSchedulePolicy","scheduleFrequencyInMins":120},"retentionPolicy":{"retentionPolicyType":"SimpleRetentionPolicy","retentionDuration":{"count":15,"durationType":"Days"}}}],"protectedItemsCount":0}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '297'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"protectedItemType": "AzureVmWorkloadSAPHanaDatabase",
      "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupPolicies/saphana-clitestpolicy-donotuse"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupOperations/9589a43e-382d-421c-b034-38a168e25dac?api-version=2023-01-01
  response:
    body:
      string: '{"id":"9589a43e-382d-421c-b034-38a168e25dac","name":"9589a43e-382d-421c-b034-38a168e25dac","status":"InProgress","startTime":"2022-08-25T05:42:29.6967579Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupOperations/9589a43e-382d-421c-b034-38a168e25dac?api-version=2023-01-01
  response:
    body:
      string: '{"id":"9589a43e-382d-421c-b034-38a168e25dac","name":"9589a43e-382d-421c-b034-38a168e25dac","status":"Succeeded","startTime":"2022-08-25T05:42:29.6967579Z","endTime":"2022-08-25T05:42:29.6967579Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"19756977-f92b-49cb-8a5d-d9f388829551"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '285'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupJobs/19756977-f92b-49cb-8a5d-d9f388829551?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupJobs/19756977-f92b-49cb-8a5d-d9f388829551","name":"19756977-f92b-49cb-8a5d-d9f388829551","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","workloadType":"SAPHanaDatabase","duration":"PT1M16.0235781S","extendedInfo":{"tasksList":[],"propertyBag":{"Policy
        Name":"saphana-clitestpolicy-donotuse"}},"isUserTriggered":true,"entityFriendlyName":"systemdb","backupManagementType":"AzureWorkload","operation":"ConfigureBackup","status":"Completed","startTime":"2022-08-25T05:42:29.6967579Z","endTime":"2022-08-25T05:43:45.720336Z","activityId":"b20fe3aa-2438-11ed-9b9b-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsaphana-clitest-rg%3Bsaphana-clitestvm-donotuse2/protectedItems/saphanadatabase%3Bhxe%3Bsystemdb?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;saphana-clitest-rg;saphana-clitestvm-donotuse2/protectedItems/SAPHanaDatabase;hxe;systemdb","name":"SAPHanaDatabase;hxe;systemdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{},"friendlyName":"systemdb","serverName":"saphana-clitestvm-donotuse2","parentName":"HXE","parentType":"AzureVmWorkloadSAPHanaSystem","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"IRPending","lastBackupErrorDetail":{"code":"Success","message":""},"protectedItemDataSourceId":"738196877","protectedItemHealthStatus":"IRPending","extendedInfo":{"recoveryPointCount":0,"policyState":"Consistent"},"protectedItemType":"AzureVmWorkloadSAPHanaDatabase","backupManagementType":"AzureWorkload","workloadType":"SAPHanaDatabase","containerName":"VMAppContainer;compute;saphana-clitest-rg;saphana-clitestvm-donotuse2","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.Compute/virtualMachines/saphana-clitestvm-donotuse2","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupPolicies/saphana-clitestpolicy-donotuse","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"objectType": "AzureWorkloadBackupRequest", "backupType":
      "Full", "enableCompression": false, "recoveryPointExpiryTimeInUTC": "2022-10-09T05:44:00.916696Z"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsaphana-clitest-rg%3Bsaphana-clitestvm-donotuse2/protectedItems/SAPHanaDatabase%3Bhxe%3Bsystemdb/backup?api-version=2023-01-01[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupJobs/d4f4464c-91c8-4aa1-a13e-b6056762bb1c?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupJobs/d4f4464c-91c8-4aa1-a13e-b6056762bb1c","name":"d4f4464c-91c8-4aa1-a13e-b6056762bb1c","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SAPHanaDatabase","duration":"PT7.162367S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data to vault","status":"InProgress"}],"propertyBag":{}},"isUserTriggered":true,"entityFriendlyName":"SYSTEMDB
        [saphana-clitestvm-donotuse2]","backupManagementType":"AzureWorkload","operation":"Backup
        (Full)","status":"InProgress","startTime":"2022-08-25T05:44:04.5185173Z","activityId":"e9565588-2438-11ed-b8f2-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsaphana-clitest-rg%3Bsaphana-clitestvm-donotuse2/protectedItems/saphanadatabase%3Bhxe%3Bsystemdb?api-version=2023-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;saphana-clitest-rg;saphana-clitestvm-donotuse2/protectedItems/SAPHanaDatabase;hxe;systemdb","name":"SAPHanaDatabase;hxe;systemdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{"BackupOperationStatusKPI":{"resourceHealthStatus":"Healthy","resourceHealthDetails":[{"code":0,"title":"Success","message":"","recommendations":[]}]}},"friendlyName":"systemdb","serverName":"saphana-clitestvm-donotuse2","parentName":"HXE","parentType":"AzureVmWorkloadSAPHanaSystem","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2022-08-25T05:44:04.5185173Z","protectedItemDataSourceId":"738196877","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2022-08-25T05:44:23.49Z","recoveryPointCount":1,"policyState":"Consistent"},"protectedItemType":"AzureVmWorkloadSAPHanaDatabase","backupManagementType":"AzureWorkload","workloadType":"SAPHanaDatabase","containerName":"VMAppContainer;compute;saphana-clitest-rg;saphana-clitestvm-donotuse2","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.Compute/virtualMachines/saphana-clitestvm-donotuse2","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupPolicies/saphana-clitestpolicy-donotuse","lastRecoveryPoint":"2022-08-25T05:44:23.49Z","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"protectedItemType": "AzureVmWorkloadSAPHanaDatabase",
      "policyId": "", "protectionState": "ProtectionStopped"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsaph[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupResourceGuardProxies?api-version=2023-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/saphana-clitest-rg/providers/Microsoft.RecoveryServices/vaults/saphana-clitestvault-donotuse/backupProtectionContainers?api-version=2023-01-01&%24filter=backupManagementType+eq+%27AzureWorkload%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '297'
    status:
      code: 200
      message: OK
version: 1
