interactions:
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: '{"location":"westus","name":"clitest-vault000002","etag":"W/\"datetime''2022-06-02T08%3A12%3A56.8525541Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-06-02T08:12:50Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007?api-version=2021-09-30-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007","name":"clitest-identity1000007","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"26997bea-eb88-4b5b-a565-ba4852ec3c87","clientId":"6144cb88-784b-4ef7-b0b3-85557eab0477"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "userassigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity2000008":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtkODNhOWJmMi02NDNmLTQwYjctODc5Yi01YmQxOWJhODA4ODk=?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtkODNhOWJmMi02NDNmLTQwYjctODc5Yi01YmQxOWJhODA4ODk=?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtkODNhOWJmMi02NDNmLTQwYjctODc5Yi01YmQxOWJhODA4ODk=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtkODNhOWJmMi02NDNmLTQwYjctODc5Yi01YmQxOWJhODA4ODk=\",\r\n
        \ \"name\": \"NDA5NTtkODNhOWJmMi02NDNmLTQwYjctODc5Yi01YmQxOWJhODA4ODk=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtkODNhOWJmMi02NDNmLTQwYjctODc5Yi01YmQxOWJhODA4ODk=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtkODNhOWJmMi02NDNmLTQwYjctODc5Yi01YmQxOWJhODA4ODk=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtkZjY4YmY3OS1hZjYyLTQ3MjMtYTBmOC0yMGFkNGRkOWFlZWU=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtkZjY4YmY3OS1hZjYyLTQ3MjMtYTBmOC0yMGFkNGRkOWFlZWU=\",\r\n
        \ \"name\": \"NDA5NTtkZjY4YmY3OS1hZjYyLTQ3MjMtYTBmOC0yMGFkNGRkOWFlZWU=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtkZjY4YmY3OS1hZjYyLTQ3MjMtYTBmOC0yMGFkNGRkOWFlZWU=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtkZjY4YmY3OS1hZjYyLTQ3MjMtYTBmOC0yMGFkNGRkOWFlZWU=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2NDhkMzUyMS1mODYwLTQxZmMtYTM1Ny00ZGEyODRhZjA3NWY=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2NDhkMzUyMS1mODYwLTQxZmMtYTM1Ny00ZGEyODRhZjA3NWY=\",\r\n
        \ \"name\": \"NDA5NTs2NDhkMzUyMS1mODYwLTQxZmMtYTM1Ny00ZGEyODRhZjA3NWY=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs2NDhkMzUyMS1mODYwLTQxZmMtYTM1Ny00ZGEyODRhZjA3NWY=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/NDA5NTs2NDhkMzUyMS1mODYwLTQxZmMtYTM1Ny00ZGEyODRhZjA3NWY=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs3ZjUzNjZhZC1hZTZhLTRiOTItYTE2Mi1jZWJkYmUxODg0Mzg=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs3ZjUzNjZhZC1hZTZhLTRiOTItYTE2Mi1jZWJkYmUxODg0Mzg=\",\r\n
        \ \"name\": \"NDA5NTs3ZjUzNjZhZC1hZTZhLTRiOTItYTE2Mi1jZWJkYmUxODg0Mzg=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs3ZjUzNjZhZC1hZTZhLTRiOTItYTE2Mi1jZWJkYmUxODg0Mzg=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/NDA5NTs3ZjUzNjZhZC1hZTZhLTRiOTItYTE2Mi1jZWJkYmUxODg0Mzg=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv","name":"bez-kv","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{"key":"value"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespacenkzqllvymug7jrubukamq43tmn6dzubm7kre2bcvqdulaxlasvuk7n/providers/Microsoft.KeyVault/vaults/eventhubs-kv44vz5per","name":"eventhubs-kv44vz5per","type":"Microsoft.KeyVault/vaults","location":"northeurope","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespacexko3vo3brxd332u5vszwfj4cvu57llgcdt7t7cweoapsbuykbvvf33/providers/Microsoft.KeyVault/va[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004","name":"clitest000004","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"systemData":{"createdBy":"hanglei@microsoft.com","createdByType":"User","createdAt":"2022-06-02T08:13:05.897Z","lastModifiedBy":"hanglei@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-02T08:13:05.897Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"fe87037c-4c23-46ac-9fcf-5ad3d7e5ba3e","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://clitest000004.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "fe87037c-4c23-46ac-9fcf-5ad3d7e5ba3e",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "vaultUri": "https://clitest000004.vault.azure.net/",
      "enabledForDeployment": false, "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enablePurgeProtection": true, "provisioningState": "Succeeded", "publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000004?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.K[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.vault.azure.net/keys/clitest-key1000005/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["decrypt", "encrypt", "sign",
      "unwrapKey", "verify", "wrapKey"], "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000004.vault.azure.net/keys/clitest-key1000005/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://clitest000004.vault.azure.net/keys/clitest-key1000005/8909ff5de3bf4fe69a8602997bc4a731","kty":"RSA","key_ops":["decrypt","encrypt","sign","unwrapKey","verify","wrapKey"],"n":"z9Q2cGcEYJSjTBNAXhHVD0yunoDGucExeJt2Tu_LtdRNgNgrwx-NYFuKdvyvB_nWMkyGCRjbsDQ-6akQAAOWifDvlnalWfH3utYickNBvYNtUdK0XdOWlvouUDbp8OCF205rFtQNKyshzWCSVOHgVedf0eE72KT9ILlnA1pxVwA-IUiEqhiiEeW3sjq2Oha31dQxhScUzBguhoHyrCdj1nNfdscc7v_6L2l2pmu0p9h0G-FiYZ0Ds12uxGfmV-T2hOktTm0NFrv0tsoRZBl0WSI941pYTsQQFVjQ-dxEH0KGE27ndxDdWUHmjW0lTk6E0XMs9Uobc944sEFfpS1oKQ","e":"AQAB"},"attributes":{"enabled":true,"created":1654158139,"updated":1654158139,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"useSystemAssignedIdentity":true,"encryptionAtRestType":"MicrosoftManaged","lastUpdateStatus":"NotEnabled","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"encryption": {"keyVaultProperties": {"keyUri": "https://clitest000004.vault.azure.net/keys/clitest-key1000005/8909ff5de3bf4fe69a8602997bc4a731"},
      "kekIdentity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007"},
      "infrastructureEncryption": "Disabled"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjODQ1ODA2My01MzIwLTQ5M2QtOGIwNC04MmMwMWUwMjc3MmE=?api-version=2021-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtjODQ1ODA2My01MzIwLTQ5M2QtOGIwNC04MmMwMWUwMjc3MmE=?api-version=2021-03-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjODQ1ODA2My01MzIwLTQ5M2QtOGIwNC04MmMwMWUwMjc3MmE=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjODQ1ODA2My01MzIwLTQ5M2QtOGIwNC04MmMwMWUwMjc3MmE=\",\r\n
        \ \"name\": \"NDA5NTtjODQ1ODA2My01MzIwLTQ5M2QtOGIwNC04MmMwMWUwMjc3MmE=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTtjODQ1ODA2My01MzIwLTQ5M2QtOGIwNC04MmMwMWUwMjc3MmE=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTtjODQ1ODA2My01MzIwLTQ5M2QtOGIwNC04MmMwMWUwMjc3MmE=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2022-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupEncryptionConfigs/backupResourceEncryptionConfig","name":"backupResourceEncryptionConfig","type":"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs","properties":{"userAssignedIdentity":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/clitest-identity1000007","useSystemAssignedIdentity":false,"encryptionAtRestType":"CustomerManaged","keyUri":"https://clitest000004.vault.azure.net/keys/clitest-key1000005/8909ff5de3bf4fe69a8602997bc4a731","subscriptionId":"","lastUpdateStatus":"Succeeded","infrastructureEncryptionState":"Disabled"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthZmE3M2I1Ni0zZjMzLTRjNDAtOWU1Yy1mOWQyMTY3YTFkYTM=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthZmE3M2I1Ni0zZjMzLTRjNDAtOWU1Yy1mOWQyMTY3YTFkYTM=\",\r\n
        \ \"name\": \"NDA5NTthZmE3M2I1Ni0zZjMzLTRjNDAtOWU1Yy1mOWQyMTY3YTFkYTM=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthZmE3M2I1Ni0zZjMzLTRjNDAtOWU1Yy1mOWQyMTY3YTFkYTM=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTthZmE3M2I1Ni0zZjMzLTRjNDAtOWU1Yy1mOWQyMTY3YTFkYTM=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthYzhlY2NhOS00ZWQ2LTQyOTQtYjc2MC0zNmNkYzAzNTMyODk=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthYzhlY2NhOS00ZWQ2LTQyOTQtYjc2MC0zNmNkYzAzNTMyODk=\",\r\n
        \ \"name\": \"NDA5NTthYzhlY2NhOS00ZWQ2LTQyOTQtYjc2MC0zNmNkYzAzNTMyODk=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTthYzhlY2NhOS00ZWQ2LTQyOTQtYjc2MC0zNmNkYzAzNTMyODk=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTthYzhlY2NhOS00ZWQ2LTQyOTQtYjc2MC0zNmNkYzAzNTMyODk=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTswNTgxYjZhZS0yYjBkLTQwMmUtODI3MC1hMTk5ZTNmNTY2ZTM=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTswNTgxYjZhZS0yYjBkLTQwMmUtODI3MC1hMTk5ZTNmNTY2ZTM=\",\r\n
        \ \"name\": \"NDA5NTswNTgxYjZhZS0yYjBkLTQwMmUtODI3MC1hMTk5ZTNmNTY2ZTM=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationStatus/NDA5NTswNTgxYjZhZS0yYjBkLTQwMmUtODI3MC1hMTk5ZTNmNTY2ZTM=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/operationResults/NDA5NTswNTgxYjZhZS0yYjBkLTQwMmUtODI3MC1hMTk5ZTNmNTY2ZTM=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTtjYjNmMmI1NC1iMWYzLTRiZGUtOWRhNy01N2ZiOGNmNDhmOTg=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTtjYjNmMmI1NC1iMWYzLTRiZGUtOWRhNy01N2ZiOGNmNDhmOTg=\",\r\n
        \ \"name\": \"NDA5NTtjYjNmMmI1NC1iMWYzLTRiZGUtOWRhNy01N2ZiOGNmNDhmOTg=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTtjYjNmMmI1NC1iMWYzLTRiZGUtOWRhNy01N2ZiOGNmNDhmOTg=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/NDA5NTtjYjNmMmI1NC1iMWYzLTRiZGUtOWRhNy01N2ZiOGNmNDhmOTg=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs1MDFlY2M0NS05MzliLTQxZDQtYjFiZC02Y2ZiNmVjYWNmMzM=?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs1MDFlY2M0NS05MzliLTQxZDQtYjFiZC02Y2ZiNmVjYWNmMzM=\",\r\n
        \ \"name\": \"NDA5NTs1MDFlY2M0NS05MzliLTQxZDQtYjFiZC02Y2ZiNmVjYWNmMzM=\",\r\n
        \ \"status\": \"InProgress\",\r\n  \"percentComplete\": 0.0\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationStatus/NDA5NTs1MDFlY2M0NS05MzliLTQxZDQtYjFiZC02Y2ZiNmVjYWNmMzM=?api-version=2021-03-01
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/operationResults/NDA5NTs1MDFlY2M0NS05MzliLTQxZDQtYjFiZC02Y2ZiNmVjYWNmMzM=?api-version=2021-03-01
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000003/backupProtectionContainers?api-version=2022-02-01&%24filter=backupManagementType+eq+%27AzureIaasVM%27+and+status+eq+%27Registered%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '9'
    status:
      code: 200
      message: OK
version: 1
