interactions:
- request:
    body: '{"location": "southeastasia", "properties": {}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002?api-version=2016-06-01
  response:
    body:
      string: '{"location":"southeastasia","name":"clitest-vault000002","etag":"W/\"datetime''2020-12-18T10%3A26%3A49.8987566Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupPolicies/DefaultPolicy?api-version=2019-06-15
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupPolicies/DefaultPolicy","name":"DefaultPolicy","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureIaasVM","instantRPDetails":{},"schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2020-12-18T20:00:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2020-12-18T20:00:00Z"],"retentionDuration":{"count":30,"durationType":"Days"}}},"instantRpRetentionRangeInDays":2,"timeZone":"UTC","protectedItemsCount":0}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"protectedItemsCount": 0, "backupManagementType": "AzureIaasVM",
      "instantRPDetails": {}, "schedulePolicy": {"schedulePolicyType": "SimpleSchedulePolicy",
      "scheduleRunFrequency": "Daily", "scheduleRunTimes": ["2020-12-18T20:00:00.000Z"],
      "scheduleWeeklyFrequency": 0}, "retentionPolicy": {"retentionPolicyType": "LongTermRetentionPolicy",
      "dailySchedule": {"retentionTimes": ["2020-12-18T20:00:00.000Z"], "retentionDuration":
      {"count[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"southeastasia","tags":{"product":"azurecli","cause":"automation","date":"2020-12-18T10:26:36Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\"\n          },\n
        \         \"CoreOS\": {\n            \"publisher\": \"CoreOS\",\n            \"offer\":
        \"CoreOS\",\n            \"sku\": \"Stable\",\n            \"version\": \"latest\"\n
        \         },\n          \"Debian\": {\n            \"publisher\": \"Debian\",\n
        \           \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n            \"version\":
        \"latest\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"openSUSE-Leap\",\n            \"sku\":
        \"42.3\",\n            \"version\": \"latest\"\n          },\n          \"RHEL\":
        {\n            \"publisher\": \"RedHat\",\n            \"offer\": \"RHEL\",\n
        \           \"sku\": \"7-LVM\",\n            \"version\": \"latest\"\n          },\n
        \         \"SLES\": {\n            \"publisher\": \"SUSE\",\n            \"offer\":
        \"SLES\",\n            \"sku\": \"15\",\n            \"version\": \"latest\"\n
        \         },\n          \"UbuntuLTS\": {\n            \"publisher\": \"Canonical\",\n
        \           \"offer\": \"UbuntuServer\",\n            \"sku\": \"18.04-LTS\",\n
        \           \"version\": \"latest\"\n          }\n        },\n        \"Windows\":
        {\n          \"Win2019Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2019-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2016Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n            \"version\":
        \"latest\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\"\n          },\n
        \         \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2008R2SP1\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2008-R2-SP1\",\n            \"version\":
        \"latest\"\n          }\n        }\n      }\n    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"540044b4084c3c314537f1baa1770f248628b2bc9ba0328f1004c33862e049da"
      source-age:
      - '230'
      x-fastly-request-id:
      - 7bdcdd028cfd1724f804f71e2041af83eca069b8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "clitest-vm000005VNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "southeastasia", "apiVersion": "2015-06-15", "dependsOn": [], "tags":
      {"MabUsed": "Yes", "Owner": "sisi", "Purpose": "CLITest", "DeleteBy": "12-2099",
      "AutoShutdown": "No"}, "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]},
      "subnets": [{"name": "clitest-vm000005Subnet", "properties": {"addressPrefix":
      "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups", "name":
      "clitest-vm000005NSG", "apiVersion": "2015-06-15", "location": "southeastasia",
      "tags": {"MabUsed": "Yes", "Owner": "sisi", "Purpose": "CLITest", "DeleteBy":
      "12-2099", "AutoShutdown": "No"}, "dependsOn": []}, {"apiVersion": "2018-01-01",
      "type": "Microsoft.Network/publicIPAddresses", "name": "clitest-vm000005PublicIP",
      "location": "southeastasia", "tags": {"MabUsed": "Yes", "Owner": "sisi", "Purpose":
      "CLITest", "DeleteBy": "12-2099", "AutoShutdown": "No"}, "dependsOn": [], "properties":
      {"publicIPAllocationMethod": null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "clitest-vm000005VMNic", "location": "southeastasia", "tags": {"MabUsed":
      "Yes", "Owner": "sisi", "Purpose": "CLITest", "DeleteBy": "12-2099", "AutoShutdown":
      "No"}, "dependsOn": ["Microsoft.Network/virtualNetworks/clitest-vm000005VNET",
      "Microsoft.Network/networkSecurityGroups/clitest-vm000005NSG", "Microsoft.Network/publicIpAddresses/clitest-vm000005PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigclitest-vm000005", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000005VNET/subnets/clitest-vm000005Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000005PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000005NSG"}}},
      {"apiVersion": "2020-06-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "clitest-vm000005", "location": "southeastasia", "tags": {"MabUsed": "Yes",
      "Owner": "sisi", "Purpose": "CLITest", "DeleteBy": "12-2099", "AutoShutdown":
      "No"}, "dependsOn": ["Microsoft.Network/networkInterfaces/clitest-vm000005VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic"}]},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": null, "caching":
      "ReadWrite", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer", "sku": "2012-R2-Datacenter",
      "version": "latest"}}, "osProfile": {"computerName": "clitest-vm000005", "adminUsername":
      "clitest-vm000005", "adminPassword": "[parameters(''adminPassword'')]"}}}],
      "outputs": {}}, "parameters": {"adminPassword": {"value": "%j^VYw9Q3Z@Cu$*h"}},
      "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_1DWS9ZZbwlucB8iie1cAXsfn0wc1oC5s","name":"vm_deploy_1DWS9ZZbwlucB8iie1cAXsfn0wc1oC5s","type":"Microsoft.Resources/deployments","properties":{"templateHash":"4020929785105698626","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-12-18T10:27:08.1424316Z","duration":"PT3.3101814S","correlationId":"80f8c5b9-977b-4788-b5db-8f51130fc7e7","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["southeastasia"]},{"resourceType":"networkSecurityGroups","locations":["southeastasia"]},{"resourceType":"publicIPAddresses","locations":["southeastasia"]},{"resourceType":"networkInterfaces","locations":["southeastasia"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["southeastasia"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000005VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"clitest-vm000005VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000005NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"clitest-vm000005NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000005PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"clitest-vm000005PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"clitest-vm000005VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"clitest-vm000005VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"clitest-vm000005"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_1DWS9ZZbwlucB8iie1cAXsfn0wc1oC5s/operationStatuses/08585933196606453825?api-version=2020-10-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585933196606453825?api-version=2020-10-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005?$expand=instanceView&api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitest-vm000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"southeastasia\",\r\n
        \ \"tags\": {\r\n    \"MabUsed\": \"Yes\",\r\n    \"Owner\": \"sisi\",\r\n
        \   \"Purpose\": \"CLITest\",\r\n    \"DeleteBy\": \"12-2099\",\r\n    \"AutoShutdown\":
        \"No\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"43f5d209-3a3c-4404-b9a5-f73d72a9552e\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\":
        \"2012-R2-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"9600.19893.2012051546\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Windows\",\r\n        \"name\": \"clitest-vm000005_disk1_deec27c154ce477db44ea4949b73956d\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/clitest-vm000005_disk1_deec27c154ce477db44ea4949b73956d\"\r\n
        \       },\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\":
        []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"clitest-vm000005\",\r\n
        \     \"adminUsername\": \"clitest-vm000005\",\r\n      \"windowsConfiguration\":
        {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\":
        true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\"\r\n
        \       }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"vmAgent\":
        {\r\n        \"vmAgentVersion\": \"Unknown\",\r\n        \"statuses\": [\r\n
        \         {\r\n            \"code\": \"ProvisioningState/Unavailable\",\r\n
        \           \"level\": \"Warning\",\r\n            \"displayStatus\": \"Not
        Ready\",\r\n            \"message\": \"VM status blob is found but not yet
        populated.\",\r\n            \"time\": \"2020-12-18T10:28:44+00:00\"\r\n          }\r\n
        \       ]\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\":
        \"clitest-vm000005_disk1_deec27c154ce477db44ea4949b73956d\",\r\n          \"statuses\":
        [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2020-12-18T10:27:51.2992243+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded/osProvisioningInProgress\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"OS provisioning
        in progress\",\r\n          \"time\": \"2020-12-18T10:28:17.9402617+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3995,Microsoft.Compute/LowCostGet30Min;31987
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitest-vm000005VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic\",\r\n
        \ \"etag\": \"W/\\\"f5d1017e-06de-48fe-b1da-0ca60abb1444\\\"\",\r\n  \"location\":
        \"southeastasia\",\r\n  \"tags\": {\r\n    \"MabUsed\": \"Yes\",\r\n    \"Owner\":
        \"sisi\",\r\n    \"Purpose\": \"CLITest\",\r\n    \"DeleteBy\": \"12-2099\",\r\n
        \   \"AutoShutdown\": \"No\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"9d87499f-b4b5-40ad-9e87-fe613d625940\",\r\n
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigclitest-vm000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic/ipConfigurations/ipconfigclitest-vm000005\",\r\n
        \       \"etag\": \"W/\\\"f5d1017e-06de-48fe-b1da-0ca60abb1444\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000005PublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/clitest-vm000005VNET/subnets/clitest-vm000005Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"32kq0nujaxjuzbghcl5oc2fwkg.ix.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-0D-3A-C7-B4-4A\",\r\n    \"enableAcceleratedNetworking\": false,\r\n
        \   \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/clitest-vm000005NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f5d1017e-06de-48fe-b1da-0ca60abb1444"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000005PublicIP?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"clitest-vm000005PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/clitest-vm000005PublicIP\",\r\n
        \ \"etag\": \"W/\\\"cc82e106-662c-4772-b490-e7ad9002bdb8\\\"\",\r\n  \"location\":
        \"southeastasia\",\r\n  \"tags\": {\r\n    \"MabUsed\": \"Yes\",\r\n    \"Owner\":
        \"sisi\",\r\n    \"Purpose\": \"CLITest\",\r\n    \"DeleteBy\": \"12-2099\",\r\n
        \   \"AutoShutdown\": \"No\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"cc2afeba-12e8-4f73-9a6e-d529b36bd051\",\r\n
        \   \"ipAddress\": \"104.215.158.180\",\r\n    \"publicIPAddressVersion\":
        \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/clitest-vm000005VMNic/ipConfigurations/ipconfigclitest-vm000005\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cc82e106-662c-4772-b490-e7ad9002bdb8"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupProtectableItems?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureIaasVM%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/refreshContainers?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationsStatus/4ae23e30-5b05-4d33-9484-772370af4345?api-version=2019-05-13-preview
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationResults/4ae23e30-5b05-4d33-9484-772370af4345?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationResults/4ae23e30-5b05-4d33-9484-772370af4345?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/operationResults/4ae23e30-5b05-4d33-9484-772370af4345?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupProtectableItems?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureIaasVM%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;clitest.rg000001;clitest-vm000005/protectableItems/vm;iaasvmcontainerv2;clitest.rg000001;clitest-vm000005","name":"iaasvmcontainerv2;clitest.rg000001;clitest-vm000005","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000005","virtualMachineVersion":"Compute","resourceGroup":"clitest.rg000001","backupManagementType":"AzureIaasVM","protectableItemType":"Microsoft.Compute/virtualMachines","friendlyName":"clitest-vm000005","protectionState":"NotProtected"}},{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.RecoveryServices/vaults/clitest-vault000002/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;clitest.rg000001;clitest-vm000006/protectableItems/vm;iaasvmcontainerv2;clitest.rg000001;clitest-vm000006","name":"iaasvmcontainerv2;clitest.rg000001;clitest-vm000006","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/clitest-vm000006","virtualMachineVersion":"Compute","resourceGroup":"clitest.rg000001","backupManagementType":"AzureIaasVM","protectableItemType":"Microsoft.Compute/virtualMachines","friendlyName":"clitest-vm000006","protectionState":"NotProtected"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
[...]
