interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupProtectionContainers?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitest-vm","name":"VMAppContainer;Compute;sql-clitest-rg;sql-clitest-vm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","lastUpdatedTime":"2021-10-14T05:08:18.1778622Z","extendedInfo":{"hostServerName":"sql-clitest-vm","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SQL","itemCount":9,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":""}}]}},"friendlyName":"sql-clitest-vm","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{"BackupOperationStatusKPI":{"resourceHealthStatus":"Healthy","resourceHealthDetails":[{"code":0,"title":"Success","message":"","recommendations":[]}]},"RestoreOperationStatusKPI":{"resourceHealthStatus":"PersistentUnhealthy","resourceHealthDetails":[{"code":510011,"title":"WorkloadRestoreFailed","message":"Restore
        has failed due to an unknown error.","recommendations":["Wait for a few minutes
        and then try the operation again. If the issue persists, please contact Microsoft
        support."]}]}},"friendlyName":"msdb","serverName":"sql-clitest-vm","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2021-12-22T19:35:27.3306446Z","protectedItemDataSourceId":"17592916246099","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2021-10-14T17:34:31Z","recoveryPointCount":70,"policyState":"Consistent","recoveryModel":"SIMPLE"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupPolicies/sql-clitest-policy","lastRecoveryPoint":"2021-12-22T19:34:52Z","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupProtectedItems/?api-version=2018-12-20&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20itemType%20eq%20%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/?api-version=2018-12-20
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/67045681940713","name":"67045681940713","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","recoveryPointTimeInUTC":"2021-12-22T19:34:52Z","type":"Full","crossRegionRestoreState":"Supported","recoveryPointTierDetails":[{"type":2,"status":1}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery-Point
        having active dependencies for restore is not eligible for Archive Move. "}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/70238053846772","name":"70238053846772","type":"Microsoft.RecoveryServices/vaults/backupFabri[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionContainers?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkLoad%27%20and%20friendlyName%20eq%20%27clitest-sql-secondary-donotuse%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectableItems?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20workloadType%20eq%20%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/sqlinstance;mssqlserver","name":"sqlinstance;mssqlserver","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"MSSQLSERVER","serverName":"clitest-sql-sec","isAutoProtectable":true,"isAutoProtected":false,"subinquireditemcount":13,"subprotectableitemcount":13,"prebackupvalidation":{"status":"Success","code":"Success"},"IsProtectable":false,"backupManagementType":"AzureWorkload","workloadType":"SQL","protectableItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/sqldatabase;mssqlserver;master","name":"sqldatabase;mssqlserver;master","type":"Microsoft.RecoveryServices/vaults/backu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionIntents?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20itemName%20eq%20%27MSSQLSERVER%27%20and%20itemType%20eq%20%27SQLInstance%27%20and%20parentName%20eq%20%27vmappcontainer%3Bcompute%3Bclitest-rg-donotuse%3Bclitest-sql-secondary-donotuse%27
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/67045681940713?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/67045681940713","name":"67045681940713","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","extendedInfo":{"dataDirectoryTimeInUTC":"2021-12-22T19:34:52Z","dataDirectoryPaths":[{"type":"Data","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBData.mdf","logicalName":"MSDBData"},{"type":"Log","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBLog.ldf","logicalName":"MSDBLog"}]},"recoveryPointTimeInUTC":"2021-12-22T19:34:52Z","type":"Full","recoveryPointTierDetails":[{"type":2,"status":1}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery-Point
        having active dependencies for restore is not eligible for Archive Move. "}}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bclitest-rg-donotuse%3Bclitest-sql-secondary-donotuse/items?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20workloadItemType%20eq%20%27SQLInstance%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/SQLInstance;MSSQLSERVER","name":"SQLInstance;MSSQLSERVER","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/items","properties":{"dataDirectoryPaths":[{"type":"Data","path":"F:\\data\\"},{"type":"Log","path":"G:\\log\\"}],"parentName":"MSSQLSERVER","serverName":"clitest-sql-sec","isAutoProtectable":true,"subinquireditemcount":0,"subWorkloadItemCount":13,"backupManagementType":"AzureWorkload","workloadType":"SQL","workloadItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-0000000000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionContainers?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault?api-version=2021-03-01
  response:
    body:
      string: '{"location":"centraluseuap","name":"sql-clitest-vault","etag":"W/\"datetime''2021-07-13T07%3A37%3A46.89829Z''\"","tags":{"Owner":"akneema","Purpose":"CLITest","MABUsed":"Yes","DeleteBy":"12-9999"},"properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupAadProperties?api-version=2018-12-20&$filter=backupManagementType%20eq%20%27AzureWorkload%27
  response:
    body:
      string: '{"properties":{"tenantId":"33e01921-4d64-4f8c-a055-5bdaffd5e33d","audience":"https://RecoveryServices/WkloadCoord/aadmgmt/ecy","servicePrincipalObjectId":"1b8029ee-c6a9-4e01-a52b-5bb44807b831"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d", "audience":
      "https://RecoveryServices/WkloadCoord/aadmgmt/ecy", "servicePrincipalObjectId":
      "1b8029ee-c6a9-4e01-a52b-5bb44807b831"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/67045681940713/accessToken?api-version=2018-12-20
  response:
    body:
      string: '{"properties":{"protectableObjectUniqueName":"MSSQLSERVER/msdb","protectableObjectFriendlyName":"msdb","protectableObjectWorkloadType":"SQL","protectableObjectProtectionState":"Protected","protectableObjectContainerHostOsName":"sql-clitest-vm","protectableObjectParentLogicalContainerName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","containerId":"53569","policyName":"sql-clitest-policy","policyId":"f2217b85-4c4c-478d-a865-839e6ae165df","objectType":"WorkloadCrrAccessToken","accessTokenString":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkhjLXVjS285Z2JxNTZOeTRoWFp5M0lrZ3JvMCJ9.eyJVc2VySWRlbnRpdHlUeXBlIjoiQUFEIiwiQWFkVGVuYW50SWQiOiIzM2UwMTkyMS00ZDY0LTRmOGMtYTA1NS01YmRhZmZkNWUzM2QiLCJBYWRTUE9iamVjdElkIjoiMWI4MDI5ZWUtYzZhOS00ZTAxLWE1MmItNWJiNDQ4MDdiODMxIiwiUGl0UGVybWlzc2lvbnMiOiJSZWFkIiwiQmFja3VwVmF1bHRJRCI6IjI1NzkxMDU4MDY4MjY0NTUwMjYiLCJDb250YWluZXJJRCI6IjUzNTY5IiwiRGF0YXNvdXJjZUlEIjoiMTc1OTI5MTYyNDYwOTkiLCJQaXRJRCI6IjY3MDQ1NjgxOTQwNzEzIiwiaXNzaWQiOiJhMTcxZjBmZS0xMDQwLTRiMmQtODNjZC05MDYyOGViYmUwOGUiLCJodHRwOi8vc2NoZW1hcy53aW5kb3dzY2xvdWRiYWNrdXAuY29tLzIwMTAvMTAvaWRlbnRpdHkvY2xhaW1zL3Jlc291cmNlaWQiOiIyNTc5MTA1ODA2ODI2NDU1MDI2IiwiaHR0cDovL3NjaGVtYXMud2luZG93c2Nsb3VkYmFja3VwLmNvbS8yMDEwLzEwL2lkZW50aXR5L2NsYWltcy9jb250YWluZXJpZCI6IjUzNTY5IiwiaXNzIjoiaHR0cDovL21pY3Jvc29mdC5kYXRhcHJvdGVjdGlvbi9pc3N1ZXJzL2ExNzFmMGZlLTEwNDAtNGIyZC04M2NkLTkwNjI4ZWJiZTA4ZSIsImF1ZCI6Imh0dHA6Ly9taWNyb3NvZnQuZGF0YXByb3RlY3Rpb24vUHJvdGVjdGlvblNlcnZpY2UiLCJleHAiOjE2NDAzMzI1ODAsIm5iZiI6MTY0MDI0NTg4MH0.I4URojONHrk8x2GMA9KAiQ9T_xXgffJPwsRkqdcKNc7OtUM2lgpm3pZhxYRizBrtkAo4CADvv7RTYGnnhno0OVRziqnTZwwZ55_tfHwqWzH6gKisRv8ywxC9Ij7TggiF0aQ_Ib4HIb8Ll3yqA2u9hggskYgxjloSGuXk_tTMGnBDkOOyzl4CRKdg2OImVDZhtnK3NEKBDFmyBc0mtw2AnPbmbdBGe4NxH5OsASIKvGtCsC39wxsv_jOh4490_kp62v1hMS1Yht1zVk2z4VkjwnikhYbl3bTUDVudVFob1OIFCFeNFIOXCQn3KWw21XhCDMkQH8wfjm3w0MdhyoickA","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","resourceGroupName":"sql-clitest-rg","resourceName":"sql-clitest-vault","resourceId":"2579105806826455026","protectionContainerId":53569,"recoveryPointId":"67045681940713","recoveryPointTime":"12/22/2021
        7:34:52 PM","containerName":"Compute;sql-clitest-rg;sql-clitest-vm","containerType":"VMAppContainer","backupManagementType":"AzureWorkload","datasourceType":"SQLDataBase","datasourceName":"msdb","datasourceId":"17592916246099","datasourceContainerName":"compute;sql-clitest-rg;sql-clitest-vm","coordinatorServiceStampId":"6367f474-c521-46cb-8bdb-b4daa8888f1e","coordinatorServiceStampUri":"https://pod01-wbcm1.ccy.backup.windowsazure.com","protectionServiceStampId":"90d98224-2ac6-4bda-9f35-33fb22841f2a","protectionServiceStampUri":"https://pod01-prot1-int.ccy.backup.windowsazure.com","rpOriginalSAOption":false,"rpIsManagedVirtualMachine":false,"bMSActiveRegion":"CentralUSEUAP"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"crossRegionRestoreAccessDetails": {"objectType": "WorkloadCrrAccessToken",
      "accessTokenString": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkhjLXVjS285Z2JxNTZOeTRoWFp5M0lrZ3JvMCJ9.eyJVc2VySWRlbnRpdHlUeXBlIjoiQUFEIiwiQWFkVGVuYW50SWQiOiIzM2UwMTkyMS00ZDY0LTRmOGMtYTA1NS01YmRhZmZkNWUzM2QiLCJBYWRTUE9iamVjdElkIjoiMWI4MDI5ZWUtYzZhOS00ZTAxLWE1MmItNWJiNDQ4MDdiODMxIiwiUGl0UGVybWlzc2lvbnMiOiJSZWFkIiwiQmFja3VwVmF1bHRJRCI6IjI1NzkxMDU4MDY4MjY0NTUwMjYiLCJDb250YWluZXJJRCI6IjUzNTY5IiwiRGF0YXNvdXJjZUlEIjoiMTc1OTI5MTYyNDYwOTkiLCJQaXRJRCI6I[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjs0Yjk1NjZiMC1kZjZjLTRkY2QtOWU3My01NmQ3MTQwMTA2Njk%3D?api-version=2018-12-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjs0Yjk1NjZiMC1kZjZjLTRkY2QtOWU3My01NmQ3MTQwMTA2Njk=","name":"MjU3OTEwNTgwNjgyNjQ1NTAyNjs0Yjk1NjZiMC1kZjZjLTRkY2QtOWU3My01NmQ3MTQwMTA2Njk=","status":"Succeeded","startTime":"2021-12-23T07:56:24.2438825Z","endTime":"2021-12-23T07:56:24Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"538e0664-cdcb-4728-9444-45979b817394"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault",
      "jobName": "538e0664-cdcb-4728-9444-45979b817394"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrJob?api-version=2018-12-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupJobs/538e0664-cdcb-4728-9444-45979b817394","name":"538e0664-cdcb-4728-9444-45979b817394","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SQLDataBase","duration":"PT12.1292302S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"InProgress"}],"propertyBag":{"Job Type":"Recovery
        to an alternate database","Original VM Name":"sql-clitest-vm","Target VM Name":"clitest-sql-secondary-donotuse","Target
        resource group":"clitest-rg-donotuse","Subscription Id of the vault":"38304e13-357e-405e-9e9a-220351dcce8c","Resource
        Group Name of the vault":"sql-clitest-rg","Vault name":"sql-clitest-vault","Resource
        Group Name of the target vault":"clitest-rg-donotuse","Target vault name":"clitest-vault-secondary-donotuse"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitest-vm]","backupManagementType":"AzureWorkload","operation":"CrossRegionRestore","status":"InProgress","startTime":"2021-12-23T07:56:24.4810074Z","activityId":"cad36b2c-63c5-11ec-a590-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault",
      "jobName": "538e0664-cdcb-4728-9444-45979b817394"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrJob?api-version=2018-12-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupJobs/538e0664-cdcb-4728-9444-45979b817394","name":"538e0664-cdcb-4728-9444-45979b817394","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SQLDataBase","duration":"PT10M33.3445026S","errorDetails":[{"errorCode":510011,"errorString":"Restore
        has failed due to an unknown error.","errorTitle":"WorkloadRestoreFailed","recommendations":["Wait
        for a few minutes and then try the operation again. If the issue persists,
        please contact Microsoft support."]}],"extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"Failed"}],"propertyBag":{"Data Transferred (in
        MB)":"0","Job Type":"Recovery to an alternate database","RestoreDestination":"clitest-sql-sec/MSSQLSERVER/msdb_restored","Original
        VM Name":"sql-clitest-vm","Target VM Name":"clitest-sql-secondary-donotuse","Target
        resource group":"clitest-rg-donotuse","Subscription Id of the vault":"38304e13-357e-405e-9e9a-220351dcce8c","Resource
        Group Name of the vault":"sql-clitest-rg","Vault name":"sql-clitest-vault","Resource
        Group Name of the target vault":"clitest-rg-donotuse","Target vault name":"clitest-vault-secondary-donotuse"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitest-vm]","backupManagementType":"AzureWorkload","operation":"CrossRegionRestore","status":"Failed","startTime":"2021-12-23T07:56:24.4810074Z","endTime":"2021-12-23T08:06:57.82551Z","activityId":"cad36b2c-63c5-11ec-a590-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1177'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjs1NjYyNTQ3ZC05MWQ3LTRiZmUtYmM1Yy03N2E5NzRlYTU4YTA%3D?api-version=2018-12-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjs1NjYyNTQ3ZC05MWQ3LTRiZmUtYmM1Yy03N2E5NzRlYTU4YTA=","name":"MjU3OTEwNTgwNjgyNjQ1NTAyNjs1NjYyNTQ3ZC05MWQ3LTRiZmUtYmM1Yy03N2E5NzRlYTU4YTA=","status":"Succeeded","startTime":"2021-12-23T08:08:18.7414653Z","endTime":"2021-12-23T08:08:19Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"fb758fcd-4dab-479f-8d60-634ac92f60cd"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault",
      "jobName": "fb758fcd-4dab-479f-8d60-634ac92f60cd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https:/