interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectableContainers?api-version=2021-06-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy","name":"VMAppContainer;Compute;akneema;akneema-hana-ccy","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers","properties":{"friendlyName":"akneema-hana-ccy","backupManagementType":"AzureWorkload","protectableContainerType":"VMAppContainer","healthStatus":"Healthy","containerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-hana-ccy"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;akneema;akneema-vm-ccy","name":"VMAppContainer;Compute;akneema;akneema-vm-ccy","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableConta[...]
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "containerType":
      "VMAppContainer", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-hana-ccy",
      "workloadType": "SAPHanaDatabase"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bakneema%3Bakneema-hana-ccy?api-version=2021-06-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy/operationsStatus/0556b79b-6f0c-4117-92b6-4607609b2af9?api-version=2019-05-13-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy/operationResults/0556b79b-6f0c-4117-92b6-4607609b2af9?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bakneema%3Bakneema-hana-ccy/operationResults/0556b79b-6f0c-4117-92b6-4607609b2af9?api-version=2021-06-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy/operationsStatus/0556b79b-6f0c-4117-92b6-4607609b2af9?api-version=2019-05-13-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy/operationResults/0556b79b-6f0c-4117-92b6-4607609b2af9?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '74'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bakneema%3Bakneema-hana-ccy/operationResults/0556b79b-6f0c-4117-92b6-4607609b2af9?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;akneema;akneema-hana-ccy","name":"VMAppContainer;Compute;akneema;akneema-hana-ccy","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-hana-ccy","lastUpdatedTime":"2021-07-26T12:14:24.1770109Z","extendedInfo":{"hostServerName":"hxehost","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SAPHana","itemCount":2,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":"","protectableItemCount":{"SAPHanaSystem":1,"SAPHanaDatabase":2}}}]}},"friendlyName":"akneema-hana-ccy","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupProtectionContainers?api-version=2021-06-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aknee[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupProtectableItems?api-version=2021-06-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20workloadType%20eq%20%27SAPHanaDatabase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;akneema;akneema-hana-ccy/protectableItems/saphanasystem;hxe","name":"saphanasystem;hxe","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"HXE","serverName":"hxehost","isAutoProtectable":false,"isAutoProtected":false,"subinquireditemcount":2,"subprotectableitemcount":0,"prebackupvalidation":{"status":"Success","code":"Success"},"IsProtectable":false,"backupManagementType":"AzureWorkload","workloadType":"SAPHana","protectableItemType":"SAPHanaSystem","friendlyName":"HXE","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;akneema;akneema-hana-ccy/protectableItems/saphanadatabase;hxe;hxe","name":"saphanadatabase;hxe;hxe","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"HXE","serverName":"hxehost","isAutoProtectable":fals[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupPolicies/hana-policy-ccy?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupPolicies/hana-policy-ccy","name":"hana-policy-ccy","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureWorkload","workLoadType":"SAPHanaDatabase","settings":{"timeZone":"UTC","issqlcompression":false,"isCompression":false},"subProtectionPolicy":[{"policyType":"Full","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Weekly","scheduleRunDays":["Tuesday"],"scheduleRunTimes":["2020-11-08T03:00:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","weeklySchedule":{"daysOfTheWeek":["Tuesday"],"retentionTimes":["2020-11-08T03:00:00Z"],"retentionDuration":{"count":104,"durationType":"Weeks"}},"monthlySchedule":{"retentionScheduleFormatType":"Weekly","retentionScheduleWeekly":{"daysOfTheWeek":["Tuesday"],"weeksOfTheMonth":["First"]},"retentionTimes":["2020-11-08T03:00:00Z"],"retentionDuration":{"count":60,"durationType":"Months"}},"yearlySchedule":{"retentionScheduleFormatType":"Weekly","monthsOfYear":["January"],"retentionScheduleWeekly":{"daysOfTheWeek":["Tuesday"],"weeksOfTheMonth":["First"]},"retentionTimes":["2020-11-08T03:00:00Z"],"retentionDuration":{"count":10,"durationType":"Years"}}}},{"policyType":"Differential","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Weekly","scheduleRunDays":["Monday"],"scheduleRunTimes":["2020-11-30T12:00:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"SimpleRetentionPolicy","retentionDuration":{"count":30,"durationType":"Days"}}},{"policyType":"Log","schedulePolicy":{"schedulePolicyType":"LogSchedulePolicy","scheduleFrequencyInMins":120},"retentionPolicy":{"retentionPolicyType":"SimpleRetentionPolicy","retentionDuration":{"count":15,"durationType":"Days"}}}],"protectedItemsCount":0}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "workloadType":
      "SAPHanaDatabase", "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupPolicies/hana-policy-ccy",
      "protectedItemType": "AzureVmWorkloadSAPHanaDatabase"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/vmappcontainer%3Bcompute%3Bakneema%3Bakneema-hana-ccy/protectedItems/saphanadatabase%3Bhxe%3Bsystemdb?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;akneema;akneema-hana-ccy/protectedItems/saphanadatabase;hxe;systemdb/operationsStatus/b7d9213c-8d39-4d24-8164-a5754f3467aa?api-version=2021-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;akneema;akneema-hana-ccy/protectedItems/saphanadatabase;hxe;systemdb/operationResults/b7d9213c-8d39-4d24-8164-a5754f3467aa?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupOperations/b7d9213c-8d39-4d24-8164-a5754f3467aa?api-version=2021-06-01
  response:
    body:
      string: '{"id":"b7d9213c-8d39-4d24-8164-a5754f3467aa","name":"b7d9213c-8d39-4d24-8164-a5754f3467aa","status":"InProgress","startTime":"2021-07-26T12:20:43.3803738Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupOperations/b7d9213c-8d39-4d24-8164-a5754f3467aa?api-version=2021-06-01
  response:
    body:
      string: '{"id":"b7d9213c-8d39-4d24-8164-a5754f3467aa","name":"b7d9213c-8d39-4d24-8164-a5754f3467aa","status":"Succeeded","startTime":"2021-07-26T12:20:43.3803738Z","endTime":"2021-07-26T12:20:43.3803738Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"339ed255-8726-471f-b349-fad63cf4059c"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupJobs/339ed255-8726-471f-b349-fad63cf4059c?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupJobs/339ed255-8726-471f-b349-fad63cf4059c","name":"339ed255-8726-471f-b349-fad63cf4059c","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJobV2","workloadType":"SAPHanaDatabase","duration":"PT1M13.2219138S","extendedInfo":{"tasksList":[],"propertyBag":{"Policy
        Name":"hana-policy-ccy"}},"isUserTriggered":true,"entityFriendlyName":"systemdb","backupManagementType":"AzureWorkload","operation":"ConfigureBackup","status":"Completed","startTime":"2021-07-26T12:20:43.3803738Z","endTime":"2021-07-26T12:21:56.6022876Z","activityId":"e425c73d-ee0b-11eb-8c54-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bakneema%3Bakneema-hana-ccy/protectedItems/saphanadatabase%3Bhxe%3Bsystemdb?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;akneema;akneema-hana-ccy/protectedItems/SAPHanaDatabase;hxe;systemdb","name":"SAPHanaDatabase;hxe;systemdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{},"friendlyName":"systemdb","serverName":"hxehost","parentName":"HXE","parentType":"AzureVmWorkloadSAPHanaSystem","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"IRPending","lastBackupErrorDetail":{"code":"Success","message":""},"protectedItemDataSourceId":"1686627410","protectedItemHealthStatus":"IRPending","extendedInfo":{"recoveryPointCount":0,"policyState":"Consistent"},"protectedItemType":"AzureVmWorkloadSAPHanaDatabase","backupManagementType":"AzureWorkload","workloadType":"SAPHanaDatabase","containerName":"VMAppContainer;compute;akneema;akneema-hana-ccy","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-hana-ccy","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupPolicies/hana-policy-ccy","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '147'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"objectType": "AzureWorkloadBackupRequest", "backupType":
      "Full", "enableCompression": false, "recoveryPointExpiryTimeInUTC": "2021-08-25T12:21:59.736191Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bakneema%3Bakneema-hana-ccy/protectedItems/SAPHanaDatabase%3Bhxe%3Bsystemdb/backup?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;akneema;akneema-hana-ccy/protectedItems/SAPHanaDatabase;hxe;systemdb/operationsStatus/be98bae4-d700-4232-8203-ffd7c057dc4c?api-version=2021-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;akneema;akneema-hana-ccy/protectedItems/SAPHanaDatabase;hxe;systemdb/operationResults/be98bae4-d700-4232-8203-ffd7c057dc4c?api-version=2021-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupJobs/81b37136-82ad-4b5f-984f-a2c35f4c964c?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupJobs/81b37136-82ad-4b5f-984f-a2c35f4c964c","name":"81b37136-82ad-4b5f-984f-a2c35f4c964c","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJobV2","actionsInfo":["Cancellable"],"workloadType":"SAPHanaDatabase","duration":"PT1.3058509S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data to vault","status":"InProgress"}],"propertyBag":{}},"isUserTriggered":true,"entityFriendlyName":"SYSTEMDB
        [hxehost]","backupManagementType":"AzureWorkload","operation":"Backup (Full)","status":"InProgress","startTime":"2021-07-26T12:22:00.5249993Z","activityId":"12ea8caa-ee0c-11eb-8fd1-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bakneema%3Bakneema-hana-ccy/protectedItems/saphanadatabase%3Bhxe%3Bsystemdb?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;akneema;akneema-hana-ccy/protectedItems/SAPHanaDatabase;hxe;systemdb","name":"SAPHanaDatabase;hxe;systemdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{"BackupOperationStatusKPI":{"resourceHealthStatus":"Healthy","resourceHealthDetails":[{"code":0,"title":"Success","message":"","recommendations":[]}]}},"friendlyName":"systemdb","serverName":"hxehost","parentName":"HXE","parentType":"AzureVmWorkloadSAPHanaSystem","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2021-07-26T12:24:53.7397556Z","protectedItemDataSourceId":"1686627410","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2021-07-26T12:22:21.047Z","recoveryPointCount":1,"policyState":"Consistent"},"protectedItemType":"AzureVmWorkloadSAPHanaDatabase","backupManagementType":"AzureWorkload","workloadType":"SAPHanaDatabase","containerName":"VMAppContainer;compute;akneema;akneema-hana-ccy","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.Compute/virtualMachines/akneema-hana-ccy","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupPolicies/hana-policy-ccy","lastRecoveryPoint":"2021-07-26T12:22:21.047Z","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"policyId": "", "protectedItemType": "AzureVmWorkloadSAPHanaDatabase",
      "protectionState": "ProtectionStopped"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/akneema/providers/Microsoft.RecoveryServices/vaults/akneema-vault-ccy/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bakneema%3Bak[...]
[...]
