interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Biaasvmsqlworkload.existing%3Biaassqlext-win?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;iaasvmsqlworkload.existing;iaassqlext-win","name":"VMAppContainer;Compute;iaasvmsqlworkload.existing;iaassqlext-win","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing/providers/Microsoft.Compute/virtualMachines/iaassqlext-win","lastUpdatedTime":"2018-08-24T08:51:53.6746573Z","extendedInfo":{"hostServerName":"iaassqlext-win","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SQL","itemCount":38,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":""}}]}},"friendlyName":"iaassqlext-win","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Biaasvmsqlworkload.existing%3Biaassqlext-win/protectedItems/SQLDataBase%3Bmssqlserver%3Bnavigate-testdb2?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;iaasvmsqlworkload.existing;iaassqlext-win/protectedItems/SQLDataBase;mssqlserver;navigate-testdb2","name":"SQLDataBase;mssqlserver;navigate-testdb2","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{"BackupOperationStatusKPI":{"resourceHealthStatus":"Healthy","resourceHealthDetails":[{"code":0,"title":"Success","message":"","recommendations":[]}]},"RestoreOperationStatusKPI":{"resourceHealthStatus":"Healthy","resourceHealthDetails":[{"code":0,"title":"Success","message":"","recommendations":[]}]}},"friendlyName":"navigate-testdb2","serverName":"iaassqlext-win","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2021-06-17T11:40:59.846637Z","protectedItemDataSourceId":"1622960563","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2021-05-17T16:40:11Z","recoveryPointCount":771,"policyState":"Inconsistent","recoveryModel":"FULL"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;iaasvmsqlworkload.existing;iaassqlext-win","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing/providers/Microsoft.Compute/virtualMachines/iaassqlext-win","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupPolicies/HourlyLogBackup","lastRecoveryPoint":"2021-06-17T11:40:12Z","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Biaasvmsqlworkload.existing%3Biaassqlext-win/protectedItems/SQLDataBase%3Bmssqlserver%3Bnavigate-testdb2?api-version=2021-01-01
  response:
    body:
      string: [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Biaasvmsqlworkload.existing%3Biaassqlext-win/protectedItems/SQLDataBase%3Bmssqlserver%3Bnavigate-testdb2/recoveryPoints?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;iaasvmsqlworkload.existing;iaassqlext-win/protectedItems/SQLDataBase;mssqlserver;navigate-testdb2/recoveryPoints/1315738850800","name":"1315738850800","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","recoveryPointTimeInUTC":"2021-06-16T17:03:54Z","type":"Full","recoveryPointTierDetails":[{"type":2,"status":1}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery
        point cannot be moved to Archive tier due to insufficient retention duration
        specified in policy.. Update policy on the protected item with appropriate
        retention setting and try again."}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;iaasvmsqlworkload.existing;i[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Biaasvmsqlworkload.existing%3Biaassqlext-win?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Biaasvmsqlworkload.existing%3Biaassqlext-win/protectedItems/SQLDataBase%3Bmssqlserver%3Bnavigate-testdb2/recoveryPoints/1315738850800?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;iaasvmsqlworkload.existing;iaassqlext-win/protectedItems/SQLDataBase;mssqlserver;navigate-testdb2/recoveryPoints/1315738850800","name":"1315738850800","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","extendedInfo":{"dataDirectoryTimeInUTC":"2021-06-16T17:03:54Z","dataDirectoryPaths":[{"type":"Data","path":"F:\\Data\\navigate-testdb2.mdf","logicalName":"navigate-testdb2"},{"type":"Log","path":"F:\\Log\\navigate-testdb2_log.ldf","logicalName":"navigate-testdb2_log"}]},"recoveryPointTimeInUTC":"2021-06-16T17:03:54Z","type":"Full","recoveryPointTierDetails":[{"type":2,"status":1}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery
        point cannot be moved to Archive tier due to insufficient retention duration
        specified in policy.. Update policy on the protected item with appropriate
        retention setting and try again."}}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"objectType": "AzureWorkloadSQLRestoreRequest", "recoveryType":
      "AlternateLocation", "targetInfo": {"overwriteOption": "Overwrite", "containerId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;iaasvmsqlworkload.existing;iaassqlext-win",
      "targetDirectoryForFileRestore": "C:"}, "recoveryMode": "FileRecovery", "targetVirtualMachineId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing/providers/Microsoft.Compute/virtualMachines/iaassqlext-win",
      "shouldUseAlternateTargetLocation": true, "isNonRecoverable": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Biaasvmsqlworkload.existing%3Biaassqlext-win/protectedItems/SQLDataBase%3Bmssqlserver%3Bnavigate-testdb2/recoveryPoints/1315738850800/restore?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;iaasvmsqlworkload.existing;iaassqlext-win/protectedItems/SQLDataBase;mssqlserver;navigate-testdb2/operationsStatus/feb5d5df-ecb4-441d-93bc-984432048056?api-version=2021-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;iaasvmsqlworkload.existing;iaassqlext-win/protectedItems/SQLDataBase;mssqlserver;navigate-testdb2/operationResults/feb5d5df-ecb4-441d-93bc-984432048056?api-version=2021-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupOperations/feb5d5df-ecb4-441d-93bc-984432048056?api-version=2021-01-01
  response:
    body:
      string: '{"id":"feb5d5df-ecb4-441d-93bc-984432048056","name":"feb5d5df-ecb4-441d-93bc-984432048056","status":"InProgress","startTime":"2021-06-17T12:37:14.7714228Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupOperations/feb5d5df-ecb4-441d-93bc-984432048056?api-version=2021-01-01
  response:
    body:
      string: '{"id":"feb5d5df-ecb4-441d-93bc-984432048056","name":"feb5d5df-ecb4-441d-93bc-984432048056","status":"Succeeded","startTime":"2021-06-17T12:37:14.7714228Z","endTime":"2021-06-17T12:37:14.7714228Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"feb5d5df-ecb4-441d-93bc-984432048056"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '148'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupJobs/feb5d5df-ecb4-441d-93bc-984432048056?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupJobs/feb5d5df-ecb4-441d-93bc-984432048056","name":"feb5d5df-ecb4-441d-93bc-984432048056","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SQLDataBase","duration":"PT2.3203314S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"InProgress"}],"propertyBag":{"Job Type":"Restore
        as files"}},"isUserTriggered":true,"entityFriendlyName":"navigate-testdb2
        [iaassqlext-win]","backupManagementType":"AzureWorkload","operation":"Restore","status":"InProgress","startTime":"2021-06-17T12:37:14.7714228Z","activityId":"bdd90885-cf68-11eb-9194-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupJobs/feb5d5df-ecb4-441d-93bc-984432048056?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/iaasvmsqlworkload.existing.vaults/providers/Microsoft.RecoveryServices/vaults/iaasvmsqlworkloadexistingvault1/backupJobs/feb5d5df-ecb4-441d-93bc-984432048056","name":"feb5d5df-ecb4-441d-93bc-984432048056","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SQLDataBase","duration":"PT3M3.0358551S","errorDetails":[{"errorCode":520123,"errorString":"Restore
        as files failed because one or more files with the same name already exist
        in the target folder.","errorTitle":"UserErrorRestoreFailedTargetFileAlreadyExists","recommendations":["Specify
        a different target folder or move the existing files to a different location."]}],"extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"Failed"}],"propertyBag":{"Data Transferred (in
        MB)":"0","Job Type":"Restore as files","RestoreRecoveryPointTime":"2021-06-16
        17:03:54Z","RestoreDestination":"C:"},"dynamicErrorMessage":"C:navigate-testdb2_Full_1315738850800_2021-06-16_17-03-54.bak
        already exists."},"isUserTriggered":true,"entityFriendlyName":"navigate-testdb2
        [iaassqlext-win]","backupManagementType":"AzureWorkload","operation":"Restore
        (Full)","status":"Failed","startTime":"2021-06-17T12:37:14.7714228Z","endTime":"2021-06-17T12:40:17.8072779Z","activityId":"bdd90885-cf68-11eb-9194-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '142'
    status:
      code: 200
      message: OK
version: 1
