interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupProtectionContainers?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;sql-clitest-rg;sql-clitest-vm","name":"VMAppContainer;Compute;sql-clitest-rg;sql-clitest-vm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","lastUpdatedTime":"2021-10-14T05:08:18.1778622Z","extendedInfo":{"hostServerName":"sql-clitest-vm","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SQL","itemCount":9,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":""}}]}},"friendlyName":"sql-clitest-vm","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"kpisHealths":{"BackupOperationStatusKPI":{"resourceHealthStatus":"Healthy","resourceHealthDetails":[{"code":0,"title":"Success","message":"","recommendations":[]}]},"RestoreOperationStatusKPI":{"resourceHealthStatus":"TransientUnhealthy","resourceHealthDetails":[{"code":510011,"title":"WorkloadRestoreFailed","message":"Restore
        has failed due to an unknown error.","recommendations":["Wait for a few minutes
        and then try the operation again. If the issue persists, please contact Microsoft
        support."]}]}},"friendlyName":"msdb","serverName":"sql-clitest-vm","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2021-12-19T19:37:34.5671777Z","protectedItemDataSourceId":"17592916246099","protectedItemHealthStatus":"Healthy","extendedInfo":{"oldestRecoveryPoint":"2021-10-14T17:34:31Z","recoveryPointCount":67,"policyState":"Consistent","recoveryModel":"SIMPLE"},"protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupPolicies/sql-clitest-policy","lastRecoveryPoint":"2021-12-19T19:35:48Z","isArchiveEnabled":false}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '298'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupProtectedItems/?api-version=2018-12-20&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20itemType%20eq%20%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/?api-version=2018-12-20
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/58227634260295","name":"58227634260295","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","recoveryPointTimeInUTC":"2021-12-19T19:35:48Z","type":"Full","crossRegionRestoreState":"Supported","recoveryPointTierDetails":[{"type":2,"status":1}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery-Point
        having active dependencies for restore is not eligible for Archive Move. "}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/54473983064267","name":"54473983064267","type":"Microsoft.RecoveryServices/vaults/backupFabri[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionContainers?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkLoad%27%20and%20friendlyName%20eq%20%27clitest-sql-secondary-donotuse%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectableItems?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20workloadType%20eq%20%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/sqlinstance;mssqlserver","name":"sqlinstance;mssqlserver","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"MSSQLSERVER","serverName":"clitest-sql-sec","isAutoProtectable":true,"isAutoProtected":false,"subinquireditemcount":13,"subprotectableitemcount":13,"prebackupvalidation":{"status":"Success","code":"Success"},"IsProtectable":false,"backupManagementType":"AzureWorkload","workloadType":"SQL","protectableItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/sqldatabase;mssqlserver;master","name":"sqldatabase;mssqlserver;master","type":"Microsoft.RecoveryServices/vaults/backu[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/58227634260295?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;sql-clitest-rg;sql-clitest-vm/protectedItems/SQLDataBase;mssqlserver;msdb/recoveryPoints/58227634260295","name":"58227634260295","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints","properties":{"objectType":"AzureWorkloadSQLRecoveryPoint","extendedInfo":{"dataDirectoryTimeInUTC":"2021-12-19T19:35:48Z","dataDirectoryPaths":[{"type":"Data","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBData.mdf","logicalName":"MSDBData"},{"type":"Log","path":"C:\\Program
        Files\\Microsoft SQL Server\\MSSQL14.MSSQLSERVER\\MSSQL\\DATA\\MSDBLog.ldf","logicalName":"MSDBLog"}]},"recoveryPointTimeInUTC":"2021-12-19T19:35:48Z","type":"Full","recoveryPointTierDetails":[{"type":2,"status":1}],"recoveryPointMoveReadinessInfo":{"ArchivedRP":{"isReadyForMove":false,"additionalInfo":"Recovery-Point
        having active dependencies for restore is not eligible for Archive Move. "}}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '297'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3Bclitest-rg-donotuse%3Bclitest-sql-secondary-donotuse/items?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20workloadItemType%20eq%20%27SQLInstance%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/SQLInstance;MSSQLSERVER","name":"SQLInstance;MSSQLSERVER","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/items","properties":{"dataDirectoryPaths":[{"type":"Data","path":"F:\\data\\"},{"type":"Log","path":"G:\\log\\"}],"parentName":"MSSQLSERVER","serverName":"clitest-sql-sec","isAutoProtectable":true,"subinquireditemcount":0,"subWorkloadItemCount":13,"backupManagementType":"AzureWorkload","workloadType":"SQL","workloadItemType":"SQLInstance","friendlyName":"MSSQLSERVER","protectionState":"NotProtected"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-0000000000[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionContainers?api-version=2021-10-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault?api-version=2021-03-01
  response:
    body:
      string: '{"location":"centraluseuap","name":"sql-clitest-vault","etag":"W/\"datetime''2021-07-13T07%3A37%3A46.89829Z''\"","tags":{"Owner":"akneema","Purpose":"CLITest","MABUsed":"Yes","DeleteBy":"12-9999"},"properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupAadProperties?api-version=2018-12-20&$filter=backupManagementType%20eq%20%27AzureWorkload%27
  response:
    body:
      string: '{"properties":{"tenantId":"33e01921-4d64-4f8c-a055-5bdaffd5e33d","audience":"https://RecoveryServices/WkloadCoord/aadmgmt/ecy","servicePrincipalObjectId":"1b8029ee-c6a9-4e01-a52b-5bb44807b831"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"tenantId": "33e01921-4d64-4f8c-a055-5bdaffd5e33d", "audience":
      "https://RecoveryServices/WkloadCoord/aadmgmt/ecy", "servicePrincipalObjectId":
      "1b8029ee-c6a9-4e01-a52b-5bb44807b831"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bsql-clitest-rg%3Bsql-clitest-vm/protectedItems/SQLDataBase%3Bmssqlserver%3Bmsdb/recoveryPoints/58227634260295/accessToken?api-version=2018-12-20
  response:
    body:
      string: '{"properties":{"protectableObjectUniqueName":"MSSQLSERVER/msdb","protectableObjectFriendlyName":"msdb","protectableObjectWorkloadType":"SQL","protectableObjectProtectionState":"Protected","protectableObjectContainerHostOsName":"sql-clitest-vm","protectableObjectParentLogicalContainerName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.Compute/virtualMachines/sql-clitest-vm","containerId":"53569","policyName":"sql-clitest-policy","policyId":"f2217b85-4c4c-478d-a865-839e6ae165df","objectType":"WorkloadCrrAccessToken","accessTokenString":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkhjLXVjS285Z2JxNTZOeTRoWFp5M0lrZ3JvMCJ9.eyJVc2VySWRlbnRpdHlUeXBlIjoiQUFEIiwiQWFkVGVuYW50SWQiOiIzM2UwMTkyMS00ZDY0LTRmOGMtYTA1NS01YmRhZmZkNWUzM2QiLCJBYWRTUE9iamVjdElkIjoiMWI4MDI5ZWUtYzZhOS00ZTAxLWE1MmItNWJiNDQ4MDdiODMxIiwiUGl0UGVybWlzc2lvbnMiOiJSZWFkIiwiQmFja3VwVmF1bHRJRCI6IjI1NzkxMDU4MDY4MjY0NTUwMjYiLCJDb250YWluZXJJRCI6IjUzNTY5IiwiRGF0YXNvdXJjZUlEIjoiMTc1OTI5MTYyNDYwOTkiLCJQaXRJRCI6IjU4MjI3NjM0MjYwMjk1IiwiaXNzaWQiOiJhMTcxZjBmZS0xMDQwLTRiMmQtODNjZC05MDYyOGViYmUwOGUiLCJodHRwOi8vc2NoZW1hcy53aW5kb3dzY2xvdWRiYWNrdXAuY29tLzIwMTAvMTAvaWRlbnRpdHkvY2xhaW1zL3Jlc291cmNlaWQiOiIyNTc5MTA1ODA2ODI2NDU1MDI2IiwiaHR0cDovL3NjaGVtYXMud2luZG93c2Nsb3VkYmFja3VwLmNvbS8yMDEwLzEwL2lkZW50aXR5L2NsYWltcy9jb250YWluZXJpZCI6IjUzNTY5IiwiaXNzIjoiaHR0cDovL21pY3Jvc29mdC5kYXRhcHJvdGVjdGlvbi9pc3N1ZXJzL2ExNzFmMGZlLTEwNDAtNGIyZC04M2NkLTkwNjI4ZWJiZTA4ZSIsImF1ZCI6Imh0dHA6Ly9taWNyb3NvZnQuZGF0YXByb3RlY3Rpb24vUHJvdGVjdGlvblNlcnZpY2UiLCJleHAiOjE2NDAxMDY2MDgsIm5iZiI6MTY0MDAxOTkwOH0.pknJ1S6yL-kLnmdCpkIwN-NRTKD6qGnHe4PqMXPno_9LkwaHzD9Q2k8arbuOXG9l5mNXNf4M7MuoDrLfBSRJPJWJ-53uxlnFHum2A8S8i2FKiWe8W4T9QF2g11oFFtcIBapuU4qa1CvF3S0oxMfSfHpwLDHMH9Mf7Og4I0x6gXwYXN_9q011ij_7p9jjPtZBWI5FjpUO0k4ZmX2f1E0kGj-uyR16lhTtB_gegfE8g7v5gLAueXAtLy5jErgP0sTiIMQB_ZH87_p-9vt-ER38anCBm5uXGJG2fhepc8YyCiVPs1X2DZPvK7c3UxPO0AXu_MAx46nlS2bSDJI8b8Iglw","subscriptionId":"38304e13-357e-405e-9e9a-220351dcce8c","resourceGroupName":"sql-clitest-rg","resourceName":"sql-clitest-vault","resourceId":"2579105806826455026","protectionContainerId":53569,"recoveryPointId":"58227634260295","recoveryPointTime":"12/19/2021
        7:35:48 PM","containerName":"Compute;sql-clitest-rg;sql-clitest-vm","containerType":"VMAppContainer","backupManagementType":"AzureWorkload","datasourceType":"SQLDataBase","datasourceName":"msdb","datasourceId":"17592916246099","datasourceContainerName":"compute;sql-clitest-rg;sql-clitest-vm","coordinatorServiceStampId":"6367f474-c521-46cb-8bdb-b4daa8888f1e","coordinatorServiceStampUri":"https://pod01-wbcm1.ccy.backup.windowsazure.com","protectionServiceStampId":"90d98224-2ac6-4bda-9f35-33fb22841f2a","protectionServiceStampUri":"https://pod01-prot1-int.ccy.backup.windowsazure.com","rpOriginalSAOption":false,"rpIsManagedVirtualMachine":false,"bMSActiveRegion":"CentralUSEUAP"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"crossRegionRestoreAccessDetails": {"objectType": "WorkloadCrrAccessToken",
      "accessTokenString": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkhjLXVjS285Z2JxNTZOeTRoWFp5M0lrZ3JvMCJ9.eyJVc2VySWRlbnRpdHlUeXBlIjoiQUFEIiwiQWFkVGVuYW50SWQiOiIzM2UwMTkyMS00ZDY0LTRmOGMtYTA1NS01YmRhZmZkNWUzM2QiLCJBYWRTUE9iamVjdElkIjoiMWI4MDI5ZWUtYzZhOS00ZTAxLWE1MmItNWJiNDQ4MDdiODMxIiwiUGl0UGVybWlzc2lvbnMiOiJSZWFkIiwiQmFja3VwVmF1bHRJRCI6IjI1NzkxMDU4MDY4MjY0NTUwMjYiLCJDb250YWluZXJJRCI6IjUzNTY5IiwiRGF0YXNvdXJjZUlEIjoiMTc1OTI5MTYyNDYwOTkiLCJQaXRJRCI6I[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjthNzUwYTU3MS0yNDYzLTQwZTAtODliYS02OTI4NGIyZmM2YWE%3D?api-version=2018-12-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjthNzUwYTU3MS0yNDYzLTQwZTAtODliYS02OTI4NGIyZmM2YWE=","name":"MjU3OTEwNTgwNjgyNjQ1NTAyNjthNzUwYTU3MS0yNDYzLTQwZTAtODliYS02OTI4NGIyZmM2YWE=","status":"Succeeded","startTime":"2021-12-20T17:10:10.567066Z","endTime":"2021-12-20T17:10:10Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"6b7e36c2-ac3d-40d8-8ac6-3e0ecb9c8480"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault",
      "jobName": "6b7e36c2-ac3d-40d8-8ac6-3e0ecb9c8480"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrJob?api-version=2018-12-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupJobs/6b7e36c2-ac3d-40d8-8ac6-3e0ecb9c8480","name":"6b7e36c2-ac3d-40d8-8ac6-3e0ecb9c8480","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SQLDataBase","duration":"PT12.9986403S","extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"InProgress"}],"propertyBag":{"Job Type":"Recovery
        to an alternate database","Original VM Name":"sql-clitest-vm","Target VM Name":"clitest-sql-secondary-donotuse","Target
        resource group":"clitest-rg-donotuse","Subscription Id of the vault":"38304e13-357e-405e-9e9a-220351dcce8c","Resource
        Group Name of the vault":"sql-clitest-rg","Vault name":"sql-clitest-vault","Resource
        Group Name of the target vault":"clitest-rg-donotuse","Target vault name":"clitest-vault-secondary-donotuse"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitest-vm]","backupManagementType":"AzureWorkload","operation":"CrossRegionRestore","status":"InProgress","startTime":"2021-12-20T17:10:10.7918696Z","activityId":"a86de236-61b7-11ec-a8b8-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sql-clitest-rg/providers/Microsoft.RecoveryServices/vaults/sql-clitest-vault",
      "jobName": "6b7e36c2-ac3d-40d8-8ac6-3e0ecb9c8480"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrJob?api-version=2018-12-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupJobs/6b7e36c2-ac3d-40d8-8ac6-3e0ecb9c8480","name":"6b7e36c2-ac3d-40d8-8ac6-3e0ecb9c8480","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","actionsInfo":[1],"workloadType":"SQLDataBase","duration":"PT10M35.6398553S","errorDetails":[{"errorCode":510011,"errorString":"Restore
        has failed due to an unknown error.","errorTitle":"WorkloadRestoreFailed","recommendations":["Wait
        for a few minutes and then try the operation again. If the issue persists,
        please contact Microsoft support."]}],"extendedInfo":{"tasksList":[{"taskId":"Transfer
        data from vault","status":"Failed"}],"propertyBag":{"Data Transferred (in
        MB)":"0","Job Type":"Recovery to an alternate database","RestoreDestination":"clitest-sql-sec/MSSQLSERVER/msdb_restored","Original
        VM Name":"sql-clitest-vm","Target VM Name":"clitest-sql-secondary-donotuse","Target
        resource group":"clitest-rg-donotuse","Subscription Id of the vault":"38304e13-357e-405e-9e9a-220351dcce8c","Resource
        Group Name of the vault":"sql-clitest-rg","Vault name":"sql-clitest-vault","Resource
        Group Name of the target vault":"clitest-rg-donotuse","Target vault name":"clitest-vault-secondary-donotuse"}},"isUserTriggered":true,"entityFriendlyName":"msdb
        [sql-clitest-vm]","backupManagementType":"AzureWorkload","operation":"CrossRegionRestore","status":"Failed","startTime":"2021-12-20T17:10:10.7918696Z","endTime":"2021-12-20T17:20:46.4317249Z","activityId":"a86de236-61b7-11ec-a8b8-c8f750f92764"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1173'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjthMWVkMzU0MS0zMGFiLTQzMDctOWVjZi0yZjNjY2YwZTk5NzI%3D?api-version=2018-12-20
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/MjU3OTEwNTgwNjgyNjQ1NTAyNjthMWVkMzU0MS0zMGFiLTQzMDctOWVjZi0yZjNjY2YwZTk5NzI=","name":"MjU3OTEwNTgwNjgyNjQ1NTAyNjthMWVkMzU0MS0zMGFiLTQzMDctOWVjZi0yZjNjY2YwZTk5NzI=","status":"Succeeded","startTime":"2021-12-20T17:21:58.0234901Z","endTime":"2021-12-20T17:21:58Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"a189da13-e440-4769-b89e-d345adaceef3"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
