interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-11-20T23:14:17.6213918Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-11-20T23:14:17.6213918Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 20 Nov 2023 23:14:38 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1E7820F87F"'
      last-modified:
      - Mon, 20 Nov 2023 23:14:38 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Archive
      x-ms-date:
      - Mon, 20 Nov 2023 23:14:39 GMT
      x-ms-rehydrate-priority:
      - Standard
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/src?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 20 Nov 2023 23:14:39 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/src
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DBEA1E786EDFF4"'
      last-modified:
      - Mon, 20 Nov 2023 23:14:39 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Mon, 20 Nov 2023 23:14:39 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 20 Nov 2023 23:14:39 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Cool
      x-ms-copy-source:
      - https://clitest2cyisbsahwtzr6o3p.blob.core.windows.net/contm4d4xectzyejy54wm5s7/src
      x-ms-date:
      - Mon, 20 Nov 2023 23:14:39 GMT
      x-ms-rehydrate-priority:
      - High
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/dst
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1E78F3598D"'
      last-modified:
      - Mon, 20 Nov 2023 23:14:40 GMT
      x-ms-copy-id:
      - fe77f629-0471-4721-8402-dc32c7820a26
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2022-11-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 20 Nov 2023 23:14:40 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/dst
  response:
    body:
      string: ''
    headers:
      content-md5:
      - zjOP5omXeKrPwoQU8tlJiw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DBEA1E78F3598D"'
      last-modified:
      - Mon, 20 Nov 2023 23:14:40 GMT
      x-ms-access-tier:
      - Archive
      x-ms-access-tier-change-time:
      - Mon, 20 Nov 2023 23:14:40 GMT
      x-ms-archive-status:
      - rehydrate-pending-to-cool
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Mon, 20 Nov 2023 23:14:40 GMT
      x-ms-copy-id:
      - fe77f629-0471-4721-8402-dc32c7820a26
      x-ms-copy-progress:
      - 16384/16384
      x-ms-copy-source:
      - https://clitest2cyisbsahwtzr6o3p.blob.core.windows.net/contm4d4xectzyejy54wm5s7/src
      x-ms-copy-status:
      - success
      x-ms-copy-status-description:
      - pending
      x-ms-creation-time:
      - Mon, 20 Nov 2023 23:14:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-rehydrate-priority:
      - High
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
version: 1
