interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-11-18T05:40:02.8661435Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-11-18T05:40:02.8661435Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Nov 2022 05:40:25 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/mycontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DAC9276483137F"'
      last-modified:
      - Fri, 18 Nov 2022 05:40:25 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"policy": {"enabled": true, "type": "Inventory", "rules":
      [{"enabled": true, "name": "inventoryPolicyRule1", "destination": "mycontainer",
      "definition": {"format": "Parquet", "schedule": "Weekly", "objectType": "Container",
      "schemaFields": ["Name", "Last-Modified", "Metadata", "LeaseStatus", "LeaseState",
      "LeaseDuration", "PublicAccess", "HasImmutabilityPolicy", "HasLegalHold"]}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/inventoryPolicies/default?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/inventoryPolicies/default","name":"DefaultInventoryPolicy","type":"Microsoft.Storage/storageAccounts/inventoryPolicies","properties":{"lastModifiedTime":"2022-11-18T05:40:25.7727661Z","policy":{"enabled":true,"type":"Inventory","rules":[{"destination":"mycontainer","enabled":true,"name":"inventoryPolicyRule1","definition":{"format":"Parquet","schedule":"Weekly","objectType":"Container","schemaFields":["Name","Last-Modified","Metadata","LeaseStatus","LeaseState","LeaseDuration","PublicAccess","HasImmutabilityPolicy","HasLegalHold"]}}]}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default?api-version=2022-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"cors": {"corsRules": []}, "deleteRetentionPolicy": {"enabled":
      false, "allowPermanentDelete": false}, "isVersioningEnabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false},"isVersioningEnabled":true}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"policy": {"enabled": true, "type": "Inventory", "rules":
      [{"enabled": true, "name": "inventoryPolicyRule2", "destination": "mycontainer",
      "definition": {"filters": {"prefixMatch": ["inventoryprefix1", "inventoryprefix2"],
      "blobTypes": ["blockBlob"], "includeBlobVersions": true, "includeSnapshots":
      true}, "format": "Csv", "schedule": "Daily", "objectType": "Blob", "schemaFields":
      ["Name", "Creation-Time", "Last-Modified", "Content-Length", "Content-MD5",
      "BlobType", "AccessTier", "AccessTierChangeTime", "Snapshot", "VersionId", "IsCurrentVersion",
      "Metadata"]}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_blob_inventory000001/providers/Microsoft.Storage/storageAccounts/clitest000002/inventoryPolicies/default?api-version=2022-09-01
  response:
    body:
      string: '{"error":{"code":"BlobInventoryPolicyNotFound","message":"Blob inventory
        policy does not exist for the storage account."}}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"policy": {"enabled": true, "type": "Inventory", "rules":
      [{"enabled": true, "name": "newfieldsblob", "destination": "mycontainer", "definition":
      {"filters": {"prefixMatch": ["abc"], "excludePrefix": ["ac"], "blobTypes": ["blockBlob",
      "appendBlob", "pageBlob"], "includeBlobVersions": true, "includeSnapshots":
      true, "includeDeleted": true}, "format": "Csv", "schedule": "Daily", "objectType":
      "Blob", "schemaFields": ["Name", "Creation-Time", "Last-Modified", "ETag", "Content-Length",
      "Content-Type", "Content-Encoding", "Content-Language", "Content-CRC64", "Content-MD5",
      "Cache-Control", "Content-Disposition", "BlobType", "AccessTier", "AccessTierChangeTime",
      "AccessTierInferred", "LeaseStatus", "LeaseState", "LeaseDuration", "ServerEncrypted",
      "CustomerProvidedKeySha256", "RehydratePriority", "A[...]
