interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-04-22T07:13:23.2978609Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-04-22T07:13:23.2978609Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 22 Apr 2022 07:13:44 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA242FA3E2B343"'
      last-modified:
      - Fri, 22 Apr 2022 07:13:45 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 22 Apr 2022 07:13:45 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/testdir%2Fsubdir?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA242FA4E1B435"'
      last-modified:
      - Fri, 22 Apr 2022 07:13:47 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2022-04-22T07:13:47Z</Start><Expiry>2022-04-22T08:13:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 22 Apr 2022 07:13:47 GMT
      x-ms-version:
      - '2020-10-02'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>fe87037c-4c23-46ac-9fcf-5ad3d7e5ba3e</SignedOid><SignedTid>54826b22-38d6-4fb2-bad9-b7b93a3e9c5a</SignedTid><SignedStart>2022-04-22T07:13:47Z</SignedStart><SignedExpiry>2022-04-22T08:13:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2020-10-02</SignedVersion><Value>kTQDz/KnUpSKnoKAl3k84AO826kzce+9N6KUiViKBlA=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
version: 1
