interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-02-20T14:51:51.8119124Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-02-20T14:51:51.8119124Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11983'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 14:52:19 GMT
      x-ms-version:
      - '2024-08-04'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BE2D8C4D19"'
      last-modified:
      - Thu, 20 Feb 2025 14:52:20 GMT
      x-ms-version:
      - '2024-08-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '131072'
      x-ms-content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      x-ms-date:
      - Thu, 20 Feb 2025 14:52:20 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2024-08-04'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/file000004.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD51BE2E7638C6"'
      last-modified:
      - Thu, 20 Feb 2025 14:52:22 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-02-20T14:52:22.1614278Z'
      x-ms-file-creation-time:
      - '2025-02-20T14:52:22.1614278Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-02-20T14:52:22.1614278Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 7740373722776813936*14108577663564950014
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-08-04'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 20 Feb 2025 14:52:23 GMT
      x-ms-version:
      - '2024-08-04'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/file000004.txt
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DD51BE2F1B5C38"'
      last-modified:
      - Thu, 20 Feb 2025 14:52:23 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-02-20T14:52:23.2436792Z'
      x-ms-file-creation-time:
      - '2025-02-20T14:52:22.1614278Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-02-20T14:52:23.2436792Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 7740373722776813936*14108577663564950014
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2024-08-04'
    status:
      code: 200
      message: OK
version: 1
