interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-11-20T23:18:20.8467325Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-11-20T23:18:20.8467325Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 20 Nov 2023 23:18:40 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1F08AD9E9D"'
      last-modified:
      - Mon, 20 Nov 2023 23:18:41 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 20 Nov 2023 23:18:41 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1F0943E79A"'
      last-modified:
      - Mon, 20 Nov 2023 23:18:42 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2023-11-20T23:18:42.3388058Z'
      x-ms-file-creation-time:
      - '2023-11-20T23:18:42.3388058Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2023-11-20T23:18:42.3388058Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 13569331522217764425*15318102650119483840
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Mon, 20 Nov 2023 23:18:42 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1F09DD7F48"'
      last-modified:
      - Mon, 20 Nov 2023 23:18:43 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2023-11-20T23:18:43.3453896Z'
      x-ms-file-creation-time:
      - '2023-11-20T23:18:43.3453896Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2023-11-20T23:18:43.3453896Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 8949845919755049294*15318102650119483840
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
