interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares"}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DBEA1ED852A5A7"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"metadata": {"k1": "v1"}, "shareQuota": 10, "enabledProtocols":
      "SMB", "rootSquash": "AllSquash", "accessTier": "Hot"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?$expand=snapshots&api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"accessTier":"Hot","snapshotTime":"2023-11-20T23:17:20.0000000Z","metadata":{"k1":"v1"},"shareQuota":10,"enabledProtocols":"SMB","rootSquash":"AllSquash"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-snapshot:
      - '2023-11-20T23:17:20.0000000Z'
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DBEA1ED8300000\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"accessTier":"TransactionOptimized","accessTierChangeTime":"2023-11-20T23:17:19.0000000Z","snapshotTime":"2023-11-20T23:17:20.0000000Z","metadata":{"k1":"v1"},"lastModifiedTime":"2023-11-20T23:17:20.0000000Z","shareQuota":5120}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DBEA1ED8300000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?api-version=2022-09-01&$expand=snapshots
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DBEA1ED8300000\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","snapshotTime":"2023-11-20T23:17:20.0000000Z","lastModifiedTime":"2023-11-20T23:17:20.0000000Z","shareQuota":5120,"enabledProtocols":"SMB"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DBEA1ED852A5A7\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","accessTierChangeTime":"2023-11-20T23:17:19.0000000Z","lastModifiedTime":"2023-11-20T23:17:20.0000000Z","shareQuota":5120,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2022-09-01&$include=none
  response:
    body:
      string: '{"error":{"code":"ShareHasSnapshots","message":"The share has snapshots
        and the operation requires no snapshots.\nRequestId:c4eefdde-601a-004f-0707-1c91aa000000\nTime:2023-11-20T23:17:22.6729545Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?api-version=2022-09-01&$expand=deleted%2Csnapshots
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DBEA1ED852A5A7\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","accessTierChangeTime":"2023-11-20T23:17:19.0000000Z","lastModifiedTime":"2023-11-20T23:17:20.0000000Z","shareQuota":5120,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?api-version=2022-09-01&$expand=deleted%2Csnapshots
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003_01DA1C07B5BADC3D","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DBEA1ED852A5A7\"","properties":{"leaseStatus":"unlocked","leaseState":"broken","version":"01DA1C07B5BADC3D","deleted":true,"deletedTime":"2023-11-20T23:17:24.0000000Z","remainingRetentionDays":7,"accessTier":"TransactionOptimized","accessTierChangeTime":"2023-11-20T23:17:19.0000000Z","lastModifiedTime":"2023-11-20T23:17:20.0000000Z","shareQuota":5120,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
