interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-12-11T08:09:08.8375120Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-12-11T08:09:08.8375120Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Dec 2025 08:09:44 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE388CA5746376"'
      last-modified:
      - Thu, 11 Dec 2025 08:09:45 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-type:
      - application/json
      x-ms-date:
      - Thu, 11 Dec 2025 08:09:45 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000004?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE388CA64E6B90"'
      last-modified:
      - Thu, 11 Dec 2025 08:09:46 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Dec 2025 08:09:47 GMT
      x-ms-expiry-option:
      - Absolute
      x-ms-expiry-time:
      - Thu, 11 Dec 2025 08:09:52 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000004?comp=expiry
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE388CA64E6B90"'
      last-modified:
      - Thu, 11 Dec 2025 08:09:46 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Dec 2025 08:09:48 GMT
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DE388CA64E6B90"'
      last-modified:
      - Thu, 11 Dec 2025 08:09:46 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 11 Dec 2025 08:09:46 GMT
      x-ms-expiry-time:
      - Thu, 11 Dec 2025 08:09:52 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Dec 2025 08:09:56 GMT
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 11 Dec 2025 08:10:07 GMT
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
version: 1
