interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares"}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D8EF5E4703AE85"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"metadata": {"k1": "v1"}, "shareQuota": 10, "enabledProtocols":
      "SMB", "rootSquash": "AllSquash", "accessTier": "Hot"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?$expand=snapshots&api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"accessTier":"Hot","snapshotTime":"2021-03-25T07:19:07.0000000Z","metadata":{"k1":"v1"},"shareQuota":10,"enabledProtocols":"SMB","rootSquash":"AllSquash"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-snapshot:
      - '2021-03-25T07:19:07.0000000Z'
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8D8EF5E4703AE85\"","properties":{"accessTier":"TransactionOptimized","snapshotTime":"2021-03-25T07:19:07.0000000Z","lastModifiedTime":"2021-03-25T07:19:07.0000000Z","shareQuota":5120}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D8EF5E4703AE85"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-snapshot:
      - '2021-03-25T07:19:07.0000000Z'
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2021-01-01
  response:
    body:
      string: '{"error":{"code":"ShareNotFound","message":"The specified share does
        not exist.\nRequestId:a668f789-b01a-0090-2f47-21ad08000000\nTime:2021-03-25T07:19:09.8757180Z"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
