interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2025-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGZRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitestz3wvuk5gywmo54ut7jx77luh2lwuji6c44q3oz627cwhkfvziarb2lpore4iwqr33dub/providers/Microsoft.Storage/storageAccounts/storage6s7tdr2f574uoh5aj","name":"storage6s7tdr2f574uoh5aj","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"keyCreationTime":{"key1":"2025-09-23T09:06:43.1359438Z","key2":"2025-09-23T09:06:43.1359438Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-23T09:06:43.1515707Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-09-23T09:06:43.1515707Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-09-23T09:06:42.9953196Z","primaryEndpoints":{"dfs":"https://storage6s7tdr2f574uoh5aj.dfs.core.windows.net/","web":"https://storage6s7tdr2f574uoh5aj.z20.web.core.windows.net/","blob":"https://storage6s7tdr2f574uoh5aj.blob.core.windows.net/","queue":"https://storage6s7tdr2f574uoh5aj.queue.core.windows.net/","table":"https://storage6s7tdr2f574uoh5aj.table.core.windows.net/","file":"https://storage6s7tdr2f574uoh5aj.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://storage6s7tdr2f574uoh5aj-secondary.dfs.core.windows.net/","web":"https://storage6s7tdr2f574uoh5aj-secondary.z20.web.core.windows.net/","blob":"https://storage6s7tdr2f574uoh5aj-secondary.blob.core.windows.net/","queue":"https://storage6s7tdr2f574uoh5aj-secondary.queue.core.windows.net/","table":"https://storage6s7tdr2f574uoh5aj-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-0000[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-09-23T09:07:10.6707052Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-09-23T09:07:10.6707052Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '798'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 23 Sep 2025 09:07:38 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container1?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDFA80A5A0B003"'
      last-modified:
      - Tue, 23 Sep 2025 09:07:39 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"immutabilityPeriodSinceCreationInDays": 1, "allowProtectedAppendWrites":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2025-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8ddfa80a6ad6fd7\"","properties":{"allowProtectedAppendWrites":true,"immutabilityPeriodSinceCreationInDays":1,"state":"Unlocked"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8ddfa80a6ad6fd7"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8ddfa80a6ad6fd7"'
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2025-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8ddfa80ab1790f2\"","properties":{"immutabilityPeriodSinceCreationInDays":0,"state":"Deleted"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8ddfa80ab1790f2"'
      x-ms-ratelimit-remaining-subscription-deletes:
      - '198'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8ddfa80ad241981"'
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default/lock?api-version=2025-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8ddfa80af18ca39\"","properties":{"allowProtectedAppendWrites":false,"immutabilityPeriodSinceCreationInDays":1,"state":"Locked"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8ddfa80af18ca39"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8ddfa80af18ca39"'
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default?api-version=2025-01-01
  response:
    body:
      string: '{"error":{"code":"ContainerImmutabilityPolicyFailure","message":"Operation
        not allowed on immutability policy with current state."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 409
      message: Conflict
- request:
    body: '{"properties": {"immutabilityPeriodSinceCreationInDays": 2}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"8ddfa80af18ca39"'
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default/extend?api-version=2025-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1/immutabilityPolicies/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies","etag":"\"8ddfa80b2246f6c\"","properties":{"allowProtectedAppendWrites":false,"immutabilityPeriodSinceCreationInDays":2,"state":"Locked"}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"8ddfa80b2246f6c"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/blobServices/default/containers/container1?api-version=2025-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
version: 1
