interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-04-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-07-08T07:25:39.4093793Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-07-08T07:25:39.4093793Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 08 Jul 2021 07:26:00 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D941E1A4F39400"'
      last-modified:
      - Thu, 08 Jul 2021 07:26:04 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
version: 1
