interactions:
- request:
    body: '{"name": "sastdlrs000002", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2024-01-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "StandardV2_LRS"}, "kind": "FileStorage", "location":
      "eastus2euap", "properties": {"encryption": {"services": {"blob": {}}, "keySource":
      "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002?api-version=2024-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/6f89ecdc-7394-452c-bc38-641f2d1eb8cf?monitor=true&api-version=2024-01-01&t=638760193113585399&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MTI1MTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/6f89ecdc-7394-452c-bc38-641f2d1eb8cf?monitor=true&api-version=2024-01-01&t=638760193113585399&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/6f89ecdc-7394-452c-bc38-641f2d1eb8cf?monitor=true&api-version=2024-01-01&t=638760193123513136&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MT[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000003?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"provisionedIops":1007,"provisionedBandwidthMibps":61,"includedBurstIops":5000,"maxBurstCreditsForIops":14374800,"nextAllowedQuotaDowngradeTime":"Mon,
        24 Feb 2025 18:42:12 GMT","nextAllowedProvisionedIopsDowngradeTime":"Mon,
        24 Feb 2025 18:42:12 GMT","nextAllowedProvisionedBandwidthDowngradeTime":"Mon,
        24 Feb 2025 18:42:12 GMT","shareQuota":32}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DD5502F3EADF71"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000004?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000004","name":"share000004","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DD5502F5679607\"","properties":{"provisionedIops":500,"provisionedBandwidthMibps":60,"includedBurstIops":5000,"maxBurstCreditsForIops":16200000,"nextAllowedQuotaDowngradeTime":"Mon,
        24 Feb 2025 18:42:15 GMT","nextAllowedProvisionedIopsDowngradeTime":"Mon,
        24 Feb 2025 18:42:15 GMT","nextAllowedProvisionedBandwidthDowngradeTime":"Mon,
        24 Feb 2025 18:42:15 GMT","leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"lastModifiedTime":"2025-02-24T18:42:15.0000000Z","shareQuota":32}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DD5502F5679607"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/usages/default?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/usages/default","name":"default","type":"Microsoft.Storage/storageAccounts/fileServices/usages","properties":{"storageAccountLimits":{"maxFileShares":50,"maxProvisionedStorageGiB":4194304,"maxProvisionedIOPS":50000,"maxProvisionedBandwidthMiBPerSec":5120},"fileShareLimits":{"minProvisionedStorageGiB":32,"maxProvisionedStorageGiB":262144,"minProvisionedIOPS":500,"maxProvisionedIOPS":50000,"minProvisionedBandwidthMiBPerSec":60,"maxProvisionedBandwidthMiBPerSec":5120},"fileShareRecommendations":{"baseIOPS":1000,"ioScalar":0.2,"baseBandwidthMiBPerSec":60,"bandwidthScalar":0.02},"burstingConstants":{"burstFloorIOPS":5000,"burstIOScalar":3.0,"burstTimeframeSeconds":3600},"storageAccountUsage":{"liveShares":{"fileShareCount":0,"provisionedStorageGiB":0,"provisionedIOPS":0,"provisionedBandwidthMiBPerSec":0},"softDeletedShares":{"fileShareCount":0,"provisionedStorageGiB":0,"provisionedIOPS":0,"provisionedBandwidthMiBPerSec":0}}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DD5502F3EADF71\"","properties":{"provisionedIops":1007,"provisionedBandwidthMibps":61,"includedBurstIops":5000,"maxBurstCreditsForIops":14374800,"nextAllowedQuotaDowngradeTime":"Mon,
        24 Feb 2025 18:42:12 GMT","nextAllowedProvisionedIopsDowngradeTime":"Mon,
        24 Feb 2025 18:42:12 GMT","nextAllowedProvisionedBandwidthDowngradeTime":"Mon,
        24 Feb 2025 18:42:12 GMT","leaseStatus":"unlocked","leaseState":"available","lastModifiedTime":"2025-02-24T18:42:12.0000000Z","shareQuota":32,"enabledProtocols":"SMB"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000004","name":"share000004","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DD5502F855EC23\"","properties":{"provisionedIops":600,"provisionedBandwidthMibps":70,"includedBurstIops":5000,"maxBurstCreditsForIops":15840000,"nextAllowedQuotaDowngradeTime":"Mon,
        24 Feb 2025 18:42:15 GMT","nextAllowedProvisionedIopsDowngradeTime":"Mon,
        24 Feb 2025 18:42:15 GMT","nextAllowedProvisionedBandwidthDowngradeTime":"Mon,
        24 Feb 2025 18:42:15 GMT","leaseStatus":"unlocked","leaseState":"available","lastModifiedTime":"2025-02-24T18:42:20.0000000Z","shareQuota":32,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000004?$include=none&api-version=2024-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '2999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares?api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli000001/providers/Microsoft.Storage/storageAccounts/sastdlrs000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DD5502F3EADF71\"","properties":{"provisionedIops":1007,"provisionedBandwidthMibps":61,"includedBurstIops":5000,"maxBurstCreditsForIops":14374800,"nextAllowedQuotaDowngradeTime":"Mon,
        24 Feb 2025 18:42:12 GMT","nextAllowedProvisionedIopsDowngradeTime":"Mon,
        24 Feb 2025 18:42:12 GMT","nextAllowedProvisionedBandwidthDowngradeTime":"Mon,
        24 Feb 2025 18:42:12 GMT","leaseStatus":"unlocked","leaseState":"available","lastModifiedTime":"2025-02-24T18:42:12.0000000Z","shareQuota":32,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
version: 1
