interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-05-25T02:12:24.8290071Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-05-25T02:12:24.8290071Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:12:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF410A12F33"'
      last-modified:
      - Wed, 25 May 2022 02:12:48 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:12:48 GMT
      x-ms-meta:
      - '{''foo'': ''bar'', ''cat'': ''hat''}'
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF411681893"'
      last-modified:
      - Wed, 25 May 2022 02:12:49 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:12:49 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF410A12F33"'
      last-modified:
      - Wed, 25 May 2022 02:12:48 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-share-quota:
      - '5120'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:12:52 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://clitest000002.file.core.windows.net/?maxresults=5000&include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\"><MaxResults>5000</MaxResults><Shares><Share><Name>share000003</Name><Properties><Last-Modified>Wed,
        25 May 2022 02:12:48 GMT</Last-Modified><Etag>\"0x8DA3DF410A12F33\"</Etag><Quota>5120</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share000004</Name><Properties><Last-Modified>Wed,
        25 May 2022 02:12:49 GMT</Last-Modified><Etag>\"0x8DA3DF411681893\"</Etag><Quota>5120</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:12:54 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF415058587"'
      last-modified:
      - Wed, 25 May 2022 02:12:56 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:00 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF418899602"'
      last-modified:
      - Wed, 25 May 2022 02:13:01 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Wed, 25 May 2022 02:13:03 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF41A3A0A52"'
      last-modified:
      - Wed, 25 May 2022 02:13:04 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA3DF41AD2FF69"'
      last-modified:
      - Wed, 25 May 2022 02:13:05 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:06 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:11 GMT
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"
    headers:
      content-range:
      - bytes 0-511/131072
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA3DF41AD2FF69"'
      last-modified:
      - Wed, 25 May 2022 02:13:05 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1234'
      x-ms-date:
      - Wed, 25 May 2022 02:13:12 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF4200AE52A"'
      last-modified:
      - Wed, 25 May 2022 02:13:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:15 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF422F0F56B"'
      last-modified:
      - Wed, 25 May 2022 02:13:19 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:24 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><MaxResults>5000</MaxResults><Entries><File><Name>sample_file.bin</Name><Properties><Content-Length>1234</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-type:
      - test/type
      x-ms-date:
      - Wed, 25 May 2022 02:13:27 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF428B4B2C3"'
      last-modified:
      - Wed, 25 May 2022 02:13:29 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:31 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:33 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF42C2784DF"'
      last-modified:
      - Wed, 25 May 2022 02:13:34 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:34 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><Entries><Directory><Name>dir000005</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:37 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF42E708214"'
      last-modified:
      - Wed, 25 May 2022 02:13:38 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '65536'
      x-ms-date:
      - Wed, 25 May 2022 02:13:44 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005/testfile.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA3DF432983185"'
      last-modified:
      - Wed, 25 May 2022 02:13:45 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:49 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"dir000005\"><MaxResults>5000</MaxResults><Entries><File><Name>testfile.txt</Name><Properties><Content-Length>65536</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:51 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><ShareStats><ShareUsageBytes>65536</ShareUsageBytes></ShareStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:56 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/testfile.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:13:59 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:c7c9f8a1-901a-0016-2fdd-6f230b000000\nTime:2022-05-25T02:14:01.2564025Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 25 May 2022 02:14:04 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 202
      message: Accepted
version: 1
