interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/storage000002/listKeys?api-version=2023-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-07-06T03:39:03.9034920Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-07-06T03:39:03.9034920Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11984'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:26 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB7DD299B81B7C"'
      last-modified:
      - Thu, 06 Jul 2023 03:39:27 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:30 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Properties><Creation-Time>Thu,
        06 Jul 2023 03:39:30 GMT</Creation-Time><Last-Modified>Thu, 06 Jul 2023 03:39:30
        GMT</Last-Modified><Etag>0x8DB7DD29B34EB60</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:31 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://storage000002.blob.core.windows.net/con000003/dir/blob000004?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB7DD29B34EB60"'
      last-modified:
      - Thu, 06 Jul 2023 03:39:30 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2023-07-06T03:39:33.0072348Z'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:33 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000&include=snapshots
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Snapshot>2023-07-06T03:39:33.0072348Z</Snapshot><Properties><Creation-Time>Thu,
        06 Jul 2023 03:39:30 GMT</Creation-Time><Last-Modified>Thu, 06 Jul 2023 03:39:30
        GMT</Last-Modified><Etag>0x8DB7DD29B34EB60</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobTy[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:34 GMT
      x-ms-meta-test:
      - '1'
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://storage000002.blob.core.windows.net/con000003/dir/blob000004?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DB7DD29E642CCB"'
      last-modified:
      - Thu, 06 Jul 2023 03:39:35 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:35 GMT
      x-ms-version:
      - '2022-11-02'
    method: HEAD
    uri: https://storage000002.blob.core.windows.net/con000003/dir/blob000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DB7DD29E642CCB"'
      last-modified:
      - Thu, 06 Jul 2023 03:39:35 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 06 Jul 2023 03:39:30 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-test:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:37 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000&include=metadata
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Properties><Creation-Time>Thu,
        06 Jul 2023 03:39:30 GMT</Creation-Time><Last-Modified>Thu, 06 Jul 2023 03:39:35
        GMT</Last-Modified><Etag>0x8DB7DD29E642CCB</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><test>1</test></Metadata><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:45 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&marker=2%2196%21MDAwMDI4IWRpci9ibG9iejI3N3YydnlzaXhidnBzYmRydWQhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><Marker>2!96!MDAwMDI4IWRpci9ibG9iejI3N3YydnlzaXhidnBzYmRydWQhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh</Marker><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000004</Name><Properties><Creation-Time>Thu,
        06 Jul 2023 03:39:30 GMT</Creation-Time><Last-Modified>Thu, 06 Jul 2023 03:39:35
        GMT</Last-Modified><Etag>0x8DB7DD29E642CCB</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:46 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&prefix=dir%2F&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><Prefix>dir/</Prefix><MaxResults>5000</MaxResults><Blobs><Blob><Name>dir/blob000005</Name><Properties><Creation-Time>Thu,
        06 Jul 2023 03:39:40 GMT</Creation-Time><Last-Modified>Thu, 06 Jul 2023 03:39:40
        GMT</Last-Modified><Etag>0x8DB7DD2A153FDB0</Etag><Content-Length>131072</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>DfvoqkwgtS4bi/PLbL3xkw==</Content-MD5><Cache-Control
        /><Conten[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:47 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&delimiter=%2F&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>dir/</Name></BlobPrefix></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:49 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002.blob.core.windows.net/con000003?restype=container&comp=list&delimiter=ir&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storage000002.blob.core.windows.net/\" ContainerName=\"con000003\"><MaxResults>5000</MaxResults><Delimiter>ir</Delimiter><Blobs><BlobPrefix><Name>dir</Name></BlobPrefix></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Jul 2023 03:39:55 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://storage000002-secondary.blob.core.windows.net/con000003?restype=container&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:1b13045a-e01e-0076-31bb-afe252000000\nTime:2023-07-06T03:39:56.5091560Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2022-11-02'
    status:
      code: 404
      message: The specified container does not exist.
[...]
