interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 22 Sep 2025 05:20:10 GMT
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF997B44BA4F7"'
      last-modified:
      - Mon, 22 Sep 2025 05:20:11 GMT
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '87'
      x-ms-date:
      - Mon, 22 Sep 2025 05:20:11 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/readme
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF997B4FB967A"'
      last-modified:
      - Mon, 22 Sep 2025 05:20:12 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T05:20:12.8243322Z'
      x-ms-file-creation-time:
      - '2025-09-22T05:20:12.8243322Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-09-22T05:20:12.8243322Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 5353504018412869497*16351338570168795127
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:20:12 GMT
      x-ms-range:
      - bytes=0-86
      x-ms-version:
      - '2025-05-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/readme?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8DDF997B64C4F7A"'
      last-modified:
      - Mon, 22 Sep 2025 05:20:15 GMT
      x-ms-file-last-write-time:
      - '2025-09-22T05:20:15.0310778Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:20:15 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/readme?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:32101caa-b01a-0077-0d80-2bcdb6000000\nTime:2025-09-22T05:20:16.0936823Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-05-05'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:20:16 GMT
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF997B7A210CC"'
      last-modified:
      - Mon, 22 Sep 2025 05:20:17 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T05:20:17.2708044Z'
      x-ms-file-creation-time:
      - '2025-09-22T05:20:17.2708044Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-09-22T05:20:17.2708044Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 9957663114370902142*16351338570168795127
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '133'
      x-ms-date:
      - Mon, 22 Sep 2025 05:20:17 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF997B84564F8"'
      last-modified:
      - Mon, 22 Sep 2025 05:20:18 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T05:20:18.3411960Z'
      x-ms-file-creation-time:
      - '2025-09-22T05:20:18.3411960Z'
      x-ms-file-id:
      - '13835163608398430208'
      x-ms-file-last-write-time:
      - '2025-09-22T05:20:18.3411960Z'
      x-ms-file-parent-id:
      - '13835093239654252544'
      x-ms-file-permission-key:
      - 5353504018412869497*16351338570168795127
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testpkkngfhhwfaz3e3lf6pv\apple\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:20:18 GMT
      x-ms-range:
      - bytes=0-132
      x-ms-version:
      - '2025-05-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - KbdzhOgKXngDw2ixfMkoBw==
      etag:
      - '"0x8DDF997B8E780CC"'
      last-modified:
      - Mon, 22 Sep 2025 05:20:19 GMT
      x-ms-file-last-write-time:
      - '2025-09-22T05:20:19.4035916Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:20:19 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/apple%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:e7d86f0d-a01a-0009-6f80-2b5df1000000\nTime:2025-09-22T05:20:20.5998193Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-05-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:21:01 GMT
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF997D2CFA037"'
      last-modified:
      - Mon, 22 Sep 2025 05:21:02 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T05:21:02.8678711Z'
      x-ms-file-creation-time:
      - '2025-09-22T05:21:02.8678711Z'
      x-ms-file-id:
      - '13835080045514719232'
      x-ms-file-last-write-time:
      - '2025-09-22T05:21:02.8678711Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 9957663114370902142*16351338570168795127
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '134'
      x-ms-date:
      - Mon, 22 Sep 2025 05:21:03 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF997D377FCB3"'
      last-modified:
      - Mon, 22 Sep 2025 05:21:03 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T05:21:03.9712435Z'
      x-ms-file-creation-time:
      - '2025-09-22T05:21:03.9712435Z'
      x-ms-file-id:
      - '13835150414258896896'
      x-ms-file-last-write-time:
      - '2025-09-22T05:21:03.9712435Z'
      x-ms-file-parent-id:
      - '13835080045514719232'
      x-ms-file-permission-key:
      - 5353504018412869497*16351338570168795127
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testpkkngfhhwfaz3e3lf6pv\butter\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:21:04 GMT
      x-ms-range:
      - bytes=0-133
      x-ms-version:
      - '2025-05-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 3XjDte19KE9ZGl2znDo4ow==
      etag:
      - '"0x8DDF997D41CB037"'
      last-modified:
      - Mon, 22 Sep 2025 05:21:05 GMT
      x-ms-file-last-write-time:
      - '2025-09-22T05:21:05.0506295Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:21:05 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:0952306f-801a-006c-1c80-2bf3b5000000\nTime:2025-09-22T05:21:06.4082073Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-05-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:21:47 GMT
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF997EDEDEF1C"'
      last-modified:
      - Mon, 22 Sep 2025 05:21:48 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T05:21:48.3649820Z'
      x-ms-file-creation-time:
      - '2025-09-22T05:21:48.3649820Z'
      x-ms-file-id:
      - '11529252429463814144'
      x-ms-file-last-write-time:
      - '2025-09-22T05:21:48.3649820Z'
      x-ms-file-parent-id:
      - '13835080045514719232'
      x-ms-file-permission-key:
      - 9957663114370902142*16351338570168795127
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '142'
      x-ms-date:
      - Mon, 22 Sep 2025 05:21:48 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/charlie/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF997EEA5B2A8"'
      last-modified:
      - Mon, 22 Sep 2025 05:21:49 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T05:21:49.5692968Z'
      x-ms-file-creation-time:
      - '2025-09-22T05:21:49.5692968Z'
      x-ms-file-id:
      - '13835077846491463680'
      x-ms-file-last-write-time:
      - '2025-09-22T05:21:49.5692968Z'
      x-ms-file-parent-id:
      - '11529252429463814144'
      x-ms-file-permission-key:
      - 5353504018412869497*16351338570168795127
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testpkkngfhhwfaz3e3lf6pv\butter/charlie\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:21:49 GMT
      x-ms-range:
      - bytes=0-141
      x-ms-version:
      - '2025-05-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/charlie/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - j8goj/lkge0qY1c0aKyPlg==
      etag:
      - '"0x8DDF997EF45D2F2"'
      last-modified:
      - Mon, 22 Sep 2025 05:21:50 GMT
      x-ms-file-last-write-time:
      - '2025-09-22T05:21:50.6186994Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:21:50 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:432dcab3-d01a-003c-5280-2b31e5000000\nTime:2025-09-22T05:21:51.8976280Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-05-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:22:50 GMT
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99813A4A2CD"'
      last-modified:
      - Mon, 22 Sep 2025 05:22:51 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T05:22:51.6380365Z'
      x-ms-file-creation-time:
      - '2025-09-22T05:22:51.6380365Z'
      x-ms-file-id:
      - '16141026408821424128'
      x-ms-file-last-write-time:
      - '2025-09-22T05:22:51.6380365Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 9957663114370902142*16351338570168795127
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:22:51 GMT
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF9981443D912"'
      last-modified:
      - Mon, 22 Sep 2025 05:22:52 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-22T05:22:52.6814482Z'
      x-ms-file-creation-time:
      - '2025-09-22T05:22:52.6814482Z'
      x-ms-file-id:
      - '13835082244537974784'
      x-ms-file-last-write-time:
      - '2025-09-22T05:22:52.6814482Z'
      x-ms-file-parent-id:
      - '16141026408821424128'
      x-ms-file-permission-key:
      - 9957663114370902142*16351338570168795127
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '139'
      x-ms-date:
      - Mon, 22 Sep 2025 05:22:52 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2025-05-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff/edward/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDF99814E8B3D4"'
      last-modified:
      - Mon, 22 Sep 2025 05:22:53 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-22T05:22:53.7618388Z'
      x-ms-file-creation-time:
      - '2025-09-22T05:22:53.7618388Z'
      x-ms-file-id:
      - '13835152613282152448'
      x-ms-file-last-write-time:
      - '2025-09-22T05:22:53.7618388Z'
      x-ms-file-parent-id:
      - '13835082244537974784'
      x-ms-file-permission-key:
      - 5353504018412869497*16351338570168795127
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testpkkngfhhwfaz3e3lf6pv\duff/edward\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:22:53 GMT
      x-ms-range:
      - bytes=0-138
      x-ms-version:
      - '2025-05-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff/edward/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - k8Zx5M2q2PHzbUlUMXErpg==
      etag:
      - '"0x8DDF99815863CD2"'
      last-modified:
      - Mon, 22 Sep 2025 05:22:54 GMT
      x-ms-file-last-write-time:
      - '2025-09-22T05:22:54.7942610Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-05-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:22:54 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:03de454f-301a-0079-5d80-2be406000000\nTime:2025-09-22T05:22:56.0900287Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-05-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:23:43 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>apple</Name><FileId>13835093239654252544</FileId><Properties
        /></Directory><Directory><Name>butter</Name><FileId>13835080045514719232</FileId><Properties
        /></Directory><Directory><Name>duff</Name><FileId>16141026408821424128</FileId><Properties
        /></Directory><File><Name>readme</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>87</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-05-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:23:45 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/apple?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        Di[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:23:46 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        D[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:23:47 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"duff\"><DirectoryId>16141026408821424128</DirectoryId><Entries><Directory><Name>edward</Name><FileId>13835082244537974784</FileId><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-05-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:23:48 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:23:49 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
  [...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:24:35 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"\"><MaxResults>5000</MaxResults><DirectoryId>0</DirectoryId><Entries><Directory><Name>apple</Name><FileId>13835093239654252544</FileId><Properties><CreationTime>2025-09-22T05:20:17.2708044Z</CreationTime><LastAccessTime>2025-09-22T05:20:17.2708044Z</LastAccessTime><LastWriteTime>2025-09-22T05:20:17.2708044Z</LastWriteTime><ChangeTime>2025-09-22T05:20:17.2708044Z</ChangeTime><Last-Modified>Mon,
        22 Sep 2025 05:20:17 GMT</Last-Modified><Etag>\"0x8DDF997B7A210CC\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>9957663114370902142*16351338570168795127</PermissionKey></Directory><Directory><Name>butter</Name><FileId>13835080045514719232</FileId><Properties><CreationTime>2025-09-22T05:21:02.8678711Z</CreationTime><LastAccessTime>2025-09-22T05:21:02.8678711Z</LastAccessTime><LastWriteTime>2025-09-22T05:21:02.8678711Z</LastWriteTime><ChangeTime>2025-09-22T05:21:02.8678711Z</ChangeTime><Last-Modified>Mon,
        22 Sep 2025 05:21:02 GMT</Last-Modified><Etag>\"0x8DDF997D2CFA037\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>9957663114370902142*16351338570168795127</PermissionKey></Directory><Directory><Name>duff</Name><FileId>16141026408821424128</FileId><Properties><CreationTime>2025-09-22T05:22:51.6380365Z</CreationTime><LastAccessTime>2025-09-22T05:22:51.6380365Z</LastAccessTime><LastWriteTime>2025-09-22T05:22:51.6380365Z</LastWriteTime><ChangeTime>2025-09-22T05:22:51.6380365Z</ChangeTime><Last-Modified>Mon,
        22 Sep 2025 05:22:51 GMT</Last-Modified><Etag>\"0x8DDF99813A4A2CD\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>9957663114370902142*16351338570168795127</PermissionKey></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-05-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:24:36 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/apple?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"apple\"><MaxResults>5000</MaxResults><DirectoryId>13835093239654252544</DirectoryId><Entries
        /><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-05-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:24:38 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"butter\"><MaxResults>5000</MaxResults><DirectoryId>13835080045514719232</DirectoryId><Entries><Directory><Name>charlie</Name><FileId>11529252429463814144</FileId><Properties><CreationTime>2025-09-22T05:21:48.3649820Z</CreationTime><LastAccessTime>2025-09-22T05:21:48.3649820Z</LastAccessTime><LastWriteTime>2025-09-22T05:21:48.3649820Z</LastWriteTime><ChangeTime>2025-09-22T05:21:48.3649820Z</ChangeTime><Last-Modified>Mon,
        22 Sep 2025 05:21:48 GMT</Last-Modified><Etag>\"0x8DDF997EDEDEF1C\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>9957663114370902142*16351338570168795127</PermissionKey></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-05-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:24:39 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"butter/charlie\"><MaxResults>5000</MaxResults><DirectoryId>11529252429463814144</DirectoryId><Entries
        /><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-05-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 22 Sep 2025 05:24:40 GMT
      x-ms-version:
      - '2025-05-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
[...]
