interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-11-20T23:16:03.9356200Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-11-20T23:16:03.9356200Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 20 Nov 2023 23:16:28 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1EB96BB20A"'
      last-modified:
      - Mon, 20 Nov 2023 23:16:28 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2023-11-20T23:16:28Z</Start><Expiry>2023-11-21T00:16:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 20 Nov 2023 23:16:28 GMT
      x-ms-version:
      - '2022-11-02'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>7338c4fc-37a1-4728-972b-2d0fafc043ea</SignedOid><SignedTid>72f988bf-86f1-41af-91ab-2d7cd011db47</SignedTid><SignedStart>2023-11-20T23:16:28Z</SignedStart><SignedExpiry>2023-11-21T00:16:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2022-11-02</SignedVersion><Value>GcR342er8XAtKVQYnLfrypxoKfW0jJASB0088Aaa4P8=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2023-11-20T23:16:28Z</Start><Expiry>2023-11-21T00:16:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 20 Nov 2023 23:16:28 GMT
      x-ms-version:
      - '2022-11-02'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>7338c4fc-37a1-4728-972b-2d0fafc043ea</SignedOid><SignedTid>72f988bf-86f1-41af-91ab-2d7cd011db47</SignedTid><SignedStart>2023-11-20T23:16:28Z</SignedStart><SignedExpiry>2023-11-21T00:16:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2022-11-02</SignedVersion><Value>GcR342er8XAtKVQYnLfrypxoKfW0jJASB0088Aaa4P8=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
version: 1
