interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2021-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares"}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DA1BC52C47EF52"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"metadata": {"k1": "v1"}, "shareQuota": 10, "enabledProtocols":
      "SMB", "rootSquash": "AllSquash", "accessTier": "Hot"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?$expand=snapshots&api-version=2021-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"accessTier":"Hot","snapshotTime":"2022-04-11T14:11:30.0000000Z","metadata":{"k1":"v1"},"shareQuota":10,"enabledProtocols":"SMB","rootSquash":"AllSquash"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-snapshot:
      - '2022-04-11T14:11:30.0000000Z'
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2021-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DA1BC52CC59500\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"accessTier":"TransactionOptimized","accessTierChangeTime":"2022-04-11T14:11:28.0000000Z","snapshotTime":"2022-04-11T14:11:30.0000000Z","metadata":{"k1":"v1"},"lastModifiedTime":"2022-04-11T14:11:30.0000000Z","shareQuota":5120}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DA1BC52CC59500"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?api-version=2021-09-01&$expand=snapshots
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DA1BC52CC59500\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","snapshotTime":"2022-04-11T14:11:30.0000000Z","lastModifiedTime":"2022-04-11T14:11:30.0000000Z","shareQuota":5120,"enabledProtocols":"SMB"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DA1BC52C47EF52\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","accessTierChangeTime":"2022-04-11T14:11:28.0000000Z","lastModifiedTime":"2022-04-11T14:11:29.0000000Z","shareQuota":5120,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2021-09-01&$include=none
  response:
    body:
      string: '{"error":{"code":"ShareHasSnapshots","message":"The share has snapshots
        and the operation requires no snapshots.\nRequestId:9566f8d7-201a-0088-73ae-4d3a66000000\nTime:2022-04-11T14:11:34.8987655Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?api-version=2021-09-01&$expand=deleted%2Csnapshots
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DA1BC52C47EF52\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","accessTierChangeTime":"2022-04-11T14:11:28.0000000Z","lastModifiedTime":"2022-04-11T14:11:29.0000000Z","shareQuota":5120,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?api-version=2021-09-01&$expand=deleted%2Csnapshots
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003_01D84DAE09AF8986","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DA1BC52C47EF52\"","properties":{"leaseStatus":"unlocked","leaseState":"broken","version":"01D84DAE09AF8986","deleted":true,"deletedTime":"2022-04-11T14:11:40.0000000Z","remainingRetentionDays":7,"accessTier":"TransactionOptimized","accessTierChangeTime":"2022-04-11T14:11:28.0000000Z","lastModifiedTime":"2022-04-11T14:11:29.0000000Z","shareQuota":5120,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
