interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-04-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2021-05-11T02:21:59.0854332Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2021-05-11T02:21:59.0854332Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:20 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D914239CBC3847"'
      last-modified:
      - Tue, 11 May 2021 02:22:23 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:26 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-02-10'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:28 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D91423A02DDBF4"'
      last-modified:
      - Tue, 11 May 2021 02:22:29 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:29 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D91423A02DDBF4"'
      last-modified:
      - Tue, 11 May 2021 02:22:29 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 11 May 2021 02:22:29 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:31 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D91423A02DDBF4"'
      last-modified:
      - Tue, 11 May 2021 02:22:29 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:33 GMT
      x-ms-permissions:
      - rwxrwxrwx
      x-ms-properties:
      - ''
      x-ms-umask:
      - '0007'
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Fsubdir000005?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D91423A2F3DDDC"'
      last-modified:
      - Tue, 11 May 2021 02:22:33 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:34 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/dir000004/subdir000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D91423A2F3DDDC"'
      last-modified:
      - Tue, 11 May 2021 02:22:33 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 11 May 2021 02:22:33 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:35 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/dir000004%2Fsubdir000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D91423A2F3DDDC"'
      last-modified:
      - Tue, 11 May 2021 02:22:33 GMT
      x-ms-acl:
      - user::rwx,group::rwx,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxrwx---
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:36 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"132651733493406708","etag":"0x8D91423A02DDBF4","group":"$superuser","isDirectory":"true","lastModified":"Tue,
        11 May 2021 02:22:29 GMT","name":"dir000004","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","creationTime":"132651733539937756","etag":"0x8D91423A2F3DDDC","group":"$superuser","isDirectory":"true","lastModified":"Tue,
        11 May 2021 02:22:33 GMT","name":"dir000004/subdir000005","owner":"$superuser","permissions":"rwxrwx---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:37 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&directory=dir000004&recursive=true
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"132651733539937756","etag":"0x8D91423A2F3DDDC","group":"$superuser","isDirectory":"true","lastModified":"Tue,
        11 May 2021 02:22:33 GMT","name":"dir000004/subdir000005","owner":"$superuser","permissions":"rwxrwx---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:38 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/new_dir
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2020-02-10'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:40 GMT
      x-ms-rename-source:
      - /filesystemlyvt345e655bwt/dirjb2zijiah/subdirddc4rb
      x-ms-source-lease-id:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?mode=legacy
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:46 GMT
      x-ms-version:
      - '2020-02-10'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D91423A2F3DDDC"'
      last-modified:
      - Tue, 11 May 2021 02:22:33 GMT
      x-ms-acl:
      - user::rwx,group::rwx,other::---
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxrwx---
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:55 GMT
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/new_dir?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 May 2021 02:22:57 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?resource=filesystem&recursive=true
  response:
    body:
      string: '{"paths":[]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
version: 1
