interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T09:42:16.2073050Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T09:42:16.2073050Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:42:41 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E1ADF91207"'
      last-modified:
      - Fri, 24 Oct 2025 09:42:42 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2025-10-24T09:42:43Z</Start><Expiry>2025-10-24T10:42:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 09:42:43 GMT
      x-ms-version:
      - '2022-11-02'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>7b1bdbe4-80ac-47f9-882b-33d6e62950ab</SignedOid><SignedTid>7b31ddc4-9101-4ef0-a387-79ce181cacdb</SignedTid><SignedStart>2025-10-24T09:42:43Z</SignedStart><SignedExpiry>2025-10-24T10:42:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2022-11-02</SignedVersion><Value>h/HqA6r1KTKkhgVjtWAqB056D0+wkXYhyF18qlZ30hg=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2025-10-24T09:42:44Z</Start><Expiry>2025-10-24T10:42:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 09:42:44 GMT
      x-ms-version:
      - '2022-11-02'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>7b1bdbe4-80ac-47f9-882b-33d6e62950ab</SignedOid><SignedTid>7b31ddc4-9101-4ef0-a387-79ce181cacdb</SignedTid><SignedStart>2025-10-24T09:42:44Z</SignedStart><SignedExpiry>2025-10-24T10:42:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2022-11-02</SignedVersion><Value>gLaf3POQrUJUKKTYeONgW/jYFdcMkfLAQZ8+Mpyl/mo=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
version: 1
