interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_stats000001/providers/Microsoft.Storage/storageAccounts/stats000002/fileServices/default/shares/share000003?$expand=snapshots&api-version=2021-01-01
  response:
    body:
      string: '{"error":{"code":"ShareNotFound","message":"The specified share does
        not exist.\nRequestId:6dd5febe-501a-006f-555f-0676b5000000\nTime:2021-02-19T01:37:26.9477391Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1178'
    status:
      code: 404
      message: Not Found
version: 1
