interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-05-31T07:05:07.8505979Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-05-31T07:05:07.8505979Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:30 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D3F31B36E6"'
      last-modified:
      - Tue, 31 May 2022 07:05:31 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:31 GMT
      x-ms-meta:
      - '{''foo'': ''bar'', ''cat'': ''hat''}'
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D3F3CEB394"'
      last-modified:
      - Tue, 31 May 2022 07:05:32 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:32 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D3F31B36E6"'
      last-modified:
      - Tue, 31 May 2022 07:05:31 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-share-quota:
      - '5120'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:34 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/?comp=list&maxresults=5000&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\"><MaxResults>5000</MaxResults><Shares><Share><Name>share000004</Name><Properties><Last-Modified>Tue,
        31 May 2022 07:05:32 GMT</Last-Modified><Etag>\"0x8DA42D3F3CEB394\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share000003</Name><Properties><Last-Modified>Tue,
        31 May 2022 07:05:31 GMT</Last-Modified><Etag>\"0x8DA42D3F31B36E6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:36 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D3F68A5CDC"'
      last-modified:
      - Tue, 31 May 2022 07:05:36 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:40 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D3F96A2EBA"'
      last-modified:
      - Tue, 31 May 2022 07:05:41 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Tue, 31 May 2022 07:05:43 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D3FB27F498"'
      last-modified:
      - Tue, 31 May 2022 07:05:44 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:45 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA42D3FBBD8EF6"'
      last-modified:
      - Tue, 31 May 2022 07:05:45 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:47 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:48 GMT
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"
    headers:
      content-range:
      - bytes 0-511/131072
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA42D3FBBD8EF6"'
      last-modified:
      - Tue, 31 May 2022 07:05:45 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1234'
      x-ms-date:
      - Tue, 31 May 2022 07:05:50 GMT
      x-ms-file-attributes:
      - preserve
      x-ms-file-creation-time:
      - preserve
      x-ms-file-last-write-time:
      - preserve
      x-ms-file-permission:
      - preserve
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D3FEF50F4D"'
      last-modified:
      - Tue, 31 May 2022 07:05:50 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-05-31T07:05:50.9352269Z'
      x-ms-file-creation-time:
      - '2022-05-31T07:05:44.5578904Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-05-31T07:05:50.9352269Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 4025969020218887584*11493174428275189038
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:52 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D40061B013"'
      last-modified:
      - Tue, 31 May 2022 07:05:53 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:05:57 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><MaxResults>5000</MaxResults><DirectoryId>0</DirectoryId><Entries><File><Name>sample_file.bin</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1234</Content-Length><CreationTime>2022-05-31T07:05:44.5578904Z</CreationTime><LastAccessTime>2022-05-31T07:05:44.5578904Z</LastAccessTime><LastWriteTime>2022-05-31T07:05:50.9352269Z</LastWriteTime><ChangeTime>2022-05-31T07:05:55.7474623Z</ChangeTime><Last-Modified>Tue,
        31 May 2022 07:05:55 GMT</Last-Modified><Etag>\"0x8DA42D401D3593F\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>4025969020218887584*11493174428275189038</PermissionKey></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-type:
      - test/type
      x-ms-date:
      - Tue, 31 May 2022 07:05:59 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D404A63320"'
      last-modified:
      - Tue, 31 May 2022 07:06:00 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:06:03 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:06:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D40760CDBB"'
      last-modified:
      - Tue, 31 May 2022 07:06:05 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-05-31T07:06:05.0631099Z'
      x-ms-file-creation-time:
      - '2022-05-31T07:06:05.0631099Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-05-31T07:06:05.0631099Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 17844619809798075047*11493174428275189038
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:06:05 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir000005</Name><FileId>13835093239654252544</FileId><Properties><CreationTime>2022-05-31T07:06:05.0631099Z</CreationTime><LastAccessTime>2022-05-31T07:06:05.0631099Z</LastAccessTime><LastWriteTime>2022-05-31T07:06:05.0631099Z</LastWriteTime><ChangeTime>2022-05-31T07:06:05.0631099Z</ChangeTime><Last-Modified>Tue,
        31 May 2022 07:06:05 GMT</Last-Modified><Etag>\"0x8DA42D40760CDBB\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>17844619809798075047*11493174428275189038</PermissionKey></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:06:07 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D4097EF121"'
      last-modified:
      - Tue, 31 May 2022 07:06:08 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '65536'
      x-ms-date:
      - Tue, 31 May 2022 07:06:13 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005/testfile.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA42D40CF3988F"'
      last-modified:
      - Tue, 31 May 2022 07:06:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:06:18 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory&comp=list&maxresults=5000&include=timestamps,Etag,Attributes,PermissionKey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"dir000005\"><MaxResults>5000</MaxResults><DirectoryId>13835093239654252544</DirectoryId><Entries><File><Name>testfile.txt</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>65536</Content-Length><CreationTime>2022-05-31T07:06:14.4137359Z</CreationTime><LastAccessTime>2022-05-31T07:06:14.4137359Z</LastAccessTime><LastWriteTime>2022-05-31T07:06:15.1333239Z</LastWriteTime><ChangeTime>2022-05-31T07:06:15.1333239Z</ChangeTime><Last-Modified>Tue,
        31 May 2022 07:06:15 GMT</Last-Modified><Etag>\"0x8DA42D40D616577\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>4025969020218887584*11493174428275189038</PermissionKey></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:06:19 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><ShareStats><ShareUsageBytes>65536</ShareUsageBytes></ShareStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:06:21 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/testfile.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:06:24 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:9cbd2c3f-a01a-0072-13bc-74f709000000\nTime:2022-05-31T07:06:25.0499004Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 07:06:28 GMT
      x-ms-version:
      - '2021-06-08'
    method: DELETE
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
version: 1
