interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:38:16 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D88EC5EDDCC5"'
      last-modified:
      - Wed, 24 Feb 2021 06:38:19 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '16384'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Wed, 24 Feb 2021 06:38:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D88EC6CB6989"'
      last-modified:
      - Wed, 24 Feb 2021 06:38:20 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 24 Feb 2021 06:38:20 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D88EC6CB6989"'
      last-modified:
      - Wed, 24 Feb 2021 06:38:20 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2021-02-24T06:38:21.7239007Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Modified-Since:
      - Mon, 29 Jun 2020 06:32:00 GMT
      x-ms-copy-source:
      - https://clitesthh62rzuknlblpuf7u.blob.core.windows.net/contbcd5mnme2ehwiuknkz6e/src?se=2021-02-25T06%3A38%3A26Z&sp=r&spr=https&sv=2018-11-09&sr=b&sig=6OaDcr0%2BH2GG8Witnp9fupWP4TJJjqLiq6VyVYsZcFo%3D&snapshot=2021-02-24T06:38:21.7239007Z
      x-ms-date:
      - Wed, 24 Feb 2021 06:38:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=incrementalcopy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D88ECABCBC11"'
      last-modified:
      - Wed, 24 Feb 2021 06:38:27 GMT
      x-ms-copy-id:
      - fd530c61-5596-41d1-99db-c2378fdd9507
      x-ms-copy-status:
      - pending
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
