interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T08:41:47.4646584Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T08:41:47.4646584Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:42:18 GMT
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/foo/bar.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 08:42:21 GMT
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/foo/bar.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
version: 1
