interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clistorage000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clistorage000001","name":"clistorage000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2021-02-25T13:39:13Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_GZRS"}, "kind": "StorageV2", "location": "eastus2",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"},
      "supportsHttpsTrafficOnly": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clistorage000001/providers/Microsoft.Storage/storageAccounts/cligzrs000003?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/03ead73e-ef21-4011-927a-e09d64662e88?monitor=true&api-version=2021-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/03ead73e-ef21-4011-927a-e09d64662e88?monitor=true&api-version=2021-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_GZRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clistorage000001/providers/Microsoft.Storage/storageAccounts/cligzrs000003","name":"cligzrs000003","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-02-25T13:39:48.1365494Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-02-25T13:39:48.1365494Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2021-02-25T13:39:48.0584225Z","primaryEndpoints":{"dfs":"https://cligzrs000003.dfs.core.windows.net/","web":"https://cligzrs000003.z20.web.core.windows.net/","blob":"https://cligzrs000003.blob.core.windows.net/","queue":"https://cligzrs000003.queue.core.windows.net/","table":"https://cligzrs000003.table.core.windows.net/","file":"https://cligzrs000003.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clistorage000001/providers/Microsoft.Storage/storageAccounts/clistoragesku000002?api-version=2021-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_ZRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clistorage000001/providers/Microsoft.Storage/storageAccount[...]
[...]
- request:
    body: '{"sku": {"name": "Standard_GZRS"}, "tags": {}, "properties": {"encryption":
      {"services": {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled":
      true, "keyType": "Account"}}, "keySource": "Microsoft.Storage"}, "accessTier":
      "Hot", "supportsHttpsTrafficOnly": true, "networkAcls": {"bypass": "AzureServices",
      "virtualNetworkRules": [], "ipRules": [], "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clistorage000001/providers/Microsoft.Storage/storageAccounts/clistoragesku000002?api-version=2021-01-01
  response:
    body:
      string: '{"error":{"code":"StorageAccountTypeConversionNotAllowed","message":"Storage
        account type Standard_ZRS cannot be changed to Standard_GZRS."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
