interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11993'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Feb 2021 01:38:02 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D47700B34874"'
      last-modified:
      - Fri, 19 Feb 2021 01:38:05 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Feb 2021 01:38:08 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8D47702D7871C"'
      last-modified:
      - Fri, 19 Feb 2021 01:38:08 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 19 Feb 2021 01:38:08 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '131072'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 19 Feb 2021 01:38:11 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/page000005
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D47704E23488"'
      last-modified:
      - Fri, 19 Feb 2021 01:38:12 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Feb 2021 01:38:12 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/page000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8D47704E23488"'
      last-modified:
      - Fri, 19 Feb 2021 01:38:12 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Fri, 19 Feb 2021 01:38:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Feb 2021 01:38:13 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000003/page000005?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList />"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D8D47704E23488"'
      last-modified:
      - Fri, 19 Feb 2021 01:38:12 GMT
      x-ms-blob-content-length:
      - '131072'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Feb 2021 01:38:13 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8D47702D7871C"'
      last-modified:
      - Fri, 19 Feb 2021 01:38:08 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2021-02-19T01:38:14.5532617Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Match:
      - '0x8D8D47702D7871C'
      x-ms-date:
      - Fri, 19 Feb 2021 01:38:15 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8D47702D7871C"'
      last-modified:
      - Fri, 19 Feb 2021 01:38:08 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 19 Feb 2021 01:38:08 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-None-Match:
      - '0x8D8D47702D7871C'
      x-ms-date:
      - Fri, 19 Feb 2021 01:38:18 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2019-12-12'
    status:
      code: 304
      message: The condition specified using HTTP conditional header(s) is not met.
[...]
- request:
    body: null
    headers:
      If-Unmodified-Since:
      - Mon, 29 Jun 2020 06:32:00 GMT
      x-ms-date:
      - Fri, 19 Feb 2021 01:38:20 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2019-12-12'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
- request:
    body: null
    headers:
      If-Modified-Since:
      - Mon, 29 Jun 2020 06:32:00 GMT
      x-ms-date:
      - Fri, 19 Feb 2021 01:38:21 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000003/block000004
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D8D47702D7871C"'
      last-modified:
      - Fri, 19 Feb 2021 01:38:08 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 19 Feb 2021 01:38:08 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
version: 1
