interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/queue000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T10:01:57.4848666Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T10:01:57.4848666Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/queue000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/queue000002","name":"queue000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2025-10-24T10:01:57.4848666Z","key2":"2025-10-24T10:01:57.4848666Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-10-24T10:01:57.4848666Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-10-24T10:01:57.4848666Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-10-24T10:01:57.2973673Z","primaryEndpoints":{"dfs":"https://queue000002.dfs.core.windows.net/","web":"https://queue000002.z20.web.core.windows.net/","blob":"https://queue000002.blob.core.windows.net/","queue":"https://queue000002.queue.core.windows.net/","table":"https://queue000002.table.core.windows.net/","file":"https://queue000002.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://queue000002-secondary.dfs.core.windows.net/","web":"https://queue000002-secondary.z20.web.core.windows.net/","blob":"https://queue000002-secondary.blob.core.windows.net/","queue":"https://queue000002-secondary.queue.core.windows.net/","table":"https://queue000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:25 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://queue000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:26 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://queue000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:29 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://queue000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>raup</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2020-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:32 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://queue000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>raup</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2020-01-01T00:00:00Z</Start><Permission
      /></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2021-01-01T00:00:00Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:34 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://queue000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:02:48 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://queue000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>raup</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2020-01-01T00:00:00.0000000Z</Start><Expiry>2020-12-31T23:59:00.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
