interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-06-09T05:24:15.0171320Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-06-09T05:24:15.0171320Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:37 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49D8593C76D3"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:38 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:40 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49D85AA2A84E"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:40 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-06-09T05:24:40.8719438Z'
      x-ms-file-creation-time:
      - '2022-06-09T05:24:40.8719438Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-09T05:24:40.8719438Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 12956355888662236215*15786558270302018494
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:42 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49D85C0FE296"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:43 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:43 GMT
      x-ms-range:
      - bytes=0-524287
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WQcVkAmdId1DmJZZIzi/lQ==
      etag:
      - '"0x8DA49D85CEA425E"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:44 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:45 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA49D85CEA425E"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:44 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-09T05:24:44.6966366Z'
      x-ms-file-creation-time:
      - '2022-06-09T05:24:43.2654998Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-06-09T05:24:44.6966366Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 8337842253942141744*15786558270302018494
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:46 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir1%2Fsource_file.txt?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:6ebb8296-901a-0043-14c1-7b32d9000000\nTime:2022-06-09T05:24:47.0593337Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestjpwgwl67fiylcygwz.file.core.windows.net/sharenwwfvs2bvaq36hjcsux/dir1/source_file.txt
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:47 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49D85F5A6CC9"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:48 GMT
      x-ms-copy-id:
      - 5a276f28-6a98-4cdf-80d3-59ff8d7853e7
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:49 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA49D85F5A6CC9"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:48 GMT
      x-ms-copy-completion-time:
      - Thu, 09 Jun 2022 05:24:48 GMT
      x-ms-copy-id:
      - 5a276f28-6a98-4cdf-80d3-59ff8d7853e7
      x-ms-copy-progress:
      - 524288/524288
      x-ms-copy-source:
      - https://clitestjpwgwl67fiylcygwz.file.core.windows.net/sharenwwfvs2bvaq36hjcsux/dir1/source_file.txt
      x-ms-copy-status:
      - success
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-09T05:24:44.6966366Z'
      x-ms-file-creation-time:
      - '2022-06-09T05:24:48.7871689Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-06-09T05:24:44.6966366Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 8337842253942141744*15786558270302018494
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestjpwgwl67fiylcygwz.file.core.windows.net/sharenwwfvs2bvaq36hjcsux/dir1%5Csource_file.txt
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:52 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49D862584273"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:53 GMT
      x-ms-copy-id:
      - c155ff93-8b6d-4add-8f9e-52799a54c2b1
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
