interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DD54E00F96D4A3"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"metadata": {"k1": "v1"}, "shareQuota": 10, "enabledProtocols":
      "SMB", "rootSquash": "AllSquash", "accessTier": "Hot"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?$expand=snapshots&api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{"accessTier":"Hot","snapshotTime":"2025-02-24T14:32:28.0000000Z","metadata":{"k1":"v1"},"shareQuota":10,"enabledProtocols":"SMB","rootSquash":"AllSquash"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-snapshot:
      - '2025-02-24T14:32:28.0000000Z'
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?api-version=2024-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DD54E01056A600\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"accessTier":"TransactionOptimized","accessTierChangeTime":"2025-02-24T14:32:26.0000000Z","snapshotTime":"2025-02-24T14:32:28.0000000Z","metadata":{"k1":"v1"},"lastModifiedTime":"2025-02-24T14:32:28.0000000Z","shareQuota":102400}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8DD54E01056A600"'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?$expand=snapshots&api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DD54E01056A600\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","snapshotTime":"2025-02-24T14:32:28.0000000Z","lastModifiedTime":"2025-02-24T14:32:28.0000000Z","shareQuota":102400,"enabledProtocols":"SMB"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DD54E00F96D4A3\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","accessTierChangeTime":"2025-02-24T14:32:26.0000000Z","lastModifiedTime":"2025-02-24T14:32:26.0000000Z","shareQuota":102400,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003?$include=none&api-version=2024-01-01
  response:
    body:
      string: '{"error":{"code":"ShareHasSnapshots","message":"The share has snapshots
        and the operation requires no snapshots.\nRequestId:5a0efd41-301a-0076-63c8-86209d000000\nTime:2025-02-24T14:32:32.8724419Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '2999'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?$expand=deleted%2Csnapshots&api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DD54E00F96D4A3\"","properties":{"leaseStatus":"unlocked","leaseState":"available","accessTier":"TransactionOptimized","accessTierChangeTime":"2025-02-24T14:32:26.0000000Z","lastModifiedTime":"2025-02-24T14:32:26.0000000Z","shareQuota":102400,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares?$expand=deleted%2Csnapshots&api-version=2024-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_snapshot000001/providers/Microsoft.Storage/storageAccounts/snapshot000002/fileServices/default/shares/share000003_01DB86C8ED1CA3E7","name":"share000003","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DD54E00F96D4A3\"","properties":{"leaseStatus":"unlocked","leaseState":"broken","version":"01DB86C8ED1CA3E7","deleted":true,"deletedTime":"2025-02-24T14:32:38.0000000Z","remainingRetentionDays":7,"accessTier":"TransactionOptimized","accessTierChangeTime":"2025-02-24T14:32:26.0000000Z","lastModifiedTime":"2025-02-24T14:32:26.0000000Z","shareQuota":102400,"enabledProtocols":"SMB"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
version: 1
