interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-11-10T07:22:39.8566641Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-11-10T07:22:39.8566641Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:05 GMT
      x-ms-enabled-protocols:
      - NFS
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE2029FE1FE81E"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:06 GMT
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:06 GMT
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE2029FE1FE81E"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:06 GMT
      x-ms-access-tier:
      - Premium
      x-ms-enable-snapshot-virtual-directory-access:
      - 'true'
      x-ms-enabled-protocols:
      - NFS
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-root-squash:
      - NoRootSquash
      x-ms-share-next-allowed-quota-downgrade-time:
      - Mon, 10 Nov 2025 07:23:06 GMT
      x-ms-share-paid-bursting-enabled:
      - 'false'
      x-ms-share-provisioned-bandwidth-mibps:
      - '110'
      x-ms-share-provisioned-egress-mbps:
      - '110'
      x-ms-share-provisioned-ingress-mbps:
      - '110'
      x-ms-share-provisioned-iops:
      - '3100'
      x-ms-share-quota:
      - '100'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:08 GMT
      x-ms-group:
      - '2'
      x-ms-mode:
      - rwxr--r--
      x-ms-owner:
      - '1'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE2029FFDB18EF"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:09 GMT
      x-ms-file-change-time:
      - '2025-11-10T07:23:09.1485935Z'
      x-ms-file-creation-time:
      - '2025-11-10T07:23:09.1485935Z'
      x-ms-file-file-type:
      - Directory
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-11-10T07:23:09.1485935Z'
      x-ms-file-parent-id:
      - '1'
      x-ms-group:
      - '2'
      x-ms-mode:
      - '0744'
      x-ms-owner:
      - '1'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:09 GMT
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE2029FFDB18EF"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:09 GMT
      x-ms-file-change-time:
      - '2025-11-10T07:23:09.1485935Z'
      x-ms-file-creation-time:
      - '2025-11-10T07:23:09.1485935Z'
      x-ms-file-file-type:
      - Directory
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-11-10T07:23:09.1485935Z'
      x-ms-file-parent-id:
      - '1'
      x-ms-group:
      - '2'
      x-ms-mode:
      - '0744'
      x-ms-owner:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:10 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/src_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE202A018CD4ED"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:11 GMT
      x-ms-file-change-time:
      - '2025-11-10T07:23:11.9911149Z'
      x-ms-file-creation-time:
      - '2025-11-10T07:23:11.9911149Z'
      x-ms-file-file-type:
      - Regular
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-11-10T07:23:11.9911149Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '0'
      x-ms-mode:
      - '0664'
      x-ms-owner:
      - '0'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:14 GMT
      x-ms-group:
      - '3'
      x-ms-mode:
      - rw-r--r--
      x-ms-owner:
      - '2'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/src_file.txt?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE202A038E530F"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:15 GMT
      x-ms-file-change-time:
      - '2025-11-10T07:23:15.3563407Z'
      x-ms-file-creation-time:
      - '2025-11-10T07:23:11.9911149Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-11-10T07:23:14.1127999Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '3'
      x-ms-link-count:
      - '1'
      x-ms-mode:
      - '0644'
      x-ms-owner:
      - '2'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:22 GMT
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><MaxResults>5000</MaxResults><DirectoryId>1</DirectoryId><Entries><Directory><Name>dir000004</Name><FileId>13835128424026341376</FileId><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-copy-source:
      - https://clitestzdhhgnjrsqgb5eull.file.core.windows.net/share5brd2bxuqw62ggebypc/diruuh5sg63mffab/src_file.txt
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:23 GMT
      x-ms-file-mode-copy-mode:
      - source
      x-ms-file-owner-copy-mode:
      - source
      x-ms-source-allow-trailing-dot:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/dst_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE202A0940017A"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:24 GMT
      x-ms-copy-id:
      - f1a01a17-74d5-4958-8071-089334e99180
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2025-07-05'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:25 GMT
      x-ms-version:
      - '2025-07-05'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/dst_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE202A0940017A"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:24 GMT
      x-ms-copy-completion-time:
      - Mon, 10 Nov 2025 07:23:24 GMT
      x-ms-copy-id:
      - f1a01a17-74d5-4958-8071-089334e99180
      x-ms-copy-progress:
      - 131072/131072
      x-ms-copy-source:
      - https://clitestzdhhgnjrsqgb5eull.file.core.windows.net/share5brd2bxuqw62ggebypc/diruuh5sg63mffab/src_file.txt
      x-ms-copy-status:
      - success
      x-ms-file-change-time:
      - '2025-11-10T07:23:24.9094010Z'
      x-ms-file-creation-time:
      - '2025-11-10T07:23:24.9094010Z'
      x-ms-file-file-type:
      - Regular
      x-ms-file-id:
      - '13835163608398430208'
      x-ms-file-last-write-time:
      - '2025-11-10T07:23:24.9094010Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '4'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-link-count:
      - '1'
      x-ms-mode:
      - '0664'
      x-ms-owner:
      - '3'
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-copy-source:
      - https://clitestzdhhgnjrsqgb5eull.file.core.windows.net/share5brd2bxuqw62ggebypc/diruuh5sg63mffab/src_file.txt
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:26 GMT
      x-ms-file-mode-copy-mode:
      - override
      x-ms-file-owner-copy-mode:
      - override
      x-ms-group:
      - '5'
      x-ms-mode:
      - rw-rw-rw-
      x-ms-owner:
      - '4'
      x-ms-source-allow-trailing-dot:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/dst_file2.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE202A0AEE180A"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:27 GMT
      x-ms-copy-id:
      - 6f486207-fafb-4609-8cec-63c09a106172
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2025-07-05'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:30 GMT
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"dir000004\"><MaxResults>5000</MaxResults><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>dst_file.txt</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>131072</Content-Length></Properties></File><File><Name>dst_file2.txt</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>131072</Content-Length></Properties></File><File><Name>src_file.txt</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>131072</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:31 GMT
      x-ms-file-target-file:
      - diruuh5sg63mffab/src_file.txt
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/linked_file.txt?restype=hardlink
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE202A0E1BC855"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:33 GMT
      x-ms-file-change-time:
      - '2025-11-10T07:23:33.0606165Z'
      x-ms-file-creation-time:
      - '2025-11-10T07:23:11.9911149Z'
      x-ms-file-file-type:
      - Regular
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-11-10T07:23:14.1127999Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '4'
      x-ms-link-count:
      - '2'
      x-ms-mode:
      - '0664'
      x-ms-owner:
      - '3'
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:33 GMT
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-group:
      - '7'
      x-ms-link-text:
      - target1/file1
      x-ms-meta:
      - '{''meta1'': ''value1'', ''meta2'': ''value2''}'
      x-ms-owner:
      - '6'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/link1?restype=symboliclink
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE202A0EF83848"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:34 GMT
      x-ms-file-change-time:
      - '2025-11-10T07:23:34.5052744Z'
      x-ms-file-creation-time:
      - '2025-11-10T07:23:34.5052744Z'
      x-ms-file-file-type:
      - SymLink
      x-ms-file-id:
      - '13835110831840296960'
      x-ms-file-last-write-time:
      - '2025-11-10T07:23:34.5052744Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '7'
      x-ms-mode:
      - '0777'
      x-ms-owner:
      - '6'
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 10 Nov 2025 07:23:34 GMT
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/link1?restype=symboliclink
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE202A0EF83848"'
      last-modified:
      - Mon, 10 Nov 2025 07:23:34 GMT
      x-ms-link-text:
      - target1%2Ffile1
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
version: 1
