interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-16T05:13:50.0093981Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-16T05:13:50.0093981Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:14 GMT
      x-ms-enabled-protocols:
      - NFS
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72D9FDA282"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:15 GMT
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:16 GMT
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72D9FDA282"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:15 GMT
      x-ms-access-tier:
      - Premium
      x-ms-enable-snapshot-virtual-directory-access:
      - 'true'
      x-ms-enabled-protocols:
      - NFS
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-root-squash:
      - NoRootSquash
      x-ms-share-next-allowed-quota-downgrade-time:
      - Thu, 16 Oct 2025 05:14:15 GMT
      x-ms-share-paid-bursting-enabled:
      - 'false'
      x-ms-share-provisioned-bandwidth-mibps:
      - '110'
      x-ms-share-provisioned-egress-mbps:
      - '110'
      x-ms-share-provisioned-ingress-mbps:
      - '110'
      x-ms-share-provisioned-iops:
      - '3100'
      x-ms-share-quota:
      - '100'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:17 GMT
      x-ms-group:
      - '2'
      x-ms-mode:
      - rwxr--r--
      x-ms-owner:
      - '1'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72DB88A0E2"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:18 GMT
      x-ms-file-change-time:
      - '2025-10-16T05:14:18.2158562Z'
      x-ms-file-creation-time:
      - '2025-10-16T05:14:18.2158562Z'
      x-ms-file-file-type:
      - Directory
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-16T05:14:18.2158562Z'
      x-ms-file-parent-id:
      - '1'
      x-ms-group:
      - '2'
      x-ms-mode:
      - '0744'
      x-ms-owner:
      - '1'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:18 GMT
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72DB88A0E2"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:18 GMT
      x-ms-file-change-time:
      - '2025-10-16T05:14:18.2158562Z'
      x-ms-file-creation-time:
      - '2025-10-16T05:14:18.2158562Z'
      x-ms-file-file-type:
      - Directory
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-16T05:14:18.2158562Z'
      x-ms-file-parent-id:
      - '1'
      x-ms-group:
      - '2'
      x-ms-mode:
      - '0744'
      x-ms-owner:
      - '1'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:20 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/src_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72DD256540"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:20 GMT
      x-ms-file-change-time:
      - '2025-10-16T05:14:20.9209664Z'
      x-ms-file-creation-time:
      - '2025-10-16T05:14:20.9209664Z'
      x-ms-file-file-type:
      - Regular
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-10-16T05:14:20.9209664Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '0'
      x-ms-mode:
      - '0664'
      x-ms-owner:
      - '0'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:23 GMT
      x-ms-group:
      - '3'
      x-ms-mode:
      - rw-r--r--
      x-ms-owner:
      - '2'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/src_file.txt?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72DF19D20A"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:24 GMT
      x-ms-file-change-time:
      - '2025-10-16T05:14:24.2005514Z'
      x-ms-file-creation-time:
      - '2025-10-16T05:14:20.9209664Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-10-16T05:14:22.9888789Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '3'
      x-ms-link-count:
      - '1'
      x-ms-mode:
      - '0644'
      x-ms-owner:
      - '2'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:30 GMT
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"\"><MaxResults>5000</MaxResults><DirectoryId>1</DirectoryId><Entries><Directory><Name>dir000004</Name><FileId>13835128424026341376</FileId><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-copy-source:
      - https://clitestpditdqzdc6io5r2l2.file.core.windows.net/shareegf33hyy7zgyn6wryu7/dir556xvhcm226me/src_file.txt
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:32 GMT
      x-ms-file-mode-copy-mode:
      - source
      x-ms-file-owner-copy-mode:
      - source
      x-ms-source-allow-trailing-dot:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/dst_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72E47009D1"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:33 GMT
      x-ms-copy-id:
      - 296f3f40-9f3f-4a85-bc9b-521f186f1a75
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2025-07-05'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:33 GMT
      x-ms-version:
      - '2025-07-05'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/dst_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72E47009D1"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:33 GMT
      x-ms-copy-completion-time:
      - Thu, 16 Oct 2025 05:14:33 GMT
      x-ms-copy-id:
      - 296f3f40-9f3f-4a85-bc9b-521f186f1a75
      x-ms-copy-progress:
      - 131072/131072
      x-ms-copy-source:
      - https://clitestpditdqzdc6io5r2l2.file.core.windows.net/shareegf33hyy7zgyn6wryu7/dir556xvhcm226me/src_file.txt
      x-ms-copy-status:
      - success
      x-ms-file-change-time:
      - '2025-10-16T05:14:33.1541969Z'
      x-ms-file-creation-time:
      - '2025-10-16T05:14:33.1541969Z'
      x-ms-file-file-type:
      - Regular
      x-ms-file-id:
      - '13835163608398430208'
      x-ms-file-last-write-time:
      - '2025-10-16T05:14:33.1541969Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '4'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-link-count:
      - '1'
      x-ms-mode:
      - '0664'
      x-ms-owner:
      - '3'
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-copy-source:
      - https://clitestpditdqzdc6io5r2l2.file.core.windows.net/shareegf33hyy7zgyn6wryu7/dir556xvhcm226me/src_file.txt
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:34 GMT
      x-ms-file-mode-copy-mode:
      - override
      x-ms-file-owner-copy-mode:
      - override
      x-ms-group:
      - '5'
      x-ms-mode:
      - rw-rw-rw-
      x-ms-owner:
      - '4'
      x-ms-source-allow-trailing-dot:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/dst_file2.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72E605835A"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:35 GMT
      x-ms-copy-id:
      - a0d08d57-3633-4bd8-b077-07e40c7e4d00
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2025-07-05'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:38 GMT
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share000003\"
        DirectoryPath=\"dir000004\"><MaxResults>5000</MaxResults><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>dst_file.txt</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>131072</Content-Length></Properties></File><File><Name>dst_file2.txt</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>131072</Content-Length></Properties></File><File><Name>src_file.txt</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>131072</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:39 GMT
      x-ms-file-target-file:
      - dir556xvhcm226me/src_file.txt
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/linked_file.txt?restype=hardlink
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72E90330C9"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:40 GMT
      x-ms-file-change-time:
      - '2025-10-16T05:14:40.8294601Z'
      x-ms-file-creation-time:
      - '2025-10-16T05:14:20.9209664Z'
      x-ms-file-file-type:
      - Regular
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-10-16T05:14:22.9888789Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '4'
      x-ms-link-count:
      - '2'
      x-ms-mode:
      - '0664'
      x-ms-owner:
      - '3'
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:41 GMT
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-group:
      - '7'
      x-ms-link-text:
      - target1/file1
      x-ms-meta:
      - '{''meta1'': ''value1'', ''meta2'': ''value2''}'
      x-ms-owner:
      - '6'
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/link1?restype=symboliclink
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72E9C310D1"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:42 GMT
      x-ms-file-change-time:
      - '2025-10-16T05:14:42.0869329Z'
      x-ms-file-creation-time:
      - '2025-10-16T05:14:42.0869329Z'
      x-ms-file-file-type:
      - SymLink
      x-ms-file-id:
      - '13835110831840296960'
      x-ms-file-last-write-time:
      - '2025-10-16T05:14:42.0869329Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-group:
      - '7'
      x-ms-mode:
      - '0777'
      x-ms-owner:
      - '6'
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Oct 2025 05:14:42 GMT
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000004/link1?restype=symboliclink
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE0C72E9C310D1"'
      last-modified:
      - Thu, 16 Oct 2025 05:14:42 GMT
      x-ms-link-text:
      - target1%2Ffile1
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
version: 1
