interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T09:34:14.4985568Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T09:34:14.4985568Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 09:34:40 GMT
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E08F10BA57"'
      last-modified:
      - Fri, 24 Oct 2025 09:34:41 GMT
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '87'
      x-ms-date:
      - Fri, 24 Oct 2025 09:34:41 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/readme
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0905A7FD1"'
      last-modified:
      - Fri, 24 Oct 2025 09:34:43 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T09:34:43.7013457Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:34:43.7013457Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-24T09:34:43.7013457Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 12018697020325679591*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: This directory contains test files generated by Azure CLI storage command
      module tests.
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:34:43 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-86
      x-ms-version:
      - '2025-07-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/readme?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sYGKK8OX+WLKH+2bAe4tSQ==
      etag:
      - '"0x8DE12E090FCC018"'
      last-modified:
      - Fri, 24 Oct 2025 09:34:44 GMT
      x-ms-file-last-write-time:
      - '2025-10-24T09:34:44.7646744Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:34:44 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/readme?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:005fca8e-001a-003f-48c9-442941000000\nTime:2025-10-24T09:34:45.8618744Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-07-05'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:34:45 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E09247543B"'
      last-modified:
      - Fri, 24 Oct 2025 09:34:46 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-10-24T09:34:46.9311547Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:34:46.9311547Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-10-24T09:34:46.9311547Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 7399751811990073056*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '133'
      x-ms-date:
      - Fri, 24 Oct 2025 09:34:47 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E092EE4A10"'
      last-modified:
      - Fri, 24 Oct 2025 09:34:48 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T09:34:48.0253456Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:34:48.0253456Z'
      x-ms-file-id:
      - '13835163608398430208'
      x-ms-file-last-write-time:
      - '2025-10-24T09:34:48.0253456Z'
      x-ms-file-parent-id:
      - '13835093239654252544'
      x-ms-file-permission-key:
      - 12018697020325679591*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testuaw3jpj2ioxpwwrblyqi\apple\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:34:48 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-132
      x-ms-version:
      - '2025-07-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/apple/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 9MFVa671rOW1uEoN1wNxHQ==
      etag:
      - '"0x8DE12E0938EB79D"'
      last-modified:
      - Fri, 24 Oct 2025 09:34:49 GMT
      x-ms-file-last-write-time:
      - '2025-10-24T09:34:49.0767261Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:34:49 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/apple%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:3e4a76cb-501a-0032-50c9-44e195000000\nTime:2025-10-24T09:34:50.1345494Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-07-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:28 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0ABEDA11B"'
      last-modified:
      - Fri, 24 Oct 2025 09:35:29 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-10-24T09:35:29.9640603Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:35:29.9640603Z'
      x-ms-file-id:
      - '13835150414258896896'
      x-ms-file-last-write-time:
      - '2025-10-24T09:35:29.9640603Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 7399751811990073056*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '134'
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:30 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0AC8D4C34"'
      last-modified:
      - Fri, 24 Oct 2025 09:35:31 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T09:35:31.0104628Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:35:31.0104628Z'
      x-ms-file-id:
      - '11529267822626603008'
      x-ms-file-last-write-time:
      - '2025-10-24T09:35:31.0104628Z'
      x-ms-file-parent-id:
      - '13835150414258896896'
      x-ms-file-permission-key:
      - 12018697020325679591*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testuaw3jpj2ioxpwwrblyqi\butter\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:31 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-133
      x-ms-version:
      - '2025-07-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - GDvCc9O5qnYciw1p77p0uA==
      etag:
      - '"0x8DE12E0AD32BD20"'
      last-modified:
      - Fri, 24 Oct 2025 09:35:32 GMT
      x-ms-file-last-write-time:
      - '2025-10-24T09:35:32.0946976Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:35:32 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:9cf564c9-101a-0033-19c9-44be49000000\nTime:2025-10-24T09:35:33.1765320Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-07-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:36:12 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0C5F7E4AA"'
      last-modified:
      - Fri, 24 Oct 2025 09:36:13 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-10-24T09:36:13.6520874Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:36:13.6520874Z'
      x-ms-file-id:
      - '13835077846491463680'
      x-ms-file-last-write-time:
      - '2025-10-24T09:36:13.6520874Z'
      x-ms-file-parent-id:
      - '13835150414258896896'
      x-ms-file-permission-key:
      - 7399751811990073056*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '142'
      x-ms-date:
      - Fri, 24 Oct 2025 09:36:13 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/charlie/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0C69741F8"'
      last-modified:
      - Fri, 24 Oct 2025 09:36:14 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T09:36:14.6964984Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:36:14.6964984Z'
      x-ms-file-id:
      - '13835148215235641344'
      x-ms-file-last-write-time:
      - '2025-10-24T09:36:14.6964984Z'
      x-ms-file-parent-id:
      - '13835077846491463680'
      x-ms-file-permission-key:
      - 12018697020325679591*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testuaw3jpj2ioxpwwrblyqi\butter/charlie\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:36:14 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-141
      x-ms-version:
      - '2025-07-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/butter/charlie/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Q9ObAVbTOc9s6xQptJnbsw==
      etag:
      - '"0x8DE12E0C7303DCF"'
      last-modified:
      - Fri, 24 Oct 2025 09:36:15 GMT
      x-ms-file-last-write-time:
      - '2025-10-24T09:36:15.6990927Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:36:15 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:619e4a12-401a-003e-0ac9-44769d000000\nTime:2025-10-24T09:36:16.7035102Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-07-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:37:04 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0E4D6F0D9"'
      last-modified:
      - Fri, 24 Oct 2025 09:37:05 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-10-24T09:37:05.4455001Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:37:05.4455001Z'
      x-ms-file-id:
      - '11529243633370791936'
      x-ms-file-last-write-time:
      - '2025-10-24T09:37:05.4455001Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 7399751811990073056*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:37:05 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0E5769BEC"'
      last-modified:
      - Fri, 24 Oct 2025 09:37:06 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-10-24T09:37:06.4919020Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:37:06.4919020Z'
      x-ms-file-id:
      - '16140929651798179840'
      x-ms-file-last-write-time:
      - '2025-10-24T09:37:06.4919020Z'
      x-ms-file-parent-id:
      - '11529243633370791936'
      x-ms-file-permission-key:
      - 7399751811990073056*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '139'
      x-ms-date:
      - Fri, 24 Oct 2025 09:37:06 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff/edward/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E0E616E292"'
      last-modified:
      - Fri, 24 Oct 2025 09:37:07 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T09:37:07.5422866Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:37:07.5422866Z'
      x-ms-file-id:
      - '13835073448444952576'
      x-ms-file-last-write-time:
      - '2025-10-24T09:37:07.5422866Z'
      x-ms-file-parent-id:
      - '16140929651798179840'
      x-ms-file-permission-key:
      - 12018697020325679591*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: 'Azure CLI storage command module test sample file. origin: C:\Users\ZHIYIH~1\AppData\Local\Temp\testuaw3jpj2ioxpwwrblyqi\duff/edward\file_0'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:37:07 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-138
      x-ms-version:
      - '2025-07-05'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share1/duff/edward/file_0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /sHfh7mYhFPARmGUnQqQmw==
      etag:
      - '"0x8DE12E0E6B7292E"'
      last-modified:
      - Fri, 24 Oct 2025 09:37:08 GMT
      x-ms-file-last-write-time:
      - '2025-10-24T09:37:08.5926702Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:37:08 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward%2Ffile_0?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:b049f540-b01a-0005-0ec9-443339000000\nTime:2025-10-24T09:37:09.6250667Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2025-07-05'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:37:56 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>apple</Name><FileId>13835093239654252544</FileId><Properties
        /></Directory><Directory><Name>butter</Name><FileId>13835150414258896896</FileId><Properties
        /></Directory><Directory><Name>duff</Name><FileId>11529243633370791936</FileId><Properties
        /></Directory><File><Name>readme</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>87</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:37:57 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/readme
  response:
    body:
      string: This directory contains test files generated by Azure CLI storage command
        module tests.
    headers:
      content-range:
      - bytes 0-86/87
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DE12E090FCC018"'
      last-modified:
      - Fri, 24 Oct 2025 09:34:44 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T09:34:44.7646744Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:34:43.7013457Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-24T09:34:44.7646744Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 12018697020325679591*1038665764873386345
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2025-07-05'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:37:59 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/apple?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:38:21 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.cor[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:38:43 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"share1\"
        DirectoryPath=\"duff\"><DirectoryId>11529243633370791936</DirectoryId><Entries><Directory><Name>edward</Name><FileId>16140929651798179840</FileId><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2025-07-05'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:38:44 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/butter%2Fcharlie?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest00000[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:39:06 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share1/duff%2Fedward?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.f[...]
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:41:14 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share5/some_dir?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E179AA6EA9"'
      last-modified:
      - Fri, 24 Oct 2025 09:41:15 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-10-24T09:41:15.1343273Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:41:15.1343273Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-10-24T09:41:15.1343273Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 7399751811990073056*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Fri, 24 Oct 2025 09:41:15 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share5/some_dir%2Fapple?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E17A45164F"'
      last-modified:
      - Fri, 24 Oct 2025 09:41:16 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-10-24T09:41:16.1478735Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:41:16.1478735Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-10-24T09:41:16.1478735Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 7399751811990073056*1038665764873386345
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '133'
      x-ms-date:
      - Fri, 24 Oct 2025 09:41:16 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share5/some_dir/apple/file_0
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE12E17AE88DA9"'
      last-modified:
      - Fri, 24 Oct 2025 09:41:17 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-10-24T09:41:17.2191657Z'
      x-ms-file-creation-time:
      - '2025-10-24T09:41:17.2191657Z'
      x-ms-file-id:
      - '13835163608398430208'
[...]
