interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/queue000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-02-20T15:04:57.1032617Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-02-20T15:04:57.1032617Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11979'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/queue000002?api-version=2024-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/queue000002","name":"queue000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"keyCreationTime":{"key1":"2025-02-20T15:04:57.1032617Z","key2":"2025-02-20T15:04:57.1032617Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-02-20T15:04:57.3220139Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-02-20T15:04:57.3220139Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-02-20T15:04:56.9626289Z","primaryEndpoints":{"dfs":"https://queue000002.dfs.core.windows.net/","web":"https://queue000002.z20.web.core.windows.net/","blob":"https://queue000002.blob.core.windows.net/","queue":"https://queue000002.queue.core.windows.net/","table":"https://queue000002.table.core.windows.net/","file":"https://queue000002.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://queue000002-secondary.dfs.core.windows.net/","web":"https://queue000002-secondary.z20.web.core.windows.net/","blob":"https://queue000002-secondary.blob.core.windows.net/","queue":"https://queue000002-secondary.queue.core.windows.net/","table":"https://queue000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:05:23 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://queue000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:05:25 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://queue000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '0'
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:05:27 GMT
      x-ms-meta-key1:
      - value1
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://queue000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:05:30 GMT
      x-ms-meta-newkey:
      - newvalue
      x-ms-meta-oldkey:
      - oldvalue
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://queue000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 20 Feb 2025 15:05:32 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://queue000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '0'
      x-ms-meta-newkey:
      - newvalue
      x-ms-meta-oldkey:
      - oldvalue
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
