interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-11-20T23:11:02.8068444Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-11-20T23:11:02.8068444Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 20 Nov 2023 23:11:44 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1E106487A4"'
      last-modified:
      - Mon, 20 Nov 2023 23:11:44 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-content-length:
      - '16384'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Mon, 20 Nov 2023 23:11:44 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1E108BB0FF"'
      last-modified:
      - Mon, 20 Nov 2023 23:11:45 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 20 Nov 2023 23:11:45 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1E108BB0FF"'
      last-modified:
      - Mon, 20 Nov 2023 23:11:45 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2023-11-20T23:11:45.2774646Z'
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Modified-Since:
      - Mon, 29 Jun 2020 06:32:00 GMT
      x-ms-copy-source:
      - https://clitestovw2kl6pr7lqjkist.blob.core.windows.net/contjeb5w5ehfh66pexx4yre/src?se=2023-11-21T23%3A11%3A45Z&sp=r&spr=https&sv=2018-11-09&sr=b&sig=mQQViePBfSve3TFqV8YIncXZkCzPv7mInDXaPoP6ub0%3D&snapshot=2023-11-20T23:11:45.2774646Z
      x-ms-date:
      - Mon, 20 Nov 2023 23:11:45 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=incrementalcopy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1E1127655C"'
      last-modified:
      - Mon, 20 Nov 2023 23:11:46 GMT
      x-ms-copy-id:
      - c449afe6-b2ee-4cdf-be42-8a3f408cca62
      x-ms-copy-status:
      - pending
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
