interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/share000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-02-23T09:37:48.5241606Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-02-23T09:37:48.5241606Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11982'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/share000002?api-version=2024-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/share000002","name":"share000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"keyCreationTime":{"key1":"2025-02-23T09:37:48.5241606Z","key2":"2025-02-23T09:37:48.5241606Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-02-23T09:37:48.7429115Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-02-23T09:37:48.7429115Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-02-23T09:37:48.3835394Z","primaryEndpoints":{"dfs":"https://share000002.dfs.core.windows.net/","web":"https://share000002.z20.web.core.windows.net/","blob":"https://share000002.blob.core.windows.net/","queue":"https://share000002.queue.core.windows.net/","table":"https://share000002.table.core.windows.net/","file":"https://share000002.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://share000002-secondary.dfs.core.windows.net/","web":"https://share000002-secondary.z20.web.core.windows.net/","blob":"https://share000002-secondary.blob.core.windows.net/","queue":"https://share000002-secondary.queue.core.windows.net/","table":"https://share000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:38:13 GMT
      x-ms-version:
      - '2024-08-04'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EDCBFBD996"'
      last-modified:
      - Sun, 23 Feb 2025 09:38:15 GMT
      x-ms-version:
      - '2024-08-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:38:15 GMT
      x-ms-meta:
      - '{''foo'': ''bar'', ''cat'': ''hat''}'
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2024-08-04'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EDCCCCBD24"'
      last-modified:
      - Sun, 23 Feb 2025 09:38:16 GMT
      x-ms-version:
      - '2024-08-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:38:16 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2024-08-04'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareAlreadyExists</Code><Message>The
        specified share already exists.\nRequestId:0d6b2c36-501a-0018-45d6-854d87000000\nTime:2025-02-23T09:38:17.8736713Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ShareAlreadyExists
      x-ms-version:
      - '2024-08-04'
    status:
      code: 409
      message: The specified share already exists.
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:38:18 GMT
      x-ms-version:
      - '2024-08-04'
    method: GET
    uri: https://share000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EDCCCCBD24"'
      last-modified:
      - Sun, 23 Feb 2025 09:38:16 GMT
      x-ms-access-tier:
      - TransactionOptimized
      x-ms-access-tier-change-time:
      - Sun, 23 Feb 2025 09:38:16 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-share-quota:
      - '102400'
      x-ms-version:
      - '2024-08-04'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:38:19 GMT
      x-ms-version:
      - '2024-08-04'
    method: GET
    uri: https://share000002.file.core.windows.net/?comp=list&maxresults=5000&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://share000002.file.core.windows.net/\"><MaxResults>5000</MaxResults><Shares><Share><Name>share000003</Name><Properties><Last-Modified>Sun,
        23 Feb 2025 09:38:16 GMT</Last-Modified><Etag>\"0x8DD53EDCCCCBD24\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Sun,
        23 Feb 2025 09:38:16 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share000004</Name><Properties><Last-Modified>Sun,
        23 Feb 2025 09:38:15 GMT</Last-Modified><Etag>\"0x8DD53EDCBFBD996\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Sun,
        23 Feb 2025 09:38:15 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2024-08-04'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:38:27 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2024-08-04'
    method: PUT
    uri: https://share000002.file.core.windows.net/share000004?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EDD3CA3A00"'
      last-modified:
      - Sun, 23 Feb 2025 09:38:28 GMT
      x-ms-version:
      - '2024-08-04'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 23 Feb 2025 09:38:28 GMT
      x-ms-version:
      - '2024-08-04'
    method: GET
    uri: https://share000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DD53EDD3CA3A00"'
      last-modified:
      - Sun, 23 Feb 2025 09:38:28 GMT
      x-ms-access-tier:
      - TransactionOptimized
      x-ms-access-tier-change-time:
      - Sun, 23 Feb 2025 09:38:15 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2024-08-04'
    status:
      code: 200
      message: OK
version: 1
