interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-14T09:05:50.7726899Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-14T09:05:50.7726899Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 14 May 2026 09:06:22 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB198135EFDAE"'
      last-modified:
      - Thu, 14 May 2026 09:06:25 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2026-05-14T09:06:25Z</Start><Expiry>2026-05-14T10:06:00Z</Expiry></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 14 May 2026 09:06:25 GMT
      x-ms-version:
      - '2026-04-06'
    method: POST
    uri: https://clitest000002.file.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e</SignedOid><SignedTid>54826b22-38d6-4fb2-bad9-b7b93a3e9c5a</SignedTid><SignedStart>2026-05-14T09:06:25Z</SignedStart><SignedExpiry>2026-05-14T10:06:00Z</SignedExpiry><SignedService>f</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>tmom88YZfdYPqNRICvOPuKTG9U3mqcIwAmuyLuPSYGY=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '1048576'
      x-ms-date:
      - Thu, 14 May 2026 09:06:28 GMT
      x-ms-file-request-intent:
      - backup
      x-ms-type:
      - file
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/tmp9o0kau7h?se=2026-05-14T10%3A06Z&sp=rcwdl&spr=https&sv=2026-04-06&sr=s&skoid=a7250e3a-0e5e-48e2-9a34-45f1f5e1a91e&sktid=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a&skt=2026-05-14T09%3A06%3A25Z&ske=2026-05-14T10%3A06%3A00Z&sks=f&skv=2026-04-06&sig=X26QvEHhEiI3EykT84tSoLo%2BVCUIBKnewZj1%2BoNl5zo%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB19816CB4694"'
      last-modified:
      - Thu, 14 May 2026 09:06:30 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2026-05-14T09:06:30.8755092Z'
      x-ms-file-creation-time:
      - '2026-05-14T09:06:30.8755092Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2026-05-14T09:06:30.8755092Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 5979714192187415207*18040538443735151145
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
[...]
