interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_storage_account_ipv6000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ipv6000001","name":"cli_test_storage_account_ipv6000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_storage_account_ipv6","date":"2026-01-15T06:31:37Z","module":"storage"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "sa000002", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2025-06-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "StorageV2", "location": "eastus2euap",
      "properties": {"encryption": {"services": {"blob": {}}, "keySource": "Microsoft.Storage"},
      "dualStackEndpointPreference": {"publishIpv6Endpoint": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ipv6000001/providers/Microsoft.Storage/storageAccounts/sa000002?api-version=2025-06-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/9fc0cdee-b9df-4352-9d1f-0e420b06bf2a?monitor=true&api-version=2025-06-01&t=639040555080894306&c=MIIHpDCCBoygAwIBAgITfwaB5AOw8zR78jULfgAEBoHkAzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjYwMTA5MDMxMDI2WhcNMjYwNDA5MDMxMDI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/9fc0cdee-b9df-4352-9d1f-0e420b06bf2a?monitor=true&api-version=2025-06-01&t=639040555080894306&c=MIIHpDCCBoygAwIBAgITfwaB5AOw8zR78jULfgAEBoHkAzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjYwMTA5MDMxMDI2WhcNMjYwNDA5MD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/9fc0cdee-b9df-4352-9d1f-0e420b06bf2a?monitor=true&api-version=2025-06-01&t=639040555095457726&c=MIIHpDCCBoygAwIBAgITfwaB5AOw8zR78jULfgAEBoHkAzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjYwMTA5MDMxMDI2WhcNMjYwNDA5MD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ipv6000001/providers/Microsoft.Storage/storageAccounts/sa000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ipv6000001/providers/Microsoft.Storage/storageAccounts/sa000002","name":"sa000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2euap","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"dualStackEndpointPreference":{"defaultDualStackEndpoints":false,"publishIpv4Endpoint":false,"publishIpv6Endpoint":true},"keyCreationTime":{"key1":"2026-01-15T06:31:45.3916798Z","key2":"2026-01-15T06:31:45.3916798Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-01-15T06:31:45.4073035Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-01-15T06:31:45.4073035Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2026-01-15T06:31:45.2666814Z","primaryEndpoints":{"ipv6Endpoints":{"dfs":"https://sa000002-ipv6.dfs.core.windows.net/","web":"https://sa000002-ipv6.z3.web.core.windows.net/","blob":"https://sa000002-ipv6.blob.core.windows.net/","queue":"https://sa000002-ipv6.queue.core.windows.net/","table":"https://sa000002-ipv6.table.core.windows.net/","file":"https://sa000002-ipv6.file.core.windows.net/"},"dfs":"https://sa000002.dfs.core.windows.net/","web":"https://sa000002.z3.web.core.windows.net/","blob":"https://sa000002.blob.core.windows.net/","queue":"https://sa000002.queue.core.windows.net/","table":"https://sa000002.table.core.windows.net/","file":"https://sa000002.file.core.windows.net/"},"primaryLocation":"eastus2euap","statusOfPrimary":"available","secondaryLocation":"centraluseuap","statusOfSecondary":"available","secondaryEndpoints":{"ipv6Endpoints":{"dfs":"https://sa000002-secondary-ipv6.dfs.core.windows.net/","web":"https://sa000002-secondary-ipv6.z3.web.core.windows.net/","blob":"https://sa000002-secondary-ipv6.blob.core.windows.net/","queue":"https://sa000002-secondary-ipv6.queue.core.windows.net/","table":"https://sa000002-secondary-ipv6.table.core.windows.net/"},"dfs":"https://sa000002-secondary.dfs.core.windows.net/","web":"https://sa000002-secondary.z3.web.core.windows.net/","blob":"https://sa000002-secondary.blob.core.windows.net/","queue":"https://sa000002-secondary.queue.core.windows.net/","table":"https://sa000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"networkAcls": {"bypass": "AzureServices", "virtualNetworkRules":
      [], "ipRules": [{"value": "25.1.2.3", "action": "Allow"}, {"value": "25.2.0.0/24",
      "action": "Allow"}], "ipv6Rules": [{"value": "fe00:0:0:1::92", "action": "Allow"},
      {"value": "fe00::1:0:0:1:92", "action": "Allow"}], "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_storage_account_ipv6000001/providers/Microsoft.Storage/storageAccounts/sa000002?api-version=2025-06-[...]
[...]
