interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003","name":"clitest000003","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2022-06-30T08:13:08.023Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-06-30T08:13:08.023Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"vaultUri":"https://clitest000003.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000003.vault.azure.net/keys/testkey/create?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000003.vault.azure.net/keys/testkey/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://clitest000003.vault.azure.net/keys/testkey/5e9fc753d1bd44b1b2f349ee0dc490d7","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3fgyUkDv0w0oVyilhNjQk_hYQ9TZVhUQiP4kn4DNF1H2i71_-1WHJ0mcvPzJN0FyeGFvzPGM8RtXz7GYgwIB_2A5sjIEoK6JaioCC5D5bZz9gFu0QGKqf5FuSAqvdtWorVTxWTyjo7-FPQALP_d4X9w--yicRgkOOk3aYN4SkvfS3pEZpWDnefJqZorq2IvWZyw18qqS8ZQv6omod7EOx0Suw14JwG0DXBOUjER3vCi8erzlnfYm0Bo9ABvxd6zeOFNtvJaWIq8SthKo02u98S04xf7SXgq71gQxHYyf1YE7Pho8dfXbXvu0g275MVUua5bm2LB4IOPa5OBYmmnPuQ","e":"AQAB"},"attributes":{"enabled":true,"created":1656576820,"updated":1656576820,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2021-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"southcentralus","tags":{},"properties":{"keyCreationTime":{"key1":"2022-06-30T08:12:47.2795093Z","key2":"2022-06-30T08:12:47.2795093Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-06-30T08:12:47.2795093Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-06-30T08:12:47.2795093Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2022-06-30T08:12:47.1700957Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"southcentralus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "tags": {}, "identity": {"type": "SystemAssigned"},
      "properties": {"encryption": {"services": {"blob": {"enabled": true, "keyType":
      "Account"}, "file": {"enabled": true, "keyType": "Account"}}, "keySource": "Microsoft.Storage"},
      "supportsHttpsTrafficOnly": true, "networkAcls": {"bypass": "AzureServices",
      "virtualNetworkRules": [], "ipRules": [], "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2021-09-01
  response:
    body:
      string: '{"identity":{"principalId":"c7c99daf-51f8-43f7-8cad-bb972acf4df9","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"southcentralus","tags":{},"properties":{"keyCreationTime":{"key1":"2022-06-30T08:12:47.2795093[...]
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "c7c9[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault","namespace":"Microsoft.KeyVault","authorizations":[{"applicationId":"cfa8b339-82a2-471a-a3c9-0fc0be7a4093","roleDefinitionId":"1cf9858a-28a2-4228-abba-94e606305b95"},{"applicationId":"589d5083-6f11-4d30-a62a-a4b316a14abf","roleDefinitionId":"1f7e9952-ea79-42b8-a90e-b2dabbe1c1f2"},{"applicationId":"a1b76039-a76c-499f-a2dd-846b4cc32627"}],"resourceTypes":[{"resourceType":"operations","locations":[],"apiVersions":["2022-02-01-preview","2021-11-01-preview","2021-10-01","2021-06-01-preview","2021-04-01-preview","2020-04-01-preview","2019-09-01","2018-02-14-preview","2018-02-14","2016-10-01","2015-06-01","2014-12-19-preview"],"defaultApiVersion":"2019-09-01","apiProfiles":[{"profileVersion":"2019-03-01-hybrid","apiVersion":"2016-10-01"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2016-10-01"},{"profileVersion":"2018-06-01-profile","apiVersion":"2016-10-01"}],"capabilities":"None"},{"resourceType":"checkNameAvailability","locations":[],"apiVersions":["2022-02-01-preview","2021-11-01-preview","2021-10-01","2021-06-01-preview","2021-04-01-preview","2020-04-01-preview","2019-09-01","2018-02-14-preview","2018-02-14","2016-10-01","2015-06-01"],"defaultApiVersion":"2019-09-01","apiProfiles":[{"profileVersion":"2018-06-01-profile","apiVersion":"2016-10-01"}],"capabilities":"None"},{"resourceType":"locations","locations":[],"apiVersions":["2022-02-01-preview","2021-11-01-p[...]
[...]
- request:
    body: '{"location": "southcentralus", "tags": {}, "properties": {"sku": {"family":
      "A", "name": "standard"}, "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "accessPolicies": [{"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "6b30bdc6-696a-46fb-82d7-739c2fb147b7", "permissions": {"keys": ["all"], "secrets":
      ["all"], "certificates": ["all"], "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "objectId": "c7c99daf-51f8-43f7-8cad-bb972acf4df9", "permissions": {"keys":
      ["get", "unwrapKey", "wrapKey", "recover"]}}], "enabledForDeployment": false,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 7, "vaultUri": "https://clitest000003.vault.azure.net/",
      "provisioningState": "Succeeded", "publicNetworkAccess": "Enabled", "enablePurgeProtection":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/clitest000003","name":"clitest000003","type":"Microso[...]
[...]
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "tags": {}, "properties": {"encryption":
      {"services": {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled":
      true, "keyType": "Account"}}, "keySource": "Microsoft.Keyvault", "keyvaultproperties":
      {"keyname": "testkey", "keyvaulturi": "https://clitest000003.vault.azure.net/"}},
      "supportsHttpsTrafficOnly": true, "networkAcls": {"bypass": "AzureServices",
      "virtualNetworkRules": [], "ipRules": [], "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2021-09-01
  response:
    body:
      string: '{"identity":{"principalId":"c7c99daf-51f8-43f7-8cad-bb972acf4df9","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"southcentralus","tags":{},"properties":{"keyCreationTime":{"key1":"2022-06-30T08:12:47.2795093Z","key2":"2022-06-30T08:12:47.2795093Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"keyvaultproperties":{"currentVersionedKeyIdentifier":"https://clitest000003.vault.azure.net/keys/testkey/5e9fc753d1bd44b1b2f349ee0dc490d7","lastKeyRotationTimestamp":"2022-06-30T08:13:47.5457498Z","currentVersionedKeyExpirationTimestamp":"1970-01-01T00:00:00.0000000Z","keyvaulturi":"https://clitest000003.vault.azure.net/","keyname":"testkey"},"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-06-30T08:12:47.2795093Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-06-30T08:12:47.2795093Z"}},"keySource":"Microsoft.Keyvault"},"provisioningState":"Succeeded","creationTime":"2022-06-30T08:12:47.1700957Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"southcentralus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "tags": {}, "properties": {"encryption":
      {"services": {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled":
      true, "keyType": "Account"}}, "keySource": "Microsoft.Keyvault", "keyvaultproperties":
      {"keyname": "testkey", "keyversion": "5e9fc753d1bd44b1b2f349ee0dc490d7", "keyvaulturi":
      "https://clitest000003.vault.azure.net/"}}, "supportsHttpsTrafficOnly": true,
      "networkAcls": {"bypass": "AzureServices", "virtualNetworkRules": [], "ipRules":
      [], "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccoun[...]
[...]
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000003.vault.azure.net/keys/newkey/create?api-version=7.3
  response:
    body:
      string: '{"key":{"kid":"https://clitest000003.vault.azure.net/keys/newkey/7a5fdd60616a4bbfaca92a0f11991eb6","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"00JvOTYVLlTldQ33Mjs9fyGOvJZOl67M7GwqSjsvhWad37HxDh7YkF7nb6HNC3R36TefNJnhVsqOh05xFpkUvH2BFnX-AVujKFEIulMaXshxsUbyEaufWRMEJsEONKM5fGMafLX4n2Uqiy9tY96ALQ1abQtsw0IKF22RX0o7qoCaB00dZBI0HoKbFC5osFsT6C9KfqA65wq1FYFMSsUFrFmjplIB5SWo2u4j2RIdMR4cslVgnlKVYu6DAXEj4LU7gnOTg7Jux_wUV04iLWkJ0xERb91FBwT6CWgz7t6idwgQQHIFBwWzFhCYK9v4EVBdu4AIQBgWq5cRkyE6xOHtwQ","e":"AQAB"},"attributes":{"enabled":true,"created":1656576863,"updated":1656576863,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
