interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_file_smb000001/providers/Microsoft.Storage/storageAccounts/filesmb000002/fileServices/default?api-version=2021-08-01
  response:
    body:
      string: '{"sku":{"name":"Premium_LRS","tier":"Premium"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_file_smb000001/providers/Microsoft.Storage/storageAccounts/filesmb000002/fileServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/fileServices","properties":{"protocolSettings":{"smb":{"multichannel":{"enabled":false}}},"cors":{"corsRules":[]},"shareDeleteRetentionPolicy":{"enabled":true,"days":7}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"shareDeleteRetentionPolicy": {"enabled": true, "days":
      7}, "protocolSettings": {"smb": {"multichannel": {"enabled": false}, "versions":
      "SMB2.1;SMB3.0;SMB3.1.1", "authenticationMethods": "NTLMv2;Kerberos", "kerberosTicketEncryption":
      "RC4-HMAC;AES-256", "channelEncryption": "AES-128-CCM;AES-128-GCM;AES-256-GCM"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_file_smb000001/providers/Microsoft.Storage/storageAccounts/filesmb000002/fileServices/default?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_file_smb000001/providers/Microsoft.Storage/storageAccounts/filesmb000002/fileServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/fileServices","properties":{"protocolSettings":{"smb":{"multichannel":{"enabled":false},"versions":"SMB2.1;SMB3.0;SMB3.1.1","authenticationMethods":"NTLMv2;Kerberos","kerberosTicketEncryption":"RC4-HMAC;AES-256","channelEncryption":"AES-128-CCM;AES-128-GCM;AES-256-GCM"}},"shareDeleteRetentionPolicy":{"enabled":true,"days":7}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_file_smb000001/providers/Microsoft.Storage/storageAccounts/filesmb000002/fileServices/default?api-version=2021-08-01
  response:
    body:
      string: '{"sku":{"name":"Premium_LRS","tier":"Premium"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_file_smb000001/providers/Microsoft.Storage/storageAccounts/filesmb000002/fileServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/fileServices","properties":{"protocolSettings":{"smb":{"multichannel":{"enabled":false},"versions":"SMB2.1;SMB3.0;SMB3.1.1","authenticationMethods":"NTLMv2;Kerberos","kerberosTicketEncryption":"RC4-HMAC;AES-256","channelEncryption":"AES-128-CCM;AES-128-GCM;AES-256-GCM"}},"cors":{"corsRules":[]},"shareDeleteRetentionPolicy":{"enabled":true,"days":7}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
