interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2023-11-20T23:10:35.7597196Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2023-11-20T23:10:35.7597196Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 20 Nov 2023 23:10:56 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1DF3C43724"'
      last-modified:
      - Mon, 20 Nov 2023 23:10:56 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 20 Nov 2023 23:10:56 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8DBEA1DF3C43724"'
      last-modified:
      - Mon, 20 Nov 2023 23:10:56 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 20 Nov 2023 23:10:57 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1DF42CC883"'
      last-modified:
      - Mon, 20 Nov 2023 23:10:57 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 20 Nov 2023 23:10:57 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1DF45DE37E"'
      last-modified:
      - Mon, 20 Nov 2023 23:10:57 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>l</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start><Permission
      /></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00:00Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 20 Nov 2023 23:10:58 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DBEA1DF49AE3A7"'
      last-modified:
      - Mon, 20 Nov 2023 23:10:58 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 20 Nov 2023 23:11:02 GMT
      x-ms-version:
      - '2022-11-02'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00.0000000Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00:00.0000000Z</Expiry></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test4</Id><AccessPolicy><Start>2016-01-01T00:00:00.0000000Z</Start><Expiry>2016-05-01T00:00:00.0000000Z</Expiry><Permission>rwdl</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8DBEA1DF6F14DFB"'
      last-modified:
      - Mon, 20 Nov 2023 23:11:02 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 200
      message: OK
version: 1
