interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-06-01T03:40:29.3899560Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-06-01T03:40:29.3899560Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Jun 2022 03:40:50 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA4380869B68C8"'
      last-modified:
      - Wed, 01 Jun 2022 03:40:51 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Jun 2022 03:40:52 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA438087FE0B93"'
      last-modified:
      - Wed, 01 Jun 2022 03:40:54 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-06-01T03:40:54.2794643Z'
      x-ms-file-creation-time:
      - '2022-06-01T03:40:54.2794643Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-01T03:40:54.2794643Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 15641729415249935619*12810964216267385482
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Wed, 01 Jun 2022 03:40:55 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA4380899F970E"'
      last-modified:
      - Wed, 01 Jun 2022 03:40:57 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date:
      - Wed, 01 Jun 2022 03:40:56 GMT
      x-ms-range:
      - bytes=0-524287
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WQcVkAmdId1DmJZZIzi/lQ==
      etag:
      - '"0x8DA43808A9E6ACF"'
      last-modified:
      - Wed, 01 Jun 2022 03:40:58 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Jun 2022 03:40:58 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA43808A9E6ACF"'
      last-modified:
      - Wed, 01 Jun 2022 03:40:58 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Jun 2022 03:40:59 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir1%2Fsource_file.txt?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The
        specified resource does not exist.\nRequestId:5a784acb-401a-0059-1769-75dbe7000000\nTime:2022-06-01T03:41:01.0375423Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestroqrptkvwtli6el5a.file.core.windows.net/sharevl4ivzemnafqddnl7qf/dir1/source_file.txt
      x-ms-date:
      - Wed, 01 Jun 2022 03:41:00 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA43808CFE6F2A"'
      last-modified:
      - Wed, 01 Jun 2022 03:41:02 GMT
      x-ms-copy-id:
      - 1bfe2729-8dc5-410c-80c0-85d01887473f
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Jun 2022 03:41:02 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA43808CFE6F2A"'
      last-modified:
      - Wed, 01 Jun 2022 03:41:02 GMT
      x-ms-copy-completion-time:
      - Wed, 01 Jun 2022 03:41:02 GMT
      x-ms-copy-id:
      - 1bfe2729-8dc5-410c-80c0-85d01887473f
      x-ms-copy-progress:
      - 524288/524288
      x-ms-copy-source:
      - https://clitestroqrptkvwtli6el5a.file.core.windows.net/sharevl4ivzemnafqddnl7qf/dir1/source_file.txt
      x-ms-copy-status:
      - success
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestroqrptkvwtli6el5a.file.core.windows.net/sharevl4ivzemnafqddnl7qf/dir1%5Csource_file.txt
      x-ms-date:
      - Wed, 01 Jun 2022 03:41:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA438090026388"'
      last-modified:
      - Wed, 01 Jun 2022 03:41:07 GMT
      x-ms-copy-id:
      - f9087780-2458-4d28-8961-c8c1d788e87a
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
