interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/message000002/listKeys?api-version=2022-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-11-22T13:13:58.8569772Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-11-22T13:13:58.8569772Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/message000002?api-version=2022-09-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/message000002","name":"message000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"keyCreationTime":{"key1":"2022-11-22T13:13:58.8569772Z","key2":"2022-11-22T13:13:58.8569772Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-11-22T13:13:59.5288910Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-11-22T13:13:59.5288910Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2022-11-22T13:13:58.7319489Z","primaryEndpoints":{"dfs":"https://message000002.dfs.core.windows.net/","web":"https://message000002.z20.web.core.windows.net/","blob":"https://message000002.blob.core.windows.net/","queue":"https://message000002.queue.core.windows.net/","table":"https://message000002.table.core.windows.net/","file":"https://message000002.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://message000002-secondary.dfs.core.windows.net/","web":"https://message000002-secondary.z20.web.core.windows.net/","blob":"https://message000002-secondary.blob.core.windows.net/","queue":"https://message000002-secondary.queue.core.windows.net/","table":"https://message000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Nov 2022 13:14:22 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://message000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message 1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Tue, 22 Nov 2022 13:14:23 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://message000002.queue.core.windows.net/queue000003/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6dadddf5-8e96-4b5c-a886-cfb97301d7e9</MessageId><InsertionTime>Tue,
        22 Nov 2022 13:14:24 GMT</InsertionTime><ExpirationTime>Tue, 29 Nov 2022 13:14:24
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0geJV3T+2AE=</PopReceipt><TimeNextVisible>Tue,
        22 Nov 2022 13:14:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message 2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Tue, 22 Nov 2022 13:14:24 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://message000002.queue.core.windows.net/queue000003/messages?visibilitytimeout=3600
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>58eef9dc-327b-4c79-8f0a-3e3a59a660e6</MessageId><InsertionTime>Tue,
        22 Nov 2022 13:14:25 GMT</InsertionTime><ExpirationTime>Tue, 29 Nov 2022 13:14:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA64QMunz+2AE=</PopReceipt><TimeNextVisible>Tue,
        22 Nov 2022 14:14:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message 3</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Tue, 22 Nov 2022 13:14:25 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://message000002.queue.core.windows.net/queue000003/messages?messagettl=3600
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fbe1cda5-c785-4902-a68f-f666551ed3d3</MessageId><InsertionTime>Tue,
        22 Nov 2022 13:14:28 GMT</InsertionTime><ExpirationTime>Tue, 22 Nov 2022 14:14:28
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAQcr0WXT+2AE=</PopReceipt><TimeNextVisible>Tue,
        22 Nov 2022 13:14:28 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Nov 2022 13:14:28 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6dadddf5-8e96-4b5c-a886-cfb97301d7e9</MessageId><InsertionTime>Tue,
        22 Nov 2022 13:14:24 GMT</InsertionTime><ExpirationTime>Tue, 29 Nov 2022 13:14:24
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message
        1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Nov 2022 13:14:30 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6dadddf5-8e96-4b5c-a886-cfb97301d7e9</MessageId><InsertionTime>Tue,
        22 Nov 2022 13:14:24 GMT</InsertionTime><ExpirationTime>Tue, 29 Nov 2022 13:14:24
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message
        1</MessageText></QueueMessage><QueueMessage><MessageId>fbe1cda5-c785-4902-a68f-f666551ed3d3</MessageId><InsertionTime>Tue,
        22 Nov 2022 13:14:28 GMT</InsertionTime><ExpirationTime>Tue, 22 Nov 2022 14:14:28
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message
        3</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Nov 2022 13:14:31 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6dadddf5-8e96-4b5c-a886-cfb97301d7e9</MessageId><InsertionTime>Tue,
        22 Nov 2022 13:14:24 GMT</InsertionTime><ExpirationTime>Tue, 29 Nov 2022 13:14:24
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0b0UbnT+2AE=</PopReceipt><TimeNextVisible>Tue,
        22 Nov 2022 13:15:02 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test
        message 1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Nov 2022 13:14:32 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?numofmessages=1&visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fbe1cda5-c785-4902-a68f-f666551ed3d3</MessageId><InsertionTime>Tue,
        22 Nov 2022 13:14:28 GMT</InsertionTime><ExpirationTime>Tue, 22 Nov 2022 14:14:28
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAdWXhbnT+2AE=</PopReceipt><TimeNextVisible>Tue,
        22 Nov 2022 13:15:03 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test
        message 3</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Tue, 22 Nov 2022 13:15:10 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://message000002.queue.core.windows.net/queue000003/messages/6dadddf5-8e96-4b5c-a886-cfb97301d7e9?popreceipt=AgAAAAMAAAAAAAAA1xaQhHT%2B2AE%3D&visibilitytimeout=10
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAUJloeXT+2AECAAAA
      x-ms-time-next-visible:
      - Tue, 22 Nov 2022 13:15:21 GMT
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Nov 2022 13:15:12 GMT
      x-ms-version:
      - '2021-02-12'
    method: DELETE
    uri: https://message000002.queue.core.windows.net/queue000003/messages/fbe1cda5-c785-4902-a68f-f666551ed3d3?popreceipt=AwAAAAMAAAAAAAAAi0IydHT%2B2AECAAAA
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Nov 2022 13:15:26 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=2
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
