interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-02-23T03:48:34.3064286Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-02-23T03:48:34.3064286Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:48:56 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F6BCE8C3C"'
      last-modified:
      - Wed, 23 Feb 2022 03:48:57 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:48:59 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F6D40C815"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:00 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:01 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F6EB55726"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:02 GMT
      x-ms-range:
      - bytes=0-524287
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WQcVkAmdId1DmJZZIzi/lQ==
      etag:
      - '"0x8D9F67F6F9E8387"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:04 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9F67F6F9E8387"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:04 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F6BCE8C3C"'
      last-modified:
      - Wed, 23 Feb 2022 03:48:57 GMT
      x-ms-snapshot:
      - '2022-02-23T03:49:06.0000000Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestc7lxaotw3zgq563qq.file.core.windows.net/shareb7qnlrqlc6ilq3yke5r/dir1%5Csource_file.txt?sharesnapshot=2022-02-23T03:49:06.0000000Z
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:09 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9F67F7394CB8F"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:11 GMT
      x-ms-copy-id:
      - 554d782b-b5e3-43f2-bc2b-5686f926427d
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 23 Feb 2022 03:49:10 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9F67F7394CB8F"'
      last-modified:
      - Wed, 23 Feb 2022 03:49:11 GMT
      x-ms-copy-completion-time:
      - Wed, 23 Feb 2022 03:49:10 GMT
      x-ms-copy-id:
      - 554d782b-b5e3-43f2-bc2b-5686f926427d
      x-ms-copy-progress:
      - 524288/524288
      x-ms-copy-source:
      - https://clitestc7lxaotw3zgq563qq.file.core.windows.net/shareb7qnlrqlc6ilq3yke5r/dir1%5Csource_file.txt?sharesnapshot=2022-02-23T03:49:06.0000000Z
      x-ms-copy-status:
      - success
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
