interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/message000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-10-24T10:00:15.3588331Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-10-24T10:00:15.3588331Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/message000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Storage/storageAccounts/message000002","name":"message000002","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2025-10-24T10:00:15.3588331Z","key2":"2025-10-24T10:00:15.3588331Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-10-24T10:00:15.3744640Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-10-24T10:00:15.3744640Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-10-24T10:00:15.1713354Z","primaryEndpoints":{"dfs":"https://message000002.dfs.core.windows.net/","web":"https://message000002.z20.web.core.windows.net/","blob":"https://message000002.blob.core.windows.net/","queue":"https://message000002.queue.core.windows.net/","table":"https://message000002.table.core.windows.net/","file":"https://message000002.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available","secondaryLocation":"centralus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://message000002-secondary.dfs.core.windows.net/","web":"https://message000002-secondary.z20.web.core.windows.net/","blob":"https://message000002-secondary.blob.core.windows.net/","queue":"https://message000002-secondary.queue.core.windows.net/","table":"https://message000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:43 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://message000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message 1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:44 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://message000002.queue.core.windows.net/queue000003/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8bae4c2e-916f-45a6-abcf-d2c6f378e965</MessageId><InsertionTime>Fri,
        24 Oct 2025 10:00:45 GMT</InsertionTime><ExpirationTime>Fri, 31 Oct 2025 10:00:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAew0HEc1E3AE=</PopReceipt><TimeNextVisible>Fri,
        24 Oct 2025 10:00:45 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message 2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:46 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://message000002.queue.core.windows.net/queue000003/messages?visibilitytimeout=3600
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2b09f5a2-76cb-48dc-850b-df2ef507e8a1</MessageId><InsertionTime>Fri,
        24 Oct 2025 10:00:47 GMT</InsertionTime><ExpirationTime>Fri, 31 Oct 2025 10:00:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAnbqWc9VE3AE=</PopReceipt><TimeNextVisible>Fri,
        24 Oct 2025 11:00:47 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message 3</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:47 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://message000002.queue.core.windows.net/queue000003/messages?messagettl=3600
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f2cf3a3c-065a-4490-a8a1-dc5b4b397ab3</MessageId><InsertionTime>Fri,
        24 Oct 2025 10:00:48 GMT</InsertionTime><ExpirationTime>Fri, 24 Oct 2025 11:00:48
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAGJnBEs1E3AE=</PopReceipt><TimeNextVisible>Fri,
        24 Oct 2025 10:00:48 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:49 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8bae4c2e-916f-45a6-abcf-d2c6f378e965</MessageId><InsertionTime>Fri,
        24 Oct 2025 10:00:45 GMT</InsertionTime><ExpirationTime>Fri, 31 Oct 2025 10:00:45
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message
        1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:50 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8bae4c2e-916f-45a6-abcf-d2c6f378e965</MessageId><InsertionTime>Fri,
        24 Oct 2025 10:00:45 GMT</InsertionTime><ExpirationTime>Fri, 31 Oct 2025 10:00:45
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message
        1</MessageText></QueueMessage><QueueMessage><MessageId>f2cf3a3c-065a-4490-a8a1-dc5b4b397ab3</MessageId><InsertionTime>Fri,
        24 Oct 2025 10:00:48 GMT</InsertionTime><ExpirationTime>Fri, 24 Oct 2025 11:00:48
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message
        3</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:51 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8bae4c2e-916f-45a6-abcf-d2c6f378e965</MessageId><InsertionTime>Fri,
        24 Oct 2025 10:00:45 GMT</InsertionTime><ExpirationTime>Fri, 31 Oct 2025 10:00:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAocoAJ81E3AE=</PopReceipt><TimeNextVisible>Fri,
        24 Oct 2025 10:01:22 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test
        message 1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:00:53 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?numofmessages=1&visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f2cf3a3c-065a-4490-a8a1-dc5b4b397ab3</MessageId><InsertionTime>Fri,
        24 Oct 2025 10:00:48 GMT</InsertionTime><ExpirationTime>Fri, 24 Oct 2025 11:00:48
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAUErSJ81E3AE=</PopReceipt><TimeNextVisible>Fri,
        24 Oct 2025 10:01:24 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test
        message 3</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 24 Oct 2025 10:01:30 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://message000002.queue.core.windows.net/queue000003/messages/8bae4c2e-916f-45a6-abcf-d2c6f378e965?popreceipt=AgAAAAMAAAAAAAAARct6Pc1E3AE%3D&visibilitytimeout=10
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAA3VRYMs1E3AECAAAA
      x-ms-time-next-visible:
      - Fri, 24 Oct 2025 10:01:41 GMT
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:01:33 GMT
      x-ms-version:
      - '2021-02-12'
    method: DELETE
    uri: https://message000002.queue.core.windows.net/queue000003/messages/f2cf3a3c-065a-4490-a8a1-dc5b4b397ab3?popreceipt=AwAAAAMAAAAAAAAAA1ssLc1E3AECAAAA
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Oct 2025 10:01:47 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://message000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=2
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
