interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-09-28T09:07:26.5981714Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-09-28T09:07:26.5981714Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 28 Sep 2025 09:07:51 GMT
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDFE6E818A5F2B"'
      last-modified:
      - Sun, 28 Sep 2025 09:07:52 GMT
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-date:
      - Sun, 28 Sep 2025 09:07:54 GMT
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDFE6E83106051"'
      last-modified:
      - Sun, 28 Sep 2025 09:07:55 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2025-09-28T09:07:55.5224657Z'
      x-ms-file-creation-time:
      - '2025-09-28T09:07:55.5224657Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2025-09-28T09:07:55.5224657Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 16128331156951717371*13188916507433976434
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-allow-trailing-dot:
      - 'true'
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Sun, 28 Sep 2025 09:07:57 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2025-07-05'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DDFE6E84AE35C8"'
      last-modified:
      - Sun, 28 Sep 2025 09:07:58 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2025-09-28T09:07:58.2345672Z'
      x-ms-file-creation-time:
      - '2025-09-28T09:07:58.2345672Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2025-09-28T09:07:58.2345672Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 2281242458908961532*13188916507433976434
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2025-07-05'
    status:
      code: 201
      message: Created
[...]
