interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:53:47 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8093658996489"'
      last-modified:
      - Fri, 05 Jun 2020 09:53:49 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:53:51 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8093658996489"'
      last-modified:
      - Fri, 05 Jun 2020 09:53:49 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:53:54 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\"><Containers><Container><Name>filesystem000003</Name><Properties><Last-Modified>Fri,
        05 Jun 2020 09:53:49 GMT</Last-Modified><Etag>\"0x8D8093658996489\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:53:55 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D809365D810501"'
      last-modified:
      - Fri, 05 Jun 2020 09:53:57 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:53:58 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/directory000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D809365D810501"'
      last-modified:
      - Fri, 05 Jun 2020 09:53:57 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 05 Jun 2020 09:53:57 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:54:00 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/directory000004?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D809365D810501"'
      last-modified:
      - Fri, 05 Jun 2020 09:53:57 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-group:
      - 21cd756e-e290-4a26-9547-93e8cc1a8923
      x-ms-owner:
      - 21cd756e-e290-4a26-9547-93e8cc1a8923
      x-ms-permissions:
      - rwxr-x---
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:54:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D809365D810501","group":"21cd756e-e290-4a26-9547-93e8cc1a8923","isDirectory":"true","lastModified":"Fri,
        05 Jun 2020 09:53:57 GMT","name":"directory000004","owner":"21cd756e-e290-4a26-9547-93e8cc1a8923","permissions":"rwxr-x---"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:54:04 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D80936621428BA"'
      last-modified:
      - Fri, 05 Jun 2020 09:54:05 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:54:05 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D80936621428BA"'
      last-modified:
      - Fri, 05 Jun 2020 09:54:05 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 05 Jun 2020 09:54:05 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Fri, 05 Jun 2020 09:54:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?position=1024&action=flush
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8093663D86280"'
      last-modified:
      - Fri, 05 Jun 2020 09:54:08 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:54:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003?recursive=true&maxResults=5000&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D809365D810501","group":"21cd756e-e290-4a26-9547-93e8cc1a8923","isDirectory":"true","lastModified":"Fri,
        05 Jun 2020 09:53:57 GMT","name":"directory000004","owner":"21cd756e-e290-4a26-9547-93e8cc1a8923","permissions":"rwxr-x---"},{"contentLength":"1024","etag":"0x8D8093663D86280","group":"21cd756e-e290-4a26-9547-93e8cc1a8923","lastModified":"Fri,
        05 Jun 2020 09:54:08 GMT","name":"file000005","owner":"21cd756e-e290-4a26-9547-93e8cc1a8923","permissions":"rw-r-----"}]}

        '
    headers:
      content-type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:54:14 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/file000005?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8093663D86280"'
      last-modified:
      - Fri, 05 Jun 2020 09:54:08 GMT
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-group:
      - 21cd756e-e290-4a26-9547-93e8cc1a8923
      x-ms-owner:
      - 21cd756e-e290-4a26-9547-93e8cc1a8923
      x-ms-permissions:
      - rw-r-----
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 05 Jun 2020 09:54:16 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/file000005
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
