interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-06-10T09:20:21.2654700Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-06-10T09:20:21.2654700Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Jun 2022 09:20:43 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA4AC27F6A7B75"'
      last-modified:
      - Fri, 10 Jun 2022 09:20:44 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Jun 2022 09:20:46 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA4AC280D5FE9D"'
      last-modified:
      - Fri, 10 Jun 2022 09:20:47 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-06-10T09:20:47.1965341Z'
      x-ms-file-creation-time:
      - '2022-06-10T09:20:47.1965341Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-10T09:20:47.1965341Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 3769761695665011835*6668639563371981810
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Fri, 10 Jun 2022 09:20:48 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA4AC28254EBE8"'
      last-modified:
      - Fri, 10 Jun 2022 09:20:49 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date:
      - Fri, 10 Jun 2022 09:20:49 GMT
      x-ms-range:
      - bytes=0-524287
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WQcVkAmdId1DmJZZIzi/lQ==
      etag:
      - '"0x8DA4AC2832E89F3"'
      last-modified:
      - Fri, 10 Jun 2022 09:20:51 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Jun 2022 09:20:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA4AC2832E89F3"'
      last-modified:
      - Fri, 10 Jun 2022 09:20:51 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestbiaychuotin3klvb2.file.core.windows.net/share2dhsnjxlp33zwpvq4ht/dir1/source_file.txt
      x-ms-date:
      - Fri, 10 Jun 2022 09:20:52 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2%5Cdestination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA4AC284D1C2BD"'
      last-modified:
      - Fri, 10 Jun 2022 09:20:53 GMT
      x-ms-copy-id:
      - 2ebdd813-e941-4526-8d2d-4cf7a944a017
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Jun 2022 09:20:54 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA4AC284D1C2BD"'
      last-modified:
      - Fri, 10 Jun 2022 09:20:53 GMT
      x-ms-copy-completion-time:
      - Fri, 10 Jun 2022 09:20:53 GMT
      x-ms-copy-id:
      - 2ebdd813-e941-4526-8d2d-4cf7a944a017
      x-ms-copy-progress:
      - 524288/524288
      x-ms-copy-source:
      - https://clitestbiaychuotin3klvb2.file.core.windows.net/share2dhsnjxlp33zwpvq4ht/dir1/source_file.txt
      x-ms-copy-status:
      - success
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestbiaychuotin3klvb2.file.core.windows.net/share2dhsnjxlp33zwpvq4ht/dir1%5Csource_file.txt
      x-ms-date:
      - Fri, 10 Jun 2022 09:20:58 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2%5Cdestination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA4AC287F1C651"'
      last-modified:
      - Fri, 10 Jun 2022 09:20:59 GMT
      x-ms-copy-id:
      - 743ed416-da20-4bc8-9827-618f910a56a2
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
version: 1
