interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/usages?api-version=2025-01-01
  response:
    body:
      string: '{"value":[{"unit":"Count","currentValue":7,"limit":250,"name":{"value":"StorageAccounts","localizedValue":"Storage
        Accounts"}}]}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
version: 1
