interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2021-09-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-06-09T05:23:36.4545721Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-06-09T05:23:36.4545721Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:23:58 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49D8422CCEB2"'
      last-modified:
      - Thu, 09 Jun 2022 05:23:59 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:01 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49D843F74CB1"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:02 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-06-09T05:24:02.8390577Z'
      x-ms-file-creation-time:
      - '2022-06-09T05:24:02.8390577Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-06-09T05:24:02.8390577Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 94417468785633637*7607800382476304108
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '524288'
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:04 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49D845A707A1"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:05 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:05 GMT
      x-ms-range:
      - bytes=0-524287
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - WQcVkAmdId1DmJZZIzi/lQ==
      etag:
      - '"0x8DA49D846A5B4DD"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:07 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:07 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA49D846A5B4DD"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:07 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-09T05:24:07.3374941Z'
      x-ms-file-creation-time:
      - '2022-06-09T05:24:05.6684449Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-06-09T05:24:07.3374941Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 13921961677763991138*7607800382476304108
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49D8422CCEB2"'
      last-modified:
      - Thu, 09 Jun 2022 05:23:59 GMT
      x-ms-snapshot:
      - '2022-06-09T05:24:09.0000000Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:11 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2021-06-08'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestwobqmng6jbhkvpnhj.file.core.windows.net/sharefcbyixnkhpspaq3tnix/dir1%5Csource_file.txt?sharesnapshot=2022-06-09T05:24:09.0000000Z
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:12 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA49D84A82FAEE"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:13 GMT
      x-ms-copy-id:
      - ba28df09-1ed9-4f4f-984c-5bd76db000ef
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Jun 2022 05:24:14 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA49D84A82FAEE"'
      last-modified:
      - Thu, 09 Jun 2022 05:24:13 GMT
      x-ms-copy-completion-time:
      - Thu, 09 Jun 2022 05:24:13 GMT
      x-ms-copy-id:
      - ba28df09-1ed9-4f4f-984c-5bd76db000ef
      x-ms-copy-progress:
      - 524288/524288
      x-ms-copy-source:
      - https://clitestwobqmng6jbhkvpnhj.file.core.windows.net/sharefcbyixnkhpspaq3tnix/dir1%5Csource_file.txt?sharesnapshot=2022-06-09T05:24:09.0000000Z
      x-ms-copy-status:
      - success
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-06-09T05:24:07.3374941Z'
      x-ms-file-creation-time:
      - '2022-06-09T05:24:13.8207982Z'
      x-ms-file-id:
      - '13835093239654252544'
      x-ms-file-last-write-time:
      - '2022-06-09T05:24:07.3374941Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 13921961677763991138*7607800382476304108
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
version: 1
