interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2022-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2022-08-19T02:51:24.6601763Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2022-08-19T02:51:24.6601763Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Aug 2022 02:52:12 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA818DD186FCD9"'
      last-modified:
      - Fri, 19 Aug 2022 02:52:13 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-content-length:
      - '16384'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 19 Aug 2022 02:52:13 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA818DD2247F84"'
      last-modified:
      - Fri, 19 Aug 2022 02:52:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Aug 2022 02:52:14 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA818DD2247F84"'
      last-modified:
      - Fri, 19 Aug 2022 02:52:14 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2022-08-19T02:52:15.2639752Z'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      If-Modified-Since:
      - Mon, 29 Jun 2020 06:32:00 GMT
      x-ms-copy-source:
      - https://clitestgc7nwchshoxvjg5lr.blob.core.windows.net/contqrem5aidegrccuui4wi2/src?se=2022-08-20T02%3A52%3A17Z&sp=r&spr=https&sv=2018-11-09&sr=b&sig=6E8ZoKhVlHFr2jKdO1QWmNn5nceLXJPQIYLmQBPFOd4%3D&snapshot=2022-08-19T02:52:15.2639752Z
      x-ms-date:
      - Fri, 19 Aug 2022 02:52:17 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=incrementalcopy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA818DD48905E4"'
      last-modified:
      - Fri, 19 Aug 2022 02:52:18 GMT
      x-ms-copy-id:
      - ff557a3f-a055-43e6-bfe6-0e01de25bde6
      x-ms-copy-status:
      - pending
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
