interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-08-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2026-05-17T10:04:36.0188727Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2026-05-17T10:04:36.0188727Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 17 May 2026 10:05:05 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/filesystem000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB3FBC60C7B90"'
      last-modified:
      - Sun, 17 May 2026 10:05:07 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Zhiyi
        Huang","givenName":null,"jobTitle":null,"mail":"test@example.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"test@example.com#EXT#@azclitools20260430.onmicrosoft.com","id":"7c1fae93-9490-4ea9-ad13-1c6792d577ec"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF000011F0"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 17 May 2026 10:05:09 GMT
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/testdir/subdir/file1?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB3FBC8A294D8"'
      last-modified:
      - Sun, 17 May 2026 10:05:11 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <KeyInfo><Start>2026-05-17T10:05:12Z</Start><Expiry>2026-05-17T11:05:00Z</Expiry><DelegatedUserTid>544a7a2e-697f-487c-b2b0-a13df7f346b6</DelegatedUserTid></KeyInfo>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Sun, 17 May 2026 10:05:12 GMT
      x-ms-version:
      - '2026-04-06'
    method: POST
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=userdelegationkey
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>7c1fae93-9490-4ea9-ad13-1c6792d577ec</SignedOid><SignedTid>544a7a2e-697f-487c-b2b0-a13df7f346b6</SignedTid><SignedStart>2026-05-17T10:05:12Z</SignedStart><SignedExpiry>2026-05-17T11:05:00Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><SignedDelegatedUserTid>544a7a2e-697f-487c-b2b0-a13df7f346b6</SignedDelegatedUserTid><Value>/dmpnpTqor0HMZB/R13DJSnkBC2iGMQIRK/b1KC5K+w=</Value></UserDelegationKey>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 17 May 2026 10:05:14 GMT
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/filesystem000003/testdir/subdir/file1?se=2026-05-17T11%3A05Z&sp=rwdlop&spr=https&sv=2026-04-06&sduoid=7c1fae93-9490-4ea9-ad13-1c6792d577ec&sr=b&skoid=7c1fae93-9490-4ea9-ad13-1c6792d577ec&sktid=544a7a2e-697f-487c-b2b0-a13df7f346b6&skt=2026-05-17T10%3A05%3A12Z&ske=2026-05-17T11%3A05%3A00Z&sks=b&skv=2026-04-06&skdutid=544a7a2e-697f-487c-b2b0-a13df7f346b6&sig=TyYer4KuQwnJrDVdRX2nB4%2ByRQz1c2Mq%2F9zuQHeyMxQ%3D
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DEB3FBC8A294D8"'
      last-modified:
      - Sun, 17 May 2026 10:05:11 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 17 May 2026 10:05:11 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: '!!! The request body has been omitted from the recording because its size
      1048576 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sun, 17 May 2026 10:05:16 GMT
      x-ms-version:
      - '2026-04-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/testdir/subdir/file1?action=append&position=0&se=2026-05-17T11%3A05Z&sp=rwdlop&spr=https&sv=2026-04-06&sduoid=7c1fae93-9490-4ea9-ad13-1c6792d577ec&sr=b&skoid=7c1fae93-9490-4ea9-ad13-1c6792d577ec&sktid=544a7a2e-697f-487c-b2b0-a13df7f346b6&skt=2026-05-17T10%3A05%3A12Z&ske=2026-05-17T11%3A05%3A00Z&sks=b&skv=2026-04-06&skdutid=544a7a2e-697f-487c-b2b0-a13df7f346b6&sig=TyYer4KuQwnJrDVdRX2nB4%2ByRQz1c2Mq%2F9zuQHeyMxQ%3D
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '*'
      x-ms-date:
      - Sun, 17 May 2026 10:05:19 GMT
      x-ms-version:
      - '2026-04-06'
    method: PATCH
    uri: https://clitest000002.dfs.core.windows.net/filesystem000003/testdir/subdir/file1?action=flush&position=1048576&close=true&se=2026-05-17T11%3A05Z&sp=rwdlop&spr=https&sv=2026-04-06&sduoid=7c1fae93-9490-4ea9-ad13-1c6792d577ec&sr=b&skoid=7c1fae93-9490-4ea9-ad13-1c6792d577ec&sktid=544a7a2e-697f-487c-b2b0-a13df7f346b6&skt=2026-05-17T10%3A05%3A12Z&ske=2026-05-17T11%3A05%3A00Z&sks=b&skv=2026-04-06&skdutid=544a7a2e-697f-487c-b2b0-a13df7f346b6&sig=TyYer4KuQwnJrDVdRX2nB4%2ByRQz1c2Mq%2F9zuQHeyMxQ%3D
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DEB3FBCE93D058"'
      last-modified:
      - Sun, 17 May 2026 10:05:21 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
version: 1
